<script>
// Core
import { mapState } from "vuex"
// Enum
import { AUDIT_RESULT_TYPES } from "@/common/constants"

export default {
	name: "AuditResultTypes",
	computed: {
		...mapState({
			resultTypeList: state => state.auditCheckupDetail.resultTypeList
		})
	},
	data: () => ({
		AUDIT_RESULT_TYPES,
	}),
	methods: {
		async changeType(item) {
			if (this.$route.query.type !== item.type){
				await this.$router.replace({
					query: {
						...this.$route.query,
						type: item.type
					}
				})
				this.resultTypeList.forEach(i => i.active = i.id === item.id)
				this.$emit('emit:onChangeType', item)
			}
		}
	},
	async mounted  () {
		if (!this.$route.query.type){
			await this.$router.replace({
				query: {
					...this.$route.query,
					type: AUDIT_RESULT_TYPES.FLAW
				}
			})
		}

		this.resultTypeList.forEach(i => i.active = i.type === this.$route.query.type)
	}
}
</script>

<template>
	<div class="audit-result-types d-flex gap-x-5 align-center mb-5">
		<div
			v-for="item in resultTypeList"
			:key="item.id"
			class="d-flex align-center gap-x-1 border-all rounded-80 pointer p-relative px-3 py-2"
			:class="item.active ? 'bg-primary-500' : 'bg-greyscale-50'"
			@click="changeType(item)"
		>
			<base-iconify
				:icon="item.icon"
				:class="item.active ? 'text-white' : 'text-greyscale-500'"
			/>

			<span
				class="small-2 font-500"
				:class="item.active ? 'text-white' : 'text-greyscale-700'"
			>
				{{ $t(item.label) }}
			</span>

			<div
				v-if="item.count"
				class="d-flex justify-center align-center p-absolute h-6 rounded-50 bg-critic-500 border-all-2 pa-1"
				style="top: -12px; right: -4px; min-width: 24px"
			>
				<span class="text-white small-3 font-600">{{ item.count }}</span>
			</div>
		</div>
	</div>
</template>

<style scoped>

</style>