<script>
// Core
import {mapActions, mapGetters} from "vuex"
import {required} from "vuelidate/lib/validators"
// Utils
import { resetModel } from "@/common/helpers"
// Enums
import {FORM_TYPES} from "@/common/enums/notificationTypes"
import {AUDIT_CHECKUP_TYPES} from "@/common/constants"

export default {
  name: "CheckupFormModal",
  props: {
    value: {
      type: Boolean
    },
    checkupType: {
      type: String,
      default: AUDIT_CHECKUP_TYPES.DEPARTMENT
    }
  },
  data:() => ({
    FORM_TYPES,
    AUDIT_CHECKUP_TYPES,
    buttonLoading: false,
    model: {
      type: null,
      group: null,
      deadline: null,
      __group: null
    },
    formType: FORM_TYPES.CREATE,
    checkupId: null
  }),
  validations: {
    model: {
      __group: { required },
      deadline: { required }
    }
  },
  computed: {
    dialog: {
      get() {
        return this.value
      },
      set(value) {
        this.$emit("input", value)
      }
    },
	  minDate() {
			if (this.formType === FORM_TYPES.CREATE) {
				return new Date().toISOString()
			} else {
				return new Date(this.model.deadline).toISOString()
			}
	  }
  },
  methods: {
    ...mapActions({
      actionCreateCheckup: 'auditCheckup/actionCreateCheckup',
	    actionUpdateCheckup: 'auditCheckup/actionUpdateCheckup'
    }),
    /** **/
    onSend() {
      this.$v.$touch()
      if (this.$v.$invalid) return

      let model = {
        group: this.model.__group.id,
        deadline: `${this.model.deadline}T18:00:00+05:00`,
        type: this.checkupType
      }
      if (this.formType === FORM_TYPES.CREATE) {
        this.create(model)
      } else {
        this.update(model)
      }
    },
    /** **/
    onCancel() {
			resetModel(this.model)
	    this.$v.$reset()
    },
    /** **/
    create(model) {
      this.buttonLoading = true
      this.actionCreateCheckup(model)
        .then(res => {
          this.$emit('emit:onSuccess')
          this.$toast.success(this.$t('checkup-created'))
        })
	      .catch(err => {
		      console.error(err)
	      })
        .finally(() => {
          this.buttonLoading = false
          this.dialog = false
          resetModel(this.model)
          this.$v.$reset()
        })
    },
    /** **/
    update(model) {
	    this.buttonLoading = true
	    this.actionUpdateCheckup({ id: this.checkupId, body: model })
		    .then(res => {
			    this.$emit('emit:onSuccess')
			    this.$toast.success(this.$t('checkup-updated'))
		    })
		    .catch(err => {
					console.error(err)
		    })
		    .finally(() => {
			    this.buttonLoading = false
			    this.dialog = false
			    resetModel(this.model)
			    this.$v.$reset()
		    })
    }
  }
}
</script>

<template>
  <div class="checkup-form-modal-component">
    <base-modal
        v-model="dialog"
        persistent
        width="555"
        :button-loading="buttonLoading"
        :label="formType === FORM_TYPES.CREATE ? 'create-auditor-checkup' : 'update-auditor-checkup'"
        :success-button-label="formType === FORM_TYPES.CREATE ? 'equipments.views.resolution-content.create' : 'control-tasks.tasks.edit'"
        @emit:onSend="onSend"
        @emit:onCancel="onCancel"
    >
      <div class="d-flex flex-column gap-y-6 w-100">
        <base-auto-complete
          v-model="$v.model.__group.$model"
          :error="$v.model.__group.$error"
          api-list-url="/audit/groups/"
          :api-params="{
                        page_size: 50
                      }"
          item-text="name"
          list-type="list"
          label="select-group"
          return-object
          cache-items
          :disabled="formType === FORM_TYPES.UPDATE"
          :placeholder="$t('select-group')"
        />

        <base-date-picker
          v-model="$v.model.deadline.$model"
          :error="$v.model.deadline.$error"
          label="deadline"
          clearable
          :min="minDate"
        />
      </div>
    </base-modal>
  </div>
</template>

<style scoped>

</style>