<script>
// Components
import CommentInput from "./CommentInput.vue"
import CommentItem from "./CommentItem.vue"

export default {
	name: "CommentItem",
	components: {
		CommentInput,
		CommentItem
	},
	props: {
		item: {
			type: Object,
			default: null
		},
		isAuditCompleted: {
			type: Boolean,
			default: false
		}
	},
	data: () => ({
		isRepliesOpen: true
	}),
	computed: {
		author() {
			return this.item?.created_by
		}
	},
	methods: {
		onReplyOpen(item) {
			this.$store.state.auditComment.repliedToId = item.id
			this.$store.state.auditComment.isReplying = true

			setTimeout(() => {
				const { commentInput } = this.$refs
				commentInput.focus()
			}, 100)
		},
		/** **/
		toggleRepliesOpen(){
			this.isRepliesOpen = !this.isRepliesOpen
		}
	}
}
</script>

<template>
	<div class="d-flex flex-column gap-y-1">
		<div class="comment-item-component d-flex border-all rounded-12 px-5 py-4 bg-greyscale-50 gap-x-4">
			<div
				class="d-flex align-center justify-center w-9 h-9 rounded-50 text-white small-2 font-600"
				:style="{ background: author && author.color }"
			>
				{{ author && author.last_name | getFirstCharacterWithoutDot }}
			</div>

			<div class="d-flex flex-column">
				<div class="d-flex align-center gap-x-2">
					<span class="small-2 text-greyscale-900 font-600">{{ author && author.last_name }} {{ author && author.first_name }}</span>
					<div class="w-1 h-1 rounded-50 bg-greyscale-400"/>
					<span class="text-greyscale-400 font-600 small-3">{{ item.created_date | filterCalendarToTime }}</span>
				</div>

				<div v-if="item.replied_to" class="small-3 text-primary-500 font-600">@{{ item.replied_to.created_by.last_name }} {{ item.replied_to.created_by.first_name }}</div>

				<div class="text-greyscale-700 small-2 font-500 mt-1">{{ item.comment }}</div>

				<div class="d-flex gap-x-5 mt-3 pointer select-none">
					<div
						v-if="item.replies && item.replies.length"
						class="d-flex align-center gap-x-1"
						@click="toggleRepliesOpen"
					>
						<base-iconify
							icon="ChatConversationCircle"
							class="text-primary-500"
						/>
						<span class="text-primary-500 small-3 font-600">{{ item.replies.length }} {{ item.replies.length > 1 ? 'Ответы' : 'Ответ' }}</span>
						<base-iconify
							icon="CaretDownMd"
							class="text-primary-500"
						/>
					</div>

					<div
						v-if="!isAuditCompleted"
						class="d-flex align-center gap-x-1"
						@click="onReplyOpen(item)"
					>
						<base-iconify
							icon="ReplyLinear"
							class="text-greyscale-700"
						/>
						<span class="text-greyscale-700 small-3 font-600">Ответить</span>
					</div>
				</div>
			</div>
		</div>

		<comment-input
			v-if="$store.state.auditComment.isReplying && $store.state.auditComment.repliedToId === item.id"
			type="reply"
			ref="commentInput"
		/>

		<div v-if="isRepliesOpen" class="pl-12">
			<comment-item
				v-if="item.replies.length"
				v-for="subItem in item.replies"
				:key="subItem.id"
				:item="subItem"
				:is-audit-completed="isAuditCompleted"
			/>
		</div>
	</div>
</template>

<style scoped>

</style>