<script>
// Core
import { mapActions, mapState } from "vuex"

export default {
	name: "CommentInput",
	props: {
		placeholder: {
			type: String,
			default: null
		},
		type: {
			type: String,
			default: ''
		}
	},
	computed: {
		...mapState({

		}),
		translatedPlaceholder() {
			return this.placeholder || this.$t('dashboard.components.enter-text');
		}
	},
	methods: {
		...mapActions({
			actionCreateComment: 'auditComment/actionCreateComment'
		}),
		sendComment() {
			if ((this.type === 'reply' && this.$store.state.auditComment.replyComment) || this.$store.state.auditComment.comment) {
				this.actionCreateComment({
					result: this.$route?.query?.resultId,
					comment: this.type === 'reply' ? this.$store.state.auditComment.replyComment : this.$store.state.auditComment.comment,
					replied_to: this.$store.state.auditComment.repliedToId ? this.$store.state.auditComment.repliedToId : null
				})
					.then(res => {
						this.$emit('emit:onMessageSent')
					})
			}
		},
		closeReply() {
			this.$store.state.auditComment.isReplying = false
			this.$store.state.auditComment.comment = null
			this.$store.state.auditComment.replyComment = null
			this.$store.state.auditComment.repliedToId = null
		},
		focus() {
			const { textField } = this.$refs
			textField.focus()
		}
	}
}
</script>

<template>
	<div class="comment-input-component d-flex align-center gap-x-1">
		<v-text-field
			v-if="type === 'reply'"
			v-model="$store.state.auditComment.replyComment"
			v-bind="$attrs"
			v-on="$listeners"
			outlined
			hide-details
			:placeholder="translatedPlaceholder"
			background-color="var(--greyscale-100)"
			ref="textField"
			@keyup.enter="sendComment"
		/>

		<v-text-field
			v-else
			v-model="$store.state.auditComment.comment"
			v-bind="$attrs"
			v-on="$listeners"
			outlined
			hide-details
			:placeholder="translatedPlaceholder"
			background-color="var(--greyscale-100)"
			ref="textField"
			@keyup.enter="sendComment"
		/>

		<div
			v-if="type === 'reply'"
			class="w-9 h-9 rounded-5 d-flex justify-center align-center pointer"
			@click="closeReply"
		>
			<base-iconify
				icon="CloseMd"
				class="text-greyscale-500"
			/>
		</div>
	</div>
</template>

<style>
.comment-input-component .theme--light.v-input input::placeholder {
	font-size: 14px!important;
	font-weight: 500!important;
	color: var(--greyscale-400)!important;
}
.comment-input-component .theme--light.v-input input{
	font-size: 14px!important;
}

.comment-input-component .v-text-field--outlined {
	border-radius: 12px;
}

</style>