<script>
// Core
import { mapActions, mapGetters, mapState } from "vuex"
import { required } from "vuelidate/lib/validators"
// Enums
import { AUDIT_USER_TYPES, STATUS_TYPES } from "@/common/constants"

export default {
	name: "ResultProcess",
	data: () => ({
		AUDIT_USER_TYPES,
		STATUS_TYPES,
		loading: true,
		processList: [],

		directModal: false,
		directButtonLoading: false,
		directModel: {
			responsible: null
		},

		rejectingProcessId: null,
		rejectModal: false,
		rejectButtonLoading: false,
		rejectModel: {
			text: null
		},

		acceptButtonLoading: false
	}),
	validations: {
		directModel: {
			responsible: { required }
		},
		rejectModel: {
			text: { required }
		}
	},
	computed: {
		...mapState({
			resultDetail: state => state.auditCheckupDetail.resultDetail
		}),
		...mapGetters({
			currentUser: "auth/getCurrentUser"
		})
	},
	methods: {
		...mapActions({
			actionGetResultProcessList: 'auditCheckupDetail/actionGetResultProcessList',
			actionDirectResult: 'auditCheckupDetail/actionDirectResult',
			actionRejectResult: 'auditCheckupDetail/actionRejectResult',
			actionAcceptResult: 'auditCheckupDetail/actionAcceptResult'
		}),
		returnIconBg(item) {
			return item.status === STATUS_TYPES.FORWARDED ? 'bg-info-500' : item.status === STATUS_TYPES.PENDING ? 'bg-greyscale-500' : item.status === STATUS_TYPES.REJECTED ? 'bg-critic-500' : 'bg-success-300'
		},
		/** **/
		returnActionIconName(item) {
			switch (item.status) {
				case STATUS_TYPES.FORWARDED:
					return 'ArrowUndoUpLeft'
				case STATUS_TYPES.REJECTED:
					return 'CloseMd'
				case STATUS_TYPES.PENDING:
					return 'RemoveMinus'
				default:
					return 'Check'
			}
		},
		/** **/
		async getProcessList() {
			if (this.$route?.query?.resultId) {
				this.loading = true
				await this.actionGetResultProcessList(this.$route?.query?.resultId)
					.then(res => {
						if (res && res.status === 200) {
							this.processList = res.data.results
							this.loading = false
						}
					})
			}
		},
		/** **/
		async onDirect() {
			this.$v.directModel.responsible.$touch()
			if (this.$v.directModel.responsible.$invalid) return

			this.directButtonLoading = true

			let model = {
				result: this.$route?.query?.resultId,
				user: this.directModel.responsible.id
			}

			this.actionDirectResult(model)
				.then(res => {
					this.$toast.success(this.$t('directed'))
					this.directModal = false
					this.clearDirect()
					this.getProcessList()
				})
				.finally(() => {
					this.directButtonLoading = false
				})
		},
		/** **/
		clearDirect() {
			this.directModel.responsible= null
			this.$v.$reset()
		},
		/** **/
		rejectResult(item) {
			this.rejectingProcessId = item.id
			this.rejectModal = true
		},
		/** **/
		async onReject() {
			this.$v.rejectModel.text.$touch()
			if (this.$v.rejectModel.text.$invalid) return

			this.rejectButtonLoading = true

			this.actionRejectResult({ id: this.rejectingProcessId, comment: this.rejectModel.text })
				.then(res => {
					this.$toast.success(this.$t('survey-client.completed.rejected'))
					this.rejectModal = false
					this.clearReject()
					this.getProcessList()
				})
				.finally(() => {
					this.rejectButtonLoading = false
				})
		},
		/** **/
		clearReject() {
			this.rejectModel.text = null
			this.$v.$reset()
		},
		/** **/
		async acceptResult(item) {
			this.acceptButtonLoading = true

			this.actionAcceptResult(item.id)
				.then(res => {
					this.$toast.success(this.$t('accept'))
					this.getProcessList()
				})
				.finally(() => {
					this.acceptButtonLoading = false
				})
		}
	},
	mounted() {
		this.getProcessList()
	}
}
</script>

<template>
	<div class="result-process-component"  style="height: calc(100vh - 234px)">
		<template v-if="loading">
			<app-loader component-based />
		</template>

		<template v-else>
			<div
				v-for="(item, index) in processList"
				:key="item.id"
				class="d-flex gap-x-5"
			>
				<div class="d-flex flex-column align-center">
					<div
						class="w-9 h-9 rounded-50 d-flex justify-center align-center"
						:class="returnIconBg(item)"
					>
						<base-iconify
							:icon="returnActionIconName(item)"
							class="text-white"
						/>
					</div>

					<div v-if="index < processList.length - 1" class="bg-greyscale-300 flex-1" style="width: 1px"></div>
				</div>

				<div class="d-flex flex-column border-all overflow-hidden rounded-12 w-100 card-shadow mb-2">
					<div class="d-flex align-center bg-greyscale-100 gap-x-2" style="padding: 6px 20px">
						<base-iconify
							icon="User03"
							class="text-primary-500"
						/>
						<span class="small-2 text-primary-500 font-600">{{ item.user_type === AUDIT_USER_TYPES.AUDITOR ? $t('auditor') : $t('responsible') }}</span>
					</div>

					<div class="d-flex bg-white gap-x-3 py-4 px-5">
						<div
							class="d-flex w-9 h-9 rounded-50 justify-center align-center"
							:style="{ background: item.user.color }"
						>
							<span class="small-2 font-600 text-white">{{ item.user.full_name | getFirstCharacterWithoutDot }}</span>
						</div>

						<div class="d-flex justify-space-between w-100">
							<div class="d-flex flex-column">
								<div class="d-flex gap-x-2 align-center">
									<span class="small-2 text-greyscale-900 font-600">{{ item.user.last_name }} {{ item.user.first_name }}</span>
									<div class="w-1 h-1 rounded-50 bg-greyscale-400" />
									<span class="small-3 text-greyscale-400 font-600">{{ item.user.position }}</span>
								</div>
								<div
									v-if="item.forwarded_to"
									class="d-flex align-center gap-x-2 bg-greyscale-100 border-all rounded-6 px-2 my-1 w-fit"
								>
									<span class="small-3 text-greyscale-400 font-600">{{ $t('directed') }}:</span>
									<span class="small-3 text-primary-500 font-600">@{{ item.forwarded_to }}</span>
								</div>
								<span class="small-3 text-greyscale-400 font-600">{{ item.created_date | filterCalendarToTime }}</span>
							</div>
							<div class="d-flex align-end">
								<base-status :text="item.status"/>
							</div>
						</div>
					</div>

					<div
						v-if="item.user_type !== AUDIT_USER_TYPES.AUDITOR && item.status === STATUS_TYPES.PENDING && currentUser.id === item.user.id"
						class="d-flex align-center justify-space-between bg-info-50 rounded-12 border-info-100 mx-5 mb-4 pa-2"
					>
						<div class="d-flex align-center gap-x-1">
							<base-iconify
								icon="Info"
								class="text-primary-500"
							/>
							<span class="small-3 text-greyscale-900 font-500">{{ $t('do-you-accept') }}</span>
						</div>

						<div class="d-flex align-center gap-x-2">
							<app-button
								v-if="!item.forwarded_from"
								height="32"
								min-width="80"
								color="white"
								class="rounded-8"
								@click="directModal = true"
							>
								<div class="d-flex align-center">
									<base-iconify
										icon="ArrowDownLeftMd"
										class="text-greyscale-600 w-4 h-4"
										width="16"
										height="16"
									/>
									<div class="small-3 font-600 text-greyscale-900">{{ $t('direct') }}</div>
								</div>
							</app-button>

							<app-button
								height="32"
								color="critic-50"
								min-width="80"
								class="rounded-8"
								@click="rejectResult(item)"
							>
								<div class="d-flex align-center">
									<base-iconify
										icon="CloseSm"
										class="text-critic-500"
									/>
									<div class="small-3 font-600 text-critic-500">{{ $t('reject') }}</div>
								</div>
							</app-button>

							<app-button
								height="32"
								min-width="80"
								class="rounded-8"
								:loading="acceptButtonLoading"
								@click="acceptResult(item)"
							>
								<div class="d-flex align-center">
									<base-iconify
										icon="Check"
										class="text-white w-4 h-4"
										width="16"
										height="16"
									/>
									<div class="small-3 font-600">{{ $t('accept') }}</div>
								</div>
							</app-button>
						</div>
					</div>
				</div>
			</div>
		</template>

		<!-- Direct result to employee -->
		<base-modal
			v-model="directModal"
			persistent
			width="555"
			:button-loading="directButtonLoading"
			label="direct"
			success-button-label="direct"
			@emit:onSend="onDirect"
			@emit:onCancel="clearDirect"
		>
			<base-auto-complete
				v-model="$v.directModel.responsible.$model"
				:error="$v.directModel.responsible.$error"
				api-list-url="/user/search/"
				item-text="full_name"
				return-object
				label="responsible-person"
				:lazy-load="false"
				:placeholder="$t('document-flow.views.boxes.employees')"
				class="w-100"
			/>
		</base-modal>
		<!-- /Direct result to employee -->

		<!-- Reject modal -->
		<base-modal
			v-model="rejectModal"
			persistent
			width="555"
			:button-loading="rejectButtonLoading"
			label="document-flow.views.boxes.reject"
			success-button-label="reject"
			@emit:onSend="onReject"
			@emit:onCancel="clearReject"
		>
			<base-text-area
				v-model="$v.rejectModel.text.$model"
				:error="$v.rejectModel.text.$error"
				label="reason"
			/>
		</base-modal>
		<!-- /Reject modal -->

<!--		<pre>{{ processList }}</pre>-->
	</div>
</template>

<style>
.result-process-component .btn,
.result-process-component .v-btn:not(.v-btn--round).v-size--default{
	padding: 0 8px 0 0!important;
}
</style>