<script>
import { mapActions } from "vuex"
import { ResultInformation, ResultProcess, ResultComment } from "./index"

export default {
	name: "ResultDrawer",
	components: {
		ResultComment,
		ResultProcess,
		ResultInformation
	},
	watch: {
		'$store.state.auditCheckupDetail.sidebar': {
			handler(val) {
				if (!val) {
					this.items.forEach(item => item.active = item.id === 1)
				}
			}
		}
	},
	data: () => ({
		items: [
			{
				id: 1,
				label: 'information',
				icon: 'NoteBook',
				slot: 'information',
				count: null,
				active: true
			},
			{
				id: 2,
				label: 'process',
				icon: 'ListUnordered',
				slot: 'process',
				count: null,
				active: false
			},
			{
				id: 3,
				label: 'survey-client.completed.comment',
				icon: 'ChatRoundDotsLinear',
				slot: 'comment',
				count: null,
				active: false
			}
		]
	}),
	methods: {
		...mapActions({
			actionGetResultDetail: 'auditCheckupDetail/actionGetResultDetail'
		}),
		onItemChange(item) {
			if (item.id === 1 && this.$route?.query?.resultId) {
				this.actionGetResultDetail(this.$route?.query?.resultId)
			}
		}
	},
	beforeDestroy() {
		console.log("555555555555555555")
	}
}
</script>

<template>
	<div class="result-drawer-component">
		<base-tab
			:items="items"
			@emit:itemChange="onItemChange"
		>
			<template #information>
				<result-information />
			</template>

			<template #process>
				<result-process />
			</template>

			<template #comment>
				<result-comment />
			</template>
		</base-tab>
	</div>
</template>

<style scoped>

</style>