<script>
// Core
import { mapState } from "vuex"
import { adjustObjectToArray } from "../../../../../common/helpers";

export default {
	name: "ResultFilterBody",
	computed: {
		...mapState({
			checkupDetailTableFilters: state => state.auditCheckupDetail.checkupDetailTableFilters
		}),
		apiParams() {
			return this.$route.query.created_by ?
				{ ids: this.$route.query.created_by,
					top_level_sap_obj_id: 50000034,
					page_size: 50 } :
				{ top_level_sap_obj_id: 50000034,
					page_size: 50
				}
		}
	},
	watch: {
		'checkupDetailTableFilters.__created_by': {
			handler(val) {
				this.checkupDetailTableFilters.created_by = val ? val.id : null
			},
			immediate: true
		}
	},
	methods: {
		async init() {
			if (this.$route.query.created_by){
				const results = await adjustObjectToArray('user/search', [{ id: this.$route.query.created_by }])
				this.checkupDetailTableFilters.__created_by = results[0]
			}
		}
	},
	async mounted() {
		await this.init()
	}
}
</script>

<template>
	<div class="result-filter-body-component w-100">
		<v-row>
			<v-col md="6">
				<base-auto-complete
					v-model="checkupDetailTableFilters.__created_by"
					api-list-url="/user/search/"
					item-text="full_name"
					:api-params="apiParams"
					return-object
					:lazy-load="false"
					label="auditor"
					:placeholder="$t('document-flow.views.boxes.employees')"
				/>
			</v-col>
		</v-row>
	</div>
</template>

<style scoped>

</style>