<script>
// Core
import { mapActions, mapState } from "vuex"

export default {
	name: "ResultInformation",
	computed: {
		...mapState({
			resultDetail: state => state.auditCheckupDetail.resultDetail,
			detailLoading: state => state.auditCheckupDetail.detailLoading
		}),
		auditor() {
			return this.resultDetail?.created_by
		},
		/** **/
		toWhere() {
			return [...this.resultDetail?.branches, ...this.resultDetail?.departments]
		}
	},
	methods: {
		...mapActions({
			actionGetResultDetail: 'auditCheckupDetail/actionGetResultDetail'
		})
	},
	// async mounted() {
	// 	if (this.$route?.query?.resultId) {
	// 		await this.actionGetResultDetail(this.$route?.query?.resultId)
	// 	}
	// }
}
</script>

<template>
	<div class="result-information-component" style="height: calc(100vh - 236px)">
		<template v-if="detailLoading">
			<app-loader component-based />
		</template>

		<template v-else>
			<!-- Auditor -->
			<div class="d-flex gap-x-4">
				<div class="d-flex pt-3 pb-4">
					<div class="d-flex justify-center align-center w-10 h-10 rounded-10 bg-greyscale-100">
						<base-iconify
							icon="User03"
							class="text-primary-500"
							height="24"
							width="24"
						/>
					</div>
				</div>
				<div class="d-flex flex-column gap-y-1 flex-1 pt-3 pb-4 border-bottom">
					<span class="small-2 font-500 text-greyscale-700">{{ $t('auditor') }}</span>
					<div class="d-flex gap-x-2 align-center">
						<div
							class="d-flex align-center justify-center rounded-50 w-6 h-6"
							:style="{ background: auditor.color }"
						>
							<span class="small-3 text-white font-500">{{ auditor.full_name | getFirstCharacterWithoutDot }}</span>
						</div>

						<span class="small-2 text-greyscale-900 font-500">{{ auditor.full_name }}</span>
					</div>
				</div>
			</div>
			<!-- /Auditor -->

			<!-- Direction -->
			<div class="d-flex gap-x-4">
				<div class="d-flex pt-3 pb-4">
					<div class="d-flex justify-center align-center w-10 h-10 rounded-10 bg-greyscale-100">
						<base-iconify
							icon="FolderUpload"
							class="text-primary-500"
							height="24"
							width="24"
						/>
					</div>
				</div>
				<div class="d-flex flex-column gap-y-1 flex-1 pt-3 pb-4 border-bottom">
					<span class="small-2 font-500 text-greyscale-700">{{ $t('direction') }}</span>
					<span class="small-2 text-greyscale-900 font-500">{{ resultDetail.direction.name }}</span>
				</div>
			</div>
			<!-- /Direction -->

			<!-- To where -->
			<div class="d-flex gap-x-4">
				<div class="d-flex pt-3 pb-4">
					<div class="d-flex justify-center align-center w-10 h-10 rounded-10 bg-greyscale-100">
						<base-iconify
							icon="PaperPlane"
							class="text-primary-500"
							height="24"
							width="24"
						/>
					</div>
				</div>
				<div class="d-flex flex-column gap-y-1 flex-1 pt-3 pb-4 border-bottom">
					<span class="small-2 font-500 text-greyscale-700">{{ $t('to-where') }}</span>
					<span
						v-if="toWhere"
						v-for="item in toWhere"
						class="small-2 text-greyscale-900 font-500"
					>
					{{ item.name }}
				</span>
				</div>
			</div>
			<!-- /To where -->

			<!-- To whom -->
			<div class="d-flex gap-x-4">
				<div class="d-flex pt-3 pb-4">
					<div class="d-flex justify-center align-center w-10 h-10 rounded-10 bg-greyscale-100">
						<base-iconify
							icon="UserCircle"
							class="text-primary-500"
							height="24"
							width="24"
						/>
					</div>
				</div>
				<div class="d-flex flex-column gap-y-1 flex-1 pt-3 pb-4 border-bottom">
					<span class="small-2 font-500 text-greyscale-700">{{ $t('document-flow.views.send-document.to-whom') }}</span>
					<span
						v-for="item in resultDetail.processes"
						class="small-2 text-greyscale-900 font-500"
					>
					{{ item.user && item.user.full_name }}
				</span>
				</div>
			</div>
			<!-- /To whom -->

			<!-- Result content -->
			<div class="d-flex gap-x-4">
				<div class="d-flex pt-3 pb-4">
					<div class="d-flex justify-center align-center w-10 h-10 rounded-10 bg-greyscale-100">
						<base-iconify
							icon="UserClose"
							class="text-primary-500"
							height="24"
							width="24"
						/>
					</div>
				</div>
				<div class="d-flex flex-column gap-y-1 flex-1 pt-3 pb-4 border-bottom">
					<span class="small-2 font-500 text-greyscale-700">{{ $t('layout.content') }}</span>
					<span class="small-2 text-greyscale-900 font-500">{{ resultDetail.content }}</span>
				</div>
			</div>
			<!-- /Result content -->

			<!-- Result recommendation -->
			<div class="d-flex gap-x-4">
				<div class="d-flex pt-3 pb-4">
					<div class="d-flex justify-center align-center w-10 h-10 rounded-10 bg-greyscale-100">
						<base-iconify
							icon="UserCheck"
							class="text-primary-500"
							height="24"
							width="24"
						/>
					</div>
				</div>
				<div class="d-flex flex-column gap-y-1 flex-1 pt-3 pb-4 border-bottom">
					<span class="small-2 font-500 text-greyscale-700">{{ $t('flaw-recommendation') }}</span>
					<span class="small-2 text-greyscale-900 font-500">{{ resultDetail.recommendation }}</span>
				</div>
			</div>
			<!-- /Result recommendation -->

			<!-- Audit short description -->
			<div class="d-flex gap-x-4">
				<div class="d-flex pt-3 pb-4">
					<div class="d-flex justify-center align-center w-10 h-10 rounded-10 bg-greyscale-100">
						<base-iconify
							icon="UserVoice"
							class="text-primary-500"
							height="24"
							width="24"
						/>
					</div>
				</div>
				<div class="d-flex flex-column gap-y-1 flex-1 pt-3 pb-4 border-bottom">
					<span class="small-2 font-500 text-greyscale-700">{{ $t('audit-result-short-description') }}</span>
					<span class="small-2 text-greyscale-900 font-500">{{ resultDetail.short_description }}</span>
				</div>
			</div>
			<!-- /Audit short description -->

			<!-- Based on -->
			<div class="d-flex gap-x-4">
				<div class="d-flex pt-3 pb-4">
					<div class="d-flex justify-center align-center w-10 h-10 rounded-10 bg-greyscale-100">
						<base-iconify
							icon="Note"
							class="text-primary-500"
							height="24"
							width="24"
						/>
					</div>
				</div>
				<div class="d-flex flex-column gap-y-1 flex-1 pt-3 pb-4 border-bottom">
					<span class="small-2 font-500 text-greyscale-700">{{ $t('base-on') }}</span>
					<span class="small-2 text-greyscale-900 font-500">{{ resultDetail.based_on }}</span>
				</div>
			</div>
			<!-- /Based on -->

			<!-- Deadline in day -->
			<div class="d-flex gap-x-4">
				<div class="d-flex pt-3 pb-4">
					<div class="d-flex justify-center align-center w-10 h-10 rounded-10 bg-greyscale-100">
						<base-iconify
							icon="Timer"
							class="text-primary-500"
							height="24"
							width="24"
						/>
					</div>
				</div>
				<div class="d-flex flex-column gap-y-1 flex-1 pt-3 pb-4 border-bottom">
					<span class="small-2 font-500 text-greyscale-700">{{ $t('deadline-day') }}</span>
					<span class="small-2 text-greyscale-900 font-500">{{ resultDetail.deadline_in_day }}</span>
				</div>
			</div>
			<!-- /Deadline in day -->
		</template>
	</div>
</template>

<style scoped>

</style>