<script>
// Core
import { mapActions, mapState } from "vuex"
// Components
import CommentItem from "./CommentItem.vue"
import CommentInput from "./CommentInput.vue"
import { STATUS_TYPES } from "@/common/constants"

export default {
	name: "ResultComment",
	components: {
		CommentItem,
		CommentInput
	},
	props: {
		result: {
			type: Object,
			default: null
		}
	},
	computed: {
		...mapState({
			commentListLoading: state => state.auditComment.commentListLoading,
			commentList: state => state.auditComment.commentList,
			resultDetail: state => state.auditCheckupDetail.resultDetail
		}),
		isAuditCompleted() {
			return this.resultDetail?.audit?.status === STATUS_TYPES.CLOSED
		}
	},
	data: () => ({
		STATUS_TYPES
	}),
	methods: {
		...mapActions({
			actionGetCommentList: 'auditComment/actionGetCommentList'
		}),
		/** **/
		init() {
			if (this.$route?.query?.resultId) {
				this.actionGetCommentList({ result: this.$route?.query?.resultId })
			}
			const { commentInput } = this.$refs
			commentInput.focus()
		},
		/** **/
		onMessageSent() {
			const { messageContainer } = this.$refs
			if (messageContainer) {
				// Scroll to the bottom of the container
				messageContainer.scrollTop = messageContainer.scrollHeight;
			} else {
				console.error('messageContainer not found');
			}
		}
	},
	mounted() {
		this.init()
	}
}
</script>

<template>
	<div class="result-comment-component d-flex flex-column justify-space-between" style="height: calc(100vh - 234px)">
		<template v-if="commentListLoading">
			<app-loader component-based />
		</template>

		<template v-else>
			<template v-if="commentList.length">
				<div
					ref="messageContainer"
					class="d-flex flex-column gap-y-1 overflow-y-auto"
					style="height: calc(100vh - 304px); overflow-y: auto"
				>
					<comment-item
						v-for="item in commentList"
						:key="item.id"
						:item="item"
						:is-audit-completed="isAuditCompleted"
					/>
				</div>
			</template>
			<template v-else>
				<div class="d-flex flex-column align-center justify-center h-100 gap-y-2">
					<v-icon size="96" color="var(--primary-500)">{{ "$vuetify.icons.EmptyV2" }}</v-icon>
					<span class="small-2 font-500">{{ $t("no-comment") }}</span>
				</div>
			</template>
		</template>

		<comment-input
			ref="commentInput"
			:disabled="isAuditCompleted"
			@emit:onMessageSent="onMessageSent"
		/>
	</div>
</template>

<style scoped>

</style>