<template>
  <v-menu offset-y>
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        v-bind="attrs"
        v-on="on"
        color="var(--primary-light)"
        depressed
        small
        min-height="36"
        height="36"
        class="rounded-lg"
      >
        <div class="d-flex align-center">
          <arrow-up-circle-icon size="16" color="var(--primary-1)" class="mr-2" />
          <span class="primary-text size-13">{{ $t("document-flow.views.boxes.answer") }}</span>
          <chevron-down-icon size="16" color="var(--primary-1)" class="ml-1" />
        </div>
      </v-btn>
    </template>

    <v-list dense>
      <v-list-item
        link
        :to="{
          name: 'SendingDocumentsCreate',
          query: {
            type: 'inner',
            register_date: registerDate,
            register_number: registerNumber,
            reply_document_id: documentId,
          },
        }"
      >
        <v-list-item-title>Внутренний</v-list-item-title>
      </v-list-item>

      <v-list-item
        link
        :to="{
          name: 'SendingDocumentsCreate',
          query: {
            type: 'outgoing',
            register_date: registerDate,
            register_number: registerNumber,
            reply_document_id: documentId,
          },
        }"
      >
        <v-list-item-title>Исходящий</v-list-item-title>
      </v-list-item>
    </v-list>
  </v-menu>
</template>

<script>
import { ArrowUpCircleIcon, ChevronDownIcon } from 'vue-feather-icons'
export default {
	name: "AnswerMenuButton",
  props: {
    registerDate: {
      type: String
    },
    registerNumber: {
      type: String
    },
    documentId: {
      type: Number
    }
  },
	components: {
		ArrowUpCircleIcon,
		ChevronDownIcon
	}
}
</script>

<style scoped>

</style>
