<template>
	<v-btn
		color="var(--primary-light)"
		fab
		depressed
		small
		min-height="36"
		height="36"
		width="90"
		class="rounded-lg"
		@click="$router.go(-1)"
	>
		<div class="d-flex align-center">
			<arrow-left-icon size="16" color="var(--primary-1)" />
			<span class="text-primary-500 d-block ml-1 size-13">{{ $t("document-flow.views.registration.back") }}</span>
		</div>
	</v-btn>
</template>

<script>
import { ArrowLeftIcon } from "vue-feather-icons"
export default {
	name: "BackButton",
	components: {
		ArrowLeftIcon
	}
}
</script>

<style scoped>

</style>
