<template>
  <div class="change-status-modal-view">
    <v-menu offset-y>
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          v-bind="attrs"
          v-on="on"
          color="var(--primary-light)"
          depressed
          small
          min-height="36"
          height="36"
          class="rounded-lg"
        >
          <div class="d-flex align-center">
            <check-square-icon size="16" color="var(--primary-1)" class="mr-2"/>
            <span class="primary-text size-13">{{ $t("document-flow.views.boxes.change-status") }}</span>
            <chevron-down-icon size="16" color="var(--primary-1)" class="ml-1"/>
          </div>
        </v-btn>
      </template>

      <v-list dense>
        <v-list-item
          link
          :disabled="currentStatus === statusCodes.TODO"
          @click="openModal(statusCodes.TODO)"
        >
          <v-list-item-title>{{ $t("document-flow.views.statistics.to-do") }}</v-list-item-title>
        </v-list-item>

        <v-list-item
          link
          :disabled="currentStatus === statusCodes.IN_PROGRESS"
          @click="openModal(statusCodes.IN_PROGRESS)"
        >
          <v-list-item-title>{{ $t("document-flow.views.statistics.in-progress") }}</v-list-item-title>
        </v-list-item>

        <v-list-item
          link
          :disabled="currentStatus === statusCodes.ON_HOLD"
          @click="openModal(statusCodes.ON_HOLD)"
        >
          <v-list-item-title>{{ $t("document-flow.views.statistics.waiting") }}</v-list-item-title>
        </v-list-item>

        <v-list-item
          link
          :disabled="currentStatus === statusCodes.DONE"
          @click="openModal(statusCodes.DONE)"
        >
          <v-list-item-title>{{ $t("document-flow.views.statistics.done") }}</v-list-item-title>
        </v-list-item>

        <v-list-item
          link
          color="error"
          :input-value="currentStatus !== statusCodes.CANCEL"
          :disabled="currentStatus === statusCodes.CANCEL"
          @click="openModal(statusCodes.CANCEL)"
        >
          <v-list-item-title>{{ $t("cancel") }}</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>

    <!-- Change status Modal -->
    <change-status-modal
      ref="statusModal"
      v-model="dialog"
      :success-button-loading="successButtonLoading"
      @emit:close="(value) => dialog = value"
      @emit:cancel-button="(value) => dialog = value"
      @emit:success-button="changeStatus"
    />
    <!-- /Change status Modal -->
  </div>
</template>

<script>
import { mapActions } from "vuex"
import { ChevronDownIcon, CheckSquareIcon } from 'vue-feather-icons'
import { STATUS_CODES } from "@/common/enums/notificationTypes"
import { ChangeStatusModal } from "@/common/components/Modal"
export default {
	name: "ChangeStatusMenuButton",
  props: {
    currentStatus: {
      type: Number
    },
    /*
    *
    * */
    changeStatusFn: {
      type: Function
    }
  },
	components: {
		ChevronDownIcon,
		CheckSquareIcon,
    ChangeStatusModal
	},
  data() {
    return {
      dialog: false,
      status: null,
      statusCodes: STATUS_CODES,
      successButtonLoading: false,
    }
  },
  methods: {
    ...mapActions({
      fetchUpdateReviewStatus: "documentFlowBoxesReview/fetchUpdateReviewStatus"
    }),
    /*
    *
    * */
    openModal(status) {
      this.dialog = true
      this.status = status
    },
    /*
    *
    * */
    async changeStatus(text) {
      this.successButtonLoading = true
      try {
        const { statusModal } = this.$refs
        // fetchUpdateReviewStatus
        await this.changeStatusFn({
          documentId: this.$route.params.id,
          status: this.status,
          comment: text
        })
        this.$toast.success(this.$t("document-flow.views.boxes.changed-status"))
        this.dialog = false
        // Сбросим текст модального окна
        statusModal.reset()
      } finally {
        this.successButtonLoading = false
      }
    }
  }
}
</script>

<style scoped>

</style>
