<template>
  <v-btn
    color="var(--primary-light)"
    depressed
    small
    min-height="36"
    height="36"
    class="rounded-lg"
  >
	  <div class="d-flex align-center">
		  <users-icon size="16" color="var(--primary-1)" class="mr-2" />
		  <span class="primary-text size-13">{{ $t("document-flow.views.boxes.create-resolution") }}</span>
	  </div>
  </v-btn>
</template>

<script>
import { UsersIcon } from "vue-feather-icons"
export default {
	name: "CreateResolutionButton",
	components: {
		UsersIcon
	}
}
</script>

<style scoped>

</style>
