<template>
  <div class="redirect-button-view">
    <v-btn
      color="var(--primary-2)"
      depressed
      small
      min-height="36"
      height="36"
      class="rounded-lg"
      @click="dialog = true"
    >
      <div class="d-flex align-center">
        <span class="text-white size-13">{{ $t("document-flow.views.boxes.follow-document") }}</span>
      </div>
    </v-btn>

    <!-- Change status Modal -->
    <change-status-modal
      ref="statusModal"
      v-model="dialog"
      title="document-flow.views.boxes.follow-document"
      :success-button-loading="successButtonLoading"
      @emit:close="(value) => dialog = value"
      @emit:cancel-button="(value) => dialog = value"
      @emit:success-button="changeStatus"
    />
    <!-- /Change status Modal -->
  </div>
</template>

<script>
import { mapActions } from "vuex"
import { ChangeStatusModal } from "@/common/components/Modal"
export default {
	name: "FinishDocumentButton",
  components: {
    ChangeStatusModal
  },
  data() {
    return {
      dialog: false,
      status: 4,
      successButtonLoading: false,
    }
  },
	computed: {
		isXdfu() {
			return this.$route.name === 'XdfuReviewDetail'
		}
	},
  methods: {
    ...mapActions({
      fetchUpdateReviewStatus: "documentFlowBoxesReview/fetchUpdateReviewStatus"
    }),
    /*
    *
    * */
    async changeStatus(text) {
      this.successButtonLoading = true
      try {
        const { statusModal } = this.$refs

        await this.fetchUpdateReviewStatus({
          documentId: this.$route.params.id,
          status: this.status,
	        comment: text,
	        is_secret: this.isXdfu
        })
        this.$toast.success(this.$t("document-flow.views.boxes.changed-status"))
        this.dialog = false
        // Сбросим текст модального окна
        statusModal.reset()
      } finally {
        this.successButtonLoading = false
      }
    }
  }
}
</script>

<style scoped>

</style>
