<template>
  <v-menu offset-y>
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        v-bind="attrs"
        v-on="on"
        color="var(--primary-light)"
        depressed
        small
        min-height="36"
        height="36"
        class="rounded-lg"
      >
        <div class="d-flex align-center">
          <more-vertical-icon size="16" color="var(--primary-1)" class="mr-2" />
          <span class="primary-text size-13">{{ $t("document-flow.views.boxes.more") }}</span>
          <chevron-down-icon size="16" color="var(--primary-1)" class="ml-1" />
        </div>
      </v-btn>
    </template>

    <slot name="menu" />
  </v-menu>
</template>

<script>
import { ChevronDownIcon, MoreVerticalIcon } from 'vue-feather-icons'
export default {
	name: "MoreActionsMenuButton",
	components: {
		ChevronDownIcon,
		MoreVerticalIcon
	}
}
</script>

<style scoped>

</style>
