<template>
  <div class="redirect-button-view">
    <v-btn
      color="error"
      depressed
      small
      min-height="36"
      height="36"
      :disabled="Boolean(readTime)"
      class="rounded-lg"
      :loading="loading"
      @click="acquaintDocument"
    >
      <div class="d-flex align-center">
        <span class="size-13" :class="readTime ? '' : 'text-white'">
          {{ readTime
            ? $t("components.document-read")
            : $t("document-flow.views.boxes.introduce-with-document")
          }}
        </span>
      </div>
    </v-btn>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex"
export default {
	name: "ReadDocumentButton",
  props: {
    readTime: {
      type: String,
      default: null
    },
    /*
    *
    * */
    documentId: {
      type: Number
    },
    /*
    *
    * */
    acquaintDocumentFn: {
      type: Function
    }
  },
  data() {
    return {
      loading: false
    }
  },
  computed: {
    ...mapGetters({
      currentUser: "auth/getCurrentUser",
    }),
  },
  methods: {
    ...mapActions({
      fetchAcquaintWithDocument: "documentFlowBoxesReview/fetchAcquaintWithDocument"
    }),
    /*
    *
    * */
    async acquaintDocument() {
      this.loading = true
      try {
        await this.acquaintDocumentFn({ documentId: this.documentId, is_secret: this.$route.query.is_secret })
        this.$toast.success(this.$t("components.document-read"))
      } finally {
        this.loading = false
      }
    }
  }
}
</script>

<style scoped>

</style>
