<template>
	<div class="redirect-button-view">
    <v-btn
      color="var(--primary-light)"
      depressed
      small
      min-height="36"
      height="36"
      class="rounded-lg"
      :disabled="disable"
      @click="dialog = true"
    >
      <div class="d-flex align-center">
        <repeat-icon
	        size="16"
	        :color="disable ? 'var(--secondary)' : 'var(--primary-1)'"
	        class="mr-2"
        />

        <span
	        class="size-13"
	        :class="[disable ? 'text-3' : 'primary-text']"
        >
	        {{ $t("document-flow.views.boxes.redirect-document") }}
        </span>
      </div>
    </v-btn>

		<!-- ForwardTo Modal -->
    <ui-dialog
	    v-model="dialog"
	    content-height="555px"
	    success-text="document-flow.views.boxes.send-document"
	    @emit:close="(value) => dialog = value"
	    @emit:cancel-button="(value) => dialog = value"
	    @emit:success-button="forwardTo"
    >
	    <template #content>
		    <div class="my-n4 mx-n6">
          <div class="border-bottom py-4 px-6">
            <div class="app-input">
              <v-text-field
                v-model="search"
                outlined
                dense
                background-color="var(--input-bg)"
                hide-details
                :loading="loading"
                :placeholder="$t('document-flow.views.boxes.search-users')"
                @input="searchDebounce"
              >
                <template #prepend-inner>
                  <search-icon size="18" color="var(--secondary)" class="mr-1" style="margin-top: 3px" />
                </template>
              </v-text-field>
            </div>
          </div>

          <div class="scroll-container">
            <perfect-scrollbar class="px-6 h-100">
              <v-list class="py-1">
                <v-list-item-group
                  v-model="userSearch"
                  active-class="primary--text"
                >
                  <template v-if="usersList.length">
                    <v-list-item
                      v-for="item in usersList"
                      :key="item.id"
                      :disabled="getDisableItems(item)"
                      class="rounded-10 overflow-hidden pa-0"
                    >
                      <template v-slot:default="{ active }">
                        <div
                          class="d-flex gap-8 w-100 pa-2 rounded-10"
                          @click="forwardUserSelected(active ? null : item.id)"
                        >
                          <v-avatar
                            :color="item.color"
                            size="40"
                            style="z-index: 1;"
                          >
                            <span class="text-white small-3 font-500">
	                            {{ item.full_name | getFirstCharacterWithoutDot }}
                            </span>
                          </v-avatar>

	                        <div class="flex-1">
		                        <div class="d-flex align-center gap-8">
                              <h1 class="small-2 font-500" style="opacity: .85">{{ item.full_name }}</h1>

                              <v-sheet
                                width="4"
                                height="4"
                                color="#65696B"
                                rounded
                              />

			                        <span
                                class="font-500 small-3"
                                :class="{
                                  'success-text' : item.condition_name === 'Рабочие' || item.condition_name === 'Командировка',
                                  'red--text' : item.condition_name !== 'Рабочие' && item.condition_name !== 'Командировка',
                                }"
			                        >
				                        {{ item.condition_name }}
			                        </span>
		                        </div>

		                        <div class="d-flex align-center gap-8 small-3 text-3">
                              <span>{{ item.dep_name }}</span>

                              <v-sheet
                                width="4"
                                height="4"
                                color="#8A94A6"
                                rounded
                              />

                              <span>{{ item.position }}</span>

                              <v-sheet
                                width="4"
                                height="4"
                                color="#8A94A6"
                                rounded
                              />

                              <span class="font-500">{{ item.cisco }}</span>
		                        </div>
	                        </div>

	                        <v-list-item-action>
                            <v-checkbox
                              :input-value="active"
                              color="primary"
                            ></v-checkbox>
	                        </v-list-item-action>
                        </div>
                      </template>
                    </v-list-item>
                  </template>
                </v-list-item-group>
              </v-list>
            </perfect-scrollbar>
          </div>

			    <div class="border-top py-3 px-6">
            <div class="app-input">
              <span class="d-block font-600 small-2 mb-2">
	              {{ $t('document-flow.views.boxes.write-content') }}
	              <span class="red--text">({{ $t('document-flow.views.boxes.minimum-15-characters') }})</span>
              </span>

              <v-textarea
                v-model="$v.forwardText.$model"
                :error="$v.forwardText.$error"
                outlined
                clearable
                hide-details
                no-resize
                height="100"
                background-color="var(--input-bg)"
              ></v-textarea>
            </div>
			    </div>
		    </div>
	    </template>
    </ui-dialog>
		<!-- /ForwardTo Modal -->
	</div>
</template>

<script>
import { mapActions, mapGetters } from "vuex"
import { debounce } from "lodash"
import { RepeatIcon, SearchIcon } from "vue-feather-icons"
import { minLength, required } from "vuelidate/lib/validators"
import { STATUS_CODES } from "@/common/enums/notificationTypes"
export default {
	name: "RedirectButton",
	props: {
		rules: {
			type: Boolean
		},
		/*
		*
		* */
		status: {
			type: Number
		},
	},
	components: {
		RepeatIcon,
		SearchIcon
	},
	data() {
		return {
			dialog: false,
			search: null,
			loading: false,
			userSearch: null,
			forwardUserId: null,
			forwardText: null,
		}
	},
	validations: {
		forwardText: {
			required,
			minLength: minLength(15)
		}
	},
	computed: {
		...mapGetters({
			usersList: "getUsersList",
			getDisableItems: "getDisableItems",
			currentUser: "auth/getCurrentUser",
		}),
		/*
		*
		* */
		disable() {
			return this.rules
		}
	},
	mounted() {
		this.fetchUsersList({
			search: null
		})
	},
	methods: {
		...mapActions({
			fetchUsersList: "fetchUsersList",
		}),
		/*
		*
		* */
		forwardTo() {
			this.$v.forwardText.$touch();

			if (this.$v.forwardText.$invalid) {
				this.$toast.error(this.$t('dashboard.components.enter-text'))
				return;
			}

			if(!this.forwardUserId) {
				this.$toast.error(this.$t('document-flow.views.boxes.select-user'))

				return;
			}

			this.$http.put(`/v2/docflow/${this.currentUser.filial}/review/${this.$route.params.id}/change-reviewer/`, {
				user: this.forwardUserId,
				comment: this.forwardText
			})
			.then(() => {
				this.$toast.success(this.$t("document-flow.views.boxes.document-redirected"))

				this.$router.push({
					name: "ReviewIndex"
				})
			})
		},
		/*
		*
		* */
		searchDebounce: debounce(function() {
			this.fetchUsersList({
				search: this.search,
				pageSize: 50
			})
		}, 500),
		/*
		*
		* */
		forwardUserSelected(id) {
			this.forwardUserId = id
		},
	}
}
</script>

<style>
.scroll-container {
	height: 327px;
}
</style>
