<template>
  <v-btn
    color="primary"
    :loading="loading"
    depressed
    small
    height="40"
    class="rounded-10"
    @click="$emit('emit:up')"
  >
    <div class="d-flex align-center">
      <span class="text-white mr-1">{{ $t("document-flow.views.boxes.send") }}</span>
      <send-icon size="18" color="#fff" />
    </div>
  </v-btn>
</template>

<script>
import { SendIcon } from "vue-feather-icons"
export default {
	name: "Send",
  props: {
    loading: {
      type: Boolean,
      default: false
    }
  },
	components: {
		SendIcon
	}
}
</script>

<style scoped>

</style>
