<template>
  <div
	  class="d-flex align-center gap-16"
	  :class="{ 'content-large': large }"
  >
    <v-select
      v-model="keyValue"
      :items="keyUsersList"
      :disabled="disable"
      item-text="name"
      item-value="value"
      :placeholder="$t('document-flow.views.boxes.sign')"
      outlined
      background-color="#fff"
      hide-details
      dense
      height="36"
      @change="cbChanged"
      class="sign-select field-height-36"
      style="width: 225px"
    >
      <template #append>
        <chevron-down-icon
          size="18"
          color="var(--black)"
        />
      </template>
    </v-select>

    <v-btn
      color="primary"
      :disabled="disable"
      :loading="loading"
      depressed
      small
      height="36"
      class="rounded-lg"
      @click="send"
    >
	    <span class="small-3">{{ $t("document-flow.views.boxes.sign-document") }}</span>
    </v-btn>

    <!-- e-imzo форма -->
    <form class="d-none" name=testform>
      <label id="message"></label>
      <p>{{$t('document-flow.views.boxes.select-key-type')}}:</p>
      <input type="radio" id="pfx" name="keyType" value="pfx" onchange="keyType_changed()" checked="checked"><label
      for="pfx">PFX</label> - <select name="key" @change="cbChanged(this)"></select><br/>
      <input type="radio" id="idcard" name="keyType" value="idcard" onchange="keyType_changed()"><label for="idcard">ID-card</label>
      - <label id="plugged">{{$t('document-flow.views.boxes.no-connected')}}</label><br>
      <br/>
      {{$t('document-flow.views.boxes.signature-text')}} <br/>
      <textarea name="data"></textarea><br/>
      <p>{{$t('document-flow.views.boxes.select-document-type')}}:</p>
      <input type="radio" id="attached" name="pkcs7Type" value="attached" onchange="pkcs7Type_changed()"
             checked="checked"><label for="attached">{{$t('document-flow.views.boxes.attached')}}</label><br/>
      <input type="radio" id="detached" name="pkcs7Type" value="detached" onchange="pkcs7Type_changed()"><label
      for="detached">{{$t('document-flow.views.boxes.detached')}}</label><br>
      <br/>
      <button @click="signDocument" type="button" id="signButton">{{$t('document-flow.views.boxes.sign-with-pfx-key')}}</button>
      <br/>
      <label id="progress"></label>
      <br/>
      {{$t('document-flow.views.boxes.id-key')}}: <label id="keyId"></label><br/>
      <br/>
      <label id="pkcs7Type_label">{{$t('document-flow.views.boxes.signed-document')}}</label><br/>
      <textarea name="pkcs7"></textarea><br/>
    </form>
    <!-- e-imzo форма -->
  </div>
</template>

<script>
import { ChevronDownIcon } from "vue-feather-icons"

const EIMZO_MAJOR = 3;
const EIMZO_MINOR = 37;
export default {
	name: "SignWithKeyButton",
	props: {
		signModel: {
			type: Object,
			default: () => {}
		},
    /*
    *
    * */
    rules: {
      type: Boolean
    },
		/*
    *
    * */
		loading: {
			type: Boolean
		},
		/*
		*
		* */
		large: {
			type: Boolean
		}
	},
	components: {
		ChevronDownIcon
	},
	data() {
		return {
			pkcs7: "",
			keyId: "",
			keyValue: "",
			keyUsersList: [],
		}
	},
  computed: {
    disable() {
      return this.rules
    }
  },
	mounted() {
		this.appLoad()
	},
	methods: {
		signDocument(pkcs7) {
      this.$emit("emit:sign", pkcs7)
			// let model = {
			// 	pkcs7: this.pkcs7,
			// 	// review_id: this.reviewGetOne.review_id,
			// 	// assignment_ids: this.getCreatedResolutionList.map((item) => item.id),
			// 	is_verified: true,
			// 	...this.signModel
			// }
      //
			// // this.assignDocumentList(model)
		},
		/*
		*
		* */
		cbChanged(c) {
			this.keyId = "";
		},
		/*
		*
		* */
		appLoad() {
			EIMZOClient.API_KEYS = [
				'localhost', '96D0C1491615C82B9A54D9989779DF825B690748224C2B04F500F370D51827CE2644D8D4A82C18184D73AB8530BB8ED537269603F61DB0D03D2104ABF789970B',
				'127.0.0.1', 'A7BCFA5D490B351BE0754130DF03A068F855DB4333D43921125B9CF2670EF6A40370C646B90401955E1F7BC9CDBF59CE0B2C5467D820BE189C845D0B79CFC96F',
				'null', 'E0A205EC4E7B78BBB56AFF83A733A1BB9FD39D562E67978CC5E7D73B0951DB1954595A20672A63332535E13CC6EC1E1FC8857BB09E0855D7E76E411B6FA16E9D',
				'go.asakabank.uz', '22F652CA374900B57C8B7E7375BA4DBA5E7CF9E055CA2B449450E2DFACF8900B878414EC7762D86DDC62592CAB8C3DA1C21DC2190F5FA27AA0B809CE4624F0B6'
			];

			EIMZOClient.checkVersion((major, minor) => {
				const newVersion = EIMZO_MAJOR * 100 + EIMZO_MINOR;
				const installedVersion = parseInt(major) * 100 + parseInt(minor);
				if (installedVersion < newVersion) {
					this.$toast.error(this.$t('document-flow.views.boxes.error-3'))
				} else {
					EIMZOClient.installApiKeys(() => {
						this.uiLoadKeys();
					}, (e, r) => {
						if (r) {
							this.$toast.error(r)
						} else {
							this.$toast.error(e)
						}
					});
				}
			}, (e, r) => {
				if (r) {
					this.$toast.error(r)
				} else {
					console.log(e)
					alert(this.$t('document-flow.views.boxes.key-not-found'))
				}
			});
		},
		/*
		*
		* */
		uiLoadKeys() {
			this.uiClearCombo();
			EIMZOClient.listAllUserKeys((o, i) => {
				const itemId = "itm-" + o.serialNumber + "-" + i;
				return itemId;
			}, (itemId, v) => {
				return this.uiCreateItem(itemId, v);
			}, (items, firstId) => {
				this.uiFillCombo(items);
				this.uiComboSelect(firstId);
			}, (e, r) => {
				if (e) {
					this.$toast.error(this.$t('document-flow.views.boxes.error-1') + e)
				} else {
					console.log(r);
				}
			});
			EIMZOClient.idCardIsPLuggedIn((yes) => {
				document.getElementById('plugged').innerHTML = yes ? this.$t('document-flow.views.boxes.connected') : this.$t('document-flow.views.boxes.no-connected');
			}, (e, r) => {
				if (e) {
					this.$toast.error(this.$t('document-flow.views.boxes.error-1') + e)
				} else {
					console.log(r);
				}
			})
		},
		/*
    *
    * */
		uiComboSelect(itm) {
			if (itm) {
				const id = document.getElementById(itm);
				id.setAttribute('selected', 'true');
			}
		},
		/*
		*
		* */
		uiFillCombo(items) {
			setTimeout(() => {
        const combo = document.testform.key;
        for (let itm in items) {
          combo.append(items[itm]);
        }
        if (items.length){
          for (let item in items) {
            this.keyUsersList.push({
              name: items[item].text,
              value: items[item].value
            })
          }
          this.keyValue = items[0].value
        }else {
          alert(this.$t('document-flow.views.boxes.key-not-found'))
        }
      }, 1000)
		},
		/*
		*
		* */
		uiCreateItem(itmkey, vo) {
			const now = new Date();
			vo.expired = dates.compare(now, vo.validTo) > 0;
			const itm = document.createElement("option");
			itm.value = itmkey;
			itm.text = vo.CN;
			if (!vo.expired) {

			} else {
				itm.style.color = 'gray';
				itm.text = itm.text + this.$t('document-flow.views.boxes.expired');
			}
			itm.setAttribute('vo', JSON.stringify(vo));
			itm.setAttribute('id', itmkey);
			return itm;
		},
		/*
		*
		* */
		uiClearCombo() {
      setTimeout(() => {
        let combo = document.testform.key;
        combo.length = 0;
      }, 1000)
		},
    send() {
      let keyType = document.testform.keyType.value;
      let pkcs7Type = document.testform.pkcs7Type.value;
      let itm = this.keyValue;
      if (itm) {
        let id = document.getElementById(itm);
        let vo = JSON.parse(id.getAttribute('vo'));
        let data = "Asakabank AJ Fishka";
        let keyId = this.keyId;
        if (keyId === "idcard") {
          keyId = null;
        }
        if (keyId) {
          EIMZOClient.createPkcs7(keyId, data, null, (pkcs7) => {
            this.pkcs7 = pkcs7;
            this.signDocument(pkcs7);
          }, (e, r) => {
            if (r) {
              if (r.indexOf("BadPaddingException") != -1) {
                this.$toast.error(this.$t('document-flow.views.boxes.error-4'));
              } else {
                this.$toast.warning(r);
              }
            } else {
              document.getElementById('keyId').innerHTML = '';
              this.$toast.error(this.$t('document-flow.views.boxes.error-2'));
            }
            if (e) this.wsError(e);
          }, pkcs7Type === "detached");
        } else {
          EIMZOClient.loadKey(vo, (id) => {
            this.keyId = id;
            EIMZOClient.createPkcs7(id, data, null, (pkcs7) => {
              this.pkcs7 = pkcs7;
              this.signDocument(pkcs7);
            }, (e, r) => {
              if (r) {
                if (r.indexOf("BadPaddingException") != -1) {
                  this.$toast.error(this.$t('document-flow.views.boxes.error-4'));
                } else {
                  this.$toast.warning(r);
                }
              } else {
                document.getElementById('keyId').innerHTML = '';
                this.$toast.error(this.$t('document-flow.views.boxes.error-2'));
              }
              if (e) this.wsError(e);
            }, pkcs7Type === "detached");
          }, (e, r) => {
            if (r) {
              if (r.indexOf("BadPaddingException") != -1) {
                this.$toast.error(this.$t('document-flow.views.boxes.error-4'));
              } else {
                this.$toast.error(r);
              }
            } else {
              this.$toast.error(this.$t('document-flow.views.boxes.error-2'));
            }
            if (e) this.wsError(e);
          });
        }
      } else {
        this.$toast.error("hide")
      }
    },
	}
}
</script>

<style>
.sign-select.v-text-field fieldset {
	color: transparent !important;
}

.sign-select .v-select__selection,
.sign-select .v-input__append-inner svg {
	color: var(--primary-1) !important;
}

.sign-select .v-input__slot {
  background: var(--primary-1-light) !important;
  border-color: var(--primary-1-light) !important;
}

.content-large > button[type="button"],
.content-large .v-input__slot {
	height: 43px !important;
}

.content-large > button[type="button"] .small-3 {
	font-size: 14px !important;
}

.content-large .v-select__slot .v-input__append-inner {
	margin-top: 13px !important;
}
</style>
