<template>
  <v-menu offset-y min-width="150">
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        v-bind="attrs"
        v-on="on"
        depressed
        color="transparent"
        :ripple="false"
        height="56"
        class="px-0"
      >
        <div class="app-toolbar__user d-flex align-center mx-4 text-decoration-none">
          <div class="user-avatar d-flex align-center rounded-circle overflow-hidden">
            <v-avatar
              :color="currentUser.color"
              size="36"
            >
              <template v-if="currentUser.avatar">
                <img :src="currentUser.avatar.url" alt="User avatar" class="object-cover w-100 h-100">
              </template>

              <template v-else>
                <template v-if="currentUser.first_name">
                  <span class="text-white">{{ currentUser.first_name | getFirstCharacterWithoutDot }}</span>
                </template>
              </template>
            </v-avatar>
          </div>
          <div class="ml-2 text-left">
            <p class="small-3 font-400 mb-0 font-500">{{ currentUser.first_name }}</p>
            <span class="d-block small-3 font-600">{{ currentUser.last_name }}</span>
          </div>
        </div>
      </v-btn>
    </template>

    <v-list>
      <v-list-item>
        <v-list-item-title>
          <router-link :to="{name: 'MainUserProfile'}" class="d-block text-decoration-none py-3">
            <v-icon color="primary">
              mdi-account-outline
            </v-icon>
            <span class="ml-3 font-500">{{$t('layout.profile')}}</span>
          </router-link>
        </v-list-item-title>
      </v-list-item>
      <v-list-item class="user-dropdown-item">
        <v-list-item-title>
          <button @click="logout" type="button" class="d-flex align-center text-decoration-none py-3 w-100">
            <v-icon color="error" size="22">
              mdi-logout-variant
            </v-icon>
            <span class="ml-3 error-text font-500 text-left">{{$t('layout.logout')}}</span>
          </button>
        </v-list-item-title>
      </v-list-item>
    </v-list>
  </v-menu>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
	name: "HeaderUser",
	computed: {
		...mapGetters({
			currentUser: "auth/getCurrentUser",
			userHandShakeSocket: "socket/getUserHandShakeSocket",
			getChatSocket: "socket/getChatSocket",
		})
	},
	methods: {
		...mapActions({
			fetchCurrentUserBirthday: "fetchCurrentUserBirthday",
			fetchResetUserInfo: "auth/fetchResetUserInfo",
      resetInboxModels: "documentFlowBoxesInbox/resetInboxModels",
		}),
		/*
		*
		* */
		logout() {
			// if(!confirm(`Do you want to leave ?`)) {
			// 	return void 0;
			// }

			this.$store.dispatch("auth/logOut")
			.then(() => {
				this.fetchResetUserInfo();
				this.$socket.onCloseChannel();
				this.fetchCurrentUserBirthday(false)
        this.resetInboxModels()
				// if(this.getChatSocket) {
				//   this.getChatSocket.onCloseChannel()
				// }
				// console.log("CHAT", this.getChatSocket);
				// console.log("HANDSHAKE", this.userHandShakeSocket);
				// this.userHandShakeSocket.onCloseChannel()

				this.$router.push({
					name: "AuthLogin"
				})
			})
			.catch(() => {
				this.$router.push({
					name: "AuthLogin"
				})
			})
		}
	}
}
</script>

<style>
.user-dropdown-item:hover {
  background: var(--transparent-4) !important;
}
</style>
