<template>
	<v-menu offset-y min-width="140">
		<template v-slot:activator="{ on, attrs }">
			<v-btn
				v-bind="attrs"
				v-on="on"
				depressed
				color="transparent"
				:ripple="false"
				height="44"
				class="px-3"
			>
      <globe-icon size="20" color="#5964D1"/>
      <span class="mr-1 ml-2">
        {{ $t('layout.language') }}
      </span>
      <chevron-down-icon size="20" />
			</v-btn>
		</template>
		<v-list>
			<v-list-item class="user-dropdown-item">
				<v-list-item-title>
					<button type="button" @click="() => setLocale('uz')" class="py-3 w-100 font-500 text-left">
						O'zbek tili
					</button>
				</v-list-item-title>
			</v-list-item>
      <v-list-item class="user-dropdown-item">
				<v-list-item-title>
					<button type="button" @click="() => setLocale('ru')" class="py-3 w-100 font-500 text-left">
						Русский язык
					</button>
				</v-list-item-title>
			</v-list-item>
		</v-list>
	</v-menu>
</template>
<script>
import { changeLocale, getLocale } from "@/plugins/i18n";
import { ChevronDownIcon, GlobeIcon } from "vue-feather-icons";
export default {
	name: "Language",
  components: {
    ChevronDownIcon,
    GlobeIcon
  },
  data(){
    return {
      locale: 'uz',
    }
  },
  mounted() {
    this.locale = getLocale();
  },
	methods: {
    setLocale(locale){
      this.locale = locale;
      changeLocale(locale);
    }
	},
}
</script>

<style>
.user-dropdown-item:hover {
	background: var(--transparent-4) !important;
}
</style>
