<template>
	<router-view />
</template>

<script>
import {mapState} from "vuex";

export default {
	name: "index",
	computed: {
		...mapState({
			factureCurrentUser: state => state.facture.factureCurrentUser
		})
	},
	created() {
		this.getFactureCurrentUser();
	},
	methods: {
		getFactureCurrentUser() {
			this.$axios.get(`/facture/get_user/`)
				.then(({ data }) => {
					this.$store.state.facture.factureCurrentUser = data;
				})
		}
	}
}
</script>

<style scoped>

</style>
