<script>
export default {
	name: "MagnifyIcon"
}
</script>

<template>
	<svg width="89" height="88" viewBox="0 0 89 88" fill="none" xmlns="http://www.w3.org/2000/svg">
		<circle cx="44.5" cy="44" r="44" fill="#99A2AB"/>
		<mask id="path-2-inside-1_2259_9162" fill="white">
			<path d="M8.5 44C8.5 24.1178 24.6178 8 44.5 8C64.3823 8 80.5 24.1178 80.5 44C80.5 63.8823 64.3823 80 44.5 80C24.6178 80 8.5 63.8823 8.5 44Z"/>
		</mask>
		<path d="M8.5 44C8.5 24.1178 24.6178 8 44.5 8C64.3823 8 80.5 24.1178 80.5 44C80.5 63.8823 64.3823 80 44.5 80C24.6178 80 8.5 63.8823 8.5 44Z" fill="white" fill-opacity="0.2"/>
		<path d="M8.5 40C8.5 20.1177 24.6177 4 44.5 4C64.3823 4 80.5 20.1177 80.5 40V44C80.5 26.3269 64.3823 12 44.5 12C24.6177 12 8.5 26.3269 8.5 44V40ZM80.5 80H8.5H80.5ZM8.5 80V8V80ZM80.5 8V80V8Z" fill="white" fill-opacity="0.2" mask="url(#path-2-inside-1_2259_9162)"/>
		<g filter="url(#filter0_d_2259_9162)">
			<circle cx="43.3333" cy="43.3327" r="12.6667" stroke="white" stroke-width="6"/>
			<path d="M52.6666 52.666L57.3333 57.3327" stroke="white" stroke-width="6" stroke-linecap="round"/>
		</g>
		<defs>
			<filter id="filter0_d_2259_9162" x="23.6666" y="25.666" width="40.6666" height="40.666" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
				<feFlood flood-opacity="0" result="BackgroundImageFix"/>
				<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
				<feOffset dy="2"/>
				<feGaussianBlur stdDeviation="2"/>
				<feComposite in2="hardAlpha" operator="out"/>
				<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0"/>
				<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2259_9162"/>
				<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2259_9162" result="shape"/>
			</filter>
		</defs>
	</svg>
</template>

<style scoped>

</style>