<script>
export default {
	name: "QuestionIcon"
}
</script>

<template>
	<svg width="67" height="66" viewBox="0 0 67 66" fill="none" xmlns="http://www.w3.org/2000/svg">
		<circle cx="33.5" cy="33" r="33" fill="#FFAF02"/>
		<mask id="path-2-inside-1_2294_10670" fill="white">
			<path d="M6.5 33C6.5 18.0883 18.5883 6 33.5 6C48.4117 6 60.5 18.0883 60.5 33C60.5 47.9117 48.4117 60 33.5 60C18.5883 60 6.5 47.9117 6.5 33Z"/>
		</mask>
		<path d="M6.5 33C6.5 18.0883 18.5883 6 33.5 6C48.4117 6 60.5 18.0883 60.5 33C60.5 47.9117 48.4117 60 33.5 60C18.5883 60 6.5 47.9117 6.5 33Z" fill="white" fill-opacity="0.2"/>
		<path d="M6.5 30C6.5 15.0883 18.5883 3 33.5 3C48.4117 3 60.5 15.0883 60.5 30V33C60.5 19.7452 48.4117 9 33.5 9C18.5883 9 6.5 19.7452 6.5 33V30ZM60.5 60H6.5H60.5ZM6.5 60V6V60ZM60.5 6V60V6Z" fill="white" fill-opacity="0.2" mask="url(#path-2-inside-1_2294_10670)"/>
		<g filter="url(#filter0_d_2294_10670)">
			<path d="M36.7818 42.9402C36.7818 43.7889 36.4447 44.6029 35.8446 45.203C35.2445 45.8031 34.4305 46.1402 33.5818 46.1402C32.7331 46.1402 31.9192 45.8031 31.3191 45.203C30.719 44.6029 30.3818 43.7889 30.3818 42.9402C30.3818 42.0915 30.719 41.2776 31.3191 40.6775C31.9192 40.0774 32.7331 39.7402 33.5818 39.7402C34.4305 39.7402 35.2445 40.0774 35.8446 40.6775C36.4447 41.2776 36.7818 42.0915 36.7818 42.9402Z" fill="white"/>
			<path fill-rule="evenodd" clip-rule="evenodd" d="M33.5356 24.6244C32.4636 24.6244 31.5436 24.9444 30.8956 25.402C30.2716 25.8436 29.9628 26.3572 29.8732 26.8004C29.7408 27.3928 29.3815 27.9097 28.8724 28.2403C28.3632 28.5708 27.7448 28.6886 27.1498 28.5685C26.5548 28.4483 26.0305 28.0997 25.6896 27.5974C25.3486 27.0952 25.2181 26.4793 25.326 25.882C25.6892 24.0804 26.806 22.61 28.2204 21.61C29.6924 20.57 31.558 19.9844 33.5356 19.9844C37.6268 19.9844 41.8684 22.7204 41.8684 27.114C41.8684 29.658 40.3564 31.7156 38.398 32.9156C37.8731 33.2368 37.2421 33.3364 36.6438 33.1923C36.0454 33.0483 35.5289 32.6725 35.2076 32.1476C34.8864 31.6227 34.7868 30.9916 34.9309 30.3933C35.0749 29.795 35.4507 29.2784 35.9756 28.9572C36.8876 28.3988 37.2284 27.6868 37.2284 27.114C37.2284 26.1956 36.0844 24.6244 33.5356 24.6244Z" fill="white"/>
			<path fill-rule="evenodd" clip-rule="evenodd" d="M33.5358 30.8086C34.8158 30.8086 35.8558 31.8454 35.8558 33.1286V35.5318C35.8558 36.1471 35.6114 36.7372 35.1763 37.1723C34.7412 37.6074 34.1511 37.8518 33.5358 37.8518C32.9205 37.8518 32.3304 37.6074 31.8953 37.1723C31.4602 36.7372 31.2158 36.1471 31.2158 35.5318V33.1286C31.2158 31.8486 32.2542 30.8086 33.5358 30.8086Z" fill="white"/>
			<path fill-rule="evenodd" clip-rule="evenodd" d="M39.1823 29.7468C39.339 30.0083 39.4426 30.2982 39.4872 30.5998C39.5318 30.9014 39.5166 31.2089 39.4423 31.5046C39.368 31.8003 39.2361 32.0785 39.0542 32.3232C38.8723 32.5679 38.644 32.7744 38.3823 32.9308L34.7279 35.118C34.2 35.4341 33.5681 35.5276 32.9713 35.3779C32.3745 35.2281 31.8616 34.8475 31.5455 34.3196C31.2293 33.7917 31.1358 33.1598 31.2856 32.563C31.4353 31.9662 31.816 31.4533 32.3439 31.1372L35.9999 28.9484C36.2613 28.7919 36.5511 28.6885 36.8525 28.644C37.154 28.5995 37.4613 28.6149 37.7568 28.6891C38.0523 28.7634 38.3303 28.8952 38.5749 29.077C38.8195 29.2587 39.0259 29.4852 39.1823 29.7468Z" fill="white"/>
		</g>
		<defs>
			<filter id="filter0_d_2294_10670" x="14" y="16" width="40" height="40" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
				<feFlood flood-opacity="0" result="BackgroundImageFix"/>
				<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
				<feOffset dy="3"/>
				<feGaussianBlur stdDeviation="2"/>
				<feComposite in2="hardAlpha" operator="out"/>
				<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0"/>
				<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2294_10670"/>
				<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2294_10670" result="shape"/>
			</filter>
		</defs>
	</svg>
</template>

<style scoped>

</style>