<script>
export default {
	name: "SuccessIcon"
}
</script>

<template>
	<svg width="67" height="66" viewBox="0 0 67 66" fill="none" xmlns="http://www.w3.org/2000/svg">
		<circle cx="33.5" cy="33" r="33" fill="#39C286"/>
		<mask id="path-2-inside-1_2294_10874" fill="white">
			<path d="M6.5 33C6.5 18.0883 18.5883 6 33.5 6C48.4117 6 60.5 18.0883 60.5 33C60.5 47.9117 48.4117 60 33.5 60C18.5883 60 6.5 47.9117 6.5 33Z"/>
		</mask>
		<path d="M6.5 33C6.5 18.0883 18.5883 6 33.5 6C48.4117 6 60.5 18.0883 60.5 33C60.5 47.9117 48.4117 60 33.5 60C18.5883 60 6.5 47.9117 6.5 33Z" fill="white" fill-opacity="0.2"/>
		<path d="M6.5 30C6.5 15.0883 18.5883 3 33.5 3C48.4117 3 60.5 15.0883 60.5 30V33C60.5 19.7452 48.4117 9 33.5 9C18.5883 9 6.5 19.7452 6.5 33V30ZM60.5 60H6.5H60.5ZM6.5 60V6V60ZM60.5 6V60V6Z" fill="white" fill-opacity="0.2" mask="url(#path-2-inside-1_2294_10874)"/>
		<g filter="url(#filter0_d_2294_10874)">
			<path d="M26 33.0007L31.6569 38.6575L42.97 27.3438" stroke="white" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"/>
		</g>
		<defs>
			<filter id="filter0_d_2294_10874" x="14" y="16" width="40" height="40" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
				<feFlood flood-opacity="0" result="BackgroundImageFix"/>
				<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
				<feOffset dy="3"/>
				<feGaussianBlur stdDeviation="2"/>
				<feComposite in2="hardAlpha" operator="out"/>
				<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0"/>
				<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2294_10874"/>
				<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2294_10874" result="shape"/>
			</filter>
		</defs>
	</svg>
</template>

<style scoped>

</style>