<template>
	<div class="facture-incoming-list h-100">
		<app-wrapper>
			<template #body>
				<div class="d-flex align-center px-4">
					<h3 class="line-base mr-4">{{$t('facture.inbox')}}</h3>

					<div class="d-flex align-center justify-end w-100">
						<filter-modal
							active-route="incoming-list"
							@emit:filter="filter"
							@emit:filter:update="filterUpdate"
						/>
					</div>

				</div>
			</template>
		</app-wrapper>

		<div class="d-flex align-center justify-center h-100 mt-5">
			<div class="d-flex w-100 h-100">
				<div class="d-flex flex-column p-relative w-100">
					<div class="d-flex flex-column h-100 bg-4 rounded-20 pa-1 overflow-hidden h-100">
						<perfect-scrollbar class="h-100">
							<app-table
								bordered
								:table-width="1800"
							>
								<template #tableHeader>
									<th width="30"></th>
									<th>{{$t('facture.document-name')}}</th>
									<th>{{$t('facture.treaty')}}</th>
									<th>{{$t('facture.total-amount')}}</th>
									<th>{{$t('facture.counter-party')}}</th>
									<th>{{$t('facture.status')}}</th>
								</template>

								<template #tableBody>
									<template>
										<tr v-for="(document, index) in 5" :key="index">
											<td>
												<v-icon color="grey">mdi-file-document-outline</v-icon>
											</td>
											<td>
												<div class="d-flex flex-column">
													<router-link
														to="/"
														class="text-decoration-none small-2"
													>
														<span>Счет-фактура №539 от 28.11.2022</span>
													</router-link>
													<div class="d-flex tiny align-center mt-1">
														<v-icon size="11" color="black" class="mr-1">mdi-clock-outline</v-icon>
														<span>Создан: 29.11.2022</span>
														<v-icon size="11" color="black" class="mr-1 ml-3">mdi-clock-outline</v-icon>
														<span>Обновлен: 29.11.2022</span>
													</div>
												</div>
											</td>
											<td>
												<span class="font-400 size-13">№01/10/51 от 21.11.2022</span>
											</td>
											<td>
												<span class="font-400 size-13">450 000.00</span>
											</td>
											<td width="600">
												<div class="d-flex flex-column">
													<span class="font-400 size-13 line-truncate">"KADRLAR MALAKASINI OSHIRISH VA STATISTIK TADQIQOTLAR INSTITUTI"</span>
													<div class="d-flex align-center mt-1">
														<v-icon size="12" class="mr-1">mdi-information</v-icon>
														<span class="font-400 tiny">ИНН: 200523428</span>
													</div>
												</div>
											</td>
											<td>
												<v-chip color="primary">
													<span class="small-3">Требуется подпись</span>
												</v-chip>
											</td>
										</tr>
									</template>
								</template>
							</app-table>
						</perfect-scrollbar>

						<div class="d-flex align-center justify-space-between py-2 px-4 border-top">
              <span class="small-2 font-500 text-dark">
<!--                1-10 из 195 позиций-->
              </span>

							<app-pagination @emit:up="paginate" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { mapGetters } from "vuex";
import FilterModal from "../../../../common/components/FilterModal";

export default {
	name: "List",
	components: {
		FilterModal
	},
	computed: {
		...mapGetters({
			currentUser: "auth/getCurrentUser",
			test: "facture/getTest"
		})
	},
	methods: {
		filter(){

		},
		/**/
		filterUpdate(){

		},
		/**/
		paginate(){

		}
	}
}
</script>

<style>
.facture-incoming-list .ps{
	height: calc(100vh - 270px);
}

</style>
