<template>
  <div class="survey-list-view d-flex flex-column h-100">
    <app-wrapper>
      <template #body>
        <div class="d-flex align-center">
          <h3 class="line-base mr-4">{{$t('hr.survey.completed-surveys')}}</h3>
        </div>
      </template>
    </app-wrapper>

    <div class="d-flex mt-5 overflow-hidden w-100 h-100">
      <div class="d-flex flex-column p-relative w-100">
        <app-loader v-if="loading" full-width :size="58" />

        <template v-else>
          <div class="d-flex flex-column h-100 bg-4 rounded-20 pa-1 overflow-hidden">
            <perfect-scrollbar class="d-flex flex-column flex-1 h-100">
              <app-table
                :table-width="1700"
              >
                <template #tableHeader>
                  <th width="75">№</th>
                  <th>{{$t('hr.survey.poll-name')}}</th>
                  <th width="300">{{$t('hr.survey.created-date')}}</th>
                  <th width="100">{{$t('hr.survey.action')}}</th>
                </template>

                <template #tableBody>
                  <template v-if="list.length">
                    <tr v-for="(item, index) in list" :key="index">
                      <td>
                        <span class="font-600">{{ index + 1 }}.</span>
                      </td>
                      <td>
                        <span class="font-600">{{ item.title }}</span>
                      </td>
                      <td>
                        <span class="font-600">{{ item.created_date | filterCalendarToTime }}</span>
                      </td>
                      <td>
                        <div class="d-flex align-center">
                          <app-tooltip top>
                            <template #content>
                              <v-btn
                                :to="{ name: 'HRCompletedID', params: { id: item.id } }"
                                color="warning"
                                icon
                                small
                                class="mr-1"
                              >
                                <eye-icon size="20" />
                              </v-btn>
                            </template>

                            <template #text>
                              {{$t('hr.survey.view')}}
                            </template>
                          </app-tooltip>
                        </div>
                      </td>
                    </tr>
                  </template>

                  <template v-else>
                    <tr>
                      <td :colspan="3">
                        <p class="heading-9 font-500 mb-0 text-center py-4">
                          {{$t('hr.survey.not-found')}}
                        </p>
                      </td>
                    </tr>
                  </template>
                </template>
              </app-table>
            </perfect-scrollbar>
          </div>
        </template>
      </div>
    </div>

    <app-pagination @emit:up="paginate" class="mt-3" />
  </div>
</template>

<script>
import { EyeIcon, PlusIcon } from "vue-feather-icons"
import { mapActions, mapGetters } from "vuex"

export default {
  name: "CompletedList",
  data() {
    return {
      loading: false,
      list: [],
      page: 1
    }
  },
  components: {
    PlusIcon,
    EyeIcon
  },
  computed: {
    ...mapGetters({
      currentUser: "auth/getCurrentUser"
    })
  },
  created() {
    this.getList({
      page: this.$route.query.page || 1
    })

    this.page = this.$route.query.page || 1
  },
  methods: {
    ...mapActions({
      fetchPagination: "fetchPagination",
    }),
    /*
    *
    * */
    getList(params) {
      this.$axios.get(`/survey/`, {
        params: {
          ...params
        }
      })
      .then(({ data }) => {
        this.list = data.results

        this.fetchPagination(data.count)
      })
    },
    /*
    *
    * */
    paginate(value) {
      this.page = value

      this.$router.replace({
        query: {
          page: this.page
        }
      }).catch(() => {})

      this.getList({
        page: this.page
      })
    }
  }
}
</script>
