<template>
  <perfect-scrollbar class="completed-read-view d-flex flex-column flex-1">
    <app-wrapper class="flex-1">
      <template #body>
        <div>
          <template>
            <app-wrapper v-for="(pool, index) in poolModel.survey_questions" :key="index" class="p-relative overflow-hidden rounded-15 my-4 border-all">
              <template #body>
                <span class="font-500 d-block mb-2">{{ pool.title }}</span>
                <span class="small-2 d-block font-500">{{ pool.total_answered_count }} {{$t('hr.survey.response')}}</span>

                <template v-if="pool.input_type === 'radio' || pool.input_type === 'select'">
                  <div class="d-flex justify-center">
                    <apexchart
                      type="pie"
                      width="325"
                      :options="{labels: pool.label}"
                      :series="pool.survey_answers"
                    ></apexchart>
                  </div>
                </template>

                <template v-if="pool.input_type === 'checkbox'">
                  <apexchart
                    type="bar"
                    height="325"
                    :options="{
                      ...barChartOptions,
                      xaxis: {
                        categories: pool.label,
                      },
                    }"
                    :series="[{ data: pool.survey_answers }]"
                  ></apexchart>
                </template>

                <template v-if="pool.input_type === 'text'">
                  <div style="max-height: 500px" class="overflow-y-auto mt-4">
                    <template>
                      <div v-for="(answer, index) in pool.options[0].count" :key="index" class="bg-2 pa-3 rounded mb-1">
                        {{ answer }}
                      </div>
                    </template>
                  </div>
                </template>
              </template>
            </app-wrapper>
          </template>
        </div>
      </template>
    </app-wrapper>
  </perfect-scrollbar>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "CompletedRead",
  data() {
    return {
      poolModel: {},
      barChartOptions: {
        plotOptions: {
          bar: {
            horizontal: true,
            dataLabels: {
              position: 'top',
            },
          }
        },
        dataLabels: {
          enabled: true,
          offsetX: -10,
          style: {
            fontSize: '12px',
            colors: ['#fff']
          }
        }
      }
    }
  },
  computed: {
    ...mapGetters({
      currentUser: "auth/getCurrentUser"
    })
  },
  created() {
    this.getOne()
  },
  methods: {
    getOne() {
      this.$http.get(`/survey/${ this.$route.params.id }/`)
      .then(({ data }) => {
        this.poolModel = {
          title: data.title,
          survey_questions: data.survey_questions.map(survey => {
            return {
              ...survey,
              label : survey.options.map(option => `${option.name} / (${option.count})`),
              survey_answers: survey.options.map(option => option.count)
            }
          })
        }
      })
    },
  }
}
</script>
