<template>
  <div class="create-survey-view">
    <survey-form :form-type="$store.state.formType.create" />
  </div>
</template>

<script>
import SurveyForm from "./components/SurveyForm"

export default {
  name: "Create",
  components: {
    SurveyForm
  }
}
</script>
