<template>
  <div class="survey-list-view d-flex flex-column h-100">
    <app-wrapper>
      <template #body>
        <div class="d-flex align-center ma-n5 py-3 px-4">
          <h3 class="line-base mr-4">{{$t('hr.survey.surveys')}}</h3>

          <v-spacer />

          <app-button height="40" :to="{ name: 'HRSurveyCreate' }">
            <template #prepend>
              <plus-icon size="20" />
            </template>

            <template #default>
              {{$t('hr.survey.create-survey')}}
            </template>
          </app-button>
        </div>
      </template>
    </app-wrapper>

    <div class="d-flex mt-5 overflow-hidden w-100 h-100">
      <div class="d-flex flex-column p-relative w-100">
        <app-loader v-if="loading" full-width :size="58" />

        <template v-else>
          <div class="d-flex flex-column h-100 bg-4 rounded-20 pa-1 overflow-hidden">
            <perfect-scrollbar class="d-flex flex-column flex-1 h-100">
              <app-table
                :table-width="1700"
              >
                <template #tableHeader>
                  <th width="75">№</th>
                  <th>{{$t('hr.survey.name')}}</th>
                  <th width="300">{{$t('hr.survey.created-date')}}</th>
                  <th width="250">{{$t('hr.survey.action')}}</th>
                </template>

                <template #tableBody>
                  <template v-if="list.length">
                    <tr v-for="(item, index) in list" :key="index">
                      <td>
                        <span class="font-600">{{ index + 1 }}.</span>
                      </td>
                      <td>
                        <span class="font-600">{{ item.title }}</span>
                      </td>
                      <td>
                        <span class="font-600">{{ item.created_date | filterCalendarToTime }}</span>
                      </td>
                      <td>
                        <div class="d-flex align-center">
                          <app-tooltip top>
                            <template #content>
                              <v-switch
                                v-model="item.is_active"
                                inset
                                hide-details
                                @change="updateSurvey(item)"
                                class="mt-0"
                              ></v-switch>
                            </template>

                            <template #text>
                              <span v-if="item.is_active">{{$t('hr.survey.in-activation')}}</span>
                              <span v-else>{{$t('hr.survey.activation')}}</span>
                            </template>
                          </app-tooltip>

                          <app-tooltip top>
                            <template #content>
                              <v-btn
                                :to="{ name: 'HRSurveyUpdate', params: { id: item.id } }"
                                color="primary"
                                icon
                                small
                                class="mr-1"
                              >
                                <edit3-icon size="20" />
                              </v-btn>
                            </template>

                            <template #text>
                              {{$t('hr.survey.change')}}
                            </template>
                          </app-tooltip>

                          <app-tooltip top>
                            <template #content>
                              <v-btn
                                :to="{ name: 'HRSurveyRead', params: { id: item.id } }"
                                color="warning"
                                icon
                                small
                                class="mr-1"
                              >
                                <eye-icon size="20" />
                              </v-btn>
                            </template>

                            <template #text>
                              {{$t('hr.survey.view')}}
                            </template>
                          </app-tooltip>

                          <app-tooltip top>
                            <template #content>
                              <v-btn
                                color="error"
                                icon
                                small
                                class="mr-1"
                                @click="deleteSurvey(item.id)"
                              >
                                <trash2-icon size="20" />
                              </v-btn>
                            </template>

                            <template #text>
                              {{$t('hr.survey.delete')}}
                            </template>
                          </app-tooltip>
                        </div>
                      </td>
                    </tr>
                  </template>

                  <template v-else>
                    <tr>
                      <td :colspan="3">
                        <p class="heading-9 font-500 mb-0 text-center py-4">
                          {{$t('hr.survey.not-found')}}
                        </p>
                      </td>
                    </tr>
                  </template>
                </template>
              </app-table>
            </perfect-scrollbar>
          </div>
        </template>
      </div>
    </div>

    <app-pagination @emit:up="paginate" class="mt-3" />
  </div>
</template>

<script>
import { Edit3Icon, EyeIcon, PlusIcon, Trash2Icon } from "vue-feather-icons"
import { mapActions, mapGetters } from "vuex"

export default {
  name: "List",
  data() {
    return {
      loading: false,
      list: [],
      page: 1
    }
  },
  components: {
    PlusIcon,
    Edit3Icon,
    EyeIcon,
    Trash2Icon
  },
  computed: {
    ...mapGetters({
      currentUser: "auth/getCurrentUser"
    })
  },
  created() {
    this.getList({
      page: this.$route.query.page || 1,
      type: 'employee'
    })

    this.page = this.$route.query.page || 1
  },
  methods: {
    ...mapActions({
      fetchPagination: "fetchPagination",
    }),
    /*
    *
    * */
    getList(params) {
      this.$axios.get(`/survey/`, {
        params: {
          ...params
        }
      })
      .then(({ data }) => {
        this.list = data.results

        this.fetchPagination(data.count)
      })
    },
    /*
    *
    * */
    updateSurvey(item) {
      this.$axios.put(`/survey/${item.id}/`, {
        title: item.title,
        is_active: item.is_active
      })
      .then(() => {
        this.$toast.success(this.$t('hr.survey.updated'))

        this.getList({
          page: this.page,
          type: 'employee'
        })
      })
    },
    /*
    *
    * */
    deleteSurvey(id) {
      if(!confirm(this.$t('hr.survey.confirm-delete'))) {
        return
      }

      this.$axios.delete(`/survey/${id}/`)
      .then(() => {
        this.$toast.success(this.$t('hr.survey.deleted'))

        this.getList({
          page: this.page,
          type: 'employee'
        })
      })
    },
    /*
    *
    * */
    paginate(value) {
      this.page = value

      this.$router.replace({
        query: {
          page: this.page
        }
      }).catch(() => {})

      this.getList({
        page: this.page,
        type: 'employee'
      })
    }
  }
}
</script>
