<template>
  <div class="survey-show-view">
    <survey-form :form-type="$store.state.formType.read" />
  </div>
</template>

<script>
import SurveyForm from "./components/SurveyForm"

export default {
  name: "Show",
  components: {
    SurveyForm
  }
}
</script>
