<template>
  <div style="min-height: 100%">
    <div>
      <h3
        class="heading-10 mb-5 font-500 d-flex align-center"
        style="flex-wrap: wrap"
      >
        <router-link
          :to="`/control-tasks/tasks${this.querySearch}`"
          class="black--text text-decoration-none"
        >
          {{ $t("control-tasks.edit-task.tasks") }}
        </router-link>
        <svg class="mx-3" height="12" viewBox="0 0 8 12" width="8">
          <path
            fill="#000000"
            d="M6.83018 5.29019L2.59019 1.05019C2.49722 0.956464 2.38662 0.88207 2.26476 0.831301C2.1429 0.780533 2.0122 0.754395 1.88019 0.754395C1.74817 0.754395 1.61747 0.780533 1.49561 0.831301C1.37375 0.88207 1.26315 0.956464 1.17019 1.05019C0.983936 1.23756 0.879395 1.49101 0.879395 1.75519C0.879395 2.01938 0.983936 2.27283 1.17019 2.46019L4.71019 6.00019L1.17019 9.54019C0.983936 9.72756 0.879395 9.98101 0.879395 10.2452C0.879395 10.5094 0.983936 10.7628 1.17019 10.9502C1.26363 11.0429 1.37444 11.1162 1.49628 11.166C1.61812 11.2157 1.74858 11.241 1.88019 11.2402C2.01179 11.241 2.14226 11.2157 2.26409 11.166C2.38593 11.1162 2.49675 11.0429 2.59019 10.9502L6.83018 6.71019C6.92391 6.61723 6.99831 6.50663 7.04908 6.38477C7.09984 6.26291 7.12598 6.13221 7.12598 6.00019C7.12598 5.86818 7.09984 5.73748 7.04908 5.61562C6.99831 5.49376 6.92391 5.38316 6.83018 5.29019Z"
          />
        </svg>
        <span>{{ $t("control-tasks.edit-task.edit-task") }}</span>
      </h3>
    </div>
    <template v-if="loading">
      <app-loader content-width :size="58" />
    </template>
    <template v-else>
      <div class="pb-5">
        <div v-if="status" class="pa-5 shadow-6 rounded-20 bg-white">
          <div class="d-flex edit-task-column">
            <div class="ma-3 input-col">
              <span class="d-block font-600 small-2 mb-2">{{
                $t("control-tasks.edit-task.document-number")
              }}</span>
              <div class="app-input my-3">
                <v-text-field
                  background-color="var(--input-bg)"
                  clearable
                  dense
                  hide-details
                  outlined
                  style="border-radius: 10px;"
                  v-model="task.doc_number"
                ></v-text-field>
              </div>
            </div>
            <div class="ma-3 input-col">
              <span class="d-block font-600 small-2 mb-2">{{
                $t("control-tasks.edit-task.clause-number")
              }}</span>
              <div class="app-input my-3">
                <v-text-field
                  background-color="var(--input-bg)"
                  clearable
                  dense
                  hide-details
                  outlined
                  style="border-radius: 10px;"
                  v-model="task.clause_number"
                ></v-text-field>
              </div>
            </div>
            <div class="ma-3 input-col">
              <span class="d-block font-600 small-2 mb-2">{{
                $t("control-tasks.edit-task.document-date")
              }}</span>
              <div class="app-input my-3">
                <v-menu
                  :close-on-content-click="true"
                  min-width="auto"
                  offset-y
                  ref="dateMenu"
                  transition="scale-transition"
                  v-model="dateMenu"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      append-icon="mdi-calendar"
                      background-color="var(--input-bg)"
                      clearable
                      dense
                      hide-details
                      outlined
                      readonly
                      style="border-radius: 10px;"
                      v-bind="attrs"
                      v-model="task.doc_date"
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker no-title scrollable v-model="task.doc_date">
                  </v-date-picker>
                </v-menu>
              </div>
            </div>
            <div class="ma-3 input-col">
              <span class="d-block font-600 small-2 mb-2">{{
                $t("control-tasks.edit-task.deadline")
              }}</span>
              <div class="app-input my-3">
                <v-menu
                  :close-on-content-click="true"
                  min-width="auto"
                  offset-y
                  ref="deadlineMenu"
                  transition="scale-transition"
                  v-model="deadlineMenu"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      append-icon="mdi-calendar"
                      background-color="var(--input-bg)"
                      clearable
                      dense
                      hide-details
                      outlined
                      readonly
                      style="border-radius: 10px;"
                      v-bind="attrs"
                      v-model="task.deadline"
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker no-title scrollable v-model="task.deadline">
                  </v-date-picker>
                </v-menu>
              </div>
            </div>
            <div class="ma-3 input-col">
              <span class="d-block font-600 small-2 mb-2">Topshiriq turi</span>
              <div class="app-input my-3">
                <v-select
                  :items="roles"
                  :return-object="false"
                  @change="changeType"
                  append-icon="mdi-chevron-down"
                  background-color="var(--input-bg)"
                  clearable
                  dense
                  hide-details
                  item-text="name"
                  item-value="value"
                  outlined
                  style="border-radius: 10px;"
                  v-model="task.type"
                >
                </v-select>
              </div>
            </div>
            <template v-if="[0, 1, 2].includes(task.type)">
              <div class="ma-3 input-col">
                <span class="d-block font-600 small-2 mb-2">{{
                  $t("control-tasks.edit-task.document-type")
                }}</span>
                <div class="app-input my-3">
                  <v-select
                    return-object
                    :items="documentTypes"
                    append-icon="mdi-chevron-down"
                    background-color="var(--input-bg)"
                    clearable
                    dense
                    hide-details
                    item-text="title"
                    item-value="id"
                    style="border-radius: 10px;"
                    outlined
                    v-model="task.doc_type"
                  >
                  </v-select>
                </div>
              </div>
            </template>
            <template v-if="task && task.recurring">
              <div class="ma-3 input-col">
                <span class="d-block font-600 small-2 mb-2">Takrorlanish vaqti</span>
                <div class="app-input my-3">
                  <v-select
                    :items="durations"
                    :return-object="false"
                    append-icon="mdi-chevron-down"
                    background-color="var(--input-bg)"
                    clearable
                    dense
                    hide-details
                    item-text="name"
                    item-value="value"
                    outlined
                    disabled
                    style="border-radius: 10px;"
                    v-model="task.recurring"
                  >
                  </v-select>
                </div>
              </div>
              <div class="ma-3 input-col">
                <span class="d-block font-600 small-2 mb-2">Takrorlanishi</span>
                <div class="app-input my-3">
                  <span v-if="task && task.recurring">
                    <span style="color: #ffab00; font-weight: 500" v-if="task.do_recurring">Takrorlanmoqda</span>
                    <span style="color: red; font-weight: 500" v-else>Takrorlanish to'xtatilgan</span>
                  </span>
                </div>
              </div>
            </template>
          </div>
          <div class="input-bg rounded-20 my-4">
            <div class="pa-4 pb-1">
              <div class="app-tab">
                <v-tabs color="#fff" height="36" hide-slider v-model="tab">
                  <v-tab :ripple="false">
                    <div class="d-flex align-center px-3">
                      <type-icon size="16" class="mr-2" />
                      <span
                        class="text-transform-none small-2 line-base font-400"
                        >{{ $t("control-tasks.edit-task.text") }}</span
                      >
                    </div>
                  </v-tab>
                  <v-tab :ripple="false">
                    <div class="d-flex align-center px-3">
                      <paperclip-icon size="16" class="mr-2" />
                      <span
                        class="text-transform-none small-2 line-base font-400"
                        >{{ $t("control-tasks.edit-task.file") }}</span
                      >
                    </div>
                  </v-tab>
                </v-tabs>
              </div>
            </div>
            <v-tabs-items class="app-tab-items" v-model="tab">
              <v-tab-item>
                <quill-editor v-model="task.description" />
              </v-tab-item>
              <v-tab-item>
                <div class="file-upload-for-sending-document">
                  <div class="pa-4">
                    <div class="d-flex align-center flex-wrap">
                      <div class="d-flex flex-wrap">
                        <template>
                          <v-sheet
                            :key="index"
                            class="d-flex align-center border-all rounded-15 overflow-hidden mr-5 mb-2"
                            height="40"
                            style="border-color: var(--primary-1)"
                            v-for="(file, index) in files"
                          >
                            <a :href="file.url" target="_blank" class="d-flex align-center pl-4 h-100" style="cursor: pointer; color: #000000; text-decoration: none;">
                              <img alt="Icon" src="/img/icons/doc-icon.svg" />
                              <span
                                class="small-2 ml-2 mr-3 font-500 text-truncate"
                                style="max-width: 100px"
                                >{{ file.name }}</span
                              >
                            </a>
                            <v-btn
                              @click="deleteFile(file.id)"
                              color="error"
                              height="36"
                              min-width="36"
                              text
                              width="36"
                            >
                              <x-icon size="18" />
                            </v-btn>
                          </v-sheet>
                        </template>
                      </div>
                      <div class="d-flex mb-2">
                        <v-file-input
                          @change="uploadFiles"
                          class="flex-grow-0 d-none"
                          clear-icon=""
                          hide-details
                          id="fileUpload"
                          multiple
                          outlined
                          prepend-icon=""
                          ref="fileUploadRef"
                        />
                        <label class="d-flex align-center" for="fileUpload">
                          <span
                            class="primary-bg text-white small-2 px-4 rounded d-flex align-center pointer"
                            style="height: 40px; border-radius: 10px !important;"
                          >
                            <plus-icon size="20" />
                            <span class="line-base ml-2">{{
                              $t("control-tasks.edit-task.add-file")
                            }}</span>
                          </span>
                        </label>
                        <v-btn @click="toggleSearchDialog" color="primary" small depressed class="px-4 ml-3" style="height: 40px; border-radius: 10px;">
                          <search-icon
                            class="mr-1 d-block"
                            color="white"
                            size="18"
                          />
                          <span>{{$t('control-tasks.edit-task.search-file')}}</span></v-btn>
                      </div>
                    </div>
                    <template v-if="isProgressVisible">
                      <v-progress-circular
                        :color="isSuccess ? 'primary' : 'error'"
                        :rotate="-90"
                        :size="80"
                        :value="progressValue"
                        :width="12"
                        class="my-2"
                      >
                        {{ progressValue + "%" }}
                      </v-progress-circular>
                    </template>
                  </div>
                </div>
              </v-tab-item>
            </v-tabs-items>
          </div>
          <v-row>
            <v-col sm="12" md="6" lg="4">
              <template>
                <div class="d-flex align-center mb-3 justify-space-between">
                  <h3 class="my-0 font-500" style="font-size: 18px">
                    {{ $t("control-tasks.edit-task.affirmatives") }}
                  </h3>
                  <v-btn
                    @click="() => toggleDialog(2)"
                    class="d-flex align-center primary-text"
                    depressed
                    small
                    style="font-size: 16px; border-radius: 10px;"
                  >
                    <span
                      class="display-block mx-2"
                      style="width: 24px; height: 24px;"
                      ><plus-icon size="22"
                    /></span>
                    <span class="font-500">{{
                      $t("control-tasks.edit-task.add")
                    }}</span>
                  </v-btn>
                </div>
                <div v-if="affirmatives.length" style="padding: 0 0 10px 0">
                  <performer
                    :branches="branches"
                    :deleteUser="deleteUser"
                    :deleteUserLoading="deleteUserLoading"
                    :key="index"
                    :performer="performer"
                    :removePerformer="removePerformer"
                    v-for="(performer, index) in affirmatives"
                  />
                </div>
                <p v-else class="mb-5 mt-0 font-500" style="color: #17171780">
                  {{ $t("control-tasks.edit-task.affirmatives-not-added") }}
                </p>
              </template>
            </v-col>
            <v-col sm="12" md="6" lg="4">
              <template>
                <div class="d-flex align-center mb-3 justify-space-between">
                  <h3 class="my-0 font-500" style="font-size: 18px">
                    {{ $t("control-tasks.edit-task.affirmative-responses") }}
                  </h3>
                  <v-btn
                    @click="() => toggleDialog(1)"
                    class="d-flex align-center primary-text"
                    depressed
                    small
                    style="font-size: 16px; border-radius: 10px;"
                  >
                    <span
                      class="display-block mx-2"
                      style="width: 24px; height: 24px"
                      ><plus-icon size="22"
                    /></span>
                    <span class="font-500">{{
                      $t("control-tasks.edit-task.add")
                    }}</span>
                  </v-btn>
                </div>
                <div
                  v-if="affirmativeResponses.length"
                  style="padding: 0 0 10px 0"
                >
                  <performer
                    :branches="branches"
                    :deleteUser="deleteUser"
                    :deleteUserLoading="deleteUserLoading"
                    :key="index"
                    :performer="performer"
                    :removePerformer="removePerformer"
                    v-for="(performer, index) in affirmativeResponses"
                  />
                </div>
                <p v-else class="mb-5 mt-0 font-500" style="color: #17171780">
                  {{
                    $t(
                      "control-tasks.edit-task.affirmative-responses-not-added"
                    )
                  }}
                </p>
              </template>
            </v-col>
            <v-col sm="12" md="6" lg="4">
              <template>
                <div class="d-flex align-center mb-3 justify-space-between">
                  <h3 class="my-0 font-500" style="font-size: 18px">
                    {{ $t("control-tasks.edit-task.executors") }}
                  </h3>
                  <v-btn
                    @click="() => toggleDialog(0)"
                    class="d-flex align-center primary-text"
                    depressed
                    small
                    style="font-size: 16px; border-radius: 10px;"
                  >
                    <span
                      class="display-block mx-2"
                      style="width: 24px; height: 24px"
                      ><plus-icon size="22"
                    /></span>
                    <span class="font-500">{{
                      $t("control-tasks.edit-task.add")
                    }}</span>
                  </v-btn>
                </div>
                <div v-if="executors.length" style="padding: 0 0 10px 0">
                  <performer
                    :branches="branches"
                    :deleteUser="deleteUser"
                    :deleteUserLoading="deleteUserLoading"
                    :key="index"
                    :performer="performer"
                    :performers="performers"
                    :removePerformer="removePerformer"
                    :setPerformers="setPerformers"
                    v-for="(performer, index) in executors"
                  />
                </div>
                <p v-else class="mb-5 mt-0 font-500" style="color: #17171780">
                  {{ $t("control-tasks.edit-task.executors-not-added") }}
                </p>
              </template>
            </v-col>
          </v-row>
          <div style="justify-content: flex-end; display: flex">
            <v-btn
              @click="goTasks"
              color="danger"
              depressed
              small
              style="color: #ffffff; border-radius: 10px;"
              class="mr-3"
              >{{ $t("control-tasks.edit-task.cancel") }}</v-btn
            >
            <div v-if="saveLoading" class="d-inline-block">
              <app-loader :size="36" />
            </div>
            <v-btn v-else @click="saveTask" color="primary" depressed small style="border-radius: 10px">{{
              $t("control-tasks.edit-task.save")
            }}</v-btn>
          </div>
          <v-dialog
            @click:outside="toggleDialog"
            @keydown.esc="toggleDialog"
            content-class="add-user-modal"
            max-width="640"
            v-model="dialog"
          >
            <div class="pa-5 bg-white rounded-20 p-relative">
              <div class="d-flex justify-space-between align-center">
                <h3 class="my-0 font-500 heading-10">
                  {{ $t("control-tasks.edit-task.search-employees") }}
                </h3>
                <div v-if="performerType === 0" class="app-tab">
                  <v-tabs
                    centered
                    color="#fff"
                    height="40"
                    hide-slider
                    left
                    slider-color="#5964D1"
                    v-model="dialogTab"
                  >
                    <v-tab :ripple="false" href="#name">
                      <div class="d-flex align-center px-3">
                        <span class="text-transform-none small-2 line-base font-400">{{
                          $t("control-tasks.tasks.by-name")
                        }}</span>
                      </div>
                    </v-tab>
                    <v-tab :ripple="false" href="#position">
                      <div class="d-flex align-center px-3">
                        <span class="text-transform-none small-2 line-base font-400">{{
                          $t("control-tasks.tasks.by-position")
                        }}</span>
                      </div>
                    </v-tab>
                  </v-tabs>
                </div>
              </div>
              <div class="pb-3">
                <v-checkbox
                  :label="$t('control-tasks.edit-task.main-performer')"
                  color="rgb(89, 100, 209)"
                  hide-details
                  v-if="performerType === 0"
                  v-model="is_main"
                ></v-checkbox>
              </div>
              <div>
                <div v-if="performerType !== 0">
                  <div class="app-input mt-3">
                    <v-autocomplete
                      :filter="value => value"
                      :items="users"
                      :search-input.sync="search"
                      auto-select-first
                      background-color="var(--input-bg)"
                      clearable
                      hide-details
                      item-text="full_name"
                      item-value="id"
                      outlined
                      return-object
                      style="border-radius: 12px"
                      v-model="user"
                    >
                      <template #prepend-inner>
                        <search-icon
                          class="mr-1 d-block"
                          color="var(--text-4)"
                          size="20"
                        />
                      </template>
                      <template #append>
                        <div
                          class="h-100 w-100 d-flex justify-center align-center"
                        >
                          <app-loader v-if="searchLoading" :size="26" />
                        </div>
                      </template>
                      <template v-slot:item="{ item }">
                        <v-list-item-avatar :color="item.color">
                          <template v-if="item.avatar">
                            <img
                              :src="item.avatar.url"
                              alt="Avatar image"
                              class="object-cover"
                            />
                          </template>
                          <template v-else>
                            <span class="text-white">{{
                              item.full_name && item.full_name[0]
                            }}</span>
                          </template>
                        </v-list-item-avatar>
                        <v-list-item-content>
                          <v-list-item-title
                          >{{ item.full_name }}</v-list-item-title>
                          <v-list-item-subtitle>
                            <span>{{ item.position }} - </span>
                            <span
                              class="font-600 small-3"
                              :class="{
                                'success-text':
                                  item.condition_name === 'Рабочие' ||
                                  item.condition_name === 'Командировка',
                                'red--text':
                                  item.condition_name !== 'Рабочие' &&
                                  item.condition_name !== 'Командировка',
                              }"
                              >{{ item.condition_name }}</span
                            >
                          </v-list-item-subtitle>
                        </v-list-item-content>
                      </template>
                      <template v-slot:append-item>
                        <template v-if="page">
                          <div
                            v-intersect="{
                              handler: onIntersect,
                              options: {
                                threshold: [0, 1.0, 1.0],
                              },
                            }"
                            class="pa-4"
                          ></div>
                        </template>
                      </template>
                    </v-autocomplete>
                  </div>
                  <div class="d-flex pt-5" style="justify-content: flex-end">
                    <v-btn
                      @click="toggleDialog"
                      color="error"
                      depressed
                      small
                      style="margin: 0 15px 0 0; border-radius: 10px;"
                      >{{ $t("control-tasks.edit-task.cancel") }}</v-btn
                    >
                    <v-btn @click="addUser" color="primary" depressed small  style="border-radius: 10px">{{
                      $t("control-tasks.edit-task.add")
                    }}</v-btn>
                  </div>
                </div>
                <v-tabs-items v-else v-model="dialogTab">
                  <v-tab-item value="name">
                    <div class="app-input mt-3">
                      <v-autocomplete
                        :filter="value => value"
                        :items="users"
                        :search-input.sync="search"
                        auto-select-first
                        background-color="var(--input-bg)"
                        clearable
                        hide-details
                        item-text="full_name"
                        item-value="id"
                        outlined
                        return-object
                        style="border-radius: 12px"
                        v-model="user"
                      >
                        <template #prepend-inner>
                          <search-icon
                            class="mr-1 d-block"
                            color="var(--text-4)"
                            size="20"
                          />
                        </template>
                        <template #append>
                          <div
                            class="h-100 w-100 d-flex justify-center align-center"
                          >
                            <app-loader v-if="loading" :size="26" />
                          </div>
                        </template>
                        <template v-slot:item="{ item }">
                          <v-list-item-avatar :color="item.color">
                            <template v-if="item.avatar">
                              <img
                                :src="item.avatar.url"
                                alt="Avatar image"
                                class="object-cover"
                              />
                            </template>
                            <template v-else>
                              <span class="text-white">{{
                                item.full_name && item.full_name[0]
                              }}</span>
                            </template>
                          </v-list-item-avatar>
                          <v-list-item-content>
                            <v-list-item-title
                            >{{ item.full_name }}</v-list-item-title>
                            <v-list-item-subtitle>
                              <span>{{ item.position }} - </span>
                              <span
                                class="font-600 small-3"
                                :class="{
                                  'success-text':
                                    item.condition_name === 'Рабочие' ||
                                    item.condition_name === 'Командировка',
                                  'red--text':
                                    item.condition_name !== 'Рабочие' &&
                                    item.condition_name !== 'Командировка',
                                }"
                                >{{ item.condition_name }}</span
                              >
                            </v-list-item-subtitle>
                          </v-list-item-content>
                        </template>
                        <template v-slot:append-item>
                          <template v-if="page">
                            <div
                              v-intersect="{
                                handler: onIntersect,
                                options: {
                                  threshold: [0, 1.0, 1.0],
                                },
                              }"
                              class="pa-4"
                            ></div>
                          </template>
                        </template>
                      </v-autocomplete>
                    </div>
                    <div class="d-flex pt-5" style="justify-content: flex-end">
                      <v-btn
                        @click="toggleDialog"
                        color="error"
                        depressed
                        small
                        style="margin: 0 15px 0 0; border-radius: 10px;"
                        >{{ $t("control-tasks.create-task.cancel") }}</v-btn
                      >
                      <v-btn @click="addUser" color="primary" depressed small  style="border-radius: 10px">{{
                        $t("control-tasks.create-task.add")
                      }}</v-btn>
                    </div>
                  </v-tab-item>
                  <v-tab-item class="pt-2" value="position">
                    <div>
                      <v-select
                        :items="branches"
                        :label="$t('control-tasks.tasks.branch')"
                        @change="changeBranch"
                        append-icon="mdi-chevron-down"
                        background-color="var(--input-bg)"
                        dense
                        hide-details
                        item-text="name"
                        outlined
                        return-object
                        style="border-radius: 10px"
                        v-model="branch"
                      >
                      </v-select>
                    </div>
                    <div class="mt-5">
                      <v-select
                        :items="departments"
                        :label="$t('control-tasks.tasks.department')"
                        @change="changeDepartment"
                        append-icon="mdi-chevron-down"
                        background-color="var(--input-bg)"
                        dense
                        hide-details
                        item-text="name"
                        outlined
                        return-object
                        style="border-radius: 10px"
                        v-model="department"
                      >
                      </v-select>
                    </div>
                    <div class="mt-5">
                      <v-select
                        :items="departmentPerformers"
                        :label="$t('control-tasks.tasks.employee')"
                        append-icon="mdi-chevron-down"
                        background-color="var(--input-bg)"
                        dense
                        hide-details
                        item-text="name"
                        outlined
                        return-object
                        style="border-radius: 10px"
                        v-model="departmentPerformer"
                      >
                        <template v-slot:item="{ item }">
                          <v-list-item-avatar :color="item.color">
                            <template v-if="item.avatar">
                              <img
                                :src="item.avatar.url"
                                alt="Avatar image"
                                class="object-cover"
                              />
                            </template>
                            <template v-else>
                              <span class="text-white">{{
                                item.last_name && item.last_name[0]
                              }}</span>
                            </template>
                          </v-list-item-avatar>
                          <v-list-item-content>
                            <v-list-item-title
                            >{{ item.last_name +
                                ' ' +
                                item.first_name +
                                ' ' +
                                item.father_name }}</v-list-item-title>
                            <v-list-item-subtitle>
                              <span>{{ item.position }} - </span>
                              <span
                                class="font-600 small-3"
                                :class="{
                                  'success-text':
                                    item.condition_name === 'Рабочие' ||
                                    item.condition_name === 'Командировка',
                                  'red--text':
                                    item.condition_name !== 'Рабочие' &&
                                    item.condition_name !== 'Командировка',
                                }"
                                >{{ item.condition_name }}</span
                              >
                            </v-list-item-subtitle>
                          </v-list-item-content>
                        </template>
                        <template v-slot:append-item>
                          <template v-if="departmentsPage">
                            <div
                              v-intersect="{
                                handler: onIntersectionDepartmentPerformers,
                                options: {
                                  threshold: [0, 1.0, 1.0],
                                },
                              }"
                              class="pa-4"
                            ></div>
                          </template>
                        </template>
                      </v-select>
                    </div>
                    <div class="d-flex align-center pt-5" style="justify-content: flex-end;">
                      <v-btn
                        @click="toggleDialog"
                        color="error"
                        depressed
                        small
                        style="margin: 0 15px 0 0; border-radius: 10px;"
                        >{{ $t("control-tasks.tasks.cancel") }}</v-btn
                      >
                      <v-btn
                        @click="addDepartmentPerformer"
                        color="primary"
                        depressed
                        small
                        style="border-radius: 10px"
                        >{{ $t("control-tasks.tasks.add") }}</v-btn
                      >
                    </div>
                  </v-tab-item>
                </v-tabs-items>
              </div>
            </div>
          </v-dialog>
          <v-dialog
            @click:outside="toggleSearchDialog"
            @keydown.esc="toggleSearchDialog"
            content-class="add-user-modal"
            max-width="640"
            v-model="fileSearchDialog"
          >
            <div class="pa-5 bg-white rounded-20 p-relative">
              <div class="d-flex pb-5 justify-space-between align-center">
                <h3 class="my-0 font-500 heading-10">
                  {{$t('control-tasks.edit-task.search-file')}}
                </h3>
              </div>
              <div>
                <div class="app-input mt-3">
                  <v-autocomplete
                    :filter="value => value"
                    :items="fileSearchFiles"
                    :search-input.sync="fileSearch"
                    auto-select-first
                    background-color="var(--input-bg)"
                    clearable
                    hide-details
                    item-text="name"
                    item-value="id"
                    outlined
                    return-object
                    style="border-radius: 12px"
                    v-model="file"
                  >
                    <template #prepend-inner>
                      <search-icon
                        class="mr-1 d-block"
                        color="var(--text-4)"
                        size="20"
                      />
                    </template>
                    <template #append>
                      <div
                        class="h-100 w-100 d-flex justify-center align-center"
                      >
                        <app-loader v-if="fileSearchLoading" :size="26" />
                      </div>
                    </template>
                    <template v-slot:item="{ item }">
                      <v-list-item-content>
                        <v-list-item-title style="font-size: 15px"
                        >{{ item.name }}</v-list-item-title>
                        <v-list-item-subtitle>
                          <span>{{ item.sender }} - {{ fileType(item.type) }}</span>
                        </v-list-item-subtitle>
                      </v-list-item-content>
                    </template>
                    <template v-slot:append-item>
                      <template v-if="fileSearchPage">
                        <div
                          v-intersect="{
                            handler: onIntersection,
                            options: {
                              threshold: [0, 1.0, 1.0],
                            },
                          }"
                          class="pa-4"
                        ></div>
                      </template>
                    </template>
                  </v-autocomplete>
                </div>
                <div class="d-flex pt-5" style="justify-content: flex-end">
                  <v-btn
                    @click="toggleSearchDialog"
                    color="error"
                    depressed
                    small
                    style="margin: 0 15px 0 0; border-radius: 10px;"
                    >{{ $t("control-tasks.create-task.cancel") }}</v-btn
                  >
                  <v-btn @click="addFile" color="primary" depressed small style="border-radius: 10px">{{
                    $t("control-tasks.create-task.add")
                  }}</v-btn>
                </div>
              </div>
            </div>
          </v-dialog>
        </div>
        <div v-else class="pa-10 w-100 h-100 shadow-6 rounded-20 bg-white">
          <div
            class="w-100 h-100 d-flex flex-column align-center justify-center"
          >
            <img
              style="width: 100px"
              src="/img/todo-list.png"
              alt="Todo List image"
            />
            <span class="d-block text-dark-grey font-600 my-4">{{
              $t("control-tasks.edit-task.task-not-found")
            }}</span>
            <v-btn color="primary" @click="goTasks" depressed small>{{
              $t("control-tasks.edit-task.tasks")
            }}</v-btn>
          </div>
        </div>
      </div>
    </template>
  </div>
</template>
<script>
import AppLoader from "@/common/components/base/AppLoader.vue";
import isObject from "lodash/isObject";
import {
  FileTextIcon,
  PaperclipIcon,
  PlusIcon,
  SearchIcon,
  Trash2Icon,
  TypeIcon,
  UserIcon,
  XIcon,
} from "vue-feather-icons";
import { mapGetters } from "vuex";
import Performer from "./Performer";
export default {
  name: "EditTask",
  components: {
    AppLoader,
    FileTextIcon,
    PaperclipIcon,
    Performer,
    PlusIcon,
    SearchIcon,
    Trash2Icon,
    TypeIcon,
    UserIcon,
    XIcon,
  },
  data() {
    return {
      // task
      task: {
        deadline: new Date(Date.now() + 1000 * 60 * 60 * 24 * 3)
          .toISOString()
          .slice(0, 10),
        clause_number: "",
        description: "",
        doc_date: new Date().toISOString().slice(0, 10),
        doc_number: "",
        doc_type: {},
        type: null,
      },
      dateMenu: false,
      deadline: "",
      deadlineMenu: false,
      documentTypes: [],
      durations: [],
      files: [],
      initialType: 0,
      isProgressVisible: false,
      isSuccess: true,
      loading: true,
      progressValue: 0,
      saveLoading: false,
      status: true,
      tab: null,
      // performers
      addUserLoading: false,
      branch: {},
      branches: [],
      deleteUser: 0,
      deleteUserLoading: false,
      department: {},
      departmentPerformer: {},
      departmentPerformers: [],
      departments: [],
      departmentsLoading: false,
      departmentsPage: null,
      dialog: false,
      dialogTab: null,
      is_main: false,
      page: null,
      performerType: 0,
      performers: [],
      search: "",
      searchLoading: false,
      user: null,
      users: [],
      roles: [],
      // file search
      file: null,
      fileSearch: "",
      fileSearchDialog: false,
      fileSearchFiles: [],
      fileSearchLoading: false,
      fileSearchPage: 1,
    };
  },
  computed: {
    ...mapGetters({
      currentUser: "auth/getCurrentUser",
    }),
    affirmatives() {
      const performers = this.performers;
      const affirmatives = (Array.isArray(performers) ? performers : []).filter(performer => performer?.type === 2);
      return affirmatives;
    },
    affirmativeResponses() {
      const performers = this.performers;
      const affirmativeResponses = (Array.isArray(performers) ? performers : []).filter(performer => performer?.type === 1);
      return affirmativeResponses;
    },
    executors() {
      const performers = this.performers;
      const executors = (Array.isArray(performers) ? performers : []).filter(performer => performer?.type === 0);
      return executors;
    },
    querySearch() {
      return window.location.search;
    }
  },
  watch: {
    search: {
      handler(search) {
        this.searchLoading = true;
        const searchParam = search ? "&search=" + search : "";
        const url =
          this.performerType === 0
            ? `/user/search/?page=1${searchParam}`
            : `/${this.currentUser?.filial}/user/lists/by_category/?page=1${searchParam}`;
        this.$axios
          .get(url)
          .then(response => {
            const results = response?.data?.results;
            const next = response?.data?.next;
            if (next) {
              this.page = 2;
            } else {
              this.page = null;
            }
            const users = (Array.isArray(results) ? results : []).map(user => {
              const disabled =
                user?.condition_name !== "Рабочие" &&
                user?.condition_name !== "Командировка";
              return { ...user, disabled };
            });
            this.users = users;
          })
          .catch(() => {
            this.users = [];
            this.page = null;
          })
          .finally(() => {
            this.searchLoading = false;
          });
      },
    },
    fileSearch: {
      handler(fileSearch) {
        this.fileSearchLoading = true;
        const search = fileSearch ? "&search=" + fileSearch : ""
        this.$axios
          .get(`/documents/?page=1${search}`)
          .then(response => {
            const results = response?.data?.results;
            const next = response?.data?.next;
            if (next) {
              this.fileSearchPage = 2;
            } else {
              this.fileSearchPage = null;
            }
            const fileSearchFiles = (Array.isArray(results) ? results : []);
            this.fileSearchFiles = fileSearchFiles;
          })
          .catch(() => {
            this.fileSearchFiles = [];
            this.fileSearchPage = null;
          })
          .finally(() => {
            this.fileSearchLoading = false;
          });
      },
    },
    "$i18n.locale": {
      handler() {
        this.changeLanguage();
      }
    },
  },
  mounted() {
    this.changeLanguage();
    const hasPermission = [
      "admin",
      "chairman_tasks",
      "deputy_chair_tasks",
      "audit_tasks",
      "chairman_tasks_no_delete",
      "chairman_tasks_create_read",
      "deputy_chair_tasks_no_delete",
      "deputy_chair_tasks_create_read",
      "audit_tasks_no_delete",
      "audit_tasks_create_read",
    ].some(role => this.currentUser.roles.includes(role));
    if (hasPermission) {
      this.getBranches();
      this.getTask();
    } else {
      this.$router.push({ path: "/control-tasks/tasks" });
    }
  },
  methods: {
    // task methods
    getTask() {
      this.loading = true;
      const defaultTask = {
        clause_number: "",
        deadline: new Date(Date.now() + 1000 * 60 * 60 * 24 * 3)
          .toISOString()
          .slice(0, 10),
        description: "",
        doc_date: new Date().toISOString().slice(0, 10),
        doc_number: "",
        doc_type: null,
        type: null,
      };
      this.$axios
        .get(`/control_tasks/tasks/${this.$route.params.id}/`)
        .then(response => {
          const task = response?.data;
          const files = response?.data?.files;
          const performers = response?.data?.performers;
          const status = response?.status;
          this.initialType = task.type;
          if (Array.isArray(files)) {
            this.files = files;
          }
          if (Array.isArray(performers)) {
            const newPerformers = performers
              .filter(performer => performer?.parent_performer === null);
            this.performers = newPerformers;
          }
          if (status === 200 && isObject(task)) {
            this.getDocumentTypes(task.type);
            this.deadline = task?.deadline;
            this.status = true;
            this.task = task;
          } else {
            this.status = false;
            this.task = defaultTask;
          }
        })
        .catch(() => {
          this.status = false;
          this.task = defaultTask;
        })
        .finally(() => {
          this.loading = false;
        });
    },
    saveTask() {
      const { clause_number, description, doc_date, doc_number, doc_type, type } = this.task;
      if (
        clause_number &&
        description &&
        doc_number &&
        doc_type &&
        type > -1
      ) {
        this.saveLoading = true;
        const deadline =
          this.deadline === this.task?.deadline
            ? {}
            : { deadline: this.task?.deadline };
        const files = this.files?.length? { files: this.files } : {};
        const data = {
          ...deadline,
          ...files,
          clause_number,
          description,
          doc_date,
          doc_number,
          doc_type,
          type,
        };
        this.$axios
          .patch(`/control_tasks/tasks/${this.$route.params.id}/`, data)
          .then(response => {
            if (response?.status === 200) {
              this.$toast.success(
                this.$t("control-tasks.edit-task.task-edited")
              );
              this.goTasks();
            } else {
              this.$t("control-tasks.edit-task.an-error-occurred");
            }
          })
          .catch(() => {
            this.$toast.error(
              this.$t("control-tasks.edit-task.an-error-occurred")
            );
          })
          .finally(() => {
            this.saveLoading = false;
          });
      } else if (!doc_number) {
        this.$toast.error(
          this.$t("control-tasks.edit-task.enter-document-number")
        );
      } else if (!clause_number) {
        this.$toast.error(
          this.$t("control-tasks.edit-task.enter-clause-number")
        );
      } else if (type < 0) {
        this.$toast.error("Topshiriq turini tanlang");
      } else if (!doc_type) {
        this.$toast.error(
          this.$t("control-tasks.edit-task.select-document-type")
        );
      } else if (!description) {
        this.$toast.error(this.$t("control-tasks.edit-task.enter-text"));
      }
    },
    uploadFiles(files) {
      if (files) {
        this.isProgressVisible = true;
        this.progressValue = 0;
      }
      this.isSuccess = true;
      for (let i = 0; i < files.length; i++) {
        let formData = new FormData();
        formData.append("file", files[i]);
        let progressValue = 0;
        this.$axios
          .post("/upload/", formData, {
            onUploadProgress: progressEvent => {
              progressValue = parseInt(
                Math.round((progressEvent.loaded / progressEvent.total) * 100)
              );
              if (progressValue <= 100) {
                this.progressValue = progressValue - 1;
              }
            },
          })
          .then(response => {
            this.progressValue = progressValue;
            const status = response?.status;
            const data = response?.data;
            if (status === 200 && isObject(data)) {
              this.files = [...this.files, data];
              this.isSuccess = true;
            } else {
              this.isSuccess = false;
            }
          })
          .catch(() => {
            this.isSuccess = false;
          })
          .finally(() => {
            setTimeout(() => {
              this.isProgressVisible = false;
              document.getElementById("fileUpload").value = "";
            }, 2000);
          });
      }
    },
    addFile() {
      const file = this.file;
      const fileId = file?.id
      if (fileId) {
        const files = this.files;
        const isAdded = (Array.isArray(files) ? files : []).some(file => fileId === file?.id);
        if (isAdded) {
          this.$toast.error(this.$t('control-tasks.edit-task.this-file-added'));
        } else {
          this.files = [
            ...this.files,
            file,
          ];
          this.toggleSearchDialog();
        }
      } else {
        this.$toast.error(this.$t('control-tasks.edit-task.file-add'));
      }
    },
    deleteFile(fileId) {
      const files = (Array.isArray(this.files) ? this.files : []).filter(file => fileId !== file?.id);
      this.files = files;
      document.getElementById("fileUpload").value = "";
    },
    fileType(type) {
      const types = [{value: 'protocol', name: 'Bayonnoma'}, {value: 'decree', name: 'Farmoyish'}, {value: 'notice', name: 'Bildirgi'}, {value: 'action',name: 'Chora tadbirlar'}, {value: 'service_letter', name: 'Xizmat xati'}, {value: 'organization_letter', name: 'Tashkilotga xat'}, {value: 'roadmap', name: "Yo'l xarita"}, {value: 'kuap', name: 'Kuap bayonnomasi'}, {value: 'assignment', name: 'Topshiriqlar'}, {value: 'hr_order', name: 'Kadr buyruqlari'}, {value: 'hr_application', name: 'Kadr arizalari'}, {value: 'currency_summary', name: 'Valyuta xulosasi'}];
      const fileType = types.find(({value}) => value === type)?.name;
      return fileType;
    },
    changeType(type) {
      this.task = {...this.task, doc_type: null};
      if([0, 1, 2].includes(type)) {
        this.getDocumentTypes(type);
      }
    },
    getDocumentTypes(type = 0) {
      this.$axios.get(`/control_tasks/doc_type/?type=${type}&page_size=100`)
        .then(response => {
          const results = response?.data?.results;
          const documentTypes = Array.isArray(results) ? results : [];
          this.documentTypes = documentTypes;
        })
        .catch(() => {
          this.documentTypes = [];
        });
    },
    changeLanguage() {
      const roles = [
        {
          name: "Boshqaruv raisi topshirig'i",
          roles: ['chairman_tasks', 'chairman_tasks_create_read', 'chairman_tasks_no_delete', 'admin'],
          type: "chairman_tasks",
          value: 0,
        },
        {
          name: "Boshqaruv raisi o'rinbosari topshirig'i",
          roles: ['deputy_chair_tasks', 'deputy_chair_tasks_create_read', 'deputy_chair_tasks_no_delete', 'admin'],
          type: "deputy_chair_tasks",
          value: 1,
        },
        {
          name: "Ichki audit topshirig'i",
          roles: ['audit_tasks', 'audit_tasks_create_read', 'audit_tasks_no_delete', 'admin'],
          type: "audit_tasks",
          value: 2,
        }
      ].filter(role => role.roles.some(role => this.currentUser.roles.includes(role)));
      this.roles = roles;
      const durations = [
        {
          value: 1,
          name: '1 Oy'
        },
        {
          value: 2,
          name: '2 Oy'
        },
        {
          value: 3,
          name: '3 Oy'
        },
        {
          value: 4,
          name: '4 Oy'
        },
        {
          value: 6,
          name: '6 Oy'
        },
        {
          value: 12,
          name: '12 Oy'
        }
      ];
      this.durations = durations;
    },
    goTasks() {
      this.$router.push({ path: `/control-tasks/tasks${this.querySearch}` });
    },
    // performers methods
    getBranches() {
      this.$axios
        .get("/filials/?page_size=100")
        .then(response => {
          const results = response?.data?.results;
          const branches = Array.isArray(results) ? results : [];
          this.branches = branches;
        });
    },
    getDepartments(branchMfo) {
      this.$axios
        .get(`/departments/?filial=${branchMfo}&page_size=100`)
        .then(response => {
          const results = response?.data?.results;
          const departments = Array.isArray(results) ? results : [];
          this.departments = departments;
        })
        .catch(() => {
          this.departments = [];
        });
    },
    getDepartmentPerformers(departmentCode) {
      this.departmentsLoading = true;
      this.$axios
        .get(`/dashboard/${this.branch?.mfo}/departament-users/${departmentCode}/?page=1`)
        .then(response => {
          const results = response?.data?.results;
          const next = response?.data?.next;
          if (next) {
            this.departmentsPage = 2;
          } else {
            this.departmentsPage = null;
          }
          const departmentPerformers = (
            Array.isArray(results) ? results : []
          ).map(user => {
            const disabled =
              user?.condition_name !== "Рабочие" &&
              user?.condition_name !== "Командировка";
            return {
              ...user,
              disabled,
              name: `${user?.last_name} ${user?.first_name} ${user?.father_name}`,
            };
          });
          this.departmentPerformers = departmentPerformers;
        })
        .catch(() => {
          this.departmentPerformers = [];
          this.departmentsPage = null;
        })
        .finally(() => {
          this.departmentsLoading = false;
        });
    },
    changeBranch(branch) {
      this.branch = branch;
      this.getDepartments(branch?.mfo);
      this.department = {};
    },
    changeDepartment(department) {
      this.department = department;
      this.departmentsPage = null;
      this.getDepartmentPerformers(department?.code);
      this.departmentPerformer = {};
    },
    onIntersectionDepartmentPerformers(entries) {
      if (entries[0].intersectionRatio >= 0.5) {
        this.departmentsLoading = true;
        this.$axios
          .get(
            `/dashboard/${this.branch?.mfo}/departament-users/${this.department?.code}/?page=${this.departmentsPage}`
          )
          .then(response => {
            const results = response?.data?.results;
            const next = response?.data?.next;
            if (next) {
              this.departmentsPage = this.departmentsPage + 1;
            } else {
              this.departmentsPage = null;
            }
            const departmentPerformers = (
              Array.isArray(results) ? results : []
            ).map(user => {
              const newUser = {
                ...user,
                disabled:
                  user?.condition_name !== "Рабочие" &&
                  user?.condition_name !== "Командировка",
                name: `${user?.last_name} ${user?.first_name} ${user?.father_name}`,
              };
              return newUser;
            });
            this.departmentPerformers = [
              ...this.departmentPerformers,
              ...departmentPerformers,
            ];
          })
          .catch(() => {
            this.departmentsPage = null;
          })
          .finally(() => {
            this.departmentsLoading = false;
          });
      }
    },
    onIntersection(entries) {
      if (entries[0].intersectionRatio >= 0.5) {
        this.fileSearchLoading = true;
        const search = this.fileSearch ? "&search=" + this.fileSearch : "";
        this.$axios
          .get(`/documents/?page=${this.fileSearchPage}${search}`)
          .then(response => {
            const results = response?.data?.results;
            const next = response?.data?.next;
            if (next) {
              this.fileSearchPage = this.fileSearchPage + 1;
            } else {
              this.fileSearchPage = null;
            }
            const fileSearchFiles = (Array.isArray(results) ? results : []);
            this.fileSearchFiles = [...this.fileSearchFiles, ...fileSearchFiles];
          })
          .catch(() => {
            this.fileSearchPage = null;
          })
          .finally(() => {
            this.fileSearchLoading = false;
          });
      }
    },
    onIntersect(entries) {
      if (entries[0].intersectionRatio >= 0.5) {
        this.searchLoading = true;
        const search = this.search ? "&search=" + this.search : "";
        const url =
          this.performerType === 0
            ? `/user/search/?page=${this.page}${search}`
            : `/${this.currentUser?.filial}/user/lists/by_category/?page=${this.page}${search}`;
        this.$axios
          .get(url)
          .then(response => {
            const results = response?.data?.results;
            const next = response?.data?.next;
            if (next) {
              this.page = this.page + 1;
            } else {
              this.page = null;
            }
            const users = (Array.isArray(results) ? results : []).map(user => {
              const disabled =
                user?.condition_name !== "Рабочие" &&
                user?.condition_name !== "Командировка";
              return { ...user, disabled };
            });
            this.users = [...this.users, ...users];
          })
          .catch(() => {
            this.page = null;
          })
          .finally(() => {
            this.searchLoading = false;
          });
      }
    },
    addDepartmentPerformer() {
      const departmentPerformer = this.departmentPerformer;
      if (departmentPerformer?.id) {
        const performers = this.performers;
        const isAdded = (Array.isArray(performers) ? performers : []).some(performer => performer?.parent_performer?.id === departmentPerformer?.id);
        if (isAdded) {
          this.$toast.error(
            this.$t("control-tasks.edit-task.user-exist-this-task")
          );
        } else {
          this.$axios
            .post(
              `/control_tasks/tasks/${this.$route.params.id}/performers/`,
              { performer: departmentPerformer?.id, type: this.performerType, is_main: this.is_main, location_type: 0 }
            )
            .then(response => {
              const status = response?.status;
              const performer = response?.data;
              if (status === 201 && isObject(performer)) {
                this.performers = [
                  ...this.performers,
                  performer,
                ];
                this.toggleDialog();
              } else {
                this.$toast.error(this.$t('control-tasks.edit-task.an-error-occurred'));
              }
            })
            .catch(() => {
              this.$toast.error(this.$t('control-tasks.edit-task.an-error-occurred'));
            });
        }
      } else {
        this.$toast.error(this.$t("control-tasks.tasks.add-employee"));
      }
    },
    addUser() {
      const user = this.user;
      if (user?.id) {
        const performers = this.performers;
        const isAdded = (Array.isArray(performers) ? performers : []).some(performer => performer?.performer?.id === user?.id);
        if (isAdded) {
          this.$toast.error(
            this.$t("control-tasks.edit-task.user-exist-this-task")
          );
        } else {
          this.addUserLoading = true;
          this.$axios
            .post(
              `/control_tasks/tasks/${this.$route.params.id}/performers/`,
              { performer: this.user?.id, type: this.performerType, is_main: this.is_main, location_type: 0 }
            )
            .then(response => {
              const status = response?.status;
              const performer = response?.data;
              if (status === 201 && isObject(performer)) {
                this.performers = [
                  ...this.performers,
                  performer,
                ];
                this.toggleDialog();
              } else {
                this.$toast.error(this.$t('control-tasks.edit-task.an-error-occurred'));
              }
            })
            .catch(() => {
              this.$toast.error(this.$t('control-tasks.edit-task.an-error-occurred'));
            }).finally(() => {
              this.addUserLoading = false
            });
        }
      } else {
        this.$toast.error(this.$t("control-tasks.edit-task.add-employee"));
      }
    },
    setPerformers(performers) {
      this.performers = performers;
    },
    removePerformer(performerId) {
      this.deleteUser = performerId;
      this.deleteUserLoading = true;
      this.$axios.delete(`/control_tasks/tasks/${this.$route.params.id}/performers/${performerId}/`).then(response => {
        if(response?.status === 204) {
          const performers = this.performers;
          const newPerformers = (Array.isArray(performers) ? performers : []).filter(performer => performerId !== performer?.id);
          this.performers = newPerformers;
        } else {
          this.$toast.error(this.$t('control-tasks.edit-task.an-error-occurred'))
        }
      }).catch(() => {
        this.$toast.error(this.$t('control-tasks.edit-task.an-error-occurred'))
      }).finally(() => {
        this.deleteUserLoading = false;
        this.deleteUser = 0
      })
    },
    toggleDialog(performerType) {
      this.addUserLoading = false;
      this.branch = {};
      this.department = {};
      this.departmentPerformer = {};
      this.departmentPerformers = [];
      this.departments = [];
      this.departmentsLoading = false;
      this.departmentsPage = null;
      this.dialog = !this.dialog;
      this.dialogTab = null;
      this.is_main = false;
      this.page = null;
      this.performerType = performerType || 0;
      this.search = "";
      this.searchLoading = false;
      this.user = null;
      this.users = [];
    },
    toggleSearchDialog() {
      this.file = null;
      this.fileSearch = "";
      this.fileSearchDialog = !this.fileSearchDialog;
      this.fileSearchFiles = [];
      this.fileSearchLoading = false;
      this.fileSearchPage = null;
    }
  },
};
</script>
<style>
.edit-task-column {
  flex-wrap: wrap;
  margin: 0 -12px;
  width: calc(100 + 24px);
}
.input-col {
  width: calc(100% / 5 - 24px);
}
@media screen and (max-width: 1440px) {
  .input-col {
    width: calc(100% / 4 - 24px);
  }
}
@media screen and (max-width: 1200px) {
  .input-col {
    width: calc(100% / 3 - 24px);
  }
}
</style>
