<template>
	<div
		class="d-flex shadow-6 bg-white align-center justify-space-between px-3 py-2 mb-5"
		style="border-radius: 16px"
	>
		<div class="d-flex align-center">
			<v-list-item-avatar :color="performer.performer.color">
				<template v-if="performer.performer.avatar">
					<img
						:src="performer.performer.avatar.url"
						alt="Avatar image"
						class="object-cover"
					/>
				</template>
				<template v-else>
					<span class="text-white">{{
						performer.performer.last_name && performer.performer.last_name[0]
					}}</span>
				</template>
			</v-list-item-avatar>
			<v-list-item-content style="align-self: flex-start">
				<div class="font-500 mb-2" style="font-size: 16px; line-height: 160%">
					<span>{{ fullName }} </span>
					<span class="mr-2" style="color: #5964d1">({{ cisco }})</span>
				</div>
				<div
					class="font-500"
					style="color: rgba(23, 23, 23, 0.5); font-size: 14px"
				>
					<span>{{ branch }} - </span>
					<span>{{ position }}</span>
				</div>
				<div class="d-flex" v-if="performer.type === 0">
					<v-checkbox
						:label="$t('control-tasks.edit-task.main-performer')"
						@change="onChangeIsMain"
						class="mx-2"
						color="rgb(89, 100, 209)"
						hide-details
						v-model="performer.is_main"/>
					<v-checkbox
						:label="$t('control-tasks.edit-task.waiting-process')"
						@change="onChangeIsPending"
						class="ml-2"
						color="rgb(89, 100, 209)"
						hide-details
						v-model="performer.is_pending" />
				</div>
			</v-list-item-content>
		</div>
		<div class="d-flex align-center">
			<div v-if="performer.type === 0" class="mr-2">
				<v-btn
					@click="toggleDialog"
					color="primary"
					depressed
					icon
					small
					style="background-color: rgba(89, 99, 209, 0.08); border-radius: 10px"
					>
					<edit-3-icon size="20" />
				</v-btn>
			</div>
			<div
				class="d-flex align-center justify-center"
				style="height: 43px; width: 43px"
				v-if="deleteUser === performer.id && deleteUserLoading"
            >
				<app-loader :size="30" />
			</div>
			<v-btn
				@click="() => removePerformer(performer.id)"
				color="primary"
				depressed
				icon
				small
				v-else
				style="background-color: rgba(224, 54, 54, 0.08); border-radius: 10px">
				<trash-2-icon color="#FC1A1A" />
			</v-btn>
		</div>
		<v-dialog
			@click:outside="toggleDialog"
			@keydown.esc="toggleDialog"
			content-class="edit-user-modal"
			max-width="640"
			v-model="visible">
			<div class="pa-5 bg-white rounded-20 p-relative">
				<div class="d-flex justify-space-between align-center">
					<h3 class="my-0 font-500 heading-10">
						{{ $t("control-tasks.edit-task.search-employees") }}
					</h3>
				</div>
				<div>
					<div class="app-input mt-3">
						<v-autocomplete
							:filter="value => value"
							:items="users"
							:search-input.sync="search"
							auto-select-first
							background-color="var(--input-bg)"
							clearable
							hide-details
							item-text="full_name"
							item-value="id"
							outlined
							return-object
							style="border-radius: 12px"
							v-model="user"
						>
							<template #prepend-inner>
								<search-icon
									class="mr-1 d-block"
									color="var(--text-4)"
									size="20"
								/>
							</template>
							<template #append>
								<div class="h-100 w-100 d-flex justify-center align-center">
									<app-loader v-if="searchLoading" :size="26" />
								</div>
							</template>
							<template v-slot:item="{ item }">
								<v-list-item-avatar :color="item.color">
									<template v-if="item.avatar">
										<img
											:src="item.avatar.url"
											alt="Avatar image"
											class="object-cover"
										/>
									</template>
									<template v-else>
										<span class="text-white">
											{{ item.full_name && item.full_name[0]}}
										</span>
									</template>
								</v-list-item-avatar>
								<v-list-item-content>
									<v-list-item-title>
										{{ item.full_name }}
									</v-list-item-title>
									<v-list-item-subtitle>
										<span>{{ item.position }} - </span>
										<span
											class="font-600 small-3"
											:class="{
												'success-text':
													item.condition_name === 'Рабочие' ||
													item.condition_name === 'Командировка',
												'red--text':
													item.condition_name !== 'Рабочие' &&
													item.condition_name !== 'Командировка',
											}"
											>
											{{ item.condition_name }}
										</span>
									</v-list-item-subtitle>
								</v-list-item-content>
							</template>
							<template v-slot:append-item>
								<template v-if="page">
									<div
										class="pa-4"
										v-intersect="{ handler: onIntersection, options: { threshold: [0, 1.0, 1.0] } }"
									></div>
								</template>
							</template>
						</v-autocomplete>
					</div>
					<div class="d-flex pt-5" style="justify-content: flex-end">
						<template v-if="loading">
							<app-loader :size="26" />
						</template>
						<template v-else>
							<v-btn
								@click="toggleDialog"
								color="error"
								depressed
								small
								style="margin: 0 15px 0 0; border-radius: 10px;"
								>{{ $t("control-tasks.edit-task.cancel") }}</v-btn
							>
							<v-btn @click="editPerformer" color="primary" depressed small  style="border-radius: 10px">{{
								$t("control-tasks.edit-task.save")
							}}</v-btn>
						</template>
					</div>
				</div>
			</div>
		</v-dialog>
	</div>
</template>
<script>
import AppLoader from "@/common/components/base/AppLoader";
import { Trash2Icon, Edit3Icon, SearchIcon } from "vue-feather-icons";
import isObject from "lodash/isObject";
export default {
	name: "Assignment",
	components: { AppLoader, Edit3Icon, SearchIcon, Trash2Icon },
	props: {
		branches: Array,
		deleteUser: Number,
		deleteUserLoading: Boolean,
		performer: Object,
		performers: Array,
		removePerformer: Function,
		setPerformers: Function,
	},
	data() {
		return {
			loading: false,
			page: null,
			search: "",
			searchLoading: false,
			user: null,
			users: [],
			visible: false,
		}
	},
	watch: {
		search: {
			handler(search) {
				this.searchLoading = true;
				this.$axios
					.get(`/user/search/?page=1${search ? "&search=" + search : ""}`)
					.then(response => {
						const results = response?.data?.results;
						const next = response?.data?.next;
						if (next) {
							this.page = 2;
						} else {
							this.page = null;
						}
						const users = (Array.isArray(results) ? results : []).map(user => {
							const disabled =
								user?.condition_name !== "Рабочие" &&
								user?.condition_name !== "Командировка";
							return { ...user, disabled };
						});
						this.users = users;
					})
					.catch(() => {
						this.users = [];
						this.page = null;
					})
					.finally(() => {
						this.searchLoading = false;
					});
			},
		},
	},
	computed: {
		branch() {
			const branches = this.branches;
			const branch =
				this.performer?.performer?.filial_name ||
				(Array.isArray(branches) ? branches : []).find(
					branch => branch?.mfo === this.performer?.performer?.filial
				)?.name;
			return branch;
		},
		position() {
			return this.performer?.performer?.position || "";
		},
		cisco() {
			return this.performer?.performer?.cisco || "";
		},
		fullName() {
			return `${this.performer?.performer?.last_name} ${this.performer?.performer?.first_name} ${this.performer?.performer?.father_name}`;
		},
	},
	methods: {
		onChangeIsMain(is_main) {
			const performerId = this.performer?.id;
			this.$axios
            .patch(
					`/control_tasks/tasks/${this.$route.params.id}/performers/${performerId}/`,
					{ is_main, location_type: 0 }
            )
            .then(response => {
					const status = response?.status;
					const data = response?.data;
					if (status === 200 && isObject(data)) {
						const newPerformers = this.performers.map((performer) => {
							if(performer?.id === performerId) {
								return {...performer, is_main};
							} else {
								return performer;
							}
						});
						this.setPerformers(newPerformers);
					} else {
						this.$toast.error(this.$t('control-tasks.edit-task.an-error-ocurred'));
					}
            })
            .catch(() => {
					this.$toast.error(this.$t('control-tasks.edit-task.an-error-ocurred'));
            });
		},
		onChangeIsPending(is_pending) {
			const performerId = this.performer?.id;
			this.$axios
            .patch(
					`/control_tasks/tasks/${this.$route.params.id}/performers/${performerId}/`,
					{ is_pending, location_type: 0 }
            )
            .then(response => {
					const status = response?.status;
					const data = response?.data;
					if (status === 200 && isObject(data)) {
						const newPerformers = this.performers.map((performer) => {
							if(performer?.id === performerId) {
								return {...performer, is_pending};
							} else {
								return performer;
							}
						});
						this.setPerformers(newPerformers);
					} else {
						this.$toast.error(this.$t('control-tasks.edit-task.an-error-ocurred'));
					}
            })
            .catch(() => {
					this.$toast.error(this.$t('control-tasks.edit-task.an-error-ocurred'));
            });
		},
		editPerformer() {
			this.loading = true;
			const performerId = this.performer?.id
			const userId = this.user?.id;
			this.$axios
            .patch(
					`/control_tasks/tasks/${this.$route.params.id}/transfer/${performerId}/`,
					{ performer: userId }
            )
            .then(response => {
					if (response?.status === 200) {
						const newPerformers = this.performers.map((performer) => {
							if(performer?.id === performerId) {
								return {...performer, performer: this.user};
							} else {
								return performer;
							}
						});
						this.setPerformers(newPerformers);
						this.toggleDialog();
					} else {
						this.$toast.error(this.$t('control-tasks.edit-task.an-error-occurred'));
					}
            })
            .catch(() => {
					this.$toast.error(this.$t('control-tasks.edit-task.an-error-occurred'));
            })
				.finally(() => {
					this.loading = false;
				});
		},
		onIntersection(entries) {
			if (entries[0].intersectionRatio >= 0.5) {
				this.searchLoading = true;
				this.$axios
					.get(`/user/search/?&page=${this.page}${this.search ? "&search=" + this.search : ""}`)
					.then(response => {
						const results = response?.data?.results;
						const next = response?.data?.next;
						if (next) {
							this.page = this.page + 1;
						} else {
							this.page = null;
						}
						const users = (Array.isArray(results) ? results : []).map(user => {
							const disabled =
								user?.condition_name !== "Рабочие" &&
								user?.condition_name !== "Командировка";
							return { ...user, disabled };
						});
						this.users = [...this.users, ...users];
					})
					.catch(() => {
						this.page = null;
					})
					.finally(() => {
						this.searchLoading = false;
					});
			}
		},
		toggleDialog() {
			this.visible = !this.visible;
		}
	}
};
</script>
