<template>
	<div class="feedback-modal-view">
		<v-dialog
			content-class="shadow-5"
			v-model="feedbackModal"
			max-width="1075"
			@click:outside="closeFilterModal"
		>
			<div class="bg-4 pa-9">
				<div class="d-flex align-center justify-space-between">
					<v-tabs
						v-model="tab"
						slider-size="4"
						class="border-bottom"
						style="flex: initial"
					>
						<v-tab>
							<span class="font-500">{{$t('layout.leave-review')}}</span>
						</v-tab>
						<v-tab>
							<span class="font-500">{{$t('layout.offer')}}</span>
						</v-tab>
					</v-tabs>

					<app-button
						@click="closeFilterModal"
						icon
						color="error"
						rounded
						width="45"
						min-width="45"
						height="45"
					>
						<x-icon/>
					</app-button>
				</div>

				<v-tabs-items v-model="tab" class="w-100 my-2">
					<v-tab-item class="scrollable-height">
						<feed-back-modal-base @emit:up="closeFilterModal" />
					</v-tab-item>

					<v-tab-item class="scrollable-height">
						<proposition-to-chairman @emit:up="closeFilterModal" />
					</v-tab-item>
				</v-tabs-items>
			</div>
		</v-dialog>

	</div>
</template>

<script>
import { XIcon } from "vue-feather-icons";
import { mapActions } from "vuex";
import FeedBackModalBase from "./FeedBackModalBase";
import PropositionToChairman from "./PropositionToChairman";

export default {
	name: "FeedbackModal",
	components: {
		XIcon,
		FeedBackModalBase,
		PropositionToChairman
	},
	data() {
		return {
			tab: null,
			feedbackModal: false,
		}
	},
	methods: {
		...mapActions({
			fetchAttachFiles: "documentFlowModule/fetchAttachFiles",
		}),
		closeFilterModal() {
			this.feedbackModal = false
		},
	}
}
</script>

<style scoped>
.editor {
	height: 240px;
}
</style>
