<template>
	<div class="feedback-modal">
		<div class="mt-2">
			<v-row class="my-0">
				<v-col md="6" class="py-2">
					<div class="app-input">
						<span class="d-block font-600 small-2 mb-2 text-7">{{$t('layout.theme')}}</span>

						<v-text-field
							v-model="$v.feedbackModel.theme.$model"
							:error="$v.feedbackModel.theme.$error"
							outlined
							background-color="var(--input-bg)"
							hide-details
							clearable
						/>
					</div>
				</v-col>

				<v-col md="6" class="py-2">
					<div class="app-input">
						<span class="d-block font-600 small-2 mb-2 text-7">{{$t('layout.cisco-or-phone')}}</span>

						<v-text-field
							v-model="$v.feedbackModel.cisco.$model"
							:error="$v.feedbackModel.cisco.$error"
							outlined
							background-color="var(--input-bg)"
							hide-details
							clearable
						/>
					</div>
				</v-col>

				<!--						<v-col md="6" class="py-2">
											<div class="app-input">
												<span class="d-block font-600 small-2 mb-2 text-7">Прикрепить файл</span>

												<v-file-input
													@change="uploadFiles"
													prepend-inner-icon="mdi-paperclip"
													accept="image/*"
													prepend-icon=""
													outlined
													hide-details
													background-color="var(&#45;&#45;input-bg)"
													ref="uploadImage"
												></v-file-input>
											</div>
										</v-col>-->

				<!--						<v-col md="6" class="py-2">
											<div class="app-input">
												<span class="d-block font-600 small-2 mb-2 text-7">Загруженные файлы</span>

												<v-chip
													v-for="file in uploadedFiles"
													class="ma-2"
													close
													color="primary"
													outlined
													@click:close=""
												>
													{{ file.name }}
												</v-chip>

											</div>
										</v-col>-->
				<v-col md="12" class="py-2">
					<div class="app-input feedback-quil-editor">
						<span class="d-block font-600 small-2 mb-2 text-7">{{$t('layout.content')}}</span>

						<quill-editor
							v-model="$v.feedbackModel.message.$model"
							:error="$v.feedbackModel.message.$error"
							class="mb-8"
						/>
					</div>
				</v-col>
			</v-row>
		</div>

		<div class="d-flex">
			<app-button
				class="mr-4"
				min-width="74"
				height="40"
				@click="send"
				:loading="isLoading"
			>
				<template>
					{{$t('layout.send-comment')}}
				</template>
			</app-button>

			<app-button
				@click="closeFilterModal"
				min-width="85"
				height="40"
				outlined
				color="error"
			>
				<template>
					{{$t('layout.cancel')}}
				</template>
			</app-button>
		</div>
	</div>
</template>

<script>
import { required } from "vuelidate/lib/validators";
import { mapActions } from "vuex";

export default {
	name: "FeedBackModalBase",
	data() {
		return {
			uploadedFiles: [],
			feedbackModel: {
				theme: "",
				cisco: "",
				message: "",
				image: null
			},
			isLoading: false
		}
	},
	validations: {
		feedbackModel: {
			theme: {required},
			cisco: {required},
			message: {required}
		},
	},
	methods: {
		...mapActions({
			fetchAttachFiles: "documentFlowModule/fetchAttachFiles",
		}),
		/**/
		send() {
			if(!this.feedbackModel.message.replace(/<\/?[^>]+(>|$)/g, "").trim()) {
				this.$toast.warning(this.$t('layout.required-field'))
				return;
			}

			this.$v.$touch();

			if (this.$v.$invalid) {
				this.$toast.warning(this.$t('layout.required-field'))
				return;
			}

			this.isLoading = true;

			let formData = new FormData();
			formData.append("cisco", this.feedbackModel.cisco);
			formData.append("message", this.feedbackModel.message);
			formData.append("theme", this.feedbackModel.theme);
			if (this.feedbackModel.image) {
				formData.append("image", this.feedbackModel.image);
			}

			this.$axios.post(`/alert/send/`, formData)
				.then(() => {
					this.$toast.success(this.$t('layout.comment-sended'));
					this.clearFields();
					this.isLoading = false;
					this.$emit('emit:up')
				}).catch(() => {
				this.$toast.error(this.$t('layout.comment-not-sended'));
			})
		},
		closeFilterModal() {
			this.$emit('emit:up')
		},
		/**/
		clearFields() {
			this.feedbackModel.cisco = this.feedbackModel.theme = this.feedbackModel.message = "";
			this.$v.$reset();
			// const { uploadImage } = this.$refs;
			// uploadImage.reset();
		}
	}
}
</script>

<style scoped>

</style>
