<template>
	<div>
		<div>
			<v-row class="my-0">
				<v-col md="6" class="py-2">
					<div class="app-input">
						<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('layout.theme') }}</span>

						<v-text-field
							v-model="$v.propositionModel.theme.$model"
							:error="$v.propositionModel.theme.$error"
							outlined
							background-color="var(--input-bg)"
							hide-details
							clearable
						/>
					</div>
				</v-col>

				<v-col md="6" class="py-2">
					<div class="app-input">
						<span class="d-block font-600 small-2 mb-2 text-7">{{$t('layout.cisco-or-phone')}}</span>

						<v-text-field
							v-model="$v.propositionModel.cisco.$model"
							:error="$v.propositionModel.cisco.$error"
							outlined
							background-color="var(--input-bg)"
							hide-details
							clearable
						/>
					</div>
				</v-col>
				<v-col md="12" class="py-2">
					<div class="app-input feedback-quil-editor">
						<span class="d-block font-600 small-2 mb-2 text-7">{{$t('layout.offers')}}</span>

						<quill-editor
							v-model="$v.propositionModel.message.$model"
							:error="$v.propositionModel.message.$error"
							class="mb-1"
						/>
					</div>
				</v-col>

				<v-col md="12" class="py-2">
					<div class="app-input feedback-quil-editor">
						<span class="d-block font-600 small-2 mb-2 text-7">{{$t('layout.expected-result')}}</span>

						<quill-editor
							v-model="$v.propositionModel.result.$model"
							:error="$v.propositionModel.result.$error"
							class="mb-8"
						/>
					</div>
				</v-col>
			</v-row>
		</div>

		<div class="d-flex">
			<app-button
				class="mr-4"
				min-width="74"
				height="40"
				@click="sendProposition"
				:loading="isLoading"
			>
				<template>
					{{$t('layout.send')}}
				</template>
			</app-button>

			<app-button
				@click="closeFilterModal"
				min-width="85"
				height="40"
				outlined
				color="error"
			>
				<template>
					{{$t('layout.cancel')}}
				</template>
			</app-button>
		</div>
	</div>
</template>

<script>
import { required } from "vuelidate/lib/validators";

export default {
	name: "PropositionToChairman",
	data() {
		return {
			propositionModel: {
				theme: "",
				cisco: "",
				message: "",
				result: ""
			},
			isLoading: false
		}
	},
	validations: {
		propositionModel: {
			theme: {required},
			cisco: {required},
			message: {required},
			result: {required},
		},
	},
	methods: {
		closeFilterModal() {
			this.$emit('emit:up')
		},
		sendProposition(){
			if(!this.propositionModel.message.replace(/<\/?[^>]+(>|$)/g, "").trim()) {
				this.$toast.warning(this.$t('layout.required-field'))
				return;
			}
			if(!this.propositionModel.result.replace(/<\/?[^>]+(>|$)/g, "").trim()) {
				this.$toast.warning(this.$t('layout.required-field'))
				return;
			}
			this.$v.$touch();

			if (this.$v.$invalid) {
				this.$toast.warning(this.$t('layout.required-field'))
				return;
			}

			this.isLoading = true;

			let formData = new FormData();
			formData.append("cisco", this.propositionModel.cisco);
			formData.append("message", this.propositionModel.message);
			formData.append("theme", this.propositionModel.theme);
			formData.append("result", this.propositionModel.result);

			this.$axios.post(`/alert/send/offer_for_chairman/`, formData)
				.then(() => {
					this.$toast.success(this.$t('layout.offer-sended'));
					this.clearFields();
					this.isLoading = false;
					this.$emit('emit:up')
				}).catch(err => {
				this.$toast.error(this.$t('layout.comment-not-sended'));
			})
		},
		/**/
		uploadFiles(file) {
			this.feedbackModel.image = file;
		},
		/**/
		clearFields() {
			this.propositionModel.cisco = this.propositionModel.theme = this.propositionModel.message = this.propositionModel.result = "";
			this.$v.$reset();
			// const { uploadImage } = this.$refs;
			// uploadImage.reset();
		}
	}
}
</script>

<style scoped>

</style>
