<template>
	<div class="chat-sidebar-about-user bg-4 w-100 h-100">
		<div class="chat-sidebar-about-user-x d-flex align-center px-6 mb-4">
			<v-icon
				@click.prevent="openUserDetailSidebar(false)"
				class="pointer mr-5">{{ "$vuetify.icons.XIcon" }}
			</v-icon>
			<span class="font-500 small-2">{{$t('chat-messenger.components.sidebar-about.profile')}}</span>
		</div>
		<template v-if="chatRoleMember">
			<div class="aside-width-400 ml-auto h-100">
				<div class="d-flex flex-column align-center mb-5">
					<v-img
						v-if="chatRoleMember.user.avatar"
						:src="chatRoleMember.user.avatar.url"
						max-height="396"
						max-width="396"
						class="w-100 h-100 img-cover"
					>
					</v-img>
					<v-avatar v-else :color="chatRoleMember.user.color" size="80">
						<span class="text-white heading-7">{{ chatRoleMember.user.last_name | getFirstCharacterWithoutDot }}</span>
					</v-avatar>
				</div>

				<div class="px-6">
					<div class="d-flex align-center mb-5">
						<v-icon size="25" color="primary" class="mr-6">mdi-account-outline</v-icon>
						<span class="font-500 small-2">{{ chatRoleMember.user.last_name }} {{
								chatRoleMember.user.first_name
							}} {{ chatRoleMember.user.father_name }}</span>
					</div>

					<div v-if="chatRoleMember.user.dep_name" class="d-flex align-center mb-5">
						<v-icon size="25" color="primary" class="mr-6">mdi-trophy-award</v-icon>
						<span class="font-500 small-2">{{ chatRoleMember.user.dep_name }}</span>
					</div>

					<div v-if="chatRoleMember.user.position" class="d-flex align-center mb-5">
						<v-icon size="25" color="primary" class="mr-6">mdi-briefcase-account-outline</v-icon>
						<span class="font-500 small-2">{{ chatRoleMember.user.position }}</span>
					</div>

					<div v-if="chatRoleMember.user.cisco" class="d-flex align-center mb-5">
						<v-icon size="25" color="primary" class="mr-6">mdi-phone-in-talk-outline</v-icon>
						<div class="d-flex justify-space-between w-100">
							<span class="font-500 small-2">Cisco</span>
							<span class="font-500 small-2">{{ chatRoleMember.user.cisco }}</span>
						</div>
					</div>

					<div class="d-flex align-center mb-5">
						<v-icon size="25" color="primary" class="mr-6">mdi-bell-outline</v-icon>
						<div class="d-flex justify-space-between w-100 align-center">
							<span class="font-500 small-2">{{$t('chat-messenger.components.sidebar-about.notification')}}</span>
							<v-switch
								v-model="isNotificationOn"
								inset
								hide-details
								class="ma-0 pa-0"
							></v-switch>
						</div>
					</div>
				</div>
			</div>
		</template>
	</div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
	name: "ChatSidebarAboutUser",
	data() {
		return {
			isNotificationOn: false
		}
	},
	computed: {
		...mapGetters({
			conversationUserSelected: "chatModule/getConversationUserSelected",
			currentUser: "auth/getCurrentUser",
		}),
		/*
		*
		* */
		chatRoleMember() {
			return this.conversationUserSelected.chat.find(item => item.user.id !== this.currentUser.id)
		}
	},
	methods: {
		...mapActions({
			openUserDetailSidebar: "chatModule/openUserDetailSidebar"
		})
	}
}
</script>

<style>
.chat-sidebar-about-user-x {
	height: 65px;
}
</style>
