<template>
	<div class="chat-sidebar-about-user bg-4 w-100 h-100">
		<div class="chat-sidebar-about-user-x d-flex align-center px-6 mb-10">
			<v-icon
				@click.prevent="openUserDetailSidebar(false)"
				class="pointer mr-5">{{ "$vuetify.icons.XIcon" }}
			</v-icon>
			<span class="font-500 small-2">{{$t('chat-messenger.components.sidebar-about.group')}}</span>
		</div>
		<div class="aside-width-400 ml-auto h-100">
			<div class="group-info-container d-flex flex-column align-center mb-5 px-6">

				<v-avatar color="blue" size="80">
					<v-img
						v-if="conversationUserSelected.image"
						:src="conversationUserSelected.image.url"
						max-height="396"
						max-width="396"
						class="w-100 h-100 img-cover"
					>
					</v-img>

					<span v-else class="text-white text-uppercase heading-7">{{
							conversationUserSelected && conversationUserSelected.title && conversationUserSelected.title[0]
						}}</span>
				</v-avatar>

				<span class="font-500 heading-10 mt-6 text-center">{{ conversationUserSelected.title }}</span>

				<span v-if="+groupMembersCount > 0" class="font-400 small-2 opacity-50 mt-2">{{
						groupMembersCount
					}} {{$t('chat-messenger.components.sidebar-about.members')}}</span>

				<div class="d-flex align-center my-4 w-100">
					<v-icon size="25" color="primary" class="mr-2">mdi-bell-outline</v-icon>
					<div class="d-flex justify-space-between w-100 align-center">
						<span class="font-500 small-2">{{$t('chat-messenger.components.sidebar-about.notification')}}</span>
						<v-switch
							v-model="isNotificationOn"
							inset
							hide-details
							class="ma-0 pa-0"
						></v-switch>
					</div>
				</div>

				<div @click.prevent="addMember" class="d-flex align-center my-4 pointer w-100">
					<v-icon size="25" color="primary" class="mr-2">mdi-plus</v-icon>
					<span class="font-500 small-2">{{$t('chat-messenger.components.sidebar-about.add-members')}}</span>
				</div>

				<v-divider class="my-2" style="border-color: var(--border-color)"></v-divider>

				<v-tabs
					v-model="tab"
					slider-size="4"
					class="border-bottom"
					style="flex: initial"
				>
					<v-tab>
						<span class="font-500 text-capitalize">{{$t('chat-messenger.components.sidebar-about.members')}}</span>
					</v-tab>
					<v-tab>
						<span class="font-500 text-capitalize">{{$t('chat-messenger.components.sidebar-about.photo')}}</span>
					</v-tab>
					<v-tab>
						<span class="font-500 text-capitalize">{{$t('chat-messenger.components.sidebar-about.files')}}</span>
					</v-tab>
				</v-tabs>

				<v-tabs-items v-model="tab" class="overflow-y-auto w-100 my-2">
					<v-tab-item class="scrollable-height py-2 overflow-y-auto">
						<perfect-scrollbar>
							<template>
								<div v-for="member in groupChatMembers" :key="member.id"
								     class="rounded-10 hoverable chat-user-item d-flex align-center pointer text-decoration-none pa-3 transition-all"
								>
									<v-avatar :color="member.user.color">
										<template v-if="member.user.avatar">
											<img
												:src="member.user.avatar.url"
												alt="Avatar"
												class="object-cover"
											/>
										</template>

										<template v-else>
											<span
												class="text-white">{{ member.user && member.user.last_name && member.user.last_name | getFirstCharacterWithoutDot }}</span>
										</template>
									</v-avatar>
									<div class="flex-1 ml-3 text-truncate">
										<div class="d-flex flex-column font-500">
										<span
											class="text-selected mr-2 text-truncate flex-1 small-2"
										>
											{{ member.user.last_name }}
											{{ member.user && member.user.first_name && member.user.first_name | getFirstCharacter }}
											{{ member.user && member.user.father_name && member.user.father_name | getFirstCharacter }}
										</span>

											<span class="font-400 small-2 opacity-70">
											{{ member.user.position }}
										</span>
										</div>
									</div>
								</div>
							</template>
						</perfect-scrollbar>
					</v-tab-item>

					<v-tab-item class="scrollable-height py-2 overflow-y-auto">
						<perfect-scrollbar>
							<div class="group-images-cover">
								<v-row>
									<template v-for="message in conversationUserMessages">
										<v-col
											:key="message.id"
											md="4"
											class="pa-1 pointer"
											v-if="message.file !== null && message.file_type === 'IMAGE'"
										>
											<img
												:src="message.file.url"
												alt=""
												class="w-100 h-100 img-cover"
												@click="openImage(message.file.url)"
											>
										</v-col>
									</template>
								</v-row>
							</div>
						</perfect-scrollbar>
					</v-tab-item>

					<v-tab-item class="scrollable-height py-2 overflow-y-auto">
						<perfect-scrollbar>
							<div class="group-images-cover">
								<template v-for="(message, index) in conversationUserMessages" >
									<a
										v-bind:key="index"
										v-if="message.file !== null && message.file_type === 'FILE'"
										:href="message.file.url"
										class="text-decoration-none"
										target="_blank"
									>
										<div
											:key="message.id"
											class="d-flex hoverable pointer pa-4"
										>
											<div class="d-flex bg-primary rounded-50 pa-2">
												<v-icon>mdi-file-document</v-icon>
											</div>
											<div class="d-flex flex-column ml-3">
												<span class="small-2 font-400 line-truncate">{{ message.file.name }}</span>
												<span class="small-3 opacity-70">{{ message.text }}</span>
											</div>
										</div>
									</a>
								</template>
							</div>
						</perfect-scrollbar>
					</v-tab-item>
				</v-tabs-items>
			</div>
		</div>

		<add-member-modal ref="addMember"/>

		<image-viewer-modal ref="imageViewer" />

	</div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import AddMemberModal from "../base/AddMemberModal";
import ImageViewerModal from "../base/ImageViewerModal";

export default {
	name: "ChatSidebarAboutGroup",
	components: {
		AddMemberModal,
		ImageViewerModal
	},
	data() {
		return {
			isNotificationOn: false,
			tab: null
		}
	},
	computed: {
		...mapGetters({
			conversationUserSelected: "chatModule/getConversationUserSelected",
			conversationUserMessages: "chatModule/getConversationUserMessages",
			groupChatMembers: "chatModule/getGroupChatMembers"
		}),
		/**/
		groupMembersCount() {
			return this.conversationUserSelected.chat && this.conversationUserSelected.chat.length
		},
	},
	methods: {
		...mapActions({
			openUserDetailSidebar: "chatModule/openUserDetailSidebar",
			openPrivateChat: "chatModule/openPrivateChat",
		}),
		/**/
		addMember() {
			const {addMember} = this.$refs;
			addMember.dialog = true
		},
		/**/
		openImage(url){
			const { imageViewer } = this.$refs;
			imageViewer.imageViewerModal = true;
			imageViewer.imageUrl = url
		}
	}
}
</script>

<style>
.group-info-container .v-tabs > .v-tabs-bar .v-tab:not(.v-tab--active) {
	color: black;
}

.scrollable-height .ps {
	height: 380px;
}
.group-images-cover{
	max-width: calc(100% - 20px);
}
</style>
