<template>
	<div class="d-flex flex-column align-start flex-1 pa-4">
		<template v-if="isLoading">
			<app-loader
				component-based
			/>
		</template>
		<template v-else>
			<div v-if="$route.query.type !== 'for_watching_process'" class="d-flex align-center w-100 mb-12">
				<span class="heading-9 font-600 text-dark mr-3 d-block">{{ formTitle }}</span>
				<v-divider/>

				<app-button
          color="error"
          @click="$router.go(-1)"
          class="ml-2"
          v-if="$route.query.type !== 'for_watching_process'"
        >
					<template #prepend>
						<arrow-left-icon size="18" />
					</template>
					<template>
						{{$t('document-flow.views.registration.back')}}
					</template>
				</app-button>

        <template v-if="currentUser.role !== 'assistant'">
          <app-button
            @click="updateDocument"
            depressed
            class="ml-2"
            v-if="$route.query.type !== 'for_watching_process'"
          >
					<template #prepend>
						<v-icon size="17">mdi-content-save</v-icon>
					</template>
					<template #default>
						{{$t('document-flow.views.registration.save')}}
					</template>
          </app-button>
        </template>
			</div>

			<div class="w-100 mb-auto">
				<v-row>
					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.type-registration-document')}}</span>

							<v-autocomplete
								v-model="$v.reviewGetOneInner.journal.$model"
								:error="$v.reviewGetOneInner.journal.$error"
								:items="journalList"
								item-text="name"
								outlined
								hide-details
								return-object
								readonly
								background-color="var(--input-bg)"
							>
								<template #append>
									<v-icon>mdi-chevron-down</v-icon>
								</template>
							</v-autocomplete>
						</div>
					</v-col>

					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.registration-number')}}</span>

							<v-text-field
								v-model="reviewGetOneInner.register_number"
								hide-details
								outlined
								background-color="var(--input-bg)"
                :readonly="currentUser.role === 'assistant' || $route.query.type === 'for_watching_process'"
								@keypress="$store.dispatch('documentFlowModule/checkKeyDownAlphaNumeric', $event)"
								@paste="$store.dispatch('documentFlowModule/checkCopiedText', $event)"
							></v-text-field>
						</div>
					</v-col>

					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.registration-date')}}</span>

							<app-date-picker
								v-model="$v.reviewGetOneInner.register_date.$model"
								:error="$v.reviewGetOneInner.register_date.$error"
								with-input
								background-color="var(--input-bg)"
                :disabled-menu="currentUser.role === 'assistant'"
								:disabled="$route.query.type === 'for_watching_process'"
							/>
						</div>
					</v-col>

					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.document-type')}}</span>

							<app-autocomplete
								v-model="$v.reviewGetOneInner.doc_type.$model"
								:error="$v.reviewGetOneInner.doc_type.$error"
								:api-list-url="documentReferenceUrl"
								:api-params="{
                  type: 'doc_type'
                }"
								list-type="list"
								item-text="name"
								return-object
                :readonly="currentUser.role === 'assistant' || $route.query.type === 'for_watching_process'"
								cache-items
							/>
						</div>
					</v-col>

					<v-col v-if="reviewGetOneInner.deadline" md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.period-for-execution')}}</span>

							<app-date-picker
								v-model="reviewGetOneInner.deadline"
								with-input
								background-color="var(--input-bg)"
                :disabled-menu="currentUser.role === 'assistant'"
								:disabled="$route.query.type === 'for_watching_process'"
							/>
						</div>
					</v-col>

					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.department')}} <span class="color-red">*</span></span>

							<v-autocomplete
								v-model="$v.reviewGetOneInner.department.$model"
								:error="$v.reviewGetOneInner.department.$error"
								:items="departmentList"
								item-text="name"
								return-object
								outlined
								hide-details
								clearable
								background-color="var(--input-bg)"
                :readonly="currentUser.role === 'assistant'"
								:disabled="$route.query.type === 'for_watching_process'"
							>
								<template #append>
									<v-icon>mdi-chevron-down</v-icon>
								</template>
							</v-autocomplete>
						</div>
					</v-col>

					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.author')}} <span class="color-red">*</span></span>

							<app-autocomplete
								v-model="$v.reviewGetOneInner.author.$model"
								:error="$v.reviewGetOneInner.author.$error"
								:api-list-url="usersReferenceUrl"
								item-text="first_name"
								cache-items
								return-object
								:search-value="reviewGetOneInner.author && reviewGetOneInner.author.full_name"
                :readonly="currentUser.role === 'assistant' || $route.query.type === 'for_watching_process'"
              />
						</div>
					</v-col>

					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.signatory')}} <span class="color-red">*</span></span>

              <app-autocomplete
								v-model="$v.reviewGetOneInner.signer.$model"
								:error="$v.reviewGetOneInner.signer.$error"
								:api-list-url="usersReferenceUrl"
								item-text="first_name"
								cache-items
								return-object
								:search-value="reviewGetOneInner.signer && reviewGetOneInner.signer.full_name"
                :readonly="currentUser.role === 'assistant' || $route.query.type === 'for_watching_process'"
              />
						</div>
					</v-col>

					<v-col md="12">
						<review-users :document-model="reviewGetOneInner" :is-disabled="$route.query.type === 'for_watching_process'" />
					</v-col>

					<v-col md="12">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.content')}} <span class="color-red">*</span></span>

							<v-textarea
								v-model="$v.reviewGetOneInner.description.$model"
								:error="$v.reviewGetOneInner.description.$error"
								outlined
								hide-details
								no-resize
								auto-grow
								background-color="var(--input-bg)"
                :readonly="currentUser.role === 'assistant' || $route.query.type === 'for_watching_process'"
							></v-textarea>

							<resolution-content-modal
								title="components.add-template"
								title-dialog="components.add-content-resolution"
								class="mt-2"
								@emit:up="(text) => reviewGetOneInner.description = text.name.replace(/<\/?[^>]+(>|$)/g, '')"
							/>
						</div>
					</v-col>

					<v-col md="12">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.attach-file')}}</span>

							<app-file-upload
								@uploadFiles="uploadFiles"
								class="w-100"
								:show-files="false"
								:disabled="currentUser.role === 'assistant' || $route.query.type === 'for_watching_process'"
							/>

<!--							<v-file-input-->
<!--								@change="uploadFiles"-->
<!--								multiple-->
<!--								prepend-inner-icon="mdi-paperclip"-->
<!--								prepend-icon=""-->
<!--								outlined-->
<!--								hide-details-->
<!--								background-color="var(&#45;&#45;input-bg)"-->
<!--                :disabled="currentUser.role === 'assistant' || $route.query.type === 'for_watching_process'"-->
<!--							></v-file-input>-->
						</div>
					</v-col>

					<v-col md="12">
						<app-table
							:table-width="500"
							:table-head-items="filesTableHeaders"
						>
							<template #tableBody>
								<tr v-for="(document, index) in attachDocumentsList" :key="document.id">
									<td>{{ index + 1 }}</td>
									<td>{{ document.document && document.document.name }}</td>
									<td>{{ document.document && document.document.created_date | filterCalendarToTime }}</td>
									<td>
										<div class="d-flex align-center" style="width: 90px">
											<app-button
												v-if="document.document"
												min-width="43"
												width="43px"
												color="var(--primary-3)"
												icon
												@click="fetchDownloadDocument(document.document)"
											>
												<template #prepend>
													<download-icon size="18"/>
												</template>
											</app-button>

											<app-button
												min-width="43"
												width="43px"
												color="var(--primary-3)"
												icon
												@click="viewDocument(document.document.url)"
											>
												<v-icon size="20">
													mdi-eye-outline
												</v-icon>
											</app-button>

											<app-button
												v-if="['admin', 'chancellery', 'chancellery_admin'].includes(currentUser.role)"
												@click="deleteFile(document.id)"
												min-width="43"
												width="43px"
												color="var(--primary-4)"
												icon
											>
												<template #prepend>
													<trash2-icon size="18"/>
												</template>
											</app-button>
										</div>
									</td>
								</tr>
							</template>
						</app-table>
					</v-col>

						<v-col md="12" v-if="reviewGetOneInner.document_unique_id">
							<activity
								v-if="reviewGetOneInner.document_unique_id"
								:document-model="reviewGetOneInner"
							/>
						</v-col>

				</v-row>
			</div>
		</template>
		<pdf-viewer-modal ref="pdfModal" />
	</div>
</template>

<script>
import { TABLE_HEAD_TEXT_LIST } from "@/common/constants";
import { selectFromList } from "@/common/helpers";
import { ArrowLeftIcon, DownloadCloudIcon, DownloadIcon, EyeIcon, SendIcon, Trash2Icon } from "vue-feather-icons";
import { required } from "vuelidate/lib/validators";
import { mapActions, mapGetters, mapState } from "vuex";
import PdfViewerModal from "../../../../../../../common/components/PdfViewerModal";
import Activity from "../../Components/Activity";
import ReviewUsers from "../../Components/ReviewUsers";
import ResolutionContentModal from "../../../../../../../common/components/ResolutionContentModal";

export default {
	name: "InnerFormShowView",
	props: {
		formType: {
			type: String,
			default: ""
		},
		formTitle: {
			type: String,
			default: "Регистрация документа"
		}
	},
	components: {
		Trash2Icon,
		DownloadIcon,
		EyeIcon,
		SendIcon,
		DownloadCloudIcon,
		ArrowLeftIcon,
		ReviewUsers,
		PdfViewerModal,
		Activity,
		ResolutionContentModal
	},
	validations: {
		reviewGetOneInner: {
			register_date: {required},
			doc_type: {required},
			description: {required},
			author: {required},
			signer: {required},
			journal: {required},
			department: {required}
		},
		addCommentsToDocument: {
			description: {required}
		},
		leaveCommentModel: {
			description: {required}
		}
	},
	computed: {
    ...mapState({
      filteredState: state => state.headerFilter.filteredState,
      filterPagination: state => state.headerFilter.pagination,
	    indexTableFilters: state => state.documentFlowRegistrationInner.indexTableFilters
    }),
    /*
    *
    * */
		...mapGetters({
      currentUser: "auth/getCurrentUser",
			reviewGetOneInner: "documentFlowModule/getReviewGetOneInner",
			journalList: "documentFlowModule/getNewJournalList",
			departmentList: "documentFlowModule/getDepartmentList",
			attachDocumentListID: "documentFlowModule/getAttachDocumentListID",
			attachDocumentsList: "documentFlowModule/getAttachDocumentsList",
			isLoading: "getDetailLoading"
		}),
		/*
		*
		* */
		activeFiltered() {
			let active = {}

			Object.entries(this.indexTableFilters).forEach(filter => {
				const [key, value] = filter

				if(key.startsWith("__")) {
					return;
				}

				if(value || value === true || value === false) {
					active[key] = value
				}
			})

			return active
		},
		filesTableHeaders() {
			return selectFromList([1, 22, 23, 19], TABLE_HEAD_TEXT_LIST)
		},
		/**/
		documentReferenceUrl() {
			return `/docflow/${this.$store.getters['auth/getCurrentUser'].filial}/reference/`
		},
		/**/
		usersReferenceUrl() {
			return `/${this.$store.getters['auth/getCurrentUser'].filial}/user/lists/by_category/`
		}
	},
	mounted() {
		if (this.$route.params.id) {
			this.fetchInnerDocumentById(this.$route.params.id)
			this.fetchDepartmentList()
		}
	},
	beforeDestroy() {
		this.$store.commit("documentFlowModule/CLEAR_ATTACHED_DOCUMENTS_ID")
	},
	methods: {
		...mapActions({
			fetchInnerDocumentById: "documentFlowModule/fetchInnerDocumentById",
			fetchAttachFiles: "documentFlowModule/fetchAttachFiles",
			fetchAttachFilesUpload: "documentFlowModule/fetchAttachFilesUpload",
			fetchDeleteFileFromAttachFile: "documentFlowModule/fetchDeleteFileFromAttachFile",
			fetchInnerDocumentUpdate: "documentFlowModule/fetchInnerDocumentUpdate",
			fetchDepartmentList: "documentFlowModule/fetchDepartmentList",
			fetchDownloadDocument: "documentFlowModule/fetchDownloadDocument",
		}),
		updateDocument(){
			this.$v.reviewGetOneInner.$touch();

			if (this.$v.reviewGetOneInner.$invalid) {
				this.$toast.warning(this.$t('document-flow.views.registration.required-field'))
				return;
			}

			this.fetchInnerDocumentUpdate(this.reviewGetOneInner).then((data) => {
				this.$toast.success(this.$t('document-flow.views.registration.updated'))
				this.fetchInnerDocumentById(this.$route.params.id)
			})
		},
		/**/
		uploadFiles(files) {
			if (files.length) {
				this.fetchAttachFiles({
					files,
					incomingDocId: this.$route.params.id
				}).then((data) => {
					setTimeout(() => {
						this.fetchAttachFilesUpload(this.attachDocumentListID)
					}, 1000)
				});
			}
		},
		/**/
		deleteFile(id) {
			if (!confirm(this.$t('document-flow.views.registration.delete-user-confirmation'))) {
				return;
			}

			this.fetchDeleteFileFromAttachFile({
				fileId: id,
				incomingDocId: this.$route.params.id
			})
		},
		/**/
		viewDocument(url){
			const {pdfModal} = this.$refs
			pdfModal.url = url;
			pdfModal.dialog = true
		}
	}
}
</script>

<style scoped>

</style>
