<script>
export default {
	name: "ApplicationTemplate",
	props: {
		detail: {
			type: Object
		}
	}
}
</script>

<template>
	<div class="pa-8 bg-white mt-8 border-all" style="width: 800px">
		<div
			class="element-to-download d-flex flex-column bg-white !d-none"
			id="elementToDownload"
			style="font-family: 'Inter', sans-serif;"
		>
			<v-row>
				<v-col md="7" class="font-600 small-1">
					“Asakabank” AJning Aloqa Markaziga bankomatlarda mijozlar tomonidan pul mablag`larini ololmaganligi sababli kelib tushgan ariza namunasi.
				</v-col>
				<v-col md="5" class="d-flex justify-center w-100" style="text-align: center">
					<img src="/img/logo_asaka_4.png" alt="">
				</v-col>
			</v-row>

			<table class="small-2" style="border-spacing: 0">
				<tr>
					<td style="padding: 8px; text-align: center;" class="border-all-2 pa-2 text-center" width="10%">1</td>
					<td style="padding: 8px;" class="border-top-2 border-right-2 border-bottom-2 pa-2" width="45%">Порядковый номер обращения/ Murojaatning tartib raqami</td>
					<td style="padding: 8px;" class="border-top-2 border-right-2 border-bottom-2 pa-2" width="45%">{{ detail.register_number }}</td>
				</tr>
				<tr>
					<td style="padding: 8px; text-align: center;" class="border-all-2 pa-2 text-center" width="10%">2</td>
					<td style="padding: 8px;" class="border-top-2 border-right-2 border-bottom-2 pa-2" width="45%">Ф.И.О. Оператора/ Operator F.I.SH.</td>
					<td style="padding: 8px;" class="border-top-2 border-right-2 border-bottom-2 pa-2" width="45%">
						{{ detail.created_by.last_name }}
						{{ detail.created_by.first_name }}
						{{ detail.created_by.father_name }}
					</td>
				</tr>
				<tr>
					<td style="padding: 8px; text-align: center;" class="border-all-2 pa-2 text-center" width="10%">3</td>
					<td style="padding: 8px;" class="border-top-2 border-right-2 border-bottom-2 pa-2" width="45%">Дата и время регистрации обращения/Murojaat ro`yxatga olingan sana va vaqt</td>
					<td style="padding: 8px;" class="border-top-2 border-right-2 border-bottom-2 pa-2" width="45%">{{ detail.register_date | filterDateMonthYear }}</td>
				</tr>
				<tr>
					<td style="padding: 8px; text-align: center;" class="border-all-2 pa-2 text-center" width="10%">4</td>
					<td style="padding: 8px;" class="border-top-2 border-right-2 border-bottom-2 pa-2" width="45%">Ф.И.О. Клиента/Mijoz F.I.SH.</td>
					<td style="padding: 8px;" class="border-top-2 border-right-2 border-bottom-2 pa-2" width="45%">{{ detail.full_name_sender }}</td>
				</tr>
				<tr>
					<td style="padding: 8px; text-align: center;" class="border-all-2 pa-2 text-center" width="10%">5</td>
					<td style="padding: 8px;" class="border-top-2 border-right-2 border-bottom-2 pa-2" width="45%">Адрес Клиента/Mijoz manzili</td>
					<td style="padding: 8px;" class="border-top-2 border-right-2 border-bottom-2 pa-2" width="45%">
						{{ detail.region.name }},
						{{ detail.district.name }},
						{{ detail.address }}</td>
				</tr>
				<tr>
					<td style="padding: 8px; text-align: center;" class="border-all-2 pa-2 text-center" width="10%">6</td>
					<td style="padding: 8px;" class="border-top-2 border-right-2 border-bottom-2 pa-2" width="45%">Дата рождения, пол, тип клиента (физ или юр лицо)/ Tug'ilgan sanasi, jinsi, mijozning turi (jismoniy yoki yuridik shaxs)</td>
					<td style="padding: 8px;" class="border-top-2 border-right-2 border-bottom-2 pa-2" width="45%">
						{{ detail.outgoing_date | filterDateMonthYear }},
						{{ detail.gender === 'M' ? 'erkak' : 'ayol' }},
						{{ detail.applicant === 'physics' ? 'jismoniy shaxs' : 'yuridik shaxs' }}
					</td>
				</tr>
				<tr>
					<td style="padding: 8px; text-align: center;" class="border-all-2 pa-2 text-center" width="10%">7</td>
					<td style="padding: 8px;" class="border-top-2 border-right-2 border-bottom-2 pa-2" width="45%">BXM nomi va bankomat seriya raqami</td>
					<td style="padding: 8px;" class="border-top-2 border-right-2 border-bottom-2 pa-2" width="45%">{{ detail.title }}</td>
				</tr>
				<tr>
					<td style="padding: 8px; text-align: center;" class="border-all-2 pa-2 text-center" width="10%">8</td>
					<td style="padding: 8px;" class="border-top-2 border-right-2 border-bottom-2 pa-2" width="45%">Телефон клиента/Mijoz telefon raqami</td>
					<td style="padding: 8px;" class="border-top-2 border-right-2 border-bottom-2 pa-2" width="45%">
						{{ detail.phone_number }}
						<br>
						{{ detail.outgoing_number }}
					</td>
				</tr>
				<tr>
					<td style="padding: 8px; text-align: center;" class="border-all-2 pa-2 text-center" width="10%">9</td>
					<td style="padding: 8px;" class="border-top-2 border-right-2 border-bottom-2 pa-2" width="45%">Пластиковая карта клиент с которой сняты деньги/Mijozning pul yechib olingan karta raqami</td>
					<td style="padding: 8px;" class="border-top-2 border-right-2 border-bottom-2 pa-2" width="45%">{{ detail.organization_reg_number }}</td>
				</tr>
				<tr>
					<td style="padding: 8px; text-align: center;" class="border-all-2 pa-2 text-center" width="10%">10</td>
					<td style="padding: 8px;" class="border-top-2 border-right-2 border-bottom-2 pa-2" colspan="2" width="45%"><span style="font-size: 14px!important; font-weight: normal!important;" v-html="detail.description"></span></td>
				</tr>
			</table>
		</div>
	</div>
</template>

<style scoped>

</style>
