<template>
	<div class="d-flex flex-column align-start flex-1 pa-4">
		<template v-if="isLoading">
			<app-loader
				component-based
			/>
		</template>

		<template v-else>
			<div v-if="$route.query.type !== 'for_watching_process'" class="d-flex align-center w-100 mb-12">
				<span class="heading-9 font-600 text-dark mr-3 d-block">{{$t('document-flow.views.registration.registration')}}</span>
				<v-divider />
				<app-button
					color="error"
					:to="{
				    name: 'FilialDocumentsIndex',
					  query: activeFiltered
				  }"
					class="ml-2"
				>
					<template #prepend>
						<arrow-left-icon size="18" />
					</template>
					<template>
						{{$t('document-flow.views.registration.back')}}
					</template>
				</app-button>

				<template>
					<app-button
						@click="saveDocument"
						depressed
						class="ml-2"
						:loading="loading"
					>
						<template #default>
							{{$t('document-flow.views.registration.save')}}
						</template>
						<template #append>
							<v-icon size="17">mdi-content-save</v-icon>
						</template>
					</app-button>
				</template>
			</div>

			<div class="w-100 mb-auto">
				<v-row>
					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.components.type-registration-document')}}</span>
							<v-autocomplete
								v-model="journalList[0]"
								:items="journalList"
								item-text="name"
								outlined
								hide-details
								return-object
								readonly
								background-color="var(--input-bg)"
							>
								<template #append>
									<v-icon>mdi-chevron-down</v-icon>
								</template>
							</v-autocomplete>
						</div>
					</v-col>

					<v-col md="6" v-if="currentUser.filial !== '09013'">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.registration-number')}} <span class="color-red">*</span></span>

							<v-text-field

								v-model="formModel.register_number"
								hide-details
								outlined
								background-color="var(--input-bg)"
								@keypress="$store.dispatch('documentFlowModule/checkKeyDownAlphaNumeric', $event)"
								@paste="$store.dispatch('documentFlowModule/checkCopiedText', $event)"
							></v-text-field>

<!--							<register-number
								v-else
								v-model="formModel.register_number"
								:value="formModel.register_number"
								@getRegisterNumber="getRegisterNumber"
								ref="registerNumber"
								:api-url="`/docflow/${currentUser.filial}/get-register-number-for-registration/`"
								button-disabled
							/>-->
						</div>
					</v-col>

					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.registration-date')}} <span class="color-red">*</span></span>

							<app-date-picker
								v-model="$v.formModel.register_date.$model"
								:error="$v.formModel.register_date.$error"
								with-input
								background-color="var(--input-bg)"
								:disabled-menu="currentUser.role === 'assistant'"
							/>
						</div>
					</v-col>

					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.outgoing-number')}} </span>

							<v-text-field
								v-model="filialDocument.register_number"
								readonly
								hide-details
								outlined
								background-color="var(--input-bg)"
								@keypress="$store.dispatch('documentFlowModule/checkKeyDownAlphaNumeric', $event)"
								@paste="$store.dispatch('documentFlowModule/checkCopiedText', $event)"
							></v-text-field>
						</div>
					</v-col>

					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.outgoing-date')}} </span>

							<v-text-field
								v-model="filialDocument.register_date"
								readonly
								hide-details
								outlined
								background-color="var(--input-bg)"
							></v-text-field>
						</div>
					</v-col>

					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.document-priority')}} <span class="color-red">*</span></span>

							<v-select
								v-model="$v.formModel.priority.$model"
								:error="$v.formModel.priority.$error"
								:items="$store.state.priorityList"
								item-text="title"
								item-value="value"
								outlined
								hide-details
								clearable
								background-color="var(--input-bg)"
							>
								<template #append>
									<v-icon>mdi-chevron-down</v-icon>
								</template>
							</v-select>
						</div>
					</v-col>

          <v-col md="6">
            <div class="app-input">
              <span class="d-block font-600 small-2 mb-2">{{ $t('components.execution-duration') }}</span>

              <app-date-picker
                  v-model="formModel.deadline"
                  with-input
                  background-color="var(--input-bg)"
              />
            </div>
          </v-col>

					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.document-type')}}</span>

							<v-text-field
								v-model="filialDocument.doc_type && filialDocument.doc_type.name"
								readonly
								hide-details
								outlined
								background-color="var(--input-bg)"
							></v-text-field>
						</div>
					</v-col>

					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.department')}}</span>

							<v-text-field
								v-model="filialDocument.department && filialDocument.department.name"
								readonly
								hide-details
								outlined
								background-color="var(--input-bg)"
							></v-text-field>
						</div>
					</v-col>

					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.author')}} </span>

							<v-text-field
								v-model="filialDocument.created_by && filialDocument.created_by.full_name"
								hide-details
								outlined
								readonly
								background-color="var(--input-bg)"
							></v-text-field>
						</div>
					</v-col>

					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.correspondent')}} <span class="color-red">*</span></span>

							<app-autocomplete
								ref="correspondent"
								v-model="$v.formModel.correspondent.$model"
								:error="$v.formModel.correspondent.$error"
								api-list-url="/action/correspondent/"
								:api-params="{ is_for_compose: true }"
								list-type="list"
								item-text="organization_name"
								return-object
								cache-items
								clearable
								:readonly="currentUser.role === 'assistant'"
							/>
						</div>
					</v-col>

					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.document-name')}} <span class="color-red">*</span></span>

							<v-text-field
								v-model="$v.formModel.title.$model"
								:error="$v.formModel.title.$error"
								hide-details
								outlined
								background-color="var(--input-bg)"
								:readonly="$route.query.type === 'for_watching_process'"
							></v-text-field>
						</div>
					</v-col>

					<v-col md="12">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.content')}} <span class="color-red">*</span></span>

							<v-textarea
								v-model="$v.formModel.description.$model"
								:error="$v.formModel.description.$error"
								outlined
								hide-details
								no-resize
								auto-grow
								background-color="var(--input-bg)"
								:readonly="currentUser.role === 'assistant'"
							></v-textarea>
						</div>
					</v-col>

					<v-col md="12">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.attach-file')}}</span>

							<app-file-upload
								@uploadFiles="uploadFiles"
								class="w-100"
								:show-files="false"
								disabled
							/>
<!--							<v-file-input-->
<!--								@change="uploadFiles"-->
<!--								multiple-->
<!--								prepend-inner-icon="mdi-paperclip"-->
<!--								prepend-icon=""-->
<!--								outlined-->
<!--								hide-details-->
<!--								background-color="var(&#45;&#45;input-bg)"-->
<!--								:disabled="currentUser.role === 'assistant' || $route.query.type === 'for_watching_process'"-->
<!--							></v-file-input>-->
						</div>
					</v-col>

					<v-col md="12">
						<app-table
							:table-width="500"
							:table-head-items="filesTableHeaders"
						>
							<template #tableBody>
								<tr v-for="(document, index) in attachedFiles" :key="document.id">
									<td>{{ index + 1 }}</td>
									<td>{{ document.document.name }}</td>
									<td>{{ document.document.created_date | filterCalendarToTime }}</td>
									<td>
										<div class="d-flex align-center" style="width: 90px">
											<app-button
												min-width="43"
												width="43px"
												color="var(--primary-3)"
												icon
												@click="fetchDownloadDocument(document.document)"
											>
												<template #prepend>
													<download-icon size="18"/>
												</template>
											</app-button>

											<app-button
												min-width="43"
												width="43px"
												color="var(--primary-3)"
												icon
												@click="viewDocument(document.document.url)"
											>
												<v-icon size="20">
													mdi-eye-outline
												</v-icon>
											</app-button>

<!--											<app-button
												v-if="document.isNewDocument"
												@click="deleteFile(document.document.id)"
												min-width="43"
												width="43px"
												color="var(&#45;&#45;primary-4)"
												icon
											>
												<template #prepend>
													<trash2-icon size="18"/>
												</template>
											</app-button>-->
										</div>
									</td>
								</tr>
							</template>
						</app-table>
					</v-col>

					<v-col md="12">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.for-consideration')}} <span class="color-red">*</span> </span>

							<app-autocomplete
								v-model="$v.formModel.__userSelected.$model"
								:error="$v.formModel.__userSelected.$error"
								api-list-url="/user/search/"
								item-text="full_name"
								return-object
								multiple
								cache-items
								:item-disabled="getDisableItems"
								:readonly="$route.query.type === 'for_watching_process'"
								group-staff-visible
							/>
						</div>
					</v-col>

					<v-col md="4">
						<app-button
							class="flex-1 mr-4"
							color="#ff2200"
							@click="changeStatusModalView(6)"
							:disabled="filialDocument && filialDocument.status && filialDocument.status.id === 6"
						>
							<template #default>
								<span v-if="filialDocument && filialDocument.status && filialDocument.status.id === 6">{{$t('document-flow.views.registration.document-canceled')}}</span>
								<span v-else>{{$t('document-flow.views.registration.cancel-document')}}</span>
							</template>
						</app-button>
					</v-col>

					<v-col md="12">
						<activity v-if="filialDocument.doc_id" :document-model="{ ...filialDocument,  document_unique_id: filialDocument.doc_id }" />
					</v-col>
				</v-row>
			</div>
		</template>

		<pdf-viewer-modal ref="pdfModal" />

		<!-- ChangeStatus modal -->
		<v-dialog
			v-model="changeStatusModal"
			max-width="760"
			content-class="reset-dialog-style"
		>
			<div class="bg-white">
				<div class="d-flex align-center py-3 px-4">
					<h4 class="font-500">{{$t('document-flow.views.registration.cancel-document')}}</h4>

					<v-spacer />

					<v-btn
						icon
						color="error"
						small
						@click="changeStatusModal = false"
					>
						<x-icon></x-icon>
					</v-btn>
				</div>

				<div class="border-top border-bottom py-3 px-4">
					<div class="app-input">
						<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.content')}}</span>

						<quill-editor
							v-model="$v.changeStatusText.$model"
							:error="$v.changeStatusText.$error"
						/>
					</div>
				</div>

				<div class="d-flex py-3 px-4 justify-space-between">
					<resolution-content-modal
						@emit:up="(text) => changeStatusText = text.name"
					/>
					<app-button
						@click="updateDocumentStatus"
					>
						{{$t('document-flow.views.registration.cancel-document')}}
					</app-button>
				</div>
			</div>
		</v-dialog>
		<!-- /ChangeStatus modal -->
	</div>
</template>

<script>
import { TABLE_HEAD_TEXT_LIST } from "@/common/constants";
import { selectFromList } from "@/common/helpers";
import { ArrowLeftIcon, DownloadIcon, Trash2Icon, XIcon } from "vue-feather-icons";
import { required } from "vuelidate/lib/validators";
import { mapActions, mapGetters, mapState } from "vuex";
import PdfViewerModal from "../../../../../../../common/components/PdfViewerModal";
import ResolutionContentModal from "../../../../../../../common/components/ResolutionContentModal";
import Activity from "../../Components/Activity";
import RegisterNumber from "../../../../SendDocument/components/RegisterNumber";
import {format} from "date-fns";

export default {
	name: "FilialDocumentsShowView",
	components: {
		ArrowLeftIcon,
		Trash2Icon,
		DownloadIcon,
		XIcon,
		PdfViewerModal,
		Activity,
		ResolutionContentModal,
		RegisterNumber
	},
	data(){
		return {
			changeStatusModal: false,
			changeStatusText: null,
			changeStatusNumber: null,

			attachedDocuments: [],
			formModel: {
				register_date: (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10),
				register_number: null,
				outgoing_date: "",
				outgoing_number: "",
				correspondent: null,
				doc_type: null,
				description: "",
				documents: [],
				priority: "",
				review_users: [],
				is_created: true,
				title: null,
				__userSelected: [],
        deadline: format(Date.now() + 15 * 24 * 60 * 60 * 1000, "yyyy-MM-dd")
			},
			loading: false
		}
	},
	validations: {
		filialDocument: {
			register_date: {required},
			doc_type: {required},
			text: {required},
			journal: {required},
			department: {required},
			author: {required},
			signer: {required},
			correspondent: {required},
			title: {required}
		},
		formModel: {
			register_date: {required},
			outgoing_date: {required},
			outgoing_number: {required},
			correspondent: {required},
			doc_type: {required},
			description: {required},
			priority: {required},
			title: {required},
			__userSelected: {required}
		},
		addCommentsToDocument: {
			description: {required}
		},
		leaveCommentModel: {
			description: {required}
		},
		changeStatusText: {
			required
		}
	},
	computed: {
    ...mapState({
      filteredState: state => state.headerFilter.filteredState,
      filterPagination: state => state.headerFilter.pagination,
	    indexTableFilters: state => state.documentFlowRegistrationFilialDocument.indexTableFilters
    }),
    /*
    *
    * */
		...mapGetters({
			currentUser: "auth/getCurrentUser",
			filialDocument: "documentFlowModule/getReviewGetOneFilialDocument",
			journalList: "documentFlowModule/getNewJournalList",
			departmentList: "documentFlowModule/getDepartmentList",
			attachDocumentListID: "documentFlowModule/getAttachDocumentListID",
			attachDocumentsList: "documentFlowModule/getAttachDocumentsList",
			isLoading: "getDetailLoading",
			getDisableItems: "getDisableItems",
		}),
		/*
		*
		* */
		activeFiltered() {
			let active = {}

			Object.entries(this.indexTableFilters).forEach(filter => {
				const [key, value] = filter

				if(key.startsWith("__")) {
					return;
				}

				if(value || value === true || value === false) {
					active[key] = value
				}
			})

			return active
		},
		filesTableHeaders() {
			return selectFromList([1, 22, 23, 19], TABLE_HEAD_TEXT_LIST)
		},
		/**/
		documentReferenceUrl() {
			return `/docflow/${this.$store.getters['auth/getCurrentUser'].filial}/reference/`
		},
		/**/
		usersReferenceUrl() {
			return `/${this.$store.getters['auth/getCurrentUser'].filial}/user/lists/by_category/`
		},
		/**/
		attachedFiles(){
			return [...this.attachDocumentsList, ...this.attachedDocuments]
		}
	},
	beforeDestroy() {
		this.$store.commit("documentFlowModule/CLEAR_ATTACHED_DOCUMENTS_ID")
	},
	mounted() {
		if (this.$route.params.id){
			this.fetchDepartmentList();
		}

		// const { registerNumber } = this.$refs
		// registerNumber.compose_type = null
		// registerNumber.emp_index = null
		// registerNumber.journal_id = 1
	},
	methods: {
		...mapActions({
			fetchDepartmentList: "documentFlowModule/fetchDepartmentList",
			fetchRegisterIncomingDocument: "documentFlowModule/fetchRegisterIncomingDocument",
			fetchAttachFiles: "documentFlowModule/fetchAttachFiles",
			fetchDownloadDocument: "documentFlowModule/fetchDownloadDocument",
			fetchNewComments: "action/fetchNewComments",
      fetchUnreadCountList: "fetchUnreadCountList",
			fetchFilialDocumentsById: "documentFlowModule/fetchFilialDocumentsById",
		}),
		saveDocument() {
			if (!this.formModel.correspondent){
				this.$toast.warning(this.$t('document-flow.views.registration.required-field-for-write-letter'))
				return
			}

			if (this.currentUser.filial !== '09013' && this.formModel.register_number === null){
				this.$toast.warning(this.$t('document-flow.views.registration.registration-number-field-required'))
				return
			}

			if (!(this.formModel.__userSelected && this.formModel.__userSelected.length)){
				this.$toast.warning(this.$t('layout.required-field'))
				return
			}

			this.loading = true

			let model = {
				register_date: `${this.formModel.register_date}T18:00:00+05:00`,
				register_number: this.formModel.register_number,
				outgoing_date: this.filialDocument.register_date,
				outgoing_number: this.filialDocument.register_number,
				correspondent: this.formModel.correspondent.id,
				title: this.formModel.title,
				doc_type: this.filialDocument.doc_type.id,
				journal: 1,
				documents: this.attachDocumentListID,
				priority: this.formModel.priority,
				review_users: this.formModel.__userSelected.map(item => Object.assign({}, {user: item.id})),
        deadline: `${this.formModel.deadline}T18:00:00+05:00`,
			}

			this.$store.dispatch("documentFlowModule/fetchRegisterIncomingDocument", model)
				.then((response) => {
					this.$axios.put(`/docflow/${this.currentUser.filial}/for_registration/${this.$route.params.id}/`, {
						is_registered: true,
						status: 4
					}).then(({data}) => {
						if (data.is_registered){
							this.loading = false
							this.$axios.post(`/docflow/${this.currentUser.filial}/update-tree-id/`, {
								id: response.id,
								doc_id: data.doc_id
							})
							.then(({data}) => {
								console.log(data)
								this.$router.push({
									name: "DocumentFlowRegistration"
								})
							})
						}
					})
          setTimeout(() => {
            this.fetchUnreadCountList()
          }, 2000)
				})
				.catch(err => {
					this.$toast.error(this.$t('document-flow.views.registration.error'))
				})
		},
		uploadFiles(files) {
			this.fetchAttachFiles({
				files
			})
				.then(data => {
					this.attachedDocuments.push({
						document: data,
						isNewDocument: true
					})
				})
		},
		deleteFile(id) {
			let index = this.attachedDocuments.findIndex(item => item.document.id === id)
			this.attachedDocuments.splice(index, 1)
		},
		/**/
		viewDocument(url) {
			const {pdfModal} = this.$refs
			pdfModal.url = url;
			pdfModal.dialog = true
		},
		/**/
		updateDocumentStatus() {
			this.$v.changeStatusText.$touch();

			if (this.$v.changeStatusText.$invalid) {
				this.$toast.error(this.$t('document-flow.views.registration.please-add-text'))
				return;
			}

			this.$axios.put(`/docflow/${this.currentUser.filial}/for_registration/${this.$route.params.id}/`, {
				status: this.changeStatusNumber,
			})
				.then(() => {

					this.fetchNewComments({
						obj: this.filialDocument.doc_id,
						description: this.changeStatusText,
						// type: "for_reg_comment"
						receiver_type: "for_reg_comment"
					})

					this.$toast.success(this.$t('document-flow.views.registration.document-canceled') + '!')
					this.fetchFilialDocumentsById(this.$route.params.id);
					this.changeStatusModal = !this.changeStatusModal
				})
				.catch(err => {
					this.$toast.error(this.$t('document-flow.views.registration.error'))
				})
		},
		/**/
		changeStatusModalView(number) {
			this.changeStatusModal = !this.changeStatusModal
			this.changeStatusNumber = number
		},
		/**/
		getRegisterNumber(val){
			this.formModel.register_number = val
		},
	}
}
</script>

<style scoped>

</style>
