<template>
	<div class="d-flex grid-gap-md h-100">
		<registration-form-wrapper
			:form-title="$t('document-flow.views.registration.edit-document')"
			:tree-id="$route.params.id"
			:viewer-list="mergeViewList"
			:has-tree-users="false"
		/>

		<pdf-viewer :viewer-list="attachDocumentsList" :resolution-visible="false" />
	</div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import PdfViewer from "../../../../../../../common/components/PdfViewer";
import RegistrationFormWrapper from "../../../../../components/RegistrationFormWrapper";

export default {
	name: "FilialDocumentsShow",
	components: {
		PdfViewer,
		RegistrationFormWrapper
	},
	computed: {
		...mapGetters({
			attachDocumentsList: "documentFlowModule/getAttachDocumentsList"
		}),
		/*
		*
		* */
		mergeViewList() {
			return [...this.attachDocumentsList]
		}
	},
	mounted() {
		if(this.$route.params.id) {
			this.fetchFilialDocumentsById(this.$route.params.id)
		}
	},
	methods: {
		...mapActions({
			fetchAttachFilesList: "documentFlowModule/fetchAttachFilesList",
			fetchFilialDocumentsById: "documentFlowModule/fetchFilialDocumentsById",
		}),
	}
}
</script>

<style scoped>

</style>
