<template>
	<div class="failed-letter-view">
		<template v-if="restartLoading">
			<app-loader content-width/>
		</template>
		<template v-else>
			<app-wrapper>
				<template #body>
					<template v-if="failedList && failedList.length">
						<div class="d-flex flex-column">
							<div v-for="(item, index) in failedList" :key="item.id" class="d-flex mt-2 align-center">
								<span style="width: 20px;" class="mr-2">{{ index + 1 }}. </span>
								<span style="width: 150px">{{ item.check_id }}</span>
								<app-button
									@click="restart(item)"
									class="ml-4"
									:loading="restartLoading"
								>
									Перезапуск
								</app-button>
							</div>
						</div>
					</template>
					<template v-else>
						<div class="d-flex align-center justify-center">
							<span>Hech narsa yo'q! Dammi olaver ;)</span>
						</div>
					</template>
				</template>
			</app-wrapper>
		</template>
	</div>
</template>

<script>
import {mapGetters} from "vuex";

export default {
	name: "index",
	data() {
		return {
			failedList: [],
		}
	},
	computed: {
		...mapGetters({
			currentUser: "auth/getCurrentUser",
			restartLoading: "equipmentModule/getRestartLoading"
		})
	},
	created() {
		this.getList();
	},
	methods: {
		getList() {
			this.$store.state.equipmentModule.restartLoading = true
			this.$axios.get(`/docflow/${this.currentUser.filial}/failed-documents/`)
			.then(({ data }) => {
				this.failedList = data.results
				this.$store.state.equipmentModule.restartLoading = false
			})
			.catch(err => {
				this.$store.state.equipmentModule.restartLoading = false
				this.$toast.error("Something went wrong. Please try again!")
			})
		},
		restart(item){
			this.$store.state.equipmentModule.restartLoading = true
			this.$axios.get(`/docflow/${this.currentUser.filial}/restore-failed-document/${item.id}/`)
			.then(({ data }) => {
				// if (data.status === 'success'){
				// 	this.$toast.success("Restore qilindi!")
				// 	this.loading = false
				// 	this.getList();
				// }else {
				// 	this.$toast.warning("Something went wrong. Please try again!")
				// 	this.loading = false
				// 	this.getList();
				// }
			})
			.catch(err => {
				// this.$toast.error("Something went wrong. Please try again!")
				// this.loading = false
				// this.getList();
			})
		}
	}
}
</script>

<style scoped>

</style>
