<template>
  <perfect-scrollbar class="d-flex flex-column flex-1">
    <app-wrapper class="flex-1">
      <template #body>
        <div class="mb-5">
          <div class="d-flex align-center w-100 mb-12">
            <span class="heading-9 font-600 text-dark mr-3 d-block">Создать историю</span>
            <v-divider/>
          </div>

          <v-row>
            <v-col md="3">
              <div class="app-input">
                <span class="d-block font-600 small-2 mb-2">Заголовок</span>

                <v-text-field
                  v-model="formModel.title"
                  outlined
                  background-color="var(--input-bg)"
                  hide-details
                  clearable
                />
              </div>
            </v-col>

            <v-col md="3">
              <div class="app-input">
                <span class="d-block font-600 small-2 mb-2">Дата истории</span>

                <app-date-picker
                  v-model="formModel.release_date"
                  with-input
                  background-color="var(--input-bg)"
                />
              </div>
            </v-col>

            <v-col md="6">
              <v-row align="end">
                <v-col md="9">
                  <div class="app-input mr-4">
                    <span class="d-block font-600 small-2 mb-2">Текст изменений</span>

                    <v-text-field
                      v-model="text"
                      outlined
                      background-color="var(--input-bg)"
                      hide-details
                      clearable
                    />
                  </div>
                </v-col>

                <v-col md="3">
                  <app-button
                    depressed
                    @click="formModel.change_logs.push({ name: text }); text = ''"
                  >
                    <template #default>
                      Создать
                    </template>
                    <template #append>
                      <plus-circle-icon size="17">mdi-send</plus-circle-icon>
                    </template>
                  </app-button>
                </v-col>
              </v-row>
            </v-col>

            <v-col md="6" v-if="formModel.change_logs.length">
              <span class="d-block font-600 small-2 mb-2">Список изменений</span>

              <template>
                <app-table
                  bordered
                  class="mt-5"
                >
                  <template #tableHeader>
                    <th width="75">№</th>
                    <th>Название</th>
                    <th width="75">События</th>
                  </template>

                  <template #tableBody>
                    <tr
                      v-for="(item, index) in formModel.change_logs"
                      class="text-dark font-500"
                    >
                      <td>{{ index + 1 }}</td>
                      <td>
                        {{ item.name }}
                      </td>
                      <td>
                        <div class="d-flex">
                          <app-button
                            icon
                            color="warning"
                            min-width="40"
                            height="40"
                            width="40"
                            @click="changeSelect(item, index)"
                          >
                            <edit3-icon size="18" />
                          </app-button>

                          <app-button
                            icon
                            color="error"
                            min-width="40"
                            height="40"
                            width="40"
                            @click="formModel.change_logs.splice(index, 1)"
                          >
                            <trash2-icon size="18" />
                          </app-button>
                        </div>
                      </td>
                    </tr>
                  </template>
                </app-table>
              </template>
            </v-col>
          </v-row>
        </div>

        <div class="mt-auto">
          <app-button
            @click="$router.go(-1)"
            depressed
            color="error"
            class="mr-2"
          >
            <template #default>
              Назад
            </template>
            <template #prepend>
              <v-icon size="20">mdi-arrow-left</v-icon>
            </template>
          </app-button>

          <app-button
            v-if="formType === 'create'"
            @click="create"
            depressed
          >
            <template #default>
              Создать историю
            </template>
            <template #append>
              <v-icon size="17">mdi-send</v-icon>
            </template>
          </app-button>

          <app-button
            v-if="formType === 'update'"
            @click="update"
            depressed
          >
            <template #default>
              Изменить историю
            </template>
            <template #append>
              <v-icon size="17">mdi-send</v-icon>
            </template>
          </app-button>
        </div>

        <!-- Change dialog -->
        <v-dialog
          v-model="dialog"
          max-width="640"
          content-class="reset-dialog-style"
        >
          <div class="bg-white rounded pa-5">
            <div class="app-input mr-4">
              <span class="d-block font-600 small-2 mb-2">Текст изменений</span>

              <v-text-field
                v-model="changedSelect.name"
                outlined
                background-color="var(--input-bg)"
                hide-details
                clearable
              />
            </div>

            <app-button
              @click="changeItem"
              depressed
              class="mt-5"
            >
              <template #default>
                Изменить
              </template>
              <template #append>
                <v-icon size="17">mdi-send</v-icon>
              </template>
            </app-button>
          </div>
        </v-dialog>
        <!-- /Change dialog -->
      </template>
    </app-wrapper>
  </perfect-scrollbar>
</template>

<script>
import { PlusCircleIcon, Trash2Icon, Edit3Icon } from "vue-feather-icons"

export default {
	name: "HistoryForm",
  props: {
		formType: {
			type: String,
      default: "create"
    }
  },
  components: {
	  PlusCircleIcon,
	  Trash2Icon,
	  Edit3Icon
  },
	data() {
		return {
			text: "",
			dialog: false,
      changedSelect: {},
      changeIndex: null,
			formModel: {
				title: "",
        release_date: "",
        change_logs: []
      }
    }
  },
  mounted() {
		if(this.$route.params.id) {
			this.getOne()
    }
  },
	methods: {
	  create() {
			this.$axios.post("/action/release/", this.formModel)
      .then(() => {
				this.$toast(`Успешно создан`)

        this.$router.push({
          name: "HistoryChanges"
        })
      })
    },
    /*
    *
    * */
		update() {
			this.$axios.put(`/action/release/${this.$route.params.id}/`, this.formModel)
			.then(() => {
				this.$toast(`Успешно изменен`)

				this.$router.push({
					name: "HistoryChanges"
				})
			})
    },
    /*
    *
    * */
	  getOne() {
		  this.$axios.get(`/action/release/${this.$route.params.id}/`)
		  .then(({ data }) => {
			  this.formModel = data
		  })
	  },
    /*
    *
    * */
	  changeItem() {
			this.formModel.change_logs[this.changeIndex].name = this.changedSelect.name
		  this.dialog = false
	  },
    /*
    *
    * */
	  changeSelect(item, index) {
			this.dialog = true
			this.changedSelect = { ...item }
      this.changeIndex = index
	  }
  }
}
</script>
