<template>
  <div class="history-show">
    <app-button
      :to="{ name: 'HistoryChanges' }"
      depressed
      color="error"
      class="mb-5"
    >
      <template #default>
        Назад
      </template>
      <template #prepend>
        <v-icon size="20">mdi-arrow-left</v-icon>
      </template>
    </app-button>

    <div class="d-flex mb-4">
      <v-sheet width="24" height="24" color="primary" class="flex-grow-0 flex-shrink-0 rounded-50 d-flex align-center justify-center">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M9.87333 11.4C9.86667 11.4 9.86 11.4 9.85333 11.4H5.40666C4.08666 11.3066 3.5 10.3 3.5 9.39997C3.5 8.64663 3.91334 7.82 4.80001 7.51333C4.60001 6.51333 4.84667 5.57999 5.50667 4.88666C6.30001 4.05333 7.57333 3.72667 8.66667 4.06C9.64 4.36 10.34 5.14 10.6133 6.22667C11.4467 6.46 12.1067 7.11332 12.38 7.99998C12.6867 9.01332 12.4067 10.0533 11.6467 10.7133C11.1667 11.1533 10.5333 11.4 9.87333 11.4ZM5.42668 8.39997C4.74668 8.45997 4.5 8.9733 4.5 9.39997C4.5 9.8333 4.74667 10.3533 5.44 10.4H9.85333C10.2867 10.4 10.6667 10.2533 10.9733 9.96666C11.5333 9.47999 11.5667 8.77998 11.42 8.28664C11.2733 7.79331 10.8533 7.2333 10.1267 7.14663C9.90667 7.11996 9.73334 6.9533 9.69334 6.7333C9.54667 5.84663 9.07333 5.24 8.36666 5.02C7.63999 4.79334 6.75333 5.02665 6.22666 5.57998C5.70666 6.11998 5.59333 6.88663 5.89333 7.7333C5.98666 7.9933 5.85334 8.27998 5.59334 8.37331C5.54001 8.39331 5.45334 8.40663 5.42668 8.39997Z" fill="white"/>
          <path d="M6.00016 15.1667C3.1535 15.1667 0.833496 12.8467 0.833496 10C0.833496 9.72667 1.06016 9.5 1.3335 9.5C1.60683 9.5 1.8335 9.72667 1.8335 10C1.8335 11.9733 3.20682 13.6267 5.05349 14.06L4.87349 13.76C4.73349 13.52 4.80683 13.2133 5.04683 13.0733C5.28017 12.9333 5.5935 13.0067 5.7335 13.2467L6.43349 14.4133C6.52682 14.5667 6.52683 14.76 6.44017 14.9133C6.34683 15.0667 6.18016 15.1667 6.00016 15.1667Z" fill="white"/>
          <path d="M14.6665 6.49992C14.3931 6.49992 14.1665 6.27325 14.1665 5.99992C14.1665 4.02659 12.7931 2.37323 10.9465 1.9399L11.1265 2.23991C11.2665 2.47991 11.1931 2.78659 10.9531 2.92659C10.7198 3.06659 10.4065 2.99326 10.2665 2.75326L9.56647 1.58659C9.47313 1.43326 9.47313 1.23992 9.55979 1.08659C9.64646 0.926589 9.81312 0.833252 9.99312 0.833252C12.8398 0.833252 15.1598 3.15325 15.1598 5.99992C15.1665 6.27325 14.9398 6.49992 14.6665 6.49992Z" fill="white"/>
        </svg>
      </v-sheet>
      <span class="primary-text font-500 ml-3">{{ historyModel.release_date }}</span>
    </div>

    <div class="timeline-line p-relative px-9">
      <span class="font-500 mb-4 d-block">{{ historyModel.title }}</span>

      <template v-for="item in historyModel.change_logs">
        <div class="p-relative small-2 mb-3 d-flex" :key="item.id">
          <v-sheet width="8" height="8" color="warning" rounded class="mt-2"></v-sheet>
          <span class="ml-2 flex-1">{{ item.name }}</span>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
export default {
	name: "HistoryItem",
  data() {
		return {
		  historyModel: {}
    }
  },
  mounted() {
		if(this.$route.params.id) {
			this.getOne()
    }
  },
	methods: {
		getOne() {
			this.$axios.get(`/action/release/${this.$route.params.id}/`)
      .then(({ data }) => {
				this.historyModel = data
      })
    }
  }
}
</script>
