<template>
  <div class="birthday-widget d-flex flex-column shadow-6 rounded-10 bg-white p-relative overflow-hidden">
    <template v-if="loading">
      <app-loader content-width />
    </template>

    <template v-else>
      <div class="d-flex align-center border-bottom px-4 py-2">
        <gift-icon size="22" class="primary-text mr-4" />
        <h4 class="small-1 font-600">{{$t('dashboard.components.birthdays-today')}}</h4>

        <v-spacer />

        <div class="input-bg rounded-xl ml-3 overflow-hidden pa-1">
          <v-tabs
            v-model="tab"
            hide-slider
            height="30"
            background-color="transparent"
            class="slide-tabs rounded-xl overflow-hidden"
          >
            <app-tooltip top>
              <template #content>
                <v-tab class="rounded-xl overflow-hidden h-100">
                  <v-icon size="16">{{ "$vuetify.icons.User" }}</v-icon>
                </v-tab>
              </template>
              <template #text>
                {{$t('dashboard.components.my-branch')}}
              </template>
            </app-tooltip>

            <app-tooltip top>
              <template #content>
                <v-tab class="rounded-xl overflow-hidden h-100">
                  <v-icon size="16">{{ "$vuetify.icons.Users" }}</v-icon>
                </v-tab>
              </template>
              <template #text>
                {{$t('dashboard.components.whole-bank')}}
              </template>
            </app-tooltip>
          </v-tabs>
        </div>
      </div>

      <perfect-scrollbar>
        <div class="px-5 pt-5">
          <template v-if="tab === 0">
            <template>
              <users-list
                v-for="item in ownBirthdayList"
                :key="item.id"
                avatar-size="40"
                :color="item.color"
                :full-name="`${item.last_name} ${item.first_name && getFirstCharacter(item.first_name)} ${item.father_name && getFirstCharacter(item.father_name)}`"
                :description="item.top_level_dept_name ? item.top_level_dept_name : item.position"
                class="mb-5"
              >
                <template #action>
                  <span class="small-3 font-600">{{ item.cisco }}</span>
                </template>

                <template #description>
                  <span class="text-2 font-500">{{ item.top_level_dept_name ? item.top_level_dept_name : item.position }}</span>
                </template>
              </users-list>
            </template>
          </template>

          <template v-if="tab === 1">
            <template>
              <users-list
                v-for="item in allBirthdayList"
                :key="item.id"
                avatar-size="40"
                :color="item.color"
                :full-name="`${item.last_name} ${item.first_name && getFirstCharacter(item.first_name)} ${item.father_name && getFirstCharacter(item.father_name)}`"
                :description="item.top_level_dept_name ? item.top_level_dept_name : item.position"
                class="mb-5"
              >
                <template #action>
                  <span class="small-3 font-600">{{ item.cisco }}</span>
                </template>

                <template #description>
                  <span class="text-2 font-500">{{ item.top_level_dept_name ? item.top_level_dept_name : item.position }}</span>
                </template>
              </users-list>
            </template>
          </template>
        </div>
      </perfect-scrollbar>
    </template>
  </div>
</template>

<script>
import { GiftIcon } from "vue-feather-icons";

import UsersList from "@/common/components/UsersList";
import { mapGetters } from "vuex";

export default {
  name: "Birthday",
  components: {
    GiftIcon,
    UsersList
  },
  data() {
    return {
      loading: true,
      ownBirthdayList: [],
      allBirthdayList: [],
      tab: 0,
    }
  },
  computed: {
    ...mapGetters({
      currentUser: "auth/getCurrentUser",
    })
  },
  watch: {
    currentUser: {
      handler(val) {
        if(val.filial) {
          this.getOwnBirthdayListList(val.filial)
          this.getAllBirthdayList()
        }

        this.loading = false
      },
      deep: true,
      immediate: true
    }
  },
  methods: {
    getOwnBirthdayListList(filial) {
      this.loading = true

      this.$http.get(`/dashboard/born-in-today/`, {
        params: {
          filial,
          page_size: 50
        }
      })
      .then(({ data }) => {
        this.ownBirthdayList = data.results
      })
      .finally(() => {
        this.loading = false
      })
    },
    /*
    *
    * */
    getAllBirthdayList() {
      this.$http.get(`/dashboard/born-in-today/`, {
        params: {
          page_size: 50
        }
      })
        .then(({ data }) => {
          this.allBirthdayList = data.results
        })
    }
  }
}
</script>
