<template>
	<div style="height: 155px; margin-top: -20px">
		<div
			v-if="loading"
			class="d-flex justify-center align-center h-100 w-100"
		>
			<app-loader />
		</div>
		<div v-else class="services-carousel">
			<carousel
				:autoplay="true"
				:autoplayHoverPause="false"
				:autoplayTimeout="3000"
				:loop="true"
				:navigationNextLabel="''"
				:navigationPrevLabel="''"
				:paginationEnabled="false"
				:perPage="4"
				:speed="1000"
				style="width: calc(100% + 17px); margin-right: -17px"
			>
				<slide v-for="(service, index) in services" :key="index">
					<div class="w-100 d-block service">
						<div
							@click="() => openModal(service)"
							class="bg-white d-flex justify-center align-center h-100"
						>
							<img
								:src="
									(service.image && service.image.url) ||
									'/img/logo_asaka_4.png'
								"
								alt="Asakabank service"
							/>
							<h4 class="mb-0 mt-2 font-500">
								{{ service.name }}
							</h4>
						</div>
					</div>
				</slide>
			</carousel>
		</div>
		<v-dialog v-model="dialog" max-width="500px">
			<v-card>
				<v-card-title>{{ currentService.name }}</v-card-title>
				<v-card-text>{{ currentService.description }}</v-card-text>
				<v-card-text v-if="!currentService.is_app">
					<v-btn color="primary" depressed dark @click="openService">
						{{$t('dashboard.components.go-service')}}
					</v-btn>
				</v-card-text>
				<v-card-actions
					class="d-flex"
					style="justify-content: flex-end; padding: 0 24px 20px 24px"
				>
					<v-btn color="primary" text @click="closeModal">{{$t('dashboard.components.close')}}</v-btn>
				</v-card-actions>
			</v-card>
		</v-dialog>
	</div>
</template>
<script>
import { Carousel, Slide } from "vue-carousel";
export default {
	name: "Services",
	components: {
		Carousel,
		Slide,
	},
	data() {
		return {
			currentService: {},
			dialog: false,
			loading: true,
			services: [],
		};
	},
	mounted() {
		this.getServices();
	},
	methods: {
		getServices() {
			this.loading = true;
			this.$http
				.get("/service/apps/", {
					params: {
						page_size: 50
					}
				})
				.then(({ data }) => {
					this.services = data.results;
				})
				.finally(() => {
					this.loading = false;
				});
		},
		openModal(service) {
			this.currentService = service;
			this.dialog = !this.dialog;
		},
		closeModal() {
			this.dialog = !this.dialog;
		},
		openService() {
			this.dialog = !this.dialog;
			window.open(this.currentService.link, "_blank");
		},
	},
};
</script>
<style>
.services-carousel {
	overflow: hidden;
}
.services-carousel .VueCarousel-inner {
	padding: 20px 0;
}
.service {
	cursor: pointer;
	height: 115px;
}
.service div {
	border-radius: 10px;
	border: 2px solid transparent;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.02), 0px 2px 8px rgba(0, 0, 0, 0.08);
	flex-direction: column;
	width: calc(100% - 17px);
}
.service div h4 {
	font-size: 17px;
}
.service div:hover {
	border: 2px solid #5964d1;
	box-shadow: none;
}
.service div img {
	max-height: 60px;
	max-width: 120px;
}
</style>
