<template>
  <div class="document-widget d-flex flex-column shadow-6 rounded-10 bg-white px-5 pt-5 p-relative overflow-hidden">
    <template v-if="loading">
      <app-loader content-width />
    </template>

    <template v-else>
      <div>
        <div class="d-flex align-center">
          <file-text-icon size="22" class="primary-text mr-4" />
          <h4 class="small-1 font-600">{{ tab === 0 ? $t('dashboard.components.documents') : tab === 1 ? $t('dashboard.components.all-documents') : $t('dashboard.components.documents') }}</h4>

          <v-spacer />

          <div class="input-bg rounded-xl ml-3 overflow-hidden pa-1">
            <v-tabs
              v-model="tab"
              hide-slider
              height="30"
              background-color="transparent"
              class="slide-tabs rounded-xl overflow-hidden"
            >

              <app-tooltip top>
                <template #content>
                  <v-tab class="rounded-xl overflow-hidden h-100">
                    <v-icon size="16">{{ "$vuetify.icons.MailBlock" }}</v-icon>
                  </v-tab>
                </template>
                <template #text>
                  {{$t('dashboard.components.not-processed')}}
                </template>
              </app-tooltip>

              <app-tooltip top>
                <template #content>
                  <v-tab class="rounded-xl overflow-hidden h-100">
                    <v-icon size="16">{{ "$vuetify.icons.DirectDocument" }}</v-icon>
                  </v-tab>
                </template>
                <template #text>
                  {{$t('dashboard.components.documents')}}
                </template>
              </app-tooltip>

              <app-tooltip top>
                <template #content>
                  <v-tab class="rounded-xl overflow-hidden h-100">
                    <v-icon size="16">{{ "$vuetify.icons.MailRead" }}</v-icon>
                  </v-tab>
                </template>
                <template #text>
                  {{$t('dashboard.components.unread-documents')}}
                </template>
              </app-tooltip>
            </v-tabs>
          </div>
        </div>

        <span v-if="tab === 0" class="d-block text-dark small-2 font-500">{{$t('dashboard.components.not-processed-documents')}}</span>
        <span v-if="tab === 1" class="d-block text-dark small-2 font-500">{{$t('dashboard.components.all-documents')}}</span>
        <span v-if="tab === 2" class="d-block text-dark small-2 font-500">{{$t('dashboard.components.unread-documents-list')}}</span>
      </div>

      <div
        :style="{ height: isCardToggle ? '160px' : '100px' }"
        class="mt-2 overflow-hidden mx-n5 px-5"
      >
        <template v-if="tab === 0">
          <router-link
            :to="{ name: 'InboxTableType', query: { status: '1,3,6,7' } }"
            class="d-flex align-center text-decoration-none mb-1 text-dark hover-primary-text"
          >
            <div class="d-flex align-center mr-3">
              <v-sheet
                width="12"
                height="12"
                color="primary"
                class="rounded-circle mr-2"
              ></v-sheet>
              <span class="font-500 small-2">{{$t('dashboard.components.tasks')}}</span>
            </div>

            <span class="font-600 ml-auto small-1 line-base">{{ unreadMessages.assignment_unread_documents }}</span>
          </router-link>

          <router-link
            :to="{ name: 'BoxesTableType', query: { status: '1,3,6,7' } }"
            class="d-flex align-center text-decoration-none text-dark mb-1 hover-success-text"
          >
            <div class="d-flex align-center mr-3">
              <v-sheet
                width="12"
                height="12"
                color="success"
                class="rounded-circle mr-2"
              ></v-sheet>
              <span class="font-500 small-2">{{$t('dashboard.components.in-preview')}}</span>
            </div>

            <span class="font-600 ml-auto small-1 line-base">{{ unreadMessages.unread_to_view_documents }}</span>
          </router-link>

          <router-link
            :to="{ name: 'SignTableType', query: { status: '1,3', is_signed: 'unsigned' } }"
            class="d-flex align-center text-decoration-none mb-1 text-dark hover-warning-text"
          >
            <div class="d-flex align-center mr-3">
              <v-sheet
                width="12"
                height="12"
                color="warning"
                class="rounded-circle mr-2"
              ></v-sheet>
              <span class="font-500 small-2">{{$t('dashboard.components.sign-documents')}}</span>
            </div>

            <span class="font-600 ml-auto small-1 line-base">{{ unreadMessages.to_sign_documents }}</span>
          </router-link>

	        <router-link
		        :to="{ name: 'ApprovalTableType', query: { is_agreed: 'unchecked' } }"
		        class="d-flex align-center text-decoration-none mb-1 text-dark hover-error-text"
	        >
		        <div class="d-flex align-center mr-3">
			        <v-sheet
				        width="12"
				        height="12"
				        color="error"
				        class="rounded-circle mr-2"
			        ></v-sheet>
			        <span class="font-500 small-2">{{$t('dashboard.components.approval')}}</span>
		        </div>

		        <span class="font-600 ml-auto small-1 line-base">{{ unreadMessages.unchecked_agreed_by_count }}</span>
	        </router-link>

          <router-link
            :to="{ name: 'BoxesTableType', query: { status: '7' } }"
            class="d-flex align-center text-decoration-none mb-1 text-dark hover-error-text"
          >
            <div class="d-flex align-center mr-3">
              <v-sheet
                width="12"
                height="12"
                color="error"
                class="rounded-circle mr-2"
              ></v-sheet>
              <span class="font-500 small-2">{{$t('dashboard.components.for-consideration')}} <span class="font-600">({{$t('dashboard.components.in-preview')}})</span></span>
            </div>

            <span class="font-600 ml-auto small-1 line-base">{{ unreadMessages.on_review_documents }}</span>
          </router-link>

          <router-link
            :to="{ name: 'InboxTableType', query: { status: '7' } }"
            class="d-flex align-center text-decoration-none mb-1 text-dark hover-error-text"
          >
            <div class="d-flex align-center mr-3">
              <v-sheet
                width="12"
                height="12"
                color="error"
                class="rounded-circle mr-2"
              ></v-sheet>
              <span class="font-500 small-2">{{$t('dashboard.components.for-consideration')}} <span class="font-600">({{$t('dashboard.components.inbox')}})</span></span>
            </div>

            <span class="font-600 ml-auto small-1 line-base">{{ unreadMessages.assignment_on_review_documents }}</span>
          </router-link>
        </template>

        <template v-if="tab === 1">
          <router-link
            :to="{ name: 'InboxTableType' }"
            class="d-flex align-center text-decoration-none text-dark mb-1 hover-primary-text"
          >
            <div class="d-flex align-center mr-3">
              <v-sheet
                width="12"
                height="12"
                color="primary"
                class="rounded-circle mr-2"
              ></v-sheet>
              <span class="font-500 small-2">{{$t('dashboard.components.all-tasks')}}</span>
            </div>

            <span class="font-600 ml-auto small-1 line-base">{{ unreadMessages.all_assignment_documents }}</span>
          </router-link>

          <router-link
            :to="{ name: 'BoxesTableType' }"
            class="d-flex align-center text-decoration-none text-dark mb-1 hover-success-text"
          >
            <div class="d-flex align-center mr-3">
              <v-sheet
                width="12"
                height="12"
                color="success"
                class="rounded-circle mr-2"
              ></v-sheet>
              <span class="font-500 small-2">{{$t('dashboard.components.all-in-preview')}}</span>
            </div>

            <span class="font-600 ml-auto small-1 line-base">{{ unreadMessages.all_to_view_documents }}</span>
          </router-link>

          <router-link
            :to="{ name: 'SignTableType' }"
            class="d-flex align-center text-decoration-none mb-1 text-dark hover-warning-text"
          >
            <div class="d-flex align-center mr-3">
              <v-sheet
                width="12"
                height="12"
                color="warning"
                class="rounded-circle mr-2"
              ></v-sheet>
              <span class="font-500 small-2">{{$t('dashboard.components.all-signature')}}</span>
            </div>

            <span class="font-600 ml-auto small-1 line-base">{{ unreadMessages.all_sign_documents }}</span>
          </router-link>

          <!--        <div class="d-flex justify-space-between p-relative">-->
          <!--          <div class="mr-5">-->
          <!--            <span class="heading-10 font-500 d-block">{{ unreadMessages.all_assignment_documents }} {{ unreadMessages.all_assignment_documents > 1 ? 'Документов' : 'Документ' }}</span>-->
          <!--            <div class="d-flex align-center text-dark small-2 d-block mt-4">-->
          <!--              <div class="d-flex align-center mr-3">-->
          <!--                <v-sheet-->
          <!--                  width="12"-->
          <!--                  height="12"-->
          <!--                  color="primary"-->
          <!--                  class="rounded-circle mr-2"-->
          <!--                ></v-sheet>-->
          <!--                <span class="font-500">{{$t('dashboard.components.in-preview')}}</span>-->
          <!--              </div>-->

          <!--              <div class="d-flex align-center">-->
          <!--                <v-sheet-->
          <!--                  width="12"-->
          <!--                  height="12"-->
          <!--                  color="success"-->
          <!--                  class="rounded-circle mr-2"-->
          <!--                ></v-sheet>-->
          <!--                <span class="font-500">{{$t('dashboard.components.sign-documents')}}</span>-->
          <!--              </div>-->
          <!--            </div>-->
          <!--          </div>-->

          <!--          <apexchart-->
          <!--            type="pie"-->
          <!--            width="160"-->
          <!--            :options="assignChartOptions"-->
          <!--            :series="assignChartOptions.series"-->
          <!--            class="p-absolute"-->
          <!--            style="bottom: -12px; right: -30px"-->
          <!--          ></apexchart>-->
          <!--        </div>-->
        </template>

        <template v-if="tab === 2">
          <router-link
            :to="{ name: 'BoxesTableType', query: { is_read: false } }"
            class="d-flex align-center text-decoration-none text-dark mb-1 hover-success-text"
          >
            <div class="d-flex align-center mr-3">
              <v-sheet
                width="12"
                height="12"
                color="success"
                class="rounded-circle mr-2"
              ></v-sheet>
              <span class="font-500 small-2">{{$t('dashboard.components.in-preview')}}</span>
            </div>

            <span class="font-600 ml-auto small-1 line-base">{{ unreadMessages.unread_for_review_count }}</span>
          </router-link>

          <router-link
            :to="{ name: 'InboxTableType', query: { is_read: false } }"
            class="d-flex align-center text-decoration-none mb-1 text-dark hover-primary-text"
          >
            <div class="d-flex align-center mr-3">
              <v-sheet
                width="12"
                height="12"
                color="primary"
                class="rounded-circle mr-2"
              ></v-sheet>
              <span class="font-500 small-2">{{$t('dashboard.components.inbox')}}</span>
            </div>

            <span class="font-600 ml-auto small-1 line-base">{{ unreadMessages.unread_assignment_count }}</span>
          </router-link>
        </template>
      </div>

      <template v-if="tab === 0">
        <v-btn
          color="primary"
          depressed
          text
          height="25"
          @click="toggleCard"
        >
          <template v-if="!isCardToggle">
            <span>{{$t('dashboard.components.open')}}</span>
            <chevron-down-icon size="18" class="ml-1" />
          </template>

          <template v-else>
            <span>{{$t('dashboard.components.close')}}</span>
            <chevron-up-icon size="18" class="ml-1" />
          </template>
        </v-btn>
      </template>
    </template>
  </div>
</template>

<script>
import { ChevronDownIcon, ChevronUpIcon, FileTextIcon } from "vue-feather-icons"

export default {
  name: "UnreadMessages",
  components: {
    FileTextIcon,
    ChevronDownIcon,
    ChevronUpIcon
  },
  data() {
    return {
      tab: null,
      loading: true,
      isCardToggle: false,
      unreadMessages: {},
      unreadChartOptions: {
        colors: ["#5964D1", "#38CB89"],
        chart: {
          width: 150,
          type: 'pie',
        },
        series: [1, 1],
        dataLabels: {
          enabled: false
        },
        legend: {
          show: false
        },
        labels: ['', '']
      },
      assignChartOptions: {
        colors: ["#5964D1", "#38CB89"],
        chart: {
          width: 150,
          type: 'pie',
        },
        series: [1, 1],
        dataLabels: {
          enabled: false
        },
        legend: {
          show: false
        },
        labels: ['', '']
      }
    }
  },
  created() {
    this.getList()
  },
  methods: {
    getList() {
      this.loading = true

      this.$http.get(`/dashboard/document-exchange/`)
        .then(({ data }) => {
          this.unreadMessages = data

          this.unreadChartOptions = {
            ...this.unreadChartOptions,
            series: [22, 33]
            // series: [data.unread_to_view_documents, data.to_sign_documents]
          }

          this.assignChartOptions = {
            ...this.assignChartOptions,
            series: [44, 55]
            // series: [data.unread_to_view_documents, data.to_sign_documents]
          }
        })
      .finally(() => {
        this.loading = false
      })
    },
    /*
    *
    * */
    toggleCard() {
      this.isCardToggle = !this.isCardToggle

      this.$emit("emit:up:cardToggle", this.isCardToggle)
    }
  }
}
</script>
