<template>
  <div class="user-agenda-view d-flex flex-column shadow-6 rounded-10 bg-white p-relative overflow-hidden">
<!--    <template v-if="loading">-->
<!--      <app-loader content-width />-->
<!--    </template>-->

<!--    <template v-else>-->
      <div class="d-flex align-center shadow-6 py-3 px-7">
        <calendar-icon size="22" class="primary-text mr-4" />
        <h4 class="small-1 font-600">{{$t('dashboard.components.my-tasks-list')}}</h4>

        <v-spacer />

        <app-date-picker
          @emit:up="() => this.currentDayFormat = null"
          v-model="date"
          with-input
          dense
          background-color="var(--input-bg)"
        />
      </div>

      <div class="d-flex flex-column h-100 overflow-auto">
        <div class="app-tab-slide px-5 pt-5">
          <v-tabs
            v-model="weekSlide"
            show-arrows
            dark
            hide-slider
            height="96"
          >
            <v-tab
              v-for="{ day, weekDay, isToday, format } in daysList"
              :key="day"
              class="tab-slide-item p-relative mr-5"
              @change="dayChange(format)"
            >
              <div class="p-absolute w-100 h-100 text-transform-none d-flex flex-column">
                <div
                  v-if="isToday"
                  class="bg-primary text-white pa-2"
                >
                  <span class="font-400 small-2">{{$t('dashboard.components.today')}}</span>
                </div>

                <div class="mt-auto pb-3">
                  <p class="mb-1 text-3 text-capitalize small-2">{{ weekDay }}</p>

                  <span class="d-block small-2 primary-text font-600">{{ day }}</span>
                </div>
              </div>
            </v-tab>
          </v-tabs>
        </div>

        <div class="h-100 overflow-auto">
          <perfect-scrollbar class="h-100">
            <template v-if="agendaList.length">
              <div class="pt-5 px-5">
                <template >
                  <div
                    v-for="(task, index) in agendaList"
                    :key="index"
                    class="d-flex align-center border-all rounded-xl py-1 px-1"
                    :class="agendaList.length !== index ? 'mb-3' : ''"
                  >
                    <p
                      class="small-2 text-dark mb-0 pl-2 text-truncate flex-1"
                      :class="task.status === 'finished' ? 'text-decoration-line-through' : ''"
                    >
                      <span class="font-600">{{ task.start_date | filterDateMonthYear }}</span> - {{ task.title }}
                    </p>

                    <!--              <div class="d-flex align-center mx-5">-->
                    <!--                <clock-icon color="#BBB" />-->
                    <!--                <span class="text-3 small-2 font-500 ml-2">09:00</span>-->
                    <!--              </div>-->

                    <!--              <div class="d-flex align-center mr-4">-->
                    <!--                <clock-icon color="#BBB" />-->
                    <!--                <span class="text-3 small-2 font-500 ml-2">09:30</span>-->
                    <!--              </div>-->

                    <!-- New => Finished -->
                    <template v-if="task.status === 'new'">
                      <v-btn
                        @click="taskAction(task.id,'finished')"
                        color="primary"
                        icon
                        depressed
                        small
                      >
                        <check-circle-icon size="19" />
                      </v-btn>
                    </template>

                    <!-- Finished => New -->
                    <template v-if="task.status === 'finished'">
                      <v-btn
                        @click="taskAction(task.id,'new')"
                        color="primary"
                        icon
                        depressed
                        small
                      >
                        <rotate-ccw-icon size="19" />
                      </v-btn>
                    </template>

                    <v-btn
                      @click="showUpdateTaskModal(task)"
                      color="warning"
                      icon
                      depressed
                      small
                    >
                      <edit2-icon size="18" />
                    </v-btn>

                    <v-btn
                      @click="deleteTask(task.id)"
                      color="error"
                      icon
                      depressed
                      small
                    >
                      <trash2-icon size="18" />
                    </v-btn>
                  </div>
                </template>
              </div>
            </template>

            <template v-else>
              <div class="p-absolute w-100 h-100 d-flex flex-column align-center justify-center">
                <img
                  src="/img/todo-list.png"
                  alt="Todo List image"
                />

                <span class="d-block text-dark-grey font-600 mt-4">{{$t('dashboard.components.no-activity')}}</span>
              </div>
            </template>
          </perfect-scrollbar>
        </div>

        <v-form @submit.prevent="addTask" class="d-flex align-center mt-2 px-5 pb-4">
          <div class="d-flex align-center flex-1 shadow-6 h-100 rounded-xl mr-5 pa-1">
            <v-btn
              :color="taskText ? 'error' : 'primary'"
              depressed
              min-width="40"
              width="40"
              height="40"
              class="d-flex align-center justify-center rounded-circle"
              @click="taskText ? taskText = null : () => {}"
            >
              <plus-icon v-if="!taskText" class="text-white" size="22" />
              <x-icon v-else class="text-white" size="22" />
            </v-btn>

            <v-text-field
              v-model="taskText"
              outlined
              hide-details
              dense
              :placeholder="$t('dashboard.components.enter-text')"
              class="mx-2"
            ></v-text-field>

            <!--          <div class="d-flex align-center">-->
            <!--            <label for="start" class="d-flex align-center">-->
            <!--              <clock-icon class="primary-text" />-->

            <!--              <v-text-field-->
            <!--                v-model="taskStartTime"-->
            <!--                v-mask="timeRangeMask"-->
            <!--                id="start"-->
            <!--                outlined-->
            <!--                hide-details-->
            <!--                dense-->
            <!--                placeholder="09:00"-->
            <!--                style="width: 80px"-->
            <!--              ></v-text-field>-->
            <!--            </label>-->

            <!--            <label for="end" class="d-flex align-center">-->
            <!--              <clock-icon class="primary-text" />-->

            <!--              <v-text-field-->
            <!--                v-model="taskEndTime"-->
            <!--                v-mask="timeRangeMask"-->
            <!--                id="end"-->
            <!--                outlined-->
            <!--                hide-details-->
            <!--                dense-->
            <!--                placeholder="18:00"-->
            <!--                style="width: 80px"-->
            <!--              ></v-text-field>-->
            <!--            </label>-->
            <!--          </div>-->
          </div>

          <app-button
            type="submit"
            rounded
          >
            <template #prepend>
              <plus-circle-icon size="20" />
            </template>
            {{$t('dashboard.components.add-to-list')}}
          </app-button>
        </v-form>
      </div>
<!--    </template>-->


    <!-- Task update modal -->
    <v-dialog
      v-model="taskUpdateModal"
      max-width="500"
      content-class="reset-dialog-style"
    >
      <div class="bg-white rounded">
        <div class="d-flex align-center pa-5 pb-0">
          <v-spacer />

          <app-button
            color="error"
            icon
            min-width="30"
            width="30"
            height="30"
            @click="taskUpdateModal = false"
          >
            <x-icon size="16" class="d-block" />
          </app-button>
        </div>

        <div class="px-5">
          <v-list-item class="mb-3">
            <v-list-item-icon class="mr-3"></v-list-item-icon>
            <v-list-item-content>
              <v-text-field
                v-model="taskCreateModel.title"
                autofocus
                :placeholder="$t('dashboard.components.title')"
                hide-details
                class="pt-0 mt-0"
              />
            </v-list-item-content>
          </v-list-item>

          <v-list-item class="mb-3">
            <v-list-item-icon class="mr-3">
              <clock-icon
                color="var(--secondary-6)"
                size="22"
                style="transform: translateY(4px)"
              />
            </v-list-item-icon>
            <v-list-item-content>
              <app-date-picker
                v-model="taskCreateModel.start_date"
                with-input
                :outlined="false"
                :placeholder="$t('dashboard.date-and-time')"
              />
            </v-list-item-content>
          </v-list-item>

          <v-list-item class="mb-3">
            <v-list-item-icon class="mr-3">
              <edit3-icon
                color="var(--secondary-6)"
                size="22"
                style="transform: translateY(4px)"
              />
            </v-list-item-icon>
            <v-list-item-content>
              <v-textarea
                v-model="taskCreateModel.description"
                no-resize
                hide-details
                auto-grow
                rows="1"
                :placeholder="$t('dashboard.components.task-description')"
                class="pt-0 mt-0"
              />
            </v-list-item-content>
          </v-list-item>
        </div>

        <div class="pa-5 text-right">
          <app-button @click="updateTask">
            <template #prepend>
              <edit3-icon size="18" class="mr-1" />
            </template>
            {{$t('dashboard.components.refresh')}}
          </app-button>
        </div>
      </div>
    </v-dialog>
    <!-- /Task update modal -->
  </div>
</template>

<script>
import { format, formatISO, getDaysInMonth, isToday } from "date-fns"
import { ru } from "date-fns/locale"
import { CalendarIcon, CheckCircleIcon, ClockIcon, Edit2Icon, Edit3Icon, PlusCircleIcon, PlusIcon, RotateCcwIcon, Trash2Icon, XIcon } from "vue-feather-icons"
import { mapActions } from "vuex"

export default {
  name: "UserAgenda",
  components: {
    CalendarIcon,
    PlusIcon,
    ClockIcon,
    XIcon,
    Edit2Icon,
    Trash2Icon,
    PlusCircleIcon,
    CheckCircleIcon,
    Edit3Icon,
    RotateCcwIcon
  },
  data() {
    return {
      date: (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10),
      weekSlide: null,
      daysList: [],
      taskText: "",
      taskStartTime: null,
      taskEndTime: null,
      taskCreateModel: {
        id: null,
        title: null,
        start_date: null,
        end_date: null,
        description: null
      },
      currentDayFormat: null,
      agendaList: [],
      loading: true,
      taskUpdateModal: false,
      taskSelected: {}
    }
  },
  watch: {
    date: {
      handler(val) {
        this.daysList = []
        const [currentDay] = val.split("-").reverse()
        const currentMonthDays = getDaysInMonth(new Date(val))

        for (let i = 1; i <= currentMonthDays; i++) {
          this.daysList.push({
            day: i < 10 ? `0${i}` :  i,
            weekDay: format(new Date(val).setDate(i), "EEEE", { locale: ru }),
            isToday: isToday(new Date(val).setDate(i)),
            format: format(new Date(val).setDate(i), "yyyy-MM-dd")
          })
        }

        this.weekSlide = +currentDay - 1

        this.getList()
      },
      deep: true,
      immediate: true
    }
  },
  created() {
    this.fetchGetTasksList()
  },
  methods: {
    ...mapActions({
      fetchAddTask: "gridCalendar/fetchAddTask",
      fetchGetTasksList: "gridCalendar/fetchGetTasksList",
      fetchDeleteTask: "gridCalendar/fetchDeleteTask",
      fetchUpdateTask: "gridCalendar/fetchUpdateTask",
      fetchUpdateTaskStatus: "gridCalendar/fetchUpdateTaskStatus",
    }),
    /*
    *
    * */
    getList() {
      this.loading = true

      this.$http.get(`/dashboard/my-agenda/`, {
        params: {
          page_size: 50,
          start_date: this.currentDayFormat ? this.currentDayFormat : this.date
        }
      })
      .then(({ data }) => {
        this.agendaList = data.results
      })
      .finally(() => {
        this.loading = false
      })
    },
    /*
    *
    * */
    addTask() {
      if (!this.taskText.length) {
        this.$toast.warning(this.$t('dashboard.components.required-field'))
        return;
      }

      let currentDayFormat = this.currentDayFormat ? this.currentDayFormat : this.date
      const [year, month, day] = currentDayFormat.split("-")

      // const [startHour, startMinute] = this.taskStartTime.split(":")
      // const [endHour, endMinute] = this.taskEndTime.split(":")

      this.taskCreateModel.title = this.taskText
      this.taskCreateModel.start_date = formatISO(new Date(+year, +month - 1, +day, 0, 0, 0))
      // this.taskCreateModel.end_date = formatISO(new Date(+year, +month, +day, 0, 0, 0))

      this.fetchAddTask({
        model: this.taskCreateModel
      })
      .then(() => {
        this.$toast.success(this.$t('dashboard.components.task-created'))

        this.clearModel()
        this.getList()
        // this.taskStartTime = null
        // this.taskEndTime = null
      })
    },
    /*
    *
    * */
    showUpdateTaskModal(task) {
      this.taskCreateModel.id = task.id
      this.taskCreateModel.title = task.title
      this.taskCreateModel.start_date = this.$options.filters.filterYearMonthDate(task.start_date)
      this.taskCreateModel.description = task.description
      this.taskUpdateModal = true
    },
    /*
    *
    * */
    updateTask() {
      const [year, month, day] = this.taskCreateModel.start_date.split("-")

      this.taskCreateModel.start_date = formatISO(new Date(+year, +month - 1, +day, 0, 0, 0))

      this.fetchUpdateTask({
        id: this.taskCreateModel.id,
        model: this.taskCreateModel
      })
      .then(() => {
        this.$toast.success(this.$t('dashboard.components.task-updated'))

        this.clearModel()
        this.getList()

        this.taskUpdateModal = false
      })
      .catch(() => {
        this.$toast.error(this.$t('dashboard.components.task-update-error'))
      })
    },
    /*
    *
    * */
    deleteTask(id) {
      if(!confirm(this.$t('dashboard.components.delete-description'))) {
        return;
      }

      this.fetchDeleteTask({ id })
      .then(() => {
        this.getList()
        this.$toast.success(this.$t('dashboard.components.task-deleted'))
      })
      .catch(() => {
        this.$toast.error('dashboard.components.task-delete-error')
      })
    },
    /*
    *
    * */
    taskAction(id, value) {
      this.fetchUpdateTaskStatus({
        id,
        model: { status: value }
      })
      .then(() => {
        this.$toast.success(this.$t('dashboard.components.task-updated'))

        this.getList()
      })
      .catch(() => {
        this.$toast.error(this.$t('dashboard.components.task-update-error'))
      })
    },
    /*
    *
    * */
    clearModel() {
      this.taskText = ""
      this.taskCreateModel.title = null
      this.taskCreateModel.start_date = null
      this.taskCreateModel.end_date = null
      this.taskCreateModel.description = null
    },
    /*
    *
    * */
    timeMask(value) {
      const hours = [/[0-2]/, value.charAt(0) === '2' ? /[0-3]/ : /[0-9]/]
      const minutes = [/[0-5]/, /[0-9]/]

      return value.length > 2 ? [...hours, ':', ...minutes] : hours
    },
    /*
    *
    * */
    timeRangeMask(value) {
      const numbers = value.replace(/[^0-9]/g, '')

      if (numbers.length > 4) {
        return [...this.timeMask(numbers.substring(4))];
      }
      return [...this.timeMask(numbers)];
    },
    /*
    *
    * */
    dayChange(val) {
      this.currentDayFormat = val

      this.getList()
    }
  }
}
</script>
