<template>
  <div class="weather-widget d-flex flex-column shadow-6 rounded-10 bg-white pa-5 p-relative overflow-hidden">
    <template v-if="loading">
      <app-loader content-width />
    </template>

    <template v-else>
      <div>
        <div class="d-flex align-center mb-3">
          <calendar-icon size="22" class="primary-text mr-4" />
          <h4 class="small-1 font-600">{{$t('dashboard.components.today')}}</h4>
        </div>

        <span class="d-block text-dark small-2 font-500">{{ weatherModel.location.localtime }}</span>
      </div>

      <div class="d-flex justify-space-between mt-auto p-relative">
        <div class="mr-5">
          <nobr class="heading-10 font-500">{{ weatherModel.current.temp_c }} °C</nobr>
          <span class="text-dark small-2 d-block mt-4">{{ weatherModel.location.country }} ({{ weatherModel.location.region }})</span>
        </div>

        <template v-if="weatherModel.current.condition.text === 'Sunny'">
          <img src="/img/weather/Sunny.svg" alt="Sunny icon" class="weather-image" style="width: 95px" />
        </template>

        <template v-if="weatherModel.current.condition.text === 'Cloudy' || weatherModel.current.condition.text === 'Overcast'">
          <img src="/img/weather/Cloudy.svg" alt="Sunny icon" class="weather-image" style="width: 175px" />
        </template>

        <template v-if="weatherModel.current.condition.text === 'Mist'">
          <img src="/img/weather/WeatherMist.svg" alt="WeatherMist icon" class="weather-image" style="width: 100px" />
        </template>

        <template v-if="weatherModel.current.condition.text === 'Partly cloudy'">
          <img src="/img/weather/PartlyCloudy.svg" alt="Sunny icon" class="weather-image" style="width: 145px" />
        </template>

        <template
          v-if="
            weatherModel.current.condition.text === 'Heavy rain' ||
            weatherModel.current.condition.text === 'Moderate rain' ||
            weatherModel.current.condition.text === 'Light rain'
          "
        >
          <img src="/img/weather/HeavyRain.svg" alt="Sunny icon" class="weather-image" style="width: 115px" />
        </template>

        <template v-if="weatherModel.current.condition.text === 'Moderate or heavy rain with thunder'">
          <img src="/img/weather/ModerateHeavyRainWithThunder.svg" alt="Sunny icon" class="weather-image" style="width: 115px" />
        </template>

        <template v-if="weatherModel.current.condition.text === 'Torrential rain shower'">
          <img src="/img/weather/ThunderstormsRain.svg" alt="Sunny icon" class="weather-image" style="width: 115px" />
        </template>

        <template v-if="weatherModel.current.condition.text === 'Heavy snow'">
          <img src="/img/weather/Snow.svg" alt="Sunny icon" class="weather-image" style="width: 115px" />
        </template>

        <template v-if="weatherModel.current.condition.text === 'Moderate snow' || weatherModel.current.condition.text === 'Light snow showers'">
          <img src="/img/weather/SnowLight.svg" alt="Sunny icon" class="weather-image" style="width: 115px" />
        </template>

        <template v-if="weatherModel.current.condition.text === 'Clear'">
          <img src="/img/weather/Night.svg" alt="Sunny icon" class="weather-image" style="width: 105px" />
        </template>

        <template v-if="weatherModel.current.condition.text === 'Patchy rain possible'">
          <img src="/img/weather/SunnyRain.svg" alt="Sunny icon" class="weather-image" style="width: 105px" />
        </template>

        <template v-if="weatherModel.current.condition.text === 'Light rain shower'">
          <img src="/img/weather/LightRain.svg" alt="Sunny icon" class="weather-image" style="width: 125px" />
        </template>

<!--        <sun-icon size="60" class="warning-text" />-->
      </div>
    </template>
  </div>
</template>

<script>
import { CalendarIcon, SunIcon } from "vue-feather-icons"
import { mapGetters } from "vuex";

export default {
  name: "Weather",
  components: {
    CalendarIcon,
    SunIcon
  },
  data() {
    return {
      loading: true,
      weatherModel: {}
    }
  },
  computed: {
		...mapGetters({
			currentUser: "auth/getCurrentUser",
    })
  },
  created() {
    this.getWeather()
  },
  methods: {
    getWeather() {
      this.loading = true

      this.$http.get(`/dashboard/${this.currentUser.filial}/get-weather/`)
      .then(({ data }) => {
        this.weatherModel = data
        console.log(data);
      })
      .finally(() => {
        this.loading = false
      })
    }
  }
}
</script>
