<template>
  <div class="corespondent-form-create h-100">
    <app-wrapper class="h-100">
      <template #body>
        <div class="d-flex flex-column flex-1 pa-3">
          <div>
            <div class="d-flex align-center w-100 mb-12">
              <span class="heading-9 font-600 text-dark mr-3 d-block">
                {{ formType === 'create' ? $t('equipments.views.group-staff.add-employees') : $t('equipments.views.group-staff.edit-employees') }}
              </span>
              <v-divider/>
            </div>

            <v-row>
              <v-col md="4">
                <div class="app-input">
                  <span class="d-block font-600 small-2 mb-2">{{$t('equipments.views.group-staff.group-name')}}</span>

                  <v-text-field
                    v-model="$v.model.name.$model"
                    :error="$v.model.name.$error"
                    outlined
                    background-color="var(--input-bg)"
                  ></v-text-field>
                </div>
              </v-col>

              <v-col md="4">
                <div class="app-input">
                  <span class="d-block font-600 small-2 mb-2">{{$t('equipments.views.group-staff.employees')}}</span>

                  <autocomplete
                    v-model="$v.usersList.$model"
                    :error="$v.usersList.$error"
                    :item-disabled="getDisableItems"
                    api-list-url="/user/search/"
                    item-text="full_name"
                    item-value="id"
                    return-object
                    cache-items
                    multiple
                    background-color="var(--input-bg)"
                    :placeholder="$t('equipments.views.group-staff.employees')"
                  />

                  <div class="d-flex flex-wrap mt-3" style="grid-gap: 0.35rem">
                    <template >
                      <v-chip
                        v-for="(item, index) in usersList"
                        :key="index"
                        color="primary"
                      >
                        <span>{{ item.full_name }}</span>

                        <v-btn
                          @click="usersList.splice(index, 1)"
                          icon
                          color="white"
                          small
                          class="ml-2"
                        >
                          <trash2-icon size="16" />
                        </v-btn>
                      </v-chip>
                    </template>
                  </div>
                </div>
              </v-col>

	            <v-col md="4">
		            <div class="app-input">
			            <span class="d-block font-600 small-2 mb-2">{{$t('components.type')}}</span>
			            <v-select
				            v-model="model.type"
				            :items="typeList"
				            item-text="label"
				            item-value="value"
				            outlined
				            dense
				            hide-details
				            background-color="var(--input-bg)"
				            height="48"
				            append-icon="mdi-chevron-down"
			            >
			            </v-select>
		            </div>
	            </v-col>
            </v-row>
          </div>

          <div class="mt-auto">
            <app-button
              color="error"
              @click="$router.push({ name: 'GroupStaff' })"
              class="mr-2"
            >
              <template #prepend>
                <arrow-left-icon size="20" />
              </template>
              {{$t('equipments.views.group-staff.back')}}
            </app-button>

            <app-button v-if="formType === 'create'" @click="send">
              <template #prepend>
                <plus-circle-icon size="20" />
              </template>
              {{$t('equipments.views.group-staff.create')}}
            </app-button>

            <app-button v-if="formType === 'update'" @click="update">
              <template #prepend>
                <edit3-icon size="20" />
              </template>
              {{$t('equipments.views.group-staff.edit')}}
            </app-button>
          </div>
        </div>
      </template>
    </app-wrapper>
  </div>
</template>

<script>
import { ArrowLeftIcon, Edit3Icon, PlusCircleIcon, Trash2Icon } from "vue-feather-icons";
import { required } from "vuelidate/lib/validators";
import { mapGetters } from "vuex";

export default {
  name: "createForm",
  props: {
    formType: {
      type: String,
      default: "create"
    }
  },
  components: {
    PlusCircleIcon,
    ArrowLeftIcon,
    Edit3Icon,
    Trash2Icon
  },
  data() {
    return {
      model: {
        name: null,
        type: "private",
        employees: null
      },
      usersList: [],
	    typeList: [
		    {
			    label: this.$t('components.base.private'),
			    value: "private"
		    },
		    {
					label: this.$t('components.base.general'),
			    value: "general"
		    }
	    ]
    }
  },
  validations: {
    model: {
      name: { required }
    },
    usersList: { required }
  },
  computed: {
    ...mapGetters({
      getDisableItems: "getDisableItems",
      currentUser: "auth/getCurrentUser"
    }),
  },
  created() {
    if(Number(this.$route.params.id)) {
      this.getOne()
    }
  },
  methods: {
    send() {
      this.$v.$touch();

      if (this.$v.$invalid) {
        return;
      }

      this.model.employees = this.usersList.map(item => {
        return {
          id: item.id
        }
      })

      this.$http.post(`/action/employee/groups/`, this.model)
      .then(({ data }) => {
        this.$toast.success(this.$t('equipments.views.group-staff.added'))

        this.$router.push({
          name: "GroupStaff"
        })
      })
    },
    /*
    *
    * */
    update() {
      this.$v.$touch();

      if (this.$v.$invalid) {
        return;
      }

	    this.model.employees = this.usersList.map(item => {
		    return {
			    id: item.id
		    }
	    })

      this.$http.put(`/action/employee/groups/${this.$route.params.id}/`, this.model, {
        params: {
          created_by: this.currentUser.id
        }
      })
      .then(() => {
        this.$toast.success(this.$t('equipments.views.group-staff.edited'))

        this.$router.push({
          name: "GroupStaff"
        })
      })
      .catch(() => {
        this.$toast.error(this.$t('equipments.views.group-staff.edit-error'))
      })
    },
    /*
    *
    * */
    getOne() {
      this.$http.get(`/action/employee/groups/${this.$route.params.id}/`, {
        params: {
          created_by: this.currentUser.id
        }
      })
      .then(({ data }) => {
        this.model = data
        this.usersList = data.employees
      })
    }
  }
}
</script>
