<template>
  <div
    class="add-corespondent-view d-flex flex-column h-100"
  >
    <app-wrapper class="mb-4">
      <template #body>
        <v-row align="center" class="pa-1">
          <v-col md="2" class="py-0 pl-0">
            <h3 class="line-base">{{$t('equipments.views.group-staff.add-employees')}}</h3>
          </v-col>

          <v-col md="3" class="py-0">
            <div class="app-input">
              <v-text-field
                @input="search"
                v-model="filterSearch"
                hide-details
                outlined
                dense
                clearable
                :placeholder="$t('equipments.views.group-staff.search')"
                background-color="var(--input-bg)"
              >
                <template #prepend-inner>
                  <search-icon class="mr-1 d-block" size="20" color="var(--text-4)"/>
                </template>
              </v-text-field>
            </div>
          </v-col>

	        <v-col md="3" class="py-0">
		        <v-select
			        v-model="type"
			        :items="typeList"
			        item-text="label"
			        item-value="value"
			        outlined
			        dense
			        hide-details
			        background-color="var(--input-bg)"
			        height="40"
			        append-icon="mdi-chevron-down"
			        @change="onTypeChange"
		        >
		        </v-select>
	        </v-col>

          <v-spacer />

          <app-button :to="{ name: 'GroupStaffCreate' }">
            {{$t('equipments.views.group-staff.add')}}

            <template #append>
              <plus-circle-icon size="20" />
            </template>
          </app-button>
        </v-row>
      </template>
    </app-wrapper>

    <template>
      <div class="d-flex flex-column h-100 bg-4 rounded-20 pa-1 overflow-hidden">
        <div class="d-flex flex-column flex-1 h-100 overflow-hidden">
          <perfect-scrollbar class="d-flex flex-column flex-1 h-100">
            <app-table>
              <template #tableHeader>
                <th width="600">
                  <span>{{$t('equipments.views.group-staff.name')}}</span>
                </th>
                <th>
                  <span>{{$t('equipments.views.group-staff.employees')}}</span>
                </th>
                <th width="300">
                  <span>{{$t('equipments.views.group-staff.added-date')}}</span>
                </th>
                <th class="text-center" width="150">
                  <span>{{$t('equipments.views.group-staff.action')}}</span>
                </th>
              </template>

              <template #tableBody>
                <template v-if="getGroupStaffList.length">
                  <template>
                    <tr v-for="(item, index) in getGroupStaffList" :key="index">
                      <td>
                        <span class="font-600">{{ item.name }}</span>
                      </td>
                      <td>
                        <app-avatar-group
                          :avatar-list="item.employees"
                        />
                      </td>
                      <td>
                        <span class="font-600">{{ item.created_date | filterCalendarToTime }}</span>
                      </td>
                      <td
                        class="text-center"
                      >
                        <app-button
                          :to="{ name: 'GroupStaffUpdate', params: { id: item.id } }"
                          icon
                          min-width="40"
                          width="40"
                          height="40"
                        >
                          <edit3-icon size="18"/>
                        </app-button>

                        <app-button
                          @click="deleteItem(item.id)"
                          color="error"
                          icon
                          min-width="40"
                          width="40"
                          height="40"
                          class="ml-2"
                        >
                          <trash2-icon size="18"/>
                        </app-button>
                      </td>
                    </tr>
                  </template>
                </template>

                <template v-else>
                  <tr>
                    <td colspan="6">
                      <h2 class="font-600 text-center">{{$t('equipments.views.group-staff.not-found')}}</h2>
                    </td>
                  </tr>
                </template>
              </template>
            </app-table>
          </perfect-scrollbar>
        </div>
      </div>
    </template>

    <app-pagination @emit:up="paginate" class="mt-3" />
  </div>
</template>

<script>
import { debounce } from "lodash/function";
import { Edit3Icon, PlusCircleIcon, SearchIcon, Trash2Icon, XIcon } from "vue-feather-icons";
import { mapActions, mapGetters, mapState } from "vuex";

export default {
  name: "Home",
  components: {
    SearchIcon,
    Edit3Icon,
    XIcon,
    PlusCircleIcon,
    Trash2Icon
  },
  data() {
    return {
      filterSearch: "",
	    type: 'private',
	    typeList: [
		    {
			    label: this.$t('components.base.private'),
			    value: "private"
		    },
		    {
			    label: this.$t('components.base.general'),
			    value: "general"
		    }
	    ]
    }
  },
  computed: {
    ...mapState({
      filterState: state => state.headerFilter.filter,
      filteredState: state => state.headerFilter.filteredState,
      filterPagination: state => state.headerFilter.pagination,
    }),
    /*
    *
    * */
    ...mapGetters({
      currentUser: "auth/getCurrentUser",
      getGroupStaffList: "equipmentModule/getGroupStaffList",
    })
  },
  created() {
	  if (!this.$route.query.type){
		  this.$router.replace({
			  query: {
				  ...this.$route.query,
				  type: 'private'
			  }
		  })
	  }
		this.type = this.$route.query.type
		this.getList({...this.$route.query})
    this.filtersFromQueryParams()
  },
  methods: {
    ...mapActions({
      fetchGetGroupStaffList: "equipmentModule/fetchGetGroupStaffList",
      setFilteredState: "headerFilter/setFilteredState",
      setFiltersFromQueryParams: "headerFilter/setFiltersFromQueryParams",
    }),
    /*
    *
    * */
    deleteItem(id) {
      if(!confirm(this.$t('equipments.views.group-staff.delete-description'))) {
        return
      }

      this.$http.delete(`/action/employee/groups/${id}/`)
      .then(() => {
        this.fetchGetGroupStaffList()

        this.$toast.success(this.$t('equipments.views.group-staff.deleted'))
      })
    },
    /*
    *
    * */
    search: debounce(function(api) {
      this.$store.state.headerFilter.pagination.page = 1

      this.$router.push({
        query: {
          search: this.filterSearch
        }
      })
      .catch(() => {})

      this.fetchGetGroupStaffList({
        search: this.filterSearch
      })
    }, 500),
    /*
    *
    * */
    filtersFromQueryParams() {
      this.setFiltersFromQueryParams({
        query: this.$route.query
      })
    },
    /*
    *
    * */
    paginate(value) {
      let query = { search: this.filterSearch, page: value }
      this.filterPagination.page = value

      this.$router.replace({
        query: query
      }).catch(() => {})

      this.fetchGetGroupStaffList({
        ...query
      })
    },
	  onTypeChange(type) {
		  this.getList({ type })
	  },
	  getList(params) {
		  if (this.$route.query.type && this.$route.query.type !== params.type){
			  this.$router.replace({
				  query: {
					  ...this.$route.query,
					  ...params
				  }
			  })
		  }
		  this.fetchGetGroupStaffList({ ...this.$route.query })
	  }
  }
}
</script>
