<template>
  <create-form :form-type="$store.state.formType.update" />
</template>

<script>
import CreateForm from "./createForm"

export default {
  name: "update",
  components: {
    CreateForm
  }
}
</script>
