<template>
	<v-row>
<!--		<pre>{{ columns }}</pre>-->
    <template v-for="col in columns">
      <v-col v-if="col.value" :md="col.cols.md">
        <ui-label-text
          :label="col.key"
          :text="col.value"
          disable-text-translate
        >
          <template v-if="col.component">
            <div class="d-inline-block mt-1">
	            <template v-if="col.component === 'ui-status'">
                <ui-status :text="col.value" />
	            </template>

	            <template v-if="col.component === 'ui-countdown'">
		            <div class="d-flex align-center">
			            <ui-status class="mr-2" style="height: 48px">
										<!-- Если статус выполнено -->
				            <template v-if="status === 4">
					            <span class="d-block size-13" style="text-transform: none !important;">
						            {{ $t("components.execution-duration") }}:
						            {{ col.value | filterCalendarToTime }}
					            </span>

					            <span class="d-block size-13 text-capitalize">
						            {{ $t("components.done") }}:
						            {{ doneTime | filterCalendarToTime }}
					            </span>
				            </template>

				            <template v-else>
					            <span class="d-block size-13" style="text-transform: none !important;">
						            {{ $t("components.execution-duration") }}:
						            {{ col.value | filterCalendarToTime }}
					            </span>

					            <template v-if="filterGetBetween(col.value) > 0">
						            <vue-countdown :time="filterGetBetween(col.value)" v-slot="{ days, hours, minutes, seconds }">
							            <span class="size-15">
								            {{ days }} <span style="text-transform: lowercase;">{{ $t("date.day") }}</span>,
								            {{ hours < 10 ? `0${hours}` : hours }} :
								            {{ minutes < 10 ? `0${minutes}` : minutes }} :
								            {{ seconds < 10 ? `0${seconds}` : seconds }}
							            </span>
						            </vue-countdown>
					            </template>

<!--					            <template v-else>-->
<!--						            <span class="size-15">-->
<!--							            00 <span style="text-transform: lowercase;">{{ $t("date.day") }}</span>, 00 : 00 : 00-->
<!--						            </span>-->
<!--					            </template>-->
				            </template>
			            </ui-status>

			            <template v-if="status !== 4">
				            <app-tooltip top>
					            <template #content>
						            <ui-status style="width: 48px; height: 48px; justify-content: center;">
							            <help-circle-icon size="22" class="d-block" style="margin-top: 3px; margin-bottom: 3px" />
						            </ui-status>
					            </template>

					            <template #text>
						            {{ $t("text-1") }}
					            </template>
				            </app-tooltip>
			            </template>
		            </div>
	            </template>

	            <template v-if="col.component === 'ui-priority'">
                <ui-priority :text="col.value" />
	            </template>

              <template v-if="col.component === 'ui-avatar'">
                <app-tooltip top>
	                <template #content>
                    <v-avatar :color="col.value.color" size="36">
                      <template #default>
                        <span class="text-white small-3 font-500">{{ col.value.last_name[0] | getFirstCharacterWithoutDot }}</span>
                      </template>
                    </v-avatar>
	                </template>

	                <template #text>
		                {{ col.value.last_name }} {{ col.value.first_name }} {{ col.value.father_name }}
	                </template>
                </app-tooltip>
              </template>

	            <template v-if="col.component === 'ui-avatar-group'">
                <ui-avatar-group
	                :avatar-list="col.value"
	                :visible-count="5"
                />
	            </template>

              <template v-if="col.component === 'ui-date-text'">
                <span v-if="col.value" class="size-15 font-500">
	                {{ col.value | filterDateMonthYear }}
                </span>
              </template>
            </div>
          </template>
        </ui-label-text>
      </v-col>
    </template>
	</v-row>
</template>

<script>
import VueCountdown from '@chenfengyuan/vue-countdown'
import { isValid } from "date-fns"
import { HelpCircleIcon } from "vue-feather-icons"
export default {
	name: "DetailContent",
	components: {
		VueCountdown,
		HelpCircleIcon
	},
	props: {
		columns: {
			type: Array,
			default: []
		},
		status: {
			type: Number,
			default: 1
		},
		doneTime: {
			type: String,
			default: null
		}
	},
	methods: {
		filterGetBetween(val) {
			return isValid(new Date(val)) ? (new Date(val).getTime() - new Date().getTime()) : "Не верный формат даты"
		}
	}
}
</script>

<style scoped>

</style>
