<template>
	<div class="detail-layout-view bg-white pa-5 ma-n5">
		<div class="layout-header p-sticky top-0 pa-5 ma-n5">
			<div class="layout-header-toolbar d-flex align-center">
				<back-button />

				<v-divider
					vertical
					class="align-self-center divider-color mx-3"
					style="height: 16px"
				/>

				<div class="layout-toolbar-view d-flex flex-1 gap-8">
          <slot name="toolbar"></slot>
				</div>
			</div>
		</div>

    <div class="d-flex mt-4">
      <div class="flex-1">
	      <div class="d-flex align-center">
          <app-tooltip top :nudge-right="35">
	          <template #content>
              <div class="layout-title-wrapper">
                <h1 class="heading-10 text-truncate font-600 mr-3">{{ layoutTitle }}</h1>
              </div>
	          </template>

	          <template #text>
              {{ layoutTitle }}
	          </template>
          </app-tooltip>

		      <div v-if="layoutStatusVisible">
            <ui-status :text="layoutStatusText" />
		      </div>
	      </div>

        <ui-tabs v-model="tab">
          <v-tab>
            <div class="d-flex align-center">
              <eye-icon size="18" class="mr-2" />
              <span class="text-transform-none line-base">Просмотр</span>
            </div>
          </v-tab>
          <v-tab>
            <div class="d-flex align-center">
              <clock-icon size="18" class="mr-2" />
              <span class="text-transform-none line-base">Активность</span>
            </div>
          </v-tab>
          <v-tab>
            <div class="d-flex align-center">
              <message-square-icon size="18" class="mr-2" />
              <span class="text-transform-none line-base">Комментарии</span>
            </div>
          </v-tab>
          <v-tab>
            <div class="d-flex align-center">
              <file-text-icon size="18" class="mr-2" />
              <span class="text-transform-none line-base">Файлы</span>
            </div>
          </v-tab>

	        <v-tab v-if="composeId">
		        <div class="d-flex align-center">
			        <clock-icon size="18" class="mr-2" />
			        <span class="text-transform-none line-base">Хронология письма</span>
		        </div>
	        </v-tab>
        </ui-tabs>
      </div>

	    <div
		    v-if="tab === 0"
		    class="layout-content-right align-self-end pl-5 pb-4"
	    >
        <attachment-files-with-tabs
          mode="segment"
          :files-list="filesList"
          :document-type="documentType"
          @emit:click="handleClickFile"
        >
        </attachment-files-with-tabs>
	    </div>
    </div>

		<div class="layout-content layout-border-top mx-n5 px-5">
      <div class="mx-n5">
        <v-tabs-items v-model="tab">
          <v-tab-item :transition="false">
            <div class="layout-content d-flex">
              <div class="layout-content-left flex-1 overflow-y-auto">
                <div class="px-6 py-5">
                  <slot name="content" />
                </div>

                <div class="layout-border-top pa-5 mb-10">
	                <slot name="tree">
		                <resolution-tree
			                :tree-list="treeList"
			                @emit:watch-resolution-child="(value) => $emit('emit:watch-resolution-child', value)"
			                @emit:watch-resolution-parent="(tree) => $emit('emit:watch-resolution-parent', tree)"
		                />
	                </slot>
                </div>
              </div>

              <div class="layout-content-right layout-border-left">
                <slot name="aside">
	                <document-viewer
		                :file="fileCurrent"
		                :resolution="resolution"
		                :is-verified="isVerified"
		                :toolbar="documentType!=='xdfu'"
	                />
                </slot>
              </div>
            </div>
          </v-tab-item>

          <v-tab-item :transition="false">
	          <slot name="activity"></slot>
          </v-tab-item>

          <v-tab-item :transition="false">
            <slot name="comments">
              <comment-container
	              :comments-list="commentsList"
	              :object-id="objectId"
              ></comment-container>
            </slot>
          </v-tab-item>

          <v-tab-item :transition="false">
            <slot name="files"></slot>
          </v-tab-item>

	        <v-tab-item :transition="false">
		        <compose-activity-table :compose-id="composeId" />
	        </v-tab-item>
        </v-tabs-items>
      </div>
		</div>
	</div>
</template>

<script>
import {
	EyeIcon,
	ClockIcon,
	MessageSquareIcon,
	FileTextIcon
} from "vue-feather-icons"
import { CommentContainer } from "@/common/components/Comments"
import BackButton from "@/common/components/Buttons/BackButton.vue"
import DocumentViewer from "@/common/components/DocumentViewer/Viewer.vue"
import AttachmentFilesWithTabs from "@/common/components/AttachmentFilesWithTabs.vue"
import ResolutionTree from "@/common/components/TreeView/ResolutionTree.vue"
import ComposeActivityTable from "@/modules/DocumentFlow/components/ComposeActivityTable.vue";
export default {
	name: "LayoutWithTabs",
	props: {
		layoutTitle: {
			type: String,
			default: null
		},
		/*
		*
		* */
		layoutStatusText: {
			type: String,
			default: "TO DO"
		},
		/*
		*
		* */
		layoutStatusVisible: {
			type: Boolean,
			default: true
		},
		/*
		*
		* */
		treeList: {
			type: Array,
			default: () => []
		},
		/*
		*
		* */
		commentsList: {
			type: Array,
			default: () => []
		},
		/*
		*
		* */
		filesList: {
			type: Array,
			default: () => []
		},
		/*
		*
		* */
		resolution: {
			type: Object,
			default: () => {}
		},
		/*
		*
		* */
		isVerified: {
			type: Boolean,
			default: false
		},
		/*
		*
		* */
		objectId: {
			type: Number
		},
		/**/
		documentType: {
			type: String,
			default: null
		},
		/****/
		composeId: {
			type: [String, Number],
			default: null
		}
	},
	components: {
		EyeIcon,
		ClockIcon,
		MessageSquareIcon,
		FileTextIcon,
		CommentContainer,
		BackButton,
		DocumentViewer,
		AttachmentFilesWithTabs,
		ResolutionTree,
		ComposeActivityTable
	},
	data() {
		return {
			tab: null,
			fileCurrent: null
		}
	},
	methods: {
		handleClickFile(value) {
			this.fileCurrent = this.filesList[value]
		}
	}
}
</script>

<style>
.detail-layout-view {
  height: calc(var(--vh, 1vh) * 100 - 64px);
}

.layout-title-wrapper {
	max-width: 600px;
}

.layout-content {
  height: calc(100vh - 207px);
}

.layout-content-right {
	width: 700px;
}
</style>
