<template>
	<div class="equipments-home-view d-flex flex-column h-100">
		<app-wrapper class="mb-4">
			<template #body>
				<v-row align="center" class="pa-1">
					<v-col md="1" class="py-0 pl-1">
						<h3 class="line-base">{{$t('equipments.equipments')}}</h3>
					</v-col>

					<v-col md="3" class="py-0">
						<div class="app-input">
							<v-text-field
								@input="search"
								hide-details
								outlined
								dense
								clearable
								:placeholder="$t('equipments.search')"
								background-color="var(--input-bg)"
							>
								<template #prepend-inner>
									<search-icon class="mr-1 d-block" size="20" color="var(--text-4)"/>
								</template>
							</v-text-field>
						</div>
					</v-col>

					<v-spacer/>

					<template v-if="currentUser.filial !== '09013'">
						<v-chip
							color="primary"
							text-color="white"
						>
							{{ currentUser.filial_name }}
						</v-chip>

						<v-col md="2" class="py-0">
							<app-autocomplete
								@change="fetchDepartmentSelected"
								v-model="departmentSelected"
								api-list-url="/departments/"
								:api-params="{
															filial: currentUser.filial,
															page_size: 50,
															condition: 'A'
															}"
								item-text="name"
								list-type="list"
								hide-details
								cache-items
								return-object
								dense
								:label="$t('equipments.department')"
							/>
						</v-col>
					</template>

					<template v-else>
						<v-col md="3" class="py-0 pr-1">
							<app-autocomplete
								v-model="filialSelected"
								api-list-url="/filials/"
								item-text="name"
								item-value="mfo"
								list-type="list"
								cache-items
								dense
								:label="$t('equipments.branches')"
							/>
						</v-col>

						<v-col md="2" class="py-0">
							<v-select
								@change="fetchDepartmentSelected"
								v-model="departmentSelected"
								:items="getDepartmentList"
								item-text="name"
								return-object
								outlined
								dense
								hide-details
								:label="$t('equipments.department')"
								append-icon="mdi-chevron-down"
								background-color="var(--input-bg)"
							>
							</v-select>
						</v-col>
					</template>
				</v-row>
			</template>
		</app-wrapper>

		<template v-if="getIsDepartmentsLoading">
			<app-loader content-width/>
		</template>

		<template v-else>
			<div class="d-flex flex-column h-100 bg-4 rounded-20 pa-1 overflow-hidden">
				<div class="d-flex flex-column flex-1 h-100 overflow-hidden">
					<perfect-scrollbar class="d-flex flex-column flex-1 h-100">
						<app-table>
							<template #tableHeader>
								<th width="450">
									<span>{{$t('equipments.full-name')}}</span>
								</th>
								<th width="400">
									<span>{{$t('equipments.department')}}</span>
								</th>
								<th>
									<span>{{$t('equipments.position')}}</span>
								</th>
								<th width="300">
									<span>{{$t('equipments.status')}}</span>
								</th>
								<th width="150">
									<span>{{$t('equipments.number')}}</span>
								</th>
							</template>

							<template #tableBody>
								<template v-if="departmentUsersList.length">
									<template >
										<tr v-for="user in departmentUsersList" @click.prevent="openModal(user)" :key="user.id">
											<td>
												<div class="d-flex align-center">
													<v-avatar size="42" :color="user.color">
														<img
															v-if="user.avatar"
															:src="user.avatar.url"
															alt="John"
                              class="object-cover w-100 h-100"
														>
														<span v-else class="text-white font-600">{{ user.first_name | getFirstCharacterWithoutDot }}</span>
													</v-avatar>

													<h4 class="font-600 ml-4">{{ user.first_name }} {{ user.last_name }}</h4>
												</div>
											</td>
											<td>
												<span class="font-600">{{ user.dep_name }}</span>
											</td>
											<td>
												<span class="font-600">{{ user.position }}</span>
											</td>
											<td>
												<span class="font-600">{{ user.condition_name }}</span>
											</td>
											<td>
												<span class="font-600">{{ user.cisco }}</span>
											</td>
										</tr>
									</template>
								</template>

								<template v-else>
									<tr>
										<td colspan="6">
											<h2 class="font-600 text-center">{{$t('equipments.not-found')}}</h2>
										</td>
									</tr>
								</template>
							</template>
						</app-table>
					</perfect-scrollbar>
				</div>
			</div>
		</template>

		<user-equipment-dialog ref="equipment"/>
	</div>
</template>

<script>
import { debounce } from "lodash";
import { Edit3Icon, SearchIcon, XIcon } from "vue-feather-icons";
import { mapActions, mapGetters } from "vuex";
import UserEquipmentDialog from "./components/UserEquipmentDialog";

export default {
	name: "Home",
	components: {
		UserEquipmentDialog,
		SearchIcon,
		Edit3Icon,
		XIcon
	},
	data() {
		return {
			filialSelected: "09013",
			departmentSelected: {
				id: 47968,
				dep_id: 2,
				name: "Рахбарият",
				filial: 1,
				mfo: "09013",
				parent: null,
				code: "000049",
				parent_code: "000000",
				condition: "A",
				sub_departments: []
			},
			userSelected: {},
			ciscoNumber: null,
			editModal: false
		}
	},
	computed: {
		...mapGetters({
			currentUser: "auth/getCurrentUser",
			getDepartmentList: "equipmentModule/getDepartmentList",
			departmentUsersList: "equipmentModule/departmentUsersList",
			getIsDepartmentsLoading: "equipmentModule/getIsDepartmentsLoading",

		})
	},
	watch: {
		filialSelected: {
			handler(value) {
				if (this.currentUser.filial === '09013'){
					this.fetchDepartmentList(value).then((data) => {
						this.departmentSelected = this.getDepartmentList[0]

						// Отчистим массив перед тем как заполнить
						this.clearDepartmentUserList()

						if (this.departmentSelected){
							this.fetchDepartmentSelected(this.departmentSelected)
						}
					})
				}else {
					this.fetchDepartmentList(this.currentUser.filial).then((data) => {
						this.departmentSelected = this.getDepartmentList[0]

						// Отчистим массив перед тем как заполнить
						this.clearDepartmentUserList()

						if (this.departmentSelected){
							this.fetchDepartmentSelected(this.departmentSelected)
						}
					})
				}
			},
			immediate: true,
			deep: true
		}
	},
	methods: {
		...mapActions({
			fetchDepartmentList: "equipmentModule/fetchDepartmentList",
			fetchDepartmentSelected: "equipmentModule/fetchDepartmentSelected",
			clearDepartmentUserList: "equipmentModule/clearDepartmentUserList",
			fetchDepartmentUsers: "equipmentModule/fetchDepartmentUsers",
			fetchEquipmentsList: "equipmentModule/fetchEquipmentsList",
		}),
		/*
		*
		* */
		search: debounce(function (value) {
			// Отчистим массив перед тем как заполнить
			this.clearDepartmentUserList()

			if (value.length) {
				this.fetchDepartmentUsers({search: value, mfo: this.currentUser.filial})
			} else {
				this.fetchDepartmentSelected(this.departmentSelected)
			}
		}, 500),

		openModal(user) {
			this.fetchEquipmentsList(user.pinfl)
			const {equipment} = this.$refs;
			equipment.equipmentModal = true;
			equipment.user = user
		}
	}
}
</script>

<style scoped>

</style>
