<template>
	<div class="equipments-view flex-1 overflow-auto">
<!--		<template v-if="moduleLoaded">-->
			<router-view />
<!--		</template>-->
	</div>
</template>

<script>
// import { mapState, mapMutations } from "vuex";
// const EquipmentModule = () => import(/* webpackChunkName: "EquipmentModule" */ "@/modules/Equipments/store")

export default {
	name: "index",
	// computed: {
	// 	...mapState({
	// 		moduleLoaded: "isDynamicModuleLoaded"
	// 	}),
	// },
	// mounted() {
	// 	EquipmentModule().then(EquipmentModule => {
	// 		this.$store.registerModule("equipmentModule",EquipmentModule.default)
	// 		this.LOADED_DYNAMIC_MODULE(true)
	// 	})
	// },
	// beforeDestroy() {
	// 	this.$store.unregisterModule("equipmentModule")
	// 	this.LOADED_DYNAMIC_MODULE(false)
	// },
	// methods: {
	// 	...mapMutations({
	// 		LOADED_DYNAMIC_MODULE: "LOADED_DYNAMIC_MODULE"
	// 	})
	// }
}
</script>

<style scoped>

</style>
