<template>
	<div>
		<app-button
			height="40"
			color="primary-500"
			class="rounded-8"
			min-width="90px"
			@click="modal = true"
		>
			<template #prepend>
				<base-iconify
					icon="AddPlus"
					class="text-white"
					:inline="true"
				/>
			</template>
			<span class="small-2 font-500 text-white">{{ $t('chat-messenger.components.create') }}</span>
		</app-button>

		<base-modal
			v-model="modal"
			label="create-candidate"
			cancel-button-label="chat-messenger.components.cancel"
			success-button-label="chat-messenger.components.create"
			:button-loading="createButtonLoading"
			width="692"
			@emit:onSend="create"
		>
			<hiring-form ref="form" />
		</base-modal>
	</div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import HiringForm from './HiringForm'

export default {
	name: "CreateModal",
	components: {
		HiringForm
	},
	data() {
		return {
			modal: false
		}
	},
	computed: {
		...mapState({
			createButtonLoading: state => state.hrHiring.createButtonLoading,
			formModel: state => state.hrHiring.formModel,
		})
	},
	methods: {
		...mapActions({
			fetchHiringCreate: "hrHiring/fetchHiringCreate"
		}),
		/*
		*
		* */
		async create() {
			const { form } = this.$refs
			form.$v.$touch()

			if (form.$v.$invalid) {
				this.$toast.warning(this.$t('auth.enter-code.required-field'))
				return
			}

			try {
				await this.fetchHiringCreate()
				this.modal = false
				this.$emit('emit:created')
			}
			catch (error) {
			}
		}
	}
}
</script>

<style scoped>

</style>