<template>
	<div>
		<app-tooltip top>
			<template #content>
				<button @click="dialog = true">
					<base-iconify
						icon="TrashFull"
						class="text-critic-500"
					/>
				</button>
			</template>

			<template #text>
				{{ $t("hr.survey.delete") }}
			</template>
		</app-tooltip>

		<base-modal
			v-model="dialog"
			ref="baseModal"
			label="delete-group"
			success-button-label="hr.survey.delete"
			persistent
			width="461"
			:button-loading="buttonLoading"
			@emit:onSend="onDelete"
		>
			<div class="d-flex flex-column align-center justify-center w-100 py-4">
				<div class="d-flex justify-center align-center w-12 h-12 rounded-50 bg-critic-500">
					<base-iconify
						icon="TrashBinTrashBold"
						class="text-white"
						width="24"
						height="24"
					/>
				</div>

				<div v-if="$i18n.locale === 'ru'" class="heading-11 font-600 text-greyscale-900 mt-5 text-center">Вы уверены, что хотите удалить этого кандидата ?</div>
				<div v-else class="heading-11 font-600 text-greyscale-900 mt-5 text-center">Haqiqatan ham bu nomzodni olib tashlamoqchimisiz ?</div>

				<div class="small-2 font-500 text-greyscale-400 text-capitalize mt-1">
					{{ item.last_name }} {{ item.first_name }} {{ item.father_name }}
				</div>
			</div>
		</base-modal>
	</div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
	name: "DeleteModal",
	props: {
		item: {
			type: Object,
			default: () => {}
		}
	},
	data() {
		return {
			dialog: false,
			buttonLoading: false
		}
	},
	computed: {
		...mapState({
			createButtonLoading: state => state.hrHiring.createButtonLoading,
		})
	},
	methods: {
		...mapActions({
			fetchHiringDelete: 'hrHiring/fetchHiringDelete',
		}),
		/*
		*
		* */
		async onDelete() {
			try {
				await this.fetchHiringDelete({ id: this.item.id })
				this.modal = false
				this.$emit('emit:created')
			}
			catch (error) {
			}
		}
	}
}
</script>

<style scoped>

</style>