<template>
	<div class="grid grid-cols-2 gap-x-3 gap-y-6 w-100">
		<base-text-field
			v-model="$v.formModel.last_name.$model"
			:error="$v.formModel.last_name.$error"
			label="user-profile.views.surname"
			:placeholder="$t('enter-last-name')"
		/>

		<base-text-field
			v-model="$v.formModel.first_name.$model"
			:error="$v.formModel.first_name.$error"
			label="user-profile.views.first_name"
			:placeholder="$t('enter-name')"
		/>

		<base-text-field
			v-model="$v.formModel.father_name.$model"
			:error="$v.formModel.father_name.$error"
			label="father-name"
			:placeholder="$t('enter-father-name')"
		/>

		<base-date-picker
			v-model="$v.formModel.birth_date.$model"
			:error="$v.formModel.birth_date.$error"
			label="user-profile.views.birthday"
			:placeholder="$t('enter-birthday')"
		/>

		<base-auto-complete
			v-model="$v.formModel.__country.$model"
			:error="$v.formModel.__country.$error"
			api-list-url="/action/countries/"
			list-type="list"
			item-text="name"
			item-value="id"
			label="citizenship"
			:placeholder="$t('enter-citizenship')"
			return-object
			class="col-span-2"
		/>

		<base-auto-complete
			v-model="$v.formModel.__region.$model"
			:error="$v.formModel.__region.$error"
			api-list-url="/action/regions/"
			list-type="list"
			item-text="name"
			item-value="id"
			label="region"
			:placeholder="$t('enter-region')"
			cache-items
			return-object
			@emit:change="handleRegion"
		/>

		<base-auto-complete
			v-model="$v.formModel.__district.$model"
			:error="$v.formModel.__district.$error"
			api-list-url="/action/districts/"
			:api-params="districtApiParams"
			item-text="name"
			list-type="list"
			label="district"
			:placeholder="$t('enter-district')"
			return-object
		/>

		<base-text-field
			v-model="$v.formModel.address.$model"
			:error="$v.formModel.address.$error"
			label="document-flow.views.boxes.address"
			:placeholder="$t('enter-address')"
			class="col-span-2"
		/>

		<base-auto-complete
			v-model="$v.formModel.__branch.$model"
			:error="$v.formModel.__branch.$error"
			api-list-url="/filials/"
			list-type="list"
			item-text="name"
			item-value="id"
			label="control-tasks.tasks.branch"
			:placeholder="$t('enter-branch')"
			return-object
			@emit:change="handleBranch"
		/>

		<base-auto-complete
			v-model="$v.formModel.__department.$model"
			:error="$v.formModel.__department.$error"
			api-list-url="/departments/"
			:api-params="departmentApiParams"
			list-type="list"
			item-text="name"
			label="components.department"
			:placeholder="$t('enter-department')"
			return-object
			@emit:change="() => {}"
		/>

		<base-auto-complete
			v-model="$v.formModel.__position.$model"
			:error="$v.formModel.__position.$error"
			api-list-url="/positions/"
			list-type="list"
			item-text="name"
			item-value="id"
			label="equipments.views.add-news.position"
			:placeholder="$t('enter-position')"
			cache-items
			return-object
			class="col-span-2"
		/>

		<base-text-field
			v-model="$v.formModel.phone.$model"
			:error="$v.formModel.phone.$error"
			label="auth.enter-phone.phone"
			:placeholder="$t('auth.enter-phone.enter-phone')"
			v-mask="'+998 (##) ### ## ##'"
		/>

		<base-text-field
			v-model="$v.formModel.__pinfl.$model"
			:error="$v.formModel.__pinfl.$error"
			label="pin"
			:placeholder="$t('enter-pin')"
			v-mask="'# ###### ### ### #'"
		/>
	</div>
</template>

<script>
import { mapState } from 'vuex'
import { required } from 'vuelidate/lib/validators'
import { FORM_TYPES } from '@/common/enums/notificationTypes'

export default {
	name: "HiringForm",
	props: {
		type: String,
		default: FORM_TYPES.CREATE
	},
	data() {
		return {
			districtApiParams: {
				region: null,
				page_size: 50
			},
			departmentApiParams: {
				filial: null,
				condition: 'A',
				page_size: 50
			}
		}
	},
	computed: {
		...mapState({
			formModel: state => state.hrHiring.formModel
		})
	},
	validations: {
		formModel: {
			last_name: { required },
			first_name: { required },
			father_name: { required },
			birth_date: { required },
			phone: { required },
			__country: { required },
			__region: { required },
			__district: { required },
			address: { required },
			__branch: { required },
			__department: { required },
			__position: { required },
			__pinfl: { required },
		}
	},
	methods: {
		handleRegion(val) {
			this.formModel.__district = null
			this.districtApiParams.region = val.id
		},
		/*
		*
		* */
		handleBranch(val) {
			this.formModel.__department = null
			this.departmentApiParams.filial = val.mfo
		}
	}
}
</script>

<style scoped>

</style>