<template>
	<div>
		<app-tooltip top>
			<template #content>
				<button @click="getById">
					<base-iconify
						icon="Info"
						class="text-greyscale-600"
					/>
				</button>
			</template>

			<template #text>
				{{ $t("hr.survey.view") }}
			</template>
		</app-tooltip>

		<base-modal
			v-model="modal"
			label="Информация"
			width="692"
			:footer="false"
		>
			<div class="w-100">
				<div class="d-flex gap-x-4 py-2">
					<div class="d-flex align-center justify-center w-10 h-10 bg-greyscale-100 rounded-10 mt-1">
						<base-iconify
							icon="User03"
							class="text-primary-500"
						/>
					</div>

					<div class="flex-1 font-500 border-bottom border-gray-200 pb-2">
						<h1 class="small-2 text-greyscale-700">Кандидат</h1>
						<p class="text-capitalize text-greyscale-900 mb-0">
							{{ formModel.last_name }} {{ formModel.first_name }} {{ formModel.father_name }}
						</p>
					</div>
				</div>

				<div class="d-flex gap-x-4 py-2">
					<div class="d-flex align-center justify-center w-10 h-10 bg-greyscale-100 rounded-10 mt-1">
						<base-iconify
							icon="Building03"
							class="text-primary-500"
						/>
					</div>

					<div class="flex-1 font-500 border-bottom border-gray-200 pb-2">
						<h1 class="small-2 text-greyscale-700">Департамент</h1>
						<p class="text-capitalize text-greyscale-900 mb-0">{{ formModel.department && formModel.department.name }}</p>
					</div>
				</div>

				<div class="d-flex gap-x-4 py-2">
					<div class="d-flex align-center justify-center w-10 h-10 bg-greyscale-100 rounded-10 mt-1">
						<base-iconify
							icon="UserCheck"
							class="text-primary-500"
						/>
					</div>

					<div class="flex-1 font-500 border-bottom border-gray-200 pb-2">
						<h1 class="small-2 text-greyscale-700">Позиция</h1>
						<p class="text-capitalize text-greyscale-900 mb-0">{{ formModel.position && formModel.position.name }}</p>
					</div>
				</div>

				<div class="d-flex gap-x-4 py-2">
					<div class="d-flex align-center justify-center w-10 h-10 bg-greyscale-100 rounded-10 mt-1">
						<base-iconify
							icon="Flag"
							class="text-primary-500"
						/>
					</div>

					<div class="flex-1 font-500 border-bottom border-gray-200 pb-2">
						<h1 class="small-2 text-greyscale-700">Гражданство</h1>
						<p class="text-capitalize text-greyscale-900 mb-0">{{ formModel.country && formModel.country.name }}</p>
					</div>
				</div>

				<div class="d-flex gap-x-4 py-2">
					<div class="d-flex align-center justify-center w-10 h-10 bg-greyscale-100 rounded-10 mt-1">
						<base-iconify
							icon="MapPin"
							class="text-primary-500"
						/>
					</div>

					<div class="flex-1 font-500 border-bottom border-gray-200 pb-2">
						<h1 class="small-2 text-greyscale-700">Область</h1>
						<p class="text-capitalize text-greyscale-900 mb-0">{{ formModel.region && formModel.region.name }}</p>
					</div>
				</div>

				<div class="d-flex gap-x-4 py-2">
					<div class="d-flex align-center justify-center w-10 h-10 bg-greyscale-100 rounded-10 mt-1">
						<base-iconify
							icon="MapPin"
							class="text-primary-500"
						/>
					</div>

					<div class="flex-1 font-500 border-bottom border-gray-200 pb-2">
						<h1 class="small-2 text-greyscale-700">Район</h1>
						<p class="text-capitalize text-greyscale-900 mb-0">{{ formModel.district && formModel.district.name }}</p>
					</div>
				</div>

				<div class="d-flex gap-x-4 py-2">
					<div class="d-flex align-center justify-center w-10 h-10 bg-greyscale-100 rounded-10 mt-1">
						<base-iconify
							icon="House01"
							class="text-primary-500"
						/>
					</div>

					<div class="flex-1 font-500 border-bottom border-gray-200 pb-2">
						<h1 class="small-2 text-greyscale-700">Адрес</h1>
						<p class="text-capitalize text-greyscale-900 mb-0">{{ formModel.address }}</p>
					</div>
				</div>

				<div class="d-flex gap-x-4 py-2">
					<div class="d-flex align-center justify-center w-10 h-10 bg-greyscale-100 rounded-10 mt-1">
						<base-iconify
							icon="Phone"
							class="text-primary-500"
						/>
					</div>

					<div class="flex-1 font-500 border-bottom border-gray-200 pb-2">
						<h1 class="small-2 text-greyscale-700">Номер телефона</h1>
						<p class="text-capitalize text-greyscale-900 mb-0">{{ formModel.phone }}</p>
					</div>
				</div>

				<div class="d-flex gap-x-4 py-2">
					<div class="d-flex align-center justify-center w-10 h-10 bg-greyscale-100 rounded-10 mt-1">
						<base-iconify
							icon="UserCircle"
							class="text-primary-500"
						/>
					</div>

					<div class="flex-1 font-500 border-bottom border-gray-200 pb-2">
						<h1 class="small-2 text-greyscale-700">ПНФЛ</h1>
						<p class="text-capitalize text-greyscale-900 mb-0">{{ formModel.pinfl }}</p>
					</div>
				</div>
			</div>
		</base-modal>
	</div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
	name: "UpdateModal",
	props: {
		itemId: {
			type: Number
		}
	},
	data() {
		return {
			modal: false
		}
	},
	computed: {
		...mapState({
			formModel: state => state.hrHiring.formModel,
		})
	},
	methods: {
		...mapActions({
			fetchHiringById: 'hrHiring/fetchHiringById'
		}),
		/*
		*
		* */
		getById() {
			this.modal = true
			this.fetchHiringById({ id: this.itemId })
		}
	}
}
</script>

<style scoped>

</style>