<template>
	<div>
		<app-tooltip top>
			<template #content>
				<button @click="getById">
					<base-iconify
						icon="EditPencil01"
						class="text-greyscale-600"
					/>
				</button>
			</template>

			<template #text>
				{{ $t("hr.survey.change") }}
			</template>
		</app-tooltip>

		<base-modal
			v-model="modal"
			label="create-candidate"
			cancel-button-label="chat-messenger.components.cancel"
			success-button-label="Изменить"
			:button-loading="createButtonLoading"
			width="692"
			@emit:onSend="update"
		>
			<hiring-form ref="form" :type="FORM_TYPES.UPDATE" />
		</base-modal>
	</div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import HiringForm from './HiringForm'
import { FORM_TYPES } from '@/common/enums/notificationTypes'

export default {
	name: "UpdateModal",
	props: {
		itemId: {
			type: Number
		}
	},
	components: {
		HiringForm
	},
	data() {
		return {
			modal: false,
			FORM_TYPES
		}
	},
	computed: {
		...mapState({
			createButtonLoading: state => state.hrHiring.createButtonLoading,
		})
	},
	methods: {
		...mapActions({
			fetchHiringById: 'hrHiring/fetchHiringById',
			fetchHiringUpdate: 'hrHiring/fetchHiringUpdate',
		}),
		/*
		*
		* */
		getById() {
			this.modal = true
			this.fetchHiringById({ id: this.itemId })
		},
		/*
		*
		* */
		async update() {
			const { form } = this.$refs
			form.$v.$touch()

			if (form.$v.$invalid) {
				this.$toast.warning(this.$t('auth.enter-code.required-field'))
				return
			}

			try {
				await this.fetchHiringUpdate({ id: this.itemId })
				this.modal = false
				this.$emit('emit:created')
			}
			catch (error) {
			}
		}
	}
}
</script>

<style scoped>

</style>