<template>
	<div class="general-control-detail-view">
		<template v-if="reviewDetailModelLoader">
			<app-loader full-width />
		</template>

		<template v-else>
			<layout-with-tabs
				:layout-title="journalTitle"
				:layout-status-text="reviewDetailModel.status.name"
				:tree-list="treeList"
				:files-list="filesList"
				:resolution="resolution"
				:is-verified="resolutionModel && resolutionModel.is_verified"
				:object-id="reviewDetailModel.incoming_doc.id"
				:document-type="xdfu ? 'xdfu' : null"
				:compose-id="reviewDetailModel && reviewDetailModel.incoming_doc && reviewDetailModel.incoming_doc.compose_id"
				@emit:watch-resolution-child="watchResolutionChild"
				@emit:watch-resolution-parent="watchResolutionParent"
			>
				<template #toolbar>
					<div v-if="xdfu" class="xdfu d-flex rounded-lg px-4 justify-center align-center small-2">
						<alert-circle-icon size="18" class="mr-2" />

						{{ $t('xdfu') }}
					</div>

					<template v-if="['admin', 'chancellery_admin'].some(role => currentUser.roles.includes(role))">
						<app-button
							color="warning"
							min-height="36"
							height="36"
							:to="{ name: 'IncomingDocumentRegistrationFormShow', params: { id: reviewDetailModel && reviewDetailModel.incoming_doc.id } }"
						>
							<template #prepend>
								<edit3-icon size="20" />
							</template>
							{{$t('control-tasks.tasks.edit')}}
						</app-button>
					</template>

				</template>

				<template #content>
					<detail-content
						:columns="detailModel"
						:status="reviewDetailModel.status.id"
						:done-time="reviewDetailModel.modified_date"
					/>

					<template v-if="Number($route.params.type) === journalTypes.APPEALS">
						<v-row>
							<v-col md="4">
								<ui-label-text
									label="document-flow.views.boxes.applicant"
									:text="reviewDetailModel.incoming_doc.applicant === 'physics' ? 'document-flow.views.boxes.individual' : 'document-flow.views.boxes.legal-entity'"
								></ui-label-text>
							</v-col>

							<v-col md="4">
								<ui-label-text
									label="document-flow.views.boxes.applicant-full-name"
									:text="reviewDetailModel.incoming_doc.full_name_sender"
									disable-text-translate
								></ui-label-text>
							</v-col>

							<v-col md="4">
								<ui-label-text
									label="document-flow.views.registration.region"
									:text="reviewDetailModel.incoming_doc.region && reviewDetailModel.incoming_doc.region.name"
									disable-text-translate
								></ui-label-text>
							</v-col>

							<v-col md="4">
								<ui-label-text
									label="document-flow.views.boxes.district"
									:text="reviewDetailModel.incoming_doc.district && reviewDetailModel.incoming_doc.district.name"
									disable-text-translate
								></ui-label-text>
							</v-col>

							<v-col md="4">
								<ui-label-text
									label="document-flow.views.registration.address"
									:text="reviewDetailModel.incoming_doc.address"
									disable-text-translate
								></ui-label-text>
							</v-col>

							<v-col md="4">
								<ui-label-text
									label="document-flow.views.boxes.phone-number"
									:text="reviewDetailModel.incoming_doc.phone_number"
									disable-text-translate
								></ui-label-text>
							</v-col>

							<v-col md="4">
								<ui-label-text
									label="document-flow.views.registration.submission-form"
									:text="reviewDetailModel.incoming_doc.delivery_type && reviewDetailModel.incoming_doc.delivery_type.name"
									disable-text-translate
								></ui-label-text>
							</v-col>

							<v-col md="4">
								<ui-label-text
									label="document-flow.views.boxes.type-complaint"
									:text="reviewDetailModel.incoming_doc.complaint_type && reviewDetailModel.incoming_doc.complaint_type.name"
									disable-text-translate
								></ui-label-text>
							</v-col>

							<v-col md="4">
								<ui-label-text
									label="document-flow.views.registration.state"
									:text="reviewDetailModel.incoming_doc.is_duplicate ? 'Дубликат' : 'Повторная заявка'"
									disable-text-translate
								></ui-label-text>
							</v-col>

							<v-col md="4">
								<ui-label-text
									label="gender"
									:text="reviewDetailModel.incoming_doc.gender === 'M' ? 'Мужской' : 'Женский'"
									disable-text-translate
								></ui-label-text>
							</v-col>
						</v-row>
					</template>

					<div class="d-flex gap-8 mt-7">
						<read-document-button
							:read-time="reviewDetailModel.read_time"
							:document-id="Number($route.params.id)"
							:acquaint-document-fn="fetchAcquaintWithDocument"
						/>

						<!-- Когда ознакомлен -->
						<template v-if="reviewDetailModel.read_time">
							<template v-if="reviewDetailModel.status.id !== 4">
								<finish-document-button />

								<app-tooltip top>
									<template #content>
										<v-btn
											color="var(--primary-1)"
											depressed
											small
											min-height="36"
											height="36"
											class="rounded-lg"
											@click="forNotedText"
										>
											<div class="d-flex align-center">
							        <span class="text-white size-13">
								        {{ $t("noted-text") }}
							        </span>
											</div>
										</v-btn>
									</template>

									<template #text>
										{{ $t("for-noted-text") }}
									</template>
								</app-tooltip>
							</template>
						</template>
					</div>
				</template>

				<template #activity>
					<activity-table />
				</template>

				<template #files>
					<files-table :document-type="xdfu ? 'xdfu' : null"/>
				</template>
			</layout-with-tabs>
		</template>
	</div>
</template>

<script>
import { mapActions, mapGetters, mapState } from "vuex"
import { EditIcon, UserMinusIcon, UsersIcon, XIcon, AlertCircleIcon, Edit3Icon } from "vue-feather-icons"
import {
	AnswerMenuButton,
	ChangeStatusMenuButton,
	FinishDocumentButton,
	MoreActionsMenuButton,
	ReadDocumentButton,
	RedirectButton,
	SignWithKeyButton
} from "@/common/components/Buttons"
import { DeleteModal, ChangeStatusModal } from "@/common/components/Modal"
import { combineKeysDocumentDetail } from "@/common/helpers"
import { RESOLUTION_TYPES_LIST, ROLE_TYPES } from "@/common/constants"
import { STATUS_CODES, FORM_TYPES, FILE_EXTENSIONS, SIGN_TYPE, JOURNAL_TYPES } from "@/common/enums/notificationTypes"
import LayoutWithTabs from "@/common/components/DetailLayout/LayoutWithTabs.vue"
import DetailContent from "@/common/components/DetailLayout/DetailContent.vue"
import ActivityTable from "../Review/components/ActivityTable.vue"
import FilesTable from "../Review/components/FilesTable.vue"
import ResolutionForm from "../Review/components/ResolutionForm.vue"
import ResolutionDrawer from "../Review/components/ResolutionDrawer.vue"
export default {
	name: "show",
	components: {
		UsersIcon,
		UserMinusIcon,
		EditIcon,
		XIcon,
		Edit3Icon,
		ChangeStatusMenuButton,
		AnswerMenuButton,
		RedirectButton,
		MoreActionsMenuButton,
		SignWithKeyButton,
		ReadDocumentButton,
		FinishDocumentButton,
		DeleteModal,
		ChangeStatusModal,
		LayoutWithTabs,
		DetailContent,
		ActivityTable,
		FilesTable,
		ResolutionForm,
		ResolutionDrawer,
		AlertCircleIcon
	},
	data() {
		return {
			createResolutionModel: {
				assignment: [],
				content: null,
				is_project_resolution: true,
				deadline: null,
				review: Number(this.$route.params.id),
				type: RESOLUTION_TYPES_LIST[0].value
			},
			detailModel: null,
			resolutionCreateDrawer: false,
			resolutionUpdateDrawer: false,
			formTypes: FORM_TYPES,
			deleteModal: false,
			deleteModalSuccessButton: false,
			filesList: [],
			cancelSignModal: false,
			cancelSignSuccessButton: false,
			resolutionMeta: {
				receipt_date: null,
				signer: null,
				banner: true,
				check_id: null
			},
			resolutionDeleteModal: false,
			resolutionDeleteSuccessButtonLoading: false,
			journalTypes: JOURNAL_TYPES,

			resolutionModel: null
		}
	},
	computed: {
		...mapState({
			reviewDetailModelLoader: state => state.documentFlowBoxesReview.reviewDetailModelLoader,
			reviewDetailModel: state => state.documentFlowBoxesReview.reviewDetailModel,
			indexTableCols: state => state.documentFlowBoxesReview.indexTableCols,
			resolutionPerformersList: state => state.documentFlowBoxesInbox.resolutionPerformersList,
			executionMarkModel: state => state.documentFlowBoxesInbox.executionMarkModel,
			treeList: state => state.treeView.treeList,
		}),
		/*
		*
		* */
		...mapGetters({
			currentUser: "auth/getCurrentUser",
			attachDocumentsList: "documentFlowModule/getAttachDocumentsList",
		}),
		/*
		* Создан ли резолюция
		* */
		isResolutionCreated() {
			return this.reviewDetailModel.has_resolution
		},
		/*
		*
		* */
		disableRedirectButtonRules() {
			return (
				(
					this.reviewDetailModel.status.id !== STATUS_CODES.TODO &&
					this.reviewDetailModel.status.id !== STATUS_CODES.CANCEL
				)
				||
				(this.isResolutionCreated)
			)
		},
		/*
		*
		* */
		disableSignDocumentButton() {
			return !this.isResolutionCreated || !!this.isDocumentVerified
		},
		/*
		* Подписан ли документ
		* */
		isDocumentVerified() {
			return this.reviewDetailModel?.assignees?.is_verified
		},
		/*
		*
		* */
		isRoleAssistant() {
			return this.currentUser.role === ROLE_TYPES.ASSISTANT
		},
		/*
		*
		* */
		resolution() {
			if(!this.resolutionModel) {
				return {
					register_number: this.reviewDetailModel.incoming_doc.register_number,
					deadline: this.reviewDetailModel.assignees?.deadline,
					register_date: this.reviewDetailModel.incoming_doc.register_date,
					receipt_date: this.reviewDetailModel.assignees && this.reviewDetailModel.assignees.receipt_date,
					signer: this.reviewDetailModel.user,
					banner: true
				}
			}

			return {
				register_number: this.reviewDetailModel.incoming_doc.register_number,
				deadline: this.resolutionModel?.deadline,
				register_date: this.reviewDetailModel.incoming_doc.register_date,
				receipt_date: this.resolutionModel?.receipt_date,
				signer: this.resolutionModel?.signer,
				banner: true,
				check_id: this.resolutionModel?.check_id,
				journal: this.reviewDetailModel.incoming_doc.journal.name,
				assignment: this.resolutionModel?.assignment,
				content: this.resolutionModel?.content,
			}
		},
		/*
		*
		* */
		journalTitle() {
			let title = null

			switch(Number(this.$route.params.type)) {
				case JOURNAL_TYPES.INCOMING:
					title = this.reviewDetailModel.incoming_doc.correspondent
						? this.reviewDetailModel.incoming_doc.correspondent?.organization_name
						: this.reviewDetailModel.incoming_doc.journal?.name
					break;
				case JOURNAL_TYPES.INNER:
					title = this.reviewDetailModel.incoming_doc.department?.name
					break;
				case JOURNAL_TYPES.OUTGOING:
					title = this.reviewDetailModel.incoming_doc.correspondent?.organization_name
					break;
				case JOURNAL_TYPES.APPEALS:
					title = this.reviewDetailModel.incoming_doc.correspondent?.organization_name
					break;
				case JOURNAL_TYPES.ORDER_AND_PROTOCOL:
					title = this.reviewDetailModel.incoming_doc.title ?? this.reviewDetailModel.incoming_doc.department?.name
					break;
				default:
					title = this.reviewDetailModel.incoming_doc.title ?? this.reviewDetailModel.incoming_doc.department?.name
			}

			return title
		},
		/*
		*
		* */
		resolutionSuccessText() {
			return this.isRoleAssistant ? "document-flow.components.create-chip" : "document-flow.components.create-chip-and-sign"
		},
		/** **/
		xdfu() {
			return this.reviewDetailModel?.incoming_doc?.journal?.id === 8
		}
	},
	async mounted() {
		await this.fetchReviewById({ id: this.$route.params.id, loader: true })
		await this.getAttachFilesList()
		await this.fetchTreeUsersList({ treeId: this.reviewDetailModel.incoming_doc.id })
		this.combineDetailKeys()

		if (this.xdfu){
			window.addEventListener("contextmenu", this.preventContextMenu);
		}
	},
	beforeDestroy() {
		window.removeEventListener("contextmenu", this.preventContextMenu);
	},
	methods: {
		...mapActions({
			fetchReviewById: "documentFlowBoxesReview/fetchReviewById",
			fetchDeleteResolution: "documentFlowBoxesReview/fetchDeleteResolution",
			fetchUpdateReviewStatus: "documentFlowBoxesReview/fetchUpdateReviewStatus",
			fetchAttachFilesList: "documentFlowModule/fetchAttachFilesList",
			fetchVerifySign: "documentFlowBoxesReview/fetchVerifySign",
			fetchAcquaintWithDocument: "documentFlowBoxesReview/fetchAcquaintWithDocument",
			fetchCancelAssignDocument: "documentFlowBoxesReview/fetchCancelAssignDocument",
			fetchReviewExecutionMark: "documentFlowBoxesReview/fetchReviewExecutionMark",
			fetchCancelVerifySign: "documentFlowBoxesReview/fetchCancelVerifySign",
			fetchGetResolutionPerformers: "documentFlowBoxesInbox/fetchGetResolutionPerformers",
			fetchTreeUsersList: "treeView/fetchTreeUsersList",
		}),
		/*
		*
		* */
		async forNotedText() {
			await this.fetchReviewExecutionMark({
				id: this.$route.params.id,
				text: this.$t("for-noted-text")
			})
			this.$toast.success(this.$t("document-for-noted-text"))
		},
		/*
		*
		* */
		async deleteResolution(text) {
			this.resolutionDeleteSuccessButtonLoading = true

			try {
				await this.fetchDeleteResolution({
					id: this.reviewDetailModel.assignees.id,
					comment: text,
				})
				this.$toast.success(this.$t("deleted_resolution"))
				this.resolutionDeleteModal = false
			} finally {
				this.resolutionDeleteSuccessButtonLoading = false
			}
		},
		/*
		*
		* */
		async sendToSign() {
			await this.fetchUpdateReviewStatus({
				documentId: this.reviewDetailModel.id,
				status: STATUS_CODES.FOR_SIGNATURE
			})
			this.$toast.success(this.$t("document-flow.views.boxes.sent-for-signature"))
		},
		/*
		*
		* */
		async getAttachFilesList() {
			await this.fetchAttachFilesList({
				incomingDocId: this.reviewDetailModel.incoming_doc.id
			})

			this.filesList = this.attachDocumentsList.filter(doc => doc.document).map(file => {
				return {
					name: file.document && file.document.name,
					url: file.document && file.document.url,
					extension: FILE_EXTENSIONS.FILE
				}
			})

			this.filesList.unshift({
				name: this.$t("components.chip-asakabank"),
				extension: FILE_EXTENSIONS.RESOLUTION
			})
		},
		/*
		*
		* */
		async watchResolutionParent(tree) {
			if(tree.assignees && tree.assignees.length) {
				let first = tree.assignees[0]
				await this.fetchGetResolutionPerformers({ id: first.id })

				this.resolutionModel = {
					register_number: this.reviewDetailModel.incoming_doc.register_number,
					register_date: this.reviewDetailModel.incoming_doc.register_date,
					deadline: first.deadline,
					receipt_date: first.receipt_date,
					signer: tree.user,
					banner: true,
					check_id: first.check_id,
					journal: this.reviewDetailModel.incoming_doc.journal.name,
					assignment: first.assignment,
					is_verified: first.is_verified,
					content: first.content
				}
			}
		},
		/*
		*
		* */
		async watchResolutionChild(children) {
			if(children && children.length) {
				let first = children[0]
				await this.fetchGetResolutionPerformers({ id: first.assignment.id })

				this.resolutionModel = {
					register_number: this.reviewDetailModel.incoming_doc.register_number,
					register_date: this.reviewDetailModel.incoming_doc.register_date,
					receipt_date: first.receipt_date,
					banner: true,
					check_id: first.check_id,
					journal: this.reviewDetailModel.incoming_doc.journal.name,
					is_verified: true,
					content: first.assignment.content,
					deadline: first.assignment.deadline,
					controllers: this.resolutionPerformersList.controllers,
					assignment: this.resolutionPerformersList.performers,
				}

				this.resolutionMeta.signer = null
				this.resolutionMeta.banner = false
			}
		},
		/*
		*
		* */
		afterSuccess() {
			// Если это не ассистент
			if(!this.isRoleAssistant) {
				const { signButton } = this.$refs

				signButton.send()
			}
		},
		/*
		*
		* */
		afterUpdate() {
			console.log('update')
		},
		/*
		*
		* */
		async signDocument(pkcs7) {
			let model = {
				is_verified: true,
				pkcs7: pkcs7,
				review_id: this.reviewDetailModel.assignees.review,
				assignment_ids: this.reviewDetailModel.assignees.assignment.map((item) => item.assignment),
				type: SIGN_TYPE.SIGN
			}

			await this.fetchVerifySign({ model })

			// await this.fetchVerifySign({
			//   id: this.reviewDetailModel.assignees.id,
			//   model: {
			//     is_verified: true,
			//     pkcs7: pkcs7,
			//     type: SIGN_TYPE.SIGN
			//   }
			// })
			this.$toast.success(this.$t("components.document-signed"))
			const { signButton } = this.$refs

			signButton.cbChanged()
		},
		/*
		*
		* */
		async cancelSignDocument(comment) {
			// let model = {
			//   is_verified: false,
			//   review_id: this.reviewDetailModel.assignees.review,
			//   assignment_ids: this.reviewDetailModel.assignees.assignment.map((item) => item.assignment),
			//   comment: comment,
			//   type: SIGN_TYPE.CANCEL
			// }
			//
			// await this.fetchCancelAssignDocument({ model })

			// await this.fetchVerifySign({
			//   id: this.reviewDetailModel.assignees.id,
			//   model: {
			//     is_verified: false,
			//     comment: comment,
			//     type: SIGN_TYPE.CANCEL
			//   }
			// })

			await this.fetchCancelVerifySign({
				id: this.reviewDetailModel.assignees.id,
				model: {
					is_verified: false,
					comment: comment,
				}
			})

			this.cancelSignModal = false
			this.$toast.success(this.$t("document-flow.views.boxes.signature-canceled"))
			const { cancelSignModal } = this.$refs
			cancelSignModal.reset()
		},
		/*
		*
		* */
		combineDetailKeys() {
			this.detailModel = combineKeysDocumentDetail(this.indexTableCols, this.reviewDetailModel)
		},
		/** **/
		preventContextMenu(event) {
			event.preventDefault();
		},
	}
}
</script>

<style scoped>

</style>
