<script>
export default {
	name: "RiskLevelStatus",
	props: {
		status: {
			type: String,
			default: 'low'
		}
	},
	computed: {
		label() {
			switch (this.status) {
				case 'low':
					return this.$t('components.short')
				case 'medium':
					return this.$t('components.middle')
				default:
					return this.$t('components.high')
			}
		},
		labelColor() {
			switch (this.status) {
				case 'low':
					return 'text-primary-500'
				case 'medium':
					return 'text-warning-500'
				default:
					return 'text-critic-500'
			}
		}
	}
}
</script>

<template>
	<div
		class="risk-level-status-component small-2 font-600"
		:class="labelColor"
	>
		{{ label }}
	</div>
</template>

<style scoped>

</style>