<template>
	<v-navigation-drawer
		v-model="drawerSettings.drawer"
		:mini-variant="drawerSettings.mini"
		:permanent="drawerSettings.permanent"
		expand-on-hover
		app
		width="275"
		class="app-drawer"
		style="z-index: 200"
	>
		<perfect-scrollbar class="h-100">
			<div class="h-100 d-flex flex-column">
				<div class="logo-list-item">
					<v-list-item class="px-2 py-2">
						<router-link
							to="/"
							class="drawer-logo d-flex align-center text-decoration-none"
						>
							<div class="logo d-flex justify-center">
								<img src="/img/logo-short.png" alt="Logo" class="d-block"/>
							</div>

							<div class="logo-text ml-3">
								<img
									src="/img/logo-name.png"
									alt="Logo"
									class="d-block"
									width="80"
								/>
							</div>
						</router-link>
					</v-list-item>
				</div>

				<!--      <pre>{{ currentUser.role }}</pre>-->

				<v-list dense class="content-list py-0">
					<div class="pl-1 mt-4">
						<template v-for="(item, index) in menuPrimaryList">
							<!-- Checking if have child items -->
							<template v-if="item.children">
								<template
									v-if="
										!item.hasOwnProperty('role') ||
										(item.role &&
											item.role.includes(currentUser.role) || (item.permission && item.permission.includes(currentUser.id))) || (item.roles && item.roles.some(role => currentUser.roles.includes(role)))
									"
								>
									<div :key="index" class="app-collapse">
										<v-expansion-panels class="list-item-expand">
											<v-expansion-panel>
												<v-expansion-panel-header
													class="navigation-item pa-2 rounded-0"
													style="transition: all 400ms"
												>
													<v-list-item
														:ripple="false"
														class="overflow-hidden pl-1 pr-0"
													>
														<v-list-item-icon class="p-relative">
															<template
																v-if="item.count"
															>
																<v-badge
																	color="error"
																	overlap
																>
																	<template
																		v-slot:badge
																	>
																					<span
																						class="tiny"
																					>{{ item.count }}</span
																					>
																	</template>

																	<v-icon size="22"
																	>{{
																			item.icon
																		}}
																	</v-icon>
																</v-badge>
															</template>
															<v-icon v-else size="22">{{ item.icon }}</v-icon>
														</v-list-item-icon>

														<v-list-item-title>{{
																item.text
															}}
														</v-list-item-title>
													</v-list-item>
												</v-expansion-panel-header>

												<v-expansion-panel-content>
													<template
														v-for="subItem in item.children"
													>
														<!-- currentUser.id === 5585 (Муталова) -->
														<template
															v-if="
																!subItem.hasOwnProperty('role')
																|| (subItem.role && subItem.role.includes(currentUser.role))
																|| (subItem.permission && subItem.permission.includes(currentUser.id))
																|| (subItem.roles && subItem.roles.some(role => currentUser.roles.includes(role)))
															"
														>
															<!-- Checking if have sub-child items -->
															<template v-if="subItem.children">
																<template
																	v-if="
																		!subItem.hasOwnProperty('role') ||
																		(subItem.role && subItem.role.includes(currentUser.role)) ||
																		(subItem.permission && subItem.permission.includes(currentUser.id)) ||
																		(subItem.roles && subItem.roles.some(role => currentUser.roles.includes(role)))
																	"
																>
																	<div
																		class="app-collapse"
																		:key="subItem.text"
																	>
																		<v-expansion-panels
																			class="list-item-expand"
																		>
																			<v-expansion-panel>
																				<v-expansion-panel-header
																					class="navigation-item pa-2 rounded-0"
																					style="
																						transition: all
																							400ms;
																					"
																				>
																					<v-list-item
																						:ripple="
																							false
																						"
																						class="overflow-hidden pl-1 pr-0"
																					>
																						<v-list-item-icon>
																							<v-icon
																								size="22"
																							>{{
																									subItem.icon
																								}}
																							</v-icon>
																						</v-list-item-icon>

																						<v-list-item-title
																						>{{
																								subItem.text
																							}}
																						</v-list-item-title>
																					</v-list-item>
																				</v-expansion-panel-header>

																				<v-expansion-panel-content>
																					<template
																						v-for="level2 in subItem.children"
																					>
																						<template
																							v-if="
																								!level2.hasOwnProperty('role') ||
																								(level2.role &&	level2.role.includes(currentUser.role)) ||
																								(level2.permission && level2.permission.includes(currentUser.id)) ||
																								(level2.roles && level2.roles.some(role => currentUser.roles.includes(role)))
																							"
																						>
																							<v-list-item
																								:key="
																									level2.text
																								"
																								:ripple="
																									false
																								"
																								:to="{
																									name: level2.url,
																								}"
																								class="navigation-item navigation-item-on-hover list-left-border py-2 rounded-0 overflow-hidden justify-center"
																								link
																							>
																								<v-list-item-icon>
																									<template
																										v-if="
																											level2.count
																										"
																									>
																										<v-badge
																											color="error"
																											overlap
																										>
																											<template
																												v-slot:badge
																											>
																												<span
																													class="tiny"
																												>{{
																														level2.count
																													}}</span
																												>
																											</template>

																											<v-icon
																												size="22"
																											>{{
																													level2.icon
																												}}
																											</v-icon>
																										</v-badge>
																									</template>

																									<template
																										v-else
																									>
																										<v-icon
																											size="22"
																										>{{
																												level2.icon
																											}}
																										</v-icon>
																									</template>
																								</v-list-item-icon>

																								<v-list-item-title
																								>{{
																										level2.text
																									}}
																								</v-list-item-title>
																							</v-list-item>
																						</template>
																					</template>
																				</v-expansion-panel-content>
																			</v-expansion-panel>
																		</v-expansion-panels>
																	</div>
																</template>
															</template>

															<template v-else>
																<v-list-item
																	:key="subItem.text"
																	:ripple="false"
																	:to="{ name: subItem.url }"
																	class="navigation-item navigation-item-on-hover list-left-border py-2 rounded-0 overflow-hidden justify-center"
																	link
																>
																	<v-list-item-icon>
																		<template
																			v-if="subItem.count"
																		>
																			<v-badge
																				color="error"
																				overlap
																			>
																				<template
																					v-slot:badge
																				>
																					<span
																						class="tiny"
																					>{{
																							subItem.count
																						}}</span
																					>
																				</template>

																				<v-icon size="22"
																				>{{
																						subItem.icon
																					}}
																				</v-icon>
																			</v-badge>
																		</template>

																		<template v-else>
																			<v-icon size="22"
																			>{{ subItem.icon }}
																			</v-icon>
																		</template>
																	</v-list-item-icon>

																	<v-list-item-title>{{
																			subItem.text
																		}}
																	</v-list-item-title>
																</v-list-item>
															</template>
														</template>
													</template>
												</v-expansion-panel-content>
											</v-expansion-panel>
										</v-expansion-panels>
									</div>
								</template>
							</template>

							<template v-else>
								<template
									v-if="
										!item.hasOwnProperty('role') ||
										(item.role && item.role.includes(currentUser.role)) ||
										(item.permission && item.permission.includes(currentUser.id)) ||
										(item.roles && item.roles.some(role => currentUser.roles.includes(role)))
									"
								>
									<v-list-item
										:key="item.text"
										:ripple="false"
										:to="{ name: item.url }"
										class="navigation-item list-left-border py-2 rounded-0 overflow-hidden justify-center"
										link
									>
										<v-list-item-icon class="p-relative">
											<template
												v-if="item.count"
											>
												<v-badge
													color="error"
													overlap
												>
													<template
														v-slot:badge
													>
																					<span
																						class="tiny"
																					>{{ item.count }}</span
																					>
													</template>

													<v-icon size="22"
													>{{
															item.icon
														}}
													</v-icon>
												</v-badge>
											</template>
											<v-icon v-else size="22">{{ item.icon }}</v-icon>
										</v-list-item-icon>

										<v-list-item-title
										>{{ item.text }}
										</v-list-item-title>
									</v-list-item>
								</template>
							</template>
						</template>
					</div>
				</v-list>

				<div class="mt-auto mb-1">
					<!--        <app-tooltip right>
                    <template #content>
                      <v-list-item
                        :ripple="false"
                        :to="{name: 'MainChat'}"
                        class="list-left-border py-2 rounded-0 overflow-hidden mb-2 justify-center"
                        link
                      >
                        <v-list-item-icon>
                          <v-icon size="22">mdi-message-outline</v-icon>
                        </v-list-item-icon>
                      </v-list-item>
                    </template>
                    <template #text>
                      Chat messenger
                    </template>
                  </app-tooltip>-->
					<v-list-item
						:to="{ name: 'MainAuthority' }"
						:ripple="false"
						class="navigation-item list-left-border rounded-0 overflow-hidden justify-center"
						link
					>
						<v-list-item-icon>
							<v-icon size="25">mdi-file-document-outline</v-icon>
						</v-list-item-icon>

						<v-list-item-title>
							<span class="font-500">{{
									$t("authority")
								}}</span>
						</v-list-item-title>
					</v-list-item>

<!--					<v-list-item-->
<!--						@click.prevent="openFeedbackModal"-->
<!--						:ripple="false"-->
<!--						class="navigation-item list-left-border rounded-0 overflow-hidden justify-center"-->
<!--						link-->
<!--					>-->
<!--						<v-list-item-icon>-->
<!--							<v-icon size="22">mdi-comment-processing-outline</v-icon>-->
<!--						</v-list-item-icon>-->

<!--						<v-list-item-title>-->
<!--							<span class="font-500">{{-->
<!--									$t("layout.leave-question")-->
<!--								}}</span>-->
<!--						</v-list-item-title>-->
<!--					</v-list-item>-->
				</div>
			</div>
		</perfect-scrollbar>
	</v-navigation-drawer>
</template>

<script>
import {mapGetters} from "vuex";
import {BookIcon} from "vue-feather-icons";

export default {
	name: "index",
	data() {
		return {
			drawerSettings: {
				drawer: true,
				mini: true,
				permanent: true,
			},
			menuPrimaryList: [],
		};
	},
	computed: {
		...mapGetters({
			getUnreadCountList: "getUnreadCountList",
			currentUser: "auth/getCurrentUser",
		}),
	},
	watch: {
		getUnreadCountList: {
			handler(value) {
				setTimeout(() => {
					this.menuPrimaryList.find(item => item?.beta === true).count = value.unread_messages_count
					this.menuPrimaryList.find(item => item?.audit === true).count = value.audit_count

					const docFlow = this.menuPrimaryList.find(item => item.hasOwnProperty("value") && item.value === "doc_flow")
					const newBox = docFlow.children.find(child => child.hasOwnProperty("value") &&  child.value === "boxes")
					const xdfu = docFlow.children.find(child => child.hasOwnProperty("value") &&  child.value === "xdfu")

					newBox.count = this.getUnreadCountList.agreement_count + this.getUnreadCountList.assignment_count + this.getUnreadCountList.review_count + this.getUnreadCountList.unsigned_count + this.getUnreadCountList.for_verification_count
					xdfu.count = this.getUnreadCountList.xdfu_review_count + this.getUnreadCountList.xdfu_assignment_count
				}, 1000)
			},
			deep: true,
			immediate: true,
		},
		"$i18n.locale": {
			handler() {
				this.initSidebarLanguage();
			},
		},
	},
	mounted() {
		if (this.$vuetify.breakpoint.thresholds.sm < 965) {
			this.drawerSettings.drawer = false;
			this.drawerSettings.permanent = false;
		}
		this.initSidebarLanguage();
		// setTimeout(() => {
		//   const docFlow = this.menuPrimaryList.find(item => item.text === "Документооборот")
		//
		//   docFlow.children[2].count = this.getUnreadCountList.assignment_count + this.getUnreadCountList.review_count
		// }, 1500)
	},
	methods: {
		initSidebarLanguage() {
			this.menuPrimaryList = [
				// Dashboard
				{
					text: this.$t("layout.dashboard"),
					url: "MainDashboard",
					icon: "$vuetify.icons.HomeIcon",
				},
				// End Dashboard

				// Event Calendar
				{
					text: this.$t("layout.calendar"),
					url: "MainEventCalendar",
					icon: "$vuetify.icons.CalendarIcon",
				},
				// End Event Calendar

				// Document Flow
				{
					text: this.$t("layout.document-flow"),
					icon: "$vuetify.icons.FileTextIcon",
					role: [
						"admin",
						null,
						"deputy_chair",
						"chairman",
						"department_director",
						"filial_manager",
						"filial_deputy_manager",
						"department_deputy_director",
						"filial_chancellery",
						"department_employee",
						"assistant",
						"chancellery",
						"filial_employee",
						"hr_manager",
						"equipment_manager",
						"chancellery_admin",
						"call_center",
						"head_of_group",
						"network_operator",
						"filial_hr_manager",
						"credit_committee",
						"project_office",
						"kuap_invest",
						"filial_credit_monitoring",
						"credit_monitoring",
						"capital_invest",
						"charity_commission",
						"purchase_commission",
						"affidavit",
						"compliance",
						"operator_admin",
						"operator",
						"control_task_view",
						"facture_user",
						"mek"
					],
					roles: ["facture_user", "chairman_tasks", "deputy_chair_tasks", "audit_tasks", "committee_monitoring", "mek"],
					children: [
						// {
						// 	text: this.$t('layout.home'),
						// 	url: "DocumentFlowHome",
						// 	icon: "$vuetify.icons.HomeIcon",
						// },
						{
							text: this.$t("layout.registration"),
							url: "RegistrationIndex",
							// url: "DocumentFlowRegistration",
							icon: "$vuetify.icons.ClipboardIcon",
							role: [
								"admin",
								"filial_chancellery",
								"department_employee",
								"chancellery",
								"hr_manager",
								"assistant",
								"chancellery_admin",
								"call_center",
								"filial_hr_manager",
								"credit_committee",
								"control_task_view"
							],
							roles: ["chairman_tasks", "deputy_chair_tasks", "audit_tasks"],
						},

						{
							text: this.$t("layout.boxes"),
							url: "BoxesIndex", // old route (BoxesReview)
							// url: "DocumentFlowBoxes",
							icon: "$vuetify.icons.BoxIcon",
							role: [
								null,
								"admin",
								"deputy_chair",
								"chairman",
								"department_director",
								"filial_manager",
								"filial_deputy_manager",
								"department_deputy_director",
								"filial_chancellery",
								"department_employee",
								"assistant",
								"chancellery",
								"filial_employee",
								"hr_manager",
								"equipment_manager",
								"chancellery_admin",
								"call_center",
								"head_of_group",
								"network_operator",
								"filial_hr_manager",
								"credit_committee",
								"project_office",
								"kuap_invest",
								"filial_credit_monitoring",
								"credit_monitoring",
								"capital_invest",
								"charity_commission",
								"purchase_commission",
								"affidavit",
								"compliance",
								"operator_admin",
								"operator",
								"control_task_view",
								"facture_user"
							],
							roles: ["facture_user", "chairman_tasks", "deputy_chair_tasks", "audit_tasks", "committee_monitoring", "mek"],
							count: null,
							value: "boxes"
						},

						// Отправка документов
						{
							text: this.$t("layout.sending-documents"),
							url: "SendDocumentNew",
							icon: "$vuetify.icons.MailIcon",
						},
						// /Отправка документов

						// Поиск
						{
							text: this.$t("layout.search"),
							url: "Search",
							icon: "$vuetify.icons.SearchIcon",
							role: ["admin"]
						},

						// Экспорт
						{
							text: this.$t("layout.export"),
							url: "Export",
							icon: "$vuetify.icons.FileTextIcon",
							// role: ["chancellery", "chancellery_admin", "admin"]
						},

						// XDFU
						{
							text: this.$t("xdfu"),
							url: "XdfuIndex",
							icon: "$vuetify.icons.FileTextIcon",
							count: null,
							value: "xdfu"
							// role: ["admin", "deputy_chair"],
						},
					],
					value: "doc_flow"
				},
				// End Document Flow

				// Supervised assignments
				{
					text: this.$t("layout.control-tasks"),
					icon: "mdi-text-account",
					children: [
						{
							text: this.$t("layout.tasks"),
							icon: "$vuetify.icons.ClipboardIcon",
							url: "Tasks",
						},
						{
							text: this.$t("layout.reports"),
							icon: 'mdi-chart-line',
							url: "Reports",
						},
						{
							text: this.$t("layout.create-task"),
							icon: "$vuetify.icons.PlusIcon",
							url: "CreateTask",
							role: ["admin", "chairman_tasks", "deputy_chair_tasks", "audit_tasks"],
							roles: ["admin", "chairman_tasks", "deputy_chair_tasks", "audit_tasks"],
						},
					],
				},
				// End Supervised assignments

				// Audit
				{
					text: this.$t('audit'),
					icon: "$vuetify.icons.TickSquareIcon",
					count: null,
					audit: true,
					// role: ['admin'],
					// roles: ['admin', 'assistant', 'deputy_chair'],
					children: [
						{
							text: this.$t("components.department"),
							url: 'AuditCheckupDepartmentList',
							icon: "$vuetify.icons.BookIcon",
							// role: ['admin'],
							// roles: ['admin', 'assistant', 'deputy_chair']
						},
						{
							text: this.$t("control-tasks.reports.branches"),
							url: 'AuditCheckupFilialList',
							icon: "$vuetify.icons.BuildingIcon",
							// role: ['admin'],
							// roles: ['admin', 'assistant', 'deputy_chair']
						},
						{
							text: this.$t("process"),
							url: 'AuditCheckupProcessList',
							icon: "$vuetify.icons.NotebookIcon",
							// role: ['admin'],
							// roles: ['admin', 'assistant', 'deputy_chair']
						},
						{
							text: this.$t("configure-groups"),
							url: 'AuditConfigureGroupsList',
							icon: "$vuetify.icons.SettingsIcon",
							role: ['admin', 'audit_department_director'],
							roles: ['admin', 'audit_department_director']
						},
						{
							text: this.$t("directions"),
							url: 'AuditReferenceDirectionsList',
							icon: "$vuetify.icons.WarningIcon",
							role: ['admin', 'audit_department_director'],
							roles: ['admin', 'audit_department_director']
						}
					],
					value: "audit"
				},
				// Audit

				// HR
				{
					text: this.$t("layout.hr"),
					icon: "$vuetify.icons.UsersIcon",
					permission: [5628, 10017, 5413, 4207],
					role: ["admin", "hr_manager", "deputy_chair", "chairman", 'audit_department_director'],
					children: [
						// {
						// 	text: this.$t('hiring'),
						// 	url: "HiringList",
						// 	icon: "$vuetify.icons.SettingsIcon",
						// 	role: ['admin', 'hr_manager']
						// },
						{
							text: this.$t("document_list"),
							url: "PersonalDocumentsList",
							icon: "$vuetify.icons.ListIcon",
						},
						// {
						// 	text: this.$t("components.for-signature"),
						// 	url: "SignList",
						// 	icon: "$vuetify.icons.ListIcon",
						// 	role: ['admin', 'deputy_chair', 'audit_department_director']
						// },
					],
				},
				// {
				// 	text: this.$t("layout.hr"),
				// 	icon: "$vuetify.icons.UsersIcon",
				// 	role: ["admin", "hr_manager"],
				// 	children: [
				// 		{
				// 			text: this.$t("layout.polls-list"),
				// 			url: "HRSurvey",
				// 			icon: "$vuetify.icons.ListIcon",
				// 		},
				// 		{
				// 			text: this.$t("layout.completed-surveys"),
				// 			url: "HRCompletedList",
				// 			icon: "$vuetify.icons.TabletIcon",
				// 		},
				// 	],
				// },
				// /HR

				// Facture
				{
					text: this.$t('layout.texture'),
					icon: "$vuetify.icons.ClipboardIcon",
					role: [],
					roles: [
						"admin", "facture_user", "facture_user_assistant"
					],
					children: [
						{
							text: this.$t('components.documents'),
							url: "FactureDocuments",
							icon: "$vuetify.icons.InboxIcon",
							role: [],
							roles: [
								"admin", "facture_user", "facture_user_assistant"
							],
						},
					]
				},
				// End Facture

				// Statists
				{
					text: this.$t("layout.statistics"),
					icon: "$vuetify.icons.BarChartIcon",
					// role: [
					// 	"admin",
					// 	"chancellery",
					// 	"chancellery_admin",
					// 	"filial_chancellery",
					// ],
					children: [
						{
							text: this.$t("layout.statistics"),
							url: "Statistic",
							icon: "mdi-chart-line",
							// role: [
							// 	"chancellery",
							// 	"chancellery_admin",
							// 	"admin",
							// 	"department_director",
							// ],
						},
						{
							text: this.$t("layout.execution-statistics"),
							url: "ExecutionStatistics",
							icon: "mdi-text-account",
							role: [
								"chancellery",
								"chancellery_admin",
								"admin",
								"filial_chancellery",
								"department_director",
							],
						},
						{
							text: this.$t("layout.sending-documents-statistics"),
							url: "SendingDocumentStatistics",
							icon: "mdi-chart-box-outline",
							// role: ["admin", "chancellery", "chancellery_admin"],
						},
						{
							text: this.$t("kpi-statistic"),
							url: "StatisticKPI",
							icon: "mdi-chart-box-outline",
							// role: ["admin", "chancellery", "chancellery_admin", "filial_chancellery"]
						},
						// StatisticKPI
					],
				},

				// End Statists

				// Exchange
				// {
				// 	text: this.$t('layout.exchange'),
				// 	url: "MainExchangeEmail",
				// 	icon: "$vuetify.icons.MailIcon",
				// },
				// End Exchange

				// Settings
				{
					text: this.$t("layout.settings"),
					icon: "$vuetify.icons.SettingsIcon",
					// role: [
					// 	"admin",
					// 	"equipment_manager",
					//   "chancellery"
					// ],
					children: [
						// Credit monitoring
						{
							text: this.$t("layout.bank-structure"),
							url: "BankStructure",
							icon: "$vuetify.icons.BoxIcon",
							role: [
								"admin",
								"filial_chancellery",
								"filial_hr_manager",
								"chancellery_admin",
								"chancellery"
							],
							roles: [
								"admin",
								"filial_chancellery",
								"filial_hr_manager",
								"chancellery_admin",
								"chancellery"
							],
						},
						{
							text: this.$t("head-office"),
							url: "CreditMonitoringHead",
							icon: "$vuetify.icons.DollarSignIcon",
							role: [
								"admin",
								"credit_monitoring"
							],
						},
						{
							text: this.$t("branch"),
							url: "CreditMonitoringBranch",
							icon: "$vuetify.icons.DollarSignIcon",
							role: [
								"admin",
								"filial_credit_monitoring"
							],
						},
						// /Credit monitoring
						{
							text: this.$t("layout.equipment"),
							url: "SettingsEquipments",
							icon: "$vuetify.icons.HardDriveIcon",
							role: ["admin", "equipment_manager"],
						},
						{
							text: this.$t("layout.add-correspondent"),
							url: "SettingsCorespondent",
							icon: "$vuetify.icons.BookIcon",
							role: ["admin"],
						},
						{
							text: this.$t("create-template"),
							url: "CreateTemplate",
							icon: "$vuetify.icons.BookIcon",
							// role: ["admin", "chancellery"],
						},
						{
							text: this.$t("layout.contents-resolutions"),
							url: "ResolutionContent",
							icon: "$vuetify.icons.BookOpenIcon",
						},
						{
							text: this.$t("equipments.views.group-staff.add-employees"),
							url: "GroupStaff",
							icon: "$vuetify.icons.UsersIcon"
						},
						{
							text: this.$t("layout.failed-letters"),
							url: "FailedLetters",
							icon: "$vuetify.icons.FileTextIcon",
							role: ["admin"],
						},
					],
				},
				// End Settings

				// PhoneBook
				{
					text: this.$t("layout.phonebook"),
					url: "MainPhoneBook",
					icon: "$vuetify.icons.PhoneIcon",
				},
				// End PhoneBook

				// Chat
				{
					text: this.$t("layout.chat-messenger"),
					url: "MainChat",
					icon: "mdi-message-outline",
					beta: true,
					count: null

				},
				// End Chat

				// Survey
				{
					text: this.$t("layout.surveys"),
					icon: "$vuetify.icons.ListIcon",
					children: [
						{
							text: this.$t("layout.polls-list") + ' (HR)',
							url: "HRSurveyList",
							icon: "$vuetify.icons.ListIcon",
							role: ["admin", "survey_manager"],
							roles: ["admin", "survey_manager"],
						},
						{
							text: this.$t("blocks") + ' (HR)',
							url: "HRSurveyBlocksList",
							icon: "$vuetify.icons.TabletIcon",
							role: ["admin", "survey_manager"],
							roles: ["admin", "survey_manager"],
						},
						{
							text: this.$t("layout.for-employees"),
							icon: "$vuetify.icons.User",
							url: 'HRSurveyClientList'
						},
						/*{
							text: this.$t("layout.polls-list") + ' (' + this.$t("layout.for-clients") + ')',
							url: "SurveyClientList",
							icon: "$vuetify.icons.ListIcon",
							role: ["admin", "operator_admin"],
						},
						{
							text: this.$t("layout.completed-surveys") + ' (' + this.$t("layout.for-clients") + ')',
							url: "SurveyClientCompleted",
							icon: "$vuetify.icons.TabletIcon",
							role: ["admin", "operator_admin"],
						},
						{
							text: this.$t("layout.for-clients"),
							icon: "$vuetify.icons.Users",
							url: 'SurveyClient',
							role: ["admin", "operator", "operator_admin"],
						},*/
					]
				},
			]

			// setTimeout(() => {
			// 	const docFlow = this.menuPrimaryList.find(item => item.hasOwnProperty("value") && item.value === "doc_flow")
			// 	const newBox = docFlow.children.find(child => child.hasOwnProperty("value") &&  child.value === "boxes");
			//
			// 	newBox.count = this.getUnreadCountList.agreement_count + this.getUnreadCountList.assignment_count + this.getUnreadCountList.review_count + this.getUnreadCountList.unsigned_count
			// 	const chat = this.menuPrimaryList.find(item => item?.beta === true);
			// 	chat.count = this.getUnreadCountList.unread_messages_count
			// }, 1000)
		},
		openFeedbackModal() {
			this.$emit("emit:up", true);
		},
	},
};
</script>
<style>
.app-drawer.v-navigation-drawer--mini-variant .logo-text {
	display: none;
}

.app-drawer .drawer-logo {
	flex: none;
}

.app-drawer .logo {
	width: 40px;
}

.logo-list-item {
	background: var(--bg-3);
}

.beta-version {
	bottom: -3px;
	right: -13px;
	transform: rotate(-45deg);
	color: white;
	line-height: 1;
	font-size: 12px;
	background: var(--primary-1);
	border-radius: 5px;
	padding: 2px;
	z-index: 1;
}
</style>
