<template>
	<div class="comments-box-children">
		<div v-if="commentProp.created_by" class="action-log-item py-4" :key="commentProp.id">
			<div class="d-flex justify-space-between w-100">
				<div class="d-flex">
					<v-avatar
						:color="commentProp.created_by.color"
						size="32"
						class="mr-2 mt-1"
					>
						<template v-if="commentProp.created_by.avatar">
							<img
								:src="commentProp.created_by.avatar.url"
								alt="Avatar image"
								class="object-cover w-100 h-100"
							>
						</template>

						<template v-else>
								<span class="white--text small-3">
									{{ commentProp.created_by.full_name | getFirstCharacterWithoutDot }}
								</span>
						</template>
					</v-avatar>
					<div>
						<div class="small-2 font-500">
							<span class="mr-2 d-block">{{ commentProp.created_by.last_name }} {{ commentProp.created_by.first_name | getFirstCharacter }} {{ commentProp.created_by && commentProp.created_by.father_name && commentProp.created_by.father_name | getFirstCharacter }}</span>
							<span class="text-2 d-block text-3 small-3">{{
									commentProp.created_date | filterCalendarToTime
								}}</span>
							<template v-if="!edit">
								<span class="d-block mt-2 span-description" v-html="commentProp.description"></span>
							</template>
						</div>
					</div>
				</div>
				<div class="d-flex align-center" v-if="commentProp.created_by.id === currentUser.id && !composeModel.is_signed && !['committee_protocol', 'protocol'].includes(this.$route.query.type)" style="align-self: flex-start">
					<v-btn
						@click="editToggle"
						class="mr-2"
						color="primary"
						icon
						small
						style="color: white"
						>
						<edit-3-icon size="20" />
					</v-btn>
					<div
						class="align-center justify-center"
						style="height: 43px; width: 43px; display: inline-flex"
						v-if="deleteLoading"
						>
						<app-loader :size="30" />
					</div>
					<v-btn v-else small icon color="danger" @click="() => toggleDialog(commentProp)" style="color: white">
						<trash2-icon size="20" />
					</v-btn>
				</div>
			</div>

			<edit-comment v-if="edit" :loading="loading" :saveComment="saveComment" :editToggle="editToggle" :editComment="editComment" />

			<div class="d-flex ml-10 align-center mt-2">
				<div v-if="!composeModel.is_signed || composeModel.type === 'organization_letter'" @click.prevent="replyComment(commentProp)" class="d-flex align-center primary-text pointer small-3 mr-2">
          <v-icon size="16" color="primary">mdi-reply-outline</v-icon>
          <span class="d-inline-block ml-1">{{$t('document-flow.components.answer')}}</span>
        </div>

        <template v-if="commentProp.files && commentProp.files.length">
          <div
              v-for="file in commentProp.files"
              :key="file.id"
              class="d-flex ml-2 align-center"
          >
            <app-tooltip top>
              <template #content>
                <a target="_blank" :href="file.url">
                  <v-icon size="18" color="primary">mdi-file-document</v-icon>
                </a>
              </template>

              <template #text>
                {{ file.name }}
              </template>
            </app-tooltip>

            <!--							<template v-if="commentProp.files">
                  <v-chip color="primary" x-small tag="a" target="_blank" :href="commentProp.files[0].url"
                      class="mt-2">
                    {{ commentProp.files[0].name }}
                  </v-chip>
                </template>-->
          </div>
        </template>
			</div>

			<comment-field v-if="isCommentReplying" class="ml-10 mt-4" @cancelReplying="cancelReplying" @replied="onReplied"/>

			<template v-if="commentProp.replies && commentProp.replies.length">
				<div @click="toggleRepliesOpen" class="d-flex ml-4 small-3 mt-2 pointer">
					<v-icon size="16">mdi-subdirectory-arrow-right</v-icon>
					<template v-if="!isRepliesOpen">
						<span v-if="commentProp.replies.length > 1">{{ commentProp.replies.length }} {{$t('document-flow.components.answers')}}</span>
						<span v-else>{{ commentProp.replies.length }} {{$t('document-flow.components.answer-count')}}</span>
					</template>
					<template v-else>
						<span>{{$t('document-flow.components.answer-count')}}</span>
					</template>
				</div>
			</template>

			<template v-if="commentProp.replies && commentProp.replies.length && isRepliesOpen">
				<comments-box-children
					class="ml-10"
					v-for="item in commentProp.replies"
					:key="item.id"
					:comment-prop="item"
          :file-upload="fileUpload"
          @emit:fileUpload="onReplied"
				/>
			</template>
			<v-dialog max-width="500px" persistent v-model="dialog">
				<v-card class="py-7">
					<v-card-title class="py-0">{{$t('document-flow.views.registration.delete-comment')}}</v-card-title>
					<v-card-text class="pt-4 pb-10" style="font-size: 16px">{{$t('document-flow.views.registration.delete-comment-description')}}</v-card-text>
					<v-card-actions
						class="d-flex py-0 px-6"
						style="justify-content: flex-end"
					>
						<v-btn
							:disabled="deleteLoading"
							@click="dialog = !dialog"
							color="primary"
							depressed
							small
							>
							{{$t('document-flow.views.registration.cancel')}}
						</v-btn>
						<div v-if="deleteLoading" class="d-inline-block ml-2">
							<app-loader :size="36" />
						</div>
						<v-btn @click="deleteComment" color="error" depressed small v-else>{{$t('document-flow.views.registration.delete')}}</v-btn>
					</v-card-actions>
				</v-card>
			</v-dialog>
		</div>

    <file-upload-modal
      :class="fileUpload ? '' : 'd-none'"
      ref="fileUpload"
      @emit:fileUpload="onReplied"
    />

	</div>
</template>

<script>
import AppLoader from "@/common/components/base/AppLoader";
import CommentField from "./CommentField";
import EditComment from "./EditComment";
import { mapActions, mapGetters } from "vuex";
import { Trash2Icon, Edit3Icon } from 'vue-feather-icons';
import isObject from "lodash/isObject";
import FileUploadModal from "./FileUploadModal.vue";
export default {
	name: "CommentsBoxChildren",
	props: {
		commentProp: {
			type: Object,
			default: () => {}
		},
    fileUpload: {
      type: Boolean,
      default: true
    }
	},
	components: {
    FileUploadModal,
		AppLoader,
		CommentField,
		Edit3Icon,
		EditComment,
		Trash2Icon,
	},
	data() {
		return {
			deleteLoading: false,
			edit: false,
			isRepliesOpen: false,
			isReplying: false,
			loading: false,
			editComment: {
				description: '',
			},
			dialog: false,
			comment: {},
		}
	},
	computed: {
		...mapGetters({
			activeComment: "documentFlowModule/getActiveComment",
			currentUser: "auth/getCurrentUser",
			getCommentsList: "action/getCommentsList",
			composeModel: "documentFlowModule/getComposeModel"
		}),
		/**/
		isCommentReplying(){
			return (this.isReplying && this.activeComment === this.commentProp.id)
		}
	},
	methods: {
		...mapActions({
			updateCommentsList: "action/updateCommentsList",
		}),
		replyComment(comment) {
			this.$store.commit("documentFlowModule/SET_ACTIVE_COMMENT", comment.id);
			this.isReplying = true;
		},
		/**/
		cancelReplying(){
			this.isReplying = false;
		},
		/**/
		toggleRepliesOpen(){
			this.isRepliesOpen = !this.isRepliesOpen;
		},
		/**/
		onReplied(){
			this.isRepliesOpen = true;
		},
		filterComments(comments, comment) {
			const filterComments = comments.filter(item => item?.id !== comment).map(item => {
				if(Array.isArray(item.replies)) {
					const replies = this.filterComments(item.replies, comment);
					return {
						...item,
						replies
					}
				} else {
					return item;
				}
			});
			return filterComments;
		},
		updateComment(comments, comment) {
			const updateComment = comments.map(item => {
				if(item?.id === comment?.id) {
					return comment;
				} else {
					return item;
				}
			}).map(item => {
				if(Array.isArray(item.replies)) {
					const replies = this.updateComment(item.replies, comment);
					return {
						...item,
						replies
					}
				} else {
					return item;
				}
			});
			return updateComment;
		},
		deleteComment() {
			this.deleteLoading = true;
			this.$axios.delete(`/action/comments/${this.comment?.id}/`).then(response => {
				if(response?.status === 200) {
					const comments = this.filterComments(this.getCommentsList, this.comment?.id);
					this.updateCommentsList(comments)
					this.toggleDialog();
					this.$toast.success(this.$t('document-flow.views.registration.comment-deleted'));
				} else {
					this.$toast.error(this.$t('document-flow.views.registration.an-error-occurred'));
				}
			}).catch(() => {
				this.$toast.error(this.$t('document-flow.views.registration.an-error-occurred'));
			}).finally(() => {
				this.deleteLoading = false;
			})
		},
		editToggle() {
      if (this.commentProp && this.commentProp.files && this.commentProp.files.length) {
        const { fileUpload } = this.$refs;
        fileUpload.model = this.commentProp;
        fileUpload.dialog = true;
        fileUpload.files = this.commentProp.files;
        fileUpload.caption = this.commentProp.description;
        fileUpload.buttonName = "document-flow.views.boxes.edit";
        fileUpload.formType = "update";
      }else {
        this.edit = !this.edit;
        this.editComment = this.commentProp;
      }
		},
		saveComment() {
			const description = this.editComment?.description;
			if(description) {
				this.loading = true;
				this.$axios.put(`/action/comments/${this.editComment?.id}/`, { description }).then(response => {
					const status = response?.status;
					const comment = response?.data;
					if(status === 200 && isObject(comment)) {
						const comments = this.updateComment(this.getCommentsList, comment);
						this.updateCommentsList(comments);
						this.edit = !this.edit;
					} else {
						this.$toast.error(this.$t('document-flow.views.registration.an-error-occurred'));
					}
				}).catch(() => {
					this.$toast.error(this.$t('document-flow.views.registration.an-error-occurred'));
				}).finally(() => {
					this.loading = false;
				})
			} else {
				this.$toast.error(this.$t('document-flow.views.registration.enter-text'));
			}
		},
		toggleDialog(comment = {}) {
			this.comment = comment;
			this.dialog = !this.dialog;
		},
	}
}
</script>

<style>
.span-description p{
	margin-bottom: 8px!important;
}

</style>
