<template>
	<div class="comments-box-view ml-4">
		<template v-if="getCommentsList && getCommentsList.length">
			<comments-box-children v-for="(comment, index) in getCommentsList" :key="index" :comment-prop="comment" :file-upload="fileUpload"/>
		</template>
		<div class="text-center" v-if="getCommentsList && getCommentsList.length && getCommentsList.length < dataCount">
			<app-button @click="loadMoreComments" :loading="loadActivityLoading" class="mt-4">
				<template #prepend>
					<download-cloud-icon size="16"/>
				</template>
				<template #default>
					{{$t('document-flow.components.load-more')}}
				</template>
			</app-button>
		</div>
		<template v-if="getCommentsList && !getCommentsList.length">
			<h4 class="font-600 text-center">{{$t('document-flow.components.no-comments')}}</h4>
		</template>
	</div>
</template>

<script>
import { DownloadCloudIcon } from "vue-feather-icons";
import { mapActions, mapGetters } from "vuex";
import CommentsBoxChildren from "./CommentsBoxChildren";
export default {
	name: "CommentsBox",
	props: {
		composeModel: {
			type: Object,
			required: true
		},
    fileUpload: {
      type: Boolean,
      default: true
    }
	},
	components: {
		DownloadCloudIcon,
		CommentsBoxChildren
	},
	data() {
		return {
			loadActivityLoading: false,
			commentsList: []
		}
	},
	computed: {
		...mapGetters({
			getCommentsList: "action/getCommentsList",
			dataCount: "action/getDataCount",
		})
	},
	beforeDestroy() {
		this.$store.commit("action/COMMENT_COUNT_TO_ONE")
	},
	mounted() {
		setTimeout(() => {
			this.fetchCommentsList({
				obj: this.$route.query.compose_id ? this.$route.query.compose_id :  this.$route.params.id,
				type: "compose_comment"
			}).then(data => {
				this.commentsList = data.results;
			}, 1000);
		})
	},
	methods: {
		...mapActions({
			fetchCommentsList: "action/fetchCommentsList",
			fetchLoadMoreCommentsList: "action/fetchLoadMoreCommentsList",
		}),
		/**/
		loadMoreComments() {
			this.loadActivityLoading = true;
			this.$store.commit("action/COMMENT_COUNT")
			this.fetchCommentsList({
				obj: this.composeModel.id,
				load_more: true,
				type: "compose_comment"
			}).then(data => {
				this.commentsList.push(...data.results);
				setTimeout(() => {
					this.loadActivityLoading = false
				}, 1000)
			});
		},
	}
}
</script>

<style scoped>

</style>
