<template>
	<div class="comment-field-view">
		<div class="d-flex w-100">
			<v-avatar
				:color="currentUser.color"
				size="32"
				class="mr-2 mt-1"
			>
				<span class="white--text small-3">
					{{ currentUser.last_name | getFirstCharacterWithoutDot }}
				</span>
			</v-avatar>

			<div class="w-100 d-flex flex-column">
				<v-textarea
					v-model="$v.replyText.$model"
					:error="$v.replyText.$error"
					hide-details
					rows="3"
					auto-grow
					row-height="10"
					outlined
					dense
					:placeholder="$t('document-flow.components.enter-comment') + '...'"
					background-color="var(--input-bg)"
					class="comment-text"
				/>

				<div class="d-flex align-center">
          <app-button
              @click="reply"
              min-width="53"
              width="70"
              height="30"
              class="mt-3"
          >
            <span class="small-3">{{ buttonName }}</span>
          </app-button>

          <file-upload-modal
              ref="fileUpload"
              class="mt-2"
              @emit:fileUpload="onFileUpload"
          />
        </div>
			</div>
			<app-button
				v-if="buttonName === 'Ответить'"
				@click="cancelReplying"
				icon
				min-width="40"
				width="40"
				height="40"
			>
				<x-icon size="20"/>
			</app-button>
		</div>
	</div>
</template>

<script>
import {XIcon} from "vue-feather-icons";
import {required} from "vuelidate/lib/validators";
import {mapActions, mapGetters} from "vuex";
import FileUploadModal from "./FileUploadModal.vue";
import isObject from "lodash/isObject";

export default {
	name: "CommentField",
	props: {
		buttonName: {
			type: String,
			default: "Ответить"
		},
		isReplying: {
			type: Boolean,
			default: false
		},
	},
	components: {
		XIcon,
    FileUploadModal
	},
	data() {
		return {
			replyText: "",
			parentId: null
		}
	},
	validations: {
		replyText: { required }
	},
	computed: {
		...mapGetters({
			currentUser: "auth/getCurrentUser",
			activeCommentID: "documentFlowModule/getActiveComment",
		})
	},
	methods: {
		...mapActions({
			fetchCommentsList: "action/fetchCommentsList",
			fetchNewComments: "action/fetchNewComments",
		}),
    /** **/
		/**/
		reply() {
			this.$v.$touch();
			if (this.$v.$invalid){
				return;
			}

			this.fetchNewComments({
				description: this.replyText.trim(),
				file: null,
				obj: this.$route.query.compose_id ? this.$route.query.compose_id : this.$route.params.id,
				type: "compose_comment",
				replied_to: this.activeCommentID && this.buttonName === 'Ответить' ? this.activeCommentID : null
			})
			.then(() => {
				this.replyText = "";
				this.cancelReplying();
				this.$emit("replied")
			})
		},
		/**/
		cancelReplying() {
			this.$emit('cancelReplying')
		},
    /**/
    onFileUpload(payload){
      const { fileUpload } = this.$refs;
      fileUpload.loading = true;

      this.fetchNewComments({
        description: payload.description,
        files: payload.files,
        obj: this.$route.query.compose_id ? this.$route.query.compose_id : this.$route.params.id,
        type: "compose_comment",
        replied_to: this.activeCommentID ? this.activeCommentID : null
      })
          .then(() => {
            this.replyText = "";
            this.cancelReplying();
            this.$emit("replied");
            fileUpload.loading = false;
            fileUpload.dialog = false;
            fileUpload.files = [];
            fileUpload.caption = null;
            this.$store.commit("documentFlowModule/SET_ACTIVE_COMMENT", null);
          })
    },
	}
}
</script>

<style scoped>
.comment-text {
	font-size: 14px !important;
}
</style>
