<script>
import { mapGetters, mapState } from "vuex"
import ActivityTableCols from "../views/BoxesNew/Review/ActivityTableCols";
export default {
	name: "ComposeActivityTable",
	props: {
		composeId: {
			type: [Number, String],
			default: null
		}
	},
	data() {
		return {
			headersList: ActivityTableCols
		}
	},
	computed: {
		...mapGetters({
			currentUser: "auth/getCurrentUser",
		}),
		tableHeight() {
			return document.documentElement.clientHeight - 260
		},
		apiUrl() {
			return `docflow/${this.currentUser.filial}/compose-actions`
		}
	}
}
</script>

<template>
	<ui-data-table
		ref="dataTable"
		:api-url="apiUrl"
		:api-params="{
      compose_id: composeId
    }"
		:height="tableHeight"
		:headers-list="headersList"
		:filter-state="{
			page_size: 15,
			page: 1
    }"
		:filters-visible="false"
		no-border
	>
		<template #created_date="{ value }">
			{{ value | filterCalendarToTime }}
		</template>

		<template #description="{ value }">
			<span v-html="value" class="reset-space"></span>
		</template>

		<template #original_value="{ value }">
			<span v-html="value" class="reset-space"></span>
		</template>

		<template #new_value="{ value }">
			<span v-html="value" class="reset-space"></span>
		</template>
	</ui-data-table>
</template>

<style scoped>

</style>
