<template>
	<div class="comment-field-view">
		<div class="d-flex w-100">
			<div style="height: 32px; width: 32px" class="mr-2 mt-1"></div>
			<div class="w-100 d-flex flex-column">
				<v-textarea
					:placeholder="$t('document-flow.components.enter-comment') + '...'"
					auto-grow
					background-color="var(--input-bg)"
					class="comment-text"
					dense
					hide-details
					outlined
					row-height="10"
					rows="3"
                    v-model="editComment.description"
				/>
				<div>
                    <div v-if="loading" style="display: inline-flex" class="mt-3 align-center justify-center">
                        <app-loader :size="24" />
                    </div>
                    <v-btn
                        v-else
                        @click="saveComment"
                        class="mt-3"
                        color="primary"
                        depressed
                        height="30"
                    >
                        <span class="small-3">{{$t('document-flow.views.registration.edit')}}</span>
                    </v-btn>
                </div>
			</div>
			<div>
                <app-button
                    @click="editToggle"
                    height="40"
                    icon
                    min-width="40"
                    width="40"
                >
                    <x-icon size="20"/>
                </app-button>
            </div>
		</div>
	</div>
</template>
<script>
import { XIcon } from "vue-feather-icons";
import { mapGetters } from "vuex";
import AppLoader from "@/common/components/base/AppLoader";
export default {
	name: "EditComment",
	props: {
		editComment: Object,
		editToggle: Function,
        loading: Boolean,
        saveComment: Function,
	},
	components: {
		XIcon,
        AppLoader,
	},
	computed: {
		...mapGetters({
			activeCommentID: "documentFlowModule/getActiveComment",
			currentUser: "auth/getCurrentUser",
		})
	},
}
</script>
<style scoped>
.comment-text {
	font-size: 14px !important;
}
</style>
