<template>
  <div class="file-upload-modal">
    <label for="fileInput">
      <v-icon class="mx-2 pointer">mdi-paperclip</v-icon>
    </label>
    <input @change="fileUpload" multiple class="d-none" type="file" name="fileInput" id="fileInput"
           accept="image/png, image/jpeg, image/jpg, .doc, .docx, .xls, .pdf, .xlsx, .zip">

    <v-dialog
        v-model="dialog"
        width="360"
        content-class="reset-dialog-style"
        persistent
    >
      <div class="bg-white rounded">
        <div class="d-flex align-center justify-space-between pa-4">
          <h4 class="font-600 mr-4">
            Files
          </h4>

          <app-button
              color="error"
              icon
              min-width="30"
              width="30"
              height="30"
              @click="dialog = false"
          >
            <x-icon size="16" class="d-block"/>
          </app-button>
        </div>


        <div class="px-4 pb-4">
          <template v-for="file in files">
            <div :key="file.id" class="rounded border-all-primary px-2 py-3 mb-2">
              <div class="d-flex align-center justify-space-between">
                <div class="d-flex align-center">
                  <v-icon size="18" color="primary" class="mr-2">mdi-file-document</v-icon>

                  <span class="small-3 d-block text-truncate" style="max-width: 250px">{{ file.name }}</span>
                </div>

                <v-icon @click="deleteFile(file)" size="18" color="danger" class="pointer">mdi-trash-can-outline
                </v-icon>
              </div>
            </div>
          </template>

          <div class="d-flex">
            <v-text-field
                v-model="caption"
                outlined
                hide-details
                dense
                :placeholder="$t('dashboard.components.enter-text')"
            />
          </div>

          <div class="d-flex w-100 justify-center">
            <template v-if="formType === 'create'">
              <app-button
                  min-width="53"
                  width="70"
                  height="30"
                  class="mt-3"
                  :loading="loading"
                  @click="send"
              >
                <span class="small-3">{{ $t(buttonName) }}</span>
              </app-button>
            </template>
            <template v-else>
              <div class="d-flex align-center">
                <app-button
                    min-width="53"
                    width="70"
                    height="30"
                    class="mt-3"
                    :loading="loading"
                    @click="update2"
                >
                  <span class="small-3">{{ $t(buttonName) }}</span>
                </app-button>

                <!--INNER FILE UPLOAD-->
                <div class="mt-3">
                  <label for="fileInputInner">
                    <v-icon class="mx-2 pointer">mdi-paperclip</v-icon>
                  </label>
                  <input @change="fileUploadInner" multiple class="d-none" type="file" name="fileInputInner" id="fileInputInner"
                         accept="image/png, image/jpeg, image/jpg, .doc, .docx, .xls, .pdf, .xlsx, .zip">
                </div>
                <!--/INNER FILE UPLOAD-->
              </div>
            </template>
          </div>
        </div>
      </div>
    </v-dialog>
  </div>
</template>

<script>
import {XIcon} from "vue-feather-icons";
import {mapActions, mapGetters} from "vuex";
import isObject from "lodash/isObject";

export default {
  name: "FileUploadModal",
  components: {
    XIcon
  },
  data() {
    return {
      caption: null,
      dialog: false,
      loading: false,
      files: [],
      buttonName: "document-flow.views.send-document.add",
      formType: "create",
      model: null
    }
  },
  computed: {
    ...mapGetters({
      getCommentsList: "action/getCommentsList",
    })
  },
  methods: {
    ...mapActions({
      updateCommentsList: "action/updateCommentsList",
    }),
    async fileUpload() {
      this.loading = true;
      this.dialog = true;
      const files = document.getElementById("fileInput").files;
      let formData = new FormData();

      for (let i = 0; i < files.length; i++) {
        formData.append('file', files[i]);

        let {data} = await this.$axios.post(`/upload/`, formData);
        this.files.push(data);
      }
      this.loading = false;
    },
    /** **/
    deleteFile(file) {
      let index = this.files.findIndex(item => item.id === file.id);
      this.files.splice(index, 1);

      if (this.files.length < 1) {
        this.dialog = false;
      }
    },
    /** **/
    send(){
      if (this.files.length){
        let filesArr = [];
        this.files.forEach(file => {
          filesArr.push({
            id: file.id
          })
        })
        this.$emit("emit:fileUpload", {
          files: filesArr,
          description: this.caption,
          formType: this.formType,
          comment: this.model ? this.model : null
        })
        console.log("111111111111111111111111111")
      }
    },
    /**/
    update() {
      if (this.files.length){
        let filesArr = [];
        this.files.forEach(file => {
          filesArr.push({
            id: file.id
          })
        })
        this.$emit("emit:fileUploadChange", {
          files: filesArr,
          description: this.caption,
          formType: this.formType,
          comment: this.model ? this.model : null
        })
      }
    },
    /** **/
    update2() {
      let filesArr = [];
      this.files.forEach(file => {
        filesArr.push({
          id: file.id
        })
      })
      if (this.model && this.model.id){
        this.$axios.put(`/action/comments/${this.model.id}/`, {
          description: this.caption,
          files: filesArr
        })
        .then(response => {
          if (response.status === 200 && isObject(response.data)){
            const comments = this.updateComment(this.getCommentsList, response.data);
            this.updateCommentsList(comments);
          }
        })
            .finally(() => {
              this.dialog = false;
              this.caption = null;
              this.model = null;
              this.files = [];
              this.loading = false;
            })
      }
    },
    /** **/
    updateComment(comments, comment) {
      return comments.map(item => {
        if (item?.id === comment?.id) {
          return comment;
        } else {
          return item;
        }
      }).map(item => {
        if (Array.isArray(item.replies)) {
          const replies = this.updateComment(item.replies, comment);
          return {
            ...item,
            replies
          }
        } else {
          return item;
        }
      });
    },
    /** **/
    async fileUploadInner(){
      this.loading = true;
      const files = document.getElementById("fileInputInner").files;
      let formData = new FormData();

      for (let i = 0; i < files.length; i++) {
        formData.append('file', files[i]);

        let {data} = await this.$axios.post(`/upload/`, formData);
        this.files.push(data);
      }
      this.loading = false;
    }
  }
}
</script>


<style scoped>

</style>
