<template>
	<div class="resolution-block-view">
		<div class="d-flex p-sticky bg-4 py-3 border-bottom mb-3" style="top: -20px; z-index: 1">
      <app-button color="error" @click="$router.go(-1)" class="mr-2">
        <template #prepend>
          <arrow-left-icon size="18" />
        </template>
        <template>
          {{$t('document-flow.components.back')}}
        </template>
      </app-button>

			<template v-if="formType === 'create'">
				<app-button @click="createResolution" :loading="loading" class="mr-2">
					<template>
						{{$t('document-flow.components.create-chip')}}
					</template>
				</app-button>
			</template>

			<template v-if="formType === 'update'">
				<app-button @click="updateResolution" :loading="loading" class="mr-2">
					<template>
						{{$t('document-flow.components.change-chip')}}
					</template>
				</app-button>
			</template>

<!--      <app-button @click="addBlock" class="ml-auto">-->
<!--        <template #prepend>-->
<!--          <plus-circle-icon size="20" />-->
<!--        </template>-->
<!--        <template>-->
<!--          {{$t('document-flow.components.add-new-block')}}-->
<!--        </template>-->
<!--      </app-button>-->
		</div>

    <v-alert
      outlined
      type="warning"
      prominent
      border="left"
      color="primary"

      dismissible
    >
      <span class="text-black ml-2 d-block">
        {{$t('document-flow.components.task-not-reached')}}
      </span>

      <span class="text-black ml-2 d-block">
        {{$t('document-flow.components.task-not-reached')}}
      </span>
    </v-alert>

		<div class="mt-10">
			<template>
				<div v-for="(block, index) in $v.blockList.$each.$iter" :key="index" class="mb-5">
					<span class="d-block font-600 small-2 mb-1">{{$t('document-flow.components.block')}} #{{ block.$model.counter }}</span>

					<div class="border-all pa-4 rounded">
						<v-row  align-content="center">
							<v-col md="4">
								<div class="app-input">
									<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.components.order-type')}}</span>

									<v-select
										@change="handleAssignmentType(block)"
										v-model="block.type.$model"
										:error="block.type.$error"
										:items="assignmentList"
										item-text="title"
										item-value="value"
										outlined
										dense
										hide-details
                    background-color="var(--input-bg)"
									>
										<template #append>
											<v-icon>mdi-chevron-down</v-icon>
										</template>
									</v-select>
								</div>
							</v-col>

							<template v-if="block.type.$model === 'control_point'">
                <template v-if="currentUser.role === 'chairman' || currentUser.role === 'deputy_chair' || currentUser.role === 'assistant'">
                  <v-col md="5">
                    <div class="app-input">
                      <span class="d-block font-600 small-2 mb-2">{{$t('document-flow.components.responsible-executor')}}</span>

                      <div>
                        <v-chip color="primary">
                          Сарвар Юсупов
                        </v-chip>
                      </div>
                    </div>
                  </v-col>
                </template>

                <template v-else>
                  <v-col md="5">
                    <div class="app-input">
                      <span class="d-block font-600 small-2 mb-2">{{$t('document-flow.components.responsible-executor')}}</span>

                      <app-autocomplete
                        v-model="block.__controller.$model"
                        :error="block.__controller.$error"
                        :item-disabled="getDisableItems"
                        :api-list-url="categoryUserList"
                        item-text="full_name"
                        return-object
                        cache-items
                        dense
                        background-color="var(--input-bg)"
                        @change="(value) => handleControlPointUser(value, block)"
                        @input="(value) => handleControllerSelected(value, block)"
                      />

                      <template v-if="formType === 'update'">
                        <v-chip v-if="block.__controller.$model" color="primary" class="mt-3">
                          <span class="mr-2 small-3">{{ block.__controller.$model.full_name }}</span>

                          <v-btn
                            color="white"
                            icon
                            small
                            @click="block.__controller.$model = null"
                          >
                            <trash2-icon size="16" />
                          </v-btn>
                        </v-chip>
                      </template>
                    </div>
                  </v-col>
                </template>
							</template>

							<template v-else>
								<v-spacer />
							</template>

<!--							<v-col md="3" align-self="end">-->
<!--								<app-button @click="deleteBlock(block.$model.counter)" color="error" block>-->
<!--									<template #prepend>-->
<!--										<trash2-icon size="16" />-->
<!--									</template>-->
<!--									<template>-->
<!--										{{$t('document-flow.components.delete-block')}}-->
<!--									</template>-->
<!--								</app-button>-->
<!--							</v-col>-->
						</v-row>

						<v-row>
							<v-col md="4">
								<div class="app-input">
									<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.components.period-execution')}}</span>

									<app-date-picker
										v-model="block.__deadline.$model"
										:error="block.__deadline.$error"
										with-input
										dense
                    background-color="var(--input-bg)"
									/>
								</div>
							</v-col>

							<v-col md="5">
								<div class="app-input">
									<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.components.search-employees')}}</span>

                  <app-autocomplete
                    v-model="block.__userSearch.$model"
                    :error="block.__userSearch.$error"
                    :item-disabled="getDisableItems"
                    :api-list-url="categoryUserList"
                    item-text="full_name"
                    return-object
                    cache-items
                    dense
                    multiple
                    background-color="var(--input-bg)"
                    group-staff-visible
                  />
								</div>
							</v-col>

							<v-col md="3" align-self="end">
								<app-button @click="addUser(block, index)" block>
									<template #prepend>
										<plus-circle-icon size="16" />
									</template>
									<template>
										{{$t('document-flow.components.add')}}
									</template>
								</app-button>
							</v-col>

              <v-col v-if="isControllerOnReviewList" md="12">
                <v-alert type="error" dark text class="mb-0">
                  <span class="small-2 font-500">
                    {{$t('document-flow.components.performer-removed-from-list')}}
                  </span>
                </v-alert>
              </v-col>
						</v-row>

						<template v-if="block.$model.assignment.length">
              <v-radio-group
                v-model="responsibleSelected"
                mandatory
              >
                <app-table
                  :table-width="500"
                >
                  <template #tableHeader class="mt-4">
                    <th width="100">{{$t('document-flow.components.responsible-executor')}}</th>
                    <th width="150">{{$t('document-flow.components.add')}}</th>
                    <th width="250">{{$t('document-flow.components.appointed')}}</th>
                    <th width="100">{{$t('document-flow.components.action')}}</th>
                  </template>

                  <template #tableBody>
                    <tr
                      v-for="(assignment, index) in block.$model.assignment"
                      :key="assignment.id"
                      :class="assignment.__isControlPoint ? 'no-deadline-control-point' : ''"
                    >
                      <td>
                        <v-radio :value="index"></v-radio>
                      </td>
                      <td>
                        <div class="d-flex align-center">
                          <span class="mr-2">{{ assignment.deadline }}</span>
                        </div>
                      </td>
                      <td>{{ assignment.full_name }}</td>
                      <td>
                        <div class="d-flex align-center" style="width: 90px">
                          <app-button
                            @click="deleteUser(block.$model.assignment, index, assignment)"
                            min-width="43"
                            width="43px"
                            color="var(--primary-4)"
                            icon
                          >
                            <template #prepend>
                              <trash2-icon size="18" />
                            </template>
                          </app-button>

                          <app-button
                            @click="currentEditUserSelected = assignment; userEditDialog = true"
                            min-width="43"
                            width="43px"
                            color="var(--primary-3)"
                            icon
                          >
                            <template #prepend>
                              <edit3-icon size="18" />
                            </template>
                          </app-button>
                        </div>
                      </td>
                    </tr>
                  </template>
                </app-table>
              </v-radio-group>
						</template>

						<div class="app-input mt-5">
              <span class="d-block font-600 small-2 mb-2">{{$t('document-flow.components.content')}}</span>

              <quill-editor
                ref="editor"
                v-model="block.content.$model"
                :error="block.content.$model"
                class="mb-4"
              />

              <resolution-content-modal @emit:up="(text) => block.content.$model = text.name" />
            </div>
					</div>
				</div>
			</template>

			<v-row class="align-center justify-space-between my-5">
				<v-col md="4">
					<div class="d-flex align-center">
						<strong class="small-2">{{$t('document-flow.components.registration-number')}}:</strong>
						<span class="ml-2 small-2">{{ reviewGetOne.register_number }}</span>
					</div>

					<div class="d-flex align-center">
						<strong class="small-2">{{$t('document-flow.components.registration-date')}}:</strong>
						<span class="ml-2 small-2">{{ reviewGetOne.register_date | filterCalendarToTime }}</span>
					</div>
				</v-col>

				<template v-if="reviewGetOne.__currentReviewUser">
					<v-col md="6">
						<div class="app-input">
							<v-text-field
								:value="reviewGetOne.__currentReviewUser.user && reviewGetOne.__currentReviewUser.user.full_name"
								outlined
								dense
								hide-details
                background-color="var(--input-bg)"
							/>
						</div>
					</v-col>
				</template>
			</v-row>
		</div>

    <!-- Edit user dialog -->
    <v-dialog
      v-model="userEditDialog"
      width="350"
      content-class="reset-dialog-style"
      @click:outside="currentEditUserSelected.deadline ? currentEditUserSelected.__isControlPoint = false : false"
    >
      <v-card>
        <div class="d-flex align-center py-2 px-3">
          <span class="d-block font-500">{{$t('document-flow.components.change-date')}}</span>

          <v-spacer />

          <v-btn
            icon
            color="error"
            small
            @click="currentEditUserSelected = {}; userEditDialog = false; currentEditUserSelected.__isControlPoint = false"
          >
            <x-icon size="18" />
          </v-btn>
        </div>

        <div class="pa-3 border-top border-bottom">
          <app-date-picker
            v-model="currentEditUserSelected.deadline"
            with-input
            dense
            clearable
            background-color="var(--input-bg)"
          />
        </div>

        <div class="px-3 py-2 text-center">
          <app-button
            small
            @click="userEditDialog = false; currentEditUserSelected.__isControlPoint = false"
          >
            <template #append>
              <save-icon size="18" />
            </template>
            {{$t('document-flow.components.save')}}
          </app-button>
        </div>
      </v-card>
    </v-dialog>
    <!-- /Edit user dialog -->
	</div>
</template>

<script>
import ResolutionContentModal from "@/common/components/ResolutionContentModal"
import SearchUsersBelow from "@/common/components/SearchUsersBelow"

import { TABLE_HEAD_TEXT_LIST } from "@/common/constants"
import { selectFromList } from "@/common/helpers"
import { ArrowLeftIcon, Edit3Icon, PlusCircleIcon, SaveIcon, Trash2Icon, XIcon } from "vue-feather-icons"
import { required, requiredIf } from "vuelidate/lib/validators"
import { mapActions, mapGetters } from "vuex"

export default {
	name: "ProjectResolutionBlock",
	props: {
		formType: {
			type: String,
			default: ""
		},
		blockList: {
			type: Array,
			default: () => []
		},
    parentId: {
		  type: [Number, String],
      default: null
    },
    reviewId: {
      type: [Number, String],
      default: null
    },
	},
	components: {
    ResolutionContentModal,
		PlusCircleIcon,
		Trash2Icon,
		XIcon,
		SearchUsersBelow,
    ArrowLeftIcon,
    Edit3Icon,
    SaveIcon
	},
	data() {
		return {
		  responsibleSelected: null,
      currentEditUserSelected: {},
      userEditDialog: false,
      items: [
        { text: 'Real-Time', icon: 'mdi-clock' },
        { text: 'Audience', icon: 'mdi-account' },
        { text: 'Conversions', icon: 'mdi-flag' },
      ],
			assignmentList: [
				{
					title: this.$t('document-flow.components.assignment'),
					value: "assignment"
				},
				{
					title: this.$t('document-flow.components.control-point'),
					value: "control_point"
				},
			],
      loading: false,
      isControllerOnReviewList: false
		}
	},
  watch: {
    '$i18n.locale': {
      handler() {
        this.assignmentList = [
          {
            title: this.$t('document-flow.components.assignment'),
            value: "assignment"
          },
          {
            title: this.$t('document-flow.components.control-point'),
            value: "control_point"
          },
        ]
      }
    }
  },
	validations() {
	  return {
      blockList: {
        required,
        $each: {
          type: {
            required
          },
          content: {
            required
          },
          __deadline: {
            required: requiredIf(function(value) {
              return value.type === 'control_point'
            }),
          },
          __userSearch: {
            required
          },
          __controller: {
            required: requiredIf((value) => {
              return value.type === 'control_point'
            }),
          },
        }
      }
    }
	},
  computed: {
		...mapGetters({
      getDisableItems: "getDisableItems",
      currentUser: "auth/getCurrentUser",
			getUsersBelowList: "documentFlowModule/getUsersBelowList",
			reviewGetOne: "documentFlowModule/getReviewGetOne"
		}),
		/*
		*
		* */
		filesTableHeaders() {
			return selectFromList([34, 25, 26, 19], TABLE_HEAD_TEXT_LIST)
		},
    /*
    *
    * */
    categoryUserList() {
      return `/${this.$store.getters['auth/getCurrentUser'].filial}/user/lists/by_category/`
    }
	},
	created() {
		this.fetchUsersBelow({ search: null })
	},
	methods: {
		...mapActions({
			fetchUsersBelow: "documentFlowModule/fetchUsersBelow",
			fetchAssignUsersToResolution: "documentFlowModule/fetchAssignUsersToResolution",
			fetchAssignmentUpdate: "documentFlowModule/fetchAssignmentUpdate",
      fetchIncomingDocumentById: "documentFlowModule/fetchIncomingDocumentById",
      fetchInboxListAll: "documentFlowModule/fetchInboxListAll",
		}),
		/*
		*
		* */
		createResolution() {
			const { $iter } = this.$v.blockList.$each

      if(this.blockList[0].type === 'control_point') {
        this.blockList[0].assignment.forEach(assignment => {
          // Если не установлен дедлайн
          if(!assignment.deadline) {
            assignment.__isControlPoint = true
          }
        })

        if(!this.blockList[0].assignment.every(item => item.deadline)) {
          this.$toast.error(this.$t('document-flow.components.set-dates-for-employees'))
          return;
        }
      }

			for (let key in $iter) {
				$iter[key].type.$touch()
				$iter[key].content.$touch()

        if(this.currentUser.role !== 'chairman' && this.currentUser.role !== 'deputy_chair' && this.currentUser.role !== 'assistant') {
          $iter[key].__controller.$touch()

          if($iter[key].__controller.$invalid) {
            return;
          }
        }

				if(!$iter[key].$model.assignment.length) {
					this.$toast.error(this.$t('document-flow.components.one-employee-must'))
				}

				if ($iter[key].type.$invalid || $iter[key].content.$invalid || !$iter[key].$model.assignment.length) {
					return;
				}
			}

      // this.loading = !this.loading

			this.blockList[0].review = this.reviewId
			this.blockList[0].parent = this.parentId
			this.blockList[0].controller = this.blockList[0].type === 'control_point' ? this.blockList[0].__controller.id : null

      this.blockList[0].assignment.forEach(item => {
        item.is_responsible = false
      })

      this.blockList[0].assignment[this.responsibleSelected].is_responsible = true

      this.blockList[0].deadline = this.blockList[0].assignment[0].deadline

      this.fetchAssignUsersToResolution({
				model: this.blockList,
				treeId: this.$route.params.id
			}).then(() => {
				this.$toast.success(this.$t('document-flow.components.chip-created'))
				this.$router.push({ name: "ReviewFormShow" })

        this.loading = false

        this.fetchInboxListAll({
          review: this.reviewGetOne.review_id,
          is_project_resolution: "True",
          ordering: 'id'
        })

        .then(() => {
          this.fetchIncomingDocumentById(this.$route.params.id)
        })
			})
		},
		/*
		*
		* */
		updateResolution() {
      const { $iter } = this.$v.blockList.$each

      for (let key in $iter) {
        if(this.currentUser.role !== 'chairman' && this.currentUser.role !== 'deputy_chair' && this.currentUser.role !== 'assistant') {
          $iter[key].__controller.$touch()

          if($iter[key].__controller.$invalid) {
            return;
          }
        }
      }

      if(this.blockList[0].type === 'control_point') {
        this.blockList[0].assignment.forEach(assignment => {
          // Если не установлен дедлайн
          if(!assignment.deadline) {
            assignment.__isControlPoint = true
          }
        })

        if(!this.blockList[0].assignment.every(item => item.deadline)) {
          this.$toast.error(this.$t('document-flow.components.set-dates-for-employees'))
          return;
        }
      }

      if(!confirm(this.$t('document-flow.components.do-you-want-change-document'))) {
        return;
      }

      this.loading = !this.loading

      this.updateResolutionHandle()
      .then(() => {
        this.$toast.success(this.$t('document-flow.components.chip-changed'))
        this.$router.push({ name: "ReviewFormShow" })

        this.loading = false

        this.fetchInboxListAll({
          review: this.reviewGetOne.review_id,
          is_project_resolution: "True",
          ordering: 'id'
        })
      })
		},
    /*
    *
    * */
    updateResolutionHandle() {
      return new Promise((resolve, reject) => {
        let model = this.blockList.map(item => {
          return {
            ...item,
            controller: item.type === 'control_point' ? item.__controller.id : null,
            review: this.reviewId,
            parent: this.parentId
          }
        })

        model[0].assignment.forEach(item => {
          item.is_responsible = false
        })

        model[0].assignment[this.responsibleSelected].is_responsible = true

        model[0].deadline = this.blockList[0].assignment[0].deadline

        this.fetchAssignmentUpdate({
          id: this.$route.params.id,
          model: model
        }).then(() => {
          resolve()
        }).catch( () => {
          reject()
        })
      })
    },
		/*
		*
		* */
		addUser(item) {
      item.__userSearch.$touch();
			item.__deadline.$touch();

			if (item.__userSearch.$invalid || item.__deadline.$invalid) {
				this.$toast.error(this.$t('document-flow.components.one-employee-must'))
				return;
			}

      if(item.__controller.$model) {
        item.$model.__userSearch.forEach((user, index) => {
          if(item.__controller.$model.id === user.id) {
            this.isControllerOnReviewList = true

            item.$model.__userSearch.splice(index, 1)
          }
        })
      }

			// Удаляем дублирующие элементы
      item.$model.assignment.forEach(assignment => {
        let index = item.$model.__userSearch.findIndex(user => user.id === assignment.user)

        if(index >= 0) {
          item.$model.__userSearch.splice(index, 1)
        }
      })

      item.$model.__userSearch.forEach(user => {
        item.$model.assignment.push({
          deadline: item.$model.__deadline,
          user: user.id,
          full_name: user.full_name,
          is_responsible: false,
          __isControlPoint: false
        })
      })

			// Сбрасываем поля
			item.$model.__deadline = null
			item.$model.__userSearch = null
			this.$v.$reset();
		},
		/*
		*
		* */
		deleteUser(assignmentList, index, assignment) {
			if(!confirm(this.$t('document-flow.components.do-you-want-delete-employee'))) {
				return;
			}

      assignmentList.splice(index, 1)

      if(this.formType === 'update') {
        if(assignment.hasOwnProperty("id")) {
          this.$emit("emit:deleteUser", assignment)
        }
      }
		},
		/*
		*
		* */
		deleteBlock(index) {
			if(!confirm(this.$t('document-flow.components.do-you-want-delete-block'))) {
				return;
			}

			this.blockList.splice(index - 1, 1)
		},
		/*
		*
		* */
		addBlock() {
			this.$emit("emit:addBlock")
		},
		/*
		*
		* */
		handleAssignmentType(block) {
      this.$v.$reset();

      if(block.$model.type === 'control_point') {
        if(this.currentUser.role === 'chairman' || this.currentUser.role === 'deputy_chair' || this.currentUser.role === 'assistant') {
          block.$model.__controller = {
            id: 5629
          }
        }
      }

      // block.$model.type === 'control_point' ? block.$model.controller = 5629 : block.$model.controller = null

      // if(block.$model.type === 'control_point') {
			// 	block.$model.__controller = null
			// }
		},
		/*
		*
		* */
		handleControlPointUser(value, block) {
      block.$model.__controller = value
    },
    /*
    *
    * */
    handleControllerSelected(value, block) {
      if(block.$model.assignment.length && block.$model.__controller) {
        this.isControllerOnReviewList = true
        let deleteUserSelect = block.$model.assignment.find(assignment => assignment.user === block.$model.__controller.id)

        if(deleteUserSelect && deleteUserSelect.hasOwnProperty("id")) {
          block.$model.controller = block.$model.__controller.id
          this.$emit("emit:deleteUser", deleteUserSelect)

          this.updateResolutionHandle()
        }

        block.$model.assignment = block.$model.assignment.filter(assignment => assignment.user !== block.$model.__controller.id)
      }
    }
	}
}
</script>
