<template>
	<div class="d-flex flex-1 grid-gap-md overflow-y-auto">
    <app-wrapper class="aside-tree overflow-y-auto">
      <template #body>
        <tree-users
	        v-if="hasTreeUsers"
          :tree-id="treeId"
          :view-type="viewType"
        />
      </template>
    </app-wrapper>

		<app-wrapper class="flex-1">
			<template #body>
				<router-view
					:key="$route.fullPath"
					:form-type="formType"
					:form-title="formTitle"
					:has-assign="hasAssign"
				/>
			</template>
		</app-wrapper>
	</div>
</template>

<script>
import TreeUsers from "@/common/components/TreeUsers";
import { mapGetters } from "vuex";

export default {
	name: "RegistrationFormWrapper",
	props: {
		formType: {
			type: String,
			default: ""
		},
		formTitle: {
			type: String,
			default: "Регистрация документа"
		},
		hasAssign: {
			type: Boolean,
			default: false
		},
		treeId: {
			type: [String, Number],
			default: ""
		},
		viewerList: {
			type: Array,
			default: () => []
		},
    viewType: {
		  type: String,
      default: "inbox"
    },
		hasTreeUsers: {
			type: Boolean,
			default: true
		}
	},
	components: {
		TreeUsers
	},
	computed: {
		...mapGetters({
			isReviewListLoading: "getReviewListLoading",
			isLoading: "getDetailLoading"
		})
	}
}
</script>
