<template>
	<div class="d-flex flex-column align-start flex-1 pa-4">
		<div class="d-flex align-center w-100 mb-12">
			<span class="heading-9 font-600 text-dark mr-3 d-block">{{ formTitle }}</span>
			<v-divider />
		</div>

		<div class="w-100 mb-auto">
			<v-row>
				<v-col :md="$route.params.id ? 6 : 3">
					<div class="app-input">
						<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.components.type-registration-document')}}</span>

						<v-autocomplete
							v-model="$v.formModel.journal.$model"
							:error="$v.formModel.journal.$error"
							:items="journalList"
							:search-input.sync="registrationDocumentSearch"
							item-text="name"
							item-value="id"
							outlined
							hide-details
							return-object
							:readonly="formType !== 'create'"
						>
							<template #append>
								<v-icon>mdi-chevron-down</v-icon>
							</template>
						</v-autocomplete>
					</div>
				</v-col>

				<v-col :md="$route.params.id ? 6 : 3">
					<div class="app-input">
						<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.components.registration-number')}}</span>

						<v-text-field
							v-model="formModel.register_number"
							hide-details
							outlined
							:readonly="formType !== 'create'"
							@keypress="$store.dispatch('documentFlowModule/checkKeyDownAlphaNumeric', $event)"
							@paste="$store.dispatch('documentFlowModule/checkCopiedText', $event)"
						></v-text-field>
					</div>
				</v-col>

				<v-col :md="$route.params.id ? 6 : 3">
					<div class="app-input">
						<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.components.outgoing-number')}}</span>

						<v-text-field
							v-model="$v.formModel.outgoing_number.$model"
							:error="$v.formModel.outgoing_number.$error"
							hide-details
							outlined
							:readonly="formType !== 'create'"
						></v-text-field>
					</div>
				</v-col>

				<v-col :md="$route.params.id ? 6 : 3">
					<div class="app-input">
						<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.components.registration-date')}}</span>

						<app-date-picker
							v-model="$v.formModel.register_date.$model"
							:error="$v.formModel.register_date.$error"
							with-input
							:disabledMenu="formType !== 'create'"
						/>
					</div>
				</v-col>

				<v-col :md="$route.params.id ? 6 : 3">
					<div class="app-input">
						<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.components.outgoing-date')}}</span>

						<app-date-picker
							v-model="$v.formModel.outgoing_date.$model"
							:error="$v.formModel.outgoing_date.$error"
							with-input
							:disabledMenu="formType !== 'create'"
						/>
					</div>
				</v-col>

				<v-col :md="$route.params.id ? 6 : 3">
					<div class="app-input">
						<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.components.correspondent')}}</span>

						<v-autocomplete
							v-model="$v.formModel.correspondent.$model"
							:error="$v.formModel.correspondent.$error"
							:items="correspondentList"
							:search-input.sync="correspondentSearch"
							item-text="name"
							item-value="id"
							outlined
							hide-details
							return-object
							:readonly="formType !== 'create'"
							:clearable="formType === 'create'"
						>
							<template #append>
								<v-icon>mdi-chevron-down</v-icon>
							</template>
						</v-autocomplete>
					</div>
				</v-col>

				<v-col :md="$route.params.id ? 6 : 3">
					<div class="app-input">
						<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.components.type-document')}}</span>

						<v-autocomplete
							v-model="$v.formModel.doc_type.$model"
							:error="$v.formModel.doc_type.$error"
							:items="docTypeList"
							:search-input.sync="documentTypeSearch"
							item-text="name"
							item-value="id"
							outlined
							hide-details
							return-object
							:readonly="hasAssign"
							:clearable="!hasAssign"
						>
							<template #append>
								<v-icon>mdi-chevron-down</v-icon>
							</template>
						</v-autocomplete>
					</div>
				</v-col>

				<v-col :md="$route.params.id ? 6 : 3">
					<div class="app-input">
						<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.components.document-priority')}}</span>

						<v-select
							v-model="$v.formModel.priority.$model"
							:error="$v.formModel.priority.$error"
							:items="$store.state.priorityList"
							item-text="title"
							item-value="value"
							outlined
							hide-details
							:readonly="hasAssign"
							:clearable="!hasAssign"
							background-color="var(--input-bg)"
						>
							<template #append>
								<v-icon>mdi-chevron-down</v-icon>
							</template>
						</v-select>
					</div>
				</v-col>

				<v-col :md="$route.params.id ? 12 : 3">
					<div class="app-input">
						<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.components.attach-file')}}</span>

						<v-file-input
							@change="uploadFiles"
							multiple
							prepend-inner-icon="mdi-paperclip"
							prepend-icon=""
							outlined
							hide-details
							:disabled="hasAssign"
						></v-file-input>
					</div>
				</v-col>

				<template v-if="$route.params.id">
					<v-col md="12">
						<app-table
							:table-width="500"
							:table-head-items="filesTableHeaders"
						>
							<template #tableBody>
								<tr v-for="(document, index) in attachDocumentsList" :key="document.id">
									<td>{{ index }}</td>
									<td>{{ document.document.name }}</td>
									<td>{{ document.document.created_date | filterCalendarToTime }}</td>
									<td>
										<div class="d-flex align-center" style="width: 90px">
											<app-button
												@click="openAttachFile(document.document)"
												min-width="43"
												width="43px"
												color="var(--primary-1)"
												icon
											>
												<template #prepend>
													<eye-icon size="18" />
												</template>
											</app-button>

											<app-button
												min-width="43"
												width="43px"
												color="var(--primary-3)"
												icon
												target="_blank"
												link
												:href="document.document.url"
											>
												<template #prepend>
													<download-icon size="18" />
												</template>
											</app-button>

											<template v-if="!hasAssign">
												<app-button
													@click="deleteFile(document.id)"
													min-width="43"
													width="43px"
													color="var(--primary-4)"
													icon
												>
													<template #prepend>
														<trash2-icon size="18" />
													</template>
												</app-button>
											</template>
										</div>
									</td>
								</tr>
							</template>
						</app-table>
					</v-col>
				</template>

				<template v-if="formType === 'create'">
					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.components.for-consideration')}}</span>

							<v-autocomplete
								v-model="$v.formModel.__userSelected.$model"
								:error="$v.formModel.__userSelected.$error"
								:items="usersList"
								:search-input.sync="userSearch"
								item-text="full_name"
								outlined
								hide-details
								return-object
								multiple
							>
								<template #append>
									<v-icon>mdi-chevron-down</v-icon>
								</template>

								<template v-slot:item="data">
									<v-list-item-avatar :color="data.item.color">
										<template v-if="data.item.avatar">
											<img :src="data.item.avatar" alt="Avatar image" />
										</template>

										<template v-else>
											<span class="text-white">{{ data.item.full_name | getFirstCharacterWithoutDot }}</span>
										</template>
									</v-list-item-avatar>
									<v-list-item-content>
										<v-list-item-title v-html="data.item.full_name"></v-list-item-title>
										<v-list-item-subtitle v-html="data.item.position"></v-list-item-subtitle>
									</v-list-item-content>
								</template>
							</v-autocomplete>
						</div>
					</v-col>
				</template>

				<template v-if="formType !== 'create'">
					<v-col md="12">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.components.users-list')}}</span>

							<v-autocomplete
								@change="setEmployee"
								v-model="reviewUserSelected"
								:items="usersList"
								:search-input.sync="userSearch"
								item-text="full_name"
								outlined
								hide-details
								return-object
								clearable
								clear-icon="mdi-close"
								:readonly="hasAssign"
							>
								<template #append>
									<v-icon>mdi-chevron-down</v-icon>
								</template>

								<template v-slot:item="data">
									<v-list-item-avatar :color="data.item.color">
										<template v-if="data.item.avatar">
											<img :src="data.item.avatar" alt="Avatar image" />
										</template>

										<template v-else>
											<span class="text-white">{{ data.item.full_name | getFirstCharacterWithoutDot }}</span>
										</template>
									</v-list-item-avatar>
									<v-list-item-content>
										<v-list-item-title v-html="data.item.full_name"></v-list-item-title>
										<v-list-item-subtitle v-html="data.item.position"></v-list-item-subtitle>
									</v-list-item-content>
								</template>
							</v-autocomplete>
						</div>
					</v-col>
				</template>

				<template v-if="$route.params.id">
					<v-col md="12">
						<app-table
							:table-width="500"
							:table-head-items="employeeTableHeaders"
						>
							<template #tableBody>
								<tr v-for="(user, index) in reviewUsersList" :key="user.id">
									<td>{{ index + 1 }}</td>
									<td>{{ user.user.full_name }}</td>
									<td>{{ user.created_date | filterCalendarToTime }}</td>
									<td>
										<template v-if="!hasAssign">
											<div class="d-flex align-center" style="width: 90px">
												<app-button
													@click="deleteEmployee(user)"
													min-width="43"
													width="43px"
													color="var(--primary-4)"
													icon
												>
													<template #prepend>
														<trash2-icon size="18" />
													</template>
												</app-button>
											</div>
										</template>
									</td>
								</tr>
							</template>
						</app-table>
					</v-col>
				</template>

				<v-col md="12">
					<div class="app-input">
						<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.components.content')}}</span>

						<v-textarea
							v-model="$v.formModel.description.$model"
							:error="$v.formModel.description.$error"
							outlined
							hide-details
							no-resize
							auto-grow
						></v-textarea>
					</div>
				</v-col>
			</v-row>
		</div>

		<app-button @click="send" depressed class="mt-10">
			<template #default>
				{{$t('document-flow.components.create-document')}}
			</template>
			<template #append>
				<v-icon size="20">mdi-send</v-icon>
			</template>
		</app-button>
	</div>
</template>

<script>
import { REFERENCE_CORRESPONDENT, REFERENCE_DOC_TYPE, TABLE_HEAD_TEXT_LIST } from "@/common/constants";
import { selectFromList } from "@/common/helpers";
import { debounce } from "@/common/mixins";

import { DownloadIcon, EyeIcon, Trash2Icon } from "vue-feather-icons";
import { required } from "vuelidate/lib/validators";
import { mapActions, mapGetters } from "vuex";

export default {
	name: "RegistrationForm",
	mixins: [debounce],
	props: {
		formType: {
			type: String,
			default: ""
		},
		formTitle: {
			type: String,
			default: "Регистрация документа"
		},
		hasAssign: {
			type: Boolean,
			default: false
		}
	},
	components: {
		Trash2Icon,
		DownloadIcon,
		EyeIcon
	},
	data() {
		return {
			reviewUserSelected: "",
			REFERENCE_DOC_TYPE,
			REFERENCE_CORRESPONDENT,
			formModel: {
				register_date: "",
				register_number: null,
				outgoing_date: "",
				outgoing_number: "",
				correspondent: null,
				doc_type: null,
				description: "",
				journal: null,
				documents: [],
				priority: "",
				review_users: [],
				is_created: true,
				__userSelected: []
			},
			registrationDocumentSearch: null,
			correspondentSearch: null,
			documentTypeSearch: null,
			userSearch: null
		}
	},
	validations: {
		formModel: {
			register_date: { required },
			outgoing_date: { required },
			outgoing_number: { required },
			correspondent: { required },
			doc_type: { required },
			description: { required },
			journal: { required },
			priority: { required },
			__userSelected: { required },
		}
	},
	computed: {
		...mapGetters({
			usersList: "getUsersList",
			correspondentList: "documentFlowModule/getCorrespondent",
			reviewGetOne: "documentFlowModule/getReviewGetOne",
			docTypeList: "documentFlowModule/getDocTypeList",
			journalList: "documentFlowModule/getJournalList",
			reviewUsersList: "documentFlowModule/getReviewUsersList",
			attachDocumentsList: "documentFlowModule/getAttachDocumentsList",
			attachDocumentListID: "documentFlowModule/getAttachDocumentListID"
		}),
		/*
		*
		* */
		filesTableHeaders() {
			return selectFromList([1, 22, 23, 19], TABLE_HEAD_TEXT_LIST)
		},
		/*
		*
		* */
		employeeTableHeaders() {
			return selectFromList([1, 24, 23, 19], TABLE_HEAD_TEXT_LIST)
		}
	},
	watch: {
		registrationDocumentSearch(value) {
			this.fetchJournalList({
				search: value
			})
		},
		/*
		*
		* */
		correspondentSearch(value) {
			this.fetchCorrespondentList({
				search: value
			})
		},
		/*
		*
		* */
		documentTypeSearch(value) {
			this.fetchDocTypeList({
				search: value
			})
		},
		/*
		*
		* */
		userSearch(value) {
			this.fetchUsersList({
				search: value
			})
		},
	},
	created() {
		this.init()
		this.fetchUsersList({})

		if(this.$route.params.id) {
			this.getOne(this.$route.params.id)
			this.fetchReviewUsersList(this.$route.params.id)
			this.fetchAttachFilesList({
				incomingDocId: this.$route.params.id
			})
		}
	},
	methods: {
		...mapActions({
			fetchUsersList: "fetchUsersList",
			init: "documentFlowModule/init",
			fetchCorrespondentList: "documentFlowModule/fetchCorrespondentList",
			fetchDocTypeList: "documentFlowModule/fetchDocTypeList",
			fetchJournalList: "documentFlowModule/fetchJournalList",
			fetchIncomingDocumentById: "documentFlowModule/fetchIncomingDocumentById",
			fetchReviewUsersList: "documentFlowModule/fetchReviewUsersList",
			fetchSetNewReviewUser: "documentFlowModule/fetchSetNewReviewUser",
			fetchDeleteReviewUserFromList: "documentFlowModule/fetchDeleteReviewUserFromList",
			fetchAttachFiles: "documentFlowModule/fetchAttachFiles",
			fetchAttachFilesList: "documentFlowModule/fetchAttachFilesList",
			fetchDeleteFileFromAttachFile: "documentFlowModule/fetchDeleteFileFromAttachFile",
		}),
		/*
		*
		* */
		setEmployee() {
			if(this.reviewUserSelected) {
				this.fetchSetNewReviewUser({
					userId: this.reviewUserSelected.id,
					incomingDocId: this.$route.params.id
				})
			}
		},
		/*
		*
		* */
		deleteEmployee(user) {
			if(!confirm(this.$t('document-flow.components.do-you-want-delete-employee'))) {
				return;
			}

			this.fetchDeleteReviewUserFromList({
				userId: user.id,
				incomingDocId: this.$route.params.id
			})
		},
		/*
		*
		* */
		uploadFiles(files) {
			this.fetchAttachFiles({
				files,
				incomingDocId: this.$route.params.id
			})
		},
		/*
		*
		* */
		deleteFile(id) {
			if(!confirm(this.$t('document-flow.components.do-you-want-delete-employee'))) {
				return;
			}

			this.fetchDeleteFileFromAttachFile({
				fileId: id,
				incomingDocId: this.$route.params.id
			})
		},
		/*
		*
		* */
		openAttachFile(document) {

		},
		/*
		*
		* */
		send() {
			this.$v.$touch();

			if (this.$v.$invalid) {
				return;
			}

			let data = {
				...this.formModel,
				documents: this.attachDocumentListID,
				journal: this.formModel.journal.id,
				doc_type: this.formModel.doc_type.id,
				correspondent: this.formModel.correspondent.id,
				register_date: `${this.formModel.register_date} ${new Date().getHours()}:${new Date().getMinutes()}`,
				outgoing_date: `${this.formModel.outgoing_date} ${new Date().getHours()}:${new Date().getMinutes()}`,
				review_users: this.formModel.__userSelected.map(item => Object.assign({}, { user: item.id }))
			}

			console.log(data);

			this.$store.dispatch("documentFlowModule/fetchRegisterIncomingDocument", data)
				.then((response) => {
					console.log(response);
					// this.formModel = {
					// 	...response,
					// 	register_date: new Date(response.register_date).toISOString().replace(/T.*$/, ''),
					// 	outgoing_date: new Date(response.outgoing_date).toISOString().replace(/T.*$/, '')
					// }
				})
		},
		/*
		*
		* */
		getOne(id) {
			// this.fetchIncomingDocumentById(id).then((data) => {
			// 	this.formModel = {
			// 		...data,
			// 		__userSelected: data.review_users.map(item => item.user.full_name),
			// 		register_date: new Date(data.register_date).toISOString().replace(/T.*$/, ''),
			// 		outgoing_date: new Date(data.outgoing_date).toISOString().replace(/T.*$/, '')
			// 	}
			//
			// 	console.log(this.formModel);
			// })
		}
	}
}
</script>
