<template>
	<div class="resolution-view">
		<v-tabs
			v-model="tab"
			hide-slider
			centered
			background-color="primary"
			class="rounded-lg"
		>
			<v-tab>
				{{$t('document-flow.components.assignment')}}
			</v-tab>
			<v-tab>
				{{$t('document-flow.components.control-point')}}
			</v-tab>
			<v-tab>
				{{$t('document-flow.components.for-information')}}
			</v-tab>
		</v-tabs>

		<v-tabs-items v-model="tab">
			<v-tab-item>
				<resolution-assignment />
			</v-tab-item>

			<v-tab-item>
				<resolution-control-point />
			</v-tab-item>

			<v-tab-item>
				<resolution-for-information />
			</v-tab-item>
		</v-tabs-items>
	</div>
</template>

<script>
import ResolutionAssignment from "./ResolutionAssignment"
import ResolutionControlPoint from "./ResolutionControlPoint"
import ResolutionForInformation from "./ResolutionForInformation"

export default {
	name: "Resolution",
	data () {
		return {
			tab: null
		}
	},
	components: {
		ResolutionAssignment,
		ResolutionControlPoint,
		ResolutionForInformation
	}
}
</script>
