<template>
	<div class="resolution-assignment-view">
		<div class="app-input my-8">
			<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.components.content')}}</span>

			<v-textarea
				v-model="$v.resolutionFormModel.content.$model"
				:error="$v.resolutionFormModel.content.$error"
				outlined
				hide-details
				no-resize
				auto-grow
			></v-textarea>
		</div>

		<v-tabs
			v-model="tab"
			hide-slider
			centered
			background-color="primary"
			class="rounded-lg mb-6"
		>
			<v-tab>
				{{$t('document-flow.components.information-for-employees')}}
			</v-tab>
			<v-tab>
				{{$t('document-flow.components.information-for-branches')}}
			</v-tab>
		</v-tabs>

		<v-tabs-items v-model="tab">
			<v-tab-item>
				<v-row>
					<v-col md="9">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.components.search-employees')}}</span>
							<v-autocomplete
								v-model="$v.addUserModel.userSearchModel.$model"
								:error="$v.addUserModel.userSearchModel.$error"
								:items="getUsersBelowList"
								:search-input.sync="userSearch"
								item-text="full_name"
								outlined
								hide-details
								return-object
								clearable
								clear-icon="mdi-close"
							>
								<template #append>
									<v-icon>mdi-chevron-down</v-icon>
								</template>

								<template v-slot:item="data">
									<v-list-item-avatar :color="data.item.color">
										<template v-if="data.item.avatar">
											<img :src="data.item.avatar" alt="Avatar image" />
										</template>

										<template v-else>
											<span class="text-white">{{ data.item.full_name | getFirstCharacterWithoutDot }}</span>
										</template>
									</v-list-item-avatar>
									<v-list-item-content>
										<v-list-item-title v-html="data.item.full_name"></v-list-item-title>
										<v-list-item-subtitle v-html="data.item.position"></v-list-item-subtitle>
									</v-list-item-content>
								</template>
							</v-autocomplete>
						</div>
					</v-col>

					<v-col md="3" align-self="end">
						<app-button @click="addUser(addUserModel)" block height="56">
							<template #prepend>
								<plus-circle-icon size="20" />
							</template>

							{{$t('document-flow.components.add')}}
						</app-button>
					</v-col>
				</v-row>

				<app-table
					:table-width="500"
					:table-head-items="filesTableHeaders"
					class="my-8"
				>
					<template #tableBody>
						<tr v-for="(assignment, index) in resolutionFormModel.assignment" :key="assignment.id">
							<td>{{ assignment.__user.full_name }}</td>
							<td>
								<div class="d-flex align-center" style="width: 90px">
									<app-button
										@click="deleteUser(index)"
										min-width="43"
										width="43px"
										color="var(--primary-4)"
										icon
									>
										<template #prepend>
											<trash2-icon size="18" />
										</template>
									</app-button>
								</div>
							</td>
						</tr>
					</template>
				</app-table>
			</v-tab-item>

			<v-tab-item>
				<v-row>
					<v-col md="4">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.components.period-execution')}}</span>

							<app-date-picker
								v-model="testDate"
								with-input
							/>
						</div>
					</v-col>

					<v-col md="5">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.components.search-branches')}}</span>

							<v-autocomplete
								:items="[1, 2, 3, 4, 5]"
								outlined
								hide-details
								return-object
								clearable
								clear-icon="mdi-close"
							>
								<template #append>
									<v-icon>mdi-chevron-down</v-icon>
								</template>
							</v-autocomplete>
						</div>
					</v-col>

					<v-col md="3" align-self="end">
						<app-button block height="56">
							<template #prepend>
								<plus-circle-icon size="20" />
							</template>

							{{$t('document-flow.components.add')}}
						</app-button>
					</v-col>
				</v-row>
			</v-tab-item>
		</v-tabs-items>

		<app-button @click="send" height="56">
			<template #prepend>
				<plus-circle-icon size="20" />
			</template>

			{{$t('document-flow.components.create-assignment')}}
		</app-button>
	</div>
</template>

<script>
import { TABLE_HEAD_TEXT_LIST } from "@/common/constants";
import { selectFromList } from "@/common/helpers";

import { PlusCircleIcon, Trash2Icon } from "vue-feather-icons";
import { required } from "vuelidate/lib/validators";
import { mapActions, mapGetters } from "vuex";

export default {
	name: "ResolutionForInformation",
	components: {
		PlusCircleIcon,
		Trash2Icon
	},
	data() {
		return {
			tab: null,
			testDate: "",
			userSearch: null,
			addUserModel: {
				userSearchModel: null
			},
			resolutionFormModel: {
				id: null,
				review: 19,
				content: null,
				type: "for_information",
				controller: null,
				parent: null,
				assignment: []
			}
		}
	},
	validations: {
		resolutionFormModel: {
			content: { required }
		},
		addUserModel: {
			userSearchModel: { required }
		}
	},
	computed: {
		...mapGetters({
			getUsersBelowList: "documentFlowModule/getUsersBelowList"
		}),
		/*
		*
		* */
		filesTableHeaders() {
			return selectFromList([26, 19], TABLE_HEAD_TEXT_LIST)
		},
	},
	watch: {
		userSearch(search) {
			this.fetchUsersBelow({ search })
		}
	},
	created() {
		this.fetchUsersBelow({ search: null })
	},
	methods: {
		...mapActions({
			fetchUsersBelow: "documentFlowModule/fetchUsersBelow",
			fetchAssignUsersToResolution: "documentFlowModule/fetchAssignUsersToResolution",
		}),
		/*
		*
		* */
		addUser({ userSearchModel }) {
			this.$v.addUserModel.$touch();

			if (this.$v.addUserModel.$invalid) {
				return;
			}

			this.resolutionFormModel.assignment.push({
				user: userSearchModel.id,
				is_responsible: false,
				__user: userSearchModel,
				__hours: "18:00"
			})

			// Сбрасываем поля
			this.addUserModel.userSearchModel = null
			this.$v.$reset();
		},
		/*
		*
		* */
		deleteUser(index) {
			if(!confirm(this.$t('document-flow.components.do-you-want-delete-employee'))) {
				return;
			}

			this.resolutionFormModel.assignment.splice(index, 1)
		},
		/*
		*
		* */
		send() {
			this.$v.resolutionFormModel.$touch();

			if (this.$v.resolutionFormModel.$invalid) {
				return;
			}

			if(!this.resolutionFormModel.assignment.length) {
				this.$toast.error(this.$t('document-flow.components.one-employee-must'))
				this.$v.addUserModel.$touch();

				return;
			}

			this.fetchAssignUsersToResolution(this.resolutionFormModel)
		}
	}
}
</script>
