<template>
	<registration-form-wrapper
		:form-title="$t('document-flow.components.for-consideration')"
		has-assign
	/>
</template>

<script>
import RegistrationFormWrapper from "./RegistrationFormWrapper";

export default {
	name: "ReviewFormShow",
	components: {
		RegistrationFormWrapper
	}
}
</script>
