<template>
	<v-row>
		<template v-if="hideUpdateTaskField">
			<v-col md="12">
				<span class="d-block text-2 font-600 line-base mb-3">
					{{$t('document-flow.components.move')}}
				</span>

				<app-tooltip top>
					<template #content>
						<v-select
							ref="select"
							@click="(e) => e.preventDefault()"
							@change="(id) => changeStatusModalView(id)"
							:items="$store.state.statusList"
							item-text="title"
							item-value="id"
							outlined
							dense
							hide-details
							:placeholder="$t('document-flow.components.move')"
              background-color="var(--input-bg)"
						></v-select>
					</template>

					<template #text>
						{{$t('document-flow.components.move-to-another-column')}}
					</template>
				</app-tooltip>
			</v-col>
		</template>

    <template v-if="item.journal">
      <v-col md="6">
        <span class="d-block text-2 font-600 line-base mb-3">
          {{$t('document-flow.components.journal')}}
        </span>

        <v-chip
          color="warning"
          text-color="white"
          style="font-size: 12px"
        >
          {{ item.journal.name }}
        </v-chip>
      </v-col>
    </template>

    <template v-if="item.doc_type">
      <v-col md="6">
        <span class="d-block text-2 font-600 line-base mb-3">
          {{$t('document-flow.components.document')}}
        </span>

        <v-chip
          color="success"
          text-color="white"
          style="font-size: 12px"
        >
          {{ item.doc_type.name }}
        </v-chip>
      </v-col>
    </template>

    <template v-if="item.type">
      <v-col md="6">
        <span class="d-block text-2 font-600 line-base mb-3">
          {{$t('document-flow.components.type')}}
        </span>

        <v-chip
          color="error"
          text-color="white"
          style="font-size: 12px"
        >
          {{ item.type === "assignment" ? $t('document-flow.components.assignment') : item.type === "control_point" ? $t('document-flow.components.control-point') : $t('document-flow.components.for-information') }}
        </v-chip>
      </v-col>
    </template>

    <template v-if="item.deadline">
      <v-col md="6">
        <span class="d-block text-2 font-600 line-base mb-3">
          {{$t('document-flow.components.deadline')}}
        </span>

        <span class="d-block font-700 text-1 line-base">
          {{ item.deadline.deadline }}
        </span>
      </v-col>
    </template>

		<template v-if="item.__status">
      <v-col md="6">
        <app-tooltip top>
          <template #content>
					<span class="d-block text-2 font-600 line-base mb-2">
						{{$t('document-flow.components.status')}}
					</span>

            <span class="d-inline-block font-700 text-1 line-base" style="font-size: 13px;">{{ item.__status.title }}</span>
          </template>

          <template #text>
            {{ item.__status.description }}
          </template>
        </app-tooltip>
      </v-col>
    </template>

    <template v-if="item.priority">
      <v-col md="6">
        <app-tooltip top class="w-100">
          <template #content>
            <span class="d-block text-2 font-600 line-base mb-3">
              {{$t('document-flow.components.level')}}
            </span>

            <v-progress-linear
              :color="
              item.priority === 'high'
              ? 'var(--primary-4)'
              : item.priority === 'critical'
              ? 'var(--primary-4)'
              : item.priority === 'medium'
              ? 'var(--primary-3)'
              : 'var(--primary-2)'
            "
              :value="
              item.priority === 'high'
              ? 100
              : item.priority === 'critical'
              ? 75
              : item.priority === 'medium'
              ? 50
              : 25
            "
              rounded
              height="6"
            ></v-progress-linear>
          </template>

          <template #text>
            {{ item.__priorityText }}
          </template>
        </app-tooltip>
      </v-col>
    </template>

		<template v-if="item.register_number">
      <v-col md="6">
        <span class="d-block text-2 font-600 line-base mb-3">
          {{$t('document-flow.components.registration-number')}}
        </span>

          <span class="d-block font-700 text-1 line-base">
          {{ item.register_number }}
        </span>
      </v-col>
    </template>

		<template v-if="item.register_date">
      <v-col md="6">
        <span class="d-block text-2 font-600 line-base mb-3">
          {{$t('document-flow.components.registration-date')}}
        </span>

          <span class="d-block font-700 text-1 line-base">
          {{ item.register_date | filterCalendarToTime }}
        </span>
      </v-col>
    </template>

		<template v-if="item.outgoing_number">
      <v-col md="6">
        <span class="d-block text-2 font-600 line-base mb-3">
          Исх. номер
        </span>

          <span class="d-block font-700 text-1 line-base">
          {{ item.outgoing_number }}
        </span>
      </v-col>
    </template>

		<template v-if="item.outgoing_date">
      <v-col md="6">
        <span class="d-block text-2 font-600 line-base mb-3">
          {{$t('document-flow.components.outgoing-number')}}
        </span>

        <span class="d-block font-700 text-1 line-base">
          {{ item.outgoing_date | filterCalendarToTime }}
        </span>
      </v-col>
    </template>

    <template v-if="item.created_by">
      <v-col md="6">
        <span class="d-block text-2 font-600 line-base mb-3">
          {{$t('document-flow.components.document-created-date')}}
        </span>

        <app-avatar-group list-type="creators" :avatar-list="item.created_by" />
      </v-col>
    </template>

		<template v-if="item.review_users">
      <v-col md="6">
        <span class="d-block text-2 font-600 line-base mb-3">
          {{$t('document-flow.components.for-consideration')}}
        </span>

        <app-avatar-group list-type="review_users" :avatar-list="item.review_users" />
      </v-col>
    </template>

		<template v-if="item.__responsibleUser">
			<v-col md="6">
				<span class="d-block text-2 font-600 line-base mb-3">
					{{$t('document-flow.components.responsible-executor')}}
				</span>

				<app-avatar-group list-type="responsible" :avatar-list="item.__responsibleUser" />
			</v-col>
		</template>

		<template v-if="item.assignment">
			<v-col md="6">
				<span class="d-block text-2 font-600 line-base mb-3">
					{{$t('document-flow.components.performers')}}
				</span>

				<app-avatar-group list-type="agreed" :avatar-list="item.assignment" />
			</v-col>
		</template>

    <!-- ChangeStatus modal -->
    <v-dialog
      v-model="changeStatusModal"
      max-width="760"
      content-class="reset-dialog-style"
    >
      <div class="bg-white">
        <div class="d-flex align-center py-3 px-4">
          <h4 class="font-500">{{$t('document-flow.components.change-status')}}</h4>

          <v-spacer />

          <v-btn
            icon
            color="error"
            small
            @click="changeStatusModal = false"
          >
            <x-icon></x-icon>
          </v-btn>
        </div>

        <div class="border-top border-bottom py-3 px-4">
          <div class="app-input">
            <span class="d-block font-600 small-2 mb-2">{{$t('document-flow.components.content')}}</span>

            <quill-editor
              v-model="$v.changeStatusText.$model"
              :error="$v.changeStatusText.$error"
            />
          </div>
        </div>

        <div class="text-center py-3 px-4">
          <app-button @click="updateDocumentStatus">
            {{$t('document-flow.components.change-status')}}
          </app-button>
        </div>
      </div>
    </v-dialog>
    <!-- /ChangeStatus modal -->
	</v-row>
</template>

<script>
import { XIcon } from "vue-feather-icons";
import { required } from "vuelidate/lib/validators";
import { mapActions, mapGetters } from "vuex";

export default {
	name: "ReviewGridCardBody",
	props: {
		item: {
			type: Object,
			default: () => {}
		},
		hideUpdateTaskField: {
			type: Boolean,
			default: true
		},
    statusChangeApiUrl: {
		  type: String,
      default: "review"
    },
    columnState: {
		  type: Array,
      default: () => []
    }
	},
  components: {
    XIcon
  },
  data() {
	  return {
      changeStatusModal: false,
      changeStatusNumber: null,
      changeStatusText: null,
    }
  },
  validations: {
    changeStatusText: {
      required
    }
  },
  computed: {
	  ...mapGetters({
      currentUser: "auth/getCurrentUser"
    })
  },
	methods: {
		...mapActions({
			fetchChangeStatusIncomingDocument: "documentFlowModule/fetchChangeStatusIncomingDocument"
		}),
    /*
    *
    * */
    changeStatusModalView(number) {
      this.changeStatusModal = !this.changeStatusModal
      this.changeStatusNumber = number

      // fetchChangeStatusIncomingDocument({
      //   id,
      //   item,
      //   ref: $refs.select,
      //   statusUrl: statusChangeApiUrl,
      //   documentId: item.__documentId,
      //   columnState
      // })
    },
    /*
    *
    * */
    updateDocumentStatus() {
      this.$v.changeStatusText.$touch();

      if (this.$v.changeStatusText.$invalid) {
        this.$toast.error(this.$t('document-flow.components.please-add-text'))
        return;
      }
	    if(!this.changeStatusText.replace(/<\/?[^>]+(>|$)/g, "").trim()) {
		    this.$toast.warning(this.$t('document-flow.components.please-add-text') + "!")
		    return;
	    }

      this.$axios.put(`/docflow/${this.currentUser.filial}/for_review/${this.item.__documentId}/`, {
        status: this.changeStatusNumber,
        text: this.changeStatusText
      })
      .then(() => {
        window.location.reload()
      })
    },
	}
}
</script>
