<template>
	<div class="status-change-modal-view">
		<v-list-group
			prepend-icon="mdi-list-status"
		>
			<template v-slot:activator>
				<v-list-item-title>
					<div class="d-flex align-center">
						<span class="font-500">{{$t('document-flow.components.change-status')}}</span>
					</div>
				</v-list-item-title>
			</template>
			<template>
				<v-list-item
					:disabled="!isDocumentRead || currentStatus === item.id"
					:key="index"
					@click="changeStatusModalView(item.id)"
					class="py-0 px-12"
					link
					v-for="(item, index) in statusList"
				>
					<v-list-item-title>
						<div class="d-flex align-center">
                        <span
	                        class="font-500"
                        >{{ item.name }}</span>
						</div>
					</v-list-item-title>
				</v-list-item>
			</template>
		</v-list-group>

		<!-- ChangeStatus modal -->
		<v-dialog
			v-model="changeStatusModal"
			max-width="760"
			content-class="reset-dialog-style"
		>
			<div class="bg-white">
				<div class="d-flex align-center py-3 px-4">
					<h4 class="font-500">{{$t('document-flow.components.change-status')}}</h4>

					<v-spacer />

					<v-btn
						icon
						color="error"
						small
						@click="changeStatusModal = false"
					>
						<x-icon></x-icon>
					</v-btn>
				</div>

				<div class="border-top border-bottom py-3 px-4">
					<div class="app-input">
						<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.components.content')}}</span>

						<quill-editor
							v-model="$v.changeStatusText.$model"
							:error="$v.changeStatusText.$error"
						/>
					</div>
				</div>

				<div class="d-flex py-3 px-4 justify-space-between">
					<div class="d-flex align-center grid-gap-sm">
            <resolution-content-modal
              @emit:up="(text) => changeStatusText = text.name"
            />

            <resolution-content-modal
              title="content-from-users"
              title-dialog="content-from-users"
              :api-url="`assigment/${$route.params.id}/list_of_performers`"
              multiple
              :search-bar-visible="false"
              has-action
              @emit:up="resolutionFromUsers"
            />
          </div>

					<app-button
						@click="updateDocumentStatus"
					>
						{{$t('document-flow.components.change-status')}}
					</app-button>
				</div>
			</div>
		</v-dialog>
		<!-- /ChangeStatus modal -->
	</div>
</template>

<script>
import { XIcon } from "vue-feather-icons";
import { required } from "vuelidate/lib/validators";
import { mapActions } from "vuex";
import ResolutionContentModal from "../../../common/components/ResolutionContentModal";

export default {
	name: "StatusChangeModal",
	props: {
		objectId: {
			type: [Number, String],
			default: null,
			required: true
		},
		api: {
			type: String,
			default: "",
			required: true
		},
		currentStatus: {
			type: [String, Number],
			default: null,
			required: true
		},
		withComment: {
			type: Boolean,
			default: false
		},
		documentId: {
			type: [String, Number],
			required: true
		},
    isDocumentRead: {
      type: Boolean,
      default: false
    }
	},
	components: {
		ResolutionContentModal,
		XIcon
	},
	data() {
		return {
			changeStatusModal: false,
			changeStatusText: null,
			changeStatusId: null
		}
	},
	validations: {
		changeStatusText: { required }
	},
	computed: {
		/**/
		statusList() {
			return this.$store.state.statusList.filter(item => item.id !== 5)
		},
	},
	methods: {
		...mapActions({
			fetchChangeStatus: "documentFlowModule/fetchChangeStatus",
			fetchNewComments: "action/fetchNewComments",
		}),
		/*
    *
    * */
		resolutionFromUsers(list) {
			this.changeStatusText = list.map(item => `${item.performance_note}\n`).join("")
		},
    /*
    *
    * */
		changeStatusModalView(id) {
			this.changeStatusModal = !this.changeStatusModal;
			this.changeStatusId = id
		},
		/**/
		updateDocumentStatus(){
			this.$v.changeStatusText.$touch();

			if (this.$v.changeStatusText.$invalid) {
				this.$toast.warning(this.$t('document-flow.components.please-add-text'))
				return;
			}
			if(!this.changeStatusText.replace(/<\/?[^>]+(>|$)/g, "").trim()) {
				this.$toast.warning(this.$t('document-flow.components.please-add-text') + "!")
				return;
			}

			let payload = {
				id: this.objectId,
				api: this.api,
				statusId: this.changeStatusId,
				statusText: this.changeStatusText
			}

			this.fetchNewComments({
				obj: this.documentId,
				description: this.changeStatusText,
        type: "doc_flow_comment"
			})
			.then(() => {
				this.fetchChangeStatus(payload)
					.then((data) => {
						this.$toast.success(this.$t('document-flow.components.changed-status'))

            this.$emit("emit:update:status")
						this.changeStatusModal = false
						this.changeStatusText = null
						// setTimeout(() => {
						// 	window.location.reload()
						// }, 300)
					})
					.catch(err => {
						this.$toast.error(this.$t('document-flow.components.not-changed-status'))
					})
			})
		}
	}
}
</script>

<style scoped>

</style>
