<template>
	<div class="layout-aside-view bg-greyscale-100 rounded-20 pa-2">
		<ul class="pa-0">
			<template v-for="(item, index) in sidebarTabList">
				<li
					class="d-flex gap-x-2 rounded-12 pointer mb-1 pa-3"
					:class="{
						'bg-white shadow-9': setActive(item, index)
					}"
					@click="handleItem(index)"
				>
					<div
						class="d-flex align-center justify-center bg-greyscale-500 text-white w-6 h-6 rounded-circle small-3"
						:class="{
							'bg-primary-500-important': setActive(item, index),
							'bg-success-300-important': isStepFinished({ step: item.value }),
						}"
					>
						<template v-if="isStepFinished({ step: item.value })">
							<base-iconify
								icon="Check"
								class="text-white"
							/>
						</template>

						<template v-else>
							{{ index + 1 }}
						</template>
					</div>

					<h1
						class="flex-1 align-self-center font-600 text-greyscale-900 small-2 mt-n1"
						:class="{
							'text-primary-500-important': setActive(item, index),
							'text-greyscale-900-important': isStepFinished({ step: item.value }),
						}"
					>
						{{ $t(item.value) }}
					</h1>
				</li>
			</template>
		</ul>
	</div>
</template>

<script>
import { mapState, mapGetters, mapActions } from 'vuex'

export default {
	name: "Aside",
	computed: {
		...mapState({
			formModel: state => state.hrHiring.formModel,
			sidebarTabList: state => state.hrHiring.sidebarTabList
		}),
		/*
		*
		* */
		...mapGetters({
			isStepFinished: 'hrHiring/isStepFinished'
		})
	},
	async mounted() {
		await this.fetchSigningSteps({ candidate: this.formModel.id })

		if(Object.keys(this.$route.query).length > 0) {
			let index = this.sidebarTabList.findIndex(item => item.value === this.$route.query.current)
			this.handleItem(index)
		}
		else {
			this.handleItem(0)
		}
	},
	methods: {
		...mapActions({
			handleSidebarItem: "hrHiring/handleSidebarItem",
			fetchSigningSteps: "hrHiring/fetchSigningSteps"
		}),
		/*
		*
		* */
		handleItem(index) {
			this.handleSidebarItem({ index })
		},
		/*
		*
		* */
		setActive(item, index) {
			return (this.$route.query.current === undefined && index === 0) || this.$route.query.current === item.value
		}
	}
}
</script>

<style>
.layout-aside-view {
	max-width: 310px;
	width: 100%;
}
</style>