<template>
	<div>
		<button
			type="button" class="d-flex align-center justify-center gap-x-1 bg-critic-50 rounded-8 pa-2"
			style="border: 1px solid #FFDAE2;"
			@click="dialog = true"
		>
			<base-iconify icon="CloseMd" class="text-critic-500" />
			<span class="small-2 font-600 text-critic-500">{{ $t('reject') }}</span>
		</button>

		<base-modal
			v-model="dialog"
			width="555"
			label="cancel-document"
			success-button-label="reject"
			:button-loading="buttonLoading"
			@emit:onSend="cancelDocument"
		>
			<base-text-area
				v-model="$v.comment.$model"
				:error="$v.comment.$error"
				label="reason"
			/>
		</base-modal>
	</div>
</template>

<script>
import { required } from 'vuelidate/lib/validators'

export default {
	name: "CancelDocumentModal",
	props: {
		id: {
			type: Number
		}
	},
	data() {
		return {
			dialog: false,
			comment: null,
			buttonLoading: false,
		}
	},
	validations: {
		comment: {
			required,
		}
	},
	methods: {
		cancelDocument() {
			this.$v.$touch();

			if (this.$v.$invalid) {
				this.$toast.error(this.$t('dashboard.components.enter-text'))
				return;
			}

			this.buttonLoading = true

			this.$axios.put(`/hr/candidate-documents/${this.id}/approve-document/`, {
				approved: false,
				comment: this.comment
			})
				.then(() => {
					this.$emit('emit:success')
					this.dialog = false
					this.comment = null
				})
				.finally(() => {
					this.buttonLoading = false
				})
		}
	}
}
</script>

<style scoped>

</style>