<template>
	<button
		type="button" class="d-flex align-center justify-center gap-x-1 bg-primary-100 p-relative overflow-hidden rounded-8 pa-2"
		style="border: 1px solid #CED3FF;"
		@click="confirmDocument"
	>
		<template v-if="loading">
			<app-loader content-width :size="22" :width="2" />
		</template>

		<base-iconify icon="Check" class="text-primary-500" />
		<span class="small-2 font-600 text-primary-500">{{ $t('confirm-2') }}</span>
	</button>
</template>

<script>
export default {
	name: "ConfirmDocument",
	props: {
		id: Number
	},
	data() {
		return {
			loading: false
		}
	},
	methods: {
		confirmDocument() {
			this.loading = true

			this.$axios.put(`/hr/candidate-documents/${this.id}/approve-document/`, {
				approved: true
			})
				.then(() => {
					this.$emit('emit:success')
				})
				.finally(() => {
					setTimeout(() => {
						this.loading = false
					}, 500)
				})
		}
	}
}
</script>

<style scoped>

</style>