<template>
	<div class="layout-content-view bg-greyscale-100 rounded-20 overflow-hidden pt-1 pa-4 pr-1">
		<div class="d-flex flex-column h-100 pa-2 pr-4 overflow-y-auto">
			<h1 class="heading-10 text-greyscale-900 font-600 mb-2">
				{{ $t(activeSidebarTab.current) }}
			</h1>

			<div class="flex-1 bg-white shadow-9 rounded-16 pa-5">
				<component :is="loadedContent" />
			</div>
		</div>
	</div>
</template>

<script>
import { mapState, mapGetters, mapActions } from 'vuex'
import AppLoader from '@/common/components/base/AppLoader'
import { lazyLoadComponent } from '@/common/helpers'

export default {
	name: "Content",
	components: {
		AppLoader
	},
	data() {
		return {
			loadedContent: null
		}
	},
	computed: {
		...mapState({
			formModel: state => state.hrHiring.formModel,
			activeSidebarTab: state => state.hrHiring.activeSidebarTab,
		}),
		/*
		*
		* */
		...mapGetters({
			getDisableItems: "getDisableItems"
		})
	},
	watch: {
		activeSidebarTab: {
			handler(val) {
				// employment_contract => EmploymentContract
				let component = val.current && val.current.split('_').map(text => text[0].toUpperCase() + text.slice(1)).join('')

				this.loadedContent = lazyLoadComponent({
					componentFactory: () => import(`./Content/${component}`),
					loading: AppLoader
				})
			},
			deep: true,
			immediate: true
		}
	},
	async mounted() {
		await this.fetchEmploymentContractDocument({
			candidate: this.formModel.id,
			title: this.$t('employment_contract', 'uz')
		})
		await this.fetchEmploymentOrderDocument({
			candidate: this.formModel.id,
			title: this.$t('employment_order', 'uz')
		})
		await this.fetchPersonalDataDocument({
			candidate: this.formModel.id,
			title: this.$t('personal_data', 'uz')
		})
		await this.fetchJobApplicationDocument({
			candidate: this.formModel.id,
			title: this.$t('job_application', 'uz')
		})
		await this.fetchObligationDocument({
			candidate: this.formModel.id,
			title: this.$t('obligation', 'uz')
		})
		await this.fetchRiskObligationDocument({
			candidate: this.formModel.id,
			title: this.$t('risk_obligation', 'uz')
		})
		await this.fetchFinancialResponsibilityDocument({
			candidate: this.formModel.id,
			title: this.$t('financial_responsibility', 'uz')
		})
		await this.fetchFullFinancialResponsibilityDocument({
			candidate: this.formModel.id,
			title: this.$t('full_financial_responsibility', 'uz')
		})
	},
	methods: {
		...mapActions({
			fetchEmploymentContractDocument: 'hrHiring/fetchEmploymentContractDocument',
			fetchEmploymentOrderDocument: 'hrHiring/fetchEmploymentOrderDocument',
			fetchPersonalDataDocument: 'hrHiring/fetchPersonalDataDocument',
			fetchJobApplicationDocument: 'hrHiring/fetchJobApplicationDocument',
			fetchObligationDocument: 'hrHiring/fetchObligationDocument',
			fetchRiskObligationDocument: 'hrHiring/fetchRiskObligationDocument',
			fetchFinancialResponsibilityDocument: 'hrHiring/fetchFinancialResponsibilityDocument',
			fetchFullFinancialResponsibilityDocument: 'hrHiring/fetchFullFinancialResponsibilityDocument',
		})
	}
}
</script>

<style>
.layout-content-view {
	max-width: 760px;
	width: 100%;
}
</style>