<template>
	<div class="candidate-documents-view bg-greyscale-100 border-all rounded-20 relative pa-5">
		<template v-if="loading">
			<app-loader component-based />
		</template>

		<template v-else>
			<div class="grid grid-cols-2 gap-x-5 gap-y-2">
				<template v-for="document in documents">
					<div class="bg-white shadow-9 rounded-16 pa-5 pt-4">
						<div class="d-flex align-center justify-space-between">
							<h1 class="small-1 font-600 text-greyscale-900 mb-1">{{ documentTitle(document.file_type) }}</h1>

							<div
								v-if="document.approved === true"
								class="bg-success-50 small-3 text-success-500 font-600 rounded-6 px-2 py-1"
							>
								{{ $t('control-tasks.tasks.confirmed-2') }}
							</div>

							<div
								v-if="document.approved === false"
								class="bg-critic-50 small-3 text-critic-500 font-600 rounded-6 px-2 py-1"
							>
								{{ $t('survey-client.completed.rejected') }}
							</div>
						</div>

						<span class="d-block small-2 font-500 text-greyscale-500 mb-6px">{{ document.modified_date | filterCalendarToTime }}</span>

						<div class="d-flex justify-space-between">
							<div class="d-flex align-center gap-x-2">
								<div class="d-flex align-center gap-x-1 rounded-8" style="padding: 7px 8px; border: 2px solid #CED3FF;">
									<base-iconify icon="FileDocument" class="text-primary-500" />

									<span class="small-2 text-primary-500 font-600">
										{{ document.file && document.file.name }}
									</span>
								</div>

								<template v-if="document.approved === false">
									<div class="d-flex align-center gap-x-2 bg-critic-50 rounded-8 py-2 px-3">
										<base-iconify icon="DangerCircleBold" class="text-critic-500" />
										<span class="small-2 text-greyscale-900 font-500">{{ document.comment }}</span>
									</div>
								</template>
							</div>

							<div class="d-flex gap-x-2">
								<a
									:href="document.file && document.file.url"
									target="_blank"
									class="d-flex align-center justify-center bg-greyscale-100 rounded-8 pa-2"
									style="border: 1px solid #ECF0F4;"
								>
									<base-iconify icon="DownloadOutline" class="text-greyscale-500" />
								</a>

								<template v-if="document.approved === null">
									<cancel-document-modal :id="document.id" @emit:success="() => getList(false)" />

									<confirm-document :id="document.id" @emit:success="() => getList(false)"  />
								</template>
							</div>
						</div>
					</div>
				</template>
			</div>
		</template>
	</div>
</template>

<script>
import CancelDocumentModal from './CancelDocumentModal.vue'
import ConfirmDocument from './ConfirmDocument.vue'

export default {
	name: "Documents",
	components: {
		CancelDocumentModal,
		ConfirmDocument
	},
	data() {
		return {
			documents: [],
			loading: true
		}
	},
	mounted() {
		this.getList()
	},
	methods: {
		getList(loading = true) {
			if (loading) {
				this.loading = true
			}

			this.$axios.get(`/hr/candidate-documents/`, {
				params: {
					candidate: this.$route.params.id,
					page_size: 25
				}
			})
				.then(({ data }) => {
					this.documents = data.results
				})
				.finally(() => {
					setTimeout(() => {
						this.loading = false
					}, 500)
				})
		},
		/*
		*
		* */
		documentTitle(title) {
			switch (title) {
				case "questionnaire":
					return 'Anketa'
				case "biography":
					return 'Tarjimai hol'
				case "passport_copy":
					return 'Pasport nusxasi (yashash joy bilan birga)'
				case "diploma_copy":
					return 'Diplom nusxasi'
				case "photo":
					return 'Fotosurat (3x4)'
				case "labor_contract":
					return 'Mexnat shartnomasi'
				case "military_certificate":
					return 'Harbiy guvohnoma'
				default: // other_docs
					return 'Qo’shimcha hujjatlar'
			}
		}
	}
}
</script>


<style scoped>

</style>