<template>
	<div class="layout-footer-view border-top mx-n5 mt-4 pa-4">
		<div class="layout-footer-container d-flex gap-x-5">
			<div class="layout-aside-view"></div>

			<div class="layout-content-view d-flex justify-space-between">
				<app-button class="back-button" @click="prev">
					Назад
				</app-button>

<!--				<template v-if="isStepFinished({ step: $route.query.current })">-->
<!--					<template v-if="!isStepFullySinged({ step: $route.query.current })">-->
<!--						<app-button color="warning" :loading="editLoading" @click="edit">-->
<!--							Изменить-->
<!--						</app-button>-->
<!--					</template>-->
<!--				</template>-->

				<app-button :loading="loading" @click="next">
					Далее
				</app-button>
			</div>

			<div class="flex-1"></div>
		</div>
	</div>
</template>

<script>
import { mapState, mapGetters, mapActions } from 'vuex'

export default {
	name: "Footer",
	data() {
		return {
			loading: false,
			editLoading: false
		}
	},
	computed: {
		...mapState({
			formModel: state => state.hrHiring.formModel,
			activeSidebarTab: state => state.hrHiring.activeSidebarTab,
			sidebarTabList: state => state.hrHiring.sidebarTabList,
			stepsList: state => state.hrHiring.stepsList,
		}),
		/*
		*
		* */
		...mapGetters({
			isStepFinished: 'hrHiring/isStepFinished',
			isStepFullySinged: 'hrHiring/isStepFullySinged',
		})
	},
	methods: {
		...mapActions({
			fetchHiringNextStep: "hrHiring/fetchHiringNextStep",
			handleSidebarItem: "hrHiring/handleSidebarItem",
			fetchSigningSteps: "hrHiring/fetchSigningSteps",
			fetchUpdateCandidateSigningDocument: "hrHiring/fetchUpdateCandidateSigningDocument",
		}),
		/*
		*
		* */
		async next() {
			const index = this.sidebarTabList.findIndex(tab => tab.value === this.$route.query.next)

			// Если документ уже создано
			// сделаем просто next
			if(this.isStepFinished({ step: this.$route.query.current })) {
				if(index > 0) {
					await this.handleSidebarItem({ index })
				}

				return
			}

			// Если документ не создано
			// создаем документ
			// потом следующий шаг
			try {
				this.loading = true

				await this.fetchHiringNextStep({
					type: this.activeSidebarTab.current,
					title: this.$t(this.activeSidebarTab.current, 'uz')
				})
				await this.fetchSigningSteps({ candidate: this.formModel.id })

				if(index > 0) {
					await this.handleSidebarItem({ index })
				}
			}
			catch (e) {
				console.log(e)
			}
			finally {
				setTimeout(() => {
					this.loading = false
				}, 500)
			}
		},
		/*
		*
		* */
		async prev() {
			const index = this.sidebarTabList.findIndex(tab => tab.value === this.$route.query.prev)

			if(index >= 0) {
				await this.handleSidebarItem({ index })
			}
		},
		/*
		*
		* */
		async edit() {
			try {
				this.editLoading = true
				let currentDocument = this.stepsList.find(({ document }) => document.type === this.$route.query.current)

				await this.fetchUpdateCandidateSigningDocument({
					type: this.activeSidebarTab.current,
					title: this.$t(this.activeSidebarTab.current, 'uz'),
					id: currentDocument.document.id
				})
			}
			catch (e) {

			}
			finally {
				setTimeout(() => {
					this.editLoading = false
				}, 500)
			}
		}
	}
}
</script>

<style scoped>
.back-button {
	background-color: #ECF0F4 !important;
	color: #15171C !important;
}
</style>