<template>
	<div class="show-layout-view d-flex flex-column">
		<div class="layout-container d-flex gap-x-5 flex-1">
			<layout-aside />
			<layout-content />
			<layout-template />
		</div>

		<layout-footer />
	</div>
</template>

<script>
import LayoutAside from './Aside.vue'
import LayoutContent from './Content.vue'
import LayoutTemplate from './Template.vue'
import LayoutFooter from './Footer.vue'

export default {
	name: "Layout",
	components: {
		LayoutAside,
		LayoutContent,
		LayoutTemplate,
		LayoutFooter
	}
}
</script>

<style>
.show-layout-view {
	height: calc(100vh - 206px);
}

.layout-container {
	height: calc(100vh - 298px);
}
</style>