<template>
	<div class="layout-template-view flex-1 bg-greyscale-100 rounded-20 pa-6 pr-1">
		<div class="d-flex flex-column h-100 pr-5 overflow-y-auto">
			<div class="flex-1 bg-white rounded-12 pa-8">
				<component :is="loadedTemplate" />
			</div>
		</div>
	</div>
</template>

<script>
import { mapState } from 'vuex'
import AppLoader from '@/common/components/base/AppLoader.vue'
import { lazyLoadComponent } from '@/common/helpers'

export default {
	name: "Template",
	components: {
		AppLoader
	},
	data() {
		return {
			loadedTemplate: null
		}
	},
	computed: {
		...mapState({
			activeSidebarTab: state => state.hrHiring.activeSidebarTab
		}),
	},
	watch: {
		activeSidebarTab: {
			handler(val) {
				// employment_contract => EmploymentContract
				let component = val.current && val.current.split('_').map(text => text[0].toUpperCase() + text.slice(1)).join('')

				this.loadedTemplate = lazyLoadComponent({
					componentFactory: () => import(`./Template/${component}`),
					loading: AppLoader
				})
			},
			deep: true,
			immediate: true
		}
	}
}
</script>

<style scoped>

</style>