<template>
	<div class="review-table-filter-view">
    <!-- Состояние -->
    <div class="mb-5">
      <span class="small-2 d-block font-600 text-7">{{$t('components.state')}}</span>

      <div class="d-flex">
        <v-radio-group
          v-model="indexTableFilters.is_read"
          row
          mandatory
          hide-details
          class="mt-3"
        >
          <v-radio
            class="mr-12"
            :value="null"
          >
            <template #label>
              <span class="ml-2 text-dark small-1 font-500">{{ $t('components.all') }}</span>
            </template>
          </v-radio>

          <v-radio
            class="mr-12"
            :value="true"
          >
            <template #label>
              <span class="ml-2 text-dark small-1 font-500">{{$t('components.read')}}</span>
            </template>
          </v-radio>

          <v-radio
            class="mr-12"
            :value="false"
          >
            <template #label>
              <span class="ml-2 text-dark small-1 font-500">{{$t('components.unread')}}</span>
            </template>
          </v-radio>
        </v-radio-group>
      </div>
    </div>
    <!-- /Состояние -->

		<!-- Приоритет -->
		<div class="mb-5">
      <span class="small-2 d-block font-600 text-7">{{ $t('priority') }}</span>

      <div class="d-flex">
        <v-radio-group
	        v-model="indexTableFilters.priority"
	        row
	        mandatory
	        hide-details
	        class="mt-3"
        >
          <v-radio
            class="mr-12"
            :value="null"
          >
            <template #label>
              <span class="ml-2 text-dark small-1 font-500">{{ $t('components.all') }}</span>
            </template>
          </v-radio>

          <v-radio
            class="mr-12"
            value="low"
          >
            <template #label>
              <span class="ml-2 text-dark small-1 font-500">{{ $t('components.short') }}</span>
            </template>
          </v-radio>

          <v-radio
            class="mr-12"
            value="medium"
          >
            <template #label>
              <span class="ml-2 text-dark small-1 font-500">{{ $t('components.middle') }}</span>
            </template>
          </v-radio>

          <v-radio
            class="mr-12"
            value="high"
          >
            <template #label>
              <span class="ml-2 text-dark small-1 font-500">{{ $t('components.high') }}</span>
            </template>
          </v-radio>
        </v-radio-group>
      </div>
		</div>
    <!-- /Приоритет -->

    <!-- Дедлайн -->
<!--    <div class="mb-5">-->
<!--      <span class="small-2 d-block font-600 text-7">{{ $t('components.deadline') }}</span>-->

<!--      <div class="d-flex">-->
<!--        <v-radio-group-->
<!--	        v-model="indexTableFilters.has_deadline"-->
<!--	        row-->
<!--	        mandatory-->
<!--	        hide-details-->
<!--	        class="mt-3"-->
<!--        >-->
<!--          <v-radio-->
<!--            :value="null"-->
<!--            class="mr-12"-->
<!--          >-->
<!--            <template #label>-->
<!--              <span class="ml-2 text-dark small-1 font-500">{{ $t('components.all') }}</span>-->
<!--            </template>-->
<!--          </v-radio>-->

<!--          <v-radio-->
<!--            :value="true"-->
<!--            class="mr-12"-->
<!--          >-->
<!--            <template #label>-->
<!--              <span class="ml-2 text-dark small-1 font-500">{{ $t('components.order-for-period') }}</span>-->
<!--            </template>-->
<!--          </v-radio>-->
<!--        </v-radio-group>-->
<!--      </div>-->
<!--    </div>-->
    <!-- /Дедлайн -->

    <!-- Тип резолюция -->
    <div class="mb-5">
      <span class="small-2 d-block font-600 text-7">{{ $t('document-flow.views.boxes.type_resolution') }}</span>

      <div class="d-flex">
        <v-radio-group
	        v-model="indexTableFilters.type"
	        row
	        mandatory
	        hide-details
	        class="mt-3"
        >
          <v-radio
            :value="null"
            class="mr-12"
          >
            <template #label>
              <span class="ml-2 text-dark small-1 font-500">{{$t('components.all')}}</span>
            </template>
          </v-radio>

          <v-radio
            :value="'assignment'"
            class="mr-12"
          >
            <template #label>
              <span class="ml-2 text-dark small-1 font-500">{{$t('components.order')}}</span>
            </template>
          </v-radio>

          <v-radio
            :value="'control_point'"
            class="mr-12"
          >
            <template #label>
              <span class="ml-2 text-dark small-1 font-500">{{$t('components.control-point')}}</span>
            </template>
          </v-radio>
        </v-radio-group>
      </div>
    </div>
    <!-- /Тип резолюция -->

    <div class="mb-5">
      <span class="small-2 d-block font-600 text-7">{{$t('components.controlling')}}</span>

      <div class="d-flex">
        <v-radio-group v-model="indexTableFilters.controller" row mandatory hide-details>
          <v-radio
            :value="null"
            class="mr-12"
          >
            <template #label>
              <span class="ml-2 text-dark small-1 font-500">{{$t('components.all')}}</span>
            </template>
          </v-radio>

          <v-radio
            :value="currentUser.id"
            class="mr-12"
          >
            <template #label>
              <span class="ml-2 text-dark small-1 font-500">{{$t('components.on-control')}}</span>
            </template>
          </v-radio>
        </v-radio-group>
      </div>
    </div>

    <!-- Документы -->
<!--    <div class="mb-5">-->
<!--      <span class="small-2 d-block font-600 text-7">{{ $t('components.documents') }}</span>-->

<!--      <div class="d-flex">-->
<!--        <v-radio-group-->
<!--	        v-model="indexTableFilters.is_agreed"-->
<!--	        row-->
<!--	        mandatory-->
<!--	        hide-details-->
<!--	        class="mt-3"-->
<!--        >-->
<!--          <v-radio-->
<!--            class="mr-12"-->
<!--            :value="null"-->
<!--          >-->
<!--            <template #label>-->
<!--              <span class="ml-2 text-dark small-1 font-500">{{ $t('components.all') }}</span>-->
<!--            </template>-->
<!--          </v-radio>-->

<!--          <v-radio-->
<!--            class="mr-12"-->
<!--            :value="true"-->
<!--          >-->
<!--            <template #label>-->
<!--              <span class="ml-2 text-dark small-1 font-500">{{ $t('components.agreed') }}</span>-->
<!--            </template>-->
<!--          </v-radio>-->

<!--          <v-radio-->
<!--            class="mr-12"-->
<!--            :value="false"-->
<!--          >-->
<!--            <template #label>-->
<!--              <span class="ml-2 text-dark small-1 font-500">{{ $t('components.disagreed') }}</span>-->
<!--            </template>-->
<!--          </v-radio>-->

<!--          <v-radio-->
<!--            class="mr-12"-->
<!--            value="unchecked"-->
<!--          >-->
<!--            <template #label>-->
<!--              <span class="ml-2 text-dark small-1 font-500">{{ $t('components.unverified') }}</span>-->
<!--            </template>-->
<!--          </v-radio>-->
<!--        </v-radio-group>-->
<!--      </div>-->
<!--    </div>-->
    <!-- /Документы -->

    <!-- Резолюция -->
    <div class="mb-4">
      <span class="small-2 d-block font-600 text-7">{{ $t("resolution") }}</span>

      <div class="d-flex">
        <v-radio-group
	        v-model="indexTableFilters.has_resolution"
	        row
	        mandatory
	        hide-details
          class="mt-3"
        >
          <v-radio
            class="mr-12"
            :value="null"
          >
            <template #label>
              <span class="ml-2 text-dark small-1 font-500">{{ $t("components.all") }}</span>
            </template>
          </v-radio>

          <v-radio
            class="mr-12"
            :value="false"
          >
            <template #label>
              <span class="ml-2 text-dark small-1 font-500">{{ $t("not-created") }}</span>
            </template>
          </v-radio>

          <v-radio
            class="mr-12"
            :value="true"
          >
            <template #label>
              <span class="ml-2 text-dark small-1 font-500">{{ $t("created") }}</span>
            </template>
          </v-radio>
        </v-radio-group>
      </div>
    </div>
    <!-- /Резолюция -->

		<div class="mt-7">
			<v-row>
        <!-- Статус -->
        <v-col md="4">
          <div class="app-input">
            <span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.status') }}</span>

            <v-select
              v-model="indexTableFilters.statusList"
              :items="statusList"
              multiple
              item-text="translated"
              item-value="id"
              outlined
              hide-details
              clearable
              background-color="var(--input-bg)"
              @input="handleStatusList"
              @click:clear="clearStatusList"
            >
              <template #append>
                <v-icon>mdi-chevron-down</v-icon>
              </template>
            </v-select>
          </div>
        </v-col>
        <!-- /Статус -->

        <!-- По состоянию -->
        <v-col md="4">
          <div class="app-input">
            <span class="d-block font-600 small-2 mb-2 text-7">{{$t('components.as-condition')}}</span>

            <v-select
              v-model="indexTableFilters.condition"
              :items="documentStateList"
              item-text="title"
              item-value="value"
              outlined
              hide-details
              clearable
              background-color="var(--input-bg)"
            >
              <template #append>
                <v-icon>mdi-chevron-down</v-icon>
              </template>
            </v-select>
          </div>
        </v-col>
        <!-- /По состоянию -->

        <!-- Журнал -->
        <v-col md="4">
          <div class="app-input">
            <span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.journal') }}</span>

            <v-select
              v-model="indexTableFilters.journal"
              :items="journalList"
              outlined
              item-text="name"
              item-value="id"
              background-color="var(--input-bg)"
              hide-details
              clearable
            >
              <template #append>
                <v-icon>mdi-chevron-down</v-icon>
              </template>
            </v-select>
          </div>
        </v-col>
        <!-- /Журнал -->

        <!-- Документ -->
        <v-col md="4">
          <div class="app-input">
            <span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.document-type') }}</span>

            <app-autocomplete
              v-model="indexTableFilters.__doc_type"
              :api-list-url="documentReferenceUrl"
              :api-params="{
                type: 'doc_type'
              }"
              list-type="list"
              item-text="name"
              return-object
              clearable
              cache-items
              @click:clear="clearDocType"
              @input="handleDocType"
            />

            <template v-if="indexTableFilters.__doc_type">
              <div class="d-flex align-center mt-1">
                <v-chip
                  color="primary"
                  small
                  class="mr-2"
                >
                  <span>{{ indexTableFilters.__doc_type.name }}</span>
                </v-chip>

                <v-btn
                  color="error"
                  icon
                  small
                  @click="clearDocType"
                >
                  <trash2-icon size="18" />
                </v-btn>
              </div>
            </template>
          </div>
        </v-col>
        <!-- /Документ -->

        <!-- Рег. номер -->
        <v-col md="4">
          <div class="app-input">
            <span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.registration-number') }}</span>

            <v-text-field
              v-model="indexTableFilters.register_number"
              outlined
              background-color="var(--input-bg)"
              hide-details
              clearable
            />
          </div>
        </v-col>
        <!-- /Рег. номер -->

        <!-- Рег. дата -->
        <v-col md="4">
          <div class="app-input">
            <span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.registration-date') }}</span>

            <app-date-picker
              v-model="indexTableFilters.__register_date"
              with-input
              range
              background-color="var(--input-bg)"
              clearable
              @emit:up="(value) => setDateSelect({ value, state: indexTableFilters, start: 'register_start_date', end: 'register_end_date' })"
              @clickClear="clearDateSelect({ state: indexTableFilters, start: 'register_start_date', end: 'register_end_date' })"
            />
          </div>
        </v-col>
        <!-- /Рег. дата -->

        <!-- Исх. номер -->
        <v-col md="4">
          <div class="app-input">
            <span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.outgoing-number') }}</span>

            <v-text-field
              v-model="indexTableFilters.outgoing_number"
              outlined
              background-color="var(--input-bg)"
              hide-details
              clearable
            />
          </div>
        </v-col>
        <!-- /Исх. номер -->

        <!-- Исх. дата -->
        <v-col md="4">
          <div class="app-input">
            <span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.outgoing-date') }}</span>

            <app-date-picker
              v-model="indexTableFilters.__outgoing_date"
              with-input
              range
              background-color="var(--input-bg)"
              clearable
              @emit:up="(value) => setDateSelect({ value, state: indexTableFilters, start: 'outgoing_start_date', end: 'outgoing_end_date' })"
              @clickClear="clearDateSelect({ state: indexTableFilters, start: 'outgoing_start_date', end: 'outgoing_end_date' })"
            />
          </div>
        </v-col>
        <!-- /Исх. дата -->

        <!-- Корреспондент -->
        <v-col md="4">
          <div class="app-input">
            <span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.correspondent') }}</span>

            <app-autocomplete
              v-model="indexTableFilters.__correspondent"
              api-list-url="/action/correspondent/"
              list-type="list"
              item-text="organization_name"
              return-object
              cache-items
              clearable
              @click:clear="clearCorrespondent"
              @input="handeCorrespondent"
            />

            <template v-if="indexTableFilters.__correspondent">
              <div class="d-flex align-center mt-1">
                <v-chip
                  color="primary"
                  small
                  class="mr-2"
                >
                  <span>{{ indexTableFilters.__correspondent.organization_name }}</span>
                </v-chip>

                <v-btn
                  color="error"
                  icon
                  small
                  @click="clearCorrespondent"
                >
                  <trash2-icon size="18" />
                </v-btn>
              </div>
            </template>
          </div>
        </v-col>
        <!-- /Корреспондент -->

        <!-- На рассмотрение -->
        <v-col md="4">
          <div class="app-input">
            <span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.for-consideration') }}</span>

            <app-autocomplete
              v-model="indexTableFilters.__review_user"
              api-list-url="/user/search/"
              item-value="id"
              item-text="full_name"
              cache-items
              outlined
              hide-details
              clearable
              return-object
              @click:clear="clearReviewUser"
              @input="handeReviewUser"
            />

            <template v-if="indexTableFilters.__review_user">
              <div class="d-flex align-center mt-1">
                <v-chip
                  color="primary"
                  small
                  class="mr-2"
                >
                  <span>{{ indexTableFilters.__review_user.full_name }}</span>
                </v-chip>

                <v-btn
                  color="error"
                  icon
                  small
                  @click="clearReviewUser"
                >
                  <trash2-icon size="18" />
                </v-btn>
              </div>
            </template>
          </div>
        </v-col>
        <!-- /На рассмотрение -->
			</v-row>
		</div>
	</div>
</template>

<script>
import { mapActions, mapGetters, mapState } from "vuex"
import { Trash2Icon } from "vue-feather-icons"

export default {
	name: "InboxTableFilter",
  components: {
    Trash2Icon
  },
	computed: {
		...mapState({
      statusList: state => state.statusList,
      documentStateList: state => state.documentStateList,
      journalList: state => state.journalList,
			indexTableFilters: state => state.documentFlowBoxesInbox.inboxIndexTableFilters
		}),
    /*
    *
    * */
    ...mapGetters({
      currentUser: "auth/getCurrentUser",
    }),
    /*
    *
    * */
    documentReferenceUrl() {
      return `/docflow/${this.currentUser.filial}/reference/`
    },
	},
  methods: {
    ...mapActions({
      setDateSelect: "setDateSelect",
      clearDateSelect: "clearDateSelect",
    }),
    /*
    *
    * */
    handleStatusList() {
      this.indexTableFilters.status = this.indexTableFilters.statusList.join(",")
    },
    /*
    *
    * */
    clearStatusList() {
      this.indexTableFilters.status = null
      this.indexTableFilters.statusList = null
    },
    /*
    *
    * */
    handeCorrespondent() {
      this.indexTableFilters.correspondent_name = this.indexTableFilters.__correspondent.organization_name
      this.indexTableFilters.correspondent = this.indexTableFilters.__correspondent.id
    },
    /*
    *
    * */
    clearCorrespondent() {
      this.indexTableFilters.__correspondent = null
      this.indexTableFilters.correspondent = null
      this.indexTableFilters.correspondent_name = null
    },
    /*
    *
    * */
    handleDocType() {
      this.indexTableFilters.doc_type = this.indexTableFilters.__doc_type.id
      this.indexTableFilters.doc_type_name = this.indexTableFilters.__doc_type.name
    },
    /*
    *
    * */
    clearDocType() {
      this.indexTableFilters.__doc_type = null
      this.indexTableFilters.doc_type = null
      this.indexTableFilters.doc_type_name = null
    },
    /*
    *
    * */
    handeReviewUser() {
      this.indexTableFilters.review_user_name = this.indexTableFilters.__review_user.full_name
      this.indexTableFilters.review_user = this.indexTableFilters.__review_user.id
    },
    /*
    *
    * */
    clearReviewUser() {
      this.indexTableFilters.__review_user = null
      this.indexTableFilters.review_user = null
      this.indexTableFilters.review_user_name = null
    },
  }
}
</script>
