<template>
	<div class="d-flex flex-1 bg-4 rounded-20 pa-3">
		<div class="d-flex flex-column align-start flex-1 pa-4">
			<div class="d-flex align-center w-100 mb-12">
				<span class="heading-9 font-600 text-dark mr-3 d-block">{{ formTitle }} -> {{$t('document-flow.views.registration.orders-and-directives')}}</span>
				<v-divider/>
			</div>

			<div class="w-100 mb-auto">
				<v-row>
					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.document-name')}}</span>

							<v-text-field
								v-model="formModel.title"
								hide-details
								outlined
								background-color="var(--input-bg)"
							></v-text-field>
						</div>
					</v-col>

					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.registration-number')}} <span class="color-red">*</span></span>
							<v-text-field
								v-model="$v.formModel.register_number.$model"
								:error="$v.formModel.register_number.$error"
								hide-details
								outlined
								background-color="var(--input-bg)"
							></v-text-field>
						</div>
					</v-col>

					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.registration-date')}} <span class="color-red">*</span></span>

							<app-date-picker
								v-model="$v.formModel.register_date.$model"
								:error="$v.formModel.register_date.$error"
								with-input
								background-color="var(--input-bg)"
                :allow-dates="(currentUser.role === 'hr_manager' || currentUser.role === 'admin' || currentUser.role === 'chancellery') ? null : getAllowedDates"
							/>
						</div>
					</v-col>

					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.document-type')}} <span class="color-red">*</span></span>

							<app-autocomplete
								v-model="$v.formModel.doc_type.$model"
								:error="$v.formModel.doc_type.$error"
								:api-list-url="documentReferenceUrl"
								:api-params="{
                  type: 'doc_type'
                }"
								list-type="list"
								item-text="name"
								item-value="id"
								cache-items
							/>
						</div>
					</v-col>

					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.journal')}} <span class="color-red">*</span></span>

							<app-autocomplete
								v-model="$v.formModel.sub_journal.$model"
								:error="$v.formModel.sub_journal.$error"
								:api-list-url="documentReferenceUrl"
								:api-params="{
                  type: 'sub_journal'
                }"
								list-type="list"
								item-text="name"
								item-value="id"
							/>
						</div>
					</v-col>

					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.department')}}</span>

							<v-autocomplete
								v-model="formModel.department"
								:items="departmentList"
								item-text="name"
								item-value="id"
								outlined
								hide-details
								clearable
								background-color="var(--input-bg)"
							>
								<template #append>
									<v-icon>mdi-chevron-down</v-icon>
								</template>
							</v-autocomplete>
						</div>
					</v-col>

					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.for-consideration')}}</span>

							<app-autocomplete
								v-model="formModel.__userSelected"
								api-list-url="/user/search/"
								item-text="full_name"
								return-object
								multiple
								cache-items
								:item-disabled="getDisableItems"
                group-staff-visible
							/>
						</div>
					</v-col>

					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.attach-file')}}</span>

							<app-file-upload
								@uploadFiles="uploadFiles"
								class="w-100"
								scanner
							/>
						</div>
					</v-col>

					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.feed-type')}} </span>

							<app-autocomplete
								v-model="formModel.delivery_type"
								:api-list-url="documentReferenceUrl"
								:api-params="{
                  type: 'delivery_type'
                }"
								list-type="list"
								item-text="name"
								item-value="id"
								cache-items
							/>
						</div>
					</v-col>

					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{ $t('components.execution-duration') }}</span>

							<app-date-picker
								v-model="formModel.deadline"
								with-input
								background-color="var(--input-bg)"
							/>
						</div>
					</v-col>

					<v-col md="12">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.content')}} <span class="color-red">*</span></span>

							<v-textarea
								v-model="$v.formModel.description.$model"
								:error="$v.formModel.description.$error"
								outlined
								hide-details
								no-resize
								auto-grow
								background-color="var(--input-bg)"
							></v-textarea>

							<resolution-content-modal
								title="components.add-template"
								title-dialog="components.add-content-resolution"
								class="mt-2"
								@emit:up="(text) => formModel.description = text.name.replace(/<\/?[^>]+(>|$)/g, '')"
							/>
						</div>
					</v-col>
				</v-row>
			</div>
			<div class="d-flex">
				<app-button @click="$router.go(-1)"
				            depressed
				            class="mt-10 mr-4"
				            color="error"
				>
					<template #default>
						{{$t('document-flow.views.registration.back')}}
					</template>
					<template #prepend>
						<v-icon size="20">mdi-arrow-left</v-icon>
					</template>
				</app-button>

				<app-button @click="send"
				            depressed
				            class="mt-10"
				>
					<template #default>
						{{$t('document-flow.views.registration.create-document')}}
					</template>
					<template #append>
						<v-icon size="17">mdi-send</v-icon>
					</template>
				</app-button>
			</div>
		</div>
	</div>
</template>

<script>
import { required } from "vuelidate/lib/validators";
import { mapActions, mapGetters } from "vuex";
import ResolutionContentModal from "../../../../../../../common/components/ResolutionContentModal";
import { format } from "date-fns";

export default {
	name: "index",
	props: {
		formType: {
			type: String,
			default: ""
		},
		formTitle: {
			type: String,
			default: "Регистрация документа"
		}
	},
	components: {
		ResolutionContentModal
	},
	data() {
		return {
			formModel: {
				title: "",
				doc_type: null,
				department: null,
				description: "",
				review_users: [],
				documents: [],
				register_number: null,
				sub_journal: null,
				register_date: (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10),
				is_created: true,
				__userSelected: [],
        loading: false,
				deadline: format(Date.now() + 15 * 24 * 60 * 60 * 1000, "yyyy-MM-dd")
			},
		}
	},
	validations: {
		formModel: {
			// title: {required},
			doc_type: {required},
			description: {required},
			register_number: {required},
			sub_journal: {required},
			register_date: {required},
		},
	},
	computed: {
		...mapGetters({
      currentUser: "auth/getCurrentUser",
			departmentList: "documentFlowModule/getDepartmentList",
			attachDocumentsList: "documentFlowModule/getAttachDocumentsList",
			attachDocumentListID: "documentFlowModule/getAttachDocumentListID",
			getDisableItems: "getDisableItems",
      getAllowedDates: "getAllowedDates",
		}),
		/**/
		documentReferenceUrl() {
			return `/docflow/${this.$store.getters['auth/getCurrentUser'].filial}/reference/`
		}
	},
	created() {
		this.fetchDepartmentList();
	},
	beforeDestroy() {
		this.$store.commit("documentFlowModule/CLEAR_ATTACHED_DOCUMENTS_ID")
	},
	methods: {
		...mapActions({
			fetchDepartmentList: "documentFlowModule/fetchDepartmentList",
			fetchAttachFiles: "documentFlowModule/fetchAttachFiles",
			scanDocument: "documentFlowModule/scanDocument",
			fetchClearFileIDs: "documentFlowModule/fetchClearFileIDs",
		}),
		/**/
		uploadFiles(files) {
			this.fetchAttachFiles({
				files,
			});
		},
		/**/
		send(){
			this.$v.$touch();

			if (this.$v.$invalid) {
				return;
			}

      this.loading = !this.loading

			let data = {
				...this.formModel,
				journal: this.$route.params.id,
				documents: this.attachDocumentListID,
				register_date: `${this.formModel.register_date} ${new Date().getHours()}:${new Date().getMinutes()}`,
				deadline: `${this.formModel.deadline}T18:00:00+05:00`,
				review_users: this.formModel.__userSelected.map(item => Object.assign({}, {user: item.id}))
			}
			this.$store.dispatch("documentFlowModule/fetchRegisterOrdersProtocols", data)
				.then((response) => {
					this.$toast.success(this.$t('document-flow.views.registration.registered'))

          this.loading = false

          this.$router.push({
						name: "DocumentFlowOrdersProtocolsList"
					})
				})
		}
	}
}
</script>

<style scoped>

</style>
