<template>
	<div class="chat-message-view h-100">
		<div class="message-container d-flex bg-4 flex-1 rounded-15 overflow-hidden">
			<div class="aside-width-380 d-flex flex-column border-right">
				<chat-sidebar/>
			</div>
			<div class="chat-area-wrap flex-1 d-flex">
				<template v-if="!isConversationOpen">
					<chat-area-empty/>
				</template>

				<template v-else>
					<chat-area-wrapper/>
				</template>
			</div>
		</div>
	</div>
</template>

<script>
import ChatSidebar from "../components/ChatSidebar";
import ChatAreaEmpty from "../components/ChatAreaEmpty";
import {mapState, mapGetters, mapMutations, mapActions} from "vuex";

const chatMessengerStoreModule = () => import("@/modules/ChatMessenger/store")

export default {
	name: "index",
	components: {
		ChatAreaEmpty,
		ChatSidebar,
		ChatAreaWrapper: () => import(/* webpackChunkName: "ChatAreaWrapper" */ "../components/ChatAreaWrapper")
	},
	computed: {
		/*
		*
		* */
		...mapGetters({
			isConversationOpen: "chatModule/getIsConversationOpen",
		})
	},
}
</script>

<style>
.chat-area-wrap {
	background-image: url('/img/chat-bg.svg');
	background-color: #F7F9FE;
}

[v-theme="dark"] .chat-area-wrap {
	background-image: url('/img/chat-bg-dark.svg');
}
</style>
