<template>
	<div class="layout-aside-view">
		<div class="bg-greyscale-100 rounded-20 pa-2">
			<ul class="pa-0">
				<template v-for="(item, index) in stepsList">
					<li
						class="d-flex gap-x-2 rounded-12 pointer mb-1 pa-3"
						:class="{
							'bg-white shadow-9': setActive(item.document, index)
						}"
						@click="handleItem(index)"
					>
						<div
							class="d-flex align-center justify-center bg-greyscale-500 text-white w-6 h-6 rounded-circle small-3"
							:class="{
								'bg-primary-500-important': setActive(item.document, index),
								'bg-success-300-important': isDocumentSigned(item),
							}"
						>
							<template v-if="isDocumentSigned(item)">
								<base-iconify
									icon="Check"
									class="text-white"
								/>
							</template>

							<template v-else>
								{{ index + 1 }}
							</template>
						</div>

						<h1
							class="flex-1 align-self-center font-600 text-greyscale-900 small-2 mt-n1"
							:class="{
								'text-primary-500-important': setActive(item.document, index),
								'text-greyscale-900-important': isDocumentSigned(item),
							}"
						>
							{{ $t(item.document.type) }}
						</h1>
					</li>
				</template>
			</ul>
		</div>
	</div>
</template>

<script>
import { mapState, mapGetters, mapActions } from 'vuex'

export default {
	name: "Aside",
	computed: {
		...mapState({
			singingDocuments: state => state.hrHiring.singingDocuments,
			stepsList: state => state.hrHiring.stepsList,
		}),
		/*
		*
		* */
		...mapGetters({
			isStepFinished: 'hrHiring/isStepFinished',
			isStepAgreed: 'hrHiring/isStepAgreed',
			currentUser: 'auth/getCurrentUser',
		})
	},
	async mounted() {
		await this.fetchSigningSteps({
			candidate: this.$route.params.id,
			signerId: this.currentUser.id
		})

		if(Object.keys(this.$route.query).length > 0) {
			let index = this.stepsList.findIndex(item => item.document.type === this.$route.query.current)
			this.handleItem(index)
		}
		else {
			this.handleItem(0)
		}
	},
	methods: {
		...mapActions({
			handleSignerSidebarItem: 'hrHiring/handleSignerSidebarItem',
			fetchSigningSteps: 'hrHiring/fetchSigningSteps',
			setActiveSignerDocument: 'hrHiring/setActiveSignerDocument'
		}),
		/*
		*
		* */
		handleItem(index) {
			this.handleSignerSidebarItem({ index })
			this.setActiveSignerDocument({ current: this.$route.query.current })
		},
		/*
		*
		* */
		isDocumentSigned(item) {
			let signer = item.signers.find(user => user.signer_id === this.currentUser.id)

			switch (signer.type) {
				case 'signer':
					return item.document.is_signer_signed
				default: // employer
					return item.document.is_employer_agreed
			}
		},
		/*
		*
		* */
		setActive(item, index) {
			return (this.$route.query.current === undefined && index === 0) || this.$route.query.current === item.type
		}
	}
}
</script>

<style scoped>
.layout-aside-view {
	max-width: 310px;
	width: 100%;
}
</style>