<template>
	<div class="layout-template-view flex-1 bg-greyscale-100 rounded-20 pa-6">
		<div class="d-flex flex-column overflow-y-auto" style="height: calc(100vh - 290px);">
			<div class="flex-1 bg-white rounded-12 pa-8">
				<component :is="loadedTemplate" />
			</div>
		</div>
	</div>
</template>

<script>
import { mapState } from 'vuex'
import { lazyLoadComponent } from '@/common/helpers'
import AppLoader from '@/common/components/base/AppLoader.vue'

export default {
	name: "Content",
	data() {
		return {
			loadedTemplate: null
		}
	},
	computed: {
		...mapState({
			activeSidebarTab: state => state.hrHiring.activeSidebarTab
		}),
	},
	watch: {
		activeSidebarTab: {
			handler(val) {
				// employment_contract => EmploymentContract
				let component = val.current && val.current.split('_').map(text => text[0].toUpperCase() + text.slice(1)).join('')

				this.loadedTemplate = lazyLoadComponent({
					componentFactory: () => import(`../../../Hiring/Show/components/Template/${component}`),
					loading: AppLoader
				})
			},
			deep: true
		}
	}
}
</script>

<style scoped>
.layout-template-view {
	width: 100%;
}
</style>