<template>
	<div class="layout-footer-view border-top mx-n5 mt-4 pa-4">
		<div class="layout-footer-container d-flex gap-x-5">
			<div class="layout-aside-view flex-1"></div>

			<div class="layout-content-view d-flex justify-space-between">
				<app-button class="back-button" @click="prev">
					Назад
				</app-button>

				<template v-if="isStepAgreed({ step: $route.query.current }) && !$route.query.next">
					<sign-with-key-button
						ref="signButton"
						large
						:loading="loading"
						@emit:sign="sign"
					/>
				</template>

				<template v-else-if="!isStepAgreed({ step: $route.query.current })">
					<app-button :loading="loading" @click="next">
						Ознакомиться с документом
					</app-button>
				</template>

				<template v-else>
					<app-button :loading="loading" @click="next">
						Следующий документ
					</app-button>
				</template>
			</div>

			<div class="flex-1"></div>
		</div>
	</div>
</template>

<script>
import { mapState, mapGetters, mapActions } from 'vuex'
import { SignWithKeyButton } from '@/common/components/Buttons'

export default {
	name: "Footer",
	components: {
		SignWithKeyButton
	},
	data() {
		return {
			loading: false
		}
	},
	computed: {
		...mapState({
			stepsList: state => state.hrHiring.stepsList
		}),
		/*
		*
		* */
		...mapGetters({
			currentUser: 'auth/getCurrentUser',
			isStepAgreed: 'hrHiring/isStepAgreed',
		})
	},
	methods: {
		...mapActions({
			fetchSigningAgree: 'hrHiring/fetchSigningAgree',
			fetchSigningSteps: 'hrHiring/fetchSigningSteps',
			handleSignerSidebarItem: 'hrHiring/handleSignerSidebarItem',
			setActiveSignerDocument: 'hrHiring/setActiveSignerDocument',
			fetchSignAllDocuments: 'hrHiring/fetchSignAllDocuments',
			fetchCandidateSigningDocument: 'hrHiring/fetchCandidateSigningDocument',
		}),
		/*
		*
		* */
		async prev() {
			const prev = this.stepsList.findIndex(tab => tab.document.type === this.$route.query.prev)

			if(prev >= 0) {
				await this.handleSignerSidebarItem({ index: prev })
			}
		},
		/*
		*
		* */
		async next() {
			const currentStep = this.stepsList.find(step => step.document.type === this.$route.query.current)
			const next = this.stepsList.findIndex(tab => tab.document.type === this.$route.query.next)

			// Если документ уже создано
			// сделаем просто next
			if(currentStep.document.is_employer_agreed) {
				if(next > 0) {
					await this.handleSignerSidebarItem({ index: next })
					await this.setActiveSignerDocument({ current: this.$route.query.current })
				}

				return
			}

			try {
				this.loading = true

				await this.fetchSigningAgree({
					stepId: currentStep.id,
					signerId: this.currentUser.id,
				})
				await this.fetchSigningSteps({
					candidate: this.$route.params.id,
					signerId: this.currentUser.id
				})

				if(next > 0) {
					await this.handleSignerSidebarItem({ index: next })
					await this.setActiveSignerDocument({ current: this.$route.query.current })
				}
			}
			catch (error) {

			}
			finally {
				setTimeout(() => {
					this.loading = false
				}, 500)
			}
		},
		/*
		*
		* */
		async sign(pkcs7) {
			let model = {
				pkcs7,
				ids: this.stepsList.filter(({ document }) => !document.is_employer_signed).map(({ document }) => document.id)
			}

			try {
				this.loading = true
				await this.fetchSignAllDocuments(model)
				await this.fetchCandidateSigningDocument({ candidate: undefined, title: undefined })
				await this.fetchSigningSteps({ signerId: this.currentUser.id })
				await this.setActiveSignerDocument({current: this.$route.query.current})
				this.$toast.success(this.$t('document-flow.views.boxes.document-signed'))
			}
			catch (error) {
				this.$toast.error(this.$t('survey-client.start.error-an-occured'))
			}
			finally {
				setTimeout(() => {
					this.loading = false
				}, 500)
			}
		}
	}
}
</script>

<style scoped>
.back-button {
	background: #ECF0F4 !important;
	color: #15171C !important;
}

.layout-content-view {
	max-width: 1100px;
	width: 100%;
}
</style>