<template>
	<div class="show-layout-view d-flex flex-column">
		<div class="layout-container d-flex gap-x-5 flex-1">
			<layout-aside />

			<layout-content />
		</div>

		<layout-footer />
	</div>
</template>

<script>
import LayoutAside from './Aside.vue'
import LayoutContent from './Content.vue'
import LayoutFooter from './Footer.vue'

export default {
	name: "Layout",
	components: {
		LayoutAside,
		LayoutContent,
		LayoutFooter
	}
}
</script>

<style scoped>
.show-layout-view {
	flex: 1;
}

.layout-container {
	max-width: 1100px;
	margin: 0 auto;
	width: 100%;
}
</style>