<template>
	<div class="main-layout">
		<div class="d-flex">
			<div class="d-flex pa-5 border-right" style="width: 536px">
				<span class="font-600 heading-8">Vakolatlar</span>
			</div>
			<div class="d-flex pa-5 flex-1">
				<span class="font-600 heading-10">Vakolatlar ro'yxati</span>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: "AuthorityMainLayout"
}
</script>

<style scoped>

</style>
