<template>
	<div class="content-side pa-6 w-100">
		<span class="heading-10 font-600">Vakolatlar ro'yxati</span>

		<v-tabs
			v-model="tab"
			active-class="content-side-tabs"
			background-color="transparent"
			color="primary"
			class="mt-2 border-bottom w-100"
		>
			<v-tab
				v-for="item in affirmationList"
				:key="item.id"
				@change="onAffirmationChange(item)"
			>
				<span class="text-transform-none">{{ item.name }}</span>
			</v-tab>
		</v-tabs>

		<v-tabs-items
			v-model="tab"
		>
			<v-tab-item
				v-for="item in affirmationList"
				:key="item.id"
			>
				<div class="tab-item-content-cover mt-5 pa-6" style="height: calc(100vh - 330px); overflow-y: auto">
					<template v-if="isAffidavitListLoading">
						<app-loader component-based :size="30"/>
					</template>

					<template v-else>
						<template v-if="!affidavitList.length">
							<div class="d-flex w-100 h-100 justify-center align-center">
								<v-img max-height="150" max-width="200" src="@/assets/img/empty-img-gray.png"></v-img>
							</div>
						</template>

						<template v-else>
							<v-row>
								<v-col
									v-for="item in affidavitList"
									md="6"
								>
									<div class="d-flex">
										<v-icon color="primary" class="mr-2">mdi-check-circle</v-icon>
										<span class="font-400 small-2">{{ item.name }}</span>
									</div>
								</v-col>
							</v-row>

							<template v-if="affidavitDetail">
								<div class="affidavit-detail d-flex pa-5 mt-10">
									<v-row>
										<v-col v-if="affidavitDetail.affidavit_expire_date" md="6">
											<div class="d-flex justify-space-between align-start">
												<span class="small-2 font-400 opacity-80">Ishonchnomaning amal qilish muddati:</span>
												<div style="width: 40%">
													<span class="small-2 font-500">{{ affidavitDetail.affidavit_expire_date | filterDateMonthYear }}</span>
												</div>
											</div>
										</v-col>

										<v-col v-if="affidavitDetail.affirmation_number" md="6">
											<div class="d-flex justify-space-between align-start">
												<span class="small-2 font-400 opacity-80">Ishonchnoma raqami va sanasi:</span>
												<div style="width: 40%">
													<span class="small-2 font-500">{{ affidavitDetail.affirmation_number }} &nbsp;&nbsp; {{ affidavitDetail.affirmation_date | filterDateMonthYear }}</span>
												</div>
											</div>
										</v-col>

										<v-col v-if="affidavitDetail.affidavit_order_number" md="6">
											<div class="d-flex justify-space-between align-start">
												<span class="small-2 font-400 opacity-80">Xujjat (buyruq, farmoyish) raqami va sanasi:</span>
												<div style="width: 40%">
													<span class="small-2 font-500">{{ affidavitDetail.affidavit_order_number }} &nbsp;&nbsp; {{ affidavitDetail.affidavit_order_date | filterDateMonthYear }}</span>
												</div>
											</div>
										</v-col>

										<v-col v-if="affidavitDetail.affirmation_saved_in" md="6">
											<div class="d-flex justify-space-between align-start">
												<span class="small-2 font-400 opacity-80">Ishonchnoma saqlanayotgan tarkibiy tuzilma:</span>
												<div style="width: 40%">
													<span class="small-2 font-500">{{ affidavitDetail.affirmation_saved_in }}</span>
												</div>
											</div>
										</v-col>
									</v-row>
								</div>
							</template>
						</template>
					</template>
				</div>
			</v-tab-item>
		</v-tabs-items>
	</div>
</template>

<script>
export default {
	name: "ContentSide",
	data () {
		return {
			tab: null,
			affirmationSelected: {},
			affirmationList: [],

			affidavitList: [],
			affidavitDetail: {},

			isAffidavitListLoading: false,

			userId: null,
		}
	},
	mounted() {
		this.getAffirmationList();

		// setTimeout(() => {
		// 	this.getAffidavitList(this.$route.query.userId, this.affirmationSelected.id)
		// }, 1000)
	},
	methods: {
		getAffirmationList(){
			this.$axios.get(`/affirmation/`)
				.then(({ data }) => {
					this.affirmationList = data.results;
					this.affirmationSelected = data.results[0];

					// this.getAffidavitList(this.$route.query.userId, this.affirmationSelected.id);
					//
					// this.getAffidavitDetail(this.$route.query.userId, this.affirmationSelected.id);
				})
		},
		/**/
		getAffidavitList(user, affirmation){
			this.isAffidavitListLoading = true;

			this.$axios.get(`/affidavit/`, {
				params: {
					user,
					affirmation,
					page_size: 100
				}
			})
			.then(({ data }) => {
				this.affidavitList = data.results;
				this.isAffidavitListLoading = false;
			})
			.catch(err => {
				this.isAffidavitListLoading = false;
			})
		},
		/**/
		onAffirmationChange(item) {
			this.affirmationSelected = item;
			if (this.$route.query.userId){
				this.getAffidavitList(this.$route.query.userId, item.id);
				this.getAffidavitDetail(this.$route.query.userId, item.id);
			}else {
				this.affidavitList = [];
				this.affidavitDetail = null
			}
		},
		/**/
		getAffidavitDetail(userId, affirmationId) {
			this.$axios.get(`/affidavit-detail/`, {
				params: {
					user: userId,
					affirmation: affirmationId
				}
			})
			.then(({ data }) => {
				if (data.results.length){
					this.affidavitDetail = data.results[0]
				}else {
					this.affidavitDetail= null;
				}
			})
		}
	}
}
</script>

<style scoped>

.content-side .v-tab {
	padding: 0!important;
	margin: 0 32px 0 0;
}

.tab-item-content-cover{
	background: #F7F9FE;
	border: 1px solid #DFE2EA;
}

.affidavit-detail {
	border-radius: 10px;
	border: 1px solid #E5E5E5;
	background: #FBFBFB;
}
</style>
