<template>
	<div class="user-side-item pointer">
		<div class="d-flex px-4 py-3 border-all">
			<app-avatar
				:color="user.user.color"
				:fullName="user.user.full_name"
				avatar-size="48"
			/>

			<div class="d-flex ml-3 flex-column justify-center">
				<span class="font-600 small-2 mb-1">{{ user.user.full_name }}</span>
				<span class="user-position font-500 small-3">{{ user.position ? user.position : user.user.position }}</span>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: "UserSideItem",
	props: {
		user: {
			type: Object,
			required: true
		}
	}
}
</script>

<style>
.user-side-item:hover {
	background: #f3f2f2;
}

.user-position {
	color: #6D6D6D;
}
</style>
