<template>
	<div class="user-side">
<!--		<span class="small-2 font-500 user-side-position d-block mt-4 ml-4 mb-3">Boshqaruv Raisi</span>-->
		<div
			v-for="user in usersList"
			@click="$emit('userChange', user)"
			:class="{'active-user': user.user.id.toString() === $route.query.userId}"
		>
			<user-side-item
				:key="user.id"
				:user="user"
			/>
		</div>
	</div>
</template>

<script>
import UserSideItem from "./UserSideItem";

export default {
	name: "UserSide",
	components: {
		UserSideItem
	},
	props: {
		usersList: {
			type: Array,
			required: true
		}
	},
}
</script>

<style>
.user-side-position {
	color: #6E7996;
}
</style>
