<template>
	<div class="d-flex flex-column align-start flex-1 pa-4">
		<template v-if="isLoading">
			<app-loader
				component-based
			/>
		</template>
		<template v-else>
			<div v-if="$route.query.type !== 'for_watching_process'" class="d-flex align-center w-100 mb-12">
				<span class="heading-9 font-600 text-dark mr-3 d-block">{{ formTitle }}</span>
				<v-divider />

				<app-button
          color="error"
          @click="$router.go(-1)"
          class="ml-2"
          v-if="$route.query.type !== 'for_watching_process'"
        >
					<template #prepend>
						<arrow-left-icon size="18" />
					</template>
					<template>
						{{$t('document-flow.views.registration.back')}}
					</template>
				</app-button>

        <template v-if="currentUser.role !== 'assistant'">
          <app-button
            @click="updateDocument"
            depressed
            class="ml-2"
            v-if="$route.query.type !== 'for_watching_process'"
          >
					<template #prepend>
						<v-icon size="17">mdi-content-save</v-icon>
					</template>
            <template #default>
              {{$t('document-flow.views.registration.save')}}
            </template>
          </app-button>
        </template>
			</div>

			<div class="w-100 mb-auto">
				<v-row>
					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.type-registration-document')}}</span>

							<v-autocomplete
								v-model="$v.reviewGetOneOutgoing.journal.$model"
								:error="$v.reviewGetOneOutgoing.journal.$error"
								:items="journalList"
								item-text="name"
								outlined
								hide-details
								return-object
								readonly
								background-color="var(--input-bg)"
							>
								<template #append>
									<v-icon>mdi-chevron-down</v-icon>
								</template>
							</v-autocomplete>
						</div>
					</v-col>

					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.registration-number')}}</span>

							<v-text-field
								v-model="reviewGetOneOutgoing.register_number"
								hide-details
								outlined
								background-color="var(--input-bg)"
                :readonly="currentUser.role === 'assistant' || $route.query.type === 'for_watching_process'"
								@keypress="$store.dispatch('documentFlowModule/checkKeyDownAlphaNumeric', $event)"
								@paste="$store.dispatch('documentFlowModule/checkCopiedText', $event)"
							></v-text-field>
						</div>
					</v-col>

					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.registration-date')}}</span>

							<app-date-picker
								v-model="$v.reviewGetOneOutgoing.register_date.$model"
								:error="$v.reviewGetOneOutgoing.register_date.$error"
								with-input
								background-color="var(--input-bg)"
                :disabled-menu="currentUser.role === 'assistant'"
								:disabled="$route.query.type === 'for_watching_process'"
							/>
						</div>
					</v-col>

					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.document-type')}}</span>

							<app-autocomplete
								v-model="$v.reviewGetOneOutgoing.doc_type.$model"
								:error="$v.reviewGetOneOutgoing.doc_type.$error"
								:api-list-url="documentReferenceUrl"
								:api-params="{
                  type: 'doc_type'
                }"
								list-type="list"
								item-text="name"
								return-object
                :readonly="currentUser.role === 'assistant' || $route.query.type === 'for_watching_process'"
							/>
						</div>
					</v-col>

					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.author')}} <span class="color-red">*</span></span>

							<app-autocomplete
								v-model="$v.reviewGetOneOutgoing.author.$model"
								:error="$v.reviewGetOneOutgoing.author.$error"
								:api-list-url="usersReferenceUrl"
								item-text="full_name"
								cache-items
								return-object
								:item-disabled="(item) => item.condition_name !== 'Рабочие' && item.condition_name !== 'Командировка'"
                :readonly="currentUser.role === 'assistant' || $route.query.type === 'for_watching_process'"
              />
						</div>
						<v-chip
							v-if="reviewGetOneOutgoing.author"
							dark
							:color="reviewGetOneOutgoing.author.color"
							class="mt-2"
						>
							{{ reviewGetOneOutgoing.author && reviewGetOneOutgoing.author.last_name + ' ' +  reviewGetOneOutgoing.author.first_name + ' ' +  reviewGetOneOutgoing.author.father_name}}
						</v-chip>
					</v-col>

					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.signatory')}} <span class="color-red">*</span></span>

							<app-autocomplete
								v-model="$v.reviewGetOneOutgoing.signer.$model"
								:error="$v.reviewGetOneOutgoing.signer.$error"
								:api-list-url="usersReferenceUrl"
								item-text="first_name"
								cache-items
								return-object
								:item-disabled="(item) => item.condition_name !== 'Рабочие' && item.condition_name !== 'Командировка'"
                :readonly="currentUser.role === 'assistant' || $route.query.type === 'for_watching_process'"
              />
						</div>
						<v-chip
							v-if="reviewGetOneOutgoing.signer"
							dark
							:color="reviewGetOneOutgoing.signer.color"
							class="mt-2"
						>
							{{ reviewGetOneOutgoing.signer && reviewGetOneOutgoing.signer.last_name + ' ' +  reviewGetOneOutgoing.signer.first_name + ' ' +  reviewGetOneOutgoing.signer.father_name}}
						</v-chip>
					</v-col>

					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.department')}} <span class="color-red">*</span></span>

							<v-autocomplete
								v-model="$v.reviewGetOneOutgoing.department.$model"
								:error="$v.reviewGetOneOutgoing.department.$error"
								:items="departmentList"
								item-text="name"
								outlined
								hide-details
								return-object
								background-color="var(--input-bg)"
								:readonly="currentUser.role === 'assistant' || $route.query.type === 'for_watching_process'"
							>
								<template #append>
									<v-icon>mdi-chevron-down</v-icon>
								</template>
							</v-autocomplete>
						</div>
					</v-col>

					<v-col v-if="reviewGetOneOutgoing.deadline" md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{ $t('components.execution-duration') }} </span>

							<app-date-picker
								v-model="reviewGetOneOutgoing.deadline"
								with-input
								background-color="var(--input-bg)"
							/>
						</div>
					</v-col>

					<v-col md="6">
						<div v-if="isCorrespondVisible" class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.correspondent')}}</span>

							<app-autocomplete
								ref="correspondent"
								v-model="$v.reviewGetOneOutgoing.correspondent.$model"
								:error="$v.reviewGetOneOutgoing.correspondent.$error"
								api-list-url="/action/correspondent/"
								:api-params="{ is_for_compose: true }"
								list-type="list"
								item-text="organization_name"
								return-object
								cache-items
								clearable
								:search-value="reviewGetOneOutgoing.correspondent && reviewGetOneOutgoing.correspondent.organization_name !== null ? reviewGetOneOutgoing.correspondent.organization_name : ''"
                :readonly="currentUser.role === 'assistant' || $route.query.type === 'for_watching_process'"
              />
						</div>
					</v-col>

					<v-col md="12">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.content')}} <span class="color-red">*</span></span>

							<quill-editor
								v-model="$v.reviewGetOneOutgoing.description.$model"
								:error="$v.reviewGetOneOutgoing.description.$error"
							/>

						</div>
					</v-col>

					<v-col md="12">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.attach-file')}}</span>

							<app-file-upload
								@uploadFiles="uploadFiles"
								class="w-100"
								:show-files="false"
								:disabled="currentUser.role === 'assistant' || $route.query.type === 'for_watching_process'"
							/>

<!--							<v-file-input-->
<!--								@change="uploadFiles"-->
<!--								multiple-->
<!--								prepend-inner-icon="mdi-paperclip"-->
<!--								prepend-icon=""-->
<!--								outlined-->
<!--								hide-details-->
<!--								background-color="var(&#45;&#45;input-bg)"-->
<!--                :disabled="currentUser.role === 'assistant' || $route.query.type === 'for_watching_process'"-->
<!--							></v-file-input>-->
						</div>
					</v-col>

					<v-col md="12">
						<app-table
							:table-width="500"
							:table-head-items="filesTableHeaders"
						>
							<template #tableBody>
								<tr v-for="(document, index) in attachDocumentsList" :key="document.id">
									<td>{{ index + 1 }}</td>
									<td>{{ document.document.name }}</td>
									<td>{{ document.document.created_date | filterCalendarToTime }}</td>
									<td>
										<div class="d-flex align-center" style="width: 90px">
											<app-button
												min-width="43"
												width="43px"
												color="var(--primary-3)"
												icon
												@click="fetchDownloadDocument(document.document)"
											>
												<template #prepend>
													<download-icon size="18"/>
												</template>
											</app-button>

											<app-button
												min-width="43"
												width="43px"
												color="var(--primary-3)"
												icon
												@click="viewDocument(document.document.url)"
											>
												<v-icon size="20">
													mdi-eye-outline
												</v-icon>
											</app-button>

											<app-button
												v-if="['admin', 'chancellery', 'chancellery_admin'].includes(currentUser.role)"
												@click="deleteFile(document.id)"
												min-width="43"
												width="43px"
												color="var(--primary-4)"
												icon
											>
												<template #prepend>
													<trash2-icon size="18"/>
												</template>
											</app-button>
										</div>
									</td>
								</tr>
							</template>
						</app-table>
					</v-col>

					<v-col md="12">
						<review-users :document-model="reviewGetOneOutgoing" :is-disabled="$route.query.type === 'for_watching_process'"/>
					</v-col>

						<v-col md="12" v-if="reviewGetOneOutgoing.document_unique_id">
							<activity
								v-if="reviewGetOneOutgoing.document_unique_id"
								:document-model="reviewGetOneOutgoing"
							/>
						</v-col>
				</v-row>
			</div>
		</template>
		<pdf-viewer-modal ref="pdfModal" />
	</div>
</template>

<script>
import { TABLE_HEAD_TEXT_LIST } from "@/common/constants";
import { selectFromList } from "@/common/helpers";
import { ArrowLeftIcon, DownloadCloudIcon, DownloadIcon, EyeIcon, SendIcon, Trash2Icon } from "vue-feather-icons";
import { required } from "vuelidate/lib/validators";
import { mapActions, mapGetters, mapState } from "vuex";
import PdfViewerModal from "../../../../../../../common/components/PdfViewerModal";
import Activity from "../../Components/Activity";
import ReviewUsers from "../../Components/ReviewUsers";
export default {
	name: "OutgoingFormShowView",
	props: {
		formType: {
			type: String,
			default: ""
		},
		formTitle: {
			type: String,
			default: "Регистрация документа"
		}
	},
	components: {
		Activity,
		ReviewUsers,
		PdfViewerModal,
		Trash2Icon,
		DownloadIcon,
		EyeIcon,
		SendIcon,
		DownloadCloudIcon,
		ArrowLeftIcon
	},
	data() {
		return {
			isCorrespondVisible: false,
		}
	},
	validations: {
		reviewGetOneOutgoing: {
			register_date: {required},
			doc_type: {required},
			description: {required},
			journal: {required},
			department: {required},
			author: {required},
			signer: {required},
			correspondent: {required}
		},
		addCommentsToDocument: {
			description: {required}
		},
		leaveCommentModel: {
			description: {required}
		}
	},
	watch: {
		"reviewGetOneOutgoing.correspondent"(val) {
			setTimeout(() => {
				this.isCorrespondVisible = true
			}, 100)
		},
	},
	computed: {
    ...mapState({
      filteredState: state => state.headerFilter.filteredState,
      filterPagination: state => state.headerFilter.pagination,
	    indexTableFilters: state => state.documentFlowRegistrationOutgoing.indexTableFilters
    }),
    /*
    *
    * */
		...mapGetters({
      currentUser: "auth/getCurrentUser",
			reviewGetOneOutgoing: "documentFlowModule/getReviewGetOneOutgoing",
			journalList: "documentFlowModule/getNewJournalList",
			departmentList: "documentFlowModule/getDepartmentList",
			attachDocumentListID: "documentFlowModule/getAttachDocumentListID",
			attachDocumentsList: "documentFlowModule/getAttachDocumentsList",
			isLoading: "getDetailLoading"
		}),
		/*
		*
		* */
		activeFiltered() {
			let active = {}

			Object.entries(this.indexTableFilters).forEach(filter => {
				const [key, value] = filter

				if(key.startsWith("__")) {
					return;
				}

				if(value || value === true || value === false) {
					active[key] = value
				}
			})

			return active
		},
		filesTableHeaders() {
			return selectFromList([1, 22, 23, 19], TABLE_HEAD_TEXT_LIST)
		},
		/**/
		documentReferenceUrl() {
			return `/docflow/${this.$store.getters['auth/getCurrentUser'].filial}/reference/`
		},
		/**/
		usersReferenceUrl() {
			return `/${this.$store.getters['auth/getCurrentUser'].filial}/user/lists/by_category/`
		}
	},
	mounted() {
		if (this.$route.params.id) {
			this.fetchOutgoingDocumentById(this.$route.params.id);
			this.fetchDepartmentList()
		}
	},
	beforeDestroy() {
		this.fetchClearHistory()
	},
	methods: {
		...mapActions({
			fetchOutgoingDocumentById: "documentFlowModule/fetchOutgoingDocumentById",
			fetchAttachFiles: "documentFlowModule/fetchAttachFiles",
			fetchAttachFilesUpload: "documentFlowModule/fetchAttachFilesUpload",
			fetchDeleteFileFromAttachFile: "documentFlowModule/fetchDeleteFileFromAttachFile",
			fetchOutgoingDocumentUpdate: "documentFlowModule/fetchOutgoingDocumentUpdate",
			fetchDepartmentList: "documentFlowModule/fetchDepartmentList",
			fetchClearHistory: "action/fetchClearHistory",
			fetchDownloadDocument: "documentFlowModule/fetchDownloadDocument",
		}),
		/**/
		updateDocument(){
			this.$v.reviewGetOneOutgoing.$touch();

			if (this.$v.reviewGetOneOutgoing.$invalid) {
				this.$toast.warning(this.$t('document-flow.views.registration.required-field'))
				return;
			}

			this.fetchOutgoingDocumentUpdate(this.reviewGetOneOutgoing).then((data) => {
				this.$toast.success(this.$t('document-flow.views.registration.updated'))
				this.fetchOutgoingDocumentById(this.$route.params.id)
			})
		},
		/**/
		uploadFiles(files) {
			if (files.length) {
				this.fetchAttachFiles({
					files,
					incomingDocId: this.$route.params.id
				}).then((data) => {
					setTimeout(() => {
						this.fetchAttachFilesUpload(this.attachDocumentListID)
					}, 1000)
				});
			}
		},
		/**/
		deleteFile(id) {
			if (!confirm(this.$t('document-flow.views.registration.delete-user-confirmation'))) {
				return;
			}

			this.fetchDeleteFileFromAttachFile({
				fileId: id,
				incomingDocId: this.$route.params.id
			})
		},
		/**/
		viewDocument(url){
			const {pdfModal} = this.$refs
			pdfModal.url = url;
			pdfModal.dialog = true
		}
	}
}
</script>

<style scoped>

</style>
