<template>
  <div class="d-flex grid-gap-md h-100">
    <registration-form-wrapper
      :form-title="$t('document-flow.views.registration.edit-document')"
      :tree-id="treeId"
      :viewer-list="mergeViewList"
      view-type="inner"
    />

    <pdf-viewer
      :viewer-list="attachDocumentsList"
      :register-number="reviewGetOneOutgoing.register_number"
      :register-date="reviewGetOneOutgoing.register_date"
    />
  </div>
</template>

<script>
import PdfViewer from "@/common/components/PdfViewer";
import { mapActions, mapGetters } from "vuex";
import RegistrationFormWrapper from "../../../../../components/RegistrationFormWrapper";

export default {
	name: "OutgoingFormShow",
	components: {
    PdfViewer,
		RegistrationFormWrapper
	},
	data() {
		return {
			treeId: null
		}
	},
	computed: {
		...mapGetters({
			attachDocumentsList: "documentFlowModule/getAttachDocumentsList",
			reviewGetOneOutgoing: "documentFlowModule/getReviewGetOneOutgoing",
		}),
		/*
		*
		* */
		mergeViewList() {
			return [...this.attachDocumentsList]
		}
	},
	mounted() {
		if(this.$route.params.id) {
			this.fetchOutgoingDocumentById(this.$route.params.id).then(data => {
				if (data.tree_id) {
					this.treeId = data.tree_id
				}else {
					this.treeId = this.$route.params.id
				}
			});
			this.fetchAttachFilesList({
				incomingDocId: this.$route.params.id
			})
		}
	},
	methods: {
		...mapActions({
			fetchAttachFilesList: "documentFlowModule/fetchAttachFilesList",
			fetchOutgoingDocumentById: "documentFlowModule/fetchOutgoingDocumentById",
		})
	}
}
</script>
