<template>
  <div style="min-height: 100%">
    <tasks-header
      :changeTab="changeTab"
      :changeTaskType="changeTaskType"
      :filter="filter"
      :tasksStatusCount="tasksStatusCount"
    />
    <div
      style="height: calc(100% - 90px)"
      class="w-100 d-flex justify-space-between"
    >
      <div class="height-100 shadow-6" style="width: 480px; overflow: hidden; border-radius: 14px;">
        <div class="h-100 shadow-6 bg-white">
          <task-actions
            :searchTasks="searchTasks"
            :toggleFilterDialog="toggleFilterDialog"
          />
          <tasks-list
            :currentTask="currentTask"
            :loading="loading"
            :setCurrentTask="setCurrentTask"
            :tasks="tasks"
          />
          <div
            class="d-flex align-center justify-space-between px-3 py-2 bg-white"
            style="position: sticky; top: 0"
          >
            <pagination-info :count="count" :page="filter.page" />
            <v-pagination
              :length="Math.ceil(count / 10)"
              :total-visible="5"
              @input="onChangePage"
              v-model="filter.page"
            />
          </div>
          <tasks-filter
            :documentTypes="documentTypes"
            :exportLoading="exportLoading"
            :filter="filter"
            :openFilter="openFilter"
            :resetFilter="resetFilter"
            :toggleDialog="toggleFilterDialog"
            :viewResults="viewResults"
          />
        </div>
      </div>
      <div
        class="height-100 shadow-6"
        style="width: calc(100% - 500px); overflow: hidden; border-radius: 14px;"
      >
        <div class="h-100 shadow-6 bg-white control-task-column">
          <div v-if="isSelected" class="current-task d-flex" style="padding: 14px 20px 20px 20px; flex-direction: column">
            <div v-if="currentTaskLoading" class="d-flex align-center justify-center" style="height: 300px">
              <app-loader :size="40" />
            </div>
            <template v-else>
              <task-info
                :currentTask="currentTask"
                :currentTaskHistory="currentTaskHistory"
                :currentTaskHistoryLoading="currentTaskHistoryLoading"
                :currentTaskHistoryNext="currentTaskHistoryNext"
                :getHistory="getHistory"
                :removeCurrentTask="removeCurrentTask"
                :setCurrentTask="setCurrentTask"
              />
              <current-task
                :currentPerformer="currentPerformer"
                :currentTask="currentTask"
              />
            </template>
            <app-bar
              :currentPerformer="currentPerformer"
              :hasMyPerformers="myPerformers.length > 0"
              :isAffirmative="isAffirmative"
              :isDepartmentHead="isDepartmentHead"
              :performers="performers"
              :toggleAddPerformerDialog="toggleAddPerformersDialog"
              :toggleForwardTaskDialog="toggleForwardTaskDialog"
              :toggleMyPerformersDialog="toggleMyPerformersDialog"
              :togglePerformersDialog="togglePerformersDialog"
              v-if="!currentTaskLoading"
            />
            <div v-if="responses.length" class="responses">
              <div v-for="(response, index) in filteredResponses" :key="index">
                <log
                  :changeStatus="changeStatus"
                  :isAffirmative="isAffirmative"
                  :isAffirmativeResponse="isAffirmativeResponse"
                  :isDepartmentEmployee="isDepartmentEmployee"
                  :isDepartmentHead="isDepartmentHead"
                  :response="response"
                  :setChangeStatus="setChangeStatus"
                  :toggleDialog="toggleEditLogDialog"
                />
                <response
                  :changeStatus="changeStatus"
                  :isAffirmative="isAffirmative"
                  :isAffirmativeResponse="isAffirmativeResponse"
                  :isDepartmentEmployee="isDepartmentEmployee"
                  :isDepartmentHead="isDepartmentHead"
                  :response="response"
                  :setChangeStatus="setChangeStatus"
                  :toggleEditResponseDialog="toggleEditResponseDialog"
                />
              </div>
            </div>
            <no-responses v-else :responsesLoading="responsesLoading" />
            <load-more
              :getResponses="getResponses"
              :page="page"
              :responsesLoading="responsesLoading"
            />
            <template v-if="!currentTaskLoading">
              <editor
                :currentPerformer="currentPerformer"
                :currentTask="currentTask"
                :getPerformers="getPerformers"
                :isDepartmentEmployee="isDepartmentEmployee"
                :isExecutorDepartmentHead="isExecutorDepartmentHead"
                :responses="responses"
                :setResponses="setResponses"
              />
              <performers
                :affirmativeResponses="affirmativeResponses"
                :affirmatives="affirmatives"
                :branches="branches"
                :closeDialog="togglePerformersDialog"
                :currentTask="currentTask"
                :executors="executors"
                :performers="performers"
                :performersDialog="performersDialog"
              />
              <my-performers
                :branches="branches"
                :closeDialog="toggleMyPerformersDialog"
                :currentPerformer="currentPerformer"
                :currentTask="currentTask"
                :getPerformers="getPerformers"
                :myPerformers="myPerformers"
                :myPerformersDialog="myPerformersDialog"
              />
              <add-performer
                :addPerformerDialog="addPerformerDialog"
                :branches="branches"
                :closeDialog="toggleAddPerformersDialog"
                :currentPerformer="currentPerformer"
                :currentTask="currentTask"
                :filter="filter"
                :getPerformers="getPerformers"
                :getTasksStatusCount="getTasksStatusCount"
                :performers="performers"
              />
              <write-log
                :changeLog="changeLog"
                :changeStatus="changeStatus"
                :closeDialog="toggleWriteLogDialog"
                :setChangeStatus="setChangeStatus"
              />
              <edit-log
                :edit="edit"
                :editLog="editLog"
                :loading="editLogLoading"
                :setEditLog="setEditLog"
                :toggleDialog="toggleEditLogDialog"
                :visible="editLogVisible"
                />
              <edit-response
                :deleteFile="deleteFile"
                :editDialog="editDialog"
                :editLoading="editLoading"
                :editResponse="editResponse"
                :isProgressVisible="isProgressVisible"
                :isSuccess="isSuccess"
                :progressValue="progressValue"
                :saveResponse="saveResponse"
                :toggleEditResponseDialog="toggleEditResponseDialog"
                :uploadFiles="uploadFiles"
              />
              <transfer-task
                :currentPerformer="currentPerformer"
                :currentTask="currentTask"
                :filter="filter"
                :forwardTaskDialog="forwardTaskDialog"
                :getPerformers="getPerformers"
                :getTasksStatusCount="getTasksStatusCount"
                :toggleForwardTaskDialog="toggleForwardTaskDialog"
              />
            </template>
          </div>
          <select-task v-else />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import AddPerformer from "./components/AddPerformer";
import AppBar from "./components/AppBar";
import CurrentTask from "./components/CurrentTask";
import EditLog from "./components/EditLog";
import EditResponse from "./components/EditResponse";
import Editor from "./components/Editor";
import LoadMore from "./components/LoadMore";
import Log from "./components/Log";
import MyPerformers from "./components/MyPerformers";
import NoResponses from "./components/NoResponses";
import PaginationInfo from "./components/PaginationInfo";
import Performers from "./components/Performers";
import Response from "./components/Response";
import SelectTask from "./components/SelectTask";
import Task from "./components/Task";
import TaskActions from "./components/TaskActions";
import TaskInfo from "./components/TaskInfo";
import TasksFilter from "./components/TasksFilter";
import TasksHeader from "./components/TasksHeader";
import TasksList from "./components/TasksList";
import TransferTask from './components/TransferTask'
import WriteLog from "./components/WriteLog";
import head from "lodash/head";
import isObject from "lodash/isObject";
import { mapGetters } from "vuex";
export default {
  name: "Tasks",
  components: {
    AddPerformer,
    AppBar,
    CurrentTask,
    EditLog,
    EditResponse,
    Editor,
    LoadMore,
    Log,
    MyPerformers,
    NoResponses,
    PaginationInfo,
    Performers,
    Response,
    SelectTask,
    Task,
    TaskActions,
    TaskInfo,
    TasksFilter,
    TasksHeader,
    TasksList,
    TransferTask,
    WriteLog,
  },
  computed: {
    ...mapGetters({
      currentUser: "auth/getCurrentUser",
    }),
    allPerformers() {
      const performers = this.performers;
      const allPerformers = (
        Array.isArray(performers) ? performers : []
      ).filter(
        performer =>
          performer?.parent_performer?.performer?.id !==
          performer?.performer?.id
      );
      return allPerformers;
    },
    filteredPerformers() {
      const condition =
        this.currentPerformer?.type === 0
          ? performer =>
              performer?.parent_performer?.performer?.id !==
              performer?.performer?.id
          : performer =>
              (performer?.parent_performer === null && performer?.type === 0) ||
              performer?.type === 1 ||
              performer?.type === 2;
      const filteredPerformers = this.allPerformers.filter(condition);
      return filteredPerformers;
    },
    myPerformers() {
      const myPerformers = this.performers.filter(
        performer =>
          performer?.parent_performer?.performer?.id === this.currentUser?.id
      );
      return myPerformers;
    },
    affirmatives() {
      const affirmatives = this.filteredPerformers.filter(
        performer => performer?.type === 2
      );
      return affirmatives;
    },
    affirmativeResponses() {
      const affirmativeResponses = this.filteredPerformers.filter(
        performer => performer?.type === 1
      );
      return affirmativeResponses;
    },
    executors() {
      const executors = this.filteredPerformers.filter(
        performer => performer?.type === 0
      );
      return executors;
    },
    currentPerformer() {
      const currentPerformer = this.allPerformers.find(
        performer => performer?.performer?.id === this.currentUser?.id
      );
      return currentPerformer || {};
    },
    isAffirmative() {
      const isAffirmative = this.currentPerformer.type === 2;
      return isAffirmative;
    },
    isAffirmativeResponse() {
      const isAffirmativeResponse = this.currentPerformer.type === 1;
      return isAffirmativeResponse;
    },
    isDepartmentHead() {
      const isDepartmentHead =
        this.currentPerformer.type === 0 &&
        this.currentPerformer.parent_performer === null;
      return isDepartmentHead;
    },
    isDepartmentEmployee() {
      const isDepartmentEmployee =
        this.currentPerformer.type === 0 &&
        this.currentPerformer.parent_performer !== null;
      return isDepartmentEmployee;
    },
    isExecutorDepartmentHead() {
      const performers = this.performers;
      const allPerformers = (
        Array.isArray(performers) ? performers : []
      ).filter(performer => performer?.performer?.id === this.currentUser?.id);
      const isExecutorDepartmentHead = allPerformers.length > 1;
      return isExecutorDepartmentHead;
    },
    filteredResponses() {
      const responses = this.responses;
      const filteredResponses = (Array.isArray(responses) ? responses : [])
        .filter(response => {
          if (
            response?.status === 0 &&
            (this.isAffirmative || this.isAffirmativeResponse)
          ) {
            return false;
          } else {
            return true;
          }
        })
        .map(response => {
          const changeLogs = response?.change_logs;
          const change_logs = (
            Array.isArray(changeLogs) ? changeLogs : []
          ).filter(log => log?.to_status !== 2);
          return { change_logs, ...response };
        });
      return filteredResponses;
    },
  },
  mounted() {
    const filter = this.getUrlSearchParams(['clause_number', 'deadline_end_date', 'deadline_start_date', 'doc_end_date', 'doc_start_date', 'doc_number', 'doc_type', 'own_tasks', 'mfo', 'sap_obj_id', 'search', 'type', 'status', 'task', 'page', 'excel', 'export_type', 'task_type', 'performer_id', 'department_or_branch', 'filter_status', 'changed_deadlines_count']);
    const doc_type = parseInt(filter?.doc_type);
    const own_tasks = Boolean(filter?.own_tasks);
    const page = parseInt(filter?.page) || 1;
    const sap_obj_id = parseInt(filter?.sap_obj_id);
    const type = filter?.type || 'chairman';
    const changed_deadlines_count = Boolean(filter?.changed_deadlines_count);
    const newFilter = {...filter, doc_type, sap_obj_id, own_tasks, page, type, changed_deadlines_count};
    this.filter = newFilter;
    this.getBranches();
    this.getDocumentTypes(type);
    this.getTasks(newFilter, true);
    this.getTasksStatusCount(newFilter);
  },
  data() {
    return {
      // tasks
      count: 0,
      currentTask: {},
      currentTaskHistory: [],
      currentTaskHistoryLoading: false,
      currentTaskHistoryNext: false,
      currentTaskHistoryPage: 1,
      currentTaskLoading: true,
      documentTypes: [],
      exportLoading: false,
      isSelected: true,
      loading: true,
      openFilter: false,
      tasks: [],
      tasksStatusCount: this.defaultTasksStatusCount,
      defaultTasksStatusCount: {
        agreed_to_release_from_control: 0,
        all: 0,
        done: 0,
        for_confirm: 0,
        not_confirmed: 0,
        not_done: 0,
        not_requested: 0,
        overdue: 0,
        pending: 0,
        requested: 0,
        review_control: 0,
        uncontrolled: 0,
      },
      filter: {
        clause_number: "",
        deadline_end_date: "",
        deadline_start_date: "",
        department_or_branch: "",
        doc_end_date: "",
        doc_number: "",
        doc_start_sate: "",
        doc_type: "",
        excel: false,
        export_type: "",
        filter_status: "",
        mfo: "",
        own_tasks: false,
        page: 1,
        sap_obj_id: "",
        search: "",
        status: "all",
        task: "",
        task_type: "",
        type: "chairman",
      },
      // performers
      addPerformerDialog: false,
      branches: [],
      forwardTaskDialog: false,
      myPerformersDialog: false,
      performers: [],
      performersDialog: false,
      // responses
      changeStatus: {
        comment: "",
        files: [],
        loading: false,
        open: false,
        responseId: null,
        status: 3,
      },
      editResponse: { files: [], description: "" },
      editDialog: false,
      editLoading: false,
      isProgressVisible: false,
      isSuccess: true,
      page: 1,
      progressValue: 0,
      responses: [],
      responsesLoading: true,

      editLog: {},
      editLogLoading: false,
      editLogVisible: false,
    };
  },
  methods: {
    // tasks
    getUrlSearchParams(params) {
      const search = new URLSearchParams(window.location.search);
      const newParams = (Array.isArray(params) ? params : []).reduce(
        (total, param) => {
          total[param] = search.get(param);
          return total;
        },
        {}
      );
      return newParams;
    },
    createSearch(filter) {
      const {
        changed_deadlines_count = false,
        clause_number,
        deadline_end_date,
        deadline_start_date,
        doc_end_date,
        doc_number,
        doc_start_date,
        doc_type,
        excel,
        export_type,
        filter_status,
        own_tasks = false,
        page = 1,
        performer_id = "",
        search,
        task = this.currentTask?.id,
      } = filter;
      const changedDeadlinesCount = changed_deadlines_count && export_type === '1' ? "&changed_deadlines_count=true" : "";
      const clauseNumber = clause_number ? "&clause_number=" + clause_number : "";
      const deadlineEndDate = deadline_end_date ? "&deadline_end_date=" + deadline_end_date : "";
      const deadlineStartDate = deadline_start_date ? "&deadline_start_date=" + deadline_start_date : "";
      const docEndDate = doc_end_date ? "&doc_end_date=" + doc_end_date : "";
      const docNumber = doc_number ? "&doc_number=" + doc_number : "";
      const docStartDate = doc_start_date ? "&doc_start_date=" + doc_start_date : "";
      const docType = doc_type ? "&doc_type=" + doc_type : "";
      const excelTask = excel ? "&excel=" + excel : "";
      const exportType = "&export_type=" + (export_type ? export_type : '1');
      const filterStatus = filter_status && export_type ? "&filter_status=" + filter_status : ""
      const ownTasks = own_tasks ? "&own_tasks=" + own_tasks : "";
      const performerId = performer_id ? "&performer_id=" + performer_id : "";
      const searchTask = search ? "&search=" + search : "";
      const taskTask = task ? "&task=" + task : "";
      const urlSearch = `?page=${page}${clauseNumber}${deadlineStartDate}${deadlineEndDate}${docStartDate}${docEndDate}${docNumber}${docType}${excelTask}${exportType}${ownTasks}${taskTask}${searchTask}${performerId}${filterStatus}${changedDeadlinesCount}`;
      return urlSearch;
    },
    getTasks(filter = {}, firstLoad) {
      this.loading = true;
      const { department_or_branch, sap_obj_id, mfo, status, type } = filter;
      const statusTask = status === 'is_pending' ? '&is_pending=true' : status === "all" || status === "" || status === null || status === undefined ? "" : "&status=" + status;
      const mfoSapObjId = department_or_branch === "department" ? ( sap_obj_id ? "&mfo_or_sap_id=" + sap_obj_id : "") : department_or_branch === "branch" ? (mfo ? "&mfo_or_sap_id=" + mfo : "") : "";
      const search = this.createSearch(filter);
      this.$axios
        .get(`/control_tasks/${this.currentUser?.filial}/tasks/${type}/${search}${statusTask}${mfoSapObjId}`)
        .then(response => {
          const count = response?.data?.count;
          const results = response?.data?.results;
          const tasks = Array.isArray(results) ? results : [];
          this.count = count;
          this.tasks = tasks;
          if (firstLoad || !this.isSelected) {
            const task = parseInt(new URLSearchParams(window.location.search).get("task"));
            const firstTask = head(tasks)?.id;
            if (task) {
              this.setCurrentTask(task);
              this.isSelected = true;
            } else if (firstTask) {
              this.setCurrentTask(firstTask);
              this.isSelected = true;
            } else {
              this.isSelected = false;
            }
          }
        })
        .catch(() => {
          this.tasks = [];
          if (firstLoad) {
            this.isSelected = false;
          }
        })
        .finally(() => {
          this.loading = false;
          this.redirect(filter);
        });
    },
    exportToExcel(filter) {
      this.exportLoading = true;
      const { department_or_branch, sap_obj_id, mfo, type } = filter;
      const types = {
        'chairman': '0',
        'deputy-chair': '1',
        'audit': '2',
      };
      const newType = types?.[type];
      const mfoSapObjId = department_or_branch === "department" ? ( sap_obj_id ? "&mfo_or_sap_id=" + sap_obj_id : "") : department_or_branch === "branch" ? (mfo ? "&mfo_or_sap_id=" + mfo : "") : "";
      const search = this.createSearch(filter);
      this.$axios
        .get(`/control_tasks/export_tasks/${search}${mfoSapObjId}&type=${newType}`, { responseType: "blob" })
        .then(response => {
          const url = window.URL.createObjectURL(new Blob([response?.data]));
          const fileName = `${this.$t("control-tasks.tasks.reports")}-${new Date().toISOString().replace(/T/, "-").replace(/:/, "-").slice(0, 16)}.xls`;
          const link = document.createElement("a");
          link.href = url;
          link.setAttribute("download", fileName);
          document.body.appendChild(link);
          link.click();
          document.body.removeChild(link);
        })
        .catch(() => {
          this.$toast.error(this.$t("control-tasks.tasks.an-error-occurred"));
        })
        .finally(() => {
          this.exportLoading = false;
          this.openFilter = false;
        });
    },
    onChangePage(page) {
      const filter = {...this.filter, page};
      this.filter = filter;
      this.getTasks(filter);
    },
    getTask(task, firstLoad) {
      if (firstLoad) {
        this.currentTaskLoading = true;
      }
      this.$axios
        .get(`/control_tasks/tasks/${task}/`)
        .then(response => {
          const status = response?.status;
          const task = response?.data;
          if (status === 200 && isObject(task)) {
            this.currentTask = task;
          } else {
            this.currentTask = {id: task};
          }
        })
        .catch(() => {
          this.currentTask = {id: task};
        })
        .finally(() => {
          if (firstLoad) {
            this.currentTaskLoading = false;
          }
        });
    },
    getPerformers(task) {
      this.$axios
        .get(`/control_tasks/tasks/${task}/performers/`)
        .then(response => {
          const data = response?.data;
          const performers = Array.isArray(data) ? data : [];
          this.performers = performers;
        })
        .catch(() => {
          this.performers = [];
        });
    },
    getTasksStatusCount(filter) {
      const { department_or_branch = "", mfo = "", sap_obj_id = "", type } = filter;
      const mfoOrSapObjId = department_or_branch === "department" ? ( sap_obj_id ? "&mfo_or_sap_id=" + sap_obj_id : "") : department_or_branch === "branch" ? (mfo ? "&mfo_or_sap_id=" + mfo : "") : "";
      const search = this.createSearch(filter);
      this.$axios
        .get(`/control_tasks/reports_by_status/${type}/${search}${mfoOrSapObjId}`)
        .then(response => {
          const data = response?.data;
          const status = response?.status;
          if (data && status === 200) {
            this.tasksStatusCount = data;
          } else {
            this.tasksStatusCount = this.defaultTasksStatusCount;
          }
        })
        .catch(() => {
          this.tasksStatusCount = this.defaultTasksStatusCount;
        });
    },
    getDocumentTypes(type = 'chairman') {
      const types = {
        'chairman': '0',
        'deputy-chair': '1',
        'audit': '2',
      };
      const newType = types?.[type];
      this.$axios.get(`/control_tasks/doc_type/?type=${newType}`)
        .then(response => {
          const results = response?.data?.results;
          const documentTypes = Array.isArray(results) ? results : [];
          this.documentTypes = documentTypes;
        })
        .catch(() => {
          this.documentTypes = [];
        });
    },
    removeCurrentTask() {
      this.isSelected = false;
      const tasks = this.tasks.filter(task => task?.id !== this.currentTask?.id);
      this.tasks = tasks;
    },
    redirect(filter = {}) {
      const { mfo, sap_obj_id, department_or_branch, status, type } = filter;
      const statusTask = status === "all" || status === "" || status === null || status === undefined ? "" : "&status=" + status;
      const search = this.createSearch(filter);
      const sapObjId = sap_obj_id ? "&sap_obj_id=" + sap_obj_id : "";
      const taskMfo = mfo ? "&mfo=" + mfo : "";
      const departmentOrBranch = department_or_branch ? "&department_or_branch=" + department_or_branch : "";
      const currentPath = window.location.pathname + window.location.search;
      const path = `/control-tasks/tasks${search}&type=${type}${statusTask}${departmentOrBranch}${sapObjId}${taskMfo}`;
      if(currentPath !== path) {
        this.$router.push({ path });
      }
    },
    setCurrentTask(task, redirect) {
      if(redirect) {
        const filter = {...this.filter, task};
        this.filter = filter;
        this.redirect(filter);
      };
      this.isSelected = true;
      this.page = 1;
      this.responses = [];
      this.response = {
        files: [],
        description: "",
      };
      this.getHistory(task);
      this.getPerformers(task);
      this.getResponses(task, true);
      this.getTask(task, true);
    },
    getHistory(task, nextLoad) {
      const currentTaskHistoryPage = nextLoad ? this.currentTaskHistoryPage + 1 : 1;
      this.currentTaskHistoryPage = currentTaskHistoryPage;
      this.currentTaskHistoryLoading = true;
      this.$axios
        .get(`/control_tasks/tasks/activities/?task=${task}&page=${currentTaskHistoryPage}`)
        .then(response => {
          const currentTaskHistoryNext = response?.data?.next;
          const results = response?.data?.results;
          const histories = Array.isArray(results) ? results : [];
          const currentTaskHistory = nextLoad ? [...this.currentTaskHistory, ...histories] : histories
          this.currentTaskHistory = currentTaskHistory;
          this.currentTaskHistoryNext = !!currentTaskHistoryNext;
        })
        .catch(() => {
          const currentTaskHistory = nextLoad ? this.currentTaskHistory : [];
          this.currentTaskHistory = currentTaskHistory;
          this.currentTaskHistoryNext = false;
        })
        .finally(() => {
          this.currentTaskHistoryLoading = false;
        });
    },
    changeTab(status) {
      const filter = { ...this.filter, status, page: 1 };
      this.filter = filter;
      this.getTasks(filter);
      this.getTasksStatusCount(filter);
    },
    changeTaskType(type = 'chairman') {
      const filter = { ...this.filter, type };
      this.filter = filter;
      this.getDocumentTypes(type);
      this.getTasks(filter, true);
      this.getTasksStatusCount(filter);
    },
    resetFilter() {
      const filter = {
        changed_deadlines_count: false,
        clause_number: "",
        deadline_end_date: "",
        deadline_start_date: "",
        department_or_branch: "",
        doc_end_date: "",
        doc_number: "",
        doc_start_date: "",
        doc_type: "",
        excel: false,
        export_type: "",
        filter_status: "",
        mfo: "",
        own_tasks: false,
        page: 1,
        sap_obj_id: "",
        search: "",
        status: "all",
        task: this.currentTask?.id,
        task_type: "",
        type: "chairman",
      };
      this.filter = filter;
      this.getTasks(filter);
      this.getTasksStatusCount(filter);
      this.openFilter = false;
    },
    viewResults() {
      const filter = { ...this.filter, page: 1 };
      const excel = filter?.excel;
      this.getTasks(filter);
      this.getTasksStatusCount(filter);
      if(excel) {
        this.exportToExcel(filter);
      } else {
        this.openFilter = false;
      }
    },
    searchTasks(search) {
      const filter = { ...this.filter, search, page: 1 };
      this.filter = filter;
      this.getTasks(filter);
    },
    // performers
    getBranches() {
      this.$axios
        .get("/filials/?page_size=100")
        .then(response => {
          const results = response?.data?.results;
          const branches = Array.isArray(results) ? results : [];
          this.branches = branches;
        })
        .catch(() => {
          this.branches = [];
        });
    },
    setPerformers(performers) {
      this.performers = performers;
    },
    // responses
    getResponses(task, firstLoad) {
      this.responsesLoading = true;
      const taskId = task ? task : this.currentTask?.id;
      this.$axios
        .get(`/control_tasks/tasks/${taskId}/responses/?page=${firstLoad ? 1 : this.page}`)
        .then(response => {
          const results = response?.data?.results;
          const next = response?.data?.next;
          if (next) {
            this.page = this.page + 1;
          } else {
            this.page = null;
          }
          const checkedResponses = Array.isArray(results) ? results : [];
          const responses = firstLoad
            ? checkedResponses
            : [...this.responses, ...checkedResponses];
          this.responses = responses;
        })
        .catch(() => {
          this.page = null;
        })
        .finally(() => {
          this.responsesLoading = false;
        });
    },
    setChangeStatus(changeStatus) {
      this.changeStatus = changeStatus;
    },
    setResponses(responses) {
      this.getTask(this.currentTask?.id);
      this.getTasksStatusCount(this.filter);
      this.responses = responses;
    },
    changeLog() {
      if (this.changeStatus?.comment) {
        this.changeStatus = {
          ...this.changeStatus,
          loading: true,
        };
        const files = this.changeStatus?.files.length ? { files: this.changeStatus?.files } : {};
        const data = {
          ...this.changeStatus,
          ...files,
        }
        this.$axios
          .put(
            `/control_tasks/tasks/${this.currentTask?.id}/responses/${this.changeStatus?.responseId}/change_status/`,
            data
          )
          .then(response => {
            const status = response?.status;
            const data = response?.data;
            if (status === 201 && isObject(data)) {
              const responses = this.responses;
              const newResponses = (
                Array.isArray(responses) ? responses : []
              ).map(response => {
                if (response.id === this.changeStatus?.responseId) {
                  return {
                    ...response,
                    status: this.changeStatus?.status,
                    change_logs: [data, ...response?.change_logs],
                  };
                } else {
                  return response;
                }
              });
              this.changeStatus = {
                ...this.changeStatus,
                  comment: "",
                  files: [],
                  open: false,
              };
              this.getPerformers(this.currentTask?.id);
              this.getTasksStatusCount(this.filter);
              this.responses = newResponses;
              this.$toast.success(
                this.$t("control-tasks.tasks.answer-written")
              );
            } else {
              this.$toast.error(
                this.$t("control-tasks.tasks.an-error-occurred")
              );
            }
          })
          .catch(() => {
            this.$toast.error(this.$t("control-tasks.tasks.an-error-occurred"));
          })
          .finally(() => {
            this.changeStatus = {
              ...this.changeStatus,
              loading: false,
            };
            this.getTask(this.currentTask?.id);
          });
      } else {
        this.$toast.error(this.$t("control-tasks.tasks.write-comment"));
      }
    },
    setEditLog(editLog) {
      this.editLog = editLog;
    },
    edit() {
      this.editLogLoading = true;
      const files = this.editLog?.files.length ? { files: this.editLog?.files } : {};
      const data = {
        ...this.editLog,
        ...files,
      }
      this.$axios
        .patch(`/control_tasks/response/${this.editLog?.response}/change_log/${this.editLog?.id}/`, data)
        .then(response => {
          if(response?.status === 200) {
            this.$toast.success('Izoh ozgartirildi');
            this.editLogVisible = false;
            this.getResponses(this.currentTask?.id, true)
          } else {
            this.$toast.error(this.$t("control-tasks.tasks.an-error-occurred"));
          }
        })
        .catch(() => {
          this.$toast.error(this.$t("control-tasks.tasks.an-error-occurred"));
        })
        .finally(() => {
          this.editLogLoading = false;
        });
    },
    saveResponse() {
      const description = this.editResponse?.description;
      const files = this.editResponse?.files;
      const responseId = this.editResponse?.id;
      if (description) {
        this.editLoading = true;
        const data = { description, files: Array.isArray(files) ? files : [] };
        this.$axios
          .put(
            `/control_tasks/tasks/${this.currentTask?.id}/responses/${responseId}/`,
            data
          )
          .then(response => {
            const status = response?.status;
            const data = response?.data;
            if (status === 200 && isObject(data)) {
              this.$toast.success(
                this.$t("control-tasks.tasks.answer-written")
              );
              const responses = (
                Array.isArray(this.responses) ? this.responses : []
              ).map(response => {
                if (response?.id === responseId) {
                  return data;
                } else {
                  return response;
                }
              });
              this.responses = responses;
              this.toggleEditResponseDialog();
            } else {
              this.$toast.error(
                this.$t("control-tasks.tasks.an-error-occurred")
              );
            }
          })
          .catch(() => {
            this.$toast.error(this.$t("control-tasks.tasks.an-error-occurred"));
          })
          .finally(() => {
            this.editLoading = false;
          });
      } else {
        this.$toast.error(this.$t("control-tasks.tasks.write"));
      }
    },
    uploadFiles(files) {
      if (files) {
        this.isProgressVisible = true;
        this.progressValue = 0;
      }
      this.isSuccess = true;
      for (let i = 0; i < files.length; i++) {
        let formData = new FormData();
        formData.append("file", files[i]);
        let progressValue = 0;
        this.$axios
          .post("/upload/", formData, {
            onUploadProgress: progressEvent => {
              progressValue = parseInt(
                Math.round((progressEvent.loaded / progressEvent.total) * 100)
              );
              if (progressValue <= 100) {
                this.progressValue = progressValue - 1;
              }
            },
          })
          .then(response => {
            this.progressValue = progressValue;
            const status = response?.status;
            const data = response?.data;
            if (status === 200 && isObject(data)) {
              const editResponseFiles = this.editResponse?.files;
              const files = Array.isArray(editResponseFiles)
                ? editResponseFiles
                : [];
              this.editResponse = {
                ...this.editResponse,
                files: [...files, data],
              };
              this.isSuccess = true;
            } else {
              this.isSuccess = false;
            }
          })
          .catch(() => {
            this.isSuccess = false;
          })
          .finally(() => {
            setTimeout(() => {
              this.isProgressVisible = false;
              document.getElementById("edit-response-file-input").value = "";
            }, 2000);
          });
      }
    },
    deleteFile(fileId) {
      const editResponseFiles = this.editResponse?.files;
      const files = (
        Array.isArray(editResponseFiles) ? editResponseFiles : []
      ).filter(file => file?.id !== fileId);
      this.editResponse = {
        ...this.editResponse,
        files,
      };
      document.getElementById("edit-response-file-input").value = "";
    },
    // ui methods
    toggleEditLogDialog(log) {
      this.editLog = log;
      this.editLogVisible = !this.editLogVisible;
    },
    toggleForwardTaskDialog() {
      this.forwardTaskDialog = !this.forwardTaskDialog;
    },
    toggleAddPerformersDialog() {
      this.addPerformerDialog = !this.addPerformerDialog;
    },
    toggleMyPerformersDialog() {
      this.myPerformersDialog = !this.myPerformersDialog;
    },
    togglePerformersDialog() {
      this.performersDialog = !this.performersDialog;
    },
    toggleFilterDialog() {
      this.openFilter = !this.openFilter;
    },
    toggleWriteLogDialog() {
      this.changeStatus = {
        ...this.changeStatus,
        open: !this.changeStatus.open,
      };
    },
    toggleEditResponseDialog(response) {
      this.editDialog = !this.editDialog;
      this.editLoading = false;
      this.isProgressVisible = false;
      this.progressValue = 0;
      const editResponse = isObject(response)
        ? response
        : { files: [], description: "" };
      this.editResponse = editResponse;
    },
  },
};
</script>
<style>
.control-task-column {
  overflow-y: auto;
}
.control-task-column::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
.control-task-column::-webkit-scrollbar-track {
  border-radius: 3px;
  box-shadow: none;
}
.control-task-column::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #5964d1;
}
.control-task-column::-webkit-scrollbar-thumb:hover {
  background-color: #5964d1;
}
.current-task .item-property {
  color: rgba(23, 23, 23, 0.5);
  font-size: 15px;
}
.current-task .item-property + div {
  font-size: 15px;
}
.current-task .current-task-description * {
  margin: 0 4px 0 0;
  word-break: break-word;
  font-weight: 400;
  font-size: 15px;
}
</style>
