<template>
	<div
		class="phone-book-home d-flex flex-column h-100"
		:class="basePhoneBook ? 'base-phone-book' : ''"
	>
			<app-wrapper class="mb-4">
				<template #body>
					<v-row align="center" class="pa-1">
						<v-col :md="basePhoneBook ? '2' : '1'" class="py-0 pl-1">
							<div class="d-flex align-center">
								<v-btn
									v-if="basePhoneBook"
									:to="{name: 'MainDashboard'}"
									color="primary"
									depressed
									width="80"
									class="mr-4"
								>
									{{$t('phonebook.views.main')}}
								</v-btn>
								<h3 class="line-base">{{$t('phonebook.views.phonebook')}}</h3>
							</div>
						</v-col>

						<v-col md="3" class="py-0">
							<div class="app-input">
								<v-text-field
									@input="search"
									hide-details
									outlined
									dense
									clearable
									:placeholder="$t('phonebook.views.search')"
									background-color="var(--input-bg)"
								>
									<template #prepend-inner>
										<search-icon class="mr-1 d-block" size="20" color="var(--text-4)"/>
									</template>
								</v-text-field>
							</div>
						</v-col>

						<v-spacer/>

						<v-col md="3" class="py-0 pr-1">
							<app-autocomplete
								v-model="filialSelected"
								api-list-url="/filials/"
								item-text="name"
								item-value="mfo"
								list-type="list"
								cache-items
								dense
								:label="$t('phonebook.views.branches')"
							/>
						</v-col>

						<v-col md="2" class="py-0">
							<v-select
								@change="fetchDepartmentSelected"
								v-model="departmentSelected"
								:items="getDepartmentList"
								item-text="name"
								return-object
								outlined
								dense
								hide-details
								:label="$t('phonebook.views.department')"
								append-icon="mdi-chevron-down"
								background-color="var(--input-bg)"
							>
							</v-select>
						</v-col>
					</v-row>
				</template>
			</app-wrapper>

			<template v-if="isPhoneBookLoading">
				<app-loader content-width/>
			</template>

			<template v-else>
				<div class="d-flex flex-column h-100 bg-4 rounded-20 pa-1 overflow-hidden">
					<div class="d-flex flex-column flex-1 h-100 overflow-hidden">
						<perfect-scrollbar class="d-flex flex-column flex-1 h-100">
							<app-table bordered>
								<template #tableHeader>
									<th width="650">
										<span>{{$t('phonebook.views.full-name')}}</span>
									</th>
									<th>
										<span>{{$t('phonebook.views.position')}}</span>
									</th>
									<th width="300">
										<span>{{$t('phonebook.views.status')}}</span>
									</th>
									<th width="150">
										<span>{{$t('phonebook.views.number')}}</span>
									</th>
									<th v-if="currentUser.role === 'network_operator'" width="150">
										<span>{{$t('phonebook.views.change-number')}}</span>
									</th>
								</template>

								<template #tableBody>
									<template v-if="departmentUsersList.length">
										<template v-for="(user, index) in departmentUsersList">
                      <tr :key="index" v-if="user.header" class="tr-header">
                        <td colspan="5">
                          <div class="d-flex flex-wrap">
                            <span class="font-500 mr-10">
                              {{$t('phonebook.views.department')}}:
                              <span>
                                {{ user.header && user.header.dep_parent_name === null ? user.header.dep_name : user.header.dep_parent_name }}
                              </span>
                            </span>
                            <span class="font-500 mr-10">
                              {{$t('phonebook.views.section')}}:
                              <span>
                                {{ user.header && user.header.dep_parent_name === null ? "" : user.header.dep_name }}
                              </span>
                            </span>
                            <span class="font-500 mr-10">{{$t('phonebook.views.branch')}}: <span>{{ user.header && user.header.filial_name }}</span></span>
                          </div>
                        </td>
                      </tr>
                      <template>
                        <tr
													v-for="child in user.children"
                          :key="child.id"
                          @click="userModel = child; userModal = true"
                        >
                          <td>
                            <div class="d-flex align-center">
                              <v-avatar size="42" :color="child.color">
                                <img
                                  v-if="child.avatar"
                                  :src="child.avatar.url"
                                  alt="John"
                                  class="object-cover w-100 h-100"
                                >

                                <span v-else class="text-white font-600">{{ child.first_name | getFirstCharacterWithoutDot }}</span>
                              </v-avatar>

                              <h4 class="font-600 ml-4">{{ child.full_name }}</h4>
                            </div>
                          </td>
                          <td>
                            <span class="font-600">{{ child.position }}</span>
                          </td>
                          <td>
                            <span class="font-600">{{ child.condition_name }}</span>
                          </td>
                          <td>
                            <span class="font-600">{{ child.cisco }}</span>
                          </td>
                          <td
                            v-if="currentUser.role === 'network_operator'"
                            class="text-center"
                          >
                            <app-button
                              @click="editModal = true; userSelected = child; ciscoNumber = child.cisco"
                              min-width="40"
                              width="40"
                              height="40"
                            >
                              <edit3-icon size="18"/>
                            </app-button>
                          </td>
                        </tr>
                      </template>
										</template>
									</template>

									<template v-else>
										<tr>
											<td colspan="6">
												<h2 class="font-600 text-center">{{$t('phonebook.views.not-found')}}</h2>
											</td>
										</tr>
									</template>
								</template>
							</app-table>
						</perfect-scrollbar>
					</div>

					<!--      <div style="height: 48px" class="d-flex align-center px-4 border-top">-->
					<!--        <span class="font-500 small-2">1 - 10 из 195 списка</span>-->

					<!--        <v-spacer />-->

					<!--        <app-pagination />-->
					<!--      </div>-->
				</div>
			</template>

			<!-- Edit cisco number dialog -->
			<v-dialog
				v-model="editModal"
				max-width="320"
			>
				<v-card>
					<v-card-title>
						<span class="small-1 font-600">{{$t('phonebook.views.change-number')}}</span>

						<v-spacer/>

						<v-btn @click="editModal = false" icon depressed>
							<x-icon size="18" color="var(--text-2)"/>
						</v-btn>
					</v-card-title>

					<v-card-text class="border-top border-bottom">
						<div class="pt-5">
							<div class="app-input">
								<v-text-field
									v-model="ciscoNumber"
									v-mask="'##-##'"
									:label="$t('phonebook.views.number')"
									background-color="var(--input-bg)"
									outlined
									hide-details
								></v-text-field>
							</div>
						</div>
					</v-card-text>

					<div class="py-3 px-6 text-center">
						<app-button @click="updateCisco">
							<template #prepend>
								<edit3-icon size="18"/>
							</template>

							<template>
								{{$t('phonebook.views.change')}}
							</template>
						</app-button>
					</div>
				</v-card>
			</v-dialog>
		<!-- End edit cisco number dialog -->

    <!-- Show user dialog -->
    <v-dialog
      v-model="userModal"
      max-width="640px"
    >
      <div class="bg-white">
        <div class="d-flex justify-end">
          <v-btn
            color="error"
            icon
            depressed
            @click="userModal = false"
          >
            <x-icon size="18" color="var(--primary-4)"/>
          </v-btn>
        </div>

        <div class="pa-10 pt-0">
          <div class="d-flex align-center">
            <v-avatar size="120" :color="userModel.color">
              <img
                v-if="userModel.avatar"
                :src="userModel.avatar.url"
                alt="John"
                class="object-cover w-100 h-100"
              />

              <span v-else class="text-white font-600 heading-1">{{ userModel.first_name && userModel.first_name | getFirstCharacterWithoutDot }}</span>
            </v-avatar>

            <div class="ml-5">
              <p class="small-2 font-500 mb-0">{{ userModel.full_name }}</p>

              <span class="small-2 text-4">{{ userModel.position }}</span>
            </div>
          </div>

          <div class="mt-5">
            <v-row no-gutters>
              <v-col md="6">
                <span class="text-3 small-2">{{$t('phonebook.views.department')}}</span>
              </v-col>

              <v-col md="6">
                <span class="small-2">
                  {{ userModel.dep_parent_name === null ? userModel.dep_name : userModel.dep_parent_name }}
                </span>
              </v-col>
            </v-row>
          </div>

          <div class="mt-5">
            <v-row no-gutters>
              <v-col md="6">
                <span class="text-3 small-2">{{$t('phonebook.views.section')}}</span>
              </v-col>

              <v-col md="6">
                <span class="small-2">
                  {{ userModel.dep_parent_name === null ? "" : userModel.dep_name }}
                </span>
              </v-col>
            </v-row>
          </div>

          <div class="mt-5">
            <v-row no-gutters>
              <v-col md="6">
                <span class="text-3 small-2">{{$t('phonebook.views.branch')}}</span>
              </v-col>

              <v-col md="6">
                <span class="small-2">{{ userModel.filial_name }}</span>
              </v-col>
            </v-row>
          </div>

          <div class="mt-5">
            <v-row no-gutters>
              <v-col md="6">
                <span class="text-3 small-2">{{$t('phonebook.views.position')}}</span>
              </v-col>

              <v-col md="6">
                <span class="small-2">{{ userModel.position }}</span>
              </v-col>
            </v-row>
          </div>

          <div class="mt-5">
            <v-row no-gutters>
              <v-col md="6">
                <span class="text-3 small-2">Cisco</span>
              </v-col>

              <v-col md="6">
                <span class="small-2">{{ userModel.cisco }}</span>
              </v-col>
            </v-row>
          </div>
        </div>
      </div>
    </v-dialog>
    <!-- /Show user dialog -->

		<!--    <pre>{{ departmentUsersList }}</pre>-->
	</div>
</template>

<script>
import { debounce } from "lodash"
import { Edit3Icon, SearchIcon, XIcon } from "vue-feather-icons"
import { mapActions, mapGetters } from "vuex"

export default {
	name: "Home",
	components: {
		SearchIcon,
		Edit3Icon,
		XIcon
	},
	data() {
		return {
			filialSelected: "09013",
			departmentSelected: {
				id: 47968,
				dep_id: 2,
				name: "Рахбарият",
				filial: 1,
				mfo: "09013",
				parent: null,
				code: "000049",
				parent_code: "000000",
				condition: "A",
				sub_departments: [],
			},
			userSelected: {},
			ciscoNumber: null,
			editModal: false,
      userModal: false,
      userModel: {}
		}
	},
	computed: {
		...mapGetters({
			currentUser: "auth/getCurrentUser",
			getDepartmentList: "phoneBookModule/getDepartmentList",
			departmentUsersList: "phoneBookModule/departmentUsersList",
			isPhoneBookLoading: "phoneBookModule/isPhoneBookLoading",
		}),
		/**/
		basePhoneBook() {
			return this.$route.name === 'BasePhoneBookHome';
		}
	},
	watch: {
		filialSelected: {
			handler(value) {
				this.fetchDepartmentList(value)

				setTimeout(() => {
					if (this.getDepartmentList && this.getDepartmentList[0] ){
						this.departmentSelected = this.getDepartmentList[0]
					}
					// Отчистим массив перед тем как заполнить
					this.clearDepartmentUserList()

					this.fetchDepartmentSelected(this.departmentSelected)
				}, 1000)
			},
			immediate: true,
			deep: true
		}
	},
	methods: {
		...mapActions({
			fetchDepartmentList: "phoneBookModule/fetchDepartmentList",
			fetchDepartmentSelected: "phoneBookModule/fetchDepartmentSelected",
			clearDepartmentUserList: "phoneBookModule/clearDepartmentUserList",
			fetchDepartmentUsers: "phoneBookModule/fetchDepartmentUsers",
		}),
		/*
		*
		* */
		updateCisco() {
			this.$http.put(`/phonebook/${this.userSelected.id}/`, {cisco: this.ciscoNumber})
				.then(() => {
					this.fetchDepartmentSelected(this.departmentSelected)
				})
				.finally(() => {
					this.editModal = false

					this.$toast.success(this.$t('phonebook.views.changed'))
				})
		},
		/*
		*
		* */
		/*
		*
		* */
		search: debounce(function (value) {
			// Отчистим массив перед тем как заполнить
			this.clearDepartmentUserList()

			if (value && value.length) {
				this.fetchDepartmentUsers({search: value})
			} else {
				this.fetchDepartmentSelected(this.departmentSelected)
			}
		}, 500)
	}
}
</script>

<style scoped>
.base-phone-book {
	padding: 25px;
}
</style>
