<template>
  <div class="phone-book-module h-100">
<!--    <template v-if="moduleLoaded">-->
      <router-view />
<!--    </template>-->
  </div>
</template>

<script>
// import { mapState, mapMutations } from "vuex";

// const PhoneBookModule = () => import(/* webpackChunkName: "PhoneBookModule" */ "@/modules/PhoneBook/store")

export default {
  name: "index",
  // computed: {
  //   ...mapState({
  //     moduleLoaded: "isDynamicModuleLoaded"
  //   }),
  // },
  // mounted() {
  //   PhoneBookModule().then(PhoneBookModule => {
  //     this.$store.registerModule("phoneBookModule", PhoneBookModule.default)
  //
  //     this.LOADED_DYNAMIC_MODULE(true)
  //
  //     console.log(this.$store.state)
  //   })
  // },
  // beforeDestroy() {
  //   this.$store.unregisterModule("phoneBookModule")
  //   this.LOADED_DYNAMIC_MODULE(false)
  // },
  // methods: {
  //   ...mapMutations({
  //     LOADED_DYNAMIC_MODULE: "LOADED_DYNAMIC_MODULE"
  //   })
  // }
}
</script>
