<template>
	<div class="attach-files-view">
    <app-tooltip top>
      <template #content>
        <label for="file" class="d-block mt-1 mr-1 pointer">
          <paperclip-icon
            size="16"
            color="var(--secondary)"
            style="transform: rotate(-45deg)"
          />

	        <input type="file" id="file" multiple hidden @change="handleFiles" />
        </label>
      </template>

      <template #text>
        {{ $t("document-flow.views.registration.attach-file") }}
      </template>
    </app-tooltip>

		<!-- Загрузить файлы (modal) -->

		<!-- /Загрузить файлы (modal) -->
	</div>
</template>

<script>
import { PaperclipIcon } from "vue-feather-icons"
export default {
	name: "AttachFiles",
	components: {
		PaperclipIcon
	},
	methods: {
		handleFiles(event) {
			let files = event.target.files

			if(files.length) {
				console.log(files);
			}
		}
	}
}
</script>

<style scoped>

</style>
