<template>
	<div class="comment-wrapper-view d-flex flex-column">
		<template v-if="contentLoading">
      <app-loader full-width />
		</template>

		<template v-else>
      <div class="overflow-y-auto flex-1 px-6 py-5">
        <template v-if="!commentsList.length">
          <div class="d-flex align-center justify-center h-100">
            <h1 class="heading-10 font-500">{{ $t("no-comment") }}</h1>
          </div>
        </template>

	      <template v-else>
          <div class="comment-container">
            <template v-for="item in commentsList">
              <comment-item
	              :item="item"
	              class="mb-4"
              />
            </template>
          </div>
	      </template>
      </div>

      <comment-footer :object-id="objectId" />
		</template>
	</div>
</template>

<script>
import { mapActions, mapState } from "vuex"
import CommentItem from "@/common/components/Comments/Item.vue"
import CommentFooter from "@/common/components/Comments/Footer.vue"
import { COMMENT_TYPES } from "@/common/enums/notificationTypes"
export default {
	name: "Container",
	props: {
		objectId: {
			type: Number
		}
	},
	components: {
		CommentFooter,
		CommentItem
	},
	data() {
		return {
			contentLoading: true
		}
	},
	computed: {
		...mapState({
			commentsList: state => state.comment.commentsList,
		})
	},
	async mounted() {
		await this.getCommentsList()
	},
	methods: {
		...mapActions({
			fetchCommentsList: "comment/fetchCommentsList",
		}),
		/*
		*
		* */
		async getCommentsList() {
			this.contentLoading = true
			await this.fetchCommentsList({
				obj: this.objectId,
				type: COMMENT_TYPES.DOC_FLOW
			})
			this.contentLoading = false
		}
	}
}
</script>

<style>
.comment-wrapper-view {
  height: calc(100vh - 207px);
}

.comment-container {
  max-width: 700px;
  width: 100%;
}
</style>
