<template>
  <div
	  v-if="item"
    v-click-outside="clickOutside"
	  class="d-flex gap-8 mt-3"
  >
    <v-avatar
      size="32"
      :color="currentUser.color"
    >
      <span class="text-white small-3 font-500">
        {{ currentUser.first_name | getFirstCharacterWithoutDot }}
      </span>
    </v-avatar>

    <v-text-field
      v-model="$v.text.$model"
      :error="$v.text.$error"
      outlined
      dense
      background-color="var(--input-bg)"
      hide-details
      :placeholder="$t('dashboard.components.enter-text')"
    >
<!--      <template #prepend-inner>-->
<!--        <attach-files />-->
<!--      </template>-->

      <template #append>
        <app-tooltip top>
          <template #content>
            <v-btn
              color="var(--secondary)"
              :loading="loading"
              x-small
              icon
              text
              class="pa-0 mr-1"
              @click="commentEditOrReply"
            >
              <send-icon
                size="18"
                color="var(--primary-1)"
                style="transform: rotate(45deg); margin-top: 2px"
              />
            </v-btn>
          </template>

          <template #text>
            {{ $t("document-flow.views.registration.send") }}
          </template>
        </app-tooltip>
      </template>
    </v-text-field>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex"
import { required } from "vuelidate/lib/validators"
import { SendIcon, PaperclipIcon } from "vue-feather-icons"
import { COMMENT_ACTIONS } from "@/common/enums/notificationTypes"
import AttachFiles from "./AttachFiles.vue"
export default {
	name: "Edit",
	props: {
		item: {
			type: Object,
			default: () => {}
		},
    /*
    *
    * */
    type: {
      type: String,
      default: COMMENT_ACTIONS.EDIT
    }
	},
  components: {
    SendIcon,
    PaperclipIcon,
    AttachFiles
  },
  data() {
    return {
      text: this.type === COMMENT_ACTIONS.EDIT
        ? this.item.description
        : null,
      loading: false
    }
  },
  validations: {
    text: {
      required
    }
  },
  computed: {
    ...mapGetters({
      currentUser: "auth/getCurrentUser",
    })
  },
  methods: {
    ...mapActions({
      fetchUpdateComment: "comment/fetchUpdateComment",
      fetchReplyComment: "comment/fetchReplyComment",
      closeEditArea: "comment/closeEditArea",
      closeReplyArea: "comment/closeReplyArea",
      openEditOrReplyArea: "comment/openEditOrReplyArea",
      closeEditOrReplyArea: "comment/closeEditOrReplyArea",
    }),
    /*
    *
    * */
    async commentEditOrReply() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        return;
      }

      this.loading = true

      switch (this.type) {
        case COMMENT_ACTIONS.EDIT:
          await this.edit()
          break;
        default:
          await this.reply()
      }

      this.loading = false
      this.clear()
      await this.clickOutside()
    },
    /*
    *
    * */
    async edit() {
      await this.fetchUpdateComment({
        id: this.item.id,
        obj: this.item.obj,
        type: this.item.type,
        description: this.text,
        is_edited: true
      })
      this.$toast.success(this.$t("comment-edited"))
    },
    /*
    *
    * */
    async reply() {
      await this.fetchReplyComment({
        id: this.item.id,
        obj: this.item.obj,
        type: this.item.type,
        replies: this.item.replies,
        replied_to: this.item.id,
        description: this.text
      })
    },
    /*
    *
    * */
    async clickOutside() {
      switch (this.type) {
        case COMMENT_ACTIONS.EDIT:
          await this.closeEditOrReplyArea({
            item: this.item,
            action: COMMENT_ACTIONS.EDIT
          })
          break;
        default:
          await this.closeEditOrReplyArea({
            item: this.item,
            action: COMMENT_ACTIONS.REPLY
          })
      }
    },
    /*
		*
		* */
    clear() {
      this.text = null
      this.$v.$reset()
    }
  }
}
</script>

<style>

</style>
