<template>
	<div class="comment-footer-view layout-border-top pa-3">
    <div class="app-input mb-3">
      <v-textarea
	      v-model="$v.text.$model"
	      :error="$v.text.$error"
        :placeholder="$t('chat-messenger.components.enter-message')"
        outlined
        clearable
        hide-details
        no-resize
        height="100"
        background-color="var(--input-bg)"
      >
<!--	      <template #prepend-inner>-->
<!--		      1234-->
<!--	      </template>-->
      </v-textarea>
    </div>

		<send-button
			:loading="loading"
			@emit:up="send"
		/>
	</div>
</template>

<script>
import { mapActions } from "vuex"
import { required } from "vuelidate/lib/validators"
import { SendButton } from "@/common/components/Buttons"
import { COMMENT_TYPES } from "@/common/enums/notificationTypes"
export default {
	name: "Footer",
	props: {
		objectId: {
			type: Number
		}
	},
	components: {
		SendButton
	},
	data() {
		return {
			text: null,
			loading: false
		}
	},
	validations: {
		text: {
			required
		}
	},
	methods: {
		...mapActions({
			fetchSendComment: "comment/fetchSendComment",
		}),
		/*
		*
		* */
		async send() {
			this.$v.$touch();

			if (this.$v.$invalid) {
				return;
			}

			this.loading = true
			await this.fetchSendComment({
				obj: this.objectId,
				description: this.text,
				type: COMMENT_TYPES.DOC_FLOW
			})
			this.loading = false
			this.clear()
		},
		/*
		*
		* */
		clear() {
			this.text = null
			this.$v.$reset()
		}
	}
}
</script>

<style>

</style>
