<template>
	<div class="comment-item-view">
		<div v-if="item" class="d-flex gap-8">
			<v-avatar
				size="32"
				:color="item.created_by.color"
			>
				<span class="text-white small-3 font-500">{{ item.created_by.first_name | getFirstCharacterWithoutDot }}</span>
			</v-avatar>

			<div class="comment-text-wrap">
				<div class="comment-text-block bg-3 py-2 px-3">
          <div class="d-flex align-center gap-4 mb-1">
            <span class="small-2 font-600">{{ item.created_by.first_name }}</span>

            <v-sheet
              width="4"
              height="4"
              color="#65696B"
              rounded
            />

            <span class="size-13 font-500 text-2">{{ item.created_date | filterCalendarToTime }}</span>
          </div>

          <p v-html="item.description" class="small-2 font-500 reset-space mb-0"></p>

					<span
						v-if="item.is_edited"
						class="d-block line-base small-3 text-right font-500 opacity-70"
					>
						{{ $t("chat-messenger.components.changed") }}
					</span>
				</div>

        <div class="comment-action-block mt-2">
          <div class="d-flex align-center gap-8">
            <button
	            type="button"
              @click="openEditOrReplyArea({ item, action: COMMENT_ACTIONS.REPLY })"
            >
              <div class="d-flex align-center">
	              <v-icon size="15" class="mr-1">{{ "$vuetify.icons.ReplyIcon" }}</v-icon>
                <span class="size-13 font-500 text-2">{{ $t("document-flow.views.boxes.answer") }}</span>
              </div>
            </button>

            <v-sheet
              width="4"
              height="4"
              color="#65696B"
              rounded
            />

	          <span class="size-13 font-500 text-2 mr-4">{{ item.replies.length }} ответов</span>

            <template v-if="item.created_by.id === currentUser.id">
              <button
	              type="button"
	              @click="openEditOrReplyArea({ item, action: COMMENT_ACTIONS.EDIT })"
              >
                <div class="d-flex align-center">
                  <v-icon size="14" class="mr-1">{{ "$vuetify.icons.PenIcon" }}</v-icon>
                  <span class="size-13 font-500 text-2">{{ $t("document-flow.views.registration.edit") }}</span>
                </div>
              </button>
            </template>
          </div>

					<!-- Изменить комментарий -->
	        <template v-if="item[COMMENT_ACTIONS.EDIT]">
		        <comment-edit :item="item" />
	        </template>
          <!-- /Изменить комментарий -->

					<!-- Ответить комментарий -->
          <template v-if="item[COMMENT_ACTIONS.REPLY]">
            <comment-edit
	            :item="item"
	            :type="COMMENT_ACTIONS.REPLY"
            />
          </template>
					<!-- /Ответить комментарий -->
        </div>
			</div>
		</div>

		<template v-if="item.replies && item.replies.length > 0">
			<template v-for="child in item.replies">
        <comment-item
          :item="child"
          class="my-4 ml-9"
        />
			</template>
		</template>
	</div>
</template>

<script>
import { mapActions, mapGetters, mapState } from "vuex"
import { Trash2Icon, SendIcon, PaperclipIcon } from "vue-feather-icons"
import { COMMENT_ACTIONS } from "@/common/enums/notificationTypes"
import CommentEdit from "@/common/components/Comments/Edit.vue"
export default {
	name: "CommentItem",
	props: {
		item: {
			type: Object,
			default: () => {}
		}
	},
	components: {
		Trash2Icon,
		SendIcon,
		PaperclipIcon,
		CommentEdit
	},
	data() {
		return {
			COMMENT_ACTIONS
		}
	},
	computed: {
		...mapState({
			commentsList: state => state.comment.commentsList,
		}),
		/*
		*
		* */
		...mapGetters({
			currentUser: "auth/getCurrentUser",
		})
	},
	methods: {
		...mapActions({
			openCurrentUserEditArea: "comment/openCurrentUserEditArea",
			openCurrentUserReplyArea: "comment/openCurrentUserReplyArea",
			openEditOrReplyArea: "comment/openEditOrReplyArea",
		}),
	}
}
</script>

<style>
.comment-text-block {
	border-radius: 2px 10px 10px 10px;
}

.comment-text-wrap {
	min-width: 360px;
}
</style>
