<script>
export default {
	name: "Sidebar",
	props: {
		value: {
			type: Boolean
		},
		drawerWidth: {
			type: [Number, String],
			default: 652
		},
		title: {
			type: String,
			default: ""
		}
	},
	computed: {
		content: {
			get() {
				return this.value
			},
			set(value) {
				this.$emit("input", value)
			}
		}
	},
	methods: {
		close() {
			this.content = false
		}
	}
}
</script>

<template>
	<div class="sidebar-component">
		<v-navigation-drawer
			v-model="content"
			right
			absolute
			:width="drawerWidth"
			style="box-shadow: -6px 0 60px 0 #0000001A; z-index: 3"
			temporary
		>
			<div class="bg-greyscale-100 h-100">
				<div class="d-flex align-center justify-space-between py-4 px-6">
					<span class="heading-11 font-600 text-greyscale-900">{{ title }}</span>
					<div
						class="d-flex justify-center align-center bg-greyscale-300 rounded-50 pointer w-8 h-8"
						@click="close"
					>
						<base-iconify
							icon="CloseSm"
							class="text-greyscale-500"
						/>
					</div>
				</div>

				<div class="bg-white rounded-16 card-shadow ma-3 mt-0 overflow-hidden overflow-y-auto" style="height: calc(100vh - 140px)">
					<slot />
				</div>
			</div>
		</v-navigation-drawer>
	</div>
</template>

<style scoped>

</style>