<template>
	<div class="app-home-view">
		<div class="py-1 px-3 p-relative">
      <template v-if="currentUserBirthday">
        <v-alert color="info" dark text dismissible class="text-center">
          {{ $t("dear-text") }} {{ currentUser.first_name }} {{ currentUser.father_name }} {{ $t("birthday-text") }} 🥳🥳🥳🍭🍭🍬🍬
        </v-alert>
      </template>

			<!-- Top -->
			<v-row>
				<v-col lg="3" md="4" sm="6" cols="12">
					<upcoming-tasks :style="{ height: isCardToggle ? '310px' : '210px' }" />
				</v-col>

				<v-col lg="3" md="4" sm="6" cols="12">
					<unread-messages :style="{ height: isCardToggle ? '310px' : '210px' }" @emit:up:cardToggle="toggleCard" />
				</v-col>

				<!-- Down xl -->
				<template v-if="breakpointName === 'lg' || breakpointName === 'md' || breakpointName === 'sm' || breakpointName === 'xs'">
					<v-col md="4" sm="6" cols="12">
            <birthday />
					</v-col>

					<!-- Down sm -->
					<template v-if="breakpointName === 'sm' || breakpointName === 'xs'">
						<v-col sm="6" cols="12">
              <application />
						</v-col>
					</template>
          <!-- /Down sm -->
				</template>
        <!-- /Down xl -->

        <!-- Device lg and md -->
				<template v-if="breakpointName === 'lg' || breakpointName === 'md'">
					<v-col md="4">
            <application />
					</v-col>

					<v-col md="4">
            <services />
					</v-col>

					<v-col md="4">
            <statuses />
					</v-col>
				</template>
        <!-- /Device lg and md -->

        <!-- Device sm and xs -->
				<template v-if="breakpointName === 'sm' || breakpointName === 'xs'">
					<v-col sm="6" cols="12">
            <services class="mb-4" />

            <statuses />
					</v-col>

					<v-col sm="6" cols="12">
            <department-users />
					</v-col>
				</template>
        <!-- /Device sm and xs -->

        <!-- xl -->
				<template v-if="breakpointName === 'xl'">
          <v-col lg="3">
            <statuses :style="{ height: isCardToggle ? '310px' : '210px' }" />
          </v-col>

          <v-col lg="3">
            <application :style="{ height: isCardToggle ? '310px' : '210px' }" />
          </v-col>
				</template>
        <!-- /xl -->
			</v-row>
			<!-- /Top -->

			<!-- Bottom -->
			<v-row>
				<v-col lg="9" md="8">
					<user-agenda style="height: 623px" />
				</v-col>

        <!-- Device sm -->
				<template v-if="breakpointName === 'xl' || breakpointName === 'lg' || breakpointName === 'md'">
          <v-col lg="3" md="4">
            <!-- Device xl -->
            <template v-if="breakpointName === 'xl'">
              <birthday class="mb-4" />

              <services class="mb-4" />
            </template>
            <!-- /Device xl -->

            <department-users />
          </v-col>
				</template>
        <!-- /Device sm -->
			</v-row>
			<!-- /Bottom -->
		</div>
	</div>
</template>

<script>
import { mapGetters, mapState } from "vuex"
import confetti from "canvas-confetti"

import UpcomingTasks from "@/modules/Dashboard/components/UpcomingTasks"
import Application from "@/modules/Dashboard/components/Application"
import UnreadMessages from "@/modules/Dashboard/components/UnreadMessages"
import Statuses from "@/modules/Dashboard/components/Statuses"
import Birthday from "@/modules/Dashboard/components/Birthday"
import Services from "@/modules/Dashboard/components/Services"
import DepartmentUsers from "@/modules/Dashboard/components/DepartmentUsers"
import UserAgenda from "@/modules/Dashboard/components/UserAgenda"

export default {
	name: 'Home',
	components: {
		UpcomingTasks,
		Application,
		UnreadMessages,
		Statuses,
		Birthday,
		DepartmentUsers,
		UserAgenda,
		Services,
	},
  data() {
    return {
      isCardToggle: false,
	    canvasConfetti: null,
	    canvasElement: null
    }
  },
	computed: {
		...mapState({
			currentUserBirthday: state => state.currentUserBirthday,
			breakpointName: state => state.breakpointName,
		}),
		/*
		*
		* */
		...mapGetters({
			currentUser: "auth/getCurrentUser"
		})
	},
	mounted() {
		setTimeout(() => {
			if(this.currentUserBirthday) {
				this.createConfetti()
			}
		}, 1000)
	},
	beforeDestroy() {
		if(this.canvasElement) {
			this.canvasElement.remove()
			this.canvasConfetti.reset()
		}
	},
	methods: {
		createConfetti() {
			this.canvasElement = document.createElement('canvas')
			this.canvasElement.style.position = "fixed"
			this.canvasElement.style.top = "0"
			this.canvasElement.style.left = "0"
			this.canvasElement.style.width = "100%"
			this.canvasElement.style.height = "100%"
			this.canvasElement.style.pointerEvents = "none"

			document.body.appendChild(this.canvasElement);
			this.canvasConfetti = confetti.create(this.canvasElement, { resize: true });

			let duration = 15 * 1000;
			let animationEnd = Date.now() + duration;
			let defaults = { startVelocity: 45, spread: 360, ticks: 300, zIndex: 0 };

			function randomInRange(min, max) {
				return Math.random() * (max - min) + min;
			}

			let interval = setInterval(() => {
				let timeLeft = animationEnd - Date.now();

				if (timeLeft <= 0) {
					return clearInterval(interval);
				}

				let particleCount = 50 * (timeLeft / duration);
				// since particles fall down, start a bit higher than random
				this.canvasConfetti(Object.assign({}, defaults, { particleCount, origin: { x: 750, y: 0 } }));
				this.canvasConfetti(Object.assign({}, defaults, { particleCount, origin: { x: randomInRange(0.1, 0.3), y: 0 } }));
				this.canvasConfetti(Object.assign({}, defaults, { particleCount, origin: { x: randomInRange(0.7, 0.9), y: 0 } }));
			}, 250);
		},
		/*
		*
		* */
    toggleCard(value) {
      this.isCardToggle = value
    }
  }
};
</script>
