<script>
// Core
import { mapActions, mapState } from "vuex"
// Components
import { MagnifyIcon } from "../../../../common/componentsV3"

export default {
	name: "List",
	components: {
		MagnifyIcon
	},
	computed: {
		...mapState({
			surveyStatuses: state => state.surveyClient.surveyStatuses,
			listLoading: state => state.surveyClient.listLoading,
			surveyList: state => state.surveyClient.surveyList
		})
	},
	methods: {
		...mapActions({
			actionGetSurveyList: "surveyClient/actionGetSurveyList"
		}),
		async init() {
			if (!this.$route.query.status){
				await this.$router.replace({
					query: {
						...this.$route.query,
						status: 'current'
					}
				})
			}

			this.surveyStatuses.forEach(i => i.active = i.status === this.$route.query.status)
		},
		/** **/
		async onChangeItem(item) {
			if (this.$route.query.status !== item.status){
				await this.$router.replace({
					query: {
						...this.$route.query,
						status: item.status
					}
				})
				await this.actionGetSurveyList({ params: { is_submitted: item.status === 'current' } })
			}
		},
		/** **/
		async openSurvey(survey) {
			if (!(survey.submission && survey.submission.submitted)){
				await this.$router.push({
					name: 'HRSurveyClientShow',
					params: {
						id: survey.id
					}
				})
			}
		}
	},
	async mounted() {
		await this.init()
		await this.actionGetSurveyList({ params: { is_submitted: this.$route.query.status === 'current' } })
	}
}
</script>

<template>
	<div class="survey-list-view h-100">
		<template v-if="listLoading">
			<app-loader component-based />
		</template>

		<template v-else>
			<div class="text-greyscale-900 heading-8 font-600 mb-5">
				Опросники
			</div>

			<base-button-tab
				:items="surveyStatuses"
				@emit:onChangeItem="onChangeItem"
			/>

			<template v-if="false">
				<app-loader component-based />
			</template>

			<template v-else>
				<template v-if="!surveyList.length">
					<div class="d-flex flex-column align-center justify-center h-100">
						<magnify-icon />

						<span class="text-greyscale-900 small-1 font-600 mt-4">У вас пока нет опросники</span>
					</div>
				</template>

				<template v-else>
					<div class="overflow-y-auto" style="height: calc(100vh - 220px)">
						<v-row class="ma-0">
							<v-col
								v-for="survey in surveyList"
								:id="survey.id"
								md="4"
								@click="openSurvey(survey)"
							>
								<div
									class="d-flex flex-column rounded-20"
									:class="survey.submission && survey.submission.submitted ? 'survey-disabled' : 'survey-item pointer'"
								>
									<div class="d-flex justify-space-between align-start gap-x-3 pa-5" style="min-height: 106px">
										<div class="d-flex gap-x-4">
											<div
												class="d-flex align-center justify-center w-9 h-9 rounded-50"
												:class="survey.submission && survey.submission.submitted ? 'bg-greyscale-400' : 'bg-success-300'"
											>
												<base-iconify
													icon="CheckAll"
													class="text-white"
													width="24"
													height="24"
												/>
											</div>

											<div class="d-flex flex-1 flex-column" style="word-break: break-word">
												<span
													class="font-600 small-1 line-truncate"
													:class="survey.submission && survey.submission.submitted ? 'text-greyscale-700' : 'text-greyscale-900'"
												>
													{{ survey.title }}
												</span>
												<span class="text-greyscale-400 small-2 font-500 line-truncate-2 flex-1">{{ survey.description }}</span>
											</div>
										</div>

										<base-iconify
											icon="ChevronRight"
											class="arrow-right text-greyscale-500"
											width="24"
											height="24"
										/>
									</div>

									<div class="w-100 bg-greyscale-200 border-all"/>

									<div class="d-flex justify-space-between align-center py-4 px-5">
										<div class="d-flex align-center gap-x-2">
											<span class="text-greyscale-400 small-2 font-500">Кол. вопросов:</span>
											<div
												class="rounded-6 px-1 small-3 font-600"
												:class="survey.submission && survey.submission.submitted ? 'bg-greyscale-300 text-greyscale-500' : 'bg-info-100 text-info-500'"
											>
												{{ survey.number_of_questions }}
											</div>
										</div>

										<div
											v-if="survey.submission && survey.submission.submission_date"
											class="d-flex align-center gap-x-1"
										>
											<base-iconify
												icon="ClockCircleLinear"
												class="text-greyscale-500"
												width="20"
												height="20"
											/>
											<span class="text-greyscale-500 small-2 font-500">{{ survey.submission.submission_date | filterCalendarToTime }}</span>
<!--											<span class="text-greyscale-400 small-2 font-500">ответили</span>-->
<!--											<v-progress-circular-->
<!--												:rotate="-90"-->
<!--												:value="67"-->
<!--												color="info-500"-->
<!--												size="16"-->
<!--												width="2"-->
<!--											></v-progress-circular>-->
										</div>
									</div>
								</div>
							</v-col>
						</v-row>
					</div>
				</template>
			</template>
		</template>
	</div>
</template>

<style scoped>

</style>