<script>
// Components
import BackButtonV3 from "../../../components/BackButtonV3.vue"
import SurveyItem from "../../components/SurveyItem.vue"
import { QuestionIcon, SuccessIcon } from "../../../../common/componentsV3"
import { mapActions, mapState } from "vuex";

export default {
	name: "Show",
	components: {
		SuccessIcon,
		BackButtonV3,
		SurveyItem,
		QuestionIcon
	},
	data:() => ({
		test: null,
		finishSurveyModal: false,
		finishSurveyButtonLoading: false,
		successModal: false
	}),
	computed: {
		...mapState({
			detailLoading: state => state.surveyClient.detailLoading,
			surveyDetail: state => state.surveyClient.surveyDetail
		}),
		submitted() {
			return this.surveyDetail?.submission?.submitted || false
		}
	},
	methods: {
		...mapActions({
			actionGetSurveyQuestions: "surveyClient/actionGetSurveyQuestions",
			actionSendAnswers: "surveyClient/actionSendAnswers"
		}),
		sendAnswers() {
			let isValid = true

			for (const [index, question] of this.surveyDetail.questions.entries()) {
				if (question.input_type === 'text') {
					if (!question.answer.other_answer) {
						this.$toast.warning(`Iltimos ${index + 1}-savolga matn kiriting!`)
						isValid = false
						break
					}
				} else {
					if (!question.selected_option || question.selected_option.id === null) {
						this.$toast.warning(`Iltimos ${index + 1}-savolga javob tanlang!`)
						isValid = false
						break
					}
					if (question.selected_option.is_other && !question.answer.other_answer) {
						this.$toast.warning(`Iltimos ${index + 1}-savolga matn kiriting!`)
						isValid = false
						break
					}
				}
			}

			if (isValid) {
				this.finishSurveyModal = true
			}
		},
		/** **/
		async onSend() {
			this.finishSurveyButtonLoading = true
			this.actionSendAnswers()
				.then(async res => {
					this.finishSurveyButtonLoading = false
					this.finishSurveyModal = false
					this.successModal = true
				})
				.catch(err => {
					this.finishSurveyButtonLoading = false
				})
		},
		/** **/
		async onFinish() {
			this.successModal = false
			await this.$router.replace({
				name: 'HRSurveyClientList',
				query: {
					status: 'current'
				}
			})
		},
		/** **/
		onOptionChange(val, question) {
			question.selected_option = val
			if (question.input_type !== 'checkbox') {
				question.answer.other_answer = null
			}
		}
	},
  async	mounted() {
		await this.actionGetSurveyQuestions(this.$route.params.id)
	}
}
</script>

<template>
	<div class="survey-show-view h-100" style="padding: 0!important;">
		<template v-if="detailLoading">
			<app-loader component-based/>
		</template>

		<template v-else>
			<div class="toolbar-survey-show d-flex justify-center align-center h-16">
				<div class="d-flex justify-space-between" style="width: 1018px">
					<div class="d-flex align-center gap-x-3">
						<back-button-v3 />
						<span class="text-greyscale-900 heading-8 font-600">{{ surveyDetail && surveyDetail.title }}</span>
					</div>

					<app-button
						v-if="!submitted"
						height="40"
						class="rounded-8"
						@click="sendAnswers"
					>
						<div class="small-2 font-500">{{ $t('control-tasks.tasks.send') }}</div>
					</app-button>
				</div>
			</div>

			<div class="d-flex justify-center overflow-y-auto" style="height: calc(100vh - 140px)">
				<div class="d-flex flex-column h-100" style="width: 1018px">
					<div class="d-flex rounded-16 gap-x-3 align-start bg-warning-50 px-4 py-3 mt-2">
						<base-iconify
							icon="CheckCircleBold"
							class="text-warning-500"
							height="24"
							width="24"
						/>

						<span class="text-greyscale-800 small-1 font-500" style="word-break: break-word">{{ surveyDetail && surveyDetail.description }}</span>
					</div>

					<template v-if="submitted">
						<div class="d-flex flex-column gap-y-2 rounded-16 pa-5 border-all bg-greyscale-100 mt-3">
							<div class="card-shadow d-flex flex-column align-center rounded-16 pa-5 bg-white w-100 gap-y-4">
								<success-icon />

								<span class="text-greyscale-900 heading-10 font-weight-bold">{{ $t('submission-text') }}!</span>

								<span class="text-greyscale-500 font-weight-bold small-1">{{ $t('submission-date') }}: {{ surveyDetail && surveyDetail.submission && surveyDetail.submission.submission_date && surveyDetail.submission.submission_date | filterCalendarToTime }}</span>
							</div>
						</div>
					</template>

					<template v-else>
						<div
							v-if="surveyDetail && surveyDetail.questions && surveyDetail.questions.length"
							class="d-flex flex-column gap-y-2 rounded-16 pa-5 border-all bg-greyscale-100 mt-3"
						>
							<template
								v-for="(question, index) in surveyDetail.questions"
							>
								<survey-item
									v-model="question.answer.selected_option_id"
									:key="question.id"
									:question="question"
									:index="index"
									:is-other="question.selected_option.is_other"
									@emit:change="(val) => onOptionChange(val, question)"
									@emit:input="(text) => question.answer.other_answer = text"
								/>
							</template>
						</div>
					</template>
				</div>
			</div>

			<!-- Finish survey modal -->
			<base-modal
				v-model="finishSurveyModal"
				label="control-tasks.tasks.confirm"
				success-button-label="control-tasks.tasks.send"
				persistent
				width="461"
				:button-loading="finishSurveyButtonLoading"
				@emit:onSend="onSend"
			>
				<div class="d-flex flex-column align-center justify-center w-100 py-4">
					<question-icon />

					<div v-if="$i18n.locale === 'ru'" class="heading-11 font-600 text-greyscale-900 mt-5 text-center">Вы уверены, что хотите отправить ответы?</div>
					<div v-else class="heading-11 font-600 text-greyscale-900 mt-5 text-center">Javoblarni yubormoqchimisiz?</div>
				</div>
			</base-modal>
			<!-- /Finish survey modal -->

			<!-- Success modal -->
			<base-modal
				v-model="successModal"
				label="control-tasks.tasks.confirm"
				success-button-label="ready"
				persistent
				width="461"
				:header="false"
				:single-choice="true"
				@emit:onSend="onFinish"
			>
				<div class="d-flex flex-column align-center justify-center w-100 py-4">
					<success-icon />

					<div v-if="$i18n.locale === 'ru'" class="heading-11 font-600 text-greyscale-900 mt-5 text-center">Спасибо, что приняли <br> участие в опросе!</div>
					<div v-else class="heading-11 font-600 text-greyscale-900 mt-5 text-center">So'rovnomada qatnashganligingiz <br> uchun rahmat!</div>
				</div>
			</base-modal>
			<!-- /Success modal -->
		</template>
	</div>
</template>

<style scoped>
.toolbar-survey-show {
	box-shadow: 0 2px 4px 0 #2F3D5708;
}
</style>