<template>
  <div class="review-view">
    <ui-data-table
      ref="dataTable"
      :api-url="apiUrl"
      :apiParams="{ is_controller: false }"
      :height="tableHeight"
      :headers-list="indexTableCols"
      :filter-state="indexTableFilters"
      :filter-storage-name="REVIEW_FILTER"
      :config-column-storage-name="REVIEW_COLUMN"
      :in-active-row="inActiveRow"
      @saveConfigColumn="saveConfigColumn"
      @resetConfigColumn="resetConfigColumn"
      @clearFilter="clearFilter"
      @deleteSavedFilter="clearFilter"
      @handleSort="handleSort"
    >
      <template #index="{ value, item }">
        <router-link
          :to="{
            name: 'ReviewDetail',
            params: {
              id: item.id,
              type: item.incoming_doc.journal.id
            },
            query: {
              page: $route.query.page
            }
          }"
        >
          <span :class="{ 'font-700' : !item.read_time }">{{ item.index }}</span>
        </router-link>
      </template>

	    <template #incoming_doc.deadline="{ value, item }">
		    <router-link
			    :to="{
            name: 'ReviewDetail',
            params: {
              id: item.id,
              type: item.incoming_doc.journal.id
            },
            query: {
              page: $route.query.page
            }
          }"
		    >
          <span v-if="value">
           {{ value | filterCalendarToTime }}
          </span>
		    </router-link>
	    </template>

	    <template #incoming_doc.title="{ value, item }">
		    <router-link
			    :to="{
            name: 'ReviewDetail',
            params: {
              id: item.id,
              type: item.incoming_doc.journal.id
            },
            query: {
              page: $route.query.page
            }
          }"
		    >
          <span v-if="value">
           {{ value }}
          </span>
		    </router-link>
	    </template>

      <template #read_time="{ value, item }">
        <router-link
          :to="{
            name: 'ReviewDetail',
            params: {
              id: item.id,
              type: item.incoming_doc.journal.id
            },
            query: {
              page: $route.query.page
            }
          }"
        >
          <span :class="[value ? 'primary-text' : 'warning-text', !item.read_time ? 'font-700' : '']">
            {{ value ? $t("familiar") : $t("not-familiar") }}
          </span>
        </router-link>
      </template>

      <template #incoming_doc.priority="{ value, item }">
        <router-link
          :to="{
            name: 'ReviewDetail',
            params: {
              id: item.id,
              type: item.incoming_doc.journal.id
            }
          }"
        >
          <ui-priority
            v-if="value"
            :text="value"
            :class="!item.read_time ? 'font-700' : 'font-500'"
          />
        </router-link>
      </template>

      <template #status.name="{ value, item }">
        <router-link
          :to="{
            name: 'ReviewDetail',
            params: {
              id: item.id,
              type: item.incoming_doc.journal.id
            }
          }"
        >
          <ui-status
            v-if="value"
            :text="value"
            :class="!item.read_time ? 'font-700' : 'font-500'"
          />
        </router-link>
      </template>

      <template #incoming_doc.doc_type.name="{ value, item }">
        <router-link
          :to="{
            name: 'ReviewDetail',
            params: {
              id: item.id,
              type: item.incoming_doc.journal.id
            }
          }"
        >
          <span :class="{ 'font-700' : !item.read_time, 'opacity-80' : item.read_time }">
            {{ value }}
          </span>
        </router-link>
      </template>

      <template #incoming_doc.journal.name="{ value, item }">
        <router-link
          :to="{
            name: 'ReviewDetail',
            params: {
              id: item.id,
              type: item.incoming_doc.journal.id
            }
          }"
        >
          <span :class="{ 'font-700' : !item.read_time, 'opacity-80' : item.read_time }">
            {{ value }}
          </span>
        </router-link>
      </template>

      <template #incoming_doc.register_number="{ value, item }">
        <router-link
          :to="{
            name: 'ReviewDetail',
            params: {
              id: item.id,
              type: item.incoming_doc.journal.id
            }
          }"
        >
          <span :class="{ 'font-700' : !item.read_time }">
            {{ value }}
          </span>
        </router-link>
      </template>

      <template #incoming_doc.outgoing_number="{ value, item }">
        <router-link
          :to="{
            name: 'ReviewDetail',
            params: {
              id: item.id,
              type: item.incoming_doc.journal.id
            }
          }"
        >
          <span :class="{ 'font-700' : !item.read_time, 'opacity-80' : item.read_time }">
            {{ value }}
          </span>
        </router-link>
      </template>

      <template #incoming_doc.register_date="{ value, item }">
        <router-link
          :to="{
            name: 'ReviewDetail',
            params: {
              id: item.id,
              type: item.incoming_doc.journal.id
            }
          }"
        >
          <span :class="{ 'font-700' : !item.read_time, 'opacity-80' : item.read_time }">
            {{ value | filterCalendarToTime }}
          </span>
        </router-link>
      </template>

      <template #incoming_doc.outgoing_date="{ value, item }">
        <router-link
          :to="{
            name: 'ReviewDetail',
            params: {
              id: item.id,
              type: item.incoming_doc.journal.id
            }
          }"
        >
          <span :class="{ 'font-700' : !item.read_time, 'opacity-80' : item.read_time }">
            {{ value | filterCalendarToTime }}
          </span>
        </router-link>
      </template>

      <template #incoming_doc.correspondent.organization_name="{ value, item }">
        <router-link
          :to="{
            name: 'ReviewDetail',
            params: {
              id: item.id,
              type: item.incoming_doc.journal.id
            }
          }"
        >
          <span :class="{ 'font-700' : !item.read_time, 'opacity-80' : item.read_time }">
            {{ value }}
          </span>
        </router-link>
      </template>

      <template #reviewers="{ value, item }">
        <router-link
          :to="{
            name: 'ReviewDetail',
            params: {
              id: item.id,
              type: item.incoming_doc.journal.id
            }
          }"
        >
          <ui-avatar-group
            :avatar-list="value"
            class="opacity-80"
          />
        </router-link>
      </template>

      <template #incoming_doc.description="{ value, item }">
        <app-tooltip top max-width="400" content-classes="d-inline-block w-100">
          <template #text>
            <span v-html="value"></span>
          </template>

          <template #content>
            <router-link
              :to="{
                name: 'ReviewDetail',
                params: {
                  id: item.id,
                  type: item.incoming_doc.journal.id
                }
              }"
              class="text-decoration-none"
            >
              <span class="line-truncate-2 text--dark" :class="{ 'font-700' : !item.read_time, 'opacity-80' : item.read_time }" v-html="value"></span>
            </router-link>
          </template>
        </app-tooltip>
      </template>

      <template #filterBody>
        <review-table-filter />
      </template>
    </ui-data-table>
  </div>
</template>

<script>
import { mapActions, mapGetters, mapState } from "vuex"
import { REVIEW_COLUMN, REVIEW_FILTER } from "@/common/constants"
import { getItem } from "@/services/jwt.service"

import ReviewTableFilter from "./components/ReviewTableFilter"

export default {
	name: "index",
  components: {
    ReviewTableFilter
  },
  data() {
    return {
      REVIEW_COLUMN,
      REVIEW_FILTER,
      filterState: {}
    }
  },
  computed: {
    ...mapState({
      indexTableCols: state => state.documentFlowBoxesReview.indexTableCols,
      indexTableFilters: state => state.documentFlowBoxesReview.indexTableFilters
    }),
    /*
    *
    * */
    ...mapGetters({
      currentUser: "auth/getCurrentUser",
    }),
    /*
    *
    * */
    tableHeight() {
      return document.documentElement.clientHeight - 250
    },
    /*
    *
    * */
    apiUrl() {
      return `v2/docflow/${this.currentUser.filial}/users-review`
    }
  },
  created() {
    this.setSavedTableCols()
    this.setSavedFilters()
  },
  async beforeDestroy() {
		if(!this.$route.fullPath.includes('show')) {
			await this.resetIndexTableFilters()
		}
  },
  methods: {
    ...mapActions({
      setActiveIndexTableCols: "documentFlowBoxesReview/setActiveIndexTableCols",
      resetIndexTableCols: "documentFlowBoxesReview/resetIndexTableCols",
      resetIndexTableFilters: "documentFlowBoxesReview/resetIndexTableFilters",
      setActiveIndexTableFilters: "documentFlowBoxesReview/setActiveIndexTableFilters",
    }),
    /*
    *
    * */
    inActiveRow() {
      return new Function('item', `return { 'bg--light': !item.read_time }`)
    },
    /*
    *
    * */
    saveConfigColumn(columns) {
      this.setActiveIndexTableCols(columns)
    },
    /*
    *
    * */
    resetConfigColumn() {
      this.resetIndexTableCols()
    },
    /*
    * Заполняем нужные поля колонки таблицы если пользователь перезагрузил браузер
    * */
    setSavedTableCols() {
      let savedColsFromStorage = JSON.parse(getItem(this.REVIEW_COLUMN)) ?? {}

      if(Object.keys(savedColsFromStorage).length) {
        this.setActiveIndexTableCols(savedColsFromStorage)
      } else {
        this.setActiveIndexTableCols(this.indexTableCols)
      }
    },
    /*
    *
    * */
    async clearFilter() {
      await this.resetIndexTableFilters()
    },
    /*
    * Заполняем нужные поля фильтра если пользователь перезагрузил браузер
    * */
    setSavedFilters() {
      if(this.$route.query) {
        let savedFiltersFromStorage = JSON.parse(getItem(this.REVIEW_FILTER)) ?? {}
        delete this.$route.query.page
        delete this.$route.query.page_size

        if(Object.keys(savedFiltersFromStorage).length) {
          this.setActiveIndexTableFilters(savedFiltersFromStorage)
        } else {
          this.setActiveIndexTableFilters(this.$route.query)
        }
      }
    },
    /*
    *
    * */
    handleSort({ key, value }) {
      const { dataTable } = this.$refs

      console.log("ASDASDASDASD", key, value);
      // this.indexTableFilters[key] = value
      //
      // let active = {}
      //
      // Object.entries(this.indexTableFilters).forEach(filter => {
      //   const [key, value] = filter
      //
      //   if(key.startsWith("__")) {
      //     return;
      //   }
      //
      //   if(value || value === true || value === false) {
      //     active[key] = value
      //   }
      // })
      //
      // dataTable.getDataFromApi(active)
    }
  }
}
</script>
