<script>
// Core
import { required } from "vuelidate/lib/validators"
// Const
import { FORM_TYPES } from "../../../../../common/enums/notificationTypes"
// Components
import BackButtonV3 from "../../../../../modulesV3/components/BackButtonV3.vue"
import { TypeIcon, PaperclipIcon } from "vue-feather-icons"
import FileUploadForSendingDocument from "../../SendDocument/components/FileUploadForSendingDocument.vue"
import { BaseTemplate } from "../../../../../common/componentsV3/Templates"
import { mapActions, mapGetters } from "vuex";
import { removeUnderscoreKeys } from "../../../../../common/helpers";

export default {
	name: "ReferenceForm",
	components: {
		FileUploadForSendingDocument,
		BackButtonV3,
		TypeIcon,
		PaperclipIcon,
		BaseTemplate
	},
	props: {
		formType: {
			type: String,
			default: FORM_TYPES.CREATE
		}
	},
	data: () => ({
		tab: null,
		dialog: false,
		buttonLoading: false,
		loading: true,
		model: {
			text: null,
			agreed_by: [],
			signed_by: [],
			files: [],
			type: null,
			status: null,
			sender: null,
			sub_type: null,
			dept_code: null,
			journal_id: null,
			__agreed_by: [],
			__signed_by: []
		}
	}),
	validations: {
		model: {
			text: { required },
			__agreed_by: { required },
			__signed_by: { required }
		}
	},
	computed: {
		...mapGetters({
			currentUser: "auth/getCurrentUser",
		}),
		FORM_TYPES() {
			return FORM_TYPES
		}
	},
	methods: {
		...mapActions({
			fetchFilialList: "documentFlowModule/fetchFilialList",
			actionCreateCompose: "documentFlowSendDocumentBase/actionCreateCompose",
			actionUpdateCompose: "documentFlowSendDocumentBase/actionUpdateCompose",
			actionGetComposeDetail: "documentFlowSendDocumentBase/actionGetComposeDetail"
		}),
		/** **/
		init(){
			this.model.text = `<p>Ushbu ma’lumotnoma shu haqdaki, ${ this.currentUser.last_name } ${ this.currentUser.first_name } ${ this.currentUser.father_name || '' } “Asakabank” aksiyadorlik jamiyati ${ this.currentUser.top_level_dept_name } ${ this.currentUser.position } lavozimida ishlaydi.</p> <p>Ma’lumotnoma so‘ralgan joyga berildi.</p>`
		},
		/** **/
		preview() {
			this.$v.$touch()
			if (this.$v.$invalid) {
				this.$toast.warning(this.$t('auth.login-with-phone.required-field'))
				return
			}
			this.dialog = true

			this.model.agreed_by = []
			this.model.signed_by = []

			this.model.agreed_by = this.model.__agreed_by.map(item => ({ user: item.id, ...(item.item_id && { id: item.item_id }) }))
			this.model.signed_by = this.model.__signed_by.map(item => ({ user: item.id, ...(item.item_id && { id: item.item_id }) }))
			this.model.type = 'reference'
			this.model.sub_type = 'proof_of_work'
			this.model.status = 'pending'
			this.model.sender = this.currentUser.top_level_dept_name
			this.model.text = this.model.text.replace(/<br\s*[\/]?>/gi, '<br/>')
			this.model.dept_code = this.currentUser.top_level_dept
			this.model.journal_id = 10
		},
		/** **/
		async onSend() {
			this.buttonLoading = true
			let model = removeUnderscoreKeys(this.model)
			this.formType === FORM_TYPES.CREATE ? await this.create(model) : await this.update(model)
		},
		/** **/
		async create(model) {
			this.actionCreateCompose(model)
				.then(async res => {
					this.dialog = false
					this.reset()
					this.$toast.success('sent')
					await this.$router.replace({
						name: 'SendDocumentNew',
						query: {
							journal_id: 10,
							type: 'reference',
							page: 1,
							page_size: 15
						}
					})
				})
				.catch(err => {})
				.finally(() => {
					this.buttonLoading = false
				})
		},
		/** **/
		async update(model) {
			this.actionUpdateCompose({ id: this.$route.params.id, body: model })
				.then(async res => {
					this.dialog = false
					this.reset()
					this.$toast.success('equipments.views.add-correspondent.edited')
					await this.$router.push({
						name: 'SendingDocumentsShow',
						params: {
							id: this.$route.params.id
						},
						query: {
							type: "reference"
						}
					})
				})
				.catch(err => {})
				.finally(() => {
					this.buttonLoading = false
				})
		},
		/** **/
		onCancel() {
			console.log("Cancel")
		},
		/** **/
		reset() {
			this.model = {
				text: null,
				agreed_by: [],
				signed_by: [],
				files: [],
				type: null,
				status: null,
				sender: null,
				sub_type: null,
				dept_code: null,
				__agreed_by: [],
				__signed_by: []
			}
			this.$v.$reset()
		}
	},
	// Hooks
	async mounted() {
		if (this.formType === FORM_TYPES.UPDATE) {
			this.actionGetComposeDetail(this.$route.params.id)
				.then(data => {
					this.model.__agreed_by = data.agreed_by.map(item => ({ ...item, item_id: item.id, ...item.user }))
					this.model.__signed_by = data.signed_by.map(item => ({ ...item, item_id: item.id, ...item.user }))
					this.model.type = data.type
					this.model.sub_type = data.sub_type
					this.model.status = data.status
					this.model.sender = data.sender
					this.model.text = data.text
					this.model.dept_code = data.dept_code
					this.model.journal_id = data.journal_id
					this.model.files = data.files
					this.loading = false
				})
		} else {
			this.init()
			this.loading = false
		}
		await this.fetchFilialList()
	},
	beforeDestroy() {
		this.reset()
	}
}
</script>

<template>
	<div class="reference-form-component h-100">
		<template v-if="loading">
			<app-loader full-width />
		</template>

		<template v-else>
			<div class="d-flex justify-center align-center h-16">
				<div class="d-flex justify-space-between" style="width: 1018px">
					<div class="d-flex align-center gap-x-3">
						<back-button-v3 />
						<span class="text-greyscale-900 heading-8 font-600">{{ formType === FORM_TYPES.CREATE ? $t('create-reference') : $t('update-reference') }}</span>
					</div>
				</div>
			</div>

			<div class="d-flex flex-column justify-space-between" style="height: calc(100vh - 210px);">
				<div class="d-flex justify-center overflow-y-auto">
					<div class="d-flex flex-column h-100" style="width: 1018px">
						<div class="d-flex rounded-16 gap-x-3 align-start bg-warning-50 px-4 py-3 mt-2">
							<base-iconify
								icon="CheckCircleBold"
								class="text-warning-500"
								height="24"
								width="24"
							/>

							<span class="text-greyscale-800 small-1 font-500" style="word-break: break-word">{{ $t('getting-proof-of-work') }}</span>
						</div>

						<div class="d-flex flex-column gap-y-2 rounded-16 pa-5 border-all bg-greyscale-100 mt-3">
							<div class="card-shadow d-flex flex-column rounded-16 pa-5 bg-white w-100">
								<v-row>
									<v-col md="12">
										<div class="pb-4">
											<div class="app-tab">
												<v-tabs
													v-model="tab"
													hide-slider
													height="36"
													color="#fff"
												>
													<v-tab>
														<div class="d-flex align-center px-3">
															<type-icon size="16" class="mr-2"/>
															<span class="text-transform-none small-2 line-base font-400">{{$t('document-flow.views.send-document.text')}}</span>
														</div>
													</v-tab>

													<v-tab>
														<div class="d-flex align-center px-3">
															<paperclip-icon size="16" class="mr-2"/>
															<span class="text-transform-none small-2 line-base font-400">{{$t('document-flow.views.send-document.file')}}</span>
														</div>
													</v-tab>
												</v-tabs>
											</div>
										</div>

										<v-tabs-items class="app-tab-items" v-model="tab">
											<v-tab-item>
												<app-editor
													v-model="$v.model.text.$model"
													:error="$v.model.text.$error"
													:height="350"
												/>
											</v-tab-item>

											<v-tab-item>
												<base-file-upload
													:files="model.files"
													ref="fileInput"
													@emit:fileUpload="(files) => model.files = files.map(file => ({ id: file.id }))"
												/>
											</v-tab-item>
										</v-tabs-items>
									</v-col>

									<v-col md="6">
										<base-auto-complete
											v-model="$v.model.__agreed_by.$model"
											:error="$v.model.__agreed_by.$error"
											api-list-url="/user/search/"
											:api-params="{
												dept_code: '000807',
										    page_size: 50,
										    ...(formType === FORM_TYPES.UPDATE && { ids: model.__agreed_by.map(d => d.id).join(',') })
											}"
											item-text="full_name"
											return-object
											multiple
											label="document-flow.views.send-document.agreement"
											clearable
											cache-items
											:placeholder="$t('document-flow.views.send-document.agreement')"
										/>
									</v-col>

									<v-col md="6">
										<base-auto-complete
											v-model="$v.model.__signed_by.$model"
											:error="$v.model.__signed_by.$error"
											api-list-url="/user/search/"
											:api-params="{
												dept_code: '000702',
										    page_size: 10,
										    ...(formType === FORM_TYPES.UPDATE && { ids: model.__agreed_by.map(d => d.id).join(',') })
											}"
											item-text="full_name"
											return-object
											multiple
											label="document-flow.views.send-document.select-signatory"
											clearable
											cache-items
											:placeholder="$t('document-flow.views.send-document.select-signatory')"
										/>
									</v-col>
								</v-row>
							</div>
						</div>
					</div>
				</div>

				<div class="d-flex align-center justify-center gap-x-5 border-top-2 mt-10" style="height: 40px">
					<div class="d-flex justify-space-between align-center mt-4" style="width: 1018px">
						<app-button
							height="40"
							width="180"
							color="greyscale-100"
							class="rounded-8"
						>
							<div class="small-2 font-500 text-greyscale-900">{{ $t('control-tasks.reports.clear') }}</div>
						</app-button>

						<app-button
							height="40"
							width="180"
							class="rounded-8 border-all"
							@click="preview"
						>
							<div class="small-2 font-500 text-white">{{$t('document-flow.views.send-document.view-document')}}</div>
						</app-button>
					</div>
				</div>
			</div>
		</template>

		<!-- Reference Template -->
		<base-modal
			v-model="dialog"
			:label="formType === FORM_TYPES.CREATE ? 'create' : 'change'"
			:success-button-label="formType === FORM_TYPES.CREATE ? 'layout.send' : 'change'"
			:success-button-loading="buttonLoading"
			persistent
			width="700"
			@emit:onSend="onSend"
			@emit:onCancel="onCancel"
		>
			<base-template
				:model="model"
				:preview="true"
				component="ReferenceTemplate"
			/>
		</base-modal>
		<!-- /Reference Template -->
	</div>
</template>

<style scoped>

</style>