<template>
	<div class="send-document-table-filter">
		<!-- Send Document -->
		<template v-if="$route.query.type === 'organization_letter'">
			<div class="mt-4">
				<span class="small-2 d-block font-600 text-7">{{ $t('sent_status') }}</span>

				<div class="d-flex">
					<v-radio-group v-model="sendDocumentTableFilters.is_sent" row mandatory hide-details>
						<v-radio
							class="mr-12"
							:value="null"
						>
							<template #label>
								<span class="ml-2 text-dark small-1 font-500">{{ $t('components.all') }}</span>
							</template>
						</v-radio>

						<v-radio
							class="mr-12"
							:value="true"
						>
							<template #label>
								<span class="ml-2 text-dark small-1 font-500">{{ $t('sent') }}</span>
							</template>
						</v-radio>

						<v-radio
							class="mr-12"
							:value="false"
						>
							<template #label>
								<span class="ml-2 text-dark small-1 font-500">{{ $t('not_sent') }}</span>
							</template>
						</v-radio>
					</v-radio-group>
				</div>
			</div>
		</template>

		<v-row class="mt-3">
			<!-- Рег. номер -->
			<v-col md="4" class="py-2">
				<div class="app-input">
					<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.registration-number') }}</span>

					<v-text-field
						v-model="sendDocumentTableFilters.register_number"
						outlined
						background-color="var(--input-bg)"
						hide-details
						clearable
					/>
				</div>
			</v-col>
			<!-- /Рег. номер -->


			<!-- Рег. дата -->
			<v-col md="4" class="py-2">
				<div class="app-input">
					<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.registration-date') }}</span>

					<app-date-picker
						v-model="sendDocumentTableFilters.__register_date"
						with-input
						range
						background-color="var(--input-bg)"
						clearable
						@emit:up="(value) => setDateSelect({ value, state: sendDocumentTableFilters, start: 'register_start_date', end: 'register_end_date' })"
						@clickClear="clearDateSelect({ state: sendDocumentTableFilters, start: 'register_start_date', end: 'register_end_date' })"
					/>
				</div>
			</v-col>
			<!-- /Рег. дата -->

			<!-- Статус -->
			<v-col md="4" class="py-2">
				<div class="app-input">
					<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.status') }}</span>

					<v-select
						v-model="sendDocumentTableFilters.compose_status"
						:items="statusTextList"
						item-text="title"
						item-value="value"
						outlined
						hide-details
						clearable
						background-color="var(--input-bg)"
					>
						<template #append>
							<v-icon>mdi-chevron-down</v-icon>
						</template>
					</v-select>
				</div>
			</v-col>
			<!-- /Статус -->

			<!-- Автор -->
			<v-col md="4" class="py-2">
				<div class="app-input">
					<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.author') }}</span>

					<autocomplete
						v-model="sendDocumentTableFilters.author"
						:api-list-url="usersReferenceUrl"
						item-value="id"
						item-text="full_name"
						cache-items
						outlined
						hide-details
						clearable
					/>
				</div>
			</v-col>
			<!-- /Автор -->

			<!-- Подписант -->
			<v-col md="4" class="py-2">
				<div class="app-input">
					<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.signatory') }}</span>

					<autocomplete
						v-model="sendDocumentTableFilters.signer"
						:api-list-url="usersReferenceUrl"
						item-value="id"
						item-text="full_name"
						cache-items
						outlined
						hide-details
						clearable
					/>
				</div>
			</v-col>
			<!-- /Подписант -->

			<!-- Согласующий -->
			<v-col md="4" class="py-2">
				<div class="app-input">
					<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('approver') }}</span>

					<autocomplete
						v-model="sendDocumentTableFilters.approver"
						:api-list-url="usersReferenceUrl"
						item-value="id"
						item-text="full_name"
						cache-items
						outlined
						hide-details
						clearable
					/>
				</div>
			</v-col>
			<!-- /Согласующий -->

			<!-- Департамент -->
			<v-col md="4">
				<div class="app-input">
					<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.department') }}</span>

					<v-autocomplete
						v-model="sendDocumentTableFilters.department"
						:items="departmentList"
						item-text="name"
						item-value="id"
						outlined
						hide-details
						clearable
						background-color="var(--input-bg)"
					>
						<template #append>
							<v-icon>mdi-chevron-down</v-icon>
						</template>
					</v-autocomplete>
				</div>
			</v-col>
		</v-row>
	</div>
</template>

<script>
import {mapActions, mapGetters, mapState} from "vuex";

export default {
	name: "SendDocumentTableFilter",
	data() {
		return {
			statusTextList: [
				{
					title: this.$t('statusText.approved'),
					value: "approved"
				},
				{
					title: this.$t('statusText.pending'),
					value: "pending"
				},
				{
					title: this.$t('statusText.declined'),
					value: "declined"
				},
				{
					title: this.$t('statusText.for_registration'),
					value: "for_registration"
				},
				{
					title: this.$t('components.for-signature'),
					value: "for_signature"
				},
				{
					title: this.$t('statusText.draft'),
					value: "draft"
				}
			],
		}
	},
	computed: {
		...mapState({
			statusList: state => state.statusList,
			sendDocumentTableFilters: state => state.documentFlowSendDocumentBase.sendDocumentTableFilters
		}),
		/**/
		...mapGetters({
			currentUser: "auth/getCurrentUser",
			departmentList: "documentFlowModule/getDepartmentList",
		}),
		/**/
		usersReferenceUrl() {
			return `/${this.currentUser.filial}/user/lists/by_category/`
		},
	},
	methods: {
		...mapActions({
			setDateSelect: "setDateSelect",
			clearDateSelect: "clearDateSelect",
		}),
		/**/
		handleStatusList() {
			this.sendDocumentTableFilters.status = this.sendDocumentTableFilters.statusList.join(",")
		},
		/**/
		clearStatusList() {
			this.sendDocumentTableFilters.status = null
			this.sendDocumentTableFilters.statusList = null
		},
	}
}
</script>

<style scoped>

</style>
