<template>
	<div>
		<div class="d-flex align-center bg-3 py-3 rounded mb-2 text-white" style="background: var(--primary-1)">
			<div class="w-300 text-left px-5">
				<span class="small-2 font-500">Boshqaruv a`zolari (F.I.SH)</span>
			</div>

			<div class="w-125 text-center px-5">
				<span class="small-2 font-500">Jami</span>
			</div>

			<div class="flex-1 text-center px-5">
				<span class="small-2 font-500">Imzolangan</span>
			</div>

			<div class="flex-1 text-center px-5">
				<span class="small-2 font-500">Imzolanmagan</span>
			</div>

			<div class="flex-1 text-center px-5">
				<span class="small-2 font-500">5-kun bekor bo`ladigan</span>
			</div>

			<div class="flex-1 text-center px-5">
				<span class="small-2 font-500">Rad etilgan</span>
			</div>

			<div class="flex-1 text-center px-5">
				<span class="small-2 font-500">shundan, rad etilgan izohi</span>
			</div>

			<div class="flex-1 text-center px-5">
				<span class="small-2 font-500">5 kunda bekor bo`lgan</span>
			</div>
		</div>

		<perfect-scrollbar class="tree-height">
			<template v-if="loading">
				<app-loader content-width />
			</template>

			<template v-else-if="list && !Object.keys(list).length">
				<div class="d-flex align-center justify-center h-100">
					<h2 class="font-600">{{ $t("document-flow.views.boxes.nothing-found") }}</h2>
				</div>
			</template>

			<template v-else>
				<template v-for="item in list">
					<div class="doc-items d-flex align-center py-3">
						<router-link
							:to="openRoute({ ...item, status: 'all' })"
							class="w-300 px-5 text-decoration-none text-dark"
						>
							<span class="small-2 font-500">{{ item.title }}</span>
						</router-link>

						<router-link
							:to="openRoute({ ...item, status: 'all' })"
							class="w-125 text-center px-5 text-decoration-none text-dark"
						>
							<span class="small-2 font-500">{{ item.all_count | formatNumber }}</span>
						</router-link>

						<router-link
							:to="openRoute({ ...item, status: 'signed' })"
							class="flex-1 text-center px-5 text-decoration-none text-dark"
						>
							<span class="small-2 font-500">{{ item.signed | formatNumber }}</span>
						</router-link>

						<router-link
							:to="openRoute({ ...item, status: 'not_signed' })"
							class="flex-1 text-center px-5 text-decoration-none text-dark"
						>
							<span class="small-2 font-500 text-red">{{ item.not_signed | formatNumber }}</span>
						</router-link>

						<router-link
							:to="openRoute({ ...item, status: 'five_days_remained' })"
							class="flex-1 text-center px-5 text-decoration-none text-dark"
						>
							<span class="small-2 font-500 text-red">{{ item.five_days_remained | formatNumber }}</span>
						</router-link>

						<router-link
							:to="openRoute({ ...item, status: 'declined' })"
							class="flex-1 text-center px-5 text-decoration-none text-dark"
						>
							<span class="small-2 font-500 text-red">{{ item.declined | formatNumber }}</span>
						</router-link>

						<router-link
							:to="openRoute({ ...item, status: 'declined' })"
							class="flex-1 text-center px-5 text-decoration-none text-dark"
						>
							<span class="small-2 font-500">{{ item.comment | formatNumber }}</span>
						</router-link>

						<router-link
							:to="openRoute({ ...item, status: 'five_days_passed' })"
							class="flex-1 text-center px-5 text-decoration-none text-dark"
						>
							<span class="small-2 font-500 text-red">{{ item.five_days_passed | formatNumber }}</span>
						</router-link>
					</div>
				</template>

				<div class="d-flex align-center bg-3 py-3 rounded text-white" style="background: var(--primary-1)">
					<div class="w-300 text-left px-5">
						<span class="small-2 font-500">Jami:</span>
					</div>

					<div class="w-125 text-center px-5">
						<span class="small-2 font-500">{{ allCount }}</span>
					</div>

					<div class="flex-1 text-center px-5">
						<span class="small-2 font-500">{{ allSigned }}</span>
					</div>

					<div class="flex-1 text-center px-5">
						<span class="small-2 font-500">{{ allNotSigned }}</span>
					</div>

					<div class="flex-1 text-center px-5">
						<span class="small-2 font-500">{{ all5Remained }}</span>
					</div>

					<div class="flex-1 text-center px-5">
						<span class="small-2 font-500">{{ allDeclined }}</span>
					</div>

					<div class="flex-1 text-center px-5">
						<span class="small-2 font-500"></span>
					</div>

					<div class="flex-1 text-center px-5">
						<span class="small-2 font-500">{{ all5Passed }}</span>
					</div>
				</div>
			</template>
		</perfect-scrollbar>
	</div>
</template>

<script>
export default {
	name: "boardProtocols",
	props: {
		list: {
			type: Array,
			default: () => []
		},
		loading: {
			type: Boolean,
			default: false
		},
		filter: {
			type: Object,
			default: () => {}
		}
	},
	computed: {
		allCount() {
			return this.reduceCounts("all_count")
		},
		allSigned() {
			return this.reduceCounts("signed")
		},
		allNotSigned() {
			return this.reduceCounts("not_signed")
		},
		all5Remained() {
			return this.reduceCounts("five_days_remained")
		},
		allDeclined() {
			return this.reduceCounts("declined")
		},
		all5Passed() {
			return this.reduceCounts("five_days_passed")
		},
	},
	methods: {
		openRoute(item) {
			return {
				name: "BoardProtocolShow",
				query: {
					page: 1,
					page_size: 15,
					user_id: item.user_id,
					status: item.status,
					start_date: (this.$route.query.start_date) ?? this.filter.date[0],
					end_date: (this.$route.query.end_date) ?? this.filter.date[1]
				}
			}
		},
		/** **/
		reduceCounts(key) {
			return Object.values(this.list).reduce((acc, cur) => acc + cur[key], 0)
		}
	}
}
</script>

<style scoped>

</style>
