<template>
	<div class="board-protocol-show-view">
		<ui-data-table
			ref="dataTable"
			:height="'calc(100vh - 155px)'"
			:headers-list="headersList"
			:filter-state="filterState"
			:api-url="apiUrl"
			:api-params="$route.query"
			:filters-visible="false"
			no-border
		>
			<template #index="{ value, item }">
				<div class="pointer d-flex justify-center align-center w-100 h-100" @click.prevent ="openRoute(item)">
					{{ value }}
				</div>
			</template>

			<template #created_date="{ value, item }">
				<div class="pointer d-flex align-center w-100 h-100" @click.prevent ="openRoute(item)">
					{{ item.created_date | filterCalendarToTime }}
				</div>
			</template>

			<template #status="{ value, item }">
				<div class="pointer d-flex align-center w-100 h-100" @click.prevent ="openRoute(item)">
					<v-chip
						:color="item.status === 'draft' ? 'secondary' : item.status === 'approved' ? 'success' : item.status === 'declined' ? 'danger' : item.status === 'for_registration' ? 'primary' : 'warning' "
						class="pointer"
					>
						<span class="small-3 text-white pointer">{{ returnStatus(item.status) }}</span>
					</v-chip>
				</div>
			</template>

			<template #register_number="{ value, item }">
				<div class="pointer d-flex align-center h-100" @click.prevent ="openRoute(item)">
					{{ value }}
				</div>
			</template>

			<template #author="{ value, item }">
				<div class="pointer d-flex align-center w-100 h-100" @click.prevent ="openRoute(item)">
					<app-avatar-group list-type="author" :avatar-list="[{user: item.author}]" />
				</div>
			</template>

			<template #sender="{ value, item }">
				<div class="pointer d-flex align-center h-100 line-truncate" @click.prevent ="openRoute(item)">
					{{ value }}
				</div>
			</template>

			<template #short_description="{ value, item }">
				<div class="pointer d-flex align-center h-100 line-truncate" @click.prevent ="openRoute(item)">
					{{ value }}
				</div>
			</template>

		</ui-data-table>
	</div>
</template>

<script>
export default {
	name: "boardProtocolShow",
	data() {
		return {
			headersList: [
				{
					text: "#",
					value: "index",
					width: "50",
					active: true,
					sortable: false,
					align: "center",
				},
				{
					text: "equipments.views.add-news.created-date",
					value: "created_date",
					width: "130",
					active: true,
					sortable: false,
				},
				{
					text: "document-flow.views.send-document.state",
					value: "status",
					width: "130",
					active: true,
					sortable: false,
				},
				{
					text: "document-flow.views.send-document.registration-number",
					value: "register_number",
					width: "130",
					active: true,
					sortable: false,
				},
				{
					text: "document-flow.views.send-document.author",
					value: "author",
					width: "130",
					active: true,
					sortable: false,
				},
				{
					text: "document-flow.views.statistics.sender",
					value: "sender",
					width: "250",
					active: true,
					sortable: false,
				},
				{
					text: "document-flow.views.boxes.short-description",
					value: "short_description",
					width: "250",
					active: true,
					sortable: false,
				},
			],
			filterState: {
				page: 1,
				page_size: 15,
			}
		}
	},
	computed: {
		apiUrl() {
			return `v2/docflow/09013/documents-by-protocol`
		}
	},
	methods: {
		openRoute(item) {
			this.$router.push({
				name: "SendingDocumentsShow",
				params: {
					id: item.id
				},
				query: {
					type: "protocol"
				}
			})
		},
		/** **/
		returnStatus(status){
			switch (status){
				case 'approved':
					return this.$t('document-flow.views.send-document.approved');
				case 'pending':
					return this.$t('document-flow.views.send-document.pending');
				case 'declined':
					return this.$t('document-flow.views.send-document.declined')
				case 'for_registration':
					return this.$t('document-flow.views.send-document.for-registration')
				case 'draft':
					return this.$t('document-flow.views.send-document.draft')
				default:
					return null
			}
		},
	}
}
</script>

<style scoped>

</style>
