<template>
	<div class="department-view">
		<div class="area-wrapper area-wrapper__department">
			<div class="d-flex align-center mb-4">
				<h1 class="small-2 font-500">Departamentlar bo’yicha statistika</h1>
			</div>

			<div class="d-flex align-center bg-3 py-3 rounded mb-2">
				<div class="w-300 text-left px-5">
					<span class="small-2 font-500">Departamentlar</span>
				</div>

				<template v-if="$route.query.status !== 'all_count'">
					<template v-for="header in activeColumn">
						<div class="w-300 text-center px-5">
							<span class="small-2 font-500">{{ header }}</span>
						</div>
					</template>
				</template>

				<template v-else>
					<template v-for="header in headersList">
						<div class="text-center px-5" :class="header === 'Jami' ? 'w-125' : 'flex-1'">
							<span class="small-2 font-500">{{ header }}</span>
						</div>
					</template>
				</template>
			</div>

			<perfect-scrollbar class="tree-height tree-height__department">
				<template v-if="loading">
					<app-loader content-width />
				</template>

				<template v-else-if="treeList && !Object.keys(treeList).length">
					<div class="d-flex align-center justify-center h-100">
						<h2 class="font-600">{{ $t("document-flow.views.boxes.nothing-found") }}</h2>
					</div>
				</template>

				<template v-else>
					<template v-for="item in treeList">
						<div class="doc-items d-flex align-center py-3">
							<div class="w-300 text-left px-5">
								<span class="small-2 font-500">{{ item.department }}</span>
							</div>

							<template v-if="$route.query.status !== 'all_count'">
								<router-link
									:to="{
										name: 'StatisticKPIUsers',
										query: {
											key: $route.query._type === 'outgoing' ? item.key.join(', ') : item.key,
											top_level_dept_code: item.department_code,
											status: $route.query.status,
											start_date: $route.query.start_date,
											end_date: $route.query.end_date,
											branch: $route.query.branch,
											title: $route.query.title,
											type: $route.query.type,
											_type: $route.query._type
										}
									}"
									class="w-300 text-center px-5 text-decoration-none text-dark"
								>
									<span
										class="small-2 font-500"
										:class="{ 'opacity-50' : item[$route.query.status] === 0 }"
									>
										{{ item[$route.query.status] | formatNumber }}
									</span>
								</router-link>
							</template>

							<template v-else>
								<router-link
									:to="{
										name: 'StatisticKPIUsers',
										query: {
											status: 'all_count',
											key: $route.query._type === 'outgoing' ? item.key.join(', ') : item.key,
											top_level_dept_code: item.department_code,
											start_date: $route.query.start_date,
											end_date: $route.query.end_date,
											branch: $route.query.branch,
											type: $route.query.type,
											title: 'all',
											_type: $route.query._type
										}
									}"
									class="w-125 text-center px-5 text-decoration-none text-dark"
								>
									<span
										class="small-2 font-500"
										:class="{ 'opacity-50' : item.all_count === 0 }"
									>
										{{ item.all_count | formatNumber }}
									</span>
								</router-link>

								<router-link
									:to="{
										name: 'StatisticKPIUsers',
										query: {
											status: 'unread',
											key: $route.query._type === 'outgoing' ? item.key.join(', ') : item.key,
											top_level_dept_code: item.department_code,
											start_date: $route.query.start_date,
											end_date: $route.query.end_date,
											branch: $route.query.branch,
											type: $route.query.type,
											title: `Ko'rib chiqilmagan`,
											_type: $route.query._type
										}
									}"
									class="flex-1 text-center px-5 text-decoration-none text-dark"
								>
									<span
										class="small-2 font-500"
										:class="{ 'opacity-50' : item.unread === 0 }"
									>
										{{ item.unread | formatNumber }}
									</span>
								</router-link>

								<router-link
									:to="{
										name: 'StatisticKPIUsers',
										query: {
											status: 'in_progress',
											key: $route.query._type === 'outgoing' ? item.key.join(', ') : item.key,
											top_level_dept_code: item.department_code,
											start_date: $route.query.start_date,
											end_date: $route.query.end_date,
											branch: $route.query.branch,
											type: $route.query.type,
											title: 'Bajarilmoqda',
											_type: $route.query._type
										}
									}"
									class="flex-1 text-center px-5 text-decoration-none text-dark"
								>
									<span
										class="small-2 font-500"
										:class="{ 'opacity-50' : item.in_progress === 0 }"
									>
										{{ item.in_progress | formatNumber }}
									</span>
								</router-link>

								<router-link
									:to="{
										name: 'StatisticKPIUsers',
										query: {
											status: 'on_hold',
											key: $route.query._type === 'outgoing' ? item.key.join(', ') : item.key,
											top_level_dept_code: item.department_code,
											start_date: $route.query.start_date,
											end_date: $route.query.end_date,
											branch: $route.query.branch,
											type: $route.query.type,
											title: 'Tasdiqlash uchun',
											_type: $route.query._type
										}
									}"
									class="flex-1 text-center px-5 text-decoration-none text-dark"
								>
									<span
										class="small-2 font-500"
										:class="{ 'opacity-50' : item.on_hold === 0 }"
									>
										{{ item.on_hold | formatNumber }}
									</span>
								</router-link>

								<router-link
									:to="{
										name: 'StatisticKPIUsers',
										query: {
											status: 'completed',
											key: $route.query._type === 'outgoing' ? item.key.join(', ') : item.key,
											top_level_dept_code: item.department_code,
											start_date: $route.query.start_date,
											end_date: $route.query.end_date,
											branch: $route.query.branch,
											type: $route.query.type,
											title: 'Bajarilgan',
											_type: $route.query._type
										}
									}"
									class="flex-1 text-center px-5 text-decoration-none text-dark"
								>
									<span
										class="small-2 font-500 success-text"
										:class="{
											'opacity-50 text-dark' : item.completed === 0,
										}"
									>
										{{ item.completed | formatNumber }}
									</span>
								</router-link>

								<router-link
									:to="{
										name: 'StatisticKPIUsers',
										query: {
											status: 'not_performed',
											key: $route.query._type === 'outgoing' ? item.key.join(', ') : item.key,
											top_level_dept_code: item.department_code,
											start_date: $route.query.start_date,
											end_date: $route.query.end_date,
											branch: $route.query.branch,
											type: $route.query.type,
											title: 'Bajarilmagan',
											_type: $route.query._type
										}
									}"
									class="flex-1 text-center px-5 text-decoration-none text-dark"
								>
									<span
										class="small-2 font-500 error-text"
										:class="{ 'opacity-50 text-dark' : item.not_performed === 0 }"
									>
										{{ item.not_performed | formatNumber }}
									</span>
								</router-link>

								<router-link
									:to="{
										name: 'StatisticKPIUsers',
										query: {
											status: 'overdue',
											key: $route.query._type === 'outgoing' ? item.key.join(', ') : item.key,
											top_level_dept_code: item.department_code,
											start_date: $route.query.start_date,
											end_date: $route.query.end_date,
											branch: $route.query.branch,
											type: $route.query.type,
											title: 'Kechiktirib bajarilgan',
											_type: $route.query._type
										}
									}"
									class="flex-1 text-center px-5 text-decoration-none text-dark"
								>
									<span
										class="small-2 font-500 error-text"
										:class="{ 'opacity-50 text-dark' : item.overdue === 0 }"
									>
										{{ item.overdue | formatNumber }}
									</span>
								</router-link>

								<div class="flex-1 text-center px-5 text-decoration-none text-dark">
									<span
										class="small-2 font-500"
									>
										{{ item.score ? $options.filters.roundUp(item.score, 2) : "0" }} ({{ !item.ranking || item.ranking === 0 ? '-' : item.ranking }})
									</span>
								</div>
							</template>
						</div>
					</template>
				</template>
			</perfect-scrollbar>

			<div class="all-count-action d-flex align-center bg-3 py-3 rounded">
				<div class="w-300 text-left px-5">
					<span class="small-2 font-500">Jami:</span>
				</div>

				<template v-if="$route.query.status !== 'all_count'">
					<div class="w-300 text-center px-5">
						<span class="small-2 font-500">{{ filterCount }}</span>
					</div>
				</template>

				<template v-else>
					<template v-for="(count, index) in filterCount">
						<div class="text-center px-5" :class="{ 'w-125': index === 0, 'flex-1': index !== 0 }">
							<span class="small-2 font-500">{{ count }}</span>
						</div>
					</template>
				</template>
			</div>
		</div>
	</div>
</template>

<script>
import { ChevronDownIcon, ChevronUpIcon, MailIcon } from "vue-feather-icons"
import { mapGetters } from "vuex";

export default {
	name: "index",
	components: {
		MailIcon,
		ChevronDownIcon,
		ChevronUpIcon
	},
	data() {
		return {
			headersList: [
				"Jami", "Ko'rib chiqilmagan", "Bajarilmoqda", "Bajarilgan", "Tasdiqlash uchun", "Bajarilmagan", "Kechiktirib bajarilgan", "Ball (Reyting)"
			],
			treeList: [],
			loading: true,
		}
	},
	computed: {
		...mapGetters({
			currentUser: "auth/getCurrentUser"
		}),
		/*
		*
		* */
		activeColumn() {
			return this.headersList.filter(header => header === this.$route.query.title)
		},
		/*
		*
		* */
		filterCount() {
			switch (this.$route.query.status) {
				case "unread":
					return this.unreadCount
				case "in_progress":
					return this.inProgressCount
				case "on_hold":
					return this.onHold
				case "completed":
					return this.completedCount
				case "not_performed":
					return this.notPerformedCount
				case "overdue":
					return this.overdueCount
				default:
				// all_count
					return [
						this.allCount,
						this.unreadCount,
						this.inProgressCount,
						// this.fileSentCount,
						this.completedCount,
						this.notPerformedCount,
						this.overdueCount,
						""
					]
			}
		},
		/*
		* all_count
		* */
		allCount() {
			return this.reduceCounts("all_count")
		},
		/*
		* unread
		* */
		unreadCount() {
			return this.reduceCounts("unread")
		},
		/*
		* in_progress
		* */
		inProgressCount() {
			return this.reduceCounts("in_progress")
		},
		/** **/
		onHold() {
			return this.reduceCounts("on_hold")
		},
		/*
		* file_sent
		* */
		fileSentCount() {
			return this.reduceCounts("file_sent")
		},
		/*
		* completed
		* */
		completedCount() {
			return this.reduceCounts("completed")
		},
		/*
		* not_performed
		* */
		notPerformedCount() {
			return this.reduceCounts("not_performed")
		},
		/*
		* overdue
		* */
		overdueCount() {
			return this.reduceCounts("overdue")
		}
	},
	async mounted() {
		await this.getDocs(this.$route.query._type)
	},
	methods: {
		async getDocs(value) {
			switch (value) {
				case "outgoing":
					await this.getOutgoingDocs(this.$route.query)
					break;
				case "branches":
					await this.getBranchesDocs(this.$route.query)
					break;
				case "departments":
					await this.getDepartmentDocs(this.$route.query)
					break;
				default:
					await this.getInnerDocs(this.$route.query)
			}
		},
		/*
		*
		* */
		async getInnerDocs(query) {
			this.loading = true

			await this.$http.get(`/v2/docflow/${this.$route.query.branch}/doc-type-groupby-departments/`, {
				params: {
					...query
				}
			})
			.then(({ data }) => {
				this.treeList = data
			})
			.finally(() => {
				this.loading = false
			})
		},
		/*
		*
		* */
		async getOutgoingDocs(query) {
			this.loading = true

			await this.$http.get(`/v2/docflow/${this.$route.query.branch}/correspondent-stats-groupby-departments/`, {
				params: {
					...query
				}
			})
			.then(({ data }) => {
				this.treeList = data
			})
			.finally(() => {
				this.loading = false
			})
		},
		/*
		*
		* */
		async getBranchesDocs(query) {
			this.loading = true

			await this.$http.get(`/v2/docflow/${this.$route.query.branch}/department-statistics/`, {
				params: {
					...query
				}
			})
			.then(({ data }) => {
				this.treeList = data
			})
			.finally(() => {
				this.loading = false
			})
		},
		/*
		*
		* */
		reduceCounts(key) {
			return Object.values(this.treeList).reduce((acc, cur) => acc + cur[key], 0)
		}
	}
}
</script>

<style>
.area-wrapper__department {
	height: calc(100vh - 110px);
}

.tree-height__department {
	height: calc(100% - 120px);
}

.all-count-action {
	position: absolute;
	bottom: 25px;
	left: 0;
	width: 100%;
	padding-left: 38px;
	padding-right: 38px;
}
</style>
