<template>
	<div class="kpi-view">
		<div class="d-flex align-center mb-5">
			<v-row align="center">
				<v-col md="2">
          <app-date-picker
            v-model="filter.date"
            dense
            with-input
            range
            background-color="var(--bg-white)"
            @emit:up="dateSelected"
          />
				</v-col>

				<v-col md="2">
					<v-select
						v-model="filter.typeSelect"
						:items="selectTypes"
						item-text="title"
						item-value="value"
						dense
						background-color="var(--bg-white)"
						outlined
						hide-details
						@input="handleTypeSelect"
					></v-select>
				</v-col>

				<v-col md="2">
					<template v-if="isModerator">
						<!-- Fillialarda autocomplete ko'rinmasligi kerak -->
						<template v-if="filter.typeSelect !== 'branches' && filter.typeSelect !== 'board_protocol'">
							<v-select
								v-model="filter.branch"
								:items="branchList"
								item-text="name"
								item-value="mfo"
								dense
								background-color="var(--bg-white)"
								outlined
								hide-details
								@input="handleFilial"
							/>

<!--							<autocomplete-->
<!--								v-model="filter.branch"-->
<!--								api-list-url="/filials/"-->
<!--								:api-params="{-->
<!--									condition: 'A',-->
<!--									page_size: 50-->
<!--								}"-->
<!--								item-text="name"-->
<!--								item-value="mfo"-->
<!--								list-type="list"-->
<!--								cache-items-->
<!--								clearable-->
<!--								background-color="var(&#45;&#45;bg-white)"-->
<!--								dense-->
<!--								@emit:change="handleFilial"-->
<!--							/>-->
						</template>
					</template>

					<template v-else>
						<div class="app-input">
							<v-text-field
								:value="currentUser.dep_name"
								hide-details
								outlined
								background-color="var(--bg-white)"
								dense
								readonly
							></v-text-field>
						</div>
					</template>
				</v-col>

<!--				<v-col md="3">-->
<!--					<template v-if="isModerator">-->
<!--						<template v-if="filter.typeSelect === 'departments'">-->
<!--							<v-select-->
<!--								v-model="filter.department"-->
<!--								:items="departmentList"-->
<!--								item-text="name"-->
<!--								item-value="code"-->
<!--								dense-->
<!--								background-color="var(&#45;&#45;bg-white)"-->
<!--								outlined-->
<!--								hide-details-->
<!--								@input="handleDepartment"-->
<!--							/>-->
<!--						</template>-->
<!--					</template>-->
<!--				</v-col>-->

				<v-col md="2" offset-md="4" align="end">
          <app-button
            height="39"
            min-width="80"
            :loading="exportExcelButtonLoading"
            :disabled="exportExcelButtonDisabled"
            @click="exportToExcel"
          >
            <template #default>
              {{ $t("control-tasks.reports.export-to-excel") }}
            </template>
          </app-button>
				</v-col>
			</v-row>
		</div>

		<div class="area-wrapper">
			<div class="d-flex align-center mb-4">
        <h1 class="small-2 font-500">Hujjatlar statusi bo’yicha statistika</h1>
			</div>

			<template v-if="filter.typeSelect === 'board_protocol'">
				<board-protocols :list="treeList" :loading="loading" :filter="filter" />
			</template>

			<template v-else>
				<div class="d-flex align-center bg-3 py-3 rounded mb-2 text-white" style="background: var(--primary-1)">
					<div class="w-300 text-left px-5">
						<span class="small-2 font-500">Kesimlar <span v-if="filter.typeSelect === 'management'">(F.I.Sh)</span></span>
					</div>

					<div class="w-125 text-center px-5">
						<span class="small-2 font-500">Jami hujjat soni</span>
					</div>

					<template v-if="filter.typeSelect === 'management'">
						<div class="flex-1 text-center px-5">
							<span class="small-2 font-500">Rezolyutsiya tayyorlanmagan</span>
						</div>

						<div class="flex-1 text-center px-5">
							<span class="small-2 font-500">Rezolyutsiya tayyorlangan</span>
						</div>

						<div class="flex-1 text-center px-5">
							<span class="small-2 font-500">Muddatidan kech rezolutsiya tayyorlangan <br> (24 soat)</span>
						</div>

						<div class="flex-1 text-center px-5">
							<span class="small-2 font-500">Ball (Reyting) <br> (Yordamchilar)</span>
						</div>

						<div class="flex-1 text-center px-5">
							<span class="small-2 font-500">Imzolangan <br> (ijrochilarga yo'naltirilgan)</span>
						</div>

						<div class="flex-1 text-center px-5">
							<span class="small-2 font-500">Muddatidan kech imzolangan <br> (24 soat)</span>
						</div>

						<div class="flex-1 text-center px-5">
							<span class="small-2 font-500">Imzolanmagan <br> (ijrochilarga yo'naltirilmagan)</span>
						</div>
					</template>

					<template v-else>
						<div class="flex-1 text-center px-5">
							<span class="small-2 font-500">Ko'rib chiqilmagan</span>
						</div>

						<div class="flex-1 text-center px-5">
							<span class="small-2 font-500">Bajarilmoqda</span>
						</div>

						<div class="flex-1 text-center px-5">
							<span class="small-2 font-500">Tasdiqlash uchun</span>
						</div>

						<div class="flex-1 text-center px-5">
							<span class="small-2 font-500">Bajarilgan</span>
						</div>

						<div class="flex-1 text-center px-5">
							<span class="small-2 font-500">Bajarilmagan</span>
						</div>

						<div class="flex-1 text-center px-5">
							<span class="small-2 font-500">Kechiktirib bajarilgan</span>
						</div>
					</template>

					<div class="flex-1 text-center px-5">
						<span class="small-2 font-500">Ball (Reyting) <br> (Raxbariyat)</span>
					</div>
				</div>

				<perfect-scrollbar class="tree-height">
					<template v-if="loading">
						<app-loader content-width />
					</template>

					<template v-else-if="treeList && !Object.keys(treeList).length">
						<div class="d-flex align-center justify-center h-100">
							<h2 class="font-600">{{ $t("document-flow.views.boxes.nothing-found") }}</h2>
						</div>
					</template>

					<template v-else>
						<template v-for="item in treeList">
							<div class="doc-items d-flex align-center py-3">
								<template v-if="filter.typeSelect === 'management'">
									<router-link
										:to="{
										name: generateTypeRoute,
										query: {
											start_date: filter.date[0],
											end_date: filter.date[1],
											user_id: item.user_id,
											branch: filter.typeSelect === 'branches'
												? item.mfo
												: isModerator
													? filter.branch
													: currentUser.filial,
											filial_mfo: filter.typeSelect === 'branches'
												? item.mfo
												: isModerator
													? filter.branch
													: currentUser.filial,
											status: 'all_count',
											title: 'all',
											_type: filter.typeSelect
										}
									}"
										class="w-300 px-5 text-decoration-none text-dark"
									>
									<span class="small-2 font-500">
										{{ item.title }}
									</span>
									</router-link>

									<router-link
										:to="{
										name: generateTypeRoute,
										query: {
											start_date: filter.date[0],
											end_date: filter.date[1],
											user_id: item.user_id,
											branch: filter.typeSelect === 'branches'
												? item.mfo
												: isModerator
													? filter.branch
													: currentUser.filial,
											filial_mfo: filter.typeSelect === 'branches'
												? item.mfo
												: isModerator
													? filter.branch
													: currentUser.filial,
											status: 'all_count',
											title: 'all',
											_type: filter.typeSelect
										}
									}"
										class="w-125 text-center px-5 text-decoration-none text-dark"
									>
									<span class="small-2 font-500">
										{{ item.all_count | formatNumber }}
									</span>
									</router-link>

									<router-link
										:to="{
										name: generateTypeRoute,
										query: {
											start_date: filter.date[0],
											end_date: filter.date[1],
											user_id: item.user_id,
											branch: filter.typeSelect === 'branches'
												? item.mfo
												: isModerator
													? filter.branch
													: currentUser.filial,
											filial_mfo: filter.typeSelect === 'branches'
												? item.mfo
												: isModerator
													? filter.branch
													: currentUser.filial,
											status: 'not_assigned',
											title: `Ko'rib chiqilmagan`,
											_type: filter.typeSelect
										}
									}"
										class="flex-1 text-center px-5 text-decoration-none text-dark"
									>
									<span
										class="small-2 font-500 text--red"
										:class="{ 'opacity-50' : item.not_assigned === 0 }"
									>
										{{ item.not_assigned | formatNumber }}
									</span>
									</router-link>

									<router-link
										:to="{
										name: generateTypeRoute,
										query: {
											start_date: filter.date[0],
											end_date: filter.date[1],
											user_id: item.user_id,
											branch: filter.typeSelect === 'branches'
												? item.mfo
												: isModerator
													? filter.branch
													: currentUser.filial,
											filial_mfo: filter.typeSelect === 'branches'
												? item.mfo
												: isModerator
													? filter.branch
													: currentUser.filial,
											status: 'all_resolution',
											title: `Rezolyutsiya tayyorlanmagan`,
											_type: filter.typeSelect
										}
									}"
										class="flex-1 text-center px-5 text-decoration-none text-dark"
									>
									<span
										class="small-2 font-500"
										:class="{ 'opacity-50' : item.all_resolution === 0 }"
									>
										{{ item.all_resolution | formatNumber }}
									</span>
									</router-link>

									<router-link
										:to="{
										name: generateTypeRoute,
										query: {
											start_date: filter.date[0],
											end_date: filter.date[1],
											user_id: item.user_id,
											branch: filter.typeSelect === 'branches'
												? item.mfo
												: isModerator
													? filter.branch
													: currentUser.filial,
											filial_mfo: filter.typeSelect === 'branches'
												? item.mfo
												: isModerator
													? filter.branch
													: currentUser.filial,
											status: 'created_after_24_hours',
											title: `Rezolyutsiya tayyorlangan (24 soat o'tib)`,
											_type: filter.typeSelect
										}
									}"
										class="flex-1 text-center px-5 text-decoration-none text-dark"
									>
									<span
										class="small-2 font-500 text--red"
										:class="{ 'opacity-50' : item.all_resolution === 0 }"
									>
										{{ item.created_after_24_hours | formatNumber }}
									</span>
									</router-link>

									<div class="flex-1 text-center px-5 text-decoration-none text-dark">
										<span	class="small-2 font-500">
											{{ item.assistant_score ? $options.filters.roundUp(item.assistant_score, 2) : "0" }} ({{ !item.assistant_ranking || item.ranking === 0 ? '-' : item.assistant_ranking }})
										</span>
									</div>

									<router-link
										:to="{
										name: generateTypeRoute,
										query: {
											start_date: filter.date[0],
											end_date: filter.date[1],
											user_id: item.user_id,
											branch: filter.typeSelect === 'branches'
												? item.mfo
												: isModerator
													? filter.branch
													: currentUser.filial,
											filial_mfo: filter.typeSelect === 'branches'
												? item.mfo
												: isModerator
													? filter.branch
													: currentUser.filial,
											status: 'assigned',
											title: `Rezolyutsiya tayyorlangan`,
											_type: filter.typeSelect
										}
									}"
										class="flex-1 text-center px-5 text-decoration-none text-dark"
									>
									<span
										class="small-2 font-500"
										:class="{ 'opacity-50' : item.assigned === 0 }"
									>
										{{ item.assigned | formatNumber }}
									</span>
									</router-link>

									<router-link
										:to="{
										name: generateTypeRoute,
										query: {
											start_date: filter.date[0],
											end_date: filter.date[1],
											user_id: item.user_id,
											branch: filter.typeSelect === 'branches'
												? item.mfo
												: isModerator
													? filter.branch
													: currentUser.filial,
											filial_mfo: filter.typeSelect === 'branches'
												? item.mfo
												: isModerator
													? filter.branch
													: currentUser.filial,
											status: 'signed_after_24_hours',
											title: `Imzolangan (24 soat o'tib imzolangan)`,
											_type: filter.typeSelect
										}
									}"
										class="flex-1 text-center px-5 text-decoration-none text-dark"
									>
									<span
										class="small-2 font-500 text--red"
										:class="{ 'opacity-50' : item.assigned === 0 }"
									>
										{{ item.signed_after_24_hours | formatNumber }}
									</span>
									</router-link>

									<router-link
										:to="{
										name: generateTypeRoute,
										query: {
											start_date: filter.date[0],
											end_date: filter.date[1],
											user_id: item.user_id,
											branch: filter.typeSelect === 'branches'
												? item.mfo
												: isModerator
													? filter.branch
													: currentUser.filial,
											filial_mfo: filter.typeSelect === 'branches'
												? item.mfo
												: isModerator
													? filter.branch
													: currentUser.filial,
											status: 'assigned_but_not_verified',
											title: `Qo'l qo'yilmagan`,
											_type: filter.typeSelect
										}
									}"
										class="flex-1 text-center px-5 text-decoration-none"
									>
									<span
										class="small-2 font-500 text--red"
										:class="{ 'opacity-50' : item.assigned_but_not_verified === 0 }"
									>
										{{ item.assigned_but_not_verified | formatNumber }}
									</span>
									</router-link>
								</template>

								<template v-else>
									<router-link
										:to="{
										name: generateTypeRoute,
										query: {
											start_date: filter.date[0],
											end_date: filter.date[1],
											key: filter.typeSelect === 'outgoing' ? item.key.join(', ') : item.key,
											status: 'all_count',
											branch: filter.typeSelect === 'branches'
												? item.mfo
												: isModerator
													? filter.branch
													: currentUser.filial,
											title: 'all',
											type: generateType,
											top_level_dept_code: item.department_code,
											_type: filter.typeSelect
										}
									}"
										class="w-300 px-5 text-decoration-none text-dark"
									>
									<span
										class="small-2 font-500"
									>
										{{ item.title }}
									</span>
									</router-link>

									<router-link
										:to="{
										name: generateTypeRoute,
										query: {
											start_date: filter.date[0],
											end_date: filter.date[1],
											key: filter.typeSelect === 'outgoing' ? item.key.join(', ') : item.key,
											status: 'all_count',
											branch: filter.typeSelect === 'branches'
												? item.mfo
												: isModerator
													? filter.branch
													: currentUser.filial,
											title: 'all',
											type: generateType,
											top_level_dept_code: item.department_code,
											_type: filter.typeSelect
										}
									}"
										class="w-125 text-center px-5 text-decoration-none text-dark"
									>
									<span class="small-2 font-500">
										{{ item.all_count | formatNumber }}
									</span>
									</router-link>

									<router-link
										:to="{
										name: generateTypeRoute,
										query: {
											start_date: filter.date[0],
											end_date: filter.date[1],
											key: filter.typeSelect === 'outgoing' ? item.key.join(', ') : item.key,
											status: 'unread',
											branch: filter.typeSelect === 'branches'
												? item.mfo
												: isModerator
													? filter.branch
													: currentUser.filial,
											title: `Ko'rib chiqilmagan`,
											type: generateType,
											top_level_dept_code: item.department_code,
											_type: filter.typeSelect
										}
									}"
										class="flex-1 text-center px-5 text-decoration-none text-dark"
									>
									<span
										class="small-2 font-500"
										:class="{ 'opacity-50' : item.unread === 0 }"
									>{{ item.unread | formatNumber }}</span>
									</router-link>

									<router-link
										:to="{
										name: generateTypeRoute,
										query: {
											start_date: filter.date[0],
											end_date: filter.date[1],
											key: filter.typeSelect === 'outgoing' ? item.key.join(', ') : item.key,
											status: 'in_progress',
											branch: filter.typeSelect === 'branches'
												? item.mfo
												: isModerator
													? filter.branch
													: currentUser.filial,
											title: 'Bajarilmoqda',
											type: generateType,
											top_level_dept_code: item.department_code,
											_type: filter.typeSelect
										}
									}"
										class="flex-1 text-center px-5 text-decoration-none text-dark"
									>
									<span
										class="small-2 font-500"
										:class="{ 'opacity-50' : item.in_progress === 0 }"
									>
										{{ item.in_progress | formatNumber }}
									</span>
									</router-link>

									<router-link
										:to="{
											name: generateTypeRoute,
											query: {
												start_date: filter.date[0],
												end_date: filter.date[1],
												key: filter.typeSelect === 'outgoing' ? item.key.join(', ') : item.key,
												status: 'on_hold',
												branch: filter.typeSelect === 'branches'
													? item.mfo
													: isModerator
														? filter.branch
														: currentUser.filial,
												title: 'Tasdiqlash uchun',
												type: generateType,
												top_level_dept_code: item.department_code,
												_type: filter.typeSelect
											}
										}"
										class="flex-1 text-center px-5 text-decoration-none text-dark"
									>
										<span
											class="small-2 font-500"
											:class="{ 'opacity-50' : item.on_hold === 0 }"
										>
											{{ item.on_hold | formatNumber }}
										</span>
									</router-link>

									<router-link
										:to="{
										name: generateTypeRoute,
										query: {
											start_date: filter.date[0],
											end_date: filter.date[1],
											key: filter.typeSelect === 'outgoing' ? item.key.join(', ') : item.key,
											status: 'completed',
											branch: filter.typeSelect === 'branches'
												? item.mfo
												: isModerator
													? filter.branch
													: currentUser.filial,
											title: 'Bajarilgan',
											type: generateType,
											top_level_dept_code: item.department_code,
											_type: filter.typeSelect
										}
									}"
										class="flex-1 text-center px-5 text-decoration-none text-dark"
									>
									<span
										class="small-2 font-500 success-text"
										:class="{
										'opacity-50 text-dark' : item.completed === 0,
									}"
									>
										{{ item.completed | formatNumber }}
									</span>
									</router-link>

									<router-link
										:to="{
										name: generateTypeRoute,
										query: {
											start_date: filter.date[0],
											end_date: filter.date[1],
											key: filter.typeSelect === 'outgoing' ? item.key.join(', ') : item.key,
											status: 'not_performed',
											branch: filter.typeSelect === 'branches'
												? item.mfo
												: isModerator
													? filter.branch
													: currentUser.filial,
											title: 'Bajarilmagan',
											type: generateType,
											top_level_dept_code: item.department_code,
											_type: filter.typeSelect
										}
									}"
										class="flex-1 text-center px-5 text-decoration-none text-dark"
									>
									<span
										class="small-2 font-500 error-text"
										:class="{ 'opacity-50 text-dark' : item.not_performed === 0 }"
									>
										{{ item.not_performed | formatNumber }}
									</span>
									</router-link>

									<router-link
										:to="{
										name: generateTypeRoute,
										query: {
											start_date: filter.date[0],
											end_date: filter.date[1],
											key: filter.typeSelect === 'outgoing' ? item.key.join(', ') : item.key,
											status: 'overdue',
											branch: filter.typeSelect === 'branches'
												? item.mfo
												: isModerator
													? filter.branch
													: currentUser.filial,
											title: 'Kechiktirib bajarilgan',
											type: generateType,
											top_level_dept_code: item.department_code,
											_type: filter.typeSelect
										}
									}"
										class="flex-1 text-center px-5 text-decoration-none text-dark"
									>
									<span
										class="small-2 font-500 error-text"
										:class="{ 'opacity-50 text-dark' : item.overdue === 0 }"
									>
										{{ item.overdue | formatNumber }}
									</span>
									</router-link>
								</template>

								<div class="flex-1 text-center px-5 text-decoration-none text-dark">
									<span	class="small-2 font-500">
										{{ item.curator_score ? $options.filters.roundUp(item.curator_score, 2) : "0" }} ({{ !item.curator_ranking || item.curator_ranking === 0 ? '-' : item.curator_ranking }})
									</span>
								</div>
							</div>
						</template>

						<div class="d-flex align-center bg-3 py-3 rounded text-white" style="background: var(--primary-1)">
							<div class="w-300 text-left px-5">
								<span class="small-2 font-500">Jami:</span>
							</div>

							<div class="w-125 text-center px-5">
								<span class="small-2 font-500">{{ allCount }}</span>
							</div>

							<template v-if="filter.typeSelect === 'management'">
								<div class="flex-1 text-center px-5">
									<span class="small-2 font-500">{{ notAssigned }}</span>
								</div>

								<div class="flex-1 text-center px-5">
									<span class="small-2 font-500">{{ allResolution }}</span>
								</div>

								<div class="flex-1 text-center px-5">
									<span class="small-2 font-500">{{ allResolutionAfter24 }}</span>
								</div>

								<div class="flex-1 text-center px-5">

								</div>

								<div class="flex-1 text-center px-5">
									<span class="small-2 font-500">{{ assigned }}</span>
								</div>

								<div class="flex-1 text-center px-5">
									<span class="small-2 font-500">{{ assignedAfter24 }}</span>
								</div>

								<div class="flex-1 text-center px-5">
									<span class="small-2 font-500">{{ assignedButNotVerified }}</span>
								</div>
							</template>

							<template v-else>
								<div class="flex-1 text-center px-5">
									<span class="small-2 font-500">{{ unreadCount }}</span>
								</div>

								<div class="flex-1 text-center px-5">
									<span class="small-2 font-500">{{ inProgressCount }}</span>
								</div>

								<div class="flex-1 text-center px-5">
									<span class="small-2 font-500">{{ onHold }}</span>
								</div>

								<div class="flex-1 text-center px-5">
									<span class="small-2 font-500">{{ completedCount }}</span>
								</div>

								<div class="flex-1 text-center px-5">
									<span class="small-2 font-500">{{ notPerformedCount }}</span>
								</div>

								<div class="flex-1 text-center px-5">
									<span class="small-2 font-500">{{ overdueCount }}</span>
								</div>
							</template>

							<div class="flex-1 text-center px-5">

							</div>
						</div>
					</template>
				</perfect-scrollbar>
			</template>
		</div>
	</div>
</template>

<script>
import { ChevronDownIcon, ChevronUpIcon, MailIcon } from "vue-feather-icons"
import { mapGetters } from "vuex";
import { format } from "date-fns";
import BoardProtocols from "./boardProtocols.vue";
import { colorsList } from "@/common/enums/notificationTypes";

export default {
	name: "index",
	components: {
		BoardProtocols,
		MailIcon,
		ChevronDownIcon,
		ChevronUpIcon
	},
	data() {
		return {
			treeList: [],
			filter: {
				date: null,
				typeSelect: "inner",
				branch: null,
				department: null
			},
			loading: true,
			branchList: [],
			departmentList: [],
			data: null,
			exportExcelButtonLoading: false
		}
	},
	computed: {
		...mapGetters({
			currentUser: "auth/getCurrentUser"
		}),
		/*
		*
		* */
		isModerator() {
			return ["admin", "chairman", "deputy_chair", "chancellery_admin", "chancellery"].includes(this.currentUser.role)
		},
		/*
		*
		* */
		selectTypes() {
			let types = [
				{
					title: "Ichki hujjatlar",
					value: "inner",
					roles: [
						"admin",
						"chairman",
						"deputy_chair",
						"chancellery_admin",
						"chancellery",
						"filial_chancellery",
						"filial_manager",
						"filial_deputy_manager"
					]
				},
				{
					title: "Tashqi hujjatlar",
					value: "outgoing",
					roles: [
						"admin",
						"chairman",
						"deputy_chair",
						"chancellery_admin",
						"chancellery",
						"filial_chancellery",
						"filial_manager",
						"filial_deputy_manager"
					]
				},
				{
					title: "Filiallar",
					value: "branches",
					roles: [
						"admin",
						"chairman",
						"deputy_chair",
						"chancellery_admin",
						"chancellery",
						"filial_chancellery",
						"filial_manager",
						"filial_deputy_manager"
					]
				},
				{
					title: "Departamentlar",
					value: "departments",
					roles: []
				},
				{
					title: "Rahbariyat",
					value: "management",
					roles: [
						"admin",
						"chairman",
						"deputy_chair",
						"chancellery_admin",
						"chancellery",
						"filial_chancellery",
						"filial_manager",
						"filial_deputy_manager",
						"assistant"
					]
				},
				{
					title: "Boshqaruv bayonnomalari",
					value: "board_protocol",
					roles: [
						"admin",
						"chancellery_admin"
					]
				},
			]

			return types.filter(type => {
				if(!type.roles.length) {
					return true
				}

				return type.roles.includes(this.currentUser.role)
			})
		},
		/*
		* all_count
		* */
		allCount() {
			return this.reduceCounts("all_count")
		},
		/*
		* unread
		* */
		unreadCount() {
			return this.reduceCounts("unread")
		},
		/*
		* in_progress
		* */
		inProgressCount() {
			return this.reduceCounts("in_progress")
		},
		/*
		* file_sent
		* */
		fileSentCount() {
			return this.reduceCounts("file_sent")
		},
		/*
		* completed
		* */
		completedCount() {
			return this.reduceCounts("completed")
		},
		/** **/
		onHold() {
			return this.reduceCounts("on_hold")
		},
		/*
		* not_performed
		* */
		notPerformedCount() {
			return this.reduceCounts("not_performed")
		},
		/*
		* overdue
		* */
		overdueCount() {
			return this.reduceCounts("overdue")
		},
		/*
		* not_assigned
		* */
		notAssigned() {
			return this.reduceCounts("not_assigned")
		},
		/*
		* all_resolution
		* */
		allResolution() {
			return this.reduceCounts("all_resolution")
		},
		/*
		* all_resolution_after_24_hour
		* */
		allResolutionAfter24() {
			return this.reduceCounts("created_after_24_hours")
		},
		/*
		* assigned
		* */
		assigned() {
			return this.reduceCounts("assigned")
		},
		/*
		* assigned after 24 hour
		* */
		assignedAfter24() {
			return this.reduceCounts("signed_after_24_hours")
		},
		/*
		* assigned_but_not_verified
		* */
		assignedButNotVerified() {
			return this.reduceCounts("assigned_but_not_verified")
		},
		/*
		*
		* */
		generateType() {
			switch (this.filter.typeSelect) {
				case 'inner':
					return 'doc_type'
				case 'outgoing':
					return 'correspondent'
				case 'branches':
				  return 'filial'
				case 'departments':
					return 'departments'
				default:
					return 'management'
			}
		},
		/*
		*
		* */
		generateTypeRoute() {
			switch (this.generateType) {
				case 'doc_type':
				case 'correspondent':
				case 'filial':
					return 'StatisticKPIDepartment'
				case 'management':
					return 'StatisticKPIDetail'
				default:
					return 'StatisticKPIUsers'
			}
		},
		exportExcelButtonDisabled() {
			return !['inner', 'outgoing', 'branches', 'departments'].includes(this.filter.typeSelect)
		}
	},
	async mounted() {
		this.filter.typeSelect = this.isModerator ? 'inner' : 'departments'

		if(!this.isModerator) {
			await this.$router.replace({
				query: {
					...this.$route.query,
					department: this.currentUser.top_level_dept
				}
			})
			.catch(() => {})
		}

		let query = {
			...this.$route.query,
			type: this.$route.query.type ? this.$route.query.type : this.filter.typeSelect,
		}

		let date = new Date()
		if(Object.keys(this.$route.query).length && (this.$route.query.start_date || this.$route.query.end_date)) {
			this.filter.date = [
				this.$route.query.start_date,
				this.$route.query.end_date
			]
		} else {
			this.filter.date = [
				format(new Date(date.getFullYear(), date.getMonth(), 1), "yyyy-MM-dd"),
				format(new Date(date.getFullYear(), date.getMonth() + 1, 0), "yyyy-MM-dd")
			]
		}

		await this.getBranchesList()
		setTimeout(async () => {
			await this.getDepartments()
			await this.setQueries(query)
			await this.getDocs(query.type)
		}, 500)
	},
	methods: {
		async getInnerDocs() {
			this.loading = true

			await this.$http.get(`/v2/docflow/${this.filter.branch}/doc-type-statistics/`, {
				params: {
					start_date: (this.$route.query.start_date) ?? this.filter.date[0],
					end_date: (this.$route.query.end_date) ?? this.filter.date[1],
				}
			})
			.then(({ data }) => {
				this.data = data
				const keys = Object.keys(data)
				this.treeList = keys.map(key => {
					return {
						title: key,
						...data[key]
					}
				})
			})
			.finally(() => {
				this.loading = false
			})
		},
		/*
		*
		* */
		async getOutgoingDocs() {
			this.loading = true

			await this.$http.get(`/v2/docflow/${this.filter.branch}/correspondent-statistics/`, {
				params: {
					start_date: (this.$route.query.start_date) ?? this.filter.date[0],
					end_date: (this.$route.query.end_date) ?? this.filter.date[1],
				}
			})
			.then(({ data }) => {
				this.data = data
				const keys = Object.keys(data)
				this.treeList = keys.map(key => {
					return {
						title: key,
						...data[key]
					}
				})
			})
			.finally(() => {
				this.loading = false
			})
		},
		/*
		*
		* */
		async getBranchesDocs() {
			this.loading = true

			await this.$http.get(`/v2/docflow/${this.currentUser.filial}/branch-statistics/`, {
				params: {
					start_date: (this.$route.query.start_date) ?? this.filter.date[0],
					end_date: (this.$route.query.end_date) ?? this.filter.date[1]
				}
			})
			.then(({ data }) => {
				this.data = data
				const keys = Object.keys(data)
				this.treeList = keys.map(key => {
					return {
						title: key,
						...data[key]
					}
				})
			})
			.finally(() => {
				this.loading = false
			})
		},
		/*
		*
		* */
		async getDepartmentDocs() {
			this.loading = true

			await this.$http.get(`/v2/docflow/${this.filter.branch}/department-statistics/`, {
				params: {
					start_date: (this.$route.query.start_date) ?? this.filter.date[0],
					end_date: (this.$route.query.end_date) ?? this.filter.date[1],
					key: this.filter.branch,
					department_code: this.isModerator ? null : this.$route.query.department
					// department_code: '000555'
				}
			})
			.then(({ data }) => {
				this.data = data.reduce((acc, item) => {
					acc[item.department] = {
						all_count: item.all_count,
						unread: item.unread,
						in_progress: item.in_progress,
						completed: item.completed,
						not_performed: item.not_performed,
						overdue: item.overdue,
						on_hold: item.on_hold,
						score: item.score,
						ranking: item.ranking
					}
					return acc
				}, {})

				this.treeList = data.map(key => {
					return {
						...key,
						title: key.department
					}
				})
			})
			.finally(() => {
				this.loading = false
			})
		},
		/*
		*
		* */
		async getManagementDocs() {
			this.loading = true

			await this.$http.get(`/v2/docflow/${this.filter.branch}/management-statistics/`, {
				params: {
					start_date: (this.$route.query.start_date) ?? this.filter.date[0],
					end_date: (this.$route.query.end_date) ?? this.filter.date[1]
				}
			})
			.then(({ data }) => {
				this.data = data
				const keys = Object.keys(data)
				this.treeList = keys.map(key => {
					return {
						title: key,
						...data[key]
					}
				})
			})
			.finally(() => {
				this.loading = false
			})
		},
		/** **/
		async getBoardProtocols() {
			this.loading = true;

			await this.$http.get(`/v2/docflow/${this.filter.branch}/protocol-statistics/`, {
				params: {
					start_date: (this.$route.query.start_date) ?? this.filter.date[0],
					end_date: (this.$route.query.end_date) ?? this.filter.date[1]
				}
			})
				.then(({ data }) => {
					this.data = data
					const keys = Object.keys(data)
					this.treeList = keys.map(key => {
						return {
							title: key,
							...data[key]
						}
					})

					console.log(this.treeList)
				})
				.finally(() => {
					this.loading = false
				})
		},
		/*
		*
		* */
		async getDocs(value) {
			switch (value) {
				case 'outgoing':
					await this.getOutgoingDocs()
					break;
				case 'branches':
					await this.getBranchesDocs()
					break;
				case 'departments':
					await this.getDepartmentDocs()
					break;
				case 'management':
					await this.getManagementDocs()
					break;
				case 'board_protocol':
					await this.getBoardProtocols()
					break;
				default:
					await this.getInnerDocs()
			}
		},
		/*
		*
		* */
		async getDepartments() {
			await this.$http.get(`/departments/department_without_children/`, {
				params: {
					filial: this.filter.branch,
					condition: 'A',
					page_size: 50
				}
			})
			.then(({ data }) => {
				this.departmentList = data.results
				let currentDepartment = data.results.find(department => department.code === this.currentUser.top_level_dept)

				if(currentDepartment) {
					this.filter.department = currentDepartment.code
				} else {
					this.filter.department = data.results[0].code
				}

				console.log("DEP", this.filter.department);
			})
		},
		/*
		*
		* */
		async handleTypeSelect(value) {
			this.filter.branch = this.$route.query.branch = this.currentUser.filial
			this.filter.department = this.$route.query.department = this.currentUser.top_level_dept

			if(value === "branches") {
				delete this.$route.query.branch
			}

			if(value === "departments") {
				await this.getDepartments()
			}

			if(value !== "departments") {
				delete this.$route.query.department
			}

			await this.$router.replace({
				query: {
					...this.$route.query,
					type: value
				}
			})
			.catch(() => {})

			await this.getDocs(value)
		},
		/*
		*
		* */
		async handleFilial(value) {
			await this.$router.replace({
				query: {
					...this.$route.query,
					branch: value
				}
			})
			.catch(() => {})

			if(this.filter.typeSelect === "departments") {
				await this.getDepartments()
			}

			await this.getDocs(this.$route.query.type)
		},
		/*
		*
		* */
		async handleDepartment(value) {
			await this.$router.replace({
				query: {
					...this.$route.query,
					department: value
				}
			})
			.catch(() => {})

			await this.getDepartmentDocs()
		},
		/*
		*
		* */
		async setQueries(query) {
			if(!(query.hasOwnProperty("branch"))) {
				this.filter.branch = this.currentUser.filial
				this.filter.department = this.currentUser.top_level_dept
			} else {
				this.filter.branch = this.$route.query.branch
				this.filter.department = this.$route.query.department
			}

			if(query.type) {
				this.filter.typeSelect = query.type
			}
		},
		/*
		*
		* */
		async getBranchesList() {
			this.$http.get(`/filials/`, {
				params: {
					condition: 'A',
					page_size: 50
				}
			})
			.then(({ data }) => {
				this.branchList = data.results
				this.filter.branch = this.$route.query.branch ? this.$route.query.branch : this.currentUser.filial

				console.log("FIL", this.filter.branch);
			})
		},
		/*
		*
		* */
		async dateSelected(value) {
			this.filter.date = [value[0], value[1]]

			await this.$router.replace({
				query: {
					...this.$route.query,
					start_date: value[0],
					end_date: value[1],
					type: this.filter.typeSelect
				}
			})
			.catch(() => {})

			await this.getDocs(this.$route.query.type)
		},
		/*
		*
		* */
		reduceCounts(key) {
			return Object.values(this.treeList).reduce((acc, cur) => acc + cur[key], 0)
		},
		/** **/
		async exportToExcel() {
			this.exportExcelButtonLoading = true
			try {
				const response = await this.$axios.post(`/v2/docflow/${this.currentUser.filial}/export-statistics/`, {
					data: this.data
				}, {
					responseType: 'blob'
				});

				// Create a URL for the Blob
				const url = window.URL.createObjectURL(new Blob([response.data]))

				// Generate a filename with a timestamp
				const fileName = `Статистика.xls`

				// Create a temporary link element
				const link = document.createElement("a")
				link.href = url;
				link.setAttribute("download", fileName) // Set download attribute with the filename
				document.body.appendChild(link);// Append the link to the document

				// Trigger the download by simulating a click
				link.click();

				// Clean up
				document.body.removeChild(link)
			} catch (error) {
				console.error("Error exporting to Excel:", error)
			} finally {
				this.exportExcelButtonLoading = false
			}
		}
	}
}
</script>

<style>

</style>
