<script>
export default {
	name: "show",
	data() {
		return {
			headersList: [
				{
					text: "#",
					value: "index",
					width: "50",
					active: true,
					sortable: false,
					align: "center",
				},
				{
					text: "document-flow.components.correspondent",
					value: "correspondent",
					width: "400",
					active: true,
					sortable: false,
				},
				{
					text: "document-flow.views.boxes.content",
					value: "description",
					active: true,
					sortable: false,
					width: "400",
				},
				{
					text: "components.registration-number",
					value: "register_number",
					width: "200",
					active: true,
					sortable: false,
				},
				{
					text: "document-flow.components.registration-date",
					value: "register_date",
					width: "200",
					active: true,
					sortable: false,
				},
				{
					text: "document-flow.views.boxes.journal",
					value: "journal_name",
					width: "200",
					active: true,
					sortable: false,
				}
			],
			filterState: {
				page: 1,
				page_size: 15,
			}
		}
	},
	computed: {
		apiUrl() {
			switch (this.$route.query._type) {
				case "inner":
					return `v2/docflow/${this.$route.query.filial_mfo}/documents-by-doctype-statistics`
				case "outgoing":
					return `v2/docflow/${this.$route.query.filial_mfo}/documents-by-correspondent`
				case "branches":
					return `v2/docflow/${this.$route.query.filial_mfo}/documents-by-branch`
				case 'management':
					return `v2/docflow/${this.$route.query.filial_mfo}/documents-by-management`
				default:
					return `v2/docflow/${this.$route.query.filial_mfo}/documents-by-performer-statistics`
			}
		},
	},
	methods: {
		routeTypes(journal) {
			switch (journal) {
				// Входящий
				case 1:
					return "IncomingRegistrationDetail"
				// Внутренние
				case 3:
					return "InnerRegistrationDetail"
				// Исходящие
				case 4:
					return "OutgoingRegistrationDetail"
				// Обращение
				case 5:
					return "AppealRegistrationDetail"
				// Приказы и распоряжения
				case 6:
					return "OrderProtocolRegistrationDetail"
				// Заявление
				case 7:
					return "ApplicationRegistrationDetail"
				// Входящие от филиалов
				default:
					return "FilialDocumentsRegistrationFormShow"
			}
		}
	}
}
</script>

<template>
	<div>
		<ui-data-table
			ref="dataTable"
			:height="'calc(100vh - 155px)'"
			:headers-list="headersList"
			:filter-state="filterState"
			:api-url="apiUrl"
			:api-params="$route.query"
			:filters-visible="false"
			no-border
		>
			<template #index="{ item, value }">
				<router-link
					:to="{
		        name: routeTypes(item.journal_id),
		        params: {
		          id: item.id
		        },
		        query: {
							condition: 'for_watching_process'
		        }
		      }"
				>
					{{ item.index }}
				</router-link>
			</template>

			<template #correspondent="{ item, value }">
				<router-link
					:to="{
		        name: routeTypes(item.journal_id),
		        params: {
		          id: item.id
		        },
		        query: {
							condition: 'for_watching_process'
		        }
		      }"
				>
					{{ value }}
				</router-link>
			</template>

			<template #description="{ item, value }">
				<router-link
					:to="{
		        name: routeTypes(item.journal_id),
		        params: {
		          id: item.id
		        },
		        query: {
							condition: 'for_watching_process'
		        }
		      }"
				>
					{{ value }}
				</router-link>
			</template>

			<template #register_number="{ item, value }">
				<router-link
					:to="{
		        name: routeTypes(item.journal_id),
		        params: {
		          id: item.id
		        },
		        query: {
							condition: 'for_watching_process'
		        }
		      }"
				>
					{{ value }}
				</router-link>
			</template>

			<template #register_number="{ item, value }">
				<router-link
					:to="{
		        name: routeTypes(item.journal_id),
		        params: {
		          id: item.id
		        },
		        query: {
							condition: 'for_watching_process'
		        }
		      }"
				>
					{{ value }}
				</router-link>
			</template>

			<template #register_date="{ item, value }">
				<router-link
					:to="{
		        name: routeTypes(item.journal_id),
		        params: {
		          id: item.id
		        },
		        query: {
							condition: 'for_watching_process'
		        }
		      }"
				>
					<span>{{ value | filterCalendarToTime }}</span>
				</router-link>
			</template>

			<template #journal_name="{ item, value }">
				<router-link
					:to="{
		        name: routeTypes(item.journal_id),
		        params: {
		          id: item.id
		        },
		        query: {
							condition: 'for_watching_process'
		        }
		      }"
				>
					{{ value }}
				</router-link>
			</template>
		</ui-data-table>
	</div>
</template>

<style scoped>
.detail-height {
	height: calc(100vh - 105px) !important;
}
</style>
