<template>
	<div class="close-appeal-modal">
		<app-button
			min-height="36"
			height="36"
			@click="dialog = true"
		>
			{{ closed ? $t('changeCondition') : $t('closeAppeal') }}
		</app-button>

		<v-dialog
			content-class="shadow-5"
			v-model="dialog"
			max-width="600"
			persistent
		>
			<div class="bg-4 pa-4">
				<div class="d-flex align-center justify-space-between">
					<h6 class="heading-10 font-500">{{ $t('closeAppeal') }}</h6>
					<app-button
						@click="dialog = false"
						icon
						color="error"
						rounded
						width="45"
						min-width="45"
						height="45"
					>
						<x-icon />
					</app-button>
				</div>

				<div class="app-input mt-4">
					<span class="d-block font-600 small-2 mb-2">{{$t('components.state')}} <span class="color-red">*</span></span>

					<app-autocomplete
						v-model="$v.closed_type.$model"
						:error="$v.closed_type.$error"
						:api-list-url="documentReferenceUrl"
						:api-params="{
                  type: 'closed_type',
                  page_size: 100
                }"
						list-type="list"
						item-text="name"
						item-value="id"
						cache-items
					/>
				</div>

				<div class="mt-4">
					<span class="d-block font-600 small-2">Комментарий <span class="color-red">*</span></span>

					<v-textarea
						v-model="$v.closed_comment.$model"
						:error="$v.closed_comment.$error"
						outlined
						background-color="var(--input-bg)"
						class="mt-2"
					>
					</v-textarea>
				</div>

				<v-divider class="mb-2" />

				<div class="d-flex justify-end">
					<app-button
						:loading="loading"
						@click="closeAppeal"
					>
						<template #prepend>
							<v-icon size="18">mdi-check-circle</v-icon>
						</template>
						{{ $t('closeAppeal') }}
					</app-button>
				</div>
			</div>
		</v-dialog>
	</div>
</template>

<script>
import { XIcon } from "vue-feather-icons";
import { required } from "vuelidate/lib/validators";
import {mapGetters} from "vuex";

export default {
	name: "CloseAppealModal",
	components: {
		XIcon
	},
	props: {
		model: {
			type: Object,
			default: () => {}
		},
		closed: {
			type: Boolean,
			default: false
		}
	},
	data() {
		return {
			dialog: false,
			loading: false,
			closed_type: null,
			closed_comment: null
		}
	},
	validations: {
		closed_type: { required },
		closed_comment: { required }
	},
	computed: {
		...mapGetters({
			currentUser: "auth/getCurrentUser"
		}),
		/** **/
		documentReferenceUrl() {
			return `/docflow/${this.$store.getters['auth/getCurrentUser'].filial}/reference/`
		}
	},
	mounted() {
		if (this.model && this.model.closed_type && this.model.closed_type.id && this.model.closed_comment) {
			this.closed_type = this.model.closed_type.id;
			this.closed_comment = this.model.closed_comment;
		}
	},
	methods: {
		closeAppeal() {
			this.$v.$touch();

			if (this.$v.$invalid) {
				return;
			}
			this.loading = true;
			this.$axios.put(`/docflow/${this.currentUser.filial}/appeals/${this.$route.params.id}/close_appeal/`, {
				closed_type: this.closed_type,
				closed_comment: this.closed_comment
			})
				.then(({ data }) => {
					this.loading = false;
					this.dialog = false;
					this.$emit("emit:onAppealClosed");
				})
				.catch(err => {
					console.log(err);
					this.loading = false;
				})
		}
	}
}
</script>

<style scoped>

</style>
