<template>
	<div class="incoming-form-view">
		<div class="d-flex align-end">
			<span class="font-400 small-1 text--secondary">Регистрация</span>
			<v-icon class="mx-1" size="20">mdi-chevron-right</v-icon>
			<span v-if="formType === 'CREATE'" class="font-400 small-1 text--secondary">Создать входяший</span>
			<span v-else class="font-400 small-1 text--secondary">Изменить входяший</span>
		</div>
	</div>
</template>

<script>
export default {
	name: "IncomingForm",
	props: {
		formType: {
			type: String,
			default: null,
			required: true
		}
	}
}
</script>

<style scoped>

</style>
