<template>
  <div class="corespondent-form-create h-100">
    <app-wrapper class="h-100">
      <template #body>
        <div class="d-flex flex-column flex-1 pa-3">
          <div>
            <div class="d-flex align-center w-100 mb-12">
              <span class="heading-9 font-600 text-dark mr-3 d-block">
                {{ formType === 'create' ? $t('equipments.views.add-correspondent.add-correspondent') : $t('equipments.views.add-correspondent.edit-correspondent') }}
              </span>
              <v-divider/>
            </div>

            <v-row>
              <v-col md="4">
                <div class="app-input">
                  <span class="d-block font-600 small-2 mb-2">{{$t('equipments.views.add-correspondent.name')}}</span>

                  <v-text-field
                    v-model="$v.model.organization_name.$model"
                    :error="$v.model.organization_name.$error"
                    :error-messages="errors.organization_name"
                    outlined
                    background-color="var(--input-bg)"
                    @keypress="isLetter($event)"
                  ></v-text-field>
                </div>
              </v-col>

              <v-col md="4">
                <div class="app-input">
                  <span class="d-block font-600 small-2 mb-2">{{$t('equipments.views.add-correspondent.inn')}}</span>

                  <v-text-field
                    v-model="model.tin"
                    v-mask="'#########'"
                    hide-details
                    outlined
                    background-color="var(--input-bg)"
                  ></v-text-field>
                </div>
              </v-col>

              <v-col md="4">
                <div class="app-input">
                  <span class="d-block font-600 small-2 mb-2">{{$t('equipments.views.add-correspondent.address')}}</span>

                  <v-text-field
                    v-model="model.address"
                    hide-details
                    outlined
                    background-color="var(--input-bg)"
                  ></v-text-field>
                </div>
              </v-col>

              <v-col md="4">
                <div class="app-input">
                  <span class="d-block font-600 small-2 mb-2">{{$t('equipments.views.add-correspondent.phone')}}</span>

                  <v-text-field
                    v-model="model.phone_number"
                    v-mask="'+998 (##) ###-##-##'"
                    hide-details
                    outlined
                    background-color="var(--input-bg)"
                  ></v-text-field>
                </div>
              </v-col>
            </v-row>
          </div>

          <div class="mt-auto">
            <app-button
              color="error"
              @click="$router.push({ name: 'SettingsCorespondent' })"
              class="mr-2"
            >
              <template #prepend>
                <arrow-left-icon size="20" />
              </template>
              {{$t('equipments.views.add-correspondent.back')}}
            </app-button>

            <app-button v-if="formType === 'create'" @click="send">
              <template #prepend>
                <plus-circle-icon size="20" />
              </template>
              {{$t('equipments.views.add-correspondent.create')}}
            </app-button>

            <app-button v-if="formType === 'update'" @click="update">
              <template #prepend>
                <edit3-icon size="20" />
              </template>
              {{$t('equipments.views.add-correspondent.edit')}}
            </app-button>
          </div>
        </div>
      </template>
    </app-wrapper>
  </div>
</template>

<script>
import { ArrowLeftIcon, Edit3Icon, PlusCircleIcon } from "vue-feather-icons";
import { required } from "vuelidate/lib/validators";

export default {
  name: "createForm",
  props: {
    formType: {
      type: String,
      default: "create"
    }
  },
  components: {
    PlusCircleIcon,
    ArrowLeftIcon,
    Edit3Icon
  },
  data() {
    return {
      errors: {
        organization_name: ""
      },
      model: {
        organization_name: "",
        tin: null,
        address: null,
        phone_number: null
      }
    }
  },
  validations: {
    model: {
      organization_name: { required }
    },
  },
  created() {
    if(Number(this.$route.params.id)) {
      this.getOne()
    }
  },
  methods: {
    send() {
      this.$v.$touch();

      if (this.$v.$invalid) {
        return;
      }

      this.model.organization_name = this.model.organization_name.toUpperCase()

      this.$http.post(`/action/correspondent/`, this.model)
      .then(({ data }) => {
        this.$toast.success(this.$t('equipments.views.add-correspondent.added'))

        this.$router.push({
          name: "SettingsCorespondent"
        })
      })
    },
    /*
    *
    * */
    update() {
      this.$v.$touch();

      if (this.$v.$invalid) {
        return;
      }

      this.model.organization_name = this.model.organization_name.toUpperCase()

      this.$http.put(`/action/correspondent/${this.$route.params.id}/`, this.model)
      .then(() => {
        this.$toast.success(this.$t('equipments.views.add-correspondent.edited'))

        this.$router.push({
          name: "SettingsCorespondent"
        })
      })
      .catch(() => {
        this.$toast.error(this.$t('equipments.views.add-correspondent.edit-error'))
      })
    },
    /*
    *
    * */
    getOne() {
      this.$http.get(`/action/correspondent/${this.$route.params.id}/`)
      .then(({ data }) => {
        this.model = data
        console.log(data);
      })
    },
    /*
    *
    * */
    isLetter(e) {
      if(/^[a-zA-Z'"\s0-9_.-]*$/.test(String.fromCharCode(e.keyCode))) {
        this.errors.organization_name = ""
        return true
      }
      else {
        e.preventDefault()
        this.errors.organization_name = this.$t('equipments.views.add-correspondent.latin-letter')
      }
    }
  }
}
</script>
