<template>
  <div
    class="add-corespondent-view d-flex flex-column h-100"
  >
    <app-wrapper class="mb-4">
      <template #body>
        <v-row align="center" class="pa-1">
          <v-col md="2" class="py-0 pl-0">
            <h3 class="line-base">{{$t('equipments.views.add-correspondent.add-correspondent')}}</h3>
          </v-col>

          <v-col md="3" class="py-0">
            <div class="app-input">
              <v-text-field
                @input="search"
                v-model="filterSearch"
                hide-details
                outlined
                dense
                clearable
                :placeholder="$t('equipments.views.add-correspondent.search')"
                background-color="var(--input-bg)"
              >
                <template #prepend-inner>
                  <search-icon class="mr-1 d-block" size="20" color="var(--text-4)"/>
                </template>
              </v-text-field>
            </div>
          </v-col>

          <v-spacer />

          <app-button :to="{ name: 'SettingsCorespondentCreate' }">
            <template #prepend>
              <plus-circle-icon size="20" />
            </template>
            {{$t('equipments.views.add-correspondent.add')}}
          </app-button>
        </v-row>
      </template>
    </app-wrapper>

    <template>
      <div class="d-flex flex-column h-100 bg-4 rounded-20 pa-1 overflow-hidden">
        <div class="d-flex flex-column flex-1 h-100 overflow-hidden">
          <perfect-scrollbar class="d-flex flex-column flex-1 h-100">
            <app-table>
              <template #tableHeader>
                <th width="450">
                  <span>{{$t('equipments.views.add-correspondent.name')}}</span>
                </th>
                <th width="400">
                  <span>{{$t('equipments.views.add-correspondent.status')}}</span>
                </th>
                <th>
                  <span>{{$t('equipments.views.add-correspondent.inn')}}</span>
                </th>
                <th width="300">
                  <span>{{$t('equipments.views.add-correspondent.added-from')}}</span>
                </th>
                <th class="text-center" width="150">
                  <span>{{$t('equipments.views.add-correspondent.action')}}</span>
                </th>
              </template>

              <template #tableBody>
                <template v-if="getCorrespondentList.length">
                  <template >
                    <tr v-for="(item, index) in getCorrespondentList" :key="index">
                      <td>
                        <span class="font-600">{{ item.organization_name }}</span>
                      </td>
                      <td>
                        <span class="font-600">{{ item.status }}</span>
                      </td>
                      <td>
                        <span class="font-600">{{ item.tin }}</span>
                      </td>
                      <td>
                        <span class="font-600">{{ item.addition_type === 'by_hand' ? $t('equipments.views.add-correspondent.office') : $t('equipments.views.add-correspondent.committee-statistics') }}</span>
                      </td>
                      <td
                        class="text-center"
                      >
                        <app-button
                          :to="{ name: 'SettingsCorespondentUpdate', params: { id: item.id } }"
                          icon
                          min-width="40"
                          width="40"
                          height="40"
                        >
                          <edit3-icon size="18"/>
                        </app-button>

<!--                        <app-button-->
<!--                          @click="deleteItem(item.id)"-->
<!--                          color="error"-->
<!--                          icon-->
<!--                          min-width="40"-->
<!--                          width="40"-->
<!--                          height="40"-->
<!--                          class="ml-2"-->
<!--                        >-->
<!--                          <trash2-icon size="18"/>-->
<!--                        </app-button>-->
                      </td>
                    </tr>
                  </template>
                </template>

                <template v-else>
                  <tr>
                    <td colspan="6">
                      <h2 class="font-600 text-center">{{$t('equipments.views.add-correspondent.not-found')}}</h2>
                    </td>
                  </tr>
                </template>
              </template>
            </app-table>
          </perfect-scrollbar>
        </div>
      </div>
    </template>

    <app-pagination @emit:up="paginate" class="mt-3" />
  </div>
</template>

<script>
import { debounce } from "lodash/function";
import { Edit3Icon, PlusCircleIcon, SearchIcon, Trash2Icon, XIcon } from "vue-feather-icons";
import { mapActions, mapGetters, mapState } from "vuex";

export default {
  name: "Home",
  components: {
    SearchIcon,
    Edit3Icon,
    XIcon,
    PlusCircleIcon,
    Trash2Icon
  },
  data() {
    return {
      filterSearch: ""
    }
  },
  computed: {
    ...mapState({
      filterState: state => state.headerFilter.filter,
      filteredState: state => state.headerFilter.filteredState,
      filterPagination: state => state.headerFilter.pagination,
    }),
    /*
    *
    * */
    ...mapGetters({
      currentUser: "auth/getCurrentUser",
      getCorrespondentList: "equipmentModule/getCorrespondentList",
    })
  },
  created() {
    this.fetchCorrespondentList()

    this.filtersFromQueryParams()
  },
  methods: {
    ...mapActions({
      fetchCorrespondentList: "equipmentModule/fetchCorrespondentList",
      setFilteredState: "headerFilter/setFilteredState",
      setFiltersFromQueryParams: "headerFilter/setFiltersFromQueryParams",
    }),
    /*
    *
    * */
    deleteItem(id) {
      if(!confirm(this.$t('equipments.views.add-correspondent.delete-description'))) {
        return
      }

      this.$http.delete(`/action/correspondent/${id}/`)
      .then(() => {
        this.fetchCorrespondentList()

        this.$toast.success(this.$t('equipments.views.add-correspondent.deleted'))
      })
    },
    /*
    *
    * */
    search: debounce(function(api) {
      this.$store.state.headerFilter.pagination.page = 1

      this.$router.push({
        query: {
          search: this.filterSearch
        }
      })
      .catch(() => {})

      this.fetchCorrespondentList({
        search: this.filterSearch
      })
    }, 500),
    /*
    *
    * */
    filtersFromQueryParams() {
      this.setFiltersFromQueryParams({
        query: this.$route.query
      })
    },
    /*
    *
    * */
    paginate(value) {
      let query = { search: this.filterSearch, page: value }
      this.filterPagination.page = value

      this.$router.replace({
        query: query
      }).catch(() => {})

      this.fetchCorrespondentList({
        ...query
      })
    }
  }
}
</script>
