<template>
	<table-list :table-props="table_props" />
</template>

<script>
import TableList from "../components/TableList";

export default {
	name: "List",
	components: {
		TableList
	},
	data() {
		return {
			table_props: {
				isSent: null,
				statuses: "25,41,42,26,43,44",
				byUser: true,
				inAgreement: false,
				isThirdSide: false,
			}
		}
	}
}
</script>

<style scoped>

</style>
