<template>
	<div class="inner-view">
		<ui-data-table
			:height="tableHeight"
			:headers-list="indexTableCols"
			:filter-state="indexTableFilters"
			:filter-storage-name="CALL_CENTER_APPEAL_FILTER"
			:config-column-storage-name="CALL_CENTER_APPEAL_COLUMN"
			:api-url="`docflow/${currentUser.filial}/appeals`"
			:api-params="{ journal: 2 }"
			@saveConfigColumn="saveConfigColumn"
			@resetConfigColumn="resetConfigColumn"
			@clearFilter="clearFilter"
			@deleteSavedFilter="clearFilter"
		>
      <template #index="{ value, item }">
        <span class="ma-auto">{{ item.index }}</span>
      </template>

			<template #doc_type.name="{ value, item }">
				<router-link
					:to="{
            name: 'CallCenterAppealRegistrationDetail',
            params: {
              id: item.id,
            }
          }"
				>
					{{ value }}
				</router-link>
			</template>

			<template #register_number="{ value, item }">
				<router-link
					:to="{
            name: 'CallCenterAppealRegistrationDetail',
            params: {
              id: item.id,
            }
          }"
				>
					{{ value }}
				</router-link>
			</template>

			<template #register_date="{ value, item }">
				<router-link
					:to="{
            name: 'CallCenterAppealRegistrationDetail',
            params: {
              id: item.id,
            }
          }"
				>
					{{ value | filterCalendarToTime }}
				</router-link>
			</template>

			<template #correspondent.organization_name="{ value, item }">
				<router-link
					:to="{
            name: 'CallCenterAppealRegistrationDetail',
            params: {
              id: item.id,
            }
          }"
				>
					{{ value }}
				</router-link>
			</template>

			<template #outgoing_number="{ value, item }">
				<router-link
					:to="{
            name: 'CallCenterAppealRegistrationDetail',
            params: {
              id: item.id,
            }
          }"
				>
					{{ value }}
				</router-link>
			</template>

			<template #outgoing_date="{ value, item }">
				<router-link
					:to="{
            name: 'CallCenterAppealRegistrationDetail',
            params: {
              id: item.id,
            }
          }"
				>
					{{ value | filterCalendarToTime }}
				</router-link>
			</template>

			<template #text="{ value, item }">
				<router-link
					:to="{
            name: 'CallCenterAppealRegistrationDetail',
            params: {
              id: item.id,
            }
          }"
				>
					{{ value }}
				</router-link>
			</template>

			<template #status.name="{ value, item }">
				<router-link
					:to="{
            name: 'CallCenterAppealRegistrationDetail',
            params: {
              id: item.id
            }
          }"
				>
					<ui-status
						v-if="value"
						:text="value"
					/>
				</router-link>
			</template>

			<template #created_by="{ value, item }">
				<router-link
					:to="{
            name: 'CallCenterAppealRegistrationDetail',
            params: {
              id: item.id
            }
          }"
				>
					<ui-avatar-group
						:avatar-list="[{ ...value, full_name: `${value.last_name} ${value.first_name} ${value.father_name}` }]"
					/>
				</router-link>
			</template>

			<template #review_users="{ value, item }">
				<router-link
					:to="{
            name: 'CallCenterAppealRegistrationDetail',
            params: {
              id: item.id
            }
          }"
				>
					<ui-avatar-group
						:avatar-list="value"
					/>
				</router-link>
			</template>

			<template #priority="{ value, item }">
				<router-link
					:to="{
            name: 'CallCenterAppealRegistrationDetail',
            params: {
              id: item.id
            }
          }"
				>
					<ui-priority
						v-if="value"
						:text="value"
					/>
				</router-link>
			</template>

			<template #deadline="{ value, item }">
				<router-link
					:to="{
            name: 'CallCenterAppealRegistrationDetail',
            params: {
              id: item.id
            }
          }"
				>
          <span>
            {{ value | filterCalendarToTime }}
          </span>
				</router-link>
			</template>

			<template #filterBody>
				<appeal-call-center-table-filter />
			</template>

      <template #headerAction>
        <register-button />
      </template>
		</ui-data-table>
	</div>
</template>

<script>
import {mapActions, mapGetters, mapState} from "vuex";
import { CALL_CENTER_APPEAL_COLUMN, CALL_CENTER_APPEAL_FILTER } from "@/common/constants"
import { getItem } from "@/services/jwt.service"
import AppealCallCenterTableFilter from "./components/AppealCallCenterTableFilter.vue";
import RegisterButton from "@/modules/DocumentFlow/views/RegistrationNew/components/RegisterButton.vue";

export default {
	name: "index",
	components: {
		RegisterButton,
		AppealCallCenterTableFilter
	},
	data() {
		return {
			CALL_CENTER_APPEAL_COLUMN,
			CALL_CENTER_APPEAL_FILTER
		}
	},
	created() {
		this.setSavedTableCols()
		this.setSavedFilters()
	},
	computed: {
		...mapState({
			indexTableCols: state => state.documentFlowRegistrationAppealCallCenter.indexTableCols,
			indexTableFilters: state => state.documentFlowRegistrationAppealCallCenter.indexTableFilters
		}),
		/**/
		...mapGetters({
			currentUser: "auth/getCurrentUser"
		}),
		/**/
		tableHeight() {
			return document.documentElement.clientHeight - 250
		},
	},
	methods: {
		...mapActions({
			setActiveIndexTableCols: "documentFlowRegistrationAppealCallCenter/setActiveIndexTableCols",
			resetIndexTableCols: "documentFlowRegistrationAppealCallCenter/resetIndexTableCols",
			resetIndexTableFilters: "documentFlowRegistrationAppealCallCenter/resetIndexTableFilters",
			setActiveIndexTableFilters: "documentFlowRegistrationAppealCallCenter/setActiveIndexTableFilters",
		}),
		/**/
		saveConfigColumn(columns) {
			this.setActiveIndexTableCols(columns)
		},
		/**/
		resetConfigColumn() {
			this.resetIndexTableCols()
		},
		/**/
		setSavedTableCols() {
			let savedColsFromStorage = JSON.parse(getItem(this.CALL_CENTER_APPEAL_COLUMN)) ?? {}

			if(Object.keys(savedColsFromStorage).length) {
				this.setActiveIndexTableCols(savedColsFromStorage)
			} else {
				this.setActiveIndexTableCols(this.indexTableCols)
			}
		},
		/**/
		async clearFilter() {
			await this.resetIndexTableFilters()
		},
		/**/
		setSavedFilters() {
			if(this.$route.query) {
				let savedFiltersFromStorage = JSON.parse(getItem(this.CALL_CENTER_APPEAL_FILTER)) ?? {}
				delete this.$route.query.page
				delete this.$route.query.page_size

				if(Object.keys(savedFiltersFromStorage).length) {
					this.setActiveIndexTableFilters(savedFiltersFromStorage)
				} else {
					this.setActiveIndexTableFilters(this.$route.query)
				}
			}
		}
	}
}
</script>

<style scoped>

</style>
