<template>
  <div class="d-flex grid-gap-md h-100">
    <registration-form-wrapper
      :form-title="$t('document-flow.views.registration.edit-document')"
      :tree-id="$route.params.id"
      :viewer-list="mergeViewList"
      view-type="protocol"
    />

    <pdf-viewer
      :viewer-list="attachDocumentsList"
      :register-number="reviewGetOneOrdersProtocols.register_number"
      :register-date="reviewGetOneOrdersProtocols.register_date"
    />
  </div>
</template>

<script>
import PdfViewer from "@/common/components/PdfViewer";
import { mapActions, mapGetters } from "vuex";
import RegistrationFormWrapper from "../../../../../components/RegistrationFormWrapper";

export default {
	name: "OrdersProtocolsShow",
	components: {
    PdfViewer,
		RegistrationFormWrapper
	},
	computed: {
		...mapGetters({
			attachDocumentsList: "documentFlowModule/getAttachDocumentsList",
			reviewGetOneOrdersProtocols: "documentFlowModule/getReviewGetOneOrdersProtocols",
		}),
		/*
		*
		* */
		mergeViewList() {
			return [...this.attachDocumentsList]
		}
	},
	mounted() {
		if(this.$route.params.id) {
			this.fetchAttachFilesList({
				incomingDocId: this.$route.params.id
			})
		}
	},
	methods: {
		...mapActions({
			fetchAttachFilesList: "documentFlowModule/fetchAttachFilesList",
		})
	}
}
</script>
