<template>
	<div class="d-flex flex-column align-start flex-1 pa-4">
		<template v-if="isLoading">
			<app-loader
				component-based
			/>
		</template>
		<template v-else>
			<div v-if="$route.query.type !== 'for_watching_process'" class="d-flex align-center w-100 mb-12">
				<span class="heading-9 font-600 text-dark mr-3 d-block">{{ formTitle }}</span>
				<v-divider />

				<app-button
          color="error"
          @click="$router.go(-1)"
          class="ml-2"
          v-if="$route.query.type !== 'for_watching_process'"
        >
					<template #prepend>
						<arrow-left-icon size="18" />
					</template>
					<template>
						{{$t('document-flow.views.registration.back')}}
					</template>
				</app-button>

				<template v-if="currentUser.role !== 'assistant'">
          <app-button
            @click="updateDocument"
            depressed
            class="ml-2"
            v-if="$route.query.type !== 'for_watching_process'"
          >
					<template #prepend>
						<v-icon size="17">mdi-content-save</v-icon>
					</template>
            <template #default>
              {{$t('document-flow.views.registration.save')}}
            </template>
          </app-button>
        </template>
			</div>

			<div class="w-100 mb-auto">
				<v-row>
					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.type-registration-document')}}</span>

							<v-autocomplete
								v-model="reviewGetOneOrdersProtocols.journal"
								:items="journalList"
								item-text="name"
								outlined
								hide-details
								return-object
								readonly
								background-color="var(--input-bg)"
							>
								<template #append>
									<v-icon>mdi-chevron-down</v-icon>
								</template>
							</v-autocomplete>
						</div>
					</v-col>

					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.document-name')}} </span>

							<v-text-field
								v-model="reviewGetOneOrdersProtocols.title"
								hide-details
								outlined
								background-color="var(--input-bg)"
                :readonly="currentUser.role === 'assistant' || $route.query.type === 'for_watching_process'"
							></v-text-field>
						</div>
					</v-col>

					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.document-type')}}</span>

							<app-autocomplete
								v-model="$v.reviewGetOneOrdersProtocols.doc_type.$model"
								:error="$v.reviewGetOneOrdersProtocols.doc_type.$error"
								:api-list-url="documentReferenceUrl"
								:api-params="{
                  type: 'doc_type'
                }"
								list-type="list"
								item-text="name"
								return-object
                :readonly="currentUser.role === 'assistant' || $route.query.type === 'for_watching_process'"
								cache-items
							/>
						</div>
					</v-col>

					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.journal')}}</span>

							<app-autocomplete
								v-model="reviewGetOneOrdersProtocols.sub_journal"
								:api-list-url="documentReferenceUrl"
								:api-params="{
                  type: 'sub_journal'
                }"
								list-type="list"
								item-text="name"
								return-object
								readonly
                :readonly="currentUser.role === 'assistant' || $route.query.type === 'for_watching_process'"
							/>
						</div>
					</v-col>

					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.department')}}</span>

							<v-autocomplete
								v-model="$v.reviewGetOneOrdersProtocols.department.$model"
								:error="$v.reviewGetOneOrdersProtocols.department.$error"
								:items="departmentList"
								item-text="name"
								outlined
								hide-details
								background-color="var(--input-bg)"
								return-object
                :readonly="currentUser.role === 'assistant' || $route.query.type === 'for_watching_process'"
							>
								<template #append>
									<v-icon>mdi-chevron-down</v-icon>
								</template>
							</v-autocomplete>
						</div>
					</v-col>

					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.registration-number')}}</span>

							<v-text-field
								v-model="reviewGetOneOrdersProtocols.register_number"
								hide-details
								outlined
								background-color="var(--input-bg)"
                :readonly="currentUser.role === 'assistant' || $route.query.type === 'for_watching_process'"
							></v-text-field>
						</div>
					</v-col>

					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.registration-date')}}</span>

							<app-date-picker
								v-model="$v.reviewGetOneOrdersProtocols.register_date.$model"
								:error="$v.reviewGetOneOrdersProtocols.register_date.$error"
								with-input
								background-color="var(--input-bg)"
                :readonly="currentUser.role === 'assistant' || $route.query.type === 'for_watching_process'"
							/>
						</div>
					</v-col>

					<v-col md="6">
						<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.feed-type')}}</span>

						<app-autocomplete
							v-model="reviewGetOneOrdersProtocols.delivery_type"
							:api-list-url="documentReferenceUrl"
							:api-params="{
                  type: 'delivery_type'
                }"
							list-type="list"
							item-text="name"
							return-object
							clearable
							:search-value="reviewGetOneOrdersProtocols.delivery_type && reviewGetOneOrdersProtocols.delivery_type.name !== null ? reviewGetOneOrdersProtocols.delivery_type.name : ''"
							:readonly="currentUser.role === 'assistant' || $route.query.type === 'for_watching_process'"
							cache-items
						/>
					</v-col>

					<v-col v-if="reviewGetOneOrdersProtocols.deadline" md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{ $t('components.execution-duration') }} </span>

							<app-date-picker
								v-model="reviewGetOneOrdersProtocols.deadline"
								with-input
								background-color="var(--input-bg)"
							/>
						</div>
					</v-col>

					<v-col md="12">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.content')}} <span class="color-red">*</span></span>

							<v-textarea
								v-model="$v.reviewGetOneOrdersProtocols.description.$model"
								:error="$v.reviewGetOneOrdersProtocols.description.$error"
								outlined
								hide-details
								no-resize
								auto-grow
								background-color="var(--input-bg)"
                :readonly="currentUser.role === 'assistant' || $route.query.type === 'for_watching_process'"
							></v-textarea>

							<resolution-content-modal
								title="components.add-template"
								title-dialog="components.add-content-resolution"
								class="mt-2"
								@emit:up="(text) => reviewGetOneOrdersProtocols.description = text.name.replace(/<\/?[^>]+(>|$)/g, '')"
							/>
						</div>
					</v-col>

					<v-col md="12">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.attach-file')}}</span>

							<app-file-upload
								@uploadFiles="uploadFiles"
								class="w-100"
								:show-files="false"
								:disabled="currentUser.role === 'assistant' || $route.query.type === 'for_watching_process'"
							/>

<!--							<v-file-input-->
<!--								@change="uploadFiles"-->
<!--								multiple-->
<!--								prepend-inner-icon="mdi-paperclip"-->
<!--								prepend-icon=""-->
<!--								outlined-->
<!--								hide-details-->
<!--								background-color="var(&#45;&#45;input-bg)"-->
<!--                :disabled="currentUser.role === 'assistant' || $route.query.type === 'for_watching_process'"-->
<!--							></v-file-input>-->
						</div>
					</v-col>

					<v-col md="12">
						<app-table
							:table-width="500"
							:table-head-items="filesTableHeaders"
						>
							<template #tableBody>
								<tr v-for="(document, index) in attachDocumentsList" :key="document.id">
									<td>{{ index + 1 }}</td>
									<td>{{ document.document.name }}</td>
									<td>{{ document.document.created_date | filterCalendarToTime }}</td>
									<td>
										<div class="d-flex align-center" style="width: 90px">
											<app-button
												min-width="43"
												width="43px"
												color="var(--primary-3)"
												icon
												@click="fetchDownloadDocument(document.document)"
											>
												<template #prepend>
													<download-icon size="18"/>
												</template>
											</app-button>

											<app-button
												min-width="43"
												width="43px"
												color="var(--primary-3)"
												icon
												@click="viewDocument(document.document.url)"
											>
												<v-icon size="20">
													mdi-eye-outline
												</v-icon>
											</app-button>

											<app-button
												v-if="['admin', 'chancellery', 'chancellery_admin'].includes(currentUser.role)"
												@click="deleteFile(document.id)"
												min-width="43"
												width="43px"
												color="var(--primary-4)"
												icon
											>
												<template #prepend>
													<trash2-icon size="18"/>
												</template>
											</app-button>
										</div>
									</td>
								</tr>
							</template>
						</app-table>
					</v-col>

					<v-col md="12">
						<review-users :document-model="reviewGetOneOrdersProtocols" :is-disabled="$route.query.type === 'for_watching_process'"/>
					</v-col>

					<v-col md="12">
						<activity v-if="reviewGetOneOrdersProtocols.document_unique_id" :document-model="reviewGetOneOrdersProtocols" />
					</v-col>
				</v-row>
			</div>
		</template>
		<pdf-viewer-modal ref="pdfModal" />
	</div>
</template>

<script>
import { TABLE_HEAD_TEXT_LIST } from "@/common/constants";
import { selectFromList } from "@/common/helpers";
import { ArrowLeftIcon, DownloadCloudIcon, DownloadIcon, EyeIcon, SendIcon, Trash2Icon } from "vue-feather-icons";
import { required } from "vuelidate/lib/validators";
import { mapActions, mapGetters, mapState } from "vuex";
import PdfViewerModal from "../../../../../../../common/components/PdfViewerModal";
import Activity from "../../Components/Activity";
import ReviewUsers from "../../Components/ReviewUsers";
import ResolutionContentModal from "../../../../../../../common/components/ResolutionContentModal";

export default {
	name: "OrdersProtocolsShowView",
	components: {
		Activity,
		ReviewUsers,
		PdfViewerModal,
		ResolutionContentModal,
		Trash2Icon,
		DownloadIcon,
		EyeIcon,
		SendIcon,
		DownloadCloudIcon,
		ArrowLeftIcon
	},
	props: {
		formType: {
			type: String,
			default: ""
		},
		formTitle: {
			type: String,
			default: "Регистрация документа"
		}
	},
	validations: {
		reviewGetOneOrdersProtocols: {
			// title: {required},
			doc_type: {required},
			department: {required},
			description: {required},
			register_date: {required},
		},
	},
	computed: {
    ...mapState({
      filteredState: state => state.headerFilter.filteredState,
      filterPagination: state => state.headerFilter.pagination,
	    indexTableFilters: state => state.documentFlowRegistrationOrderProtocol.indexTableFilters
    }),
    /*
    *
    * */
		...mapGetters({
      currentUser: "auth/getCurrentUser",
			reviewGetOneOrdersProtocols: "documentFlowModule/getReviewGetOneOrdersProtocols",
			journalList: "documentFlowModule/getNewJournalList",
			departmentList: "documentFlowModule/getDepartmentList",
			attachDocumentListID: "documentFlowModule/getAttachDocumentListID",
			attachDocumentsList: "documentFlowModule/getAttachDocumentsList",
			isLoading: "getDetailLoading"
		}),
		/*
		*
		* */
		activeFiltered() {
			let active = {}

			Object.entries(this.indexTableFilters).forEach(filter => {
				const [key, value] = filter

				if(key.startsWith("__")) {
					return;
				}

				if(value || value === true || value === false) {
					active[key] = value
				}
			})

			return active
		},
		/**/
		documentReferenceUrl() {
			return `/docflow/${this.$store.getters['auth/getCurrentUser'].filial}/reference/`
		},
		/**/
		filesTableHeaders() {
			return selectFromList([1, 22, 23, 19], TABLE_HEAD_TEXT_LIST)
		},
	},
	mounted() {
		if (this.$route.params.id) {
			this.fetchDepartmentList();
			this.fetchOrderProtocolById(this.$route.params.id);
		}
	},
	beforeDestroy() {
		this.fetchClearHistory();
		this.$store.commit("documentFlowModule/CLEAR_ATTACHED_DOCUMENTS_ID")
	},
	methods: {
		...mapActions({
			fetchOrderProtocolById: "documentFlowModule/fetchOrderProtocolById",
			fetchClearHistory: "action/fetchClearHistory",
			fetchAttachFiles: "documentFlowModule/fetchAttachFiles",
			fetchAttachFilesUpload: "documentFlowModule/fetchAttachFilesUpload",
			fetchDeleteFileFromAttachFile: "documentFlowModule/fetchDeleteFileFromAttachFile",
			fetchDepartmentList: "documentFlowModule/fetchDepartmentList",
			fetchOrdersProtocolsUpdate: "documentFlowModule/fetchOrdersProtocolsUpdate",
			fetchDownloadDocument: "documentFlowModule/fetchDownloadDocument",
		}),
		/**/
		updateDocument() {
			this.$v.reviewGetOneOrdersProtocols.$touch();

			if (this.$v.reviewGetOneOrdersProtocols.$invalid) {
				this.$toast.warning(this.$t('document-flow.views.registration.required-field'))
				return;
			}

			this.fetchOrdersProtocolsUpdate(this.reviewGetOneOrdersProtocols).then((data) => {
				this.$toast.success(this.$t('document-flow.views.registration.updated'))
				this.fetchOrderProtocolById(this.$route.params.id)
			})
		},
		/**/
		uploadFiles(files) {
			if (files.length) {
				this.fetchAttachFiles({
					files,
					incomingDocId: this.$route.params.id
				}).then((data) => {
					setTimeout(() => {
						this.fetchAttachFilesUpload(this.attachDocumentListID)
					}, 1000)
				});
			}
		},
		/**/
		deleteFile(id) {
			if (!confirm(this.$t('document-flow.views.registration.delete-user-confirmation'))) {
				return;
			}

			this.fetchDeleteFileFromAttachFile({
				fileId: id,
				incomingDocId: this.$route.params.id
			})
		},
		/**/
		viewDocument(url){
			const {pdfModal} = this.$refs
			pdfModal.url = url;
			pdfModal.dialog = true
		}
	},
}
</script>

<style scoped>

</style>
