<template>
  <div class="static-view">
    <div class="py-1 px-3">
      <v-row justify="end" class="mb-2">
        <v-col cols="6" sm="6" md="4" lg="2">
          <app-autocomplete
            v-model="filter.filial"
            api-list-url="/filials/"
            :api-params="{
              condition: 'A'
            }"
            item-text="name"
            item-value="id"
            list-type="list"
            dense
            cache-items
            :placeholder="$t('document-flow.views.statistics.branches')"
            background-color="#fff"
            clearable
            class="shadow-6"
          />
        </v-col>

        <v-col cols="6" sm="6" md="4" lg="2">
          <v-select
            v-model="daySelect"
            :items="dateList"
            item-text="title"
            item-value="value"
            outlined
            dense
            :placeholder="$t('document-flow.views.statistics.data-by-template')"
            background-color="#fff"
            clearable
            class="shadow-6"
            hide-details
            @click:clear="clearDates"
          >
            <template #append>
              <chevron-down-icon size="20" color="#bbb" style="margin-top: 2px" />
            </template>
          </v-select>
        </v-col>

        <v-col cols="6" sm="6" md="4" lg="2">
          <app-date-picker
            v-model="date"
            with-input
            background-color="#fff"
            dense
            clearable
            range
            :placeholder="$t('document-flow.views.statistics.date')"
            class="shadow-6"
            @emit:up="handleDatePick"
            @clickClear="clearDates"
          />
        </v-col>
      </v-row>

      <statistic-cards />

      <v-row class="mt-2">
        <v-col lg="8">
          <statistic-chart />
        </v-col>

        <v-col lg="4">
          <documents-widget />
        </v-col>
      </v-row>
    </div>
  </div>
</template>

<script>
import DocumentsWidget from './components/DocumentsWidget'
import StatisticCards from './components/StatisticCards'
import StatisticChart from './components/StatisticChart'

import { format } from "date-fns"
import { ChevronDownIcon } from "vue-feather-icons"
import { mapActions, mapState } from "vuex"

export default {
  components: {
    StatisticCards,
    StatisticChart,
    DocumentsWidget,
    ChevronDownIcon
  },
  data() {
    return {
      dateList: [
        {
          title: this.$t('document-flow.views.statistics.today'),
          value: "today"
        },
        {
          title: this.$t('document-flow.views.statistics.yesterday'),
          value: "yesterday"
        },
        {
          title: this.$t('document-flow.views.statistics.last-seven-day'),
          value: "last_7_days"
        },
        {
          title: this.$t('document-flow.views.statistics.last-two-week'),
          value: "last_2_week"
        },
        {
          title: this.$t('document-flow.views.statistics.current-month'),
          value: "this_month"
        },
        {
          title: this.$t('document-flow.views.statistics.last-month'),
          value: "last_month"
        },
      ],
      daySelect: null,
      date: [],
      filter: {
        filial: null,
        start_date: null,
        end_date: null
      }
    }
  },
  computed: {
    ...mapState({
      chartRef: state => state.documentStatistic.chartRef,
    })
  },
  watch: {
    filter: {
      handler(val) {
        this.resetChartSeriesList()

        this.fetchStatisticCardsList(val)
        this.fetchDocumentWidgetList(val)
        this.fetchStatisticChart(val)
        .then(() => {
          this.chartRef.refresh()
        })
        this.fetchDocumentWidgetReviewList(val)
      },
      deep: true
    },
    /*
    *
    * */
    daySelect: {
      handler(val) {
        let day = new Date()
        this.date = []

        switch (val) {
          case "today":
            this.date.push(format(day, "yyyy-MM-dd"))
            this.date.push(format(day, "yyyy-MM-dd"))

            this.filter.start_date = format(day, "yyyy-MM-dd")
            this.filter.end_date = format(day, "yyyy-MM-dd")
            break;
          case "yesterday":
            this.date.push(format(Date.now() - 24 * 60 * 60 * 1000, "yyyy-MM-dd"))
            this.date.push(format(day, "yyyy-MM-dd"))

            this.filter.start_date = format(Date.now() - 24 * 60 * 60 * 1000, "yyyy-MM-dd")
            this.filter.end_date = format(day, "yyyy-MM-dd")
            break;
          case "last_7_days":
            this.date.push(format(Date.now() - 7 * 24 * 60 * 60 * 1000, "yyyy-MM-dd"))
            this.date.push(format(day, "yyyy-MM-dd"))

            this.filter.start_date = format(Date.now() - 7 * 24 * 60 * 60 * 1000, "yyyy-MM-dd")
            this.filter.end_date = format(day, "yyyy-MM-dd")
            break;
          case "last_2_week":
            this.date.push(format(Date.now() - 14 * 24 * 60 * 60 * 1000, "yyyy-MM-dd"))
            this.date.push(format(day, "yyyy-MM-dd"))

            this.filter.start_date = format(Date.now() - 14 * 24 * 60 * 60 * 1000, "yyyy-MM-dd")
            this.filter.end_date = format(day, "yyyy-MM-dd")
            break;
          case "this_month":
            this.date.push(format(Date.now() - (day.getDate() - 1) * 24 * 60 * 60 * 1000, "yyyy-MM-dd"))
            this.date.push(format(day, "yyyy-MM-dd"))

            this.filter.start_date = format(Date.now() - (day.getDate() - 1) * 24 * 60 * 60 * 1000, "yyyy-MM-dd")
            this.filter.end_date = format(day, "yyyy-MM-dd")
            break;
          case "last_month":
            this.date.push(format(new Date(day.getFullYear(), day.getMonth() - 1, 1), "yyyy-MM-dd"))
            this.date.push(format(new Date(day.getFullYear(), day.getMonth(), 0), "yyyy-MM-dd"))

            this.filter.start_date = format(new Date(day.getFullYear(), day.getMonth() - 1, 1), "yyyy-MM-dd")
            this.filter.end_date = format(new Date(day.getFullYear(), day.getMonth(), 0), "yyyy-MM-dd")
            break;
        }
      },
      deep: true
    },
    '$i18n.locale': {
      handler() {
        this.dateList = [
          {
            title: this.$t('document-flow.views.statistics.today'),
            value: "today"
          },
          {
            title: this.$t('document-flow.views.statistics.yesterday'),
            value: "yesterday"
          },
          {
            title: this.$t('document-flow.views.statistics.last-seven-day'),
            value: "last_7_days"
          },
          {
            title: this.$t('document-flow.views.statistics.last-two-week'),
            value: "last_2_week"
          },
          {
            title: this.$t('document-flow.views.statistics.current-month'),
            value: "this_month"
          },
          {
            title: this.$t('document-flow.views.statistics.last-month'),
            value: "last_month"
          },
        ]
      }
    }
  },
  methods: {
    ...mapActions({
      fetchStatisticCardsList: "documentStatistic/fetchStatisticCardsList",
      fetchDocumentWidgetList: "documentStatistic/fetchDocumentWidgetList",
      fetchStatisticChart: "documentStatistic/fetchStatisticChart",
      fetchDocumentWidgetReviewList: "documentStatistic/fetchDocumentWidgetReviewList",
      resetChartSeriesList: "documentStatistic/resetChartSeriesList",
    }),
    /*
    *
    * */
    handleDatePick(val) {
      let [start, end] = val
      let _start = start

      if(start > end) {
        start = end
        end = _start

        this.date[0] = start
        this.date[1] = end
      }

      this.filter.start_date = this.date[0]
      this.filter.end_date = this.date[1]

      console.log(start, end, this.date);
    },
    /*
    *
    * */
    clearDates() {
      this.date = []
      this.daySelect = null
      this.filter.start_date = null
      this.filter.end_date = null
    }
  }
}
</script>

<style>

</style>
