<template>
	<div class="tree-view">
		<span class="d-block font-600 small-3 mt-4">Дерево процесс</span>

		<tree-user />
	</div>
</template>

<script>
import TreeUser from "./TreeUser";
import {mapState} from "vuex";

export default {
	name: "Treeview",
	props: {
		apiUrl: {
			type: String,
			default: "",
			required: true
		}
	},
	components: {
		TreeUser
	},
	mounted() {
		this.getTreeUsers();
	},
	methods: {
		getTreeUsers() {
			this.$axios.get(this.apiUrl + this.$route.params.id)
			.then(({ data }) => {
				this.$store.state.documentFlowIndex.treeUsers = data;
			})
		}
	}
}
</script>

<style scoped>

</style>
