<template>
	<div class="leadership-layout">
		<authority-main-layout>

		</authority-main-layout>
	</div>
</template>

<script>
import AuthorityMainLayout from "../../components/AuthorityMainLayout";

export default {
	name: "index",
	components: {
		AuthorityMainLayout
	}
}
</script>

<style scoped>

</style>
