<template>
  <div class="corespondent-form-create h-100">
    <app-wrapper class="h-100">
      <template #body>
        <div class="d-flex flex-column flex-1 pa-3">
          <div>
            <div class="d-flex align-center w-100 mb-12">
              <span class="heading-9 font-600 text-dark mr-3 d-block">
                {{ formType === 'create' ? $t('equipments.views.resolution-content.add-resolution') : $t('equipments.views.resolution-content.edit-resolution') }}
              </span>
              <v-divider/>
            </div>

            <v-row>
              <v-col md="12">
                <div class="app-input">
                  <span class="d-block font-600 small-2 mb-2">{{$t('equipments.views.resolution-content.resolution-content')}}</span>

                  <quill-editor
                    v-model="$v.model.name.$model"
                    :error="$v.model.name.$error"
                  />
                </div>
              </v-col>
            </v-row>
          </div>

          <div class="mt-auto">
            <app-button
              color="error"
              @click="$router.push({ name: 'ResolutionContent' })"
              class="mr-2"
            >
              <template #prepend>
                <arrow-left-icon size="20" />
              </template>
              {{$t('equipments.views.resolution-content.back')}}
            </app-button>

            <app-button v-if="formType === 'create'" @click="send">
              <template #prepend>
                <plus-circle-icon size="20" />
              </template>
              {{$t('equipments.views.resolution-content.create')}}
            </app-button>

            <app-button v-if="formType === 'update'" @click="update">
              <template #prepend>
                <edit3-icon size="20" />
              </template>
              {{$t('equipments.views.resolution-content.edit')}}
            </app-button>
          </div>
        </div>
      </template>
    </app-wrapper>
  </div>
</template>

<script>
import { ArrowLeftIcon, Edit3Icon, PlusCircleIcon } from "vue-feather-icons"
import { required } from "vuelidate/lib/validators"
import { mapGetters } from "vuex"

export default {
  name: "createForm",
  props: {
    formType: {
      type: String,
      default: "create"
    }
  },
  components: {
    PlusCircleIcon,
    ArrowLeftIcon,
    Edit3Icon
  },
  data() {
    return {
      model: {
        name: ""
      }
    }
  },
  validations: {
    model: {
      name: { required }
    },
  },
  computed: {
    ...mapGetters({
      currentUser: "auth/getCurrentUser",
    })
  },
  created() {
    if(Number(this.$route.params.id)) {
      this.getOne()
    }
  },
  methods: {
    send() {
      this.$v.$touch();

      if (this.$v.$invalid) {
        return;
      }

      this.$http.post(`/docflow/${this.currentUser.filial}/resolution_text/`, this.model)
      .then(({ data }) => {
        this.$toast.success(this.$t('equipments.views.resolution-content.added'))

        this.$router.push({
          name: "ResolutionContent"
        })
      })
    },
    /*
    *
    * */
    update() {
      this.$http.put(`/docflow/${this.currentUser.filial}/resolution_text/${this.$route.params.id}/`, this.model)
      .then(() => {
        this.$toast.success(this.$t('equipments.views.resolution-content.edited'))

        this.$router.push({
          name: "ResolutionContent"
        })
      })
      .catch(() => {
        this.$toast.error(this.$t('equipments.views.resolution-content.edit-error'))
      })
    },
    /*
    *
    * */
    getOne() {
      this.$http.get(`/docflow/${this.currentUser.filial}/resolution_text/${this.$route.params.id}/`)
      .then(({ data }) => {
        this.model = data
        console.log(data);
      })
    }
  }
}
</script>
