<template>
  <div class="h-100">
    <create-form :form-type="$store.state.formType.update" />
  </div>
</template>

<script>
import createForm from "./createForm"

export default {
  name: "update",
  components: {
    createForm
  }
}
</script>
