<template>
	<div class="d-flex flex-column align-start flex-1 pa-4">
		<template v-if="isLoading">
			<app-loader
				component-based
			/>
		</template>
		<template v-else>
			<div v-if="$route.query.type !== 'for_watching_process'" class="d-flex align-center w-100 mb-12">
				<span class="heading-9 font-600 text-dark mr-3 d-block">{{ formTitle }}</span>
				<v-divider/>

<!--				<app-menu-->
<!--					menu-text="Скачать"-->
<!--					:list-items="wordFormats"-->
<!--					@onItemClick="downloadAsWord"-->
<!--					icon-size="18"-->
<!--					:loading="isDownloadLoading"-->
<!--					icon="mdi-download"-->
<!--				/>-->

				<app-button
          color="error"
          @click="$router.go(-1)"
          class="ml-2"
        >
					<template #prepend>
						<arrow-left-icon size="18" />
					</template>
					<template>
						{{$t('document-flow.views.registration.back')}}
					</template>
				</app-button>

				<template v-if="currentUser.role !== 'assistant'">
          <app-button
            @click="updateDocument"
            depressed
            class="ml-2"
          >
            <template #default>
              {{$t('document-flow.views.registration.save')}}
            </template>
            <template #append>
              <v-icon size="17">mdi-content-save</v-icon>
            </template>
          </app-button>
        </template>
			</div>

			<div class="w-100 mb-auto">
				<v-row>
					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.type-registration-document')}}</span>

							<v-autocomplete
								v-model="$v.reviewGetOneAppeal.journal.$model"
								:error="$v.reviewGetOneAppeal.journal.$error"
								:items="journalList"
								item-text="name"
								outlined
								hide-details
								return-object
								readonly
								background-color="var(--input-bg)"
							>
								<template #append>
									<v-icon>mdi-chevron-down</v-icon>
								</template>
							</v-autocomplete>
						</div>
					</v-col>

					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.registration-number')}}</span>

							<v-text-field
								v-model="reviewGetOneAppeal.register_number"
								hide-details
								outlined
								background-color="var(--input-bg)"
                :readonly="currentUser.role === 'assistant'"
								@keypress="$store.dispatch('documentFlowModule/checkKeyDownAlphaNumeric', $event)"
							></v-text-field>
						</div>
					</v-col>

					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.registration-date')}}</span>

							<app-date-picker
								v-model="$v.reviewGetOneAppeal.register_date.$model"
								:error="$v.reviewGetOneAppeal.register_date.$error"
								with-input
								background-color="var(--input-bg)"
                :disabled-menu="currentUser.role === 'assistant'"
							/>
						</div>
					</v-col>

					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.outgoing-date')}}</span>

							<app-date-picker
								v-model="$v.reviewGetOneAppeal.outgoing_date.$model"
								:error="$v.reviewGetOneAppeal.outgoing_date.$error"
								with-input
								background-color="var(--input-bg)"
                :disabled-menu="currentUser.role === 'assistant'"
							/>
						</div>
					</v-col>

					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.document-priority')}} <span class="color-red">*</span></span>

							<v-select
								v-model="$v.reviewGetOneAppeal.priority.$model"
								:error="$v.reviewGetOneAppeal.priority.$error"
								:items="$store.state.priorityList"
								item-text="title"
								item-value="value"
								outlined
								hide-details
								clearable
								background-color="var(--input-bg)"
							>
								<template #append>
									<v-icon>mdi-chevron-down</v-icon>
								</template>
							</v-select>
						</div>
					</v-col>

					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.document-type')}}</span>

							<app-autocomplete
								v-model="$v.reviewGetOneAppeal.doc_type.$model"
								:error="$v.reviewGetOneAppeal.doc_type.$error"
								:api-list-url="documentReferenceUrl"
								:api-params="{
                  type: 'doc_type'
                }"
								list-type="list"
								item-text="name"
								return-object
                :readonly="currentUser.role === 'assistant'"
							/>
						</div>
					</v-col>

					<v-col md="6">
						<div v-if="isCorrespondVisible" class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.correspondent')}} <span class="color-red">*</span></span>

							<app-autocomplete
								v-model="$v.reviewGetOneAppeal.correspondent.$model"
								:error="$v.reviewGetOneAppeal.correspondent.$error"
								api-list-url="/action/correspondent/"
								list-type="list"
								item-text="organization_name"
								return-object
								cache-items
								:search-value="reviewGetOneAppeal.correspondent && reviewGetOneAppeal.correspondent.organization_name !== null ? reviewGetOneAppeal.correspondent.organization_name : ''"
                :readonly="currentUser.role === 'assistant'"
              />
						</div>
					</v-col>

<!--					<v-col md="6">-->
<!--						<div class="app-input">-->
<!--							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.document-name')}} <span class="color-red">*</span></span>-->

<!--							<v-text-field-->
<!--								v-model="$v.reviewGetOneAppeal.title.$model"-->
<!--								:error="$v.reviewGetOneAppeal.title.$error"-->
<!--								hide-details-->
<!--								outlined-->
<!--								background-color="var(&#45;&#45;input-bg)"-->
<!--							></v-text-field>-->
<!--						</div>-->
<!--					</v-col>-->

					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.applicant')}} <span class="color-red">*</span></span>

							<v-select
								v-model="$v.reviewGetOneAppeal.applicant.$model"
								:error="$v.reviewGetOneAppeal.applicant.$error"
								:items="applicantList"
								item-text="name"
								item-value="value"
								outlined
								hide-details
								clearable
								background-color="var(--input-bg)"
                :readonly="currentUser.role === 'assistant'"
							>
								<template #append>
									<v-icon>mdi-chevron-down</v-icon>
								</template>
							</v-select>
						</div>
					</v-col>

					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.applicant-full-name')}} <span class="color-red">*</span></span>

							<v-text-field
								v-model="$v.reviewGetOneAppeal.full_name_sender.$model"
								:error="$v.reviewGetOneAppeal.full_name_sender.$error"
								hide-details
								outlined
								background-color="var(--input-bg)"
                :readonly="currentUser.role === 'assistant'"
							></v-text-field>
						</div>
					</v-col>

					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.region')}} <span class="color-red">*</span></span>

							<app-autocomplete
								v-model="$v.reviewGetOneAppeal.region.$model"
								:error="$v.reviewGetOneAppeal.region.$error"
								api-list-url="/action/regions/"
								list-type="list"
								item-text="name"
								@emit:change="regionSelected"
								cache-items
								return-object
                :readonly="currentUser.role === 'assistant'"
							/>
						</div>
					</v-col>

					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.district')}} <span class="color-red">*</span></span>

							<app-autocomplete
								ref="district"
								v-model="$v.reviewGetOneAppeal.district.$model"
								:error="$v.reviewGetOneAppeal.district.$error"
								api-list-url="/action/districts/"
								list-type="list"
								item-text="name"
								return-object
                :readonly="currentUser.role === 'assistant'"
							/>
						</div>
					</v-col>

					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.address')}} <span class="color-red">*</span></span>

							<v-text-field
								v-model="$v.reviewGetOneAppeal.address.$model"
								:error="$v.reviewGetOneAppeal.address.$error"
								hide-details
								outlined
								background-color="var(--input-bg)"
                :readonly="currentUser.role === 'assistant'"
							></v-text-field>
						</div>
					</v-col>

					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.phone-number')}} <span class="color-red">*</span></span>

							<v-text-field
								v-model="$v.reviewGetOneAppeal.phone_number.$model"
								:error="$v.reviewGetOneAppeal.phone_number.$error"
								hide-details
								v-mask="'+998 (##) ### ## ##'"
								outlined
								background-color="var(--input-bg)"
                :readonly="currentUser.role === 'assistant'"
							></v-text-field>
						</div>
					</v-col>

					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.submission-form')}} <span class="color-red">*</span></span>

							<app-autocomplete
								v-model="$v.reviewGetOneAppeal.delivery_type.$model"
								:error="$v.reviewGetOneAppeal.delivery_type.$error"
								:api-list-url="documentReferenceUrl"
								:api-params="{
                  type: 'delivery_type'
                }"
								list-type="list"
								item-text="name"
								return-object
								cache-items
                :readonly="currentUser.role === 'assistant'"
							/>
						</div>
					</v-col>

					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.type-complaint')}} <span class="color-red">*</span></span>

							<app-autocomplete
								v-model="$v.reviewGetOneAppeal.complaint_type.$model"
								:error="$v.reviewGetOneAppeal.complaint_type.$error"
								:api-list-url="documentReferenceUrl"
								:api-params="{
                  type: 'complaint_type'
                }"
								list-type="list"
								item-text="name"
								return-object
								cache-items
                :readonly="currentUser.role === 'assistant'"
							/>
						</div>
					</v-col>

					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('appealCondition')}}</span>

							<app-autocomplete
								v-model="reviewGetOneAppeal.state"
								:api-list-url="documentReferenceUrl"
								:api-params="{
                  type: 'state',
                  page_size: 50
                }"
								list-type="list"
								item-text="name"
								return-object
								cache-items
								:readonly="currentUser.role === 'assistant'"
							/>
						</div>
					</v-col>

					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('matter')}}</span>

							<app-autocomplete
								v-model="reviewGetOneAppeal.theme"
								:api-list-url="documentReferenceUrl"
								:api-params="{
                  type: 'theme',
                  page_size: 50
                }"
								list-type="list"
								item-text="name"
								return-object
								cache-items
								:readonly="currentUser.role === 'assistant'"
								@change="onThemeChange"
							/>
						</div>
					</v-col>

					<v-col v-if="reviewGetOneAppeal.deadline" md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{ $t('components.execution-duration') }} </span>

							<app-date-picker
								v-model="reviewGetOneAppeal.deadline"
								with-input
								background-color="var(--input-bg)"
							/>
						</div>
					</v-col>

					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('generalTheme')}}</span>

							<v-autocomplete
								v-model="reviewGetOneAppeal.general_theme"
								:items="generalThemeList"
								item-text="name"
								return-object
								outlined
								hide-details
								clearable
								background-color="var(--input-bg)"
							>
								<template #append>
									<v-icon>mdi-chevron-down</v-icon>
								</template>

								<template #item="{ item }">
									<div class="d-flex align-center">
										<span class="small-2" v-html="item.name"></span>
									</div>
								</template>

								<template #selection="{ item }">
									<div class="d-flex align-center">
										<span class="small-2" v-html="item.name"></span>
									</div>
								</template>
							</v-autocomplete>
						</div>
					</v-col>

					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('bxm')}}</span>

							<app-autocomplete
								v-model="reviewGetOneAppeal.bxm"
								:api-list-url="documentReferenceUrl"
								:api-params="{
                  type: 'bxm',
                  page_size: 50
                }"
								list-type="list"
								item-text="name"
								return-object
								cache-items
								:readonly="currentUser.role === 'assistant'"
							/>
						</div>
					</v-col>

					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('appealingOrganization')}}</span>

							<app-autocomplete
								v-model="reviewGetOneAppeal.organization"
								:api-list-url="documentReferenceUrl"
								:api-params="{
                  type: 'organization',
                  page_size: 50
                }"
								list-type="list"
								item-text="name"
								return-object
								cache-items
								:readonly="currentUser.role === 'assistant'"
							/>
						</div>
					</v-col>

					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('appealNumber')}} <span class="color-red">*</span></span>

							<v-text-field
								v-model="reviewGetOneAppeal.organization_reg_number"
								hide-details
								outlined
								background-color="var(--input-bg)"
								:readonly="currentUser.role === 'assistant'"
							></v-text-field>
						</div>
					</v-col>

					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{ $t('appealDate') }} </span>

							<app-date-picker
								v-model="reviewGetOneAppeal.organization_reg_date"
								with-input
								background-color="var(--input-bg)"
							/>
						</div>
					</v-col>

					<v-col md="6">
						<div class="app-input checkbox-registration">
							<span class="d-block font-600 small-2">Состояние</span>
							<div class="d-flex align-center">
								<v-checkbox
									v-model="reviewGetOneAppeal.is_duplicate"
									label="Дубликат"
								></v-checkbox>

								<v-checkbox
									v-model="reviewGetOneAppeal.re_application"
									label="Повторная заявка"
									class="ml-8"
								></v-checkbox>
							</div>
						</div>
					</v-col>

					<v-col md="6" v-if="reviewGetOneAppeal.applicant === 'physics'">
						<div class="app-input checkbox-registration">
							<span class="d-block font-600 small-2 mb-2">Пол</span>
							<v-radio-group
								v-model="reviewGetOneAppeal.gender"
								row
								hide-details
							>
								<v-radio
									label="Мужской"
									value="M"
								></v-radio>
								<v-radio
									label="Женский"
									value="F"
								></v-radio>
							</v-radio-group>
						</div>
					</v-col>

					<v-col md="12">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.content')}} <span class="color-red">*</span></span>

							<v-textarea
								v-model="$v.reviewGetOneAppeal.description.$model"
								:error="$v.reviewGetOneAppeal.description.$error"
								outlined
								hide-details
								no-resize
								auto-grow
								background-color="var(--input-bg)"
                :readonly="currentUser.role === 'assistant'"
							></v-textarea>
						</div>
					</v-col>

					<v-col md="12">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.attach-file')}}</span>

							<app-file-upload
								@uploadFiles="uploadFiles"
								class="w-100"
								:show-files="false"
								:disabled="currentUser.role === 'assistant' || $route.query.type === 'for_watching_process'"
							/>

<!--							<v-file-input-->
<!--								@change="uploadFiles"-->
<!--								multiple-->
<!--								prepend-inner-icon="mdi-paperclip"-->
<!--								prepend-icon=""-->
<!--								outlined-->
<!--								hide-details-->
<!--								background-color="var(&#45;&#45;input-bg)"-->
<!--                :disabled="currentUser.role === 'assistant' || $route.query.type === 'for_watching_process'"-->
<!--							></v-file-input>-->
						</div>
					</v-col>

					<v-col md="12">
						<app-table
							:table-width="500"
							:table-head-items="filesTableHeaders"
						>
							<template #tableBody>
								<tr v-for="(document, index) in attachDocumentsList" :key="document.id">
									<td>{{ index + 1 }}</td>
									<td>{{ document.document.name }}</td>
									<td>{{ document.document.created_date | filterCalendarToTime }}</td>
									<td>
										<div class="d-flex align-center" style="width: 90px">
											<app-button
												min-width="43"
												width="43px"
												color="var(--primary-3)"
												icon
												@click="fetchDownloadDocument(document.document)"
											>
												<template #prepend>
													<download-icon size="18"/>
												</template>
											</app-button>

											<app-button
												min-width="43"
												width="43px"
												color="var(--primary-3)"
												icon
												link
												@click="viewDocument(document.document.url)"
											>
												<v-icon size="20">
													mdi-eye-outline
												</v-icon>
											</app-button>

											<app-button
												v-if="['admin', 'chancellery', 'chancellery_admin'].includes(currentUser.role)"
												@click="deleteFile(document.id)"
												min-width="43"
												width="43px"
												color="var(--primary-4)"
												icon
											>
												<template #prepend>
													<trash2-icon size="18"/>
												</template>
											</app-button>
										</div>
									</td>
								</tr>
							</template>
						</app-table>
					</v-col>

					<v-col md="12">
						<review-users :document-model="reviewGetOneAppeal" :is-disabled="$route.query.type === 'for_watching_process'" />
					</v-col>

					<v-col md="12">
						<activity v-if="reviewGetOneAppeal.document_unique_id" :document-model="reviewGetOneAppeal" />
					</v-col>

				</v-row>
			</div>
		</template>

		<pdf-viewer-modal ref="pdfModal" />
	</div>
</template>

<script>
import { TABLE_HEAD_TEXT_LIST } from "@/common/constants";
import { selectFromList } from "@/common/helpers";
import { ArrowLeftIcon, DownloadCloudIcon, DownloadIcon, EyeIcon, SendIcon, Trash2Icon } from "vue-feather-icons";
import { required } from "vuelidate/lib/validators";
import { mapActions, mapGetters, mapState } from "vuex";
import PdfViewerModal from "../../../../../../../common/components/PdfViewerModal";
import Activity from "../../Components/Activity";
import ReviewUsers from "../../Components/ReviewUsers";

export default {
	name: "AppealFormShowView",
	props: {
		formType: {
			type: String,
			default: ""
		},
		formTitle: {
			type: String,
			default: "Регистрация документа"
		}
	},
	components: {
		ReviewUsers,
		Activity,
		PdfViewerModal,
		Trash2Icon,
		DownloadIcon,
		EyeIcon,
		SendIcon,
		DownloadCloudIcon,
		ArrowLeftIcon
	},
	data() {
		return {
			reviewUserSelected: "",
			isCorrespondVisible: false,
			isDownloadLoading: false,
			wordFormats: [
				{
					text: "A4",
					value: "a4"
				},
				{
					text: "A5",
					value: "a5"
				}
			],
			generalThemeList: []
		}
	},
	validations: {
		reviewGetOneAppeal: {
			register_date: {required},
			doc_type: {required},
			description: {required},
			journal: {required},
			correspondent: {required},
			applicant: {required},
			region: {required},
			district: {required},
			full_name_sender: {required},
			address: {required},
			phone_number: {required},
			delivery_type: {required},
			complaint_type: {required},
			outgoing_date: {required},
			priority: {required},
			// title: {required},
		},
		addCommentsToDocument: {
			description: {required}
		},
		leaveCommentModel: {
			description: {required}
		}
	},
	watch: {
		"reviewGetOneAppeal.correspondent"(val) {
			setTimeout(() => {
				this.isCorrespondVisible = true
			}, 100)
		},
	},
	computed: {
    ...mapState({
      filteredState: state => state.headerFilter.filteredState,
      filterPagination: state => state.headerFilter.pagination,
	    indexTableFilters: state => state.documentFlowRegistrationAppeal.indexTableFilters
    }),
    /*
    *
    * */
		...mapGetters({
      currentUser: "auth/getCurrentUser",
			reviewGetOneAppeal: "documentFlowModule/getReviewGetOneAppeal",
			journalList: "documentFlowModule/getNewJournalList",
			attachDocumentListID: "documentFlowModule/getAttachDocumentListID",
			attachDocumentsList: "documentFlowModule/getAttachDocumentsList",
			applicantList: "documentFlowModule/getApplicantList",
			isLoading: "getDetailLoading"
		}),
		/*
		*
		* */
		activeFiltered() {
			let active = {}

			Object.entries(this.indexTableFilters).forEach(filter => {
				const [key, value] = filter

				if(key.startsWith("__")) {
					return;
				}

				if(value || value === true || value === false) {
					active[key] = value
				}
			})

			return active
		},
		/**/
		filesTableHeaders() {
			return selectFromList([1, 22, 23, 19], TABLE_HEAD_TEXT_LIST)
		},
		/**/
		documentReferenceUrl() {
			return `/docflow/${this.$store.getters['auth/getCurrentUser'].filial}/reference/`
		},
		/**/
		employeeTableHeaders() {
			return selectFromList([1, 24, 23, 19], TABLE_HEAD_TEXT_LIST)
		},
		/**/
		gender(){
			if (this.reviewGetOneAppeal && this.reviewGetOneAppeal.gender){
				if (this.reviewGetOneAppeal.gender === 'M'){
					return "Erkak"
				}
				else if (this.reviewGetOneAppeal.gender === 'F'){
					return "Ayol"
				}
				else {
					return ""
				}
			}else {
				return ""
			}
		},
		/**/
		applicantType(){
			if (this.reviewGetOneAppeal.applicant === 'physics'){
				return "Jis. shaxs"
			}else {
				return "Yuridik shaxs"
			}
		}
	},
	mounted() {
		if (this.$route.params.id) {
			this.fetchAppealDocumentById(this.$route.params.id).then(( data ) => {
				if (data.region){
					this.regionSelected(data.region);
				}
				if (data.theme){
					this.onThemeChange(data.theme);
				}
			})
		}
	},
	beforeDestroy() {
		this.fetchClearHistory();
		this.$store.commit("documentFlowModule/CLEAR_ATTACHED_DOCUMENTS_ID")
	},
	methods: {
		...mapActions({
			fetchAppealDocumentById: "documentFlowModule/fetchAppealDocumentById",
			fetchAttachFiles: "documentFlowModule/fetchAttachFiles",
			fetchAttachFilesUpload: "documentFlowModule/fetchAttachFilesUpload",
			fetchDeleteFileFromAttachFile: "documentFlowModule/fetchDeleteFileFromAttachFile",
			fetchAppealDocumentUpdate: "documentFlowModule/fetchAppealDocumentUpdate",
			fetchClearHistory: "action/fetchClearHistory",
			fetchDownloadDocument: "documentFlowModule/fetchDownloadDocument",
		}),
		/**/
		updateDocument(){
			this.$v.reviewGetOneAppeal.$touch();

			if (this.$v.reviewGetOneAppeal.$invalid) {
				this.$toast.warning(this.$t('document-flow.views.registration.required-field'))
				return;
			}

			this.fetchAppealDocumentUpdate(this.reviewGetOneAppeal).then((data) => {
				this.$toast.success(this.$t('document-flow.views.registration.updated'))
				this.fetchAppealDocumentById(this.$route.params.id).then(( data ) => {
					if (data.region){
						this.regionSelected(data.region);
					}
				})
			})
		},
		/**/
		regionSelected(value) {

			const {district} = this.$refs

			district.fetchGetList({
				region: value.id
			})
		},
		/**/
		uploadFiles(files) {
			if (files.length) {
				this.fetchAttachFiles({
					files,
					incomingDocId: this.$route.params.id
				}).then((data) => {
					setTimeout(() => {
						this.fetchAttachFilesUpload(this.attachDocumentListID)
					}, 1000)
				});
			}
		},
		/**/
		deleteFile(id) {
			if (!confirm(this.$t('document-flow.views.registration.delete-user-confirmation'))) {
				return;
			}

			this.fetchDeleteFileFromAttachFile({
				fileId: id,
				incomingDocId: this.$route.params.id
			})
		},
		/**/
		viewDocument(url){
			const {pdfModal} = this.$refs
			pdfModal.url = url;
			pdfModal.dialog = true
		},
		/**/
		downloadAsWord(format){
			this.isDownloadLoading = true

			const item = this.reviewGetOneAppeal
			if (item){
				let model = {
					claimName: item.correspondent && item.correspondent.organization_name,
					documentNumber: item.register_number,
					author: `${item.created_by.last_name} ${item.created_by.first_name} ${item.created_by.father_name && item.created_by.father_name}`,
					documentDate: item.register_date,
					fullName: item.full_name_sender && item.full_name_sender,
					address: item.address,
					birthDate: "",
					gender: this.gender,
					applicantType: this.applicantType,
					correspondent: item.correspondent && item.correspondent.organization_name,
					phone_number: item.phone_number,
					email: "",
					isDuplicate: item.is_duplicate ? "Ha" : "-",
					reApplication: item.re_application ? "Ha" : "-",
					documentID: "",
					text: item.text,
					pageSize: format.value
				}

				console.log(model)
			}



			setTimeout(() => {
				this.isDownloadLoading = false
			}, 5000)
		},
		/** **/
		onThemeChange(value) {
			this.$axios.get(`/docflow/${this.$store.getters['auth/getCurrentUser'].filial}/reference/`, {
				params: {
					parent: value.id,
					page_size: 500
				}
			}).then(({ data }) => {
				this.generalThemeList = data.results;
			})

		}
	}
}
</script>

<style>
.checkbox-registration .v-label{
	color: black!important;
	font-weight: 600;
}
</style>
