<template>
	<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M5.83337 10.0001H14.1667M14.1667 10.0001L10.8334 6.66675M14.1667 10.0001L10.8334 13.3334" stroke="#5562E5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
	</svg>
</template>

<script>
export default {
	name: "ArrowRight"
}
</script>

<style scoped>
path {
	stroke: currentColor;
}
</style>
