<script>
export default {
	name: "AvatarUserSmall"
}
</script>

<template>
	<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
		<rect width="24" height="24" rx="12" fill="#ECF0F4"/>
		<mask id="mask0_1760_7885" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="3" y="5" width="18" height="18">
			<path d="M19.387 22.1173C19.394 22.0096 19.4084 19.4216 19.0545 18.8278C18.8313 18.4533 18.5073 18.1301 18.0916 17.8665C17.5888 17.5476 16.949 17.317 16.1752 17.1781C15.7823 17.123 15.3926 17.0472 15.0077 16.951C13.9842 16.6897 13.8947 16.4583 13.8939 16.456C13.8879 16.4332 13.8793 16.4111 13.8683 16.3902C13.8597 16.3475 13.8391 16.1849 13.8788 15.7497C13.9791 14.6441 14.5722 13.9908 15.0485 13.4658C15.1987 13.3005 15.3406 13.1438 15.4499 12.9906C15.9216 12.3295 15.9652 11.577 15.9671 11.5303C15.9689 11.4476 15.9575 11.3652 15.9333 11.2861C15.8866 11.1422 15.7999 11.0527 15.7361 10.9866C15.721 10.9715 15.7064 10.9559 15.6922 10.94C15.6875 10.9345 15.675 10.9197 15.6863 10.8455C15.7245 10.6062 15.7508 10.3652 15.7653 10.1233C15.787 9.73363 15.8038 9.15107 15.703 8.58368C15.6883 8.4753 15.6659 8.36809 15.6362 8.26285C15.5304 7.87215 15.3593 7.539 15.1228 7.2634C15.082 7.21868 14.0911 6.17452 11.2145 5.96063C10.8167 5.93107 10.4235 5.94702 10.0362 5.96685C9.92161 5.96942 9.80761 5.98349 9.69588 6.00885C9.39877 6.08546 9.31943 6.27368 9.29882 6.37907C9.26421 6.55407 9.32488 6.6894 9.36493 6.77963C9.37077 6.79246 9.37816 6.8084 9.36532 6.8504C9.29882 6.95385 9.19343 7.04718 9.08649 7.13546C9.05538 7.16152 8.33438 7.78374 8.29471 8.59613C8.18777 9.21407 8.19555 10.1766 8.32193 10.842C8.32971 10.8789 8.34021 10.9334 8.32271 10.9703C8.1866 11.092 8.0326 11.2301 8.03299 11.5451C8.03455 11.577 8.07849 12.3291 8.55021 12.9906C8.6591 13.1438 8.80105 13.3001 8.95077 13.4654L8.95155 13.4658C9.42793 13.9908 10.021 14.6441 10.1213 15.7494C10.1606 16.1849 10.14 16.3471 10.1318 16.3902C10.1207 16.4111 10.1119 16.4331 10.1058 16.456C10.1054 16.4583 10.0163 16.6889 8.99743 16.9499C8.40943 17.1004 7.83077 17.1774 7.81327 17.1793C7.06116 17.3065 6.42532 17.5316 5.92327 17.8486C5.5091 18.1103 5.18438 18.4346 4.95882 18.8119C4.59793 19.4146 4.60766 22.015 4.61271 22.1154" stroke="white" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
		</mask>
		<g mask="url(#mask0_1760_7885)">
			<path d="M2.66699 4.71777H21.3337V23.3844H2.66699V4.71777Z" fill="#9AA4BB"/>
		</g>
	</svg>
</template>

<style scoped>

</style>
