<script>
export default {
	name: "AvatarUser"
}
</script>

<template>
	<svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
		<rect width="36" height="36" rx="18" fill="#ECF0F4"/>
		<mask id="mask0_1760_7855" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="7" y="11" width="22" height="24">
			<path d="M27.4963 33.2943C27.5053 33.1558 27.5238 29.8284 27.0688 29.0649C26.7818 28.5834 26.3653 28.1679 25.8308 27.8289C25.1843 27.4189 24.3618 27.1224 23.3668 26.9439C22.8617 26.8731 22.3607 26.7756 21.8658 26.6519C20.5498 26.3159 20.4348 26.0184 20.4338 26.0154C20.426 25.9861 20.415 25.9578 20.4008 25.9309C20.3898 25.8759 20.3633 25.6669 20.4143 25.1074C20.5433 23.6859 21.3058 22.8459 21.9183 22.1709C22.1113 21.9584 22.2938 21.7569 22.4343 21.5599C23.0408 20.7099 23.0968 19.7424 23.0993 19.6824C23.1016 19.5761 23.0869 19.4701 23.0558 19.3684C22.9958 19.1834 22.8843 19.0684 22.8023 18.9834C22.7829 18.964 22.7641 18.9439 22.7458 18.9234C22.7398 18.9164 22.7238 18.8974 22.7383 18.8019C22.7873 18.4943 22.8212 18.1844 22.8398 17.8734C22.8678 17.3724 22.8893 16.6234 22.7598 15.8939C22.7408 15.7546 22.7121 15.6167 22.6738 15.4814C22.5378 14.9791 22.3178 14.5508 22.0138 14.1964C21.9613 14.1389 20.6873 12.7964 16.9888 12.5214C16.4773 12.4834 15.9718 12.5039 15.4738 12.5294C15.3265 12.5327 15.18 12.5508 15.0363 12.5834C14.6543 12.6819 14.5523 12.9239 14.5258 13.0594C14.4813 13.2844 14.5593 13.4584 14.6108 13.5744C14.6183 13.5909 14.6278 13.6114 14.6113 13.6654C14.5258 13.7984 14.3903 13.9184 14.2528 14.0319C14.2128 14.0654 13.2858 14.8654 13.2348 15.9099C13.0973 16.7044 13.1073 17.9419 13.2698 18.7974C13.2798 18.8449 13.2933 18.9149 13.2708 18.9624C13.0958 19.1189 12.8978 19.2964 12.8983 19.7014C12.9003 19.7424 12.9568 20.7094 13.5633 21.5599C13.7033 21.7569 13.8858 21.9579 14.0783 22.1704L14.0793 22.1709C14.6918 22.8459 15.4543 23.6859 15.5833 25.1069C15.6338 25.6669 15.6073 25.8754 15.5968 25.9309C15.5825 25.9577 15.5712 25.9861 15.5633 26.0154C15.5628 26.0184 15.4483 26.3149 14.1383 26.6504C13.3823 26.8439 12.6383 26.9429 12.6158 26.9454C11.6488 27.1089 10.8313 27.3984 10.1858 27.8059C9.6533 28.1424 9.2358 28.5594 8.9458 29.0444C8.4818 29.8194 8.4943 33.1628 8.5008 33.2918" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
		</mask>
		<g mask="url(#mask0_1760_7855)">
			<path d="M6 10.9233H30V34.9233H6V10.9233Z" fill="#9AA4BB"/>
		</g>
	</svg>
</template>

<style scoped>

</style>
