<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M11.9998 22.08C11.6998 22.08 11.3998 22.01 11.1498 21.87C9.27978 20.85 5.99976 19.77 3.93976 19.5L3.64978 19.46C2.33978 19.3 1.25977 18.07 1.25977 16.74V4.65999C1.25977 3.86999 1.56977 3.15002 2.13977 2.63002C2.70977 2.11002 3.44974 1.86001 4.22974 1.93001C6.41974 2.11001 9.73975 3.21002 11.6198 4.38002L11.8597 4.52003C11.9297 4.55003 12.0798 4.56003 12.1398 4.52003L12.2997 4.42C12.9697 4 13.8097 3.58999 14.7297 3.21999C14.9597 3.12999 15.2197 3.16 15.4297 3.3C15.6397 3.44 15.7598 3.67 15.7598 3.92V6.59999L16.5898 6.05C16.8398 5.88 17.1697 5.88 17.4197 6.05L18.2498 6.59999V2.78004C18.2498 2.42004 18.5097 2.10999 18.8597 2.03999C19.1497 1.98999 19.4398 1.95001 19.6998 1.93001C19.7198 1.93001 19.7998 1.93001 19.8198 1.93001C20.5498 1.87001 21.2997 2.12003 21.8597 2.64003C22.4297 3.16003 22.7397 3.88 22.7397 4.67V16.74C22.7397 18.08 21.6598 19.3 20.3398 19.46L20.0098 19.5C17.9498 19.77 14.6498 20.86 12.8198 21.87C12.5998 22.01 12.2998 22.08 11.9998 22.08ZM3.97974 3.40999C3.65974 3.40999 3.36977 3.51999 3.13977 3.73C2.88977 3.96 2.74976 4.28999 2.74976 4.65999V16.74C2.74976 17.33 3.25977 17.9 3.82977 17.98L4.12976 18.02C6.37976 18.32 9.82977 19.45 11.8298 20.55C11.9198 20.59 12.0497 20.6 12.0997 20.58C14.1097 19.47 17.5698 18.33 19.8298 18.03L20.1697 17.99C20.7397 17.92 21.2498 17.34 21.2498 16.75V4.68001C21.2498 4.31001 21.1097 3.99001 20.8597 3.75001C20.6097 3.52001 20.2598 3.41001 19.8998 3.43001C19.8698 3.43001 19.7798 3.43001 19.7598 3.43001V8.00001C19.7598 8.28001 19.6097 8.52999 19.3597 8.65999C19.1097 8.78999 18.8198 8.78001 18.5898 8.62001L17.0098 7.57002L15.4297 8.62001C15.1997 8.77001 14.9097 8.78999 14.6597 8.65999C14.4197 8.52999 14.2598 8.28001 14.2598 8.00001V5.07002C13.8298 5.28002 13.4397 5.49002 13.0997 5.69002L12.9398 5.78999C12.3898 6.12999 11.6098 6.13 11.0798 5.8L10.8398 5.65004C9.14978 4.59004 6.06974 3.56999 4.10974 3.40999C4.05974 3.40999 4.01974 3.40999 3.97974 3.40999Z" fill="#292D32"/>
    <path d="M12 21.24C11.59 21.24 11.25 20.9 11.25 20.49V5.48999C11.25 5.07999 11.59 4.73999 12 4.73999C12.41 4.73999 12.75 5.07999 12.75 5.48999V20.49C12.75 20.91 12.41 21.24 12 21.24Z" fill="#292D32"/>
    <path d="M19 8.74999C18.85 8.74999 18.71 8.70998 18.58 8.61998L17 7.57L15.42 8.61998C15.19 8.76998 14.9 8.78996 14.65 8.65996C14.41 8.52996 14.25 8.27999 14.25 7.99999V3.91997C14.25 3.60997 14.44 3.33996 14.72 3.21996C16.1 2.66996 17.61 2.23997 18.88 2.03997C19.1 1.99997 19.32 2.07001 19.49 2.21001C19.66 2.35001 19.75 2.56002 19.75 2.78002V7.99999C19.75 8.27999 19.6 8.52996 19.35 8.65996C19.24 8.71996 19.12 8.74999 19 8.74999ZM17 5.91997C17.14 5.91997 17.29 5.95998 17.42 6.04998L18.25 6.59996V3.68999C17.45 3.86999 16.58 4.12999 15.75 4.43999V6.59996L16.58 6.04998C16.71 5.95998 16.86 5.91997 17 5.91997Z" fill="#292D32"/>
  </svg>
</template>

<script>
export default {
	name: "BookSavedIcon"
}
</script>

<style scoped>
path {
  fill: currentColor;
}
</style>
