<script>
export default {
  name: "BuildingIcon"
}
</script>

<template>
  <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M1.66675 14.6663H18.3334M7.50008 14.6663L16.6667 14.6663V9.97304C16.6667 9.53523 16.6668 9.31633 16.6143 9.11214C16.5677 8.93117 16.491 8.75936 16.3875 8.60381C16.2707 8.42829 16.108 8.28192 15.7823 7.98932L13.8656 6.2674C13.2356 5.7014 12.9205 5.41843 12.5644 5.31108C12.2507 5.21652 11.916 5.21652 11.6023 5.31108C11.2462 5.41843 10.9314 5.70141 10.3014 6.2674L8.38468 7.98932C8.059 8.28192 7.89602 8.42829 7.77922 8.60381C7.67569 8.75936 7.59911 8.93117 7.55258 9.11214C7.50008 9.31633 7.50008 9.53523 7.50008 9.97304V14.6663ZM7.50008 14.6663H3.33341V3.99963C3.33341 3.06621 3.33341 2.59956 3.51507 2.24304C3.67486 1.92944 3.92964 1.67445 4.24325 1.51466C4.59977 1.33301 5.06682 1.33301 6.00024 1.33301H7.33358C8.267 1.33301 8.73338 1.33301 9.0899 1.51466C9.40351 1.67445 9.65881 1.92944 9.8186 2.24304C10.0003 2.59956 10.0001 3.06621 10.0001 3.99963V6.33297" stroke="#9AA4BB" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
</template>

<style scoped>
path {
  stroke: currentColor;
}
</style>