<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M22 22.75H2C1.59 22.75 1.25 22.41 1.25 22C1.25 21.59 1.59 21.25 2 21.25H22C22.41 21.25 22.75 21.59 22.75 22C22.75 22.41 22.41 22.75 22 22.75Z" />
    <path d="M20.8899 22.75C20.4799 22.75 20.1399 22.41 20.1399 22V13C20.1399 11.76 18.9799 10.75 17.5599 10.75H6.43986C5.01986 10.75 3.85986 11.76 3.85986 13V22C3.85986 22.41 3.51986 22.75 3.10986 22.75C2.69986 22.75 2.35986 22.41 2.35986 22V13C2.35986 10.93 4.18986 9.25 6.43986 9.25H17.5499C19.7999 9.25 21.6299 10.93 21.6299 13V22C21.6399 22.41 21.2999 22.75 20.8899 22.75Z" />
    <path d="M18.4401 10.75C18.0301 10.75 17.6901 10.41 17.6901 10V7.17C17.6901 6.39 16.9401 5.75 16.0301 5.75H7.98006C7.06006 5.75 6.32006 6.39 6.32006 7.17V10C6.32006 10.41 5.98006 10.75 5.57006 10.75C5.16006 10.75 4.81006 10.41 4.81006 10V7.17C4.81006 5.56 6.23006 4.25 7.97006 4.25H16.0201C17.7601 4.25 19.1801 5.56 19.1801 7.17V10C19.1901 10.41 18.8501 10.75 18.4401 10.75Z" />
    <path d="M17.3302 17.7502C16.1702 17.7502 15.2302 16.8102 15.2302 15.6502V15.3402C15.2302 15.0102 14.9602 14.7402 14.6302 14.7402C14.3002 14.7402 14.0302 15.0102 14.0302 15.3402V15.6502C14.0302 16.8102 13.0902 17.7502 11.9302 17.7502C10.7702 17.7502 9.8302 16.8102 9.8302 15.6502V15.3402C9.8302 15.0102 9.56019 14.7402 9.2302 14.7402C8.9002 14.7402 8.6302 15.0102 8.6302 15.3402V15.6502C8.6302 16.8102 7.6902 17.7502 6.5302 17.7502C5.3702 17.7502 4.4302 16.8102 4.4302 15.6502V15.3202C4.4302 15.0002 4.1702 14.7302 3.8402 14.7202H3.4702C3.0602 14.7102 2.7202 14.3702 2.7302 13.9602C2.7402 13.5502 3.0702 13.2202 3.4802 13.2202H3.4902H3.8602C5.0002 13.2402 5.9302 14.1802 5.9302 15.3202V15.6502C5.9302 15.9802 6.2002 16.2502 6.5302 16.2502C6.8602 16.2502 7.1302 15.9802 7.1302 15.6502V15.3402C7.1302 14.1802 8.0702 13.2402 9.2302 13.2402C10.3902 13.2402 11.3302 14.1802 11.3302 15.3402V15.6502C11.3302 15.9802 11.6002 16.2502 11.9302 16.2502C12.2602 16.2502 12.5302 15.9802 12.5302 15.6502V15.3402C12.5302 14.1802 13.4702 13.2402 14.6302 13.2402C15.7902 13.2402 16.7302 14.1802 16.7302 15.3402V15.6502C16.7302 15.9802 17.0002 16.2502 17.3302 16.2502C17.6602 16.2502 17.9302 15.9802 17.9302 15.6502V15.3402C17.9302 14.1802 18.8702 13.2402 20.0302 13.2402H20.4802C20.8902 13.2402 21.2302 13.5802 21.2302 13.9902C21.2302 14.4002 20.8902 14.7402 20.4802 14.7402H20.0302C19.7002 14.7402 19.4302 15.0102 19.4302 15.3402V15.6502C19.4302 16.8102 18.4902 17.7502 17.3302 17.7502Z" />
    <path d="M8 5.75C7.59 5.75 7.25 5.41 7.25 5V3C7.25 2.59 7.59 2.25 8 2.25C8.41 2.25 8.75 2.59 8.75 3V5C8.75 5.41 8.41 5.75 8 5.75Z" />
    <path d="M16 5.75C15.59 5.75 15.25 5.41 15.25 5V3C15.25 2.59 15.59 2.25 16 2.25C16.41 2.25 16.75 2.59 16.75 3V5C16.75 5.41 16.41 5.75 16 5.75Z" />
    <path d="M12 5.75C11.59 5.75 11.25 5.41 11.25 5V2C11.25 1.59 11.59 1.25 12 1.25C12.41 1.25 12.75 1.59 12.75 2V5C12.75 5.41 12.41 5.75 12 5.75Z" />
  </svg>
</template>

<script>
export default {
	name: "CakeIcon"
}
</script>

<style scoped>
path {
  fill: currentColor;
}
</style>
