<template>
	<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M2.66675 5.33325H13.3334M10.6667 1.33325V2.66659M5.33341 1.33325V2.66659M4.80021 2.66659H11.2002C11.9469 2.66659 12.3201 2.66659 12.6053 2.81191C12.8562 2.93974 13.0604 3.14373 13.1882 3.39461C13.3336 3.67983 13.3334 4.05315 13.3334 4.79989V11.1999C13.3334 11.9466 13.3336 12.3201 13.1882 12.6053C13.0604 12.8562 12.8562 13.0601 12.6053 13.1879C12.3201 13.3332 11.9469 13.3333 11.2002 13.3333H4.80021C4.05347 13.3333 3.67983 13.3332 3.39461 13.1879C3.14373 13.0601 2.9399 12.8562 2.81207 12.6053C2.66675 12.3201 2.66675 11.9466 2.66675 11.1999V4.79989C2.66675 4.05315 2.66675 3.67983 2.81207 3.39461C2.9399 3.14373 3.14373 2.93974 3.39461 2.81191C3.67983 2.66659 4.05347 2.66659 4.80021 2.66659Z" stroke="#5562E5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
	</svg>
</template>

<script>
export default {
	name: "Calendar"
}
</script>

<style scoped>
path {
	stroke: currentColor;
}
</style>
