<template>
	<svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M20.0418 4.65325V2.83325C20.0418 2.35492 19.6451 1.95825 19.1668 1.95825C18.6884 1.95825 18.2918 2.35492 18.2918 2.83325V4.58325H10.7084V2.83325C10.7084 2.35492 10.3118 1.95825 9.83344 1.95825C9.3551 1.95825 8.95844 2.35492 8.95844 2.83325V4.65325C5.80844 4.94492 4.2801 6.82325 4.04677 9.61159C4.02344 9.94992 4.30344 10.2299 4.6301 10.2299H24.3701C24.7084 10.2299 24.9884 9.93825 24.9534 9.61159C24.7201 6.82325 23.1918 4.94492 20.0418 4.65325Z" fill="#D53E4F"/>
		<path d="M23.8333 11.98H5.16667C4.525 11.98 4 12.505 4 13.1466V20.3333C4 23.8333 5.75 26.1666 9.83333 26.1666H15.585C16.39 26.1666 16.95 25.385 16.6933 24.6266C16.46 23.95 16.2617 23.2033 16.2617 22.6666C16.2617 19.1316 19.1433 16.25 22.6783 16.25C23.0167 16.25 23.355 16.2733 23.6817 16.3316C24.3817 16.4366 25.0117 15.8883 25.0117 15.1883V13.1583C25 12.505 24.475 11.98 23.8333 11.98ZM11.245 21.1616C11.0233 21.3716 10.72 21.5 10.4167 21.5C10.265 21.5 10.1133 21.465 9.97333 21.4066C9.83333 21.3483 9.705 21.2666 9.58833 21.1616C9.37833 20.94 9.25 20.6483 9.25 20.3333C9.25 20.1816 9.285 20.03 9.34333 19.89C9.40167 19.7383 9.48333 19.6216 9.58833 19.505C9.705 19.4 9.83333 19.3183 9.97333 19.26C10.3933 19.0733 10.9183 19.1783 11.245 19.505C11.35 19.6216 11.4317 19.7383 11.49 19.89C11.5483 20.03 11.5833 20.1816 11.5833 20.3333C11.5833 20.6483 11.455 20.94 11.245 21.1616ZM11.245 17.0783C11.0233 17.2883 10.72 17.4166 10.4167 17.4166C10.265 17.4166 10.1133 17.3933 9.97333 17.3233C9.83333 17.265 9.705 17.1833 9.58833 17.0783C9.37833 16.8566 9.25 16.5533 9.25 16.25C9.25 16.0983 9.285 15.9466 9.34333 15.8066C9.40167 15.6666 9.48333 15.5383 9.58833 15.4216C9.705 15.3166 9.83333 15.235 9.97333 15.1766C10.3933 15.0016 10.9183 15.095 11.245 15.4216C11.35 15.5383 11.4317 15.6666 11.49 15.8066C11.5483 15.9466 11.5833 16.0983 11.5833 16.25C11.5833 16.5533 11.455 16.8566 11.245 17.0783ZM15.5733 16.6933C15.515 16.8333 15.4333 16.9616 15.3283 17.0783C15.2117 17.1833 15.0833 17.265 14.9433 17.3233C14.8033 17.3933 14.6517 17.4166 14.5 17.4166C14.1967 17.4166 13.8933 17.2883 13.6717 17.0783C13.5667 16.9616 13.485 16.8333 13.4267 16.6933C13.3683 16.5533 13.3333 16.4016 13.3333 16.25C13.3333 15.9466 13.4617 15.6433 13.6717 15.4216C13.9983 15.095 14.5117 14.99 14.9433 15.1766C15.0833 15.235 15.2117 15.3166 15.3283 15.4216C15.5383 15.6433 15.6667 15.9466 15.6667 16.25C15.6667 16.4016 15.6433 16.5533 15.5733 16.6933Z" fill="#D53E4F"/>
		<path d="M22.6667 18C20.0883 18 18 20.0883 18 22.6667C18 25.245 20.0883 27.3333 22.6667 27.3333C25.245 27.3333 27.3333 25.245 27.3333 22.6667C27.3333 20.0883 25.245 18 22.6667 18ZM24.5333 24.58C24.3583 24.755 24.1367 24.8367 23.915 24.8367C23.6933 24.8367 23.4717 24.755 23.2967 24.58L22.6783 23.9617L22.0367 24.6033C21.8617 24.7783 21.64 24.86 21.4183 24.86C21.1967 24.86 20.975 24.7783 20.8 24.6033C20.4617 24.265 20.4617 23.705 20.8 23.3667L21.4417 22.725L20.8233 22.1067C20.485 21.7683 20.485 21.2083 20.8233 20.87C21.1617 20.5317 21.7217 20.5317 22.06 20.87L22.6783 21.5L23.2617 20.9167C23.6 20.5783 24.16 20.5783 24.4983 20.9167C24.8367 21.255 24.8367 21.815 24.4983 22.1533L23.915 22.7367L24.5333 23.355C24.8717 23.6933 24.8717 24.2417 24.5333 24.58Z" fill="#D53E4F"/>
	</svg>
</template>

<script>
export default {
	name: "CalendarRemove"
}
</script>

<style scoped>
path {
	fill: currentColor;
}
</style>
