<template>
	<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
		<g clip-path="url(#clip0_181_18)">
			<path d="M11.7184 4.125H10.3152L9.92523 3.15C9.52445 2.14758 8.56796 1.5 7.4882 1.5H4.51163C3.4321 1.5 2.47538 2.14758 2.07437 3.15L1.68437 4.125H0.281399C0.0983523 4.125 -0.0359446 4.29703 0.00858664 4.47445L0.149212 5.03695C0.180384 5.16211 0.292884 5.25 0.422024 5.25H0.892415C0.577649 5.52492 0.374915 5.92453 0.374915 6.375V7.5C0.374915 7.87781 0.51929 8.21883 0.749915 8.48273V9.75C0.749915 10.1641 1.08577 10.5 1.49992 10.5H2.24992C2.66406 10.5 2.99992 10.1641 2.99992 9.75V9H8.99992V9.75C8.99992 10.1641 9.33578 10.5 9.74992 10.5H10.4999C10.9141 10.5 11.2499 10.1641 11.2499 9.75V8.48273C11.4805 8.21906 11.6249 7.87805 11.6249 7.5V6.375C11.6249 5.92453 11.4222 5.52492 11.1077 5.25H11.578C11.7072 5.25 11.8197 5.16211 11.8509 5.03695L11.9915 4.47445C12.0358 4.29703 11.9015 4.125 11.7184 4.125ZM3.46702 3.70711C3.63788 3.28008 4.05156 3 4.51163 3H7.4882C7.94828 3 8.36195 3.28008 8.53281 3.70711L8.99992 4.875H2.99992L3.46702 3.70711ZM2.24992 7.49531C1.79991 7.49531 1.49992 7.19625 1.49992 6.74766C1.49992 6.29906 1.79991 6 2.24992 6C2.69992 6 3.37492 6.67289 3.37492 7.12148C3.37492 7.57008 2.69992 7.49531 2.24992 7.49531ZM9.74992 7.49531C9.29992 7.49531 8.62492 7.57008 8.62492 7.12148C8.62492 6.67289 9.29992 6 9.74992 6C10.1999 6 10.4999 6.29906 10.4999 6.74766C10.4999 7.19625 10.1999 7.49531 9.74992 7.49531Z" fill="white"/>
		</g>
		<defs>
			<clipPath id="clip0_181_18">
				<rect width="12" height="12" fill="white"/>
			</clipPath>
		</defs>
	</svg>
</template>

<script>
export default {
	name: "CarIcon"
}
</script>

<style scoped>

</style>
