<script>
export default {
	name: "CheckBoxCircleBlank"
}
</script>

<template>
	<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
		<circle cx="8" cy="8" r="7" stroke="#E2E8ED" stroke-width="2"/>
	</svg>
</template>

<style scoped>

</style>
