<script>
export default {
	name: "CheckBoxCircleChecked"
}
</script>

<template>
	<svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
		<rect x="0.5" width="16" height="16" rx="8" fill="#5562E5"/>
		<path d="M5.5 8.00024L7.62132 10.1216L11.8637 5.87891" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
	</svg>
</template>

<style scoped>

</style>
