<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M11.9999 9.74999C11.5899 9.74999 11.2499 9.40999 11.2499 8.99999V3.80999L10.5299 4.52999C10.2399 4.81999 9.75994 4.81999 9.46994 4.52999C9.17994 4.23999 9.17994 3.75999 9.46994 3.46999L11.4699 1.46999C11.6799 1.25999 12.0099 1.18999 12.2899 1.30999C12.5699 1.41999 12.7499 1.69999 12.7499 1.99999V8.99999C12.7499 9.40999 12.4099 9.74999 11.9999 9.74999Z" />
    <path d="M13.9999 4.74994C13.8099 4.74994 13.6199 4.67994 13.4699 4.52994L11.4699 2.52994C11.1799 2.23994 11.1799 1.75994 11.4699 1.46994C11.7599 1.17994 12.2399 1.17994 12.5299 1.46994L14.5299 3.46994C14.8199 3.75994 14.8199 4.23994 14.5299 4.52994C14.3799 4.67994 14.1899 4.74994 13.9999 4.74994Z" />
    <path d="M13.76 17.75H10.23C9.17998 17.75 8.23998 17.17 7.76998 16.23L6.59998 13.89C6.55998 13.8 6.46998 13.75 6.37998 13.75H1.97998C1.56998 13.75 1.22998 13.41 1.22998 13C1.22998 12.59 1.56998 12.25 1.97998 12.25H6.38998C7.05998 12.25 7.65998 12.62 7.95998 13.22L9.12998 15.56C9.33998 15.99 9.76998 16.25 10.25 16.25H13.78C14.26 16.25 14.69 15.99 14.9 15.56L16.07 13.22C16.37 12.62 16.97 12.25 17.64 12.25H22C22.41 12.25 22.75 12.59 22.75 13C22.75 13.41 22.41 13.75 22 13.75H17.64C17.54 13.75 17.46 13.8 17.42 13.89L16.25 16.23C15.75 17.17 14.81 17.75 13.76 17.75Z" />
    <path d="M15 22.7499H9C3.57 22.7499 1.25 20.4299 1.25 14.9999V11.9999C1.25 7.30993 2.99 4.95993 6.89 4.38993C7.31 4.32993 7.68 4.60993 7.74 5.01993C7.8 5.42993 7.52 5.80993 7.11 5.86993C3.97 6.32993 2.75 8.04993 2.75 11.9999V14.9999C2.75 19.6099 4.39 21.2499 9 21.2499H15C19.61 21.2499 21.25 19.6099 21.25 14.9999V11.9999C21.25 8.04993 20.03 6.32993 16.89 5.86993C16.48 5.80993 16.2 5.42993 16.26 5.01993C16.32 4.60993 16.7 4.32993 17.11 4.38993C21.01 4.95993 22.75 7.30993 22.75 11.9999V14.9999C22.75 20.4299 20.43 22.7499 15 22.7499Z" />
  </svg>
</template>

<script>
export default {
	name: "DirectSendIcon"
}
</script>

<style scoped>
path {
  fill: currentColor;
}
</style>
