<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M12 9.75C11.9 9.75 11.81 9.73 11.71 9.69C11.43 9.58 11.25 9.3 11.25 9V2C11.25 1.59 11.59 1.25 12 1.25C12.41 1.25 12.75 1.59 12.75 2V7.19L13.47 6.47C13.76 6.18 14.24 6.18 14.53 6.47C14.82 6.76 14.82 7.24 14.53 7.53L12.53 9.53C12.39 9.67 12.2 9.75 12 9.75Z" />
    <path d="M11.9999 9.74994C11.8099 9.74994 11.6199 9.67994 11.4699 9.52994L9.46994 7.52994C9.17994 7.23994 9.17994 6.75994 9.46994 6.46994C9.75994 6.17994 10.2399 6.17994 10.5299 6.46994L12.5299 8.46994C12.8199 8.75994 12.8199 9.23994 12.5299 9.52994C12.3799 9.67994 12.1899 9.74994 11.9999 9.74994Z" />
    <path d="M13.76 17.75H10.23C9.17998 17.75 8.23998 17.17 7.76998 16.23L6.59998 13.89C6.55998 13.8 6.46998 13.75 6.37998 13.75H1.97998C1.56998 13.75 1.22998 13.41 1.22998 13C1.22998 12.59 1.56998 12.25 1.97998 12.25H6.38998C7.05998 12.25 7.65998 12.62 7.95998 13.22L9.12998 15.56C9.33998 15.99 9.76998 16.25 10.25 16.25H13.78C14.26 16.25 14.69 15.99 14.9 15.56L16.07 13.22C16.37 12.62 16.97 12.25 17.64 12.25H22C22.41 12.25 22.75 12.59 22.75 13C22.75 13.41 22.41 13.75 22 13.75H17.64C17.54 13.75 17.46 13.8 17.42 13.89L16.25 16.23C15.75 17.17 14.81 17.75 13.76 17.75Z" />
    <path d="M15 22.7499H9C3.57 22.7499 1.25 20.4299 1.25 14.9999V10.9999C1.25 6.30993 2.99 3.95993 6.89 3.38993C7.31 3.32993 7.68 3.60993 7.74 4.01993C7.8 4.42993 7.52 4.80993 7.11 4.86993C3.97 5.32993 2.75 7.04993 2.75 10.9999V14.9999C2.75 19.6099 4.39 21.2499 9 21.2499H15C19.61 21.2499 21.25 19.6099 21.25 14.9999V10.9999C21.25 7.04993 20.03 5.32993 16.89 4.86993C16.48 4.80993 16.2 4.42993 16.26 4.01993C16.32 3.60993 16.7 3.32993 17.11 3.38993C21.01 3.95993 22.75 6.30993 22.75 10.9999V14.9999C22.75 20.4299 20.43 22.7499 15 22.7499Z" />
  </svg>
</template>

<script>
export default {
	name: "DirectInboxIcon"
}
</script>

<style scoped>
path {
  fill: currentColor;
}
</style>
