<template>
  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M9.99992 15.1668H5.99992C2.37992 15.1668 0.833252 13.6202 0.833252 10.0002V6.00016C0.833252 2.38016 2.37992 0.833496 5.99992 0.833496H9.33325C9.60659 0.833496 9.83325 1.06016 9.83325 1.3335C9.83325 1.60683 9.60659 1.8335 9.33325 1.8335H5.99992C2.92659 1.8335 1.83325 2.92683 1.83325 6.00016V10.0002C1.83325 13.0735 2.92659 14.1668 5.99992 14.1668H9.99992C13.0733 14.1668 14.1666 13.0735 14.1666 10.0002V6.66683C14.1666 6.3935 14.3933 6.16683 14.6666 6.16683C14.9399 6.16683 15.1666 6.3935 15.1666 6.66683V10.0002C15.1666 13.6202 13.6199 15.1668 9.99992 15.1668Z" />
    <path d="M14.6666 7.16682H11.9999C9.71992 7.16682 8.83325 6.28016 8.83325 4.00016V1.33349C8.83325 1.13349 8.95325 0.946822 9.13992 0.873489C9.32659 0.793489 9.53992 0.840155 9.68659 0.980155L15.0199 6.31349C15.1599 6.45349 15.2066 6.67349 15.1266 6.86016C15.0466 7.04682 14.8666 7.16682 14.6666 7.16682ZM9.83325 2.54016V4.00016C9.83325 5.72016 10.2799 6.16682 11.9999 6.16682H13.4599L9.83325 2.54016Z" />
    <path d="M8.66675 9.1665H4.66675C4.39341 9.1665 4.16675 8.93984 4.16675 8.6665C4.16675 8.39317 4.39341 8.1665 4.66675 8.1665H8.66675C8.94008 8.1665 9.16675 8.39317 9.16675 8.6665C9.16675 8.93984 8.94008 9.1665 8.66675 9.1665Z" />
    <path d="M7.33342 11.8335H4.66675C4.39341 11.8335 4.16675 11.6068 4.16675 11.3335C4.16675 11.0602 4.39341 10.8335 4.66675 10.8335H7.33342C7.60675 10.8335 7.83342 11.0602 7.83342 11.3335C7.83342 11.6068 7.60675 11.8335 7.33342 11.8335Z" />
  </svg>
</template>

<script>
export default {
	name: "DocumentTextIcon"
}
</script>

<style scoped>
path {
  fill: currentColor;
}
</style>
