<template>
	<svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M19.3883 2.83325H9.61159C5.36492 2.83325 2.83325 5.36492 2.83325 9.61159V19.3766C2.83325 23.6349 5.36492 26.1666 9.61159 26.1666H19.3766C23.6233 26.1666 26.1549 23.6349 26.1549 19.3883V9.61159C26.1666 5.36492 23.6349 2.83325 19.3883 2.83325ZM13.2749 20.9283C12.9366 21.2666 12.2949 21.5933 11.8283 21.6632L8.95825 22.0716C8.85325 22.0833 8.74825 22.0949 8.64325 22.0949C8.16492 22.0949 7.72159 21.9316 7.40659 21.6166C7.02158 21.2316 6.85825 20.6716 6.95159 20.0533L7.35992 17.1833C7.42992 16.7049 7.74492 16.0749 8.09492 15.7366L13.2983 10.5333C13.3916 10.7783 13.4849 11.0233 13.6133 11.3033C13.7299 11.5483 13.8583 11.8049 13.9983 12.0383C14.1149 12.2366 14.2433 12.4233 14.3483 12.5633C14.4766 12.7616 14.6283 12.9483 14.7216 13.0533C14.7799 13.1349 14.8266 13.1933 14.8499 13.2166C15.1416 13.5666 15.4799 13.8933 15.7716 14.1383C15.8533 14.2199 15.8999 14.2666 15.9233 14.2783C16.0983 14.4183 16.2733 14.5583 16.4249 14.6633C16.6116 14.8033 16.7983 14.9316 16.9966 15.0366C17.2299 15.1766 17.4866 15.3049 17.7433 15.4333C18.0116 15.5499 18.2566 15.6549 18.5016 15.7366L13.2749 20.9283ZM20.7649 13.4383L19.6916 14.5233C19.6216 14.5933 19.5283 14.6283 19.4349 14.6283C19.3999 14.6283 19.3533 14.6283 19.3299 14.6166C16.9616 13.9399 15.0716 12.0499 14.3949 9.68158C14.3599 9.55325 14.3949 9.41325 14.4883 9.33159L15.5733 8.24658C17.3466 6.47325 19.0382 6.50825 20.7766 8.24658C21.6632 9.13325 22.0949 9.98492 22.0949 10.8716C22.0833 11.7116 21.6516 12.5516 20.7649 13.4383Z" fill="#39C286"/>
	</svg>
</template>

<script>
export default {
	name: "Edit"
}
</script>

<style scoped>
path {
	fill: currentColor;
}
</style>
