<template>
	<svg width="97" height="96" viewBox="0 0 97 96" fill="none" xmlns="http://www.w3.org/2000/svg">
		<g clip-path="url(#clip0_430_11007)">
			<mask id="mask0_430_11007" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="97" height="96">
				<path d="M96.5 0H0.5V96H96.5V0Z" fill="white"/>
			</mask>
			<g mask="url(#mask0_430_11007)">
				<path d="M48.5 96C75.0097 96 96.5 74.5097 96.5 48C96.5 21.4903 75.0097 0 48.5 0C21.9903 0 0.5 21.4903 0.5 48C0.5 74.5097 21.9903 96 48.5 96Z" fill="#ECF0F4"/>
				<mask id="mask1_430_11007" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="97" height="96">
					<path d="M48.5 96C75.0097 96 96.5 74.5097 96.5 48C96.5 21.4903 75.0097 0 48.5 0C21.9903 0 0.5 21.4903 0.5 48C0.5 74.5097 21.9903 96 48.5 96Z" fill="#ECF0F4"/>
				</mask>
				<g mask="url(#mask1_430_11007)">
					<path d="M77.3 95.9997H19.7V33.9197C22.4149 33.9166 25.0177 32.8368 26.9374 30.9171C28.8571 28.9974 29.937 26.3946 29.94 23.6797H67.06C67.0571 25.0246 67.321 26.3567 67.8363 27.5989C68.3517 28.8411 69.1082 29.9689 70.0623 30.9168C71.0101 31.8711 72.1379 32.6279 73.3803 33.1434C74.6227 33.6588 75.955 33.9227 77.3 33.9197V95.9997Z" fill="white"/>
				</g>
				<path d="M48.5 60.8669C55.6061 60.8669 61.3667 55.1063 61.3667 48.0002C61.3667 40.8941 55.6061 35.1335 48.5 35.1335C41.3939 35.1335 35.6333 40.8941 35.6333 48.0002C35.6333 55.1063 41.3939 60.8669 48.5 60.8669Z" fill="#5562E5"/>
				<path d="M52.6515 53.4513L48.7523 49.5521L44.8531 53.4513L43.5534 52.1516L47.4526 48.2524L43.5534 44.3532L44.8531 43.0535L48.7523 46.9527L52.6515 43.0535L53.9512 44.3532L50.052 48.2524L53.9512 52.1516L52.6515 53.4513Z" fill="white"/>
				<path d="M56.8195 69.1199H40.1796C39.1192 69.1199 38.2596 69.9795 38.2596 71.0399C38.2596 72.1003 39.1192 72.9599 40.1796 72.9599H56.8195C57.8799 72.9599 58.7395 72.1003 58.7395 71.0399C58.7395 69.9795 57.8799 69.1199 56.8195 69.1199Z" fill="#ECF0F4"/>
				<path d="M62.5798 76.7996H34.4198C33.3594 76.7996 32.4998 77.6592 32.4998 78.7196C32.4998 79.7799 33.3594 80.6396 34.4198 80.6396H62.5798C63.6402 80.6396 64.4998 79.7799 64.4998 78.7196C64.4998 77.6592 63.6402 76.7996 62.5798 76.7996Z" fill="#ECF0F4"/>
			</g>
		</g>
		<defs>
			<clipPath id="clip0_430_11007">
				<rect width="97" height="96" fill="white"/>
			</clipPath>
		</defs>
	</svg>
</template>

<script>
export default {
	name: "EmptyV2"
}
</script>

<style scoped>

</style>
