<template>
	<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M4.66684 3.08341C5.08105 3.08341 5.41684 2.74763 5.41684 2.33341C5.41684 1.9192 5.08105 1.58341 4.66684 1.58341V3.08341ZM11.4167 8.33341C11.4167 7.9192 11.0809 7.58341 10.6667 7.58341C10.2525 7.58341 9.91671 7.9192 9.91671 8.33341H11.4167ZM9.93856 11.5214L9.59807 10.8531L9.93856 11.5214ZM10.5215 10.9388L9.85327 10.5983L10.5215 10.9388ZM1.4787 10.9388L0.810444 11.2793L0.810444 11.2793L1.4787 10.9388ZM2.06124 11.5214L2.40173 10.8531L2.40173 10.8531L2.06124 11.5214ZM2.06124 2.47874L2.40173 3.14699L2.06124 2.47874ZM1.4787 3.06144L2.14695 3.40193L1.4787 3.06144ZM10.5834 5.00008C10.5834 5.4143 10.9192 5.75008 11.3334 5.75008C11.7476 5.75008 12.0834 5.4143 12.0834 5.00008H10.5834ZM11.3334 1.66675H12.0834C12.0834 1.25253 11.7476 0.916748 11.3334 0.916748V1.66675ZM8.00004 0.916748C7.58583 0.916748 7.25004 1.25253 7.25004 1.66675C7.25004 2.08096 7.58583 2.41675 8.00004 2.41675V0.916748ZM6.13638 5.80308C5.84348 6.09598 5.84348 6.57085 6.13638 6.86374C6.42927 7.15664 6.90414 7.15664 7.19704 6.86374L6.13638 5.80308ZM4.66684 1.58341H3.46684V3.08341H4.66684V1.58341ZM0.583374 4.46672V9.53338H2.08337V4.46672H0.583374ZM3.46684 12.4167H8.5335V10.9167H3.46684V12.4167ZM11.4167 9.53342V8.33341H9.91671V9.53342H11.4167ZM8.5335 12.4167C8.8945 12.4167 9.2103 12.4173 9.47021 12.3961C9.73893 12.3741 10.0132 12.3251 10.2791 12.1897L9.59807 10.8531C9.57876 10.863 9.52382 10.8867 9.348 10.9011C9.16337 10.9162 8.91924 10.9167 8.5335 10.9167V12.4167ZM9.91671 9.53342C9.91671 9.91923 9.91616 10.1634 9.90109 10.3482C9.88674 10.5242 9.86304 10.5791 9.85327 10.5983L11.1898 11.2793C11.3253 11.0132 11.3742 10.7388 11.3961 10.4701C11.4173 10.2102 11.4167 9.89433 11.4167 9.53342H9.91671ZM10.2791 12.1897C10.6707 11.9901 10.9898 11.6717 11.1898 11.2793L9.85327 10.5983C9.79754 10.7076 9.70822 10.797 9.59807 10.8531L10.2791 12.1897ZM0.583374 9.53338C0.583374 9.89438 0.582791 10.2102 0.60403 10.4702C0.625984 10.7389 0.674926 11.0133 0.810444 11.2793L2.14695 10.5983C2.13715 10.579 2.11343 10.5241 2.09905 10.3481C2.08396 10.1633 2.08337 9.91912 2.08337 9.53338H0.583374ZM3.46684 10.9167C3.08111 10.9167 2.83683 10.9162 2.65204 10.9011C2.47596 10.8867 2.42096 10.8629 2.40173 10.8531L1.72075 12.1897C1.98674 12.3252 2.26116 12.3741 2.5299 12.3961C2.78992 12.4173 3.10583 12.4167 3.46684 12.4167V10.9167ZM0.810444 11.2793C1.01012 11.6712 1.32863 11.9899 1.72075 12.1897L2.40173 10.8531C2.29208 10.7973 2.20294 10.7081 2.14695 10.5983L0.810444 11.2793ZM3.46684 1.58341C3.10584 1.58341 2.78993 1.58283 2.52991 1.60407C2.26119 1.62602 1.98675 1.67495 1.72075 1.81048L2.40173 3.14699C2.42094 3.1372 2.47594 3.11347 2.65202 3.09909C2.83682 3.084 3.0811 3.08341 3.46684 3.08341V1.58341ZM2.08337 4.46672C2.08337 4.08097 2.08396 3.83678 2.09905 3.65209C2.11342 3.47615 2.13714 3.4212 2.14695 3.40193L0.810444 2.72095C0.674935 2.9869 0.625987 3.26122 0.604031 3.52993C0.582791 3.78988 0.583374 4.10572 0.583374 4.46672H2.08337ZM1.72075 1.81048C1.32855 2.01032 1.01008 2.32914 0.810444 2.72095L2.14695 3.40193C2.20298 3.29198 2.29216 3.20282 2.40173 3.14699L1.72075 1.81048ZM12.0834 5.00008V1.66675H10.5834V5.00008H12.0834ZM11.3334 0.916748H8.00004V2.41675H11.3334V0.916748ZM7.19704 6.86374L11.8637 2.19708L10.803 1.13642L6.13638 5.80308L7.19704 6.86374Z" fill="#7A86A0"/>
	</svg>
</template>

<script>
export default {
	name: "ExternalLink"
}
</script>

<style scoped>

</style>
