<template>
	<svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M25.2916 11.175C22.5966 6.94004 18.6533 4.50171 14.4999 4.50171C12.4233 4.50171 10.4049 5.10838 8.56158 6.24004C6.71825 7.38338 5.06159 9.05171 3.70825 11.175C2.54159 13.0067 2.54159 15.9817 3.70825 17.8134C6.40325 22.06 10.3466 24.4867 14.4999 24.4867C16.5766 24.4867 18.5949 23.88 20.4383 22.7484C22.2816 21.605 23.9383 19.9367 25.2916 17.8134C26.4583 15.9934 26.4583 13.0067 25.2916 11.175ZM14.4999 19.2134C11.8866 19.2134 9.78659 17.1017 9.78659 14.5C9.78659 11.8984 11.8866 9.78671 14.4999 9.78671C17.1133 9.78671 19.2133 11.8984 19.2133 14.5C19.2133 17.1017 17.1133 19.2134 14.4999 19.2134Z" fill="#FFAF02"/>
		<path d="M14.5 11.1633C12.6684 11.1633 11.175 12.6567 11.175 14.5C11.175 16.3317 12.6684 17.825 14.5 17.825C16.3317 17.825 17.8367 16.3317 17.8367 14.5C17.8367 12.6683 16.3317 11.1633 14.5 11.1633Z" fill="#FFAF02"/>
	</svg>
</template>

<script>
export default {
	name: "Eye"
}
</script>

<style scoped>
path {
	fill: currentColor;
}
</style>
