<template>
  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M7.29327 15.1004C6.97327 15.1004 6.65993 15.0204 6.3666 14.8604C5.77993 14.5337 5.4266 13.9404 5.4266 13.2737V9.74039C5.4266 9.40706 5.2066 8.90706 4.99993 8.65372L2.5066 6.01372C2.0866 5.59372 1.7666 4.87372 1.7666 4.33372V2.80039C1.7666 1.73372 2.57327 0.900391 3.59993 0.900391H12.3999C13.4133 0.900391 14.2333 1.72039 14.2333 2.73372V4.20039C14.2333 4.90039 13.8133 5.69372 13.4199 6.08706L10.5333 8.64039C10.2533 8.87372 10.0333 9.38706 10.0333 9.80039V12.6671C10.0333 13.2604 9.65993 13.9471 9.19327 14.2271L8.27327 14.8204C7.97327 15.0071 7.63327 15.1004 7.29327 15.1004ZM3.59993 1.90039C3.13327 1.90039 2.7666 2.29372 2.7666 2.80039V4.33372C2.7666 4.58039 2.9666 5.06039 3.21993 5.31372L5.75994 7.98706C6.09994 8.40706 6.43327 9.10706 6.43327 9.73372V13.2671C6.43327 13.7004 6.73327 13.9137 6.85993 13.9804C7.13994 14.1337 7.47993 14.1337 7.73993 13.9737L8.6666 13.3804C8.85327 13.2671 9.03994 12.9071 9.03994 12.6671V9.80039C9.03994 9.08706 9.3866 8.30039 9.8866 7.88039L12.7399 5.35372C12.9666 5.12706 13.2399 4.58706 13.2399 4.19372V2.73372C13.2399 2.27372 12.8666 1.90039 12.4066 1.90039H3.59993Z" />
    <path d="M3.99995 7.16652C3.90661 7.16652 3.81995 7.13985 3.73328 7.09318C3.49995 6.94652 3.42661 6.63318 3.57328 6.39985L6.85995 1.13318C7.00661 0.89985 7.31328 0.826517 7.54661 0.973183C7.77995 1.11985 7.85328 1.42652 7.70661 1.65985L4.41995 6.92652C4.32661 7.07985 4.16661 7.16652 3.99995 7.16652Z" fill="#5964D1"/>
  </svg>
</template>

<script>
export default {
	name: "FilterIcon"
}
</script>

<style scoped>
path {
  fill: currentColor;
}
</style>
