<template>
	<svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M14.465 2.83325C8.02501 2.83325 2.79834 8.05992 2.79834 14.4999C2.79834 20.9399 8.02501 26.1666 14.465 26.1666C20.905 26.1666 26.1317 20.9399 26.1317 14.4999C26.1317 8.05992 20.9167 2.83325 14.465 2.83325ZM18.84 14.9083L14.5 19.8433L13.9867 20.4266C13.275 21.2316 12.6917 21.0216 12.6917 19.9366V15.3166H10.7083C9.81001 15.3166 9.56501 14.7683 10.16 14.0916L14.5 9.15659L15.0133 8.57325C15.725 7.76825 16.3083 7.97825 16.3083 9.06325V13.6833H18.2917C19.19 13.6833 19.435 14.2316 18.84 14.9083Z" fill="#5562E5"/>
	</svg>
</template>

<script>
export default {
	name: "FlashCircle"
}
</script>

<style scoped>
path {
	fill: currentColor;
}
</style>
