<template>
	<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M10 8.33331L10 13.3333M10 13.3333L12.5 11.6666M10 13.3333L7.5 11.6666M2.5 4.99998V14C2.5 14.9334 2.5 15.4001 2.68166 15.7566C2.84144 16.0702 3.09623 16.3252 3.40983 16.485C3.76635 16.6666 4.23341 16.6666 5.16683 16.6666H14.8335C15.7669 16.6666 16.2333 16.6666 16.5898 16.485C16.9034 16.3252 17.1587 16.0702 17.3185 15.7566C17.5002 15.4001 17.5002 14.9334 17.5002 14L17.5002 7.66666C17.5002 6.73324 17.5002 6.26653 17.3185 5.91001C17.1587 5.59641 16.9034 5.34142 16.5898 5.18164C16.2333 4.99998 15.7668 4.99998 14.8333 4.99998H2.5ZM2.5 4.99998C2.5 4.07951 3.24619 3.33331 4.16667 3.33331H7.22876C7.63641 3.33331 7.84048 3.33331 8.03229 3.37936C8.20235 3.42019 8.36488 3.48755 8.514 3.57893C8.68219 3.682 8.82633 3.82611 9.11458 4.11436L10.0002 4.99998" stroke="#9AA4BB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
	</svg>
</template>

<script>
export default {
	name: "FolderDownload"
}
</script>

<style scoped>
path {
	stroke: currentColor;
}

</style>
