<template>
  <svg width="15" height="22" viewBox="0 0 15 22" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.998682 0.999256C0.996281 0.760789 1.16541 0.54795 1.40796 0.503209C3.23847 0.165558 5.42269 -0.00168638 7.96245 1.28174e-05L7.99729 4.67413e-05L8.03212 1.28174e-05C10.5719 -0.00168638 12.7561 0.165558 14.5866 0.503209C14.8292 0.54795 14.9983 0.760789 14.9959 0.999256C14.9962 1.03052 14.9936 1.06225 14.9878 1.09415C14.9385 1.3658 14.6783 1.54602 14.4066 1.4967C14.282 1.47408 14.1559 1.45223 14.0281 1.43115L14.2566 4.62971C14.4151 6.84886 13.2208 8.94485 11.2309 9.93981L9.11509 10.9977L11.2309 12.0556C13.2208 13.0506 14.4151 15.1466 14.2566 17.3657L14.0278 20.5689C14.1557 20.5478 14.2819 20.5259 14.4066 20.5033C14.6783 20.454 14.9385 20.6342 14.9878 20.9058C14.9936 20.9377 14.9962 20.9695 14.9959 21.0007C14.9983 21.2392 14.8292 21.4521 14.5866 21.4968C12.7561 21.8344 10.5719 22.0017 8.03212 22L7.99729 22L7.96245 22C5.42269 22.0017 3.23847 21.8344 1.40796 21.4968C1.16541 21.4521 0.996281 21.2392 0.998682 21.0007C0.998368 20.9695 1.00099 20.9377 1.00679 20.9058C1.05611 20.6342 1.3163 20.454 1.58795 20.5033C1.71264 20.5259 1.83892 20.5478 1.96678 20.5689L1.73798 17.3657C1.57947 15.1466 2.77378 13.0506 4.7637 12.0556L6.87948 10.9977L4.7637 9.93981C2.77378 8.94485 1.57947 6.84886 1.73798 4.62971L1.96645 1.43115C1.8387 1.45223 1.71253 1.47408 1.58795 1.4967C1.3163 1.54602 1.05611 1.3658 1.00679 1.09415C1.00099 1.06225 0.998368 1.03052 0.998682 0.999256ZM7.99722 0.999695C6.13598 1.00212 4.46311 1.09714 2.97921 1.28421L2.73516 4.7008C2.60547 6.51646 3.58263 8.23137 5.21075 9.04543L7.99722 10.4387L10.7837 9.04543C12.4118 8.23137 13.389 6.51646 13.2593 4.7008L13.0152 1.28421C11.5313 1.09714 9.85845 1.00212 7.99722 0.999695ZM5.21075 12.9494L7.99722 11.5561L10.7837 12.9494C12.4118 13.7634 13.389 15.4783 13.2593 17.294L13.0149 20.7152C11.5311 20.9023 9.85832 20.9973 7.99722 20.9997C6.13612 20.9973 4.46335 20.9023 2.97954 20.7152L2.73516 17.294C2.60547 15.4783 3.58263 13.7634 5.21075 12.9494ZM4.99788 18.7037C4.99788 18.8654 5.12897 18.9965 5.29068 18.9965H10.7038C10.8655 18.9965 10.9966 18.8654 10.9966 18.7037C10.9966 18.3612 10.836 18.0386 10.5627 17.8323L9.44565 16.9888C8.58851 16.3416 7.406 16.3416 6.54886 16.9888L5.43183 17.8323C5.15854 18.0386 4.99788 18.3612 4.99788 18.7037ZM10.048 16.191C8.83433 15.2745 7.15994 15.2745 5.94626 16.191L4.82922 17.0345C4.30571 17.4298 3.99797 18.0478 3.99797 18.7038C3.99797 19.4177 4.57668 19.9964 5.29055 19.9964H10.7037C11.4176 19.9964 11.9963 19.4177 11.9963 18.7038C11.9963 18.0478 11.6886 17.4298 11.165 17.0345L10.048 16.191Z" fill="#171717"/>
  </svg>
</template>

<script>
export default {
  name: "Hourglass"
}
</script>

<style scoped>
path {
  fill: currentColor;
}
</style>
