<template>
  <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M7.75146 18.5C4.17146 18.5 1.25146 15.58 1.25146 12C1.25146 8.42 4.17146 5.5 7.75146 5.5C8.16146 5.5 8.50146 5.84 8.50146 6.25C8.50146 6.66 8.16146 7 7.75146 7C4.99146 7 2.75146 9.24 2.75146 12C2.75146 14.76 4.99146 17 7.75146 17C10.5115 17 12.7515 14.76 12.7515 12C12.7515 11.59 13.0915 11.25 13.5015 11.25C13.9115 11.25 14.2515 11.59 14.2515 12C14.2515 15.58 11.3315 18.5 7.75146 18.5Z" fill="#292D32"/>
    <path d="M16.0015 18.75C15.5915 18.75 15.2515 18.41 15.2515 18C15.2515 17.59 15.5915 17.25 16.0015 17.25C18.8915 17.25 21.2515 14.89 21.2515 12C21.2515 9.11 18.8915 6.75 16.0015 6.75C13.1115 6.75 10.7515 9.11 10.7515 12C10.7515 12.41 10.4115 12.75 10.0015 12.75C9.59146 12.75 9.25146 12.41 9.25146 12C9.25146 8.28 12.2815 5.25 16.0015 5.25C19.7215 5.25 22.7515 8.28 22.7515 12C22.7515 15.72 19.7215 18.75 16.0015 18.75Z" fill="#292D32"/>
  </svg>
</template>

<script>
export default {
	name: "LinkIcon"
}
</script>

<style scoped>
path {
  fill: currentColor;
}
</style>
