<template>
	<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
		<g clip-path="url(#clip0_181_83)">
			<path d="M5.5473 11.7655C2.14188 6.82861 1.50977 6.32193 1.50977 4.50757C1.50977 2.02228 3.52448 0.00756836 6.00977 0.00756836C8.49505 0.00756836 10.5098 2.02228 10.5098 4.50757C10.5098 6.32193 9.87766 6.82861 6.47223 11.7655C6.24876 12.0883 5.77075 12.0883 5.5473 11.7655ZM6.00977 6.38257C7.0453 6.38257 7.88477 5.54311 7.88477 4.50757C7.88477 3.47203 7.0453 2.63257 6.00977 2.63257C4.97423 2.63257 4.13477 3.47203 4.13477 4.50757C4.13477 5.54311 4.97423 6.38257 6.00977 6.38257Z" fill="white"/>
		</g>
		<defs>
			<clipPath id="clip0_181_83">
				<rect width="12" height="12" fill="white"/>
			</clipPath>
		</defs>
	</svg>
</template>

<script>
export default {
	name: "LocationIcon"
}
</script>

<style scoped>

</style>
