<template>
	<svg xmlns="http://www.w3.org/2000/svg" width="28" height="29" viewBox="0 0 28 29" fill="none">
		<path d="M18.8883 2.83325H9.11159C4.86492 2.83325 2.33325 5.36492 2.33325 9.61159V19.3766C2.33325 23.6349 4.86492 26.1666 9.11159 26.1666H18.8766C23.1233 26.1666 25.6549 23.6349 25.6549 19.3883V9.61159C25.6666 5.36492 23.1349 2.83325 18.8883 2.83325ZM19.8333 20.6249H8.16658C7.68825 20.6249 7.29158 20.2283 7.29158 19.7499C7.29158 19.2716 7.68825 18.8749 8.16658 18.8749H19.8333C20.3116 18.8749 20.7083 19.2716 20.7083 19.7499C20.7083 20.2283 20.3116 20.6249 19.8333 20.6249ZM19.8333 15.3749H8.16658C7.68825 15.3749 7.29158 14.9783 7.29158 14.4999C7.29158 14.0216 7.68825 13.6249 8.16658 13.6249H19.8333C20.3116 13.6249 20.7083 14.0216 20.7083 14.4999C20.7083 14.9783 20.3116 15.3749 19.8333 15.3749ZM19.8333 10.1249H8.16658C7.68825 10.1249 7.29158 9.72825 7.29158 9.24992C7.29158 8.77158 7.68825 8.37492 8.16658 8.37492H19.8333C20.3116 8.37492 20.7083 8.77158 20.7083 9.24992C20.7083 9.72825 20.3116 10.1249 19.8333 10.1249Z" fill="#39C286"/>
	</svg>
</template>

<script>
export default {
	name: "Menu"
}
</script>

<style scoped>
path {
	fill: currentColor;
}
</style>
