<template>
	<svg width="28" height="29" viewBox="0 0 28 29" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M13.9999 2.83325C7.57158 2.83325 2.33325 8.07158 2.33325 14.4999C2.33325 20.9283 7.57158 26.1666 13.9999 26.1666C20.4283 26.1666 25.6666 20.9283 25.6666 14.4999C25.6666 8.07158 20.4283 2.83325 13.9999 2.83325ZM18.5733 15.3749H9.23992C8.76159 15.3749 8.36492 14.9783 8.36492 14.4999C8.36492 14.0216 8.76159 13.6249 9.23992 13.6249H18.5733C19.0516 13.6249 19.4483 14.0216 19.4483 14.4999C19.4483 14.9783 19.0633 15.3749 18.5733 15.3749Z" fill="#D53E4F"/>
	</svg>
</template>

<script>
export default {
	name: "MinusCircle"
}
</script>

<style scoped>
path {
	fill: currentColor;
}
</style>
