<template>
	<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
		<g clip-path="url(#clip0_396_7524)">
			<path d="M19.2859 5.946C20.9951 4.33388 19.0178 2.24288 15.2783 3.53813C15.0581 3.61463 14.8534 3.69525 14.6603 3.77887C15.0266 3.07537 15.5678 2.30737 16.3778 1.572C16.3778 1.572 14.865 2.11538 14.166 1.97775C13.299 1.80713 13.0271 0.75 13.0271 0.75C13.0271 0.75 12.1253 2.71425 11.6659 4.25588C11.0081 2.93138 10.2795 1.6425 10.2795 1.6425C10.2795 1.6425 9.89063 2.544 9.1785 2.88675C8.60438 3.16425 6.24263 3.4035 6.24263 3.4035C7.03013 3.80625 7.70625 4.30388 8.28 4.81875C7.67663 4.659 6.98775 4.539 6.19988 4.482C3.07088 4.25512 1.842 5.3715 2.2605 6.47437L0.75 6.52275L1.572 9.60488L2.08275 9.75C3.29475 13.8559 3.0015 18.4118 2.99775 18.4631L2.97713 18.7601L3.25988 18.8434C7.78725 20.1769 11.9006 23.25 11.9006 23.25C11.9006 23.25 17.2339 19.7205 20.1664 18.8426L20.4229 18.7658L20.4281 18.4958C20.4296 18.432 20.5579 12.7455 22.0298 9.039C22.1333 9.02437 22.2308 9.01275 22.3144 9.0075L22.6245 8.98875L22.6556 8.67675C22.6568 8.66438 22.7835 6.87825 23.2504 6.14962L19.2859 5.946ZM1.72013 7.3875L4.15125 8.04712V9.57075L2.13338 8.99775L1.72013 7.3875ZM5.49788 18.8295C4.92011 18.6052 4.33462 18.4013 3.7425 18.2183C3.7905 17.16 3.85988 13.5124 2.90513 9.98325L4.67138 10.485C5.01338 11.9936 5.58113 15.1016 5.49788 18.8295ZM8.45775 5.64113C11.493 5.86088 12.0266 7.42762 12.0266 7.42762C12.0266 7.42762 10.1775 8.10375 9.03488 8.10375C5.30663 8.10375 4.76813 5.37375 8.45775 5.64113ZM12.2033 7.65825L15.2505 8.00362L11.4518 8.92275L9.282 8.43787L12.2033 7.65825ZM8.55488 9.03113L11.0899 9.59737V11.5414L8.47275 10.8112L8.55488 9.03113ZM11.5703 22.1325C11.0168 21.7215 10.0943 21.0874 8.8695 20.4075C8.96663 18.6161 8.97825 13.8296 8.97863 11.7083L11.5703 12.4444V22.1325ZM14.9625 20.499C14.0581 21.0339 13.1702 21.5962 12.3 22.185V12.1088C13.3171 11.7355 14.3374 11.3708 15.3608 11.0149C15.1406 13.1366 15.003 18.6739 14.9625 20.499ZM16.1925 10.062C16.1925 10.062 12.5408 11.2339 11.8204 11.4998V9.5925L16.2495 8.52075L16.1925 10.062ZM15.7425 7.26412C14.0329 7.70213 12.2145 7.39313 12.2145 7.39313C12.2145 7.39313 11.8736 5.71875 14.6336 4.76288C17.9884 3.60075 19.3148 6.34875 15.7425 7.26412ZM18.2591 6.627L20.4326 6.74925L19.1273 7.06537L17.5684 6.91162C17.8208 6.82387 18.0499 6.72788 18.2591 6.627ZM19.7051 18.2145C19.1625 18.3919 18.5903 18.624 18.0135 18.8869C18.0176 17.1304 18.1249 13.2371 18.9386 9.8325C19.7753 9.5745 20.5508 9.35437 21.1838 9.2055C19.9736 12.5753 19.7445 17.0655 19.7051 18.2145ZM21.9694 8.30288C21.9694 8.30288 20.769 8.65462 20.0025 8.86613L20.1953 7.56562L22.2821 7.06087C22.1111 7.5315 21.9694 8.30288 21.9694 8.30288Z" fill="#9AA4BB"/>
		</g>
		<defs>
			<clipPath id="clip0_396_7524">
				<rect width="24" height="24" fill="white"/>
			</clipPath>
		</defs>
	</svg>
</template>

<script>
export default {
	name: "Monotone"
}
</script>

<style scoped>

</style>
