<template>
	<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
		<g clip-path="url(#clip0_396_7527)">
			<path d="M11.9624 11.3625V23.25C11.9624 23.25 16.8749 19.8 20.3249 18.7875C20.3249 18.7875 20.4749 11.4375 22.6124 7.76245L11.9624 11.3625Z" fill="#5562E5"/>
			<path d="M15.0376 21.45C15.0376 21.45 15.2251 10.9125 15.6001 10.3875C15.9751 9.82495 19.2001 9.26245 19.2001 9.26245C19.2001 9.26245 17.8876 19.125 18.1876 19.7625C18.2251 19.725 16.8751 20.2875 15.0376 21.45Z" fill="#B3690E"/>
			<path d="M11.9625 23.25C11.9625 23.25 8.51255 20.325 3.15005 18.7875C3.15005 18.7875 3.56255 12.75 1.61255 8.13745L11.9625 11.3625V23.25Z" fill="#818CF4"/>
			<path d="M5.32505 19.7625C5.32505 19.7625 8.47505 21.0375 8.70005 21.45C8.92505 21.8625 8.92505 10.8375 8.92505 10.8375C8.92505 10.8375 4.61255 9.63745 4.23755 9.63745C4.23755 9.63745 5.55005 14.1 5.32505 19.7625Z" fill="#E9C243"/>
			<path opacity="0.3" d="M11.9625 11.3625V13.3499L21.6 10.05C21.8624 9.22495 22.2 8.43745 22.575 7.76245L11.9625 11.3625ZM2.28745 10.2C2.09995 9.48745 1.87495 8.81245 1.57495 8.13745L11.925 11.3625V13.3499L2.28745 10.2Z" fill="black"/>
			<path d="M0.75 7.0874L11.4375 9.4499L23.25 6.5999L11.6625 5.9624L0.75 7.0874Z" fill="#A2AAFF"/>
			<path d="M0.75 7.0874L1.6125 9.4499L11.4375 12.2249V9.4499L0.75 7.0874Z" fill="#818CF4"/>
			<path d="M11.4375 12.2249C11.4375 12.2249 20.3625 8.92495 22.575 8.77495C22.575 8.77495 22.725 7.46245 23.25 6.63745L11.4375 9.44995V12.2249Z" fill="#5562E5"/>
			<path d="M3.9375 7.7999L6.1125 9.8624L8.5125 8.7749L12 7.7249L16.35 8.2499L18.6375 8.6999L20.475 7.2749L3.9375 7.7999Z" fill="#F0AE11"/>
			<path d="M8.5125 8.77495L12 7.72495L16.35 8.24995L20.475 7.27495L11.775 6.44995L3.9375 7.79995L8.5125 8.77495Z" fill="#F0AE11"/>
			<path d="M3.9375 7.80005V10.425L8.325 11.625L8.5125 8.77505L3.9375 7.80005Z" fill="#F8D048"/>
			<path d="M16.3501 8.2499L16.4251 10.7624L20.1751 9.6374L20.4751 7.2749L16.3501 8.2499Z" fill="#C47116"/>
			<path d="M13.9875 6.4875C13.9875 6.4875 13.9875 3.8625 16.5375 1.575C16.5375 1.575 15 2.1375 14.25 1.9875C13.35 1.8375 13.05 0.75 13.05 0.75C13.05 0.75 10.875 5.475 11.5125 6.075C12.15 6.7125 13.9875 6.4875 13.9875 6.4875Z" fill="#EA9F07"/>
			<path d="M10.65 8.0249C10.65 8.0249 9.18745 5.0249 6.07495 3.4499C6.07495 3.4499 8.51245 3.2249 9.07495 2.9249C9.78745 2.5874 10.2 1.6499 10.2 1.6499C10.2 1.6499 12.9 6.3749 12.675 7.0874C12.45 7.7999 10.65 8.0249 10.65 8.0249Z" fill="#F8D048"/>
			<path d="M12.225 7.6874C12.225 7.6874 9.93746 8.5874 7.01246 8.5874C0.862461 8.5499 -3.98159e-05 4.1249 6.07496 4.5374C11.0625 4.9124 12.225 7.6874 12.225 7.6874Z" fill="#EA9F07"/>
			<path d="M11.8125 7.6501C11.8125 7.6501 14.5125 7.8751 17.025 7.2376C22.275 5.8876 20.325 1.9126 15.375 3.6001C11.325 4.9876 11.8125 7.6501 11.8125 7.6501Z" fill="#F0AE11"/>
			<path d="M12.225 7.68749C12.225 7.68749 10.8 8.24999 8.96253 8.24999C5.13753 8.24999 4.57503 5.47499 8.36253 5.73749C11.475 5.96249 12.225 7.68749 12.225 7.68749Z" fill="#B3690E"/>
			<path d="M12.225 7.68751C12.225 7.68751 14.1 7.83751 15.8625 7.38751C19.5375 6.45001 18.15 3.67501 14.7375 4.83751C11.8875 5.81251 12.225 7.68751 12.225 7.68751Z" fill="#B3690E"/>
		</g>
		<defs>
			<clipPath id="clip0_396_7527">
				<rect width="24" height="24" fill="white"/>
			</clipPath>
		</defs>
	</svg>
</template>

<script>
export default {
	name: "MonotoneFilled"
}
</script>

<style scoped>

</style>
