<template>
	<svg width="28" height="29" viewBox="0 0 28 29" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M13.9999 2.83325C7.55992 2.83325 2.33325 8.05992 2.33325 14.4999C2.33325 20.9399 7.55992 26.1666 13.9999 26.1666C20.4399 26.1666 25.6666 20.9399 25.6666 14.4999C25.6666 8.05992 20.4399 2.83325 13.9999 2.83325ZM18.8416 15.4683L16.8233 16.1449C16.2633 16.3316 15.8316 16.7633 15.6449 17.3233L14.9683 19.3416C14.3966 21.0799 11.9466 21.0449 11.4099 19.3066L9.13492 11.9799C8.69159 10.5216 10.0333 9.17992 11.4683 9.62325L18.8066 11.8983C20.5449 12.4466 20.5683 14.8966 18.8416 15.4683Z" fill="#1177FF"/>
	</svg>
</template>

<script>
export default {
	name: "Mouse"
}
</script>

<style scoped>
path {
	fill: currentColor;
}
</style>
