<script>
export default {
  name: "NotebookIcon"
}
</script>

<template>
  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M1.51491 2.24304L2.40591 2.69703L1.51491 2.24304ZM2.24308 1.51466L2.69707 2.40567L2.24308 1.51466ZM2.24308 14.4847L2.69707 13.5937H2.69707L2.24308 14.4847ZM1.51491 13.7563L0.623901 14.2103L1.51491 13.7563ZM14.4851 13.7563L13.5941 13.3023L14.4851 13.7563ZM13.7564 14.4847L13.3024 13.5937L13.7564 14.4847ZM14.4851 2.24304L13.5941 2.69703L14.4851 2.24304ZM13.7564 1.51466L14.2104 0.623657L13.7564 1.51466ZM7.99992 6.16634C7.44763 6.16634 6.99992 6.61406 6.99992 7.16634C6.99992 7.71863 7.44763 8.16634 7.99992 8.16634V6.16634ZM11.3333 8.16634C11.8855 8.16634 12.3333 7.71863 12.3333 7.16634C12.3333 6.61406 11.8855 6.16634 11.3333 6.16634V8.16634ZM7.99992 3.66634C7.44763 3.66634 6.99992 4.11406 6.99992 4.66634C6.99992 5.21863 7.44763 5.66634 7.99992 5.66634V3.66634ZM11.3333 5.66634C11.8855 5.66634 12.3333 5.21863 12.3333 4.66634C12.3333 4.11406 11.8855 3.66634 11.3333 3.66634V5.66634ZM3.66659 14.6663C3.66659 15.2186 4.1143 15.6663 4.66659 15.6663C5.21887 15.6663 5.66658 15.2186 5.66658 14.6663H3.66659ZM5.66659 1.33301C5.66659 0.780723 5.21887 0.333008 4.66659 0.333008C4.1143 0.333008 3.66659 0.780723 3.66659 1.33301L5.66659 1.33301ZM13.6666 3.99968V11.9997H15.6666V3.99968H13.6666ZM12.0001 13.6663H4.00008V15.6663H12.0001V13.6663ZM2.33325 11.9997V3.99968H0.333252V11.9997H2.33325ZM4.00008 2.33301H12.0001V0.333008H4.00008V2.33301ZM2.33325 3.99968C2.33325 3.51647 2.33403 3.21421 2.35264 2.98646C2.37029 2.77038 2.39889 2.71083 2.40591 2.69703L0.623901 1.78905C0.449273 2.13178 0.38704 2.48383 0.35928 2.82359C0.332474 3.15168 0.333252 3.54948 0.333252 3.99968H2.33325ZM4.00008 0.333008C3.54986 0.333008 3.15199 0.332231 2.82384 0.359034C2.48407 0.386785 2.13188 0.448999 1.78909 0.623657L2.69707 2.40567C2.71081 2.39867 2.7704 2.37006 2.98665 2.3524C3.21451 2.33378 3.51688 2.33301 4.00008 2.33301V0.333008ZM2.40591 2.69703C2.46996 2.57133 2.57189 2.46945 2.69707 2.40567L1.78909 0.623657C1.28707 0.879451 0.879432 1.28754 0.623901 1.78905L2.40591 2.69703ZM4.00008 13.6663C3.51689 13.6663 3.21452 13.6656 2.98667 13.6469C2.77043 13.6293 2.71082 13.6007 2.69707 13.5937L1.78909 15.3757C2.13186 15.5503 2.48404 15.6125 2.82381 15.6403C3.15198 15.6671 3.54985 15.6663 4.00008 15.6663V13.6663ZM0.333252 11.9997C0.333252 12.4499 0.332474 12.8477 0.35928 13.1758C0.38704 13.5155 0.449275 13.8676 0.623901 14.2103L2.40591 13.3023C2.39889 13.2885 2.37029 13.229 2.35264 13.0129C2.33403 12.7852 2.33325 12.4829 2.33325 11.9997H0.333252ZM2.69707 13.5937C2.57185 13.5298 2.46994 13.428 2.40591 13.3023L0.623901 14.2103C0.879453 14.7119 1.28711 15.1199 1.78909 15.3757L2.69707 13.5937ZM13.6666 11.9997C13.6666 12.483 13.6659 12.7852 13.6473 13.0131C13.6297 13.2292 13.6011 13.2886 13.5941 13.3023L15.3761 14.2103C15.5508 13.8675 15.613 13.5153 15.6407 13.1756C15.6674 12.8476 15.6666 12.4498 15.6666 11.9997H13.6666ZM12.0001 15.6663C12.4503 15.6663 12.848 15.6671 13.1761 15.6403C13.5158 15.6125 13.8677 15.5503 14.2104 15.3757L13.3024 13.5937C13.2886 13.6007 13.229 13.6293 13.0131 13.6469C12.7855 13.6656 12.4833 13.6663 12.0001 13.6663V15.6663ZM13.5941 13.3023C13.5304 13.4273 13.4283 13.5295 13.3024 13.5937L14.2104 15.3757C14.7117 15.1202 15.1202 14.7125 15.3761 14.2103L13.5941 13.3023ZM15.6666 3.99968C15.6666 3.54958 15.6674 3.15177 15.6407 2.82375C15.613 2.48404 15.5508 2.13189 15.3761 1.78905L13.5941 2.69703C13.6011 2.71071 13.6297 2.77017 13.6473 2.9863C13.6659 3.21412 13.6666 3.51637 13.6666 3.99968H15.6666ZM12.0001 2.33301C12.4833 2.33301 12.7855 2.33379 13.0131 2.35239C13.229 2.37004 13.2886 2.39861 13.3024 2.40567L14.2104 0.623657C13.8677 0.449057 13.5158 0.386805 13.176 0.359038C12.848 0.33223 12.4503 0.333008 12.0001 0.333008V2.33301ZM15.3761 1.78905C15.1202 1.28688 14.7118 0.879111 14.2104 0.623657L13.3024 2.40567C13.4283 2.46979 13.5304 2.572 13.5941 2.69703L15.3761 1.78905ZM7.99992 8.16634H11.3333V6.16634H7.99992V8.16634ZM7.99992 5.66634H11.3333V3.66634H7.99992V5.66634ZM5.66658 14.6663L5.66659 1.33301L3.66659 1.33301L3.66659 14.6663H5.66658Z" fill="#9AA4BB"/>
  </svg>
</template>

<style scoped>
path {
  fill: currentColor;
}
</style>