<template>
  <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M8.83789 2.0918L9.42969 1.51172C9.72852 1.21289 9.74023 0.890625 9.47656 0.621094L9.27734 0.421875C9.01367 0.158203 8.69141 0.1875 8.39258 0.474609L7.80078 1.06055L8.83789 2.0918ZM1.92969 8.98242L8.32227 2.5957L7.29688 1.56445L0.898438 7.95703L0.341797 9.25781C0.289062 9.39844 0.435547 9.5625 0.576172 9.50391L1.92969 8.98242Z" fill="#9EA3A4"/>
  </svg>
</template>

<script>
export default {
	name: "PenIcon"
}
</script>

<style scoped>

</style>
