<template>
  <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M6.13867 11.1426C6.53711 11.1426 6.82422 10.8496 6.82422 10.457V8.21875H6.99414C9.26758 8.21875 10.6973 8.79297 11.7227 10.709C11.9277 11.084 12.1973 11.1426 12.4434 11.1426C12.7539 11.1426 13.0469 10.8613 13.0469 10.3574C13.0469 6.02734 11.2129 3.32617 6.99414 3.32617H6.82422V1.11133C6.82422 0.71875 6.53711 0.396484 6.12695 0.396484C5.83984 0.396484 5.64648 0.519531 5.33594 0.8125L0.712891 5.13672C0.484375 5.35352 0.414062 5.57031 0.414062 5.76953C0.414062 5.96289 0.490234 6.18555 0.712891 6.39648L5.33594 10.7617C5.61719 11.0254 5.85156 11.1426 6.13867 11.1426Z" fill="#9EA3A4"/>
  </svg>
</template>

<script>
export default {
	name: "ReplyIcon"
}
</script>

<style scoped>

</style>
