<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M3.30023 22.7501C2.94023 22.7501 2.59022 22.6601 2.29022 22.4801C1.62022 22.0901 1.24023 21.3101 1.24023 20.3401V8.98013C1.24023 6.85013 2.97022 5.12012 5.10022 5.12012H12.8802C15.0102 5.12012 16.7402 6.85013 16.7402 8.98013V20.3401C16.7402 21.3101 16.3602 22.0801 15.6902 22.4801C15.0202 22.8701 14.1602 22.8301 13.3102 22.3601L9.38025 20.1701C9.19025 20.0601 8.79022 20.0601 8.60022 20.1701L4.67023 22.3601C4.21023 22.6201 3.74023 22.7501 3.30023 22.7501ZM5.11023 6.63013C3.81023 6.63013 2.75024 7.69011 2.75024 8.99011V20.3501C2.75024 20.7601 2.87024 21.0801 3.06024 21.1901C3.25024 21.3001 3.59026 21.2501 3.95026 21.0501L7.88025 18.8601C8.52025 18.5101 9.48024 18.5101 10.1202 18.8601L14.0502 21.0501C14.4102 21.2501 14.7402 21.3001 14.9402 21.1901C15.1302 21.0801 15.2502 20.7601 15.2502 20.3501V8.99011C15.2502 7.69011 14.1903 6.63013 12.8903 6.63013H5.11023Z" fill="#292D32"/>
    <path d="M14.69 22.7501C14.25 22.7501 13.79 22.6201 13.32 22.3701L9.39001 20.1801C9.20001 20.0801 8.78998 20.0801 8.59998 20.1801L4.67999 22.3701C3.82999 22.8401 2.95999 22.8801 2.29999 22.4901C1.62999 22.1001 1.25 21.3201 1.25 20.3601V9.00012C1.25 6.87012 2.97999 5.14014 5.10999 5.14014H12.89C15.02 5.14014 16.75 6.87012 16.75 9.00012V20.3601C16.75 21.3201 16.37 22.1001 15.7 22.4901C15.4 22.6601 15.06 22.7501 14.69 22.7501ZM9 18.6001C9.4 18.6001 9.79 18.6901 10.12 18.8701L14.05 21.0601C14.41 21.2601 14.75 21.3101 14.94 21.1901C15.13 21.0801 15.25 20.7601 15.25 20.3501V8.99011C15.25 7.69011 14.19 6.63013 12.89 6.63013H5.10999C3.80999 6.63013 2.75 7.69011 2.75 8.99011V20.3501C2.75 20.7601 2.87 21.0801 3.06 21.1901C3.25 21.3001 3.59001 21.2501 3.95001 21.0501L7.88 18.8601C8.2 18.6901 8.6 18.6001 9 18.6001Z" fill="#292D32"/>
    <path d="M20.69 18.87C20.25 18.87 19.79 18.74 19.32 18.49L15.63 16.43C15.39 16.3 15.25 16.05 15.25 15.78V9C15.25 7.7 14.19 6.64001 12.89 6.64001H8C7.59 6.64001 7.25 6.30001 7.25 5.89001V5.12C7.25 2.99 8.97999 1.26001 11.11 1.26001H18.89C21.02 1.26001 22.75 2.99 22.75 5.12V16.48C22.75 17.44 22.37 18.22 21.7 18.61C21.4 18.78 21.06 18.87 20.69 18.87ZM16.75 15.33L20.05 17.18C20.41 17.38 20.74 17.43 20.94 17.31C21.14 17.19 21.25 16.88 21.25 16.47V5.10999C21.25 3.80999 20.19 2.75 18.89 2.75H11.11C9.80999 2.75 8.75 3.80999 8.75 5.10999V5.13H12.89C15.02 5.13 16.75 6.85999 16.75 8.98999V15.33V15.33Z" fill="#292D32"/>
  </svg>
</template>

<script>
export default {
	name: "SaveIcon"
}
</script>

<style scoped>
path {
  fill: currentColor;
}
</style>
