<template>
  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M8.66667 15.1663H7.33333C5.13333 15.1663 3.80667 14.7263 3.56 12.493C3.52 12.193 3.5 11.833 3.5 11.333V4.66634C3.5 4.16634 3.52 3.80634 3.56667 3.48634C3.80667 1.27301 5.13333 0.833008 7.33333 0.833008H8.66667C10.8667 0.833008 12.1933 1.27301 12.44 3.50634C12.48 3.80634 12.5 4.16634 12.5 4.66634V11.333C12.5 11.833 12.48 12.193 12.4333 12.513C12.1933 14.7263 10.8667 15.1663 8.66667 15.1663ZM7.33333 1.83301C5.12667 1.83301 4.70667 2.27967 4.56 3.61301C4.52 3.89967 4.5 4.21301 4.5 4.66634V11.333C4.5 11.7863 4.52 12.0997 4.55333 12.3663C4.7 13.7197 5.12667 14.1663 7.33333 14.1663H8.66667C10.8733 14.1663 11.2933 13.7197 11.44 12.3863C11.48 12.1063 11.5 11.7863 11.5 11.333V4.66634C11.5 4.21967 11.48 3.89967 11.4467 3.63301C11.3 2.27967 10.8733 1.83301 8.66667 1.83301H7.33333Z" />
    <path d="M3.77992 12.947H3.55325C1.49325 12.947 0.833252 12.287 0.833252 10.2204V5.78038C0.833252 3.71371 1.49325 3.05371 3.55325 3.05371H3.77992C3.89325 3.05371 3.98659 3.05371 4.09325 3.06038C4.23325 3.06704 4.35992 3.13371 4.44659 3.24704C4.53325 3.36038 4.57325 3.49371 4.55325 3.63371C4.51992 3.90038 4.49992 4.21371 4.49992 4.66704V11.3337C4.49992 11.787 4.51992 12.1004 4.55325 12.367C4.57325 12.507 4.53325 12.647 4.44659 12.7537C4.35992 12.8604 4.23325 12.927 4.09325 12.9404C3.98659 12.947 3.89325 12.947 3.77992 12.947ZM3.51325 4.05371C2.05325 4.06038 1.83325 4.29371 1.83325 5.78038V10.2204C1.83325 11.707 2.05325 11.9404 3.51325 11.947C3.50659 11.767 3.49992 11.567 3.49992 11.3337V4.66704C3.49992 4.43371 3.50659 4.23371 3.51325 4.05371Z" />
    <path d="M12.4467 12.947H12.22C12.1067 12.947 12.0134 12.947 11.9067 12.9404C11.7667 12.9337 11.64 12.867 11.5534 12.7537C11.4667 12.647 11.4267 12.507 11.4467 12.367C11.4867 12.1004 11.5 11.7804 11.5 11.3337V4.66704C11.5 4.22038 11.48 3.90038 11.4467 3.63371C11.4267 3.49371 11.4667 3.35371 11.5534 3.24704C11.64 3.14038 11.7667 3.07371 11.9067 3.06038C12.0134 3.05371 12.1067 3.05371 12.22 3.05371H12.4467C14.5067 3.05371 15.1667 3.71371 15.1667 5.78038V10.2204C15.1667 12.287 14.5067 12.947 12.4467 12.947ZM12.4867 4.05371C12.4934 4.23371 12.5 4.43371 12.5 4.66704V11.3337C12.5 11.567 12.4934 11.767 12.4867 11.947C13.9467 11.9404 14.1667 11.707 14.1667 10.2204V5.78038C14.1667 4.29371 13.9467 4.06038 12.4867 4.05371Z" />
  </svg>
</template>

<script>
export default {
	name: "SliderHorizontalIcon"
}
</script>

<style scoped>
path {
  fill: currentColor;
}
</style>
