<template>
	<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M11.3333 14.1668H4.66668C2.23334 14.1668 0.833344 12.7668 0.833344 10.3335V5.66683C0.833344 3.2335 2.23334 1.8335 4.66668 1.8335H9.33334C9.60668 1.8335 9.83334 2.06016 9.83334 2.3335C9.83334 2.60683 9.60668 2.8335 9.33334 2.8335H4.66668C2.76001 2.8335 1.83334 3.76016 1.83334 5.66683V10.3335C1.83334 12.2402 2.76001 13.1668 4.66668 13.1668H11.3333C13.24 13.1668 14.1667 12.2402 14.1667 10.3335V7.00016C14.1667 6.72683 14.3933 6.50016 14.6667 6.50016C14.94 6.50016 15.1667 6.72683 15.1667 7.00016V10.3335C15.1667 12.7668 13.7667 14.1668 11.3333 14.1668Z" fill="#A8A9BA"/>
		<path d="M7.99984 8.57985C7.43984 8.57985 6.87318 8.40652 6.43984 8.05319L4.35317 6.38652C4.13984 6.21319 4.09984 5.89985 4.27318 5.68652C4.44651 5.47318 4.75984 5.43319 4.97317 5.60652L7.05984 7.27319C7.56651 7.67985 8.4265 7.67985 8.93317 7.27319L9.71983 6.64652C9.93317 6.47319 10.2532 6.50652 10.4198 6.72652C10.5932 6.93985 10.5598 7.25985 10.3398 7.42652L9.55317 8.05319C9.1265 8.40652 8.55984 8.57985 7.99984 8.57985Z" fill="#A8A9BA"/>
		<path d="M13 5.83333C11.8067 5.83333 10.8333 4.86 10.8333 3.66667C10.8333 2.47333 11.8067 1.5 13 1.5C14.1933 1.5 15.1667 2.47333 15.1667 3.66667C15.1667 4.86 14.1933 5.83333 13 5.83333ZM13 2.5C12.36 2.5 11.8333 3.02667 11.8333 3.66667C11.8333 4.30667 12.36 4.83333 13 4.83333C13.64 4.83333 14.1667 4.30667 14.1667 3.66667C14.1667 3.02667 13.64 2.5 13 2.5Z" fill="#A8A9BA"/>
	</svg>
</template>

<script>
export default {
	name: "SmsNotificationIcon"
}
</script>

<style scoped>
path {
	fill: currentColor;
}
</style>
