<template>
	<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M11.3333 14.1668H4.66665C2.23331 14.1668 0.833313 12.7668 0.833313 10.3335V5.66683C0.833313 3.2335 2.23331 1.8335 4.66665 1.8335H7.99998C8.27331 1.8335 8.49998 2.06016 8.49998 2.3335C8.49998 2.60683 8.27331 2.8335 7.99998 2.8335H4.66665C2.75998 2.8335 1.83331 3.76016 1.83331 5.66683V10.3335C1.83331 12.2402 2.75998 13.1668 4.66665 13.1668H11.3333C13.24 13.1668 14.1666 12.2402 14.1666 10.3335V7.66683C14.1666 7.3935 14.3933 7.16683 14.6666 7.16683C14.94 7.16683 15.1666 7.3935 15.1666 7.66683V10.3335C15.1666 12.7668 13.7666 14.1668 11.3333 14.1668Z" fill="#A8A9BA"/>
		<path d="M7.99987 8.57985C7.43987 8.57985 6.87321 8.40652 6.43987 8.05319L4.3532 6.38652C4.13987 6.21319 4.09987 5.89985 4.27321 5.68652C4.44654 5.47318 4.75987 5.43319 4.9732 5.60652L7.05987 7.27319C7.56654 7.67985 8.42654 7.67985 8.9332 7.27319C9.14654 7.09985 9.45988 7.13318 9.63321 7.35318C9.80655 7.56652 9.7732 7.88652 9.5532 8.05319C9.12653 8.40652 8.55987 8.57985 7.99987 8.57985Z" fill="#A8A9BA"/>
		<path d="M11.1601 6.49999C10.8868 6.49999 10.7001 6.40665 10.5801 6.31999C10.3601 6.15999 10.0201 5.75999 10.2201 4.87999L10.2535 4.73999C10.2668 4.68666 10.2268 4.55999 10.1935 4.51999L9.96014 4.28665C9.56681 3.88665 9.41348 3.41999 9.54681 2.99999C9.68014 2.58666 10.0735 2.29333 10.6268 2.19999L10.8801 2.15999C10.9268 2.14666 11.0201 2.07999 11.0468 2.03333L11.2335 1.65332C11.4935 1.12665 11.8935 0.82666 12.3335 0.82666C12.7735 0.82666 13.1735 1.12665 13.4335 1.65332L13.6201 2.03333C13.6401 2.07333 13.7401 2.14666 13.7868 2.15999L14.0401 2.19999C14.5935 2.29333 14.9868 2.58666 15.1201 2.99999C15.2535 3.41332 15.1068 3.87998 14.7068 4.28665L14.4735 4.51999C14.4401 4.55999 14.4001 4.68666 14.4135 4.73999L14.4468 4.87999C14.6468 5.75999 14.3068 6.15999 14.0868 6.31999C13.8668 6.47999 13.3868 6.67333 12.6201 6.21333L12.4535 6.11332C12.4068 6.08665 12.2735 6.08665 12.2268 6.11332L12.0535 6.21333C11.6935 6.42666 11.3935 6.49999 11.1601 6.49999ZM12.3268 1.83332C12.3201 1.83999 12.2268 1.90665 12.1335 2.09999L11.9468 2.47999C11.7868 2.80666 11.4068 3.08666 11.0535 3.14666L10.8001 3.18666C10.5868 3.21999 10.5135 3.29333 10.5068 3.30666C10.5068 3.31999 10.5268 3.42665 10.6801 3.57999L10.9135 3.81332C11.1868 4.09332 11.3268 4.57332 11.2401 4.95332L11.2068 5.09332C11.1535 5.33332 11.1735 5.45999 11.1868 5.50665C11.2001 5.49332 11.3201 5.47999 11.5401 5.34666L11.7135 5.24665C12.0801 5.02665 12.6068 5.02665 12.9735 5.24665L13.1401 5.34666C13.3601 5.47999 13.4735 5.49333 13.5135 5.49333C13.5068 5.47333 13.5335 5.35332 13.4735 5.09332L13.4401 4.95332C13.3535 4.56665 13.4935 4.09332 13.7668 3.81332L14.0001 3.57999C14.1535 3.42665 14.1735 3.31999 14.1735 3.29999C14.1668 3.28665 14.0935 3.21999 13.8801 3.17999L13.6268 3.13999C13.2668 3.07999 12.8935 2.79999 12.7335 2.47333L12.5468 2.09999C12.4401 1.89999 12.3535 1.83999 12.3268 1.83332Z" fill="#A8A9BA"/>
	</svg>
</template>

<script>
export default {
	name: "SmsStarIcon"
}
</script>

<style scoped>
path {
	fill: currentColor;
}
</style>
