<template>
  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M11.7466 6.41333H8.24658C7.97325 6.41333 7.74658 6.18666 7.74658 5.91333C7.74658 5.64 7.97325 5.41333 8.24658 5.41333H11.7466C12.0199 5.41333 12.2466 5.64 12.2466 5.91333C12.2466 6.18666 12.0266 6.41333 11.7466 6.41333Z" />
    <path d="M4.74662 6.92003C4.61996 6.92003 4.49329 6.87336 4.39329 6.77336L3.89329 6.27336C3.69996 6.08003 3.69996 5.76003 3.89329 5.56669C4.08662 5.37336 4.40662 5.37336 4.59996 5.56669L4.74662 5.71336L5.89329 4.56669C6.08662 4.37336 6.40662 4.37336 6.59996 4.56669C6.79329 4.76003 6.79329 5.08003 6.59996 5.27336L5.09996 6.77336C5.00662 6.86669 4.87996 6.92003 4.74662 6.92003Z" />
    <path d="M11.7466 11.08H8.24658C7.97325 11.08 7.74658 10.8534 7.74658 10.58C7.74658 10.3067 7.97325 10.08 8.24658 10.08H11.7466C12.0199 10.08 12.2466 10.3067 12.2466 10.58C12.2466 10.8534 12.0266 11.08 11.7466 11.08Z" />
    <path d="M4.74662 11.5866C4.61996 11.5866 4.49329 11.54 4.39329 11.44L3.89329 10.94C3.69996 10.7467 3.69996 10.4267 3.89329 10.2333C4.08662 10.04 4.40662 10.04 4.59996 10.2333L4.74662 10.38L5.89329 9.23332C6.08662 9.03998 6.40662 9.03998 6.59996 9.23332C6.79329 9.42665 6.79329 9.74665 6.59996 9.93998L5.09996 11.44C5.00662 11.5333 4.87996 11.5866 4.74662 11.5866Z" />
    <path d="M9.99992 15.1666H5.99992C2.37992 15.1666 0.833252 13.62 0.833252 9.99998V5.99998C0.833252 2.37998 2.37992 0.833313 5.99992 0.833313H9.99992C13.6199 0.833313 15.1666 2.37998 15.1666 5.99998V9.99998C15.1666 13.62 13.6199 15.1666 9.99992 15.1666ZM5.99992 1.83331C2.92659 1.83331 1.83325 2.92665 1.83325 5.99998V9.99998C1.83325 13.0733 2.92659 14.1666 5.99992 14.1666H9.99992C13.0733 14.1666 14.1666 13.0733 14.1666 9.99998V5.99998C14.1666 2.92665 13.0733 1.83331 9.99992 1.83331H5.99992Z" />
  </svg>
</template>

<script>
export default {
	name: "TaskSquareIcon"
}
</script>

<style scoped>
path {
  fill: currentColor;
}
</style>
