<script>
export default {
	name: "TelegramBoldIcon"
}
</script>

<template>
	<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M0 12C0 5.37258 5.37258 0 12 0H28C34.6274 0 40 5.37258 40 12V28C40 34.6274 34.6274 40 28 40H12C5.37258 40 0 34.6274 0 28V12Z" fill="#A4ABF4"/>
		<path d="M22.761 20.0092L12.001 18.9252L12 12.0732C12.0001 11.8903 12.047 11.7103 12.1362 11.5506C12.2254 11.3908 12.3539 11.2565 12.5095 11.1603C12.6652 11.0641 12.8429 11.0093 13.0257 11.0011C13.2085 10.9929 13.3903 11.0315 13.554 11.1132L29.406 19.0392C29.5841 19.1286 29.7338 19.2656 29.8384 19.4352C29.9431 19.6047 29.9985 19.8 29.9985 19.9992C29.9985 20.1985 29.9431 20.3937 29.8384 20.5633C29.7338 20.7328 29.5841 20.8699 29.406 20.9592L13.556 28.8852C13.3923 28.967 13.2105 29.0056 13.0277 28.9974C12.8449 28.9891 12.6672 28.9343 12.5115 28.8382C12.3559 28.742 12.2274 28.6077 12.1382 28.4479C12.049 28.2881 12.0021 28.1082 12.002 27.9252V21.0732L22.761 20.0092Z" fill="white"/>
	</svg>
</template>

<style scoped>
path {
	stroke: currentColor;
}
</style>