<template>
	<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M4.35042 9.27713L1.00756 5.91505C0.806725 5.71306 0.806725 5.38556 1.00756 5.18356L1.73485 4.45206C1.93568 4.25005 2.26133 4.25005 2.46216 4.45206L4.71408 6.7169L9.53742 1.86585C9.73825 1.66386 10.0639 1.66386 10.2647 1.86585L10.992 2.59734C11.1929 2.79933 11.1929 3.12683 10.992 3.32884L5.07773 9.27715C4.87688 9.47914 4.55125 9.47914 4.35042 9.27713Z" fill="white"/>
	</svg>
</template>

<script>
export default {
	name: "TickIcon"
}
</script>

<style scoped>

</style>
