<template>
  <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.3622 0.0190338C10.1527 0.0786355 9.99931 0.271388 9.99931 0.499967L9.99931 1.05017C4.94567 1.55177 0.999919 5.8147 0.999919 11.0002C0.999919 16.5235 5.47634 20.9995 10.9993 20.9995C16.5226 20.9995 20.9986 16.5231 20.9986 11.0002C20.9986 5.47686 16.5222 1.00081 10.9993 1.00081H10.9992L10.9992 0.499969C10.9992 0.255072 10.8232 0.0512997 10.5907 0.00834096C10.7263 0.00339146 10.8625 0.000895182 10.9993 0.000895182C17.0745 0.000895182 21.9986 4.92461 21.9986 11.0002C21.9986 17.0754 17.0749 21.9995 10.9993 21.9995C4.92412 21.9995 0 17.0758 0 11.0002C0 5.13886 4.58319 0.348976 10.3622 0.0190338ZM10.3622 0.0190338C10.4057 0.00663655 10.4517 0 10.4993 0C10.5305 0 10.5611 0.00286304 10.5907 0.00834096C10.5143 0.0111293 10.4381 0.0146961 10.3622 0.0190338ZM5.93209 5.28488C5.73979 5.17131 5.48794 5.19762 5.32335 5.36333C3.8449 6.85186 2.99976 8.86002 2.99976 11.0007C2.99976 15.4193 6.58094 19.0002 10.9992 19.0002C15.4178 19.0002 18.9987 15.419 18.9987 11.0007C18.9987 8.01102 17.3446 5.31426 14.7534 3.93498C14.2148 3.64829 13.3868 3.41786 12.2539 3.23013C11.5301 3.11017 10.9992 2.48414 10.9992 1.7504L10.9992 1.00081C10.6618 1.00082 10.3282 1.01753 9.99931 1.05017L9.99931 1.7504C9.99931 2.9733 10.884 4.01668 12.0905 4.21661C13.1253 4.3881 13.8614 4.59296 14.2836 4.81766C16.5517 6.02495 17.9988 8.38426 17.9988 11.0007C17.9988 14.8668 14.8656 18.0003 10.9992 18.0003C7.13318 18.0003 3.99969 14.867 3.99969 11.0007C3.99969 9.32901 4.58768 7.75143 5.63335 6.50535C7.88061 10.0683 9.16738 11.9976 9.58451 12.4148C10.3706 13.2009 11.6417 13.2073 12.4235 12.4255C13.2053 11.6437 13.1989 10.3726 12.4128 9.58652C11.977 9.15074 9.89069 7.76579 6.01548 5.32808C5.98788 5.31072 5.96002 5.29639 5.93209 5.28488ZM5.93209 5.28488C5.96714 5.30558 6.00021 5.33093 6.03041 5.36093C6.22632 5.55551 6.2274 5.87208 6.03281 6.06799C5.89311 6.20864 5.75988 6.35457 5.63335 6.50535C5.53284 6.346 5.43042 6.18339 5.32606 6.01749C5.06021 5.59486 5.50425 5.10863 5.93209 5.28488ZM10.2913 11.7077C10.6885 12.1049 11.3264 12.1081 11.7161 11.7184C12.1058 11.3287 12.1026 10.6907 11.7054 10.2935C11.4163 10.0044 9.94276 9.00862 7.36064 7.36287C9.00638 9.945 10.0022 11.4186 10.2913 11.7077Z" fill="#171717"/>
  </svg>
</template>

<script>
export default {
  name: "Timer"
}
</script>

<style scoped>
path {
  fill: currentColor;
}
</style>
