<template>
  <svg width="12" height="14" viewBox="0 0 12 14" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0.761719 3.87305H1.64648L2.02148 12.4336C2.05078 13.1602 2.49023 13.5645 3.21094 13.5645H8.7832C9.50977 13.5645 9.94922 13.1602 9.97852 12.4336L10.3594 3.87305H11.2324C11.4727 3.87305 11.6719 3.66797 11.6719 3.42773C11.6719 3.1875 11.4727 2.98828 11.2324 2.98828H8.61914V2.0918C8.61914 1.20703 8.03906 0.662109 7.10156 0.662109H4.88086C3.94336 0.662109 3.36328 1.20703 3.36328 2.0918V2.98828H0.761719C0.527344 2.98828 0.322266 3.1875 0.322266 3.42773C0.322266 3.67383 0.527344 3.87305 0.761719 3.87305ZM4.42383 2.15039C4.42383 1.85742 4.62891 1.6582 4.94531 1.6582H7.04297C7.35938 1.6582 7.56445 1.85742 7.56445 2.15039V2.98828H4.42383V2.15039ZM4.14258 11.8887C3.93164 11.8887 3.78516 11.7539 3.7793 11.543L3.59766 5.16211C3.5918 4.95703 3.73828 4.81641 3.9668 4.81641C4.17188 4.81641 4.32422 4.95117 4.33008 5.15625L4.50586 11.543C4.51172 11.748 4.36523 11.8887 4.14258 11.8887ZM6 11.8887C5.77734 11.8887 5.61914 11.748 5.61914 11.543V5.16211C5.61914 4.95703 5.77734 4.81641 6 4.81641C6.22266 4.81641 6.375 4.95703 6.375 5.16211V11.543C6.375 11.748 6.22266 11.8887 6 11.8887ZM7.85156 11.8887C7.62891 11.8887 7.48242 11.748 7.48828 11.543L7.66406 5.16211C7.66992 4.95117 7.82227 4.81641 8.02734 4.81641C8.25 4.81641 8.40234 4.95703 8.39648 5.16211L8.21484 11.543C8.20898 11.7539 8.0625 11.8887 7.85156 11.8887Z" fill="#9EA3A4"/>
  </svg>
</template>

<script>
export default {
	name: "TrashIcon"
}
</script>

<style scoped>

</style>
