<template>
  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="8" cy="8" r="8" fill="#F5F5F5"/>
    <mask id="mask0_3110_78869" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="16" height="16">
      <circle cx="8" cy="8" r="8" fill="#C4C4C4"/>
    </mask>
    <g mask="url(#mask0_3110_78869)">
      <ellipse cx="7.99992" cy="14.0801" rx="6.08" ry="3.52" fill="#A8A9BA"/>
    </g>
    <circle cx="8.00036" cy="6.80041" r="2.88" fill="#A8A9BA"/>
  </svg>
</template>

<script>
export default {
	name: "UserCircleIcon"
}
</script>

<style scoped>
path {
  fill: currentColor;
}
</style>
