<template>
  <svg width="23" height="18" viewBox="0 0 23 18" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M17.5947 7.93186C19.1971 7.93186 20.4969 6.63295 20.4969 5.03061C20.4969 3.42828 19.1971 2.12936 17.5947 2.12936" stroke="#9D9FA2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M18.9287 11.0847C19.4072 11.1177 19.883 11.1856 20.3514 11.291C21.0022 11.4184 21.785 11.6852 22.0637 12.2691C22.2415 12.6431 22.2415 13.0785 22.0637 13.4534C21.786 14.0373 21.0022 14.3032 20.3514 14.437" stroke="#9D9FA2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M6.28986 7.93186C4.68753 7.93186 3.3877 6.63295 3.3877 5.03061C3.3877 3.42828 4.68753 2.12936 6.28986 2.12936" stroke="#9D9FA2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M4.95565 11.0847C4.47715 11.1177 4.0014 11.1856 3.53298 11.291C2.88215 11.4184 2.09931 11.6852 1.82156 12.2691C1.64281 12.6431 1.64281 13.0785 1.82156 13.4534C2.0984 14.0373 2.88215 14.3032 3.53298 14.437" stroke="#9D9FA2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.9377 11.7096C15.1845 11.7096 17.9583 12.2009 17.9583 14.1671C17.9583 16.1325 15.2028 16.6421 11.9377 16.6421C8.68991 16.6421 5.91699 16.1508 5.91699 14.1846C5.91699 12.2183 8.67249 11.7096 11.9377 11.7096Z" stroke="#9D9FA2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.9374 8.90492C9.79602 8.90492 8.0791 7.188 8.0791 5.04575C8.0791 2.90442 9.79602 1.1875 11.9374 1.1875C14.0787 1.1875 15.7956 2.90442 15.7956 5.04575C15.7956 7.188 14.0787 8.90492 11.9374 8.90492Z" stroke="#9D9FA2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
</template>

<script>
export default {
  name: "Users"
}
</script>

<style scoped>
path {
  stroke: currentColor;
}
</style>
