<template>
	<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M15 15.8333C15 13.9924 12.7614 12.5 10 12.5C7.23858 12.5 5 13.9924 5 15.8333M10 9.99998C8.15905 9.99998 6.66667 8.5076 6.66667 6.66665C6.66667 4.8257 8.15905 3.33331 10 3.33331C11.8409 3.33331 13.3333 4.8257 13.3333 6.66665C13.3333 8.5076 11.8409 9.99998 10 9.99998Z" stroke="#5562E5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
	</svg>
</template>

<script>
export default {
	name: "UserV2"
}
</script>

<style scoped>

</style>
