<template>
  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M14.0195 8.9134C15.8405 8.9134 17.3165 7.4374 17.3165 5.6164C17.3165 3.7964 15.8405 2.3194 14.0195 2.3194" stroke="#9D9FA2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M15.5361 12.4964C16.0801 12.5334 16.6201 12.6114 17.1531 12.7294C17.8921 12.8764 18.7821 13.1794 19.0981 13.8424C19.3001 14.2674 19.3001 14.7624 19.0981 15.1874C18.7831 15.8504 17.8921 16.1534 17.1531 16.3054" stroke="#9D9FA2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.591 13.2063C11.281 13.2063 14.433 13.7653 14.433 15.9983C14.433 18.2323 11.301 18.8103 7.591 18.8103C3.901 18.8103 0.75 18.2523 0.75 16.0183C0.75 13.7843 3.881 13.2063 7.591 13.2063Z" stroke="#9D9FA2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.59103 10.0188C5.15703 10.0188 3.20703 8.06779 3.20703 5.63379C3.20703 3.20079 5.15703 1.24979 7.59103 1.24979C10.025 1.24979 11.976 3.20079 11.976 5.63379C11.976 8.06779 10.025 10.0188 7.59103 10.0188Z" stroke="#9D9FA2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
</template>

<script>
export default {
  name: "User"
}
</script>

<style scoped>
path {
  stroke: currentColor;
}
</style>
