<template>
   <div class="p-0 h-100" style="padding: 0 !important">
      <div class="survey-client h-100 w-100">
         <div class="left h-100">
            <h3>{{$t('survey-client.start.survey')}}</h3>
            <div class="content w-100">
               <img src="/img/survey-client.png" />
               <h4>{{$t('survey-client.start.main-description')}}</h4>
            </div>
         </div>
         <div class="right h-100">
            <template v-if="step === 0">
               <div class="survey-client-start h-100 w-100 pa-5">
                  <h3 class="w-100" style="max-width: 540px;">{{ $t('survey-client.start.select-activity-type') }}</h3>
                  <div
                     class="link w-100"
                     @click="() => {
                        step = 1;
                        type = 'physical';
                     }">
                     <user/>
                     <div class="title">
                        <h4>{{$t('survey-client.start.ii')}}</h4>
                        <p>{{$t('survey-client.start.individual-intrepreneur')}}</p>
                     </div>
                  </div>
                  <div
                     class="link w-100"
                     @click="() => {
                        step = 1;
                        type = 'legal';
                     }">
                     <users/>
                     <div class="title">
                        <h4>{{$t('survey-client.start.llc')}}</h4>
                        <p>{{$t('survey-client.start.limited-liability-company')}}</p>
                     </div>
                  </div>
               </div>
            </template>
            <template v-else-if="step === 1">
               <div class="w-100 h-100 survey-client-search">
                  <div class="form-container h-100 w-100">
                     <div>
                        <form @submit="searchClient">
                           <div class="w-100" style="max-width: 540px;">
                              <v-btn @click="resetSurvey" depressed small icon>
                                 <back />
                              </v-btn>
                           </div>
                           <h3>{{type === 'physical' ? $t('survey-client.start.enter-jshshir') : $t('survey-client.start.enter-stir')}}</h3>
                           <label>{{$t('survey-client.start.phone-number')}}</label>
                           <div class="w-100 app-input" style="max-width: 540px;">
                              <v-text-field
                                 :disabled="disabled"
                                 background-color="var(--input-bg)"
                                 hide-details
                                 outlined
                                 style="font-size: 20px; font-weight: 500; border-radius: 10px;"
                                 v-mask="'+998 (##) ### ## ##'"
                                 v-model="phone">
                              </v-text-field>
                           </div>
                           <label>{{type === 'physical' ? $t('survey-client.start.jshshir-number') : $t('survey-client.start.stir-number')}}</label>
                           <div class="w-100 app-input" style="max-width: 540px;">
                              <template v-if="type === 'physical'">
                                 <v-text-field
                                    :disabled="disabled"
                                    v-mask="'##############'"
                                    background-color="var(--input-bg)"
                                    hide-details
                                    outlined
                                    style="font-size: 20px; font-weight: 500; border-radius: 10px;"
                                    v-model="jshshir">
                                    <template #append>
                                       <v-btn
                                          :loading="searchLoading"
                                          color="primary"
                                          depressed
                                          style="font-size: 17px; border-radius: 10px"
                                          text
                                          type="submit"
                                          x-large>
                                          {{$t('survey-client.start.send')}}
                                       </v-btn>
                                    </template>
                                 </v-text-field>
                              </template>
                              <template v-else>
                                 <v-text-field
                                    :disabled="disabled"
                                    background-color="var(--input-bg)"
                                    hide-details
                                    v-mask="'#########'"
                                    outlined
                                    style="font-size: 20px; font-weight: 500; border-radius: 10px;"
                                    v-model="stir">
                                    <template #append>
                                       <v-btn
                                          :loading="searchLoading"
                                          color="primary"
                                          depressed
                                          style="font-size: 17px; border-radius: 10px"
                                          text
                                          type="submit"
                                          x-large>
                                          {{$t('survey-client.start.send')}}
                                       </v-btn>
                                    </template>
                                 </v-text-field>
                              </template>
                           </div>
                        </form>
                        <template v-if="clientInfo">
                           <user-info :type="type" :clientInfo="clientInfo" />
                           <div class="w-100 d-flex align-center" style="margin: 32px 0 0 0; flex-direction: column;">
                              <template v-if="againLoading">
                                 <div class="d-flex justify-center align-center w-100" style="height: 51px; max-width: 540px; margin: 32px 0 0 0;">
                                    <app-loader :size="40" />
                                 </div>
                              </template>
                              <template v-else>
                                 <template v-if="again">
                                    <v-btn small depressed outlined color="primary" @click="sendCode">Qayta yuborish</v-btn>
                                 </template>
                                 <template v-else>
                                    <h3>
                                       <vue-countdown :interval="1000" @end="() => { again = true; disabled = false }" :time="2 * 60 * 1000" v-slot="{ minutes, seconds }">
                                          {{ minutes }} : {{ seconds.toString().padStart(2, '0') }}
                                       </vue-countdown>
                                    </h3>
                                 </template>
                              </template>
                              <label style="max-width: 540px" class="w-100">{{$t('survey-client.start.code')}}</label>
                              <v-text-field
                                 background-color="var(--input-bg)"
                                 hide-details
                                 class="w-100"
                                 outlined
                                 v-mask="'######'"
                                 style="font-size: 20px; font-weight: 500; border-radius: 10px; max-width: 540px; margin: 20px 0 0 0;"
                                 v-model="code"/>
                           </div>
                           <div class="w-100 d-flex justify-center pb-6">
                              <div class="w-100" style="max-width: 540px; margin: 32px 0 0 0;">
                                 <label>{{$t('survey-client.start.survey')}}</label>
                                 <div class="app-input my-3">
                                    <v-select
                                       :items="surveys"
                                       :placeholder="$t('survey-client.start.select-survey')"
                                       append-icon="mdi-chevron-down"
                                       background-color="var(--input-bg)"
                                       hide-details
                                       item-text="title"
                                       item-value="id"
                                       outlined
                                       return-object
                                       style="font-size: 17px; font-weight: 500; border-radius: 10px;"
                                       v-model="survey"
                                    >
                                    </v-select>
                                 </div>
                              </div>
                           </div>
                           <div class="w-100 d-flex justify-center pb-6">
                              <template v-if="confirmPhoneLoading">
                                 <div class="d-flex justify-center align-center w-100" style="height: 51px; max-width: 540px; margin: 32px 0 0 0;">
                                    <app-loader :size="40" />
                                 </div>
                              </template>
                              <template v-else>
                                 <v-btn
                                    @click="confirmPhone"
                                    class="w-100 client-check-button"
                                    color="primary"
                                    depressed
                                    large>{{$t('survey-client.start.confirm')}}</v-btn>
                              </template>
                           </div>
                        </template>
                     </div>
                  </div>
               </div>
            </template>
            <template v-else-if="step === 2">
               <div class="questions-container h-100 w-100">
                  <div class="question-container h-100 w-100 d-flex align-center flex-column pa-10" style="overflow-y: scroll; overflow-x: hidden;">
                     <div style="max-width: 540px;" class="w-100">
                        <h3 style="font-size: 24px; font-weight: 600; line-height: 150%; margin: 0;"><span>{{ index + 1 }}. </span><span> {{question.title}}</span></h3>
                        <template v-if="question.input_type === 'radio'">
                           <div class="w-100 py-4">
                              <v-radio-group class="w-100" hide-details @change="onChange">
                                 <v-radio class="w-100 py-2" v-for="(option, index) in question.options" :key="index" :value="option.name">
                                    <template v-slot:label>
                                       <span class="font-500 text-dark">{{ option.name }}</span>
                                    </template>
                                 </v-radio>
                              </v-radio-group>
                           </div>
                        </template>
                        <template v-if="question.input_type === 'checkbox'">
                           <div class="w-100 py-4">
                              <v-checkbox
                                 :key="index"
                                 :value="option.name"
                                 @change="value => onChange(value, index)"
                                 class="w-100 py-2"
                                 hide-details
                                 v-for="(option, index) in question.options"
                                 >
                                 <template #label>
                                    <span class="font-500 text-dark">{{ option.name }}</span>
                                 </template>
                              </v-checkbox>
                           </div>
                        </template>
                        <template v-if="question.input_type === 'select'">
                           <div class="w-100 py-4">
                              <v-select
                                 :items="question.options"
                                 :placeholder="$t('survey.select')"
                                 @change="onChange"
                                 background-color="var(--input-bg)"
                                 hide-details
                                 item-text="name"
                                 item-value="name"
                                 outlined
                              ></v-select>
                           </div>
                        </template>
                        <template v-if="question.input_type === 'text'">
                           <v-radio-group hide-details @change="onChange">
                              <div class="py-4 w-100">
                                 <div class="w-100 py-2" v-for="(option, index) in question.options" :key="index">
                                    <v-radio :value="option.name" :disabled="option.is_other">
                                       <template v-slot:label>
                                          <span class="font-500 text-dark">{{ option.name }}</span>
                                       </template>
                                    </v-radio>
                                    <template v-if="option.is_other">
                                       <v-textarea
                                          :placeholder="$t('survey.enter-option')"
                                          @input="onChange"
                                          background-color="var(--input-bg)"
                                          class="mt-5"
                                          hide-details
                                          no-resize
                                          outlined
                                       ></v-textarea>
                                    </template>
                                 </div>
                              </div>
                           </v-radio-group>
                        </template>
                        <v-btn
                           @click="nextAnswer"
                           class="w-100"
                           color="primary"
                           depressed
                           large
                           style="border-radius: 10px; font-size: 17px; font-weight: 600; margin: 24px 0 0 0;"
                           >{{index === questions.length - 1 ? $t('survey-client.start.finish') : $t('survey-client.start.continue')}}</v-btn>
                     </div>
                  </div>
               </div>
            </template>
            <template v-else-if="step === 3">
               <div class="survey-client-responses h-100 w-100 py-10" style="overflow-y: scroll;">
                  <div class="px-4">
                     <div id="client-survey-result">
                        <div style="font-family: 'Inter', sans-serif; padding: 24px; width: 100%;">
                           <h4 style="font-size: 20px; font-weight: 700; margin: 0;">{{ $t('survey-client.start.client-answers') }}</h4>
                           <client-info :type="type" :clientInfo="clientInfo" :survey="survey" />
                           <div v-for="(question, index) in questions.slice(0, index + 1)" :key="index" style="width: 100%; margin-top: 12px;">
                              <h3 style="font-size: 24px; font-weight: 600; line-height: 150%; margin: 0;"><span>{{ index + 1 }}. </span><span> {{question.title}}</span></h3>
                              <template v-if="question.input_type === 'radio'">
                                 <radio :question="question" :userAnswer="results.survey_results[index].user_answers[0]" />
                              </template>
                              <template v-if="question.input_type === 'checkbox'">
                                 <checkbox v-for="(option, answerIndex) in question.options" :key="answerIndex" :option="option" :userAnswers="results.survey_results[index].user_answers" />
                              </template>
                              <template v-if="question.input_type === 'select'">
                                 <radio :question="question" :userAnswer="results.survey_results[index].user_answers[0]" />
                              </template>
                              <template v-if="question.input_type === 'text'">
                                 <input-value :question="question" :userAnswer="results.survey_results[index].user_answers[0]" />
                              </template>
                           </div>
                           <div
                              style="border-radius: 12px; margin-top: 24px; padding: 24px;"
                              :style="{ 'border': stopFactor ? '1px solid red' : '1px solid #C2C7F3', 'background-color': stopFactor ? 'rgba(255, 0, 0, 0.1)' : '#F4F5FF' }"
                              >
                              <div style="height: 48px; width: 48px; display: inline-block; vertical-align: top;">
                                 <info :color="stopFactor ? 'red' : '#5964D1'" />
                              </div>
                              <p style="margin: 0 0 0 24px; display: inline-block; width: calc(100% - 72px);">{{$t('survey-client.start.info')}}.</p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <template v-if="!stopFactor">
                     <div class="px-10">
                        <v-radio-group v-model="clientAnswer">
                           <v-radio class="mt-3" :value="1">
                              <template slot="label">
                                 <h4 style="font-size: 17px; font-weight: 500;">{{$t('survey-client.start.success-option')}}</h4>
                              </template>
                           </v-radio>
                           <v-radio class="mt-3" :value="2">
                              <template slot="label">
                                 <h4 style="font-size: 17px; font-weight: 500;">{{$t('survey-client.start.waiting-option')}}</h4>
                              </template>
                           </v-radio>
                           <v-radio class="mt-3" :value="3">
                              <template slot="label">
                                 <h4 style="font-size: 17px; font-weight: 500;">{{$t('survey-client.start.rejected-option')}}</h4>
                              </template>
                           </v-radio>
                        </v-radio-group>
                        <template v-if="clientAnswer === 3">
                           <textarea
                              :placeholder="$t('control-tasks.tasks.write-comment')"
                              class="py-3 pl-5 pr-3 w-100"
                              hide-details
                              outlined
                              style="background-color: #f7f9fe; border-radius: 10px; border: 1px solid #5964d1 !important; height: 120px; resize: none;"
                              v-model="comment"
                              />
                        </template>
                     </div>
                  </template>
                  <div class="px-10">
                     <template v-if="completeSurveyLoading">
                        <div class="d-flex justify-center align-center w-100" style="height: 51px; margin: 24px 0 0 0;">
                           <app-loader :size="40" />
                        </div>
                     </template>
                     <template v-else>
                        <v-btn @click="completeSurvey" depressed color="primary" large class="w-100" style="border-radius: 10px; margin: 24px 0 0 0; font-size: 17px;">{{$t('survey-client.start.complete-survey')}}</v-btn>
                     </template>
                     <v-btn @click="downloadQuiz" depressed color="primary" large class="w-100" outlined style="border-radius: 10px; margin: 24px 0 0 0; font-size: 17px;">{{$t('survey-client.start.download-survey')}}</v-btn>
                  </div>
               </div>
            </template>
         </div>
      </div>
   </div>
</template>
<script>
import AppLoader from "@/common/components/base/AppLoader";
import VueCountdown from '@chenfengyuan/vue-countdown';
import html2pdf from "html2pdf.js/src";
import Back from './components/Back'
import Error from './components/Error';
import Info  from './components/Info';
import User from './components/User';
import Users from './components/Users';
import { XIcon } from "vue-feather-icons"
import { mapGetters } from "vuex";
import UserInfo from "./components/UserInfo";
import ClientInfo from './components/ClientInfo';
import InputValue from './components/InputValue';
import Radio from "./components/Radio";
import Checkbox from './components/Checkbox';
export default {
   name: 'SurveyClient',
   components: {
      AppLoader,
      Back,
      Checkbox,
      ClientInfo,
      Error,
      Info,
      InputValue,
      Radio,
      User,
      UserInfo,
      Users,
      VueCountdown,
      XIcon,
   },
   data() {
      return {
         surveys: [],

         step: 0,
         type: 'physical',

         again: false,
         againLoading: false,
         clientInfo: null,
         code: '',
         confirmPhoneLoading: false,
         disabled: false,
         jshshir: '',
         phone: '',
         searchLoading: false,
         stir: '', // 308628041
         survey: null,

         index: 0,
         question: {},
         questions: [],
         results: { survey_results: [] },
         stopFactor: false,

         clientAnswer: null,
         comment: '',
         completeSurveyLoading: false,
      };
   },
   computed: {
      ...mapGetters({
         currentUser: "auth/getCurrentUser",
      }),
   },
   mounted() {
      const permission = ['admin', 'operator', 'operator_admin'].includes(this.currentUser?.role);
      if(permission) {
         this.getSurveys();
      } else {
         this.$router.push({ path: "/dashboard/home" });
      }
   },
   methods: {
      getSurveys () {
         this.$axios
            .get('/survey/?type=customer')
            .then(response => {
               const results = response?.data?.results;
               const surveys = Array.isArray(results) ? results : [];
               this.surveys = surveys;
            });
      },
      searchClient(e) {
         e.preventDefault();
         const phone = this.phone.replace(/ /g, '').replace('(', '').replace(')', '').replace('+', '');
         const isLegal = this.type === 'legal';
         const length = isLegal ? this.stir.length === 9 : this.jshshir.length === 14;
         if(length && phone.length === 12) {
            this.disabled = true;
            this.searchLoading = true;
            const data = isLegal ? { type: 'legal', phone, tin: this.stir } : { type: 'physical', phone, pinfl: this.jshshir };
            const errorMessage = isLegal ? this.$t('survey-client.start.llc-not-found') : this.$t('survey-client.start.ii-not-found');
            this.$axios
               .post(`/quiz/${this.currentUser?.filial}/get-customer/`, data)
               .then(response => {
                  const status = response?.status;
                  const data = response?.data;
                  if([200, 201].includes(status)) {
                     this.clientInfo = data;
                  } else {
                     this.$toast.error(errorMessage);
                     this.clientInfo = null;
                  }
               })
               .catch(() => {
                  this.$toast.error(errorMessage);
                  this.clientInfo = null;
               })
               .finally(() => {
                  setTimeout(() => {
                     this.searchLoading = false;
                     this.sendCode();
                  }, 3000)
               });
         } else if(phone.length !== 12) {
            this.$toast.error(this.$t('survey-client.start.enter-phone-number'));
         } else {
            if(isLegal) {
               this.$toast.error(this.$t('survey-client.start.stir-invalid'));
            } else {
               this.$toast.error(this.$t('survey-client.start.jshshir-invalid'));
            }
         }
      },
      sendCode() {
         this.againLoading = true;
         this.again = false;
         const phone = this.phone.replace(')', '').replace('(', '').replace(/ /g, '').replace('+', '');
         this.$axios
            .post(`/quiz/${this.currentUser?.filial}/applicant-send-code/`, { phone })
            .then((response) => {
               if(response?.status === 200) {
                  this.disabled = true;
               } else {
                  this.$toast.error(this.$t('survey-client.start.error-an-occured'));
                  this.disabled = false;
               }
            })
            .catch(() => {
               this.disabled = false;
               this.$toast.error(this.$t('survey-client.start.error-an-occured'));
            })
            .finally(() => {
               this.againLoading = false;
            })
      },
      confirmPhone() {
         if(this.code?.length === 6 && this.survey) {
            this.confirmPhoneLoading = true;
            const phone = this.phone.replace(')', '').replace('(', '').replace(/ /g, '').replace('+', '')
            this.$axios
               .post(`/quiz/${this.currentUser?.filial}/applicant-verify–phone/${phone}/${this.code}/`)
               .then(response => {
                  if(response?.data?.status_code === '200') {
                     this.$axios
                        .get(`/survey/${this.survey?.id}/`)
                        .then(response => {
                           const status = response?.status;
                           const survey_questions = response?.data?.survey_questions;
                           const id = response?.data?.id;
                           const survey_results = response?.data?.survey_questions.map(question => ({ question: question?.id, user_answers: [], input_type: question?.input_type }));
                           const results = { id, survey_results };
                           this.results = results;
                           const questions = (Array.isArray(survey_questions) ? survey_questions : []).map(question => ({ ...question, user_answers: [], values: [] }));
                           const question = questions[0] || {};
                           if(status === 200) {
                              this.index = 0;
                              this.question = question;
                              this.questions = questions;
                              this.step = 2;
                           } else {
                              this.$toast.error(this.$t('survey-client.start.error-an-occured'));
                           }
                        })
                        .catch(() => {
                           this.$toast.error(this.$t('survey-client.start.error-an-occured'));
                        })
                        .finally(() => {
                           this.confirmPhoneLoading = false;
                        })
                  } else {
                     this.confirmPhoneLoading = false;
                     this.$toast.error(this.$t('survey-client.start.code-incorrect'));
                  }
               })
               .catch(() => {
                  this.confirmPhoneLoading = false;
                  this.$toast.error(this.$t('survey-client.start.error-an-occured'));
               });
         } else if(this.code.length !== 6) {
            this.$toast.error(this.$t('survey-client.start.code-invalid'));
         } else {
            this.$toast.error(this.$t('survey-client.start.select-survey'));
         }
      },
      onChange(value) {
         const survey_results = this.results?.survey_results.map((question, index) => {
            if(index === this.index) {
               const isMultiple = this.question?.input_type === 'checkbox';
               const answers = value ? [...question.user_answers, { name: value }] : question.user_answers.filter(answer => value !== answer?.name);
               const user_answers = isMultiple ? answers : [{ name: value }];
               return { ...question, user_answers };
            } else {
               return question;
            };
         });
         this.results = {...this.results, survey_results};
      },
      nextAnswer() {
         const isChecked = this.results?.survey_results[this.index]?.user_answers?.length;
         if(isChecked) {
            const currentAnswer = this.results.survey_results[this.index]?.user_answers.map(answer => answer?.name);
            const isStopFactor = this.question?.options.filter(option => currentAnswer.includes(option?.name)).some(option => option?.is_stop_factor);
            const isLast = this.questions?.length - 1 === this.index;
            if(isStopFactor || isLast) {
               if(isStopFactor) {
                  this.stopFactor = true;
               }
               this.step = 3;
            } else {
               const index = this.index + 1;
               this.index = index;
               this.question = this.questions[index];
            }
         } else {
            this.$toast.error(this.$t('survey-client.start.select-answer'));
         }
      },
      completeSurvey() {
         if(this.stopFactor) {
            this.sendAnswer();
         } else {
            if(this.clientAnswer) {
               if(this.clientAnswer === 3) {
                  if(this.comment?.length > 9) {
                     this.sendAnswer();
                  } else {
                     this.$toast.error(this.$t('survey-client.start.comment-invalid'));
                  }
               } else {
                  this.sendAnswer();
               }
            } else {
               this.$toast.error(this.$t('survey-client.start.enter-client-answer'));
            }
         }
      },
      sendAnswer() {
         this.completeSurveyLoading = true;
         const applicant = this.clientInfo?.id;
         const comment = this.comment;
         const id = this.results?.id;
         const status = this.stopFactor ? 'rejected' : 'completed';
         const survey = this.survey?.id;
         const survey_results = this.results.survey_results.slice(0, this.index + 1);
         const data = { id, survey_results, applicant, comment, status, survey };
         this.$axios
            .post(`/survey/${this.currentUser?.filial}/submission/`, data)
            .then(response => {
               const isSuccess = [200, 201].includes(response?.status);
               if(isSuccess) {
                  this.resetSurvey();
                  this.$toast.success(this.$t('survey-client.start.survey-ended'));
               } else {
                  this.$toast.error(this.$t('survey-client.start.error-an-occured'));
               }
            })
            .catch(() => {
               this.$toast.error(this.$t('survey-client.start.error-an-occured'));
            })
            .finally(() => {
               this.completeSurveyLoading = false;
            });
      },
      downloadQuiz() {
         const element = document.getElementById('client-survey-result');
         const date = new Date().toISOString().replace(/T/, "-").replace(/:/, "-").slice(0, 16)
         const options = {
            filename: `${this.$t('survey-client.start.survey')}-${date}.pdf`,
            html2canvas: { scale: 1, letterRendering: true },
            image: { type: 'jpeg', quality: 1 },
            jsPDF: { unit: 'mm', format: 'a4', orientation: 'l' },
            margin: [ 7, 7, 7, 7 ],
            pagebreak: { mode: 'avoid-all' },
         };
         html2pdf().set(options).from(element).save();
      },
      resetSurvey() {
         this.step = 0;
         this.type = 'physical';

         this.again = false;
         this.againLoading = false;
         this.clientInfo = null;
         this.code = '';
         this.confirmPhoneLoading = false;
         this.disabled = false;
         this.jshshir = '',
         this.phone = '',
         this.searchLoading = false;
         this.stir = '';
         this.survey = null;

         this.index = 0;
         this.question = {},
         this.questions = [];
         this.stopFactor = false;

         this.clientAnswer = null;
         this.comment = '';
         this.completeSurveyLoading = false;
      },
   }
};
</script>
<style>
   .survey-client {
      display: flex;
      flex-direction: row;
   }
   .survey-client .left {
      background-color: #F7F9FE;
      padding: 20px;
      width: 45%;
   }
   .survey-client .left h3 {
      font-size: 18px;
      font-weight: 700;
      margin: 0;
   }
   .survey-client .left .content {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: calc(100% - 24px);
      justify-content: center;
   }
   .survey-client .left .content img {
      max-width: 400px;
   }
   .survey-client .left .content h4 {
      font-size: 20px;
      font-weight: 600;
      line-height: 150%;
      margin: 32px 0 0 0;
      max-width: 464px;
      text-align: center;
   }
   .survey-client .left .content p {
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;
      margin: 20px 0 0 0;
      max-width: 464px;
      text-align: center;
   }
   .survey-client .right {
      background-color: #ffffff;
      width: 55%;
   }
   .survey-client .right .v-radio--is-disabled.v-item--active .v-icon {
      color: #5964D1 !important;
   }
   .survey-client .right .theme--light.v-input--is-label-active {
      color: #5964D1 !important;
   }

   /* survey-client-start */

   .survey-client .survey-client-start {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
   }
   .survey-client .survey-client-start h3 {
      font-size: 28px;
      font-weight: 600;
      line-height: 150%;
      text-align: center;
   }
   .survey-client .survey-client-start .link {
      background-color: transparent;
      border-radius: 16px;
      border: 1.5px solid #E2E2E2;
      cursor: pointer;
      display: flex;
      margin: 32px 0 0 0;
      max-width: 540px;
      padding: 32px;
   }
   .survey-client .survey-client-start .link:hover {
      border: 1.5px solid #5964D1;
   }
   .survey-client .survey-client-start .link .title {
      margin: 0 0 0 20px;
   }
   .survey-client .survey-client-start .link .title h4 {
      font-size: 20px;
      font-weight: 700;
      margin: 0;
   }
   .survey-client .survey-client-start .link .title p {
      color: #444;
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;
      margin: 8px 0 0 0;
   }

   /* survey-client-search */

   .survey-client .survey-client-search {
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
   }
   .survey-client .survey-client-search::-webkit-scrollbar {
      height: 7px;
      width: 7px;
   }
   .survey-client .survey-client-search::-webkit-scrollbar-track {
      border-radius: 4px;
      box-shadow: none;
   }
   .survey-client .survey-client-search::-webkit-scrollbar-thumb {
      background-color: #5964d1;
      border-radius: 4px;
   }
   .survey-client .survey-client-search::-webkit-scrollbar-thumb:hover {
      background-color: #5964d1;
   }
   .survey-client .survey-client-search .form-container {
      padding: 40px 0;
   }
   .survey-client .survey-client-search form {
      align-items: center;
      display: flex;
      flex-direction: column;
   }
   .survey-client .survey-client-search form h3 {
      font-size: 24px;
      font-weight: 700;
      margin: 32px 0 0 0;
      max-width: 540px;
   }
   .survey-client .survey-client-search form label {
      color: #000;
      font-size: 16px;
      font-weight: 500;
      line-height: 150%;
      margin: 32px 0 8px 0;
      max-width: 540px;
      width: 100%;
   }
   .survey-client .survey-client-search form .app-input .v-input__append-inner {
      height: 100%;
      margin: 2px -9px 0 0;
      padding: 0 !important;
   }
   .survey-client .survey-client-search form .app-input .v-input__append-inner .v-progress-circular {
      height: 32px !important;
      width: 32px !important;
   }
   .survey-client .survey-client-search .client-info {
      background-color: #F7F9FE;
      border-radius: 16px;
      border: 1px solid #E5E6EF;
      margin: 24px 0 0 0;
      max-width: 540px;
      padding: 24px;
      width: 100%;
   }
   .survey-client .survey-client-search .client-info ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
   }
   .survey-client .survey-client-search .client-info ul li {
      display: flex;
      justify-content: space-between;
      margin: 0 0 24px 0;
   }
   .survey-client .survey-client-search .client-info ul li:last-child {
      margin: 0;
   }
   .survey-client .survey-client-search .client-info ul li span:first-child {
      color: #7E7E7E;
      font-size: 16px;
      font-weight: 500;
   }
   .survey-client .survey-client-search .client-info ul li span:last-child {
      font-size: 16px;
      font-weight: 600;
   }
   .survey-client .survey-client-search .client-check-button {
      border-radius: 10px;
      font-size: 17px;
      font-weight: 600;
      margin: 20px 0 0 0;
      max-width: 540px;
   }
   /* survey-client-responses */
   .survey-client .survey-client-responses::-webkit-scrollbar {
      height: 7px;
      width: 7px;
   }
   .survey-client .survey-client-responses::-webkit-scrollbar-track {
      border-radius: 4px;
      box-shadow: none;
   }
   .survey-client .survey-client-responses::-webkit-scrollbar-thumb {
      background-color: #5964d1;
      border-radius: 4px;
   }
   .survey-client .survey-client-responses::-webkit-scrollbar-thumb:hover {
      background-color: #5964d1;
   }
   .survey-client .survey-client-responses ul li:last-child {
      margin: 0;
   }
   .survey-client .survey-client-responses ul li span:first-child {
      color: #7E7E7E;
      font-size: 16px;
      font-weight: 500;
   }
   .survey-client .survey-client-responses ul li span:last-child {
      font-size: 16px;
      font-weight: 600;
   }
   .survey-client .survey-client-responses .info-message {
      background-color: #F4F5FF;
      border-radius: 12px;
      border: 1px solid #C2C7F3;
   }

   /* survey-client-answer */

   .survey-client .survey-client-answer {
      align-items: center;
      flex-direction: column;
      overflow-y: auto;
   }
   .survey-client .survey-client-answer .client-answer-text {
      background-color: #f7f9fe;
      border-radius: 10px;
      border: 1px solid #5964d1 !important;
      height: 120px;
      resize: none;
   }
   .survey-client .survey-client-answer .client-answer-inner {
      align-items: center;
      flex-direction: column;
      max-width: 540px;
   }
   .survey-client .survey-client-answer::-webkit-scrollbar {
      height: 7px;
      width: 7px;
   }
   .survey-client .survey-client-answer::-webkit-scrollbar-track {
      border-radius: 4px;
      box-shadow: none;
   }
   .survey-client .survey-client-answer::-webkit-scrollbar-thumb {
      background-color: #5964d1;
      border-radius: 4px;
   }
   .survey-client .survey-client-answer::-webkit-scrollbar-thumb:hover {
      background-color: #5964d1;
   }
   @media screen and (max-width: 1200px) {
      .survey-client .right {
         width: 100%;
      }
      .survey-client .left {
         display: none;
      }
   }
</style>
