<template>
   <div class="survey-list-view d-flex flex-column h-100">
      <app-wrapper>
         <template #body>
            <div class="d-flex align-center ma-n5 py-3 px-4">
               <h3 class="line-base mr-4">{{$t('hr.survey.surveys')}}</h3>
               <v-spacer />
               <app-button @click="() => { addSurveyModal = true }" height="40">
                  <template #prepend>
                     <plus-icon size="20" />
                  </template>
                  <template #default>
                     {{$t('hr.survey.create-survey')}}
                  </template>
               </app-button>
            </div>
         </template>
      </app-wrapper>
      <div class="d-flex mt-5 overflow-hidden w-100 h-100">
         <div class="d-flex flex-column p-relative w-100">
            <app-loader v-if="loading" class="rounded-20" full-width :size="58" />
            <template v-else>
               <div class="d-flex flex-column h-100 bg-4 rounded-20 pa-1 overflow-hidden">
                  <perfect-scrollbar class="d-flex flex-column flex-1 h-100">
                     <app-table :table-width="1000">
                        <template #tableHeader>
                           <th width="60">№</th>
                           <th>{{$t('hr.survey.name')}}</th>
                           <th width="200">{{$t('hr.survey.created-date')}}</th>
                           <th width="150">{{$t('hr.survey.action')}}</th>
                        </template>
                        <template #tableBody>
                           <template v-if="list.length">
                              <tr v-for="(item, index) in list" :key="index">
                                 <td>
                                    <span class="font-600">{{ index + 1 }}.</span>
                                 </td>
                                 <td>
                                    <span class="font-600">{{ item.title }}</span>
                                 </td>
                                 <td>
                                    <span class="font-600">{{ item.created_date | filterCalendarToTime }}</span>
                                 </td>
                                 <td>
                                    <div class="d-flex align-center">
                                       <app-tooltip top>
                                          <template #content>
                                             <v-switch
                                                @change="updateSurvey(item)"
                                                class="mt-0"
                                                hide-details
                                                inset
                                                v-model="item.is_active"
                                             ></v-switch>
                                          </template>
                                          <template #text>
                                             <span v-if="item.is_active">{{$t('hr.survey.in-activation')}}</span>
                                             <span v-else>{{$t('hr.survey.activation')}}</span>
                                          </template>
                                       </app-tooltip>
                                       <app-tooltip top>
                                          <template #content>
                                             <v-btn
                                                :to="`/survey-client/list/${item.id}`"
                                                class="mr-1"
                                                color="primary"
                                                icon
                                                small
                                             >
                                                <edit3-icon size="20" />
                                             </v-btn>
                                          </template>
                                          <template #text>
                                             {{$t('hr.survey.change')}}
                                          </template>
                                       </app-tooltip>
                                       <template v-if="['admin'].includes(currentUser.role)">
                                          <app-tooltip top>
                                             <template #content>
                                                <v-btn
                                                   @click="deleteSurvey(item.id)"
                                                   class="mr-1"
                                                   color="error"
                                                   icon
                                                   small
                                                >
                                                   <trash2-icon size="20" />
                                                </v-btn>
                                             </template>
                                             <template #text>
                                                {{$t('hr.survey.delete')}}
                                             </template>
                                          </app-tooltip>
                                       </template>
                                    </div>
                                 </td>
                              </tr>
                           </template>
                           <template v-else>
                              <tr>
                                 <td :colspan="3">
                                    <p class="heading-9 font-500 mb-0 text-center py-4">
                                       {{$t('hr.survey.not-found')}}
                                    </p>
                                 </td>
                              </tr>
                           </template>
                        </template>
                     </app-table>
                  </perfect-scrollbar>
               </div>
            </template>
         </div>
      </div>
      <div class="d-flex pt-2" style="justify-content: flex-end;">
         <v-pagination
            :length="count === 0 ? 1 : Math.ceil(count / 10)"
            :total-visible="5"
            @input="paginate"
            v-model="page"
         />
      </div>
      <v-dialog
         persistent
         content-class="add-user-modal"
         max-width="640"
         v-model="addSurveyModal"
         >
         <div class="pa-5 bg-white rounded-20 p-relative">
            <div class="d-flex pb-5 justify-space-between align-center">
               <h3 class="my-0 font-500 heading-10">
                  {{$t('hr.survey.create-survey')}}
               </h3>
            </div>
            <div>
               <div class="app-input mt-3">
                  <v-text-field
                     v-model="title"
                     :placeholder="$t('hr.survey.poll-name') + ' ...'"
                     outlined
                     clearable
                     hide-details
                     background-color="var(--input-bg)"
                     ></v-text-field>
               </div>
               <div class="d-flex pt-5" style="justify-content: flex-end">
                  <v-btn
                     @click="() => {
                        addSurveyModal = false;
                        title = '';
                     }"
                     color="error"
                     depressed
                     small
                     :disabled="loading"
                     style="margin: 0 15px 0 0"
                     >{{ $t("control-tasks.create-task.cancel") }}
                  </v-btn>
                  <div v-if="saveLoading" class="d-inline-block">
                     <app-loader :size="36" />
                  </div>
                  <v-btn v-else @click="saveSurvey" color="primary" depressed small>{{$t("control-tasks.create-task.save")}}</v-btn>
               </div>
            </div>
         </div>
      </v-dialog>
   </div>
</template>
<script>
import { Edit3Icon, EyeIcon, PlusIcon, Trash2Icon } from "vue-feather-icons"
import { mapGetters } from "vuex"
export default {
   name: "SurveyClientList",
   data() {
      return {
         addSurveyModal: false,
         count: 1,
         list: [],
         loading: false,
         page: 1,
         saveLoading: false,
         title: "",
      }
   },
   components: {
      PlusIcon,
      Edit3Icon,
      EyeIcon,
      Trash2Icon
   },
   computed: {
      ...mapGetters({
         currentUser: "auth/getCurrentUser"
      })
   },
   mounted() {
      const permission = ['admin', 'operator_admin'].includes(this.currentUser?.role);
      if(permission) {
         this.getList({ page: 1, type: 'customer' });
      } else {
         this.$router.push({ path: "/dashboard/home" });
      }
   },
   methods: {
      getList(params) {
         this.loading = true;
         this.page = params?.page || 1;
         this.$axios
            .get('/survey/', { params })
            .then(response => {
               this.list = response?.data?.results
               this.count = response?.data?.count;
            })
            .catch(() => {
               this.list = [];
               this.count = 1;
            })
            .finally(() => {
               this.loading = false;
            })
      },
      saveSurvey() {
         if(this.title) {
            this.saveLoading = true;
            this.$axios
               .post('/survey/', { title: this.title, type: 'customer', survey_questions: [] })
               .then(response => {
                  if(response?.status === 201) {
                     this.$toast.success("So'rovnoma yaratildi");
                     this.addSurveyModal = false;
                     this.title = '';
                  } else {
                     this.$t("control-tasks.create-task.an-error-occurred");
                  }
               })
               .catch(() => {
                  this.$t("control-tasks.create-task.an-error-occurred");
               })
               .finally(() => {
                  this.getList({ page: 1, type: 'customer' });
                  this.saveLoading = false;
               })
         } else {
            this.$toast.error("So'rovnoma nomini kiriting");
         }
      },
      updateSurvey(item) {
         this.$axios
            .put(`/survey/${item.id}/`, {
               title: item.title,
               is_active: item.is_active
            })
            .then(() => {
               this.$toast.success(this.$t('hr.survey.updated'));
            })
            .catch(() => {})
            .finally(() => {
               this.getList({ page: 1, type: 'customer' });
            });
      },
      deleteSurvey(id) {
         if(confirm(this.$t('hr.survey.confirm-delete'))) {
            this.$axios
               .delete(`/survey/${id}/`)
               .then(() => {
                  this.$toast.success(this.$t('hr.survey.deleted'));
               })
               .catch(() => {})
               .finally(() => {
                  this.getList({ page: 1, type: 'customer' });
               });
         }
      },
      paginate(page) {
         this.getList({ page, type: 'customer' });
      }
   }
}
</script>
