<template>
   <div style="min-height: 100%;">
      <template v-if="loading">
         <app-loader content-width :size="58" />
      </template>
      <template v-else>
         <div class="pb-5 px-3 survey-client-view">
            <template v-if="status">
               <div class="pa-5 shadow-6 rounded-20 bg-white">
                  <div id="client-survey-result">
                     <div style="font-family: 'Inter', sans-serif; padding: 24px; width: 100%;">
                        <h4 style="font-size: 20px; font-weight: 700; margin: 0;">{{ $t('survey-client.start.client-answers') }}</h4>
                        <client-data :clientInfo="clientInfo" />
                        <div v-for="(question, index) in questions.slice(0, clientInfo.survey_results.length)" :key="index" style="width: 100%; margin-top: 12px;">
                           <h3 style="font-size: 24px; font-weight: 600; line-height: 150%; margin: 0;"><span>{{ index + 1 }}. </span><span> {{question.title}}</span></h3>
                           <template v-if="question.input_type === 'radio'">
                              <radio :question="question" :userAnswer="clientInfo.survey_results[index].user_answers[0]" />
                           </template>
                           <template v-if="question.input_type === 'checkbox'">
                              <checkbox v-for="(option, answerIndex) in question.options" :key="answerIndex" :option="option" :userAnswers="clientInfo.survey_results[index].user_answers" />
                           </template>
                           <template v-if="question.input_type === 'select'">
                              <radio :question="question" :userAnswer="clientInfo.survey_results[index].user_answers[0]" />
                           </template>
                           <template v-if="question.input_type === 'text'">
                              <input-value :question="question" :userAnswer="clientInfo.survey_results[index].user_answers[0]" />
                           </template>
                        </div>
                        <div style="border-radius: 12px; margin-top: 24px; padding: 24px;" :style="{ 'border': clientInfo.status === 'rejected' ? '1px solid red' : '1px solid #C2C7F3', 'background-color': clientInfo.status === 'rejected' ? 'rgba(255, 0, 0, 0.1)' : '#F4F5FF' }">
                           <div style="height: 48px; width: 48px; display: inline-block; vertical-align: top;">
                              <info :color="clientInfo.status === 'rejected' ? 'red' : '#5964D1'"/>
                           </div>
                           <p style="margin: 0 0 0 24px; display: inline-block; width: calc(100% - 72px);">{{$t('survey-client.start.info')}}.</p>
                        </div>
                     </div>
                  </div>
                  <div class="px-6">
                     <div class="d-flex align-center" style="justify-content: flex-end;">
                        <v-btn outlined @click="() => {this.$router.push({ path: `/survey-client/completed` })}" depressed color="primary" large style="border-radius: 8px; height: 44px;">Orqaga</v-btn>
                        <div class="d-flex align-center" style="justify-content: flex-end;">
                           <v-btn @click="downloadResults" depressed color="primary" style="height: 44px; border-radius: 8px; margin: 0 0 0 20px;">{{$t('survey-client.start.download-survey')}}</v-btn>
                        </div>
                     </div>
                  </div>
               </div>
            </template>
            <template v-else>
               <div class="pa-10 w-100 h-100 shadow-6 rounded-20 bg-white">
                  <div class="w-100 h-100 d-flex flex-column align-center justify-center">
                     <img
                        style="width: 100px"
                        src="/img/todo-list.png"
                        alt="Todo List image"
                        />
                     <span class="d-block text-dark-grey font-600 my-4">So'rovnoma topilmadi</span>
                     <v-btn color="primary" @click="() => {this.$router.push({ path: `/survey-client/completed` })}" depressed small>So'rovnomalar</v-btn>
                  </div>
               </div>
            </template>
         </div>
      </template>
   </div>
</template>
<script>
import AppLoader from "@/common/components/base/AppLoader";
import Checkbox from './components/Checkbox';
import ClientData from "./components/ClientData";
import Info  from './components/Info';
import Radio from "./components/Radio";
import html2pdf from "html2pdf.js/src";
import { mapGetters } from "vuex";
import InputValue from './components/InputValue';
export default {
   name: 'SurveyClientView',
   components: { AppLoader, Info, Checkbox, ClientData, Radio, InputValue },
   computed: {
      ...mapGetters({
         currentUser: "auth/getCurrentUser",
      }),
   },
   methods: {
      getSurvey(id) {
         this.loading = true;
         this.$axios
            .get(`/survey/${this.currentUser?.filial}/submission/${id}/`)
            .then(response => {
               const status = response?.status;
               if(status === 200) {
                  const clientInfo = response?.data;
                  const surveyId = response?.data?.survey?.id;
                  this.clientInfo = clientInfo;
                  this.status = true;
                  this.$axios
                     .get(`/survey/${surveyId}/`)
                     .then(response => {
                        const survey_questions = response?.data?.survey_questions;
                        const questions = (Array.isArray(survey_questions) ? survey_questions : []).map(question => ({ ...question, user_answers: [], values: [] }));
                        this.questions = questions;
                     })
                     .catch(() => {
                        this.questions = [];
                        this.quiz = {};
                     });
               } else {
                  this.status = false;
                  this.clientInfo = {};
               }
            })
            .catch(() => {
               this.clientInfo = {};
               this.status = false;
            })
            .finally(() => {
               this.loading = false;
            });
      },
      downloadResults() {
         try {
            const element = document.getElementById('client-survey-result');
            const date = new Date().toISOString().replace(/T/, "-").replace(/:/, "-").slice(0, 16)
				const options = {
					filename: `${this.$t('survey-client.start.survey')}-${date}.pdf`,
					html2canvas: { scale: 1, letterRendering: true },
					image: { type: 'jpeg', quality: 1 },
					jsPDF: { unit: 'mm', format: 'a4', orientation: 'l' },
					margin: [ 7, 7, 7, 7 ],
					pagebreak: { mode: 'avoid-all' },
				};
            html2pdf().set(options).from(element).save();
         } catch {
            this.$toast.error(this.$t('survey-client.start.error-an-occured'))
         }
      }
   },
   watch: {
      '$route.params.id': {
         handler(id) {
            this.getSurvey(id);
         }
      }
   },
   data() {
      return {
         clientInfo: {},
         loading: true,
         questions: [],
         status: true,
      };
   },
   mounted() {
      const permission = ['admin', 'operator_admin'].includes(this.currentUser?.role);
      if(permission) {
         this.getSurvey(this.$route.params.id);
      } else {
         this.$router.push({ path: "/dashboard/home" });
      }
   }
};
</script>
<style>
.survey-client-view .v-radio--is-disabled.v-item--active .v-icon {
   color: #5964D1 !important;
}
.survey-client-view .theme--light.v-input--is-label-active {
   color: #5964D1 !important;
}
</style>
