<template>
   <div class="survey-form-view">
      <template v-if="status === 'loading'">
         <app-loader content-width :size="58" />
      </template>
      <template v-else-if="status === 'success'">
         <div class="create-test-container mx-auto w-100 mb-10">
            <app-wrapper class="mb-8">
               <template #header>
                  <h4>{{$t('hr.survey.poll-name')}}</h4>
               </template>
               <template #body>
                  <div class="app-input mb-6">
                     <v-text-field
                        :placeholder="$t('hr.survey.poll-name') + ' ...'"
                        background-color="var(--input-bg)"
                        clearable
                        hide-details
                        outlined
                        v-model="pool.title"
                        ></v-text-field>
                  </div>
                  <div class="app-input">
                     <v-textarea
                        :placeholder="$t('hr.survey.description')"
                        background-color="var(--input-bg)"
                        clearable
                        hide-details
                        no-resize
                        outlined
                        v-model="pool.description"
                        ></v-textarea>
                  </div>
               </template>
            </app-wrapper>
            <app-wrapper v-for="(question, index) in pool.survey_questions" :key="index" class="mb-6">
               <template #body>
                  <div class="d-flex">
                     <v-sheet class="mr-4">
                        <span class="font-600">{{ index + 1 }}.</span>
                     </v-sheet>
                     <div class="app-input flex-1 mb-8">
                        <v-textarea
                           :placeholder="$t('hr.survey.enter-question-text')"
                           auto-grow
                           background-color="var(--input-bg)"
                           clearable
                           hide-details
                           no-resize
                           outlined
                           row-height="15"
                           v-model="question.title"
                        ></v-textarea>
                     </div>
                  </div>
                  <div class="d-flex pb-5" v-for="(answer, answerIndex) in question.options" :key="answerIndex">
                     <div class="d-flex" style="width: calc(100% - 140px)">
                        <div class="app-input flex-1">
                           <v-text-field
                              v-model="answer.name"
                              :placeholder="`${$t('hr.survey.option')} ${answerIndex + 1}`"
                              outlined
                              clearable
                              hide-details
                              background-color="var(--input-bg)"
                           >
                              <template v-slot:prepend-inner>
                                 <v-icon class="mr-2">
                                    mdi-checkbox-blank-circle-outline
                                 </v-icon>
                              </template>
                           </v-text-field>
                        </div>
                     </div>
                     <div class="d-flex align-center pl-4 ml-3">
                        <app-tooltip top>
                           <template #content>
                              <v-checkbox
                                 v-model="answer.is_other"
                                 hide-details
                                 class="ma-0"
                              ></v-checkbox>
                           </template>
                           <template #text>
                              {{$t('hr.survey.enter-your-text')}}
                           </template>
                        </app-tooltip>
                        <app-tooltip top>
                           <template #content>
                              <v-checkbox
                                 v-model="answer.is_stop_factor"
                                 hide-details
                                 class="ma-0"
                                 color="danger"
                              ></v-checkbox>
                           </template>
                           <template #text>
                              {{$t('survey-client.survey-edit.stop-factor')}}
                           </template>
                        </app-tooltip>
                        <app-tooltip top>
                           <template #content>
                              <app-button
                                 @click="deleteAnswer(index, answerIndex)"
                                 color="error"
                                 icon
                                 min-width="48"
                                 width="48"
                                 height="48"
                                 class="ma-0"
                              >
                                 <trash2-icon size="20" />
                              </app-button>
                           </template>
                           <template #text>
                              {{$t('hr.survey.delete-option')}}
                           </template>
                        </app-tooltip>
                     </div>
                  </div>
                  <div class="d-flex align-center mt-8">
                     <div class="app-input w-100" style="max-width: 300px">
                        <v-select
                           :items="types"
                           background-color="var(--input-bg)"
                           hide-details
                           item-text="title"
                           item-value="value"
                           outlined
                           v-model="question.input_type"
                           >
                           <template v-slot:append>
                              <v-icon class="body--1 color-text-4">
                                 mdi-chevron-down
                              </v-icon>
                           </template>
                        </v-select>
                     </div>
                     <v-spacer />
                     <app-button @click="addAnswer(index)">
                        <template #prepend>
                           <plus-circle-icon />
                        </template>
                        {{$t('hr.survey.add-option')}}
                     </app-button>
                     <app-button
                        @click="deleteQuestion(index)"
                        class="ml-3"
                        color="error">
                        <template #prepend>
                           <trash2-icon />
                        </template>
                        {{$t('hr.survey.delete-question')}}
                     </app-button>
                  </div>
               </template>
            </app-wrapper>
            <div class="d-flex justify-space-between mt-6">
               <app-button @click="addQuestion" color="error">
                  <template #prepend>
                     <plus-circle-icon size="20" />
                  </template>
                  {{$t('hr.survey.add-question')}}
               </app-button>
               <div class="d-flex justify-flex-end">
                  <div v-if="loading" class="d-inline-block">
                     <app-loader :size="36" />
                  </div>
                  <template v-else>
                     <app-button @click="() => { this.savePool() }">
                        <template #prepend>
                           <plus-circle-icon size="20" />
                        </template>
                        {{$t('hr.survey.edit-poll')}}
                     </app-button>
                  </template>
               </div>

            </div>
         </div>
      </template>
      <template v-else>
         <div class="d-flex align-center bg-white justify-center quiz-not-found w-100">
            <h3 class="text-center">{{$t('survey-client.survey-edit.survey-not-found')}}</h3>
            <p class="text-center my-5">{{$t('survey-client.survey-edit.not-found-description')}}</p>
            <router-link to="/survey-client/list">{{ $t('survey-client.survey-edit.surveys') }}</router-link>
         </div>
      </template>
   </div>
</template>
<script>
import { mapGetters } from "vuex"
import AppLoader from "@/common/components/base/AppLoader";
import { Edit3Icon, PlusCircleIcon, Trash2Icon } from "vue-feather-icons";
export default {
   name: 'SurveyClientList',
   components: {
      AppLoader,
      Edit3Icon,
      PlusCircleIcon,
      Trash2Icon,
   },
   data() {
      return {
         loading: false,
         pool: { title: "", description: "", type: 'customer', survey_questions: [] },
         status: 'loading',
         types: [],
      }
   },
   created() {
      const permission = ['admin', 'operator_admin'].includes(this.currentUser?.role);
      if(permission) {
         const id = this.$route.params.id;
         this.getPool(id);
         this.changeTypes();
      } else {
         this.$router.push({ path: "/dashboard/home" });
      }
   },
   watch: {
      "$route.params.id": {
         handler(id) {
            this.getPool(id);
         }
      },
      '$i18n.locale': {
         handler() {
            this.changeTypes();
         }
      }
   },
   methods: {
      changeTypes () {
         this.types = [
            {
               title: this.$t('hr.survey.radio'),
               value: "radio"
            },
            {
               title: this.$t('hr.survey.checkbox'),
               value: "checkbox"
            },
            {
               title: this.$t('hr.survey.select'),
               value: "select"
            },
            {
               title: this.$t('hr.survey.text'),
               value: "text"
            },
         ];
      },
      getPool(id) {
         this.status = 'loading';
         this.$axios
            .get(`/survey/${id}/`)
            .then(response => {
               const status = response?.status;
               const pool = response?.data;
               if(status === 200) {
                  this.pool = pool;
                  this.status = 'success'
               } else {
                  this.status = 'error'
               }
            })
            .catch(() => {
               this.status = 'error'
            })
      },
      savePool() {
         this.loading = true;
         this.$axios
            .put(`/survey/${this.$route.params.id}/`, this.pool)
            .then(response => {
               console.log(response)
               if(response?.status === 200) {
                  this.$toast.success(this.$t('survey-client.survey-edit.survey-saved'));
                  this.$router.push({ path: '/survey-client/list' })
               } else {
                  this.$toast.error(this.$t('survey-client.survey-edit.survey-not-saved'));
               };
            })
            .catch(() => {
               this.$toast.error(this.$t('survey-client.survey-edit.survey-not-saved'));
            })
            .finally(() => {
               this.loading = false;
            })
      },
      addQuestion() {
         const survey_questions = [...this.pool.survey_questions, {
               input_type: "radio",
               is_required: false,
               options: [],
               title: "",
            }
         ];
         this.pool = { ...this.pool, survey_questions };
      },
      deleteQuestionRoot(questionIndex) {
         const survey_questions = this.pool.survey_questions.filter((_, index) => index !== questionIndex);
         this.pool = { ...this.pool, survey_questions };
      },
      deleteQuestion(questionIndex) {
         const userConfirm = confirm(this.$t('hr.survey.confirm-delete-question'));
         if(userConfirm) {
            const questionId = this.pool.survey_questions[questionIndex]?.id;
            if(questionId) {
               this.$axios
                  .delete(`/survey/questions/${questionId}/`)
                  .then(response => {
                     if(response?.status === 204) {
                        this.deleteQuestionRoot(questionIndex)
                     }
                  })
            } else {
               this.deleteQuestionRoot(questionIndex);
            }
         };
      },
      addAnswer(questionIndex) {
         const survey_questions = this.pool.survey_questions.map((question, index) => {
            if(index === questionIndex) {
               return {...question, options: [...question.options, { name: "", is_other: false, is_stop_factor: false }]};
            } else {
               return question;
            };
         });
         this.pool = { ...this.pool, survey_questions };
      },
      deleteAnswerRoot(questionIndex, answerIndex) {
         const survey_questions = this.pool.survey_questions.map((question, index) => {
            if(index === questionIndex) {
               const options = question.options.filter((_, index) => index !== answerIndex);
               return { ...question, options };
            } else {
               return question;
            }
         });
         this.pool = { ...this.pool, survey_questions };
      },
      deleteAnswer(questionIndex, answerIndex) {
         const userConfirm = confirm(this.$t('hr.survey.confirm-delete-poll'))
         if(userConfirm) {
            const answerId = this.pool.survey_questions[questionIndex].options[answerIndex]?.id;
            if(answerId) {
               this.$axios
                  .delete(`/survey/options/${answerId}/`)
                  .then(response => {
                     if(response?.status === 204) {
                        this.deleteAnswerRoot(questionIndex, answerIndex);
                     }
                  });
            } else {
               this.deleteAnswerRoot(questionIndex, answerIndex);
            }
            
         };
      },
   },
   computed: {
      ...mapGetters({
         currentUser: "auth/getCurrentUser"
      })
   }
}
</script>
<style>
.quiz-not-found {
   flex-direction: column;
   height: calc(100vh - 110px);
   border-radius: 16px;
}
.quiz-not-found h3 {
   font-size: 40px;
   font-weight: 800;
   margin: 0;
}
.quiz-not-found p {
   font-size: 18px;
   font-weight: 400;
}
.quiz-not-found a {
   align-items: center;
   background-color: #5964D1;
   border-radius: 8px;
   color: #ffffff;
   display: flex;
   font-size: 17px;
   font-weight: 500;
   height: 50px;
   justify-content: center;
   text-decoration: none;
   width: 250px;
}
</style>
