<template>
   <div class="survey-list-view d-flex flex-column h-100">
      <div class="d-flex align-center py-3 px-4 bg-white rounded-20">
         <v-text-field
            :placeholder="$t('control-tasks.tasks.search')"
            @input="searchSurveys"
            background-color="var(--input-bg)"
            clearable
            dense
            hide-details
            outlined
            style="max-width: 400px;"
            v-model="filter.search"
         >
            <template #prepend-inner>
               <search-icon size="20" />
            </template>
         </v-text-field>
         <v-spacer />
         <div class="d-flex align-center">
            <v-btn color="primary" @click="() => { openFilter = true }" dense depressed style="height: 40px">
               <filter-icon size="20" />
               <span class="ml-3">{{ $t('survey-client.completed.filter') }}</span>
            </v-btn>
            <v-btn class="ml-3" @click="() => { openExport = true }" color="primary" style="height: 40px" depressed>
               <download-icon size="20" />
               <span class="ml-3">Excel</span>
            </v-btn>
         </div>
      </div>
      <div class="d-flex mt-5 mb-2 overflow-hidden w-100 h-100">
         <div class="d-flex flex-column p-relative w-100">
            <app-loader v-if="loading" class="rounded-20" full-width :size="58" />
            <template v-else>
               <div class="d-flex flex-column h-100 bg-4 rounded-20 pa-1 overflow-hidden">
                  <perfect-scrollbar class="d-flex flex-column flex-1 h-100">
                     <app-table :table-width="1000">
                        <template #tableHeader>
                           <th>{{$t('survey-client.completed.id')}}</th>
                           <th>{{$t('hr.survey.name')}}</th>
                           <th>{{$t('survey-client.start.bank')}}</th>
                           <th>{{$t('survey-client.completed.stir-or-jshshir')}}</th>
                           <th>{{$t('survey-client.completed.phone-number')}}</th>
                           <th>{{$t('survey-client.completed.date')}}</th>
                           <th>{{$t('survey-client.completed.status')}}</th>
                           <th>{{$t('survey-client.completed.branch')}}</th>
                           <th>{{$t('survey-client.completed.comment')}}</th>
                        </template>
                        <template #tableBody>
                           <template v-if="surveys.length">
                              <tr v-for="(survey, index) in surveys" :key="index" @click="() => {$router.push({path: `/survey-client/completed/${survey.id}`})}">
                                 <td>
                                    <span class="font-600">{{ survey.id }}</span>
                                 </td>
                                 <td>
                                    <span class="font-600">{{ survey.applicant.name }}</span>
                                 </td>
                                 <td>
                                    <span class="font-600">{{ survey.applicant.source }}</span>
                                 </td>
                                 <td>
                                    <span class="font-600">{{ survey.applicant.type === 'legal' ? survey.applicant.tin : survey.applicant.pinfl }}</span>
                                 </td>
                                 <td>
                                    <span class="font-600">{{ survey.applicant.phone }}</span>
                                 </td>
                                 <td>
                                    <span class="font-600">{{ String(survey.created_date || '').replace(/-/g, '.').replace('T', ' ').slice(0, 16) }}</span>
                                 </td>
                                 <td>
                                    <v-chip text-color="white" :color="survey.status === 'completed' ? 'success' : survey.status === 'started' ? 'primary' : 'danger'">
                                       <span class="small-2 text-white font-500">{{ $t('survey-client.completed.' + survey.status) }}</span>
                                    </v-chip>
                                 </td>
                                 <td>
                                    <span class="font-600">{{ survey.filial && survey.filial.name }}</span>
                                 </td>
                                 <td>
                                    <span class="font-600">{{ survey.status === 'rejected' ? $t('survey-client.completed.rejected-message') : survey.comment }}</span>
                                 </td>
                              </tr>
                           </template>
                           <template v-else>
                              <tr>
                                 <td colspan="9">
                                    <p class="heading-9 font-500 mb-0 text-center py-4">
                                       {{$t('survey-client.completed.no-surveys')}}
                                    </p>
                                 </td>
                              </tr>
                           </template>
                        </template>
                     </app-table>
                  </perfect-scrollbar>
               </div>
            </template>
         </div>
      </div>
      <div class="d-flex" style="justify-content: flex-end;">
         <v-pagination
            :length="count === 0 ? 1 : Math.ceil(count / 10)"
            :total-visible="5"
            @input="paginate"
            v-model="filter.page"
         />
      </div>
      <completed-survey-filter :openFilter="openFilter" :filter="filter" :resetFilter="resetFilter" :toggleDialog="toggleFilterDialog" :viewResult="viewResult"/>
      <completed-survey-export :openExport="openExport" :setOpenExport="open => { this.openExport = open }" />
   </div>
</template>
<script>
import AppLoader from "@/common/components/base/AppLoader";
import { mapGetters } from "vuex";
import CompletedSurveyExport from "./components/CompletedSurveyExport";
import CompletedSurveyFilter from "./components/CompletedSurveyFilter";
import { EyeIcon, SearchIcon, FilterIcon, DownloadIcon } from "vue-feather-icons";
export default {
   name: 'SurveyClientCompleted',
   components: { AppLoader, EyeIcon, SearchIcon, FilterIcon, DownloadIcon, CompletedSurveyFilter, CompletedSurveyExport },
   computed: {
      ...mapGetters({
         currentUser: "auth/getCurrentUser",
      }),
   },
   methods: {
      getValidProperties(object) {
         const keys = Object.keys(object || {});
         const properties = (Array.isArray(keys) ? keys : []).reduce((total, key) => {
            const value = object[key];
            if (value) {
               total[key] = value;
            }
            return total;
         }, {});
         return properties;
      },
      getSurveys(filter) {
         this.loading = true;
         const params = this.getValidProperties(filter)
         this.$axios
            .get(`/survey/${this.currentUser?.filial}/submission/`, { params })
            .then(response => {
               const results = response?.data?.results;
               const count = response?.data?.count;
               const surveys = Array.isArray(results) ? results : [];
               this.surveys = surveys;
               this.count = count;
            })
            .catch(() => {
               this.surveys = [];
               this.count = 1;
            })
            .finally(() => {
               this.loading = false;
            })
      },
      searchSurveys(search) {
         const filter = { ...this.filter, search, page: 1 };
         this.filter = filter;
         this.getSurveys(filter);
      },
      paginate(page) {
         const filter = { ...this.filter, page }
         this.getSurveys(filter)
      },
      toggleFilterDialog() {
         this.openFilter = !this.openFilter;
      },
      resetFilter() {
         const filter = {
            applicant: '', // input => applicant id
            applicant_type: '', // select => legal, physical
            branch: null, // select => branch
            end_date: '', // date-input => end date
            page: 1, // pagination => page
            search: '', // input => search
            start_date: '', // date-input => start date
            status: null, // select => started, completed, rejected
            stir_or_jshshir: '', // input => jshshir, stir
            type: 'customer', // select => customer, employee
         };
         this.filter = filter;
         this.getSurveys(filter);
         this.openFilter = false;
      },
      viewResult() {
         const filter = { ...this.filter, page: 1 };
         this.filter = filter;
         this.getSurveys(filter);
         this.openFilter = false;
      },
      toggleExportDialog() {
         this.exportDialog = !this.exportDialog;
      }
   },
   data() {
      return {
         count: 1,
         surveys: [],
         loading: false,
         openFilter: false,
         filter: {},
         openExport: false,
      }
   },
   mounted() {
      const permission = ['admin', 'operator_admin'].includes(this.currentUser?.role);
      if(permission) {
         this.resetFilter();
      } else {
         this.$router.push({ path: "/dashboard/home" });
      }
   },
}
</script>
