<template>
	<div class="dashboard-v2-view bg-white w-100 p-relative">
		<template v-if="false">
			<v-alert color="info" dark text dismissible class="text-center">
				{{ $t("dear-text") }} {{ 'Azamjon' }} {{ 'Kirgizboev' }} {{ $t("birthday-text") }} 🥳🥳🥳🍭🍭🍬🍬
			</v-alert>
		</template>

<!--		<div class="p-absolute top-0 right-0 bottom-0 left-0 bg-white opacity-70 z-index">-->
<!--			<div class="d-flex flex-column h-100">-->
<!--				<div class="d-flex justify-end px-8">-->
<!--					<div-->
<!--						class="d-flex justify-center align-center rounded-12 bg-white pointer"-->
<!--					>-->
<!--						<base-iconify-->
<!--							icon="CloseCircleBold"-->
<!--							width="40"-->
<!--							height="40"-->
<!--							class="text-critic-500"-->
<!--						/>-->
<!--					</div>-->
<!--				</div>-->

<!--				<div class="d-flex flex-1 bg-white">-->

<!--				</div>-->
<!--			</div>-->
<!--		</div>-->

		<div class="d-flex align-center justify-space-between">
			<span class="font-600 heading-8">{{ $t('layout.dashboard') }}</span>
			<v-btn
				color="rgba(240, 244, 248, 1)"
				height="36"
				dark
				depressed
				class="d-flex py-0 mb-0 rounded-8"
				:to="{ name: 'MainDashboardOld' }"
			>
				<v-icon color="var(--greyscale-200)" size="16" class="mr-1">{{ "$vuetify.icons.ExternalLink" }}</v-icon>

				<span class="small-3 text-greyscale-900">{{$t('oldDashboard')}}</span>
			</v-btn>
		</div>

		<v-row class="mt-1">
			<v-col md="9">
				<div
					v-if="hasActiveSurveys"
					class="d-flex align-center justify-space-between bg-info-50 rounded-16 py-4 px-5 mb-4 pointer"
					@click="openSurveyList"
				>
					<div class="d-flex gap-x-3 align-center">
						<div class="d-flex justify-center align-center w-8 h-8 rounded-50 bg-info-500">
							<base-iconify icon="DangerCircleBold" class="text-white" />
						</div>
						<span class="text-greyscale-900 small-1 font-600">{{ $t('take-survey') }}</span>
					</div>

					<app-button
						height="36"
						min-width="80"
						class="rounded-8"
						@click="openSurveyList"
					>
						<template #default>
							{{ $t("survey.start") }}
						</template>
					</app-button>
				</div>

				<v-row>
					<v-col md="5" sm="6" cols="12" class="d-flex flex-column">
						<incoming-messages />

						<birthday class="mt-5" />
					</v-col>

					<v-col md="7" sm="6" cols="12" class="d-flex flex-column">
						<upcoming-tasks />

						<my-ijro class="mt-5"/>
					</v-col>
				</v-row>
			</v-col>

			<v-col md="3" sm="6" cols="12" class="d-flex flex-column">
				<department-contacts />

				<services class="mt-5"/>
			</v-col>
		</v-row>
	</div>
</template>

<script>
import Birthday from "../components/Birthday.vue";
import DepartmentContacts from "../components/DepartmentContacts.vue";
import IncomingMessages from "../components/IncomingMessages.vue";
import MyIjro from "../components/MyIjro.vue";
import Services from "../components/Services.vue";
import UpcomingTasks from "../components/UpcomingTasks.vue";
import { CloseCircleBold } from "../../../common/componentsV3/Icons";
import { mapActions } from "vuex";

export default {
	name: "Home",
	components: {
		Birthday,
		DepartmentContacts,
		IncomingMessages,
		MyIjro,
		Services,
		UpcomingTasks,
		CloseCircleBold
	},
	data:() => ({
		hasActiveSurveys: false
	}),
	methods: {
		openSurveyList() {
			this.$router.push({
				name: 'HRSurveyClientList',
				query: {
					status: 'current'
				}
			})
		},
		/** **/
		getSurveyForSubmission() {
			this.$axios.get(`/dashboard/my-survey-for-submission/`)
				.then(({ data }) => {
					if (data && data.length) {
						this.hasActiveSurveys = true
					}
				})
		}
	},
	async mounted() {
		this.getSurveyForSubmission()
	}
}
</script>

<style scoped>

</style>
