<template>
	<div class="hr-personal-documents-view">
		<app-wrapper class="mb-4">
			<template #body>
				<v-row align="center" class="pa-1">
					<v-col md="2" class="py-0 pl-1">
						<h3 class="line-base">{{$t('document_list')}}</h3>
					</v-col>

					<v-col md="3" class="py-0">
						<div class="app-input">
							<v-text-field
								@input="search"
								hide-details
								outlined
								dense
								clearable
								:placeholder="$t('equipments.search')"
								background-color="var(--input-bg)"
							>
								<template #prepend-inner>
									<search-icon class="mr-1 d-block" size="20" color="var(--text-4)"/>
								</template>
							</v-text-field>
						</div>
					</v-col>

					<v-spacer/>

					<v-col md="3" class="py-0 pr-1">
						<app-autocomplete
							v-model="filialSelected"
							api-list-url="/filials/"
							item-text="name"
							item-value="mfo"
							list-type="list"
							cache-items
							dense
							:label="$t('equipments.branches')"
						/>
					</v-col>

					<v-col md="2" class="py-0">
						<v-select
							@change="fetchDepartmentSelected"
							v-model="departmentSelected"
							:items="getDepartmentList"
							item-text="name"
							return-object
							outlined
							dense
							hide-details
							:label="$t('equipments.department')"
							append-icon="mdi-chevron-down"
							background-color="var(--input-bg)"
						>
						</v-select>
					</v-col>

				</v-row>
			</template>
		</app-wrapper>

		<template v-if="getIsDepartmentsLoading">
			<app-loader content-width/>
		</template>

		<template v-else>
			<div class="d-flex flex-column h-100 bg-4 rounded-20 pa-1 overflow-hidden">
				<div class="d-flex flex-column flex-1 h-100 overflow-hidden">
					<perfect-scrollbar class="d-flex flex-column flex-1 h-100">
						<app-table>
							<template #tableHeader>
								<th width="400">
									<span>{{$t('equipments.full-name')}}</span>
								</th>
								<th width="400">
									<span>{{$t('equipments.department')}}</span>
								</th>
								<th>
									<span>{{$t('equipments.position')}}</span>
								</th>
								<th width="300">
									<span>{{$t('equipments.status')}}</span>
								</th>
								<th width="150">
									<span>{{$t('equipments.number')}}</span>
								</th>
								<th v-if="actionPermission" width="150">
									<span>{{$t('document-flow.components.action')}}</span>
								</th>
							</template>

							<template #tableBody>
								<template v-if="departmentUsersList.length">
									<template >
										<tr v-for="user in departmentUsersList" @click.prevent="openModal(user)" :key="user.id">
											<td>
												<div class="d-flex align-center">
													<v-avatar size="42" :color="user.color">
														<img
															v-if="user.avatar"
															:src="user.avatar.url"
															alt="John"
															class="object-cover w-100 h-100"
														>
														<span v-else class="text-white font-600">{{ user.first_name | getFirstCharacterWithoutDot }}</span>
													</v-avatar>

													<h4 class="font-600 ml-4">{{ user.first_name }} {{ user.last_name }}</h4>
												</div>
											</td>
											<td>
												<span class="font-600">{{ user.dep_name }}</span>
											</td>
											<td>
												<span class="font-600">{{ user.position }}</span>
											</td>
											<td>
												<span class="font-600">{{ user.condition_name }}</span>
											</td>
											<td>
												<span class="font-600">{{ user.cisco }}</span>
											</td>
											<td v-if="actionPermission">
												<edit-icon
													size="18"
													color="var(--primary-3)"
													@click="openDocumentFormModal($event, user, 'update')"
												/>
												<plus-circle-icon
													size="18"
													color="var(--primary-1)"
													@click="openDocumentFormModal($event, user, 'create')"
													class="ml-4"
												/>
											</td>
										</tr>
									</template>
								</template>

								<template v-else>
									<tr>
										<td colspan="6">
											<h2 class="font-600 text-center">{{$t('equipments.not-found')}}</h2>
										</td>
									</tr>
								</template>
							</template>
						</app-table>
					</perfect-scrollbar>
				</div>
			</div>
		</template>

		<personal-documents-modal ref="personalDocumentsModal"/>

		<document-form-modal ref="documentFormModal"/>
	</div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import { EditIcon, SearchIcon, XIcon, PlusCircleIcon } from "vue-feather-icons";
import { debounce } from "lodash";
import PersonalDocumentsModal from "./components/PersonalDocumentsModal.vue";
import DocumentFormModal from "./components/DocumentFormModal.vue";

export default {
	name: "index",
	components: {
		DocumentFormModal,
		EditIcon,
		SearchIcon,
		XIcon,
		PersonalDocumentsModal,
		PlusCircleIcon
	},
	data() {
		return {
			filialSelected: "09013",
			departmentSelected: {
				id: 47968,
				dep_id: 2,
				name: "Рахбарият",
				filial: 1,
				mfo: "09013",
				parent: null,
				code: "000049",
				parent_code: "000000",
				condition: "A",
				sub_departments: []
			},
			userSelected: {},
			ciscoNumber: null,
			editModal: false
		}
	},
	computed: {
		...mapGetters({
			currentUser: "auth/getCurrentUser",
			getDepartmentList: "equipmentModule/getDepartmentList",
			departmentUsersList: "equipmentModule/departmentUsersList",
			getIsDepartmentsLoading: "equipmentModule/getIsDepartmentsLoading",
		}),
		actionPermission(){
			return ["admin", "hr_manager"].includes(this.currentUser.role)
		}
	},
	watch: {
		filialSelected: {
			handler(value) {
				this.fetchDepartmentList(value).then((data) => {
					this.departmentSelected = this.getDepartmentList[0]

					// Отчистим массив перед тем как заполнить
					this.clearDepartmentUserList()

					if (this.departmentSelected){
						this.fetchDepartmentSelected(this.departmentSelected)
					}
				})
			},
			immediate: true,
			deep: true
		}
	},
	methods: {
		...mapActions({
			fetchDepartmentList: "equipmentModule/fetchDepartmentList",
			fetchDepartmentSelected: "equipmentModule/fetchDepartmentSelected",
			clearDepartmentUserList: "equipmentModule/clearDepartmentUserList",
			fetchDepartmentUsers: "equipmentModule/fetchDepartmentUsers",
			fetchEquipmentsList: "equipmentModule/fetchEquipmentsList",
		}),
		/*
		*
		* */
		search: debounce(function (value) {
			// Отчистим массив перед тем как заполнить
			this.clearDepartmentUserList()

			if (value && value.length) {
				this.fetchDepartmentUsers({ search: value })
			} else {
				if (this.departmentSelected){
					this.fetchDepartmentSelected(this.departmentSelected)
				}
			}
		}, 500),

		openModal(user) {
			const { personalDocumentsModal } = this.$refs;
			personalDocumentsModal.dialog = true;
			personalDocumentsModal.user = user;
			personalDocumentsModal.getPersonalDocuments(user.id);
		},
		/**/
		openDocumentFormModal(event, user, formType){
			event.stopImmediatePropagation();
			const { documentFormModal } = this.$refs;
			documentFormModal.formType = formType
			documentFormModal.user = user;
			documentFormModal.dialog = true;
			documentFormModal.getPersonalDocuments(user.id);
		}
	}
}
</script>

<style scoped>

</style>
