<template>
  <div class="app-input">
    <app-editor
      v-model="content"
      v-bind="$attrs"
      ref="editor"
      background-color="var(--input-bg)"
    />
<!--    <quill-editor-->
<!--      v-model="content"-->
<!--      v-bind="$attrs"-->
<!--      ref="editor"-->
<!--      background-color="var(&#45;&#45;input-bg)"-->
<!--    />-->

	  <div class="bg-white pt-5">
		  <resolution-content-modal
			  :has-filial="false"
			  api-url="action/short-descriptions/"
			  :api-params="{ type: 'template' }"
			  title-dialog="components.add-template"
			  @emit:up="(text) => content = text.description"
		  />
	  </div>

<!--    <resolution-content-modal class="mt-3" @emit:up="(text2) => content = text2.name" />-->
  </div>
</template>

<script>
import ResolutionContentModal from "@/common/components/ResolutionContentModal"

export default {
  name: "OrderTextField",
  value: {
    type: [Number, String, Array, Object],
    default: () => ""
  },
  components: {
    ResolutionContentModal
  },
  data() {
    return {
    }
  },
  computed: {
    content: {
      get() {
        return this.$attrs.value
      },
      set(value) {
        this.$emit("input", value);
      }
    }
  }
}
</script>

<style>

</style>
