<template>
  <div class="order-user-field">
    <div class="mb-3">
      <div class="p-relative" style="border-bottom: 1px solid #dedede">
        <span class="text-center d-block small-2 font-500">Odinayev Muhammad Komil o'g'li</span>

        <div class="line-label small-2 text-center p-absolute" style="bottom: 0; right: 0">
          <span class="d-block py-1 font-500" style="border-bottom: 1px solid #dedede">Tabel raqami</span>

          <span class="d-block py-1">957</span>
        </div>
      </div>

      <span class="small-3 font-500 d-block text-center">(familiyasi, ismi, otasining ismi)</span>
    </div>

    <div class="mb-3">
      <div class="p-relative" style="border-bottom: 1px solid #dedede">
        <span class="text-center d-block small-2 font-500">Axborot texnologiyalari departamenti</span>
      </div>

      <span class="small-3 font-500 d-block text-center">(tarkibiy bo‘linma)</span>
    </div>

    <div>
      <div class="p-relative" style="border-bottom: 1px solid #dedede">
        <span class="text-center d-block small-2 font-500">Dasturchi</span>
      </div>

      <span class="small-3 font-500 d-block text-center">lavozmi (ixtisosligi, kasbi)</span>
    </div>
  </div>
</template>

<script>
export default {
  name: "OrderUserField",
  props: {
    user: {
      type: Object,
      default: () => {}
    }
  }
}
</script>

<style>
.line-label {
  width: 120px;
  border: 1px solid #dedede;
  border-bottom: none;
}
</style>
