<template>
	<div class="power-of-attorney-part3">
		<app-wrapper class="mt-4">
			<template #body>
				<div>
					<table class="facture-table">
						<tr>
							<th width="10" class="small-3 font-500">№</th>
							<th width="250" class="small-3 font-500">ИКПУ и наименование товаров (работ, услуг)</th>
							<th width="250" class="small-3 font-500">Наименование материальных ценностей</th>
							<th width="150" class="small-3 font-500">Единица измерения</th>
							<th width="100" class="small-3 font-500">Количество</th>
							<th width="20" class="small-3 font-500"></th>
						</tr>
						<tr v-for="(item, index) in powerOfAttorneyModel.document.items" :key="index">
							<td class="small-2 font-400 text-center">{{ index + 1 }}</td>
							<td>
								<v-autocomplete
									v-model="item.productSelected"
									@change="setProductSelected(item, index)"
									:items="productList"
									outlined
									item-text="classCode"
									hide-details
									background-color="#fff"
									dense
									return-object
									class="product-autocomplete"
									clearable
									open-on-clear
								>
									<template #append>
										<v-icon>mdi-chevron-down</v-icon>
									</template>

									<template v-slot:item="{ item }">
										<div class="d-flex">
											<span class="small-3 font-400">{{ item.classCode }} - {{ item.name }}</span>
										</div>
									</template>
									<template v-slot:selection="{ item }">
										<span class="small-3 font-400 line-truncate">{{ item.classCode }}</span>
									</template>
								</v-autocomplete>
							</td>

							<td>
								<v-text-field
									v-model="item.title"
									outlined
									hide-details
									background-color="#fff"
									dense
								/>
							</td>

							<td class="small-2 font-400">
								<v-select
									@change="setMeasurement(index)"
									v-model="item.measurementSelected"
									:value="item.measurementSelected"
									:items="item.productSelected ? item.productSelected.packageNames : []"
									item-value="code"
									item-text="nameRu"
									background-color="#fff"
									return-object
									dense
									outlined
									hide-details
								/>
							</td>

							<td class="small-2 font-400">
								<v-text-field
									v-model="item.quantity"
									outlined
									hide-details
									background-color="#fff"
									dense
									type="number"
									hide-spin-buttons
									reverse
								/>
							</td>
							<td width="30" class="text-center">
								<v-icon
									@click="deleteRowFromTable(index)"
									size="17"
									color="red"
									class="pointer">
									mdi-close
								</v-icon>
							</td>
						</tr>
					</table>

					<div class="mt-2">
						<span @click="addRowToTable" class="font-500 small-2 pointer">Добавить ещё </span>
					</div>
				</div>
			</template>
		</app-wrapper>
	</div>
</template>

<script>
import {mapState} from "vuex";

export default {
	name: "Part3Table",
	data() {
		return {
			productList: [],
		}
	},
	computed: {
		...mapState({
			powerOfAttorneyModel: state => state.facturePowerOfAttorney.powerOfAttorneyModel
		})
	},
	created() {
		this.getProductList();
	},
	methods: {
		getProductList(){
			this.$axios.get(`/facture/product_catalog/list/`)
				.then(({data}) => {
					this.productList = data
				})
		},
		/**/
		setProductSelected(item, index){
			if (item && item.productSelected){
				item.item_number = index + 1
				item.title = item.productSelected.name
				item.catalog.code = item.productSelected.classCode
				item.catalog.name = item.productSelected.className
				item.measurementSelected = item.productSelected.packageNames[0]
				item.measurement_unit = item.measurementSelected.nameRu
				item.lgota_id = item.measurementSelected.lgotas
			}
		},
		/**/
		setMeasurement(index){
			let item = this.powerOfAttorneyModel.document.items[index]
			item.measurement_unit = item.measurementSelected && item.measurementSelected.nameRu
		},
		/**/
		deleteRowFromTable(index){
			if (index > 0){
				this.powerOfAttorneyModel.document.items.splice(index, 1);
			}
		},
		/**/
		addRowToTable() {
			const tableRow = {
				// temp
				productSelected: {},
				// /temp
				item_number: "",
				title: "",
				measurement_unit: "",
				quantity: "",
				catalog: {
					code: "",
					name: ""
				},
				barcode: "",
				lgota_id: ""
			}

			this.powerOfAttorneyModel.document.items.push(tableRow)

		},
		/**/
	}
}
</script>

<style scoped>

</style>
