<template>
	<div class="power-of-attorney-part4">
		<app-wrapper class="mt-4">
			<template #body>
				<div>
					<v-row>
						<v-col md="4">
							<div class="d-flex align-center justify-end">
								<span class="font-500 small-2">Руководитель</span>
								<div class="w-300px">
									<v-autocomplete
										v-model="chairmanSelected"
										@change="setChairman"
										:items="employeeList"
										outlined
										item-text="account.lastName"
										hide-details
										background-color="var(--input-bg)"
										dense
										return-object
										clearable
										open-on-clear
										class="ml-2"
									>
										<template #append>
											<v-icon>mdi-chevron-down</v-icon>
										</template>

										<template v-slot:item="{ item }">
											<div class="d-flex">
												<span class="small-3 font-400">{{ item.account.lastName }} {{ item.account.firstName }} {{ item.account.middleName }}</span>
											</div>
										</template>
										<template v-slot:selection="{ item }">
											<span class="small-3 font-400 line-truncate">{{ item.account.lastName }} {{ item.account.firstName }} {{ item.account.middleName }}</span>
										</template>
									</v-autocomplete>
								</div>
							</div>

							<div class="d-flex align-center justify-end mt-2">
								<span class="font-500 small-2">Главный бухгалтер</span>
								<div class="w-300px">
									<v-autocomplete
										v-model="accountantSelected"
										@change="setAccountant"
										:items="employeeList"
										outlined
										item-text="account.lastName"
										hide-details
										background-color="var(--input-bg)"
										dense
										return-object
										clearable
										open-on-clear
										class="ml-2"
									>
										<template #append>
											<v-icon>mdi-chevron-down</v-icon>
										</template>

										<template v-slot:item="{ item }">
											<div class="d-flex">
												<span class="small-3 font-400">{{ item.account.lastName }} {{ item.account.firstName }} {{ item.account.middleName }}</span>
											</div>
										</template>
										<template v-slot:selection="{ item }">
											<span class="small-3 font-400 line-truncate">{{ item.account.lastName }} {{ item.account.firstName }} {{ item.account.middleName }}</span>
										</template>
									</v-autocomplete>
								</div>
							</div>

							<div class="d-flex align-center justify-end mt-2">
								<span class="font-500 small-2">Товар передал</span>
								<div class="w-300px">
									<v-text-field
										outlined
										hide-details
										background-color="var(--input-bg)"
										dense
										class="ml-2"
									>
									</v-text-field>
								</div>
							</div>
						</v-col>
					</v-row>

					<div class="d-flex mt-4 justify-end">
						<app-button
							min-width="100"
							class="ml-2"
							:loading="loading"
							@click="createDocument"
						>
							<template>
								Создать доверенность
							</template>
						</app-button>
					</div>
				</div>
			</template>
		</app-wrapper>
	</div>
</template>

<script>
import {mapActions, mapState} from "vuex";
import {fetchCreatePowerOfAttorneyRoaming} from "../../../../../../../api/Facture/facture.api.service";

export default {
	name: "Part4",
	data() {
		return {
			loading: false,
			employeeList: [],
			chairmanSelected: {
				id: 2093,
				account: {
					username: "buh@asakabank.uz",
					firstName: "Kudratilla ",
					lastName: "Tulyaganov",
					middleName: "Asatullayevich"
				},
				position: "Руководитель ГО",
			},
			accountantSelected: {
				id: 54541,
				account: {
					username: "998900360035",
					firstName: "Алишер",
					lastName: "Давлатов ",
					middleName: "Сапарович"
				},
				position: "Главный бухгалтер ГО",
			},
		}
	},
	computed: {
		...mapState({
			powerOfAttorneyModel: state => state.facturePowerOfAttorney.powerOfAttorneyModel,
			powerOfAttorneyModelTemp: state => state.facturePowerOfAttorney.powerOfAttorneyModelTemp
		})
	},
	mounted() {
		this.getEmployeeList();
	},
	methods: {
		...mapActions({
			actionCreateDocument: "facturePowerOfAttorney/actionCreateDocument"
		}),
		/**/
		createDocument() {
			this.loading = true;
			this.actionCreateDocument(this.powerOfAttorneyModel)
				.then(data => {
					console.log(data);
					if (data.SuccessCount > 0){
						this.$toast.success("Успешно!");
						this.powerOfAttorneyModel = this.powerOfAttorneyModelTemp;
						this.$router.push({
							name: "FactureDraftDocumentsList",
							query: {
								type: "draft"
							}
						});
					}else {
						this.$toast.error(data.ErrorItems[0].Message)
					}
					this.loading = false;
				})
				.catch(err => {
					console.log(err);
					this.loading = false;
				})
		},
		setApproverSigners(){
			this.powerOfAttorneyModel.approver_and_signers.signer_director.last_name = this.chairmanSelected.account.lastName;
			this.powerOfAttorneyModel.approver_and_signers.signer_director.first_name = this.chairmanSelected.account.firstName;
			this.powerOfAttorneyModel.approver_and_signers.signer_director.middle_name = this.chairmanSelected.account.middleName;
			this.powerOfAttorneyModel.approver_and_signers.signer_director.position = this.chairmanSelected.position;

			this.powerOfAttorneyModel.approver_and_signers.signer_accountant.last_name = this.accountantSelected.account.lastName;
			this.powerOfAttorneyModel.approver_and_signers.signer_accountant.first_name = this.accountantSelected.account.firstName;
			this.powerOfAttorneyModel.approver_and_signers.signer_accountant.middle_name = this.accountantSelected.account.middleName;
			this.powerOfAttorneyModel.approver_and_signers.signer_accountant.position = this.accountantSelected.position;
		},
		/**/
		getEmployeeList(){
			this.$axios.get(`/facture/employee/list/`)
				.then((res) => {
					this.employeeList = res.data;
					this.setApproverSigners();
				})
		},
		/**/
		setChairman(item){
			if (item){
				this.powerOfAttorneyModel.approver_and_signers.signer_director.last_name = item.account.lastName;
				this.powerOfAttorneyModel.approver_and_signers.signer_director.first_name = item.account.firstName;
				this.powerOfAttorneyModel.approver_and_signers.signer_director.middle_name = item.account.middleName;
				this.powerOfAttorneyModel.approver_and_signers.signer_director.position = item.position;
			}
		},
		/**/
		setAccountant(item){
			if (item){
				this.powerOfAttorneyModel.approver_and_signers.signer_accountant.last_name = item.account.lastName;
				this.powerOfAttorneyModel.approver_and_signers.signer_accountant.first_name = item.account.firstName;
				this.powerOfAttorneyModel.approver_and_signers.signer_accountant.middle_name = item.account.middleName;
				this.powerOfAttorneyModel.approver_and_signers.signer_accountant.position = item.position;
			}
		},
	}

}

</script>

<style scoped>

</style>
