<template>
	<div class="power-of-attorney-part1">
		<app-wrapper class="mt-4">
			<template #body>
				<div class="top-header-part">
					<v-row>
						<v-col md="5" class="py-1">
							<div class="d-flex w-100 justify-end align-center h-100">
								<span class="small-2 font-500">Доверенность №</span>
							</div>
						</v-col>
						<v-col md="7" class="py-1">
							<div class="d-flex w-300px">
								<v-text-field
									v-model="powerOfAttorneyModel.document.document_number"
									outlined
									hide-details
									background-color="var(--input-bg)"
									dense
								>
								</v-text-field>
							</div>
						</v-col>
					</v-row>

					<v-row>
						<v-col md="5" class="py-1">
							<div class="d-flex w-100 justify-end align-center h-100">
								<span class="small-2 font-500">Дата выдачи</span>
							</div>
						</v-col>
						<v-col md="7" class="py-1">
							<div class="d-flex w-300px">
								<app-date-picker
									v-model="powerOfAttorneyModel.document.document_date"
									with-input
									dense
									background-color="var(--input-bg)"
									class="w-100"
								/>
							</div>
						</v-col>
					</v-row>

					<v-row>
						<v-col md="5" class="py-1">
							<div class="d-flex w-100 justify-end align-center h-100">
								<span class="small-2 font-500">Доверенность действительна по</span>
							</div>
						</v-col>
						<v-col md="7" class="py-1">
							<div class="d-flex w-300px">
								<app-date-picker
									v-model="powerOfAttorneyModel.document.document_valid_date"
									with-input
									dense
									background-color="var(--input-bg)"
									class="w-100"
								/>
							</div>
						</v-col>
					</v-row>

					<v-row class="mt-8">
						<v-col md="5" class="py-1">
							<div class="d-flex w-100 justify-end align-center h-100">
								<span class="small-2 font-500">ИНН / ПИНФЛ Довереннего лица:</span>
							</div>
						</v-col>
						<v-col md="7" class="py-1">
							<div class="d-flex w-300px">
								<v-text-field
									v-model="powerOfAttorneyModel.document.deliverer_inn"
									:error="$v.powerOfAttorneyModel.document.deliverer_inn.$error"
									outlined
									hide-details
									background-color="var(--input-bg)"
									dense
								>
								</v-text-field>
								<app-button
									@click="getDelivererDetail"
									min-width="38px"
									height="38px"
									class="ml-2"
									:loading="loading"
								>
									<v-icon>
										mdi-magnify
									</v-icon>
								</app-button>
							</div>
						</v-col>
					</v-row>

					<v-row>
						<v-col md="5" class="py-1">
							<div class="d-flex w-100 justify-end align-center h-100">
								<span class="small-2 font-500">Доверенность выдана (ФИО)</span>
							</div>
						</v-col>
						<v-col md="7" class="py-1">
							<div class="d-flex w-300px">
								<v-text-field
									v-model="powerOfAttorneyModel.document.deliverer"
									outlined
									hide-details
									background-color="var(--input-bg)"
									dense
								>
								</v-text-field>
							</div>
						</v-col>
					</v-row>

					<div class="d-flex w-100 justify-center mt-8 mb-4">
						<span class="small-2 font-500">Материальных ценностей по</span>
					</div>

					<v-row>
						<v-col md="5" class="py-1">
							<div class="d-flex w-100 justify-end align-center h-100">
								<span class="small-2 font-500">Договор №</span>
							</div>
						</v-col>
						<v-col md="7" class="py-1">
							<div class="d-flex w-300px">
								<v-text-field
									v-model="powerOfAttorneyModel.document.contract_number"
									outlined
									hide-details
									background-color="var(--input-bg)"
									dense
								>
								</v-text-field>
							</div>
						</v-col>
					</v-row>

					<v-row>
						<v-col md="5" class="py-1">
							<div class="d-flex w-100 justify-end align-center h-100">
								<span class="small-2 font-500">Договор дата</span>
							</div>
						</v-col>
						<v-col md="7" class="py-1">
							<div class="d-flex w-300px">
								<app-date-picker
									v-model="powerOfAttorneyModel.document.contract_date"
									with-input
									dense
									background-color="var(--input-bg)"
									class="w-100"
								/>
							</div>
						</v-col>
					</v-row>
				</div>
			</template>
		</app-wrapper>
	</div>
</template>

<script>
import {mapState} from "vuex";
import { getReceiverDetails } from "../../../../../../../api/Facture/facture.api.service";
import { required } from "vuelidate/lib/validators";

export default {
	name: "Part1",
	data() {
		return {
			loading: false
		}
	},
	validations: {
		powerOfAttorneyModel: {
			document: {
				deliverer_inn: { required }
			}
		}
	},
	computed: {
		...mapState({
			powerOfAttorneyModel: state => state.facturePowerOfAttorney.powerOfAttorneyModel
		})
	},
	methods: {
		getDelivererDetail() {
			this.$v.$touch()

			if (this.$v.$invalid) {
				return;
			}
			this.loading = true;
			getReceiverDetails(this.powerOfAttorneyModel.document.deliverer_inn)
				.then(data => {
					if (data.Pinfl && data.CompanyName){
						this.powerOfAttorneyModel.document.deliverer = data.CompanyName
					}else {
						this.$toast.warning("По введенному ИНН/ПИНФЛ ничего не найдено!")
					}
					this.loading = false;
				})
				.catch(err => {
					this.loading = false;
				});
		}
	}
}
</script>

<style scoped>

</style>
