<template>
	<div class="power-of-attorney-index-view">
		<part1 />

		<part2 />

		<part3-table />

		<part4 />
	</div>
</template>

<script>
import Part1 from "./Part1.vue";
import Part2 from "./Part2.vue";
import Part3Table from "./Part3Table.vue";
import Part4 from "./Part4.vue";

export default {
	name: "PowerOfAttorneyRoamingBase",
	components: {
		Part1,
		Part2,
		Part3Table,
		Part4
	}
}
</script>

<style scoped>

</style>
