<template>
	<div class="detail-info-container">
		<v-expansion-panels v-model="panel" multiple flat>
			<v-expansion-panel>
				<v-expansion-panel-header class="pl-0">
					<span class="d-block font-600 small-3">Инфо</span>
				</v-expansion-panel-header>

				<v-expansion-panel-content>
					<div class="rounded-10 secondary-6 pa-5 mt-1">
						<v-row v-for="(item, index) in mergedDetail">
							<v-col md="6" class="py-2">
								<span class="font-500 small-3 opacity-70">{{ $t(item.text) }}</span>
							</v-col>

							<v-col md="6" class="py-2">
								<template>
									<slot :name="item.key" :value="item.value" :item="item">
										<span v-if="item.key === 'priority'" class="font-500 size-13">
											<ui-priority
												v-if="item.value"
												:text="item.value"
											/>
										</span>

										<span v-else-if="item.key === 'status'" class="font-500 size-13">
											<ui-status
												v-if="item.value"
												:text="item.value.name"
											/>
										</span>

										<span v-else-if="item.key === 'doc_type'" class="font-500 size-13">
											{{ item.value.name }}
										</span>

										<span v-else-if="['register_date', 'outgoing_date'].includes(item.key)" class="font-500 size-13">
											{{ item.value | filterDateMonthYear }}
										</span>

										<span v-else-if="item.key === 'correspondent'" class="font-500 size-13">
											{{ item.value.organization_name }}
										</span>

										<span v-else-if="item.key === 'review_users'" class="font-500 size-13">
											<ui-avatar-group
												:avatar-list="item.value"
											/>
										</span>

										<span v-else class="font-500 size-13">{{ item.value }}</span>
									</slot>
								</template>
							</v-col>
						</v-row>
					</div>
				</v-expansion-panel-content>
			</v-expansion-panel>
		</v-expansion-panels>
	</div>
</template>

<script>
export default {
	name: "DetailInfoContainer",
	props: {
		detail: {
			type: Array,
			default: () => [],
			required: true
		},
		apiUrl: {
			type: String,
			default: null,
			required: true
		}
	},
	data() {
		return {
			panel: [0],
			documentDetail: {}
		}
	},
	computed:{
		mergedDetail(){
			let arr = []
			this.detail.forEach(item => {
				for (let key in this.documentDetail){
					if (this.documentDetail.hasOwnProperty(key)){
						if (key === item.value){
							arr.push({
								text: item.text,
								key: item.value,
								value: this.documentDetail[key]
							})
						}
					}
				}
			})

			return arr
		}
	},
	mounted() {
		this.getDetail();
	},
	methods: {
		getDetail(){
			this.$axios.get(this.apiUrl + this.$route.params.id)
			.then(({ data }) => {
				this.documentDetail = data

				// this.detail.forEach(item => {
				// 	console.log(item.value)
				// })
				//
				// for (const key in data){
				// 	if (data.hasOwnProperty(key)){
				// 		console.log(key)
				// 	}
				// }
			})
		}
	}
}
</script>

<style>
.detail-info-container {
	height: calc(100vh - 180px);
	overflow-y: auto;
}
</style>
