<template>
	<div class="detail-container-view">
		<div class="d-flex">
			<app-wrapper class="aside-tree-new">
				<template #body>
					<span class="font-600 small-1">Дерево</span>

					<tree-view :api-url="apiUrlTree" />
				</template>
			</app-wrapper>

			<app-wrapper class="detail-container ml-4">
				<template #body>
					<span class="font-600 small-1">Документ</span>

					<detail-info-container
						:detail="indexTableCols"
						:api-url="apiUrl"
						class="mt-2"
					>
					</detail-info-container>

				</template>
			</app-wrapper>

			<app-wrapper class="flex-1 ml-4" style="width: 400px;">
				<template #body>
					Загрузки
					<pre>{{ $store.state.documentFlowIndex.treeUsers }}</pre>
				</template>
			</app-wrapper>
		</div>
	</div>
</template>

<script>
import DetailInfoContainer from "./DetailInfoContainer";
import TreeView from "../../../components/base/Treeview";

export default {
	name: "DetailContainer",
	props: {
		indexTableCols: {
			type: Array,
			default: () => [],
			required: true
		},
		apiUrl: {
			type: String,
			default: "",
			required: true
		},
		apiUrlTree: {
			type: String,
			default: "",
			required: true
		}
	},
	components: {
		DetailInfoContainer,
		TreeView
	}
}
</script>

<style scoped>

</style>
