<template>
	<div class="register-button-view">
		<v-menu
			offset-y
			content-class="register-button-view-menu"
		>
			<template v-slot:activator="{ attrs, on }">
				<app-button
					height="32"
					color="primary"
					v-bind="attrs"
					v-on="on"
				>
					<template #prepend>
						<v-icon size="16">{{ "$vuetify.icons.PlusIcon" }}</v-icon>
					</template>

					<template #default>
						<span class="size-13 font-400">{{$t('document-flow.views.registration.registration')}}</span>
					</template>
				</app-button>
			</template>

			<v-list class="custom-register-button-list">
				<v-list-item
					@click="routeTo(item)"
					v-for="item in registrationJournalList.filter(menu => menu.role.some(role => currentUser.roles.includes(role)))"
					:key="item.id"
					link
					dense
				>
					<v-icon size="15" class="mr-2">{{ item.icon }}</v-icon>
					<v-list-item-title class="list-item-text size-13">{{ item.title }}</v-list-item-title>
				</v-list-item>
			</v-list>
		</v-menu>
	</div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
	name: "RegisterButton",
	data() {
		return {
			registrationJournalList: [
				{
					id: 1,
					title: "Входящие",
					url: "DocumentFlowIncomingRegistrationFormCreate",
					icon: '$vuetify.icons.DirectInboxIcon',
					role: ["admin", "chancellery", "assistant", "chancellery_admin", "filial_chancellery", "call_center"],
					count: null
				},
				{
					id: 3,
					title: "Внутренние",
					url: "DocumentFlowInnerRegistrationFormCreate",
					icon: '$vuetify.icons.DirectNotifyIcon',
					role: ["admin", "department_employee", "chancellery", "hr_manager", "filial_hr_manager", "assistant", "chancellery_admin", "filial_chancellery"],
					count: null
				},
				{
					id: 4,
					title: "Исходящие",
					url: "DocumentFlowOutgoingRegistrationFormCreate",
					icon: '$vuetify.icons.DirectSendIcon',
					role: ["admin", "chancellery", "assistant", "chancellery_admin", "filial_chancellery"],
					count: null
				},
				{
					id: 5,
					title: "Обращения",
					url: "DocumentFlowAppealRegistrationFormCreate",
					icon: '$vuetify.icons.DirectIcon',
					role: ["admin", "chancellery", "assistant", "chancellery_admin", "filial_chancellery", "call_center"],
					count: null
				},
				{
					id: 2,
					title: "Call-центр обращения",
					url: "DocumentFlowCallCenterAppealRegistrationFormCreate",
					icon: '$vuetify.icons.DirectIcon',
					role: ["admin", "call_center"],
					count: null
				},
				{
					id: 6,
					title: "Приказы и распоряжения",
					url: "DocumentFlowOrdersProtocolsRegistrationFormCreate",
					icon: '$vuetify.icons.SmsStarIcon',
					role: ["admin", "chancellery", "hr_manager", "filial_hr_manager", "assistant", "chancellery_admin", "filial_chancellery", "deputy_chair", "credit_committee"],
					count: null
				},
				{
					id: 88,
					title: "Входящие от филиалов",
					url: "DocumentFlowIncomingRegistrationFormCreate",
					icon: '$vuetify.icons.SmsNotificationIcon',
					role: ["admin", "filial_chancellery", "chancellery", "assistant", "chancellery_admin"],
					count: null
				},
				{
					id: 7,
					title: "Заявления",
					url: "DocumentFlowIncomingRegistrationFormCreate",
					icon: '$vuetify.icons.ClipboardTextIcon',
					count: null,
					role: ["admin", "hr_manager", "filial_hr_manager"]
				},
				{
					id: 8,
					title: "XDFU",
					url: "DocumentFlowSecretDocumentsRegistrationFormCreate",
					icon: '$vuetify.icons.DirectInboxIcon',
					role: ["admin", "xdfu_manager"],
					count: null
				},
			]
		}
	},
	computed: {
		...mapGetters({
			currentUser: "auth/getCurrentUser"
		})
	},
	/**/
	methods: {
		routeTo(item){
			console.log(item)
			// { name: item.url, params: { id: item.id }}
			this.$router.push({
				name: item.url,
				params: { id: item.id }
			})
		}
	}
}
</script>

<style>
.register-button-view-menu {
	border-radius: 4px!important;
}

.custom-register-button-list .v-list-item--link:before {
	background: none;
	opacity: unset;
}

.custom-register-button-list .v-list-item:hover {
	box-sizing: border-box;
	border-top: 1px solid var(--primary-1);
	border-bottom: 1px solid var(--primary-1);
	height: 36px!important;
}

.custom-register-button-list .v-list-item:hover .v-list-item__title{
	color: var(--primary-1);
}
.custom-register-button-list .v-list-item:hover .v-icon{
	color: var(--primary-1);
}

.list-item-text{
	color: #A8A9BA;
	font-weight: 400!important;

}

.custom-register-button-list {
	padding: 20px;
}
</style>
