<template>
	<div v-if="visible">
		<app-button
			color="warning"
			min-height="36"
			height="36"
			:to="{ name: this.routeName, params: { id: $route.params.id } }"
		>
			<template #prepend>
				<edit3-icon size="20" />
			</template>
			{{$t('control-tasks.tasks.edit')}}
		</app-button>
	</div>
</template>

<script>
import { Edit3Icon } from "vue-feather-icons";
import {mapGetters} from "vuex";

export default {
	name: "UpdateButton",
	props: {
		routeName: {
			type: String,
			default: "IncomingDocumentRegistrationFormShow"
		},
		roles: {
			type: Array,
			default: () => []
		}
	},
	components: {
		Edit3Icon
	},
	computed: {
		...mapGetters({
			currentUser: "auth/getCurrentUser",
		}),
		/**/
		visible() {
			return this.roles.some(role => this.currentUser?.roles.includes(role)) && this.$route.query.condition !== 'for_watching_process';
		}
	}
}
</script>



<style scoped>

</style>
