<template>
	<div class="application-list-view d-flex align-center justify-center h-100">
		<app-loader v-if="getLoading" content-width :size="58"/>

		<template v-else>
			<div class="d-flex mt-5 overflow-hidden w-100 h-100">
				<div class="d-flex flex-column p-relative w-100">
					<div class="d-flex flex-column h-100 bg-4 rounded-20 pa-1 overflow-hidden h-100">
						<perfect-scrollbar class="d-flex flex-column flex-1 h-100">
							<app-table
								bordered
								:table-width="1800"
							>
								<template #tableHeader>
									<th>{{$t('document-flow.views.registration.document-type')}}</th>
									<th>{{$t('document-flow.views.registration.registration-date')}}</th>
									<th>{{$t('document-flow.views.registration.correspondent')}}</th>
									<th>{{$t('document-flow.views.registration.author')}}</th>
									<th>{{$t('document-flow.views.registration.for-consideration')}}</th>
									<th v-if="currentUser.role === 'admin'">{{$t('document-flow.views.registration.action')}}</th>
								</template>
								<template #tableBody>
									<template v-if="applicationsList && applicationsList.length">
										<template v-for="document in applicationsList">
											<tr @click.prevent="canRouteNext('ApplicationsShowView', document)">
												<td>
													<div class="text-decoration-none text-dark font-500">
														{{ document.doc_type.name }}
													</div>
												</td>
												<td>
													<div class="text-decoration-none text-dark font-500">
														{{ document.register_date | filterCalendarToTime }}
													</div>
												</td>
												<td>
													<v-tooltip top>
														<template v-slot:activator="{ on, attrs }">
                              <span
	                              v-bind="attrs"
	                              v-on="on"
                              >
                                <span
	                                class="text-decoration-none text-dark font-500 line-truncate"
                                >
                                  {{ document.correspondent && document.correspondent.organization_name }}
                                </span>
                              </span>
														</template>

														<span>{{ document.correspondent && document.correspondent.organization_name }}</span>
													</v-tooltip>
												</td>
												<td><app-avatar-group list-type="author" :avatar-list="[{ user: document.author }]" /></td>
												<td><app-avatar-group list-type="review_users" :avatar-list="document.review_users" /></td>
												<td v-if="currentUser.role === 'admin'">
													<app-button
														@click="deleteRow($event, document.id)"
														icon
														min-width="40"
														width="40"
														height="40"
														color="var(--primary-4)"
													>
														<trash2-icon size="18" />
													</app-button>
												</td>
											</tr>
										</template>
									</template>
									<template v-else>
										<tr class="table-not-found">
											<td colspan="12">
												<div class="pa-4 text-center">
													<h2 class="font-600">{{$t('document-flow.views.registration.nothing-yet')}}</h2>
												</div>
											</td>
										</tr>
									</template>
								</template>
							</app-table>
						</perfect-scrollbar>
						<div class="d-flex align-center justify-space-between py-2 px-4 border-top">
              <span class="small-2 font-500 text-dark">
<!--                1-10 из 195 позиций-->
              </span>

							<app-pagination @emit:up="paginate" />
						</div>
					</div>
				</div>
			</div>
		</template>
	</div>
</template>

<script>
import { Trash2Icon } from "vue-feather-icons";
import { mapActions, mapGetters, mapState } from "vuex";

export default {
	name: "index",
	components: {
		Trash2Icon
	},
	computed: {
		...mapState({
			filteredState: state => state.headerFilter.filteredState,
			filterPagination: state => state.headerFilter.pagination,
		}),
		/**/
		...mapGetters({
			getLoading: "documentFlowModule/getIsListLoading",
			applicationsList: "documentFlowModule/getApplicationsList",
			docTypeCorrespondList: "documentFlowModule/getDocTypeCorrespondList",
			currentUser: "auth/getCurrentUser",
			getHeaderFilters: "documentFlowModule/getHeaderFilters",
		}),
	},
	methods: {
		...mapActions({
			fetchApplicationsList: "documentFlowModule/fetchApplicationsList",
			fetchDocTypeCorrespondList: "documentFlowModule/fetchDocTypeCorrespondList",
			fetchDeleteRow: "documentFlowModule/deleteRow",
			fetchClearHeaderFilter: "documentFlowModule/fetchClearHeaderFilter",
		}),
		/**/
		canRouteNext(route, params) {
			this.$router.push({
				name: route,
				params: { id: params.id }
			})
		},
		/**/
		deleteRow(event, id){
			event.stopImmediatePropagation();
			if(!confirm(this.$t('document-flow.views.registration.delete-description'))) {
				return
			}
			let payload = {
				apiUrl: `/docflow/${this.$store.getters['auth/getCurrentUser'].filial}/inner_doc/${id}/`
			}

			this.fetchDeleteRow(payload).then(() => {
				this.$toast.success($t('document-flow.views.registration.deleted'));
				this.fetchApplicationsList(this.filteredState)
			})
		},
		/**/
		paginate(value){
      let query = {
        ...this.filteredState,
        page: value,
        // register_start_date: this.getHeaderFilters.register_start_date
      }

			this.filterPagination.page = value

			this.$router.replace({
				query: query
			}).catch(() => {})

			this.fetchApplicationsList({
				...query
			})
		}
	}
}
</script>

<style scoped>

</style>
