<template>
	<div class="d-flex flex-column p-relative">
		<app-loader v-if="getLoading" full-width :size="58" />

		<template v-else>
			<div class="d-flex flex-column h-100 bg-4 rounded-20 pa-1 overflow-hidden h-100">
				<perfect-scrollbar class="d-flex flex-column flex-1 h-100">
					<app-table
						:table-width="1700"
					>
						<template #tableHeader>
							<th></th>
							<th>{{$t('document-flow.views.boxes.journal')}}</th>
							<th>{{$t('document-flow.views.boxes.receipt-date')}}</th>
							<th>{{$t('document-flow.views.boxes.registration-date')}}</th>
							<th>{{$t('document-flow.views.boxes.registration-number')}}</th>
							<th>{{$t('document-flow.views.boxes.outgoing-number')}}</th>
							<th>{{$t('document-flow.views.boxes.type')}}</th>
							<th>{{$t('document-flow.views.boxes.deadline')}}</th>
							<th width="400">{{$t('document-flow.views.boxes.correspondent')}}</th>
							<th>{{$t('document-flow.views.boxes.for-consideration')}}</th>
							<th></th>
						</template>

						<template #tableBody>
							<template v-if="getInboxList.length">
								<template v-for="document in getInboxList">
									<tr
										:key="document.id"
										:class="[{ 'font-weight-bold': document.is_read === false  }]"
										v-if="document.controller && document.controller.id === currentUser.id"
									>
										<td>
											<app-tooltip top>
												<template #content>
													<router-link
														:to="{
															name: 'InboxFormShow',
															params: {
																id: document.id,
																type: document.document.journal.id
															},
															query: {
																route: 'control',
																page: filterPagination.page
															}
														}"
														class="d-flex align-center h-100 text-decoration-none text-dark"
													>
														<div class="level-block p-relative">
															<div
																class="level-block__before p-absolute rounded-20"
																:class="[
																	{'error-bg': document.document.priority === 'high'},
																	{'error-bg': document.document.priority === 'critical'},
																	{'warning-bg': document.document.priority === 'medium'},
																	{'success-bg': document.document.priority === 'low'},
																]"
															></div>
														</div>
													</router-link>
												</template>
												<template #text>
													{{ document.__priorityText }}
												</template>
											</app-tooltip>
										</td>
										<td>
											<router-link
												:to="{
													name: 'InboxFormShow',
													params: {
														id: document.id,
														type: document.document.journal.id
													},
													query: {
														route: 'control',
														page: filterPagination.page
													}
												}"
												class="d-flex align-center h-100 text-decoration-none text-dark"
											>
												{{ document.document.journal.name }}
											</router-link>
										</td>
										<td>
											<router-link
												:to="{
													name: 'InboxFormShow',
													params: {
														id: document.id,
														type: document.document.journal.id
													},
													query: {
														route: 'control',
														page: filterPagination.page
													}
												}"
												class="d-flex align-center h-100 text-decoration-none text-dark"
											>
												{{ document.receipt_date && document.receipt_date | filterCalendarToTime }}
											</router-link>
										</td>
										<td>
											<router-link
												:to="{
													name: 'InboxFormShow',
													params: {
														id: document.id,
														type: document.document.journal.id
													},
													query: {
														route: 'control',
														page: filterPagination.page
													}
												}"
												class="d-flex align-center h-100 text-decoration-none text-dark"
											>
												{{ document.document && document.document.register_date | filterCalendarToTime }}
											</router-link>
										</td>
										<td>
											<router-link
												:to="{
													name: 'InboxFormShow',
													params: {
														id: document.id,
														type: document.document.journal.id
													},
													query: {
														route: 'control',
														page: filterPagination.page
													}
												}"
												class="d-flex align-center h-100 text-decoration-none text-dark"
											>
												{{ document.document && document.document.register_number }}
											</router-link>
										</td>
										<td>
											<router-link
												:to="{
													name: 'InboxFormShow',
													params: {
														id: document.id,
														type: document.document.journal.id
													},
													query: {
														route: 'control',
														page: filterPagination.page
													}
												}"
												class="d-flex align-center h-100 text-decoration-none text-dark"
											>
												{{ document.document && document.document.outgoing_number }}
											</router-link>
										</td>
										<td>
											<router-link
												:to="{
													name: 'InboxFormShow',
													params: {
														id: document.id,
														type: document.document.journal.id
													},
													query: {
														route: 'control',
														page: filterPagination.page
													}
												}"
												class="d-flex align-center h-100 text-decoration-none text-dark"
											>
												<v-chip
													color="primary"
													text-color="white"
													style="font-size: 12px"
												>
													<span class="white--text font-500">
														{{ document.type === "assignment"
														? $t('document-flow.views.boxes.order')
														: document.type === "control_point"
															? $t('document-flow.views.boxes.check-point')
															: $t('document-flow.views.boxes.type-not-selected')
														}}
													</span>
												</v-chip>
											</router-link>
										</td>
										<td>
											<router-link
												:to="{
													name: 'InboxFormShow',
													params: {
														id: document.id,
														type: document.document.journal.id
													},
													query: {
														route: 'control',
														page: filterPagination.page
													}
												}"
												class="d-flex align-center h-100 text-decoration-none text-dark"
											>
												{{ document.assignment && document.assignment[0].deadline }}
											</router-link>
										</td>
										<td>
											<router-link
												:to="{
													name: 'InboxFormShow',
													params: {
														id: document.id,
														type: document.document.journal.id
													},
													query: {
														route: 'control',
														page: filterPagination.page
													}
												}"
												class="d-flex align-center h-100 text-decoration-none text-dark"
											>
												{{ document.document.correspondent && document.document.correspondent.organization_name }}
											</router-link>
										</td>
										<td>
											<router-link
												:to="{
													name: 'InboxFormShow',
													params: {
														id: document.id,
														type: document.document.journal.id
													},
													query: {
														route: 'control',
														page: filterPagination.page
													}
												}"
												class="d-flex align-center h-100 text-decoration-none text-dark"
											>
												<app-avatar-group list-type="review_users" :avatar-list="document.document.review_users" />
											</router-link>
										</td>
										<td>
											<template v-if="document.document.condition">
												<app-tooltip top>
													<template #content>
														<alert-circle-icon :color="document.document.condition === 'three_days_left' ? '#fbac00': document.document.condition === 'performed' ? '#00860c' : '#8e0000'" />
													</template>
													<template #text>
														{{ document.document.condition === 'three_days_left' ? $t('document-flow.views.boxes.three-days-left'): document.document.condition === 'performed' ? $t('document-flow.views.boxes.done') : $t('document-flow.views.boxes.overdue-completed') }}
													</template>
												</app-tooltip>
											</template>
										</td>
									</tr>
								</template>
							</template>

							<template v-else>
								<tr>
									<td colspan="10">
										<p class="heading-9 font-500 mb-0 text-center py-4">
											{{$t('document-flow.views.boxes.nothing-yet')}}
										</p>
									</td>
								</tr>
							</template>
						</template>
					</app-table>
				</perfect-scrollbar>
			</div>
		</template>

		<app-pagination @emit:up="paginate" class="mt-3" />
	</div>
</template>

<script>
import { AlertCircleIcon } from "vue-feather-icons";
import { mapActions, mapGetters, mapState } from "vuex";

export default {
	name: "TableType",
	components: {
		AlertCircleIcon
	},
	computed: {
    ...mapState({
      filteredState: state => state.headerFilter.filteredState,
      filterPagination: state => state.headerFilter.pagination,
    }),
    /*
    *
    * */
		...mapGetters({
			currentUser: "auth/getCurrentUser",
			getLoading: "getLoading",
			getInboxList: "documentFlowModule/getInboxList"
		})
	},
	// created() {
	// 	this.fetchInboxListAll({ status: this.$route.query.status ? this.$route.query.status : null })
	// },
	methods: {
		...mapActions({
			fetchInboxListAll: "documentFlowModule/fetchInboxListAll",
		}),
		/*
		*
		* */
		paginate(value) {
      let query = { ...this.filteredState, page: value }
      this.filterPagination.page = value

      console.log(this.filterPagination);

      this.$router.replace({
        query: query
      }).catch(() => {})

			this.fetchInboxListAll({
        ...query,
        controller: this.currentUser.id
			})
		}
	}
}
</script>

<style scoped>

</style>
