<template>
	<div class="document-form-modal">
		<v-dialog
			content-class="shadow-5"
			v-model="dialog"
			max-width="1600"
			min-width="1000"
			persistent
		>
			<div class="bg-4 pa-9">
				<div class="d-flex align-center justify-space-between">
					<div class="d-flex align-center">
						<h6 class="heading-10 font-500 opacity-50">{{ $t('document_list2') }}</h6>
						<v-icon>mdi-chevron-right</v-icon>
						<h6 class="heading-10 font-500">{{ user && user.full_name }}</h6>
					</div>

					<app-button
						@click="closeModal"
						icon
						color="error"
						rounded
						width="45"
						min-width="45"
						height="45"
					>
						<x-icon/>
					</app-button>
				</div>

				<v-row class="mt-4">
					<v-col md="4">
						<v-file-input
							@change="uploadFiles"
							@click:clear="clearFiles"
							:multiple="false"
							prepend-inner-icon="mdi-paperclip"
							prepend-icon=""
							outlined
							hide-details
							background-color="var(--input-bg)"
							:placeholder="$t('document-flow.views.registration.attach-file')"
							ref="fileUpload"
						>
						</v-file-input>
					</v-col>

					<v-col md="4">
						<v-select
							v-model="$v.docTypeSelected.$model"
							:error="$v.docTypeSelected.$error"
							:items="docTypeList"
							item-text="field_name"
							item-value="field_name"
							outlined
							background-color="var(--input-bg)"
							hide-details
							:placeholder="$t('user-profile.views.name')"
						/>
					</v-col>

					<v-col md="4">
						<app-button
							height="52"
							@click="add"
							:loading="buttonLoading"
						>
							<template #prepend>
								<plus-circle-icon size="18" />
							</template>

							{{ $t('components.base.add') }}
						</app-button>
					</v-col>
				</v-row>

				<v-divider class="my-4" />

				<template v-if="loading">
					<div class="py-8">
						<app-loader component-based :size="30" />
					</div>
				</template>

				<template v-else>
					<template v-if="files.length">
						<v-row>
							<v-col v-for="item in files" md="2" class="pa-2">
								<div class="d-flex flex-column pa-6 border-all rounded-10 justify-center align-center">
									<file-text-icon size="35" color="var(--primary-1)"/>
									<div>
										<span class="small-3 line-base-1 line-truncate mt-4">{{ item.given_name ? item.given_name : item.name }}</span>
									</div>
									<div @click="deleteFile(item)" class="d-flex w-100 justify-end pointer">
										<trash2-icon size="18" color="var(--primary-4)"/>
									</div>
								</div>
							</v-col>
						</v-row>

						<div class="d-flex w-100 mt-4 justify-end">
							<app-button
								v-if="formType === 'create'"
								@click="send"
								:loading="button2Loading"
							>
								{{ $t('control-tasks.tasks.send') }}
								<template #prepend>
									<v-icon size="15">mdi-send</v-icon>
								</template>
							</app-button>

							<app-button
								v-else
								@click="update"
								:loading="button2Loading"
							>
								{{ $t('dashboard.components.refresh') }}
								<template #prepend>
									<v-icon size="15">mdi-pencil-outline</v-icon>
								</template>
							</app-button>
						</div>
					</template>
				</template>
			</div>
		</v-dialog>
	</div>
</template>

<script>
import { FileTextIcon, PlusCircleIcon, Trash2Icon, XIcon } from "vue-feather-icons";
import { required } from "vuelidate/lib/validators";
export default {
	name: "DocumentFormModal",
	components: {
		FileTextIcon,
		PlusCircleIcon,
		Trash2Icon,
		XIcon
	},
	data() {
		return {
			formType: "create",
			dialog: false,
			user: null,
			file: null,
			files: [],
			buttonLoading: false,
			button2Loading: false,
			loading: false,

			docTypeSelected: null,
			docTypeList: []
		}
	},
	validations: {
		docTypeSelected: { required }
	},
	mounted() {
		this.getFieldNames();
	},
	methods: {
		send(){
			this.button2Loading = true;
			let files = [];
			this.files.forEach(item => {
				files.push({
					id: item.id
				})
			})

			this.$axios.post(`/user-documents/`, {
				user: this.user.id,
				files
			})
				.then(({ data }) => {
					this.button2Loading = false;
					this.$toast.success('Yuborildi!');
					this.dialog = false;
				})
				.catch(err => {
					this.button2Loading = false;
				})
		},
		/**/
		update(){
			this.button2Loading = true;
			let files = [];
			this.files.forEach(item => {
				files.push({
					id: item.id
				})
			})

			this.$axios.put(`/user-documents/${this.user.id}/`, {
				user: this.user.id,
				files
			})
				.then(({ data }) => {
					this.button2Loading = false;
					this.$toast.success('Yangilandi!');
					this.dialog = false;
				})
				.catch(err => {
					this.button2Loading = false;
				})
		},
		add(){
			this.$v.$touch();

			if (this.$v.$invalid) {
				this.$toast.warning(this.$t('auth.enter-phone.required-field'))
				return;
			}
			if (this.file){
				const { fileUpload } = this.$refs;
				this.buttonLoading = true;
				let formData = new FormData();
				formData.append("file", this.file);
				formData.append("given_name", this.docTypeSelected)
				return new Promise((resolve) => {
					this.$axios.post(`/upload/`, formData, {

					})
						.then(({ data }) => {
							this.files.push(data);
							this.buttonLoading = false;
							this.file = null;
							this.docTypeSelected = null;
							fileUpload.reset();
						})
						.catch(err => {
							console.log(err);
							this.buttonLoading = false;
							this.file = null;
							this.docTypeSelected = null;
						})
				})
			}else {
				this.$toast.warning("Fayl yuklang!")
			}
		},
		closeModal(){
			this.dialog = false
		},
		/**/
		uploadFiles(file){
			this.file = file
		},
		/**/
		clearFiles(){

		},
		/**/
		deleteFile(item){
			let index = this.files.findIndex(x => x.id === item.id);
			this.files.splice(index, 1)
		},
		/**/
		getPersonalDocuments(user_id) {
			this.loading = true;
			this.$axios.get(`/user-documents/${user_id}/`, { params: { page_size: 100 } })
				.then(({ data }) => {
					this.files = data.files;
					this.loading = false;
				})
				.catch(err => {
					this.loading = false;
					console.log(err)
				})
		},
		/**/
		getFieldNames(){
			this.$axios.get(`/action/field-names/`, {
				params: {
					code: "user_document",
					page_size: 100
				}
			})
				.then(({ data }) => {
					this.docTypeList = data.results;
				})
		}
	}
}
</script>

<style scoped>

</style>
