<template>
	<div class="personal-documents-modal">
		<v-dialog
			content-class="shadow-5"
			v-model="dialog"
			max-width="1600"
			min-width="1000"
			@click:outside="closeModal"
		>
			<div class="bg-4 pa-9">
				<div class="d-flex align-center justify-space-between">
					<div class="d-flex align-center">
						<h6 class="heading-10 font-500 opacity-50">{{ $t('document_list2') }}</h6>
						<v-icon>mdi-chevron-right</v-icon>
						<h6 class="heading-10 font-500">{{ user.full_name }}</h6>
					</div>

					<app-button
						@click="closeModal"
						icon
						color="error"
						rounded
						width="45"
						min-width="45"
						height="45"
					>
						<x-icon/>
					</app-button>
				</div>

				<v-divider class="my-8"/>

				<template v-if="loading">
					<div class="py-8">
						<app-loader component-based :size="30" />
					</div>
				</template>

				<template v-else>
					<template v-if="files.length">
						<v-row class="mt-4">
							<v-col v-for="item in files" md="2" class="pa-2">
								<div class="d-flex flex-column pa-6 border-all rounded-10 justify-center align-center">
									<file-text-icon size="35" color="var(--primary-1)"/>
									<span class="small-3 line-base-1 line-truncate mt-4">{{ item.given_name ? item.given_name : item.name }}</span>
									<div class="d-flex w-100 justify-center mt-2 align-center">
										<v-btn
											icon
											color="warning"
											link
											target="_blank"
											:href="item.url"
										>
											<eye-icon size="18" />
										</v-btn>
										<v-btn
											@click="download(item)"
											icon
											color="primary"
											link
										>
											<download-icon size="18" />
										</v-btn>
									</div>
								</div>
							</v-col>
						</v-row>
					</template>
					<template v-else>
						<div class="d-flex w-100 justify-center align-center py-8">
							<span>{{ $t('document-flow.views.boxes.nothing-found') }}!</span>
						</div>
					</template>
				</template>
			</div>
		</v-dialog>
	</div>
</template>

<script>
import { XIcon, FileTextIcon, DownloadIcon, EyeIcon } from "vue-feather-icons";
import { saveAs } from 'file-saver';

export default {
	name: "PersonalDocumentsModal",
	components: {
		FileTextIcon,
		XIcon,
		DownloadIcon,
		EyeIcon
	},
	data() {
		return {
			dialog: false,
			user: {},
			loading: false,
			files: []
		}
	},
	methods: {
		closeModal() {
			this.dialog = false
		},
		/**/
		getPersonalDocuments(user_id){
			this.loading = true;
			this.$axios.get(`/user-documents/${user_id}/`, { params: { page_size: 100 } })
				.then(({ data }) => {
					this.files = data.files;
					this.loading = false;
				})
				.catch(err => {
					this.loading = false;
					console.log(err)
				})
		},
		/**/
		download(item){
			saveAs(item.url, item.given_name ? item.given_name : item.name)
		}
	}
}
</script>

<style>
.document-text:hover{
	color: var(--primary-1)
}
</style>
