<script>
export default {
	name: "BaseTemplate",
	props: {
		component: {
			type: String,
			required: true,
			default: 'ReferenceTemplate'
		},
		model: {
			type: Object,
			default:() => {}
		},
		preview: {
			type: Boolean,
			default: false
		}
	},
	data:() => ({
		loadedComponent: null
	}),
	watch: {
		component: {
			immediate: true,
			handler(newComponent) {
				this.loadComponent(newComponent)
			}
		}
	},
	methods: {
		async loadComponent(name) {
			try {
				const componentModule = await import(`./${name}.vue`)
				this.loadedComponent = componentModule.default
			} catch (error) {
				console.error(`Failed to load component: ${name}`, error)
			}
		}
	}
}
</script>

<template>
	<div class="base-template-component">
		<component
			:is="loadedComponent"
			:model="model"
			:preview="preview"
		>
			<!-- Pass named slots to the dynamically loaded component -->
			<template v-if="$slots.text" #text>
				<slot name="text"></slot>
			</template>
		</component>
	</div>
</template>

<style scoped>

</style>