<script>
import { mapGetters } from "vuex"
import QrcodeVue from "qrcode.vue"
import { DownloadCloudIcon } from "vue-feather-icons"

export default {
	name: "ReferenceTemplate",
	components: {
		QrcodeVue,
		DownloadCloudIcon
	},
	props: {
		model: {
			type: Object,
			default:() => {}
		},
		preview: {
			type: Boolean,
			default: false
		}
	},
	data:() => ({
		loading: false
	}),
	computed: {
		...mapGetters({
			currentUser: "auth/getCurrentUser",
			filialList: "documentFlowModule/getFilialList"
		}),
		authorFilial() {
			return this.preview ? this.filialList.find(filial => filial.mfo === this.currentUser.filial) : this.model.filial
		},
		registerNumberDate() {
			if (this.model.register_date && this.model.register_number) {
				return `№-${this.model.register_number},  ${this.$options.filters.filterDateMonthYear(this.model.register_date)} y`
			} else {
				return `№-______,  __.__.____ y`
			}
		},
		signed_by() {
			return this.preview ? this.model.__signed_by : this.model.signed_by.map(item => ({ ...item, ...item.user }))
		},
		author() {
			return this.preview ? this.currentUser : this.model.author
		}
	},
	methods: {
		download() {
			this.loading = !this.loading

			this.$axios.get(`/check/document/${this.model.check_id}/`)
				.then(({data}) => {
					saveAs(`https://portal-drive.asakabank.uz/media${data.file && data.file.file}`, "Ma'lumotnoma.pdf")

					this.loading = false
				})
				.catch(() => {
					this.loading = false
				})
		},
	}
}
</script>

<template>
	<div class="reference-template-component w-100 d-flex flex-column justify-space-between" style="min-height: calc(100vh - 200px)">
		<div>
			<div class="d-flex">
				<div class="d-flex flex-column">
					<img src="/img/document-logo.svg" alt="Logo Asakabank" class="mb-4">
				</div>

				<div class="d-flex flex-column ml-16 w-100">
					<div class="pl-4 line-base d-flex flex-column" style="border-left: 2px solid red">
						<span class="small-3 mb-1">"Asakabank" Aksiyadorlik jamiyati</span>
						<span class="tiny font-400 text-dark">{{ authorFilial.address }}</span>
					</div>

					<div class="brand-actions-for-outgoing mt-5 d-flex align-center gap-x-5 w-100">
						<div class="d-flex align-center gap-x-1">
							<v-icon color="#BBBBBB" size="15">mdi-phone-in-talk-outline</v-icon>
							<span class="x-tiny text-black font-400">{{ authorFilial.phone }}</span>
						</div>
						<div class="d-flex align-center gap-x-1">
							<v-icon color="#BBBBBB" size="15">mdi-web</v-icon>
							<span class="x-tiny text-black font-400">{{ authorFilial.website }}</span>
						</div>
						<div class="d-flex align-center gap-x-1">
							<v-icon color="#BBBBBB" size="15">mdi-email-outline</v-icon>
							<span class="x-tiny text-black font-400">{{ authorFilial.email }}</span>
						</div>
					</div>
					<span class="x-tiny font-400 mt-2">{{$t('components.obligation-text')}}</span>
				</div>
			</div>

			<div>
				<h5 class="small-2 line-base mt-1">Hujjat ID - {{ model.id }}</h5>

				<div class="d-flex flex-column mt-4">
					<span class="mr-2 small-3 font-600 text-dark">{{ registerNumberDate }}</span>
				</div>
			</div>

			<div class="d-flex justify-center small-1 font-600 my-4">
				MA'LUMOTNOMA
			</div>

			<div
				class="size-13 text-dark font-500 text-justify"
				style="line-height: 20px; text-indent: 30px; min-height: 200px"
			>
				<slot name="text" v-if="$slots.text"></slot>
				<span v-else v-html="model.text"></span>
			</div>

			<div v-for="(item, index) in signed_by" :key="index" class="d-flex align-center justify-space-between text-dark size-13 mb-1 px-4 font-600">

				<span style="flex-basis: 250px">{{ item.top_level_dept_name }} {{ item.position }}</span>

				<span class="my-4">
        <qrcode-vue
	        v-if="item.is_signed === true && model.check_id"
	        ref="qrCode"
	        :value="'https://check.asakabank.uz/document/'+ model.check_id"
	        size="60"
	        level="L"
	        render-as="svg"
        />
      </span>

				<span>{{ item.first_name && item.first_name | getFirstCharacter }} {{ item.last_name }}</span>
			</div>
		</div>

		<div
			class="d-flex justify-end"
		>
			<app-button
				v-if="model.is_signed && $route.name === 'SendingDocumentsShow'"
				:loading="loading"
				@click="download"
			>
				<template #prepend>
					<download-cloud-icon size="18" class="mr-1"/>
				</template>
				{{$t('components.download')}}
			</app-button>

		</div>

<!--		<div class="mt-auto d-flex align-end pt-10 small-3 font-600">
			<div class="d-flex flex-column">
				<span>{{$t('components.executive')}} {{ author.first_name && author.first_name | getFirstCharacter }} {{ author.last_name && author.last_name }}</span>

				<span>{{$t('components.tel')}} +998 78 147 65 65 ({{ author.cisco }})</span>
			</div>
		</div>-->


<!--		<pre>{{ signed_by }}</pre>-->
<!--		<pre>{{ author }}</pre>-->
	</div>
</template>

<style scoped>

</style>