<script>
import SurveyFormWrapper from "./components/SurveyFormWrapper.vue"
import { FORM_TYPES } from "../../../../common/enums/notificationTypes"

export default {
	name: "SurveyUpdate",
	computed: {
		FORM_TYPES() {
			return FORM_TYPES
		}
	},
	components: {
		SurveyFormWrapper
	}
}
</script>

<template>
	<survey-form-wrapper :form-type="FORM_TYPES.UPDATE" />
</template>

<style scoped>

</style>