<script>
import { mapActions, mapState } from "vuex"
import BackButtonV3 from "../../../components/BackButtonV3.vue"
import VueApexCharts from "vue-apexcharts"

export default {
	name: "SurveyStatistics",
	components: {BackButtonV3, VueApexCharts},
	data:() => ({
		dialog: false,
		responses: [],
		responseLoading: false
	}),
	computed: {
		...mapState({
			surveyDetailLoading: state => state.hrSurvey.surveyDetailLoading,
			surveyReport: state => state.hrSurvey.surveyReport,
		})
	},
	methods: {
		...mapActions({
			actionGetSurveyReport: "hrSurvey/actionGetSurveyReport"
		}),
		/** **/
		openTextAnswers(question) {
			this.responses = question.input_type === 'text' ? question.responses : question.other_responses
			this.dialog = true
		},
		/** **/
		exportToExcel() {
			this.responseLoading = true

			this.$axios.get(`/survey/${this.$route.params.id}/export/`, { responseType: "blob" })
				.then(response => {
					const url = window.URL.createObjectURL(new Blob([response?.data]))
					const fileName = `Отчеты-${new Date()
						.toISOString()
						.replace(/T/, "-")
						.replace(/:/, "-")
						.slice(0, 16)}.xls`

					const link = document.createElement("a")
					link.href = url;
					link.setAttribute("download", fileName)
					document.body.appendChild(link)
					link.click();
					document.body.removeChild(link)
				})
				.finally(() => {
					this.responseLoading = false
				})
		}
	},
	async mounted() {
		await this.actionGetSurveyReport(this.$route.params.id)
	}
}
</script>

<template>
	<div class="survey-statistics-view h-100">
		<template v-if="surveyDetailLoading">
			<app-loader component-based/>
		</template>

		<template v-else>
			<div class="d-flex justify-center align-center h-16">
				<div class="d-flex align-center justify-space-between" style="width: 1018px">
					<div class="d-flex align-center gap-x-3">
						<back-button-v3 />
						<span class="text-greyscale-900 heading-8 font-600">{{ surveyReport && surveyReport.title }}</span>
					</div>

					<app-button
						height="40"
						color="greyscale-100"
						class="rounded-8 bg-greyscale-100"
						outlined
						min-width="100px"
						style="border: 1px solid var(--greyscale-200)"
						:loading="responseLoading"
						@click="exportToExcel"
					>
						<template #prepend>
							<base-iconify
								icon="FolderDownload"
								class="text-greyscale-500"
							/>
						</template>
						<span class="small-2 font-500 text-greyscale-900">{{ $t('layout.export') }}</span>
					</app-button>
				</div>
			</div>

			<div class="d-flex justify-center">
				<div class="d-flex flex-column h-100" style="width: 1018px">
					<div class="d-flex rounded-16 gap-x-3 align-start bg-warning-50 px-4 py-3 mt-2">
						<base-iconify
							icon="CheckCircleBold"
							class="text-warning-500"
							height="24"
							width="24"
						/>
						<span class="text-greyscale-800 small-1 font-500" style="word-break: break-word">{{ surveyReport && surveyReport.description }}</span>
					</div>

					<div
						v-if="surveyReport && surveyReport.questions && surveyReport.questions.length"
						class="d-flex flex-column gap-y-2 pa-5 bg-greyscale-100 border-all rounded-24 mt-4"
					>
						<div
							v-for="(question, index) in surveyReport.questions"
							:key="question.id"
							class="d-flex flex-column bg-white rounded-16 card-shadow"
						>
							<div class="border-bottom-2">
								<div class="d-flex gap-x-3 align-center ma-5">
									<div class="d-flex align-center justify-center w-7 h-7 rounded-50 bg-primary-500 text-white small-1 font-600">{{ index + 1 }}</div>
									<span class="text-greyscale-900 small-1 font-600 flex-1">{{ question.text }}</span>
								</div>
							</div>

							<div class="ma-5">
								<div v-if="['radio', 'checkbox'].includes(question.input_type) && question.statistics" class="d-flex flex-column gap-y-6">
									<vue-apex-charts v-if="question.statistics" height="350" type="bar" :options="question.chartOptions" :series="question.series"></vue-apex-charts>

									<div
										v-if="question.other_responses && question.other_responses.length"
										class="d-flex justify-center">
										<app-button
											height="40"
											min-width="80"
											class="rounded-8"
											@click="openTextAnswers(question)"
										>
											<template #default>
												{{ $t('text-answers') }}
											</template>
										</app-button>
									</div>
								</div>

								<div
									v-else-if="question.input_type === 'text' && question.responses && question.responses.length"
						      class="d-flex flex-column align-center gap-y-4"
								>
									<span class="text-greyscale-500 small-2 font-500">{{ $t('text-answer-description') }}</span>

									<app-button
										height="40"
										min-width="80"
										class="rounded-8"
										@click="openTextAnswers(question)"
									>
										<template #default>
											{{ $t('watch-answers') }}
										</template>
									</app-button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</template>

		<!-- Other answers dialog -->
		<base-modal
			v-model="dialog"
			max-width="1274"
			label="control-tasks.tasks.responses"
			:footer="false"
		>
			<div class="d-flex flex-column w-100 rounded-12 overflow-hidden">
				<div class="d-flex text-greyscale-700 small-2 font-500 bg-greyscale-100 px-5 py-3">
					<div style="width: 5%">№</div>
					<div style="width: 30%">{{ $t('components.base.employee') }}</div>
					<div style="width: 30%">{{ $t('components.department') }}</div>
					<div style="width: 35%">{{ $t('control-tasks.tasks.responses') }}</div>
				</div>

				<div class="d-flex flex-column overflow-y-auto" style="max-height: 500px">
					<div
						v-for="(response, index) in responses"
						class="d-flex text-greyscale-900 small-2 font-600 px-5 py-3"
					>
						<div style="width: 5%">{{ index + 1 }}</div>
						<div style="width: 30%">{{ response && response.user && response.user.full_name }}</div>
						<div style="width: 30%">{{ response.user && response.user.top_level_dept_name }}</div>
						<div style="width: 35%">
							{{ response.text }}
						</div>
					</div>
				</div>
			</div>
		</base-modal>
		<!-- /Other answers dialog -->

	</div>
</template>

<style>

</style>