<script>
// Core
import { mapActions, mapState } from "vuex"
// Enums
import { SURVEY_FILTER, SURVEY_COLUMN, STATUS_TYPES } from "../../../../common/constants"
import Template from "../../../../modules/HR/Hiring/Show/components/Template.vue";
import { TableActions } from "../../../components";

export default {
	name: "SurveyList",
	components: {TableActions, Template},
	data: () => ({
		SURVEY_FILTER,
		SURVEY_COLUMN,
		buttonLoading: false,
		deletingSurveyId: null,
		deletingButtonLoading: false,
		deleteModal: false
	}),
	computed: {
		STATUS_TYPES() {
			return STATUS_TYPES
		},
		...mapState({
			surveyTableCols: state => state.hrSurvey.surveyTableCols,
			surveyTableFilters: state => state.hrSurvey.surveyTableFilters,
			tabItems: state => state.hrSurvey.tabItems
		}),
		tableHeight() {
			return document.documentElement.clientHeight - 280
		},
		tab() {
			return this.tabItems?.find(item => item.active)?.value
		}
	},
	methods: {
		...mapActions({
			actionDeleteSurvey: "hrSurvey/actionDeleteSurvey"
		}),
		async init() {
			if (!this.$route.query.tab){
				await this.$router.replace({
					query: {
						...this.$route.query,
						tab: 'current'
					}
				})
			}

			this.tabItems.forEach(i => i.active = i.value === this.$route.query.tab)
		},
		async onRowClick(item) {
			await this.$router.push({
				name: 'HRSurveyDetail',
				params: {
					id: item.id
				}
			})
		},
		/** **/
		onCreateClick() {
			this.$router.push({
				name: 'HRCreateSurvey'
			})
		},
		/** **/
		async onChangeItem(item) {
			if (this.$route.query.tab !== item.value){
				await this.$router.replace({
					query: {
						...this.$route.query,
						tab: item.value
					}
				})
				const { dataTable } = this.$refs
				await dataTable.getDataFromApi({ ...this.$route.query, is_active: item.value === 'current' })
			}
		},
		/** **/
		deleteSurvey(item) {
			this.deletingSurveyId = item.id
			this.deleteModal = true
		},
		/** **/
		async onDelete() {
			this.deletingButtonLoading = true
			await this.actionDeleteSurvey(this.deletingSurveyId)
			this.deletingButtonLoading =false
			this.deleteModal = false
			this.$toast.success("So'rovnoma o'chirildi!")
			const { dataTable } = this.$refs
			await dataTable.getDataFromApi(this.$route.query)
		},
		/** **/
		onPublishedChange(event, val) {}
	},
	async mounted() {
		await this.init()
	}
}
</script>

<template>
	<div class="hr-survey-list-view">
		<base-data-table
			:api-url="`survey`"
			:api-params="{ is_active: $route.query.tab !== 'history' }"
			:headers-list="surveyTableCols"
			:filter-state="surveyTableFilters"
			:filter-storage-name="SURVEY_FILTER"
			:config-column-storage-name="SURVEY_COLUMN"
			:height="tableHeight"
			header-name="Настроит опросник"
			:filter-keys-on-clear-filter="['type']"
			filter
			ref="dataTable"
			:unread-show="false"
			@emit:onRowClick="onRowClick"
		>
			<template #toolbar-actions>
				<app-button
					height="40"
					color="primary-500"
					class="rounded-8"
					min-width="90px"
					@click="onCreateClick"
				>
					<template #prepend>
						<base-iconify
							icon="AddPlus"
							class="text-white"
						/>
					</template>
					<span class="small-2 font-500 text-white">{{ $t('chat-messenger.components.create') }}</span>
				</app-button>
			</template>

			<template #body-header>
				<base-button-tab
					:items="tabItems"
					@emit:onChangeItem="onChangeItem"
				/>
			</template>

			<template #created_by="{ item }">
				<app-avatar-group list-type="participants" :avatar-list="[{ user: item.created_by }]" />
			</template>

			<template #created_date="{ value }">
				{{ value | filterDateMonthYear }}
			</template>

			<template #for_whom="{ value }">
				{{ value === 'for_some_departments' ? $t('for-selected-employees') : $t('for-all-employees') }}
			</template>

			<template #type="{ value }">
				{{ value === 'open' ? $t('open') : $t('anonymous') }}
			</template>

			<template #is_published="{ value }">
				<base-status :text="value ? STATUS_TYPES.PUBLISHED : STATUS_TYPES.NOT_PUBLISHED" />
			</template>

			<template #action="{ item }">
				<table-actions
					:actions="['delete']"
					@emit:delete="deleteSurvey(item)"
				/>
			</template>
		</base-data-table>

		<!-- Delete survey modal -->
		<base-modal
			v-model="deleteModal"
			ref="baseModal"
			label="delete"
			success-button-label="hr.survey.delete"
			persistent
			width="461"
			:button-loading="deletingButtonLoading"
			@emit:onSend="onDelete"
		>
			<div class="d-flex flex-column align-center justify-center w-100 py-4">
				<div class="d-flex justify-center align-center w-12 h-12 rounded-50 bg-critic-500">
					<base-iconify
						icon="TrashBinTrashBold"
						class="text-white"
						width="24"
						height="24"
					/>
				</div>

				<div v-if="$i18n.locale === 'ru'" class="heading-11 font-600 text-greyscale-900 mt-5 text-center">Вы уверены, что хотите удалить этот опрос?</div>
				<div v-else class="heading-11 font-600 text-greyscale-900 mt-5 text-center">Haqiqatan ham bu so'rovnomani o'chirmoqchimisiz?</div>

			</div>
		</base-modal>
		<!-- /Delete survey modal -->
	</div>
</template>

<style scoped>

</style>