<script>
// Components
import BackButtonV3 from "../../../components/BackButtonV3.vue"
import { mapActions, mapState } from "vuex";

export default {
	name: "SurveyDetail",
	components: { BackButtonV3 },
	data:() => ({
		hoverId: null,
		items: [
			{
				id: 1,
				label: "So’rovnoma savollari",
				description: "So’rovnoma nomi va ta’rifi, so’rovnoma sozlamalari, savollar va prevyu",
				icon: "$vuetify.icons.CursorDefault",
				hover_icon: "$vuetify.icons.CursorPrimary",
				route_name: "HRUpdateSurvey"
			},
			{
				id: 2,
				label: "Statistika va hisobotlar",
				description: "Umumiy statistika, savollar va bloklar bo’yicha alohida-alohida hisobotlar",
				icon: "$vuetify.icons.ChartDefault",
				hover_icon: "$vuetify.icons.ChartPrimary",
				route_name: "HRSurveyStatistics"
			}
		],
		buttonLoading: false
	}),
	computed: {
		...mapState({
			surveyDetailLoading: state => state.hrSurvey.surveyDetailLoading,
			surveyDetail: state => state.hrSurvey.surveyDetail
		})
	},
	methods: {
		...mapActions({
			actionGetSurveyDetail: "hrSurvey/actionGetSurveyDetail",
			actionDuplicateSurvey: "hrSurvey/actionDuplicateSurvey"
		}),
		/** **/
		openRoute(item) {
			this.$router.push({
				name: item.route_name,
				params: {
					id: this.$route.params.id
				}
			})
		},
		/** **/
		async duplicateQuestion() {
			this.buttonLoading = true
			this.actionDuplicateSurvey(this.$route.params.id)
				.then(async res => {
					this.$toast.success(this.$t('success'))
					await this.$router.push({
						name: 'HRSurveyList',
						query: {
							page: 1,
							page_size: 15,
							tab: 'history'
						}
					})
				})
				.catch(err => {
					this.$toast.error(this.$t('smthWentWrong'))
				})
				.finally(() => {
					this.buttonLoading = false
				})
		}
	},
	async mounted() {
		await this.actionGetSurveyDetail(this.$route.params.id)
	}
}
</script>

<template>
	<div class="survey-detail-view h-100">
		<template v-if="surveyDetailLoading">
			<app-loader component-based />
		</template>

		<template v-else>
			<div class="d-flex justify-center align-center h-16">
				<div class="d-flex justify-space-between align-center" style="width: 1018px">
					<div class="d-flex align-center gap-x-3">
						<back-button-v3 />
						<span class="text-greyscale-900 heading-8 font-600">{{ surveyDetail && surveyDetail.title }}</span>
					</div>

					<app-button
						@click="duplicateQuestion"
						min-width="100"
						height="36"
						depressed
						:loading="buttonLoading"
					>
						<template #default>
							{{$t('duplicate-survey')}}
						</template>
					</app-button>
				</div>

			</div>

			<div class="d-flex justify-center">
				<div class="d-flex flex-column h-100" style="width: 1018px">
					<div class="d-flex rounded-16 gap-x-3 align-start bg-warning-50 px-4 py-3 mt-2">
						<base-iconify
							icon="CheckCircleBold"
							class="text-warning-500"
							height="24"
							width="24"
						/>
						<span class="text-greyscale-800 small-1 font-500" style="word-break: break-word;">{{ surveyDetail && surveyDetail.description }}</span>
					</div>

					<v-row class="mt-8">
						<v-col
							v-for="(item, index) in items"
							:key="item.id"
							md="6"
						>
							<div
								class="survey-card d-flex flex-column justify-space-between p-relative rounded-32 pa-8 pointer"
								:class="hoverId === item.id ? 'bg-info-50' : 'bg-greyscale-100'"
								style="height: 293px"
								@mouseover="hoverId = item.id"
								@mouseleave="hoverId = null"
								@click="openRoute(item)"
							>
								<div class="d-flex justify-space-between w-100 align-start">
									<div class="d-flex justify-center align-center w-12 h-12 rounded-50 bg-white card-shadow text-primary-500 heading-10 font-600">
										{{ index + 1 }}
									</div>

									<base-iconify
										icon="ArrowRightMd"
										class="text-greyscale-500"
										height="32"
										width="32"
									/>
								</div>

								<div class="d-flex flex-column gap-y-2" style="max-width: 70%">
									<div class="text-greyscale-900 heading-9 font-600">
										{{ item.label }}
									</div>

									<div class="text-greyscale-600 font-400 heading-11">
										{{ item.description }}
									</div>
								</div>

								<div class="p-absolute right-0 bottom-0">
									<v-icon v-if="hoverId === item.id" size="183" class="mr-1">{{ item.hover_icon }}</v-icon>
									<v-icon v-else size="183" class="mr-1">{{ item.icon }}</v-icon>
								</div>
							</div>
						</v-col>
					</v-row>
				</div>
			</div>
		</template>
	</div>
</template>

<style scoped>

</style>