<template>
	<base-data-table
		ref="dataTable"
		:api-url="`hr/candidates`"
		:headers-list="indexTableCols"
		:filter-state="indexTableFilters"
		:filter-storage-name="HR_HIRING_FILTER"
		:config-column-storage-name="HR_HIRING_COLUMN"
		:height="tableHeight"
		header-name="Приём на работу"
		:unread-show="false"
		:data-loading="dataLoading"
	>
		<template #toolbar-actions>
			<create-modal @emit:created="afterCreate" />
		</template>

		<template #body-header>
			<base-button-tab :items="tabItems" @emit:onChangeItem="handleTab" />
		</template>

		<template #index="{ item, index }">
			<router-link
				:to="{
          name: 'HiringID',
          params: {
            id: item.id
          }
        }"
				class="d-flex align-center w-100 h-100 text-decoration-none color-inherit"
			>
				<span>
					{{ index + 1 }}
				</span>
			</router-link>
		</template>

		<template #last_name="{ value, item }">
			<router-link
				:to="{
          name: 'HiringID',
          params: {
            id: item.id
          }
        }"
				class="d-flex align-center w-100 h-100 text-decoration-none color-inherit"
			>
				<span>
					{{ item.last_name }} {{ item.first_name }} {{ item.father_name }}
				</span>
			</router-link>
		</template>

		<template #department="{ value, item }">
			<router-link
				:to="{
          name: 'HiringID',
          params: {
            id: item.id
          }
        }"
				class="d-flex align-center w-100 h-100 text-decoration-none color-inherit"
			>
				<span>{{ value.name }}</span>
			</router-link>
		</template>

		<template #position="{ value, item }">
			<router-link
				:to="{
          name: 'HiringID',
          params: {
            id: item.id
          }
        }"
				class="d-flex align-center w-100 h-100 text-decoration-none color-inherit"
			>
				<span>{{ value.name }}</span>
			</router-link>
		</template>

		<template #actions="{ item }">
			<div class="d-flex gap-x-2">
				<show-modal :item-id="item.id" />

				<update-modal :item-id="item.id" @emit:created="afterCreate" />

				<delete-modal :item="item" @emit:created="afterCreate" />
			</div>
		</template>
	</base-data-table>
</template>

<script>
import { mapState } from 'vuex'
import CreateModal from './components/CreateModal.vue'
import UpdateModal from './components/UpdateModal.vue'
import DeleteModal from './components/DeleteModal.vue'
import ShowModal from './components/ShowModal.vue'
import { HR_HIRING_COLUMN, HR_HIRING_FILTER } from '@/common/constants'

export default {
	name: "List",
	components: {
		CreateModal,
		UpdateModal,
		DeleteModal,
		ShowModal
	},
	data() {
		return {
			HR_HIRING_COLUMN,
			HR_HIRING_FILTER,
			tabItems: [
				{
					id: 1,
					active: true,
					label: 'Созданные',
					icon: '',
					value: 'pending'
				},
				{
					id: 2,
					active: false,
					label: 'Документы отправлены',
					icon: '',
					value: 'hired'
				},
				{
					id: 3,
					active: false,
					label: 'Для подтверждения',
					icon: '',
					value: 'received'
				},
				{
					id: 4,
					active: false,
					label: 'На подпись',
					icon: '',
					value: 'on_signature'
				},
			],
			currentTabItem: 'pending',
			dataLoading: false
		}
	},
	computed: {
		...mapState({
			indexTableCols: state => state.hrHiring.indexTableCols,
			indexTableFilters: state => state.hrHiring.indexTableFilters,
		}),
		/*
		*
		* */
		tableHeight() {
			return document.documentElement.clientHeight - 270
		},
	},
	mounted() {
		if(this.$route.query.hasOwnProperty('status')) {
			this.handleTab({ value: this.$route.query.status })
			this.currentTabItem = this.$route.query.status
			this.tabItems = this.tabItems.map(item => {
				return {
					...item,
					active: this.currentTabItem === item.value
				}
			})
		}
	},
	methods: {
		handleTab(item) {
			this.currentTabItem = item.value
			this.$router.replace({
				query: {
					...this.$route.query,
					status: item.value
				}
			})
				.catch(() => {})
			this.afterCreate()
		},
		/*
		*
		* */
		afterCreate() {
			const { dataTable } = this.$refs
			this.dataLoading = true
			setTimeout(() => {
				dataTable.getDataFromApi(this.$route.query)
				setTimeout(() => {
					this.dataLoading = false
				}, 500)
			}, 500)
		}
	}
}
</script>

<style scoped>

</style>