<template>
	<div class="document-flow h-100">
    <router-view />
	</div>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
	name: "index",
  computed: {
    ...mapState({
      filterState: state => state.headerFilter.filter
    }),
  },
  watch: {
	  "$route"(to, from) {
      let routeTo = to.path.split("/")[3]
	    let routeFrom = from.path.split("/")[3]

      if(routeTo !== routeFrom) {
        this.setClearFilters({ query: this.filterState })
      }
    }
  },
  beforeDestroy() {
    this.setClearFilters({ query: this.filterState })
  },
  methods: {
	  ...mapActions({
      setClearFilters: "headerFilter/setClearFilters",
    })
  }
}
</script>
