<script>
export default {
	name: "GroupHistory",
	props: {
		historyList: {
			type: Array,
			default: () => []
		}
	},
	methods: {
		returnActionIconName(item) {
			switch (item.action) {
				case 'created':
					return item.type === 'group' ? 'Check' : 'UserAdd'
				case 'updated':
					return 'Users'
				case 'deleted':
					return 'UserClose'
				default:
					return 'ArrowUndoUpLeft'
			}
		},
		/** **/
		returnActionValue(item) {
			if ((item.action === 'created' && item.type === 'user') || (item.action === 'updated' && item.type === 'title')) {
				return item.new_value
			} else if (item.action === 'deleted' && item.type === 'user') {
				return item.old_value
			} else {
				return null
			}
		},
		/** **/
		returnIconBg(item) {
			return item.action === 'updated' ? 'bg-info-500' : item.action === 'created' ? 'bg-success-300' : 'bg-critic-500'
		}
	}
}
</script>

<template>
	<div class="group-history-component rounded-20 overflow-hidden">
		<div class="d-flex small-1 font-600 text-greyscale-900 py-4 px-6 bg-greyscale-100">
			{{ $t('control-tasks.tasks.history-changes') }}
		</div>
		<div class="py-5 px-6 bg-greyscale-50 overflow-y-auto" style="max-height: calc(100vh - 220px)">
			<div
				v-if="historyList.length"
				v-for="(item, index) in historyList"
				class="d-flex gap-x-5"
			>
				<div class="d-flex flex-column align-center">
					<div
						class="w-9 h-9 rounded-50 d-flex justify-center align-center"
						:class="returnIconBg(item)"
					>
						<base-iconify
							:icon="returnActionIconName(item)"
							class="text-white"
						/>
					</div>

					<div v-if="index < historyList.length - 1" class="bg-greyscale-300 flex-1" style="width: 1px"></div>
				</div>

				<div class="d-flex border-all rounded-12 bg-white py-4 px-5 w-100 gap-x-4 mb-2">
					<div class="w-9 h-9 rounded-50 d-flex justify-center align-center bg-greyscale-200 overflow-hidden">
						<v-icon size="36">{{ "$vuetify.icons.AvatarUser" }}</v-icon>
					</div>

					<div class="d-flex flex-column w-100">
						<div class="d-flex justify-space-between">
							<span class="small-2 font-600 text-greyscale-900">{{ item.created_by.full_name }}</span>
							<span class="small-3 font-600 text-greyscale-400">{{ item.created_date | filterCalendarToTime }}</span>
						</div>

						<div class="d-flex px-2 rounded-4 bg-greyscale-100 small-2 font-500 text-greyscale-700 mt-2" style="width: fit-content">
							{{ item.description }}
						</div>

						<div v-if="returnActionValue(item)" class="d-flex align-center mt-3 px-3" style="border-left: 2px solid var(--primary-500)">
							<div v-if="item.action !== 'updated'" class="w-6 h-6 rounded-50 d-flex justify-center align-center bg-greyscale-200 overflow-hidden mr-2">
								<v-icon size="24">{{ "$vuetify.icons.AvatarUserSmall" }}</v-icon>
							</div>
							<span class="small-2 font-600 text-greyscale-900">{{ returnActionValue(item) }}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<style scoped>

</style>
