<script>
// Core
import {required} from "vuelidate/lib/validators"
import {mapActions} from "vuex"
import {resetModel} from "@/common/helpers"

export default {
	name: "GroupForm",
	data: () => ({
		model: {
			name: null,
			head_of_group: null,
			participants: [],
			__participants: [],
			is_active: true
		},
		__participants: [],
		buttonLoading: false,
		dialog: false
	}),
	validations: {
		model: {
			name: { required },
			head_of_group: { required },
			__participants: { required }
		},

	},
	methods: {
		...mapActions({
			actionCreateGroup: 'auditConfigureGroups/actionCreateGroup'
		}),
		openModal() {
			this.dialog = true
		},
		/** **/
		onSend() {
			this.$v.$touch()
			if (this.$v.$invalid) return

			this.buttonLoading = true

			let model = {
				...this.model,
				head_of_group: this.model.head_of_group.id,
				participants: this.model.__participants.map(item => item.id)
			}

			this.actionCreateGroup(model)
				.then(data => {
					this.buttonLoading = false
					this.dialog = false
					resetModel(this.model, ['is_active'])
					this.$v.$reset()
					this.$toast.success(this.$t('chat-messenger.components.group-created'))
					this.$emit('emit:onGroupCreated')
				})
		},
		/** **/
		onCancel() {
			this.$v.$reset()
			resetModel(this.model, ['is_active'])
		}
	}
}
</script>

<template>
	<div class="audit-group-form">
		<app-button
			height="40"
			color="primary-500"
			class="rounded-8"
			min-width="90px"
			@click="openModal"
		>
			<template #prepend>
				<base-iconify
					icon="AddPlus"
					class="text-white"
					:inline="true"
				/>
			</template>
			<span class="small-2 font-500 text-white">{{ $t('chat-messenger.components.create') }}</span>
		</app-button>

		<base-modal
			v-model="dialog"
			persistent
			width="555"
			:button-loading="buttonLoading"
			@emit:onSend="onSend"
			@emit:onCancel="onCancel"
		>
			<div class="d-flex flex-column w-100 gap-y-6">
				<div>
					<span class="small-2 font-500 text-greyscale-700 d-block mb-2">{{ $t('chat-messenger.components.group-name') }}</span>

					<base-text-field
						v-model="$v.model.name.$model"
						:error="$v.model.name.$error"
					/>
				</div>

				<div>
					<span class="small-2 font-500 text-greyscale-700 d-block mb-2">{{ $t('group-head') }}</span>
<!--					top_level_sap_obj_id: 50000034,-->
					<base-auto-complete
						v-model="$v.model.head_of_group.$model"
						:error="$v.model.head_of_group.$error"
						api-list-url="/user/search/"
						:api-params="{
							top_level_sap_obj_id: 50000034,
							page_size: 50
						}"
						item-text="full_name"
						return-object
						cache-items
						clearable
						:lazy-load="false"
						:placeholder="$t('document-flow.views.boxes.employees')"
					/>
				</div>

				<div>
					<span class="small-2 font-500 text-greyscale-700 d-block mb-2">{{ $t('group-members') }}</span>
<!--					top_level_sap_obj_id: 50000034,-->
					<base-auto-complete
						v-model="$v.model.__participants.$model"
						:error="$v.model.__participants.$error"
						api-list-url="/user/search/"
						:api-params="{
							top_level_sap_obj_id: 50000034,
							page_size: 50
						}"
						item-text="full_name"
						multiple
						return-object
						cache-items
						clearable
						:lazy-load="false"
						:placeholder="$t('document-flow.views.boxes.employees')"
					/>
				</div>

				<div class="d-flex align-center justify-space-between">
					<span class="small-2 font-500 text-greyscale-700">{{ $t('components.status') }}</span>

					<div class="d-flex align-center gap-x-3">
						<span
							class="small-2 font-600"
							:class="model.is_active ? 'text-greyscale-800' : 'text-greyscale-600'"
						>
							{{ model.is_active ? $t('bank-structure.active') : $t('inactive') }}
						</span>

						<base-switch
							v-model="model.is_active"
						/>
					</div>
				</div>
			</div>
		</base-modal>
	</div>
</template>

<style scoped>

</style>
