<template>
	<div class="outgoing-view">
		<ui-data-table
			:height="tableHeight"
			:headers-list="indexTableCols"
			:filter-state="indexTableFilters"
			:filter-storage-name="OUTGOING_FILTER"
			:config-column-storage-name="OUTGOING_COLUMN"
			:api-url="`docflow/${currentUser.filial}/outgoing`"
			:api-params="{ journal: 4 }"
			@saveConfigColumn="saveConfigColumn"
			@resetConfigColumn="resetConfigColumn"
			@clearFilter="clearFilter"
			@deleteSavedFilter="clearFilter"
		>
      <template #index="{ value, item }">
        <span class="ma-auto">{{ item.index }}</span>
      </template>

			<template #status.name="{ value, item }">
				<router-link
					:to="{
            name: 'OutgoingRegistrationDetail',
            params: {
              id: item.id
            }
          }"
				>
					<ui-status
						v-if="value"
						:text="value"
					/>
				</router-link>
			</template>

			<template #doc_type.name="{ value, item }">
				<router-link
					:to="{
            name: 'OutgoingRegistrationDetail',
            params: {
              id: item.id,
            }
          }"
				>
					{{ value }}
				</router-link>
			</template>

			<template #register_number="{ value, item }">
				<router-link
					:to="{
            name: 'OutgoingRegistrationDetail',
            params: {
              id: item.id,
            }
          }"
				>
					{{ value }}
				</router-link>
			</template>

			<template #register_date="{ value, item }">
				<router-link
					:to="{
            name: 'OutgoingRegistrationDetail',
            params: {
              id: item.id,
            }
          }"
				>
					{{ value | filterCalendarToTime }}
				</router-link>
			</template>

			<template #correspondent.organization_name="{ value, item }">
				<router-link
					:to="{
            name: 'OutgoingRegistrationDetail',
            params: {
              id: item.id,
            }
          }"
				>
					{{ value }}
				</router-link>
			</template>

			<template #text="{ value, item }">
				<router-link
					:to="{
            name: 'OutgoingRegistrationDetail',
            params: {
              id: item.id,
            }
          }"
				>
					<span style="max-width: 400px!important;" class="line-truncate">{{ value }}</span>
				</router-link>
			</template>

			<template #signer="{ value, item }">
				<router-link
					:to="{
            name: 'OutgoingRegistrationDetail',
            params: {
              id: item.id
            }
          }"
				>
					<ui-avatar-group
						:avatar-list="[value]"
            class="opacity-80"
					/>
				</router-link>
			</template>

			<template #author="{ value, item }">
				<router-link
					:to="{
            name: 'OutgoingRegistrationDetail',
            params: {
              id: item.id
            }
          }"
				>
					<ui-avatar-group
						:avatar-list="[value]"
            class="opacity-80"
					/>
				</router-link>
			</template>

			<template #deadline="{ value, item }">
				<router-link
					:to="{
            name: 'OutgoingRegistrationDetail',
            params: {
              id: item.id
            }
          }"
				>
          <span>
            {{ value | filterCalendarToTime }}
          </span>
				</router-link>
			</template>

			<template #priority="{ value, item }">
				<router-link
					:to="{
            name: 'OutgoingRegistrationDetail',
            params: {
              id: item.id
            }
          }"
				>
					<ui-priority
						v-if="value"
						:text="value"
					/>
				</router-link>
			</template>

			<template #filterBody>
				<outgoing-table-filter />
			</template>

      <template #headerAction>
        <register-button />
      </template>

		</ui-data-table>
	</div>
</template>

<script>
import {mapActions, mapGetters, mapState} from "vuex";
import { OUTGOING_COLUMN, OUTGOING_FILTER } from "@/common/constants"
import { getItem } from "@/services/jwt.service"
import OutgoingTableFilter from "./components/OutgoingTableFilter";
import RegisterButton from "@/modules/DocumentFlow/views/RegistrationNew/components/RegisterButton.vue";

export default {
	name: "index",
	components: {
		RegisterButton,
		OutgoingTableFilter
	},
	data() {
		return {
			OUTGOING_COLUMN,
			OUTGOING_FILTER,
			filterState: {}
		}
	},
	computed: {
		...mapState({
			indexTableCols: state => state.documentFlowRegistrationOutgoing.indexTableCols,
			indexTableFilters: state => state.documentFlowRegistrationOutgoing.indexTableFilters
		}),
		/**/
		...mapGetters({
			currentUser: "auth/getCurrentUser"
		}),
		/**/
		tableHeight() {
			return document.documentElement.clientHeight - 250
		},
	},
	created() {
		this.setSavedTableCols()
		this.setSavedFilters()
	},
	methods: {
		...mapActions({
			setActiveIndexTableCols: "documentFlowRegistrationOutgoing/setActiveIndexTableCols",
			resetIndexTableCols: "documentFlowRegistrationOutgoing/resetIndexTableCols",
			resetIndexTableFilters: "documentFlowRegistrationOutgoing/resetIndexTableFilters",
			setActiveIndexTableFilters: "documentFlowRegistrationOutgoing/setActiveIndexTableFilters",
		}),
		/**/
		saveConfigColumn(columns) {
			this.setActiveIndexTableCols(columns)
		},
		/**/
		resetConfigColumn() {
			this.resetIndexTableCols()
		},
		/**/
		setSavedTableCols() {
			let savedColsFromStorage = JSON.parse(getItem(this.OUTGOING_COLUMN)) ?? {}

			if(Object.keys(savedColsFromStorage).length) {
				this.setActiveIndexTableCols(savedColsFromStorage)
			} else {
				this.setActiveIndexTableCols(this.indexTableCols)
			}
		},
		/**/
		async clearFilter() {
			await this.resetIndexTableFilters()
		},
		/**/
		setSavedFilters() {
			if(this.$route.query) {
				let savedFiltersFromStorage = JSON.parse(getItem(this.OUTGOING_FILTER)) ?? {}
				delete this.$route.query.page
				delete this.$route.query.page_size

				if(Object.keys(savedFiltersFromStorage).length) {
					this.setActiveIndexTableFilters(savedFiltersFromStorage)
				} else {
					this.setActiveIndexTableFilters(this.$route.query)
				}
			}
		}
	}
}
</script>

<style scoped>

</style>
