<template>
	<ui-data-table
		ref="dataTable"
		:api-url="apiUrl"
		:api-params="{
      obj
    }"
		:height="tableHeight"
		:headers-list="headersList"
		:filter-state="{
			page_size: 15,
			page: 1
    }"
		:filters-visible="false"
		no-border
	>
		<template #created_date="{ value }">
			{{ value | filterCalendarToTime }}
		</template>

		<template #description="{ value }">
			<span v-html="value" class="reset-space"></span>
		</template>

		<template #original_value="{ value }">
			<span v-html="value" class="reset-space"></span>
		</template>

		<template #new_value="{ value }">
			<span v-html="value" class="reset-space"></span>
		</template>
	</ui-data-table>
</template>

<script>
import { mapGetters, mapState } from "vuex"
import ActivityTableCols from "../ActivityTableCols"

export default {
	name: "ActivityTable",
	data() {
		return {
			headersList: ActivityTableCols
		}
	},
	props: {
		objId: {
			type: [Number, String],
			default: null
		}
	},
	computed: {
		...mapState({
			reviewDetailModel: state => state.documentFlowBoxesGeneralControl.generalControlDetailModel,
		}),
		/**/
		obj() {
			if (this.objId){
				return this.objId
			}else {
				return this.reviewDetailModel.incoming_doc.id
			}
		},
		/*
		*
		* */
		...mapGetters({
			currentUser: "auth/getCurrentUser",
		}),
		/*
		*
		* */
		tableHeight() {
			return document.documentElement.clientHeight - 260
		},
		/*
		*
		* */
		apiUrl() {
			return `action/activities`
		}
	}
}
</script>

<style scoped>

</style>
