<template>
	<div class="files-table-view">
		<ui-data-table
			ref="dataTable"
			:api-url="apiUrl"
			:api-params="{
        incoming_doc,
        page_size: 50
      }"
			:height="tableHeight"
			:headers-list="headersList"
			:filter-state="{
        page_size: 15,
        page: 1
      }"
			:filters-visible="false"
			no-border
		>
			<template #created_date="{ value }">
				{{ value | filterCalendarToTime }}
			</template>

			<template #document.url="{ item, value }">
				<div class="d-flex gap-4">
					<app-tooltip top>
						<template #content>
							<v-btn
								color="warning"
								small
								icon
								depressed
								@click="showFileModal = true; showFileUrl = value"
							>
								<eye-icon size="18" />
							</v-btn>
						</template>

						<template #text>
							{{ $t("document-flow.views.send-document.view-document") }}
						</template>
					</app-tooltip>

					<app-tooltip top>
						<template #content>
							<v-btn
								color="primary"
								small
								icon
								depressed
								@click="downloadDocument(item, value)"
							>
								<download-icon size="18" />
							</v-btn>
						</template>

						<template #text>
							{{ $t("components.download") }}
						</template>
					</app-tooltip>

					<template v-if="currentUser.role === ROLE_TYPES.ADMIN && $route.query.condition !== 'for_watching_process'">
						<app-tooltip top>
							<template #content>
								<v-btn
									color="error"
									small
									icon
									depressed
									@click="deleteModal = true; deletedFile = item"
								>
									<trash2-icon size="18" />
								</v-btn>
							</template>

							<template #text>
								{{ $t("control-tasks.tasks.delete") }}
							</template>
						</app-tooltip>
					</template>
				</div>
			</template>
		</ui-data-table>

		<!-- Просмотр документа -->
		<show-file-modal
			v-model="showFileModal"
			:file-url="showFileUrl"
			@emit:close="(_value) => showFileModal = _value"
			@emit:cancel-button="(_value) => showFileModal = _value"
		/>
		<!-- /Просмотр документа -->

		<!-- Удалить файл -->
		<delete-modal
			v-model="deleteModal"
			:success-button-loading="deleteModalSuccessButton"
			@emit:close="(_value) => deleteModal = _value"
			@emit:cancel-button="(_value) => deleteModal = _value"
			@emit:success-button="deleteFile"
		/>
		<!-- /Удалить файл -->
	</div>
</template>

<script>
import { mapActions, mapGetters, mapState } from "vuex"
import { EyeIcon, DownloadIcon, Trash2Icon } from "vue-feather-icons"
import { ROLE_TYPES } from "@/common/constants"
import { DeleteModal, ShowFileModal } from "@/common/components/Modal"
import { saveAs } from 'file-saver'

export default {
	name: "FilesTable",
	components: {
		EyeIcon,
		DownloadIcon,
		DeleteModal,
		ShowFileModal,
		Trash2Icon
	},
	props: {
		incomingDoc: {
			type: [String, Number],
			default: null
		}
	},
	data() {
		return {
			ROLE_TYPES,
			headersList: [
				{
					text: "#",
					value: "index",
					width: "75",
					active: true,
					sortable: false,
					align: "center",
				},
				{
					text: "file-name",
					value: "document.name",
					active: true,
					sortable: false
				},
				{
					text: "dashboard.components.date-and-time",
					value: "created_date",
					active: true,
					sortable: false,
					width: "300"
				},
				{
					text: "document-flow.components.action",
					value: "document.url",
					width: "200",
					active: true,
					sortable: false
				}
			],
			deleteModal: false,
			deleteModalSuccessButton: false,
			deletedFile: null,
			showFileModal: false,
			showFileUrl: null
		}
	},
	computed: {
		...mapState({
			reviewDetailModel: state => state.documentFlowBoxesGeneralControl.generalControlDetailModel,
		}),
		incoming_doc() {
			if (this.incomingDoc){
				return this.incomingDoc;
			}else {
				return this.reviewDetailModel.incoming_doc.id;
			}
		},
		/*
		*
		* */
		...mapGetters({
			currentUser: "auth/getCurrentUser",
		}),
		/*
		*
		* */
		tableHeight() {
			return document.documentElement.clientHeight - 260
		},
		/*
		*
		* */
		apiUrl() {
			return `docflow/${this.currentUser.filial}/files`
		}
	},
	methods: {
		...mapActions({
			fetchDeleteFileFromAttachFile: "documentFlowModule/fetchDeleteFileFromAttachFile",
		}),
		/*
		*
		* */
		async deleteFile() {
			const { dataTable } = this.$refs

			await this.fetchDeleteFileFromAttachFile({
				fileId: this.deletedFile.id,
				incomingDocId: this.reviewDetailModel.incoming_doc.id
			})
			this.deleteModal = false
			this.$toast.success(this.$t("document-flow.views.registration.deleted"))
			await dataTable.getDataFromApi({})
		},
		/** **/
		downloadDocument(item, value) {
			saveAs(value, item.document.name || "document.pdf");
		}
	}
}
</script>

<style scoped>

</style>
