<template>
	<div class="execution-inbox-list h-100 d-flex flex-column p-relative">
<!--		<app-loader v-if="isLoading" full-width :size="58" />-->
		<template>
			<div class="d-flex flex-column h-100 bg-4 rounded-20 pa-1 overflow-hidden h-100">
				<perfect-scrollbar class="d-flex flex-column flex-1 h-100">
					<app-table
						:table-width="1700"
					>
						<template #tableHeader>
<!--							<th>Статус</th>-->
							<th>{{$t('document-flow.views.statistics.journal')}}</th>
							<th>{{$t('document-flow.views.statistics.type-document')}}</th>
							<th>{{$t('document-flow.views.statistics.registration-date')}}</th>
							<th>{{$t('document-flow.views.statistics.registration-number')}}</th>
							<th width="400">{{$t('document-flow.views.statistics.correspondent')}}</th>
							<th width="400">{{$t('document-flow.views.statistics.content')}}</th>
						</template>

						<template #tableBody>
							<template v-if="documentList.length">
								<tr
									v-for="document in documentList"
									@click="$router.push({
                            name: document.journal_id === 1 ? 'IncomingDocumentRegistrationFormShow' :
                                  document.journal_id === 3 ? 'InnerDocumentRegistrationFormShow' :
                                  document.journal_id === 4 ? 'OutgoingDocumentRegistrationFormShow' :
                                  document.journal_id === 5 ? 'AppealDocumentRegistrationFormShow' : 'OrdersProtocolsDocumentRegistrationFormShow',
                            params: { id: document.id },
                            query: { type: 'for_watching_process' }
                        })"
								>
<!--									<td>-->
<!--										<app-tooltip top>-->
<!--											<template #content>-->
<!--												<div class="status-block d-flex align-center">-->
<!--													<div-->
<!--														class="status-badge mr-2 rounded-circle"-->
<!--														:class="[-->
<!--                               {'error-bg': document.user_status === 'TO DO'},-->
<!--                                {'warning-bg': document.user_status === 'IN PROGRESS'},-->
<!--                                {'success-bg': document.user_status === 'DONE' || document.user_status === 'ON REVIEW'},-->
<!--                            ]"-->
<!--													></div>-->
<!--													<span class="small-3">{{ document.user_status }}</span>-->
<!--												</div>-->
<!--											</template>-->

<!--											<template #text>-->
<!--												{{ document.user_status }}-->
<!--											</template>-->
<!--										</app-tooltip>-->
<!--									</td>-->
									<td>
										<span class="text-dark">{{ document.journal_name }}</span>
									</td>
									<td>
										<span class="text-dark">{{ document.doc_type }}</span>
									</td>
									<td>
										{{ document.register_date | filterCalendarToTime }}
									</td>
									<td>
										{{ document.register_number }}
									</td>
									<td>
										<app-tooltip top>
											<template #content>
												<span class="line-truncate">{{ document.correspondent }}</span>
											</template>
											<template #text>
												<span>{{ document.correspondent }}</span>
											</template>
										</app-tooltip>
									</td>
									<td>
										<app-tooltip top>
											<template #content>
												<span class="line-truncate">{{ document.description }}</span>
											</template>
											<template #text>
												<span>{{ document.description }}</span>
											</template>
										</app-tooltip>
									</td>
								</tr>
							</template>
						</template>
					</app-table>
				</perfect-scrollbar>
			</div>
		</template>

		<app-pagination @emit:up="paginate" class="mt-3" />
	</div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
	name: "InboxList",
	computed: {
		...mapGetters({
			currentUser: "auth/getCurrentUser",
			documentList: "documentStatistic/getExecutionInboxList",
			isLoading: "documentStatistic/getIsLoading",
		})
	},
	created() {
		this.getList(this.$route.query)
	},
	methods: {
		...mapActions({
			fetchExecutionInboxList: "documentStatistic/fetchExecutionInboxList"
		}),
		/**/
		getList(params){
			this.fetchExecutionInboxList(params)
		},
		/**/
		paginate(value){
			let query = { ...this.$route.query, page: value }

			this.$router.replace({
				query: query
			}).catch(() => {})

			this.fetchExecutionInboxList({
				...query
			})
		}
	}
}
</script>

<style scoped>

</style>
