<template>
	<div class="execution-statics-view h-100">
		<div class="py-1 px-3">
			<v-row class="mb-2">
				<v-col cols="6" sm="6" md="4" lg="2">
					<v-select
						@change="onListTypeChange"
						v-model="listTypeSelected"
						:items="listTypes"
						item-text="name"
						item-value="value"
						outlined
						dense
						hide-details
						append-icon="mdi-chevron-down"
						background-color="#fff"
						class="shadow-6"
					>
					</v-select>
				</v-col>

				<v-spacer/>

				<v-col cols="6" sm="6" md="4" lg="2">
					<app-autocomplete
						@change="onFilialSelected"
						v-model="filialSelected"
						api-list-url="/filials/"
						:api-params="{
							page_size: 50
						}"
						item-text="name"
						item-value="mfo"
						list-type="list"
						cache-items
						dense
						background-color="#fff"
						class="shadow-6"
						:readonly="Boolean(currentUser.role === 'filial_chancellery' || currentUser.role === 'department_director')"
					/>
				</v-col>

				<v-col cols="6" sm="6" md="4" lg="2" v-if="filialSelected === '09013'">
					<app-autocomplete
						@change="onDepartmentSelected"
						v-model="departmentSelected"
						api-list-url="/departments/"
						:api-params="{
							filial: filialSelected,
							condition: 'A',
							page_size: 50,
						}"
						item-text="name"
						return-object
						list-type="list"
						outlined
						cache-items
						dense
						background-color="#fff"
						class="shadow-6"
						:readonly="currentUser.role === 'department_director'"
					>
					</app-autocomplete>
				</v-col>


				<v-col cols="6" sm="6" md="4" lg="2">
					<app-date-picker
						v-model="date"
						with-input
						background-color="#fff"
						dense
						clearable
						range
						:placeholder="$t('document-flow.views.statistics.date')"
						class="shadow-6"
						@emit:up="handleDatePick"
						@clickClear="clearDates"
					/>
				</v-col>
			</v-row>
		</div>

		<template v-if="isLoading">
			<app-loader content-width/>
		</template>
		<template v-else>
			<div class="d-flex flex-column scroll-cover bg-4 rounded-20 pa-1 overflow-hidden">
				<div class="d-flex flex-column flex-1 overflow-hidden">
					<perfect-scrollbar class="d-flex flex-column flex-1 h-100">
					<app-table
						bordered
						:table-width="1800"
					>
						<template #tableHeader>
							<th class="text-center">{{$t('document-flow.views.statistics.full-name')}}</th>
							<th width="200" class="text-center">{{$t('document-flow.views.statistics.to-do')}}</th>
							<th width="200" class="text-center">{{$t('document-flow.views.statistics.in-progress')}}</th>
							<th width="200" class="text-center">{{$t('document-flow.views.statistics.waiting')}}</th>
							<th width="200" class="text-center">{{$t('document-flow.views.statistics.for-consideration')}}</th>
							<th width="200" class="text-center" v-if="listTypeSelected === 'review'">{{$t('document-flow.views.statistics.for-signature')}}</th>
							<th width="200" class="text-center">{{$t('document-flow.views.statistics.done')}}</th>
							<th width="200" class="text-center">{{$t('document-flow.views.statistics.total')}}</th>
						</template>
							<template #tableBody>
								<tr
									v-for="user in listTypeSelected === 'review' ? executionStatisticsListReview : executionStatisticsListIncoming"
									:key="user.id" class="td-background-light"
								>
									<td>
										<span class="font-500 small-2">{{ user.last_name }} {{ user.first_name }} {{ user.father_name }}</span>
									</td>
									<td class="text-center"><span @click="showDocuments({ ...user, status: 1, count: user.to_do})">{{ user.to_do }}</span></td>
									<td class="text-center"><span @click="showDocuments({ ...user, status: 2, count: user.in_progress})">{{ user.in_progress }}</span></td>
									<td class="text-center"><span @click="showDocuments({ ...user, status: 3, count: user.on_hold})">{{ user.on_hold }}</span></td>
									<td class="text-center"><span @click="showDocuments({ ...user, status: 7, count: user.on_review})">{{ user.on_review }}</span></td>
									<td class="text-center" v-if="listTypeSelected === 'review'"><span @click="showDocuments({ ...user, status: 5, count: user.for_signature})">{{ user.for_signature}}</span></td>
									<td class="text-center"><span @click="showDocuments({ ...user, status: 4, count: user.done})">{{ user.done }}</span></td>
									<td class="text-center"><span @click="showDocuments({ ...user, status: null, count: user.total})">{{ user.total }}</span></td>
								</tr>
						</template>
					</app-table>
					</perfect-scrollbar>
				</div>
			</div>
		</template>
	</div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
	name: "index",
	data() {
		return {
			filialSelected: "",
			departmentSelected: {},

			date: [],
			start_date: null,
			end_date: null,

			listTypeSelected: "",
			listTypes: [
				{
					name: this.$t('document-flow.views.statistics.for-consideration'),
					value: "review"
				},
				{
					name: this.$t('document-flow.views.statistics.incoming'),
					value: "inbox"
				}
			]
		}
	},
	watch: {
		filialSelected: {
			handler(value, oldVal) {
				if (value){
					if (value !== oldVal){
						this.$router.replace({
							query: {
								...this.$route.query,
								filial_mfo: value
							}
						}).catch(() => {})
					}
					this.fetchDepartmentList(value)
					setTimeout(() => {
						if (this.getDepartmentList && this.getDepartmentList[0]){
							if (this.$route.query.department_id){
								this.departmentSelected = this.getDepartmentList.find(x => x.id === Number(this.$route.query.department_id))
							}else {
								if (this.currentUser.role === 'department_director'){
									this.departmentSelected = this.departmentSelectedComputed;
								}else {
									this.departmentSelected = this.getDepartmentList[0];
								}
							}
						}

						// Отчистим массив перед тем как заполнить
						this.clearDepartmentUserList()

						this.fetchDepartmentSelected({
							...this.departmentSelected,
							code: value === "09013" ? this.departmentSelected.code : null,
							start_date: this.start_date ? this.start_date : new Date().getFullYear() + '-' + (new Date().getMonth() + 1) + '-01',
							end_date: this.end_date ? this.end_date : new Date().getFullYear() + '-' + (new Date().getMonth() + 1) + '-' + new Date().getDate()
						})
					}, 1000)
				}
			},
			immediate: true,
			deep: true
		},
		'$i18n.locale': {
			handler() {
				this.listTypes = [
					{
						name: this.$t('document-flow.views.statistics.for-consideration'),
						value: "review"
					},
					{
						name: this.$t('document-flow.views.statistics.incoming'),
						value: "inbox"
					}
				]
			}
		}
	},
	computed: {
		...mapGetters({
			currentUser: "auth/getCurrentUser",
			getDepartmentList: "phoneBookModule/getDepartmentList",
			departmentUsersList: "phoneBookModule/departmentUsersList",
			isLoading: "documentFlowModule/getIsListLoading",
			executionStatisticsListIncoming: "documentFlowModule/getExecutionStatisticsListIncoming",
			executionStatisticsListReview: "documentFlowModule/getExecutionStatisticsListReview"
		}),
		/**/
		departmentSelectedComputed(){
			return this.getDepartmentList.find(x => x.code === this.currentUser.top_level_dept);
		}
	},
	mounted() {
		if (this.$route.query.filial_mfo){
			this.filialSelected = this.$route.query.filial_mfo
		}else {
			this.filialSelected = this.currentUser.filial;
		}
		if (this.$route.query.start_date){
			this.start_date = this.$route.query.start_date;
			this.end_date = this.$route.query.end_date;
			this.date = [this.$route.query.start_date, this.$route.query.end_date];
		}else if (this.$route.query.filter_cleared){
			this.start_date = '2022-01-01';
			this.end_date = new Date().getFullYear() + '-' + (new Date().getMonth() + 1) + '-' + new Date().getDate();
		}else {
			this.date = [new Date().getFullYear() + '-' + (new Date().getMonth() + 1) + '-01', new Date().getFullYear() + '-' + (new Date().getMonth() + 1) + '-' + new Date().getDate()];
			this.start_date = new Date().getFullYear() + '-' + (new Date().getMonth() + 1) + '-01';
			this.end_date = new Date().getFullYear() + '-' + (new Date().getMonth() + 1) + '-' + new Date().getDate();
		}

		this.listTypeSelected = this.$route.query.list_type ? this.$route.query.list_type : 'review';

	},
	methods: {
		...mapActions({
			fetchDepartmentList: "phoneBookModule/fetchDepartmentList",
			fetchDepartmentSelected: "documentFlowModule/fetchDepartmentSelected",
			fetchDepartmentUsers: "phoneBookModule/fetchDepartmentUsers",
			clearDepartmentUserList: "phoneBookModule/clearDepartmentUserList",
		}),
		/**/
		handleDatePick(val){
			let [start, end] = val;
			let _start = start;

			if (start > end){
				start = end;
				end = _start;
			}

			this.start_date = start;
			this.end_date = end;

			this.fetchDepartmentSelected({
				...this.departmentSelected,
				start_date: this.start_date,
				end_date: this.end_date
			});

			this.$router.replace({
				query: {
					start_date: this.start_date,
					end_date: this.end_date
				}
			}).catch(() => {})
		},
		/**/
		onDepartmentSelected(value) {
			this.$router.replace({
				query: {
					...this.$route.query,
					department_id: value.id
				}
			}).catch(() => {})

			this.fetchDepartmentSelected({
				...this.departmentSelected,
				start_date: this.start_date ? this.start_date : "2022-01-01",
				end_date: this.end_date ? this.end_date : new Date().getFullYear() + '-' + (new Date().getMonth() + 1) + '-' + new Date().getDate()
			})
		},
		/**/
		clearDates() {
			this.start_date = "2022-01-01";
			this.end_date = null;
			this.date = [];
			this.fetchDepartmentSelected({
				...this.departmentSelected,
				start_date: this.start_date ? this.start_date : "2022-01-01",
				end_date: this.end_date ? this.end_date : new Date().getFullYear() + '-' + (new Date().getMonth() + 1) + '-' + new Date().getDate()
			})

			this.$router.replace({
				query: {
					start_date: null,
					end_date: null,
					filter_cleared: true
				}
			}).catch(() => {})
		},
		/**/
		showDocuments(user){
			if(user.count > 0){
				this.$router.push({
					name: this.listTypeSelected === "review" ? "ExecutionStatisticsReviewList" : "ExecutionStatisticsInboxList",
					query: {
						register_start_date: this.start_date,
						register_end_date: this.end_date,
						user: user.id,
						status: user.status
					}
				})
			}
		},
		/**/
		onListTypeChange(val){
			this.$router.replace({
				query: {
					...this.$route.query,
					list_type: val
				}
			}).catch(() => {})
		},
		/**/
		onFilialSelected(val){
			if (val !== "09013"){
				this.$router.replace({
					query: {
						...this.$route.query,
						department_id: null
					}
				}).catch(() => {})
			}
		},
		/**/
		setDepartment() {
			if(this.currentUser.role === 'admin'){
				this.departmentSelected = this.getDepartmentList.filter(x => x.code === this.currentUser.top_level_dept);
			}
		}
	}
}
</script>

<style scoped>
.scroll-cover {
	height: calc(100vh - 200px);
}
.td-background-light {
	background: rgba(126, 142, 252, 0.1);
}
.app-table th {
	border: 1px solid white;
}

.app-table tbody tr td {
	height: 40px!important;
	border: 1px solid white;
	background: rgba(187, 187, 187, 0.1);
}

.execution-statics-view .v-data-table > .v-data-table__wrapper > table > thead > tr:last-child > th{
	background: #F7F9FE!important;
}
</style>
