<template>
	<div class="execution-review-list h-100 d-flex flex-column p-relative">
		<app-loader v-if="isLoading" full-width :size="58" />
		<template v-else>
			<div class="d-flex flex-column h-100 bg-4 rounded-20 pa-1 overflow-hidden h-100">
				<perfect-scrollbar class="d-flex flex-column flex-1 h-100">
					<app-table
						:table-width="1700"
					>
						<template #tableHeader>
							<th>{{$t('document-flow.views.statistics.status')}}</th>
							<th>{{$t('document-flow.views.statistics.journal')}}</th>
							<th>{{$t('document-flow.views.statistics.type-document')}}</th>
							<th>{{$t('document-flow.views.statistics.registration-date')}}</th>
							<th>{{$t('document-flow.views.statistics.registration-number')}}</th>
							<th width="400">{{$t('document-flow.views.statistics.correspondent')}}</th>
							<th width="400">{{$t('document-flow.views.statistics.content')}}</th>
							<th>{{$t('document-flow.views.statistics.for-consideration')}}</th>
						</template>

						<template #tableBody>
							<template v-if="documentList.length">
								<tr
									v-for="document in documentList"
									@click="$router.push({
                            name: document.incoming_doc.journal_id === 1 ? 'IncomingDocumentRegistrationFormShow' :
                                  document.incoming_doc.journal_id === 3 ? 'InnerDocumentRegistrationFormShow' :
                                  document.incoming_doc.journal_id === 4 ? 'OutgoingDocumentRegistrationFormShow' :
                                  document.incoming_doc.journal_id === 5 ? 'AppealDocumentRegistrationFormShow' : 'OrdersProtocolsDocumentRegistrationFormShow',
                            params: { id: document.incoming_doc.id },
                            query: { type: 'for_watching_process' }
                        })"
								>
									<td>
										<app-tooltip top>
											<template #content>
												<div class="status-block d-flex align-center">
													<div
														class="status-badge mr-2 rounded-circle"
														:class="[
                               {'error-bg': document.status.name === 'TO DO'},
                                {'warning-bg': document.status.name === 'IN PROGRESS' || document.status.name === 'FOR SIGNATURE'},
                                {'success-bg': document.status.name === 'DONE' || document.status.name === 'ON REVIEW'},
                            ]"
													></div>
													<span class="small-3">{{ document.status.name }}</span>
												</div>
											</template>

											<template #text>
												{{ document.status && document.status.name }}
											</template>
										</app-tooltip>
									</td>
									<td>
										<span class="text-dark">{{ document.incoming_doc.journal.name }}</span>
									</td>
									<td>
										<span class="text-dark">{{ document.incoming_doc.doc_type.name }}</span>
									</td>
									<td>
										{{ document.incoming_doc.register_date | filterCalendarToTime }}
									</td>
									<td>
										{{ document.incoming_doc.register_number }}
									</td>
									<td>
										<app-tooltip top>
											<template #content>
												<span class="line-truncate">{{ document.incoming_doc.correspondent && document.incoming_doc.correspondent.organization_name }}</span>
											</template>
											<template #text>
												<span>{{ document.incoming_doc.correspondent && document.incoming_doc.correspondent.organization_name }}</span>
											</template>
										</app-tooltip>
									</td>
									<td>
										<app-tooltip top>
											<template #content>
												<span class="line-truncate">{{ document.incoming_doc.description && document.incoming_doc.description }}</span>
											</template>
											<template #text>
												<span>{{ document.incoming_doc.description && document.incoming_doc.description }}</span>
											</template>
										</app-tooltip>
									</td>
									<td>
										<app-avatar-group list-type="review_users" :avatar-list="returnNewArr(document.review_users)" />
									</td>
								</tr>
							</template>
						</template>
					</app-table>
				</perfect-scrollbar>
			</div>
		</template>

		<app-pagination @emit:up="paginate" class="mt-3" />
	</div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
	name: "ReviewList",
	data() {
		return {

		}
	},
	computed: {
		...mapGetters({
			currentUser: "auth/getCurrentUser",
			documentList: "documentStatistic/getExecutionReviewList",
			isLoading: "documentStatistic/getIsLoading",
		})
	},
	created() {
		this.getList(this.$route.query);
	},
	methods: {
		...mapActions({
			fetchExecutionReviewList: "documentStatistic/fetchExecutionReviewList"
		}),
		getList(params){
			this.fetchExecutionReviewList(params);
		},
		/**/
		returnNewArr(users){
			let newArr = [];
			users.forEach(item => {
				newArr.push({
					user: item
				})
			})
			return newArr
		},
		/**/
		paginate(value){
			let query = { ...this.$route.query, page: value }

			this.$router.replace({
				query: query
			}).catch(() => {})

			this.fetchExecutionReviewList({
				...query
			})
		}
	}
}
</script>

<style scoped>

</style>
