<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="icon" href="<%= BASE_URL %>favicon.ico">
        <link rel="icon" type="image/gif/png" href="/favicon.ico">
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
        <meta http-equiv="Cache-control" content="no-cache" />
        <title>Intranet Asakabank</title>
    </head>
    <body>
        <noscript>
            <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
                Please enable it to continue.</strong>
        </noscript>
        <div id="app"></div>

<!--        <script type="text/javascript" src="https://jira.asakabank.uz/s/9ccfef2ae2c69059f462b77b674ac9c5-T/zbf5o2/820002/1njfykj/7110d639841f4d969f43b16805968318/_/download/contextbatch/js/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/batch.js?locale=ru-RU&collectorId=36e52e20"></script>-->
        <!-- built files will be auto injected -->

        <script src="<%= BASE_URL %>e-imzo.js"></script>
        <script src="<%= BASE_URL %>e-imzo-client.js"></script>
        <script src="<%= BASE_URL %>jquery.js"></script>
        <script src="https://jira.asakabank.uz/plugins/servlet/issueCollectorBootstrap.js?collectorId=6377c22f&locale=ru_RU" defer></script>
<!--        <script>-->
<!--	        document.addEventListener("DOMContentLoaded", (event) => {-->
<!--		        setTimeout(() => {-->
<!--			        const el = document.querySelector('#atlwdg-trigger')-->
<!--			        el.innerText = "Оставить заявку"-->
<!--            }, 1000)-->
<!--	        });-->
<!--        </script>-->
    </body>
</html>
