body {
    --name: 'Фаррух'
}
body p:last-child:after  {
    content: var(--editor-name);
    padding: 5px;
    border-radius: 10px 10px 10px 0;
    margin-left: 5px;
    background-color: #0D1886;
    color: #fff;
}