<template>
	<div class="approval-show-view d-flex h-100">
		<app-loader v-if="loading" content-width :size="56"/>

		<template v-else>
			<div class="template-width">
				<template v-if="model.compose.type === 'hr_notice'">
					<div class="mb-3">
						<app-button @click="scoreActiveList = 0" class="mr-2">
							{{ $t("document-flow.views.boxes.notification") }}
						</app-button>

						<app-button @click="scoreActiveList = 1" color="warning">
							{{ $t("document-flow.views.boxes.evaluation-paper") }}
						</app-button>
					</div>
				</template>

				<template v-if="model.compose.type === 'hr_rotation'">
					<div class="mb-3">
						<app-button @click="scoreActiveList = 0" class="mr-2">
							{{ $t("document-flow.views.boxes.notification") }}
						</app-button>

						<app-button @click="scoreActiveList = 1" color="warning">
							{{ $t("document-flow.views.boxes.evaluation-paper") }}
						</app-button>
					</div>
				</template>

				<template v-if="scoreActiveList === 0">
					<app-wrapper
						class="content-scroll w-100 shadow-6 rounded-0 p-relative"
						:style="{
							height:
								model.compose.type === 'hr_notice' ||
								model.compose.type === 'hr_rotation'
									? 'calc(100% - 50px)'
									: '100%',
						}"
					>
						<template #body>
							<div
								v-if="historyContentDialog"
								class="p-absolute error-bg rounded"
								style="top: 10px; right: 25px; z-index: 1"
							>
								<v-btn
									color="error"
									tile
									icon
									small
									@click="historyContentDialog = false"
								>
									<x-icon class="text-white" size="20"/>
								</v-btn>
							</div>

							<pdf-letter-template
								v-if="
									$route.query.type === 'inner' ||
									$route.query.type === 'notice' ||
									$route.query.type === 'outgoing' ||
									$route.query.type === 'summary' ||
									$route.query.type === 'hr_rotation'
								"
								:letter-type="
									$route.query.type === 'inner' ||
									$route.query.type === 'hr_rotation'
										? 'inner'
										: $route.query.type === 'notice'
										? 'notice'
										: $route.query.type === 'summary'
										? 'summary'
										: 'outgoing'
								"
								:letter-props="{
									id: model.compose.id,
									sender: model.compose.sender,
									createdDate: model.compose.created_date,
									registerNumber: model.compose.register_number,
									isSigned: model.compose.is_signed,
									filial: model.compose.filial,
									receiver: model.compose.receiver,
									departments: model.compose.receiver
										? model.compose.receiver.departments
										: [],
									branches: model.compose.receiver
										? model.compose.receiver.branches
										: [],
									letterType:
										model.compose.type === 'notice' ||
										model.compose.type === 'hr_notice' ||
										model.compose.type === 'position_rotation' ||
										model.compose.type === 'hr_rotation'
											? 'BILDIRISHNOMA'
											: model.type === 'decree'
											? 'FARMOYISH'
											: model.type === 'summary'
											? 'XULOSA'
											: 'XIZMAT XATI',
									letterShortDescription:
										model.compose.short_description,
									text: model.compose.text,
									signedByList: signersList,
									noticeUser: isNoticeUser ? isNoticeUser : {},
									recruiter: recruiterUser,
									executor: model.compose.author,
									checkId: model.compose.check_id,
									signerObject: model.compose.signer_obj
										? model.compose.signer_obj
										: [],
									isAgreed: model.is_agreed,
									isTechnique: model.compose.type === 'act',
									signerObject: model.compose.signer_obj
										? model.compose.signer_obj
										: [],
									isForPayment: model.compose.is_for_payment,
									modifiedDate: model.compose.modified_date ? model.compose.modified_date : null,
									registerDate: model.compose.register_date ? model.compose.register_date :null,
									type: model.compose.type,
									sendBy: model.compose.send_by,
                  compose_send: model.compose.compose_send,
                  component: model.compose.component,
                  agreed_by: model.compose.agreed_by,
                  priority: model.compose.priority
								}"
								:is-outgoing="
									model.compose.receiver &&
									model.compose.receiver.type === 'organization'
								"
							>
								<template #text v-if="historyContentDialog">
									<div style="text-indent: 0">
										<v-alert color="error" text>
											<p class="small-2 mb-2">
												<span class="font-500">{{ $t("document-flow.views.boxes.author") }}: &nbsp;</span>
												<span>{{
														historyContent.created_by &&
														historyContent.created_by.full_name
													}}</span>
											</p>

											<p class="small-2 mb-0">
												<span class="font-500"
												>{{ $t("document-flow.views.boxes.edit-date") }}: &nbsp;</span
												>
												<span>{{
														historyContent.created_date
															| filterCalendarToTime
													}}</span>
											</p>
										</v-alert>
									</div>

									<span ref="resultText" data-history="history"></span>
								</template>
							</pdf-letter-template>

							<template v-else-if="$route.query.type === 'vacation'">
								<pdf-letter-template-for-vacation
									:letter-props="{
										id: model.compose.id,
										sender: model.compose.sender,
										dep_parent_name: model.compose.dep_parent_name,
										createdDate: model.compose.created_date,
										text: model.compose.text,
										signedByList: model.compose.signed_by.filter(
											user => user.is_for_notice !== true
										),
										executor: model.compose.author,
										checkId: model.compose.check_id,
										signerObject: model.compose.signer_obj
											? model.compose.signer_obj[0]
											: {},
									}"
								>
									<template #text v-if="historyContentDialog">
										<div style="text-indent: 0">
											<v-alert color="error" text>
												<p class="small-2 mb-2">
													<span class="font-500"
													>{{ $t("document-flow.views.boxes.author") }}: &nbsp;</span
													>
													<span>{{
															historyContent.created_by &&
															historyContent.created_by.full_name
														}}</span>
												</p>

												<p class="small-2 mb-0">
													<span class="font-500"
													>{{ $t("document-flow.views.boxes.edit-date") }}: &nbsp;</span
													>
													<span>{{
															historyContent.created_date
																| filterCalendarToTime
														}}</span>
												</p>
											</v-alert>
										</div>

										<span
											ref="resultText"
											data-history="history"
										></span>
									</template>
								</pdf-letter-template-for-vacation>
							</template>

							<template v-else-if="$route.query.type === 'decree'">
								<pdf-letter-template-for-decree
									:letter-props="{
										id: model.compose.id,
										sender: model.compose.sender,
										dep_parent_name: model.compose.dep_parent_name,
										createdDate: model.compose.created_date,
										text: model.compose.text,
										signedByList: model.compose.signed_by,
										agreedByList: model.compose.agreed_by,
										executor: model.compose.author,
										checkId: model.compose.check_id,
										decreeType: model.compose.sub_type ? model.compose.sub_type : model.compose.is_for_payment
											? 'payment_decree'
											: model.compose.receiver
											? 'service_decree'
											: 'chairman_decree',
										receiverList:
											model.compose.receiver &&
											model.compose.receiver.type === 'department'
												? model.compose.receiver.departments
												: model.compose.receiver &&
												  model.compose.receiver.branches,
										isDocumentRegistered:
											model.compose.register_number !== null,
										registerNumber: model.compose.register_number,
										registerDate: model.compose.register_date,
										signerObject: model.compose.signer_obj
											? model.compose.signer_obj[0]
											: {},
										isAgreed: model.is_agreed,
										isForPayment: model.compose.is_for_payment
									}"
								>
									<template #text v-if="historyContentDialog">
										<div style="text-indent: 0">
											<v-alert color="error" text>
												<p class="small-2 mb-2">
													<span class="font-500"
													>{{ $t("document-flow.views.boxes.author") }}: &nbsp;</span
													>
													<span>{{
															historyContent.created_by &&
															historyContent.created_by.full_name
														}}</span>
												</p>

												<p class="small-2 mb-0">
													<span class="font-500"
													>{{ $t("document-flow.views.boxes.edit-date") }}: &nbsp;</span
													>
													<span>{{
															historyContent.created_date
																| filterCalendarToTime
														}}</span>
												</p>
											</v-alert>
										</div>

										<span
											ref="resultText"
											data-history="history"
										></span>
									</template>
								</pdf-letter-template-for-decree>
							</template>

							<template v-else-if="$route.query.type === 'hr_order'">
								<!-- History status xali qo'yilmagan -->
								<pdf-letter-template-for-hr-order
									:letter-props="{
										registerNumber: model.compose.register_number,
										registerDate: model.compose.register_date,
										allowance: model.compose.allowance,
										component: model.compose.component,
										text: model.compose.text,
										shortDescription: model.compose.short_description,
										user: model.compose.user,
										signerObject: model.compose.signer_obj,
										signedByList: model.compose.signed_by.filter(
											user => user.is_for_notice !== true
										),
										checkId: model.compose.check_id,
										isSigned: model.compose.is_signed
									}"
								/>
							</template>

							<template v-else-if="$route.query.type === 'compliance_regulation'">
								<pdf-letter-template-for-compliance-regulation
									:model="model.compose"
								>
									<template #text v-if="historyContentDialog">
										<div style="text-indent: 0">
											<v-alert color="error" text>
												<p class="small-2 mb-2">
													<span class="font-500">{{ $t('document-flow.views.send-document.author') }}: &nbsp;</span>
													<span>{{ historyContent.created_by && historyContent.created_by.full_name }}</span>
												</p>

												<p class="small-2 mb-0">
													<span class="font-500">{{ $t('document-flow.views.send-document.edit-date') }}: &nbsp;</span>
													<span>{{ historyContent.created_date | filterCalendarToTime }}</span>
												</p>
											</v-alert>
										</div>

										<span ref="resultText" data-history="history"></span>
									</template>
								</pdf-letter-template-for-compliance-regulation>
							</template>

							<template
								v-else-if="$route.query.type === 'committee_protocol'"
							>
								<pdf-letter-template-for-committee-protocol
									:model="model"
									:invitees-list="model.signed_by"
								>
									<template #text v-if="historyContentDialog">
										<div style="text-indent: 0">
											<v-alert color="error" text>
												<p class="small-2 mb-2">
													<span class="font-500"
													>{{ $t("document-flow.views.boxes.author") }}: &nbsp;</span
													>
													<span>{{
															historyContent.created_by &&
															historyContent.created_by.full_name
														}}</span>
												</p>

												<p class="small-2 mb-0">
													<span class="font-500"
													>{{ $t("document-flow.views.boxes.edit-date") }}: &nbsp;</span
													>
													<span>{{
															historyContent.created_date
																| filterCalendarToTime
														}}</span>
												</p>
											</v-alert>
										</div>

										<span
											ref="resultText"
											data-history="history"
										></span>
									</template>
								</pdf-letter-template-for-committee-protocol>
							</template>

							<template
								v-else-if="$route.query.type === 'joint_protocol'"
							>
								<pdf-letter-template-for-joint-protocol
									:model="{
										...model,
									 finance_chairman: model.signed_by.find(item => item.position === 'chairman_finance'),
									 monitoring_chairman: model.signed_by.find(item => item.position === 'chairman_monitoring'),
									 finance_signers: model.signed_by.filter(item => item.position === 'board_members_finance'),
									 monitoring_signers: model.signed_by.filter(item => item.position === 'board_members_monitoring'),
									 invitees_list: model.signed_by.filter(item => item.position === 'invitees'),
									 secretary: model.signed_by.find(item => item.position === 'secretary')
									}"
								>
									<template #text v-if="historyContentDialog">
										<div style="text-indent: 0">
											<v-alert color="error" text>
												<p class="small-2 mb-2">
													<span class="font-500"
													>{{ $t("document-flow.views.boxes.author") }}: &nbsp;</span
													>
													<span>{{
															historyContent.created_by &&
															historyContent.created_by.full_name
														}}</span>
												</p>

												<p class="small-2 mb-0">
													<span class="font-500"
													>{{ $t("document-flow.views.boxes.edit-date") }}: &nbsp;</span
													>
													<span>{{
															historyContent.created_date
																| filterCalendarToTime
														}}</span>
												</p>
											</v-alert>
										</div>

										<span
											ref="resultText"
											data-history="history"
										></span>
									</template>
								</pdf-letter-template-for-joint-protocol>
							</template>

							<template
								v-else-if="$route.query.type === 'hr_contract'"
							>
								<pdf-letter-template-for-hr-contract
									:letter-props="model.compose"
								>
									<template #text v-if="historyContentDialog">
										<div style="text-indent: 0">
											<v-alert color="error" text>
												<p class="small-2 mb-2">
													<span class="font-500"
													>{{ $t("document-flow.views.boxes.author") }}: &nbsp;</span
													>
													<span>{{
															historyContent.created_by &&
															historyContent.created_by.full_name
														}}</span>
												</p>

												<p class="small-2 mb-0">
													<span class="font-500"
													>{{ $t("document-flow.views.boxes.edit-date") }}: &nbsp;</span
													>
													<span>{{
															historyContent.created_date
																| filterCalendarToTime
														}}</span>
												</p>
											</v-alert>
										</div>

										<span
											ref="resultText"
											data-history="history"
										></span>
									</template>
								</pdf-letter-template-for-hr-contract>
							</template>

							<template v-else-if="$route.query.type === 'currency_summary'">
								<pdf-letter-template-for-currency-summary
									:letter-props="{
					          text: model.compose.text,
					          signedByList: signersList,
					          signerObject: model.compose.signer_obj ? model.compose.signer_obj[0] : {},
					          model: model.compose,
					          checkId: model.compose.check_id,
					          noticeUser: isNoticeUser ? isNoticeUser : {},
					        }"
								/>
							</template>

							<template v-else-if="$route.query.type === 'retail_act'">
								<pdf-letter-template-for-retail-act
									:letter-props="{
									  model: model.compose
                  }"
								/>
							</template>

							<template v-else-if="$route.query.type === 'irr'">
								<pdf-letter-template-for-individual-development-plan
									:compose="model.compose"
								>
									<template #text v-if="historyContentDialog">
										<div style="text-indent: 0">
											<v-alert color="error" text>
												<p class="small-2 mb-2">
													<span class="font-500">{{ $t('document-flow.views.send-document.author') }}: &nbsp;</span>
													<span>{{ historyContent.created_by && historyContent.created_by.full_name }}</span>
												</p>

												<p class="small-2 mb-0">
													<span class="font-500">{{ $t('document-flow.views.send-document.edit-date') }}: &nbsp;</span>
													<span>{{ historyContent.created_date | filterCalendarToTime }}</span>
												</p>
											</v-alert>
										</div>

										<span ref="resultText" data-history="history"></span>
									</template>
								</pdf-letter-template-for-individual-development-plan>
							</template>

							<template v-else-if="$route.query.type === 'attorney'">
								<pdf-letter-template-for-attorney
									:compose="model.compose"
								>
									<template #text v-if="historyContentDialog">
										<div style="text-indent: 0">
											<v-alert color="error" text>
												<p class="small-2 mb-2">
													<span class="font-500">{{ $t('document-flow.views.send-document.author') }}: &nbsp;</span>
													<span>{{ historyContent.created_by && historyContent.created_by.full_name }}</span>
												</p>

												<p class="small-2 mb-0">
													<span class="font-500">{{ $t('document-flow.views.send-document.edit-date') }}: &nbsp;</span>
													<span>{{ historyContent.created_date | filterCalendarToTime }}</span>
												</p>
											</v-alert>
										</div>

										<span ref="resultText" data-history="history"></span>
									</template>
								</pdf-letter-template-for-attorney>
							</template>

							<template v-else-if="$route.query.type === 'reference'">
								<base-template component="ReferenceTemplate" :model="model.compose">
									<template #text v-if="historyContentDialog">
										<div style="text-indent: 0">
											<v-alert color="error" text>
												<p class="small-2 mb-2">
													<span class="font-500">{{ $t('document-flow.views.send-document.author') }}: &nbsp;</span>
													<span>{{ historyContent.created_by && historyContent.created_by.full_name }}</span>
												</p>

												<p class="small-2 mb-0">
													<span class="font-500">{{ $t('document-flow.views.send-document.edit-date') }}: &nbsp;</span>
													<span>{{ historyContent.created_date | filterCalendarToTime }}</span>
												</p>
											</v-alert>
										</div>
										<span ref="resultText" data-history="history"></span>
									</template>
								</base-template>
							</template>

							<pdf-letter-template-for-protocol
								v-else
								:model="model"
								:invitees-list="model.signed_by"
							>
								<template #text v-if="historyContentDialog">
									<div style="text-indent: 0">
										<v-alert color="error" text>
											<p class="small-2 mb-2">
												<span class="font-500">{{ $t("document-flow.views.boxes.author") }}: &nbsp;</span>
												<span>{{ historyContent.created_by && historyContent.created_by.full_name }}</span>
											</p>

											<p class="small-2 mb-0">
												<span class="font-500"
												>{{ $t("document-flow.views.boxes.edit-date") }}: &nbsp;</span
												>
												<span>{{
														historyContent.created_date
															| filterCalendarToTime
													}}</span>
											</p>
										</v-alert>
									</div>

									<span ref="resultText" data-history="history"></span>
								</template>
							</pdf-letter-template-for-protocol>
						</template>
					</app-wrapper>
				</template>

				<template v-if="scoreActiveList === 1">
					<app-wrapper
						class="w-100 shadow-6 rounded-0"
						:style="{
							height:
								model.compose.type === 'hr_notice' ||
								model.compose.type === 'hr_rotation'
									? 'calc(100% - 50px)'
									: '100%',
						}"
					>
						<template #body>
							<template v-if="model.compose.type === 'hr_notice'">
								<score-sheet-letter-template
									:letter-props="{
										text: model.compose.evaluation.text,
										recruiter: model.compose.evaluation.recruiter,
										recruiterSigned:
											model.compose.evaluation.recruiter_is_signed,
										director: model.compose.evaluation.director,
										directorSigned:
											model.compose.evaluation.director_is_signed,
										checkId: model.compose.check_id,
									}"
								/>
							</template>

							<template v-if="model.compose.type === 'hr_rotation'">
								<pdf-letter-template-for-rotation
									:letter-props="{
										text: model.compose.evaluation.text,
										type: model.compose.evaluation.rotation_signers
											.type.value,
										executive:
											model.compose.evaluation.rotation_signers
												.executive,
										invited:
											model.compose.evaluation.rotation_signers
												.invited,
										checkId: model.compose.check_id,
									}"
								/>
							</template>
						</template>
					</app-wrapper>
				</template>
			</div>

			<div class="flex-1 pl-7">
				<perfect-scrollbar class="h-100 px-3">
					<app-wrapper class="shadow-6 mb-5">
						<template #header>
							<h4 class="small-2 font-600">
								{{ $t("document-flow.views.boxes.changelog-list") }}
							</h4>
						</template>

						<template #body>
							<text-different-slide
								:document-id="model.compose.id"
								@emit:up="activeHistoryContent"
							/>
						</template>
					</app-wrapper>

					<attached-files-block
						:files="model.files"
						:send-type="model.compose.type === 'organization_letter' && model.compose.send_by === 'hybrid_mail' ? 'hybrid' : null"
					/>

					<v-row>
						<v-col md="6">
							<process-people-block
								v-if="model"
								:owner="model.author"
								:agreed-list="model.agreed_by"
								:signers-list="model.signed_by"
							/>
						</v-col>

						<v-col md="6">
							<timeline-people-block
								v-if="model"
								:model="model"
								:owner="model.author"
								:agreed-list="model.agreed_by"
								:signers-list="model.signed_by"
							/>
						</v-col>

						<template v-if="isNoticeUser">
							<v-col md="6">
								<app-wrapper class="shadow-6">
									<template #header>
										<h4 class="small-2 font-600">
											{{
												$t("document-flow.views.boxes.resolution")
											}}
										</h4>
									</template>

									<template #body>
										<perfect-scrollbar
											style="max-height: 230px"
											class="mx-n5 px-5"
										>
											<div
												v-for="(
													item, index
												) in isNoticeUser.performers"
												:key="index"
												class="d-flex text-dark font-600 small-2 mb-2"
											>
												<span>{{ index + 1 }}.</span>
												<span class="ml-1">
													{{
														item.user
															? item.user.full_name
															: item.full_name
													}}
												</span>
											</div>
										</perfect-scrollbar>
									</template>
								</app-wrapper>
							</v-col>

							<v-col md="6">
								<app-wrapper class="shadow-6 h-100">
									<template #header>
										<h4 class="small-2 font-600">
											{{ $t("document-flow.views.boxes.chip-text") }}
										</h4>
									</template>

									<template #body>
										<perfect-scrollbar
											style="max-height: 230px"
											class="mx-n5 px-5"
										>
											<span
												v-html="isNoticeUser.resolution_text"
												class="reset-space"
											></span>
										</perfect-scrollbar>
									</template>
								</app-wrapper>
							</v-col>
						</template>

						<v-col md="12">
							<app-wrapper class="shadow-6">
								<template #header>
									<div class="d-flex justify-space-between">
										<h4 class="small-2 font-600">
											{{
												$t(
													"document-flow.views.boxes.resolution-content"
												)
											}}
										</h4>
										<!--                    v-if="!signed"-->
										<div class="d-flex gap-x-2 flex-wrap gap-y-1">
											<app-button
												:to="{
													name: 'ApprovalIndex',
													query: activeFiltered
												}"
												depressed
												color="error"
											>
												<template #default>
													{{
														$t("document-flow.views.boxes.back")
													}}
												</template>
												<template #prepend>
													<v-icon size="20">mdi-arrow-left</v-icon>
												</template>
											</app-button>

											<app-button
												v-if="
													model.compose.type === 'protocol' &&
													(currentUser.role ===
														'chancellery_admin' ||
														currentUser.role === 'admin')
												"
												color="error"
												@click="
													$router.push({
														name: 'SendingDocumentsProtocolUpdate',
														params: { id: model.compose.id },
														query: {
															from: 'approval',
															documentId: $route.params.id,
														},
													})
												"
											>
												<template #prepend>
													<alert-circle-icon size="18"/>
												</template>
												{{ $t("document-flow.views.boxes.edit") }}
											</app-button>

											<template v-else>
												<template v-if="!model.is_agreed">
													<app-button
														v-if="!['trip'].includes(model.compose.sub_type)"
														color="error"
														@click="dialog = true"
													>
														<template #prepend>
															<alert-circle-icon size="18"/>
														</template>
														{{ $t("document-flow.views.boxes.edit") }}
													</app-button>
												</template>
											</template>

											<app-button
												v-if="
													model.is_agreed &&
													model.compose.document_id
												"
												:disabled="!model.compose.document_id"
												@click="routeOpenProcess"
											>
												<template #prepend>
													<activity-icon size="18"/>
												</template>
												{{
													$t(
														"document-flow.views.boxes.view-process"
													)
												}}
											</app-button>

											<template v-if="!model.compose.is_signed">
												<app-button
													v-if="model.compose.reply_document_id"
													:disabled="
														!model.compose.reply_document_id
													"
													@click="
														$router.push({
															name:
																model.compose.journal_id === 3
																	? 'InnerDocumentRegistrationFormShow'
																	: model.compose
																			.journal_id === 4
																	? 'OutgoingDocumentRegistrationFormShow'
																	: 'OrdersProtocolsDocumentRegistrationFormShow',
															params: {
																id: model.compose
																	.reply_document_id,
															},
															query: {
																type: 'for_watching_process',
															},
														})
													"
												>
													<template #prepend>
														<activity-icon size="18"/>
													</template>
													{{
														$t(
															"document-flow.views.boxes.view-letter"
														)
													}}
												</app-button>
												<template v-if="model.is_agreed === null">
													<app-button
														color="error"
														@click="sendNotAgree"
													>
														<template #prepend>
															<alert-circle-icon size="18"/>
														</template>
														{{
															$t(
																"document-flow.views.boxes.not-agree"
															)
														}}
													</app-button>
												</template>

												<template
													v-if="
														model.compose.type === 'decree' &&
														(model.compose.receiver ||
															(model.compose.is_for_payment ===
																true &&
																currentUser.filial === '09013'))
													"
												>
													<app-button
														v-if="!model.is_agreed"
														min-width="100"
														@click="sendAgree"
													>
														{{
															$t(
																"document-flow.views.boxes.agree"
															)
														}}
														<template #append>
															<check-circle-icon size="18"/>
														</template>
													</app-button>
												</template>

												<template v-else>
													<template
														v-if="
															( model.compose.type ===
															  'attorney' ||
																model.compose.type ===
															  'technic_teaching' ||
															  model.compose.type ===
															  'irr' ||
															  model.compose.type ===
															  'expense_notice' ||
																model.compose.type ===
															  'retail_act' ||
																model.compose.type ===
																'summary' ||
																model.compose.type ===
																	'notice' ||
																model.compose.type ===
																	'hr_notice' ||
																model.compose.type ===
																	'decree' ||
																model.compose.type ===
																	'hr_application' ||
																model.compose.type ===
																	'hr_order' ||
																model.compose.type ===
																	'hr_rotation') &&
															isUserSignerAssistant
														"
													>
														<template v-if="!isNoticeUser">
															<app-button
																min-width="100"
																@click="
																	createResolutionDialog = true
																"
															>
																{{
																	$t(
																		"document-flow.views.boxes.send-for-signature"
																	)
																}}
																<template #append>
																	<check-circle-icon
																		size="18"
																	/>
																</template>
															</app-button>
														</template>

														<template v-else>
															<app-button
																min-width="100"
																@click="
																	showUpdateResolutionModal
																"
															>
																{{
																	$t(
																		"document-flow.views.boxes.change-chip"
																	)
																}}
																<template #append>
																	<check-circle-icon
																		size="18"
																	/>
																</template>
															</app-button>
														</template>
													</template>

													<template v-else>
														<template v-if="!model.is_agreed">
															<app-button
																min-width="100"
																@click="sendAgree"
															>
																{{
																	$t(
																		"document-flow.views.boxes.agree"
																	)
																}}
																<template #append>
																	<check-circle-icon
																		size="18"
																	/>
																</template>
															</app-button>
														</template>
													</template>
												</template>
											</template>
											<app-button @click="historiesModal = !historiesModal">
												<template #prepend>
													<svg height="20" viewBox="0 0 24 24" width="20">
														<path fill="none" d="M0 0h24v24H0V0z"/>
														<path
															fill="#ffffff"
															d="M13.26 3C8.17 2.86 4 6.95 4 12H2.21c-.45 0-.67.54-.35.85l2.79 2.8c.2.2.51.2.71 0l2.79-2.8c.31-.31.09-.85-.36-.85H6c0-3.9 3.18-7.05 7.1-7 3.72.05 6.85 3.18 6.9 6.9.05 3.91-3.1 7.1-7 7.1-1.61 0-3.1-.55-4.28-1.48-.4-.31-.96-.28-1.32.08-.42.42-.39 1.13.08 1.49C9 20.29 10.91 21 13 21c5.05 0 9.14-4.17 9-9.26-.13-4.69-4.05-8.61-8.74-8.74zm-.51 5c-.41 0-.75.34-.75.75v3.68c0 .35.19.68.49.86l3.12 1.85c.36.21.82.09 1.03-.26.21-.36.09-.82-.26-1.03l-2.88-1.71v-3.4c0-.4-.34-.74-.75-.74z"
														/>
													</svg>
												</template>
												<span class="ml-2">{{
														$t("control-tasks.tasks.history-changes")
													}}</span>
											</app-button>
										</div>
									</div>
								</template>

								<template #body>
									<div class="app-input">
										<span class="d-block font-600 small-2 mb-2"
										>{{ $t("document-flow.views.boxes.content") }}
											<span class="red--text">{{
													$t(
														"document-flow.views.boxes.maximum-1000-characters"
													)
												}}</span></span
										>

										<quill-editor
											ref="editor"
											v-model="$v.text.$model"
											:error="$v.text.$error"
											background-color="var(--input-bg)"
											:disabled="model.is_signed"
										/>
										<span class="mb-4 mt-1 d-block font-600 small-2"
										>{{
												$t(
													"document-flow.views.boxes.characters-count"
												)
											}}:
											<span class="red--text">{{
													text.replace(/(<([^>]+)>)/gi, "").length
												}}</span></span
										>

										<div class="d-flex align-center">
											<resolution-content-modal
												@emit:up="text2 => (text = text2.name)"
											/>

											<app-button
												class="ml-2"
												@click="addComment"
												:loading="isCommentAddLoading"
											>
												{{
													$t(
														"document-flow.views.boxes.add-comment"
													)
												}}
											</app-button>

                      <app-tooltip top>
                        <template #content>
                          <file-upload-modal
                              ref="fileUpload"
                              @emit:fileUpload="onFileUpload"
                          />
                        </template>

                        <template #text>
                          {{ $t('commentWithFile') }}
                        </template>
                      </app-tooltip>
										</div>
									</div>
								</template>
							</app-wrapper>
						</v-col>

						<v-col md="12">
							<app-wrapper class="shadow-6">
								<template #header>
									<h4 class="small-2 font-600">
										{{ $t("document-flow.views.boxes.comments") }}
									</h4>
								</template>
								<template #body>
									<!--                  <perfect-scrollbar style="max-height: 320px" class="mx-n5 px-5">
                    <template v-for="(item, index) in reasonRejections.agreedByList">
                      <div
                        v-if="item.reason"
                        class="d-flex mb-5"
                      >
                        <v-avatar
                          size="36"
                          :color="item.user.color"
                        >
                          <template v-if="item.user.avatar">
                            <img
                              :src="item.user.avatar.url"
                              alt="Avatar image"
                              class="object-cover w-100 h-100"
                            >
                          </template>

                          <template v-else>
                            <span class="white&#45;&#45;text small-3">
                              {{ item.user.full_name[0] }}
                            </span>
                          </template>
                        </v-avatar>

                        <div class="ml-3">
                          <h5 class="font-600">{{ item.user.full_name }}</h5>
                          <span class="font-500 small-2 reset-space" v-html="item.reason"></span>
                        </div>
                      </div>
                    </template>

                    <template v-for="(item, index) in reasonRejections.signedByList">
                      <div
                        v-if="item.reason"
                        class="d-flex"
                        :class="{'mb-5': reasonRejections.signedByList.length !== index + 1}"
                      >
                        <v-avatar
                          size="36"
                          :color="item.user.color"
                        >
                          <template v-if="item.user.avatar">
                            <img
                              :src="item.user.avatar.url"
                              alt="Avatar image"
                              class="object-cover w-100 h-100"
                            >
                          </template>

                          <template v-else>
                            <span class="white&#45;&#45;text small-3">
                              {{ item.user.full_name[0] }}
                            </span>
                          </template>
                        </v-avatar>

                        <div class="ml-3">
                          <h5 class="font-600">{{ item.user.full_name }}</h5>
                          <span class="font-500 small-2 reset-space" v-html="item.reason"></span>
                        </div>
                      </div>
                    </template>

                    <template v-if="!reasonRejections.agreedByList.length && !reasonRejections.signedByList.length">
                      <h4 class="font-600 text-center">{{$t('document-flow.views.boxes.no-refusals')}}</h4>
                    </template>
                  </perfect-scrollbar>-->
									<template>
										<comments-box :compose-model="model" :file-upload="false"/>
									</template>
								</template>
							</app-wrapper>
						</v-col>
					</v-row>
				</perfect-scrollbar>
			</div>

			<!-- Изменить текст документа -->
			<v-dialog
				v-model="dialog"
				width="960"
				content-class="reset-dialog-style"
			>
				<v-card>
					<div class="pa-3 font-500">{{ $t("document-flow.views.boxes.change-document-text") }}</div>

					<div class="border-top border-bottom pa-3">
						<template
							v-if="model.compose && model.compose.type === 'notice'"
						>
							<div class="app-input mb-6">
								<span class="d-block font-600 small-2 mb-2"
								>{{ $t("document-flow.views.boxes.short-description") }}</span
								>

								<v-text-field
									v-model="
										model.compose && model.compose.short_description
									"
									hide-details
									outlined
									background-color="var(--input-bg)"
								></v-text-field>
							</div>
						</template>

						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2"
							>{{ $t("document-flow.views.boxes.document-text") }}</span
							>

							<!--            <quill-editor-->
							<!--              v-model="model.compose && model.compose.text"-->
							<!--            />-->
							<app-editor
								v-model="model.compose && model.compose.text"
							/>
						</div>
					</div>

					<div class="pa-3 text-center">
						<app-button color="error" @click="$refs.warningModal.dialog = true">
							<template #prepend>
								<alert-circle-icon size="18"/>
							</template>
							{{ $t("document-flow.views.boxes.edit") }}
						</app-button>
					</div>
				</v-card>
			</v-dialog>
			<!-- /Изменить текст документа -->

			<!-- Создать фишку (modal) -->
			<v-dialog
				v-model="createResolutionDialog"
				persistent
				max-width="760"
				content-class="reset-dialog-style"
			>
				<div class="bg-white rounded">
					<div class="d-flex align-center justify-space-between py-3 px-5">
						<span class="font-500 mr-4">{{
								$t("document-flow.views.boxes.create-resolution")
							}}</span>

						<v-btn
							icon
							small
							color="error"
							@click="createResolutionDialog = false"
						>
							<x-icon/>
						</v-btn>
					</div>

					<div class="border-top border-bottom py-3 px-5">
						<div class="app-input mb-5">
							<span class="d-block font-600 small-2 mb-2">{{
									$t("document-flow.views.boxes.employees")
								}}</span>

							<app-autocomplete
								v-model="$v.createResolutionModel.__performers.$model"
								:error="$v.createResolutionModel.__performers.$error"
								api-list-url="/user/search/"
								item-text="full_name"
								return-object
								multiple
								cache-items
								clearable
								:placeholder="$t('document-flow.views.boxes.employees')"
								:item-disabled="getDisableItems"
							/>

							<template v-if="createResolutionModel.__performers.length">
								<draggable
									v-model="createResolutionModel.__performers"
									class="mt-4"
								>
									<transition-group>
										<template v-for="(item, index) in createResolutionModel.__performers">
											<div :key="item.id" class="d-flex align-center justify-space-between layout-border rounded-10 py-2 px-3 mb-2">
												<div class="d-flex align-center gap-4">
													<div class="pointer mr-1">
														<base-iconify
															icon="DragVertical"
															class="text-greyscale-500"
														/>
													</div>

													<span class="small-2 font-600">{{ item.full_name }}</span>
												</div>

												<div>
													<v-btn
														color="error"
														icon
														small
														@click="createResolutionModel.__performers.splice(index, 1)"
													>
														<trash2-icon size="18" />
													</v-btn>
												</div>
											</div>
										</template>
									</transition-group>
								</draggable>
<!--								<app-table bordered class="mt-4">
									<template #tableHeader>
										<th width="75">№</th>
										<th>
											{{ $t("document-flow.views.boxes.employee") }}
										</th>
										<th width="75">
											{{
												$t("document-flow.views.boxes.developments")
											}}
										</th>
									</template>

									<template #tableBody>
										<tr
											v-for="(
												item, index
											) in createResolutionModel.__performers"
											:key="index"
											class="text-dark font-500"
										>
											<td>{{ index + 1 }}</td>
											<td>
												{{
													item.user
														? item.user.full_name
														: item.full_name
												}}
											</td>
											<td>
												<app-button
													icon
													color="error"
													min-width="40"
													height="40"
													width="40"
													@click="deleteSigner(index)"
												>
													<trash2-icon size="18"/>
												</app-button>
											</td>
										</tr>
									</template>
								</app-table>-->
							</template>
						</div>

						<div class="app-input mt-5">
							<span class="d-block font-600 small-2 mb-2"
							>{{ $t("document-flow.views.boxes.content") }}
								<!--                <span class="font-600 red&#45;&#45;text">{{$t('document-flow.views.boxes.maximum-300-characters')}}</span>-->
							</span>

							<quill-editor
								ref="editor"
								v-model="
									$v.createResolutionModel.resolution_text.$model
								"
								:error="$v.createResolutionModel.resolution_text.$error"
								class="mb-4"
							/>
							<span class="mb-4 mt-1 d-block font-600 small-2"
							>{{ $t("document-flow.views.boxes.characters-count") }}:
								<span class="red--text">{{
										createResolutionModel.resolution_text &&
										createResolutionModel.resolution_text.replace(
											/(<([^>]+)>)/gi,
											""
										).length
									}}</span></span
							>
						</div>

						<resolution-content-modal
							@emit:up="
								text =>
									(createResolutionModel.resolution_text = text.name)
							"
						/>
					</div>

					<div class="py-3 px-5 text-center">
						<template v-if="!isNoticeUser">
							<app-button @click="createResolution">
								{{ $t("document-flow.views.boxes.send-for-signature") }}
							</app-button>
						</template>

						<template v-else>
							<app-button @click="updateResolution">
								{{ $t("document-flow.views.boxes.change-chip") }}
							</app-button>
						</template>
					</div>
				</div>
			</v-dialog>
			<!-- /Создать фишку (modal) -->
			<v-dialog
				@click:outside="historiesModal = !historiesModal"
				@keydown.esc="historiesModal = !historiesModal"
				max-width="800px"
				v-model="historiesModal"
			>
				<v-card class="pa-3">
					<h4 class="py-5 mx-4 font-500 px-0" style="font-size: 20px">
						{{ $t("control-tasks.tasks.history-changes") }}
					</h4>
					<div class="px-4 mb-4">
						<template v-if="histories.length">
							<div
								:key="index"
								class="py-4 border-bottom border-top"
								style="margin-top: -1px"
								v-for="(history, index) in histories"
							>
								<div class="d-flex align-center mb-4">
									<v-avatar
										:color="history.created_by.color"
										class="mr-2"
										size="42"
									><span class="font-500 text-white small">{{
											history.created_by.full_name.slice(0, 1)
										}}</span>
									</v-avatar>
									<div class="d-flex small font-500">
										<span class="mr-2">{{ history.created_by.full_name }}</span>
										<span class="mr-2 text-2">{{ history.description }}</span>
										<span class="mr-2 text-2">{{
												parseDateHour(history.created_date)
											}}</span>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6 col">
										<p class="font-600 small-2 mb-0">
											{{ $t("control-tasks.tasks.original-value") }}
										</p>
										<span class="font-600 text-2 small-2" v-html="history.original_value"></span>
									</div>
									<div class="col-md-6 col">
										<p class="font-600 small-2 mb-0">
											{{ $t("control-tasks.tasks.new-value") }}
										</p>
										<span class="font-600 text-2 small-2" v-html="history.new_value"></span>
									</div>
								</div>
							</div>
							<div v-if="historiesLoading" class="d-flex align-center justify-center mt-5" style="height: 35px">
								<app-loader :size="35"/>
							</div>
							<div v-else-if="historiesNext" class="d-flex align-center justify-center w-100 mt-5">
								<v-btn
									@click="() => getHistories(true)"
									color="primary"
									depressed
									small
									style="color: white"
								>
									{{ $t("control-tasks.tasks.load-more") }}
								</v-btn>
							</div>
						</template>
						<div v-else>
							<p class="mt-3 mb-0 font-500" style="color: #17171780">
								{{ $t("control-tasks.tasks.no-changes") }}
							</p>
						</div>
					</div>
					<v-card-actions class="justify-end pb-4">
						<v-btn color="primary" depressed @click="historiesModal = !historiesModal">{{
								$t("control-tasks.tasks.close")
							}}
						</v-btn>
					</v-card-actions>
				</v-card>
			</v-dialog>
		</template>

		<!--WARNING MODAL-->
		<warning-modal ref="warningModal" @emit:success-button="changeDocument"/>
		<!--/WARNING MODAL-->
	</div>
</template>

<script>
import CommentsBox from "../../../components/CommentsBox";
import ResolutionContentModal from "@/common/components/ResolutionContentModal"
import PdfLetterTemplateForVacation from "@/common/components/PdfLetterTemplateForVacation"
import PdfLetterTemplateForHrContract from "../../../../../common/components/PdfLetterTemplateForHrContract.vue";
import PdfLetterTemplateForRetailAct from "../../../../../common/components/PdfLetterTemplateForRetailAct.vue";
import PdfLetterTemplateForDecree from "../../../../../common/components/PdfLetterTemplateForDecree";
import PdfLetterTemplateForAttorney from "../../../../../common/components/PdfLetterTemplateForAttorney.vue";
import PdfLetterTemplateForHrOrder from "@/common/components/PdfLetterTemplateForHrOrder"
import ScoreSheetLetterTemplate from "@/common/components/ScoreSheetLetterTemplate"
import TextDifferentSlide from "@/common/components/TextDifferentSlide"
import {WarningModal} from "@/common/components/Modal";
import PdfLetterTemplateForIndividualDevelopmentPlan
	from "../../../../../common/components/PdfLetterTemplateForIndividualDevelopmentPlan.vue";
import PdfLetterTemplateForCommitteeProtocol
	from "@/common/components/PdfLetterTemplateForCommitteeProtocol";
import PdfLetterTemplateForJointProtocol from "../../../../../common/components/PdfLetterTemplateForJointProtocol.vue";
import PdfLetterTemplateRetailAct from "@/common/components/PdfLetterTemplateRetailAct"
import PdfLetterTemplateForCurrencySummary from "../../../../../common/components/PdfLetterTemplateForCurrencySummary";
import {mapActions, mapGetters, mapState} from "vuex"
import {
	FileTextIcon,
	DownloadCloudIcon,
	ClockIcon,
	InfoIcon,
	AlertCircleIcon,
	CheckCircleIcon,
	XOctagonIcon,
	XIcon,
	Trash2Icon,
	ActivityIcon
} from "vue-feather-icons"
import {required, maxLength} from "vuelidate/lib/validators"
import PdfLetterTemplate from "@/common/components/PdfLetterTemplate"
import PdfLetterTemplateForProtocol from "../../../../../common/components/PdfLetterTemplateForProtocol";
import AttachedFilesBlock from "@/common/components/AttachedFilesBlock.vue";
import ProcessPeopleBlock from "@/common/components/ProcessPeopleBlock.vue";
import TimelinePeopleBlock from "@/common/components/TimelinePeopleBlock.vue";
import {textDifferent} from "@/common/helpers";
import PdfLetterTemplateForRotation from "@/common/components/PdfLetterTemplateForRotation.vue";
import AppLoader from "@/common/components/base/AppLoader";
import PdfLetterTemplateForComplianceRegulation
	from "../../../../../common/components/PdfLetterTemplateForComplianceRegulation.vue";
import FileUploadModal from "../../../components/FileUploadModal.vue";
import draggable from 'vuedraggable'
import BaseTemplate from "../../../../../common/componentsV3/Templates/BaseTemplate.vue";

export default {
	name: "show",
	components: {
		BaseTemplate,
    FileUploadModal,
		PdfLetterTemplateForComplianceRegulation,
		PdfLetterTemplateForJointProtocol,
		PdfLetterTemplateForRetailAct,
		PdfLetterTemplateForAttorney,
		PdfLetterTemplateForRotation,
		CommentsBox,
		ResolutionContentModal,
		PdfLetterTemplateForVacation,
		PdfLetterTemplateForDecree,
		ScoreSheetLetterTemplate,
		PdfLetterTemplateForIndividualDevelopmentPlan,
		TextDifferentSlide,
		PdfLetterTemplateForCommitteeProtocol,
		PdfLetterTemplateForHrContract,
		PdfLetterTemplateForCurrencySummary,
		PdfLetterTemplateRetailAct,
		WarningModal,
		FileTextIcon,
		DownloadCloudIcon,
		ClockIcon,
		InfoIcon,
		AlertCircleIcon,
		CheckCircleIcon,
		XOctagonIcon,
		ActivityIcon,
		PdfLetterTemplate,
		PdfLetterTemplateForProtocol,
		PdfLetterTemplateForHrOrder,
		AttachedFilesBlock,
		ProcessPeopleBlock,
		TimelinePeopleBlock,
		XIcon,
		Trash2Icon,
		AppLoader,
		draggable
	},
	data() {
		return {
			dialog: false,
			isCommentAddLoading: false,
			loading: true,
			model: {},
			signed: false,
			text: "",
			createResolutionDialog: false,
			createResolutionModel: {
				performers: [],
				__performers: [],
				resolution_text: ""
			},
			scoreActiveList: 0,
			historyContentDialog: false,
			historyContent: null,
			histories: [],
			historiesLoading: false,
			historiesModal: false,
			historiesNext: false,
			historiesPage: 1,
		}
	},
	validations: {
		text: {
			required,
			maxLength: maxLength(1000)
		},
		createResolutionModel: {
			__performers: {required},
			resolution_text: {
				required,
				// maxLength: maxLength(300)
			}
		}
	},
	computed: {
		...mapState({
			indexTableFilters: state => state.documentFlowBoxesApproval.indexTableFilters
		}),
		/*
		*
		* */
		...mapGetters({
			currentUser: "auth/getCurrentUser",
			getDisableItems: "getDisableItems",
      activeCommentID: "documentFlowModule/getActiveComment",
		}),
		/*
		*
		* */
		activeFiltered() {
			let active = {}

			Object.entries(this.indexTableFilters).forEach(filter => {
				const [key, value] = filter

				if (key.startsWith("__")) {
					return;
				}

				if (value || value === true || value === false) {
					active[key] = value
				}
			})

			return active
		},
		/*
		*
		* */
		isUserSignerAssistant() {
			let isAssistant = false;
			if ((this.model.signer_obj && Array.isArray(this.model.signer_obj) && this.model.signer_obj[0].assistants)) {
				if (this.model.signer_obj[0].assistants === this.currentUser.id) {
					isAssistant = true;
				}
			}
			if (this.model?.compose?.curator && Array.isArray(this.model?.compose?.curator.assistant) && this.model?.compose?.curator.assistant.length) {
				if (this.model?.compose?.curator.assistant.includes(this.currentUser.id)) {
					isAssistant = true;
				}
			}
			return isAssistant
		},
		/*
		*
		* */
		reasonRejections() {
			return {
				agreedByList: this.model.agreed_by.filter(user => user.reason !== null),
				signedByList: this.model.signed_by.filter(user => user.reason !== null),
			}
		},
		/*
		*
		* */
		signersList() {
			let filterNoticeUser = this.model.compose.signed_by.filter(user => user.is_for_notice !== true)

			if (this.model.compose.evaluation.recruiter) {
				return filterNoticeUser.filter(item => item.user.id !== this.model.compose.evaluation.recruiter.id)
			}

			return filterNoticeUser.sort((a, b) => {
				const ageA = a.user.order_by;
				const ageB = b.user.order_by;

				return ageB - ageA;
			})
		},
		/*
		*
		* */
		recruiterUser() {
			if (this.model.compose.evaluation.recruiter) {
				return this.model.compose.signed_by.find(item => item.user.id === this.model.compose.evaluation.recruiter.id)
			}

			return {}
		},
		/*
		*
		* */
		isNoticeUser() {
			return this.model.compose.signed_by.find(user => user.is_for_notice === true)
		}
	},
	created() {
		this.getOne();
	},
	mounted() {
		this.getHistories()
	},
	methods: {
		...mapActions({
			fetchCommentsList: "action/fetchCommentsList",
			fetchNewComments: "action/fetchNewComments",
		}),
		/*
		*
		* */
		getHistories(nextLoad) {
			const historiesPage = nextLoad ? this.historiesPage + 1 : 1;
			this.historiesLoading = true;
			this.historiesPage = historiesPage;
			this.$axios.get(`/docflow/${this.currentUser.filial}/compose-actions/?compose_id=${this.$route.query.compose_id}&page=${historiesPage}`)
				.then(response => {
					const historiesNext = !!response?.data?.next;
					const results = response?.data?.results;
					const histories = Array.isArray(results) ? results : [];
					const documentHistories = nextLoad ? [...this.histories, ...histories] : histories
					this.histories = documentHistories;
					this.historiesNext = historiesNext;
				})
				.catch(() => {
					const histories = nextLoad ? this.histories : [];
					this.histories = histories;
					this.historiesNext = false;
				})
				.finally(() => {
					this.historiesLoading = false;
				});
		},
		parseDateHour(incomingDate = new Date()) {
			const parsingDate = new Date(incomingDate);
			const date = parsingDate.getDate().toString().padStart(2, "0");
			const hour = parsingDate.getHours().toString().padStart(2, "0");
			const month = (parsingDate.getMonth() + 1).toString().padStart(2, "0");
			const minute = parsingDate.getMinutes().toString().padStart(2, "0");
			const year = parsingDate.getFullYear().toString();
			const d = `${date}.${month}.${year} ${hour}:${minute}`;
			return d;
		},
		async activeHistoryContent(value) {
			this.historyContent = value
			this.historyContentDialog = true
			await this.$nextTick()

			let text = document.querySelectorAll("[data-history='history']");

			textDifferent(value, text);
		},
		/**/
		changeDocument() {
			let model = {
				short_description: this.model.compose.short_description,
				text: this.model.compose.text.replace(/<br\s*[\/]?>/gi, "<br/>"),
				dept_code: this.currentUser.top_level_dept
			};

			this.$axios.put(`/docflow/${this.currentUser.filial}/compose/${this.model.compose.id}/custom_update/`, model)
				.then(({data}) => {
					this.dialog = false

					this.$toast.success(`Документ изменен`)

					const {warningModal} = this.$refs;
					warningModal.dialog = false;

					this.manageDocumentUpdate();
				})
				.catch((err) => {
					console.log(err.data);
				})
		},
		/**/
		manageDocumentUpdate() {
			if (this.isUserSignerAssistant) {
				this.$router.go(-1);
			} else {
				this.getOne();
			}
		},
		/*
		*
		* */
		addComment() {
			this.$v.text.$touch();

			if (this.$v.text.$invalid) {
				return;
			}

			this.isCommentAddLoading = true;
			this.fetchNewComments({
				description: this.text,
				file: null,
				obj: this.model.id,
				type: "compose_comment"

			})
				.then(() => {
					setTimeout(() => {
						this.getOne();
					}, 1000)
					this.text = "";
					this.$v.$reset();
					this.isCommentAddLoading = false;
				})
				.catch(() => {
					this.isCommentAddLoading = false;
				})
		},
    /** **/
    onFileUpload(payload){
      const { fileUpload } = this.$refs;
      fileUpload.loading = true;

      this.fetchNewComments({
        description: payload.description,
        files: payload.files,
        obj: this.$route.query.compose_id ? this.$route.query.compose_id : this.$route.params.id,
        type: "compose_comment",
        replied_to: this.activeCommentID ? this.activeCommentID : null
      })
          .then(() => {
            this.$emit("replied");
            fileUpload.loading = false;
            fileUpload.dialog = false;
            fileUpload.files = [];
            fileUpload.caption = null;
            this.$store.commit("documentFlowModule/SET_ACTIVE_COMMENT", null);
          })
    },
    /** **/
		getOne() {
			this.$http.get(`/docflow/${this.currentUser.filial}/for_agreement/${this.$route.params.id}/`)
				.then(({data}) => {
					console.log(data)
					this.model = {
						...data,
						__id: data.id,
						...data.compose,
					}
					this.$store.commit('documentFlowModule/SET_COMPOSE_MODEL', {
						...data,
						is_signed: data.compose.is_signed
					})
					console.log(this.model)

					this.signed = this.model.is_agreed;
				})
				.finally(() => {
					this.loading = false;
				});
		},
		/*
		 *
		 * */
		sendAgree() {
			if (!confirm(this.$t("document-flow.views.boxes.are-you-agree"))) {
				return;
			}

			// Для заявление
			if (this.model.journal_id === 7) {
				this.$http.put(`/docflow/${this.currentUser.filial}/for_agreement/${this.$route.params.id}/make_agreement_with_statement/`, {
					is_agreed: true
				})
					.then(() => {
						this.getOne()
					})

				return;
			}

			this.$http.put(`/docflow/${this.currentUser.filial}/for_agreement/${this.$route.params.id}/make_agreement/`, {
				is_agreed: true
			})
				.then(() => {
					this.getOne()
				})
		},
		/*
		*
		* */
		sendNotAgree() {
			this.$v.text.$touch();

			if (this.$v.text.$invalid) {
				return;
			}

			if (!this.text.replace(/<\/?[^>]+(>|$)/g, "").trim()) {
				this.$toast.warning(
					this.$t("document-flow.views.boxes.please-add-text")
				);
				return;
			}

			this.$http.put(`/docflow/${this.currentUser.filial}/for_agreement/${this.$route.params.id}/make_agreement/`, {
				is_agreed: false,
				reason: this.text
			})
				.then(() => {
					window.location.reload()
				})
		},
		/*
		*
		* */
		createResolution() {
			this.$v.createResolutionModel.$touch();

			if (this.$v.createResolutionModel.$invalid) {
				this.$toast.warning(
					this.$t("document-flow.views.boxes.please-add-employees")
				);
				return;
			}
			if (
				!this.createResolutionModel.resolution_text
					.replace(/<\/?[^>]+(>|$)/g, "")
					.trim()
			) {
				this.$toast.warning(
					this.$t("document-flow.views.boxes.please-add-text")
				);
				return;
			}

			if (
				!confirm(
					this.$t("document-flow.views.boxes.do-you-agree-with-document")
				)
			) {
				return;
			}

			this.createResolutionModel.__performers.forEach((item, index) => {
				this.createResolutionModel.performers.push({
					id: item.id,
					first_name: item.first_name,
					last_name: item.last_name,
					father_name: item.father_name,
					full_name: item.full_name,
					order: index + 1
				})
			})

			this.$http
				.put(
					`/docflow/${this.currentUser.filial}/for_agreement/${this.$route.params.id}/make_agreement/`,
					{
						is_agreed: true,
						...this.createResolutionModel,
					}
				)
				.then(() => {
					this.$toast.success(
						this.$t("document-flow.views.boxes.chip-created")
					);

					this.createResolutionDialog = false;

					this.$v.createResolutionModel.$reset();
					this.getOne();
				});
		},
		/*
		 *
		 * */
		updateResolution() {
			this.$v.createResolutionModel.$touch();

			if (this.$v.createResolutionModel.$invalid) {
				this.$toast.warning(
					this.$t("document-flow.views.boxes.please-add-employees")
				);
				return;
			}

			if (
				!confirm(
					this.$t("document-flow.views.boxes.do-you-want-change-feature")
				)
			) {
				return;
			}

			this.createResolutionModel.performers = [];

			this.createResolutionModel.__performers.forEach((item, index) => {
				this.createResolutionModel.performers.push({
					id: item.id,
					first_name: item.first_name,
					last_name: item.last_name,
					father_name: item.father_name,
					full_name: item.full_name,
					order: index + 1
				});
			});

			this.$http
				.put(
					`/docflow/${this.currentUser.filial}/for_signature/${this.isNoticeUser.id}/`,
					{
						performers: this.createResolutionModel.performers,
						resolution_text: this.createResolutionModel.resolution_text,
					}
				)
				.then(() => {
					this.$toast.success(
						this.$t("document-flow.views.boxes.chip-changed")
					);

					this.createResolutionDialog = false;

					this.$v.createResolutionModel.$reset();
					this.getOne();
				});
		},
		/*
		 *
		 * */
		deleteSigner(index) {
			this.createResolutionModel.__performers.splice(index, 1);
		},
		/*
		 *
		 * */
		showUpdateResolutionModal() {
			this.createResolutionModel.__performers = [];

			this.createResolutionDialog = true;

			this.isNoticeUser.performers.forEach(item => {
				this.createResolutionModel.__performers.push(item);
			});

			this.createResolutionModel.resolution_text =
				this.isNoticeUser.resolution_text;
		},
		/**/
		returnCondition(condition) {
			if (condition === "vacation") {
				return this.$t("document-flow.views.boxes.vacation");
			} else if (condition === "business_trip") {
				return this.$t("document-flow.views.boxes.business-trip");
			} else if (condition === "unpaid_leave") {
				return this.$t("document-flow.views.boxes.unpaid-leave");
			} else if (condition === "sick") {
				return this.$t("document-flow.views.boxes.sick");
			} else {
				return null;
			}
		},
    /**/
    routeOpenProcess() {
      this.$router.push({
        name: this.model.compose.journal_id === 3 ? 'InnerRegistrationDetail' : this.model.compose.journal_id === 4 ? 'OutgoingRegistrationDetail' : 'OrderProtocolRegistrationDetail',
        params: { id: this.model.compose.document_id },
        query: { condition: 'for_watching_process' }
      })
    }
	},
};
</script>
