<template>
	<div class="d-flex align-center justify-center h-100">
		<div class="d-flex mt-5 overflow-hidden w-100 h-100">
			<div class="d-flex flex-column p-relative w-100">
				<app-loader v-if="getLoading" full-width :size="58" />

				<template v-else>
					<div
						class="d-flex flex-column h-100 bg-4 rounded-20 pa-1 overflow-hidden h-100"
					>
						<perfect-scrollbar class="d-flex flex-column flex-1 h-100">
							<app-table bordered :table-width="1600">
								<template #tableHeader>
									<th>№</th>
									<th>
										{{ $t("document-flow.views.boxes.type-letter") }}
									</th>
									<th>{{ $t("document-flow.views.boxes.date") }}</th>
									<th>
										{{
											$t(
												"document-flow.views.boxes.registration-number"
											)
										}}
									</th>
									<th>
										{{
											$t(
												"document-flow.views.boxes.branch-or-department"
											)
										}}
									</th>
									<th>{{ $t("document-flow.views.boxes.state") }}</th>
									<th>
										{{ $t("document-flow.views.boxes.agreement") }}
									</th>
									<th>
										{{ $t("document-flow.views.boxes.signatory") }}
									</th>
									<th>{{ $t("document-flow.views.boxes.author") }}</th>
								</template>

                <template #tableBody>
                  <template v-if="approvalList.length">
                    <tr
                      v-for="(item, index) in approvalList"
                      class="text-dark font-500"
                      :key="index"
                    >
                      <td>
                        <router-link
                          :to="openRoute(item)"
                          class="d-flex align-center h-100 text-decoration-none text-dark"
                        >
                          {{ index + 1 }}
                        </router-link>
                      </td>
	                    <td width="250">
                        <router-link
                          :to="openRoute(item)"
                          class="d-flex align-center h-100 text-decoration-none text-dark"
                        >
	                        {{ returnName(item) }}
                        </router-link>
                      </td>
                      <td>
                        <router-link
                          :to="openRoute(item)"
                          class="d-flex align-center h-100 text-decoration-none text-dark"
                        >
                          {{ item.created_date | filterCalendarToTime }}
                        </router-link>
                      </td>
                      <td>
                        <router-link
                          :to="openRoute(item)"
                          class="d-flex align-center h-100 text-decoration-none text-dark"
                        >
                          {{ item.register_number }}
                        </router-link>
                      </td>
                      <td>
                        <router-link
                          :to="openRoute(item)"
                          class="d-flex align-center h-100 text-decoration-none text-dark"
                        >
                          <template v-if="item.receiver">
                            <template v-if="item.receiver.branches">
                              <app-chip-group :chip-list="item.receiver.branches" />
                            </template>

                            <template v-if="item.receiver.departments">
                              <app-chip-group :chip-list="item.receiver.departments" />
                            </template>
                          </template>
                        </router-link>
                      </td>
	                    <td>
                        <router-link
                          :to="openRoute(item)"
                          class="d-flex align-center h-100 text-decoration-none text-dark"
                        >
                          <v-chip
                            :color="item.is_agreed === true ? 'success' : item.is_agreed === false ? 'danger' : 'warning' "
                          >
                            <span class="small-3 text-white">{{ item.is_agreed === true ? 'Согласен' : item.is_agreed === false ? 'Отказано' : 'Не проверено' }}</span>
                          </v-chip>
                        </router-link>
	                    </td>
                      <td>
                        <router-link
                          :to="openRoute(item)"
                          class="d-flex align-center h-100 text-decoration-none text-dark"
                        >
                          <app-avatar-group list-type="agreed" :avatar-list="item.agreed_by" />
                        </router-link>
                      </td>
                      <td>
                        <router-link
                          :to="openRoute(item)"
                          class="d-flex align-center h-100 text-decoration-none text-dark"
                        >
                          <app-avatar-group list-type="signers" :avatar-list="item.signed_by" />
                        </router-link>
                      </td>
                      <td>
                        <router-link
                          :to="openRoute(item)"
                          class="d-flex align-center h-100 text-decoration-none text-dark"
                        >
                          <app-avatar-group list-type="agreed" :avatar-list="[{ user: item.author }]" />
                        </router-link>
                      </td>
                    </tr>
                  </template>

									<template v-else>
										<tr>
											<td colspan="8">
												<p
													class="heading-9 font-500 mb-0 text-center py-4"
												>
													{{
														$t(
															"document-flow.views.boxes.nothing-yet"
														)
													}}
												</p>
											</td>
										</tr>
									</template>
								</template>
							</app-table>
						</perfect-scrollbar>

						<div
							class="d-flex align-center justify-space-between py-2 px-4 border-top"
						>
							<span class="small-2 font-500 text-dark">
								<!--                1-10 из 195 позиций-->
							</span>

							<app-pagination @emit:up="paginate" />
						</div>
					</div>
				</template>
				<!--        <pre>{{ approvalList }}</pre>-->
			</div>
		</div>
	</div>
</template>

<script>
import { TABLE_HEAD_TEXT_LIST } from "@/common/constants";
import { selectFromList } from "@/common/helpers";
import { MoreVerticalIcon, Trash2Icon } from "vue-feather-icons";
import { mapActions, mapGetters, mapState } from "vuex";

export default {
  name: "ApprovalTableType",
  components: {
    MoreVerticalIcon,
    Trash2Icon
  },
  computed: {
    ...mapState({
      filteredState: state => state.headerFilter.filteredState,
      filterPagination: state => state.headerFilter.pagination,
    }),
    /*
    *
    * */
    ...mapGetters({
      getLoading: "getLoading",
      currentUser: "auth/getCurrentUser",
      approvalList: "documentFlowModule/getApprovalList",
    }),
    /*
    *
    * */
    tableListSelect() {
      return selectFromList([20, 21, 2, 3, 4, 5, 6, 9, 11, 12], TABLE_HEAD_TEXT_LIST)
    }
  },
  created() {
    this.fetchApprovalList()
  },
  methods: {
    ...mapActions({
      fetchApprovalList: "documentFlowModule/fetchApprovalList",
    }),
    /*
    *
    * */
    paginate(value) {
      let query = { ...this.filteredState, page: value }
      this.filterPagination.page = value

      this.$router.replace({
        query: query
      }).catch(() => {})

      this.fetchApprovalList({
        ...query
      })
    },
	  /**/
	  openRoute(item){
	  	return {
			  name: 'ApprovalFormShow',
			  params: {
				  id: item.__id
			  },
			  query: {
				  compose_id: item.compose.id,
				  type: item.compose.type === 'retail_act' ? 'retail_act' :  item.compose.type === 'hr_rotation' ? 'hr_rotation'
					  : item.compose.type === 'hr_order' ? 'hr_order'
						  : (item.journal_id === 3 && item.type === 'service_letter') ? 'inner'
							  : ((item.journal_id === 3 && (item.type === 'notice' || item.type === 'hr_notice')) || (item.journal_id === 6 && item.type === 'position_rotation')) ? 'notice'
								  : (item.journal_id === 6 && item.type === 'protocol') ? 'protocol'
									  : item.journal_id === 7 ? 'vacation'
										  : (item.journal_id === 6 && item.type === 'decree') ? 'decree'
											  : item.type === 'credit_committee' ? 'committee_protocol'
												  : item.type === 'summary' ? 'summary'
													  : item.type === 'currency_summary' ? 'currency_summary'
														  : 'outgoing'
			  }
		  }
	  },
	  /**/
	  returnName(item){
		  return item.compose.type === 'retail_act' ? 'Акт' : item.compose.type === 'hr_rotation' ? 'Ротация'
			  : item.compose.type === 'summary' ? 'Xulosa'
				  : item.compose.type === 'hr_order' ? 'HR приказ'
					  : item.type === 'act' ? 'Далолатнома'
						  : (item.type === 'notice' || item.type === 'position_rotation') ? 'Bildirishnoma'
							  : item.type === 'hr_notice' ? 'Рапорт для приема на работу'
								  : item.type === 'decree' ? 'Farmoyish'
									  : item.type === 'protocol' ? 'Boshqaruv bayonnomasi'
									    : item.journal_id === 7 ? 'Заявление'
											  : item.type === 'credit_committee' ? 'Bayonnoma'
												  : item.type === 'currency_summary' ? 'Valyuta sotib olish bo\'yicha'
													  : item.type === 'compliance_regulation' ? 'Ichki meyoriy xujjat'
														  : item.compose.type === 'hr_contract' ? this.$t("hr_contract")
													      : 'Хизмат хати'
	  }
  }
}
</script>
