<template>
  <div class="app-avatar">
    <v-avatar
      :size="avatarSize"
      :color="color"
    >
      <template v-if="url">
        <img
          :src="url"
          alt="Avatar image"
          class="object-cover"
        >
      </template>

      <template v-else>
        <span class="white--text" :style="{'fontSize': `${avatarTextSize}px`}">
          {{ fullName[0] }}
        </span>
      </template>
    </v-avatar>
  </div>
</template>

<script>
export default {
  name: "AppAvatar",
  props: {
    avatarSize: {
      type: [Number, String],
      default: "32"
    },
    color: {
      type: String,
      default: ""
    },
    url: {
      type: String,
      default: ""
    },
    fullName: {
      type: String,
      default: ""
    },
    avatarTextSize: {
      type: String,
      default: "14"
    },
  }
}
</script>
