<template>
  <div class="d-flex">
	  <v-autocomplete
		  v-model="content"
		  @change="update"
		  :search-input.sync="listSearch"
		  :items="computedList"
		  v-bind="$attrs"
		  v-on="$listeners"
		  :outlined="outlined"
		  hide-details
		  clear-icon="mdi-close"
		  :background-color="backgroundColor"
	  >
		  <template #append>
			  <v-icon>mdi-chevron-down</v-icon>
		  </template>

		  <template v-slot:item="{ item }">
			  <template v-if="listType === 'avatar'">
				  <v-list-item-avatar :color="item.color">
					  <template v-if="item.avatar">
						  <img :src="item.avatar.url" alt="Avatar image" class="object-cover" />
					  </template>

					  <template v-else>
						  <span class="text-white">{{ item.full_name && item.full_name | getFirstCharacterWithoutDot }}</span>
					  </template>
				  </v-list-item-avatar>

				  <v-list-item-content>
					  <v-list-item-title v-html="item.full_name"></v-list-item-title>

					  <v-list-item-subtitle>
						  <span>{{ item.position }} - </span>
						  <span
                class="font-600 small-3"
                :class="{
						      'success-text' : item.condition_name === 'Рабочие' || item.condition_name === 'Командировка',
						      'red--text' : item.condition_name !== 'Рабочие' && item.condition_name !== 'Командировка',
						    }"
              >{{ item.condition_name }}</span>
					  </v-list-item-subtitle>
				  </v-list-item-content>
			  </template>

      <template v-if="listType === 'list'">
        <div class="small-2 text-truncate line-truncate">
          {{ item[$attrs['item-text']] }}
        </div>
      </template>
    </template>

		  <template v-slot:selection="{ attr, on, item, selected }">
			  <template v-if="listType === 'avatar'">
				  <v-chip
					  v-bind="attr"
					  :input-value="selected"
					  color="blue-grey"
					  class="white--text"
					  v-on="on"
					  :small="$attrs.dense"
				  >
					  <span v-text="item.full_name"></span>
				  </v-chip>
			  </template>

			  <template v-if="listType === 'list'">
          {{ item[$attrs['item-text']] }}
<!--				  <span class="text-truncate">{{ item[$attrs['item-text']] }}</span>-->
			  </template>
		  </template>

		  <template v-slot:append-item>
			  <template v-if="list.length >= 10">
				  <div
					  v-intersect="{
            handler: onIntersect,
            options: {
              threshold: [0, 1.0, 1.0]
            }
          }"
					  class="pa-4"
				  >
				  </div>
			  </template>
		  </template>
	  </v-autocomplete>

    <template v-if="groupStaffVisible">
      <v-sheet
        :width="!$attrs.hasOwnProperty('dense') ? 56 : 40"
        :min-width="!$attrs.hasOwnProperty('dense') ? 56 : 40"
        :height="!$attrs.hasOwnProperty('dense') ? 56 : 40"
        class="ml-3 p-relative overflow-hidden"
      >
        <v-btn
          depressed
          block
          height="100%"
          width="100%"
          color="primary"
          @click="staffDialog = !staffDialog"
          class="p-absolute rounded-10 d-flex align-center justify-center pointer"
          :disabled="Boolean($route.query.type === 'for_watching_process')"
        >
          <search-icon :size="!$attrs.hasOwnProperty('dense') ? '20' : '16'" />
        </v-btn>
      </v-sheet>

      <v-dialog
        v-model="staffDialog"
        width="760"
        content-class="reset-dialog-style"
      >
        <div class="bg-white rounded pa-5">
          <div class="d-flex align-center">
            <h3 class="font-500">{{$t('components.base.employee-group')}}</h3>

            <v-divider class="mx-3" />

            <div style="width: 250px">
              <v-select
                v-model="staffDefaultValue"
                :items="staffList"
                item-text="title"
                item-value="value"
                dense
                outlined
                background-color="var(--input-bg)"
                hide-details
                :placeholder="$t('components.base.group-type')"
              ></v-select>
            </div>
          </div>

          <div class="mt-5" style="height: 500px">
            <template v-if="staffLoading">
              <div class="p-relative h-100">
                <app-loader content-width />
              </div>
            </template>

            <template v-else>
              <app-table bordered stripe>
                <template #tableHeader>
                  <th width="75">
                    <span></span>
                  </th>
                  <th>
                    <span>{{$t('components.base.name')}}</span>
                  </th>
                  <th width="200">
                    <span>{{$t('components.base.employee')}}</span>
                  </th>
                </template>

                <template #tableBody>
                  <template v-if="getGroupStaffList.length">
                    <template >
                      <tr v-for="(item, index) in getGroupStaffList" :key="index">
                        <td>
                          <v-checkbox
                            v-model="item.__checked"
                            hide-details
                            class="mt-0"
                            @change="setUsers(item, index, item.__checked)"
                          ></v-checkbox>
                        </td>
                        <td>
                          <span class="reset-space font-500 text-dark">
                            {{ item.name }}
                          </span>
                        </td>
                        <td>
                          <app-avatar-group
                            :avatar-list="item.employees"
                          />
                        </td>
                      </tr>
                    </template>
                  </template>

                  <template v-else>
                    <tr>
                      <td colspan="3">
                        <span class="text-center font-500 d-block">{{$t('components.base.not-found')}}</span>
                      </td>
                    </tr>
                  </template>
                </template>
              </app-table>
            </template>
          </div>

          <div class="mt-5 text-center">
            <app-button @click="appendStaffUsers">
              {{$t('components.base.add')}}
              <template #append>
                <plus-circle-icon size="20" />
              </template>
            </app-button>
          </div>
        </div>
      </v-dialog>
    </template>
  </div>
</template>

<script>
import { PlusCircleIcon, SearchIcon } from "vue-feather-icons";
import { mapActions, mapGetters } from "vuex";

export default {
	name: "AppAutocomplete",
  props: {
    value: {
      type: [Number, String, Array, Object],
      default: () => ""
    },
    apiListUrl: {
      type: String,
      default: ""
    },
    apiParams: {
      type: Object,
      default: () => {}
    },
    listType: {
      type: String,
      default: "avatar"
    },
	  searchValue: {
    	type: String,
		  default: null
	  },
	  outlined: {
    	type: Boolean,
		  default: true
	  },
	  backgroundColor: {
    	type: String,
		  default: "var(--input-bg)"
	  },
    fetchOnCreate: {
      type: Boolean,
      default: true
    },
    groupStaffVisible: {
      type: Boolean,
      default: false
    },
	  disableItemUsed: {
    	type: Boolean,
		  default: false
	  },
	  isHeadOfficeDisabled: {
    	type: Boolean,
		  default: false
	  }
  },
  data() {
    return {
      listSearch: null,
      list: [],
      page: 1,
      searchText: null,
      staffDialog: false,
      staffList: [
        {
          title: this.$t('components.base.general'),
          value: "general"
        },
        {
          title: this.$t('components.base.private'),
          value: "private"
        },
      ],
      staffDefaultValue: "general",
      staffLoading: true,
	    selectedList: []
    }
  },
  components: {
    SearchIcon,
    PlusCircleIcon
  },
	computed: {
	  ...mapGetters({
      getGroupStaffList: "equipmentModule/getGroupStaffList",
    }),
    /*
    *
    * */
		computedList(){
			return this.list
		},
    /*
    *
    * */
    content: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit("input", value);
      }
    },
		/**/
  },
  watch: {
    async listSearch(search) {
	    this.searchText = search
      await this.fetchGetList({
        search,
        page: this.page = 1,
        ...this.apiParams
      });
      this.getFullList({
	      search,
	      page: this.page = 1,
	      ...this.apiParams
      })
    },
    /*
    *
    * */
    staffDefaultValue: {
      handler(val) {
        // console.log(val);
        if(this.groupStaffVisible) {
          this.getCreatedStaffList({
            type: val
          })
        }
      },
      immediate: true
    }
  },
  async created() {
	  if(this.fetchOnCreate) {
      await this.fetchGetList()
    }
  },
	methods: {
	  ...mapActions({
      fetchGetGroupStaffList: "equipmentModule/fetchGetGroupStaffList"
    }),
    /*
    *
    * */
		getFullList(params){
			this.$axios.get(`${this.apiListUrl}`, {
				params: {
					...params,
					...this.apiParams
				}
			})
				.then(({ data }) => {
					if (this.disableItemUsed){
						data.results.forEach(item => {
							this.list.push({...item, isDisabled: false})
							if (this.isHeadOfficeDisabled){
								this.list = this.list.filter(item => item.id !== 1)
							}
						})
					}else {
						this.list = data.results;
					}
				})
		},
		/**/
    update(value) {
      this.$emit('emit:change', value);
      if (this.disableItemUsed){
	      if (value && value.length){
	      	let allDepObj = this.list.find(item => item.id === 71389 || item.id === 25)
		      if (allDepObj && value.includes(allDepObj)){
			      this.list.forEach(item => {
				      if (item.id !== allDepObj.id){
				      	item.isDisabled = true
				      }
			      })
		      }else {
			      this.list.forEach(item => {
				      if (item.id === allDepObj.id){
					      item.isDisabled = true
				      }
			      })
		      }
	      }else {
	      	this.list.forEach(item => {
	      		item.isDisabled = false
		      })
	      }
      }
    },
    /*
    *
    * */
	  async fetchGetList(apiParams) {
      // console.log('API PARAMS', this.apiParams);

      this.$axios.get(`${this.apiListUrl}`, {
        params: {
          ...apiParams,
          ...this.apiParams,
          search: this.searchValue
        }
      })
      .then(({ data }) => {
      	if (this.disableItemUsed){
      		data.results.forEach(item => {
      			this.list.push({...item, isDisabled: false})
			      if (this.isHeadOfficeDisabled){
				      this.list = this.list.filter(item => item.id !== 1)
			      }
		      })
	      }else {
		      this.list = data.results;
	      }
      })
    },
    /*
    *
    * */
    onIntersect(entries) {
      if(entries[0].intersectionRatio >= 0.5) {
        ++this.page

        this.fetchGetList({
          search: this.searchText,
          page: this.page
        });
	      this.getFullList({
		      search: this.searchText,
		      page: this.page
	      })
      }
    },
    /*
    *
    * */
    getCreatedStaffList(params) {
      this.staffLoading = true

      this.fetchGetGroupStaffList(params)
      .then(() => {
        this.staffLoading = false
      })
    },
    /*
    *
    * */
    appendStaffUsers() {
	    this.list = this.selectedList.map(item => item.__employees).flat(1)
	    this.content = this.list

	    this.$emit('setManyEmployees', this.list)

      this.staffDialog = false
    },
		/*
		*
		* */
		setUsers(user, index, state) {
			// Add
			if(state) {
				this.selectedList.push(user)
			}
			// Remove
			else {
				this.selectedList = this.selectedList.filter(item => item.id !== user.id)
			}
		}
  }
}
</script>
