<template>
	<v-btn
		v-bind="$attrs"
		v-on="$listeners"
		:color="color"
		dark
		:min-width="minWidth"
		depressed
	>
		<div
			v-if="$slots.prepend"
			:class="{'mr-2' : $slots.default}"
			class="d-flex"
		>
			<slot name="prepend" />
		</div>
		<span v-if="$slots.default" class="small-2 line-base">
			<slot />
		</span>
		<div v-if="$slots.append" class="d-flex ml-2">
			<slot name="append" />
		</div>
	</v-btn>
</template>

<script>
export default {
	name: "AppButton",
	props: {
		color: {
			type: String,
			default: "primary"
		},
		minWidth: {
			type: [Number, String],
			default: 125
		}
	}
}
</script>

<style>
.v-btn.v-btn--disabled {
	//border: 2px solid #bbb;
}
.theme--dark.v-btn.v-btn--disabled.v-btn--has-bg {
	background: var(--primary-200) !important;
	color: white!important;
}
/*.v-btn {*/
/*	border-radius: 5px!important;*/
/*}*/
</style>
