<template>
  <div class="app-card-wrapper d-flex flex-column bg--white rounded-lg shadow-6">
    <div class="card-wrapper-header d-flex justify-space-between pb-0" :class="computeClasses">
      <slot name="cardHeader">
        <div class="d-flex align-center">
          <slot name="titleIcon"></slot>

          <h3 class="size-13">{{ $t(title) }}</h3>
        </div>
      </slot>

      <template v-if="showTitleAction">
        <div class="card-wrapper-header-action d-flex">
          <slot name="titleAction"></slot>
        </div>
      </template>
    </div>

    <div class="card-wrapper-body flex-1 d-flex p-relative" :class="!contentScrollable ? computeClasses : ''">
      <slot name="cardBody" />
    </div>
  </div>
</template>

<script>
export default {
	name: "AppCardWrapper",
  props: {
		paddingCard: {
			type: String,
      default: "medium"
    },
    showTitleAction: {
			type: Boolean,
      default: true
    },
    title: {
			type: String,
      default: ""
    },
    contentScrollable: {
			type: Boolean,
      default: false
    }
  },
  computed: {
		computeClasses() {
			return {
				'pa-4' : this.paddingCard === "medium",
				'pa-5' : this.paddingCard === "large",
      }
    }
  }
}
</script>
