<template>
	<div class="app-card-wrap">
		<div class="scrollable-div">
			<slot name="content"/>
		</div>
	</div>
</template>

<script>
export default {
	name: "AppCard"
}
</script>

<style scoped>
	.scrollable-div{
		padding: 4px;
		width: 100%;
		min-width: 500px;
		height: calc(100vh - 250px);
		overflow-x: hidden;
		overflow-y: auto;
		text-align: justify;
	}
</style>
