<template>
  <div class="app-chip-group d-flex">
    <template >
      <v-chip v-for="(item, index) in slicedGroupList" :key="index" small color="primary" class="mr-1">
        <span class="text-truncate d-block" :style="{ maxWidth }">{{ itemText === 'organization_name' ? item.organization_name : item.name }}</span>
      </v-chip>
    </template>

    <template v-if="chipList.length > 1">
      <app-tooltip top>
        <template #content>
          <div class="avatar-rest">
            <v-avatar size="24" color="primary">
              <span class="white--text small-3">
                +{{ restGroupList }}
              </span>
            </v-avatar>
          </div>
        </template>

        <template #text>
          <ul class="pl-4 py-1">
            <li
              v-for="item in restChipList"
              :key="item.id"
            >
	            {{ itemText === 'organization_name' ? item.organization_name : item.name }}
            </li>
          </ul>
        </template>
      </app-tooltip>
    </template>
  </div>
</template>

<script>
export default {
  name: "AppChipGroup",
  props: {
    chipList: {
      type: Array,
      default: () => []
    },
	  itemText: {
			type: String,
		  default: "name"
	  },
	  maxWidth: {
			type: String,
		  default: () => 'none'
	  }
  },
  computed: {
    slicedGroupList() {
      return Array.from(this.chipList).slice(0, 1)
    },
    /*
    *
    * */
    restGroupList() {
      return this.chipList.length - this.slicedGroupList.length
    },
    /*
    *
    * */
    restChipList() {
      return this.chipList.slice(-this.restGroupList)
    }
  }
}
</script>
