<template>
	<v-combobox
		v-model="content"
		v-bind="$attrs"
		v-on="$listeners"
		:outlined="outlined"
		hide-details
		clear-icon="mdi-close"
		:background-color="backgroundColor"
		:search-input.sync="listSearch"
		cache-items
	>
		<template #append>
			<v-icon>mdi-chevron-down</v-icon>
		</template>

		<template v-slot:no-data>
			<v-list-item>
				<v-list-item-content>
					<v-list-item-title>
						Нет результатов, соответствующих "<strong>{{ listSearch }}</strong>". Нажмите <kbd>enter</kbd> чтобы создать новую
					</v-list-item-title>
				</v-list-item-content>
			</v-list-item>
		</template>
	</v-combobox>
</template>

<script>
export default {
	name: "AppCombobox",
	props: {
		outlined: {
			type: Boolean,
			default: true
		},
		backgroundColor: {
			type: String,
			default: "var(--input-bg)"
		},
	},
	data() {
		return {
			listSearch: null,
		}
	},
	computed: {
		content: {
			get() {
				return this.value;
			},
			set(value) {
				this.$emit("input", value);
			}
		},
	}
}
</script>

<style scoped>

</style>
