<template>
	<div>
		<template v-if="!withInput">
			<v-date-picker
				v-model="picker"
				v-bind="$attrs"
				v-on="$listeners"
				color="primary"
				no-title
				scrollable
				:range="range"
        first-day-of-week="1"
        @change="changePicker"
			></v-date-picker>
		</template>

		<template v-else>
			<v-menu
				v-model="menu"
				:close-on-content-click="false"
				transition="scale-transition"
				offset-y
				min-width="auto"
        v-bind="$attrs"
				:disabled="disabledMenu"
			>
				<template v-slot:activator="{ on, attrs }">
					<v-text-field
            :value="formatDateValue"
						:outlined="outlined"
						append-icon="mdi-calendar"
						:label="label"
						readonly
						hide-details
						v-bind="$attrs"
						v-on="on"
            class="pt-0 mt-0"
            @click:clear="clearPicker"
					></v-text-field>
				</template>

				<v-date-picker
          @change="changePicker"
					v-model="picker"
					scrollable
					:range="range"
          first-day-of-week="1"
          :allowed-dates="allowDates"
          :min="min"
          :max="max"
				>
<!--					<div class="d-flex w-100">-->
<!--						<v-btn-->
<!--							depressed-->
<!--							block-->
<!--							color="primary"-->
<!--							@click="menu = false"-->
<!--						>-->
<!--							Выбрать-->
<!--						</v-btn>-->
<!--					</div>-->
				</v-date-picker>
			</v-menu>
		</template>
	</div>
</template>

<script>
import { format, parseISO } from "date-fns"
import { ru } from "date-fns/locale";

export default {
	name: "AppDatePicker",
	props: {
		value: {
			type: [String, Array],
			default: () => []
		},
		withInput: {
			type: Boolean,
			default: false
		},
		label: {
			type: String,
			default: ""
		},
		range: {
			type: Boolean,
			default: false
		},
		disabledMenu: {
			type: Boolean,
			default: false
		},
    allowDates: {
		  type: Function
    },
    outlined: {
      type: Boolean,
      default: true
    },
    hasFormat: {
		  type: Boolean,
      default: false
    },
    dateFormatType: {
		  type: String,
      default: "EEEE, d MMMM"
    },
		min: {
			type: [String, Date],
			default: undefined
		},
		max: {
			type: [String, Date],
			default: undefined
		}
	},
	data() {
		return {
			menu: false
		}
	},
	computed: {
		picker: {
			get() {
				return this.value;
			},
			set(value) {
				this.$emit("input", value);
			}
		},
    /*
    *
    * */
    formatDateValue() {
      return this.hasFormat
        ? this.value ? format(parseISO(this.value), this.dateFormatType, { locale: ru }) : ""
        : this.value
    },
	},
  methods: {
    changePicker(value) {
	    this.$emit("emit:up", value)
      this.menu = false
    },
	  /**/
	  clearPicker(){
		  this.$emit('clickClear')
		  this.picker = null
	  }
  }
}
</script>

<style>

</style>
