<template>
	<editor
		api-key="5ifk23mj486i9ebzgl4zzkd89v3am3i5onttuut1ub8n5dll"
		tinymce-script-src="/tinymce/tinymce.min.js"
		placeholder="Введите текст..."
		:disable="disabled"
		:paste_as_text="true"
		:init="{
        plugins: [
           'table', `${this.pastePlainText ? 'paste' : ''}`
         ],
        toolbar: 'undo redo | bold italic underline forecolor fontsizeselect lineheight | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | table',
        height: `${this.height}`,
        menubar: '',
        language: 'ru',
        fontsize_formats: `6px 8px 9px 10px 11px 12px 13px 14px 16px 18px 24px 36px`,
        paste_as_text: this.pastePlainText,
        content_style: `body {font-size: 13px; --editor-name: '${editorName}';`,
        // content_css: '/test.css'
        // powerpaste_allow_local_images: true,
			  // powerpaste_word_import: 'prompt',
			  // powerpaste_html_import: 'prompt',
			  // paste_webkit_styles: 'font-style, font-size'
      }"
		v-bind="$attrs"
		v-on="$listeners"
	/>
</template>

<script>
import Editor from '@tinymce/tinymce-vue'

export default {
	name: "AppEditor",
	components: {
		Editor
	},
	props: {
		height: {
			type: [String, Number],
			default: 400
		},
		disabled: {
			type: Boolean,
			default: false
		},
		pastePlainText: {
			type: Boolean,
			default: true
		},
		editorName: {
			type: String,
			default: 'Азамжон Тиллаев'
		}
	}
}
</script>

<style>
.tox-tinymce{
	border: none!important;
}

.tox-toolbar__group{
	border-right: none!important;
}

.tox-toolbar__primary{
	border-top: none!important;
	margin-top: 0!important;
	background: var(--input-bg)!important;
}

.tox-edit-area__iframe{
	background-color: var(--input-bg) !important;
}

.tox-statusbar{
	border-top: 0!important;
	background-color: var(--input-bg) !important;
}

.tox-statusbar__branding{
	display: none!important;
}

.tox-statusbar__path{
	display: none!important;
}

.tox-promotion{
	display: none!important;
}

.tox-editor-header{
	box-shadow: none!important;
	padding: 2px 0!important;
}

.tox-toolbar-overlord{
	margin: 0!important;
	padding: 0!important;
	border: 0!important;
}

.tox-tbtn__select-label{
	width: 3em!important;
}


</style>
