<template>
	<div class="file-upload">

		<div class="d-flex">
			<v-file-input
				@change="uploadFiles"
				@click:clear="clearFiles"
				:multiple="multiple"
				prepend-inner-icon="mdi-paperclip"
				prepend-icon=""
				outlined
				hide-details
				background-color="var(--input-bg)"
				v-bind="$attrs"
				v-on="$listeners"
			></v-file-input>

			<app-tooltip v-if="scanner" top>
				<template #content>
					<v-btn
						@click="scanDocument"
						depressed
						color="primary"
						large
						class="ml-2"
					>
						<v-icon size="30">mdi-scanner</v-icon>
					</v-btn>
				</template>
				<template #text>
					{{$t('components.base.scan')}}
				</template>
			</app-tooltip>
		</div>

		<template v-if="isProgressVisible">
			<v-progress-linear
				:value="uploadPercentage"
				height="12"
				class="mt-2"
				rounded
			>
				<span class="white--text tiny">{{ uploadPercentage }}%</span>
			</v-progress-linear>
		</template>

		<template v-if="showFiles">
			<div v-if="attachedDocuments.length" class="d-flex mt-1 align-center text-truncate">
				<span class="small-3 primary-text mr-2">{{$t('components.base.files')}} </span>

				<template v-for="(document, index) in attachedDocuments">
					<div class="d-flex align-center gap-4">
						<app-tooltip top>
							<template #content>
								<v-icon
									color="primary"
									class="pointer"
									@click="viewDocument(document.url)"
								>
									mdi-file-document
								</v-icon>
							</template>
							<template #text>
								{{ document.name }}
							</template>
						</app-tooltip>

						<app-tooltip top>
							<template #content>
								<v-btn
									color="danger"
									icon
									small
									@click="clearFiles"
								>
									<trash2-icon size="22" />
								</v-btn>
							</template>
							<template #text>
								{{ $t('document-flow.views.registration.delete') }}
							</template>
						</app-tooltip>
					</div>
				</template>
			</div>
		</template>
		<pdf-viewer-modal ref="pdfModal"/>
	</div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import PdfViewerModal from "../PdfViewerModal";
import { Trash2Icon } from "vue-feather-icons";

export default {
	name: "AppFileUpload",
	components: {
		PdfViewerModal,
		Trash2Icon
	},
	props: {
		scanner: {
			type: Boolean,
			default: false
		},
		showFiles: {
			type: Boolean,
			default: true
		},
		multiple: {
			type: Boolean,
			default: true
		}
	},
	data() {
		return {
			isProgressVisible: false
		}
	},
	computed: {
		...mapGetters({
			attachDocumentListID: "documentFlowModule/getAttachDocumentListID",
			attachedDocuments: "documentFlowModule/getAttachedDocuments",
			uploadPercentage: "getUploadPercentage"
		})
	},
	methods: {
		...mapActions({
			fetchClearFileIDs: "documentFlowModule/fetchClearFileIDs",
			scanDocument: "documentFlowModule/scanDocument",
		}),
		/**/
		uploadFiles(value){
			if (value){
				this.isProgressVisible = true
			}
			this.$emit('uploadFiles', value)
		},
		/**/
		viewDocument(url){
			const {pdfModal} = this.$refs
			pdfModal.url = url;
			pdfModal.dialog = true
		},
		/**/
		async clearFiles() {
			await this.$nextTick()
			this.isProgressVisible = false;
			this.fetchClearFileIDs();
			this.$emit("clickClear")
		}
	}
}
</script>

<style scoped>

</style>
