<template>
	<div
		:class="{
			'full-width': fullWidth,
			'content-width': contentWidth,
			'component-based': componentBased,
		}"
	>
		<v-progress-circular
			indeterminate
			:color="color"
			:size="size"
			:width="width"
		></v-progress-circular>
	</div>
</template>

<script>
export default {
	name: "AppLoader",
	props: {
		color: {
			type: String,
			default: "primary"
		},
		size: {
			type: Number,
			default: 32
		},
		width: {
			type: Number
		},
		fullWidth: {
			type: Boolean,
			default: false
		},
		contentWidth: {
			type: Boolean,
			default: false
		},
		componentBased: {
			type: Boolean,
			default: false
		}
	}
}
</script>

<style scoped>
.full-width {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--bg-4);
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.content-width {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 1;
	height: 100%;
	background: rgb(255 255 255 / 75%);
	display: flex;
	align-items: center;
	justify-content: center;
}

.component-based {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
</style>
