<template>
	<v-menu
		offset-y
		:close-on-content-click="true"
	>
		<template v-slot:activator="{ on, attrs }">
			<v-btn
				color="primary"
				depressed
				v-bind="attrs"
				v-on="on"
				:x-small="xSmall"
				:loading="loading"
				:outlined="outlined"
			>
				<template #default>
					<div class="d-flex align-center">
						<span
							class="mr-1"
							:class="menuTextClasses"
						>
							{{ menuText }}
						</span>
						<v-icon :size="iconSize">{{icon}}</v-icon>
					</div>
				</template>
			</v-btn>
		</template>

		<v-list dense>

			<template v-for="item in listItems">
				<v-list-item
					:key="item.value"
					class="pointer hoverable"
					@click="$emit('onItemClick', item)"
				>
					<v-list-item-title>
						<div class="d-flex align-center">
							<span class="font-500">{{ item.text }}</span>
						</div>
					</v-list-item-title>
				</v-list-item>
			</template>

		</v-list>
	</v-menu>
</template>

<script>
import { ChevronDownIcon } from "vue-feather-icons"

export default {
	name: "AppMenu",
	components: {
		ChevronDownIcon
	},
	props: {
		menuText: {
			type: String,
			default: "",
			required: true
		},
		listItems: {
			type: Array,
			default: () => [],
			required: true
		},
		icon: {
			type: String,
			default: "mdi-chevron-down"
		},
		iconSize: {
			type: String,
			default: "22"
		},
		loading: {
			type: Boolean,
			default: false
		},
		outlined: {
			type: Boolean,
			default: false
		},
		menuTextClasses: {
			type: String,
			default: ''
		},
		xSmall: {
			type: Boolean,
			default: false
		}
	}
}
</script>

<style scoped>

</style>
