<template>
	<div class="app-pagination d-flex align-center">
		<v-pagination
			v-if="isVisible"
      @input="$emit('emit:up', filterPagination.page)"
      v-model="filterPagination.page"
      :length="getPaginationOptions.page_length"
			:total-visible="getPaginationOptions.totalVisible"
		></v-pagination>

		<span v-if="getPaginationOptions.list_length > 1" class="ml-4 small-2">( {{ getPaginationOptions.list_length }} {{$t('components.base.documents')}} )</span>
<!--    <pre>{{ filterPagination.page }}</pre>-->
	</div>
</template>

<script>
import { mapGetters, mapState } from "vuex"

export default {
	name: "AppPagination",
	data() {
		return {
			isVisible: false
		}
	},
  computed: {
    ...mapState({
      filterState: state => state.headerFilter.filter,
      filterPagination: state => state.headerFilter.pagination,
    }),
    /*
    *
    * */
	  ...mapGetters({
      getPaginationOptions: "getPaginationOptions"
    })
  },
	mounted() {
    this.filterPagination.page = +this.$route.query.page || 1

		setTimeout(() => {
			this.isVisible = true
		}, 500)
	}
}
</script>

<style scoped>
.app-pagination ul li:first-child button {
	margin-left: 0;
}

.v-pagination {
	justify-content: flex-start !important;
}

.v-pagination__item,
.v-pagination__navigation {
	background: var(--bg-4) !important;
	box-shadow: none !important;
	border: 1px solid #bbb;
	font-weight: 500;
	color: var(--text-2) !important;
}
</style>
