<template>
	<v-tooltip v-bind="$attrs" :nudge-right="nudgeRight">
		<template v-slot:activator="{ on, attrs }">
			<div v-bind="attrs" v-on="on" :class="contentClasses">
				<slot name="content" />
			</div>
		</template>

		<span class="small-3">
			<slot name="text" />
		</span>
	</v-tooltip>
</template>

<script>
export default {
	name: "AppTooltip",
  props: {
		contentClasses: {
			type: String,
      default: ""
    },
	  /*
	  *
	  * */
	  nudgeRight: {
			type: Number
	  }
  }
}
</script>

<style>

</style>
