<template>
	<div
    class="app-table"
    :class="{
	    'app-table__bordered' : bordered,
	    'app-table__stripe' : stripe
	  }"
  >
		<v-simple-table
			:style="{'min-width': `${tableWidth}px`}"
			v-bind="$attrs"
			v-on="$listeners"
		>
			<template v-slot:default>
				<thead class="app-table__thead">
					<tr>
						<slot name="tableHeader">
							<template>
								<th
									v-for="items in tableHeadItems"
									:key="items.title"
									:width="items.width"
									class="text-left"
								>
									{{ items.title }}
								</th>
							</template>
						</slot>
					</tr>
				</thead>
				<tbody>
					<slot name="tableBody" />
				</tbody>
			</template>
		</v-simple-table>
	</div>
</template>

<script>
export default {
	name: "AppTable",
	props: {
		tableWidth: {
			type: [String, Number],
			default: "auto"
		},
		tableHeadItems: {
			type: Array,
			default: () => []
		},
    bordered: {
		  type: Boolean,
      default: false
    },
    stripe: {
      type: Boolean,
      default: false
    },
	}
}
</script>

<style>
.app-table .app-table__thead > tr:last-child > th {
  background: var(--bg-3);
}

.v-data-table > .v-data-table__wrapper > table > thead.app-table__thead > tr > th {
  font-weight: 600 !important;
  color: var(--text-dark) !important;
}

.app-table tbody tr,
.app-table tbody tr .v-chip {
  cursor: pointer;
}

.app-table tbody tr.table-hover {
	transition: transform 350ms, background 350ms;
}

.app-table tbody tr.table-hover:hover {
	box-shadow: 0 3px 3px 0 transparent;
	transform: translateY(-2px);
}

.app-table .v-data-table__wrapper {
  overflow: inherit !important;
}

.app-table thead th {
  position: sticky;
  top: 0;
  z-index: 2;
}

.app-table tbody tr:nth-child(even) {
  background: var(--input-bg);
}

.app-table tbody tr td {
  height: 64px !important;
  word-break: break-all;
}

.app-table.app-table__stripe tbody tr td {
  height: 48px !important;
}

.app-table thead tr th:first-child,
.app-table tbody tr td:first-child {
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
}

.app-table.app-table__bordered thead tr th:first-child {
  border-bottom-left-radius: 0 !important;
}

.app-table thead tr th:last-child,
.app-table tbody tr td:last-child {
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}

.app-table.app-table__bordered thead tr th:last-child {
  border-bottom-right-radius: 0 !important;
}

.app-table.app-table__bordered tbody tr td:first-child {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.app-table.app-table__bordered tbody tr td:last-child {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.app-table.app-table__bordered tbody tr:nth-child(even) {
  background-color: transparent;
}

.app-table.app-table__bordered tbody tr td {
  border-top: 1px solid var(--border-color);
}

.app-table.app-table__bordered tbody tr td:first-child {
  border-left: 1px solid var(--border-color);
}

.app-table.app-table__bordered tbody tr td:last-child {
  border-right: 1px solid var(--border-color);
}

.app-table.app-table__bordered tbody tr:last-child td {
  border-bottom: 1px solid var(--border-color) !important;
}

.app-table .tr-header {
  /*background: var(--primary-1) !important;*/
  color: var(--primary-1) !important;
}

.app-table .v-data-table > .v-data-table__wrapper > table > tbody .tr-header td {
  border-bottom: 2px solid var(--primary-1) !important;
}
</style>
