<template>
  <v-autocomplete
    ref="autocomplete"
    v-model="content"
    :search-input.sync="listSearch"
    :items="list"
    v-bind="$attrs"
    v-on="$listeners"
    :outlined="outlined"
    :hide-details="hideDetails"
    clear-icon="mdi-close"
    :background-color="backgroundColor"
    :height="height"
    class="app-autocomplete"
    cache-items
    @change="handleChange"
    @click="elementClick"
  >
    <template #append>
      <v-icon>mdi-chevron-down</v-icon>
    </template>

    <template v-slot:item="{ item }">
      <template v-if="listType === 'avatar'">
        <users-list
          :color="item.color"
          :avatar-url="item.avatar && item.avatar.url"
          avatarSize="40"
          :full-name="item.full_name"
          class="w-100 py-2"
        >
          <template #description>
            <div class="d-flex align-center mt-1">
              <span
                class="font-600 small-3"
                :class="{
						      'success-text' : item.condition_name === 'Рабочие' || item.condition_name === 'Командировка',
						      'red--text' : item.condition_name !== 'Рабочие' && item.condition_name !== 'Командировка',
						    }"
              >
                {{ item.condition_name }}
              </span>

              <template v-if="item.hasOwnProperty('conference')">
                <v-chip v-if="Object.keys(item.conference.conference).length" class="ml-1 font-400" color="error" small>
                  Занят с {{ item.conference.conference.start_date | filterHHmm }} до {{ item.conference.conference.end_date | filterHHmm }}
                </v-chip>
              </template>
            </div>
          </template>
        </users-list>
      </template>

      <template v-if="listType === 'list'">
        <div class="small-2">
          {{ item[$attrs['item-text']] }}
        </div>
      </template>
    </template>

    <template v-slot:selection="{ attr, on, item, selected }">
      <template v-if="listType === 'avatar'">
        <v-chip
          v-bind="attr"
          :input-value="selected"
          color="blue-grey"
          class="white--text"
          v-on="on"
          :small="$attrs.dense"
        >
          <span v-text="item.full_name"></span>
        </v-chip>
      </template>

      <template v-if="listType === 'list'">
        {{ item[$attrs['item-text']] }}
      </template>
    </template>

    <template v-slot:append-item>
      <template v-if="list.length >= 10">
        <div
          v-intersect="{
            handler: onIntersect,
            options: {
              threshold: [0, 1.0, 1.0]
            }
          }"
          class="pa-4"
        >
        </div>
      </template>
    </template>
  </v-autocomplete>
</template>

<script>
import UsersList from "@/common/components/UsersList"
import { debounce } from "lodash/function"

export default {
  name: "Autocomplete",
  props: {
    value: {
      type: [Number, String, Array, Object],
      default: () => ""
    },
    searchValue: {
      type: String,
      default: null
    },
    showValues: {
      type: Array,
      default: () => []
    },
    apiListUrl: {
      type: String,
      default: ""
    },
    apiParams: {
      type: Object,
      default: () => {}
    },
    listType: {
      type: String,
      default: "avatar"
    },
    outlined: {
      type: Boolean,
      default: true
    },
    backgroundColor: {
      type: String,
      default: "var(--input-bg)"
    },
    fetchOnCreate: {
      type: Boolean,
      default: true
    },
    cached: {
      type: Boolean,
      default: true
    },
    height: {
      type: [Number, String]
    },
    hideDetails: {
      type: Boolean,
      default: true
    }
  },
  components: {
    UsersList
  },
  data() {
    return {
      listSearch: null,
      list: [],
      page: 1,
      searchText: null
    }
  },
  computed: {
    computedList() {
      return this.list
    },
    /*
    *
    * */
    content: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit("input", value);
      }
    },
  },
  watch: {
    listSearch(search) {
      this.searchText = search

      this.fetchGetList({
        search,
        page: this.page = 1,
        ...this.apiParams
      })
    },
    /*
    *
    * */
    searchValue: {
      handler(val) {
        if(val) {
          this.fetchGetList({
            search: val,
            page: this.page = 1
          })
        }
      },
      deep: true,
      immediate: true
    }
  },
  created() {
    this.list = []

    if(this.fetchOnCreate) {
      this.fetchGetList()
    }
  },
  methods: {
    fetchGetList(apiParams) {
      this.$axios.get(`${this.apiListUrl}`, {
        params: {
          ...apiParams,
          ...this.apiParams
        }
      })
        .then(({ data }) => {
          this.list = data.results
        })
    },
    /*
    *
    * */
    handleChange(value) {
      this.$emit('emit:change', value)
    },
    /*
    *
    * */
    elementClick() {
      // this.$refs.autocomplete.cachedItems = []
    },
    /*
    *
    * */
    onIntersect(entries) {
      if(entries[0].intersectionRatio >= 0.5) {
        ++this.page

        this.fetchGetList({
          search: this.searchText,
          page: this.page,
          ...this.apiParams
        });
      }
    }
  }
}
</script>

<style>
/*.app-autocomplete input {*/
/*  position: absolute !important;*/
/*  top: 0;*/
/*  left: 0;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  max-height: 100%;*/
/*}*/
</style>
