<template>
	<div class="order-protocol-view">
		<ui-data-table
			:height="tableHeight"
			:headers-list="indexTableCols"
			:filter-state="indexTableFilters"
			:filter-storage-name="ORDER_AND_PROTOCOL_FILTER"
			:config-column-storage-name="ORDER_AND_PROTOCOL_COLUMN"
			:api-url="`docflow/${currentUser.filial}/orders_protocols`"
			:api-params="{ journal: 6 }"
			@saveConfigColumn="saveConfigColumn"
			@resetConfigColumn="resetConfigColumn"
			@clearFilter="clearFilter"
			@deleteSavedFilter="clearFilter"
		>
      <template #index="{ value, item }">
        <span class="ma-auto">{{ item.index }}</span>
      </template>

			<template #doc_type.name="{ value, item }">
				<router-link
					:to="{
            name: 'OrderProtocolRegistrationDetail',
            params: {
              id: item.id,
            }
          }"
				>
					{{ value }}
				</router-link>
			</template>

			<template #register_number="{ value, item }">
				<router-link
					:to="{
            name: 'OrderProtocolRegistrationDetail',
            params: {
              id: item.id,
            }
          }"
				>
					{{ value }}
				</router-link>
			</template>

			<template #register_date="{ value, item }">
				<router-link
					:to="{
            name: 'OrderProtocolRegistrationDetail',
            params: {
              id: item.id,
            }
          }"
				>
					{{ value | filterCalendarToTime }}
				</router-link>
			</template>

			<template #department="{ value, item }">
				<router-link
					:to="{
            name: 'OrderProtocolRegistrationDetail',
            params: {
              id: item.id,
            }
          }"
				>
					{{ value && value.name }}
				</router-link>
			</template>

			<template #description="{ value, item }">
				<router-link
					:to="{
            name: 'OrderProtocolRegistrationDetail',
            params: {
              id: item.id,
            }
          }"
				>
					{{ value }}
				</router-link>
			</template>

			<template #review_users="{ value, item }">
				<router-link
					:to="{
            name: 'OrderProtocolRegistrationDetail',
            params: {
              id: item.id
            }
          }"
				>
					<ui-avatar-group
						:avatar-list="value"
            class="opacity-80"
					/>
				</router-link>
			</template>

      <template #status.name="{ value, item }">
        <router-link
          :to="{
            name: 'OrderProtocolRegistrationDetail',
            params: {
              id: item.id
            }
          }"
        >
          <ui-status
            v-if="value"
            :text="value"
          />
        </router-link>
      </template>

			<template #priority="{ value, item }">
				<router-link
					:to="{
            name: 'OrderProtocolRegistrationDetail',
            params: {
              id: item.id
            }
          }"
				>
					<ui-priority
						v-if="value"
						:text="value"
					/>
				</router-link>
			</template>

			<template #deadline="{ value, item }">
				<router-link
					:to="{
            name: 'OrderProtocolRegistrationDetail',
            params: {
              id: item.id
            }
          }"
				>
          <span>
            {{ value | filterCalendarToTime }}
          </span>
				</router-link>
			</template>

			<template #filterBody>
				<order-protocol-table-filter />
			</template>

      <template #headerAction>
        <register-button />
      </template>
		</ui-data-table>
	</div>
</template>

<script>
import {mapActions, mapGetters, mapState} from "vuex";
import { ORDER_AND_PROTOCOL_COLUMN, ORDER_AND_PROTOCOL_FILTER } from "@/common/constants"
import { getItem } from "@/services/jwt.service"
import OrderProtocolTableFilter from "./components/OrderProtocolTableFilter";
import RegisterButton from "@/modules/DocumentFlow/views/RegistrationNew/components/RegisterButton.vue";

export default {
	name: "index",
	components: {
		RegisterButton,
		OrderProtocolTableFilter
	},
	data() {
		return {
			ORDER_AND_PROTOCOL_COLUMN,
			ORDER_AND_PROTOCOL_FILTER,
			filterState: {}
		}
	},
	computed: {
		...mapState({
			indexTableCols: state => state.documentFlowRegistrationOrderProtocol.indexTableCols,
			indexTableFilters: state => state.documentFlowRegistrationOrderProtocol.indexTableFilters
		}),
		/**/
		...mapGetters({
			currentUser: "auth/getCurrentUser"
		}),
		/**/
		tableHeight() {
			return document.documentElement.clientHeight - 250
		},
	},
	created() {
		this.setSavedTableCols()
		this.setSavedFilters()
	},
	methods: {
		...mapActions({
			setActiveIndexTableCols: "documentFlowRegistrationOrderProtocol/setActiveIndexTableCols",
			resetIndexTableCols: "documentFlowRegistrationOrderProtocol/resetIndexTableCols",
			resetIndexTableFilters: "documentFlowRegistrationOrderProtocol/resetIndexTableFilters",
			setActiveIndexTableFilters: "documentFlowRegistrationOrderProtocol/setActiveIndexTableFilters",
		}),
		/**/
		saveConfigColumn(columns) {
			this.setActiveIndexTableCols(columns)
		},
		/**/
		resetConfigColumn() {
			this.resetIndexTableCols()
		},
		/**/
		setSavedTableCols() {
			let savedColsFromStorage = JSON.parse(getItem(this.ORDER_AND_PROTOCOL_COLUMN)) ?? {}

			if(Object.keys(savedColsFromStorage).length) {
				this.setActiveIndexTableCols(savedColsFromStorage)
			} else {
				this.setActiveIndexTableCols(this.indexTableCols)
			}
		},
		/**/
		async clearFilter() {
			await this.resetIndexTableFilters()
		},
		/**/
		setSavedFilters() {
			if(this.$route.query) {
				let savedFiltersFromStorage = JSON.parse(getItem(this.ORDER_AND_PROTOCOL_FILTER)) ?? {}
				delete this.$route.query.page
				delete this.$route.query.page_size

				if(Object.keys(savedFiltersFromStorage).length) {
					this.setActiveIndexTableFilters(savedFiltersFromStorage)
				} else {
					this.setActiveIndexTableFilters(this.$route.query)
				}
			}
		}
	}
}
</script>

<style scoped>

</style>
