<template>
	<div class="xdfu-eri-modal">
		<v-dialog
			v-model="modal"
			max-width="600"
		>
			<div class="bg-4 px-7 py-6">
				<div class="d-flex align-center justify-center text-center">
					<h6 class="small-1 font-500">{{$t('enterThroughEri')}}</h6>
				</div>

				<div class="mt-4">
					<v-form
						@submit.prevent="send"
						class="w-100 text-center"
					>
						<h2 class="font-700 color-text-1 mb-10">
							{{ $t("auth.login-with-eri.login-with-eri") }}
						</h2>

						<div class="app-input mb-10">
							<v-select
								@change="cbChanged"
								v-model="keyValue"
								:items="keyUsersList"
								item-text="name"
								item-value="value"
								outlined
								dense
								hide-details
								background-color="var(--input-bg)"
								height="48"
								append-icon="mdi-chevron-down"
							>
							</v-select>
						</div>

						<div class="d-flex align-center justify-space-between">
							<div class="small-3 rounded py-1 px-2 bg-info-50">
								{{ $t('tokenExpire') }}
							</div>
							<app-button min-width="70" min-height="40" depressed type="submit">
								<template #default>
									{{ $t("user-profile.components.sign-in") }}
								</template>
							</app-button>
						</div>
					</v-form>

					<form class="d-none" name="testform">
						<label id="message"></label>
						<p>{{ $t("auth.login-with-eri.select-key-type") }}:</p>
						<input
							type="radio"
							id="pfx"
							name="keyType"
							value="pfx"
							onchange="keyType_changed()"
							checked="checked"
						/><label for="pfx">PFX</label> -
						<select name="key" @change="cbChanged(this)"></select
						><br />
						<input
							type="radio"
							id="idcard"
							name="keyType"
							value="idcard"
							onchange="keyType_changed()"
						/><label for="idcard">ID-card</label> -
						<label id="plugged">{{$t('auth.login-with-eri.no-connected')}}</label><br />
						<br />
						{{$t('auth.login-with-eri.signature-text')}} <br />
						<textarea name="data"></textarea><br />
						<p>{{$t('auth.login-with-eri.select-document-type')}}:</p>
						<input
							type="radio"
							id="attached"
							name="pkcs7Type"
							value="attached"
							onchange="pkcs7Type_changed()"
							checked="checked"
						/><label for="attached">{{$t('auth.login-with-eri.attached')}}</label><br />
						<input
							type="radio"
							id="detached"
							name="pkcs7Type"
							value="detached"
							onchange="pkcs7Type_changed()"
						/><label for="detached">{{$t('auth.login-with-eri.detached')}}</label><br />
						<br />
						<button @click="send" type="button" id="signButton">
							{{$t('auth.login-with-eri.sign-with-pfx-key')}}
						</button>
						<br />
						<label id="progress"></label>
						<br />
						{{$t('auth.login-with-eri.id-key')}}: <label id="keyId"></label><br />
						<br />
						<label id="pkcs7Type_label">{{$t('auth.login-with-eri.signed-document')}}</label><br />
						<textarea name="pkcs7"></textarea><br />
					</form>
				</div>
			</div>
		</v-dialog>
	</div>
</template>

<script>
const EIMZO_MAJOR = 3;
const EIMZO_MINOR = 37;

import { getXdfuItem, checkItem } from "../../../../../common/helpers";

export default {
	name: "EriModal",
	data() {
		return {
			modal: false,
			pkcs7: "",
			keyId: "",
			keyValue: "",
			keyUsersList: [],

			storedValue: null,
			key: 'xdfu',
			value: 'myValue',
			ttl: 600000, // Time to live in milliseconds)
			timeoutId: null
		}
	},
	mounted() {
		this.checkItem();
		this.appLoad();
	},
	methods: {
		checkItem,
		getXdfuItem,
		/** **/
		getAccess(pkcs7) {
			let formData = new FormData();
			formData.append("pkcs7", pkcs7);
			formData.append("type", "xdfu");
			this.$axios.post(`/eri/login-via-eri/`, formData).then(({ data }) => {
				if (data.success){
					this.$emit('hasGotAccess')
					this.modal = false
					this.setXdfuItem()
					this.$toast.success(this.$t('success'))
				} else {
					this.$toast.success(this.$t('smthWentWrong'))
				}
			});
		},
		/** **/
		send() {
			let keyType = document.testform.keyType.value;
			let pkcs7Type = document.testform.pkcs7Type.value;
			let itm = this.keyValue;
			if (itm) {
				let id = document.getElementById(itm);
				let vo = JSON.parse(id.getAttribute("vo"));
				let data = `${vo.PINFL}+${vo.TIN}`;
				let keyId = this.keyId;
				if (keyId === "idcard") {
					keyId = null;
				}
				if (keyId) {
					EIMZOClient.createPkcs7(
						keyId,
						data,
						null,
						pkcs7 => {
							this.pkcs7 = pkcs7;
							this.getAccess(pkcs7);
						},
						function (e, r) {
							if (r) {
								if (r.indexOf("BadPaddingException") != -1) {
									this.$toast.error(this.$t('auth.login-with-eri.error-4'));
								} else {
									this.$toast.warning(r);
								}
							} else {
								document.getElementById("keyId").innerHTML = "";
								this.$toast.error(this.$t('auth.login-with-eri.error-2'));
							}
							if (e) this.wsError(e);
						},
						pkcs7Type === "detached"
					);
				} else {
					EIMZOClient.loadKey(
						vo,
						id => {
							this.keyId = id;
							EIMZOClient.createPkcs7(
								id,
								data,
								null,
								pkcs7 => {
									this.pkcs7 = pkcs7;
									this.getAccess(pkcs7);
								},
								(e, r) => {
									if (r) {
										if (r.indexOf("BadPaddingException") != -1) {
											this.$toast.error(this.$t('auth.login-with-eri.error-4'));
										} else {
											this.$toast.warning(r);
										}
									} else {
										document.getElementById("keyId").innerHTML = "";
										this.$toast.error(this.$t('auth.login-with-eri.error-2'));
									}
									if (e) this.wsError(e);
								},
								pkcs7Type === "detached"
							);
						},
						(e, r) => {
							if (r) {
								if (r.indexOf("BadPaddingException") != -1) {
									this.$toast.error(this.$t('auth.login-with-eri.error-4'));
								} else {
									this.$toast.error(r);
								}
							} else {
								this.$toast.error(this.$t('auth.login-with-eri.error-2'));
							}
							if (e) this.wsError(e);
						}
					);
				}
			} else {
				this.$toast.error("hide");
			}
		},
		/** **/
		setXdfuItem() {
			const now = new Date();
			const item = {
				value: this.value,
				expiry: now.getTime() + this.ttl,
			};
			localStorage.setItem(this.key, JSON.stringify(item));

			// Clear any existing timeout before setting a new one
			if (this.timeoutId) {
				clearTimeout(this.timeoutId);
			}

			// Set a timeout to remove the item after ttl milliseconds
			this.timeoutId = setTimeout(() => {
				localStorage.removeItem(this.key);
			}, this.ttl);
		},
		/** **/
		cbChanged() {
			this.keyId = "";
		},
		/** **/
		appLoad() {
			EIMZOClient.API_KEYS = [
				"localhost",
				"96D0C1491615C82B9A54D9989779DF825B690748224C2B04F500F370D51827CE2644D8D4A82C18184D73AB8530BB8ED537269603F61DB0D03D2104ABF789970B",
				"127.0.0.1",
				"A7BCFA5D490B351BE0754130DF03A068F855DB4333D43921125B9CF2670EF6A40370C646B90401955E1F7BC9CDBF59CE0B2C5467D820BE189C845D0B79CFC96F",
				"null",
				"E0A205EC4E7B78BBB56AFF83A733A1BB9FD39D562E67978CC5E7D73B0951DB1954595A20672A63332535E13CC6EC1E1FC8857BB09E0855D7E76E411B6FA16E9D",
				"go.asakabank.uz",
				"22F652CA374900B57C8B7E7375BA4DBA5E7CF9E055CA2B449450E2DFACF8900B878414EC7762D86DDC62592CAB8C3DA1C21DC2190F5FA27AA0B809CE4624F0B6",
			];
			EIMZOClient.checkVersion(
				(major, minor) => {
					const newVersion = EIMZO_MAJOR * 100 + EIMZO_MINOR;
					const installedVersion = parseInt(major) * 100 + parseInt(minor);
					if (installedVersion < newVersion) {
						this.$toast.error("Update E-IMZO");
					} else {
						EIMZOClient.installApiKeys(
							() => {
								if (document.testform){
									this.uiLoadKeys();
								}
							},
							(e, r) => {
								if (r) {
									this.$toast.error(r);
								} else {
									this.$toast.error(e);
								}
							}
						);
					}
				},
				(e, r) => {
					if (r) {
						this.$toast.error(r);
					} else {
						console.log(e);
						alert(this.$t('auth.login-with-eri.key-not-found'));
					}
				}
			);
		},
		/** **/
		uiLoadKeys() {
			this.uiClearCombo();
			EIMZOClient.listAllUserKeys(
				(o, i) => {
					const itemId = "itm-" + o.serialNumber + "-" + i;
					return itemId;
				},
				(itemId, v) => {
					return this.uiCreateItem(itemId, v);
				},
				(items, firstId) => {
					this.uiFillCombo(items);
					this.uiComboSelect(firstId);
				},
				(e, r) => {
					if (e) {
						this.$toast.error(this.$t('auth.login-with-eri.error-1') + e);
					} else {
						console.log(r);
					}
				}
			);
			EIMZOClient.idCardIsPLuggedIn(
				yes => {
					document.getElementById("plugged").innerHTML = yes
						? this.$t('auth.login-with-eri.connected')
						: this.$t('auth.login-with-eri.no-connected');
				},
				(e, r) => {
					if (e) {
						this.$toast.error(this.$t('auth.login-with-eri.error-1') + e);
					} else {
						console.log(r);
					}
				}
			);
		},
		/** **/
		uiClearCombo() {
			let combo = document.testform.key;
			combo.length = 0;
		},
		/** **/
		uiCreateItem(itmkey, vo) {
			const now = new Date();
			vo.expired = dates.compare(now, vo.validTo) > 0;
			const itm = document.createElement("option");
			itm.value = itmkey;
			itm.text = vo.CN;
			if (!vo.expired) {
			} else {
				itm.style.color = "gray";
				itm.text = itm.text + this.$t('auth.login-with-eri.expired');
			}
			itm.setAttribute("vo", JSON.stringify(vo));
			itm.setAttribute("id", itmkey);
			return itm;
		},
		/** **/
		uiFillCombo(items) {
			const combo = document.testform.key;
			for (let itm in items) {
				combo.append(items[itm]);
			}
			if (items.length) {
				for (let item in items) {
					this.keyUsersList.push({
						name: items[item].text,
						value: items[item].value,
					});
				}
				this.keyValue = items[0].value;
			} else {
				alert(this.$t('auth.login-with-eri.key-not-found'));
			}
		},
		/** **/
		uiComboSelect(itm) {
			if (itm) {
				const id = document.getElementById(itm);
				id.setAttribute("selected", "true");
			}
		},
		/** **/
		wsError(e) {
			if (e) {
				this.$toast.error(this.$t('auth.login-with-eri.error-1') + " : " + e);
			} else {
				this.$toast.error(this.$t('auth.login-with-eri.error-2'));
			}
		},
	}
}
</script>

<style scoped>

</style>
