<script>
// Core
import { mapActions, mapGetters } from "vuex"
// Enums
import {AUDIT_PERFORMER_TYPES} from "@/common/constants"
import {FORM_TYPES} from "@/common/enums/notificationTypes"
// Components
import { BackButton } from "../../../components"
import { STATUS_TYPES } from "@/common/constants"
import { returnDateDifference } from "@/common/helpers"

export default {
  name: "AssignDirections",
	components: {BackButton},
	computed: {
		...mapGetters({
			currentUser: "auth/getCurrentUser"
		}),
		isMethodsAllowed() {
			return this.model?.group?.head_of_group?.id === this.currentUser.id && this.model?.status !== STATUS_TYPES.CLOSED
		}
	},
	data: () => ({
		AUDIT_PERFORMER_TYPES,
		FORM_TYPES,
		STATUS_TYPES,
		loading: true,
		acquaintButtonLoading: false,
		startButtonLoading: false,
		updateButtonLoading: false,
		completeButtonLoading: false,
		confirmDialog: false,
		model: null,
		lastValue: null,
		items: [
			{
				performer: null,
				directions: [],
				deadline_in_day: 1
			}
		]
	}),
	methods: {
		...mapActions({
			actionGetCheckupDetail: 'auditCheckup/actionGetCheckupDetail',
			actionAcquaintCheckup: 'auditCheckup/actionAcquaintCheckup',
			actionCreateTask: 'auditCheckup/actionCreateTask',
			actionUpdateCheckupTasks: 'auditCheckup/actionUpdateCheckupTasks',
			actionCompleteCheckup: 'auditCheckup/actionCompleteCheckup'
		}),
		/** **/
		getCheckupDetail() {
			this.loading = true
			this.actionGetCheckupDetail(this.$route.params.id)
				.then(data => {
					this.model = data.model
					this.items = data.items
				})
				.catch(err => {
					this.$toast.error(err)
				})
				.finally(() => {
					this.loading = false
				})
		},
		/** **/
		acquaint() {
			this.acquaintButtonLoading = true
			this.actionAcquaintCheckup(this.$route.params.id)
				.then(res => {
					this.$toast.success(this.$t('familiar'))
					this.getCheckupDetail()
				})
				.finally(() => {
					this.acquaintButtonLoading = false
				})
		},
		/** **/
		manage(actionType) {
			const hasEmptyDirections = this.items.some(item => item.directions.length === 0)
			const allPositiveDeadlines = this.items.every(item => Number(item.deadline_in_day) > 0)

			if (hasEmptyDirections){
				this.$toast.warning(this.$t('at-least-one-direction'))
				return
			}

			if (!allPositiveDeadlines){
				this.$toast.warning(this.$t('deadline-more-than-one'))
				return
			}

			actionType === FORM_TYPES.CREATE ? this.startButtonLoading = true : this.updateButtonLoading = true

			const items = this.items.map(item => ({
				audit: this.$route.params.id,
				directions: item.directions.map(direction => direction.id),
				performer: item.performer.id,
				performer_type: item.performer_type,
				deadline_in_day: item.deadline_in_day
			}))

			actionType === FORM_TYPES.CREATE ? this.createTasks(items) : this.updateTasks(items)
		},
		/** **/
		createTasks(items) {
			this.actionCreateTask(items)
				.then(res => {
					this.$toast.success(this.$t('tasks-created'))
					this.$router.go(-1)
				})
				.finally(() => {
					this.startButtonLoading = false
				})
		},
		/** **/
		updateTasks(items) {
			this.actionUpdateCheckupTasks({id: this.$route.params.id, items})
				.then(res => {
					this.$toast.success(this.$t('tasks-updated'))
					this.$router.go(-1)
				})
				.finally(() => {
					this.updateButtonLoading = false
				})
		},
		/** **/
		completeCheckup() {
			this.confirmDialog = true
		},
		async onConfirm() {
			this.completeButtonLoading = true
			this.actionCompleteCheckup(this.$route.params.id)
				.then(res => {
					this.$toast.success(this.$t('survey-client.completed.completed'))
					this.confirmDialog = false
					this.getCheckupDetail()
				})
				.finally(() => {
					this.completeButtonLoading = false
				})
		},
		/** **/
		validateNumber(event) {
			if (event.key === '-' || event.key === 'e' || event.key === 'E' || event.key === '+') {
				event.preventDefault()
			}
		},
		/** **/
		onDeadlineChange(val, index) {
			if (val !== this.lastValue) {
				if (this.model && this.model.deadline) {
					const maxDays = returnDateDifference(this.model.deadline)
					if (val > maxDays) {
						this.$toast.warning(`Muddat ${maxDays} kundan ko'p bo'lishi mumkin emas!`);
						// Set the deadline to max allowed days
						setTimeout(() => {
							this.items[index].deadline_in_day = maxDays
						}, 100)
					} else {
						this.items[index].deadline_in_day = val
					}
				}
				this.lastValue = val
			}
		}
	},
	mounted() {
		this.getCheckupDetail()
	}
}
</script>

<template>
  <div class="assign-directions-view">
	  <template v-if="loading">
		  <app-loader full-width />
	  </template>

    <template v-else>
	    <div class="d-flex align-center justify-space-between">
		    <div class="d-flex align-center gap-x-3">
			    <back-button />
			    <span class="heading-8 font-600 text-greyscale-900">{{ model.audit_number }}</span>
		    </div>

		    <app-button
			    v-if="isMethodsAllowed"
			    height="40"
			    class="rounded-8"
			    :disabled="!model.is_started || !model.read_time"
			    :loading="completeButtonLoading"
			    @click="completeCheckup"
		    >
			    <div class="small-2 font-500">{{ $t('complete-checkup') }}</div>
		    </app-button>

		    <div
			    v-else
			    class="d-flex rounded-12 px-4 py-2 bg-info-50 small-2 font-600 text-info-500">
			    {{ $t('survey-client.completed.completed') }}
		    </div>
	    </div>

	    <div class="bg-greyscale-100 rounded-12 pa-5 mt-6">
		    <span class="small-1 font-600 text-greyscale-900">{{ $t('direct-tasks') }}</span>
		    <div class="d-flex flex-column gap-y-3 my-4">
			    <div
				    v-for="(item, index) in items"
				    class="bg-white rounded-12 card-shadow pa-5"
			    >
				    <v-row>
					    <v-col md="4">
						    <span class="small-2 font-500 text-greyscale-700 d-block mb-2">{{ $t(item.performer_type === AUDIT_PERFORMER_TYPES.GROUP_HEAD ? 'group-head' : 'group-member') }} </span>
						    <div class="d-flex align-center h-10 rounded-12 bg-greyscale-100 px-2">
							    <div class="d-flex align-center bg-white rounded-80 px-2" style="padding: 4px 4px; grid-column-gap: 6px; margin-bottom: 2px">
								    <div
									    class="d-flex justify-center align-center w-4 h-4 rounded-50"
									    :style="{ background: item.performer.color }"
								    >
									    <span class="small-3 font-500 text-white">{{ item && item.performer.full_name && item.performer.full_name[0] }}</span>
								    </div>
								    <span class="small-3 font-600 text-greyscale-900">{{ item && item.performer.full_name}}</span>
							    </div>
						    </div>
<!--						    <base-auto-complete-->
<!--							    v-if="item.performer && item.performer.id"-->
<!--							    v-model="item.performer"-->
<!--							    api-list-url="/user/search/"-->
<!--							    :api-params="{ ids: item.performer.id }"-->
<!--							    item-text="full_name"-->
<!--							    :label="item.performer_type === AUDIT_PERFORMER_TYPES.GROUP_HEAD ? 'group-head' : 'group-member'"-->
<!--							    return-object-->
<!--							    cache-items-->
<!--							    clearable-->
<!--							    disabled-->
<!--							    :placeholder="$t('document-flow.views.boxes.employees')"-->
<!--						    />-->
					    </v-col>

					    <v-col md="4">
						    <base-auto-complete
							    v-model="item.directions"
							    api-list-url="/audit/directions/"
							    item-text="name"
							    list-type="list"
							    label="direction"
							    multiple
							    return-object
							    cache-items
							    :disabled="!model.read_time || !isMethodsAllowed"
							    :placeholder="$t('direction')"
						    />
					    </v-col>

					    <v-col md="4">
						    <base-text-field
							    v-model="item.deadline_in_day"
							    label="deadline-day"
							    :placeholder="$t('enter-number')"
							    type="number"
							    :disabled="!model.read_time || !isMethodsAllowed"
							    @keypress="validateNumber"
							    @input="(val) => onDeadlineChange(val, index)"
							    :min="1"
						    />
					    </v-col>
				    </v-row>
			    </div>
		    </div>

		    <div class="d-flex gap-x-3">
			    <app-button
				    height="40"
				    color="white"
				    class="rounded-8"
			    >
				    <div class="small-2 font-500 text-greyscale-900">{{ $t('control-tasks.reports.clear') }}</div>
			    </app-button>

			    <template v-if="isMethodsAllowed">
				    <app-button
					    v-if="!model.read_time"
					    height="40"
					    class="rounded-8"
					    :loading="acquaintButtonLoading"
					    @click="acquaint"
				    >
					    <div class="small-2 font-500">{{ $t('familiar') }}</div>
				    </app-button>

				    <app-button
					    v-else-if="!model.is_started && model.read_time"
					    height="40"
					    class="rounded-8"
					    :loading="startButtonLoading"
					    @click="manage(FORM_TYPES.CREATE)"
				    >
					    <div class="small-2 font-500">{{ $t('start-checkup') }}</div>
				    </app-button>

				    <app-button
					    v-else-if="model.is_started && model.read_time"
					    height="40"
					    class="rounded-8"
					    :loading="updateButtonLoading"
					    @click="manage(FORM_TYPES.UPDATE)"
				    >
					    <div class="small-2 font-500">{{ $t('components.save') }}</div>
				    </app-button>
			    </template>
		    </div>
	    </div>
    </template>

	  <!-- Complete checkup confirmation -->
	  <base-modal
		  v-model="confirmDialog"
		  ref="baseModal"
		  label="complete-checkup"
		  success-button-label="complete-checkup"
		  persistent
		  width="461"
		  :button-loading="completeButtonLoading"
		  @emit:onSend="onConfirm"
	  >
		  <div class="d-flex flex-column align-center justify-center w-100 py-4">
			  <div class="d-flex justify-center align-center w-12 h-12 rounded-50 bg-warning-500">
				  <base-iconify
					  icon="CircleWarning"
					  class="text-white"
					  width="28"
					  height="28"
				  />
			  </div>

			  <div class="heading-11 font-600 text-greyscale-900 mt-5 text-center">Вы уверены, что хотите завершить эту проверку?</div>
		  </div>
	  </base-modal>
	  <!-- /Complete checkup confirmation -->
  </div>
</template>

<style scoped>

</style>