<script>
// Components
import TableList from "./components/TableList.vue"
// Enums
import {AUDIT_CHECKUP_TYPES} from "@/common/constants"
export default {
	name: "Department",
  components: {
    TableList
  },
  data: () => ({
    AUDIT_CHECKUP_TYPES
  })
}
</script>

<template>
	<div class="checkup-department-list">
		<table-list
      :checkup-type="AUDIT_CHECKUP_TYPES.DEPARTMENT"
      :header-name="$t('components.department')"
    />
	</div>
</template>

<style>

</style>
