<script>
// Components
import TableList from "./components/TableList.vue"
// Enums
import {AUDIT_CHECKUP_TYPES} from "@/common/constants"

export default {
  name: "Process",
  components: {
    TableList
  },
  data: () => ({
    AUDIT_CHECKUP_TYPES
  })
}
</script>

<template>
  <div class="checkup-process-list">
    <table-list
      :checkup-type="AUDIT_CHECKUP_TYPES.PROCESS"
      :header-name="$t('process')"
    />
  </div>
</template>

<style scoped>

</style>