<template>
	<div class="send-document-table-list">
		<div class="d-flex justify-lg-space-between mb-1">
			<h1 class="small-1">{{ $t("layout.sending-documents") }}</h1>
		</div>

		<div class="p-relative d-flex my-6">
			<v-tabs
				v-model="docTypeSelected"
				height="36"
				show-arrows
			>
				<v-tab
					v-for="(item, index) in docTypeListComputed"
					:ripple="false"
					@click="changeDocType(item)"
				>
					<span class="text-transform-none size-13">{{ $t(item.title) }}</span>
				</v-tab>
			</v-tabs>
		</div>

		<ui-data-table
			:height="tableHeight"
			:headers-list="sendDocumentTableCols"
			:filter-state="sendDocumentTableFilters"
			:filter-storage-name="SEND_DOCUMENT_FILTER"
			:config-column-storage-name="SEND_DOCUMENT_COLUMN"
			:api-url="`docflow/${currentUser.filial}/compose`"
			ref="dataTable"
			@saveConfigColumn="saveConfigColumn"
			@resetConfigColumn="resetConfigColumn"
			@clearFilter="clearFilter"
			@deleteSavedFilter="clearFilter"
		>
			<template #index="{ value, item }">
				<div class="pointer d-flex align-center w-100 h-100" @click.prevent ="openRoute(item)">
					{{ value }}
				</div>
			</template>

			<template #doc_type="{ value, item }">
				<div class="pointer d-flex align-center w-100 h-100" @click.prevent ="openRoute(item)">
					{{ returnTypeText(item) }}
				</div>
			</template>

			<template #created_date="{ value, item }">
				<div class="pointer d-flex align-center w-100 h-100" @click.prevent ="openRoute(item)">
					{{ item.created_date | filterCalendarToTime }}
				</div>
			</template>

			<template #modified_date="{ value, item }">
				<div class="pointer d-flex align-center w-100 h-100" @click.prevent ="openRoute(item)">
					{{ item.modified_date | filterCalendarToTime }}
				</div>
			</template>

			<template #status="{ value, item }">
				<div class="pointer d-flex align-center w-100 h-100" @click.prevent ="openRoute(item)">
					<v-chip
						:color="item.status === 'draft' ? 'secondary' : item.status === 'approved' ? 'success' : item.status === 'declined' ? 'danger' : item.status === 'for_registration' ? 'primary' : item.status === 'for_signature' ? 'cyan' : 'warning' "
					>
						<span class="small-3 text-white">{{ returnStatus(item.status) }}</span>
					</v-chip>
				</div>
			</template>

			<template #register_number="{ value, item }">
				<div class="pointer d-flex align-center w-100 h-100" @click.prevent ="openRoute(item)">
					{{ item.register_number }}
				</div>
			</template>

			<template #author="{ value, item }">
				<div class="pointer d-flex align-center w-100 h-100" @click.prevent ="openRoute(item)">
					<app-avatar-group list-type="author" :avatar-list="[{user: item.author}]" />
				</div>
			</template>

			<template #receiver="{ value, item }">
				<div class="pointer d-flex align-center w-100 h-100" @click.prevent ="openRoute(item)">
					<template v-if="value">
						<template v-if="value.branches">
							<app-chip-group :chip-list="value.branches" />
						</template>

						<template v-if="value.departments">
							<app-chip-group :chip-list="value.departments" />
						</template>

						<template v-if="value.organizations">
							<app-chip-group item-text="organization_name" max-width="300px" :chip-list="value.organizations" />
						</template>
					</template>
				</div>
			</template>

			<template #approver="{ value, item }">
				<div class="pointer d-flex align-center w-100 h-100" @click.prevent ="openRoute(item)">
					<app-avatar-group list-type="agreed" :avatar-list="item.agreed_by" />
				</div>
			</template>

			<template #signer="{ value, item }">
				<div class="pointer d-flex align-center w-100 h-100" @click.prevent ="openRoute(item)">
					<app-avatar-group list-type="signers" :avatar-list="item.signed_by" />
				</div>
			</template>

			<template #sent_status="{ value, item }">
				<div v-if="item.type === 'organization_letter' && item.send_by === 'chancellery'" class="pointer d-flex align-center w-100 h-100" @click.prevent ="openRoute(item)">
					<div
						class="d-flex align-center px-2 py-1 rounded"
						:style="{
											background: item.is_sent ? `var(--primary-2-light)` : item.is_sent === false ? `var(--critic-50)` : `var(--primary-3-light)`,
											width: 'fit-content'
										}"
						>
						<span
							class="small-3 text-uppercase font-600"
							:style="{ color: item.is_sent ? `var(--primary-2)` : item.is_sent === false ? `var(--critic-500)` : `var(--primary-3)` }"
						>
							{{ item.is_sent ? $t('sent') : item.is_sent === false ? $t('sending-rejected') : $t('not_sent') }}
						</span>
					</div>
				</div>
			</template>

			<template #send_by="{ value, item }">
				<div class="pointer d-flex align-center w-100 h-100" @click.prevent ="openRoute(item)">
					{{ returnSendByText(value) }}
				</div>
			</template>

			<template #action="{ value, item }">
				<div class="d-flex align-center" style="width: 110px">
					<app-tooltip left max-width="500">
						<template #content>
							<app-button
								min-width="43"
								width="43px"
								color="var(--primary-3)"
								icon
							>
								<template #prepend>
									<eye-icon size="18" />
								</template>
							</app-button>
						</template>
						<template #text>
							<span v-html="item.short_description" class="line-truncate-10"/>
						</template>
					</app-tooltip>
					<template v-if="item.type === 'protocol' || item.type === 'credit_committee'">
						<app-button
							v-if="['admin', 'chancellery_admin', 'credit_committee'].includes(currentUser.role)"
							@click="deleteDocument($event, item)"
							min-width="43"
							width="43px"
							color="var(--primary-4)"
							icon
						>
							<template #prepend>
								<trash2-icon size="18" />
							</template>
						</app-button>
					</template>

					<template v-else>
						<app-button
							@click="deleteDocument($event, item)"
							min-width="43"
							width="43px"
							color="var(--primary-4)"
							icon
						>
							<template #prepend>
								<trash2-icon size="18" />
							</template>
						</app-button>
					</template>

					<template v-if="['protocol'].includes(item.type) && returnIsDeadlineToday(item)">
						<app-tooltip left max-width="500">
							<template #content>
								<div class="alert-icon ml-2 pointer"></div>
							</template>
							<template #text>
								<span>{{ $t('todayDeadline') }}</span>
							</template>
						</app-tooltip>
					</template>

				</div>
			</template>

			<template #headerExtra>
				<div class="d-flex">
					<filter-modal
						:active-route="path"
						:export-excel-button-loading="exportExcelButtonLoading"
						class="mr-2"
						@emit:filter="filter"
						@emit:filter:update="filterUpdate"
						@emit:exportExcel="exportToExcel"
					/>

					<v-menu
						v-model="docTypeSettingMenu"
						:close-on-content-click="false"
						offset-y
						nudge-top="-10"
						min-width="320"
					>
						<template v-slot:activator="{ on, attrs }">
							<v-btn
								v-bind="attrs"
								v-on="on"
								color="#EEEEEE"
								depressed
								small
								height="32"
							>
								<v-icon size="16" color="var(--secondary)">mdi-file-document</v-icon>

								<span class="size-13 ml-2">{{ $t("customize-doc-type") }}</span>
							</v-btn>
						</template>

						<div class="menu-wrapper">
							<div class="d-flex align-center justify-space-between py-2 pl-4 pr-2 primary-bg text-white">
								<span class="small-3 font-500">{{ $t("customize-doc-type") }}</span>

								<v-btn
									icon
									small
									dark
									min-width="32"
									width="32"
									height="32"
									@click="docTypeSettingMenu = false"
								>
									<x-icon size="16" color="#fff" />
								</v-btn>
							</div>

							<div class="pa-4">
								<v-row class="ma-0 pa-0" style="max-width: 600px">
									<v-col class="ma-0 pa-0" v-for="item in docTypeList" md="6">
										<v-checkbox
											v-model="item.active"
											:value="item.active"
											hide-details
											:disabled="item.disabled"
											class="mt-0 mb-3"
										>
											<template #label>
												<span class="text--dark small-3 font-500">{{ $t(item.title) }}</span>
											</template>
										</v-checkbox>
									</v-col>
								</v-row>

								<div class="d-flex grid-gap-sm mt-5">
									<v-btn
										color="error"
										outlined
										small
										height="30"
										@click="resetDocTypeStorage"
									>
										<span class="line-base small-3">Сбросить</span>
									</v-btn>

									<v-btn
										color="primary"
										depressed
										small
										height="30"
										@click="saveDocTypeStorage"
									>
										<span class="line-base small-3 font-400">Сохранить</span>
									</v-btn>
								</div>
							</div>
						</div>
					</v-menu>
				</div>
			</template>

			<template #headerAction>
				<v-menu offset-y>
					<template v-slot:activator="{ on, attrs }">
						<v-btn
							v-bind="attrs"
							v-on="on"
							color="#EEEEEE"
							depressed
							small
							height="32"
						>
							<plus-icon size="16" />

							<span class="size-13 ml-2">{{$t('document-flow.views.send-document.create')}}</span>
						</v-btn>
					</template>

					<v-list>
						<v-list-item link :to="{ name: 'SendingDocumentsCreate', query: { type: 'leadership', journal_id: 3, compose_type: 'service_letter' } }">
							<v-list-item-title class="font-500">
								{{$t('document-flow.views.send-document.report')}}
							</v-list-item-title>
						</v-list-item>

						<!--                <template v-if="currentUser.role === 'admin' || currentUser.role === 'hr_manager' || currentUser.role === 'filial_hr_manager'">-->
						<!--                  <v-list-item link :to="{ name: 'SendingDocumentsCreate', query: { type: 'job' } }">-->
						<!--                    <v-list-item-title class="font-500">-->
						<!--                      Рапорт для приема на работу-->
						<!--                    </v-list-item-title>-->
						<!--                  </v-list-item>-->
						<!--                </template>-->

						<v-list-item link :to="{ name: 'SendingDocumentsCreate', query: { type: 'inner' } }">
							<v-list-item-title class="font-500">
								{{$t('document-flow.views.send-document.interior')}}
							</v-list-item-title>
						</v-list-item>

						<v-list-item link :to="{ name: 'SendingDocumentsCreate', query: { type: 'outgoing' } }">
							<v-list-item-title class="font-500">
								{{$t('document-flow.views.send-document.outgoing')}}
							</v-list-item-title>
						</v-list-item>

						<v-list-item link :to="{ name: 'BoardProtocolCreate', query: { type: 'protocol' } }">
							<v-list-item-title class="font-500">
								{{$t('document-flow.views.send-document.board-protocol')}}
							</v-list-item-title>
						</v-list-item>

						<v-list-item link :to="{ name: 'SendingDocumentsCreate', query: { type: 'committee-protocol' } }">
							<v-list-item-title class="font-500">
								{{$t('document-flow.views.send-document.committee-protocol')}}
							</v-list-item-title>
						</v-list-item>

						<v-list-item link :to="{ name: 'SendingDocumentsCreateApplication' }">
							<v-list-item-title class="font-500">
								{{$t('document-flow.views.send-document.statement')}}
							</v-list-item-title>
						</v-list-item>

						<v-list-item link :to="{ name: 'SendingDocumentsCreate', query: { type: 'decree' } }">
							<v-list-item-title class="font-500">
								{{$t('document-flow.views.send-document.orders')}}
							</v-list-item-title>
						</v-list-item>

						<v-list-item link :to="{ name: 'SendingDocumentsCreate', query: { type: 'arbitrary-order' } }">
							<v-list-item-title class="font-500">
								{{ $t('arbitrary-order') }}
							</v-list-item-title>
						</v-list-item>

						<v-list-item link :to="{ name: 'SendingDocumentsCreate', query: { type: 'training-specialists' } }">
							<v-list-item-title class="font-500">
								{{ $t('trainingSpecialists') }}
							</v-list-item-title>
						</v-list-item>

						<v-list-item link :to="{ name: 'SendingDocumentsCreate', query: { type: 'reference' } }">
							<v-list-item-title class="font-500">
								{{ $t('reference-information') }}
							</v-list-item-title>
						</v-list-item>

					</v-list>
				</v-menu>
			</template>


			<template #filterBody>
				<send-document-table-filter />
			</template>
		</ui-data-table>
	</div>
</template>

<script>
import { mapActions, mapGetters, mapState } from "vuex";
import { SEND_DOCUMENT_COLUMN, SEND_DOCUMENT_FILTER } from "../../../../common/constants";
import { getItem, removeItem, setItem } from "@/services/jwt.service"
import SendDocumentTableFilter from "./components/SendDocumentTableFilter.vue";
import { Trash2Icon, EyeIcon, XIcon, PlusIcon } from "vue-feather-icons";
import FilterModal from "../../../../common/components/FilterModal.vue";
import {returnIsSameDay} from "../../../../common/helpers";

export default {
	name: "TableList",
	components: {
		FilterModal,
		EyeIcon,
		SendDocumentTableFilter,
		Trash2Icon,
		PlusIcon,
		XIcon
	},
	data() {
		return {
			SEND_DOCUMENT_COLUMN,
			SEND_DOCUMENT_FILTER,
			filterState: {},

			docTypeSelected: null,
			documentTypeSelected: {
				id: 1,
				title: "document-flow.views.send-document.interior",
				journal_id: 3,
				type: "service_letter",
				role: null,
				active: true,
				doc_active: true
			},

			exportExcelButtonLoading: false,
			path: "sending-document",
			docTypeSettingMenu: false,

			docTypeStorageName: "DOC_TYPE_STORAGE_NAME"
		}
	},
	watch: {
		'$route': {
			handler(val) {
				if (val && val.name === 'SendDocumentNew' && this.$route.query && this.$route.query.journal_id && this.$route.query.type){
					const { journal_id, type } = this.$route.query;
					setTimeout(() => {
						this.docTypeSelected = this.docTypeListComputed.findIndex(x => x.journal_id === Number(journal_id) && x.type === type)
					}, 200)
				}
			},
			immediate: true
		},
		'docTypeListComputed': {
			handler(val){
				if (this.$route.query && this.$route.query.journal_id && this.$route.query.type){
					const { journal_id, type } = this.$route.query;
					setTimeout(() => {
						this.docTypeSelected = this.docTypeListComputed.findIndex(x => x.journal_id === Number(journal_id) && x.type === type)
					}, 200)
				}
			}
		}
	},
	computed: {
		...mapState({
			sendDocumentTableCols: state => state.documentFlowSendDocumentBase.sendDocumentTableCols,
			sendDocumentTableFilters: state => state.documentFlowSendDocumentBase.sendDocumentTableFilters,
			docTypeList: state => state.documentFlowSendDocumentBase.docTypeList,
		}),
		/**/
		...mapGetters({
			currentUser: "auth/getCurrentUser"
		}),
		/**/
		tableHeight() {
			return document.documentElement.clientHeight - 250
		},
		/**/
		docTypeListComputed(){
			return this.docTypeList.filter(item => item.active)
		}
	},
	mounted() {
		this.manageStorageItems();
		this.getData();
	},
	methods: {
		...mapActions({
			setActiveIndexTableCols: "documentFlowSendDocumentBase/setActiveIndexTableCols",
			fetchDocumentsList: "sendingDocuments/fetchDocumentsList",
			fetchDeleteDocument: "sendingDocuments/fetchDeleteDocument",
		}),
		/**/
		getData(){
			const { dataTable } = this.$refs;
			if (this.$route.query && this.$route.query.journal_id && this.$route.query.type){
				const { journal_id, type} = this.$route.query
				this.setDocType({ journal_id, type });
				dataTable.getDataFromApi({
					...this.$route.query,
					journal_id,
					type
				})
			}else {
				this.$router.replace({
					query: {
						...this.$route.query,
						journal_id: 3,
						type: "service_letter"
					}
				});
				dataTable.getDataFromApi({
					...this.$route.query,
					journal_id: 3,
					type: "service_letter"
				})
			}
		},
		/**/
		changeDocType(item){
			const { dataTable } = this.$refs;
			const { journal_id, type } = item;
 			this.setDocType({ journal_id, type });
			if ((this.$route.query && Number(this.$route.query.page) !== 1)){
				this.$router.replace({
					query: {
						...this.$route.query,
						page: 1,
						page_size: 15
					}
				});
				this.sendDocumentTableFilters.page = 1;
				this.sendDocumentTableFilters.page_size = 15;
			}
			if (!(this.$route.query && this.$route.query.type && this.$route.query.type === type && this.$route.query.journal_id && Number(this.$route.query.journal_id) === journal_id)){
				this.$router.replace({
					query: {
						...this.$route.query,
						journal_id,
						type
					}
				});
				dataTable.getDataFromApi({
					...this.$route.query,
					journal_id,
					type
				})
			}
		},
		/**/
		setDocType({ journal_id, type}){
			this.documentTypeSelected = this.docTypeList.find(x => x.journal_id === Number(journal_id) && x.type === type)
			this.docTypeList.forEach(x => {
				x.doc_active = x.journal_id === Number(journal_id) && x.type === type;
			})
		},
		/**/
		saveConfigColumn(columns) {
			this.setActiveIndexTableCols(columns)
		},
		/**/
		resetDocTypeStorage() {
			this.docTypeSettingMenu = false
			this.$toast.success(`Конфигурация тип документа сброшен`)
			removeItem(this.docTypeStorageName)
			window.location.reload();
		},
		/**/
		saveDocTypeStorage(){
			setItem(this.docTypeStorageName, JSON.stringify(this.docTypeList))
			this.docTypeSettingMenu = false
			this.$toast.success(`Конфигурация тип документа сохранен`)
			this.$router.replace({
				query: {
					...this.$route.query,
					journal_id: 3,
					type: "service_letter"
				}
			})
			window.location.reload();
		},
		/**/
		resetConfigColumn(){
			window.location.reload();
		},
		/**/
		clearFilter(){

		},
		/**/
		openRoute(item) {
			if(item.journal_id === 10) {
				this.$router.push({
					name: "SendingDocumentsShow",
					params: {
						id: item.id
					},
					query: {
						type: "reference"
					}
				})

				return;
			}

			// Заявление
			if(item.journal_id === 7) {
				this.$router.push({
					name: "SendingDocumentsShow",
					params: {
						id: item.id
					},
					query: {
						type: "vacation"
					}
				})

				return;
			}

			// Созданные приказы
			if(item.type === "hr_order") {
				this.$router.push({
					name: "SendingDocumentsShow",
					params: {
						id: item.id
					},
					query: {
						type: "hr_order"
					}
				})

				return;
			}

			if(item.type === "attorney") {
				this.$router.push({
					name: "SendingDocumentsShow",
					params: {
						id: item.id
					},
					query: {
						type: "attorney"
					}
				})

				return;
			}

			if(item.type === "irr") {
				this.$router.push({
					name: "SendingDocumentsShow",
					params: {
						id: item.id
					},
					query: {
						type: "irr"
					}
				})

				return;
			}

			if(item.type === "retail_act") {
				this.$router.push({
					name: "SendingDocumentsShow",
					params: {
						id: item.id
					},
					query: {
						type: "retail_act"
					}
				})

				return;
			}

			if(item.type === "hr_notice") {
				this.$router.push({
					name: "SendingDocumentsShow",
					params: {
						id: item.id
					},
					query: {
						type: "job"
					}
				})

				return;
			}

			if(item.type === "trip_license") {
				this.$router.push({
					name: "SendingDocumentsShow",
					params: {
						id: item.id
					},
					query: {
						type: "trip_license"
					}
				})

				return;
			}

			if(item.type === "hr_rotation") {
				this.$router.push({
					name: "SendingDocumentsShow",
					params: {
						id: item.id
					},
					query: {
						type: "hr_rotation"
					}
				})

				return;
			}

			if(item.type === "credit_committee" && item.sub_type !== 'joint_protocol') {
				this.$router.push({
					name: "SendingDocumentsShow",
					params: {
						id: item.id
					},
					query: {
						type: "committee_protocol"
					}
				})

				return;
			}

			if(item.type === "credit_committee" && item.sub_type === 'joint_protocol') {
				this.$router.push({
					name: "SendingDocumentsShow",
					params: {
						id: item.id
					},
					query: {
						type: "joint_protocol"
					}
				})

				return;
			}

			if(item.type === "organization_letter") {
				this.$router.push({
					name: "SendingDocumentsShow",
					params: {
						id: item.id
					},
					query: {
						type: "organization_letter"
					}
				})

				return;
			}

			if(item.type === "hr_contract") {
				this.$router.push({
					name: "SendingDocumentsShow",
					params: {
						id: item.id
					},
					query: {
						type: "hr_contract"
					}
				})

				return;
			}

			if(item.type === "summary") {
				this.$router.push({
					name: "SendingDocumentsShow",
					params: {
						id: item.id
					},
					query: {
						type: "leadership"
					}
				})

				return;
			}

			if(item.type === "currency_summary") {
				this.$router.push({
					name: "SendingDocumentsShow",
					params: {
						id: item.id
					},
					query: {
						type: "currency_summary"
					}
				})

				return;
			}

			if(item.type === "compliance_regulation") {
				this.$router.push({
					name: "SendingDocumentsShow",
					params: {
						id: item.id
					},
					query: {
						type: "compliance_regulation"
					}
				})

				return;
			}

			this.$router.push({
				name: 'SendingDocumentsShow',
				params: {
					id: item.id
				},
				query: {
					type: item.journal_id === 3 && item.receiver !== null
						? 'inner'
						: item.journal_id === 6 && item.type === "decree"
							? 'decree'
							: item.journal_id === 6
								? 'protocol'
								: item.receiver === null
									? 'leadership'
									: 'outgoing'
				}
			})
		},
		/**/
		deleteDocument(event, item){
			event.stopImmediatePropagation();
			if (item.is_signed === true){
				this.$toast.error(this.$t('document-flow.views.send-document.document-signed'))
				return;
			}else {
				if(!confirm(this.$t('document-flow.views.send-document.delete-confirmation'))) {
					return;
				}

				this.fetchDeleteDocument(item)
					.then(() => {
						this.$toast.success(this.$t('document-flow.views.send-document.deleted'))
						this.fetchDocumentsList({journal_id: this.documentTypeSelected.journal_id, type: this.documentTypeSelected.type});
						window.location.reload();
					})
					.catch(err => {
						this.$toast.error(this.$t('document-flow.views.send-document.error'))
					})
			}
		},
		/**/
		manageStorageItems(){
			if (getItem(SEND_DOCUMENT_COLUMN)){
				this.$store.state.documentFlowSendDocumentBase.sendDocumentTableCols = JSON.parse(getItem(SEND_DOCUMENT_COLUMN));
			}
			if (getItem(this.docTypeStorageName)){
				this.$store.state.documentFlowSendDocumentBase.docTypeList = JSON.parse(getItem(this.docTypeStorageName));
			}
		},
		/**/
		returnStatus(status){
			switch (status){
				case 'approved':
					return this.$t('document-flow.views.send-document.approved');
				case 'pending':
					return this.$t('document-flow.views.send-document.pending');
				case 'declined':
					return this.$t('document-flow.views.send-document.declined')
				case 'for_registration':
					return this.$t('document-flow.views.send-document.for-registration')
				case 'for_signature':
					return this.$t('components.for-signature')
				case 'draft':
					return this.$t('document-flow.views.send-document.draft')
				default:
					return null
			}
		},
		/**/
		returnTypeText(item){
			return item.type === 'act' ? this.$t('document-flow.views.send-document.act')
				: item.sub_type === "arbitrary_order" ? this.$t('arbitrary-order') : item.type === 'hr_rotation' ? this.$t('document-flow.views.send-document.rotation')
					: item.type === 'hr_order' ? this.$t('document-flow.views.send-document.hr-order')
						: item.type === 'irr' ? this.$t('irr')
							: item.type === 'notice' ? this.$t('document-flow.views.send-document.report')
								: item.type === 'attorney' ? this.$t('attorney')
									: item.type === 'expense_notice' ? this.$t('expenseNotice')
										: item.type === 'technic_teaching' ? this.$t('techniqueTeaching')
											: item.type === 'decree' ? this.$t('document-flow.views.send-document.orders')
												: item.journal_id === 7 ? this.$t('document-flow.views.send-document.statement')
													: item.type === 'protocol' ? this.$t('document-flow.views.send-document.board-protocol')
														: item.type === 'summary' ? this.$t('document-flow.views.send-document.summary')
															: item.type === 'hr_notice' ? this.$t('document-flow.views.send-document.job-application-report')
																: item.type === 'hr_contract' ? this.$t('hr_contract')
																	: item.type === 'retail_act' ? this.$t('actCompletedServices')
																		: item.type === 'reference' ? this.$t('reference-information')
																			: item.type === 'trip_license' ? this.$t('businessTrip')
																				: item.type === 'credit_committee' && item.sub_type === 'finance' ? this.$t('document-flow.views.send-document.financing')
																					: item.type === 'credit_committee' && item.sub_type === 'monitoring' ? this.$t('document-flow.views.send-document.monitoring')
																						: item.type === 'credit_committee' && item.sub_type === 'kuap' ? 'APBQ'
																							: item.type === 'credit_committee' && item.sub_type === 'department_protocol' ? 'Departament bayonnomasi'
																								: item.type === 'credit_committee' && item.sub_type === 'mek' ? 'MEK bayonnomasi'
																									: item.type === 'credit_committee' && item.sub_type === 'invest' ? this.$t('document-flow.views.send-document.investment')
																										: item.type === 'credit_committee' && item.sub_type === 'project_office' ? this.$t('document-flow.views.send-document.by-project-and-product')
																											: item.type === 'credit_committee' && item.sub_type === 'purchase_commission' ? this.$t('document-flow.views.send-document.purchasing-commission')
																												: item.type === 'currency_summary' ? 'Valyuta sotib olish bo\'yicha'
																													: item.type === 'credit_committee' && item.sub_type === 'charity_commission' ? 'Xayriya komissiyasi'
																														: item.type === 'credit_committee' && item.sub_type === 'capital_invest' ? 'Capital invest'
																															: item.type === 'credit_committee' && item.sub_type === 'hr_teaching' ? 'Xodimlarni o\'qitish'
																																: item.type === 'credit_committee' && item.sub_type === 'sick_paid_protocol' ? 'Moddiy yordam'
																																	: item.type === 'credit_committee' && item.sub_type === 'trade_union' ? 'Kasaba uyushmasi qo\'mitasi'
																																		: item.type === 'credit_committee' && item.sub_type === 'anti_corruption' ? 'Korrupsiyaga qarshi kurash'
																																			: item.type === 'credit_committee' && item.sub_type === 'workgroup' ? 'Ishchi guruh bayonnomasi '
																																				: item.type === 'credit_committee' && item.sub_type === 'joint_protocol' ? this.$t('joint_protocol')
																																					: item.type === 'credit_committee' && item.sub_type === 'small_business' ? this.$t('Bank kichik kredit qo\'mitasi')
																																						: item.type === 'compliance_regulation' || item.sub_type === 'compliance_regulation' ? 'Ichki meyoriy xujjat'
																																							: item.type === 'credit_committee' || item.sub_type === 'expense_commission' ? 'Xarajatlarni o\'rganish komissiyasi'
																																								: this.$t('document-flow.views.send-document.service-letter')
							},
		/**/
		filterUpdate() {
			this.$router.replace({
				query: {
					journal_id: 3,
					type: "service_letter"
				}
			}).catch(() => {})
			this.documentTypeSelected = {
				title: this.$t('document-flow.views.send-document.interior'),
				journal_id: 3,
				type: "service_letter"
			}
			this.filter()
		},
		/**/
		filter() {
			const { dataTable } = this.$refs;
			this.$router.replace({
				query: {
					...this.$route.query,
					page: null
				}
			}).catch(() => {});

			if (this.$route.query.journal_id && this.$route.query.type){
				if (+this.$route.query.journal_id !== 6 && !['organization_letter', 'notice'].includes(this.$route.query.type)){
					this.documentTypeSelected = this.docTypeList.find(x => x.type === this.$route.query.type && x.value === +this.$route.query.journal_id);
				}else {
					this.documentTypeSelected = this.docTypeList.find(x => x.type === this.$route.query.type);
				}
			}
			dataTable.getDataFromApi({...this.filterState, ...this.$route.query})
		},
		/**/
		exportToExcel(model){
			this.exportExcelButtonLoading = true;
			this.$axios.get(`/docflow/${this.currentUser.filial}/export/compose/`, {
				params: model,
				responseType: "blob"
			})
				.then(response => {
					const url = window.URL.createObjectURL(new Blob([response?.data]));
					const fileName = `${this.$t(
						"control-tasks.tasks.reports"
					)}-${new Date()
						.toISOString()
						.replace(/T/, "-")
						.replace(/:/, "-")
						.slice(0, 16)}.xls`;
					const link = document.createElement("a");
					link.href = url;
					link.setAttribute("download", fileName);
					document.body.appendChild(link);
					link.click();
					document.body.removeChild(link);
				})
				.catch(err => {
					console.log(err);
					this.exportExcelButtonLoading = false;
				})
				.finally(() => {
					this.exportExcelButtonLoading = false;
				})
		},
		/** **/
		returnSendByText(value){
			let obj = {
				"hybrid_mail": this.$t('viaHybridPost'),
				"chancellery": this.$t('viaChancellery')
			}
			return obj[value] || this.$t('viaChancellery');
		},
		/** **/
		returnIsDeadlineToday(item) {
			if (item && item.cancel_at){
				return  returnIsSameDay(item.cancel_at)
			} else {
				return false
			}
		}
	}
}
</script>


<style>

</style>
