<template>
  <router-view />
</template>

<script>
import { mapActions } from "vuex"

export default {
	name: "index",
  mounted() {
	  this.getCurrentBranchList()
  },
	methods: {
		...mapActions({
			getCurrentBranchList: "creditMonitoring/getCurrentBranchList",
    })
  }
}
</script>
