
.bg--white {
  background: var(--bg-white);
}

.color--white {
  color: var(--bg-white);
}

.bg--primary {
  background: var(--primary-1);
}

.text__primary {
  color: var(--primary-1);
}

.bg--primary-1-light {
  background: var(--primary-1-light);
}

.bg--primary-opacity {
  background: var(--primary-opacity);
}

.text--primary-opacity {
  color: var(--primary-opacity);
}

.bg--dark {
  background: var(--dark);
}

.text--dark {
  color: var(--dark) !important;
}

.bg--dark-opacity {
  background: var(--dark-opacity);
}

.text--dark-opacity {
  color: var(--dark-opacity);
}

.bg--black {
  background: var(--black);
}

.text--black {
  color: var(--black);
}

.bg--black-opacity {
  background: var(--black-opacity);
}

.text--black-opacity {
  color: var(--black-opacity);
}

.bg--secondary {
  background: var(--secondary);
}

.text--secondary {
  color: var(--secondary);
}

.bg--yellow {
  background: var(--yellow);
}

.text--yellow {
  color: var(--yellow);
}

.bg--yellow-opacity {
  background: var(--yellow-opacity);
}

.text--yellow-opacity {
  color: var(--yellow-opacity);
}

.bg--yellow-opacity-2 {
  background: var(--yellow-opacity-2);
}

.text--yellow-opacity-2 {
  color: var(--yellow-opacity-2);
}

.bg--green {
  background: var(--green);
}

.text--green {
  color: var(--green);
}

.bg--red {
  background: var(--red);
}

.text--red {
  color: var(--red);
}

.border-all-primary {
  border: 1px solid var(--primary-1);
}

/** BACKGROUND COLORS **/

.bg-primary-50 {
  background: var(--primary-50);
}

.bg-primary-100 {
  background: var(--primary-100);
}

.bg-primary-200 {
  background: var(--primary-200);
}

.bg-primary-300 {
  background: var(--primary-300);
}

.bg-primary-400 {
  background: var(--primary-400);
}

.bg-primary-500 {
  background: var(--primary-500);
}

.bg-primary-500-important {
  background: var(--primary-500) !important;
}

.bg-primary-600 {
  background: var(--primary-600);
}

.bg-primary-700 {
  background: var(--primary-700);
}

.bg-primary-800 {
  background: var(--primary-800);
}

.bg-primary-900 {
  background: var(--primary-900);
}

.bg-greyscale-50 {
  background: var(--greyscale-50);
}

.bg-greyscale-100 {
  background: var(--greyscale-100);
}

.bg-greyscale-200 {
  background: var(--greyscale-200);
}

.bg-greyscale-300 {
  background: var(--greyscale-300);
}

.bg-greyscale-400 {
  background: var(--greyscale-400);
}

.bg-greyscale-500 {
  background: var(--greyscale-500);
}

.bg-greyscale-600 {
  background: var(--greyscale-600);
}

.bg-greyscale-700 {
  background: var(--greyscale-700);
}

.bg-greyscale-800 {
  background: var(--greyscale-800);
}

.bg-greyscale-900 {
  background: var(--greyscale-900);
}

.bg-success-50 {
  background: var(--success-50);
}

.bg-success-100 {
  background: var(--success-100);
}

.bg-success-200 {
  background: var(--success-200);
}

.bg-success-300 {
  background: var(--success-300);
}

.bg-success-300-important {
  background: var(--success-300) !important;
}

.bg-success-500 {
  background: var(--success-500);
}

.bg-info-50 {
  background: var(--info-50);
}

.bg-warning-50 {
  background: var(--warning-50);
}

.bg-warning-100 {
  background: var(--warning-100);
}

.bg-warning-200 {
  background: var(--warning-200);
}

.bg-warning-300 {
  background: var(--warning-300);
}

.bg-warning-500 {
  background: var(--warning-500);
}

.bg-info-50 {
  background: var(--info-50);
}

.bg-info-100 {
  background: var(--info-100);
}

.bg-info-200 {
  background: var(--info-200);
}

.bg-info-300 {
  background: var(--info-300);
}

.bg-info-500 {
  background: var(--info-500);
}

.bg-critic-50 {
  background: var(--critic-50);
}

.bg-critic-100 {
  background: var(--critic-100);
}

.bg-critic-200 {
  background: var(--critic-200);
}

.bg-critic-300 {
  background: var(--critic-300);
}

.bg-critic-500 {
  background: var(--critic-500);
}

/** TEXT COLORS **/

.text-primary-50 {
  color: var(--primary-50);
}

.text-primary-100 {
  color: var(--primary-100);
}

.text-primary-200 {
  color: var(--primary-200);
}

.text-primary-300 {
  color: var(--primary-300);
}

.text-primary-400 {
  color: var(--primary-400);
}

.text-primary-500 {
  color: var(--primary-500);
}

.text-primary-500-important {
  color: var(--primary-500) !important;
}

.text-primary-600 {
  color: var(--primary-600);
}

.text-primary-700 {
  color: var(--primary-700);
}

.text-primary-800 {
  color: var(--primary-800);
}

.text-primary-900 {
  color: var(--primary-900);
}

.text-greyscale-50 {
  color: var(--greyscale-50);
}

.text-greyscale-100 {
  color: var(--greyscale-100);
}

.text-greyscale-200 {
  color: var(--greyscale-200);
}

.text-greyscale-300 {
  color: var(--greyscale-300);
}

.text-greyscale-400 {
  color: var(--greyscale-400);
}

.text-greyscale-500 {
  color: var(--greyscale-500);
}

.text-greyscale-600 {
  color: var(--greyscale-600);
}

.text-greyscale-700 {
  color: var(--greyscale-700);
}

.text-greyscale-800 {
  color: var(--greyscale-800);
}

.text-greyscale-900 {
  color: var(--greyscale-900);
}

.text-greyscale-900-important {
  color: var(--greyscale-900) !important;
}

.text-success-50 {
  color: var(--success-50);
}

.text-success-100 {
  color: var(--success-100);
}

.text-success-200 {
  color: var(--success-200);
}

.text-success-300 {
  color: var(--success-300);
}

.text-success-500 {
  color: var(--success-500);
}

.text-info-50 {
  color: var(--info-50);
}

.text-warning-50 {
  color: var(--warning-50);
}

.text-warning-100 {
  color: var(--warning-100);
}

.text-warning-200 {
  color: var(--warning-200);
}

.text-warning-300 {
  color: var(--warning-300);
}

.text-warning-500 {
  color: var(--warning-500);
}

.text-info-50 {
  color: var(--info-50);
}

.text-info-100 {
  color: var(--info-100);
}

.text-info-200 {
  color: var(--info-200);
}

.text-info-300 {
  color: var(--info-300);
}

.text-info-500 {
  color: var(--info-500);
}

.text-critic-50 {
  color: var(--critic-50);
}

.text-critic-100 {
  color: var(--critic-100);
}

.text-critic-200 {
  color: var(--critic-200);
}

.text-critic-300 {
  color: var(--critic-300);
}

.text-critic-500 {
  color: var(--critic-500);
}

.v-application .color-inherit {
  color: inherit;
}

