/* cyrillic-ext */
@font-face {
	font-family: "Inter";
	src: local("Inter"), url("../fonts/Inter-Light.woff2") format('woff2');
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: "Inter";
	src: local("Inter"), url("../fonts/Inter-Regular.woff2") format('woff2');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "Inter";
	src: local("Inter"), url("../fonts/Inter-Medium.woff2") format('woff2');
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: "Inter";
	src: local("Inter"), url("../fonts/Inter-SemiBold.woff2") format('woff2');
	font-style: normal;
	font-weight: 600;
}

/*@font-face {*/
/*	font-family: "Inter";*/
/*	src: local("Inter"), url("../fonts/Inter-Bold.woff2") format('woff2');*/
/*	font-style: normal;*/
/*	font-weight: 700;*/
/*}*/

@font-face {
	font-family: "Material Design Icons";
	src: url("../fonts/MaterialDesignIcons.woff2") format("woff2");
	font-weight: normal;
	font-style: normal
}

.mdi::before,
.mdi-set {
	display: inline-block;
	font: normal normal normal 24px/1 "Material Design Icons";
	font-size: inherit;
	text-rendering: auto;
	line-height: inherit;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing :grayscale
}

.mdi-checkbox-marked::before {
	content: "\F0132"
}

.mdi-checkbox-blank-outline::before {
	content: "\F0131"
}

.mdi-close-box::before {
	content: "\F0157"
}

.mdi-close-circle::before {
	content: "\F0159";
}

.mdi-checkbox-marked-circle::before {
	content: "\F0133"
}

.mdi-chevron-left::before {
	content: "\F0141";
}

.mdi-chevron-right::before {
	content: "\F0142";
}

.mdi-chevron-down::before {
	content: "\F0140"
}

.mdi-paperclip::before {
	content: "\F03E2";
}

.mdi-calendar::before {
	content: "\F00ED";
}

.mdi-close::before {
	content: "\F0156";
}
.mdi-email-outline::before {
	content: "\F01F0";
}
.mdi-delete-outline::before {
	content: "\F09E7";
}
.mdi-magnify::before {
	content: "\F0349";
}
.mdi-trash-can-outline::before {
	content: "\F0A7A";
}
.mdi-paperclip::before {
	content: "\F03E2";
}

.mdi-check-circle::before {
	content: "\F05E0";
}

.mdi-star-circle::before {
	content: "\F04CF";
}

.mdi-help-circle::before {
	content: "\F02D7";
}

.mdi-alert::before {
	content: "\F0026";
}

.mdi-exclamation::before {
	content: "\F0205";
}

.mdi-menu-down::before {
	content: "\F035D";
}
.mdi-send::before {
	content: "\F048A";
}
.mdi-arrow-left::before {
	content: "\F004D";
}
.mdi-scanner::before {
	content: "\F06AB";
}
.mdi-content-save::before {
	content: "\F0193";
}
.mdi-reload::before {
	content: "\F0453";
}
.mdi-eye::before {
	content: "\F0208";
}
.mdi-eye-off::before {
	content: "\F0209";
}

.mdi-logout-variant::before {
	content: "\F05FD";
}

.mdi-account-outline::before {
	content: "\F0013";
}

.mdi-radiobox-blank::before {
	content: "\F043D";
}

.mdi-radiobox-marked::before {
	content: "\F043E";
}

.mdi-message-outline::before {
	content: "\F0365";
}

.mdi-bell-outline::before {
	content: "\F009C";
}

.mdi-dots-vertical::before {
	content: "\F01D9";
}

.mdi-check::before {
	content: "\F012C";
}

.mdi-trash-can-outline::before {
	content: "\F0A7A";
}

.mdi-file-document::before {
	content: "\F0219";
}

.mdi-clock-outline::before {
	content: "\F0150";
}

.mdi-check-all::before {
	content: "\F012D";
}

.mdi-comment-processing-outline::before {
	content: "\F0185";
}

.mdi-camera::before {
	content: "\F0100";
}

.mdi-exit-to-app::before {
	content: "\F0206";
}

.mdi-information-outline::before {
	content: "\F02FD";
}

.mdi-account-group-outline::before {
	content: "\F0B58";
}

.mdi-download::before {
	content: "\F01DA";
}

.mdi-plus::before {
	content: "\F0415";
}

.mdi-file-outline::before {
	content: "\F0224";
}

.mdi-image-outline::before {
	content: "\F0976";
}

.mdi-trophy-award::before {
	content: "\F0539";
}

.mdi-briefcase-account-outline::before {
	content: "\F0CF1";
}

.mdi-phone-in-talk-outline::before {
	content: "\F1182";
}

.mdi-camera-outline::before {
	content: "\F0D5D";
}

.mdi-minus::before {
	content: "\F0374";
}

.mdi-unfold-more-horizontal::before {
	content: "\F054F";
}

.mdi-square-edit-outline::before {
	content: "\F090C";
}

.mdi-pencil-outline::before {
	content: "\F0CB6";
}

.mdi-reply-outline::before {
	content: "\F0F20";
}

.mdi-eye-outline::before {
	content: "\F06D0";
}

.mdi-content-copy::before {
	content: "\F018F";
}

.mdi-pin-outline::before {
	content: "\F0931";
}

.mdi-share-outline::before {
	content: "\F0932";
}

.mdi-reply-outline::before {
	content: "\F0F20";
}

.mdi-information-outline::before {
	content: "\F02FD";
}

.mdi-phone-in-talk-outline::before {
	content: "\F1182";
}

.mdi-web::before {
	content: "\F059F";
}

.mdi-robot-happy-outline::before {
	content: "\F171A";
}

.mdi-list-status::before {
	content: "\F15AB";
}

.mdi-arrow-up::before {
	content: "\F005D";
}

.mdi-arrow-down::before {
	content: "\F0045";
}

.mdi-chart-line::before {
	content: "\F012A";
}

.mdi-text-account::before {
	content: "\F1570";
}

.mdi-arrow-right-bottom::before {
	content: "\F17A9";
}

.mdi-subdirectory-arrow-right::before {
	content: "\F060D";
}

.mdi-file-sign::before {
	content: "\F19C3";
}

.mdi-file-document-outline::before {
	content: "\F09EE";
}

.mdi-information::before {
	content: "\F02FC";
}

.mdi-checkbox-blank-circle-outline::before {
	content: "\F0130";
}

.mdi-chart-box-outline::before {
	content: "\F154E";
}

.mdi-refresh::before {
	content: "\F0450";
}

.mdi-home-variant::before {
	content: "\F02DE";
}

.mdi-eye-off-outline::before {
	content: "\F06D1";
}

.mdi-printer-outline::before {
	content: "\F1786";
}

.mdi-calendar-month-outline::before {
	content: "\F0E18";
}

.mdi-cloud-upload-outline::before {
	content: "\F0B7E";
}

.mdi-content-save-cog-outline::before {
	content: "\F145C";
}
