.heading-xl {
	font-size: 60px;
}
.heading-1 {
	font-size: 38px;
}

.heading-2 {
	font-size: 32px;
}

.heading-7 {
	font-size: 26px;
}

.heading-8 {
	font-size: 24px;
}

.heading-9 {
	font-size: 22px;
}

.heading-10 {
	font-size: 20px;
}

.heading-11 {
	font-size: 18px;
}

.small-1 {
	font-size: 16px;
}

.size-15 {
	font-size: 15px;
}

.small-2 {
	font-size: 14px !important;
}

.size-13 {
	font-size: 13px;
}

.small-3 {
	font-size: 12px;
}

.tiny {
	font-size: 10px;
}

.x-tiny {
	font-size: 9px;
}

.w-half {
	width: 50%;
}

.w-100,
.object-cover,
.object-contain {
	width: 100%;
}

.w-fit {
	width: fit-content;
}

.h-100,
.object-cover,
.object-contain {
	height: 100%;
}

.h-1 {
	height: 4px;
}

.h-4 {
	height: 20px;
}

.h-5 {
	height: 20px!important;
}

.h-6 {
	height: 24px!important;
}

.h-7 {
	height: 28px;
}

.h-8 {
	height: 32px;
}

.h-9 {
	height: 36px;
}

.h-10 {
	height: 40px;
}

.h-12 {
	height: 48px;
}

.h-15 {
	height: 60px;
}

.h-16 {
	height: 64px;
}

.w-1 {
	width: 4px;
}

.w-4 {
	width: 20px;
}

.w-5 {
	width: 20px!important;
}

.w-6 {
	width: 24px!important;
}

.w-7 {
	width: 28px;
}

.w-8 {
	width: 32px;
}

.w-9 {
	width: 36px;
}

.w-10 {
	width: 40px;
}

.w-12 {
	width: 48px;
}

.w-15 {
	width: 60px;
}


.vh-100 {
	height: 100vh !important;
}

.height-scroll {
	height: 1px;
}

.object-cover {
	object-fit: cover;
}

.object-contain {
	object-fit: contain;
}

.p-fixed {
	position: fixed;
}

.p-relative {
	position: relative;
}

.p-absolute {
	position: absolute !important;
}

.p-sticky {
	position: sticky;
}

.border-all {
	border: 1px solid var(--border-color);
}

.border-top {
	border-top: 1px solid var(--border-color);
}

.border-right {
	border-right: 1px solid var(--border-color);
}

.border-left {
	border-left: 1px solid var(--border-color);
}

.border-bottom {
	border-bottom: 1px solid var(--border-color);
}

.border-all-2 {
	border: 2px solid var(--border-color);
}

.border-top-2 {
	border-top: 2px solid var(--border-color);
}

.border-right-2 {
	border-right: 2px solid var(--border-color);
}

.border-left-2 {
	border-left: 2px solid var(--border-color);
}

.border-bottom-2 {
	border-bottom: 2px solid var(--border-color);
}

.border-left-primary {
	border-left: 2px solid var(--primary-1);
}

.border-info-100 {
	border: 1px solid var(--info-100);
}

.input-bg {
	background: var(--input-bg);
}

.bg-6 {
	background: #E3FFF3;
}

.primary-bg {
	background: var(--primary-1);
}

.primary-text,
body .hover-primary-text:hover {
	color: var(--primary-1) !important;
}

.success-bg {
	background: var(--primary-2);
}

.success-text,
body .hover-success-text:hover {
	color: var(--primary-2) !important
}

.warning-bg {
	background: var(--primary-3);
}

.warning-text,
body .hover-warning-text:hover {
	color: var(--primary-3) !important
}

.error-bg {
	background: var(--primary-4);
}

.red-bg {
	background: red;
}

.error-text,
body .hover-error-text:hover {
	color: var(--primary-4) !important;
}

.secondary-1 {
	background: var(--secondary-1) !important;
}

.secondary-2 {
	background: var(--secondary-2) !important;
}

.secondary-3 {
	background: var(--secondary-3) !important;
}

.secondary-4 {
	background: var(--secondary-4) !important;
}

.secondary-5 {
	background: var(--secondary-5) !important;
}

.secondary-6 {
	background: rgba(var(--bg-5-light), 0.35);
}

.transparent-1 {
	background: var(--transparent-1);
}

.transparent-2 {
	background: var(--transparent-2);
}

.transparent-3 {
	background: var(--transparent-3);
}

.transparent-4 {
	background: var(--transparent-4);
}

.input-bg {
	background: var(--input-bg);
}

.bg-5 {
	background: #EBEDFF;
}

.text-1 {
	color: var(--text-1);
}

.text-2 {
	color: var(--text-2);
}

.text-3 {
	color: var(--text-3);
}

.text-4 {
	color: var(--text-4);
}

.text-7 {
	color: var(--text-7);
}

.text-dark {
	color: var(--text-dark) !important;
}

.text-dark-grey {
	color: var(--text-dark-gray) !important;
}

.text-white {
	color: #fff;
}

.text-red {
	color: red;
}

.text-black {
	color: black;
}

.bg-primary {
	background: var(--primary-1);
}

.bg-primary-light {
	background: var(--primary-light);
}

.bg--light {
	background: #F0F2FF;
}

.bg-white {
	background: #fff;
}

.bg-1 {
	background: var(--bg-1);
}

.bg-2 {
	background: var(--bg-2);
}

.bg-3 {
	background: var(--bg-3);
}

.bg-4 {
	background: var(--bg-4);
}

.bg-transparent {
	background: transparent !important;
}

.primary-shadow {
	box-shadow: 0 0 10px 1px rgba(26, 92, 255, 0.7);
}

.shadow-sm {
	box-shadow: 0 .1rem 1.5rem .25rem rgba(0,0,0,.04) !important;
}

.shadow-1 {
	box-shadow: var(--shadow-1);
}

.shadow-2 {
	box-shadow: var(--shadow-2);
}

.shadow-3 {
	box-shadow: var(--shadow-3);
}

.shadow-4 {
	box-shadow: var(--shadow-4);
}

.shadow-5 {
	box-shadow: var(--shadow-5) !important;
}

.shadow-6 {
	box-shadow: var(--shadow-6);
}

.shadow-7 {
	box-shadow: var(--shadow-7);
}

.shadow-8 {
	box-shadow: var(--shadow-8);
}

.shadow-9 {
	box-shadow: 0 1px 2px 0 #030C2B0D, 0 2px 4px 0 #2F3D5708;
}

.danger-shadow {
	box-shadow: var(--danger-shadow);
}

.primary-shadow {
	box-shadow: var(--primary-shadow);
}

.success-shadow {
	box-shadow: var(--success-shadow);
}

.warning-shadow {
	box-shadow: var(--warning-shadow);
}

.danger-button-shadow {
	box-shadow: var(--danger-button-shadow);
}

.primary-button-shadow {
	box-shadow: var(--primary-button-shadow);
}

.success-button-shadow {
	box-shadow: var(--success-button-shadow);
}

.warning-button-shadow {
	box-shadow: var(--warning-button-shadow);
}

.card-shadow {
	box-shadow: 0 2px 4px 0 #2F3D5708;

}

.fade-enter-active, .fade-leave-active {
	transition: opacity .4s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
	opacity: 0;
}

.transition-all {
	transition: all 400ms;
}

.transition-transform {
	transition: transform 0.2s;
}

.transition-transform:hover {
	transform: scale(1.004);
	background-color: var(--bg-3);
}

.line-base {
	line-height: 1;
}

.line-base-0 {
	line-height: 0;
}

.text-indent-30{
	text-indent: 30px;
}

.outline-transparent {
	outline: transparent;
}

.rounded-4 {
	border-radius: 4px !important;
}

.rounded-5 {
	border-radius: 5px !important;
}

.rounded-6 {
	border-radius: 6px !important;
}

.rounded-8 {
	border-radius: 8px !important;
}

.rounded-10 {
	border-radius: 10px !important;
}

.rounded-12 {
	border-radius: 12px !important;
}

.rounded-15 {
	border-radius: 15px !important;
}

.rounded-16 {
	border-radius: 16px !important;
}

.rounded-20 {
	border-radius: 20px !important;
}

.rounded-24 {
	border-radius: 24px !important;
}

.rounded-32 {
	border-radius: 32px !important;
}

.rounded-50{
	border-radius: 50% !important;
}

.rounded-80{
	border-radius: 80px !important;
}

.not-allowed {
	pointer-events: none;
}

.not-allowed.disabled {
	opacity: 0.5;
}

.pointer {
	cursor: pointer;
}

.flex-1 {
	flex: 1;
}

.gap-1 {
	grid-gap: 1px;
}

.gap-x-1 {
	grid-column-gap: 4px;
}

.gap-x-2 {
	grid-column-gap: 8px;
}

.gap-x-3 {
	grid-column-gap: 12px;
}

.gap-x-4 {
	grid-column-gap: 16px;
}

.gap-x-5 {
	grid-column-gap: 20px;
}

.gap-y-1 {
	grid-row-gap: 4px;
}

.gap-y-2 {
	grid-row-gap: 8px;
}

.gap-y-3 {
	grid-row-gap: 12px;
}

.gap-y-4 {
	grid-row-gap: 16px;
}

.gap-y-6 {
	grid-row-gap: 24px;
}

.gap-4 {
	grid-gap: 4px;
}

.gap-8 {
	grid-gap: 8px;
}

.gap-16 {
	grid-gap: 16px;
}

.gap-medium {
	grid-gap: 1.5rem;
}

.font-300 {
	font-weight: 300;
}

.font-400 {
	font-weight: 400;
}

.font-500 {
	font-weight: 500;
}

.font-600 {
	font-weight: 600;
}

.font-700 {
	font-weight: 700;
}

.text-underline{
	text-decoration: underline;
}

.grid-gap-sm {
	grid-gap: 0.75rem;
}

.grid-gap-md {
	grid-gap: 1.25rem;
}

.text-transform-none {
	text-transform: none !important;
}

.img-cover {
	object-fit: cover;
}

.color-primary {
	color: var(--primary-1);
}

.opacity-50 {
	opacity: 0.5!important;
}

.opacity-10 {
	opacity: 0.1!important;
}

.reset-dialog-style {
	box-shadow: none !important;
	border-radius: 0 !important;
	max-height: 95% !important;
}

.opacity-70 {
	opacity: 0.7!important;
}

.opacity-80 {
	opacity: 0.8;
}

.chat-time {
	color: rgba(41, 46, 55, 0.75);
}

.reset-space p {
	margin-bottom: 0 !important;
}

.reset-space.text-truncate p {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.w-300px{
	width: 300px!important;
}

.top-0 {
	top: 0
}

.right-0 {
	right: 0
}

.bottom-0 {
	bottom: 0
}

.left-0 {
	left: 0
}

.divider-color {
	border-color: var(--divider) !important;
}

.layout-border {
	border: 1px solid var(--primary-light);
}

.layout-border-top {
	border-top: 1px solid var(--primary-light);
}

.layout-border-bottom {
	border-bottom: 1px solid var(--primary-light);
}

.layout-border-left {
	border-left: 1px solid var(--primary-light);
}

.grid {
	display: grid;
}

.grid-cols-2 {
	grid-template-columns: repeat(2, minmax(0, 1fr));
}

.col-span-2 {
	grid-column: span 2 / span 2;
}

.mb-6px {
	margin-bottom: 6px;
}