@import "helpers.css";
@import "fonts.css";
@import "overrides.css";
@import "./colors.css";
@import "template-hiring.css";

:root {
	--font-family: "Inter";
	--bg-white: #fff;
	--primary-1: #5964D1;
	--primary-1-light: rgb(89 100 209 / 20%);
	--primary-opacity: rgb(89 100 209 / 0.05);
	--dark: #292E37;
	--dark-opacity: rgb(41 46 55 / 80%);
	--black: #14191B;
	--black-opacity: rgb(20 25 27 / 80%);
	--text-dark: #171717;
	--text-dark-gray: rgba(23, 23, 23, 0.64);
	--secondary: #A8A9BA;
	--yellow: #FFB525;
	--yellow-opacity: rgb(255 181 37 / 20%);
	--yellow-opacity-2: rgb(255 181 37 / 10%);
	--green: #06AB48;
	--red: #FF4F37;

	/*--primary-1: #0092df;*/
	--primary-2: #38CB89;
	--primary-2-light: rgb(56 203 137 / 20%);
	--primary-3: #FFAB00;
	--primary-3-light: rgb(255 171 0 / 20%);
	--primary-4: #FF5630;
	--primary-4-light: rgb(255 86 48 / 20%);
	--primary-5: 89, 100, 209;
	--primary-6: #FF2200;

	--secondary-1: #E1ECFF;
	--secondary-2: #E5F6EF;
	--secondary-3: #FDF4E0;
	--secondary-4: #FFE6E0;
	--secondary-5: rgb(251 102 102 / 50%);
	--secondary-6: #A8A9BA;

	--transparent-1: #F4F8FF;
	--transparent-2: #F5FCF9;
	--transparent-3: #FFFBF1;
	--transparent-4: #FFF6F4;

	--text-1: #323B4B;
	--text-2: #4E5D78;
	--text-3: #8A94A6;
	--text-4: #B0B7C3;
	--text-5: #FFF;
	--text-6: #B0BDC2;
	--text-7: rgba(23, 23, 23, 0.5);

	--bg-1: #C1C7D0;
	--bg-2: #EBECF0;
	--bg-3: #F7F9FB;
	--bg-4: #FFFFFF;
	--bg-5: 228, 234, 245;

	--bg-5-light: 231, 238, 251;

	--shadow-1: 0px 23px 44px rgba(3, 8, 17, 0.14);
	--shadow-2: 0px 33px 62px rgba(3, 8, 17, 0.24);
	--shadow-3: 0px 44px 65px rgba(3, 8, 17, 0.19);
	--shadow-4: 0px 50px 77px rgba(3, 8, 17, 0.22);
	--shadow-5: 0 10px 50px 0 rgb(0 0 0 / 20%);
	--shadow-6: 0px 1px 8px rgb(0 0 0 / 4%);
	--shadow-7: 0px 2px 20px 2px rgba(0, 0, 0, 0.08);
	--shadow-8: 0px 8px 20px 2px rgba(0, 0, 0, 0.05);

	--danger-shadow: 0px 12px 23px rgba(255, 86, 48, 0.06);
	--primary-shadow: 0px 12px 23px rgba(55, 125, 255, 0.06);
	--success-shadow: 0px 12px 23px rgba(56, 203, 137, 0.06);
	--warning-shadow: 0px 12px 23px rgba(255, 171, 0, 0.06);

	--danger-button-shadow: 0px 19px 20px rgba(255, 86, 48, 0.17);
	--primary-button-shadow: 0px 19px 20px rgba(55, 125, 255, 0.17);
	--success-button-shadow: 0px 19px 20px rgba(56, 203, 137, 0.17);
	--warning-button-shadow: 0px 19px 20px rgba(255, 171, 0, 0.17);

	--shadow-small-tooltip: 0px 4px 4px rgba(3, 8, 17, 0.17);
	--shadow-tooltip: 0px 9px 15px rgba(3, 8, 17, 0.14);

	--border-color: #ECF0F4;
	--chat-area-bg: #f2f0f7;
	/*--input-bg: rgb(235 236 240 / 50%);*/
	--input-bg: #F7F9FE;
	--primary-light: #E8EAFF;
	--divider: #D5D7EF;

	--primary-50: #FCFCFF;
	--primary-100: #EBEDFF;
	--primary-200: #CED3FF;
	--primary-300: #A4ABF4;
	--primary-400: #818AEC;
	--primary-500: #5562E5;
	--primary-600: #3C4AD2;
	--primary-700: #2935AF;
	--primary-800: #0D1886;
	--primary-900: #00042F;

	--greyscale-50: #FBFCFD;
	--greyscale-100: #F6F8FA;
	--greyscale-200: #ECF0F4;
	--greyscale-300: #E2E8ED;
	--greyscale-350: #D8DCE5;
	--greyscale-400: #99A2AB;
	--greyscale-500: #9AA4BB;
	--greyscale-600: #767994;
	--greyscale-700: #576575;
	--greyscale-800: #2B2C2E;
	--greyscale-900: #15171C;

	--success-50: #E6FEEC;
	--success-100: #C6F3DF;
	--success-200: #7AF4BF;
	--success-300: #4FDC9E;
	--success-500: #39C286;

	--warning-50: #FFF7E8;
	--warning-100: #FFECC8;
	--warning-200: #FFE1A9;
	--warning-300: #FFD16D;
	--warning-500: #FFAF02;

	--info-50: #E8EFF9;
	--info-100: #CDE2FF;
	--info-200: #94C2FF;
	--info-300: #529CFF;
	--info-500: #1177FF;

	--critic-50: #FFEEF2;
	--critic-100: #FFDAE2;
	--critic-200: #F18C97;
	--critic-300: #E46775;
	--critic-500: #D53E4F;
}

::-webkit-scrollbar{
	width: 5px;
}

::-webkit-scrollbar-track{
	border-radius: 5px;
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb{
	border-radius: 5px;
	background-color: #cdcbcb;
}

::-webkit-scrollbar-thumb:hover{
	background-color: var(--primary-1);
}


[v-theme = dark] {

}

html {
	overflow-y: auto !important;
}

body {
	overflow: hidden !important;
}

::placeholder {
	color: rgba(23, 23, 23, 0.75) !important;
	opacity: 1; /* Firefox */
	/*font-size: 13px;*/
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: rgba(23, 23, 23, 0.75) !important;
	/*font-size: 13px;*/
}

::-ms-input-placeholder { /* Microsoft Edge */
	color: rgba(23, 23, 23, 0.75) !important;
	/*font-size: 13px;*/
}

/*!* width *!*/
/*::-webkit-scrollbar {*/
/*	width: 10px;*/
/*	height: 10px;*/
/*}*/

/*!* Track *!*/
/*::-webkit-scrollbar-track {*/
/*	background: var(--bg-3);*/
/*	!*border-radius: 15px;*!*/
/*}*/

/*!* Handle *!*/
/*::-webkit-scrollbar-thumb {*/
/*	background: var(--bg-2);*/
/*	border-radius: 15px;*/
/*}*/

img {
	max-width: 100%;
}

.active-user {
	background: #F0F4FF;
	border-left: 2px solid var(--primary-1);
}

.hoverable:hover,
.selected {
	background: var(--bg-3);
	border-radius: 10px;
}

.border {
	border: 1px solid;
}

.aside-width-300 {
	width: 300px;
}

.aside-width-400 {
	width: 400px;
}

.aside-width-380 {
	width: 380px;
}

.level-block__before {
	top: -12px;
	left: -17px;
	width: 4px;
	height: 25px;
}

.status-badge {
	width: 8px;
	height: 8px;
}

.aside-tree {
	width: 360px;
}

.aside-tree-new {
	width: 380px;
}

.detail-container {
	width: 750px;
}

.pdf-container {
	width: 650px;
}

.vue-pdf-embed > div:not(:last-child) {
	margin-bottom: 20px;
}

.pdf-container-header {
	top: 0;
	z-index: 1;
	height: 50px;
}

.avatar-badge {
	width: 18px;
	height: 18px;
	bottom: -4px;
	right: -3px;
	z-index: 1;
}

.chaining-border {
	position: absolute;
	top: 5px;
	left: 18px;
	border: 1px dashed #bbb;
	height: calc(100% - 28px);
}

.app-tab {
	box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 2px 8px rgb(0 0 0 / 10%);
	border-radius: 14px;
	display: inline-flex;
	overflow: hidden;
	padding: 2px;
}

.generate-wrap .generate-pdf-area {
	height: 750px;
}

.brand-actions-for-outgoing{
	background-color: rgb(187 187 187 / 40%);
	padding: 5px 21px;
	display: inline-block;
	clip-path: polygon(0 0, 100% 0%, 95% 100%, 0% 100%);
}

.brand-actions {
	background-color: rgb(187 187 187 / 40%);
	transform: skewX(-25deg);
	transform-origin: top;
}

.brand-actions > span {
	transform: skewX(25deg);
	transform-origin: top;
}

.brand-actions-text {
	font-size: 8px;
	font-weight: 600;
}

.brand-actions-sub-title {
	font-size: 8px;
	display: block;
	text-align: center;
	margin-top: 10px;
	color: var(--text-dark);
	font-weight: 600;
}

.template-width {
	width: 595px;
}

.pdf-viewer {
	background: rgba(var(--bg-5-light), 0.35);
}
.color-red {
	color: red;
}
.auth-view {
	height: 100vh;
	overflow: hidden;
}
.auth-form {
	max-width: 440px;
}
.phone-number-view {
	padding-top: 30%
}
.line-truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
}

.line-truncate-2 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
}

.line-truncate-3 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
}

.line-truncate-5 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
}
.line-truncate-10 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 10;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
}
.z-index{
	z-index: 9;
}
.login-or-eri {
	height: 44px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 8px rgba(0, 0, 0, 0.1);
	border-radius: 22px;
}

.login-or-eri span {
	margin: auto !important;
}

.login-or-eri .login {
	background: var(--primary-1);
	border-radius: 22px;
}

.chatting-comments {
	min-width: 100px;
	max-width: 540px;
}

.chatting-comments-sender {
	min-width: 100px;
	max-width: 540px;
}

.current-user-chat{
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 8px rgba(0, 0, 0, 0.1);
	border-radius: 20px 0px 20px 20px;
}

.sender-user-chat{
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 8px rgba(0, 0, 0, 0.1);
	border-radius: 0px 20px 20px 20px;
}

.bg-hover:hover{
	background: var(--bg-3);
}

.v-dialog__content .v-dialog{
	box-shadow: none!important;
}

.weather-image {
	display: block;
	position: absolute;
	right: 0;
	bottom: 0;
}

.activator-full-height {
	height: calc(100vh - 60px) !important
}
.replied-message {
	border-left: 2px solid var(--primary-1);
	max-width: 200px;
}
.ql-align-center{
	text-align: center;
}

del {
	text-decoration: none;
	color: #b30000;
	background: #fadad7;
}

ins {
	background: #eaf2c2;
	color: #406619;
	text-decoration: none;
}

.survey-container {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 10px;
}

.menu-wrapper {
	background: #FFFFFF;
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.04);
	border-radius: 4px;
}

.navigation-track {
	color: var(--black) !important;
	font-weight: 500;
}

.navigation-track > span {
	opacity: .5;
}

.navigation-track::after,
.navigation-track::before {
	content: "";
	position: absolute;
	bottom: 0;
}

.navigation-track::after {
	border-bottom: 3px solid #fff;
	z-index: 2;
	width: 200px;
}

.navigation-track:last-child::after {
	width: 100%;
}

.navigation-track::before {
	border-bottom: 3px solid var(--primary-1);
	z-index: 3;
	width: 100%;
	opacity: 0;
}

.navigation-track.router-link-active {
	border-color: var(--primary-1);
	color: var(--primary-1) !important;
	font-weight: 700;
}

.navigation-track.router-link-active::before,
.navigation-track.router-link-active > span {
	opacity: 1;
}

.reg-navigation-track {
	background-color: #ffff;
	border: 1px solid #F1F1F1;
	border-radius: 6px;
}

.register-number .v-input__append-inner{
	margin-top: 6px!important;
}

.template-navigations {
	padding: 16px;
	border: 1px solid #eee;
	border-radius: 4px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: var(--text-dark) !important;
	font-weight: 500;
	transition: all 400ms;
}

.template-navigations:hover {
	background: #eee;
}

.affidavit-table {
	height: calc(100vh - 180px);
	overflow-y: scroll;
}

.area-wrapper {
	background: #FFFFFF;
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.04);
	border-radius: 8px;
	padding: 20px;
	height: calc(100vh - 165px);
}

.tree-height {
	height: calc(100% - 75px);
}

.area-wrapper .v-treeview .v-treeview-node__level {
	width: 0 !important;
}

.area-wrapper .v-treeview .v-treeview-node__root .v-treeview-node__toggle {
	display: none;
}

.area-wrapper .v-treeview .v-treeview-node__root {
	padding: 0 !important;
	border-bottom: 1px solid #F1F1F1;
}

.area-wrapper .v-treeview-node__content {
	margin: 0 !important;
}

.area-wrapper .v-treeview .v-treeview-node .v-treeview-node__root .v-treeview-node__prepend {
	display: none;
}

.area-wrapper .v-treeview > .v-treeview-node > .v-treeview-node__root {
	background-color: var(--input-bg);
	border-radius: 4px;
	border-bottom: 0;
}

.area-wrapper .v-treeview-node__root::before {
	border-radius: 4px;
}

.w-300 {
	width: 300px;
}

.w-600 {
	width: 600px;
}

.w-125 {
	width: 125px;
}

.doc-items:hover {
	background-color: var(--bg-3);
}

.navigation-track-sending-document {
	opacity: 0.7;
	border-bottom: 2px solid white;
	font-weight: 600;
}
.doc-active {
	color: var(--primary-1)!important;
	font-weight: 600;
	border-bottom: 3px solid;
	opacity: 1!important;
}

.xdfu {
	background: var(--primary-3-light);
	color:  var(--primary-3);
}

.select-none {
	user-select: none;
}

.alert-icon {
	width: 12px;
	height: 12px;
	background-color: red; /* Initial color */
	border-radius: 50%; /* To make it circular */
	animation: changeColor 1s infinite alternate; /* Animation */
}

.survey-item {
	background: var(--greyscale-100);
	border: 1px solid white;
}

.survey-item:hover {
	background: white;
	box-shadow: 0 3px 6px 0 #2F3D570D;
	border: 1px solid var(--greyscale-200);
}

.survey-item:hover .arrow-right {
	color: var(--greyscale-900)!important;
}

.survey-disabled {
	background: var(--greyscale-100);
	border: 1px solid white;
}

.phone-book-module .app-table__thead {
	position: sticky;
	z-index: 1;
	top: 0;
}

.phone-book-module .app-table__thead:after {
	content: '';
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #fff;
}

@keyframes changeColor {
	0% {
		background-color: red; /* Initial color */
	}
	50% {
		background-color: white; /* Intermediate color */
	}
	100% {
		background-color: red; /* Back to initial color */
	}
}

