

.tox-edit-area__iframe .mce-content-body {
	background-color: red !important;
}

.v-application,
.v-text-field input {
	color: var(--text-dark) !important;
}

.v-input--dense input {
	font-size: 12px;
}

.v-btn {
	padding-left: 15px !important;
	padding-right: 15px !important;
}

.v-data-table > .v-data-table__wrapper > table > thead:not(.app-data-table-filter) > tr > th {
	font-weight: 500 !important;
	color: var(--black) !important;
	font-size: 13px !important;
	position: relative;
}

.v-data-table > .v-data-table__wrapper > table > thead:not(.app-data-table-filter) > tr > th:not(:last-child)::after {
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	height: 20px;
	width: 1px;
	background: var(--primary-1);
	opacity: 0.5;
}

.v-data-table > .v-data-table__wrapper > table > thead.v-data-table-header > tr > th:first-child {
	border-top-left-radius: 10px;
}

.v-data-table > .v-data-table__wrapper > table > thead.v-data-table-header > tr > th:last-child {
	border-top-right-radius: 10px;
}

.theme--light.v-data-table > .v-data-table__wrapper > table > tbody > tr.table-filters:first-child,
.table-not-found {
	background: transparent !important;
}

.v-label {
	font-size: 14px !important;
}

.v-data-table {
	background-color: var(--bg-4) !important;
	border-top-left-radius: 10px !important;
	border-top-right-radius: 10px !important;
}

.v-data-table > .v-data-table__wrapper > table > thead > tr:last-child > th {
	border-bottom: none !important;
}

.v-data-table > .v-data-table__wrapper > table > thead.v-data-table-header > tr:last-child > th {
	background: #D9DCFF;
}

.v-data-table > .v-data-table__wrapper > table > tbody > tr.no-deadline-control-point td {
	border-top: 2px solid red;
	border-bottom: 2px solid red !important;
}

.v-data-table > .v-data-table__wrapper > table > tbody > tr.no-deadline-control-point td:first-child {
	border-left: 2px solid red;
}

.v-data-table > .v-data-table__wrapper > table > tbody > tr.no-deadline-control-point td:last-child {
	border-right: 2px solid red;
}

.v-expansion-panel:not(:first-child)::after {
	border-color: var(--border-color) !important;
}

.app-drawer .app-collapse .v-expansion-panel {
	background: transparent !important;
}

.v-navigation-drawer__border {
	background-color: var(--border-color) !important;
}

.v-application .v-menu__content {
	box-shadow: var(--shadow-1);
}

.theme--dark.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) {
	color: var(--text-4) !important;
}

.app-drawer .content-list .v-list-item--active,
.app-drawer .content-list .v-list-item--active:hover {
	background: rgba(var(--bg-5), 1);
	/*box-shadow: 0 0 10px 1px rgba(26, 92, 255, 0.7);*/
}

.app-drawer .content-list a,
.app-drawer .v-list-item__title,
.app-drawer .sidebar-icons {
	transition: all 400ms;
}

/*.app-drawer .content-list a:hover {*/
/*	background: var(--border-color);*/
/*}*/

.app-drawer .v-list-item--link:before {
	opacity: 0 !important;
}

.app-drawer .content-list .v-list-item--active.list-left-border::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 3px;
	height: 100%;
	background: #5964D1;
	border-radius: 20px;
}

.app-drawer .v-list-item--active .sidebar-icons,
.app-drawer .content-list .v-list-item--active .v-list-item__title span {
	color: #fff !important;
}

.app-drawer .v-list-item--active .v-list-item__title {
	color: var(--primary-1) !important;
}

.app-drawer .v-list .v-list-item--active .v-icon {
	color: rgba(var(--primary-5));
}

.app-drawer:not(.v-navigation-drawer--is-mouseover) .v-expansion-panel-header__icon {
	display: none;
}

.app-drawer:not(.v-navigation-drawer--mini-variant) .navigation-item-on-hover {
	padding-left: 28px !important;
}

.app-drawer .v-list--dense .v-list-item .v-list-item__title {
	font-weight: 600 !important;
}

.app-drawer .v-expansion-panels {
	z-index: 0 !important;
}

.app-drawer .navigation-item:hover {
	background: var(--secondary-1);
}

.app-collapse .v-expansion-panel::before {
	box-shadow: none
}

.app-collapse .v-expansion-panels.v-expansion-panels--focusable .v-expansion-panel-header--active::before{
	opacity: 0.08 !important;
}

.app-collapse .v-expansion-panel-header {
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

.app-collapse .theme--dark.v-expansion-panels .v-expansion-panel,
.theme--dark.v-list,
.v-calendar-weekly__head-weekday {
	background-color: var(--bg-4) !important;
}

.v-calendar-weekly__head-weekday {
	border-bottom: 1px solid var(--border-color) !important;
}

.v-calendar-weekly__head-weekday,
.v-calendar .v-event-more {
	font-weight: 600;
}

.v-calendar-weekly__day:hover {
	background: var(--bg-3);
}

/*.v-tabs-slider {*/
/*	border-top-left-radius: 20px;*/
/*	border-top-right-radius: 20px;*/
/*	width: 75% !important;*/
/*	margin: auto;*/
/*}*/

/*.v-calendar-weekly {*/
/*	border: none !important;*/
/*	background: transparent !important;*/
/*}*/

/*.v-calendar-weekly__day,*/
/*.v-calendar-weekly__head-weekday {*/
/*	border: 4px solid rgba(var(--bg-5-light), 0.35) !important;*/
/*	border-radius: 12px !important;*/
/*}*/

/*.v-calendar-weekly__day {*/
/*	background: #fff !important;*/
/*}*/

.col {
	flex: initial;
}

.v-select.v-input--dense .v-select__selection--comma {
	font-size: 14px;
}

.v-data-table > .v-data-table__wrapper > table > tbody .table-filters td {
	border-bottom: 1px solid var(--border-color) !important;
}

.ql-editor.ql-blank::before {
	font-weight: 500;
	font-family: var(--font-family);
	font-style: normal !important;
	left: 20px;
}

.ql-toolbar.ql-snow {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-color: transparent !important;
	border-bottom: 1px solid rgb(204 204 204 / 30%) !important;
	background: var(--input-bg);
}

.ql-container.ql-snow {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-color: transparent !important;
	overflow: hidden;
	background: var(--input-bg);
}

.ql-editor {
	min-height: 175px;
	font-size: 14px;
	font-family: var(--font-family);
	font-weight: 500;
	border: 2px solid transparent;
	border-radius: 10px;
	word-break: break-word;
}

.quill-editor[error="true"] .ql-editor {
	border-color: #ff2200;
}

.ql-snow .ql-stroke {
	stroke: #aaa;
}

.ql-snow .ql-fill, .ql-snow .ql-stroke.ql-fill {
	fill: #aaa !important;
}

.ql-snow .ql-picker-label::before {
	color: #aaa;
}

.quill-editor.editor-height-stripe .ql-editor {
	min-height: 100px !important;
}

.app-tab-items.theme--light.v-tabs-items {
	background: transparent;
}

.app-tab-arrows-hide .v-slide-group__next,
.app-tab-arrows-hide .v-slide-group__prev {
	display: none !important;
}

.app-tab .v-tab--active {
	background: var(--primary-1);
	box-shadow: 0 1px 1px rgb(0 0 0 / 20%);
	border-radius: 12px;
}

.app-timeline .v-timeline {
	padding-top: 0;
}

.app-timeline .v-timeline:before {
	left: 9px !important;
	top: 4px !important;
	height: calc(100% - 5px) !important;
}

.app-timeline .v-timeline-item {
	padding-bottom: 20px;
}

.app-timeline .v-timeline-item:last-child {
	padding-bottom: 0;
}

.app-timeline .v-timeline-item__body {
	max-width: calc(100% - 35px) !important;
}

.app-timeline .v-timeline-item__divider {
	min-width: auto !important;
	margin-right: auto;
	position: relative;
}

.app-timeline .v-timeline-item:not(:last-child) .v-timeline-item__divider::after {
	content: "";
	position: absolute;
	top: 21px;
	width: 2px;
	height: 25px;
	background: #bbb;
}

.app-timeline .v-timeline-item.timeline-active:not(:last-child) .v-timeline-item__divider::after {
	background: var(--primary-1) !important;
}

.app-timeline .v-timeline-item.timeline-error:not(:last-child) .v-timeline-item__divider::after {
	background: var(--primary-4) !important;
}

.app-timeline .v-timeline-item__dot {
	border: 2px solid #bbb;
	box-shadow: none !important;
}

.app-timeline .timeline-active .v-timeline-item__dot {
	border-color: var(--primary-1) !important;
}

.app-timeline .timeline-active .timeline-action {
	color: var(--primary-1);
}

.app-timeline .timeline-error .v-timeline-item__dot {
	border-color: var(--primary-4) !important;
}

.app-timeline .timeline-error .timeline-action {
	color: var(--primary-4);
}

.app-timeline .v-timeline-item__dot--small {
	width: 20px !important;
	height: 20px !important;
}

.app-timeline .v-timeline-item__dot--small .v-timeline-item__inner-dot {
	height: 12px !important;
	width: 12px !important;
	margin: 2px !important;
}

.theme--light.v-timeline::before {
	background: transparent !important;
}

.v-picker .v-btn.v-btn--disabled {
	border: none !important;
}

.app-hooper ul {
	padding-left: 0 !important;
}

.hooper-pagination {
	bottom: 30px !important;
}

.hooper-indicator {
	width: 16px !important;
	height: 8px !important;
	background: rgba(247, 249, 254, 0.5) !important;
	border-radius: 4px !important;
	transition: all 400ms;
}

.hooper-indicator.is-active {
	background: #fff !important;
	width: 32px !important;
}

.app-otp-input .v-input__slot {
	width: 48px;
}

.app-otp-input fieldset {
	color: var(--primary-1) !important;
	border-width: 2px !important;
}

.app-otp-input .error--text fieldset {
	color: var(--primary-4) !important;
	caret-color: var(--primary-4) !important;
}

.tab-slide-item {
	min-width: 135px !important;
	border: 1px solid #F1F1F1;
}

.tab-slide-item.v-tab--active {
	border-color: var(--primary-1);
}

.app-tab-slide .v-slide-group__prev:not(.v-slide-group__prev--disabled),
.app-tab-slide .v-slide-group__next:not(.v-slide-group__prev--disabled) {
	border: 1px solid var(--border-color);
}

.slide-tabs .v-tab {
	min-width: 48px;
}

.slide-tabs .v-tab .v-icon {
	color: #AAA !important;
	caret-color: #AAA !important;
}

.slide-tabs .v-tab.v-tab--active {
	background: #fff;
	box-shadow: var(--shadow-6);
}

.slide-tabs .v-tab.v-tab--active .v-icon {
	color: #171717 !important;
	caret-color: #171717 !important;
}

.slide-tabs .v-slide-group__next,
.slide-tabs .v-slide-group__prev {
	display: none !important;
}

.theme--light.v-text-field > .v-input__control > .v-input__slot:before {
	border-color: var(--border-color);
}

.v-text-field.v-input--has-state > .v-input__control > .v-input__slot:before {
	border-color: currentColor !important;
}

/*.v-text-field > .v-input__control > .v-input__slot:before, .v-text-field > .v-input__control > .v-input__slot:after {*/
/*	bottom: -5px !important;*/
/*}*/


.apexcharts-series path:hover {
	fill: var(--primary-1);
}

.chart-tooltip {
	background: rgb(0, 0, 0, 0.64);
	padding: 12px 20px;
}

.app-input__small .v-input__slot {
	padding: 0 0 0 8px !important;
}

.v-file-input__text--placeholder {
	color: rgba(23, 23, 23, 0.75) !important;
	font-weight: 500;
}

.v-text-field.v-input--dense .v-file-input__text--placeholder,
.v-text-field.v-input--dense .v-select__selections {
	font-size: 14px !important;
}

/*.v-application--is-ltr .v-list-item__icon:first-child {*/
/*	margin-right: 16px;*/
/*}*/

.label-click .v-input__slot {
	position: absolute;
	top: 0;
	left: -5px;
	width: 100%;
	height: 100%;
	justify-content: flex-end;
}

.v-application .content-scroll .wrapper-body {
	overflow-x: auto !important;
}

.field-height-32 .v-input__slot {
	min-height: 32px !important;
}

.field-height-32 .v-input__append-inner {
	margin-top: 4px !important;
}

.field-height-32 .v-input__append-inner .v-icon {
	font-size: 18px !important;
}

.select-height-32 .v-input__control {
	height: 32px!important;
}

.select-height-32 .v-input__slot {
	min-height: 32px!important;
}

.select-height-32 .v-select__selection {
	font-size: 12px!important;
}

.select-height-32 button {
	font-size: 15px!important;
}

.select-height-32 .v-input__icon {
	height: 16px!important;
}

.theme--light.v-pagination .v-pagination__item--active {
	min-width: 28px;
	border-radius: 100%;
	color: #fff !important;
	font-size: 12px;
}

.v-avatar {
	border: 2px solid #fff !important;
}

.field-height-36 .v-input__slot {
	min-height: 36px !important;
}

.theme--light.v-list {
	background: #fff !important;
}

.v-dialog .v-card {
	background-color: #fff !important;
}

#atlwdg-trigger {
	/*bottom: -2px !important;*/
	/*right: 30px !important;*/
	border: none !important;
	box-shadow: none !important;
	border-radius: 8px 8px 0 0 !important;
	background: #0065ff !important;
	font-family: var(--font-family) !important;
	font-weight: 500 !important;
	font-size: 14px !important;
	padding: 12px !important;
	width: 190px !important;
	text-align: center !important;
	/*left: inherit !important;*/
	/*top: inherit !important;*/
	/*transform: inherit !important;*/
	/*transform-origin: inherit !important;*/
	z-index: 99 !important;
}

.atlwdg-trigger.atlwdg-RIGHT {
	left: 98% !important;
	top: 60% !important;
	transform: rotate(270deg) !important;
}
