.template-placeholder-box {
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	font-size: 12px;
	background: #ddd;
	transform: translateY(-4px);
	border-radius: 100%;
	padding-top: 1px;
	text-align: center;
	font-weight: 700;
	text-indent: 0;
}

.template-list-style-none {
	list-style: none;
}

.template-list-space-0 {
	padding: 0;
	margin: 0;
}

.template-list-space {
	margin-bottom: 4px;
}

.template-min-width {
	min-width: 100px;
}

.template-min-width-150 {
	min-width: 150px;
}

.template-min-height-44 {
	min-height: 44px;
}

.template-section-space {
	margin-bottom: 20px;
}

.template-margin-bottom-32 {
	margin-bottom: 32px;
}

.template-block {
	display: block;
}

.template-inline-block {
	display: inline-block;
}

.template-inline-table {
	display: inline-table;
}

.template-size-15 {
	font-size: 15px;
}

.template-indent {
	text-indent: 30px;
}

.template-text-justify {
	text-align: justify !important;
}

.template-text-center {
	text-align: center !important;
}

.template-text-right {
	text-align: right !important;
}

.template-font-italic {
	font-style: italic !important;
}

.template-relative {
	position: relative;
}

.template-title {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 16px;
	text-align: center;
	margin: 20px 0;
}

.template-table {
	width: 100%;
	border-collapse: collapse;
}

.template-table-border.table,
.template-table-border th,
.template-table-border td {
	border: 1px solid #2a3746;
}

.template-table-border {
	border: 1px solid #2a3746;
}

.template-table-border-top {
	border-top: 1px solid #2a3746;
}

.template-table-border-bottom {
	border-bottom: 1px solid #2a3746;
}

.template-table-border-right {
	border-right: 1px solid #2a3746;
}

.template-table-border-left {
	border-left: 1px solid #2a3746;
}

.template-bottom-line::before {
	content: '';
	display: inline-block;
	height: 1px;
	background: #000;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.template-bottom-line-text {
	position: absolute;
	display: block;
	text-align: center;
	font-size: 11px;
	font-weight: 500;
	margin-top: 2px;
	width: 100%;
}

.left-quote, .right-quote {
	display: inline-block;
	margin: 0 3px;
}

.employment-template-header {
	display: flex;
	max-width: 358px;
	margin: 12px auto 0;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	position: relative;
	text-align: right;
}

.employment-header-value {
	flex: 1;
	text-align: center;
}

.employment-header-value::before {
	width: 115px;
}

.template-info-table {
	margin: 24px 0 20px;
}

.template-date {
	font-weight: 700;
	font-size: 15px;
}

.template-date-year {
	margin-right: 2px;
}

.template-date-date, .template-date-month, .template-date-year {
	width: 18px;
	height: 21px;
	position: relative;
}

.template-date-month {
	width: 30px !important;
	text-align: center;
}

.template-date-year {
	width: 65px !important;
	text-align: center;
}

.template-date-date::before {
	width: 23px;
	left: -2px;
}

.template-date-month::before {
	width: 35px;
	left: -2px;
}

.template-date-year::before {
	width: 65px;
	left: -2px;
}

.template-district {
	font-size: 15px;
	text-align: right;
}