<template>
	<div class="d-flex flex-column align-start flex-1 pa-4">
		<template v-if="isLoading">
			<app-loader
				component-based
			/>
		</template>
		<template v-else>
			<div v-if="$route.query.type !== 'for_watching_process'" class="d-flex align-center w-100 mb-12">
				<span class="heading-9 font-600 text-dark mr-3 d-block">{{ formTitle }}</span>
				<v-divider/>

				<app-button
          color="error"
          @click="$router.go(-1)"
          class="ml-2"
        >
					<template #prepend>
						<arrow-left-icon size="18" />
					</template>
					<template>
						{{$t('document-flow.views.registration.back')}}
					</template>
				</app-button>

				<template v-if="currentUser.role !== 'assistant'">
          <app-button
            @click="updateDocument"
            depressed
            class="ml-2"
          >
            <template #default>
              {{$t('document-flow.views.registration.save')}}
            </template>
            <template #append>
              <v-icon size="17">mdi-content-save</v-icon>
            </template>
          </app-button>
        </template>
			</div>

			<div class="w-100 mb-auto">
				<v-row>
					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.type-registration-document')}}</span>

							<v-autocomplete
								v-model="$v.reviewGetOne.journal.$model"
								:error="$v.reviewGetOne.journal.$error"
								:items="journalList"
								item-text="name"
								outlined
								hide-details
								return-object
								readonly
								background-color="var(--input-bg)"
							>
								<template #append>
									<v-icon>mdi-chevron-down</v-icon>
								</template>
							</v-autocomplete>
						</div>
					</v-col>

					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.registration-number')}}</span>

							<v-text-field
								v-model="reviewGetOne.register_number"
								hide-details
								outlined
								background-color="var(--input-bg)"
                :readonly="currentUser.role === 'assistant' || $route.query.type === 'for_watching_process' || currentUser.filial === '09013'"
								@keypress="$store.dispatch('documentFlowModule/checkKeyDownAlphaNumeric', $event)"
								@paste="$store.dispatch('documentFlowModule/checkCopiedText', $event)"
							></v-text-field>
						</div>
					</v-col>

					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.outgoing-number')}}</span>

							<v-text-field
								v-model="$v.reviewGetOne.outgoing_number.$model"
								:error="$v.reviewGetOne.outgoing_number.$error"
								hide-details
								outlined
								background-color="var(--input-bg)"
                :readonly="currentUser.role === 'assistant' || $route.query.type === 'for_watching_process'"
							></v-text-field>
						</div>
					</v-col>

					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.registration-date')}}</span>

							<app-date-picker
								v-model="$v.reviewGetOne.register_date.$model"
								:error="$v.reviewGetOne.register_date.$error"
								with-input
								background-color="var(--input-bg)"
                :disabled-menu="currentUser.role === 'assistant' || $route.query.type === 'for_watching_process'"
							/>
						</div>
					</v-col>

					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.outgoing-date')}}</span>

							<app-date-picker
								v-model="$v.reviewGetOne.outgoing_date.$model"
								:error="$v.reviewGetOne.outgoing_date.$error"
								with-input
								background-color="var(--input-bg)"
                :disabled-menu="currentUser.role === 'assistant' || $route.query.type === 'for_watching_process'"
							/>
						</div>
					</v-col>

					<v-col md="6">
						<div v-if="isCorrespondVisible" class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.correspondent')}}</span>

							<app-autocomplete
								ref="correspondent"
								v-model="$v.reviewGetOne.correspondent.$model"
								:error="$v.reviewGetOne.correspondent.$error"
								api-list-url="/action/correspondent/"
								:api-params="{ is_for_compose: true }"
								list-type="list"
								item-text="organization_name"
								return-object
								cache-items
								:search-value="reviewGetOne.correspondent && reviewGetOne.correspondent.organization_name !== null ? reviewGetOne.correspondent.organization_name : ''"
                :readonly="currentUser.role === 'assistant' || $route.query.type === 'for_watching_process'"
							/>
						</div>
					</v-col>

					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.document-type')}}</span>

							<app-autocomplete
								v-model="$v.reviewGetOne.doc_type.$model"
								:error="$v.reviewGetOne.doc_type.$error"
								:api-list-url="documentReferenceUrl"
								:api-params="{
                  type: 'doc_type',
                  page_size: 30
                }"
								list-type="list"
								item-text="name"
								cache-items
								return-object
                :readonly="currentUser.role === 'assistant' || $route.query.type === 'for_watching_process'"
							/>
						</div>
					</v-col>

					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.document-priority')}}</span>

							<v-select
								v-model="$v.reviewGetOne.priority.$model"
								:error="$v.reviewGetOne.priority.$error"
								:items="$store.state.priorityList"
								item-text="title"
								item-value="value"
								outlined
								hide-details
								background-color="var(--input-bg)"
                :readonly="currentUser.role === 'assistant' || $route.query.type === 'for_watching_process'"
							>
								<template #append>
									<v-icon>mdi-chevron-down</v-icon>
								</template>
							</v-select>
						</div>
					</v-col>

					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.document-name')}} </span>

							<v-text-field
								v-model="$v.reviewGetOne.title.$model"
								:error="$v.reviewGetOne.title.$error"
								hide-details
								outlined
								background-color="var(--input-bg)"
								:readonly="$route.query.type === 'for_watching_process'"
							></v-text-field>
						</div>
					</v-col>

					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.feed-type')}} </span>

							<app-autocomplete
								v-model="reviewGetOne.delivery_type"
								:api-list-url="documentReferenceUrl"
								:api-params="{
                  type: 'delivery_type'
                }"
								list-type="list"
								item-text="name"
								item-value="id"
								cache-items
								:readonly="$route.query.type === 'for_watching_process'"
							/>
						</div>
					</v-col>

					<v-col v-if="reviewGetOne.deadline" md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{ $t('components.execution-duration') }} </span>

							<app-date-picker
								v-model="reviewGetOne.deadline"
								with-input
								background-color="var(--input-bg)"
							/>
						</div>
					</v-col>

					<template v-if="currentUser.role !== 'assistant'">
            <v-col md="12">
              <div class="app-input">
                <span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.attach-file')}}</span>

	              <app-file-upload
		              @uploadFiles="uploadFiles"
		              class="w-100"
		              :show-files="false"
		              :disabled="$route.query.type === 'for_watching_process'"
	              />
              </div>
            </v-col>
          </template>

					<v-col md="12">
            <span v-if="currentUser.role === 'assistant'" class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.attach-file')}}</span>

						<app-table
							:table-width="500"
							:table-head-items="filesTableHeaders"
						>
							<template #tableBody>
								<tr v-for="(document, index) in attachDocumentsList" :key="document.id">
									<td>{{ index + 1 }}</td>
									<td>{{ document.document.name }}</td>
									<td>{{ document.document.created_date | filterCalendarToTime }}</td>
									<td>
										<div class="d-flex align-center" style="width: 90px">
											<app-button
												min-width="43"
												width="43px"
												color="var(--primary-3)"
												icon
												@click="fetchDownloadDocument(document.document)"
											>
												<template #prepend>
													<download-icon size="18"/>
												</template>
											</app-button>

											<app-button
												min-width="43"
												width="43px"
												color="var(--primary-3)"
												icon
												@click="viewDocument(document.document.url)"
											>
												<v-icon size="20">
													mdi-eye-outline
												</v-icon>
											</app-button>

											<template v-if="currentUser.role !== 'assistant'">
                        <app-button
	                        v-if="['admin', 'chancellery', 'chancellery_admin'].includes(currentUser.role)"
                          @click="deleteFile(document.id)"
                          min-width="43"
                          width="43px"
                          color="var(--primary-4)"
                          icon
                        >
                          <template #prepend>
                            <trash2-icon size="18"/>
                          </template>
                        </app-button>
                      </template>
										</div>
									</td>
								</tr>
							</template>
						</app-table>
					</v-col>

          <v-col md="12">
            <review-users with-controller :document-model="reviewGetOne" :is-disabled="$route.query.type === 'for_watching_process'" />
          </v-col>

          <v-col md="12">
            <div class="app-input">
              <span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.content')}}</span>

              <v-textarea
                v-model="$v.reviewGetOne.description.$model"
                :error="$v.reviewGetOne.description.$error"
                outlined
                hide-details
                no-resize
                auto-grow
                background-color="var(--input-bg)"
                :readonly="currentUser.role === 'assistant'"
              ></v-textarea>

	            <resolution-content-modal
		            title="components.add-template"
		            title-dialog="components.add-content-resolution"
		            class="mt-2"
		            @emit:up="(text) => reviewGetOne.description = text.name.replace(/<\/?[^>]+(>|$)/g, '')"
	            />
            </div>
          </v-col>

					<v-col md="12">
						<activity v-if="reviewGetOne.document_unique_id" :document-model="reviewGetOne" />
					</v-col>
				</v-row>
			</div>

			<!-- Модальное окно удаление пользователя "На рассмотрение" -->
			<v-dialog
				v-model="dialogDeleteUser"
				persistent
				max-width="450"
			>
				<v-card>
					<v-card-title></v-card-title>
					<v-card-text>
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.write-comment')}}</span>

							<v-textarea
								v-model="$v.leaveCommentModel.description.$model"
								:error="$v.leaveCommentModel.description.$error"
								outlined
								hide-details
								no-resize
								auto-grow
								dense
							></v-textarea>
						</div>
					</v-card-text>
					<v-card-actions>
						<v-spacer></v-spacer>
						<v-btn
							color="error darken-1"
							text
							@click="dialogDeleteUser = false"
						>
							{{$t('document-flow.views.registration.close')}}
						</v-btn>
						<v-btn
							color="primary darken-1"
							text
						>
							{{$t('document-flow.views.registration.send')}}
						</v-btn>
					</v-card-actions>
				</v-card>
			</v-dialog>
			<!-- /Модальное окно удаление пользователя "На рассмотрение" -->
		</template>
		<pdf-viewer-modal ref="pdfModal" />
	</div>
</template>

<script>
import { REFERENCE_CORRESPONDENT, REFERENCE_DOC_TYPE, TABLE_HEAD_TEXT_LIST } from "@/common/constants";
import { selectFromList } from "@/common/helpers";
import PdfViewerModal from "../../../../../../../common/components/PdfViewerModal";
import Activity from "../../Components/Activity";
import ReviewUsers from "../../Components/ReviewUsers";
import ResolutionContentModal from "../../../../../../../common/components/ResolutionContentModal";

import { ArrowLeftIcon, DownloadCloudIcon, DownloadIcon, EyeIcon, SendIcon, Trash2Icon } from "vue-feather-icons";
import { required } from "vuelidate/lib/validators";
import { mapActions, mapGetters, mapState } from "vuex";

export default {
	name: "IncomingFormShowView",
	props: {
		formType: {
			type: String,
			default: ""
		},
		formTitle: {
			type: String,
			default: "Регистрация документа"
		}
	},
	components: {
		Activity,
		ReviewUsers,
		PdfViewerModal,
		ResolutionContentModal,
		Trash2Icon,
		DownloadIcon,
		EyeIcon,
		SendIcon,
		DownloadCloudIcon,
		ArrowLeftIcon
	},
	data() {
		return {
			isCorrespondVisible: false,
			addCommentsToDocument: {
				description: "",
				file: null
			},
			leaveCommentModel: {
				description: ""
			},
			panel: [0],
			reviewUserSelected: "",
			REFERENCE_DOC_TYPE,
			REFERENCE_CORRESPONDENT,
			registrationDocumentSearch: null,
			correspondentSearch: null,
			documentTypeSearch: null,
			userSearch: null,
			tabs: null,
			dialogDeleteUser: false,
			dialogDeleteUserSelected: null,
			loadCommentsLoading: false,
			loadActivityLoading: false
		}
	},
	validations: {
		reviewGetOne: {
			register_date: {required},
			outgoing_date: {required},
			outgoing_number: {required},
			correspondent: {required},
			doc_type: {required},
			description: {required},
			journal: {required},
			priority: {required},
			title: {required},
		},
		addCommentsToDocument: {
			description: {required}
		},
		leaveCommentModel: {
			description: {required}
		}
	},
	computed: {
    ...mapState({
      filteredState: state => state.headerFilter.filteredState,
      filterPagination: state => state.headerFilter.pagination,
	    indexTableFilters: state => state.documentFlowRegistrationIncoming.indexTableFilters
    }),
    /*
    *
    * */
		...mapGetters({
			usersList: "getUsersList",
      currentUser: "auth/getCurrentUser",
			journalList: "documentFlowModule/getNewJournalList",
			reviewGetOne: "documentFlowModule/getReviewGetOne",
			attachDocumentsList: "documentFlowModule/getAttachDocumentsList",
			attachDocumentListID: "documentFlowModule/getAttachDocumentListID",
			isLoading: "getDetailLoading"
		}),
		/*
		*
		* */
		activeFiltered() {
			let active = {}

			Object.entries(this.indexTableFilters).forEach(filter => {
				const [key, value] = filter

				if(key.startsWith("__")) {
					return;
				}

				if(value || value === true || value === false) {
					active[key] = value
				}
			})

			return active
		},
		/*
		*
		* */
		filesTableHeaders() {
			return selectFromList([1, 22, 23, 19], TABLE_HEAD_TEXT_LIST)
		},
		/*
		*
		* */
		employeeTableHeaders() {
			return selectFromList([1, 24, 23, 19], TABLE_HEAD_TEXT_LIST)
		},
		/**/
		documentReferenceUrl() {
			return `/docflow/${this.$store.getters['auth/getCurrentUser'].filial}/reference/`
		},
	},
	watch: {
		"reviewGetOne.correspondent"(val) {
			setTimeout(() => {
				this.isCorrespondVisible = true
			}, 100)
		},
		/**/
		registrationDocumentSearch(value) {
			this.fetchJournalList({
				search: value
			})
		},
		/*
		*
		* */
		userSearch(value) {
			this.fetchUsersList({
				search: value
			})
		},
	},
	mounted() {
		if (this.$route.params.id) {
			this.fetchIncomingDocumentById(this.$route.params.id)
			this.fetchAttachFilesList({
				incomingDocId: this.$route.params.id
			})
		}
	},
	beforeDestroy() {
		this.fetchClearHistory();
		this.$store.commit("documentFlowModule/CLEAR_ATTACHED_DOCUMENTS_ID")
	},
	methods: {
		...mapActions({
			fetchUsersList: "fetchUsersList",
			fetchCorrespondentList: "documentFlowModule/fetchCorrespondentList",
			fetchAttachFilesUpload: "documentFlowModule/fetchAttachFilesUpload",
			fetchDocTypeList: "documentFlowModule/fetchDocTypeList",
			fetchJournalList: "documentFlowModule/fetchJournalList",
			fetchIncomingDocumentById: "documentFlowModule/fetchIncomingDocumentById",
			fetchAttachFiles: "documentFlowModule/fetchAttachFiles",
			fetchAttachFilesList: "documentFlowModule/fetchAttachFilesList",
			fetchDeleteFileFromAttachFile: "documentFlowModule/fetchDeleteFileFromAttachFile",
			fetchClearHistory: "action/fetchClearHistory",
			fetchIncomingDocumentUpdate: "documentFlowModule/fetchIncomingDocumentUpdate",
			fetchDownloadDocument: "documentFlowModule/fetchDownloadDocument",
		}),
		/**/
		updateDocument() {
			this.$v.reviewGetOne.$touch();

			if (this.$v.reviewGetOne.$invalid) {
				this.$toast.warning(this.$t('document-flow.views.registration.required-field'))
				return;
			}

			this.fetchIncomingDocumentUpdate(this.reviewGetOne).then((data) => {
				this.$toast.success(this.$t('document-flow.views.registration.updated'))
				this.fetchIncomingDocumentById(this.$route.params.id)
			})
		},
		/*
		*
		* */
		uploadFiles(files) {
			if (files.length) {
				this.fetchAttachFiles({
					files,
					incomingDocId: this.$route.params.id
				}).then((data) => {
					setTimeout(() => {
						this.fetchAttachFilesUpload(this.attachDocumentListID)
					}, 1000)
				});
			}
		},
		/*
		*
		* */
		deleteFile(id) {
			if (!confirm(this.$t('document-flow.views.registration.delete-user-confirmation'))) {
				return;
			}

			this.fetchDeleteFileFromAttachFile({
				fileId: id,
				incomingDocId: this.$route.params.id
			})
		},
		/**/
		viewDocument(url){
			const {pdfModal} = this.$refs
			pdfModal.url = url;
			pdfModal.dialog = true
		}
	}
}
</script>
