<template>
  <div class="resolution-drawer-view">
    <ui-drawer
      v-model="content"
      :title="title"
      :success-text="successText"
      :success-button-loading="successButtonLoading"
      :visible-footer="false"
      :drawer-width="720"
      @emit:close="(_value) => $emit('emit:close', _value)"
      @emit:cancel-button="(_value) => $emit('emit:close', _value)"
      @emit:success-button="successButton"
    >
      <template #content>
        <order-form
          :form-type="$store.state.formType.create"
          :attached-files="attachedFiles"
          :reply-document-id="replyDocumentId"
          @emit:up-created="() => $emit('emit:up-created')"
        />
      </template>
    </ui-drawer>
  </div>
</template>

<script>
import { mapActions, mapGetters, mapState } from "vuex"
import { FORM_TYPES } from "@/common/enums/notificationTypes"
import OrderForm from "@/modules/DocumentFlow/views/Boxes/Inbox/components/OrderForm.vue"
export default {
	name: "CreateOrderDrawer",
	props: {
		value: {
			type: Boolean
		},
		/*
    *
    * */
		formType: {
			type: String,
			default: FORM_TYPES.CREATE
		},
		/*
    *
    * */
		title: {
			type: String,
			default: "document-flow.views.boxes.redirect-document"
		},
		/*
    *
    * */
		successText: {
			type: String,
			default: "document-flow.views.registration.save"
		},
		/*
		*
		* */
		cancelText: {
			type: String,
			default: "auth.enter-phone.back"
		},
		/*
		*
		* */
		attachedFiles: {
			type: Array,
			default: () => []
		},
		replyDocumentId: {
			type: Number
		}
	},
	components: {
    OrderForm
	},
	data() {
		return {
			successButtonLoading: false,
		}
	},
	validations: {

	},
	computed: {
		...mapState({

		}),
		/*
		*
		* */
		...mapGetters({
			currentUser: "auth/getCurrentUser",
		}),
		/*
		*
		* */
		content: {
			get() {
				return this.value;
			},
			set(value) {
				this.$emit("change", value);
			}
		}
	},
	methods: {
		...mapActions({

		}),
		/*
		*
		* */
		async successButton() {

		}
	}
}
</script>

<style scoped>

</style>
