<template>
	<div class="execution-mark-view">
    <v-btn
      :color="isExecutionCreated ? 'var(--primary-3)' : 'var(--primary-2)'"
      :disabled="disabled"
      depressed
      small
      min-height="36"
      height="36"
      class="rounded-lg"
      @click="toggle"
    >
      <div class="d-flex align-center">
        <span class="text-white size-13">
	        {{ isExecutionCreated
		        ? $t("document-flow.views.boxes.change-performance")
		        : $t("document-flow.views.boxes.follow-document")
	        }}
        </span>
      </div>
    </v-btn>
	</div>
</template>

<script>
import { mapActions } from "vuex"
export default {
	name: "ExecutionMark",
  props: {
    isExecutionCreated: {
      type: Boolean
    },
	  disabled: {
			type: Boolean
	  }
  },
  methods: {
	  ...mapActions({
		  fetchGetCreatedExecutionMark: "documentFlowBoxesInbox/fetchGetCreatedExecutionMark",
	  }),
	  /*
	  *
	  * */
		toggle() {
			if(this.isExecutionCreated) {
				this.fetchGetCreatedExecutionMark({ is_secret: this.$route.query.is_secret })
			}

			this.$emit('emit:up', true)
		}
  }
}
</script>

<style scoped>

</style>
