<template>
  <div class="resolution-drawer-view">
    <ui-drawer
      v-model="content"
      :title="title"
      :success-text="successText"
      :success-button-loading="successButtonLoading"
      @emit:close="(_value) => $emit('emit:close', _value)"
      @emit:cancel-button="(_value) => $emit('emit:close', _value)"
      @emit:success-button="createExecution"
    >
      <template #content>
        <div class="app-input mb-6">
	        <span class="d-block font-600 small-2 mb-2">
	          {{ $t('document-flow.views.boxes.write-content') }}
	          <span class="red--text">({{ $t('document-flow.views.boxes.minimum-15-characters') }})</span>
	        </span>

          <quill-editor
            ref="editor"
            v-model="$v.executionMarkModel.performance_note.$model"
            :error="$v.executionMarkModel.performance_note.$model"
            class="mb-4"
          />

          <resolution-content-modal @emit:up="(text) => executionMarkModel.performance_note = text.name" />
        </div>

        <div class="app-input">
          <span class="d-block font-600 small-2 mb-2">
            {{ $t('document-flow.views.registration.attach-file') }}
          </span>

          <app-file-upload
	          ref="fileUploadRef"
            :multiple="false"
            class="w-100"
            @uploadFiles="uploadFiles"
	          @clickClear="clearFiles"
          />

          <template v-if="Object.prototype.toString.call(executionMarkModel.file) === '[object Object]'">
            <div class="d-flex gap-4 mt-4">
	            <a
		            :href="executionMarkModel.file.url"
		            :download="executionMarkModel.file.url"
		            target="_blank"
		            class="d-flex align-center text-decoration-none"
	            >
		            <file-text-icon size="20" />
		            <span class="small-1 text-lowercase ml-1" style="border-bottom: 2px dotted">{{ executionMarkModel.file.name }}</span>
	            </a>

	            <app-tooltip top>
		            <template #content>
			            <v-btn
				            color="danger"
				            icon
				            small
				            @click="clearFiles"
			            >
				            <trash2-icon size="22" />
			            </v-btn>
		            </template>
		            <template #text>
			            {{ $t('document-flow.views.registration.delete') }}
		            </template>
	            </app-tooltip>
            </div>
          </template>
        </div>
      </template>
    </ui-drawer>
  </div>
</template>

<script>
import { mapActions, mapGetters, mapState } from "vuex"
import { minLength, required } from "vuelidate/lib/validators"
import { FileTextIcon, Trash2Icon } from "vue-feather-icons"
import { FORM_TYPES } from "@/common/enums/notificationTypes"
import ResolutionContentModal from "@/common/components/ResolutionContentModal.vue";
export default {
	name: "ExecutionMarkDrawer",
	props: {
		value: {
			type: Boolean
		},
		/*
    *
    * */
		formType: {
			type: String,
			default: FORM_TYPES.CREATE
		},
		/*
    *
    * */
		title: {
			type: String,
			default: "document-flow.views.boxes.redirect-document"
		},
		/*
    *
    * */
		successText: {
			type: String,
			default: "document-flow.views.registration.save"
		},
		/*
		*
		* */
		cancelText: {
			type: String,
			default: "auth.enter-phone.back"
		},
    /*
    *
    * */
    successButtonLoading: {
      type: Boolean
    }
	},
  components: {
    ResolutionContentModal,
    FileTextIcon,
	  Trash2Icon
  },
	validations: {
    executionMarkModel: {
      performance_note: {
        required
      }
    }
	},
	computed: {
		...mapState({
      executionMarkModel: state => state.documentFlowBoxesInbox.executionMarkModel,
		}),
		/*
		*
		* */
		...mapGetters({
			currentUser: "auth/getCurrentUser",
		}),
		/*
		*
		* */
		content: {
			get() {
				return this.value;
			},
			set(value) {
				this.$emit("change", value);
			}
		}
	},
	methods: {
		...mapActions({
      fetchAttachFiles: "documentFlowModule/fetchAttachFiles",
		}),
    /*
    *
    * */
    createExecution() {
      this.$v.executionMarkModel.$touch();

      if(this.$v.executionMarkModel.$invalid) {
        return;
      }

      if(Object.prototype.toString.call(this.executionMarkModel.file) === '[object Object]') {
        this.executionMarkModel.file = this.executionMarkModel.file.id
      }

			const { fileUploadRef } = this.$refs
      this.$emit("emit:success-button", fileUploadRef)
    },
    /*
    *
    * */
    uploadFiles(files) {
	    if(!files) {
		    return;
	    }

      this.fetchAttachFiles({
        files: [files],
      }).then((file) => {
        this.executionMarkModel.file = file.id
      })
    },
		/*
		*
		* */
		clearFiles() {
			const { fileUploadRef } = this.$refs
			fileUploadRef.$children[0].$refs.input.previousSibling.innerText = null
			this.executionMarkModel.file = null
		}
	}
}
</script>

<style scoped>

</style>
