<template>
	<div class="resolution-drawer-view">
    <ui-drawer
      v-model="content"
      :title="title"
      :success-text="successText"
      :success-button-loading="successButtonLoading"
      @emit:close="(_value) => $emit('emit:close', _value)"
      @emit:cancel-button="(_value) => $emit('emit:close', _value)"
      @emit:success-button="successButton"
    >
      <template #content>
        <resolution-form
          :resolution-model="$v.resolutionModel"
          :performers-list-visible="performersListVisible"
          :responsible-user-index="responsibleUserIndex"
          :form-type="formType"
          :resolution-type-change="resolutionTypeChange"
          :xdfu="xdfu"
          @emit:responsible-index="(_value) => responsibleUserIndex = _value"
          @emit:add-to-list="(_value) => performersListVisible = _value"
        />
      </template>
    </ui-drawer>
	</div>
</template>

<script>
import { mapActions, mapGetters, mapState } from "vuex"
import { minLength, required, requiredIf } from "vuelidate/lib/validators"
import ResolutionForm from "./ResolutionForm.vue"
import { RESOLUTION_TYPES_LIST, RESOLUTION_TYPES } from "@/common/constants"
import { FORM_TYPES, STATUS_CODES } from "@/common/enums/notificationTypes"
export default {
	name: "ResolutionDrawer",
	props: {
		value: {
			type: Boolean
		},
		/*
    *
    * */
		formType: {
			type: String,
			default: FORM_TYPES.CREATE
		},
		/*
    *
    * */
		title: {
			type: String,
			default: "document-flow.views.boxes.redirect-document"
		},
		/*
    *
    * */
		successText: {
			type: String,
			default: "document-flow.views.registration.save"
		},
		/*
		*
		* */
		cancelText: {
			type: String,
			default: "auth.enter-phone.back"
		},
		/*
		*
		* */
		review: {
			type: Number
		},
		/*
		*
		* */
		parent: {
			type: Number
		},
		/*
		*
		* */
		assignmentParent: {
			type: Number
		},
		/*
		*
		* */
		assignmentId: {
			type: Number
		},
		/** **/
		xdfu: {
			type: Boolean,
			default: false
		}
	},
	components: {
		ResolutionForm
	},
	data() {
		return {
			resolutionModel: {
				assignment: [],
				content: null,
				deadline: null,
				review: this.review,
				parent: this.parent,
				type: RESOLUTION_TYPES_LIST[0].value,
				__assignment: [],
				__controllers: []
			},
			successButtonLoading: false,
			responsibleUserIndex: 0,
			performersListVisible: false,
		}
	},
	validations: {
		resolutionModel: {
			content: {
				required
			},
			__assignment: {
				required
			},
			// controllers: {
			// 	required: requiredIf(function(value) {
			// 		return value.type !== RESOLUTION_TYPES.ASSIGNMENT
			// 	}),
			// },
		}
	},
	computed: {
		...mapState({
			inboxDetailModel: state => state.documentFlowBoxesInbox.inboxDetailModel
		}),
		/*
		*
		* */
		...mapGetters({
			currentUser: "auth/getCurrentUser",
		}),
		/*
		*
		* */
		content: {
			get() {
				return this.value;
			},
			set(value) {
				this.$emit("change", value);
			}
		}
	},
	watch: {
		content: {
			handler(val) {
				/*
				* Проверка на
				* 1. Открыт ли дровер
				* 2. Является ли открывающий дровер изменение резолюции
				* */
				if(val && this.formType === FORM_TYPES.UPDATE) {
					this.getCreatedResolution()
				}
			},
			deep: true
		}
	},
	methods: {
		...mapActions({
			fetchUpdateInboxResolution: "documentFlowBoxesInbox/fetchUpdateInboxResolution",
			fetchCreateInboxResolution: "documentFlowBoxesInbox/fetchCreateInboxResolution",
			fetchGetCreatedInboxResolution: "documentFlowBoxesInbox/fetchGetCreatedInboxResolution",
		}),
		/*
		*
		* */
		async createResolution() {
			this.$v.resolutionModel.$touch();
			let assignment = this.$v.resolutionModel.$model.__assignment.map((item, index) => {
				return {
					user: item.id,
					is_responsible: index === 0,
					parent: this.assignmentParent,
					is_secret: this.$route.query.is_secret,
					order: index + 1
				}
			})
			// Сделаем один ответственный исполнитель из списка (assignment)
			// assignment[this.responsibleUserIndex].is_responsible = true

			let __controllers = this.$v.resolutionModel.$model.__controllers
			let controllers = __controllers.length ? __controllers.map(item => {
				return {
					user: item.id,
					is_controller: true,
					parent: this.assignmentParent,
					is_secret: this.$route.query.is_secret
				}
			}) : []

			let model = {
				...this.$v.resolutionModel.$model,
				deadline: this.$v.resolutionModel.$model.deadline ? `${this.$v.resolutionModel.$model.deadline}T18:00:00+05:00` : null,
				assignment: [...controllers, ...assignment]
			}

			if(this.$v.resolutionModel.$invalid) {
				if(!this.$v.resolutionModel.$model.assignment?.length) {
					this.$toast.error(this.$t('document-flow.components.one-employee-must'))
				}

				if (!this.$v.resolutionModel.$model.content?.replace(/(<([^>]+)>)/gi, "").trim()) {
					this.$toast.error(this.$t('dashboard.components.enter-text'))
				}

				// if(this.resolutionModel.type === RESOLUTION_TYPES.CONTROL_POINT) {
				// 	if(!this.$v.resolutionModel.$model.controllers?.length) {
				// 		this.$toast.error(this.$t("add-controller"))
				// 	}
				// }

				return;
			}

			try {
				this.successButtonLoading = true
				await this.fetchCreateInboxResolution({
					model,
					treeId: this.inboxDetailModel.document.id,
					documentId: this.inboxDetailModel.id,
					is_secret: this.$route.query.is_secret
				})
				this.$toast.success(this.$t("created_resolution"))
				this.$emit('emit:close', false)
				this.responsibleUserIndex = 0
				this.resolutionModel = {
					assignment: [],
					content: null,
					deadline: null,
					review: this.review,
					parent: this.parent,
					type: RESOLUTION_TYPES_LIST[0].value,
					__assignment: [],
					__controllers: []
				}
				this.$v.resolutionModel.$reset()
			} finally {
				this.successButtonLoading = false
			}
		},
		/*
		*
		* */
		async updateResolution() {
			this.$v.resolutionModel.$touch();
			let assignment = this.$v.resolutionModel.$model.__assignment.map((item, index) => {
				if(item.hasOwnProperty("__old")) {
					return {
						id: item.id,
						is_responsible: index === 0,
						parent: this.assignmentParent,
						is_secret: this.$route.query.is_secret,
						order: index + 1
					}
				}
				return {
					user: item.id,
					is_responsible: index === 0,
					parent: this.assignmentParent,
					is_secret: this.$route.query.is_secret,
					order: index + 1
				}
			})
			// Сделаем один ответственный исполнитель из списка (assignment)
			// assignment[this.responsibleUserIndex].is_responsible = true

			let __controller = this.$v.resolutionModel.$model.__controllers
			let controller = __controller.length ? __controller.map(item => {
				if(item.hasOwnProperty("__old")) {
					return {
						id: item.id,
						is_controller: true,
						parent: this.assignmentParent,
						is_secret: this.$route.query.is_secret
					}
				}
				return {
					user: item.id,
					is_controller: true,
					parent: this.assignmentParent,
					is_secret: this.$route.query.is_secret
				}
			}) : []

			let model = {
				...this.$v.resolutionModel.$model,
				deadline: this.$v.resolutionModel.$model.deadline ? `${this.$v.resolutionModel.$model.deadline}T18:00:00+05:00` : null,
				assignment: [...controller, ...assignment]
			}

			if(this.$v.resolutionModel.$invalid) {
				if(!this.$v.resolutionModel.$model.assignment?.length) {
					this.$toast.error(this.$t('document-flow.components.one-employee-must'))
				}

				if (!this.$v.resolutionModel.$model.content?.replace(/(<([^>]+)>)/gi, "").trim()) {
					this.$toast.error(this.$t('dashboard.components.enter-text'))
				}

				// if(this.resolutionModel.type === RESOLUTION_TYPES.CONTROL_POINT) {
				// 	if(!this.$v.resolutionModel.$model.controllers?.length) {
				// 		this.$toast.error(this.$t("add-controller"))
				// 	}
				// }

				return;
			}

			try {
				this.successButtonLoading = true
				await this.fetchUpdateInboxResolution({
					id: this.inboxDetailModel.assignees.id,
					model,
					treeId: this.inboxDetailModel.document.id,
					documentId: this.inboxDetailModel.id,
					is_secret: this.$route.query.is_secret
				})
				this.$toast.success(this.$t("updated_resolution"))
				this.$emit('emit:close', false)
				this.responsibleUserIndex = 0
			} finally {
				this.successButtonLoading = false
			}
		},
		/*
		*
		* */
		async getCreatedResolution() {
			if(
				this.inboxDetailModel.assignment &&
				this.inboxDetailModel.assignment.hasOwnProperty("child_id")
			) {
				await this.fetchGetCreatedInboxResolution({ id: this.assignmentId })
			}

			let controllers = this.inboxDetailModel.assignees.assignment.filter(item => item.is_controller)

			this.resolutionModel.content = this.inboxDetailModel.assignees.content
			this.resolutionModel.deadline = this.inboxDetailModel.assignees.deadline
				? this.$options.filters.filterYearMonthDate(this.inboxDetailModel.assignees.deadline)
				: null
			this.resolutionModel.type = this.inboxDetailModel.assignees.type
			this.resolutionModel.parent = this.inboxDetailModel.assignees.parent
			this.resolutionModel.review = this.inboxDetailModel.assignees.review
			this.resolutionModel.__assignment = this.inboxDetailModel.assignees.assignment
			.filter(item => !item.is_controller)
			.map(item => {
				return {
					id: item.id,
					cisco: item.user.cisco,
					color: item.user.color,
					full_name: item.user.full_name,
					position: item.user.position,
					is_responsible: item.is_responsible,
					is_overdue_performance: item.status.id === STATUS_CODES.OVERDUE_PERFORMANCE,
					__old: true,
					order: item?.order
				}
			})
			this.resolutionModel.__controllers = controllers.length ? controllers.map(item => {
				return {
					id: item.id,
					cisco: item.user.cisco,
					color: item.user.color,
					full_name: item.user.full_name,
					position: item.user.position,
					is_overdue_performance: item.status.id === STATUS_CODES.OVERDUE_PERFORMANCE,
					__old: true
				}
			}) : []
			this.performersListVisible = true
		},
		/*
		*
		* */
		successButton() {
			if(this.formType === FORM_TYPES.CREATE) {
				this.createResolution()
			}
			if(this.formType === FORM_TYPES.UPDATE) {
				this.updateResolution()
			}
		},
		/*
		*
		* */
		resolutionTypeChange(type) {
			if(type === RESOLUTION_TYPES.ASSIGNMENT) {
				this.resolutionModel.controllers = []
			}
		}
	}
}
</script>

<style scoped>

</style>
