<template>
<div class="compose-message-dialog">
	<template>
		<v-dialog
			v-model="dialog"
			persistent
			max-width="800px"
		>
			<v-card class="pb-4">
				<div class="top-header d-flex py-3 px-4 align-center">
					<h4 class="font-400">{{$t('exchange-email.write-message')}}</h4>
					<v-spacer></v-spacer>
					<v-icon
						size="20"
						@click.prevent="$emit('closeDialog')"
					>
						{{ "$vuetify.icons.XIcon" }}
					</v-icon>
				</div>
				<div class="main-content px-4">

					<!--TO messages-->
					<div class="d-flex align-center mt-1">
						<div class="text-cover">
							<h5 class="font-300">{{$t('exchange-email.whom')}}:</h5>
						</div>
						<v-autocomplete
							v-model="friends"
							:items="people"
							filled
							chips
							item-text="name"
							item-value="name"
							hide-details
							multiple
							background-color="#fff"
							dense
							outlined
						>
							<template v-slot:selection="data">
								<v-chip
									v-bind="data.attrs"
									:input-value="data.selected"
									close
									@click="data.select"
									@click:close="removeFromTo(data.item)"
									color="primary"
									small
								>
									<v-avatar left>
										<v-img :src="data.item.avatar" class="object-cover w-100 h-100"></v-img>
									</v-avatar>
									{{ data.item.name }}
								</v-chip>
							</template>
							<template v-slot:item="data">
								<template>
									<v-list-item-avatar>
										<img :src="data.item.avatar">
									</v-list-item-avatar>
									<v-list-item-content>
										<v-list-item-title v-html="data.item.name"></v-list-item-title>
										<v-list-item-subtitle v-html="data.item.group"></v-list-item-subtitle>
									</v-list-item-content>
								</template>
							</template>
						</v-autocomplete>
					</div>

					<!--COPY messages-->
					<div class="d-flex align-center mt-1">
						<div class="text-cover">
							<h5 class="font-300">{{$t('exchange-email.copy')}}:</h5>
						</div>
						<v-autocomplete
							v-model="friends2"
							:items="people"
							filled
							chips
							item-text="name"
							item-value="name"
							hide-details
							multiple
							background-color="#fff"
							dense
							outlined
						>
							<template v-slot:selection="data">
								<v-chip
									v-bind="data.attrs"
									:input-value="data.selected"
									close
									@click="data.select"
									@click:close="removeFromCopy(data.item)"
									color="secondary"
									small
								>
									<v-avatar left>
										<v-img :src="data.item.avatar" class="object-cover w-100 h-100"></v-img>
									</v-avatar>
									{{ data.item.name }}
								</v-chip>
							</template>
							<template v-slot:item="data">
								<template>
									<v-list-item-avatar>
										<img :src="data.item.avatar">
									</v-list-item-avatar>
									<v-list-item-content>
										<v-list-item-title v-html="data.item.name"></v-list-item-title>
										<v-list-item-subtitle v-html="data.item.group"></v-list-item-subtitle>
									</v-list-item-content>
								</template>
							</template>
						</v-autocomplete>
					</div>

					<!--SUBJECT messages-->
					<div class="d-flex align-center mt-1">
						<div class="text-cover">
							<h5 class="font-300">{{$t('exchange-email.theme')}}:</h5>
						</div>
						<v-text-field
							hide-details
							background-color="#fff"
							dense
							outlined
						>

						</v-text-field>
					</div>

					<!--CONTENT message-->
					<quill-editor
						class="editor my-2"
						ref="myTextEditor"
						:options="editorOption"
					/>
					<div class="d-flex align-center">
						<v-btn
							depressed
							color="primary"
							small
						>
							<h3 class="font-400">{{$t('exchange-email.send')}}</h3>
						</v-btn>
						<v-file-input
							:label="$t('exchange-email.upload-file')"
							outlined
							dense
							multiple
							hide-details
							class="ml-2"
						></v-file-input>
					</div>
				</div>
			</v-card>
		</v-dialog>
	</template>
</div>
</template>

<script>
import 'quill/dist/quill.bubble.css';
import 'quill/dist/quill.core.css';
import 'quill/dist/quill.snow.css';
import { quillEditor } from 'vue-quill-editor';

	export default {
		name: "ComposeMessageDialog",
		components: {
			quillEditor
		},
		props: {
			dialog: {
				type: Boolean,
				default: false
			}
		},
		data() {
			const srcs = {
				1: 'https://cdn.vuetifyjs.com/images/lists/1.jpg',
				2: 'https://cdn.vuetifyjs.com/images/lists/2.jpg',
				3: 'https://cdn.vuetifyjs.com/images/lists/3.jpg',
				4: 'https://cdn.vuetifyjs.com/images/lists/4.jpg',
				5: 'https://cdn.vuetifyjs.com/images/lists/5.jpg',
			}

			return {
				editorOption: {
					modules: {
						toolbar: [
							['bold', 'italic', 'underline', 'strike'],
						],
						syntax: {
							highlight: text => hljs.highlightAuto(text).value
						}
					}
				},

				autoUpdate: true,
				friends: [],
				friends2: [],
				isUpdating: false,
				name: 'Midnight Crew',
				people: [
					{name: 'Azamjon Kirgizboev', group: 'Group 1', avatar: srcs[1]},
					{name: 'Azizbek Gaybullayev', group: 'Group 1', avatar: srcs[2]},
					{name: 'Odina Teshaboyeva', group: 'Group 1', avatar: srcs[3]},
					{name: 'Muhammad Odinayev', group: 'Group 1', avatar: srcs[2]}, ,
					{name: 'Gulnoza Temirova', group: 'Group 2', avatar: srcs[4]},
					{name: 'Munisa Rizayeva', group: 'Group 2', avatar: srcs[5]},
					{name: 'Toshmat Eshmatov', group: 'Group 2', avatar: srcs[1]},
					{name: 'Asal Shodiyeva', group: 'Group 2', avatar: srcs[3]},
				],
				title: 'The summer breeze',
			}
		},
		watch: {
			isUpdating(val) {
				if (val) {
					setTimeout(() => (this.isUpdating = false), 3000)
				}
			},
		},
		methods: {
			removeFromTo(item) {
				const index = this.friends.indexOf(item.name)
				if (index >= 0) this.friends.splice(index, 1)
			},
			removeFromCopy(item) {
				const index = this.friends2.indexOf(item.name)
				if (index >= 0) this.friends2.splice(index, 1)
			},
		},
	};
</script>

<style scoped>
.top-header{
	background-color: var(--bg-2);
}
.text-cover{
	min-width: 60px;
}
.editor {
	height: 20rem;
	overflow: hidden;
}

</style>
