<template>
	<div class="folder-list-view">
		<div class="top-bars">
			<v-text-field
				class="ml-4 my-2"
				prepend-inner-icon="mdi-magnify"
				placeholder="Search"
				hide-details
			></v-text-field>
			<v-checkbox
				v-model="checkbox"
				label="Select all"
				class="ml-4 my-2"
				hide-details
			></v-checkbox>
			<v-divider class="w-100 ml-4" style="border-color: rgba(var(--border-color), 0.7); opacity: 0.1"/>
		</div>

		<app-card>
			<template #content>
				<router-link
					v-for="(item, index) in 15"
					:key="index"
					:to="{ name: 'ExchangeEmailInboxDetail', params: { id: index } }"
					class="text-decoration-none"
				>
					<div class="list-cover d-flex pa-4 ml-4 transition-transform">
						<div class="avatar-cover d-flex flex-column">
							<v-avatar size="45" class="mb-0">
								<img src="https://cdn.vuetifyjs.com/images/lists/1.jpg" alt="Avatar">
							</v-avatar>
							<v-checkbox @click.prevent="" class="ma-0" hide-details></v-checkbox>
						</div>
						<div class="d-flex flex-column ml-4">
							<h4 class="font-500 black--text">Eshmatov Toshmat</h4>
							<h5 class="font-400 black--text"> Brunch this weekend?</h5>
							<h5 class="font-300 black--text mt-2">I'll be in your neighborhood doing errands this weekend. Do you want to hang out?</h5>
						</div>
						<v-spacer></v-spacer>
						<div class="date-time mr-4 d-flex flex-column align-end">
							<h5 class="font-300 black--text">09.03.2022</h5>
							<trash2-icon
								size="20"
								color="red"
								right
								@click.prevent="deleteItem"
								class="mt-2"
							>
								mdi-trash-can-outline
							</trash2-icon>
						</div>
					</div>
					<v-divider class="w-100 ml-4" style="border-color: rgba(var(--border-color), 0.7); opacity: 0.1"/>
				</router-link>
			</template>
		</app-card>
<!--			<v-list-->
<!--				three-line-->
<!--			>-->
<!--				<template v-for="(item, index) in 5">-->
<!--					<v-list-item-->
<!--						to="{ name: 'ExchangeEmailInbox' }"-->
<!--						class="transition-transform"-->
<!--					>-->
<!--						<v-list-item-avatar>-->
<!--							<v-img src="https://cdn.vuetifyjs.com/images/lists/1.jpg"></v-img>-->
<!--						</v-list-item-avatar>-->
<!--						<v-list-item-content>-->
<!--							<v-list-item-title>-->
<!--								<h4 class="font-600 grey&#45;&#45;text"> Brunch this weekend?</h4>-->
<!--							</v-list-item-title>-->
<!--							<v-list-item-subtitle>-->
<!--								<span class="grey&#45;&#45;text">I'll be in your neighborhood doing errands this weekend. Do you want to hang out?</span>-->
<!--							</v-list-item-subtitle>-->
<!--						</v-list-item-content>-->
<!--						<v-list-item-action>-->
<!--							<v-list-item-action-text>09.03.2022</v-list-item-action-text>-->
<!--						</v-list-item-action>-->
<!--					</v-list-item>-->
<!--					<v-divider class="w-100" style="border-color: rgba(var(&#45;&#45;border-color), 0.7); opacity: 0.1"/>-->
<!--				</template>-->
<!--			</v-list>-->



	</div>
</template>

<script>
import { Trash2Icon } from 'vue-feather-icons';
import AppCard from "../../../../../common/components/base/AppCard";
export default {
	name: "FolderListView",
	data(){
		return {
			checkbox: false,
		}
	},
	components: {
		AppCard,
		Trash2Icon
	},
	methods: {
		deleteItem(){
			console.log("Delete clicked!")
		}
	}
}
</script>

<style scoped>

</style>
