<script>
// Const
import { FORM_TYPES } from "../../../../../common/enums/notificationTypes"
//Components
import ReferenceForm from "../components/ReferenceForm.vue"
export default {
	name: "ReferenceUpdate",
	components: { ReferenceForm },
	computed: {
		FORM_TYPES() {
			return FORM_TYPES
		}
	}
}
</script>

<template>
	<reference-form :form-type="FORM_TYPES.UPDATE" />
</template>

<style scoped>

</style>