<script>
// Const
import { FORM_TYPES } from "../../../../../common/enums/notificationTypes"
// Components
import ReferenceForm from "../components/ReferenceForm.vue"

export default {
	name: "ReferenceCreate",
	components: { ReferenceForm },
	computed: {
		FORM_TYPES() {
			return FORM_TYPES
		}
	}
}
</script>

<template>
	<reference-form :form-type="FORM_TYPES.CREATE" />
</template>

<style scoped>

</style>