<template>
	<div class="search-view h-100">
		<search-inputs />

		<search-table-list class="mt-6" />
	</div>
</template>

<script>
import SearchInputs from "./components/SearchInputs";
import SearchTableList from "./components/SearchTableList";

export default {
	name: "index",
	components: {
		SearchInputs,
		SearchTableList
	}
}
</script>

<style scoped>

</style>
