<template>
	<div class="authority-admin">
		<template v-if="loading">
			<app-loader full-width :size="58" />
		</template>
		<template v-else>
			<div class="d-flex mb-4">
				<div style="width: 25%">
					<div class="d-flex">
						<v-select
							@change="onDegreeChange"
							v-model="degreeSelected"
							:items="degreeList"
							item-text="name"
							return-object
							outlined
							dense
							hide-details
							append-icon="mdi-chevron-down"
							background-color="#fff"
							class="shadow-6"
						>
						</v-select>

						<v-icon
							@click="addDegree"
							color="primary"
							class="pointer ml-2"
							size="28"
						>
							mdi-plus
						</v-icon>

						<v-icon
							@click="updateDegree"
							color="warning"
							class="pointer ml-2"
							size="22"
						>
							mdi-pencil-outline
						</v-icon>
					</div>
				</div>

				<v-spacer/>

				<app-button
					height="36"
					class="ml-2"
					:to="{ name: 'AuthorityUserCreate' }"
				>
					<template #prepend>
						<v-icon>mdi-plus</v-icon>
					</template>
					Yangi xodim qo'shish
				</app-button>
			</div>

			<div class="d-flex flex-column scroll-cover bg-4 rounded-20 pa-1 overflow-hidden">
				<div class="d-flex flex-column flex-1 overflow-hidden">
					<perfect-scrollbar class="d-flex flex-column flex-1 h-100">
						<app-table
							bordered
							:table-width="1800"
						>
							<template #tableHeader>
								<th>F.I.Sh</th>
								<th>Lavozim</th>
								<th width="200">Amallar</th>
							</template>

							<template #tableBody>
								<tr
									v-for="user in userList"
									:key="user.id" class="td-background-light"
								>
									<td
										@click="openUserContent(user)"
										class="user-full-name"
									>
										<span class="font-500 small-2">{{ user.user.full_name }}</span>
									</td>
									<td>{{ user.position ? user.position : user.user.position }}</td>
									<td>
										<div class="d-flex">
											<v-icon
												@click="$router.push({ name: 'AuthorityUserUpdate', params: { id: user.id } })"
												color="warning"
												class="pointer"
												size="22"
											>
												mdi-pencil-outline
											</v-icon>

											<v-icon
												@click="deleteUser(user.id)"
												color="danger"
												class="pointer ml-4"
												size="22"
											>
												mdi-trash-can-outline
											</v-icon>
										</div>
									</td>
								</tr>
							</template>
						</app-table>
					</perfect-scrollbar>
				</div>
			</div>

			<degree-form ref="degreeFormRef"/>
		</template>
	</div>
</template>

<script>
import DegreeForm from "./components/DegreeForm";

export default {
	name: "index",
	components: {
		DegreeForm
	},
	data() {
		return {
			loading: false,
			degreeList: [],
			degreeSelected: {},
			userList: []
		}
	},
	mounted() {
		this.getDegreeList();
	},
	methods: {
		getDegreeList(){
			this.loading = true;
			this.$axios.get(`/bank-affairs/`, {
				params: {
					page_size: 100
				}
			})
			.then(({ data }) => {
				if (data.results.length) {
					this.degreeList = data.results;
					if (this.$route.query.degree){
						this.degreeSelected = { id: this.$route.query.degree, name: this.$route.query.name }
					}else {
						this.degreeSelected = data.results[0]
					}
					this.getUserList(this.degreeSelected.id)
				}
			})
		},
		/**/
		onDegreeChange(val){
			this.getUserList(val.id)

			this.$router.replace({
				query: {
					...this.$route.query,
					degree: val.id,
					name: val.name
				}
			}).catch(() => {})
		},
		/**/
		getUserList(id){
			this.loading = true;
			this.$axios.get(`/bank-affair-members/`, {
				params: {
					affair: id,
					page_size: 100
				}
			})
			.then(({ data }) => {
				this.userList = data.results;
				this.loading = false;
			})
			.catch(err => {
				this.loading = false;
			})
		},
		/**/
		addDegree(){
			const { degreeFormRef } = this.$refs;
			degreeFormRef.formType = 'create';
			degreeFormRef.dialog = true;
		},
		/**/
		updateDegree(){
			const { degreeFormRef } = this.$refs;
			degreeFormRef.formType = 'update';
			degreeFormRef.dialog = true;
			degreeFormRef.id = this.degreeSelected.id;
			degreeFormRef.model.name = this.degreeSelected.name;
		},
		/**/
		deleteUser(id) {
			if(!confirm(`O'chirilsinmi ?`)) {
				return
			}

			this.$axios.delete(`/bank-affair-members/${id}/`)
			.then(() => {
				this.$toast.success("O'chirildi!");
				this.getUserList(this.degreeSelected.id)
			})
			.catch((err) => {
				this.$toast.error("O'chirishda xatolik!");
			})
		},
		/**/
		openUserContent(item) {
			this.$router.push({
				name: 'AuthorityUserAffirmative',
				params: {
					id: item.user.id
				},
				query: {
					fullName: item.user.full_name
				}
			})
		}
	}
}
</script>

<style scoped>
.user-full-name:hover {
	color: var(--primary-1);
}
</style>
