<template>
	<affidavit-detail-form form-type="update" />
</template>

<script>
import AffidavitDetailForm from "./components/AffidavitDetailForm";

export default {
	name: "UpdateAffidavitDetail",
	components: {
		AffidavitDetailForm
	}
}
</script>

<style scoped>

</style>
