<template>
	<affidavit-form form-type="update" />
</template>

<script>
import AffidavitForm from "./components/AffidavitForm";

export default {
	name: "UpdateAffidavit",
	components: {
		AffidavitForm
	}
}
</script>

<style scoped>

</style>
