<template>
	<user-form :form-type="$store.state.formType.update" />
</template>

<script>
import UserForm from "./components/UserForm";

export default {
	name: "UpdateUser",
	components: {
		UserForm
	}
}
</script>

<style scoped>

</style>
