<template>
	<div class="user-affirmative-view">
		<div class="d-flex mb-4">
			<div style="width: 40%">
				<div class="d-flex align-center">
					<v-select
						@change="onAffirmationChange"
						v-model="affirmationSelected"
						:items="affirmationList"
						item-text="name"
						return-object
						outlined
						dense
						hide-details
						append-icon="mdi-chevron-down"
						background-color="#fff"
						class="shadow-6"
					>
					</v-select>

					<v-icon
						@click="addAffirmation"
						color="primary"
						class="pointer ml-2"
						size="28"
					>
						mdi-plus
					</v-icon>

					<v-icon
						@click="updateAffirmation"
						color="warning"
						class="pointer ml-2"
						size="22"
					>
						mdi-pencil-outline
					</v-icon>

					<v-chip
						color="primary"
						class="ml-4"
					>
						<span>{{ $route.query.fullName }}</span>
					</v-chip>

				</div>
			</div>

			<v-spacer />

			<div class="d-flex align-center">
				<app-button
					height="36"
					class="ml-4"
					:to="{ name: 'AuthorityAffidavitCreate', query: { userId: $route.params.id, fullName: $route.query.fullName } }"
				>
					<template #prepend>
						<v-icon>mdi-plus</v-icon>
					</template>
					Yangi vakolat qo'shish
				</app-button>
			</div>

			<div class="d-flex align-center">
				<template v-if="!isAffidavitDetailCreated">
					<app-button
						height="36"
						class="ml-4"
						:to="{ name: 'AuthorityAffidavitDetailCreate' }"
					>
						<template #prepend>
							<v-icon>mdi-plus</v-icon>
						</template>
						Yangi ishonchnoma
					</app-button>
				</template>

				<template v-else>
					<app-button
						height="36"
						class="ml-4"
						color="warning"
						:to="{ name: 'AuthorityAffidavitDetailUpdate', params: { id: affidavitDetail.id }, query: { userId: $route.params.id, affirmationId: affirmationSelected.id} }"
					>
						<template #prepend>
							<v-icon size="20">mdi-pencil-outline</v-icon>
						</template>
						Ishonchnomani o'zgartirish
					</app-button>
				</template>
			</div>
		</div>

		<div class="d-flex flex-column affidavit-table bg-4 rounded-20 pa-1 overflow-hidden">
			<div class="d-flex flex-column flex-1 overflow-hidden">
				<perfect-scrollbar class="d-flex flex-column flex-1 h-100">
					<app-table
						bordered
						:table-width="1800"
					>
						<template #tableHeader>
							<th>Vakolat nomi</th>
							<th width="200">Amallar</th>
						</template>

						<template #tableBody>
							<tr
								v-for="item in affidavitList"
								:key="item.id" class="td-background-light"
							>
								<td
									class="user-full-name"
								>
									<span class="font-500 small-2">{{ item.name }}</span>
								</td>
								<td>
									<div class="d-flex">
										<v-icon
											@click="$router.push({ name: 'AuthorityAffidavitUpdate', params: { id: item.id } })"
											color="warning"
											class="pointer"
											size="22"
										>
											mdi-pencil-outline
										</v-icon>

										<v-icon
											@click="deleteItem(item.id)"
											color="danger"
											class="pointer ml-4"
											size="22"
										>
											mdi-trash-can-outline
										</v-icon>
									</div>
								</td>
							</tr>
						</template>
					</app-table>
				</perfect-scrollbar>
			</div>
		</div>

		<affirmation-form ref="affirmationFormRef"/>

	</div>
</template>

<script>
import AffirmationForm from "./components/AffirmationForm";

export default {
	name: "UserAffirmative",
	components: {AffirmationForm},
	data() {
		return {
			affirmationSelected: {},
			affirmationList: [],

			affidavitList: [],

			affidavitDetail: null
		}
	},
	computed: {
		isAffidavitDetailCreated() {
			return Boolean(this.affidavitDetail)
		}
	},
	mounted() {
		this.getAffirmativeList();
		this.getAffidavitDetail(this.$route.params.id, this.affirmationSelected.id);
	},
	methods: {
		getAffirmativeList(){
			this.$axios.get(`/affirmation/`, {
				params: {
					page_size: 100
				}
			})
			.then(({ data }) => {
				this.affirmationList = data.results;

				if (this.$route.query.affirmationId){
					this.affirmationSelected = { id: this.$route.query.affirmationId, name: this.$route.query.name };
				}else {
					this.affirmationSelected = data.results[0];
				}

				this.getAffidavitList(this.affirmationSelected.id, this.$route.params.id);
				this.getAffidavitDetail(this.$route.params.id, this.affirmationSelected.id);
			})
		},
		/**/
		onAffirmationChange(val){
			this.getAffidavitList(val.id, this.$route.params.id)

			this.getAffidavitDetail(this.$route.params.id, val.id);

			this.$router.replace({
				query: {
					...this.$route.query,
					affirmationId: val.id,
					name: val.name
				}
			}).catch(() => {})
		},
		/**/
		getAffidavitList(affirmationId, userId){
			this.$axios.get(`/affidavit/`, {
				params: {
					affirmation: affirmationId,
					user: userId,
					page_size: 300
				}
			})
			.then(({data}) => {
				this.affidavitList = data.results;
			})
		},
		/**/
		deleteItem(id){
			if(!confirm(this.$t('document-flow.views.registration.delete-description'))) {
				return
			}

			this.$axios.delete(`/affidavit/${id}/`)
			.then(() => {
				this.$toast.success("O'chirildi!");
				this.getAffidavitList(this.affirmationSelected.id, this.$route.params.id);
			})
			.catch((err) => {
				this.$toast.error("O'chirishda xatolik!");
			})
		},
		/**/
		addAffirmation() {
			const { affirmationFormRef } = this.$refs;
			affirmationFormRef.formType = 'create';
			affirmationFormRef.dialog = true;
		},
		/**/
		updateAffirmation() {
			const { affirmationFormRef } = this.$refs;
			affirmationFormRef.formType = 'update';
			affirmationFormRef.dialog = true;
			affirmationFormRef.id = this.affirmationSelected.id;
			affirmationFormRef.model.name = this.affirmationSelected.name;
		},
		/**/
		getAffidavitDetail(userId, affirmationId) {
			this.$axios.get(`/affidavit-detail/`, {
				params: {
					user: userId,
					affirmation: affirmationId
				}
			})
				.then(({ data }) => {
					this.model = data
					this.affidavitDetail = data.results[0]
				})
		}
 	}
}
</script>

<style scoped>

</style>
