<script>
// Core
import {mapActions, mapState} from "vuex"
// Enums
import { AUDIT_DIRECTIONS_FILTER, AUDIT_DIRECTIONS_COLUMN} from "@/common/constants"
import {FORM_TYPES} from "@/common/enums/notificationTypes"
// Components
import DirectionForm from "./components/DirectionForm.vue"
import {IsActive, Collapsed} from "../../../../components"

export default {
	name: "index",
	components: {
		Collapsed,
		IsActive,
		DirectionForm
	},
	data: () => ({
		AUDIT_DIRECTIONS_FILTER,
		AUDIT_DIRECTIONS_COLUMN,
		dialog: false,
		deleteDialog: false,
		deleteButtonLoading: false,
		deletingDirectionName: null,
		deletingDirectionId: null
	}),
	computed: {
		...mapState({
			directionsTableCols: state => state.auditDirections.directionsTableCols,
			directionsTableFilters: state => state.auditDirections.directionsTableFilters
		}),
		tableHeight() {
			return document.documentElement.clientHeight - 220
		},
	},
	methods: {
		...mapActions({
			actionDeleteDirection: 'auditDirections/actionDeleteDirection'
		}),
		onRowClick(item) {

		},
		/** **/
		openModal() {
			const { directionForm } = this.$refs
			directionForm.formType = FORM_TYPES.CREATE
			this.dialog = true
		},
		/** **/
		async onSuccess() {
			const {dataTable} = this.$refs
			await dataTable.getList({ ...this.$route.query, page: 1 })
		},
		/** **/
		onUpdateClick(event, item) {
			event.stopImmediatePropagation()
			const { directionForm } = this.$refs
			directionForm.directionId = item.id
			directionForm.model.__branches = item.branches
			directionForm.model.__departments = item.departments
			directionForm.model.name = item.name
			directionForm.model.is_active = item.is_active
			directionForm.model.type = item.type
			directionForm.headOffice = item.type === 'head_office' || item.type === 'both'
			directionForm.branch = item.type === 'branch' || item.type === 'both'
			directionForm.formType = FORM_TYPES.UPDATE
			this.dialog = true
		},
		/** **/
		deleteDirection(event, item) {
			event.stopImmediatePropagation()
			this.deletingDirectionId = item.id
			this.deletingDirectionName = item.name
			this.deleteDialog = true
		},
		/** **/
		onDelete() {
			this.deleteButtonLoading = true
			this.actionDeleteDirection(this.deletingDirectionId)
				.then(async res => {
					this.deleteButtonLoading = false
					this.deleteDialog = false
					const { dataTable } = this.$refs
					await dataTable.getList(this.$route.query)
					this.$toast.success(this.$t("document-flow.views.registration.deleted"))
				})
		}
	}
}
</script>

<template>
	<div class="directions-view">
		<base-data-table
			:api-url="`audit/directions`"
			:headers-list="directionsTableCols"
			:filter-state="directionsTableFilters"
			:filter-storage-name="AUDIT_DIRECTIONS_FILTER"
			:config-column-storage-name="AUDIT_DIRECTIONS_COLUMN"
			:height="tableHeight"
			:header-name="$t('directions')"
			:unread-show="false"
			ref="dataTable"
			@emit:onRowClick="onRowClick"
		>

			<template #toolbar-actions>
				<app-button
					height="40"
					color="primary-500"
					class="rounded-8"
					min-width="90px"
					@click="openModal"
				>
					<template #prepend>
						<base-iconify
							icon="AddPlus"
							class="text-white"
							:inline="true"
						/>
					</template>
					<span class="small-2 font-500 text-white">{{ $t('chat-messenger.components.create') }}</span>
				</app-button>
			</template>

			<template #created_by="{ value }">
				<app-avatar-group list-type="participants" :avatar-list="[{ user: value }]" />
			</template>

			<template #created_date="{ value }">
				{{ value | filterDateMonthYear }}
			</template>

			<template #is_active="{ value }">
				<is-active :is-active="value" />
			</template>

			<template #to_where="{ item }">
				<collapsed :items="[...item.branches, ...item.departments]"/>
			</template>

			<template #action="{ item }">
				<div class="d-flex align-center gap-x-3">
					<div
						@click="onUpdateClick($event, item)"
					>
						<base-iconify
							icon="EditPencil01"
							class="text-greyscale-500"
						/>
					</div>

					<div
						@click="deleteDirection($event, item)"
					>
						<base-iconify
							icon="TrashFull"
							class="text-critic-500"
						/>
					</div>
				</div>
			</template>

		</base-data-table>

		<!-- Direction create modal -->
			<direction-form
				v-model="dialog"
				ref="directionForm"
				@emit:onSuccess="onSuccess"
			/>
		<!-- /Direction create modal -->

		<!-- Direction delete modal -->
		<base-modal
			v-model="deleteDialog"
			ref="baseModal"
			label="delete"
			success-button-label="hr.survey.delete"
			persistent
			width="461"
			:button-loading="deleteButtonLoading"
			@emit:onSend="onDelete"
		>
			<div class="d-flex flex-column align-center justify-center w-100 py-4">
				<div class="d-flex justify-center align-center w-12 h-12 rounded-50 bg-critic-500">
					<base-iconify
						icon="TrashBinTrashBold"
						class="text-white"
						width="24"
						height="24"
					/>
				</div>

				<div v-if="$i18n.locale === 'ru'" class="heading-11 font-600 text-greyscale-900 mt-5 text-center">Вы уверены, что хотите удалить эту направлению?</div>
				<div v-else class="heading-11 font-600 text-greyscale-900 mt-5 text-center">Bu yo'nalishni o'chirib tashlamoqchimisiz?</div>

				<div class="small-2 font-500 text-greyscale-400 mt-1">{{ deletingDirectionName }}</div>
			</div>
		</base-modal>
		<!-- /Direction delete modal -->
	</div>
</template>

<style scoped>

</style>
