<template>
	<div>
		<app-loader v-if="isLoading" content-width/>
		<v-navigation-drawer
			v-model="drawer"
			absolute
			temporary
			right
			width="340"
			class="notification-bar"
		>

			<div class="pa-6">
				<div class="d-flex align-end w-100">
					<v-btn
						icon
						@click="drawer = false"
					>
						<v-icon>{{ "$vuetify.icons.XIcon" }}</v-icon>
					</v-btn>

					<h2 class="font-500 heading-8 ml-6">{{$t('layout.notifications')}}</h2>
				</div>
				<div class="d-flex justify-end mt-4">
					<div
						v-if="notificationList.length"
						@click.prevent="markAsAllRead"
						class="d-flex align-center pointer"
					>
						<v-icon size="18" color="primary">mdi-check-all</v-icon>
						<span class="small-3 text--black ml-1">{{$t('layout.mark-all')}}</span>
					</div>
				</div>
			</div>
			<perfect-scrollbar>
				<div class="px-6">
					<template >
						<div v-for="item in notificationList" :key="item.id">
							<v-divider class="mb-4 mt-2"></v-divider>
							<div class="d-flex align-start">
								<div class="d-flex flex-column">
									<div
										class="notification-avatar"
										:class="item.is_read ? 'mark-as-read' : ''"
									>
										<v-badge
											overlap
											bordered
											avatar
											bottom
											icon="mdi-file-document"
										>
											<app-tooltip top>
												<template #content>
													<v-avatar
														class="pointer"
														v-if="item.created_by.avatar"
														size="40">
														<img
															:src="item.created_by.avatar.url"
															class="w-100 h-100 img-cover"
														>
													</v-avatar>
													<v-avatar
														class="pointer"
														v-else
														color="primary"
														size="40"
													>
													<span class="white--text">
														{{ item.created_by.full_name | getFirstCharacterWithoutDot }}
													</span>
													</v-avatar>
												</template>
												<template #text>
													{{ item.created_by.full_name }}
												</template>
											</app-tooltip>
										</v-badge>
									</div>

									<v-checkbox
										v-model="selectedIDs"
										:value="item.id"
										dense
									></v-checkbox>
								</div>

								<div class="notification-content pl-4">

									<div
										@click.prevent="openDetails(item)"
										class="pointer open-details-link"
									>
										<h5>{{ item.title }}</h5>
										<div class="line-truncate-5 mt-1">
											<span class="small-2 font-400 d-block" v-html="item.content" />
										</div>
									</div>

									<div class="d-flex align-center mt-2">
										<v-icon size="14" color="primary">mdi-clock-outline</v-icon>
										<span class="small-3 ml-1 color-primary font-weight-bold">{{
												item.created_date | filterDistance
											}}</span>
									</div>
								</div>

								<v-menu
									bottom
									left
									offset-y
								>
									<template v-slot:activator="{ on, attrs }">
										<v-icon
											class="pointer ml-2"
											v-bind="attrs"
											v-on="on"

										>
											mdi-dots-vertical
										</v-icon>
									</template>

									<v-list>
										<v-list-item-group
											v-model="selectedItem"
											color="primary"
										>
											<v-list-item
												v-if="!item.is_read"
												@click="markAsRead(item.id)"
												class="notification-icon"
												dense
											>
												<v-list-item-icon>
													<v-icon color="primary">
														mdi-check
													</v-icon>
												</v-list-item-icon>
												<v-list-item-title>{{$t('layout.mark')}}</v-list-item-title>
											</v-list-item>

											<v-list-item
												@click="deleteNotification(item.id)"
												class="notification-icon"
												dense
											>
												<v-list-item-icon>
													<v-icon color="red">
														mdi-trash-can-outline
													</v-icon>
												</v-list-item-icon>
												<v-list-item-title>{{$t('layout.delete')}}</v-list-item-title>
											</v-list-item>
										</v-list-item-group>
									</v-list>
								</v-menu>
							</div>
						</div>
					</template>
					<div v-if="listCount > 10" class="d-flex w-100 justify-center">
						<app-button @click="loadMore" :loading="isNotificationsLoading" class="mt-4">
							<template #default>
								{{$t('layout.load-more')}}
							</template>
							<template #append>
								<download-cloud-icon size="16"/>
							</template>
						</app-button>
					</div>
				</div>
			</perfect-scrollbar>
			<div @click="deleteSelected" v-if="selectedIDs && selectedIDs.length" class="d-flex align-center pointer mt-4 justify-center">
				<v-icon size="18" color="danger">mdi-trash-can-outline</v-icon>
				<span class="small-3 text--black ml-1">{{$t('layout.delete-all-checked')}} ({{ selectedIDs.length }})</span>
			</div>
		</v-navigation-drawer>
	</div>
</template>

<script>
import { DownloadCloudIcon } from "vue-feather-icons";
import { mapActions, mapGetters } from "vuex";

export default {
	name: "index",
	components: {
		DownloadCloudIcon
	},
	data() {
		return {
			isLoading: false,
			drawer: false,
			selectedItem: null,
			isDisabled: true,
			selectedIDs: []
		}
	},
	computed: {
		...mapGetters({
			currentUser: "auth/getCurrentUser",
			notificationList: "getNotificationList",
			isNotificationsLoading: "getIsNotificationsLoading",
			listCount: "getListCount"
		}),
		/**/
		currentRoute() {
			return this.$route.name
		}
	},
	created() {
		this.fetchNotificationList();
		this.fetchNotificationListUnreadCount();
	},
	methods: {
		...mapActions({
			fetchNotificationList: "fetchNotificationList",
			fetchNotificationDelete: "fetchNotificationDelete",
			fetchNotificationMarsAsRead: "fetchNotificationMarsAsRead",
			fetchNotificationMarkAsAllRead: "fetchNotificationMarkAsAllRead",
			fetchNotificationListUnreadCount: "fetchNotificationListUnreadCount",
		}),
		loadMore(){
			this.$store.state.page_number += 1
			this.fetchNotificationList({page: this.$store.state.page_number, loadMore: true})
		},
		/**/
		deleteNotification(id) {
			if (this.selectedIDs.includes(id)){
				const index = this.selectedIDs.findIndex(id => id === id);
				this.selectedIDs.splice(index, 1)
			}
			this.fetchNotificationDelete(id).then((data) => {
				this.fetchNotificationListUnreadCount();
			})
		},
		/**/
		deleteSelected(){
			this.selectedIDs.forEach(id => {
					this.fetchNotificationDelete(id).then((deletedID) => {
						const index = this.selectedIDs.findIndex(id => id === deletedID);
						this.selectedIDs.splice(index, 1);
						this.fetchNotificationListUnreadCount();
					})
			})
		},
		/**/
		markAsRead(id) {
			this.fetchNotificationMarsAsRead(id)
				.then(() => {
				})
		},
		/**/
		markAsAllRead() {
			this.fetchNotificationMarkAsAllRead().then(() => {
				this.fetchNotificationList();
				this.fetchNotificationListUnreadCount();
			})
				.catch(() => {
					this.$toast.error(this.$t('layout.not-found-unread-notification'))
				})
		},
		/**/
		openDetails(notification) {
			if (notification.action_type === "deleted") {
				this.$toast.error(this.$t('layout.page-not-found'))
				return;
			}
			if (notification.module === "doc_flow") {
				switch (notification.type) {
					case "for_review":
						if (Number(this.$route.params.id) === notification.obj_id) {
							this.$toast.warning(this.$t('layout.you-this-page'))
						}
						else {
							this.$router.push({
								name: "ReviewDetail",
								params: {id: notification.obj_id, type: notification.journal_id}
							});
							this.$store.dispatch("documentFlowModule/fetchIncomingDocumentById", notification.obj_id);
							this.$store.dispatch("documentFlowModule/fetchAssignedUsersTree", { treeId: notification.obj_id});
						}
						break;
					case "comment":
						if (Number(this.$route.params.id) !== notification.obj_id) {
							this.isLoading = true
							this.$router.push({name: "IncomingFormShowView", params: {id: notification.obj_id}, query: { type: (this.currentUser.role === 'admin' || this.currentUser.role === 'chancellery' || this.currentUser.role === 'chancellery_admin') ? 'for_watching_process' : null }});
							setTimeout(() => {
								location.reload();
							}, 500);
							onload(() => {
								this.isLoading = false
							})
						} else {
							this.$toast.warning(this.$t('layout.you-this-page'))
						}
						break;
					case "assignment":
						if (Number(this.$route.params.id) === notification.obj_id) {
							this.$toast.warning(this.$t('layout.you-this-page'))
						}else {
							this.$router.push({
								name: "InboxDetail",
								params: { id: notification.obj_id, type: notification.journal_id }
							});
							this.$store.dispatch("documentFlowModule/fetchAssignedUsersTree", { treeId: notification.obj_id});
							this.$store.dispatch("documentFlowModule/fetchAssigmentById", { id: notification.obj_id});
						}
						break;
					case "assignment_performed":
						if (Number(this.$route.params.id) === notification.obj_id) {
							this.$toast.warning(this.$t('layout.you-this-page'))
						}else {
							this.$router.push({
								name: "ReviewDetail",
								params: {id: notification.obj_id, type: notification.journal_id}
							});
							this.$store.dispatch("documentFlowModule/fetchIncomingDocumentById", notification.obj_id);
							this.$store.dispatch("documentFlowModule/fetchAssignedUsersTree", { treeId: notification.obj_id});
						}
						break;
					case "compose_comment":
						if (Number(this.$route.params.id) === notification.obj_id || Number(this.$route.params.id) === notification.sub_obj_id) {
							this.$toast.warning(this.$t('layout.you-this-page'))
						}else {
							this.$store.dispatch("sendingDocuments/fetchGetOneDocument", { id: notification.obj_id }).then((data) => {
								let type = this.returnType(data, notification);
								if (notification.sub_type && notification.sub_type === 'author'){
									this.$router.push({
										name: "SendingDocumentsShow",
										params: {id: notification.obj_id},
										query: { type: type }
									});
								}
								else if (notification.sub_type && notification.sub_type === 'signer'){
									this.$router.push({
										name: "SignFormShow",
										params: {id: notification.sub_obj_id},
										query: { compose_id: notification.obj_id, type: type }
									});
								}
								else if (notification.sub_type && notification.sub_type === 'negotiator'){
									this.$router.push({
										name: "ApprovalFormShow",
										params: {id: notification.sub_obj_id},
										query: { compose_id: notification.obj_id, type: type }
									});
								}
							});
						}
						break;
					case "compose_agreement":
						if (Number(this.$route.params.id) === notification.obj_id) {
							this.$toast.warning(this.$t('layout.you-this-page'))
						}else {
							this.$store.dispatch("sendingDocuments/fetchGetOneDocument", { id: notification.obj_id }).then((data) => {
								let type = this.returnType(data, notification);
								this.$router.push({
									name: "SendingDocumentsShow",
									params: {id: notification.obj_id},
									query: { type: type }
								});
							});
						}
						break;
					case "compose_sign":
						if (Number(this.$route.params.id) === notification.obj_id) {
							this.$toast.warning(this.$t('layout.you-this-page'))
						}else {
							this.$store.dispatch("sendingDocuments/fetchGetOneDocument", { id: notification.obj_id }).then((data) => {
								let type = this.returnType(data, notification);
								this.$router.push({
									name: "SendingDocumentsShow",
									params: {id: notification.obj_id},
									query: { type: type }
								});
							});
						}
						break;
					default:
						return;
				}

				this.$axios.put(`/alert/notifications/${notification.id}/mark_as_read/`)
					.then(({data}) => {
						this.$store.state.notificationList.find(item => item.id === notification.id).is_read = true;
						this.fetchNotificationListUnreadCount();
					})
			}
		},
		/**/
		returnType(document, notification){
			if (document.journal_id === 3 && document.type === 'service_letter'){
				return 'inner'
			}
			else if(document.journal_id === 4 && document.type === 'service_letter'){
				return 'outgoing'
			}
			else if(document.journal_id === 6 && document.type === 'protocol'){
				return 'protocol'
			}
			else if(document.journal_id === 6 && document.type === 'decree'){
				return 'decree'
			}
			else if(document.journal_id === 3 && document.type === 'notice'){
				if (notification.sub_type === 'author'){
					return 'leadership'
				}else {
					return 'notice'
				}
			}
			else if(document.journal_id === 7 && document.type === 'hr_application'){
				return 'vacation'
			}
			else if(document.journal_id === 6 && document.type === 'credit_committee' && document.sub_type !== 'joint_protocol'){
				return 'committee_protocol'
			}
			else if(document.journal_id === 6 && document.type === 'credit_committee' && document.sub_type === 'joint_protocol'){
				return 'joint_protocol'
			}
			else if(document.journal_id === 15){
				return 'leadership'
			}
			else {
				return document.type
			}
		}
	}
}
</script>

<style>
.notification-icon .v-list-item__icon:first-child {
	margin-right: 11px !important;
}

.notification-avatar {
	border: 2px solid #5964D1;
	border-radius: 50%;
	width: 48px;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2px;
}

.notification-avatar .v-badge--dot .v-badge__badge::after {
	border-width: 2px !important;
}

.notification-bar .ps {
	height: calc(100vh - 180px);
}

.notification-content span {
	line-height: 1.2;
}

.mark-as-read {
	border: 2px solid #BBBBBB !important;
}

.open-details-link:hover h5 {
	color: var(--primary-1);
}

.open-details-link h5 {
	transition: all 0.3s ease-out;
}
</style>
