<template>
	<div class="standard-act-part1">
		<app-wrapper class="mt-4">
			<template #body>
				<div class="top-header-part">
					<v-row>
						<v-col md="5" class="py-1">
							<div class="d-flex align-center justify-end">
								<span class="small-2 font-500">Акт №</span>
								<div class="ml-4 w-300px">
									<v-text-field
										v-model="standardActModel.document.document_number"
										outlined
										hide-details
										background-color="var(--input-bg)"
										dense
									>
									</v-text-field>
								</div>
							</div>
						</v-col>

						<v-col md="1" class="py-1"></v-col>

						<v-col md="6" class="py-1">
							<div class="d-flex align-center">
								<span class="small-2 font-500">Дата</span>
								<app-date-picker
									class="ml-4"
									v-model="standardActModel.document.document_date"
									with-input
									dense
									background-color="var(--input-bg)"
								/>
							</div>
						</v-col>
					</v-row>

					<v-row>
						<v-col md="5" class="py-1">
							<div class="d-flex align-center justify-end">
								<span class="small-2 font-500">Договор №</span>
								<div class="ml-4 w-300px">
									<v-text-field
										v-model="standardActModel.document.contract_number"
										outlined
										hide-details
										background-color="var(--input-bg)"
										dense
									>
									</v-text-field>
								</div>
							</div>
						</v-col>

						<v-col md="1" class="py-1"></v-col>

						<v-col md="6" class="py-1">
							<div class="d-flex align-center contract-date">
								<span class="small-2 font-500">Дата</span>
								<app-date-picker
									class="ml-4"
									v-model="standardActModel.document.contract_date"
									with-input
									dense
									background-color="var(--input-bg)"
								/>
							</div>
						</v-col>
					</v-row>

					<v-row>
						<v-col md="5" class="py-1">
							<div class="d-flex align-center justify-end">
								<span class="small-2 font-500">Описание</span>
								<div class="ml-4 w-300px">
									<v-textarea
										outlined
										hide-details
										background-color="var(--input-bg)"
										dense
										auto-grow
									>
									</v-textarea>
								</div>
							</div>
						</v-col>
						<v-col md="1"></v-col>
					</v-row>
				</div>
			</template>
		</app-wrapper>
	</div>
</template>

<script>
import {mapGetters, mapState} from "vuex";

export default {
	name: "Part1",
	computed: {
		...mapState({
			invoiceReceiverDetails: state => state.facture.invoiceReceiverDetails,
			standardActModel: state => state.facture.standardActModel,
		}),
		...mapGetters({
			invoiceTypeList: "facture/getInvoiceTypeList"
		})
	},
}
</script>

<style scoped>

</style>
