<template>
	<div class="standard-act-part4">
		<app-wrapper class="mt-4">
			<template #body>
				<div>
					<v-row>
						<v-col md="4">
							<div class="d-flex align-center justify-end">
								<span class="font-500 small-2">Руководитель</span>
								<div class="w-300px">
									<v-autocomplete
										v-model="chairmanSelected"
										@change="setChairman"
										:items="employeeList"
										outlined
										item-text="account.lastName"
										hide-details
										background-color="var(--input-bg)"
										dense
										return-object
										clearable
										open-on-clear
										class="ml-2"
									>
										<template #append>
											<v-icon>mdi-chevron-down</v-icon>
										</template>

										<template v-slot:item="{ item }">
											<div class="d-flex">
												<span class="small-3 font-400">{{ item.account.lastName }} {{ item.account.firstName }} {{ item.account.middleName }}</span>
											</div>
										</template>
										<template v-slot:selection="{ item }">
											<span class="small-3 font-400 line-truncate">{{ item.account.lastName }} {{ item.account.firstName }} {{ item.account.middleName }}</span>
										</template>
									</v-autocomplete>
								</div>
							</div>

							<div class="d-flex align-center justify-end mt-2">
								<span class="font-500 small-2">Главный бухгалтер</span>
								<div class="w-300px">
									<v-autocomplete
										v-model="accountantSelected"
										@change="setAccountant"
										:items="employeeList"
										outlined
										item-text="account.lastName"
										hide-details
										background-color="var(--input-bg)"
										dense
										return-object
										clearable
										open-on-clear
										class="ml-2"
									>
										<template #append>
											<v-icon>mdi-chevron-down</v-icon>
										</template>

										<template v-slot:item="{ item }">
											<div class="d-flex">
												<span class="small-3 font-400">{{ item.account.lastName }} {{ item.account.firstName }} {{ item.account.middleName }}</span>
											</div>
										</template>
										<template v-slot:selection="{ item }">
											<span class="small-3 font-400 line-truncate">{{ item.account.lastName }} {{ item.account.firstName }} {{ item.account.middleName }}</span>
										</template>
									</v-autocomplete>
								</div>
							</div>

							<div class="d-flex align-center justify-end mt-2">
								<span class="font-500 small-2">Товар передал</span>
								<div class="w-300px">
									<v-text-field
										outlined
										hide-details
										background-color="var(--input-bg)"
										dense
										class="ml-2"
									>
									</v-text-field>
								</div>
							</div>
						</v-col>

						<v-col md="3"></v-col>

						<v-col md="5">
							<div class="d-flex">
								<v-checkbox
									v-model="checkbox"
									label="По доверенности"
									class="mt-0"
								></v-checkbox>

								<div v-if="checkbox" class="d-flex flex-column ml-2 w-300px">
									<div class="d-flex">
										<v-text-field
											v-model="standardActModel.document.doverennost_number"
											outlined
											hide-details
											background-color="var(--input-bg)"
											dense
											class="ml-2"
											placeholder="Номер"
										/>

										<app-date-picker
											v-model="standardActModel.document.doverennost_date"
											class="ml-4"
											with-input
											dense
											background-color="var(--input-bg)"
											clearable
										/>
									</div>

									<v-text-field
										v-model="standardActModel.document.doverennost_agent_pinfl"
										outlined
										hide-details
										background-color="var(--input-bg)"
										dense
										class="ml-2 mt-2"
										placeholder="ПИНФЛ"
									/>

									<v-text-field
										v-model="standardActModel.document.doverennost_agent_name"
										outlined
										hide-details
										background-color="var(--input-bg)"
										dense
										class="ml-2 mt-2"
										placeholder="Ф.И.О"
									/>
								</div>
							</div>
						</v-col>
					</v-row>

					<div class="d-flex mt-4 justify-end">
						<app-button
							min-width="100"
							class="ml-2"
							@click="createDocument"
						>
							<template>
								Создать документ
							</template>
						</app-button>
					</div>
				</div>
			</template>
		</app-wrapper>
	</div>
</template>

<script>
import {mapActions, mapGetters, mapState} from "vuex";

export default {
	name: "Part4",
	data() {
		return {
			checkbox: false,
			employeeList: [],

			chairmanSelected: {
				id: 2093,
				account: {
					username: "buh@asakabank.uz",
					firstName: "Kudratilla ",
					lastName: "Tulyaganov",
					middleName: "Asatullayevich"
				},
				position: "Руководитель ГО",
			},
			accountantSelected: {
				id: 54541,
				account: {
					username: "998900360035",
					firstName: "Алишер",
					lastName: "Давлатов ",
					middleName: "Сапарович"
				},
				position: "Главный бухгалтер ГО",
			},

			documentContent: {}
		}
	},
	computed: {
		...mapState({
			invoiceReceiverDetails: state => state.facture.invoiceReceiverDetails,
			standardActModel: state => state.facture.standardActModel,
		}),
		...mapGetters({
			isLoading: "facture/getIsDocumentDetailLoading",
			documentDetail: "facture/getDocumentDetail",
		})
	},
	mounted() {
		this.getEmployeeList();
	},
	methods: {
		...mapActions({
			fetchGetDocumentContent: "facture/fetchGetDocumentContent",
			fetchGetInvoiceReceiverDetails: "facture/fetchGetInvoiceReceiverDetails"
		}),
		createDocument() {
			this.$http.post(`/facture/act_rouming/create/`, this.standardActModel)
				.then(res => {
					console.log(res);
				})
				.catch(err => {
					console.log("ERR", err)
				})
		},
		/**/
		setApproverSigners(){
			this.standardActModel.approver_and_signers.signer_director.last_name = this.chairmanSelected.account.lastName;
			this.standardActModel.approver_and_signers.signer_director.first_name = this.chairmanSelected.account.firstName;
			this.standardActModel.approver_and_signers.signer_director.middle_name = this.chairmanSelected.account.middleName;
			this.standardActModel.approver_and_signers.signer_director.position = this.chairmanSelected.position;

			this.standardActModel.approver_and_signers.signer_accountant.last_name = this.accountantSelected.account.lastName;
			this.standardActModel.approver_and_signers.signer_accountant.first_name = this.accountantSelected.account.firstName;
			this.standardActModel.approver_and_signers.signer_accountant.middle_name = this.accountantSelected.account.middleName;
			this.standardActModel.approver_and_signers.signer_accountant.position = this.accountantSelected.position;
		},
		/*
		*
		* */
		getEmployeeList(){
			this.$axios.get(`/facture/employee/list/`)
				.then((res) => {
					this.employeeList = res.data;
					this.setApproverSigners();
				})
		},
		/****************/
		setChairman(item){
			if (item){
				this.standardActModel.approver_and_signers.signer_director.last_name = item.account.lastName;
				this.standardActModel.approver_and_signers.signer_director.first_name = item.account.firstName;
				this.standardActModel.approver_and_signers.signer_director.middle_name = item.account.middleName;
				this.standardActModel.approver_and_signers.signer_director.position = item.position;
			}
		},
		/**/
		setAccountant(item){
			if (item){
				this.standardActModel.approver_and_signers.signer_accountant.last_name = item.account.lastName;
				this.standardActModel.approver_and_signers.signer_accountant.first_name = item.account.firstName;
				this.standardActModel.approver_and_signers.signer_accountant.middle_name = item.account.middleName;
				this.standardActModel.approver_and_signers.signer_accountant.position = item.position;
			}
		},
		/****************/
		preview(){

		},
		/**/
		getFactureDetail(id){

		}
	}
}
</script>

<style scoped>

</style>
