<template>
	<div class="standard-act">
		<template v-if="loading">
			<app-loader content-width :size="54" />
		</template>
		<template v-else>
			<app-wrapper>
				<template #body>
					<h2 class="font-400 text-dark-grey">Акт</h2>
				</template>
			</app-wrapper>

			<part1 />

			<part2 />

			<part3-table />

			<part4 />
		</template>
	</div>
</template>

<script>
import Part1 from "./Part1.vue";
import Part2 from "./Part2.vue";
import Part3Table from "./Part3Table.vue";
import Part4 from "./Part4.vue";
import {mapActions, mapGetters, mapState} from "vuex";
import {factureAdjustItems} from "../../../../../../../common/helpers";

export default {
	name: "StandardActBase",
	components: {
		Part1,
		Part2,
		Part3Table,
		Part4
	},
	data() {
		return {
			documentContent: {},
			loading: false
		}
	},
	computed: {
		...mapState({
			invoiceReceiverDetails: state => state.facture.invoiceReceiverDetails,
			standardActModel: state => state.facture.standardActModel,
		}),
		...mapGetters({
			isLoading: "facture/getIsDocumentDetailLoading",
			documentDetail: "facture/getDocumentDetail",
		})
	},
	mounted() {
		this.getActById();
	},
	methods: {
		...mapActions({
			fetchGetDocumentContent: "facture/fetchGetDocumentContent",
			fetchGetInvoiceReceiverDetails: "facture/fetchGetInvoiceReceiverDetails"
		}),
		getActById(){
			if (this.$route.query.isFactureCreated){
				this.loading = true;
				this.fetchGetDocumentContent({ id: this.$route.query.factureID })
					.then((data) => {
						if (data.Success && data.Documents && data.Documents.length){
							this.documentContent = data.Documents[0].Content;
							factureAdjustItems(data.Documents[0].Content.invoiceServices).then(data => {
								this.standardActModel.document.items = data
								this.standardActModel.document.document_number = this.documentContent.invoiceNumber;
								this.standardActModel.document.contract_number = this.documentContent.invoiceContractNumber;
								this.standardActModel.document.document_date = this.documentContent.invoiceDate;
								this.standardActModel.document.contract_date = this.documentContent.invoiceContractDate;
								this.standardActModel.receiver.receiver_info.inn = this.documentContent.contractorInn;
								this.standardActModel.document.column_summary_values.column_subtotal_with_taxes = this.documentContent.invoiceServicesDeliveryCostWithTaxesTotal;

								this.fetchGetInvoiceReceiverDetails(this.documentContent.contractorInn).then(data => {
									this.loading = false;
								})
							})
						}
					})
			}
		}
	}
}
</script>

<style scoped>

</style>
