<template>
	<incoming-form form-type="CREATE" />
</template>

<script>
import IncomingForm from "./components/IncomingForm";

export default {
	name: "Create",
	components: {
		IncomingForm
	}
}
</script>

<style scoped>

</style>
