<template>
	<div class="incoming-detail-view">
		<template v-if="isLoading">
			<app-loader full-width />
		</template>

		<template v-else>
			<layout-with-tabs
				:layout-title="reviewGetOne.register_number"
				:layout-status-text="reviewGetOne && reviewGetOne.status && reviewGetOne.status.name"
				:tree-list="treeList"
				:object-id="reviewGetOne.id"
				:files-list="filesList"
				:resolution="resolution"
				:is-verified="assignment && assignment.is_verified"
				:compose-id="reviewGetOne && reviewGetOne.compose_detail && reviewGetOne.compose_detail.compose_id"
				@emit:watch-resolution-child="watchResolutionChild"
				@emit:watch-resolution-parent="watchResolutionParent"
			>
				<template #toolbar>
					<update-button
						:roles="['admin', 'chancellery', 'chancellery_admin', 'filial_chancellery', 'registration_incoming']"
						route-name="IncomingDocumentRegistrationFormShow"
					/>
				</template>

				<template #content>
					<detail-content
						:columns="detailModel"
						:done-time="reviewGetOne.modified_date"
					/>
				</template>

				<template #activity>
					<activity-table
						:obj-id="reviewGetOne.id"
					/>
				</template>

				<template #files>
					<files-table
						:incoming-doc="reviewGetOne.id"
					/>
				</template>
			</layout-with-tabs>
		</template>
	</div>
</template>

<script>
import DetailContent from "../../../../../common/components/DetailLayout/DetailContent.vue";
import LayoutWithTabs from "../../../../../common/components/DetailLayout/LayoutWithTabs.vue";
import {mapActions, mapGetters, mapMutations, mapState} from "vuex";
import {combineKeysDocumentDetail} from "../../../../../common/helpers";
import ActivityTable from "../../BoxesNew/Review/components/ActivityTable.vue";
import FilesTable from "../../BoxesNew/Review/components/FilesTable.vue";
import {FILE_EXTENSIONS} from "../../../../../common/enums/notificationTypes";
import { Edit3Icon } from "vue-feather-icons";
import UpdateButton from "../components/UpdateButton.vue";

export default {
	name: "Detail",
	components: {
		FilesTable,
		ActivityTable,
		DetailContent,
		LayoutWithTabs,
		Edit3Icon,
		UpdateButton
	},
	data() {
		return {
			detailModel: null,
			filesList: [],
		}
	},
	computed: {
		...mapState({
			indexTableCols: state => state.documentFlowRegistrationIncoming.indexTableCols,
			assignment: state => state.documentFlowModule.assignment,
			treeList: state => state.treeView.treeList,
			resolutionPerformersList: state => state.documentFlowBoxesInbox.resolutionPerformersList,
		}),
		...mapGetters({
			currentUser: "auth/getCurrentUser",
			reviewGetOne: "documentFlowModule/getReviewGetOne",
			isLoading: "getDetailLoading",
			attachDocumentsList: "documentFlowModule/getAttachDocumentsList",
		}),
		/**/
		resolution() {
			if(!this.assignment) {
				return {
					register_number: this.reviewGetOne.register_number,
					deadline: this.reviewGetOne.assignees?.deadline,
					register_date: this.reviewGetOne.register_date,
					receipt_date: this.reviewGetOne.assignees && this.reviewGetOne.assignees.receipt_date,
					signer: this.reviewGetOne.user,
					banner: true
				}
			}

			return {
				...this.assignment,
				register_number: this.reviewGetOne.register_number,
				deadline: this.reviewGetOne.assignees?.deadline,
				register_date: this.reviewGetOne.register_date,
				signer: this.reviewGetOne.signer,
				banner: true,
				check_id: this.reviewGetOne.check_id,
				journal: this.reviewGetOne.journal.name,
				assignment: this.reviewGetOne.assignment,
				content: this.reviewGetOne.content
			}
		},
	},
	async mounted() {
		if (this.$route.params.id) {
			await this.fetchIncomingDocumentById(this.$route.params.id);
			await this.getAttachFilesList();
			setTimeout(() => {
				this.combineDetailKeys();
			}, 100)
		}
	},
	methods: {
		...mapMutations({
			SET_ASSIGNMENT: "documentFlowModule/SET_ASSIGNMENT"
		}),
		...mapActions({
			fetchIncomingDocumentById: "documentFlowModule/fetchIncomingDocumentById",
			fetchAttachFiles: "documentFlowModule/fetchAttachFiles",
			fetchAttachFilesList: "documentFlowModule/fetchAttachFilesList",
			fetchAssignmentList: "documentFlowModule/fetchAssignmentList",
			fetchGetResolutionPerformers: "documentFlowBoxesInbox/fetchGetResolutionPerformers",
		}),
		/**/
		async getAttachFilesList() {
			await this.fetchAttachFilesList({
				incomingDocId: this.$route.params.id
			});

			this.filesList = this.attachDocumentsList.filter(doc => doc.document).map(file => {
				return {
					name: file.document && file.document.name,
					url: file.document && file.document.url,
					extension: FILE_EXTENSIONS.FILE
				}
			})

			this.filesList.unshift({
				name: this.$t("components.chip-asakabank"),
				extension: FILE_EXTENSIONS.RESOLUTION
			})
		},
		/**/
		async watchResolutionParent(tree) {
			if(tree.assignees && tree.assignees.length) {
				let first = tree.assignees[0]
				await this.fetchAssignmentList({id: tree.id})
				this.SET_ASSIGNMENT({
					...this.reviewGetOne,
					signer: tree.user,
					check_id: this.assignment?.check_id,
					assignment: this.assignment.assignment,
					content: first.content
				})
			}
		},
		/**/
		async watchResolutionChild(children) {
			if(children && children.length) {
				await this.fetchAssignmentList({id: children[0].assignment.review.id});
				let first = children[0]
				await this.fetchGetResolutionPerformers({id: first.assignment.id});
				this.SET_ASSIGNMENT({
					...this.reviewGetOne,
					assignment: this.resolutionPerformersList.performers,
					check_id: this.assignment?.check_id,
					signer: null,
					content: first.assignment.content
				})
			}
		},
		/**/
		combineDetailKeys() {
			this.detailModel = combineKeysDocumentDetail(this.indexTableCols, this.reviewGetOne);
		}
	}
}
</script>

<style scoped>

</style>
