<template>
	<div class="incoming-view">
		<ui-data-table
			:height="tableHeight"
			:headers-list="indexTableCols"
			:filter-state="indexTableFilters"
			:filter-storage-name="INCOMING_FILTER"
			:config-column-storage-name="INCOMING_COLUMN"
			:api-url="`docflow/${currentUser.filial}/incoming`"
			:api-params="{ journal: 1 }"
			@saveConfigColumn="saveConfigColumn"
			@resetConfigColumn="resetConfigColumn"
			@clearFilter="clearFilter"
			@deleteSavedFilter="clearFilter"
		>
      <template #index="{ value, item }">
        <span class="ma-auto">{{ item.index }}</span>
      </template>

			<!-- new route name => IncomingRegistrationDetail -->
      <template #priority="{ value, item }">
				<router-link
					:to="{
            name: 'IncomingRegistrationDetail',
            params: {
              id: item.id
            }
          }"
				>
					<ui-priority
						v-if="value"
						:text="value"
					/>
				</router-link>
			</template>

      <template #title="{ value, item }">
        <router-link
          :to="{
            name: 'IncomingRegistrationDetail',
            params: {
              id: item.id
            }
          }"
        >
          {{ value }}
        </router-link>
      </template>

			<template #doc_type="{ value, item }">
				<router-link
					:to="{
            name: 'IncomingRegistrationDetail',
            params: {
              id: item.id
            }
          }"
				>
					{{ value.name }}
				</router-link>
			</template>

			<template #register_number="{ value, item }">
				<router-link
					:to="{
            name: 'IncomingRegistrationDetail',
            params: {
              id: item.id
            }
          }"
				>
					{{ value }}
					<span v-if="item.delivery_type" class="ml-2">
						{{ item.delivery_type.name }}
					</span>
				</router-link>
			</template>

			<template #outgoing_number="{ value, item }">
				<router-link
					:to="{
            name: 'IncomingRegistrationDetail',
            params: {
              id: item.id
            }
          }"
				>
					{{ value }}
				</router-link>
			</template>

			<template #register_date="{ value, item }">
				<router-link
					:to="{
            name: 'IncomingRegistrationDetail',
            params: {
              id: item.id
            }
          }"
				>
					{{ value | filterCalendarToTime }}
				</router-link>
			</template>

			<template #outgoing_date="{ value, item }">
				<router-link
					:to="{
            name: 'IncomingRegistrationDetail',
            params: {
              id: item.id
            }
          }"
				>
					{{ value | filterCalendarToTime }}
				</router-link>
			</template>

			<template #correspondent="{ value, item }">
				<router-link
					:to="{
            name: 'IncomingRegistrationDetail',
            params: {
              id: item.id
            }
          }"
				>
					{{ value.organization_name }}
				</router-link>
			</template>

			<template #created_by="{ value, item }">
				<router-link
					:to="{
            name: 'IncomingRegistrationDetail',
            params: {
              id: item.id
            }
          }"
				>
					<ui-avatar-group
						:avatar-list="[value]"
					/>
				</router-link>
			</template>

			<template #review_users="{ value, item }">
				<router-link
					:to="{
            name: 'IncomingRegistrationDetail',
            params: {
              id: item.id
            }
          }"
				>
					<ui-avatar-group
						:avatar-list="value"
					/>
				</router-link>
			</template>

			<template #__delivery_type.name="{ value, item }">
				<router-link
					:to="{
            name: 'IncomingRegistrationDetail',
            params: {
              id: item.id
            }
          }"
				>
          <span>
            {{ item.delivery_type && item.delivery_type.name }}
          </span>
				</router-link>
			</template>

			<template #deadline="{ value, item }">
				<router-link
					:to="{
            name: 'IncomingRegistrationDetail',
            params: {
              id: item.id
            }
          }"
				>
          <span>
            {{ value | filterCalendarToTime }}
          </span>
				</router-link>
			</template>

			<template #status.name="{ value, item }">
				<router-link
					:to="{
            name: 'IncomingRegistrationDetail',
            params: {
              id: item.id
            }
          }"
				>
					<ui-status
						v-if="value"
						:text="value"
					/>
				</router-link>
			</template>

			<template #filterBody>
				<incoming-table-filter />
			</template>

			<template #headerAction>
				<register-button />
			</template>
		</ui-data-table>
	</div>
</template>

<script>
import {mapActions, mapGetters, mapState} from "vuex";
import { INCOMING_COLUMN, INCOMING_FILTER } from "@/common/constants"
import { getItem } from "@/services/jwt.service"
import IncomingTableFilter from "./components/IncomingTableFilter"
import RegisterButton from "../components/RegisterButton"

export default {
	name: "index",
	components: {
		IncomingTableFilter,
		RegisterButton
	},
	data() {
		return {
			INCOMING_COLUMN,
			INCOMING_FILTER,
			filterState: {}
		}
	},
	computed: {
		...mapState({
			indexTableCols: state => state.documentFlowRegistrationIncoming.indexTableCols,
			indexTableFilters: state => state.documentFlowRegistrationIncoming.indexTableFilters
		}),
		/**/
		...mapGetters({
			currentUser: "auth/getCurrentUser"
		}),
		/**/
		tableHeight() {
			return document.documentElement.clientHeight - 250
		},

	},
	created() {
		this.setSavedTableCols()
		this.setSavedFilters()
	},
	methods: {
		...mapActions({
			setActiveIndexTableCols: "documentFlowRegistrationIncoming/setActiveIndexTableCols",
			resetIndexTableCols: "documentFlowRegistrationIncoming/resetIndexTableCols",
			resetIndexTableFilters: "documentFlowRegistrationIncoming/resetIndexTableFilters",
			setActiveIndexTableFilters: "documentFlowRegistrationIncoming/setActiveIndexTableFilters",
		}),
		/**/
		saveConfigColumn(columns) {
			this.setActiveIndexTableCols(columns)
		},
		/**/
		resetConfigColumn() {
			this.resetIndexTableCols()
		},
		/**/
		setSavedTableCols() {
			let savedColsFromStorage = JSON.parse(getItem(this.INCOMING_COLUMN)) ?? {}

			if(Object.keys(savedColsFromStorage).length) {
				this.setActiveIndexTableCols(savedColsFromStorage)
			} else {
				this.setActiveIndexTableCols(this.indexTableCols)
			}
		},
		/**/
		async clearFilter() {
			await this.resetIndexTableFilters()
		},
		/**/
		setSavedFilters() {
			if(this.$route.query) {
				let savedFiltersFromStorage = JSON.parse(getItem(this.INCOMING_FILTER)) ?? {}
				delete this.$route.query.page
				delete this.$route.query.page_size

				if(Object.keys(savedFiltersFromStorage).length) {
					this.setActiveIndexTableFilters(savedFiltersFromStorage)
				} else {
					this.setActiveIndexTableFilters(this.$route.query)
				}
			}
		}
	}
}
</script>

<style scoped>

</style>
