<template>
	<div class="resolution-tree-view">
		<h1 class="small-1 mb-4">Резолюция</h1>

    <div class="tree-container">
      <template v-for="(tree, index) in treeList">
        <div>
          <div class="d-flex align-center mt-5 mb-3">
            <span class="size-13 primary-text font-500">На рассмотрение</span>

            <v-sheet
              width="4"
              height="4"
              color="#65696B"
              rounded
              class="mx-1"
            />

            <span class="size-13">{{ tree.created_date | filterCalendarToTime }}</span>
          </div>

          <div
            class="mt-2"
            :class="{
              'expansion-panels-tree': tree.assignees && tree.assignees.length
            }"
          >
            <div
              v-if="tree.user"
              class="tree-item layout-border rounded-10"
            >
              <div class="d-flex py-2 px-3">
                <v-avatar :color="tree.user.color" size="36">
                  <template #default>
                    <span class="text-white small-3 font-500">{{ tree.user.full_name[0] }}</span>
                  </template>
                </v-avatar>

                <div class="flex-1 mx-2">
                  <div class="d-flex align-center">
                    <span class="small-2 font-500 line-base">{{ tree.user.full_name }}</span>

                    <v-sheet
                      width="4"
                      height="4"
                      color="#65696B"
                      rounded
                      class="mx-2"
                    />

                    <span class="size-13 font-500">{{ tree.user.cisco }}</span>
                  </div>

                  <div class="d-flex align-center">
	                  <template v-if="tree.is_responsible">
		                  <ui-status text="TO DO" style="margin-top: 2px; margin-right: 8px;">
			                  {{ $t("control-tasks.tasks.affirmative-response") }}
		                  </ui-status>
	                  </template>

                    <span class="size-13 font-500">
                      <!-- Документ еще не ознакомлен -->
                      <template v-if="!tree.read_time">Еще не ознакомлен</template>
                      <!-- /Документ еще на ознакомлен -->

                      <!-- Документ исполнен -->
                      <template v-else-if="tree.status.id === STATUS_CODES.DONE">Выполнено</template>
                      <!-- /Документ исполнен -->

                      <!-- Документ ознакомлен -->
                      <template v-else>Ознакомлен</template>
                      <!-- /Документ ознакомлен -->
                    </span>

                    <v-sheet
                      width="4"
                      height="4"
                      color="#65696B"
                      rounded
                      class="mx-1"
                    />

                    <span class="size-13">
                      <!-- Документ исполнен -->
                      <template v-if="tree.read_time && tree.status.id === STATUS_CODES.DONE">
                        {{ tree.modified_date | filterCalendarToTime }}
                      </template>
                      <!-- /Документ исполнен -->

                      <!-- Документ ознакомлен -->
                      <template v-if="tree.read_time && tree.status.id !== STATUS_CODES.DONE">
                        {{ tree.read_time | filterCalendarToTime }}
                      </template>
                      <!-- /Документ ознакомлен -->
                    </span>
                  </div>
                </div>

                <div>
                  <ui-status :text="tree.status.name" />
                </div>
              </div>

              <div v-if="tree.text" class="pb-2 px-3">
                <span class="small-2 reset-space" v-html="tree.text"></span>
              </div>
            </div>

            <template v-if="tree.assignees && tree.assignees.length > 0">
              <div class="app-collapse app-collapse--active-border-none">
                <v-expansion-panels :value="0">
                  <v-expansion-panel>
                    <v-expansion-panel-header class="layout-border">
                      <div class="d-flex align-center">
                        <span class="text-2 size-13 font-500">Подзадача</span>

                        <v-sheet
                          color="var(--bg-2)"
                          width="32"
                          height="20"
                          class="d-flex align-center justify-center rounded-10 ml-2"
                        >
                          <span class="small-3 font-500">{{ tree.assignees.length }}</span>
                        </v-sheet>

                        <v-spacer />

                        <div class="mr-1">
                          <app-tooltip top>
                            <template #content>
                              <button
                                class="d-flex align-center"
                                @click="watchResolutionParent($event, tree)"
                              >
                                <eye-icon size="14" class="text-2" />
                                <span class="ml-1 text-2 size-13 font-500">{{ $t("document-flow.views.boxes.resolution") }}</span>
                              </button>
                            </template>

                            <template #text>
                              <span>{{ $t("show-resolution") }}</span>
                            </template>
                          </app-tooltip>
                        </div>
                      </div>
                    </v-expansion-panel-header>

                    <v-expansion-panel-content class="overflow-hidden">
                      <template v-for="child in tree.assignees">
                        <template v-for="assignment in child.assignment">
                          <tree-item
                            :item="assignment"
                            class="tree-child-item ml-11"
                            @emit:watch-resolution="(value) => $emit('emit:watch-resolution-child', value)"
                          />
                        </template>
                      </template>
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                </v-expansion-panels>
              </div>
            </template>
          </div>
        </div>
      </template>
    </div>

<!--		<div>
      <ui-tabs
	      v-model="resolutionTab"
	      mode="segment"
	      :show-arrows="false"
        hide-slider
      >
        <v-tab>
          <span class="text-transform-none line-base small-2 text-truncate">Все</span>
        </v-tab>

        <v-tab>
          <span class="text-transform-none line-base small-2 text-truncate">В процессе</span>
        </v-tab>

        <v-tab>
          <span class="text-transform-none line-base small-2 text-truncate">Выполнено</span>
        </v-tab>

        <v-tab>
          <span class="text-transform-none line-base small-2 text-truncate">Отмененные</span>
        </v-tab>
      </ui-tabs>

      <div class="tree-container">
        <v-tabs-items v-model="resolutionTab">
          <v-tab-item>
	          <template v-for="tree in treeList">
              <div>
                <div class="d-flex align-center mt-5 mb-3">
                  <span class="size-13 primary-text font-500">На рассмотрение</span>

                  <v-sheet
                    width="4"
                    height="4"
                    color="#65696B"
                    rounded
                    class="mx-1"
                  />

                  <span class="size-13">{{ tree.created_date | filterCalendarToTime }}</span>
                </div>

                <div
                  class="mt-2"
                  :class="{
							      'expansion-panels-tree': tree.assignees && tree.assignees.length
							    }"
                >
                  <div
                    v-if="tree.user"
                    class="tree-item layout-border rounded-10"
                  >
                    <div class="d-flex py-2 px-3">
                      <v-avatar :color="tree.user.color" size="36">
                        <template #default>
                          <span class="text-white small-3 font-500">{{ tree.user.full_name[0] }}</span>
                        </template>
                      </v-avatar>

                      <div class="flex-1 mx-2">
                        <div class="d-flex align-center">
                          <span class="small-2 font-500 line-base">{{ tree.user.full_name }}</span>

                          <v-sheet
                            width="4"
                            height="4"
                            color="#65696B"
                            rounded
                            class="mx-2"
                          />

                          <span class="size-13 font-500">{{ tree.user.cisco }}</span>
                        </div>

                        <div class="d-flex align-center">
                          <span class="size-13 font-500">
                            &lt;!&ndash; Документ еще не ознакомлен &ndash;&gt;
                            <template v-if="!tree.read_time">Еще не ознакомлен</template>
                            &lt;!&ndash; /Документ еще на ознакомлен &ndash;&gt;

                            &lt;!&ndash; Документ исполнен &ndash;&gt;
                            <template v-else-if="tree.status.id === STATUS_CODES.DONE">Выполнено</template>
                            &lt;!&ndash; /Документ исполнен &ndash;&gt;

                            &lt;!&ndash; Документ ознакомлен &ndash;&gt;
                            <template v-else>Ознакомлен</template>
                            &lt;!&ndash; /Документ ознакомлен &ndash;&gt;
                          </span>

                          <v-sheet
                            width="4"
                            height="4"
                            color="#65696B"
                            rounded
                            class="mx-1"
                          />

                          <span class="size-13">
                            &lt;!&ndash; Документ исполнен &ndash;&gt;
                            <template v-if="tree.read_time && tree.status.id === STATUS_CODES.DONE">
                              {{ tree.modified_date | filterCalendarToTime }}
                            </template>
                            &lt;!&ndash; /Документ исполнен &ndash;&gt;

                            &lt;!&ndash; Документ ознакомлен &ndash;&gt;
                            <template v-if="tree.read_time && tree.status.id !== STATUS_CODES.DONE">
                              {{ tree.read_time | filterCalendarToTime }}
                            </template>
                            &lt;!&ndash; /Документ ознакомлен &ndash;&gt;
                          </span>
                        </div>
                      </div>

                      <div>
                        <ui-status :text="tree.status.name" />
                      </div>
                    </div>

                    <div v-if="tree.text" class="pb-2 px-3">
                      <span class="small-2">{{ tree.text }}</span>
                    </div>
                  </div>

                  <template v-if="tree.assignees && tree.assignees.length > 0">
                    <div class="app-collapse app-collapse&#45;&#45;active-border-none">
                      <v-expansion-panels>
                        <v-expansion-panel>
                          <v-expansion-panel-header class="layout-border">
                            <div class="d-flex align-center">
                              <span class="text-2 size-13 font-500">Подзадача</span>

                              <v-sheet
                                color="var(&#45;&#45;bg-2)"
                                width="32"
                                height="20"
                                class="d-flex align-center justify-center rounded-10 ml-2"
                              >
                                <span class="small-3 font-500">{{ tree.assignees.length }}</span>
                              </v-sheet>

                              <v-spacer />

                              <div class="mr-1">
                                <app-tooltip top>
                                  <template #content>
                                    <button
                                      class="d-flex align-center"
                                      @click="watchResolutionParent($event, tree)"
                                    >
                                      <eye-icon size="14" class="text-2" />
                                      <span class="ml-1 text-2 size-13 font-500">{{ $t("document-flow.views.boxes.resolution") }}</span>
                                    </button>
                                  </template>

                                  <template #text>
                                    <span>{{ $t("show-resolution") }}</span>
                                  </template>
                                </app-tooltip>
                              </div>
                            </div>
                          </v-expansion-panel-header>

                          <v-expansion-panel-content class="overflow-hidden">
                            <template v-for="child in tree.assignees">
	                            <template v-for="assignment in child.assignment">
		                            <tree-item
                                  :item="assignment"
                                  class="tree-child-item ml-11"
                                  @emit:watch-resolution="(value) => $emit('emit:watch-resolution-child', value)"
                                />
	                            </template>
                            </template>
                          </v-expansion-panel-content>
                        </v-expansion-panel>
                      </v-expansion-panels>
                    </div>
                  </template>
                </div>
              </div>
	          </template>
          </v-tab-item>

          <v-tab-item>2</v-tab-item>

          <v-tab-item>3</v-tab-item>

          <v-tab-item>4</v-tab-item>
        </v-tabs-items>
      </div>
		</div>-->
	</div>
</template>

<script>
import { EyeIcon } from "vue-feather-icons"
import TreeItem from "@/common/components/TreeView/TreeItem.vue"
import { STATUS_CODES } from "@/common/enums/notificationTypes"
export default {
	name: "ResolutionTree",
	props: {
		treeList: {
			type: Array,
			default: () => []
		}
	},
	components: {
    EyeIcon,
		TreeItem
	},
	data() {
		return {
			resolutionTab: null,
      STATUS_CODES,
      expansion: [0]
		}
	},
  methods: {
    watchResolutionParent($event, tree) {
      $event.stopImmediatePropagation()

      this.$emit("emit:watch-resolution-parent", tree)
    }
  }
}
</script>

<style>
.tree-container {
	max-width: 750px;
	width: 100%;
}
</style>
