<template>
	<div v-if="selfVisible" class="tree-view-change-status d-flex">
		<app-tooltip top>
			<template #content>
				<div
					class="bg-primary-light pointer rounded py-1 px-2"
					@click="doneDocumentDialog = !doneDocumentDialog"
				>
					<v-icon size="16" color="primary">mdi-check</v-icon>
				</div>
			</template>

			<template #text>
				{{ $t("confirmResponse") }}
			</template>
		</app-tooltip>

		<app-tooltip top>
			<template #content>
				<div
					class="bg-critic-100 pointer rounded py-1 px-2 ml-1"
					@click="cancelDocumentDialog = !cancelDocumentDialog"
				>
					<v-icon size="16" color="danger">mdi-close</v-icon>
				</div>
			</template>

			<template #text>
				{{ $t("rejectResponse") }}
			</template>
		</app-tooltip>

<!--		<template v-if="['admin'].some(role => currentUser.roles.includes(role))">
			<app-tooltip top>
				<template #content>
					<div
						class="bg-primary-light pointer rounded py-1 px-2 ml-1"
						@click="makeDone"
					>
						<v-icon size="16" color="primary">mdi-check-circle</v-icon>
					</div>
				</template>

				<template #text>
					{{ $t("makeDone") }}
				</template>
			</app-tooltip>
		</template>-->


		<!-- Подтвердить документ -->
		<change-status-modal
			v-model="doneDocumentDialog"
			:success-button-loading="doneDocumentSuccessButton"
			title="document-flow.views.boxes.follow-document"
			success-text="document-flow.views.boxes.follow-document"
			textarea-type="template"
			content-height="350px"
			@emit:close="(value) => doneDocumentDialog = value"
			@emit:success-button="doneDocument"
		/>
		<!-- /Подтвердить документ -->

		<!-- Отказать документ -->
		<change-status-modal
			v-model="cancelDocumentDialog"
			:success-button-loading="cancelDocumentSuccessButton"
			title="cancel-document"
			success-text="cancel-document"
			textarea-type="template"
			content-height="350px"
			@emit:close="(value) => cancelDocumentDialog = value"
			@emit:success-button="cancelDocument"
		/>
		<!-- /Отказать документ -->
	</div>
</template>

<script>
import { ChangeStatusModal } from "@/common/components/Modal"
import {mapActions, mapGetters} from "vuex";
export default {
	name: "TreeViewChangeStatus",
	components: {
		ChangeStatusModal
	},
	props: {
		assignment: {
			type: Object,
			default: () => {},
			required: true
		}
	},
	data() {
		return {
			doneDocumentDialog: false,
			doneDocumentSuccessButton: false,
			cancelDocumentDialog: false,
			cancelDocumentSuccessButton: false
		}
	},
	computed: {
		...mapGetters({
			currentUser: "auth/getCurrentUser"
		}),
		selfVisible() {
			return (this.$route.name === 'ConfirmationDetail' && (this.assignment?.status?.id === 3 || this.currentUser.id === 10170))
				|| (['IncomingRegistrationDetail', 'InnerRegistrationDetail', 'OutgoingRegistrationDetail', 'AppealRegistrationDetail', 'OrderProtocolRegistrationDetail', 'ApplicationRegistrationDetail', 'SecretDocumentsRegistrationDetail'].includes(this.$route.name) && (['admin'].some(role => this.currentUser.roles.includes(role)) || this.currentUser.id === 10170))
		}
	},
	methods: {
		...mapActions({
			fetchTreeUsersList: "treeView/fetchTreeUsersList",
		}),
		doneDocument(val) {
			this.doneDocumentSuccessButton = true
			this.$axios.put(`/v2/docflow/${this.currentUser.filial}/verify-or-cancel-assignment/${this.assignment.id}/`, {
				status: 4,
				reason: val,
				user: this.assignment.user.id,
				countdown: null
			})
				.then((data) => {
					this.doneDocumentSuccessButton = false
					this.doneDocumentDialog = false
					this.fetchTreeUsersList({ treeId: ['InboxDetail'].includes(this.$route.name) ? this.assignment.document.id : this.$route.params.id })
				})
				.catch(err => {
					this.doneDocumentSuccessButton = false
				})
		},
		/** **/
		cancelDocument(val){
			this.cancelDocumentSuccessButton = true
			this.$axios.put(`/v2/docflow/${this.currentUser.filial}/verify-or-cancel-assignment/${this.assignment.id}/`, {
				status: 6,
				reason: val,
				user: this.assignment.user.id,
				countdown: null
			})
				.then((data) => {
					this.cancelDocumentSuccessButton = false
					this.cancelDocumentDialog = false
					this.fetchTreeUsersList({ treeId: ['InboxDetail'].includes(this.$route.name) ? this.assignment.document.id : this.$route.params.id })
				})
				.catch(err => {
					this.cancelDocumentSuccessButton = false
				})
		},
		/** **/
		makeDone() {

		}
	}
}
</script>

<style scoped>

</style>
