<template>
	<div v-if="selfVisible" class="tree-view-countdown">
		<app-tooltip top>
			<template #content>
				<vue-countdown
					:time="differenceBetweenDates"
					:transform="transformSlotProps"
					v-slot="{ days, totalHours, minutes, seconds }"
					@end="makeDone"
				>
					<div class="bg-primary-light py-1 px-2 rounded" style="color: var(--primary-1); max-width: 100px; min-width: 82px">
						{{ totalHours }} : {{ minutes }} : {{ seconds }}
					</div>
				</vue-countdown>
			</template>

			<template #text>
				{{ $t("countdownDescription") }}
			</template>
		</app-tooltip>
	</div>
</template>

<script>
import { differenceInMilliseconds } from 'date-fns';
import VueCountdown from "@chenfengyuan/vue-countdown";
import {mapActions, mapGetters} from "vuex";
export default {
	name: "TreeViewCountdown",
	components: {
		VueCountdown
	},
	props: {
		assignment: {
			type: Object,
			default: () => {},
			required: true
		}
	},
	computed: {
		...mapGetters({
			currentUser: "auth/getCurrentUser"
		}),
		differenceBetweenDates() {
			if (this.assignment && this.assignment.countdown) {
				return differenceInMilliseconds(new Date(this.assignment.countdown), new Date())
			}
			return null
		},
		selfVisible() {
			return this.assignment?.status?.id === 3 && this.assignment?.countdown
		}
	},
	methods: {
		...mapActions({
			fetchTreeUsersList: "treeView/fetchTreeUsersList",
		}),
		transformSlotProps(props) {
			const formattedProps = {};

			Object.entries(props).forEach(([key, value]) => {
				formattedProps[key] = value < 10 ? `0${value}` : String(value);
			});

			return formattedProps;
		},
		/** **/
		makeDone() {
			if (this.assignment?.status?.id === 3) {
				this.$axios.put(`/v2/docflow/${this.currentUser.filial}/verify-or-cancel-assignment/${this.assignment.id}/`, {
					status: 4,
					reason: "24 soat ichida xat yuboruvchi tomonidan javob berilmagandan keyin avtomatik ravishda tasdiqlandi!",
					user: this.assignment.user.id,
					countdown: null
				})
					.then((data) => {
						this.fetchTreeUsersList({ treeId: this.$route.name === 'InboxDetail' ? this.$route.query.document_id : this.$route.params.id })
					})
					.catch(err => {
						console.log(err)
					})
			}
		}
	},
}
</script>

<style scoped>

</style>
