<template>
  <div
    class="mt-2"
    :class="{
      'expansion-panels-tree': item.children.length
    }"
  >
    <div
      v-if="item.user"
      class="tree-item layout-border rounded-10"
    >
      <div class="d-flex py-2 px-3">
        <v-avatar :color="item.user.color" size="36">
          <template #default>
            <span class="text-white small-3 font-500">{{ item.user.full_name[0] }}</span>
          </template>
        </v-avatar>

        <div class="flex-1 mx-2">
          <div class="d-flex align-center">
            <span class="small-2 font-500 line-base">{{ item.user.full_name }}</span>

            <v-sheet
              width="4"
              height="4"
              color="#65696B"
              rounded
              class="mx-2"
            />

            <span class="size-13 font-500">{{ item.user.cisco }}</span>
          </div>

          <div class="d-flex align-center">
            <div class="d-flex align-center gap-8 size-13 font-500">
	            <template v-if="item.is_controller">
		            <ui-status text="CANCEL" style="margin-top: 2px">
			            {{ $t("document-flow.views.registration.controlling") }}
		            </ui-status>
	            </template>

	            <template v-else-if="item.is_responsible">
		            <ui-status text="TO DO" style="margin-top: 2px">
			            {{ $t("executor") }}
		            </ui-status>
	            </template>

	            <template v-else>
		            <ui-status text="IN PROGRESS" style="margin-top: 2px">
			            {{ $t("co-executor") }}
		            </ui-status>
	            </template>

              <!-- Документ еще на ознакомлен -->
              <template v-if="!item.is_read">
                Еще не ознакомлен
              </template>
              <!-- /Документ еще на ознакомлен -->

              <!-- Документ ознакомлен -->
              <template v-if="item.is_read && !item.is_performed">
                Ознакомлен
              </template>
              <!-- /Документ ознакомлен -->

              <!-- Документ исполнен -->
              <template v-if="item.is_read && item.is_performed">
                Выполнено
              </template>
              <!-- /Документ исполнен -->
            </div>

            <v-sheet
              v-if="item.is_read"
              width="4"
              height="4"
              color="#65696B"
              rounded
              class="mx-1"
            />

            <span class="size-13">
              <!-- Документ ознакомлен -->
              <template v-if="item.is_read && !item.is_performed">
                {{ item.read_time | filterCalendarToTime }}
              </template>
              <!-- /Документ ознакомлен -->

              <!-- Документ исполнен -->
              <template v-if="item.is_read && item.is_performed">
                {{ item.performance_date | filterCalendarToTime }}
              </template>
              <!--/ Документ исполнен -->
            </span>
          </div>
        </div>

        <div>
	        <div>
		        <ui-status :text="item.status.name">
			        <template #append>
				        <template v-if="item.status.id === STATUS_CODES.ON_HOLD">
					        <app-tooltip top>
						        <template #content>
							        <help-circle-icon size="18" class="d-block warning-text" />
						        </template>

						        <template #text>
							        {{ $t('confirm-document-text') }}
						        </template>
					        </app-tooltip>
				        </template>
			        </template>
		        </ui-status>
	        </div>

	        <div class="d-flex align-center justify-space-between small-3 mt-2">
		        <tree-view-countdown
		          :assignment="item"
		        />

		        <tree-view-change-status
			        :assignment="item"
			        class="ml-2"
		        />
	        </div>

        </div>
      </div>

      <div v-if="item.performance_note" class="pb-2 px-3">
        <span class="small-2 reset-space" v-html="item.performance_note"></span>

        <div v-if="item.file" class="mt-1">
          <a
            :href="item.file.url"
            :download="item.file.url"
            target="_blank"
            class="d-flex align-center text-decoration-none"
          >
            <file-text-icon size="16" />
            <span class="size-13 text-lowercase ml-1" style="border-bottom: 2px dotted">{{ item.file.name }}</span>
          </a>
        </div>
      </div>
    </div>

    <template v-if="item.children && item.children.length > 0">
      <div class="app-collapse app-collapse--active-border-none">
        <v-expansion-panels :value="0">
          <v-expansion-panel>
            <v-expansion-panel-header class="layout-border">
              <div class="d-flex align-center">
                <span class="text-2 size-13 font-500">Подзадача</span>

                <v-sheet
                  color="var(--bg-2)"
                  width="32"
                  height="20"
                  class="d-flex align-center justify-center rounded-10 ml-2"
                >
                  <span class="small-3 font-500">{{ item.children.length }}</span>
                </v-sheet>

                <v-spacer />

                <div class="mr-1">
                  <app-tooltip top>
                    <template #content>
                      <button
                        class="d-flex align-center"
                        @click="watchResolution($event, item.children)"
                      >
                        <eye-icon size="14" class="text-2" />
                        <span class="ml-1 text-2 size-13 font-500">{{ $t("document-flow.views.boxes.resolution") }}</span>
                      </button>
                    </template>

                    <template #text>
                      <span>{{ $t("show-resolution") }}</span>
                    </template>
                  </app-tooltip>
                </div>
              </div>
            </v-expansion-panel-header>

            <v-expansion-panel-content class="overflow-hidden">
              <template v-for="child in item.children">
                <tree-item
                  :item="child"
                  class="tree-child-item ml-11"
                  @emit:watch-resolution="(value) => $emit('emit:watch-resolution', value)"
                />
              </template>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </div>
    </template>
  </div>
</template>

<script>
import { EyeIcon, FileTextIcon, HelpCircleIcon } from "vue-feather-icons"
import { STATUS_CODES } from "@/common/enums/notificationTypes"
import TreeViewCountdown from "./TreeViewCountdown.vue";
import TreeViewChangeStatus from "./TreeViewChangeStatus.vue";
export default {
	name: "TreeItem",
	props: {
		item: {
			type: Object,
			default: () => {}
		}
	},
  components: {
    EyeIcon,
    FileTextIcon,
	  HelpCircleIcon,
	  TreeViewCountdown,
	  TreeViewChangeStatus
  },
	data() {
		return {
			STATUS_CODES
		}
	},
  methods: {
    watchResolution($event, children) {
      $event.stopImmediatePropagation()

      this.$emit("emit:watch-resolution", children)
    }
  }
}
</script>

<style>
.expansion-panels-tree > .tree-item {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom: 0;
}

.expansion-panels-tree .app-collapse .v-item-group {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.expansion-panels-tree .app-collapse .v-expansion-panel-header {
  min-height: 36px;
  padding: 8px 12px;
  background: var(--input-bg);
}

.app-collapse--active-border-none .v-item--active {
  border-radius: inherit !important;
}

.tree-child-item {
  position: relative;
}

.tree-child-item::after {
  content: "";
  position: absolute;
  left: -25px;
  height: 1000px;
  border: 1px solid #dedede;
  top: -970px;
  width: 25px;
  border-bottom-left-radius: 18px;
  border-right: 0;
  border-top: 0;
}

.expansion-panels-tree .v-expansion-panel-content {
  position: relative;
}
</style>
