<template>
	<div class="exchangeEmail-view flex-1">
		<template>
			<div class="exchange-view bg-4 rounded-15 d-flex flex-1">
				<div class="aside-width-300 border-right">
					<div class="pa-5 border-bottom">
						<v-btn
							color="primary"
							min-width="100%"
							depressed
							@click="dialog = true"
						>
							{{$t('exchange-email.write-message')}}
						</v-btn>
					</div>

					<compose-message-dialog :dialog="dialog" @closeDialog="dialog = false" />

					<div class="px-5">
						<v-list>
							<v-list-item-group
								color="primary"
							>
								<v-list-item
									:to="{ name: 'ExchangeEmailInbox' }"
								>
									<v-list-item-icon>
										<v-icon>mdi-email-outline</v-icon>
									</v-list-item-icon>
									<v-list-item-content>
										<v-list-item-title>{{$t('exchange-email.inbox')}}</v-list-item-title>
									</v-list-item-content>
									<v-list-item-action>
										<v-chip
											color="primary"
											small
										>
											3
										</v-chip>
									</v-list-item-action>
								</v-list-item>

								<v-list-item
									:to="{ name: 'ExchangeEmailSend' }"
								>
									<v-list-item-icon>
										<v-icon size="20">{{ "$vuetify.icons.SendIcon" }}</v-icon>
									</v-list-item-icon>
									<v-list-item-content>
										<v-list-item-title>{{$t('exchange-email.sent')}}</v-list-item-title>
									</v-list-item-content>
								</v-list-item>
								<v-list-item
									:to="{ name: 'ExchangeEmailTrash' }"
								>
									<v-list-item-icon>
										<v-icon>mdi-delete-outline</v-icon>
									</v-list-item-icon>
									<v-list-item-content>
										<v-list-item-title>{{$t('exchange-email.remote')}}</v-list-item-title>
									</v-list-item-content>
								</v-list-item>
							</v-list-item-group>
						</v-list>
					</div>
				</div>

				<div class="flex-1">
					<router-view />
				</div>
			</div>
		</template>
	</div>
</template>

<script>
import { mapMutations, mapState } from "vuex";

const ExchangeEmailModule = () => import(/* webpackChunkName: "ExchangeEmailModule" */ "@/modules/ExchangeEmail/store")

import ComposeMessageDialog from "./Folders/components/ComposeMessageDialog";

export default {
	name: "index",
	data(){
		return {
			dialog: false
		}
	},
	components: {
		ComposeMessageDialog
	},
	computed: {
		...mapState({
			moduleLoaded: "isDynamicModuleLoaded"
		})
	},
	mounted() {
		ExchangeEmailModule().then(exchangeEmailModule => {
			this.$store.registerModule("exchangeEmailModule", exchangeEmailModule.default)
			this.LOADED_DYNAMIC_MODULE(true)
		})
	},
	beforeDestroy() {
		this.$store.unregisterModule("exchangeEmailModule")
		this.LOADED_DYNAMIC_MODULE(false)
	},
	methods: {
		...mapMutations({
			LOADED_DYNAMIC_MODULE: "LOADED_DYNAMIC_MODULE"
		})
	}
}
</script>
