<template>
	<div>
<!--		<app-button-->
<!--			depressed-->
<!--			width="100%"-->
<!--			height="50"-->
<!--		>-->
<!--			<template>-->
<!--				<span class="font-500 small-2">Создать событие</span>-->
<!--			</template>-->
<!--			<template #append>-->
<!--				<v-icon>mdi-chevron-down</v-icon>-->
<!--			</template>-->
<!--		</app-button>-->

<!--		<app-skeleton />-->

<!--		<media-object depressed-->
<!--		              width="100%"-->
<!--		              height="50"-->
<!--		              color="success"-->
<!--		>-->
<!--			<template>-->
<!--				<span class="font-500 small-2">Создать событие</span>-->
<!--				<span class="font-500 small-2 ml-3">Some text</span>-->
<!--			</template>-->
<!--			<template #append>-->
<!--				<v-icon>mdi-chevron-down</v-icon>-->
<!--			</template>-->
<!--		</media-object>-->
		<div class="w-100 h-100 d-flex justify-center align-center">
			<h2>Dashboard в разработке!</h2>
		</div>
	</div>
</template>

<script>
import AppSkeleton from "@/common/components/base/AppSkeleton"
// import AppButton from "@/common/components/base/AppButton";
import { lazyLoadComponent } from "@/common/helpers";

export default {
	name: 'Home',
	components: {
		MediaObject: lazyLoadComponent({
			componentFactory: () => import(/* webpackChunkName: "AppButton" */ '@/common/components/base/AppButton'),
			loading: AppSkeleton,
			delay: 50000
		}),
	},
}
</script>
