<template>
	<div class="boxes-view d-flex flex-column">
		<h1 class="small-1">{{ $t("layout.boxes") }}</h1>

		<div class="d-flex flex-column p-relative">
			<div class="navigation-track-wrap p-relative d-flex mb-5 mt-4">
				<template v-for="(item, index) in navigationList">
	        <router-link
		        :to="{ name: item.url }"
		        class="navigation-track p-relative d-flex align-center text-decoration-none size-13 py-2"
		        :class="{ 'mr-8' : index + 1 !== navigationList.length }"
	        >
	          <span>{{ item.title }}</span>

	          <v-sheet
		          v-if="item.count"
	            width="33"
	            height="20"
	            color="primary"
	            class="d-flex align-center justify-center rounded ml-2"
              style="line-height: 20px"
	          >
	            <span class="small-3 text-white font-700">{{ item.count }}</span>
	          </v-sheet>
	        </router-link>
				</template>
			</div>

			<router-view />
    </div>
	</div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
	name: "index",
	data() {
		return {
			navigationList: [
				{
					title: "На рассмотрение",
					url: "ReviewIndex",
					key: "review_count",
					count: null
				},
				{
					title: "Мои поручение",
					url: "InboxIndex",
					key: "assignment_count",
					count: null
				},
				{
					title: "На подпись",
					url: "SignIndex",
					key: "unsigned_count",
					count: null
				},
				{
					title: "На согласование",
					url: "ApprovalIndex",
					key: "agreement_count",
					count: null
				},
				{
					title: "Созданные поручение",
					url: "CreatedResolutionsIndex",
					key: "created_resolutions",
					count: null
				},
				{
					title: "На контроль",
					url: "ControlIndex",
					key: "assignment_on_control_count",
					count: null
				},
				{
					title: "Утвердить",
					url: "ConfirmationIndex",
					key: "for_verification_count",
					count: null
				},
				{
					title: "Генеральный контроль",
					url: "GeneralControlIndex",
					key: "general_control_count",
					count: null
				},
			]
		}
	},
	computed: {
		...mapGetters({
			getUnreadCountList: "getUnreadCountList",
		})
	},
	watch: {
		getUnreadCountList: {
			handler(value) {
				if(Object.keys(value).length) {
					this.navigationList = this.navigationList.map(item => {
						return {
							...item,
							count: this.getUnreadCountList?.[item.key]
						}
					})
				}
			},
			deep: true,
			immediate: true
		}
	},
	mounted() {
		this.fetchUnreadCountList()
	},
	methods: {
		...mapActions({
			fetchUnreadCountList: "fetchUnreadCountList",
		})
	}
}
</script>

<style>

</style>
