<template>
	<table-list :table-props="table_props" />
</template>

<script>
import TableList from "../components/TableList";

export default {
	name: "List",
	components: {
		TableList
	},
	data() {
		return {
			table_props: {
				isSent: true,
				statuses: "21,28,22,23,24,27,34,31,32,25,26,45,41,42,43,44",
				byUser: true
			}
		}
	}
}
</script>

<style scoped>

</style>
