<template>
	<div class="bg-white">
		<template v-if="isBankAffairsListLoading">
			<app-loader content-width :size="54" />
		</template>
		<template v-else>
			<div
				class="d-flex w-100 tab-menu-wrapper"
				:style="{ width: isAffidavitAdmin ? 'calc(100vw - 230px)' : '100%' }"
			>
				<v-tabs
					v-model="tab"
					background-color="#F8F9FB"
					active-class="tab-active"
					show-arrows
				>
					<v-tab
						v-for="item in bankAffairsList"
						:key="item.id"
						@change="onBankAffairsChange(item)"
					>
						<span class="small-2 text-capitalize font-500">{{ item.name }}</span>
					</v-tab>
				</v-tabs>

				<app-button
					v-if="isAffidavitAdmin"
					height="47"
					class="ml-2"
					:to="{ name: 'MainAuthorityAdmin' }"
				>
					<template #prepend>
						<v-icon>mdi-content-save-cog-outline</v-icon>
					</template>
					Admin
				</app-button>
			</div>

			<div class="user-side d-flex mt-4">
				<div class="user-side-cover d-flex">
					<v-tabs-items
						v-model="tab"
						class="w-100 h-100"
					>
						<v-tab-item
							v-for="item in bankAffairsList"
							:key="item.id"
							class="h-100 overflow-y-auto"
						>
							<template v-if="isBankAffairMembersListLoading">
								<app-loader component-based :size="30"/>
							</template>
							<template v-else>

								<!--UserSide Component-->
								<user-side
									@userChange="onUserChange"
									:users-list="bankAffairMembersList"
								/>

							</template>
						</v-tab-item>
					</v-tabs-items>
				</div>

				<div class="authority-content-cover d-flex flex-1 ml-4">

					<!--ContentSide Component-->
					<content-side
						ref="contentSide"
					/>

				</div>
			</div>
		</template>
	</div>
</template>

<script>
import ContentSide from "../components/ContentSide";
import UserSide from "../components/UserSide";
import {mapGetters} from "vuex";

export default {
	name: "index",
	components: {
		ContentSide,
		UserSide
	},
	data () {
		return {
			tab: null,
			isBankAffairsListLoading: false,
			isBankAffairMembersListLoading: false,
			bankAffairsList: [],
			bankAffairMembersList: []
		}
	},
	computed: {
		...mapGetters({
			currentUser: "auth/getCurrentUser"
		}),
		/**/
		isAffidavitAdmin() {
		 return	['admin', 'affidavit', 'hr_manager'].includes(this.currentUser.role)
		}
	},
	mounted() {
		this.getBankAffairsList();

		if (this.$route.query.userId){
			this.$router.replace({
				query: {
					...this.$route.query,
					userId: null
				}
			})
		}
	},
	methods: {
		getBankAffairsList(){
			const { contentSide } = this.$refs;

			this.isBankAffairsListLoading = true;

			this.$axios.get(`/bank-affairs/`, {
				params: {
					page_size: 100
				}
			})
			.then(({ data }) => {
				this.bankAffairsList = data.results;
				this.isBankAffairsListLoading = false;

				if (data.results.length){
					this.getBankAffairMembers(data.results[0].id, contentSide);
				}

			})
			.catch(err => {
				this.isBankAffairsListLoading = false;
				this.$toast.error("Xatolik!")
			})
		},
		/**/
		onBankAffairsChange(val){
			const { contentSide } = this.$refs;
			this.getBankAffairMembers(val.id, contentSide);
			// contentSide.affidavitList = [];
		},
		/**/
		getBankAffairMembers(affair, contentSide) {

			this.isBankAffairMembersListLoading = true;

			this.$axios.get(`/bank-affair-members/`, {
				params: {
					affair,
					page_size: 100
				}
			})
			.then(({ data }) => {
				this.bankAffairMembersList = data.results;
				this.isBankAffairMembersListLoading = false;
				if (data.results.length){
					// contentSide.getAffidavitList(data.results[0].user.id, contentSide.affirmationSelected.id);
					contentSide.userId = data.results[0].user.id;


					// if (!this.$route.query.userId && this.$route.query.userId !== data.results[0].user.id.toString()){
					// 	this.$router.replace({
					// 		query: {
					// 			...this.$route.query,
					// 			userId: data.results[0].user.id
					// 		}
					// 	})
					// }
				}

				// contentSide.userId = data.results[0].user.id;
			})
			.catch(err => {
				this.isBankAffairMembersListLoading = false;
				this.$toast.error("Xodimlarni olishda xatolik!")
			})
		},
		/**/
		onUserChange(item){
			const { contentSide } = this.$refs;
			contentSide.userId = item.user.id;
			contentSide.getAffidavitList(item.user.id, contentSide.affirmationSelected.id);
			contentSide.getAffidavitDetail(item.user.id, contentSide.affirmationSelected.id);

			if (this.$route.query.userId !== item.user.id.toString()){
				this.$router.replace({
					query: {
						...this.$route.query,
						userId: item.user.id
					}
				})
			}
		}
	}
}
</script>

<style>
.tab-menu .v-tabs-slider-wrapper{
	display: none;
}

.tab-menu .v-slide-group__content {
	border-radius: 6px;
	border: 1px solid #DFE2EA;
	background: #F8F9FB;
}

.tab-menu .tab-active{
	background: #fff;
	margin: 4px;
	padding: 0 40px!important;
	color: var(--primary-1) !important;
	border-radius: 6px;
	box-shadow: 0px -1px 4px 2px rgba(0, 0, 0, 0.04), 0px 4px 4px 2px rgba(0, 0, 0, 0.04);
}
.tab-menu .tab-active::before, .tab-menu .v-tabs-bar .v-tab:not(.v-tab--active)::before {
	border-radius: 6px;
}
.tab-menu .v-tabs-bar .v-tab:not(.v-tab--active){
	color: #000000!important;
	padding: 0 40px!important;
	margin: 4px;
}

.user-side-cover {
	height: calc(100vh - 175px);
	width: 488px;
	border: 1px solid #DFE2EA;
	border-radius: 6px 6px 0 0;
	background: #fff;
}

.authority-content-cover {
	height: calc(100vh - 175px);
	border: 1px solid #DFE2EA;
	border-radius: 6px 6px 0 0;
	background: #fff;
}

.tab-menu-wrapper{
	border-radius: 6px;
	border: 1px solid #DFE2EA;
}
</style>
