<script>
export default {
	name: "BackButtonV3"
}
</script>

<template>
	<div class="back-button-v3-component">
		<div
			class="d-flex align-center justify-center bg-greyscale-100 w-8 h-8 rounded-8 pointer hoverable-button"
			@click="$router.go(-1)"
		>
			<base-iconify
				icon="ChevronLeftMd"
				class="text-greyscale-900"
				:inline="true"
			/>
<!--			<span class="small-2 text-greyscale-900 font-500">{{ $t('auth.enter-phone.back') }}</span>-->
		</div>
	</div>
</template>

<style>
.hoverable-button:hover {
	background: var(--greyscale-200)!important;
}
</style>
