<script>
export default {
	name: "Collapsed",
	props: {
		items: {
			type: Array,
			default: () => []
		},
		maxVisible: {
			type: [String, Number],
			default: 1
		}
	},
	computed: {
		visibleList() {
			if (this.items.length){
				return this.items.slice(0, this.maxVisible)
			}
		},
		restList() {
			if (this.items.length){
				return this.items.splice(this.maxVisible, this.items.length)
			}
		}
	}
}
</script>

<template>
	<div class="collapsed-component d-flex align-center gap-x-2">
		<div class="d-flex gap-x-2 small-2 font-500 text-greyscale-700">
			<span v-for="item in visibleList">{{ item.name }}</span>
		</div>

		<template v-if="restList && restList.length">
			<app-tooltip bottom>
				<template #content>
					<div class="d-flex align-center h-6 rounded-8 bg-greyscale-100 border-all px-1 cover-extra">
						<span class="small-3 font-600 text-greyscale-600">+{{ restList.length }}</span>
						<base-iconify
							icon="CaretDownMd"
							class="text-greyscale-600"
						/>
					</div>
				</template>

				<template #text>
					<div class="d-flex flex-column rounded-8 py-1">
						<span v-for="item in restList" class="small-3 text-white font-500">{{ item.name }}</span>
					</div>
				</template>
			</app-tooltip>
		</template>
	</div>
</template>

<style scoped>
.cover-extra:hover {
	border: 1px solid var(--primary-500) !important;
}
.cover-extra:hover span,
.cover-extra:hover .base-iconify-component{
	color: var(--primary-500)!important;
}
</style>
