<script>
export default {
	name: "IsActive",
	props: {
		isActive: {
			type: Boolean,
			default: false
		}
	}
}
</script>

<template>
	<div
		class="is-active-component d-flex justify-center align-center rounded-6 px-2 py-1"
		:class="isActive ? 'bg-success-50' : 'bg-greyscale-100'"
	>
		<span
			class="small-2 font-600"
			:class="isActive ? 'text-success-500' : 'text-greyscale-700'"
		>
			{{ isActive ? $t('bank-structure.active') : $t('inactive') }}
		</span>
	</div>
</template>

<style scoped>

</style>
