<script>
export default {
  name: "TableActions",
  props: {
    actions: {
      type: Array,
      default: () => ['delete']
    }
  },
  methods: {
    onMore(event) {
      event.stopImmediatePropagation()
      this.$emit('emit:more')
    },
    /** **/
    onDelete(event) {
      event.stopImmediatePropagation()
      this.$emit('emit:delete')
    },
	  /** **/
	  onEdit(event) {
		  event.stopImmediatePropagation()
		  this.$emit('emit:edit')
	  }
  }
}
</script>

<template>
  <div class="table-actions-component d-flex gap-x-2">
	  <div
		  v-if="actions.includes('edit')"
		  @click="onEdit($event)"
	  >
		  <app-tooltip top>
			  <template #content>
				  <div class="bg-warning-50 rounded-8 pa-1">
					  <base-iconify
						  icon="EditPencil01"
						  class="text-warning-500"
					  />
				  </div>
			  </template>

			  <template #text>
				  {{ $t("phonebook.views.change") }}
			  </template>
		  </app-tooltip>
	  </div>

    <div
      v-if="actions.includes('more')"
      @click="onMore($event)"
    >
      <app-tooltip top>
        <template #content>
          <div class="bg-greyscale-200 rounded-8 pa-1">
            <base-iconify
              icon="MenuDotsBold"
              class="text-greyscale-900"
            />
          </div>
        </template>

        <template #text>
          {{ $t("manage") }}
        </template>
      </app-tooltip>
    </div>

    <div
      v-if="actions.includes('delete')"
      @click="onDelete($event)"
    >
      <app-tooltip top>
        <template #content>
          <div class="bg-critic-50 rounded-8 pa-1">
            <base-iconify
              icon="TrashBinTrashLinear"
              class="text-critic-500"
            />
          </div>
        </template>

        <template #text>
          {{ $t("delete") }}
        </template>
      </app-tooltip>
    </div>
  </div>
</template>

<style scoped>

</style>