<template>
   <div>
      <template v-if="loading">
         <div class="w-100 d-flex align-center justify-center" style="height: 150px">
            <app-loader :size="40" />
         </div>
      </template>
      <template v-else>
         <v-simple-table>
            <thead>
               <tr>
                  <th width="300">{{$t("control-tasks.reports.branches")}}</th>
                  <th width="200" class="text-center">{{$t("control-tasks.reports.documents-count")}}</th>
                  <th width="200" class="text-center">{{$t("control-tasks.reports.tasks-count")}}</th>
                  <th width="200" class="text-center">{{$t("control-tasks.reports.done")}}</th>
                  <th width="200" class="text-center">{{$t("control-tasks.reports.late-done")}}</th>
                  <th width="200" class="text-center">{{$t("control-tasks.reports.in-progress")}}</th>
                  <th width="200" class="text-center">{{$t("control-tasks.reports.waiting-process")}}</th>
                  <th width="200" class="text-center">{{$t("control-tasks.reports.not-done")}}</th>
                  <th width="200" class="text-center">{{$t("control-tasks.reports.total-score")}}</th>
                  <th width="200" class="text-center">{{$t("control-tasks.reports.ranking")}}</th>
               </tr>
            </thead>
            <tbody>
               <tr :key="index" v-for="(branch, index) in branchReports">
                  <td @click="() => redirect('')">
                     {{ branch.branch }}
                  </td>
                  <td @click="() => redirect(`mfo=${branch.target_id}&department_or_branch=branch`)"  class="text-center count">
                     {{ branch.docs_count }}
                  </td>
                  <td @click="() => redirect(`mfo=${branch.target_id}&department_or_branch=branch`)"  class="text-center count">
                     {{ branch.tasks_count }}
                  </td>
                  <td @click="() => redirect(`mfo=${branch.target_id}&department_or_branch=branch&status=5`)" class="text-center done">
                     {{ branch.done }}
                  </td>
                  <td @click="() => redirect(`mfo=${branch.target_id}&department_or_branch=branch&status=7`)"  class="text-center overdue">
                     {{ branch.overdue_done }}
                  </td>
                  <td @click="() => redirect(`mfo=${branch.target_id}&department_or_branch=branch`)"  class="text-center in-progress">
                     {{ branch.in_process }}
                  </td>
                  <td @click="() => redirect(`mfo=${branch.target_id}&department_or_branch=branch&status=is_pending`)"  class="text-center in-progress">
                     {{ branch.pending }}
                  </td>
                  <td @click="() => redirect(`mfo=${branch.target_id}&department_or_branch=branch&status=6`)"  class="text-center not-done">
                     {{ branch.not_done }}
                  </td>
                  <td @click="() => redirect('')" width="200" class="text-center">{{branch.score.toFixed(2)}}</td>
                  <td @click="() => redirect('')" width="200" class="text-center">{{branch.ranking}}</td>
               </tr>
               <tr>
                  <td @click="() => redirect('')">
                     {{ $t('control-tasks.reports.total') }}
                  </td>
                  <td @click="() => redirect('')" width="200" class="text-center">-</td>
                  <td @click="() => redirect('')" class="text-center count">
                     {{ totalBranchReports.tasks_count }}
                  </td>
                  <td @click="() => redirect('status=5')" class="text-center done">
                     {{ totalBranchReports.done }}
                  </td>
                  <td @click="() => redirect('status=7')" class="text-center overdue">
                     {{ totalBranchReports.overdue_done }}
                  </td>
                  <td @click="() => redirect('')" class="text-center in-progress">
                     {{ totalBranchReports.in_process }}
                  </td>
                  <td @click="() => redirect('status=is_pending')" class="text-center in-progress">
                     {{ totalBranchReports.pending }}
                  </td>
                  <td @click="() => redirect('status=6')" class="text-center not-done">
                     {{ totalBranchReports.not_done }}
                  </td>
                  <td @click="() => redirect('')" width="200" class="text-center">-</td>
                  <td @click="() => redirect('')" width="200" class="text-center">-</td>
               </tr>
            </tbody>
         </v-simple-table>
      </template>
   </div>
</template>
<script>
import AppLoader from "@/common/components/base/AppLoader";
export default {
   name: 'AllBranchReports',
   components: { AppLoader },
   props: {
      branchReports: Array,
      loading: Boolean,
      redirect: Function,
      totalBranchReports: Object,
   },
}
</script>