<template>
   <div>
      <template v-if="loading">
         <div class="w-100 d-flex align-center justify-center" style="height: 150px">
            <app-loader :size="40" />
         </div>
      </template>
      <template v-else>
         <v-simple-table>
            <thead>
               <tr>
                  <th width="300">{{$t("control-tasks.reports.departments")}}</th>
                  <th width="200" class="text-center">{{$t("control-tasks.reports.documents-count")}}</th>
                  <th width="200" class="text-center">{{$t("control-tasks.reports.tasks-count")}}</th>
                  <th width="200" class="text-center">{{$t("control-tasks.reports.done")}}</th>
                  <th width="200" class="text-center">{{$t("control-tasks.reports.late-done")}}</th>
                  <th width="200" class="text-center">{{$t("control-tasks.reports.in-progress")}}</th>
                  <th width="200" class="text-center">{{$t("control-tasks.reports.waiting-process")}}</th>
                  <th width="200" class="text-center">{{$t("control-tasks.reports.not-done")}}</th>
                  <th width="200" class="text-center">{{$t("control-tasks.reports.total-score")}}</th>
                  <th width="200" class="text-center">{{$t("control-tasks.reports.ranking")}}</th>
               </tr>
            </thead>
            <tbody>
               <tr :key="index" v-for="(department, index) in departmentReports">
                  <td @click="() => redirect('')">
                     {{ department.department }}
                  </td>
                  <td @click="() => redirect(`sap_obj_id=${department.target_id}&department_or_branch=department`)" class="text-center count">
                     {{ department.docs_count }}
                  </td>
                  <td @click="() => redirect(`sap_obj_id=${department.target_id}&department_or_branch=department`)" class="text-center count">
                     {{ department.tasks_count }}
                  </td>
                  <td @click="() => redirect(`sap_obj_id=${department.target_id}&department_or_branch=department&status=5`)" class="text-center done">
                     {{ department.done }}
                  </td>
                  <td @click="() => redirect(`sap_obj_id=${department.target_id}&department_or_branch=department&status=7`)" class="text-center overdue">
                     {{ department.overdue_done }}
                  </td>
                  <td @click="() => redirect(`sap_obj_id=${department.target_id}&department_or_branch=department`)" class="text-center in-progress">
                     {{ department.in_process }}
                  </td>
                  <td @click="() => redirect(`sap_obj_id=${department.target_id}&department_or_branch=department&status=is_pending`)" class="text-center in-progress">
                     {{ department.pending }}
                  </td>
                  <td @click="() => redirect(`sap_obj_id=${department.target_id}&department_or_branch=department&status=6`)" class="text-center not-done">
                     {{ department.not_done }}
                  </td>
                  <td @click="() => redirect('')" width="200" class="text-center">{{department.score.toFixed(2)}}</td>
                  <td @click="() => redirect('')" width="200" class="text-center">{{department.ranking}}</td>
               </tr>
               <tr>
                  <td @click="() => redirect('')">
                     {{ $t('control-tasks.reports.total') }}
                  </td>
                  <td @click="() => redirect('')" width="200" class="text-center">-</td>
                  <td @click="() => redirect('')" class="text-center count">
                     {{ totalDepartmentReports.tasks_count }}
                  </td>
                  <td @click="() => redirect('status=5')" class="text-center done">
                     {{ totalDepartmentReports.done }}
                  </td>
                  <td @click="() => redirect('status=7')" class="text-center overdue">
                     {{ totalDepartmentReports.overdue_done }}
                  </td>
                  <td @click="() => redirect('')" class="text-center in-progress">
                     {{ totalDepartmentReports.in_process }}
                  </td>
                  <td @click="() => redirect('status=is_pending')" class="text-center in-progress">
                     {{ totalDepartmentReports.pending }}
                  </td>
                  <td @click="() => redirect('status=6')" class="text-center not-done">
                     {{ totalDepartmentReports.not_done }}
                  </td>
                  <td @click="() => redirect('')" width="200" class="text-center">-</td>
                  <td @click="() => redirect('')" width="200" class="text-center">-</td>
               </tr>
            </tbody>
         </v-simple-table>
      </template>
   </div>
</template>
<script>
import AppLoader from "@/common/components/base/AppLoader";
export default {
   name: 'AllDepartmentReports',
   components: { AppLoader },
   props: {
      departmentReports: Array,
      loading: Boolean,
      redirect: Function,
      totalDepartmentReports: Object,
   }
}
</script>