<template>
   <div>
      <template v-if="loading">
         <div class="w-100 d-flex align-center justify-center" style="height: 150px">
            <app-loader :size="40" />
         </div>
      </template>
      <template v-else>
         <v-simple-table>
            <thead>
               <tr>
                  <th width="300">{{$t("control-tasks.reports.deputy-chairmans")}}</th>
                  <th width="200" class="text-center">{{$t("control-tasks.reports.documents-count")}}</th>
                  <th width="200" class="text-center">{{$t("control-tasks.reports.tasks-count")}}</th>
                  <th width="200" class="text-center">{{$t("control-tasks.reports.done")}}</th>
                  <th width="200" class="text-center">{{$t("control-tasks.reports.late-done")}}</th>
                  <th width="200" class="text-center">{{$t("control-tasks.reports.in-progress")}}</th>
                  <th width="200" class="text-center">{{$t("control-tasks.reports.waiting-process")}}</th>
                  <th width="200" class="text-center">{{$t("control-tasks.reports.not-done")}}</th>
                  <th width="200" class="text-center">{{$t("control-tasks.reports.total-score")}}</th>
                  <th width="200" class="text-center">{{$t("control-tasks.reports.ranking")}}</th>
               </tr>
            </thead>
            <tbody>
               <tr :key="index" v-for="(deputyChair, index) in deputyChairReports">
                  <td @click="() => redirect('')">
                     {{ deputyChair.deputy_chair }}
                  </td>
                  <td @click="() => redirect(`sap_obj_id=${deputyChair.target_id}&performer_id=${deputyChair.user_id}&department_or_branch=department`)" class="text-center count">
                     {{ deputyChair.docs_count }}
                  </td>
                  <td @click="() => redirect(`sap_obj_id=${deputyChair.target_id}&performer_id=${deputyChair.user_id}&department_or_branch=department`)" class="text-center count">
                     {{ deputyChair.tasks_count }}
                  </td>
                  <td @click="() => redirect(`sap_obj_id=${deputyChair.target_id}&performer_id=${deputyChair.user_id}&department_or_branch=department&status=5`)" class="text-center done">
                     {{ deputyChair.done }}
                  </td>
                  <td @click="() => redirect(`sap_obj_id=${deputyChair.target_id}&performer_id=${deputyChair.user_id}&department_or_branch=department&status=7`)" class="text-center overdue">
                     {{ deputyChair.overdue_done }}
                  </td>
                  <td @click="() => redirect(`sap_obj_id=${deputyChair.target_id}&performer_id=${deputyChair.user_id}&department_or_branch=department`)" class="text-center in-progress">
                     {{ deputyChair.in_process }}
                  </td>
                  <td @click="() => redirect(`sap_obj_id=${deputyChair.target_id}&performer_id=${deputyChair.user_id}&department_or_branch=department&status=is_pending`)" class="text-center in-progress">
                     {{ deputyChair.pending }}
                  </td>
                  <td @click="() => redirect(`sap_obj_id=${deputyChair.target_id}&performer_id=${deputyChair.user_id}&department_or_branch=department&status=6`)" class="text-center not-done">
                     {{ deputyChair.not_done }}
                  </td>
                  <td @click="() => redirect('')" width="200" class="text-center">{{deputyChair.score.toFixed(2)}}</td>
                  <td @click="() => redirect('')" width="200" class="text-center">{{deputyChair.ranking}}</td>
               </tr>
               <tr>
                  <td @click="() => redirect('')">
                     {{ $t('control-tasks.reports.total') }}
                  </td>
                  <td @click="() => redirect(`sap_obj_id=${deputyChairReports[0].target_id}&department_or_branch=department`)" width="200" class="text-center">-</td>
                  <td @click="() => redirect(`sap_obj_id=${deputyChairReports[0].target_id}&department_or_branch=department`)" class="text-center count">
                     {{ totalDeputyChairReports.tasks_count }}
                  </td>
                  <td @click="() => redirect(`sap_obj_id=${deputyChairReports[0].target_id}&department_or_branch=department&status=5`)" class="text-center done">
                     {{ totalDeputyChairReports.done }}
                  </td>
                  <td @click="() => redirect(`sap_obj_id=${deputyChairReports[0].target_id}&department_or_branch=department&status=7`)" class="text-center overdue">
                     {{ totalDeputyChairReports.overdue_done }}
                  </td>
                  <td @click="() => redirect(`sap_obj_id=${deputyChairReports[0].target_id}&department_or_branch=department`)" class="text-center in-progress">
                     {{ totalDeputyChairReports.in_process }}
                  </td>
                  <td @click="() => redirect(`sap_obj_id=${deputyChairReports[0].target_id}&department_or_branch=department&status=is_pending`)" class="text-center in-progress">
                     {{ totalDeputyChairReports.pending }}
                  </td>
                  <td @click="() => redirect(`sap_obj_id=${deputyChairReports[0].target_id}&department_or_branch=department&status=6`)" class="text-center not-done">
                     {{ totalDeputyChairReports.not_done }}
                  </td>
                  <td @click="() => redirect('')" width="200" class="text-center">-</td>
                  <td @click="() => redirect('')" width="200" class="text-center">-</td>
               </tr>
            </tbody>
         </v-simple-table>
      </template>
   </div>
</template>
<script>
import AppLoader from "@/common/components/base/AppLoader";
export default {
   name: 'AllDeputyChairReports',
   components: { AppLoader },
   props: {
      deputyChairReports: Array,
      loading: Boolean,
      redirect: Function,
      totalDeputyChairReports: Object,
   }
}
</script>