<template>
   <div>
      <template v-if="loading">
         <div class="w-100 d-flex align-center justify-center" style="height: 150px">
            <app-loader :size="40" />
         </div>
      </template>
      <template v-else>
         <v-simple-table>
            <thead>
               <tr>
                  <th width="300">{{$t("control-tasks.reports.document-types")}}</th>
                  <th width="200" class="text-center">{{$t("control-tasks.reports.documents-count")}}</th>
                  <th width="200" class="text-center">{{$t("control-tasks.reports.tasks-count")}}</th>
                  <th width="200" class="text-center">{{$t("control-tasks.reports.done")}}</th>
                  <th width="200" class="text-center">{{$t("control-tasks.reports.late-done")}}</th>
                  <th width="200" class="text-center">{{$t("control-tasks.reports.in-progress")}}</th>
                  <th width="200" class="text-center">{{$t("control-tasks.reports.waiting-process")}}</th>
                  <th width="200" class="text-center">{{$t("control-tasks.reports.not-done")}}</th>
                  <th width="200" class="text-center">{{$t("control-tasks.reports.total-score")}}</th>
                  <th width="200" class="text-center">{{$t("control-tasks.reports.ranking")}}</th>
               </tr>
            </thead>
            <tbody>
               <tr v-for="(documentType, index) in documentTypeReports" :key="index">
                  <td @click="() => redirect('')">{{ documentType.doc_type }}</td>
                  <td @click="() => redirect(`doc_type=${documentType.target_id}`)" class="text-center count">{{ documentType.docs_count }}</td>
                  <td @click="() => redirect(`doc_type=${documentType.target_id}`)" class="text-center count">{{ documentType.tasks_count }}</td>
                  <td @click="() => redirect(`doc_type=${documentType.target_id}&status=5`)" class="text-center done">{{ documentType.done }}</td>
                  <td @click="() => redirect(`doc_type=${documentType.target_id}&status=7`)" class="text-center overdue">{{ documentType.overdue_done }}</td>
                  <td @click="() => redirect(`doc_type=${documentType.target_id}`)" class="text-center in-progress">{{ documentType.in_process }}</td>
                  <td @click="() => redirect(`doc_type=${documentType.target_id}&status=is_pending`)" class="text-center in-progress">{{ documentType.pending }}</td>
                  <td @click="() => redirect(`doc_type=${documentType.target_id}&status=6`)" class="text-center not-done">{{ documentType.not_done }}</td>
                  <td @click="() => redirect('')" width="200" class="text-center">{{documentType.score.toFixed(2)}}</td>
                  <td @click="() => redirect('')" width="200" class="text-center">{{documentType.ranking}}</td>
               </tr>
               <tr>
                  <td @click="() => redirect('')">{{ $t('control-tasks.reports.total') }}</td>
                  <td @click="() => redirect('')" width="200" class="text-center">-</td>
                  <td @click="() => redirect('')" class="text-center count">{{ totalDocumentTypeReports.tasks_count }}</td>
                  <td @click="() => redirect('status=5')" class="text-center done">{{ totalDocumentTypeReports.done }}</td>
                  <td @click="() => redirect('status=7')" class="text-center overdue">{{ totalDocumentTypeReports.overdue_done }}</td>
                  <td @click="() => redirect('')" class="text-center in-progress">{{ totalDocumentTypeReports.in_process }}</td>
                  <td @click="() => redirect('status=is_pending')" class="text-center in-progress">{{ totalDocumentTypeReports.pending }}</td>
                  <td @click="() => redirect('status=6')" class="text-center not-done">{{ totalDocumentTypeReports.not_done }}</td>
                  <td @click="() => redirect('')" width="200" class="text-center">-</td>
                  <td @click="() => redirect('')" width="200" class="text-center">-</td>
               </tr>
            </tbody>
         </v-simple-table>
      </template>
   </div>
</template>
<script>
import AppLoader from "@/common/components/base/AppLoader";
export default {
   name: 'AllDocumentTypeReports',
   components: { AppLoader },
   props: {
      documentTypeReports: Array,
      loading: Boolean,
      redirect: Function,
      totalDocumentTypeReports: Object,
   }
}
</script>