<template>
   <div>
      <template v-if="loading">
         <div class="w-100 d-flex align-center justify-center" style="height: 150px">
            <app-loader :size="40" />
         </div>
      </template>
      <template v-else>
         <v-simple-table>
            <thead>
               <tr>
                  <th width="300">{{$t("control-tasks.reports.sub_companies")}}</th>
                  <th width="200" class="text-center">{{$t("control-tasks.reports.documents-count")}}</th>
                  <th width="200" class="text-center">{{$t("control-tasks.reports.tasks-count")}}</th>
                  <th width="200" class="text-center">{{$t("control-tasks.reports.done")}}</th>
                  <th width="200" class="text-center">{{$t("control-tasks.reports.late-done")}}</th>
                  <th width="200" class="text-center">{{$t("control-tasks.reports.in-progress")}}</th>
                  <th width="200" class="text-center">{{$t("control-tasks.reports.waiting-process")}}</th>
                  <th width="200" class="text-center">{{$t("control-tasks.reports.not-done")}}</th>
                  <th width="200" class="text-center">{{$t("control-tasks.reports.total-score")}}</th>
                  <th width="200" class="text-center">{{$t("control-tasks.reports.ranking")}}</th>
               </tr>
            </thead>
            <tbody>
               <tr :key="index" v-for="(subCompany, index) in subCompanyReports">
                  <td @click="() => redirect('')">
                     {{ subCompany.sub_company }}
                  </td>
                  <td @click="() => redirect(`sap_obj_id=${subCompany.target_id}&department_or_branch=department`)" class="text-center count">
                     {{ subCompany.docs_count }}
                  </td>
                  <td @click="() => redirect(`sap_obj_id=${subCompany.target_id}&department_or_branch=department`)" class="text-center count">
                     {{ subCompany.tasks_count }}
                  </td>
                  <td @click="() => redirect(`sap_obj_id=${subCompany.target_id}&department_or_branch=department&status=5`)" class="text-center done">
                     {{ subCompany.done }}
                  </td>
                  <td @click="() => redirect(`sap_obj_id=${subCompany.target_id}&department_or_branch=department&status=7`)" class="text-center overdue">
                     {{ subCompany.overdue_done }}
                  </td>
                  <td @click="() => redirect(`sap_obj_id=${subCompany.target_id}&department_or_branch=department`)" class="text-center in-progress">
                     {{ subCompany.in_process }}
                  </td>
                  <td @click="() => redirect(`sap_obj_id=${subCompany.target_id}&department_or_branch=department&status=is_pending`)" class="text-center in-progress">
                     {{ subCompany.pending }}
                  </td>
                  <td @click="() => redirect(`sap_obj_id=${subCompany.target_id}&department_or_branch=department&status=6`)" class="text-center not-done">
                     {{ subCompany.not_done }}
                  </td>
                  <td @click="() => redirect('')" width="200" class="text-center">{{subCompany.score.toFixed(2)}}</td>
                  <td @click="() => redirect('')" width="200" class="text-center">{{subCompany.ranking}}</td>
               </tr>
               <tr>
                  <td @click="() => redirect('')">
                     {{ $t('control-tasks.reports.total') }}
                  </td>
                  <th @click="() => redirect('')" width="200" class="text-center">-</th>
                  <td @click="() => redirect('')" class="text-center count">
                     {{ totalSubCompanyReports.tasks_count }}
                  </td>
                  <td @click="() => redirect('status=5')" class="text-center done">
                     {{ totalSubCompanyReports.done }}
                  </td>
                  <td @click="() => redirect('status=7')" class="text-center overdue">
                     {{ totalSubCompanyReports.overdue_done }}
                  </td>
                  <td @click="() => redirect('')" class="text-center in-progress">
                     {{ totalSubCompanyReports.in_process }}
                  </td>
                  <td @click="() => redirect('status=is_pending')" class="text-center in-progress">
                     {{ totalSubCompanyReports.pending }}
                  </td>
                  <td @click="() => redirect('status=6')" class="text-center not-done">
                     {{ totalSubCompanyReports.not_done }}
                  </td>
                  <td @click="() => redirect('')" width="200" class="text-center">-</td>
                  <td @click="() => redirect('')" width="200" class="text-center">-</td>
               </tr>
            </tbody>
         </v-simple-table>
      </template>
   </div>
</template>
<script>
import AppLoader from "@/common/components/base/AppLoader";
export default {
   name: 'AllSubCompanyReports',
   components: { AppLoader },
   props: {
      loading: Boolean,
      redirect: Function,
      subCompanyReports: Array,
      totalSubCompanyReports: Object,
   }
}
</script>