<template>
	<div style="min-height: 100%">
		<div>
			<div class="d-flex justify-space-between">
				<div class="app-tab control-tasks-type-tab bg-white">
					<v-tabs
						centered
						color="#fff"
						height="34"
						hide-slider
						left
						slider-color="#5964D1"
						v-model="type"
					>
						<v-tab :ripple="false" @click="() => { type = 'chairman' }" href="#chairman">
							<div class="d-flex align-center px-3">
								<span class="text-transform-none small-2 line-base font-400">{{$t("control-tasks.tasks.chairman-tasks")}}</span>
							</div>
						</v-tab>
						<v-tab :ripple="false" @click="() => { type = 'deputy-chair' }" href="#deputy-chair">
							<div class="d-flex align-center px-3">
								<span class="text-transform-none small-2 line-base font-400">{{$t("control-tasks.tasks.deputy-chair-tasks")}}</span>
							</div>
						</v-tab>
						<v-tab :ripple="false" @click="() => { type = 'audit' }" href="#audit">
							<div class="d-flex align-center px-3">
								<span class="text-transform-none small-2 line-base font-400">{{$t("control-tasks.tasks.audit-tasks")}}</span>
							</div>
						</v-tab>
					</v-tabs>
				</div>
				<div class="d-flex">
					<div v-if="filter === 'yearly'" class="pr-3" style="width: 120px">
						<v-select
							class="control-tasks-filter-select"
							:items="years"
							:return-object="false"
							@change="year => {
								getYearlyReports(year)
							}"
							append-icon="mdi-chevron-down"
							background-color="#ffffff"
							dense
							hide-details
							item-text="name"
							item-value="value"
							outlined
							v-model="year"
						>
						</v-select>
					</div>
					<div v-if="filter === 'all'" class="pr-3 d-flex">
						<div class="app-input pr-3">
							<v-menu
								:close-on-content-click="true"
								min-width="auto"
								offset-y
								ref="startDate"
								transition="scale-transition"
								v-model="startDate"
							>
								<template v-slot:activator="{ on, attrs }">
								<v-text-field
									append-icon="mdi-calendar"
									background-color="#ffffff"
									class="control-tasks-filter-select"
									clearable
									dense
									hide-details
									outlined
									readonly
									style="border-radius: 10px; width: 170px"
									v-bind="attrs"
									v-model="start_date"
									v-on="on"
								></v-text-field>
								</template>
								<v-date-picker no-title scrollable v-model="start_date">
								</v-date-picker>
							</v-menu>
						</div>
						<div class="app-input">
							<v-menu
								:close-on-content-click="true"
								min-width="auto"
								offset-y
								ref="endDate"
								transition="scale-transition"
								v-model="endDate"
							>
								<template v-slot:activator="{ on, attrs }">
								<v-text-field
									append-icon="mdi-calendar"
									background-color="#ffffff"
									class="control-tasks-filter-select"
									clearable
									dense
									hide-details
									outlined
									readonly
									style="border-radius: 10px; width: 170px"
									v-bind="attrs"
									v-model="end_date"
									v-on="on"
								></v-text-field>
								</template>
								<v-date-picker no-title scrollable v-model="end_date">
								</v-date-picker>
							</v-menu>
						</div>
					</div>
					<div style="width: 150px">
						<v-select
							class="control-tasks-filter-select"
							:items="filters"
							:return-object="false"
							@change="changeFilter"
							append-icon="mdi-chevron-down"
							background-color="#ffffff"
							dense
							hide-details
							item-text="name"
							item-value="value"
							outlined
							v-model="filter"
						>
						</v-select>
					</div>
				</div>
			</div>
			<div class="control-task-report-tab pb-3">
				<v-tabs
					height="36"
					left
					slider-color="#5964D1"
					style="background: transparent"
					v-model="tab"
				>
					<v-tab href="#all">
						<span
							class="font-400 font-14 text-transform-none tab-text"
							>{{ $t("control-tasks.reports.all") }}</span
						>
					</v-tab>
					<template v-if="isCreator">
						<v-tab href="#doc_type"
							><span
								class="font-400 font-14 text-transform-none tab-text"
								>{{
									$t("control-tasks.reports.document-types")
								}}</span
							></v-tab
						>
						<v-tab href="#deputy_chairs"
							><span
								class="font-400 font-14 text-transform-none tab-text"
								>{{
									$t("control-tasks.reports.deputy-chairmans")
								}}</span
							></v-tab
						>
						<v-tab href="#departments"
							><span
								class="font-400 font-14 text-transform-none tab-text"
								>{{ $t("control-tasks.reports.departments") }}</span
							></v-tab
						>
						<v-tab href="#branches"
							><span
								class="font-400 font-14 text-transform-none tab-text"
								>{{ $t("control-tasks.reports.branches") }}</span
							></v-tab
						>
						<v-tab href="#sub_companies"
							><span
								class="font-400 font-14 text-transform-none tab-text"
								>{{ $t("control-tasks.reports.sub_companies") }}</span
							></v-tab
						>
					</template>
				</v-tabs>
			</div>
		</div>
		<div class="rounded-15" style="max-height: calc(100% - 90px); overflow: hidden;">
			<div class="pa-4 shadow-6 rounded-15 bg-white h-100 w-100 control-tasks-report-table">
				<div
					:class="{'mb-3': tab === 'all' && isCreator}"
					class="tasks-report-table"
					v-if="tab === 'all' || tab === 'doc_type'"
				>
					<all-document-type-reports v-if="filter === 'all'" :redirect="redirect" :loading="documentTypesLoading" :documentTypeReports="documentTypeReports" :totalDocumentTypeReports="totalDocumentTypeReports"/>
					<yearly-document-type-reports v-else :loading="yearlyDocumentTypesLoading" :yearlyDocumentTypeReports="yearlyDocumentTypeReports" :yearlyTotalDocumentTypeReports="yearlyTotalDocumentTypeReports"/>
				</div>
				<div
					:class="{'mb-3': tab === 'all'}"
					class="tasks-report-table"
					v-if="(tab === 'all' || tab === 'deputy_chairs') && isCreator"
				>
					<all-deputy-chair-reports v-if="filter === 'all'" :redirect="redirect" :loading="deputyChairsLoading" :deputyChairReports="deputyChairReports" :totalDeputyChairReports="totalDeputyChairReports"/>
					<yearly-deputy-chair-reports v-else :loading="yearlyDeputyChairsLoading" :yearlyDeputyChairReports="yearlyDeputyChairReports" :yearlyTotalDeputyChairReports="yearlyTotalDeputyChairReports"/>
				</div>
				<div
					:class="{'mb-3': tab === 'all'}"
					class="tasks-report-table"
					v-if="(tab === 'all' || tab === 'departments') && isCreator"
				>
					<all-department-reports v-if="filter === 'all'" :redirect="redirect" :loading="departmentsLoading" :departmentReports="departmentReports" :totalDepartmentReports="totalDepartmentReports"/>
					<yearly-department-reports v-else :loading="yearlyDepartmentsLoading" :yearlyDepartmentReports="yearlyDepartmentReports" :yearlyTotalDepartmentReports="yearlyTotalDepartmentReports"/>
				</div>
				<div
					:class="{'mb-3': tab === 'all'}"
					class="tasks-report-table"
					v-if="(tab === 'all' || tab === 'branches') && isCreator"
				>
					<all-branch-reports v-if="filter === 'all'" :redirect="redirect" :loading="branchesLoading" :branchReports="branchReports" :totalBranchReports="totalBranchReports"/>
					<yearly-branch-reports v-else :loading="yearlyBranchesLoading" :yearlyBranchReports="yearlyBranchReports" :yearlyTotalBranchReports="yearlyTotalBranchReports"/>
				</div>
				<div
					class="tasks-report-table"
					v-if="(tab === 'all' || tab === 'sub_companies') && isCreator"
				>
					<all-sub-company-reports v-if="filter === 'all'" :redirect="redirect" :loading="subCompaniesLoading" :subCompanyReports="subCompanyReports" :totalSubCompanyReports="totalSubCompanyReports"/>
					<yearly-sub-company-reports v-else :loading="yearlySubCompaniesLoading" :yearlySubCompanyReports="yearlySubCompanyReports" :yearlyTotalSubCompanyReports="yearlyTotalSubCompanyReports"/>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
import AllBranchReports from "./AllBranchReports";
import AllDepartmentReports from "./AllDepartmentReports";
import AllDeputyChairReports from "./AllDeputyChairReports";
import AllDocumentTypeReports from "./AllDocumentTypeReports";
import AllSubCompanyReports from "./AllSubCompanyReports";
import YearlyBranchReports from "./YearlyBranchReports";
import YearlyDepartmentReports from "./YearlyDepartmentReports";
import YearlyDeputyChairReports from "./YearlyDeputyChairReports";
import YearlyDocumentTypeReports from "./YearlyDocumentTypeReports";
import YearlySubCompanyReports from "./YearlySubCompanyReports";
import isObject from "lodash/isObject";
import { DownloadIcon, XIcon } from "vue-feather-icons";
import { mapGetters } from "vuex";
export default {
	name: "Reports",
	components: {
		AllBranchReports,
		AllDepartmentReports,
		AllDeputyChairReports,
		AllDocumentTypeReports,
		AllSubCompanyReports,
		DownloadIcon,
		XIcon,
		YearlyBranchReports,
		YearlyDepartmentReports,
		YearlyDeputyChairReports,
		YearlyDocumentTypeReports,
		YearlySubCompanyReports,
	},
	data() {
		return {
			branchesLoading: true,
			departmentsLoading: true,
			deputyChairsLoading: true,
			documentTypesLoading: true,
			subCompaniesLoading: true,
			yearlyBranchesLoading: true,
			yearlyDepartmentsLoading: true,
			yearlyDeputyChairsLoading: true,
			yearlyDocumentTypesLoading: true,
			yearlySubCompaniesLoading: true,
			allAuditBranchReports: [],
			allAuditDepartmentReports: [],
			allAuditDeputyChairReports: [],
			allAuditDocumentTypeReports: [],
			allAuditSubCompanyReports: [],
			allChairmanBranchReports: [],
			allChairmanDepartmentReports: [],
			allChairmanDeputyChairReports: [],
			allChairmanDocumentTypeReports: [],
			allChairmanSubCompanyReports: [],
			allDeputyChairBranchReports: [],
			allDeputyChairDepartmentReports: [],
			allDeputyChairDeputyChairReports: [],
			allDeputyChairDocumentTypeReports: [],
			allDeputyChairSubCompanyReports: [],
			filter: 'all',
			filters: [],
			tab: "all",
			type: 'chairman',
			year: new Date().getFullYear(),
			years: [],
			yearlyAuditBranchReports: [],
			yearlyAuditDepartmentReports: [],
			yearlyAuditDeputyChairReports: [],
			yearlyAuditDocumentTypeReports: [],
			yearlyAuditSubCompanyReports: [],
			yearlyChairmanBranchReports: [],
			yearlyChairmanDepartmentReports: [],
			yearlyChairmanDeputyChairReports: [],
			yearlyChairmanDocumentTypeReports: [],
			yearlyChairmanSubCompanyReports: [],
			yearlyDeputyChairBranchReports: [],
			yearlyDeputyChairDepartmentReports: [],
			yearlyDeputyChairDeputyChairReports: [],
			yearlyDeputyChairDocumentTypeReports: [],
			yearlyDeputyChairSubCompanyReports: [],

			endDate: false,
			end_date: '',
			startDate: false,
			start_date: '',
		};
	},
	computed: {
		...mapGetters({
			currentUser: "auth/getCurrentUser",
		}),
		isCreator() {
			const isCreator = [
				"admin",
				"chairman_tasks",
				"deputy_chair_tasks",
				"audit_tasks",
				"control_task_view",
				"chairman_tasks_no_delete",
				"chairman_tasks_create_read",
				"deputy_chair_tasks_no_delete",
				"deputy_chair_tasks_create_read",
				"audit_tasks_no_delete",
				"audit_tasks_create_read",
			].filter(role => this.currentUser.roles.includes(role)).length > 0;
			return isCreator;
		},
		documentTypeReports() {
			const documentTypeReports = this.type === 'chairman' ? this.allChairmanDocumentTypeReports: this.type === 'deputy-chair' ? this.allDeputyChairDocumentTypeReports : this.allAuditDocumentTypeReports;
			return documentTypeReports;
		},
		deputyChairReports() {
			const deputyChairReports = this.type === 'chairman' ? this.allChairmanDeputyChairReports: this.type === 'deputy-chair' ? this.allDeputyChairDeputyChairReports : this.allAuditDeputyChairReports;
			return deputyChairReports;
		},
		departmentReports() {
			const departmentReports = this.type === 'chairman' ? this.allChairmanDepartmentReports: this.type === 'deputy-chair' ? this.allDeputyChairDepartmentReports : this.allAuditDepartmentReports;
			return departmentReports;
		},
		branchReports() {
			const branchReports = this.type === 'chairman' ? this.allChairmanBranchReports: this.type === 'deputy-chair' ? this.allDeputyChairBranchReports : this.allAuditBranchReports;
			return branchReports;
		},
		subCompanyReports() {
			const subCompanyReports = this.type === 'chairman' ? this.allChairmanSubCompanyReports: this.type === 'deputy-chair' ? this.allDeputyChairSubCompanyReports : this.allAuditSubCompanyReports;
			return subCompanyReports;
		},
		yearlyDocumentTypeReports() {
			const yearlyDocumentTypeReports = this.type === 'chairman' ? this.yearlyChairmanDocumentTypeReports: this.type === 'deputy-chair' ? this.yearlyDeputyChairDocumentTypeReports : this.yearlyAuditDocumentTypeReports;
			return yearlyDocumentTypeReports;
		},
		yearlyDeputyChairReports() {
			const yearlyDeputyChairReports = this.type === 'chairman' ? this.yearlyChairmanDeputyChairReports: this.type === 'deputy-chair' ? this.yearlyDeputyChairDeputyChairReports : this.yearlyAuditDeputyChairReports;
			return yearlyDeputyChairReports;
		},
		yearlyDepartmentReports() {
			const yearlyDepartmentReports = this.type === 'chairman' ? this.yearlyChairmanDepartmentReports: this.type === 'deputy-chair' ? this.yearlyDeputyChairDepartmentReports : this.yearlyAuditDepartmentReports;
			return yearlyDepartmentReports;
		},
		yearlyBranchReports() {
			const yearlyBranchReports = this.type === 'chairman' ? this.yearlyChairmanBranchReports: this.type === 'deputy-chair' ? this.yearlyDeputyChairBranchReports : this.yearlyAuditBranchReports;
			return yearlyBranchReports;
		},
		yearlySubCompanyReports() {
			const yearlySubCompanyReports = this.type === 'chairman' ? this.yearlyChairmanSubCompanyReports: this.type === 'deputy-chair' ? this.yearlyDeputyChairSubCompanyReports : this.yearlyAuditSubCompanyReports;
			return yearlySubCompanyReports;
		},
		totalDocumentTypeReports() {
			const documentTypeReports = this.type === 'chairman' ? this.allChairmanDocumentTypeReports: this.type === 'deputy-chair' ? this.allDeputyChairDocumentTypeReports : this.allAuditDocumentTypeReports;
			const totalDocumentTypeReports = this.allCounts(documentTypeReports);
			return totalDocumentTypeReports;
		},
		totalDeputyChairReports() {
			const deputyChairReports = this.type === 'chairman' ? this.allChairmanDeputyChairReports: this.type === 'deputy-chair' ? this.allDeputyChairDeputyChairReports : this.allAuditDeputyChairReports;
			const totalDeputyChairReports = this.allCounts(deputyChairReports);
			return totalDeputyChairReports;
		},
		totalDepartmentReports() {
			const departmentReports = this.type === 'chairman' ? this.allChairmanDepartmentReports: this.type === 'deputy-chair' ? this.allDeputyChairDepartmentReports : this.allAuditDepartmentReports;
			const totalDepartmentReports = this.allCounts(departmentReports);
			return totalDepartmentReports;
		},
		totalBranchReports() {
			const branchReports = this.type === 'chairman' ? this.allChairmanBranchReports: this.type === 'deputy-chair' ? this.allDeputyChairBranchReports : this.allAuditBranchReports;
			const totalBranchReports = this.allCounts(branchReports);
			return totalBranchReports;
		},
		totalSubCompanyReports() {
			const subCompanyReports = this.type === 'chairman' ? this.allChairmanSubCompanyReports: this.type === 'deputy-chair' ? this.allDeputyChairSubCompanyReports : this.allAuditSubCompanyReports;
			const totalSubCompanyReports = this.allCounts(subCompanyReports);
			return totalSubCompanyReports;
		},
		yearlyTotalDocumentTypeReports() {
			const documentTypeReports = this.type === 'chairman' ? this.yearlyChairmanDocumentTypeReports: this.type === 'deputy-chair' ? this.yearlyDeputyChairDocumentTypeReports : this.yearlyAuditDocumentTypeReports;
			const yearlyTotalDocumentTypeReports = this.allCounts(documentTypeReports);
			return yearlyTotalDocumentTypeReports;
		},
		yearlyTotalDeputyChairReports() {
			const deputyChairReports = this.type === 'chairman' ? this.yearlyChairmanDeputyChairReports: this.type === 'deputy-chair' ? this.yearlyDeputyChairDeputyChairReports : this.yearlyAuditDeputyChairReports;
			const yearlyTotalDeputyChairReports = this.allCounts(deputyChairReports);
			return yearlyTotalDeputyChairReports;
		},
		yearlyTotalDepartmentReports() {
			const departmentReports = this.type === 'chairman' ? this.yearlyChairmanDepartmentReports: this.type === 'deputy-chair' ? this.yearlyDeputyChairDepartmentReports : this.yearlyAuditDepartmentReports;
			const yearlyTotalDepartmentReports = this.allCounts(departmentReports);
			return yearlyTotalDepartmentReports;
		},
		yearlyTotalBranchReports() {
			const branchReports = this.type === 'chairman' ? this.yearlyChairmanBranchReports: this.type === 'deputy-chair' ? this.yearlyDeputyChairBranchReports : this.yearlyAuditBranchReports;
			const yearlyTotalBranchReports = this.allCounts(branchReports);
			return yearlyTotalBranchReports;
		},
		yearlyTotalSubCompanyReports() {
			const subCompanyReports = this.type === 'chairman' ? this.yearlyChairmanSubCompanyReports: this.type === 'deputy-chair' ? this.yearlyDeputyChairSubCompanyReports : this.yearlyAuditSubCompanyReports;
			const yearlyTotalSubCompanyReports = this.allCounts(subCompanyReports);
			return yearlyTotalSubCompanyReports;
		},
	},
	watch: {
		'$i18n.locale': {
			handler() {
				this.changeLanguage()
			}
		},
		start_date: {
			handler(start_date) {
				this.getAllReports(start_date, this.end_date)
			}
		},
		end_date: {
			handler(end_date) {
				this.getAllReports(this.start_date, end_date);
			}
		}
	},
	methods: {
		setYears() {
			const startedYear = 2023
			const currentYear = new Date().getFullYear();
			const interval = currentYear - startedYear + 1;
			const years = [...Array(interval).keys()].map(number => ({
				value: startedYear + number,
				name: startedYear + number
			}));
			this.years = years;
		},
		changeLanguage() {
			this.filters = [
				{
					name: this.$t("control-tasks.tasks.all"),
					value: 'all',
				},
				{
					name: this.$t("control-tasks.reports.yearly"),
					value: 'yearly',
				}
			];
		},
		changeFilter(value) {
			this.filter = value;
			if(value === 'yearly') {
				const year = new Date().getFullYear();
				this.year = year;
				this.getYearlyReports(year);
			} else {
				this.getAllReports(null, null);
				this.end_date = null;
				this.start_date = null;
			}
		},
		redirect(search) {
			if(this.isCreator) {
				this.$router.push({ path: `/control-tasks/tasks?type=${this.type}&${search}` });
			}
		},
		allCounts(data) {
			const allCounts = (Array.isArray(data) ? data : []).reduce((total, count) => {
				total.docs_count +=count.docs_count || 0;
				total.done += count.done || 0;
				total.in_process += count.in_process || 0;
				total.not_done += count.not_done || 0;
				total.overdue_done += count.overdue_done || 0;
				total.pending += count.pending || 0;
				total.tasks_count += count.tasks_count || 0;
				total[10] +=count[10] || 0;
				total[11] +=count[11] || 0;
				total[12] +=count[12] || 0;
				total[1] +=count[1] || 0;
				total[2] +=count[2] || 0;
				total[3] +=count[3] || 0;
				total[4] +=count[4] || 0;
				total[5] +=count[5] || 0;
				total[6] +=count[6] || 0;
				total[7] +=count[7] || 0;
				total[8] +=count[8] || 0;
				total[9] +=count[9] || 0;
				return total;
			}, {
				'1': 0,
				'10': 0,
				'11': 0,
				'12': 0,
				'2': 0,
				'3': 0,
				'4': 0,
				'5': 0,
				'6': 0,
				'7': 0,
				'8': 0,
				'9': 0,
				docs_count: 0,
				done: 0,
				in_process: 0,
				not_done: 0,
				overdue_done: 0,
				pending: 0,
				tasks_count: 0,
			});
			return allCounts
		},
		objectToArray(data = {}, key = '') {
			const keys = Object.keys(isObject(data) ? data : {});
			const list = (Array.isArray(keys) ? keys : []).map(item => {
				const yearly = data[item]?.yearly;
				const months = (Array.isArray(yearly) ? yearly : []).reduce((total, month) => {
					total[month?.deadline__month] = month?.count;
					return total;
				}, {});
				return { [key]: item, ...data[item], ...months };
			});
			return list;
		},
		getAllReports(start_date, end_date) {
			const mfoOrSapObjId = this.isCreator ? '' : this.currentUser?.top_level_mfo_or_sap_obj_id;
			this.getAllDocumentTypeReports(mfoOrSapObjId, start_date, end_date);
			if(this.isCreator) {
				this.getAllBranchReports(mfoOrSapObjId, start_date, end_date);
				this.getAllDepartmentReports(mfoOrSapObjId, start_date, end_date);
				this.getAllDeputyChairReports(mfoOrSapObjId, start_date, end_date);
				this.getAllSubCompanyReports(mfoOrSapObjId, start_date, end_date);
			}
		},
		getYearlyReports(year) {
			const mfoOrSapObjId = this.isCreator ? '' : this.currentUser?.top_level_mfo_or_sap_obj_id;
			this.getYearlyDocumentTypeReports(mfoOrSapObjId, year);
			if(this.isCreator) {
				this.getYearlyBranchReports(mfoOrSapObjId, year);
				this.getYearlyDepartmentReports(mfoOrSapObjId, year);
				this.getYearlyDeputyChairReports(mfoOrSapObjId, year);
				this.getYearlySubCompanyReports(mfoOrSapObjId, year);
			}
		},
		getAllDocumentTypeReports(mfoOrSapObjId, start_date, end_date) {
			this.documentTypesLoading = true;
			this.$axios
				.get(`/control_tasks/reports/doc_type/?type=0&mfo_or_sap_obj_id=${mfoOrSapObjId}${start_date ? '&start_date='+start_date:''}${end_date ? '&end_date='+end_date:''}`)
				.then(response => {
					const status = response?.status;
					const data = response?.data;
					if(status === 200) {
						const reports = this.objectToArray(data, 'doc_type');
						this.allChairmanDocumentTypeReports = reports;
					}
				})
				.catch(() => {})
				.finally(() => {
					this.documentTypesLoading = false;
				});
			this.$axios
				.get(`/control_tasks/reports/doc_type/?type=1&mfo_or_sap_obj_id=${mfoOrSapObjId}${start_date ? '&start_date='+start_date:''}${end_date ? '&end_date='+end_date:''}`)
				.then(response => {
					const status = response?.status;
					const data = response?.data;
					if(status === 200) {
						const reports = this.objectToArray(data, 'doc_type');
						this.allDeputyChairDocumentTypeReports = reports;
					}
				});
			this.$axios
				.get(`/control_tasks/reports/doc_type/?type=2&mfo_or_sap_obj_id=${mfoOrSapObjId}${start_date ? '&start_date='+start_date:''}${end_date ? '&end_date='+end_date:''}`)
				.then(response => {
					const status = response?.status;
					const data = response?.data;
					if(status === 200) {
						const reports = this.objectToArray(data, 'doc_type');
						this.allAuditDocumentTypeReports = reports;
					}
				});
		},
		getAllDeputyChairReports(mfoOrSapObjId, start_date, end_date) {
			this.deputyChairsLoading = true;
			this.$axios
				.get(`/control_tasks/reports/deputy_chair/?type=0&mfo_or_sap_obj_id=${mfoOrSapObjId}${start_date ? '&start_date='+start_date:''}${end_date ? '&end_date='+end_date:''}`)
				.then(response => {
					const status = response?.status;
					const data = response?.data;
					if(status === 200) {
						const reports = this.objectToArray(data, 'deputy_chair');
						this.allChairmanDeputyChairReports = reports;
					}
				})
				.catch(() => {})
				.finally(() => {
					this.deputyChairsLoading = false;
				});
			this.$axios
				.get(`/control_tasks/reports/deputy_chair/?type=1&mfo_or_sap_obj_id=${mfoOrSapObjId}${start_date ? '&start_date='+start_date:''}${end_date ? '&end_date='+end_date:''}`)
				.then(response => {
					const status = response?.status;
					const data = response?.data;
					if(status === 200) {
						const reports = this.objectToArray(data, 'deputy_chair');
						this.allDeputyChairDeputyChairReports = reports;
					}
				});
			this.$axios
				.get(`/control_tasks/reports/deputy_chair/?type=2&mfo_or_sap_obj_id=${mfoOrSapObjId}${start_date ? '&start_date='+start_date:''}${end_date ? '&end_date='+end_date:''}`)
				.then(response => {
					const status = response?.status;
					const data = response?.data;
					if(status === 200) {
						const reports = this.objectToArray(data, 'deputy_chair');
						this.allAuditDeputyChairReports = reports;
					}
				});
		},
		getAllDepartmentReports(mfoOrSapObjId, start_date, end_date) {
			this.departmentsLoading = true;
			this.$axios
				.get(`/control_tasks/reports/department/?type=0&mfo_or_sap_obj_id=${mfoOrSapObjId}${start_date ? '&start_date='+start_date:''}${end_date ? '&end_date='+end_date:''}`)
				.then(response => {
					const status = response?.status;
					const data = response?.data;
					if(status === 200) {
						const reports = this.objectToArray(data, 'department');
						this.allChairmanDepartmentReports = reports;
					}
				})
				.catch(() => {})
				.finally(() => {
					this.departmentsLoading = false;
				});
			this.$axios
				.get(`/control_tasks/reports/department/?type=1&mfo_or_sap_obj_id=${mfoOrSapObjId}${start_date ? '&start_date='+start_date:''}${end_date ? '&end_date='+end_date:''}`)
				.then(response => {
					const status = response?.status;
					const data = response?.data;
					if(status === 200) {
						const reports = this.objectToArray(data, 'department');
						this.allDeputyChairDepartmentReports = reports;
					}
				});
			this.$axios
				.get(`/control_tasks/reports/department/?type=2&mfo_or_sap_obj_id=${mfoOrSapObjId}${start_date ? '&start_date='+start_date:''}${end_date ? '&end_date='+end_date:''}`)
				.then(response => {
					const status = response?.status;
					const data = response?.data;
					if(status === 200) {
						const reports = this.objectToArray(data, 'department');
						this.allAuditDepartmentReports = reports;
					}
				});
		},
		getAllBranchReports(mfoOrSapObjId, start_date, end_date) {
			this.branchesLoading = true;
			this.$axios
				.get(`/control_tasks/reports/filial/?type=0&mfo_or_sap_obj_id=${mfoOrSapObjId}${start_date ? '&start_date='+start_date:''}${end_date ? '&end_date='+end_date:''}`)
				.then(response => {
					const status = response?.status;
					const data = response?.data;
					if(status === 200) {
						const reports = this.objectToArray(data, 'branch');
						this.allChairmanBranchReports = reports;
					}
				})
				.catch(() => {})
				.finally(() => {
					this.branchesLoading = false;
				});
			this.$axios
				.get(`/control_tasks/reports/filial/?type=1&mfo_or_sap_obj_id=${mfoOrSapObjId}${start_date ? '&start_date='+start_date:''}${end_date ? '&end_date='+end_date:''}`)
				.then(response => {
					const status = response?.status;
					const data = response?.data;
					if(status === 200) {
						const reports = this.objectToArray(data, 'branch');
						this.allDeputyChairBranchReports = reports;
					}
				});
			this.$axios
				.get(`/control_tasks/reports/filial/?type=2&mfo_or_sap_obj_id=${mfoOrSapObjId}${start_date ? '&start_date='+start_date:''}${end_date ? '&end_date='+end_date:''}`)
				.then(response => {
					const status = response?.status;
					const data = response?.data;
					if(status === 200) {
						const reports = this.objectToArray(data, 'branch');
						this.allAuditBranchReports = reports;
					}
				});
		},
		getAllSubCompanyReports(mfoOrSapObjId, start_date, end_date) {
			this.subCompaniesLoading = true;
			this.$axios
				.get(`/control_tasks/reports/sub_company/?type=0&mfo_or_sap_obj_id=${mfoOrSapObjId}${start_date ? '&start_date='+start_date:''}${end_date ? '&end_date='+end_date:''}`)
				.then(response => {
					const status = response?.status;
					const data = response?.data;
					if(status === 200) {
						const reports = this.objectToArray(data, 'sub_company');
						this.allChairmanSubCompanyReports = reports;
					}
				})
				.catch(() => {})
				.finally(() => {
					this.subCompaniesLoading = false;
				});
			this.$axios
				.get(`/control_tasks/reports/sub_company/?type=1&mfo_or_sap_obj_id=${mfoOrSapObjId}${start_date ? '&start_date='+start_date:''}${end_date ? '&end_date='+end_date:''}`)
				.then(response => {
					const status = response?.status;
					const data = response?.data;
					if(status === 200) {
						const reports = this.objectToArray(data, 'sub_company');
						this.allDeputyChairSubCompanyReports = reports;
					}
				});
			this.$axios
				.get(`/control_tasks/reports/sub_company/?type=2&mfo_or_sap_obj_id=${mfoOrSapObjId}${start_date ? '&start_date='+start_date:''}${end_date ? '&end_date='+end_date:''}`)
				.then(response => {
					const status = response?.status;
					const data = response?.data;
					if(status === 200) {
						const reports = this.objectToArray(data, 'sub_company');
						this.allAuditSubCompanyReports = reports;
					}
				});
		},
		getYearlyDocumentTypeReports(mfoOrSapObjId, year) {
			this.yearlyDocumentTypesLoading = true;
			this.$axios
				.get(`/control_tasks/reports/doc_type/${year}/?type=0&mfo_or_sap_obj_id=${mfoOrSapObjId}`)
				.then(response => {
					const status = response?.status;
					const data = response?.data;
					if(status === 200) {
						const reports = this.objectToArray(data, 'doc_type');
						this.yearlyChairmanDocumentTypeReports = reports;
					}
				})
				.catch(() => {})
				.finally(() => {
					this.yearlyDocumentTypesLoading = false;
				});
			this.$axios
				.get(`/control_tasks/reports/doc_type/${year}/?type=1&mfo_or_sap_obj_id=${mfoOrSapObjId}`)
				.then(response => {
					const status = response?.status;
					const data = response?.data;
					if(status === 200) {
						const reports = this.objectToArray(data, 'doc_type');
						this.yearlyDeputyChairDocumentTypeReports = reports;
					}
				});
			this.$axios
				.get(`/control_tasks/reports/doc_type/${year}/?type=2&mfo_or_sap_obj_id=${mfoOrSapObjId}`)
				.then(response => {
					const status = response?.status;
					const data = response?.data;
					if(status === 200) {
						const reports = this.objectToArray(data, 'doc_type');
						this.yearlyAuditDocumentTypeReports = reports;
					}
				});
		},
		getYearlyDeputyChairReports(mfoOrSapObjId, year) {
			this.yearlyDeputyChairsLoading = true;
			this.$axios
				.get(`/control_tasks/reports/deputy_chair/${year}/?type=0&mfo_or_sap_obj_id=${mfoOrSapObjId}`)
				.then(response => {
					const status = response?.status;
					const data = response?.data;
					if(status === 200) {
						const reports = this.objectToArray(data, 'deputy_chair');
						this.yearlyChairmanDeputyChairReports = reports;
					}
				})
				.catch(() => {})
				.finally(() => {
					this.yearlyDeputyChairsLoading = false;
				});
			this.$axios
				.get(`/control_tasks/reports/deputy_chair/${year}/?type=1&mfo_or_sap_obj_id=${mfoOrSapObjId}`)
				.then(response => {
					const status = response?.status;
					const data = response?.data;
					if(status === 200) {
						const reports = this.objectToArray(data, 'deputy_chair');
						this.yearlyDeputyChairDeputyChairReports = reports;
					}
				});
			this.$axios
				.get(`/control_tasks/reports/deputy_chair/${year}/?type=2&mfo_or_sap_obj_id=${mfoOrSapObjId}`)
				.then(response => {
					const status = response?.status;
					const data = response?.data;
					if(status === 200) {
						const reports = this.objectToArray(data, 'deputy_chair');
						this.yearlyAuditDeputyChairReports = reports;
					}
				});
		},
		getYearlyDepartmentReports(mfoOrSapObjId, year) {
			this.yearlyDepartmentsLoading = true;
			this.$axios
				.get(`/control_tasks/reports/department/${year}/?type=0&mfo_or_sap_obj_id=${mfoOrSapObjId}`)
				.then(response => {
					const status = response?.status;
					const data = response?.data;
					if(status === 200) {
						const reports = this.objectToArray(data, 'department');
						this.yearlyChairmanDepartmentReports = reports;
					}
				})
				.catch(() => {})
				.finally(() => {
					this.yearlyDepartmentsLoading = false;
				});
			this.$axios
				.get(`/control_tasks/reports/department/${year}/?type=1&mfo_or_sap_obj_id=${mfoOrSapObjId}`)
				.then(response => {
					const status = response?.status;
					const data = response?.data;
					if(status === 200) {
						const reports = this.objectToArray(data, 'department');
						this.yearlyDeputyChairDepartmentReports = reports;
					}
				});
			this.$axios
				.get(`/control_tasks/reports/department/${year}/?type=2&mfo_or_sap_obj_id=${mfoOrSapObjId}`)
				.then(response => {
					const status = response?.status;
					const data = response?.data;
					if(status === 200) {
						const reports = this.objectToArray(data, 'department');
						this.yearlyAuditDepartmentReports = reports;
					}
				});
		},
		getYearlyBranchReports(mfoOrSapObjId, year) {
			this.yearlyBranchesLoading = true;
			this.$axios
				.get(`/control_tasks/reports/filial/${year}/?type=0&mfo_or_sap_obj_id=${mfoOrSapObjId}`)
				.then(response => {
					const status = response?.status;
					const data = response?.data;
					if(status === 200) {
						const reports = this.objectToArray(data, 'branch');
						this.yearlyChairmanBranchReports = reports;
					}
				})
				.catch(() => {})
				.finally(() => {
					this.yearlyBranchesLoading = false;
				});
			this.$axios
				.get(`/control_tasks/reports/filial/${year}/?type=1&mfo_or_sap_obj_id=${mfoOrSapObjId}`)
				.then(response => {
					const status = response?.status;
					const data = response?.data;
					if(status === 200) {
						const reports = this.objectToArray(data, 'branch');
						this.yearlyDeputyChairBranchReports = reports;
					}
				});
			this.$axios
				.get(`/control_tasks/reports/filial/${year}/?type=2&mfo_or_sap_obj_id=${mfoOrSapObjId}`)
				.then(response => {
					const status = response?.status;
					const data = response?.data;
					if(status === 200) {
						const reports = this.objectToArray(data, 'branch');
						this.yearlyAuditBranchReports = reports;
					}
				});
		},
		getYearlySubCompanyReports(mfoOrSapObjId, year) {
			this.yearlySubCompaniesLoading = true;
			this.$axios
				.get(`/control_tasks/reports/sub_company/${year}/?type=0&mfo_or_sap_obj_id=${mfoOrSapObjId}`)
				.then(response => {
					const status = response?.status;
					const data = response?.data;
					if(status === 200) {
						const reports = this.objectToArray(data, 'sub_company');
						this.yearlyChairmanSubCompanyReports = reports;
					}
				})
				.catch(() => {})
				.finally(() => {
					this.yearlySubCompaniesLoading = false;
				});
			this.$axios
				.get(`/control_tasks/reports/sub_company/${year}/?type=1&mfo_or_sap_obj_id=${mfoOrSapObjId}`)
				.then(response => {
					const status = response?.status;
					const data = response?.data;
					if(status === 200) {
						const reports = this.objectToArray(data, 'sub_company');
						this.yearlyDeputyChairSubCompanyReports = reports;
					}
				});
			this.$axios
				.get(`/control_tasks/reports/sub_company/${year}/?type=2&mfo_or_sap_obj_id=${mfoOrSapObjId}`)
				.then(response => {
					const status = response?.status;
					const data = response?.data;
					if(status === 200) {
						const reports = this.objectToArray(data, 'sub_company');
						this.yearlyAuditSubCompanyReports = reports;
					}
				});
		},
	},
	mounted() {
		this.changeLanguage();
		this.getAllReports(null, null);
		this.setYears();
	},
};
</script>
<style>
.control-tasks-filter-select {
	border-radius: 10px;
	box-shadow: 0px 1px 8px rgb(0 0 0 / 4%) !important;
	height: 40px;
}
.control-tasks-filter-select fieldset {
	border: none !important;
}
.control-tasks-report-table {
	overflow: auto;
}
.control-tasks-report-table::-webkit-scrollbar {
	height: 6px;
	width: 6px;
}
.control-tasks-report-table::-webkit-scrollbar-track {
	border-radius: 3px;
	box-shadow: none;
}
.control-tasks-report-table::-webkit-scrollbar-thumb {
	background-color: #5964d1;
	border-radius: 3px;
}
.control-tasks-report-table::-webkit-scrollbar-thumb:hover {
	background-color: #5964d1;
}
.control-tasks-type-tab {
	box-shadow: 0px 1px 8px rgb(0 0 0 / 4%) !important;
}
.control-tasks-type-tab .v-tab::before {
	border-radius: 12px;
}
.tasks-report-table .v-data-table__wrapper::-webkit-scrollbar {
	height: 6px;
	width: 6px;
}
.tasks-report-table .v-data-table__wrapper::-webkit-scrollbar-track {
	border-radius: 3px;
	box-shadow: none;
}
.tasks-report-table .v-data-table__wrapper::-webkit-scrollbar-thumb {
	background-color: #5964d1;
	border-radius: 3px;
}
.tasks-report-table .v-data-table__wrapper::-webkit-scrollbar-thumb:hover {
	background-color: #5964d1;
}
.tasks-report-table .v-data-table__wrapper table td,
.tasks-report-table .v-data-table__wrapper table th {
	border: 1px solid var(--border-color) !important;
	font-size: 15px !important;
	font-weight: 500 !important;
	padding: 12px !important;
}
.tasks-report-table .v-data-table__wrapper table tr th:first-child {
	border-top-left-radius: 12px;
}
.tasks-report-table .v-data-table__wrapper table tr th:last-child {
	border-top-right-radius: 12px;
}
.tasks-report-table .v-data-table__wrapper table tr:last-child td:first-child {
	border-bottom-left-radius: 12px;
}
.tasks-report-table .v-data-table__wrapper table tr:last-child td:last-child {
	border-bottom-right-radius: 12px;
}
.tasks-report-table .v-data-table__wrapper table td.count {
	font-size: 16px !important;
}
.tasks-report-table .v-data-table__wrapper table td.done {
	color: #0ea20b;
	font-size: 16px !important;
}
.tasks-report-table .v-data-table__wrapper table td.overdue {
	color: #f49300;
	font-size: 16px !important;
}
.tasks-report-table .v-data-table__wrapper table td.in-progress {
	color: #5964d1;
	font-size: 16px !important;
}
.tasks-report-table .v-data-table__wrapper table td.not-done {
	color: #e03636;
	font-size: 16px !important;
}
.tasks-report-table
	.v-data-table
	> .v-data-table__wrapper
	> table
	> tbody
	> tr {
	cursor: pointer;
}
.tasks-report-table
	.v-data-table
	> .v-data-table__wrapper
	> table
	> tbody
	> tr
	> td {
	border: 1px solid var(--border-color) !important;
}
.tasks-report-table
	.v-data-table
	> .v-data-table__wrapper
	> table
	> thead
	> tr:last-child
	> th {
	border: 1px solid var(--primary-1) !important;
	font-size: 15px !important;
	font-weight: 500 !important;
}
.tasks-report-table
	.v-data-table
	> .v-data-table__wrapper
	> table
	> thead
	> tr
	> th {
	background-color: var(--primary-1) !important;
	color: white !important;
}
.control-task-report-tab .v-tab {
	min-width: 48px;
	cursor: pointer;
	padding: 0 8px 0 12px;
}
.control-task-report-tab .v-tab:hover::before {
	opacity: 0.4 !important;
}
.control-task-report-tab .v-tab::before {
	border-radius: 10px;
}
.control-task-report-tab .v-tab * {
	border-radius: 10px;
	caret-color: #000000 !important;
	color: #000000 !important;
}
.control-task-report-tab .v-tab .v-badge__badge {
	color: #ffffff !important;
}
.control-task-report-tab .v-tab.v-tab--active {
	border-radius: 10px;
}
.control-task-report-tab .v-tab .v-tab--active .v-icon {
	caret-color: #171717 !important;
	color: #171717 !important;
}
.control-task-report-tab .v-slide-group__next {
	margin: 0 0 0 6px;
}
.control-task-report-tab .v-slide-group__prev {
	margin: 0 6px 0 0;
}
.control-task-report-tab .v-slide-group__next,
.control-task-report-tab .v-slide-group__prev {
	background-color: #5964d1;
	border-radius: 10px;
	flex: initial !important;
	min-width: 36px;
}
.control-task-report-tab .v-slide-group__next .v-icon,
.control-task-report-tab .v-slide-group__prev .v-icon {
	color: white !important;
}
.control-task-report-tab .v-slide-group__next--disabled,
.control-task-report-tab .v-slide-group__prev--disabled {
	display: none;
}
</style>
