<template>
   <div>
      <template v-if="loading">
         <div class="w-100 d-flex align-center justify-center" style="height: 150px">
            <app-loader :size="40" />
         </div>
      </template>
      <template v-else>
         <v-simple-table>
            <thead>
               <tr>
                  <th width="350">{{$t("control-tasks.reports.departments")}}</th>
                  <th class="text-center">{{$t("control-tasks.reports.in-progress")}}</th>
                  <th class="text-center">{{$t("control-tasks.reports.not-done")}}</th>
                  <th class="text-center">{{$t('control-tasks.reports.january')}}</th>
                  <th class="text-center">{{$t('control-tasks.reports.february')}}</th>
                  <th class="text-center">{{$t('control-tasks.reports.march')}}</th>
                  <th class="text-center">{{$t('control-tasks.reports.april')}}</th>
                  <th class="text-center">{{$t('control-tasks.reports.may')}}</th>
                  <th class="text-center">{{$t('control-tasks.reports.june')}}</th>
                  <th class="text-center">{{$t('control-tasks.reports.july')}}</th>
                  <th class="text-center">{{$t('control-tasks.reports.august')}}</th>
                  <th class="text-center">{{$t('control-tasks.reports.september')}}</th>
                  <th class="text-center">{{$t('control-tasks.reports.october')}}</th>
                  <th class="text-center">{{$t('control-tasks.reports.november')}}</th>
                  <th class="text-center">{{$t('control-tasks.reports.december')}}</th>
               </tr>
            </thead>
            <tbody>
               <tr :key="index" v-for="(department, index) in yearlyDepartmentReports">
                  <td>{{ department.department }}</td>
                  <td class="text-center in-progress">{{ department.in_process }}</td>
                  <td class="text-center not-done">{{ department.not_done }}</td>
                  <td class="text-center">{{ department[1] || 0 }}</td>
                  <td class="text-center">{{ department[2] || 0 }}</td>
                  <td class="text-center">{{ department[3] || 0 }}</td>
                  <td class="text-center">{{ department[4] || 0 }}</td>
                  <td class="text-center">{{ department[5] || 0 }}</td>
                  <td class="text-center">{{ department[6] || 0 }}</td>
                  <td class="text-center">{{ department[7] || 0 }}</td>
                  <td class="text-center">{{ department[8] || 0 }}</td>
                  <td class="text-center">{{ department[9] || 0 }}</td>
                  <td class="text-center">{{ department[10] || 0 }}</td>
                  <td class="text-center">{{ department[11] || 0 }}</td>
                  <td class="text-center">{{ department[12] || 0 }}</td>
               </tr>
               <tr>
                  <td>{{ $t('control-tasks.reports.total') }}</td>
                  <td class="text-center in-progress">{{ yearlyTotalDepartmentReports.in_process }}</td>
                  <td class="text-center not-done">{{ yearlyTotalDepartmentReports.not_done }}</td>
                  <td class="text-center">{{ yearlyTotalDepartmentReports[1] || 0 }}</td>
                  <td class="text-center">{{ yearlyTotalDepartmentReports[2] || 0 }}</td>
                  <td class="text-center">{{ yearlyTotalDepartmentReports[3] || 0 }}</td>
                  <td class="text-center">{{ yearlyTotalDepartmentReports[4] || 0 }}</td>
                  <td class="text-center">{{ yearlyTotalDepartmentReports[5] || 0 }}</td>
                  <td class="text-center">{{ yearlyTotalDepartmentReports[6] || 0 }}</td>
                  <td class="text-center">{{ yearlyTotalDepartmentReports[7] || 0 }}</td>
                  <td class="text-center">{{ yearlyTotalDepartmentReports[8] || 0 }}</td>
                  <td class="text-center">{{ yearlyTotalDepartmentReports[9] || 0 }}</td>
                  <td class="text-center">{{ yearlyTotalDepartmentReports[10] || 0 }}</td>
                  <td class="text-center">{{ yearlyTotalDepartmentReports[11] || 0 }}</td>
                  <td class="text-center">{{ yearlyTotalDepartmentReports[12] || 0 }}</td>
               </tr>
            </tbody>
         </v-simple-table>
      </template>
   </div>
</template>
<script>
import AppLoader from "@/common/components/base/AppLoader";
export default {
   name: 'YearlyDepartmentReports',
   components: { AppLoader },
   props: {
      loading: Boolean,
      yearlyDepartmentReports: Array,
      yearlyTotalDepartmentReports: Object,
   }
}
</script>