<template>
   <div>
      <template v-if="loading">
         <div class="w-100 d-flex align-center justify-center" style="height: 150px">
            <app-loader :size="40" />
         </div>
      </template>
      <template v-else>
         <v-simple-table>
            <thead>
               <tr>
                  <th width="350">{{$t("control-tasks.reports.document-types")}}</th>
                  <th class="text-center">{{$t("control-tasks.reports.in-progress")}}</th>
                  <th class="text-center">{{$t("control-tasks.reports.not-done")}}</th>
                  <th class="text-center">{{$t('control-tasks.reports.january')}}</th>
                  <th class="text-center">{{$t('control-tasks.reports.february')}}</th>
                  <th class="text-center">{{$t('control-tasks.reports.march')}}</th>
                  <th class="text-center">{{$t('control-tasks.reports.april')}}</th>
                  <th class="text-center">{{$t('control-tasks.reports.may')}}</th>
                  <th class="text-center">{{$t('control-tasks.reports.june')}}</th>
                  <th class="text-center">{{$t('control-tasks.reports.july')}}</th>
                  <th class="text-center">{{$t('control-tasks.reports.august')}}</th>
                  <th class="text-center">{{$t('control-tasks.reports.september')}}</th>
                  <th class="text-center">{{$t('control-tasks.reports.october')}}</th>
                  <th class="text-center">{{$t('control-tasks.reports.november')}}</th>
                  <th class="text-center">{{$t('control-tasks.reports.december')}}</th>
               </tr>
            </thead>
            <tbody>
               <tr v-for="(documentType, index) in yearlyDocumentTypeReports" :key="index">
                  <td>{{ documentType.doc_type }}</td>
                  <td class="text-center in-progress">{{ documentType.in_process }}</td>
                  <td class="text-center not-done">{{ documentType.not_done }}</td>
                  <td class="text-center">{{ documentType[1] || 0 }}</td>
                  <td class="text-center">{{ documentType[2] || 0 }}</td>
                  <td class="text-center">{{ documentType[3] || 0 }}</td>
                  <td class="text-center">{{ documentType[4] || 0 }}</td>
                  <td class="text-center">{{ documentType[5] || 0 }}</td>
                  <td class="text-center">{{ documentType[6] || 0 }}</td>
                  <td class="text-center">{{ documentType[7] || 0 }}</td>
                  <td class="text-center">{{ documentType[8] || 0 }}</td>
                  <td class="text-center">{{ documentType[9] || 0 }}</td>
                  <td class="text-center">{{ documentType[10] || 0 }}</td>
                  <td class="text-center">{{ documentType[11] || 0 }}</td>
                  <td class="text-center">{{ documentType[12] || 0 }}</td>
               </tr>
               <tr>
                  <td>{{ $t('control-tasks.reports.total') }}</td>
                  <td class="text-center in-progress">{{ yearlyTotalDocumentTypeReports.in_process }}</td>
                  <td class="text-center not-done">{{ yearlyTotalDocumentTypeReports.not_done }}</td>
                  <td class="text-center">{{ yearlyTotalDocumentTypeReports[1] || 0 }}</td>
                  <td class="text-center">{{ yearlyTotalDocumentTypeReports[2] || 0 }}</td>
                  <td class="text-center">{{ yearlyTotalDocumentTypeReports[3] || 0 }}</td>
                  <td class="text-center">{{ yearlyTotalDocumentTypeReports[4] || 0 }}</td>
                  <td class="text-center">{{ yearlyTotalDocumentTypeReports[5] || 0 }}</td>
                  <td class="text-center">{{ yearlyTotalDocumentTypeReports[6] || 0 }}</td>
                  <td class="text-center">{{ yearlyTotalDocumentTypeReports[7] || 0 }}</td>
                  <td class="text-center">{{ yearlyTotalDocumentTypeReports[8] || 0 }}</td>
                  <td class="text-center">{{ yearlyTotalDocumentTypeReports[9] || 0 }}</td>
                  <td class="text-center">{{ yearlyTotalDocumentTypeReports[10] || 0 }}</td>
                  <td class="text-center">{{ yearlyTotalDocumentTypeReports[11] || 0 }}</td>
                  <td class="text-center">{{ yearlyTotalDocumentTypeReports[12] || 0 }}</td>
               </tr>
            </tbody>
         </v-simple-table>
      </template>
   </div>
</template>
<script>
import AppLoader from "@/common/components/base/AppLoader";
export default {
   name: 'YearlyDocumentTypeReports',
   components: { AppLoader },
   props: {
      loading: Boolean,
      yearlyDocumentTypeReports: Array,
      yearlyTotalDocumentTypeReports: Object,
   }
}
</script>