<template>
   <div>
      <template v-if="loading">
         <div class="w-100 d-flex align-center justify-center" style="height: 150px">
            <app-loader :size="40" />
         </div>
      </template>
      <template v-else>
         <v-simple-table>
            <thead>
               <tr>
                  <th width="350">{{$t("control-tasks.reports.branches")}}</th>
                  <th class="text-center">{{$t("control-tasks.reports.in-progress")}}</th>
                  <th class="text-center">{{$t("control-tasks.reports.not-done")}}</th>
                  <th class="text-center">{{$t('control-tasks.reports.january')}}</th>
                  <th class="text-center">{{$t('control-tasks.reports.february')}}</th>
                  <th class="text-center">{{$t('control-tasks.reports.march')}}</th>
                  <th class="text-center">{{$t('control-tasks.reports.april')}}</th>
                  <th class="text-center">{{$t('control-tasks.reports.may')}}</th>
                  <th class="text-center">{{$t('control-tasks.reports.june')}}</th>
                  <th class="text-center">{{$t('control-tasks.reports.july')}}</th>
                  <th class="text-center">{{$t('control-tasks.reports.august')}}</th>
                  <th class="text-center">{{$t('control-tasks.reports.september')}}</th>
                  <th class="text-center">{{$t('control-tasks.reports.october')}}</th>
                  <th class="text-center">{{$t('control-tasks.reports.november')}}</th>
                  <th class="text-center">{{$t('control-tasks.reports.december')}}</th>
               </tr>
            </thead>
            <tbody>
               <tr :key="index" v-for="(branch, index) in yearlyBranchReports">
                  <td>{{ branch.branch }}</td>
                  <td class="text-center in-progress">{{ branch.in_process }}</td>
                  <td class="text-center not-done">{{ branch.not_done }}</td>
                  <td class="text-center">{{ branch[1] || 0 }}</td>
                  <td class="text-center">{{ branch[2] || 0 }}</td>
                  <td class="text-center">{{ branch[3] || 0 }}</td>
                  <td class="text-center">{{ branch[4] || 0 }}</td>
                  <td class="text-center">{{ branch[5] || 0 }}</td>
                  <td class="text-center">{{ branch[6] || 0 }}</td>
                  <td class="text-center">{{ branch[7] || 0 }}</td>
                  <td class="text-center">{{ branch[8] || 0 }}</td>
                  <td class="text-center">{{ branch[9] || 0 }}</td>
                  <td class="text-center">{{ branch[10] || 0 }}</td>
                  <td class="text-center">{{ branch[11] || 0 }}</td>
                  <td class="text-center">{{ branch[12] || 0 }}</td>
               </tr>
               <tr>
                  <td>{{ $t('control-tasks.reports.total') }}</td>
                  <td class="text-center in-progress">{{ yearlyTotalBranchReports.in_process }}</td>
                  <td class="text-center not-done">{{ yearlyTotalBranchReports.not_done }}</td>
                  <td class="text-center">{{ yearlyTotalBranchReports[1] || 0 }}</td>
                  <td class="text-center">{{ yearlyTotalBranchReports[2] || 0 }}</td>
                  <td class="text-center">{{ yearlyTotalBranchReports[3] || 0 }}</td>
                  <td class="text-center">{{ yearlyTotalBranchReports[4] || 0 }}</td>
                  <td class="text-center">{{ yearlyTotalBranchReports[5] || 0 }}</td>
                  <td class="text-center">{{ yearlyTotalBranchReports[6] || 0 }}</td>
                  <td class="text-center">{{ yearlyTotalBranchReports[7] || 0 }}</td>
                  <td class="text-center">{{ yearlyTotalBranchReports[8] || 0 }}</td>
                  <td class="text-center">{{ yearlyTotalBranchReports[9] || 0 }}</td>
                  <td class="text-center">{{ yearlyTotalBranchReports[10] || 0 }}</td>
                  <td class="text-center">{{ yearlyTotalBranchReports[11] || 0 }}</td>
                  <td class="text-center">{{ yearlyTotalBranchReports[12] || 0 }}</td>
               </tr>
            </tbody>
         </v-simple-table>
      </template>
   </div>
</template>
<script>
import AppLoader from "@/common/components/base/AppLoader";
export default {
   name: 'YearlyBranchReports',
   components: { AppLoader },
   props: {
      loading: Boolean,
      yearlyBranchReports: Array,
      yearlyTotalBranchReports: Object,
   },
}
</script>