<template>
   <div>
      <template v-if="loading">
         <div class="w-100 d-flex align-center justify-center" style="height: 150px">
            <app-loader :size="40" />
         </div>
      </template>
      <template v-else>
         <v-simple-table>
            <thead>
               <tr>
                  <th width="350">{{$t("control-tasks.reports.sub_companies")}}</th>
                  <th class="text-center">{{$t("control-tasks.reports.in-progress")}}</th>
                  <th class="text-center">{{$t("control-tasks.reports.not-done")}}</th>
                  <th class="text-center">{{$t('control-tasks.reports.january')}}</th>
                  <th class="text-center">{{$t('control-tasks.reports.february')}}</th>
                  <th class="text-center">{{$t('control-tasks.reports.march')}}</th>
                  <th class="text-center">{{$t('control-tasks.reports.april')}}</th>
                  <th class="text-center">{{$t('control-tasks.reports.may')}}</th>
                  <th class="text-center">{{$t('control-tasks.reports.june')}}</th>
                  <th class="text-center">{{$t('control-tasks.reports.july')}}</th>
                  <th class="text-center">{{$t('control-tasks.reports.august')}}</th>
                  <th class="text-center">{{$t('control-tasks.reports.september')}}</th>
                  <th class="text-center">{{$t('control-tasks.reports.october')}}</th>
                  <th class="text-center">{{$t('control-tasks.reports.november')}}</th>
                  <th class="text-center">{{$t('control-tasks.reports.december')}}</th>
               </tr>
            </thead>
            <tbody>
               <tr :key="index" v-for="(subCompany, index) in yearlySubCompanyReports">
                  <td>{{ subCompany.sub_company }}</td>
                  <td class="text-center in-progress">{{ subCompany.in_process }}</td>
                  <td class="text-center not-done">{{ subCompany.not_done }}</td>
                  <td class="text-center">{{ subCompany[1] || 0 }}</td>
                  <td class="text-center">{{ subCompany[2] || 0 }}</td>
                  <td class="text-center">{{ subCompany[3] || 0 }}</td>
                  <td class="text-center">{{ subCompany[4] || 0 }}</td>
                  <td class="text-center">{{ subCompany[5] || 0 }}</td>
                  <td class="text-center">{{ subCompany[6] || 0 }}</td>
                  <td class="text-center">{{ subCompany[7] || 0 }}</td>
                  <td class="text-center">{{ subCompany[8] || 0 }}</td>
                  <td class="text-center">{{ subCompany[9] || 0 }}</td>
                  <td class="text-center">{{ subCompany[10] || 0 }}</td>
                  <td class="text-center">{{ subCompany[11] || 0 }}</td>
                  <td class="text-center">{{ subCompany[12] || 0 }}</td>
               </tr>
               <tr>
                  <td>{{ $t('control-tasks.reports.total') }}</td>
                  <td class="text-center in-progress">{{ yearlyTotalSubCompanyReports.in_process }}</td>
                  <td class="text-center not-done">{{ yearlyTotalSubCompanyReports.not_done }}</td>
                  <td class="text-center">{{ yearlyTotalSubCompanyReports[1] || 0 }}</td>
                  <td class="text-center">{{ yearlyTotalSubCompanyReports[2] || 0 }}</td>
                  <td class="text-center">{{ yearlyTotalSubCompanyReports[3] || 0 }}</td>
                  <td class="text-center">{{ yearlyTotalSubCompanyReports[4] || 0 }}</td>
                  <td class="text-center">{{ yearlyTotalSubCompanyReports[5] || 0 }}</td>
                  <td class="text-center">{{ yearlyTotalSubCompanyReports[6] || 0 }}</td>
                  <td class="text-center">{{ yearlyTotalSubCompanyReports[7] || 0 }}</td>
                  <td class="text-center">{{ yearlyTotalSubCompanyReports[8] || 0 }}</td>
                  <td class="text-center">{{ yearlyTotalSubCompanyReports[9] || 0 }}</td>
                  <td class="text-center">{{ yearlyTotalSubCompanyReports[10] || 0 }}</td>
                  <td class="text-center">{{ yearlyTotalSubCompanyReports[11] || 0 }}</td>
                  <td class="text-center">{{ yearlyTotalSubCompanyReports[12] || 0 }}</td>
               </tr>
            </tbody>
         </v-simple-table>
      </template>
   </div>
</template>
<script>
import AppLoader from "@/common/components/base/AppLoader";
export default {
   name: 'YearlySubCompanyReports',
   components: { AppLoader },
   props: {
      loading: Boolean,
      yearlySubCompanyReports: Array,
      yearlyTotalSubCompanyReports: Object,
   }
}
</script>