<template>
   <div>
      <template v-if="loading">
         <div class="w-100 d-flex align-center justify-center" style="height: 150px">
            <app-loader :size="40" />
         </div>
      </template>
      <template v-else>
         <v-simple-table>
            <thead>
               <tr>
                  <th width="350">{{$t("control-tasks.reports.deputy-chairmans")}}</th>
                  <th class="text-center">{{$t("control-tasks.reports.in-progress")}}</th>
                  <th class="text-center">{{$t("control-tasks.reports.not-done")}}</th>
                  <th class="text-center">{{$t('control-tasks.reports.january')}}</th>
                  <th class="text-center">{{$t('control-tasks.reports.february')}}</th>
                  <th class="text-center">{{$t('control-tasks.reports.march')}}</th>
                  <th class="text-center">{{$t('control-tasks.reports.april')}}</th>
                  <th class="text-center">{{$t('control-tasks.reports.may')}}</th>
                  <th class="text-center">{{$t('control-tasks.reports.june')}}</th>
                  <th class="text-center">{{$t('control-tasks.reports.july')}}</th>
                  <th class="text-center">{{$t('control-tasks.reports.august')}}</th>
                  <th class="text-center">{{$t('control-tasks.reports.september')}}</th>
                  <th class="text-center">{{$t('control-tasks.reports.october')}}</th>
                  <th class="text-center">{{$t('control-tasks.reports.november')}}</th>
                  <th class="text-center">{{$t('control-tasks.reports.december')}}</th>
               </tr>
            </thead>
            <tbody>
               <tr :key="index" v-for="(deputyChair, index) in yearlyDeputyChairReports">
                  <td>{{ deputyChair.deputy_chair }}</td>
                  <td class="text-center in-progress">{{ deputyChair.in_process }}</td>
                  <td class="text-center not-done">{{ deputyChair.not_done }}</td>
                  <td class="text-center">{{ deputyChair[1] || 0 }}</td>
                  <td class="text-center">{{ deputyChair[2] || 0 }}</td>
                  <td class="text-center">{{ deputyChair[3] || 0 }}</td>
                  <td class="text-center">{{ deputyChair[4] || 0 }}</td>
                  <td class="text-center">{{ deputyChair[5] || 0 }}</td>
                  <td class="text-center">{{ deputyChair[6] || 0 }}</td>
                  <td class="text-center">{{ deputyChair[7] || 0 }}</td>
                  <td class="text-center">{{ deputyChair[8] || 0 }}</td>
                  <td class="text-center">{{ deputyChair[9] || 0 }}</td>
                  <td class="text-center">{{ deputyChair[10] || 0 }}</td>
                  <td class="text-center">{{ deputyChair[11] || 0 }}</td>
                  <td class="text-center">{{ deputyChair[12] || 0 }}</td>
               </tr>
               <tr>
                  <td>{{ $t('control-tasks.reports.total') }}</td>
                  <td class="text-center in-progress">{{ yearlyTotalDeputyChairReports.in_process }}</td>
                  <td class="text-center not-done">{{ yearlyTotalDeputyChairReports.not_done }}</td>
                  <td class="text-center">{{ yearlyTotalDeputyChairReports[1] || 0 }}</td>
                  <td class="text-center">{{ yearlyTotalDeputyChairReports[2] || 0 }}</td>
                  <td class="text-center">{{ yearlyTotalDeputyChairReports[3] || 0 }}</td>
                  <td class="text-center">{{ yearlyTotalDeputyChairReports[4] || 0 }}</td>
                  <td class="text-center">{{ yearlyTotalDeputyChairReports[5] || 0 }}</td>
                  <td class="text-center">{{ yearlyTotalDeputyChairReports[6] || 0 }}</td>
                  <td class="text-center">{{ yearlyTotalDeputyChairReports[7] || 0 }}</td>
                  <td class="text-center">{{ yearlyTotalDeputyChairReports[8] || 0 }}</td>
                  <td class="text-center">{{ yearlyTotalDeputyChairReports[9] || 0 }}</td>
                  <td class="text-center">{{ yearlyTotalDeputyChairReports[10] || 0 }}</td>
                  <td class="text-center">{{ yearlyTotalDeputyChairReports[11] || 0 }}</td>
                  <td class="text-center">{{ yearlyTotalDeputyChairReports[12] || 0 }}</td>
               </tr>
            </tbody>
         </v-simple-table>
      </template>
   </div>
</template>
<script>
import AppLoader from "@/common/components/base/AppLoader";
export default {
   name: 'YearlyDeputyChairReports',
   components: { AppLoader },
   props: {
      loading: Boolean,
      yearlyDeputyChairReports: Array,
      yearlyTotalDeputyChairReports: Object,
   }
}
</script>