<template>
	<div class="document-registration-view d-flex flex-column h-100">
		<app-wrapper>
			<template #body>
				<div class="d-flex align-center ma-n5 py-1 px-4">
					<h3 class="line-base mr-4">{{$t('document-flow.views.boxes.boxes')}}</h3>
					<v-col md="2" class="pa-0 ml-3">
						<v-select
							@change="boxDropdownSelect"
							v-model="boxDropdownSelected"
							:items="getFilterMenuBoxes.filter(menu => menu.role.length === 0 || menu.role.includes(currentUser.role))"
							item-text="title"
							item-value="value"
							outlined
							dense
							hide-details
							:label="$t('document-flow.views.boxes.received')"
							append-icon="mdi-chevron-down"
              background-color="var(--input-bg)"
						>
							<template #item="{ item }">
                <router-link
                  :to="{ name: item.link }"
                  class="p-absolute w-100 h-100 d-flex align-center justify-space-between text-decoration-none small-2 text-dark px-3"
                  style="top: 0; left: 0"
                >
                  <span>{{ item.title }}</span>

                  <template v-if="item.count">
                    <v-chip
                      color="red"
                      text-color="white"
                      style="transform: scale(0.7)"
                    >
                      {{ item.count }}
                    </v-chip>
                  </template>
                </router-link>
							</template>
						</v-select>
					</v-col>
          <v-list flat dense class="d-flex align-center justify-end flex-1">
            <!-- Filter Modal -->
            <filter-modal
              :active-route="boxDropdownSelected"
              @emit:filter="filter"
              @emit:filter:update="filterUpdate"
              @emit:filter:save="filterSave"
            />
<!--            @emit:reload:page="filterActions"-->

            <!-- End Filter Modal -->
          </v-list>
				</div>
			</template>
		</app-wrapper>

		<div class="d-flex mt-5 overflow-hidden w-100 h-100">
      <router-view class="w-100" />
		</div>
	</div>
</template>

<script>
import FilterModal from "@/common/components/FilterModal"
import { ClipboardIcon, SearchIcon, XIcon } from "vue-feather-icons"
import { mapActions, mapGetters, mapMutations, mapState } from "vuex"

export default {
	name: "index",
  components: {
    FilterModal,
    ClipboardIcon,
    SearchIcon,
    XIcon
  },
  data() {
	  return {
      filterList: [
        {
          title: this.$t('document-flow.views.boxes.completed'),
          value: "performed",
          color: "var(--primary-2)"
        },
        {
          title: this.$t('document-flow.views.boxes.less-three-days'),
          value: "three_days_left",
          color: "var(--primary-3)"
        },
        {
          title: this.$t('document-flow.views.boxes.done-late'),
          value: "overdue_performed",
          color: "var(--primary-4)"
        },
        {
          title: this.$t('document-flow.views.boxes.overdue'),
          value: "overdue",
          color: "var(--primary-6)"
        }
      ],
      filterModal: false,
      deadlineDatePicker: null,
      registerDatePicker: null,
      outgoingDatePicker: null,
      headerFilterSelect: null,
      resolutionAssign: null
    }
  },
  watch: {
    '$i18n.locale': {
      handler() {
        this.filterList = [
          {
            title: this.$t('document-flow.views.boxes.completed'),
            value: "performed",
            color: "var(--primary-2)"
          },
          {
            title: this.$t('document-flow.views.boxes.less-three-days'),
            value: "three_days_left",
            color: "var(--primary-3)"
          },
          {
            title: this.$t('document-flow.views.boxes.done-late'),
            value: "overdue_performed",
            color: "var(--primary-4)"
          },
          {
            title: this.$t('document-flow.views.boxes.overdue'),
            value: "overdue",
            color: "var(--primary-6)"
          }
        ]
      }
    }
  },
	computed: {
    ...mapState({
      filterState: state => state.headerFilter.filter
    }),
    /**
     *
     *
     */
		...mapGetters({
      getUnreadCountList: "getUnreadCountList",
      getFilterMenuBoxes: "getFilterMenuBoxes",
      currentUser: "auth/getCurrentUser",
      baseDocumentFilter: "documentFlowModule/getBaseDocumentFilter",
      getHeaderFilters: "documentFlowModule/getHeaderFilters",
      getBoxDropdownSelected: "documentFlowModule/getBoxDropdownSelected",
      getNewJournalList: "documentFlowModule/getNewJournalList",
      getDocumentsTypeList: "documentFlowModule/getDocumentsTypeList",
		}),
    /*
		/*
		*
		* */
		boxDropdownSelected: {
			get() {
				return this.getBoxDropdownSelected
			},
			set(value) {
				return value
			}
		},
    /*
    *
    * */
    currentRouteFilterType() {
      switch (this.boxDropdownSelected) {
        // На подпись
        case "sign":
          return "sign"
        // На согласование
        case "approval":
          return "for_agreement"
        // На рассмотрение
        case "review":
          return "for_review"
        // Входящие
        case "inbox":
          return "inbox"
        case "control":
          return "control"
      }
    },
    /*
    *
    * */
    documentReferenceUrl() {
      return `/docflow/${this.$store.getters['auth/getCurrentUser'].filial}/reference/`
    },
    /*
    *
    * */
    pathName(){
      return this.$route.path.split("/")[3];
    },
	},
  mounted() {
    let routeArray = this.$route.path.split("/")
    let activeParentRoute = routeArray[routeArray.length - 2]
    this.boxDropdownSelected = activeParentRoute

    this.boxDropdownSelect(activeParentRoute)

    // setTimeout(() => {
    //   this.CLEAR_DOCUMENT_LIST()
    // }, 1000)
  },
  methods: {
	  ...mapMutations({
      CLEAR_DOCUMENT_LIST: "documentFlowModule/CLEAR_DOCUMENT_LIST"
    }),
    /*
    *
    * */
		...mapActions({
			toggleEventDescriptionModal: "gridCalendar/toggleEventDescriptionModal",
			fetchBoxDropdownSelected: "documentFlowModule/fetchBoxDropdownSelected",
      fetchReviewAllList: "documentFlowModule/fetchReviewAllList",
      fetchInboxListAll: "documentFlowModule/fetchInboxListAll",
			fetchSignsList: "documentFlowModule/fetchSignsList",
			fetchApprovalList: "documentFlowModule/fetchApprovalList",
      fetchInboxListCreateBy: "documentFlowModule/fetchInboxListCreateBy",
      setClearFilters: "headerFilter/setClearFilters",
		}),
    /*
    *
    * */
    boxDropdownSelect(value) {
      this.fetchBoxDropdownSelected({
        module: "documentFlowModule",
        value: value,
        entity: "boxDropdownSelected"
      })

      this.filterActions()
    },
    /*
    *
    * */
    filter() {
      this.filterActions()
    },
    /*
    *
    * */
    filterActions() {
      setTimeout(() => {
        switch (this.boxDropdownSelected) {
          // На подпись
          case "sign":
            this.fetchSignsList(this.filterState)
            break;
          // На согласование
          case "approval":
            this.fetchApprovalList(this.filterState)
            break;
          // На рассмотрение
          case "review":
            this.fetchReviewAllList(this.filterState)
            break;
          // Входящие
          case "inbox":
            this.fetchInboxListAll(this.filterState)
            break;
          //  Созданные поручение
          case "created-resolutions":
            this.fetchInboxListCreateBy(this.filterState)
            break;
          // На контроль
          case "control":
            this.fetchInboxListAll({ ...this.filterState, controller: this.currentUser.id })
            break;
          //  Default
          default:
            console.log('default')
        }
      }, 1500)
    },
    /*
    *
    * */
    filterUpdate() {
      this.filter()
    },
    /*
    *
    * */
    filterSave() {
      this.filter()
    }
	}
}
</script>
