<template>
   <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="20" cy="20" r="20" fill="#EFF4FF"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M17.8856 20L23.6095 25.7239C24.1302 26.2446 24.1302 27.0888 23.6095 27.6095C23.0888 28.1302 22.2445 28.1302 21.7238 27.6095L15.0572 20.9428C14.5365 20.4221 14.5365 19.5779 15.0572 19.0572L21.7238 12.3905C22.2445 11.8698 23.0888 11.8698 23.6095 12.3905C24.1302 12.9112 24.1302 13.7554 23.6095 14.2761L17.8856 20Z" fill="#5964D1"/>
   </svg>
</template>