<template>
   <v-checkbox :value="option.name" class="w-100" style="padding: 8px 0;" disabled hide-details v-model="value">
      <template #label>
         <span class="font-500 text-dark" style="padding: 0 0 0 8px;">{{ option.name }}</span>
      </template>
   </v-checkbox>
</template>
<script>
export default {
   name: 'Checkbox',
   props: {
      option: Object,
      userAnswers: Array,
   },
   computed: {
      value() {
         const value = this.userAnswers.map(answer => answer?.name).find(answer => answer === this.option?.name);
         return value;
      }
   }
}
</script>