<template>
   <div style="border-radius: 12px; border: 1px solid #E5E6EF; background-color: #F7F9FE; padding: 20px; margin-top: 24px;">
      <ul v-if="clientInfo" style="list-style-type: none; margin: 0; padding: 0;">
         <li style="margin: 0 0 24px 0;">
            <span style="color: #7E7E7E; font-size: 16px; font-weight: 500;">{{ type === 'physical' ? $t('survey-client.start.jshshir-number') : $t('survey-client.start.stir-number') }}</span>
            <span style="font-size: 16px; font-weight: 600; margin: 0 0 0 4px;">{{ type === 'physical' ? clientInfo.pinfl : clientInfo.tin }}</span>
         </li>
         <li style="margin: 0 0 24px 0;">
            <span style="color: #7E7E7E; font-size: 16px; font-weight: 500;">{{ $t('survey-client.start.company-name') }}: </span>
            <span style="font-size: 16px; font-weight: 600; margin: 0 0 0 4px;">{{ clientInfo.name }}</span>
         </li>
         <li style="margin: 0 0 24px 0;">
            <span style="color: #7E7E7E; font-size: 16px; font-weight: 500;">{{ $t('survey-client.start.survey') }}: </span>
            <span style="font-size: 16px; font-weight: 600; margin: 0 0 0 4px;">{{ survey.title }}</span>
         </li>
         <li style="margin: 0 0 24px 0;">
            <span style="color: #7E7E7E; font-size: 16px; font-weight: 500;">{{ $t('survey-client.start.bank') }}: </span>
            <span style="font-size: 16px; font-weight: 600; margin: 0 0 0 4px;">{{ clientInfo.source }}</span>
         </li>
         <li style="margin: 0 0 24px 0;">
            <span style="color: #7E7E7E; font-size: 16px; font-weight: 500;">{{ $t('survey-client.start.registration-date') }}: </span>
            <span style="font-size: 16px; font-weight: 600; margin: 0 0 0 4px;">{{ clientInfo.registration_date }}</span>
         </li>
         <li style="margin: 0 0 24px 0;">
            <span style="color: #7E7E7E; font-size: 16px; font-weight: 500; display: inline-block;">{{ $t('survey-client.start.registration-number') }}: </span>
            <span style="font-size: 16px; font-weight: 600; margin: 0 0 0 4px;">{{ clientInfo.registration_doc_number }}</span>
         </li>
         <li style="margin: 0;">
            <span style="color: #7E7E7E; font-size: 16px; font-weight: 500;">{{ $t('survey-client.start.phone-number') }}: </span>
            <span style="font-size: 16px; font-weight: 600; margin: 0 0 0 4px;">{{ clientInfo.phone }}</span>
         </li>
      </ul>
   </div>
</template>
<script>
export default {
   name: 'ClientInfo',
   props: {
      clientInfo: Object,
      survey: Object,
      type: String,
   }
}
</script>