<template>
   <div v-if="clientInfo && clientInfo.applicant" style="border-radius: 12px; border: 1px solid #E5E6EF; background-color: #F7F9FE; padding: 20px; margin-top: 24px;">
      <ul style="list-style-type: none; margin: 0; padding: 0;">
         <li style="margin: 0 0 24px 0;">
            <span style="color: #7E7E7E; font-size: 16px; font-weight: 500;">ID: </span>
            <span style="font-size: 16px; font-weight: 600; margin: 0 0 0 4px;">{{ clientInfo.id || '-' }}</span>
         </li>
         <li style="margin: 0 0 24px 0;">
            <span style="color: #7E7E7E; font-size: 16px; font-weight: 500;">{{$t('survey-client.completed.status')}}: </span>
            <span style="font-size: 16px; font-weight: 600; margin: 0 0 0 4px;">{{ $t('survey-client.completed.' + clientInfo.status) }}</span>
         </li>
         <li style="margin: 0 0 24px 0;">
            <span style="color: #7E7E7E; font-size: 16px; font-weight: 500;">{{ clientInfo.applicant.type === 'physical' ? $t('survey-client.start.jshshir-number') : $t('survey-client.start.stir-number') }}: </span>
            <span style="font-size: 16px; font-weight: 600; margin: 0 0 0 4px;">{{ (clientInfo.applicant.type === 'physical' ? clientInfo.applicant.pinfl : clientInfo.applicant.tin) || '-' }}</span>
         </li>
         <li style="margin: 0 0 24px 0;">
            <span style="color: #7E7E7E; font-size: 16px; font-weight: 500;">{{ $t('survey-client.start.company-name') }}: </span>
            <span style="font-size: 16px; font-weight: 600; margin: 0 0 0 4px;">{{ clientInfo.applicant.name || '-' }}</span>
         </li>
         <li style="margin: 0 0 24px 0;">
            <span style="color: #7E7E7E; font-size: 16px; font-weight: 500;">{{ $t('survey-client.completed.branch') }}: </span>
            <span style="font-size: 16px; font-weight: 600; margin: 0 0 0 4px;">{{ clientInfo.filial.name || '-' }}</span>
         </li>
         <li style="margin: 0 0 24px 0;">
            <span style="color: #7E7E7E; font-size: 16px; font-weight: 500;">{{ $t('survey-client.start.survey') }}: </span>
            <span style="font-size: 16px; font-weight: 600; margin: 0 0 0 4px;">{{ clientInfo.survey.title || '-' }}</span>
         </li>
         <li style="margin: 0 0 24px 0;">
            <span style="color: #7E7E7E; font-size: 16px; font-weight: 500;">{{ $t('survey-client.start.bank') }}: </span>
            <span style="font-size: 16px; font-weight: 600; margin: 0 0 0 4px;">{{ clientInfo.applicant.source || '-' }}</span>
         </li>
         <li style="margin: 0 0 24px 0;">
            <span style="color: #7E7E7E; font-size: 16px; font-weight: 500;">{{ $t('survey-client.start.registration-date') }}: </span>
            <span style="font-size: 16px; font-weight: 600; margin: 0 0 0 4px;">{{ clientInfo.applicant.registration_date || '-' }}</span>
         </li>
         <li style="margin: 0 0 24px 0;">
            <span style="color: #7E7E7E; font-size: 16px; font-weight: 500; display: inline-block;">{{ $t('survey-client.start.registration-number') }}: </span>
            <span style="font-size: 16px; font-weight: 600; margin: 0 0 0 4px;">{{ clientInfo.applicant.registration_doc_number || '-' }}</span>
         </li>
         <li style="margin: 0 0 24px 0;">
            <span style="color: #7E7E7E; font-size: 16px; font-weight: 500;">{{ $t('survey-client.start.phone-number') }}: </span>
            <span style="font-size: 16px; font-weight: 600; margin: 0 0 0 4px;">{{ clientInfo.applicant.phone || '-' }}</span>
         </li>
         <li style="margin: 0;">
            <span style="color: #7E7E7E; font-size: 16px; font-weight: 500;">{{$t('survey-client.completed.comment')}}: </span>
            <span style="font-size: 16px; font-weight: 600; margin: 0 0 0 4px;">{{ clientInfo.status === 'rejected' ? $t('survey-client.completed.rejected-message') : clientInfo.comment }}</span>
         </li>
      </ul>
   </div>
</template>
<script>
export default {
   name: 'ClientData',
   props: {
      clientInfo: Object,
   }
}
</script>