<template>
   <v-dialog
      @click:outside="toggleDialog"
      @keydown.esc="toggleDialog"
      max-width="720"
      style="border-radius: 12px"
      v-model="openFilter"
   >
      <v-card class="pa-8">
         <h3 class="font-500 mb-5">{{ $t("control-tasks.tasks.filter") }}</h3>
         <div class="d-flex justify-space-between mb-5">
            <div style="width: calc(50% - 10px)">
               <h4 class="font-500 mt-0 mb-3">
                  {{$t('survey-client.completed.branch')}}
               </h4>
               <v-select
                  :items="branches"
                  :return-object="false"
                  append-icon="mdi-chevron-down"
                  background-color="var(--input-bg)"
                  clearable
                  dense
                  hide-details
                  item-text="name"
                  item-value="mfo"
                  outlined
                  v-model="filter.branch"
               >
               </v-select>
            </div>
            <div style="width: calc(50% - 10px)">
               <h4 class="font-500 mt-0 mb-3">
                  {{$t('survey-client.completed.legal-or-physical')}}
               </h4>
               <v-select
                  :items="applicantTypes"
                  :return-object="false"
                  append-icon="mdi-chevron-down"
                  background-color="var(--input-bg)"
                  clearable
                  dense
                  hide-details
                  item-text="name"
                  item-value="id"
                  outlined
                  v-model="filter.applicant_type"
               >
               </v-select>
            </div>
         </div>
         <div class="d-flex justify-space-between mb-5">
            <div style="width: calc(50% - 10px)">
               <h4 class="font-500 mt-0 mb-3">{{$t('survey-client.completed.from')}}</h4>
               <div class="app-input">
                  <v-menu
                     :close-on-content-click="true"
                     min-width="auto"
                     offset-y
                     ref="startDateMenu"
                     transition="scale-transition"
                     v-model="startDateMenu"
                  >
                     <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                           append-icon="mdi-calendar"
                           background-color="var(--input-bg)"
                           clearable
                           dense
                           hide-details
                           outlined
                           readonly
                           v-bind="attrs"
                           v-model="filter.start_date"
                           v-on="on"
                        ></v-text-field>
                     </template>
                     <v-date-picker no-title scrollable v-model="filter.start_date">
                     </v-date-picker>
                  </v-menu>
               </div>
            </div>
            <div style="width: calc(50% - 10px)">
               <h4 class="font-500 mt-0 mb-3">{{$t('survey-client.completed.to')}}</h4>
               <div class="app-input">
                  <v-menu
                     :close-on-content-click="true"
                     min-width="auto"
                     offset-y
                     ref="endDateMenu"
                     transition="scale-transition"
                     v-model="endDateMenu"
                  >
                     <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                           append-icon="mdi-calendar"
                           background-color="var(--input-bg)"
                           clearable
                           dense
                           hide-details
                           outlined
                           readonly
                           v-bind="attrs"
                           v-model="filter.end_date"
                           v-on="on"
                        ></v-text-field>
                     </template>
                     <v-date-picker no-title scrollable v-model="filter.end_date">
                     </v-date-picker>
                  </v-menu>
               </div>
            </div>
         </div>
         <div class="d-flex justify-space-between mb-5">
            <div style="width: calc(50% - 10px)">
               <h4 class="font-500 mt-0 mb-3">
                  {{$t('survey-client.completed.id')}}
               </h4>
               <v-text-field
                  background-color="var(--input-bg)"
                  dense
                  hide-details
                  outlined
                  v-model="filter.applicant"
               ></v-text-field>
            </div>
            <div style="width: calc(50% - 10px)">
               <h4 class="font-500 mt-0 mb-3">
                  {{$t('survey-client.completed.stir-or-jshshir')}}
               </h4>
               <v-text-field
                  background-color="var(--input-bg)"
                  dense
                  hide-details
                  outlined
                  v-model="filter.stir_or_jshshir"
               ></v-text-field>
            </div>
         </div>
         <div class="d-flex justify-space-between mb-5">
            <div style="width: calc(50% - 10px)">
               <h4 class="font-500 mt-0 mb-3">
                  {{$t('survey-client.completed.status')}}
               </h4>
               <v-select
                  :items="statuses"
                  :return-object="false"
                  append-icon="mdi-chevron-down"
                  background-color="var(--input-bg)"
                  clearable
                  dense
                  hide-details
                  item-text="name"
                  item-value="id"
                  outlined
                  v-model="filter.status"
               >
               </v-select>
            </div>
         </div>
         <div class="d-flex align-center" style="justify-content: flex-end">
            <v-btn
               @click="resetFilter"
               color="primary"
               dense
               depressed
               outlined
               small
               >{{ $t("control-tasks.tasks.clear") }}</v-btn
               >
               <v-btn
               @click="viewResult"
               class="ml-3"
               color="primary"
               dense
               depressed
               small
               >{{ $t("control-tasks.tasks.filter") }}</v-btn
               >
         </div>
      </v-card>
   </v-dialog>
</template>
<script>
export default {
   name: "CompletedSurveyFilter",
   props: {
      filter: Object,
      openFilter: Boolean,
      resetFilter: Function,
      toggleDialog: Function,
      viewResult: Function,
   },
   data() {
      return {
         applicantTypes: [],
         branches: [],
         endDateMenu: false,
         startDateMenu: false,
         statuses: [],
      };
   },
   mounted() {
      this.changeLanguage();
      this.getBranches();
   },
   watch: {
      "$i18n.locale": {
         handler() {
            this.changeLanguage();
         }
      }
   },
   methods: {
      getBranches() {
         this.$axios
            .get('/filials/?page_size=100')
            .then(response => {
               const results = response?.data?.results;
               const branches = Array.isArray(results) ? results : [];
               this.branches = branches;
            });
      },
      changeLanguage() {
         this.statuses = [
            {
               id: 'started',
               name: this.$t('survey-client.completed.started'),
            },
            {
               id: 'completed',
               name: this.$t('survey-client.completed.completed'),
            },
            {
               id: 'rejected',
               name: this.$t('survey-client.completed.rejected'),
            },
         ];
         this.applicantTypes = [
            {
               id: 'legal',
               name: this.$t('survey-client.completed.legal'),
            },
            {
               id: 'physical',
               name: this.$t('survey-client.completed.physical')
            },
         ];
      }
   },
};
</script>