<template>
   <v-dialog persistent max-width="720" style="border-radius: 12px" v-model="openExport">
      <v-card class="pa-8">
         <h3 class="font-500 mb-5">{{ $t("control-tasks.tasks.export-to-excel") }}</h3>
         <div class="d-flex justify-space-between mb-5">
            <div style="width: calc(50% - 10px)">
               <h4 class="font-500 mt-0 mb-3">
                  {{ $t('survey-client.completed.branch') }}
               </h4>
               <v-select
                  :items="branches"
                  :return-object="false"
                  append-icon="mdi-chevron-down"
                  background-color="var(--input-bg)"
                  clearable
                  dense
                  hide-details
                  item-text="name"
                  item-value="mfo"
                  outlined
                  v-model="excel.branch"
               >
               </v-select>
            </div>
            <div style="width: calc(50% - 10px)">
               <h4 class="font-500 mt-0 mb-3">
                  {{$t('survey-client.completed.legal-or-physical')}}
               </h4>
               <v-select
                  :items="applicantTypes"
                  :return-object="false"
                  append-icon="mdi-chevron-down"
                  background-color="var(--input-bg)"
                  clearable
                  dense
                  hide-details
                  item-text="name"
                  item-value="id"
                  outlined
                  v-model="excel.type"
               >
               </v-select>
            </div>
         </div>
         <div class="d-flex justify-space-between mb-5">
            <div style="width: calc(50% - 10px)">
               <h4 class="font-500 mt-0 mb-3">{{$t('survey-client.completed.from')}}</h4>
               <div class="app-input">
                  <v-menu
                     :close-on-content-click="true"
                     min-width="auto"
                     offset-y
                     ref="startDateMenu"
                     transition="scale-transition"
                     v-model="startDateMenu"
                  >
                     <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                           append-icon="mdi-calendar"
                           background-color="var(--input-bg)"
                           clearable
                           dense
                           hide-details
                           outlined
                           readonly
                           v-bind="attrs"
                           v-model="excel.start_date"
                           v-on="on"
                        ></v-text-field>
                     </template>
                     <v-date-picker no-title scrollable v-model="excel.start_date">
                     </v-date-picker>
                  </v-menu>
               </div>
            </div>
            <div style="width: calc(50% - 10px)">
               <h4 class="font-500 mt-0 mb-3">{{$t('survey-client.completed.to')}}</h4>
               <div class="app-input">
                  <v-menu
                     :close-on-content-click="true"
                     min-width="auto"
                     offset-y
                     ref="endDateMenu"
                     transition="scale-transition"
                     v-model="endDateMenu"
                  >
                     <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                           append-icon="mdi-calendar"
                           background-color="var(--input-bg)"
                           clearable
                           dense
                           hide-details
                           outlined
                           readonly
                           v-bind="attrs"
                           v-model="excel.end_date"
                           v-on="on"
                        ></v-text-field>
                     </template>
                     <v-date-picker no-title scrollable v-model="excel.end_date">
                     </v-date-picker>
                  </v-menu>
               </div>
            </div>
         </div>
         <div class="d-flex justify-space-between mb-5">
            <div style="width: calc(50% - 10px)">
               <h4 class="font-500 mt-0 mb-3">
                  {{$t('survey-client.completed.status')}}
               </h4>
               <v-select
                  :items="statuses"
                  :return-object="false"
                  append-icon="mdi-chevron-down"
                  background-color="var(--input-bg)"
                  clearable
                  dense
                  hide-details
                  item-text="name"
                  item-value="id"
                  outlined
                  v-model="excel.status"
               >
               </v-select>
            </div>
         </div>
         <div class="d-flex align-center" style="justify-content: flex-end">
            <v-btn
               :disabled="loading"
               color="error"
               dense
               depressed
               small
               @click="() => {
                  setOpenExport(false);
               }">
               {{ $t("control-tasks.tasks.cancel") }}
            </v-btn>
            <template v-if="loading">
               <div class="d-flex align-center justify-center ml-3">
                  <app-loader :size="32" />
               </div>
            </template>
            <template v-else>
               <v-btn
                  @click="exportToExcel"
                  class="ml-3"
                  color="primary"
                  dense
                  depressed
                  small>
                  {{ $t("control-tasks.tasks.download") }}
               </v-btn>
            </template>
         </div>
      </v-card>
   </v-dialog>
</template>
<script>
import AppLoader from "@/common/components/base/AppLoader";
import { mapGetters } from "vuex";
export default {
   name: "CompletedSurveyExport",
   components: { AppLoader },
   props: {
      openExport: Boolean,
      setOpenExport: Function,
   },
   data() {
      return {
         applicantTypes: [],
         branches: [],
         endDateMenu: false,
         loading: false,
         startDateMenu: false,
         statuses: [],
         excel: {
            type: '', // select => legal, physical
            branch: null, // select => branch
            end_date: '', // date-input => end date
            start_date: '', // date-input => start date
            status: null, // select => started, completed, rejected
            applicant_type: 'customer', // customer, employee
         }
      };
   },
   mounted() {
      this.changeLanguage();
      this.getBranches();
   },
   computed: {
      ...mapGetters({
         currentUser: "auth/getCurrentUser",
      }),
   },
   watch: {
      "$i18n.locale": {
         handler() {
            this.changeLanguage();
         }
      }
   },
   methods: {
      getValidProperties(object) {
         const keys = Object.keys(object || {});
         const properties = (Array.isArray(keys) ? keys : []).reduce((total, key) => {
            const value = object[key];
            if (value) {
               total[key] = value;
            }
            return total;
         }, {});
         return properties;
      },
      getBranches() {
         this.$axios
            .get('/filials/?page_size=100')
            .then(response => {
               const results = response?.data?.results;
               const branches = Array.isArray(results) ? results : [];
               this.branches = branches;
            });
      },
      changeLanguage() {
         this.statuses = [
            {
               id: 'started',
               name: this.$t('survey-client.completed.started'),
            },
            {
               id: 'completed',
               name: this.$t('survey-client.completed.completed'),
            },
            {
               id: 'rejected',
               name: this.$t('survey-client.completed.rejected'),
            },
         ];
         this.applicantTypes = [
            {
               id: 'legal',
               name: this.$t('survey-client.completed.legal'),
            },
            {
               id: 'physical',
               name: this.$t('survey-client.completed.physical')
            },
         ];
      },
      exportToExcel() {
         this.loading = true;
         const params = this.getValidProperties(this.excel);
         this.$axios
            .get(`/survey/${this.currentUser?.filial}/export-customer-survey-results/`, { params, responseType: 'blob' })
            .then(response => {
               const url = window.URL.createObjectURL(new Blob([response?.data]));
               const fileName = `${this.$t(
                  "control-tasks.tasks.reports"
               )}-${new Date()
                  .toISOString()
                  .replace(/T/, "-")
                  .replace(/:/, "-")
                  .slice(0, 16)}.xls`;
               const link = document.createElement("a");
               link.href = url;
               link.setAttribute("download", fileName);
               document.body.appendChild(link);
               link.click();
               document.body.removeChild(link);
               this.setOpenExport(false);
            })
            .catch(() => {
               this.$t('survey-client.start.error-an-occured');
            })
            .finally(() => {
               this.loading = false;
            })
      }
   },
};
</script>