<template>
   <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M24 44C26.627 44.0034 29.2287 43.4876 31.6556 42.4823C34.0826 41.477 36.2869 40.002 38.142 38.142C40.002 36.2869 41.477 34.0826 42.4823 31.6556C43.4876 29.2287 44.0034 26.627 44 24C44.0034 21.3731 43.4876 18.7714 42.4823 16.3444C41.4769 13.9175 40.0019 11.7131 38.142 9.85802C36.2869 7.99804 34.0826 6.52302 31.6556 5.5177C29.2287 4.51239 26.627 3.99661 24 4.00002C21.3731 3.99667 18.7714 4.51247 16.3444 5.51778C13.9175 6.52309 11.7131 7.99809 9.85802 9.85802C7.99809 11.7131 6.52309 13.9175 5.51778 16.3444C4.51247 18.7714 3.99667 21.3731 4.00002 24C3.99661 26.627 4.51239 29.2287 5.5177 31.6556C6.52302 34.0826 7.99804 36.2869 9.85802 38.142C11.7131 40.0019 13.9175 41.4769 16.3444 42.4823C18.7714 43.4876 21.3731 44.0034 24 44Z" :stroke="color" stroke-width="4" stroke-linejoin="round"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M24 11C24.663 11 25.2989 11.2634 25.7678 11.7322C26.2366 12.2011 26.5 12.837 26.5 13.5C26.5 14.163 26.2366 14.7989 25.7678 15.2678C25.2989 15.7366 24.663 16 24 16C23.337 16 22.7011 15.7366 22.2322 15.2678C21.7634 14.7989 21.5 14.163 21.5 13.5C21.5 12.837 21.7634 12.2011 22.2322 11.7322C22.7011 11.2634 23.337 11 24 11Z" :fill="color"/>
      <path d="M24.5 34V20H22.5M21 34H28" :stroke="color" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
   </svg>
</template>
<script>
export default {
   props: {
      color: String
   }
}
</script>
