<template>
   <v-radio-group hide-details disabled v-model="userAnswer.name">
      <div class="w-100" v-for="(option, answerIndex) in question.options" :key="answerIndex">
         <template v-if="option.is_other && !isInput">
            <v-radio class="w-100" :value="userAnswer.name" style="padding: 8px 0;">
               <template v-slot:label>
                  <span class="font-500 text-dark" style="padding: 0 0 0 8px;">{{ option.name }}</span>
               </template>
            </v-radio>
            <p style="font-weight: 500; color: black">{{ userAnswer.name }}</p>
         </template>
         <template v-else>
            <v-radio class="w-100" :value="option.name" style="padding: 8px 0;">
               <template v-slot:label>
                  <span class="font-500 text-dark" style="padding: 0 0 0 8px;">{{ option.name }}</span>
               </template>
            </v-radio>
         </template>
      </div>
   </v-radio-group>
</template>
<script>
export default {
   name: 'InputValue',
   props: {
      question: Object,
      userAnswer: Object,
   },
   computed: {
      isInput() {
         const isInput = this.question.options.map(answer => answer?.name).some(answer => answer === this.userAnswer?.name);
         return isInput;
      }
   }
}
</script>