<template>
   <v-radio-group style="padding: 8px 0;" class="w-100" v-model="userAnswer.name" hide-details disabled>
      <v-radio class="w-100" style="padding: 8px 0;" v-for="(option, index) in question.options" :key="index" :value="option.name">
         <template v-slot:label>
            <span class="font-500 text-dark" style="padding: 0 0 0 8px;">{{ option.name }}</span>
         </template>
      </v-radio>
   </v-radio-group>
</template>
<script>
export default {
   name: 'Radio',
   props: {
      question: Object,
      userAnswer: Object,
   }
}
</script>