<template>
   <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect x="0.5" y="0.5" width="63" height="63" rx="5.5" fill="white" stroke="#5964D1"/>
      <path d="M31.9993 29.9968C36.4175 29.9968 39.9993 26.4151 39.9993 21.9968C39.9993 17.5785 36.4175 13.9968 31.9993 13.9968C27.581 13.9968 23.9993 17.5785 23.9993 21.9968C23.9993 26.4151 27.581 29.9968 31.9993 29.9968Z" fill="#5964D1"/>
      <path d="M47.9995 44.9952C47.9995 49.9652 47.9995 53.9952 31.9995 53.9952C15.9995 53.9952 15.9995 49.9652 15.9995 44.9952C15.9995 40.0252 23.1635 35.9952 31.9995 35.9952C40.8355 35.9952 47.9995 40.0252 47.9995 44.9952Z" fill="#5964D1"/>
   </svg>
</template>