<template>
   <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect x="0.5" y="0.5" width="63" height="63" rx="5.5" fill="#FAFAFF" stroke="#5964D1"/>
      <g clip-path="url(#clip0_17_1226)">
      <path d="M23.3045 32C20.8814 32.0744 18.8996 33.0268 17.359 34.8571H14.3526C13.1261 34.8571 12.094 34.5558 11.2564 33.9531C10.4188 33.3504 10 32.4688 10 31.308C10 26.0551 10.9274 23.4286 12.7821 23.4286C12.8718 23.4286 13.1971 23.5848 13.758 23.8973C14.3189 24.2098 15.0481 24.526 15.9455 24.846C16.8429 25.1659 17.7329 25.3259 18.6154 25.3259C19.6175 25.3259 20.6122 25.1548 21.5994 24.8125C21.5246 25.3631 21.4872 25.8542 21.4872 26.2857C21.4872 28.3542 22.0929 30.2589 23.3045 32ZM47.3333 46.2188C47.3333 48.0045 46.7874 49.4144 45.6955 50.4487C44.6036 51.4829 43.1528 52 41.3429 52H21.734C19.9241 52 18.4733 51.4829 17.3814 50.4487C16.2895 49.4144 15.7436 48.0045 15.7436 46.2188C15.7436 45.4301 15.7698 44.66 15.8221 43.9085C15.8745 43.157 15.9792 42.346 16.1362 41.4754C16.2933 40.6049 16.4915 39.7976 16.7308 39.0536C16.9701 38.3095 17.2917 37.5841 17.6955 36.8772C18.0994 36.1704 18.563 35.5677 19.0865 35.0692C19.61 34.5707 20.2495 34.1726 21.0048 33.875C21.7601 33.5774 22.594 33.4286 23.5064 33.4286C23.656 33.4286 23.9776 33.5885 24.4712 33.9085C24.9647 34.2284 25.5107 34.5856 26.109 34.9799C26.7073 35.3743 27.5075 35.7314 28.5096 36.0513C29.5118 36.3713 30.5214 36.5312 31.5385 36.5312C32.5556 36.5312 33.5652 36.3713 34.5673 36.0513C35.5694 35.7314 36.3697 35.3743 36.9679 34.9799C37.5662 34.5856 38.1122 34.2284 38.6058 33.9085C39.0994 33.5885 39.4209 33.4286 39.5705 33.4286C40.4829 33.4286 41.3168 33.5774 42.0721 33.875C42.8275 34.1726 43.4669 34.5707 43.9904 35.0692C44.5139 35.5677 44.9776 36.1704 45.3814 36.8772C45.7853 37.5841 46.1068 38.3095 46.3462 39.0536C46.5855 39.7976 46.7837 40.6049 46.9407 41.4754C47.0978 42.346 47.2025 43.157 47.2548 43.9085C47.3072 44.66 47.3333 45.4301 47.3333 46.2188ZM24.359 17.7143C24.359 19.2917 23.7981 20.6384 22.6763 21.7545C21.5545 22.8705 20.2009 23.4286 18.6154 23.4286C17.0299 23.4286 15.6763 22.8705 14.5545 21.7545C13.4327 20.6384 12.8718 19.2917 12.8718 17.7143C12.8718 16.1369 13.4327 14.7902 14.5545 13.6741C15.6763 12.558 17.0299 12 18.6154 12C20.2009 12 21.5545 12.558 22.6763 13.6741C23.7981 14.7902 24.359 16.1369 24.359 17.7143ZM40.1538 26.2857C40.1538 28.6518 39.3125 30.6719 37.6298 32.346C35.9471 34.0201 33.9167 34.8571 31.5385 34.8571C29.1603 34.8571 27.1298 34.0201 25.4471 32.346C23.7644 30.6719 22.9231 28.6518 22.9231 26.2857C22.9231 23.9196 23.7644 21.8996 25.4471 20.2254C27.1298 18.5513 29.1603 17.7143 31.5385 17.7143C33.9167 17.7143 35.9471 18.5513 37.6298 20.2254C39.3125 21.8996 40.1538 23.9196 40.1538 26.2857ZM53.0769 31.308C53.0769 32.4688 52.6581 33.3504 51.8205 33.9531C50.9829 34.5558 49.9509 34.8571 48.7244 34.8571H45.7179C44.1774 33.0268 42.1955 32.0744 39.7724 32C40.984 30.2589 41.5897 28.3542 41.5897 26.2857C41.5897 25.8542 41.5524 25.3631 41.4776 24.8125C42.4647 25.1548 43.4594 25.3259 44.4615 25.3259C45.344 25.3259 46.234 25.1659 47.1314 24.846C48.0288 24.526 48.758 24.2098 49.3189 23.8973C49.8798 23.5848 50.2051 23.4286 50.2949 23.4286C52.1496 23.4286 53.0769 26.0551 53.0769 31.308ZM50.2051 17.7143C50.2051 19.2917 49.6442 20.6384 48.5224 21.7545C47.4006 22.8705 46.047 23.4286 44.4615 23.4286C42.8761 23.4286 41.5224 22.8705 40.4006 21.7545C39.2788 20.6384 38.7179 19.2917 38.7179 17.7143C38.7179 16.1369 39.2788 14.7902 40.4006 13.6741C41.5224 12.558 42.8761 12 44.4615 12C46.047 12 47.4006 12.558 48.5224 13.6741C49.6442 14.7902 50.2051 16.1369 50.2051 17.7143Z" fill="#5964D1"/>
      </g>
      <defs>
      <clipPath id="clip0_17_1226">
      <rect width="43.0769" height="40" fill="white" transform="translate(10 12)"/>
      </clipPath>
      </defs>
   </svg>
</template>