<template>
   <div class="w-100 d-flex justify-center">
      <div class="client-info">
         <ul>
            <li>
               <span>{{ type === 'physical' ? $t('survey-client.start.jshshir-number') : $t('survey-client.start.stir-number') }}</span>
               <span>{{ type === 'physical' ? clientInfo.pinfl : clientInfo.tin }}</span>
            </li>
            <li>
               <span>{{$t('survey-client.start.company-name')}}</span>
               <span>{{ clientInfo.name }}</span>
            </li>
            <li>
               <span>{{$t('survey-client.start.bank')}}</span>
               <span>{{ clientInfo.source }}</span>
            </li>
            <li>
               <span>{{$t('survey-client.start.registration-date')}}</span>
               <span>{{ clientInfo.registration_date }}</span>
            </li>
            <li>
               <span>{{$t('survey-client.start.registration-number')}}</span>
               <span>{{ clientInfo.registration_doc_number }}</span>
            </li>
            <li>
               <span>{{$t('survey-client.start.phone-number')}}</span>
               <span>{{ clientInfo.phone }}</span>
            </li>
         </ul>
      </div>
   </div>
</template>
<script>
export default {
   name: 'UserInfo',
   props: {
      clientInfo: Object,
      type: String,
   }
}
</script>