<template>
	<div class="xdfu-inbox-view">
		<ui-data-table
			ref="dataTable"
			:api-url="apiUrl"
			:apiParams="{ is_secret: true }"
			:height="tableHeight"
			:headers-list="indexTableCols"
			:filter-state="indexTableFilters"
			:filter-storage-name="XDFU_INBOX_FILTER"
			:config-column-storage-name="XDFU_INBOX_COLUMN"
			:in-active-row="inActiveRow"
			@saveConfigColumn="saveConfigColumn"
			@resetConfigColumn="resetConfigColumn"
			@clearFilter="clearFilter"
			@deleteSavedFilter="clearFilter"
			@handleSort="handleSort"
		>
			<template #index="{ value, item }">
				<router-link
					:to="{
            name: 'XdfuInboxDetail',
            params: {
              id: item.id,
              type: item.document.journal.id
            },
            query: {
							document_id: item.document.id,
							is_secret: true
            }
          }"
				>
					<span :class="{ 'font-700' : !item.is_read }">{{ item.index }}</span>
				</router-link>
			</template>

			<template #__deadline="{ value, item }">
				<router-link
					:to="{
            name: 'XdfuInboxDetail',
            params: {
              id: item.id,
              type: item.document.journal.id
            },
            query: {
							document_id: item.document.id,
							is_secret: true
            }
          }"
				>
          <span v-if="item.assignment.deadline">
            {{ item.assignment.deadline | filterCalendarToTime }}
          </span>

					<template v-else>
				    <span v-if="item.document.deadline">
	            {{ item.document.deadline | filterCalendarToTime }}
	          </span>
					</template>
				</router-link>
			</template>

			<template #is_read="{ value, item }">
				<router-link
					:to="{
            name: 'XdfuInboxDetail',
            params: {
              id: item.id,
              type: item.document.journal.id
            },
            query: {
							document_id: item.document.id,
							is_secret: true
            }
          }"
				>
          <span :class="[value ? 'primary-text' : 'warning-text', !item.is_read ? 'font-700' : '']">
            {{ value ? $t("familiar") : $t("not-familiar") }}
          </span>
				</router-link>
			</template>

			<template #document.priority="{ value, item }">
				<router-link
					:to="{
            name: 'XdfuInboxDetail',
            params: {
              id: item.id,
              type: item.document.journal.id
            },
            query: {
							document_id: item.document.id,
							is_secret: true
            }
          }"
				>
					<ui-priority
						v-if="value"
						:text="value"
						:class="!item.is_read ? 'font-700' : 'font-500'"
					/>
				</router-link>
			</template>

			<template #document.register_number="{ value, item }">
				<router-link
					:to="{
            name: 'XdfuInboxDetail',
            params: {
              id: item.id,
              type: item.document.journal.id
            },
            query: {
							document_id: item.document.id,
							is_secret: true
            }
          }"
				>
          <span :class="{ 'font-700' : !item.is_read }">
            {{ value }}
          </span>
				</router-link>
			</template>

			<template #document.doc_type.name="{ value, item }">
				<router-link
					:to="{
            name: 'XdfuInboxDetail',
            params: {
              id: item.id,
              type: item.document.journal.id
            },
            query: {
							document_id: item.document.id,
							is_secret: true
            }
          }"
				>
          <span :class="{ 'font-700' : !item.is_read, 'opacity-80' : item.is_read }">
            {{ value }}
          </span>
				</router-link>
			</template>

			<template #document.journal.name="{ value, item }">
				<router-link
					:to="{
            name: 'XdfuInboxDetail',
            params: {
              id: item.id,
              type: item.document.journal.id
            },
            query: {
							document_id: item.document.id,
							is_secret: true
            }
          }"
				>
          <span :class="{ 'font-700' : !item.is_read, 'opacity-80' : item.is_read }">
            {{ value }}
          </span>
				</router-link>
			</template>

			<template #assignment.receipt_date="{ value, item }">
				<router-link
					:to="{
            name: 'XdfuInboxDetail',
            params: {
              id: item.id,
              type: item.document.journal.id
            },
            query: {
							document_id: item.document.id,
							is_secret: true
            }
          }"
				>
          <span :class="{ 'font-700' : !item.is_read, 'opacity-80' : item.is_read }">
            {{ value | filterCalendarToTime }}
          </span>
				</router-link>
			</template>

			<template #document.outgoing_number="{ value, item }">
				<router-link
					:to="{
            name: 'XdfuInboxDetail',
            params: {
              id: item.id,
              type: item.document.journal.id
            },
            query: {
							document_id: item.document.id,
							is_secret: true
            }
          }"
				>
          <span :class="{ 'font-700' : !item.is_read, 'opacity-80' : item.is_read }">
            {{ value }}
          </span>
				</router-link>
			</template>

			<template #document.register_date="{ value, item }">
				<router-link
					:to="{
            name: 'XdfuInboxDetail',
            params: {
              id: item.id,
              type: item.document.journal.id
            },
            query: {
							document_id: item.document.id,
							is_secret: true
            }
          }"
				>
          <span :class="{ 'font-700' : !item.is_read, 'opacity-80' : item.is_read }">
            {{ value | filterCalendarToTime }}
          </span>
				</router-link>
			</template>

			<template #document.outgoing_date="{ value, item }">
				<router-link
					:to="{
            name: 'XdfuInboxDetail',
            params: {
              id: item.id,
              type: item.document.journal.id
            },
            query: {
							document_id: item.document.id,
							is_secret: true
            }
          }"
				>
          <span :class="{ 'font-700' : !item.is_read, 'opacity-80' : item.is_read }">
            {{ value | filterCalendarToTime }}
          </span>
				</router-link>
			</template>

			<template #document.correspondent.organization_name="{ value, item }">
				<router-link
					:to="{
            name: 'XdfuInboxDetail',
            params: {
              id: item.id,
              type: item.document.journal.id
            },
            query: {
							document_id: item.document.id,
							is_secret: true
            }
          }"
				>
          <span :class="{ 'font-700' : !item.is_read, 'opacity-80' : item.is_read }">
            {{ value }}
          </span>
				</router-link>
			</template>

			<template #document.created_by="{ value, item }">
				<router-link
					:to="{
            name: 'XdfuInboxDetail',
            params: {
              id: item.id,
              type: item.document.journal.id
            },
            query: {
							document_id: item.document.id,
							is_secret: true
            }
          }"
				>
					<ui-avatar-group
						v-if="value"
						:avatar-list="[{
              color: value.color,
              full_name: value.full_name
            }]"
						class="opacity-80"
					/>
				</router-link>
			</template>

			<template #document.description="{ value, item }">
				<app-tooltip top max-width="400" content-classes="d-inline-block w-100">
					<template #text>
						<span v-html="value"></span>
					</template>

					<template #content>
						<router-link
							:to="{
                name: 'XdfuInboxDetail',
                params: {
                  id: item.id,
                  type: item.document.journal.id
                },
		            query: {
									document_id: item.document.id,
									is_secret: true
		            }
              }"
							class="text-decoration-none"
						>
							<span class="line-truncate-2 text--dark" :class="{ 'font-700' : !item.is_read, 'opacity-80' : item.is_read }" v-html="value"></span>
						</router-link>
					</template>
				</app-tooltip>
			</template>

			<template #status.name="{ value, item }">
				<router-link
					:to="{
            name: 'XdfuInboxDetail',
            params: {
              id: item.id,
              type: item.document.journal.id
            },
            query: {
							document_id: item.document.id,
							is_secret: true
            }
          }"
				>
					<ui-status
						v-if="value"
						:text="value"
						:class="!item.is_read ? 'font-700' : 'font-500'"
					/>
				</router-link>
			</template>

			<template #filterBody>
				<inbox-table-filter />
			</template>
		</ui-data-table>
	</div>
</template>

<script>
import { mapActions, mapGetters, mapState } from "vuex"
import { XDFU_INBOX_COLUMN, XDFU_INBOX_FILTER } from "@/common/constants"
import { getItem } from "@/services/jwt.service"
import InboxTableFilter from "../../BoxesNew/Inbox/components/InboxTableFilter.vue"

export default {
	name: "index",
	components: {
		InboxTableFilter
	},
	data() {
		return {
			XDFU_INBOX_COLUMN,
			XDFU_INBOX_FILTER,
			filterState: {}
		}
	},
	computed: {
		...mapState({
			indexTableCols: state => state.documentFlowBoxesInbox.inboxIndexTableCols,
			indexTableFilters: state => state.documentFlowBoxesInbox.inboxIndexTableFilters
		}),
		/** **/
		...mapGetters({
			currentUser: "auth/getCurrentUser",
		}),
		/** **/
		tableHeight() {
			return document.documentElement.clientHeight - 250
		},
		/** **/
		apiUrl() {
			return `v2/docflow/${this.currentUser.filial}/my-assignment`
		}
	},
	created() {
		this.setSavedTableCols()
		this.setSavedFilters()
	},
	async beforeDestroy() {
		if(!this.$route.fullPath.includes('show')) {
			await this.resetIndexTableFilters()
		}
	},
	methods: {
		...mapActions({
			setActiveIndexTableCols: "documentFlowBoxesInbox/setActiveIndexTableCols",
			resetIndexTableCols: "documentFlowBoxesInbox/resetIndexTableCols",
			resetIndexTableFilters: "documentFlowBoxesInbox/resetIndexTableFilters",
			setActiveIndexTableFilters: "documentFlowBoxesInbox/setActiveIndexTableFilters",
		}),
		/** **/
		inActiveRow() {
			return new Function('item', `return { 'bg--light': !item.is_read }`)
		},
		/** **/
		saveConfigColumn(columns) {
			this.setActiveIndexTableCols(columns)
		},
		/** **/
		resetConfigColumn() {
			this.resetIndexTableCols()
		},
		/** **/
		setSavedTableCols() {
			let savedColsFromStorage = JSON.parse(getItem(this.XDFU_INBOX_COLUMN)) ?? {}

			if(Object.keys(savedColsFromStorage).length) {
				this.setActiveIndexTableCols(savedColsFromStorage)
			} else {
				this.setActiveIndexTableCols(this.indexTableCols)
			}
		},
		/** **/
		async clearFilter() {
			await this.resetIndexTableFilters()
		},
		/** **/
		setSavedFilters() {
			if(this.$route.query) {
				let savedFiltersFromStorage = JSON.parse(getItem(this.XDFU_INBOX_FILTER)) ?? {}
				delete this.$route.query.page
				delete this.$route.query.page_size

				if(Object.keys(savedFiltersFromStorage).length) {
					this.setActiveIndexTableFilters(savedFiltersFromStorage)
				} else {
					this.setActiveIndexTableFilters(this.$route.query)
				}
			}
		},
		/** **/
		handleSort({ key, value }) {
			const { dataTable } = this.$refs
		}
	}
}
</script>

<style scoped>

</style>
