<template>
  <div class="app-avatar-group d-flex">
    <template v-for="(avatar, index) in slicedAvatarList">
      <app-tooltip
	      v-if="avatar"
        v-bind:key="index"
        top
      >
        <template #content>
          <v-avatar
            size="34"
            :color="avatar.user ? avatar.user.color: avatar.color"
          >
            <template v-if="avatar.hasOwnProperty('user')">
              <img
	              v-if="avatar.avatar"
                :src="avatar.user.avatar.url"
                alt="Avatar image"
                class="object-cover w-100 h-100"
              >
            </template>

            <template v-else>
              <img
                v-if="avatar.avatar"
                :src="avatar.avatar.url"
                alt="Avatar image"
                class="object-cover w-100 h-100"
              >
            </template>

            <span v-if="avatar.hasOwnProperty('user')" class="white--text small-3">
              {{ avatar.user.full_name | getFirstCharacterWithoutDot }}
            </span>

            <span v-else class="white--text small-3">
              {{ avatar.full_name | getFirstCharacterWithoutDot }}
            </span>
          </v-avatar>
        </template>

        <template #text>
          {{ avatar.user ? avatar.user.full_name : avatar.full_name }}
          <template v-if="listType === 'signers'">
            {{ avatar.is_signed === true ? $t('components.base.signed') :  avatar.is_signed === false ? $t('components.base.rejected') : $t('components.base.not-verified') }}
          </template>
          <template v-if="listType === 'agreed'">
            {{ avatar.is_agreed === true ? $t('components.base.agree') :  avatar.is_agreed === false ? $t('components.base.disagree') : $t('components.base.not-verified') }}
          </template>
        </template>
      </app-tooltip>
    </template>

    <template v-if="avatarList.length > 3">
      <app-tooltip top>
        <template #content>
          <div class="avatar-rest">
            <v-avatar size="34" color="primary">
              <span class="white--text small-3">
                +{{ restAvatarCount }}
              </span>
            </v-avatar>
          </div>
        </template>

        <template #text>
          <ul class="pl-4 py-1">
            <template v-for="item in restAvatarList">
              <li
                v-if="item.hasOwnProperty('user')"
                :key="item.user && item.user.id"
              >
                {{ item.user.full_name }}

                <template v-if="listType === 'signers'">
                  {{ item.is_signed === true ? $t('components.base.signed'):  item.is_signed === false ? $t('components.base.rejected') : $t('components.base.not-verified') }}
                </template>

                <template v-if="listType === 'agreed'">
                  {{ item.is_agreed === true ? $t('components.base.agree') :  item.is_agreed === false ? $t('components.base.disagree') : $t('components.base.not-verified') }}
                </template>
              </li>

              <li
                v-else
                :key=" item.id"
              >
                {{ item.full_name }}

                <template v-if="listType === 'signers'">
                  {{ item.is_signed === true ? $t('components.base.signed'):  item.is_signed === false ? $t('components.base.rejected') : $t('components.base.not-verified') }}
                </template>

                <template v-if="listType === 'agreed'">
                  {{ item.is_agreed === true ? $t('components.base.agree') :  item.is_agreed === false ? $t('components.base.disagree') : $t('components.base.not-verified') }}
                </template>
              </li>
            </template>
          </ul>
        </template>
      </app-tooltip>
    </template>
  </div>
</template>

<script>
export default {
	name: "AvatarGroup",
	props: {
		avatarList: {
			type: Array,
			default: () => []
		},
		listType: {
			type: String,
			default: ""
		},
    /*
    *
    * */
    visibleCount: {
      type: Number,
      default: 3
    }
	},
	computed: {
		slicedAvatarList() {
			return Array.from(this.avatarList).slice(0, this.visibleCount)
		},
		/*
		*
		* */
		restAvatarCount() {
			return this.avatarList.length - this.slicedAvatarList.length
		},
		/*
		*
		* */
		restAvatarList() {
			return this.avatarList.slice(-this.restAvatarCount)
		}
	}
}
</script>

<style>
.app-avatar-group .v-avatar {
  margin-right: -8px;
}
</style>
