<template>
  <div class="app-data-table p-relative" :class="classes">
    <v-data-table
      :headers="activeHeaders"
      :items="list"
      :items-per-page="filterState.page_size"
      :server-items-length="totalItems"
      :height="height"
      hide-default-footer
      @update:options="(value) => handleOptionsUpdate(value, activeHeaders)"
    >
      <template #top>
        <app-loader v-if="loading" full-width />
      </template>

      <template v-slot:header="{ props: { headers } }">
        <slot v-if="filtersVisible" name="header" :header="headers">
          <thead class="app-data-table-filter">
            <tr>
              <th>
                <slot name="headerExtra"></slot>
              </th>

              <template v-if="!['SendDocumentNew'].includes($route.name)">
                <th>
                  <v-text-field
                    v-model="filterState.search"
                    :placeholder="$t('document-flow.views.search.search')"
                    dense
                    outlined
                    background-color="#fff"
                    hide-details
                    clearable
                    class="field-height-32"
                    @input="search"
                  >
                    <template #prepend-inner>
                      <search-icon
                        class="mr-1 d-block"
                        size="15"
                        color="var(--secondary)"
                      />
                    </template>
                  </v-text-field>
                </th>

                <th>
                  <v-btn
                    color="#EEEEEE"
                    depressed
                    small
                    height="32"
                    min-width="100"
                    width="100"
                    @click="filterDialog = true"
                  >
                    <v-badge
                      v-if="isFilterSaved || isFilterInRoute"
                      bordered
                      color="success"
                      overlap
                      dot
                      offset-y="-2"
                      offset-x="-10"
                      style="z-index: 1"
                    ></v-badge>

                    <v-icon size="16" color="var(--secondary)">{{
                      "$vuetify.icons.FilterIcon"
                    }}</v-icon>
                    <span class="size-13 ml-2">{{
                      $t("control-tasks.tasks.filter")
                    }}</span>
                  </v-btn>
                </th>
              </template>

              <th>
                <v-menu
                  v-model="columnSettingMenu"
                  :close-on-content-click="false"
                  offset-y
                  nudge-top="-10"
                  min-width="320"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn
                      v-bind="attrs"
                      v-on="on"
                      color="#EEEEEE"
                      depressed
                      small
                      height="32"
                    >
                      <v-icon size="16" color="var(--secondary)">{{
                        "$vuetify.icons.SliderHorizontalIcon"
                      }}</v-icon>

                      <span class="size-13 ml-2">{{
                        $t("customize-columns")
                      }}</span>
                    </v-btn>
                  </template>

                  <div class="menu-wrapper">
                    <div
                      class="d-flex align-center justify-space-between py-2 pl-4 pr-2 primary-bg text-white"
                    >
                      <span class="small-3 font-500">{{
                        $t("config-column")
                      }}</span>

                      <v-btn
                        icon
                        small
                        dark
                        min-width="32"
                        width="32"
                        height="32"
                        @click="columnSettingMenu = false"
                      >
                        <x-icon size="16" color="#fff" />
                      </v-btn>
                    </div>

                    <div class="pa-4">
                      <template v-for="item in headersList">
                        <v-checkbox
                          v-model="item.active"
                          :value="item.active"
                          hide-details
                          class="mt-0 mb-3"
                        >
                          <template #label>
                            <span class="text--dark small-3 font-500">{{
                              $t(item.text)
                            }}</span>
                          </template>
                        </v-checkbox>
                      </template>

                      <div class="d-flex grid-gap-sm mt-5">
                        <v-btn
                          color="error"
                          outlined
                          small
                          height="30"
                          @click="resetConfigColumn"
                        >
                          <span class="line-base small-3">Сбросить</span>
                        </v-btn>

                        <v-btn
                          color="primary"
                          depressed
                          small
                          height="30"
                          @click="saveConfigColumn"
                        >
                          <span class="line-base small-3 font-400"
                            >Сохранить</span
                          >
                        </v-btn>
                      </div>
                    </div>
                  </div>
                </v-menu>
              </th>

              <th>
                <slot name="headerAction" />
              </th>
            </tr>
          </thead>
        </slot>
      </template>

      <template
        v-for="item in activeHeaders"
        #[`header.${item.value}`]="{ header }"
      >
        <div class="d-flex align-center">
          <div>{{ $t(header.text) }}</div>
          <div
            v-if="header.sort"
            class="sort-icon"
            :class="[
              { active: isSortActive(header.value) },
              { rotate: getSortStatus(header.value) === false },
            ]"
            @click="handleSort(header.value)"
          >
            <v-icon dense>mdi-arrow-up</v-icon>
          </div>
        </div>
      </template>

      <template
        v-for="col in activeHeaders"
        #[`item.${col.value}`]="{ header, item, value, index }"
      >
        <td :class="[inActiveRow && inActiveRow()(item)]">
          <div
            class="table-cell d-flex align-center h-100 size-13 text--dark font-500"
          >
            <slot :name="col.value" :index="index" :value="value" :item="item">
              {{ value }}
            </slot>
          </div>
        </td>
      </template>
    </v-data-table>

    <div
      class="data-table-footer d-flex align-center justify-space-between py-2 px-4 border-top"
    >
      <span class="small-3 font-500">{{ paginatePerPageText }}</span>

      <div class="d-flex align-center">
        <div class="mr-5" style="width: 50px; height: 30px">
          <v-select
            v-model="filterState.page_size"
            :items="[15, 30, 50]"
            dense
            hide-details
            class="mt-0"
            @input="handlePerPage"
          ></v-select>
        </div>

        <v-pagination
          v-if="paginationVisible"
          v-model="filterState.page"
          :total-visible="7"
          :length="paginatePageLength"
          @input="paginate"
        ></v-pagination>
      </div>
    </div>

    <!-- Filter modal -->
    <v-dialog v-model="filterDialog" max-width="1075">
      <div class="bg-4">
        <div class="d-flex align-center justify-space-between px-7 py-6">
          <h6 class="heading-8 font-500">{{ $t("components.filtration") }}</h6>
          <app-button
            @click="filterDialog = false"
            icon
            color="error"
            rounded
            width="45"
            min-width="45"
            height="45"
          >
            <x-icon />
          </app-button>
        </div>

        <div class="dialog-body pa-7 pt-0">
          <slot name="filterBody" />
        </div>

        <div class="d-flex grid-gap-sm border-top px-7 py-5">
          <app-button min-width="80" width="80" height="40" @click="filterList">
            {{ $t("components.filter") }}
          </app-button>

          <template v-if="filterActionsVisibleByRole">
            <template v-if="!isFilterSaved">
              <app-button height="40" color="success" @click="saveFilterState">
                {{ $t("components.save-filter") }}
              </app-button>
            </template>

            <template v-else>
              <app-button
                height="40"
                color="success"
                @click="updateSavedFilter"
              >
                {{ $t("components.update-filter") }}
              </app-button>
            </template>
          </template>

          <v-spacer />

          <div class="d-flex grid-gap-sm">
            <app-button
              color="error"
              height="40"
              outlined
              @click="clearFilterList"
            >
              {{ $t("document-flow.views.search.clear-filter") }}
            </app-button>

            <template v-if="filterActionsVisibleByRole">
              <template v-if="isFilterSaved">
                <app-button
                  outlined
                  height="40"
                  color="error"
                  @click="deleteSavedFilter"
                >
                  {{ $t("components.delete-filter") }}
                </app-button>
              </template>
            </template>
          </div>
        </div>
      </div>
    </v-dialog>
    <!-- /Filter modal -->
  </div>
</template>

<script>
import { debounce } from "lodash/function"
import { ChevronDownIcon, ChevronUpIcon, XIcon, SearchIcon } from "vue-feather-icons"
import { getItem, setItem, removeItem } from "@/services/jwt.service"
import { mapGetters } from "vuex";

export default {
	name: "AppDataTable",
	props: {
		headersList: {
			type: Array,
			default: () => []
		},
		inActiveRow: {
			type: Function
		},
		/*
		*
		* */
		height: {
			type: [Number, String],
			default: 200
		},
		/*
		*
		* */
		stickyHeader: {
			type: Boolean,
			default: true
		},
		/*
		*
		* */
		isStripe: {
			type: Boolean,
			default: false
		},
		/*
		*
		* */
		filtersVisible: {
			type: Boolean,
			default: true
		},
		/*
		*
		* */
		filterState: {
			type: Object,
			default: () => {}
		},
		/*
		*
		* */
		filterStorageName: {
			type: String,
			default: null
		},
		/*
		*
		* */
		configColumnStorageName: {
			type: String,
			default: null
		},
		/*
		*
		* */
		apiUrl: {
			type: String,
			default: "docflow/09013/user_reviews"
		},
		/*
		*
		* */
		apiParams: {
			type: Object,
			default: () => {}
		},
		/*
		*
		* */
		noBorder: {
			type: Boolean,
			default: false
		}
	},
	components: {
		ChevronDownIcon,
		ChevronUpIcon,
		XIcon,
		SearchIcon
	},
	data () {
		return {
			paginationVisible: false,
			columnSettingMenu: false,
			list: [],
			filterDialog: false,
			isFilterSaved: false,
			isFilterInRoute: false,
			totalItems: 0,
			loading: true,
      sortableHeader: undefined
		}
	},
	computed: {
		...mapGetters({
			currentUser: "auth/getCurrentUser",
		}),
		/*
		*
		* */
		classes() {
			return {
				'app-data-table__sticky' : this.stickyHeader,
				'app-data-table__stripe' : this.isStripe,
				'app-data-table__no-border': this.noBorder
			}
		},
		/*
		* Получаем активные хедарсы таблицы
		* */
		activeHeaders() {
			return this.headersList.filter(item => item.active === true)
		},
		/*
		*
		* */
		activeFilters() {
			let filters = {
				...this.filterState,
				...this.$route.query,
				page: this.filterState.page,
				page_size: this.filterState.page_size,
			}
			let active = {}

			Object.entries(filters).forEach(filter => {
				const [key, value] = filter

				if(key.startsWith("__")) {
					return;
				}

				if(value || value === true || value === false) {
					active[key] = value
				}
			})

			this.$router.replace({
				query: active
			}).catch(() => {})

			return active
		},
		/*
		*
		* */
		paginatePageLength() {
			return Math.ceil(this.totalItems / +this.filterState.page_size)
		},
		/*
		*
		* */
		paginatePerPageText() {
			return `${(this.filterState.page - 1) === 0 ? 1 : (this.filterState.page - 1) * this.filterState.page_size + 1} - ${this.filterState.page * this.filterState.page_size} из ${this.totalItems}`
		},
		/*
		*
		* */
		filterActionsVisibleByRole() {
			return ["admin", "assistant", "chairman", "deputy_chair"].includes(this.currentUser.role)
		}
	},
	async mounted() {
		if (!['SendDocumentNew'].includes(this.$route.name)){
			await this.getDataFromApi(this.activeFilters)
		}
		this.getIsFilterSaved()
		this.hasFilterInRoute()
    this.updateSortFromStorage()
	},
  methods: {
		async getDataFromApi(params) {
			this.loading = true
			await this.getList(params).then(data => {
				this.totalItems = data.total
				this.loading = false
				this.paginationVisible = true
			})
		},
		/*
		*
		* */
		getList(params) {
			return new Promise((resolve, reject) => {
				this.$http.get(`${this.apiUrl}/`, {
					params: {
						...this.apiParams,
						...params,
					}
				})
				.then(({ data }) => {
					this.list = data.results.map((item, index) => {
						return {
							...item,
							index: ((this.filterState.page - 1) * this.filterState.page_size) + index + 1
						}
					})
					const total = data.count

					resolve({
						total,
					})
				})
			})
		},
		/*
		* Добавляем активные хедарсы таблицы в локалсторадж
		* */
		saveConfigColumn() {
			setItem(this.configColumnStorageName, JSON.stringify(this.headersList))
			this.columnSettingMenu = false
			this.$toast.success(`Конфигурация столбцов сохранен`)
			this.$emit("saveConfigColumn", this.headersList)
		},
		/*
		*
		* */
		resetConfigColumn() {
			this.columnSettingMenu = false
			this.$toast.success(`Конфигурация столбцов сброшен`)
			removeItem(this.configColumnStorageName)
			this.$emit("resetConfigColumn")
		},
		/*
		* Добавляем активные фильтры в локалсторадж
		* */
		filterList() {
			this.$router.push({
				query: null
			}).catch(() => {})
			this.filterState.page = 1
			this.getDataFromApi(this.activeFilters)
			this.filterDialog = false
			this.hasFilterInRoute()
		},
		/*
		*
		* */
		saveFilterState() {
			setItem(this.filterStorageName, JSON.stringify(this.filterState))
			this.$toast.success(this.$t('components.filter-saved'))
			this.filterDialog = false
			this.isFilterSaved = true
			this.getDataFromApi(this.activeFilters)
		},
		/*
		*
		* */
		updateSavedFilter() {
			setItem(this.filterStorageName, JSON.stringify(this.filterState))
			this.$toast.success(this.$t('components.filter-updated'))
			this.filterDialog = false
			this.getDataFromApi({
				...this.filterState,
				page: this.filterState.page,
				page_size: this.filterState.page_size
			})

			let active = {}

			Object.entries(this.filterState).forEach(filter => {
				const [key, value] = filter

				if(key.startsWith("__")) {
					return;
				}

				if(value || value === true || value === false) {
					active[key] = value
				}
			})

			this.$router.push({
				query: {
					...active,
					page: this.filterState.page,
					page_size: this.filterState.page_size,
				},
			}).catch(() => {})
		},
		/*
		*
		* */
		getIsFilterSaved() {
			let filter = getItem(this.filterStorageName)

			this.isFilterSaved = !!filter
		},
		/*
		*
		* */
		hasFilterInRoute() {
			let query = {
				...this.$route.query
			}

			delete query.page
			delete query.page_size

			this.isFilterInRoute = !!Object.keys(query).length
		},
		/*
		*
		* */
		async deleteSavedFilter() {
			removeItem(this.filterStorageName)
			await this.$emit("deleteSavedFilter")
			this.$toast.success(this.$t('delete-saved-filter'))
			this.filterDialog = false
			this.isFilterSaved = false
			this.isFilterInRoute = false
			this.$router.push({
				query: null
			}).catch(() => {})
			this.getDataFromApi(this.activeFilters)
		},
		/*
		*
		* */
		async clearFilterList() {
			await this.$emit("clearFilter")
			this.activeFilters.page = 1
			this.activeFilters.page_size = 15
			this.$router.push({
				query: null
			}).catch(() => {})
			this.getDataFromApi(this.activeFilters)
			this.filterDialog = false
			this.isFilterSaved = false
			this.isFilterInRoute = false
		},
		/*
		*
		* */
		paginate(value) {
			this.activeFilters.page = value
			this.getDataFromApi(this.activeFilters)
		},
		/*
		*
		* */
		handlePerPage() {
			this.getDataFromApi(this.activeFilters)
		},
		/*
		* TODO: Fix this issues
		* */
		handleOptionsUpdate({ sortBy, sortDesc }, headers) {
			if(!(sortBy.length && sortDesc.length)) {
				return;
			}

			// let filterObject = headers.find(header => header.value === sortBy[0])
			//
			this.$emit("handleSort", {
				key: sortBy[0],
				value: sortDesc[0]
			})
			//
			// // Приоритет
			// if (key.includes("priority")) {
			// 	console.log("priority")
			// 	return;
			// }
			//
			// // Статус
			// if(key.includes("status")) {
			// 	// 1, 2, 3, 4, 5....
			// 	if(!value) {
			// 		this.list = this.list.sort((a, b) => {
			// 			if(a.status.id < b.status.id) return -1
			// 			if(a.status.id > b.status.id) return 1
			// 			return 0
			// 		})
			// 	}
			// 	// 5, 4, 3, 2, 1
			// 	else {
			// 		this.list = this.list.sort((a, b) => {
			// 			if(a.status.id < b.status.id) return 1
			// 			if(a.status.id > b.status.id) return -1
			// 			return 0
			// 		})
			// 	}
			//
			// 	return;
			// }
			//
			// // Тип документа
			// if(key.includes("doc_type")) {
			// 	// 1, 2, 3, 4, 5....
			// 	if(!value) {
			// 		this.list = this.list.sort((a, b) => {
			// 			if(a.incoming_doc.doc_type.id < b.incoming_doc.doc_type.id) return -1
			// 			if(a.incoming_doc.doc_type.id > b.incoming_doc.doc_type.id) return 1
			// 			return 0
			// 		})
			// 	}
			// 	// 5, 4, 3, 2, 1
			// 	else {
			// 		this.list = this.list.sort((a, b) => {
			// 			if(a.incoming_doc.doc_type.id < b.incoming_doc.doc_type.id) return 1
			// 			if(a.incoming_doc.doc_type.id > b.incoming_doc.doc_type.id) return -1
			// 			return 0
			// 		})
			// 	}
			// }
		},
		/*
		*
		* */
		search: debounce(function() {
			this.$router.push({
				query: null
			}).catch(() => {})
			this.filterState.page = 1
			this.getDataFromApi(this.activeFilters)
			this.hasFilterInRoute()
		}, 500),
		/*
		*
		* */
		findInActiveRow(item) {
			console.log(item);
			// return this.$emit('inActiveRow', item)
		},
    handleSort(item) {
      if(!this.isSortActive(item)) {
        this.sortableHeader = item
      } else {
        this.sortableHeader = this.getSortStatus(item) ? '-'+item : undefined
      }
      this.getDataFromApi({...this.activeFilters, ordering: this.sortableHeader})
      this.saveSortToStorage()
      this.saveSortToRouteQuery()
    },
    saveSortToStorage() {
      setItem(this.filterStorageName, JSON.stringify({...this.filterState, ordering: this.sortableHeader}))
    },
    saveSortToRouteQuery() {
      this.$router.push({
        query: {
          ...this.$route.query,
          ordering: this.sortableHeader
        }
      })
    },
    updateSortFromStorage() {
      this.sortableHeader = JSON.parse(getItem(this.filterStorageName))?.ordering
    },
    isSortActive(item) {
      return item ? this.sortableHeader?.includes(item) : typeof this.sortableHeader === 'string'
    },
    getSortStatus(item) {
      return this.isSortActive(item) ? !this.sortableHeader?.includes('-') :undefined
    },
	},
}
</script>

<style>
.sort-icon i {
  margin-left: 8px;
  cursor: pointer;
  transition: all 0.35s ease-in-out;
}
.sort-icon.active i {
  color: #000;
}
.sort-icon.rotate i {
  transform: rotate(180deg);
}
.app-data-table {
  box-shadow: 0 1px 8px 0 #0000000a;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 1;
}

.app-data-table.app-data-table__sticky thead tr th {
  position: sticky !important;
  top: 0;
  z-index: 2;
}

.app-data-table.app-data-table__stripe tbody tr:nth-child(even) {
  background: var(--bg-3) !important;
}

.app-data-table.app-data-table__no-border
  table
  > thead.v-data-table-header
  > tr
  > th:first-child,
.app-data-table.app-data-table__no-border
  table
  > thead.v-data-table-header
  > tr
  > th:last-child {
  border-radius: 0 !important;
}

.app-data-table-filter {
  position: absolute;
  top: -110px;
  right: 0;
}

.app-data-table-filter tr th {
  padding: 0 5px !important;
}

.app-data-table-filter tr th:last-child {
  padding-right: 0 !important;
}

.data-table-footer {
  background: #fff;
  height: 50px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.v-data-table-header th .v-data-table-header__icon {
  opacity: 1 !important;
  color: #828bdd !important;
  margin-left: 4px;
  margin-bottom: 2px;
}

.v-data-table
  .v-data-table-header
  th.sortable.active
  .v-data-table-header__icon {
  color: #fff !important;
}

.dialog-body {
  min-height: 425px;
  max-height: 600px;
  overflow-y: auto;
}

.table-cell > a {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: var(--dark) !important;
}
</style>
