<template>
  <v-dialog
    v-model="content"
    :max-width="maxWidth"
    scrollable
    :persistent="persistent"
    @click:outside="persistent ? void 0 : $emit('emit:close', false)"
  >
    <div class="bg-white">
      <div
        v-if="!emptyMode"
        class="d-flex align-center justify-space-between"
        :class="{
          'border-bottom' : !deleteMode,
           'py-4 px-6' : !emptyMode
        }"
      >
        <h1 v-if="!deleteMode" class="heading-10 font-600">{{ $t(title) }}</h1>

        <v-spacer />

        <v-btn
          color="var(--secondary-4)"
          fab
          depressed
          min-height="36"
          height="36"
          width="36"
          class="rounded-lg"
          @click="$emit('emit:close', false)"
        >
          <x-icon size="16" class="error-text" />
        </v-btn>
      </div>

      <div
        class="overflow-y-auto"
        :class="{ 'py-4 px-6' : !emptyMode }"
        :style="{ height: contentHeight }"
      >
        <slot name="content" />
      </div>

      <div
        v-if="!emptyMode"
        class="d-flex grid-gap-md py-4 px-6 border-top"
      >
        <div class="flex-1">
          <v-btn
            :color="deleteMode ? 'secondary' : 'error'"
            outlined
            block
            @click="$emit('emit:cancel-button', false)"
          >
            {{ $t(cancelText) }}
          </v-btn>
        </div>

        <div class="flex-1">
          <v-btn
            :color="deleteMode ? 'error' : 'primary'"
            depressed
            block
            :loading="successButtonLoading"
            @click="$emit('emit:success-button')"
          >
            {{ $t(successText) }}
          </v-btn>
        </div>
      </div>
    </div>
  </v-dialog>
</template>

<script>
import { XIcon } from "vue-feather-icons"
export default {
	name: "Dialog",
  props: {
    value: {
      type: Boolean
    },
    /*
    *
    * */
    maxWidth: {
      type: Number,
      default: 720
    },
    /*
    *
    * */
    title: {
      type: String,
      default: "document-flow.views.boxes.redirect-document"
    },
    /*
    *
    * */
    contentHeight: {
      type: String,
      default: "400px"
    },
    /*
    *
    * */
    successText: {
      type: String,
      default: "document-flow.views.registration.save"
    },
    /*
    *
    * */
    cancelText: {
      type: String,
      default: "auth.enter-phone.back"
    },
    /*
    *
    * */
    successButtonLoading: {
      type: Boolean,
      default: false
    },
    /*
    *
    * */
    deleteMode: {
      type: Boolean,
      default: false
    },
    /*
    *
    * */
    emptyMode: {
      type: Boolean,
      default: false
    },
	  /*
	  *
	  * */
	  persistent: {
		  type: Boolean,
		  default: false
	  }
  },
  components: {
    XIcon
  },
  computed: {
    content: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit("change", value);
      }
    }
  }
}
</script>

<style scoped>

</style>
