<template>
  <v-navigation-drawer
    v-model="content"
    right
    absolute
    :width="drawerWidth"
    style="box-shadow: -6px 0 60px 0 #0000001A"
  >
    <div class="drawer-content d-flex flex-column">
      <div class="d-flex align-center justify-space-between py-4 px-6">
        <h1 class="heading-10 font-600">{{ $t(title) }}</h1>

        <v-btn
          color="var(--secondary-4)"
          fab
          depressed
          min-height="36"
          height="36"
          width="36"
          class="rounded-lg"
          @click="$emit('emit:close', false)"
        >
          <x-icon size="16" class="error-text" />
        </v-btn>
      </div>

      <div class="flex-1 pa-6 pt-0 overflow-y-auto">
        <slot name="content" />
      </div>

      <div v-if="visibleFooter" class="d-flex grid-gap-md py-4 px-6 border-top">
        <div class="flex-1">
          <v-btn
            color="error"
            outlined
            block
            @click="$emit('emit:cancel-button', false)"
          >
            {{ $t(cancelText) }}
          </v-btn>
        </div>

        <div class="flex-1">
          <v-btn
            color="primary"
            depressed
            block
            :loading="successButtonLoading"
            @click="$emit('emit:success-button')"
          >
            {{ $t(successText) }}
          </v-btn>
        </div>
      </div>
    </div>
  </v-navigation-drawer>
</template>

<script>
import { XIcon } from "vue-feather-icons"
export default {
	name: "Drawer",
	props: {
		value: {
			type: Boolean
		},
    drawerWidth: {
      type: [Number, String],
      default: 640
    },
		/*
    *
    * */
		title: {
			type: String,
			default: "document-flow.views.boxes.redirect-document"
		},
		/*
    *
    * */
		successText: {
			type: String,
			default: "document-flow.views.registration.save"
		},
		/*
		*
		* */
		cancelText: {
			type: String,
			default: "auth.enter-phone.back"
		},
    /*
    *
    * */
    successButtonLoading: {
      type: Boolean,
      default: false
    },
    /*
    *
    * */
    visibleFooter: {
      type: Boolean,
      default: true
    }
	},
	components: {
		XIcon
	},
	computed: {
		content: {
			get() {
				return this.value;
			},
			set(value) {
				this.$emit("change", value);
			}
		}
	}
}
</script>

<style>
.drawer-content {
  height: calc(100vh - 64px);
}
</style>
