<template>
	<div>
		<h1 class="small-2 font-500 text-2">{{ $t(label) }}</h1>
		<slot>
			<span class="d-block size-15 font-500 text-dark mt-1">
				{{ disableTextTranslate ? text : $t(text) }}
			</span>
		</slot>
	</div>
</template>

<script>
export default {
	name: "LabelText",
	props: {
		label: {
			type: String,
			default: "control-tasks.create-task.document-type"
		},
		/*
		*
		* */
		text: {
			type: [String, Number, Array, Object, Date],
			default: "#"
		},
		/*
		*
		* */
		disableTextTranslate: {
			type: Boolean,
			default: false
		}
	}
}
</script>

<style scoped>

</style>
