<template>
	<div class="app-pagination d-flex align-center">
		<v-pagination
			v-if="isVisible"
      v-model="filterPagination.page"
      :length="getPaginationOptions.page_length"
      :total-visible="getPaginationOptions.totalVisible"
      @input="$emit('emit:up', filterPagination.page)"
    ></v-pagination>

<!--		<span v-if="getPaginationOptions.list_length > 1" class="ml-4 small-2">( {{ getPaginationOptions.list_length }} {{$t('components.base.documents')}} )</span>-->
	</div>
</template>

<script>
import { mapGetters, mapState } from "vuex"

export default {
	name: "AppPagination",
	data() {
		return {
			isVisible: false
		}
	},
  computed: {
    ...mapState({
      filterState: state => state.headerFilter.filter,
      filterPagination: state => state.headerFilter.pagination,
    }),
    /*
    *
    * */
	  ...mapGetters({
      getPaginationOptions: "getPaginationOptions"
    })
  },
	mounted() {
    this.filterPagination.page = +this.$route.query.page || 1

		setTimeout(() => {
			this.isVisible = true
		}, 500)
	}
}
</script>

<style>
.app-pagination ul li:first-child button {
	margin-left: 0;
}

.v-pagination {
	justify-content: flex-start !important;
}

.v-pagination__item,
.v-pagination__navigation {
	background: transparent !important;
	box-shadow: none !important;
	font-weight: 500;
	color: var(--text-2) !important;
  height: 28px !important;
	width: 28px !important;
}

/*.v-pagination__navigation {*/
/*  border: 1px solid #A8A9BA !important;*/
/*  border-radius: 8px !important;*/
/*}*/

.v-pagination__navigation > i {
  font-size: 18px;
}
</style>
