<template>
  <div class="status-wrapper d-flex align-center">
    <v-sheet
      width="8"
      height="8"
      rounded
      :color="generateColor"
    ></v-sheet>

    <div class="ml-2">
      <slot name="default" :text="generateText">
        <span class="size-13">{{ generateText }}</span>
      </slot>
    </div>
  </div>
</template>

<script>
export default {
	name: "Priority",
	props: {
		text: {
			type: String,
			default: "low"
		}
	},
	computed: {
		generateColor() {
			return this.text === "medium" ? "var(--primary-3)" : this.text === "high" ? "var(--primary-4)" : "var(--primary-2)"
		},
		/*
		*
		* */
		generateText() {
			return this.text === "medium" ? this.$t('with-deadline') : this.text === "high" ? this.$t('emergent') : this.$t('for-information')
		}
	}
}
</script>
