<template>
	<div
		class="status-wrapper d-flex align-center gap-4 px-2 py-1 rounded"
		:style="generateBackground"
	>
		<span class="tiny text-uppercase font-500" :style="generateColor">
			<slot>
				{{ generateText }}
			</slot>
		</span>

		<slot name="append" />
	</div>
</template>

<script>
export default {
	name: "Status",
	props: {
		text: {
			type: String,
			default: "TO DO"
		}
	},
	computed: {
		generateBackground() {
			return this.text === "IN PROGRESS"
				? { "background": `var(--primary-3-light)` }
				: this.text === "DONE"
					? { "background": "var(--primary-2-light)" }
					: this.text === "CANCEL"
						? { "background": "var(--primary-4-light)" }
						: this.text === "ON HOLD"
							? { "background": `var(--primary-3-light)` }
							: this.text === "OVERDUE PERFORMANCE"
								? { "background": "var(--primary-4-light)" }
								: this.text === "NOT PERFORMED"
									? { "background": "var(--primary-4-light)" }
									: { "background": "var(--primary-1-light)" }
		},
		/*
		*
		* */
		generateColor() {
			return this.text === "IN PROGRESS"
				? { "color": `var(--primary-3)` }
				: this.text === "DONE"
					? { "color": "var(--primary-2)" }
					: this.text === "CANCEL"
						? { "color": "var(--primary-4)" }
						: this.text === "ON HOLD"
							? { "color": "var(--primary-3)" }
							: this.text === "OVERDUE PERFORMANCE"
								? { "color": "var(--primary-4)" }
								: this.text === "NOT PERFORMED"
									? { "color": "var(--primary-4)" }
									: { "color": "var(--primary-1)" }
		},
		/*
		*
		* */
		generateText() {
			return this.text === "IN PROGRESS"
				? this.$t("document-flow.views.registration.in-progress")
				: this.text === "DONE"
					? this.$t("document-flow.views.statistics.done")
					: this.text === "CANCEL"
						? this.$t("document-flow.views.boxes.denied")
							: this.text === "ON HOLD"
								? this.$t("document-flow.views.send-document.pending")
								: this.text === "ON REVIEW"
									? this.$t("components.on-review")
									: this.text === "FOR SIGNATURE"
										? this.$t("components.for-signature")
										: this.text === "OVERDUE PERFORMANCE"
											? this.$t("overdue-performance")
											: this.text === "NOT PERFORMED"
												? this.$t("components.task-not-done")
												: this.$t("document-flow.views.statistics.to-do")
		}
	}
}
</script>
