<template>
	<v-tabs
		v-model="content"
		:class="classes"
		:hide-slider="hideSlider"
		:show-arrows="showArrows"
		height="40"
		center-active
		@change="(val) => $emit('emit:change', val)"
	>
		<slot />
	</v-tabs>
</template>

<script>
export default {
	name: "Tabs",
	props: {
		value: {
			type: Number
		},
		/*
		*
		* */
		mode: {
			type: String,
			default: "line",
			validator(value) {
				return ["line", "segment"].includes(value)
			}
		},
		/*
		*
		* */
		hideSlider: {
			type: Boolean,
			default: false
		},
		/*
		*
		* */
		showArrows: {
			type: Boolean,
			default: false
		}
	},
	computed: {
		content: {
			get() {
				return this.value;
			},
			set(value) {
				this.$emit("input", value);
			}
		},
		/*
		*
		* */
		classes() {
			return {
				'app-tabs--line': this.mode === "line",
				'app-tabs--segment': this.mode === "segment"
			}
		}
	}
}
</script>

<style>
.v-tabs.app-tabs--segment .v-tab--active:hover::before,
.v-tabs.app-tabs--segment .v-tab--active::before {
	opacity: 0.12 !important;
}

.v-tabs.app-tabs--segment .v-tab {
  border-radius: 10px;
  overflow: hidden;
}

.v-tabs.app-tabs--segment .v-slide-group__prev,
.v-tabs.app-tabs--segment .v-slide-group__next {
  background: var(--bg-2);
  min-width: 40px !important;
  max-width: 40px !important;
  height: 40px !important;
  border-radius: 100%;
  align-self: center;
}

.v-tabs.app-tabs--segment .v-slide-group__prev:hover,
.v-tabs.app-tabs--segment .v-slide-group__next:hover {
	background: var(--primary-1-light);
}

.v-tabs.app-tabs--segment .v-slide-group__prev {
  margin-right: 12px;
}

.v-tabs.app-tabs--segment .v-slide-group__next {
	margin-left: 12px;
}
</style>
