<script>
// Core
import {mapActions} from "vuex"
import {required} from "vuelidate/lib/validators"
// Components
import { BackButton } from "../../../components"
import GroupHistory from "./components/GroupHistory.vue"

export default {
	name: "Detail",
	components: {
		GroupHistory,
		BackButton
	},
	data: () => ({
		model: {
			name: null,
			head_of_group: null,
			__participants: []
		},
		loading: true,
		tempName: null,
		buttonLoading: false,
		groupHistories: []
	}),
	validations: {
		model: {
			name: {required},
			head_of_group: {required},
			__participants: {required}
		},
	},
	computed: {
		headOfGroupId() {
			return this.model?.head_of_group?.id
		}
	},
	methods: {
		...mapActions({
			actionGetGroupDetail: 'auditConfigureGroups/actionGetGroupDetail',
			actionUpdateGroup: 'auditConfigureGroups/actionUpdateGroup',
			actionGetGroupHistoryList: 'auditConfigureGroups/actionGetGroupHistoryList'
		}),
		getDetail() {
			this.loading = true
			this.actionGetGroupDetail(this.$route.params.id)
				.then(async data => {
					this.model = data
					this.tempName = data.name
					this.model.__participants = data.participants
					this.groupHistories = await this.actionGetGroupHistoryList({ object_id: data.id, content_type: data.content_type })
				})
				.finally(() => {
					this.loading = false
				})
		},
		update() {
			this.$v.$touch()
			if (this.$v.$invalid || this.model.__participants.length < 1) {
				this.$toast.warning(this.$t('layout.required-field'))
				return
			}

			this.buttonLoading = true
			let model = {
				...this.model,
				head_of_group: this.model.head_of_group.id,
				participants: this.model.__participants.map(item => item.id)
			}
			this.actionUpdateGroup({id: this.$route.params.id, body: model})
				.then(data => {
					this.buttonLoading = false
					this.$toast.success(this.$t('equipments.views.add-correspondent.edited'))
					this.getDetail()
				})
		}
	},
	mounted() {
		this.getDetail()
	}
}
</script>

<template>
	<div class="audit-configure-groups-detail-view">
		<template v-if="loading">
			<app-loader full-width />
		</template>

		<template v-else>
			<div class="d-flex align-center gap-x-2">
				<back-button />

				<span class="heading-8 font-600 text-greyscale-900 d-block">{{ tempName }}</span>
			</div>

			<v-row class="mt-2">
				<v-col md="6">
					<div class="d-flex flex-column w-100 bg-greyscale-100 rounded-20 py-4 px-6">
						<span class="heading-11 font-600 text-greyscale-900">{{ $t('change-group') }}</span>

						<div class="d-flex mt-4 pa-5 bg-white rounded-16 card-shadow">
							<div class="d-flex flex-column gap-y-6 w-100">
								<div>
									<span class="small-2 font-500 text-greyscale-700 d-block mb-2">{{ $t('chat-messenger.components.group-name') }}</span>

									<base-text-field
										v-model="$v.model.name.$model"
										:error="$v.model.name.$error"
									/>
								</div>

								<div>
									<span class="small-2 font-500 text-greyscale-700 d-block mb-2">{{ $t('group-head') }}</span>

									<base-auto-complete
										v-model="$v.model.head_of_group.$model"
										:error="$v.model.head_of_group.$error"
										api-list-url="/user/search/"
										:api-params="{
											ids: headOfGroupId
										}"
										item-text="full_name"
										return-object
										cache-items
										disabled
										clearable
										:placeholder="$t('document-flow.views.boxes.employees')"
									/>
								</div>

								<div>
									<span class="small-2 font-500 text-greyscale-700 d-block mb-2">{{ $t('group-members') }}</span>

									<base-auto-complete
										v-model="$v.model.__participants.$model"
										:error="$v.model.__participants.$error"
										api-list-url="/user/search/"
										:api-params="{
											ids: model.participants.map(item => item.id).join(',')
										}"
										item-text="full_name"
										multiple
										return-object
										cache-items
										:placeholder="$t('document-flow.views.boxes.employees')"
									/>
								</div>

								<div class="d-flex align-center justify-space-between">
									<span class="small-2 font-500 text-greyscale-700">{{ $t('components.status') }}</span>

									<div class="d-flex align-center gap-x-3">
										<span
											class="small-2 font-600"
											:class="model.is_active ? 'text-greyscale-800' : 'text-greyscale-600'"
										>
											{{ model.is_active ? $t('bank-structure.active') : $t('inactive') }}
										</span>

										<base-switch
											v-model="model.is_active"
										/>
									</div>
								</div>
							</div>
						</div>

						<div class="d-flex gap-x-3 mt-5">
							<app-button
								height="40"
								color="white"
								width="203px"
								class="rounded-8"
								@click="$router.go(-1)"
							>
								<div class="small-2 font-500 text-greyscale-900">{{ $t('components.cancel') }}</div>
							</app-button>

							<app-button
								height="40"
								width="203px"
								class="rounded-8"
								:loading="buttonLoading"
								@click="update"
							>
								<div class="small-2 font-500">{{ $t('control-tasks.tasks.edit') }}</div>
							</app-button>
						</div>
					</div>
				</v-col>

				<v-col md="6">
					<group-history
						:history-list="groupHistories"
					/>
				</v-col>
			</v-row>
		</template>

<!--		<pre>{{ model }}</pre>-->
	</div>
</template>

<style scoped>

</style>
