<script>
// Core
import {mapActions, mapState} from "vuex"
// Enums
import { AUDIT_CONFIG_GROUP_FILTER, AUDIT_CONFIG_GROUP_COLUMN } from "@/common/constants";
// Components
import GroupCreateForm from "./components/GroupCreateForm.vue"
import { IsActive } from "../../../components"

export default {
	name: "index",
	components: {
		IsActive,
		GroupCreateForm
	},
	data: () => ({
		AUDIT_CONFIG_GROUP_FILTER,
		AUDIT_CONFIG_GROUP_COLUMN,
		buttonLoading: false,
		deletingGroupName: null,
		deletingGroupId: null,
		dialog: false
	}),
	computed: {
		...mapState({
			configureGroupsTableCols: state => state.auditConfigureGroups.configureGroupsTableCols,
			groupTableFilters: state => state.auditConfigureGroups.groupTableFilters,
		}),
		tableHeight() {
			return document.documentElement.clientHeight - 220
		},
	},
	methods: {
		...mapActions({
			actionDeleteGroup: 'auditConfigureGroups/actionDeleteGroup'
		}),
		onRowClick(item) {
			this.$router.push({
				name: 'AuditConfigureGroupsDetail',
				params: {
					id: item.id
				}
			})
		},
		/** **/
		async onGroupCreated(){
			const { dataTable } = this.$refs
			this.groupTableFilters.page = 1
			const routeQuery = {
				page: 1,
				page_size: this.groupTableFilters.page_size
			}
			await dataTable.getList(routeQuery)

			await this.$router.replace({
				query: routeQuery
			})
		},
		/** **/
		deleteGroup(event, item) {
			event.stopImmediatePropagation()
			this.dialog = true
			this.deletingGroupName = item.name
			this.deletingGroupId = item.id
		},
		/** **/
		onDelete() {
			this.buttonLoading = true
			this.actionDeleteGroup({id: this.deletingGroupId})
				.then(async res => {
					this.buttonLoading = false
					this.dialog = false
					const { dataTable } = this.$refs
					await dataTable.getList(this.$route.query)
					this.$toast.success(this.$t("document-flow.views.registration.deleted"))
				})
		}
	}
}
</script>

<template>
	<div class="configure-groups-index-view">
		<base-data-table
			:api-url="`audit/groups`"
			:headers-list="configureGroupsTableCols"
			:filter-state="groupTableFilters"
			:filter-storage-name="AUDIT_CONFIG_GROUP_FILTER"
			:config-column-storage-name="AUDIT_CONFIG_GROUP_COLUMN"
			:height="tableHeight"
			:unread-show="false"
			:header-name="$t('chat-messenger.components.groups')"
			ref="dataTable"
			@emit:onRowClick="onRowClick"
		>
			<template #toolbar-actions>
				<group-create-form
					@emit:onGroupCreated="onGroupCreated"
				/>
			</template>

			<template #head_of_group="{ value }">
				<app-avatar-group list-type="participants" :avatar-list="[{ user: value }]" />
			</template>

			<template #participants="{ value }">
				<app-avatar-group list-type="participants" :avatar-list="value.map(item => ({ user: item }))" />
			</template>

			<template #created_date="{ value }">
				{{ value | filterDateMonthYear }}
			</template>

			<template #is_active="{ value }">
				<is-active :is-active="value" />
			</template>

			<template #action="{ item }">
				<div
					@click="deleteGroup($event, item)"
				>
					<base-iconify
						icon="TrashFull"
						class="text-critic-500"
					/>
				</div>
			</template>
		</base-data-table>


		<!-- Delete modal -->
		<base-modal
			v-model="dialog"
			ref="baseModal"
			label="delete-group"
			success-button-label="hr.survey.delete"
			persistent
			width="461"
			:button-loading="buttonLoading"
			@emit:onSend="onDelete"
		>
			<div class="d-flex flex-column align-center justify-center w-100 py-4">
				<div class="d-flex justify-center align-center w-12 h-12 rounded-50 bg-critic-500">
					<base-iconify
						icon="TrashBinTrashBold"
						class="text-white"
						width="24"
						height="24"
					/>
				</div>

				<div v-if="$i18n.locale === 'ru'" class="heading-11 font-600 text-greyscale-900 mt-5 text-center">Вы уверены, что хотите удалить эту группу?</div>
				<div v-else class="heading-11 font-600 text-greyscale-900 mt-5 text-center">Bu guruhni oʻchirib tashlamoqchimisiz?</div>

				<div class="small-2 font-500 text-greyscale-400 mt-1">{{ deletingGroupName }}</div>
			</div>
		</base-modal>
		<!-- /Delete modal -->
	</div>
</template>

<style scoped>

</style>
