<template>
	<div class="d-flex flex-1 bg-4 rounded-20 pa-3">
		<div class="d-flex flex-column align-start flex-1 pa-4">
			<div class="d-flex align-center w-100 mb-12">
				<span class="heading-9 font-600 text-dark mr-3 d-block">{{ formTitle }} -> {{$t('document-flow.views.registration.internal')}}</span>
				<v-divider/>
			</div>
			<div class="w-100 mb-auto">
				<v-row>
					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.registration-number')}} <span class="color-red">*</span></span>
							<v-text-field
								v-model="$v.formModel.register_number.$model"
								:error="$v.formModel.register_number.$error"
								hide-details
								outlined
								background-color="var(--input-bg)"
								@keypress="$store.dispatch('documentFlowModule/checkKeyDownAlphaNumeric', $event)"
								@paste="$store.dispatch('documentFlowModule/checkCopiedText', $event)"
							></v-text-field>
						</div>
					</v-col>

					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.registration-date')}} <span class="color-red">*</span></span>

							<app-date-picker
								v-model="$v.formModel.register_date.$model"
								:error="$v.formModel.register_date.$error"
								with-input
								background-color="var(--input-bg)"
                :allow-dates="(currentUser.role === 'admin' || currentUser.role === 'chancellery') ? null : getAllowedDates"
							/>
						</div>
					</v-col>

					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.document-type')}} <span class="color-red">*</span></span>

							<app-autocomplete
								v-model="$v.formModel.doc_type.$model"
								:error="$v.formModel.doc_type.$error"
								:api-list-url="documentReferenceUrl"
								:api-params="{
                  type: 'doc_type'
                }"
								list-type="list"
								item-text="name"
								item-value="id"
								cache-items
							/>
						</div>
					</v-col>

					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.period-for-execution')}}</span>

							<app-date-picker
								v-model="formModel.deadline"
								with-input
								background-color="var(--input-bg)"
							/>
						</div>
					</v-col>

					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.department')}} <span class="color-red">*</span></span>

							<v-autocomplete
								v-model="$v.formModel.department.$model"
								:error="$v.formModel.department.$error"
								:items="departmentList"
								item-text="name"
								item-value="id"
								outlined
								hide-details
								clearable
								background-color="var(--input-bg)"
							>
								<template #append>
									<v-icon>mdi-chevron-down</v-icon>
								</template>
							</v-autocomplete>
						</div>
					</v-col>

					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.author')}} <span class="color-red">*</span></span>
							<app-autocomplete
								v-model="$v.formModel.author.$model"
								:error="$v.formModel.author.$error"
								:api-list-url="usersReferenceUrl"
								item-value="id"
                item-text="full_name"
								cache-items
								outlined
								hide-details
								:item-disabled="getDisableItems"
							/>
						</div>
					</v-col>

					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.signatory')}} <span class="color-red">*</span></span>
							<app-autocomplete
								v-model="$v.formModel.signer.$model"
								:error="$v.formModel.signer.$error"
								:api-list-url="usersReferenceUrl"
								item-value="id"
                item-text="full_name"
								cache-items
								outlined
								hide-details
								:item-disabled="getDisableItems"
							/>
						</div>
					</v-col>

					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.attach-file')}}</span>

							<app-file-upload
								@uploadFiles="uploadFiles"
								class="w-100"
								scanner
							/>
						</div>
					</v-col>

					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.for-consideration')}} </span>

							<app-autocomplete
								v-model="formModel.__userSelected"
								api-list-url="/user/search/"
								item-text="full_name"
								return-object
								multiple
								cache-items
								:item-disabled="getDisableItems"
                group-staff-visible
							/>
						</div>
					</v-col>

					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{ $t('components.execution-duration') }}</span>

							<app-date-picker
								v-model="formModel.deadline"
								with-input
								background-color="var(--input-bg)"
							/>
						</div>
					</v-col>
				</v-row>
				<v-row>
					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.content')}} <span class="color-red">*</span></span>

							<v-textarea
								v-model="$v.formModel.description.$model"
								:error="$v.formModel.description.$error"
								outlined
								hide-details
								no-resize
								auto-grow
								background-color="var(--input-bg)"
							></v-textarea>

							<resolution-content-modal
								title="components.add-template"
								title-dialog="components.add-content-resolution"
								class="mt-2"
								@emit:up="(text) => formModel.description = text.name.replace(/<\/?[^>]+(>|$)/g, '')"
							/>
						</div>
					</v-col>
				</v-row>
			</div>
			<div class="d-flex">
				<app-button @click="$router.go(-1)"
				            depressed
				            class="mt-10 mr-4"
				            color="error"
				>
					<template #default>
						{{$t('document-flow.views.registration.back')}}
					</template>
					<template #prepend>
						<v-icon size="20">mdi-arrow-left</v-icon>
					</template>
				</app-button>

				<app-button @click="send"
				            depressed
                    :loading="loading"
				            class="mt-10"
				>
					<template #default>
						{{$t('document-flow.views.registration.create-document')}}
					</template>
					<template #append>
						<v-icon size="17">mdi-send</v-icon>
					</template>
				</app-button>
			</div>
		</div>
	</div>
</template>

<script>
import SearchUsersBelow from "@/common/components/SearchUsersBelow";
import ResolutionContentModal from "../../../../../../../common/components/ResolutionContentModal";
import { DownloadIcon, EyeIcon, Trash2Icon } from "vue-feather-icons";
import { required } from "vuelidate/lib/validators";
import { mapActions, mapGetters } from "vuex";
import { format } from "date-fns";

export default {
	name: "index",
	props: {
		formType: {
			type: String,
			default: ""
		},
		formTitle: {
			type: String,
			default: "Регистрация документа"
		}
	},
	components: {
		SearchUsersBelow,
		ResolutionContentModal,
		Trash2Icon,
		DownloadIcon,
		EyeIcon
	},
	data() {
		return {
			formModel: {
				register_number: null,
				register_date: (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10),
				doc_type: null,
				description: "",
				department: null,
				author: null,
				journal: null,
				documents: [],
				signer: null,
				__userSelected: [],
				deadline: format(Date.now() + 15 * 24 * 60 * 60 * 1000, "yyyy-MM-dd")
			},
			documentTypeSearch: null,
			userSearch: null,
      loading: false
		}
	},
	validations: {
		formModel: {
			register_number: {required},
			register_date: {required},
			department: {required},
			author: {required},
			signer: {required},
			doc_type: {required},
			description: {required},
		}
	},
	computed: {
		...mapGetters({
			usersList: "getUsersList",
      currentUser: "auth/getCurrentUser",
			correspondentList: "documentFlowModule/getCorrespondent",
			docTypeCorrespondList: "documentFlowModule/getDocTypeCorrespondList",
			departmentList: "documentFlowModule/getDepartmentList",
			authorsList: "documentFlowModule/getUsersBelowList",
			attachDocumentListID: "documentFlowModule/getAttachDocumentListID",
			attachDocumentsList: "documentFlowModule/getAttachDocumentsList",
			getDisableItems: "getDisableItems",
      getAllowedDates: "getAllowedDates",
		}),
		/**/
		documentReferenceUrl() {
			return `/docflow/${this.$store.getters['auth/getCurrentUser'].filial}/reference/`
		},
		/**/
		docTypeList() {
			return this.docTypeCorrespondList.filter(item => item.type === "doc_type");
		},
		/**/
		usersReferenceUrl() {
			return `/${this.$store.getters['auth/getCurrentUser'].filial}/user/lists/by_category/`
		}
	},
	watch: {
		documentTypeSearch(value) {
			this.fetchDocTypeCorrespondList({
				search: value
			})
		},
	},
	created() {
		this.fetchUsersList({})
		this.fetchDepartmentList()
		this.fetchAuthorsList({})
		this.fetchDocTypeCorrespondList()
	},
	beforeDestroy() {
		this.$store.commit("documentFlowModule/CLEAR_ATTACHED_DOCUMENTS_ID")
	},
	methods: {
		...mapActions({
			fetchUsersList: "fetchUsersList",
			fetchDocTypeCorrespondList: "documentFlowModule/fetchDocTypeCorrespondList",
			fetchAttachFiles: "documentFlowModule/fetchAttachFiles",
			fetchDepartmentList: "documentFlowModule/fetchDepartmentList",
			fetchAuthorsList: "documentFlowModule/fetchUsersBelow",
			scanDocument: "documentFlowModule/scanDocument",
			fetchClearFileIDs: "documentFlowModule/fetchClearFileIDs",
		}),
		/**/
		uploadFiles(files) {
			this.fetchAttachFiles({
				files
			})
		},
		/**/
		send() {
			this.$v.$touch();

			if (this.$v.$invalid) {
				return;
			}

      this.loading = !this.loading

			let data = {
				...this.formModel,
				journal: this.$route.params.id,
				register_date: `${this.formModel.register_date} ${new Date().getHours()}:${new Date().getMinutes()}`,
				documents: this.attachDocumentListID,
				deadline: `${this.formModel.deadline}T18:00:00+05:00`,
				review_users: this.formModel.__userSelected.map(item => Object.assign({}, {user: item.id}))
			}

			this.$store.dispatch("documentFlowModule/fetchRegisterInnerDocument", data)
				.then((response) => {
          this.loading = false

					this.$router.push({
						name: "InnerIndex"
					})
				})
		}
	}
}
</script>

<style scoped>

</style>
