<template>
	<div class="hr-singing-view h-100 pb-0">
		<template v-if="loading">
			<app-loader content-width />
		</template>

		<template v-else>
			<div class="layout-header d-flex align-center gap-x-3 mb-5">
				<back-button />

<!--				<h1 class="flex-1 heading-8 text-greyscale-900 font-600">-->
<!--					Aasdasd Adddd Badasdqwe-->
<!--				</h1>-->
			</div>

			<sign-layout />
		</template>
	</div>
</template>

<script>
import { mapActions } from 'vuex'
import { BackButton } from '@/common/components/Buttons'
import SignLayout from './components/Layout.vue'

export default {
	name: "index",
	components: {
		BackButton,
		SignLayout
	},
	data() {
		return {
			loading: true
		}
	},
	mounted() {
		this.fetchCandidateSigningDocument({
			candidate: undefined,
			title: undefined
		})
			.then(() => {
				setTimeout(() => {
					this.loading = false
				}, 500)
			})
	},
	methods: {
		...mapActions({
			fetchCandidateSigningDocument: 'hrHiring/fetchCandidateSigningDocument'
		})
	}
}
</script>

<style scoped>
.layout-header {
	max-width: 1100px;
	margin: 0 auto;
	width: 100%;
}
</style>