<template>
  <div class="calendar-resources-view bg-white pa-4">
    <v-menu
      offset-y
    >
      <template v-slot:activator="{ on, attrs }">
        <app-button
          v-bind="attrs"
          v-on="on"
          width="100%"
          height="50"
        >
          <template>
            <span class="font-500 small-2">{{$t('event-calendar.components.create-event')}}</span>
          </template>
          <template #append>
            <v-icon>mdi-chevron-down</v-icon>
          </template>
        </app-button>
      </template>

      <v-list>
        <v-list-item-group
          color="primary"
        >
          <v-list-item @click="showEvent('EventView')">
            <v-list-item-avatar size="18">
              <star-icon color="var(--text-2)" size="18" />
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title class="font-500 small-2">{{$t('event-calendar.components.event')}}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item @click="showEvent('TaskView')">
            <v-list-item-avatar size="18">
              <clipboard-icon color="var(--text-2)" size="18" />
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title class="font-500 small-2">{{$t('event-calendar.components.task')}}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-menu>

    <app-date-picker
      v-model="changedDate"
      full-width
      class="mt-5"
      @emit:up="(val) => UPDATE_CHANGED_DATE(val)"
    />

    <!-- Add member -->
    <div class="mb-5 mt-n3">
      <autocomplete
        :item-disabled="getDisableItems"
        api-list-url="/user/search/"
        item-text="full_name"
        item-value="id"
        return-object
        cache-items
        dense
        multiple
        background-color="var(--input-bg)"
        :placeholder="$t('event-calendar.components.search-favorites')"
        @emit:change="handleChange"
      />
    </div>
    <!-- /Add member -->

    <div class="app-collapse">
      <v-expansion-panels v-model="panel" focusable>
        <v-expansion-panel>
          <v-expansion-panel-header>
            <span class="font-500 text-2">{{$t('event-calendar.components.my-calendar')}}</span>
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <div class="mt-2">
              <template >
                <v-hover v-for="(item, index) in getMyCalendarList" :key="index" v-slot="{ hover }">
                  <div class="rounded" :style="{ 'background-color': hover ? 'var(--transparent-1)' : '' }">
                    <v-checkbox
                      :color="item.color"
                      hide-details
                      :ripple="false"
                      class="mt-0 pa-2"
                      :input-value="item"
                      @change="(value) => changeMyCalendarList(value, item)"
                    >
                      <template #label>
                        <span v-if="item.hasOwnProperty('title')" class="font-500 ml-1 text-2">
                          {{ item.title }}
                        </span>

                        <span class="font-500 ml-1 text-2">
                          {{ item.last_name }} {{ item.first_name }}
                        </span>
                      </template>
                    </v-checkbox>
                  </div>
                </v-hover>
              </template>
<!--              <v-hover v-slot="{ hover }">-->
<!--                <div class="rounded" :style="{ 'background-color': hover ? 'var(&#45;&#45;transparent-1)' : '' }">-->
<!--                  <v-checkbox-->
<!--                    v-model="calendarActionsList"-->
<!--                    :color="colorsList.PRIMARY"-->
<!--                    value="EVENT"-->
<!--                    hide-details-->
<!--                    :ripple="false"-->
<!--                    class="mt-0 pa-2"-->
<!--                  >-->
<!--                    <template #label>-->
<!--                      <span class="font-500 ml-1 text-2">{{ currentUser.last_name }} {{ currentUser.first_name }}</span>-->
<!--                    </template>-->
<!--                  </v-checkbox>-->
<!--                </div>-->
<!--              </v-hover>-->

<!--              <v-hover v-slot="{ hover }">-->
<!--                <div class="rounded" :style="{ 'background-color': hover ? 'var(&#45;&#45;transparent-3)' : '' }">-->
<!--                  <v-checkbox-->
<!--                    v-model="calendarActionsList"-->
<!--                    :color="colorsList.WARNING"-->
<!--                    value="TASK"-->
<!--                    hide-details-->
<!--                    :ripple="false"-->
<!--                    class="mt-0 pa-2"-->
<!--                  >-->
<!--                    <template #label>-->
<!--                      <span class="font-500 ml-1 text-2">{{$t('event-calendar.components.task')}}</span>-->
<!--                    </template>-->
<!--                  </v-checkbox>-->
<!--                </div>-->
<!--              </v-hover>-->
            </div>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </div>
  </div>
</template>

<script>
import { colorsList } from "@/common/enums/notificationTypes"
import { ClipboardIcon, StarIcon } from "vue-feather-icons"
import { mapActions, mapGetters, mapMutations } from "vuex"

export default {
	name: "CalendarResources",
  components: {
    StarIcon,
    ClipboardIcon
  },
	data() {
		return {
			panel: 0,
      colorsList,
      calendarActionsList: ["EVENT", "TASK"]
		}
	},
  computed: {
	  ...mapGetters({
      getDisableItems: "getDisableItems",
      currentUser: "auth/getCurrentUser",
      getChangedDate: "gridCalendar/getChangedDate",
      getMyCalendarList: "gridCalendar/getMyCalendarList",
    }),
    /*
    *
    * */
    changedDate: {
      get() {
        return this.getChangedDate
      },
      set(value) {
        return value
      }
    },
  },
  watch: {
    calendarActionsList: {
      handler(val) {
        // this.activeCurrentAction(val)
      }
    }
  },
  methods: {
    ...mapMutations({
      UPDATE_CHANGED_DATE: "gridCalendar/UPDATE_CHANGED_DATE"
    }),
    /*
    *
    * */
    ...mapActions({
      showMockEvent: "gridCalendar/showMockEvent",
      eventTypeState: "gridCalendar/eventTypeState",
      activeCurrentAction: "gridCalendar/activeCurrentAction",
      fetchEventRelation: "gridCalendar/fetchEventRelation",
      toggleEventState: "gridCalendar/toggleEventState",
    }),
    /*
    *
    * */
    showEvent(type) {
      this.eventTypeState(type)

      this.showMockEvent({
        date: this.changedDate,
        title: this.$t('components.untitled'),
        nextTick: this.$nextTick()
      })

      this.toggleEventState(true)
    },
    /*
    *
    * */
    handleChange(val) {
      this.fetchEventRelation({ user: val })
    },
    /*
    *
    * */
    changeMyCalendarList(value, item) {
      this.activeCurrentAction({
        state: value,
        model: item,
        __actions: item.__actions
      })
    }
  }
}
</script>
