<template>
	<div class="calendar-actions-view d-flex align-center w-100">
    <div class="d-flex align-center aside-width-300 ml-n1 mr-n3">
      <app-button
        color="#666"
        icon
        min-width="40"
        width="40"
        height="40"
      >
        <menu-icon class="d-block" />
      </app-button>

      <h3 class="font-600 ml-2 text-dark">{{$t('event-calendar.components.calendar')}}</h3>
    </div>

		<app-tooltip bottom>
			<template #content>
				<app-button
					@click="setToday"
					min-width="100"
					depressed
					class="mr-2"
				>
					<template #prepend>
            <calendar-icon size="18" />
					</template>
					<template>
						{{$t('event-calendar.components.today')}}
					</template>
				</app-button>
			</template>

			<template #text>
        {{ currentDate | filterIIIIDDLLLL }}
			</template>
		</app-tooltip>

		<app-tooltip bottom>
			<template #content>
				<app-button @click="prevMonth" min-width="50" icon>
					<template #prepend>
						<v-icon>mdi-chevron-left</v-icon>
					</template>
				</app-button>
			</template>

			<template #text>
				{{$t('event-calendar.components.prev-month')}}
			</template>
		</app-tooltip>

		<app-tooltip bottom>
			<template #content>
				<app-button @click="nextMonth" min-width="50" icon>
					<template #prepend>
						<v-icon>mdi-chevron-right</v-icon>
					</template>
				</app-button>
			</template>

			<template #text>
				{{$t('event-calendar.components.next-month')}}
			</template>
		</app-tooltip>

		<span class="heading-10 ml-2 text-capitalize font-500">{{ getChangedDate | filterLLLL }}</span>

    <v-menu offset-y>
      <template v-slot:activator="{ on, attrs }">
        <app-button
          color="primary"
          dark
          v-bind="attrs"
          v-on="on"
          depressed
          min-width="120"
          class="ml-auto"
        >
          {{ getCalendarType.title }}
          <template #append>
            <chevron-down-icon size="20" />
          </template>
        </app-button>
      </template>

      <v-list flat>
        <v-list-item-group
        >
          <template>
            <v-list-item
              v-for="calendarType in getCalendarTypeList"
              :key="calendarType.value"
              :class="calendarType.value === getCalendarType.value ? 'primary' : ''"
              @click="() => changeCalendarType(calendarType)"
            >
              <v-list-item-title
                :class="calendarType.value === getCalendarType.value ? 'text-white' : ''"
                class="font-500"
              >
                <div class="d-flex align-center justify-space-between">
                  {{ calendarType.title }}

                  <span>{{ calendarType.code }}</span>
                </div>
              </v-list-item-title>
            </v-list-item>
          </template>
        </v-list-item-group>
      </v-list>
    </v-menu>
	</div>
</template>

<script>
import { currentDate } from "@/common/helpers"
import { CalendarIcon, ChevronDownIcon, MenuIcon } from "vue-feather-icons"
import { mapActions, mapGetters, mapMutations } from "vuex"

export default {
	name: "CalendarActions",
  components: {
    MenuIcon,
    CalendarIcon,
    ChevronDownIcon
  },
  data() {
	  return {
	    calendarType: "Месяц",
      currentDate
    }
  },
	computed: {
		...mapGetters({
			getCalendar: "gridCalendar/getCalendar",
			getChangedDate: "gridCalendar/getChangedDate",
      getCalendarTypeList: "gridCalendar/getCalendarTypeList",
      getCalendarType: "gridCalendar/getCalendarType",
		})
	},
  mounted() {
    this.changeCalendarTypeList([
      {
        title: this.$t('event-calendar.components.day'),
        value: "day",
        code: "D"
      },
      {
        title: this.$t('event-calendar.components.week'),
        value: "week",
        code: "W"
      },
      {
        title: this.$t('event-calendar.components.month'),
        value: "month",
        code: "M"
      }
    ]);
    this.changeCalendarType({
      title: this.$t('event-calendar.components.month'),
      value: "month",
    })
    document.addEventListener("keydown", event => {
      if(event.target.tagName === "BODY") {
        switch (event.code) {
          case "KeyD":
            // Day
            this.changeCalendarType({
              title: this.$t('event-calendar.components.day'),
              value: "day"
            })
            break;
          case "KeyW":
            // Week
            this.changeCalendarType({
              title: this.$t('event-calendar.components.week'),
              value: "week"
            })
            break;
          case "KeyM":
            // Month
            this.changeCalendarType({
              title: this.$t('event-calendar.components.month'),
              value: "month"
            })
            break
        }
      }
    })
  },
  watch: {
    '$i18n.locale': {
      handler() {
        this.changeCalendarTypeList([
          {
            title: this.$t('event-calendar.components.day'),
            value: "day",
            code: "D"
          },
          {
            title: this.$t('event-calendar.components.week'),
            value: "week",
            code: "W"
          },
          {
            title: this.$t('event-calendar.components.month'),
            value: "month",
            code: "M"
          }
        ]);
        this.changeCalendarType({
          title: this.$t('event-calendar.components.month'),
          value: "month",
        })
      }
    }
  },
	methods: {
	  ...mapActions({
      changeCalendarType: "gridCalendar/changeCalendarType",
      changeCalendarTypeList: "gridCalendar/changeCalendarTypeList"
    }),
    /*
    *
    * */
		...mapMutations({
      UPDATE_CHANGED_DATE: "gridCalendar/UPDATE_CHANGED_DATE"
		}),
		/*
		*
		* */
		setToday() {
			this.UPDATE_CHANGED_DATE(currentDate)
		},
		/*
		*
		* */
		prevMonth() {
      this.getCalendar.ref.prev()
		},
		/*
		*
		* */
		nextMonth() {
			this.getCalendar.ref.next()
		}
	}
}
</script>
