<template>
  <div class="event-view d-flex flex-column flex-1">
    <event-update
      @emit:create="$emit('emit:create')"
      @emit:close="$emit('emit:close')"
      @emit:save="$emit('emit:save')"
      @emit:cancel="$emit('emit:cancel')"
      @emit:progress="$emit('emit:progress')"
    />
  </div>
</template>

<script>
import EventUpdate from "./EventUpdate"

export default {
  name: "EventView",
  components: {
    EventUpdate,
  }
}
</script>
