<template>
  <div class="event-update-view flex-1 d-flex flex-column">
    <div class="flex-1 px-6">
      <!-- Set dates -->
      <div
        class="d-flex"
        :class="mode === 'create' ? 'mb-n1' : 'mb-5'"
      >
        <v-sheet width="48">
          <calendar-icon size="20" color="#5f6368" />
        </v-sheet>

        <div class="flex-1">
          <app-date-picker
            v-model="eventCreateModel.__hours.calendar_format"
            has-format
            with-input
            dense
            background-color="var(--input-bg)"
            @emit:up="updateDate"
            @input="watchFields(eventCreateModel.__hours)"
          />

          <div class="d-flex align-center grid-gap-sm mt-4">
            <v-checkbox
              v-model="eventCreateModel.__meeting_type"
              hide-details
              class="my-1 pa-0"
            >
              <template #label>
                <span class="font-500 text-dark">{{ eventCreateModel.__meeting_type ? $t('event-calendar.components.offline') : $t('event-calendar.components.online') }}</span>
              </template>
            </v-checkbox>

            <v-checkbox
              @change="setAllDay"
              hide-details
              class="my-1 pa-0"
            >
              <template #label>
                <span class="font-500 text-dark">{{$t('event-calendar.components.all-day')}}</span>
              </template>
            </v-checkbox>

            <v-spacer />
          </div>

          <template v-if="!eventCreateModel.__meeting_type">
            <v-radio-group
              v-model="eventCreateModel.meeting_type"
              hide-details
              mandatory
              class="mt-2"
              style="padding-left: 2px"
            >
              <div class="d-flex align-center mb-4">
                <video-icon size="22" color="var(--text-3)" class="mr-4" />

                <v-radio value="zoom">
                  <template #label>
                    <span class="font-500 text-dark">Zoom</span>
                  </template>
                </v-radio>
              </div>

              <template v-if="eventCreateModel.meeting_type === 'zoom'">
                <div class="app-input mb-4">
                  <v-text-field
                    v-model="eventCreateModel.__zoom_link"
                    outlined
                    dense
                    autofocus
                    :placeholder="$t('event-calendar.components.zoom-link')"
                    hide-details
                    background-color="var(--input-bg)"
                    class="pa-0 ma-0"
                  >
                  </v-text-field>
                </div>
              </template>

              <div class="d-flex align-center">
                <phone-call-icon size="20" color="var(--text-3)" style="margin-right: 18px" />

                <v-radio value="cisco">
                  <template #label>
                    <span class="font-500 text-dark">Cisco</span>
                  </template>
                </v-radio>
              </div>

              <template v-if="eventCreateModel.meeting_type === 'cisco'">
                <div class="app-input mt-4">
                  <v-text-field
                    v-model="eventCreateModel.__cisco_link"
                    outlined
                    dense
                    autofocus
                    :placeholder="$t('event-calendar.components.number-or-cisco')"
                    hide-details
                    background-color="var(--input-bg)"
                    class="pa-0 ma-0"
                  >
                  </v-text-field>
                </div>
              </template>
            </v-radio-group>
          </template>

          <v-row no-gutters class="flex-nowrap grid-gap-sm my-4">
            <v-col md="6">
              <div class="app-input">
                <v-select
                  v-model="eventCreateModel.__hours.start"
                  :items="hoursList"
                  item-text="time"
                  item-value="time"
                  outlined
                  dense
                  hide-details
                  background-color="var(--input-bg)"
                  placeholder="00:00"
                  @input="watchFields(eventCreateModel.__hours)"
                >
                  <template #append>
                    <v-icon>mdi-chevron-down</v-icon>
                  </template>
                  <template #prepend-inner>
                    <clock-icon size="16" color="#5f6368" class="mt-1 mr-1" />
                  </template>
                </v-select>
              </div>
            </v-col>

            <v-col md="6">
              <div class="app-input">
                <v-select
                  v-model="eventCreateModel.__hours.end"
                  :items="hoursList"
                  item-text="time"
                  item-value="time"
                  outlined
                  dense
                  hide-details
                  background-color="var(--input-bg)"
                  placeholder="00:00"
                  @input="watchFields(eventCreateModel.__hours)"
                >
                  <template #append>
                    <v-icon>mdi-chevron-down</v-icon>
                  </template>
                  <template #prepend-inner>
                    <clock-icon size="16" color="#5f6368" class="mt-1 mr-1" />
                  </template>
                </v-select>
              </div>
            </v-col>
          </v-row>

          <template v-if="eventCreateModel.__meeting_type">
            <div class="app-input">
              <v-select
                v-model="$v.eventCreateModel.room.$model"
                :error="$v.eventCreateModel.room.$error"
                :items="roomTypes"
                item-text="title"
                item-value="value"
                outlined
                dense
                :placeholder="$t('event-calendar.components.conference-room')"
                background-color="var(--input-bg)"
              >
                <template #append>
                  <v-icon>mdi-chevron-down</v-icon>
                </template>
                <template #item="{ item }">
                  <v-list dense flat class="pa-0 w-100">
                    <v-list-item-group>
                      <v-list-item :disabled="item.disabled">
                        <v-list-item-title class="mx-n2">
                          <div class="d-flex align-center">
                            <span class="mr-2">{{ item.title }}</span>
                            <v-chip v-if="Object.keys(item.conference).length" class="ml-auto font-400" color="error" small>
                              Занят с {{ item.conference.start_date | filterHHmm }} до {{ item.conference.end_date | filterHHmm }}
                            </v-chip>
                          </div>
                        </v-list-item-title>
                      </v-list-item>
                    </v-list-item-group>
                  </v-list>
                </template>
              </v-select>
            </div>
          </template>
        </div>
      </div>
      <!-- /Set dates -->

      <!-- Add member -->
      <div
        class="d-flex"
        :class="mode === 'create' ? 'mb-n1' : 'mb-5'"
      >
        <v-sheet width="48">
          <users-icon size="20" color="#5f6368" />
        </v-sheet>

        <div class="flex-1">
          <autocomplete
            ref="addMember"
            :readonly="!eventCreateModel.__hours.end || !eventCreateModel.__hours.start"
            v-model="$v.eventCreateModel.__participants.$model"
            :error="$v.eventCreateModel.__participants.$error"
            :api-params="memberParams"
            :fetch-on-create="false"
            :item-disabled="(item) => (item.conference && item.conference.is_busy) || (item.condition_name !== 'Рабочие' && item.condition_name !== 'Командировка' && item.condition_name !== 'Рабочие (не штат.)')"
            api-list-url="/calendar/users/"
            item-text="full_name"
            item-value="id"
            return-object
            dense
            background-color="var(--input-bg)"
            multiple
            :placeholder="$t('event-calendar.components.add-members')"
            :error-messages="errorMessageText"
            :hide-details="mode !== 'create'"
          />

          <template v-if="mode === 'edit'">
            <app-table
              stripe
              class="mt-5"
            >
              <template #tableHeader>
                <th>
                  <span>{{$t('event-calendar.components.members')}}</span>
                </th>
                <th width="50">
                </th>
              </template>

              <template #tableBody>
                <template>
                  <template>
                    <template >
                      <tr v-for="(item, index) in eventCreateModel.__participants" :key="item.id">
                        <td>
                          <users-list
                            :color="item.user ? item.user.color : item.color"
                            :avatar-url="item.user ? (item.user.avatar && item.user.avatar.url) : item.avatar && item.avatar.url"
                            :full-name="item.user ? item.user.full_name : item.full_name"
                          >
                          </users-list>
                        </td>
                        <td class="text-center">
                          <app-button
                            color="error"
                            icon
                            small
                            min-width="40"
                            width="40"
                            height="40"
                            @click="eventCreateModel.__participants.splice(index, 1)"
                          >
                            <trash2-icon size="18"/>
                          </app-button>
                        </td>
                      </tr>
                    </template>
                  </template>
                </template>
              </template>
            </app-table>
          </template>
        </div>
      </div>
      <!-- /Add member -->

      <!-- Description -->
      <div class="d-flex mb-5">
        <v-sheet width="48">
          <edit3-icon size="20" color="#5f6368" />
        </v-sheet>

        <div class="flex-1">
          <div class="app-input">
            <v-text-field
              v-model="eventCreateModel.description"
              :placeholder="$t('event-calendar.components.add-description')"
              background-color="var(--input-bg)"
              outlined
              dense
              hide-details
            />
          </div>
          <!--        <quill-editor :options="editorBasicOptions" class="editor-height-stripe" />-->
        </div>
      </div>
      <!-- /Description -->

      <!-- Append files -->
      <div class="d-flex mb-5">
        <v-sheet width="48">
          <paperclip-icon size="20" color="#5f6368" />
        </v-sheet>

        <div class="flex-1">
          <file-upload
            :files="eventCreateModel.__files"
            :show-label="false"
            dense
            prepend-icon=""
            :placeholder="$t('event-calendar.components.upload-file')"
            @emit:uploaded="(files) => eventCreateModel.__files = files"
          />
        </div>
      </div>
      <!-- /Append files -->

      <!-- Organizer -->
      <div
        class="d-flex"
        :class="mode === 'create' ? 'mb-n1' : 'mb-5'"
      >
        <v-sheet width="48">
          <user-icon size="20" color="#5f6368" />
        </v-sheet>

        <div class="flex-1">
          <autocomplete
            v-model="$v.eventCreateModel.__organizer.$model"
            :error="$v.eventCreateModel.__organizer.$error"
            :item-disabled="getDisableItems"
            api-list-url="/user/search/"
            item-text="full_name"
            item-value="id"
            return-object
            dense
            background-color="var(--input-bg)"
            :placeholder="$t('event-calendar.components.add-organizer')"
            :error-messages="errorMessageText"
            :hide-details="mode !== 'create'"
          />

          <template v-if="mode === 'edit'">
            <app-table
              stripe
              class="mt-5"
            >
              <template #tableHeader>
                <th>
                  <span>{{$t('event-calendar.components.organizer')}}</span>
                </th>
                <th width="50">
                </th>
              </template>

              <template #tableBody>
                <tr v-if="eventCreateModel.__organizer">
                  <td>
                    <users-list
                      :color="eventCreateModel.__organizer.color"
                      :avatar-url="eventCreateModel.__organizer.avatar && eventCreateModel.__organizer.avatar.url"
                      :full-name="eventCreateModel.__organizer.full_name"
                    >
                    </users-list>
                  </td>
                  <td class="text-center">
                    <app-button
                      color="error"
                      icon
                      small
                      min-width="40"
                      width="40"
                      height="40"
                      @click="eventCreateModel.__organizer = null"
                    >
                      <trash2-icon size="18"/>
                    </app-button>
                  </td>
                </tr>
              </template>
            </app-table>
          </template>
        </div>
      </div>
      <!-- /Organizer -->

      <!-- Notify by -->
      <div class="d-flex">
        <v-sheet width="48">
          <bell-icon size="20" color="#5f6368" />
        </v-sheet>

        <div class="flex-1">
          <v-radio-group
            v-model="eventCreateModel.notify_via"
            mandatory
            row
            hide-details
            class="mt-0 pt-0"
          >
            <v-radio value="push">
              <template #label>
                <span class="font-500 text-dark">{{$t('event-calendar.components.system-notifications')}}</span>
              </template>
            </v-radio>

            <v-radio value="sms">
              <template #label>
                <span class="font-500 text-dark">SMS</span>
              </template>
            </v-radio>
          </v-radio-group>
        </div>
      </div>
      <!-- /Notify by -->
    </div>

    <div
      class="border-top text-right py-3 px-5 mt-5 p-sticky bg-white z-index"
      style="bottom: 0"
    >
      <template v-if="mode === 'create'">
        <app-button
          min-width="85"
          small
          text
          color="error"
          class="mr-2"
          @click="$emit('emit:close')"
        >
          {{$t('event-calendar.components.cancel')}}
        </app-button>

        <app-button
          min-width="85"
          small
          @click="createEvent"
        >
          {{$t('event-calendar.components.create')}}
        </app-button>
      </template>

      <template v-else>
        <template v-if="eventCreateModel.status !== 'canceled'">
          <v-btn
            depressed
            small
            color="error"
            @click="$emit('emit:cancel')"
          >
            {{$t('event-calendar.components.cancel-event')}}
          </v-btn>
        </template>

<!--        <template v-else>-->
<!--          <v-btn-->
<!--            depressed-->
<!--            small-->
<!--            color="warning"-->
<!--            @click="$emit('emit:progress')"-->
<!--          >-->
<!--            {{$t('event-calendar.components.resume-event')}}-->
<!--          </v-btn>-->
<!--        </template>-->

        <v-btn
          depressed
          small
          color="primary"
          class="ml-3"
          @click="$emit('emit:save')"
        >
          {{$t('event-calendar.components.save')}}
        </v-btn>
      </template>
    </div>
  </div>
</template>

<script>
import FileUpload from "@/common/components/FileUpload";
import UsersList from "@/common/components/UsersList";

import { generateDayHours } from "@/common/helpers";
import { BellIcon, CalendarIcon, ClockIcon, Edit3Icon, PaperclipIcon, PhoneCallIcon, Trash2Icon, UserIcon, UsersIcon, VideoIcon } from "vue-feather-icons";
import { required, requiredIf } from "vuelidate/lib/validators";
import { mapActions, mapGetters, mapMutations, mapState } from "vuex";

export default {
  name: "EventUpdate",
  props: {
    conferenceId: {
      type: [String, Number]
    },
    mode: {
      type: String,
      default: "create",
      validator(value) {
        return ["create", "edit"].includes(value)
      }
    }
  },
  components: {
    FileUpload,
    UsersList,
    CalendarIcon,
    ClockIcon,
    VideoIcon,
    PhoneCallIcon,
    UsersIcon,
    Edit3Icon,
    PaperclipIcon,
    UserIcon,
    BellIcon,
    Trash2Icon
  },
  data() {
    return {
      memberParams: null,
      roomTypes: [
        {
          title: this.$t('event-calendar.components.big-hall'),
          value: "big_hall",
          conference: {}
        },
        {
          title: this.$t('event-calendar.components.small-hall'),
          value: "small_hall",
          conference: {}
        },
      ],
      hoursList: generateDayHours(15, 'ru'),
      errorMessageText: null
    }
  },
  validations: {
    eventCreateModel: {
      room: {
        required: requiredIf(function (nestedModel) {
          return this.eventCreateModel.__meeting_type
        })
      },
      __participants: { required },
      __organizer: { required },
    }
  },
  computed: {
    ...mapState({
      eventCreateModel: state => state.gridCalendar.eventCreateModel
    }),
    /*
    *
    * */
    ...mapGetters({
      getDisableItems: "getDisableItems",
    })
  },
  mounted() {
    setTimeout(() => {
      this.watchFields(this.eventCreateModel.__hours)
    }, 1000)
  },
  methods: {
    ...mapMutations({
      UPDATE_CHANGED_DATE: "gridCalendar/UPDATE_CHANGED_DATE"
    }),
    /*
    *
    * */
    ...mapActions({
      setAllDay: "gridCalendar/setAllDay",
      toggleEventDescriptionModal: "gridCalendar/toggleEventDescriptionModal",
      deleteShowedMockEvent: "gridCalendar/deleteShowedMockEvent",
      showMockEvent: "gridCalendar/showMockEvent",
    }),
    /*
    *
    * */
    createEvent() {
      this.$v.$touch()

      if (this.$v.$invalid) {
        this.errorMessageText = this.$t('event-calendar.components.required-field')
        return;
      }

      this.$emit("emit:create")
    },
    /*
    *
    * */
    async updateDate(val) {
      if(this.mode === 'create') {
        this.UPDATE_CHANGED_DATE(val)

        this.toggleEventDescriptionModal(false)
        this.deleteShowedMockEvent()

        await this.showMockEvent({
          date: val,
          title: this.$t('components.untitled'),
          nextTick: this.$nextTick()
        })

        this.eventCreateModel.__hours.calendar_format = val

        setTimeout(() => {
          this.toggleEventDescriptionModal(true)
        }, 500)
      }
    },
    /**
     *
     */
    watchFields(fields) {
      if(fields.start > fields.end) {
        let _end = fields.end

        fields.end = fields.start
        fields.start = _end
      }

      this.checkEvent({
        start: `${fields.calendar_format} ${fields.start}:00`,
        end: `${fields.calendar_format} ${fields.end}:00`
      })
    },
    /*
    *
    * */
    checkEvent({ start, end }) {
      const { addMember } = this.$refs

      this.memberParams = {
        start_date: start,
        end_date: end
      }

      addMember.fetchGetList(this.memberParams)
      this.checkRoomIsBusy(this.memberParams)
    },
    /*
    *
    * */
    checkRoomIsBusy(payload) {
      this.$http.get(`/calendar/rooms/`, {
        params: {
          ...payload,
          conference_id: this.conferenceId ? this.conferenceId : null
        }
      })
        .then(({ data }) => {
          let [ big, small ] = this.roomTypes
          let { big_hall, small_hall } = data

          big.disabled = big_hall.is_busy
          big.conference = big_hall.conference

          small.disabled = small_hall.is_busy
          small.conference = small_hall.conference
        })
    },
  }
}
</script>
