<template>
  <grid-calendar
    :view-only="false"
    load-events
  />
</template>

<script>
import GridCalendar from "@/common/components/GridCalendar";

export default {
	name: "EventCalendar",
	components: {
		GridCalendar
	}
}
</script>
