<template>
  <div class="task-view flex-1 d-flex flex-column">
    <div class="flex-1 px-6">
      <!-- Set dates -->
      <div class="d-flex mb-6">
        <v-sheet width="48">
          <calendar-icon size="20" color="#5f6368" />
        </v-sheet>

        <div class="flex-1">
          <app-date-picker
            v-model="changedDate"
            has-format
            with-input
            dense
            background-color="var(--input-bg)"
            @emit:up="updateDate"
          />

<!--          <v-row no-gutters align="center" class="mt-4">-->
<!--            <v-col md="5">-->
<!--              <div class="app-input app-input__small">-->
<!--                <v-select-->
<!--                  v-model="taskCreateModel.__start_hour"-->
<!--                  :items="hoursList"-->
<!--                  item-text="time"-->
<!--                  item-value="time"-->
<!--                  outlined-->
<!--                  dense-->
<!--                  hide-details-->
<!--                  background-color="var(&#45;&#45;input-bg)"-->
<!--                  placeholder="09:00"-->
<!--                >-->
<!--                  <template #append>-->
<!--                    <v-icon>mdi-chevron-down</v-icon>-->
<!--                  </template>-->
<!--                  <template #prepend-inner>-->
<!--                    <clock-icon size="16" color="#5f6368" class="mt-1 mr-1" />-->
<!--                  </template>-->
<!--                </v-select>-->
<!--              </div>-->
<!--            </v-col>-->
<!--          </v-row>-->
        </div>
      </div>
      <!-- /Set dates -->

      <!-- Description -->
      <div class="d-flex">
        <v-sheet width="48">
          <edit3-icon size="20" color="#5f6368" />
        </v-sheet>

        <div class="flex-1">
          <div class="app-input">
            <v-text-field
              v-model="taskCreateModel.description"
              :placeholder="$t('event-calendar.components.add-description')"
              background-color="var(--input-bg)"
              outlined
              dense
              hide-details
            />
          </div>
          <!--        <quill-editor :options="editorBasicOptions" class="editor-height-stripe" />-->
        </div>
      </div>
      <!-- /Description -->
    </div>

    <div
      class="border-top text-right py-3 px-5 mt-5 p-sticky bg-white z-index"
      style="bottom: 0"
    >
      <app-button
        min-width="85"
        small
        text
        color="error"
        class="mr-2"
        @click="$emit('emit:close')"
      >
        {{$t('event-calendar.components.cancel')}}
      </app-button>

      <app-button
        color="warning"
        min-width="85"
        small
        @click="createEvent"
      >
      {{$t('event-calendar.components.create')}}
      </app-button>
    </div>
  </div>
</template>

<script>
import { generateDayHours } from "@/common/helpers"
import { CalendarIcon, ClockIcon, Edit3Icon } from "vue-feather-icons"
import { mapActions, mapGetters, mapMutations, mapState } from "vuex"

export default {
  name: "TaskView",
  components: {
    ClockIcon,
    Edit3Icon,
    CalendarIcon
  },
  data() {
    return {
      isAllDay: false,
      addHoursRowVisible: false,
      hoursList: generateDayHours(15, 'ru'),
    }
  },
  computed: {
    ...mapState({
      taskCreateModel: state => state.gridCalendar.taskCreateModel
    }),
    /*
    *
    * */
    ...mapGetters({
      getChangedDate: "gridCalendar/getChangedDate",
      getEventsList: "gridCalendar/getEventsList",
      getMergedEventsList: "gridCalendar/getMergedEventsList",
    }),
    /*
    *
    * */
    changedDate: {
      get() {
        return this.getChangedDate
      },
      set(value) {
        return value
      }
    },
  },
  methods: {
    ...mapMutations({
      UPDATE_CHANGED_DATE: "gridCalendar/UPDATE_CHANGED_DATE"
    }),
    /*
    *
    * */
    ...mapActions({
      toggleEventDescriptionModal: "gridCalendar/toggleEventDescriptionModal",
      showMockEvent: "gridCalendar/showMockEvent",
      deleteShowedMockEvent: "gridCalendar/deleteShowedMockEvent",
    }),
    /*
    *
    * */
    async updateDate(val) {
      this.UPDATE_CHANGED_DATE(val)

      this.toggleEventDescriptionModal(false)
      this.deleteShowedMockEvent()

      await this.showMockEvent({
        date: val,
        title: this.$t('components.untitled'),
        nextTick: this.$nextTick()
      })

      setTimeout(() => {
        this.toggleEventDescriptionModal(true)
      }, 500)
    },
    /*
    *
    * */
    createEvent() {
      this.$emit("emit:create", this.taskCreateModel)
    }
  }
}
</script>
