<template>
	<div class="document-create-form-view">
		<component
			:is="is"
		/>
	</div>
</template>

<script>
import ActBase from "./components/Act/UnivesalActInvoice/ActBase.vue";
import PowerOfAttorneyRoamingBase from "./components/PowerOfAttorney/Rouming/PowerOfAttorneyRoamingBase.vue";
import StandardActBase from "./components/Act/StandardAct/StandardActBase.vue";
import UniversalVatInvoice from "./components/UniversalVatInvoice";

export default {
	name: "CreateForm",
	components: {
		ActBase,
		PowerOfAttorneyRoamingBase,
		StandardActBase,
		UniversalVatInvoice
	},
	computed: {
		is(){
			let is = null;
			switch (this.$route.params.type){
				case "universal_vat_invoice":
					is = "UniversalVatInvoice"
					break;
				case "universal_act_invoice":
					is = "ActBase"
					break;
				case "standard_act":
					is = "StandardActBase"
					break;
				case "power_of_attorney_roaming":
					is = "PowerOfAttorneyRoamingBase"
					break;
				default:
					is = "UniversalVatInvoice"
			}
			return is
		}
	}
}
</script>

<style scoped>

</style>
