<template>
  <app-card-wrapper title="submit-application" :show-title-action="false" content-scrollable>
    <template #titleIcon>
      <v-icon color="primary" size="22" class="mr-2">$vuetify.icons.PlusIcon</v-icon>
    </template>

    <template #cardBody>
      <div
        class="d-flex flex-wrap overflow-y-auto pa-4"
        style="align-content: baseline; grid-gap: 6px"
        :style="breakpointName === 'xl' ? 'height: 173px' : 'height: 152px'"
      >
        <router-link
          :to="{ name: 'SendingDocumentsCreateApplication', query: { name: 'vacation' } }"
          class="d-block text-decoration-none"
          style="width: calc(50% - 3px)"
        >
          <v-alert
            dense
            text
            color="primary"
            class="mb-0"
          >
            <div class="d-flex align-center justify-center py-1">
              <v-icon color="primary" size="18" class="mr-1">$vuetify.icons.PlusIcon</v-icon>
              <span class="small-3 font-500">{{ $t('document-flow.views.send-document.labor-leave') }}</span>
            </div>
          </v-alert>
        </router-link>

        <router-link
          :to="{ name: 'SendingDocumentsCreateApplication', query: { name: 'study_leave' } }"
          class="d-block text-decoration-none"
          style="width: calc(50% - 3px)"
        >
          <v-alert
            dense
            text
            color="primary"
            class="mb-0"
          >
            <div class="d-flex align-center justify-center py-1">
              <v-icon color="primary" size="18" class="mr-1">$vuetify.icons.PlusIcon</v-icon>
              <span class="small-3 font-500">{{ $t('document-flow.views.send-document.study-leave') }}</span>
            </div>
          </v-alert>
        </router-link>

        <router-link
          :to="{ name: 'SendingDocumentsCreateApplication', query: { name: 'unpaid_leave' } }"
          class="d-block text-decoration-none"
          style="width: calc(50% - 3px)"
        >
          <v-alert
            dense
            text
            color="primary"
            class="mb-0"
          >
            <div class="d-flex align-center justify-center py-1">
              <v-icon color="primary" size="18" class="mr-1">$vuetify.icons.PlusIcon</v-icon>
              <span class="small-3 font-500">{{ $t('document-flow.views.send-document.unpaid-vacation') }}</span>
            </div>
          </v-alert>
        </router-link>

        <router-link
          :to="{ name: 'SendingDocumentsCreateApplication', query: { name: 'trip' } }"
          class="d-block text-decoration-none"
          style="width: calc(50% - 3px)"
        >
          <v-alert
            dense
            text
            color="primary"
            class="mb-0"
          >
            <div class="d-flex align-center justify-center py-1">
              <v-icon color="primary" size="18" class="mr-1">$vuetify.icons.PlusIcon</v-icon>
              <span class="small-3 font-500">{{ $t('document-flow.views.send-document.business-trip') }}</span>
            </div>
          </v-alert>
        </router-link>

        <router-link
          :to="{ name: 'SendingDocumentsCreateApplication', query: { name: 'one_time_bonus' } }"
          class="d-block text-decoration-none"
          style="width: calc(50% - 3px)"
        >
          <v-alert
            dense
            text
            color="primary"
            class="mb-0"
          >
            <div class="d-flex align-center justify-center py-1">
              <v-icon color="primary" size="18" class="mr-1">$vuetify.icons.PlusIcon</v-icon>
              <span class="small-3 font-500">{{ $t("bonus-text") }}</span>
            </div>
          </v-alert>
        </router-link>

        <router-link
          :to="{ name: 'SendingDocumentsCreateApplication' }"
          class="d-block text-decoration-none"
          style="width: calc(50% - 3px)"
        >
          <v-alert
            dense
            text
            color="primary"
            class="mb-0"
          >
            <div class="d-flex align-center justify-center py-1">
              <v-icon color="primary" size="18" class="mr-1">$vuetify.icons.PlusIcon</v-icon>
              <span class="small-3 font-500">{{ $t("all-applications") }}</span>
            </div>
          </v-alert>
        </router-link>
      </div>
    </template>
  </app-card-wrapper>
</template>

<script>
import { mapState } from "vuex";

export default {
	name: "Application",
  computed: {
    ...mapState({
      breakpointName: state => state.breakpointName,
    }),
  }
}
</script>
