<template>
  <app-card-wrapper title="dashboard.components.birthdays-today" content-scrollable>
    <template #titleIcon>
      <v-icon size="16" color="primary" class="mr-2">{{ "$vuetify.icons.CakeIcon" }}</v-icon>
    </template>

    <template #titleAction>
      <button-navigation
        :icons="[
          {
            text: $t('dashboard.components.birthdays-today'),
            icon: '$vuetify.icons.CakeIcon'
          },
          {
          	text: $t('congratulations'),
          	icon: '$vuetify.icons.CrownIcon'
          }
        ]"
        @emit:up="handleSelect"
      />
    </template>

    <template #cardBody>
      <template v-if="tab === 0">
        <birthday-users is-make-birthday />
      </template>

      <template v-if="tab === 1">
<!--        <birthday-users-->
<!--          api-url="/dashboard/v2/bday-congratulations/"-->
<!--          :api-params="{-->
<!--            bday_user: currentUser.id-->
<!--          }"-->
<!--        />-->
        <congratulations-birthday />
      </template>
    </template>
  </app-card-wrapper>
</template>

<script>
import { mapGetters } from "vuex"

import ButtonNavigation from "@/modules/Dashboard/components/ButtonNavigation"
import BirthdayUsers from "@/modules/Dashboard/components/BirthdayUsers"
import CongratulationsBirthday from "@/modules/Dashboard/components/CongratulationsBirthday"

export default {
  name: "Birthday",
  components: {
    ButtonNavigation,
    BirthdayUsers,
    CongratulationsBirthday
  },
  data() {
    return {
      tab: 0,
    }
  },
  computed: {
    ...mapGetters({
      currentUser: "auth/getCurrentUser",
    })
  },
  methods: {
    handleSelect(value) {
      this.tab = value
    },
  }
}
</script>
