<template>
	<div class="w-100">
    <template v-if="loading">
      <app-loader component-based />
    </template>

    <template v-else>
      <infinite-scroll-container
        :items="list"
        :height="154"
        :list-loaded="listLoaded"
        class="mt-4 px-4 w-100 p-relative"
        @emit:up="handlePageScroll"
      >
        <template v-slot:default="{ item }">
          <user-item
            :color="item.color"
            :cisco="item.cisco"
            :first-name="item.first_name"
            :last-name="item.last_name"
            :father-name="item.father_name"
            :top-level-dep-name="item.top_level_dept_name"
            :filial-name="item.filial_name"
          >
            <template #action>
              <template v-if="isMakeBirthday">
                <v-list-item-action>
                  <v-btn
                    ref="confettiButton"
                    :loading="item.__birthdayLoading"
                    width="32"
	                  min-width="32"
                    height="32"
                    depressed
                    :color="item.is_congratulated ? 'var(--primary-1)' : 'var(--primary-1-light)'"
                    class="rounded-lg d-flex align-center justify-center pointer"
                    @click="makeBirthday(item)"
                  >
                    <v-icon size="16">{{ "$vuetify.icons.PartyIcon" }}</v-icon>
                  </v-btn>
                </v-list-item-action>
              </template>
            </template>
          </user-item>
        </template>
      </infinite-scroll-container>
    </template>

    <canvas id="canvas" class="p-absolute w-100 h-100" style="z-index: 1; top: 0"></canvas>
	</div>
</template>

<script>
import UserItem from "@/common/components/UserItem"
import InfiniteScrollContainer from "@/common/components/InfiniteScrollContainer"
import confetti from "canvas-confetti"
import { mapActions, mapGetters } from "vuex";
export default {
	name: "BirthdayUsers",
	props: {
		apiUrl: {
			type: String,
			default: "/dashboard/born-in-today/"
		},
		/*
		*
		* */
		apiParams: {
			type: Object,
			default: () => {}
		},
		/*
		*
		* */
		isMakeBirthday: {
			type: Boolean,
			default: false
		}
	},
	components: {
		UserItem,
		InfiniteScrollContainer
	},
	data() {
		return {
			list: [],
			loading: true,
			listLoaded: false,
		}
	},
	computed: {
		...mapGetters({
			currentUser: "auth/getCurrentUser",
		})
	},
  mounted() {
	  this.initGetList()
  },
	methods: {
    ...mapActions({
      fetchCurrentUserBirthday: "fetchCurrentUserBirthday"
    }),
    /*
    *
    * */
		initGetList() {
			this.loading = true

			this.getList({
				page: 1
			})
			.finally(() => {
				this.loading = false
			})
		},
		/*
		*
		* */
		getList(params) {
			return new Promise((resolve, reject) => {
				this.$http.get(this.apiUrl, {
					params: {
						page: params.page,
						...this.apiParams
					}
				})
				.then(({ data }) => {
					if(!data.results.length) {
						this.listLoaded = true
					}

          let model = data.results.map(item => {
            return {
              ...item,
              __birthdayLoading: false
            }
          }).filter(user => user?.id !== 9811);

					this.list.push(...model)

          let birthdayBoy = this.list.find(user => user.id === this.currentUser.id)

          if(birthdayBoy && Object.keys(birthdayBoy).length) {
            this.fetchCurrentUserBirthday(true)
          }

          resolve()
				})
			})
		},
		/*
		*
		* */
		handlePageScroll(value) {
			this.getList({
				page: value
			})
		},
		/*
		*
		* */
		makeBirthday(item) {
      item.__birthdayLoading = true

      this.$axios.post(`/dashboard/v2/bday-congratulations/`, {
				bday_user: item.id
			})
			.then(() => {
        let canvasContainer = document.querySelector("canvas")

        let confettiInstance = confetti.create(canvasContainer, {
          resize: true,
          useWorker: true
        })

        confettiInstance({
          particleCount: 450,
          spread: 60,
          origin: { y: 2 }
        })

        let congratulationUser = this.list.find(user => user.id === item.id)

        congratulationUser.is_congratulated = true
      })
      .finally(() => {
        item.__birthdayLoading = false
      })
		}
	}
}
</script>
