<template>
  <div class="button-navigations d-flex">
    <template v-for="(item, index) in icons">
      <app-tooltip top>
        <template #content>
          <v-sheet
            width="32"
            height="24"
            class="d-flex flex-column align-center pointer"
            :class="{ 'active' : currentSelect === index }"
            @click="handleSelect(index)"
          >
            <v-icon size="16" :color="currentSelect === index ? 'primary' : ''">{{ item.icon }}</v-icon>

            <div
              class="w-100 mt-auto"
              :style="{ 'background' : currentSelect === index ? 'var(--primary-1)' : 'var(--primary-1-light)' }"
              style="height: 2px"
            ></div>
          </v-sheet>
        </template>

        <template #text>
          {{ item.text }}
        </template>
      </app-tooltip>
    </template>
  </div>
</template>

<script>
export default {
	name: "ButtonNavigation",
  props: {
		icons: {
			type: Array,
      default: () => []
    }
  },
  data() {
		return {
		  currentSelect: 0
    }
  },
  methods: {
		handleSelect(index) {
			this.currentSelect = index

      this.$emit("emit:up", this.currentSelect)
		}
  }
}
</script>
