<template>
  <div class="w-100">
    <template v-if="congratulationsLoading">
      <app-loader component-based />
    </template>

    <template v-else>
      <infinite-scroll-container
        :items="congratulationsList"
        :height="154"
        :list-loaded="congratulationsLoaded"
        class="mt-4 px-4 w-100"
        @emit:up="congratulationsPageScroll"
      >
        <template v-slot:default="{ item }">
          <user-item
            :color="item.created_by.color"
            :cisco="item.created_by.cisco"
            :first-name="item.created_by.first_name"
            :last-name="item.created_by.last_name"
            :father-name="item.created_by.father_name"
            :top-level-dep-name="item.created_by.top_level_dept_name"
            :filial-name="item.created_by.filial_name"
          >
          </user-item>
        </template>
      </infinite-scroll-container>
    </template>
  </div>
</template>

<script>
import UserItem from "@/common/components/UserItem"
import InfiniteScrollContainer from "@/common/components/InfiniteScrollContainer"
import { mapGetters } from "vuex";
export default {
  name: "CongratulationsBirthday",
  components: {
    UserItem,
    InfiniteScrollContainer
  },
  data() {
    return {
      congratulationsList: [],
      congratulationsLoading: true,
      congratulationsLoaded: false,
    }
  },
  computed: {
    ...mapGetters({
      currentUser: "auth/getCurrentUser",
    })
  },
  mounted() {
    this.initCongratulationsList()
  },
  methods: {
    initCongratulationsList() {
      this.congratulationsLoading = true

      this.getCongratulationsList({
        page: 1
      })
      .finally(() => {
        this.congratulationsLoading = false
      })
    },
    /*
    *
    * */
    getCongratulationsList(params) {
      return new Promise((resolve, reject) => {
        this.$http.get(`/dashboard/v2/bday-congratulations/`, {
          params: {
            page: params.page,
            bday_user: this.currentUser.id
          }
        })
        .then(({ data }) => {
          if(!data.results.length) {
            this.congratulationsLoaded = true
          }

          this.congratulationsList.push(...data.results)
          resolve()
        })
      })
    },
    /*
    *
    * */
    congratulationsPageScroll(value) {
      this.getCongratulationsList({
        page: value
      })
    },
    /*
    *
    * */
  }
}
</script>
