<template>
  <app-card-wrapper title="contacts" content-scrollable>
    <template #titleIcon>
      <v-icon size="16" color="primary" class="mr-2">{{ "$vuetify.icons.BookSavedIcon" }}</v-icon>
    </template>

    <template #titleAction>
      <button-navigation
        :icons="[
          {
            text: $t('contacts'),
            icon: '$vuetify.icons.SaveIcon'
          },
          {
          	text: $t('favorites'),
          	icon: '$vuetify.icons.SaveAddIcon'
          }
        ]"
        @emit:up="handleSelect"
      />
    </template>

    <template #cardBody>
      <template v-if="tab === 0">
        <template v-if="loading">
          <app-loader component-based />
        </template>

        <template v-else>
          <infinite-scroll-container
            :items="list"
            :height="(breakpointName === 'lg' || breakpointName === 'md') ? 570 : (breakpointName === 'sm' || breakpointName === 'xs') ? 289 : 185"
            :list-loaded="listLoaded"
            class="mt-4 px-4 w-100"
            @emit:up="handlePageScroll"
          >
            <template v-slot:default="{ item }">
              <user-item
                :color="item.color"
                :cisco="item.cisco"
                :first-name="item.first_name"
                :last-name="item.last_name"
                :father-name="item.father_name"
              >
                <template #subtitle>
                  <span class="text--dark-opacity tiny font-500 ml-2 text-truncate">{{ item.position }}</span>
                </template>

<!--                <template #action>-->
<!--                  <v-list-item-action>-->
<!--                    <v-btn-->
<!--                      color="primary"-->
<!--                      icon-->
<!--                      plain-->
<!--                      min-width="30"-->
<!--                      width="30"-->
<!--                      height="30"-->
<!--                    >-->
<!--                      <v-icon size="20">{{ "$vuetify.icons.MessageIcon" }}</v-icon>-->
<!--                    </v-btn>-->
<!--                  </v-list-item-action>-->
<!--                </template>-->
              </user-item>
            </template>
          </infinite-scroll-container>
        </template>
      </template>

      <template v-if="tab === 1">
        <div class="d-flex align-center justify-center w-100 pb-4">
          <h3 class="font-500 small-1">На стадии разработки</h3>
        </div>
      </template>
    </template>
  </app-card-wrapper>
</template>

<script>
import { mapGetters, mapState } from "vuex"
import ButtonNavigation from "@/modules/Dashboard/components/ButtonNavigation"
import InfiniteScrollContainer from "@/common/components/InfiniteScrollContainer"
import UserItem from "@/common/components/UserItem"

export default {
  name: "DepartmentUsers",
  components: {
    ButtonNavigation,
    InfiniteScrollContainer,
    UserItem
  },
  data() {
    return {
      tab: 0,
      loading: true,
      list: [],
      listLoaded: false
    }
  },
  computed: {
    ...mapState({
      breakpointName: state => state.breakpointName,
    }),
    /*
    *
    * */
    ...mapGetters({
      currentUser: "auth/getCurrentUser",
    })
  },
  mounted() {
    this.initGetList()
  },
  methods: {
    initGetList() {
      this.loading = true

      this.getList({
        page: 1
      })
      .finally(() => {
        this.loading = false
      })
    },
    /*
    *
    * */
    getList(params) {
      return new Promise((resolve, reject) => {
        this.$http.get(`/dashboard/${this.currentUser.filial}/my-departament-users/${this.currentUser.top_level_dept}/`, {
          params: {
            page: params.page
          }
        })
        .then(({ data }) => {
          if(!data.results.length) {
            this.listLoaded = true
          }

          this.list.push(...data.results)
          resolve()
        })
      })
    },
    /*
    *
    * */
    handlePageScroll(value) {
      this.getList({
        page: value
      })
    },
    /*
    *
    * */
    handleSelect(value) {
      this.tab = value
    },
  }
}
</script>
