<template>
  <app-card-wrapper title="links">
    <template #titleIcon>
      <v-icon size="16" color="primary" class="mr-2">{{ "$vuetify.icons.LinkIcon" }}</v-icon>
    </template>

    <template #cardBody>
      <template v-if="loading">
        <app-loader component-based />
      </template>

      <template v-else>
        <div class="services-carousel w-100 overflow-hidden">
          <carousel
            :autoplay="true"
            :autoplayHoverPause="false"
            :autoplayTimeout="3000"
            :loop="true"
            :navigationNextLabel="''"
            :navigationPrevLabel="''"
            :paginationEnabled="false"
            :perPage="3"
            :speed="1000"
            style="width: calc(100% + 17px); margin-right: -17px"
          >
            <slide v-for="(service, index) in services" :key="index">
              <div class="service w-100 pointer text-center d-flex flex-column align-center h-100 p-relative" @click="() => openModal(service)">
                <img
                  :src="(service.image && service.image.url) || '/img/logo_asaka_4.png'"
                  alt="Asakabank service"
                  class="mb-2"
                />

                <h4 class="small-3 font-500 text-dark-grey text-center mt-auto">
                  {{ service.name }}
                </h4>
              </div>
            </slide>
          </carousel>
        </div>

        <v-dialog v-model="dialog" max-width="500px">
          <v-card>
            <v-card-title>{{ currentService.name }}</v-card-title>
            <v-card-text>{{ currentService.description }}</v-card-text>
            <v-card-text v-if="!currentService.is_app">
              <v-btn color="primary" depressed dark @click="openService">
                {{$t('dashboard.components.go-service')}}
              </v-btn>
            </v-card-text>
            <v-card-actions
              class="d-flex"
              style="justify-content: flex-end; padding: 0 24px 20px 24px"
            >
              <v-btn color="primary" text @click="closeModal">{{$t('dashboard.components.close')}}</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </template>
    </template>
  </app-card-wrapper>
</template>

<script>
import { Carousel, Slide } from "vue-carousel"

export default {
	name: "Services",
  components: {
	  Carousel,
    Slide
  },
  data() {
		return {
			currentService: {},
			dialog: false,
			loading: true,
			services: [],
    }
  },
	mounted() {
		this.getServices();
	},
	methods: {
		getServices() {
			this.loading = true

			this.$http.get("/service/apps/", {
				params: {
					page_size: 50
				}
			})
			.then(({ data }) => {
				this.services = data.results;
			})
			.finally(() => {
				this.loading = false
			});
		},
    /*
    *
    * */
		openModal(service) {
			this.currentService = service;
			this.dialog = !this.dialog;
		},
		/*
    *
    * */
		closeModal() {
			this.dialog = !this.dialog;
		},
		/*
    *
    * */
		openService() {
			this.dialog = !this.dialog;
			window.open(this.currentService.link, "_blank");
		},
	},
}
</script>

<style>
.service img {
  max-height: 45px;
  max-width: 100px;
}
</style>
