<template>
  <app-card-wrapper title="document-flow.views.registration.status">
    <template #titleIcon>
      <v-icon size="16" color="primary" class="mr-2">{{ "$vuetify.icons.VerifyIcon" }}</v-icon>
    </template>

    <template #titleAction>
      <button-navigation
        :icons="[
					{
            icon: '$vuetify.icons.TaskSquareIcon',
            text: $t('document-flow.views.boxes.assignment')
          },
          {
            icon: '$vuetify.icons.ClipboardTextIcon',
            text: $t('document-flow.views.boxes.for-consideration')
          }
        ]"
        @emit:up="handleAction"
      />
    </template>

    <template #cardBody>
      <template v-if="tab === 0">
	      <template v-if="statusLoading">
		      <app-loader full-width></app-loader>
	      </template>

	      <template v-else>
		      <div
			      class="d-flex w-100 rounded-lg overflow-hidden flex-wrap"
			      style="grid-gap: 4px"
		      >
			      <router-link
				      :to="{ name: 'InboxIndex', query: { status: 1 } }"
				      class="secondary-1 py-2 px-4 d-flex flex-column text-decoration-none"
				      style="width: calc(50% - 2px)"
			      >
            <span
	            class="size-13 font-500 primary-text"
            >
              {{ $t("document-flow.views.statistics.to-do") }}
            </span>

				      <span class="mt-auto small-1 font-600 text--dark text-right">
              {{ statusCountList.to_do }}
            </span>
			      </router-link>

			      <router-link
				      :to="{ name: 'InboxIndex', query: { status: 7 } }"
				      class="secondary-3 py-2 px-4 d-flex flex-column text-decoration-none"
				      style="width: calc(50% - 2px)"
			      >
				      <span class="size-13 font-500 warning-text">{{ $t("components.on-review") }}</span>
				      <span class="mt-auto small-1 font-600 text--dark text-right">{{ statusCountList.on_review }}</span>
			      </router-link>

			      <router-link
				      :to="{ name: 'InboxIndex', query: { status: 6 } }"
				      class="secondary-4 py-2 px-4 d-flex flex-column text-decoration-none"
				      style="width: calc(50% - 2px)"
			      >
				      <span class="size-13 font-500 error-text">{{ $t("cancels") }}</span>
				      <span class="mt-auto small-1 font-600 text--dark text-right">{{ statusCountList.cancel }}</span>
			      </router-link>

			      <router-link
				      :to="{ name: 'InboxIndex', query: { status: 4 } }"
				      class="secondary-2 py-2 px-4 d-flex flex-column text-decoration-none"
				      style="width: calc(50% - 2px)"
			      >
				      <span class="size-13 font-500 success-text">{{ $t("components.completed") }}</span>
				      <span class="mt-auto small-1 font-600 text--dark text-right">{{ statusCountList.done }}</span>
			      </router-link>
		      </div>
	      </template>
      </template>

      <template v-if="tab === 1">
	      <template v-if="statusReviewLoading">
		      <app-loader full-width></app-loader>
	      </template>

	      <template v-else>
		      <div
			      class="d-flex w-100 rounded-lg overflow-hidden flex-wrap"
			      style="grid-gap: 4px"
		      >
			      <router-link
				      :to="{ name: 'ReviewIndex', query: { status: 1 } }"
				      class="secondary-1 py-2 px-4 d-flex flex-column text-decoration-none"
				      style="width: calc(50% - 2px)"
			      >
              <span class="size-13 font-500 primary-text">
                {{ $t("document-flow.views.statistics.to-do") }}
              </span>

				      <span class="mt-auto small-1 font-600 text--dark text-right">
                {{ statusReviewList.to_do }}
              </span>
			      </router-link>

			      <router-link
				      :to="{ name: 'ReviewIndex', query: { status: 7 } }"
				      class="secondary-3 py-2 px-4 d-flex flex-column text-decoration-none"
				      style="width: calc(50% - 2px)"
			      >
				      <span class="size-13 font-500 warning-text">{{ $t("components.on-review") }}</span>
				      <span class="mt-auto small-1 font-600 text--dark text-right">{{ statusReviewList.on_review }}</span>
			      </router-link>

			      <router-link
				      :to="{ name: 'ReviewIndex', query: { status: 6 } }"
				      class="secondary-4 py-2 px-4 d-flex flex-column text-decoration-none"
				      style="width: calc(50% - 2px)"
			      >
				      <span class="size-13 font-500 error-text">{{ $t("cancels") }}</span>
				      <span class="mt-auto small-1 font-600 text--dark text-right">{{ statusReviewList.cancel }}</span>
			      </router-link>

			      <router-link
				      :to="{ name: 'ReviewIndex', query: { status: 4 } }"
				      class="secondary-2 py-2 px-4 d-flex flex-column text-decoration-none"
				      style="width: calc(50% - 2px)"
			      >
				      <span class="size-13 font-500 success-text">{{ $t("components.completed") }}</span>
				      <span class="mt-auto small-1 font-600 text--dark text-right">{{ statusReviewList.done }}</span>
			      </router-link>
		      </div>
	      </template>
      </template>
    </template>
  </app-card-wrapper>
</template>

<script>
import { mapState } from "vuex";
import ButtonNavigation from "@/modules/Dashboard/components/ButtonNavigation.vue";

export default {
  name: "Statuses",
  components: { ButtonNavigation },
  data() {
    return {
      statusCountList: null,
      statusLoading: true,
      tab: 0,
      statusReviewList: [],
      statusReviewLoading: true
    }
  },
  computed: {
    ...mapState({
      breakpointName: state => state.breakpointName,
    }),
  },
  created() {
    this.getStatusList()
    this.getReviewStatusList()
  },
  methods: {
    getStatusList() {
      this.statusLoading = true

      this.$http.get(`/dashboard/v2/docflow-counts-by-status/`)
      .then(({ data }) => {
        this.statusCountList = data
      })
      .finally(() => {
        this.statusLoading = false
      })
    },
    /*
    *
    * */
    getReviewStatusList() {
      this.statusReviewLoading = true

      this.$http.get(`/dashboard/v2/docflow-forreview-counts-by-status/`)
      .then(({ data }) => {
        this.statusReviewList = data
      })
      .finally(() => {
        this.statusReviewLoading = false
      })
    },
    /*
    *
    * */
    handleAction(value) {
      this.tab = value
    },
  }
}
</script>
