<template>
  <app-card-wrapper>
    <template #cardHeader>
      <button-navigation
        :icons="[
          {
            icon: '$vuetify.icons.DirectInboxIcon',
            text: $t('document-flow.views.statistics.incoming')
          },
          {
            icon: '$vuetify.icons.DirectSendIcon',
            text: $t('document-flow.views.statistics.outgoing')
          },
        ]"
        @emit:up="handleAction"
      />
    </template>

    <template #titleAction>
      <app-tooltip top>
        <template #content>
          <v-sheet width="56" height="36" class="d-flex justify-center" style="border-left: 1px solid var(--border-color)">
            <v-icon size="16" class="mt-1">{{ "$vuetify.icons.DirectNotifyIcon" }}</v-icon>
          </v-sheet>
        </template>

        <template #text>
          {{ $t("new-coming-documents") }}
        </template>
      </app-tooltip>

      <app-tooltip top>
        <template #content>
          <v-sheet width="56" height="36" class="d-flex justify-center" style="border-left: 1px solid var(--border-color)">
            <v-icon size="16" class="mt-1">{{ "$vuetify.icons.DirectNormalIcon" }}</v-icon>
          </v-sheet>
        </template>

        <template #text>
          {{ $t("document-flow.views.registration.in-progress") }}
        </template>
      </app-tooltip>

      <app-tooltip top>
        <template #content>
          <v-sheet width="56" height="36" class="d-flex justify-center" style="border-left: 1px solid var(--border-color)">
            <v-icon size="16" class="mt-1">{{ "$vuetify.icons.DirectIcon" }}</v-icon>
          </v-sheet>
        </template>

        <template #text>
          {{ $t("dashboard.components.all-documents") }}
        </template>
      </app-tooltip>
    </template>

    <template #cardBody>
      <template v-if="tab === 0">
        <template v-if="loadingIncoming">
          <app-loader full-width />
        </template>

        <template v-else>
          <div class="w-100 mt-n4">
            <div class="d-flex align-center">
              <v-sheet width="8" height="8" color="success" rounded></v-sheet>
              <span class="size-13 text--dark-opacity ml-4">{{ $t("dashboard.components.in-preview") }}</span>

              <v-spacer />

              <router-link :to="{ name: 'ReviewIndex', query: { is_read: false } }" class="text-decoration-none">
                <v-sheet width="56" height="32" class="d-flex align-center justify-center" style="border-left: 1px solid var(--border-color)">
                  <span class="size-13 font-500" :class="incomingList.review.unread === 0 ? 'text-dark-grey' : ''">{{ incomingList.review.unread }}</span>
                </v-sheet>
              </router-link>

              <router-link :to="{ name: 'ReviewIndex', query: { has_resolution: false } }" class="text-decoration-none">
                <v-sheet width="56" height="32" class="d-flex align-center justify-center" style="border-left: 1px solid var(--border-color)">
                  <span class="size-13 font-500" :class="incomingList.review.not_assigned === 0 ? 'text-dark-grey' : ''">{{ incomingList.review.not_assigned }}</span>
                </v-sheet>
              </router-link>

              <router-link :to="{ name: 'ReviewIndex' }" class="text-decoration-none">
                <v-sheet width="56" height="32" class="d-flex align-center justify-center" style="border-left: 1px solid var(--border-color)">
                  <span class="size-13 font-500" :class="incomingList.review.total === 0 ? 'text-dark-grey' : ''">{{ incomingList.review.total }}</span>
                </v-sheet>
              </router-link>
            </div>

            <div class="d-flex align-center">
              <v-sheet width="8" height="8" color="primary" rounded></v-sheet>
              <span class="size-13 text--dark-opacity ml-4">{{ $t("components.orders") }}</span>

              <v-spacer />

              <router-link :to="{ name: 'InboxIndex', query: { is_read: false } }" class="text-decoration-none">
                <v-sheet width="56" height="32" class="d-flex align-center justify-center" style="border-left: 1px solid var(--border-color)">
                  <span class="size-13 font-500" :class="incomingList.assignment.total === 0 ? 'text-dark-grey' : ''">{{ incomingList.assignment.unread }}</span>
                </v-sheet>
              </router-link>

              <router-link :to="{ name: 'InboxIndex', query: { status: '1,3,6,7' } }" class="text-decoration-none">
                <v-sheet width="56" height="32" class="d-flex align-center justify-center" style="border-left: 1px solid var(--border-color)">
                  <span class="size-13 font-500" :class="incomingList.assignment.total === 0 ? 'text-dark-grey' : ''">{{ incomingList.assignment.unperformed }}</span>
                </v-sheet>
              </router-link>

              <router-link :to="{ name: 'InboxIndex' }" class="text-decoration-none">
                <v-sheet width="56" height="32" class="d-flex align-center justify-center" style="border-left: 1px solid var(--border-color)">
                  <span class="size-13 font-500" :class="incomingList.assignment.total === 0 ? 'text-dark-grey' : ''">{{ incomingList.assignment.total }}</span>
                </v-sheet>
              </router-link>
            </div>

            <div class="d-flex align-center">
              <v-sheet width="8" height="8" color="warning" rounded></v-sheet>
              <span class="size-13 text--dark-opacity ml-4">{{ $t("dashboard.components.sign-documents") }}</span>

              <v-spacer />

              <router-link :to="{ name: 'SignIndex', query: { is_signed: 'unsigned' } }"  class="text-decoration-none">
                <v-sheet width="56" height="32" class="d-flex align-center justify-center" style="border-left: 1px solid var(--border-color)">
                  <span class="size-13 font-500" :class="incomingList.signature.to_sign === 0 ? 'text-dark-grey' : ''">{{ incomingList.signature.to_sign }}</span>
                </v-sheet>
              </router-link>

              <router-link :to="{ name: 'SignIndex', query: { is_signed: 'unsigned' } }" class="text-decoration-none">
                <v-sheet width="56" height="32" class="d-flex align-center justify-center" style="border-left: 1px solid var(--border-color)">
                  <span class="size-13 font-500" :class="incomingList.signature.to_sign === 0 ? 'text-dark-grey' : ''">{{ incomingList.signature.to_sign }}</span>
<!--                  <span class="size-13 font-500" :class="incomingList.signature.signed === 0 ? 'text-dark-grey' : ''">{{ incomingList.signature.signed }}</span>-->
                </v-sheet>
              </router-link>

              <router-link :to="{ name: 'SignIndex' }" class="text-decoration-none">
                <v-sheet width="56" height="32" class="d-flex align-center justify-center" style="border-left: 1px solid var(--border-color)">
                  <span class="size-13 font-500" :class="incomingList.signature.total === 0 ? 'text-dark-grey' : ''">{{ incomingList.signature.total }}</span>
                </v-sheet>
              </router-link>
            </div>

            <div class="d-flex align-center">
              <v-sheet width="8" height="8" color="#A8A9BA" rounded></v-sheet>
              <span class="size-13 text--dark-opacity ml-4">{{ $t("dashboard.components.approval") }}</span>

              <v-spacer />

              <router-link :to="{ name: 'ApprovalIndex', query: { is_agreed: 'unchecked' } }" class="text-decoration-none">
                <v-sheet width="56" height="32" class="d-flex align-center justify-center" style="border-left: 1px solid var(--border-color)">
                  <span class="size-13 font-500" :class="incomingList.agreement.to_agree === 0 ? 'text-dark-grey' : ''">{{ incomingList.agreement.to_agree }}</span>
                  <!--                  <span class="size-13 font-500" :class="incomingList.agreement.agreed === 0 ? 'text-dark-grey' : ''">{{ incomingList.agreement.agreed }}</span>-->
                </v-sheet>
              </router-link>

              <router-link :to="{ name: 'ApprovalIndex', query: { is_agreed: 'unchecked' } }" class="text-decoration-none">
                <v-sheet width="56" height="32" class="d-flex align-center justify-center" style="border-left: 1px solid var(--border-color)">
                  <span class="size-13 font-500" :class="incomingList.agreement.to_agree === 0 ? 'text-dark-grey' : ''">{{ incomingList.agreement.to_agree }}</span>
                </v-sheet>
              </router-link>

              <router-link :to="{ name: 'ApprovalIndex' }" class="text-decoration-none">
                <v-sheet width="56" height="32" class="d-flex align-center justify-center" style="border-left: 1px solid var(--border-color)">
                  <span class="size-13 font-500" :class="incomingList.agreement.total === 0 ? 'text-dark-grey' : ''">{{ incomingList.agreement.total }}</span>
                </v-sheet>
              </router-link>
            </div>
          </div>
        </template>
      </template>

      <template v-if="tab === 1">
        <div class="d-flex align-center justify-center w-100">
          <h3 class="font-500 small-1">На стадии разработки</h3>
        </div>
      </template>
    </template>
  </app-card-wrapper>
</template>

<script>
import ButtonNavigation from "@/modules/Dashboard/components/ButtonNavigation"
import { mapActions } from "vuex";

export default {
  name: "UnreadMessages",
  components: {
    ButtonNavigation
  },
  data() {
    return {
      tab: 0,
      loadingIncoming: true,
      incomingList: null
    }
  },
  created() {
    this.getCountsList()
    this.resetIndexTableFilters()
    this.resetInboxIndexTableFilters()
    this.resetSignIndexTableFilters()
    this.resetApprovalIndexTableFilters()
  },
  methods: {
    ...mapActions({
      resetIndexTableFilters: "documentFlowBoxesReview/resetIndexTableFilters",
      resetInboxIndexTableFilters: "documentFlowBoxesInbox/resetIndexTableFilters",
      resetSignIndexTableFilters: "documentFlowBoxesSign/resetIndexTableFilters",
      resetApprovalIndexTableFilters: "documentFlowBoxesApproval/resetIndexTableFilters",
    }),
    /*
    *
    * */
    handleAction(value) {
      this.tab = value
    },
    /*
    *
    * */
    getCountsList() {
      this.loadingIncoming = true

      this.$http.get(`/dashboard/v2/docflow-counts/`)
      .then(({ data }) => {
        this.incomingList = data
      })
      .finally(() => {
        this.loadingIncoming = false
      })
    }
  }
}
</script>
