<template>
  <app-card-wrapper title="upcoming-tasks" content-scrollable>
    <template #titleIcon>
      <v-icon size="16" color="primary" class="mr-2">{{ "$vuetify.icons.BookSavedIcon" }}</v-icon>
    </template>

	  <template #titleAction>
		  <h3 class="size-13 text-dark-grey">{{ $t("in-week") }}</h3>
	  </template>

	  <template #cardBody>
      <template v-if="loading">
        <app-loader component-based />
      </template>

      <template v-else-if="!controlTasksList.length">
        <div class="d-flex flex-column align-center justify-center w-100">
          <img src="/img/task-empty.svg" alt="Empty task image">
          <h3 class="font-500 small-2 mt-3">{{ $t("upcoming-tasks-empty") }}</h3>
        </div>
      </template>

      <template v-else>
        <infinite-scroll-container
          :items="controlTasksList"
          :height="165"
          :list-loaded="listLoaded"
          class="mt-2 w-100"
          @emit:up="handlePageScroll"
        >
          <template v-slot:default="{ item }">
            <v-list dense class="w-100 py-0">
              <v-list-item-group
                color="primary"
              >
                <v-list-item link :to="{ name: 'Tasks', query: { task: item.id } }" class="border-bottom">
                  <v-list-item-icon class="d-flex align-center mr-4">
                    <h3 class="small-3 ml-2">{{ item.deadline }}</h3>
                  </v-list-item-icon>
                  <v-list-item-content>
                    <v-list-item-title class="d-flex align-center">
                      <v-sheet
                        width="8"
                        height="8"
                        color="primary"
                        class="rounded-circle mr-3"
                      ></v-sheet>

                      <h3 class="small-3 primary-text mr-4">{{ item.doc_type.title }}</h3>

                      <app-tooltip top max-width="400" content-classes="text-truncate flex-1">
                        <template #content>
                          <div class="flex-1 text-truncate">
                            <p class="text-truncate mb-0 small-3 text-dark-grey reset-space" v-html="item.description"></p>
                          </div>
                        </template>

                        <template #text>
                          <p class="mb-0 small-3 reset-space" v-html="item.description"></p>
                        </template>
                      </app-tooltip>
                    </v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </v-list-item-group>
            </v-list>
          </template>
        </infinite-scroll-container>
      </template>
	  </template>
  </app-card-wrapper>
</template>

<script>
import InfiniteScrollContainer from "@/common/components/InfiniteScrollContainer"
export default {
	name: "UpcomingTasks",
	components: {
		InfiniteScrollContainer
	},
	data() {
		return {
			loading: true,
      listLoaded: false,
      controlTasksList: []
		}
	},
  created() {
    this.initGetList()
  },
  methods: {
    initGetList() {
      this.loading = true

      this.getList({
        page: 1
      })
      .finally(() => {
        this.loading = false
      })
    },
    /*
    *
    * */
    getList(params) {
      return new Promise((resolve, reject) => {
        this.$http.get(`/dashboard/v2/my-control-tasks/`, {
          params: {
            page: params.page
          }
        })
        .then(({ data }) => {
          if(!data.results.length) {
            this.listLoaded = true
          }

          this.controlTasksList.push(...data.results)
          resolve()
        })
      })
    },
    /*
    *
    * */
    handlePageScroll(value) {
      this.getList({
        page: value
      })
    },
  }
}
</script>
