<template>
  <app-card-wrapper title="dashboard.components.my-tasks-list" content-scrollable>
    <template #titleIcon>
      <v-icon size="16" color="primary" class="mr-2">{{ "$vuetify.icons.CalendarIcon" }}</v-icon>
    </template>

    <template #titleAction>
      <app-date-picker
        @emit:up="() => currentDayFormat = null"
        v-model="date"
        with-input
        dense
        background-color="var(--input-bg)"
      />

      <v-btn
        icon
        tile
        small
        height="40"
        class="border-all mx-2 rounded"
        @click="prevTab"
      >
        <v-icon size="16">{{ "$vuetify.icons.ArrowLeftIcon" }}</v-icon>
      </v-btn>

      <v-btn
        icon
        tile
        small
        height="40"
        class="border-all rounded"
        @click="nextTab"
      >
        <v-icon size="16">{{ "$vuetify.icons.ArrowRightIcon" }}</v-icon>
      </v-btn>
    </template>

    <template #cardBody>
      <template v-if="loading">
        <app-loader component-based />
      </template>

      <template v-else>
        <div class="d-flex flex-column w-100 overflow-auto">
          <div class="app-tab-slide app-tab-arrows-hide px-5 pt-5">
            <div class="p-relative">
              <app-loader v-if="daysListLoading" content-width />

              <v-tabs
                v-else
                ref="tabs"
                v-model="weekSlide"
                show-arrows
                center-active
                dark
                hide-slider
                height="96"
              >
                <v-tab
                  v-for="{ day, weekDay, monthShort, isToday, format, events, tasks } in daysList"
                  :key="day"
                  class="tab-slide-item p-relative mr-5 pa-2"
                  @change="dayChange(format)"
                >
                  <div class="w-100 h-100">
                    <div class="d-flex align-center justify-space-between">
                      <span class="small-3 black--text text-capitalize">{{ monthShort }} {{ day }}</span>
                      <span class="small-3 text--secondary text-capitalize">{{ weekDay }}</span>
                    </div>

                    <div class="d-flex mb-1 mt-2">
                      <v-sheet
                        width="24"
                        height="18"
                        color="var(--primary-1-light)"
                        rounded
                        class="d-flex align-center justify-center mr-1"
                      >
                        <span class="tiny font-500 black--text">{{ events.count }}</span>
                      </v-sheet>

                      <v-sheet
                        width="24"
                        height="18"
                        color="var(--yellow-opacity)"
                        rounded
                        class="d-flex align-center justify-center"
                      >
                        <span class="tiny font-500 black--text">{{ tasks.count }}</span>
                      </v-sheet>
                    </div>

                    <div class="d-flex mb-1">
                      <template v-for="item in events.count">
                        <v-sheet
                          width="8"
                          height="8"
                          color="var(--primary-1)"
                          class="rounded-50"
                          style="margin-right: 2px;"
                        >
                        </v-sheet>
                      </template>
                    </div>

                    <div class="d-flex">
                      <template v-for="item in tasks.count">
                        <v-sheet
                          width="8"
                          height="8"
                          color="var(--yellow)"
                          class="rounded-50"
                          style="margin-right: 2px;"
                        >
                        </v-sheet>
                      </template>
                    </div>
                  </div>
                </v-tab>
              </v-tabs>
            </div>

            <div class="d-flex my-5">
              <div class="d-flex align-center mr-5">
                <v-sheet
                  width="8"
                  height="8"
                  color="var(--primary-1)"
                  class="rounded-50"
                  style="margin-right: 2px;"
                >
                </v-sheet>

                <span class="small-3 black--text ml-2">Tadbirlar</span>
              </div>

              <div class="d-flex align-center">
                <v-sheet
                  width="8"
                  height="8"
                  color="var(--yellow)"
                  class="rounded-50"
                  style="margin-right: 2px;"
                >
                </v-sheet>

                <span class="small-3 black--text ml-2">Eslatmalar</span>
              </div>
            </div>
          </div>

          <infinite-scroll-container
            :items="agendaList"
            :height="183"
            :list-loaded="listLoaded"
            hide-infinite-observer
            class="px-4 w-100"
            @emit:up="handlePageScroll"
          >
            <template v-slot:default="{ item }">
              <!-- Календарь -->
              <template v-if="item.type === 'event'">
                <div class="bg--primary-opacity d-flex align-center py-2 px-4 mb-1 size-13 rounded">
                  <span class="font-500 black--text mr-5">{{ item.start_date | filterHHmm }}</span>

                  <v-sheet
                    width="4"
                    height="4"
                    color="var(--black)"
                    class="rounded-circle mr-2"
                  ></v-sheet>

                  <!-- Оффлайн -->
                  <template v-if="item.meeting_type === 'offline'">
                    <span v-if="item.room === 'small_hall'" class="small-3 text__primary mr-5">Малый зал</span>
                    <span v-if="item.room === 'big_hall'" class="small-3 text__primary mr-5">Большой зал</span>
                  </template>
                  <!-- /Оффлайн -->

                  <!-- Zoom -->
                  <template v-if="item.meeting_type === 'zoom'">
                    <span class="small-3 text__primary mr-5">Zoom</span>
                  </template>
                  <!-- /Zoom -->

                  <!-- Cisco -->
                  <template v-if="item.meeting_type === 'cisco'">
                    <span class="small-3 text__primary mr-5">Cisco</span>
                  </template>
                  <!-- /Cisco -->

                  <v-sheet
                    width="4"
                    height="4"
                    color="var(--black)"
                    class="rounded-circle mr-2"
                  ></v-sheet>

                  <span class="text-dark-grey small-3 text-truncate flex-1 mr-3">{{ item.title }}</span>

                  <v-sheet
                    width="4"
                    height="4"
                    color="var(--black)"
                    class="rounded-circle mr-2"
                  ></v-sheet>

                  <span class="text--black small-3">{{ item && item.created_by.full_name }}</span>

                  <v-icon size="16" color="var(--primary-1)" class="ml-5 mr-2">{{ "$vuetify.icons.CallCallingIcon" }}</v-icon>

                  <span class="small-3 font-500 text-dark">19-32</span>
                </div>
              </template>
              <!-- /Календарь -->

              <!-- Таски -->
              <template v-if="item.type === 'task'">
                <div class="bg--yellow-opacity-2 d-flex align-center py-2 pl-4 pr-2 mb-1 size-13 rounded">
                  <span class="font-500 black--text mr-5" :class="item.status === 'finished' ? 'text-decoration-line-through' : ''">{{ item.title }}</span>

                  <v-sheet
                    width="4"
                    height="4"
                    color="var(--black)"
                    class="rounded-circle mr-2"
                  ></v-sheet>

                  <span class="text-dark-grey small-3" :class="item.status === 'finished' ? 'text-decoration-line-through' : ''">{{ item.description }}</span>

                  <v-spacer />

                  <app-tooltip top>
                    <template #content>
                      <v-btn
                        icon
                        x-small
                        @click="showUpdateTaskModal(item)"
                      >
                        <v-icon size="16" color="var(--yellow)">{{ "$vuetify.icons.EditIcon" }}</v-icon>
                      </v-btn>
                    </template>

                    <template #text>
                      Изменить
                    </template>
                  </app-tooltip>

                  <app-tooltip top>
                    <template #content>
                      <v-btn
                        icon
                        x-small
                        @click="deleteTask(item.id)"
                      >
                        <v-icon size="16" color="var(--red)">{{ "$vuetify.icons.MinusSquareIcon" }}</v-icon>
                      </v-btn>
                    </template>

                    <template #text>
                      Удалить
                    </template>
                  </app-tooltip>

                  <!-- New => Finished -->
                  <template v-if="item.status === 'new'">
                    <app-tooltip top>
                      <template #content>
                        <v-btn
                          icon
                          x-small
                          @click="taskAction(item.id,'finished')"
                        >
                          <v-icon size="16" color="var(--green)">{{ "$vuetify.icons.TickSquareIcon" }}</v-icon>
                        </v-btn>
                      </template>

                      <template #text>
                        Выполнить
                      </template>
                    </app-tooltip>
                  </template>

                  <!-- Finished => New -->
                  <template v-if="item.status === 'finished'">
                    <app-tooltip top>
                      <template #content>
                        <v-btn
                          icon
                          x-small
                          @click="taskAction(item.id,'new')"
                        >
                          <v-icon size="16" color="var(--green)">{{ "$vuetify.icons.RotateLeftIcon" }}</v-icon>
                        </v-btn>
                      </template>

                      <template #text>
                        Переделывать
                      </template>
                    </app-tooltip>
                  </template>
                </div>
              </template>
              <!-- /Таски -->
            </template>
          </infinite-scroll-container>

          <div class="flex-1 pa-4">
            <div class="d-flex mb-2">
              <div class="app-input flex-1 mr-3">
                <v-text-field
                  v-model="taskText"
                  outlined
                  dense
                  hide-details
                  placeholder="Eslatmaning mavzusi"
                />
              </div>

              <v-btn
                color="primary"
                depressed
                height="40"
                @click="addTask"
              >
                Qayd qilish
              </v-btn>
            </div>

            <div class="app-input">
              <v-textarea
                v-model="taskDescription"
                outlined
                hide-details
                no-resize
                auto-grow
                dense
                placeholder="Eslatmaning matni"
                class="small-2"
              ></v-textarea>
            </div>
          </div>
        </div>
      </template>

      <!-- Task update modal -->
      <v-dialog
        v-model="taskUpdateModal"
        max-width="500"
        content-class="reset-dialog-style"
      >
        <div class="bg-white rounded">
          <div class="d-flex align-center pa-5 pb-0">
            <v-spacer />

            <app-button
              color="error"
              icon
              min-width="30"
              width="30"
              height="30"
              @click="taskUpdateModal = false"
            >
              <x-icon size="16" class="d-block" />
            </app-button>
          </div>

          <div class="px-5">
            <v-list-item class="mb-3">
              <v-list-item-icon class="mr-3"></v-list-item-icon>
              <v-list-item-content>
                <v-text-field
                  v-model="taskCreateModel.title"
                  autofocus
                  :placeholder="$t('dashboard.components.title')"
                  hide-details
                  class="pt-0 mt-0"
                />
              </v-list-item-content>
            </v-list-item>

            <v-list-item class="mb-3">
              <v-list-item-icon class="mr-3">
                <clock-icon
                  color="var(--secondary-6)"
                  size="22"
                  style="transform: translateY(4px)"
                />
              </v-list-item-icon>
              <v-list-item-content>
                <app-date-picker
                  v-model="taskCreateModel.start_date"
                  with-input
                  :outlined="false"
                  :placeholder="$t('dashboard.components.date-and-time')"
                />
              </v-list-item-content>
            </v-list-item>

            <v-list-item class="mb-3">
              <v-list-item-icon class="mr-3">
                <edit3-icon
                  color="var(--secondary-6)"
                  size="22"
                  style="transform: translateY(4px)"
                />
              </v-list-item-icon>
              <v-list-item-content>
                <v-textarea
                  v-model="taskCreateModel.description"
                  no-resize
                  hide-details
                  auto-grow
                  rows="1"
                  :placeholder="$t('dashboard.components.task-description')"
                  class="pt-0 mt-0"
                />
              </v-list-item-content>
            </v-list-item>
          </div>

          <div class="pa-5 text-right">
            <app-button @click="updateTask">
              <template #prepend>
                <edit3-icon size="18" class="mr-1" />
              </template>
              {{$t('dashboard.components.refresh')}}
            </app-button>
          </div>
        </div>
      </v-dialog>
      <!-- /Task update modal -->
    </template>
  </app-card-wrapper>
</template>

<script>
import { mapActions } from "vuex"
import { format, formatISO, getDaysInMonth, isToday } from "date-fns"
import { ru } from "date-fns/locale"
import { XIcon, ClockIcon, Edit3Icon } from "vue-feather-icons"
import InfiniteScrollContainer from "@/common/components/InfiniteScrollContainer"

export default {
  name: "UserAgenda",
  components: {
	  XIcon,
    ClockIcon,
    Edit3Icon,
	  InfiniteScrollContainer
  },
  data() {
    return {
      date: (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10),
      weekSlide: null,
      daysList: [],
      daysListLoading: true,
      taskText: "",
      taskDescription: "",
      taskStartTime: null,
      taskEndTime: null,
      taskCreateModel: {
        id: null,
        title: null,
        start_date: null,
        end_date: null,
        description: null
      },
      currentDayFormat: null,
      agendaList: [],
      agendaCountList: [],
      loading: true,
	    listLoaded: false,
      taskUpdateModal: false,
      taskSelected: {}
    }
  },
  watch: {
    date: {
      handler(val) {
        this.daysList = []
        const [currentDay] = val.split("-").reverse()
        const currentMonthDays = getDaysInMonth(new Date(val))

        for (let i = 1; i <= currentMonthDays; i++) {
          this.daysList.push({
            id: i,
            day: i < 10 ? `0${i}` :  i,
            weekDay: format(new Date(val).setDate(i), "E", { locale: ru }),
            monthShort: format(new Date(val).setDate(i), "MMM", { locale: ru }),
            isToday: isToday(new Date(val).setDate(i)),
            format: format(new Date(val).setDate(i), "yyyy-MM-dd"),
          })
        }

        this.weekSlide = +currentDay - 1

        this.initGetList()
        this.getAgendaCount()
      },
      deep: true,
      immediate: true
    }
  },
  created() {
    // this.fetchGetTasksList()
  },
  methods: {
    ...mapActions({
      fetchAddTask: "gridCalendar/fetchAddTask",
      fetchGetTasksList: "gridCalendar/fetchGetTasksList",
      fetchDeleteTask: "gridCalendar/fetchDeleteTask",
      fetchUpdateTask: "gridCalendar/fetchUpdateTask",
      fetchUpdateTaskStatus: "gridCalendar/fetchUpdateTaskStatus",
	    fetchGetEventsList: "gridCalendar/fetchGetEventsList",
    }),
    /*
    *
    * */
    initGetList() {
      this.loading = true

      this.getList({
        page: 1
      })
      .then((data) => {
        this.agendaList = data

        // this.fetchGetEventsList({
        //   start_date: this.currentDayFormat ? this.currentDayFormat : this.date
        // })
        // .then((model) => {
        //   this.agendaList = [...model, ...data]
        // })
      })
      .finally(() => {
          this.loading = false
      })
    },
    /*
    *
    * */
    getList() {
      return new Promise((resolve, reject) => {
        this.$http.get(`/dashboard/my-agenda/`, {
          params: {
            page_size: 50,
            start_date: this.currentDayFormat ? this.currentDayFormat : this.date
          }
        })
        .then(({ data }) => {
          this.agendaList = data.results

          resolve(data.results)
        })
      })
    },
	  /*
    *
    * */
	  handlePageScroll(value) {
      console.log(value)
	  },
    /*
    *
    * */
    getAgendaCount() {
      this.daysListLoading = true

      this.$http.get(`/dashboard/v2/my-agenda-counts/`, {
        params: {
          date: this.currentDayFormat ? this.currentDayFormat : this.date
        }
      })
      .then(({ data }) => {
        this.agendaCountList = data

        this.daysList = this.daysList.map(day => {
          return {
            ...day,
            events: this.agendaCountList.events.length
              ? this.agendaCountList.events.find(event => new Date(event.day).getDate() === day.id) ?? { count: 0 }
              : { count: 0 },
            tasks: this.agendaCountList.tasks.length
              ? this.agendaCountList.tasks.find(event => new Date(event.day).getDate() === day.id) ?? { count: 0 }
              : { count: 0 }
          }
        })
      })
      .finally(() => {
        this.daysListLoading = false
      })
    },
    /*
    *
    * */
    addTask() {
      if (!this.taskText.length) {
        this.$toast.warning(this.$t('dashboard.components.required-field'))
        return;
      }

      let currentDayFormat = this.currentDayFormat ? this.currentDayFormat : this.date
      const [year, month, day] = currentDayFormat.split("-")

      // const [startHour, startMinute] = this.taskStartTime.split(":")
      // const [endHour, endMinute] = this.taskEndTime.split(":")

      this.taskCreateModel.title = this.taskText
      this.taskCreateModel.description = this.taskDescription
      this.taskCreateModel.start_date = formatISO(new Date(+year, +month - 1, +day, 0, 0, 0))
      // this.taskCreateModel.end_date = formatISO(new Date(+year, +month, +day, 0, 0, 0))

      this.fetchAddTask({
        model: this.taskCreateModel
      })
      .then(() => {
        this.$toast.success(this.$t('dashboard.components.task-created'))

        this.clearModel()
        this.getList()
        this.getAgendaCount()
        // this.taskStartTime = null
        // this.taskEndTime = null
      })
    },
    /*
    *
    * */
    showUpdateTaskModal(task) {
      this.taskCreateModel.id = task.id
      this.taskCreateModel.title = task.title
      this.taskCreateModel.start_date = this.$options.filters.filterYearMonthDate(task.start_date)
      this.taskCreateModel.description = task.description
      this.taskUpdateModal = true
    },
    /*
    *
    * */
    updateTask() {
      const [year, month, day] = this.taskCreateModel.start_date.split("-")

      this.taskCreateModel.start_date = formatISO(new Date(+year, +month - 1, +day, 0, 0, 0))

      this.fetchUpdateTask({
        id: this.taskCreateModel.id,
        model: this.taskCreateModel
      })
      .then(() => {
        this.$toast.success(this.$t('dashboard.components.task-updated'))

        this.clearModel()
        this.getList()

        this.taskUpdateModal = false
      })
      .catch(() => {
        this.$toast.error(this.$t('dashboard.components.task-update-error'))
      })
    },
    /*
    *
    * */
    deleteTask(id) {
      if(!confirm(this.$t('dashboard.components.delete-description'))) {
        return;
      }

      this.fetchDeleteTask({ id })
      .then(() => {
        this.getList()
        this.getAgendaCount()
        this.$toast.success(this.$t('dashboard.components.task-deleted'))
      })
      .catch(() => {
        this.$toast.error('dashboard.components.task-delete-error')
      })
    },
    /*
    *
    * */
    taskAction(id, value) {
      this.fetchUpdateTaskStatus({
        id,
        model: { status: value }
      })
      .then(() => {
        this.$toast.success(this.$t('dashboard.components.task-updated'))

        this.getList()
      })
      .catch(() => {
        this.$toast.error(this.$t('dashboard.components.task-update-error'))
      })
    },
    /*
    *
    * */
    clearModel() {
      this.taskText = ""
      this.taskDescription = ""
      this.taskCreateModel.title = null
      this.taskCreateModel.start_date = null
      this.taskCreateModel.end_date = null
      this.taskCreateModel.description = null
    },
    /*
    *
    * */
    timeMask(value) {
      const hours = [/[0-2]/, value.charAt(0) === '2' ? /[0-3]/ : /[0-9]/]
      const minutes = [/[0-5]/, /[0-9]/]

      return value.length > 2 ? [...hours, ':', ...minutes] : hours
    },
    /*
    *
    * */
    timeRangeMask(value) {
      const numbers = value.replace(/[^0-9]/g, '')

      if (numbers.length > 4) {
        return [...this.timeMask(numbers.substring(4))];
      }
      return [...this.timeMask(numbers)];
    },
    /*
    *
    * */
    dayChange(val) {
      this.currentDayFormat = val

      this.getList()
      .then((data) => {
        this.agendaList = data
        // this.fetchGetEventsList({
        //   start_date: this.currentDayFormat ? this.currentDayFormat : this.date
        // })
        // .then((model) => {
        //   this.agendaList = [...model, ...data]
        // })
      })
    },
    /*
    *
    * */
    nextTab() {
      const { tabs } = this.$refs

      tabs.$children[0].onAffixClick('next')
    },
    /*
    *
    * */
    prevTab() {
      const { tabs } = this.$refs

      tabs.$children[0].onAffixClick('prev')
    }
  }
}
</script>
