<template>
  <ui-data-table
    ref="dataTable"
    :api-url="apiUrl"
    :api-params="{
      obj: controlDetailModel.document.id
    }"
    :height="tableHeight"
    :headers-list="headersList"
    :filter-state="{
			page_size: 15,
			page: 1
    }"
    :filters-visible="false"
    no-border
  >
	  <template #created_date="{ value }">
		  {{ value | filterCalendarToTime }}
	  </template>

	  <template #description="{ value }">
		  <span v-html="value" class="reset-space"></span>
	  </template>

	  <template #original_value="{ value }">
		  <span v-html="value" class="reset-space"></span>
	  </template>

	  <template #new_value="{ value }">
		  <span v-html="value" class="reset-space"></span>
	  </template>
  </ui-data-table>
</template>

<script>
import { mapGetters, mapState } from "vuex"
export default {
	name: "ActivityTable",
	data() {
		return {
			headersList: [
        {
          text: "#",
          value: "index",
          width: "50",
          active: true,
          sortable: false,
          align: "center",
        },
        {
          text: "document-flow.views.send-document.edit-date",
          value: "created_date",
          active: true,
          sortable: false
        },
        {
          text: "users",
          value: "created_by.full_name",
          active: true,
          sortable: false
        },
        {
          text: "document-flow.components.action",
          value: "description",
          active: true,
          sortable: false
        },
        {
          text: "document-flow.views.registration.initial-value",
          value: "original_value",
          active: true,
          sortable: false
        },
        {
          text: "document-flow.views.registration.new-value",
          value: "new_value",
          active: true,
          sortable: false
        },
        {
          text: "ip-address",
          value: "ip_addr",
          width: "200",
          active: true,
          sortable: false
        },
      ]
    }
	},
	computed: {
    ...mapState({
      controlDetailModel: state => state.documentFlowBoxesControl.controlDetailModel,
    }),
    /*
    *
    * */
		...mapGetters({
			currentUser: "auth/getCurrentUser",
		}),
		/*
		*
		* */
		tableHeight() {
			return document.documentElement.clientHeight - 260
		},
		/*
		*
		* */
		apiUrl() {
			return `action/activities`
		}
	}
}
</script>

<style scoped>

</style>
