<template>
  <div class="resolution-drawer-view">
    <ui-drawer
      v-model="content"
      :title="title"
      :success-text="successText"
      :success-button-loading="successButtonLoading"
      @emit:close="(_value) => $emit('emit:close', _value)"
      @emit:cancel-button="(_value) => $emit('emit:close', _value)"
      @emit:success-button="createExecution"
    >
      <template #content>
        <div class="app-input mb-6">
	        <span class="d-block font-600 small-2 mb-2">
	          {{ $t('document-flow.views.boxes.write-content') }}
	          <span class="red--text">({{ $t('document-flow.views.boxes.minimum-15-characters') }})</span>
	        </span>

          <quill-editor
            ref="editor"
            v-model="$v.removeFromControlModel.performance_note.$model"
            :error="$v.removeFromControlModel.performance_note.$model"
            class="mb-4"
          />

          <resolution-content-modal @emit:up="(text) => removeFromControlModel.performance_note = text.name" />
        </div>

        <div class="app-input">
          <span class="d-block font-600 small-2 mb-2">
            {{ $t('document-flow.views.registration.attach-file') }}
          </span>

          <app-file-upload
            :multiple="false"
            class="w-100"
            @uploadFiles="uploadFiles"
          />

          <template v-if="Object.prototype.toString.call(removeFromControlModel.file) === '[object Object]'">
            <a
              :href="removeFromControlModel.file.url"
              :download="removeFromControlModel.file.url"
              target="_blank"
              class="d-flex align-center text-decoration-none mt-4"
            >
              <file-text-icon size="20" />
              <span class="small-1 text-lowercase ml-1" style="border-bottom: 2px dotted">{{ removeFromControlModel.file.name }}</span>
            </a>
          </template>
        </div>
      </template>
    </ui-drawer>
  </div>
</template>

<script>
import { mapActions, mapGetters, mapState } from "vuex"
import { minLength, required } from "vuelidate/lib/validators"
import { FileTextIcon } from "vue-feather-icons"
import { FORM_TYPES } from "@/common/enums/notificationTypes"
import ResolutionContentModal from "@/common/components/ResolutionContentModal.vue";
export default {
	name: "RemoveFromControlDrawer",
	props: {
		value: {
			type: Boolean
		},
		/*
    *
    * */
		formType: {
			type: String,
			default: FORM_TYPES.CREATE
		},
		/*
    *
    * */
		title: {
			type: String,
			default: "document-flow.views.boxes.redirect-document"
		},
		/*
    *
    * */
		successText: {
			type: String,
			default: "document-flow.views.registration.save"
		},
		/*
		*
		* */
		cancelText: {
			type: String,
			default: "auth.enter-phone.back"
		},
    /*
    *
    * */
    successButtonLoading: {
      type: Boolean
    }
	},
  components: {
    ResolutionContentModal,
    FileTextIcon
  },
	validations: {
    removeFromControlModel: {
      performance_note: {
        required,
        minLength: minLength(15)
      }
    }
	},
	computed: {
		...mapState({
      removeFromControlModel: state => state.documentFlowBoxesControl.removeFromControlModel,
		}),
		/*
		*
		* */
		...mapGetters({
			currentUser: "auth/getCurrentUser",
		}),
		/*
		*
		* */
		content: {
			get() {
				return this.value;
			},
			set(value) {
				this.$emit("change", value);
			}
		}
	},
	methods: {
		...mapActions({
      fetchAttachFiles: "documentFlowModule/fetchAttachFiles",
		}),
    /*
    *
    * */
    createExecution() {
      this.$v.removeFromControlModel.$touch();

      if(this.$v.removeFromControlModel.$invalid) {
        return;
      }

      if(Object.prototype.toString.call(this.removeFromControlModel.file) === '[object Object]') {
        this.removeFromControlModel.file = this.removeFromControlModel.file.id
      }

      this.$emit("emit:success-button")
    },
    /*
    *
    * */
    uploadFiles(files) {
      this.fetchAttachFiles({
        files: [files],
      }).then((file) => {
        this.removeFromControlModel.file = file.id
      })
    },
	}
}
</script>

<style scoped>

</style>
