<template>
  <div class="execution-mark-view">
    <v-btn
      :color="isControlRemoved ? 'var(--primary-3)' : 'var(--primary-2)'"
      :disabled="disabled"
      depressed
      small
      min-height="36"
      height="36"
      class="rounded-lg"
      @click="toggle"
    >
      <div class="d-flex align-center">
        <span class="text-white size-13">
	        {{ isControlRemoved
	        ? $t("document-flow.views.registration.edit")
	        : $t("document-flow.views.boxes.remove-from-control")
          }}
        </span>
      </div>
    </v-btn>
  </div>
</template>

<script>
import { mapActions } from "vuex"
export default {
	name: "RemoveFromControl",
	props: {
		isControlRemoved: {
			type: Boolean
		},
		disabled: {
			type: Boolean
		}
	},
	methods: {
		...mapActions({
			fetchGetCreatedRemoveFromControl: "documentFlowBoxesControl/fetchGetCreatedRemoveFromControl"
		}),
		/*
		*
		* */
		toggle() {
			if(this.isControlRemoved) {
				this.fetchGetCreatedRemoveFromControl()
			}

			this.$emit('emit:up', true)
		}
	}
}
</script>

<style scoped>

</style>
