<template>
  <history-form :form-type="$store.state.formType.create" />
</template>

<script>
import HistoryForm from "./components/HistoryForm"

export default {
	name: "Create",
  components: {
	  HistoryForm
  }
}
</script>
