<template>
  <history-form :form-type="$store.state.formType.update" />
</template>

<script>
import HistoryForm from "./components/HistoryForm"

export default {
	name: "Update",
	components: {
		HistoryForm
	}
}
</script>
