<template>
	<div>
		<arbitrary-order-form />
	</div>
</template>

<script>
import ArbitraryOrderForm from "@/modules/DocumentFlow/views/SendDocument/components/ArbitraryOrderForm.vue"
export default {
	name: "ArbitraryOrderCreate",
	components: {
		ArbitraryOrderForm
	}
}
</script>

<style scoped>

</style>
