<template>
  <perfect-scrollbar class="d-flex flex-column flex-1">
    <app-wrapper class="flex-1">
      <template #body>
        <arbitrary-order-form :form-type="$store.state.formType.update" />
      </template>
    </app-wrapper>
  </perfect-scrollbar>
</template>

<script>
import ArbitraryOrderForm from "@/modules/DocumentFlow/views/SendDocument/components/ArbitraryOrderForm.vue"
export default {
	name: "ArbitraryOrderUpdate",
	components: {
		ArbitraryOrderForm
	}
}
</script>
