<template>
	<protocol-form-create protocol-type="committee_protocol" />
</template>

<script>
import ProtocolFormCreate from "./ProtocolFormCreate";

export default {
	name: "CommitteeProtocolCreate",
	components: {
		ProtocolFormCreate
	}
}
</script>

<style scoped>

</style>
