<template>
	<protocol-form-update protocol-type="committee_protocol" />
</template>

<script>
import ProtocolFormUpdate from "./ProtocolFormUpdate";

export default {
	name: "CommitteeProtocolUpdate",
	components: {
		ProtocolFormUpdate
	}
}
</script>

<style scoped>

</style>
