<template>
  <perfect-scrollbar class="d-flex flex-column flex-1">
    <app-wrapper class="flex-1">
      <template #body>
        <component
          :is="$route.query.type === 'leadership'
            ? 'LeadershipCreate'
            : $route.query.type === 'inner'
            ? 'InnerFormCreate'
            : $route.query.type === 'protocol'
            ? 'ProtocolFormCreate'
            : $route.query.type === 'decree'
            ? 'DecreeCreate'
            : $route.query.type === 'job'
            ? 'JobApplicationReportCreate'
            : $route.query.type === 'committee-protocol'
            ? 'CommitteeProtocolCreate'
            : $route.query.type === 'arbitrary-order'
            ? 'ArbitraryOrderCreate'
            : $route.query.type === 'training-specialists'
            ? 'TrainingSpecialistsCreate'
            : $route.query.type === 'reference'
            ? 'ReferenceCreate'
            : 'OutgoingFormCreate'
          "
        />
      </template>
    </app-wrapper>
  </perfect-scrollbar>
</template>

<script>
import LeadershipCreate from "./LeadershipCreate"
import InnerFormCreate from "./InnerFormCreate"
import OutgoingFormCreate from "./OutgoingFormCreate"
import ProtocolFormCreate from "./ProtocolFormCreate"
import DecreeCreate from "./DecreeCreate";
import JobApplicationReportCreate from "./JobApplicationReportCreate"
import CommitteeProtocolCreate from "./CommitteeProtocolCreate"
import ArbitraryOrderCreate from "./ArbitraryOrderCreate.vue"
import TrainingSpecialistsCreate from "./TrainingSpecialistsCreate"
import ReferenceCreate from "../SendDocumentNew/DocumentTypes/ReferenceCreate.vue"

export default {
  name: "CreateForm",
  components: {
    LeadershipCreate,
    InnerFormCreate,
    OutgoingFormCreate,
	  ProtocolFormCreate,
	  DecreeCreate,
    JobApplicationReportCreate,
	  CommitteeProtocolCreate,
    ArbitraryOrderCreate,
	  TrainingSpecialistsCreate,
	  ReferenceCreate
  }
}
</script>
