<template>
  <create-application-form :form-type="$store.state.formType.create" />
</template>

<script>
import CreateApplicationForm from "./components/CreateApplicationForm"

export default {
  name: "CreateApplicationCreate",
  components: {
    CreateApplicationForm
  }
}
</script>
