<template>
  <create-application-form :form-type="$store.state.formType.update" />
</template>

<script>
import CreateApplicationForm from "./components/CreateApplicationForm"

export default {
  name: "CreateApplicationUpdate",
  components: {
    CreateApplicationForm
  }
}
</script>
