<template>
	<decree-form :form-type="$store.state.formType.create" />
</template>

<script>
import DecreeForm from "./components/DecreeForm";

export default {
	name: "DecreeCreate",
	components: {
		DecreeForm
	}
}
</script>

<style scoped>

</style>
