<template>
	<perfect-scrollbar class="d-flex flex-column flex-1">
		<app-wrapper class="flex-1">
			<template #body>
				<decree-form :form-type="$store.state.formType.update" />
			</template>
		</app-wrapper>
	</perfect-scrollbar>
</template>

<script>
import DecreeForm from "./components/DecreeForm";

export default {
	name: "DecreeUpdate",
	components: {
		DecreeForm
	}
}
</script>

<style scoped>

</style>
