<template>
  <div class="send-document-view d-flex flex-column h-100">
    <app-wrapper>
      <template #body>
        <div class="d-flex align-center ma-n3 py-1 px-2">
          <h3 class="line-base mr-4">{{$t('document-flow.views.send-document.sending-documents')}}</h3>

          <v-col md="2" class="pa-0 ml-3">
            <v-select
	            @change="onDocTypeChange"
              v-model="documentTypeSelected"
              :items="documentsTypeListComputed"
              item-text="title"
              item-value="value"
              return-object
              outlined
              dense
              hide-details
              :label="$t('document-flow.views.send-document.received')"
              append-icon="mdi-chevron-down"
              background-color="var(--input-bg)"

            ></v-select>
          </v-col>

<!--          <v-spacer/>-->

          <v-list flat dense class="d-flex align-center justify-end flex-1 pa-0">

	          <filter-modal
		          :active-route="path"
		          :export-excel-button-loading="exportExcelButtonLoading"
		          class="mr-3"
		          @emit:filter="filter"
		          @emit:filter:update="filterUpdate"
		          @emit:exportExcel="exportToExcel"
	          />

            <v-menu offset-y>
              <template v-slot:activator="{ on, attrs }">
                <app-button
                  height="39"
                  v-bind="attrs"
                  v-on="on"
                >
                  <template #prepend>
                    <plus-icon size="20" />
                  </template>
                  <template #default>
                    {{$t('document-flow.views.send-document.create')}}
                  </template>
                </app-button>
              </template>

              <v-list>
                <v-list-item link :to="{ name: 'SendingDocumentsCreate', query: { type: 'leadership', journal_id: 3, compose_type: 'service_letter' } }">
                  <v-list-item-title class="font-500">
                    {{$t('document-flow.views.send-document.report')}}
                  </v-list-item-title>
                </v-list-item>

<!--                <template v-if="currentUser.role === 'admin' || currentUser.role === 'hr_manager' || currentUser.role === 'filial_hr_manager'">-->
<!--                  <v-list-item link :to="{ name: 'SendingDocumentsCreate', query: { type: 'job' } }">-->
<!--                    <v-list-item-title class="font-500">-->
<!--                      Рапорт для приема на работу-->
<!--                    </v-list-item-title>-->
<!--                  </v-list-item>-->
<!--                </template>-->

                <v-list-item link :to="{ name: 'SendingDocumentsCreate', query: { type: 'inner' } }">
                  <v-list-item-title class="font-500">
                    {{$t('document-flow.views.send-document.interior')}}
                  </v-list-item-title>
                </v-list-item>

	              <v-list-item link :to="{ name: 'SendingDocumentsCreate', query: { type: 'outgoing' } }">
		              <v-list-item-title class="font-500">
			              {{$t('document-flow.views.send-document.outgoing')}}
		              </v-list-item-title>
	              </v-list-item>

	              <v-list-item link :to="{ name: 'BoardProtocolCreate', query: { type: 'protocol' } }">
		              <v-list-item-title class="font-500">
			              {{$t('document-flow.views.send-document.board-protocol')}}
		              </v-list-item-title>
	              </v-list-item>

                <v-list-item link :to="{ name: 'SendingDocumentsCreate', query: { type: 'committee-protocol' } }">
		              <v-list-item-title class="font-500">
			              {{$t('document-flow.views.send-document.committee-protocol')}}
		              </v-list-item-title>
	              </v-list-item>

                <v-list-item link :to="{ name: 'SendingDocumentsCreateApplication' }">
                  <v-list-item-title class="font-500">
                    {{$t('document-flow.views.send-document.statement')}}
                  </v-list-item-title>
                </v-list-item>

	              <v-list-item link :to="{ name: 'SendingDocumentsCreate', query: { type: 'decree' } }">
		              <v-list-item-title class="font-500">
			              {{$t('document-flow.views.send-document.orders')}}
		              </v-list-item-title>
	              </v-list-item>

                <v-list-item link :to="{ name: 'SendingDocumentsCreate', query: { type: 'arbitrary-order' } }">
                  <v-list-item-title class="font-500">
                    {{ $t('arbitrary-order') }}
                  </v-list-item-title>
                </v-list-item>

	              <v-list-item link :to="{ name: 'SendingDocumentsCreate', query: { type: 'training-specialists' } }">
		              <v-list-item-title class="font-500">
			              {{ $t('trainingSpecialists') }}
		              </v-list-item-title>
	              </v-list-item>

              </v-list>
            </v-menu>
          </v-list>
        </div>
      </template>
    </app-wrapper>

    <div class="d-flex mt-5 overflow-hidden w-100 h-100">
      <div class="d-flex flex-column p-relative w-100">
        <app-loader v-if="getLoading" full-width :size="58" />

        <template v-else>

          <div class="d-flex flex-column h-100 bg-4 rounded-20 pa-1 overflow-hidden h-100">
            <perfect-scrollbar class="d-flex flex-column flex-1 h-100">
              <app-table
                bordered
                :table-width="1600"
              >
                <template #tableHeader>
                  <th>№</th>
                  <th>{{$t('document-flow.views.send-document.type-letter')}}</th>
                  <th>{{$t('equipments.views.add-news.created-date')}}</th>
                  <th>{{$t('components.change-date')}}</th>
                  <th>{{$t('document-flow.views.send-document.state')}}</th>
                  <th>{{$t('document-flow.views.send-document.registration-number')}}</th>
<!--                  <th>{{$t('document-flow.views.send-document.files')}}</th>-->
                  <th>{{$t('document-flow.views.send-document.author')}}</th>
	                <th>{{$t('document-flow.views.send-document.signatory')}}</th>
	                <th v-if="['admin', 'chancellery_admin', 'chancellery'].includes(currentUser.role) && isOrganizationLetter">{{$t('sent_status') }}</th>
	                <th>{{$t('document-flow.views.send-document.action')}}</th>
                </template>

                <template #tableBody>
                  <template v-if="getDocumentsList.length">
                    <tr
                      v-for="(item, index) in getDocumentsList"
                      :key="item.id"
                      class="text-dark font-500"
                      @click="openRoute(item)"
                    >
                      <td>{{ index + 1 }}</td>
                      <td width="250">
	                      {{ returnTypeText(item) }}
                      </td>
                      <td>{{ item.created_date | filterCalendarToTime }}</td>
                      <td>{{ item.modified_date | filterCalendarToTime }}</td>
                      <td>
	                      <v-chip
		                      :color="item.status === 'draft' ? 'secondary' : item.status === 'approved' ? 'success' : item.status === 'declined' ? 'danger' : item.status === 'for_registration' ? 'primary' : 'warning' "
	                      >
		                      <span class="small-3 text-white">{{ returnStatus(item.status) }}</span>
	                      </v-chip>
                      </td>
	                    <td>
                        <span v-if="item.register_number">{{ item.register_number }} </span>
                      </td>
<!--                      <td>-->
<!--                        <div class="d-flex">-->
<!--                          <template v-for="file in item.files">-->
<!--                            <app-tooltip top>-->
<!--                              <template #content>-->
<!--                                <app-button-->
<!--                                  @click="(e) => e.stopImmediatePropagation()"-->
<!--                                  icon-->
<!--                                  min-width="40"-->
<!--                                  width="40"-->
<!--                                  height="40"-->
<!--                                  :href="file.url"-->
<!--                                  target="_blank"-->
<!--                                >-->
<!--                                  <file-icon size="18" />-->
<!--                                </app-button>-->
<!--                              </template>-->

<!--                              <template #text>-->
<!--                                {{ file.name }}-->
<!--                              </template>-->
<!--                            </app-tooltip>-->
<!--                          </template>-->
<!--                        </div>-->
<!--                      </td>-->
                      <td>
	                      <app-avatar-group list-type="author" :avatar-list="[{user: item.author}]" />
                      </td>
                      <td>
                        <app-avatar-group list-type="signers" :avatar-list="item.signed_by" />
                      </td>
	                    <td v-if="['admin', 'chancellery_admin', 'chancellery'].includes(currentUser.role) && isOrganizationLetter">
		                    <!--                        <app-avatar-group list-type="agreed" :avatar-list="item.agreed_by" />-->
		                    <template>
			                    <div
				                    class="d-flex align-center px-2 py-1 rounded"
				                    :style="{
																			background: item.is_sent ? `var(--primary-2-light)` : `var(--primary-3-light)`,
																			width: 'fit-content'
																		}"
			                    >
														<span
															class="small-3 text-uppercase font-600"
															:style="{ color: item.is_sent ? `var(--primary-2)` : `var(--primary-3)` }"
														>
															{{ item.is_sent ? $t('sent') : $t('not_sent') }}
														</span>
			                    </div>
		                    </template>
	                    </td>
	                    <td>
		                    <div class="d-flex align-center" style="width: 100px">
			                    <app-tooltip left max-width="500">
				                    <template #content>
					                    <app-button
						                    v-if="$route.query.type === 'protocol' || $route.query.type === 'credit_committee'"
						                    min-width="43"
						                    width="43px"
						                    color="var(--primary-3)"
						                    icon
					                    >
						                    <template #prepend>
							                    <eye-icon size="18" />
						                    </template>
					                    </app-button>
				                    </template>
				                    <template #text>
															<span v-html="item.short_description" class="line-truncate-10"/>
				                    </template>
			                    </app-tooltip>
			                    <template v-if="item.type === 'protocol' || item.type === 'credit_committee'">
				                    <app-button
					                    v-if="['admin', 'chancellery_admin', 'credit_committee', 'kuap_invest'].includes(currentUser.role)"
					                    @click="deleteDocument($event, item)"
					                    min-width="43"
					                    width="43px"
					                    color="var(--primary-4)"
					                    icon
				                    >
					                    <template #prepend>
						                    <trash2-icon size="18" />
					                    </template>
				                    </app-button>
			                    </template>
			                    <template v-else>
				                    <app-button
					                    @click="deleteDocument($event, item)"
					                    min-width="43"
					                    width="43px"
					                    color="var(--primary-4)"
					                    icon
				                    >
					                    <template #prepend>
						                    <trash2-icon size="18" />
					                    </template>
				                    </app-button>
			                    </template>
		                    </div>
	                    </td>
                    </tr>
                  </template>

                  <template v-else>
                    <tr>
                      <td colspan="9">
                        <p class="heading-9 font-500 mb-0 text-center py-4">
                          {{$t('document-flow.views.send-document.nothing-yet')}}
                        </p>
                      </td>
                    </tr>
                  </template>
                </template>
              </app-table>
            </perfect-scrollbar>

            <div class="d-flex align-center justify-space-between py-2 px-4 border-top">
              <span class="small-2 font-500 text-dark">
<!--                1-10 из 195 позиций-->
              </span>

              <app-pagination @emit:up="paginate" />
            </div>
          </div>
        </template>
      </div>
    </div>

	  <v-dialog
	    v-model="dialog"
	    max-width="600"
	  >
		  <v-card class="pa-4">
			  <div class="d-flex justify-end">
				  <x-icon color="red" class="pointer" size="20" @click="dialog = false" />
			  </div>
			  <div class="d-flex">
				  <span class="font-500 d-inline-block text-justify small-2" v-html="dialogText" />
			  </div>
		  </v-card>
	  </v-dialog>
  </div>
</template>

<script>
import { EyeIcon, FileIcon, PlusIcon, SearchIcon, Trash2Icon, XIcon } from "vue-feather-icons";
import { mapActions, mapGetters, mapState } from "vuex";
import FilterModal from "../../../../common/components/FilterModal";

export default {
  name: "index",
  components: {
    SearchIcon,
	  XIcon,
    PlusIcon,
    FileIcon,
	  Trash2Icon,
	  EyeIcon,
	  FilterModal
  },
  data() {
    return {
	    dialog: false,
	    dialogText: "",
	    exportExcelButtonLoading: false,
      list: null,
      documentsTypeList: [
        { title: this.$t('document-flow.views.send-document.interior'), value: 3, type: "service_letter", role: null },
	      { title: this.$t('document-flow.views.send-document.notification'), value: 115, type: "notice", role: null },
	      { title: this.$t('hr-notice'), value: 116, type: "hr_notice", role: null },
	      { title: this.$t('hr-rotation'), value: 117, type: "hr_rotation", role: null },
	      { title: this.$t('summary'), value: 118, type: "summary", role: null },
	      { title: this.$t('document-flow.views.send-document.currency_summary'), value: 119, type: "currency_summary", role: null },
	      { title: this.$t('document-flow.views.send-document.outgoing'), value: 4, type: "service_letter", role: null  },
        { title: this.$t('document-flow.views.send-document.board-protocol'), value: 6, type: "protocol", role: null  },
        { title: this.$t('document-flow.views.send-document.committee-protocol'), value: 101, type: "credit_committee", role: null  },
        { title: this.$t('document-flow.views.send-document.statement'), value: 7, type: "hr_application" },
	      { title: this.$t('document-flow.views.send-document.orders'), value: 8, type: "decree", },
	      { title: this.$t('document-flow.views.send-document.act'), value: 15, type: "act", role: "technique_officer"  },
	      { title: this.$t('document-flow.views.send-document.created-orders'), value: 100, type: "hr_order"  },
	      { title: this.$t('document-flow.views.send-document.other-organizations'), value: 104, type: "organization_letter"  },
	      { title: this.$t('trainingSpecialists'), value: 105, type: "compliance_regulation"  },
	      { title: this.$t('hr_contract'), value: 120, type: "hr_contract", role: null },
      ],
      documentTypeSelected: {
        title: this.$t('document-flow.views.send-document.interior'),
        value: 3
      },
	    path: "sending-document",
	    journal_id: 3
    }
  },
  computed: {
	  ...mapState({
		  filterState: state => state.headerFilter.filter,
		  filterPagination: state => state.headerFilter.pagination,
	  }),
    ...mapGetters({
      getLoading: "getLoading",
      currentUser: "auth/getCurrentUser",
      getDocumentsList: "sendingDocuments/getDocumentsList",
    }),
	  /**/
	  documentsTypeListComputed(){
	  	if (this.currentUser.role === 'admin' || this.currentUser.role === 'equipment_manager'){
			  return this.documentsTypeList;
		  }else {
			  return this.documentsTypeList.filter(item => item.role !== 'technique_officer');
		  }
	  },
	  /**/
	  // path(){
		//   return this.pathName = this.$route.path.split("/")[3];
	  // }
	  isOrganizationLetter() {
			return this.$route.query.type && this.$route.query.type === 'organization_letter'
	  }
  },
  watch: {
		'$route': {
			handler(val){
				if (val && val.name === 'SendingDocuments' && Object.keys(val.query).length === 0){
					this.$router.replace({
						query: {
							journal_id: 3,
							type: "service_letter"
						}
					}).catch(() => {})
				}
			},
			immediate: true
		},
    // documentTypeSelected: {
    //   handler(val) {

    //   },
    //   deep: true,
    //   immediate: true
    // }
		'$i18n.locale': {
			handler() {
				this.documentsTypeList = [
					{ title: this.$t('document-flow.views.send-document.interior'), value: 3, type: "service_letter", role: null },
					{ title: this.$t('document-flow.views.send-document.notification'), value: 115, type: "notice", role: null },
					{ title: this.$t('hr-notice'), value: 116, type: "hr_notice", role: null },
					{ title: this.$t('hr-rotation'), value: 117, type: "hr_rotation", role: null },
					{ title: this.$t('summary'), value: 118, type: "summary", role: null },
					{ title: this.$t('document-flow.views.send-document.currency_summary'), value: 119, type: "currency_summary", role: null },
					{ title: this.$t('document-flow.views.send-document.outgoing'), value: 4, type: "service_letter", role: null  },
					{ title: this.$t('document-flow.views.send-document.board-protocol'), value: 6, type: "protocol", role: null  },
					{ title: this.$t('document-flow.views.send-document.committee-protocol'), value: 101, type: "credit_committee", role: null  },
					{ title: this.$t('document-flow.views.send-document.statement'), value: 7, type: "hr_application" },
					{ title: this.$t('document-flow.views.send-document.orders'), value: 8, type: "decree", },
					{ title: this.$t('document-flow.views.send-document.act'), value: 15, type: "act", role: "technique_officer"  },
					{ title: this.$t('document-flow.views.send-document.created-orders'), value: 100, type: "hr_order"  },
					{ title: this.$t('document-flow.views.send-document.other-organizations'), value: 104, type: "organization_letter"  },
					{ title: this.$t('trainingSpecialists'), value: 105, type: "compliance_regulation"  },
					{ title: this.$t('hr_contract'), value: 120, type: "hr_contract", role: null },
				]
			}
		}
  },
	mounted() {
		this.handleSelect();
	},
	methods: {
    ...mapActions({
      fetchDocumentsList: "sendingDocuments/fetchDocumentsList",
	    fetchDeleteDocument: "sendingDocuments/fetchDeleteDocument",
    }),
		/**/
		handleSelect(){
			if (this.$route.query.journal_id && this.$route.query.type){
				if ((Number(this.$route.query.journal_id) === 3 && this.$route.query.type === 'service_letter') || (Number(this.$route.query.journal_id) === 4 && this.$route.query.type === 'service_letter')){
					this.documentTypeSelected = this.documentsTypeList.find(x => x.type === this.$route.query.type && x.value === Number(this.$route.query.journal_id));
				}else {
					this.documentTypeSelected = this.documentsTypeList.find(x => x.type === this.$route.query.type);
				}
				this.fetchDocumentsList(this.$route.query)
			}else {
				this.fetchDocumentsList({ ...this.$route.query, journal_id: 3, type: 'service_letter' })
				this.documentTypeSelected = this.documentsTypeList[0];
				this.$router.replace({
					query: {
						...this.$route.query,
						journal_id: 3,
						type: 'service_letter'
					}
				})
			}
		},
		/**/
		onDocTypeChange(val){
			let journal_id = null
			let type = null
			if (val.value === 8){
				journal_id = 6
				type = 'decree'
			}else if (val.value === 6) {
				journal_id = 6
				type = 'protocol'
			}
			else if(val.type === "hr_order") {
				type = "hr_order"
				journal_id = 6
			}
			else if(val.type === "credit_committee") {
				type = "credit_committee"
				journal_id = 6
			}
			else if(val.type === "organization_letter") {
				type = "organization_letter"
				journal_id = 4
			}
			else if(val.type === "compliance_regulation") {
				type = "compliance_regulation"
				journal_id = 6
			}
			else if(val.type === "notice") {
				type = "notice"
				journal_id = 3
			}
			else if(val.type === "hr_notice") {
				type = "hr_notice"
				journal_id = 3
			}
			else if(val.type === "hr_rotation") {
				type = "hr_rotation"
				journal_id = 3
			}
			else if(val.type === "summary") {
				type = "summary"
				journal_id = 3
			}
			else if(val.type === "currency_summary") {
				type = "currency_summary"
				journal_id = 3
			}
			else if(val.type === "hr_contract") {
				type = "hr_contract"
				journal_id = 3
			}
			else {
				journal_id = val.value
				type = val.type
			}
			this.journal_id = journal_id;
			// if (this.journal_id !== 3){
			// 	this.fetchDocumentsList({ journal_id: journal_id, type: type });
			// }else {
			// 	this.fetchDocumentsList({ journal_id: journal_id, type: null });
			// }
			this.fetchDocumentsList({ journal_id: journal_id, type: type});
			this.$router.replace({
			  query: {
			  	...this.$route.query,
			    type: type,
			    journal_id: journal_id,
				  page: null
			  }
			}).catch(() => {})
			this.filterPagination.page = 1
		},
	  /**/
	  filter() {
		  this.$router.replace({
			  query: {
				  ...this.$route.query,
				  page: null
			  }
		  }).catch(() => {});

	    if (this.$route.query.journal_id && this.$route.query.type){
		    if (+this.$route.query.journal_id !== 6 && !['organization_letter', 'notice'].includes(this.$route.query.type)){
			    this.documentTypeSelected = this.documentsTypeList.find(x => x.type === this.$route.query.type && x.value === +this.$route.query.journal_id);
		    }else {
			    this.documentTypeSelected = this.documentsTypeList.find(x => x.type === this.$route.query.type);
		    }
	    }

		  this.fetchDocumentsList({...this.filterState, ...this.$route.query})
	  },
	  filterUpdate() {
		  this.$router.replace({
			  query: {
				  journal_id: 3,
				  type: "service_letter"
			  }
		  }).catch(() => {})
		  this.documentTypeSelected = {
			  title: this.$t('document-flow.views.send-document.interior'),
			  value: 3
		  }
		  this.filter()
	  },
	  /**/
	  deleteDocument(event, item){
	  	event.stopImmediatePropagation();
		  if (item.is_signed === true){
		  	this.$toast.error(this.$t('document-flow.views.send-document.document-signed'))
			  return;
		  }else {
			  if(!confirm(this.$t('document-flow.views.send-document.delete-confirmation'))) {
				  return;
			  }

		  	this.fetchDeleteDocument(item)
			  .then(() => {
			  	this.$toast.success(this.$t('document-flow.views.send-document.deleted'))
				  this.fetchDocumentsList({journal_id: this.documentTypeSelected.value});
			  })
			  .catch(err => {
				  this.$toast.error(this.$t('document-flow.views.send-document.error'))
			  })
		  }
	  },
    /*
    *
    * */
    openRoute(item) {
      // Заявление
      if(item.journal_id === 7) {
        this.$router.push({
          name: "SendingDocumentsShow",
          params: {
            id: item.id
          },
          query: {
            type: "vacation"
          }
        })

        return;
      }

      // Созданные приказы
      if(item.type === "hr_order") {
        this.$router.push({
          name: "SendingDocumentsShow",
          params: {
            id: item.id
          },
          query: {
            type: "hr_order"
          }
        })

        return;
      }

      if(item.type === "hr_notice") {
        this.$router.push({
          name: "SendingDocumentsShow",
          params: {
            id: item.id
          },
          query: {
            type: "job"
          }
        })

        return;
      }

	    if(item.type === "hr_rotation") {
		    this.$router.push({
			    name: "SendingDocumentsShow",
			    params: {
				    id: item.id
			    },
			    query: {
				    type: "hr_rotation"
			    }
		    })

		    return;
	    }

	    if(item.type === "credit_committee" && item.sub_type !== 'joint_protocol') {
		    this.$router.push({
			    name: "SendingDocumentsShow",
			    params: {
				    id: item.id
			    },
			    query: {
				    type: "committee_protocol"
			    }
		    })

		    return;
	    }

	    if(item.type === "credit_committee" && item.sub_type === 'joint_protocol') {
		    this.$router.push({
			    name: "SendingDocumentsShow",
			    params: {
				    id: item.id
			    },
			    query: {
				    type: "joint_protocol"
			    }
		    })

		    return;
	    }

	    if(item.type === "organization_letter") {
		    this.$router.push({
			    name: "SendingDocumentsShow",
			    params: {
				    id: item.id
			    },
			    query: {
				    type: "organization_letter"
			    }
		    })

		    return;
	    }

	    if(item.type === "hr_contract") {
		    this.$router.push({
			    name: "SendingDocumentsShow",
			    params: {
				    id: item.id
			    },
			    query: {
				    type: "hr_contract"
			    }
		    })

		    return;
	    }

	    if(item.type === "summary") {
		    this.$router.push({
			    name: "SendingDocumentsShow",
			    params: {
				    id: item.id
			    },
			    query: {
				    type: "leadership"
			    }
		    })

		    return;
	    }

	    if(item.type === "currency_summary") {
		    this.$router.push({
			    name: "SendingDocumentsShow",
			    params: {
				    id: item.id
			    },
			    query: {
				    type: "currency_summary"
			    }
		    })

		    return;
	    }

	    if(item.type === "compliance_regulation") {
		    this.$router.push({
			    name: "SendingDocumentsShow",
			    params: {
				    id: item.id
			    },
			    query: {
				    type: "compliance_regulation"
			    }
		    })

		    return;
	    }

      this.$router.push({
        name: 'SendingDocumentsShow',
        params: {
          id: item.id
        },
        query: {
          type: this.documentTypeSelected.value === 3 && item.receiver !== null
            ? 'inner'
	          : this.documentTypeSelected.value === 8 && item.type === "decree"
		          ? 'decree'
            : this.documentTypeSelected.value === 6
              ? 'protocol'
              : item.receiver === null
                ? 'leadership'
                : 'outgoing'
        }
      })
    },
    /*
    *
    * */
    paginate(value) {
	    let query = { ...this.filteredState, ...this.$route.query,  page: value }
	    this.filterPagination.page = value

	    this.$router.replace({
		    query: query
	    }).catch(() => {})

	    this.fetchDocumentsList({
		    ...query
	    })
    },
		/**/
		showContent(event, item){
			event.stopImmediatePropagation();
			this.dialogText = item.text;
			this.dialog = true;
		},
		/** **/
		exportToExcel(model){
			this.exportExcelButtonLoading = true;
			this.$axios.get(`/docflow/${this.currentUser.filial}/export/compose/`, {
				params: model,
				responseType: "blob"
			})
				.then(response => {
					const url = window.URL.createObjectURL(new Blob([response?.data]));
					const fileName = `${this.$t(
						"control-tasks.tasks.reports"
					)}-${new Date()
						.toISOString()
						.replace(/T/, "-")
						.replace(/:/, "-")
						.slice(0, 16)}.xls`;
					const link = document.createElement("a");
					link.href = url;
					link.setAttribute("download", fileName);
					document.body.appendChild(link);
					link.click();
					document.body.removeChild(link);
				})
				.catch(err => {
					console.log(err);
					this.exportExcelButtonLoading = false;
				})
				.finally(() => {
					this.exportExcelButtonLoading = false;
			})
		},
		/**/
		returnStatus(status){
			switch (status){
				case 'approved':
					return this.$t('document-flow.views.send-document.approved');
				case 'pending':
					return this.$t('document-flow.views.send-document.pending');
				case 'declined':
					return this.$t('document-flow.views.send-document.declined')
				case 'for_registration':
					return this.$t('document-flow.views.send-document.for-registration')
				case 'draft':
					return this.$t('document-flow.views.send-document.draft')
				default:
					return null
			}
		},
		/**/
		returnTypeText(item){
			return item.type === 'act' ? this.$t('document-flow.views.send-document.act')
        : item.sub_type === "arbitrary_order" ? this.$t('arbitrary-order') : item.type === 'hr_rotation' ? this.$t('document-flow.views.send-document.rotation')
				: item.type === 'hr_order' ? this.$t('document-flow.views.send-document.hr-order')
					: item.type === 'notice' ? this.$t('document-flow.views.send-document.report')
						: item.type === 'decree' ? this.$t('document-flow.views.send-document.orders')
							: item.journal_id === 7 ? this.$t('document-flow.views.send-document.statement')
								: item.type === 'protocol' ? this.$t('document-flow.views.send-document.board-protocol')
									: item.type === 'summary' ? this.$t('document-flow.views.send-document.summary')
										: item.type === 'hr_notice' ? this.$t('document-flow.views.send-document.job-application-report')
											: item.type === 'hr_contract' ? this.$t('hr_contract')
												: item.type === 'credit_committee' && item.sub_type === 'finance' ? this.$t('document-flow.views.send-document.financing')
													: item.type === 'credit_committee' && item.sub_type === 'monitoring' ? this.$t('document-flow.views.send-document.monitoring')
														: item.type === 'credit_committee' && item.sub_type === 'kuap' ? 'APBQ'
															: item.type === 'credit_committee' && item.sub_type === 'invest' ? this.$t('document-flow.views.send-document.investment')
																	: item.type === 'credit_committee' && item.sub_type === 'project_office' ? this.$t('document-flow.views.send-document.by-project-and-product')
																		: item.type === 'credit_committee' && item.sub_type === 'purchase_commission' ? this.$t('document-flow.views.send-document.purchasing-commission')
																			: item.type === 'currency_summary' ? 'Valyuta sotib olish bo\'yicha'
																				: item.type === 'credit_committee' && item.sub_type === 'charity_commission' ? 'Xayriya komissiyasi'
																					: item.type === 'credit_committee' && item.sub_type === 'capital_invest' ? 'Capital invest'
																						: item.type === 'credit_committee' && item.sub_type === 'hr_teaching' ? 'Xodimlarni o\'qitish'
																							: item.type === 'credit_committee' && item.sub_type === 'anti_corruption' ? 'Korrupsiyaga qarshi kurash'
																								: item.type === 'credit_committee' && item.sub_type === 'joint_protocol' ? this.$t('joint_protocol')
																									: item.type === 'compliance_regulation' || item.sub_type === 'compliance_regulation' ? 'Ichki meyoriy xujjat'
																										: this.$t('document-flow.views.send-document.service-letter')
		}
  }
}
</script>
