<template>
  <div>
    <v-row>
      <v-col md="3">
        <app-autocomplete
	        v-if="currentUser.filial"
          v-model="$v.model.__departmentList.$model"
          :error="$v.model.__departmentList.$error"
          api-list-url="/departments/department_without_children/"
          :api-params="{
            filial: currentUser.filial,
            page_size: 50
          }"
          item-text="name"
          item-value="id"
          return-object
          list-type="list"
          cache-items
          clearable
          multiple
          :disabled="Boolean($route.query.readonly)"
          :placeholder="$t('document-flow.views.send-document.department')"
	        :disableItemUsed="true"
	        :item-disabled="(item) => item.isDisabled"
        />
<!--	      :item-disabled="(item) => (item.isDisabled || item.name === currentUser.top_level_dept_name)"-->

        <template v-if="Boolean($route.query.readonly)">
          <div class="d-flex flex-wrap grid-gap-sm mt-4">
            <template v-for="item in model.__departmentList">
              <v-chip
                color="primary"
              >
                {{ item.name }}
              </v-chip>
            </template>
          </div>
        </template>
      </v-col>

	    <v-col md="3">
        <v-select
          v-model="$v.model.type.$model"
          :error="$v.model.type.$error"
          :items="letterTypeList"
          item-text="title"
          item-value="value"
          outlined
          background-color="var(--input-bg)"
          :placeholder="$t('document-flow.views.send-document.type-letter')"
          hide-details
          :disabled="Boolean($route.query.readonly)"
          @input="() => model.type === 'notice' ? model.short_description : model.short_description = ''"
        >
          <template #append>
            <chevron-down-icon size="20" color="#B0BDC2" />
          </template>
        </v-select>
      </v-col>

	    <v-col md="3">
		    <v-text-field
			    v-if="currentUser.filial !== '09013'"
			    v-model="model.register_number"
			    :placeholder="$t('document-flow.views.send-document.number-document')"
			    hide-details
			    outlined
			    :disabled="Boolean($route.query.readonly)"
			    background-color="var(--input-bg)"
		    ></v-text-field>

		    <register-number
			    v-else
			    v-model="model.register_number"
			    :value="model.register_number"
			    @getRegisterNumber="getRegisterNumber"
			    :api-url="`/docflow/${currentUser.filial}/get-register-number/`"
		    />
	    </v-col>


<!--      <template v-if="model.type === 'notice'">-->
        <v-col md="3">
          <v-text-field
            v-model="$v.model.short_description.$model"
            :error="$v.model.short_description.$error"
            :placeholder="$t('document-flow.views.send-document.short-description')"
            hide-details
            outlined
            :disabled="Boolean($route.query.readonly)"
            background-color="var(--input-bg)"
          ></v-text-field>
        </v-col>
<!--      </template>-->

	    <v-col md="3">
		    <v-select
			    v-model="$v.model.priority.$model"
			    :error="$v.model.priority.$error"
			    :items="$store.state.priorityListForCompose"
			    item-text="title"
			    item-value="value"
			    outlined
			    hide-details
			    clearable
			    background-color="var(--input-bg)"
			    :placeholder="$t('document-flow.views.registration.document-priority')"
		    >
			    <template #append>
				    <v-icon>mdi-chevron-down</v-icon>
			    </template>
		    </v-select>
	    </v-col>

      <v-col md="3">
        <v-text-field
          :value="currentUser.top_level_dept_name"
          :placeholder="$t('document-flow.views.send-document.number-document')"
          hide-details
          outlined
          readonly
          background-color="var(--input-bg)"
        ></v-text-field>
      </v-col>
    </v-row>

    <div class="input-bg mt-5 rounded-20">
      <div class="pa-4 pb-1">
        <div class="app-tab">
          <v-tabs
            v-model="tab"
            hide-slider
            height="36"
            color="#fff"
          >
            <v-tab>
              <div class="d-flex align-center px-3">
                <type-icon size="16" class="mr-2" />
                <span class="text-transform-none small-2 line-base font-400">{{$t('document-flow.views.send-document.text')}}</span>
              </div>
            </v-tab>

            <v-tab>
              <div class="d-flex align-center px-3">
                <paperclip-icon size="16" class="mr-2" />
                <span class="text-transform-none small-2 line-base font-400">{{$t('document-flow.views.send-document.file')}}</span>
              </div>
            </v-tab>
          </v-tabs>
        </div>
      </div>

      <v-tabs-items class="app-tab-items" v-model="tab">
        <v-tab-item>
<!--          <quill-editor-->
<!--            v-model="$v.model.text.$model"-->
<!--            :error="$v.model.text.$error"-->
<!--            :disabled="Boolean($route.query.readonly)"-->
<!--          />-->
	        <app-editor
		        v-model="$v.model.text.$model"
		        :error="$v.model.text.$error"
		        :disabled="Boolean($route.query.readonly)"
	        />

	        <div class="bg-white pt-5">
		        <resolution-content-modal
			        :has-filial="false"
			        api-url="action/short-descriptions/"
			        :api-params="{ type: 'template' }"
			        title-dialog="components.add-template"
			        @emit:up="(text) => model.text = text.description"
		        />
	        </div>
        </v-tab-item>

        <v-tab-item>
	        <file-upload-for-sending-document :files="files" @uploadFiles="uploadFiles" @deleteFile="deleteFile" />
<!--          <div class="pa-4">
            <div class="d-flex align-center flex-wrap">
              <div class="d-flex flex-wrap">
                <template v-for="(item, index) in files">
                  <v-sheet
                    :key="item.id"
                    height="40"
                    style="border-color: var(&#45;&#45;primary-1);"
                    class="d-flex align-center border-all rounded-15 overflow-hidden pl-4 mr-5 mb-2"
                  >
                    <img src="/img/icons/doc-icon.svg" alt="Icon">
                    <span class="small-2 ml-2 mr-3 font-500 text-truncate" style="max-width: 100px">{{ item.name }}</span>
                    <v-btn
                      text
                      color="error"
                      width="36"
                      min-width="36"
                      height="36"
                      @click="deleteFile(index)"
                    >
                      <x-icon size="18" />
                    </v-btn>
                  </v-sheet>
                </template>
              </div>

              <template v-if="!Boolean($route.query.readonly)">
                <div class="d-flex mb-2">
                  <v-file-input
                    @change="uploadFiles"
                    id="fileUpload"
                    multiple
                    prepend-icon=""
                    outlined
                    hide-details
                    clear-icon=""
                    class="flex-grow-0 d-none"
                  />

                  <label for="fileUpload" class="d-flex align-center">
                  <span class="primary-bg text-white small-2 px-4 rounded d-flex align-center pointer" style="height: 40px">
                    <plus-icon size="20" />
                    <span class="line-base ml-2">Добавить файл</span>
                  </span>
                  </label>
                </div>
              </template>
            </div>
          </div>-->
        </v-tab-item>
      </v-tabs-items>
    </div>

    <div>
      <v-row>
        <v-col md="6">
          <app-autocomplete
            v-model="agreedList"
            api-list-url="/user/search/"
            :api-params="{
              role: true
            }"
            item-text="full_name"
            return-object
            cache-items
            clearable
            :placeholder="$t('document-flow.views.send-document.agreement')"
            :item-disabled="getDisableItems"
            multiple
            :disabled="Boolean($route.query.readonly)"
            class="mt-5"
          />

          <template v-if="Boolean($route.query.readonly)">
            <div class="d-flex flex-wrap grid-gap-sm mt-4">
              <template v-for="item in agreedList">
                <v-chip
                  v-if="item.user"
                  dark
                  :color="item.user.color"
                >
                  {{ item.user ? item.user.full_name : item.full_name }}
                </v-chip>
              </template>
            </div>
          </template>
        </v-col>

        <v-col md="6">
          <app-autocomplete
            v-model="$v.signersList.$model"
            :error="$v.signersList.$error"
            api-list-url="/user/search/"
            :api-params="{
              role: true
            }"
            item-text="full_name"
            return-object
            cache-items
            clearable
            :placeholder="$t('document-flow.views.send-document.select-signatory')"
            :item-disabled="getDisableItems"
            multiple
            :disabled="Boolean($route.query.readonly)"
            class="my-5"
          />

          <template v-if="Boolean($route.query.readonly)">
            <div class="d-flex flex-wrap grid-gap-sm mt-4">
              <template v-for="item in signersList">
                <v-chip
                  v-if="item.user"
                  dark
                  :color="item.user.color"
                >
                  {{ item.user ? item.user.full_name : item.full_name }}
                </v-chip>
              </template>
            </div>
          </template>

          <!--          <app-table-->
          <!--            v-if="Boolean($route.query.readonly) || Boolean($route.query.edit)"-->
          <!--            bordered-->
          <!--          >-->
          <!--            <template #tableHeader>-->
          <!--              <th width="75">№</th>-->
          <!--              <th>Подписант</th>-->
          <!--              <th width="75">События</th>-->
          <!--            </template>-->

          <!--            <template #tableBody>-->
          <!--              <tr-->
          <!--                v-for="(item, index) in model.signersList"-->
          <!--                class="text-dark font-500"-->
          <!--              >-->
          <!--                <td>{{ index + 1 }}</td>-->
          <!--                <td>-->
          <!--                  {{ item.user.full_name }}-->
          <!--                </td>-->
          <!--                <td>-->
          <!--                  <app-button-->
          <!--                    v-if="!Boolean($route.query.readonly)"-->
          <!--                    icon-->
          <!--                    color="error"-->
          <!--                    min-width="40"-->
          <!--                    height="40"-->
          <!--                    width="40"-->
          <!--                    @click="deleteSigner(index)"-->
          <!--                  >-->
          <!--                    <trash2-icon size="18" />-->
          <!--                  </app-button>-->
          <!--                </td>-->
          <!--              </tr>-->
          <!--            </template>-->
          <!--          </app-table>-->
        </v-col>
      </v-row>
    </div>

    <div class="mt-10">
      <app-button color="error" @click="$router.go(-1)">
        <template #prepend>
          <arrow-left-icon size="20" />
        </template>
        {{$t('document-flow.views.send-document.back')}}
      </app-button>

      <app-button class="mx-3" @click="preview">
        <template #prepend>
          <eye-icon size="20" />
        </template>
        {{$t('document-flow.views.send-document.view-document')}}
      </app-button>

      <template v-if="!Boolean($route.query.readonly)">
        <app-button outlined @click="resetForm">
          {{$t('document-flow.views.send-document.clear-form')}}
        </app-button>
      </template>

      <v-dialog
        v-model="dialog"
        width="595"
        content-class="generate-wrap reset-dialog-style"
      >
        <div>
	        <div class="bg-white d-flex w-100 justify-end">
		        <app-button
			        icon
			        color="error"
			        min-width="40"
			        width="40"
			        height="40"
			        tile
			        @click="dialog = false"
			        class="p-absolute"
			        style="top: 0; right: 0;"
		        >
			        <x-icon/>
		        </app-button>
	        </div>
          <div class="generate-pdf-area overflow-y-auto bg-4 mb-5 pa-10 p-relative d-flex flex-column">
            <div>
              <v-row>
                <v-col md="8">
                  <img src="/img/logo_asaka_3.svg" alt="Logo Asakabank" class="mt-2 mb-5">

                  <div
                    class="brand-actions d-flex align-center py-2 pr-5 p-relative text-dark small-3 font-600 p-relative pl-10"
                    style="left: -40px"
                  >
                    <span>{{ currentUser.top_level_dept_name }}</span>
                  </div>

                  <div class="d-flex tiny mt-4 text-dark font-600">
                    <!--                    <span class="mr-2">08.06.2022</span>-->
                    <span>№ {{ model.register_number }}</span>
                  </div>
                </v-col>
              </v-row>

              <!--              <v-row>-->
              <!--                <v-col md="3" class="pr-0">-->
              <!--                  <img src="/img/document-logo.svg" alt="Document logo">-->

              <!--                  <div class="d-flex tiny mt-4 text-dark font-600">-->
              <!--                    <span class="mr-2">08.06.2022</span>-->
              <!--                    <span>№ 432-87</span>-->
              <!--                  </div>-->
              <!--                </v-col>-->

              <!--                <v-col md="9">-->
              <!--                  <div class="tiny font-500 pl-5 mb-5" style="border-left: 1px solid #FC1A1A; line-height: 2">-->
              <!--                    "Asokobonk" oksi godorlik iomivoli zorofshon filioli 21O3OO,-->
              <!--                    Zorof shon shohor, 4-kichik iumoni, A.Navoig ko'chosi, 22A-->
              <!--                  </div>-->

              <!--                  <div-->
              <!--                    class="brand-actions d-flex align-center grid-gap-md py-2 px-5 p-relative"-->
              <!--                  >-->
              <!--                    <div class="d-flex align-center flex-1">-->
              <!--                      <phone-call-icon size="12" color="#bbb" class="mr-2" />-->
              <!--                      <span class="brand-actions-text text-dark">78 147-65-20</span>-->
              <!--                    </div>-->

              <!--                    <div class="d-flex align-center flex-1">-->
              <!--                      <globe-icon size="12" color="#bbb" class="mr-2" />-->
              <!--                      <span class="brand-actions-text text-dark">asakabank.uz</span>-->
              <!--                    </div>-->

              <!--                    <div class="d-flex align-center flex-1">-->
              <!--                      <mail-icon size="12" color="#bbb" class="mr-2" />-->
              <!--                      <span class="brand-actions-text text-dark">zarafshon@asakabank.uz</span>-->
              <!--                    </div>-->
              <!--                  </div>-->

              <!--                  <span class="brand-actions-sub-title">Ushbu blankda yozilgon xabarlar "Asakabank" AJga moliyaviy majburiyatlarni yuklamaydi</span>-->
              <!--                </v-col>-->
              <!--              </v-row>-->
            </div>

            <div class="mt-10 pt-5">
              <template v-for="item in model.__departmentList">
                <p class="font-600 small-3 mb-1 text-right">{{ item.name }}</p>
              </template>
              <!--              <span class="tiny text-dark font-600">-->
              <!--                "Asakabank" AJ Boshqaruv <br>-->
              <!--                Raisi o'rinbosari <br>-->
              <!--                B.Sh'Sharipovga <br>-->
              <!--              </span>-->
            </div>

            <div class="text-center small-2 text-dark font-600 my-7">
              {{ model.type === 'notice' ? 'BILDIRISHNOMA' : model.type === 'decree' ? 'FARMOYISH' : 'XIZMAT XATI' }}
            </div>

<!--            <template v-if="model.short_description">-->
<!--              <i class="small-3 d-block text-dark font-500 mb-1" style="text-indent: 30px">-->
<!--                Qisqacha mazmuni: <span class="text-decoration-underline">{{ model.short_description }}</span>-->
<!--              </i>-->
<!--            </template>-->

            <span
              v-html="model.text"
              class="small-3 d-block text-dark font-500 text-justify"
              style="line-height: 20px; text-indent: 30px"
            ></span>

            <div class="mt-10 pt-10">
              <template v-for="item in signersList">
                <div class="d-flex align-center justify-space-between text-dark small-3 mb-1 font-600">
                  <template v-if="!item.hasOwnProperty('user')">
                    <span>{{ item.position }}</span>
                    <span>{{ item.first_name && item.first_name | getFirstCharacter }} {{ item.last_name }}</span>
                  </template>

                  <template v-else>
                    <span class="font-600">{{ item.user && item.user.position }}</span>
                    <span>
                      {{ item.user && item.user.first_name | getFirstCharacter }}
                      {{ item.user.last_name }}
                    </span>
                  </template>
                </div>
              </template>
            </div>

            <div v-if="currentUser" class="mt-auto small-3 font-600">
              Ijrochi: {{ currentUser.first_name && currentUser.first_name | getFirstCharacter }} {{ currentUser.last_name }} <br>
              Tel: {{ currentUser.cisco }}
              <!--              Ijrochi N.M.Halimov <br>-->
              <!--              Tel.: 78) 147-65-65 (ichki raqam 3499) <br>-->
              <!--              @: zarafshon@asakank.uz-->
            </div>
          </div>

          <div class="d-flex grid-gap-md justify-center">
            <app-button
              depressed
              color="success"
              @click="saveAsDraft"
            >
              <template #prepend>
                <file-text-icon size="18" />
              </template>
              {{$t('document-flow.views.send-document.save-draft')}}
            </app-button>

            <app-button
              outlined
              color="#fff"
              @click="dialog = false"
            >
              <template #prepend>
                <edit2-icon size="18" />
              </template>
              {{$t('document-flow.views.send-document.edit')}}
            </app-button>

            <template v-if="!Boolean($route.query.readonly)">
              <app-button @click="send" :loading="loading">
                <template #prepend>
                  <v-icon size="18">{{ "$vuetify.icons.SendIcon" }}</v-icon>
                </template>
                {{$t('document-flow.views.send-document.send')}}
              </app-button>
            </template>
          </div>
        </div>
      </v-dialog>
    </div>
  </div>
</template>

<script>
import {
ArrowLeftIcon, ChevronDownIcon, Edit2Icon, EyeIcon, FileIcon, FileTextIcon, GlobeIcon,
MailIcon, PaperclipIcon, PhoneCallIcon, PlusIcon, Trash2Icon, TypeIcon, XIcon
} from "vue-feather-icons";

import { required } from "vuelidate/lib/validators";
import { mapGetters } from "vuex";
import { toMonthNameUzb } from "../../../../common/helpers";
import FileUploadForSendingDocument from "./components/FileUploadForSendingDocument";
import RegisterNumber from "./components/RegisterNumber";
import ResolutionContentModal from "@/common/components/ResolutionContentModal.vue";

export default {
  name: "InnerFormCreate",
  components: {
	  ResolutionContentModal,
    TypeIcon,
    PaperclipIcon,
    PlusIcon,
    FileIcon,
    XIcon,
    ArrowLeftIcon,
    PhoneCallIcon,
    GlobeIcon,
    MailIcon,
    Edit2Icon,
    ChevronDownIcon,
    EyeIcon,
    Trash2Icon,
	  FileTextIcon,
	  FileUploadForSendingDocument,
	  RegisterNumber
  },
  data() {
    return {
      tab: null,
      files: [],
      dialog: false,
	    tempDepartmentList: [],
      letterTypeList: [
        // {
        //   title: "Bildirishnoma",
        //   value: "notice"
        // },
        // {
        //   title: "Фармойиш",
        //   value: "decree"
        // },
        {
          title: this.$t('document-flow.views.send-document.service-letter'),
          value: "service_letter"
        },
      ],
      model: {
        type: "service_letter",
        register_number: null,
        short_description: "",
        text: "",
        files: [],
        receiver_type: "department",
        journal_id: 3,
        // branches: [],
        departments: [],
        agreed_by: [],
        signed_by: [],
        sender: "",
        __departmentList: [],
	      reply_document_id: this.$route.query.reply_document_id ? this.$route.query.reply_document_id : null,
	      priority: null
      },
      agreedList: null,
      signersList: null,
      loading: false
    }
  },
  validations: {
    model: {
	    // register_number: { required },
      type: { required },
      text: { required },
	    short_description: { required },
	    priority: { required },
      __departmentList: { required }
    },
    signersList: { required },
  },
  computed: {
    ...mapGetters({
      getDisableItems: "getDisableItems",
      currentUser: "auth/getCurrentUser"
    })
  },
  mounted() {
  	this.getDepartmentList();
    if(this.$route.params.id) {
      this.fetchGetOne(this.$route.params.id)
    }

    setTimeout(() => {
      // this.model.sender = this.currentUser.top_level_dept_name;
      if (this.$route.query.register_date){
      	this.loadAnswerLetter();
      }
    }, 1000)

  },
  methods: {
	  saveAsDraft() {
		  let model = {
			  ...this.model,
        status: "draft",
			  sender: this.currentUser.top_level_dept_name,
			  text: this.model.text.replace(/<br\s*[\/]?>/gi, '<br/>'),
			  type: this.model.type.value ? this.model.type.value : this.model.type,
			  dept_code: this.currentUser.top_level_dept
		  }

		  this.$http.post(`/docflow/${this.currentUser.filial}/compose/`, model)
		  .then(({ data }) => {
			  this.$toast.success(this.$t('document-flow.views.send-document.draft-created'))

			  this.dialog = false
			  this.loading = false

			  this.$router.push({
				  name: "SendDocumentNew"
			  })
		  })
		  .catch(() => {
			  // this.$toast.error(this.$t('document-flow.views.send-document.error-sending-document'))
			  this.loading = false
		  })
	  },
    /*
    *
    * */
    send() {
      this.$v.$touch();

      if (this.$v.$invalid) {
      	this.$toast.warning(this.$t('document-flow.views.send-document.field-is-required'))
        return;
      }

      let model = {
        ...this.model,
	      status: "pending",
        sender: this.currentUser.top_level_dept_name,
        text: this.model.text.replace(/<br\s*[\/]?>/gi, '<br/>'),
	      type: this.model.type.value ? this.model.type.value : this.model.type,
	      dept_code: this.currentUser.top_level_dept
      }

      this.$http.post(`/docflow/${this.currentUser.filial}/compose/`, model)
        .then(({ data }) => {
          this.$toast.success(this.$t('document-flow.views.send-document.document-sent'))

          this.dialog = false
          this.loading = false

	        // Agar soglasovaniya bo'lmasa
	        if(!this.model.agreed_by.length) {
		        let signer_id = data.signed_by.find(signer => signer.user.id === this.currentUser.id)

		        if(signer_id) {
			        this.$router.push({
				        name: "SignFormShow",
				        params: {
					        id: signer_id.id
				        },
				        query: {
					        compose_id: data.id,
					        type: "inner"
				        }
			        })

			        this.$toast.success(this.$t("please-sign-document"), { timeout: 5000 })

			        return
		        }
	        }

          this.$router.push({
            name: "SendDocumentNew"
          })
        })
        .finally(() => {
          // this.$toast.error(this.$t('document-flow.views.send-document.error-sending-document'))
          this.loading = false
        })
    },
    /*
    *
    * */
    fetchGetOne(id) {
      this.$http.get(`/docflow/${this.currentUser.filial}/compose/${id}/`)
        .then(({ data }) => {
          this.model.type = data.type
          this.model.register_number = data.register_number
          this.model.short_description = data.short_description
          this.model.text = data.text
          this.model.files = data.files
          this.model.receiver_type = data.receiver.type
          this.model.journal_id = data.journal_id
          // this.model.departments = data.receiver.departments
          this.model.sender = data.sender


          this.model.__departmentList = data.receiver.departments
          this.files = data.files

          this.agreedList = [...data.agreed_by]
          this.signersList = [...data.signed_by]
        })
    },
	  /**/
	  getDepartmentList(){
	  	this.$axios.get(`/departments/department_without_children/`, {
	  		params: {
	  			filial: this.currentUser.filial,
				  page_size: 50
			  }
		  }).then(({ data }) => {
		  	this.tempDepartmentList = data.results;
		  })
	  },
    /*
    *
    * */
    preview() {
      this.dialog = !this.dialog
      this.model.departments = []
      this.model.agreed_by = []
      this.model.signed_by = []

      if (this.agreedList){
	      this.agreedList.forEach(item => this.model.agreed_by.push({
		      user: item.id
	      }))
      }

      if (this.signersList){
	      this.signersList.forEach(item => this.model.signed_by.push({
		      user: item.id
	      }))
      }

      this.model.__departmentList.forEach(item => this.model.departments.push(item.id))
    },
    /*
    *
    * */
    uploadFiles(data) {
	    this.files.push(data);
	    this.model.files.push({
		    id: data.id
	    })
    },
    /*
    *
    * */
    deleteFile({ item, index}) {
      this.files.splice(index, 1)
      this.model.files.splice(index, 1)
    },
    /*
    *
    * */
    resetForm() {
      this.model.type = ""
      this.model.register_number = null
      this.model.short_description = ""
      this.model.text = ""
      this.model.files = []
      this.model.departments = []
      this.model.agreed_by = []
      this.model.signed_by = []
      this.model.__departmentList = []
      this.agreedList = []
      this.signersList = []

      this.files = []
    },
	  /**/
	  loadAnswerLetter(){
		  this.model.type = this.letterTypeList[0]
		  this.model.text = "Sizning " + new Date(this.$route.query.register_date).getFullYear() +  "-yil " + new Date(this.$route.query.register_date).getDate() + "-" + toMonthNameUzb(new Date(this.$route.query.register_date).getMonth() +1) + "dagi " + this.$route.query.register_number + " sonli xatingizga javoban,"
	  },
	  /**/
	  getRegisterNumber(val){
		  this.model.register_number = val
	  }


  }
}
</script>
