<template>
  <perfect-scrollbar class="d-flex flex-column flex-1">
    <app-wrapper class="flex-1">
      <template #body>
        <job-application-report-form :form-type="$store.state.formType.update" />
      </template>
    </app-wrapper>
  </perfect-scrollbar>
</template>

<script>
import JobApplicationReportForm from "./components/JobApplicationReportForm"

export default {
  name: "JobApplicationReportUpdate",
  components: {
    JobApplicationReportForm
  }
}
</script>
