<template>
  <job-application-report-form :form-type="$store.state.formType.create" />
</template>

<script>
import JobApplicationReportForm from "./components/JobApplicationReportForm"

export default {
  name: "JobApplicationReportCreate",
  components: {
    JobApplicationReportForm
  }
}
</script>
