<template>
  <leadership-form :form-type="$store.state.formType.create" />
</template>

<script>
import LeadershipForm from "./components/LeadershipForm"

export default {
  name: "LeadershipCreate",
  components: {
    LeadershipForm
  }
}
</script>
