<template>
  <perfect-scrollbar class="d-flex flex-column flex-1">
    <app-wrapper class="flex-1">
      <template #body>
        <leadership-form :form-type="$store.state.formType.read" />
      </template>
    </app-wrapper>
  </perfect-scrollbar>
</template>

<script>
import LeadershipForm from "./components/LeadershipForm"

export default {
  name: "LeadershipShow",
  components: {
    LeadershipForm
  }
}
</script>
