<template>
  <perfect-scrollbar class="d-flex flex-column flex-1">
    <app-wrapper class="flex-1">
      <template #body>
        <div>
          <v-row>
	          <v-col md="3">
		          <v-select
			          v-model="whereToSelect"
			          @change="whereToChange"
			          :items="whereTo"
			          item-text="name"
			          return-object
			          outlined
			          hide-details
			          background-color="var(--input-bg)"
			          disabled
		          >
			          <template #append>
				          <v-icon>mdi-chevron-down</v-icon>
			          </template>
		          </v-select>
	          </v-col>

	          <v-col md="3" :class="whereToSelect && whereToSelect.value === 'to_organization' ? 'd-none' : ''">
		          <v-select
			          v-model="toSelected"
			          @change="toSelectChange"
			          :items="toSelectItems"
			          item-text="name"
			          return-object
			          outlined
			          hide-details
			          background-color="var(--input-bg)"
		          >
			          <template #append>
				          <v-icon>mdi-chevron-down</v-icon>
			          </template>
		          </v-select>
	          </v-col>

            <v-col md="3" :class="toSelected && toSelected.value === 'head_office' ? 'd-none' : ''">
              <app-autocomplete
                v-model="model.__branchesList"
                api-list-url="/filials/"
                :api-params="{
			            condition: 'A'
			          }"
                item-text="name"
                item-value="id"
                return-object
                list-type="list"
                cache-items
                clearable
                multiple
                :disabled="Boolean($route.query.readonly)"
                :placeholder="$t('document-flow.views.send-document.branches')"
                @change="onBranchChange"
              />

              <template>
                <div class="d-flex flex-wrap grid-gap-sm mt-4">
                  <template v-for="item in model.__branchesList">
                    <v-chip
                      color="primary"
                    >
                      {{ item.name }}
	                    <v-icon @click="deleteBranch(item)" size="18" class="ml-2 pointer">mdi-close</v-icon>
                    </v-chip>
                  </template>
                </div>
              </template>
            </v-col>

	          <v-col md="3" v-if="whereToSelect && whereToSelect.value === 'to_filial' && toSelected && toSelected.value === 'head_office' && isHeadOfficeSelected">
		          <app-autocomplete
			          v-if="currentUser.filial"
			          v-model="model.__departmentList"
			          api-list-url="/departments/department_without_children/"
			          :api-params="{
				          condition: 'A',
                  filial: '09013'
				        }"
			          item-text="name"
			          item-value="id"
			          return-object
			          list-type="list"
			          cache-items
                multiple
			          clearable
			          :disabled="Boolean($route.query.readonly) || Boolean(currentUser.filial === '09013')"
			          :placeholder="$t('document-flow.views.send-document.department')"
			          @change="onDepartmentChange"
		          />

		          <template>
			          <div class="d-flex flex-wrap grid-gap-sm mt-4">
				          <template v-if="model.__departmentList && model.__departmentList.length">
					          <template v-for="item in model.__departmentList">
						          <v-chip
							          color="primary"
						          >
							          {{ item.name }}
						          </v-chip>
					          </template>
				          </template>
				          <template v-else>
					          <v-chip
						          v-if="model.__departmentList && model.__departmentList.name"
						          color="primary"
					          >
						          {{ model.__departmentList && model.__departmentList.name }}
					          </v-chip>
				          </template>
			          </div>
		          </template>
	          </v-col>

	          <v-col md="3" v-if="isLeadershipSelected && isHeadOfficeSelected">
		          <app-autocomplete
			          v-model="model.__leadership"
			          api-list-url="/user/search/"
			          :api-params="{
			            role: 'top_management'
			          }"
			          item-text="full_name"
			          return-object
			          cache-items
			          clearable
			          :placeholder="$t('document-flow.views.send-document.to-whom')"
			          :disabled="Boolean($route.query.readonly)"
			          :item-disabled="getDisableItems"
		          />

		          <template>
			          <div v-if="model.__leadership && model.__leadership.full_name" class="d-flex flex-wrap grid-gap-sm mt-4">
				          <v-chip
					          dark
					          color="primary"
				          >
					          {{ model.__leadership.full_name }}
				          </v-chip>
			          </div>
		          </template>

	          </v-col>

<!--            <v-col md="3">
              <v-select
                v-model="$v.model.type.$model"
                :error="$v.model.type.$error"
                :items="letterTypeList"
                item-text="title"
                item-value="value"
                outlined
                background-color="var(&#45;&#45;input-bg)"
                placeholder="Тип письма"
                hide-details
                :disabled="Boolean($route.query.readonly)"
                @input="() => model.type === 'notice' ? model.short_description : model.short_description = ''"
              >
                <template #append>
                  <chevron-down-icon size="20" color="#B0BDC2" />
                </template>
              </v-select>
            </v-col>-->

            <v-col md="3" :class="whereToSelect && whereToSelect.value === 'to_filial' ? '' : 'd-none'">
              <v-text-field
                v-model="model.register_number"
                :placeholder="$t('document-flow.views.send-document.number-document')"
                hide-details
                outlined
                disabled
                background-color="var(--input-bg)"
              ></v-text-field>
            </v-col>

<!--            <template v-if="model.type === 'notice'">-->
              <v-col md="3">
                <v-text-field
                  v-model="$v.model.short_description.$model"
                  :error="$v.model.short_description.$error"
                  :placeholder="$t('document-flow.views.send-document.short-description')"
                  hide-details
                  outlined
                  :disabled="Boolean($route.query.readonly)"
                  background-color="var(--input-bg)"
                ></v-text-field>
              </v-col>
<!--            </template>-->

	          <v-col md="3" :class="whereToSelect && whereToSelect.value === 'to_organization' ? 'd-none' : ''">
		          <v-select
			          v-model="model.priority"
			          :items="$store.state.priorityListForCompose"
			          item-text="title"
			          item-value="value"
			          outlined
			          hide-details
			          background-color="var(--input-bg)"
			          :placeholder="$t('document-flow.views.registration.document-priority')"
		          >
			          <template #append>
				          <v-icon>mdi-chevron-down</v-icon>
			          </template>
		          </v-select>
	          </v-col>

	          <v-col md="3">
		          <v-text-field
			          v-model="model.sender"
			          hide-details
			          outlined
			          readonly
			          background-color="var(--input-bg)"
		          ></v-text-field>
	          </v-col>

	          <v-col md="3" :class="whereToSelect && whereToSelect.value === 'to_filial' ? 'd-none' : ''">
		          <v-select
			          v-model="model.send_by"
			          :items="$store.state.sendType"
			          item-text="title"
			          item-value="value"
			          outlined
			          hide-details
			          background-color="var(--input-bg)"
			          :placeholder="$t('sendType')"
			          @change="toggleSignersAPI"
		          >
			          <template #append>
				          <v-icon>mdi-chevron-down</v-icon>
			          </template>
		          </v-select>
	          </v-col>
          </v-row>

	        <template v-if="whereToSelect && whereToSelect.value === 'to_organization'">
		        <v-row>
			        <v-col md="3">
				        <app-autocomplete
					        v-model="model.__correspondent"
					        api-list-url="/action/correspondent/"
					        :api-params="{is_for_compose: true, page_size: 50}"
					        list-type="list"
					        item-text="organization_name"
					        item-value="id"
					        return-object
					        cache-items
					        :placeholder="$t('document-flow.views.send-document.correspondent')"
				        />
			        </v-col>

			        <v-col md="3">
				        <v-text-field
					        v-model="model.__correspondent_name"
					        hide-details
					        outlined
					        :disabled="Boolean(!model.__correspondent)"
					        background-color="var(--input-bg)"
					        placeholder="Имя корреспондента"
					        :readonly="Boolean($route.query.readonly)"
				        ></v-text-field>
			        </v-col>

			        <v-col v-if="model.send_by === 'chancellery'" md="1">
				        <app-button @click="addCorrespondent" height="50">
					        <template #prepend>
						        <plus-icon size="18" />
					        </template>
					        <template>
						        {{$t('document-flow.views.send-document.add')}}
					        </template>
				        </app-button>
			        </v-col>

			        <v-col md="3" v-if="model.send_by === 'hybrid_mail'">
				        <v-text-field
					        v-model="hybrid_address"
					        hide-details
					        outlined
					        background-color="var(--input-bg)"
					        :placeholder="$t('fullAddress')"
					        :disabled="Boolean(!model.__correspondent_name)"
				        ></v-text-field>
			        </v-col>

			        <v-col md="3" v-if="model.send_by === 'hybrid_mail'">
				        <app-autocomplete
					        v-model="hybrid_region"
					        api-list-url="/action/regions/"
					        list-type="list"
					        item-text="name"
					        return-object
					        @emit:change="regionSelected"
					        cache-items
					        :placeholder="$t('document-flow.views.registration.region')"
					        :disabled="Boolean(!hybrid_address)"
				        />
			        </v-col>

			        <v-col md="3" v-if="model.send_by === 'hybrid_mail'">
				        <v-autocomplete
					        v-model="hybrid_district"
					        :items="districtList"
					        item-text="name"
					        outlined
					        hide-details
					        return-object
					        background-color="var(--input-bg)"
					        :placeholder="$t('document-flow.views.registration.district')"
					        :disabled="Boolean(!hybrid_region)"
				        >
					        <template #append>
						        <v-icon>mdi-chevron-down</v-icon>
					        </template>
				        </v-autocomplete>
			        </v-col>
		        </v-row>
	        </template>

	        <v-row>
		        <v-col md="6" v-if="model.signer_obj && model.signer_obj.length">
			        <app-table
				        bordered
			        >
				        <template #tableHeader>
					        <th width="30">№</th>
					        <th>Имя корреспондента</th>
					        <th width="50">{{$t('document-flow.views.send-document.action')}}</th>
				        </template>

				        <template #tableBody>
					        <tr
						        v-for="(item, index) in model.signer_obj"
						        class="text-dark font-500"
					        >
						        <td>{{ index + 1 }}</td>
						        <td>
							        {{ item.correspondent_name }}
						        </td>
						        <td class="d-flex justify-center align-center">
							        <trash2-icon
								        size="18"
								        color="red"
								        right
								        @click.prevent="deleteItem(item)"
								        class="mt-2"
							        >
								        mdi-trash-can-outline
							        </trash2-icon>
						        </td>
					        </tr>
				        </template>
			        </app-table>
		        </v-col>
	        </v-row>

          <div class="input-bg mt-5 rounded-20">
            <div class="pa-4 pb-1">
              <div class="app-tab">
                <v-tabs
                  v-model="tab"
                  hide-slider
                  height="36"
                  color="#fff"
                >
                  <v-tab>
                    <div class="d-flex align-center px-3">
                      <type-icon size="16" class="mr-2" />
                      <span class="text-transform-none small-2 line-base font-400">{{$t('document-flow.views.send-document.text')}}</span>
                    </div>
                  </v-tab>
<!--	                :disabled="model.send_by === 'hybrid_mail'"-->
                  <v-tab>
                    <div class="d-flex align-center px-3">
                      <paperclip-icon size="16" class="mr-2" />
                      <span class="text-transform-none small-2 line-base font-400">{{$t('document-flow.views.send-document.file')}}</span>
                    </div>

<!--	                  <app-tooltip-->
<!--		                  v-if="model.send_by === 'hybrid_mail'"-->
<!--		                  top-->
<!--	                  >-->
<!--		                  <template #content>-->
<!--			                  <div class="p-relative mr-1" style="z-index: 1; pointer-events: auto!important">-->
<!--				                  <help-circle-icon size="20" color="var(&#45;&#45;text-dark)" class="d-block" />-->
<!--			                  </div>-->
<!--		                  </template>-->
<!--		                  <template #text>-->
<!--			                  {{$t('no-application')}}-->
<!--		                  </template>-->
<!--	                  </app-tooltip>-->
                  </v-tab>
                </v-tabs>
              </div>
            </div>

            <v-tabs-items class="app-tab-items" v-model="tab">
              <v-tab-item>
<!--                <quill-editor-->
<!--                  v-model="$v.model.text.$model"-->
<!--                  :error="$v.model.text.$error"-->
<!--                  :disabled="Boolean($route.query.readonly)"-->
<!--                />-->
	              <app-editor
		              v-model="$v.model.text.$model"
		              :error="$v.model.text.$error"
		              :disabled="Boolean($route.query.readonly)"
	              />

	              <div class="bg-white pt-5">
		              <resolution-content-modal
			              :has-filial="false"
			              api-url="action/short-descriptions/"
			              :api-params="{ type: 'template' }"
			              title-dialog="components.add-template"
			              @emit:up="(text) => model.text = text.description"
		              />
	              </div>
              </v-tab-item>
<!--	            :button-disabled="model.send_by === 'hybrid_mail'"-->
              <v-tab-item>
	              <file-upload-for-sending-document
		              :files="files"
		              :button-text="model.send_by === 'hybrid_mail' ? 'forManagement' : 'document-flow.views.send-document.add-file'"
		              @uploadFiles="uploadFiles"
		              @deleteFile="deleteFile"
	              />

	              <file-upload-for-hybrid
		              v-if="model.send_by === 'hybrid_mail'"
		              :files-for-hybrid="filesForHybrid"
		              @uploadFilesForHybrid="uploadFilesForHybrid"
		              @deleteFileForHybrid="deleteFileForHybrid"
	              />
              </v-tab-item>
            </v-tabs-items>
          </div>
          <div>
            <v-row>
              <v-col md="6">
                <app-autocomplete
                  v-model="agreedList"
                  api-list-url="/user/search/"
                  :api-params="{
                    role: true
                  }"
                  item-text="full_name"
                  return-object
                  cache-items
                  clearable
                  :placeholder="$t('document-flow.views.send-document.agreement')"
                  :item-disabled="getDisableItems"
                  multiple
                  class="my-5"
                />

                <app-table
                  bordered
                >
                  <template #tableHeader>
                    <th width="75">№</th>
                    <th>{{$t('document-flow.views.send-document.agreements')}}</th>
                    <th width="75">{{$t('document-flow.views.send-document.events')}}</th>
                  </template>

                  <template #tableBody>
                    <tr
                      v-for="(item, index) in agreedList"
                      class="text-dark font-500"
                    >
                      <td>{{ index + 1 }}</td>
                      <td>
                        {{ item.user ? item.user.full_name : item.full_name }}
                      </td>
                      <td>
                        <app-button
                          v-if="!Boolean($route.query.readonly)"
                          icon
                          color="error"
                          min-width="40"
                          height="40"
                          width="40"
                          @click="deleteAgreed(index)"
                        >
                          <trash2-icon size="18" />
                        </app-button>
                      </td>
                    </tr>
                  </template>
                </app-table>
              </v-col>

              <v-col md="6">
                <app-autocomplete
	                v-if="toFilial"
                  v-model="signersList"
                  api-list-url="/employee-signers/"
                  :api-params="{
                    role: whereToSelect && whereToSelect.value === 'to_filial' ? 'service_letter' : whereToSelect && whereToSelect.value === 'to_organization' && model.send_by === 'chancellery' ? 'org_letter_chancellery' : 'organization_letter'
                  }"
                  item-text="full_name"
                  return-object
                  cache-items
                  clearable
                  :placeholder="$t('document-flow.views.send-document.select-signatory')"
                  :item-disabled="getDisableItems"
                  multiple
                  class="my-5"
                />

                <app-table
                  bordered
                >
                  <template #tableHeader>
                    <th width="75">№</th>
                    <th>{{$t('document-flow.views.send-document.signatory')}}</th>
                    <th width="75">{{$t('document-flow.views.send-document.events')}}</th>
                  </template>

                  <template #tableBody>
                    <tr
                      v-for="(item, index) in signersList"
                      class="text-dark font-500"
                    >
                      <td>{{ index + 1 }}</td>
                      <td>
                        {{ item.user ? item.user.full_name : item.full_name }}
                      </td>
                      <td>
                        <app-button
                          v-if="!Boolean($route.query.readonly)"
                          icon
                          color="error"
                          min-width="40"
                          height="40"
                          width="40"
                          @click="deleteSigner(index)"
                        >
                          <trash2-icon size="18" />
                        </app-button>
                      </td>
                    </tr>
                  </template>
                </app-table>
              </v-col>
            </v-row>
          </div>

          <div class="mt-10">
            <app-button color="error" @click="$router.go(-1)">
              <template #prepend>
                <arrow-left-icon size="20" />
              </template>
              {{$t('document-flow.views.send-document.back')}}
            </app-button>

            <app-button class="mx-3" @click="preview">
              <template #prepend>
                <eye-icon size="20" />
              </template>
              {{$t('document-flow.views.send-document.view-document')}}
            </app-button>

            <template v-if="!Boolean($route.query.readonly)">
              <app-button outlined @click="resetForm">
                {{$t('document-flow.views.send-document.clear-form')}}
              </app-button>
            </template>

            <v-dialog
              v-model="dialog"
              width="595"
              content-class="generate-wrap reset-dialog-style"
            >
              <div>
	              <div class="bg-white d-flex w-100 justify-end">
		              <app-button
			              icon
			              color="error"
			              min-width="40"
			              width="40"
			              height="40"
			              tile
			              @click="dialog = false"
			              class="p-absolute"
			              style="top: 0; right: 0;"
		              >
			              <x-icon/>
		              </app-button>
	              </div>
                <div class="generate-pdf-area overflow-y-auto bg-4 mb-5 pa-10 p-relative d-flex flex-column">
                  <div>
	                  <v-row>
		                  <template v-if="whereToSelect.value === 'to_filial'">
			                  <v-col md="8">
				                  <img src="/img/logo_asaka_3.svg" alt="Logo Asakabank" class="mt-2 mb-5">

				                  <div
					                  class="brand-actions d-flex align-center py-2 pr-5 p-relative text-dark small-3 font-600 p-relative pl-10"
					                  style="left: -40px"
				                  >
					                  <span>{{ sender }}</span>
				                  </div>

				                  <div class="d-flex tiny mt-4 text-dark font-600">
					                  <!--                    <span class="mr-2">08.06.2022</span>-->
					                  <span>№ {{ model.register_number }}</span>
				                  </div>
			                  </v-col>
		                  </template>
		                  <template v-else>
			                  <div class="d-flex">
				                  <img src="/img/document-logo.svg" alt="Logo Asakabank" class="mb-4">
				                  <div class="d-flex flex-column ml-16">
					                  <div class="pl-4 line-base d-flex flex-column" style="border-left: 2px solid red">
						                  <span class="small-3 mb-1">"Asakabank" Aksiyadorlik jamiyati</span>
															<span class="tiny font-400 text-dark">
																{{ currentUserFilial && currentUserFilial.address }}
															</span>
					                  </div>
					                  <div class="brand-actions-for-outgoing mt-5 d-flex align-center justify-space-around">
						                  <div class="d-flex align-center">
							                  <v-icon color="#BBBBBB" size="15">mdi-phone-in-talk-outline</v-icon>
							                  <span class="x-tiny ml-2 text-black font-400">{{ currentUserFilial && currentUserFilial.phone }}</span>
						                  </div>
						                  <div class="d-flex align-center">
							                  <v-icon color="#BBBBBB" size="15">mdi-web</v-icon>
							                  <span class="x-tiny ml-2 text-black font-400">{{ currentUserFilial && currentUserFilial.website }}</span>
						                  </div>
						                  <div class="d-flex align-center">
							                  <v-icon color="#BBBBBB" size="15">mdi-email-outline</v-icon>
							                  <span class="x-tiny ml-2 text-black font-400">{{ currentUserFilial && currentUserFilial.email }}</span>
						                  </div>
					                  </div>
					                  <span class="x-tiny font-400 text-center mt-2">Ushbu blankda yozilgon xabarlar "Asakabank" AJga moliyaviy majburiyatlarni yuklamaydi</span>
				                  </div>
			                  </div>
		                  </template>
	                  </v-row>
                  </div>

	                <div class="pt-5 d-flex justify-end mb-7">
		                <div style="width: 50%">
			                <template v-if="model.send_by === 'hybrid_mail'">
				                <div class="d-flex">
					                <div style="width: 20%" class="font-600 small-3 text-right mr-2">
						                Kimga:
					                </div>

					                <div style="width: 80%" class="font-600 small-3">
						                {{ model.__correspondent_name }}
					                </div>
				                </div>

				                <div class="d-flex mt-2">
					                <div style="width: 20%" class="small-3 text-right mr-2">
						                Manzil:
					                </div>

					                <div style="width: 80%" class="small-3">
						                {{ hybrid_address }}
					                </div>
				                </div>
			                </template>

			                <template v-else>
				                <template v-if="model.__leadership && model.__leadership.first_name">
					                <p class="font-600 small-3 mb-1 text-right">{{ model.__leadership && model.__leadership.position }} <br> {{ model.__leadership && model.__leadership.first_name && model.__leadership.first_name | getFirstCharacter }} {{ model.__leadership && model.__leadership.last_name }}ga</p>
				                </template>
				                <template v-else>
					                <template v-if="model.__departmentList && model.__departmentList.length">
						                <template v-for="item in model.__departmentList">
							                <p class="font-600 small-3 mb-1 text-right">{{ item.name }}</p>
						                </template>
					                </template>
					                <template v-else>
						                <template v-for="item in model.__branchesList">
							                <p class="font-600 small-3 mb-1 text-right">{{ item.name }}</p>
						                </template>
						                <template v-if="model.signer_obj && model.signer_obj.length && whereToSelect.value === 'to_organization'">
							                <template v-for="item in model.signer_obj">
								                <p class="font-600 small-3 mb-1 text-right">
									                {{ item.correspondent_name }}
								                </p>
							                </template>
						                </template>
					                </template>
				                </template>
			                </template>
		                </div>
	                </div>

<!--	                <div v-if="whereToSelect.value === 'to_filial'" class="text-center small-2 text-dark font-600 mb-7">
		                {{ model.type === 'notice' ? 'Bildirishnoma' : model.type === 'decree' ? 'Farmoyish' : 'Xizmat xati' }}
	                </div>-->

<!--                  <template v-if="model.short_description">-->
<!--                    <i class="small-3 d-block text-dark font-500 mb-1" style="text-indent: 30px">-->
<!--                      Qisqacha mazmuni: <span class="text-decoration-underline">{{ model.short_description }}</span>-->
<!--                    </i>-->
<!--                  </template>-->

                  <span
                    v-html="model.text"
                    class="small-3 d-block text-dark font-500 text-justify"
                    style="line-height: 20px; text-indent: 30px"
                  ></span>

                  <div class="mt-10 pt-10">
                    <template v-for="item in signersList">
                      <div class="d-flex align-center justify-space-between text-dark small-3 mb-1 font-600">
                        <template v-if="!item.hasOwnProperty('user')">
                          <span class="d-block" style="width: 50%"><span v-if="whereToSelect && whereToSelect.value === 'to_filial' && toSelected && toSelected.value === 'filial' && !DEP_NAME_NOT_VISIBLE_USER_IDS.includes(item.id)">{{ item.user ? item.user.top_level_dept_name : item.top_level_dept_name }} - </span>
	                          {{ item.position }}</span>
                          <span>{{ item.first_name && item.first_name | getFirstCharacter }} {{ item.father_name && item.father_name | getFirstCharacter }}  {{ item.last_name }}</span>
                        </template>

                        <template v-else>
                          <span class="font-600" style="width: 50%">
	                          <span v-if="whereToSelect && whereToSelect.value === 'to_filial' && toSelected && toSelected.value === 'filial' && !DEP_NAME_NOT_VISIBLE_USER_IDS.includes(item.user.id)">{{ item.user ? item.user.top_level_dept_name : item.top_level_dept_name }} - </span>
	                          {{ item.user && item.user.position }}</span>
                          <span>
                            {{ item.user && item.user.first_name | getFirstCharacter }}
                            {{ item.user.last_name }}
                          </span>
                        </template>
                      </div>
                    </template>
                  </div>

                  <div v-if="currentUser" class="mt-auto small-3 font-600 pt-10">
                    Ijrochi: {{ currentUser.first_name && currentUser.first_name | getFirstCharacter }} {{ currentUser.last_name && currentUser.last_name }} <br>
	                  Tel: <template v-if="whereToSelect.value === 'to_filial'">{{ currentUser.cisco }}</template><template v-else> +998 78 147 65 65 ({{ currentUser.cisco }})</template>
                  </div>
                </div>

                <div class="d-flex grid-gap-md justify-center">
                  <template v-if="model.__status === 'draft'">
                    <app-button
                      depressed
                      color="success"
                      @click="updateDraft"
                    >
                      <template #prepend>
                        <file-text-icon size="18" />
                      </template>
                      {{$t('document-flow.views.send-document.edit-draft')}}
                    </app-button>
                  </template>

                  <app-button
                    outlined
                    color="#fff"
                    @click="dialog = false"
                  >
                    <template #prepend>
                      <edit2-icon size="18" />
                    </template>
                    {{$t('document-flow.views.send-document.edit')}}
                  </app-button>

                  <app-button @click="send" :loading="loading">
                    <template #prepend>
                      <v-icon size="18">{{ "$vuetify.icons.SendIcon" }}</v-icon>
                    </template>
                    {{$t('document-flow.views.send-document.send')}}
                  </app-button>
                </div>
              </div>
            </v-dialog>
          </div>
        </div>
      </template>
    </app-wrapper>
  </perfect-scrollbar>
</template>

<script>
import {
ArrowLeftIcon, ChevronDownIcon, Edit2Icon, EyeIcon,
FileIcon, FileTextIcon,
GlobeIcon, MailIcon,
PaperclipIcon,
PhoneCallIcon,
PlusIcon, Trash2Icon,
TypeIcon,
XIcon,
	HelpCircleIcon
} from "vue-feather-icons";
import { required } from "vuelidate/lib/validators";
import { mapActions, mapGetters } from "vuex";
import FileUploadForSendingDocument from "./components/FileUploadForSendingDocument";
import FileUploadForHybrid from "./components/FileUploadForHybrid.vue";
import ResolutionContentModal from "@/common/components/ResolutionContentModal.vue";
import {DEP_NAME_NOT_VISIBLE_USER_IDS} from "../../../../common/constants";

export default {
  name: "OutgoingFormUpdate",
  components: {
	  ResolutionContentModal,
    TypeIcon,
    PaperclipIcon,
    PlusIcon,
    FileIcon,
    XIcon,
    ArrowLeftIcon,
    PhoneCallIcon,
    GlobeIcon,
    MailIcon,
    Edit2Icon,
    ChevronDownIcon,
    EyeIcon,
    Trash2Icon,
    FileTextIcon,
	  FileUploadForSendingDocument,
	  FileUploadForHybrid,
	  HelpCircleIcon
  },
  data() {
    return {
	    DEP_NAME_NOT_VISIBLE_USER_IDS,
    	toFilial: true,
	    whereToSelect: {
		    name: this.$t('document-flow.views.send-document.to-head-office-or-branches'),
		    value: "to_filial"
	    },
	    whereTo: [
		    {
			    name: this.$t('document-flow.views.send-document.to-head-office-or-branches'),
			    value: "to_filial"
		    },
		    {
			    name: "Boshqa tashkilotlarga",
			    value: "to_organization"
		    }
      ],
	    toSelected: {
		    name: this.$t('document-flow.views.send-document.to-head-office'),
		    value: "head_office"
	    },
	    toSelectItems: [
		    {
			    name: this.$t('document-flow.views.send-document.to-head-office'),
			    value: "head_office"
		    },
		    {
			    name: this.$t('document-flow.views.send-document.to-branch'),
			    value: "filial"
		    }
	    ],
      tab: null,
      files: [],
	    filesForHybrid: [],
      dialog: false,
      currentBranch: {},
      letterTypeList: [
        // {
        //   title: "Bildirishnoma",
        //   value: "notice"
        // },
        // {
        //   title: "Фармойиш",
        //   value: "decree"
        // },
        {
          title: this.$t('document-flow.views.send-document.service-letter'),
          value: "service_letter"
        },
      ],
      model: {
      	sender: "",
        type: "service_letter",
        register_number: null,
        short_description: "",
        text: "",
        files: [],
        receiver_type: "filial",
        journal_id: 4,
        branches: [],
        // departments: [],
        agreed_by: [],
        signed_by: [],
	      organizations: null,
        __branchesList: [],
	      __correspondent: null,
	      reply_document_id: null,
	      receiver: {},
	      departments: [],
	      __departmentList: [],
	      __leadership: {},
	      __status: "draft",
	      to_user: null,
	      signer_obj: [],
	      __correspondent_name: null,
	      priority: null,
	      send_by: "chancellery",
	      compose_send: []
      },
      agreedList: [],
      signersList: [],
	    districtList: [],
      loading: false,
	    // isHeadOfficeSelected: false,
	    isLeadershipSelected: false,

	    hybrid_address: null,
	    hybrid_region: null,
	    hybrid_district: null,
    }
  },
  validations: {
    model: {
      // type: { required },
	    // register_number: { required },
      text: { required },
	    short_description: { required },
      // __branchesList: { required }
    },
    signersList: { required },
  },
	watch: {
		// 'model.__branchesList'(val){
		// 	if (val.length){
		// 		val.forEach(item => {
		// 			this.isHeadOfficeSelected = item.mfo === "09013";
		// 		})
		// 	}else {
		// 		this.isHeadOfficeSelected = false
		// 	}
		// },
		'model.__departmentList'(val){
			if (val && val.length){
				val.forEach(item => {
					this.isLeadershipSelected = item.id === 47968
				})
			}else if (val && val.id) {
				this.isLeadershipSelected = val.id === 47968
			}else {
				this.isLeadershipSelected = false
			}
		},
    "$i18n.locale": {
			handler() {
				this.toSelectItems = [
					{
						name: this.$t('document-flow.views.send-document.to-head-office'),
						value: "head_office"
					},
					{
						name: this.$t('document-flow.views.send-document.to-branch'),
						value: "filial"
					}
				];
				this.whereTo = [
					{
						name: this.$t('document-flow.views.send-document.to-head-office-or-branches'),
						value: "to_filial"
					},
					{
						name: "Boshqa tashkilotlarga",
						value: "to_organization"
					}
				];
			}
		}
	},
  computed: {
    ...mapGetters({
      getDisableItems: "getDisableItems",
      currentUser: "auth/getCurrentUser",
	    filialList: "documentFlowModule/getFilialList"
    }),
	  /**/
	  currentUserFilial(){
		  return this.filialList.find(item => item.mfo === this.currentUser.filial)
	  },
	  /**/
	  isHeadOfficeSelected(){
		  return Boolean(this.toSelected.value === 'head_office')
	  },
	  /** **/
	  sender() {
		  return this.currentUser.filial_name
		  // if (this.whereToSelect.value === 'to_filial' && this.toSelected.value === 'filial' && this.currentUser.filial === '09013' && !['deputy_chair', 'chairman'].some(role => this.currentUser.roles.includes(role))) {
			//   return this.currentUser.top_level_dept_name
		  // } else {
			//   return this.currentUser.filial_name
		  // }
	  }
  },
  mounted() {
	  this.fetchFilialList();
    if(this.$route.params.id) {
      this.fetchGetOne(this.$route.params.id)
    }

    setTimeout(() => {
      this.model.sender = this.sender
      this.getCurrentBranch()
    }, 1000)
  },
  methods: {
	  ...mapActions({
		  fetchFilialList: "documentFlowModule/fetchFilialList"
	  }),
    /*
    *
    * */
	  addCorrespondent(){
		  if (!this.model.__correspondent || !this.model.__correspondent_name) {
			  this.$toast.warning(this.$t('document-flow.views.send-document.please-select-correspondent'));
			  return;
		  }
		  this.model.signer_obj.push({
			  correspondent_parent_id: this.model.__correspondent.id,
			  correspondent_name: this.model.__correspondent_name
		  })

		  this.model.organizations.push(this.model.__correspondent.id)

		  this.model.__correspondent = null;
		  this.model.__correspondent_name = null

	  },
	  /**/
	  deleteItem(item){
		  let index1 = this.model.signer_obj.findIndex(x => x.correspondent_parent_id === item.correspondent_parent_id);
		  let index2 = this.model.organizations.findIndex( x => x === item.correspondent_parent_id);
		  this.model.signer_obj.splice(index1, 1);
		  this.model.organizations.splice(index2, 1);
	  },
	  /**/
	  updateDraft() {
		  let model = {
			  ...this.model,
			  status: "draft",
			  text: this.model.text.replace(/<br\s*[\/]?>/gi, '<br/>')
		  }

		  this.$http.put(`/docflow/${this.currentUser.filial}/compose/${this.$route.params.id}/`, model)
		  .then(({ data }) => {
			  this.$toast.success(this.$t('document-flow.views.send-document.draft-edited'))

			  this.dialog = false
			  this.loading = false

			  this.$router.push({
				  name: "SendDocumentNew"
			  })
		  })
		  .catch(() => {
			  // this.$toast.error(this.$t('document-flow.views.send-document.error-sending-document'))
			  this.loading = false
		  })
	  },
    /*
    *
    * */
    send() {
      this.$v.$touch();

      if (this.$v.$invalid) {
	      this.$toast.warning(this.$t('document-flow.views.send-document.field-is-required'))
        return;
      }

      this.loading = !this.loading

      let model = {
        ...this.model,
        status: "pending",
        text: this.model.text.replace(/<br\s*[\/]?>/gi, '<br/>')
      }

      this.$http.put(`/docflow/${this.currentUser.filial}/compose/${this.$route.params.id}/`, model)
        .then(({ data }) => {
          this.$toast.success(this.$t('document-flow.views.send-document.document-sent'))

          this.dialog = false
          this.loading = false

          this.$router.push({
            name: "SendDocumentNew",
	          query: {
		          type: this.whereToSelect.value === "to_organization" ? "organization_letter" : "service_letter",
		          journal_id: 4
	          }
          })
        })
        .catch(() => {
          // this.$toast.error(this.$t('document-flow.views.send-document.error-sending-document'))

          this.loading = false
        })
    },
    /*
    *
    * */
    getCurrentBranch() {
      this.$http.get(`/filials/${this.currentUser.filial}/`)
        .then(({ data }) => {
          this.currentBranch = data
        })
    },
    /*
    *
    * */
    fetchGetOne(id) {
      this.$http.get(`/docflow/${this.currentUser.filial}/compose/${id}/`)
        .then(({ data }) => {
          this.model.type = data.type
	        this.model.__status = data.status
          this.model.register_number = data.register_number
          this.model.short_description = data.short_description
          this.model.text = data.text
          this.model.files = data.files
          this.model.receiver_type = data.receiver.type
          this.model.journal_id = data.journal_id
          // this.model.departments = data.receiver.departments
          this.model.sender = data.sender
	        this.model.__departmentList = data.receiver.departments
	        this.model.__leadership = data.receiver.to_user

          this.model.__branchesList = data.receiver.branches
	        let tempFiles = [...data.files]
          this.files = tempFiles.filter(file => file.need_to_send === false);
          this.filesForHybrid = tempFiles.filter(file => file.need_to_send === true);

          this.agreedList = [...data.agreed_by]
          this.signersList = [...data.signed_by]
	        this.model.receiver = data.receiver
	        this.model.receiver_type = data.receiver_type
	        this.model.signer_obj = data.signer_obj

	        if (data.receiver && data.receiver.organizations && data.receiver.organizations.length && data.type === 'organization_letter'){
	        	this.whereToSelect = this.whereTo[1]
		        this.model.organizations = []
		        this.model.signer_obj = []
		        this.model.signer_obj = data.signer_obj
		        data.receiver.organizations.forEach(item => {
		        	this.model.organizations.push(item.id)
		        })
	        }else {
		        this.whereToSelect = this.whereTo[0]
		        this.model.organizations = null
		        if (data.receiver && data.receiver.branches && data.receiver.branches.length && data.type === 'service_letter') {
							this.toSelected = this.toSelectItems[1]
		        }
	        }

	        this.model.reply_document_id = data.reply_document_id
	        this.model.priority = data.priority

	        this.model.send_by = data.send_by ? data.send_by : 'chancellery'

	        if (data.send_by === 'hybrid_mail'){
						this.model.__correspondent = data.receiver?.organizations[0];
						this.model.__correspondent_name = data.compose_send[0]?.receiver;
						this.hybrid_address = data.compose_send[0]?.address;
						this.hybrid_region = data.compose_send[0]?.region;
						this.regionSelected(data.compose_send[0]?.region);
						this.hybrid_district = data.compose_send[0]?.district;
	        }
        })
    },
    /*
    *
    * */
    preview() {
	    // if (this.whereToSelect && this.whereToSelect.value !== 'to_organization' && this.model.register_number === ""){
		  //   this.$toast.warning(this.$t('document-flow.views.send-document.field-is-required'))
		  //   return;
	    // }
	    if (this.isHeadOfficeSelected && (!this.model.__departmentList || !this.model.__departmentList.length) && this.whereToSelect && this.whereToSelect.value === 'to_filial') {
		    this.$toast.warning(this.$t('document-flow.views.send-document.please-select-department'));
		    return;
	    }
	    if (this.whereToSelect && this.whereToSelect.value === 'to_organization' && !this.model.signer_obj.length && this.model.send_by === 'chancellery'){
		    this.$toast.warning(this.$t('document-flow.views.send-document.please-select-correspondent'));
		    return;
	    }

	    if (this.model.send_by === 'hybrid_mail' && (!this.model.__correspondent || !this.model.__correspondent_name || !this.hybrid_address || !this.hybrid_region || !this.hybrid_district)){
		    this.$toast.warning(this.$t('document-flow.views.send-document.field-is-required'));
		    return;
	    }

      this.dialog = !this.dialog
	    this.model.agreed_by = []
	    this.model.signed_by = []
	    this.model.branches = []
	    this.model.departments = []
	    this.model.to_user = null
	    if (this.whereToSelect && this.whereToSelect.value === 'to_filial' ){
		    if (this.isHeadOfficeSelected){
			    this.model.receiver_type = 'to_head_office'
		    }else {
			    this.model.receiver_type = 'filial'
		    }
	    }else {
		    this.model.receiver_type = 'organization'
	    }
	    this.model.type = this.whereToSelect.value === 'to_organization' ? 'organization_letter' : 'service_letter'

      if (this.agreedList.length){
	      this.agreedList.forEach(item => this.model.agreed_by.push({
		      id: item.user && item.id,
		      user: item.user ? item.user.id : item.id
	      }))
      }

      if (this.signersList.length){
	      this.signersList.forEach(item => {
		      this.model.signed_by.push({
			      id: item.user && item.id,
			      user: item.user ? item.user.id : item.id
		      })
	      })
      }

      if (this.model.__branchesList.length){
	      this.model.__branchesList.forEach(item => {
		      if (!this.model.branches.includes(item.id)){
			      this.model.branches.push(item.id)
		      }
	      })
      }else {
	      this.model.branches = this.model.__branchesList
      }

	    if (this.model.__departmentList && this.model.__departmentList.length) {
		    this.model.__departmentList.forEach(item => {
			    this.model.departments.push(item.id)
		    })
	    }

	    if (this.model.__leadership && this.model.__leadership.id){
		    this.model.to_user = this.model.__leadership.id;
	    }

	    if (this.model.send_by === 'hybrid_mail'){
		    this.model.compose_send = [
			    {
				    receiver: this.model.__correspondent_name,
				    address: this.hybrid_address,
				    region: this.hybrid_region.id,
				    district: this.hybrid_district.id
			    }
		    ];
		    this.model.organizations = [this.model.__correspondent.id];
				// this.model.files = [];
	    }
    },
    /*
    *
    * */
    uploadFiles(data) {
	    this.files.push(data)

	    this.model.files.push({
		    id: data.id
	    })
    },
	  /** **/
	  uploadFilesForHybrid(data) {
		  this.filesForHybrid.push(data)

		  this.model.files.push({
			  id: data.id
		  })
	  },
    /*
    *
    * */
	  deleteFile({ item, index}) {
		  let filesIndex = this.files.findIndex(file => file.id === item.id);
		  this.files.splice(filesIndex, 1);
		  let modelFilesIndex = this.model.files.findIndex(file => file.id === item.id);
		  this.model.files.splice(modelFilesIndex, 1);
	  },
	  /** **/
	  deleteFileForHybrid({ item, index }) {
		  let filesIndex = this.filesForHybrid.findIndex(file => file.id === item.id);
		  this.filesForHybrid.splice(filesIndex, 1);
		  let modelFilesIndex = this.model.files.findIndex(file => file.id === item.id);
		  this.model.files.splice(modelFilesIndex, 1);
	  },
    /*
    *
    * */
    deleteSigner(index) {
      this.signersList.splice(index, 1)
    },
    /*
    *
    * */
    deleteAgreed(index) {
      this.agreedList.splice(index, 1)
    },
    /*
    *
    * */
    resetForm() {
      this.model.type = ""
      this.model.register_number = null
      this.model.short_description = ""
      this.model.text = ""
      this.model.files = []
      this.model.departments = []
      this.model.agreed_by = []
      this.model.signed_by = []
      this.model.__branchesList = []
      this.agreedList = []
      this.signersList = []
	    this.model.__correspondent = null
	    this.model.__departmentList = []
	    this.model.signer_obj = null

      this.files = []
    },
	  /**/
	  onDepartmentChange(){
		  this.model.__leadership = {}
	  },
	  /**/
	  onBranchChange(){
	  	this.model.__departmentList = [];
	  	this.onDepartmentChange();
	  },
	  /**/
	  whereToChange(){
		  this.toggleSignersAPI();
	  },
	  /** **/
	  toggleSignersAPI() {
		  this.model.signed_by = []
		  this.signersList = []
		  this.toFilial = false

		  setTimeout(() => {
			  this.toFilial = !this.toFilial;
		  }, 100)
	  },
	  deleteBranch(branch){
		  let index = this.model.__branchesList.findIndex(item => item.id === branch.id);
		  this.model.__branchesList.splice(index, 1)
	  },
	  /**/
	  toSelectChange(){

	  },
	  /**/
	  regionSelected(value) {

		  this.hybrid_district = null

		  this.$axios.get(`/action/districts/`, {
			  params: {
				  region: value.id,
				  page_size: 50
			  }
		  }).then(({data}) => {
			  this.districtList = data.results;
		  })
	  },
  }
}
</script>
