<template>
	<perfect-scrollbar>
		<app-wrapper class="flex-1">}
			<template #body>
				<div class="protocol-form-update-view">
					<v-row>
						<v-col md="3">
							<v-text-field
								:value="$t('document-flow.views.send-document.protocol')"
								hide-details
								outlined
								readonly
								background-color="var(--input-bg)"
							></v-text-field>
						</v-col>

						<v-col v-if="protocolType==='committee_protocol'" md="3">
							<v-select
								@change="onTypeChange"
								v-model="committeeProtocolTypeSelected"
								:items="computedCommitteeProtocolTypeList"
								item-text="name"
								item-value="value"
								outlined
								hide-details
								background-color="var(--input-bg)"
							>
								<template #append>
									<v-icon>mdi-chevron-down</v-icon>
								</template>
							</v-select>
						</v-col>

						<template v-if="author">
							<v-col md="3">
								<v-text-field
									v-model="model.register_number"
									:placeholder="$t('document-flow.views.send-document.number-protocol')"
									hide-details
									outlined
									:disabled="Boolean($route.query.readonly)"
									background-color="var(--input-bg)"
									readonly
								></v-text-field>
							</v-col>

							<v-col md="3">
								<app-date-picker
									v-model="model.register_date"
									with-input
									background-color="var(--input-bg)"
									:placeholder="$t('document-flow.views.send-document.registration-date')"
								/>
<!--                disabled-->
							</v-col>
						</template>

						<v-col md="3">
							<v-text-field
								v-model="model.sender"
								hide-details
								outlined
								readonly
								background-color="var(--input-bg)"
							></v-text-field>
						</v-col>

						<v-col md="3">
							<v-text-field
								v-model="$v.model.short_description.$model"
								:error="$v.model.short_description.$error"
								:placeholder="$t('document-flow.views.send-document.short-description')"
								hide-details
								outlined
								:disabled="Boolean($route.query.readonly)"
								background-color="var(--input-bg)"
							></v-text-field>
						</v-col>
					</v-row>

					<div class="input-bg mt-5 rounded-20">
						<div class="pa-4 pb-1">
							<div class="app-tab">
								<v-tabs
									v-model="tab"
									hide-slider
									height="36"
									color="#fff"
								>
									<v-tab>
										<div class="d-flex align-center px-3">
											<type-icon size="16" class="mr-2"/>
											<span class="text-transform-none small-2 line-base font-400">{{$t('document-flow.views.send-document.text')}}</span>
										</div>
									</v-tab>

									<v-tab v-if="(currentUser.role === 'chancellery_admin' && model.type === 'protocol') || (model.type === 'credit_committee' && ['credit_committee', 'kuap_invest', 'capital_invest', 'charity_commission', 'hr_manager', 'audit_tasks'].some(role => currentUser.roles.includes(role))) || currentUser.role === 'admin' || status === 'draft'">
										<div class="d-flex align-center px-3">
											<paperclip-icon size="16" class="mr-2"/>
											<span class="text-transform-none small-2 line-base font-400">{{$t('document-flow.views.send-document.file')}}</span>
										</div>
									</v-tab>
								</v-tabs>
							</div>
						</div>

						<v-tabs-items class="app-tab-items" v-model="tab">
							<v-tab-item>
<!--								<quill-editor-->
<!--									v-if="author"-->
<!--									v-model="$v.model.text.$model"-->
<!--									:error="$v.model.text.$error"-->
<!--									:disabled="Boolean($route.query.readonly) || (currentUser.id !== author.id  && currentUser.role !== 'chancellery_admin' && currentUser.role !== 'admin')"-->
<!--								/>-->
								<app-editor
									v-if="author && isAppEditor"
									v-model="$v.model.text.$model"
									:error="$v.model.text.$error"
									:disabled="Boolean($route.query.readonly) || (currentUser.id !== author.id  && currentUser.role !== 'chancellery_admin' && currentUser.role !== 'admin')"
									:paste-plain-text="pastePlainText"
								/>

								<div class="bg-white pt-5">
									<resolution-content-modal
										:has-filial="false"
										api-url="action/short-descriptions/"
										:api-params="{ type: 'template' }"
										title-dialog="components.add-template"
										@emit:up="(text) => model.text = text.description"
									/>
								</div>
							</v-tab-item>

							<v-tab-item>
								<file-upload-for-sending-document :files="files" @uploadFiles="uploadFiles" @deleteFile="deleteFile" />
							</v-tab-item>
						</v-tabs-items>
					</div>

					<!-- /JOINT PROTOCOL -->
					<template v-if="committeeProtocolTypeSelected === 'joint_protocol'">
						<div>
							<v-row class="mt-5">
								<v-col md="6">
									<app-autocomplete
										v-model="$v.finance_chairman.$model"
										:error="$v.finance_chairman.$error"
										api-list-url="/user/search/"
										:api-params="{
		              role: 'top_management'
		            }"
										item-text="full_name"
										return-object
										cache-items
										clearable
										:placeholder="$t('document-flow.views.send-document.select-chairman') + ' - ' +$t('document-flow.views.send-document.financing')"
										hide-details
									/>
								</v-col>

								<v-col md="6">
									<app-autocomplete
										v-model="$v.monitoring_chairman.$model"
										:error="$v.monitoring_chairman.$error"
										api-list-url="/user/search/"
										:api-params="{
		              role: 'top_management'
		            }"
										item-text="full_name"
										return-object
										cache-items
										clearable
										:placeholder="$t('document-flow.views.send-document.select-chairman') + ' - ' +$t('document-flow.views.send-document.monitoring')"
										hide-details
									/>
								</v-col>

								<!-- FINANCE -->
								<v-col md="6">
									<div class="d-flex">
										<v-col md="7" class="pa-0">
											<app-autocomplete
												v-model="finance_signer_selected"
												api-list-url="/user/search/"
												:api-params="{
			              role: true
			            }"
												item-text="full_name"
												return-object
												cache-items
												clearable
												:placeholder="$t('committee_members') + ' - ' +$t('document-flow.views.send-document.financing')"
											/>
										</v-col>

										<v-col md="4" class="pa-0 ml-2">
											<v-select
												v-model="finance_condition_selected"
												:items="conditionList"
												return-object
												hide-details
												item-text="name"
												outlined
												background-color="var(--input-bg)"
												:placeholder="$t('document-flow.views.send-document.select-status')"
											/>
										</v-col>
										<v-col md="1" class="pa-0 d-flex align-center justify-center">
											<v-btn @click="addFinanceSigner" color="primary" icon width="50" height="50">
												<v-icon size="30">
													mdi-plus
												</v-icon>
											</v-btn>
										</v-col>
									</div>

									<protocol-signers-table
										v-if="finance_signers && finance_signers.length"
										:list="finance_signers"
										class="mt-4"
										@deleteItem="(item) => deleteFinanceSignerItem(item)"
									/>
								</v-col>

								<!-- MONITORING -->
								<v-col md="6">
									<div class="d-flex">
										<v-col md="7" class="pa-0">
											<app-autocomplete
												v-model="monitoring_signer_selected"
												api-list-url="/user/search/"
												:api-params="{
			              role: true
			            }"
												item-text="full_name"
												return-object
												cache-items
												clearable
												:placeholder="$t('committee_members') + ' - ' +$t('document-flow.views.send-document.monitoring')"
											/>
										</v-col>

										<v-col md="4" class="pa-0 ml-2">
											<v-select
												v-model="monitoring_condition_selected"
												:items="conditionList"
												return-object
												hide-details
												item-text="name"
												outlined
												background-color="var(--input-bg)"
												:placeholder="$t('document-flow.views.send-document.select-status')"
											/>
										</v-col>
										<v-col md="1" class="pa-0 d-flex align-center justify-center">
											<v-btn @click="addMonitoringSigner" color="primary" icon width="50" height="50">
												<v-icon size="30">
													mdi-plus
												</v-icon>
											</v-btn>
										</v-col>
									</div>

									<protocol-signers-table
										v-if="monitoring_signers && monitoring_signers.length"
										:list="monitoring_signers"
										class="mt-4"
										@deleteItem="(item) => deleteMonitoringSignerItem(item)"
									/>
								</v-col>
							</v-row>

							<v-row>
								<v-col md="4">
									<app-autocomplete
										v-model="$v.agreedPerson.$model"
										:error="$v.agreedPerson.$error"
										api-list-url="/user/search/"
										:api-params="{
					            role: true
					          }"
										item-text="full_name"
										return-object
										cache-items
										clearable
										:placeholder="$t('document-flow.views.send-document.for-approval')"
										:item-disabled="getDisableItems"
										hide-details
									/>
									<v-chip v-if="agreedPerson" color="primary" class="mt-2">
										{{ agreedPerson && agreedPerson.user ? agreedPerson.user.full_name : agreedPerson && agreedPerson.full_name }}
									</v-chip>
								</v-col>

								<v-col md="4">
									<app-autocomplete
										v-model="$v.secretary.$model"
										:error="$v.secretary.$error"
										api-list-url="/user/search/"
										:api-params="{
				              role: true
				            }"
										item-text="full_name"
										return-object
										cache-items
										clearable
										:placeholder="$t('document-flow.views.send-document.secretary-assembly')"
										hide-details
									/>
									<v-chip v-if="secretary" color="primary" class="mt-2">
										{{ secretary && secretary.user ? secretary.user.full_name : secretary && secretary.full_name }}
									</v-chip>
								</v-col>

								<v-col md="4">
									<app-autocomplete
										v-model="inviteesList"
										api-list-url="/user/search/"
										:api-params="{
				              type: 'signers'
				            }"
										item-text="full_name"
										return-object
										cache-items
										clearable
										:placeholder="$t('document-flow.views.send-document.select-invitee')"
										multiple
										:disabled="Boolean($route.query.readonly)"
									/>

									<app-table
										v-if="inviteesList && inviteesList.length"
										bordered
										class="mt-2"
									>
										<template #tableHeader>
											<th width="75">№</th>
											<th>{{$t('document-flow.views.send-document.invited')}}</th>
											<th width="75">{{$t('document-flow.views.send-document.events')}}</th>
										</template>

										<template #tableBody>
											<tr
												v-for="(item, index) in inviteesList"
												class="text-dark font-500"
											>
												<td>{{ index + 1 }}</td>
												<td>
													{{ item.user ? item.user.full_name : item.full_name }}
												</td>
												<td>
													<app-button
														v-if="!Boolean($route.query.readonly)"
														icon
														color="error"
														min-width="40"
														height="40"
														width="40"
														@click="deleteInvitee(item)"
													>
														<trash2-icon size="18"/>
													</app-button>
												</td>
											</tr>
										</template>
									</app-table>
								</v-col>
							</v-row>
						</div>
					</template>
					<!-- /JOINT PROTOCOL -->


					<template v-else>
						<div>
							<v-row class="mt-5">
								<v-col md="4">
									<app-autocomplete
										v-model="$v.agreedPerson.$model"
										:error="$v.agreedPerson.$error"
										api-list-url="/user/search/"
										:api-params="{
			              role: true
			            }"
										item-text="full_name"
										return-object
										cache-items
										clearable
										:placeholder="$t('document-flow.views.send-document.for-approval')"
										:item-disabled="getDisableItems"
										hide-details
									/>

									<v-chip v-if="agreedPerson" color="primary" class="mt-2">
										{{ agreedPerson && agreedPerson.user ? agreedPerson.user.full_name : agreedPerson && agreedPerson.full_name }}
									</v-chip>

								</v-col>

								<v-col md="4">
									<app-autocomplete
										v-model="$v.chairman.$model"
										:error="$v.chairman.$error"
										api-list-url="/user/search/"
										:api-params="{
			              role: true
			            }"
										item-text="full_name"
										return-object
										cache-items
										clearable
										:placeholder="$t('document-flow.views.send-document.select-chairman')"
										hide-details
									/>

									<v-chip v-if="chairman" color="primary" class="mt-2">
										{{ chairman && chairman.user ? chairman.user.full_name : chairman && chairman.full_name }}
									</v-chip>
								</v-col>

								<v-col md="4">
									<app-autocomplete
										v-model="$v.secretary.$model"
										:error="$v.secretary.$error"
										api-list-url="/user/search/"
										:api-params="{
			              role: true
			            }"
										item-text="full_name"
										return-object
										cache-items
										clearable
										:placeholder="$t('document-flow.views.send-document.secretary-assembly')"
										hide-details
									/>

									<v-chip v-if="secretary" color="primary" class="mt-2">
										{{ secretary && secretary.user ? secretary.user.full_name : secretary && secretary.full_name }}
									</v-chip>
								</v-col>
							</v-row>

							<v-row>
								<v-col md="4">
									<app-autocomplete
										v-model="$v.signerSelected.$model"
										:error="$v.signerSelected.$error"
										api-list-url="/user/search/"
										:api-params="{
			              role: true
			            }"
										item-text="full_name"
										return-object
										cache-items
										clearable
										:placeholder="$t('document-flow.views.send-document.select-signatory')"
									/>
								</v-col>

								<v-col md="2">
									<v-select
										v-model="conditionSelected"
										:items="conditionList"
										return-object
										hide-details
										item-text="name"
										outlined
										background-color="var(--input-bg)"
										:placeholder="$t('document-flow.views.send-document.select-status')"
									/>
								</v-col>

								<v-col md="1">
									<app-button @click="addSigners" height="50">
										<template #prepend>
											<plus-icon size="18" />
										</template>
										<template>
											{{$t('document-flow.views.send-document.add')}}
										</template>
									</app-button>
								</v-col>


								<v-col md="5">
									<app-autocomplete
										v-model="inviteesList"
										api-list-url="/user/search/"
										:api-params="{
                    type: 'signers'
                  }"
										item-text="full_name"
										return-object
										cache-items
										clearable
										:placeholder="$t('document-flow.views.send-document.select-invitee')"
										multiple
										:disabled="Boolean($route.query.readonly)"
									/>
								</v-col>
							</v-row>

							<v-row>
								<v-col md="6">
									<app-table
										bordered
									>
										<template #tableHeader>
											<th width="30">№</th>
											<th>{{$t('document-flow.views.send-document.signatory')}}</th>
											<th>{{$t('document-flow.views.send-document.status')}}</th>
											<th>{{$t('document-flow.views.send-document.action')}}</th>
										</template>

										<template #tableBody>
											<tr
												v-for="(item, index) in signersList"
												class="text-dark font-500"
											>
												<td>{{ index + 1 }}</td>
												<td>
													{{ item.user ? item.user.full_name : item.full_name }}
												</td>
												<td>{{ item.condition_name }}</td>
												<td class="d-flex justify-center align-center">
													<trash2-icon
														size="18"
														color="red"
														right
														@click.prevent="deleteItem(item)"
														class="mt-2"
													>
														mdi-trash-can-outline
													</trash2-icon>
												</td>
											</tr>
										</template>
									</app-table>
								</v-col>
								<v-spacer/>
								<v-col md="5">
									<app-table
										v-if="inviteesList && inviteesList.length"
										bordered
										class="mt-2"
									>
										<template #tableHeader>
											<th width="75">№</th>
											<th>{{$t('document-flow.views.send-document.invited')}}</th>
											<th width="75">{{$t('document-flow.views.send-document.events')}}</th>
										</template>

										<template #tableBody>
											<tr
												v-for="(item, index) in inviteesList"
												class="text-dark font-500"
											>
												<td>{{ index + 1 }}</td>
												<td>
													{{ item.user ? item.user.full_name : item.full_name }}
												</td>
												<td>
													<app-button
														v-if="!Boolean($route.query.readonly)"
														icon
														color="error"
														min-width="40"
														height="40"
														width="40"
														@click="deleteInvitee(item)"
													>
														<trash2-icon size="18"/>
													</app-button>
												</td>
											</tr>
										</template>
									</app-table>
								</v-col>
							</v-row>
						</div>
					</template>

					<div class="mt-10">
						<app-button color="error" @click="$router.go(-1)">
							<template #prepend>
								<arrow-left-icon size="20"/>
							</template>
							{{$t('document-flow.views.send-document.back')}}
						</app-button>

						<app-button class="mx-3" @click="preview">
							<template #prepend>
								<eye-icon size="20"/>
							</template>
							{{$t('document-flow.views.send-document.view-document')}}
						</app-button>

						<!-- PREVIEW -->
						<v-dialog
							v-model="dialog"
							width="595"
							content-class="generate-wrap reset-dialog-style"
						>
							<div class="bg-white">
								<div class="bg-white d-flex w-100 justify-end">
									<app-button
										icon
										color="error"
										min-width="40"
										width="40"
										height="40"
										tile
										@click="dialog = false"
										class="p-absolute"
										style="top: 0; right: 0;"
									>
										<x-icon/>
									</app-button>
								</div>
								<perfect-scrollbar>
									<template v-if="protocolType === 'committee_protocol' && committeeProtocolTypeSelected === 'joint_protocol'">
										<pdf-letter-template-for-joint-protocol
											:model="{
												...model,
												finance_chairman,
												monitoring_chairman,
												finance_signers,
												monitoring_signers,
												invitees_list: inviteesList,
												secretary
											}"
										/>
									</template>
									<template v-else>
										<div class="generate-pdf-area bg-4 mb-5 pa-10 p-relative d-flex flex-column">
											<div>
												<v-row class="d-flex align-end">
													<v-col md="2">
														<img src="/img/logo_asaka_4.png" alt="Logo Asakabank" class="mt-2 mb-5">
													</v-col>
													<v-col md="10">
														<div class="d-flex justify-center">
														<span class="font-600 small-2 text-center mb-4">"ASAKABANK" AJ BOSHQARUV MAJLISINING <br>{{
																model.register_number
															}} - SONLI BAYONNOMASI</span>
														</div>
													</v-col>
												</v-row>
												<div class="d-flex my-2 justify-space-between">
													<span class="font-500 size-13">Toshkent shahri</span>
													<span class="font-500 size-13">{{ registeredDate }}</span>
												</div>

												<span class="font-700 text-decoration-underline size-13">Raislik qiluvchi:</span>
												<v-row class="pa-0 ma-0">
													<v-col md="5" class="pa-0 ma-0">
														<span v-if="chairman.user" class="font-500 size-13">{{ chairman.user.first_name && chairman.user.first_name | getFirstCharacter }} {{ chairman.user.father_name && chairman.user.father_name | getFirstCharacter }} {{ chairman.user.last_name }}</span>
														<span v-else class="font-500 size-13">{{ chairman.first_name && chairman.first_name | getFirstCharacter }} {{ chairman.father_name && chairman.father_name | getFirstCharacter }} {{ chairman.last_name }}</span>
													</v-col>
													<v-col md="7" class="pa-0 ma-0">
														<span v-if="chairman.user" class="font-500 size-13">{{ chairman.user.position }}</span>
														<span v-else class="font-500 size-13">{{ chairman.position }}</span>
													</v-col>
												</v-row>

												<span class="font-700 text-decoration-underline size-13">Boshqaruv a'zolari:</span>
												<v-row v-for="item in signersList" class="pa-0 ma-0">
													<v-col md="5" class="pa-0 ma-0">
														<span v-if="item.user" class="font-500 size-13">{{ item.user.first_name && item.user.first_name | getFirstCharacter }} {{ item.user.father_name && item.user.father_name | getFirstCharacter }} {{ item.user.last_name }}</span>
														<span v-else class="font-500 size-13">{{ item.first_name && item.first_name | getFirstCharacter }} {{ item.father_name && item.father_name | getFirstCharacter }} {{ item.last_name }}</span>
													</v-col>
													<v-col md="7" class="pa-0 ma-0">
														<span class="font-500 size-13">{{ item.user ? item.user.position : item.position }}</span>
													</v-col>
												</v-row>

												<span class="small-3 d-block text-dark font-500 text-indent-30 mt-4 text-justify"> Majlis o‘tkazish uchun kvorum talablariga to‘liq amal qilindi
											va Bank Boshqaruvi kun tartibidagi masalalar bo‘yicha qarorlar qabul qilish vakolatiga ega.
											</span>

												<span class="small-3 d-block text-dark font-500 text-indent-30 text-justify"> “Asakabank” AJ Boshqaruvi to‘g‘risida”gi nizomning (1077-son bilan ro‘yxatga olingan) 65-bandiga muvofiq, Bank Boshqaruvi qarori majlisining o‘zida qabul qilindi.</span>
												<span class="small-3 d-block text-dark font-500 text-indent-30 text-justify"> Majlis kotibi etib {{ secretary.user ? secretary.user.position : secretary.position }}
												<template v-if="secretary.user">
													{{ secretary.user.first_name && secretary.user.first_name | getFirstCharacter }} {{ secretary.user.father_name && secretary.user.father_name | getFirstCharacter }} {{ secretary.user.last_name }}
												</template>
												<template v-else>
													{{ secretary.first_name && secretary.first_name | getFirstCharacter }} {{ secretary.father_name && secretary.father_name | getFirstCharacter }} {{ secretary.last_name }}
												</template>
												tayinlandi.
											</span>


												<template v-if="inviteesListComputed && inviteesListComputed.length">
													<span class="small-3 font-italic font-700 ml-10">Taklif etilganlar:</span>
													<v-row v-for="invitee in inviteesListComputed" class="pa-0 ma-0">
														<v-col md="5" class="pa-0 ma-0">
														<span class="font-500 size-13">
															{{ invitee.user ? getFirstCharacter(invitee.user.first_name) : getFirstCharacter(invitee.first_name) }}
															{{ invitee.user ? getFirstCharacter(invitee.user.father_name) : getFirstCharacter(invitee.father_name) }}
															{{ invitee.user ? invitee.user.last_name : invitee.last_name}}</span>
														</v-col>
														<v-col md="7" class="pa-0 ma-0">
															<span class="font-500 size-13">{{ invitee.position }}</span>
														</v-col>
													</v-row>
												</template>

												<div class="d-flex justify-center my-3">
													<span class="font-700 size-13">Kun tartibi:</span>
												</div>

												<span
													v-html="model.text"
													class="small-3 d-block text-dark font-500 text-justify"
													style="line-height: 20px; text-indent: 30px"
												></span>

												<div class="pl-16 mt-4">
													<v-row class="pa-0 ma-0 mb-2">
														<v-col md="6" class="pa-0 ma-0">
															<span v-if="chairman.user" class="font-500 size-13">{{ chairman.user.position }}</span>
															<span v-else class="font-500 size-13">{{ chairman.position }}</span>
														</v-col>
														<v-col md="6" class="pa-0 ma-0">
															<span v-if="chairman.user" class="font-500 size-13">{{ chairman.user.first_name && chairman.user.first_name | getFirstCharacter }} {{ chairman.user.father_name && chairman.user.father_name | getFirstCharacter }} {{ chairman.user.last_name }}</span>
															<span v-else class="font-500 size-13">{{ chairman.first_name && chairman.first_name | getFirstCharacter }} {{ chairman.father_name && chairman.father_name | getFirstCharacter }} {{ chairman.last_name }}</span>
														</v-col>
													</v-row>

													<span class="font-700 size-13">Boshqaruv a'zolari:</span>

													<v-row class="pa-0 ma-0">
														<v-col md="6" class="pa-0 ma-0" v-for="item in signersList">
															<span v-if="item.user" class="font-500 size-13">{{ item.user.first_name && item.user.first_name | getFirstCharacter }} {{ item.user.father_name && item.user.father_name | getFirstCharacter }} {{ item.user.last_name }}</span>
															<span v-else class="font-500 size-13">{{ item.first_name && item.first_name | getFirstCharacter }} {{ item.father_name && item.father_name | getFirstCharacter }} {{ item.last_name }}</span>
														</v-col>
													</v-row>

													<v-row class="pa-0 ma-0 mb-4">
														<v-col md="6" class="pa-0 ma-0">
															<span class="font-700 size-13">Boshqaruv kotibi</span>
														</v-col>
														<v-col md="6" class="pa-0 ma-0">
														<span class="font-700 size-13">
															<template v-if="secretary.user">
																{{ secretary.user.first_name && secretary.user.first_name | getFirstCharacter }} {{ secretary.user.father_name && secretary.user.father_name | getFirstCharacter }}{{ secretary.user.last_name }}
															</template>
															<template v-else>
																{{ secretary.first_name && secretary.first_name | getFirstCharacter }} {{ secretary.father_name && secretary.father_name | getFirstCharacter }} {{ secretary.last_name }}
															</template>
														</span>
														</v-col>
													</v-row>

													<template v-if="inviteesListComputed && inviteesListComputed.length">
														<span class="small-3 font-italic font-700">Taklif etilganlar:</span>

														<v-row class="pa-0 ma-0 mb-16">
															<v-col md="6" class="pa-0 ma-0" v-for="invitee in inviteesListComputed">
															<span class="font-500 size-13">
																{{ invitee.user ? getFirstCharacter(invitee.user.first_name) : getFirstCharacter(invitee.first_name) }}
																{{ invitee.user ? getFirstCharacter(invitee.user.father_name) : getFirstCharacter(invitee.father_name) }}
																{{ invitee.user ? invitee.user.last_name : invitee.last_name}}</span>
															</v-col>
														</v-row>
													</template>
												</div>

											</div>
										</div>
									</template>
								</perfect-scrollbar>
							</div>
							<div class="d-flex grid-gap-md justify-center mt-5">
                <template v-if="model.__status === 'draft'">
                  <app-button
                    depressed
                    color="success"
                    @click="updateDraft"
                  >
                    <template #prepend>
                      <file-text-icon size="18" />
                    </template>
                    {{$t('document-flow.views.send-document.edit-draft')}}
                  </app-button>
                </template>

								<app-button
									outlined
									color="#fff"
									@click="dialog = false"
								>
									<template #prepend>
										<edit2-icon size="18"/>
									</template>
									{{$t('document-flow.views.send-document.edit')}}
								</app-button>

								<template v-if="!Boolean($route.query.readonly)">
									<app-button @click="send" :loading="loading">
										<template #prepend>
											<v-icon size="18">{{ "$vuetify.icons.SendIcon" }}</v-icon>
										</template>
										{{$t('document-flow.views.send-document.send')}}
									</app-button>
								</template>
							</div>
						</v-dialog>

					</div>
				</div>
			</template>
		</app-wrapper>

		<committee-protocol-preview
      ref="committeeProtocolPreview"
      @onSend="send"
    >
      <template #draftUpdate>
        <template v-if="model.__status === 'draft'">
          <app-button
            depressed
            color="success"
            @click="updateDraft"
          >
            <template #prepend>
              <file-text-icon size="18" />
            </template>
            {{$t('document-flow.views.send-document.edit-draft')}}
          </app-button>
        </template>
      </template>
    </committee-protocol-preview>

	</perfect-scrollbar>
</template>

<script>
import {
ArrowLeftIcon, ChevronDownIcon, Edit2Icon, EyeIcon, FileIcon, FileTextIcon, GlobeIcon,
MailIcon, PaperclipIcon, PhoneCallIcon, PlusIcon, Trash2Icon, TypeIcon, XIcon
} from "vue-feather-icons";
import { required } from "vuelidate/lib/validators";
import { mapGetters } from "vuex";
import {adjustSignersForJointProtocol, toMonthName} from "../../../../common/helpers";
import CommitteeProtocolPreview from "./components/CommitteeProtocolPreview";
import FileUploadForSendingDocument from "./components/FileUploadForSendingDocument";
import ResolutionContentModal from "@/common/components/ResolutionContentModal.vue";
import ProtocolSignersTable from "./components/ProtocolSignersTable.vue";
import PdfLetterTemplateForJointProtocol from "../../../../common/components/PdfLetterTemplateForJointProtocol.vue";

export default {
	name: "ProtocolFormUpdate",
	components: {
		PdfLetterTemplateForJointProtocol,
		ProtocolSignersTable,
		ResolutionContentModal,
		TypeIcon,
		PaperclipIcon,
		PlusIcon,
		FileIcon,
		XIcon,
		ArrowLeftIcon,
		PhoneCallIcon,
		GlobeIcon,
		MailIcon,
		Edit2Icon,
		ChevronDownIcon,
		EyeIcon,
		Trash2Icon,
    FileTextIcon,
		FileUploadForSendingDocument,
		CommitteeProtocolPreview
	},
	props: {
		protocolType: {
			type: String,
			default: "board_protocol"
		}
	},
	data() {
		return {
			chairman: {},
			secretary: {},
			agreedPerson: {},
			signerSelected: null,
			conditionSelected: null,
			isAppEditor: true,
			status: "",

			// JOINT PROTOCOL
			finance_chairman: null,
			monitoring_chairman: null,
			finance_signers: [],
			monitoring_signers: [],
			finance_signer_selected: null,
			monitoring_signer_selected: null,
			finance_condition_selected: null,
			monitoring_condition_selected: null,

			conditionList: [
				{
					name: this.$t('document-flow.views.send-document.business-trip'),
					value: "business_trip"
				},
				{
					name: this.$t('document-flow.views.send-document.labor-leave'),
					value: "vacation"
				},
				{
					name: this.$t('document-flow.views.send-document.unpaid-vacation'),
					value: "unpaid_leave"
				},
				{
					name: this.$t('document-flow.views.send-document.sick'),
					value: "sick"
				}
			],

			tab: null,
			files: [],
			dialog: false,

			model: {
				type: "protocol",
				register_number: null,
				register_date: null,
				short_description: null,
				created_date: null,
				text: "",
				files: [],
				receiver_type: "",
				journal_id: 6,
				// departments: [],
				agreed_by: [],
				signed_by: [],
				sender: "",
        __status: "draft"
				// __departmentList: []
			},

			committeeProtocolTypeSelected: "finance",
			committeeProtocolTypeList: [
				{
					name: this.$t('document-flow.views.send-document.financing'),
					value: "finance"
				},
				{
					name: this.$t('document-flow.views.send-document.monitoring'),
					value: "monitoring"
				},
				{
					name: "APBQ",
					value: "kuap"
				},
				{
					name: this.$t('document-flow.views.send-document.investment'),
					value: "invest"
				},
				{
					name: this.$t('document-flow.views.send-document.by-project-and-product'),
					value: "project_office"
				},
				{
					name: this.$t('document-flow.views.send-document.purchasing-commission'),
					value: "purchase_commission"
				},
				{
					name: "Xayriya komissiyasi",
					value: "charity_commission"
				},
				{
					name: "Kapital invest",
					value: "capital_invest"
				},
				{
					name: "Протокол комиссии по вопросам обучения",
					value: "hr_teaching"
				},
				{
					name: "Korrupsiyaga qarshi kurash",
					value: "anti_corruption"
				},
				{
					name: "Xarajatlarni o'rganish komissiyasi",
					value: "expense_commission"
				},
				{
					name: "Departament bayonnomasi",
					value: "department_protocol"
				},
				{
					name: "Markaziy ekspert kommissiyasi",
					value: "mek"
				},
				{
					name: "Moddiy yordam",
					value: "sick_paid_protocol"
				},
				{
					name: "Kasaba uyushmasi qo'mitasi",
					value: "trade_union"
				},
				{
					name: "Bank kichik qo'mitasi",
					value: "small_business"
				},
				{
					name: "Ishchi guruh bayonnomasi",
					value: "workgroup"
				},
				{
					name: this.$t('joint_protocol'),
					value: "joint_protocol"
				}
			],
			author: null,

			signersList: [],
			inviteesList: null,

      loading: false
		}
	},
	watch: {
		'$i18n.locale': {
			handler() {
				this.committeeProtocolTypeList = [
					{
						name: this.$t('document-flow.views.send-document.financing'),
						value: "finance"
					},
					{
						name: this.$t('document-flow.views.send-document.monitoring'),
						value: "monitoring"
					},
					{
						name: "APBQ",
						value: "kuap"
					},
					{
						name: this.$t('document-flow.views.send-document.investment'),
						value: "invest"
					},
					{
						name: this.$t('document-flow.views.send-document.by-project-and-product'),
						value: "project_office"
					},
					{
						name: this.$t('document-flow.views.send-document.purchasing-commission'),
						value: "purchase_commission"
					},
					{
						name: "Xayriya komissiyasi",
						value: "charity_commission"
					},
					{
						name: "Kapital invest",
						value: "capital_invest"
					},
					{
						name: "Протокол комиссии по вопросам обучения",
						value: "hr_teaching"
					},
					{
						name: "Korrupsiyaga qarshi kurash",
						value: "anti_corruption"
					},
					{
						name: "Xarajatlarni o'rganish komissiyasi",
						value: "expense_commission"
					},
					{
						name: "Departament bayonnomasi",
						value: "department_protocol"
					},
					{
						name: "Markaziy ekspert kommissiyasi",
						value: "mek"
					},
					{
						name: "Moddiy yordam",
						value: "sick_paid_protocol"
					},
					{
						name: "Kasaba uyushmasi qo'mitasi",
						value: "trade_union"
					},
					{
						name: "Bank kichik qo'mitasi",
						value: "small_business"
					},
					{
						name: "Ishchi guruh bayonnomasi",
						value: "workgroup"
					},
					{
						name: this.$t('joint_protocol'),
						value: "joint_protocol"
					}
				];
				this.conditionList = [
					{
						name: this.$t('document-flow.views.send-document.business-trip'),
						value: "business_trip"
					},
					{
						name: this.$t('document-flow.views.send-document.labor-leave'),
						value: "vacation"
					},
					{
						name: this.$t('document-flow.views.send-document.unpaid-vacation'),
						value: "unpaid_leave"
					},
					{
						name: this.$t('document-flow.views.send-document.sick'),
						value: "sick"
					}
				];
			}
		}
	},
	validations: {
		model: {
			text: {required},
			short_description: {required}
		},
		signersList: {required},
		chairman: {required},
		secretary: {required},
		signerSelected: {required},
		agreedPerson: {required},

		// JOINT_PROTOCOL
		finance_chairman: { required },
		monitoring_chairman: { required },
		finance_signers: { required },
		monitoring_signers: { required }
	},
	computed: {
		...mapGetters({
			getDisableItems: "getDisableItems",
			currentUser: "auth/getCurrentUser",
			employeeConditionList: "getEmployeeConditionList"
		}),
		/**/
		computedCommitteeProtocolTypeList(){
			if (['admin', 'hr_manager'].includes(this.currentUser.role)){
				return this.committeeProtocolTypeList
			}else {
				return this.committeeProtocolTypeList.filter(item => item.value !== 'hr_teaching')
			}
		},
		/**/
		pastePlainText(){
			return !['kuap', 'invest', 'finance', 'monitoring', 'small_business'].includes(this.committeeProtocolTypeSelected)
		},
		/**/
		registeredDate() {
			if (this.$route.params.id) {
				if (this.model.register_date){
					return new Date(this.model.register_date).getFullYear() + '-yil “' + new Date(this.model.register_date).getDate() + '” ' + toMonthName(new Date(this.model.register_date).getMonth(), "ru")
				}else {
					return new Date().getFullYear() + '-yil “__” ____________'
				}
			} else {
				return new Date().getFullYear() + '-yil “__” ____________'
			}
		},
		/**/
		inviteesListComputed() {
			let array = []
			if (this.signersList && this.signersList.length){
				this.signersList.filter(item => item.is_invited === true).forEach(item => array.push(item))
			}
			if (this.inviteesList && this.inviteesList.length){
				this.inviteesList.forEach(item => array.push(item))
			}
			return array
		},
		/**/
		// shortDescription(){
		// 	return this.model.text.replace(/<\/?[^>]+(>|$)/g, "").split(' ').slice(0, 30).join(' ');
		// },
		/**/
		subType(){
			let sub_type
			if (this.protocolType === 'committee_protocol' && this.committeeProtocolTypeSelected === 'finance'){
				sub_type = 'finance'
			}else if (this.protocolType === 'committee_protocol' && this.committeeProtocolTypeSelected === 'monitoring'){
				sub_type = 'monitoring'
			}else if (this.protocolType === 'committee_protocol' && this.committeeProtocolTypeSelected === 'kuap'){
				sub_type = 'kuap'
			}else if (this.protocolType === 'committee_protocol' && this.committeeProtocolTypeSelected === 'invest'){
				sub_type = 'invest'
			}else if (this.protocolType === 'committee_protocol' && this.committeeProtocolTypeSelected === 'project_office'){
				sub_type = 'project_office'
			}else if (this.protocolType === 'committee_protocol' && this.committeeProtocolTypeSelected === 'purchase_commission'){
				sub_type = 'purchase_commission'
			}else if (this.protocolType === 'committee_protocol' && this.committeeProtocolTypeSelected === 'charity_commission'){
				sub_type = 'charity_commission'
			}else if (this.protocolType === 'committee_protocol' && this.committeeProtocolTypeSelected === 'capital_invest'){
				sub_type = 'capital_invest'
			}else if (this.protocolType === 'committee_protocol' && this.committeeProtocolTypeSelected === 'hr_teaching'){
				sub_type = 'hr_teaching'
			}else if (this.protocolType === 'committee_protocol' && this.committeeProtocolTypeSelected === 'anti_corruption'){
				sub_type = 'anti_corruption'
			}else if (this.protocolType === 'committee_protocol' && this.committeeProtocolTypeSelected === 'joint_protocol'){
				sub_type = 'joint_protocol'
			}else if (this.protocolType === 'committee_protocol' && this.committeeProtocolTypeSelected === 'expense_commission'){
				sub_type = 'expense_commission'
			}else if (this.protocolType === 'committee_protocol' && this.committeeProtocolTypeSelected === 'department_protocol'){
				sub_type = 'department_protocol'
			}else if (this.protocolType === 'committee_protocol' && this.committeeProtocolTypeSelected === 'mek'){
				sub_type = 'mek'
			}else if (this.protocolType === 'committee_protocol' && this.committeeProtocolTypeSelected === 'sick_paid_protocol'){
				sub_type = 'sick_paid_protocol'
			}else if (this.protocolType === 'committee_protocol' && this.committeeProtocolTypeSelected === 'trade_union'){
				sub_type = 'trade_union'
			}else if (this.protocolType === 'committee_protocol' && this.committeeProtocolTypeSelected === 'small_business'){
				sub_type = 'small_business'
			}else if (this.protocolType === 'committee_protocol' && this.committeeProtocolTypeSelected === 'workgroup'){
				sub_type = 'workgroup'
			}else {
				sub_type = null
			}
			return sub_type
		}
	},
	mounted() {
		if (this.$route.params.id) {
			this.fetchGetOne(this.$route.params.id)
		}

		setTimeout(() => {
			this.model.sender = this.currentUser.top_level_dept_name
		}, 1000)
	},
	methods: {
		updateDraft() {
			let model = {
				...this.model,
				status: "draft",
				text: this.model.text.replace(/<br\s*[\/]?>/gi, '<br/>'),
				type: this.protocolType === 'committee_protocol' ? 'credit_committee' : 'protocol',
				sub_type: this.subType
			}

			this.$http.put(`/docflow/${this.currentUser.filial}/compose/${this.$route.params.id}/`, model)
			.then(({ data }) => {
				this.$toast.success(this.$t('document-flow.views.send-document.draft-created'))

				this.dialog = false
				this.loading = false

				if (this.$route.query.from && this.$route.query.from === 'approval'){
					this.$router.push({
						name: 'ApprovalTableType'
					})
				}else {
					this.$router.push({
						name: "SendingDocumentsShow",
						params: { id: this.$route.params.id },
						query: { type: this.protocolType === 'committee_protocol' ? 'committee_protocol' : 'protocol' }
					})
				}
			})
			.catch(() => {
				// this.$toast.error(this.$t('document-flow.views.send-document.error-sending-document'))
				this.loading = false
			})
    },
    /*
    *
    * */
		preview() {
			this.$v.$touch();

			if (this.protocolType === 'committee_protocol' && this.committeeProtocolTypeSelected === 'joint_protocol'){
				if (this.$v.finance_chairman.$invalid || this.$v.monitoring_chairman.$invalid || this.$v.secretary.$invalid || this.$v.model.text.$invalid || this.$v.model.short_description.$invalid || this.$v.finance_signers.$invalid || this.$v.monitoring_signers.$invalid || this.$v.agreedPerson.$invalid){
					this.$toast.warning(this.$t('document-flow.views.send-document.field-is-required'))
					return;
				}
			}else {
				if (this.$v.chairman.$invalid || this.$v.secretary.$invalid || this.$v.model.text.$invalid || this.$v.model.short_description.$invalid || this.$v.signersList.$invalid || this.$v.agreedPerson.$invalid) {
					this.$toast.warning(this.$t('document-flow.views.send-document.field-is-required'))
					return;
				}
			}

			if (this.protocolType === "committee_protocol" && this.committeeProtocolTypeSelected !== 'joint_protocol'){
				const { committeeProtocolPreview } = this.$refs;
				committeeProtocolPreview.dialog = true;
				committeeProtocolPreview.loading = this.loading;
				committeeProtocolPreview.chairman = this.chairman;
				committeeProtocolPreview.secretary = this.secretary;
				committeeProtocolPreview.signersList = this.signersList;
				committeeProtocolPreview.inviteesList = this.inviteesList;
				committeeProtocolPreview.register_number = this.model.register_number;
				committeeProtocolPreview.text = this.model.text;
				committeeProtocolPreview.committeeProtocolTypeSelected = this.committeeProtocolTypeSelected;
			}else {
				this.dialog = !this.dialog;
			}

			if (this.agreedPerson.hasOwnProperty('user')){
				this.agreedList.forEach(item => {
					if (item.user.id === this.agreedPerson.user.id){
						this.model.agreed_by = [ {
							id: item.id,
							user: item.user.id
						}];
					}else {
						this.model.agreed_by = [ {
							user: this.agreedPerson.user.id
						} ]
					}
				})
			}else {
				this.agreedList.forEach(item => {
					if (item.user.id === this.agreedPerson.id){
						this.model.agreed_by = [ {
							id: item.id,
							user: item.user.id
						}];
					}else {
						this.model.agreed_by = [ {
							user: this.agreedPerson.id
						} ]
					}
				})
			}

			this.model.signed_by = [];

			if (this.protocolType === 'committee_protocol' && this.committeeProtocolTypeSelected === 'joint_protocol'){
				this.finance_signers.forEach(item => this.model.signed_by.push({
					id: item.user && item.id,
					user: item.user ? item.user.id : item.id,
					is_invited: false,
					position: 'board_members_finance',
					condition: item.temp_condition ? item.temp_condition : null,
					is_signed: item.temp_condition || this.employeeConditionList.includes(item.condition) ? false : null,
				}));
				this.monitoring_signers.forEach(item => this.model.signed_by.push({
					id: item.user && item.id,
					user: item.user ? item.user.id : item.id,
					is_invited: false,
					position: 'board_members_monitoring',
					condition: item.temp_condition ? item.temp_condition : null,
					is_signed: item.temp_condition || this.employeeConditionList.includes(item.condition) ? false : null,
				}));

				this.model.signed_by.push({
					user: this.finance_chairman.user ? this.finance_chairman.user.id : this.finance_chairman.id,
					is_invited: false,
					position: 'chairman_finance',
					do_all_agree: false
				});

				this.model.signed_by.push({
					user: this.monitoring_chairman.user ? this.monitoring_chairman.user.id : this.monitoring_chairman.id,
					is_invited: false,
					position: 'chairman_monitoring',
					do_all_agree: false
				});

			}

			else {
				this.signersList.forEach(item => this.model.signed_by.push({
					id: item.user && item.id,
					user: item.user ? item.user.id : item.id,
					is_invited: false,
					position: 'board_members',
					condition: item.temp_condition ? item.temp_condition : null,
					is_signed: item.temp_condition || this.employeeConditionList.includes(item.condition) ? false : null,
				}));

				this.model.signed_by.push({
					user: this.chairman.user ? this.chairman.user.id : this.chairman.id,
					is_invited: false,
					position: 'chairman',
					do_all_agree: false
				});
			}

			if (this.secretary.hasOwnProperty('user')){
				this.model.signed_by.push({
					id: this.secretary.id,
					user: this.secretary.user.id,
					is_invited: false,
					position: 'secretary'
				});
			}else {
				this.model.signed_by.push({
					user: this.secretary.id,
					is_invited: false,
					position: 'secretary'
				});
			}

			if (this.inviteesList && this.inviteesList.length){
				this.inviteesList.forEach(item => {
					if (item.hasOwnProperty('user')){
						this.model.signed_by.push({
							id: item.id,
							user: item.user.id,
							is_invited: true,
							position: 'invitees'
						})
					}else {
						this.model.signed_by.push({
							user: item.id,
							is_invited: true,
							position: 'invitees'
						})
					}
				})
			}
		},
		/**/
		send() {
			this.$v.$touch();

			if (this.protocolType === 'committee_protocol' && this.committeeProtocolTypeSelected === 'joint_protocol'){
				if (this.$v.finance_chairman.$invalid || this.$v.monitoring_chairman.$invalid || this.$v.secretary.$invalid || this.$v.model.text.$invalid || this.$v.model.short_description.$invalid || this.$v.finance_signers.$invalid || this.$v.monitoring_signers.$invalid || this.$v.agreedPerson.$invalid){
					this.$toast.warning(this.$t('document-flow.views.send-document.field-is-required'))
					return;
				}
			}else {
				if (this.$v.chairman.$invalid || this.$v.secretary.$invalid || this.$v.model.text.$invalid || this.$v.model.short_description.$invalid || this.$v.signersList.$invalid || this.$v.agreedPerson.$invalid) {
					this.$toast.warning(this.$t('document-flow.views.send-document.field-is-required'))
					return;
				}
			}

      this.loading = !this.loading

      let model = {
        ...this.model,
        status: "pending",
        text: this.model.text.replace(/<br\s*[\/]?>/gi, '<br/>'),
	      type: this.protocolType === 'committee_protocol' ? 'credit_committee' : 'protocol',
	      sub_type: this.subType
      }

			this.$http.put(`/docflow/${this.currentUser.filial}/compose/${this.$route.params.id}/`, model)
				.then(({ data }) => {
					this.$toast.success(this.$t('document-flow.views.send-document.document-edited'))

					this.dialog = false
          this.loading = false

					if (this.$route.query.from && this.$route.query.from === 'approval'){
						this.$router.push({
							name: 'ApprovalTableType'
						})
					}else {
						this.$router.push({
							name: "SendingDocumentsShow",
							params: { id: this.$route.params.id },
							query: { type: this.protocolType === 'committee_protocol' && this.committeeProtocolTypeSelected === 'joint_protocol' ? 'joint_protocol' : this.protocolType === 'committee_protocol' && this.committeeProtocolTypeSelected !== 'joint_protocol' ? 'committee_protocol' : 'protocol' }
						})
					}
				})
				.catch(() => {
					// this.$toast.error(this.$t('document-flow.views.send-document.error-sending-document'))
          this.loading = false
				})
		},
		/**/
		deleteInvitee(item){
			let index = this.inviteesList.findIndex(invitee => invitee.id === item.id);
			this.inviteesList.splice(index, 1)
		},
		/**/
		uploadFiles(data) {
			this.files.push(data)

			this.model.files.push({
				id: data.id
			})
		},
		/**/
		deleteFile({ item, index}) {
			this.files.splice(index, 1)
			this.model.files.splice(index, 1)
		},
		/**/
		addSigners(){
			this.$v.signerSelected.$touch();
			if (this.$v.signerSelected.$invalid){
				return
			}
			if (this.conditionSelected){
				this.signersList.push({...this.signerSelected, temp_condition: this.conditionSelected.value, condition_name: this.conditionSelected.name});
			}else {
				this.signersList.push(this.signerSelected);
			}
			this.signerSelected = null;
			this.conditionSelected = null;
		},
		/**/
		addFinanceSigner(){
			if (this.finance_signer_selected){
				if (this.finance_condition_selected){
					this.finance_signers.push(
						{
							...this.finance_signer_selected,
							temp_condition: this.finance_condition_selected.value,
							condition_name: this.finance_condition_selected.name,
							condition: this.finance_condition_selected.value
						}
					)
				}else {
					this.finance_signers.push(this.finance_signer_selected)
				}

				this.finance_signer_selected = null;
				this.finance_condition_selected = null;
			}
		},
		/**/
		addMonitoringSigner(){
			if (this.monitoring_signer_selected){
				if (this.monitoring_condition_selected){
					this.monitoring_signers.push(
						{
							...this.monitoring_signer_selected,
							temp_condition: this.monitoring_condition_selected.value,
							condition_name: this.monitoring_condition_selected.name,
							condition: this.monitoring_condition_selected.value
						}
					)
				}else {
					this.monitoring_signers.push(this.monitoring_signer_selected)
				}

				this.monitoring_signer_selected = null;
				this.monitoring_condition_selected = null;
			}
		},
		/**/
		deleteItem(item){
			let index = this.signersList.findIndex(x => x.id === item.id);
			this.signersList.splice(index, 1);
		},
		/**/
		deleteFinanceSignerItem(item){
			let index = this.finance_signers.findIndex(x => x.id === item.id);
			this.finance_signers.splice(index, 1);
		},
		/**/
		deleteMonitoringSignerItem(item){
			let index = this.monitoring_signers.findIndex(x => x.id === item.id);
			this.monitoring_signers.splice(index, 1);
		},
		/**/
		fetchGetOne(id) {
			this.$http.get(`/docflow/${this.currentUser.filial}/compose/${id}/`)
				.then(({data}) => {
					this.model.created_date = data.created_date
					this.model.__status = data.status
					this.model.register_number = data.register_number
					this.model.register_date = data.register_date
					this.model.text = data.text
					this.model.files = data.files
					this.model.journal_id = data.journal_id
					this.model.sender = data.sender
					this.model.short_description = data.short_description
					this.author = data.author

					this.chairman = data.signed_by.find(x => x.position === 'chairman');
					this.secretary = data.signed_by.find(x => x.position === 'secretary');
					this.agreedPerson = data.agreed_by[0];


					this.files = [...data.files]

					this.agreedList = [...data.agreed_by]

					data.signed_by.filter(x => x.position === 'board_members').forEach(item => {
						this.signersList.push({
							...item,
							condition_name: item.condition ? this.returnCondition(item.condition) : item.user.condition_name
						})
					})
					this.inviteesList = data.signed_by.filter(x => x.position === 'invitees');

					this.committeeProtocolTypeSelected = data.sub_type ? data.sub_type : null;

					this.model.type = data.type;

					this.status = data.status;

					if (data.sub_type && data.sub_type === 'joint_protocol'){
					  const { finance_chairman, monitoring_chairman, finance_signers, monitoring_signers } = adjustSignersForJointProtocol(data.signed_by);
						this.finance_chairman = finance_chairman;
						this.monitoring_chairman = monitoring_chairman;
						this.finance_signers = finance_signers;
						this.monitoring_signers = monitoring_signers;
					}

					console.log(this.finance_chairman)
				})
		},
		returnCondition(condition){
			return  condition === 'vacation' ? 'Mehnat ta\'tilida' : condition === 'business_trip' ? 'Xizmat safarida' : condition === 'unpaid_leave' ? 'O\'z hisobidan ta\'tilda' : condition === 'sick' ? 'Kasallik varaqasida' : null
		},
		/**/
		resetForm() {
			this.model.register_number = null
			this.model.short_description = null
			this.model.text = ""
			this.model.files = []
			this.model.departments = []
			this.model.agreed_by = []
			this.model.signed_by = []
			this.agreedList = []
			this.signersList = []
			this.inviteesList = []

			this.files = []
		},
		/**/
		onTypeChange(){
			this.model.text = "";
			this.isAppEditor = false;
			setTimeout(() => {
				this.isAppEditor = true;
			}, 100)
		}
	}
}
</script>

<style>
.generate-wrap .ps {
	height: 100%;
}
</style>
