<template>
	<div class="sending-document-show d-flex h-100">
		<app-loader v-if="loading" content-width :size="56"/>

		<template v-else>
      <div class="template-width">
        <template v-if="model.type === 'hr_notice'">
          <div class="mb-3">
            <app-button
              @click="scoreActiveList = 0"
              class="mr-2"
            >
              {{$t('document-flow.views.send-document.notification')}}
            </app-button>

            <app-button
              @click="scoreActiveList = 1"
              color="warning"
            >
              {{$t('document-flow.views.send-document.evaluation-paper')}}
            </app-button>
          </div>
        </template>

        <template v-if="model.type === 'hr_rotation'">
          <div class="mb-3">
            <app-button
              @click="scoreActiveList = 0"
              class="mr-2"
            >
              {{$t('document-flow.views.send-document.notification')}}
            </app-button>

            <app-button
              @click="scoreActiveList = 1"
              color="warning"
            >
              {{$t('document-flow.views.send-document.rotation-list')}}
            </app-button>
          </div>
        </template>

        <template v-if="scoreActiveList === 0">
          <app-wrapper
            class="content-scroll w-100 shadow-6 rounded-0 p-relative"
            :style="{
              height: (model.type === 'hr_notice' || model.type === 'hr_rotation') ? 'calc(100% - 50px)' : '100%'
            }"
          >
            <template #body>
              <div v-if="historyContentDialog" class="p-absolute error-bg rounded" style="top: 10px; right: 25px; z-index: 1;">
                <v-btn
                  color="error"
                  tile
                  icon
                  small
                  @click="historyContentDialog = false"
                >
                  <x-icon class="text-white" size="20" />
                </v-btn>
              </div>

              <pdf-letter-template
                v-if="['leadership', 'inner', 'outgoing', 'job', 'organization_letter', 'hr_rotation'].includes($route.query.type)"
                :letter-type="($route.query.type === 'inner' || $route.query.type === 'leadership' ||  $route.query.type === 'hr_rotation') ? 'inner' : $route.query.type === 'job' ? 'job' : 'outgoing'"
                :letter-props="{
                  id: model.id,
                  sender: model.sender,
                  createdDate: model.created_date,
                  isSigned: model.is_signed,
                  registerNumber: model.register_number,
                  filial: model.filial,
                  receiver: model.receiver,
                  departments: model.receiver ? model.receiver.departments : [],
                  branches: model.receiver ? model.receiver.branches : [],
                  letterType: model.type === 'notice' && model.sub_type === 'trip' ? 'XIZMAT SAFARI' : (model.type === 'notice' || model.type === 'hr_rotation') ? 'BILDIRISHNOMA' : model.type === 'decree' ? 'FARMOYISH' : model.type === 'hr_notice' ? 'BILDIRISHNOMA' : model.type === 'summary' ? 'XULOSA' : 'XIZMAT XATI',
                  letterShortDescription: model.short_description,
                  text: model.text,
                  signedByList: signersList,
                  noticeUser: isNoticeUser ? isNoticeUser : {},
                  recruiter: recruiterUser,
                  executor: model.author,
                  checkId: model.check_id,
                  signerObject: model.signer_obj ? model.signer_obj : [],
                  isTechnique: model.type === 'act',
                  isAgreed: model && model.agreed_by && model.agreed_by[0] && model.agreed_by[0].is_agreed,
                  isForPayment: model.is_for_payment,
                  agreedPerson: model.type === 'act' ? model.agreed_by[0].user : {},
                  isActCreator: true,
                  modifiedDate: model.modified_date ? model.modified_date : null,
                  registerDate: model.register_date ? model.register_date :null,
                  type: model.type,
                  sendBy: model.send_by,
                  compose_send: model.compose_send,
                  component: model.component,
                  agreed_by: model.agreed_by,
                  priority: model.priority
                }"
                :is-outgoing="model.receiver && model.receiver.type === 'organization'"
              >
                <template #text v-if="historyContentDialog">
                  <div style="text-indent: 0">
                    <v-alert color="error" text>
                      <p class="small-2 mb-2">
                        <span class="font-500">{{$t('document-flow.views.send-document.author')}}: &nbsp;</span>
                        <span>{{ historyContent.created_by && historyContent.created_by.full_name }}</span>
                      </p>

                      <p class="small-2 mb-0">
                        <span class="font-500">{{$t('document-flow.views.send-document.edit-date')}}: &nbsp;</span>
                        <span>{{ historyContent.created_date | filterCalendarToTime }}</span>
                      </p>
                    </v-alert>
                  </div>

                  <span ref="resultText" data-history="history"></span>
                </template>
              </pdf-letter-template>

              <template v-else-if="$route.query.type === 'vacation'">
                <pdf-letter-template-for-vacation
                  :letter-props="{
                    id: model.id,
                    sender: model.sender,
                    dep_parent_name: model.dep_parent_name,
                    createdDate: model.created_date,
                    text: model.text,
                    signedByList: model.signed_by.filter(user => user.is_for_notice !== true),
                    noticeUser: isNoticeUser ? isNoticeUser : {},
                    executor: model.author,
                    checkId: model.check_id,
                    signerObject: model.signer_obj ? model.signer_obj[0] : {},
                  }"
                >
                  <template #text v-if="historyContentDialog">
                    <div style="text-indent: 0">
                      <v-alert color="error" text>
                        <p class="small-2 mb-2">
                          <span class="font-500">{{$t('document-flow.views.send-document.author')}}: &nbsp;</span>
                          <span>{{ historyContent.created_by && historyContent.created_by.full_name }}</span>
                        </p>

                        <p class="small-2 mb-0">
                          <span class="font-500">{{$t('document-flow.views.send-document.edit-date')}}: &nbsp;</span>
                          <span>{{ historyContent.created_date | filterCalendarToTime }}</span>
                        </p>
                      </v-alert>
                    </div>

                    <span ref="resultText" data-history="history"></span>
                  </template>
                </pdf-letter-template-for-vacation>
              </template>

              <template v-else-if="$route.query.type === 'decree'">
                <pdf-letter-template-for-decree
                  :letter-props="{
                    id: model.id,
                    sender: model.sender,
                    dep_parent_name: model.dep_parent_name,
                    createdDate: model.created_date,
                    text: model.text,
                    signedByList: model.signed_by,
                    agreedByList: model.agreed_by,
                    executor: model.author,
                    checkId: model.check_id,
                    decreeType: model.sub_type ? model.sub_type : model.is_for_payment ? 'payment_decree' : model.receiver ? 'service_decree' : 'chairman_decree',
                    receiverList: model.receiver && model.receiver.type === 'department' ? model.receiver.departments : model.receiver && model.receiver.branches,
                    isDocumentRegistered: model.register_number !== null,
                    registerNumber: model.register_number,
                    registerDate: model.register_date,
                    signerObject: model.signer_obj ? model.signer_obj[0] : {},
                    isAgreed: model.agreed_by && model.agreed_by[0] && model.agreed_by[0].is_agreed,
                    isForPayment: model.is_for_payment
                  }"
                >
                  <template #text v-if="historyContentDialog">
                    <div style="text-indent: 0">
                      <v-alert color="error" text>
                        <p class="small-2 mb-2">
                          <span class="font-500">{{$t('document-flow.views.send-document.author')}}: &nbsp;</span>
                          <span>{{ historyContent.created_by && historyContent.created_by.full_name }}</span>
                        </p>

                        <p class="small-2 mb-0">
                          <span class="font-500">{{$t('document-flow.views.send-document.edit-date')}}: &nbsp;</span>
                          <span>{{ historyContent.created_date | filterCalendarToTime }}</span>
                        </p>
                      </v-alert>
                    </div>

                    <span ref="resultText" data-history="history"></span>
                  </template>
                </pdf-letter-template-for-decree>
              </template>

              <template v-else-if="$route.query.type === 'hr_order'">
                <!-- History status qo'yilmagan xali &ndash -->
                <pdf-letter-template-for-hr-order
                  :letter-props="{
										id: model.id,
                    registerNumber: model.register_number,
                    registerDate: model.register_date,
                    allowance: model.allowance,
                    component: model.component,
                    text: model.text,
                    shortDescription: model.short_description,
                    user: model.user,
                    signerObject: model.signer_obj,
                    signedByList: model.signed_by.filter(user => user.is_for_notice !== true),
                    checkId: model.check_id,
                    isSigned: model.is_signed
                  }"
                >
                  <template #textHtml v-if="historyContentDialog">
                    <div style="text-indent: 0">
                      <v-alert color="error" text>
                        <p class="small-2 mb-2">
                          <span class="font-500">{{$t('document-flow.views.send-document.author')}}: &nbsp;</span>
                          <span>{{ historyContent.created_by && historyContent.created_by.full_name }}</span>
                        </p>

                        <p class="small-2 mb-0">
                          <span class="font-500">{{$t('document-flow.views.send-document.edit-date')}}: &nbsp;</span>
                          <span>{{ historyContent.created_date | filterCalendarToTime }}</span>
                        </p>
                      </v-alert>
                    </div>

                    <span ref="resultText" data-history="history"></span>
                  </template>
                </pdf-letter-template-for-hr-order>
              </template>

	            <template v-else-if="$route.query.type === 'committee_protocol'">
		            <pdf-letter-template-for-committee-protocol
			            :model="model"
			            :invitees-list="model.signed_by"
		            >
			            <template #text v-if="historyContentDialog">
				            <div style="text-indent: 0">
					            <v-alert color="error" text>
						            <p class="small-2 mb-2">
							            <span class="font-500">{{$t('document-flow.views.send-document.author')}}: &nbsp;</span>
							            <span>{{ historyContent.created_by && historyContent.created_by.full_name }}</span>
						            </p>

						            <p class="small-2 mb-0">
							            <span class="font-500">{{$t('document-flow.views.send-document.edit-date')}}: &nbsp;</span>
							            <span>{{ historyContent.created_date | filterCalendarToTime }}</span>
						            </p>
					            </v-alert>
				            </div>

				            <span ref="resultText" data-history="history"></span>
			            </template>
		            </pdf-letter-template-for-committee-protocol>
	            </template>

	            <template v-else-if="$route.query.type === 'joint_protocol'">
		            <pdf-letter-template-for-joint-protocol
			            :model="{
									 ...model,
									 finance_chairman: model.signed_by.find(item => item.position === 'chairman_finance'),
									 monitoring_chairman: model.signed_by.find(item => item.position === 'chairman_monitoring'),
									 finance_signers: model.signed_by.filter(item => item.position === 'board_members_finance'),
									 monitoring_signers: model.signed_by.filter(item => item.position === 'board_members_monitoring'),
									 invitees_list: model.signed_by.filter(item => item.position === 'invitees'),
									 secretary: model.signed_by.find(item => item.position === 'secretary')
			            }"

		            >
			            <template #text v-if="historyContentDialog">
				            <div style="text-indent: 0">
					            <v-alert color="error" text>
						            <p class="small-2 mb-2">
							            <span class="font-500">{{$t('document-flow.views.send-document.author')}}: &nbsp;</span>
							            <span>{{ historyContent.created_by && historyContent.created_by.full_name }}</span>
						            </p>

						            <p class="small-2 mb-0">
							            <span class="font-500">{{$t('document-flow.views.send-document.edit-date')}}: &nbsp;</span>
							            <span>{{ historyContent.created_date | filterCalendarToTime }}</span>
						            </p>
					            </v-alert>
				            </div>

				            <span ref="resultText" data-history="history"></span>
			            </template>
		            </pdf-letter-template-for-joint-protocol>
	            </template>

	            <template v-else-if="$route.query.type === 'currency_summary'">
								<pdf-letter-template-for-currency-summary
									:letter-props="{
										id: model.id,
					          text: model.text,
					          signedByList: signersList,
					          signerObject: model.signer_obj ? model.signer_obj[0] : {},
					          model: model,
					          checkId: model.check_id,
					          noticeUser: isNoticeUser ? isNoticeUser : {},
					        }"
								/>
	            </template>

	            <template v-else-if="$route.query.type === 'hr_contract'">
		            <pdf-letter-template-for-hr-contract
			            :letter-props=model
		            >
			            <template #text v-if="historyContentDialog">
				            <div style="text-indent: 0">
					            <v-alert color="error" text>
						            <p class="small-2 mb-2">
							            <span class="font-500">{{$t('document-flow.views.send-document.author')}}: &nbsp;</span>
							            <span>{{ historyContent.created_by && historyContent.created_by.full_name }}</span>
						            </p>

						            <p class="small-2 mb-0">
							            <span class="font-500">{{$t('document-flow.views.send-document.edit-date')}}: &nbsp;</span>
							            <span>{{ historyContent.created_date | filterCalendarToTime }}</span>
						            </p>
					            </v-alert>
				            </div>

				            <span ref="resultText" data-history="history"></span>
			            </template>
		            </pdf-letter-template-for-hr-contract>
	            </template>

	            <template v-else-if="$route.query.type === 'compliance_regulation'">
		            <pdf-letter-template-for-compliance-regulation
									:model="model"
		            >
			            <template #text v-if="historyContentDialog">
				            <div style="text-indent: 0">
					            <v-alert color="error" text>
						            <p class="small-2 mb-2">
							            <span class="font-500">{{$t('document-flow.views.send-document.author')}}: &nbsp;</span>
							            <span>{{ historyContent.created_by && historyContent.created_by.full_name }}</span>
						            </p>

						            <p class="small-2 mb-0">
							            <span class="font-500">{{$t('document-flow.views.send-document.edit-date')}}: &nbsp;</span>
							            <span>{{ historyContent.created_date | filterCalendarToTime }}</span>
						            </p>
					            </v-alert>
				            </div>

				            <span ref="resultText" data-history="history"></span>
			            </template>
		            </pdf-letter-template-for-compliance-regulation>
	            </template>

	            <template v-else-if="$route.query.type === 'trip_license'">
		            <pdf-letter-template-for-trip-license
									:compose="model"
		            />
	            </template>

	            <template v-else-if="$route.query.type === 'retail_act'">
		            <pdf-letter-template-for-retail-act
			            :letter-props="{
										model: model
			            }"
		            >
			            <template #text v-if="historyContentDialog">
				            <div style="text-indent: 0">
					            <v-alert color="error" text>
						            <p class="small-2 mb-2">
							            <span class="font-500">{{$t('document-flow.views.send-document.author')}}: &nbsp;</span>
							            <span>{{ historyContent.created_by && historyContent.created_by.full_name }}</span>
						            </p>

						            <p class="small-2 mb-0">
							            <span class="font-500">{{$t('document-flow.views.send-document.edit-date')}}: &nbsp;</span>
							            <span>{{ historyContent.created_date | filterCalendarToTime }}</span>
						            </p>
					            </v-alert>
				            </div>

				            <span ref="resultText" data-history="history"></span>
			            </template>
		            </pdf-letter-template-for-retail-act>
	            </template>

	            <template v-else-if="$route.query.type === 'irr'">
		            <pdf-letter-template-for-individual-development-plan
			            :compose="model"
		            >
			            <template #text v-if="historyContentDialog">
				            <div style="text-indent: 0">
					            <v-alert color="error" text>
						            <p class="small-2 mb-2">
							            <span class="font-500">{{$t('document-flow.views.send-document.author')}}: &nbsp;</span>
							            <span>{{ historyContent.created_by && historyContent.created_by.full_name }}</span>
						            </p>

						            <p class="small-2 mb-0">
							            <span class="font-500">{{$t('document-flow.views.send-document.edit-date')}}: &nbsp;</span>
							            <span>{{ historyContent.created_date | filterCalendarToTime }}</span>
						            </p>
					            </v-alert>
				            </div>

				            <span ref="resultText" data-history="history"></span>
			            </template>
		            </pdf-letter-template-for-individual-development-plan>
	            </template>

	            <template v-else-if="$route.query.type === 'attorney'">
		            <pdf-letter-template-for-attorney
			            :compose="model"
		            >
			            <template #text v-if="historyContentDialog">
				            <div style="text-indent: 0">
					            <v-alert color="error" text>
						            <p class="small-2 mb-2">
							            <span class="font-500">{{$t('document-flow.views.send-document.author')}}: &nbsp;</span>
							            <span>{{ historyContent.created_by && historyContent.created_by.full_name }}</span>
						            </p>

						            <p class="small-2 mb-0">
							            <span class="font-500">{{$t('document-flow.views.send-document.edit-date')}}: &nbsp;</span>
							            <span>{{ historyContent.created_date | filterCalendarToTime }}</span>
						            </p>
					            </v-alert>
				            </div>

				            <span ref="resultText" data-history="history"></span>
			            </template>
		            </pdf-letter-template-for-attorney>
	            </template>

	            <template v-else-if="$route.query.type === 'reference'">
		            <base-template
			            :model="model"
			            component="ReferenceTemplate"
		            >
			            <template #text v-if="historyContentDialog">
				            <div style="text-indent: 0">
					            <v-alert color="error" text>
						            <p class="small-2 mb-2">
							            <span class="font-500">{{$t('document-flow.views.send-document.author')}}: &nbsp;</span>
							            <span>{{ historyContent.created_by && historyContent.created_by.full_name }}</span>
						            </p>

						            <p class="small-2 mb-0">
							            <span class="font-500">{{$t('document-flow.views.send-document.edit-date')}}: &nbsp;</span>
							            <span>{{ historyContent.created_date | filterCalendarToTime }}</span>
						            </p>
					            </v-alert>
				            </div>

				            <span ref="resultText" data-history="history"></span>
			            </template>
		            </base-template>
	            </template>

              <template v-else>
                <pdf-letter-template-for-protocol
                  :model="model"
                  :invitees-list="model.signed_by"
                >
                  <template #text v-if="historyContentDialog">
                    <div style="text-indent: 0">
                      <v-alert color="error" text>
                        <p class="small-2 mb-2">
                          <span class="font-500">{{$t('document-flow.views.send-document.author')}}: &nbsp;</span>
                          <span>{{ historyContent.created_by && historyContent.created_by.full_name }}</span>
                        </p>

                        <p class="small-2 mb-0">
                          <span class="font-500">{{$t('document-flow.views.send-document.edit-date')}}: &nbsp;</span>
                          <span>{{ historyContent.created_date | filterCalendarToTime }}</span>
                        </p>
                      </v-alert>
                    </div>

                    <span ref="resultText" data-history="history"></span>
                  </template>
                </pdf-letter-template-for-protocol>
              </template>
            </template>
          </app-wrapper>
        </template>

        <template v-if="scoreActiveList === 1">
          <app-wrapper
            class="w-100 shadow-6 rounded-0"
            :style="{
              height: (model.type === 'hr_notice' || model.type === 'hr_rotation') ? 'calc(100% - 50px)' : '100%'
            }"
          >
            <template #body>
              <template v-if="model.type === 'hr_notice'">
                <score-sheet-letter-template
                  :letter-props="{
                    text: model.evaluation.text,
                    recruiter: model.evaluation.recruiter,
                    recruiterSigned: model.evaluation.recruiter_is_signed,
                    director: model.evaluation.director,
                    directorSigned: model.evaluation.director_is_signed,
                    checkId: model.check_id,
                  }"
                />
              </template>

              <template v-if="model.type === 'hr_rotation'">
                <pdf-letter-template-for-rotation
                  :letter-props="{
									  text: model.evaluation.text,
									  type: model.evaluation.rotation_signers.type.value,
									  executive: model.evaluation.rotation_signers.executive,
									  invited: model.evaluation.rotation_signers.invited,
                  }"
                />
              </template>
            </template>
          </app-wrapper>
        </template>
      </div>

			<div class="flex-1 pl-7">
				<perfect-scrollbar class="h-100 px-3">
          <app-wrapper class="shadow-6 mb-5">
            <template #header>
              <h4 class="small-2 font-600">{{$t('document-flow.views.send-document.history-list')}}</h4>
            </template>

            <template #body>
              <text-different-slide
                :document-id="$route.params.id"
                @emit:up="activeHistoryContent"
              />
            </template>
          </app-wrapper>

          <attached-files-block
	          :files="model.files"
	          :send-type="model.type === 'organization_letter' && model.send_by === 'hybrid_mail' ? 'hybrid' : null"
          />

					<v-row>
						<v-col md="6">
              <process-people-block
                v-if="model"
                :owner="model.author"
                :agreed-list="model.agreed_by"
                :signers-list="model.signed_by"
              />
						</v-col>

						<v-col md="6">
              <timeline-people-block
                v-if="model"
                :model="model"
                :owner="model.author"
                :agreed-list="model.agreed_by"
                :signers-list="model.signed_by"
                @restartSignature="restartSignature"
                @toggleVisibility="toggleVisibility"
              />
						</v-col>

            <template v-if="isNoticeUser">
              <v-col md="6">
                <app-wrapper class="shadow-6">
                  <template #header>
                    <h4 class="small-2 font-600">{{$t('document-flow.views.send-document.resolution-content')}}</h4>
                  </template>

                  <template #body>
                    <perfect-scrollbar style="max-height: 230px" class="mx-n5 px-5">
                      <div
                        v-for="(item, index) in isNoticeUser.performers"
                        class="d-flex text-dark font-600 small-2 mb-2"
												:key="index"
                      >
                        <span>{{ index + 1 }}.</span>
                        <span class="ml-1">
                          {{ item.user ? item.user.full_name : item.full_name }}
                        </span>
                      </div>
                    </perfect-scrollbar>
                  </template>
                </app-wrapper>
              </v-col>

              <v-col md="6">
                <app-wrapper class="shadow-6 h-100">
                  <template #header>
                    <h4 class="small-2 font-600">{{$t('document-flow.views.send-document.resolution-content')}}</h4>
                  </template>

                  <template #body>
                    <perfect-scrollbar style="max-height: 230px" class="mx-n5 px-5">
                      <span v-html="isNoticeUser.resolution_text" class="reset-space"></span>
                    </perfect-scrollbar>
                  </template>
                </app-wrapper>
              </v-col>
            </template>

						<v-col md="12" class="d-flex">
							<app-button
								@click="$router.go(-1)"
								depressed
								color="error"
								class="mr-3"
							>
								<template #default>
									{{$t('document-flow.views.send-document.back')}}
								</template>
								<template #prepend>
									<v-icon size="20">mdi-arrow-left</v-icon>
								</template>
							</app-button>

							<template v-if="!['protocol', 'compliance_regulation', 'trip_license'].includes(model.type)">
								<template v-if="model.type !== 'decree'">
									<app-button
										v-if="model.type !== 'act'"
										@click="$router.push({
                    name: $route.query.type === 'leadership' ? 'SendingDocumentsLeadershipShow' :  $route.query.type === 'job' ? 'SendingDocumentsLeadershipShow' : $route.query.type === 'hr_order' ? 'SendingDocumentsOrderUpdateUpdate' : $route.query.type === 'vacation' ? 'SendingDocumentsCreateApplicationShow' : 'SendingDocumentsOpen',
                    query: {
                      type: $route.query.type === 'hr_order' ? 'hr_order' : $route.query.type === 'leadership' ? 'leadership' : $route.query.type === 'inner' ? 'inner' : $route.query.type === 'protocol' ? 'protocol' : $route.query.type === 'vacation' ? 'vacation' : $route.query.type === 'job' ? 'job' : 'outgoing',
                      readonly: true,
                      scoreId: $route.query.type === 'job' ? model.evaluation.id : null
                    }
                  })"
									>
										<template #prepend>
											<eye-icon size="18"/>
										</template>
										{{$t('document-flow.views.send-document.view-document')}}
									</app-button>
								</template>
							</template>

							<template v-if="model.type !== 'act'">
								<template v-if="$route.query.type === 'protocol'">
									<app-button
										v-if="(currentUser.id === 6081 || currentUser.id === model.author.id || ['admin', 'chancellery_admin'].some(role => currentUser.roles.includes(role))) && !model.is_signed"
										color="error"
										class="ml-3"
										@click="$router.push({
		                  name: 'SendingDocumentsProtocolUpdate'
		                })"
									>
										<template #prepend>
											<edit-icon size="18"/>
										</template>
										{{$t('document-flow.views.send-document.edit')}}
									</app-button>
									<app-button
										v-if="['admin', 'chancellery_admin', 'credit_committee', 'kuap_invest'].includes(currentUser.role) && isSentToSigning === false"
										color="primary"
										class="ml-3"
										@click="sendToSigning"
									>
										<template #prepend>
											<check-circle-icon size="18" />
										</template>
										{{$t('document-flow.views.send-document.send-for-signature')}}
									</app-button>
								</template>

								<template v-else-if="['committee_protocol', 'joint_protocol'].includes($route.query.type)">
									<app-button
										v-if="(currentUser.id === model.author.id || ['admin', 'credit_committee', 'kuap_invest', 'charity_commission', 'capital_invest', 'project_office', 'purchase_commission'].includes(currentUser.role)) && !model.is_signed"
										color="error"
										class="ml-3"
										@click="$router.push({
		                  name: 'SendingDocumentsCommitteeProtocolUpdate'
		                })"
									>
										<template #prepend>
											<edit-icon size="18"/>
										</template>
										{{$t('document-flow.views.send-document.edit')}}
									</app-button>
									<app-button
										v-if="(['admin', 'chancellery_admin', 'credit_committee', 'kuap_invest', 'charity_commission', 'capital_invest', 'project_office', 'purchase_commission', 'hr_manager', 'mek', 'trade_union'].some(role => currentUser.roles.includes(role)) && isSentToSigning === false) || (model.sub_type === 'workgroup' && isSentToSigning === false)"
										color="primary"
										class="ml-3"
										@click="sendToSigning"
									>
										<template #prepend>
											<check-circle-icon size="18" />
										</template>
										{{$t('document-flow.views.send-document.send-for-signature')}}
									</app-button>
								</template>

								<template v-else-if="$route.query.type === 'hr_order'">
									<template v-if="model.sub_type === 'arbitrary_order'">
                    <app-button
                      v-if="!model.is_signed"
                      color="error"
                      :to="{ name: 'ArbitraryOrderUpdate' }"
                      class="ml-3"
                    >
                      <template #prepend>
                        <edit-icon size="18"/>
                      </template>
                      {{ $t('update-arbitrary-order') }}
                    </app-button>
									</template>

									<template v-else>
                    <app-button
                      v-if="!model.is_signed"
                      color="error"
                      :to="{ name: 'SendingDocumentsOrderUpdateUpdate' }"
                      class="ml-3"
                    >
                      <template #prepend>
                        <edit-icon size="18"/>
                      </template>
                      {{$t('document-flow.views.send-document.edit-order')}}
                    </app-button>
									</template>
								</template>

								<template v-else-if="$route.query.type === 'organization_letter'">
									<!-- && !isSomeoneSigned -->
									<app-button
										v-if="!model.is_signed"
										color="error"
										class="ml-3"
										@click="routeChangeDocument"
									>
										<template #prepend>
											<edit-icon size="18"/>
										</template>
										{{$t('document-flow.views.send-document.edit')}}
									</app-button>
								</template>

								<template v-else>
									<app-button
										v-if="!model.is_signed"
										color="error"
										class="ml-3"
                    @click="routeChangeDocument"
									>
										<template #prepend>
											<edit-icon size="18"/>
										</template>
										{{$t('document-flow.views.send-document.edit')}}
									</app-button>
								</template>

								<app-button
									v-if="model.document_id"
									class="ml-2"
									:disabled="!model.document_id"
									@click="routeOpenProcess"
								>
									<template #prepend>
										<activity-icon size="18"/>
									</template>
									{{$t('document-flow.views.send-document.view-process')}}
								</app-button>
							</template>

							<template v-if="['decree', 'protocol', 'credit_committee', 'organization_letter', 'compliance_regulation', 'hr_contract', 'trip_license'].includes(model.type) && (isChancellery || ['department_protocol'].includes(model.sub_type))">
								<app-button
									v-if="(model.status === 'for_registration' || currentUser.id === 6081) && !model.document_id && (isEveryoneSigned || currentUser.id === 6081 || ['admin', 'credit_committee', 'kuap_invest', 'charity_commission', 'capital_invest', 'project_office', 'chancellery', 'chancellery_admin', 'purchase_commission', 'filial_chancellery', 'compliance', 'hr_manager', 'mek', 'trade_union', 'audit_tasks'].some(role => currentUser.roles.includes(role)) || ['department_protocol'].includes(model.sub_type))"
									class="ml-4"
									@click="register"
								>
									<template #prepend>
										<edit-icon size="18"/>
									</template>
									{{$t('document-flow.views.send-document.registration')}}
								</app-button>
							</template>
							<app-button class="ml-2" @click="historiesModal = !historiesModal">
								<template #prepend>
									<svg height="20" viewBox="0 0 24 24" width="20">
										<path fill="none" d="M0 0h24v24H0V0z" />
										<path
											fill="#ffffff"
											d="M13.26 3C8.17 2.86 4 6.95 4 12H2.21c-.45 0-.67.54-.35.85l2.79 2.8c.2.2.51.2.71 0l2.79-2.8c.31-.31.09-.85-.36-.85H6c0-3.9 3.18-7.05 7.1-7 3.72.05 6.85 3.18 6.9 6.9.05 3.91-3.1 7.1-7 7.1-1.61 0-3.1-.55-4.28-1.48-.4-.31-.96-.28-1.32.08-.42.42-.39 1.13.08 1.49C9 20.29 10.91 21 13 21c5.05 0 9.14-4.17 9-9.26-.13-4.69-4.05-8.61-8.74-8.74zm-.51 5c-.41 0-.75.34-.75.75v3.68c0 .35.19.68.49.86l3.12 1.85c.36.21.82.09 1.03-.26.21-.36.09-.82-.26-1.03l-2.88-1.71v-3.4c0-.4-.34-.74-.75-.74z"
										/>
									</svg>
								</template>
								<span class="ml-2">{{
									$t("control-tasks.tasks.history-changes")
								}}</span>
							</app-button>

							<template v-if="['admin', 'chancellery_admin', 'chancellery'].includes(currentUser.role) && $route.query.type ==='organization_letter'">
								<send-correspondent
									:compose="model"
									@emit:onSuccess="fetchGetOne($route.params.id)"
								/>
							</template>
						</v-col>

						<v-col md="12">
							<app-wrapper class="shadow-6">
								<template #header>
									<h4 class="small-2 font-600">{{$t('document-flow.views.send-document.comment')}}</h4>
								</template>
								<template #body>
									<comment-field
										v-if="!model.is_signed || (model.type === 'organization_letter')"
										:is-replying="false"
										:button-name="$t('document-flow.views.send-document.add')"
										:compose-model="model"
									/>

									<comments-box
                      :compose-model="model"
                      :file-upload="false"
                  />
								</template>
							</app-wrapper>
						</v-col>
					</v-row>
				</perfect-scrollbar>
			</div>
		</template>
		<v-dialog
			@click:outside="historiesModal = !historiesModal"
			@keydown.esc="historiesModal = !historiesModal"
			max-width="800px"
			v-model="historiesModal"
			>
			<v-card class="pa-3">
				<h4 class="py-5 mx-4 font-500 px-0" style="font-size: 20px">
					{{ $t("control-tasks.tasks.history-changes") }}
				</h4>
				<div class="px-4 mb-4">
					<template v-if="histories.length">
						<div
							:key="index"
							class="py-4 border-bottom border-top"
							style="margin-top: -1px"
							v-for="(history, index) in histories"
						>
							<div class="d-flex align-center mb-4">
								<v-avatar
									:color="history.created_by.color"
									class="mr-2"
									size="42"
									><span class="font-500 text-white small">{{
										history.created_by.full_name.slice(0, 1)
									}}</span>
								</v-avatar>
								<div class="d-flex small font-500">
									<span class="mr-2">{{ history.created_by.full_name }}</span>
									<span class="mr-2 text-2">{{ history.description }}</span>
									<span class="mr-2 text-2">{{
										parseDateHour(history.created_date)
									}}</span>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6 col">
									<p class="font-600 small-2 mb-0">
										{{ $t("control-tasks.tasks.original-value") }}
									</p>
									<span class="font-600 text-2 small-2" v-html="history.original_value"></span>
									</div>
									<div class="col-md-6 col">
									<p class="font-600 small-2 mb-0">
										{{ $t("control-tasks.tasks.new-value") }}
									</p>
									<span class="font-600 text-2 small-2" v-html="history.new_value"></span>
								</div>
							</div>
						</div>
						<div v-if="historiesLoading" class="d-flex align-center justify-center mt-5" style="height: 35px">
							<app-loader :size="35" />
						</div>
						<div v-else-if="historiesNext" class="d-flex align-center justify-center w-100 mt-5">
							<v-btn
								@click="() => getHistories(true)"
								color="primary"
								depressed
								small
								style="color: white"
							>
							{{ $t("control-tasks.tasks.load-more") }}
							</v-btn>
						</div>
					</template>
					<div v-else>
						<p class="mt-3 mb-0 font-500" style="color: #17171780">
							{{ $t("control-tasks.tasks.no-changes") }}
						</p>
					</div>
				</div>
				<v-card-actions class="justify-end pb-4">
					<v-btn color="primary" depressed @click="historiesModal = !historiesModal">{{
					$t("control-tasks.tasks.close")
					}}</v-btn>
				</v-card-actions>
			</v-card>
      </v-dialog>
		<registration-modal ref="registrationModal" @onRegister="onRegistered" />

	</div>
</template>

<script>
import AttachedFilesBlock from "@/common/components/AttachedFilesBlock";
import PdfLetterTemplate from "@/common/components/PdfLetterTemplate";
import PdfLetterTemplateForHrOrder from "@/common/components/PdfLetterTemplateForHrOrder";
import PdfLetterTemplateForRotation from "@/common/components/PdfLetterTemplateForRotation.vue";
import PdfLetterTemplateForVacation from "@/common/components/PdfLetterTemplateForVacation";
import PdfLetterTemplateForIndividualDevelopmentPlan
	from "@/common/components/PdfLetterTemplateForIndividualDevelopmentPlan.vue";
import PdfLetterTemplateForTripLicense from "@/common/components/PdfLetterTemplateForTripLicense.vue";
import PdfLetterTemplateForRetailAct from "../../../../common/components/PdfLetterTemplateForRetailAct.vue";
import PdfLetterTemplateForJointProtocol from "../../../../common/components/PdfLetterTemplateForJointProtocol.vue";
import PdfLetterTemplateForHrContract from "../../../../common/components/PdfLetterTemplateForHrContract.vue";
import PdfLetterTemplateForAttorney from "../../../../common/components/PdfLetterTemplateForAttorney.vue";
import ProcessPeopleBlock from "@/common/components/ProcessPeopleBlock.vue";
import ScoreSheetLetterTemplate from "@/common/components/ScoreSheetLetterTemplate";
import PdfLetterTemplateForCurrencySummary from "../../../../common/components/PdfLetterTemplateForCurrencySummary";
import TextDifferentSlide from "@/common/components/TextDifferentSlide.vue";
import TimelinePeopleBlock from "@/common/components/TimelinePeopleBlock.vue";
import {
	ActivityIcon,
	CheckCircleIcon,
	ClockIcon,
	DownloadCloudIcon,
	EditIcon,
	EyeIcon,
	FileTextIcon,
	InfoIcon,
	XIcon
} from "vue-feather-icons";
import {mapGetters} from "vuex";
import PdfLetterTemplateForCommitteeProtocol from "../../../../common/components/PdfLetterTemplateForCommitteeProtocol";
import PdfLetterTemplateForDecree from "../../../../common/components/PdfLetterTemplateForDecree";
import PdfLetterTemplateForProtocol from "../../../../common/components/PdfLetterTemplateForProtocol";
import PdfLetterTemplateForComplianceRegulation
	from "../../../../common/components/PdfLetterTemplateForComplianceRegulation";
import CommentField from "../../components/CommentField";
import CommentsBox from "../../components/CommentsBox";
import RegistrationModal from "./components/RegistrationModal";
// import CodeDiff from "vue-code-diff"
import AppLoader from "@/common/components/base/AppLoader";
import {textDifferent} from "@/common/helpers";
import SendCorrespondent from "./components/SendCorrespondent.vue";
import BaseTemplate from "../../../../common/componentsV3/Templates/BaseTemplate.vue";

export default {
	name: "show",
	components: {
		BaseTemplate,
		SendCorrespondent,
		CommentsBox,
		CommentField,
		PdfLetterTemplate,
		PdfLetterTemplateForVacation,
		PdfLetterTemplateForTripLicense,
		PdfLetterTemplateForHrContract,
		PdfLetterTemplateForProtocol,
		PdfLetterTemplateForDecree,
		PdfLetterTemplateForAttorney,
    PdfLetterTemplateForHrOrder,
		PdfLetterTemplateForRotation,
		PdfLetterTemplateForIndividualDevelopmentPlan,
    ScoreSheetLetterTemplate,
		PdfLetterTemplateForRetailAct,
		PdfLetterTemplateForJointProtocol,
		PdfLetterTemplateForCommitteeProtocol,
		PdfLetterTemplateForCurrencySummary,
		PdfLetterTemplateForComplianceRegulation,
		RegistrationModal,
    TextDifferentSlide,
		AttachedFilesBlock,
		ProcessPeopleBlock,
		TimelinePeopleBlock,
		FileTextIcon,
		DownloadCloudIcon,
		CheckCircleIcon,
		EyeIcon,
		ClockIcon,
		InfoIcon,
		EditIcon,
		ActivityIcon,
		AppLoader,
    XIcon,
    // CodeDiff
	},
	data() {
		return {
			currentFilial: null,
			histories: [],
			historiesLoading: false,
			historiesModal: false,
			historiesNext: false,
			historiesPage: 1,
			historyContent: null,
			historyContentDialog: false,
			isSentToSigning: false,
			loading: true,
			model: null,
			scoreActiveList: 0,
			employees: [],
		}
	},
	computed: {
		...mapGetters({
			currentUser: "auth/getCurrentUser"
		}),
    /*
    *
    * */
    signersList() {
      let filterNoticeUser = this.model.signed_by.filter(user => user.is_for_notice !== true)

      if(this.model.evaluation.recruiter) {
        return filterNoticeUser.filter(item => item.user.id !== this.model.evaluation.recruiter.id)
      }

	    return filterNoticeUser.sort((a, b) => {
				const ageA = a.user.order_by;
				const ageB = b.user.order_by;

				return ageB - ageA;
			})
    },
    /*
    *
    * */
    recruiterUser() {
      if(this.model.evaluation.recruiter) {
        return this.model.signed_by.find(item => item.user.id === this.model.evaluation.recruiter.id)
      }
      return {}
    },
    /*
    *
    * */
		isSomeoneSigned() {
			let isSigned = false
			this.model && this.model.signed_by && this.model.signed_by.forEach(item => {
				if (item.is_signed === true) {
					isSigned = true
				}
			})
			return isSigned
		},
		isChancellery() {
			let isChancellery = false;
			if (['admin', 'chancellery', 'chancellery_admin', 'filial_chancellery', 'credit_committee', 'kuap_invest', 'charity_commission', 'capital_invest', 'project_office', 'purchase_commission', 'compliance', 'hr_manager', 'mek', 'audit_tasks'].some(role => this.currentUser.roles.includes(role))) {
				isChancellery = true
			}
			return isChancellery
		},
		/*
		*
		* */
		reasonRejections() {
			return {
				agreedByList: this.model.agreed_by.filter(user => user.reason !== null),
				signedByList: this.model.signed_by.filter(user => user.reason !== null),
			}
		},
		/*
		*
		* */
		isNoticeUser() {
			return this.model.signed_by.find(user => user.is_for_notice)
		},
		/*
		*
		* */
		signedLeastOneUser() {
			return this.model.signed_by.some(item => item.is_agreed || item.is_signed)
		},
		/**/
		isEveryoneSigned(){
			let isSigned = false;
			let isAgreed = false;
			if (this.model && this.model.signed_by && this.model.signed_by.length){
				isSigned = this.model.signed_by.every(item => item.is_signed);
			}
			if (this.model && this.model.agreed_by && this.model.agreed_by.length){
				isAgreed = this.model.agreed_by.every(item => item.is_agreed);
			}
			return isSigned && isAgreed;
		}
	},
	mounted() {
		this.fetchGetOne(this.$route.params.id);
		this.getHistories();
	},
	methods: {
		sendToCorrespondent() {
			if(!confirm('Отправить?')) {
				return
			}
			this.loading = true;
			this.$axios.put(`/docflow/${this.currentUser.filial}/compose/${this.$route.params.id}/custom_update/`, {
				is_sent: true
			}).then(({data}) => {
				this.loading = false;
				this.fetchGetOne(this.$route.params.id)
			}).catch(err => {
				this.loading = false;
				this.$toast.error(err)
			})
		},
		/**/
		routeChangeDocument() {
			if(this.$route.query.type === 'reference') {
				this.$router.push({
					name: 'SendingDocumentsReferenceUpdate',
					params: {
						id: this.$route.params.id
					}
				})

				return
			}

			if(this.$route.query.type === 'job') {
				this.$router.push({
					name: 'SendingDocumentsLeadershipUpdate',
					query: {
						scoreId: this.model.evaluation.id
					}
				})

        return
      }

			if(this.$route.query.type === 'hr_rotation') {
				this.$router.push({
					name: 'SendingDocumentsLeadershipUpdate',
					query: {
						rotationId: this.model.evaluation.id
					}
				})

				return
      }

			if(this.$route.query.type === 'joint_protocol') {
				this.$router.push({
					name: 'SendingDocumentsCommitteeProtocolUpdate'
				})

				return
			}

			if(this.$route.query.type === 'compliance_regulation') {
				this.$router.push({
					name: 'ComplianceRegulationUpdate'
				})

				return
			}

			if(this.$route.query.type === 'trip_license') {
				this.$router.push({
					name: 'TripLicenseUpdate'
				})

				return
			}

			this.$router.push({
				name: ['leadership', 'job', 'currency_summary', 'hr_contract', 'retail_act', 'irr', 'attorney'].includes(this.$route.query.type) ? 'SendingDocumentsLeadershipUpdate' : this.$route.query.type === 'inner' ? 'SendingDocumentsInnerUpdate' : this.$route.query.type === 'vacation' ? 'SendingDocumentsCreateApplicationUpdate' : this.$route.query.type === 'decree' ? 'SendingDocumentsDecreeUpdate' : 'SendingDocumentsInnerOutgoing',
			})
    },
    /*
    *
    * */
		refreshPage() {
		  window.location.reload()
    },

    async activeHistoryContent(value) {
      this.historyContent = value
      this.historyContentDialog = true
      await this.$nextTick()

      let text = document.querySelectorAll("[data-history='history']")

      textDifferent(value, text)
    },
		/*
		*
		* */
		getHistories(nextLoad) {
			const historiesPage = nextLoad ? this.historiesPage + 1 : 1;
			this.historiesLoading = true;
			this.historiesPage = historiesPage;
			this.$axios.get(`/docflow/${this.currentUser.filial}/compose-actions/?compose_id=${this.$route.params.id}&page=${historiesPage}`)
				.then(response => {
					const historiesNext = !!response?.data?.next;
					const results = response?.data?.results;
					const histories = Array.isArray(results) ? results : [];
					const documentHistories = nextLoad ? [...this.histories, ...histories] : histories
					this.histories = documentHistories;
					this.historiesNext = historiesNext;
				})
				.catch(() => {
					const histories = nextLoad ? this.histories : [];
					this.histories = histories;
					this.historiesNext = false;
				})
				.finally(() => {
					this.historiesLoading = false;
				});
		},
		parseDateHour(incomingDate = new Date()) {
			const parsingDate = new Date(incomingDate);
			const date = parsingDate.getDate().toString().padStart(2, "0");
			const hour = parsingDate.getHours().toString().padStart(2, "0");
			const month = (parsingDate.getMonth() + 1).toString().padStart(2, "0");
			const minute = parsingDate.getMinutes().toString().padStart(2, "0");
			const year = parsingDate.getFullYear().toString();
			const d = `${date}.${month}.${year} ${hour}:${minute}`;
			return d;
		},
		fetchGetOne(id) {
			this.$http.get(`/docflow/${this.currentUser.filial}/compose/${id}/`)
				.then(({data}) => {
					const trip_information = data?.trip_information;
					this.employees = (Array.isArray(trip_information) ? trip_information : []).map(item => {
						return {
							...item.user,
							destinations: item.branches,
							end_date: item.end_date,
							start_date: item.start_date,
						};
					});
					if (['credit_committee', 'protocol'].includes(data.type) && data.sub_type !== 'joint_protocol'){
	          let chairman = data.signed_by.find(item => item.position === 'chairman')

	          if (['protocol', 'credit_committee'].includes(data.type)){
		          if (chairman && chairman.do_all_agree){
			          this.isSentToSigning = true;
		          }
	          }
          } else if(data.type === 'credit_committee' && data.sub_type === 'joint_protocol'){
						let finance_chairman = data.signed_by.find(item => item.position === 'chairman_finance');
						let monitoring_chairman = data.signed_by.find(item => item.position === 'chairman_monitoring');
						if (finance_chairman && monitoring_chairman && finance_chairman.do_all_agree && monitoring_chairman.do_all_agree){
							this.isSentToSigning = true;
						}
					}
					this.model = data
					this.$store.commit('documentFlowModule/SET_COMPOSE_MODEL', data)
				})
				.finally(() => {
					this.loading = false
				})
		},
		register(){
			const { registrationModal } = this.$refs;
			registrationModal.dialog = true;
		},
		/**/
		onRegistered(){
			setTimeout(() => {
				window.location.reload();
			}, 1500)
		},
		/**/
		sendToSigning(){
			if (this.$route.query.type === 'joint_protocol'){
				let finance_chairman = this.model.signed_by.find(item => item.position === 'chairman_finance');
				let monitoring_chairman = this.model.signed_by.find(item => item.position === 'chairman_monitoring');
				this.$axios.put(`/docflow/${this.model.filial.mfo}/for_signature/${finance_chairman.id}/send_to_signer/`)
					.then(() => {
						this.$axios.put(`/docflow/${this.model.filial.mfo}/for_signature/${monitoring_chairman.id}/send_to_signer/`)
							.then(() => {
								this.$toast.success(this.$t('document-flow.views.send-document.sent-for-signature'));
								this.fetchGetOne(this.$route.params.id);
							})
					})
			}else {
				let signerObj = this.model.signed_by.find(item => item.position === 'chairman')
				this.$axios.put(`/docflow/${this.model.filial.mfo}/for_signature/${signerObj.id}/send_to_signer/`)
					.then(() => {
						this.$toast.success(this.$t('document-flow.views.send-document.sent-for-signature'));
						this.fetchGetOne(this.$route.params.id);
					})
			}
		},
		/**/
		returnCondition(condition){
			if (condition === 'vacation'){
				return this.$t('document-flow.views.send-document.labor-leave')
			}else if (condition === 'business_trip') {
				return this.$t('document-flow.views.send-document.business-trip')
			}else if (condition === 'unpaid_leave') {
				return this.$t('document-flow.views.send-document.unpaid-vacation')
			}else if (condition === 'sick') {
				return this.$t('document-flow.views.send-document.sick')
			}else {
				return null
			}
		},
		/**/
		restartSignature(item){
			this.$axios.put(`/docflow/${this.model.filial.mfo}/for_signature/${item.id}/send_to_signer/`)
				.then(() => {
					this.fetchGetOne(this.$route.params.id);
				})
		},
		/**/
		toggleVisibility(item){
			this.$axios.put(`/docflow/${this.model.filial.mfo}/for_signature/${item.id}/toggle_visibility/`, {
				do_all_agree: !item.do_all_agree
			})
				.then(() => {
					this.fetchGetOne(this.$route.params.id);
				})
		},
		/**/
		routeOpenProcess() {
			this.$router.push({
				name: this.model.journal_id === 3 ? 'InnerRegistrationDetail' : this.model.journal_id === 4 ? 'OutgoingRegistrationDetail' : 'OrderProtocolRegistrationDetail',
				params: { id: this.model.document_id },
				query: { condition: 'for_watching_process' }
			})
		}
	}
}
</script>
