<template>
	<app-wrapper class="flex-1">
		<template #body>
			<training-specialists-form :form-type="$store.state.formType.update"/>
		</template>
	</app-wrapper>
</template>

<script>
import TrainingSpecialistsForm from "./components/TrainingSpecialistsForm";

export default {
	name: "TrainingSpecialistsUpdate",
	components: {
		TrainingSpecialistsForm
	}
}
</script>

<style scoped>

</style>
