<template>
	<training-specialists-form :form-type="$store.state.formType.create" />
</template>

<script>
import TrainingSpecialistsForm from "./components/TrainingSpecialistsForm";

export default {
	name: "TrainingSpecialistsCreate",
	components: {
		TrainingSpecialistsForm
	}
}
</script>

<style scoped>

</style>
