<template>
	<div class="trip-license-update-view">
		<perfect-scrollbar class="d-flex flex-column flex-1">
			<app-wrapper class="flex-1">
				<template #body>
					<div>
						<div class="input-bg rounded-20">
							<div class="pa-2">
								<div class="app-tab">
									<v-tabs
										v-model="tab"
										hide-slider
										height="36"
										color="#fff"
									>
										<v-tab>
											<div class="d-flex align-center px-3">
												<type-icon size="16" class="mr-2" />
												<span class="text-transform-none small-2 line-base font-400">Текст</span>
											</div>
										</v-tab>

										<v-tab>
											<div class="d-flex align-center px-3">
												<paperclip-icon size="16" class="mr-2" />
												<span class="text-transform-none small-2 line-base font-400">Файл</span>
											</div>
										</v-tab>
									</v-tabs>
								</div>
							</div>

							<v-tabs-items class="app-tab-items" v-model="tab">
								<v-tab-item>
									<app-editor
										v-model="$v.model.goal.$model"
										:error="$v.model.goal.$error"
									/>
								</v-tab-item>
								<v-tab-item>
									<file-upload-for-sending-document :files="files" @uploadFiles="uploadFiles" @deleteFile="deleteFile" />
								</v-tab-item>
							</v-tabs-items>
						</div>


						<v-row>
							<v-col md="6">
								<app-autocomplete
									v-model="signersList"
									api-list-url="/user/search/"
									:api-params="{
                    role: true
                  }"
									item-text="full_name"
									return-object
									cache-items
									clearable
									placeholder="Выберите подписанта"
									:item-disabled="getDisableItems"
									multiple
									class="my-5"
								/>

								<app-table
									bordered
								>
									<template #tableHeader>
										<th width="75">№</th>
										<th>Подписант</th>
										<th width="75">События</th>
									</template>

									<template #tableBody>
										<tr
											v-for="(item, index) in signersList"
											class="text-dark font-500"
										>
											<td>{{ index + 1 }}</td>
											<td>
												{{ item.user ? item.user.full_name : item.full_name }}
											</td>
											<td>
												<app-button
													v-if="!Boolean($route.query.readonly)"
													icon
													color="error"
													min-width="40"
													height="40"
													width="40"
													@click="deleteSigner(index)"
												>
													<trash2-icon size="18" />
												</app-button>
											</td>
										</tr>
									</template>
								</app-table>
							</v-col>

							<v-col md="6">
								<app-autocomplete
									v-model="reportSigners"
									api-list-url="/user/search/"
									:api-params="{
                    role: true
                  }"
									item-text="full_name"
									return-object
									cache-items
									clearable
									placeholder="Выберите подписавшие отчета"
									:item-disabled="getDisableItems"
									multiple
									class="my-5"
								/>

								<app-table
									bordered
								>
									<template #tableHeader>
										<th width="75">№</th>
										<th>Подписавшие отчет</th>
										<th width="75">События</th>
									</template>

									<template #tableBody>
										<tr
											v-for="(item, index) in reportSigners"
											class="text-dark font-500"
										>
											<td>{{ index + 1 }}</td>
											<td>
												{{ item.user ? item.user.full_name : item.full_name }}
											</td>
											<td>
												<app-button
													v-if="!Boolean($route.query.readonly)"
													icon
													color="error"
													min-width="40"
													height="40"
													width="40"
													@click="deleteReportSigner(index)"
												>
													<trash2-icon size="18" />
												</app-button>
											</td>
										</tr>
									</template>
								</app-table>
							</v-col>
						</v-row>

						<div class="mt-10">
							<app-button color="error" @click="$router.go(-1)">
								<template #prepend>
									<arrow-left-icon size="20" />
								</template>
								Назад
							</app-button>

							<app-button class="mx-3" @click="preview">
								<template #prepend>
									<eye-icon size="20" />
								</template>
								Просмотр документа
							</app-button>
						</div>
					</div>
				</template>
			</app-wrapper>
		</perfect-scrollbar>

		<v-dialog
			v-model="dialog"
			width="595"
			content-class="generate-wrap reset-dialog-style"
		>
			<div>
				<div class="bg-white d-flex w-100 justify-end">
					<app-button
						icon
						color="error"
						min-width="40"
						width="40"
						height="40"
						tile
						@click="dialog = false"
						class="p-absolute"
						style="top: 0; right: 0;"
					>
						<x-icon/>
					</app-button>
				</div>

				<pdf-letter-template-for-trip-license-report
					:model="model"
					:report-signers="reportSigners"
					class="px-6"
				/>

				<div class="d-flex grid-gap-md justify-center">
					<app-button
						outlined
						color="#fff"
						@click="dialog = false"
					>
						<template #prepend>
							<edit2-icon size="18" />
						</template>
						Изменить
					</app-button>

					<app-button @click="send" :loading="loading">
						<template #prepend>
							<v-icon size="18">{{ "$vuetify.icons.SendIcon" }}</v-icon>
						</template>
						Отправить
					</app-button>
				</div>
			</div>
		</v-dialog>
	</div>
</template>

<script>
import { required } from "vuelidate/lib/validators";
import { mapGetters } from "vuex";
import { Trash2Icon, ArrowLeftIcon, EyeIcon, XIcon, Edit2Icon, PaperclipIcon, TypeIcon } from "vue-feather-icons";
import FileUploadForSendingDocument from "./components/FileUploadForSendingDocument.vue";
import PdfLetterTemplateForTripLicenseReport
	from "../../../../common/components/PdfLetterTemplateForTripLicenseReport.vue";

export default {
	name: "TripLicenseUpdate",
	components: {
		FileUploadForSendingDocument,
		PdfLetterTemplateForTripLicenseReport,
		Trash2Icon, ArrowLeftIcon, EyeIcon, XIcon, Edit2Icon, PaperclipIcon, TypeIcon
	},
	data() {
		return {
			tab: null,
			dialog: false,
			loading: false,
			files: [],
			model: {
				text: ".",
				goal: "",
				agreed_by: [],
				signed_by: [],
				journal_id: 6,
				type: "trip_license",
				register_number: null,
				short_description: "",
				files: [],
				departments: [],
			},
			signersList: null,
			reportSigners: null,
			curator: null
		}
	},
	validations: {
		model: {
			goal: { required }
		}
	},
	computed: {
		...mapGetters({
			getDisableItems: "getDisableItems",
			currentUser: "auth/getCurrentUser"
		}),
	},
	mounted() {
		this.getDetail(this.$route.params.id);
	},
	methods: {
		getDetail(id) {
			this.$axios.get(`/docflow/${this.currentUser.filial}/compose/${id}/`)
				.then(({ data }) => {
					this.model.goal = data.goal;
					this.signersList = data.signed_by.filter(item => item.is_for_notice !== true && item.is_invited !== true);
					this.reportSigners = data.signed_by.filter(item => item.is_for_notice !== true && item.is_invited === true);
					this.curator = data.signed_by.find(item => item.is_for_notice === true);
					this.model.files = data.files;
					this.files = [...data.files];
				})
		},
		/** **/
		preview() {
			this.dialog = !this.dialog;
			this.model.signed_by = [];

			if (this.signersList && this.signersList.length){
				this.signersList.forEach(item => this.model.signed_by.push({
					id: item.user && item.id,
					user: item.user ? item.user.id : item.id
				}))
			}

			if (this.reportSigners && this.reportSigners.length){
				this.reportSigners.forEach(item => this.model.signed_by.push({
					id: item.user && item.id,
					user: item.user ? item.user.id : item.id,
					is_invited: true
				}))
			}

			this.model.signed_by.push({
				id: this.curator?.id,
				user: this.curator?.user?.id
			})
		},
		/** **/
		send() {
			this.$v.$touch();

			if (this.$v.$invalid) {
				this.$toast.warning(this.$t('document-flow.views.send-document.field-is-required'))
				return;
			}

			this.loading = !this.loading;

			let model = {
				...this.model,
				status: "pending"
			}

			this.$http.put(`/docflow/${this.currentUser.filial}/compose/${this.$route.params.id}/`, model)
				.then(({ data }) => {
					this.$toast.success(this.$t('document-flow.views.send-document.document-sent'))

					this.dialog = false;
					this.loading = false;

					this.$router.go(-1);
				})
				.catch(() => {
					this.loading = false;
				})
		},
		/** **/
		deleteSigner(index) {
			this.signersList.splice(index, 1)
		},
		/** **/
		deleteReportSigner(index) {
			this.reportSigners.splice(index, 1)
		},
		/** **/
		uploadFiles(data) {
			this.files.push(data)

			this.model.files.push({
				id: data.id
			})
		},
		/** **/
		deleteFile({ item, index}) {
			this.files.splice(index, 1)
			this.model.files.splice(index, 1)
		},
	}
}
</script>

<style scoped>

</style>
