<template>
	<div class="xdfu-view d-flex flex-column">
		<h1 class="small-1">{{ $t("xdfu") }}</h1>

		<div class="d-flex flex-column p-relative">
			<div class="navigation-track-wrap p-relative d-flex mb-5 mt-4">
				<template v-for="(item, index) in xdfuNavigationList">
					<router-link
						:to="{ name: item.url }"
						class="navigation-track p-relative d-flex align-center text-decoration-none size-13 py-2"
						:class="{ 'mr-8' : index + 1 !== xdfuNavigationList.length }"
					>
						<span>{{ item.title }}</span>

						<v-sheet
							v-if="item.count"
							width="33"
							height="20"
							color="primary"
							class="d-flex align-center justify-center rounded ml-2"
							style="line-height: 20px"
						>
							<span class="small-3 text-white font-700">{{ item.count }}</span>
						</v-sheet>
					</router-link>
				</template>
			</div>

			<router-view v-if="hasAccess" />

			<eri-modal
				ref="eriModal"
				@hasGotAccess="hasAccess = true"
			/>

		</div>
	</div>
</template>

<script>
import EriModal from "./components/EriModal.vue";
import { checkItem } from "../../../../common/helpers";
import {mapActions, mapGetters} from "vuex";

export default {
	name: "index",
	components: {
		EriModal
	},
	data() {
		return {
			hasAccess: false,
			xdfuNavigationList: [
				{
					title: "На рассмотрение",
					url: "XdfuReviewIndex",
					key: "xdfu_review_count",
					count: null
				},
				{
					title: "Мои поручение",
					url: "XdfuInboxIndex",
					key: "xdfu_assignment_count",
					count: null
				},
				{
					title: "Генеральный контроль",
					url: "XdfuGeneralControlIndex",
					key: "xdfu_controller_review_count",
					count: null
				},
			]
		}
	},
	computed: {
		...mapGetters({
			getUnreadCountList: "getUnreadCountList",
		})
	},
	watch: {
		getUnreadCountList: {
			handler(value) {
				if(Object.keys(value).length) {
					this.xdfuNavigationList = this.xdfuNavigationList.map(item => {
						return {
							...item,
							count: this.getUnreadCountList?.[item.key]
						}
					})
				}
			},
			deep: true,
			immediate: true
		}
	},
	mounted() {
		this.fetchUnreadCountList()
		if (checkItem()) {
			this.hasAccess = true
		} else {
			const { eriModal } = this.$refs
			eriModal.modal = true
		}
	},
	methods: {
		...mapActions({
			fetchUnreadCountList: "fetchUnreadCountList",
		}),
		checkItem
	}
}
</script>

<style scoped>

</style>
