<script>
export default {
	name: "SurveyItem",
	props: {
		value: {
			type: [Boolean, String, Number, Object]
		},
		question: {
			type: Object,
			default: () => {}
		},
		index: {
			type: [Number, String],
			default: 0
		},
		isOther: {
			type: Boolean,
			default: false
		}
	},
	computed: {
		radio: {
			get() {
				return this.value
			},
			set(value) {
				this.$emit('input', value)
			}
		},
		questionOptions() {
			return this.question?.options
				?.filter(opt => this.question.input_type !== 'checkbox' || !opt.is_other)
				.map(option => ({
					...option,
					value: option.id,
					label: option.name,
				}))
		}
	},
	methods: {
		onChange(val) {
			this.$emit('emit:change', val)
		}
	}
}
</script>

<template>
	<div class="survey-item-component card-shadow d-flex flex-column rounded-16 pa-5 bg-white w-100">
		<div class="d-flex gap-x-3 align-start">
			<div class="d-flex align-center justify-center w-7 h-7 rounded-50 bg-primary-500 text-white small-1 font-600">{{ index + 1 }}</div>
			<span class="text-greyscale-900 small-1 font-600 flex-1">{{ question.title }}</span>
		</div>

		<base-radio-group
			v-model="radio"
			:items="questionOptions"
			class="mt-5"
			@emit:change="onChange"
		/>

		<template v-if="isOther || ['text', 'checkbox'].includes(question.input_type)">
			<base-text-area
				color="success"
				class="mt-1"
				:placeholder="['text'].includes(question.input_type) ? $t('enter-your-answer') : $t('enter-your-comment')"
				@input="(val) => $emit('emit:input', val)"
			/>
		</template>
	</div>
</template>

<style scoped>

</style>