<template>
  <v-row>
    <v-col md="3">
      <slot name="aside" />
    </v-col>

    <v-col md="9">
      <slot name="section" />
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: "AsideSection"
}
</script>
