<template>
  <div>
    <v-row>
      <v-col md="3">
        <slot name="aside" />
      </v-col>

      <v-col md="9">
        <slot name="section" />
      </v-col>
    </v-row>

    <div class="mt-8">
      <slot name="text" />
    </div>
  </div>
</template>

<script>
import AsideSection from "./AsideSection"

export default {
  name: "AsideSectionWithColumn",
  components: {
    AsideSection
  }
}
</script>
