<template>
  <ui-dialog
    v-model="content"
    :title="title"
    :content-height="contentHeight"
    :success-text="successText"
    :success-button-loading="successButtonLoading"
    @emit:close="(_value) => $emit('emit:close', _value)"
    @emit:cancel-button="(_value) => $emit('emit:close', _value)"
    @emit:success-button="changeStatus"
  >
    <template #content>
      <div class="app-input">
        <span class="d-block font-600 small-2 mb-2">
          {{ $t('document-flow.views.boxes.write-content') }}
        </span>

	      <template v-if="textareaType === 'textarea'">
		      <v-textarea
			      v-model="$v.changeStatusText.$model"
			      :error="$v.changeStatusText.$error"
			      outlined
			      clearable
			      hide-details
			      no-resize
			      height="150"
			      background-color="var(--input-bg)"
		      ></v-textarea>
	      </template>

	      <template v-else>
		      <quill-editor
			      ref="editor"
			      v-model="$v.changeStatusText.$model"
			      :error="$v.changeStatusText.$error"
			      class="mb-4"
		      />

		      <resolution-content-modal @emit:up="(text) => changeStatusText = text.name" />
	      </template>
      </div>
    </template>
  </ui-dialog>
</template>

<script>
import { minLength, required } from "vuelidate/lib/validators"
import ResolutionContentModal from "@/common/components/ResolutionContentModal.vue"
export default {
	name: "ChangeStatus",
	components: {
		ResolutionContentModal
	},
	props: {
		value: {
			type: Boolean
		},
		/*
		*
		* */
		maxWidth: {
			type: Number,
			default: 720
		},
		/*
		*
		* */
		title: {
			type: String,
			default: "document-flow.components.change-status"
		},
		/*
		*
		* */
		contentHeight: {
			type: String,
			default: "220px"
		},
		/*
		*
		* */
		successText: {
			type: String,
			default: "document-flow.components.change-status"
		},
		/*
		*
		* */
		cancelText: {
			type: String,
			default: "auth.enter-phone.back"
		},
    /*
    *
    * */
    successButtonLoading: {
      type: Boolean,
      default: false
    },
		/*
		*
		* */
		textareaType: {
			type: String,
			default: "textarea",
			validator(value) {
				return ["textarea", "template"].includes(value)
			}
		}
	},
	data() {
		return {
			changeStatusText: null
		}
	},
	validations: {
		changeStatusText: {
			required
		}
	},
	computed: {
		content: {
			get() {
				return this.value;
			},
			set(value) {
				this.$emit("change", value);
			}
		}
	},
	methods: {
		changeStatus() {
			this.$v.changeStatusText.$touch();

			if (
				this.$v.changeStatusText.$invalid ||
				!this.changeStatusText?.replace(/(<([^>]+)>)/gi, "").trim()
			) {
				this.$toast.error(this.$t('dashboard.components.enter-text'))
				return;
			}

      this.$emit('emit:success-button', this.changeStatusText)
		},
    /*
    *
    * */
    reset() {
      this.changeStatusText = null
      this.$v.changeStatusText.$reset();
    }
	}
}
</script>

<style scoped>

</style>
