<template>
  <ui-dialog
    v-model="content"
    title="document-flow.components.change-status"
    content-height="300px"
    success-text="control-tasks.tasks.delete"
    delete-mode
    :success-button-loading="successButtonLoading"
    :max-width="maxWidth"
    @emit:close="(_value) => $emit('emit:close', _value)"
    @emit:cancel-button="(_value) => $emit('emit:close', _value)"
    @emit:success-button="deleteContent"
  >
    <template #content>
      <div class="d-flex align-center justify-center flex-column h-100">
        <trash2-icon size="45" color="#EB5757" />

        <h1 class="heading-10 text-dark mt-7">{{ $t("components.delete-confirmation") }}</h1>
        <p class="mt-2 small-2">Как только вы это сделаете, он будет навсегда удален из системы.</p>
      </div>
    </template>
  </ui-dialog>
</template>

<script>
import { Trash2Icon } from "vue-feather-icons"
export default {
	name: "Delete",
	props: {
		value: {
			type: Boolean
		},
		/*
		*
		* */
		maxWidth: {
			type: Number,
			default: 560
		},
		/*
		*
		* */
		title: {
			type: String,
			default: "document-flow.views.boxes.redirect-document"
		},
		/*
		*
		* */
		contentHeight: {
			type: String,
			default: "400px"
		},
		/*
		*
		* */
		successText: {
			type: String,
			default: "document-flow.views.registration.save"
		},
		/*
		*
		* */
		cancelText: {
			type: String,
			default: "auth.enter-phone.back"
		},
		/*
		*
		* */
		successButtonLoading: {
			type: Boolean,
			default: false
		}
	},
  components: {
    Trash2Icon
  },
	data() {
		return {
			changeStatusText: null
		}
	},
	computed: {
		content: {
			get() {
				return this.value;
			},
			set(value) {
				this.$emit("change", value);
			}
		}
	},
	methods: {
		deleteContent() {
			this.$emit('emit:success-button')
		}
	}
}
</script>

<style scoped>

</style>
