<template>
  <ui-dialog
    v-model="content"
    :success-button-loading="successButtonLoading"
    :max-width="maxWidth"
    title="document-flow.components.change-status"
    content-height="840px"
    success-text="control-tasks.tasks.delete"
    empty-mode
    @emit:close="(_value) => $emit('emit:close', _value)"
    @emit:cancel-button="(_value) => $emit('emit:close', _value)"
    @emit:success-button="deleteContent"
  >
    <template #content>
      <template v-if="fileUrl">
        <template v-if="fileExtension === 'pdf' || fileExtension === 'PDF'">
          <template v-if="toolbar">
	          <object
		          :data="fileUrl"
		          type="application/pdf"
		          width="100%"
		          height="100%"
	          >
	          </object>
          </template>

	        <template v-else>
		        <div class="p-relative w-100 h-100">
			        <div style="position: absolute; top: 0; left: 0; width: 98%; height: 100%; background: transparent;"></div>
			        <object
				        :data="fileUrl+'#toolbar=0'"
				        type="application/pdf"
				        width="100%"
				        height="100%"
			        >
			        </object>
		        </div>
	        </template>
        </template>

        <template v-else-if="fileExtension === 'jpg' || fileExtension === 'jpeg' || fileExtension === 'png'">
          <img :src="fileUrl" alt="Document image" class="mx-auto d-block" />
        </template>

        <template v-else>
          <div class="d-flex align-center justify-center flex-column h-100">
            <h3 class="font-600">{{ $t('components.unsupported-file-type') }}</h3>

            <a
              :href="fileUrl"
              :download="fileUrl"
              target="_blank"
              class="mt-4"
            >
              <app-button>
                {{ $t('components.upload-file') }}
                <template #append>
                  <download-icon size="18" class="ml-1" />
                </template>
              </app-button>
            </a>
          </div>
        </template>
      </template>
    </template>
  </ui-dialog>
</template>

<script>
import { DownloadIcon } from "vue-feather-icons"
export default {
	name: "ShowFile",
	props: {
		value: {
			type: Boolean
		},
		/*
		*
		* */
		maxWidth: {
			type: Number,
			default: 840
		},
		/*
		*
		* */
		title: {
			type: String,
			default: "document-flow.views.boxes.redirect-document"
		},
		/*
		*
		* */
		contentHeight: {
			type: String,
			default: "400px"
		},
		/*
		*
		* */
		successText: {
			type: String,
			default: "document-flow.views.registration.save"
		},
		/*
		*
		* */
		cancelText: {
			type: String,
			default: "auth.enter-phone.back"
		},
		/*
		*
		* */
		successButtonLoading: {
			type: Boolean,
			default: false
		},
    /*
		*
		* */
    fileUrl: {
      type: String
    },
		/***/
		toolbar: {
			type: Boolean,
			default: true
		}
	},
	components: {
    DownloadIcon
	},
	data() {
		return {
			changeStatusText: null
		}
	},
	computed: {
    fileExtension() {
      return this.fileUrl?.split(".").pop()
    },
    /*
    *
    * */
		content: {
			get() {
				return this.value;
			},
			set(value) {
				this.$emit("change", value);
			}
		}
	},
	methods: {
		deleteContent() {
			this.$emit('emit:success-button')
		}
	}
}
</script>

<style scoped>

</style>
