<template>
	<div class="warning-modal-component">
		<ui-dialog
			v-model="dialog"
			title="warning"
			content-height="300px"
			success-text="document-flow.views.boxes.edit"
			cancel-text="cancel"
			persistent
			@emit:close="(_value) => dialog = _value"
			@emit:cancel-button="(_value) => dialog = _value"
			@emit:success-button="$emit('emit:success-button')"
		>
			<template #content>
				<div class="d-flex flex-column">
					<div class="d-flex w-100 justify-center align-center">
						<alert-triangle-icon size="100" color="var(--primary-3)"/>
					</div>

					<div class="d-flex h-100 justify-center align-center mt-4">
						<span class="d-block font-500 small-1 ">{{ $t("warning-text") }}</span>
					</div>
					<div class="d-flex h-100 justify-center align-center mt-4">
						<span class="d-block font-500 small-1 text-center">{{ $t("warning-text2") }}</span>
					</div>
				</div>
			</template>
		</ui-dialog>
	</div>
</template>

<script>
import { AlertTriangleIcon } from "vue-feather-icons";

export default {
	name: "WarningModal",
	components: {
		AlertTriangleIcon
	},
	data() {
		return {
			dialog: false
		}
	}
}
</script>

<style scoped>

</style>
