<template>
  <div class="survey-form-view">
    <div class="create-test-container mx-auto w-100 mb-10">
      <app-wrapper class="mb-8">
        <template #header>
          <h4>{{$t('hr.survey.poll-name')}}</h4>
        </template>
        <template #body>
          <div class="app-input mb-6">
            <v-text-field
              v-model="createPoolModel.title"
              :placeholder="$t('hr.survey.poll-name') + ' ...'"
              outlined
              clearable
              hide-details
              background-color="var(--input-bg)"
              :disabled="formType === 'read'"
            ></v-text-field>
          </div>

          <div class="app-input">
            <v-textarea
              v-model="createPoolModel.description"
              :placeholder="$t('hr.survey.description')"
              outlined
              clearable
              hide-details
              no-resize
              background-color="var(--input-bg)"
              :disabled="formType === 'read'"
            ></v-textarea>
          </div>
        </template>
      </app-wrapper>

      <!-- Questions list -->
      <template >
        <app-wrapper v-for="(question, poolIndex) in createPoolModel.survey_questions" :key="poolIndex" class="mb-6">
          <template #body>
            <!-- Question -->
            <div class="d-flex">
              <v-sheet class="mr-4">
                <span class="font-600">{{ poolIndex + 1 }}.</span>
              </v-sheet>

              <div class="app-input flex-1 mb-8">
                <v-textarea
                  v-model="question.title"
                  :placeholder="$t('hr.survey.enter-question-text')"
                  outlined
                  clearable
                  no-resize
                  auto-grow
                  row-height="15"
                  hide-details
                  background-color="var(--input-bg)"
                  :disabled="formType === 'read'"
                ></v-textarea>
              </div>
            </div>

            <!-- Options -->
            <template >
              <v-row v-for="(variant, variantIndex) in question.options" :key="variantIndex" align="center">
                <v-col :md="variantIndex !== 0 ? 11 : 12">
                  <div class="d-flex">
                    <div class="app-input flex-1">
                      <v-text-field
                        v-model="variant.name"
                        :placeholder="`${$t('hr.survey.option')} ${variantIndex + 1}`"
                        outlined
                        clearable
                        hide-details
                        background-color="var(--input-bg)"
                        :disabled="formType === 'read'"
                      >
                        <template v-slot:prepend-inner>
                          <v-icon class="mr-2">
                            mdi-checkbox-blank-circle-outline
                          </v-icon>
                        </template>
                      </v-text-field>
                    </div>

                    <template v-if="variantIndex === 0">
                      <app-tooltip top>
                        <template #content>
                          <v-sheet
                            width="50"
                            class="ml-5"
                          >
                            <v-checkbox
                              v-model="variant.is_other"
                            ></v-checkbox>
                          </v-sheet>
                        </template>

                        <template #text>
                          {{$t('hr.survey.enter-your-text')}}
                        </template>
                      </app-tooltip>
                    </template>
                  </div>
                </v-col>

                <template v-if="variantIndex !== 0">
                  <v-col md="1">
                    <div class="d-flex align-center">
                      <app-tooltip top>
                        <template #content>
                          <v-checkbox
                            v-model="variant.is_other"
                            hide-details
                            class="ma-0"
                          ></v-checkbox>
                        </template>

                        <template #text>
                          {{$t('hr.survey.enter-your-text')}}
                        </template>
                      </app-tooltip>

                      <app-tooltip top>
                        <template #content>
                          <app-button
                            @click="deleteVariant(variantIndex, poolIndex)"
                            color="error"
                            icon
                            min-width="48"
                            width="48"
                            height="48"
                            class="ml-2"
                          >
                            <trash2-icon size="20" />
                          </app-button>
                        </template>

                        <template #text>
                          {{$t('hr.survey.delete-option')}}
                        </template>
                      </app-tooltip>
                    </div>
                  </v-col>
                </template>
              </v-row>
            </template>
            <!-- /Options -->

            <!-- Actions -->
            <template v-if="!(formType === 'read')">
              <div class="d-flex align-center mt-8">
                <div class="app-input w-100" style="max-width: 300px">
                  <v-select
                    v-model="question.input_type"
                    :items="inputTypeModel"
                    item-text="title"
                    item-value="value"
                    outlined
                    hide-details
                    background-color="var(--input-bg)"
                    :disabled="formType === 'read'"
                  >
                    <template v-slot:append>
                      <v-icon class="body--1 color-text-4">
                        mdi-chevron-down
                      </v-icon>
                    </template>
                  </v-select>
                </div>

                <v-spacer />

                <app-button @click="addNewVariant(poolIndex)">
                  <template #prepend>
                    <plus-circle-icon />
                  </template>

                  {{$t('hr.survey.add-option')}}
                </app-button>

                <template v-if="poolIndex !== 0">
                  <app-button
                    @click="deleteQuestion(poolIndex)"
                    color="error"
                    class="ml-3"
                  >
                    <template #prepend>
                      <trash2-icon />
                    </template>

                    {{$t('hr.survey.delete-question')}}
                  </app-button>
                </template>
              </div>
            </template>
            <!-- /Actions -->
          </template>
        </app-wrapper>
      </template>
      <!-- /Questions list -->

      <template v-if="!(formType === 'read')">
        <div class="d-flex justify-space-between mt-6">
          <app-button @click="addNewQuestion" color="error">
            <template #prepend>
              <plus-circle-icon size="20" />
            </template>

            {{$t('hr.survey.add-question')}}
          </app-button>

          <template v-if="formType === 'create'">
            <app-button @click="createSurvey" class="mx-5">
              <template #prepend>
                <plus-circle-icon size="20" />
              </template>

              {{$t('hr.survey.create-poll')}}
            </app-button>
          </template>

          <template v-if="formType === 'update'">
            <app-button @click="updateSurvey" class="mx-5">
              <template #prepend>
                <edit3-icon size="20" />
              </template>

              {{$t('hr.survey.edit-poll')}}
            </app-button>
          </template>
        </div>
      </template>

<!--      <pre>{{ createPoolModel }}</pre>-->
    </div>
  </div>
</template>

<script>
import { Edit3Icon, PlusCircleIcon, Trash2Icon } from "vue-feather-icons";
import { mapGetters } from "vuex";

export default {
  name: "SurveyForm",
  props: {
    formType: {
      type: String,
      default: "create"
    }
  },
  components: {
    PlusCircleIcon,
    Trash2Icon,
    Edit3Icon
  },
  data() {
    return {
      inputTypeModel: [
        {
          title: this.$t('hr.survey.radio'),
          value: "radio"
        },
        {
          title: this.$t('hr.survey.checkbox'),
          value: "checkbox"
        },
        {
          title: this.$t('hr.survey.select'),
          value: "select"
        },
        {
          title: this.$t('hr.survey.text'),
          value: "text"
        },
      ],
      createPoolModel: {
        title: "",
        description: "",
        type: "employee",
        survey_questions: [
          {
            title: "",
            input_type: "radio",
            is_required: false,
            options: [
              {
                name: "",
                is_other: false
              }
            ]
          }
        ]
      }
    }
  },
  watch: {
    '$i18n.locale': {
      handler() {
        this.inputTypeModel = [
          {
            title: this.$t('hr.survey.radio'),
            value: "radio"
          },
          {
            title: this.$t('hr.survey.checkbox'),
            value: "checkbox"
          },
          {
            title: this.$t('hr.survey.select'),
            value: "select"
          },
          {
            title: this.$t('hr.survey.text'),
            value: "text"
          },
        ]
      }
    }
  },
  computed: {
    ...mapGetters({
      currentUser: "auth/getCurrentUser"
    })
  },
  mounted() {
    if(this.$route.params.id) {
      this.getOne(this.$route.params.id)
    }
  },
  methods: {
    createSurvey() {
      this.$http.post(`/survey/`, this.createPoolModel)
      .then(({ data }) => {
        this.$toast.success(this.$t('hr.survey.poll-created'))

        this.$router.push({
          name: "HRSurvey"
        })
      })
    },
    /*
    *
    * */
    updateSurvey() {
      this.$axios.put(`/survey/${this.$route.params.id}/`, this.createPoolModel)
      .then(() => {
        this.$toast.success(this.$t('hr.survey.poll-updated'))
      })

      console.log('UPDATE', this.createPoolModel)
    },
    /*
    *
    * */
    getOne(id) {
      this.$http.get(`/survey/${id}/`)
      .then(({ data }) => {
        this.createPoolModel = data
      })
    },
    /*
    *
    * */
    addNewQuestion() {
      this.createPoolModel.survey_questions.push({
        title: "",
        input_type: "radio",
        is_required: false,
        options: [
          {
            name: "",
            is_other: false
          }
        ]
      })
    },
    /*
    *
    * */
    deleteAnswerRoot(questionIndex, answerIndex) {
      const survey_questions = this.createPoolModel.survey_questions.map((question, index) => {
        if(index === questionIndex) {
          const options = question.options.filter((_, index) => index !== answerIndex);
          return { ...question, options };
        } else {
          return question;
        }
      });
      this.createPoolModel = { ...this.createPoolModel, survey_questions };
    },
    deleteVariant(variantIndex, poolIndex) {
      const userConfirm = confirm(this.$t('hr.survey.confirm-delete-poll'));
      if(userConfirm) {
        const answerId = this.createPoolModel.survey_questions[poolIndex]?.options[variantIndex]?.id;
        if(answerId) {
          this.$axios
            .delete(`/survey/options/${answerId}/`)
            .then(response => {
                if(response?.status === 204) {
                  this.deleteAnswerRoot(poolIndex, variantIndex);
                }
            });
        } else {
          this.deleteAnswerRoot(poolIndex, variantIndex)
        }
      }

      this.createPoolModel.survey_questions[poolIndex].options.splice(variantIndex, 1)
    },
    /*
    *
    * */
    addNewVariant(poolIndex) {
      this.createPoolModel.survey_questions[poolIndex].options.push({
        name: "",
        is_other: false,
        is_stop_factor: false,
      })
    },
    /*
    *
    * */
    deleteQuestionRoot(questionIndex) {
      const survey_questions = this.createPoolModel.survey_questions.filter((_, index) => index !== questionIndex);
      this.createPoolModel = { ...this.createPoolModel, survey_questions }
    },
    deleteQuestion(poolIndex) {
      const userConfirm = confirm(this.$t('hr.survey.confirm-delete-question'));
      if(userConfirm) {
        const questionId = this.createPoolModel.survey_questions[poolIndex]?.id;
        if(questionId) {
          this.$axios
            .delete(`/survey/questions/${questionId}/`)
            .then(response => {
              if(response?.status === 204) {
                this.deleteQuestionRoot(poolIndex);
              }
            })
        } else {
          this.deleteQuestionRoot(poolIndex);
        }
      }
    }
  }
}
</script>

<style>
.create-test-container {
  max-width: 1200px;
}

.widget-wrap {
  height: 200px;
}
</style>
