<template>
  <div class="component-wrap">
    <v-row>
      <v-col md="3">
        <slot />
      </v-col>

      <!-- Дата -->
      <v-col md="3">
        <div class="app-input">
          <span class="d-block font-600 small-2 mb-2 text-7">{{ $t('document-flow.views.search.registration-date') }} <span class="text-red">*</span></span>

          <app-date-picker
            v-model="$v.formModel.__registerDate.$model"
            :error="$v.formModel.__registerDate.$error"
            with-input
            range
            background-color="var(--input-bg)"
            @emit:up="(value) => dateSelected(value)"
          />
        </div>
      </v-col>
      <!-- /Дата -->

      <!-- На рассмотрение -->
      <v-col md="3">
        <div class="app-input">
          <span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.for-consideration') }}</span>

          <app-autocomplete
            v-model="formModel.review_user"
            api-list-url="/user/search/"
            item-value="id"
            item-text="full_name"
            cache-items
            outlined
            hide-details
            clearable
          />
        </div>
      </v-col>
      <!-- /На рассмотрение -->

      <!-- Исполнитель -->
      <v-col md="3">
        <div class="app-input">
          <span class="d-block font-600 small-2 mb-2 text-7">Исполнитель</span>

          <app-autocomplete
            v-model="formModel.performer"
            api-list-url="/user/search/"
            item-value="id"
            item-text="full_name"
            cache-items
            outlined
            hide-details
            clearable
          />
        </div>
      </v-col>
      <!-- /Исполнитель -->

      <!-- Статус -->
      <v-col md="3">
        <div class="app-input">
          <span class="d-block font-600 small-2 mb-2 text-7">Статус</span>

          <v-select
            v-model="formModel.status"
            :items="statusList"
            item-text="title"
            item-value="id"
            outlined
            hide-details
            append-icon="mdi-chevron-down"
            background-color="var(--input-bg)"
          >
          </v-select>
        </div>
      </v-col>
      <!-- /Статус -->

      <!-- Автор -->
      <v-col md="3">
        <div class="app-input">
          <span class="d-block font-600 small-2 mb-2 text-7">Автор</span>

          <app-autocomplete
            v-model="formModel.created_by"
            api-list-url="/user/search/"
            item-value="id"
            item-text="full_name"
            cache-items
            outlined
            hide-details
            clearable
          />
        </div>
      </v-col>
      <!-- /Автор -->
    </v-row>

    <div class="d-flex justify-end grid-gap-sm">
      <app-button
        outlined
        @click="clearForm"
      >
        <template #default>
          Очистить поля
        </template>
      </app-button>

      <app-button @click="exportToExcel">
        <template #default>
          Экспорт в эксель
        </template>
      </app-button>
    </div>
  </div>
</template>

<script>
import { required } from "vuelidate/lib/validators"

export default {
	name: "Assignment",
	data() {
		return {
			formModel: {
				review_user: null,
				performer: null,
				status: null,
				register_start_date: null,
				register_end_date: null,
				created_by: null,
				__registerDate: null
			},
			statusList: [
				{
					title: this.$t('components.do'),
					value: 1
				},
				{
					title: this.$t('components.in-progress'),
					value: 2
				},
				{
					title: this.$t('components.in-expectation'),
					value: 3
				},
				{
					title: this.$t('components.done'),
					value: 4
				},
				{
					title: this.$t('components.for-signature'),
					value: 5
				},
				{
					title: this.$t('cancels'),
					value: 6
				},
				{
					title: this.$t('components.on-review'),
					value: 7
				},
			],
		}
	},
	validations: {
		formModel: {
			__registerDate: { required },
		}
	},
	methods: {
		exportToExcel() {
			this.$v.$touch();

			if (this.$v.$invalid) {
				this.$toast.warning(this.$t('auth.enter-phone.required-field'))
				return;
			}

			this.$emit('emit:send', {
				form: this.formModel,
        url: "/docflow/export/assignment/"
      })
		},
		/*
    *
    * */
		clearForm() {
			this.$emit('emit:clear:form', this.formModel)
			this.$v.$reset()
		},
		/*
    *
    * */
		dateSelected(value) {
			this.formModel.register_start_date = value[0]
			this.formModel.register_end_date = value[1]
		},
	}
}
</script>
