<template>
  <div class="component-wrap">
    <v-row>
      <v-col md="3">
        <slot />
      </v-col>

      <!-- Филиал -->
      <v-col md="3">
        <div class="app-input">
          <span class="d-block font-600 small-2 mb-2 text-7">Филиал <span class="text-red">*</span></span>

          <autocomplete
            v-model="$v.formModel.filial.$model"
            :error="$v.formModel.filial.$error"
            api-list-url="/filials/"
            :api-params="{ condition: 'A' }"
            item-text="name"
            item-value="id"
            list-type="list"
            cache-items
            clearable
          />
        </div>
      </v-col>
      <!-- /Филиал -->

      <!-- Журнал -->
      <v-col md="3">
        <div class="app-input">
          <span class="d-block font-600 small-2 mb-2 text-7">Журнал <span class="text-red">*</span></span>

          <v-select
            v-model="$v.formModel.journal.$model"
            :error="$v.formModel.journal.$error"
            :items="journalList"
            item-text="name"
            item-value="id"
            outlined
            hide-details
            append-icon="mdi-chevron-down"
            background-color="var(--input-bg)"
          >
          </v-select>
        </div>
      </v-col>
      <!-- /Журнал -->

      <!-- Дата -->
      <v-col md="3">
        <div class="app-input">
          <span class="d-block font-600 small-2 mb-2 text-7">{{ $t('document-flow.views.search.registration-date') }} <span class="text-red">*</span></span>

          <app-date-picker
            v-model="$v.formModel.__registerDate.$model"
            :error="$v.formModel.__registerDate.$error"
            with-input
            range
            background-color="var(--input-bg)"
            @emit:up="(value) => dateSelected(value)"
          />
        </div>
      </v-col>
      <!-- /Дата -->

      <!-- Вид документа -->
      <v-col md="3">
        <div class="app-input">
          <span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.document-type') }}</span>

          <app-autocomplete
            v-model="formModel.doc_type"
            :api-list-url="documentReferenceUrl"
            :api-params="{
              type: 'doc_type'
            }"
            list-type="list"
            item-text="name"
            item-value="id"
            clearable
            cache-items
          />
        </div>
      </v-col>
      <!-- /Вид документа -->

      <!-- Исх. Дата -->
      <v-col md="3">
        <div class="app-input">
          <span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.outgoing-date') }}</span>

          <app-date-picker
            v-model="formModel.__outgoingDate"
            with-input
            range
            background-color="var(--input-bg)"
            @emit:up="(value) => outgoingDateSelected(value)"
          />
        </div>
      </v-col>
      <!-- /Исх. Дата -->

      <!-- На рассмотрение -->
      <v-col md="3">
        <div class="app-input">
          <span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.for-consideration') }}</span>

          <app-autocomplete
            v-model="formModel.review_user"
            api-list-url="/user/search/"
            item-value="id"
            item-text="full_name"
            cache-items
            outlined
            hide-details
            clearable
          />
        </div>
      </v-col>
      <!-- /На рассмотрение -->

      <!-- Корреспондент -->
      <v-col md="3">
        <div class="app-input">
          <span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.correspondent') }}</span>

          <autocomplete
            v-model="formModel.correspondent"
            api-list-url="/action/correspondent/"
            list-type="list"
            item-text="organization_name"
            item-value="id"
            cache-items
          />
        </div>
      </v-col>
      <!-- /Корреспондент -->

      <!-- Наименование -->
      <v-col md="3">
        <div class="app-input">
          <span class="d-block font-600 small-2 mb-2 text-7">Наименование</span>

          <v-text-field
            v-model="formModel.title"
            outlined
            background-color="var(--input-bg)"
            hide-details
          />
        </div>
      </v-col>
      <!-- /Наименование -->

	    <!-- Автор -->
	    <v-col md="3">
		    <div class="app-input">
			    <span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.author') }}</span>

			    <autocomplete
				    v-model="formModel.author"
				    :api-list-url="usersReferenceUrl"
				    item-value="id"
				    item-text="full_name"
				    cache-items
				    outlined
				    hide-details
				    clearable
			    />
		    </div>
	    </v-col>
	    <!-- /Автор -->
    </v-row>

    <div class="d-flex justify-end grid-gap-sm mt-6">
      <app-button
        outlined
        @click="clearForm"
      >
        <template #default>
          Очистить поля
        </template>
      </app-button>

      <app-button @click="exportToExcel">
        <template #default>
          Экспорт в эксель
        </template>
      </app-button>
    </div>
  </div>
</template>

<script>
import { required } from "vuelidate/lib/validators"
import { mapGetters } from "vuex"

export default {
	name: "Default",
  data() {
		return {
			formModel: {
				author: null,
				review_user: null,
				filial: null,
				journal: null,
        doc_type: null,
				correspondent: null,
				register_start_date: null,
				register_end_date: null,
        outgoing_start_date: null,
        outgoing_end_date: null,
        title: null,
				__registerDate: null,
        __outgoingDate: null
			},
    }
  },
	validations: {
		formModel: {
			filial: { required },
			journal: { required },
			__registerDate: { required },
		}
	},
	computed: {
		...mapGetters({
      currentUser: "auth/getCurrentUser",
			journalList: "documentFlowModule/getNewJournalList",
		}),
    /*
    *
    * */
    documentReferenceUrl() {
      return `/docflow/${this.currentUser.filial}/reference/`
    },
		/**/
		usersReferenceUrl() {
			return `/${this.currentUser.filial}/user/lists/`
		},
	},
  methods: {
	  exportToExcel() {
		  this.$v.$touch();

		  if (this.$v.$invalid) {
			  this.$toast.warning(this.$t('auth.enter-phone.required-field'))
			  return;
		  }

		  this.$emit('emit:send', {
			  form: this.formModel,
			  url: "/docflow/export/registration/"
		  })
    },
    /*
    *
    * */
	  clearForm() {
		  this.$emit('emit:clear:form', this.formModel)
		  this.$v.$reset()
    },
	  /*
    *
    * */
	  dateSelected(value) {
		  this.formModel.register_start_date = value[0]
		  this.formModel.register_end_date = value[1]
	  },
    /*
    *
    * */
    outgoingDateSelected(value) {
      this.formModel.outgoing_start_date = value[0]
      this.formModel.outgoing_end_date = value[1]
    }
  }
}
</script>
