<template>
  <div class="survey-finish-view">
    <div class="survey-banner bg-primary p-relative">
      <img src="/img/survey-intro.svg" alt="survey-intro" class="d-block p-absolute" style="right: 0">
    </div>

    <div class="survey-wrapper p-relative" style="margin-top: -100px">
      <div class="survey-container">
        <div class="shadow-7 text-center bg-white rounded-10 py-10 px-8">
          <p class="font-600 heading-10">{{$t('survey.questionnaire-sended')}}</p>

          <span class="d-block mb-4" style="line-height: 40px">
            {{$t('survey.thank-you')}}
          </span>

          <v-btn
            :to="{ name: 'MainDashboard' }"
            link
            depressed
            color="primary"
          >
            <home-icon size="18" class="mr-2" />
            <span>{{$t('survey.go-dashboard')}}</span>
          </v-btn>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { HomeIcon } from "vue-feather-icons";

export default {
  name: "Finish",
  components: {
    HomeIcon
  }
}
</script>

<style>
.survey-banner {
  height: 480px;
}
</style>
