<template>
  <div class="survey-index-view">
    <div class="survey-banner bg-primary p-relative">
      <img src="/img/survey-intro.svg" alt="survey-intro" class="d-block p-absolute" style="right: 0">
    </div>

    <div class="survey-wrapper p-relative" style="margin-top: -330px">
      <div class="survey-container">
        <p class="heading-1 font-600 text-center text-white" style="margin-bottom: 120px">{{$t('survey.survey')}}</p>

        <div class="shadow-7 text-center bg-white rounded-10 py-10 px-8">
          <p class="font-600">{{$t('survey.hello-employee')}}</p>

          <span style="line-height: 40px">
            {{$t('survey.hello-description')}}
          </span>
        </div>

        <div class="my-15">
          <h1 class="mb-8 text-center">{{$t('survey.list-of-polls')}}</h1>

          <template >
            <router-link v-for="(item, index) in list" :key="index" :to="{ name: 'SurveyQuestions', params: { id: item.id } }" class="d-block text-decoration-none border-all mb-5 rounded-lg">
              <app-wrapper>
                <template #body>
                  <div class="d-flex align-center justify-space-between">
                    <span class="font-500 text-dark">{{ item.title }}</span>

                    <arrow-right-circle-icon />
                  </div>
                </template>
              </app-wrapper>
            </router-link>
          </template>
        </div>

<!--        <router-link :to="{ name: 'SurveyList' }" class="d-block text-decoration-none shadow-7 text-center my-5 py-4 rounded-10 pointer">-->
<!--          <h3 class="text-primary font-500 heading-8">{{$t('survey.start')}}</h3>-->
<!--        </router-link>-->
      </div>
    </div>
  </div>
</template>

<script>
import { removeToken } from "@/services/jwt.service";
import { ArrowRightCircleIcon } from "vue-feather-icons";
import { mapGetters } from "vuex";

export default {
  name: "index",
  components: {
    ArrowRightCircleIcon
  },
  data() {
    return {
      list: []
    }
  },
  computed: {
    ...mapGetters({
      currentUser: "auth/getCurrentUser",
      userHandShakeSocket: "socket/getUserHandShakeSocket",
      getChatSocket: "socket/getChatSocket",
    })
  },
  created() {
    this.getList()
  },
  mounted() {
    if(this.getChatSocket) {
      this.getChatSocket.socket.close()
    }
    if(this.userHandShakeSocket) {
      this.userHandShakeSocket.socket.close()
    }

    removeToken()
  },
  methods: {
    getList() {
      this.$axios.get(`/survey/`, {
        params: {
          page_size: 30,
          type: 'employee'
        }
      })
      .then(({ data }) => {
        this.list = data.results

        console.log(this.list);
      })
    }
  }
}
</script>

<style>
.survey-banner {
  height: 480px;
}
</style>
