<template>
  <div class="survey-question-list">
    <v-toolbar elevation="0" color="primary" height="80">
      <div class="px-16 w-100">
        <v-btn
          :to="{ name: 'MainDashboard' }"
          link
          outlined
          dark
        >
          <home-icon size="18" class="mr-2" />
          <span>{{$t('survey.main')}}</span>
        </v-btn>
      </div>
    </v-toolbar>

    <div v-if="isLoading" class="survey-question-wrapper mt-n14 mb-10">
      <div class="survey-container p-relative">
        <p class="heading-10 text-white text-center mb-0">{{ survey.title }}</p>

        <div class="px-8 py-5 mt-15 mb-8">
          <p class="font-500 mb-8">{{ survey.description }}</p>

          <!-- Question list -->
          <template>
            <div v-for="(question, index) in survey.survey_questions" :key="index" class="shadow-8 pa-8 mb-4">
              <div class="d-flex mb-6">
                <p class="mb-0 font-600" style="width: 25px">{{ index + 1 }}.</p>
                <div>
                  <p class="mb-0 font-500">{{ question.title }}</p>
<!--                  <p class="mb-0 font-500 text-red">Пол</p>-->
                </div>
              </div>

              <!-- Radio type -->
              <template v-if="question.input_type === 'radio'">
                <v-radio-group
                  hide-details
                  @change="(value) => assignVariant(value, question, index)"
                >
                  <v-row>
                    <template>
                      <v-col v-for="(option, index) in question.options" :key="index" md="12">
                        <v-radio
                          :value="option.name"
                        >
                          <template v-slot:label>
                            <span class="font-500 text-dark">{{ option.name }}</span>
                          </template>
                        </v-radio>
                      </v-col>
                    </template>
                  </v-row>
                </v-radio-group>
              </template>
              <!-- /Radio type -->

              <!-- Checkbox type -->
              <template v-if="question.input_type === 'checkbox'">
                <template>
                  <v-checkbox
                    v-for="(option, index) in question.options"
                    v-model="question.__values"
                    :key="index"
                    :value="option.__value"
                    hide-details
                    @change="(value) => assignVariant(value, question, index)"
                  >
                    <template #label>
                      <span class="font-500 text-dark">{{ option.name }}</span>
                    </template>
                  </v-checkbox>
                </template>
              </template>
              <!-- /Checkbox type -->

              <!-- Select type -->
              <template v-if="question.input_type === 'select'">
                <v-select
                  :items="question.options"
                  item-text="name"
                  item-value="name"
                  outlined
                  hide-details
                  :placeholder="$t('survey.select')"
                  background-color="var(--input-bg)"
                  @change="(value) => assignVariant(value, question, index)"
                ></v-select>
              </template>
              <!-- /Select type -->

              <!-- Text type -->
              <template v-if="question.input_type === 'text'">
                <v-radio-group
                  hide-details
                  @change="(value) => assignVariant(value, question, index)"
                >
                  <v-row>
                    <template>
                      <v-col v-for="(option, optionIndex) in question.options" :key="index" md="12">
                        <v-radio
                          :value="option.name"
                          :disabled="option.is_other"
                        >
                          <template v-slot:label>
                            <span class="font-500 text-dark">{{ option.name }}</span>
                          </template>
                        </v-radio>

                        <template v-if="option.is_other">
                          <v-textarea
                            @input="(value) => assignVariant(value, question, index)"
                            outlined
                            background-color="var(--input-bg)"
                            hide-details
                            no-resize
                            :placeholder="$t('survey.enter-option')"
                            class="mt-5"
                          ></v-textarea>
                        </template>
                      </v-col>
                    </template>
                  </v-row>
                </v-radio-group>
              </template>
              <!-- /Text type -->
            </div>
          </template>
          <!-- /Question list -->
        </div>

        <div class="text-center">
          <app-button @click="sendSurvey">
            <template #prepend>
              <send-icon size="18" />
            </template>
            <span>{{$t('survey.send-survey')}}</span>
          </app-button>
        </div>
      </div>
    </div>

<!--    <pre>{{ surveyRequestModel }}</pre>-->
  </div>
</template>

<script>
import { HomeIcon, SendIcon } from "vue-feather-icons";
import { mapGetters } from "vuex";

export default {
  name: "SurveyQuestionList",
  components: {
    SendIcon,
    HomeIcon
  },
  data() {
    return {
      survey: {},
      surveyRequestModel: null,
      isLoading: false
    }
  },
  computed: {
    ...mapGetters({
      currentUser: "auth/getCurrentUser"
    })
  },
  mounted() {
    this.getList()
  },
  methods: {
    getList() {
      this.$axios.get(`/survey/${this.$route.params.id}/`,)
      .then(({ data }) => {
        this.survey = {
          ...data,
          survey_questions: data.survey_questions.map(question => {
            return {
              ...question,
              __values: [],
              options: question.options.map(option => {
                return {
                  ...option,
                  __value: option.name
                }
              })
            }
          })
        }

        this.surveyRequestModel = {
          survey: data.id,
          survey_results: data.survey_questions.map(question => {
            return {
              question: question.id,
              user_answers: []
            }
          })
        }

        this.isLoading = true
      })
    },
    /*
    *
    * */
    assignVariant(value, question, index) {
	    switch (question.input_type) {
        case "checkbox":
          this.surveyRequestModel.survey_results[index].user_answers = value.map(item => ({ name: item }))
          break;
        default:
          this.surveyRequestModel.survey_results[index].user_answers = [{ name: value }]
      }
    },
    /*
    *
    * */
    sendSurvey() {
	    this.$axios.post(`/survey/09013/submission/`, this.surveyRequestModel)
      .then(() => {
        this.$toast.success(this.$t('survey.survey-sended'))

        this.$router.push({
          name: "SurveyQuestionsFinish"
        })
      })
    }
  }
}
</script>
