<template>
	<div class="user-profile-detail-view px-5">
		<v-form ref="form">
			<v-row>
				<v-col md="6" lg="4">
					<div class="app-input">
						<span class="d-block font-500 small-2 mb-2 opacity-50">{{$t('user-profile.views.current-password')}} </span>

						<v-text-field
							@click:append="show = !show"
							v-model="$v.formModel.current_password.$model"
							:error="$v.formModel.current_password.$error"
							hide-details
							outlined
							background-color="var(--input-bg)"
							:type="show ? 'text' : 'password'"
							:append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
						></v-text-field>
					</div>
				</v-col>

				<v-col md="6" lg="4">
					<div class="app-input">
						<span class="d-block font-500 small-2 mb-2 opacity-50">{{$t('user-profile.views.new-password')}} </span>

						<v-text-field
							@click:append="show = !show"
							v-model="$v.formModel.new_password.$model"
							:error="$v.formModel.new_password.$error"
							:rules="[rules.min]"
							outlined
							background-color="var(--bg-3)"
							:type="show ? 'text' : 'password'"
							:append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
							hide-details
						></v-text-field>
					</div>


					<div class="small-2 mt-2">
						<div class="d-flex gap-x-1 align-center">
							<base-iconify
								v-if="hasMinLength"
								icon="CheckCircleBold"
								class="text-success-500 size-15"
							/>
							<base-iconify
								v-else
								icon="CloseCircleBold"
								class="text-critic-500 size-15"
							/>
							<div class="" :class="hasMinLength ? 'text-success-500' : 'text-critic-500'">{{ $t('auth.reset-password.password-incorrect') }}</div>
						</div>

						<div class="d-flex gap-x-1 align-center">
							<base-iconify
								v-if="hasUppercase"
								icon="CheckCircleBold"
								class="text-success-500 size-15"
							/>
							<base-iconify
								v-else
								icon="CloseCircleBold"
								class="text-critic-500 size-15"
							/>
							<div :class="hasUppercase ? 'text-success-500' : 'text-critic-500'">{{ $t('one-uppercase-letter') }}</div>
						</div>

						<div class="d-flex gap-x-1 align-center">
							<base-iconify
								v-if="hasLowercase"
								icon="CheckCircleBold"
								class="text-success-500 size-15"
							/>
							<base-iconify
								v-else
								icon="CloseCircleBold"
								class="text-critic-500 size-15"
							/>
							<div :class="hasLowercase ? 'text-success-500' : 'text-critic-500'">{{ $t('one-lowercase-letter') }}</div>
						</div>

						<div class="d-flex gap-x-1 align-center">
							<base-iconify
								v-if="hasSymbol"
								icon="CheckCircleBold"
								class="text-success-500 size-15"
							/>
							<base-iconify
								v-else
								icon="CloseCircleBold"
								class="text-critic-500 size-15"
							/>
							<div :class="hasSymbol ? 'text-success-500' : 'text-critic-500'">{{ $t('one-symbol') }}</div>
						</div>
					</div>
				</v-col>

				<v-col md="6" lg="4">
					<div class="app-input">
						<span class="d-block font-500 small-2 mb-2 opacity-50">{{$t('user-profile.views.confirm-password')}} </span>

						<v-text-field
							@click:append="show = !show"
							v-model="$v.formModel.confirm_password.$model"
							:error="$v.formModel.confirm_password.$error"
							outlined
							background-color="var(--bg-3)"
							:error-messages="isConfirmTouch ? notSamePasswordText : ''"
							:type="show ? 'text' : 'password'"
							:append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
						></v-text-field>
					</div>
				</v-col>
			</v-row>
		</v-form>
		<div class="d-flex justify-end">
			<app-button
				@click="save"
				depressed
				:loading="loading"
			>
			<template #prepend>
				<v-icon size="17">mdi-content-save</v-icon>
			</template>
				<template #default>
					{{$t('user-profile.views.save')}}
				</template>
			</app-button>
		</div>
	</div>
</template>

<script>
import { saveToken } from "@/services/jwt.service";
import { minLength, required, sameAs } from "vuelidate/lib/validators";
import { mapActions } from "vuex";

export default {
	name: "PasswordAndSecurity",
	data() {
		return {
			show: false,
			isConfirmTouch: false,
			loading: false,
			formModel: {
				current_password: "",
				new_password: "",
				confirm_password: ""
			},
			rules: {
				min: (v) => v.length >= 8 || this.$t('user-profile.views.password-invalid')
			}
		}
	},
	validations() {
		return {
			formModel: {
				current_password: { required },
				new_password: {
					required,
					minLength: minLength(8)
				},
				confirm_password: {
					required,
					sameAsPassword: sameAs(() => this.formModel.new_password)
				}
			}
		};
	},
	watch: {
		'formModel.confirm_password'(val){
			this.isConfirmTouch = val !== '';
		}
	},
	computed: {
		notSamePasswordText(){
			if (this.formModel.new_password !== this.formModel.confirm_password){
				return this.$t('user-profile.views.passwords-must-match')
			}
			return ''
		},
		// Indicator states for each requirement
		hasMinLength() {
			return this.formModel.new_password.length >= 8;
		},
		hasUppercase() {
			return /[A-Z]/.test(this.formModel.new_password);
		},
		hasLowercase() {
			return /[a-z]/.test(this.formModel.new_password);
		},
		hasSymbol() {
			return /[\W_]/.test(this.formModel.new_password);
		},
		isPasswordValid() {
			return this.hasUppercase && this.hasLowercase && this.hasSymbol;
		},
	},
	methods: {
    ...mapActions({
      fetchCurrentUser: "auth/fetchCurrentUser"
    }),
    /*
    *
    * */
		save() {
			this.$v.$touch();

			if (this.$v.$invalid || !this.isPasswordValid) {
				return;
			}
			this.loading = true

			let model = {
				old_password: this.formModel.current_password,
				new_password: this.formModel.new_password
			}
			this.$http.put(`/user/change/password/`, model)
				.then(({ data }) => {
          saveToken(data.access, data.refresh)

          this.fetchCurrentUser()
          .then(() => {
            this.$toast.success(this.$t('user-profile.views.password-changed'))

            const { form } = this.$refs;
            form.reset();
          })
				})
				.catch(err => {
					console.log(err)
				})
				.finally(() => {
					this.loading = false
				})
		}
	}
}
</script>

<style
</style>
