<template>
	<div class="personal-documents-view" style="height: calc(100vh - 380px)">
		<template v-if="loading">
			<div class="h-100">
				<app-loader component-based :size="30" />
			</div>
		</template>

		<template v-else>
			<template v-if="files.length">
				<v-row class="mt-4">
					<v-col v-for="item in files" md="2" class="pa-2">
						<div class="d-flex flex-column pa-6 border-all rounded-10 justify-center align-center">
							<file-text-icon size="35" color="var(--primary-1)"/>
							<span class="small-3 line-base-1 line-truncate mt-4">{{ item.given_name ? item.given_name : item.name }}</span>
							<div class="d-flex w-100 justify-center align-center">
								<v-btn
									icon
									color="warning"
									link
									target="_blank"
									:href="item.url"
								>
									<eye-icon size="18" />
								</v-btn>
								<v-btn
									@click="download(item)"
									icon
									color="primary"
									link
								>
									<download-icon size="18" />
								</v-btn>
							</div>
						</div>
					</v-col>
				</v-row>
			</template>

			<template v-else>
				<div class="h-100 d-flex align-center justify-center">
					<span>{{ $t('document-flow.views.boxes.nothing-found') }}!</span>
				</div>
			</template>
		</template>
	</div>
</template>

<script>
import { FileTextIcon, EyeIcon, DownloadIcon } from "vue-feather-icons";
import { mapGetters } from "vuex";
import { saveAs } from 'file-saver';

export default {
	name: "PersonalDocuments",
	components: {
		FileTextIcon,
		EyeIcon,
		DownloadIcon
	},
	data() {
		return {
			loading: false,
			files: []
		}
	},
	computed: {
		...mapGetters({
			currentUser: "auth/getCurrentUser"
		}),
	},
	mounted() {
		this.getPersonalDocuments();
	},
	methods: {
		getPersonalDocuments(){
			this.loading = true;
			this.$axios.get(`/user-documents/${this.currentUser.id}/`, { params: { page_size: 100 } })
				.then(({ data }) => {
					this.files = data.files;
					this.loading = false;
				})
				.catch(err => {
					this.loading = false;
					console.log(err)
				})
		},
		/**/
		download(item){
			saveAs(item.url, item.given_name ? item.given_name : item.name)
		}
	}
}
</script>

<style scoped>

</style>
