<template>
  <div class="salary-view">
    <perfect-scrollbar class="pl-4 pr-6">
      <div class="block mb-5">
        <v-row no-gutters class="mb-3" align="center">
          <v-col md="5" class="mr-3">
            <h3 class="font-600 small-1">{{$t('user-profile.views.monthly-salary')}}</h3>
          </v-col>

          <v-spacer />

          <v-col md="2">
            <app-date-picker
              v-model="salaryDate"
              with-input
              dense
              :nudge-right="-50"
              background-color="var(--input-bg)"
            />
          </v-col>
        </v-row>

        <app-table bordered>
          <template #tableHeader>
            <th width="250">
              <span class="primary-text">{{$t('user-profile.views.date')}}</span>
            </th>
            <th>
              <span>{{$t('user-profile.views.name')}}</span>
            </th>
            <th width="200">
              <span>{{$t('user-profile.views.sum')}}</span>
            </th>
          </template>

          <template #tableBody>
            <template v-if="getSalaryList.results && getSalaryList.results.length">
              <template >
                <tr v-for="(item, index) in getSalaryList.results" :key="index">
                  <td class="primary-text">
                    {{ item.period | filterDateMonthYear }}
                  </td>
                  <td>
                    <span class="reset-space font-500 text-dark" v-html="item.pay_name"></span>
                  </td>
                  <td>
                    <span class="font-500 text-dark">{{ item.summ | formatNumber }}</span>
                  </td>
                </tr>
              </template>

              <tr>
                <td colspan="3">
                  <div class="d-flex align-center justify-end text-dark">
                    <span class="small-2 mr-2 font-500">{{$t('user-profile.views.total-amount')}}: </span>
                    <span class="body-2 font-weight-bold">{{ getSalaryList.on_hand | formatNumber }}</span>
                  </div>
                </td>
              </tr>
            </template>

            <template v-else>
              <tr>
                <td colspan="3">
                  <span class="text-center font-500 d-block">{{$t('user-profile.views.not-found')}}</span>
                </td>
              </tr>
            </template>
          </template>
        </app-table>
      </div>

      <div class="block">
        <v-row no-gutters class="mb-3" align="center">
          <v-col md="5" class="mr-3">
            <h3 class="font-600 small-1">{{$t('user-profile.views.monthly-income')}}</h3>
          </v-col>

          <v-spacer />

          <v-col md="2">
            <v-select
              v-model="salaryStatisticDate"
              :items="[2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024, 2025, 2026, 2027, 2028, 2029, 2030]"
              outlined
              dense
              background-color="var(--input-bg)"
            />
          </v-col>
        </v-row>

        <apexchart type="bar" height="350" :options="chartOptions" :series="formatStatisticList"></apexchart>
      </div>
    </perfect-scrollbar>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  name: "Salary",
  data() {
    return {
      salaryDate: (new Date(new Date().getFullYear(), new Date().getMonth() - 1, new Date().getDate() + 1)).toISOString().substr(0, 10),
      salaryStatisticDate: new Date().getFullYear(),
      chartOptions: {
        chart: {
          type: 'bar',
          height: 350,
          toolbar: {
            tools: {
              download: false
            }
          }
        },
        plotOptions: {
          bar: {
            horizontal: false,
            columnWidth: '15px',
            borderRadius: 10
          },
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          show: true,
          width: 0,
          colors: ['transparent']
        },
        xaxis: {
          categories: [this.$t('user-profile.views.january'), this.$t('user-profile.views.february'), this.$t('user-profile.views.march'), this.$t('user-profile.views.april'), this.$t('user-profile.views.may'), this.$t('user-profile.views.june'), this.$t('user-profile.views.july'), this.$t('user-profile.views.august'), this.$t('user-profile.views.september'), this.$t('user-profile.views.october'), this.$t('user-profile.views.november'), this.$t('user-profile.views.december')],
        },
        fill: {
          opacity: 1,
          colors: ['#5964D1']
        },
        tooltip: {
          y: {
            formatter: function (val) {
              return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ")
            }
          }
        }
      },
    }
  },
  computed: {
    ...mapGetters({
      getUserPasscode: "getUserPasscode",
      getSalaryList: "getSalaryList",
      getSalaryStatisticList: "getSalaryStatisticList",
    }),
    /*
    *
    * */
    totalSum() {
      if(Object.keys(this.getSalaryList).length) {
        return this.getSalaryList.reduce((prev, cur) => prev + cur.summ, 0);
      }
    },
    /*
    *
    * */
    formatSalaryDate() {
      const [year, month] = this.salaryDate.split("-")
      return `01.${month}.${year}`
    },
    /*
    *
    * */
    formatStatisticList() {
      return [
        {
          name: "Доход",
          data: this.getSalaryStatisticList
        }
      ]
    },
  },
  mounted() {
    // Если нет пароля
    if(!this.getUserPasscode) {
      this.$router.push({
        name: "UserProfile"
      }).catch(() => {})
    }
  },
  beforeDestroy() {
    this.$router.push(this.$route.fullPath).catch(() => {})
  },
  watch: {
    salaryDate() {
      this.fetchGetUserSalaryList({
        passcode: this.getUserPasscode,
        date: this.formatSalaryDate
      })
    },
    /*
    *
    * */
    salaryStatisticDate(value) {
      this.fetchGetUserSalaryStatisticList({
        passcode: this.getUserPasscode,
        year: value
      })
    },
    '$i18n.locale': {
      handler() {
        this.chartOptions = {
          ...this.chartOptions,
          xaxis: {
            categories: [this.$t('user-profile.views.january'), this.$t('user-profile.views.february'), this.$t('user-profile.views.march'), this.$t('user-profile.views.april'), this.$t('user-profile.views.may'), this.$t('user-profile.views.june'), this.$t('user-profile.views.july'), this.$t('user-profile.views.august'), this.$t('user-profile.views.september'), this.$t('user-profile.views.october'), this.$t('user-profile.views.november'), this.$t('user-profile.views.december')],
          }
        }
      }
    }
  },
  methods: {
    ...mapActions({
      fetchGetUserSalaryList: "fetchGetUserSalaryList",
      fetchGetUserSalaryStatisticList: "fetchGetUserSalaryStatisticList",
    }),
    /*
    *
    * */
    saveYear(year) {
      this.$refs.picker.internalActivePicker = 'YEAR'
    }
  }
}
</script>

<style>
.salary-view .ps {
  height: calc(100vh - 400px);
}
</style>
