<template>
	<div class="user-profile-technique-view overflow-y-auto" style="height: calc(100vh - 380px)">
		<template v-if="isLoading">
			<app-loader component-based :size="30" />
		</template>

		<template v-else>
			<template v-if="!techniquesList.length">
				<div class="w-100 no-data d-flex justify-center align-center">
					<h2>{{$t('user-profile.views.no-equipments')}}</h2>
				</div>
			</template>
			<template v-else>
				<perfect-scrollbar>
					<div class="px-5">
						<app-table>
							<template #tableHeader class="mt-4">
								<th width="80">№</th>
								<th>{{$t('user-profile.views.name-equipment')}}</th>
								<th>ID</th>
								<th>{{$t('user-profile.views.inv-number')}}</th>
								<th>{{$t('user-profile.views.entry-date')}}</th>
								<th>{{$t('document-flow.components.action')}}</th>
							</template>

							<template #tableBody>
								<tr v-for="(item, index) in techniquesList" :key=item.card_id>
									<td>{{ index + 1 }}</td>
									<td>{{ item.name }}</td>
									<td>{{ item.card_id }}</td>
									<td>{{ item.inv_num }}</td>
									<td>{{ item.date_oper_beg | filterDateMonthYear }}</td>
									<td>
										<v-checkbox
											v-model="selectedTechniques"
											:value="item"
										></v-checkbox>
									</td>
								</tr>
							</template>
						</app-table>
					</div>
				</perfect-scrollbar>

				<div class="d-flex justify-end mt-2 mx-4">
					<app-autocomplete
						v-model="$v.approver.$model"
						:error="$v.approver.$error"
						api-list-url="/user/search/"
						item-text="full_name"
						return-object
						cache-items
						dense
						:label="$t('dashboard.components.approval')"
					/>

					<app-autocomplete
						v-model="$v.selectedUser.$model"
						:error="$v.selectedUser.$error"
						api-list-url="/user/search/"
						item-text="full_name"
						return-object
						cache-items
						dense
						:label="$t('selectRecipient')"
						class="mx-2"
					/>

					<app-button
						small
						min-width="50"
						@click="preview"
						:disabled="!(selectedTechniques && selectedTechniques.length)"
					>
						{{ $t('submit') }}
					</app-button>
				</div>

				<div class="d-flex justify-space-between align-center mt-2 mx-4">
					<div class="d-flex align-center">
						<v-icon>mdi-information-outline</v-icon>
						<span class="bg-primary rounded-5 px-3 py-1 white--text mx-4">1916 - 1918</span>
						<span class="font-italic text-red font-400 small-2">{{$t('user-profile.views.call-us')}}</span>
					</div>
<!--					<app-pagination @emit:up="paginate"/>-->
				</div>
			</template>
		</template>

		<act-preview ref="actPreview" />
	</div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import ActPreview from "../../Equipments/views/components/ActPreview.vue";
import {required} from "vuelidate/lib/validators";

export default {
	name: "Technique",
	components: {ActPreview},
	data() {
		return {
			selectedTechniques: [],
			selectedUser: null,
			approver: null
		}
	},
	validations: {
		selectedUser: { required },
		approver: { required }
	},
	computed: {
		...mapGetters({
			currentUser: "auth/getCurrentUser",
			techniquesList: "getTechniquesList",
			isLoading: "getLoading"
		}),
	},
	created() {
		this.getList();
	},
	methods: {
		...mapActions({
			getList: "fetchTechniquesList",
		}),
		paginate(val) {
			this.getList({
				page: val
			})
		},
		/** **/
		preview() {
			this.$v.$touch();

			if (this.$v.$invalid) {
				return;
			}

			const { actPreview } = this.$refs;
			actPreview.actPreviewModal = true;
			actPreview.recipient = this.selectedUser;
			actPreview.approver = this.approver;
			actPreview.techniquesList = this.selectedTechniques;
			actPreview.model.register_number = `${this.currentUser.last_name}`;
			actPreview.getFilialRegionName();
		}
	}
}
</script>

<style scoped>
.user-profile-technique-view .ps {
	height: calc(100vh - 470px);
}

.user-profile-technique-view .no-data {
	height: calc(100vh - 470px);
}

.user-profile-technique-view tbody tr td {
	height: 56px !important;
}
</style>
