<template>
	<div class="user-profile-view h-100 w-100 p-fixed">
		<div class="profile-container h-100 bg-4 my-2 rounded-20 overflow-hidden">
			<div class="profile-container-image">
				<img src="@/assets/img/profile-background.png" alt="" class="w-100 h-100 object-cover">
			</div>
			<div class="h-100 pl-7">
				<v-row class="h-100">
					<v-col md="4" lg="3">
						<div class="avatar-cover p-absolute d-flex justify-center align-center">
							<v-avatar
								v-if="!currentUser.avatar"
								:color="currentUser.color"
								size="100%"
                class="object-cover w-100 h-100"
							>
								<h1 class="text-white heading-xl">{{ currentUser.first_name && currentUser.first_name | getFirstCharacterWithoutDot }}</h1>
							</v-avatar>

							<div v-else class="rounded-50 overflow-hidden w-100 h-100">
								<img :src="currentUser.avatar.url" alt="" class="w-100 h-100 object-cover">
							</div>
<!--							<input class="d-none" @change="uploadAvatar" type="file" id="avatar" name="avatar" accept="image/*">-->
<!--							<label for="avatar">-->
<!--								<div class="profile-avatar-badge p-absolute d-flex justify-center pointer">-->
<!--									<v-icon color="white">mdi-camera</v-icon>-->
<!--								</div>-->
<!--							</label>-->
						</div>
						<div class="profile-menu d-flex flex-column align-center justify-start p-relative">
							<div>
								<v-list
									dense
								>
									<v-list-item-group
										v-model="selectedItem"
										color="primary"
									>
										<v-list-item
											class="my-4"
											v-for="(item, i) in profileMenuBar"
											:key="i"
											:to="{ name: item.routerLink }"
										>
											<v-list-item-content>
												<v-list-item-title>
													<span class="small-1">{{ item.name }}</span>
												</v-list-item-title>
											</v-list-item-content>
										</v-list-item>

                    <!-- Зарплата -->
<!--                    <v-list-item-->
<!--                      @click="isPasscodeCreated"-->
<!--                      class="my-4"-->
<!--                    >-->
<!--                      <v-list-item-content>-->
<!--                        <v-list-item-title>-->
<!--                          <span class="small-1">{{$t('user-profile.views.salary')}}</span>-->
<!--                        </v-list-item-title>-->
<!--                      </v-list-item-content>-->
<!--                    </v-list-item>-->
                    <!-- /Зарплата -->

                    <!-- Код-пароль -->
<!--                    <v-list-item-->
<!--                      @click="isPasscodeSet"-->
<!--                      class="my-4"-->
<!--                    >-->
<!--                      <v-list-item-content>-->
<!--                        <v-list-item-title>-->
<!--                          <span class="small-1">{{$t('user-profile.views.code-password')}}</span>-->
<!--                        </v-list-item-title>-->
<!--                      </v-list-item-content>-->

<!--                      <v-list-item-action>-->
<!--                        <v-switch-->
<!--                          v-model="currentUser.is_passcode_set"-->
<!--                          :ripple="false"-->
<!--                          readonly-->
<!--                          inset-->
<!--                        ></v-switch>-->
<!--                      </v-list-item-action>-->
<!--                    </v-list-item>-->
                    <!-- /Код-пароль -->
									</v-list-item-group>
								</v-list>

								<div
									@click.prevent="logout"
									class="d-flex align-center pointer"
								>
									<v-icon color="red" class="ml-2">mdi-exit-to-app</v-icon>
									<span class="color-red ml-3">{{$t('user-profile.views.logout')}}</span>
								</div>
							</div>
						</div>
					</v-col>

					<v-col md="8" lg="9" class="perfect-scroll border-left">
						<div class="ma-5">
							<h1 class="font-500 heading-8">{{ currentUser.last_name }} {{ currentUser.first_name }} {{ currentUser.father_name }}</h1>
<!--							<h6 class="font-500 mt-2 small-2">Рыбы не могут жить без воды, а люди не могут жить в воде!</h6>-->
						</div>
							<router-view/>
					</v-col>
				</v-row>
			</div>
		</div>

    <!-- Create new passcode modal -->
    <template v-if="!currentUser.is_passcode_set">
      <create-new-passcode-modal ref="createPasscodeModal" />
    </template>
    <!-- /Create new passcode modal -->

    <!-- Set passcode modal -->
    <template v-else>
      <set-passcode-modal ref="setPasscodeModal" />
    </template>
    <!-- /Set passcode modal -->

    <!-- Created passcode modal -->
    <created-passcode-modal ref="createdPasscodeModal" />
    <!-- /Created passcode modal -->
	</div>
</template>

<script>
import CreatedPasscodeModal from "@/modules/UserProfile/components/CreatedPasscodeModal"
import CreateNewPasscodeModal from "@/modules/UserProfile/components/CreateNewPasscodeModal"
import SetPasscodeModal from "@/modules/UserProfile/components/SetPasscodeModal"

import { mapActions, mapGetters } from "vuex"

export default {
	name: "UserProfile",
	data() {
		return {
			selectedItem: null,
		}
	},
  components: {
    CreateNewPasscodeModal,
    SetPasscodeModal,
    CreatedPasscodeModal
  },
	computed: {
		...mapGetters({
			profileMenuBar: "getProfileBarMenu",
			currentUser: "auth/getCurrentUser",
		})
	},
	methods: {
		...mapActions({
			fetchCurrentUserBirthday: "fetchCurrentUserBirthday",
			updateProfileBarMenu: "updateProfileBarMenu",
			fetchResetUserInfo: "auth/fetchResetUserInfo",
		}),
		uploadAvatar() {
			const file = document.getElementById("avatar").files[0];

			let formData = new FormData();
			formData.append("file", file);

			this.$axios.post(`/upload/`, formData)
			.then(({ data }) => {
				this.updateAvatar(data.id);
			})
		},
		/**/
		updateAvatar(id){
			this.$axios.put(`/user/my/profile/`, { avatar: id })
			.then(({ data }) => {
				this.$store.commit("auth/SET_CURRENT_USER", data)
				this.$toast.success(this.$t('user-profile.views.avatar-changed'))
			})
		},
		/**/
		logout() {
			// if(!confirm(this.$t('user-profile.views.logout-description'))) {
			// 	return void 0;
			// }
			this.$store.dispatch("auth/logOut")
				.then(() => {
					this.fetchResetUserInfo();
					this.$socket.onCloseChannel();
					this.fetchCurrentUserBirthday(false)
					this.$router.push({
						name: "AuthLogin"
					})
				})
			.catch(() => {
				this.$router.push({
					name: "AuthLogin"
				})
			})
		},
    /*
    *
    * */
    isPasscodeCreated() {
      const { createPasscodeModal, setPasscodeModal } = this.$refs

      !this.currentUser.is_passcode_set ? createPasscodeModal.dialog = true : setPasscodeModal.dialog = true
    },
    /*
    *
    * */
    isPasscodeSet() {
      const { createPasscodeModal, createdPasscodeModal } = this.$refs

      !this.currentUser.is_passcode_set ? createPasscodeModal.dialog = true : createdPasscodeModal.dialog = true
    }
	},
	mounted() {
		this.updateProfileBarMenu([
			{
				name: this.$t('user-profile.profile'),
				routerLink: "UserProfile"
			},
			{
				name: this.$t('user-profile.equipments'),
				routerLink: "UserTechniques"
			},
			{
				name: this.$t('user-profile.password'),
				routerLink: "UserPasswordAndSecurity"
			},
			{
				name: this.$t('personal_documents'),
				routerLink: "UserPersonalDocuments"
			}
		])
	},
	watch: {
		'$i18n.locale': {
			handler() {
				this.updateProfileBarMenu([
					{
						name: this.$t('user-profile.profile'),
						routerLink: "UserProfile"
					},
					{
						name: this.$t('user-profile.equipments'),
						routerLink: "UserTechniques"
					},
					{
						name: this.$t('user-profile.password'),
						routerLink: "UserPasswordAndSecurity"
					},
					{
						name: this.$t('personal_documents'),
						routerLink: "UserPersonalDocuments"
					}
				])
			}
		}
	}
}
</script>

<style scoped>
.profile-container {
	width: calc(100vw - 100px);
}

.profile-container-image {
	height: 200px;
}

.avatar-cover {
	width: 180px;
	height: 180px;
	box-sizing: border-box;
	border: 8px solid #D5D8F3;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	border-radius: 50%;
	left: 9%;
	top: 160px;
}

.profile-avatar-badge {
	width: 40px;
	height: 40px;
	z-index: 1;
	background: #5964D1;
	border-radius: 50px;
	bottom: -5px;
	right: -5px;
}

.profile-menu {
	margin-top: 152px;
}

.profile-menu .v-list {
	width: 260px;
}

.profile-menu .v-list-item__title span {
	color: #BBBBBB !important;
}

.profile-menu .v-item--active .v-list-item__title span {
	color: black !important;
}

.profile-menu .theme--light.v-list-item--active:hover::before, .theme--light.v-list-item--active::before {
	border-radius: 8px !important;
	opacity: 0.05 !important;
}

.profile-menu .v-list-item--link {
	height: 44px !important;
}

@media (max-width: 1400px) {
	.avatar-cover {
		left: 12%;
	}
}

</style>
