<template>
	<div class="user-profile-detail-view">
		<perfect-scrollbar>
			<div class="px-5">
				<v-row>
					<v-col md="6" lg="4">
						<div class="app-input">
							<span class="d-block font-500 small-2 mb-2 opacity-50">{{$t('user-profile.views.surname')}} </span>

							<v-text-field
								:value="currentUser.last_name"
								hide-details
								outlined
								background-color="var(--input-bg)"
								readonly
							></v-text-field>
						</div>
					</v-col>

					<v-col md="6" lg="4">
						<div class="app-input">
							<span class="d-block font-500 small-2 mb-2 opacity-50">{{$t('user-profile.views.first_name')}} </span>

							<v-text-field
								:value="currentUser.first_name"
								hide-details
								outlined
								background-color="var(--input-bg)"
								readonly
							></v-text-field>
						</div>
					</v-col>

					<v-col md="6" lg="4">
						<div class="app-input">
							<span class="d-block font-500 small-2 mb-2 opacity-50">{{$t('user-profile.views.middle_name')}} </span>

							<v-text-field
								:value="currentUser.father_name"
								hide-details
								outlined
								background-color="var(--input-bg)"
								readonly
							></v-text-field>
						</div>
					</v-col>

					<v-col md="6" lg="4">
						<div class="app-input">
							<span class="d-block font-500 small-2 mb-2 opacity-50">{{$t('user-profile.views.birthday')}} </span>

							<v-text-field
								:value="currentUser.birth_date | filterDateMonthYear"
								hide-details
								outlined
								background-color="var(--input-bg)"
								readonly
							></v-text-field>
						</div>
					</v-col>

					<v-col md="6" lg="4">
						<div class="app-input">
							<span class="d-block font-500 small-2 mb-2 opacity-50">{{$t('user-profile.views.sex')}} </span>

							<v-text-field
								:value="currentUser.gender"
								hide-details
								outlined
								background-color="var(--input-bg)"
								readonly
							></v-text-field>
						</div>
					</v-col>

					<v-col md="6" lg="4">
						<div class="app-input">
							<span class="d-block font-500 small-2 mb-2 opacity-50">{{$t('user-profile.views.mobile-number')}} </span>

							<v-text-field
								v-mask="'+998 (##) ### ## ##'"
								:value="'+' + currentUser.phone_number"
								hide-details
								outlined
								background-color="var(--input-bg)"
								readonly
							></v-text-field>
						</div>
					</v-col>

					<v-col md="6" lg="4">
						<div class="app-input">
							<span class="d-block font-500 small-2 mb-2 opacity-50">{{$t('user-profile.views.branch')}} </span>

							<v-text-field
								:value="currentUser.filial_name"
								hide-details
								outlined
								background-color="var(--input-bg)"
								readonly
							></v-text-field>
						</div>
					</v-col>

					<v-col md="6" lg="4">
						<div class="app-input">
							<span class="d-block font-500 small-2 mb-2 opacity-50">{{$t('user-profile.views.department')}} </span>

							<v-text-field
								:value="currentUser.top_level_dept_name"
								hide-details
								outlined
								background-color="var(--input-bg)"
								readonly
							></v-text-field>
						</div>
					</v-col>

					<v-col md="6" lg="4">
						<div class="app-input">
							<span class="d-block font-500 small-2 mb-2 opacity-50">{{$t('user-profile.views.management')}} </span>

							<v-text-field
								:value="currentUser.dep_parent_name"
								hide-details
								outlined
								background-color="var(--input-bg)"
								readonly
							></v-text-field>
						</div>
					</v-col>

					<v-col md="6" lg="4">
						<div class="app-input">
							<span class="d-block font-500 small-2 mb-2 opacity-50">{{$t('user-profile.views.section')}} </span>

							<v-text-field
								:value="currentUser.dep_name"
								hide-details
								outlined
								background-color="var(--input-bg)"
								readonly
							></v-text-field>
						</div>
					</v-col>

					<v-col md="6" lg="4">
						<div class="app-input">
							<span class="d-block font-500 small-2 mb-2 opacity-50">{{$t('user-profile.views.position')}} </span>

							<v-text-field
								:value="currentUser.position"
								hide-details
								outlined
								background-color="var(--input-bg)"
								readonly
							></v-text-field>
						</div>
					</v-col>

					<v-col md="6" lg="4">
						<div class="app-input">
							<span class="d-block font-500 small-2 mb-2 opacity-50">{{$t('user-profile.views.status')}} </span>

							<v-text-field
								:value="currentUser.condition_name"
								hide-details
								outlined
								background-color="var(--input-bg)"
								readonly
							></v-text-field>
						</div>
					</v-col>

					<v-col md="6" lg="4">
						<div class="app-input">
							<span class="d-block font-500 small-2 mb-2 opacity-50">Cisco </span>

							<v-text-field
								:value="currentUser.cisco"
								hide-details
								outlined
								background-color="var(--input-bg)"
								readonly
							></v-text-field>
						</div>
					</v-col>

					<v-col md="6" lg="4">
						<div class="app-input">
							<span class="d-block font-500 small-2 mb-2 opacity-50">{{$t('user-profile.views.tabel-number')}} </span>

							<v-text-field
								:value="currentUser.tab_num"
								hide-details
								outlined
								background-color="var(--input-bg)"
								readonly
							></v-text-field>
						</div>
					</v-col>

				</v-row>
			</div>
		</perfect-scrollbar>
	</div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
	name: "UserProfileDetail",
	computed: {
		...mapGetters({
			currentUser: "auth/getCurrentUser",
		})
	},
	created() {
		this.fetchCurrentUser()
	},
	methods: {
		...mapActions({
			fetchCurrentUser: "auth/fetchCurrentUser"
		}),
	}
}
</script>

<style scoped>
.user-profile-detail-view .ps {
	height: calc(100vh - 400px);
}
</style>
