<template>
	<div class="d-flex align-center justify-center h-100">
		<app-loader v-if="getLoading" content-width :size="58" />
		<template v-else>
			<div class="d-flex mt-5 overflow-hidden w-100 h-100">
				<div class="d-flex flex-column p-relative w-100">
					<div class="d-flex flex-column h-100 bg-4 rounded-20 pa-1 overflow-hidden h-100">
						<perfect-scrollbar class="d-flex flex-column flex-1 h-100">
							<app-table
								bordered
								:table-width="1800"
							>
								<template #tableHeader>
									<th>{{$t('document-flow.views.registration.document-type')}}</th>
									<th>{{$t('document-flow.views.registration.registration-number')}}</th>
									<th>{{$t('document-flow.views.registration.registration-date')}}</th>
									<th>{{$t('document-flow.views.registration.correspondent')}}</th>
									<th>{{$t('document-flow.views.registration.outgoing-number')}}</th>
									<th>{{$t('document-flow.views.registration.outgoing-date')}}</th>
									<th>{{$t('document-flow.views.registration.content')}}</th>
									<th v-if="currentUser.role === 'admin'">{{$t('document-flow.views.registration.action')}}</th>
								</template>
								<template #tableBody>
									<template v-if="appealList.length">
										<template v-for="document in appealList">
											<tr  @click.prevent="canRouteNext('AppealDocumentRegistrationFormShow', document)">
												<td>
													<div class="text-decoration-none text-dark font-500">
														{{ document.doc_type.name }}
													</div>
												</td>
												<td>
													<div class="text-decoration-none text-dark font-500">
														{{ document.register_number }}
													</div>
												</td>
												<td>
													<div class="text-decoration-none text-dark font-500">
														{{ document.register_date | filterCalendarToTime }}
													</div>
												</td>
												<td>
													<v-tooltip top>
														<template v-slot:activator="{ on, attrs }">
                              <span
                                v-bind="attrs"
                                v-on="on"
                              >
                                <span
                                  class="text-decoration-none text-dark font-500 line-truncate"
                                >
                                  {{ document.correspondent && document.correspondent.organization_name }}
                                </span>
                              </span>
														</template>

														<span>{{ document.correspondent && document.correspondent.organization_name }}</span>
													</v-tooltip>
												</td>
												<td>
													<div class="text-decoration-none text-dark font-500">
														{{ document.outgoing_number }}
													</div>
												</td>
												<td>
													<div class="text-decoration-none text-dark font-500">
														{{ document.outgoing_date | filterCalendarToTime }}
													</div>
												</td>
												<td>
													<div class="text-decoration-none text-dark font-500">
														{{ document.content }}
													</div>
												</td>
												<td v-if="currentUser.role === 'admin'">
													<app-button
														@click="deleteRow(document.id)"
														icon
														min-width="40"
														width="40"
														height="40"
														color="var(--primary-4)"
													>
														<trash2-icon size="18" />
													</app-button>
												</td>
											</tr>
										</template>
									</template>
									<template v-else>
										<tr class="table-not-found">
											<td colspan="12">
												<div class="pa-4 text-center">
													<h2 class="font-600">{{$t('document-flow.views.registration.nothing-yet')}}</h2>
												</div>
											</td>
										</tr>
									</template>
								</template>
							</app-table>
						</perfect-scrollbar>

						<div class="d-flex align-center justify-space-between py-2 px-4 border-top">
              <span class="small-2 font-500 text-dark">
<!--                1-10 из 195 позиций-->
              </span>

							<app-pagination @emit:up="paginate" />
						</div>
					</div>
				</div>
			</div>
		</template>
	</div>
</template>

<script>
import SearchUsersBelow from "@/common/components/SearchUsersBelow";
import { MoreVerticalIcon, Trash2Icon } from "vue-feather-icons";
import { mapActions, mapGetters, mapState } from "vuex";

export default {
	name: "index",
	components: {
		MoreVerticalIcon,
		Trash2Icon,
		SearchUsersBelow
	},
	data(){
		return {
			documentTypeSearch: null,
			correspondentSearch: null,
		}
	},
	computed: {
    ...mapState({
      filteredState: state => state.headerFilter.filteredState,
      filterPagination: state => state.headerFilter.pagination,
    }),
    /*
    *
    * */
		...mapGetters({
			getLoading: "documentFlowModule/getIsListLoading",
			appealList: "documentFlowModule/getAppealList",
			docTypeCorrespondList: "documentFlowModule/getDocTypeCorrespondList",
			currentUser: "auth/getCurrentUser",
			getHeaderFilters: "documentFlowModule/getHeaderFilters",
		}),
		docTypeList(){
			return this.docTypeCorrespondList.filter(item => item.type === "doc_type")
		},
		correspondentList(){
			return this.docTypeCorrespondList.filter(item => item.type === "correspondent")
		},
		documentReferenceUrl() {
			return `/docflow/${this.$store.getters['auth/getCurrentUser'].filial}/reference/`
		},
		/**/
		firstDayOfMonth(){
			let month = new Date().getMonth() + 1
			if (month < 10){
				month = "0" + month
			}
			return new Date().getFullYear() + "-" + month + "-01"
		}
	},
	watch:{
		documentTypeSearch(value) {
			this.fetchDocTypeCorrespondList({
				search: value
			})
		},
		correspondentSearch(value) {
			this.fetchDocTypeCorrespondList({
				search: value
			})
		}
	},
	created(){
		// this.fetchAppealList({
		// 	register_start_date: this.firstDayOfMonth
		// });
		this.fetchDocTypeCorrespondList({})
	},
	// beforeDestroy() {
	// 	this.fetchClearHeaderFilter()
	// },
	methods: {
		...mapActions({
			fetchAppealList: "documentFlowModule/fetchAppealList",
			fetchDocTypeCorrespondList: "documentFlowModule/fetchDocTypeCorrespondList",
			fetchDeleteRow: "documentFlowModule/deleteRow",
			fetchClearHeaderFilter: "documentFlowModule/fetchClearHeaderFilter",
		}),
		/**/
		clearFilter() {
			const { form } = this.$refs

			form.reset()
		},
		/**/
		deleteRow(id) {
			if(!confirm(this.$t('document-flow.views.registration.delete-description'))) {
				return
			}
			let payload = {
				apiUrl: `/docflow/${this.$store.getters['auth/getCurrentUser'].filial}/appeals/${id}/`
			}

			this.fetchDeleteRow(payload).then(() => {
				this.$toast.success(this.$t('document-flow.views.registration.deleted'));
				this.fetchAppealList(this.filteredState)
			})
				// .catch((error) => {
				// 	this.$toast.error(error.data.detail)
				// });
		},
		/**/
		paginate(value) {
      let query = {
        ...this.filteredState,
        page: value,
        // register_start_date: this.getHeaderFilters.register_start_date
      }

      this.filterPagination.page = value

      this.$router.replace({
        query: query
      }).catch(() => {})

			this.fetchAppealList({
        ...query
			})
		},
    /*
    *
    * */
    canRouteNext(route, params) {
      // if(this.currentUser.role === 'call_center') {
      //   return false
      // }

      this.$router.push({
        name: route,
        params: { id: params.id }
      })
    }
	}
}
</script>

<style scoped>

</style>
