<script>
import { mapState } from "vuex"
import { SURVEY_COLUMN, SURVEY_FILTER } from "../../../../../common/constants"
import { TableActions } from "../../../../components"
import Template from "../../../../../modules/HR/Hiring/Show/components/Template.vue"
import { required } from "vuelidate/lib/validators"
import { FORM_TYPES } from "../../../../../common/enums/notificationTypes"

export default {
	name: "List",
	components: {Template, TableActions},
	data:() => ({
		SURVEY_COLUMN,
		SURVEY_FILTER,
		dialog: false,
		deleteDialog: false,
		buttonLoading: false,
		deletingButtonLoading: false,
		editingId: null,
		deletingId: null,
		model: {
			name: null
		},
		FORM_TYPES,
		formType: FORM_TYPES.CREATE
	}),
	validations: {
		model: {
			name: { required }
		}
	},
	computed: {
		...mapState({
			blockTableCols: state => state.hrBlocks.blockTableCols,
			blockTableFilters: state => state.hrBlocks.blockTableFilters,
		}),
		tableHeight() {
			return document.documentElement.clientHeight - 250
		},
	},
	methods: {
		onRowClick(item) {

		},
		/** **/
		onEditBlock(item) {
			this.editingId = item.id
			this.model.name = item.name
			this.formType = FORM_TYPES.UPDATE
			this.dialog = true
		},
		/** **/
		onDeleteBlock(item) {
			this.deletingId = item.id
			this.deleteDialog = true
		},
		/** **/
		onCreateClick() {
			this.formType = FORM_TYPES.CREATE
			this.dialog = true
		},
		/** **/
		onSend() {
			this.$v.$touch()
			if (this.$v.$invalid) return

			this.buttonLoading = true
			if (this.formType === FORM_TYPES.CREATE) {
				this.create()
			} else {
				this.update()
			}
		},
		/** **/
		onCancel() {
			this.resetModel()
		},
		create() {
			this.$axios.post(`/survey/question-category/`, this.model)
				.then(async ({ data }) => {
					this.dialog = false
					this.resetModel()
					const { dataTable } = this.$refs
					await dataTable.getDataFromApi(this.$route.query)
				})
				.catch(err => {})
				.finally(() => {
					this.buttonLoading = false
				})
		},
		/** **/
		update() {
			this.$axios.put(`/survey/question-category/${this.editingId}/`, this.model)
				.then(async ({ data }) => {
					this.dialog = false
					this.resetModel()
					const { dataTable } = this.$refs
					await dataTable.getDataFromApi(this.$route.query)
				})
				.catch(err => {})
				.finally(() => {
					this.buttonLoading = false
				})
		},
		/** **/
		onDelete() {
			this.deletingButtonLoading = true
			this.$axios.delete(`/survey/question-category/${this.deletingId}/`)
				.then(async res => {
					this.deleteDialog = false
					const { dataTable } = this.$refs
					await dataTable.getDataFromApi(this.$route.query)
				})
				.catch(err => {})
				.finally(() => {
					this.deletingButtonLoading = false
				})
		},
		/** **/
		resetModel() {
			this.model.name = null
			this.$v.$reset()
		}
	}
}
</script>

<template>
	<div class="survey-question-blocks-list-view">
		<base-data-table
			:api-url="`survey/question-category`"
			:headers-list="blockTableCols"
			:filter-state="blockTableFilters"
			:filter-storage-name="SURVEY_FILTER"
			:config-column-storage-name="SURVEY_COLUMN"
			:height="tableHeight"
			:header-name="$t('blocks')"
			ref="dataTable"
			:unread-show="false"
			@emit:onRowClick="onRowClick"
		>
			<template #toolbar-actions>
				<app-button
					height="40"
					color="primary-500"
					class="rounded-8"
					min-width="90px"
					@click="onCreateClick"
				>
					<template #prepend>
						<base-iconify
							icon="AddPlus"
							class="text-white"
						/>
					</template>
					<span class="small-2 font-500 text-white">{{ $t('chat-messenger.components.create') }}</span>
				</app-button>
			</template>

			<template #created_date="{ value }">
				{{ value | filterDateMonthYear }}
			</template>

			<template #action="{ item }">
				<table-actions
					:actions="['edit', 'delete']"
					@emit:edit="onEditBlock(item)"
					@emit:delete="onDeleteBlock(item)"
				/>
			</template>
		</base-data-table>

		<base-modal
			v-model="dialog"
			persistent
			width="555"
			:label="formType === FORM_TYPES.CREATE ? 'chat-messenger.components.create' : 'control-tasks.tasks.edit'"
			:button-loading="buttonLoading"
			:success-button-label="formType === FORM_TYPES.CREATE ? 'chat-messenger.components.create' : 'control-tasks.tasks.edit'"
			@emit:onSend="onSend"
			@emit:onCancel="onCancel"
		>
			<base-text-field
				v-model="$v.model.name.$model"
				:error="$v.model.name.$error"
				label="components.base.name"
				class="w-100"
			/>
		</base-modal>

		<!-- Delete survey modal -->
		<base-modal
			v-model="deleteDialog"
			ref="baseModal"
			label="delete"
			success-button-label="hr.survey.delete"
			persistent
			width="461"
			:button-loading="deletingButtonLoading"
			@emit:onSend="onDelete"
		>
			<div class="d-flex flex-column align-center justify-center w-100 py-4">
				<div class="d-flex justify-center align-center w-12 h-12 rounded-50 bg-critic-500">
					<base-iconify
						icon="TrashBinTrashBold"
						class="text-white"
						width="24"
						height="24"
					/>
				</div>

				<div v-if="$i18n.locale === 'ru'" class="heading-11 font-600 text-greyscale-900 mt-5 text-center">Вы уверены, что хотите удалить этот блок?</div>
				<div v-else class="heading-11 font-600 text-greyscale-900 mt-5 text-center">Haqiqatan ham bu blokni o'chirmoqchimisiz?</div>

			</div>
		</base-modal>
		<!-- /Delete survey modal -->
	</div>
</template>

<style scoped>

</style>