<template>
  <div class="corespondent-form-create h-100">
    <app-wrapper class="h-100">
      <template #body>
        <div class="d-flex flex-column flex-1 pa-3">
          <div>
            <div class="d-flex align-center w-100 mb-12">
              <span class="heading-9 font-600 text-dark mr-3 d-block">
                {{ formType === 'create' ? $t('create-template') : $t('update-template') }}
              </span>
              <v-divider/>
            </div>

            <v-row>
	            <v-col md="6">
		            <div class="app-input">
			            <span class="d-block font-600 small-2 mb-2">{{ $t('templateTitle') }}</span>

			            <v-text-field
				            v-model="$v.model.title.$model"
				            :error="$v.model.title.$error"
				            outlined
				            hide-details
				            background-color="var(--bg-3)"
			            ></v-text-field>
		            </div>
	            </v-col>

              <v-col md="12">
                <div class="app-input">
                  <span class="d-block font-600 small-2 mb-2">{{ $t('content-template') }}</span>

	                <app-editor
		                v-model="$v.model.description.$model"
		                :error="$v.model.description.$error"
		                style="height: 500px"
	                />
                </div>
              </v-col>
            </v-row>
          </div>

          <div class="mt-auto">
            <app-button
              color="error"
              @click="$router.push({ name: 'CreateTemplate' })"
              class="mr-2"
            >
              <template #prepend>
                <arrow-left-icon size="20" />
              </template>
              {{$t('equipments.views.resolution-content.back')}}
            </app-button>

            <app-button v-if="formType === 'create'" @click="send">
              <template #prepend>
                <plus-circle-icon size="20" />
              </template>
              {{$t('equipments.views.resolution-content.create')}}
            </app-button>

            <app-button v-if="formType === 'update'" @click="update">
              <template #prepend>
                <edit3-icon size="20" />
              </template>
              {{$t('equipments.views.resolution-content.edit')}}
            </app-button>
          </div>
        </div>
      </template>
    </app-wrapper>
  </div>
</template>

<script>
import { ArrowLeftIcon, Edit3Icon, PlusCircleIcon } from "vue-feather-icons"
import { required } from "vuelidate/lib/validators"
import { mapGetters } from "vuex"

export default {
  name: "createForm",
  props: {
    formType: {
      type: String,
      default: "create"
    }
  },
  components: {
    PlusCircleIcon,
    ArrowLeftIcon,
    Edit3Icon
  },
  data() {
    return {
      model: {
				title: "",
        description: "",
	      type: "template"
      }
    }
  },
  validations: {
    model: {
			title: { required },
      description: { required }
    },
  },
  computed: {
    ...mapGetters({
      currentUser: "auth/getCurrentUser",
    })
  },
  created() {
    if(Number(this.$route.params.id)) {
      this.getOne()
    }
  },
  methods: {
    send() {
      this.$v.$touch();

      if (this.$v.$invalid) {
        return;
      }

      this.$http.post(`/action/short-descriptions/`, this.model)
      .then(({ data }) => {
        this.$toast.success(this.$t('equipments.views.resolution-content.added'))

        this.$router.push({
          name: "CreateTemplate"
        })
      })
    },
    /*
    *
    * */
    update() {
      this.$http.put(`/action/short-descriptions/${this.$route.params.id}/`, this.model)
      .then(() => {
        this.$toast.success(this.$t('equipments.views.resolution-content.edited'))

        this.$router.push({
          name: "CreateTemplate"
        })
      })
      .catch(() => {
        this.$toast.error(this.$t('equipments.views.resolution-content.edit-error'))
      })
    },
    /*
    *
    * */
    getOne() {
      this.$http.get(`/action/short-descriptions/${this.$route.params.id}/`, {
				params: {
					type: "template"
				}
      })
      .then(({ data }) => {
        this.model = data
      })
    }
  }
}
</script>
