<template>
  <div
    class="add-corespondent-view d-flex flex-column h-100"
  >
    <app-wrapper class="mb-4">
      <template #body>
        <v-row align="center" class="pa-1">
          <v-col md="2" class="py-0 pl-0">
            <h3 class="line-base">{{ $t('create-template') }}</h3>
          </v-col>

          <v-col md="3" class="py-0">
            <div class="app-input">
              <v-text-field
                v-model="filterSearch"
                hide-details
                outlined
                dense
                clearable
                :placeholder="$t('equipments.views.resolution-content.search')"
                background-color="var(--input-bg)"
                @input="search"
              >
                <template #prepend-inner>
                  <search-icon class="mr-1 d-block" size="20" color="var(--text-4)"/>
                </template>
              </v-text-field>
            </div>
          </v-col>

          <v-spacer />

          <app-button :to="{ name: 'CreateTemplateCreate' }">
            <template #prepend>
              <plus-circle-icon size="20" />
            </template>
            {{$t('equipments.views.resolution-content.add')}}

          </app-button>
        </v-row>
      </template>
    </app-wrapper>

    <template>
      <div class="d-flex flex-column h-100 bg-4 rounded-20 pa-1 overflow-hidden">
        <div class="d-flex flex-column flex-1 h-100 overflow-hidden">
          <perfect-scrollbar class="d-flex flex-column flex-1 h-100">
            <app-table>
              <template #tableHeader>
                <th width="450">
                  <span>{{$t('equipments.views.resolution-content.resolution-content')}}</span>
                </th>
                <th class="text-center" width="75">
                  <span>{{$t('equipments.views.resolution-content.action')}}</span>
                </th>
              </template>

              <template #tableBody>
                <template v-if="shortDescriptionList.length">
                  <tr v-for="(item, index) in shortDescriptionList" :key="index">
                    <td width="800">
                      <div class="line-truncate-3">
	                      <span class="font-600 reset-space" v-html="item.title ? item.title : item.description"></span>
                      </div>
                    </td>
                    <td class="text-center">
                      <app-button
                        :to="{ name: 'CreateTemplateUpdate', params: { id: item.id } }"
                        icon
                        min-width="40"
                        width="40"
                        height="40"
                      >
                        <edit3-icon size="18"/>
                      </app-button>

<!--                        <app-button-->
<!--                          @click="deleteItem(item.id)"-->
<!--                          color="error"-->
<!--                          icon-->
<!--                          min-width="40"-->
<!--                          width="40"-->
<!--                          height="40"-->
<!--                          class="ml-2"-->
<!--                        >-->
<!--                          <trash2-icon size="18"/>-->
<!--                        </app-button>-->
                    </td>
                  </tr>
                </template>

                <template v-else>
                  <tr>
                    <td colspan="6">
                      <h2 class="font-600 text-center">{{$t('equipments.views.resolution-content.not-found')}}</h2>
                    </td>
                  </tr>
                </template>
              </template>
            </app-table>
          </perfect-scrollbar>
        </div>
      </div>
    </template>

    <app-pagination @emit:up="paginate" class="mt-3" />
  </div>
</template>

<script>
import { debounce } from "lodash/function";
import { Edit3Icon, PlusCircleIcon, SearchIcon, Trash2Icon, XIcon } from "vue-feather-icons";
import { mapActions, mapGetters, mapState } from "vuex";

export default {
  name: "Home",
  components: {
    SearchIcon,
    Edit3Icon,
    XIcon,
    PlusCircleIcon,
    Trash2Icon
  },
  data() {
    return {
      filterSearch: ""
    }
  },
  computed: {
		...mapState({
			shortDescriptionList: state => state.equipmentModule.shortDescriptionList,
		}),
	  /*
	  *
	  * */
    ...mapGetters({
      currentUser: "auth/getCurrentUser",
    })
  },
  created() {
    this.fetchGetShortDescriptions({ type: "template" })
  },
  methods: {
    ...mapActions({
	    fetchGetShortDescriptions: "equipmentModule/fetchGetShortDescriptions",
    }),
    /*
    *
    * */
    deleteItem(id) {
      if(!confirm(this.$t('equipments.views.resolution-content.delete-description'))) {
        return
      }

      this.$http.delete(`/action/correspondent/${id}/`)
      .then(() => {
        this.fetchGetShortDescriptions({ type: "template" })

        this.$toast.success(this.$t('equipments.views.resolution-content.deleted'))
      })
    },
    /*
    *
    * */
    /*
    *
    * */
    search: debounce(function(api) {
      this.fetchGetShortDescriptions({
        search: this.filterSearch,
	      type: "template"
      })
    }, 500),
    /*
    *
    * */
    paginate(value) {
      this.fetchGetShortDescriptions({
        page: value,
	      type: "template"
      })
    }
  }
}
</script>
