<template>
  <div class="export-view p-relative">
    <app-wrapper>
      <template #body>
        <!--  dynamically load components  -->
        <template v-if="exportTypeSelectedTemplate">
          <component
            :is="exportTypeSelectedTemplate"
            @emit:send="exportToExcel"
            @emit:clear:form="clearForm"
          >
            <template #default>
              <div class="app-input">
                <span class="d-block font-600 small-2 mb-2 text-7">Тип экспорта</span>

                <v-select
                  v-model="exportTypeSelected"
                  :items="exportTypeList"
                  item-text="title"
                  return-object
                  outlined
                  hide-details
                  background-color="var(--input-bg)"
                >
                  <template #append>
                    <v-icon>mdi-chevron-down</v-icon>
                  </template>
                </v-select>
              </div>
            </template>
          </component>
        </template>
        <!--  /dynamically load components  -->

        <app-loader v-if="responseLoading" content-width />
      </template>
    </app-wrapper>
  </div>
</template>

<script>
import AppLoader from "@/common/components/base/AppLoader"
import { lazyLoadComponent } from "@/common/helpers"

export default {
	name: "index",
  data() {
		return {
			exportTypeSelected: {
				title: "Регистрационный",
				value: "default",
				component: "Default"
			},
      exportTypeSelectedTemplate: null,
			exportTypeList: [
				{
					title: "Регистрационный",
          value: "default",
          component: "Default"
        },
				{
					title: "Поручение",
					value: "assignment",
					component: "Assignment"
				},
        {
          title: "Протокол правления",
          value: "protocol",
          component: "Protocol"
        }
      ],
      responseLoading: false
    }
  },
  watch: {
	  exportTypeSelected: {
			handler(val) {
				if(val) {
					this.exportTypeSelectedTemplate = lazyLoadComponent({
						componentFactory: () => import(`./components/${ val.component }`),
						loading: AppLoader
					})
				}
      },
		  immediate: true
    }
  },
  methods: {
		exportToExcel({ form, url }) {
			this.responseLoading = true

			this.$axios.get(url, { responseType: "blob", params: form })
			.then(response => {
				const url = window.URL.createObjectURL(new Blob([response?.data]));
				const fileName = `Отчеты-${new Date()
				.toISOString()
				.replace(/T/, "-")
				.replace(/:/, "-")
				.slice(0, 16)}.xls`;

				const link = document.createElement("a");
				link.href = url;
				link.setAttribute("download", fileName);
				document.body.appendChild(link);
				link.click();
				document.body.removeChild(link);
			})
			.finally(() => {
				this.responseLoading = false
			})
    },
    /*
    *
    * */
    clearForm(form) {
	    for(let key in form) {
		    form[key] = null
	    }
    }
  }
}
</script>
