<template>
	<div class="act-preview-view">
		<v-dialog
			content-class="shadow-5"
			v-model="actPreviewModal"
			max-width="800"
			min-width="800"
			@click:outside="closeActPreviewModal"
		>
			<div class="bg-4 pa-2">
				<v-text-field
					v-model="$v.model.register_number.$model"
					:error="$v.model.register_number.$error"
					:placeholder="$t('equipments.views.components.registration-number')"
					background-color="var(--input-bg)"
					outlined
					dense
					hide-details
				/>
				<div class="d-flex align-center justify-end">
					<app-button
						@click="closeActPreviewModal"
						icon
						color="error"
						rounded
						width="45"
						min-width="45"
						height="45"
					>
						<x-icon/>
					</app-button>
				</div>
				<div class="act-preview-scrollbar">
					<perfect-scrollbar class="d-flex flex-column flex-1 h-100">
						<div class="px-16 py-8">
							<div class="d-flex w-100 justify-end">
								<img src="/img/logo_asaka_4.png" alt="Logo Asakabank" class="mb-5">
							</div>
							<div class="d-flex w-100 justify-center">
								<span class="font-600 text-center size-13">TEXNIK USKUNALARNI <br> TOPSHIRISH - QABUL QILISH <br><span class="font-400">DALOLATNOMASI</span></span>
							</div>
							<div class="d-flex w-100 justify-space-between mt-4">
								<span class="size-13 font-600">{{ new Date() | filterDateMonthYear}} yil</span>
								<span class="size-13 font-600">{{ region && region.name }}</span>
							</div>
							<div class="mt-4">
								<span class="font-500 size-13 d-inline-block text-justify text-indent-30">Bizlar, quyida imzo chekuvchilar, {{ recipient.top_level_dept_name }}, {{ recipient.position }}
									<span class="font-700">{{ recipient.full_name }}</span> ва {{ currentUser.top_level_dept_name }}
									{{ currentUser.dep_name }} {{ currentUser.position }}
									<span class="font-700">{{ currentUser.last_name }} {{ currentUser.first_name }} {{ currentUser.father_name }}</span> ish jarayonida foydalanish uchun berilgan quyidagi texnik
									uskunalarni topshirish va qabul qilish maqsadida tuzdik:</span>
							</div>

							<app-table class="mt-4">
								<template #tableHeader class="mt-4">
									<th class="text-center">№</th>
									<th class="text-center">Nomi</th>
									<th class="text-center">Inv. №</th>
								</template>
								<template #tableBody>
									<tr v-for="(item, index) in techniquesList" :key="index">
										<td class="text-center">{{ index + 1 }}</td>
										<td class="text-center">{{ item.name }}</td>
										<td class="text-center">{{ item.inv_num }}</td>
									</tr>
								</template>
							</app-table>
							<div class="my-4">
								<span class="font-500 size-13 d-inline-block text-justify text-indent-30">
									{{ currentUser.top_level_dept_name }}
									{{ currentUser.dep_name }} {{ currentUser.position }}
									<span class="font-700">{{ currentUser.last_name }} {{ currentUser.first_name }} {{ currentUser.father_name }}</span>
									yuqoridagi jadvalda keltirilgan asosiy vositalarni
									<span class="font-700">mexanik shikastlanishsiz/shikastsiz, ishchi holatda</span> topshirdi.
								</span>
								<span class="font-500 size-13 d-inline-block text-justify text-indent-30">
									{{ recipient.top_level_dept_name }}, {{ recipient.position }}
									<span class="font-700">{{ recipient.full_name }}</span>
									Yuqoridagi jadvalda keltirilgan asosiy vositani qabul qildi. Dalolatnoma elektron shaklda tuzildi. *
								</span>
							</div>
							<v-row>
								<v-col md="6" class="text-center">
									<span class="font-700 size-13 d-inline-block">Topshirdi:</span>
									<span class="font-500 size-13 d-inline-block">{{ currentUser.top_level_dept_name }} {{ currentUser.dep_name }} {{ currentUser.position }}</span>
									<span class="font-700 size-13 d-inline-block">{{ currentUser.last_name }} {{ currentUser.first_name }} {{ currentUser.father_name }}</span>
								</v-col>
								<v-col md="6" class="text-center">
									<span class="font-700 size-13 d-inline-block">Qabul qildi:</span>
									<span class="font-500 size-13 d-inline-block">{{ recipient.top_level_dept_name }}, {{ recipient.position }}</span>
									<span class="font-700 size-13 d-inline-block">{{ recipient.full_name }}</span>
								</v-col>
							</v-row>
							<v-row>
								<v-col md="6" class="text-center">
									<span>QR</span>
								</v-col>
								<v-col md="6" class="text-center">
									<span>QR</span>
								</v-col>
							</v-row>
							<div class="mt-4">
								<span class="font-700 text-justify size-13 d-inline-block">* Barcha qabul qilinayotgan texnikalarga javobgar ekanligimdan ogohlantirildim. Texnikalardan noto‘g‘ri ekspluatatsiya qilish, foydalanishga va QR code/kod  butunligi uchun javobgarman. </span>
							</div>
						</div>
					</perfect-scrollbar>
				</div>
				<div class="d-flex mt-4 justify-center">
					<app-button
						@click="send"
					>
						<template #prepend>
							<send-icon size="20" />
						</template>

						<template #default>
							{{$t('equipments.views.components.send')}}
						</template>
					</app-button>
				</div>
			</div>
		</v-dialog>
	</div>
</template>

<script>
import { SendIcon, XIcon } from "vue-feather-icons";
import { required } from "vuelidate/lib/validators";
import { mapGetters } from "vuex";

export default {
	name: "ActPreview",
	components: {
		XIcon,
		SendIcon
	},
	data() {
		return {
			region: null,
			actPreviewModal: false,
			recipient: {},
			approver: {},
			techniquesList: [],
			model: {
				type: 'act',
				text: "",
				journal_id: 15,
				agreed_by: [],
				signed_by: [],
				receiver_type: 'act',
				register_number: null
			}
		}
	},
	validations: {
		model: {
			register_number: { required }
		}
	},
	computed: {
		...mapGetters({
			currentUser: "auth/getCurrentUser",
		})
	},
	methods: {
		closeActPreviewModal() {
			this.actPreviewModal = !this.actPreviewModal;
		},
		/**/
		send(){
			this.$v.$touch();

			if (this.$v.$invalid) {
				return;
			}
			let techniquesListString = JSON.stringify(this.techniquesList);

			let model = {
				...this.model,
				text: techniquesListString,
				component: this.approver && this.approver.id ? { approver: this.approver.id, type: "approver" } : null,
				agreed_by: this.approver && this.approver.id ? [{ user: this.recipient.id }, { user: this.approver.id }] : [{ user: this.recipient.id }],
				dept_code: this.currentUser.top_level_dept
			}

			this.$axios.post(`/docflow/${this.currentUser.filial}/compose/`, model)
			.then(({ data }) => {
				this.$toast.success("Akt yuborildi!");
				this.closeActPreviewModal();
				setTimeout(() => {
					window.location.reload();
				}, 1000);
			})
			.catch(() => {
				this.$toast.error("Yuborishda xatolik!");
			})
		},
		/** **/
		getFilialRegionName() {
			this.$axios.get(`/filials/${this.currentUser.filial}/`)
				.then(({ data }) => {
					this.region = data;
				})
		}
	}
}
</script>

<style>
.act-preview-scrollbar .ps{
	max-height: 700px;
}
.act-preview-scrollbar table > thead > tr > th, .act-preview-scrollbar table > tbody > tr > td{
	height: 40px!important;
	font-size: 13px!important;
}
</style>
