<template>
	<div class="user-equipment-dialog">
		<v-dialog
			content-class="shadow-5"
			v-model="equipmentModal"
			max-width="1600"
			min-width="1000"
			@click:outside="closeFilterModal"
		>
			<div class="bg-4 pa-9">
				<div class="d-flex align-center justify-space-between">
					<div class="d-flex align-center">
						<h6 class="heading-10 font-500 opacity-50">{{ $t('equipments.views.components.all-equipments') }}</h6>
						<v-icon>mdi-chevron-right</v-icon>
						<h6 class="heading-10 font-500">{{ user.full_name }}</h6>
					</div>
					<app-button
						@click="closeFilterModal"
						icon
						color="error"
						rounded
						width="45"
						min-width="45"
						height="45"
					>
						<x-icon/>
					</app-button>
				</div>

				<div class="mt-10 equipment-scrollbar">
					<template v-if="isEquipmentsLoading">
						<app-loader component-based></app-loader>
					</template>
					<template v-else>
						<perfect-scrollbar class="d-flex flex-column flex-1 h-100">
							<app-table>
								<template #tableHeader class="mt-4">
									<th width="80">№</th>
									<th>{{$t('equipments.views.components.name')}}</th>
									<th>ID</th>
									<th>{{$t('equipments.views.components.inventory')}}</th>
									<th>{{$t('dateAccepted')}}</th>
									<th>
										<div class="w-100 d-flex justify-center">
											{{$t('equipments.views.components.download-qr-code')}}
										</div>
									</th>
									<th>
										{{$t('equipments.views.components.akt')}}
									</th>
								</template>
								<template #tableBody>

									<tr v-for="(item, index) in equipmentList" :key=item.card_id>
										<td width="50">{{ index + 1 }}</td>
										<td>{{ item.name }}</td>
										<td>{{ item.card_id }}</td>
										<td>{{ item.inv_num }}</td>
										<td>{{ item.date_oper_beg | filterDateMonthYear }}</td>
										<td>
											<div class="w-100 d-flex justify-center">
												<v-icon
													@click="downloadQR(item)"
												>
													mdi-download
												</v-icon>
											</div>
										</td>
										<td>
											<v-checkbox
												v-model="selectedTechniques"
												:value="item"
											></v-checkbox>
										</td>
									</tr>
								</template>
							</app-table>
						</perfect-scrollbar>
					</template>
				</div>
				<div class="d-flex mt-8 justify-end">
					<app-button
						@click="give"
						min-width="43"
						color="primary"
					>
						<template #prepend>
							<v-icon size="18">mdi-arrow-up</v-icon>
						</template>
						<template>
							{{$t('equipments.views.components.pass')}}
						</template>
					</app-button>
<!--					<app-button-->
<!--						@click="receive"-->
<!--						min-width="43"-->
<!--						color="primary"-->
<!--						class="ml-2"-->
<!--					>-->
<!--						<template #prepend>-->
<!--							<v-icon size="18">mdi-arrow-down</v-icon>-->
<!--						</template>-->
<!--						<template>-->
<!--							{{$t('equipments.views.components.take')}}-->
<!--						</template>-->
<!--					</app-button>-->
				</div>
			</div>
		</v-dialog>

		<!-- PDF Generator -->
		<div class="d-none qr-dowload" id="qr-download">
			<qrcode-vue :value="downloadModel.qr_text" size="350" level="L"/>
			<div class="qr-dowload-inner">
				<span class="span1">Инв №: {{ this.downloadModel.invoice_num }}</span>
				<span class="span1">{{ this.downloadModel.name }}</span>
				<span class="span2">{{ this.user.full_name }}</span>
				<span class="span2">{{ this.user.top_level_dept }}</span>
				<span class="span2">{{ this.downloadModel.date | filterDateMonthYear }}</span>
			</div>
		</div>

		<act-preview ref="actPreview" />
	</div>
</template>

<script>
import html2pdf from "html2pdf.js/src";
import QrcodeVue from 'qrcode.vue';
import { XIcon } from "vue-feather-icons";
import { mapGetters } from "vuex";
import ActPreview from "./ActPreview";

export default {
	name: "UserEquipmentDialog",
	components: {
		ActPreview,
		XIcon,
		QrcodeVue
	},
	data() {
		return {
			equipmentModal: false,
			user: {},
			downloadModel: {
				invoice_num: "",
				name: "",
				date: "",
				qr_text: ""
			},
			selectedTechniques: []
		}
	},
	mounted() {
		setTimeout(() => {
			console.log(this.user)
		}, 2000)
	},
	computed: {
		...mapGetters({
			equipmentList: "equipmentModule/getEquipmentsList",
			isEquipmentsLoading: "equipmentModule/getIsEquipmentsLoading",
		})
	},
	methods: {
		closeFilterModal() {
			this.equipmentModal = false;
			this.selectedTechniques = []
		},
		/**/
		downloadQR(value) {
			this.downloadModel.invoice_num = value.inv_num;
			this.downloadModel.name = value.name;
			this.downloadModel.date = value.date_oper_beg;
			this.downloadModel.qr_text = value.qr_text;

			setTimeout(() => {
				const element = document.getElementById('qr-download');
				const opt = {
					margin: [5, 5, 0, 0],
					filename: this.user.full_name + ' ' + this.downloadModel.name,
					image: {type: 'jpeg', quality: 0.98},
					html2canvas: {scale: 2, letterRendering: true},
					jsPDF: {unit: 'mm', format: 'letter', orientation: 'landscape'},
					pagebreak: {mode: 'avoid-all'},
				};
				html2pdf()
					.set(opt)
					.from(element)
					// .toPdf()
					// .get('pdf')
					// .then((doc) => {
					// 	let totalPages = doc.internal.getNumberOfPages();
					// 	for (let i = 1; i <= totalPages; i++){
					// 		doc.setPage(i);
					// 	}
					// })
					.save();
			}, 1000)
		},
		/**/
		give() {
			const { actPreview } = this.$refs;
			actPreview.actPreviewModal = true;
			actPreview.recipient = this.user;
			actPreview.techniquesList = this.selectedTechniques;
			actPreview.getFilialRegionName();
		},
		/**/
		receive(){

		},
	}
}
</script>

<style scoped>
.app-table tbody tr td {
	height: 48px !important;
}

.equipment-scrollbar .ps {
	max-height: 500px;
}

.app-table thead th {
	position: relative !important;
	z-index: 0 !important;
}

.qr-dowload {
	height: 100% !important;
	width: 100%;
	display: flex;
	align-items: center;
	padding: 100px 8px;
}

.qr-dowload-inner {
	display: flex;
	flex-direction: column;
	margin-left: 30px;
}

.span1 {
	font-weight: bold;
	font-size: 50px;
}

.span2 {
	font-size: 50px;
}
</style>
