<script>
import { mapActions, mapState } from "vuex"
import { required } from "vuelidate/lib/validators"
import { FORM_TYPES } from "../../../../../common/enums/notificationTypes"
import { validateNumber, validateOnPaste } from "../../../../../common/helpers"

export default {
	name: "QuestionsForm",
	data: () => ({
		deleteDialog: false,
		deleteButtonLoading: false,
		deletingQuestionId: null,
		questionTypeSelected: 'radio',
		questionTypeList: [
			{
				label: 'Единый выбор',
				value: 'radio'
			},
			{
				label: 'Текстовый ответ',
				value: 'text'
			},
			{
				label: 'Микс',
				value: 'checkbox'
			}
		]
	}),
	computed: {
		...mapState({
			questions: state => state.hrSurvey.questions,
			questionsDetailLoading: state => state.hrSurvey.questionsDetailLoading
		})
	},
	validations() {
		return {
			questions: {
				$each: {
					title: {required},
					options: {
						$each: {
							name: {required}
						},
					},
				},
			},
		};
	},
	methods: {
		validateOnPaste,
		validateNumber,
		...mapActions({
			actionAddQuestionObject: 'hrSurvey/actionAddQuestionObject',
			actionDeleteQuestionObject: 'hrSurvey/actionDeleteQuestionObject',
			actionAddQuestionOptionObject: 'hrSurvey/actionAddQuestionOptionObject',
			actionDeleteQuestionOptionObject: 'hrSurvey/actionDeleteQuestionOptionObject',
			actionOnInputTypeChange: 'hrSurvey/actionOnInputTypeChange',
			actionGetQuestionsForUpdate: 'hrSurvey/actionGetQuestionsForUpdate',
			actionCreateUpdateQuestion: 'hrSurvey/actionCreateUpdateQuestion'
		}),
		/** **/
		validate() {
			this.$v.$touch()
			return !this.$v.$invalid
		},
		/** **/
		async manageQuestion(qIndex, questionId) {
			try {
				await this.actionCreateUpdateQuestion({ qIndex, questionId, surveyId: this.$route.params.id })
				this.$toast.success(questionId ? `${qIndex + 1}-savol yangilandi!` : 'Yangi savol qo\'shildi!')
				if (!questionId) {
					await this.actionGetQuestionsForUpdate(this.$route.params.id)
				}
			} catch (err) {
				await this.actionGetQuestionsForUpdate(this.$route.params.id)
			}
		},
		/** **/
		deleteQuestion(qIndex, questionId) {
			if (this.$route.params.id && questionId) {
				this.deletingQuestionId = questionId
				this.deleteDialog = true
			} else {
				this.actionDeleteQuestionObject({ qIndex, formType: FORM_TYPES.CREATE, questionId: null })
			}
		},
		/** **/
		async onDelete() {
			this.deleteButtonLoading = true
			await this.actionDeleteQuestionObject({ qIndex: null, formType: FORM_TYPES.UPDATE, questionId: this.deletingQuestionId })
			this.deleteButtonLoading = false
			this.deleteDialog = false
			this.$toast.success("Savol o'chirildi!")
			await this.actionGetQuestionsForUpdate(this.$route.params.id)
		}
	},
	async mounted() {
		if (this.$route.params.id) {
			await this.actionGetQuestionsForUpdate(this.$route.params.id)
		}
	}
}
</script>

<template>
	<div class="survey-questions-form w-100">
		<template v-if="questionsDetailLoading">
			<app-loader component-based/>
		</template>

		<template v-else>
			<template v-for="(question, qIndex) in questions">
				<div
					:key="qIndex"
					class="d-flex gap-x-3 px-6 py-4 bg-white rounded-16 mb-2"
				>
					<div
						class="w-7 h-7 d-flex justify-center align-center rounded-50 bg-primary-500 small-1 font-600 text-white select-none">
						{{ qIndex + 1 }}
					</div>
					<div class="d-flex flex-column gap-y-4 flex-1">
						<base-text-field
							v-model="$v.questions.$each[qIndex].title.$model"
							:error="$v.questions.$each[qIndex].title.$error"
							label="question"
							required
							class="w-100"
						/>

						<base-auto-complete
							v-model="question.block"
							api-list-url="/survey/question-category/"
							:api-params="{ page_size: 100 }"
							item-text="name"
							list-type="list"
							label="blocks"
							return-object
							cache-items
							:placeholder="$t('blocks')"
						/>

						<base-radio-group
							v-model="question.input_type"
							:items="questionTypeList"
							label="directions"
							row
							color="primary"
							@emit:change="(type) => { actionOnInputTypeChange({ qIndex, type: type.value }) }"
						/>

						<div
							v-if="['radio', 'checkbox'].includes(question.input_type)"
							class="d-flex flex-column gap-y-2"
						>
							<span class="small-2 font-500 text-greyscale-700 d-block">Ответы</span>
							<div
								v-for="(option, oIndex) in question.options"
								class="d-flex gap-x-3 align-center"
							>
								<base-text-field
									v-model="$v.questions.$each[qIndex].options.$each[oIndex].name.$model"
									:error="$v.questions.$each[qIndex].options.$each[oIndex].name.$error"
									required
									class="w-100"
								/>

								<base-text-field
									v-if="['radio'].includes(question.input_type)"
									v-model="questions[qIndex].options[oIndex].rate"
									required
									class="w-100"
									:placeholder="$t('enter-rating')"
									@keypress="validateNumber"
									@paste="validateOnPaste"
								/>

								<div
									v-if="oIndex > 0"
									class="d-flex justify-center align-center w-10 h-10 rounded-12 bg-greyscale-100 border-all pointer"
									@click="actionDeleteQuestionOptionObject({ qIndex, oIndex })"
								>
									<base-iconify
										icon="TrashBinTrashLinear"
										class="text-critic-500"
									/>
								</div>
							</div>

							<div
								class="d-flex align-center small-2 text-primary-500 font-600 pointer"
								@click="actionAddQuestionOptionObject(qIndex)"
							>
								<base-iconify
									icon="AddPlus"
									class="text-primary-500"
								/>
								<span>Добавить</span>
							</div>

							<base-checkbox
								v-if="['radio'].includes(question.input_type)"
								v-model="question.__text_answer"
								:label="$t('text-answer')"
							/>
						</div>

						<div v-if="$route.params.id" class="d-flex justify-end">
							<app-button
								height="32"
								class="rounded-8 border-all"
								ref="editButton"
								:loading="question.__loading"
								@click="manageQuestion(qIndex, question.id || null)"
							>
								<div class="small-2 font-500 text-white">{{ question.id ? $t('equipments.views.add-correspondent.edit') : $t('equipments.views.add-correspondent.create') }}</div>
							</app-button>
						</div>
					</div>

					<div
						v-if="qIndex > 0"
						class="pointer"
						@click="deleteQuestion(qIndex, question.id || null)"
					>
						<base-iconify
							icon="TrashBinTrashLinear"
							class="text-critic-500"
						/>
					</div>
				</div>
			</template>

			<app-button
				height="40"
				color="primary-500"
				class="rounded-8 mt-2"
				min-width="90px"
				@click="actionAddQuestionObject"
			>
				<template #prepend>
					<base-iconify
						icon="AddPlus"
						class="text-white"
					/>
				</template>
				<span class="small-2 font-500 text-white">{{ $t('create-question') }}</span>
			</app-button>
		</template>

		<!-- Delete question modal -->
		<base-modal
			v-model="deleteDialog"
			ref="baseModal"
			label="delete"
			success-button-label="hr.survey.delete"
			persistent
			width="461"
			:button-loading="deleteButtonLoading"
			@emit:onSend="onDelete"
		>
			<div class="d-flex flex-column align-center justify-center w-100 py-4">
				<div class="d-flex justify-center align-center w-12 h-12 rounded-50 bg-critic-500">
					<base-iconify
						icon="TrashBinTrashBold"
						class="text-white"
						width="24"
						height="24"
					/>
				</div>

				<div v-if="$i18n.locale === 'ru'" class="heading-11 font-600 text-greyscale-900 mt-5 text-center">Вы уверены, что хотите удалить этот вопрос?</div>
				<div v-else class="heading-11 font-600 text-greyscale-900 mt-5 text-center">Haqiqatan ham bu savolni o'chirmoqchimisiz?</div>

			</div>
		</base-modal>
		<!-- /Delete question modal -->
	</div>
</template>

<style scoped>

</style>