<script>
import { mapActions, mapState } from "vuex";
import { required } from "vuelidate/lib/validators"
import Template from "../../../../../modules/HR/Hiring/Show/components/Template.vue";

export default {
	name: "SurveyForm",
	components: {Template},
	data: () => ({
		testDate: null,
		surveyTypeList: [
			{
				id: 1,
				label: 'open',
				value: 'open',
				icon: 'UserSpeakBold',
				selected: true
			},
			{
				id: 2,
				label: 'anonymous',
				value: 'anonymous',
				icon: 'UserBlockBold',
				selected: false
			}
		],
		forWhomList: [
			{
				id: 1,
				label: 'for-all-employees',
				value: 'for_all',
				icon: 'UserGroupTwoRoundedBold',
				selected: true
			},
			{
				id: 2,
				label: 'for-selected-employees',
				value: 'for_some_departments',
				icon: 'UserCheckRoundedBold',
				selected: false
			}
		]
	}),
	computed: {
		...mapState({
			surveyModel: state => state.hrSurvey.surveyModel,
			surveyDetailLoading: state => state.hrSurvey.surveyDetailLoading
		}),
		forWhomSelected() {
			return this.forWhomList.find(item => item.selected).value
		},
		isForSomeDepartments() {
			return this.forWhomList.find(i => i.value === 'for_some_departments').selected
		}
	},
	validations() {
		return {
			surveyModel: {
				title: { required },
				category: { required },
				description: { required },
				start_date: { required },
				end_date: { required },
				__departments: {
					required: this.isForSomeDepartments
				},
				__branches: {
					required: this.isForSomeDepartments
				}
			},
		};
	},
	methods: {
		...mapActions({
			actionGetSurveyForUpdate: "hrSurvey/actionGetSurveyForUpdate"
		}),
		onSurveyTypeChange(item) {
			this.surveyTypeList.forEach(s => s.selected = s.id === item.id)
			this.surveyModel.type = item.value

			if (item.value === 'anonymous') {
				this.surveyModel.for_whom = 'for_all'
				this.forWhomList.forEach(f => f.selected = f.id === 1)
				this.surveyModel.__departments = this.surveyModel.__branches = this.surveyModel.__users = []
			}
		},
		/** **/
		onForWhomChange(item) {
			this.forWhomList.forEach(s => s.selected = s.id === item.id)
			this.surveyModel.for_whom = item.value
			this.surveyModel.__departments = this.surveyModel.__branches = this.surveyModel.__users = []
		},
		/** **/
		validate() {
			this.$v.$touch()
			if (this.$v.$invalid) {
				return false
			}

			if (this.forWhomSelected === 'for_some_departments' && !(this.surveyModel?.__departments?.length || this.surveyModel?.__branches?.length || this.surveyModel?.__users?.length)) {
				this.$toast.warning('Filial/departament yoki xodim tanlang!')
				return false
			} else {
				return true
			}
		},
		init() {
			this.surveyTypeList.forEach(s => s.selected = s.value === this.surveyModel.type)
			this.forWhomList.forEach(f => f.selected = f.value === this.surveyModel.for_whom)
		}
	},
	async mounted() {
		if (this.$route.params.id) {
			await this.actionGetSurveyForUpdate(this.$route.params.id)
		}
		this.init()
	}
}
</script>

<template>
	<div class="survey-form-component px-12 py-4 bg-white rounded-16 w-100">
		<template v-if="surveyDetailLoading">
			<app-loader component-based />
		</template>

		<template v-else>
			<v-text-field
				v-model="$v.surveyModel.title.$model"
				:error="$v.surveyModel.title.$error"
				placeholder="Введите наименования опросника"
				hide-details
				class="large-input"
			/>

			<base-text-area
				v-model="$v.surveyModel.description.$model"
				:error="$v.surveyModel.description.$error"
				label="survey-definition"
				class="mt-6"
			/>

			<v-row class="mt-2">
				<v-col md="12">
					<base-auto-complete
						v-model="$v.surveyModel.category.$model"
						:error="$v.surveyModel.category.$error"
						api-list-url="/survey/category/"
						:api-params="{ page_size: 100 }"
						item-text="name"
						list-type="list"
						label="category"
						return-object
						required
						cache-items
						:placeholder="$t('category')"
					/>
				</v-col>

				<v-col md="6">
					<base-date-picker
						v-model="$v.surveyModel.start_date.$model"
						:error="$v.surveyModel.start_date.$error"
						label="date-from"
						clearable
					/>
				</v-col>

				<v-col md="6">
					<base-date-picker
						v-model="$v.surveyModel.end_date.$model"
						:error="$v.surveyModel.end_date.$error"
						label="date-to"
						clearable
					/>
				</v-col>

				<template v-if="$route.params.id">
					<v-col md="6">
						<div class="d-flex align-center justify-space-between gap-x-3">
						<span
							class="small-2 font-600"
							:class="surveyModel.is_active ? 'text-greyscale-800' : 'text-greyscale-600'"
						>
							{{ surveyModel.is_active ? $t('bank-structure.active') : $t('inactive') }}
						</span>

							<base-switch
								v-model="surveyModel.is_active"
							/>
						</div>
					</v-col>

					<v-col md="6">
						<div class="d-flex align-center justify-space-between gap-x-3">
						<span
							class="small-2 font-600"
							:class="surveyModel.is_published ? 'text-greyscale-800' : 'text-greyscale-600'"
						>
							{{ surveyModel.is_published ? $t('published') : $t('not-published') }}
						</span>

							<base-switch
								v-model="surveyModel.is_published"
							/>
						</div>
					</v-col>
				</template>
			</v-row>


			<v-row class="mt-6">
				<v-col md="6">
					<span class="small-2 font-500 text-greyscale-700 d-block mb-2">Тип опроса</span>
					<div class="d-flex gap-x-3">
						<div
							v-for="item in surveyTypeList"
							:key="item.id"
							class="survey-type-card d-flex flex-column justify-space-between rounded-16 bg-greyscale-100 w-100 pa-4 pointer"
							:class="{ 'card-selected' : item.selected }"
							style="height: 120px"
							@click="onSurveyTypeChange(item)"
						>
							<div
								class="w-8 h-8 rounded-50 bg-white card-shadow d-flex justify-center align-center"
								:class="item.selected ? 'bg-info-500' : 'bg-white'"
							>
								<base-iconify
									:icon="item.icon"
									:class="item.selected ? 'text-white' : 'text-greyscale-500'"
								/>
							</div>

							<span class="small-2 text-greyscale-700 font-500 select-none">{{ $t(item.label) }}</span>
						</div>
					</div>
				</v-col>

				<v-col md="6">
					<template v-if="surveyModel.type === 'open'">
						<span class="small-2 font-500 text-greyscale-700 d-block mb-2">{{ $t('for-whom') }}</span>
						<div class="d-flex gap-x-3">
							<div
								v-for="item in forWhomList"
								:key="item.id"
								class="survey-type-card d-flex flex-column justify-space-between rounded-16 bg-greyscale-100 w-100 pa-4 pointer"
								:class="{ 'card-selected' : item.selected }"
								style="height: 120px"
								@click="onForWhomChange(item)"
							>
								<div
									class="w-8 h-8 rounded-50 card-shadow d-flex justify-center align-center"
									:class="item.selected ? 'bg-info-500' : 'bg-white'"
								>
									<base-iconify
										:icon="item.icon"
										:class="item.selected ? 'text-white' : 'text-greyscale-500'"
									/>
								</div>

								<span class="small-2 text-greyscale-700 font-500 select-none">{{ $t(item.label) }}</span>
							</div>
						</div>
					</template>
				</v-col>

				<template v-if="forWhomSelected === 'for_some_departments'">
					<v-col md="6">
						<base-auto-complete
							v-model="$v.surveyModel.__departments.$model"
							:error="$v.surveyModel.__departments.$error"
							api-list-url="/departments/department_without_children/"
							:api-params="{filial: '09013',  page_size: 100}"
							item-text="name"
							list-type="list"
							label="control-tasks.reports.departments"
							multiple
							return-object
							cache-items
							:placeholder="$t('enter-department')"
						/>
					</v-col>

					<v-col md="6">
						<base-auto-complete
							v-model="$v.surveyModel.__branches.$model"
							:error="$v.surveyModel.__branches.$error"
							api-list-url="/filials/"
							:api-params="{page_size: 50}"
							item-text="name"
							list-type="list"
							label="document-flow.views.send-document.branches"
							multiple
							return-object
							cache-items
							:placeholder="$t('enter-branch')"
						/>
					</v-col>


					<v-col md="12">
						<base-auto-complete
							v-model="surveyModel.__users"
							api-list-url="/user/search/"
							:api-params="$route.params.id && surveyModel.__users.length ? { ids: surveyModel.__users.map(d => d.id).join(','), page_size: 100 } : {}"
							item-text="full_name"
							return-object
							multiple
							label="document-flow.views.boxes.employees"
							clearable
							cache-items
							:placeholder="$t('document-flow.views.boxes.employees')"
						/>
					</v-col>
				</template>
			</v-row>
<!--			<pre>{{ surveyModel }}</pre>-->
		</template>
	</div>
</template>

<style>
/*.survey-form-component .theme--light.v-text-field > .v-input__control > .v-input__slot:before,
.survey-form-component .theme--light.v-text-field > .v-input__control > .v-input__slot:after {
	border-color: var(--greyscale-200)!important;
}*/

.survey-form-component .large-input input {
	color: var(--greyscale-900)!important;
	font-size: 24px!important;
	line-height: 32px!important;
	font-weight: bolder!important;
	margin: 8px 5px!important;
}
.survey-form-component input::placeholder {
	color: var(--greyscale-350)!important;
}
.survey-type-card {
	border: 2px solid var(--greyscale-100)
}
.survey-type-card:hover:not(.card-selected) {
	border: 2px solid var(--greyscale-200)
}

.survey-type-card:hover:not(.card-selected) svg {
	color: var(--info-500)
}

.card-selected {
	border: 2px solid var(--info-100);
	background: var(--info-50)
}

</style>