<script>
// Enums
import { FORM_TYPES } from "../../../../../common/enums/notificationTypes"
// Components
import BackButtonV3 from "../../../../components/BackButtonV3.vue"
import { SurveyForm, QuestionsForm, Preview } from "./index"
import { mapActions, mapState } from "vuex";

export default {
	name: "SurveyFormWrapper",
	components: {
		Preview,
		QuestionsForm,
		BackButtonV3,
		SurveyForm
	},
	props: {
		formType: {
			type: String,
			default: FORM_TYPES.CREATE
		}
	},
	data: () => ({
		FORM_TYPES,
		sidebarItems: [
			{
				id: 1,
				label: 'name-and-setting',
				value: 'name',
				active: true,
				status: 'pending'
			},
			{
				id: 2,
				label: 'questions',
				value: 'questions',
				active: false,
				status: 'pending'
			},
			// {
			// 	id: 3,
			// 	label: 'preview',
			// 	value: 'preview',
			// 	active: false,
			// 	status: 'pending'
			// }
		]
	}),
	computed: {
		...mapState({
			buttonLoading: state => state.hrSurvey.buttonLoading
		}),
		activeSidebarValue() {
			const activeItem = this.sidebarItems.find(item => item.active)
			return activeItem ? activeItem.value : null
		}
	},
	methods: {
		...mapActions({
			actionManage: "hrSurvey/actionManage",
			actionUpdateSurvey: "hrSurvey/actionUpdateSurvey",
			actionResetSurveyQuestionsModel: "hrSurvey/actionResetSurveyQuestionsModel"
		}),
		async init() {
			if (!this.$route.query.value) {
				await this.$router.replace({
					query: {
						...this.$route.query,
						value: 'name'
					}
				})
				this.sidebarItems.forEach(item => item.active = item.value === this.$route.query.value)
			}
		},
		/** **/
		onItemChange(i) {
			if (i.value !== this.activeSidebarValue) {
				if (i.value === 'questions') {
					const { surveyForm } = this.$refs
					const surveyFormValid = surveyForm.validate()
					if (surveyFormValid) {
						this.sidebarItems.forEach(item => item.active = item.id === i.id)
					}
				} else {
					this.sidebarItems.forEach(item => item.active = item.id === i.id)
				}
			}
		},
		/** **/ async onSendButtonClicked(activeTab) {
			if (this.formType === FORM_TYPES.CREATE && activeTab === 'name') {
				const {surveyForm} = this.$refs
				const surveyFormValid = surveyForm.validate()
				if (surveyFormValid) {
					this.sidebarItems.forEach(item => item.active = item.value === 'questions')
				}
			} else if (this.formType === FORM_TYPES.CREATE && activeTab === 'questions') {
				const {questionForm} = this.$refs
				const questionFormValid = questionForm.validate()
				if (questionFormValid) {
					await this.send()

				}
			} else if (this.formType === FORM_TYPES.UPDATE && activeTab === 'name') {
				const {surveyForm} = this.$refs
				const surveyFormValid = surveyForm.validate()
				if (surveyFormValid) {
					await this.actionUpdateSurvey(this.$route.params.id)
					this.$toast.success('Yangilandi!')
					await this.$router.push({
						name: 'HRSurveyList',
						query: {
							page: 1,
							page_size: 15,
							tab: 'current'
						}
					})
				}
			}
		},
		/** **/
		async send() {
			try {
				await this.actionManage()
				this.$toast.success("So'rovnoma yaratildi!")
				await this.$router.replace({
					name: 'HRSurveyList',
					query: {
						page: 1,
						page_size: 15,
						tab: 'current'
					}
				})
			} catch (err) {
				this.$toast.error('Yaratishda xatolik!')
			}
		}
	},
	async mounted() {
		// await this.init()
	},
	beforeDestroy() {
		this.actionResetSurveyQuestionsModel()
	}
}
</script>

<template>
	<div class="survey-form-wrapper-component h-100">
		<div class="d-flex flex-column h-100">
			<div class="d-flex gap-x-3 align-center">
				<back-button-v3 />
				<span class="text-greyscale-900 heading-8 font-600">{{ formType === FORM_TYPES.CREATE ? $t('hr.survey.create-poll') : $t('hr.survey.edit-poll') }}</span>
			</div>

			<div class="d-flex flex-1 gap-x-5 mt-6">
				<div class="d-flex flex-column gap-y-1" style="width: 292px;">
					<div
						v-for="item in sidebarItems"
						:key="item.id"
						class="sidebar-item-hover d-flex align-center gap-x-3 rounded-12 pointer"
						:class="{ 'sidebar-item' : item.active }"
						style="padding: 10px 12px"
						@click="onItemChange(item)"
					>
						<div class="d-flex justify-center align-center w-6 h-6 bg-info-500 rounded-50 text-white small-3 font-600 select-none">{{ item.id }}</div>
						<span class="small-1 text-greyscale-700 font-500 select-none">{{ $t(item.label) }}</span>
					</div>
				</div>

				<div class="d-flex flex-1 bg-greyscale-200 rounded-24 overflow-y-auto pa-5">
					<survey-form ref="surveyForm" v-if="activeSidebarValue === 'name'" />
					<questions-form ref="questionForm" v-else-if="activeSidebarValue === 'questions'" />
					<preview v-else />
 				</div>

				<div class="bg-warning-50 rounded-16 pa-5" style="width: 292px; height: fit-content">
					<div class="d-flex justify-center align-center w-8 h-8 rounded-50 bg-warning-500 mb-3">
						<base-iconify
							icon="DangerCircleBold"
							class="text-white"
						/>
					</div>

					<span class="d-block text-greyscale-900 font-600 small-1">Информация</span>
					<span class="d-block text-greyscale-800 small-2 font-400 mt-1">Здесь вы можете написать, изменить название опроса, задать тип и вид опроса и отредактировать его.</span>
				</div>
			</div>

			<div class="d-flex align-center gap-x-5 mt-4 border-top-2" style="height: 40px">
				<div style="width: 292px;"/>
				<div class="d-flex flex-1 justify-space-between align-center mt-4">
					<app-button
						height="40"
						width="180"
						color="greyscale-100"
						class="rounded-8"
					>
						<div class="small-2 font-500 text-greyscale-900">{{ $t('control-tasks.reports.clear') }}</div>
					</app-button>

					<app-button
						height="40"
						width="180"
						class="rounded-8 border-all"
						:loading="buttonLoading"
						:disabled="formType === FORM_TYPES.UPDATE && activeSidebarValue === 'questions'"
						@click="onSendButtonClicked(activeSidebarValue)"
					>
						<div class="small-2 font-500 text-white">{{ formType === FORM_TYPES.CREATE && activeSidebarValue === 'name' ? $t('next') : formType === FORM_TYPES.CREATE ? $t('equipments.views.add-correspondent.create') : $t('equipments.views.add-correspondent.edit') }}</div>
					</app-button>
				</div>
				<div style="width: 292px;"/>
			</div>
		</div>
	</div>
</template>

<style>
.sidebar-item {
	background: var(--info-50);
}
.sidebar-item span {
	color: var(--info-500);
}
.sidebar-item-hover:not(.sidebar-item):hover {
	background: var(--greyscale-100);
}
.sidebar-item-done {
	background: var(--greyscale-100);
}
</style>