<template>
	<div class="app-collapse">
		<v-expansion-panels v-model="panel" multiple>
			<v-expansion-panel>
				<v-expansion-panel-header class="pl-0 mb-n2">
					<span class="d-block font-600 small-2">{{$t('document-flow.views.registration.activity')}}</span>
				</v-expansion-panel-header>
				<v-expansion-panel-content>
					<v-tabs
						v-model="tabs"
						dark
						height="36"
						class="border-bottom"
					>
						<v-tabs-slider color="var(--primary-1)"></v-tabs-slider>
						<v-tab
							class="primary--text text-transform-none pa-0 mr-5"
							:ripple="false"
						>
							{{$t('document-flow.views.registration.changes-history')}}
						</v-tab>
						<v-tab
							class="primary--text text-transform-none pa-0"
							:ripple="false"
						>
							{{$t('document-flow.views.registration.comment')}}
						</v-tab>
					</v-tabs>

					<v-tabs-items v-model="tabs">
						<v-tab-item>
							<template>
								<div v-for="activity in getActivitiesList" :key="activity.id" class="action-log-item py-4 border-bottom">
									<div v-if="activity.created_by" class="d-flex align-center mb-4">
										<v-avatar
											:color="activity.created_by.color"
											size="32"
											class="mr-2"
										>
											<template v-if="activity.created_by.avatar">
												<img
													:src="activity.created_by.avatar.url"
													alt="Avatar image"
													class="object-cover w-100 h-100"
												>
											</template>
											<template v-else>
												<span class="white--text small-3">
													{{ activity.created_by.full_name | getFirstCharacterWithoutDot }}
												</span>
											</template>
										</v-avatar>

										<div class="d-flex small-2 font-500">
											<span class="mr-2">{{ activity.created_by.last_name }} {{ activity.created_by.first_name | getFirstCharacter }} {{ activity.created_by && activity.created_by.father_name && activity.created_by.father_name | getFirstCharacter }}</span>
											<span class="mr-1 text-2">{{ activity.description }} - </span>
											<span class="text-2">{{ activity.created_date | filterCalendarToTime }}</span>
										</div>
									</div>

									<v-row>
										<v-col md="6">
											<p class="font-600 small-2 mb-0">{{$t('document-flow.views.registration.initial-value')}}</p>

											<span class="font-600 text-2 small-2">{{
													activity.original_value ? activity.original_value : 'Пусто'
												}}</span>
										</v-col>
										<v-col md="6">
											<p class="font-600 small-2 mb-0">{{$t('document-flow.views.registration.new-value')}}</p>

											<template v-if="activity.new_value && activity.new_value.includes('https', 0)">
												<div
													@click="viewDocument(activity.new_value)"
													class="d-flex pointer"
												>
													<span class="font-600 text-2 small-2 mr-1">{{$t('document-flow.views.registration.file')}}: </span>
													<v-icon size="18" color="primary">mdi-file-document</v-icon>
												</div>
											</template>
											<template v-else>
												<span v-if="activity.new_value" v-html="activity.new_value" class="font-600 text-2 small-2 reset-space"></span>
											</template>

											<span class="font-600 text-2 small-2">
												{{$t('document-flow.views.registration.empty')}}
											</span>
										</v-col>

										<v-col v-if="activity.cause_of_deletion" md="12" class="pt-0">
										<span
											v-html="activity.cause_of_deletion"
											class="font-600 text-2 small-2 reset-space"
										></span>
										</v-col>
									</v-row>
								</div>
							</template>
							<div class="text-center">
								<app-button @click="loadMoreActivity" :loading="loadActivityLoading" class="mt-4">
									<template #default>
										{{$t('document-flow.views.registration.load-more')}}
									</template>
									<template #append>
										<download-cloud-icon size="16"/>
									</template>
								</app-button>
							</div>
						</v-tab-item>

						<!-- Comments TabItem -->
						<v-tab-item>
							<div class="mt-4 pb-5 border-bottom">
								<v-form ref="form">
									<v-textarea
										v-model="$v.addCommentsToDocument.description.$model"
										:error="$v.addCommentsToDocument.description.$error"
										no-resize
										outlined
										dense
										:placeholder="$t('document-flow.views.registration.enter-text')"
										background-color="var(--input-bg)"
										:disabled="commentDisabled"
									></v-textarea>

									<div class="app-input mb-8">
										<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.attach-file')}}</span>

										<v-file-input
											@change="uploadCommentFile"
											prepend-inner-icon="mdi-paperclip"
											prepend-icon=""
											outlined
											hide-details
											background-color="var(--input-bg)"
											:disabled="commentDisabled"
										></v-file-input>
									</div>
									<app-button v-if="!commentDisabled" @click="addComment">
										<template #prepend>
											<send-icon size="16"/>
										</template>
										<template #default>
											{{$t('document-flow.views.registration.add-comment')}}
										</template>
									</app-button>
								</v-form>
							</div>

							<template v-for="comment in commentsList">
								<div v-if="comment.created_by" class="action-log-item py-4 border-bottom w-100" :key="comment.id">
									<div class="d-flex w-100">
										<v-avatar
											:color="comment.created_by.color"
											size="32"
											class="mr-2 mt-1"
										>
											<template v-if="comment.created_by.avatar">
												<img
													:src="comment.created_by.avatar.url"
													alt="Avatar image"
													class="object-cover w-100 h-100"
												>
											</template>

											<template v-else>
												<span class="white--text small-3">
													{{ comment.created_by.full_name | getFirstCharacterWithoutDot }}
												</span>
											</template>
										</v-avatar>
										<div class="d-flex justify-space-between" style="width: calc(100% - 40px)">
											<div class="small-2 font-500">
												<span class="mr-2 d-block">{{ comment.created_by.last_name }} {{ comment.created_by.first_name | getFirstCharacter }} {{ comment.created_by && comment.created_by.father_name && comment.created_by.father_name | getFirstCharacter }}</span>
												<span class="text-2 d-block text-3 small-3">{{
														comment.created_date | filterCalendarToTime
													}}</span>
												<span class="d-block mt-2" v-html="comment.description">
																</span>
												<template v-if="comment.file">
													<v-chip color="primary" x-small tag="a" target="_blank" :href="comment.file.url"
															class="mt-2">
														{{ comment.file.name }}
													</v-chip>
												</template>
											</div>
											<div v-if="comment.created_by.id === currentUser.id">
												<v-btn
													@click="() => toggleDialog(comment)"
													class="mr-2"
													color="primary"
													icon
													small
													style="color: white"
													>
													<edit-3-icon size="20" />
												</v-btn>
												<v-btn small icon color="danger" style="color: white" @click="() => toggleDeleteDialog(comment)">
													<trash2-icon size="20" />
												</v-btn>
											</div>
										</div>
									</div>
								</div>
							</template>
							<div class="text-center">
								<app-button @click="loadMoreComments" :loading="loadActivityLoading" class="mt-4">
									<template #prepend>
										<download-cloud-icon size="16"/>
									</template>
									<template #default>
										{{$t('document-flow.views.registration.load-more')}}
									</template>
								</app-button>
							</div>
						</v-tab-item>
					</v-tabs-items>
				</v-expansion-panel-content>
			</v-expansion-panel>
		</v-expansion-panels>
		<v-dialog  max-width="740" v-model="dialog" persistent>
			<div class="pa-7 bg-white rounded-20 p-relative">
				<div class="d-flex pb-5 justify-space-between align-center">
					<h3 class="my-0 font-500 heading-10">
					{{this.$t('document-flow.views.registration.edit-comment')}}
					</h3>
				</div>
				<div>
					<v-textarea
						no-resize
						outlined
						dense
						v-model="editComment.description"
						:placeholder="$t('document-flow.views.registration.enter-text')"
						background-color="var(--input-bg)"
					></v-textarea>
					<v-sheet
						class="align-center border-all rounded-15 overflow-hidden mb-2"
						height="40"
						v-if="editComment.file"
						style="border-color: var(--primary-1); max-width: 100%; display: inline-flex"
					>
						<a :href="editComment.file.url" target="_blank" class="d-flex align-center pl-4 h-100" style="cursor: pointer; color: #000000; text-decoration: none;">
							<img alt="Icon" src="/img/icons/doc-icon.svg" />
							<span
								class="small-2 ml-2 mr-3 font-500 text-truncate"
								style="max-width: 100px"
								>{{editComment.file.name}}</span
							>
						</a>
						<v-btn
							@click="deleteFile"
							color="error"
							height="36"
							min-width="36"
							text
							width="36"
							>
							<x-icon size="18" />
						</v-btn>
					</v-sheet>
					<v-file-input
						@change="uploadEditCommentFile"
						background-color="var(--input-bg)"
						hide-details
						id="edit-response-file-input"
						outlined
						prepend-icon=""
						prepend-inner-icon="mdi-paperclip"
						v-else
					></v-file-input>
				</div>
				<div class="d-flex mt-4" style="justify-content: flex-end">
					<v-btn
						:disabled="loading"
						@click="() => toggleDialog()"
						color="error"
						depressed
						small
						>
						{{$t('document-flow.views.registration.cancel')}}
					</v-btn>
					<div v-if="loading" class="d-inline-block ml-2">
						<app-loader :size="36" />
					</div>
					<v-btn
						@click="saveComment"
						class="ml-2"
						color="primary"
						depressed
						small
						v-else>
						{{$t('document-flow.views.registration.save')}}
					</v-btn>
				</div>
			</div>
		</v-dialog>
		<v-dialog max-width="500px" persistent v-model="deleteDialog">
			<v-card class="py-7">
				<v-card-title class="py-0">{{$t('document-flow.views.registration.delete-comment')}}</v-card-title>
				<v-card-text class="pt-4 pb-10" style="font-size: 16px">{{$t('document-flow.views.registration.delete-comment-description')}}</v-card-text>
				<v-card-actions
					class="d-flex py-0 px-6"
					style="justify-content: flex-end"
				>
					<v-btn
						:disabled="deleteLoading"
						@click="deleteDialog = !deleteDialog"
						color="primary"
						depressed
						small
						>
						{{$t('document-flow.views.registration.cancel')}}
					</v-btn>
					<div v-if="deleteLoading" class="d-inline-block ml-2">
						<app-loader :size="36" />
					</div>
					<v-btn @click="deleteComment" color="error" depressed small v-else>{{$t('document-flow.views.registration.delete')}}</v-btn>
				</v-card-actions>
			</v-card>
		</v-dialog>
		<pdf-viewer-modal ref="pdfModal" />
	</div>
</template>

<script>
import { DownloadCloudIcon, SendIcon, Trash2Icon, Edit3Icon, XIcon } from "vue-feather-icons";
import { required } from "vuelidate/lib/validators";
import { mapActions, mapGetters } from "vuex";
import AppLoader from "@/common/components/base/AppLoader";
import PdfViewerModal from "../../../../../../common/components/PdfViewerModal";
import isObject from "lodash/isObject";

export default {
	name: "Activity",
	components: {
		AppLoader,
		DownloadCloudIcon,
		Edit3Icon,
		PdfViewerModal,
		SendIcon,
		Trash2Icon,
		XIcon,
	},
	props: {
		documentModel: {
			type: Object,
			required: true
		},
		commentDisabled: {
			type: Boolean,
			default: false
		}
	},
	data() {
		return {
			panel: [0],
			tabs: null,
			loadActivityLoading: false,
			addCommentsToDocument: {
				description: "",
				file: null
			},
			comment: {},
			deleteLoading: false,
			deleteDialog: false,
			dialog: false,
			editComment: {
				description: "",
				file: null
			},
			loading: false,
		}
	},
	validations: {
		addCommentsToDocument: {
			description: {required}
		},
	},
	computed: {
		...mapGetters({
			getActivitiesList: "action/getActivitiesList",
			getCommentsList: "action/getCommentsList",
			currentUser: "auth/getCurrentUser",
		}),
		/**/
		commentsList() {
			return this.getCommentsList
		},
	},
	mounted() {
		setTimeout(() => {
			this.fetchActivitiesList({
				obj: this.documentModel.document_unique_id
			});
			this.fetchCommentsList({
				obj: this.documentModel.document_unique_id,
				type: "doc_flow_comment"
			});
		}, 1000)
	},
	methods: {
		...mapActions({
			fetchActivitiesList: "action/fetchActivitiesList",
			fetchLoadMoreActivityList: "action/fetchLoadMoreActivityList",
			fetchCommentsList: "action/fetchCommentsList",
			fetchLoadMoreCommentsList: "action/fetchLoadMoreCommentsList",
			fetchNewComments: "action/fetchNewComments",
			updateCommentsList: "action/updateCommentsList",
		}),
		/**/
		loadMoreActivity() {
			this.loadActivityLoading = true
			this.fetchLoadMoreActivityList({
				obj: this.documentModel.document_unique_id
			})

			setTimeout(() => {
				this.loadActivityLoading = false
			}, 1500)
		},
		/**/
		loadMoreComments() {
			this.loadActivityLoading = true

			this.fetchLoadMoreCommentsList({
				obj: this.documentModel.document_unique_id
			})

			setTimeout(() => {
				this.loadActivityLoading = false
			}, 1500)
		},
		/**/
		addComment() {
			this.$v.addCommentsToDocument.$touch();

			if (this.$v.addCommentsToDocument.$invalid) {
				return;
			}

			this.fetchNewComments({
				...this.addCommentsToDocument,
				obj: this.documentModel.document_unique_id,
				type: "doc_flow_comment",
				receiver_type: this.documentModel.receiver_type ? this.documentModel.receiver_type : null,

			})
				.then(() => {
					const {form} = this.$refs

					form.reset()
					this.$v.$reset();
				})
		},
		/**/
		uploadCommentFile(file) {
			if (file) {
				let formData = new FormData()
				formData.append("file", file)

				this.$axios
					.post('/upload/', formData)
					.then(({data}) => {
						this.$toast.success(this.$t('document-flow.views.registration.file-downloaded'))

						this.addCommentsToDocument.file = data.id
					})
			}
		},
		/**/
		viewDocument(url){
			const {pdfModal} = this.$refs
			pdfModal.url = url;
			pdfModal.dialog = true
		},
		toggleDialog(comment = { description: '', file: null }) {
			this.editComment = comment;
			this.dialog = !this.dialog;
			document.getElementById('edit-response-file-input').value = '';
		},
		deleteFile() {
			this.editComment = {
				...this.editComment,
				file: null,
			};
		},
		uploadEditCommentFile(file) {
			if (file) {
				const formData = new FormData();
				formData.append("file", file);
				this.$axios
					.post('/upload/', formData)
					.then(response => {
						const file = response?.data;
						const status = response?.status;
						if(status === 200 && isObject(file)) {
							this.$toast.success(this.$t('document-flow.views.registration.file-downloaded'));
							this.editComment = {
								...this.editComment,
								file,
							};
						} else {
							this.$toast.error(this.$t('document-flow.views.registration.an-error-occurred'));
						}
					}).catch(() => {
						this.$toast.error(this.$t('document-flow.views.registration.an-error-occurred'));
					})
			}
		},
		deleteComment() {
			this.deleteLoading = true;
			this.$axios.delete(`/action/comments/${this.comment?.id}/`).then(response => {
				if(response?.status === 200) {
					const comments = this.commentsList.filter(item => item?.id !== this.comment?.id);
					this.updateCommentsList(comments);
					this.toggleDeleteDialog();
					this.$toast.success(this.$t('document-flow.views.registration.comment-deleted'));
				} else {
					this.$toast.error(this.$t('document-flow.views.registration.an-error-occurred'));
				}
			}).catch(() => {
				this.$toast.error(this.$t('document-flow.views.registration.an-error-occurred'));
			}).finally(() => {
				this.deleteLoading = false;
			})
		},
		saveComment() {
			this.loading = true;
			const editComment = this.editComment;
			const description = editComment.description;
			if(description) {
				const data = editComment?.file ? { description, file: editComment?.file?.id } : { description }
				this.$axios.patch(`/action/comments/${editComment?.id}/`, data).then(response => {
					const status = response?.status;
					const comment = response?.data;
					if(status === 200 && isObject(comment)) {
						const comments = this.commentsList.filter(item => {
							if(item?.id === comment?.id) {
								return comment;
							} else {
								return item;
							}
						});
						this.updateCommentsList(comments);
						this.toggleDialog();
					} else {
						this.$toast.error(this.$t('document-flow.views.registration.an-error-occurred'));
					}
				}).catch(() => {
					this.$toast.error(this.$t('document-flow.views.registration.an-error-occurred'));
				}).finally(() => {
					this.loading = false;
				})
			} else {
				this.$toast.error(this.$t('document-flow.views.registration.enter-text'));
			}
		},
		toggleDeleteDialog(comment = {}) {
			this.comment = comment;
			this.deleteDialog = !this.deleteDialog;
		},
	}
}
</script>

<style scoped>

</style>
