<template>
	<div class="auto-complete-view">
		<v-autocomplete
			v-model="content"
			@change="update"
			:search-input.sync="listSearch"
			:items="computedList"
			v-bind="$attrs"
			v-on="$listeners"
			item-value="id"
			item-text="organization_name"
			outlined
			cache-items
			hide-details
			clear-icon="mdi-close"
			background-color="var(--input-bg)"
			clearable
			:filter="filterObject"
		>
			<template #append>
				<v-icon>mdi-chevron-down</v-icon>
			</template>
			<template v-slot:item="data">
				<v-list-item-content>
					<v-list-item-title>{{data.item.organization_name}}</v-list-item-title>
					<v-list-item-subtitle v-if="data.item.tin" class="tiny ml-2 mt-1">ИНН: {{data.item.tin}}	</v-list-item-subtitle>
				</v-list-item-content>
			</template>

			<template v-slot:append-item>
				<template v-if="list.length >= 10">
					<div
						v-intersect="{
            handler: onIntersect,
            options: {
              threshold: [0, 1.0, 1.0]
            }
          }"
						class="pa-4"
					>
					</div>
				</template>
			</template>
		</v-autocomplete>
	</div>
</template>

<script>
export default {
	name: "CorrespondentAutoComplete",
	props: {
		apiParams: {
			type: Object,
			default: () => {}
		},
		isForCompose: {
			type: Boolean,
			default: true
		}
	},
	data() {
		return {
			listSearch: null,
			list: [],
			page: 1,
			searchText: ''
		}
	},
	computed: {
		computedList(){
			return this.list
		},
		content: {
			get(){
				return this.value;
			},
			set(value){
				this.$emit('input', value)
			}
		}
	},
	watch: {
		'listSearch'(val){
			this.searchText = val
			this.page = 1
			setTimeout(() => {
				this.getList({
					search: val,
					page: this.page
				}, 50)
			})
		}
	},
	created() {
		this.getList(this.apiParams);
	},
	methods: {
		filterObject(item, queryText, itemText){
			if (item.tin && typeof item.tin === "string"){
				return (
					item.organization_name.toLocaleLowerCase().indexOf(queryText.toLocaleLowerCase()) > -1 ||
					item.tin.toLocaleLowerCase().indexOf(queryText.toLocaleLowerCase()) > -1
				)
			}else {
				return (
					item.organization_name.toLocaleLowerCase().indexOf(queryText.toLocaleLowerCase()) > -1
				)
			}

		},
		update(){

		},
		/**/
		getList(params){
			this.$axios.get('/action/correspondent/', {
				params: {
					...params,
					is_for_compose: this.isForCompose
				},

			})
			.then(({ data }) => {
				setTimeout(() => {
					this.list = data.results
				}, 50)
			})
		},
		/**/
		onIntersect(entries) {
			if(entries[0].intersectionRatio >= 0.5) {
				++this.page

				this.getList({
					search: this.searchText,
					page: this.page
				});
			}
		}
	}
}
</script>

<style scoped>

</style>
