<template>
	<div class="filter-modal">
    <div class="d-flex align-center">
      <div class="app-input mr-4">
        <v-text-field
          @input="search"
          v-model="filterState.search"
          hide-details
          outlined
          dense
          clearable
          :placeholder="$t('document-flow.views.registration.search')"
          background-color="var(--input-bg)"
        >
          <template #prepend-inner>
            <search-icon class="mr-1 d-block" size="20" color="var(--text-4)" />
          </template>
        </v-text-field>
      </div>

      <app-button outlined height="39" @click="filterModal = true">
        <template #prepend>
          <v-icon size="18">{{ "$vuetify.icons.FilterIcon" }}</v-icon>
        </template>
        <template #default>
          {{$t('document-flow.views.registration.filter')}}
        </template>
      </app-button>
    </div>

		<v-dialog
			content-class="shadow-5"
			v-model="filterModal"
			max-width="1075"
			@keydown.esc="closeFilterModal"
			@click:outside="closeFilterModal"
		>
			<div class="bg-4 pa-9">
				<div class="d-flex align-center justify-space-between">
					<h6 class="heading-8 font-500">{{$t('document-flow.views.registration.filtration')}}</h6>
					<app-button
						@click="closeFilterModal"
						icon
						color="error"
						rounded
						width="45"
						min-width="45"
						height="45"
					>
						<x-icon />
					</app-button>
				</div>

<!--        boxDropdownSelected === 'review'-->
<!--        ? { name: 'BoxesTableType' } :-->
<!--        boxDropdownSelected === 'inbox'-->
<!--        ? { name: 'InboxTableType' } :-->
<!--        boxDropdownSelected === 'control'-->
<!--        ? { name: 'ControlTableType' } :-->
<!--        { name: 'ApprovalTableType' }-->

        <!-- На рассмотрение, Входящие, Входящие (Регистрация) -->
				<template
          v-if="
            activeRoute === 'review' ||
            activeRoute === 'inbox' ||
            activeRoute === 'control' ||
            activeRoute === 'reg-incoming'
          "
        >
					<div class="mt-4">
						<span class="small-2 d-block font-600 text-7">{{$t('document-flow.views.registration.level')}}</span>

						<div class="d-flex">
							<v-radio-group v-model="filterState.priority" row mandatory hide-details>
								<v-radio
									class="mr-12"
									:value="null"
								>
									<template #label>
										<span class="ml-2 text-dark small-1 font-500">{{$t('document-flow.views.registration.all')}}</span>
									</template>
								</v-radio>

								<v-radio
									class="mr-12"
									value="low"
								>
									<template #label>
										<span class="ml-2 text-dark small-1 font-500">{{$t('document-flow.views.registration.short')}}</span>
									</template>
								</v-radio>

								<v-radio
									class="mr-12"
									value="medium"
								>
									<template #label>
										<span class="ml-2 text-dark small-1 font-500">{{$t('document-flow.views.registration.medium')}}</span>
									</template>
								</v-radio>

								<v-radio
									class="mr-12"
									value="high"
								>
									<template #label>
										<span class="ml-2 text-dark small-1 font-500">{{$t('document-flow.views.registration.high')}}</span>
									</template>
								</v-radio>
							</v-radio-group>
						</div>
					</div>

					<div class="mt-4">
            <span class="small-2 d-block font-600 text-7">{{$t('document-flow.views.registration.state')}}</span>

						<div class="d-flex">
							<v-radio-group v-model="filterState.is_read" row mandatory hide-details>
								<v-radio
									class="mr-12"
									:value="null"
								>
									<template #label>
										<span class="ml-2 text-dark small-1 font-500">{{$t('document-flow.views.registration.all')}}</span>
									</template>
								</v-radio>

								<v-radio
									class="mr-12"
									:value="true"
								>
									<template #label>
										<span class="ml-2 text-dark small-1 font-500">{{$t('document-flow.views.registration.read')}}</span>
									</template>
								</v-radio>

								<v-radio
									class="mr-12"
									:value="false"
								>
									<template #label>
										<span class="ml-2 text-dark small-1 font-500">{{$t('document-flow.views.registration.unread')}}</span>
									</template>
								</v-radio>
							</v-radio-group>
						</div>
					</div>

					<div class="mt-4" v-if="currentRouteName === 'BoxesTableType'">
						<div class="d-flex">
							<v-radio-group v-model="getHeaderFilters.has_deadline" row mandatory hide-details>
								<v-radio
									class="mr-12"
									:value="null"
								>
									<template #label>
										<span class="ml-2 text-dark small-1 font-500">{{$t('document-flow.views.registration.all')}}</span>
									</template>
								</v-radio>

								<v-radio
									class="mr-12"
									value="true"
								>
									<template #label>
										<span class="ml-2 text-dark small-1 font-500">{{$t('document-flow.views.registration.orders-with-deadline')}}</span>
									</template>
								</v-radio>
							</v-radio-group>
						</div>
					</div>

          <div class="mt-4">
            <span class="small-2 d-block font-600 text-7">{{$t('document-flow.views.registration.status')}}</span>

            <div class="d-flex">
              <v-radio-group v-model="filterState.status" row mandatory hide-details>
                <v-radio
                  :value="null"
                  class="mr-12"
                >
                  <template #label>
                    <span class="ml-2 text-dark small-1 font-500">{{$t('document-flow.views.registration.all')}}</span>
                  </template>
                </v-radio>

                <v-radio
                  value="1"
                  class="mr-12"
                >
                  <template #label>
                    <span class="ml-2 text-dark small-1 font-500">{{$t('document-flow.views.registration.to-do')}}</span>
                  </template>
                </v-radio>

                <v-radio
                  value="2"
                  class="mr-12"
                >
                  <template #label>
                    <span class="ml-2 text-dark small-1 font-500">{{$t('document-flow.views.registration.in-progress')}}</span>
                  </template>
                </v-radio>

                <v-radio
                  value="3"
                  class="mr-12"
                >
                  <template #label>
                    <span class="ml-2 text-dark small-1 font-500">{{$t('document-flow.views.registration.on-hold')}}</span>
                  </template>
                </v-radio>

                <v-radio
                  value="4"
                  class="mr-12"
                >
                  <template #label>
                    <span class="ml-2 text-dark small-1 font-500">{{$t('document-flow.views.registration.done')}}</span>
                  </template>
                </v-radio>

                <template v-if="currentRouteName === 'BoxesTableType'">
                  <v-radio
                    value="5"
                    class="mr-12"
                  >
                    <template #label>
                      <span class="ml-2 text-dark small-1 font-500">{{$t('document-flow.views.registration.for-signature')}}</span>
                    </template>
                  </v-radio>
                </template>
              </v-radio-group>
            </div>
          </div>
				</template>
        <!-- / На рассмотрение, Входящие, Входящие (Регистрация) -->

        <!-- Входящие -->
        <template v-if="activeRoute === 'inbox' || activeRoute === 'control'">
          <div class="mt-4">
            <span class="small-2 d-block font-600 text-7">{{$t('document-flow.views.registration.controlling')}}</span>

            <div class="d-flex">
              <v-radio-group v-model="filterState.controller" row mandatory hide-details>
                <v-radio
                  :value="null"
                  class="mr-12"
                >
                  <template #label>
                    <span class="ml-2 text-dark small-1 font-500">{{$t('document-flow.views.registration.all')}}</span>
                  </template>
                </v-radio>

                <v-radio
                  :value="currentUser.id"
                  class="mr-12"
                >
                  <template #label>
                    <span class="ml-2 text-dark small-1 font-500">{{$t('document-flow.views.registration.on-control')}}</span>
                  </template>
                </v-radio>
              </v-radio-group>
            </div>
          </div>
        </template>
        <!-- /Входящие -->

        <template v-if="currentUser.role === 'chair' || currentUser.role === 'deputy_chair'">
	        <div class="mt-4">
		        <span class="small-2 d-block font-600 text-7">{{$t('document-flow.views.registration.resolution')}}</span>

		        <div class="d-flex">
			        <v-radio-group v-model="getHeaderFilters.__resolutionAssign" row mandatory hide-details>
				        <v-radio
					        :value="false"
					        class="mr-12"
				        >
					        <template #label>
						        <span class="ml-2 text-dark small-1 font-500">{{$t('document-flow.views.registration.all')}}</span>
					        </template>
				        </v-radio>

				        <v-radio
					        :value="true"
					        class="mr-12"
				        >
					        <template #label>
						        <span class="ml-2 text-dark small-1 font-500">{{$t('document-flow.views.registration.sign-resolution')}}</span>
					        </template>
				        </v-radio>
			        </v-radio-group>
		        </div>
	        </div>
        </template>

				<div class="mt-3">
					<v-row class="my-0">
						<!-- По состоянию -->
						<template v-if="currentRouteName !== 'SignTableType' && currentRouteName !== 'ApprovalTableType'">
							<v-col md="4" class="py-2">
								<div class="app-input">
									<span class="d-block font-600 small-2 mb-2 text-7">{{$t('document-flow.views.registration.by-status')}}</span>

									<v-select
										v-model="getHeaderFilters.condition"
										:items="filterList"
										item-text="title"
										item-value="value"
										outlined
										hide-details
										clearable
										background-color="var(--input-bg)"
									>
										<template #append>
											<v-icon>mdi-chevron-down</v-icon>
										</template>
									</v-select>
								</div>
							</v-col>
						</template>

            <!-- На рассмотрение, Входящие -->
            <template v-if="currentRouteName === 'BoxesTableType' || currentRouteName === 'InboxTableType' || currentRouteName === 'ControlTableType'">
              <!-- Журнал -->
              <v-col md="4" class="py-2">
                <div class="app-input">
                  <span class="d-block font-600 small-2 mb-2 text-7">{{$t('document-flow.views.registration.journal')}}</span>

                  <v-select
                    v-model="getHeaderFilters.journal"
                    :items="getNewJournalList"
                    outlined
                    item-text="name"
                    item-value="id"
                    background-color="var(--input-bg)"
                    hide-details
                    clearable
                  >
                    <template #append>
                      <v-icon>mdi-chevron-down</v-icon>
                    </template>
                  </v-select>
                </div>
              </v-col>

              <!-- Документ -->
              <v-col md="4" class="py-2">
                <div class="app-input">
                  <span class="d-block font-600 small-2 mb-2 text-7">{{$t('document-flow.views.registration.document')}}</span>

                  <app-autocomplete
                    v-model="getHeaderFilters.doc_type"
                    :api-list-url="documentReferenceUrl"
                    :api-params="{
                      type: 'doc_type'
                    }"
                    list-type="list"
                    item-text="name"
                    item-value="id"
                    clearable
                  />
                </div>
              </v-col>
            </template>
            <!-- / На рассмотрение, Входящие -->

            <!-- Входящие -->
            <template v-if="currentRouteName === 'InboxTableType' || currentRouteName === 'ControlTableType'">
              <!-- Тип -->
              <v-col md="4" class="py-2">
                <div class="app-input">
                  <span class="d-block font-600 small-2 mb-2 text-7">{{$t('document-flow.views.registration.type')}}</span>

                  <v-select
                    v-model="getHeaderFilters.type"
                    :items="assignmentTypeList"
                    item-text="title"
                    item-value="value"
                    outlined
                    hide-details
                    clearable
                    background-color="var(--input-bg)"
                  >
                    <template #append>
                      <v-icon>mdi-chevron-down</v-icon>
                    </template>
                  </v-select>
                </div>
              </v-col>
            </template>
            <!-- / Входящие -->

            <!-- Рег. номер -->
            <template v-if="currentRouteName !== 'SignTableType' && currentRouteName !== 'ApprovalTableType'">
	            <v-col md="4" class="py-2">
		            <div class="app-input">
			            <span class="d-block font-600 small-2 mb-2 text-7">{{$t('document-flow.views.registration.registration-number')}}</span>

			            <v-text-field
				            v-model="getHeaderFilters.register_number"
				            outlined
				            background-color="var(--input-bg)"
				            hide-details
				            clearable
			            />
		            </div>
	            </v-col>
            </template>
            <!-- / Рег. номер -->

            <!-- (Рег. дата) не будет видна на странице (На подпись, На согласование) -->
            <template v-if="currentRouteName !== 'SignTableType' && currentRouteName !== 'ApprovalTableType'">
              <!-- Рег. дата -->
              <v-col md="4" class="py-2">
                <div class="app-input">
                  <span class="d-block font-600 small-2 mb-2 text-7">{{$t('document-flow.views.registration.registration-date')}}</span>

                  <app-date-picker
                    @emit:up="(value) => dateSelected(value, getHeaderFilters, 'register_start_date', 'register_end_date')"
                    v-model="registerDatePicker"
                    @clickClear="fetchClearRegisterStartDate"
                    with-input
                    range
                    background-color="var(--input-bg)"
                    clearable
                  />
                </div>
              </v-col>
            </template>
            <!-- / Рег. дата -->

            <!-- На рассмотрение, Входящие, Входящие (Регистрация) -->
            <template
              v-if="
                currentRouteName === 'BoxesTableType' ||
                currentRouteName === 'InboxTableType' ||
                currentRouteName === 'ControlTableType' ||
                currentRouteName === 'IncomingDocumentTableListType'
              "
            >
              <!-- Исх. номер -->
              <v-col md="4" class="py-2">
                <div class="app-input">
                  <span class="d-block font-600 small-2 mb-2 text-7">{{$t('document-flow.views.registration.outgoing-number')}}</span>

                  <v-text-field
                    v-model="getHeaderFilters.outgoing_number"
                    outlined
                    background-color="var(--input-bg)"
                    hide-details
                    clearable
                  />
                </div>
              </v-col>

              <!-- Исх. дата -->
              <v-col md="4" class="py-2">
                <div class="app-input">
                  <span class="d-block font-600 small-2 mb-2 text-7">{{$t('document-flow.views.registration.outgoing-date')}}</span>

                  <app-date-picker
                    @emit:up="(value) => dateSelected(value, getHeaderFilters, 'outgoing_start_date', 'outgoing_end_date')"
                    v-model="outgoingDatePicker"
                    with-input
                    range
                    background-color="var(--input-bg)"
                    clearable
                  />
                </div>
              </v-col>

              <!-- Корреспондент -->
              <v-col md="4" class="py-2">
                <div class="app-input">
                  <span class="d-block font-600 small-2 mb-2 text-7">{{$t('document-flow.views.registration.correspondent')}}</span>

                  <app-autocomplete
                    v-model="getHeaderFilters.correspondent"
                    api-list-url="/action/correspondent/"
                    list-type="list"
                    item-text="organization_name"
                    item-value="id"
                    cache-items
                    clearable
                  />
                </div>
              </v-col>

              <!-- На рассмотрение -->
              <v-col md="4" class="py-2">
                <div class="app-input">
                  <span class="d-block font-600 small-2 mb-2 text-7">{{$t('document-flow.views.registration.for-consideration')}}</span>

                  <app-autocomplete
                    v-model="getHeaderFilters.review_user"
                    api-list-url="/user/search/"
                    item-value="id"
                    item-text="full_name"
                    cache-items
                    outlined
                    hide-details
                    clearable
                  />
                </div>
              </v-col>
            </template>
            <!-- /На рассмотрение, Входящие, Входящие (Регистрация) -->

            <!-- Внутренний (Регистрация) -->
            <template v-if="currentRouteName === 'DocumentFlowInnerDocumentsList'">
              <!--Автор-->
              <v-col md="4" class="py-2">
                <div class="app-input">
                  <span class="d-block font-600 small-2 mb-2 text-7">{{$t('document-flow.views.registration.author')}}</span>
                  <app-autocomplete
                    v-model="getHeaderFilters.author"
                    :api-list-url="usersReferenceUrl"
                    item-value="id"
                    item-text="full_name"
                    cache-items
                    outlined
                    hide-details
                    clearable
                  />
                </div>
              </v-col>

              <!--Подписант-->
              <v-col md="4" class="py-2">
                <div class="app-input">
                  <span class="d-block font-600 small-2 mb-2 text-7">{{$t('document-flow.views.registration.signatory')}}</span>
                  <app-autocomplete
                    v-model="getHeaderFilters.signer"
                    :api-list-url="usersReferenceUrl"
                    item-value="id"
                    item-text="full_name"
                    cache-items
                    outlined
                    hide-details
                    clearable
                  />
                </div>
              </v-col>
            </template>
            <!-- /Внутренний (Регистрация) -->

            <!-- Исходящий (Регистрация) -->
            <template v-if="currentRouteName === 'DocumentFlowOutgoingDocumentsList'">
              <!-- Вид документа -->
              <v-col md="4">
                <div class="app-input">
                  <span class="d-block font-600 small-2 mb-2 text-7">{{$t('document-flow.views.registration.document-type')}}</span>

                  <app-autocomplete
                    v-model="getHeaderFilters.doc_type"
                    :api-list-url="documentReferenceUrl"
                    :api-params="{
                      type: 'doc_type'
                    }"
                    list-type="list"
                    item-text="name"
                    item-value="id"
                    clearable
                  />
                </div>
              </v-col>

              <!-- Департамент -->
              <v-col md="4">
                <div class="app-input">
                  <span class="d-block font-600 small-2 mb-2 text-7">{{$t('document-flow.views.registration.department')}}</span>

                  <v-autocomplete
                    v-model="getHeaderFilters.department"
                    :items="departmentList"
                    item-text="name"
                    item-value="id"
                    outlined
                    hide-details
                    clearable
                    background-color="var(--input-bg)"
                  >
                    <template #append>
                      <v-icon>mdi-chevron-down</v-icon>
                    </template>
                  </v-autocomplete>
                </div>
              </v-col>
            </template>
            <!-- /Исходящий (Регистрация) -->

            <!-- Обращение (Регистрация) -->
            <template v-if="currentRouteName === 'DocumentFlowAppealsList'">
              <!-- Корреспондент -->
              <v-col md="4" class="py-2">
                <div class="app-input">
                  <span class="d-block font-600 small-2 mb-2 text-7">{{$t('document-flow.views.registration.correspondent')}}</span>

                  <app-autocomplete
                    v-model="getHeaderFilters.correspondent"
                    api-list-url="/action/correspondent/"
                    list-type="list"
                    item-text="organization_name"
                    item-value="id"
                    cache-items
                    clearable
                  />
                </div>
              </v-col>

              <!-- Исх. номер -->
              <v-col md="4" class="py-2">
                <div class="app-input">
                  <span class="d-block font-600 small-2 mb-2 text-7">{{$t('document-flow.views.registration.outgoing-number')}}</span>

                  <v-text-field
                    v-model="getHeaderFilters.outgoing_number"
                    outlined
                    background-color="var(--input-bg)"
                    hide-details
                    clearable
                  />
                </div>
              </v-col>

              <!-- Исх. дата -->
              <v-col md="4" class="py-2">
                <div class="app-input">
                  <span class="d-block font-600 small-2 mb-2 text-7">{{$t('document-flow.views.registration.outgoing-date')}}</span>

                  <app-date-picker
                    @emit:up="(value) => dateSelected(value, getHeaderFilters, 'outgoing_start_date', 'outgoing_end_date')"
                    v-model="outgoingDatePicker"
                    with-input
                    range
                    background-color="var(--input-bg)"
                    clearable
                  />
                </div>
              </v-col>

              <!-- Вид документа -->
              <v-col md="4">
                <div class="app-input">
                  <span class="d-block font-600 small-2 mb-2 text-7">{{$t('document-flow.views.registration.document-type')}}</span>

                  <app-autocomplete
                    v-model="getHeaderFilters.doc_type"
                    :api-list-url="documentReferenceUrl"
                    :api-params="{
                      type: 'doc_type'
                    }"
                    list-type="list"
                    item-text="name"
                    item-value="id"
                    clearable
                  />
                </div>
              </v-col>
            </template>
            <!-- /Обращение -->

            <!-- Приказы и распоряжение -->
            <template v-if="currentRouteName === 'DocumentFlowOrdersProtocolsList'">
              <!-- Вид документа -->
              <v-col md="4">
                <div class="app-input">
                  <span class="d-block font-600 small-2 mb-2 text-7">{{$t('document-flow.views.registration.document-type')}}</span>

                  <app-autocomplete
                    v-model="getHeaderFilters.doc_type"
                    :api-list-url="documentReferenceUrl"
                    :api-params="{
                      type: 'doc_type'
                    }"
                    list-type="list"
                    item-text="name"
                    item-value="id"
                    clearable
                  />
                </div>
              </v-col>

              <!-- Департамент -->
              <v-col md="4">
                <div class="app-input">
                  <span class="d-block font-600 small-2 mb-2 text-7">{{$t('document-flow.views.registration.department')}}</span>

                  <v-autocomplete
                    v-model="getHeaderFilters.department"
                    :items="departmentList"
                    item-text="name"
                    item-value="id"
                    outlined
                    hide-details
                    clearable
                    background-color="var(--input-bg)"
                  >
                    <template #append>
                      <v-icon>mdi-chevron-down</v-icon>
                    </template>
                  </v-autocomplete>
                </div>
              </v-col>
            </template>
            <!-- /Приказы и распоряжение -->
					</v-row>

					<template v-if="currentRouteName === 'SignTableType'">
						<v-row>
							<v-col md="4" class="py-2">
								<div class="app-input">
									<span class="d-block font-600 small-2 mb-2 text-7">{{$t('document-flow.views.registration.registration-number')}}</span>

									<v-text-field
										v-model="getHeaderFilters.compose__register_number"
										outlined
										background-color="var(--input-bg)"
										hide-details
										clearable
									/>
								</div>
							</v-col>
						</v-row>


						<v-row>
							<div class="my-4 mx-4">
								<span class="small-2 d-block font-600 text-7">{{$t('document-flow.views.registration.state')}}</span>

								<div class="d-flex">
									<v-radio-group v-model="getHeaderFilters.is_signed" row mandatory hide-details>
										<v-radio
											class="mr-12"
											:value="null"
										>
											<template #label>
												<span class="ml-2 text-dark small-1 font-500">{{$t('document-flow.views.registration.all')}}</span>
											</template>
										</v-radio>

										<v-radio
											class="mr-12"
											:value="true"
										>
											<template #label>
												<span class="ml-2 text-dark small-1 font-500">{{$t('document-flow.views.registration.signed')}}</span>
											</template>
										</v-radio>

										<v-radio
											class="mr-12"
											value="unsigned"
										>
											<template #label>
												<span class="ml-2 text-dark small-1 font-500">{{$t('document-flow.views.registration.unsigned')}}</span>
											</template>
										</v-radio>

										<v-radio
											class="mr-12"
											:value="false"
										>
											<template #label>
												<span class="ml-2 text-dark small-1 font-500">{{$t('document-flow.views.registration.denied')}}</span>
											</template>
										</v-radio>
									</v-radio-group>
								</div>
							</div>
						</v-row>
					</template>

					<template v-if="currentRouteName === 'ApprovalTableType'">
						<v-row>
							<v-col md="4" class="py-2">
								<div class="app-input">
									<span class="d-block font-600 small-2 mb-2 text-7">{{$t('document-flow.views.registration.registration-number')}}</span>

									<v-text-field
										v-model="getHeaderFilters.compose__register_number"
										outlined
										background-color="var(--input-bg)"
										hide-details
										clearable
									/>
								</div>
							</v-col>
						</v-row>


						<v-row>
							<div class="my-4 mx-4">
								<span class="small-2 d-block font-600 text-7">{{$t('document-flow.views.registration.state')}}</span>

								<div class="d-flex">
									<v-radio-group v-model="getHeaderFilters.is_agreed" row mandatory hide-details>
										<v-radio
											class="mr-12"
											:value="null"
										>
											<template #label>
												<span class="ml-2 text-dark small-1 font-500">{{$t('document-flow.views.registration.all')}}</span>
											</template>
										</v-radio>

										<v-radio
											class="mr-12"
											:value="true"
										>
											<template #label>
												<span class="ml-2 text-dark small-1 font-500">{{$t('document-flow.views.registration.agreed')}}</span>
											</template>
										</v-radio>

										<v-radio
											class="mr-12"
											:value="false"
										>
											<template #label>
												<span class="ml-2 text-dark small-1 font-500">{{$t('document-flow.views.registration.inconsistent')}}</span>
											</template>
										</v-radio>

										<v-radio
											class="mr-12"
											value="unchecked"
										>
											<template #label>
												<span class="ml-2 text-dark small-1 font-500">{{$t('document-flow.views.registration.unverified')}}</span>
											</template>
										</v-radio>
									</v-radio-group>
								</div>
							</div>
						</v-row>
					</template>
				</div>

				<div class="d-flex mt-8">
					<app-button
						min-width="80"
            width="80"
            height="40"
            class="mr-3"
            @click="filter"
          >
						<template>
							{{$t('document-flow.views.registration.filter')}}
						</template>
					</app-button>

          <!-- Будет видно только на станице "Ящики" -->
          <template v-if="$route.path.split('/').includes('boxes')">
            <template v-if="!getIsHeaderFilterSaved">
              <app-button
                height="40"
                color="success"
                class="mr-3"
                @click="saveFilter"
              >
                <template>
                  {{$t('document-flow.views.registration.save-filter')}}
                </template>
              </app-button>
            </template>

            <template v-else>
              <app-button
                height="40"
                color="success"
                class="mr-4"
                @click="updateFilter"
              >
                <template>
                  {{$t('document-flow.views.registration.update-filter')}}
                </template>
              </app-button>
            </template>
          </template>
          <!-- Будет видно только на станице "Ящики" -->

          <app-button
						@click="closeFilterModal"
						min-width="85"
						width="85"
						height="40"
						outlined
						color="error"
					>
						<template>
							{{$t('document-flow.views.registration.cancel')}}
						</template>
					</app-button>
				</div>

        <pre class="d-none">{{ getIsHeaderFilterSaved }}</pre>
        <pre class="d-none">{{ currentRouteFilterType }}</pre>
        <pre class="d-none">{{ getHeaderFilters }}</pre>
			</div>
		</v-dialog>
	</div>
</template>

<script>
import { SearchIcon, XIcon } from "vue-feather-icons"
import { mapActions, mapGetters, mapMutations, mapState } from "vuex"

export default {
	name: "FilterModal",
	components: {
		XIcon,
    SearchIcon
	},
	props: {
	  activeRoute: String
		// filterModal: {
		// 	type: Boolean,
		// 	default: false
		// },
	},
	data() {
		return {
      filterModal: false,
			registerDatePicker: null,
			outgoingDatePicker: null,
			filterList: [
				{
					title: this.$t('document-flow.views.registration.completed'),
					value: "performed",
          color: "var(--primary-2)"
				},
        {
          title: this.$t('document-flow.views.registration.three-days-left'),
          value: "three_days_left",
          color: "var(--primary-3)"
        },
				{
					title: this.$t('document-flow.views.registration.later-done'),
					value: "overdue_performed",
          color: "var(--primary-4)"
				},
        {
          title: this.$t('document-flow.views.registration.overdue'),
          value: "overdue",
          color: "var(--primary-6)"
        }
			],
      assignmentTypeList: [
        {
          title: this.$t('document-flow.views.registration.order'),
          value: "assignment"
        },
        {
          title: this.$t('document-flow.views.registration.control-point'),
          value: "control_point"
        }
      ],
      currentRouteName: ""
		}
	},
	computed: {
	  ...mapState({
      filterState: state => state.headerFilter.filter,
    }),
    /*
    *
    * */
		...mapGetters({
      currentUser: "auth/getCurrentUser",
			getHeaderFilters: "documentFlowModule/getHeaderFilters",
			departmentList: "documentFlowModule/getDepartmentList",
      getNewJournalList: "documentFlowModule/getNewJournalList",
      getIsHeaderFilterSaved: "documentFlowModule/getIsHeaderFilterSaved",
		}),
		/*
		*
		* */
		documentReferenceUrl() {
			return `/docflow/${this.currentUser.filial}/reference/`
		},
		/*
		*
		* */
		usersReferenceUrl() {
			return `/${this.currentUser.filial}/user/lists/by_category/`
		},
    /*
    *
    * */
    currentRouteFilterType() {
      switch (this.currentRouteName) {
        // На согласование
        case "ApprovalTableType":
          this.fetchGetHeaderFilterByType({ type: "for_agreement" })
          return "for_agreement"
        // На рассмотрение
        case "BoxesTableType":
          this.fetchGetHeaderFilterByType({ type: "for_review" })
          return "for_review"
        // Входящие
        case "InboxTableType":
          this.fetchGetHeaderFilterByType({ type: "inbox" })
          return "inbox"
	      case "ControlTableType":
		      this.fetchGetHeaderFilterByType({ type: "inbox" })
		      return "inbox"
      }
    },
    /**/
		firstDayOfMonth(){
			let month = new Date().getMonth() + 1
			if (month < 10){
				month = "0" + month
			}
			return new Date().getFullYear() + "-" + month + "-01"
		}
	},
  watch: {
    $route: {
      immediate: true,
      handler(to) {
        this.currentRouteName = to.name
        // console.log(this.currentRouteName);
        this.toggleEventDescriptionModal(false)
      }
    },
    '$i18n.locale': {
      handler() {
        this.filterList = [
          {
            title: this.$t('document-flow.views.registration.completed'),
            value: "performed",
            color: "var(--primary-2)"
          },
          {
            title: this.$t('document-flow.views.registration.three-days-left'),
            value: "three_days_left",
            color: "var(--primary-3)"
          },
          {
            title: this.$t('document-flow.views.registration.later-done'),
            value: "overdue_performed",
            color: "var(--primary-4)"
          },
          {
            title: this.$t('document-flow.views.registration.overdue'),
            value: "overdue",
            color: "var(--primary-6)"
          }
        ];
        this.assignmentTypeList = [
          {
            title: this.$t('document-flow.views.registration.order'),
            value: "assignment"
          },
          {
            title: this.$t('document-flow.views.registration.control-point'),
            value: "control_point"
          }
        ]
      }
    }
  },
	mounted() {
		this.fetchDepartmentList();
		this.changeDateFilter();
	},
  methods: {
		...mapActions({
      toggleEventDescriptionModal: "gridCalendar/toggleEventDescriptionModal",
			fetchDepartmentList: "documentFlowModule/fetchDepartmentList",
      fetchSaveHeaderFilter: "documentFlowModule/fetchSaveHeaderFilter",
      fetchUpdateHeaderFilter: "documentFlowModule/fetchUpdateHeaderFilter",
      fetchGetHeaderFilterByType: "documentFlowModule/fetchGetHeaderFilterByType",
			fetchClearRegisterStartDate: "documentFlowModule/fetchClearRegisterStartDate",
    }),
    /*
    *
    * */
    ...mapMutations({
      CLEAR_HEADER_FILTER: "documentFlowModule/CLEAR_HEADER_FILTER"
    }),
    /*
    *
    * */
    search() {
      this.setFilters()
    },
    /*
    *
    * */
    setFilters() {
      let activeState = {}

      Object.entries(this.filterState).forEach(item => {
        const [key, value] = item

        if(value || (typeof value === "boolean")) {
          activeState = {
            ...activeState,
            [key]: value
          }
        }
      })

      this.$router.push({
        query: activeState
      })
    },
    /*
    *
    * */
		closeFilterModal() {
			this.$emit('closeModal', false)
		},
		/*
		*
		* */
		dateSelected(value, model, start, end) {
			model[start] = value[0]
			model[end] = value[1]
		},
		/*
		*
		* */
		filter() {
		  this.setFilters()
      // this.$emit('emit:filter', this.currentRouteName)
      // this.closeFilterModal();
		},
    /*
    *
    * */
    saveFilter() {
      if(!this.getHeaderFilters.__resolutionAssign) {
        delete this.getHeaderFilters["is_for_signature"]
        delete this.getHeaderFilters["is_verified"]
      }

      this.fetchSaveHeaderFilter({
        type: this.currentRouteFilterType,
        filterQuery: this.getHeaderFilters
      })
        .then(() => {
          this.$toast.success(this.$t('document-flow.views.registration.filter-saved'))

          this.$emit('emit:filter:save', this.currentRouteName)
          this.closeFilterModal();
        })
    },
    /*
    *
    * */
    updateFilter() {
      if(!this.getHeaderFilters.__resolutionAssign) {
        delete this.getHeaderFilters["is_for_signature"]
        delete this.getHeaderFilters["is_verified"]
      }

      this.fetchUpdateHeaderFilter({
        type: this.currentRouteFilterType,
        filterQuery: this.getHeaderFilters
      })
      .then(() => {
        this.$toast.success(this.$t('document-flow.views.registration.filter-updated'))

        this.$emit('emit:filter:update', this.currentRouteName)
        this.closeFilterModal();
      })
    },
	  /**/
	  changeDateFilter(){
		  if (!this.registerDatePicker){
		  	this.registerDatePicker = []
			  this.registerDatePicker[0] = this.firstDayOfMonth
		  }
	  }
	}
}
</script>
