<template>
	<div class="comment-dialog">
    <template v-if="currentUser.role !== 'assistant'">
      <div class="app-input mb-4">
        <span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.for-consideration')}}</span>

        <app-autocomplete
          @change="setEmployee"
          @setManyEmployees="setManyEmployees"
          v-model="reviewUserSelected"
          api-list-url="/user/search/"
          item-text="full_name"
          return-object
          cache-items
          clearable
          :item-disabled="getDisableItems"
          :disabled="isDisabled"
          group-staff-visible
        />
      </div>
    </template>

    <span v-if="currentUser.role === 'assistant'" class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.for-consideration')}}</span>

		<app-table
			:table-width="500"
			:table-head-items="employeeTableHeaders"
		>
			<template #tableBody>
				<tr v-for="(user, index) in reviewUsersComputed" :key="user.id">
					<td>{{ index + 1 }}</td>
					<td>{{ user.user.full_name }}</td>
					<td>{{ user.created_date | filterCalendarToTime }}</td>
					<td>
						<div class="d-flex align-center" style="width: 90px">
              <template v-if="currentUser.role !== 'assistant'">
                <app-button
	                v-if="!isDisabled"
                  @click="dialogDeleteUser = true; dialogDeleteUserSelected = user"
                  min-width="43"
                  width="43px"
                  color="var(--primary-4)"
                  icon
                >
                  <template #prepend>
                    <trash2-icon size="18"/>
                  </template>
                </app-button>
              </template>
						</div>
					</td>
				</tr>
			</template>
		</app-table>

		<template v-if="withController">
			<template v-if="currentUser.role !== 'assistant'">
				<div class="app-input my-4">
					<span class="d-block font-600 small-2 mb-2">{{$t('generalControl')}}</span>

					<app-autocomplete
						@change="setController"
						@setManyEmployees="setManyController"
						v-model="controllerSelected"
						api-list-url="/user/search/"
						item-text="full_name"
						return-object
						cache-items
						clearable
						:item-disabled="getDisableItems"
						:disabled="isDisabled"
					/>
				</div>
			</template>

			<span v-if="currentUser.role === 'assistant'" class="d-block font-600 small-2 mb-2">{{$t('generalControl')}}</span>

			<app-table
				:table-width="500"
				:table-head-items="employeeTableHeaders"
			>
				<template #tableBody>
					<tr v-for="(user, index) in controlUsersListComputed" :key="user.id">
						<td>{{ index + 1 }}</td>
						<td>{{ user.user.full_name }}</td>
						<td>{{ user.created_date | filterCalendarToTime }}</td>
						<td>
							<div class="d-flex align-center" style="width: 90px">
								<template v-if="currentUser.role !== 'assistant'">
									<app-button
										v-if="!isDisabled"
										@click="dialogDeleteUser = true; dialogDeleteUserSelected = user"
										min-width="43"
										width="43px"
										color="var(--primary-4)"
										icon
									>
										<template #prepend>
											<trash2-icon size="18"/>
										</template>
									</app-button>
								</template>
							</div>
						</td>
					</tr>
				</template>
			</app-table>
		</template>

		<v-dialog
			v-model="dialogDeleteUser"
			persistent
			max-width="450"
		>
			<v-card>
				<v-card-title></v-card-title>
				<v-card-text>
					<div class="app-input">
						<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.write-comment')}}</span>
						<v-textarea
							v-model="$v.leaveCommentModel.description.$model"
							:error="$v.leaveCommentModel.description.$error"
							outlined
							hide-details
							no-resize
							auto-grow
							dense
							background-color="var(--input-bg)"
						></v-textarea>
					</div>
				</v-card-text>
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn
						color="error darken-1"
						text
						@click="dialogDeleteUser = false"
					>
						{{$t('document-flow.views.registration.close')}}
					</v-btn>
					<v-btn
						color="primary darken-1"
						text
						@click="deleteEmployee(dialogDeleteUserSelected)"
					>
						{{$t('document-flow.views.registration.send')}}
					</v-btn>
				</v-card-actions>
			</v-card>
		</v-dialog>
	</div>
</template>

<script>
import { TABLE_HEAD_TEXT_LIST } from "@/common/constants";
import { selectFromList } from "@/common/helpers";
import { Trash2Icon } from "vue-feather-icons";
import { required } from "vuelidate/lib/validators";
import { mapActions, mapGetters } from "vuex";

export default {
	name: "ReviewUsers",
	props: {
		documentModel: {
			type: Object,
			required: true
		},
		isDisabled: {
			type: Boolean,
			default: false
		},
		withController: {
			type: Boolean,
			default: false
		},
		isXdfu: {
			type: Boolean,
			default: false
		}
	},
	components: {
		Trash2Icon
	},
	data() {
		return {
			dialogDeleteUser: false,
			leaveCommentModel: {
				description: ""
			},
			dialogDeleteUserSelected: null,

			reviewUserSelected: {},
			controllerSelected: {}
		}
	},
	validations: {
		leaveCommentModel: {
			description: {required}
		}
	},
	computed: {
		...mapGetters({
      currentUser: "auth/getCurrentUser",
			reviewUsersList: "documentFlowModule/getReviewUsersList",
			getDisableItems: "getDisableItems",
		}),
		employeeTableHeaders() {
			return selectFromList([1, 24, 23, 19], TABLE_HEAD_TEXT_LIST)
		},
		reviewUsersComputed() {
			return this.reviewUsersList.filter(item => item.is_controller === false);
		},
		controlUsersListComputed() {
			return this.reviewUsersList.filter(item => item.is_controller === true);
		}
	},
	mounted() {
		if (this.$route.params.id){
			this.fetchReviewUsersList(this.$route.params.id)
		}
	},
	methods: {
		...mapActions({
			fetchDeleteReviewUserFromList: "documentFlowModule/fetchDeleteReviewUserFromList",
			fetchSetNewReviewUser: "documentFlowModule/fetchSetNewReviewUser",
			fetchReviewUsersList: "documentFlowModule/fetchReviewUsersList",
			fetchNewComments: "action/fetchNewComments",
			fetchActivitiesList: "action/fetchActivitiesList",
		}),
		deleteEmployee(user) {
			console.log(user)

			this.$v.leaveCommentModel.$touch();

			if (this.$v.leaveCommentModel.$invalid) {
				return;
			}

			if (!confirm(this.$t('document-flow.views.registration.delete-user-confirmation'))) {
				return;
			}

			this.fetchDeleteReviewUserFromList({
				model: this.documentModel,
				userId: user.id,
				incomingDocId: this.$route.params.id
			}).then(() => {
				this.$toast.success(this.$t('document-flow.views.registration.user-deleted'))

				this.fetchNewComments({
					obj: this.documentModel.document_unique_id,
					description: user.user.full_name + '<br>' + this.leaveCommentModel.description
				});

				this.fetchActivitiesList({
					obj: this.documentModel.document_unique_id
				});

				this.leaveCommentModel.description = ""
				this.$v.$reset()

				this.dialogDeleteUser = false
			});
		},
		/** **/
		setEmployee() {
			if (this.reviewUserSelected) {
				this.fetchSetNewReviewUser({
					model: this.documentModel,
					userId: this.reviewUserSelected.id,
					incomingDocId: this.$route.params.id,
					isSecret: this.isXdfu
				});
			}
		},
		/** **/
		setManyEmployees(list){
			list.forEach(item => {
				this.fetchSetNewReviewUser({
					model: this.documentModel,
					userId: item.id,
					incomingDocId: this.$route.params.id,
					isSecret: this.isXdfu
				})
			})
		},
		/** **/
		setController() {
			if (this.controllerSelected) {
				this.fetchSetNewReviewUser({
					model: this.documentModel,
					userId: this.controllerSelected.id,
					isController: true,
					incomingDocId: this.$route.params.id
				});
			}
		},
		/** **/
		setManyController(list){
			list.forEach(item => {
				this.fetchSetNewReviewUser({
					model: this.documentModel,
					userId: item.id,
					isController: true,
					incomingDocId: this.$route.params.id
				})
			})
		}
	}
}
</script>

<style scoped>

</style>
