<template>
	<div class="d-flex flex-column birthday-component bg-greyscale-100 w-100 h-100 rounded-12 pa-4 pt-3 pr-2 p-relative">
		<div class="d-flex align-center justify-space-between">
			<div class="d-flex align-center">
				<v-icon size="24" color="var(--primary-500)">{{ "$vuetify.icons.UserV2" }}</v-icon>
				<span class="small-1 font-600 d-inline-block ml-2">{{ $t('dashboard.components.birthdays-today') }}</span>
			</div>

			<div>
				<v-tabs
					v-model="tabSelected"
					height="24"
					@change="onTypeChange"
				>
					<v-tab
						v-for="(item, index) in tabList"
						:key="index"
						class="d-flex align-center"
					>
						<span class="small-2 text-greyscale-400 text-transform-none font-500">{{ $t(item.label) }}</span>

					</v-tab>


				</v-tabs>
			</div>
		</div>

		<div class="mt-3 w-100 h-100" style="min-height: 208px; max-height: 340px">

			<v-tabs-items v-model="tabSelected" class="h-100">
				<v-tab-item :transition="false" class="h-100">
					<template v-if="loading">
						<div class="d-flex justify-center align-center rounded-10 mr-2 h-100">
							<app-loader/>
						</div>
					</template>

					<template v-else>
						<template v-if="!allBirthdayList.length">
							<div style="height: 307px" class="d-flex flex-column justify-center align-center bg-greyscale-100 rounded-10 mt-3">
								<v-icon size="96" color="var(--primary-500)">{{ "$vuetify.icons.EmptyV2" }}</v-icon>
								<span class="small-2 font-500 text-greyscale-600 d-block mt-3">{{ $t('noBirthdays') }}</span>
							</div>
						</template>
						<template v-else>
							<div class="h-100 rounded-10 overflow-hidden overflow-y-auto">
								<div class="d-flex flex-wrap flex-column rounded-10 overflow-hidden p-relative mr-2">
									<canvas id="canvas" class="p-absolute w-100 h-100" style="z-index: 2; top: 0"></canvas>
									<div
										v-for="user in allBirthdayList"
										:key="user.id"
										class="d-flex justify-space-between align-center bg-white py-3 px-4"
										style="border-bottom: 1px solid var(--greyscale-200)"
									>
										<div class="d-flex">
											<app-avatar
												:full-name="user.last_name"
												:color="user.color"
												avatar-size="36"
												avatar-text-size="14"
											/>

											<div class="d-flex flex-column ml-3">
												<div class="d-flex align-center">
													<span class="small-2 font-600 text-greyscale-900">{{ user.last_name }} {{ user.first_name }}</span>
													<div class="bg-greyscale-400 rounded-lg mx-1" style="width: 4px; height: 4px"></div>
													<span class="small-3 font-600 text-greyscale-600">{{ user.cisco }}</span>
												</div>

												<div class="d-flex align-center small-3 font-600 text-greyscale-400">
													<span>{{ user.top_level_dept_name }}</span>
													<div class="bg-greyscale-400 rounded-lg mx-2" style="width: 4px; height: 4px"></div>
													<span>{{ user.filial_name }}</span>
												</div>
											</div>
										</div>

										<div
											class="d-flex bg-greyscale-100 rounded-6"
											:class="user.is_congratulated ? '' : 'pointer'"
											style="padding: 6px; z-index: 3"
											@click="congratulateUser(user)"
										>
											<template v-if="user.__congratulateLoading">
												<v-progress-circular
													:width="3"
													:size="24"
													color="primary"
													indeterminate
												></v-progress-circular>
											</template>

											<template v-else>
												<v-icon v-if="user.is_congratulated" size="24" color="var(--primary-500)">{{ "$vuetify.icons.Monotone" }}</v-icon>
												<v-icon v-else size="24" color="var(--primary-500)">{{ "$vuetify.icons.MonotoneFilled" }}</v-icon>
											</template>
										</div>
									</div>
								</div>
							</div>
						</template>
					</template>
				</v-tab-item>

				<v-tab-item :transition="false" class="h-100">
					<template v-if="congratulatorLoading">
						<div class="d-flex justify-center align-center rounded-10 mr-2 h-100">
							<app-loader/>
						</div>
					</template>

					<template v-else>
						<template v-if="!congratulatorList.length">
							<div style="height: 307px" class="d-flex flex-column justify-center align-center bg-greyscale-100 rounded-10 mt-3">
								<v-icon size="96" color="var(--primary-500)">{{ "$vuetify.icons.EmptyV2" }}</v-icon>
								<span class="small-2 font-500 text-greyscale-600 d-block mt-3">{{ $t('noCongratulator') }}</span>
							</div>
						</template>

						<template v-else>
							<div class="h-100 rounded-10 overflow-hidden overflow-y-auto">
								<div class="d-flex flex-wrap flex-column rounded-10 overflow-hidden p-relative mr-2">
									<canvas id="canvas" class="p-absolute w-100 h-100" style="z-index: 2; top: 0"></canvas>
									<div
										v-for="item in congratulatorList"
										:key="item.id"
										class="d-flex justify-space-between align-center bg-white py-3 px-4"
										style="border-bottom: 1px solid var(--greyscale-200)"
									>
										<div class="d-flex">
											<app-avatar
												:full-name="item.created_by.last_name"
												:color="item.created_by.color"
												avatar-size="36"
												avatar-text-size="14"
											/>

											<div class="d-flex flex-column ml-3">
												<div class="d-flex align-center">
													<span class="small-2 font-600 text-greyscale-900">{{ item.created_by.last_name }} {{ item.created_by.first_name }}</span>
													<div class="bg-greyscale-400 rounded-lg mx-1" style="width: 4px; height: 4px"></div>
													<span class="small-3 font-600 text-greyscale-600">{{ item.created_by.cisco }}</span>
												</div>

												<span class="small-3 font-600 text-greyscale-400">{{ item.created_by.position }}</span>
											</div>
										</div>

										<div
											class="d-flex bg-greyscale-100 rounded-6"
											style="padding: 6px;"
										>
											<v-icon size="24" color="var(--primary-500)">{{ "$vuetify.icons.MonotoneFilled" }}</v-icon>
										</div>
									</div>
								</div>
							</div>
						</template>
					</template>
				</v-tab-item>
			</v-tabs-items>
		</div>
	</div>
</template>

<script>
import confetti from "canvas-confetti";
import {mapGetters} from "vuex";

export default {
	name: "Birthday",
	data() {
		return {
			loading: false,
			congratulatorLoading: false,
			tabSelected: 0,
			allBirthdayList: [],
			congratulatorList: [],
			tabList: [
				{
					label: "components.all"
				},
				{
					label: "congratulations"
				}
			]
		}
	},
	computed: {
		...mapGetters({
			currentUser: "auth/getCurrentUser",
		})
	},
	mounted() {
		this.getAllBirthdayList();
	},
	methods: {
		getAllBirthdayList() {
			this.loading = true;
			this.$axios.get(`/dashboard/born-in-today/`, {
				params: {
					page_size: 50
				}
			})
				.then(({data}) => {
					if (data.results.length){
						this.allBirthdayList = [];
						data.results.forEach(item => {
							this.allBirthdayList.push({
								...item,
								__congratulateLoading: false
							})
						})
					}
				})
				.finally(() => {
					this.loading = false;
				})
		},
		/** **/
		getCongratulatorsList() {
			this.congratulatorLoading = true;
			this.$axios.get(`/dashboard/v2/bday-congratulations/`, {
				params: {
					page_size: 1000,
					bday_user: this.currentUser.id
				}
			})
				.then(({ data }) => {
					this.congratulatorList = data.results;
				})
				.finally(() => {
					this.congratulatorLoading = false;
				})
		},
		/** **/
		congratulateUser(user) {
			if (!user.is_congratulated){
				user.__congratulateLoading = true

				this.$axios.post(`/dashboard/v2/bday-congratulations/`, {
					bday_user: user.id
				})
					.then(() => {
						let canvasContainer = document.querySelector("canvas")

						let confettiInstance = confetti.create(canvasContainer, {
							resize: true,
							useWorker: true
						})

						confettiInstance({
							particleCount: 450,
							spread: 60,
							origin: { y: 1.2 }
						})

						let congratulationUser = this.allBirthdayList.find(userA => userA.id === user.id)

						congratulationUser.is_congratulated = true
					})
					.finally(() => {
						user.__congratulateLoading = false
					})
			}
		},
		/** **/
		onTypeChange(val) {
			if (val === 0) {
				this.getAllBirthdayList();
			} else {
				this.getCongratulatorsList();
			}
		}
	}
}
</script>

<style>
.birthday-component .v-tabs-slider-wrapper {
	display: none!important;
}

.birthday-component .v-tab,
.birthday-component .v-tab:before {
	border-radius: 8px!important;
	padding: 0 8px!important;
}

.birthday-component .v-tab--active span {
	color: var(--primary-500) !important;
}
</style>
