<template>
	<div class="department-contacts bg-greyscale-100 w-100 rounded-12 pa-4 pt-3 pr-2">
		<div class="d-flex align-center">
			<v-icon size="24" color="var(--primary-500)">{{ "$vuetify.icons.UsersV2" }}</v-icon>
			<span class="small-1 font-600 d-inline-block ml-2">{{ $t('contacts') }}</span>
		</div>

		<div class="mt-3 w-100" style="height: 368px;">
			<div class="h-100 rounded-10 overflow-hidden overflow-y-auto">
				<template v-if="loading">
					<div class="d-flex justify-center align-center rounded-10 bg-white mr-2 h-100">
						<app-loader />
					</div>
				</template>
				<template v-else>
					<div class="d-flex flex-wrap flex-column rounded-10 overflow-hidden mr-2">
						<div
							v-for="user in userList"
							:key="user.id"
							class="d-flex bg-white py-3 px-4"
							style="border-bottom: 1px solid var(--greyscale-200)"
						>
							<app-avatar
								:full-name="user.last_name"
								:color="user.color"
								avatar-size="36"
								avatar-text-size="14"
							/>

							<div class="d-flex flex-column ml-3">
								<div class="d-flex align-center">
									<span class="small-2 font-600 text-greyscale-900">{{ user.last_name }} {{ user.first_name }}</span>
									<div class="bg-greyscale-400 rounded-lg mx-1" style="width: 4px; height: 4px"></div>
									<span class="small-3 font-600 text-greyscale-600">{{ user.cisco }}</span>
								</div>

								<span class="small-3 font-600 text-greyscale-400">
									{{ user.position }} -
									<span
										:class="{
                              'success-text':
                                user.condition_name === 'Рабочие' ||
                                user.condition_name === 'Командировка',
                              'red--text':
                                user.condition_name !== 'Рабочие' &&
                                user.condition_name !== 'Командировка',
                            }"
									>
										{{ user.condition_name }}
									</span>
								</span>
							</div>
						</div>
					</div>
				</template>
			</div>
		</div>
	</div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
	name: "DepartmentContacts",
	data() {
		return {
			loading: false,
			userList: []
		}
	},
	computed: {
		...mapGetters({
			currentUser: "auth/getCurrentUser"
		})
	},
	mounted() {
		this.getList();
	},
	methods: {
		getList() {
			this.loading = true;
			this.$axios.get(`/dashboard/${this.currentUser.filial}/my-departament-users/${this.currentUser.top_level_dept}/`, {
				params: {
					page_size: 100
				}
			})
				.then(({ data }) => {
					this.userList = data.results;
				})
				.finally(() => {
					this.loading = false;
				})
		},
	}
}
</script>

<style scoped>

</style>
