<template>
 <div class="incoming-messages w-100 rounded-12 bg-greyscale-100 pa-4 pt-3">
	 <div class="d-flex align-center justify-space-between">
		 <div class="d-flex align-center">
			 <v-icon size="24" color="var(--primary-500)">{{ "$vuetify.icons.FolderDownload" }}</v-icon>
			 <span class="small-1 font-600 d-inline-block ml-2">{{ $t('layout.inbox') }}</span>
		 </div>

		 <div>
			 <v-tabs
				 v-model="tabSelected"
				 height="24"
				 @change="onTypeChange"
			 >
				 <v-tab
					 v-for="(item, index) in tabList"
					 :key="index"
					 class="d-flex align-center"
				 >
					 <span class="small-2 text-greyscale-400 text-transform-none font-500">{{ $t(item.label) }}</span>

					 <template v-if="loading && item.value !== 'all'">
						 <div class="d-flex justify-center align-center rounded-6 bg-critic-100 text-critic-500 small-3 font-600 ml-1" style="width: 20px; height: 20px;">
							 <v-progress-circular
								 :width="1"
								 :size="10"
								 color="red"
								 indeterminate
							 ></v-progress-circular>
						 </div>
					 </template>

					 <template v-else>
						 <div
							 v-if="item.value !== 'all'"
							 class="d-flex justify-center align-center rounded-6 small-3 font-600 ml-1"
							 :class="item.count === 0 ? 'bg-greyscale-300 text-greyscale-500' : 'bg-critic-100 text-critic-500'"
							 style="width: 20px; height: 20px;"
						 >
							 {{ item.count }}
						 </div>
					 </template>

				 </v-tab>
			 </v-tabs>
		 </div>
	 </div>

	 <div
		 class="d-flex flex-wrap rounded-10 mt-3 overflow-hidden"
		 style="box-shadow: 0 1px 2px 0 rgba(3, 12, 43, 0.05); gap: 1px"
	 >
		 <div
			 v-for="(item, index) in menuList"
			 :key="index"
			 class="incoming-item d-flex align-center justify-space-between bg-white px-4 py-6 pointer"
			 style="width: calc(50% - 1px); height: 61px"
			 @click="openRoute(item)"
		 >
			 <div class="d-flex align-center">
				 <v-icon
					 size="28"
					 :color="`var(--${item.iconColor})`"
				 >
					 {{ `$vuetify.icons.${item.icon}` }}
				 </v-icon>
				 <div class="d-flex flex-column ml-2">
					 <span class="d-inline-block small-2 font-600">{{ $t(item.label) }}</span>
					 <span v-if="item.subText" class="d-inline-block small-3 font-600 text-greyscale-400">{{ $t(item.subText) }}</span>
				 </div>
			 </div>

			 <v-progress-circular
				 v-if="loading"
				 :width="3"
				 :size="20"
				 color="var(--primary-500)"
				 indeterminate
			 ></v-progress-circular>

			 <span v-else class="heading-11 font-600">{{ item.count }}</span>
		 </div>

<!--		 <div
			 class="incoming-item d-flex align-center justify-center bg-white px-4 py-6 pointer"
			 style="width: calc(50% - 1px); height: 61px"
		 >
&lt;!&ndash;			 <span class="small-2 font-500 text-greyscale-400">{{ $t('onDevelopment') }}</span>&ndash;&gt;
		 </div>-->
	 </div>
 </div>
</template>

<script>
export default {
	name: "IncomingMessages",
	data() {
		return {
			loading: false,
			tabSelected: 0,
			newMessages: {},
			progressingMessages: {},
			allMessages: {},
			tabList: [
				{
					label: 'new',
					value: 'new',
					count: 0
				},
				{
					label: 'document-flow.views.registration.in-progress',
					value: 'progress',
					count: 0
				},
				{
					label: 'components.all',
					value: 'all',
					count: null
				}
			],
			menuList: [
				{
					label: "components.for-consideration",
					subText: null,
					value: "for_review",
					icon: "Menu",
					iconColor: "success-500",
					status: null,
					routeName: "ReviewIndex",
					query: null,
					newQuery: { is_read: false },
					progressQuery: { has_resolution: false },
					allQuery: null,
					count: 0
				},
				{
					label: "components.orders",
					subText: null,
					value: "assignment",
					icon: "FlashCircle",
					iconColor: "primary-500",
					status: null,
					routeName: "InboxIndex",
					query: null,
					newQuery: { is_read: false },
					progressQuery: { status: '1,3,6' },
					allQuery: null,
					count: 0
				},
				{
					label: "dashboard.components.approval",
					subText: null,
					value: "agreement",
					icon: "Mouse",
					iconColor: "info-500",
					status: null,
					routeName: "ApprovalIndex",
					query: null,
					newQuery: { is_agreed: 'unchecked' },
					progressQuery: { is_agreed: false },
					allQuery: null,
					count: 0
				},
				{
					label: "components.for-signature",
					subText: null,
					value: "signature",
					icon: "Edit",
					iconColor: "success-500",
					status: null,
					routeName: "SignIndex",
					query: null,
					newQuery: { is_signed: 'unsigned' },
					progressQuery: { is_signed: false },
					allQuery: null,
					count:0
				},
				{
					label: "components.on-review",
					subText: "components.for-consideration",
					value: "on_review_for_review",
					icon: "Eye",
					iconColor: "warning-500",
					status: null,
					routeName: "ReviewIndex",
					query: null,
					newQuery: { status: '7' },
					progressQuery: { status: '7' },
					allQuery: { status: '7' },
					count: 0
				},
				{
					label: "components.on-review",
					subText: "components.orders",
					value: "on_review",
					icon: "Eye",
					iconColor: "warning-500",
					status: null,
					routeName: "InboxIndex",
					query: null,
					newQuery: { status: '7' },
					progressQuery: { status: '7' },
					allQuery: { status: '7' },
					count: 0
				},
				{
					label: "confirm",
					subText: null,
					value: "for_verification",
					icon: "Edit",
					iconColor: "greyscale-400",
					status: null,
					routeName: "ConfirmationIndex",
					query: null,
					newQuery: null,
					progressQuery: null,
					allQuery: null,
					count: 0
				},
				{
					label: "components.overdue",
					subText: null,
					value: "overdue",
					icon: "CalendarRemove",
					iconColor: "critic-500",
					status: null,
					routeName: "InboxIndex",
					query: null,
					newQuery: { status: '8' },
					progressQuery: { status: '8' },
					allQuery: { status: '8' },
					count: 0
				},
				{
					label: "components.task-not-done",
					subText: null,
					value: "not_performed",
					icon: "MinusCircle",
					iconColor: "critic-500",
					status: null,
					routeName: "InboxIndex",
					query: null,
					newQuery: { status: '9' },
					progressQuery: { status: '9' },
					allQuery: { status: '9' },
					count: 0
				},
				{
					label: "layout.control-tasks",
					subText: null,
					value: "control_tasks",
					icon: "Menu",
					iconColor: "primary-500",
					status: null,
					routeName: "Tasks",
					query: null,
					newQuery: { type: 'chairman', export_type: '1', status: '-2' },
					progressQuery: { type: 'chairman', export_type: '1' },
					allQuery: { type: 'chairman', export_type: '1' },
					count: 0
				}
			]
		}
	},
	async mounted() {
		this.loading = true;
		await this.getAllCounts();
		await this.setMessageCounts("new");
		this.loading = false;
	},
	methods: {
		async onTypeChange(val) {
			this.loading = true;
			let type = val === 0 ? "new" : val === 1 ? "progress" : "all";
			await this.getAllCounts();
			await this.setMessageCounts(type);
			this.loading = false;
		},
		/** **/
		async getAllCounts() {
			await this.getNewMessagesCount();
			await this.getProgressingMessagesCount();
			await this.getAllMessagesCount();
		},
		/** **/
		async getNewMessagesCount() {
			const response = await this.$axios.get(`/dashboard/v2/docflow-new-counts/`);
			if (response && response.status === 200){
				this.newMessages = response.data;
				this.tabList[0].count = 0;
				for (let key in response.data) {
					if (response.data.hasOwnProperty(key)){
						if (key !== 'overdue') {
							this.tabList[0].count += response.data[key];
						}
					}
				}
			}
		},
		/** **/
		async getProgressingMessagesCount() {
			const response = await this.$axios.get(`/dashboard/v2/docflow-in-progress-counts/`);
			if (response && response.status === 200){
				this.progressingMessages = response.data;
				this.tabList[1].count = 0;
				for (let key in response.data) {
					if (response.data.hasOwnProperty(key)){
						if (key !== 'overdue') {
							this.tabList[1].count += response.data[key];
						}
					}
				}
			}
		},
		/** **/
		async getAllMessagesCount() {
			const response = await this.$axios.get(`/dashboard/v2/docflow-all-counts/`);
			if (response && response.status === 200){
				this.allMessages = response.data;
			}
		},
		/** **/
		setMessageCounts(type) {
			if (type === "new") {
				if (Object.keys(this.newMessages).length > 0) {
					this.menuList.forEach(item => {
						item.count = this.newMessages[item.value];
						item.status = type;
						item.query = item.newQuery;
					})
				}
			}
			else if (type === "progress") {
				if (Object.keys(this.progressingMessages).length > 0) {
					this.menuList.forEach(item => {
						item.count = this.progressingMessages[item.value];
						item.status = type;
						item.query = item.progressQuery;
					})
				}
			} else {
				if (Object.keys(this.allMessages).length > 0) {
					this.menuList.forEach(item => {
						item.count = this.allMessages[item.value];
						item.status = type;
						item.query = item.allQuery;
					})
				}
			}
		},
		/** **/
		openRoute(item) {
			this.$router.push({
				name: item.routeName,
				query: item.query
			})
		}
	}
}
</script>

<style>
.incoming-messages .v-tabs-slider-wrapper {
	display: none!important;
}

.incoming-messages .v-tab,
.incoming-messages .v-tab:before {
	border-radius: 8px!important;
	padding: 0 8px!important;
}

.incoming-messages .v-tab--active span {
	color: var(--primary-500) !important;
}

.incoming-item:hover {
	background: var(--primary-50);
	color: var(--primary-500);
}
</style>
