<template>
	<div class="d-flex flex-column my-ijro-component bg-greyscale-100 w-100 h-100 rounded-12 pa-4 pt-3 pr-2">
		<div class="d-flex align-center justify-space-between">
			<div class="d-flex align-center">
				<v-icon size="24" color="var(--primary-500)">{{ "$vuetify.icons.UserCheck" }}</v-icon>
				<span class="small-1 font-600 d-inline-block ml-2">My Ijro</span>
			</div>
			<div>
				<v-tabs
					@change="onTypeChange"
					height="24"
					v-model="tab"
					>
					<v-tab
						class="d-flex align-center"
						>
						<span class="small-2 text-greyscale-400 text-transform-none font-500">{{ $t('overdue') }}</span>
						<template v-if="loading">
							<div class="d-flex justify-center align-center rounded-6 bg-critic-100 text-critic-500 small-3 font-600 ml-1" style="width: 20px; height: 20px;">
								<v-progress-circular
									:size="10"
									:width="1"
									color="red"
									indeterminate
								></v-progress-circular>
							</div>
						</template>
						<template v-else>
							<div
								:class="overdueCount === 0 ? 'bg-greyscale-300 text-greyscale-500' : 'bg-critic-100 text-critic-500'"
								class="d-flex justify-center align-center rounded-6 small-3 font-600 ml-1"
								style="width: 20px; height: 20px;"
							>
								{{ overdueCount }}
							</div>
						</template>
					</v-tab>

					<v-tab
						class="d-flex align-center"
					>
						<span class="small-2 text-greyscale-400 text-transform-none font-500">{{ $t('oncoming') }}</span>
						<template v-if="loading">
							<div class="d-flex justify-center align-center rounded-6 bg-critic-100 text-critic-500 small-3 font-600 ml-1" style="width: 20px; height: 20px;">
								<v-progress-circular
									:size="10"
									:width="1"
									color="red"
									indeterminate
								></v-progress-circular>
							</div>
						</template>
						<template v-else>
							<div
								:class="oncomingCount === 0 ? 'bg-greyscale-300 text-greyscale-500' : 'bg-critic-100 text-critic-500'"
								class="d-flex justify-center align-center rounded-6 small-3 font-600 ml-1"
								style="width: 20px; height: 20px;"
							>
								{{ oncomingCount }}
							</div>
						</template>
					</v-tab>
				</v-tabs>
			</div>
		</div>
		<template v-if="loading">
			<div style="height: 307px" class="d-flex justify-center align-center bg-greyscale-100 rounded-10 mt-3">
				<app-loader />
			</div>
		</template>
		<template v-else>
			<template v-if="currentTasks.length">
				<div style="min-height: 320px" class="mt-3 d-flex flex-column justify-space-between">
					<div>
						<v-row class="ma-0 pa-0">
							<v-col
								v-for="item in currentTasks"
								:key="item.id"
								lg="6" md="6" sm="6" cols="12"
								class="pa-0 ma-0 pr-2 pb-2"
							>
								<div
									class="item-card d-flex flex-column bg-white rounded-10 pointer overflow-hidden" style="height: 142px"
									@click="openDetail(item)"
								>
									<div class="d-flex bg-info-50 align-center" style="padding: 10px 16px">
										<v-icon size="16" color="var(--primary-500)">{{ "$vuetify.icons.Calendar" }}</v-icon>
										<template v-if="item.deadline">
											<span v-if="$i18n.locale === 'uz'" class="d-block small-3 font-600 text-primary-500" style="margin-left: 6px">{{ item.deadline | filterDateMonthYear }} gacha</span>
											<span v-else class="d-block small-3 font-600 text-primary-500" style="margin-left: 6px">До {{ item.deadline | filterDateMonthYear }}</span>
										</template>
									</div>
									<div class="d-flex flex-column pa-4">
										<span class="size-13 font-600 w-100 line-truncate">{{ item.doc_number }}</span>
										<span class="size-13 font-600 w-100 line-truncate">{{ item.doc_type && item.doc_type.title }}</span>
										<span class="small-3 font-600 w-100 line-truncate-2 text-greyscale-400" v-html="item.description"></span>
									</div>
								</div>
							</v-col>
						</v-row>
					</div>
					<div
						@click="openList"
						class="d-flex rounded-8 bg-white mr-2 pointer flex-1" style="min-height: 36px; max-height: 36px"
					>
						<div class="all-button d-flex w-100 justify-center align-center">
							<span class="small-2 font-600 text-primary-500">{{ $t('allTasks') }}</span>
							<v-icon size="20" color="var(--primary-500)">{{ "$vuetify.icons.ArrowRight" }}</v-icon>
						</div>
					</div>
				</div>
			</template>
			<template v-else>
				<div style="height: 307px" class="d-flex flex-column justify-center align-center bg-greyscale-100 rounded-10 mt-3">
					<v-icon size="96" color="var(--primary-500)">{{ "$vuetify.icons.EmptyV2" }}</v-icon>
					<span class="small-2 font-500 text-greyscale-600 d-block mt-3">{{ $t('notTasks') }}</span>
				</div>
			</template>
		</template>
	</div>
</template>
<script>
import AppLoader from "@/common/components/base/AppLoader.vue";
export default {
	name: "MyIjro",
	comments: {
		AppLoader,
	},
	data() {
		return {
			loading: false,
			oncomingCount: 0,
			oncomingTasks: [],
			overdueCount: 0,
			overdueTasks: [],
			tab: 0,
			tabs: [
				{
					label: 'oncoming',
					value: 0,
				},
				{
					label: 'overdue',
					value: 1,
				},
			],
		}
	},
	mounted() {
		this.getOverdueTasks();
		this.getOncomingTasks();
	},
	computed: {
		currentTasks() {
			const currentTasks = this.tab === 1 ? this.oncomingTasks : this.overdueTasks;
			return currentTasks;
		}
	},
	methods: {
		async onTypeChange(tab) {
			this.tab = tab;
			if(tab === 0) {
				this.getOncomingTasks();
			} else {
				this.getOverdueTasks();
			}
		},
		getOncomingTasks() {
			this.loading = true;
			this.$axios.get('/dashboard/v2/my-control-tasks/')
				.then(response => {
					const oncomingCount = response?.data?.count || 0;
					const results = response?.data?.results;
					const oncomingTasks = (Array.isArray(results) ? results:[]).slice(0, 4);
					this.oncomingCount = oncomingCount
					this.oncomingTasks = oncomingTasks;
				})
				.catch(() => {
					this.oncomingTasks = [];
				})
				.finally(() => {
					this.loading = false;
				})
		},
		getOverdueTasks() {
			this.loading = true;
			this.$axios.get('/dashboard/v2/my-control-tasks/overdue/')
				.then(response => {
					const overdueCount = response?.data?.count || 0
					const results = response?.data?.results;
					const overdueTasks = (Array.isArray(results) ? results:[]).slice(0, 4)
					this.overdueCount = overdueCount
					this.overdueTasks = overdueTasks;
				})
				.catch(() => {
					this.overdueTasks = [];
				})
				.finally(() => {
					this.loading = false;
				})
		},
		openDetail(item) {
			const types = {
				'0': 'chairman',
				'1': 'deputy-chair',
				'2': 'audit',
			}
			this.$router.push({
				name: "Tasks",
				query: {
					type: types?.[item.type],
					task: item.id
				}
			})
		},
		openList() {
			this.$router.push({
				name: "Tasks"
			})
		}
	}
}
</script>
<style>
.my-ijro-component .v-tabs-slider-wrapper {
	display: none !important;
}
.my-ijro-component .v-tab,
.my-ijro-component .v-tab:before {
	border-radius: 8px!important;
	padding: 0 8px!important;
}
.my-ijro-component .v-tab--active span {
	color: var(--primary-500) !important;
}
.item-card:hover {
	background: var(--primary-50);
	color: var(--primary-500);
}
</style>
