<template>
	<div class="priority-component d-flex align-center">
		<div
			class="d-flex bg-primary-500"
			:class="dotClasses"
			style="width: 4px; height: 4px"
		></div>
		<div
			class="font-600 small-3 ml-2"
			:class="textClasses"
		>
			{{ label }}
		</div>
	</div>
</template>

<script>
export default {
	name: "Priority",
	props: {
		status: {
			type: String,
			default: "low"
		}
	},
	computed: {
		dotClasses() {
			switch (this.status) {
				case "low":
					return "bg-warning-500"
				case "medium":
					return "bg-info-500"
				default:
					return "bg-critic-500"
			}
		},
		textClasses() {
			switch (this.status) {
				case "low":
					return "text-warning-500"
				case "medium":
					return "text-info-500"
				default:
					return "text-critic-500"
			}
		},
		label() {
			switch (this.status) {
				case "low":
					return this.$t('components.short')
				case "medium":
					return this.$t('components.middle')
				default:
					return this.$t('components.high')
			}
		}
	}
}
</script>

<style scoped>

</style>
