<template>
	<div class="d-flex flex-column services-component bg-greyscale-100 w-100 rounded-12 pa-4 pt-3 pr-2">
		<div class="d-flex align-center">
			<v-icon size="24" color="var(--primary-500)">{{ "$vuetify.icons.LinkV2" }}</v-icon>
			<span class="small-1 font-600 d-inline-block ml-2">{{ $t('links') }}</span>
		</div>

		<div class="mt-3 w-100 h-100" style="min-height: 208px; max-height: 274px">
			<template v-if="loading">
				<div class="d-flex justify-center align-center rounded-10 bg-white mr-2 h-100">
					<app-loader/>
				</div>
			</template>

			<template v-else>
				<div class="h-100 rounded-10 overflow-hidden overflow-y-auto">
					<div class="d-flex flex-wrap flex-column rounded-10 overflow-hidden mr-2">
						<a
							v-for="item in serviceList"
							:key="item.id"
							:href="item.link"
							target="_blank"
							class="d-flex justify-space-between align-center bg-white pointer text-decoration-none hoverable py-3 px-4"
							style="border-bottom: 1px solid var(--greyscale-200)"
						>
							<div class="d-flex align-center">
								<div class="d-flex align-center" style="width: 110px">
									<img :src="item.image.url" :alt="item.image.name" height="35px"/>
								</div>
								<span class="small-1 font-500 text-greyscale-600">{{ item.name }}</span>
							</div>
						</a>
					</div>
				</div>
			</template>
		</div>
	</div>
</template>

<script>
export default {
	name: "Services",
	data() {
		return {
			loading: false,
			serviceList: []
		}
	},
	mounted() {
		this.getServices();
	},
	methods: {
		getServices() {
			this.loading = true;
			this.$axios.get(`/service/apps/`, {
				params: {
					page_size: 50
				}
			})
				.then(({data}) => {
					this.serviceList = data.results;
				})
				.finally(() => {
					this.loading = false;
				})
		}
	}
}
</script>

<style scoped>

</style>
