<template>
	<div class="upcoming-tasks w-100 rounded-12 bg-greyscale-100 pa-4 pt-3 pr-2">
		<div class="d-flex align-center justify-space-between">
			<div class="d-flex align-center">
				<v-icon size="24" color="var(--primary-500)">{{ "$vuetify.icons.CalendarWeek" }}</v-icon>
				<span class="small-1 font-600 d-inline-block ml-2">{{ $t('upcoming-tasks') }}</span>
			</div>

			<div>
				<v-tabs
					@change="onTypeChange"
					height="24"
					v-model="tab"
				>
					<v-tab
						:value="0"
						class="d-flex align-center"
					>
						<span class="small-2 text-greyscale-400 text-transform-none font-500">{{ $t('overdueNotPerformed') }}</span>
						<template v-if="loading">
							<div class="d-flex justify-center align-center rounded-6 bg-critic-100 text-critic-500 small-3 font-600 ml-1" style="width: 20px; height: 20px;">
								<v-progress-circular
									:size="10"
									:width="1"
									color="red"
									indeterminate
								></v-progress-circular>
							</div>
						</template>
						<template v-else>
							<div
								:class="notPerformedCount === 0 ? 'bg-greyscale-300 text-greyscale-500' : 'bg-critic-100 text-critic-500'"
								class="d-flex justify-center align-center rounded-6 small-3 font-600 ml-1"
								style="width: 20px; height: 20px;"
							>
								{{ notPerformedCount }}
							</div>
						</template>
					</v-tab>

					<v-tab
						:value="1"
						class="d-flex align-center"
					>
						<span class="small-2 text-greyscale-400 text-transform-none font-500">{{ $t('oncoming') }}</span>
						<template v-if="loading">
							<div class="d-flex justify-center align-center rounded-6 bg-critic-100 text-critic-500 small-3 font-600 ml-1" style="width: 20px; height: 20px;">
								<v-progress-circular
									:size="10"
									:width="1"
									color="red"
									indeterminate
								></v-progress-circular>
							</div>
						</template>
						<template v-else>
							<div
								:class="oncomingCount === 0 ? 'bg-greyscale-300 text-greyscale-500' : 'bg-critic-100 text-critic-500'"
								class="d-flex justify-center align-center rounded-6 small-3 font-600 ml-1"
								style="width: 20px; height: 20px;"
							>
								{{ oncomingCount }}
							</div>
						</template>
					</v-tab>
				</v-tabs>
			</div>
		</div>

		<template v-if="loading">
			<div style="height: 307px" class="d-flex justify-center align-center bg-greyscale-100 rounded-10 mt-3">
				<app-loader />
			</div>
		</template>

		<template v-else>
			<template v-if="tab === 1 && !taskList.length">
				<div style="height: 307px" class="d-flex flex-column justify-center align-center bg-greyscale-100 rounded-10 mt-3">
					<v-icon size="96" color="var(--primary-500)">{{ "$vuetify.icons.EmptyV2" }}</v-icon>
					<span class="small-2 font-500 text-greyscale-600 d-block mt-3">{{ $t('notUpcomingTasks') }}</span>
				</div>
			</template>

			<template v-else-if="tab === 0 && !notPerformedTasksList.length">
				<div style="height: 307px" class="d-flex flex-column justify-center align-center bg-greyscale-100 rounded-10 mt-3">
					<v-icon size="96" color="var(--primary-500)">{{ "$vuetify.icons.EmptyV2" }}</v-icon>
					<span class="small-2 font-500 text-greyscale-600 d-block mt-3">{{ $t('youDontHaveNotPerformedTasks') }}</span>
				</div>
			</template>

			<template v-else>
				<div style="min-height: 307px" class="mt-3 d-flex flex-column justify-space-between">
					<div>
						<v-row class="ma-0 pa-0">
							<v-col
								v-for="(item, index) in tab === 0 ? notPerformedTasksList : taskList"
								:key="item.id"
								lg="6" md="6" sm="6" cols="12"
								class="pa-0 ma-0 pr-2 pb-2"
							>
								<div
									class="item-card d-flex bg-white rounded-10 pa-4 pointer" style="height: 128px"
									@click="openDetail(item)"
								>
									<app-tooltip top>
										<template #content>
											<div
												class="d-flex flex-column rounded-8 border-all overflow-hidden"
												:class="item.status_id === 9 ? 'item-calendar-critic' : 'item-calendar'"
												style="width: 44px; height: 44px;"
												:style="{ border: item.status_id === 9 ? '1px solid var(--critic-200)' : '1px solid var(--primary-200)' }"
											>
												<div
													class="justify-center text-center font-500 tiny text-uppercase"
													:class="item.status_id === 9 ?  'item-calendar-month-critic bg-critic-200' : 'item-calendar-month bg-primary-200'"
													style="padding: 1px 0">
													{{ item.deadline && returnShortMonthName(item.deadline, $i18n.locale) }}
												</div>

												<div
													class="d-flex heading-11 font-500 text-center justify-center"
													:class="item.status_id === 9 ? 'text-hover-critic' : 'text-hover'"
												>
													{{ item.deadline && new Date(item.deadline).getDate()}}
												</div>
											</div>
										</template>

										<template #text>
											<span class="small-3">{{ $t('control-tasks.tasks.deadline') }}: {{ item.deadline | filterCalendarToTime }}</span>
										</template>
									</app-tooltip>


									<div class="d-flex flex-column ml-3 flex-1 justify-space-between">
										<div class="d-flex flex-column">
											<span
												class="size-13 font-600 w-100 line-truncate"
												:class="item.status_id === 9 ? 'text-hover-critic' : 'text-hover'"
											>
												{{ item.register_number }}
											</span>
											<span class="small-3 font-600 w-100 line-truncate-2 text-greyscale-400">{{ item.description }}</span>
										</div>

										<div class="d-flex w-100 bg-greyscale-100 mt-4 rounded-4 align-center" style="padding: 2px 8px;">
											<priority :status="item.priority" />
											<v-icon size="16" color="var(--greyscale-500)" class="ml-3 mr-1">{{ "$vuetify.icons.Calendar" }}</v-icon>
											<span class="text-greyscale-400 small-3 font-600">{{ item.deadline && returnDateDifferenceFromNow(item.deadline, $i18n.locale) }}</span>
										</div>
									</div>
								</div>
							</v-col>
						</v-row>
					</div>

					<div
						class="d-flex rounded-8 bg-white mr-2 pointer flex-1" style="min-height: 36px; max-height: 36px"
						@click="openList"
					>
						<div class="all-button d-flex w-100 justify-center align-center">
							<span class="small-2 font-600 text-primary-500">{{ $t('allTasks') }}</span>
							<v-icon size="20" color="var(--primary-500)">{{ "$vuetify.icons.ArrowRight" }}</v-icon>
						</div>
					</div>
				</div>
			</template>
		</template>
	</div>
</template>

<script>
import Priority from "./Priority.vue";
import {returnDateDifferenceFromNow, returnShortMonthName} from "../../../common/helpers";

export default {
	name: "UpcomingTasks",
	components: {
		Priority
	},
	data() {
		return {
			loading: false,
			taskList: [],
			notPerformedTasksList: [],
			tab: 0,
			oncomingCount: 0,
			notPerformedCount: 0
		}
	},
	mounted() {
		this.getNotPerformedTasks();
		this.getTaskList();
	},
	methods: {
		returnDateDifferenceFromNow,
		returnShortMonthName,
		getTaskList() {
			this.loading = true;
			this.$axios.get(`/dashboard/v2/docflow-upcoming-assignments/`)
				.then((res) => {
					this.taskList = [];
					this.oncomingCount = res?.data.length
					res?.data.forEach(item => {
						this.taskList.push({
							...item,
							deadline: item.deadline ? item.deadline : item.base_doc_deadline
						})

						this.taskList = this.taskList.slice(0, 4);
					})
				})
				.catch(err => {
					console.log(err);
				})
				.finally(() => {
					this.loading = false;
				})
		},
		/** **/
		getNotPerformedTasks() {
			this.loading = true;
			this.$axios.get(`/dashboard/v2/docflow-overdue-assignments/`)
				.then((res) => {
					this.notPerformedCount = res.data.length
					this.notPerformedTasksList = [];
					res.data.forEach(item => {
						this.notPerformedTasksList.push({
							...item,
							deadline: item.deadline ? item.deadline : item.base_doc_deadline
						})

						this.notPerformedTasksList = this.notPerformedTasksList.slice(0, 4);
					})
				})
				.catch(err => {
					console.log(err);
				})
				.finally(() => {
					this.loading = false;
				})
		},
		/** **/
		onTypeChange(tab) {
			this.tab = tab;
			if(tab === 0) {
				this.getNotPerformedTasks()
			} else {
				this.getTaskList()
			}
		},
		/** **/
		openDetail(item) {
			if (item.is_controller === true) {
				this.$router.push({
					name: "ControlDetail",
					params: {
						id: item.id
					},
					query: {
						route: "control"
					}
				})
			} else {
				this.$router.push({
					name: "InboxDetail",
					params: {
						id: item.id
					}
				})
			}
		},
		/** **/
		openList() {
			this.$router.push({
				name: "InboxIndex"
			})
		}
	},
}
</script>

<style>
.item-card:hover,
.all-button:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.08);
	transition: all ease-in-out 200ms;
}

.item-card:hover .item-calendar-month {
	background: var(--primary-500);
	color: white;
	transition: all ease-in-out 200ms;
}

.item-card:hover .item-calendar-month-critic {
	background: var(--critic-500);
	color: white;
	transition: all ease-in-out 200ms;
}

.item-card:hover .item-calendar {
	border: 1px solid var(--primary-500)!important;
	transition: all ease-in-out 200ms;
}

.item-card:hover .item-calendar-critic {
	border: 1px solid var(--critic-500)!important;
	transition: all ease-in-out 200ms;
}

.item-card:hover .text-hover {
	color: var(--primary-500)
}

.item-card:hover .text-hover-critic {
	color: var(--critic-500)
}

.upcoming-tasks .v-tabs-slider-wrapper {
	display: none !important;
}
.upcoming-tasks .v-tab,
.upcoming-tasks .v-tab:before {
	border-radius: 8px!important;
	padding: 0 8px!important;
}
.upcoming-tasks .v-tab--active span {
	color: var(--primary-500) !important;
}

</style>
