<template>
  <div class="review-view">
    <ui-data-table
      ref="dataTable"
      :api-url="apiUrl"
      :height="tableHeight"
      :headers-list="indexTableCols"
      :filter-state="indexTableFilters"
      :filter-storage-name="CREATED_RESOLUTIONS_FILTER"
      :config-column-storage-name="CREATED_RESOLUTIONS_COLUMN"
      @saveConfigColumn="saveConfigColumn"
      @resetConfigColumn="resetConfigColumn"
      @clearFilter="clearFilter"
      @deleteSavedFilter="clearFilter"
      @handleSort="handleSort"
    >
      <template #index="{ value, item }">
        <router-link
          :to="{
            name: 'CreatedResolutionsDetail',
            params: {
              id: item.id,
              type: item.document.journal.id
            }
          }"
        >
          <span>{{ item.index }}</span>
        </router-link>
      </template>

<!--      <template #is_read="{ value, item }">-->
<!--        <router-link-->
<!--          :to="{-->
<!--            name: 'CreatedResolutionsDetail',-->
<!--            params: {-->
<!--              id: item.id,-->
<!--              type: item.document.journal.id-->
<!--            }-->
<!--          }"-->
<!--        >-->
<!--          <span>-->
<!--            {{ value ? $t("familiar") : $t("not-familiar") }}-->
<!--          </span>-->
<!--        </router-link>-->
<!--      </template>-->

      <template #document.priority="{ value, item }">
        <router-link
          :to="{
            name: 'CreatedResolutionsDetail',
            params: {
              id: item.id,
              type: item.document.journal.id
            }
          }"
        >
          <ui-priority
            v-if="value"
            :text="value"
          />
        </router-link>
      </template>

      <template #document.register_number="{ value, item }">
        <router-link
          :to="{
            name: 'CreatedResolutionsDetail',
            params: {
              id: item.id,
              type: item.document.journal.id
            }
          }"
        >
          <span>
            {{ value }}
          </span>
        </router-link>
      </template>

      <template #document.doc_type.name="{ value, item }">
        <router-link
          :to="{
            name: 'CreatedResolutionsDetail',
            params: {
              id: item.id,
              type: item.document.journal.id
            }
          }"
        >
          <span>
            {{ value }}
          </span>
        </router-link>
      </template>

      <template #document.journal.name="{ value, item }">
        <router-link
          :to="{
            name: 'CreatedResolutionsDetail',
            params: {
              id: item.id,
              type: item.document.journal.id
            }
          }"
        >
          <span>
            {{ value }}
          </span>
        </router-link>
      </template>

	    <template #deadline="{ value, item }">
		    <router-link
			    :to="{
            name: 'CreatedResolutionsDetail',
            params: {
              id: item.id,
              type: item.document.journal.id
            }
          }"
		    >
          <span>
            {{ value }}
          </span>
		    </router-link>
	    </template>

<!--      <template #assignment.receipt_date="{ value, item }">-->
<!--        <router-link-->
<!--          :to="{-->
<!--            name: 'CreatedResolutionsDetail',-->
<!--            params: {-->
<!--              id: item.id,-->
<!--              type: item.document.journal.id-->
<!--            }-->
<!--          }"-->
<!--        >-->
<!--          <span>-->
<!--            {{ value | filterCalendarToTime }}-->
<!--          </span>-->
<!--        </router-link>-->
<!--      </template>-->

      <template #document.outgoing_number="{ value, item }">
        <router-link
          :to="{
            name: 'CreatedResolutionsDetail',
            params: {
              id: item.id,
              type: item.document.journal.id
            }
          }"
        >
          <span>
            {{ value }}
          </span>
        </router-link>
      </template>

      <template #document.register_date="{ value, item }">
        <router-link
          :to="{
            name: 'CreatedResolutionsDetail',
            params: {
              id: item.id,
              type: item.document.journal.id
            }
          }"
        >
          <span>
            {{ value | filterCalendarToTime }}
          </span>
        </router-link>
      </template>

      <template #document.outgoing_date="{ value, item }">
        <router-link
          :to="{
            name: 'CreatedResolutionsDetail',
            params: {
              id: item.id,
              type: item.document.journal.id
            }
          }"
        >
          <span>
            {{ value | filterCalendarToTime }}
          </span>
        </router-link>
      </template>

      <template #document.correspondent.organization_name="{ value, item }">
        <router-link
          :to="{
            name: 'CreatedResolutionsDetail',
            params: {
              id: item.id,
              type: item.document.journal.id
            }
          }"
        >
          <span>
            {{ value }}
          </span>
        </router-link>
      </template>

      <template #document.created_by="{ value, item }">
        <router-link
          :to="{
            name: 'CreatedResolutionsDetail',
            params: {
              id: item.id,
              type: item.document.journal.id
            }
          }"
        >
          <ui-avatar-group
            v-if="value"
            :avatar-list="[{
              color: value.color,
              full_name: value.full_name
            }]"
            class="opacity-80"
          />
        </router-link>
      </template>

      <template #document.description="{ value, item }">
        <app-tooltip top max-width="400" content-classes="d-inline-block w-100">
          <template #text>
            <span v-html="value"></span>
          </template>

          <template #content>
            <router-link
              :to="{
                name: 'CreatedResolutionsDetail',
                params: {
                  id: item.id,
                  type: item.document.journal.id
                }
              }"
              class="text-decoration-none"
            >
              <span class="line-truncate-2 text--dark" v-html="value"></span>
            </router-link>
          </template>
        </app-tooltip>
      </template>

<!--      <template #status.name="{ value, item }">-->
<!--        <router-link-->
<!--          :to="{-->
<!--            name: 'CreatedResolutionsDetail',-->
<!--            params: {-->
<!--              id: item.id,-->
<!--              type: item.document.journal.id-->
<!--            }-->
<!--          }"-->
<!--        >-->
<!--          <ui-status-->
<!--            v-if="value"-->
<!--            :text="value"-->
<!--          />-->
<!--        </router-link>-->
<!--      </template>-->

      <template #filterBody>
        <resolution-table-filter />
      </template>
    </ui-data-table>
  </div>
</template>

<script>
import { mapActions, mapGetters, mapState } from "vuex"
import { CREATED_RESOLUTIONS_COLUMN, CREATED_RESOLUTIONS_FILTER } from "@/common/constants"
import { getItem } from "@/services/jwt.service"

import ResolutionTableFilter from "./components/ResolutionTableFilter"

export default {
	name: "index",
	components: {
		ResolutionTableFilter
	},
	data() {
		return {
			CREATED_RESOLUTIONS_COLUMN,
			CREATED_RESOLUTIONS_FILTER,
			filterState: {}
		}
	},
	computed: {
		...mapState({
			indexTableCols: state => state.documentFlowBoxesCreatedResolutions.indexTableCols,
			indexTableFilters: state => state.documentFlowBoxesCreatedResolutions.indexTableFilters
		}),
		/*
		*
		* */
		...mapGetters({
			currentUser: "auth/getCurrentUser",
		}),
		/*
		*
		* */
		tableHeight() {
			return document.documentElement.clientHeight - 250
		},
		/*
		*
		* */
		apiUrl() {
			return `v2/docflow/${this.currentUser.filial}/assignment-by-self`
		}
	},
	created() {
		this.setSavedTableCols()
		this.setSavedFilters()
	},
	async beforeDestroy() {
		if(!this.$route.fullPath.includes('show')) {
			await this.resetIndexTableFilters()
		}
	},
	methods: {
		...mapActions({
			setActiveIndexTableCols: "documentFlowBoxesCreatedResolutions/setActiveIndexTableCols",
			resetIndexTableCols: "documentFlowBoxesCreatedResolutions/resetIndexTableCols",
			resetIndexTableFilters: "documentFlowBoxesCreatedResolutions/resetIndexTableFilters",
			setActiveIndexTableFilters: "documentFlowBoxesCreatedResolutions/setActiveIndexTableFilters",
		}),
		/*
		*
		* */
		inActiveRow() {
			return new Function('item', `return { 'bg--light': !item.is_read }`)
		},
		/*
		*
		* */
		saveConfigColumn(columns) {
			this.setActiveIndexTableCols(columns)
		},
		/*
		*
		* */
		resetConfigColumn() {
			this.resetIndexTableCols()
		},
		/*
		* Заполняем нужные поля колонки таблицы если пользователь перезагрузил браузер
		* */
		setSavedTableCols() {
			let savedColsFromStorage = JSON.parse(getItem(this.INBOX_COLUMN)) ?? {}

			if(Object.keys(savedColsFromStorage).length) {
				this.setActiveIndexTableCols(savedColsFromStorage)
			} else {
				this.setActiveIndexTableCols(this.indexTableCols)
			}
		},
		/*
		*
		* */
		async clearFilter() {
			await this.resetIndexTableFilters()
		},
		/*
		* Заполняем нужные поля фильтра если пользователь перезагрузил браузер
		* */
		setSavedFilters() {
			if(this.$route.query) {
				let savedFiltersFromStorage = JSON.parse(getItem(this.INBOX_FILTER)) ?? {}
				delete this.$route.query.page
				delete this.$route.query.page_size

				if(Object.keys(savedFiltersFromStorage).length) {
					this.setActiveIndexTableFilters(savedFiltersFromStorage)
				} else {
					this.setActiveIndexTableFilters(this.$route.query)
				}
			}
		},
		/*
		*
		* */
		handleSort({ key, value }) {
			const { dataTable } = this.$refs
			// this.indexTableFilters[key] = value
			//
			// let active = {}
			//
			// Object.entries(this.indexTableFilters).forEach(filter => {
			//   const [key, value] = filter
			//
			//   if(key.startsWith("__")) {
			//     return;
			//   }
			//
			//   if(value || value === true || value === false) {
			//     active[key] = value
			//   }
			// })
			//
			// dataTable.getDataFromApi(active)
		}
	}
}
</script>
