<template>
	<div class="inbox-detail-view">
    <template v-if="createdResolutionDetailModelLoader">
      <app-loader full-width />
    </template>

		<template v-else>
      <layout-with-tabs
        :layout-title="journalTitle"
        :tree-list="treeList"
        :files-list="filesList"
        :resolution="resolution"
        :is-verified="createdResolutionDetailModel.is_verified"
        :object-id="createdResolutionDetailModel.document.id"
        :layout-status-visible="false"
        :compose-id="createdResolutionDetailModel && createdResolutionDetailModel.document && createdResolutionDetailModel.document.compose_id"
        @emit:watch-resolution-child="watchResolutionChild"
        @emit:watch-resolution-parent="watchResolutionParent"
      >
	      <template #toolbar>
		      <answer-menu-button
			      :register-date="createdResolutionDetailModel.document.register_date"
			      :register-number="createdResolutionDetailModel.document.register_number"
			      :document-id="createdResolutionDetailModel.document.id"
		      />

          <more-actions-menu-button>
            <template #menu>
              <v-list dense>
                <v-list-item
                  link
                  @click="resolutionUpdateDrawer = true"
                >
                  <v-list-item-title>
                    <div class="d-flex align-center">
                      <users-icon size="16" color="var(--primary-1)" class="mr-3" />
                      <span>{{ $t("document-flow.views.boxes.edit-resolution") }}</span>
                    </div>
                  </v-list-item-title>
                </v-list-item>

                <v-list-item
                  color="danger"
                  input-value="error"
                  link
                  @click="resolutionDeleteModal = true"
                >
                  <v-list-item-title>
                    <div class="d-flex align-center">
                      <user-minus-icon
                        size="16"
                        color="var(--primary-4)"
                        class="mr-3"
                      />
                      <span>{{ $t("document-flow.views.boxes.delete-resolution") }}</span>
                    </div>
                  </v-list-item-title>
                </v-list-item>
              </v-list>
            </template>
          </more-actions-menu-button>
	      </template>

	      <template #content>
          <detail-content :columns="detailModel" />
	      </template>

	      <template #activity>
		      <activity-table />
	      </template>

	      <template #files>
		      <files-table />
	      </template>
      </layout-with-tabs>

      <!-- Изменить резолюцию (drawer) -->
      <resolution-drawer
        v-model="resolutionUpdateDrawer"
        :review="createdResolutionDetailModel.review"
        :parent="createdResolutionDetailModel.parent"
        :assignment-id="createdResolutionDetailModel.id"
        :assignment-parent="createdResolutionDetailModel.id"
        :form-type="formTypes.UPDATE"
        title="document-flow.views.boxes.edit-resolution"
        success-text="document-flow.views.boxes.edit-resolution"
        @emit:close="(value) => resolutionUpdateDrawer = value"
        @emit:cancel-button="(value) => resolutionUpdateDrawer = value"
      >
      </resolution-drawer>
      <!-- /Изменить резолюцию (drawer) -->

      <!-- Удалить резолюцию (modal) -->
      <change-status-modal
        ref="statusModal"
        v-model="resolutionDeleteModal"
        :success-button-loading="resolutionDeleteSuccessButtonLoading"
        title="document-flow.views.boxes.delete-resolution"
        success-text="document-flow.views.boxes.delete-resolution"
        @emit:close="(value) => resolutionDeleteModal = value"
        @emit:cancel-button="(value) => resolutionDeleteModal = value"
        @emit:success-button="deleteResolution"
      />
      <!-- /Удалить резолюцию (modal) -->
		</template>
	</div>
</template>

<script>
import { mapActions, mapGetters, mapState } from "vuex"
import { UsersIcon, UserMinusIcon } from "vue-feather-icons"
import { AnswerMenuButton, ChangeStatusMenuButton, MoreActionsMenuButton, ReadDocumentButton } from "@/common/components/Buttons"
import { ChangeStatusModal } from "@/common/components/Modal"
import { combineKeysDocumentDetail } from "@/common/helpers"
import { FILE_EXTENSIONS, FORM_TYPES, JOURNAL_TYPES } from "@/common/enums/notificationTypes"
import LayoutWithTabs from "@/common/components/DetailLayout/LayoutWithTabs"
import DetailContent from "@/common/components/DetailLayout/DetailContent"
import ResolutionDrawer from "./components/ResolutionDrawer"
import ActivityTable from "./components/ActivityTable.vue"
import FilesTable from "./components/FilesTable.vue"
import ExecutionMark from "./components/ExecutionMark.vue"
import ExecutionMarkDrawer from "./components/ExecutionMarkDrawer.vue"
import CreateOrderDrawer from "./components/CreateOrderDrawer.vue"
export default {
	name: "show",
	components: {
		UsersIcon,
		UserMinusIcon,
		ChangeStatusMenuButton,
		ChangeStatusModal,
		LayoutWithTabs,
		AnswerMenuButton,
		MoreActionsMenuButton,
		ReadDocumentButton,
		DetailContent,
		ResolutionDrawer,
		ActivityTable,
		FilesTable,
		ExecutionMark,
		ExecutionMarkDrawer,
		CreateOrderDrawer
	},
	data() {
		return {
			detailModel: null,
			filesList: [],
			resolutionCreateDrawer: false,
			resolutionUpdateDrawer: false,
			resolutionDeleteModal: false,
			resolutionDeleteSuccessButtonLoading: false,
			formTypes: FORM_TYPES,
			resolutionMeta: {
				receipt_date: null,
				signer: null,
				banner: true,
				is_verified: false,
				check_id: null
			},
			executionDrawer: false,
			executionMarkSuccessLoading: false,
			createOrderDrawer: false
		}
	},
	computed: {
		JOURNAL_TYPES() {
			return JOURNAL_TYPES
		},
		...mapState({
			createdResolutionDetailModelLoader: state => state.documentFlowBoxesCreatedResolutions.createdResolutionDetailModelLoader,
			createdResolutionDetailModel: state => state.documentFlowBoxesCreatedResolutions.createdResolutionDetailModel,
			indexTableCols: state => state.documentFlowBoxesCreatedResolutions.indexTableCols,
			resolutionPerformersList: state => state.documentFlowBoxesInbox.resolutionPerformersList,
			treeList: state => state.treeView.treeList,
		}),
		/*
		*
		* */
		...mapGetters({
			currentUser: "auth/getCurrentUser",
			attachDocumentsList: "documentFlowModule/getAttachDocumentsList",
		}),
		/*
		* Создан ли резолюция
		* */
		isResolutionCreated() {
			return this.createdResolutionDetailModel.has_child_resolution
		},
		/*
		*
		* */
		resolution() {
			return {
				content: this.createdResolutionDetailModel.content,
				deadline: this.createdResolutionDetailModel.deadline,
				assignment: this.resolutionPerformersList.performers,
				register_number: this.createdResolutionDetailModel.document.register_number,
				register_date: this.createdResolutionDetailModel.document.register_date,
				receipt_date: this.createdResolutionDetailModel.receipt_date,
				signer: this.createdResolutionDetailModel.reviewer,
				banner: true,
				check_id: this.createdResolutionDetailModel.check_id,
				journal: this.createdResolutionDetailModel.document.journal.name
			}
		},
		/*
    *
    * */
		journalTitle() {
			let title = null

			switch(this.createdResolutionDetailModel.document.journal.id) {
				case JOURNAL_TYPES.INCOMING:
					title = this.createdResolutionDetailModel.document.correspondent
						? this.createdResolutionDetailModel.document.correspondent.organization_name
						: this.createdResolutionDetailModel.document.journal.name
					break;
				case JOURNAL_TYPES.INNER:
					title = this.createdResolutionDetailModel.document.department.name
					break;
				case JOURNAL_TYPES.OUTGOING:
					title = this.createdResolutionDetailModel.document.correspondent && this.createdResolutionDetailModel.document.correspondent.organization_name
					break;
				case JOURNAL_TYPES.APPEALS:
					title = this.createdResolutionDetailModel.document.correspondent && this.createdResolutionDetailModel.document.correspondent.organization_name
					break;
				case JOURNAL_TYPES.ORDER_AND_PROTOCOL:
					title = this.createdResolutionDetailModel.document.title ?? this.createdResolutionDetailModel.document.department.name
					break;
				default:
					// Application
					title = this.createdResolutionDetailModel.document.department.name
			}

			return title
		}
	},
	async mounted() {
		await this.fetchCreatedResolutionById({ id: this.$route.params.id, loader: true })
		await this.getAttachFilesList()
		await this.fetchTreeUsersList({ treeId: this.createdResolutionDetailModel.document.id })
		this.combineDetailKeys()
	},
	methods: {
		...mapActions({
			fetchCreatedResolutionById: "documentFlowBoxesCreatedResolutions/fetchCreatedResolutionById",
			fetchDeleteCreatedResolution: "documentFlowBoxesCreatedResolutions/fetchDeleteCreatedResolution",
			fetchInboxAcquaintWithDocument: "documentFlowBoxesInbox/fetchInboxAcquaintWithDocument",
			fetchUpdateInboxStatus: "documentFlowBoxesInbox/fetchUpdateInboxStatus",
			fetchGetResolutionPerformers: "documentFlowBoxesInbox/fetchGetResolutionPerformers",
			fetchExecutionMark: "documentFlowBoxesInbox/fetchExecutionMark",
			fetchAttachFilesList: "documentFlowModule/fetchAttachFilesList",
			fetchTreeUsersList: "treeView/fetchTreeUsersList",
		}),
		/*
    *
    * */
		async getAttachFilesList() {
			await this.fetchAttachFilesList({
				incomingDocId: this.createdResolutionDetailModel.document.id
			})
			await this.fetchGetResolutionPerformers({
				id: this.createdResolutionDetailModel.id
			})

			this.filesList = this.attachDocumentsList.filter(doc => doc.document).map(file => {
				return {
					name: file.document.name,
					url: file.document.url,
					extension: FILE_EXTENSIONS.FILE
				}
			})

			this.filesList.unshift({
				name: this.$t("components.chip-asakabank"),
				extension: FILE_EXTENSIONS.RESOLUTION
			})
		},
		/*
		*
		* */
		async deleteResolution(text) {
			this.resolutionDeleteSuccessButtonLoading = true

			try {
				await this.fetchDeleteCreatedResolution({
					comment: text,
					id: this.createdResolutionDetailModel.id,
					documentId: this.createdResolutionDetailModel.id,
					treeId: this.createdResolutionDetailModel.document.id
				})

				this.$toast.success(this.$t("deleted_resolution"))

				this.resolutionDeleteModal = false
				await this.$router.push({
					name: "CreatedResolutionsIndex"
				})
			} finally {
				this.resolutionDeleteSuccessButtonLoading = false
			}
		},
		/*
		*
		* */
		async watchResolutionParent(tree) {
			if(tree.assignees && tree.assignees.length) {
				let first = tree.assignees[0]
				this.createdResolutionDetailModel.content = first.content
				this.createdResolutionDetailModel.deadline = first.deadline
				// this.resolutionMeta.signer = tree.user
				// this.resolutionMeta.is_verified = first.is_verified
				// this.resolutionMeta.check_id = first.check_id
				// this.resolutionMeta.receipt_date = first.receipt_date
				// this.resolutionMeta.banner = true

				await this.fetchGetResolutionPerformers({ id: first.id })
			}
		},
		/*
		*
		* */
		async watchResolutionChild(children) {
			if(children && children.length) {
				let first = children[0]
				this.createdResolutionDetailModel.content = first.assignment.content
				this.createdResolutionDetailModel.deadline = first.assignment.deadline
				// this.resolutionMeta.signer = null
				// this.resolutionMeta.banner = false

				await this.fetchGetResolutionPerformers({ id: first.assignment.id })
			}
		},
		/*
		*
		* */
		async createExecution() {
			try {
			  this.executionMarkSuccessLoading = true
			  await this.fetchExecutionMark({
			    id: this.$route.params.id
			  })
				this.$toast.success(this.$t("document-flow.views.boxes.document-executed"))
				this.executionDrawer = false
			}
			finally {
			  this.executionMarkSuccessLoading = false
			}
		},
		/*
		*
		* */
		combineDetailKeys() {
			this.detailModel = combineKeysDocumentDetail(this.indexTableCols, this.createdResolutionDetailModel)
		}
	}
}
</script>

<style scoped>

</style>
