<template>
  <app-wrapper class="shadow-6 mb-5">
    <template #header>
      <h4 class="small-2 font-600">Прикрепленные файлы</h4>
    </template>

    <template #body>
      <div class="mx-n5 px-5">
        <div
          class="overflow-hidden"
          :style="{
            maxHeight: isOpened ? 'initial' : '150px'
          }"
        >
          <template v-for="(item, index) in files">
            <a
              :href="item.url"
              target="_blank"
              download
              class="d-flex align-center small-2 text-decoration-none font-500"
              :class="{'mb-4': files.length !== index + 1}"
            >
              <file-text-icon size="18"/>
              <span class="flex-1 mx-2">{{ item.name }}</span>

							<div v-if="sendType === 'hybrid'" class="mr-4">
								{{  item.need_to_send === true ? $t('isSentViaHybrid') : $t('isNotSentViaHybrid')}}
							</div>

              <download-cloud-icon size="18" class="mr-2"/>
              <span>Скачать</span>
            </a>
          </template>
        </div>

        <div v-if="files.length > 4" class="text-center">
          <v-btn
            color="primary"
            depressed
            small
            outlined
            text
            @click="isOpened = !isOpened"
            :class="isOpened ? 'mt-4' : ''"
          >
            <div class="d-flex align-center">
              <span class="mr-1 line-base">{{ isOpened ? $t("close-all-files") : $t("open-all-files") }} ({{ files.length }})</span>

              <chevron-down-icon v-if="!isOpened" size="18" />
              <chevron-up-icon v-else size="18" />
            </div>
          </v-btn>
        </div>
      </div>
    </template>
  </app-wrapper>
</template>

<script>
import { FileTextIcon, DownloadCloudIcon, ChevronDownIcon, ChevronUpIcon } from "vue-feather-icons"

export default {
	name: "AttachedFilesBlock",
  props: {
	  files: {
			type: Array,
      default: () => []
    },
	  sendType: {
			type: String,
		  default: null
	  }
  },
  components: {
	  FileTextIcon,
    DownloadCloudIcon,
	  ChevronDownIcon,
    ChevronUpIcon
  },
  data() {
		return {
			isOpened: false
    }
  }
}
</script>
