<template>
	<div class="attachment-files-view d-flex flex-column h-100">
		<ui-tabs
			:mode="mode"
			hide-slider
			:show-arrows="showArrows"
      @emit:change="(value) => $emit('emit:click', value)"
		>
			<template v-for="file in filesList">
				<v-tab>
          <span class="text-transform-none line-base small-2 text-truncate">{{ file.name }}</span>

					<template v-if="file.extension === 'FILE'">
						<app-tooltip top>
							<template #content>
								<v-btn
									color="warning"
									icon
									small
									class="ml-1"
									@click="openFileModal($event, file)"
								>
									<eye-icon size="18" />
								</v-btn>
							</template>

							<template #text>
								{{ $t("document-flow.views.send-document.view-document") }}
							</template>
						</app-tooltip>
					</template>
				</v-tab>
			</template>
		</ui-tabs>

		<!-- Просмотр документа -->
		<show-file-modal
			v-model="showFileModal"
			:file-url="showFileUrl"
			:toolbar="documentType!=='xdfu'"
			@emit:close="(_value) => showFileModal = _value"
			@emit:cancel-button="(_value) => showFileModal = _value"
		/>
		<!-- /Просмотр документа -->
	</div>
</template>

<script>
import { EyeIcon } from "vue-feather-icons"
import DocumentViewer from "@/common/components/DocumentViewer/Viewer.vue"
import { ShowFileModal } from "@/common/components/Modal"
export default {
	name: "AttachmentFilesWithTabs",
	props: {
		mode: {
			type: String,
			default: "line",
			validator(value) {
				return ["line", "segment"].includes(value)
			}
		},
		/*
		*
		* */
		filesList: {
			type: Array,
			default: () => []
		},
		/*
		*
		* */
		showArrows: {
			type: Boolean,
			default: true
		},
		/** **/
		documentType: {
			type: String,
			default: null
		}
	},
	components: {
		EyeIcon,
		DocumentViewer,
		ShowFileModal
	},
	data() {
		return {
			currentFile: null,
			showFileModal: false,
			showFileUrl: null
		}
	},
	methods: {
		handleChange(value) {
			this.currentFile = this.filesList[value]
		},
		/*
		*
		* */
		openFileModal(event, file) {
			event.preventDefault()
			event.stopImmediatePropagation()

			this.showFileModal = !this.showFileModal
			this.showFileUrl = file.url
		}
	}
}
</script>

<style scoped>

</style>
