<template>
  <div class="app-input">
    <span v-if="showLabel" class="d-block font-600 small-2 mb-2">{{$t('components.attach-file')}}</span>

    <div :class="thumbDirection === 'right' ? 'd-flex align-center grid-gap-sm' : ''">
      <v-file-input
        v-bind="$attrs"
        v-on="$listeners"
        v-if="showInput"
        prepend-icon=""
        outlined
        hide-details
        multiple
        background-color="var(--input-bg)"
        @change="uploadFiles"
      />

      <template v-if="showThumbFiles">
        <div
          v-if="files.length"
          class="d-flex flex-wrap grid-gap-sm"
          :class="thumbDirection === 'bottom' && showInput ? 'mt-2' : ''"
        >
          <template v-for="(file, index) in files">
            <v-hover v-bind:key="index" v-if="Object.keys(file).length">
              <template v-slot:default="{ hover }">
                <v-sheet
                  width="90"
                  height="56"
                  class="p-relative overflow-hidden rounded-lg d-flex align-center justify-center"
                  style="border: 1px solid var(--bg-2)"
                >
                  <template v-if="fileExtension(file)">
                    <img
                      :src="file.url"
                      class="d-block w-100 h-100 object-contain"
                      alt="Image"
                    />
                  </template>

                  <file-text-icon
                    v-else
                    size="32"
                    color="var(--text-2)"
                  />

                  <v-fade-transition>
                    <v-overlay
                      v-if="hover"
                      absolute
                      color="#000"
                    >
                      <v-btn
                        v-if="!readonly"
                        icon
                        color="error"
                        @click="files.splice(index, 1)"
                      >
                        <trash2-icon size="18" />
                      </v-btn>

                      <v-btn
                        icon
                        color="warning"
                        link
                        target="_blank"
                        :href="file.url"
                      >
                        <eye-icon size="18" />
                      </v-btn>
                    </v-overlay>
                  </v-fade-transition>
                </v-sheet>
              </template>
            </v-hover>
          </template>
        </div>

        <div v-else-if="!showInput">
          <span class="text-dark font-500 small-2">{{$t('components.file-not-added')}}</span>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
import { EyeIcon, FileTextIcon, Trash2Icon } from "vue-feather-icons";

export default {
  name: "FileUpload",
  props: {
    files: {
      type: Array,
      default: () => []
    },
    showLabel: {
      type: Boolean,
      default: true
    },
    showInput: {
      type: Boolean,
      default: true
    },
    showThumbFiles: {
      type: Boolean,
      default: true
    },
    readonly: {
      type: Boolean,
      default: false
    },
    thumbDirection: {
      type: String,
      default: "bottom",
      validator(value) {
        return ["bottom", "right"].includes(value)
      }
    }
  },
  components: {
    FileTextIcon,
    Trash2Icon,
    EyeIcon
  },
  data() {
    return {
      list: []
    }
  },
  methods: {
    uploadFiles(files) {
      if(!files) {
        return;
      }

      for (let i = 0; i < files.length; i++) {
        let formData = new FormData()
        formData.append("file", files[i])

        this.$axios
          .post('/upload/', formData)
          .then(({ data }) => {
            this.files.push(data)

            this.$emit("emit:uploaded", this.files)
          })
      }
    },
    /*
    *
    * */
    fileExtension(file) {
      let splitting = file.url.split(".")

      switch (splitting[splitting.length - 1]) {
        case "jpg"  :
        case "JPG"  :
        case "jpeg" :
        case "JPEG" :
        case "png"  :
        case "PNG"  :
          return true
        default:
          return false
      }
    }
  }
}
</script>
