<template>
	<div class="filter-modal">
		<div class="d-flex align-center">
			<div class="app-input mr-4">
				<v-text-field
					@input="search"
					v-model="filterState.search"
					hide-details
					outlined
					dense
					clearable
					:placeholder="$t('components.search')"
					background-color="#fff"
					class="field-height-32"
				>
					<template #prepend-inner>
						<search-icon class="mr-1 d-block" size="15" color="var(&#45;&#45;secondary)"/>
					</template>
				</v-text-field>
			</div>

			<div class="app-input mr-4" style="max-width: 215px">
				<v-select
					:items="dateList"
					item-text="title"
					item-value="value"
					outlined
					dense
					:placeholder="$t('document-flow.views.statistics.data-by-template')"
					background-color="#fff"
					clearable
					hide-details
					class="select-height-32"
					@change="getTemplateList"
					@click:clear="clearDates"
				>
					<template #append>
						<chevron-down-icon size="15" color="var(&#45;&#45;secondary)"/>
					</template>
				</v-select>
			</div>

			<div
				v-if="activeRoute === 'inbox' || activeRoute === 'review' || activeRoute === 'sign' || activeRoute === 'approval' || activeRoute === 'control'"
				class="app-input mr-4">
				<app-button
					outlined
					height="39"
					min-width="80"
					@click="getTodoList"
				>
					<template #default>
						{{ $t("new-text") }}
					</template>
				</app-button>
			</div>

			<v-btn
				color="#EEEEEE"
				depressed
				small
				height="32"
				min-width="150"
				width="100"
				@click="clearFilters"
			>
				<span class="size-13 ml-2">{{ $t('components.reset-filter') }}</span>
			</v-btn>

			<v-btn
				color="#EEEEEE"
				depressed
				small
				height="32"
				min-width="100"
				width="100"
				class="ml-2"
				@click="filterModal = true"
			>

				<v-icon size="16" color="var(&#45;&#45;secondary)">{{ "$vuetify.icons.FilterIcon" }}</v-icon>
				<span class="size-13 ml-2">{{ $t('components.filter') }}</span>
			</v-btn>

			<v-btn
				v-if="$route.name === 'SendDocumentNew'"
				color="#EEEEEE"
				depressed
				small
				height="32"
				min-width="150"
				width="100"
				class="ml-2"
				:loading="exportExcelButtonLoading"
				@click="exportToExcel"
			>

				<download-icon size="13" />
				<span class="size-13 ml-2">{{$t('control-tasks.reports.export-to-excel')}}</span>
			</v-btn>
		</div>

		<v-dialog
			content-class="shadow-5"
			v-model="filterModal"
			max-width="1075"
			@keydown.esc="closeFilterModal"
			@click:outside="closeFilterModal"
		>
			<div class="bg-4 pa-9">
				<div class="d-flex align-center justify-space-between">
					<h6 class="heading-8 font-500">{{ $t('components.filtration') }}</h6>
					<app-button
						@click="closeFilterModal"
						icon
						color="error"
						rounded
						width="45"
						min-width="45"
						height="45"
					>
						<x-icon/>
					</app-button>
				</div>

				<!-- На рассмотрение, Входящие, Входящие (Регистрация) -->
				<template
					v-if="
            activeRoute === 'review' ||
            activeRoute === 'inbox' ||
            activeRoute === 'created-resolutions' ||
            activeRoute === 'incoming-documents-list'
          "
				>
					<!--          <pre>{{ filterState }}</pre>-->
					<div class="mt-4">
						<span class="small-2 d-block font-600 text-7">{{ $t('components.level') }}</span>

						<div class="d-flex">
							<v-radio-group v-model="filterState.priority" row mandatory hide-details>
								<v-radio
									class="mr-12"
									:value="null"
								>
									<template #label>
										<span class="ml-2 text-dark small-1 font-500">{{ $t('components.all') }}</span>
									</template>
								</v-radio>

								<v-radio
									class="mr-12"
									value="low"
								>
									<template #label>
										<span class="ml-2 text-dark small-1 font-500">{{ $t('components.short') }}</span>
									</template>
								</v-radio>

								<v-radio
									class="mr-12"
									value="medium"
								>
									<template #label>
										<span class="ml-2 text-dark small-1 font-500">{{ $t('components.middle') }}</span>
									</template>
								</v-radio>

								<v-radio
									class="mr-12"
									value="high"
								>
									<template #label>
										<span class="ml-2 text-dark small-1 font-500">{{ $t('components.high') }}</span>
									</template>
								</v-radio>
							</v-radio-group>
						</div>
					</div>

					<div class="mt-4">
						<span class="small-2 d-block font-600 text-7">{{ $t('components.state') }}</span>

						<div class="d-flex">
							<v-radio-group v-model="filterState.is_read" row mandatory hide-details>
								<v-radio
									class="mr-12"
									:value="null"
								>
									<template #label>
										<span class="ml-2 text-dark small-1 font-500">{{ $t('components.all') }}</span>
									</template>
								</v-radio>

								<v-radio
									class="mr-12"
									:value="true"
								>
									<template #label>
										<span class="ml-2 text-dark small-1 font-500">{{ $t('components.read') }}</span>
									</template>
								</v-radio>

								<v-radio
									class="mr-12"
									:value="false"
								>
									<template #label>
										<span class="ml-2 text-dark small-1 font-500">{{ $t('components.unread') }}</span>
									</template>
								</v-radio>
							</v-radio-group>
						</div>
					</div>

					<!--          <div class="mt-4">-->
					<!--            <span class="small-2 d-block font-600 text-7">Статус</span>-->

					<!--            <div class="d-flex">-->
					<!--              <v-radio-group v-model="filterState.status" row mandatory hide-details>-->
					<!--                <v-radio-->
					<!--                  :value="null"-->
					<!--                  class="mr-12"-->
					<!--                >-->
					<!--                  <template #label>-->
					<!--                    <span class="ml-2 text-dark small-1 font-500">Все</span>-->
					<!--                  </template>-->
					<!--                </v-radio>-->

					<!--                <v-radio-->
					<!--                  :value="1"-->
					<!--                  class="mr-12"-->
					<!--                >-->
					<!--                  <template #label>-->
					<!--                    <span class="ml-2 text-dark small-1 font-500">Сделать</span>-->
					<!--                  </template>-->
					<!--                </v-radio>-->

					<!--                <v-radio-->
					<!--                  :value="2"-->
					<!--                  class="mr-12"-->
					<!--                >-->
					<!--                  <template #label>-->
					<!--                    <span class="ml-2 text-dark small-1 font-500">В прогресс</span>-->
					<!--                  </template>-->
					<!--                </v-radio>-->

					<!--                <v-radio-->
					<!--                  :value="3"-->
					<!--                  class="mr-12"-->
					<!--                >-->
					<!--                  <template #label>-->
					<!--                    <span class="ml-2 text-dark small-1 font-500">В ожидание</span>-->
					<!--                  </template>-->
					<!--                </v-radio>-->

					<!--                <v-radio-->
					<!--                  :value="4"-->
					<!--                  class="mr-12"-->
					<!--                >-->
					<!--                  <template #label>-->
					<!--                    <span class="ml-2 text-dark small-1 font-500">Выполнено</span>-->
					<!--                  </template>-->
					<!--                </v-radio>-->

					<!--                <template v-if="activeRoute === 'review'">-->
					<!--                  <v-radio-->
					<!--                    :value="5"-->
					<!--                  >-->
					<!--                    <template #label>-->
					<!--                      <span class="ml-2 text-dark small-1 font-500">На подпись</span>-->
					<!--                    </template>-->
					<!--                  </v-radio>-->
					<!--                </template>-->
					<!--              </v-radio-group>-->
					<!--            </div>-->
					<!--          </div>-->
				</template>
				<!-- / На рассмотрение, Входящие, Входящие (Регистрация) -->

				<!-- Входящие -->
				<template v-if="activeRoute === 'inbox' || activeRoute === 'control' || activeRoute === 'created-resolutions'">
					<div class="mt-4">
						<span class="small-2 d-block font-600 text-7">{{ $t('components.controlling') }}</span>

						<div class="d-flex">
							<v-radio-group v-model="filterState.controller" row mandatory hide-details>
								<v-radio
									:value="null"
									class="mr-12"
								>
									<template #label>
										<span class="ml-2 text-dark small-1 font-500">{{ $t('components.all') }}</span>
									</template>
								</v-radio>

								<v-radio
									:value="currentUser.id"
									class="mr-12"
								>
									<template #label>
										<span class="ml-2 text-dark small-1 font-500">{{ $t('components.on-control') }}</span>
									</template>
								</v-radio>
							</v-radio-group>
						</div>
					</div>
				</template>
				<!-- /Входящие -->

				<!-- На рассмотрение -->
				<template v-if="activeRoute === 'review'">
					<!-- Резолюция -->
					<!--          <template v-if="currentUser.role === 'chairman' || currentUser.role === 'deputy_chair'">-->
					<!--            <div class="mt-4">-->
					<!--              <span class="small-2 d-block font-600 text-7">Резолюция</span>-->

					<!--              <div class="d-flex">-->
					<!--                <v-radio-group v-model="filterState.__resolutionAssign" row mandatory hide-details>-->
					<!--                  <v-radio-->
					<!--                    :value="false"-->
					<!--                    class="mr-12"-->
					<!--                  >-->
					<!--                    <template #label>-->
					<!--                      <span class="ml-2 text-dark small-1 font-500">Все</span>-->
					<!--                    </template>-->
					<!--                  </v-radio>-->

					<!--                  <v-radio-->
					<!--                    :value="true"-->
					<!--                    class="mr-12"-->
					<!--                  >-->
					<!--                    <template #label>-->
					<!--                      <span class="ml-2 text-dark small-1 font-500">Подписать резолюцию</span>-->
					<!--                    </template>-->
					<!--                  </v-radio>-->
					<!--                </v-radio-group>-->
					<!--              </div>-->
					<!--            </div>-->
					<!--          </template>-->
					<!-- /Резолюция -->

					<!-- Дедлайн -->
					<div class="mt-4">
						<span class="small-2 d-block font-600 text-7">{{ $t('components.deadline') }}</span>

						<div class="d-flex">
							<v-radio-group v-model="filterState.has_deadline" row mandatory hide-details>
								<v-radio
									:value="null"
									class="mr-12"
								>
									<template #label>
										<span class="ml-2 text-dark small-1 font-500">{{ $t('components.all') }}</span>
									</template>
								</v-radio>

								<v-radio
									:value="true"
									class="mr-12"
								>
									<template #label>
										<span class="ml-2 text-dark small-1 font-500">{{ $t('components.order-for-period') }}</span>
									</template>
								</v-radio>
							</v-radio-group>
						</div>
					</div>
					<!-- Дедлайн -->

					<!-- Тип -->
					<div class="mt-4">
						<span class="small-2 d-block font-600 text-7">{{ $t('components.type') }}</span>

						<div class="d-flex">
							<v-radio-group v-model="filterState.type" row mandatory hide-details>
								<v-radio
									:value="null"
									class="mr-12"
								>
									<template #label>
										<span class="ml-2 text-dark small-1 font-500">{{ $t('components.all') }}</span>
									</template>
								</v-radio>

								<v-radio
									:value="'assignment'"
									class="mr-12"
								>
									<template #label>
										<span class="ml-2 text-dark small-1 font-500">{{ $t('components.order') }}</span>
									</template>
								</v-radio>

								<v-radio
									:value="'control_point'"
									class="mr-12"
								>
									<template #label>
										<span class="ml-2 text-dark small-1 font-500">{{ $t('components.control-point') }}</span>
									</template>
								</v-radio>
							</v-radio-group>
						</div>
					</div>
					<!-- /Тип -->
				</template>
				<!-- /На рассмотрение -->

				<!-- На подпись -->
				<template v-if="activeRoute === 'sign'">
					<div class="my-4">
						<span class="small-2 d-block font-600 text-7">{{ $t('components.state') }}</span>

						<div class="d-flex">
							<v-radio-group v-model="filterState.is_signed" row mandatory hide-details>
								<v-radio
									class="mr-12"
									:value="null"
								>
									<template #label>
										<span class="ml-2 text-dark small-1 font-500">{{ $t('components.all') }}</span>
									</template>
								</v-radio>

								<v-radio
									class="mr-12"
									:value="true"
								>
									<template #label>
										<span class="ml-2 text-dark small-1 font-500">{{ $t('components.signed') }}</span>
									</template>
								</v-radio>

								<v-radio
									class="mr-12"
									value="unsigned"
								>
									<template #label>
										<span class="ml-2 text-dark small-1 font-500">{{ $t('components.unsigned') }}</span>
									</template>
								</v-radio>

								<v-radio
									class="mr-12"
									:value="false"
								>
									<template #label>
										<span class="ml-2 text-dark small-1 font-500">{{ $t('components.denied') }}</span>
									</template>
								</v-radio>
							</v-radio-group>
						</div>
					</div>
				</template>
				<!-- /На подпись -->

				<!-- На рассмотрение -->
				<template v-if="activeRoute === 'review' || activeRoute === 'approval'">
					<div class="my-4">
						<span class="small-2 d-block font-600 text-7">{{ $t('components.documents') }}</span>

						<div class="d-flex">
							<v-radio-group v-model="filterState.is_agreed" row mandatory hide-details>
								<v-radio
									class="mr-12"
									:value="null"
								>
									<template #label>
										<span class="ml-2 text-dark small-1 font-500">{{ $t('components.all') }}</span>
									</template>
								</v-radio>

								<v-radio
									class="mr-12"
									:value="true"
								>
									<template #label>
										<span class="ml-2 text-dark small-1 font-500">{{ $t('components.agreed') }}</span>
									</template>
								</v-radio>

								<v-radio
									class="mr-12"
									:value="false"
								>
									<template #label>
										<span class="ml-2 text-dark small-1 font-500">{{ $t('components.disagreed') }}</span>
									</template>
								</v-radio>

								<v-radio
									class="mr-12"
									value="unchecked"
								>
									<template #label>
										<span class="ml-2 text-dark small-1 font-500">{{ $t('components.unverified') }}</span>
									</template>
								</v-radio>
							</v-radio-group>
						</div>
					</div>
				</template>
				<!-- На рассмотрение -->

				<!-- На рассмотрение -->
				<template v-if="activeRoute === 'review'">
					<div class="my-4">
						<span class="small-2 d-block font-600 text-7">{{ $t("resolution") }}</span>

						<div class="d-flex">
							<v-radio-group v-model="filterState.has_resolution" row mandatory hide-details>
								<v-radio
									class="mr-12"
									:value="null"
								>
									<template #label>
										<span class="ml-2 text-dark small-1 font-500">{{ $t("components.all") }}</span>
									</template>
								</v-radio>

								<v-radio
									class="mr-12"
									:value="false"
								>
									<template #label>
										<span class="ml-2 text-dark small-1 font-500">{{ $t("not-created") }}</span>
									</template>
								</v-radio>

								<v-radio
									class="mr-12"
									:value="true"
								>
									<template #label>
										<span class="ml-2 text-dark small-1 font-500">{{
												$t("document-flow.views.registration.done")
											}}</span>
									</template>
								</v-radio>
							</v-radio-group>
						</div>
					</div>
				</template>
				<!-- /На рассмотрение -->

				<!-- ============================================================ -->

				<!-- На подпись || На согласование -->
				<template v-if="activeRoute === 'sign' || activeRoute === 'approval'">
					<v-row class="mt-3">
						<!-- Тип -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.type') }}</span>
								<v-select
									v-model="typeAndValue"
									:items="letterTypeList"
									item-text="title"
									return-object
									outlined
									hide-details
									clearable
									background-color="var(--input-bg)"
									@change="onDocTypeChange"
								>
									<template #append>
										<v-icon>mdi-chevron-down</v-icon>
									</template>
								</v-select>
							</div>
						</v-col>
						<!-- /Тип -->

						<!-- Рег. номер -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.registration-number') }}</span>

								<v-text-field
									v-model="filterState.register_number"
									outlined
									background-color="var(--input-bg)"
									hide-details
									clearable
								/>
							</div>
						</v-col>
						<!-- /Рег. номер -->

						<!-- Рег. дата -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.registration-date') }}</span>

								<app-date-picker
									@emit:up="(value) => dateSelected(value, filterState, 'register_start_date', 'register_end_date')"
									v-model="registerDatePicker"
									@clickClear="fetchClearRegisterStartDate"
									with-input
									range
									background-color="var(--input-bg)"
									clearable
								/>
							</div>
						</v-col>
						<!-- /Рег. дата -->

						<!-- На согласование -->
						<template v-if="activeRoute === 'approval'">
							<!-- Департамент -->
							<v-col md="4">
								<div class="app-input">
									<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.department') }}</span>

									<v-autocomplete
										v-model="filterState.department"
										:items="departmentList"
										item-text="name"
										item-value="id"
										outlined
										hide-details
										clearable
										background-color="var(--input-bg)"
									>
										<template #append>
											<v-icon>mdi-chevron-down</v-icon>
										</template>
									</v-autocomplete>
								</div>
							</v-col>
							<!-- /Департамент -->
						</template>
						<!-- / На согласование -->

						<!-- Подписант -->
						<!--            <v-col md="4" class="py-2">-->
						<!--              <div class="app-input">-->
						<!--                <span class="d-block font-600 small-2 mb-2 text-7">Подписант</span>-->
						<!--                <app-autocomplete-->
						<!--                  v-model="filterState.signer"-->
						<!--                  :api-list-url="usersReferenceUrl"-->
						<!--                  item-value="id"-->
						<!--                  item-text="full_name"-->
						<!--                  cache-items-->
						<!--                  outlined-->
						<!--                  hide-details-->
						<!--                  clearable-->
						<!--                />-->
						<!--              </div>-->
						<!--            </v-col>-->
						<!-- /Подписант -->

						<!-- Автор -->
						<!--            <v-col md="4" class="py-2">-->
						<!--              <div class="app-input">-->
						<!--                <span class="d-block font-600 small-2 mb-2 text-7">Автор</span>-->

						<!--                <app-autocomplete-->
						<!--                  v-model="filterState.author"-->
						<!--                  :api-list-url="usersReferenceUrl"-->
						<!--                  item-value="id"-->
						<!--                  item-text="full_name"-->
						<!--                  cache-items-->
						<!--                  outlined-->
						<!--                  hide-details-->
						<!--                  clearable-->
						<!--                />-->
						<!--              </div>-->
						<!--            </v-col>-->
						<!-- /Автор -->
					</v-row>
				</template>
				<!-- /На подпись || На согласование -->

				<!-- Send Document -->
				<template v-if="activeRoute === 'sending-document'">

					<template v-if="$route.query.type === 'organization_letter'">
						<div class="mt-4">
							<span class="small-2 d-block font-600 text-7">{{ $t('sent_status') }}</span>

							<div class="d-flex mt-2">
								<v-radio-group v-model="filterState.is_sent" row mandatory hide-details>
									<v-radio
										class="mr-12"
										:value="null"
									>
										<template #label>
											<span class="ml-2 text-dark small-1 font-500">{{ $t('components.all') }}</span>
										</template>
									</v-radio>

									<v-radio
										class="mr-12"
										:value="true"
									>
										<template #label>
											<span class="ml-2 text-dark small-1 font-500">{{ $t('sent') }}</span>
										</template>
									</v-radio>

									<v-radio
										class="mr-12"
										:value="'null'"
									>
										<template #label>
											<span class="ml-2 text-dark small-1 font-500">{{ $t('not_sent') }}</span>
										</template>
									</v-radio>

									<v-radio
										class="mr-12"
										:value="false"
									>
										<template #label>
											<span class="ml-2 text-dark small-1 font-500">{{ $t('sending-rejected') }}</span>
										</template>
									</v-radio>
								</v-radio-group>
							</div>
						</div>
					</template>

					<v-row class="mt-3">
						<!-- Рег. номер -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.registration-number') }}</span>

								<v-text-field
									v-model="filterState.register_number"
									outlined
									background-color="var(--input-bg)"
									hide-details
									clearable
								/>
							</div>
						</v-col>
						<!-- /Рег. номер -->


						<!-- Рег. дата -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.registration-date') }}</span>

								<app-date-picker
									@emit:up="(value) => dateSelected(value, filterState, 'register_start_date', 'register_end_date')"
									v-model="registerDatePicker"
									@clickClear="fetchClearRegisterStartDate"
									with-input
									range
									background-color="var(--input-bg)"
									clearable
								/>
							</div>
						</v-col>
						<!-- /Рег. дата -->

						<!-- Статус -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.status') }}</span>

								<v-select
									v-model="filterState.compose_status"
									:items="statusTextList"
									item-text="title"
									item-value="value"
									outlined
									hide-details
									clearable
									background-color="var(--input-bg)"
								>
									<template #append>
										<v-icon>mdi-chevron-down</v-icon>
									</template>
								</v-select>
							</div>
						</v-col>
						<!-- /Статус -->

						<!-- Куратор -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('document-flow.views.send-document.to-whom') }}</span>

								<app-autocomplete
									v-model="filterState.curator"
									api-list-url="/user/search/"
									item-value="id"
									item-text="full_name"
									cache-items
									outlined
									hide-details
									clearable
								/>
							</div>
						</v-col>
						<!-- /Куратор -->

						<!-- Автор -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.author') }}</span>

								<autocomplete
									v-model="filterState.author"
									:api-list-url="usersReferenceUrl"
									item-value="id"
									item-text="full_name"
									cache-items
									outlined
									hide-details
									clearable
								/>
							</div>
						</v-col>
						<!-- /Автор -->

						<!-- Подписант -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.signatory') }}</span>

								<autocomplete
									v-model="filterState.signer"
									:api-list-url="usersReferenceUrl"
									item-value="id"
									item-text="full_name"
									cache-items
									outlined
									hide-details
									clearable
								/>
							</div>
						</v-col>
						<!-- /Подписант -->

						<!-- Согласующий -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('approver') }}</span>

								<autocomplete
									v-model="filterState.approver"
									api-list-url="/user/search/"
									item-value="id"
									item-text="full_name"
									cache-items
									outlined
									hide-details
									clearable
								/>
							</div>
						</v-col>
						<!-- /Согласующий -->

						<!-- Департамент -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.department') }}</span>

								<v-autocomplete
									v-model="filterState.department"
									:items="departmentList"
									item-text="name"
									item-value="id"
									outlined
									hide-details
									clearable
									background-color="var(--input-bg)"
								>
									<template #append>
										<v-icon>mdi-chevron-down</v-icon>
									</template>
								</v-autocomplete>
							</div>
						</v-col>
						<!-- /Департамент -->

						<!-- По филиалам -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.by-branches') }}</span>

								<autocomplete
									v-model="filterState.filial"
									api-list-url="/filials/"
									:api-params="{ condition: 'A' }"
									item-text="name"
									item-value="id"
									list-type="list"
									cache-items
									clearable
								/>
							</div>
						</v-col>
						<!-- По филиалам -->

						<!-- Принимающий филиал -->
						<v-col md="4">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('receiver_branch') }}</span>
								<autocomplete
									v-model="filterState.branches"
									api-list-url="/filials/"
									:api-params="{ condition: 'A', page_size: 50 }"
									item-text="name"
									item-value="id"
									list-type="list"
									cache-items
									clearable
								/>
							</div>
						</v-col>
						<!-- /Принимающий филиал -->

						<!-- Принимающий департамент -->
						<v-col md="4">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('receiver_department') }}</span>
								<autocomplete
									v-model="filterState.departments"
									api-list-url="/departments/department_without_children/"
									:api-params="{
				            filial: currentUser.filial,
				            page_size: 50
				          }"
									item-text="name"
									item-value="id"
									list-type="list"
									cache-items
									clearable
								/>
							</div>
						</v-col>
						<!-- /Принимающий департамент -->

						<!-- Принимающая организация -->
						<v-col md="4">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('receiver_organization') }}</span>
								<autocomplete
									v-model="filterState.organizations"
									api-list-url="/action/correspondent/"
									:api-params="{
				            is_for_compose: true,
				            page_size: 50
				          }"
									item-text="organization_name"
									item-value="id"
									list-type="list"
									cache-items
									clearable
								/>
							</div>
						</v-col>
						<!-- /Принимающая организация -->

						<!-- Тип отправки -->
						<v-col md="4">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('sendType') }}</span>
								<v-select
									v-model="filterState.send_by"
									:items="$store.state.sendType"
									item-text="title"
									item-value="value"
									outlined
									hide-details
									background-color="var(--input-bg)"
									clearable
								>
									<template #append>
										<v-icon>mdi-chevron-down</v-icon>
									</template>
								</v-select>
							</div>
						</v-col>
						<!-- /Тип отправки -->

						<!-- Куратор для филиала  -->
						<v-col v-if="currentUser.filial !== '09013'" md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('to_whom_for_head_office') }}</span>

								<app-autocomplete
									v-model="filterState.to_user"
									api-list-url="/user/search/"
									item-value="id"
									item-text="full_name"
									cache-items
									outlined
									hide-details
									clearable
								/>
							</div>
						</v-col>
						<!-- /Куратор для филиала -->

						<!-- Тип -->
<!--						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.type') }}</span>

								<v-select
									v-model="typeAndJournal"
									:items="documentTypeList"
									item-text="name"
									item-value="id"
									return-object
									outlined
									hide-details
									clearable
									background-color="var(&#45;&#45;input-bg)"
									@change="onDocumentTypeChange"
								>
									<template #append>
										<v-icon>mdi-chevron-down</v-icon>
									</template>
								</v-select>
							</div>
						</v-col>-->
						<!-- /Тип -->
					</v-row>
				</template>

				<!-- На рассмотрение -->
				<template v-if="activeRoute === 'review'">
					<v-row class="mt-3">
						<!-- Статус -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.status') }}</span>

								<v-select
									v-model="statusValues"
									:items="statusList"
									multiple
									item-text="title"
									item-value="value"
									outlined
									hide-details
									clearable
									background-color="var(--input-bg)"
								>
									<template #append>
										<v-icon>mdi-chevron-down</v-icon>
									</template>
								</v-select>
							</div>
						</v-col>
						<!-- /Статус -->

						<!-- По состоянию -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.as-condition') }}</span>

								<v-select
									v-model="filterState.condition"
									:items="filterList"
									item-text="title"
									item-value="value"
									outlined
									hide-details
									clearable
									background-color="var(--input-bg)"
								>
									<template #append>
										<v-icon>mdi-chevron-down</v-icon>
									</template>
								</v-select>
							</div>
						</v-col>
						<!-- /По состоянию -->

						<!-- Журнал -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.journal') }}</span>

								<v-select
									v-model="filterState.journal"
									:items="getNewJournalList"
									outlined
									item-text="name"
									item-value="id"
									background-color="var(--input-bg)"
									hide-details
									clearable
								>
									<template #append>
										<v-icon>mdi-chevron-down</v-icon>
									</template>
								</v-select>
							</div>
						</v-col>
						<!-- /Журнал -->

						<!-- Документ -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.document') }}</span>

								<app-autocomplete
									v-model="filterState.doc_type"
									:api-list-url="documentReferenceUrl"
									:api-params="{
                    type: 'doc_type'
                  }"
									list-type="list"
									item-text="name"
									return-object
									clearable
									cache-items
									@click:clear="filterFakeKeys.doc_type = null; filterState.doc_type = null"
									@input="filterFakeKeys.doc_type = filterState.doc_type"
								/>

								<template v-if="filterFakeKeys.doc_type">
									<div class="d-flex align-center mt-1">
										<v-chip
											color="primary"
											small
											class="mr-2"
										>
											<span>{{ filterFakeKeys.doc_type.name }}</span>
										</v-chip>

										<v-btn
											color="error"
											icon
											small
											@click="filterFakeKeys.doc_type = null; filterState.doc_type = null"
										>
											<trash2-icon size="18"/>
										</v-btn>
									</div>
								</template>
							</div>
						</v-col>
						<!-- Документ -->

						<!-- Рег. номер -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.registration-number') }}</span>

								<v-text-field
									v-model="filterState.register_number"
									outlined
									background-color="var(--input-bg)"
									hide-details
									clearable
								/>
							</div>
						</v-col>
						<!-- /Рег. номер -->

						<!-- Рег. дата -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.registration-date') }}</span>

								<app-date-picker
									@emit:up="(value) => dateSelected(value, filterState, 'register_start_date', 'register_end_date')"
									v-model="registerDatePicker"
									@clickClear="fetchClearRegisterStartDate"
									with-input
									range
									background-color="var(--input-bg)"
									clearable
								/>
							</div>
						</v-col>
						<!-- /Рег. дата -->

						<!-- Исх. номер -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.outgoing-number') }}</span>

								<v-text-field
									v-model="filterState.outgoing_number"
									outlined
									background-color="var(--input-bg)"
									hide-details
									clearable
								/>
							</div>
						</v-col>
						<!-- /Исх. номер -->

						<!-- Исх. дата -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.outgoing-date') }}</span>

								<app-date-picker
									@emit:up="(value) => dateSelected(value, filterState, 'outgoing_start_date', 'outgoing_end_date')"
									v-model="outgoingDatePicker"
									with-input
									range
									background-color="var(--input-bg)"
									clearable
								/>
							</div>
						</v-col>
						<!-- /Исх. дата -->

						<!-- Корреспондент -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.correspondent') }}</span>

								<app-autocomplete
									v-model="filterState.correspondent"
									api-list-url="/action/correspondent/"
									list-type="list"
									item-text="organization_name"
									return-object
									cache-items
									clearable
									@click:clear="filterFakeKeys.correspondent = null; filterState.correspondent = null"
									@input="filterFakeKeys.correspondent = filterState.correspondent"
								/>

								<template v-if="filterFakeKeys.correspondent">
									<div class="d-flex align-center mt-1">
										<v-chip
											color="primary"
											small
											class="mr-2"
										>
											<span>{{ filterFakeKeys.correspondent.organization_name }}</span>
										</v-chip>

										<v-btn
											color="error"
											icon
											small
											@click="filterFakeKeys.correspondent = null; filterState.correspondent = null"
										>
											<trash2-icon size="18"/>
										</v-btn>
									</div>
								</template>
							</div>
						</v-col>
						<!-- /Корреспондент -->
					</v-row>
				</template>
				<!-- /На рассмотрение -->

				<!-- Входящие -->
				<template v-if="activeRoute === 'inbox' || activeRoute === 'created-resolutions'">
					<v-row class="mt-3">
						<!-- Статус -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.status') }}</span>

								<v-select
									v-model="statusValues"
									:items="statusList"
									multiple
									item-text="title"
									item-value="value"
									outlined
									hide-details
									clearable
									background-color="var(--input-bg)"
								>
									<template #append>
										<v-icon>mdi-chevron-down</v-icon>
									</template>
								</v-select>
							</div>
						</v-col>
						<!-- /Статус -->

						<!-- По состоянию -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.as-condition') }}</span>

								<v-select
									v-model="filterState.condition"
									:items="filterList"
									item-text="title"
									item-value="value"
									outlined
									hide-details
									clearable
									background-color="var(--input-bg)"
								>
									<template #append>
										<v-icon>mdi-chevron-down</v-icon>
									</template>
								</v-select>
							</div>
						</v-col>
						<!-- /По состоянию -->

						<!-- Журнал -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.journal') }}</span>

								<v-select
									v-model="filterState.journal"
									:items="getNewJournalList"
									outlined
									item-text="name"
									item-value="id"
									background-color="var(--input-bg)"
									hide-details
									clearable
								>
									<template #append>
										<v-icon>mdi-chevron-down</v-icon>
									</template>
								</v-select>
							</div>
						</v-col>
						<!-- /Журнал -->

						<!-- Дедлайн -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.deadline') }}</span>

								<app-date-picker
									@emit:up="(value) => dateSelected(value, filterState, 'deadline_start', 'deadline_end')"
									v-model="deadlineDatePicker"
									@clickClear="clearDeadlinePicker"
									with-input
									range
									background-color="var(--input-bg)"
									clearable
								/>
							</div>
						</v-col>
						<!-- /Дедлайн -->

						<!-- Документ -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.deadline') }}</span>

								<app-autocomplete
									v-model="filterState.doc_type"
									:api-list-url="documentReferenceUrl"
									:api-params="{
                    type: 'doc_type'
                  }"
									list-type="list"
									item-text="name"
									return-object
									clearable
									cache-items
									@click:clear="filterFakeKeys.doc_type = null; filterState.doc_type = null"
									@input="filterFakeKeys.doc_type = filterState.doc_type"
								/>

								<template v-if="filterFakeKeys.doc_type">
									<div class="d-flex align-center mt-1">
										<v-chip
											color="primary"
											small
											class="mr-2"
										>
											<span>{{ filterFakeKeys.doc_type.name }}</span>
										</v-chip>

										<v-btn
											color="error"
											icon
											small
											@click="filterFakeKeys.doc_type = null; filterState.doc_type = null"
										>
											<trash2-icon size="18"/>
										</v-btn>
									</div>
								</template>
							</div>
						</v-col>
						<!-- Документ -->

						<!-- Тип -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.type') }}</span>

								<v-select
									v-model="filterState.type"
									:items="assignmentTypeList"
									item-text="title"
									item-value="value"
									outlined
									hide-details
									clearable
									background-color="var(--input-bg)"
								>
									<template #append>
										<v-icon>mdi-chevron-down</v-icon>
									</template>
								</v-select>
							</div>
						</v-col>
						<!-- /Тип -->

						<!-- Рег. номер -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.registration-number') }}</span>

								<v-text-field
									v-model="filterState.register_number"
									outlined
									background-color="var(--input-bg)"
									hide-details
									clearable
								/>
							</div>
						</v-col>
						<!-- /Рег. номер -->

						<!-- Рег. дата -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.registration-date') }}</span>

								<app-date-picker
									@emit:up="(value) => dateSelected(value, filterState, 'register_start_date', 'register_end_date')"
									v-model="registerDatePicker"
									@clickClear="fetchClearRegisterStartDate"
									with-input
									range
									background-color="var(--input-bg)"
									clearable
								/>
							</div>
						</v-col>
						<!-- /Рег. дата -->

						<!-- Исх. номер -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.outgoing-number') }}</span>

								<v-text-field
									v-model="filterState.outgoing_number"
									outlined
									background-color="var(--input-bg)"
									hide-details
									clearable
								/>
							</div>
						</v-col>
						<!-- /Исх. номер -->

						<!-- Исх. дата -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.outgoing-date') }}</span>

								<app-date-picker
									@emit:up="(value) => dateSelected(value, filterState, 'outgoing_start_date', 'outgoing_end_date')"
									v-model="outgoingDatePicker"
									with-input
									range
									background-color="var(--input-bg)"
									clearable
								/>
							</div>
						</v-col>
						<!-- /Исх. дата -->

						<!-- Корреспондент -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.correspondent') }}</span>

								<app-autocomplete
									v-model="filterState.correspondent"
									api-list-url="/action/correspondent/"
									list-type="list"
									item-text="organization_name"
									return-object
									cache-items
									clearable
									@click:clear="filterFakeKeys.correspondent = null; filterState.correspondent = null"
									@input="filterFakeKeys.correspondent = filterState.correspondent"
								/>

								<template v-if="filterFakeKeys.correspondent">
									<div class="d-flex align-center mt-1">
										<v-chip
											color="primary"
											small
											class="mr-2"
										>
											<span>{{ filterFakeKeys.correspondent.organization_name }}</span>
										</v-chip>

										<v-btn
											color="error"
											icon
											small
											@click="filterFakeKeys.correspondent = null; filterState.correspondent = null"
										>
											<trash2-icon size="18"/>
										</v-btn>
									</div>
								</template>
							</div>
						</v-col>
						<!-- /Корреспондент -->

						<!-- На рассмотрение -->
						<!--            <v-col md="4" class="py-2">-->
						<!--              <div class="app-input">-->
						<!--                <span class="d-block font-600 small-2 mb-2 text-7">На рассмотрение</span>-->

						<!--                <app-autocomplete-->
						<!--                  v-model="filterState.review_user"-->
						<!--                  api-list-url="/user/search/"-->
						<!--                  item-value="id"-->
						<!--                  item-text="full_name"-->
						<!--                  cache-items-->
						<!--                  outlined-->
						<!--                  hide-details-->
						<!--                  clearable-->
						<!--                />-->
						<!--              </div>-->
						<!--            </v-col>-->
						<!-- /На рассмотрение -->
					</v-row>
				</template>
				<!-- /Входящие -->

				<!-- На контроль -->
				<template v-if="activeRoute === 'control'">
					<v-row class="mt-3">
						<!-- По состоянию -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.as-condition') }}</span>

								<v-select
									v-model="filterState.condition"
									:items="filterList"
									item-text="title"
									item-value="value"
									outlined
									hide-details
									clearable
									background-color="var(--input-bg)"
								>
									<template #append>
										<v-icon>mdi-chevron-down</v-icon>
									</template>
								</v-select>
							</div>
						</v-col>
						<!-- /По состоянию -->

						<!-- Журнал -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.journal') }}</span>

								<v-select
									v-model="filterState.journal"
									:items="getNewJournalList"
									outlined
									item-text="name"
									item-value="id"
									background-color="var(--input-bg)"
									hide-details
									clearable
								>
									<template #append>
										<v-icon>mdi-chevron-down</v-icon>
									</template>
								</v-select>
							</div>
						</v-col>
						<!-- /Журнал -->

						<!-- Рег. номер -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.registration-number') }}</span>

								<v-text-field
									v-model="filterState.register_number"
									outlined
									background-color="var(--input-bg)"
									hide-details
									clearable
								/>
							</div>
						</v-col>
						<!-- /Рег. номер -->

						<!-- Рег. дата -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.registration-date') }}</span>

								<app-date-picker
									@emit:up="(value) => dateSelected(value, filterState, 'register_start_date', 'register_end_date')"
									v-model="registerDatePicker"
									@clickClear="fetchClearRegisterStartDate"
									with-input
									range
									background-color="var(--input-bg)"
									clearable
								/>
							</div>
						</v-col>
						<!-- /Рег. дата -->

						<!-- Исх. номер -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.outgoing-number') }}</span>

								<v-text-field
									v-model="filterState.outgoing_number"
									outlined
									background-color="var(--input-bg)"
									hide-details
									clearable
								/>
							</div>
						</v-col>
						<!-- /Исх. номер -->

						<!-- Корреспондент -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.correspondent') }}</span>

								<app-autocomplete
									v-model="filterState.correspondent"
									api-list-url="/action/correspondent/"
									list-type="list"
									item-text="organization_name"
									return-object
									cache-items
									clearable
									@click:clear="filterFakeKeys.correspondent = null; filterState.correspondent = null"
									@input="filterFakeKeys.correspondent = filterState.correspondent"
								/>

								<template v-if="filterFakeKeys.correspondent">
									<div class="d-flex align-center mt-1">
										<v-chip
											color="primary"
											small
											class="mr-2"
										>
											<span>{{ filterFakeKeys.correspondent.organization_name }}</span>
										</v-chip>

										<v-btn
											color="error"
											icon
											small
											@click="filterFakeKeys.correspondent = null; filterState.correspondent = null"
										>
											<trash2-icon size="18"/>
										</v-btn>
									</div>
								</template>
							</div>
						</v-col>
						<!-- /Корреспондент -->

						<!-- На рассмотрение -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.for-consideration') }}</span>

								<app-autocomplete
									v-model="filterState.review_user"
									api-list-url="/user/search/"
									item-value="id"
									item-text="full_name"
									cache-items
									outlined
									hide-details
									clearable
								/>
							</div>
						</v-col>
						<!-- /На рассмотрение -->
					</v-row>
				</template>
				<!-- /На контроль -->

				<!-- Входящие (Регистрация) -->
				<template v-if="activeRoute === 'incoming-documents-list'">
					<v-row class="mt-3">
						<!-- Статус -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.status') }}</span>

								<v-select
									v-model="statusValues"
									:items="statusList"
									multiple
									item-text="title"
									item-value="value"
									outlined
									hide-details
									clearable
									background-color="var(--input-bg)"
								>
									<template #append>
										<v-icon>mdi-chevron-down</v-icon>
									</template>
								</v-select>
							</div>
						</v-col>
						<!-- /Статус -->

						<!-- По состоянию -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.as-condition') }}</span>

								<v-select
									v-model="filterState.condition"
									:items="filterList"
									item-text="title"
									item-value="value"
									outlined
									hide-details
									clearable
									background-color="var(--input-bg)"
								>
									<template #append>
										<v-icon>mdi-chevron-down</v-icon>
									</template>
								</v-select>
							</div>
						</v-col>
						<!-- /По состоянию -->

						<!-- Рег. номер -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.registration-number') }}</span>

								<v-text-field
									v-model="filterState.register_number"
									outlined
									background-color="var(--input-bg)"
									hide-details
									clearable
								/>
							</div>
						</v-col>
						<!-- /Рег. номер -->

						<!-- Рег. дата -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.registration-date') }}</span>

								<app-date-picker
									@emit:up="(value) => dateSelected(value, filterState, 'register_start_date', 'register_end_date')"
									v-model="registerDatePicker"
									@clickClear="fetchClearRegisterStartDate"
									with-input
									range
									background-color="var(--input-bg)"
									clearable
								/>
							</div>
						</v-col>
						<!-- /Рег. дата -->

						<!-- Исх. номер -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.outgoing-number') }}</span>

								<v-text-field
									v-model="filterState.outgoing_number"
									outlined
									background-color="var(--input-bg)"
									hide-details
									clearable
								/>
							</div>
						</v-col>
						<!-- /Исх. номер -->

						<!-- Исх. дата -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.outgoing-date') }}</span>

								<app-date-picker
									@emit:up="(value) => dateSelected(value, filterState, 'outgoing_start_date', 'outgoing_end_date')"
									v-model="outgoingDatePicker"
									with-input
									range
									background-color="var(--input-bg)"
									clearable
								/>
							</div>
						</v-col>
						<!-- /Исх. дата -->

						<!-- Корреспондент -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.correspondent') }}</span>

								<app-autocomplete
									v-model="filterState.correspondent"
									api-list-url="/action/correspondent/"
									list-type="list"
									item-text="organization_name"
									return-object
									cache-items
									clearable
									@click:clear="filterFakeKeys.correspondent = null; filterState.correspondent = null"
									@input="filterFakeKeys.correspondent = filterState.correspondent"
								/>

								<template v-if="filterFakeKeys.correspondent">
									<div class="d-flex align-center mt-1">
										<v-chip
											color="primary"
											small
											class="mr-2"
										>
											<span>{{ filterFakeKeys.correspondent.organization_name }}</span>
										</v-chip>

										<v-btn
											color="error"
											icon
											small
											@click="filterFakeKeys.correspondent = null; filterState.correspondent = null"
										>
											<trash2-icon size="18"/>
										</v-btn>
									</div>
								</template>
							</div>
						</v-col>
						<!-- /Корреспондент -->

						<!-- На рассмотрение -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.for-consideration') }}</span>

								<app-autocomplete
									v-model="filterState.review_user"
									api-list-url="/user/search/"
									item-value="id"
									item-text="full_name"
									cache-items
									outlined
									hide-details
									clearable
								/>
							</div>
						</v-col>
						<!-- /На рассмотрение -->

						<!-- По филиалам -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.by-branches') }}</span>

								<autocomplete
									v-model="filterState.filial"
									api-list-url="/filials/"
									:api-params="{ condition: 'A' }"
									item-text="name"
									item-value="id"
									list-type="list"
									cache-items
									clearable
								/>
							</div>
						</v-col>
						<!-- По филиалам -->

						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.document-name') }}</span>

								<v-text-field
									v-model="filterState.title"
									outlined
									background-color="var(--input-bg)"
									hide-details
									clearable
								/>
							</div>
						</v-col>
					</v-row>
				</template>
				<!-- /Входящие (Регистрация) -->

				<!-- Внутренний (Регистрация) -->
				<template v-if="activeRoute === 'inner-documents-list'">
					<v-row class="mt-3">
						<!-- По состоянию -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.as-condition') }}</span>

								<v-select
									v-model="filterState.condition"
									:items="filterList"
									item-text="title"
									item-value="value"
									outlined
									hide-details
									clearable
									background-color="var(--input-bg)"
								>
									<template #append>
										<v-icon>mdi-chevron-down</v-icon>
									</template>
								</v-select>
							</div>
						</v-col>
						<!-- /По состоянию -->

						<!-- Рег. номер -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.registration-number') }}</span>

								<v-text-field
									v-model="filterState.register_number"
									outlined
									background-color="var(--input-bg)"
									hide-details
									clearable
								/>
							</div>
						</v-col>
						<!-- /Рег. номер -->

						<!-- Рег. дата -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.registration-date') }}</span>

								<app-date-picker
									@emit:up="(value) => dateSelected(value, filterState, 'register_start_date', 'register_end_date')"
									v-model="registerDatePicker"
									@clickClear="fetchClearRegisterStartDate"
									with-input
									range
									background-color="var(--input-bg)"
									clearable
								/>
							</div>
						</v-col>
						<!-- /Рег. дата -->

						<!-- Подписант -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.signatory') }}</span>

								<autocomplete
									v-model="filterState.signer"
									:api-list-url="usersReferenceUrl"
									item-value="id"
									item-text="full_name"
									cache-items
									outlined
									hide-details
									clearable
								/>
							</div>
						</v-col>
						<!-- /Подписант -->

						<!-- Автор -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.author') }}</span>

								<autocomplete
									v-model="filterState.author"
									:api-list-url="usersReferenceUrl"
									item-value="id"
									item-text="full_name"
									cache-items
									outlined
									hide-details
									clearable
								/>
							</div>
						</v-col>
						<!-- /Автор -->

						<!-- По филиалам -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.by-branches') }}</span>

								<autocomplete
									v-model="filterState.filial"
									api-list-url="/filials/"
									:api-params="{ condition: 'A' }"
									item-text="name"
									item-value="id"
									list-type="list"
									cache-items
									clearable
								/>
							</div>
						</v-col>
						<!-- По филиалам -->

						<!-- Вид документа -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.document-type') }}</span>

								<app-autocomplete
									v-model="filterState.doc_type"
									:api-list-url="documentReferenceUrl"
									:api-params="{
                    type: 'doc_type'
                  }"
									list-type="list"
									item-text="name"
									item-value="id"
									return-object
									clearable
									cache-items
									@click:clear="filterFakeKeys.doc_type = null; filterState.doc_type = null"
									@input="filterFakeKeys.doc_type = filterState.doc_type"
								/>

								<template v-if="filterFakeKeys.doc_type">
									<div class="d-flex align-center mt-1">
										<v-chip
											color="primary"
											small
											class="mr-2"
										>
											<span>{{ filterFakeKeys.doc_type.name }}</span>
										</v-chip>

										<v-btn
											color="error"
											icon
											small
											@click="filterFakeKeys.doc_type = null; filterState.doc_type = null"
										>
											<trash2-icon size="18"/>
										</v-btn>
									</div>
								</template>
							</div>
						</v-col>
						<!-- /Вид документа -->

						<!-- Департамент -->
						<v-col md="4">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.department') }}</span>

								<v-autocomplete
									v-model="filterState.department"
									:items="departmentList"
									item-text="name"
									item-value="id"
									outlined
									hide-details
									clearable
									background-color="var(--input-bg)"
								>
									<template #append>
										<v-icon>mdi-chevron-down</v-icon>
									</template>
								</v-autocomplete>
							</div>
						</v-col>
						<!-- /Департамент -->
					</v-row>
				</template>
				<!-- /Внутренний (Регистрация) -->

				<!-- Исходящие (Регистрация) || Приказы и распоряжения (Регистрация) -->
				<template v-if="activeRoute === 'outgoing-documents-list' || activeRoute === 'orders-and-protocols-list'">
					<v-row class="mt-3">
						<!-- По состоянию -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.as-condition') }}</span>

								<v-select
									v-model="filterState.condition"
									:items="filterList"
									item-text="title"
									item-value="value"
									outlined
									hide-details
									clearable
									background-color="var(--input-bg)"
								>
									<template #append>
										<v-icon>mdi-chevron-down</v-icon>
									</template>
								</v-select>
							</div>
						</v-col>
						<!-- /По состоянию -->

						<!-- Рег. номер -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.registration-number') }}</span>

								<v-text-field
									v-model="filterState.register_number"
									outlined
									background-color="var(--input-bg)"
									hide-details
									clearable
								/>
							</div>
						</v-col>
						<!-- /Рег. номер -->

						<!-- Рег. дата -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.registration-date') }}</span>

								<app-date-picker
									@emit:up="(value) => dateSelected(value, filterState, 'register_start_date', 'register_end_date')"
									v-model="registerDatePicker"
									@clickClear="fetchClearRegisterStartDate"
									with-input
									range
									background-color="var(--input-bg)"
									clearable
								/>
							</div>
						</v-col>
						<!-- /Рег. дата -->

						<!-- Подписант -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.signatory') }}</span>

								<autocomplete
									v-model="filterState.signer"
									:api-list-url="usersReferenceUrl"
									item-value="id"
									item-text="full_name"
									cache-items
									outlined
									hide-details
									clearable
								/>
							</div>
						</v-col>
						<!-- /Подписант -->

						<!-- Вид документа -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.document-type') }}</span>

								<app-autocomplete
									v-model="filterState.doc_type"
									:api-list-url="documentReferenceUrl"
									:api-params="{
                    type: 'doc_type'
                  }"
									list-type="list"
									item-text="name"
									item-value="id"
									return-object
									clearable
									cache-items
									@click:clear="filterFakeKeys.doc_type = null; filterState.doc_type = null"
									@input="filterFakeKeys.doc_type = filterState.doc_type"
								/>

								<template v-if="filterFakeKeys.doc_type">
									<div class="d-flex align-center mt-1">
										<v-chip
											color="primary"
											small
											class="mr-2"
										>
											<span>{{ filterFakeKeys.doc_type.name }}</span>
										</v-chip>

										<v-btn
											color="error"
											icon
											small
											@click="filterFakeKeys.doc_type = null; filterState.doc_type = null"
										>
											<trash2-icon size="18"/>
										</v-btn>
									</div>
								</template>
							</div>
						</v-col>
						<!-- /Вид документа -->

						<!-- Департамент -->
						<v-col md="4">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.department') }}</span>

								<v-autocomplete
									v-model="filterState.department"
									:items="departmentList"
									item-text="name"
									item-value="id"
									outlined
									hide-details
									clearable
									background-color="var(--input-bg)"
								>
									<template #append>
										<v-icon>mdi-chevron-down</v-icon>
									</template>
								</v-autocomplete>
							</div>
						</v-col>
						<!-- /Департамент -->

						<!-- По филиалам -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.by-branches') }}</span>

								<autocomplete
									v-model="filterState.filial"
									api-list-url="/filials/"
									:api-params="{ condition: 'A' }"
									item-text="name"
									item-value="id"
									list-type="list"
									cache-items
									clearable
								/>
							</div>
						</v-col>
						<!-- По филиалам -->
					</v-row>
				</template>
				<!-- Исходящие (Регистрация) || Приказы и распоряжения (Регистрация) -->

				<!-- Обращение (Регистрация) -->
				<template v-if="activeRoute === 'appeals-list'">
					<v-row class="mt-3">
						<!-- По состоянию -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.as-condition') }}</span>

								<v-select
									v-model="filterState.condition"
									:items="filterList"
									item-text="title"
									item-value="value"
									outlined
									hide-details
									clearable
									background-color="var(--input-bg)"
								>
									<template #append>
										<v-icon>mdi-chevron-down</v-icon>
									</template>
								</v-select>
							</div>
						</v-col>
						<!-- /По состоянию -->

						<!-- Рег. номер -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.registration-number') }}</span>

								<v-text-field
									v-model="filterState.register_number"
									outlined
									background-color="var(--input-bg)"
									hide-details
									clearable
								/>
							</div>
						</v-col>
						<!-- /Рег. номер -->

						<!-- Рег. дата -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.registration-date') }}</span>

								<app-date-picker
									@emit:up="(value) => dateSelected(value, filterState, 'register_start_date', 'register_end_date')"
									v-model="registerDatePicker"
									@clickClear="fetchClearRegisterStartDate"
									with-input
									range
									background-color="var(--input-bg)"
									clearable
								/>
							</div>
						</v-col>
						<!-- /Рег. дата -->

						<!-- Корреспондент -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.correspondent') }}</span>

								<app-autocomplete
									v-model="filterState.correspondent"
									api-list-url="/action/correspondent/"
									list-type="list"
									item-text="organization_name"
									return-object
									cache-items
									clearable
									@click:clear="filterFakeKeys.correspondent = null; filterState.correspondent = null"
									@input="filterFakeKeys.correspondent = filterState.correspondent"
								/>

								<template v-if="filterFakeKeys.correspondent">
									<div class="d-flex align-center mt-1">
										<v-chip
											color="primary"
											small
											class="mr-2"
										>
											<span>{{ filterFakeKeys.correspondent.organization_name }}</span>
										</v-chip>

										<v-btn
											color="error"
											icon
											small
											@click="filterFakeKeys.correspondent = null; filterState.correspondent = null"
										>
											<trash2-icon size="18"/>
										</v-btn>
									</div>
								</template>
							</div>
						</v-col>
						<!-- /Корреспондент -->

						<!-- Исх. номер -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.outgoing-number') }}</span>

								<v-text-field
									v-model="filterState.outgoing_number"
									outlined
									background-color="var(--input-bg)"
									hide-details
									clearable
								/>
							</div>
						</v-col>
						<!-- /Исх. номер -->

						<!-- Исх. дата -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.outgoing-date') }}</span>

								<app-date-picker
									@emit:up="(value) => dateSelected(value, filterState, 'outgoing_start_date', 'outgoing_end_date')"
									v-model="outgoingDatePicker"
									with-input
									range
									background-color="var(--input-bg)"
									clearable
								/>
							</div>
						</v-col>
						<!-- /Исх. дата -->

						<!-- Вид документа -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.document-type') }}</span>

								<app-autocomplete
									v-model="filterState.doc_type"
									:api-list-url="documentReferenceUrl"
									:api-params="{
                    type: 'doc_type'
                  }"
									list-type="list"
									item-text="name"
									item-value="id"
									return-object
									clearable
									cache-items
									@click:clear="filterFakeKeys.doc_type = null; filterState.doc_type = null"
									@input="filterFakeKeys.doc_type = filterState.doc_type"
								/>

								<template v-if="filterFakeKeys.doc_type">
									<div class="d-flex align-center mt-1">
										<v-chip
											color="primary"
											small
											class="mr-2"
										>
											<span>{{ filterFakeKeys.doc_type.name }}</span>
										</v-chip>

										<v-btn
											color="error"
											icon
											small
											@click="filterFakeKeys.doc_type = null; filterState.doc_type = null"
										>
											<trash2-icon size="18"/>
										</v-btn>
									</div>
								</template>
							</div>
						</v-col>
						<!-- /Вид документа -->

						<!-- По филиалам -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.by-branches') }}</span>

								<autocomplete
									v-model="filterState.filial"
									api-list-url="/filials/"
									:api-params="{ condition: 'A' }"
									item-text="name"
									item-value="id"
									list-type="list"
									cache-items
									clearable
								/>
							</div>
						</v-col>
						<!-- По филиалам -->
					</v-row>
				</template>
				<!-- /Обращение (Регистрация) -->

				<!-- Пришедшие (Регистрация) -->
				<template v-if="activeRoute === 'filial-documents-list'">
					<v-row class="mt-3">
						<!-- По состоянию -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.as-condition') }}</span>

								<v-select
									v-model="filterState.condition"
									:items="filterList"
									item-text="title"
									item-value="value"
									outlined
									hide-details
									clearable
									background-color="var(--input-bg)"
								>
									<template #append>
										<v-icon>mdi-chevron-down</v-icon>
									</template>
								</v-select>
							</div>
						</v-col>
						<!-- /По состоянию -->

						<!-- Рег. номер -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.registration-number') }}</span>

								<v-text-field
									v-model="filterState.register_number"
									outlined
									background-color="var(--input-bg)"
									hide-details
									clearable
								/>
							</div>
						</v-col>
						<!-- /Рег. номер -->

						<!-- Рег. дата -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.registration-date') }}</span>

								<app-date-picker
									@emit:up="(value) => dateSelected(value, filterState, 'register_start_date', 'register_end_date')"
									v-model="registerDatePicker"
									@clickClear="fetchClearRegisterStartDate"
									with-input
									range
									background-color="var(--input-bg)"
									clearable
								/>
							</div>
						</v-col>
						<!-- /Рег. дата -->

						<!-- По филиалам -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.by-branches') }}</span>

								<app-autocomplete
									v-model="filterState.filial"
									api-list-url="/filials/"
									:api-params="{ condition: 'A' }"
									item-text="name"
									item-value="id"
									list-type="list"
									cache-items
									clearable
								/>
							</div>
						</v-col>
						<!-- По филиалам -->
					</v-row>
				</template>
				<!-- /Пришедшие (Регистрация) -->

				<!-- Пришедшие (Регистрация) -->
				<template v-if="activeRoute === 'applications-list'">
					<v-row class="mt-3">
						<!-- Рег. дата -->
						<v-col md="4" class="py-2">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.registration-date') }}</span>

								<app-date-picker
									@emit:up="(value) => dateSelected(value, filterState, 'register_start_date', 'register_end_date')"
									v-model="registerDatePicker"
									@clickClear="fetchClearRegisterStartDate"
									with-input
									range
									background-color="var(--input-bg)"
									clearable
								/>
							</div>
						</v-col>
						<!-- /Рег. дата -->
					</v-row>
				</template>
				<!-- /Пришедшие (Регистрация) -->

				<div class="d-flex mt-8">
					<app-button
						min-width="80"
						width="80"
						height="40"
						class="mr-2"
						@click="filter"
					>
						<template>
							{{ $t('components.filter') }}
						</template>
					</app-button>

					<!-- Будет видно только на станице "Ящики" -->
					<template
						v-if="$route.path.split('/').includes('boxes') && (activeRoute === 'review' || activeRoute === 'inbox' || activeRoute === 'sign')">
						<template v-if="saveFilterVisible">
							<template v-if="!filterSaved">
								<app-button
									height="40"
									color="success"
									class="mr-3"
									@click="saveFilter"
								>
									<template>
										{{ $t('components.save-filter') }}
									</template>
								</app-button>
							</template>

							<template v-else>
								<app-button
									height="40"
									color="success"
									class="mr-4"
									@click="updateFilter"
								>
									<template>
										{{ $t('components.update-filter') }}
									</template>
								</app-button>
							</template>
						</template>
					</template>
					<!-- Будет видно только на станице "Ящики" -->

<!--					<app-button-->
<!--						@click="clearForm"-->
<!--						height="40"-->
<!--						color="primary"-->
<!--						class="mr-2"-->
<!--					>-->
<!--						<template>-->
<!--							{{ $t('document-flow.views.send-document.clear-form') }}-->
<!--						</template>-->
<!--					</app-button>-->

					<app-button
						@click="closeFilterModal"
						min-width="85"
						width="85"
						height="40"
						outlined
						color="error"
					>
						<template>
							{{ $t('components.cancel') }}
						</template>
					</app-button>
				</div>

				<pre class="d-none">{{ getIsHeaderFilterSaved }}</pre>
				<pre class="d-none">{{ currentRouteFilterType }}</pre>
				<pre class="d-none">{{ getHeaderFilters }}</pre>
			</div>
		</v-dialog>
	</div>
</template>

<script>
import {debounce} from "lodash/function"
import {SearchIcon, Trash2Icon, XIcon, ChevronDownIcon, DownloadIcon} from "vue-feather-icons"
import {mapActions, mapGetters, mapMutations, mapState} from "vuex"
import {format} from "date-fns";
import {getObjectWithoutKeyNull, resetModel} from "../helpers";

export default {
	name: "FilterModal",
	components: {
		XIcon,
		SearchIcon,
		Trash2Icon,
		ChevronDownIcon,
		DownloadIcon
	},
	props: {
		activeRoute: String,
		exportExcelButtonLoading: {
			type: Boolean,
			default: false
		}
	},
	data() {
		return {
			filterModal: false,
			registerDatePicker: null,
			outgoingDatePicker: null,
			deadlineDatePicker: null,
			filterList: [
				{
					title: this.$t('components.completed'),
					value: "performed",
					color: "var(--primary-2)"
				},
				{
					title: this.$t('components.today'),
					value: "today",
					color: "var(--primary-3)"
				},
				{
					title: this.$t('components.less-three-days'),
					value: "three_days_left",
					color: "var(--primary-3)"
				},
				{
					title: this.$t('components.done-late'),
					value: "overdue_performed",
					color: "var(--primary-4)"
				},
				{
					title: this.$t('components.overdue'),
					value: "overdue",
					color: "var(--primary-6)"
				}
			],
			assignmentTypeList: [
				{
					title: this.$t('components.order'),
					value: "assignment"
				},
				{
					title: this.$t('components.control-point'),
					value: "control_point"
				}
			],
			letterTypeList: [
				{title: 'Внутренний', value: 3, role: null, combineValueAndType: true},
				{title: 'Исходящий', value: 4, type: "service_letter", role: null, combineValueAndType: true},
				{title: 'Протокол правления', value: 6, type: "protocol", role: null, combineValueAndType: true},
				{title: 'Протокол комитета', value: 101, type: "credit_committee", role: null, combineValueAndType: true},
				{title: 'Заявление', value: 7, type: "hr_application", combineValueAndType: true},
				{title: 'Распоряжения', value: 8, type: "decree", combineValueAndType: true},
				{title: 'Акт', value: 15, type: "act", role: "technique_officer", combineValueAndType: true},
				{title: "Созданные приказы", value: 100, type: "hr_order", combineValueAndType: true},
				{title: "В другие организации", value: 104, type: "organization_letter", combineValueAndType: true},
				// {
				//   title: this.$t('components.notification'),
				//   value: "notice"
				// },
				// {
				//   title: this.$t('components.decree'),
				//   value: "decree"
				// },
				// {
				//   title: this.$t('components.service-letter'),
				//   value: "service_letter"
				// },
			],
			typeAndValue: {
				value: null,
				type: null,
			},
			typeAndJournal: {
				journal_id: null,
				type: null
			},
			statusList: [
				{
					title: this.$t('components.do'),
					value: 1
				},
				{
					title: this.$t('components.in-progress'),
					value: 2
				},
				{
					title: this.$t('components.in-expectation'),
					value: 3
				},
				{
					title: this.$t('components.done'),
					value: 4
				},
				{
					title: this.$t('components.for-signature'),
					value: 5
				},
				{
					title: this.$t('cancels'),
					value: 6
				},
				{
					title: this.$t('components.on-review'),
					value: 7
				},
			],

			statusTextList: [
				{
					title: this.$t('statusText.approved'),
					value: "approved"
				},
				{
					title: this.$t('statusText.pending'),
					value: "pending"
				},
				{
					title: this.$t('statusText.declined'),
					value: "declined"
				},
				{
					title: this.$t('statusText.for_registration'),
					value: "for_registration"
				},
				{
					title: this.$t('components.for-signature'),
					value: "for_signature"
				},
				{
					title: this.$t('statusText.draft'),
					value: "draft"
				}
			],

			statusValues: [],
			filterCorrespondent: null,
			filterSaved: false,
			dateList: [
				{
					title: this.$t('document-flow.views.statistics.today'),
					value: "today"
				},
				{
					title: this.$t('document-flow.views.statistics.yesterday'),
					value: "yesterday"
				},
				{
					title: this.$t('document-flow.views.statistics.last-seven-day'),
					value: "last_7_days"
				},
				{
					title: this.$t('document-flow.views.statistics.last-two-week'),
					value: "last_2_week"
				},
				{
					title: this.$t('document-flow.views.statistics.current-month'),
					value: "this_month"
				},
				{
					title: this.$t('document-flow.views.statistics.last-month'),
					value: "last_month"
				},
			],
		}
	},
	computed: {
		...mapState({
			filterState: state => state.headerFilter.filter,
			filteredState: state => state.headerFilter.filteredState,
			filterFakeKeys: state => state.headerFilter.filterFakeKeys
		}),
		/*
		*
		* */
		...mapGetters({
			currentUser: "auth/getCurrentUser",
			getHeaderFilters: "documentFlowModule/getHeaderFilters",
			departmentList: "documentFlowModule/getDepartmentList",
			getNewJournalList: "documentFlowModule/getNewJournalList",
			getIsHeaderFilterSaved: "documentFlowModule/getIsHeaderFilterSaved",
			documentTypeList: "getDocumentTypeList"
		}),
		/*
		*
		* */
		saveFilterVisible() {
			let role = this.currentUser.role

			return role === "admin" || role === "assistant" || role === "deputy_chair" || role === "chairman"
		},
		/*
		*
		* */
		documentReferenceUrl() {
			return `/docflow/${this.currentUser.filial}/reference/`
		},
		/*
		*
		* */
		usersReferenceUrl() {
			return `/${this.currentUser.filial}/user/lists/by_category/`
		},
		/*
		*
		* */
		currentRouteFilterType() {
			switch (this.activeRoute) {
				// На подпись
				case "sign":
					return "for_signature"
				// На согласование
				case "approval":
					return "for_agreement"
				// На рассмотрение
				case "review":
					return "for_review"
				// Входящие
				case "inbox":
					return "inbox"
				case "control":
					return "control"
				case "created-resolutions":
					return "created-resolutions"
			}
		},
		/**/
		firstDayOfMonth() {
			let month = new Date().getMonth() + 1
			if (month < 10) {
				month = "0" + month
			}
			return new Date().getFullYear() + "-" + month + "-01"
		}
	},
	watch: {
		$route: {
			immediate: true,
			handler(to, from) {
				this.typeAndValue = {
					value: null,
					type: null,
				}

				this.filtersFromQueryParams()

				this.statusValues = []

				if (to.path.split("/")[2] === "boxes") {
					if (!Object.keys(to.query).length) {
						setTimeout(() => {
							this.fetchGetHeaderFilterByType({type: this.currentRouteFilterType})
								.then((data) => {
									if (data.status) {
										this.statusValues = data.status.split(",").map(i => parseInt(i))
									}

									if (data.hasOwnProperty("fail")) {
										localStorage.removeItem("filterSaved")
										this.filterSaved = false
									} else {
										localStorage.setItem("filterSaved", true)
										this.$router.push({
											query: data
										})
											.catch(() => {
											})
									}
								})
						}, 500)
					}
				}

				this.filterSaved = localStorage.getItem("filterSaved")
				this.toggleEventDescriptionModal(false)
			}
		},
	},
	mounted() {
		this.fetchDepartmentList();
		this.changeDateFilter();
	},
	methods: {
		...mapActions({
			toggleEventDescriptionModal: "gridCalendar/toggleEventDescriptionModal",
			fetchDepartmentList: "documentFlowModule/fetchDepartmentList",
			fetchCorrespondentById: "documentFlowModule/fetchCorrespondentById",
			fetchSaveHeaderFilter: "documentFlowModule/fetchSaveHeaderFilter",
			fetchUpdateHeaderFilter: "documentFlowModule/fetchUpdateHeaderFilter",
			fetchGetHeaderFilterByType: "documentFlowModule/fetchGetHeaderFilterByType",
			fetchClearRegisterStartDate: "documentFlowModule/fetchClearRegisterStartDate",
			fetchDocTypeCorrespondListById: "documentFlowModule/fetchDocTypeCorrespondListById",
			setFilteredState: "headerFilter/setFilteredState",
			setFiltersFromQueryParams: "headerFilter/setFiltersFromQueryParams",
			setClearFilters: "headerFilter/setClearFilters",
			clearFilterDatePicker: "headerFilter/clearFilterDatePicker",
		}),
		/*
		*
		* */
		...mapMutations({
			CLEAR_HEADER_FILTER: "documentFlowModule/CLEAR_HEADER_FILTER"
		}),
		/*
		*
		* */
		getTodoList() {
			this.$store.state.headerFilter.filter.status = 1

			this.setFilters()
		},
		/*
		*
		* */
		clearDates() {
			this.$store.state.headerFilter.filter.register_start_date = null
			this.$store.state.headerFilter.filter.register_end_date = null

			this.setFilters()
		},
		/*
		*
		* */
		getTemplateList(val) {
			let day = new Date()

			switch (val) {
				case "today":
					this.$store.state.headerFilter.filter.register_start_date = format(day, "yyyy-MM-dd")
					this.$store.state.headerFilter.filter.register_end_date = format(day, "yyyy-MM-dd")
					break;
				case "yesterday":
					this.$store.state.headerFilter.filter.register_start_date = format(Date.now() - 24 * 60 * 60 * 1000, "yyyy-MM-dd")
					this.$store.state.headerFilter.filter.register_end_date = format(day, "yyyy-MM-dd")
					break;
				case "last_7_days":
					this.$store.state.headerFilter.filter.register_start_date = format(Date.now() - 7 * 24 * 60 * 60 * 1000, "yyyy-MM-dd")
					this.$store.state.headerFilter.filter.register_end_date = format(day, "yyyy-MM-dd")
					break;
				case "last_2_week":
					this.$store.state.headerFilter.filter.register_start_date = format(Date.now() - 14 * 24 * 60 * 60 * 1000, "yyyy-MM-dd")
					this.$store.state.headerFilter.filter.register_end_date = format(day, "yyyy-MM-dd")
					break;
				case "this_month":
					this.$store.state.headerFilter.filter.register_start_date = format(Date.now() - (day.getDate() - 1) * 24 * 60 * 60 * 1000, "yyyy-MM-dd")
					this.$store.state.headerFilter.filter.register_end_date = format(day, "yyyy-MM-dd")
					break;
				case "last_month":
					this.$store.state.headerFilter.filter.register_start_date = format(new Date(day.getFullYear(), day.getMonth() - 1, 1), "yyyy-MM-dd")
					this.$store.state.headerFilter.filter.register_end_date = format(new Date(day.getFullYear(), day.getMonth(), 0), "yyyy-MM-dd")
					break;
			}

			this.setFilters()
		},
		/*
		*
		* */
		getThisMonth() {
			let day = new Date()

			this.$store.state.headerFilter.filter.register_start_date = format(Date.now() - (day.getDate() - 1) * 24 * 60 * 60 * 1000, "yyyy-MM-dd")
			this.$store.state.headerFilter.filter.register_end_date = format(day, "yyyy-MM-dd")

			this.setFilters()
		},
		/*
		*
		* */
		clearFilters() {
			this.filterCorrespondent = null
			this.filterState.correspondent = null
			this.filterFakeKeys.correspondent = null
			this.filterFakeKeys.doc_type = null
			this.typeAndValue = {
				value: null,
				type: null,
			}

			this.typeAndJournal = {
				journal_id: null,
				type: null
			}
			// this.filterState.register_start_date = null

			this.setClearFilters({
				query: this.$route.query
			})
				.then(() => {
					if (Object.keys(this.$route.query).length) {
						if (this.$route.fullPath.split("/")[2] === "document-registration") {
							this.$router.replace({'query': {register_start_date: new Date().getFullYear() + '-' + (Number(new Date().getMonth()) + 1) + '-01'}}).catch(() => {
							});
							this.registerDatePicker = new Date().getFullYear() + '-' + (Number(new Date().getMonth()) + 1) + '-01'
							// this.filterState.register_start_date = new Date().getFullYear() + '-' + (Number(new Date().getMonth()) + 1) + '-01'
						} else {
							this.$router.replace({query: null});
							this.registerDatePicker = null
						}

						console.log("STATE", this.filterState);

						setTimeout(() => {
							this.typeAndValue = {
								value: this.filterState.journal_id,
								type: this.filterState.type,
							}
						}, 1500)
					}

					this.$emit("emit:filter:update")
				})
		},
		/*
		*
		* */
		search: debounce(function () {
			this.setFilters()
		}, 500),
		/*
		*
		* */
		setFilters() {
			this.$store.state.headerFilter.pagination.page = 1

			this.setFilteredState()

			this.$router.push({
				query: {
					filter: "true",
					...this.filteredState
				}
			})
				.then(() => {
					this.$emit('emit:filter')
				})
				.catch(() => {
				})
		},
		/*
		*
		* */
		filtersFromQueryParams() {
			let path = this.$route.path

			if (path === "/document-flow/boxes/sign/table" || path === "/document-flow/boxes/approval/table") {
				this.typeAndValue.type = this.$route.query.type
				this.typeAndValue.value = Number(this.$route.query.journal_id)
			}

			if (this.activeRoute === "sending-document" && this.$route.query.journal_id && this.$route.query.type) {
				this.typeAndJournal.type = this.$route.query.type;
				this.typeAndJournal.journal_id = Number(this.$route.query.journal_id);
			}

			this.setFiltersFromQueryParams({
				query: this.$route.query
			})
				.then((filter) => {
					// console.log(filter);
					setTimeout(() => {
						// Если есть корреспондент
						if (filter.correspondent) {
							this.fetchCorrespondentById({
								id: filter.correspondent
							})
								.then(data => {
									this.filterFakeKeys.correspondent = data
								})
						}

						// Если есть тип документ
						if (filter.doc_type) {
							this.fetchDocTypeCorrespondListById({
								id: filter.doc_type,
								params: {
									type: 'doc_type'
								}
							})
								.then(data => {
									this.filterFakeKeys.doc_type = data
								})
						}

						if (filter.status) {
							this.statusValues = String(filter.status).split(",").map(i => parseInt(i))
						}
					}, 1000)
				})
		},
		/*
		*
		* */
		closeFilterModal() {
			this.filterModal = !this.filterModal
		},
		/*
		*
		* */
		dateSelected(value, model, start, end) {
			model[start] = value[0]
			model[end] = value[1]
		},
		/*
		*
		* */
		filter() {
			this.filterState.correspondent = this.filterFakeKeys.correspondent ? this.filterFakeKeys.correspondent.id : null
			this.filterState.doc_type = this.filterFakeKeys.doc_type ? this.filterFakeKeys.doc_type.id : null
			this.filterState.status = this.statusValues.join()

			if (this.typeAndValue && this.typeAndValue.hasOwnProperty("combineValueAndType")) {
				this.filterState.type = this.typeAndValue.type
				this.filterState.journal_id = Number(this.typeAndValue.value)
			}
			this.setFilters()
			this.closeFilterModal();
		},
		/*
		*
		* */
		saveFilter() {
			let activeState = {}
			this.filterState.correspondent = this.filterFakeKeys.correspondent ? this.filterFakeKeys.correspondent.id : null
			this.filterState.doc_type = this.filterFakeKeys.doc_type ? this.filterFakeKeys.doc_type.id : null
			this.filterState.status = this.statusValues.join()

			if (this.typeAndValue && this.typeAndValue.hasOwnProperty("combineValueAndType")) {
				this.filterState.type = this.typeAndValue.type
				this.filterState.journal_id = Number(this.typeAndValue.value)
			}

			Object.entries(this.filterState).forEach(item => {
				const [key, value] = item

				if (value || (typeof value === "boolean")) {
					activeState = {
						...activeState,
						[key]: value
					}
				}
			})

			this.$router.push({
				query: activeState
			})
				.catch(() => {
				})

			this.fetchSaveHeaderFilter({
				type: this.currentRouteFilterType,
				filterQuery: activeState
			})
				.then(() => {
					this.$toast.success(this.$t('components.filter-saved'))

					this.$emit('emit:filter:save')

					localStorage.setItem("filterSaved", true)
					this.filterSaved = localStorage.getItem("filterSaved")
					this.closeFilterModal()
				})
		},
		/*
		*
		* */
		updateFilter() {
			let activeState = {}
			this.filterState.correspondent = this.filterFakeKeys.correspondent ? this.filterFakeKeys.correspondent.id : null
			this.filterState.doc_type = this.filterFakeKeys.doc_type ? this.filterFakeKeys.doc_type.id : null
			this.filterState.status = this.statusValues.join()

			if (this.typeAndValue && this.typeAndValue.hasOwnProperty("combineValueAndType")) {
				this.filterState.type = this.typeAndValue.type
				this.filterState.journal_id = Number(this.typeAndValue.value)
			}

			Object.entries(this.filterState).forEach(item => {
				const [key, value] = item

				if (value || (typeof value === "boolean")) {
					activeState = {
						...activeState,
						[key]: value
					}
				}
			})

			this.$router.push({
				query: activeState
			})
				.catch(() => {
				})

			this.fetchUpdateHeaderFilter({
				type: this.currentRouteFilterType,
				filterQuery: activeState
			})
				.then(() => {
					this.$toast.success(this.$t('components.filter-updated'))

					this.$emit('emit:filter:update')
					this.closeFilterModal();
				})
		},
		/*
		*
		* */
		changeDateFilter() {
			if (this.$route.path.split("/")[2] === 'document-registration' || this.$route.path.split("/")[2] === 'sending-documents') {
				if (!this.registerDatePicker) {
					if (this.$route.query.register_start_date && this.$route.query.register_end_date) {
						this.registerDatePicker = [this.$route.query.register_start_date, this.$route.query.register_end_date]
					} else {
						this.registerDatePicker = []
						this.registerDatePicker[0] = this.firstDayOfMonth
					}
				}
			}
		},
		/*
		*
		* */
		clearDeadlinePicker() {
			this.clearFilterDatePicker({
				start: "deadline_start",
				end: "deadline_end"
			})
		},
		/*
		*
		* */
		onDocTypeChange(val) {
			if (val === null) {
				this.typeAndValue = {
					value: null,
					type: null,
					combineValueAndType: true
				}
			}
		},
		/** **/
		exportToExcel() {
			const model = getObjectWithoutKeyNull(this.filterState);
			if (model.hasOwnProperty('filter')){
				delete model.filter;
			}
			if (model.hasOwnProperty('page')){
				delete model.page;
			}
			if (model.hasOwnProperty('page_size')){
				delete model.page_size;
			}
			this.$emit("emit:exportExcel", model);
		},
		/** **/
		clearForm() {
			resetModel(this.filterState, ['type', 'journal_id']);
		},
		/** **/
		onDocumentTypeChange(val) {
			if (this.activeRoute === 'sending-document') {
				if (val) {
					this.filterState.type = val.type;
					this.filterState.journal_id = val.journal_id;
				} else {
					this.filterState.type = null;
					this.filterState.journal_id = null;
				}
			}
		}
	}
}
</script>
