<template>
	<div class="grid-calendar-view flex-1" @wheel="wheel">
		<template v-if="getMergedEventsList">
			<v-calendar
				:event-color="getEventColor"
				:event-height=25
				:event-margin-bottom=5
				:event-text-color="eventTextColor"
				:events="getMergedEventsList"
				:type="getCalendarType.value"
				@change="updateRange"
				@click:date="dateClick"
				@click:event="showEvent"
        :short-weekdays="false"
				@click:more="viewDay"
				color="primary"
				ref="calendarRef"
				v-model="$store.state.gridCalendar.changedDate"
        :interval-format="intervalTimeFormat"
        :weekdays="[1, 2, 3, 4, 5, 6, 0]"
        @click:day="dayClick"
        locale="ru"
			>
				<template #event="{ event }">
					<span
						class="text-truncate pl-2 d-block size-13"
            :class="event.__is_completed ? 'text-decoration-line-through' : ''"
						style="padding-top: 2px"
					>
            <template v-if="event.type === 'event'">
              {{ event.__hours.start }} - {{ event.__hours.end }}
            </template>
            <span>{{ getText(event.name) }}</span>
          </span>
				</template>
			</v-calendar>


      <v-menu
        v-model="eventModal"
        :close-on-content-click="false"
        :activator="getSelectedElement"
        offset-x
        :absolute="getEventMenuActivator.absolute"
        max-width="460px"
        min-width="460px"
        @input="closeMenuActivator"
      >
        <slot
          name="eventDescription"
          v-if="getActivatorMenuType === 'AssignmentContent'"
          :selected="getSelectedEvent"
        />

        <template v-if="getActivatorMenuType === 'EventContent'">
          <!-- Create -->
          <v-card rounded elevation="0">
            <v-toolbar
              height="50"
              elevation="0"
            >
              <v-toolbar-title>
                <span class="small-1 font-600 ml-2">
                  {{ getSelectedEvent.title }}
                </span>
              </v-toolbar-title>

              <v-spacer />

              <template v-if="(getSelectedEvent.created_by && getSelectedEvent.created_by.id) === currentUser.id">
                <app-tooltip
                  v-if="getSelectedEvent.status !== 'finished'"
                  bottom
                >
                  <template #content>
                    <v-btn
                      icon
                      small
                      color="primary"
                      @click="updateEventDrawer(getSelectedEvent.id)"
                    >
                      <edit2-icon size="18" />
                    </v-btn>
                  </template>

                  <template #text>
                    {{$t('components.edit-event')}}
                  </template>
                </app-tooltip>

                <app-tooltip bottom>
                  <template #content>
                    <v-btn
                      icon
                      small
                      color="error"
                      @click="deleteEvent({ id: getSelectedEvent.id, name: 'fetchDeleteEvent' })"
                    >
                      <trash2-icon size="18" />
                    </v-btn>
                  </template>

                  <template #text>
                    {{$t('components.delete-event')}}
                  </template>
                </app-tooltip>
              </template>
            </v-toolbar>

            <v-card-text class="border-top border-bottom py-5 px-6">
              <!-- Set dates -->
              <div class="d-flex mb-5">
                <v-sheet width="48">
                  <calendar-icon size="20" color="#5f6368" />
                </v-sheet>

                <div class="flex-1">
                  <span class="d-block text-dark font-500">{{ getSelectedEvent.start_date | filterIIIIDDLLLL }} ⋅ {{ getSelectedEvent.start_date | filterHHmm }} - {{ getSelectedEvent.end_date | filterHHmm }} </span>
                </div>
              </div>
              <!-- /Set dates -->

              <!-- Rooms -->
              <template v-if="getSelectedEvent.room">
                <div class="d-flex mb-5">
                  <v-sheet width="48">
                    <map-icon size="20" color="#5f6368" />
                  </v-sheet>

                  <div class="flex-1">
                    <v-chip
                      color="primary"
                      small
                      class="font-500"
                    >
                      {{ getSelectedEvent.room === 'big_hall' ? $t('components.big-hall') : $t('components.small-hall') }}
                    </v-chip>
                  </div>
                </div>
              </template>
              <!-- /Rooms -->

              <!-- Zoom link & Cisco -->
              <template v-if="getSelectedEvent.meeting_type !== 'offline'">
                <template v-if="getSelectedEvent.meeting_type === 'zoom'">
                  <div class="d-flex mb-5">
                    <v-sheet width="48">
                      <link-icon size="20" color="#5f6368" />
                    </v-sheet>

                    <div class="flex-1">
                      <a
                        :href="getSelectedEvent.link"
                        target="_blank"
                        class="font-500"
                      >{{ getSelectedEvent.link }}</a>
                    </div>
                  </div>
                </template>

                <template v-if="getSelectedEvent.meeting_type === 'cisco'">
                  <div class="d-flex mb-5">
                    <v-sheet width="48">
                      <phone-icon size="20" color="#5f6368" />
                    </v-sheet>

                    <div class="flex-1">
                      <span class="d-block text-dark font-500">{{ getSelectedEvent.link }}</span>
                    </div>
                  </div>
                </template>
              </template>
              <!-- /Zoom link & Cisco -->

              <!-- Members -->
              <div class="d-flex mb-5">
                <v-sheet width="48">
                  <users-icon size="20" color="#5f6368" />
                </v-sheet>

                <div class="flex-1">
                  <app-avatar-group list-type="participants" :avatar-list="getSelectedEvent.participants" />
                </div>
              </div>
              <!-- /Members -->

              <!-- Description -->
              <div class="d-flex mb-5">
                <v-sheet width="48">
                  <edit3-icon size="20" color="#5f6368" />
                </v-sheet>

                <div class="flex-1">
                  <span class="d-block text-dark font-500">
                    {{ getSelectedEvent.description }}
                  </span>
                </div>
              </div>
              <!-- /Description -->

              <!-- Set files -->
              <div class="d-flex mb-5">
                <v-sheet width="48">
                  <paperclip-icon size="20" color="#5f6368" />
                </v-sheet>

                <div class="flex-1">
                  <file-upload
                    :files="getSelectedEvent.attachments"
                    :show-label="false"
                    :show-input="false"
                    readonly
                  />
                </div>
              </div>
              <!-- /Set files -->

              <!-- Organizer -->
              <div class="d-flex mb-5">
                <v-sheet width="48">
                  <user-icon size="20" color="#5f6368" />
                </v-sheet>

                <div class="flex-1">
                  <span class="d-block text-dark font-500">
                    {{ getSelectedEvent.created_by && getSelectedEvent.created_by.full_name }}
                  </span>
                </div>
              </div>
              <!-- /Organizer -->

              <!-- Status -->
              <div class="d-flex">
                <v-sheet width="48">
                  <activity-icon size="20" color="#5f6368" />
                </v-sheet>

                <div class="flex-1">
                  <v-chip
                    v-if="getSelectedEvent.status === 'new'"
                    color="success"
                    small
                    class="font-500"
                  >
                    {{$t('components.event-created')}}
                  </v-chip>

                  <v-chip
                    v-if="getSelectedEvent.status === 'in_progress'"
                    color="warning"
                    small
                    class="font-500"
                  >
                    {{$t('components.event-restarted')}}
                  </v-chip>

                  <v-chip
                    v-if="getSelectedEvent.status === 'canceled'"
                    color="error"
                    small
                    class="font-500"
                  >
                    {{$t('components.event-cancelled')}}
                  </v-chip>

                  <v-chip
                    v-if="getSelectedEvent.status === 'finished'"
                    color="primary"
                    small
                    class="font-500"
                  >
                    {{$t('components.event-ended')}}
                  </v-chip>
                </div>
              </div>
              <!-- /Status -->
            </v-card-text>

            <template v-if="(getSelectedEvent.created_by && getSelectedEvent.created_by.id) === currentUser.id">
              <v-card-actions
                v-if="getSelectedEvent.status !== 'finished'"
                class="justify-end"
              >
                <template v-if="getSelectedEvent.status !== 'canceled'">
                  <v-btn
                    text
                    small
                    color="error"
                    @click="cancelEvent(getSelectedEvent.id, 'canceled', getSelectedEvent)"
                  >
                    {{$t('components.cancel-event')}}
<!--                    @click="eventUpdateAction(getSelectedEvent.id, 'canceled', getSelectedEvent)"-->
                  </v-btn>
                </template>

<!--                <template v-else>-->
<!--                  <v-btn-->
<!--                    text-->
<!--                    small-->
<!--                    color="warning"-->
<!--                    @click="eventUpdateAction(getSelectedEvent.id, 'in_progress', getSelectedEvent)"-->
<!--                  >-->
<!--                    Возобновить мероприятие-->
<!--                  </v-btn>-->
<!--                </template>-->
              </v-card-actions>
            </template>
          </v-card>
        </template>
        <template v-if="getActivatorMenuType === 'ControlContent'">
          <v-card rounded elevation="0">
            <v-toolbar
              height="50"
              elevation="0"
            >
              <v-toolbar-title>
                <span class="small-1 font-600 ml-2">{{ getText(getSelectedEvent.name) }}</span>
              </v-toolbar-title>
            </v-toolbar>
            <v-card-text class="border-top border-bottom py-5 px-6">
              <div class="d-flex mb-5">
                <v-sheet width="48">
                  <calendar-icon size="20" color="#5f6368" />
                </v-sheet>
                <div class="flex-1">
                  <span class="d-block text-dark font-500">{{ parsingDate(getSelectedEvent.deadline) }}</span>
                </div>
              </div>
              <div class="d-flex mb-5">
                <v-sheet width="48">
                  <file-text-icon size="20" color="#5f6368" />
                </v-sheet>
                <div class="flex-1">
                  <span class="d-block text-dark font-500">{{ getSelectedEvent.doc_type && getSelectedEvent.doc_type.title }}</span>
                </div>
              </div>
              <div class="d-flex mb-5">
                <v-sheet width="48">
                  <user-icon size="20" color="#5f6368" />
                </v-sheet>
                <div class="flex-1">
                  <span class="d-block text-dark font-500">
                    {{ getSelectedEvent.created_by && getSelectedEvent.created_by.full_name }}
                  </span>
                </div>
              </div>
              <div class="d-flex">
                <v-sheet width="48">
                  <activity-icon size="20" color="#5f6368" />
                </v-sheet>
                <div class="flex-1 control-task-item">
                  <v-chip
                    small
                    class="font-500"
                    :class="getSelectedEvent.status === 1?'done':getSelectedEvent.status === 0?'process':getSelectedEvent.status === 1 && getSelectedEvent.is_overdue?'overdue':'not-done'"
                  >
                   {{getSelectedEvent.status === 1 && getSelectedEvent.is_overdue?$t('components.task-overdue'):getSelectedEvent.status === 0?$t('components.task-in-process'):getSelectedEvent.status === 1?$t('components.task-done'):$t('components.task-not-done')}}
                  </v-chip>
                </div>
              </div>
            </v-card-text>
            <v-card-actions
                class="justify-end"
              >
              <v-btn
                small
                depressed
                color="success"
                @click="() => openTask(getSelectedEvent.id)"
              >
                {{$t('components.view')}}
              </v-btn>
              </v-card-actions>
          </v-card>
        </template>
        <template v-if="getActivatorMenuType === 'TaskContent'">
          <!-- Create -->
          <template v-if="!taskUpdateState">
            <v-card rounded elevation="0">
              <v-toolbar
                height="50"
                elevation="0"
              >
                <v-toolbar-title>
                  <span class="small-1 font-600 ml-2">
                    {{ getSelectedEvent.title }}
                  </span>
                </v-toolbar-title>

                <v-spacer />

                <app-tooltip bottom>
                  <template #content>
                    <v-btn
                      icon
                      small
                      color="primary"
                      @click="taskUpdateState = !taskUpdateState"
                    >
                      <edit2-icon size="18" />
                    </v-btn>
                  </template>

                  <template #text>
                    {{$t('components.edit-task')}}
                  </template>
                </app-tooltip>

                <app-tooltip bottom>
                  <template #content>
                    <v-btn
                      icon
                      small
                      color="error"
                      @click="deleteEvent({ id: getSelectedEvent.id, name: 'fetchDeleteTask' })"
                    >
                      <trash2-icon size="18" />
                    </v-btn>
                  </template>

                  <template #text>
                    {{$t('components.delete-task')}}
                  </template>
                </app-tooltip>
              </v-toolbar>

              <v-card-text class="border-top border-bottom py-5 px-6">
                <!-- Set dates -->
                <div class="d-flex mb-5">
                  <v-sheet width="48">
                    <calendar-icon size="20" color="#5f6368" />
                  </v-sheet>

                  <div class="flex-1">
                    <span class="d-block text-dark font-500">{{ getSelectedEvent.start_date | filterIIIIDDLLLL }}</span>
                  </div>
                </div>
                <!-- /Set dates -->

                <!-- Status -->
                <div class="d-flex">
                  <v-sheet width="48">
                    <activity-icon size="20" color="#5f6368" />
                  </v-sheet>

                  <div class="flex-1">
                    <span class="d-block text-dark font-500">{{ normalizeString(getSelectedEvent.status) }}</span>
                  </div>
                </div>
                <!-- /Status -->
              </v-card-text>

              <v-card-actions class="justify-end">
                <template v-if="getSelectedEvent.status !== 'finished'">
                  <v-btn
                    text
                    small
                    color="primary"
                    @click="taskUpdateAction(getSelectedEvent.id, 'finished')"
                  >
                    {{$t('components.task-completed')}}
                  </v-btn>
                </template>

                <template v-else>
                  <v-btn
                    text
                    small
                    color="error"
                    @click="taskUpdateAction(getSelectedEvent.id, 'in_progress')"
                  >
                    {{$t('components.task-not-completed')}}
                  </v-btn>
                </template>
              </v-card-actions>
            </v-card>
          </template>

          <!-- Update -->
          <template v-else>
            <v-card rounded elevation="0">
              <v-toolbar
                height="50"
                elevation="0"
              >
                <v-spacer />

                <app-tooltip bottom>
                  <template #content>
                    <v-btn
                      icon
                      small
                      color="error"
                      @click="deleteEvent({ id: getSelectedEvent.id, name: 'fetchDeleteTask' })"
                    >
                      <trash2-icon size="18" />
                    </v-btn>
                  </template>

                  <template #text>
                    {{$t('components.delete-task')}}
                  </template>
                </app-tooltip>
              </v-toolbar>

              <v-card-text class="border-top border-bottom py-5 px-6">
                <!-- Title -->
                <div class="pl-6 mb-3">
                  <div class="app-input mb-n1 pl-6">
                    <v-text-field
                      v-model="getSelectedEvent.title"
                      autofocus
                      :placeholder="$t('components.add-time-and-name')"
                      class="mt-0 pa-0"
                    />
                  </div>
                </div>
                <!-- /Title -->

                <!-- Set dates -->
                <div class="d-flex mb-6">
                  <v-sheet width="48">
                    <calendar-icon size="20" color="#5f6368" />
                  </v-sheet>

                  <div class="flex-1">
                    <app-date-picker
                      v-model="getSelectedEvent.__calendar_format"
                      with-input
                      has-format
                      dense
                      background-color="var(--input-bg)"
                    />

                    <v-row no-gutters align="center" class="mt-4">
                      <v-col md="5">
                        <div class="app-input app-input__small">
                          <v-select
                            v-model="getSelectedEvent.__start_hour"
                            :items="hoursList"
                            item-text="time"
                            item-value="time"
                            outlined
                            dense
                            hide-details
                            background-color="var(--input-bg)"
                            placeholder="09:00"
                          >
                            <template #append>
                              <v-icon>mdi-chevron-down</v-icon>
                            </template>
                            <template #prepend-inner>
                              <clock-icon size="16" color="#5f6368" class="mt-1 mr-1" />
                            </template>
                          </v-select>
                        </div>
                      </v-col>
                    </v-row>
                  </div>
                </div>
                <!-- /Set dates -->

                <!-- Description -->
                <div class="d-flex">
                  <v-sheet width="48">
                    <edit3-icon size="20" color="#5f6368" />
                  </v-sheet>

                  <div class="flex-1">
                    <div class="app-input">
                      <v-text-field
                        v-model="getSelectedEvent.description"
                        :placeholder="$t('components.add-description')"
                        background-color="var(--input-bg)"
                        outlined
                        dense
                        hide-details
                      />
                    </div>
                  </div>
                </div>
                <!-- /Description -->
              </v-card-text>

              <v-card-actions class="justify-end">
                <v-btn
                  text
                  small
                  color="primary"
                  @click="taskUpdateAction(getSelectedEvent.id)"
                >
                  {{$t('components.save')}}
                </v-btn>
              </v-card-actions>
            </v-card>
          </template>
        </template>
        <template v-if="getActivatorMenuType === 'MockEvent'">
          <div class="bg-white">
            <div class="bg-2 d-flex align-center py-2 px-3">
              <menu-icon
                v-if="getEventTypeState === 'EventView'"
                size="18"
                color="var(--text-3)"
                class="pointer"
                @click="toggleMenuAbsolute"
              />

              <x-icon
                size="18"
                color="var(--text-3)"
                class="ml-auto pointer"
                @click="closeMenuActivator(false)"
              />
            </div>

            <perfect-scrollbar
              :style="
                getEventTypeState === 'EventView'
                ? 'height: 715px'
                : 'height: 385px'
              "
              :class="absoluteMenuClick & 1 ? 'activator-full-height' : ''"
            >
              <div class="d-flex flex-column h-100">
                <div class="app-input mb-n1 pl-16 ml-2 pr-7 pt-2">
                  <v-text-field
                    v-model="$v.title.$model"
				            :error="$v.title.$error"
                    autofocus
                    :placeholder="$t('components.add-time-and-name')"
                  />
                </div>

                <div v-if="absoluteMenuClick % 2 === 0" class="mb-5 pl-16 ml-2">
                  <v-btn-toggle
                    :value="getEventTypeState"
                    mandatory
                    tile
                    color="primary"
                    group
                    dense
                    @change="(val) => eventTypeState(val)"
                  >
                    <v-btn value="EventView" class="rounded ma-0 mr-2">
                      {{$t('components.event')}}
                    </v-btn>

                    <v-btn value="TaskView" class="rounded ma-0">
                      {{$t('components.task')}}
                    </v-btn>
                  </v-btn-toggle>
                </div>

                <template v-if="getEventTypeState === 'EventView'">
                  <event-view
                    v-if="getEventState"
                    @emit:create="createEvent"
                    @emit:close="closeMenuActivator(false)"
                  />
                </template>

                <template v-if="getEventTypeState === 'TaskView'">
                  <task-view
                    @emit:create="createTask"
                    @emit:close="closeMenuActivator(false)"
                  />
                </template>
              </div>
            </perfect-scrollbar>

<!--            <div class="border-top text-right py-3 px-5">-->
<!--              <app-button-->
<!--                min-width="85"-->
<!--                small-->
<!--                text-->
<!--                color="error"-->
<!--                class="mr-2"-->
<!--                @click="closeMenuActivator(false)"-->
<!--              >-->
<!--                Отмена-->
<!--              </app-button>-->

<!--              <app-button-->
<!--                min-width="85"-->
<!--                small-->
<!--                @click="createAction"-->
<!--              >-->
<!--                Создать-->
<!--              </app-button>-->
<!--            </div>-->
          </div>
        </template>
      </v-menu>
		</template>
	</div>
</template>
<script>
import FileUpload from "@/common/components/FileUpload"
import { generateDayHours, stringUppercase } from "@/common/helpers"
import EventView from "@/modules/EventCalendar/components/EventView"
import TaskView from "@/modules/EventCalendar/components/TaskView"
import { ActivityIcon, CalendarIcon, ClockIcon, Edit2Icon, Edit3Icon, FileIcon, FileTextIcon, LinkIcon, MapIcon, MenuIcon, PaperclipIcon, PhoneIcon, Trash2Icon, UserIcon, UsersIcon, XIcon } from "vue-feather-icons"
import { required } from "vuelidate/lib/validators"
import { mapActions, mapGetters, mapMutations, mapState } from "vuex"

export default {
	name: "GridCalendar",
	props: {
    viewOnly: {
		  type: Boolean,
      default: true
    },
    loadEvents: {
      type: Boolean,
      default: false
    }
	},
	components: {
    FileUpload,
    EventView,
    TaskView,
    MapIcon,
		Trash2Icon,
    LinkIcon,
    PhoneIcon,
    XIcon,
    MenuIcon,
    Edit2Icon,
    CalendarIcon,
    PaperclipIcon,
    UserIcon,
    ActivityIcon,
    ClockIcon,
    Edit3Icon,
    UsersIcon,
    FileIcon,
    FileTextIcon,
	},
	data() {
		return {
		  title: "",
      absoluteMenuClick: 0,
      taskUpdateState: false,
      hoursList: generateDayHours(15, 'ru'),
		}
	},
  validations: {
    title: { required }
	},
	computed: {
    ...mapState({
      eventCreateModel: state => state.gridCalendar.eventCreateModel,
      taskCreateModel: state => state.gridCalendar.taskCreateModel
    }),
    /*
    *
    * */
		...mapGetters({
      currentUser: "auth/getCurrentUser",
      getEventMenuActivator: "gridCalendar/getEventMenuActivator",
      getEventTypeState: "gridCalendar/getEventTypeState",
      getEventState: "gridCalendar/getEventState",
      getEventsList: "gridCalendar/getEventsList",
      isEventModalVisible: "gridCalendar/isEventModalVisible",
      getCalendarType: "gridCalendar/getCalendarType",
      getActivatorMenuType: "gridCalendar/getActivatorMenuType",
      getSelectedEvent: "gridCalendar/getSelectedEvent",
      getSelectedElement: "gridCalendar/getSelectedElement",
      getChangedDate: "gridCalendar/getChangedDate",
      getTasksList: "gridCalendar/getTasksList",
      getMergedEventsList: "gridCalendar/getMergedEventsList",
		}),
		/*
		*
		* */
		eventModal: {
			get() {
				return this.isEventModalVisible
			},
			set(value) {
				return value
			}
		}
	},
	mounted () {
		const { calendarRef } = this.$refs

		this.SET_CALENDAR_REF(calendarRef)

    if(this.loadEvents) {
      this.mergeEventsList()
    }
	},
  beforeDestroy() {
    this.closeMenuActivator(false)
  },
  methods: {
		...mapMutations({
			SET_CALENDAR_REF: "gridCalendar/SET_CALENDAR_REF",
			UPDATE_CHANGED_DATE: "gridCalendar/UPDATE_CHANGED_DATE"
		}),
		/*
		*
		* */
		...mapActions({
			toggleEventDescriptionModal: "gridCalendar/toggleEventDescriptionModal",
      absoluteMenuActivator: "gridCalendar/absoluteMenuActivator",
      changeCalendarType: "gridCalendar/changeCalendarType",
      showMockEvent: "gridCalendar/showMockEvent",
      eventTypeState: "gridCalendar/eventTypeState",
      triggerMenuActivator: "gridCalendar/triggerMenuActivator",
      fetchCreateEvent: "gridCalendar/fetchCreateEvent",
      fetchGetEventsList: "gridCalendar/fetchGetEventsList",
      fetchCreateTask: "gridCalendar/fetchCreateTask",
      fetchGetTasksList: "gridCalendar/fetchGetTasksList",
      mergeEventsList: "gridCalendar/mergeEventsList",
      fetchSetNewEntityTask: "gridCalendar/fetchSetNewEntityTask",
      deleteActionFromMergedEventsList: "gridCalendar/deleteActionFromMergedEventsList",
      deleteShowedMockEvent: "gridCalendar/deleteShowedMockEvent",
      toggleEventDrawer: "gridCalendar/toggleEventDrawer",
      fetchGetEventById: "gridCalendar/fetchGetEventById",
      fetchUpdateEventById: "gridCalendar/fetchUpdateEventById",
      clearActionForm: "gridCalendar/clearActionForm",
      toggleEventState: "gridCalendar/toggleEventState",
		}),
    /*
    *
    * */
    getNextPerformers(event) {
      const performers = (Array.isArray(event?.performers)?event?.performers:[]).slice(3);
      return performers;
    },
    getThreePerformers(event) {
      const performers = (Array.isArray(event?.performers)?event?.performers:[].slice(0, 3));
      return performers;
    },
    closeMenuActivator(value) {
      this.deleteShowedMockEvent()

      this.toggleEventDescriptionModal(value)
      // Deactivate absolute menu
      this.absoluteMenuActivator(false)
      this.absoluteMenuClick = 0
      this.toggleEventState(false)

      setTimeout(() => {
        this.title = ""
        this.clearActionForm()
        this.taskUpdateState = false
      }, 500)
    },
    /*
    *
    * */
    async toggleMenuAbsolute() {
      this.toggleEventDescriptionModal(false)

      if(this.absoluteMenuClick & 1) {
        // Deactivate absolute menu
        this.absoluteMenuActivator(false)
      } else {
        // Active absolute menu
        this.absoluteMenuActivator(true)
      }

      requestAnimationFrame(() => requestAnimationFrame(() => this.toggleEventDescriptionModal(true)))
      this.absoluteMenuClick++
    },
    /*
    *
    * */
    updateEventDrawer(id) {
      this.fetchGetEventById({ id })
      this.toggleEventDrawer(true)
      this.toggleEventDescriptionModal(false)
    },
    /*
    *
    * */
    dateClick({ date }) {
      if(this.viewOnly) {
        return false;
      }

      this.UPDATE_CHANGED_DATE(date)
      this.changeCalendarType({ title: this.$t('components.day'), value: "day" })
    },
    /*
    *
    * */
    async dayClick(day, e) {
      if(this.viewOnly) {
        return false;
      }

      if(!this.eventModal) {
        // Click in
        this.title = ""
        this.clearActionForm()
        this.UPDATE_CHANGED_DATE(day.date)

        await this.showMockEvent({
          date: day.date,
          title: this.$t('components.untitled'),
          nextTick: this.$nextTick()
        })

        this.eventTypeState("EventView")
        this.toggleEventState(true)
        e.stopPropagation()
      }
    },
    /*
    *
    * */
		viewDay({ date }, event) {
      event.preventDefault()
      event.stopImmediatePropagation()

			this.UPDATE_CHANGED_DATE(date)
      this.changeCalendarType({ title: this.$t('components.day'), value: "day" })
		},
    /*
    *
    * */
		getEventColor(event) {
			this.eventTextColor(event)
			return event.color
		},
		/*
		*
		* */
		eventTextColor(event) {
			return event.textColor
		},
    /*
    *
    * */
		showEvent({ nativeEvent, event }) {
      this.taskUpdateState = false
      console.log(event)
      switch (event.type) {
        case "assignment":
          this.triggerMenuActivator({ event: event, activator: nativeEvent.target, type: "AssignmentContent" })
          break;
        case "event":
          this.triggerMenuActivator({ event: event, activator: nativeEvent.target, type: "EventContent" })
          break;
        case "control-event":
          this.triggerMenuActivator({ event: event, activator: nativeEvent.target, type: "ControlContent" })
          break;
        case "task":
          this.triggerMenuActivator({ event: event, activator: nativeEvent.target, type: "TaskContent" })
          break;
      }

      nativeEvent.stopPropagation()
		},
    /**
     *
     */
    intervalTimeFormat(locale, getOptions) {
       return locale.time;
     },
    /*
    *
    * */
		updateRange({ start, end }) {
		  // console.log('clicked8778uu')
		},
    /*
    *
    * */
    wheel(e) {
      if(this.getCalendarType.value === "month" && !this.viewOnly) {
        const { deltaY } = e
        const { calendarRef } = this.$refs

        if(deltaY > 0) { // Next month
          calendarRef.next()
        }
        else { // Prev month
          calendarRef.prev()
        }
      }
    },
    getText(content) {
      const div = document.createElement('div');
      div.innerHTML = content;
      return div.textContent || div.innerText;
    },
    /*
    *
    * */
    createAction() {
      switch (this.getEventTypeState) {
        case "EventView":
          this.createEvent()
          break;
        case "TaskView":
          this.createTask()
          break;
        default:
      }
    },
    /*
    *
    * */
    createEvent() {
      this.$v.$touch()

      if (this.$v.$invalid) {
        return;
      }

      this.fetchCreateEvent({ title: this.title })
        .then(() => {
          this.closeMenuActivator(false)
          this.$toast.success(this.$t('components.event-created'))
        })
    },
    /*
    *
    * */
    createTask() {
      this.$v.$touch()

      if (this.$v.$invalid) {
        return;
      }

      this.fetchCreateTask({ title: this.title })
        .then(() => {
          this.closeMenuActivator(false)
          this.$toast.success(this.$t('components.task-created'))
        })
    },
    /*
    *
    * */
    taskUpdateAction(id, status) {
      this.fetchSetNewEntityTask({
        id,
        status,
        model: this.getSelectedEvent,
      })
      .then(() => {
        this.$toast.success($t('components.task-updated'))
        this.closeMenuActivator(false)
        this.taskUpdateState = false
      })
      .catch(() => {
        this.$toast.error($t('components.task-updated-error'))
      })
    },
    /*
    *
    * */
    cancelEvent(id, status, model) {
      console.log(id, status, model);

      this.$http.put(`/calendar/event/${id}/cancel/`)
      .then(() => {
        this.eventUpdateAction(id, status, model)
      })
      // .catch(() => {
      //   this.$toast.error(`Ошибка обновление 123`)
      // })
    },
    /*
    *
    * */
    eventUpdateAction(id, status, model) {
      this.fetchUpdateEventById({
        id,
        status,
        model
      })
      .then(() => {
        this.$toast.success($t('components.event-updated'))
      })
      .catch(() => {
        this.$toast.error($t('components.event-updated-error'))
      })
    },
    /*
    *
    * */
    deleteEvent({ id, name }) {
      if(!confirm($t('components.delete-confirmation'))) {
        return;
      }

      this.deleteActionFromMergedEventsList({ id, name })
      .then(() => {
        this.$toast.success($t('components.deleted'))
        this.closeMenuActivator(false)
      })
    },
    /*
    *
    * */
    normalizeString(string) {
      return stringUppercase(string)
    },
    parsingDate(fullDate = new Date().toISOString()) {
			const parsingDate = new Date(fullDate);
			const year = parsingDate.getFullYear().toString();
			const month = (parsingDate.getMonth() + 1).toString().padStart(2, "0");
			const date = parsingDate.getDate().toString().padStart(2, "0");
			const d = `${date}.${month}.${year}`;
			return d;
		},
    openTask(task){
      this.$router.push({path: `/control-tasks/tasks?task=${task}&type=chairman`})
    }
	},
}
</script>
<style>
.control-task-item .process {
	background-color: #5964d1 !important;
  color: white;
}
.control-task-item .done {
	background-color: #0ea20b !important;
  color: white;
}
.control-task-item .not-done {
	background-color: #eb3232 !important;
  color: white;
}
.control-task-item .overdue {
  color: white;
	background: #f49300 !important;
}
</style>
