<template>
	<div class="grid-card-view">
		<v-card rounded elevation="0" class="rounded-lg">
			<v-toolbar
				height="50"
				elevation="0"
				:color="
					headerColor === 'high'
					? 'var(--secondary-4)'
					: headerColor === 'critical'
					? 'var(--secondary-4)'
					: headerColor === 'medium'
					? 'var(--secondary-3)'
					: 'var(--secondary-2)'
				"
			>
				<v-toolbar-title>
					<span class="small-1 font-600">
						<span v-if="index" class="mr-1 text-2 d-inline-block">
							#{{ index < 10 ? '0' + index : index }}.
						</span>
						{{ title }}
					</span>
				</v-toolbar-title>
			</v-toolbar>

			<v-card-text>
				<slot />
			</v-card-text>
		</v-card>
	</div>
</template>

<script>
export default {
	name: "GridCard",
	props: {
		item: {
			type: Object,
			default: () => {}
		},
		headerColor: {
			type: String,
			default: "var(--secondary-2)"
		},
		title: {
			type: String,
			default: ""
		},
		index: {
			type: [Number, String],
			default: 0
		}
	}
}
</script>
