<template>
	<div class="grid-kanban-view d-flex w-100 p-relative">
		<!-- TO DO -->
		<div class="grid-kanban-list-container d-flex flex-column bg-2 rounded overflow-hidden">
			<div class="primary-bg text-white py-3 px-4" style="border-bottom: 1px solid var(--bg-2)">
				<span class="font-600 small-2">ToDo</span>
			</div>

			<perfect-scrollbar>
				<div class="pa-3">
					<slot name="todo" />
				</div>
			</perfect-scrollbar>
		</div>
		<!-- END TO DO -->

		<!-- IN PROGRESS -->
		<div class="grid-kanban-list-container d-flex flex-column bg-2 rounded overflow-hidden">
			<div class="warning-bg text-white py-3 px-4" style="border-bottom: 1px solid var(--bg-2)">
				<span class="font-600 small-2">Inprogress</span>
			</div>

			<perfect-scrollbar>
				<div class="pa-3">
					<slot name="inprogress" />
				</div>
			</perfect-scrollbar>
		</div>
		<!-- END IN PROGRESS -->

		<!-- HOLD -->
		<div class="grid-kanban-list-container d-flex flex-column bg-2 rounded overflow-hidden">
			<div class="error-bg text-white py-3 px-4" style="border-bottom: 1px solid var(--bg-2)">
				<span class="font-600 small-2">Hold</span>
			</div>

			<perfect-scrollbar>
				<div class="pa-3">
					<slot name="hold" />
				</div>
			</perfect-scrollbar>
		</div>
		<!-- END HOLD -->

		<!-- DONE -->
		<div class="grid-kanban-list-container d-flex flex-column bg-2 rounded overflow-hidden">
			<div class="success-bg text-white py-3 px-4" style="border-bottom: 1px solid var(--bg-2)">
				<span class="font-600 small-2">Done</span>
			</div>

			<perfect-scrollbar>
				<div class="pa-3">
					<slot name="done" />
				</div>
			</perfect-scrollbar>
		</div>
		<!-- END DONE -->

		<template v-if="getLoading">
			<app-loader content-width :size="54" />
		</template>
	</div>
</template>

<script>
import { mapGetters } from "vuex"

export default {
	name: "GridKanban",
	computed: {
		...mapGetters({
			getLoading: "getLoading"
		})
	}
}
</script>

<style>
.grid-kanban-view {
	grid-gap: 15px;
}

.grid-kanban-list-container {
	width: calc(25% - 10px);
}
</style>
