<template>
  <div
    class="infinite-observable py-2"
    v-intersect="{
      handler: onIntersect,
      options: {
        threshold: [0, 1.0, 1.0]
      }
    }"
  >
    <app-loader component-based />
  </div>
</template>

<script>
export default {
	name: "InfiniteObserver",
  data() {
		return {
			page: 1,
    }
  },
	methods: {
		onIntersect(entries) {
			if(entries[0].intersectionRatio >= 0.5) {
				++this.page

				this.$emit("emit:up:observer", this.page)
			}
		}
	}
}
</script>

<style scoped>

</style>
