<template>
  <div
    class="infinite-scroll-container overflow-y-auto"
    :style="{ 'height': `${height}px` }"
  >
    <template v-for="item in items">
      <slot :item="item" />
    </template>

    <template v-if="!hideInfiniteObserver">
      <template v-if="items.length + 1 > infiniteVisible">
        <infinite-observer
          v-if="!listLoaded"
          @emit:up:observer="(value) => this.$emit('emit:up', value)"
        />
      </template>
    </template>
  </div>
</template>

<script>
import InfiniteObserver from "@/common/components/InfiniteObserver"

export default {
	name: "InfiniteScrollContainer",
  props: {
		items: {
			type: Array,
      default: () => []
    },
    height: {
			type: [Number, String],
      default: 150
    },
	  infiniteVisible: {
			type: [Number, String],
      default: 10
    },
    hideInfiniteObserver: {
			type: Boolean,
      default: false
    },
	  listLoaded: {
			type: Boolean,
      default: false
    }
  },
  components: {
	  InfiniteObserver
  }
}
</script>

<style>
.infinite-scroll-container {
  z-index: 2;
}
</style>
