<template>
	<div
		v-on="$listeners"
		v-bind="$attrs"
		@click="$emit('emit:up', item)"
		class="chat-user-item d-flex align-center pointer text-decoration-none pa-3 transition-all"
		:class="{
			'hoverable' : hover
		}"
	>
		<template v-if="item.chat">
			<template v-if="chatRoleMember.user">
				<div :style="{'width': `${avatarSize}px`}">
					<v-badge
						bordered
						bottom
						dot
						color="var(--primary-2)"
						offset-x="10"
						offset-y="10"
						:value="false"
					>
						<v-avatar :color="chatRoleMember.user.color" :size="avatarSize">
							<template v-if="chatRoleMember.user.avatar">
								<img
									:src="chatRoleMember.user.avatar.url"
									alt="Avatar"
									class="object-cover w-100 h-100"
								/>
							</template>

							<template v-else>
								<span v-if="isBot" class="text-white">I</span>
								<span v-else class="text-white">{{ chatRoleMember.user && chatRoleMember.user.last_name && chatRoleMember.user.last_name | getFirstCharacterWithoutDot }}</span>
							</template>
						</v-avatar>
					</v-badge>
				</div>

				<div class="flex-1 ml-3 text-truncate">
					<template v-if="compact">
						<div class="d-flex flex-column font-500">
							<span v-if="isBot" class="text-selected mr-2 text-truncate flex-1 small-2">{{ chatRoleMember.user.first_name }} {{ chatRoleMember.user.last_name }}</span>
							<span v-else class="mr-2 text-truncate flex-1 small-2">
								{{ chatRoleMember.user.last_name }}
								{{ chatRoleMember.user.first_name }}
								{{ chatRoleMember.user.father_name }}
							</span>
							<span v-if="chatRoleMember.user.position" class="font-400 small-3">{{ chatRoleMember.user.position }}</span>
						</div>
					</template>

					<template v-else>
						<div class="d-flex align-center font-500">
							<span v-if="isBot" class="text-selected mr-2 text-truncate flex-1 small-2">{{ chatRoleMember.user.first_name }} {{ chatRoleMember.user.last_name }}</span>
							<span
								v-else
								class="text-selected mr-2 text-truncate flex-1 small-2"
							>
								{{ chatRoleMember.user.last_name }}
								{{ chatRoleMember.user && chatRoleMember.user.first_name && chatRoleMember.user.first_name | getFirstCharacter }}
								{{ chatRoleMember.user && chatRoleMember.user.father_name && chatRoleMember.user.father_name | getFirstCharacter }}
							</span>
							<template v-if="item.last_message">
								<span v-if="new Date().getDate() !== new Date(item.last_message.created_date).getDate()" class="text-selected ml-auto tiny text-3 font-400">{{ item.last_message.created_date | filterDateMonthYear }}</span>
								<span v-else class="text-selected ml-auto tiny text-3 font-400">{{ item.last_message.created_date | filterHHmm }}</span>
							</template>
						</div>

						<div class="mt-1 d-flex align-center">
							<template v-if="item.last_message">
								<span class="text-selected text-3 small-3 text-truncate flex-1 line-truncate">
									<span v-if="item.last_message.file !== null">{{ item.last_message.file.name }}</span>
									<span v-else v-text="item.last_message && item.last_message.text && item.last_message.text.replaceAll('<br />', ' ')"></span>
								</span>
							</template>
							<div
								v-if="item.unread_message_count > 0"
								class="unread-count d-flex align-center justify-center rounded-10 bg-primary"
								style="max-height: 22px"
							>
								<span class="font-600 small-3 text-white ma-2">{{ unreadMessageCount }}</span>
							</div>
						</div>
					</template>
				</div>
			</template>
		</template>

		<template v-else>
			<div :style="{'width': `${avatarSize}px`}">
				<v-badge
					bordered
					bottom
					dot
					color="var(--primary-2)"
					offset-x="10"
					offset-y="10"
					:value="false"
				>
					<v-avatar :color="item.color" :size="avatarSize">
						<template v-if="item.avatar">
							<img
								:src="item.avatar.url"
								alt="Avatar"
                class="object-cover w-100 h-100"
							/>
						</template>

						<template v-else>
							<span class="text-white">{{ item.last_name && item.last_name | getFirstCharacterWithoutDot }}</span>
						</template>
					</v-avatar>
				</v-badge>
			</div>

			<div class="flex-1 ml-3 text-truncate">
				<template v-if="compact">
					<div class="d-flex align-center font-500">
						<span v-if="isBot" class="text-selected mr-2 text-truncate flex-1 small-2">{{ chatRoleMember.user.first_name }} {{ chatRoleMember.user.last_name }}</span>
						<span v-else class="mr-2 text-truncate flex-1 small-2">
							{{ item.last_name }}
							{{ item.first_name }}
							{{ item.father_name }}
						</span>
					</div>
				</template>

				<template v-else>
					<div class="d-flex align-center font-500">
						<span class="mr-2 text-truncate flex-1 small-2">
							{{ item.last_name }}
							{{ item.first_name && item.first_name | getFirstCharacter }}
							{{ item.father_name && item.father_name | getFirstCharacter }}
						</span>

						<template v-if="item.last_message_author">
							<span class="ml-auto small-2 text-3">{{ item.last_message_time | filterHHmm }}</span>
						</template>
					</div>

					<div class="d-flex align-center">
						<template v-if="item.last_message_author">
							<span class="text-3 small-2 text-truncate flex-1 mr-2">
								<span class="font-500 primary-text">{{ item.last_message_author.last_name }}:</span>
								{{ item.last_message_text }}
							</span>

<!--							<v-sheet-->
<!--								color="var(&#45;&#45;primary-1)"-->
<!--								min-width="22"-->
<!--								height="22"-->
<!--								dark-->
<!--								class="rounded-15 d-flex align-center justify-center"-->
<!--							>-->
<!--								<span class="small-3 px-2">4</span>-->
<!--							</v-sheet>-->
						</template>
					</div>
				</template>
			</div>
		</template>
	</div>
</template>

<script>
import {mapActions, mapGetters} from "vuex"

export default {
	name: "MessengerUserCard",
	props: {
		item: {
			type: Object,
			default: () => {}
		},
		rounded: {
			type: Boolean,
			default: true
		},
		selectable: {
			type: Boolean,
			default: false
		},
		compact: {
			type: Boolean,
			default: false
		},
		avatarSize: {
			type: [Number, String],
			default: 48
		},
		hover: {
			type: Boolean,
			default: true
		},
		isBot: {
			type: Boolean,
			default: false
		}
	},
	computed: {
		...mapGetters({
			currentUser: "auth/getCurrentUser",
			conversationPersonalUsers: "chatModule/getConversationPersonalUsers",
			conversationUserMessages: "chatModule/getConversationUserMessages",
			conversationBotList: "chatModule/getConversationBotList",
		}),
		/**/
		unreadMessageCount(){
			let count;
			if (this.isBot){
				count = this.conversationBotList.find(item => item.id === this.item.id).unread_message_count
			}else {
				count = this.conversationPersonalUsers.find(item => item.id === this.item.id).unread_message_count
			}
			return count
		},
		/**/
		chatRoleMember() {
			return this.item.chat.find(item => item.user.id !== this.currentUser.id)
		},
		/**/
		isUserOnline(){
			return this.currentUser.socket_status === "ONLINE";
		}
	},
	methods: {
		...mapActions({
			fetchChangeUnreadMessageCount: "chatModule/fetchChangeUnreadMessageCount"
		})
	}
}
</script>

<style>
.hoverable:hover,
.selected {
	background: var(--bg-3);
	border-radius: 10px;
}

.chat-user-item.selected {
	background: var(--primary-1);
}

.chat-user-item.selected .unread-count {
	background: white;
}
.chat-user-item.selected .unread-count span {
	color: var(--primary-1);
}
.selected .text-selected{
	color: #fff!important;
}
.chat-user-item{
	height: 64px;
}
</style>
