<template>
	<div class="pdf-letter-template-for-joint-protocol">
		<div class="generate-pdf-area bg-4 mb-5 pa-5 p-relative d-flex flex-column">
			<div>
				<v-row class="d-flex align-end">
					<v-col md="2">
						<img src="/img/logo_asaka_4.png" alt="Logo Asakabank" class="mt-2 mb-5">
					</v-col>
					<v-col md="10">
						<div>
							<h5 v-if="model && model.id" class="small-2 line-base mb-4 text-center">Hujjat ID - {{ model.id }}</h5>

							<span class="d-block font-600 small-2 text-center mb-4">
									<span>“ASAKABANK” AJ MOLIYALASHTIRISH HAMDA <br>
										MONITORING BO‘YICHA KREDIT QO‘MITALARI <br>
										QO‘SHMA YIG‘ILISHINING <br>
										{{ model.register_number ? model.register_number : '____' }} - SONLI BAYONNOMASI <br>
									</span>
								</span>
						</div>
					</v-col>
				</v-row>

				<div class="d-flex my-2 justify-space-between">
						<span class="font-500 size-13">
							{{ registeredDate }}
						</span>
					<span class="font-500 size-13">Toshkent shahri</span>
				</div>

				<span class="font-700 size-13">Moliyalashtirish bo‘yicha Kredit qo‘mitasi Raisi</span>

				<v-row class="pa-0 ma-0">
					<v-col md="5" class="pa-0 ma-0">
						<span class="font-500 size-13"> {{ finance_chairman && finance_chairman.first_name && finance_chairman.first_name | getFirstCharacter }} {{ finance_chairman && finance_chairman.father_name && finance_chairman.father_name | getFirstCharacter }} {{ finance_chairman && finance_chairman.last_name }}</span>
					</v-col>
					<v-col md="7" class="pa-0 ma-0">
						<span class="font-500 size-13">{{ finance_chairman && finance_chairman.position && finance_chairman.position }} </span>
					</v-col>
				</v-row>

				<span class="font-700 size-13">Monitoring bo‘yicha Kredit qo‘mitasi Raisi</span>

				<v-row class="pa-0 ma-0">
					<v-col md="5" class="pa-0 ma-0">
						<span class="font-500 size-13"> {{ monitoring_chairman && monitoring_chairman.first_name && monitoring_chairman.first_name | getFirstCharacter }} {{ monitoring_chairman && monitoring_chairman.father_name && monitoring_chairman.father_name | getFirstCharacter }} {{ monitoring_chairman && monitoring_chairman.last_name }}</span>
					</v-col>
					<v-col md="7" class="pa-0 ma-0">
						<span class="font-500 size-13">{{ monitoring_chairman && monitoring_chairman.position && monitoring_chairman.position }} </span>
					</v-col>
				</v-row>

				<span class="font-700 size-13">Moliyalashtirish bo‘yicha Kredit qo‘mitasi a'zolari</span>

				<v-row v-if="finance_signers.length" v-for="member in finance_signers" class="pa-0 ma-0">
					<v-col md="5" class="pa-0 ma-0">
						<span class="font-500 size-13">{{ member.first_name | getFirstCharacter }} {{ member.father_name && member.father_name | getFirstCharacter }} {{ member.last_name }}</span>
					</v-col>
					<v-col md="7" class="pa-0 ma-0">
						<span class="font-500 size-13">{{ member.position }}</span>
					</v-col>
				</v-row>

				<span class="font-700 size-13">Monitoring bo‘yicha Kredit qo‘mitasi a'zolari</span>

				<v-row v-if="monitoring_signers.length" v-for="member in monitoring_signers" class="pa-0 ma-0">
					<v-col md="5" class="pa-0 ma-0">
						<span class="font-500 size-13">{{ member.first_name | getFirstCharacter }} {{ member.father_name && member.father_name | getFirstCharacter }} {{ member.last_name }}</span>
					</v-col>
					<v-col md="7" class="pa-0 ma-0">
						<span class="font-500 size-13">{{ member.position }}</span>
					</v-col>
				</v-row>

				<span class="small-3 d-block text-dark font-500 text-indent-30 mt-4 text-justify">Yig‘ilishni o‘tkazish uchun kvorum talablariga to‘liq amal qilindi (majlisida qatnashgan a’zolarning soni bo‘yicha kvorum mavjud) va Moliyalashtirish hamda Monitoring bo‘yicha Kredit qo‘mitalari yig‘ilishi kun tartibidagi masalalar bo‘yicha qarorlar qabul qilish vakolatiga ega.</span>

				<template v-if="invitees_list && invitees_list.length">
					<span class="small-3 font-italic font-700 ml-10">Taklif etilganlar:</span>
					<v-row v-for="invitee in invitees_list" :key="invitee.id" class="pa-0 ma-0">
						<v-col md="5" class="pa-0 ma-0">
								<span class="font-500 size-13">{{ invitee.first_name | getFirstCharacter }} {{invitee.father_name && invitee.father_name | getFirstCharacter }} {{ invitee.last_name }}</span>
						</v-col>
						<v-col md="7" class="pa-0 ma-0">
							<span class="font-500 size-13">{{ invitee.position }}</span>
						</v-col>
					</v-row>
				</template>

				<v-row class="pa-0 ma-0">
					<v-col md="5" class="pa-0 ma-0">
						<span class="font-500 size-13">Qo'mita kotibi:</span>
					</v-col>
					<v-col md="7" class="pa-0 ma-0">
						<span class="font-500 size-13">{{ secretary && secretary.first_name && secretary.first_name | getFirstCharacter }} {{ secretary && secretary.father_name && secretary.father_name | getFirstCharacter }} {{ secretary && secretary.last_name }} </span>
					</v-col>
				</v-row>

				<div class="d-flex justify-center my-3">
					<span class="font-700 size-13">KUN TARTIBI:</span>
				</div>

				<span
					class="size-13 d-block text-dark font-500 text-justify"
					style="line-height: 20px; text-indent: 30px"
				>
          <slot name="text" v-if="$slots.text"></slot>

          <span v-else v-html="model.text"></span>
				</span>

				<div class="pl-8 my-4">
					<v-row v-if="finance_chairman" class="pa-0 ma-0 mb-2 align-center">
						<v-col md="4" class="pa-0 ma-0">
							<span class="font-700 size-13 text-decoration-underline d-block"> Moliyalashtirish bo‘yicha Kredit qo‘mitasi Raisi:</span>
						</v-col>
						<v-col md="4" class="pa-0 ma-0 justify-center d-flex">
							<template v-if="returnCondition(finance_chairman.condition) && !finance_chairman.is_signed">
								<span class="small-3 font-italic font-weight-bold">{{ returnCondition(finance_chairman.condition) }}</span>
							</template>
							<span v-else class="font-700 size-13">
									<qrcode-vue v-if="finance_chairman.is_signed === true && model.check_id" :value="'https://check.asakabank.uz/document/'+model.check_id" size="40" level="L" />
								</span>
						</v-col>
						<v-col md="4" class="pa-0 ma-0">
							<span class="font-700 size-13">{{ finance_chairman && finance_chairman.first_name | getFirstCharacter }} {{ finance_chairman && finance_chairman.father_name && finance_chairman.father_name | getFirstCharacter }} {{ finance_chairman.last_name }}</span>
						</v-col>
					</v-row>

					<v-row v-if="monitoring_chairman" class="pa-0 ma-0 mb-2 align-center">
						<v-col md="4" class="pa-0 ma-0">
							<span class="font-700 size-13 text-decoration-underline d-block"> Monitoring bo‘yicha Kredit qo‘mitasi Raisi:</span>
						</v-col>
						<v-col md="4" class="pa-0 ma-0 justify-center d-flex">
							<template v-if="returnCondition(monitoring_chairman.condition) && !monitoring_chairman.is_signed">
								<span class="small-3 font-italic font-weight-bold">{{ returnCondition(monitoring_chairman.condition) }}</span>
							</template>
							<span v-else class="font-700 size-13">
									<qrcode-vue v-if="monitoring_chairman.is_signed === true && model.check_id" :value="'https://check.asakabank.uz/document/'+model.check_id" size="40" level="L" />
								</span>
						</v-col>
						<v-col md="4" class="pa-0 ma-0">
							<span class="font-700 size-13">{{ monitoring_chairman && monitoring_chairman.first_name | getFirstCharacter }} {{ monitoring_chairman && monitoring_chairman.father_name && monitoring_chairman.father_name | getFirstCharacter }} {{ monitoring_chairman.last_name }}</span>
						</v-col>
					</v-row>

					<span class="font-500 font-italic size-13">Moliyalashtirish bo‘yicha Kredit qo‘mita a'zolari:</span>

					<v-row class="pa-0 ma-0 align-center" v-if="finance_signers && finance_signers.length" v-for="member in finance_signers">
						<v-col md="6" class="pa-0 ma-0">
							<span class="font-700 size-13">{{ member.first_name | getFirstCharacter }} {{ member.father_name && member.father_name | getFirstCharacter }} {{ member.last_name }} </span>
						</v-col>
						<v-col md="6" class="pa-0 ma-0">
							<template v-if="returnCondition(member.condition) && !member.is_signed">
								<span class="small-3 font-italic font-weight-bold">{{ returnCondition(member.condition) }}</span>
							</template>
							<span v-else class="font-500 size-13 ml-4 my-2">
									<qrcode-vue v-if="member.is_signed === true && model.check_id" :value="'https://check.asakabank.uz/document/'+model.check_id" size="40" level="L" />
								</span>
						</v-col>
					</v-row>

					<span class="font-500 font-italic size-13 d-block mb-2 mt-4">Monitoring bo‘yicha Kredit qo‘mita a'zolari:</span>

					<v-row class="pa-0 ma-0 align-center" v-if="monitoring_signers && monitoring_signers.length" v-for="member in monitoring_signers">
						<v-col md="6" class="pa-0 ma-0">
							<span class="font-700 size-13">{{ member.first_name | getFirstCharacter }} {{ member.father_name && member.father_name | getFirstCharacter }} {{ member.last_name }} </span>
						</v-col>
						<v-col md="6" class="pa-0 ma-0">
							<template v-if="returnCondition(member.condition) && !member.is_signed">
								<span class="small-3 font-italic font-weight-bold">{{ returnCondition(member.condition) }}</span>
							</template>
							<span v-else class="font-500 size-13 ml-4 my-2">
									<qrcode-vue v-if="member.is_signed === true && model.check_id" :value="'https://check.asakabank.uz/document/'+model.check_id" size="40" level="L" />
								</span>
						</v-col>
					</v-row>

					<template v-if="invitees_list && invitees_list.length">
						<span class="font-500 size-13 d-block mt-4">Taklif etilganlar:</span>

						<v-row class="pa-0 ma-0 align-center" v-for="member in invitees_list">
							<v-col md="6" class="pa-0 ma-0">
								<span class="font-700 size-13">{{ member.first_name | getFirstCharacter }} {{ member.father_name && member.father_name | getFirstCharacter }} {{ member.last_name }} </span>
							</v-col>
							<v-col md="6" class="pa-0 ma-0">
								<template v-if="returnCondition(member.condition) && !member.is_signed">
									<span class="small-3 font-italic font-weight-bold">{{ returnCondition(member.condition) }}</span>
								</template>
								<span v-else class="font-500 size-13 ml-4 my-2">
									<qrcode-vue v-if="member.is_signed === true && model.check_id" :value="'https://check.asakabank.uz/document/'+model.check_id" size="40" level="L" />
								</span>
							</v-col>
						</v-row>
					</template>

					<v-row v-if="secretary" class="pa-0 ma-0 my-4 align-center">
						<v-col md="4" class="pa-0 ma-0">
							<span class="font-500 size-13 d-block"> Qo'mita kotibi:</span>
						</v-col>
						<v-col md="4" class="pa-0 ma-0 justify-center d-flex">
							<template v-if="returnCondition(secretary.condition) && !secretary.is_signed">
								<span class="small-3 font-italic font-weight-bold">{{ returnCondition(secretary.condition) }}</span>
							</template>
							<span v-else class="font-700 size-13">
									<qrcode-vue v-if="secretary.is_signed === true && model.check_id" :value="'https://check.asakabank.uz/document/'+model.check_id" size="40" level="L" />
								</span>
						</v-col>
						<v-col md="4" class="pa-0 ma-0">
							<span class="font-500 size-13">{{ secretary && secretary.first_name | getFirstCharacter }} {{ secretary && secretary.father_name && secretary.father_name | getFirstCharacter }} {{ secretary.last_name }}</span>
						</v-col>
					</v-row>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { toMonthNameUzb } from "../helpers";
import QrcodeVue from "qrcode.vue";

export default {
	name: "PdfLetterTemplateForJointProtocol",
	components: {QrcodeVue},
	props: {
		model: {
			type: Object,
			default: () => {}
		}
	},
	computed: {
		registeredDate() {
			if (this.model && this.model.register_date){
				return new Date(this.model.register_date).getFullYear() + '-yil ' + new Date(this.model.register_date).getDate() + '-' + toMonthNameUzb(new Date(this.model.register_date).getMonth() +1)
			}else {
				return new Date().getFullYear() + '-yil “__” ____________'
			}
		},
		finance_chairman(){
			if (this.model && this.model.finance_chairman){
				if (this.model.finance_chairman.hasOwnProperty('user')){
					{
						return {
							...this.model.finance_chairman,
							...this.model.finance_chairman.user
						}
					}
				}
				return this.model.finance_chairman
			}
		},
		monitoring_chairman(){
			if (this.model && this.model.monitoring_chairman){
				if (this.model.monitoring_chairman.hasOwnProperty('user')){
					{
						return {
							...this.model.monitoring_chairman,
							...this.model.monitoring_chairman.user
						}
					}
				}
				return this.model.monitoring_chairman
			}
		},
		finance_signers() {
			if (this.model && this.model.finance_signers){
				let array = [];
				this.model.finance_signers.forEach(item => {
					if (item.hasOwnProperty('user')){
						array.push({...item, ...item.user})
					}else {
						array.push(item)
					}
				})
				return array
			}
		},
		monitoring_signers() {
			if (this.model && this.model.monitoring_signers){
				let array = [];
				this.model.monitoring_signers.forEach(item => {
					if (item.hasOwnProperty('user')){
						array.push({...item, ...item.user})
					}else {
						array.push(item)
					}
				})
				return array
			}
		},
		invitees_list() {
			if (this.model && this.model.invitees_list){
				let array = [];
				this.model.invitees_list.forEach(item => {
					if (item.hasOwnProperty('user')){
						array.push({...item, ...item.user})
					}else {
						array.push(item)
					}
				})
				return array
			}
		},
		secretary() {
			if (this.model && this.model.secretary){
				if (this.model.secretary.hasOwnProperty('user')){
					{
						return {
							...this.model.secretary,
							...this.model.secretary.user
						}
					}
				}
				return this.model.secretary
			}
		}
	},
	methods: {
		returnCondition(condition) {
			if (condition === 'vacation') {
				return '( Mehnat ta\'tilida )'
			} else if (condition === 'business_trip') {
				return '( Xizmat safarida )'
			} else if (condition === 'unpaid_leave') {
				return '( O\'z hisobidan ta\'tilda )'
			} else if (condition === 'sick') {
				return '( Kasallik varaqasida )'
			} else {
				return null
			}
		}
	}
}
</script>

<style scoped>

</style>
