<template>
	<div id="element-to-download" class="pdf-letter-template-for-protocol">
		<perfect-scrollbar>
			<div class="generate-pdf-area bg-4 mb-5 pa-5 p-relative d-flex flex-column">
				<div>
					<v-row class="d-flex align-end">
						<v-col md="2">
							<img src="/img/logo_asaka_4.png" alt="Logo Asakabank" class="mt-2 mb-5">
						</v-col>
						<v-col md="10">
							<div>
								<h5 class="small-2 line-base mb-4 text-center">Hujjat ID - {{ model.id }}</h5>

								<span class="d-block font-600 small-2 text-center mb-4">
									<span v-html="subTypeText"></span>
								</span>
							</div>
						</v-col>
					</v-row>
					<div class="d-flex my-2 justify-space-between">
						<span class="font-500 size-13">
							{{ registeredDate }}
						</span>
						<span class="font-500 size-13">Toshkent shahri</span>
					</div>

					<span class="font-700 text-decoration-underline size-13">
						<span v-html="protocolChairText"></span>
					</span>
					<v-row class="pa-0 ma-0">
						<v-col md="5" class="pa-0 ma-0">
							<span class="font-500 size-13"> {{ chairDetail[0].user.first_name && chairDetail[0].user.first_name | getFirstCharacter }} {{ chairDetail[0].user.father_name && chairDetail[0].user.father_name | getFirstCharacter }} {{ chairDetail[0].user.last_name }}</span>
						</v-col>
						<v-col md="7" class="pa-0 ma-0">
							<span v-if="chairDetail[0] && chairDetail[0].user_current_data && chairDetail[0].user_current_data.position" class="font-500 size-13">{{ chairDetail[0].user_current_data.position }}</span>
							<span v-else class="font-500 size-13">{{ chairDetail[0] && chairDetail[0].user && chairDetail[0].user.position }}</span>
						</v-col>
					</v-row>

					<span class="font-700 text-decoration-underline size-13">
						<span v-html="protocolMembersText"></span>
					</span>
					<v-row v-for="member in signersList" class="pa-0 ma-0">
						<v-col md="5" class="pa-0 ma-0">
							<span class="font-500 size-13">{{ member.user.first_name | getFirstCharacter }} {{ member.user.father_name && member.user.father_name | getFirstCharacter }} {{ member.user.last_name }}</span>
						</v-col>
						<v-col md="7" class="pa-0 ma-0">
							<span v-if="member.user_current_data && member.user_current_data.position" class="font-500 size-13">{{ member.user_current_data.position }}</span>
							<span v-else class="font-500 size-13">{{ member.user.position }}</span>
						</v-col>
					</v-row>

					<template v-if="['project_office', 'purchase_commission', 'hr_teaching', 'anti_corruption', 'finance', 'monitoring', 'expense_commission', 'sick_paid_protocol', 'trade_union', 'small_business'].includes(model.sub_type)">
							<span class="font-700 text-decoration-underline size-13">
							<span>{{ protocolSecretaryText }}:</span>
						</span>

						<v-row class="pa-0 ma-0">
							<v-col md="5" class="pa-0 ma-0">
								<span v-if="secretaryDetail[0].user" class="font-500 size-13">{{ secretaryDetail[0].user.first_name && secretaryDetail[0].user.first_name | getFirstCharacter }} {{ secretaryDetail[0].user.father_name && secretaryDetail[0].user.father_name | getFirstCharacter }} {{ secretaryDetail[0].user.last_name }}</span>
								<span v-else class="font-500 size-13">{{ secretaryDetail[0].first_name && secretaryDetail[0].first_name | getFirstCharacter }} {{ secretaryDetail[0].father_name && secretaryDetail[0].father_name | getFirstCharacter }} {{ secretaryDetail[0].last_name }}</span>
							</v-col>
							<v-col md="7" class="pa-0 ma-0">
								<span v-if="secretaryDetail[0] && secretaryDetail[0].user_current_data && secretaryDetail[0].user_current_data.position" class="font-500 size-13">{{ secretaryDetail[0].user_current_data.position }}</span>
								<span v-else class="font-500 size-13">{{ secretaryDetail[0] && secretaryDetail[0].user && secretaryDetail[0].user.position }}</span>
							</v-col>
						</v-row>
					</template>

					<span class="small-3 d-block text-dark font-500 text-indent-30 mt-4 text-justify">
						<span v-html="protocolShortText"></span>
					</span>

					<template v-if="inviteesListComputed && inviteesListComputed.length && !['sick_paid_protocol'].includes(model.sub_type)">
						<span class="small-3 font-italic font-700 ml-10">{{ protocolInviteesText }}</span>
						<v-row v-for="invitee in inviteesListComputed" :key="invitee.id" class="pa-0 ma-0">
							<v-col md="5" class="pa-0 ma-0">
								<span class="font-500 size-13">{{ invitee.user.first_name | getFirstCharacter }} {{
										invitee.user.father_name && invitee.user.father_name | getFirstCharacter
									}} {{ invitee.user.last_name }}</span>
							</v-col>
							<v-col md="7" class="pa-0 ma-0">
								<span v-if="invitee.user_current_data && invitee.user_current_data.position" class="font-500 size-13">{{ invitee.user_current_data.position }}</span>
								<span v-else class="font-500 size-13">{{ invitee.user.position }}</span>
							</v-col>
						</v-row>
					</template>

					<div v-if="model.sub_type !== 'hr_teaching'" class="d-flex justify-center my-3">
						<span class="font-700 size-13">KUN TARTIBI:</span>
					</div>

					<div :class="model.sub_type === 'hr_teaching' ? 'mt-8': ''">
            <span
	            class="size-13 d-block text-dark font-500 text-justify"
	            style="line-height: 20px; text-indent: 30px"
            >
              <slot name="text" v-if="$slots.text"></slot>

              <span v-else v-html="model.text"></span>
            </span>
					</div>

					<div class="pl-12 mt-4">
						<v-row class="pa-0 ma-0 mb-2">
							<v-col md="4" class="pa-0 ma-0">
								<span class="font-700 size-13">{{ protocolBottomChairText }} </span>
							</v-col>
							<v-col md="4" class="pa-0 ma-0 justify-center d-flex">
								<template v-if="returnCondition(chairDetail[0].condition) && !chairDetail[0].is_signed">
									<span class="small-3 font-italic font-weight-bold">{{ returnCondition(chairDetail[0].condition) }}</span>
								</template>
								<span v-else class="font-700 size-13">
									<qrcode-vue v-if="chairDetail[0].is_signed === true && model.check_id" :value="'https://check.asakabank.uz/document/'+model.check_id" size="40" level="L" />
								</span>
							</v-col>
							<v-col md="4" class="pa-0 ma-0">
								<span class="font-700 size-13">{{ chairDetail[0].user.first_name && chairDetail[0].user.first_name | getFirstCharacter }} {{ chairDetail[0].user.father_name && chairDetail[0].user.father_name | getFirstCharacter }} {{ chairDetail[0].user.last_name }}</span>
							</v-col>
						</v-row>

						<span class="font-700 size-13">{{ protocolBottomBoardMembersText }}</span>

						<v-row class="pa-0 ma-0 align-center" v-if="signersList && signersList.length" v-for="member in signersList">
							<v-col md="6" class="pa-0 ma-0">
								<span class="font-500 size-13">{{ member.user.first_name | getFirstCharacter }} {{ member.user.father_name && member.user.father_name | getFirstCharacter }} {{ member.user.last_name }} </span>
							</v-col>
							<v-col md="6" class="pa-0 ma-0">
								<template v-if="returnCondition(member.condition) && !member.is_signed">
									<span class="small-3 font-italic font-weight-bold">{{ returnCondition(member.condition) }}</span>
								</template>
								<span v-else class="font-500 size-13 ml-4 my-2">
									<qrcode-vue v-if="member.is_signed === true && model.check_id" :value="'https://check.asakabank.uz/document/'+model.check_id" size="40" level="L" />
								</span>
							</v-col>
						</v-row>

						<template v-if="['purchase_commission', 'charity_commission', 'hr_teaching', 'anti_corruption', 'finance', 'monitoring', 'expense_commission', 'department_protocol', 'sick_paid_protocol', 'trade_union', 'workgroup', 'small_business'].includes(model.sub_type)">
							<v-row class="pa-0 ma-0 mb-4 mt-8">
								<v-col md="4" class="pa-0 ma-0">
									<span class="font-500 size-13">{{protocolSecretaryText}} </span>
								</v-col>
								<v-col md="4" class="pa-0 ma-0 align-center justify-center d-flex">
									<template v-if="returnCondition(secretaryDetail[0].condition) && !(secretaryDetail && secretaryDetail.length && secretaryDetail[0].is_signed)">
										<span class="small-3 font-italic font-weight-bold">{{ returnCondition(secretaryDetail[0].condition) }}</span>
									</template>
									<span v-else class="font-700 size-13">
									<qrcode-vue v-if="secretaryDetail && secretaryDetail.length && secretaryDetail[0].is_signed === true && model.check_id" :value="'https://check.asakabank.uz/document/'+model.check_id" size="40" level="L" />
								</span>
								</v-col>
								<v-col md="4" class="pa-0 ma-0">
									<span class="font-500 size-13">{{ secretaryDetail[0].user.first_name[0] }}. {{ secretaryDetail[0].user.father_name && secretaryDetail[0].user.father_name | getFirstCharacter }}  {{ secretaryDetail[0].user.last_name }}</span>
								</v-col>
							</v-row>
						</template>

						<template v-if="inviteesListComputed && inviteesListComputed.length">
							<span class="small-3 font-italic font-700">{{ protocolInviteesText }}</span>

							<v-row class="pa-0 ma-0 align-center" v-for="invitee in inviteesListComputed">
								<v-col md="6" class="pa-0 ma-0">
									<span class="font-500 size-13">{{ invitee.user.first_name | getFirstCharacter }} {{invitee.user.father_name && invitee.user.father_name | getFirstCharacter }} {{ invitee.user.last_name }} </span>
									<span class="tiny font-italic font-weight-bold">{{ returnCondition(invitee.condition) }}</span>
								</v-col>
								<v-col md="6" class="pa-0 ma-0">
									<template v-if="returnCondition(invitee.condition) && !invitee.is_signed">
										<span class="tiny font-italic font-weight-bold">{{ returnCondition(invitee.condition) }}</span>
									</template>
									<span v-else class="ml-4 font-500 size-13">
										<qrcode-vue v-if="invitee.is_signed === true && model.check_id" :value="'https://check.asakabank.uz/document/'+model.check_id" size="40" level="L" />
									</span>
								</v-col>
							</v-row>
						</template>
					</div>
				</div>
			</div>
		</perfect-scrollbar>
	</div>
</template>

<script>
import {returnPosition, returnShortFullName, toMonthName, toMonthNameUzb} from "../helpers";
import QrcodeVue from 'qrcode.vue'

export default {
	name: "PdfLetterTemplateForCommitteeProtocol",
	components: {
		QrcodeVue
	},
	props: {
		inviteesList: {
			type: Array,
			default: () => []
		},
		model: {
			type: Object,
			default: {}
		}
	},
	data() {
		return {
			protocolChairText: "",
			protocolMembersText: "",
			protocolShortText: "",
			protocolSecretaryText: "Qo'mita kotibi",
			protocolBottomChairText: "Qo'mita Raisi",
			protocolBottomBoardMembersText: "Qo'mita a'zolari:",
			protocolInviteesText: "Taklif etilganlar:"
		}
	},
	computed: {
		inviteesListComputed() {
			if (this.inviteesList.length) {
				return this.inviteesList.filter(item => item.is_invited === true)
			}
		},
		chairDetail(){
			return this.inviteesList.filter(item => item.position === 'chairman')
		},
		/**/
		chairmanFullName(){
			return this.getFirstCharacter(this.chairDetail[0].user.first_name) + ' ' + this.chairDetail[0].user.father_name && this.getFirstCharacter(this.chairDetail[0].user.father_name) + ' ' + this.chairDetail[0].user.last_name
		},
		/**/
		signersList(){
			return this.inviteesList.filter(item => item.is_invited === false && item.position !== 'chairman' && item.position !== 'secretary').sort((x, y) => y.user.order_by - x.user.order_by)
		},
		/**/
		registeredDate() {
			if (this.model.register_date){
				return new Date(this.model.register_date).getFullYear() + '-yil ' + new Date(this.model.register_date).getDate() + '-' + toMonthNameUzb(new Date(this.model.register_date).getMonth() +1)
			}else {
				return new Date().getFullYear() + '-yil “__” ____________'
			}
		},
		/**/
		secretaryDetail(){
			return this.inviteesList.filter(item => item.position === 'secretary')
		},
		/**/
		subTypeText(){
			switch (this.model.sub_type){
				case "finance":
					this.protocolChairText = `Moliyalashtirish bo‘yicha Kredit qo‘mitasi Raisi:`
					this.protocolMembersText = `Moliyalashtirish bo‘yicha Kredit qo‘mitasi a'zolari:`
					this.protocolShortText = `Yig‘ilishni o‘tkazish uchun kvorum talablariga to‘liq amal qilindi (Kredit qo‘mitalari majlisida
																		qatnashgan a’zolarning soni bo‘yicha kvorum mavjud) va Moliyalashtirish
																		bo‘yicha Kredit qo‘mitasi yig‘ilishi kun tartibidagi masalalar bo‘yicha qarorlar qabul qilish vakolatiga ega.`
					return `"ASAKABANK" AJ MOLIYALASHTIRISH BO'YICHA </br> KREDIT QO'MITASI YIG'ILISHINING </br> ${this.model.register_number ? this.model.register_number : ""} - SONLI BAYONNOMASI`
				case "monitoring":
					this.protocolChairText = `Monitoring bo‘yicha Kredit qo‘mitasi Raisi:`
					this.protocolMembersText = `Monitoring bo‘yicha Kredit qo‘mitasi a'zolari:`
					this.protocolShortText = `Yig‘ilishni o‘tkazish uchun kvorum talablariga to‘liq amal qilindi (Kredit qo‘mitalari majlisida
																		qatnashgan a’zolarning soni bo‘yicha kvorum mavjud) va Monitoring
																		bo‘yicha Kredit qo‘mitasi yig‘ilishi kun tartibidagi masalalar bo‘yicha qarorlar qabul qilish vakolatiga ega.`
					return `"ASAKABANK" AJ MONITORING BO'YICHA </br> KREDIT QO'MITASI YIG'ILISHINING </br> ${this.model.register_number ? this.model.register_number : ""} - SONLI BAYONNOMASI`
				case "kuap":
					this.protocolChairText = `Aktiv va passivlarni boshqarish qo'mitasining Raisi:`
					this.protocolMembersText = `Aktiv va passivlarni boshqarish qo'mitasining a’zolari:`
					this.protocolShortText = ""
					return `"ASAKABANK" AJ AKTIV VA PASSIVLARNI </br> BOSHQARISH QO’MITASI YIG’ILISHINING </br> ${this.model.register_number ? this.model.register_number : ""} - SONLI BAYONNOMASI`
				case "invest":
					this.protocolChairText = `Investitsion qo'mitasining Raisi:`
					this.protocolMembersText = `Investitsion qo'mitasining a’zolari:`
					this.protocolShortText = ""
					return `"ASAKABANK" AKSIYADORLIK JAMIYATI </br> INVESTITSION QO'MITASI MAJLISINING </br> ${this.model.register_number ? this.model.register_number : ""} - SONLI BAYONNOMASI`
				case "project_office":
					this.protocolChairText = `Loyihalar va mahsulotlar bo'yicha boshqarish qo'mitasining Raisi:`
					this.protocolMembersText = `Loyihalar va mahsulotlar bo'yicha boshqarish qo'mitasining a'zolari:`
					this.protocolShortText = ""
					return `"ASAKABANK" AJ LOYIHALAR VA MAHSULOTLAR BO'YICHA </br> BOSHQARISH QO'MITASI YI'G'ILISHINING </br> ${this.model.register_number ? this.model.register_number : ""} - SONLI BAYONNOMASI`
				case "purchase_commission":
					this.protocolChairText = `Raislik qiluvchi:`
					this.protocolMembersText = `Komissiya a'zolari:`
					this.protocolShortText = ""
					this.protocolSecretaryText = "Komissiya kotibi"
					this.protocolBottomChairText = "Xarid komissiyasi Raisi"
					this.protocolBottomBoardMembersText = "Komissiya a'zolari:"
					return `"ASAKABANK" AJ XARID KOMISSIYASI YI'G'ILISHINING </br> ${this.model.register_number ? this.model.register_number : ""} - SONLI BAYONNOMASI`
				case "charity_commission":
					this.protocolChairText = `Raislik qiluvchi:`
					this.protocolMembersText = `Komissiya a'zolari:`
					this.protocolShortText = ""
					this.protocolSecretaryText = "Komissiya kotibi"
					this.protocolBottomChairText = "Komissiya Raisi"
					this.protocolBottomBoardMembersText = "Komissiya a'zolari:"
					return `"ASAKABANK" AJ XAYRIYA YORDAMINI KO'RSATISH </br> BO'YICHA KOMISSIYANING </br> ${this.model.register_number ? this.model.register_number : ""} - SONLI BAYONNOMASI`
				case "capital_invest":
					this.protocolChairText = `Raislik qiluvchi:`
					this.protocolMembersText = `Boshqaruv a'zolari:`
					this.protocolShortText = ""
					this.protocolSecretaryText = "Boshqaruv kotibi"
					this.protocolBottomChairText = "Boshqaruv Raisi"
					this.protocolBottomBoardMembersText = "Boshqaruv a'zolari:"
					return `"ASAKA CAPITAL INVEST" MCHJ TA'SISCHISI VA </br> "ASAKABANK" AJ BOSHQARUVI QO'SHMA </br> YIG'ILISHINING </br> ${this.model.register_number ? this.model.register_number : ""} - SONLI BAYONNOMASI`
				case "expense_commission":
					this.protocolChairText = `Komissiya Raisi:`
					this.protocolMembersText = `Komissiya aʼzolari:`
					this.protocolShortText = ""
					this.protocolSecretaryText = "Komissiya kotibi"
					this.protocolBottomChairText = "Komissiya Raisi"
					this.protocolBottomBoardMembersText = "Komissiya aʼzolari:"
					return `“ASAKABANK” AJ BANK XARAJATLARINI O'RGANISH </br> KOMISSIYASI YIG’ILISHINING </br> ${this.model.register_number ? this.model.register_number : ""} - SONLI BAYONNOMASI`
				case "hr_teaching":
					this.protocolChairText = `Komissiya Raisi:`
					this.protocolMembersText = `Komissiya aʼzolari:`
					this.protocolShortText = ""
					this.protocolSecretaryText = "Komissiya kotibi"
					this.protocolBottomChairText = "Komissiya Raisi"
					this.protocolBottomBoardMembersText = "Komissiya aʼzolari:"
					return `“Asakabank” AJ xodimlarini o‘qitish va malakasini oshirish </br> masalalari bo‘yicha komissiya yig‘ilishining </br> ${this.model.register_number ? this.model.register_number : ""} - sonli bayonnomasi`
				case "department_protocol":
					this.protocolChairText = `Raislik qiluvchi:`
					this.protocolMembersText = `Yig'ilish a'zolari:`
					this.protocolShortText = `Majlis o‘tkazish uchun kvorum talablariga to‘liq amal qilindi va ${this.model.author.top_level_dept_name} kun tartibidagi masalalar bo‘yicha qarorlar qabul qilish vakolatiga ega. Majlis kotibi etib ${returnPosition(this.secretaryDetail[0])} ${returnShortFullName(this.secretaryDetail[0])} tayinlandi.`
					this.protocolSecretaryText = "Boshqaruv kotibi"
					this.protocolBottomChairText = "Departament direktori"
					this.protocolBottomBoardMembersText = "Yig'ilish a'zolari:"
					return `“ASAKABANK” AJ </br> <span style="text-transform: uppercase">${this.model.author.top_level_dept_name}</span> MAJLISINING </br> ${this.model.register_number ? this.model.register_number : ""} - SONLI BAYONNOMASI`
				case "mek":
					this.protocolChairText = `Markaziy ekspert komissiyasi Raisi:`
					this.protocolMembersText = `Markaziy ekspert komissiya a’zolari:`
					this.protocolShortText = ``
					this.protocolSecretaryText = "Boshqaruv kotibi"
					this.protocolBottomChairText = "MEK Raisi"
					this.protocolBottomBoardMembersText = "MEK a’zolari:"
					return `“ASAKABANK” AJ </br> MARKAZIY EKSPERT KOMISSIYASINING </br> ${this.model.register_number ? this.model.register_number : ""} - SONLI BAYONNOMASI`
				case "sick_paid_protocol":
					this.protocolChairText = `Komissiya Raisi:`
					this.protocolMembersText = `Komissiya a’zolari:`
					this.protocolShortText = ``
					this.protocolSecretaryText = "Komissiya kotibi"
					this.protocolBottomChairText = "Komissiya Raisi"
					this.protocolBottomBoardMembersText = "Komissiya a’zolari:"
					this.protocolInviteesText = "Kelishilgan:"
					return `“Asakabank” AJ Bosh ofis xodimlariga vaqtincha mehnatga layotqatsizlik nafaqasi to‘lanishi va xodimlar sog‘ligini tiklash uchun moddiy yordam ko‘rsatish bo‘yicha ijtimoiy sug‘urta komissiyasi” majlisining </br> ${this.model.register_number ? this.model.register_number : ""} - sonli bayonnomasi`
				case "trade_union":
					this.protocolChairText = `Qatnashdilar:`
					this.protocolMembersText = `Birlashgan kasaba uyushmasi qo‘mitasi a’zolari:`
					this.protocolShortText = ``
					this.protocolSecretaryText = "Yig'ilish kotibi"
					this.protocolBottomChairText = "Birlashgan kasaba uyushmasi qo‘mitasi Raisi"
					this.protocolBottomBoardMembersText = "Birlashgan kasaba uyushmasi qo‘mitasi a’zolari:"
					return `“ASAKABANK” AJ BIRLASHGAN KASABA </br> UYUSHMASI QO‘MITASI YIG‘ILISHINING </br> ${this.model.register_number ? this.model.register_number : ""} - SONLI BAYONNOMASI`
				case "anti_corruption":
					this.protocolChairText = `Raislik qiluvchi:`
					this.protocolMembersText = `Ishtirok etganlar:`
					this.protocolShortText = ""
					this.protocolSecretaryText = "Yig'ilish kotibi"
					this.protocolBottomChairText = "Komissiya Raisi"
					this.protocolBottomBoardMembersText = "Komissiya aʼzolari:"
					return `Korrupsiyani oldini olish </br> bo‘yicha komissiya yig‘ilishining </br> ${this.model.register_number ? this.model.register_number : ""} - sonli bayonnomasi`
				case "small_business":
					this.protocolChairText = `Moliyalashtirish bo‘yicha Bank kichik kredit qo‘mitasi Raisi:`
					this.protocolMembersText = `Moliyalashtirish bo‘yicha Bank kichik kredit qo‘mitasi a'zolari:`
					this.protocolShortText = `Yig‘ilishni o‘tkazish uchun kvorum talablariga to‘liq amal qilindi (Kredit qo‘mitalari majlisida
																		qatnashgan a’zolarning soni bo‘yicha kvorum mavjud) va Moliyalashtirish
																		bo‘yicha Bank kichik kredit qo‘mitasi yig‘ilishi kun tartibidagi masalalar bo‘yicha qarorlar qabul qilish vakolatiga ega.`
					this.protocolSecretaryText = "Qo'mita kotibi"
					this.protocolBottomChairText = "Qo'mita Raisi"
					this.protocolBottomBoardMembersText = "Qo'mita aʼzolari:"
					return `"ASAKABANK" AJ MOLIYALASHTIRISH BO'YICHA </br> BANK KICHIK KREDIT QO'MITASI YIG'ILISHINING </br> ${this.model.register_number ? this.model.register_number : ""} - SONLI BAYONNOMASI`
				case "workgroup":
					this.protocolChairText = `Raislik qiluvchi:`
					this.protocolMembersText = `Komissiya a'zolari:`
					this.protocolShortText = `Majlis o‘tkazish uchun kvorum talablariga to‘liq amal qilindi va aniqlangan kamchiliklar bo'yicha mehnat qonunchiligiga muvofiq intizomiy jazo choralarini to'g'ri qo'llash bo'yicha ishchi guruhi majlis kun tartibidagi masalar bo'yicha qaror qabul qilish vakolatiga ega. </br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Majlis kotibi etib ${returnPosition(this.secretaryDetail[0])} ${returnShortFullName(this.secretaryDetail[0])} tayinlandi.`
					this.protocolSecretaryText = "Majlis kotibi"
					this.protocolBottomChairText = "Raislik qiluvchi"
					this.protocolBottomBoardMembersText = "Komissiya aʼzolari:"
					return `"Asakabank" AJ tizimida tarkibiy tuzilmalar/BXMlar xodimlarining mehnat intizomini buzganligi uchun intizomiy jazo choralarini to'g'ri qo'llash bo'yicha </br> Ishchi guruhining </br> ${this.model.register_number ? this.model.register_number : ""} - sonli Bayonnomasi`
			}
		},
	},
	methods: {
		returnCondition(condition) {
			if (condition === 'vacation') {
				return '( Mehnat ta\'tilida )'
			} else if (condition === 'business_trip') {
				return '( Xizmat safarida )'
			} else if (condition === 'unpaid_leave') {
				return '( O\'z hisobidan ta\'tilda )'
			} else if (condition === 'sick') {
				return '( Kasallik varaqasida )'
			} else {
				return null
			}
		}
	}
}
</script>

<style scoped>

</style>
