<template>
	<div class="generate-pdf-area overflow-y-auto bg-4 mb-5 py-4 p-relative d-flex flex-column">
		<span v-html="model && model.goal"></span>

		<div v-for="(item, index) in reportSigners" :key="index" class="d-flex align-center justify-space-between text-dark mt-8 mb-1 size-13 font-600">
			<span v-if="item.hasOwnProperty('user')" style="flex-basis: 250px">{{ item.user && item.user.position }}</span>
			<span v-else style="flex-basis: 250px">{{ item.position }}</span>

			<span class="my-4">
        <qrcode-vue
          v-if="item.is_signed === true && checkId"
          ref="qrCode"
          :value="'https://check.asakabank.uz/document/'+checkId"
          size="50"
          level="L"
          render-as="svg"
        />
      </span>

			<span v-if="item.hasOwnProperty('user')">
        {{ item.user.first_name && item.user.first_name | getFirstCharacter }}
        {{ item.user.last_name }}
      </span>

			<span v-else>
	      {{ item.first_name && item.first_name | getFirstCharacter }}
	      {{ item.last_name }}
	    </span>
		</div>
	</div>
</template>


<script>
import QrcodeVue from "qrcode.vue";

export default {
	name: "PdfLetterTemplateForTripLicenseReport",
	components: {QrcodeVue},
	props: {
		model: {
			type: Object,
			default: () => {}
		},
		reportSigners: {
			type: Array,
			default: () => []
		},
		checkId: {
			type: String,
			default: null
		}
	}
}
</script>

<style scoped>

</style>
