<template>
	<div class="pdf-letter-template-for-hr-contract pa-5">
		<div class="d-flex align-center mb-n1">
			<h5 class="small-2 line-base">Hujjat ID - {{ letterProps.id }}</h5>
		</div>
		<div class="py-4">
			<div class="d-flex w-100 justify-center mt-4">
				<span class="font-700 small-2">{{ registerNumber }} sonli SHARTNOMA</span>
			</div>
		</div>

		<div class="d-flex my-2 justify-space-between">
			<span class="font-500 small-2">Toshkent shahri</span>
			<span class="font-500 small-2">{{ registeredDate }}</span>
		</div>

		<div class="mt-4">
      <span
        class="small-2 text-dark font-500 text-justify"
        style="line-height: 20px;"
      >
        <slot name="text" v-if="$slots.text"></slot>

        <span v-else v-html="letterProps.text"></span>
      </span>
		</div>

		<v-row style="margin-top: 16px">
			<v-col md="6" class="text-center" style="display: block; text-align: center">
				<span v-if="signerEmployee && signerEmployee.is_signed && signerEmployee.qr_info">
					<qrcode-vue
						ref="qrCode"
						:value="'https://check.asakabank.uz/document/'+letterProps.check_id"
						size="70"
						level="L"
						render-as="svg"
					/>
				</span>
			</v-col>
			<v-col md="6" class="text-center" style="display: block; text-align: center">
				<span v-if="signerLeader && signerLeader.is_signed && signerLeader.qr_info">
					<qrcode-vue
						ref="qrCode"
						:value="'https://check.asakabank.uz/document/'+letterProps.check_id"
						size="70"
						level="L"
						render-as="svg"
					/>
				</span>
			</v-col>
		</v-row>
	</div>
</template>

<script>
import QrcodeVue from 'qrcode.vue'
import {toMonthNameUzb} from "../helpers";
import {regex} from "vuelidate/lib/validators/common";

export default {
	name: "PdfLetterTemplateForHrContract",
	components: {
		QrcodeVue
	},
	props: {
		letterProps: {
			type: Object,
			default: () => {
			}
		},
	},
	computed: {
		registerNumber() {
			if (this.letterProps.register_number) {
				return this.letterProps.register_number + ' -'
			} else {
				return '____'
			}
		},
		registeredDate() {
			if (this.letterProps.register_date) {
				return new Date(this.letterProps.register_date).getFullYear() + '-yil ' + new Date(this.letterProps.register_date).getDate() + '-' + toMonthNameUzb(new Date(this.letterProps.register_date).getMonth() + 1)
			} else {
				return '20__ yil  “___”__________ '
			}
		},
		signerEmployee() {
			if (this.letterProps.signed_by.length){
				return this.letterProps.signed_by.find(item => !item.is_for_notice)
			}
		},
		signerLeader(){
			if (this.letterProps.signed_by.length){
				return this.letterProps.signed_by.find(item => item.is_for_notice)
			}
		}
	}
}

</script>

<style scoped>

</style>
