<template>
	<div class="techniques-view w-100" id="element-to-download-act">
		<div class="bg-4 pa-2">
			<div class="act-preview-scrollbar">
				<div class="py-4" style="font-family: Arial, sans-serif; font-size: 13px; line-height: normal">
					<div class="d-flex w-100 justify-space-between" style="display: flex; justify-content: space-between">
						<h5 class="small-2 line-base">Hujjat ID - {{ letterProps.id }}</h5>
						<img src="/img/logo_asaka_4.png" alt="Logo Asakabank" class="mb-5">
					</div>
					<div class="d-flex w-100 justify-center" style="display: flex; justify-content: center; text-align: center">
						<span class="font-600 text-center size-13">TEXNIK USKUNALARNI <br> TOPSHIRISH - QABUL QILISH <br><span class="font-400">DALOLATNOMASI</span></span>
					</div>
					<div class="d-flex w-100 justify-space-between mt-4" style="display: flex; justify-content: space-between; margin-top: 16px">
						<span class="size-13 font-600">{{ letterProps.createdDate | filterDateMonthYear}} yil</span>
						<span class="size-13 font-600">{{ region }}</span>
					</div>
					<div class="mt-4" style="margin-top: 16px; text-align: justify!important;">
								<span class="font-500 size-13 d-inline-block text-justify text-indent-30" style="display: block; text-indent: 30px">
									Bizlar, quyida imzo chekuvchilar,
									<template v-if="letterProps.isActCreator && letterProps.isActCreator === true">
											<template v-if="recipient">
												{{ recipient.dep_name }}, {{ recipient.position }}
												<span class="font-700">{{ recipient.full_name }}</span>
											</template>
											<template v-else>
												{{ letterProps.agreedPerson.dep_name }}, {{ letterProps.agreedPerson.position }}
												<span class="font-700">{{ letterProps.agreedPerson.full_name }}</span>
											</template>
									</template>
									<template v-else>
										<template v-if="recipient">
											{{ recipient.dep_name }}, {{ recipient.position }}
											<span class="font-700">{{ recipient.last_name }} {{ recipient.first_name }} {{ recipient.father_name }}</span>
										</template>
										<template v-else>
											{{ currentUser.top_level_dept_name }}, {{ currentUser.position }}
											<span class="font-700">{{ currentUser.last_name }} {{ currentUser.first_name }} {{ currentUser.father_name }}</span>
										</template>
									</template>
									va
									{{ letterProps.executor.dep_name }}, {{ letterProps.executor.position }}
									<span class="font-700">{{ letterProps.executor.full_name }}</span>
									ish jarayonida foydalanish uchun berilgan quyidagi texnik
									uskunalarni topshirish va qabul qilish maqsadida tuzdik:</span>
					</div>

					<app-table class="mt-4" style="margin-top: 16px">
						<template #tableHeader class="mt-4">
							<th class="text-center">№</th>
							<th class="text-center">Nomi</th>
							<th class="text-center">Inv. №</th>
						</template>
						<template #tableBody>
							<tr v-for="(item, index) in techniquesList">
								<td class="text-center">{{ index + 1 }}</td>
								<td class="text-center">{{ item.name }}</td>
								<td class="text-center">{{ item.inv_num }}</td>
							</tr>
						</template>
					</app-table>

					<div class="my-4" style="margin-top: 16px">
							<span class="font-500 size-13 d-inline-block text-justify text-indent-30" style="display: inline-block; text-indent: 30px; text-align: justify">
									{{ letterProps.executor.dep_name }}, {{ letterProps.executor.position }}
									<span class="font-700">{{ letterProps.executor.full_name }}</span>
									yuqoridagi jadvalda keltirilgan asosiy vositalarni
									<span class="font-700">mexanik shikastlanishsiz/shikastsiz, ishchi holatda</span> topshirdi.
							</span>
							<span class="font-500 size-13 d-inline-block text-justify text-indent-30" style="display: inline-block; text-indent: 30px; text-align: justify">
								<template v-if="letterProps.isActCreator && letterProps.isActCreator === true">
									<template v-if="recipient">
										{{ recipient.dep_name }}, {{ recipient.position }}
										<span class="font-700">{{ recipient.full_name }}</span>
									</template>
									<template v-else>
										{{ letterProps.agreedPerson.dep_name }}, {{ letterProps.agreedPerson.position }}
										<span class="font-700">{{ letterProps.agreedPerson.full_name }}</span>
									</template>
								</template>
								<template v-else>
									<template v-if="recipient">
											{{ recipient.dep_name }}, {{ recipient.position }}
											<span class="font-700">{{ recipient.last_name }} {{ recipient.first_name }} {{ recipient.father_name }}</span>
										</template>
										<template v-else>
											{{ currentUser.top_level_dept_name }}, {{ currentUser.position }}
											<span class="font-700">{{ currentUser.last_name }} {{ currentUser.first_name }} {{ currentUser.father_name }}</span>
										</template>
								</template>
								Yuqoridagi jadvalda keltirilgan asosiy vositani qabul qildi. Dalolatnoma elektron shaklda tuzildi. *
							</span>
					</div>

					<v-row style="margin-top: 20px">
						<v-col md="6" class="text-center" style="display: block; text-align: center">
							<span class="font-700 size-13 d-inline-block" style="display: inline-block; text-align: center">Topshirdi:</span>
							<span class="font-500 size-13 d-inline-block" style="display: inline-block; text-align: center">{{ letterProps.executor.dep_name }}, {{ letterProps.executor.position }}</span>
							<span class="font-700 size-13 d-inline-block" style="display: inline-block; text-align: center">{{ letterProps.executor.full_name }} </span>
						</v-col>
						<v-col md="6" class="text-center" style="display: block; text-align: center">
							<span class="font-700 size-13 d-inline-block" style="display: inline-block; text-align: center">Qabul qildi:</span>
							<template v-if="letterProps.isActCreator && letterProps.isActCreator === true">
								<template v-if="recipient">
									<span class="font-500 size-13 d-inline-block" style="display: inline-block; text-align: center">{{ recipient.dep_name }}, {{ recipient.position }}</span>
									<span class="font-700 size-13 d-inline-block" style="display: inline-block; text-align: center">{{ recipient.full_name }} </span>
								</template>
								<template v-else>
									<span class="font-500 size-13 d-inline-block" style="display: inline-block; text-align: center">{{ letterProps.agreedPerson.dep_name }}, {{ letterProps.agreedPerson.position }}</span>
									<span class="font-700 size-13 d-inline-block" style="display: inline-block; text-align: center">{{ letterProps.agreedPerson.full_name }} </span>
								</template>
							</template>
							<template v-else>
								<template v-if="recipient">
									<span class="font-500 size-13 d-inline-block" style="display: inline-block; text-align: center">{{ recipient.dep_name }}, {{ recipient.position }}</span>
									<span class="font-700 size-13 d-inline-block" style="display: inline-block; text-align: center">{{ recipient.last_name }} {{ recipient.first_name }} {{ recipient.father_name }}</span>
								</template>
								<template v-else>
									<span class="font-500 size-13 d-inline-block" style="display: inline-block; text-align: center">{{ currentUser.top_level_dept_name }}, {{ currentUser.dep_name }}, {{ currentUser.position }}</span>
									<span class="font-700 size-13 d-inline-block" style="display: inline-block; text-align: center">{{ currentUser.last_name }} {{ currentUser.first_name }} {{ currentUser.father_name }}</span>
								</template>
							</template>
						</v-col>
					</v-row>
					<v-row style="margin-top: 16px">
						<v-col md="6" class="text-center" style="display: block; text-align: center">
								<span>
									<qrcode-vue
										ref="qrCode"
										:value="'https://check.asakabank.uz/document/'+letterProps.checkId"
										size="70"
										level="L"
										render-as="svg"
									/>
								</span>
						</v-col>
						<v-col md="6" class="text-center" style="display: block; text-align: center">
							<template v-if="recipient">
									<span v-if="isRecipientAgree">
									<qrcode-vue
										ref="qrCode"
										:value="'https://check.asakabank.uz/document/'+letterProps.checkId"
										size="70"
										level="L"
										render-as="svg"
									/>
								</span>
							</template>
							<template v-else>
								<span v-if="letterProps.isAgreed">
								<qrcode-vue
									ref="qrCode"
									:value="'https://check.asakabank.uz/document/'+letterProps.checkId"
									size="70"
									level="L"
									render-as="svg"
								/>
								</span>
							</template>
						</v-col>
					</v-row>
					<div class="mt-4" style="margin-top: 16px">
						<span class="font-700 text-justify size-13 d-inline-block">* Barcha qabul qilinayotgan texnikalarga javobgar ekanligimdan ogohlantirildim. Texnikalardan noto‘g‘ri ekspluatatsiya qilish, foydalanishga va QR code/kod  butunligi uchun javobgarman. </span>
					</div>
				</div>
			</div>
		</div>

		<div v-if="['admin', 'equipment_manager'].includes(currentUser.role) || canDownload" class="d-flex w-100 justify-end">
			<app-button
				:loading="loading"
				@click="download"
			>
				<template #prepend>
					<download-cloud-icon size="18" class="mr-1"/>
				</template>
				{{$t('components.download')}}
			</app-button>
		</div>
	</div>
</template>

<script>
import { mapGetters } from "vuex";
import QrcodeVue from 'qrcode.vue';
import { DownloadCloudIcon } from "vue-feather-icons";
import html2pdf from "html2pdf.js/src";

export default {
	name: "PdfLetterTemplateForTechniques",
	components: {
		QrcodeVue,
		DownloadCloudIcon
	},
	data() {
		return {
			loading: false,
			region: null
		}
	},
	props: {
		letterProps: {
			type: Object,
			required: true
		}
	},
	computed: {
		...mapGetters({
			currentUser: "auth/getCurrentUser",
		}),
		techniquesList(){
			return JSON.parse(this.letterProps.text)
		},
		/** **/
		isApprover() {
			return this.letterProps && this.letterProps.component && this.letterProps.component.approver && this.letterProps.component.approver === this.currentUser.id
		},
		/** **/
		recipient() {
			if (this.letterProps && this.letterProps.agreed_by && this.letterProps.agreed_by.length && this.letterProps.component && this.letterProps.component.approver) {
				return this.letterProps.agreed_by.find(item => item.user.id !== this.letterProps.component.approver).user
			} else {
				return null
			}
		},
		/** **/
		approver() {
			if (this.letterProps && this.letterProps.agreed_by && this.letterProps.agreed_by.length && this.letterProps.component && this.letterProps.component.approver) {
				return this.letterProps.agreed_by.find(item => item.user.id === this.letterProps.component.approver).user
			} else {
				return null
			}
		},
		/** **/
		isRecipientAgree() {
			if (this.letterProps && this.letterProps.agreed_by && this.letterProps.agreed_by.length && this.letterProps.component && this.letterProps.component.approver) {
				return this.letterProps.agreed_by.find(item => item.user.id !== this.letterProps.component.approver).is_agreed
			} else {
				return null
			}
		},
		/** **/
		canDownload() {
			let canDownload = false
			if (this.letterProps && this.letterProps.agreed_by && this.letterProps.agreed_by.length && this.recipient && this.recipient.id === this.currentUser.id){
				canDownload = this.letterProps.agreed_by.every(item => item.is_agreed === true)
			}
			return canDownload;
		}
	},
	mounted() {
		this.getFilialRegionName();
	},
	methods: {
		download() {
			let fileName = this.letterProps.checkId
			this.loading = true;
			const element = document.getElementById('element-to-download-act');
			const opt = {
				margin: [10, 20, 20, 20],
				filename: fileName,
				image: {type: 'jpeg', quality: 0.98},
				html2canvas: {scale: 2, letterRendering: true},
				jsPDF: {unit: 'mm', format: 'a4', orientation: 'portrait'},
				pagebreak: {mode: 'avoid-all'},
			};
			html2pdf().set(opt).from(element).save();
			setTimeout(() => {
				this.loading = false;
			}, 1000)
		},
		/** **/
		getFilialRegionName() {
			this.$axios.get(`/filials/${this.currentUser.filial}/`)
				.then(({ data }) => {
					this.region = data.name;
				})
		}
	}
}
</script>

<style scoped>

</style>
