<template>
	<div class="pdf-letter-template-for-trip-license">
		<div>
			<v-tabs
				v-model="licenseSelected"
				height="36"
			>
				<v-tab>
					<span class="text-transform-none size-13">{{ $t('tripLicense') }}</span>
				</v-tab>

				<v-tab>
					<span class="text-transform-none size-13">{{ $t('process') }}</span>
				</v-tab>

				<v-tab>
					<span class="text-transform-none size-13">{{ $t('advanceReport') }}</span>
				</v-tab>
			</v-tabs>

			<v-tabs-items v-model="licenseSelected" class="w-100 my-2">
				<v-tab-item>
					<div class="d-flex w-100 justify-space-between mt-4">
						<span class="small-2 font-600">Hujjat ID - {{ compose.id }}</span>
						<span class="small-2 font-600">Asakabank AJ</span>
					</div>

					<div class="small-1 font-600 d-flex justify-center mt-4">Xizmat safari guvohnomasi</div>

					<div class="d-flex flex-column gap-16 mt-4">
						<span class="d-block small-2"><span class="font-600">Berildi:</span> Asakabank AJ Bosh ofisi
							{{ compose && compose.author && compose.author.top_level_dept_name }}
							{{ compose && compose.author && compose.author.position }}
							<span class="font-600">{{ compose && compose.author && compose.author.full_name }}</span>ga
						</span>

						<span class="d-block small-2"><span class="font-600">Xizmat safari muddati:</span>
							{{ compose && compose.trip && compose.trip.start_date && compose.trip.start_date | filterDateMonthYear }} dan
							{{ compose && compose.trip && compose.trip.end_date && compose.trip.end_date | filterDateMonthYear }} gacha
							({{ numberOfDays }} kun)
						</span>

						<span class="d-block small-2"><span class="font-600">Safarga boradigan <span v-if="compose && compose.trip && compose.trip.branches && compose.trip.branches.length > 1">joylari</span><span v-else>joyi</span>:</span>
							<span v-if="compose && compose.trip && compose.trip.branches" v-for="(branch, index) in compose.trip.branches" :key="branch.id">
								{{ branch.name }}<span v-if="index < compose.trip.branches.length - 1">,</span>
							</span>
						</span>

						<span class="d-block small-2"><span class="font-600">Asos:</span>
							{{ compose && compose.trip && compose.trip.order_date && compose.trip.order_date | filterDateMonthYear }} dagi
							{{ compose && compose.trip && compose.trip.order_number }}-sonli buyruq
						</span>

						<div v-if="headHR">
							<qrcode-vue v-if="headHR.is_signed === true" :value="'https://check.asakabank.uz/document/'+compose.check_id" size="50" level="L" />
							<span class="font-600 small-2">
								{{ headHR.user && headHR.user.first_name | getFirstCharacter  }}
								{{ headHR.user && headHR.user.last_name  }}
							</span>
						</div>
					</div>

					<div class="small-2 font-600 my-4">
						Berilgan manzilga yetib borish va u yerdan qaytish belgilari:
					</div>

					<v-row class="mt-0">
						<v-col v-for="item in signers" md="6" lg="6" sm="6">
							<div class="d-flex flex-column">
								<span class="small-2"><span class="font-600">{{ item.text }}: </span>{{ item.actionTime | filterDateMonthYear }}</span>
								<span class="small-2"><span class="font-600">Filial: </span>{{ item.filial }}</span>
								<span class="small-2"><span class="font-600">Mas'ul xodim: </span>{{ item.responsible }}</span>
								<qrcode-vue :value="'https://check.asakabank.uz/document/'+compose.check_id" size="50" level="L" class="mt-1"/>
							</div>
						</v-col>
					</v-row>

<!--					<pre>{{ compose.signed_by }}</pre>-->
				</v-tab-item>

				<v-tab-item>
					<trip-license-process :signers="signers" />
				</v-tab-item>

				<v-tab-item>
					<pdf-letter-template-for-trip-license-report
						:model="compose"
						:report-signers="compose.signed_by.filter(item => item.is_for_notice !== true && item.is_invited === true)"
						:check-id="compose.check_id"
					/>
				</v-tab-item>
			</v-tabs-items>
		</div>
<!--		<pre>{{ compose }}</pre>-->
	</div>

</template>

<script>
import QrcodeVue from "qrcode.vue";
import TripLicenseProcess from "./TripLicenseProcess.vue";
import PdfLetterTemplateForTripLicenseReport from "./PdfLetterTemplateForTripLicenseReport.vue";

export default {
	name: "PdfLetterTemplateForTripLicense",
	components: {
		QrcodeVue,
		TripLicenseProcess,
		PdfLetterTemplateForTripLicenseReport
	},
	props: {
		compose: {
			type: Object,
			required: true,
			default: () => {}
		}
	},
	data() {
		return {
			licenseSelected: null
		}
	},
	computed: {
		headHR() {
			if (this.compose && this.compose.signed_by && this.compose.signed_by.length) {
				return this.compose.signed_by.find(item => item.is_for_notice === true)
			}
		},
		/** **/
		signers() {
			let filteredSigners = this.compose?.signed_by?.filter(item => item.is_for_notice !== true && item.is_invited !== true);
			let signers = []
			filteredSigners.forEach(item => {
				if(item.departure_time) {
					signers.push({
						actionTime: item.departure_time,
						text: `Jo'nadi`,
						filial: this.compose?.trip?.branches?.find(branch => branch.mfo === item?.user?.filial)?.name ? this.compose?.trip?.branches?.find(branch => branch.mfo === item?.user?.filial)?.name : 'Bosh ofis',
						responsible: `${item?.user?.first_name[0]}. ${item?.user?.last_name}`,
						status: 'departure',
						mfo: item?.user?.mfo
					})
				}
				if (item.action_time){
					signers.push({
						actionTime: item.action_time,
						text: `Yetib keldi`,
						filial: this.compose?.trip?.branches?.find(branch => branch.mfo === item?.user?.filial)?.name  ? this.compose?.trip?.branches?.find(branch => branch.mfo === item?.user?.filial)?.name : 'Bosh ofis',
						responsible: `${item?.user?.first_name[0]}. ${item?.user?.last_name}`,
						status: 'arrival',
						mfo: item?.user?.filial
					})
				}
			})

			const rightNumbers = [1, 2, 5, 6, 9, 10, 13, 14, 17, 18, 21, 22, 25, 26, 29, 30, 33, 34, 37, 38, 41, 42, 45, 46, 49, 50, 53, 54, 57, 58, 61, 62, 65, 66, 69, 70]

			let sortedList = signers.sort((a, b) => new Date(a.actionTime) - new Date(b.actionTime));
			sortedList.forEach((item, index) => {
				item.direction = rightNumbers.includes(index) ? 'right' : 'left'
			});

			return sortedList
		},
		numberOfDays() {
			// Define the two dates
			let startDate = new Date(this.compose?.trip?.start_date);
			let endDate = new Date(this.compose?.trip?.end_date);

			if (startDate && endDate) {
				// Calculate the difference in milliseconds
				let difference = endDate.getTime() - startDate.getTime();

				// Convert the difference from milliseconds to days
				let daysDifference = difference / (1000 * 3600 * 24);

				// Round the result to get an integer number of days
				daysDifference = Math.round(daysDifference);
				return daysDifference + 1
			}
			else {
				return null
			}
		}
	}
}
</script>

<style scoped>

</style>
