<template>
  <div class="generate-rotation d-flex flex-1">
    <div class="generate-pdf-area p-relative d-flex flex-column flex-1 pa-5">
      <div class="mb-4">
        <v-row no-gutters>
          <v-col md="6">
            <img src="/img/logo_asaka_3.svg" alt="Logo Asakabank" class="mb-4">
          </v-col>

          <v-col md="6">
            <span v-if="letterProps.type === 'horizontal'" class="d-block text-right small-3 font-700">Горизонтал ротация учун сўровнома <br> Бош офис/филиал</span>
            <span v-else class="d-block text-right small-3 font-700">Вертикал ротация учун сўровнома <br> Бош офис/филиал</span>
          </v-col>
        </v-row>
      </div>

      <div class="flex-1">
        <span v-html="letterProps.text" class="small-2 reset-space"></span>
      </div>

      <div class="mt-10 pt-10">
        <div v-if="letterProps.executive">
          <template v-for="item in letterProps.executive">
            <v-row align="center" class="text-dark small-3 mb-1 font-600">
              <v-col md="5">
                <span>Амалдаги (вертикал) раҳбар</span>
              </v-col>

              <v-col md="4">
                <span v-if="item.is_signed" class="my-4">
                  <qrcode-vue
                    ref="qrCode"
                    :value="'https://check.asakabank.uz/document/'+letterProps.checkId"
                    size="70"
                    level="L"
                    render-as="svg"
                  />
                </span>
              </v-col>

              <v-col md="3">
                <span>{{ item.first_name | getFirstCharacter }} {{ item.last_name }}</span>
              </v-col>
            </v-row>
          </template>
        </div>

        <div v-if="letterProps.invited">
          <template v-for="item in letterProps.invited">
            <v-row class="text-dark small-3 mb-1 font-600">
              <v-col md="5">
                <span>Таклиф қилинаётган (вертикал) раҳбар</span>
              </v-col>

              <v-col md="4">
                <span v-if="item.is_signed" class="my-4">
                  <qrcode-vue
                    ref="qrCode"
                    :value="'https://check.asakabank.uz/document/'+letterProps.checkId"
                    size="70"
                    level="L"
                    render-as="svg"
                  />
                </span>
              </v-col>

              <v-col md="3">
                <span>{{ item.first_name && item.first_name | getFirstCharacter }} {{ item.last_name }}</span>
              </v-col>
            </v-row>
          </template>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import QrcodeVue from 'qrcode.vue'

export default {
	name: "PdfLetterTemplateForRotation",
	props: {
		letterProps: {
			type: Object,
			default: () => {}
		},
	},
	components: {
		QrcodeVue
	}
}
</script>
