<template>
  <div class="d-flex flex-column flex-1 pa-5">
	  <div class="d-flex align-center mb-n1">
		  <h5 class="small-2 line-base">Hujjat ID - {{ letterProps.id }}</h5>
		  <span class="font-600 small-2 mb-1 text-right ml-auto">"Asakabank" AJ</span>
	  </div>
    <div class="font-600 small-2 mb-1 text-right ml-auto">
	    <span v-if="letterProps.signerObject && letterProps.signerObject.leaderFilialName">{{ letterProps.signerObject.leaderFilialName }}</span>
	    <br v-if="letterProps.signerObject && letterProps.signerObject.leaderFilialName">
      {{ letterProps.signerObject && letterProps.signerObject.position }}
	    <br>
      {{ letterProps.signerObject && letterProps.signerObject.first_name | getFirstCharacter }}
      {{ letterProps.signerObject && letterProps.signerObject.father_name | getFirstCharacter }}
      {{ letterProps.signerObject && letterProps.signerObject.last_name }}ga
      <br>
      {{ letterProps.signerObject && letterProps.signerObject.leaderFilialName ? letterProps.executor.dep_name : letterProps.sender }}
      <br>
      {{ letterProps.executor.position }}
      <br>
      {{ letterProps.executor && letterProps.executor.first_name | getFirstCharacter }}
      {{ letterProps.executor && letterProps.executor.father_name && letterProps.executor.father_name | getFirstCharacter }}
      {{ letterProps.executor && letterProps.executor.last_name }}dan
    </div>

    <div class="text-center text-dark font-600 mb-7 mt-10 p-relative">
      <div v-if="letterProps.noticeUser && letterProps.noticeUser.is_signed" class="p-absolute" style="bottom: 0">
        <span v-if="letterProps.noticeUser.user" class="small-2 mb-2 d-block">
          {{ letterProps.noticeUser.user.first_name | getFirstCharacter }}
          {{ letterProps.noticeUser.user.father_name && letterProps.noticeUser.user.father_name | getFirstCharacter }}
          {{ letterProps.noticeUser.user.last_name }}
        </span>

        <qrcode-vue
          v-if="letterProps.noticeUser.is_signed === true && letterProps.checkId"
          ref="qrCode"
          :value="'https://check.asakabank.uz/document/'+letterProps.checkId"
          size="70"
          level="L"
          render-as="svg"
        />
      </div>

      ARIZA
    </div>

    <div>
      <span
        class="size-13 d-block text-dark font-500 text-justify"
        style="line-height: 20px; text-indent: 30px"
      >
        <slot name="text" v-if="$slots.text"></slot>

        <span v-else v-html="letterProps.text"></span>
      </span>
    </div>

    <div class="mt-10 pt-10">
      <template v-for="item in letterProps.signedByList">
        <div class="d-flex align-center justify-space-between text-dark size-13 mb-1 font-600">
          <span style="flex-basis: 250px">{{ item.user.position }}</span>
          <span class="my-4">
            <qrcode-vue
              v-if="item.is_signed === true && letterProps.checkId"
              ref="qrCode"
              :value="'https://check.asakabank.uz/document/'+letterProps.checkId"
              size="70"
              level="L"
              render-as="svg"
            />
          </span>
          <span>
            {{ item.user.first_name && item.user.first_name | getFirstCharacter }}
            {{ item.user.last_name }}
          </span>
        </div>
      </template>
    </div>

    <div class="mt-auto text-right">
      <app-button
        :loading="loading"
        @click="download"
      >
        <template #prepend>
          <download-cloud-icon size="18" class="mr-1"/>
        </template>
        Скачать
      </app-button>
    </div>
  </div>
</template>

<script>
import QrcodeVue from 'qrcode.vue'
import { DownloadCloudIcon } from "vue-feather-icons"

export default {
  name: "PdfLetterTemplateForVacation",
  props: {
    letterProps: {
      type: Object,
      default: () => {}
    },
  },
  components: {
    QrcodeVue,
    DownloadCloudIcon
  },
  data() {
    return {
      loading: false,
	    leaderFilialName: null
    }
  },
	mounted() {
		if (this.letterProps.signerObject && this.letterProps.signerObject.filial){
			this.getFilialName(this.letterProps.signerObject.filial);
		}
	},
	methods: {
    download() {
      this.loading = !this.loading

      this.$http.get(`/check/document/${this.letterProps.checkId}/`)
      .then(({data}) => {
        saveAs(`https://portal-drive.asakabank.uz/media${data.file && data.file.file}`, "template.pdf")

        this.loading = false
      })
      .catch(() => {
        this.loading = false
      })
    },
	  /**/
	  getFilialName(mfo) {
		  this.$axios.get(`/filials/`, {
			  params: {
				  mfo: mfo
			  }
		  }).then(({ data }) => {
			  this.leaderFilialName = data.results[0].name
		  })
	  }
  }
}
</script>
