<template>
	<div id="element-to-download" class="generate-area d-flex flex-1 flex-column">
		<div class="generate-pdf-area p-relative d-flex flex-column flex-1 pa-5">
			<div class="d-flex w-100 justify-space-between mb-8">
				<div class="d-flex flex-column">
					<template>
						<span class="small-3 text-dark font-600">{{ registerNumber }} - son bilan</span>
						<span class="small-3 text-dark font-600">ro'yxatga olingan</span>
						<h5 class="small-2 line-base mt-4 text-center">Hujjat ID - {{ model.id }}</h5>
					</template>
				</div>
				<div class="d-flex flex-column align-end">
					<template>
						<span class="small-3 text-dark font-600">"Asakabank" AJ {{ subTypeComputed }}ning</span>
						<span class="small-3 text-dark font-600">{{ computedProtocolRegisterDate }}</span>
						<span class="small-3 text-dark font-600">{{ computedProtocolRegisterNumber }}-sonli bayonnomasi bilan</span>
						<span class="small-3 text-dark font-600">"TASDIQLANGAN"</span>
					</template>
				</div>
			</div>

			<span
				class="small-3 d-block text-dark font-500 text-justify"
				style="line-height: 20px; text-indent: 30px"
			>
				<slot name="text" v-if="$slots.text"></slot>
				<span v-else v-html="model.text"></span>
			</span>

			<div class="mt-5 pt-5">
				<span class="small-3 text-dark font-600 font-italic d-block mb-2">Kiritildi: </span>
				<div v-for="(item, index) in signersList" :key="index"
				     class="d-flex align-center justify-space-between text-dark size-13 mb-1 font-600">
					<template v-if="item && item.user_current_data && item.user_current_data.dep_name && item.user_current_data.position">
						<span style="flex-basis: 250px">{{ item.user_current_data.dep_name }} - {{ item.user_current_data.position }}</span>
					</template>

					<template v-else>
						<span v-if="item.hasOwnProperty('user')" style="flex-basis: 250px">{{
								item.user && item.user.dep_name
							}} - {{ item.user && item.user.position }}</span>
						<span v-else style="flex-basis: 250px">{{ item.dep_name }} - {{ item.position }}</span>
					</template>

					<span class="my-4">
                <qrcode-vue
	                v-if="item.is_signed === true && model.check_id"
	                ref="qrCode"
	                :value="'https://check.asakabank.uz/document/'+item.check_id"
	                size="50"
	                level="L"
	                render-as="svg"
                />
              </span>

					<span v-if="item.hasOwnProperty('user')">
                {{ item.user.first_name && item.user.first_name | getFirstCharacter }}
                {{ item.user.last_name }}
              </span>

					<span v-else>
                {{ item.first_name && item.first_name | getFirstCharacter }}
                {{ item.last_name }}
              </span>
				</div>
			</div>


			<div class="pt-5">
				<span class="small-3 text-dark font-600 font-italic d-block mb-2">Kelishildi: </span>
				<div v-for="(item, index) in agreedList" :key="index"
				     class="d-flex align-center justify-space-between text-dark size-13 mb-1 font-600">
					<span v-if="item.hasOwnProperty('user')" style="flex-basis: 250px">{{
							item.user && item.user.dep_name
						}} - {{ item.user && item.user.position }}</span>
					<span v-else style="flex-basis: 250px">{{ item.dep_name }} - {{ item.position }}</span>

					<span class="my-4">
                <qrcode-vue
	                v-if="item.is_signed === true && model.check_id"
	                ref="qrCode"
	                :value="'https://check.asakabank.uz/document/'+model.check_id"
	                size="50"
	                level="L"
	                render-as="svg"
                />
              </span>

					<span v-if="item.hasOwnProperty('user')">
                {{ item.user.first_name && item.user.first_name | getFirstCharacter }}
                {{ item.user.last_name }}
              </span>

					<span v-else>
                {{ item.first_name && item.first_name | getFirstCharacter }}
                {{ item.last_name }}
              </span>
				</div>
			</div>

		</div>

		<div class="d-flex justify-end">
			<app-button
				:loading="loading"
				@click="download"
			>
				<template #prepend>
					<download-cloud-icon size="18" class="mr-1"/>
				</template>
				{{ $t('components.download') }}
			</app-button>
		</div>

	</div>
</template>

<script>
import {toMonthNameUzb} from "../helpers";
import QrcodeVue from 'qrcode.vue';
import {DownloadCloudIcon} from "vue-feather-icons";
import {mapGetters} from "vuex";
import {saveAs} from 'file-saver';
import {base64toBlob} from "@/common/helpers";

export default {
	name: "PdfLetterTemplateForComplianceRegulation",
	components: {
		QrcodeVue,
		DownloadCloudIcon
	},
	props: {
		model: {
			type: Object,
			required: true
		}
	},
	data() {
		return {
			loading: false
		}
	},
	computed: {
		...mapGetters({
			currentUser: "auth/getCurrentUser"
		}),
		/** **/
		computedProtocolRegisterDate() {
			if (this.model?.signer_obj?.protocol_register_date) {
				return new Date(this.model.signer_obj.protocol_register_date).getFullYear() + "-yil " + new Date(this.model.signer_obj.protocol_register_date).getDate() + "-" + toMonthNameUzb(new Date(this.model.signer_obj.protocol_register_date).getMonth() + 1) + "dagi"
			} else {
				return '20__-yil "__" ___________dagi'
			}
		},
		/**/
		computedProtocolRegisterNumber() {
			if (this.model?.signer_obj?.protocol_register_number) {
				return this.model.signer_obj.protocol_register_number
			} else {
				return '____'
			}
		},
		/**/
		registerNumber() {
			if (this.model.register_number) {
				return this.model.register_number
			} else {
				return '____'
			}
		},
		/**/
		signersList() {
			return this.model.signed_by.filter(item => item.is_invited === false)
		},
		/**/
		agreedList() {
			return this.model.signed_by.filter(item => item.is_invited === true).sort((a, b) => b?.user?.order_by - a?.user?.order_by);
		},
		/** **/
		subTypeComputed() {
			if (this.model.sub_type === 'bank_board'){
				return "Kengashi"
			}else if (this.model.sub_type === 'general_meeting') {
				return "Aksiyadorlar umumiy yig'ilishi"
			}else {
				return "Boshqaruvi"
			}
		}
	},
	methods: {
		download() {
			if (!this.model.document_id) {
				this.loading = true
				this.$http.get(`/v2/docflow/${this.currentUser.filial}/download-unsigned-document/${this.model.id}/`)
					.then(({data}) => {
						saveAs(base64toBlob(data.data, 'application/pdf'), `${this.model.check_id}.pdf`)

						this.loading = false
					})
					.catch(() => {
						this.loading = false
					})
			} else {
				this.loading = true
				this.$http.get(`/check/document/${this.model.check_id}/`)
					.then(({data}) => {
						saveAs(`https://portal-drive.asakabank.uz/media${data.file && data.file.file}`, `${this.model.check_id}.pdf`)

						this.loading = false
					})
					.catch(() => {
						this.loading = false
					})
			}
		}
	}
}
</script>

<style scoped>

</style>
