<template>
	<div class="px-5">
		<v-row>
			<template v-if="letterProps.decreeType !== 'chairman_decree'">
				<v-col md="12">
					<div class="d-flex align-center mt-2 mb-4">
						<img src="/img/logo_asaka_3.svg" alt="Logo Asakabank">

						<h5 class="small-2 line-base ml-5" style="transform: translateY(3px)">Hujjat ID - {{ letterProps.id }}</h5>
					</div>

					<div
						class="brand-actions d-flex align-center py-2 pr-5 p-relative text-dark small-3 font-600 p-relative pl-10"
						style="left: -40px"
					>
						<span>{{ letterProps.sender }}</span>
					</div>

					<template v-if="letterProps.decreeType === 'payment_decree'">
						<div class="d-flex size-13 mt-4 text-dark font-600">
							<span v-if="letterProps.isDocumentRegistered">{{ returnDate(letterProps.registerDate) }}</span>
							<span v-else>"__" ___________ {{ new Date().getFullYear() }} y</span>
						</div>
						<div class="d-flex justify-center my-5 w-100">
							<span class="font-700 size-13">
								<template v-if="letterProps.isDocumentRegistered">
									{{ letterProps.registerNumber }}
								</template>
								<template v-else>
									________
								</template>
								- sonli FARMOYISH</span>
						</div>
					</template>
					<template v-else>
						<div class="d-flex small-3 mt-4 text-dark font-600">
							<span v-if="letterProps.isDocumentRegistered">{{ returnDate(letterProps.registerDate) }}</span>
							<span v-else>"__" ___________ {{ new Date().getFullYear() }} y</span>
						</div>
					</template>
				</v-col>
			</template>
			<template v-else>
				<v-col md="12" class="mb-5">
					<div class="d-flex w-100 justify-center mb-5">
						<img src="/img/logo_asaka_4.png" alt="Logo Asakabank">
					</div>
					<div
						class="brand-actions d-flex align-center py-2 pr-5 p-relative text-dark small-3 font-600 p-relative pl-10"
						style="left: -40px"
					>
					</div>
					<div class="d-flex w-100 justify-center my-4">
						<span class="font-700 small-1">FARMOYISH</span>
					</div>
					<v-row>
						<v-col md="4">
							<span class="font-700 size-13">Toshkent sh.</span>
						</v-col>
						<v-col md="4" class="d-flex justify-center">
							<span v-if="letterProps.isDocumentRegistered" class="font-700 size-13">№ {{ letterProps.registerNumber }} - sonli</span>
							<span v-else class="font-700 size-13">№______ - sonli</span>
						</v-col>
						<v-col md="4" class="d-flex justify-end">
							<span v-if="letterProps.isDocumentRegistered" class="font-700 size-13">{{ returnDate(letterProps.registerDate) }}</span>
							<span v-else class="font-700 size-13">__.__.{{ new Date().getFullYear() }} y</span>
						</v-col>
					</v-row>
				</v-col>
			</template>
		</v-row>

		<template v-if="['service_decree', 'treasury_decree'].includes(letterProps.decreeType)">
			<div class="mt-10 pt-5 d-flex justify-end mb-7"
			>
				<div style="width: 50%">
					<template v-for="item in letterProps.receiverList">
						<p class="font-600 small-3 mb-1 text-right">{{ item.name }}</p>
					</template>
				</div>
			</div>
			<div class="d-flex justify-center mb-2">
				<span v-if="letterProps.isDocumentRegistered" class="font-700 size-13">Farmoyish № {{ letterProps.registerNumber }}</span>
				<span v-else class="font-700 size-13">Farmoyish №__/______</span>
			</div>
		</template>

    <div>
      <span
        class="size-13 d-block text-dark font-500 text-justify"
        style="line-height: 20px; text-indent: 30px"
      >
        <slot name="text" v-if="$slots.text"></slot>

        <span v-else v-html="letterProps.text"></span>
      </span>
    </div>

		<div class="my-10 pt-10 px-5">
			<div class="d-flex align-center justify-space-between text-dark size-13 mb-1 font-600">
				<span style="flex-basis: 250px">{{ leaderShipUser && leaderShipUser.user.position }}</span>
				<span class="my-4">
	              <qrcode-vue
		              v-if="leaderShipUser && leaderShipUser.is_signed === true && letterProps.checkId"
		              ref="qrCode"
		              :value="'https://check.asakabank.uz/document/'+letterProps.checkId"
		              size="60"
		              level="L"
		              render-as="svg"
	              />
	            </span>
				<span>
	              {{ leaderShipUser && leaderShipUser.user.first_name && leaderShipUser.user.first_name | getFirstCharacter }}
	              {{ leaderShipUser && leaderShipUser.user.last_name }}
	            </span>
			</div>

			<template v-if="!leaderShipUser">
				<div class="d-flex align-center justify-space-between text-dark size-13 mb-1 font-600">
					<span style="flex-basis: 250px">{{ letterProps.signerObject.position }}</span>

					<span class="my-4">
          <qrcode-vue
	          v-if="letterProps.signerObject.is_signed === true && letterProps.checkId"
	          ref="qrCode"
	          :value="'https://check.asakabank.uz/document/'+letterProps.checkId"
	          size="60"
	          level="L"
	          render-as="svg"
          />
        </span>

					<span>
	        {{ letterProps.signerObject.first_name && letterProps.signerObject.first_name | getFirstCharacter }}
	        {{ letterProps.signerObject.last_name }}
        </span>
				</div>
			</template>

			<template v-for="item in otherSigners">
				<div class="d-flex align-center justify-space-between text-dark size-13 mb-1 font-600">
					<span style="flex-basis: 250px">{{ item.user.position }}</span>
					<span class="my-4">
	              <qrcode-vue
		              v-if="item.is_signed === true && letterProps.checkId"
		              ref="qrCode"
		              :value="'https://check.asakabank.uz/document/'+letterProps.checkId"
		              size="60"
		              level="L"
		              render-as="svg"
	              />
	            </span>
					<span>
	              {{ item.user.first_name && item.user.first_name | getFirstCharacter }}
	              {{ item.user.last_name }}
	            </span>
				</div>
			</template>

			<div v-if="letterProps.isForPayment && letterProps.agreedByList && letterProps.agreedByList.length && letterProps.agreedByList.some(item => item.is_agreed)" class="mt-4">
				<span class="font-600 d-block mb-2 small-2">Kelishildi:</span>

				<div class="text-dark font-500 small-2 d-flex flex-column gap-y-1">
					<template v-for="item in letterProps.agreedByList" v-if="item.is_agreed">
						<span v-if="item.hasOwnProperty('user')">
                {{ item.user.first_name | getFirstCharacter }} {{ item.user.father_name && item.user.father_name | getFirstCharacter }} {{ item.user.last_name }}
              </span>
						<span v-else>
                {{ item.first_name | getFirstCharacter }} {{ item.father_name && item.father_name | getFirstCharacter }} {{ item.last_name }}
              </span>
					</template>
				</div>
			</div>
		</div>

		<div class="mt-auto d-flex align-center justify-space-between">
			<div class="small-3 font-600 pt-10 ml-5">
				Ijrochi: {{ letterProps.executor.first_name && letterProps.executor.first_name | getFirstCharacter }}
				{{ letterProps.executor.last_name && letterProps.executor.last_name }}
				<br>
				Tel: {{ letterProps.executor.cisco }}
			</div>

				<app-button
					v-if="letterProps.checkId && letterProps.isDocumentRegistered"
					:loading="loading"
					@click="downloadDecree"
				>
					<template #prepend>
						<download-cloud-icon size="18" class="mr-1"/>
					</template>
					Скачать
				</app-button>
		</div>
	</div>
</template>

<script>
import QrcodeVue from 'qrcode.vue';
import {mapGetters} from "vuex";
import {DownloadCloudIcon} from "vue-feather-icons";
import {saveAs} from 'file-saver';

export default {
	name: "PdfLetterTemplateForDecree",
	components: {
		DownloadCloudIcon,
		QrcodeVue
	},
	props: {
		letterProps: {
			type: Object,
			default: () => {

			}
		}
	},
	data() {
		return {
			loading: false
		}
	},
	computed: {
		...mapGetters({
			getDisableItems: "getDisableItems",
			currentUser: "auth/getCurrentUser"
		}),
		leaderShipUser(){
			return this.letterProps.signedByList.find(item => item.is_for_notice === true)
		},
		otherSigners(){
			return this.letterProps.signedByList.filter(user => user.is_for_notice !== true)
		}
	},
	methods: {
		downloadDecree() {
			this.loading = !this.loading

			this.$http.get(`/check/document/${this.letterProps.checkId}/`)
				.then(({data}) => {
					saveAs(`https://portal-drive.asakabank.uz/media${data.file && data.file.file}`, `${this.letterProps.checkId}.pdf`)

					this.loading = false
				})
				.catch(() => {
					this.loading = false
				})
		},
		/**/
		returnDate(date){
			if (date){
				return new Date(date).getDate() + '.' + (new Date(date).getMonth() + 1) + '.' + new Date(date).getFullYear() + ' y'
			}
		}
	}
}
</script>

<style scoped>

</style>
