<template>
	<div id="element-to-download" class="pdf-letter-template-for-protocol">
		<perfect-scrollbar>
			<div class="generate-pdf-area bg-4 mb-5 pa-5 p-relative d-flex flex-column">
				<div>
					<v-row class="d-flex align-end">
						<v-col md="2">
							<img src="/img/logo_asaka_4.png" alt="Logo Asakabank" class="mt-2 mb-5">
						</v-col>
						<v-col md="10">
							<div>
								<h5 class="small-2 line-base mb-4 text-center">Hujjat ID - {{ model.id }}</h5>

								<span class="d-block font-600 small-2 text-center mb-4">"ASAKABANK" AJ BOSHQARUV MAJLISINING <br>{{
										model.register_number
									}} - SONLI BAYONNOMASI</span>
							</div>
						</v-col>
					</v-row>
					<div class="d-flex my-2 justify-space-between">
						<span class="font-500 size-13">Toshkent shahri</span>
						<span class="font-500 size-13">
							{{ registeredDate }}
						</span>
					</div>

					<span class="font-700 text-decoration-underline size-13">Raislik qiluvchi:</span>
					<v-row class="pa-0 ma-0">
						<v-col md="5" class="pa-0 ma-0">
							<span class="font-500 size-13"> {{ chairDetail[0].user.first_name && chairDetail[0].user.first_name | getFirstCharacter }} {{ chairDetail[0].user.father_name && chairDetail[0].user.father_name | getFirstCharacter }} {{ chairDetail[0].user.last_name }}</span>
						</v-col>
						<v-col md="7" class="pa-0 ma-0">
							<span v-if="chairDetail[0] && chairDetail[0].user_current_data && chairDetail[0].user_current_data.position" class="font-500 size-13">{{ chairDetail[0].user_current_data.position }}</span>
							<span v-else class="font-500 size-13">{{ chairDetail[0] && chairDetail[0].user && chairDetail[0].user.position }}</span>
						</v-col>
					</v-row>

					<span class="font-700 text-decoration-underline size-13">Boshqaruv a'zolari:</span>
					<v-row v-for="member in signersList" class="pa-0 ma-0">
						<v-col md="5" class="pa-0 ma-0">
							<span class="font-500 size-13">{{ member.user.first_name | getFirstCharacter }} {{ member.user.father_name && member.user.father_name | getFirstCharacter }} {{ member.user.last_name }}</span>
						</v-col>
						<v-col md="7" class="pa-0 ma-0">
							<span v-if="member.user_current_data && member.user_current_data.position" class="font-500 size-13">{{ member.user_current_data.position }}</span>
							<span v-else class="font-500 size-13">{{ member.user.position }}</span>
						</v-col>
					</v-row>

					<span class="small-3 d-block text-dark font-500 text-indent-30 mt-4 text-justify"> Majlis o‘tkazish uchun kvorum talablariga to‘liq amal qilindi
											va Bank Boshqaruvi kun tartibidagi masalalar bo‘yicha qarorlar qabul qilish vakolatiga ega.
					</span>

					<span class="small-3 d-block text-dark font-500 text-indent-30 text-justify"> “Asakabank” AJ Boshqaruvi to‘g‘risida”gi nizomning (1077-son bilan ro‘yxatga olingan) 65-bandiga muvofiq, Bank Boshqaruvi qarori majlisining o‘zida qabul qilindi.</span>
					<span class="small-3 d-block text-dark font-500 text-indent-30 text-justify"> Majlis kotibi etib {{ secretaryDetail[0].user.position }} {{ secretaryDetail[0].user.first_name | getFirstCharacter }} {{ secretaryDetail[0].user.father_name && secretaryDetail[0].user.father_name | getFirstCharacter }} {{ secretaryDetail[0].user.last_name }} tayinlandi.</span>

					<template v-if="inviteesListComputed && inviteesListComputed.length">
						<span class="small-3 font-italic font-700 ml-10">Taklif etilganlar:</span>
						<v-row v-for="invitee in inviteesListComputed" :key="invitee.id" class="pa-0 ma-0">
							<v-col md="5" class="pa-0 ma-0">
								<span class="font-500 size-13">{{ invitee.user.first_name | getFirstCharacter }} {{
										invitee.user.father_name && invitee.user.father_name | getFirstCharacter
									}} {{ invitee.user.last_name }}</span>
							</v-col>
							<v-col md="7" class="pa-0 ma-0">
								<span v-if="invitee.user_current_data && invitee.user_current_data.position" class="font-500 size-13">{{ invitee.user_current_data.position }}</span>
								<span v-else class="font-500 size-13">{{ invitee.user.position }}</span>
							</v-col>
						</v-row>
					</template>

					<div class="d-flex justify-center my-3">
						<span class="font-700 size-13">Kun tartibi:</span>
					</div>

          <div>
            <span
              class="size-13 d-block text-dark font-500 text-justify"
              style="line-height: 20px; text-indent: 30px"
            >
              <slot name="text" v-if="$slots.text"></slot>

              <span v-else v-html="model.text"></span>
            </span>
          </div>

					<div class="pl-12 mt-4">
						<v-row class="pa-0 ma-0 mb-2">
							<v-col md="4" class="pa-0 ma-0">
								<span v-if="chairDetail[0] && chairDetail[0].user_current_data && chairDetail[0].user_current_data.position" class="font-500 size-13">{{ chairDetail[0].user_current_data.position }}</span>
								<span v-else class="font-700 size-13">{{ chairDetail[0] && chairDetail[0].user && chairDetail[0].user.position }}</span>
							</v-col>
							<v-col md="4" class="pa-0 ma-0 justify-center d-flex">
								<template v-if="returnCondition(chairDetail[0].condition) && !chairDetail[0].is_signed">
									<span class="small-3 font-italic font-weight-bold">{{ returnCondition(chairDetail[0].condition) }}</span>
								</template>
								<span v-else class="font-700 size-13">
									<qrcode-vue v-if="chairDetail[0].is_signed === true && model.check_id" :value="'https://check.asakabank.uz/document/'+model.check_id" size="40" level="L" />
								</span>
							</v-col>
							<v-col md="4" class="pa-0 ma-0">
								<span class="font-700 size-13">{{ chairDetail[0].user.first_name && chairDetail[0].user.first_name | getFirstCharacter }} {{ chairDetail[0].user.father_name && chairDetail[0].user.father_name | getFirstCharacter }} {{ chairDetail[0].user.last_name }}</span>
							</v-col>
						</v-row>

						<span class="font-700 size-13">Boshqaruv a'zolari:</span>

						<v-row class="pa-0 ma-0 align-center" v-if="signersList && signersList.length" v-for="member in signersList">
							<v-col md="6" class="pa-0 ma-0">
								<span class="font-500 size-13">{{ member.user.first_name | getFirstCharacter }} {{ member.user.father_name && member.user.father_name | getFirstCharacter }} {{ member.user.last_name }} </span>
							</v-col>
							<v-col md="6" class="pa-0 ma-0">
								<template v-if="returnCondition(member.condition) && !member.is_signed">
									<span class="small-3 font-italic font-weight-bold">{{ returnCondition(member.condition) }}</span>
								</template>
								<span v-else class="font-500 size-13 ml-4 my-2">
									<qrcode-vue v-if="member.is_signed === true && model.check_id" :value="'https://check.asakabank.uz/document/'+model.check_id" size="40" level="L" />
								</span>
							</v-col>
						</v-row>

						<v-row class="pa-0 ma-0 mb-4 mt-8">
							<v-col md="4" class="pa-0 ma-0">
								<span class="font-500 size-13">Boshqaruv kotibi </span>
							</v-col>
							<v-col md="4" class="pa-0 ma-0 align-center justify-center d-flex">
								<template v-if="returnCondition(secretaryDetail[0].condition) && !(secretaryDetail && secretaryDetail.length && secretaryDetail[0].is_signed)">
									<span class="small-3 font-italic font-weight-bold">{{ returnCondition(secretaryDetail[0].condition) }}</span>
								</template>
								<span v-else class="font-500 size-13">
									<qrcode-vue v-if="secretaryDetail && secretaryDetail.length && secretaryDetail[0].is_signed === true && model.check_id" :value="'https://check.asakabank.uz/document/'+model.check_id" size="40" level="L" />
								</span>
							</v-col>
							<v-col md="4" class="pa-0 ma-0">
								<span class="font-500 size-13">{{ secretaryDetail[0].user.first_name | getFirstCharacter }} {{ secretaryDetail[0].user.father_name && secretaryDetail[0].user.father_name | getFirstCharacter }} {{ secretaryDetail[0].user.last_name }}</span>
							</v-col>
						</v-row>

						<template v-if="inviteesListComputed && inviteesListComputed.length">
							<span class="small-3 font-italic font-700">Taklif etilganlar:</span>

							<v-row class="pa-0 ma-0 align-center" v-for="invitee in inviteesListComputed">
								<v-col md="6" class="pa-0 ma-0">
									<span class="font-500 size-13">{{ invitee.user.first_name | getFirstCharacter }} {{invitee.user.father_name && invitee.user.father_name | getFirstCharacter }} {{ invitee.user.last_name }} </span>
									<span class="tiny font-italic font-weight-bold">{{ returnCondition(invitee.condition) }}</span>
								</v-col>
								<v-col md="6" class="pa-0 ma-0">
									<template v-if="returnCondition(invitee.condition) && !invitee.is_signed">
										<span class="tiny font-italic font-weight-bold">{{ returnCondition(invitee.condition) }}</span>
									</template>
									<span v-else class="ml-4 font-500 size-13">
										<qrcode-vue v-if="invitee.is_signed === true && model.check_id" :value="'https://check.asakabank.uz/document/'+model.check_id" size="40" level="L" />
									</span>
								</v-col>
							</v-row>
						</template>
					</div>
				</div>
			</div>
		</perfect-scrollbar>
	</div>
</template>

<script>
import {toMonthName, toMonthNameUzb} from "../helpers";
import QrcodeVue from 'qrcode.vue'

export default {
	name: "PdfLetterTemplateForProtocol",
	components: {
		QrcodeVue
	},
	props: {
		inviteesList: {
			type: Array,
			default: () => []
		},
		model: {
			type: Object,
			default: {}
		}
	},
	data() {
		return {
			boardMembersList: [
				// {
				// 	name: "С.У. Закиров",
				// 	position: "Boshqaruv Raisi v.v.b.",
				// },
				{
					name: "Б.Р. Абдуллаев",
					position: "Бошқарув Раиси ўринбосари"
				},
				{
					name: "Б.Ш. Шарипов",
					position: "Бошқарув Раиси ўринбосари"
				},
				{
					name: "Б.Б. Мамаджанов",
					position: "Бошқарув Раиси ўринбосари"
				},
				{
					name: "C.З.Талибджанов",
					position: "Бошқарув Раиси ўринбосари"
				},
				{
					name: "С.М.Умаров",
					position: "Бошқарув Раиси ўринбосари"
				},
				{
					name: "А.С.Давлатов",
					position: "Бухгалтерия ҳисоби ва молиявий назорат департаменти директори"
				},
				{
					name: "Н.Х. Пулатов",
					position: "Юридик департаменти директори"
				},
			]
		}
	},
	computed: {
		inviteesListComputed() {
			if (this.inviteesList.length) {
				return this.inviteesList.filter(item => item.is_invited === true)
			}
		},
		chairDetail(){
			return this.inviteesList.filter(item => item.position === 'chairman')
		},
		/**/
		chairmanFullName(){
			return this.getFirstCharacter(this.chairDetail[0].user.first_name) + ' ' + this.chairDetail[0].user.father_name && this.getFirstCharacter(this.chairDetail[0].user.father_name) + ' ' + this.chairDetail[0].user.last_name
		},
		/**/
		signersList(){
			return this.inviteesList.filter(item => item.is_invited === false && item.position !== 'chairman' && item.position !== 'secretary').sort((x, y) => y.user.order_by - x.user.order_by)
		},
		/**/
		registeredDate() {
			if (this.model.register_date){
				return new Date(this.model.register_date).getFullYear() + '-yil ' + new Date(this.model.register_date).getDate() + '-' + toMonthNameUzb(new Date(this.model.register_date ).getMonth() + 1)
			}else {
				return new Date().getFullYear() + '-yil “__” ____________'
			}
		},
		/**/
		secretaryDetail(){
			return this.inviteesList.filter(item => item.position === 'secretary')
		}
	},
	methods: {
		returnCondition(condition){
			if (condition === 'vacation'){
				return '( Mehnat ta\'tilida )'
			}else if (condition === 'business_trip') {
				return '( Xizmat safarida )'
			}else if (condition === 'unpaid_leave') {
				return '( O\'z hisobidan ta\'tilda )'
			}else if (condition === 'sick') {
				return '( Kasallik varaqasida )'
			}else {
				return null
			}
		}
	}
}
</script>

<style>
.pdf-letter-template-for-protocol .ps {
	height: 100%;
}
</style>
