<script>
import QrcodeVue from "qrcode.vue";
import {mapGetters} from "vuex";

export default {
	name: "PdfLetterTemplateForAttorney",
	components: {QrcodeVue},
	props: {
		compose: {
			type: Object,
			default: () => {}
		},
		preview: {
			type: Boolean,
			default: false
		}
	},
	computed: {
		...mapGetters({
			currentUser: "auth/getCurrentUser"
		}),
		leadership() {
			if (this.preview) {
				return this.compose.signer_obj && this.compose.signer_obj[0]
			}else {
				let leader = this.compose.signed_by.find(item => item.is_for_notice)
				if (leader){
					return leader
				}else {
					return this.compose.signer_obj && this.compose.signer_obj[0]
				}
			}
		},
		otherSigners(){
			if (this.preview) {
				return this.compose.__signersList
			} else {
				return this.compose.signed_by.filter(item => item.is_for_notice !== true)
			}
		},
		author() {
			if (this.preview){
				return this.currentUser
			}else {
				return this.compose.author
			}
		}
	}
}
</script>

<template>
	<div class="attorney-letter-template">
		<div class="d-flex flex-column mt-8">
			<span v-if="compose.register_number" class="small-3 font-600 text-dark">№ {{ compose.register_number }}</span>
			<span v-if="compose.register_date" class="small-3 font-600 text-dark">{{ compose.register_date }}</span>
		</div>

		<div class="d-flex justify-center small-1 font-600 text-dark">
			ISHONCHNOMA
		</div>

		<div class="mt-4">
      <span
        class="size-13 d-block text-dark font-500 text-justify"
        style="line-height: 20px; text-indent: 30px"
      >
        <slot name="text" v-if="$slots.text"></slot>

        <span v-else v-html="compose.text"></span>
      </span>
		</div>

		<div class="my-10 px-5">
			<div class="d-flex align-center justify-space-between text-dark size-13 mb-1 font-600">
				<span v-if="leadership.hasOwnProperty('user')" style="flex-basis: 250px">{{ leadership.user.position }}</span>
				<span v-else style="flex-basis: 250px">{{ leadership.position }}</span>
				<span class="my-4">
	              <qrcode-vue
		              v-if="leadership && leadership.is_signed === true && compose.check_id"
		              ref="qrCode"
		              :value="'https://check.asakabank.uz/document/'+compose.check_id"
		              size="50"
		              level="L"
		              render-as="svg"
	              />
	            </span>
				<span v-if="leadership.hasOwnProperty('user')">{{ leadership.user.first_name | getFirstCharacter }} {{ leadership.user.last_name }}</span>
				<span v-else>{{ leadership.first_name | getFirstCharacter }} {{ leadership.last_name }}</span>
			</div>

			<template v-for="item in otherSigners">
				<div class="d-flex align-center justify-space-between text-dark size-13 mb-1 font-600">
					<span v-if="item.hasOwnProperty('user')" style="flex-basis: 250px">{{ item.user.position }}</span>
					<span v-else style="flex-basis: 250px">{{ item.position }}</span>
					<span class="my-4">
	              <qrcode-vue
		              v-if="item.is_signed === true && compose.check_id"
		              ref="qrCode"
		              :value="'https://check.asakabank.uz/document/'+compose.check_id"
		              size="50"
		              level="L"
		              render-as="svg"
	              />
	            </span>
					<span v-if="item.hasOwnProperty('user')">{{ item.user.first_name | getFirstCharacter }} {{ item.user.last_name }}</span>
					<span v-else>{{ item.first_name | getFirstCharacter }} {{ item.last_name }}</span>
				</div>
			</template>
		</div>

		<div class="small-3 font-600 pt-10 ml-5">
			Ijrochi: {{ author.first_name | getFirstCharacter }} {{ author.last_name }}
			<br>
			Tel: {{ author.cisco }}
		</div>
	</div>
</template>

<style scoped>

</style>
