<template>
	<div class="currency-summary">
		<div class="d-flex">
			<span class="tiny font-500 d-inline-block text-end">"Asakabank" AJning yuridik va yakka tartibdagi tadbirkorlik faoliyati bilan shug‘ullanuvchi bank mijozlariga
				chet el valyutasini xarid qilish va sotish uchun tarkibiy bo‘linmaga taqdim etilgan buyurtmalarni ko‘rib chiqish hamda hujjatlar to‘plamini
				rasmiylashtirish Tartibiga <br> 2-ilova</span>
		</div>

		<h5 class="small-2 line-base ml-5" style="transform: translateY(3px)">Hujjat ID - {{ letterProps.id }}</h5>

		<div class="mt-5 d-flex flex-column align-end">
			<span class="d-inline-block text-end w-100 small-3 font-700 mb-2">
				"Tasdiqlayman" <br>
				"Asakabank" AJ <br>
				{{ letterProps && letterProps.signerObject && letterProps.signerObject.position }}
				<br> {{ letterProps && letterProps.signerObject && letterProps.signerObject.first_name && letterProps.signerObject.first_name | getFirstCharacter }}
				{{ letterProps && letterProps.signerObject && letterProps.signerObject.father_name && letterProps.signerObject.father_name | getFirstCharacter }}
				{{ letterProps && letterProps.signerObject && letterProps.signerObject.last_name}}

			</span>
			<qrcode-vue
				v-if="letterProps && letterProps.checkId && letterProps.noticeUser.is_signed"
				ref="qrCode"
				:value="'https://check.asakabank.uz/document/'+letterProps.checkId"
				size="50"
				level="L"
				render-as="svg"
			/>
			<span class="d-inline-block text-end w-100 small-3 font-700">{{ letterProps && letterProps && letterProps.model && letterProps.model.register_date && letterProps.model.register_date | filterDateMonthYear }}</span>
		</div>

		<div class="d-flex w-100 mt-4">
			<span class="d-inline-block small-3 font-700 text-center">{{ returnDate(letterProps.model) }} {{ letterProps.model.register_number }} - SONLI <br> "ASAKABANK" AJ MIJOZLARINING CHET EL VALYUTASINI SOTIB OLISH BUYURTMALARI BO‘YICHA TEGISHLI TARKIBIY BO‘LINMA XULOSASI</span>
		</div>

		<div class="d-flex mt-4">
			<span v-if="letterProps" v-html="letterProps.text"/>
		</div>

		<template >
			<div class="px-10 mt-10">
				<div v-for="(item, index) in letterProps.signedByList" :key="index" class="d-flex align-center justify-space-between text-dark size-13 mb-1 font-600">
					<span v-if="item.hasOwnProperty('user')" style="flex-basis: 250px">{{ item.user && item.user.position }}</span>
					<span v-else style="flex-basis: 250px">{{ item.position }}</span>

					<span class="my-4">
                <qrcode-vue
	                v-if="item.is_signed === true && letterProps.checkId"
	                ref="qrCode"
	                :value="'https://check.asakabank.uz/document/'+letterProps.checkId"
	                size="50"
	                level="L"
	                render-as="svg"
                />
              </span>

					<span v-if="item.hasOwnProperty('user')">
                {{ item.user.first_name && item.user.first_name | getFirstCharacter }}
                {{ item.user.last_name }}
              </span>

					<span v-else>
                {{ item.first_name && item.first_name | getFirstCharacter }}
                {{ item.last_name }}
              </span>
				</div>
			</div>
		</template>
	</div>
</template>

<script>
import QrcodeVue from 'qrcode.vue'
import {toMonthNameUzb} from "../helpers";

export default {
	name: "PdfLetterTemplateForCurrencySummary",
	components: {
		QrcodeVue
	},
	data() {
		return {
			test: "<table style=\"border-collapse: collapse; width: 100%; height: 44.7812px;\" border=\"1\" cellspacing=\"0px\" cellpadding=\"5px\"> <tbody> <tr style=\"height: 22.3906px;\"> <td style=\"text-align: center; width: 8.33809%; height: 44.7812px;\" rowspan=\"2\"><span style=\"font-size: 8pt;\"><strong>№</strong></span></td> <td style=\"text-align: center; width: 8.33809%; height: 44.7812px;\" rowspan=\"2\"><span style=\"font-size: 8pt;\"><strong>Buyurtmachining yuridik nomi</strong></span></td> <td style=\"text-align: center; width: 16.6762%; height: 44.7812px;\" rowspan=\"2\"><span style=\"font-size: 8pt;\"><strong>Mijoz STIR</strong></span></td> <td style=\"width: 16.6762%; text-align: center; height: 22.3906px;\"><span style=\"font-size: 8pt;\"><strong>Shartnoma (kontrakt) bo'yicha ma'lumot</strong></span></td> <td style=\"text-align: center; height: 22.3906px; width: 16.6762%;\" rowspan=\"2\"><span style=\"font-size: 8pt;\"><strong>Joriy buyurtma summasi va valyuta kodi</strong></span></td> <td style=\"text-align: center; height: 22.3906px; width: 16.6762%;\" rowspan=\"2\"><span style=\"font-size: 8pt;\"><strong>Buyurtma maqsadi</strong></span></td> <td style=\"text-align: center; height: 22.3906px; width: 16.6191%;\" rowspan=\"2\"><span style=\"font-size: 8pt;\"><strong>Izoh</strong></span></td> </tr> <tr style=\"height: 22.3906px;\"> <td style=\"width: 16.6762%; text-align: center; height: 22.3906px;\"><span style=\"font-size: 8pt;\"><strong>Shartnoma raqam</strong></span></td> </tr> <tr> <td style=\"text-align: center; width: 8.33809%;\"><span style=\"font-size: 8pt;\"><strong>1</strong></span></td> <td style=\"text-align: center; width: 8.33809%;\"><span style=\"font-size: 8pt;\"><strong>2</strong></span></td> <td style=\"text-align: center; width: 16.6762%;\"><span style=\"font-size: 8pt;\"><strong>3</strong></span></td> <td style=\"width: 16.6762%; text-align: center;\"><span style=\"font-size: 8pt;\"><strong>4</strong></span></td> <td style=\"text-align: center; width: 16.6762%;\"><span style=\"font-size: 8pt;\"><strong>5</strong></span></td> <td style=\"text-align: center; width: 16.6762%;\"><span style=\"font-size: 8pt;\"><strong>6</strong></span></td> <td style=\"text-align: center; width: 16.6191%;\"><span style=\"font-size: 8pt;\"><strong>7</strong></span></td> </tr> <tr> <td style=\"text-align: center; width: 8.33809%;\"><span style=\"font-size: 8pt;\"><strong>1</strong></span></td> <td style=\"text-align: center; width: 8.33809%;\"><span style=\"font-size: 8pt;\"><strong>&nbsp;</strong></span></td> <td style=\"text-align: center; width: 16.6762%;\"><span style=\"font-size: 8pt;\"><strong>&nbsp;</strong></span></td> <td style=\"width: 16.6762%; text-align: center;\"><span style=\"font-size: 8pt;\"><strong>&nbsp;</strong></span></td> <td style=\"text-align: center; width: 16.6762%;\"><span style=\"font-size: 8pt;\"><strong>&nbsp;</strong></span></td> <td style=\"text-align: center; width: 16.6762%;\"><span style=\"font-size: 8pt;\"><strong>&nbsp;</strong></span></td> <td style=\"text-align: center; width: 16.6191%;\"><span style=\"font-size: 8pt;\"><strong>&nbsp;</strong></span></td> </tr> </tbody> </table>"
		}
	},
	props: {
		letterProps: {
			type: Object,
			default:() => {}
		}
	},
	methods: {
		returnDate(model){
			if (model && model.register_date){
				return new Date(model.register_date).getFullYear() + ' YIL ' + new Date(model.register_date).getDate() + '-' + toMonthNameUzb(new Date(model.register_date).getMonth() + 1).toUpperCase()
			}else {
				return  ""
			}
		}
	}
}
</script>

<style scoped>

</style>
