<template>
  <div class="d-flex flex-1">
    <div class="p-relative d-flex flex-column flex-1 pa-5">
      <div>
        <v-row no-gutters>
          <v-col md="8">
<!--            <img src="/img/logo_asaka_3.svg" alt="Logo Asakabank" class="mb-4">-->
	          <div class="d-flex align-center mb-3">
		          <img src="/img/logo_asaka_3.svg" alt="Logo Asakabank">

		          <h5 class="small-2 line-base ml-5" style="transform: translateY(3px)">Hujjat ID - {{ letterProps.id }}</h5>
	          </div>

            <div
              class="brand-actions d-flex align-center py-2 pr-5 p-relative text-dark size-13 font-600 p-relative pl-10"
              style="left: -40px"
            >
              <span>{{ letterProps.component.filialName }}</span>
            </div>
          </v-col>
        </v-row>
      </div>

      <div>
        <v-row class="mt-3">
          <v-col md="12">
            <span class="d-block font-600 text-center">BUYRUQ</span>
          </v-col>

          <v-col md="4">
            <span class="d-block font-600 small-2">{{ letterProps.registerDate | filterDateMonthYear }}</span>
          </v-col>

          <v-col md="4">
            <span class="d-block font-600 small-2 text-center">{{ letterProps.registerNumber }}</span>
          </v-col>

          <v-col md="4">
            <span class="d-block font-600 small-2 text-right">{{ letterProps.component.regionName }}</span>
          </v-col>
        </v-row>
      </div>

      <div class="text-center small-1 text-dark font-600 my-6">
        {{ letterProps.component.description }}
      </div>

      <keep-alive>
        <component :is="loadedTemplate" class="flex-1">
          <template #text>
            <span
              class="reset-space small-2 font-500 mb-5 d-block"
            >
              <slot name="textHtml" v-if="$slots.textHtml"></slot>

              <span v-else v-html="letterProps.text" class="reset-space small-2 font-500 mb-5 d-block"></span>
            </span>

<!--            <span v-html="letterProps.text" class="reset-space small-2 font-500 mb-5 d-block"></span>-->
          </template>

          <template #aside>
	          <template v-if="letterProps.component.value === 'hiring'">
		          <h5 class="font-700">{{ letterProps.component.employeeName }}</h5>
	          </template>
            <template v-else>
	            <h5 class="font-700">{{ letterProps.user && letterProps.user.last_name }}</h5>
	            <h5 class="font-700">{{ letterProps.user && letterProps.user.first_name }}</h5>
	            <h5 class="font-700">{{ letterProps.user && letterProps.user.father_name }}</h5>
            </template>
          </template>

          <template #section>
            <span
              class="reset-space small-2 font-500 mb-5 d-block"
            >
              <slot name="textHtml" v-if="$slots.textHtml"></slot>

              <span v-else v-html="letterProps.text" class="reset-space small-2 font-500 mb-5 d-block"></span>
            </span>

<!--            <span v-html="letterProps.text" class="reset-space small-2 font-500 mb-5 d-block"></span>-->
          </template>

          <template #text>
            <span v-html="letterProps.shortDescription" class="reset-space small-2 font-500 mb-5 d-block"></span>
          </template>
        </component>
      </keep-alive>

      <div v-if="letterProps.signerObject.length" class="mb-6">
        <v-row align="center">
          <template v-for="item in letterProps.signerObject">
            <template v-if="item.hasOwnProperty('user')">
              <v-col md="4">
                <span class="font-600 small-2">{{ item.user.position }}</span>
              </v-col>
              <v-col md="4" class="text-center">
                <qrcode-vue
                  v-if="item.is_signed"
                  :value="'https://check.asakabank.uz/document/'+letterProps.checkId"
                  size="70"
                  level="L"
                  render-as="svg"
                />
              </v-col>
              <v-col md="4">
                <span class="font-600 text-right d-block small-2">
                  {{ item.user.first_name && item.user.first_name | getFirstCharacter }} {{ item.user.last_name }}
                </span>
              </v-col>
            </template>

            <template v-else>
              <v-col md="4">
                <span class="font-600 small-2">{{ item.position }}</span>
              </v-col>
              <v-col md="4" class="d-flex justify-center">
                <qrcode-vue
                  v-if="letterProps.isSigned"
                  :value="'https://check.asakabank.uz/document/'+letterProps.checkId"
                  size="70"
                  level="L"
                  render-as="svg"
                />
              </v-col>
              <v-col md="4">
                <span class="font-600 text-right d-block small-2">{{ item.first_name && item.first_name | getFirstCharacter }} {{ item.last_name }}</span>
              </v-col>
            </template>
          </template>
        </v-row>
      </div>

      <div v-if="signedByList && signedByList.length">
        <span class="font-600 d-block mb-3 small-2">Kelishildi</span>

        <v-row class="text-dark font-500 small-2">
          <template v-for="item in signedByList">
            <v-col md="4">
              <span v-if="item.hasOwnProperty('user')">
                {{ item.user.first_name | getFirstCharacter }} {{ item.user.father_name && item.user.father_name | getFirstCharacter }} {{ item.user.last_name }}
              </span>
              <span v-else>
                {{ item.first_name | getFirstCharacter }} {{ item.father_name && item.father_name | getFirstCharacter }} {{ item.last_name }}
              </span>
            </v-col>

            <v-col md="4">
              <qrcode-vue
                v-if="item.is_signed"
                :value="'https://check.asakabank.uz/document/'+letterProps.checkId"
                size="70"
                level="L"
                render-as="svg"
              />
            </v-col>

            <v-col md="4"></v-col>
          </template>
        </v-row>
      </div>

	    <div v-if="acquaintanceList" class="mt-4">
		    <v-row align="center" class="mt-0">
			    <template v-for="item in acquaintanceList">
				    <template v-if="item.hasOwnProperty('user')">
					    <v-col md="4">
						    <span class="font-500 small-2">Buyruq bilan tanishdim</span>
					    </v-col>
					    <v-col md="4" class="text-center">
						    <qrcode-vue
							    v-if="item.is_signed"
							    :value="'https://check.asakabank.uz/document/'+letterProps.checkId"
							    size="70"
							    level="L"
							    render-as="svg"
						    />
					    </v-col>
					    <v-col md="4">
                <span class="font-500 text-right d-block small-2">
                  {{ item.user.first_name && item.user.first_name | getFirstCharacter }} {{ item.user.last_name }}
                </span>
					    </v-col>
				    </template>

				    <template v-else>
					    <v-col md="4">
						    <span class="font-500 small-2">Buyruq bilan tanishdim</span>
					    </v-col>
					    <v-col md="4" class="d-flex justify-center">
						    <qrcode-vue
							    v-if="item.is_signed"
							    :value="'https://check.asakabank.uz/document/'+letterProps.checkId"
							    size="70"
							    level="L"
							    render-as="svg"
						    />
					    </v-col>
					    <v-col md="4">
						    <span class="font-500 text-right d-block small-2">{{ item.first_name && item.first_name | getFirstCharacter }} {{ item.last_name }}</span>
					    </v-col>
				    </template>
			    </template>
		    </v-row>
	    </div>
    </div>
  </div>
</template>

<script>
import QrcodeVue from 'qrcode.vue'
import { lazyLoadComponent } from "@/common/helpers";
import AppLoader from "@/common/components/base/AppLoader"

export default {
  name: "PdfLetterTemplateForHrOrder",
  props: {
    letterProps: {
      type: Object,
      default: () => {}
    },
  },
  components: {
    QrcodeVue
  },
  data() {
    return {
      loadedTemplate: null
    }
  },
	computed: {
		signedByList() {
			return this.letterProps && this.letterProps.signedByList && this.letterProps.signedByList.length && this.letterProps.signedByList.filter(item => !item.position)
		},
		acquaintanceList() {
			return this.letterProps && this.letterProps.signedByList && this.letterProps.signedByList.length && this.letterProps.signedByList.filter(item => item.position && item.position === 'acquaintance')
		}
	},
  mounted() {
    this.loadedTemplate = lazyLoadComponent({
      componentFactory: () => import(`../../modules/DocumentFlow/components/Orders/templates/${this.letterProps.component.component}`),
      loading: AppLoader
    })
  }
}
</script>
