<template>
	<div class="individual-development-plan">
		<h5 v-if="compose && compose.id" class="small-2 line-base mb-4 text-center">Hujjat ID - {{ compose.id }}</h5>
		<div class="d-flex justify-center small-2 font-600">
			{{ years }} yilga mo‘ljallangan xodimning individual rivojlanish rejasi (IRR)
		</div>

		<table class="mt-4 w-100" style="border-spacing: 0!important;">
			<tr>
				<td colspan="2" class="border pa-2" style="width: 50%">
					<span class="small-2 font-600">IRR tuzilgan sana</span>
				</td>
				<td colspan="2" class="border pa-2" style="border-left: 0">
					<span class="small-2">{{ createdDate | filterDateMonthYear }}</span>
				</td>
			</tr>

			<tr>
				<td colspan="4" class="border pa-2" style="border-top: 0">
					<span class="small-2 font-600">Xodim</span>
				</td>
			</tr>

			<tr>
				<td class="pa-2 border" style="border-top: 0; width: 20%">
					<span class="small-2">Ism-sharifi</span>
				</td>
				<td class="pa-2 border-right-bottom" style="width: 30%">
					<span class="small-2">{{ author.full_name }}</span>
				</td>
				<td class="pa-2 border-right-bottom" style="width: 15%">
					<span class="small-2">Lavozimi</span>
				</td>
				<td class="pa-2 border-right-bottom" style="width: 35%;">
					<span class="small-2">{{ author.position }}</span>
				</td>
			</tr>

			<tr>
				<td class="pa-2 border" style="border-top: 0">
					<span class="small-2">Tarkibiy bo'linma</span>
				</td>
				<td colspan="3" class="pa-2 border-right-bottom">
					<span class="small-2">{{ author.top_level_dept_name }}</span>
				</td>
			</tr>

			<tr>
				<td colspan="4" class="border pa-2" style="border-top: 0">
					<span class="small-2 font-600">Rahbar</span>
				</td>
			</tr>

			<tr>
				<td class="pa-2 border" style="border-top: 0; width: 20%">
					<span class="small-2">Ism-sharifi</span>
				</td>
				<td class="pa-2 border-right-bottom" style="width: 30%">
					<span class="small-2">{{ staffHead.full_name }}</span>
				</td>
				<td class="pa-2 border-right-bottom" style="width: 15%">
					<span class="small-2">Lavozimi</span>
				</td>
				<td class="pa-2 border-right-bottom" style="width: 35%;">
					<span class="small-2">{{ staffHead.position }}</span>
				</td>
			</tr>

			<tr>
				<td class="pa-2 border" style="border-top: 0">
					<span class="small-2">Tarkibiy bo'linma</span>
				</td>
				<td colspan="3" class="pa-2 border-right-bottom">
					<span class="small-2">{{ staffHead.top_level_dept_name }}</span>
				</td>
			</tr>
		</table>

		<div>
			<slot name="text" v-if="$slots.text"></slot>
			<span v-else v-html="compose.text"/>
		</div>

		<div v-if="leader" class="d-flex align-center justify-space-between text-dark size-13 mb-1 mt-4 font-600">
			<span v-if="leader.hasOwnProperty('user')" style="flex-basis: 250px">{{ leader.user && leader.user.position }}</span>
			<span v-else style="flex-basis: 250px">{{ leader.position }}</span>

			<span class="my-4">
        <qrcode-vue
	        v-if="leader.is_signed === true && compose.check_id"
	        ref="qrCode"
	        :value="'https://check.asakabank.uz/document/'+compose.check_id"
	        size="60"
	        level="L"
	        render-as="svg"
        />
      </span>

			<span v-if="leader.hasOwnProperty('user')">
        {{ leader.user.first_name && leader.user.first_name | getFirstCharacter }}
        {{ leader.user.last_name }}
      </span>

			<span v-else>
        {{ leader.first_name && leader.first_name | getFirstCharacter }}
        {{ leader.last_name }}
      </span>
		</div>

		<div v-for="(item, index) in signersList" :key="index" class="d-flex align-center justify-space-between text-dark size-13 mb-1 font-600">
			<span v-if="item.hasOwnProperty('user')" style="flex-basis: 250px">{{ item.user && item.user.position }}</span>
			<span v-else style="flex-basis: 250px">{{ item.position }}</span>

			<span class="my-4">
        <qrcode-vue
	        v-if="item.is_signed === true && compose.check_id"
	        ref="qrCode"
	        :value="'https://check.asakabank.uz/document/'+compose.check_id"
	        size="60"
	        level="L"
	        render-as="svg"
        />
      </span>

			<span v-if="item.hasOwnProperty('user')">
        {{ item.user.first_name && item.user.first_name | getFirstCharacter }}
        {{ item.user.last_name }}
      </span>

			<span v-else>
        {{ item.first_name && item.first_name | getFirstCharacter }}
        {{ item.last_name }}
      </span>
		</div>

<!--		<pre>{{ compose }}</pre>-->
	</div>
</template>

<script>
import QrcodeVue from "qrcode.vue";
import {mapGetters} from "vuex";

export default {
	name: "PdfLetterTemplateForIndividualDevelopmentPlan",
	components: {QrcodeVue},
	props: {
		compose: {
			type: Object,
			default: () => {}
		},
		preview: {
			type: Boolean,
			default: false
		}
	},
	computed: {
		...mapGetters({
			currentUser: "auth/getCurrentUser"
		}),
		/** **/
		signersList() {
			if (this.preview) {
				let tempSigners = []
				tempSigners.push({
					is_signed: null,
					user: { ...this.compose.__leadership }
				})

				tempSigners.push({
					is_signed: null,
					user: { ...this.compose.__staffHead }
				})

				this.compose.__signersList.forEach(item => {
					tempSigners.push(item)
				})

				return tempSigners
			}
			else {
				return this.compose?.signed_by.filter(item => item.is_for_notice !== true).sort((a, b) => {
					const ageA = a.user ? a.user.order_by : a.order_by;
					const ageB = b.user ? b.user.order_by : b.order_by;

					return ageB - ageA;
				})
			}
		},
		/** **/
		leader() {
			let leader = null;
			if (this.preview){
				leader = this.compose.__leadership
			}
			else {
				leader = this.compose.signed_by.find(item => item.is_for_notice === true);
				if (leader) {
					return leader
				}
				else {
					return this.compose.signer_obj[0]
				}
			}
		},
		/** **/
		author() {
			return this.preview ? { ...this.currentUser, full_name: `${this.currentUser.last_name} ${this.currentUser.first_name} ${this.currentUser?.father_name}` } : this.compose?.author
		},
		/** **/
		staffHead() {
			return this.preview ? this.compose.__staffHead : this.compose.signed_by.find(item => item.position === 'staff_head').user
		},
		createdDate() {
			return this.compose.created_date ? this.compose.created_date : new Date()
		},
		/** **/
		years() {
			if (this.compose.register_date) {
				return `${new Date(this.compose.register_date).getFullYear()}-${new Date(this.compose.register_date).getFullYear()+1}`
			} else {
				return `20__-20__`
			}
		}
	}
}
</script>

<style scoped>
.border-right-bottom {
	border-right: 1px solid;
	border-bottom: 1px solid;
}
</style>
