<template>
	<div id="element-to-download" class="generate-area d-flex flex-1">
		<template v-if="!letterProps.isTechnique">
			<div class="generate-pdf-area p-relative d-flex flex-column flex-1 pa-5">
				<!-- Letter header type -->
				<div>
					<v-row no-gutters>
						<template v-if="isOutgoing">
							<template
								v-if="letterProps.sendBy === 'hybrid_mail' && letterProps.isSigned && letterProps.compose_send && letterProps.compose_send.length && letterProps.compose_send[0].status"
							>
								<v-alert
									dense
									text
									:type="letterProps.compose_send[0].status.id === 1 ? 'success' : 'warning'"
								>
									<span class="small-2">{{ letterProps.compose_send[0].status.name }}: {{ letterProps.compose_send[0].updated_date && letterProps.compose_send[0].updated_date | filterCalendarToTime }}</span>
								</v-alert>
							</template>
							<template v-else-if="letterProps.sendBy === 'hybrid_mail' && letterProps.isSigned && letterProps.compose_send && letterProps.compose_send.length && !letterProps.compose_send[0].status">
								<v-alert
									dense
									text
									type="warning"
								>
									<span class="small-2">{{ $t('waiting-answer') }}</span>
								</v-alert>
							</template>

							<div class="d-flex">
								<div class="d-flex flex-column">
									<img src="/img/document-logo.svg" alt="Logo Asakabank" class="mb-4">

<!--									<h5 class="small-2 line-base">Hujjat ID - {{ letterProps.id }}</h5>-->
								</div>
								<div class="d-flex flex-column ml-16">
									<div class="pl-4 line-base d-flex flex-column" style="border-left: 2px solid red">
										<span class="small-3 mb-1">"Asakabank" Aksiyadorlik jamiyati</span>
										<span class="tiny font-400 text-dark">
											{{ letterProps.filial.address }}
										</span>
									</div>
									<div class="brand-actions-for-outgoing mt-5 d-flex align-center justify-space-around">
										<div class="d-flex align-center">
											<v-icon color="#BBBBBB" size="15">mdi-phone-in-talk-outline</v-icon>
											<span class="x-tiny ml-2 text-black font-400">{{ letterProps.filial.phone }}</span>
										</div>
										<div class="d-flex align-center">
											<v-icon color="#BBBBBB" size="15">mdi-web</v-icon>
											<span class="x-tiny ml-2 text-black font-400">{{ letterProps.filial.website }}</span>
										</div>
										<div class="d-flex align-center">
											<v-icon color="#BBBBBB" size="15">mdi-email-outline</v-icon>
											<span class="x-tiny ml-2 text-black font-400">{{ letterProps.filial.email }}</span>
										</div>
									</div>
									<span class="x-tiny font-400 text-center mt-2">{{$t('components.obligation-text')}}</span>
								</div>
							</div>
							<div>
								<h5 class="small-2 line-base mt-1">Hujjat ID - {{ letterProps.id }} - {{ returnPriorityText(letterProps.priority) }}</h5>

								<div class="d-flex mt-2">
									<span v-if="letterProps.isSigned && letterProps.registerDate" class="mr-2 small-3 font-600 text-dark">{{ letterProps.registerDate | filterDateMonthYear }}</span>
									<span v-if="letterProps.registerNumber" class="small-3 font-600 text-dark">№ {{ letterProps.registerNumber }}</span>
								</div>
							</div>
						</template>
						<template v-else>
							<v-col md="12">
								<div class="d-flex align-center mb-3">
									<img src="/img/logo_asaka_3.svg" alt="Logo Asakabank">

									<h5 class="small-2 line-base ml-5" style="transform: translateY(3px)">Hujjat ID - {{ letterProps.id }} - {{ returnPriorityText(letterProps.priority) }}</h5>
								</div>

								<div
									class="brand-actions d-flex align-center py-2 pr-5 p-relative text-dark size-13 font-600 p-relative pl-10"
									style="left: -40px"
								>
									<span v-if="['expense_notice'].includes(letterProps.type)">BANK XARAJATLARINI O'RGANISH KOMISSIYASI</span>
									<span v-else>{{ letterProps.sender }}</span>
								</div>

								<div v-if="!['technic_teaching'].includes(letterProps.type)" class="d-flex small-3 mt-3 text-dark font-600">
									<template v-if="['notice', 'expense_notice', 'summary'].includes(letterProps.type)">
										<span v-if="letterProps.isSigned && letterProps.createdDate" class="mr-2">{{ letterProps.createdDate | filterDateMonthYear }}</span>
									</template>
									<template v-else>
										<span v-if="letterProps.isSigned && letterProps.modifiedDate" class="mr-2">{{ letterProps.modifiedDate | filterDateMonthYear }}</span>
									</template>
									<span>№ {{ letterProps.registerNumber }}</span>
								</div>
							</v-col>
						</template>
					</v-row>
				</div>
				<!-- /Letter header type -->

				<!--			<pre>{{ letterProps }}</pre>-->

				<template v-if="letterProps.receiver && letterProps.receiver.to_user">
					<div>
						<p class="font-600 size-13 mb-1 text-right ml-auto" style="max-width: 300px">
							{{ letterProps.receiver.to_user.position }}<br>
							{{ letterProps.receiver.to_user.first_name | getFirstCharacter }} {{ letterProps.receiver.to_user.last_name }}ga
						</p>
					</div>
				</template>
				<template v-else>
					<template v-if="letterProps.departments.length">
						<div>
							<template >
								<p v-for="(item, index) in letterProps.departments" :key="index" class="font-600 size-13 mb-1 text-right ml-auto" style="max-width: 300px">{{ item.name }}</p>
							</template>
						</div>
					</template>
					<template v-else>
						<div>
							<template >
								<p v-for="(item, index) in letterProps.branches" :key="index" class="font-600 size-13 mb-1 text-right">{{ item.name }}</p>
							</template>
						</div>
					</template>
				</template>


				<v-row v-if="letterProps.receiver && letterProps.receiver.organizations && letterProps.receiver.organizations.length && letterProps.type === 'organization_letter'">
					<v-col :md="letterProps.sendBy === 'hybrid_mail' ? '5' : '6'"></v-col>
					<v-col :md="letterProps.sendBy === 'hybrid_mail' ? '7' : '6'">
						<div>
							<template v-if="letterProps.sendBy === 'hybrid_mail'">
								<div class="d-flex">
									<div style="width: 20%" class="font-600 small-3 text-right mr-2">
										Kimga:
									</div>

									<div v-if="letterProps.compose_send && letterProps.compose_send.length" style="width: 80%" class="font-600 small-3">
										{{ letterProps.compose_send && letterProps.compose_send[0] &&  letterProps.compose_send[0].receiver }}
									</div>
								</div>

								<div class="d-flex mt-2">
									<div style="width: 20%" class="small-3 text-right mr-2">
										Manzil:
									</div>

									<div v-if="letterProps.compose_send && letterProps.compose_send.length" style="width: 80%" class="small-3">
										{{ letterProps.compose_send[0].address }}
									</div>
								</div>
							</template>

							<template v-else>
								<template v-if="letterProps.type === 'organization_letter' && letterProps.signerObject && letterProps.signerObject.length">
									<p v-for="(item, index) in letterProps.signerObject" :key="index" class="font-600 size-13 mb-1 text-right">{{ item.correspondent_name }}</p>
								</template>

								<template v-else>
									<p v-for="(item, index) in letterProps.receiver.organizations" :key="index" class="font-600 size-13 mb-1 text-right">{{ item.normalized_name }}</p>
								</template>
							</template>
						</div>
					</v-col>
				</v-row>

				<template v-if="['technic_teaching'].includes(letterProps.type)">
					<div class="mt-5 d-flex flex-column align-end">
						<span class="d-inline-block text-end w-100 small-2 font-700 mb-2">
							"Tasdiqlayman" <br>
							"Asakabank" AJ <br>
							{{ letterProps && letterProps.signerObject && letterProps.signerObject[0].position }}
							<br> {{ letterProps && letterProps.signerObject && letterProps.signerObject[0].first_name && letterProps.signerObject[0].first_name | getFirstCharacter }}
							{{ letterProps && letterProps.signerObject && letterProps.signerObject[0].last_name}}

						</span>
						<qrcode-vue
							v-if="letterProps && letterProps.checkId && letterProps.noticeUser.is_signed"
							ref="qrCode"
							:value="'https://check.asakabank.uz/document/'+letterProps.checkId"
							size="60"
							level="L"
							render-as="svg"
						/>
						<span class="d-inline-block text-end w-100 small-2 font-700">{{ returnDate(letterProps.registerDate) }}</span>
					</div>
				</template>

				<template v-else>
					<div
						v-if="letterProps.signerObject && letterProps.signerObject.length && letterProps.type !== 'organization_letter'"
						class="d-flex mt-7 pt-5"
					>
						<div v-if="letterProps && letterProps.noticeUser && letterProps.noticeUser.is_signed">
							<qrcode-vue
								ref="qrCode"
								:value="'https://check.asakabank.uz/document/'+letterProps.checkId"
								size="60"
								level="L"
								render-as="svg"
							/>
						</div>

						<v-spacer />

						<div v-for="item in letterProps.signerObject" :key="item.id">
							<p class="font-600 size-13 mb-1 text-right">{{ item.position }}</p>
							<p class="font-600 size-13 mb-1 text-right">
								{{ item.first_name | getFirstCharacter }}
								{{ item.last_name }}ga
							</p>
						</div>
					</div>
				</template>

				<!--      <pre>{{ letterProps.noticeUser }}</pre>-->

				<div v-if="(letterType !== 'outgoing' || $route.query.type === 'leadership')"
				     class="text-center size-13 text-dark font-600 my-4"
				>
					<span v-if="!['expense_notice', 'technic_teaching'].includes(letterProps.type)">{{ letterProps.letterType }}</span>
				</div>

				<template v-if="letterProps.letterShortDescription && ($route.query.type === 'leadership' || $route.query.type === 'notice' || $route.query.type === 'hr_rotation' || $route.query.type === 'job') && !['expense_notice', 'technic_teaching'].includes(letterProps.type)">
					<i class="size-13 d-block text-dark font-500 mb-7" style="text-indent: 30px">
						{{$t('components.summary')}} <span class="text-decoration-underline">{{ letterProps.letterShortDescription }}</span>
					</i>
				</template>

				<div>
          <span
            class="size-13 d-block text-dark font-500 text-justify"
            :class="letterType === 'outgoing' ? 'mt-7' : ''"
            style="line-height: 20px; text-indent: 30px"
          >
            <slot name="text" v-if="$slots.text"></slot>

            <span v-else v-html="letterProps.text"></span>
          </span>
        </div>
			<div class="my-10 pt-10">
        <template v-if="letterProps.isForPayment">
          <div v-if="userEnteredUser && userEnteredUser.length" class="px-7 small-2 mb-5">
            <i class="d-block font-600 mb-1">{{$t('components.entered')}}</i>

            <template >
              <v-row v-for="item in userEnteredUser" no-gutters align="center" :key="item.id">
                <v-col md="4">
                  <span v-if="item.hasOwnProperty('user')" class="d-block font-600">{{ item.user && item.user.position }}</span>
                  <span v-else class="d-block font-600">{{ item.position }}</span>
                </v-col>

                <v-col md="4">
                  <qrcode-vue
                    v-if="item.is_signed === true && letterProps.checkId"
                    ref="qrCode"
                    :value="'https://check.asakabank.uz/document/'+letterProps.checkId"
                    size="60"
                    level="L"
                    render-as="svg"
                    class-name="text-center"
                  />
                </v-col>

                <v-col md="4">
                  <span v-if="item.hasOwnProperty('user')" class="d-block font-600 text-right">
                    {{ item.user.last_name }}
                    {{ item.user.first_name && item.user.first_name | getFirstCharacter }}
                    {{ item.user.father_name && item.user.father_name | getFirstCharacter }}
                  </span>
                  <span v-else class="d-block font-600 text-right">
                    {{ item.last_name }}
                    {{ item.first_name && item.first_name | getFirstCharacter }}
                    {{ item.father_name && item.father_name | getFirstCharacter }}
                  </span>
                </v-col>
              </v-row>
            </template>
          </div>

          <div v-if="userAgreedList && userAgreedList.length" class="px-7 small-2">
            <i class="d-block font-600 mb-1">{{$t('components.agreed')}}:</i>

            <template >
              <v-row v-for="(item, index) in userAgreedList" :key="index" no-gutters align="center" class="mb-3">
                <v-col md="4">
                  <span v-if="item.hasOwnProperty('user')" class="d-block font-600">{{ item.user && item.user.position }}</span>
                  <span v-else class="d-block font-600">{{ item.position }}</span>
                </v-col>

                <v-col md="4" class="text-center">
                  <span v-if="item.is_signed" class="font-600 text-uppercase">
                    {{ $t('components.agree') }}
                  </span>

                  <span v-if="item.is_signed === false" class="font-600 text-uppercase text-red">
                    {{ $t('components.disagree') }}
                  </span>
<!--                  <qrcode-vue-->
<!--                    v-if="item.is_signed === true && letterProps.checkId"-->
<!--                    ref="qrCode"-->
<!--                    :value="'https://check.asakabank.uz/document/'+letterProps.checkId"-->
<!--                    size="70"-->
<!--                    level="L"-->
<!--                    render-as="svg"-->
<!--                  />-->
                </v-col>

                <v-col md="4">
                  <span v-if="item.hasOwnProperty('user')" class="d-block font-600 text-right">
                    {{ item.user.last_name }}
                    {{ item.user.first_name && item.user.first_name | getFirstCharacter }}
                    {{ item.user.father_name && item.user.father_name | getFirstCharacter }}
                  </span>
                  <span v-else class="d-block font-600 text-right">
                    {{ item.last_name }}
                    {{ item.first_name && item.first_name | getFirstCharacter }}
                    {{ item.father_name && item.father_name | getFirstCharacter }}
                  </span>
                </v-col>
              </v-row>
            </template>
          </div>
        </template>

        <template v-else>
          <template >
            <div v-for="(item, index) in letterProps.signedByList" :key="index" class="d-flex align-center justify-space-between text-dark size-13 mb-1 font-600">

              <span v-if="item.hasOwnProperty('user')" style="flex-basis: 250px">
	              <span v-if="letterProps && letterProps.receiver && letterProps.receiver.type && letterProps.receiver.type === 'filial' && !DEP_NAME_NOT_VISIBLE_USER_IDS.includes(item.user.id)">{{ item.user.top_level_dept_name }} - </span>
	              {{ item.user && item.user.position }}</span>
              <span v-else style="flex-basis: 250px">{{ item.position }}</span>

              <span class="my-4">
                <qrcode-vue
                  v-if="item.is_signed === true && letterProps.checkId"
                  ref="qrCode"
                  :value="'https://check.asakabank.uz/document/'+letterProps.checkId"
                  size="60"
                  level="L"
                  render-as="svg"
                />
              </span>

              <span v-if="item.hasOwnProperty('user')">
                {{ item.user.first_name && item.user.first_name | getFirstCharacter }}
                {{ item.user.last_name }}
              </span>

              <span v-else>
                {{ item.first_name && item.first_name | getFirstCharacter }}
                {{ item.last_name }}
              </span>
            </div>
          </template>
        </template>
			</div>

			<div class="mt-auto d-flex align-end justify-space-between pt-10">
				<div class="small-3 font-600">
          <div v-if="Object.keys(letterProps.recruiter).length" class="mb-2">
            <span class="mb-1 d-block">{{$t('components.recruiter')}} - {{ letterProps.recruiter.user.first_name | getFirstCharacter }} {{ letterProps.recruiter.user.last_name }}</span>

            <qrcode-vue
              v-if="letterProps.recruiter.is_signed === true && letterProps.checkId"
              ref="qrCode"
              :value="'https://check.asakabank.uz/document/'+letterProps.checkId"
              size="60"
              level="L"
              render-as="svg"
            />
          </div>
					<template v-if="['inner', 'outgoing'].includes($route.query.type) && letterProps.createdDate">
						Kiritildi: {{ letterProps.createdDate | filterCalendarToTime }}
					</template>
					<br>
					{{$t('components.executive')}} {{ letterProps.executor.first_name && letterProps.executor.first_name | getFirstCharacter }}
					{{ letterProps.executor.last_name && letterProps.executor.last_name }}
					<br>
					<template v-if="isOutgoing">
						{{$t('components.tel')}} +998 78 147 65 65 ({{ letterProps.executor.cisco }})
					</template>
					<template v-else>
						{{$t('components.tel')}} {{ letterProps.executor.cisco }}
					</template>
				</div>

        <template v-if="($route.query.type === 'notice' || $route.query.type === 'leadership') && !letterProps.isSigned">
          <app-button
            :loading="loading"
            @click="downloadRaport"
          >
            <template #prepend>
              <download-cloud-icon size="18" class="mr-1"/>
            </template>
            {{$t('components.download')}}
          </app-button>
        </template>

				<template v-else>
					<app-button
						v-if="letterProps.isSigned"
						:loading="loading"
						@click="download"
					>
						<template #prepend>
							<download-cloud-icon size="18" class="mr-1"/>
						</template>
						{{$t('components.download')}}
					</app-button>
				</template>
				</div>
			</div>
		</template>
		<template v-else>
			<pdf-letter-template-for-techniques :letter-props="letterProps"/>
		</template>
	</div>
</template>

<script>
import { base64toBlob } from "@/common/helpers";
import { saveAs } from 'file-saver';
import QrcodeVue from 'qrcode.vue';
import { DownloadCloudIcon, GlobeIcon, MailIcon, PhoneCallIcon } from "vue-feather-icons";
import { mapGetters } from "vuex";
import PdfLetterTemplateForTechniques from "./PdfLetterTemplateForTechniques";
import {returnPriorityText, toMonthNameUzb} from "../helpers";
import {DEP_NAME_NOT_VISIBLE_USER_IDS} from "../constants";

export default {
	name: "PdfLetterTemplate",
	props: {
		letterType: {
			type: String,
			default: "inner"
		},
		letterProps: {
			type: Object,
			default: () => {

			}
		},
		isOutgoing: {
			type: Boolean,
			default: false
		},
	},
	components: {
		QrcodeVue,
		PhoneCallIcon,
		GlobeIcon,
		MailIcon,
		DownloadCloudIcon,
		PdfLetterTemplateForTechniques
	},
  data() {
	  return {
	    loading: false,
		  DEP_NAME_NOT_VISIBLE_USER_IDS
    }
  },
  computed: {
    ...mapGetters({
      currentUser: "auth/getCurrentUser",
    }),
    /*
    *
    * */
    userEnteredUser() {
      // Kiritildi
      return this.letterProps.signedByList && this.letterProps.signedByList.length ? this.letterProps.signedByList.filter(item => !item.is_invited) : []
    },
    /*
    *
    * */
    userAgreedList() {
      // Kelishildi
      return this.letterProps.signedByList && this.letterProps.signedByList.filter(item => item.is_invited)
    },
	 tripEmployees() {
		const employees = this.letterProps.employees;
		const tripEmployees = Array.isArray(employees) ? employees : [];
		return tripEmployees;
	 }
  },
	methods: {
		returnPriorityText,
		download() {
      this.loading = !this.loading

			this.$http.get(`/check/document/${this.letterProps.checkId}/`)
				.then(({data}) => {
					saveAs(`https://portal-drive.asakabank.uz/media${data.file && data.file.file}`, "template.pdf")

          this.loading = false
				})
        .catch(() => {
          this.loading = false
        })
		},
    /*
    *
    * */
		downloadRaport() {
		  this.loading = !this.loading

			this.$http.post(`/docflow/${this.currentUser.filial}/compose/${this.letterProps.id}/download_unsigned_notice/`)
				.then(({ data }) => {
          saveAs(base64toBlob(data.data, 'application/pdf'), "template.pdf")

          this.loading = false
        })
        .catch(() => {
          this.loading = false
        })
		},
		parseDate(incomingDate) {
			const parsingDate = new Date(incomingDate || '');
			const date = parsingDate.getDate().toString().padStart(2, "0");
			const month = (parsingDate.getMonth() + 1).toString().padStart(2, "0");
			const year = parsingDate.getFullYear().toString();
			const d = `${date}.${month}.${year}`;
			return d;
		},
		/** **/
		returnDate(date) {
			if (date) {
				return new Date(date).getFullYear() + "-yil " + new Date(date).getDate() + "-" + toMonthNameUzb(new Date(date).getMonth() + 1)
			} else {
				return '20__-yil "__" ___________'
			}
		}
	}
}
</script>

<style>
.generate-pdf-area .row{
	flex: none!important;
}
</style>
