<template>
  <div id="element-to-download" class="generate-area d-flex flex-1">
	  asdasdasdasd
    <div class="generate-pdf-area retail-template small-3 p-relative d-flex flex-column flex-1 font-500">
      <span v-html="letterProps.text"></span>

      <div style="margin-top: 24px">
        <table>
          <tr>
            <th width="500" style="text-align: center; background: #eee"><strong>“BUYURTMACHI”</strong></th>
            <th rowspan="4"></th>
            <th width="500" style="text-align: center; background: #eee"><strong>“IJROCHI”</strong></th>
          </tr>

          <tr>
            <td style="text-align: center">
              <strong>"Asakabank" AJ</strong>
            </td>
            <td style="text-align: center">
              <template v-if="letterProps.performer.user">
                <strong>
                  {{ letterProps.performer.user.first_name  }}
                  {{ letterProps.performer.user.father_name  }}
                  {{ letterProps.performer.user.last_name  }}
                </strong>
              </template>
<!--              <strong>Raxmatalieva Nasibaxon Ma`rufjon qizi</strong>-->
            </td>
          </tr>

          <tr>
            <td v-if="letterProps.signerObject" style="text-align: center">
              {{ letterProps.signerObject.position }}
              {{ letterProps.signerObject.first_name | getFirstCharacter  }}
              {{ letterProps.signerObject.father_name | getFirstCharacter  }}
              {{ letterProps.signerObject.last_name  }}
            </td>
            <td v-if="letterProps.performer" style="text-align: center">
              <template v-if="letterProps.performer.user">
                {{ letterProps.performer.user.position }}
                {{ letterProps.performer.user.first_name | getFirstCharacter  }}
                {{ letterProps.performer.user.father_name | getFirstCharacter  }}
                {{ letterProps.performer.user.last_name  }}
              </template>
            </td>
          </tr>

          <tr>
            <td v-if="letterProps.noticeUser" style="text-align: center">
              <!-- “BUYURTMACHI” QRCODE -->
              <qrcode-vue
                v-if="letterProps.noticeUser.is_signed === true && letterProps.checkId"
                ref="qrCode"
                :value="'https://check.asakabank.uz/document/'+letterProps.checkId"
                size="70"
                level="L"
                render-as="svg"
                class-name="text-center"
              />
            </td>
            <td v-if="letterProps.performer" style="text-align: center">
              <!-- “IJROCHI” QRCODE -->
              <qrcode-vue
                v-if="letterProps.performer.is_signed === true && letterProps.checkId"
                ref="qrCode"
                :value="'https://check.asakabank.uz/document/'+letterProps.checkId"
                size="70"
                level="L"
                render-as="svg"
                class-name="text-center"
              />
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import QrcodeVue from 'qrcode.vue'

export default {
	name: "PdfLetterTemplateRetailAct",
  props: {
	  letterProps: {
		  type: Object,
		  default: () => {}
	  },
  },
  components: {
	  QrcodeVue
  }
}
</script>

<style>
.retail-template table {
  border-collapse: collapse;
  width: 100%;
}

.retail-template table td, .retail-template table th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
</style>
