<template>
	<div class="retail-act-template">
		<div class="d-flex align-end flex-column">
			<span class="small-2 font-600">{{ registeredDate }}</span>
			<span class="small-2 font-600">{{ letterProps.model.register_number }} - sonli Xizmatlarni ko'rsatish haqida shartnomaga</span>
			<span class="small-2 font-600">{{ letterProps.model.goal }}-sonli ILOVA</span>
		</div>

		<div class="d-flex justify-center small-1 font-600 text-center mt-8">
			BAJARILGAN XIZMATLAR NATIJASINI TOPSHIRISH-QABUL QILISH DALOLATNOMASI
		</div>

		<div class="my-4">
			<span v-if="letterProps && letterProps.model" v-html="letterProps.model.text"/>
		</div>

<!--		<pre>{{ letterProps }}</pre>-->

		<div v-for="(item, index) in preview ? letterProps.signedByList : signersList" :key="index" class="d-flex align-center justify-space-between text-dark size-13 mb-1 font-600">
			<span v-if="item.hasOwnProperty('user')" style="flex-basis: 250px">{{ item.user && item.user.position }}</span>
			<span v-else style="flex-basis: 250px">{{ item.position }}</span>

			<span class="my-4">
        <qrcode-vue
          v-if="item.is_signed === true && letterProps.model.check_id"
          ref="qrCode"
          :value="'https://check.asakabank.uz/document/'+letterProps.model.check_id"
          size="60"
          level="L"
          render-as="svg"
        />
      </span>

			<span v-if="item.hasOwnProperty('user')">
        {{ item.user.first_name && item.user.first_name | getFirstCharacter }}
        {{ item.user.last_name }}
      </span>

			<span v-else>
        {{ item.first_name && item.first_name | getFirstCharacter }}
        {{ item.last_name }}
      </span>
		</div>
<!--		<pre>{{ letterProps }}</pre>-->
	</div>
</template>

<script>
import { toMonthNameUzb } from "../helpers";
import QrcodeVue from "qrcode.vue";

export default {
	name: "PdfLetterTemplateForRetailAct",
	components: {QrcodeVue},
	props: {
		letterProps: {
			type: Object,
			default: () => {}
		},
		preview: {
			type: Boolean,
			default: false
		}
	},
	computed: {
		registeredDate() {
			if (this.letterProps?.model?.register_date){
				return `"${new Date(this.letterProps.model.register_date).getDate()}"-${toMonthNameUzb(new Date(this.letterProps.model.register_date).getMonth() +1)} ${new Date(this.letterProps.model.register_date).getFullYear()}-yildagi`
			}else {
				return new Date().getFullYear() + '-yil “__” ____________'
			}
		},
		signersList() {
			return this.letterProps?.model?.signed_by.sort((a, b) => {
				const ageA = a.user ? a.user.order_by : a.order_by;
				const ageB = b.user ? b.user.order_by : b.order_by;

				return ageB - ageA;
			})
		},
	}
}
</script>

<style scoped>

</style>
