<template>
   <div style="padding: 20px;">
      <table style="padding: 0; margin: 2px 0; width: 100%; margin-bottom: -4px;">
         <tr>
            <td style="width: 50%;">
               <span style="font-weight: 600; font-size: 14px;">Hujjat ID - {{ letterProps.id }}</span>
            </td>
            <td style="width: 50%; text-align: right;">
               <span style="font-weight: 600; font-size: 14px;">Asakabank" AJ</span>
            </td>
         </tr>
      </table>
      <div style="text-align: center; font-weight: 600; margin: 28px 0; position: relative;">
         Xizmat safari guvohnomasi
      </div>
      <div style="font-weight: 500; font-size: 14px; margin-bottom: 12px; position: relative;">
         <span>Berildi:</span>
         <span style="width: 20px; display: inline-block;"></span>
         <span> Asakabank AJ Bosh ofis Raqamli texnologiyalar departamenti bosh mutaxassisi Eshimov Hayitmurod Murtozaqul o'g'liga</span>
      </div>
      <div style="font-weight: 500; font-size: 14px; margin-bottom: 12px; position: relative;">
         <span>Xizmat safari muddati:</span>
         <span style="width: 20px; display: inline-block;"></span>
         <span> 01.11.2023 dan 10.11.2023 gacha (10 kun)</span>
      </div>
      <div style="font-weight: 500; font-size: 14px; margin-bottom: 12px; position: relative;">
         <span>Asos:</span>
         <span style="width: 20px; display: inline-block;"></span>
         <span> 01.11.2023 dagi 110-sonli buyruq</span>
      </div>
      <div style="margin: 16px 0;">
         <qrcode-vue
            ref="qrCode"
            :value="'https://check.asakabank.uz/document/'+letterProps.checkId"
            size="70"
            level="L"
            render-as="svg"
         />
      </div>
      <div style="font-weight: 500; font-size: 14px; margin: 0 0 16px 0; position: relative;">
         Berilgan manzilga yetib borish va u yerdan qaytish belgilari:
      </div>
      <div>
         <div style="display: flex" class="mt-2">
            <div style="width: 50%;">
               <div class="text-dark font-500 small-2 mb-1 p-relative">
                  <span>Jo'nadi:</span>
                  <span style="width: 15px; display: inline-block;"></span>
                  <span>01.11.2023</span>
               </div>
               <div class="text-dark font-500 small-2 mb-4 p-relative">
                  <span>Filial:</span>
                  <span style="width: 15px; display: inline-block;"></span>
                  <span>Bosh Ofis</span>
               </div>
               <div>
                  <qrcode-vue
                     ref="qrCode"
                     :value="'https://check.asakabank.uz/document/'+letterProps.checkId"
                     size="70"
                     level="L"
                     render-as="svg"
                  />
               </div>
            </div>
            <div style="width: 50%;">
               <div class="text-dark font-500 small-2 mb-1 p-relative">
                  <span>Keldi:</span>
                  <span style="width: 15px; display: inline-block;"></span>
                  <span>02.11.2023</span>
               </div>
               <div class="text-dark font-500 small-2 mb-4 p-relative">
                  <span>Filial:</span>
                  <span style="width: 15px; display: inline-block;"></span>
                  <span>Andijon filiali</span>
               </div>
               <div>
                  <qrcode-vue
                     ref="qrCode"
                     :value="'https://check.asakabank.uz/document/'+letterProps.checkId"
                     size="70"
                     level="L"
                     render-as="svg"
                  />
               </div>
            </div>
         </div>
      </div>
      <div class="mt-auto text-right">
         <app-button :loading="loading" @click="download">
            <template #prepend>
               <download-cloud-icon size="18" class="mr-1"/>
            </template>
            Скачать
         </app-button>
      </div>
   </div>
</template>
<script>
import QrcodeVue from 'qrcode.vue'
import { DownloadCloudIcon } from "vue-feather-icons"
export default {
   name: "PdfTemplateCertificate",
   props: {
      letterProps: {
         type: Object,
         default: () => {}
      },
   },
   components: { QrcodeVue, DownloadCloudIcon },
   data() {
      return {
         loading: false
      }
   },
   methods: {
      download() {
         this.loading = !this.loading
         this.$http.get(`/check/document/${this.letterProps.checkId}/`)
         .then(({data}) => {
            saveAs(`https://portal-drive.asakabank.uz/media${data.file && data.file.file}`, "template.pdf")
            this.loading = false
         })
         .catch(() => {
            this.loading = false
         })
      },
   }
}
</script>
