<template>
	<div class="pdf-container d-flex flex-column bg-4">
		<template v-if="isLoading">
			<app-loader
				component-based
			/>
		</template>
		<template v-else>
			<v-tabs
				v-model="tabs"
				dark
				height="48"
				class="border-bottom flex-grow-0"
			>
				<v-tabs-slider color="var(--primary-1)"></v-tabs-slider>
				<!-- Фишка  -->
<!--        <slot name="tabItem"></slot>-->
				<v-tab
          v-if="resolutionVisible"
					class="primary--text text-transform-none mr-5"
					:ripple="false"
				>
					{{$t('components.chip-asakabank')}}
				</v-tab>
				<!-- /Фишка  -->

				<template v-for="(item, index) in viewerList">
					<v-tab
						v-if="item.document"
            v-bind:key="index"
						class="primary--text text-transform-none pa-0 mr-5"
						:ripple="false"
					>
						{{ item.document.name }}
					</v-tab>
				</template>
			</v-tabs>

			<v-tabs-items v-model="tabs" class="flex-1 overflow-auto h-100">
				<!-- Фишка Content  -->
        <v-tab-item v-if="resolutionVisible">
          <div class="d-flex flex-column w-100 pa-7">
            <div class="d-flex align-center pb-5">
              <img
                src="/img/logo.png"
                width="90"
                alt="Asaka Logo"
              />

              <h4 class="font-700 text-uppercase flex-1 text-center">{{$t('components.asakabank-aj')}}</h4>
            </div>

            <div class="border-bottom"></div>

            <v-alert
              outlined
              :type="!getIsDocumentAssigned.is_verified ? 'error' : 'success'"
              text
              class="mt-5 mb-6 pa-2"
            >
              <template #prepend>
                <v-icon v-if="!getIsDocumentAssigned.is_verified" color="error">mdi-alert</v-icon>
                <v-icon v-else color="success">mdi-check-circle</v-icon>
              </template>

              <div class="d-flex align-center">
                <span v-if="!getIsDocumentAssigned.is_verified" class="small-2 mx-3">{{$t('components.document-not-signed')}}</span>
                <span v-else class="small-2 mx-3">{{$t('components.document-signed')}}</span>

                <v-menu offset-y>
                  <template v-slot:activator="{ on, attrs }">
                    <app-button
                      class="ml-auto"
                      v-bind="attrs"
                      :loading="loading"
                      v-on="on"
                    >
                      <template #prepend>
                        <download-icon size="18" />
                      </template>
                      {{$t('components.download-chip')}}
                    </app-button>
                  </template>

                  <v-list>
                    <v-list-item class="pointer" @click="downloadAsPDF('A4')">
                      <v-list-item-title class="font-600">{{$t('components.format-a4')}}</v-list-item-title>
                    </v-list-item>

                    <v-list-item class="pointer" @click="downloadAsPDF('A5')">
                      <v-list-item-title class="font-600">{{$t('components.format-a5')}}</v-list-item-title>
                    </v-list-item>

                    <v-list-item class="pointer" @click="downloadAsPDF('A6')">
                      <v-list-item-title class="font-600">{{$t('components.format-a6')}}</v-list-item-title>
                    </v-list-item>

<!--                      <v-list-item class="pointer" @click="downloadAsPDF(148, 210, 'A5')">-->
<!--                        <v-list-item-title class="font-600">Формат А5</v-list-item-title>-->
<!--                      </v-list-item>-->
<!--                      <v-list-item class="pointer" @click="downloadAsPDF(105, 148, 'A6')">-->
<!--                        <v-list-item-title class="font-600">Формат А6</v-list-item-title>-->
<!--                      </v-list-item>-->
                  </v-list>
                </v-menu>
              </div>
            </v-alert>

            <template >
              <div v-for="item in getCreatedResolutionList" :key="item.id" class="pb-5 mb-5 border-bottom">
                <!--                  <p class="font-600 mb-2 small-2">-->
                <!--                    {{ item.type === 'assignment' ? 'Поручение' : 'Контрольный пункт' }}-->
                <!--                  </p>-->

                <ul class="mb-4 pl-0" style="list-style: none">
                  <template v-for="(assignment, index) in item.assignment">
                    <li v-bind:key="index" v-if="assignment.user" class="small-2 font-500 mb-1">
                      {{ assignment.user.last_name }}
	                    {{ assignment.user.first_name && assignment.user.first_name | getFirstCharacter }}
	                    {{ assignment.user.father_name && assignment.user.father_name | getFirstCharacter }}

	                    <template v-if="assignment.is_controller">
		                    <span class="font-500">- {{ $t("document-flow.views.boxes.controlling") }}</span>
	                    </template>

	                    <template v-if="assignment.is_responsible">
		                    <span class="font-500">- {{ $t("document-flow.components.responsible-executor") }}</span>
	                    </template>
                    </li>
                  </template>
                </ul>
	              <template v-if="item.assignment && item.assignment[0] && item.assignment[0].deadline">
		              <strong class="small-2 font-600">{{$t('components.execution-duration')}}: </strong>
		              <span class="small-2">{{ new Date(item.assignment[0].deadline) | filterDateMonthYear }}</span>
	              </template>

                <!--                  <p class="font-600 mb-1 small-2">Содержание</p>-->

                <span class="d-block small-2 text-center font-600 reset-space mt-4" v-html="item.content"></span>
              </div>
            </template>

            <template v-if="getIsDocumentAssigned.is_verified">
              <div class="mt-auto pt-5">
                <div class="d-flex justify-space-between align-center">
                  <div>
                    <p class="small-2 mb-1">
                      <strong class="font-600">{{$t('components.registration-number')}}: </strong>
                      <span>{{ registerNumber }}</span>
                    </p>

                    <p class="small-2 mb-1">
                      <strong class="font-600">{{$t('components.registration-date')}}: </strong>
                      <span>{{ registerDate | filterDateMonthYear }}</span>
                    </p>

                    <p class="small-2 mb-1">
                      <strong class="font-600">Дата подписания: </strong>
                      <span>{{ getIsDocumentAssigned.receipt_date | filterCalendarToTime }}</span>
                    </p>
                  </div>

                  <div>
                    <strong class="d-block font-600">
                      {{ getDocumentResolution.lastName }} {{ getDocumentResolution.firstName && getDocumentResolution.firstName | getFirstCharacter }} {{ getDocumentResolution.fatherName && getDocumentResolution.fatherName | getFirstCharacter }}
                    </strong>

                    <!--                    <strong v-if="getIsDocumentAssigned" class="d-block font-600">-->
<!--                      {{ getIsDocumentAssigned.created_by && getIsDocumentAssigned.created_by.last_name }}-->
<!--                      {{ getIsDocumentAssigned.created_by && getIsDocumentAssigned.created_by.first_name && getIsDocumentAssigned.created_by.first_name[0] }}.-->
<!--                      {{ getIsDocumentAssigned.created_by && getIsDocumentAssigned.created_by.father_name && getIsDocumentAssigned.created_by.father_name[0] }}-->
<!--                    </strong>-->

                    <qrcode-vue
                      v-if="getCreatedResolutionList.length"
                      ref="qrCode"
                      :value="`https://check.asakabank.uz/document/${getCreatedResolutionList[0].check_id}`"
                      size="70"
                      level="L"
                      render-as="svg"
                      class="text-right mt-3"
                    />
                  </div>
                </div>
              </div>
            </template>
          </div>
        </v-tab-item>
				<!-- /Фишка Content  -->

				<template>
					<v-tab-item v-for="(item, index) in viewerList" :key="index" class="h-100">
						<template
							v-if="
                item.document.url.split('.').pop().toLowerCase() === 'jpg' ||
                item.document.url.split('.').pop().toLowerCase() === 'jpeg' ||
                item.document.url.split('.').pop().toLowerCase() === 'png'
              "
						>
							<img :src="item.document.url" alt="Document image" class="mx-auto d-block" />
						</template>

						<template
							v-else-if="
                item.document.url.split('.').pop().toLowerCase() === 'pdf' ||
                item.document.url.split('.').pop().toLowerCase() === 'PDF'
              "
						>
							<object
								:data='item.document.url'
								type="application/pdf"
								width="100%"
								height="100%"
							>

								<iframe
									:src='item.document.url'
									width="500"
									height="678"
								>
									<p>{{$t('components.browser-not-supported-pdf')}}</p>
								</iframe>
							</object>
							<!--						<vue-pdf-embed :source="item.document.url" ref="pdfRef" :width="pdfWidth" class="pdf-viewer" />-->
							<!--						<iframe :src="item.document.url" frameborder="0" width="100%" style="height: 83.6vh"></iframe>-->
						</template>

            <template v-else>
              <div class="d-flex align-center justify-center flex-column h-100">
                <h3 class="font-600">{{$t('components.unsupported-file-type')}}</h3>

                <a :href="item.document.url" :download="item.document.url" target="_blank" class="mt-4">
                  <app-button>
                    {{$t('components.upload-file')}}
                    <template #append>
                      <download-icon size="18" class="ml-1" />
                    </template>
                  </app-button>
                </a>
              </div>
            </template>

						<!-- <template v-else>
              <div class="d-flex align-center justify-center flex-column h-100">
                <h3 class="font-600">Не поддерживаемый тип файла</h3>
              </div>
						</template> -->
					</v-tab-item>
				</template>
			</v-tabs-items>

			<!-- Генерация фишки PDF -->
      <div
        id="element-to-download"
        class="d-none"
        style="display: flex; width: 100%"
        :style="{ height: `${pdfHeight}mm` }"
      >
        <div style="padding: 10px; display: flex; flex-direction: column; height: 100%; width: 100%">
          <div style="display: flex; align-items: center; padding: 0 20px 20px;">
            <img
              src="/img/logo.png"
              width="75"
              alt="Asaka Logo"
            />

            <h5 style="flex: 1; font-weight: 700; text-transform: uppercase; text-align: center">
              {{$t('components.asakabank-aj')}}
            </h5>
          </div>

          <div style="border-bottom: 1px solid #000"></div>

          <template >
            <div
              v-for="(item, index) in getCreatedResolutionList"
              :key="index"
              style="padding-bottom: 20px; margin-top: 10px; margin-bottom: auto"
            >
              <ul style="margin-bottom: 16px; padding-left: 0">
                <template v-for="(assignment, index) in item.assignment">
                  <li v-if="assignment.user" v-bind:key="index" style="font-weight: 500; list-style: none; margin-bottom: 4px; font-size: 14px">
                    {{ assignment.user.last_name }} {{ assignment.user.first_name && assignment.user.first_name | getFirstCharacter }} {{ assignment.user.father_name && assignment.user.father_name | getFirstCharacter }}
                  </li>
                </template>
              </ul>

              <strong
                v-html="item.content"
                class="reset-space"
                style="display: block; font-weight: 600; text-align: center; margin-top: 25px; font-size: 14px"
              >
              </strong>
            </div>
          </template>

          <div style="display: flex; justify-content: space-between; align-items: center; margin-top: 30px; margin-bottom: 75px;">
            <div>
              <p style="margin-bottom: 4px; font-size: 14px">
<!--                <strong style="font-weight: 600">Рег. номер: </strong>-->
                <i>№ {{ registerNumber }} {{$t('components.office')}}</i>
              </p>

              <p style="margin-bottom: 4px; font-size: 14px">
<!--                <strong  style="font-weight: 600">Рег. дата: </strong>-->
                <i>{{ registerDate }}</i>
              </p>
            </div>

            <div style="display: flex; flex-direction: column;">
              <strong style="display: block; font-weight: 600; font-size: 14px">
                {{ getDocumentResolution.lastName }} {{ getDocumentResolution.firstName && getDocumentResolution.firstName | getFirstCharacter }} {{ getDocumentResolution.fatherName && getDocumentResolution.fatherName | getFirstCharacter }}
              </strong>

              <!--              <strong v-if="getIsDocumentAssigned" style="display: block; font-weight: 600; font-size: 14px">-->
<!--                {{ getIsDocumentAssigned.created_by && getIsDocumentAssigned.created_by.last_name }}-->
<!--                {{ getIsDocumentAssigned.created_by && getIsDocumentAssigned.created_by.first_name && getIsDocumentAssigned.created_by.first_name[0] }}.-->
<!--                {{ getIsDocumentAssigned.created_by && getIsDocumentAssigned.created_by.father_name && getIsDocumentAssigned.created_by.father_name[0] }}-->
<!--              </strong>-->

              <div style="margin-top: 25px; margin-left: auto">
                <qrcode-vue
                  v-if="getIsDocumentAssigned.qr_info"
                  ref="qrCode"
                  :value="getIsDocumentAssigned.qr_info"
                  size="70"
                  level="L"
                  render-as="svg"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
			<!-- /Генерация фишки PDF -->
		</template>
	</div>
</template>

<script>
// import VuePdfEmbed from "vue-pdf-embed/dist/vue2-pdf-embed"
import { base64toBlob } from "@/common/helpers"
import { saveAs } from 'file-saver'
import QrcodeVue from 'qrcode.vue'
import { DownloadIcon } from "vue-feather-icons"
import { mapGetters } from "vuex"

export default {
	name: "PdfViewer",
	props: {
		viewerList: {
			type: Array,
			default: () => []
		},
    resolutionVisible: {
      type: Boolean,
      default: true
    },
    registerNumber: {
		  type: String,
      default: ""
    },
    registerDate: {
      type: String,
      default: ""
    }
	},
	components: {
    QrcodeVue,
		// VuePdfEmbed,
    DownloadIcon
	},
	computed: {
		...mapGetters({
      isLoading: "getAttachedDocumentsLoading",
      getCreatedResolutionList: "documentFlowModule/getCreatedResolutionList",
      getIsDocumentAssigned: "documentFlowModule/getIsDocumentAssigned",
      getDocumentResolution: "documentFlowModule/getDocumentResolution",
		})
	},
	data() {
		return {
			pdfWidth: 800,
			tabs: null,
      pdfHeight: null,
      loading: false
		}
	},
  methods: {
    downloadAsPDF(format) {
      this.loading = true

      if(this.getCreatedResolutionList.length > 0) {
        let first = this.getCreatedResolutionList[0]
        let created = this.getIsDocumentAssigned.created_by

        let model = {
          documentDate: this.$options.filters.filterDateMonthYear(first.created_date),
          documentNumber: `${first.document.journal.name} ${first.document.register_number}`,
          signers: first.assignment.map((item) => {
            return {
              name: `${item.user.last_name} ${item.user.first_name && this.getFirstCharacter(item.user.first_name)} ${item.user.father_name && this.getFirstCharacter(item.user.father_name)}`
            }
          }),
          // executor: `${ created && created.last_name } ${ created && created.first_name[0] }. ${ created && created.father_name && created && created.father_name[0] }`,
	        executor: `${this.getDocumentResolution.lastName } ${ this.getFirstCharacter(this.getDocumentResolution.firstName) } ${ this.getDocumentResolution.fatherName && this.getFirstCharacter(this.getDocumentResolution.fatherName) }`,
          pageSize: format,
          checkId: first.check_id,
          isSigned: first.is_verified,
          shortDescription: first.content.replace(/(<([^>]+)>)/gi, ""),
          executionDate: first.assignment && first.assignment[0] && first.assignment[0].deadline ? this.$options.filters.filterDateMonthYear(first.assignment[0].deadline) : ""
        }

        this.$http.post(`/download_resolution_two/`, model)
        .then(({ data }) => {
          saveAs(base64toBlob(data.data, 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'), "template.docx")
        })
        .finally(() => {
          this.loading = false
        })
        return;
      }
      this.$toast.error(this.$t('components.chip-not-processed'))
    }
  }
}
</script>

<style>
.pdf-container .v-window__container {
  height: 100%;
}
</style>
