<template>
	<v-dialog
		v-model="dialog"
		max-width="1000"
		class="pa-16"
	>
		<div class="pdf-viewer-modal">
			<template
				v-if="
            url.split('.').pop().toLowerCase() === 'jpg' ||
            url.split('.').pop().toLowerCase() === 'jpeg' ||
            url.split('.').pop().toLowerCase() === 'png'
          "
			>
				<img :src="url" alt="Document image" class="mx-auto d-block"/>
			</template>
			<template v-else-if="url.split('.').pop().toLowerCase() === 'pdf'">
				<object
					:data='url'
					type="application/pdf"
					width="100%"
					height="800px"
				>

					<iframe
						:src='url'
						width="500"
						height="900"
					>
						<p>{{$t('components.browser-not-supported-pdf')}}</p>
					</iframe>
				</object>
			</template>
			<template v-else>
				<div class="d-flex align-center justify-center flex-column h-100 bg-white py-16">
					<h3 class="font-600">{{$t('components.unsupported-file-type')}}</h3>

					<a :href="url" :download="url" target="_blank" class="mt-4">
						<app-button>
							{{$t('components.upload-file')}}
							<template #append>
								<download-icon size="18" class="ml-1"/>
							</template>
						</app-button>
					</a>
				</div>
			</template>
		</div>
	</v-dialog>
</template>

<script>
import { DownloadIcon } from "vue-feather-icons";

export default {
	name: "PdfViewerModal",
	components: {
		DownloadIcon
	},
	data() {
		return {
			dialog: false,
			url: ""
		}
	}
}
</script>

<style scoped>

</style>
