<template>
  <app-wrapper class="shadow-6">
    <template #header>
      <h4 class="small-2 font-600">Ответственные люди</h4>
    </template>

    <template #body>
      <div class="mx-n5 px-5">
        <div
          class="overflow-hidden mb-4"
          :style="{
            maxHeight: isOpened ? 'initial' : '230px'
          }"
        >
          <div class="d-flex align-center small-2 text-decoration-none font-500 mb-5">
            <div class="d-flex">
              <svg xmlns="http://www.w3.org/2000/svg" width="17" height="18" viewBox="0 0 17 18" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M14.7991 5.58968C14.7991 5.13059 15.1713 4.75843 15.6304 4.75843C16.0895 4.75843 16.4616 5.13059 16.4616 5.58968V13.8528C16.4616 15.7752 14.9032 17.3337 12.9808 17.3337H4.14881C2.22639 17.3337 0.667969 15.7752 0.667969 13.8528V5.02085C0.667969 3.09843 2.22639 1.54001 4.14881 1.54001H12.1495C12.6086 1.54001 12.9808 1.91217 12.9808 2.37126C12.9808 2.83034 12.6086 3.2025 12.1495 3.2025H4.14881C3.14456 3.2025 2.33046 4.0166 2.33046 5.02085V13.8528C2.33046 14.8571 3.14456 15.6712 4.14881 15.6712H12.9808C13.985 15.6712 14.7991 14.8571 14.7991 13.8528V5.58968ZM15.5326 0.925005C15.8492 0.592545 16.3754 0.579678 16.7078 0.896265C17.0403 1.21285 17.0532 1.73901 16.7366 2.07147L8.77783 10.4292C8.46124 10.7617 7.93508 10.7746 7.60262 10.458C7.27016 10.1414 7.2573 9.61523 7.57388 9.28277L15.5326 0.925005Z"
                      fill="#5964D1"/>
              </svg>
            </div>
            <span class="flex-1 mx-2">Автор</span>

            <span class="primary-text">{{ owner.full_name }}</span>
          </div>

          <template v-for="item in agreedList">
            <div
              class="d-flex align-center small-2 text-decoration-none font-500 mb-5"
            >
              <div class="d-flex">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M4.0013 0.666992H14.0013C15.8423 0.666992 17.3346 2.15938 17.3346 4.00033V14.0003C17.3346 15.8413 15.8423 17.3337 14.0013 17.3337H4.0013C2.16035 17.3337 0.667969 15.8413 0.667969 14.0003V4.00033C0.667969 2.15938 2.16035 0.666992 4.0013 0.666992ZM4.0013 2.33366C3.08083 2.33366 2.33464 3.07985 2.33464 4.00033V14.0003C2.33464 14.9208 3.08083 15.667 4.0013 15.667H14.0013C14.9218 15.667 15.668 14.9208 15.668 14.0003V4.00033C15.668 3.07985 14.9218 2.33366 14.0013 2.33366H4.0013ZM5.42389 4.2444L5.66797 4.48848L6.74538 3.41107C7.07082 3.08563 7.59845 3.08563 7.92389 3.41107C8.24933 3.73651 8.24933 4.26414 7.92389 4.58958L6.25722 6.25625C5.93179 6.58169 5.40415 6.58169 5.07871 6.25625L4.24538 5.42291C3.91994 5.09748 3.91994 4.56984 4.24538 4.2444C4.57082 3.91897 5.09845 3.91897 5.42389 4.2444ZM9.8336 5.66699C9.37336 5.66642 9.00073 5.29286 9.0013 4.83262C9.00187 4.37239 9.37543 3.99975 9.83567 4.00033L13.1534 4.00445C13.6137 4.00502 13.9863 4.37858 13.9857 4.83881C13.9852 5.29905 13.6116 5.67168 13.1514 5.67111L9.8336 5.66699ZM9.8336 9.83366C9.37336 9.83309 9.00073 9.45953 9.0013 8.99929C9.00187 8.53905 9.37543 8.16642 9.83567 8.16699L13.1534 8.17111C13.6137 8.17168 13.9863 8.54524 13.9857 9.00548C13.9852 9.46572 13.6116 9.83835 13.1514 9.83778L9.8336 9.83366ZM9.8336 14.0003C9.37336 13.9998 9.00073 13.6262 9.0013 13.166C9.00187 12.7057 9.37543 12.3331 9.83567 12.3337L13.1534 12.3378C13.6137 12.3384 13.9863 12.7119 13.9857 13.1721C13.9852 13.6324 13.6116 14.005 13.1514 14.0044L9.8336 14.0003ZM5.42389 8.41107L5.66797 8.65515L6.74538 7.57774C7.07082 7.2523 7.59845 7.2523 7.92389 7.57774C8.24933 7.90317 8.24933 8.43081 7.92389 8.75625L6.25722 10.4229C5.93179 10.7484 5.40415 10.7484 5.07871 10.4229L4.24538 9.58958C3.91994 9.26414 3.91994 8.73651 4.24538 8.41107C4.57082 8.08563 5.09845 8.08563 5.42389 8.41107ZM5.42389 12.5777L5.66797 12.8218L6.74538 11.7444C7.07082 11.419 7.59845 11.419 7.92389 11.7444C8.24933 12.0698 8.24933 12.5975 7.92389 12.9229L6.25722 14.5896C5.93179 14.915 5.40415 14.915 5.07871 14.5896L4.24538 13.7562C3.91994 13.4308 3.91994 12.9032 4.24538 12.5777C4.57082 12.2523 5.09845 12.2523 5.42389 12.5777Z"
                        fill="#5964D1"/>
                </svg>
              </div>
              <span class="flex-1 mx-2">Согласование</span>

              <span class="primary-text">{{ item.user && item.user.full_name }}</span>
            </div>
          </template>

          <template v-for="(item, index) in signersList">
            <div
              class="d-flex align-center small-2 text-decoration-none font-500"
              :class="{'mb-5': signersList.length !== index + 1}"
            >
              <div class="d-flex">
                <svg width="17" height="17" viewBox="0 0 17 17" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M13.8854 5.33041L14.8144 4.40145L12.7668 2.35389L11.8379 3.28286L13.8854 5.33041ZM12.7131 6.50272L10.6656 4.45517L3.00601 12.1147L2.53475 14.6335L5.05357 14.1623L12.7131 6.50272ZM16.0362 3.27865C16.6563 3.89875 16.6563 4.90414 16.0362 5.52425L6.04442 15.5161C5.92621 15.6343 5.77503 15.714 5.61071 15.7447L1.64976 16.4858C1.077 16.593 0.575342 16.0913 0.682506 15.5185L1.42359 11.5576C1.45433 11.3933 1.53403 11.2421 1.65224 11.1239L11.644 1.13207C12.2642 0.511966 13.2695 0.511966 13.8896 1.13207L16.0362 3.27865ZM15.6762 16.5003H8.99305C7.89294 16.5003 7.89294 14.8337 8.99305 14.8337H15.6762C16.7763 14.8337 16.7763 16.5003 15.6762 16.5003Z"
                        fill="#5964D1"/>
                </svg>
              </div>
              <span class="flex-1 mx-2">Подписант</span>

              <span class="primary-text">{{ item.user && item.user.full_name }}</span>
            </div>
          </template>
        </div>

        <div v-if="[...agreedList, ...signersList].length > 5"  class="text-center">
          <v-btn
            color="primary"
            depressed
            small
            outlined
            text
            @click="isOpened = !isOpened"
          >
            <div class="d-flex align-center">
              <span class="mr-1 line-base">{{ isOpened ? $t("close-all") : $t("open-all") }}</span>

              <chevron-down-icon v-if="!isOpened" size="18" />
              <chevron-up-icon v-else size="18" />
            </div>
          </v-btn>
        </div>
      </div>
    </template>
  </app-wrapper>
</template>

<script>
import { ChevronDownIcon, ChevronUpIcon } from "vue-feather-icons"

export default {
	name: "ProcessPeopleBlock",
	props: {
		owner: {
			type: Object,
      default: () => {}
    },
    /*
    *
    * */
		agreedList: {
			type: Array,
			default: () => []
		},
    /*
    *
    * */
    signersList: {
			type: Array,
      default: () => []
    }
	},
  components: {
	  ChevronDownIcon,
    ChevronUpIcon
  },
	data() {
		return {
			isOpened: false
		}
	}
}
</script>
