<template>
  <div>
    <app-button
      @click="dialog = true"
      :disabled="Boolean($route.query.type === 'for_watching_process')"
    >
      {{ $t(title) }}
    </app-button>

    <!-- Resolution content modal -->
    <v-dialog
      v-model="dialog"
      max-width="500"
      content-class="reset-dialog-style"
    >
      <div class="bg-white rounded">
        <div class="d-flex align-center justify-space-between pa-4">
          <h4 class="font-600 mr-4">
            {{ $t(titleDialog) }}
          </h4>

          <app-button
            color="error"
            icon
            min-width="30"
            width="30"
            height="30"
            @click="dialog = false"
          >
            <x-icon size="16" class="d-block" />
          </app-button>
        </div>

        <div class="border-top border-bottom">
          <template v-if="searchBarVisible">
            <div class="app-input px-3 mt-3">
              <v-text-field
                v-model="search"
                hide-details
                outlined
                background-color="var(--input-bg)"
                dense
                clearable
                :placeholder="$t('components.search')"
              ></v-text-field>
            </div>
          </template>

          <perfect-scrollbar style="max-height: 450px">
            <v-list :two-line="multiple">
              <v-list-item-group
                v-model="selectedList"
                color="primary"
                :multiple="multiple"
              >
                <template v-if="multiple">
                  <v-list-item
                    v-for="(item, i) in list"
                    :key="i"
                  >
                    <template v-slot:default="{ active }">
                      <v-list-item-action class="mr-4">
                        <v-checkbox :input-value="active"></v-checkbox>
                      </v-list-item-action>

                      <app-avatar
                        v-if="item.user"
                        :color="item.user.color"
                        :fullName="item.user.first_name"
                        avatar-size="40"
                      />

                      <v-list-item-content class="ml-2">
                        <v-list-item-title v-if="item.user" class="d-flex align-center justify-space-between mb-1">
                          <span class="small-2 font-500">
                            {{ item.user.last_name }}
                            {{ item.user.first_name | getFirstCharacter }}
                            {{ item.user.father_name | getFirstCharacter }}
                          </span>

                          <span class="small-2 font-500">
                            {{ item.performance_date | filterCalendarToTime }}
                          </span>
                        </v-list-item-title>

                        <v-list-item-subtitle>
                          <app-tooltip top max-width="400" content-classes="d-inline-block w-100">
                            <template #text>
                              <div v-html="item.performance_note" class="reset-space"></div>
                            </template>

                            <template #content>
                              <div v-html="item.performance_note" class="text-truncate reset-space"></div>
                            </template>
                          </app-tooltip>
                        </v-list-item-subtitle>
                      </v-list-item-content>
                    </template>
                  </v-list-item>
                </template>

                <template v-else>
                  <v-list-item
                    v-for="(item, i) in list"
                    :key="i"
                    @click="selectedItem(item)"
                  >
                    <div class="d-flex py-2 font-500 small-2 mb-1 w-100">
                      <span class="mr-3">{{ i + 1 }}.</span>

                      <span v-html="hasFilial ? item.name : item.title ? item.title : item.description.substring(0, 400)" class="reset-space flex-1"></span>
                    </div>
                  </v-list-item>
                </template>
              </v-list-item-group>
            </v-list>

            <template v-if="list.length >= 10">
              <div
                v-if="!fullLoaded"
                v-intersect="{
                handler: onIntersect,
                options: {
                  threshold: [0, 1.0, 1.0]
                }
              }"
                class="pa-4 text-center"
              >
                <app-loader />
              </div>
            </template>
          </perfect-scrollbar>
        </div>

        <template v-if="hasAction">
          <div class="py-2 px-4 text-center">
            <app-button @click="appendList">
              <template #prepend>
                <plus-circle-icon size="18" />
              </template>

              Добавить
            </app-button>
          </div>
        </template>

        <div class="py-2 px-4 text-center">
          <app-button @click="appendList" :to="{ name: hasFilial ? 'ResolutionContent' : 'CreateTemplate' }">
            <template #prepend>
              <plus-circle-icon size="18" />
            </template>

            Добавить шаблон
          </app-button>
        </div>
      </div>
    </v-dialog>
    <!-- Resolution content modal -->
  </div>
</template>

<script>
import { debounce } from "lodash/function"
import { XIcon, PlusCircleIcon } from "vue-feather-icons"
import { mapGetters } from "vuex"

export default {
  name: "ResolutionContentModal",
  props: {
		apiUrl: {
			type: String,
      default: "resolution_text"
    },
	  apiParams: {
		  type: Object,
		  default: () => {}
	  },
		multiple: {
			type: Boolean,
      default: false
    },
    searchBarVisible: {
			type: Boolean,
      default: true
    },
    title: {
			type: String,
      default: "components.add-template"
    },
    titleDialog: {
	    type: String,
	    default: "components.add-content-resolution"
    },
    hasAction: {
			type: Boolean,
      default: false
    },
	  hasFilial: {
			type: Boolean,
		  default: true
	  }
  },
  components: {
    XIcon,
	  PlusCircleIcon
  },
  data() {
    return {
      dialog: false,
      page: 1,
      list: [],
      fullLoaded: false,
      search: null,
	    selectedList: []
    }
  },
  computed: {
    ...mapGetters({
      currentUser: "auth/getCurrentUser"
    })
  },
  created() {
    this.resolutionList({
      search: this.search,
      page: this.page
    })
  },
  watch: {
    'search'(val) {
      this.page = 1

      this.resolutionSearch({
        search: val,
        page: this.page
      })
    }
  },
  methods: {
    selectedItem(item) {
      this.$emit("emit:up", item)

      this.dialog = !this.dialog
    },
    /*
    *
    * */
	  appendList() {
			if(!this.selectedList.length) {
				this.$toast.error("Выберите текст из пользователей")
				return;
      }

			let modelList = []

			for (let key in this.selectedList) {
				modelList.push(this.list[this.selectedList[key]])
      }

      this.$emit("emit:up", modelList)

		  this.dialog = !this.dialog
	  },
    /*
    *
    * */
    fetchResolutionContentList(payload) {
      return new Promise((resolve, reject) => {
        this.$http.get(this.hasFilial ? `/docflow/${this.currentUser.filial}/${this.apiUrl}/` : this.apiUrl, {
          params: {
            page_size: 15,
            ...payload,
	          ...this.apiParams
          }
        })
        .then(({ data }) => {
          resolve(data)
        })
        .catch(() => {
          reject()
        })
      })
    },
    /*
    *
    * */
    resolutionList(payload) {
      this.fetchResolutionContentList(payload)
      .then((data) => {
        if(!data.results.length) {
          this.fullLoaded = true

          return
        }

        this.list.push(...data.results)
      })
    },
    /*
    *
    * */
    resolutionSearch: debounce(function(payload) {
      this.fetchResolutionContentList(payload)
      .then((data) => {
        this.list = data.results
      })
    }, 500),
    /*
    *
    * */
    onIntersect: debounce(function(entries) {
      if(entries[0].intersectionRatio >= 0.5) {
        ++this.page

        this.resolutionList({
          search: this.search,
          page: this.page
        });
      }
    }, 500)
  },
}
</script>
