<template>
  <div class="generate-sheet d-flex flex-1">
    <div class="generate-pdf-area p-relative d-flex flex-column flex-1 pa-5">
      <div>
        <v-row no-gutters>
          <v-col md="8">
            <img src="/img/logo_asaka_3.svg" alt="Logo Asakabank" class="mb-4">
          </v-col>
        </v-row>
      </div>

      <div class="flex-1">
        <span v-html="letterProps.text" class="small-2 reset-space"></span>
      </div>

      <div class="mt-10 pt-10">
        <div v-if="letterProps.recruiter" class="d-flex align-center justify-space-between text-dark small-3 mb-1 font-600">
          <template>
            <span>{{ letterProps.recruiter.position }}</span>
            <span v-if="letterProps.recruiterSigned" class="my-4">
              <qrcode-vue
                ref="qrCode"
                :value="'https://check.asakabank.uz/document/'+letterProps.checkId"
                size="70"
                level="L"
                render-as="svg"
              />
            </span>
            <span>{{ letterProps.recruiter.first_name && letterProps.recruiter.first_name | getFirstCharacter }} {{ letterProps.recruiter.last_name }}</span>
          </template>
        </div>

        <div v-if="letterProps.director" class="d-flex align-center justify-space-between text-dark small-3 mb-1 font-600">
          <template>
            <span>{{ letterProps.director.position }}</span>
            <span v-if="letterProps.directorSigned" class="my-4">
              <qrcode-vue
                ref="qrCode"
                :value="'https://check.asakabank.uz/document/'+letterProps.checkId"
                size="70"
                level="L"
                render-as="svg"
              />
            </span>
            <span>{{ letterProps.director.first_name && letterProps.director.first_name | getFirstCharacter }} {{ letterProps.director.last_name }}</span>
          </template>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import QrcodeVue from 'qrcode.vue'

export default {
  name: "ScoreSheetLetterTemplate",
  props: {
    letterProps: {
      type: Object,
      default: () => {}
    },
  },
  components: {
    QrcodeVue
  }
}
</script>
