<template>
	<div>
		<v-autocomplete
			v-model="content"
			:search-input.sync="userSearch"
			:items="usersList"
			v-bind="$attrs"
			v-on="$listeners"
			outlined
			hide-details
			clearable
			clear-icon="mdi-close"
		>
			<template #append>
				<v-icon>mdi-chevron-down</v-icon>
			</template>

			<template v-slot:item="data">
				<v-list-item-avatar :color="data.item.color">
					<template v-if="data.item.avatar">
						<img :src="data.item.avatar" alt="Avatar image" />
					</template>

					<template v-else>
						<span class="text-white">{{ data.item.full_name | getFirstCharacterWithoutDot }}</span>
					</template>
				</v-list-item-avatar>
				<v-list-item-content>
					<v-list-item-title v-html="data.item.full_name"></v-list-item-title>
					<v-list-item-subtitle>
						<span>{{ data.item.position }} - </span>
						<span class="font-600 small-3 text-2">{{ data.item.condition_name }}</span>
					</v-list-item-subtitle>
				</v-list-item-content>
			</template>
		</v-autocomplete>
	</div>
</template>

<script>
import { mapActions, mapGetters } from "vuex"

export default {
	name: "SearchUsersBelow",
	props: {
		value: {
			type: [Number, String, Array, Object],
			default: () => ""
		},
	},
	data() {
		return {
			userSearch: null,
			usersList: null
		}
	},
	computed: {
		...mapGetters({
			getUsersBelowList: "documentFlowModule/getUsersBelowList"
		}),
		/*
		*
		* */
		content: {
			get() {
				return this.value;
			},
			set(value) {
				this.$emit("input", value);
			}
		}
	},
	watch: {
		userSearch(search) {
			this.fetchUsersBelow({ search })
				.then((data) => {
					this.usersList = data
				})
		}
	},
	created() {
		this.fetchUsersBelow({ search: null })
		.then((data) => {
			this.usersList = data
		})
	},
	methods: {
		...mapActions({
			fetchUsersBelow: "documentFlowModule/fetchUsersBelow"
		})
	}
}
</script>
