<template>
  <div>Content</div>
</template>

<script>
export default {
  name: "TextDifferentContent"
}
</script>

<style scoped>
del {
  text-decoration: none;
  color: #b30000;
  background: #fadad7;
}
ins {
  background: #eaf2c2;
  color: #406619;
  text-decoration: none;
}
</style>
