<template>
  <div class="content-diff-view">
    <template v-if="list.length">
      <v-card elevation="0">
        <v-tabs
          center-active
        >
        <app-tooltip v-for="(item, index) in list" :key="index" top>
          <template #content>
            <v-tab
              :key="item.id"
              class="h-100"
              @click="$emit('emit:up', item)"
            >
              <file-text-icon />
            </v-tab>
          </template>

          <template #text>
            <h4 class="font-400">
              <span>{{ $t('components.author') }}: </span>
              <span>{{ item.created_by && item.created_by.full_name }}</span>
            </h4>
            <h4 class="font-400">
              <span>{{$t('components.change-date')}}: </span>
              <span>{{ item.created_date | filterCalendarToTime }}</span>
            </h4>
          </template>
        </app-tooltip>
        </v-tabs>
      </v-card>
    </template>
  </div>
</template>

<script>
import { FileTextIcon } from "vue-feather-icons"
import { mapGetters } from "vuex"

export default {
  name: "TextDifferentSlide",
  props: {
    documentId: {
      type: [Number, String]
    }
  },
  components: {
    FileTextIcon
  },
  data() {
    return {
      list: []
    }
  },
  computed: {
    ...mapGetters({
      currentUser: "auth/getCurrentUser"
    })
  },
  watch: {
    documentId: {
      handler(val) {
        if(val) {
          this.getHistoryList()
        }
      },
      immediate: true
    }
  },
  methods: {
    getHistoryList() {
      this.$axios.get(`/docflow/${this.currentUser.filial}/text/history/`, {
        params: {
          page_size: 100,
          object_id: this.documentId
        }
      })
      .then(({ data }) => {
        this.list = data.results
      })
    }
  }
}
</script>

<style>
.content-diff-view {
  width: 0;
  min-width: 100%;
}
</style>
