<template>
  <app-wrapper class="shadow-6">
    <template #header>
      <h4 class="small-2 font-600">Процесс</h4>
    </template>

    <template #body>
      <div class="mx-n5 px-5">
        <div
          class="overflow-hidden mb-4"
          :style="{
            maxHeight: isOpened ? 'initial' : '230px'
          }"
        >
          <div class="app-timeline">
            <v-timeline dense>
              <v-timeline-item
                color="primary"
                small
                class="timeline-active"
              >
                <div class="d-flex align-center small-2 font-500">
                  {{ owner.last_name }}
                  {{ owner.first_name }}

                  <span class="ml-auto">
                    <span
                      v-if="!['protocol', 'credit_committee'].includes(model.type)"
                      class="mr-4"
                    >{{ model.created_date | filterCalendarToTime }}</span>

                    <span class="primary-text">Автор</span>
                  </span>
                </div>
              </v-timeline-item>

              <template v-for="item in agreedList">
                <v-timeline-item
                  :color="item.is_agreed === null ? 'transparent' : item.is_agreed ? 'primary' : 'error'"
                  small
                  :class="item.is_agreed === null ? 'timeline-start' : item.is_agreed ? 'timeline-active' : 'timeline-error'"
                >
                  <div class="d-flex align-center small-2 font-500">
                    {{ item.user && item.user.last_name }}
                    {{ item.user && item.user.first_name }}

                    <span class="d-flex align-center ml-auto">
<!--                      <template v-if="!['protocol', 'credit_committee'].includes(model.type)">-->
                        <span v-if="item.action_time" class="d-flex align-center mr-3">
                          <clock-icon size="16" class="mr-2"/>

                          {{ item.action_time | filterCalendarToTime }}
                        </span>
<!--                      </template>-->

                      <template v-if="item.is_agreed === false && !item.condition">
                        <app-tooltip top>
                          <template #content>
                            <info-icon color="#ff2200" size="18" class="d-flex mr-3"/>
                          </template>
                          <template #text>
                            <p class="mb-1 text-center">Причина не согласование</p>
                            <span v-html="item.reason" />
                          </template>
                        </app-tooltip>
                      </template>

                      <span class="timeline-action">
                        {{ item.is_agreed === null ? 'Не проверен' : item.is_agreed ? 'Согласен' : 'Несогласен'}}
                      </span>
                    </span>
                  </div>
                </v-timeline-item>
              </template>

              <template v-for="item in signersList">
                <v-timeline-item
                  :color="item.is_signed === null ? 'transparent' : item.is_signed ? 'primary' : 'error'"
                  small
                  :class="item.is_signed === null ? 'timeline-start' : item.is_signed ? 'timeline-active' : 'timeline-error'"
                >
                  <div class="d-flex align-start small-2 font-500">
                    {{ item.user && item.user.last_name }}
                    {{ item.user && item.user.first_name }}

                    <span class="d-flex ml-auto">
<!--                      <template v-if="!['protocol', 'credit_committee'].includes(model.type)">-->
                        <span v-if="item.action_time" class="d-flex align-center mr-4">
                          <clock-icon size="16" class="mr-2"/>
                          {{ item.action_time | filterCalendarToTime }}
                        </span>
<!--                      </template>-->

	                    <template v-if="canChangeVisibility">
	                      <app-tooltip top>
	                        <template #content>
	                          <v-icon @click="$emit('toggleVisibility', item)" class="d-flex mr-2 pointer" color="primary" size="20">
		                          {{ item.do_all_agree ? 'mdi-eye-outline' : 'mdi-eye-off-outline' }}
	                          </v-icon>
	                        </template>

	                        <template #text>
	                          <p class="mb-1 text-center">{{ item.do_all_agree ? 'Сделать невидимым' : 'Сделать видимым' }}</p>
	                        </template>
                       </app-tooltip>
	                    </template>

	                    <template v-else>
		                    <app-tooltip top>
	                        <template #content>
	                          <v-icon class="d-flex mr-2" color="primary" size="20">
		                          {{ item.do_all_agree ? 'mdi-eye-outline' : 'mdi-eye-off-outline' }}
	                          </v-icon>
	                        </template>

	                        <template #text>
	                          <p class="mb-1 text-center">{{ item.do_all_agree ? 'виден подписанту' : 'не виден подписанту' }}</p>
	                        </template>
                       </app-tooltip>
	                    </template>

                      <template v-if="item.is_signed === false && !item.condition">

	                      <template v-if="model.type === 'protocol' && ['admin', 'chancellery_admin'].includes(currentUser.role)">
		                      <app-tooltip top>
                          <template #content>
	                          <v-icon @click="$emit('restartSignature', item)" class="d-flex mr-2 pointer" color="primary" size="20">mdi-refresh</v-icon>
                          </template>

                          <template #text>
                            <p class="mb-1 text-center">Перезапустить подпись</p>
                          </template>
                         </app-tooltip>
	                      </template>


                        <app-tooltip top>
                          <template #content>
                            <info-icon color="#ff2200" size="18" class="d-flex mr-2"/>
                          </template>

                          <template #text>
                            <p class="mb-1 text-center">Причина не подписана</p>
                            <span v-if="item.reason" v-html="item.reason" />
                          </template>
                        </app-tooltip>
                      </template>

                      <span v-if="item.condition && returnCondition(item.condition)" class="timeline-action">
                        {{ returnCondition(item.condition) }}
                      </span>

                      <span v-else class="timeline-action">
                        {{ item.is_signed === true ? 'Подписан' : item.is_signed === false ? 'Отказано' : 'Не подписан'}}
                      </span>
                    </span>
                  </div>
                </v-timeline-item>
              </template>
            </v-timeline>
          </div>
        </div>
      </div>

      <div v-if="[...agreedList, ...signersList].length > 5" class="text-center">
        <v-btn
          color="primary"
          depressed
          small
          outlined
          text
          @click="isOpened = !isOpened"
        >
          <div class="d-flex align-center">
            <span class="mr-1 line-base">{{ isOpened ? $t("close-all") : $t("open-all") }}</span>

            <chevron-down-icon v-if="!isOpened" size="18" />
            <chevron-up-icon v-else size="18" />
          </div>
        </v-btn>
      </div>
    </template>
  </app-wrapper>
</template>

<script>
import { ChevronDownIcon, ChevronUpIcon, ClockIcon, InfoIcon } from "vue-feather-icons"
import {mapGetters} from "vuex";

export default {
	name: "TimelinePeopleBlock",
	props: {
		model: {
			type: Object,
			default: () => {}
		},
    /*
    *
    * */
		owner: {
			type: Object,
			default: () => {}
		},
		/*
    *
    * */
		agreedList: {
			type: Array,
			default: () => []
		},
		/*
    *
    * */
		signersList: {
			type: Array,
			default: () => []
		}
	},
	components: {
		ChevronDownIcon,
		ChevronUpIcon,
		ClockIcon,
		InfoIcon
	},
	computed: {
		...mapGetters({
			currentUser: "auth/getCurrentUser"
		}),
    canChangeVisibility() {
      return (this.model.type === 'protocol' && ['admin', 'chancellery_admin'].includes(this.currentUser.role)) ||
          (this.model.type === 'trip_license' && (['admin'].includes(this.currentUser.role) || this.currentUser.id === 5677))
    }
	},
	data() {
		return {
			isOpened: false
		}
	},
  methods: {
	  returnCondition(condition) {
		  if (condition === 'vacation'){
			  return 'Mehnat ta\'tilida'
		  }else if (condition === 'business_trip') {
			  return 'Xizmat safarida'
		  }else if (condition === 'unpaid_leave') {
			  return 'O\'z hisobidan ta\'tilda'
		  }else if (condition === 'sick') {
			  return 'Kasallik varaqasida'
		  }else {
			  return null
		  }
	  },
  }
}
</script>

<style>
.v-timeline-item__dot--small {
	background: #fff!important;
}
</style>
