<template>
  <div>
    <slot name="controller" />

    <router-link
      :to="{
        name: queryType.urlName,
        params: {
          assignmentId: assignment.id
        },
        query: {
          type: queryType.type
        }
      }"
        class="tree-user-item chaining-border--left p-relative transition-all d-flex align-center pa-2 rounded-lg pointer text-decoration-none text-dark"
    >
      <div class="mr-2 p-relative">
        <v-avatar
          :color="assignment.user.color"
          size="38"
          class="object-cover w-100 h-100"
          style="z-index: 1;"
        >
          <template v-if="assignment.user.avatar">
            <img
              :src="assignment.user.avatar.url"
              alt="Avatar image"
              class="img-cover"
            >
          </template>

          <template v-else>
            <span class="white--text small-3">
              {{ assignment.user.full_name | getFirstCharacterWithoutDot }}
            </span>
          </template>
        </v-avatar>

        <app-tooltip right>
          <template #content>
            <div class="avatar-badge p-absolute d-flex align-center justify-center rounded-circle bg-4">
              <!-- Документ еще на ознакомлен -->
              <v-icon v-if="!assignment.is_read" color="var(--primary-4)" size="16">mdi-help-circle</v-icon>

              <!-- Документ ознакомлен -->
              <v-icon v-if="assignment.is_read && !assignment.is_performed" color="var(--primary-3)" size="16">mdi-star-circle</v-icon>

              <!-- Документ исполнен -->
              <v-icon v-if="assignment.is_read && assignment.is_performed" color="var(--primary-2)" size="16">mdi-check-circle</v-icon>
            </div>
          </template>

          <template #text>
            <!-- Документ еще на ознакомлен -->
            <span v-if="!assignment.is_read">
              {{$t('components.document-not-found')}}
            </span>

            <!-- Документ ознакомлен -->
            <span v-if="assignment.is_read && !assignment.is_performed">
              {{$t('components.document-read')}} {{ assignment.read_time | filterCalendarToTime }}
            </span>

            <!-- Документ исполнен -->
            <span v-if="assignment.is_read && assignment.is_performed">
              {{$t('components.document-executed')}} {{ assignment.performance_date | filterCalendarToTime }}
            </span>
          </template>
        </app-tooltip>
      </div>

      <app-tooltip top>
        <template #content>
          <div class="d-flex flex-column">
            <div class="line-base">
              <span class="small-2 font-500">
                <span class="d-inline-block error-text">
                  {{ assignment.type === 'assignment'
                  ? $t('components.orders')
                  : assignment.type === 'control_point'
                    ? $t('components.control-point')
                    : $t('components.for-information')
                  }}:
                </span>
                {{ assignment.user.last_name }} {{ assignment.user.first_name && assignment.user.first_name | getFirstCharacter }} {{ assignment.user.father_name && assignment.user.father_name | getFirstCharacter }}
              </span>
            </div>

            <div
              class="small-3 font-600 text-2"
              :style="{margin: assignment.user.cisco ? '3px 0' : '4px 0' }"
            >
              {{ assignment.user.cisco && $t('components.cisco-number') + ': ' + '(' + assignment.user.cisco + ')' }}
            </div>

            <div
              v-if="assignment.created_date"
              class="d-flex align-center text-1 font-500 line-base"
              style="font-size: 11px"
            >
              <span v-if="assignment.is_responsible" class="mr-2 error-text">{{$t('components.assignment-created-date')}}</span>
              {{ $t('components.added') }}: {{ assignment.created_date | filterCalendarToTime }}
            </div>
          </div>
        </template>

        <template #text>
          {{ assignment.user.last_name }} {{ assignment.user.first_name }} {{ assignment.user.father_name }}
        </template>
      </app-tooltip>

    </router-link>

    <div
      v-if="assignment.children && assignment.children.length > 0"
      class="child-items"
    >
<!--      <pre>{{ assignment.children[0].assignment }}</pre>-->

      <tree-users-item
        v-for="child in assignment.children"
        :key="child.id"
        :assignment="child"
        :query-type="queryType"
      >
      </tree-users-item>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "TreeUsersItem",
  props: {
    // item: {
    //   type: Object,
    //   default: () => {}
    // },
    assignment: {
      type: Object,
      default: () => {}
    },
    list: {
      type: Array,
      default: () => []
    },
    queryType: {
      type: Object,
      default: () => {}
    }
  },
  mounted() {
		this.fetchSetCurrentUserInTree(this.assignment)
  },
  methods: {
		...mapActions({
			fetchSetCurrentUserInTree: "documentFlowModule/fetchSetCurrentUserInTree"
    })
  }
}
</script>

<style>
.tree-user-item:hover {
  background: rgb(187 187 187 / 20%);
}

.child-items .chaining-border--left::before {
  content: "";
  position: absolute;
  left: -11px;
  width: 30px;
  border: 1px dashed #bbb;
}
</style>
