<template>
	<div class="h-100">
    <app-loader
      v-if="getUserTreeLoading"
      component-based
    />

    <template v-else>
      <div v-for="(item, index) in getAssignedUsersTreeList" :key="index">
        <div class="d-flex align-center mb-3">
          <h4 class="font-600 mr-2">{{$t('components.for-consideration')}}:</h4>
          <span class="small-2">{{ item.created_date | filterCalendarToTime }}</span>
        </div>
        <div class="mb-4 p-relative">
          <div class="chaining-border"></div>

          <div @click="showDocumentResolution(item)" class=" d-flex align-center pb-2 pointer">
            <div class="p-relative mr-2">
              <v-avatar
                :color="item.creator.color"
                size="38"
                style="z-index: 1;"
              >
                <template v-if="item.creator.avatar">
                  <img
                    :src="item.creator.avatar.url"
                    alt="Avatar image"
                    class="object-cover w-100 h-100"
                  >
                </template>

                <template v-else>
                  <span class="white--text small-3">
                    {{ item.creator.full_name | getFirstCharacterWithoutDot }}
                  </span>
                </template>
              </v-avatar>

              <app-tooltip right>
                <template #content>
                  <div class="avatar-badge p-absolute d-flex align-center justify-center rounded-circle bg-4">
                    <!-- Документ еще на ознакомлен -->
                    <v-icon v-if="!item.creator_read_time" color="var(--primary-4)" size="16">mdi-help-circle</v-icon>

                    <!-- Документ исполнен -->
                    <v-icon v-else-if="item.status === 4" color="var(--primary-2)" size="16">mdi-check-circle</v-icon>

                    <!-- Документ ознакомлен -->
                    <v-icon v-else color="var(--primary-3)" size="16">mdi-star-circle</v-icon>
                  </div>
                </template>

                <template #text>
                  <!-- Документ еще на ознакомлен -->
                  <span v-if="!item.creator_read_time">
                    {{$t('components.document-not-found')}}
                  </span>

                  <!-- Документ исполнен -->
                  <span v-else-if="item.status === 4">
                    {{$t('components.document-executed')}}
                  </span>

                  <!-- Документ ознакомлен -->
                  <span v-else>
                    {{$t('components.document-read')}} {{ item.creator_read_time | filterCalendarToTime }}
                  </span>
                </template>
              </app-tooltip>
            </div>

            <span class="small-2 font-600">{{ item.creator.last_name }} {{ item.creator.first_name && item.creator.first_name | getFirstCharacter }} {{ item.creator.father_name && item.creator.father_name | getFirstCharacter }} </span>
          </div>

          <!-- For single block users -->
<!--          <template>-->
<!--            <tree-users-item-->
<!--              v-for="assignment in item.children"-->
<!--              :key="assignment.id"-->
<!--              :assignment="assignment"-->
<!--              :query-type="queryType"-->
<!--              class="parent-items"-->
<!--            />-->
<!--          </template>-->
          <!-- /For single block users -->

          <!-- For multiple block users -->
          <template v-for="assignment in item.children">
            <tree-users-item
              v-for="item in assignment"
              :key="item.id"
              :assignment="item"
              :query-type="queryType"
              class="parent-items"
            >
            </tree-users-item>
          </template>
          <!-- /For multiple block users -->
        </div>
      </div>
    </template>
	</div>
</template>

<script>
import { mapActions, mapGetters } from "vuex"

export default {
	name: "TreeUsers",
  props: {
    viewType: {
      type: String,
      default: "inbox"
    },
    treeId: {
      type: [String, Number],
      default: ""
    },
  },
  components: {
    TreeUsersItem: () => import("@/common/components/TreeUsersItem")
  },
  data() {
		return {
			currentTreeUser: {}
    }
  },
	computed: {
		...mapGetters({
      currentUser: "auth/getCurrentUser",
			getAssignedUsersTreeList: "documentFlowModule/getAssignedUsersTreeList",
      getUserTreeLoading: "documentFlowModule/getUserTreeLoading",
			getCurrentUserInTree: "documentFlowModule/getCurrentUserInTree",
		}),
    /*
    *
    * */
    queryType() {
      switch (this.viewType) {
        case "review":
          return {
            type: "review",
            urlName: "CompletionNoteFinishedReview"
          }
        case "incoming":
          return {
            type: "incoming",
            urlName: "CompletionNoteFinishedIncoming"
          }
        case "inner":
          return {
            type: "inner",
            urlName: "CompletionNoteFinishedInner"
          }
        case "protocol":
          return {
            type: "protocol",
            urlName: "CompletionNoteFinishedProtocol"
          }
        default:
          return {
            type: "inbox",
            urlName: "CompletionNoteFinished"
          }
      }
    },
		/*
		*
		* */
		normalizeTree() {
			if(Object.keys(this.getAssignedUsersTreeList).length) {
        return this.getAssignedUsersTreeList
			}
		}
	},
  watch: {
    treeId: {
      handler(val) {
        if (val){
	        this.fetchAssignedUsersTree({
		        treeId: val
	        })
		        .then(() => {
			        setTimeout(() => {
				        let creator = this.getAssignedUsersTreeList.find(({ creator }) => (creator.id === this.currentUser.id) || (creator.assistants && creator.assistants[0] === this.currentUser.id)) || this.getAssignedUsersTreeList[0]
				        // let creator = this.getAssignedUsersTreeList.find(({ creator }) => creator.id === this.currentUser.id) || this.getCurrentUserInTree || this.getAssignedUsersTreeList[0]

				        this.showDocumentResolution(creator)
			        }, 1500)
		        })
        }
      },
      deep: true,
      immediate: true
    },
  },
  beforeDestroy() {
	  this.$store.state.documentFlowModule.assignedUsersTreeList = []
  },
	methods: {
	  ...mapActions({
      fetchInboxListAll: "documentFlowModule/fetchInboxListAll",
      fetchDocumentResolution: "documentFlowModule/fetchDocumentResolution",
      fetchAssignedUsersTree: "documentFlowModule/fetchAssignedUsersTree",
    }),
    /*
    *
    * */
    showDocumentResolution(item) {
      if(item) {
        this.fetchDocumentResolution({
          review: item.review,
          is_project_resolution: "True",
          ordering: 'id',
          currentUserId: item.creator && item.creator.id,
          creatorFullName: item.creator.full_name,
          firstName: item.creator.first_name,
          lastName: item.creator.last_name,
          fatherName: item.creator.father_name ? item.creator.father_name : "",
        })
      }
    }
  }
}
</script>

<style>
.tree-user-item.router-link-active {
	color: var(--primary-1) !important;
}

.parent-items {
  padding-left: 32px;
}

.parent-items > .tree-user-item {
  margin-left: -40px;
}
</style>
