<template>
	<div class="trip-license-process">
		<div class="d-flex flex-column mt-4">
			<v-row v-for="(item, index) in signers" :key="item.actionTime" class="ma-0 pa-0">
				<v-col md="5" class="ma-0 pa-0">
					<trip-license-process-card
						v-if="item.direction === 'left'"
						:item="item"
						:last-destination="lastDestination(item, index)"
					/>
					<span v-else class="d-block text-right small-3 text-3 mt-2">{{ item.actionTime | filterDateMonthYear }}</span>
				</v-col>

				<v-col md="2" class="ma-0 pa-0 d-flex flex-column align-center">
					<div
						class="d-flex justify-center align-center rounded-50"
						style="height: 32px; width: 32px;"
						:style="lastDestination(item, index) ? 'border: 1px solid var(--primary-2)' : 'border: 1px solid var(--primary-1)'"
					>
						<div
							class="d-flex justify-center align-center rounded-50"
							:class="lastDestination(item, index) ? 'success-bg' : 'bg-primary-500'"
							style="width: 26px; height: 26px"
						>
							<v-icon size="12">
								{{ lastDestination(item, index) ? '$vuetify.icons.TickIcon' : item.status === 'departure' ? '$vuetify.icons.CarIcon' : '$vuetify.icons.LocationIcon' }}
							</v-icon>
						</div>
					</div>
					<div v-if="!lastDestination(item, index)" class="d-flex flex-1" style="border-left: 1px solid var(--primary-1)"></div>
				</v-col>

				<v-col md="5" class="ma-0 pa-0">
					<trip-license-process-card
						v-if="item.direction === 'right'"
						:item="item"
						:last-destination="lastDestination(item, index)"
					/>
					<span v-else class="d-block small-3 text-3 mt-2">{{ item.actionTime | filterDateMonthYear }}</span>
				</v-col>
			</v-row>
		</div>
	</div>
</template>

<script>
import TripLicenseProcessCard from "./TripLicenseProcessCard.vue";

export default {
	name: "TripLicenseProcess",
	components: {
		TripLicenseProcessCard
	},
	props: {
		signers: {
			type: Array,
			default: () => []
		}
	},
	methods: {
		lastDestination(item, index) {
			return this.signers.length === index + 1 && item?.mfo === '09013';
		}
	}
}
</script>

<style scoped>

</style>
