<template>
	<div class="trip-license-process-card">
		<div
			class="d-flex flex-column pa-2 rounded-15 mb-7"
			:class="lastDestination ? 'bg-6' : 'input-bg'"
		>
			<div class="d-flex align-center justify-space-between w-100">
				<span class="small-3 font-600">{{ item.filial }}</span>
				<div
					class="rounded-10 tiny font-400"
					:class="lastDestination ? 'success-text' : 'text-primary-500'"
					:style="{ background: lastDestination ? 'rgba(56, 203, 137, 0.15)' : 'rgba(235, 237, 255, 1)' }"
					style="padding: 2px 6px"
				>
					{{ item.text }}
				</div>
			</div>

			<div class="d-flex align-center mt-4 gap-4">
				<v-icon size="14">{{ "$vuetify.icons.CheckCircleIcon" }}</v-icon>
				<span class="small-3 text-primary-500 font-400">Imzolandi</span>
				<div class="rounded-5" style="height: 4px; width: 4px; background-color: #8A94A6"></div>
				<span class="small-3 text-3">{{ item.actionTime | filterCalendarToTime }}</span>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: "TripLicenseProcessCard",
	props: {
		item: {
			type: Object,
			default: () => {}
		},
		lastDestination: {
			type: Boolean,
			default: false
		}
	}
}
</script>

<style scoped>

</style>
