<template>
  <div class="user-item">
    <v-list-item class="pa-0">
      <v-list-item-avatar size="32" :color="color">
        <span class="text-white small-2 font-500">{{ firstName[0] }}</span>
      </v-list-item-avatar>

      <v-list-item-content>
        <v-list-item-title class="d-flex align-center mb-1">
          <span class="size-13 font-500 text--black">{{ lastName }} {{ firstName | getFirstCharacter }} {{ fatherName | getFirstCharacter }}</span>

          <v-sheet
            width="6"
            height="6"
            color="var(--secondary)"
            rounded
            class="mx-2"
          ></v-sheet>

          <span class="small-3 font-500 text--black-opacity">{{ cisco }}</span>
        </v-list-item-title>

        <v-list-item-subtitle>
          <div class="d-flex align-center">
            <v-icon size="16" color="primary">{{ "$vuetify.icons.ArchiveIcon" }}</v-icon>

            <slot name="subtitle">
              <span class="text--dark-opacity tiny font-500 ml-2 text-truncate">{{ topLevelDepName }}</span>

              <v-sheet
                width="4"
                height="4"
                color="var(--secondary)"
                rounded
                class="mx-2"
              ></v-sheet>

              <span class="text--dark-opacity tiny font-500 text-truncate">{{ filialName }}</span>

            </slot>
          </div>
        </v-list-item-subtitle>
      </v-list-item-content>

      <slot name="action"></slot>
    </v-list-item>

    <v-divider
      inset
    ></v-divider>
  </div>
</template>

<script>
export default {
	name: "NUserItem",
  props: {
    color: {
			type: String,
      default: "#ff2200"
    },
    firstName: {
			type: String,
      default: ""
    },
	  lastName: {
		  type: String,
		  default: ""
	  },
	  fatherName: {
		  type: String,
		  default: ""
	  },
    topLevelDepName: {
			type: String,
      default: ""
    },
	  filialName: {
		  type: String,
		  default: ""
	  },
	  cisco: {
		  type: String,
		  default: ""
	  },
  }
}
</script>

<style>
.user-item {
  margin-bottom: 8px;
}

.user-item .v-list-item__action {
  margin: 8px 0 !important;
}

.user-item .v-list-item__content {
  padding: 4px 0;
}
</style>
