<template>
  <div class="users-view d-flex align-center">
    <app-avatar
      v-bind="$attrs"
      :full-name="fullName"
      :url="avatarUrl"
      :avatar-text-size="avatarTextSize"
    />

    <div class="flex-1 ml-3">
      <h3 class="font-500 size-13 text--black">{{ fullName }}</h3>

      <div v-if="$slots.description" class="d-block small-3">
        <slot name="description">
          {{ description }}
        </slot>
      </div>
    </div>

    <div v-if="$slots.action">
      <slot name="action" />
    </div>
  </div>
</template>

<script>
export default {
  name: "UsersList",
  props: {
    fullName: {
      type: String,
      default: ""
    },
    description: {
      type: String,
      default: ""
    },
    avatarUrl: {
      type: String,
      default: ""
    },
    avatarTextSize: {
      type: String,
      default: "14"
    },
  }
}
</script>
