<template>
	<div class="inner-table-filter-view">

		<!-- Резолюция -->
		<div class="mb-5">
			<span class="small-2 d-block font-600 text-7">{{$t('resolution')}}</span>

			<div class="d-flex">
				<v-radio-group
					v-model="indexTableFilters.has_resolution"
					row
					mandatory
					hide-details
					class="mt-3"
				>
					<v-radio
						class="mr-12"
						:value="null"
					>
						<template #label>
							<span class="ml-2 text-dark small-1 font-500">{{ $t('components.all') }}</span>
						</template>
					</v-radio>

					<v-radio
						class="mr-12"
						:value="true"
					>
						<template #label>
							<span class="ml-2 text-dark small-1 font-500">{{$t('hasResolution')}}</span>
						</template>
					</v-radio>

					<v-radio
						class="mr-12"
						:value="false"
					>
						<template #label>
							<span class="ml-2 text-dark small-1 font-500">{{$t('NoResolution')}}</span>
						</template>
					</v-radio>
				</v-radio-group>
			</div>
		</div>
		<!-- /Резолюция -->

		<v-row>
			<!-- По состоянию -->
			<v-col md="4">
				<div class="app-input">
					<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.as-condition') }}</span>

					<v-select
						v-model="indexTableFilters.condition"
						:items="documentStateList"
						item-text="title"
						item-value="value"
						outlined
						hide-details
						clearable
						background-color="var(--input-bg)"
					>
						<template #append>
							<v-icon>mdi-chevron-down</v-icon>
						</template>
					</v-select>
				</div>
			</v-col>
			<!-- /По состоянию -->

			<!-- Рег. номер -->
			<v-col md="4">
				<div class="app-input">
					<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.registration-number') }}</span>

					<v-text-field
						v-model="indexTableFilters.register_number"
						outlined
						background-color="var(--input-bg)"
						hide-details
						clearable
					/>
				</div>
			</v-col>
			<!-- /Рег. номер -->

			<!-- Рег. дата -->
			<v-col md="4">
				<div class="app-input">
					<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.registration-date') }}</span>

					<app-date-picker
						v-model="indexTableFilters.__register_date"
						with-input
						range
						background-color="var(--input-bg)"
						clearable
						@emit:up="(value) => setDateSelect({ value, state: indexTableFilters, start: 'register_start_date', end: 'register_end_date' })"
						@clickClear="clearDateSelect({ state: indexTableFilters, start: 'register_start_date', end: 'register_end_date' })"
					/>
				</div>
			</v-col>
			<!-- /Рег. дата -->

			<!-- Автор -->
			<v-col md="4" class="py-2">
				<div class="app-input">
					<span class="d-block font-600 small-2 mb-2 text-7">{{$t('components.author')}}</span>

					<autocomplete
						v-model="indexTableFilters.__author"
						:api-list-url="usersReferenceUrl"
						item-value="id"
						item-text="full_name"
						return-object
						cache-items
						outlined
						hide-details
						clearable
						@click:clear="clearAuthor"
						@input="handleAuthor"
					/>

					<template v-if="indexTableFilters.__author">
						<div class="d-flex align-center mt-1">
							<v-chip
								color="primary"
								small
								class="mr-2"
							>
								<span>{{ indexTableFilters.__author.full_name }}</span>
							</v-chip>

							<v-btn
								color="error"
								icon
								small
								@click="clearAuthor"
							>
								<trash2-icon size="18" />
							</v-btn>
						</div>
					</template>
				</div>
			</v-col>
			<!-- /Автор -->

			<!-- Подписант -->
			<v-col md="4" class="py-2">
				<div class="app-input">
					<span class="d-block font-600 small-2 mb-2 text-7">{{$t('components.signatory')}}</span>

					<autocomplete
						v-model="indexTableFilters.__signer"
						:api-list-url="usersReferenceUrl"
						item-value="id"
						item-text="full_name"
						return-object
						cache-items
						outlined
						hide-details
						clearable
						@click:clear="clearSigner"
						@input="handleSigner"
					/>

					<template v-if="indexTableFilters.__signer">
						<div class="d-flex align-center mt-1">
							<v-chip
								color="primary"
								small
								class="mr-2"
							>
								<span>{{ indexTableFilters.__signer.full_name }}</span>
							</v-chip>

							<v-btn
								color="error"
								icon
								small
								@click="clearSigner"
							>
								<trash2-icon size="18" />
							</v-btn>
						</div>
					</template>
				</div>
			</v-col>
			<!-- /Подписант -->

			<!-- По филиалам -->
			<v-col md="4" class="py-2">
				<div class="app-input">
					<span class="d-block font-600 small-2 mb-2 text-7">{{$t('components.by-branches')}}</span>

					<autocomplete
						v-model="indexTableFilters.filial"
						api-list-url="/filials/"
						:api-params="{ condition: 'A', page_size: 30 }"
						item-text="name"
						item-value="id"
						list-type="list"
						cache-items
						clearable
					/>
				</div>
			</v-col>
			<!-- По филиалам -->

			<!-- Документ -->
			<v-col md="4">
				<div class="app-input">
					<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.document') }}</span>

					<app-autocomplete
						v-model="indexTableFilters.__doc_type"
						:api-list-url="documentReferenceUrl"
						:api-params="{
                type: 'doc_type'
              }"
						list-type="list"
						item-text="name"
						return-object
						clearable
						cache-items
						@click:clear="clearDocType"
						@input="handleDocType"
					/>

					<template v-if="indexTableFilters.__doc_type">
						<div class="d-flex align-center mt-1">
							<v-chip
								color="primary"
								small
								class="mr-2"
							>
								<span>{{ indexTableFilters.__doc_type.name }}</span>
							</v-chip>

							<v-btn
								color="error"
								icon
								small
								@click="clearDocType"
							>
								<trash2-icon size="18" />
							</v-btn>
						</div>
					</template>
				</div>
			</v-col>
			<!-- /Документ -->

			<!-- Департамент -->
			<v-col md="4">
				<div class="app-input">
					<span class="d-block font-600 small-2 mb-2 text-7">{{$t('components.department')}}</span>

					<v-autocomplete
						v-model="indexTableFilters.department"
						:items="departmentList"
						item-text="name"
						item-value="id"
						outlined
						hide-details
						clearable
						background-color="var(--input-bg)"
					>
						<template #append>
							<v-icon>mdi-chevron-down</v-icon>
						</template>
					</v-autocomplete>
				</div>
			</v-col>
			<!-- /Департамент -->
		</v-row>
	</div>


</template>

<script>
import {mapActions, mapGetters, mapState} from "vuex"
import {Trash2Icon} from "vue-feather-icons"

export default {
	name: "InnerTableFilter",
	components: {
		Trash2Icon
	},
	computed: {
		...mapState({
			statusList: state => state.statusList,
			documentStateList: state => state.documentStateList,
			journalList: state => state.journalList,
			indexTableFilters: state => state.documentFlowRegistrationInner.indexTableFilters
		}),
		/**/
		...mapGetters({
			currentUser: "auth/getCurrentUser",
			departmentList: "documentFlowModule/getDepartmentList",
		}),
		/**/
		documentReferenceUrl() {
			return `/docflow/${this.currentUser.filial}/reference/`
		},
		/**/
		usersReferenceUrl() {
			return `/${this.currentUser.filial}/user/lists/by_category/`
		},
	},
	mounted() {
		this.fetchDepartmentList();
	},
	methods: {
		...mapActions({
			setDateSelect: "setDateSelect",
			clearDateSelect: "clearDateSelect",
			fetchDepartmentList: "documentFlowModule/fetchDepartmentList",
		}),
		/**/
		handleStatusList() {
			this.indexTableFilters.status = this.indexTableFilters.statusList.join(",")
		},
		/**/
		clearStatusList() {
			this.indexTableFilters.status = null
			this.indexTableFilters.statusList = null
		},
		/**/
		handeCorrespondent() {
			this.indexTableFilters.correspondent_name = this.indexTableFilters.__correspondent.organization_name
			this.indexTableFilters.correspondent = this.indexTableFilters.__correspondent.id
		},
		/**/
		clearCorrespondent() {
			this.indexTableFilters.__correspondent = null
			this.indexTableFilters.correspondent = null
			this.indexTableFilters.correspondent_name = null
		},
		/**/
		handleDocType() {
			this.indexTableFilters.doc_type = this.indexTableFilters.__doc_type.id
			this.indexTableFilters.doc_type_name = this.indexTableFilters.__doc_type.name
		},
		/**/
		clearDocType() {
			this.indexTableFilters.__doc_type = null
			this.indexTableFilters.doc_type = null
			this.indexTableFilters.doc_type_name = null
		},
		/**/
		clearReviewUsers() {
			this.indexTableFilters.__review_user = null
			this.indexTableFilters.review_user = null
			this.indexTableFilters.full_name = null
		},
		/**/
		handleReviewUsers() {
			this.indexTableFilters.full_name = this.indexTableFilters.__review_user.full_name
			this.indexTableFilters.review_user = this.indexTableFilters.__review_user.id
		},
		/**/
		handleAuthor(){
			this.indexTableFilters.author_full_name = this.indexTableFilters.__author.full_name
			this.indexTableFilters.author = this.indexTableFilters.__author.id
		},
		/**/
		handleSigner(){
			this.indexTableFilters.signer_full_name = this.indexTableFilters.__signer.full_name
			this.indexTableFilters.signer = this.indexTableFilters.__signer.id
		},
		/**/
		clearAuthor() {
			this.indexTableFilters.__author = null
			this.indexTableFilters.author = null
			this.indexTableFilters.author_full_name = null
		},
		clearSigner() {
			this.indexTableFilters.__signer = null
			this.indexTableFilters.signer = null
			this.indexTableFilters.signer_full_name = null
		}
	}
}
</script>

<style scoped>

</style>
