<template>
   <div style="height: 100%">
      <div class="mb-3 mx-3">
         <h3 class="heading-10 font-500">
            {{$t('bank-structure.bank-structure')}}
         </h3>
      </div>
      <div class="mx-3 mb-3">
         <div class="d-flex justify-space-between align-center bank-structure">
            <v-tabs
               height="40"
               hide-slider
               left
               slider-color="#5964D1"
               style="background: transparent"
               v-model="tab"
            >
               <v-tab href="#branch"
                  ><span
                     class="font-400 font-14 text-transform-none tab-text"
                     >{{$t('bank-structure.branches')}}</span
                  ></v-tab
               >
               <v-tab href="#department"
                  ><span
                     class="font-400 font-14 text-transform-none tab-text"
                     >{{$t('bank-structure.departments')}}</span
                  ></v-tab
            >
            </v-tabs>
            <div v-if="tab === 'department' && ['admin', 'chancellery_admin'].includes(currentUser.role)" style="width: 300px">
               <v-select
                  :items="branches"
                  :label="$t('bank-structure.branch')"
                  :value="selectedBranch"
                  @change="changeBranch"
                  append-icon="mdi-chevron-down"
                  background-color="#ffffff"
                  dense
                  hide-details
                  item-text="name"
                  outlined
                  return-object
               ></v-select>
            </div>
         </div>
		</div>
      <div class="app-home-view pb-4 px-3">
         <div class="shadow-6 rounded-20 bg-white" style="overflow: hidden;">
            <v-window v-model="tab">
               <v-window-item value="branch">
                  <template v-if="loading">
                     <div class="w-100 d-flex align-center justify-center" style="min-height: 200px;">
                        <app-loader :size="40" />
                     </div>
                  </template>
                  <template v-else>
                     <div class="bank-structure-table">
                        <v-simple-table>
                           <thead style="position: sticky; top: 0;">
                              <tr>
                                 <th width="200">
                                    {{$t('bank-structure.name')}}
                                 </th>
                                 <th width="300">
                                    {{$t('bank-structure.complete_name')}}
                                 </th>
                                 <th width="300">
                                    {{$t('bank-structure.address')}}
                                 </th>
                                 <th width="200">
                                    Email
                                 </th>
                                 <th width="200">
                                    {{$t('bank-structure.mfo')}}
                                 </th>
                                 <th width="200">
                                    {{$t('bank-structure.phone')}}
                                 </th>
                                 <th width="200">
                                    {{$t('bank-structure.condition')}}
                                 </th>
                                 <th width="200">{{$t('bank-structure.index')}}</th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr v-for="(branch, index) in branches" :key="index" @click="() => openBranchModal(branch)">
                                 <td>
                                    {{branch.name || '-'}}
                                 </td>
                                 <td>
                                    {{branch.complete_name || '-'}}
                                 </td>
                                 <td>
                                    {{branch.address || '-'}}
                                 </td>
                                 <td>
                                    {{branch.email || '-'}}
                                 </td>
                                 <td>
                                    {{branch.mfo || '-'}}
                                 </td>
                                 <td>
                                    {{branch.phone || '-'}}
                                 </td>
                                 <td>{{ {A: $t('bank-structure.active'), P: $t('bank-structure.passive')}[branch.condition] || '-' }}</td>
                                 <td>
                                    {{branch.branch_index || '-'}}
                                 </td>
                              </tr>
                           </tbody>
                        </v-simple-table>
                     </div>
                  </template>
               </v-window-item>
               <v-window-item value="department">
                  <template v-if="departmentsLoading">
                     <div class="w-100 d-flex align-center justify-center" style="min-height: 200px;">
                        <app-loader :size="40" />
                     </div>
                  </template>
                  <template v-else>
                     <div class="bank-structure-table">
                        <v-simple-table>
                           <thead style="position: sticky; top: 0;">
                              <tr>
                                 <th width="200">
                                    {{$t('bank-structure.name')}}
                                 </th>
                                 <th width="200">
                                    {{$t('bank-structure.mfo')}}
                                 </th>
                                 <th width="300">
                                    {{$t('bank-structure.code')}}
                                 </th>
                                 <th width="300">
                                    {{$t('bank-structure.condition')}}
                                 </th>
                                 <th width="200">{{$t('bank-structure.index')}}</th>
                              </tr>
                           </thead>
                           <tbody>
                              <template v-for="(department, index) in departments">
                                 <tr v-bind:key="index" @click="() => openDepartmentModal(department)" class="border__top" :class="{'border__bottom':department.sub_departments.length}">
                                    <td>
                                       {{department.name || '-'}}
                                    </td>
                                    <td>
                                       {{department.mfo || '-'}}
                                    </td>
                                    <td>
                                       {{department.code || '-'}}
                                    </td>
                                    <td>
                                       {{ {A: $t('bank-structure.active'), P: $t('bank-structure.passive')}[department.condition] || '-' }}
                                    </td>
                                    <td>
                                       {{department.dept_index || '-'}}
                                    </td>
                                 </tr>
                                 <template v-for="(sub_department, subIndex) in department.sub_departments">
                                    <tr v-bind:key="`${subIndex + '_' + index}`">
                                       <td>
                                          {{sub_department.name || '-'}}
                                       </td>
                                       <td>
                                          {{sub_department.mfo || '-'}}
                                       </td>
                                       <td>
                                          {{sub_department.code || '-'}}
                                       </td>
                                       <td>
                                          {{ {A: $t('bank-structure.active'), P: $t('bank-structure.passive')}[sub_department.condition] || '-' }}
                                       </td>
                                       <td>
                                          {{sub_department.dept_index || '-'}}
                                       </td>
                                    </tr>
                                    <template v-for="(sub_department, subSubIndex) in sub_department.sub_departments">
                                       <tr v-bind:key="`${subSubIndex+'_'+subIndex + '_' + index}`">
                                          <td>
                                             {{sub_department.name || '-'}}
                                          </td>
                                          <td>
                                             {{sub_department.mfo || '-'}}
                                          </td>
                                          <td>
                                             {{sub_department.code || '-'}}
                                          </td>
                                          <td>
                                             {{ {A: $t('bank-structure.active'), P: $t('bank-structure.passive')}[sub_department.condition] || '-' }}
                                          </td>
                                          <td>
                                             {{sub_department.dept_index || '-'}}
                                          </td>
                                       </tr>
                                       <template v-for="(sub_department, subSubSubIndex) in sub_department.sub_departments">
                                          <tr v-bind:key="`${subSubSubIndex+'_'+subSubIndex+'_'+subIndex + '' + index}`">
                                             <td>
                                                {{sub_department.name || '-'}}
                                             </td>
                                             <td>
                                                {{sub_department.mfo || '-'}}
                                             </td>
                                             <td>
                                                {{sub_department.code || '-'}}
                                             </td>
                                             <td>
                                                {{ {A: $t('bank-structure.active'), P: $t('bank-structure.passive')}[sub_department.condition] || '-' }}
                                             </td>
                                             <td>
                                                {{sub_department.dept_index || '-'}}
                                             </td>
                                          </tr>
                                       </template>
                                    </template>
                                 </template>
                              </template>
                           </tbody>
                        </v-simple-table>
                     </div>
                  </template>
               </v-window-item>
            </v-window>
         </div>
      </div>
      <v-dialog max-width="640px" persistent v-model="branchModal" >
         <div class="bg-white">
            <div class="d-flex justify-end">
               <v-btn @click="closeBranchModal" color="error" depressed icon>
                  <x-icon size="18" color="var(--primary-4)"/>
               </v-btn>
            </div>
            <div class="pa-10 pt-0">
               <h3>{{$t('bank-structure.edit-branch')}}</h3>
               <div class="mt-5">
                  <v-row no-gutters class="pb-4">
                     <v-col md="6">
                        <span class="small-1">{{$t('bank-structure.name')}}</span>
                     </v-col>
                     <v-col md="6">
                        <span class="text-3 small-1">
                           {{ branch.name || '-' }}
                        </span>
                     </v-col>
                  </v-row>
                  <v-row no-gutters class="pb-4">
                     <v-col md="6">
                        <span class="small-1">{{$t('bank-structure.complete_name')}}</span>
                     </v-col>
                     <v-col md="6">
                        <span class="text-3 small-1">
                           {{ branch.complete_name || '-' }}
                        </span>
                     </v-col>
                  </v-row>
                  <v-row no-gutters class="pb-4">
                     <v-col md="6">
                        <span class="small-1">Email</span>
                     </v-col>
                     <v-col md="6">
                        <span class="text-3 small-1">
                           {{ branch.email || '-' }}
                        </span>
                     </v-col>
                  </v-row>
                  <v-row no-gutters class="pb-4">
                     <v-col md="6">
                        <span class="small-1">{{$t('bank-structure.mfo')}}</span>
                     </v-col>
                     <v-col md="6">
                        <span class="text-3 small-1">
                           {{ branch.mfo || '-' }}
                        </span>
                     </v-col>
                  </v-row>
                  <v-row no-gutters class="pb-4">
                     <v-col md="6">
                        <span class="small-1">{{$t('bank-structure.phone')}}</span>
                     </v-col>
                     <v-col md="6">
                        <v-text-field class="edit-branch-input" background-color="var(--input-bg)" dense hide-details outlined v-model="branch.phone" />
                     </v-col>
                  </v-row>
                  <v-row no-gutters class="pb-4">
                     <v-col md="6">
                        <span class="small-1">{{$t('bank-structure.condition')}}</span>
                     </v-col>
                     <v-col md="6">
                        <span class="text-3 small-1">
                           {{ {A: $t('bank-structure.active'), P: $t('bank-structure.passive')}[branch.condition] || '-' }}
                        </span>
                     </v-col>
                  </v-row>
                  <v-row no-gutters class="pb-4">
                     <v-col md="6">
                        <span class="small-1">{{$t('bank-structure.address')}}</span>
                     </v-col>
                     <v-col md="6">
                        <v-text-field class="edit-branch-input" background-color="var(--input-bg)" dense hide-details outlined v-model="branch.address" />
                     </v-col>
                  </v-row>
                  <v-row no-gutters class="pb-4">
                     <v-col md="6">
                        <span class="small-1">{{$t('bank-structure.index')}}</span>
                     </v-col>
                     <v-col md="6">
                        <v-text-field class="edit-branch-input" @keypress="onChange" background-color="var(--input-bg)" dense hide-details outlined v-model="branch.branch_index" />
                     </v-col>
                  </v-row>
                  <div class="d-flex justify-end">
                     <app-loader v-if="saveBranchLoading" :size="32" />
                     <template v-else>
                        <v-btn v-if="branch.mfo === currentUser.filial || ['admin'].includes(currentUser.role)" color="primary" @click="saveBranch" depressed small>{{$t('bank-structure.save')}}</v-btn>
                     </template>
                  </div>
               </div>
            </div>
         </div>
      </v-dialog>
      <v-dialog max-width="640px" persistent v-model="departmentModal" >
         <div class="bg-white">
            <div class="d-flex justify-end">
               <v-btn @click="closeDepartmentModal" color="error" depressed icon>
                  <x-icon size="18" color="var(--primary-4)"/>
               </v-btn>
            </div>
            <div class="pa-10 pt-0">
               <h3>{{$t('bank-structure.edit-department')}}</h3>
               <div class="mt-5">
                  <v-row no-gutters class="pb-4">
                     <v-col md="6">
                        <span class="small-1">{{$t('bank-structure.name')}}</span>
                     </v-col>
                     <v-col md="6">
                        <span class="text-3 small-1">
                           {{ department.name || '-' }}
                        </span>
                     </v-col>
                  </v-row>
                  <v-row no-gutters class="pb-4">
                     <v-col md="6">
                        <span class="small-1">{{$t('bank-structure.mfo')}}</span>
                     </v-col>
                     <v-col md="6">
                        <span class="text-3 small-1">
                           {{ department.mfo || '-' }}
                        </span>
                     </v-col>
                  </v-row>
                  <v-row no-gutters class="pb-4">
                     <v-col md="6">
                        <span class="small-1">{{$t('bank-structure.code')}}</span>
                     </v-col>
                     <v-col md="6">
                        <span class="text-3 small-1">
                           {{ department.code || '-' }}
                        </span>
                     </v-col>
                  </v-row>
                  <v-row no-gutters class="pb-4">
                     <v-col md="6">
                        <span class="small-1">{{$t('bank-structure.condition')}}</span>
                     </v-col>
                     <v-col md="6">
                        <span class="text-3 small-1">
                           {{ {A: $t('bank-structure.active'), P: $t('bank-structure.passive')}[department.condition] || '-' }}
                        </span>
                     </v-col>
                  </v-row>
                  <v-row no-gutters class="pb-4">
                     <v-col md="6">
                        <span class="small-1">{{$t('bank-structure.index')}}</span>
                     </v-col>
                     <v-col md="6">
                        <v-text-field class="edit-department-input" @keypress="onChange" style="font-size: 18px" background-color="var(--input-bg)" dense hide-details outlined v-model="department.dept_index" />
                     </v-col>
                  </v-row>
                  <div class="d-flex justify-end">
                     <app-loader v-if="saveDepartmentLoading" :size="32" />
                     <template v-else>
                        <v-btn v-if="department.mfo === currentUser.filial || ['admin'].includes(currentUser.role)" color="primary" @click="saveDepartment" depressed small>{{$t('bank-structure.save')}}</v-btn>
                     </template>
                  </div>
               </div>
            </div>
         </div>
      </v-dialog>
   </div>
</template>
<script>
import AppLoader from "@/common/components/base/AppLoader";
import { mapGetters } from "vuex";
import { XIcon } from "vue-feather-icons"
export default {
   name: 'Structure',
   components: {
      XIcon,
      AppLoader,
   },
   data() {
      return {
         branch: {},
         branchModal: false,
         branches: [],
         department: {},
         departmentModal: false,
         departments: [],
         departmentsLoading: false,
         loading: true,
         saveBranchLoading: false,
         saveDepartmentLoading: false,
         selectedBranch: {},
         tab: "branch",
      }
   },
   mounted() {
      const permission = [ "admin", "filial_chancellery", "filial_hr_manager"].includes(this.currentUser.role);
      if(permission) {
         this.getBranches();
         this.getDepartments(this.currentUser.filial)
      } else {
         this.$router.push({ path: "/dashboard/home" });
      }
   },
   computed: {
      ...mapGetters({
         currentUser: "auth/getCurrentUser",
      }),
   },
   methods: {
      onChange(e) {
         e = e ? e : window.event;
         const expect = e.target.value.toString() + e.key.toString();
         if (!/^[-+]?[0-9]*\.?[0-9]*$/.test(expect)) {
            e.preventDefault();
         } else {
            return true;
         }
      },
      getBranches() {
         this.loading = true;
         this.$axios
            .get('/filials/?page_size=50&condition=A').then(response => {
               const results = response?.data?.results;
               const branches = Array.isArray(results) ? results : [];
               const selectedBranch = branches.find(branch => branch?.mfo === this.currentUser?.filial);
               const newBranches = ['admin'].includes(this.currentUser.role) ? branches : [selectedBranch]
               this.branches = newBranches;
               this.selectedBranch = selectedBranch
            })
            .catch(() => {
               this.branches = [];
            })
            .finally(() => {
               this.loading = false;
            })
      },
      getDepartments(branchMfo) {
         this.departmentsLoading = true;
         this.$axios
            .get(`/departments/?filial=${branchMfo}&page_size=100&condition=A`)
            .then(response => {
               const results = response?.data?.results;
               const departments = Array.isArray(results) ? results : [];
               this.departments = departments;
            })
            .catch(() => {
               this.departments = [];
            })
            .finally(() => {
               this.departmentsLoading = false;
            });
      },
      changeBranch(branch) {
         this.selectedBranch = branch;
         this.getDepartments(branch?.mfo)
      },
      closeBranchModal() {
         const branches = this.branches.map(branch => {
            if(branch?.id === this.branch?.id) {
               return {...branch, branch_index: this.branch?.oldBranchIndex};
            } else {
               return branch;
            }
         });
         this.branch = {};
         this.branches = branches;
         this.branchModal = !this.branchModal;
      },
      openBranchModal(branch) {
         this.branch = {...branch, oldBranchIndex: branch?.branch_index};
         this.branchModal = !this.branchModal;
      },
      closeDepartmentModal() {
         const departments = this.departments.map(department => {
            if(department?.id === this.department?.id) {
               return {...department, dept_index: this.department?.oldDepartmentIndex}
            } else {
               return department;
            }
         });
         this.department = {};
         this.departmentModal = !this.departmentModal;
         this.departments = departments;
      },
      openDepartmentModal(department) {
         this.department = {...department, oldDepartmentIndex: department?.dept_index};
         this.departmentModal = !this.departmentModal;
      },
      saveBranch() {
         const { branch_index, mfo, condition, name, address, phone } = this.branch;
         if(branch_index && phone) {
            this.saveBranchLoading = true;
            this.$axios
               .patch(`/filials/${mfo}/`, {branch_index, mfo, condition, name, address, phone})
               .then(response => {
                  const status = response?.status;
                  const data = response?.data;
                  if(status === 200) {
                     const branches = this.branches.map(branch => {
                        if(branch?.id === data?.id) {
                           return data;
                        } else {
                           return branch;
                        };
                     });
                     this.branch = {};
                     this.branchModal = !this.branchModal;
                     this.branches = branches;
                  } else {
                     this.$toast.error(this.$t('bank-structure.branch-not-changed'))
                  }
               })
               .catch(() => {
                  this.$toast.error(this.$t('bank-structure.branch-not-changed'))
               })
               .finally(() => {
                  this.saveBranchLoading = false;
               })
         } else if(!branch_index) {
            this.$toast.error(this.$t('bank-structure.enter-branch-index'));
         } else {
            this.$toast.error(this.$t('bank-structure.enter-phone-number'));
         }
      },
      saveDepartment() {
         const {dept_index, name, id} = this.department;
         if(dept_index) {
            this.saveDepartmentLoading = true;
            this.$axios
               .patch(`/departments/${id}/`, {dept_index, name})
               .then(response => {
                  const status = response?.status;
                  const data = response?.data;
                  if(status === 200) {
                     const departments = this.departments.map(department => {
                        if(department?.id === data?.id) {
                           return data;
                        } else {
                           return department;
                        };
                     });
                     this.department = {};
                     this.departmentModal = !this.departmentModal;
                     this.departments = departments;
                  } else {
                     this.$toast.error(this.$t('bank-structure.department-not-changed'))
                  }
               })
               .catch(() => {
                  this.$toast.error(this.$t('bank-structure.department-not-changed'))
               })
               .finally(() => {
                  this.saveDepartmentLoading = false;
               })
         } else {
            this.$toast.error(this.$t('bank-structure.enter-department-index'))
         }
      }
   }
}
</script>
<style>
.edit-branch-input *,
.edit-department-input * {
   font-size: 16px !important;
}
.bank-structure-table .v-data-table__wrapper {
   width: 100%;
   overflow: auto;
   height: 100%;
}
.bank-structure-table .v-data-table__wrapper::-webkit-scrollbar {
   width: 6px;
   height: 6px;
}
.bank-structure-table .v-data-table__wrapper::-webkit-scrollbar-track {
   border-radius: 4px;
   box-shadow: none;
}
.bank-structure-table .v-data-table__wrapper::-webkit-scrollbar-thumb {
   border-radius: 4px;
   background-color: #5964d1;
}
.bank-structure-table .v-data-table__wrapper::-webkit-scrollbar-thumb:hover {
   background-color: #5964d1;
}
.bank-structure-table .v-data-table__wrapper table td,
.bank-structure-table .v-data-table__wrapper table th {
   border: none;
	border-bottom: 1px solid var(--border-color) !important;
	border-top: 1px solid var(--border-color) !important;
	font-size: 16px !important;
	font-weight: 500 !important;
	padding: 15px !important;
}
.bank-structure-table .v-data-table__wrapper table td.count {
	font-size: 18px !important;
}
.bank-structure-table .v-data-table__wrapper table td.done {
	color: #0ea20b;
	font-size: 18px !important;
}
.bank-structure-table .v-data-table__wrapper table td.overdue {
	color: #f49300;
	font-size: 17px !important;
}
.bank-structure-table .v-data-table__wrapper table td.in-progress {
	color: #5964d1;
	font-size: 17px !important;
}
.bank-structure-table .v-data-table__wrapper table td.not-done {
	color: #e03636;
	font-size: 17px !important;
}
.bank-structure-table
	.v-data-table
	> .v-data-table__wrapper
	> table
	> tbody
	> tr {
	cursor: pointer;
}
.bank-structure-table
	.v-data-table
	> .v-data-table__wrapper
	> table
	> tbody
	> tr
	> td {
	border-top: 1px solid var(--border-color) !important;
	border-bottom: 1px solid var(--border-color) !important;
   border: none;
}
.bank-structure-table
	.v-data-table
	> .v-data-table__wrapper
	> table
	> thead
	> tr:last-child
	> th {
	border-top: 1px solid var(--primary-1) !important;
	border-bottom: 1px solid var(--primary-1) !important;
	font-size: 15px !important;
   border: none;
	font-weight: 500 !important;
}
.bank-structure-table
	.v-data-table
	> .v-data-table__wrapper
	> table
	> thead
	> tr
	> th {
	background-color: var(--primary-1) !important;
	color: white !important;
}
.bank-structure-table .v-data-table > .v-data-table__wrapper > table > tbody > tr.border__top td {
   border-top: 2px solid #5963d1 !important;
   color: #5963d1;
}
.bank-structure-table .v-data-table > .v-data-table__wrapper > table > tbody > tr.border__bottom td {
   border-bottom: 2px solid #5963d1 !important;
   color: #5963d1;
}
.bank-structure .v-tab {
	min-width: 48px;
	cursor: pointer;
}
.bank-structure .v-tab::before {
	display: none;
}
.bank-structure .v-tab * {
	border-radius: 20px;
	caret-color: #000000 !important;
	color: #000000 !important;
}
.bank-structure .theme--light.v-tabs > .v-tabs-bar {
	background-color: transparent !important;
}
.bank-structure .v-tab.v-tab--active {
	background-color: #5964d1;
	border-radius: 20px;
}
.bank-structure .v-tab .v-badge__badge,
.bank-structure .v-tab.v-tab--active .tab-text,
.bank-structure .v-tab.v-tab--active .v-badge__badge {
	color: #ffffff !important;
}
.bank-structure .v-tab .v-tab--active .v-icon {
	caret-color: #171717 !important;
	color: #171717 !important;
}
.bank-structure .v-slide-group__next {
	margin: 0 0 0 6px;
}
.bank-structure .v-slide-group__prev {
	margin: 0 6px 0 0;
}
.bank-structure .v-slide-group__next,
.bank-structure .v-slide-group__prev {
	display: none !important;
}
</style>