<template>
	<div class="document-detail-view">

		<template v-if="isLoading">
			<app-loader content-width/>
		</template>

		<template v-else>
			<app-wrapper>
				<template #body>
					<div class="d-flex justify-space-between">
						<span>{{ documentDetail.title }}</span>
						<div class="d-flex flex-column align-end">
							<div class="d-flex mb-1">
								<v-icon color="black" size="12" class="mr-1">mdi-account-outline</v-icon>
								<span v-if="factureCurrentUser" class="small-3 font-400">{{ factureCurrentUser.lastName }} {{ factureCurrentUser.firstName }} {{ factureCurrentUser.middleName }}</span>
<!--								<v-icon color="black" size="12">mdi-home-variant</v-icon>-->
<!--								<span class="small-3 font-400 ml-1">creationTypeDescription</span>-->
							</div>
							<div class="d-flex">
								<v-icon color="black" size="12">mdi-file-document</v-icon>
								<span class="small-3 font-400 ml-1">Тип шаблона: {{ documentDetail.creationTypeDescription }}</span>
							</div>
						</div>
					</div>
				</template>
			</app-wrapper>

			<app-wrapper class="mt-4">
				<template #body>
					<div>
						<div class="d-flex justify-space-between">
							<div class="d-flex">

								<!--Подписать и отправить-->
								<template v-if="['admin', 'chairman', 'deputy_chair', 'facture_user', 'facture_user_assistant'].some(role => currentUser.roles.includes(role))">
									<app-button
										class="mr-2"
										:loading="signButtonLoading"
										@click="getDocumentHashCode"
									>
										Подписать и отправить
									</app-button>
								</template>
								<!--/Подписать и отправить-->

<!--								<app-button class="mr-2">-->
<!--									Отказать и удалить-->
<!--								</app-button>-->

								<!--Согласование-->
								<template v-if="['admin', 'chairman', 'deputy_chair', 'facture_user', 'facture_user_assistant'].some(role => currentUser.roles.includes(role))">
									<div class="mr-2">
										<app-menu
											max-width="150"
											menu-text="Согласование"
											:list-items="approvalItemList"
											@onItemClick="onItemClick"
										/>
									</div>
								</template>
								<!--/Согласование-->

								<!--Согласование кнопки-->
								<template v-if="['approval-in-processing'].includes($route.query.type) && (isAgreementButtonVisible === true || isAgreementButtonVisible === false) ">
									<app-button
										class="mr-2"
										:loading="agreeButtonLoading"
										@click="agree"
										:disabled="isAgreementButtonVisible === false"
									>
										<template #prepend>
											<v-icon size="18">mdi-check-circle</v-icon>
										</template>
										Согласен
									</app-button>

									<app-button
										class="mr-2"
										color="error"
										:loading="notAgreeButtonLoading"
										:disabled="isAgreementButtonVisible === false"
										@click="notAgree"
									>
										<template #prepend>
											<v-icon size="18">mdi-close-circle</v-icon>
										</template>
										Не согласен
									</app-button>
								</template>
								<!--/Согласование кнопки-->

								<!--Действия-->
								<div v-if="['admin', 'chairman', 'deputy_chair', 'facture_user', 'facture_user_assistant'].some(role => currentUser.roles.includes(role))" class="ml-2">
									<app-menu
										max-width="150"
										menu-text="Действия"
										:list-items="computedActionList"
										@onItemClick="onActionItemChange"
									/>
								</div>
								<!--/Действия-->
							</div>

							<div class="d-flex">
								<app-button
									outlined
									class="mr-2"
									minWidth="100"
								>
									<template #prepend>
										<printer-icon size="18" />
									</template>
									Печать
								</app-button>

								<app-menu
									outlined
									menu-text="Скачать"
									:list-items="downloadOptions"
									@onItemClick="onDownloadClick"
								/>
							</div>
						</div>

						<v-divider class="mt-4"/>

						<!-- Описание документа -->
						<div class="mt-10">
							<v-expansion-panels v-model="documentDescriptionPanel">
								<v-expansion-panel>
									<v-expansion-panel-header class="border-all" color="primary">
										<span class="d-block font-500 text-white">Описание документа</span>
									</v-expansion-panel-header>
									<v-expansion-panel-content>
										<v-row class="px-10 py-5">
											<v-col md="6">
												<span class="d-inline-block small-2 font-700">Отправитель:
													<span class="font-500 ml-6">
														{{ documentDetail && documentDetail.owner && documentDetail.owner.name}}
													</span>
												</span>
											</v-col>
											<v-col md="6">
												<div class="d-flex flex-column">
													<div class="d-flex align-center">
														<span class="d-inline-block small-2 font-700 text-right" style="width: 100px">Статус:</span>
														<span class="d-inline-block small-2 font-700 ml-8">
															<v-chip color="primary">
																<span class="tiny">
																	{{ documentDetail.contractor.status.description }}
																</span>
															</v-chip>
														</span>

														<template v-if="documentDetail && documentDetail.agreementUsers && documentDetail.agreementUsers.length">
															<div class="ml-2">
																<app-menu
																	dense
																	max-width="150"
																	:x-small="true"
																	menu-text="Участники согласование"
																	menu-text-classes="tiny"
																	:list-items="approvalParticipantList"
																/>
															</div>
														</template>

													</div>

													<div class="d-flex align-center mt-8">
														<span class="d-inline-block small-2 font-700 text-right" style="width: 100px">Статус в my.soliq.uz:</span>
														<span class="d-inline-block small-2 font-700 ml-8">
															<a href="#">Проверить</a>
														</span>
													</div>

													<div class="d-flex align-center mt-8">
														<span class="d-inline-block small-2 font-700 text-right" style="width: 100px">Документ:</span>
														<div @click="downloadDocument" class="ml-8 d-flex pointer">
															<v-icon color="primary" size="20">mdi-file-document</v-icon>
															<span class="small-2 primary-text ml-2">{{ documentDetail.title }}.pdf</span>
														</div>
													</div>
												</div>
											</v-col>
										</v-row>
									</v-expansion-panel-content>
								</v-expansion-panel>
							</v-expansion-panels>
						</div>
						<!--/ Описание документа -->

						<!-- Прикрепление -->
						<div class="mt-10">
							<v-expansion-panels v-model="documentAttachFilePanel">
								<v-expansion-panel>
									<v-expansion-panel-header class="border-all" color="primary">
										<span class="d-block font-500 text-white">Прикрепление</span>
									</v-expansion-panel-header>
									<v-expansion-panel-content>
										<div class="py-5 px-10">
											<div class="d-flex align-center justify-center py-4" style="border: 1px solid lightgray">
												<v-icon class="mr-2">mdi-cloud-upload-outline</v-icon>
												<span class="small-2 grey--text">Загрузите с компьютера или перетащите файл для прикрепления</span>
											</div>
										</div>
									</v-expansion-panel-content>
								</v-expansion-panel>
							</v-expansion-panels>
						</div>
						<!--/ Прикрепление -->

						<!-- История документа -->
						<div class="mt-10 document-history">
							<v-expansion-panels v-model="documentHistoryPanel">
								<v-expansion-panel>
									<v-expansion-panel-header class="border-all" color="primary">
										<span class="d-block font-500 text-white">История документа</span>
									</v-expansion-panel-header>
									<v-expansion-panel-content>
										<div class="py-5 pr-10">
											<v-timeline
												dense
											>
												<v-timeline-item
													v-for="(item, index) in documentDetail.histories"
													:key="item.id"
													fill-dot
													icon="mdi-calendar-month-outline"
													color="white"
													icon-color="primary"
												>
													<v-card class="elevation-1">
														<div class="d-flex py-3 px-4">
															<div class="d-flex flex-column">
																<div class="d-flex">
																	<span class="small-2 primary-text">{{ item.companyLabel }}</span>
																	<span class="small-2 font-600 ml-1">{{ item.description }}</span>
																</div>
																<span class="small-3 font-400 mt-2">{{ item.userLabel }}</span>
															</div>

															<v-divider />

															<div class="d-flex flex-column align-end">
																<span class="small-2 font-400 text-capitalize">{{ item.date | filterWeekDay }}</span>
																<span class="small-3 font-400 primary-text mt-1">{{ item.date | filterCalendarToTime }}</span>
															</div>
														</div>
													</v-card>
												</v-timeline-item>
											</v-timeline>
										</div>
									</v-expansion-panel-content>
								</v-expansion-panel>
							</v-expansion-panels>
						</div>
						<!--/ История документа -->

						<!-- Счет фактура -->
						<div v-if="documentPreview !== ''" class="pa-5 mt-10" style="border-style: dashed; border-width: 1px; border-color: grey">
							<iframe :srcdoc="documentPreview" width="100%" height="900px" style="border:none;"></iframe>
						</div>
						<!-- / Счет фактура -->

					</div>

				</template>
			</app-wrapper>


<!--			<pre>{{ documentDetail }}</pre>-->
		</template>

		<send-to-approve-modal @emit:onSuccess="onDocumentSentToApprove" ref="approvalModal" />

		<send-to-signer-modal ref="signerModal" />

		<sign-modal ref="signModal" />

		<comment-modal
			v-model="comment"
			ref="commentModalRef"
			@emit:submit="sendAgreementDecision"
		/>

	</div>
</template>

<script>
import {mapActions, mapGetters, mapState} from "vuex";
import { PrinterIcon } from "vue-feather-icons"

import CommentModal from "../components/CommentModal.vue";
import SendToApproveModal from "../components/SendToApproveModal.vue";
import SendToSignerModal from "../components/SendToSignerModal.vue";
import SignModal from "../components/SignModal.vue";
import { getFactureSignDetails } from "../../../common/helpers";
import {
	fetchDeleteFacture,
	fetchDeleteFacturePermanently,
	fetchSendToAgreement
} from "../../../api/Facture/facture.api.service";
import mapPinIcon from "vue-feather-icons/icons/MapPinIcon";

export default {
	name: "DetailShow",
	components: {
		CommentModal,
		PrinterIcon,
		SendToApproveModal,
		SendToSignerModal,
		SignModal
	},
	data() {
		return {
			agreeButtonLoading: false,
			comment: "",
			notAgreeButtonLoading: false,
			documentDescriptionPanel: 0,
			documentHistoryPanel: 0,
			documentAttachFilePanel: 0,
			listItems: [
				{
					text: 'Отправить на согласование',
					value: 'send_to_agreement'
				},
				{
					text: 'Отменить согласование',
					value: 'cancel_approval'
				},
				// {
				// 	text: 'Отправить на отказание',
				// 	value: 'send_to_reject'
				// }
			],
			actionItems: [
				// {
				// 	text: 'Редактировать',
				// 	value: 'edit'
				// },
				// {
				// 	text: 'Копировать',
				// 	value: 'copy'
				// },
				{
					text: 'Удалить',
					value: 'delete'
				},
				{
					text: 'Безвозвратно удалить',
					value: 'permanently_delete'
				},
				{
					text: 'Создать акт',
					value: 'create_act'
				}
			],
			downloadOptions: [
				{
					text: "Excel",
					value: "excel"
				},
				{
					text: "JSON",
					value: "json"
				}
			],

			hashCode: null,
			signButtonLoading: false
		}
	},
	created() {
		this.fetchGetDocumentDetail({ id: this.$route.params.id })
	},
	computed: {
		...mapState({
			factureCurrentUser: state => state.facture.factureCurrentUser,
			isDocumentDetailLoading: state => state.facture.isDocumentDetailLoading
		}),
		...mapGetters({
			isLoading: "facture/getIsDocumentDetailLoading",
			documentDetail: "facture/getDocumentDetail",
			documentPreview: "facture/getDocumentPreview",
			currentUser: "auth/getCurrentUser",
		}),
		/** **/
		computedActionList(){
			if (this.$route.query.type === 'deleted'){
				return this.actionItems.filter(item => item.value === 'permanently_delete')
			}else if (this.$route.query.type !== 'deleted') {
				return this.actionItems.filter(item => item.value !== 'permanently_delete')
			}
			else {
				return this.actionItems
			}
		},
		/** **/
		approvalItemList(){
			if (!(this.documentDetail && this.documentDetail.agreementUsers && this.documentDetail.agreementUsers.length) && this.$route.query.type !== 'approval-in-processing'){
				return this.listItems.filter(x => x.value !== 'cancel_approval')
			}else {
				return this.listItems
			}
		},
		/** **/
		approvalParticipantList() {
			if (this.documentDetail && this.documentDetail.agreementUsers && this.documentDetail.agreementUsers.length){
				let array = [];
				this.documentDetail.agreementUsers.forEach(item => {
					if (!item.user.isYou && item.user.isParticipant){
						array.push({
							user_id: item.user.id,
							is_agreed: item.isAgreed,
							text: `${item.user.firstName} ${item.user.lastName}`
						})
					}
				});
				return array
			}else {
				return []
			}
		},
		/**/
		isAgreementButtonVisible() {
			let cu = null
			let isVisible = null;
			if (this.documentDetail.agreementUsers && this.documentDetail.agreementUsers.length){
				cu = this.documentDetail.agreementUsers.find(item => item.user.id === this.factureCurrentUser.id)
			}
			if (cu && cu.user.isParticipant && cu.user.isParticipant === true && cu.onQueue === true){
				isVisible = true;
			} else if (cu && cu.user.isParticipant && cu.user.isParticipant === true && cu.onQueue === false){
				isVisible = false
			}else {
				isVisible = null
			}
			return isVisible
		}
	},
	methods: {
		...mapActions({
			fetchGetDocumentDetail: "facture/fetchGetDocumentDetail",
			fetchDownloadPDFDocument: "facture/fetchDownloadPDFDocument",
		}),
		onItemClick(item) {
			if (item.value === 'send_to_agreement'){
				const { approvalModal } = this.$refs;
				approvalModal.dialog = true;
			}else if (item.value === 'cancel_approval'){
				this.cancelApproval();
			}
		},
		/**/
		onActionItemChange(item){
			if (item.value === 'create_act'){
				this.$router.push({
					name: "FactureDocumentCreate",
					params: {
						type: "standard_act"
					},
					query: {
						isFactureCreated: true,
						factureID: this.$route.params.id
					}
				})
			}else if (item.value === 'delete'){
				if(!confirm(this.$t('document-flow.views.registration.delete-description'))) {
					return;
				}
				this.$store.state.facture.isDocumentDetailLoading = true;
				fetchDeleteFacture(this.$route.params.id)
					.then((res) => {
						if (res.data.success === true){
							this.$toast.success(this.$t('equipments.views.add-correspondent.deleted'));
							this.$router.push({
								name: "FactureDeletedDocumentsList",
								query: {
									type: "deleted"
								}
							})
						}else {
							this.$toast.error("Что-то пошло не так. Пожалуйста, попробуйте еще раз!");
						}

						this.$store.state.facture.isDocumentDetailLoading = false;
					})
					.catch(err => {
						console.log(err);
					})
			}else if (item.value === 'permanently_delete'){
				if(!confirm("Вы уверены, что хотите удалить безвозвратно?")) {
					return;
				}
				this.$store.state.facture.isDocumentDetailLoading = true;
				fetchDeleteFacturePermanently(this.$route.params.id)
					.then((res) => {
						if (res.data.success === true){
							this.$toast.success(this.$t('equipments.views.add-correspondent.deleted'));
							this.$router.push({
								name: "FactureDeletedDocumentsList",
								query: {
									type: "deleted"
								}
							})
						}else {
							this.$toast.error("Что-то пошло не так. Пожалуйста, попробуйте еще раз!")
						}
						this.$store.state.facture.isDocumentDetailLoading = false;
					})
					.catch(err => {
						console.log(err);
					})
			}
		},
		/**/
		onDownloadClick(item) {
			console.log(item)
		},
		/**/
		onDocumentSentToApprove(){
			this.fetchGetDocumentDetail({ id: this.$route.params.id })
		},
		/**/
		getDocumentHashCode() {
			this.signButtonLoading = true;
			getFactureSignDetails(this.$route.params.id).then(({ roamingJsonContent64 }) => {
				const { signModal } = this.$refs;
				signModal.roamingJsonContent64 = roamingJsonContent64;
				signModal.documentTitle = this.documentDetail.title;
				signModal.dialog = true;
				this.signButtonLoading = false;
			})
		},
		/** **/
		agree() {
			const { commentModalRef } = this.$refs;
			commentModalRef.actionType = "agree";
			commentModalRef.documentTitle = this.documentDetail.title;
			commentModalRef.actionName = "Согласование";
			commentModalRef.submitButtonName = "Согласен";
			commentModalRef.submitButtonIcon = "mdi-check-circle";
			commentModalRef.dialog = true;
		},
		/** **/
		sendAgreementDecision(val) {
			const { commentModalRef } = this.$refs;
			commentModalRef.submitButtonLoading = true;
			let  model = {
				document: this.$route.params.id,
				comment: this.comment,
				is_agree: val === 'agree'
			}
			this.$axios.post(`/facture/agreement/decision/`, model)
				.then((res) => {
					console.log(res)
					commentModalRef.closeCommentModal();
					if (model.is_agree){
						this.$toast.success("Вы согласились с этим документом!")
					}else {
						this.$toast.warning("Вы не согласились с этим документом!")
					}
					this.$router.push({
						name: "FactureApprovalInProcessingDocumentsList",
						query: {
							type: "approval-in-processing"
						}
					})
				})
				.catch(err => {
					commentModalRef.submitButtonLoading = false;
					console.log(err)
				})
		},
		/** **/
		notAgree(){
			const { commentModalRef } = this.$refs;
			commentModalRef.actionType = "disagree";
			commentModalRef.documentTitle = this.documentDetail.title;
			commentModalRef.actionName = "Отказ";
			commentModalRef.submitButtonName = "Отказать";
			commentModalRef.submitButtonIcon = "mdi-close-circle";
			commentModalRef.submitButtonColor = "error"
			commentModalRef.dialog = true;
		},
		/** **/
		cancelApproval(){
			if(!confirm("Вы уверены?")) {
				return
			}

			this.$store.state.facture.isDocumentDetailLoading = true;
			fetchSendToAgreement({
				id: this.$route.params.id,
				users: []
			})
				.then(data => {
					console.log(data)
					if (data.success){
						this.$toast.success("Успешно!");
						this.$store.state.facture.isDocumentDetailLoading = false;
						this.$router.push({
							name: "FactureApprovalInProcessingDocumentsList",
							query: {
								type: "approval-in-processing"
							}
						})
					}else {
						this.$toast.error("Nimadir xato! Qaytadan urinib ko'ring!");
						this.$store.state.facture.isDocumentDetailLoading = false;
					}
				})
				.catch(err => {
					this.$store.state.facture.isDocumentDetailLoading = false;
				})
		},
		/** **/
		downloadDocument() {
			this.fetchDownloadPDFDocument({ id: this.$route.params.id, title: this.documentDetail.title });
		}
	}
}
</script>

<style>
.document-history .v-timeline-item__inner-dot {
	border: 1px solid #cecdcd !important;
}
.document-history .theme--light.v-timeline::before {
	background: #e7e7e7 !important;
}
</style>
