<template>
	<div class="facture-view h-100">
		<app-wrapper>
			<template #body>
				<div class="d-flex align-center px-1 ma-n2">
					<h3 class="line-base mr-4">{{$t('components.documents')}}</h3>

					<v-col md="2" class="pa-0 ml-3">
						<!-- journalList.filter(menu => menu.role.includes(currentUser.role)) -->
						<v-select
							v-model="documentTypeSelected"
							:items="documentTypeList"
							item-text="name"
							outlined
							dense
							placeholder="Вид документа"
							hide-details
							append-icon="mdi-chevron-down"
							background-color="var(--input-bg)"
						>
							<template #item="{ item }">
								<router-link
									:to="{name: item.routerLinkName}"
									class="p-absolute w-100 h-100 d-flex align-center justify-space-between text-decoration-none small-2 text-dark px-3"
									style="top: 0; left: 0"
								>
									<span>{{ item.name }}</span>

<!--									<template v-if="item.count">-->
<!--										<v-chip-->
<!--											color="red"-->
<!--											text-color="white"-->
<!--											style="transform: scale(0.7)"-->
<!--										>-->
<!--											{{ item.count }}-->
<!--										</v-chip>-->
<!--									</template>-->
								</router-link>
							</template>
						</v-select>
					</v-col>

					<div class="d-flex align-center justify-end w-100">
<!--						<filter-modal-->
<!--							active-route="incoming-list"-->
<!--							@emit:filter="filter"-->
<!--							@emit:filter:update="filterUpdate"-->
<!--						/>-->

						<div class="d-flex align-center mr-4">
							<v-icon color="primary" class="mr-1">mdi-account-outline</v-icon>
							<span v-if="factureCurrentUser" class="small-2">{{ factureCurrentUser.lastName }} {{ factureCurrentUser.firstName }} {{ factureCurrentUser.middleName }}</span>
						</div>

						<v-menu offset-y>
							<template v-slot:activator="{ on, attrs }">
								<app-button
									height="40"
									v-bind="attrs"
									v-on="on"
									class="ml-3"
								>
									<template #prepend>
										<plus-icon size="20" />
									</template>
									<template #default>
										{{ $t('document-flow.components.create-document')}}
									</template>
								</app-button>
							</template>

							<v-list>
								<v-list-item
									v-for="item in getDocumentCreateTypeList"
									:key="item.id"
                  link
									@click="createDocumentType(item.id)"
								>
									<v-list-item-title class="font-500">
										{{ item.name }}
									</v-list-item-title>
								</v-list-item>
							</v-list>
						</v-menu>
					</div>
				</div>
			</template>
		</app-wrapper>


		<router-view />

		<!-- Диалог создание документа -->
    <v-dialog
      v-model="createDocumentDialog"
      max-width="900"
    >
      <div class="bg-4">
        <div class="d-flex align-center justify-space-between border-bottom px-7 py-5">
          <h6 class="heading-8 font-500">{{ $t('choose-template-type') }}</h6>

          <app-button
            @click="createDocumentDialog = false"
            icon
            color="error"
            rounded
            width="40"
            min-width="40"
            height="40"
          >
            <x-icon />
          </app-button>
        </div>

        <div class="dialog-body pa-7">
	        <v-row>
            <template v-for="item in createDocumentTypeChildren">
              <v-col md="6">
                <router-link
                  link
                  :to="{ name: item.routeName, params: { type: item.paramsType }, query: { sub_type: item.query } }"
                  class="template-navigations"
                >
                  {{ item.name }}
                </router-link>
              </v-col>
            </template>
          </v-row>
        </div>

	      <div class="d-flex justify-end border-top px-7 py-5">
          <app-button
            color="error"
            min-width="90"
            height="40"
            @click="createDocumentDialog = false"
          >
            {{ $t('chat-messenger.components.close') }}
          </app-button>
	      </div>
      </div>
    </v-dialog>
		<!-- /Диалог создание документа -->
	</div>
</template>

<script>
import FilterModal from "../../../common/components/FilterModal";
import { PlusIcon, XIcon } from "vue-feather-icons";
import {mapGetters, mapState} from "vuex";

export default {
	name: "index",
	components: {
		FilterModal,
		PlusIcon,
		XIcon
	},
	data() {
		return {
			documentTypeSelected: {},
			documentTypeList: [
				{
					name: "Входящие",
					routerLinkName: "FactureIncomingDocumentsList"
				},
				{
					name: "Исходящие",
					routerLinkName: "FactureOutgoingDocumentsList"
				},
				{
					name: "Черновики",
					routerLinkName: "FactureDraftDocumentsList"
				},
				{
					name: "Отказанные",
					routerLinkName: "FactureRejectedDocumentsList"
				},
				{
					name: "Удаленные",
					routerLinkName: "FactureDeletedDocumentsList"
				},
				{
					name: "Архив",
					routerLinkName: "FactureArchiveDocumentsList"
				},
				{
					name: "Аннулированные",
					routerLinkName: "FactureAnnulledDocumentsList"
				},
				{
					name: "Согласование (в обработке)",
					routerLinkName: "FactureApprovalInProcessingDocumentsList"
				},
				{
					name: "Согласование (обработанные)",
					routerLinkName: "FactureApprovalProcessedDocumentsList"
				}
			],
			createDocumentDialog: false,
			createDocumentTypeChildren: []
		}
	},
	computed: {
		...mapState({
			factureCurrentUser: state => state.facture.factureCurrentUser
		}),
		...mapGetters({
			getDocumentCreateTypeList: "facture/getDocumentCreateTypeList"
		})
	},
	mounted() {
		this.setDocumentTypeSelected();
	},
	methods: {
		test($event) {
			$event.preventDefault()
			$event.stopImmediatePropagation()
			console.log($event);
		},
		/*
		*
		* */
		createDocumentType(id) {
			this.createDocumentTypeChildren = this.getDocumentCreateTypeList.find(item => item.id === id)?.children ?? []

			this.createDocumentDialog = true;
		},
		/*
		*
		* */
		filterUpdate(){

		},
		/**/
		filter(){

		},
		/**/
		setDocumentTypeSelected(){
			this.documentTypeSelected = this.documentTypeList.find(item => item.routerLinkName === this.$route.name)
		}
	}
}
</script>

<style scoped>

</style>
