<template>
  <div class="d-flex align-center justify-center not-found-page h-100 w-100">
    <h3 class="text-center">Sahifa Topilmadi</h3>
    <p class="text-center my-5">Siz izlayotgan sahifa topilmadi yoki o'chirilgan</p>
    <router-link :to="currentUser?'/dashboard/home':'/auth/login/login-with-phone'">Bosh sahifa</router-link>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
export default {
  name: 'NotFoundPage',
  computed: {
    ...mapGetters({
			currentUser: "auth/getCurrentUser",
		}),
  }
}
</script>
<style>
.not-found-page {
  flex-direction: column;
}
.not-found-page h3 {
  font-size: 40px;
  font-weight: 800;
  margin: 0;
}
.not-found-page p {
  font-size: 18px;
  font-weight: 400;
}
.not-found-page a {
  align-items: center;
  background-color: #5964D1;
  border-radius: 8px;
  color: #ffffff;
  display: flex;
  font-size: 17px;
  font-weight: 500;
  height: 50px;
  justify-content: center;
  text-decoration: none;
  width: 250px;
}
</style>