<template>
	<div class="affidavit-detail-form">
		<app-wrapper>
			<template #body>
				<v-row>
					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2"> Xodim <span class="color-red">*</span></span>

							<app-autocomplete
								v-model="$v.model.user.$model"
								:error="$v.model.user.$error"
								api-list-url="/user/search/"
								item-text="full_name"
								return-object
								cache-items
							/>

							<v-chip v-if="model.user && formType === 'update'" color="primary" class="mt-2">
								{{ model.user.hasOwnProperty('user') ? model.user.user.full_name : model.user.full_name }}
							</v-chip>
						</div>
					</v-col>

					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2"> Vakolat turi <span class="color-red">*</span></span>

							<app-autocomplete
								v-model="$v.model.affirmation.$model"
								:error="$v.model.affirmation.$error"
								api-list-url="/affirmation/"
								:api-params="{
		              page_size: 20
		            }"
								list-type="list"
								item-text="name"
								item-value="id"
								cache-items
							/>
						</div>
					</v-col>

					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2"> Ishonchnomaning amal qilish muddati </span>

							<app-date-picker
								v-model="model.affidavit_expire_date"
								with-input
								background-color="var(--input-bg)"
							/>
						</div>
					</v-col>

					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2"> Ishonchnoma raqami</span>

							<v-text-field
								v-model="model.affirmation_number"
								hide-details
								outlined
								background-color="var(--input-bg)"
							></v-text-field>
						</div>
					</v-col>

					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2"> Ishonchnomaning sanasi </span>

							<app-date-picker
								v-model="model.affirmation_date"
								with-input
								background-color="var(--input-bg)"
							/>
						</div>
					</v-col>

					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2"> Xujjat (buyruq, farmoyish) raqami</span>

							<v-text-field
								v-model="model.affidavit_order_number"
								hide-details
								outlined
								background-color="var(--input-bg)"
							></v-text-field>
						</div>
					</v-col>

					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2"> Xujjat (buyruq, farmoyish) sanasi </span>

							<app-date-picker
								v-model="model.affidavit_order_date"
								with-input
								background-color="var(--input-bg)"
							/>
						</div>
					</v-col>

					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2"> Ishonchnoma saqlanayotgan tarkibiy tuzilma</span>

							<v-text-field
								v-model="model.affirmation_saved_in"
								hide-details
								outlined
								background-color="var(--input-bg)"
							></v-text-field>
						</div>
					</v-col>
				</v-row>

				<div class="d-flex mt-4">
					<app-button
						height="48"
						@click="manage(formType)"
					>
						<template #prepend>
							<v-icon>mdi-plus</v-icon>
						</template>
						{{ formType === 'create' ? 'Yaratish' : 'Yangilash' }}
					</app-button>
				</div>
			</template>
		</app-wrapper>
	</div>
</template>

<script>
import { required } from "vuelidate/lib/validators";

export default {
	name: "AffidavitDetailForm",
	props: {
		formType: {
			type: String,
			default: 'create'
		}
	},
	data() {
		return {
			model: {
				affidavit_expire_date: null,
				affidavit_order_number: null,
				affidavit_order_date: null,
				affirmation: null,
				affirmation_date: null,
				affirmation_number: null,
				affirmation_saved_in: null,
				user: null
			}
		}
	},
	validations: {
		model: {
			user: { required },
			affirmation: { required },
		}
	},
	mounted() {
		if (this.formType === 'update' && this.$route.query.affirmationId){
			this.getOne(this.$route.query.userId, this.$route.query.affirmationId)
		}
	},
	methods: {
		manage(formType) {
			if (formType === 'create') {
				this.create();
			} else {
				this.update();
			}
		},
		/**/
		create() {
			this.$v.$touch();

			if (this.$v.$invalid) {
				return;
			}

			let model = {
				...this.model,
				user: this.model.user.id,
			}

			this.$axios.post(`/affidavit-detail/`, model)
				.then(({ data }) => {
					this.$toast.success("Yaratildi!");
					this.$router.go(-1);
				})
				.catch(err => {
					this.$toast.error("Yaratishda xatolik!")
				})
		},
		/**/
		update() {
			this.$v.$touch();

			if (this.$v.$invalid) {
				return;
			}

			let model = {
				...this.model,
				user: this.model.user?.user?.id ? this.model.user.user.id : this.model.user.id,
			}

			this.$axios.put(`/affidavit-detail/${this.$route.params.id}/`, model)
				.then(({ data }) => {
					this.$toast.success("Yangilandi!");
					this.$router.go(-1);
				})
				.catch(err => {
					this.$toast.error("Yangilashda xatolik!")
				})
		},
		/**/
		getOne(userId, affirmationId) {
			this.$axios.get(`/affidavit-detail/`, {
				params: {
					user: userId,
					affirmation: affirmationId
				}
			})
				.then(({ data }) => {
					this.model = data.results[0]
				})
		}
	}
}
</script>

<style scoped>

</style>
