<template>
	<div class="affirmation-form">
		<v-dialog
			@click:outside="closeDialog"
			v-model="dialog"
			width="500"
			content-class="reset-dialog-style"
		>
			<div class="bg-white quill-editor rounded-10">
				<div class="bg-white d-flex w-100 justify-end rounded-10">
					<app-button
						icon
						color="error"
						min-width="40"
						width="40"
						height="40"
						tile
						@click="closeDialog"
					>
						<x-icon/>
					</app-button>
				</div>

				<div class="app-input mx-8">
					<span class="d-block font-600 small-2 mb-2"> Vakolat turi <span class="color-red">*</span></span>

					<v-text-field
						v-model="$v.model.name.$model"
						:error="$v.model.name.$error"
						hide-details
						outlined
						background-color="var(--input-bg)"
					></v-text-field>
				</div>

				<div class="d-flex justify-center my-4">
					<app-button
						height="36"
						class="ml-2 mb-1"
						@click="manage(formType)"
					>
						<template #prepend>
							<v-icon>mdi-plus</v-icon>
						</template>
						{{ formType === 'create' ? 'Qo\'shish' : 'Yangilash' }}
					</app-button>
				</div>
			</div>
		</v-dialog>
	</div>
</template>

<script>
import { XIcon } from "vue-feather-icons"
import { required } from "vuelidate/lib/validators";

export default {
	name: "AffirmationForm",
	components: {
		XIcon
	},
	data() {
		return {
			dialog: false,
			formType: "create",
			id: null,
			model: {
				name: null
			}
		}
	},
	validations: {
		model: {
			name: { required }
		}
	},
	methods: {
		manage(formType) {
			if (formType === 'create') {
				this.create();
			} else {
				this.update();
			}
		},
		/**/
		create() {
			this.$v.$touch();

			if (this.$v.$invalid) {
				return;
			}

			this.$axios.post(`/affirmation/`,this.model)
				.then(({ data }) => {
					this.dialog = false;
					this.model.name = null;
					this.$toast.success("Yaratildi!");
					setTimeout(() => {
						window.location.reload();
					}, 1000)
				})
				.catch(err => {
					this.$toast.error("Yaratishda xatolik!");
				})
		},
		/**/
		update() {
			this.$v.$touch();

			if (this.$v.$invalid) {
				return;
			}
			this.$axios.put(`/affirmation/${this.id}/`,this.model)
				.then(({ data }) => {
					this.dialog = false;
					this.model.name = null;
					this.$toast.success("Yangilandi!");
					setTimeout(() => {
						window.location.reload();
					}, 1000)
				})
				.catch(err => {
					this.$toast.error("Yangilashda xatolik!");
				})
		},
		/**/
		closeDialog() {
			this.dialog = false;
			this.model.name = null;
		}
	}
}
</script>

<style scoped>

</style>
