<template>
	<div class="affidavit-form">
		<app-wrapper>
			<template #body>
				<v-row>
					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2"> Xodim <span class="color-red">*</span></span>
							<template v-if="formType === 'create'">
								<v-text-field
									:value="$route.query.fullName"
									readonly
									hide-details
									outlined
									background-color="var(--input-bg)"
								></v-text-field>
							</template>

							<template v-else>
								<app-autocomplete
									v-model="$v.model.user.$model"
									:error="$v.model.user.$error"
									api-list-url="/user/search/"
									item-text="full_name"
									return-object
									cache-items
								/>

								<v-chip v-if="model.user && formType === 'update'" color="primary" class="mt-2">
									{{ model.user.hasOwnProperty('user') ? model.user.user.full_name : model.user.full_name }}
								</v-chip>
							</template>
						</div>
					</v-col>

					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2"> Vakolat turi <span class="color-red">*</span></span>

							<app-autocomplete
								v-model="$v.model.affirmation.$model"
								:error="$v.model.affirmation.$error"
								api-list-url="/affirmation/"
								:api-params="{
		              page_size: 20
		            }"
								list-type="list"
								item-text="name"
								item-value="id"
								cache-items
							/>
						</div>
					</v-col>

					<v-col md="12">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2"> Vakolat nomi <span class="color-red">*</span></span>

							<v-textarea
								v-model="$v.model.name.$model"
								:error="$v.model.name.$error"
								outlined
								rows="5"
								hide-details
								background-color="var(--input-bg)"
							/>
						</div>
					</v-col>
				</v-row>

				<div class="d-flex mt-4">
					<app-button
						height="48"
						@click="manage(formType)"
					>
						<template #prepend>
							<v-icon>mdi-plus</v-icon>
						</template>
						{{ formType === 'create' ? 'Yaratish' : 'Yangilash' }}
					</app-button>
				</div>
			</template>
		</app-wrapper>
	</div>
</template>

<script>
import {required} from "vuelidate/lib/validators";

export default {
	name: "AffidavitForm",
	props: {
		formType: {
			type: String,
			default: 'create'
		}
	},
	data() {
		return {
			model: {
				name: null,
				user: null,
				affirmation: null
			}
		}
	},
	validations: {
		model: {
			name: { required },
			user: { required },
			affirmation: { required },
		}
	},
	mounted() {
		if (this.$route.params.id){
			this.getOne(this.$route.params.id);
		}
	},
	methods: {
		manage(formType){
			if (formType === 'create'){
				this.create();
			}else {
				this.update();
			}
		},
		/**/
		create(){
			this.$v.$touch();

			if (this.$v.model.affirmation.$invalid || this.$v.model.name.$invalid) {
				return;
			}

			let model = {
				...this.model,
				user: this.$route.query.userId,
			}

			this.$axios.post(`/affidavit/`, model)
			.then(({ data }) => {
				this.$toast.success("Yaratildi!");
				this.$router.go(-1);
			})
			.catch(err => {
				this.$toast.error("Yaratishda xatolik!")
			})
		},
		/**/
		update() {
			this.$v.$touch();

			if (this.$v.$invalid) {
				return;
			}

			let model = {
				...this.model,
				user: this.model.user?.user?.id ? this.model.user.user.id : this.model.user.id,
			}

			this.$axios.put(`/affidavit/${this.$route.params.id}/`, model)
				.then(({ data }) => {
					this.$toast.success("Yangilandi!");
					this.$router.go(-1);
				})
				.catch(err => {
					this.$toast.error("Yangilashda xatolik!")
				})
		},
		/**/
		getOne(id) {
			this.$axios.get(`/affidavit/${id}/`)
			.then(({ data }) => {
				this.model = data
			})
		}
	}
}
</script>

<style scoped>

</style>
