<template>
	<div class="user-form">
		<app-wrapper>
			<template #body>
				<v-row>
					<v-col md="4">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2"> Kategoriya <span class="color-red">*</span></span>

							<app-autocomplete
								v-model="$v.model.affair.$model"
								:error="$v.model.affair.$error"
								api-list-url="/bank-affairs/"
								list-type="list"
								item-text="name"
								item-value="id"
								cache-items
							/>
						</div>
					</v-col>

					<v-col md="4">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2"> Xodim <span class="color-red">*</span></span>

							<app-autocomplete
								v-model="$v.model.user.$model"
								:error="$v.model.user.$error"
								api-list-url="/user/search/"
								item-text="full_name"
								return-object
								cache-items
							/>

							<v-chip v-if="model.user && formType === 'update'" color="primary" class="mt-2">
								{{ model.user.hasOwnProperty('user') ? model.user.user.full_name : model.user.full_name }}
							</v-chip>
						</div>
					</v-col>

					<v-col md="4">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2"> Lavozim</span>

							<v-text-field
								v-model="model.position"
								hide-details
								outlined
								background-color="var(--input-bg)"
							></v-text-field>
						</div>
					</v-col>
				</v-row>

				<div class="d-flex justify-end w-100 mt-4">
					<app-button
						height="36"
						@click="manage(formType)"
					>
						<template #prepend>
							<v-icon>mdi-plus</v-icon>
						</template>
						{{ formType === 'create' ? 'Qo\'shish' : 'Yangilash' }}
					</app-button>
				</div>
			</template>
		</app-wrapper>
	</div>
</template>

<script>
import { required } from "vuelidate/lib/validators";

export default {
	name: "UserForm",
	props: {
		formType: {
			type: String,
			default: "create"
		}
	},
	data() {
		return {
			model: {
				affair: null,
				user: null,
				position: null
			}
		}
	},
	validations: {
		model: {
			affair: { required },
			user: { required },
		}
	},
	mounted() {
		if (this.$route.params.id){
			this.getOne(this.$route.params.id);
		}
	},
	methods: {
		manage(formType){
			if (formType === 'create'){
				this.create();
			}else {
				this.update();
			}
		},
		/**/
		create() {
			this.$v.$touch();

			if (this.$v.$invalid) {
				return;
			}

			let model = {
				...this.model,
				user: this.model.user.user ? this.model.user.user.id : this.model.user.id
			}

			this.$axios.post(`/bank-affair-members/`, model)
			.then(({ data }) => {
				this.$toast.success("Yaratildi!");
				this.$router.push({
					name: 'MainAuthorityAdmin'
				})
			})
			.catch(err => {
				this.$toast.error("Yaratishda xatolik!")
			})
		},
		/**/
		update() {
			this.$v.$touch();

			if (this.$v.$invalid) {
				return;
			}

			let model = {
				...this.model,
				user: this.model.user.user ? this.model.user.user.id : this.model.user.id
			}

			this.$axios.put(`/bank-affair-members/${this.$route.params.id}/`, model)
				.then(({ data }) => {
					this.$toast.success("Yangilandi!");
					this.$router.push({
						name: 'MainAuthorityAdmin'
					})
				})
				.catch(err => {
					this.$toast.error("Yangilashda xatolik!")
				})
		},
		/**/
		getOne(id){
			this.$axios.get(`/bank-affair-members/${id}/`)
			.then(({ data }) => {
				this.model = data;

			})
		}
	}
}
</script>

<style scoped>

</style>
