<template>
	<div class="employment-template-view">
		<img
			src="/img/logo_asaka_4.png"
			alt="logo_asaka_4.png"
			class="template-block"
			style="width: 60px"
		/>

		<div class="employment-template-header">
			<span class="employment-header-value template-bottom-line">
				{{ contentModel.document_info.register_number }}
				<span v-if="!contentModel.document_info.register_number" class="template-placeholder-box">1</span>
			</span>
			<span>- son mehnat shartnomasi</span>
		</div>

		<table class="template-table template-info-table">
			<tbody>
				<tr>
					<td style="width: 50%;">
						<div class="template-date template-inline-block">
							<span class="template-date-year template-inline-block template-bottom-line">
								<span v-if="!contentModel.document_info.register_date" class="template-placeholder-box">3</span>
								<span v-else>{{ contentModel.document_info.register_date.slice(0, 4) }} yil</span>
							</span>

							<span class="left-quote">“</span>
							<span class="template-date-date template-inline-block template-bottom-line">
								<span v-if="!contentModel.document_info.register_date" class="template-placeholder-box">3</span>
								<span v-else>{{ contentModel.document_info.register_date.slice(8, 10) }}</span>
							</span>
							<span class="right-quote">”</span>

							<span class="template-date-month template-inline-block template-bottom-line">
								<span v-if="!contentModel.document_info.register_date" class="template-placeholder-box">3</span>
								<span v-else>{{ contentModel.document_info.register_date.slice(5, 7) }}</span>
							</span>
						</div>
					</td>

					<td style="width: 50%; text-align: right;">
						<span
							v-if="!contentModel.document_info.region"
							class="template-placeholder-box"
						>
							2
						</span>

						<h1 class="template-district">{{ contentModel.document_info.region }}</h1>
					</td>
				</tr>
			</tbody>
		</table>

		<p class="template-size-15 template-indent template-text-justify">
			"Asakabank" aksiyadorlik jamiyati nomidan,
			<span v-if="!contentModel.document_info.additional_details.contract_number" class="template-placeholder-box">0</span>
			{{ contentModel.document_info.additional_details.contract_number }}
			-sonli ishonchnoma asosida
			faoliyat yurituvchi
			<strong>{{ contentModel.document_info.__signer && contentModel.document_info.__signer.full_name }}</strong>
			<span v-if="!contentModel.document_info.__signer" class="template-placeholder-box">4</span>
			keyingi o'rinlarda "Ish beruvchi" bir tarafdan va
			<strong>{{ formModel.last_name }} {{ formModel.first_name }} {{ formModel.father_name }}</strong>
			ikkinchi tomondan, keyingi o'rinlarda "Xodim" deb ataladi, mazkur
			Mehnat shartnomasini (keyinchalik Shartnoma) quyidagilar haqida tuzdilar,
		</p>

		<h1 class="template-title">
			I. ishga qabul qilish
		</h1>

		<div class="template-size-15">
			1.1. Mazkur Shartnomaning shartlariga ko'ra Ish beruvchi Xodimni quyidagi lavozimga ishga
			qabul qiladi:
		</div>
		
		<div class="template-section-space template-relative">
			<div class="template-relative template-bottom-line template-size-15">
				<span v-if="!(contentModel.document_info && contentModel.document_info.__departments)" class="template-placeholder-box" style="margin-right: 4px">6</span>

				<span v-if="!(contentModel.document_info && contentModel.document_info.__sub_departments)" class="template-placeholder-box" style="margin-right: 4px">7</span>

				<span v-if="!(contentModel.document_info && contentModel.document_info.__division)" class="template-placeholder-box" style="margin-right: 4px">8</span>

				<span v-if="!(contentModel.document_info && contentModel.document_info.position)" class="template-placeholder-box" style="margin-right: 4px">9</span>

				<strong class="template-inline-block" style="margin-right: 4px">
					{{ contentModel.document_info.__departments && contentModel.document_info.__departments.name }}
				</strong>

				<strong class="template-inline-block" style="margin-right: 4px">
					{{ contentModel.document_info.__sub_departments && contentModel.document_info.__sub_departments.name }}
				</strong>

				<strong class="template-inline-block" style="margin-right: 4px">
					{{ contentModel.document_info.__division && contentModel.document_info.__division.name }}
				</strong>

				<strong class="template-inline-block">{{ contentModel.document_info.position }}</strong>
			</div>
			<span class="template-bottom-line-text">(Tarkibiy tuzilma va lavozim ko'rsatiladi)</span>
		</div>

		<div class="template-section-space">
			<div class="template-size-15">
				<span style="margin-right: 8px;">1.2. Ishning boshlanish sanasi:</span>

				<strong v-if="contentModel.document_info.start_date">{{ contentModel.document_info.start_date | filterDateMonthYear }} y</strong>

				<span
					v-if="!contentModel.document_info.start_date"
					class="template-placeholder-box"
					style="transform: translateY(-2px);"
				>
					10
				</span>
			</div>

			<div class="template-size-15">
				<span style="margin-right: 8px;">1.3. Ish joyi:</span>

				<strong>{{ contentModel.document_info.__branches && contentModel.document_info.__branches.name }}</strong>

				<span
					v-if="!contentModel.document_info.__branches"
					class="template-placeholder-box"
					style="transform: translateY(-2px);"
				>
					5
				</span>
			</div>

			<div class="template-min-height-44">
				<div class="template-size-15 template-inline-block">
					<span style="margin-right: 4px;">1.4. Xodim</span>

					<div class="template-inline-table">
						<div class="template-relative template-bottom-line template-size-15 template-relative template-min-width">
							<strong class="template-inline-block" style="height: 18px">{{ contentModel.document_info.period }}</strong>

							<span
								v-if="!contentModel.document_info.period"
								class="template-placeholder-box"
							>
								11
							</span>

							<span class="template-bottom-line-text" style="width: 225px">(Nomuayyan, muddatli sinov, muddatisiz)</span>
						</div>
					</div>

					<span class="template-inline-block" style="margin-left: 4px">ishga qabul qilinadi.</span>
				</div>
			</div>

			<div class="template-min-height-44">
				<div class="template-size-15 template-inline-block">
					<span style="margin-right: 4px;">1.5. Sinov muddati</span>

					<div class="template-inline-table">
						<div class="template-relative template-bottom-line template-size-15 template-relative template-min-width">
							<strong class="template-inline-block" style="height: 18px">{{ contentModel.document_info.trial_period }}</strong>

							<span
								v-if="!contentModel.document_info.trial_period"
								class="template-placeholder-box"
							>
								12
							</span>

							<span class="template-bottom-line-text" style="min-width: 140px;">(3, 6 oy, sinov muddatisiz)</span>
						</div>
					</div>
				</div>
			</div>

			<div class="template-min-height-44">
				<div class="template-size-15 template-inline-block">
					<span style="margin-right: 4px;">1.6. Mazkur shartnoma</span>

					<div class="template-inline-table template-relative">
						<div class="template-relative template-bottom-line template-size-15 template-min-width">
							<strong class="template-inline-block" style="height: 18px">{{ contentModel.document_info.employee }}</strong>

							<span
								v-if="!contentModel.document_info.employee"
								class="template-placeholder-box"
							>
								13
							</span>
						</div>

						<span class="template-bottom-line-text" style="width: 190px">(asosiy ish, o‘rindoshlik va boshqa)</span>
					</div>

					<span class="template-inline-block" style="margin-left: 4px">hisoblanadi.</span>
				</div>
			</div>
		</div>

		<div class="template-section-space">
			<h1 class="template-title">
				II. taraflarning huquq va majburiyatlari
			</h1>

			<div class="template-size-15">
				<template v-for="item in rightsResponsibilities">
					<span class="template-block" style="margin-right: 8px;">{{ item.title }}</span>

					<template v-for="sub in item.subItems">
						<ul class="template-list-style-none template-text-justify">
							<li class="template-list-space">
								{{ sub.title }}
							</li>
						</ul>
					</template>
				</template>
			</div>

			<h1 class="template-title">
				III. ISH HAQI
			</h1>

			<div class="template-size-15">
				<template v-for="item in salary">
					<span class="template-block template-text-justify">{{ item.title }}</span>

					<template v-for="sub in item.subItems">
						<ul class="template-list-style-none template-text-justify">
							<li class="template-list-space">
								{{ sub.title }}
							</li>
						</ul>
					</template>
				</template>
			</div>

			<h1 class="template-title">
				IV. ISH VAQTI VA DAM OLISH VAQTI
			</h1>

			<div class="template-size-15">
				<template v-for="item in workTimes">
					<ul class="template-list-style-none template-text-justify template-list-space-0">
						<li class="template-list-space">
							{{ item.title }}
						</li>
					</ul>
				</template>

				<ul class="template-list-style-none template-text-justify template-list-space-0">
					<li class="template-list-space">
						4.2. Ish vaqti soat
						<span
							v-if="!contentModel.document_info.work_time"
							class="template-placeholder-box"
						>
							14
						</span>
						{{ contentModel.document_info.work_time }},
						bunda soat 13:00 dan 14:00 gacha 1 soatdan iborat kundalik tushlik tanaffusi belgilangan.
					</li>
				</ul>

				<template v-for="item in workTimesSecond">
					<ul class="template-list-style-none template-text-justify template-list-space-0">
						<li class="template-list-space">
							{{ item.title }}
						</li>
					</ul>
				</template>
			</div>

			<h1 class="template-title">
				V. TOMONLAR JAVOBGARLIGI
			</h1>

			<div class="template-size-15">
				<template v-for="item in responsibilities">
					<span class="template-block template-text-justify">{{ item.title }}</span>

					<template v-for="sub in item.subItems">
						<ul class="template-list-style-none template-text-justify">
							<li class="template-list-space">
								{{ sub.title }}
							</li>
						</ul>
					</template>
				</template>
			</div>

			<h1 class="template-title">
				VI. MEHNAT SHARTNOMASIGA O’ZGARTIRISH KIRITISH YOKI SHARTNOMANI BEKOR QILISH
			</h1>

			<div class="template-size-15">
				<template v-for="item in amendmentEmployment">
					<span class="template-block template-text-justify">{{ item.title }}</span>

					<template v-for="sub in item.subItems">
						<ul class="template-list-style-none template-text-justify">
							<li class="template-list-space">
								{{ sub.title }}
							</li>
						</ul>
					</template>
				</template>
			</div>

			<h1 class="template-title">
				VII. MAXFIYLIK VA ISH BERUVCHI MANFAATLARIGA RIOYA QILISH
			</h1>

			<div class="template-size-15">
				<template v-for="item in privacyEmployer">
					<span class="template-block template-text-justify">{{ item.title }}</span>

					<template v-for="sub in item.subItems">
						<ul class="template-list-style-none template-text-justify">
							<li class="template-list-space">
								{{ sub.title }}
							</li>
						</ul>
					</template>
				</template>
			</div>

			<h1 class="template-title">
				VIII. YAKUNIY QOIDALAR
			</h1>

			<div class="template-size-15">
				<template v-for="item in finishRules">
					<span class="template-block template-text-justify">{{ item.title }}</span>

					<template v-for="sub in item.subItems">
						<ul class="template-list-style-none template-text-justify">
							<li class="template-list-space">
								{{ sub.title }}
							</li>
						</ul>
					</template>
				</template>
			</div>

			<h1 class="template-title template-text-justify" style="font-weight: 400">
				MAZKUR SHARTNOMANING MATNI XODIM UCHUN TUSHUNARLI BO’LGANI VA SHARTNOMANING YUQORIDA KO’RSATILGAN BARCHA SHARTLARIGA ROZILIGI TASDIQLANIB, TOMONLAR USHBU SHARTNOMANI BIRINCHI SAHIFADA KO’RSATILGAN SANADA IMZOLADILAR.
			</h1>
		</div>

		<div class="template-section-space">
			<table class="template-table template-info-table">
				<tbody>
					<tr>
						<td style="width: 50%;">
							<strong class="template-block">Xodim</strong>
							<strong>
								{{ formModel.first_name && formModel.first_name[0] }}.
								{{ formModel.father_name && formModel.father_name[0] }}.
								{{ formModel.last_name }}
							</strong>
						</td>
						<td style="width: 50%;">
							<strong class="template-block">Ish beruvchi</strong>

							<span
								v-if="!contentModel.document_info.__signer"
								class="template-placeholder-box"
							>5</span>

							<strong v-if="contentModel.document_info.__signer">
								{{ contentModel.document_info.__signer && contentModel.document_info.__signer.first_name && contentModel.document_info.__signer.first_name[0] }}.
								{{ contentModel.document_info.__signer && contentModel.document_info.__signer.father_name && contentModel.document_info.__signer.father_name[0] }}.
								{{ contentModel.document_info.__signer && contentModel.document_info.__signer.last_name }}
							</strong>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="template-section-space">
			<table class="template-table template-info-table">
				<tbody>
					<tr style="vertical-align: bottom;">
						<td style="width: 50%;">
							<div class="template-size-15 template-inline-block">
								<strong style="margin-right: 4px;">Imzo</strong>

								<div class="template-inline-table">
									<div class="template-relative template-bottom-line template-size-15 template-relative template-min-width template-text-center">
										<strong class="template-inline-block" style="height: 18px">
											<qrcode-vue
												v-if="contentModel.is_candidate_signed"
												ref="qrCode"
												:value="'https://check.asakabank.uz/document/'"
												size="60"
												level="L"
												render-as="svg"
											/>
										</strong>
									</div>
								</div>
							</div>
						</td>

						<td style="width: 50%;">
							<div class="template-size-15 template-inline-block">
								<strong style="margin-right: 4px;">Imzo</strong>

								<div class="template-inline-table">
									<div class="template-relative template-bottom-line template-size-15 template-relative template-min-width template-text-center">
										<strong class="template-inline-block" style="height: 18px">
											<qrcode-vue
												v-if="contentModel.is_employer_signed"
												ref="qrCode"
												:value="'https://check.asakabank.uz/document/'"
												size="60"
												level="L"
												render-as="svg"
											/>
										</strong>
									</div>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="template-section-space">
			<table class="template-table template-info-table">
				<tbody>
					<tr>
						<td style="width: 50%; padding-right: 20px;">
							<div>
								<strong>Pasport:&nbsp;</strong>
								<span
									v-if="!contentModel.document_info.passport_info"
									class="template-placeholder-box"
								>
									15
								</span>

								<span>{{ contentModel.document_info.passport_info }}</span>
							</div>

							<div>
								<strong>Manzili:&nbsp;</strong>
								<span
									v-if="!contentModel.document_info.address"
									class="template-placeholder-box"
								>
									16
								</span>

								<span>{{ contentModel.document_info.address }}</span>
							</div>
						</td>
						<td style="width: 50%; text-align: center; padding-left: 20px;">
							<div>“Asakabank” AJ</div>
							<div>H/r 2980 2000 9000 0087 3003</div>
							<div>Bank kodi: 00873  INN: 201589828</div>
							<div>OKYeD: 64190 QQS kodi: 3260 1000 5504</div>
							<div>100015, Toshkent sh., Nukus ko‘chasi, 67-uy</div>
						</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</template>

<script>
import { mapState } from 'vuex'
import QrcodeVue from 'qrcode.vue'

export default {
	name: "EmploymentContract",
	components: {
		QrcodeVue
	},
	data() {
		return {
			rightsResponsibilities: [
				{
					title: '2.1. Xodimning huquqlari:',
					subItems: [
						{
							title: '- qonunchilikka va Bank ichki me’yoriy hujjatlariga zid kelmaydigan ish uslubi va usullarini mustaqil ravishda tanlash;'
						},
						{
							title: '- xizmat majburiyatlarini bajarish uchun sharoit yaratib berishni talab qilish, jumladan, faoliyat sohasiga tegishli bo‘lgan zarur jihozlar, asbob-uskunalar va boshqa mehnat vositalarini taqdim etishlarini talab qilish.'
						},
					]
				},
				{
					title: '2.2. Xodimning majburiyatlari',
					subItems: [
						{
							title: '- lavozim yo‘riqnomasiga rioya qilish va yo‘riqnomada belgilangan o‘z xizmat majburiyatlarini vijdonan bajarishi;'
						},
						{
							title: '- mehnat va ishlab chiqarish intizomiga (Ichki mehnat tartib qoidalari, Jamoa shartnomasi talablariga va Bankning boshqa ichki me’yoriy hujjatlari talablariga) rioya qilish;'
						},
						{
							title: '- “Tijorat banklarida jinoiy faoliyatdan olingan daromadlarni legallashtirish va terrorizmni moliyalashtirishga qarshi kurashish bo‘yicha ichki nazorat Qoidalari” talablarini bajarish;'
						},
						{
							title: '- "Xodim" korrupsiyaga qarshi kurashish siyosatiga muvofiq Shartnoma bo‘yicha o‘z mehnat vazifalarini bajarar ekan, korrupsiya huquqbuzarliklarini sodir etmaslikni o‘z zimmasiga oladi, ya’ni - pora bermaslik (pora berishda vositachilik qilmaslik), vakolatlarini suiiste’mol qilmaslik, tijoratda pora berishda qatnashmaslik yoki "Ish beruvchining" qonuniy manfaatlariga zid ravishda o‘z xizmat mavqeidan boshqa noqonuniy tarzda foydalanmaslik yoki pul, qimmatli qog‘ozlar, boshqa mulk ko‘rinishidagi imtiyozlarni olish, shu jumladan mulkiy huquqlar, ishlar yoki xizmatlar, o‘z foydasiga yoki boshqa shaxslar foydasiga yoki har qanday shaxsning harakatlariga yoki qarorlariga ta’sir qilish yoki mansabdor shaxslar) va (yoki) organlarga asossiz afzalliklarga ega bo‘lish, boshqa noqonuniy maqsadlarga erishish kabi holatlarni sodir etmaslikni o‘z zimmasiga oladi;'
						},
						{
							title: '- Agar kimdir u bilan korrupsiya huquqbuzarliklarini sodir etish uchun bog‘lansa, shuningdek "Ish beruvchi" nomidan tashkil (tayyorgarlik) etilganligini va/yoki korrupsiya huquqbuzarliklarini sodir etilganligini bilsa "Xodim" "Ish beruvchini" (yoki to‘g‘ridan-to‘g‘ri rahbari va boshqa vakolatli xodimni)ni yozma yoki og‘zaki xabardor qilishi shart;'
						},
						{
							title: '- "Xodim" korrupsiyaga qarshi kurashish siyosati va O’zbekiston Respublikasi qonunchiligini anglashda manfaatlar to‘qnashuvining har qanday ehtimolini oldini olish choralarini ko‘rishi va manfaatlar to‘qnashuvi yoki uning yuzaga kelish ehtimoli to‘g‘risida “Xodim” bu haqda xabar topishi bilanoq "Ish beruvchi" (yoki to‘g‘ridan-to‘g‘ri rahbari va boshqa vakolatli xodimni)ni zudlik bilan yozma yoki og‘zaki xabardor qilishi shart;'
						},
						{
							title: '- "Xodim" O’zbekiston Respublikasi qonun hujjatlarida, shuningdek Korrupsiyaga qarshi kurashish siyosatida nazarda tutilgan korrupsiyaga qarshi kurashish talablarni buzganlik uchun O’zbekiston Respublikasi qonun hujjatlarida belgilangan tartibda intizomiy, ma’muriy, fuqarolik va/yoki jinoiy javobgarlikka tortilish ehtimoli to‘g‘risida ogohlantirildi;'
						},
						{
							title: '- ish beruvchi tomonidan berilgan qonuniy buyruqlar, farmoyishlar va ko‘rsatmalarni bajarish;'
						},
						{
							title: '- malaka va kasbiy majburiyatlarga rioya qilish, o‘zining lavozim vazifalari doirasidagi ishlarda tashabbus ko‘rsatish va ish beruvchining manfaatlarini ta’minlash uchun barcha harakatlarni amalga oshirish'
						},
						{
							title: '- bank mijozlariga xizmat ko‘rsatishda hamda ish faoliyati jarayonida “Asakabank” Korporativ odob kodeksi, “Asakabank” AJ tizimida mijozlarga xizmat ko‘rsatish standartlariga va bankning boshqa ichki hujjatlariga rioya qilish;'
						},
						{
							title: '- bank/xizmat/tijorat sirlarini, shaxsga doir ma’lumotlarni saqlashni va uchinchi shaxslarga oshkor qilmaslikni ta’minlash;'
						},
						{
							title: '- zimmasiga yuklatilgan vazifalarni bajarish uchun unga topshirilgan mol-mulkni saqlash va zarar yetkazmaslik;'
						},
						{
							title: '- mehnat muhofazasi va texnika xavfsizligi, shuningdek, ishlab chiqarish sanitariyasi qoidalariga rioya qilish;'
						},
						{
							title: '- alkogol, giyohvandlik va toksik moddalarini iste’mol qilgan holda ish joyiga kelmaslik, shuningdek ish joyida ham mazkur vositalarni iste’mol qilmaslik;'
						},
						{
							title: '- ish beruvchining yozma roziligisiz hujjatlarni, shu jumladan, elektron moslamalardagi ma’lumotlarni tarqatmaslik;'
						},
						{
							title: '- bankning bosh ofisida, filiallarida, bank xizmat ko‘rsatish markazlarida, quyi tizimdagi tashkilotlarida, mini-banklarda va Bankning boshqa ijaraga olingan ofislarida, binolarida, ish joylarini video/foto tasvirga tushirmaslik, audio yozmaslik (xodim faqat o‘zini yoki boshqa xodimlarni/mijozlarni yozib olishidan qat’iy nazar), intervyu bermaslik,  ushbu bandda ko‘rsatilgan informatsion materiallarni yoki boshqa bank faoliyati (uning filiallari, mini-banklari, Bank xizmat markazlari) to‘g‘risidagi materiallarni uchinchi shaxslarga, ommaviy axborot vositalariga efirga uzatilishi, internet saytlarda joylashtirilishi yoki  gazeta, jurnal va boshqa tarqatma nashrlarida chop etilishi uchun berilishiga yo‘l qo‘ymaslik, ushbu ko‘rinishdagi ma’lumotlarni Bank rahbariyati/filial boshqaruvchisi (Bank xizmatlari markazlari) roziligisiz  internet resurslarida mustaqil ravishda joylashtirmaslik (rozilik olish uchun rahbariyat nomiga tegishli informatsion materiallarni ilova qilgan holda bildirishnoma rasmiylashtirilishi lozim). Mazkur bandning talabi buzilgan taqdirda, aybdor xodimga nisbatan O’zbekiston Respublikasining mehnat kodeksi va Bank ichki mehnat tartib qoidalariga muvofiq intizomiy jazo chorasi qo‘llaniladi;'
						},
						{
							title: '- ish yuzasidan o‘rnatilgan ishbilarmonlik munosabatlar tufayli mijozlar va boshqa shaxslardan hech qanday ko‘rinishda komissiya, shaxsiy sovg‘alar yoki pul olmaslik;'
						},
						{
							title: '- ishda foydalanish uchun Ish beruvchi tomonidan taqdim qilingan moddiy boyliklarni (kompyuter texnikasi, planshet, telefon, hujjatlar va hk.) qaytarish;'
						},
						{
							title: '- xodim bankning “Korrupsiyaga qarshi kurashish” Siyosatiga muvofiq mehnat shartnomasi bo‘yicha o‘z mehnat vazifalarini bajarar ekan, korrupsiya huquqbuzarliklarini sodir etmaslikni hamda ushbu turdagi huquqbuzarlik amalga oshirish jarayonida ishtirok etmaslikni o‘z zimmasiga oladi;'
						},
						{
							title: 'xodim O‘zbekiston Respublikasi qonun hujjatlarida, shuningdek bankning “Korrupsiyaga qarshi kurashish” Siyosatida nazarda tutilgan korrupsiyaga qarshi kurashish talablarni buzganlik uchun O‘zbekiston Respublikasi qonun hujjatlarida belgilangan tartibda intizomiy, maʼmuriy, fuqarolik va/yoki jinoiy javobgarlikka tortilish ehtimoli to‘g‘risida ogohlantirildi.'
						}
					]
				},
				{
					title: '2.3. Ish beruvchining huquqlari:',
					subItems: [
						{
							title: '- xodimdan mazkur Shartnomada va xodimning lavozim yo‘riqnomasida ko‘rsatilgan mehnat majburiyatlari ijrosini, mulkni ehtiyot qilishni va ichki mehnat tartib qoidalariga rioya qilishni talab qilish;'
						},
						{
							title: '- xodimni O’zbekiston Respublikasi mehnat qonunchiligi va boshqa me’yoriy hujjatlarida belgilangan tartibda intizomiy va moddiy javobgarlikka tortish;'
						},
						{
							title: '- bank mijozlariga xizmat ko‘rsatishda hamda ish faoliyati jarayonida “Asakabank” Korporativ axloq kodeksi, “Asakabank” tizimida mijozlarga xizmat ko‘rsatish standartlariga va Bankning boshqa ichki hujjatlaridagi mehnat qoidalariga rioya qilishni talab qilish;'
						},
						{
							title: '- xodimni vijdonan va samarali mehnati uchun rag‘batlantirish;'
						},
						{
							title: '- O’zbekiston Respublikasining amaldagi qonunchiligida va Bankning me’yoriy hujjatlarida nazarda tutilgan boshqa huquqlarni amalga oshirish;'
						},
						{
							title: '- noaniq sabablarga ko‘ra xodim uzoq vaqt ish joyida bo‘lmagan taqdirda, sababi aniqlanmaguncha, ish beruvchi unga ish joyida sababsiz bo‘lmagan vaqtlari uchun ish haqini to‘lashni to‘xtatib qo‘yish huquqiga ega.'
						}
					]
				},
				{
					title: '2.4. Ish beruvchining majburiyatlari:',
					subItems: [
						{
							title: '- xodimga ish haqini va amaldagi haq to‘lash tizimiga muvofiq boshqa to‘lovlarni o‘z vaqtida to‘lash;'
						},
						{
							title: '- xodimning ishini, ish joyini tashkil qilish va uni mehnat muhofazasi qoidalari hamda lavozim yo‘riqnomasi, Jamoa shartnomasi, Ichki mehnat tartibi qoidalari va Ish beruvchining boshqa me’yoriy hujjatlari va ichki qoidalari bilan tanishtirish;'
						},
						{
							title: '- mehnat muhofazasi va xavfsizlik, yong‘in xavfsizligi talablariga muvofiq tegishli ish sharoitini ta’minlash;'
						},
						{
							title: '- jamoa shartnomasi shartlarini bajarish;'
						},
						{
							title: '- xodimga xizmat safari xarajatlarini, uning mehnat majburiyatlarini bajarishi bilan bog‘liq xarajatlarni, shuningdek, O’zbekiston Respublikasining amaldagi qonunchiligida nazarda tutilgan boshqa xarajatlarni to‘lash;       '
						},
						{
							title: '- bankning ichki me’yoriy hujjatlarida belgilangan me’yorlarga muvofiq ijtimoiy himoyani taqdim etish.'
						}
					]
				}
			],
			salary: [
				{
					title: '3.1. Xodimga shtat jadvaliga asosan oylik maosh (ish haqi) belgilanadi. Xodimning ish haqi miqdori amaldagi qonunchilikka muvofiq barcha soliqlar va yig‘imlarni hisobga olgan holda ko‘rsatiladi. Xodimga ish haqi davlat budjeti to‘lovlari amalga oshirilgandan so‘ng to‘lanadi.'
				},
				{
					title: '3.2. Ish haqi to‘lovi pul shaklida, Ish beruvchining ichki me’yoriy hujjatlarida tasdiqlangan va belgilangan muddatlarda, har yarim oyda bir martadan kam bo‘lmagan tarzda amalga oshiriladi.'
				},
				{
					title: '3.3. Xodim vaqtincha mehnatga layoqatsiz bo‘lganda va baxtsiz xodisa yuz berganda to‘lovlarni to‘lash tartibi va miqdori O’zbekiston Respublikasining amaldagi qonunchiligiga muvofiq belgilanadi.'
				},
				{
					title: '3.4. Xodimga qo‘shimcha to‘lovlar, ustama haq, kompensatsiyalar, shuningdek, mukofotlar va mehnat sharoiti bilan bog‘liq boshqa rag‘batlantiruvchi to‘lovlar Bankning ichki me’yoriy hujjatlariga muvofiq belgilanishi mumkin.'
				},
				{
					title: '3.5. Ish vaqtidan tashqari, shuningdek, dam olish va bayram kunlari ishga jalb qilinganda mehnatga haq to‘lash amaldagi qonunchilikka muvofiq amalga oshiriladi.'
				}
			],
			workTimes: [
				{
					title: '4.1. Ish vaqtining davomiyligi bir haftada 40 soatdan, ya’ni 5 kunlik ish haftasida 8 soatlik ish kunidan iborat. Ish haftasi dushanbadan jumagacha, shanba va yakshanba kunlari dam olish kunlari hisoblanadi.'
				},
			],
			workTimesSecond: [
				{
					title: '4.3. Xodim amaldagi qonunchilikka muvofiq ish vaqtidan tashqari, dam olish va bayram kunlari ishga jalb qilinishi mumkin.'
				},
				{
					title: '4.4. Xodimga har yili O’zbekiston Respublikasining mehnat kodeksi va Jamoa shartnomasiga muvofiq ta’tillar taqdim qilinadi.'
				},
				{
					title: '4.5. Yillik asosiy ta’til birinchi ish yili uchun 6 (olti) oy ishlangandan keyin beriladi.'
				},
				{
					title: '4.6. Mehnat ta’tillarini berish navbati, kalendar yil boshlanishiga qadar Kasaba uyushmasi qo‘mitasi bilan kelishilgan holda Ish beruvchi tomonidan tasdiqlangan, ta’tillar jadvaliga muvofiq belgilanadi.'
				},
				{
					title: '4.7. Ish beruvchi ishlab chiqarish zaruriyatiga ko‘ra xodimni faqat uning yozma roziligi bilan, foydalanilmagan ta’til kunlarini ushbu ish yili davomida taqdim etish majburiyati bilan ta’tildan chaqirib olishi mumkin.'
				},
				{
					title: '4.8. Vaqtincha mehnatga layoqatsizlik (kasallik) davri yoki baxtsiz hodisa tufayli kutilmagan holda ishga chiqish imkoniyati bo‘lmagan taqdirda xodim Ish beruvchini ogohlantirib, ishga chiqa olmaslik  muddati ehtimoli haqida 24 soat ichida xabardor qilishi shart. Xodim ishga chiqmaganlik sababini tasdiqlovchi  vaqtincha mehnatga layoqatsizlik varaqasini taqdim etishi zarur.'
				},
			],
			responsibilities: [
				{
					title: '5.1. Xodim tomonidan mehnat shartnomasi va xodimning lavozim yo‘riqnomasida ko‘rsatilgan vazifalarini bajarmagan yoki yetarli darajada bajarmagan yohud noto‘g‘ri bajargan taqdirda, mehnat qonunchiligini, Ish beruvchining ichki mehnat qoidalari va boshqa me’yoriy hujjatlari qoidalarini buzganda, shuningdek, Ish beruvchiga moddiy zarar yetkazgan taqdirda Xodim intizomiy, moddiy va boshqa javobgarliklarni O’zbekiston Respublikasi amaldagi qonunchiligiga muvofiq o‘z zimmasiga oladi.'
				},
				{
					title: '5.2. Ish beruvchi amaldagi qonunchilikka muvofiq moddiy va boshqa javobgarlikni o‘z zimmasiga oladi.'
				}
			],
			amendmentEmployment: [
				{
					title: '6.1. Mazkur Shartnoma Ish beruvchining yoki Xodimning tashabbusi bilan O’zbekiston Respublikasi Mehnat Kodeksiga muvofiq o‘zgartirilishi va bekor qilinishi mumkin. '
				},
				{
					title: '6.2. Xodim Shartnomani istalgan vaqtda bekor qilishga haqlidir. Bunda Shartnomani bekor qilishdan 14 kalendar kun oldin, yoki sinov muddati davomida dastlabki sinov tugashidan 3 (uch) kun oldin Ish beruvchiga yozma ravishda xabar beriladi.'
				},
				{
					title: '6.3. Mazkur Shartnomani bekor qilishdan oldin xodim:',
					subItems: [
						{
							title: '- ish beruvchi unga foydalanish uchun bergan mulkni, shuningdek, kompyuter va boshqa ofis texnikasini, hujjatlarni va boshqa materiallarni qaytarishi lozim;'
						},
						{
							title: '- ish beruvchi bilan barcha hisob-kitoblarni amalga oshirish, ya’ni qabul qilingan, lekin ishlab berilmagan pul mablag‘lari bo‘yicha mablag’larni qaytarish (soliq qarzlarini va boshqa majburiy to‘lovlarni to‘lash, xizmat safari xarajatlari uchun avans sifatida berilgan, lekin foydalanilmagan mablag‘larni qaytarib berish, ish beruvchining o‘qitish va malaka oshirish uchun xarajatlarini qoplash va boshqa xarajatlar);'
						},
						{
							title: '- ish beruvchiga egallab turgan lavozimi bo‘yicha xodimlarni tayyorlashda yordam beradi.'
						}
					]
				}
			],
			privacyEmployer: [
				{
					title: '7.1. Xodim bank siri, xizmat siri, tijorat va kasbiy sirlarni yoki Ish beruvchiga va/yoki uning mijozlariga tegishli bo‘lgan ma’lumotlarni to‘liq maxfiylikda saqlashga majbur, va hech qanday tarzda, ushbu Shartnomaning amal qilish muddati davomida yoki bekor qilinganidan keyin ko‘rsatilgan ma’lumotlarni o‘z manfaatlari yoki uchinchi shaxslar manfaatlari yo‘lida ishlatmasligi kerak.'
				},
				{
					title: '7.2. Maxfiy ma’lumotlar deganda oshkor qilib bo‘lmaydigan barcha ma’lumotlar tushuniladi, xususan, Ish beruvchi mijozlarining moliyaviy holati, operatsiyalari, faoliyati, shuningdek, har qanday bank, xizmat, tijorat yoki ishlab chiqarish sirlari yoki Ish beruvchiga tegishli bo‘lgan boshqa ma’lumotlar kiradi, jumladan:',
					subItems: [
						{
							title: '- huquqiy, texnik va maxsus hujjatlar,  shuningdek, statistik ma’lumotlar;'
						},
						{
							title: '- bankning mijozlari va biznes sheriklarining moliyaviy operatsiyalari bilan bog‘liq ma’lumotlar;'
						},
						{
							title: '- to‘g‘ridan-to‘g‘ri o‘z vazifalarini bajarish bilan bog‘liq ma’lumotlar, shu jumladan o‘zi uchun belgilangan pul mukofoti miqdori;'
						},
						{
							title: '- Bank va uning sheriklari faoliyati bilan bog‘liq bo‘lgan, ular tomonidan amalga oshirilgan, bank mulki bo‘lgan texnik, huquqiy va boshqa loyihalar to‘g‘risidagi ma’lumotlar,  shuningdek, bank xodimlari haqida ma’lumot.'
						},
					]
				},
				{
					title: '7.3. Yuqoridagi shartlar buzilgan taqdirda, Xodim qonun hujjatlariga muvofiq moddiy javobgarlikni o‘z zimmasiga oladi va yetkazilgan zararni to’liq qoplashi shart.'
				},
				{
					title: '7.4. Xodim o‘zini nomidan yoki taxallusi bilan Ish beruvchining roziligisiz ommaviy axborot manbalariga va boshqa ma’lumot manbalariga, Bank va uning sho‘ba korxonalari faoliyati bilan bog‘liq har qanday materiallarni, shuningdek, bank xodimlari va mijozlari bilan bog‘liq ma’lumotlarni berishga haqli emas. Xodim o‘zi tayyorlagan ma’lumotlarni tekshirishi, Bank va uning mijozlarining ishbilarmonlik obro‘siga salbiy ta’sir ko‘rsatishi mumkin bo‘lgan, fuqarolarning sha’ni va qadr-qimmatiga tajovuz qiladigan va ish beruvchiga va/yoki uning mijozlariga va/yoki uning xodimlariga zarar yetkazadigan boshqa ma’lumotlarning oshkor qilinishiga yo‘l qo‘ymasligi zarur. Bu talablar buzilgan taqdirda Ish beruvchi zarar ko‘radi, Ish beruvchining barcha zararlari Xodimdan undiriladi.'
				},
			],
			finishRules: [
				{
					title: '8.1. Mazkur Shartnoma va unga ilova qilingan hujjatlar taraflarning barcha o‘zaro majburiyatlarini, taraflarning har biri faqat yozma shaklda kiritishi mumkin bo‘lgan har qanday o‘zgartirishlar, qo‘shimchalar yoki tuzatishlarni belgilab beradi.'
				},
				{
					title: '8.2. Mazkur Shartnomaga o‘zgartirishlar yoki qo‘shimchalar yozma ravishda rasmiylash-tiriladi, har ikki tomon imzolagan kundan boshlab kuchga kiradi va Shartnomaning ajralmas qismi hisoblanadi.'
				},
				{
					title: '8.3. Mazkur Shartnoma Xodimga o‘zi tushunadigan tilda ikki nusxada tuzilgan. Bir nusxasi Ish beruvchida saqlanadi, ikkinchisi esa Xodimga beriladi. '
				},
				{
					title: '8.4. Mazkur Shartnoma taraflar tomonidan imzolangan kundan boshlab kuchga kiradi.'
				},
				{
					title: '8.5. Ish beruvchi qayta tashkil etilganda yoki tugatilgan taqdirda tomonlarning munosabatlari amaldagi qonunchilikga muvofiq tartibga solinadi.'
				},
				{
					title: '8.6. Tomonlar o‘rtasida kelib chiqadigan mehnat nizolari O’zbekiston Respublikasining mehnat va boshqa amaldagi qonunchiligiga muvofiq hal etiladi.'
				},
				{
					title: '8.7. Mazkur shartnomaning imzolanishi Xodimning Ish beruvchining quyidagi ichki me’yoriy hujjatlari mazmunini o‘qiganligi va tushunganligini anglatadi:',
					subItems: [
						{
							title: '- Ichki mehnat tartib qoidalari;'
						},
						{
							title: '- Jamoa shartnomasi;'
						},
						{
							title: '- Lavozim yo‘riqnomasi;'
						},
						{
							title: '- Bankning korporativ odob kodeksi;'
						},
						{
							title: '- Bank tizimida mijozlarga xizmat ko‘rsatish standartlari.'
						},
					]
				},
				{
					title: '8.8. Mazkur Shartnomani tuzish va bekor qilish, shuningdek unga o’zgartish va qo’shimchalar kiritish qonunchilikda belgilangan tartibda "Yagona milliy mehnat tizimi" idoralararo dasturiy-apparat kompleksida ro’yxatdan o’tkaziladi.'
				}
			]
		}
	},
	computed: {
		...mapState({
			formModel: state => state.hrHiring.formModel,
			contentModel: state => state.hrHiring.contentModel,
		})
	}
}
</script>

<style scoped>
</style>