<template>
	<div class="order-template-view">
		<img
			src="/img/logo_asaka_4.png"
			alt="logo_asaka_4.png"
			class="template-block"
			style="width: 60px; margin-left: auto; margin-right: auto; margin-bottom: 32px;"
		/>

		<div class="template-order-table template-text-center template-size-15">
			<table class="template-table template-table-border">
				<tbody>
					<tr>
						<td style="width: 50%;">
							Hujjat raqami
						</td>

						<td style="width: 50%;">
							Tuzilgan sana
						</td>
					</tr>

					<tr>
						<td style="width: 50%; padding-bottom: 2px;">
							<div class="template-inline-block">
								<span
									class="template-inline-block template-bottom-line template-relative"
									style="min-width: 30px;"
								>
									<span
										v-if="!orderModel.document_info.register_number"
										class="template-placeholder-box"
										style="transform: translateY(-2px)"
									>
										1
									</span>

									<span class="template-inline-block" style="transform: translateY(2px)">
										{{ orderModel.document_info.register_number }}
									</span>
								</span>

								<div class="template-inline-block" style="transform: translateY(4px)">
									<span>-</span>

									<span>&nbsp;k&nbsp;</span>

									<span>-</span>

									<span>sonli</span>
								</div>
							</div>
						</td>

						<td style="width: 50%; padding-bottom: 2px;">
							<div class="template-inline-block">
								<span
									class="template-inline-block template-bottom-line template-relative"
									style="min-width: 18px;"
								>
									<span class="template-inline-block" style="transform: translateY(2px)">{{ orderModel.document_info.register_date.slice(8) }}</span>
								</span>

								<span class="template-inline-block template-dots">.</span>

								<span
									class="template-inline-block template-bottom-line template-relative"
									style="min-width: 18px;"
								>
									<span class="template-inline-block" style="transform: translateY(2px)">{{ orderModel.document_info.register_date.slice(5, 7) }}</span>
								</span>

								<span class="template-inline-block template-dots">.</span>

								<span class="template-inline-block" style="min-height: 22px; transform: translateY(4px)">
									{{ orderModel.document_info.register_date.slice(0, 4) }} yil
								</span>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="template-text-center">
			<h4>Ishga qabul qilish to‘g‘risida</h4>
			<h1 class="template-title" style="margin-top: 0">buyruq</h1>
		</div>

		<div class="template-order-date template-text-center template-size-15 template-margin-bottom-32">
			<table class="template-table template-table-border template-text-center">
				<tbody>
					<tr>
						<td>
							<strong>Sana</strong>
						</td>
					</tr>

					<tr>
						<td>
							<strong>
								{{ orderModel.document_info.start_date | filterDateMonthYear }} yil
							</strong>
						</td>
					</tr>

					<tr>
						<td>
							<span style="opacity: 0">hidden text</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="template-relative template-margin-bottom-32 template-min-height-44">
			<div class="template-table-border-bottom">
				<table class="template-table template-text-center template-size-15">
					<tbody>
					<tr>
						<td rowspan="2" style="vertical-align: bottom;">
							<strong>{{ formModel.last_name }} {{ formModel.first_name }} {{ formModel.father_name }}</strong>
						</td>
						<td class="template-table-border" style="width: 150px;">Tabel raqami</td>
					</tr>

					<tr>
						<td class="template-table-border-right template-table-border-left">
							<span
								v-if="!orderModel.document_info.additional_details.table_number"
								class="template-placeholder-box"
								style="transform: translateY(0px)"
							>
								4
							</span>

							<span>{{ orderModel.document_info.additional_details.table_number }}</span>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
			<span class="template-bottom-line-text">(familiyasi, ismi, otasining ismi)</span>
		</div>

		<div class="template-relative template-min-height-44 template-section-space">
			<div class="template-relative template-bottom-line template-size-15 template-text-center">
				<strong class="template-block">
					{{ contentModel.document_info.__departments && contentModel.document_info.__departments.name }}
				</strong>

				<strong class="template-block">
					{{ contentModel.document_info.__sub_departments && contentModel.document_info.__sub_departments.name }}
				</strong>

				<strong class="template-block">
					{{ contentModel.document_info.__division && contentModel.document_info.__division.name }}
				</strong>
			</div>
			<span class="template-bottom-line-text">(Tarkibiy tuzilma va lavozim ko'rsatiladi)</span>
		</div>

		<div class="template-relative template-min-height-44 template-section-space">
			<div class="template-relative template-bottom-line template-size-15 template-text-center">
				<strong class="template-block">
					{{ contentModel.document_info.position }}
				</strong>
			</div>
			<span class="template-bottom-line-text">(lavozimi (ixtisosligi, kasbi), razryadi, darajasi (toifasi) kvalifikatsiyasi)</span>
		</div>

		<div class="template-section-space template-size-15 template-text-justify">
			<span>Shtat jadvaliga asosan lavozim maoshi va &nbsp;</span>

			<div class="template-inline-block template-relative template-bottom-line template-size-15">
				<span v-if="!orderModel.document_info.additional_details.shb" class="template-placeholder-box" style="margin-right: 4px">5</span>
				<strong class="template-inline-block">{{ orderModel.document_info.additional_details.shb }}</strong>
			</div>

			<span>&nbsp;miqdorida rag`batlantirish koeffitsiyenti o`rnatilgan holda ishga qabul qilinsin.</span>
		</div>

		<div class="template-size-15 template-indent template-margin-bottom-32">
			<strong>Asos: </strong>

			<span
				v-if="!orderModel.document_info.additional_details.text"
				class="template-placeholder-box"
				style="margin-right: 4px"
			>
				7
			</span>

			<template v-else>
				{{ orderModel.document_info.additional_details.text }}
			</template>
		</div>

		<div class="template-size-15">
			<table class="template-table">
				<tbody>
					<tr>
						<td>
							<h1 class="template-title" style="font-size: 15px; text-align: left;">
								{{ getEmployer && getEmployer.signer_details && getEmployer.signer_details.signer_position }}
							</h1>
						</td>

						<td style="width: 25%">
							<qrcode-vue
								v-if="orderModel.is_employer_signed"
								ref="qrCode"
								:value="'https://check.asakabank.uz/document/'"
								size="60"
								level="L"
								render-as="svg"
							/>
						</td>

						<td>
							<h1 v-if="getEmployer" class="template-title" style="font-size: 15px; text-align: center;">
								{{ getEmployer.first_name[0] }}. {{ getEmployer.last_name }}
							</h1>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="template-size-15 template-margin-bottom-32">
			<span class="template-block template-section-space">
				Kelishildi:

				<span
					v-if="!orderModel.document_info.__approver.length"
					class="template-placeholder-box"
				>
					6
				</span>
			</span>

			<template v-for="approver in getSigners({ model: orderModel })">
				<div class="template-size-15 template-section-space">
					<span style="margin-right: 4px;">
						{{ approver.first_name && approver.first_name[0] }}.
						{{ approver.last_name }}
					</span>

					<div class="template-inline-table">
						<div class="template-relative template-bottom-line template-size-15 template-relative template-min-width template-text-center">
							<strong class="template-inline-block" style="height: 18px">
								<qrcode-vue
									v-if="approver.is_signed"
									ref="qrCode"
									:value="'https://check.asakabank.uz/document/'"
									size="60"
									level="L"
									render-as="svg"
								/>
							</strong>
						</div>
					</div>
				</div>
			</template>
		</div>

		<div class="template-size-15">
			<div class="template-size-15 template-section-space">
				<span style="margin-right: 4px;">Buyruq bilan tanishdim</span>

				<div class="template-inline-table">
					<div class="template-relative template-bottom-line template-size-15 template-relative template-min-width template-text-center">
						<strong class="template-inline-block" style="height: 18px">
							<qrcode-vue
								v-if="orderModel.is_candidate_signed"
								ref="qrCode"
								:value="'https://check.asakabank.uz/document/'"
								size="60"
								level="L"
								render-as="svg"
							/>
						</strong>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import QrcodeVue from 'qrcode.vue'

export default {
	name: "EmploymentOrder",
	components: {
		QrcodeVue
	},
	computed: {
		...mapState({
			formModel: state => state.hrHiring.formModel,
			contentModel: state => state.hrHiring.contentModel,
			orderModel: state => state.hrHiring.orderModel,
		}),
		/*
		*
		* */
		...mapGetters({
			getEmployer: 'hrHiring/getEmployer',
			getSigners: 'hrHiring/getSigners',
		})
	},
}
</script>

<style scoped>
.template-order-table {
	max-width: 300px;
	margin-left: auto;
	margin-bottom: 32px;
}

.template-dots {
	padding: 0 2px;
	transform: translateY(4px);
}

.template-order-date {
	max-width: 200px;
	margin-left: auto;
}
</style>