<template>
	<div class="financial-responsibility-template-view template-size-15">
		<h1 class="template-title" style="text-transform: none; margin-top: 0">
			To‘la moddiy javobgarlik to‘g‘risida shartnoma
		</h1>

		<div class="template-min-height-44 template-text-center">
			<div class="template-size-15 template-inline-block">
				<span style="margin-right: 4px;">№</span>

				<div class="template-inline-table">
					<div class="template-relative template-bottom-line template-size-15 template-relative template-min-width">
						<span
							v-if="!financialResponsibilityModel.document_info.register_number"
							class="template-placeholder-box"
						>
							1
						</span>

						<strong class="template-inline-block" style="height: 18px">
							{{ financialResponsibilityModel.document_info.register_number }}
						</strong>
					</div>
				</div>
			</div>
		</div>

		<table class="template-table template-info-table template-section-space">
			<tbody>
				<tr>
					<td style="width: 50%;">
						<div class="template-date template-inline-block">
							<span class="template-date-year template-inline-block template-bottom-line">
								<span v-if="!financialResponsibilityModel.document_info.register_date" class="template-placeholder-box">2</span>
								<span v-else>{{ financialResponsibilityModel.document_info.register_date.slice(0, 4) }} yil</span>
							</span>

							<span class="left-quote">“</span>
							<span class="template-date-date template-inline-block template-bottom-line">
								<span v-if="!financialResponsibilityModel.document_info.register_date" class="template-placeholder-box">2</span>
									<span v-else>{{ financialResponsibilityModel.document_info.register_date.slice(8, 10) }}</span>
								</span>
							<span class="right-quote">”</span>

							<span class="template-date-month template-inline-block template-bottom-line">
								<span v-if="!financialResponsibilityModel.document_info.register_date" class="template-placeholder-box">2</span>
								<span v-else>{{ financialResponsibilityModel.document_info.register_date.slice(5, 7) }}</span>
							</span>
						</div>
					</td>

					<td style="width: 50%; text-align: right;">
						<h1 class="template-district">{{ contentModel.document_info.region }}</h1>
					</td>
				</tr>
			</tbody>
		</table>

		<div class="template-indent template-text-justify" style="margin-bottom: 16px">
			Davlat mablag‘lari va boyliklar saqlanishini ta’minlash maqsadida bir tomondan O’zbekiston Respublikasi Asakabank»
			aksiyadorlik jamiyati nomidan, Ustav asosida faoliyat yurituvchi Boshqaruv Raisi tomonidan berilgan
			2024-yil 29-avgustdagi №20-05/558-sonli ishonchnoma asosida faoliyat yurituvchi
			Tangmatov Bekzod Olimjonovich shaxsida, bir tarafdan,
		</div>

		<div class="template-relative template-bottom-line" style="margin-bottom: 12px">
			{{ formModel.last_name }} {{ formModel.first_name }} {{ formModel.father_name }}
		</div>

		<div class="template-section-space template-relative template-bottom-line">
			{{ contentModel.document_info.department && contentModel.document_info.department.name }}
		</div>

		<div class="template-text-justify template-section-space">
			(keyingi o‘rinda xodim deb ataladi) quyidagilar to‘g‘risida ushbu shartnoma tuzildi. Xodim, bank unga ishonib
			topshirgan boyliklar saqlanishini ta’minlanganligi uchun to‘liq moddiy javobgarlikni va shunga bog‘liq xolda
		</div>

		<h1 class="template-title template-section-space" style="text-transform: none; margin-top: 0">
			Quyidagi majburiyatlarni o‘z zimmasiga oladi:
		</h1>

		<div class="template-text-justify template-indent template-section-space">
			Boyliklarni saqlash, qayta sanash, qabul qilish, berish va tanlash bilan bevosita bog’liq bo’lgan malumotlarni
			hamda bank amaliyotlari bo’yicha ma’lumotlarni xech qayerda va xech qachon gapirmaslikka

			<template v-for="item in obligations">
				<span class="template-block" style="margin-bottom: 2px;">{{ item.title }}</span>
			</template>
		</div>

		<h1 class="template-title template-section-space" style="text-transform: none; margin-top: 0">
			Ma’muriyatning majburiyatlari:
		</h1>

		<div class="template-text-justify template-indent template-section-space">
			<template v-for="item in obligations2">
				<span class="template-block" style="margin-bottom: 2px;">{{ item.title }}</span>
			</template>
		</div>

		<div class="template-section-space">
			<div>Ushbu shartnoma 2 nusxada tuziladi.</div>
			<div>Birinchi nusxa – Ma’muriyatga</div>
			<div>Ikkinchi nusxa – xodimga beriladi.</div>
			<div>Shartnoma tuzgan tomonlarning manzilgohlari:</div>
		</div>

		<div class="template-section-space">
			<table class="template-table template-info-table">
				<tbody>
				<tr>
					<td style="width: 45%;">
						<strong class="template-block">Xodim</strong>
						{{ contentModel.document_info.address }}
					</td>
					<td style="width: 55%; padding-left: 24px">
						<strong class="template-block">Ish beruvchi nomidan</strong>

						<template v-if="contentModel.document_info.signer">
							{{ contentModel.document_info.signer.first_name[0] }}.
							{{ contentModel.document_info.signer.last_name }}
						</template>
					</td>
				</tr>
				</tbody>
			</table>
		</div>

		<div class="template-margin-bottom-32">
			<table class="template-table template-info-table">
				<tbody>
				<tr>
					<td style="width: 45%; vertical-align: top;">
						<div class="template-size-15 template-inline-block">
							<strong style="margin-right: 4px;">Imzo</strong>

							<div class="template-inline-table">
								<div class="template-relative template-bottom-line template-size-15 template-relative template-min-width template-text-center">
									<strong class="template-inline-block" style="height: 18px">
										<qrcode-vue
											v-if="financialResponsibilityModel.is_candidate_signed"
											ref="qrCode"
											:value="'https://check.asakabank.uz/document/'"
											size="60"
											level="L"
											render-as="svg"
										/>
									</strong>
								</div>
							</div>
						</div>
					</td>

					<td style="width: 55%;">
						<div class="template-size-15 template-inline-block template-margin-bottom-32" style="padding-left: 24px">
							<strong style="margin-right: 4px;">Imzo</strong>

							<div class="template-inline-table">
								<div class="template-relative template-bottom-line template-size-15 template-relative template-min-width template-text-center">
									<strong class="template-inline-block" style="height: 18px">
										<qrcode-vue
											v-if="financialResponsibilityModel.is_employer_signed"
											ref="qrCode"
											:value="'https://check.asakabank.uz/document/'"
											size="60"
											level="L"
											render-as="svg"
										/>
									</strong>
								</div>
							</div>
						</div>

						<div class="template-text-center">
							<div>“Asakabank” AJ</div>
							<div>H/r 2980 2000 9000 0087 3003</div>
							<div>Bank kodi: 00873  INN: 201589828</div>
							<div>OKYeD: 64190 QQS kodi: 3260 1000 5504</div>
							<div>100015, Toshkent sh., Nukus ko‘chasi, 67-uy</div>
						</div>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</template>

<script>
import { mapState } from 'vuex'
import QrcodeVue from 'qrcode.vue'

export default {
	name: "FinancialResponsibility",
	components: {
		QrcodeVue
	},
	data() {
		return {
			obligations: [
				{
					title: 'a) o’ziga topshirilgan moddiy boyliklarni asrab avaylab, ularga zarar yetishiga yo’l qo’ymaslik uchun barcha choralarni ko’rishga:'
				},
				{
					title: 'b) o’ziga topshirilgan boyliklar saqlanishini taminlashga, xavf tug’diruvchi barcha xolatlar to’g’risida ma’muriyatga o’z vaqtida xabar berishga '
				},
				{
					title: 'v) boyliklar bilan ishlaganda, ularni saqlashning belgilangan qoidalariga amal qilishga'
				},
				{
					title: 'g) boyliklarni saqlash, jo’natish, tashish operatsiyalari, qo’riqlash, signalizatsiya bo’yicha o’ziga ma’lum bo’lgan ma’lumotlarni, shuningdek kassa bo’yicha xizmat topshiriqlarini xech qayerda, xech qachon va xech kimga oshkor qilmaslikka.'
				}
			],
			obligations2: [
				{
					title: 'a) Xodimga topshirilgan moddiy boyliklarni to’liq saqlanishi uchun zarur sharoitlar yaratish.'
				},
				{
					title: 'b) xodimni korxona, tashkilot muassasaga  zarar uchun ishchilar va xizmatchilarning moddiy javobgarligi to‘g‘risidagi mavjud qonunlar bilan, shuningdek boyliklarni saqlash, qabul kilish, berish, ishlash, qayta sanash va tashishga doir yo’riqnomalar  va qoidalari bilan tanishtirish:'
				},
				{
					title: 'v) Boyliklarni  belgilangan tartibda qayta ro’yxatlash.'
				},
				{
					title: 'g) Moddiy boyliklarni saqlashda bank tomonidan zarar xodimning aybi bilan  ro’y bergan taqdirda, bankga yetkazilgan zarar xajmini aniqlash va uni qoplash mavjud qonunlarga muvofiq amalga oshiriladi.'
				},
				{
					title: 'd)  Zarar yetkazishda xodimning aybi bo’lmasa, u moddiy javobgar emas.'
				},
				{
					title: 'y) Bo‘lim boshliqlariga bank amaliyotlarini yetkazishga ruxsat berishda bank Nizomini va Markaziy bank qonunlarini buzmaslikka.'
				}
			]
		}
	},
	computed: {
		...mapState({
			financialResponsibilityModel: state => state.hrHiring.financialResponsibilityModel,
			formModel: state => state.hrHiring.formModel,
			contentModel: state => state.hrHiring.contentModel
		})
	}
}
</script>

<style scoped>

</style>