<template>
	<div class="financial-responsibility-2-template-view template-size-15">
		<div class="template-text-right template-section-space">
			<span class="template-block">“Asakabank” AJ Boshqaruvining</span>

			<div>
				<span
					class="template-inline-block template-bottom-line template-relative template-text-center"
					style="min-width: 50px; min-height: 22px;"
				>
					<span
						v-if="!fullFinancialResponsibilityModel.document_info.additional_details.chairman_register_date"
						class="template-placeholder-box"
						style="transform: translate(-9px, -1px);"
					>
						1
					</span>

					{{ fullFinancialResponsibilityModel.document_info.additional_details.chairman_register_date.slice(0, 4) }}
				</span>

				<span
					class="template-inline-block"
					style="min-height: 22px; transform: translateY(3px); margin-left: 3px; margin-right: 4px"
				>
					yil
				</span>

				<span
					class="template-inline-block template-dots"
					style="transform: translateY(2px);"
				>«</span>

				<span
					class="template-inline-block template-bottom-line template-relative template-text-center"
					style="min-width: 30px; min-height: 22px;"
				>
					<span
						v-if="!fullFinancialResponsibilityModel.document_info.additional_details.chairman_register_date"
						class="template-placeholder-box"
						style="transform: translateY(-1px);"
					>
						1
					</span>

					{{ fullFinancialResponsibilityModel.document_info.additional_details.chairman_register_date.slice(8, 10) }}
				</span>

				<span
					class="template-inline-block template-dots"
					style="transform: translateY(2px);"
				>»</span>

				<span
					class="template-inline-block template-bottom-line template-relative template-text-center"
					style="min-width: 30px; min-height: 22px;"
				>
					<span
						v-if="!fullFinancialResponsibilityModel.document_info.additional_details.chairman_register_date"
						class="template-placeholder-box"
						style="transform: translate(-7px, -1px);"
					>
						1
					</span>

					{{ fullFinancialResponsibilityModel.document_info.additional_details.chairman_register_date.slice(5, 7) }}
				</span>

				<span
					class="template-inline-block"
					style="min-height: 22px; transform: translateY(3px); margin-left: 3px;"
				>
					dagi
				</span>
			</div>

			<div>
				<span
					class="template-inline-block template-bottom-line template-relative"
					style="min-width: 80px; min-height: 22px;"
				>
					<span
						v-if="!fullFinancialResponsibilityModel.document_info.additional_details.chairman_register_number"
						class="template-placeholder-box"
						style="transform: translate(-28px, -2px);"
					>
						2
					</span>

					{{ fullFinancialResponsibilityModel.document_info.additional_details.chairman_register_number }}
				</span>

				<span
					class="template-inline-block"
					style="min-height: 22px; transform: translateY(3px); margin-left: 3px;"
				>
					- sonli bayonnomasi bilan tasdiqlangan
				</span>
			</div>

			<div>
				“Asakabank” AJda axborot xavfsizligini
			</div>

			<div>
				ta'minlash to’g’risidagi nizomga
			</div>

			<div class="template-font-italic">
				1 - sonli ilova
			</div>
		</div>

		<h4 class="template-text-center">
			Asakabank” AJ ABT sida foydalanuvchisi bo'lgan jismoniy shaxsning to'liq moddiy javobgarligi to'g'risidagi
		</h4>

		<div class="template-text-center template-section-space">
			<strong class="template-inline-block" style="margin-right: 4px; transform: translateY(4px)">№</strong>

			<div class="template-inline-table">
				<div class="template-relative template-bottom-line template-size-15 template-relative template-min-width">
					<span
						v-if="!fullFinancialResponsibilityModel.document_info.register_number"
						class="template-placeholder-box"
						style="transform: translate(-28px, -2px);"
					>
						3
					</span>

					<strong class="template-inline-block" style="height: 18px">
						{{ fullFinancialResponsibilityModel.document_info.register_number }}
					</strong>
				</div>
			</div>
		</div>

		<table class="template-table template-margin-bottom-32">
			<tbody>
				<tr>
					<td style="width: 50%;">
						<div class="template-date template-inline-block">
							<span class="template-date-year template-inline-block template-bottom-line">
								<span v-if="!fullFinancialResponsibilityModel.document_info.register_date" class="template-placeholder-box">3</span>
								<span v-else>{{ fullFinancialResponsibilityModel.document_info.register_date.slice(0, 4) }} yil</span>
							</span>

							<span class="left-quote">“</span>
							<span class="template-date-date template-inline-block template-bottom-line">
								<span v-if="!fullFinancialResponsibilityModel.document_info.register_date" class="template-placeholder-box">3</span>
									<span v-else>{{ fullFinancialResponsibilityModel.document_info.register_date.slice(8, 10) }}</span>
								</span>
							<span class="right-quote">”</span>

							<span class="template-date-month template-inline-block template-bottom-line">
								<span v-if="!fullFinancialResponsibilityModel.document_info.register_date" class="template-placeholder-box">3</span>
								<span v-else>{{ fullFinancialResponsibilityModel.document_info.register_date.slice(5, 7) }}</span>
							</span>
						</div>
					</td>

					<td style="width: 50%; text-align: right;">
						<span class="template-district">
							{{ contentModel.document_info.region }}
						</span>
					</td>
				</tr>
			</tbody>
		</table>

		<div class="template-indent template-text-justify template-section-space">
			Biz, quyida imzo chekuvchilar, bir tomondan "Ish beruvchi" - “Asakabank” aksiyadorlik jamiyati nomidan,
			2024-yil 29-avgustdagi №20-05/558-sonli ishonchnoma asosida faoliyat yurituvchi
			<strong>{{ contentModel.document_info.signer.full_name }}</strong> shaxsida boshqa tomondan “Xodim”
			deb nomlanadigan <strong>{{ formModel.last_name }} {{ formModel.first_name }} {{ formModel.father_name }}</strong>
			shaxs o'zaro shartnoma tuzadi va quyidagi majburiyatlarni oladi:
		</div>

		<div class="template-section-space template-relative">
			<div class="template-relative template-bottom-line template-size-15">
				<span class="template-inline-block" style="margin-right: 4px">1.</span>
				<strong>
					{{ contentModel.document_info.department && contentModel.document_info.department.name }}
					{{ contentModel.document_info.sub_department && contentModel.document_info.sub_department.name }}
					{{ contentModel.document_info.division && contentModel.document_info.division.name }}
					{{ contentModel.document_info.position }} lavozimini egallab turgan va lavozim
					majburiyatlarida ko'zda tutilgan, bevosita
				</strong>
			</div>
			<span class="template-bottom-line-text">(barcha dasturiy va majmua(lar) nomi)</span>
		</div>

		<div class="template-indent template-text-justify">
			<div>
				dasturiy majmua(lar) bilan bog'liq bo'lgan vazifalarni bajaradigan xodim quyidagi qoidalar (majburiyatlar)ga
				rioya etishi shart (talab etiladi):
			</div>

			<div>
				ish beruvchidan tizimni o'z faoliyatida foydalanganda, xodimga ish beruvchiga ishonib topshirilgan tizimning
				xavfsizligini, shuningdek tizimda joylashgan va chiqadigan maxfiy va boshqa ma'lumotlarni,
				shuningdek noto'g'ri ishlatilganligi uchun to'liq moddiy javobgarlikni o'z zimmasiga oladi.
				Tizimdan qasddan foydalanmaslik, ish beruvchining moddiy va ma'naviy yoki boshqa yo'qotishlariga olib kelmaslik.
			</div>

			<div>
				Yuqorida aytib o'tilganlarga muvofiq, xodim o'z zimmasiga quyidagilarni oladi:
			</div>

			<div>
				tizim bilan ishlashning belgilangan qoidalariga qat'iy rioya qilish, yuzaga kelishi mumkin bo'lgan nosozliklar
				aniqlanganda sabablarni aniqlash va kelajakda ularning oldini olish uchun barcha zarur choralari ko'rish;
			</div>

			<div>
				tizim bilan ishlashda operatsion kun tartibi va xavfsizlik talablariga rioya qilish;
			</div>

			<div>
				tizimga to'g'ri, hatosiz, aniq, o'z vaqtida, talab qilinadigan to'liq hajmda va belgilangan talablarga
				muvofiq tegishli ma'lumotlarni kiritish;
			</div>

			<div>
				pul mablag'larini o'tkazish operatsiyalarini amalga oshirish uchun yoki naqd pul berishda zarur bo'lgan tegishli
				hisobvaraqlardagi mablag'larning mavjudligi va yetarliligini tekshirish;
			</div>

			<div>
				tizimga tegishli ishlarni bajarish uchun zarur bo'lgan barcha zaruriy hujjatlarni, shu jumladan naqd pul
				bilan hisob-kitob hujjatlarini kiritish, faol yoki passiv ishlarni amalga oshirish tartibini kuzatish;
			</div>

			<div>
				barcha maxfiy ma'lumotlarni, bank sirlarini, shaxsiy ma'lumotlarini, tizim haqidagi ma'lumotlarni va boshqa
				tegishli ma'lumotlarni, shuningdek foydalanuvchi loginingizni biron-bir tarzda oshkor qilmaslik,
				sharoit yaratmaslik, to'liq - qisman yoki vaqtincha uchinchi shaxslarga oshkor etmaslik, shaxsiy elektron
				raqamli imzo sertifikatiga ega vosita, parol va apparat-dasturiy kompleksni foydalanish maqsadida bermaslik;
			</div>

			<div>
				ta'tilga chiqqanda yoki uzoq muddatli xizmat safariga ketayotgan bo'lsangiz, darhol ABT ma'muriga berilgan
				kirish huquqini vaqtincha yopilishi to'g'risida xabar berish;
			</div>

			<div>
				ish beruvchi bilan tegishli kelishuv bekor qilingan taqdirda, maxfiy ma'lumotlar, bank sirlari, shaxsiy
				ma'lumotlar, tizim haqidagi ma'lumotlar va boshqa tegishli ma'lumotlarni, shu jumladan sizning
				foydalanuvchi login va parolingizni uchinchi shaxsga taqdim etish man qilinadi;
			</div>

			<div>
				shartnoma bekor qilinganda, ishdan bo'shatilganda yoki boshqa lavozimga o'tkazilgandan so'ng, login va parol
				yoki tegishli apparat dasturiy qurilmani, boshqa dasturiy ta'minot tizimlariga o'tkazish to'g'risida
				yozma dalolatnoma tuzing, bu yerda xodim yagona foydalanuvchi hisoblanadi yoki ushbu login va parol
				asosiy ma'mur o'chirmagunga qadar barcha manbalarni to'liq nazorat qilish huquqiga ega;
			</div>

			<div>
				O'zbekiston Respublikasi qonunlarida nazarda tutilgan boshqa talablar.
			</div>
		</div>

		<div class="template-relative" style="min-height: 24px">
			<div class="template-bottom-line"></div>
		</div>

		<div class="template-relative" style="min-height: 24px; margin-bottom: 12px;">
			<div class="template-bottom-line"></div>
		</div>

		<div class="template-indent template-text-justify template-section-space">
			<div>(Agar kerak bo'lsa, boshqa majburiyatlar)</div>

			<div>2.	Ish beruvchi quyidagilarni o'z zimmasiga oladi:</div>

			<div>
				xodimga tizim va unga ishonib topshirilgan ma'lumotlarning to'liq xavfsizligini ta'minlash uchun
				vazifalar va vazifalarni bajarish uchun zarur shart-sharoitlarni yaratish;
			</div>

			<div>
				xodimlarning ish beruvchiga yetkazilgan zarar uchun xodimlarning “moddiy javobgarligi to'g'risida”gi
				hamda amaldagi qonun hujjatlari, shuningdek, xodimlarning o'z vazifalarini bajarishlari bilan bog'liq
				bo'lgan O'zbekiston Respublikasining amaldagi me'yoriy hujjatlari bilan tanishishlari uchun zarur
				shart-sharoitlarni yaratish.
			</div>

			<div>
				3. Xodim tomonidan ushbu Shartnoma bo'yicha o'z majburiyatlari buzilgan taqdirda, Ish beruvchiga yetkazilgan
				zarar miqdorini aniqlash va uning o'rnini qoplash O'zbekiston Respublikasining amaldagi qonunchiligiga
				muvofiq amalga oshiriladi.
			</div>

			<div>
				4. Agar zarar uning aybi bilan yetkazilmagan bo'lsa, xodim moddiy javobgar bo'lmaydi.
			</div>

			<div>
				5. Ushbu shartnoma Ish beruvchi tomonidan xodimga ishonib topshirilgan tizim bilan ishlashning barcha davriga
				va shartnomaviy munosabatlar bekor qilingan kundan boshlab maxfiy hisoblangan ma'lumotlarni sir saqlash
				bo'yicha besh yil davomida yoki ma'lumotlarning dolzarbligi va ahamiyati jixatdan kelib chiqib amal qiladi.
			</div>

			<div>
				6. Ushbu Shartnoma bir hil qonuniy kuchga ega bo'lgan ikkita asl nusxada tuzilgan bo'lib, ulardan birinchisi
				Ish beruvchiga tegishli, ikkinchisi esa xodimga topshiriladi.
			</div>
		</div>

		<h4 class="template-text-center template-section-space">Tomonlar rekvizitlari va imzosi:</h4>

		<table class="template-table template-table-border">
			<tbody>
				<tr class="template-text-center">
					<td style="width: 50%; padding: 8px;">
						<strong class="template-block">Ish beruvchi</strong>
						<strong class="template-block template-margin-bottom-32">
							{{ contentModel.document_info.signer.first_name[0] }}.
							{{ contentModel.document_info.signer.father_name[0] }}.
							{{ contentModel.document_info.signer.last_name }}
						</strong>

						<div>“Asakabank” AJ</div>
						<div>H/r 2980 2000 9000 0087 3003</div>
						<div>Bank kodi: 00873  INN: 201589828</div>
						<div>OKYeD: 64190 QQS kodi: 3260 1000 5504</div>
						<div>100015, Toshkent sh., Nukus ko‘chasi, 67-uy</div>
					</td>

					<td style="width: 50%; padding: 8px;">
						<strong class="template-block">Xodim</strong>
						<strong class="template-block template-margin-bottom-32">
							{{ formModel.first_name[0] }}.
							{{ formModel.father_name[0] }}.
							{{ formModel.last_name }}
						</strong>

						<div>
							<strong>Pasport:&nbsp;</strong>
							<span>{{ contentModel.document_info.passport_info }}</span>
						</div>

						<div class="template-section-space">
							<strong>Manzili:&nbsp;</strong>
							<span>
								{{ contentModel.document_info.address }}
							</span>
						</div>

						<div>
							<strong>PNFL:&nbsp;</strong>
							<span>
								{{ formModel.pinfl || fullFinancialResponsibilityModel.document_info.additional_details.pinfl }}
							</span>
						</div>

						<div>
							<strong>INN:&nbsp;</strong>
							<span>{{ personalDataModel.document_info.additional_details.stir || fullFinancialResponsibilityModel.document_info.additional_details.stir }}</span>
						</div>
					</td>
				</tr>

				<tr>
					<td class="template-text-center" style="width: 50%; padding: 8px;">
						<div class="template-size-15 template-inline-block">
							<strong style="margin-right: 4px;">Imzo</strong>

							<div class="template-inline-table">
								<div class="template-relative template-bottom-line template-size-15 template-relative template-min-width">
									<strong class="template-inline-block" style="height: 18px">
										<qrcode-vue
											v-if="fullFinancialResponsibilityModel.is_employer_signed"
											ref="qrCode"
											:value="'https://check.asakabank.uz/document/'"
											size="60"
											level="L"
											render-as="svg"
										/>
									</strong>
								</div>
							</div>
						</div>
					</td>

					<td class="template-text-center" style="width: 50%; padding: 8px;">
						<div class="template-size-15 template-inline-block">
							<strong style="margin-right: 4px;">Imzo</strong>

							<div class="template-inline-table">
								<div class="template-relative template-bottom-line template-size-15 template-relative template-min-width">
									<strong class="template-inline-block" style="height: 18px">
										<qrcode-vue
											v-if="fullFinancialResponsibilityModel.is_candidate_signed"
											ref="qrCode"
											:value="'https://check.asakabank.uz/document/'"
											size="60"
											level="L"
											render-as="svg"
										/>
									</strong>
								</div>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</template>

<script>
import { mapState } from 'vuex'
import QrcodeVue from 'qrcode.vue'

export default {
	name: "FinancialResponsibility2",
	components: {
		QrcodeVue
	},
	computed: {
		...mapState({
			fullFinancialResponsibilityModel: state => state.hrHiring.fullFinancialResponsibilityModel,
			formModel: state => state.hrHiring.formModel,
			contentModel: state => state.hrHiring.contentModel,
			personalDataModel: state => state.hrHiring.personalDataModel,
		})
	}
}
</script>

<style scoped>

</style>