<template>
	<div class="job-application-template-view template-size-15 template-font-italic">
		<div class="template-text-right template-margin-bottom-32 template-relative">
			<div>{{ jobApplication.document_info.additional_details.heading_1 }}</div>
			<div>{{ jobApplication.document_info.additional_details.heading_2 }}</div>

			<div>
				<span
					v-if="!jobApplication.document_info.additional_details.heading_1"
					class="template-placeholder-box"
					style="margin-right: 4px; transform: translateY(2px)"
				>
					1
				</span>

				<span
					v-if="!jobApplication.document_info.additional_details.heading_2"
					class="template-placeholder-box"
					style="margin-right: 4px; transform: translateY(2px)"
				>
					2
				</span>

				<span
					v-if="!jobApplication.document_info.additional_details.heading_3"
					class="template-placeholder-box"
					style="margin-right: 4px; transform: translateY(2px)"
				>
					3
				</span>

				<span
					v-if="!jobApplication.document_info.additional_details.heading_4"
					class="template-placeholder-box"
					style="margin-right: 4px; transform: translateY(2px)"
				>
					4
				</span>

				<span
					v-if="!jobApplication.document_info.additional_details.heading_5"
					class="template-placeholder-box"
					style="transform: translateY(2px)"
				>
					5
				</span>
			</div>

			<div v-if="jobApplication.document_info.additional_details.heading_3">
				{{ jobApplication.document_info.additional_details.heading_3 }},
			</div>

			<div v-if="jobApplication.document_info.additional_details.heading_4">
				{{ jobApplication.document_info.additional_details.heading_4 }}
			</div>

			<div v-if="jobApplication.document_info.additional_details.heading_5">
				{{ jobApplication.document_info.additional_details.heading_5 }}
			</div>

			<qrcode-vue
				v-if="jobApplication.is_employer_signed"
				ref="qrCode"
				:value="'https://check.asakabank.uz/document/'"
				size="60"
				level="L"
				render-as="svg"
				style="position:absolute; top: 10px; left: 10px;"
			/>
		</div>

		<p class="template-section-space template-text-center">ARIZA</p>

		<p class="template-indent template-margin-bottom-32">
			Meni {{ contentModel.document_info.department && contentModel.document_info.department.name }}
			{{ contentModel.document_info.division && contentModel.document_info.division.name }}
			{{ contentModel.document_info.position }} lavozimiga
			<span style="text-transform: lowercase">
				{{ parseDate(jobApplication.document_info.start_date) }}
			</span>ishga qabul qilishingizni so‘rayman.
		</p>

		<div class="template-text-right">
			<div class="template-inline-block" style="margin-right: 32px;">
				<qrcode-vue
					v-if="jobApplication.is_candidate_signed"
					ref="qrCode"
					:value="'https://check.asakabank.uz/document/'"
					size="60"
					level="L"
					render-as="svg"
				/>
			</div>

			<span class="template-inline-block">{{ jobApplication.document_info.register_date | filterDateMonthYear }}</span>
		</div>
	</div>
</template>

<script>
import { mapState } from 'vuex'
import { format } from 'date-fns'
import { uz } from 'date-fns/locale'
import QrcodeVue from 'qrcode.vue'

export default {
	name: "JobApplication",
	components: {
		QrcodeVue
	},
	computed: {
		...mapState({
			contentModel: state => state.hrHiring.contentModel,
			jobApplication: state => state.hrHiring.jobApplication,
		})
	},
	methods: {
		parseDate(data) {
			return `
				${format(new Date(data), 'yyyy', { locale: uz })} yil
				${format(new Date(data), 'dd', { locale: uz })}
				${format(new Date(data), 'MMMM', { locale: uz })}dan
			`
		}
	}
}
</script>

<style scoped>
</style>