<template>
	<div class="indemnity-template-view template-size-15">
		<h1 class="template-title template-section-space" style="margin-top: 0">MAJBURIYATNOMA</h1>

		<div class="template-min-height-44">
			<div style="width: 100%">
				<span style="margin-right: 4px; float: left;">Men</span>

				<div style="padding-left: 36px;">
					<div class="template-relative template-bottom-line template-size-15 template-relative">
						{{ formModel.last_name }} {{ formModel.first_name }} {{ formModel.father_name }}
					</div>
				</div>
			</div>
		</div>

		<div style="margin-top: -6px; margin-bottom: 8px">
			O’zbekiston Respublikasi «Asakabank» AJning
		</div>

		<div class="template-relative">
			<div class="template-relative template-bottom-line template-size-15">
				{{ contentModel.document_info.department.name }}
				{{ contentModel.document_info.position }}
			</div>
		</div>

		<div class="template-section-space" style="margin-top: 8px;">
			lavozimida ish boshlab, quyidagi majburiyatlarni o‘z zimmamga olaman:
		</div>

		<div class="template-text-justify template-section-space">
			<template v-for="item in list">
				<span class="template-block" style="margin-bottom: 2px;">{{ item.title }}</span>
			</template>
		</div>

		<div class="template-section-space">
			<h1 class="template-title" style="text-transform: none;">Bank konfidensial ma’lumotlaridan foydalanish jarayonida bo‘yicha:</h1>

			<p class="template-indent" style="margin-bottom: 0">Konfidensialma’lumotlardan foydalanish jarayonida quyidagilar ta’minlayman:</p>

			<div class="template-indent template-text-justify">
				<template v-for="item in bankConfidentiality">
					<span class="template-block" style="margin-bottom: 2px;">{{ item.title }}</span>
				</template>
			</div>
		</div>

		<div class="template-section-space">
			<h1 class="template-title" style="text-transform: none;">“Asakabank” AJning Axborot xavfsizlik siyosati</h1>

			<p class="template-indent" style="margin-bottom: 0">
				“Asakabank” AJning Axborot xavfsizlik siyosatida belgilangan barcha talablarni,
				qoyidalarni, jarayonlarni va boshqa ko‘rsatmalarni to‘liq o‘rganib chiqdim va ularni to‘liq o‘z
				vaqtida bajarishni, ularda ko‘rsatilgan chegaralar doirasida amal qilishni hamda ularga zid holatlar aniqlansa
				Xavfsizlik va ahborotlarni muhofaza qilish tarkibiy tuzilmasiga ma’lumot taqdim etish majburiyatini o‘z
				zimmamga olaman. Shuningdek, quyidagilarni:
			</p>

			<div class="template-indent template-text-justify">
				<template v-for="item in informationSecurity">
					<span class="template-block" style="margin-bottom: 2px;">{{ item.title }}</span>
				</template>
			</div>
		</div>

		<div class="template-section-space">
			<h1 class="template-title" style="text-transform: none;">
				O’zbekiston Respublikasining
				Ma’muriy javobgarlik to‘g‘risidagi kodeksi bo‘yicha:
			</h1>

			<div class="template-indent template-text-justify">
				<template v-for="item in administrativeCode">
					<span class="template-block" style="margin-bottom: 2px;">{{ item.title }}</span>
				</template>
			</div>
		</div>

		<div class="template-section-space">
			<h1 class="template-title" style="text-transform: none;">
				O’zbekiston Respublikasining Jinoyat Kodeksi bo‘yicha:
			</h1>

			<div class="template-indent template-text-justify">
				<template v-for="item in criminalCode">
					<span class="template-block" style="margin-bottom: 2px;">{{ item.title }}</span>
				</template>
			</div>
		</div>

		<div class="template-section-space">
			<h1 class="template-title" style="text-transform: none;">
				O’zbekiston Respublikasining Mexnat Kodeksi bo‘yicha:
			</h1>

			<div class="template-indent template-text-justify">
				<template v-for="item in laborCode">
					<span class="template-block" style="margin-bottom: 2px;">{{ item.title }}</span>
				</template>
			</div>
		</div>

		<div class="template-section-space template-text-justify template-indent">
			Ushbu bilan - men o‘z vazifalarimni bajarish davomida O’zbekiston Respublikasining amaldagi qonunchilik
			xujjatlariga, shu jumladan Markaziy bankning me’yoriy xujjatlariga qatiy amal qilaman va o‘z vazifalarimni
			sidqidildan bajarishimni bildiraman.
		</div>

		<table class="template-table">
			<tbody>
				<tr style="vertical-align: bottom;">
					<td style="width: 40%">
						<div class="template-inline-table">
							<div class="template-relative template-bottom-line template-size-15 template-relative template-min-width-150">
								<span class="template-inline-block" style="height: 18px">
									{{ formModel.last_name }} {{ formModel.first_name[0] }}. {{ formModel.father_name[0] }}.
								</span>
							</div>
						</div>

						<span style="margin-left: 4px;">/F.I.Sh/</span>
					</td>

					<td style="width: 30%">
						<div class="template-inline-table">
							<div class="template-relative template-bottom-line template-size-15 template-relative template-min-width template-text-center">
								<strong class="template-inline-block" style="height: 18px">
									<qrcode-vue
										v-if="obligationModel.is_candidate_signed"
										ref="qrCode"
										:value="'https://check.asakabank.uz/document/'"
										size="60"
										level="L"
										render-as="svg"
									/>
								</strong>
							</div>
						</div>

						<span style="margin-left: 4px;">/imzo/</span>
					</td>

					<td style="width: 25%">
						<div class="template-date template-inline-block">
							<span class="left-quote">«</span>

							<span class="template-date-date template-inline-block template-bottom-line" style="font-weight: 400">
								{{ obligationModel.document_info.register_date.slice(8, 10) }}
							</span>

							<span class="right-quote">»</span>

							<span
								class="template-date-month template-inline-block template-bottom-line"
								style="margin-right: 6px; margin-left: 2px; font-weight: 400"
							>
								{{ obligationModel.document_info.register_date.slice(5, 7) }}
							</span>

							<span class="template-date-year" style="font-weight: 400">
								{{ obligationModel.document_info.register_date.slice(0, 4) }} yil
							</span>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</template>

<script>
import { mapState } from 'vuex'
import QrcodeVue from 'qrcode.vue'

export default {
	name: "Obligation",
	components: {
		QrcodeVue
	},
	data() {
		return {
			list: [
				{
					title: '1. O’zbekiston Respublikasining «Bank siri tug‘risida»gi qonunning 3 moddasida ko‘rsatilgan ma’lumotlarni oshkor kilmaslik;'
				},
				{
					title: '2. Bank sirini tashkil etuvchi ma’lumotlar va xujjatlar bilan ishlashga doir buyruqlar, yo‘riqnomalar va boshqa me’yoriy xujjatlar talablarini to‘lik bajarish;'
				},
				{
					title: '3. Uchinchi shaxslar mendan bank siriga oid ma’lumotlar xakida axborot olishga uringan xollarda, darxol bu xakida raxbariyatga xabar berish;'
				},
				{
					title: '4. Belgilanmagan joylarda bank siriga oid xujjatlarni saklamaslik, raxbariyat ruxsatisiz ularni bank binosidan olib chikmaslik;'
				},
				{
					title: '5 Bank sirini tashkil etuvchi ma’lumotlardan ochiq xizmat yozishmalarida, makolalarda, ma’ruzalarda foydalanmaslik;'
				},
				{
					title: '6. Bank sirini tashkil etuvchi ma’lumotlar xaqida aloqa kanallari orqali muloqot olib bormaslik;'
				},
				{
					title: '7. Bank sirini tashkil etuvchi ma’lumotlarni ximoyalash bo‘yicha amaldagi qonunchilik va mazkur majburiyatnoma talablarini bajarish;'
				},
				{
					title: '8. Ish xaki, mijozlarning omonatlariga va qonunlarda nazarda tutilgan boshqa extiyojlar uchun uz vaktida nakd pul bilan ta’minlash;'
				},
				{
					title: '9. Xisobvaraqdar ochishda asossiz kechiktirmaslik, mijozlarning xisobvaraklari bo‘yichato‘lovlarni o‘tkazish va xisobdan chikarishning qonunchilikda belgilangan tartibini uz vaktida amalga oshirish;'
				},
				{
					title: '10. Kredit olish bo‘yicha murojaatlarni o‘z vaktida kurib chikish xamda berilayotgan kreditning muddatlilik, to‘lovlilik va kaytarishlilik tamoyillari asosida xujjatlarni qonunchilikda o‘rnatilgan tartibda rasmiylashtirilishini ta’minlash;'
				},
				{
					title: '11. Quyida keltirilgan me’yoriy xujjatlarini buzganlik uchun javobgarlik yuzaga kelishi tug‘risida ogoxlantirildim.'
				}
			],
			bankConfidentiality: [
				{
					title: 'a) Bank raxbariyati tomonidan konfidensial ma’lumotlardan foydalanishgatalab etilgan ruxsatlartaqdim etilmasa tegishli konfidensial hujjatlar bilan tanishmayman va foydalanmayman;'
				},
				{
					title: 'b) Bank Boshqaruvi Raisi, Bank Boshqaruvi Raisining o‘rinbosari yoki ular vakolat bergan mansabdor shaxsning ruxsatisiz bank yoki tijorat sirlarini, shaxsga doir ma’lumotlarni o‘z ichiga olgan hujjatlardan nusxa ko‘chirmayman,o‘zgartirmayman va yo‘q qilmayman;'
				},
				{
					title: 'c) Bankdan chiqayotganda konfidensial ma’lumotlar mavjud bo‘lgan hujjatlarni “Asakabank” AJning “Ma’lumotlarni ximoyalash ob’ektlarining ro‘yxati” da ko‘rsatilgan yopiq metall shkaflarda (seyflarda) agar elektron shaklda mavjud bo‘lsa kompyuterlarda yoki ma’lumotlarni boshqarish tizimlarida saqlayman. Shuningdek, ushbu hujjatlardan foydalanib bo‘linganimdan so‘ng ish stollarida, kuluflanmagan xonalarda va metall shkaflarda (seyflarda) xavfsizlikni ta’minlayman;'
				},
				{
					title: 'd) O’zbekiston Respublikasining 2003 yil 30 avgustdagi 530-II-son bilan tasdiqlangan “Bank siri to‘g‘risida”gi, 2014 yil 11 sentyabrdagi O’RQ-374-son bilan tasdiqlangan “Tijorat siri to‘g‘risida”gi va 2019 yil2 iyuldagi O’RQ-547-son bilan tasdiqlangan "Shaxsga doir ma’lumot to‘g‘risida”gi qonunlarida belgilangan talablarni o‘z vaqtida va to‘liq bajarilishini ta’minlayman.'
				}
			],
			informationSecurity: [
				{
					title: '- Avtomatlashtirilgan bank tizimlariga kirishda, to‘lovlar o‘tkazishga aloqador jarayonlarda va boshqa tegishli tartibda belgilangan holatlarda shaxsiy sertifikat yozilgan elektron raqamli qurilmadan foydalanish majburiyatini o‘z zimmamga olaman;'
				},
				{
					title: '- Ish faoliyatida tegishli elektron xisoblash qurilmalarida antivirus ximoyasi mavjudligini uni ishchi holatda bo‘lishini nazorat qilaman, shuningdek antivirus ximoyasi mavjud emasligi aniqlaganimda tegishli tarkibiy tuzilmaga xabar berish vazifasini o‘z zimmamga olaman;'
				},
				{
					title: '- “Asakabank” AJni amaliyotida ahborotlar xamda ma’lumotlarni aylanishi, prollardan, internet tarmog‘idan va faqat ruxsat etilgan dasturiy ta’minotlardan xamda avtomatlashtirilgan bank tizimidagi xuquqlardan foydalanish bo‘yicha belgilangan qoidalarni talablariga to‘liq rioya qilish vazifasini o‘z zimmamga olaman;'
				},
			],
			administrativeCode: [
				{
					title: '170-modda. Valyuta boyliklarini qonunga xilof ravishda olish yoki o‘tkazish.'
				},
				{
					title: '171-modda. Valyuta operatsiyalarini amalga oshirish tartibini buzish.'
				},
				{
					title: '175-modda. Solik solinadigan ob’ektlarning xisobini olib bormaslik yoki kassa operatsiyalarini yuritish tartibini buzish.'
				},
				{
					title: '175-1-modda. Buxgalteriya xisobi va xisobotini yuritish tartibini buzish.'
				},
				{
					title: '175-2-modda. Budjet intizomini buzish.'
				},
				{
					title: '179-modda. Auditorning qonun xujjatlari buzilganligi xollarini yashirish.'
				}
			],
			criminalCode: [
				{
					title: '165-modda. Tovlamachilik.'
				},
				{
					title: '167-modda. O’zlashtirish yoki rastrata yo‘li bilan talon-toroj qilish.'
				},
				{
					title: '168-modda. Firibgarlik.'
				},
				{
					title: '175-modda. O’zbekiston Respublikasi manfaatlariga xilof ravishda bitimlar tuzish.'
				},
				{
					title: '177-modda. Valyuta qimmatliklarini qonunga xilof ravishda olish yoki o‘tkazish.'
				},
				{
					title: '178-modda. Chet el valyutasini yashirish.'
				},
				{
					title: '184-modda. Soliq va boshqato‘lovlarni tulashdan buyin tovlash.'
				},
				{
					title: '184-1-modda. Budjet intizomini buzish.'
				},
				{
					title: '205-modda. Xokimiyat yoki mansab vakolatini suiste’mol qilish.'
				},
				{
					title: '206-modda. Xokimiyat yoki mansab vakolati doirasidan chetga chikish.'
				},
				{
					title: '207-modda. Mansabga sovukkonlik bilan karash.'
				},
				{
					title: '208-modda. Xokimiyat xdrakatsizligi.'
				},
				{
					title: '209-modda. Mansab soxtakorligi.'
				},
				{
					title: '210-modda. Pora olish.'
				},
				{
					title: '211-modda. Pora berish.'
				},
				{
					title: '212-modda. Pora olish-berishda vositachilik qilish.'
				},
				{
					title: '213-modda. Xizmatchini pora evaziga ogdirish.'
				},
				{
					title: '214-modda. Tovlamachilik yo‘li bilan xak berishni talab qilish.'
				},
				{
					title: '227-modda Xujjatlar, shtamplar, muxrlar, blankalarni egallash, nobud qilish, ularga shikayet yetkazish yoki ularni yashirish.'
				},
				{
					title: '228-modda. Xujjatlar, shtamplar, muxrlar, blankalar tayyorlash, ularni qalbakilashtirish, sotish yoki ulardan foydalanish.'
				}
			],
			laborCode: [
				{
					title: '312-modda. Intizomiy jazolar.'
				}
			]
		}
	},
	computed: {
		...mapState({
			formModel: state => state.hrHiring.formModel,
			contentModel: state => state.hrHiring.contentModel,
			obligationModel: state => state.hrHiring.obligationModel
		})
	}
}
</script>

<style scoped>

</style>