<template>
	<div class="personal-info-template-view template-size-15">
		<img
			src="/img/logo_asaka_4.png"
			alt="logo_asaka_4.png"
			class="template-block"
			style="width: 60px; margin-left: auto; margin-right: auto; margin-bottom: 32px;"
		/>

		<h4 class="template-text-center template-margin-bottom-32">
			«Asakabank» AJ xodimlari va nomzodlarining Shaxsga doir ma’lumotlarni to‘plash va ishlashga rozilik bildirish
		</h4>

		<span class="template-block template-section-space">
			{{ contentModel.document_info.region }}
		</span>

		<span class="template-block template-section-space">Men, shaxsiy ma’lumotlar sub’ekti:</span>

		<div class="template-relative template-min-height-44 template-section-space">
			<div class="template-relative template-bottom-line template-text-center">
				<strong>{{ formModel.last_name }} {{ formModel.first_name }} {{ formModel.father_name }}</strong>
			</div>
			<span class="template-bottom-line-text">(familiyasi, ismi, otasining ismi to‘liq yoziladi)</span>
		</div>

		<div class="template-relative template-min-height-44 template-section-space">
			<div class="template-relative template-bottom-line template-text-center">
				<span
					v-if="!(personalDataModel.document_info.additional_details && personalDataModel.document_info.additional_details.passport)"
					class="template-placeholder-box"
					style="margin-right: 4px"
				>
					1
				</span>

				<span
					v-if="!(personalDataModel.document_info.additional_details && personalDataModel.document_info.additional_details.stir)"
					class="template-placeholder-box"
					style="margin-right: 4px"
				>
					2
				</span>

				{{ personalDataModel.document_info.additional_details.passport }} &nbsp;
				{{ personalDataModel.document_info.additional_details.stir }}
			</div>

			<span class="template-bottom-line-text">(shaxsini tasdiqlovchi hujjat ma’lumotlari, shu jumladan STIR)</span>
		</div>

		<div class="template-relative template-min-height-44 template-section-space">
			<div class="template-relative template-bottom-line template-text-center">
				{{ contentModel.document_info.address }}
			</div>

			<span class="template-bottom-line-text">quyidagi manzil bo‘yicha istiqomat qiluvchi:</span>
		</div>

		<div class="template-indent template-text-justify">
			«Asakabank» AJ (bundan buyon matnda – “Ish beruvchi”) xodimi (nomzodi) hisoblanib, Mazkur rozilik xatini berish orqali men O’RQ-547-sonli 02.07.2019 yildagi “Shaxsga doir ma’lumotlar to‘g‘risida”gi O’zbekiston Respublikasi Qonuniga asosan “Asakabank” AJga, shuningdek, ularning topshirig‘iga ko‘ra uchinchi shaxslarga mening shaxsimga doir ma’lumotlarga ishlov berilishiga (familiyam, ismi-sharifim, tug‘ilgan sana, oy, yil va joyim, manzilim, pasportim seriyasi, pasportim berilgan sana va bergan idora, ma’lumotim, kasbim, ishlash joyim va mobil telefon raqamim, elektron pochtam, ma’lumot yuborish mumkin bo‘lgan boshqa elektron manzilim), shu jumladan shaxsimga doir axborotlarni yig‘ishga, shuningdek davlat elektron bazalaridan o’rganishga, tizimlashtirishga, saqlashga, aniqlik kiritishga, foydalanishga, tarqatishga, qaytaishlashga, hamda transchegaraviy uzatishga o‘z roziligimni beraman. O‘zbekiston Respublikasi qonun hujjatlari talablariga muvofiq, ham qog‘oz tashuvchi, ham elektron tashuvchi vositalarda o‘z shaxsiy ma’lumotlarim Ish beruvchi tomonidan to‘planishi va ishlanishiga so‘zsiz roziligimni bildiraman.
		</div>

		<div class="template-indent template-text-justify">
			Shaxsiy ma’lumotlarim o‘zgargan yoki to‘ldirilgan holatda, Ish beruvchini bu haqda o‘z vaqtida xabardor qilish majburiyatini olaman.
		</div>

		<div class="template-indent template-text-justify template-section-space">
			Mening shaxsimga doir ma’lumotlarni yozma ravishda chaqirib olishim mumkinligi   va bu men bilan mehnat shartnomansini bekor qilinishiga asos bo`lishi to’g’risida ogohlantirildim.
		</div>

		<div class="template-section-space">
			Shaxsiy ma’lumotlar sub’ekti imzosi:
		</div>

		<table class="template-table template-text-center template-margin-bottom-32">
			<tbody>
				<tr style="vertical-align: bottom;">
					<td style="width: 80%; padding-right: 32px;">
						<div class="template-relative">
							<div class="template-relative template-bottom-line template-size-15">
								{{ formModel.last_name }} {{ formModel.first_name }} {{ formModel.father_name }}
							</div>

							<span class="template-bottom-line-text">(F.I.Sh. to‘liq yoziladi)</span>
						</div>
					</td>

					<td style="width: 20%">
						<div class="template-relative">
							<div class="template-relative template-bottom-line template-size-15">
								<qrcode-vue
									v-if="personalDataModel.is_candidate_signed"
									ref="qrCode"
									:value="'https://check.asakabank.uz/document/'"
									size="60"
									level="L"
									render-as="svg"
								/>
							</div>

							<span class="template-bottom-line-text">(imzo)</span>
						</div>
					</td>
				</tr>
			</tbody>
		</table>

		<div class="template-inline-block">
			<span
				class="template-inline-block template-bottom-line template-relative template-text-center"
				style="min-width: 25px;"
			>
				<span class="template-inline-block" style="transform: translateY(2px)">
					{{ personalDataModel.document_info.register_date.slice(8) }}
				</span>
			</span>

			<span class="template-inline-block template-dots" style="width: 8px; text-align: center; transform: translateY(4px)">.</span>

			<span
				class="template-inline-block template-bottom-line template-relative template-text-center"
				style="min-width: 25px;"
			>
				<span class="template-inline-block" style="transform: translateY(2px)">
					{{ personalDataModel.document_info.register_date.slice(5, 7) }}
				</span>
			</span>

			<span class="template-inline-block template-dots" style="width: 8px; text-align: center; transform: translateY(4px)">.</span>

			<span class="template-inline-block" style="min-height: 22px; transform: translateY(4px)">
				{{ personalDataModel.document_info.register_date.slice(0, 4) }} yil
			</span>
		</div>
	</div>
</template>

<script>
import { mapState } from 'vuex'
import QrcodeVue from 'qrcode.vue'

export default {
	name: "PersonalInformation",
	components: {
		QrcodeVue
	},
	computed: {
		...mapState({
			formModel: state => state.hrHiring.formModel,
			contentModel: state => state.hrHiring.contentModel,
			orderModel: state => state.hrHiring.orderModel,
			personalDataModel: state => state.hrHiring.personalDataModel,
		}),
	}
}
</script>

<style scoped>

</style>