<template>
	<div class="indemnity-risk-template-view template-size-15">
		<h1 class="template-title template-section-space" style="margin-top: 0">MAJBURIYATNOMA</h1>

		<div class="template-min-height-44 template-margin-bottom-32">
			<div style="width: 100%; margin-bottom: 8px;">
				<span style="margin-right: 4px; float: left;">Men</span>

				<div style="padding-left: 36px;">
					<div class="template-relative template-bottom-line template-size-15 template-relative">
						{{ formModel.last_name }} {{ formModel.first_name }} {{ formModel.father_name }}
					</div>
				</div>
			</div>

			<div class="template-relative">
				<div class="template-relative template-bottom-line template-size-15 template-relative">
					{{ contentModel.document_info.department.name }}
					{{ contentModel.document_info.position }}
				</div>

				<span class="template-bottom-line-text">(xodim F.I.Sh, lavozimi)</span>
			</div>
		</div>

		<div class="template-indent template-text-justify template-section-space">
			“Asakabank” AJ tizimida tavakkalchilik hodisalari haqida xabardor qilish taomilini ta’minlash maqsadida,
			o‘z vazifalarimni bajarish jarayonida operatsion tavakkalchilik paydo bo‘ladigan hodisalar va muammolarni
			ro‘yxatga oluvchi sifatida quyidagi majburiyatlarni o‘z zimmamga olaman:

			<div class="template-section-space">
				<template v-for="item in list">
					<span class="template-block">{{ item.title }}</span>
				</template>
			</div>

			Ushbu bilan, men o‘z vazifalarimni bajarish jarayonida “Asakabank” AJ tizimida tavakkalchilik hodisalari
			haqida xabardor qilish taomiliga qat’iy amal qilishimni va o‘z vazifalarimni sidqidildan bajarishimni bildiraman.
		</div>

		<table class="template-table">
			<tbody>
				<tr style="vertical-align: bottom">
					<td style="width: 40%">
						<div class="template-inline-table">
							<div class="template-relative template-bottom-line template-size-15 template-relative template-min-width-150">
								<span class="template-inline-block" style="height: 18px">
									{{ formModel.last_name }} {{ formModel.first_name[0] }}. {{ formModel.father_name[0] }}.
								</span>
							</div>
						</div>

						<span style="margin-left: 4px;">/F.I.Sh/</span>
					</td>

					<td style="width: 30%">
						<div class="template-inline-table">
							<div class="template-relative template-bottom-line template-size-15 template-relative template-min-width template-text-center">
								<strong class="template-inline-block" style="height: 18px">
									<qrcode-vue
										v-if="riskObligationModel.is_candidate_signed"
										ref="qrCode"
										:value="'https://check.asakabank.uz/document/'"
										size="60"
										level="L"
										render-as="svg"
									/>
								</strong>
							</div>
						</div>

						<span style="margin-left: 4px;">/imzo/</span>
					</td>

					<td style="width: 25%">
						<div class="template-date template-inline-block">
							<span class="left-quote">«</span>

							<span class="template-date-date template-inline-block template-bottom-line" style="font-weight: 400">
								{{ riskObligationModel.document_info.register_date.slice(8, 10) }}
							</span>

							<span class="right-quote">»</span>

							<span
								class="template-date-month template-inline-block template-bottom-line"
								style="margin-right: 6px; margin-left: 2px; font-weight: 400"
							>
								{{ riskObligationModel.document_info.register_date.slice(5, 7) }}
							</span>

							<span class="template-date-year" style="font-weight: 400">
								{{ riskObligationModel.document_info.register_date.slice(0, 4) }} yil
							</span>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</template>

<script>
import { mapState } from 'vuex'
import QrcodeVue from 'qrcode.vue'

export default {
	name: "IndemnityRisk",
	components: {
		QrcodeVue
	},
	data() {
		return {
			list: [
				{
					title: '1. “Operatsion tavakkalchiliklarni boshqarish to‘g‘risida”gi Nizom bilan tanishish;'
				},
				{
					title: '2. Bankning me’yoriy hujjatlarida belgilangan qoidalarga muvofiq operatsion  tavakkalchiliklar bilan bog‘liq majburiy harakatlarni amalga oshirish;'
				},
				{
					title: '3. Voqea yoki muammo haqida zudlik bilan voqea bo‘yicha Tavakkalchilik departamentiga xabar berish;'
				},
				{
					title: '4. Har kunlik operatsion tavakkalchilik hodisasi yuzaga kelganda yoki aniqlanganda ularni “jira.asakabank.uz” veb-saytida ro‘yxatga olish;'
				},
				{
					title: '5. Bankka zarar keltirishi mumkin bo‘lgan xodisalar aniqlanganda, zararni kamaytirish yuzasidan vakolatim doirasida choralarni ko‘rish.'
				}
			]
		}
	},
	computed: {
		...mapState({
			formModel: state => state.hrHiring.formModel,
			contentModel: state => state.hrHiring.contentModel,
			riskObligationModel: state => state.hrHiring.riskObligationModel
		})
	}
}
</script>

<style scoped>

</style>