<template>
	<div class="confirmation-table-filter-view">
		<!-- Уровень -->
		<div class="mb-5">
			<span class="small-2 d-block font-600 text-7">{{ $t('components.level') }}</span>

			<div class="d-flex">
				<v-radio-group
					v-model="indexTableFilters.priority"
					row
					mandatory
					hide-details
					class="mt-3"
				>
					<v-radio
						class="mr-12"
						:value="null"
					>
						<template #label>
							<span class="ml-2 text-dark small-1 font-500">{{ $t('components.all') }}</span>
						</template>
					</v-radio>

					<v-radio
						class="mr-12"
						value="low"
					>
						<template #label>
							<span class="ml-2 text-dark small-1 font-500">{{ $t('for-information') }}</span>
						</template>
					</v-radio>

					<v-radio
						class="mr-12"
						value="medium"
					>
						<template #label>
							<span class="ml-2 text-dark small-1 font-500">{{ $t('with-deadline') }}</span>
						</template>
					</v-radio>

					<v-radio
						class="mr-12"
						value="high"
					>
						<template #label>
							<span class="ml-2 text-dark small-1 font-500">{{ $t('emergent') }}</span>
						</template>
					</v-radio>
				</v-radio-group>
			</div>
		</div>
		<!-- /Уровень -->

		<!-- Состояние -->
		<div class="mb-5">
			<span class="small-2 d-block font-600 text-7">{{$t('components.state')}}</span>

			<div class="d-flex">
				<v-radio-group
					v-model="indexTableFilters.is_read"
					row
					mandatory
					hide-details
					class="mt-3"
				>
					<v-radio
						class="mr-12"
						:value="null"
					>
						<template #label>
							<span class="ml-2 text-dark small-1 font-500">{{ $t('components.all') }}</span>
						</template>
					</v-radio>

					<v-radio
						class="mr-12"
						:value="true"
					>
						<template #label>
							<span class="ml-2 text-dark small-1 font-500">{{$t('components.read')}}</span>
						</template>
					</v-radio>

					<v-radio
						class="mr-12"
						:value="false"
					>
						<template #label>
							<span class="ml-2 text-dark small-1 font-500">{{$t('components.unread')}}</span>
						</template>
					</v-radio>
				</v-radio-group>
			</div>
		</div>
		<!-- /Состояние -->

		<!-- Резолюция -->
		<div class="mb-5">
			<span class="small-2 d-block font-600 text-7">{{$t('resolution')}}</span>

			<div class="d-flex">
				<v-radio-group
					v-model="indexTableFilters.has_resolution"
					row
					mandatory
					hide-details
					class="mt-3"
				>
					<v-radio
						class="mr-12"
						:value="null"
					>
						<template #label>
							<span class="ml-2 text-dark small-1 font-500">{{ $t('components.all') }}</span>
						</template>
					</v-radio>

					<v-radio
						class="mr-12"
						:value="true"
					>
						<template #label>
							<span class="ml-2 text-dark small-1 font-500">{{$t('hasResolution')}}</span>
						</template>
					</v-radio>

					<v-radio
						class="mr-12"
						:value="false"
					>
						<template #label>
							<span class="ml-2 text-dark small-1 font-500">{{$t('NoResolution')}}</span>
						</template>
					</v-radio>
				</v-radio-group>
			</div>
		</div>
		<!-- /Резолюция -->

		<div class="mt-7">
			<v-row>
				<!-- Статус -->
				<v-col md="4">
					<div class="app-input">
						<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.status') }}</span>

						<v-select
							v-model="indexTableFilters.statusList"
							:items="statusList"
							multiple
							item-text="translated"
							item-value="id"
							outlined
							hide-details
							clearable
							background-color="var(--input-bg)"
							@input="handleStatusList"
							@click:clear="clearStatusList"
						>
							<template #append>
								<v-icon>mdi-chevron-down</v-icon>
							</template>
						</v-select>
					</div>
				</v-col>
				<!-- /Статус -->

				<!-- По состоянию -->
				<v-col md="4">
					<div class="app-input">
						<span class="d-block font-600 small-2 mb-2 text-7">{{$t('components.as-condition')}}</span>

						<v-select
							v-model="indexTableFilters.condition"
							:items="documentStateList"
							item-text="title"
							item-value="value"
							outlined
							hide-details
							clearable
							background-color="var(--input-bg)"
						>
							<template #append>
								<v-icon>mdi-chevron-down</v-icon>
							</template>
						</v-select>
					</div>
				</v-col>
				<!-- /По состоянию -->

				<!-- Рег. номер -->
				<v-col md="4">
					<div class="app-input">
						<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.registration-number') }}</span>

						<v-text-field
							v-model="indexTableFilters.register_number"
							outlined
							background-color="var(--input-bg)"
							hide-details
							clearable
						/>
					</div>
				</v-col>
				<!-- /Рег. номер -->

				<!-- Рег. дата -->
				<v-col md="4">
					<div class="app-input">
						<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.registration-date') }}</span>

						<app-date-picker
							v-model="indexTableFilters.__register_date"
							with-input
							range
							background-color="var(--input-bg)"
							clearable
							@emit:up="(value) => setDateSelect({ value, state: indexTableFilters, start: 'register_start_date', end: 'register_end_date' })"
							@clickClear="clearDateSelect({ state: indexTableFilters, start: 'register_start_date', end: 'register_end_date' })"
						/>
					</div>
				</v-col>
				<!-- /Рег. дата -->

				<!-- Исх. номер -->
				<v-col md="4">
					<div class="app-input">
						<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.outgoing-number') }}</span>

						<v-text-field
							v-model="indexTableFilters.outgoing_number"
							outlined
							background-color="var(--input-bg)"
							hide-details
							clearable
						/>
					</div>
				</v-col>
				<!-- /Исх. номер -->

				<!-- Исх. дата -->
				<v-col md="4">
					<div class="app-input">
						<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.outgoing-date') }}</span>

						<app-date-picker
							v-model="indexTableFilters.__outgoing_date"
							with-input
							range
							background-color="var(--input-bg)"
							clearable
							@emit:up="(value) => setDateSelect({ value, state: indexTableFilters, start: 'outgoing_start_date', end: 'outgoing_end_date' })"
							@clickClear="clearDateSelect({ state: indexTableFilters, start: 'outgoing_start_date', end: 'outgoing_end_date' })"
						/>
					</div>
				</v-col>
				<!-- /Исх. дата -->

				<!-- Корреспондент -->
				<v-col md="4">
					<div class="app-input">
						<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.correspondent') }}</span>

						<app-autocomplete
							v-model="indexTableFilters.__correspondent"
							api-list-url="/action/correspondent/"
							list-type="list"
							item-text="organization_name"
							return-object
							cache-items
							clearable
							@click:clear="clearCorrespondent"
							@input="handeCorrespondent"
						/>

						<template v-if="indexTableFilters.__correspondent">
							<div class="d-flex align-center mt-1">
								<v-chip
									color="primary"
									small
									class="mr-2"
								>
									<span>{{ indexTableFilters.__correspondent.organization_name }}</span>
								</v-chip>

								<v-btn
									color="error"
									icon
									small
									@click="clearCorrespondent"
								>
									<trash2-icon size="18" />
								</v-btn>
							</div>
						</template>
					</div>
				</v-col>
				<!-- /Корреспондент -->

				<!-- На рассмотрение -->
				<v-col md="4">
					<div class="app-input">
						<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('dashboard.components.in-preview') }}</span>

						<app-autocomplete
							v-model="indexTableFilters.__review_user"
							api-list-url="/user/search/"
							item-value="id"
							item-text="full_name"
							return-object
							cache-items
							clearable
							@click:clear="clearReviewUsers"
							@input="handleReviewUsers"
						/>

						<template v-if="indexTableFilters.__review_user">
							<div class="d-flex align-center mt-1">
								<v-chip
									color="primary"
									small
									class="mr-2"
								>
									<span>{{ indexTableFilters.__review_user.full_name }}</span>
								</v-chip>

								<v-btn
									color="error"
									icon
									small
									@click="clearReviewUsers"
								>
									<trash2-icon size="18" />
								</v-btn>
							</div>
						</template>
					</div>
				</v-col>
				<!-- /На рассмотрение -->

				<!-- Наименование документа -->
				<v-col md="4">
					<div class="app-input">
						<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('facture.document-name') }}</span>

						<v-text-field
							v-model="indexTableFilters.title"
							outlined
							background-color="var(--input-bg)"
							hide-details
							clearable
						/>
					</div>
				</v-col>
				<!-- /Наименование документа -->

				<!-- По филиалам -->
				<v-col md="4" class="py-2">
					<div class="app-input">
						<span class="d-block font-600 small-2 mb-2 text-7">{{$t('components.by-branches')}}</span>

						<autocomplete
							v-model="indexTableFilters.filial"
							api-list-url="/filials/"
							:api-params="{ condition: 'A', page_size: 30 }"
							item-text="name"
							item-value="id"
							list-type="list"
							cache-items
							clearable
						/>
					</div>
				</v-col>
				<!-- По филиалам -->

				<!-- Вид документа -->
				<v-col md="4" class="py-2">
					<div class="app-input">
						<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.document-type') }}</span>

						<app-autocomplete
							v-model="indexTableFilters.doc_type"
							:api-list-url="documentReferenceUrl"
							:api-params="{
                    type: 'doc_type',
                    page_size: 30
                  }"
							list-type="list"
							item-text="name"
							item-value="id"
							clearable
							cache-items
						/>
					</div>
				</v-col>
				<!-- /Вид документа -->
			</v-row>
		</div>
	</div>
</template>

<script>
import { mapActions, mapGetters, mapState } from "vuex"
import { Trash2Icon } from "vue-feather-icons"

export default {
	name: "ConfirmationTableFilter",
  components: {
    Trash2Icon
  },
	computed: {
		...mapState({
      statusList: state => state.statusList,
      documentStateList: state => state.documentStateList,
      journalList: state => state.journalList,
			indexTableFilters: state => state.documentFlowBoxesConfirmation.indexTableFilters
		}),
    /*
    *
    * */
    ...mapGetters({
      currentUser: "auth/getCurrentUser",
    }),
    /*
    *
    * */
    documentReferenceUrl() {
      return `/docflow/${this.currentUser.filial}/reference/`
    },
	},
  methods: {
	  ...mapActions({
		  setDateSelect: "setDateSelect",
		  clearDateSelect: "clearDateSelect",
	  }),
	  /**/
	  handleStatusList() {
		  this.indexTableFilters.status = this.indexTableFilters.statusList.join(",")
	  },
	  /**/
	  clearStatusList() {
		  this.indexTableFilters.status = null
		  this.indexTableFilters.statusList = null
	  },
	  /**/
	  handeCorrespondent() {
		  this.indexTableFilters.correspondent_name = this.indexTableFilters.__correspondent.organization_name
		  this.indexTableFilters.correspondent = this.indexTableFilters.__correspondent.id
	  },
	  /**/
	  clearCorrespondent() {
		  this.indexTableFilters.__correspondent = null
		  this.indexTableFilters.correspondent = null
		  this.indexTableFilters.correspondent_name = null
	  },
	  /**/
	  handleDocType() {
		  this.indexTableFilters.doc_type = this.indexTableFilters.__doc_type.id
		  this.indexTableFilters.doc_type_name = this.indexTableFilters.__doc_type.name
	  },
	  /**/
	  clearDocType() {
		  this.indexTableFilters.__doc_type = null
		  this.indexTableFilters.doc_type = null
		  this.indexTableFilters.doc_type_name = null
	  },
	  /**/
	  clearReviewUsers() {
		  this.indexTableFilters.__review_user = null
		  this.indexTableFilters.review_user = null
		  this.indexTableFilters.full_name = null
	  },
	  /**/
	  handleReviewUsers() {
		  this.indexTableFilters.full_name = this.indexTableFilters.__review_user.full_name
		  this.indexTableFilters.review_user = this.indexTableFilters.__review_user.id
	  }
  }
}
</script>
