<template>
	<div class="add=member-view">
		<v-dialog
			v-model="dialog"
			max-width="400"
		>
			<div class="input-label d-flex bg-white pa-5 flex-column rounded-20">
				<div class="d-flex justify-space-between w-100">
					<span class="font-500 small-2">{{$t('chat-messenger.components.base.add-members')}}</span>
					<v-icon @click="cancelAddMember" color="red">{{ "$vuetify.icons.XIcon" }}</v-icon>
				</div>

				<v-divider style="background: #F1F1F1;" class="my-2"></v-divider>

				<app-autocomplete
					v-model="selectedUser"
					@emit:change="addMember"
					api-list-url="/user/search/"
					item-text="full_name"
					return-object
					cache-items
					:label="$t('chat-messenger.components.base.add-members')"
					:api-params="{
						chat_id: conversationUserSelected.id
					}"
				/>

				<div class="scrollable-user-list mt-5">
					<perfect-scrollbar>
						<template v-if="temp_members.length">
							<template >
								<div v-for="(member, index) in temp_members" :key="member.id" class="bg-hover d-flex align-center px-4 py-2">
									<v-avatar
										:color="member.color"
										size="48"
									>
										<template v-if="member.avatar">
											<img
												:src="member.avatar.url"
												alt="Avatar image"
                        class="object-cover w-100 h-100"
											>
										</template>
										<template v-else>
											<span class="white--text small-2">
												{{ member.first_name && member.first_name | getFirstCharacterWithoutDot }}
											</span>
										</template>
									</v-avatar>
									<div class="d-flex justify-space-between w-100">
										<div class="d-flex flex-column ml-2">
											<span class="font-500 small-2">{{ member.last_name }} {{member.first_name && member.first_name | getFirstCharacter}} {{ member.father_name && member.father_name | getFirstCharacter }} </span>
											<span class="font-400 small-3 opacity-50">{{ member.position }}</span>
										</div>

										<div @click.prevent="removeMember(index)" class="pa-1 mt-1 rounded-10 pointer"
										     style="background: #FFE7E7;">
											<v-icon color="red">mdi-minus</v-icon>
										</div>
									</div>
								</div>
							</template>
						</template>
						<template v-else>
							<div class="d-flex w-100 h-100 justify-center align-center">
								<span class="font-500 small-2">{{$t('chat-messenger.components.base.no-members-added')}}</span>
							</div>
						</template>
					</perfect-scrollbar>
				</div>
			</div>
			<div class="d-flex my-4 justify-end">
				<v-btn
					@click="cancelAddMember"
					outlined
					color="white"
					depressed
					small
				>
					{{$t('chat-messenger.components.base.cancel')}}
				</v-btn>
				<v-btn
					@click="send"
					color="primary"
					depressed
					small
					class="ml-4"
				>
					{{$t('chat-messenger.components.base.add')}}
				</v-btn>
			</div>
		</v-dialog>
	</div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
	name: "AddMemberModal",
	data() {
		return {
			dialog: false,
			selectedUser: {},
			temp_members: [],
			users: []
		}
	},
	computed: {
		...mapGetters({
			conversationUserSelected: "chatModule/getConversationUserSelected",
		}),
	},
	methods: {
		...mapActions({
			fetchAddMemberToGroup: "chatModule/fetchAddMemberToGroup",
			openPrivateChat: "chatModule/openPrivateChat",
		}),
		/**/
		addMember(member) {
			if (this.temp_members.includes(member)){
				this.$toast.warning(this.$t('chat-messenger.components.base.user-already-added'));
				this.selectedUser = {}
				return
			}

			this.temp_members.unshift(member)
			this.selectedUser = {}
		},
		/**/
		removeMember(index) {
			this.temp_members.splice(index, 1)
		},
		/**/
		send(){
			if (!this.temp_members.length){
				this.$toast.warning(this.$t('chat-messenger.components.base.add-member'));
				return
			}
			this.temp_members.forEach(item => {
				this.users.push({
					chat: this.conversationUserSelected.id,
					user: item.id,
					role: "member"
				})
			});

			this.fetchAddMemberToGroup(this.users).then(data => {
				this.temp_members = [];
				this.dialog = false;
				this.$toast.success(this.$t('chat-messenger.components.base.added'));
				this.openPrivateChat({
					type: "group",
					id: this.conversationUserSelected.id
				})
			});
		},
		/**/
		cancelAddMember(){
			this.dialog = false;
			this.temp_members = [];
		}
	}
}
</script>

<style scoped>

</style>
