<template>
	<div class="autocomplete-for-bot-view w-100">
		<v-autocomplete
			v-model="users"
			@change="$emit('emit:up', users)"
			:disabled="isUpdating"
			:search-input.sync="searchValue"
			:items="userList"
			filled
			v-bind="$attrs"
			v-on="$listeners"
			chips
			dense
			cache-items
			hide-details
			color="blue-grey lighten-2"
			outlined
			item-text="full_name"
			item-value="id"
			multiple
			background-color="var(--input-bg)"
			:label="$t('chat-messenger.components.base.select-user')"
		>
			<template v-slot:selection="data">
				<v-chip
					v-bind="data.attrs"
					:input-value="data.selected"
					close
					@click="data.select"
					@click:close="remove(data.item)"
					color="primary"
				>
					{{ data.item.full_name }}
				</v-chip>
			</template>
			<template v-slot:item="data">
				<template>
					<v-list-item-content>
						<v-list-item-title v-html="data.item.full_name"></v-list-item-title>
						<v-list-item-subtitle>
							<span class="font-400 tiny">{{ data.item.phone }}</span>
						</v-list-item-subtitle>
					</v-list-item-content>
				</template>
			</template>

			<template v-slot:append-item>
				<template v-if="userList.length >= 8">
					<div
						v-intersect="{
            handler: onIntersect,
            options: {
              threshold: [0, 1.0, 1.0]
            }
          }"
						class="pa-4"
					>
					</div>
				</template>
			</template>
		</v-autocomplete>
	</div>
</template>

<script>
export default {
	name: "AutocompleteForBot",
	data () {
		return {
			userList: [],
			autoUpdate: true,
			isUpdating: false,
			searchValue: "",
			users: [],
			page: 1,
		}
	},

	watch: {
		isUpdating (val) {
			if (val) {
				setTimeout(() => (this.isUpdating = false), 3000)
			}
		},
		/*
		*
		* */
		searchValue() {
			this.getList({
				page: this.page = 1
			})
		}
	},

	computed: {
		// users: {
		// 	get(){
		// 		return this.value;
		// 	},
		// 	set(value){
		// 		this.$emit("input", value);
		// 	}
		// }
	},

	// created() {
	// 	this.getList()
	// },

	methods: {
		getList(params){
			this.$axios.get(`/alert/tg/users/`, {
				params: {
					search: this.searchValue,
					...params
				}
			})
			.then(({ data }) => {
				this.userList = data.results
			})
		},
		/**/
		remove (item) {
			const index = this.users.findIndex(id => id === item.id)
			if (index >= 0) this.users.splice(index, 1)
			this.$emit('emit:up', this.users)
		},
		/*
		*
		* */
		onIntersect(entries) {
			if(entries[0].intersectionRatio >= 0.5) {
				++this.page

				this.getList({
					search: this.searchValue,
					page: this.page
				})
			}
		}
	},
}
</script>

<style>
.autocomplete-for-bot-view .v-select__slot {
	padding-top: 8px!important;
}
.autocomplete-for-bot-view .v-select__slot label{
	color: #575656 !important;
	font-weight: 500!important;
}
</style>
