<template>
	<v-dialog
		content-class="shadow-5"
		v-model="imageViewerModal"
		max-width="800"
		@click:outside="closeFilterModal"
	>
		<div class="bg-3 p-relative">
<!--			<div class="p-absolute x-button">
				<app-button
					@click="closeFilterModal"
					icon
					color="error"
					rounded
					width="45"
					min-width="45"
					height="45"
				>
					<x-icon />
				</app-button>
			</div>-->

			<div class="d-flex justify-center align-center">
				<img :src="imageUrl" alt="" class="w-100 h-100 img-cover">
			</div>
		</div>
	</v-dialog>
</template>

<script>
import { XIcon } from 'vue-feather-icons'

export default {
	name: "ImageViewerModal",
	components: {
		XIcon
	},
	data() {
		return {
			imageViewerModal: false,
			imageUrl: ""
		}
	},
	methods: {
		closeFilterModal(){
			this.imageViewerModal = false
		}
	}
}
</script>

<style>
.x-button{
	right: 0;
}
</style>
