<template>
	<div
		v-on="$listeners"
		v-bind="$attrs"
		class="chat-user-item d-flex align-center pointer text-decoration-none pa-3 transition-all"
		:class="{
			'hoverable' : hover
		}"
	>
		<div>
			<v-avatar color="blue">
				<template v-if="item.image">
					<img
						:src="item.image.url"
						alt="Avatar"
            class="object-cover w-100 h-100"
					/>
				</template>

				<template v-else>
					<span class="text-white text-uppercase">{{ item.title && item.title[0] }}</span>
				</template>
			</v-avatar>
		</div>
		<div class="flex-1 ml-3 text-truncate">
			<template v-if="compact">
				<div class="d-flex flex-column">
					<span class="text-selected mr-2 text-truncate flex-1 small-2 font-500">
						{{ item.title }}
					</span>
					<span v-if="groupChatMembers.length" class="small-3 font-400 opacity-50">{{ groupChatMembers.length }} {{$t('chat-messenger.components.base.members')}}</span>
				</div>
			</template>
			<template v-else>
				<div class="d-flex align-center font-500">
					<span class="text-selected mr-2 text-truncate flex-1 small-2">
						{{ item.title }}
					</span>
						<template v-if="item.last_message">
							<span v-if="new Date().getDate() !== new Date(item.last_message.created_date).getDate()" class="text-selected ml-auto tiny text-3 font-400">{{ item.last_message.created_date | filterDateMonthYear }}</span>
							<span v-else class="text-selected ml-auto tiny text-3 font-400">{{ item.last_message.created_date | filterHHmm }}</span>
						</template>
				</div>
				<div class="mt-1 d-flex align-center">
					<template v-if="item.last_message">
								<span class="text-selected small-3 font-500 text-truncate mr-1">{{ item.last_message.sender.id === currentUser.id ? 'Вы:' : item.last_message.sender.last_name+':' }}  </span>
								<span class="text-selected text-3 small-3 text-truncate flex-1 line-truncate">
									<span v-if="item.last_message.file !== null">{{ item.last_message.file.name }}</span>
									<span v-else v-text="item.last_message && item.last_message.text && item.last_message.text.replaceAll('<br />', ' ')"></span>
								</span>
					</template>
					<div
						v-if="item.unread_message_count > 0"
						class="unread-count d-flex align-center justify-center rounded-10 bg-primary"
						style="max-height: 22px"
					>
						<span class="font-600 small-3 text-white ma-2">{{ unreadMessageCount }}</span>
					</div>
				</div>
			</template>
		</div>
	</div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
	name: "MessengerGroupCard",
	props: {
		item: {
			type: Object,
			default: () => {},
			required: true
		},
		hover: {
			type: Boolean,
			default: true
		},
		compact: {
			type: Boolean,
			default: false
		}
	},
	computed: {
		...mapGetters({
			currentUser: "auth/getCurrentUser",
			conversationUserSelected: "chatModule/getConversationUserSelected",
			conversationGroupList: "chatModule/getConversationGroupList",
			groupChatMembers: "chatModule/getGroupChatMembers"
		}),
		/**/
		groupMembersCount(){
			return this.conversationUserSelected.chat && this.conversationUserSelected.chat.length
		},
		/**/
		unreadMessageCount(){
			let count;
			count = this.conversationGroupList.find(item => item.id === this.item.id).unread_message_count
			return count
		},
	}
}
</script>

<style scoped>

</style>
