<template>
	<div class="telegram-user-view">
		<span class="font-600 small-2">{{$t('chat-messenger.components.base.telegram-users')}}:</span>
		<template >
			<div v-for="user in telegramUsers" :key="user.id" class="border-all pa-2 my-1 d-flex flex-column">
				<span class="small-3 font-500">{{ user.last_name }} {{ user.first_name }}</span>
				<span class="tiny font-500">{{ user.phone }}</span>
			</div>
		</template>
	</div>
</template>

<script>
export default {
	name: "TelegramUsers",
	props: {
		telegramUsers: {
			type: Array,
			default: () => []
		}
	}
}
</script>

<style scoped>

</style>
