<template>
	<div class="viewers-avatar">
		<div class="d-flex align-center">
			<ul class="d-flex align-center">
				<li
					v-for="(viewer, index) in slicedViewersList"
					:key="index"
					class="d-flex align-center justify-center overflow-hidden">
					<img
						v-if="viewer.recipient.avatar"
						:src="viewer.recipient.avatar.url" alt=""
						class="w-100 h-100 object-cover"
					>
					<span v-else class="white--text tiny">
						{{ viewer.recipient && viewer.recipient.first_name | getFirstCharacter }}
					</span>
				</li>
			</ul>
			<span v-if="viewersList.length > 3" class="small-3 ml-1 opacity-70">+{{ restAvatarCount }} {{$t('chat-messenger.components.base.more')}}</span>
		</div>
	</div>
</template>

<script>
export default {
	name: "ViewersAvatar",
	props: {
		viewersList: {
			type: Array,
			default: () => []
		}
	},
	computed: {
		slicedViewersList(){
			return Array.from(this.viewersList).slice(0, 3);
		},
		/**/
		restAvatarCount() {
			return this.viewersList.length - this.slicedViewersList.length
		},
	}
}
</script>

<style scoped>
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	border: 1px solid white;
	display: inline-block;
	position: relative;
}

li:nth-child(1) { background: blue; }
li:nth-child(2) { background: green; }
li:nth-child(3) { background: purple; }
li:nth-child(4) { background: tomato; }
li:nth-child(n+2) { margin-left: -10px; }

</style>
