<template>
	<div class="approver-modal">
		<v-dialog
			v-model="dialog"
			width="500"
			content-class="reset-dialog-style"
			persistent
		>
			<v-card class="pa-4">
				<div class="app-input">
					<span class="d-block font-600 small-2 mb-2">{{$t('send_to_approver')}}</span>

					<app-autocomplete
						v-model="$v.approver.$model"
						:error="$v.approver.$error"
						api-list-url="/user/search/"
						item-text="full_name"
						item-value="id"
						cache-items
						clearable
						:item-disabled="getDisableItems"
						class="mt-2 mb-5"
					/>
				</div>
				<div class="d-flex justify-space-between mt-4">
					<app-button
						color="error"
						@click="cancel"
					>
						<template>
							{{$t('cancel')}}
						</template>
					</app-button>

					<app-button
						min-width="100"
						@click="send">
						{{$t('control-tasks.tasks.send')}}
					</app-button>
				</div>
			</v-card>
		</v-dialog>
	</div>
</template>

<script>
import { mapGetters } from "vuex";
import { required } from "vuelidate/lib/validators";

export default {
	name: "ApproverModal",
	data() {
		return {
			dialog: false,
			approver: null
		}
	},
	validations: {
		approver: { required }
	},
	computed: {
		...mapGetters({
			getDisableItems: "getDisableItems",
			currentUser: "auth/getCurrentUser"
		})
	},
	methods: {
		cancel() {
			this.approver = null;
			this.dialog = false;
		},
		send() {
			this.$v.$touch();

			if (this.$v.$invalid) {
				return;
			}

			this.$axios.post(`/docflow/${this.currentUser.filial}/for_agreement/`, {
				user: this.approver,
				compose: Number(this.$route.query.compose_id)
			})
				.then(({data}) => {
					this.$toast.success('Kelishish uchun yuborildi!');
					this.dialog = false;
					this.approver = null;
					this.$emit("emit:success")
				})
				.catch(err => {
					console.log(err);
				})
		}
	}
}
</script>

<style scoped>

</style>
