<template>
  <div class="approval-show-view d-flex h-100">
    <app-loader v-if="loading" content-width :size="56" />

    <template v-else>
      <div class="template-width">
        <template v-if="model.compose.type === 'hr_notice'">
          <div class="mb-3">
            <app-button
              @click="scoreActiveList = 0"
              class="mr-2"
            >
              {{ $t("document-flow.views.boxes.notification") }}
            </app-button>

            <app-button
              @click="scoreActiveList = 1"
              color="warning"
            >
              {{ $t("document-flow.views.boxes.evaluation-paper") }}
            </app-button>
          </div>
        </template>

        <template v-if="model.compose.type === 'hr_rotation'">
          <div class="mb-3">
            <app-button
              @click="scoreActiveList = 0"
              class="mr-2"
            >
              {{ $t("document-flow.views.boxes.notification") }}
            </app-button>

            <app-button
              @click="scoreActiveList = 1"
              color="warning"
            >
              {{ $t("document-flow.views.boxes.rotation-list") }}
            </app-button>
          </div>
        </template>

        <template v-if="scoreActiveList === 0">
          <app-wrapper
            class="content-scroll w-100 shadow-6 rounded-0 p-relative"
            :style="{
              height: (model.compose.type === 'hr_notice' || model.compose.type === 'hr_rotation') ? 'calc(100% - 50px)' : '100%'
            }"
          >
            <template #body>
              <div v-if="historyContentDialog" class="p-absolute error-bg rounded" style="top: 10px; right: 25px; z-index: 1;">
                <v-btn
                  color="error"
                  tile
                  icon
                  small
                  @click="historyContentDialog = false"
                >
                  <x-icon class="text-white" size="20" />
                </v-btn>
              </div>

              <pdf-letter-template
                v-if="$route.query.type === 'inner' || $route.query.type === 'notice' || $route.query.type === 'outgoing' || $route.query.type === 'summary' || $route.query.type === 'hr_rotation'"
                :letter-type="($route.query.type === 'inner' || $route.query.type === 'hr_rotation') ? 'inner' : $route.query.type === 'notice' ? 'notice' : $route.query.type === 'summary' ? 'summary' : 'outgoing'"
                :letter-props="{
                  id: model.compose.id,
                  sender: model.compose.sender,
                  createdDate: model.compose.created_date,
                  isSigned: model.compose.is_signed,
                  registerNumber: model.compose.register_number,
                  filial: model.compose.filial,
                  receiver: model.compose.receiver,
                  departments: model.compose.receiver ? model.compose.receiver.departments : [],
                  branches: model.compose.receiver ? model.compose.receiver.branches : [],
                  letterType: (model.compose.type === 'notice' || model.compose.type === 'hr_rotation') || model.compose.type === 'hr_notice' ? 'BILDIRISHNOMA' : model.compose.type === 'decree' ? 'FARMOYISH' : model.compose.type === 'summary' ? 'XULOSA' : 'XIZMAT XATI',
                  letterShortDescription: model.compose.short_description,
                  text: model.compose.text,
                  signedByList: signersList,
                  noticeUser: isNoticeUser ? isNoticeUser : {},
                  recruiter: recruiterUser,
                  executor: model.compose.author,
                  checkId: model.compose.check_id,
                  signerObject: model.compose.signer_obj ? model.compose.signer_obj : [],
                  isForPayment: model.compose.is_for_payment,
                  modifiedDate: model.compose.modified_date ? model.compose.modified_date : null,
                  registerDate: model.compose.register_date ? model.compose.register_date : null,
                  type: model.compose.type,
                  sendBy: model.compose.send_by,
                  compose_send: model.compose.compose_send,
                  component: model.compose.component,
                  priority: model.compose.priority
                }"
                :is-outgoing="model.compose.receiver && model.compose.receiver.type === 'organization'"
              >
                <template #text v-if="historyContentDialog">
                  <div style="text-indent: 0">
                    <v-alert color="error" text>
                      <p class="small-2 mb-2">
                        <span class="font-500">{{ $t("document-flow.views.boxes.author") }}: &nbsp;</span>
                        <span>{{ historyContent.created_by && historyContent.created_by.full_name }}</span>
                      </p>

                      <p class="small-2 mb-0">
                        <span class="font-500">{{ $t("document-flow.views.boxes.edit-date") }}: &nbsp;</span>
                        <span>{{ historyContent.created_date | filterCalendarToTime }}</span>
                      </p>
                    </v-alert>
                  </div>

                  <span ref="resultText" data-history="history"></span>
                </template>
              </pdf-letter-template>

<!--              <template v-else-if="$route.query.type === 'trip'">-->
<!--                <pdf-template-certificate-->
<!--                  :letter-props="{-->
<!--                    id: model.compose.id,-->
<!--                    sender: model.compose.sender,-->
<!--                    dep_parent_name: model.compose.dep_parent_name,-->
<!--                    createdDate: model.compose.created_date,-->
<!--                    text: model.compose.text,-->
<!--                    signedByList: model.compose.signed_by.filter(user => user.is_for_notice !== true),-->
<!--                    noticeUser: isNoticeUser ? isNoticeUser : {},-->
<!--                    executor: model.compose.author,-->
<!--                    checkId: model.compose.check_id,-->
<!--                    signerObject: model.compose.signer_obj ? model.compose.signer_obj[0] : {}-->
<!--                  }"/>-->
<!--              </template>-->

               <template v-else-if="$route.query.type === 'vacation'">
                <pdf-letter-template-for-vacation
                  :letter-props="{
                    id: model.compose.id,
                    sender: model.compose.sender,
                    dep_parent_name: model.compose.dep_parent_name,
                    createdDate: model.compose.created_date,
                    text: model.compose.text,
                    signedByList: model.compose.signed_by.filter(user => user.is_for_notice !== true),
                    noticeUser: isNoticeUser ? isNoticeUser : {},
                    executor: model.compose.author,
                    checkId: model.compose.check_id,
                    signerObject: model.compose.signer_obj ? model.compose.signer_obj[0] : {}
                  }"
                >
                  <template #text v-if="historyContentDialog">
                    <div style="text-indent: 0">
                      <v-alert color="error" text>
                        <p class="small-2 mb-2">
                          <span class="font-500">{{ $t("document-flow.views.boxes.author") }}: &nbsp;</span>
                          <span>{{ historyContent.created_by && historyContent.created_by.full_name }}</span>
                        </p>

                        <p class="small-2 mb-0">
                          <span class="font-500">{{ $t("document-flow.views.boxes.edit-date") }}: &nbsp;</span>
                          <span>{{ historyContent.created_date | filterCalendarToTime }}</span>
                        </p>
                      </v-alert>
                    </div>

                    <span ref="resultText" data-history="history"></span>
                  </template>
                </pdf-letter-template-for-vacation>
              </template>

              <template v-else-if="$route.query.type === 'decree'">
                <pdf-letter-template-for-decree
                  :letter-props="{
                    id: model.compose.id,
                    sender: model.compose.sender,
                    dep_parent_name: model.compose.dep_parent_name,
                    createdDate: model.compose.created_date,
                    text: model.compose.text,
                    signedByList: model.compose.signed_by,
                    agreedByList: model.compose.agreed_by,
                    executor: model.compose.author,
                    checkId: model.compose.check_id,
                    decreeType: model.compose.sub_type ? model.compose.sub_type : model.compose.is_for_payment ? 'payment_decree' : model.compose.receiver ? 'service_decree' : 'chairman_decree',
                    receiverList: model.compose.receiver && model.compose.receiver.type === 'department' ? model.compose.receiver.departments : model.compose.receiver && model.compose.receiver.branches,
                    isDocumentRegistered: model.compose.register_number !== null,
                    registerNumber: model.compose.register_number,
                    registerDate: model.compose.register_date,
                    signerObject: model.compose.signer_obj ? model.compose.signer_obj[0] : {},
                    isAgreed: model.compose.agreed_by && model.compose.agreed_by[0] && model.compose.agreed_by[0].is_agreed,
                    isForPayment: model.compose.is_for_payment
                  }"
                >
                  <template #text v-if="historyContentDialog">
                    <div style="text-indent: 0">
                      <v-alert color="error" text>
                        <p class="small-2 mb-2">
                          <span class="font-500">{{ $t("document-flow.views.boxes.author") }}: &nbsp;</span>
                          <span>{{ historyContent.created_by && historyContent.created_by.full_name }}</span>
                        </p>

                        <p class="small-2 mb-0">
                          <span class="font-500">{{ $t("document-flow.views.boxes.edit-date") }}: &nbsp;</span>
                          <span>{{ historyContent.created_date | filterCalendarToTime }}</span>
                        </p>
                      </v-alert>
                    </div>

                    <span ref="resultText" data-history="history"></span>
                  </template>
                </pdf-letter-template-for-decree>
              </template>

              <template v-else-if="$route.query.type === 'hr_order'">
                <!-- History status xali qo'yilmagan -->
                <pdf-letter-template-for-hr-order
                  :letter-props="{
										id: model.compose.id,
                    registerNumber: model.compose.register_number,
                    registerDate: model.compose.register_date,
                    allowance: model.compose.allowance,
                    component: model.compose.component,
                    text: model.compose.text,
                    shortDescription: model.compose.short_description,
                    user: model.compose.user,
                    signerObject: model.compose.signer_obj,
                    signedByList: model.compose.signed_by.filter(user => user.is_for_notice !== true),
                    checkId: model.compose.check_id,
                    isSigned: model.compose.is_signed
                  }"
                />
              </template>

	            <template v-else-if="$route.query.type === 'committee_protocol'">
		            <pdf-letter-template-for-committee-protocol
			            :model="model.compose"
			            :invitees-list="model.compose.signed_by"
		            >
			            <template #text v-if="historyContentDialog">
				            <div style="text-indent: 0">
					            <v-alert color="error" text>
						            <p class="small-2 mb-2">
							            <span class="font-500">{{ $t("document-flow.views.boxes.author") }}: &nbsp;</span>
							            <span>{{ historyContent.created_by && historyContent.created_by.full_name }}</span>
						            </p>

						            <p class="small-2 mb-0">
							            <span class="font-500">{{ $t("document-flow.views.boxes.edit-date") }}: &nbsp;</span>
							            <span>{{ historyContent.created_date | filterCalendarToTime }}</span>
						            </p>
					            </v-alert>
				            </div>

				            <span ref="resultText" data-history="history"></span>
			            </template>
		            </pdf-letter-template-for-committee-protocol>
	            </template>

	            <template v-else-if="$route.query.type === 'joint_protocol'">
		            <pdf-letter-template-for-joint-protocol
			            :model="{
										...model.compose,
									 finance_chairman: model.compose.signed_by.find(item => item.position === 'chairman_finance'),
									 monitoring_chairman: model.compose.signed_by.find(item => item.position === 'chairman_monitoring'),
									 finance_signers: model.compose.signed_by.filter(item => item.position === 'board_members_finance'),
									 monitoring_signers: model.compose.signed_by.filter(item => item.position === 'board_members_monitoring'),
									 invitees_list: model.compose.signed_by.filter(item => item.position === 'invitees'),
									 secretary: model.compose.signed_by.find(item => item.position === 'secretary')
									}"
		            >
			            <template #text v-if="historyContentDialog">
				            <div style="text-indent: 0">
					            <v-alert color="error" text>
						            <p class="small-2 mb-2">
							            <span class="font-500">{{ $t("document-flow.views.boxes.author") }}: &nbsp;</span>
							            <span>{{ historyContent.created_by && historyContent.created_by.full_name }}</span>
						            </p>

						            <p class="small-2 mb-0">
							            <span class="font-500">{{ $t("document-flow.views.boxes.edit-date") }}: &nbsp;</span>
							            <span>{{ historyContent.created_date | filterCalendarToTime }}</span>
						            </p>
					            </v-alert>
				            </div>

				            <span ref="resultText" data-history="history"></span>
			            </template>
		            </pdf-letter-template-for-joint-protocol>
	            </template>

	            <template v-else-if="$route.query.type === 'hr_contract'">
		            <pdf-letter-template-for-hr-contract
			            :letter-props="model.compose"
		            >
			            <template #text v-if="historyContentDialog">
				            <div style="text-indent: 0">
					            <v-alert color="error" text>
						            <p class="small-2 mb-2">
							            <span class="font-500">{{ $t("document-flow.views.boxes.author") }}: &nbsp;</span>
							            <span>{{ historyContent.created_by && historyContent.created_by.full_name }}</span>
						            </p>

						            <p class="small-2 mb-0">
							            <span class="font-500">{{ $t("document-flow.views.boxes.edit-date") }}: &nbsp;</span>
							            <span>{{ historyContent.created_date | filterCalendarToTime }}</span>
						            </p>
					            </v-alert>
				            </div>

				            <span ref="resultText" data-history="history"></span>
			            </template>
		            </pdf-letter-template-for-hr-contract>
	            </template>

	            <template v-else-if="$route.query.type === 'currency_summary'">
		            <pdf-letter-template-for-currency-summary
			            :letter-props="{
										id: model.compose.id,
					          text: model.compose.text,
					          signedByList: signersList,
					          signerObject: model.compose.signer_obj ? model.compose.signer_obj[0] : {},
					          model: model.compose,
					          checkId: model.compose.check_id,
					          noticeUser: isNoticeUser ? isNoticeUser : {},
					        }"
		            />
	            </template>

              <template v-else-if="$route.query.type === 'retail_act'">
                <pdf-letter-template-for-retail-act
                  :letter-props="{
									  model: model.compose
                  }"
                />
              </template>

	            <template v-else-if="$route.query.type === 'compliance_regulation'">
		            <pdf-letter-template-for-compliance-regulation
		              :model="model.compose"
		            >
			            <template #text v-if="historyContentDialog">
				            <div style="text-indent: 0">
					            <v-alert color="error" text>
						            <p class="small-2 mb-2">
							            <span class="font-500">{{$t('document-flow.views.send-document.author')}}: &nbsp;</span>
							            <span>{{ historyContent.created_by && historyContent.created_by.full_name }}</span>
						            </p>

						            <p class="small-2 mb-0">
							            <span class="font-500">{{$t('document-flow.views.send-document.edit-date')}}: &nbsp;</span>
							            <span>{{ historyContent.created_date | filterCalendarToTime }}</span>
						            </p>
					            </v-alert>
				            </div>

				            <span ref="resultText" data-history="history"></span>
			            </template>
		            </pdf-letter-template-for-compliance-regulation>
	            </template>

	            <template v-else-if="$route.query.type === 'irr'">
		            <pdf-letter-template-for-individual-development-plan
			            :compose="model.compose"
		            >
			            <template #text v-if="historyContentDialog">
				            <div style="text-indent: 0">
					            <v-alert color="error" text>
						            <p class="small-2 mb-2">
							            <span class="font-500">{{$t('document-flow.views.send-document.author')}}: &nbsp;</span>
							            <span>{{ historyContent.created_by && historyContent.created_by.full_name }}</span>
						            </p>

						            <p class="small-2 mb-0">
							            <span class="font-500">{{$t('document-flow.views.send-document.edit-date')}}: &nbsp;</span>
							            <span>{{ historyContent.created_date | filterCalendarToTime }}</span>
						            </p>
					            </v-alert>
				            </div>

				            <span ref="resultText" data-history="history"></span>
			            </template>
		            </pdf-letter-template-for-individual-development-plan>
	            </template>

	            <template v-else-if="$route.query.type === 'attorney'">
		            <pdf-letter-template-for-attorney
			            :compose="model.compose"
		            >
			            <template #text v-if="historyContentDialog">
				            <div style="text-indent: 0">
					            <v-alert color="error" text>
						            <p class="small-2 mb-2">
							            <span class="font-500">{{$t('document-flow.views.send-document.author')}}: &nbsp;</span>
							            <span>{{ historyContent.created_by && historyContent.created_by.full_name }}</span>
						            </p>

						            <p class="small-2 mb-0">
							            <span class="font-500">{{$t('document-flow.views.send-document.edit-date')}}: &nbsp;</span>
							            <span>{{ historyContent.created_date | filterCalendarToTime }}</span>
						            </p>
					            </v-alert>
				            </div>

				            <span ref="resultText" data-history="history"></span>
			            </template>
		            </pdf-letter-template-for-attorney>
	            </template>

	            <template v-else-if="$route.query.type === 'trip_license'">
		            <pdf-letter-template-for-trip-license
			            :compose="model.compose"
		            />
	            </template>

	            <template v-else-if="$route.query.type === 'reference'">
		            <base-template component="ReferenceTemplate" :model="model.compose">
			            <template #text v-if="historyContentDialog">
				            <div style="text-indent: 0">
					            <v-alert color="error" text>
						            <p class="small-2 mb-2">
							            <span class="font-500">{{ $t('document-flow.views.send-document.author') }}: &nbsp;</span>
							            <span>{{ historyContent.created_by && historyContent.created_by.full_name }}</span>
						            </p>

						            <p class="small-2 mb-0">
							            <span class="font-500">{{ $t('document-flow.views.send-document.edit-date') }}: &nbsp;</span>
							            <span>{{ historyContent.created_date | filterCalendarToTime }}</span>
						            </p>
					            </v-alert>
				            </div>
				            <span ref="resultText" data-history="history"></span>
			            </template>
		            </base-template>
	            </template>

              <pdf-letter-template-for-protocol
                v-else
                :model="model.compose"
                :invitees-list="model.compose.signed_by"
              >
                <template #text v-if="historyContentDialog">
                  <div style="text-indent: 0">
                    <v-alert color="error" text>
                      <p class="small-2 mb-2">
                        <span class="font-500">{{ $t("document-flow.views.boxes.author") }}: &nbsp;</span>
                        <span>{{ historyContent.created_by && historyContent.created_by.full_name }}</span>
                      </p>

                      <p class="small-2 mb-0">
                        <span class="font-500">{{ $t("document-flow.views.boxes.edit-date") }}: &nbsp;</span>
                        <span>{{ historyContent.created_date | filterCalendarToTime }}</span>
                      </p>
                    </v-alert>
                  </div>

                  <span ref="resultText" data-history="history"></span>
                </template>
              </pdf-letter-template-for-protocol>
            </template>
          </app-wrapper>
        </template>

        <template v-if="scoreActiveList === 1">
          <app-wrapper
            class="w-100 shadow-6 rounded-0"
            :style="{
              height: (model.compose.type === 'hr_notice' || model.compose.type === 'hr_rotation') ? 'calc(100% - 50px)' : '100%'
            }"
          >
            <template #body>
              <template v-if="model.compose.type === 'hr_notice'">
                <score-sheet-letter-template
                  :letter-props="{
                  text: model.compose.evaluation.text,
                  recruiter: model.compose.evaluation.recruiter,
                  recruiterSigned: model.compose.evaluation.recruiter_is_signed,
                  director: model.compose.evaluation.director,
                  directorSigned: model.compose.evaluation.director_is_signed,
                  checkId: model.compose.check_id,
                }"
                />
              </template>

              <template v-if="model.compose.type === 'hr_rotation'">
                <pdf-letter-template-for-rotation
                  :letter-props="{
									  text: model.compose.evaluation.text,
									  type: model.compose.evaluation.rotation_signers.type.value,
									  executive: model.compose.evaluation.rotation_signers.executive,
									  invited: model.compose.evaluation.rotation_signers.invited,
									  checkId: model.compose.check_id
                  }"
                />
              </template>
            </template>
          </app-wrapper>
        </template>
      </div>

      <div class="flex-1 pl-7">
        <perfect-scrollbar class="h-100 px-3">
          <app-wrapper class="shadow-6 mb-5">
            <template #header>
              <h4 class="small-2 font-600">{{ $t("document-flow.views.boxes.changelog-list") }}</h4>
            </template>

            <template #body>
              <text-different-slide
                :document-id="model.compose.id"
                @emit:up="activeHistoryContent"
              />
            </template>
          </app-wrapper>

          <attached-files-block
	          :files="model.compose.files"
	          :send-type="model.compose.type === 'organization_letter' && model.compose.send_by === 'hybrid_mail' ? 'hybrid' : null"
          />

          <v-row>
            <v-col md="6">
              <process-people-block
                v-if="model"
                :owner="model.compose && model.compose.author"
                :agreed-list="model.compose && model.compose.agreed_by"
                :signers-list="model.compose && model.compose.signed_by"
              />
            </v-col>

            <v-col md="6">
              <timeline-people-block
                v-if="model"
                :model="model.compose"
                :owner="model.compose && model.compose.author"
                :agreed-list="model.compose && model.compose.agreed_by"
                :signers-list="model.compose && model.compose.signed_by"
              />
            </v-col>

            <template v-if="isNoticeUser">
              <v-col md="6">
                <app-wrapper class="shadow-6">
                  <template #header>
                    <h4 class="small-2 font-600">{{ $t("document-flow.views.boxes.resolution") }}</h4>
                  </template>

                  <template #body>
                    <perfect-scrollbar style="max-height: 230px" class="mx-n5 px-5">
                      <div
                        v-for="(item, index) in isNoticeUser.performers"
                        class="d-flex text-dark font-600 small-2 mb-2"
                      >
                        <span>{{ index + 1 }}.</span>
                        <span class="ml-1">
                          {{ item.user ? item.user.full_name : item.full_name }}
                        </span>
                      </div>
                    </perfect-scrollbar>
                  </template>
                </app-wrapper>
              </v-col>

              <v-col md="6">
                <app-wrapper class="shadow-6 h-100">
                  <template #header>
                    <h4 class="small-2 font-600">{{ $t("document-flow.views.boxes.resolution-content") }}</h4>
                  </template>

                  <template #body>
                    <perfect-scrollbar style="max-height: 230px" class="mx-n5 px-5">
                      <span v-html="isNoticeUser.resolution_text" class="reset-space"></span>
                    </perfect-scrollbar>
                  </template>
                </app-wrapper>
              </v-col>
            </template>

            <v-col md="12">
              <app-wrapper class="shadow-6">
                <template #header>
                  <div class="d-flex justify-space-between">
                    <h4 class="small-2 font-600">{{ $t("document-flow.views.boxes.check") }}</h4>

	                  <div class="d-flex align-center flex-wrap gap-y-1 gap-x-2">
		                  <app-button
			                  @click="$router.go(-1)"
			                  depressed
			                  color="error"
		                  >
			                  <template #default>
				                  {{ $t("document-flow.views.boxes.back") }}
			                  </template>
			                  <template #prepend>
				                  <v-icon size="20">mdi-arrow-left</v-icon>
			                  </template>
		                  </app-button>

		                  <app-button
			                  v-if="model.is_signed && model.compose.document_id"
			                  :disabled="!model.compose.document_id"
			                  @click="routeOpenProcess"
		                  >
			                  <template #prepend>
				                  <activity-icon size="18" />
			                  </template>
			                  {{ $t("document-flow.views.boxes.view-process") }}
		                  </app-button>

                      <template v-if="!model.is_signed">
                        <app-button
                          v-if="model.compose.reply_document_id"
                          :disabled="!model.compose.reply_document_id"
                          @click="$router.push({
                            name: model.compose.journal_id === 3 ? 'InnerDocumentRegistrationFormShow' : model.compose.journal_id === 4 ? 'OutgoingDocumentRegistrationFormShow' : 'OrdersProtocolsDocumentRegistrationFormShow',
                            params: { id: model.compose.reply_document_id },
                            query: { type: 'for_watching_process' }
                          })"
                        >
                          <template #prepend>
                            <activity-icon size="18" />
                          </template>
                          {{ $t("document-flow.views.boxes.view-letter") }}
                        </app-button>

	                      <template v-if="$route.query.type === 'compliance_regulation'">
		                      <app-button
			                      depressed
			                      color="primary"
			                      @click="$refs.approverModal.dialog = true"
		                      >
			                      <template #default>
				                      {{ $t("send_to_approver") }}
			                      </template>
		                      </app-button>
	                      </template>

                         <app-button
	                         v-if="!['protocol', 'compliance_regulation', 'credit_committee', 'trip_license'].includes(model.compose.type)"
	                         color="error"
	                         @click="dialog = true"
                         >
                          <template #prepend>
                            <alert-circle-icon size="18" />
                          </template>
                          {{ $t("document-flow.views.boxes.edit") }}
                        </app-button>

	                      <app-button
		                      v-if="['trip_license'].includes(model.compose.type) && ['admin', 'hr_manager'].some(role => currentUser.roles.includes(role)) && model.is_invited"
		                      color="error"
		                      @click="$router.push({ name: 'TripLicenseUpdate', params: { id: $route.query.compose_id } })"
	                      >
		                      <template #prepend>
			                      <alert-circle-icon size="18" />
		                      </template>
		                      {{ $t("document-flow.views.boxes.edit") }}
	                      </app-button>

                        <app-button
	                        v-if="model.is_signed === null && !['trip_license'].includes(model.compose.type)"
	                        color="error"
	                        @click="sendNotAgree"
                        >
                          <template #prepend>
                            <alert-circle-icon size="18" />
                          </template>
                          {{ $t("document-flow.views.boxes.reject") }}
                        </app-button>

                        <div class="app-input" style="max-width: 200px">
                          <v-select
                            @change="cbChanged"
                            v-model="keyValue"
                            :items="keyUsersList"
                            outlined
                            :placeholder="$t('document-flow.views.boxes.sign')"
                            background-color="var(--primary-1)"
                            hide-details
                            dense
                            dark
                            height="45"
                            item-text="name"
                            item-value="value"
                          >
                            <template #append>
                              <chevron-down-icon size="22" class="mt-1" />
                            </template>
                          </v-select>
                        </div>

												<template v-if="model.compose.type === 'decree'">
													<template v-if="!model.compose.is_for_payment && currentUser.filial !== '09013'">
														<template v-if="!model.compose.receiver && (model.compose && model.compose.signer_obj && model.compose.signer_obj[0] && model.compose.signer_obj[0].id === currentUser.id) && (currentUser.role === 'chairman' || currentUser.role === 'deputy_chair' || currentUser.role === 'filial_manager')">
															<app-button min-width="100" @click="createResolutionDialog = true">
																{{$t('document-flow.views.boxes.sign')}}
																<template #append>
																	<check-circle-icon size="18" />
																</template>
															</app-button>
														</template>
														<template v-else>
															<app-button min-width="100" @click="createSignDocument">
																{{$t('document-flow.views.boxes.sign')}}
																<template #append>
																	<check-circle-icon size="18" />
																</template>
															</app-button>
														</template>
													</template>

													<template v-else>
														<app-button min-width="100" @click="createSignDocument">
															{{$t('document-flow.views.boxes.sign')}}
															<template #append>
																<check-circle-icon size="18" />
															</template>
														</app-button>
													</template>
												</template>

                        <template v-else>
	                        <template v-if="(model.compose && model.compose.signer_obj && model.compose.signer_obj[0] && model.compose.signer_obj[0].id === currentUser.id) && (currentUser.role === 'chairman' || currentUser.role === 'deputy_chair' || currentUser.role === 'filial_manager') && !['currency_summary', 'hr_contract'].includes(model.compose.type)">
		                        <app-button min-width="100" @click="createResolutionDialog = true" class="mr-2">
			                        {{$t('document-flow.views.boxes.sign')}}
			                        <template #append>
				                        <check-circle-icon size="18" />
			                        </template>
		                        </app-button>
	                        </template>

	                        <template v-else>
		                        <app-button min-width="100" @click="createSignDocument">
			                        {{ returnSignText(model) }}
			                        <template #append>
				                        <check-circle-icon size="18" />
			                        </template>
		                        </app-button>
	                        </template>
                        </template>
                      </template>
                      <app-button @click="historiesModal = !historiesModal">
                        <template #prepend>
                          <svg height="20" viewBox="0 0 24 24" width="20">
                            <path fill="none" d="M0 0h24v24H0V0z" />
                            <path
                              fill="#ffffff"
                              d="M13.26 3C8.17 2.86 4 6.95 4 12H2.21c-.45 0-.67.54-.35.85l2.79 2.8c.2.2.51.2.71 0l2.79-2.8c.31-.31.09-.85-.36-.85H6c0-3.9 3.18-7.05 7.1-7 3.72.05 6.85 3.18 6.9 6.9.05 3.91-3.1 7.1-7 7.1-1.61 0-3.1-.55-4.28-1.48-.4-.31-.96-.28-1.32.08-.42.42-.39 1.13.08 1.49C9 20.29 10.91 21 13 21c5.05 0 9.14-4.17 9-9.26-.13-4.69-4.05-8.61-8.74-8.74zm-.51 5c-.41 0-.75.34-.75.75v3.68c0 .35.19.68.49.86l3.12 1.85c.36.21.82.09 1.03-.26.21-.36.09-.82-.26-1.03l-2.88-1.71v-3.4c0-.4-.34-.74-.75-.74z"
                            />
                          </svg>
                        </template>
                        <span class="ml-2">{{
                          $t("control-tasks.tasks.history-changes")
                        }}</span>
                      </app-button>
                    </div>
                  </div>
                </template>

                <template #body>
                  <div class="app-input">
                    <span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.boxes.content')}} <span class="red--text">({{$t('document-flow.views.boxes.maximum-1000-characters')}})</span></span>

                    <quill-editor
                      ref="editor"
                      v-model="$v.text.$model"
                      :error="$v.text.$error"
                      background-color="var(--input-bg)"
                      :disabled="model.is_signed"
                    />
                    <span class="mb-4 mt-1 d-block font-600 small-2">{{$t('document-flow.views.boxes.characters-count')}}: <span class="red--text">{{ text.replace(/(<([^>]+)>)/gi, "").length }}</span></span>

                    <div class="d-flex align-center">
	                    <resolution-content-modal @emit:up="(text2) => text = text2.name" />

                      <!-- REJECT WITH LETTER -->
                      <template v-if="model.is_signed === null && ['credit_committee'].includes(model.compose.type) && ['monitoring', 'finance', 'joint_protocol'].includes(model.compose.sub_type)">
                        <reject-with-letter
                            :model="model"
                            @onReject="onReject"
                            ref="rejectLetter"
                        />
                      </template>
                      <!-- /REJECT WITH LETTER -->

	                    <app-button
	                      class="ml-2"
	                      @click="addComment"
	                      :loading="isCommentAddLoading"
	                    >
		                    {{$t('document-flow.views.boxes.add-comment')}}
	                    </app-button>

                      <app-tooltip top>
                        <template #content>
                          <file-upload-modal
                            ref="fileUpload"
                            @emit:fileUpload="onFileUpload"
                          />
                        </template>

                        <template #text>
                          {{ $t('commentWithFile') }}
                        </template>
                      </app-tooltip>

                    </div>

                  </div>
                </template>
              </app-wrapper>
            </v-col>

            <v-col md="12">
              <app-wrapper class="shadow-6">
                <template #header>
                  <h4 class="small-2 font-600">{{$t('document-flow.views.boxes.comments')}}</h4>
                </template>
                <template #body>
									<template>
										<comments-box :compose-model="model.compose" :file-upload="false"/>
									</template>
                </template>
              </app-wrapper>
            </v-col>
          </v-row>
        </perfect-scrollbar>

        <!-- Подписать (modal) -->
        <v-dialog
          v-model="createResolutionDialog"
          persistent
          max-width="760"
          content-class="reset-dialog-style"
        >
          <div class="bg-white rounded">
            <div class="d-flex align-center justify-space-between py-3 px-5">
              <span class="font-500 mr-4">{{$t('document-flow.views.boxes.sign-document')}}</span>

              <v-btn
                icon
                small
                color="error"
                @click="createResolutionDialog = false"
              >
                <x-icon />
              </v-btn>
            </div>

            <div class="border-top border-bottom py-3 px-5">
              <div class="app-input mb-5">
                <span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.boxes.employees')}}</span>

                <app-autocomplete
                  v-model="$v.createResolutionModel.__performers.$model"
                  :error="$v.createResolutionModel.__performers.$error"
                  api-list-url="/user/search/"
                  item-text="full_name"
                  return-object
                  multiple
                  cache-items
                  clearable
                  :placeholder="$t('document-flow.views.boxes.employees')"
                  :item-disabled="getDisableItems"
                />

                <template v-if="createResolutionModel.__performers.length">
	                <draggable
		                v-model="createResolutionModel.__performers"
		                class="mt-4"
	                >
		                <transition-group>
			                <template v-for="(item, index) in createResolutionModel.__performers">
				                <div :key="item.id" class="d-flex align-center justify-space-between layout-border rounded-10 py-2 px-3 mb-2">
					                <div class="d-flex align-center gap-4">
						                <div class="pointer mr-1">
							                <base-iconify
								                icon="DragVertical"
								                class="text-greyscale-500"
							                />
						                </div>

						                <span class="small-2 font-600">{{ item.full_name }}</span>
					                </div>

					                <div>
						                <v-btn
							                color="error"
							                icon
							                small
							                @click="createResolutionModel.__performers.splice(index, 1)"
						                >
							                <trash2-icon size="18" />
						                </v-btn>
					                </div>
				                </div>
			                </template>
		                </transition-group>
	                </draggable>

<!--                  <app-table
                    bordered
                    class="mt-4"
                  >
                    <template #tableHeader>
                      <th width="75">№</th>
                      <th>{{$t('document-flow.views.boxes.employee')}}</th>
                      <th width="75">{{$t('document-flow.views.boxes.developments')}}</th>
                    </template>

                    <template #tableBody>
                      <tr
                        v-for="(item, index) in createResolutionModel.__performers"
                        class="text-dark font-500"
                      >
                        <td>{{ index + 1 }}</td>
                        <td>
                          {{ item.user ? item.user.full_name : item.full_name }}
                        </td>
                        <td>
                          <app-button
                            icon
                            color="error"
                            min-width="40"
                            height="40"
                            width="40"
                            @click="deleteSigner(index)"
                          >
                            <trash2-icon size="18" />
                          </app-button>
                        </td>
                      </tr>
                    </template>
                  </app-table>-->
                </template>
              </div>

              <div class="app-input mt-5">
                <span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.boxes.content')}}
<!--                  <span class="font-600 red&#45;&#45;text">($t('document-flow.views.boxes.maximum-300-characters'))</span>-->
                </span>

                <quill-editor
                  ref="editor"
                  v-model="$v.createResolutionModel.resolution_text.$model"
                  :error="$v.createResolutionModel.resolution_text.$error"
                  class="mb-4"
                />
                <span class="mb-4 mt-1 d-block font-600 small-2">{{$t('document-flow.views.boxes.characters-count')}}: <span class="red--text">{{ createResolutionModel.resolution_text && createResolutionModel.resolution_text.replace(/(<([^>]+)>)/gi, "").length }}</span></span>

                <resolution-content-modal @emit:up="(text) => createResolutionModel.resolution_text = text.name" />
              </div>
            </div>

            <div class="py-3 px-5 text-center">
              <app-button @click="createSignDocument">
                {{$t('document-flow.views.boxes.sign-document')}}
              </app-button>
            </div>
          </div>
        </v-dialog>
        <!-- /Подписать (modal) -->
      </div>
    </template>

	  <form class="d-none" name=testform>
		  <label id="message"></label>
		  <p>{{$t('document-flow.views.boxes.select-key-type')}}:</p>
		  <input type="radio" id="pfx" name="keyType" value="pfx" onchange="keyType_changed()" checked="checked"><label
		  for="pfx">PFX</label> - <select name="key" @change="cbChanged(this)"></select><br/>
		  <input type="radio" id="idcard" name="keyType" value="idcard" onchange="keyType_changed()"><label for="idcard">ID-card</label>
		  - <label id="plugged">{{$t('document-flow.views.boxes.no-connected')}}</label><br>
		  <br/>
		  {{$t('document-flow.views.boxes.signature-text')}} <br/>
		  <textarea name="data"></textarea><br/>
		  <p>{{$t('document-flow.views.boxes.select-document-type')}}:</p>
		  <input type="radio" id="attached" name="pkcs7Type" value="attached" onchange="pkcs7Type_changed()"
		         checked="checked"><label for="attached">{{$t('document-flow.views.boxes.attached')}}</label><br/>
		  <input type="radio" id="detached" name="pkcs7Type" value="detached" onchange="pkcs7Type_changed()"><label
		  for="detached">{{$t('document-flow.views.boxes.detached')}}</label><br>
		  <br/>
		  <button @click="signDocument" type="button" id="signButton">{{$t('document-flow.views.boxes.sign-with-pfx-key')}}</button>
		  <br/>
		  <label id="progress"></label>
		  <br/>
		  {{$t('document-flow.views.boxes.id-key')}}: <label id="keyId"></label><br/>
		  <br/>
		  <label id="pkcs7Type_label">{{$t('document-flow.views.boxes.signed-document')}}</label><br/>
		  <textarea name="pkcs7"></textarea><br/>
	  </form>

	  <!--WARNING MODAL-->
		<warning-modal ref="warningModal" @emit:success-button="changeDocument"/>
	  <!--/WARNING MODAL-->

    <!-- Изменить текст документа -->
    <v-dialog
      v-model="dialog"
      width="960"
      content-class="reset-dialog-style"
    >
      <v-card>
        <div class="pa-3 font-500">
          {{$t('document-flow.views.boxes.change-document-text')}}
        </div>

        <div class="border-top border-bottom pa-3">
          <template v-if="model.compose && model.compose.type === 'notice'">
            <div class="app-input mb-6">
              <span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.boxes.short-description')}}</span>

              <v-text-field
                v-model="model.compose && model.compose.short_description"
                hide-details
                outlined
                background-color="var(--input-bg)"
              ></v-text-field>
            </div>
          </template>

          <div class="app-input">
            <span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.boxes.document-text')}}</span>

<!--            <quill-editor-->
<!--              v-model="model.compose && model.compose.text"-->
<!--            />-->
	          <app-editor
		          v-model="model.compose && model.compose.text"
	          />
          </div>
        </div>

        <div class="pa-3 text-center">
          <app-button color="error" @click="openWarningModal">
            <template #prepend>
              <alert-circle-icon size="18" />
            </template>
            {{$t('document-flow.views.boxes.edit')}}
          </app-button>
        </div>
      </v-card>
    </v-dialog>
    <!-- /Изменить текст документа -->

	  <sign-modal
	    ref="signModal"
	    @signDocument="reportSign"
	  />
    <v-dialog
			@click:outside="historiesModal = !historiesModal"
			@keydown.esc="historiesModal = !historiesModal"
			max-width="800px"
			v-model="historiesModal"
			>
			<v-card class="pa-3">
				<h4 class="py-5 mx-4 font-500 px-0" style="font-size: 20px">
					{{ $t("control-tasks.tasks.history-changes") }}
				</h4>
				<div class="px-4 mb-4">
					<template v-if="histories.length">
						<div
							:key="index"
							class="py-4 border-bottom border-top"
							style="margin-top: -1px"
							v-for="(history, index) in histories"
						>
							<div class="d-flex align-center mb-4">
								<v-avatar
									:color="history.created_by.color"
									class="mr-2"
									size="42"
									><span class="font-500 text-white small">{{
										history.created_by.full_name.slice(0, 1)
									}}</span>
								</v-avatar>
								<div class="d-flex small font-500">
									<span class="mr-2">{{ history.created_by.full_name }}</span>
									<span class="mr-2 text-2">{{ history.description }}</span>
									<span class="mr-2 text-2">{{
										parseDateHour(history.created_date)
									}}</span>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6 col">
									<p class="font-600 small-2 mb-0">
										{{ $t("control-tasks.tasks.original-value") }}
									</p>
									<span class="font-600 text-2 small-2" v-html="history.original_value"></span>
									</div>
									<div class="col-md-6 col">
									<p class="font-600 small-2 mb-0">
										{{ $t("control-tasks.tasks.new-value") }}
									</p>
									<span class="font-600 text-2 small-2" v-html="history.new_value"></span>
								</div>
							</div>
						</div>
						<div v-if="historiesLoading" class="d-flex align-center justify-center mt-5" style="height: 35px">
							<app-loader :size="35" />
						</div>
						<div v-else-if="historiesNext" class="d-flex align-center justify-center w-100 mt-5">
							<v-btn
								@click="() => getHistories(true)"
								color="primary"
								depressed
								small
								style="color: white"
							>
							{{ $t("control-tasks.tasks.load-more") }}
							</v-btn>
						</div>
					</template>
					<div v-else>
						<p class="mt-3 mb-0 font-500" style="color: #17171780">
							{{ $t("control-tasks.tasks.no-changes") }}
						</p>
					</div>
				</div>
				<v-card-actions class="justify-end pb-4">
					<v-btn color="primary" depressed @click="historiesModal = !historiesModal">{{
					$t("control-tasks.tasks.close")
					}}</v-btn>
				</v-card-actions>
			</v-card>
    </v-dialog>

	  <!--Approver Modal-->
	    <approver-modal
		    v-if="model && model.compose"
		    ref="approverModal"
		    @emit:success="getOne"
	    />
	  <!--/Approver Modal-->
  </div>
</template>

<script>
import PdfLetterTemplate from "@/common/components/PdfLetterTemplate";
import PdfTemplateCertificate from "@/common/components/PdfTemplateCertificate.vue";
import PdfLetterTemplateForRotation from "@/common/components/PdfLetterTemplateForRotation.vue";
import PdfLetterTemplateForVacation from "@/common/components/PdfLetterTemplateForVacation";
import PdfLetterTemplateForTripLicense from "@/common/components/PdfLetterTemplateForTripLicense.vue";
import ResolutionContentModal from "@/common/components/ResolutionContentModal";
import ScoreSheetLetterTemplate from "@/common/components/ScoreSheetLetterTemplate";
import PdfLetterTemplateForHrOrder from "@/common/components/PdfLetterTemplateForHrOrder"
import PdfLetterTemplateRetailAct from "@/common/components/PdfLetterTemplateRetailAct"
import TextDifferentSlide from "@/common/components/TextDifferentSlide.vue";
import AttachedFilesBlock from "@/common/components/AttachedFilesBlock.vue";
import ProcessPeopleBlock from "@/common/components/ProcessPeopleBlock.vue";
import PdfLetterTemplateForIndividualDevelopmentPlan
	from "../../../../../common/components/PdfLetterTemplateForIndividualDevelopmentPlan.vue";
import TimelinePeopleBlock from "@/common/components/TimelinePeopleBlock.vue";
import RejectWithLetter from "../../BoxesNew/Sign/components/RejectWithLetter.vue";
import PdfLetterTemplateForJointProtocol from "../../../../../common/components/PdfLetterTemplateForJointProtocol.vue";
import PdfLetterTemplateForHrContract from "../../../../../common/components/PdfLetterTemplateForHrContract.vue";
import PdfLetterTemplateForRetailAct from "../../../../../common/components/PdfLetterTemplateForRetailAct.vue";
import PdfLetterTemplateForAttorney from "../../../../../common/components/PdfLetterTemplateForAttorney.vue";
import {WarningModal} from "@/common/components/Modal"
import ApproverModal from "./ApproverModal.vue";
import {textDifferent} from "@/common/helpers";
import PdfLetterTemplateForCurrencySummary from "../../../../../common/components/PdfLetterTemplateForCurrencySummary";
import PdfLetterTemplateForComplianceRegulation
	from "../../../../../common/components/PdfLetterTemplateForComplianceRegulation";
import {
	ActivityIcon,
	AlertCircleIcon,
	CheckCircleIcon,
	ChevronDownIcon,
	ClockIcon,
	DownloadCloudIcon,
	FileTextIcon,
	InfoIcon,
	Trash2Icon,
	XIcon
} from "vue-feather-icons";
import {maxLength, required} from "vuelidate/lib/validators";
import {mapActions, mapGetters} from "vuex";
import PdfLetterTemplateForCommitteeProtocol
	from "../../../../../common/components/PdfLetterTemplateForCommitteeProtocol";
import PdfLetterTemplateForDecree from "../../../../../common/components/PdfLetterTemplateForDecree";
import PdfLetterTemplateForProtocol from "../../../../../common/components/PdfLetterTemplateForProtocol";
import CommentsBox from "../../../components/CommentsBox";
import SignModal from "./SignModal";
import AppLoader from "@/common/components/base/AppLoader";
import FileUploadModal from "../../../components/FileUploadModal.vue";
import item from "../../../../../common/components/Comments/Item.vue";
import draggable from 'vuedraggable'
import BaseTemplate from "../../../../../common/componentsV3/Templates/BaseTemplate.vue";

const EIMZO_MAJOR = 3;
const EIMZO_MINOR = 37;

const errorCAPIWS = 'Ошибка соединения с E-IMZO. Возможно у вас не установлен модуль E-IMZO или Браузер E-IMZO.';
const errorBrowserWS = 'Браузер не поддерживает технологию WebSocket. Установите последнюю версию браузера.';
const errorUpdateApp = 'ВНИМАНИЕ !!! Установите новую версию приложения E-IMZO или Браузера E-IMZO.<br /><a href="https://e-imzo.uz/main/downloads/" role="button">Скачать ПО E-IMZO</a>';
const errorWrongPassword = 'Пароль неверный.';

export default {
  name: "show",
  components: {
	  BaseTemplate,
    FileUploadModal,
	  PdfLetterTemplateForRotation,
    ResolutionContentModal,
    PdfLetterTemplateForVacation,
	  PdfTemplateCertificate,
	  PdfLetterTemplateForIndividualDevelopmentPlan,
	  PdfLetterTemplateForAttorney,
	  PdfLetterTemplateForTripLicense,
	  PdfLetterTemplateForJointProtocol,
	  PdfLetterTemplateForRetailAct,
	  ApproverModal,
	  PdfLetterTemplateForCommitteeProtocol,
	  PdfLetterTemplateForCurrencySummary,
	  PdfLetterTemplateForComplianceRegulation,
	  CommentsBox,
    FileTextIcon,
    DownloadCloudIcon,
    ClockIcon,
    InfoIcon,
    AlertCircleIcon,
    CheckCircleIcon,
    ChevronDownIcon,
	  ActivityIcon,
    PdfLetterTemplate,
	  PdfLetterTemplateForProtocol,
	  PdfLetterTemplateForDecree,
    PdfLetterTemplateForHrOrder,
	  PdfLetterTemplateRetailAct,
	  PdfLetterTemplateForHrContract,
    ScoreSheetLetterTemplate,
	  SignModal,
    TextDifferentSlide,
	  AttachedFilesBlock,
	  ProcessPeopleBlock,
	  TimelinePeopleBlock,
	  WarningModal,
    XIcon,
    Trash2Icon,
    AppLoader,
    RejectWithLetter,
	  draggable
  },
  data() {
    return {
      loading: true,
	    isCommentAddLoading: false,
      model: {},
      signed: false,
      text: "",
	    pkcs7: "",
	    keyId: "",
	    keyValue: "",
	    keyUsersList: [],
      dialog: false,
      createResolutionDialog: false,
      createResolutionModel: {
        performers: [],
        __performers: [],
        resolution_text: ""
      },
      scoreActiveList: 0,
      historyContentDialog: false,
      historyContent: null,
      histories: [],
			historiesLoading: false,
			historiesModal: false,
			historiesNext: false,
			historiesPage: 1,
    }
  },
  validations: {
    text: {
      required,
      maxLength: maxLength(1000)
    },
    createResolutionModel: {
      __performers: { required },
      resolution_text: {
        required,
        // maxLength: maxLength(300)
      }
    }
  },
  computed: {
	  item() {
		  return item
	  },
   ...mapGetters({
     currentUser: "auth/getCurrentUser",
     getDisableItems: "getDisableItems",
     activeCommentID: "documentFlowModule/getActiveComment",
   }),
    /*
    *
    * */
    reasonRejections() {
      return {
        agreedByList: this.model.compose.agreed_by.filter(user => user.reason !== null),
        signedByList: this.model.compose.signed_by.filter(user => user.reason !== null),
      }
    },
    /*
    *
    * */
    signersList() {
      let filterNoticeUser = this.model.compose.signed_by.filter(user => user.is_for_notice !== true)

      if(this.model.compose.evaluation.recruiter) {
        return filterNoticeUser.filter(item => item.user.id !== this.model.compose.evaluation.recruiter.id)
      }

	    return filterNoticeUser.sort((a, b) => {
		    const ageA = a.user.order_by;
		    const ageB = b.user.order_by;

		    return ageB - ageA;
	    })
    },
    /*
    *
    * */
    recruiterUser() {
      if(this.model.compose.evaluation.recruiter) {
        return this.model.compose.signed_by.find(item => item.user.id === this.model.compose.evaluation.recruiter.id)
      }

      return {}
    },
    /*
    *
    * */
    isNoticeUser() {
      return this.model.compose.signed_by.find(user => user.is_for_notice)
    },
	  /**/
	  isLeaderUser(){
			if (this.model.compose.signer_obj && Array.isArray(this.model.compose.signer_obj) && this.model.compose.signer_obj[0].id){
				return this.model.compose.signer_obj[0].id === this.currentUser.id;
 			}
	  },
	  /**/
	  signerID(){
	  	if (this.model && this.model.compose && this.model.compose.signed_by){
	  		let array = this.model.compose.signed_by.filter(item => item.is_for_notice && item.is_for_notice === true)
			  if (array.length){
			  	return array[0].user.id
			  }else {
				  return null
			  }
		  }else {
	  		return null
		  }
	  }
  },
  created() {
    this.getOne()
  },
  mounted() {
    this.appLoad();
    this.getHistories();
  },
  methods: {
  	...mapActions({
		  fetchCommentsList: "action/fetchCommentsList",
		  fetchNewComments: "action/fetchNewComments",
	  }),
	  /** **/
		onReject(rejectText){
		  let itm = this.keyValue;
		  if (itm) {
			  let id = document.getElementById(itm);
			  let vo = JSON.parse(id.getAttribute('vo'));
			  EIMZOClient.loadKey(vo, (id) => {
				  EIMZOClient.createPkcs7(id, rejectText, null, (pkcs7) => {
					  const { rejectLetter } = this.$refs;
						rejectLetter.send(vo.serialNumber);
				  }, (e, r) => {
					  if (r) {
						  if (r.indexOf("BadPaddingException") != -1) {
							  this.$toast.error(this.$t('document-flow.views.boxes.error-4'));
						  } else {
							  this.$toast.warning(r);
						  }
					  } else {
						  document.getElementById('keyId').innerHTML = '';
						  this.$toast.error(this.$t('document-flow.views.boxes.error-2'));
					  }
					  if (e) this.wsError(e);
				  }, );
			  }, (e, r) => {
				  if (r) {
					  if (r.indexOf("BadPaddingException") != -1) {
						  this.$toast.error(this.$t('document-flow.views.boxes.error-4'));
					  } else {
						  this.$toast.error(r);
					  }
				  } else {
					  this.$toast.error(this.$t('document-flow.views.boxes.error-2'));
				  }
				  if (e) this.wsError(e);
			  });
		  } else {
			  this.$toast.error("PFX faylni tanlang!")
		  }
	  },
	  /**/
	  openWarningModal() {
			const { warningModal } = this.$refs;
			warningModal.dialog = true
	  },
    /*
    *
    * */
    getHistories(nextLoad) {
			const historiesPage = nextLoad ? this.historiesPage + 1 : 1;
			this.historiesLoading = true;
			this.historiesPage = historiesPage;
			this.$axios.get(`/docflow/${this.currentUser.filial}/compose-actions/?compose_id=${this.$route.query.compose_id}&page=${historiesPage}`)
				.then(response => {
					const historiesNext = !!response?.data?.next;
					const results = response?.data?.results;
					const histories = Array.isArray(results) ? results : [];
					const documentHistories = nextLoad ? [...this.histories, ...histories] : histories
					this.histories = documentHistories;
					this.historiesNext = historiesNext;
				})
				.catch(() => {
					const histories = nextLoad ? this.histories : [];
					this.histories = histories;
					this.historiesNext = false;
				})
				.finally(() => {
					this.historiesLoading = false;
				});
		},
		parseDateHour(incomingDate = new Date()) {
			const parsingDate = new Date(incomingDate);
			const date = parsingDate.getDate().toString().padStart(2, "0");
			const hour = parsingDate.getHours().toString().padStart(2, "0");
			const month = (parsingDate.getMonth() + 1).toString().padStart(2, "0");
			const minute = parsingDate.getMinutes().toString().padStart(2, "0");
			const year = parsingDate.getFullYear().toString();
			const d = `${date}.${month}.${year} ${hour}:${minute}`;
			return d;
		},
    async activeHistoryContent(value) {
      this.historyContent = value
      this.historyContentDialog = true
      await this.$nextTick()

      let text = document.querySelectorAll("[data-history='history']")

      textDifferent(value, text)
    },
    /*
    *
    * */
    createSignDocument() {
      let model = {
        pkcs7: this.pkcs7,
        dept_code: this.currentUser.top_level_dept,
        is_signed: true,
        reason: this.text
      }

      if(['chairman', 'deputy_chair', 'filial_manager'].includes(this.currentUser.role)) {
        if(this.$route.query.type === "notice" || (this.$route.query.type === "decree" && !this.model.compose.receiver)) {
          if (this.currentUser.filial !== '09013' && this.model.compose.is_for_payment === true){
	          if(this.model.compose.signer_obj[0].id === this.currentUser.id) {
		          this.$v.createResolutionModel.$touch();

		          if (this.$v.createResolutionModel.$invalid) {
			          this.$toast.warning(this.$t('document-flow.views.boxes.please-add-employees'))
			          return;
		          }

		          if (!confirm(this.$t('document-flow.views.boxes.do-you-agree-with-document'))) {
			          return
		          }
	          }
          }
        }

        model.signer = this.model.user.id
        model.text = this.createResolutionModel.resolution_text
        model.performers = this.createResolutionModel.__performers.map(item => item.id)
      }

      this.send(model)
    },
	  /**/
	  addComment(){
		  this.$v.text.$touch();

		  if (this.$v.text.$invalid) {
			  return;
		  }
		  this.isCommentAddLoading = true;
		  this.fetchNewComments({
			  description: this.text,
			  file: null,
			  obj: this.model.compose.id,
			  type: "compose_comment"

		  })
			  .then(() => {
				  setTimeout(() => {
					  this.getOne();
				  }, 1000)
				  this.text = "";
				  this.$v.$reset();
				  this.isCommentAddLoading = false;
			  })
		    .catch(() => {
		    	this.isCommentAddLoading = false;
		    })
	  },
    /** **/
    onFileUpload(payload){
      const { fileUpload } = this.$refs;
      fileUpload.loading = true;

      this.fetchNewComments({
        description: payload.description,
        files: payload.files,
        obj: this.$route.query.compose_id ? this.$route.query.compose_id : this.$route.params.id,
        type: "compose_comment",
        replied_to: this.activeCommentID ? this.activeCommentID : null
      })
          .then(() => {
            this.$emit("replied");
            fileUpload.loading = false;
            fileUpload.dialog = false;
            fileUpload.files = [];
            fileUpload.caption = null;
            this.$store.commit("documentFlowModule/SET_ACTIVE_COMMENT", null);
          })
    },
    /*
    *
    * */
    deleteSigner(index) {
      this.createResolutionModel.__performers.splice(index, 1)
    },
    /*
    *
    * */
	  reportSign(value){
	  	let model = {
			  pkcs7: this.pkcs7,
			  dept_code: this.currentUser.top_level_dept,
			  is_signed: true,
			  performers: value.performers,
			  text: value.text,
			  signer: this.signerID
		  }

		  this.send(model)
	  },
    changeDocument() {
      let model = {
        short_description: this.model.compose.short_description,
        text: this.model.compose.text.replace(/<br\s*[\/]?>/gi, '<br/>'),
	      dept_code: this.currentUser.top_level_dept
      }

      this.$axios.put(`/docflow/${this.currentUser.filial}/compose/${this.model.compose.id}/custom_update/`, model)
      .then(({ data }) => {
        this.dialog = false

        this.$toast.success(this.$t('document-flow.views.boxes.document-changed'));
	      const { warningModal } = this.$refs;
	      warningModal.dialog = false;

				this.manageDocumentUpdate();
      })
      .catch((err) => {
        console.log(err.data);
      })
    },
	  /**/
	  manageDocumentUpdate(){
		  this.$router.go(-1);
		  /*if (this.isLeaderUser || (this.model.compose.agreed_by && this.model.compose.agreed_by.length)){
			  if (this.model.compose.type === 'hr_application'){
				  this.getOne();
			  }else {
				  this.$router.go(-1);
			  }
		  }else {
			  this.getOne();
		  }*/
	  },
    /*
    *
    * */
	  cbChanged(c) {
		  this.keyId = "";
	  },
	  /**/
	  signDocument(model) {
      console.log('111', {
        performers: this.createResolutionModel.__performers,
        resolution_text: this.createResolutionModel.resolution_text
      });

      console.log('2222', model)
      // let model = {
	  	// 	pkcs7: this.pkcs7,
			//   dept_code: this.currentUser.top_level_dept,
			//   is_signed: true
		  // }

      if(['retail_act', 'currency_summary', 'summary', 'notice', 'vacation', 'decree', 'hr_order', 'hr_rotation', 'hr_contract', 'irr', 'expense_notice', 'attorney'].includes(this.$route.query.type)) {
        if(['chairman', 'deputy_chair', 'filial_manager'].includes(this.currentUser.role) && this.model.is_for_notice === true) {
          this.$axios.put(`/docflow/${this.currentUser.filial}/for_signature/${this.$route.params.id}/`, {
            performers: this.createResolutionModel.__performers,
            resolution_text: this.createResolutionModel.resolution_text
          })
          .then(() => {
            this.$axios.put(`/docflow/${this.currentUser.filial}/for_signature/${this.$route.params.id}/sign_document/`, model)
            .then(({ data }) => {

              this.createResolutionDialog = false

              this.$toast.success(this.$t('document-flow.views.boxes.document-signed'));
              window.location.reload()
            })
          })
        }
        else {
          this.$axios.put(`/docflow/${this.currentUser.filial}/for_signature/${this.$route.params.id}/sign_notice_by_directors/`, model)
          .then(({ data }) => {
            console.log(data)

            const { signModal } = this.$refs;
            signModal.cancelSign();

            this.$toast.success(this.$t('document-flow.views.boxes.document-signed'))
            window.location.reload();
          })
        }

        return false
      }

      this.$axios.put(`/docflow/${this.currentUser.filial}/for_signature/${this.$route.params.id}/sign_document/`, model)
      .then(({ data }) => {
        console.log(data)

        const { signModal } = this.$refs;
        signModal.cancelSign();

        this.$toast.success(this.$t('document-flow.views.boxes.document-signed'))
        window.location.reload()
      })
	  },
	  /**/
	  openSignModal() {
	  	// if (this.model.is_for_notice === true){
			//   const {signModal} = this.$refs
			//   signModal.dialogModal = true
		  // }else {
			//   let model = {
			// 	  pkcs7: this.pkcs7,
			// 	  dept_code: this.currentUser.top_level_dept,
			// 	  is_signed: true
			//   }
      //
	  	// 	this.send(model)
		  // }
	  },
	  /**/
  	send(model){
		  let keyType = document.testform.keyType.value;
		  let pkcs7Type = document.testform.pkcs7Type.value;
		  let itm = this.keyValue;
		  if (itm) {
			  let id = document.getElementById(itm);
			  let vo = JSON.parse(id.getAttribute('vo'));
			  let data = this.model.compose.text;
			  let keyId = this.keyId;
			  if (keyId === "idcard") {
				  keyId = null;
			  }
			  if (keyId) {
				  EIMZOClient.createPkcs7(keyId, data, null, (pkcs7) => {
            this.pkcs7 = pkcs7;
					  this.signDocument({ ...model,
						                              pkcs7});
				  }, function (e, r) {
					  if (r) {
						  if (r.indexOf("BadPaddingException") != -1) {
							  this.$toast.error(this.$t('document-flow.views.boxes.error-4'));
						  } else {
							  this.$toast.warning(r);
						  }
					  } else {
						  document.getElementById('keyId').innerHTML = '';
						  this.$toast.error(this.$t('document-flow.views.boxes.error-2'));
					  }
					  if (e) this.wsError(e);
				  }, pkcs7Type === "detached");
			  } else {
				  EIMZOClient.loadKey(vo, (id) => {
					  this.keyId = id;
					  EIMZOClient.createPkcs7(id, data, null, (pkcs7) => {
						  this.pkcs7 = pkcs7;
						  this.signDocument({ ...model,
							  pkcs7});
					  }, (e, r) => {
              if (r) {
							  if (r.indexOf("BadPaddingException") != -1) {
								  this.$toast.error(this.$t('document-flow.views.boxes.error-4'));
							  } else {
								  this.$toast.warning(r);
							  }
						  } else {
							  document.getElementById('keyId').innerHTML = '';
							  this.$toast.error(this.$t('document-flow.views.boxes.error-2'));
						  }
						  if (e) this.wsError(e);
					  }, pkcs7Type === "detached");
				  }, (e, r) => {
					  if (r) {
						  if (r.indexOf("BadPaddingException") != -1) {
							  this.$toast.error(this.$t('document-flow.views.boxes.error-4'));
						  } else {
							  this.$toast.error(r);
						  }
					  } else {
						  this.$toast.error(this.$t('document-flow.views.boxes.error-2'));
					  }
					  if (e) this.wsError(e);
				  });
			  }
		  } else {
			  this.$toast.error("PFX faylni tanlang!")
		  }
	  },
	  /**/
	  uiComboSelect(itm) {
		  if (itm) {
			  const id = document.getElementById(itm);
			  id.setAttribute('selected', 'true');
		  }
	  },
	  /**/
	  uiFillCombo(items) {
		  const combo = document.testform.key;
		  for (let itm in items) {
			  combo.append(items[itm]);
		  }
		  if (items.length){
			  for (let item in items) {
				  this.keyUsersList.push({
					  name: items[item].text,
					  value: items[item].value
				  })
			  }
			  this.keyValue = items[0].value
		  }else {
			  alert(this.$t('document-flow.views.boxes.key-not-found'))
		  }
	  },
	  /**/
	  uiCreateItem(itmkey, vo) {
		  const now = new Date();
		  vo.expired = dates.compare(now, vo.validTo) > 0;
		  const itm = document.createElement("option");
		  itm.value = itmkey;
		  itm.text = vo.CN;
		  if (!vo.expired) {

		  } else {
			  itm.style.color = 'gray';
			  itm.text = itm.text + this.$t('document-flow.views.boxes.expired');
		  }
		  itm.setAttribute('vo', JSON.stringify(vo));
		  itm.setAttribute('id', itmkey);
		  return itm;
	  },
	  /**/
	  uiClearCombo() {
		  let combo = document.testform.key;
		  combo.length = 0;
	  },
	  /**/
    getOne() {
      this.$http.get(`/docflow/${ this.currentUser.filial }/for_signature/${ this.$route.params.id }/`)
        .then(({ data }) => {
	        this.model = data
	        this.$store.commit('documentFlowModule/SET_COMPOSE_MODEL', data)

          this.createResolutionModel.__performers = data.performers ? data.performers : []
          this.createResolutionModel.resolution_text = data.resolution_text ? data.resolution_text : null

          this.signed = this.model.is_signed

          console.log(this.model);
        })
      .finally(() => {
        this.loading = false
      })
    },
	  /**/
	  returnCondition(condition){
		  if (condition === "vacation") {
				return this.$t("document-flow.views.boxes.vacation");
			} else if (condition === "business_trip") {
				return this.$t("document-flow.views.boxes.business-trip");
			} else if (condition === "unpaid_leave") {
				return this.$t("document-flow.views.boxes.unpaid-leave");
			} else if (condition === "sick") {
				return this.$t("document-flow.views.boxes.sick");
			} else {
				return null;
			}
	  },
    /*
    *
    * */
    sendAgree() {
      if (!confirm(this.$t("document-flow.views.boxes.do-you-want-sign-document"))) {
        return
      }

      this.$http.put(`/docflow/${ this.currentUser.filial }/for_signature/${ this.$route.params.id }/sign_document/`, {
        is_agreed: true
      })
        .then(() => {
          this.getOne()
        })
    },
    /*
    *
    * */
   sendNotAgree() {
     this.$v.text.$touch();

     if (this.$v.text.$invalid) {
       return;
     }

     this.$http.put(`/docflow/${this.currentUser.filial}/for_signature/${this.$route.params.id}/cancel_sign/`, {
       reason: this.text
     })
       .then(() => {
       	this.text = "";
	       setTimeout(() => {
		       window.location.reload();
	       }, 500)
       })
   },
    /*
    *
    * */
    appLoad() {
      EIMZOClient.API_KEYS = [
        'localhost', '96D0C1491615C82B9A54D9989779DF825B690748224C2B04F500F370D51827CE2644D8D4A82C18184D73AB8530BB8ED537269603F61DB0D03D2104ABF789970B',
        '127.0.0.1', 'A7BCFA5D490B351BE0754130DF03A068F855DB4333D43921125B9CF2670EF6A40370C646B90401955E1F7BC9CDBF59CE0B2C5467D820BE189C845D0B79CFC96F',
        'null', 'E0A205EC4E7B78BBB56AFF83A733A1BB9FD39D562E67978CC5E7D73B0951DB1954595A20672A63332535E13CC6EC1E1FC8857BB09E0855D7E76E411B6FA16E9D',
        'go.asakabank.uz', '22F652CA374900B57C8B7E7375BA4DBA5E7CF9E055CA2B449450E2DFACF8900B878414EC7762D86DDC62592CAB8C3DA1C21DC2190F5FA27AA0B809CE4624F0B6'
      ];

      EIMZOClient.checkVersion((major, minor) => {
        const newVersion = EIMZO_MAJOR * 100 + EIMZO_MINOR;
        const installedVersion = parseInt(major) * 100 + parseInt(minor);
        if (installedVersion < newVersion) {
          this.$toast.error(this.$t('document-flow.views.boxes.error-3'))
        } else {
          EIMZOClient.installApiKeys(() => {
            this.uiLoadKeys();
          }, (e, r) => {
            if (r) {
              this.$toast.error(r)
            } else {
              this.$toast.error(e)
            }
          });
        }
      }, (e, r) => {
        if (r) {
          this.$toast.error(r)
        } else {
          console.log(e)
          alert(this.$t('document-flow.views.boxes.key-not-found'))
        }
      });
    },

	  uiLoadKeys() {
		  this.uiClearCombo();
		  EIMZOClient.listAllUserKeys((o, i) => {
			  const itemId = "itm-" + o.serialNumber + "-" + i;
			  return itemId;
		  }, (itemId, v) => {
			  return this.uiCreateItem(itemId, v);
		  }, (items, firstId) => {
			  this.uiFillCombo(items);
			  this.uiComboSelect(firstId);
		  }, (e, r) => {
			  if (e) {
				  this.$toast.error(this.$t('document-flow.views.boxes.error-1') + e)
			  } else {
				  console.log(r);
			  }
		  });
		  EIMZOClient.idCardIsPLuggedIn((yes) => {
			  document.getElementById('plugged').innerHTML = yes ? this.$t('document-flow.views.boxes.connected') : this.$t('document-flow.views.boxes.no-connected');
		  }, (e, r) => {
			  if (e) {
				  this.$toast.error(this.$t('document-flow.views.boxes.error-1') + e)
			  } else {
				  console.log(r);
			  }
		  })
	  },
	  /**/
	  routeOpenProcess() {
		  this.$router.push({
			  name: this.model.compose.journal_id === 3 ? 'InnerRegistrationDetail' : this.model.compose.journal_id === 4 ? 'OutgoingRegistrationDetail' : 'OrderProtocolRegistrationDetail',
			  params: { id: this.model.compose.document_id },
			  query: { condition: 'for_watching_process' }
		  })
	  },
	  /** **/
		returnSignText(item) {
			if (item.compose.type === 'trip_license' && !item.is_invited){
				if (!item.action_time && !item.departure_time && this.currentUser.filial === '09013') {
					return this.$t('departed');
				} else if (item.action_time && !item.departure_time) {
					return this.$t('departed')
				}	else if (!item.action_time && item.departure_time && this.currentUser.filial === '09013'){
					return this.$t('arrived')
				} else {
					return this.$t('arrived')
				}
			} else {
				return this.$t('document-flow.views.boxes.sign')
			}
	  }
  }
}
</script>
