<template>
	<div class="sign-modal-view">
		<v-dialog
			v-model="dialogModal"
			width="500"
			content-class="reset-dialog-style"
		>
			<v-card class="pa-4">
				<div class="app-input">
					<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.boxes.performers')}}</span>

					<app-autocomplete
						v-model="$v.model.performers.$model"
						:error="$v.model.performers.$error"
						api-list-url="/user/search/"
						item-text="full_name"
						item-value="id"
						cache-items
						clearable
						:item-disabled="getDisableItems"
						multiple
						class="mt-2 mb-5"
					/>
				</div>

				<div class="app-input">
					<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.boxes.content')}}</span>

					<v-textarea
						v-model="$v.model.text.$model"
						:error="$v.model.text.$error"
						outlined
						hide-details
						no-resize
						auto-grow
						background-color="var(--input-bg)"
					></v-textarea>
				</div>

				<div class="d-flex justify-space-between mt-4">
					<app-button
						color="error"
						@click="cancelSign"
					>
						<template #prepend>
							<arrow-left-icon size="18" />
						</template>
						<template>
							{{$t('cancel')}}
						</template>
					</app-button>

					<app-button min-width="100" @click="signDocument">
						<template #prepend>
							<check-circle-icon size="18" />
						</template>
						{{$t('document-flow.views.boxes.sign')}}
					</app-button>
				</div>
			</v-card>
		</v-dialog>
	</div>
</template>

<script>
import { ArrowLeftIcon, CheckCircleIcon } from "vue-feather-icons";
import { required } from "vuelidate/lib/validators";
import { mapGetters } from "vuex";

export default {
	name: "SignModal",
	components: {
		CheckCircleIcon,
		ArrowLeftIcon
	},
	data(){
		return {
			dialogModal: false,
			model: {
				performers: [],
				text: ""
			},
		}
	},
	validations: {
		model: {
			performers: { required },
			text: { required }
		}
	},
	computed: {
		...mapGetters({
			getDisableItems: "getDisableItems",
		})
	},
	methods: {
		signDocument(){
			this.$v.$touch();

			if (this.$v.$invalid) {
				return;
			}

			this.$emit("signDocument", this.model)
		},
		cancelSign() {
			this.dialogModal = false;
			this.model.performers = [];
			this.model.text = "";
		}
	}
}
</script>

<style scoped>

</style>
