<template>
	<div class="d-flex align-center justify-center h-100">
    <div class="d-flex mt-5 overflow-hidden w-100 h-100">
      <div class="d-flex flex-column p-relative w-100">
        <app-loader v-if="getLoading" full-width :size="58" />

        <template v-else>
          <div class="d-flex flex-column h-100 bg-4 rounded-20 pa-1 overflow-hidden h-100">
            <perfect-scrollbar class="d-flex flex-column flex-1 h-100">
              <app-table
                bordered
                :table-width="1600"
              >
                <template #tableHeader>
                  <th>№</th>
                  <th>{{$t('document-flow.views.boxes.type-letter')}}</th>
                  <th>{{$t('document-flow.views.boxes.date')}}</th>
                  <th>{{$t('document-flow.views.boxes.registration-number')}}</th>
                  <th>{{$t('document-flow.views.boxes.state')}}</th>
                  <th>{{$t('document-flow.views.boxes.agreement')}}</th>
                  <th>{{$t('document-flow.views.boxes.signatory')}}</th>
                  <th>{{$t('document-flow.views.boxes.author')}}</th>
                </template>

                <template #tableBody>
                  <template v-if="signsList.length">
                    <tr
                      v-for="(item, index) in signsList"
                      class="font-500"
                    >
                      <td>
                        <router-link
                          :to="openRoute(item)"
                          class="d-flex align-center h-100 text-decoration-none text-dark"
                        >
                          {{ index + 1 }}
                        </router-link>
                      </td>
                      <td width="250">
                        <router-link
                          :to="openRoute(item)"
                          class="d-flex align-center h-100 text-decoration-none text-dark"
                        >
	                        {{ returnTypeText(item) }}
                        </router-link>
                      </td>
                      <td>
                        <router-link
                          :to="openRoute(item)"
                          class="d-flex align-center h-100 text-decoration-none text-dark"
                        >
                          {{ item.compose.created_date | filterCalendarToTime }}
                        </router-link>
                      </td>
                      <td>
                        <router-link
                          :to="openRoute(item)"
                          class="d-flex align-center h-100 text-decoration-none text-dark"
                        >
                          {{ item.compose.register_number }}
                        </router-link>
                      </td>
	                    <td>
                        <router-link
                          :to="openRoute(item)"
                          class="d-flex align-center h-100 text-decoration-none text-dark"
                        >
                          <v-chip
                            :color="item.is_signed === true ? 'success' : item.is_signed === false ? 'danger' : 'warning' "
                          >
                            <span class="small-3 text-white">{{ item.is_signed === true ? $t('document-flow.views.boxes.signed') : item.is_signed === false ? $t('document-flow.views.boxes.denied') : $t('document-flow.views.boxes.not-signed') }}</span>
                          </v-chip>
                        </router-link>
	                    </td>
                      <td>
                        <router-link
                          :to="openRoute(item)"
                          class="d-flex align-center h-100 text-decoration-none text-dark"
                        >
                          <app-avatar-group list-type="agreed" :avatar-list="item.compose.agreed_by" />
                        </router-link>
                      </td>
                      <td>
                        <router-link
                          :to="openRoute(item)"
                          class="d-flex align-center h-100 text-decoration-none text-dark"
                        >
                          <app-avatar-group list-type="signers" :avatar-list="item.compose.signed_by" />
                        </router-link>
                      </td>
                      <td>
                        <router-link
                          :to="openRoute(item)"
                          class="d-flex align-center h-100 text-decoration-none text-dark"
                        >
                          <app-avatar-group list-type="agreed" :avatar-list="[{ user: item.compose.author }]" />
                        </router-link>
                      </td>
                    </tr>
                  </template>

                  <template v-else>
                    <tr>
                      <td colspan="9">
                        <p class="heading-9 font-500 mb-0 text-center py-4">
                          {{$t('document-flow.views.boxes.nothing-yet')}}
                        </p>
                      </td>
                    </tr>
                  </template>
                </template>
              </app-table>
            </perfect-scrollbar>

            <div class="d-flex align-center justify-space-between py-2 px-4 border-top">
              <span class="small-2 font-500 text-dark">
<!--                1-10 из 195 позиций-->
              </span>

              <app-pagination @emit:up="paginate" />
            </div>
          </div>
        </template>
<!--        <pre>{{ signsList }}</pre>-->
      </div>
    </div>
  </div>
</template>

<script>
import { MoreVerticalIcon, Trash2Icon } from "vue-feather-icons";
import { mapGetters, mapActions, mapState } from "vuex";
import { selectFromList } from "@/common/helpers";
import { TABLE_HEAD_TEXT_LIST } from "@/common/constants";

export default {
  name: "ApprovalTableType",
  components: {
    MoreVerticalIcon,
    Trash2Icon
  },
  computed: {
    ...mapState({
      filteredState: state => state.headerFilter.filteredState,
      filterPagination: state => state.headerFilter.pagination,
    }),
    /*
    *
    * */
    ...mapGetters({
      getLoading: "getLoading",
      currentUser: "auth/getCurrentUser",
      signsList: "documentFlowModule/getSignsList",
    }),
    /*
    *
    * */
    tableListSelect() {
      return selectFromList([20, 21, 2, 3, 4, 5, 6, 9, 11, 12], TABLE_HEAD_TEXT_LIST)
    }
  },
  created() {
    this.fetchSignsList({
      status: this.$route.query.status ? this.$route.query.status : null,
      is_signed: this.$route.query.is_signed ? this.$route.query.is_signed : null
    })
  },
  methods: {
    ...mapActions({
      fetchSignsList: "documentFlowModule/fetchSignsList",
    }),
    /*
    *
    * */
    paginate(value) {
      let query = { ...this.filteredState, page: value }
      this.filterPagination.page = value

      this.$router.replace({
        query: query
      }).catch(() => {})

      this.fetchSignsList({
        ...query
      })
    },
	  /**/
	  openRoute(item){
	  	return {
			  name: 'SignFormShow',
			  params: {
				  id: item.id
			  },
			  query: {
				  compose_id: item.compose.id,
				  type: item.compose.type === 'retail_act' ? 'retail_act' : item.compose.type === 'hr_order' ? 'hr_order'
					  : item.compose.type === 'hr_rotation' ? 'hr_rotation'
						  : (item.compose.journal_id === 3 && item.compose.type === 'service_letter') ? 'inner'
							  : ((item.compose.journal_id === 3 && (item.compose.type === 'notice' || item.compose.type === 'hr_notice')) || (item.compose.journal_id === 6 && item.compose.type === 'position_rotation')) ? 'notice'
								  : (item.compose.journal_id === 6 && item.compose.type === 'protocol') ? 'protocol'
									  : item.compose.journal_id === 7 ? 'vacation'
										  : (item.compose.journal_id === 6 && item.compose.type === 'decree') ? 'decree'
											  : item.compose.type === 'credit_committee' ? 'committee_protocol'
												  : item.compose.type === 'summary' ? 'summary'
													  : item.compose.type === 'currency_summary' ? 'currency_summary'
														  : item.compose.type === 'trip_license' ? 'trip_license'
															  : item.compose.type === 'compliance_regulation' ? 'compliance_regulation'
																  : 'outgoing'
			  }
		  }
	  },
	  /**/
	  returnTypeText(item){
		  return item.compose.type === 'retail_act' ? 'Акт' : item.compose.type === 'hr_order' ? 'HR приказ'
			  : item.compose.type === 'hr_rotation' ? 'Ротация'
				  : (item.compose.type === 'notice' || item.compose.type === 'position_rotation') ? 'Bildirishnoma'
					  : item.compose.type === 'hr_notice' ? 'Рапорт для приема на работу'
						  : item.compose.type === 'decree' ? 'Farmoyish'
							  : item.compose.type === 'protocol' ? 'Boshqaruv bayonnomasi'
								  : item.compose.type === 'summary' ? 'Xulosa'
									  : item.compose.journal_id === 7 ? 'Заявление'
										  : item.compose.type === 'credit_committee' ? 'Bayonnoma'
											  : item.compose.type === 'trip_license' ? this.$t('tripLicense')
												  : item.compose.type === 'currency_summary' ? 'Valyuta sotib olish bo\'yicha'
													  : item.compose.type === 'compliance_regulation' ? 'Ichki meyoriy xujjat'
													   : 'Хизмат хати'
		  }
  }
}
</script>
