<template>
	<div ref="chatArea" class="chat-area-view d-flex justify-center flex-1 overflow-y-auto" id="scroll-to-bottom">
		<div class="chat-area-content d-flex flex-column mb-4">
			<template v-if="conversationUserMessages.length">
				<template v-for="(message, index) in conversationUserMessages">
					<div :key="message.id" class="d-none unread-message-text" id="unread-message-text">
						<div class="d-flex justify-center bg-white mt-2 py-1 rounded-20">
							<span class="font-400 small-2 opacity-70">{{$t('chat-messenger.components.unread-messages')}}</span>
							<v-icon>mdi-chevron-down</v-icon>
						</div>
					</div>
					<div :key="index + 'B'" v-if="message.is_new_date" class="message-new-date mb-4 mt-6">
						<div class="d-flex justify-center">
							<div class="d-flex justify-center bg-white message-new-date-inner rounded-20">
								<span class="font-500 small-2">{{ message.created_date | filterDateMonthYear }}</span>
							</div>
						</div>
					</div>
					<div
						v-bind:key="index + 'C'"
						@contextmenu="show($event, message)"
						class="chatting-user d-flex mt-4 mx-4"
						:class="{'align-self-end': message.sender.id === currentUser.id}"
						v-observe-visibility="{
							callback: (isVisible, entry) => visibilityChanged(isVisible, entry, message.message_id ? message.message_id : message.id, message),
							once: true,
						}"
					>
						<template v-if="message.sender">
							<template v-if="message.sender.id === currentUser.id">
								<div
									class="chatting-comments d-flex"
									:class="{'mr-3': message.sender.id === currentUser.id}"
								>
									<div class="d-flex align-end h-100">
										<div class="d-flex align-end">
											<span v-if="message.edited" class="tiny mr-1 chat-time">{{$t('chat-messenger.components.changed')}}</span>
											<span class="font-400 small-2 chat-time mr-1">{{ message.created_date | filterHHmm }}</span>
											<template v-if="conversationUserSelected.type === 'bot'">
												<v-icon color="primary" size="18">
													mdi-check-all
												</v-icon>
											</template>
											<template v-else>
												<v-icon color="primary" size="18">{{
														message.read_time === null || message.read_time === undefined ? 'mdi-check' : 'mdi-check-all'
													}}
												</v-icon>
											</template>
										</div>
									</div>

									<div class="bg-white px-5 py-4 current-user-chat ml-4">
										<!--Replied message box-->
										<template v-if="conversationUserSelected.type === 'bot' && message.telegram_users">
											<telegram-users class="mb-4" :telegramUsers="message.telegram_users" />
										</template>
										<template v-if="message.replied_to">
											<div class="d-flex replied-message pl-1">
												<template
													v-if="message.replied_to && message.replied_to.file && message.replied_to.file_type === 'IMAGE'">
													<img :src="message.replied_to.file.url" alt="" style="width: 30px; height: 25px">
												</template>
												<div class="d-flex flex-column pl-1 mb-1">
													<span class="tiny color-primary font-700">{{
															message.replied_to && message.replied_to.sender.name
														}}</span>
													<span
														v-if="message.replied_to && message.replied_to.file && message.replied_to.file_type === 'IMAGE'"
														class="tiny font-500 line-truncate replied-message-text">{{$t('chat-messenger.components.photo')}}</span>
													<span
														v-else-if="message.replied_to && message.replied_to.file && message.replied_to.file_type === 'FILE'"
														class="tiny font-500 line-truncate replied-message-text">{{
															message.replied_to && message.replied_to.file.name
														}}</span>
													<span v-else class="tiny font-500 line-truncate replied-message-text">{{
															message.replied_to && message.replied_to.text
														}}</span>
												</div>
											</div>
										</template>


										<span v-if="message.file === null" class="message-break-word d-block font-400 small-2">{{ message.text }}</span>

										<template v-else>
											<img @click.prevent="openImage(message.file.url)" v-if="message.file_type === 'IMAGE'"
													:src="message.file.url" alt="" class="pointer">
											<a class="text-decoration-none" v-else :href="message.file.url" target="_blank">
												<div class="d-flex">
													<div class="d-flex bg-primary rounded-50 pa-2">
														<v-icon>mdi-file-document</v-icon>
													</div>
													<div class="d-flex flex-column ml-3">
														<span class="small-2 font-400">{{ message.file.name }}</span>
														<span v-if="conversationUserSelected.type !== 'bot'" class="message-break-word small-3 opacity-70">{{ message.text }}</span>
													</div>
												</div>
											</a>
										</template>
										<span v-if="conversationUserSelected.type === 'bot' && message.file !== null" class="message-break-word d-block font-400 small-2 mt-4">{{ message.text }}</span>
									</div>
								</div>
							</template>

							<template v-else>
								<div v-if="isGroup" class="mr-4">
									<v-avatar :color="message.sender.color" size="40">
										<template v-if="message.sender.avatar">
											<img
												:src="message.sender.avatar.url"
												alt="Avatar"
												class="object-cover w-100 h-100"
											/>
										</template>

										<template v-else>
											<span class="text-white">{{
													message.sender && message.sender.last_name && message.sender.last_name | getFirstCharacterWithoutDot
												}}</span>
										</template>
									</v-avatar>
								</div>

								<div class="d-flex flex-column">
									<span class="font-600 small-2 mb-2" v-if="isGroup">
										{{ message.sender && message.sender.last_name }}
										{{ message.sender && message.sender.first_name && message.sender.first_name | getFirstCharacter }}
										{{ message.sender && message.sender.father_name && message.sender.father_name | getFirstCharacter }}
									</span>
									<div class="d-flex chatting-comments-sender">
										<div class="bg-white px-5 py-4 sender-user-chat">

											<!--Replied message box-->
											<template v-if="message.replied_to">
												<div class="d-flex replied-message pl-1">
													<template
														v-if="message.replied_to && message.replied_to.file && message.replied_to.file_type === 'IMAGE'">
														<img :src="message.replied_to.file.url" alt="" style="width: 30px; height: 25px">
													</template>
													<div class="d-flex flex-column pl-1 mb-1">
														<span class="tiny color-primary font-700">{{
																message.replied_to && message.replied_to.sender.name
															}}</span>
														<span
															v-if="message.replied_to && message.replied_to.file && message.replied_to.file_type === 'IMAGE'"
															class="tiny font-500 line-truncate replied-message-text">{{$t('chat-messenger.components.photo')}}</span>
														<span
															v-else-if="message.replied_to && message.replied_to.file && message.replied_to.file_type === 'FILE'"
															class="tiny font-500 line-truncate replied-message-text">{{
																message.replied_to && message.replied_to.file.name
															}}</span>
														<span v-else class="tiny font-500 line-truncate replied-message-text">{{
																message.replied_to && message.replied_to.text
															}}</span>
													</div>
												</div>
											</template>

											<span v-if="conversationUserSelected.type === 'bot'" class="d-inline-block mb-2 font-600 small-2">
												{{ message.telegram_users && message.telegram_users[0] && message.telegram_users[0].first_name }} {{ message.telegram_users && message.telegram_users[0] && message.telegram_users[0].last_name }}:
											</span>

											<span v-if="message.file === null" class="message-break-word d-block font-400 small-2">{{ message.text }}</span>


											<template v-else>
												<img @click.prevent="openImage(message.file.url)" v-if="message.file_type === 'IMAGE'"
														:src="message.file.url" alt="" class="pointer">
												<a class="text-decoration-none" v-else :href="message.file.url" target="_blank">
													<div class="d-flex">
														<div class="d-flex bg-primary rounded-50 pa-2">
															<v-icon>mdi-file-document</v-icon>
														</div>
														<div class="d-flex flex-column ml-3">
															<span class="small-2 font-400">{{ message.file.name }}</span>
															<span v-if="conversationUserSelected.type !== 'bot'" class="message-break-word small-3 opacity-70">{{ message.text }}</span>
														</div>
													</div>
												</a>
												<span v-if="conversationUserSelected.type === 'bot' && message.file !== null" class="message-break-word d-block font-400 small-2 mt-4">{{ message.text }}</span>
											</template>
										</div>

										<div class="d-flex align-end h-100 ml-4">
											<span v-if="message.edited" class="tiny mr-1 chat-time">{{$t('chat-messenger.components.changed')}}</span>
											<span class="font-400 small-2 chat-time">{{ message.created_date | filterHHmm }}</span>
										</div>
									</div>
								</div>
							</template>
						</template>
					</div>
				</template>


				<!--				<div class="current-user-chat align-self-end d-flex mt-4 bg-white px-4 py-2">
									<div class="d-flex bg-primary rounded-50 pa-2">
										<v-icon>{{ "$vuetify.icons.XIcon" }}</v-icon>
									</div>
									<div class="d-flex flex-column ml-2">
										<span class="small-2 font-400">test-image.png</span>
										<span class="small-3 opacity-70">175/300KB</span>
									</div>
								</div>    -->


			</template>
			<template v-else>
				<div class="d-flex justify-center align-center h-100 w-100">
					{{$t('chat-messenger.components.no-messages')}}
				</div>
			</template>
		</div>

		<image-viewer-modal ref="imageViewer"/>

		<v-menu
			v-model="showMenu"
			:position-x="x"
			:position-y="y"
			absolute
			offset-y
			rounded
		>
			<div class="d-flex flex-column rounded-20 bg-white py-2">
				<v-tooltip
					v-if="selectedMessage && selectedMessage.sender.id === currentUser.id && isGroup && viewersList.length && conversationUserSelected.type !== 'bot'"
					right
					color="white"
				>
					<template v-slot:activator="{ on, attrs }">
						<div
							class="d-flex px-5 py-2 align-center hoverable pointer"
							v-bind="attrs"
							v-on="on"
						>
							<v-icon color="grey" size="20">
								mdi-eye-outline
							</v-icon>
							<viewers-avatar :viewersList="viewersList" class="ml-4"/>
						</div>
					</template>
					<div class="d-flex flex-column">
						<div
							v-for="(viewer, index) in viewersList"
							:key="index + 'A'"
							class="d-flex align-center py-1"
						>
							<v-avatar
								:color="viewer.recipient.color"
								size="20"
							>
								<img
									v-if="viewer.recipient.avatar"
									:src="viewer.recipient.avatar.url"
								>
								<span
									v-else
									class="tiny"
								>
									{{ viewer.recipient.first_name | getFirstCharacterWithoutDot }}
								</span>
							</v-avatar>
							<span class="small-3 text-black ml-1">{{ viewer.recipient.last_name }} </span>&nbsp;
							<span class="small-3 text-black">{{ viewer.recipient.first_name | getFirstCharacter }}	</span>&nbsp;
							<span class="small-3 text-black">{{ viewer.recipient.father_name && viewer.recipient.father_name | getFirstCharacter }} 	</span>
						</div>
					</div>
				</v-tooltip>

				<div
					v-if="selectedMessage && (conversationUserSelected.type !== 'bot' || selectedMessage.sender.id !== currentUser.id)"
					@click.prevent="replyMessage"
					class="d-flex px-5 py-2 align-center hoverable pointer">
					<v-icon color="grey" size="20">
						mdi-reply-outline
					</v-icon>
					<span class="small-3 font-500 ml-4">{{$t('chat-messenger.components.reply')}}</span>
				</div>

				<div
					v-if="selectedMessage && !selectedMessage.file && selectedMessage.sender.id === currentUser.id && conversationUserSelected.type !== 'bot'"
					@click.prevent="editMessage"
					class="d-flex px-5 py-2 align-center hoverable pointer">
					<v-icon color="grey" size="20">
						mdi-pencil-outline
					</v-icon>
					<span class="small-3 font-500 ml-4">{{$t('chat-messenger.components.change')}}</span>
				</div>

				<div
					v-if="selectedMessage && !selectedMessage.file"
					@click.prevent="copyText"
					class="d-flex px-5 py-2 align-center hoverable pointer"
				>
					<v-icon color="grey" size="20">
						mdi-content-copy
					</v-icon>
					<span class="small-3 font-500 ml-4">{{$t('chat-messenger.components.copy')}}</span>
				</div>

				<!--				<div
									class="d-flex px-5 py-2 align-center hoverable pointer"
								>
									<v-icon color="grey" size="20">
										mdi-pin-outline
									</v-icon>
									<span class="small-3 font-500 ml-4">{{$t('chat-messenger.components.pin')}}</span>
								</div>

								<div
									class="d-flex px-5 py-2 align-center hoverable pointer"
								>
									<v-icon color="grey" size="20">
										mdi-share-outline
									</v-icon>
									<span class="small-3 font-500 ml-4">{{$t('chat-messenger.share')}}</span>
								</div>-->

				<div
					v-if="selectedMessage && selectedMessage.sender && selectedMessage.sender.id === currentUser.id"
					@click.prevent="deleteMessage"
					class="d-flex px-5 py-2 align-center hoverable pointer">
					<v-icon color="red" size="20">
						mdi-trash-can-outline
					</v-icon>
					<span class="small-3 font-500 ml-4 color-red">{{$t('chat-messenger.components.delete')}}</span>
				</div>
			</div>
		</v-menu>

		<!--SNACKBAR-->
		<v-snackbar
			v-model="snackbar"
			timeout="2000"
		>
			<span class="small-3">{{$t('chat-messenger.components.copy-to-clipboard')}}</span>

			<template v-slot:action="{ attrs }">
				<v-btn
					color="blue"
					text
					v-bind="attrs"
					@click="snackbar = false"
				>
					{{$t('chat-messenger.components.close')}}
				</v-btn>
			</template>
		</v-snackbar>
	</div>

</template>

<script>
import { mapActions, mapGetters } from "vuex";
import ImageViewerModal from "./base/ImageViewerModal";
import TelegramUsers from "./base/TelegramUsers";
import ViewersAvatar from "./base/ViewersAvatar";

export default {
	name: "ChatArea",
	components: {
		ImageViewerModal,
		ViewersAvatar,
		TelegramUsers
	},
	data() {
		return {
			showMenu: false,
			x: 0,
			y: 0,
			selectedMessage: null,

			snackbar: false,
			viewersList: []
		}
	},
	computed: {
		...mapGetters({
			conversationUserMessages: "chatModule/getConversationUserMessages",
			currentUser: "auth/getCurrentUser",
			chatAreaRef: "chatModule/getChatAreaRef",
			isGroup: "chatModule/getIsGroup",
			conversationUserSelected: "chatModule/getConversationUserSelected",
			chatSocket: "socket/getChatSocket",
			getCallUnreadMessagesText: "chatModule/getCallUnreadMessagesText",
		})
	},
	watch: {
		'getCallUnreadMessagesText'() {
			setTimeout(() => {
				this.getUnreadMessageIndex();
			}, 10)
		}
	},
	methods: {
		...mapActions({
			chatAreaInstance: "chatModule/chatAreaInstance",
			fetchDeleteMessage: "chatModule/fetchDeleteMessage",
			fetchSetMessageToBeEdited: "chatModule/fetchSetMessageToBeEdited",
			fetchSetMessageToBeReplied: "chatModule/fetchSetMessageToBeReplied",
		}),
		/**/
		visibilityChanged(isVisible, entry, message_id, message) {
			if (isVisible && message.sender.id !== this.currentUser.id && (message.read_time === null || message.read_time === undefined)) {
				// console.log(message_id, isVisible, this.conversationUserSelected.id, this.conversationUserSelected.type)

				this.chatSocket.onMessageSend({
					command: "read",
					chat_id: this.conversationUserSelected.id,
					chat_type: this.conversationUserSelected.type,
					message_id: message_id,
					custom_uuid: new Date()
				})
			}
		},
		/**/
		openImage(url) {
			const {imageViewer} = this.$refs;
			imageViewer.imageViewerModal = true;
			imageViewer.imageUrl = url
		},
		/**/
		getUnreadMessageIndex() {
			if (this.conversationUserMessages.length) {
				let index = this.conversationUserMessages.findIndex(item => item.read_time === null || item.read_time === undefined);
				if (index >= 0) {
					const unread_message_text = document.getElementsByClassName("unread-message-text")
					const arr = document.getElementsByClassName("chatting-user");
					// arr[index].scrollIntoView(false);
					setTimeout(() => {
						arr[arr.length - 1].scrollIntoView(false);
					}, 50)
					if (this.conversationUserMessages[index].sender.id !== this.currentUser.id) {
						unread_message_text[index].classList.remove("d-none")
					}
				} else {
					const arr = document.getElementsByClassName("chatting-user");
					setTimeout(() => {
						arr[arr.length - 1].scrollIntoView(false);
					}, 50)
					/*const element = document.getElementById("scroll-to-bottom");
					element.scroll({ top: element.scrollHeight, behavior: "smooth"})*/
				}
			}
		},
		/**/
		show(e, message) {
			e.preventDefault()

			this.showMenu = false
			this.x = e.clientX
			this.y = e.clientY
			this.$nextTick(() => {
				this.showMenu = true
			});
			this.selectedMessage = message

			this.getViewersList(message);
		},
		/**/
		deleteMessage() {
			this.fetchDeleteMessage(this.selectedMessage)
		},
		/**/
		editMessage() {
			this.fetchSetMessageToBeEdited(this.selectedMessage)
		},
		/**/
		replyMessage() {
			this.fetchSetMessageToBeReplied(this.selectedMessage)
		},
		/**/
		copyText() {
			navigator.clipboard.writeText(this.selectedMessage.text);
			this.snackbar = true;
		},
		/**/
		getViewersList(message) {
			this.$axios.get(`/messages/${message.id}/viewers/`)
				.then(({data}) => {
					this.viewersList = data
				})
		}
	},
}
</script>

<style>
.chat-area-content {
	/*height: 1px;*/
	width: 50vw;
}

.chatting-comments > div:not(:last-child) {
	margin-bottom: 12px;
}

.v-application .rounded {
	border-radius: 20px !important;
}

.message-new-date-inner {
	width: 150px;
}

.message-break-word {
	word-break: break-word;
}
</style>
