<template>
	<div class="create-group-dialog">
		<v-dialog
			v-model="dialog"
			max-width="400"
		>
			<template v-slot:activator="{ on, attrs }">
				<app-tooltip top>
					<template #content>
						<app-button
							min-width="53"
							width="53"
							height="53"
							v-bind="attrs"
							v-on="on"
							class="rounded-circle"
						>
							<template #default>
								<v-icon>mdi-plus</v-icon>
							</template>
						</app-button>
					</template>

					<template #text>
						{{$t('chat-messenger.components.create-group')}}
					</template>
				</app-tooltip>
			</template>

			<div class="input-label d-flex bg-white pa-5 flex-column rounded-20">
				<div class="d-flex justify-space-between w-100">
					<span class="font-500 small-2">{{$t('chat-messenger.components.new-group')}}</span>
					<v-icon @click="dialog = false" color="red">{{ "$vuetify.icons.XIcon" }}</v-icon>
				</div>

				<v-divider style="background: #F1F1F1;" class="my-2"></v-divider>

				<div class="d-flex w-100 justify-center mt-7 mb-6">
					<v-avatar
						color="#05A3FF"
						size="120"
					>
						<template v-if="temp_imageUrl">
							<img
								:src="temp_imageUrl"
                class="object-cover w-100 h-100"
								alt="Avatar image"
							>
						</template>
						<template v-else>
							<span class="white--text heading-2">
								N
							</span>
						</template>
					</v-avatar>
				</div>

				<input @change="uploadAvatar" class="d-none" type="file" id="groupAvatar" name="groupAvatar" accept=".jpg, .jpeg">


				<div class="d-flex justify-center align-center">
					<label for="groupAvatar">
						<div class="pointer">
							<v-icon color="primary" size="22">mdi-camera-outline</v-icon>
							<span class="font-500 small-2 ml-3 color-primary">{{$t('chat-messenger.components.change-photo')}}</span>
						</div>
					</label>
				</div>

				<div class="d-flex justify-center my-4">
					<span class="font-400 small-2 opacity-50">
						<template v-if="temp_members.length">
							<template v-if="temp_members.length < 2">
								{{ temp_members.length }} {{$t('chat-messenger.components.member')}}
							</template>
							<template v-else>
								{{ temp_members.length }} {{$t('chat-messenger.components.members')}}
							</template>
						</template>
					</span>
				</div>

				<v-text-field
					v-model="$v.newGroupModel.title.$model"
					:error="$v.newGroupModel.title.$error"
					:label="$t('chat-messenger.components.group-name')"
					hide-details
					class="mb-2"
					outlined
					background-color="var(--input-bg)"
				>
				</v-text-field>

				<app-autocomplete
					v-model="selectedUser"
					@emit:change="addMember"
					api-list-url="/user/search/"
					item-text="full_name"
					return-object
					cache-items
					:label="$t('chat-messenger.components.add-members')"
				/>

				<div class="scrollable-user-list mt-5">
					<perfect-scrollbar>
						<template v-if="temp_members.length">
							<template>
								<div v-for="(member, index) in temp_members" v-bind:key="member.id" class="bg-hover d-flex align-center px-4 py-2">
									<v-avatar
										:color="member.color"
										size="48"
									>
										<template v-if="member.avatar">
											<img
												:src="member.avatar.url"
												alt="Avatar image"
                        class="object-cover w-100 h-100"
											>
										</template>
										<template v-else>
											<span class="white--text small-2">
												{{ member.first_name && member.first_name | getFirstCharacterWithoutDot }}
											</span>
										</template>
									</v-avatar>
									<div class="d-flex justify-space-between w-100">
										<div class="d-flex flex-column ml-2">
											<span class="font-500 small-2">{{ member.last_name }} {{
													member.first_name && member.first_name | getFirstCharacter
												}} {{ member.father_name && member.father_name | getFirstCharacter }} </span>
											<span class="font-400 small-3 opacity-50">{{ member.position }}</span>
										</div>

										<div @click.prevent="removeMember(index)" class="pa-1 mt-1 rounded-10 pointer"
										     style="background: #FFE7E7;">
											<v-icon color="red">mdi-minus</v-icon>
										</div>
									</div>
								</div>
							</template>
						</template>
						<template v-else>
							<div class="d-flex w-100 h-100 justify-center align-center">
								<span class="font-500 small-2">{{$t('chat-messenger.components.no-members-added')}}</span>
							</div>
						</template>
					</perfect-scrollbar>
				</div>
			</div>
			<div class="d-flex my-4 justify-end">
				<v-btn
					@click="cancelAddMember"
					outlined
					color="white"
					depressed
					small
				>
					{{$t('chat-messenger.components.cancel')}}
				</v-btn>
				<v-btn
					@click="send"
					color="primary"
					depressed
					small
					class="ml-4"
				>
					{{$t('chat-messenger.components.create')}}
				</v-btn>
			</div>
		</v-dialog>
	</div>
</template>

<script>
import { required } from "vuelidate/lib/validators";
import { mapActions, mapGetters } from "vuex";

export default {
	name: "ChatCreateGroupModal",
	data() {
		return {
			dialog: false,
			newGroupModel: {
				title: "",
				members: [],
				image: null
			},
			selectedUser: {},
			temp_members: [],
			temp_imageUrl: null
		}
	},
	validations: {
		newGroupModel: {
			title: {required},
		}
	},
	computed: {
		...mapGetters({
			userList: "getUsersList"
		})
	},
	created() {
		this.fetchUsersList({})
	},
	methods: {
		...mapActions({
			createChatGroup: "chatModule/createChatGroup",
			fetchUsersList: "fetchUsersList",
			uploadFile: "uploadFiles/uploadFile"
		}),
		/**/
		addMember(member) {
			this.temp_members.unshift(member)
			this.selectedUser = {}
		},
		/**/
		removeMember(index) {
			this.temp_members.splice(index, 1)
		},
		/**/
		cancelAddMember() {
			this.dialog = false;
			this.temp_members = [];
			this.newGroupModel.image = null;
			this.newGroupModel.title = "";
		},
		/**/
		send() {
			this.temp_members.forEach(item => {
				this.newGroupModel.members.push(item.id)
			})
			this.createChatGroup(this.newGroupModel).then(data => {
				this.$toast.success(this.$t('chat-messenger.components.group-created'));
				this.dialog = false;
				this.cancelAddMember();
			})
		},
		/**/
		uploadAvatar() {
			const file = document.getElementById("groupAvatar").files[0];
			this.uploadFile(file).then(data => {
				this.temp_imageUrl = data.url;
				this.newGroupModel.image = data.id
			})
		}
	}
}
</script>

<style>

.scrollable-user-list .ps {
	height: 300px;
}

.input-label .v-label {
	color: #BBBBBB;
	font-size: 14px;
	font-weight: 500;
}
</style>
