<template>
	<div class="d-flex flex-column align-center">
		<app-loader v-if="isLoading" content-width :size="54" />
		<!--EDIT BOX-->
		<div v-if="isMessageEditing" class="edited-message-box bg-4 py-2 px-4 rounded-20 d-flex align-center justify-space-between">
			<div class="d-flex">
				<v-icon>mdi-square-edit-outline</v-icon>
				<div class="edited-message text-truncate">
					<span class="small-3 mx-4 text-truncate">{{ messageToBeEdited }}</span>
				</div>
			</div>
			<x-icon @click="cancelEditing" class="opacity-50 pointer"></x-icon>
		</div>
		<!--/EDIT BOX-->

		<!--REPLY BOX-->
		<div v-if="isMessageReplying" class="edited-message-box bg-4 py-2 px-4 rounded-20 d-flex align-center justify-space-between">
			<div class="d-flex">
				<v-icon>mdi-reply-outline</v-icon>
				<div class="edited-message ml-1">
					<template>
						<div class="d-flex replied-message pl-1">
							<template v-if="messageModelToBeEdited.file && messageModelToBeEdited.file_type === 'IMAGE'">
								<img :src="messageModelToBeEdited.file.url" alt="" style="width: 30px; height: 25px">
							</template>
							<div class="d-flex flex-column pl-1 mb-1">
								<span v-if="conversationOpenWithUserSelect.type !== 'bot'" class="tiny color-primary font-700">{{ messageModelToBeEdited.sender && messageModelToBeEdited.sender.first_name + " " +  messageModelToBeEdited.sender.last_name}}</span>
								<span v-else class="tiny color-primary font-700">{{ messageModelToBeEdited.telegram_users && messageModelToBeEdited.telegram_users[0] && messageModelToBeEdited.telegram_users[0].first_name + " " +  messageModelToBeEdited.telegram_users[0].last_name}}</span>
								<span v-if="messageModelToBeEdited.file && messageModelToBeEdited.file_type === 'IMAGE'" class="tiny font-500 line-truncate replied-message-text">{{ messageModelToBeEdited.file_type }}</span>
								<span v-else-if="messageModelToBeEdited.file && messageModelToBeEdited.file_type === 'FILE'" class="tiny font-500 line-truncate replied-message-text">{{ messageModelToBeEdited.file.name }}</span>
								<span v-else class="tiny font-500 line-truncate replied-message-text">{{ messageModelToBeEdited.text }}</span>
							</div>
						</div>
					</template>
				</div>
			</div>
			<x-icon @click="cancelEditing" class="opacity-50 pointer"></x-icon>
		</div>
		<!--/REPLY BOX-->

		<!--AUTOCOMPLETE-->
		<div
			class="chat-area-footer-view align-center bg-4 py-2 px-5 mb-1 rounded-20"
			:class="isUserSelectOpen ? 'd-flex' : 'd-none'"
		>
			<autocomplete-for-bot ref="autocomplete" @emit:up="getData"/>

			<app-button
				@click="fetchToggleBotUserSelect(false)"
				icon
				min-width="40"
				width="40"
				height="40"
				class="ml-8 mr-4 pointer"
				v-if="Boolean(users.length)"
			>
				<v-icon class="mx-2 pointer">mdi-check</v-icon>
			</app-button>
		</div>
		<!--/AUTOCOMPLETE-->

		<div
			class="chat-area-footer-view align-center bg-4 py-2 px-5 mb-1 rounded-20"
			:class="isUserSelectOpen ? 'd-none' : 'd-flex'"
		>
			<v-avatar :color="currentUser.color" size="42">
				<template v-if="currentUser.avatar">
					<img
						:src="currentUser.avatar.url"
						alt="avatar"
            class="object-cover w-100 h-100"
					/>
				</template>

				<template v-else>
					<span class="text-white">{{ currentUser.last_name && currentUser.last_name | getFirstCharacterWithoutDot }}</span>
				</template>
			</v-avatar>

			<v-textarea
				@keydown.enter.exact="sendByEnter"
				v-model="message"
				@paste="onPaste"
				outlined
				hide-details
				auto-grow
				rows="1"
				row-height="10"
				autofocus
				:placeholder="$t('chat-messenger.components.enter-message')"
				class="chat-textarea font-500 mx-4"
				background-color="var(--input-bg)"
				:disabled="!Boolean(users.length) && conversationOpenWithUserSelect.type === 'bot'"
			>
			</v-textarea>

			<v-icon
				class="mx-2 pointer" v-if="conversationOpenWithUserSelect.type === 'bot' && fileID"
			>
				mdi-file-document
			</v-icon>

			<v-icon
				@click="fetchToggleBotUserSelect(true)"
				class="mx-2 pointer" v-if="conversationOpenWithUserSelect.type === 'bot'"
			>
				mdi-arrow-left
			</v-icon>

			<label for="fileInput">
				<v-icon class="mx-2 pointer">mdi-paperclip</v-icon>
			</label>
			<input @change="fileUpload" class="d-none" type="file" name="fileInput" id="fileInput" accept="image/png, image/jpeg, image/jpg, .doc, .docx, .xls, .pdf, .xlsx">
		</div>
	</div>
</template>

<script>
import { XIcon } from 'vue-feather-icons';
import { mapActions, mapGetters } from "vuex";
import { prettyBytes } from "../../../common/helpers";
import AutocompleteForBot from "./base/AutocompleteForBot";

export default {
	name: "ChatAreaFooter",
	components: {
		AutocompleteForBot,
		XIcon
	},
	data() {
		return {
			message: "",
			keysPressed: {},
			isMessageEditing: false,
			isMessageReplying: false,
			users: [],
			file: null,
			fileExtension: null,
			fileID: null,
			isLoading: false
		}
	},
	watch: {
		'message'(val){
			this.fetchSetChatText(val)
		},
		'messageToBeEdited'(val){
			if (val !== ""){
				this.isMessageEditing = true;
				this.message = val
			}
		},
		'messageToBeReplied'(val){
			if (val !== ""){
				this.isMessageReplying = true;
				if (this.conversationOpenWithUserSelect.type === 'bot'){
					this.fetchToggleBotUserSelect(false);
					this.users = []
					this.messageToBeReplied.telegram_users.forEach(item => {
						this.users.push(item.id)
					})
				}
			}
		}
	},
	computed: {
		...mapGetters({
			conversationOpenWithUserSelect: "chatModule/getConversationOpenWithUserSelect",
			chatSocket: "socket/getChatSocket",
			currentUser: "auth/getCurrentUser",
			chatText: "chatModule/getChatText",
			messageToBeEdited: "chatModule/getMessageToBeEdited",
			messageToBeReplied: "chatModule/getMessageToBeReplied",
			messageModelToBeEdited: "chatModule/getMessageModelToBeEdited",
			conversationUserMessages: "chatModule/getConversationUserMessages",
			isUserSelectOpen: "chatModule/getIsUserSelectForBotOpen"
		})
	},
	methods: {
		onPaste(val){
			const files = val.clipboardData.files;
			if (files.length > 0){
				this.isLoading = true;
				const file = files[0];
				this.file = file
				const fileExtension = file.name.split('.').pop();
				this.fileExtension = fileExtension;
				let fileExtList = ["PDF", "PNG", "JPG", "JPEG", "DOC", "DOCX", "XLS", "XLSX", "png", "jpg", "jpeg", "pdf", "doc", "docx", "xls", "xlsx"];
				if (!fileExtList.includes(fileExtension)){
					this.$toast.error(this.$t('chat-messenger.components.unsupported-file-type'));
					return
				}
				const fileSize = prettyBytes(file.size);

				let formData = new FormData();
				formData.append('file', file)

				this.$axios.post(`/upload/`, formData)
					.then(({ data }) => {
						this.fileID = data.id;

						if (this.conversationOpenWithUserSelect.type !== 'bot') {
							this.chatSocket.onMessageSend({
								command: "new_message",
								file: data.id,
								ext: fileExtension,
								chat_type: this.conversationOpenWithUserSelect.type,
								chat_id: this.conversationOpenWithUserSelect.id,
								text: fileSize,
							});
						}
					})
				.catch(err => {
					this.isLoading = false;
					this.$toast.error("Error!");
				})
				.finally(() => {
					this.isLoading = false;
				})
			}
		},
		...mapActions({
			fetchToggleScrollHeight: "chatModule/fetchToggleScrollHeight",
			fetchSetChatText: "chatModule/fetchSetChatText",
			fetchConversationUsersList: "chatModule/fetchConversationUsersList",
			fetchEditMessage: "chatModule/fetchEditMessage",
			fetchClearChangingMessages: "chatModule/fetchClearChangingMessages",
			fetchToggleBotUserSelect: "chatModule/fetchToggleBotUserSelect",
			fetchSetMessageToBeReplied: "chatModule/fetchSetMessageToBeReplied",
		}),
		/**/
		fileUpload(){
			const file = document.getElementById("fileInput").files[0];
			this.file = file
			const fileExtension = file.name.split('.').pop();
			this.fileExtension = fileExtension;
			let fileExtList = ["PDF", "PNG", "JPG", "JPEG", "DOC", "DOCX", "XLS", "XLSX", "png", "jpg", "jpeg", "pdf", "doc", "docx", "xls", "xlsx", "zip", "rar", "tar"];
			if (!fileExtList.includes(fileExtension)){
				this.$toast.error(this.$t('chat-messenger.components.unsupported-file-type'));
				return
			}
			const fileSize = prettyBytes(file.size);

			let formData = new FormData();
			formData.append('file', file)

			const config = {
				onUploadProgress: (progressEvent) => {
					let percentCompleted = Math.round((progressEvent.loaded * 100) / progressEvent.total)
					console.log(percentCompleted)
				}
			}

			this.$axios.post(`/upload/`, formData, config)
				.then(({ data }) => {
					this.fileID = data.id;

					if (this.conversationOpenWithUserSelect.type !== 'bot') {
						this.chatSocket.onMessageSend({
							command: "new_message",
							file: data.id,
							ext: fileExtension,
							chat_type: this.conversationOpenWithUserSelect.type,
							chat_id: this.conversationOpenWithUserSelect.id,
							text: fileSize,
						});
					}
				})
		},
		/**/
		send() {
			if (this.isMessageEditing){
				this.fetchEditMessage(this.message)
				.then((data) => {
					this.isMessageEditing = false;
					this.fetchClearChangingMessages();
				})
			}
			else if(this.isMessageReplying){
				if(!this.chatText.trim()) {
					return false
				}
				this.chatSocket.onMessageSend({
					command: "new_message",
					text: this.message.replaceAll("\n", "<br />"),
					chat_type: this.conversationOpenWithUserSelect.type,
					chat_id: this.conversationOpenWithUserSelect.id,
					replied_to_id: this.messageModelToBeEdited.id
				});

				this.isMessageReplying = false;
				this.fetchClearChangingMessages();

				this.fetchToggleScrollHeight();
				this.fetchSetMessageToBeReplied("");
			}
			else {
				if(!this.chatText.trim()) {
					return false
				}

				this.chatSocket.onMessageSend({
					command: "new_message",
					text: this.message.replaceAll("\n", "<br />"),
					chat_type: this.conversationOpenWithUserSelect.type,
					chat_id: this.conversationOpenWithUserSelect.id
				});
				this.isMessageReplying = false

				this.fetchToggleScrollHeight();
			}
			this.fetchSetChatText("");
			this.message = "";
			this.fetchConversationUsersList();
			document.getElementById('fileInput').value = null;
		},

		sendByEnter(event) {
			event.preventDefault()
			event.stopImmediatePropagation()

			if(!this.chatText.trim()) {
				return false
			}
			if (this.conversationOpenWithUserSelect.type === 'bot'){
				this.sendBotMessage();
			}else {
				this.send();
			}
		},
		/**/
		cancelEditing(){
			this.isMessageEditing = false;
			this.isMessageReplying = false;
			this.message = "";
			this.fetchSetMessageToBeReplied("");
			this.users = [];
			this.fetchToggleBotUserSelect(true)

		},
		/**/
		sendBotMessage(){
			if(!this.chatText.trim()) {
				return false
			}

			let formData = new FormData();

			for (let i = 0; i < this.users.length; i++){
				formData.append("receivers", this.users[i])
			}
			if (this.file){
				formData.append("file", this.file);
			}
			formData.append("description", this.message.replaceAll("\n", "<br />"))
			formData.append("chat_id", this.conversationOpenWithUserSelect.id)

			this.$axios.post(`/alert/send/assignment/`, formData)
			.then(({ data }) => {
				if (data.status === "success"){
					this.fetchToggleBotUserSelect(true)
					this.clearModel();
					this.file = null;
					this.fileID = null;
					document.getElementById('fileInput').value = null;
				}else {
					this.$toast.error(this.$t('chat-messenger.send-error'))
				}
			});


			this.chatSocket.onMessageSend({
				command: "new_message",
				file: this.fileID ? this.fileID : null,
				ext: this.fileExtension,
				text: this.message.replaceAll("\n", "<br />"),
				chat_type: this.conversationOpenWithUserSelect.type,
				chat_id: this.conversationOpenWithUserSelect.id,
				message_type: 'BOT_MESSAGE',
				telegram_users: this.users
			})

			this.clearModel();
			this.fetchToggleScrollHeight();
			this.isMessageReplying = false;
			this.fetchSetMessageToBeReplied("");
		},
		/**/
		getData(val) {
			this.users = val
		},
		/**/
		clearModel(){
			const { autocomplete } = this.$refs;
			autocomplete.users = [];
			this.users = [];
			this.message = "";
			this.file = null;
			this.fileID = null;
		}
	},
}
</script>

<style>
.chat-area-footer-view {
	min-height: 64px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 8px rgba(0, 0, 0, 0.1);
	width: 50vw;
}

.chat-textarea {
	max-height: 350px;
	overflow-y: auto;
}

.chat-textarea .v-input__slot {
	min-height: 32px !important;
}

.chat-textarea textarea {
	font-size: 14px;
	margin-top: 7px !important;
}

.edited-message-box{
	min-height: 50px;
	width: 50vw;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 8px rgba(0, 0, 0, 0.1);
}
.edited-message{
	max-width: 45vw;
}
</style>
