<template>
	<div class="tab-users-list-view">
		<template v-if="conversationBotListComputed && conversationBotListComputed.length">
			<template >
				<messenger-user-card
					:class="{'selected' : user.id === selectedChat.id}"
					:item="user"
					:key="user.id"
					@click.prevent="selected(user)"
					is-bot
					v-for="user in conversationBotListComputed"
				/>
			</template>
		</template>
		<template v-else>
			<div class="d-flex w-100 align-center justify-center py-16">
				<div @click.prevent="startBot" class="d-flex pointer align-center">
					<v-icon color="primary" class="mr-2">mdi-robot-happy-outline</v-icon>
					<span class="font-600 small-1 primary-text text-underline">{{$t('chat-messenger.components.run-bot')}}</span>
				</div>
			</div>
		</template>
	</div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import MessengerUserCard from "../../../common/components/MessengerUserCard";

export default {
	name: "ChatSidebarTabBot",
	components: {
		MessengerUserCard
	},
	data() {
		return {
			// user: {
			// 	id: 12345678,
			// 	chat: [
			// 		{
			// 			user: {
			// 				color: "#2196F3",
			// 				full_name: "Intranet Bot",
			// 				avatar: null,
			// 				id: 987321546,
			// 			}
			// 		}
			// 	]
			// }
		}
	},
	beforeDestroy() {
		this.selectedChat.id = 123456
	},
	created() {
		this.fetchGetBot();
	},
	computed: {
		...mapGetters({
			selectedChat: "chatModule/getSelectedChat",
			conversationBotList: "chatModule/getConversationBotList",
		}),
		conversationBotListComputed() {
			return this.conversationBotList.sort((a, b) =>  new Date(b.last_message?.created_date) - new Date(a.last_message?.created_date))
		}
	},
	methods: {
		...mapActions({
			fetchSetSelectedChat: "chatModule/fetchSetSelectedChat",
			fetchOpenBot: "chatModule/fetchOpenBot",
			fetchToggleBotUserSelect: "chatModule/fetchToggleBotUserSelect",
			fetchSetIsGroup: "chatModule/fetchSetIsGroup",
			fetchToggleScrollHeightToFindBottom: "chatModule/fetchToggleScrollHeightToFindBottom",
			fetchGetBot: "chatModule/fetchGetBot",
			fetchStartBot: "chatModule/fetchStartBot",
		}),
		startBot(){
			this.fetchStartBot().then(data => {
				this.fetchSetSelectedChat(data);
				this.fetchToggleBotUserSelect(true);
				this.fetchSetIsGroup(true);
				this.fetchToggleScrollHeightToFindBottom();
			})
		},
		selected(user) {
			if (user.id === this.selectedChat.id){
				return
			}
			this.fetchOpenBot()
			this.fetchSetSelectedChat(user);
			this.fetchToggleBotUserSelect(true);
			this.fetchSetIsGroup(true);
			this.fetchToggleScrollHeightToFindBottom();
		}
	}
}
</script>

<style scoped>

</style>
