<template>
	<div class="chat-sidebar-group-view p-relative">
<!--		<app-loader v-if="isUsersLoading" content-width/>-->

		<template>
			<messenger-group-card
				v-for="group in conversationGroupListComputed"
				:key="group.id"
				:item="group"
				@click.prevent="selected(group)"
				:class="{
				'selected': group.id === selectedChat.id
			}"
			/>
		</template>
	</div>
</template>

<script>
import MessengerGroupCard from "./base/MessengerGroupCard";
import {mapActions, mapGetters} from "vuex";

export default {
	name: "ChatSidebarTabGroupsList",
	components: {
		MessengerGroupCard
	},
	computed: {
		...mapGetters({
			conversationGroupList: "chatModule/getConversationGroupList",
			selectedChat: "chatModule/getSelectedChat",
			// isUsersLoading: "chatModule/getIsUsersLoading",
		}),
		conversationGroupListComputed() {
			return this.conversationGroupList.sort((a, b) =>  new Date(b.last_message?.created_date) - new Date(a.last_message?.created_date))
		}
	},
	created() {
		this.fetchConversationGroupList();
	},

	methods: {
		...mapActions({
			fetchConversationGroupList: "chatModule/fetchConversationGroupList",
			openPrivateChat: "chatModule/openPrivateChat",
			fetchSetSelectedChat: "chatModule/fetchSetSelectedChat",
			fetchSetIsGroup: "chatModule/fetchSetIsGroup",
			fetchToggleScrollHeightToFindBottom: "chatModule/fetchToggleScrollHeightToFindBottom",
			fetchOpenGroupChat: "chatModule/fetchOpenGroupChat",
			fetchToggleBotUserSelect: "chatModule/fetchToggleBotUserSelect",
		}),
		/**/
		selected(group){
			if (group.id === this.selectedChat.id){
				return
			}
			this.fetchOpenGroupChat(group)
			this.fetchSetSelectedChat(group)
			this.openPrivateChat(group)
			this.fetchSetIsGroup(true)
			this.fetchToggleBotUserSelect(false)
		}
	}
}
</script>

<style>

</style>
