<template>
	<div class="chat-area-wrapper-view d-flex w-100">
		<app-loader v-if="isChatLoading" component-based />
		<template v-else>
			<div class="d-flex flex-column justify-space-between w-100">
				<chat-area-header/>

				<perfect-scrollbar ref="scroll">
					<chat-area/>
				</perfect-scrollbar>

				<chat-area-footer/>
			</div>

			<div class="user-info-sidebar"
			     v-if="isUserDetailSidebarOpen"
			>
				<chat-sidebar-about-wrapper/>
			</div>
		</template>
	</div>
</template>

<script>
import ChatAreaHeader from "./ChatAreaHeader";
import ChatArea from "./ChatArea";
import ChatAreaFooter from "./ChatAreaFooter";
import {mapActions, mapGetters} from "vuex"

export default {
	name: "ChatAreaWrapper",
	components: {
		ChatAreaHeader,
		ChatArea,
		ChatAreaFooter,
		ChatSidebarAboutWrapper: () => import(/* webpackChunkName: "ChatSidebarAboutWrapper" */ "./ChatSidebarAboutWrapper"),
	},
	computed: {
		...mapGetters({
			isUserDetailSidebarOpen: "chatModule/getIsUserDetailSidebarOpen",
			scrollHeight: "chatModule/getScrollHeight",
			isScrollHeightChanged: "chatModule/getIsScrollHeightChanged",
			isChatLoading: "chatModule/getIsChatLoading",
		})
	},
	watch: {
		'isScrollHeightChanged'(newVal, oldVal) {
			const {scroll} = this.$refs;
			// this.fetchSetScrollHeight(scroll.$el.scrollHeight)
			setTimeout(() => {
				scroll.$el.scrollTop = scroll.$el.scrollHeight
			}, 100)
		},
		/**/
		'scrollHeight'() {
			const {scroll} = this.$refs;
			setTimeout(() => {
				scroll.$el.scrollTop = scroll.$el.scrollHeight
			}, 100)
		}
	},
	methods: {
		...mapActions({
			fetchSetScrollHeight: "chatModule/fetchSetScrollHeight",
			fetchToggleScrollHeight: "chatModule/fetchToggleScrollHeight"
		}),
	}
}
</script>

<style>

</style>
