<template>
	<div class="sidebar-about-wrapper h-100">
		<chat-sidebar-about-user v-if="conversationUserSelected.type === 'private' || conversationUserSelected.type === 'bot'" />
		<chat-sidebar-about-group v-else />
	</div>
</template>

<script>
import ChatSidebarAboutUser from "./SidebarAbout/ChatSidebarAboutUser";
import ChatSidebarAboutGroup from "./SidebarAbout/ChatSidebarAboutGroup";
import {mapGetters} from "vuex";

export default {
	name: "ChatSidebarAboutWrapper",
	components: {
		ChatSidebarAboutUser,
		ChatSidebarAboutGroup
	},
	computed: {
		...mapGetters({
			conversationUserSelected: "chatModule/getConversationUserSelected"
		})
	},
}
</script>

<style scoped>

</style>
