<template>
	<div v-if="conversationUserSelected" class="chat-area-header-view d-flex align-center bg-4">
		<messenger-user-card
			v-if="conversationUserSelected.type === 'private' || conversationUserSelected.type === 'bot'"
			@click="openUserDetailSidebar(true)"
			:item="conversationUserSelected"
			avatar-size="40"
			compact
			:hover="false"
			is-bot
		/>
		<messenger-group-card
			v-else
			:item="conversationUserSelected"
			:hover="false"
			compact
			@click="openUserDetailSidebar(true)"
		/>
	</div>
</template>

<script>
import MessengerUserCard from "@/common/components/MessengerUserCard";
import MessengerGroupCard from "./base/MessengerGroupCard";
import { mapGetters, mapActions } from "vuex";

export default {
	name: "ChatAreaHeader",
	components: {
		MessengerUserCard,
		MessengerGroupCard
	},
	computed: {
		...mapGetters({
			conversationUserSelected: "chatModule/getConversationUserSelected"
		})
	},
	methods: {
		...mapActions({
			openUserDetailSidebar: "chatModule/openUserDetailSidebar"
		})
	}
}
</script>

<style>
.chat-area-header-view {
	height: 65px;
	/*min-width: 55vw;*/
}
</style>
