<template>
	<div class="chat-sidebar-tabs d-flex flex-column flex-1 scrolled">
		<v-tabs
			v-model="tab"
			slider-size="4"
			class="border-bottom px-1"
			style="flex: initial"
		>
			<v-tab>
				<v-icon color="primary" class="mr-2">mdi-account-outline</v-icon>
				<span class="font-500 text-capitalize">{{$t('chat-messenger.components.personal')}}</span>
			</v-tab>
			<v-tab>
				<v-icon color="primary" class="mr-2">mdi-account-group-outline</v-icon>
				<span class="font-500 text-capitalize">{{$t('chat-messenger.components.groups')}}</span>
			</v-tab>
			<v-tab>
				<v-icon color="primary" class="mr-2">mdi-robot-happy-outline</v-icon>
				<span class="font-500 text-capitalize">{{$t('chat-messenger.components.bot')}}</span>
			</v-tab>
		</v-tabs>

		<v-tabs-items v-model="tab" class="flex-1 overflow-y-auto h-100">
			<v-tab-item class="pa-2">
				<chat-sidebar-tab-users-list />
			</v-tab-item>

			<v-tab-item class="pa-2">
				<chat-sidebar-tab-groups-list />
			</v-tab-item>

			<v-tab-item class="pa-2">
				<chat-sidebar-tab-bot />
			</v-tab-item>
		</v-tabs-items>

		<div class="p-absolute" style="bottom: 15px; right: 25px">
			<chat-create-group-modal />
		</div>
	</div>
</template>

<script>
import { mapGetters } from "vuex";
import ChatCreateGroupModal from "./ChatCreateGroupModal";
import ChatSidebarTabBot from "./ChatSidebarTabBot";
import ChatSidebarTabGroupsList from "./ChatSidebarTabGroupsList";
import ChatSidebarTabUsersList from "./ChatSidebarTabUsersList";

export default {
	name: "ChatSidebarTabs",
	components: {
		ChatSidebarTabUsersList,
		ChatSidebarTabGroupsList,
		ChatCreateGroupModal,
		ChatSidebarTabBot
	},
	data() {
		return {
			tab: 0
		}
	},
	computed: {
		...mapGetters({
			currentUser: "auth/getCurrentUser",
		})
	}
}
</script>

<style>
.scrolled .v-window__container {
	height: 1px;
}
.chat-sidebar-tabs .v-tab.v-tab {
	color: inherit!important;
}
</style>
