<template>
	<div class="tab-users-list-view">
		<perfect-scrollbar>
			<messenger-user-card
				v-for="user in conversationPersonalUsersComputed"
				:class="{'selected' : user.id === selectedChat.id}"
				:item="user"
				:key="user.id"
				@click.prevent="selected(user)"
			/>
		</perfect-scrollbar>
	</div>
</template>

<script>
import MessengerUserCard from "@/common/components/MessengerUserCard";
import { mapActions, mapGetters } from "vuex";

export default {
	name: "ChatSidebarTabUsersList",
	components: {
		MessengerUserCard
	},
	computed: {
		...mapGetters({
			conversationPersonalUsers: "chatModule/getConversationPersonalUsers",
			selectedChat: "chatModule/getSelectedChat",
			// isUsersLoading: "chatModule/getIsUsersLoading",
		}),
		conversationPersonalUsersComputed() {
			return this.conversationPersonalUsers.sort((a, b) =>  new Date(b.last_message?.created_date) - new Date(a.last_message?.created_date))
		}
	},
	created() {
		this.fetchConversationUsersList()
	},
	methods: {
		...mapActions({
			fetchConversationUsersList: "chatModule/fetchConversationUsersList",
			openPrivateChat: "chatModule/openPrivateChat",
			fetchToggleScrollHeight: "chatModule/fetchToggleScrollHeight",
			fetchToggleScrollHeightToFindBottom: "chatModule/fetchToggleScrollHeightToFindBottom",
			fetchSetSelectedChat: "chatModule/fetchSetSelectedChat",
			fetchSetIsGroup: "chatModule/fetchSetIsGroup",
			fetchToggleBotUserSelect: "chatModule/fetchToggleBotUserSelect",
		}),
		/*
		*
		* */
		selected(user) {
			if (user.id === this.selectedChat.id) {
				this.fetchToggleScrollHeight()
				return
			}
			this.fetchSetSelectedChat(user)
			this.openPrivateChat(user);
			this.fetchToggleScrollHeightToFindBottom();
			this.fetchSetIsGroup(false)
			this.fetchToggleBotUserSelect(false)
		}
	}
}
</script>

<style>
.tab-users-list-view .ps{
	height: calc(100vh - 240px);
}
</style>
