<template>
	<div class="d-flex grid-gap-md h-100">
		<registration-form-wrapper
			:form-title="$t('document-flow.views.registration.edit-document')"
			:tree-id="$route.params.id"
			:viewer-list="attachDocumentsList"
			view-type="incoming"
		/>

		<pdf-viewer
			:viewer-list="attachDocumentsList"
			:register-number="reviewGetOne.register_number"
			:register-date="reviewGetOne.register_date"
		/>
	</div>
</template>

<script>
import PdfViewer from "@/common/components/PdfViewer";
import { mapActions, mapGetters } from "vuex";
import RegistrationFormWrapper from "../../../../../components/RegistrationFormWrapper";
export default {
	name: "SecretDocumentsShow",
	components: {
		PdfViewer,
		RegistrationFormWrapper
	},
	computed: {
		...mapGetters({
			attachDocumentsList: "documentFlowModule/getAttachDocumentsList",
			reviewGetOne: "documentFlowModule/getReviewGetOneSecretDocuments",
		}),
		/*
		*
		* */
		mergeViewList() {
			return [...this.attachDocumentsList]
		}
	},
	mounted() {
		if(this.$route.params.id) {
			this.fetchAttachFilesList({
				incomingDocId: this.$route.params.id
			})
		}
	},
	methods: {
		...mapActions({
			fetchAttachFilesList: "documentFlowModule/fetchAttachFilesList",
		})
	}
}
</script>

<style scoped>

</style>
