<script>
export default {
	name: "BaseSwitch",
	props: {
		value: {
			type: Boolean
		}
	},
	computed: {
		content: {
			get() {
				return this.value
			},
			set(value) {
				this.$emit("input", value)
			}
		}
	}
}
</script>

<template>
	<div
		class="base-switch-component"
		:class="content ? '' : 'switch-false'"
	>
		<v-switch
			v-model="content"
			inset
			v-bind="$attrs"
			v-on="$listeners"
			color="success-300"
			hide-details
			:ripple="false"
		></v-switch>
	</div>
</template>

<style>
.v-input--switch--inset .v-input--switch__track {
	opacity: 1!important;
}

.v-input--switch--inset.v-input--is-dirty .v-input--switch__thumb {
	color: white!important;
}

.switch-false .theme--light.v-input--switch .v-input--switch__track {
	color: var(--greyscale-300)!important;
}



</style>
