<script>
export default {
	name: "BaseFileUpload",
	props: {
		files: {
			type: Array,
			default: () => []
		},
		multiple: {
			type: Boolean,
			default: true
		},
		label: {
			type: [String, Boolean],
			default: 'components.attach-file'
		}
	},
	data: () => ({
		tempFiles: [],
		isDragging: false
	}),
	methods: {
		onFileSelect(event) {
			const files = event.target.files
			this.uploadFiles(files)
		},
		/** **/
		chooseFiles() {
			const { fileInput } = this.$refs
			fileInput.click()
		},
		/** **/
		async uploadFiles(files) {
			if (files.length === 0) return
			for (let i = 0; i < files.length; i++) {
				let fileName = this.returnShortFileName(files[i].name)
				let size = files[i].size
				let fileSize = (size > 1048576) ? (size / 1048576).toFixed(2) + ' MB' : (size <= 1048576 && size > 1024) ? (size / 1024).toFixed(2) + ' KB' : size + ' B'
				this.tempFiles.push({ id: null, name: fileName, size: fileSize, progress: 0, uploaded: null, file: files[i], url: null })
			}

			for (const item of this.tempFiles.filter((obj) => obj.uploaded === null)) {
				let formData = new FormData()
				formData.append("file", item.file)

				await this.$axios.post(`/upload/`, formData, {
					onUploadProgress: ({ loaded, total }) => {
						item.progress = Math.floor((loaded / total) * 100) - 1
					}
				})
					.then(({ data }) => {
						item.id = data.id
						item.uploaded = true
						item.url = data.url
					})
					.catch(() => {
						item.uploaded = false
					})
			}
			this.$emit('emit:fileUpload', this.tempFiles.filter(file => file.uploaded))
		},
		/** **/
		returnShortFileName(fileName){
			return (fileName.split('.')[0].length >= 12) ? fileName.substring(0, 13) + '... .' + fileName.split('.')[1] : fileName
		},
		/** **/
		deleteFile(event, file) {
			event.stopImmediatePropagation()
			// this.clearFileInput()
			const index = this.tempFiles.findIndex(x => x.id === file.id)
			this.tempFiles.splice(index, 1)
			if (this.multiple) {
				this.$emit('emit:fileUpload', this.tempFiles.filter(file => file.uploaded))
			} else {
				this.$emit('emit:onFileDelete')
			}
		},
		/** **/
		clearFileInput() {
			this.tempFiles = []
			const { fileInput } = this.$refs
			fileInput.value = ""
		},
		/** **/
		setFiles() {
			if (this.files && this.files.length){
				this.files.forEach(file => {
					this.tempFiles.push({
						id: file.id,
						name: this.returnShortFileName(file.name),
						size: file.file_size > 1 ? file.file_size + ' MB' : (file.file_size * 1024).toFixed(2) + ' KB',
						progress: 0,
						uploaded: true
					})
				})
			}
		},
		/** **/
		onDragOver(event) {
			event.preventDefault()
			this.isDragging = true
			event.dataTransfer.dropEffect = "copy"
		},
		/** **/
		onDragLeave(event) {
			event.preventDefault()
			this.isDragging = false
		},
		/** **/
		onDrop(event) {
			event.preventDefault()
			this.isDragging = false
			const files = event.dataTransfer.files
			this.uploadFiles(files)
		}
	},
	mounted() {
		this.setFiles()
	}
}
</script>

<template>
	<div class="base-file-upload-component">
		<input type="file" name="file" :multiple="multiple" hidden ref="fileInput" @change="onFileSelect">

		<span v-if="label" class="small-2 text-greyscale-700 font-500 d-block mb-2">{{ $t(label) }}</span>

		<div
			class="file-upload d-flex overflow-hidden align-center bg-greyscale-100 rounded-8 border-all pointer"
			:class="{ 'file-upload-hover' : isDragging }"
			@click="chooseFiles"
			@dragover.prevent="onDragOver"
			@dragleave.prevent="onDragLeave"
			@drop.prevent="onDrop"
		>
			<template v-if="!tempFiles.length">
				<div class="d-flex align-center gap-x-2 px-3 h-10">
					<base-iconify
						icon="CloudUpload"
						class="text-primary-500"
					/>
					<div v-if="$i18n.locale === 'ru'" class="text-greyscale-400 small-2"><span class="text-primary-500">Перетащите</span> или <span class="text-primary-500">загрузите</span> свой файл</div>
					<div v-else class="text-greyscale-400 small-2">Faylingizni <span class="text-primary-500">torting</span> yoki <span class="text-primary-500">yuklang</span></div>
				</div>
			</template>

			<template v-else>
				<div
					class="d-flex flex-wrap gap-x-2 gap-y-2"
					style="padding: 5px 12px"
				>
					<div
						v-for="(file, index) in tempFiles"
						:key="`${index} ${file.name}`"
						class="d-flex align-center gap-x-1 rounded-80 p-relative overflow-hidden"
						:class="file.uploaded === true ? 'bg-success-50' : file.uploaded === false ? 'bg-critic-50' : 'bg-white'"
						style="padding: 2px 6px; height: 28px"
					>
						<div
							class="p-absolute bg-success-50 h-100"
							style="left: 0"
							:style="{ width: `${file.progress}%` }"
						/>

						<div class="d-flex align-center gap-x-1" style="z-index: 1">
							<base-iconify icon="FileDocument" class="text-primary-500"/>
							<span class="small-2 text-greyscale-900">{{ file.name }}</span>
							<div
								v-if="file.uploaded !== null"
								class="d-flex justify-center align-center w-6 h-6 rounded-50 bg-critic-100"
								@click="deleteFile($event, file)"
							>
								<base-iconify icon="CloseSm" class="text-critic-500"/>
							</div>

							<div v-else class="d-flex w-6 h-6 justify-center align-center">
								<span class="small-3 text-greyscale-900">{{ file.progress }}</span>
							</div>
						</div>
					</div>
				</div>
			</template>
		</div>
	</div>
</template>

<style scoped>
.file-upload:hover,
.file-upload-hover{
	background: var(--primary-50);
	border: 1px solid var(--primary-500);
}
</style>