<script>
export default {
	name: "BaseRadioGroup",
	props: {
		value: {
			type: [Boolean, String, Number, Object]
		},
		items: {
			type: Array,
			default: () => []
		},
		label: {
			type: String,
			default: null
		},
		row: {
			type: Boolean,
			default: false
		},
		color: {
			type: String,
			default: "success",
			validator(value) {
				return ["success", "primary"].includes(value)
			}
		}
	},
	computed: {
		radio: {
			get() {
				return this.value
			},
			set(value) {
				this.$emit('input', value)
			}
		}
	}
}
</script>

<template>
	<div
		class="base-radio-group-component"
		:class="color === 'success' ? 'success-radio' : 'primary-radio'"
	>
		<span
			v-if="label"
			class="small-2 font-500 text-greyscale-700 d-block mb-6px"
		>
			{{ $t(label) }}
		</span>

		<v-radio-group
			v-model="radio"
			hide-details
			:row="row"
			:class="{ 'row-layout': row }"
		>
			<v-radio
				v-for="item in items"
				:key="item.value"
				:value="item.value"
				:ripple="false"
				:on-icon="color === 'success' ? '$vuetify.icons.RadioCircleCheckedIcon' : '$radioOn'"
				off-icon="$vuetify.icons.CheckBoxCircleBlankIcon"
				hide-details
				@change="$emit('emit:change', item)"
			>
				<template #label>
					<div class="text-greyscale-900 small-2 font-500">{{ item.label }}</div>
				</template>
			</v-radio>
		</v-radio-group>
	</div>
</template>

<style>
.base-radio-group-component .v-radio {
	height: 44px!important;
	border: 2px solid var(--greyscale-100)!important;
	border-radius: 12px!important;
	padding: 12px 16px!important;
	background: var(--greyscale-50)!important;
}

.success-radio .v-item--active {
	border: 2px solid var(--success-300)!important;
}

.primary-radio .v-item--active {
	border: 2px solid var(--primary-500)!important;
}

.base-radio-group-component .v-radio:hover {
	background: var(--greyscale-100)!important;
}

.base-radio-group-component .v-radio:not(:last-child):not(:only-child) {
	margin-bottom: 4px!important;
}

.base-radio-group-component .v-radio svg {
	width: 20px !important;
}

.v-input--selection-controls {
	padding: 0;
	margin: 0;
}

.row-layout .v-radio {
	flex: 1;
}
</style>