<script>
export default {
  name: "BaseDatePicker",
  props: {
    value: {
      type: [Date, String]
    },
	  count: {
		  type: [Number, String]
	  },
    label: {
      type: String,
      default: null
    },
	  hasFormat: {
		  type: Boolean,
		  default: false
	  },
	  dateFormatType: {
		  type: String,
		  default: "EEEE, d MMMM"
	  },
  },
  computed: {
    content: {
      get() {
        return this.value
      },
      set(value) {
        this.$emit('input', value)
      }
    }
  }
}
</script>

<template>
  <div class="base-date-picker-component">
    <span v-if="label" class="small-2 font-500 text-greyscale-700 d-block mb-6px">
	    {{ count }}
	    {{ $t(label) }}
    </span>

    <app-date-picker
      v-model="content"
      v-on="$listeners"
      v-bind="$attrs"
      with-input
      dense
      :date-format-type="dateFormatType"
      :has-format="hasFormat"
      background-color="var(--greyscale-100)"
      :placeholder="$t('select-date')"
    />
  </div>
</template>

<style>
.base-date-picker-component .theme--light.v-input input::placeholder {
  font-size: 14px!important;
  //font-weight: 500!important;
  color: var(--greyscale-400)!important;
}
.base-date-picker-component .theme--light.v-input input{
  font-size: 14px!important;
}
.base-date-picker-component .v-input__icon--clear .v-icon {
  font-size: 16px!important;
  color: var(--greyscale-500);
}
.base-date-picker-component .v-text-field--outlined > .v-input__control > .v-input__slot {
	height: 40px!important;
}
</style>