<script>
export default {
	name: "BaseButtonTab",
	props: {
		items: {
			type: Array,
			default: () => []
		}
	},
	methods: {
		changeItem(item) {
			this.items.forEach(i => i.active = i.id === item.id)
			this.$emit('emit:onChangeItem', item)
		}
	}
}
</script>

<template>
	<div class="base-button-tab d-flex gap-x-4 align-center mb-5">
		<div
			v-for="item in items"
			:key="item.id"
			class="d-flex align-center gap-x-1 border-all rounded-80 pointer p-relative px-3 py-2"
			:class="item.active ? 'bg-primary-500' : 'bg-greyscale-50'"
			@click="changeItem(item)"
		>
			<base-iconify
				v-if="item.icon"
				:icon="item.icon"
				:icon-stroke-width="item.iconStrokeWidth || null"
				:class="item.active ? 'text-white' : 'text-greyscale-500'"
			/>

			<span
				class="small-2 font-500"
				:class="item.active ? 'text-white' : 'text-greyscale-700'"
			>
				{{ $t(item.label) }}
			</span>

			<div
				v-if="item.count"
				class="d-flex justify-center align-center p-absolute h-6 rounded-50 bg-critic-500 border-all-2 pa-1"
				style="top: -12px; right: -4px; min-width: 24px"
			>
				<span class="text-white small-3 font-600">{{ item.count }}</span>
			</div>
		</div>
	</div>
</template>

<style scoped>

</style>