<script>
export default {
	name: "BaseCheckbox",
	props: {
		value: {
			type: Boolean
		}
	},
	computed: {
		checkbox: {
			get() {
				return this.value
			},
			set(value) {
				this.$emit('input', value)
			}
		}
	}
}
</script>

<template>
	<div
		class="base-checkbox-component w-100"
		:class="checkbox ? 'checked' : 'notChecked'"
	>
		<v-checkbox
			v-model="checkbox"
			v-bind="$attrs"
			v-on="$listeners"
			:ripple="false"
			on-icon="$vuetify.icons.CheckBoxCircleCheckedIcon"
			off-icon="$vuetify.icons.CheckBoxCircleBlankIcon"
			hide-details
		>

		</v-checkbox>
	</div>
</template>

<style>
.base-checkbox-component .v-label {
	font-size: 14px!important;
	font-weight: 500!important;
	color: var(--greyscale-900) !important;
}

.base-checkbox-component .v-input__slot{
	padding: 10px 12px!important;
	border-radius: 8px!important;
	height: 40px!important;
}

.notChecked .v-input__slot {
	background: var(--greyscale-100)!important;
	border: 1px solid var(--greyscale-200) !important;
}

.checked .v-input__slot {
	background: var(--greyscale-50)!important;
	border: 1px solid var(--primary-500) !important;
}

.base-checkbox-component .v-input--selection-controls{
	margin: 0!important;
	padding: 0!important;
}
</style>
