<script>
import { Icon } from '@iconify/vue2'
import * as Icons from '../Icons'

export default {
	name: "BaseIconify",
	components: { Icon },
	props: {
		icon: {
			type: String,
			default: ''
		},
		width: {
			type: [String, Number],
			default: 20
		},
		height: {
			type: [String, Number],
			default: 20
		},
		iconStrokeWidth: {
			type: [String, Number],
			default: null
		}
	},
	computed: {
		computedIcon() {
			return Icons[this.icon] || ''
		}
	},
	methods: {
		setStrokeWith() {
			const svgGroup = this.$refs.iconElement.$el.querySelector('g')
			if (svgGroup) {
				svgGroup.setAttribute('stroke-width', this.iconStrokeWidth)
			}
		}
	},
	mounted() {
		if (this.iconStrokeWidth) {
			this.setStrokeWith()
		}
	}
}
</script>

<template>
	<div class="base-iconify-component d-flex justify-center align-center">
		<Icon
			v-bind="$attrs"
			v-on="$listeners"
			:icon="computedIcon"
			:width="width"
			:height="height"
			ref="iconElement"
		/>
	</div>
</template>

<style scoped>

</style>
