<script>
export default {
	name: "BaseSelect",
	props: {
		value: {
			type: [Number, String, Array, Object],
			default: null
		},
		count: {
			type: [Number, String]
		},
		label: {
			type: String,
			default: null
		},
		placeholder: {
			type: String,
			default: null
		},
		items: {
			type: Array,
			default: () => []
		},
		itemText: {
			type: String,
			default: 'title'
		}
	},
	computed: {
		content: {
			get() {
				return this.value
			},
			set(value) {
				this.$emit("input", value)
			}
		},
		translatedPlaceholder() {
			return this.placeholder || this.$t('dashboard.components.enter-text');
		}
	}
}
</script>

<template>
	<div class="base-select-component">
		<span
			v-if="label"
			class="small-2 font-500 text-greyscale-700 d-block mb-2"
		>
			{{ count }}
			{{ $t(label) }}
		</span>

		<v-select
			v-model="content"
			v-bind="$attrs"
			v-on="$listeners"
			:items="items"
			:item-text="itemText"
			:placeholder="translatedPlaceholder"
			outlined
			dense
			hide-details
			background-color="var(--greyscale-100)"
		>
			<template #append>
				<v-icon>mdi-chevron-down</v-icon>
			</template>
		</v-select>
	</div>
</template>

<style>
.base-select-component .theme--light.v-input input::placeholder {
	font-size: 14px!important;
	//font-weight: 500!important;
	color: var(--greyscale-400)!important;
}
.base-select-component .theme--light.v-input input{
	font-size: 14px!important;
}
</style>