<script>
export default {
	name: "BaseTextField",
	props: {
		value: {
			type: [Number, String],
			default: null
		},
		count: {
			type: [Number, String]
		},
		label: {
			type: String,
			default: null
		},
		placeholder: {
			type: String,
			default: null
		},
		required: {
			type: Boolean,
			default: false
		}
	},
	computed: {
		content: {
			get() {
				return this.value
			},
			set(value) {
				this.$emit("input", value)
			}
		},
		translatedPlaceholder() {
			return this.placeholder || this.$t('dashboard.components.enter-text');
		}
	}
}
</script>

<template>
	<div class="base-text-field-component">
		<span
			v-if="label"
			class="small-2 font-500 text-greyscale-700 d-block mb-6px"
		>
			{{ count }}
			{{ $t(label) }} <span v-if="required" class="text-red">*</span>
		</span>

		<v-text-field
			v-model="content"
			v-bind="$attrs"
			v-on="$listeners"
			outlined
			hide-details
			dense
			:placeholder="translatedPlaceholder"
			background-color="var(--greyscale-100)"
		/>
	</div>
</template>

<style>
.base-text-field-component .theme--light.v-input input::placeholder {
	font-size: 14px!important;
	//font-weight: 500!important;
	color: var(--greyscale-400)!important;
}
.base-text-field-component .theme--light.v-input input{
	font-size: 14px!important;
}
</style>
