<script>
export default {
	name: "BaseModal",
	props: {
		value: {
			type: Boolean,
			default: false
		},
		buttonLoading: {
			type: Boolean,
			default: false
		},
		label: {
			type: String,
			default: 'chat-messenger.components.create-group'
		},
		successButtonLabel: {
			type: String,
			default: 'equipments.views.resolution-content.create'
		},
		cancelButtonLabel: {
			type: String,
			default: 'components.cancel'
		},
		header: {
			type: Boolean,
			default: true
		},
		footer: {
			type: Boolean,
			default: true
		},
		singleChoice: {
			type: Boolean,
			default: false
		}
	},
	data: () => ({
		// dialog: false
	}),
	computed: {
		dialog: {
			get() {
				return this.value
			},
			set(value) {
				this.$emit("input", value)
			}
		}
	},
	methods: {
		onSend() {
			this.$emit('emit:onSend')
		},
		/** **/
		onCancel() {
			this.dialog = false
			this.$emit('emit:onCancel')
		}
	}
}
</script>

<template>
	<div class="base-modal-component">
		<v-dialog
			v-model="dialog"
			v-bind="$attrs"
			v-on="$listeners"
		>
			<div class="d-flex flex-column bg-greyscale-100 rounded-20 py-4 px-6">
				<div
					v-if="header"
					class="d-flex align-center justify-space-between w-100"
				>
					<span class="heading-10 font-600 text-greyscale-900">{{ $t(label) }}</span>
					<div
						class="d-flex justify-center align-center w-8 h-8 rounded-50 bg-greyscale-300 pointer"
						@click="onCancel"
					>
						<base-iconify
							icon="CloseSm"
							class="text-greyscale-500"
							:inline="true"
						/>
					</div>
				</div>

				<div class="d-flex w-100 mt-4 bg-white rounded-16 pa-5">
					<slot />
				</div>

				<template v-if="footer">
					<div class="d-flex mt-5 justify-space-between">
						<app-button
							v-if="!singleChoice"
							height="40"
							color="white"
							width="49%"
							class="rounded-8"
							@click="onCancel"
						>
							<div class="small-2 font-500 text-greyscale-900">{{ $t(cancelButtonLabel) }}</div>
						</app-button>

						<app-button
							height="40"
							:width="singleChoice ? '100%' : '49%'"
							class="rounded-8"
							:loading="buttonLoading"
							@click="onSend"
						>
							<div class="small-2 font-500">{{ $t(successButtonLabel) }}</div>
						</app-button>
					</div>
				</template>
			</div>
		</v-dialog>
	</div>
</template>

<style scoped>

</style>
