<script>
import { STATUS_TYPES } from "../../constants";

export default {
  name: "BaseStatus",
  props: {
    text: {
      type: String,
      default: null
    }
  },
  computed: {
    bgColor() {
      switch (this.text) {
        case STATUS_TYPES.PENDING:
          return 'bg-warning-50'
	      case STATUS_TYPES.IN_PROGRESS:
	      case STATUS_TYPES.ACCEPTED:
					return 'bg-success-50'
	      case STATUS_TYPES.SENT:
	      case STATUS_TYPES.PUBLISHED:
		      return 'bg-info-50'
	      case STATUS_TYPES.REJECTED:
	      case STATUS_TYPES.NOT_PUBLISHED:
		      return 'bg-critic-50'
        default:
          return 'bg-info-50'
      }
    },
    label() {
      switch (this.text) {
	      case STATUS_TYPES.PENDING:
          return this.$t('statusText.pending')
	      case STATUS_TYPES.IN_PROGRESS:
		      return this.$t('started')
	      case STATUS_TYPES.SENT:
		      return this.$t('sent')
	      case STATUS_TYPES.FORWARDED:
		      return this.$t('directed')
	      case STATUS_TYPES.REJECTED:
		      return this.$t('survey-client.completed.rejected')
	      case STATUS_TYPES.ACCEPTED:
		      return this.$t('accept')
	      case STATUS_TYPES.PUBLISHED:
		      return this.$t('published')
	      case STATUS_TYPES.NOT_PUBLISHED:
		      return this.$t('not-published')
        default:
          return this.$t('survey-client.completed.completed')
      }
    },
    textColor() {
      switch (this.text) {
        case STATUS_TYPES.PENDING:
          return 'text-warning-500'
	      case STATUS_TYPES.IN_PROGRESS:
	      case STATUS_TYPES.ACCEPTED:
		      return 'text-success-500'
	      case STATUS_TYPES.SENT:
	      case STATUS_TYPES.PUBLISHED:
		      return 'text-info-500'
	      case STATUS_TYPES.REJECTED:
	      case STATUS_TYPES.NOT_PUBLISHED:
		      return 'text-critic-500'
        default:
          return 'text-info-500'
      }
    }
  }
}
</script>

<template>
  <div
    class="base-status-component d-flex rounded-6"
    :class="bgColor"
    style="padding: 2px 8px"
  >
    <span
      class="small-2 font-600"
      :class="textColor"
    >
      {{ label }}
    </span>
  </div>
</template>

<style scoped>

</style>