<script>
export default {
	name: "BaseTab",
	props: {
		items: {
			type: Array,
			default: () => []
		}
	},
	methods: {
		onItemChange(item) {
			this.items.forEach(i => i.active = i.label === item.label)
			this.$emit('emit:itemChange', item)
		}
	}
}
</script>

<template>
	<div class="base-tab-component">
		<div class="d-flex gap-x-2 px-5 border-bottom pt-5">
			<div
				v-for="item in items"
				class="nav-item d-flex gap-x-2 align-center pointer px-4 py-2"
				:class="item.active ? 'bg-white nav-item-active' : 'bg-greyscale-100'"
				@click="onItemChange(item)"
			>
				<base-iconify
					:icon="item.icon"
					:class="item.active ? 'text-primary-500' : 'text-greyscale-700'"
				/>

				<span
					class="small-2 font-500"
					:class="item.active ? 'text-primary-500' : 'text-greyscale-700'"
				>
					{{ $t(item.label) }}
				</span>

				<div
					v-if="item.count"
					class="d-flex align-center justify-center w-5 h-5 bg-critic-50 rounded-6"
				>
					<span class="small-3 text-critic-500 font-600">{{ item.count }}</span>
				</div>
			</div>
		</div>

		<div class="overflow-hidden overflow-y-auto py-4 px-5">
			<slot :name="items.find(item => item.active).slot" />
		</div>
	</div>
</template>

<style scoped>
.nav-item {
	border: 1px solid var(--greyscale-300);
	border-radius: 8px 8px 0 0;
	margin-bottom: -1px!important;
	user-select: none;
}
.nav-item-active {
	border-bottom: 1px solid white;
}
</style>