<script>
export default {
	name: "BaseTextArea",
	props: {
		value: {
			type: [Number, String],
			default: null
		},
		count: {
			type: [Number, String]
		},
		label: {
			type: String,
			default: null
		},
		placeholder: {
			type: String,
			default: null
		}
	},
	computed: {
		content: {
			get() {
				return this.value
			},
			set(value) {
				this.$emit("input", value)
			}
		},
		translatedPlaceholder() {
			return this.placeholder || this.$t('dashboard.components.enter-text');
		}
	}
}
</script>

<template>
	<div class="base-text-area-component w-100">
		<span v-if="label" class="small-2 font-500 text-greyscale-700 d-block mb-2">
			{{ count }}
			{{ $t(label) }}
		</span>

		<v-textarea
			v-model="content"
			v-bind="$attrs"
			v-on="$listeners"
			outlined
			hide-details
			:placeholder="translatedPlaceholder"
			background-color="var(--greyscale-100)"
		/>
	</div>
</template>

<style>
.base-text-area-component textarea::placeholder{
	font-size: 14px!important;
	font-weight: 500!important;
	color: var(--greyscale-400)!important;
}
.base-text-area-component textarea {
	font-size: 14px!important;
}

.base-text-area-component .v-text-field.v-text-field--enclosed {
	border-radius: 12px;
}
</style>