<template>
	<div class="d-flex grid-gap-md h-100">
		<registration-form-wrapper
			:form-title="$t('document-flow.views.registration.edit-document')"
			:tree-id="$route.params.id"
			:viewer-list="mergeViewList"
			view-type="inner"
		/>

		<pdf-viewer
      :viewer-list="attachDocumentsList"
      :register-number="applicationModel.register_number"
      :register-date="applicationModel.register_date"
    />
	</div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import PdfViewer from "../../../../../../../common/components/PdfViewer";
import RegistrationFormWrapper from "../../../../../components/RegistrationFormWrapper";

export default {
	name: "ApplicationFormShow",
	components: {
		PdfViewer,
		RegistrationFormWrapper
	},
	computed: {
		...mapGetters({
			attachDocumentsList: "documentFlowModule/getAttachDocumentsList",
			applicationModel: "documentFlowModule/getReviewGetOneApplication",
		}),
		/*
		*
		* */
		mergeViewList() {
			return [...this.attachDocumentsList]
		}
	},
	mounted() {
		if(this.$route.params.id) {
			this.fetchApplicationById(this.$route.params.id);
			this.fetchAttachFilesList({
				incomingDocId: this.$route.params.id
			})
		}
	},
	methods: {
		...mapActions({
			fetchAttachFilesList: "documentFlowModule/fetchAttachFilesList",
			fetchApplicationById: "documentFlowModule/fetchApplicationById",
		}),
	}
}
</script>

<style scoped>

</style>
