<template>
	<div class="d-flex flex-column align-start flex-1 pa-4">
		<template v-if="isLoading">
			<app-loader
				component-based
			/>
		</template>

		<template v-else>
			<div v-if="$route.query.type !== 'for_watching_process'" class="d-flex align-center w-100 mb-12">
				<span class="heading-9 font-600 text-dark mr-3 d-block">{{ formTitle }}</span>
				<v-divider/>

				<app-button
					color="error"
					@click="$router.go(-1)"
					class="ml-2"
				>
					<template #prepend>
						<arrow-left-icon size="18" />
					</template>
					<template>
						{{$t('document-flow.views.registration.back')}}
					</template>
				</app-button>

				<template v-if="currentUser.role !== 'assistant'">
					<app-button
						@click="updateDocument"
						depressed
						class="ml-2"
					>
						<template #default>
							{{$t('document-flow.views.registration.save')}}
						</template>
						<template #append>
							<v-icon size="17">mdi-content-save</v-icon>
						</template>
					</app-button>
				</template>
			</div>

			<div class="w-100 mb-auto">
				<v-row>
					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.type-registration-document')}}</span>

							<v-autocomplete
								v-model="$v.applicationModel.journal.$model"
								:error="$v.applicationModel.journal.$error"
								:items="journalList"
								item-text="name"
								outlined
								hide-details
								readonly
								return-object
								background-color="var(--input-bg)"
							>
								<template #append>
									<v-icon>mdi-chevron-down</v-icon>
								</template>
							</v-autocomplete>
						</div>
					</v-col>

					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.registration-date')}}</span>

							<app-date-picker
								v-model="$v.applicationModel.register_date.$model"
								:error="$v.applicationModel.register_date.$error"
								with-input
								background-color="var(--input-bg)"
								:disabled-menu="currentUser.role === 'assistant' || $route.query.type === 'for_watching_process'"
							/>
						</div>
					</v-col>

					<v-col md="6">
						<div v-if="isCorrespondVisible" class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.correspondent')}}</span>

							<app-autocomplete
								ref="correspondent"
								v-model="$v.applicationModel.correspondent.$model"
								:error="$v.applicationModel.correspondent.$error"
								api-list-url="/action/correspondent/"
								:api-params="{ is_for_compose: true }"
								list-type="list"
								item-text="organization_name"
								return-object
								cache-items
								:search-value="applicationModel.correspondent && applicationModel.correspondent.organization_name !== null ? applicationModel.correspondent.organization_name : ''"
								:readonly="currentUser.role === 'assistant' || $route.query.type === 'for_watching_process'"
							/>
						</div>
					</v-col>

					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.document-type')}}</span>

							<app-autocomplete
								v-model="$v.applicationModel.doc_type.$model"
								:error="$v.applicationModel.doc_type.$error"
								:api-list-url="documentReferenceUrl"
								:api-params="{
                  type: 'doc_type',
                  page_size: 30
                }"
								list-type="list"
								item-text="name"
								cache-items
								return-object
								:readonly="currentUser.role === 'assistant' || $route.query.type === 'for_watching_process'"
							/>
						</div>
					</v-col>

					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.document-priority')}}</span>

							<v-select
								v-model="$v.applicationModel.priority.$model"
								:error="$v.applicationModel.priority.$error"
								:items="$store.state.priorityList"
								item-text="title"
								item-value="value"
								outlined
								hide-details
								background-color="var(--input-bg)"
								:readonly="currentUser.role === 'assistant' || $route.query.type === 'for_watching_process'"
							>
								<template #append>
									<v-icon>mdi-chevron-down</v-icon>
								</template>
							</v-select>
						</div>
					</v-col>

					<v-col v-if="applicationModel.deadline" md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{ $t('components.execution-duration') }} </span>

							<app-date-picker
								v-model="applicationModel.deadline"
								with-input
								background-color="var(--input-bg)"
							/>
						</div>
					</v-col>

					<template v-if="currentUser.role !== 'assistant'">
						<v-col md="12">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.attach-file')}}</span>

								<app-file-upload
									@uploadFiles="uploadFiles"
									class="w-100"
									:show-files="false"
									:disabled="$route.query.type === 'for_watching_process'"
								/>
							</div>
						</v-col>
					</template>

					<v-col md="12">
						<span v-if="currentUser.role === 'assistant'" class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.attach-file')}}</span>

						<app-table
							:table-width="500"
							:table-head-items="filesTableHeaders"
						>
							<template #tableBody>
								<tr v-for="(document, index) in attachDocumentsList" :key="document.id">
									<td>{{ index + 1 }}</td>
									<td>{{ document.document.name }}</td>
									<td>{{ document.document.created_date | filterCalendarToTime }}</td>
									<td>
										<div class="d-flex align-center" style="width: 90px">
											<app-button
												min-width="43"
												width="43px"
												color="var(--primary-3)"
												icon
												@click="fetchDownloadDocument(document.document)"
											>
												<template #prepend>
													<download-icon size="18"/>
												</template>
											</app-button>

											<app-button
												min-width="43"
												width="43px"
												color="var(--primary-3)"
												icon
												@click="viewDocument(document.document.url)"
											>
												<v-icon size="20">
													mdi-eye-outline
												</v-icon>
											</app-button>

											<template v-if="currentUser.role !== 'assistant' && $route.query.type !== 'for_watching_process'">
												<app-button
													v-if="['admin', 'chancellery', 'chancellery_admin'].includes(currentUser.role)"
													@click="deleteFile(document.id)"
													min-width="43"
													width="43px"
													color="var(--primary-4)"
													icon
												>
													<template #prepend>
														<trash2-icon size="18"/>
													</template>
												</app-button>
											</template>
										</div>
									</td>
								</tr>
							</template>
						</app-table>
					</v-col>

					<v-col md="12">
						<review-users :document-model="applicationModel" :is-disabled="$route.query.type === 'for_watching_process'" />
					</v-col>

					<v-col md="12">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.content')}}</span>

							<v-textarea
								v-model="applicationModel.description"
								outlined
								hide-details
								no-resize
								auto-grow
								background-color="var(--input-bg)"
								:readonly="currentUser.role === 'assistant'"
							></v-textarea>

							<resolution-content-modal
								title="components.add-template"
								title-dialog="components.add-content-resolution"
								class="mt-2"
								@emit:up="(text) => applicationModel.description = text.name.replace(/<\/?[^>]+(>|$)/g, '')"
							/>
						</div>
					</v-col>

					<v-col md="12">
						<activity v-if="applicationModel.document_unique_id" :document-model="applicationModel" />
					</v-col>


				</v-row>
			</div>
		</template>

		<pdf-viewer-modal ref="pdfModal" />

	</div>
</template>

<script>
import { TABLE_HEAD_TEXT_LIST } from "@/common/constants";
import { selectFromList } from "@/common/helpers";
import { ArrowLeftIcon, DownloadCloudIcon, DownloadIcon, EyeIcon, SendIcon, Trash2Icon } from "vue-feather-icons";
import { required } from "vuelidate/lib/validators";
import { mapActions, mapGetters, mapState } from "vuex";
import PdfViewerModal from "../../../../../../../common/components/PdfViewerModal";
import Activity from "../../Components/Activity";
import ReviewUsers from "../../Components/ReviewUsers";
import ResolutionContentModal from "../../../../../../../common/components/ResolutionContentModal";

export default {
	name: "ApplicationFormShowView",
	props: {
		formType: {
			type: String,
			default: ""
		},
		formTitle: {
			type: String,
			default: "Регистрация документа"
		}
	},
	components: {
		Activity,
		ReviewUsers,
		PdfViewerModal,
		ResolutionContentModal,
		Trash2Icon,
		DownloadIcon,
		EyeIcon,
		SendIcon,
		DownloadCloudIcon,
		ArrowLeftIcon
	},
	data() {
		return {
			isCorrespondVisible: false,
		}
	},
	validations: {
		applicationModel: {
			register_date: {required},
			correspondent: {required},
			doc_type: {required},
			journal: {required},
			priority: {required},
		},
		addCommentsToDocument: {
			description: {required}
		},
		leaveCommentModel: {
			description: {required}
		}
	},
	watch: {
		"applicationModel.correspondent"(val) {
			setTimeout(() => {
				this.isCorrespondVisible = true
			}, 100)
		},
	},
	computed: {
		...mapState({
			filteredState: state => state.headerFilter.filteredState,
			filterPagination: state => state.headerFilter.pagination,
			indexTableFilters: state => state.documentFlowRegistrationApplication.indexTableFilters
		}),
		/**/
		...mapGetters({
			currentUser: "auth/getCurrentUser",
			applicationModel: "documentFlowModule/getReviewGetOneApplication",
			journalList: "documentFlowModule/getNewJournalList",
			departmentList: "documentFlowModule/getDepartmentList",
			attachDocumentListID: "documentFlowModule/getAttachDocumentListID",
			attachDocumentsList: "documentFlowModule/getAttachDocumentsList",
			isLoading: "getDetailLoading",
			getDisableItems: "getDisableItems",
		}),
		/*
		*
		* */
		activeFiltered() {
			let active = {}

			Object.entries(this.indexTableFilters).forEach(filter => {
				const [key, value] = filter

				if(key.startsWith("__")) {
					return;
				}

				if(value || value === true || value === false) {
					active[key] = value
				}
			})

			return active
		},
		/**/
		documentReferenceUrl() {
			return `/docflow/${this.$store.getters['auth/getCurrentUser'].filial}/reference/`
		},
		/**/
		filesTableHeaders() {
			return selectFromList([1, 22, 23, 19], TABLE_HEAD_TEXT_LIST)
		},
		/**/
		employeeTableHeaders() {
			return selectFromList([1, 24, 23, 19], TABLE_HEAD_TEXT_LIST)
		},
	},
	beforeDestroy() {
		this.fetchClearHistory();
		this.$store.commit("documentFlowModule/CLEAR_ATTACHED_DOCUMENTS_ID")
	},
	methods: {
		...mapActions({
			fetchDownloadDocument: "documentFlowModule/fetchDownloadDocument",
			fetchDeleteFileFromAttachFile: "documentFlowModule/fetchDeleteFileFromAttachFile",
			fetchClearHistory: "action/fetchClearHistory",
			fetchAttachFiles: "documentFlowModule/fetchAttachFiles",
			fetchAttachFilesList: "documentFlowModule/fetchAttachFilesList",
			fetchAttachFilesUpload: "documentFlowModule/fetchAttachFilesUpload",
			fetchApplicationUpdate: "documentFlowModule/fetchApplicationUpdate",
			fetchApplicationById: "documentFlowModule/fetchApplicationById",
		}),
		/**/
		updateDocument(){
			this.$v.applicationModel.$touch();

			if (this.$v.applicationModel.$invalid) {
				this.$toast.warning(this.$t('document-flow.views.registration.required-field'))
				return;
			}

			this.fetchApplicationUpdate(this.applicationModel).then((data) => {
				this.$toast.success(this.$t('document-flow.views.registration.updated'))
				this.fetchApplicationById(this.$route.params.id)
			})
		},
		/**/
		uploadFiles(files){
			if (files.length) {
				this.fetchAttachFiles({
					files,
					incomingDocId: this.$route.params.id
				}).then((data) => {
					setTimeout(() => {
						this.fetchAttachFilesUpload(this.attachDocumentListID)
					}, 1000)
				});
			}
		},
		/**/
		deleteFile(id) {
			if (!confirm(this.$t('document-flow.views.registration.delete-user-confirmation'))) {
				return;
			}

			this.fetchDeleteFileFromAttachFile({
				fileId: id,
				incomingDocId: this.$route.params.id
			})
		},
		/**/
		viewDocument(url){
			const {pdfModal} = this.$refs
			pdfModal.url = url;
			pdfModal.dialog = true
		}
	}
}
</script>

<style scoped>

</style>
