<template>
	<table-list :table-props="table_props"/>
</template>

<script>
import {mapActions, mapGetters} from "vuex";
import TableList from "../components/TableList";

export default {
	name: "List",
	components: {
		TableList
	},
	data() {
		return {
			table_props: {
				isSent: true,
				statuses: "22,32",
				byUser: false
			}
		}
	}
}
</script>

<style>

</style>
