<template>
	<base-data-table
		ref="dataTable"
		:api-url="`hr/candidates`"
		:api-params="apiParams"
		:init-load-api="false"
		:headers-list="indexTableCols"
		:filter-state="indexTableFilters"
		:filter-storage-name="HR_HIRING_FILTER"
		:config-column-storage-name="HR_HIRING_COLUMN"
		:height="tableHeight"
		header-name="На подпись"
		:unread-show="false"
		:data-loading="dataLoading"
	>
		<template #body-header>
			<base-button-tab :items="tabItems" @emit:onChangeItem="handleTab" />
		</template>

		<template #index="{ item, index }">
			<router-link
				:to="{
          name: 'SignID',
          params: {
            id: item.id
          }
        }"
				class="d-flex align-center justify-center w-100 h-100 text-decoration-none color-inherit"
			>
				<span>
					{{ index + 1 }}
				</span>
			</router-link>
		</template>

		<template #last_name="{ value, item }">
			<router-link
				:to="{
          name: 'SignID',
          params: {
            id: item.id
          }
        }"
				class="d-flex align-center w-100 h-100 text-decoration-none color-inherit"
			>
				<span>
					{{ item.last_name }} {{ item.first_name }} {{ item.father_name }}
				</span>
			</router-link>
		</template>

		<template #department="{ value, item }">
			<router-link
				:to="{
          name: 'SignID',
          params: {
            id: item.id
          }
        }"
				class="d-flex align-center w-100 h-100 text-decoration-none color-inherit"
			>
				<span>{{ value.name }}</span>
			</router-link>
		</template>

		<template #position="{ value, item }">
			<router-link
				:to="{
          name: 'SignID',
          params: {
            id: item.id
          }
        }"
				class="d-flex align-center w-100 h-100 text-decoration-none color-inherit"
			>
				<span>{{ value.name }}</span>
			</router-link>
		</template>

<!--		<template #actions="{ item }">-->
<!--			<div class="d-flex gap-x-2">-->
<!--				123-->
<!--			</div>-->
<!--		</template>-->
	</base-data-table>
</template>

<script>
import {mapGetters, mapState} from 'vuex'
import { HR_HIRING_COLUMN, HR_HIRING_FILTER } from '@/common/constants'

export default {
	name: "List",
	data() {
		return {
			HR_HIRING_COLUMN,
			HR_HIRING_FILTER,
			tabItems: [
				{
					id: 1,
					active: true,
					label: 'Не подписанные',
					icon: '',
					value: 'not_singed'
				},
				{
					id: 2,
					active: false,
					label: 'Подписанные',
					icon: '',
					value: 'signed'
				}
			],
			currentTabItem: 'not_singed',
			dataLoading: false,
			apiParams: {}
		}
	},
	computed: {
		...mapState({
			indexTableCols: state => state.hrHiring.indexTableCols,
			indexTableFilters: state => state.hrHiring.indexTableFilters,
		}),
		/*
		*
		* */
		...mapGetters({
			currentUser: "auth/getCurrentUser",
		}),
		/*
		*
		* */
		tableHeight() {
			return document.documentElement.clientHeight - 270
		},
	},
	mounted() {
		const { dataTable } = this.$refs

		this.apiParams = {
			signer_id: this.currentUser.id,
			is_signed: false
		}

		if(this.$route.query.hasOwnProperty('status')) {
			this.handleTab({ value: this.$route.query.status })
			this.currentTabItem = this.$route.query.status
			this.tabItems = this.tabItems.map(item => {
				return {
					...item,
					active: this.currentTabItem === item.value
				}
			})
			this.apiParams.is_signed = this.$route.query.status === 'signed'
		}

		dataTable.getDataFromApi(this.apiParams)
	},
	methods: {
		handleTab(item) {
			const { dataTable } = this.$refs

			this.currentTabItem = item.value
			this.$router.replace({
				query: {
					...this.$route.query,
					status: item.value
				}
			})
				.catch(() => {})

			this.apiParams.is_signed = this.$route.query.status === 'signed'
			dataTable.getDataFromApi(this.apiParams)
		},
	}
}
</script>

<style scoped>

</style>