<template>
	<div class="hiring-show-view pb-0">
		<template v-if="loading">
			<app-loader content-width />
		</template>

		<template v-else>
			<div class="d-flex align-center gap-x-3 mb-5">
				<back-button />

				<h1 class="flex-1 heading-8 text-greyscale-900 font-600">
					{{ formModel.last_name }} {{ formModel.first_name }} {{ formModel.father_name }}
				</h1>

<!--				<app-button>-->
<!--					{{ $t('document-flow.views.send-document.send-for-signature') }}-->
<!--				</app-button>-->
			</div>

			<base-button-tab :items="tabItems" @emit:onChangeItem="handleTab" />

			<template v-if="currentTab === 'signing-documents'">
				<keep-alive>
					<layout />
				</keep-alive>
			</template>

			<template v-else>
				<documents />
			</template>
		</template>
	</div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import { BackButton } from '@/common/components/Buttons'
import Layout from './components/Layout.vue'
import Documents from './components/Documents.vue'

export default {
	name: "Show",
	components: {
		BackButton,
		Layout,
		Documents
	},
	data() {
		return {
			loading: true,
			tabItems: [
				{
					id: 1,
					active: true,
					label: 'documents-for-signing',
					icon: '',
					value: 'signing-documents'
				},
				{
					id: 2,
					active: false,
					label: 'candidate-documents',
					icon: '',
					value: 'candidate-documents'
				}
			],
			currentTab: 'signing-documents'
		}
	},
	computed: {
		...mapState({
			formModel: state => state.hrHiring.formModel,
		})
	},
	mounted() {
		this.fetchHiringById({
			id: this.$route.params.id
		})
			.then(() => {
				setTimeout(() => {
					this.loading = false
				}, 500)
			})
	},
	methods: {
		...mapActions({
			fetchHiringById: 'hrHiring/fetchHiringById'
		}),
		/*
		*
		* */
		handleTab({ value }) {
			this.currentTab = value
		}
	}
}
</script>

<style scoped>

</style>