<template>
  <div class="review-view">
    <ui-data-table
      ref="dataTable"
      :api-url="apiUrl"
      :height="tableHeight"
      :headers-list="indexTableCols"
      :filter-state="indexTableFilters"
      :filter-storage-name="SIGN_FILTER"
      :config-column-storage-name="SIGN_COLUMN"
      :in-active-row="inActiveRow"
      @saveConfigColumn="saveConfigColumn"
      @resetConfigColumn="resetConfigColumn"
      @clearFilter="clearFilter"
      @deleteSavedFilter="clearFilter"
      @handleSort="handleSort"
    >
      <template #index="{ value, item }">
        <router-link :to="openRoute(item)">
          <span :class="{ 'font-700' : item.is_signed === null }">{{ item.index }}</span>
        </router-link>
      </template>

      <template #is_signed="{ value, item }">
        <router-link :to="openRoute(item)">
          <span
            :class="[
              value === true
                ? 'primary-text'
                : value === false
                  ? 'warning-text'
                  : 'error-text',
              item.is_signed === null ? 'font-700' : 'font-500'
            ]"
          >
            {{ value === true
              ? $t("document-flow.views.boxes.signed")
              : value === false
                ? $t("document-flow.views.boxes.denied")
                : $t("document-flow.views.boxes.not-signed")
            }}
          </span>
        </router-link>
      </template>

      <template #compose.register_number="{ value, item }">
        <router-link :to="openRoute(item)">
          <span :class="{ 'font-700' : item.is_signed === null }">
            {{ value }}
          </span>
        </router-link>
      </template>

      <template #compose.type="{ value, item }">
        <router-link :to="openRoute(item)">
          <span :class="{ 'font-700' : item.is_signed === null }">
            {{ returnTypeText(item) }}
          </span>
        </router-link>
      </template>

      <template #compose.created_date="{ value, item }">
        <router-link :to="openRoute(item)">
          <span :class="{ 'font-700' : item.is_signed === null, 'opacity-80' : item.is_signed }">
            {{ value | filterCalendarToTime }}
          </span>
        </router-link>
      </template>

      <template #compose.receiver="{ value, item }">
        <router-link :to="openRoute(item)">
          <template v-if="value">
            <template v-if="value.branches">
              <app-chip-group :chip-list="value.branches" />
            </template>

            <template v-if="value.departments">
              <app-chip-group :chip-list="value.departments" />
            </template>

	          <template v-if="value.organizations">
		          <app-chip-group item-text="organization_name" max-width="300px" :chip-list="value.organizations" />
	          </template>
          </template>
        </router-link>
      </template>

	    <template #compose.curator="{ value, item }">
		    <router-link :to="openRoute(item)">
			    <ui-avatar-group
				    v-if="value"
				    :avatar-list="[{
              color: value.color,
              full_name: value.full_name
            }]"
				    class="opacity-80"
			    />
		    </router-link>
	    </template>

      <template #compose.agreed_by="{ value, item }">
        <router-link :to="openRoute(item)">
          <ui-avatar-group
            :avatar-list="value"
            class="opacity-80"
          />
        </router-link>
      </template>


      <template #compose.signed_by="{ value, item }">
        <router-link :to="openRoute(item)">
          <ui-avatar-group
            :avatar-list="value"
            class="opacity-80"
          />
        </router-link>
      </template>

      <template #compose.author="{ value, item }">
        <router-link :to="openRoute(item)">
          <ui-avatar-group
            v-if="value"
            :avatar-list="[{
              color: value.color,
              full_name: value.full_name
            }]"
            class="opacity-80"
          />
        </router-link>
      </template>

      <template #compose.short_description="{ value, item }">
        <app-tooltip top max-width="400" content-classes="d-inline-block w-100">
          <template #text>
            <span v-html="value"></span>
          </template>

          <template #content>
            <router-link :to="openRoute(item)" class="text-decoration-none">
              <span class="line-truncate-2 text--dark" :class="{ 'font-700' : item.is_signed === null, 'opacity-80' : item.is_signed }" v-html="value"></span>
            </router-link>
          </template>
        </app-tooltip>
      </template>

	    <template #action="{ value, item }">
		    <template v-if="['protocol'].includes(item.compose.type) && returnIsDeadlineToday(item.compose) && !item.is_signed">
			    <app-tooltip left max-width="500">
				    <template #content>
					    <div class="alert-icon ml-2 pointer"></div>
				    </template>
				    <template #text>
					    <span>{{ $t('todayDeadline') }}</span>
				    </template>
			    </app-tooltip>
		    </template>
	    </template>

      <template #filterBody>
        <sign-table-filter />
      </template>
    </ui-data-table>
  </div>
</template>

<script>
import { mapActions, mapGetters, mapState } from "vuex"
import { SIGN_COLUMN, SIGN_FILTER } from "@/common/constants"
import { getItem } from "@/services/jwt.service"

import SignTableFilter from "./components/SignTableFilter"
import { returnIsSameDay } from "../../../../../common/helpers";

export default {
  name: "index",
  components: {
    SignTableFilter
  },
  data() {
    return {
      SIGN_COLUMN,
      SIGN_FILTER,
      filterState: {}
    }
  },
  computed: {
    ...mapState({
      indexTableCols: state => state.documentFlowBoxesSign.indexTableCols,
      indexTableFilters: state => state.documentFlowBoxesSign.indexTableFilters
    }),
    /*
    *
    * */
    ...mapGetters({
      currentUser: "auth/getCurrentUser",
    }),
    /*
    *
    * */
    tableHeight() {
      return document.documentElement.clientHeight - 250
    },
    /*
    *
    * */
    apiUrl() {
      return `docflow/${this.currentUser.filial}/for_signature`
    }
  },
  created() {
    this.setSavedTableCols()
    this.setSavedFilters()
  },
  async beforeDestroy() {
	  if(!this.$route.fullPath.includes('show')) {
		  await this.resetIndexTableFilters()
	  }
  },
  methods: {
    ...mapActions({
      setActiveIndexTableCols: "documentFlowBoxesSign/setActiveIndexTableCols",
      resetIndexTableCols: "documentFlowBoxesSign/resetIndexTableCols",
      resetIndexTableFilters: "documentFlowBoxesSign/resetIndexTableFilters",
      setActiveIndexTableFilters: "documentFlowBoxesSign/setActiveIndexTableFilters",
    }),
    /*
    *
    * */
    inActiveRow() {
      return new Function('item', `return { 'bg--light': item.is_signed === null }`)
    },
    /*
    *
    * */
    saveConfigColumn(columns) {
      this.setActiveIndexTableCols(columns)
    },
    /*
    *
    * */
    resetConfigColumn() {
      this.resetIndexTableCols()
    },
    /*
    * Заполняем нужные поля колонки таблицы если пользователь перезагрузил браузер
    * */
    setSavedTableCols() {
      let savedColsFromStorage = JSON.parse(getItem(this.SIGN_COLUMN)) ?? {}

      if(Object.keys(savedColsFromStorage).length) {
        this.setActiveIndexTableCols(savedColsFromStorage)
      } else {
        this.setActiveIndexTableCols(this.indexTableCols)
      }
    },
    /*
    *
    * */
    async clearFilter() {
      await this.resetIndexTableFilters()
    },
    /*
    * Заполняем нужные поля фильтра если пользователь перезагрузил браузер
    * */
    setSavedFilters() {
      if(this.$route.query) {
        let savedFiltersFromStorage = JSON.parse(getItem(this.SIGN_FILTER)) ?? {}
        delete this.$route.query.page
        delete this.$route.query.page_size

        if(Object.keys(savedFiltersFromStorage).length) {
          this.setActiveIndexTableFilters(savedFiltersFromStorage)
        } else {
          this.setActiveIndexTableFilters(this.$route.query)
        }
      }
    },
    /*
    *
    * */
    handleSort({ key, value }) {
      const { dataTable } = this.$refs
      // this.indexTableFilters[key] = value
      //
      // let active = {}
      //
      // Object.entries(this.indexTableFilters).forEach(filter => {
      //   const [key, value] = filter
      //
      //   if(key.startsWith("__")) {
      //     return;
      //   }
      //
      //   if(value || value === true || value === false) {
      //     active[key] = value
      //   }
      // })
      //
      // dataTable.getDataFromApi(active)
    },
    /*
    *
    * */
    openRoute(item) {
      return {
        name: "SignFormShow",
        params: {
          id: item.id
        },
        query: {
          compose_id: item.compose.id,
          type: item.compose.type === 'retail_act'
            ? 'retail_act'
            : item.compose.type === 'hr_order'
              ? 'hr_order'
		          : item.compose.type === 'attorney'
			          ? 'attorney'
	              : item.compose.type === 'hr_rotation'
	                ? 'hr_rotation'
	                : (item.compose.journal_id === 3 && item.compose.type === 'service_letter')
	                  ? 'inner'
	                  : ((item.compose.journal_id === 3 && (item.compose.type === 'notice' || item.compose.type === 'hr_notice' || item.compose.type === 'expense_notice' || item.compose.type === 'technic_teaching')) || (item.compose.journal_id === 6 && item.compose.type === 'position_rotation'))
	                    ? 'notice'
	                    : (item.compose.journal_id === 6 && item.compose.type === 'protocol')
	                      ? 'protocol'
	                      : item.compose.journal_id === 7
	                        ? 'vacation'
	                        : (item.compose.journal_id === 6 && item.compose.type === 'decree')
	                          ? 'decree'
	                          : item.compose.type === 'credit_committee' && item.compose.sub_type !== 'joint_protocol'
	                            ? 'committee_protocol'
										          : item.compose.type === 'credit_committee' && item.compose.sub_type === 'joint_protocol'
											          ? 'joint_protocol'
											          : item.compose.type === 'trip_license'
												          ? 'trip_license'
			                            : item.compose.type === 'summary'
			                              ? 'summary'
			                              : item.compose.type === 'currency_summary'
			                                ? 'currency_summary'
														          : item.compose.type === 'reference'
															          ? 'reference'
															          : item.compose.type === 'compliance_regulation' ? 'compliance_regulation'
																          : item.compose.type === 'hr_contract' ? 'hr_contract'
																	          : item.compose.type === 'irr' ? 'irr'
					                                   : 'outgoing'
        }
      }
    },
    /*
    *
    * */
    returnTypeText(item) {
      return item.compose.type === 'retail_act'
        ? this.$t("actCompletedServices")
        : item.compose.type === 'hr_order'
          ? this.$t("document-flow.views.boxes.hr-order")
          : item.compose.type === 'hr_rotation'
            ? this.$t("document-flow.views.boxes.rotation")
			      : item.compose.type === 'attorney'
				      ? this.$t("attorney")
	            : (item.compose.type === 'notice' || item.compose.type === 'position_rotation')
	              ? this.$t("document-flow.views.boxes.notification")
	              : item.compose.type === 'hr_notice'
	                ? this.$t("document-flow.views.send-document.recruitment-notice")
						      : item.compose.type === 'expense_notice'
							      ? this.$t("expenseNotice")
		                : item.compose.type === 'decree'
		                  ? this.$t("document-flow.views.send-document.orders")
		                  : item.compose.type === 'protocol'
		                    ? this.$t("management-report")
		                    : item.compose.type === 'summary'
		                      ? this.$t("document-flow.views.boxes.summary")
										      : item.compose.type === 'trip_license'
											      ? this.$t("tripLicense")
			                      : item.compose.journal_id === 7
			                        ? this.$t("document-flow.views.send-document.statement")
			                        : item.compose.type === 'credit_committee'
			                          ? this.$t("document-flow.views.boxes.declaration")
			                          : item.compose.type === 'currency_summary'
			                            ? this.$t("purchase-currency")
														      : item.compose.type === 'technic_teaching'
															      ? this.$t("techniqueTeaching")
															      : item.compose.type === 'compliance_regulation' ? this.$t('trainingSpecialists')
																      : item.compose.type === 'hr_contract' ? this.$t('hr_contract')
																	      : item.compose.type === 'irr' ? this.$t('irr')
																		      : item.compose.type === 'reference' ? this.$t('reference-information')
					                                  : this.$t("document-flow.views.send-document.service-letter")
    },
	  /** **/
	  returnIsDeadlineToday(item) {
		  if (item && item.cancel_at){
			  return  returnIsSameDay(item.cancel_at)
		  } else {
			  return false
		  }
	  }
  }
}
</script>
