<template>
	<folder-detail-view />
</template>

<script>
import FolderDetailView from "../../components/FolderDetailView";
export default {
	name: "index",
	components: {
		FolderDetailView
	}
}
</script>

<style scoped>

</style>
