<template>
	<div class="confirmation-view">
		<ui-data-table
			ref="dataTable"
			:api-url="apiUrl"
			:height="tableHeight"
			:headers-list="indexTableCols"
			:filter-state="indexTableFilters"
			:filter-storage-name="CONFIRMATION_FILTER"
			:config-column-storage-name="CONFIRMATION_COLUMN"
			:in-active-row="inActiveRow"
			@saveConfigColumn="saveConfigColumn"
			@resetConfigColumn="resetConfigColumn"
			@clearFilter="clearFilter"
			@deleteSavedFilter="clearFilter"
			@handleSort="handleSort"
		>
			<template #index="{ value, item }">
				<router-link
					:to="{
            name: 'ConfirmationDetail',
            params: {
              id: item.id,
              type: item.journal.id
            },
            query: {
              page: $route.query.page
            }
          }"
				>
					<span :class="{ 'font-700' : !item.read_time }">{{ item.index }}</span>
				</router-link>
			</template>

			<template #__deadline="{ value, item }">
				<router-link
					:to="{
            name: 'ConfirmationDetail',
            params: {
              id: item.id,
              type: item.journal.id
            }
          }"
				>
          <span v-if="item.assignees && item.assignees.deadline">
            {{ item.assignees.deadline | filterCalendarToTime }}
          </span>

					<template v-else>
				    <span v-if="item.deadline">
	            {{ item.deadline | filterCalendarToTime }}
	          </span>
					</template>
				</router-link>
			</template>

			<template #title="{ value, item }">
				<router-link
					:to="{
            name: 'ConfirmationDetail',
            params: {
              id: item.id,
              type: item.journal.id
            },
            query: {
              page: $route.query.page
            }
          }"
				>
          <span v-if="value">
           {{ value }}
          </span>
				</router-link>
			</template>

			<template #priority="{ value, item }">
				<router-link
					:to="{
            name: 'ConfirmationDetail',
            params: {
              id: item.id,
              type: item.journal.id
            }
          }"
				>
					<ui-priority
						v-if="value"
						:text="value"
						:class="!item.read_time ? 'font-700' : 'font-500'"
					/>
				</router-link>
			</template>

			<template #status.name="{ value, item }">
				<router-link
					:to="{
            name: 'ConfirmationDetail',
            params: {
              id: item.id,
              type: item.journal.id
            }
          }"
				>
					<ui-status
						v-if="value"
						:text="value"
						:class="!item.read_time ? 'font-700' : 'font-500'"
					/>
				</router-link>
			</template>

			<template #doc_type.name="{ value, item }">
				<router-link
					:to="{
            name: 'ConfirmationDetail',
            params: {
              id: item.id,
              type: item.journal.id
            }
          }"
				>
          <span :class="{ 'font-700' : !item.read_time, 'opacity-80' : item.read_time }">
            {{ value }}
          </span>
				</router-link>
			</template>

			<template #journal.name="{ value, item }">
				<router-link
					:to="{
            name: 'ConfirmationDetail',
            params: {
              id: item.id,
              type: item.journal.id
            }
          }"
				>
          <span :class="{ 'font-700' : !item.read_time, 'opacity-80' : item.read_time }">
            {{ value }}
          </span>
				</router-link>
			</template>

			<template #register_number="{ value, item }">
				<router-link
					:to="{
            name: 'ConfirmationDetail',
            params: {
              id: item.id,
              type: item.journal.id
            }
          }"
				>
          <span :class="{ 'font-700' : !item.read_time }">
            {{ value }}
          </span>
				</router-link>
			</template>

			<template #outgoing_number="{ value, item }">
				<router-link
					:to="{
            name: 'ConfirmationDetail',
            params: {
              id: item.id,
              type: item.journal.id
            }
          }"
				>
          <span :class="{ 'font-700' : !item.read_time, 'opacity-80' : item.read_time }">
            {{ value }}
          </span>
				</router-link>
			</template>

			<template #register_date="{ value, item }">
				<router-link
					:to="{
            name: 'ConfirmationDetail',
            params: {
              id: item.id,
              type: item.journal.id
            }
          }"
				>
          <span :class="{ 'font-700' : !item.read_time, 'opacity-80' : item.read_time }">
            {{ value | filterCalendarToTime }}
          </span>
				</router-link>
			</template>

			<template #outgoing_date="{ value, item }">
				<router-link
					:to="{
            name: 'ConfirmationDetail',
            params: {
              id: item.id,
              type: item.journal.id
            }
          }"
				>
          <span :class="{ 'font-700' : !item.read_time, 'opacity-80' : item.read_time }">
            {{ value | filterCalendarToTime }}
          </span>
				</router-link>
			</template>

			<template #correspondent.organization_name="{ value, item }">
				<router-link
					:to="{
            name: 'ConfirmationDetail',
            params: {
              id: item.id,
              type: item.journal.id
            }
          }"
				>
          <span :class="{ 'font-700' : !item.read_time, 'opacity-80' : item.read_time }">
            {{ value }}
          </span>
				</router-link>
			</template>

			<template #review_users="{ value, item }">
				<router-link
					:to="{
            name: 'ConfirmationDetail',
            params: {
              id: item.id,
              type: item.journal.id
            }
          }"
				>
					<ui-avatar-group
						:avatar-list="value"
						class="opacity-80"
					/>
				</router-link>
			</template>

			<template #assignees.assignment="{ value, item }">
				<router-link
					:to="{
            name: 'ConfirmationDetail',
            params: {
              id: item.id,
              type: item.journal.id
            }
          }"
				>
					<ui-avatar-group
						:avatar-list="value"
						class="opacity-80"
					/>
				</router-link>
			</template>

			<template #filterBody>
				<confirmation-table-filter />
			</template>
		</ui-data-table>
	</div>
</template>

<script>
import { mapActions, mapGetters, mapState } from "vuex"
import { CONFIRMATION_COLUMN, CONFIRMATION_FILTER } from "@/common/constants"
import { getItem } from "@/services/jwt.service"
import ConfirmationTableFilter from "./components/ConfirmationTableFilter.vue"

export default {
	name: "index",
	components: {
		ConfirmationTableFilter
	},
	data() {
		return {
			CONFIRMATION_COLUMN,
			CONFIRMATION_FILTER,
			filterState: {}
		}
	},
	computed: {
		...mapState({
			indexTableCols: state => state.documentFlowBoxesConfirmation.indexTableCols,
			indexTableFilters: state => state.documentFlowBoxesConfirmation.indexTableFilters
		}),
		/*
		*
		* */
		...mapGetters({
			currentUser: "auth/getCurrentUser",
		}),
		/*
		*
		* */
		tableHeight() {
			return document.documentElement.clientHeight - 250
		},
		/*
		*
		* */
		apiUrl() {
			return `v2/docflow/${this.currentUser.filial}/on-hold-documents`
		}
	},
	created() {
		this.setSavedTableCols()
		this.setSavedFilters()
	},
	async beforeDestroy() {
		if(!this.$route.fullPath.includes('show')) {
			await this.resetIndexTableFilters()
		}
	},
	methods: {
		...mapActions({
			setActiveIndexTableCols: "documentFlowBoxesConfirmation/setActiveIndexTableCols",
			resetIndexTableCols: "documentFlowBoxesConfirmation/resetIndexTableCols",
			resetIndexTableFilters: "documentFlowBoxesConfirmation/resetIndexTableFilters",
			setActiveIndexTableFilters: "documentFlowBoxesConfirmation/setActiveIndexTableFilters",
		}),
		/*
		*
		* */
		inActiveRow() {
			return new Function('item', `return { 'bg--light': item.status.id === 3 }`)
		},
		/*
		*
		* */
		saveConfigColumn(columns) {
			this.setActiveIndexTableCols(columns)
		},
		/*
		*
		* */
		resetConfigColumn() {
			this.resetIndexTableCols()
		},
		/*
		* Заполняем нужные поля колонки таблицы если пользователь перезагрузил браузер
		* */
		setSavedTableCols() {
			let savedColsFromStorage = JSON.parse(getItem(this.CONFIRMATION_COLUMN)) ?? {}

			if(Object.keys(savedColsFromStorage).length) {
				this.setActiveIndexTableCols(savedColsFromStorage)
			} else {
				this.setActiveIndexTableCols(this.indexTableCols)
			}
		},
		/*
		*
		* */
		async clearFilter() {
			await this.resetIndexTableFilters()
		},
		/*
		* Заполняем нужные поля фильтра если пользователь перезагрузил браузер
		* */
		setSavedFilters() {
			if(this.$route.query) {
				let savedFiltersFromStorage = JSON.parse(getItem(this.CONFIRMATION_FILTER)) ?? {}
				delete this.$route.query.page
				delete this.$route.query.page_size

				if(Object.keys(savedFiltersFromStorage).length) {
					this.setActiveIndexTableFilters(savedFiltersFromStorage)
				} else {
					this.setActiveIndexTableFilters(this.$route.query)
				}
			}
		},
		/*
		*
		* */
		handleSort({ key, value }) {
			const { dataTable } = this.$refs
		}
	}
}
</script>
