<template>
	<div class="confirmation-show-view">
		<template v-if="confirmationDetailModelLoader">
			<app-loader full-width />
		</template>

		<template v-else>
			<layout-with-tabs
				:layout-title="journalTitle"
				:layout-status-text="reviewDetailModel.status.name"
				:tree-list="treeList"
				:files-list="filesList"
				:resolution="resolution"
				:is-verified="reviewDetailModel.assignees && reviewDetailModel.assignees.is_verified"
				:object-id="reviewDetailModel.id"
				:compose-id="reviewDetailModel && reviewDetailModel.compose_id"
				@emit:watch-resolution-child="watchResolutionChild"
				@emit:watch-resolution-parent="watchResolutionParent"
			>
				<template #content>
					<detail-content
						:columns="detailModel"
						:status="reviewDetailModel.status.id"
					/>

					<div class="d-flex gap-16 mt-7">
						<v-btn
							color="var(--primary-light)"
							depressed
							small
							min-height="36"
							height="36"
							class="rounded-lg"
							@click="doneDocumentDialog = !doneDocumentDialog"
						>
							<div class="d-flex align-center">
								<span class="size-13 primary-text">{{ $t('confirm-document') }}</span>
							</div>
						</v-btn>

<!--						<v-btn
							color="var(&#45;&#45;primary-4-light)"
							depressed
							small
							min-height="36"
							height="36"
							class="rounded-lg"
							@click="cancelDocumentDialog = !cancelDocumentDialog"
						>
							<div class="d-flex align-center">
								<span class="size-13 error-text">{{ $t('cancel-document') }}</span>
							</div>
						</v-btn>-->
					</div>
				</template>

				<template #activity>
					<activity-table />
				</template>

				<template #files>
					<files-table />
				</template>
			</layout-with-tabs>
		</template>

		<!-- Подтвердить документ -->
		<change-status-modal
			v-model="doneDocumentDialog"
			:success-button-loading="doneDocumentSuccessButton"
			title="document-flow.views.boxes.follow-document"
			success-text="document-flow.views.boxes.follow-document"
			textarea-type="template"
			content-height="350px"
			@emit:close="(value) => doneDocumentDialog = value"
			@emit:success-button="doneDocument"
		/>
		<!-- /Подтвердить документ -->

		<!-- Отказать документ -->
		<change-status-modal
			v-model="cancelDocumentDialog"
			:success-button-loading="cancelDocumentSuccessButton"
			title="cancel-document"
			success-text="cancel-document"
			textarea-type="template"
			content-height="350px"
			@emit:close="(value) => cancelDocumentDialog = value"
			@emit:success-button="cancelDocument"
		/>
		<!-- /Отказать документ -->
	</div>
</template>

<script>
import { mapActions, mapGetters, mapState } from "vuex"
import { EditIcon, UserMinusIcon, UsersIcon, XIcon } from "vue-feather-icons"
import LayoutWithTabs from "@/common/components/DetailLayout/LayoutWithTabs.vue"
import { combineKeysDocumentDetail } from "@/common/helpers"
import { FILE_EXTENSIONS, JOURNAL_TYPES } from "@/common/enums/notificationTypes"
import DetailContent from "@/common/components/DetailLayout/DetailContent.vue";
import ActivityTable from "./components/ActivityTable.vue";
import FilesTable from "./components/FilesTable.vue";
import { ChangeStatusModal } from "@/common/components/Modal"

export default {
	name: "show",
	components: {
		ChangeStatusModal,
		FilesTable, ActivityTable,
		DetailContent,
		LayoutWithTabs,
		EditIcon,
		UserMinusIcon,
		UsersIcon,
		XIcon
	},
	data() {
		return {
			filesList: [],
			detailModel: null,
			doneDocumentDialog: false,
			doneDocumentSuccessButton: false,
			cancelDocumentDialog: false,
			cancelDocumentSuccessButton: false,
			resolutionMeta: {
				receipt_date: null,
				signer: null,
				banner: true,
				check_id: null
			},
		}
	},
	computed: {
		...mapState({
			confirmationDetailModelLoader: state => state.documentFlowBoxesConfirmation.confirmationDetailModelLoader,
			reviewDetailModel: state => state.documentFlowBoxesConfirmation.confirmationDetailModel,
			indexTableCols: state => state.documentFlowBoxesConfirmation.indexTableCols,
			resolutionPerformersList: state => state.documentFlowBoxesInbox.resolutionPerformersList,
			executionMarkModel: state => state.documentFlowBoxesInbox.executionMarkModel,
			treeList: state => state.treeView.treeList,
		}),
		/*
		*
		* */
		...mapGetters({
			currentUser: "auth/getCurrentUser",
			attachDocumentsList: "documentFlowModule/getAttachDocumentsList",
		}),
		/*
		*
		* */
		journalTitle() {
			let title = null

			switch(Number(this.$route.params.type)) {
				case JOURNAL_TYPES.INCOMING:
					title = this.reviewDetailModel.correspondent
						? this.reviewDetailModel.correspondent?.organization_name
						: this.reviewDetailModel.journal?.name
					break;
				case JOURNAL_TYPES.INNER:
					title = this.reviewDetailModel.department?.name
					break;
				case JOURNAL_TYPES.OUTGOING:
					title = this.reviewDetailModel.correspondent?.organization_name
					break;
				case JOURNAL_TYPES.APPEALS:
					title = this.reviewDetailModel.correspondent?.organization_name
					break;
				case JOURNAL_TYPES.ORDER_AND_PROTOCOL:
					title = this.reviewDetailModel.title ?? this.reviewDetailModel.department?.name
					break;
				default:
					title = this.reviewDetailModel.title ?? this.reviewDetailModel.department?.name
			}

			return title
		},
		/*
		*
		* */
		resolution() {
			if(!this.reviewDetailModel.assignees) {
				return {
					register_number: this.reviewDetailModel.register_number,
					deadline: this.reviewDetailModel.assignees?.deadline,
					register_date: this.reviewDetailModel.register_date,
					receipt_date: this.reviewDetailModel.assignees && this.reviewDetailModel.assignees.receipt_date,
					signer: this.reviewDetailModel.review_users[0].user,
					banner: true
				}
			}

			return Object.assign(
				this.reviewDetailModel.assignees,
				{
					register_number: this.reviewDetailModel.register_number,
					deadline: this.reviewDetailModel.assignees?.deadline,
					register_date: this.reviewDetailModel.register_date,
					receipt_date: this.reviewDetailModel.assignees?.receipt_date,
					signer: this.reviewDetailModel.review_users[0].user,
					banner: true,
					check_id: this.reviewDetailModel.assignees?.check_id,
					journal: this.reviewDetailModel.journal.name
				}
			)
		},
	},
	async mounted() {
		await this.fetchReviewById({ id: this.$route.params.id, loader: true })
		await this.getAttachFilesList()
		await this.fetchTreeUsersList({ treeId: this.reviewDetailModel.id })
		this.combineDetailKeys()
	},
	methods: {
		...mapActions({
			fetchReviewById: "documentFlowBoxesConfirmation/fetchReviewById",
			fetchDoneOrCancel: "documentFlowBoxesConfirmation/fetchDoneOrCancel",
			fetchDeleteResolution: "documentFlowBoxesConfirmation/fetchDeleteResolution",
			fetchUpdateReviewStatus: "documentFlowBoxesConfirmation/fetchUpdateReviewStatus",
			fetchAttachFilesList: "documentFlowModule/fetchAttachFilesList",
			fetchVerifySign: "documentFlowBoxesConfirmation/fetchVerifySign",
			fetchAcquaintWithDocument: "documentFlowBoxesConfirmation/fetchAcquaintWithDocument",
			fetchCancelAssignDocument: "documentFlowBoxesConfirmation/fetchCancelAssignDocument",
			fetchReviewExecutionMark: "documentFlowBoxesConfirmation/fetchReviewExecutionMark",
			fetchCancelVerifySign: "documentFlowBoxesConfirmation/fetchCancelVerifySign",
			fetchGetResolutionPerformers: "documentFlowBoxesInbox/fetchGetResolutionPerformers",
			fetchTreeUsersList: "treeView/fetchTreeUsersList",
		}),
		/*
    *
    * */
		async getAttachFilesList() {
			await this.fetchAttachFilesList({
				incomingDocId: this.reviewDetailModel.id
			})

			this.filesList = this.attachDocumentsList.filter(doc => doc.document).map(file => {
				return {
					name: file.document && file.document.name,
					url: file.document && file.document.url,
					extension: FILE_EXTENSIONS.FILE
				}
			})

			this.filesList.unshift({
				name: this.$t("components.chip-asakabank"),
				extension: FILE_EXTENSIONS.RESOLUTION
			})
		},
		/*
		*
		* */
		async doneDocument(text) {

			if(!confirm(this.$t('generalConfirmDescription'))) {
				return;
			}

			let responsible = this.reviewDetailModel.assignees.assignment.find(assignment => assignment.is_responsible === true)

			await this.fetchDoneOrCancel({
				id: this.reviewDetailModel.id,
				is_verified: true,
				comment: text,
				assignee_model_id: responsible ? responsible.id : null,
				status: 4,
			})

			this.$toast.success(this.$t('document-confirmed'))

			this.$router.go(-1)
		},
		/*
		*
		* */
		async cancelDocument(text) {
			let responsible = this.reviewDetailModel.assignees.assignment.find(assignment => assignment.is_responsible === true)

			await this.fetchDoneOrCancel({
				id: this.reviewDetailModel.id,
				is_verified: false,
				comment: text,
				assignee_model_id: responsible ? responsible.id : null,
				status: 6
			})

			this.$toast.success(this.$t('document-canceled'))

			this.$router.go(-1)
		},
		/*
		*
		* */
		async watchResolutionChild(children) {
			if(children && children.length) {
				let first = children[0]
				await this.fetchGetResolutionPerformers({ id: first.assignment.id })

				this.reviewDetailModel.assignees.content = first.assignment.content
				this.reviewDetailModel.assignees.deadline = first.assignment.deadline
				this.reviewDetailModel.assignees.controllers = this.resolutionPerformersList.controllers
				this.reviewDetailModel.assignees.assignment = this.resolutionPerformersList.performers
				this.resolutionMeta.signer = null
				this.resolutionMeta.banner = false
			}
		},
		/*
		*
		* */
		async watchResolutionParent(tree) {
			if(tree.assignees && tree.assignees.length) {
				let first = tree.assignees[0]
				await this.fetchGetResolutionPerformers({ id: first.id })

				this.reviewDetailModel.assignees.content = first.content
				this.reviewDetailModel.assignees.deadline = first.deadline
				this.resolutionMeta.signer = tree.user
				this.resolutionMeta.check_id = first.check_id
				this.resolutionMeta.receipt_date = first.receipt_date
				this.resolutionMeta.banner = true
				this.reviewDetailModel.assignees.controllers = this.resolutionPerformersList.controllers
				this.reviewDetailModel.assignees.assignment = this.resolutionPerformersList.performers
			}
		},
		/*
    *
    * */
		combineDetailKeys() {
			this.detailModel = combineKeysDocumentDetail(this.indexTableCols, this.reviewDetailModel)
		}
	}
}
</script>

<style scoped>

</style>
