<script>
// Core
import {mapActions, mapGetters} from "vuex"
import {required} from "vuelidate/lib/validators"
import { resetModel } from "@/common/helpers"
import {FORM_TYPES} from "@/common/enums/notificationTypes"

export default {
	name: "DirectionForm",
	props: {
		value: {
			type: Boolean
		}
	},
	data: () => ({
		buttonLoading: false,
		model: {
			name: null,
			type: null,
			is_active: true,
			departments: [],
			branches: [],
			__departments: [],
			__branches: []
		},
		headOffice: true,
		branch: false,
		formType: FORM_TYPES.CREATE,
		directionId: null
	}),
	validations: {
		model: {
			name: { required }
		}
	},
	computed: {
		FORM_TYPES() {
			return FORM_TYPES
		},
		...mapGetters({
			currentUser: "auth/getCurrentUser",
		}),
		dialog: {
			get() {
				return this.value
			},
			set(value) {
				this.$emit("input", value)
			}
		},
		type() {
			return this.headOffice && !this.branch ? 'head_office' : !this.headOffice && this.branch ? 'branch' : this.headOffice && this.branch ? 'both' : null
		}
	},
	watch: {
		headOffice: {
			handler(val) {
				if (!val) {
					this.model.__departments = []
				}
			},
			immediate: true
		},
		branch: {
			handler(val) {
				if (!val) {
					this.model.__branches = []
				}
			},
			immediate: true
		}
	},
	methods: {
		...mapActions({
			actionCreateDirection: 'auditDirections/actionCreateDirection',
			actionUpdateDirection: 'auditDirections/actionUpdateDirection'
		}),
		/** **/
		onSend() {
			this.$v.model.name.$touch()

			if (this.$v.$invalid || (this.headOffice && !this.model.__departments.length) || (this.branch && !this.model.__branches.length) || (this.type === 'both' && !this.model.__departments.length && !this.model.__branches.length) || !this.type){
				this.$toast.warning(this.$t('layout.required-field'))
				return
			}

			let model = {
				...this.model,
				type: this.type,
				departments: this.model.__departments.map(item => item.id),
				branches: this.model.__branches.map(item => item.id)
			}

			if (this.formType === FORM_TYPES.CREATE) {
				this.create(model)
			} else {
				this.update(this.directionId, model)
			}
		},
		/** **/
		create(model) {
			this.buttonLoading = true
			this.actionCreateDirection(model)
				.then(res => {
					this.$emit('emit:onSuccess')
					this.$toast.success(this.$t('direction-created'))
				})
				.finally(() => {
					this.buttonLoading = false
					this.dialog = false
					resetModel(this.model, ['is_active'])
					this.$v.$reset()
				})
		},
		/** **/
		update(id, body) {
			this.buttonLoading = true
			this.actionUpdateDirection({id, body})
				.then(res => {
					this.$emit('emit:onSuccess')
					this.$toast.success(this.$t('equipments.views.add-correspondent.edited'))
				})
				.finally(() => {
					this.buttonLoading = false
					this.dialog = false
					resetModel(this.model,['is_active'])
					this.$v.$reset()
				})
		},
		/** **/
		onCancel() {
			resetModel(this.model,['is_active'])
		}
	}
}
</script>

<template>
	<div class="direction-form-component">
		<base-modal
			v-model="dialog"
			persistent
			width="555"
			:button-loading="buttonLoading"
			:label="formType === FORM_TYPES.CREATE ? 'create-direction' : 'update-direction'"
			:success-button-label="formType === FORM_TYPES.CREATE ? 'equipments.views.resolution-content.create' : 'control-tasks.tasks.edit'"
			@emit:onSend="onSend"
			@emit:onCancel="onCancel"
		>
			<div class="d-flex flex-column gap-y-6 w-100">
				<div class="w-100">
					<base-text-field
						v-model="$v.model.name.$model"
						:error="$v.model.name.$error"
						label="direction"
					/>
				</div>

				<div class="w-100">
					<span class="small-2 font-500 text-greyscale-700 d-block mb-2">{{ $t('document-flow.views.send-document.to-whom') }}</span>

					<div class="d-flex gap-x-3 w-100">
						<base-checkbox
							v-model="headOffice"
							:label="$t('document-flow.views.send-document.head-office')"
						/>

						<base-checkbox
							v-model="branch"
							:label="$t('control-tasks.tasks.branch')"
						/>
					</div>
				</div>

				<div v-if="headOffice" class="w-100">
					<base-auto-complete
						v-model="model.__departments"
						api-list-url="/departments/department_without_children/"
						:api-params="{
							            filial: currentUser.filial,
							            page_size: 50
							          }"
						item-text="name"
						list-type="list"
						label="components.department"
						multiple
						return-object
						cache-items
						clearable
						:placeholder="$t('components.department')"
					/>
				</div>

				<div v-if="branch" class="w-100">
					<base-auto-complete
						v-model="model.__branches"
						api-list-url="/filials/"
						:api-params="{
							            condition: 'A',
													page_size: 50
							          }"
						item-text="name"
						list-type="list"
						label="document-flow.views.send-document.branches"
						multiple
						return-object
						cache-items
						clearable
						:placeholder="$t('document-flow.views.send-document.branches')"
					/>
				</div>

				<div class="d-flex align-center justify-space-between">
					<span class="small-2 font-500 text-greyscale-700">{{ $t('components.status') }}</span>

					<div class="d-flex align-center gap-x-3">
						<span
							class="small-2 font-600"
							:class="model.is_active ? 'text-greyscale-800' : 'text-greyscale-600'"
						>
							{{ model.is_active ? $t('bank-structure.active') : $t('inactive') }}
						</span>

						<base-switch
							v-model="model.is_active"
						/>
					</div>
				</div>
			</div>
		</base-modal>
	</div>
</template>

<style scoped>

</style>
