<template>
	<div v-if="resolutionModel" class="resolution-form-view">
    <v-alert
	    v-if="formType === FORM_TYPES.CREATE"
	    v-model="alertBanner"
	    color="var(--secondary-4)"
	    dark
	    class="mb-5 px-4 py-3"
    >
      <span class="error-text font-500 small-2">
	      {{ $t("document-flow.components.task-not-reached") }}
      </span>

	    <template #close>
        <v-btn
          color="var(--secondary-4)"
          fab
          depressed
          x-small
          class="rounded-lg"
          @click="alertBanner = false"
        >
          <x-icon size="16" class="error-text" />
        </v-btn>
	    </template>
    </v-alert>

		<v-row>
			<v-col md="6">
				<div class="app-input">
          <span class="d-block font-600 small-2 mb-2">{{ $t('document-flow.views.boxes.type_resolution') }}</span>

          <v-select
	          v-model="resolutionModel.$model.type"
	          :items="resolutionTypeList"
            item-text="title"
	          item-value="value"
            outlined
            hide-details
	          dense
            background-color="var(--input-bg)"
	          :disabled="xdfu"
	          @change="resolutionTypeChange"
          >
            <template #append>
              <v-icon>mdi-chevron-down</v-icon>
            </template>
          </v-select>
				</div>
			</v-col>

			<v-col md="6">
        <div class="app-input">
          <span class="d-block font-600 small-2 mb-2">{{ $t('document-flow.views.boxes.period-for-execution') }}</span>

          <app-date-picker
	          v-model="resolutionModel.$model.deadline"
	          with-input
	          dense
	          clearable
	          background-color="var(--input-bg)"
          />
        </div>
			</v-col>

			<template v-if="resolutionModel.$model.type === RESOLUTION_TYPES.CONTROL_POINT">
				<v-col md="12">
          <div class="app-input">
            <span class="d-block font-600 small-2 mb-2">{{ $t('components.controlling') }}</span>

            <app-autocomplete
              v-model="resolutionModel.$model.__controllers"
              :item-disabled="getDisableItems"
              :api-list-url="categoryUserList"
              item-text="full_name"
              return-object
              cache-items
              dense
              multiple
              background-color="var(--input-bg)"
              group-staff-visible
              class="flex-1"
            />
          </div>
				</v-col>

				<v-col v-if="resolutionModel.$model.__controllers.length" md="12">
          <span class="d-block font-600 small-2 mb-2">{{ $t('components.controlling') }}</span>

          <template v-for="(item, index) in resolutionModel.$model.__controllers">
            <div class="d-flex align-center gap-4 layout-border rounded-10 py-2 px-3 mb-2">
              <v-avatar
                :color="item.color"
                size="36"
              >
                <span class="text-white small-3 font-500">{{ item.full_name[0] }}</span>
              </v-avatar>

              <div class="flex-1 ml-1">
                <div class="d-flex align-center gap-4">
                  <span class="small-2 font-600">{{ item.full_name }}</span>

                  <v-sheet
                    width="4"
                    height="4"
                    color="#65696B"
                    rounded
                  />

                  <span v-if="item.cisco" class="small-2 font-500 text-2">({{ item.cisco }})</span>
                </div>

	              <div class="d-flex align-center gap-8">
		              <ui-status text="CANCEL" style="margin-top: 2px">
			              {{ $t("document-flow.views.boxes.controlling") }}
		              </ui-status>

		              <span class="d-block small-2 font-500 text-2">{{ item.position }}</span>
	              </div>
              </div>

              <div>
                <v-btn
	                v-if="!item.is_overdue_performance"
                  color="error"
                  icon
                  small
                  @click="resolutionModel.$model.__controllers.splice(index, 1)"
                >
                  <trash2-icon size="18" />
                </v-btn>
              </div>
            </div>
          </template>
				</v-col>
			</template>

			<v-col md="12">
        <div class="app-input">
          <span class="d-block font-600 small-2 mb-2">{{ $t('document-flow.views.registration.performers') }}</span>

          <div class="d-flex gap-16">
            <app-autocomplete
              v-model="resolutionModel.__assignment.$model"
              :error="resolutionModel.__assignment.$error"
              :item-disabled="getDisableItems"
              :api-list-url="categoryUserList"
              item-text="full_name"
              return-object
              cache-items
              dense
              multiple
              background-color="var(--input-bg)"
              group-staff-visible
              class="flex-1"
            />

	          <v-btn
	            color="primary"
	            depressed
	            small
	            height="40"
	            @click="$emit('emit:add-to-list', true)"
	          >
		          {{ $t("document-flow.components.add") }}
	          </v-btn>
          </div>
        </div>
			</v-col>

			<template v-if="performersListVisible">
				<v-col md="12" class="pt-0">
          <span class="d-block font-600 small-2 mb-2">{{ $t('document-flow.views.registration.performers') }}</span>

          <draggable
	          v-model="resolutionModel.$model.__assignment"
	          @change="onDrag"
          >
		          <transition-group>
			          <template v-for="(item, index) in resolutionModel.$model.__assignment">
				          <div :key="item.id" class="d-flex align-center gap-4 layout-border rounded-10 py-2 px-3 mb-2">
					          <div class="pointer mr-1">
						          <base-iconify
							          icon="DragVertical"
							          class="text-greyscale-500"
						          />
					          </div>

					          <v-avatar
						          :color="item.color"
						          size="36"
					          >
						          <span class="text-white small-3 font-500">{{ item.full_name[0] }}</span>
					          </v-avatar>

					          <div class="flex-1 ml-1">
						          <div class="d-flex align-center gap-4">
							          <span class="small-2 font-600">{{ item.full_name }}</span>

							          <v-sheet
								          width="4"
								          height="4"
								          color="#65696B"
								          rounded
							          />

							          <span v-if="item.cisco" class="small-2 font-500 text-2">({{ item.cisco }})</span>
						          </div>

						          <div class="d-flex align-center gap-8">
							          <template v-if="index === 0">
								          <ui-status text="TO DO" style="margin-top: 2px">
									          {{ $t("executor") }}
								          </ui-status>
							          </template>

							          <template v-else>
								          <ui-status text="IN PROGRESS" style="margin-top: 2px">
									          {{ $t("co-executor") }}
								          </ui-status>
							          </template>

							          <span class="d-block small-2 font-500 text-2">{{ item.position }}</span>
						          </div>
					          </div>

					          <div>
						          <v-btn
							          v-if="!item.is_overdue_performance"
							          color="error"
							          icon
							          small
							          @click="resolutionModel.$model.__assignment.splice(index, 1)"
						          >
							          <trash2-icon size="18" />
						          </v-btn>
					          </div>
				          </div>
			          </template>
		          </transition-group>
	          </draggable>
        </v-col>
			</template>

			<v-col md="12">
        <div class="app-input">
	        <span class="d-block font-600 small-2 mb-2">
	          {{ $t('document-flow.views.boxes.write-content') }}
	        </span>

          <quill-editor
            ref="editor"
            v-model="resolutionModel.content.$model"
            :error="resolutionModel.content.$model"
            class="mb-4"
          />

          <resolution-content-modal @emit:up="(text) => resolutionModel.content.$model = text.name" />
        </div>
			</v-col>
		</v-row>
	</div>
</template>

<script>
import { mapGetters } from "vuex"
import { Trash2Icon, XIcon } from "vue-feather-icons"
import { RESOLUTION_TYPES_LIST, RESOLUTION_TYPES } from "@/common/constants"
import { FORM_TYPES } from "@/common/enums/notificationTypes"
import ResolutionContentModal from "@/common/components/ResolutionContentModal.vue";
import draggable from 'vuedraggable'
export default {
	name: "ResolutionForm",
	props: {
		formType: {
			type: String,
			default: "create"
		},
		/*
		*
		* */
		resolutionModel: {
			type: Object,
			default: () => {}
		},
		/*
		*
		* */
		performersListVisible: {
			type: Boolean,
			default: false
		},
		/*
		*
		* */
		responsibleUserIndex: {
			type: Number,
			default: 0
		},
		/*
		*
		* */
		resolutionTypeChange: {
			type: Function
		},
		xdfu: {
			type: Boolean,
			default: false
		}
	},
	components: {
		ResolutionContentModal,
		Trash2Icon,
		XIcon,
		draggable
	},
	data() {
		return {
			alertBanner: true,
			resolutionTypeList: RESOLUTION_TYPES_LIST,
			FORM_TYPES,
			RESOLUTION_TYPES
		}
	},
	computed: {
		...mapGetters({
			getDisableItems: "getDisableItems",
			currentUser: "auth/getCurrentUser",
		}),
		/*
    *
    * */
		categoryUserList() {
			return `/${this.$store.getters['auth/getCurrentUser'].filial}/user/lists/by_category/`
		},
	},
	methods: {
		onDrag() {
			this.$emit('emit:onOrderChange')
		}
	}
}
</script>

<style>

</style>
