<template>
	<div class="inbox-detail-view" ref="detail">
    <template v-if="inboxDetailModelLoader">
      <app-loader full-width />
    </template>

		<template v-else>
      <layout-with-tabs
        :layout-title="journalTitle"
        :layout-status-text="inboxDetailModel.status.name"
        :tree-list="treeList"
        :files-list="filesList"
        :resolution="resolution"
        :is-verified="inboxDetailModel.assignment.is_verified"
        :object-id="inboxDetailModel.document.id"
        :document-type="xdfu ? 'xdfu' : null"
        :compose-id="inboxDetailModel && inboxDetailModel.document && inboxDetailModel.document.compose_id"
        @emit:watch-resolution-child="watchResolutionChild"
        @emit:watch-resolution-parent="watchResolutionParent"
      >
	      <template #toolbar>
		      <answer-menu-button
			      v-if="!xdfu"
			      :register-date="inboxDetailModel.document.register_date"
			      :register-number="inboxDetailModel.document.register_number"
			      :document-id="inboxDetailModel.document.id"
		      />

          <!-- Когда ознакомлен -->
		      <template v-if="inboxDetailModel.read_time">
			      <v-btn
				      color="var(--primary-light)"
				      depressed
				      small
				      min-height="36"
				      height="36"
				      class="rounded-lg"
				      :disabled="isResolutionCreated || canCreateResolution"
				      @click="resolutionCreateDrawer = true"
			      >
				      <div class="d-flex align-center">
					      <users-icon size="16" :color="isResolutionCreated || canCreateResolution ? 'var(--secondary)' : 'var(--primary-1)'" class="mr-3" />
					      <span class="size-13" :class="[isResolutionCreated || canCreateResolution ? 'text-3' : 'primary-text']">{{ $t("document-flow.views.boxes.create-resolution") }}</span>
				      </div>
			      </v-btn>

<!--            <change-status-menu-button-->
<!--	            :current-status="inboxDetailModel.status.id"-->
<!--	            :change-status-fn="fetchUpdateInboxStatus"-->
<!--            />-->

            <more-actions-menu-button>
              <template #menu>
                <v-list dense>
<!--                  <v-list-item-->
<!--                    link-->
<!--                    :disabled="isResolutionCreated"-->
<!--                    @click="resolutionCreateDrawer = true"-->
<!--                  >-->
<!--                    <v-list-item-title>-->
<!--                      <div class="d-flex align-center">-->
<!--                        <users-icon size="16" color="var(&#45;&#45;primary-1)" class="mr-3" />-->
<!--                        <span>{{ $t("document-flow.views.boxes.create-resolution") }}</span>-->
<!--                      </div>-->
<!--                    </v-list-item-title>-->
<!--                  </v-list-item>-->

                  <v-list-item
                    link
                    :disabled="!isResolutionCreated"
                    @click="resolutionUpdateDrawer = true"
                  >
                    <v-list-item-title>
                      <div class="d-flex align-center">
                        <users-icon size="16" color="var(--primary-1)" class="mr-3" />
                        <span>{{ $t("document-flow.views.boxes.edit-resolution") }}</span>
                      </div>
                    </v-list-item-title>
                  </v-list-item>

                  <v-list-item
                    color="danger"
                    :input-value="isResolutionCreated"
                    :disabled="!isResolutionCreated"
                    link
                    @click="resolutionDeleteModal = true"
                  >
                    <v-list-item-title>
                      <div class="d-flex align-center">
                        <user-minus-icon
	                        size="16"
	                        :color="isResolutionCreated ? 'var(--primary-4)' : 'var(--primary-1)'"
	                        class="mr-3"
                        />
                        <span>{{ $t("document-flow.views.boxes.delete-resolution") }}</span>
                      </div>
                    </v-list-item-title>
                  </v-list-item>

                  <v-list-item
	                  v-if="['admin', 'hr_manager'].some(role => currentUser.roles.includes(role)) || inboxDetailModel.document.journal.id === JOURNAL_TYPES.APPLICATION || inboxDetailModel.document.journal.id === JOURNAL_TYPES.INNER"
                    link
                    :disabled="!inboxDetailModel.read_time"
                    @click="createOrderDrawer = true"
                  >
                    <v-list-item-title>
                      <div class="d-flex align-center">
                        <users-icon size="16" color="var(--primary-1)" class="mr-3" />
                        <span>{{ $t("document-flow.views.boxes.create-order") }}</span>
                      </div>
                    </v-list-item-title>
                  </v-list-item>
                </v-list>
              </template>
            </more-actions-menu-button>
		      </template>

		      <div v-if="xdfu" class="xdfu d-flex rounded-lg px-4 justify-center align-center small-2">
			      <alert-circle-icon size="18" class="mr-2" />

			      {{ $t('xdfu') }}
		      </div>
	      </template>

	      <template #content>

		      <template v-if="inboxDetailModel.document.journal.id === JOURNAL_TYPES.CALL_CENTER_APPEALS">
			      <application-template :detail="inboxDetailModel.document" />

			      <app-button
				      v-if="inboxDetailModel.read_time"
				      height="36"
				      color="var(--primary-1)"
				      :loading="loading"
				      class="mt-2"
				      @click="download"
			      >
				      <template>
					      {{$t('components.download')}}
				      </template>
				      <template #prepend>
					      <download-icon size="18"/>
				      </template>
			      </app-button>
		      </template>

         <template v-else>
	         <detail-content :columns="detailModel" :status="inboxDetailModel.status.id" :done-time="inboxDetailModel.performance_date" />
         </template>

		      <div class="mt-7">
			      <template v-if="inboxDetailModel.reason">
				      <div v-if="inboxDetailModel.status.id === STATUS_CODES.CANCEL">
					      <v-alert
						      color="var(--secondary-4)"
						      dark
						      class="mb-5 px-4 py-3"
					      >
						      <div class="d-flex gap-8 mb-2">
							      <app-avatar
								      :color="inboxDetailModel.modified_by.color"
								      :fullName="inboxDetailModel.modified_by.full_name"
								      avatar-size="36"
							      />

							      <div>
								      <span class="error-text font-500 small-2 d-block">
								        {{ inboxDetailModel.modified_by.full_name }} ({{ inboxDetailModel.modified_by.cisco }}) - {{ $t('cancel-document-reject-text') }}
								      </span>

								      <span class="d-flex align-center error-text font-500 small-3 d-block">
									      {{ inboxDetailModel.modified_by.top_level_department }}
									      <v-sheet
										      width="4"
										      height="4"
										      color="var(--primary-4)"
										      rounded
										      class="mx-1"
									      />
									      ({{ inboxDetailModel.modified_by.cisco }})
								      </span>
							      </div>
						      </div>

						      <span v-html="inboxDetailModel.reason" class="error-text font-500 small-2 reset-space"></span>
					      </v-alert>
				      </div>

				      <div v-if="inboxDetailModel.status.id === STATUS_CODES.DONE">
					      <v-alert
						      color="var(--secondary-1)"
						      dark
						      class="mb-5 px-4 py-3"
					      >
						      <div class="d-flex gap-8 mb-2">
							      <app-avatar
								      :color="inboxDetailModel.modified_by.color"
								      :fullName="inboxDetailModel.modified_by.full_name"
								      avatar-size="36"
							      />

							      <div>
								      <span class="primary-text font-500 small-2 d-block">
									      {{ inboxDetailModel.modified_by.full_name }} ({{ inboxDetailModel.modified_by.cisco }}) - {{ $t('confirm-document-success-text') }}
								      </span>

								      <span class="d-flex align-center primary-text font-500 small-3 d-block">
									      {{ inboxDetailModel.modified_by.top_level_department }}
									      <v-sheet
										      width="4"
										      height="4"
										      color="var(--primary-1)"
										      rounded
										      class="mx-1"
									      />
									      {{ inboxDetailModel.modified_date | filterCalendarToTime }}
								      </span>
							      </div>
						      </div>

						      <span v-html="inboxDetailModel.reason" class="primary-text font-500 small-2 reset-space"></span>
					      </v-alert>
				      </div>
			      </template>

            <div class="d-flex gap-8">
	            <read-document-button
		            :read-time="inboxDetailModel.read_time"
		            :document-id="Number($route.params.id)"
		            :acquaint-document-fn="fetchInboxAcquaintWithDocument"
	            />

	            <template v-if="inboxDetailModel.read_time">
		            <execution-mark
			            :is-execution-created="inboxDetailModel.is_performed"
			            :disabled="!inboxDetailModel.read_time"
			            @emit:up="(value) => executionDrawer = value"
		            />

		            <template v-if="!inboxDetailModel.is_performed">
			            <app-tooltip top>
				            <template #content>
					            <v-btn
						            color="var(--primary-1)"
						            depressed
						            small
						            min-height="36"
						            height="36"
						            class="rounded-lg"
						            @click="forNotedText"
					            >
						            <div class="d-flex align-center">
							        <span class="text-white size-13">
								        {{ $t("noted-text") }}
							        </span>
						            </div>
					            </v-btn>
				            </template>

				            <template #text>
					            {{ $t("for-noted-text") }}
				            </template>
			            </app-tooltip>
		            </template>
	            </template>
            </div>
		      </div>
	      </template>

	      <template #activity>
		      <activity-table />
	      </template>

	      <template #files>
		      <files-table :document-type="xdfu ? 'xdfu' : null" />
	      </template>
      </layout-with-tabs>

      <!-- Создать резолюцию (drawer) -->
      <resolution-drawer
        v-model="resolutionCreateDrawer"
        :review="Number(inboxDetailModel.assignment.review.id)"
        :parent="Number(inboxDetailModel.assignment.id)"
        :assignment-id="inboxDetailModel.assignment.child_id"
        :assignment-parent="inboxDetailModel.id"
        :xdfu="xdfu"
        title="document-flow.views.boxes.create-resolution"
        success-text="document-flow.components.create-chip"
        @emit:close="(value) => resolutionCreateDrawer = value"
        @emit:cancel-button="(value) => resolutionCreateDrawer = value"
      />
      <!-- Создать резолюцию (drawer) -->

      <!-- Изменить резолюцию (drawer) -->
      <resolution-drawer
        v-model="resolutionUpdateDrawer"
        :review="Number($route.params.id)"
        :parent="Number(inboxDetailModel.assignment.id)"
        :assignment-id="inboxDetailModel.assignment.child_id"
        :assignment-parent="inboxDetailModel.id"
        :form-type="formTypes.UPDATE"
        :xdfu="xdfu"
        title="document-flow.views.boxes.edit-resolution"
        success-text="document-flow.views.boxes.edit-resolution"
        @emit:close="(value) => resolutionUpdateDrawer = value"
        @emit:cancel-button="(value) => resolutionUpdateDrawer = value"
      >
      </resolution-drawer>
      <!-- /Изменить резолюцию (drawer) -->

      <!-- Удалить резолюцию (modal) -->
			<change-status-modal
        ref="statusModal"
        v-model="resolutionDeleteModal"
        :success-button-loading="resolutionDeleteSuccessButtonLoading"
        title="document-flow.views.boxes.delete-resolution"
        success-text="document-flow.views.boxes.delete-resolution"
        @emit:close="(value) => resolutionDeleteModal = value"
        @emit:cancel-button="(value) => resolutionDeleteModal = value"
        @emit:success-button="deleteResolution"
			/>
      <!-- /Удалить резолюцию (modal) -->

      <!-- Отметка об исполнение (drawer) -->
      <execution-mark-drawer
        v-model="executionDrawer"
        :title="inboxDetailModel.is_performed ? 'document-flow.views.boxes.change-performance' : 'document-flow.views.boxes.completion-mark'"
        :success-text="inboxDetailModel.is_performed ? 'document-flow.views.boxes.change-performance' : 'document-flow.views.boxes.completion-mark'"
        :success-button-loading="executionMarkSuccessLoading"
        @emit:close="(value) => executionDrawer = value"
        @emit:cancel-button="(value) => executionDrawer = value"
        @emit:success-button="createExecution"
      />
      <!-- /Отметка об исполнение (drawer) -->

      <!-- Создание приказа (drawer) -->
			<create-order-drawer
				v-model="createOrderDrawer"
				:attached-files="attachDocumentsList"
				:reply-document-id="inboxDetailModel.document.id"
        title="document-flow.views.boxes.create-order"
        success-text="document-flow.views.boxes.create-order"
        @emit:close="(value) => createOrderDrawer = value"
        @emit:cancel-button="(value) => createOrderDrawer = value"
				@emit:up-created="() => createOrderDrawer = false"
			/>
      <!-- /Создание приказа (drawer) -->
		</template>
	</div>
</template>

<script>
import { mapActions, mapGetters, mapState } from "vuex"
import { UsersIcon, UserMinusIcon, AlertOctagonIcon, CheckCircleIcon, AlertCircleIcon, DownloadIcon } from "vue-feather-icons"
import { AnswerMenuButton, ChangeStatusMenuButton, MoreActionsMenuButton, ReadDocumentButton } from "@/common/components/Buttons"
import { ChangeStatusModal } from "@/common/components/Modal"
import { combineKeysDocumentDetail } from "@/common/helpers"
import { FILE_EXTENSIONS, FORM_TYPES, JOURNAL_TYPES, STATUS_CODES } from "@/common/enums/notificationTypes"
import LayoutWithTabs from "@/common/components/DetailLayout/LayoutWithTabs"
import DetailContent from "@/common/components/DetailLayout/DetailContent"
import ResolutionDrawer from "./components/ResolutionDrawer"
import ActivityTable from "./components/ActivityTable.vue"
import FilesTable from "./components/FilesTable.vue"
import ExecutionMark from "./components/ExecutionMark.vue"
import ExecutionMarkDrawer from "./components/ExecutionMarkDrawer.vue"
import CreateOrderDrawer from "./components/CreateOrderDrawer.vue"
import ApplicationTemplate from "../../RegistrationNew/AppealCallCenter/components/ApplicationTemplate.vue"
import html2pdf from "html2pdf.js/src"
export default {
	name: "show",
	components: {
		UsersIcon,
		UserMinusIcon,
		AlertOctagonIcon,
		CheckCircleIcon,
		DownloadIcon,
		ChangeStatusMenuButton,
		ApplicationTemplate,
		ChangeStatusModal,
		LayoutWithTabs,
		AnswerMenuButton,
		MoreActionsMenuButton,
		ReadDocumentButton,
		DetailContent,
		ResolutionDrawer,
		ActivityTable,
		FilesTable,
		ExecutionMark,
		ExecutionMarkDrawer,
		CreateOrderDrawer,
		AlertCircleIcon
	},
	data() {
		return {
			detailModel: null,
			filesList: [],
			loading: false,
			resolutionCreateDrawer: false,
			resolutionUpdateDrawer: false,
			resolutionDeleteModal: false,
			resolutionDeleteSuccessButtonLoading: false,
			formTypes: FORM_TYPES,
			resolutionMeta: {
				receipt_date: null,
				signer: null,
				banner: true,
				is_verified: false,
				check_id: null
			},
			executionDrawer: false,
			executionMarkSuccessLoading: false,
			createOrderDrawer: false
		}
	},
	computed: {
		STATUS_CODES() {
			return STATUS_CODES
		},
		JOURNAL_TYPES() {
			return JOURNAL_TYPES
		},
		...mapState({
			inboxDetailModelLoader: state => state.documentFlowBoxesInbox.inboxDetailModelLoader,
			inboxDetailModel: state => state.documentFlowBoxesInbox.inboxDetailModel,
			inboxIndexTableCols: state => state.documentFlowBoxesInbox.inboxIndexTableCols,
			resolutionPerformersList: state => state.documentFlowBoxesInbox.resolutionPerformersList,
			executionMarkModel: state => state.documentFlowBoxesInbox.executionMarkModel,
			treeList: state => state.treeView.treeList,
		}),
		/*
		*
		* */
		...mapGetters({
			currentUser: "auth/getCurrentUser",
			attachDocumentsList: "documentFlowModule/getAttachDocumentsList",
		}),
		/*
		* Создан ли резолюция
		* */
		isResolutionCreated() {
			return this.inboxDetailModel.has_child_resolution
		},
		/*
		*
		* */
		resolution() {
			return {
				content: this.inboxDetailModel.assignment.content,
				deadline: this.inboxDetailModel.assignment.deadline,
				assignment: this.resolutionPerformersList.performers,
				register_number: this.inboxDetailModel.document.register_number,
				register_date: this.inboxDetailModel.document.register_date,
				receipt_date: this.inboxDetailModel.assignment.receipt_date,
				signer: this.inboxDetailModel.assignment.review.user,
				banner: true,
				check_id: this.inboxDetailModel.assignment.check_id,
				journal: this.inboxDetailModel.document.journal.name
			}
		},
		/*
    *
    * */
		journalTitle() {
			let title = null

			switch(this.inboxDetailModel.document.journal.id) {
				case JOURNAL_TYPES.INCOMING:
					title = this.inboxDetailModel.document.correspondent
						? this.inboxDetailModel.document.correspondent.organization_name
						: this.inboxDetailModel.document.journal.name
					break;
				case JOURNAL_TYPES.INNER:
					title = this.inboxDetailModel?.document?.department?.name
					break;
				case JOURNAL_TYPES.OUTGOING:
					title = this.inboxDetailModel.document.correspondent && this.inboxDetailModel.document.correspondent.organization_name
					break;
				case JOURNAL_TYPES.APPEALS:
					title = this.inboxDetailModel.document.correspondent && this.inboxDetailModel.document.correspondent.organization_name
					break;
				case JOURNAL_TYPES.ORDER_AND_PROTOCOL:
					title = this.inboxDetailModel.document.title ?? this.inboxDetailModel?.document?.department?.name
					break;
				default:
					// Application
					title = this.inboxDetailModel?.document?.department?.name
			}

			return title
		},
		/** **/
		xdfu() {
			return this.inboxDetailModel?.document?.journal?.id === 8
		},
		/** **/
		canCreateResolution() {
			return this.inboxDetailModel?.parent !== null && this.xdfu
		}
	},
	async mounted() {
		await this.fetchInboxById({ id: this.$route.params.id, loader: true, is_secret: this.$route.query.is_secret })
		await this.getAttachFilesList()
		await this.fetchTreeUsersList({ treeId: this.inboxDetailModel.document.id })
		this.combineDetailKeys();

		if (this.xdfu){
			window.addEventListener("contextmenu", this.preventContextMenu);
		}
	},
	beforeDestroy() {
		window.removeEventListener("contextmenu", this.preventContextMenu);
	},
	methods: {
		...mapActions({
			fetchInboxById: "documentFlowBoxesInbox/fetchInboxById",
			fetchInboxAcquaintWithDocument: "documentFlowBoxesInbox/fetchInboxAcquaintWithDocument",
			fetchDeleteInboxResolution: "documentFlowBoxesInbox/fetchDeleteInboxResolution",
			fetchUpdateInboxStatus: "documentFlowBoxesInbox/fetchUpdateInboxStatus",
			fetchGetResolutionPerformers: "documentFlowBoxesInbox/fetchGetResolutionPerformers",
			fetchExecutionMark: "documentFlowBoxesInbox/fetchExecutionMark",
			fetchAttachFilesList: "documentFlowModule/fetchAttachFilesList",
			fetchTreeUsersList: "treeView/fetchTreeUsersList",
		}),
		/*
		*
		* */
		async forNotedText() {
			this.executionMarkModel.performance_note = this.$t("for-noted-text")

			await this.fetchExecutionMark({
				id: this.$route.params.id,
				is_secret: this.$route.query.is_secret
			})
			this.$toast.success(this.$t("document-for-noted-text"))
		},
		/*
    *
    * */
		async getAttachFilesList() {
			await this.fetchAttachFilesList({
				incomingDocId: this.inboxDetailModel.document.id
			})
			await this.fetchGetResolutionPerformers({
				id: this.inboxDetailModel.assignment.id
			})

			this.filesList = this.attachDocumentsList.filter(doc => doc.document).map(file => {
				return {
					name: file.document.name,
					url: file.document.url,
					extension: FILE_EXTENSIONS.FILE
				}
			})

			this.filesList.unshift({
				name: this.$t("components.chip-asakabank"),
				extension: FILE_EXTENSIONS.RESOLUTION
			})
		},
		/*
		*
		* */
		async deleteResolution(text) {
			this.resolutionDeleteSuccessButtonLoading = true

			try {
				await this.fetchDeleteInboxResolution({
					comment: text,
					id: this.inboxDetailModel.assignment.child_id,
					documentId: this.inboxDetailModel.id,
					treeId: this.inboxDetailModel.document.id
				})

				this.$toast.success(this.$t("deleted_resolution"))

				this.resolutionDeleteModal = false
			} finally {
				this.resolutionDeleteSuccessButtonLoading = false
			}
		},
		/*
		*
		* */
		async watchResolutionParent(tree) {
			if(tree.assignees && tree.assignees.length) {
				let first = tree.assignees[0]
				this.inboxDetailModel.assignment.content = first.content
				this.inboxDetailModel.assignment.deadline = first.deadline
				// this.resolutionMeta.signer = tree.user
				// this.resolutionMeta.is_verified = first.is_verified
				// this.resolutionMeta.check_id = first.check_id
				// this.resolutionMeta.receipt_date = first.receipt_date
				// this.resolutionMeta.banner = true

				await this.fetchGetResolutionPerformers({ id: first.id })
			}
		},
		/*
		*
		* */
		async watchResolutionChild(children) {
			if(children && children.length) {
				let first = children[0]
				this.inboxDetailModel.assignment.content = first.assignment.content
				this.inboxDetailModel.assignment.deadline = first.assignment.deadline
				// this.resolutionMeta.signer = null
				// this.resolutionMeta.banner = false

				await this.fetchGetResolutionPerformers({ id: first.assignment.id })
			}
		},
		/*
		*
		* */
		async createExecution(fileUploadRef) {
			try {
			  this.executionMarkSuccessLoading = true
			  await this.fetchExecutionMark({
			    id: this.$route.params.id,
				  is_secret: this.$route.query.is_secret
			  })
				this.$toast.success(this.$t("document-flow.views.boxes.document-executed"))
				this.executionDrawer = false
				await fileUploadRef.clearFiles()
				fileUploadRef.$children[0].$refs.input.previousSibling.innerText = null
			}
			finally {
			  this.executionMarkSuccessLoading = false
			}
		},
		/*
		*
		* */
		combineDetailKeys() {
			this.detailModel = combineKeysDocumentDetail(this.inboxIndexTableCols, this.inboxDetailModel)
		},
		/** **/
		preventContextMenu(event) {
			event.preventDefault();
		},
		/** **/
		download() {
			let fileName = this.inboxDetailModel.document.full_name_sender
			this.loading = true;
			const element = document.getElementById('elementToDownload');
			const opt = {
				margin: [10, 10, 10, 10],
				filename: fileName,
				image: {type: 'jpeg', quality: 0.98},
				html2canvas: {scale: 2, letterRendering: true},
				jsPDF: {unit: 'mm', format: 'a4', orientation: 'portrait'}
			};
			html2pdf().set(opt).from(element).save();
			setTimeout(() => {
				this.loading = false;
			}, 1000)
		},
	}
}
</script>

<style scoped>

</style>
