<template>
	<div class="event-calendar-view h-100">
    <div class="d-flex h-100">
      <calendar-resources class="aside-width-300"></calendar-resources>

      <event-calendar class="flex-1" />

      <!-- Event update -->
      <v-navigation-drawer
        v-if="isEventDrawerVisible"
        v-model="isEventDrawerVisible"
        absolute
        bottom
        temporary
        width="540"
        @input="(value) => !value ? toggleEventDrawer(false) : void 0"
      >
        <perfect-scrollbar class="h-100">
          <div class="d-flex flex-column h-100">
            <div class="flex-1">
              <!-- Title -->
              <div class="d-flex mb-5 pt-8 pl-16 ml-2 pr-6">
                <div class="flex-1">
                  <div class="app-input">
                    <v-text-field
                      v-model="$v.eventCreateModel.title.$model"
                      :error="$v.eventCreateModel.title.$error"
                      autofocus
                      :placeholder="$t('event-calendar.add-title-time')"
                      class="pa-0 ma-0"
                      :error-messages="errorMessageText"
                    />
                  </div>
                </div>
              </div>
              <!-- /Title -->

              <event-update
                :conference-id="eventCreateModel.id"
                mode="edit"
                @emit:save="saveEvent"
                @emit:cancel="cancelEvent"
                @emit:progress="inProgressEvent"
              ></event-update>
            </div>
          </div>
        </perfect-scrollbar>
      </v-navigation-drawer>
      <!-- /Event update -->
    </div>
	</div>
</template>

<script>
import FileUpload from "@/common/components/FileUpload"
import CalendarResources from "./components/CalendarResources"
import EventCalendar from "./components/EventCalendar"
import EventUpdate from "./components/EventUpdate"

import { required } from "vuelidate/lib/validators"
import { mapActions, mapGetters, mapMutations, mapState } from "vuex"

export default {
	name: "index",
	components: {
		CalendarResources,
		EventCalendar,
    EventUpdate,
    FileUpload
	},
  data() {
	  return {
      eventUpdateState: true,
      errorMessageText: null
    }
  },
  validations: {
    eventCreateModel: {
      title: { required },
    }
  },
  computed: {
    ...mapState({
      eventCreateModel: state => state.gridCalendar.eventCreateModel
    }),
	  /*
	  *
	  * */
	  ...mapGetters({
      getChangedDate: "gridCalendar/getChangedDate",
      getIsEventDrawerVisible: "gridCalendar/getIsEventDrawerVisible",
    }),
    /*
    *
    * */
    isEventDrawerVisible: {
      get() {
        return this.getIsEventDrawerVisible
      },
      set(value) {
        return value
      }
    }
  },
  watch: {
    getChangedDate: {
      handler(val) {
        this.$router.push({
          name: "MainEventCalendarDate",
          params: { date: val }
        }).catch(() => {})
      },
      deep: true
    },
    /*
    *
    * */
    "$route.params": {
      handler(val) {
        if(val.hasOwnProperty("date")) {
          this.UPDATE_CHANGED_DATE(val.date)
        }
      },
      deep: true,
      immediate: true
    }
  },
  mounted() {
    document.documentElement.classList.add("overflow-y-hidden")
  },
  beforeDestroy() {
    document.documentElement.classList.remove("overflow-y-hidden")

    this.clearMyCalendarList()
  },
  methods: {
	  ...mapMutations({
      UPDATE_CHANGED_DATE: "gridCalendar/UPDATE_CHANGED_DATE"
    }),
    /*
    *
    * */
    ...mapActions({
      toggleEventDrawer: "gridCalendar/toggleEventDrawer",
      fetchUpdateEventById: "gridCalendar/fetchUpdateEventById",
      clearMyCalendarList: "gridCalendar/clearMyCalendarList",
    }),
    /*
    *
    * */
    eventUpdateAction(id, status, model) {
      this.fetchUpdateEventById({
        id,
        status,
        model
      })
      .then(() => {
        window.location.reload()
      })
      .catch(error => {
        if(error.status === 400) {
          this.$toast.error(this.$t('event-calendar.user-busy'), { timeout: 20000 })

          for (let key in error.data.conference) {
            let [start, end] = error.data.conference[key].conference_date.split(" - ")

            this.$toast.error(
              `${error.data.conference[key].last_name} ${error.data.conference[key].firs_name} - ${this.$options.filters.filterCalendarToTime(start)} - ${this.$options.filters.filterCalendarToTime(end)}`,
              { timeout: 20000 }
            )
          }

          return;
        }

        this.$toast.error(this.$t('event-calendar.update-error'))
      })
    },
    /*
    *
    * */
    saveEvent() {
      this.$v.$touch()

      if (this.$v.$invalid) {
        this.errorMessageText = this.$t('event-calendar.required-fields')
        return;
      }

      this.eventUpdateAction(this.eventCreateModel.id, this.eventCreateModel.status, this.eventCreateModel)
    },
    /*
    *
    * */
    cancelEvent() {
      this.$v.$touch()

      if (this.$v.$invalid) {
        this.errorMessageText = this.$t('event-calendar.required-fields')
        return;
      }

      this.eventUpdateAction(this.eventCreateModel.id, 'canceled', this.eventCreateModel)
    },
    /*
    *
    * */
    inProgressEvent() {
      this.$v.$touch()

      if (this.$v.$invalid) {
        this.errorMessageText = this.$t('event-calendar.required-fields')
        return;
      }

      this.eventUpdateAction(this.eventCreateModel.id, 'in_progress', this.eventCreateModel)
    }
  }
}
</script>

<style>
.event-calendar-view.app-router-view {
  padding: 0 !important;
}

.event-calendar-view .v-calendar-weekly {
  border-top: 0 !important;
}
</style>
