<template>
	<div class="application-view">
		<ui-data-table
			:height="tableHeight"
			:headers-list="indexTableCols"
			:filter-state="indexTableFilters"
			:filter-storage-name="APPLICATION_FILTER"
			:config-column-storage-name="APPLICATION_COLUMN"
			:api-url="`docflow/${currentUser.filial}/inner_doc`"
			:api-params="{ journal: 7 }"
			@saveConfigColumn="saveConfigColumn"
			@resetConfigColumn="resetConfigColumn"
			@clearFilter="clearFilter"
			@deleteSavedFilter="clearFilter"
		>
      <template #index="{ value, item }">
        <span class="ma-auto">{{ item.index }}</span>
      </template>

			<template #doc_type.name="{ value, item }">
				<router-link
					:to="{
            name: 'ApplicationRegistrationDetail',
            params: {
              id: item.id,
            }
          }"
				>
					{{ value }}
				</router-link>
			</template>

			<template #register_date="{ value, item }">
				<router-link
					:to="{
            name: 'ApplicationRegistrationDetail',
            params: {
              id: item.id,
            }
          }"
				>
					{{ value | filterCalendarToTime }}
				</router-link>
			</template>

			<template #correspondent.organization_name="{ value, item }">
				<router-link
					:to="{
            name: 'ApplicationRegistrationDetail',
            params: {
              id: item.id,
            }
          }"
				>
					{{ value }}
				</router-link>
			</template>

			<template #author="{ value, item }">
				<router-link
					:to="{
            name: 'ApplicationRegistrationDetail',
            params: {
              id: item.id
            }
          }"
				>
					<ui-avatar-group
						:avatar-list="[value]"
            class="opacity-80"
					/>
				</router-link>
			</template>

			<template #review_users="{ value, item }">
				<router-link
					:to="{
            name: 'ApplicationRegistrationDetail',
            params: {
              id: item.id
            }
          }"
				>
					<ui-avatar-group
						:avatar-list="value"
            class="opacity-80"
					/>
				</router-link>
			</template>

			<template #priority="{ value, item }">
				<router-link
					:to="{
            name: 'ApplicationRegistrationDetail',
            params: {
              id: item.id
            }
          }"
				>
					<ui-priority
						v-if="value"
						:text="value"
					/>
				</router-link>
			</template>

			<template #deadline="{ value, item }">
				<router-link
					:to="{
            name: 'ApplicationRegistrationDetail',
            params: {
              id: item.id
            }
          }"
				>
          <span>
            {{ value | filterCalendarToTime }}
          </span>
				</router-link>
			</template>

			<template #filterBody>
				<application-table-filter />
			</template>

      <template #headerAction>
        <register-button />
      </template>

		</ui-data-table>
	</div>
</template>

<script>
import {mapActions, mapGetters, mapState} from "vuex";
import { APPLICATION_COLUMN, APPLICATION_FILTER } from "@/common/constants"
import { getItem } from "@/services/jwt.service"
import ApplicationTableFilter from "./components/ApplicationTableFilter";
import RegisterButton from "@/modules/DocumentFlow/views/RegistrationNew/components/RegisterButton.vue";

export default {
	name: "index",
	components: {
		RegisterButton,
		ApplicationTableFilter
	},
	data() {
		return {
			APPLICATION_COLUMN,
			APPLICATION_FILTER,
		}
	},
	created() {
		this.setSavedTableCols()
		this.setSavedFilters()
	},
	computed: {
		...mapState({
			indexTableCols: state => state.documentFlowRegistrationApplication.indexTableCols,
			indexTableFilters: state => state.documentFlowRegistrationApplication.indexTableFilters
		}),
		/**/
		...mapGetters({
			currentUser: "auth/getCurrentUser"
		}),
		/**/
		tableHeight() {
			return document.documentElement.clientHeight - 250
		},
	},
	methods: {
		...mapActions({
			setActiveIndexTableCols: "documentFlowRegistrationApplication/setActiveIndexTableCols",
			resetIndexTableCols: "documentFlowRegistrationApplication/resetIndexTableCols",
			resetIndexTableFilters: "documentFlowRegistrationApplication/resetIndexTableFilters",
			setActiveIndexTableFilters: "documentFlowRegistrationApplication/setActiveIndexTableFilters",
		}),
		/**/
		saveConfigColumn(columns) {
			this.setActiveIndexTableCols(columns)
		},
		/**/
		resetConfigColumn() {
			this.resetIndexTableCols()
		},
		/**/
		setSavedTableCols() {
			let savedColsFromStorage = JSON.parse(getItem(this.APPLICATION_COLUMN)) ?? {}

			if(Object.keys(savedColsFromStorage).length) {
				this.setActiveIndexTableCols(savedColsFromStorage)
			} else {
				this.setActiveIndexTableCols(this.indexTableCols)
			}
		},
		/**/
		async clearFilter() {
			await this.resetIndexTableFilters()
		},
		/**/
		setSavedFilters() {
			if(this.$route.query) {
				let savedFiltersFromStorage = JSON.parse(getItem(this.APPLICATION_FILTER)) ?? {}
				delete this.$route.query.page
				delete this.$route.query.page_size

				if(Object.keys(savedFiltersFromStorage).length) {
					this.setActiveIndexTableFilters(savedFiltersFromStorage)
				} else {
					this.setActiveIndexTableFilters(this.$route.query)
				}
			}
		}
	}
}
</script>

<style scoped>

</style>
