<template>
	<table-list :table-props="table_props" />
</template>

<script>
import TableList from "../components/TableList";

export default {
	name: "List",
	components: {
		TableList
	},
	data() {
		return {
			table_props: {
				isSent: null,
				statuses: "25,26,45",
				byUser: true,
				inAgreement: true,
				isThirdSide: false
			}
		}
	}
}
</script>

<style scoped>

</style>
