<template>
	<div class="order-protocol-view">
		<ui-data-table
			:height="tableHeight"
			:headers-list="indexTableCols"
			:filter-state="indexTableFilters"
			:filter-storage-name="FILIAL_DOCUMENT_FILTER"
			:config-column-storage-name="FILIAL_DOCUMENT_COLUMN"
			:api-url="`docflow/${currentUser.filial}/for_registration`"
			@saveConfigColumn="saveConfigColumn"
			@resetConfigColumn="resetConfigColumn"
			@clearFilter="clearFilter"
			@deleteSavedFilter="clearFilter"
		>
      <template #index="{ value, item }">
        <span class="ma-auto">{{ item.index }}</span>
      </template>

			<template #doc_type.name="{ value, item }">
				<router-link
					:to="{
            name: 'FilialDocumentsRegistrationFormShow',
            params: {
              id: item.id,
            }
          }"
				>
					{{ value }}
				</router-link>
			</template>

			<template #register_number="{ value, item }">
				<router-link
					:to="{
            name: 'FilialDocumentsRegistrationFormShow',
            params: {
              id: item.id,
            }
          }"
				>
					{{ value }}
				</router-link>
			</template>

			<template #register_date="{ value, item }">
				<router-link
					:to="{
            name: 'FilialDocumentsRegistrationFormShow',
            params: {
              id: item.id,
            }
          }"
				>
					{{ value | filterCalendarToTime }}
				</router-link>
			</template>

			<template #sender="{ value, item }">
				<router-link
					:to="{
            name: 'FilialDocumentsRegistrationFormShow',
            params: {
              id: item.id,
            }
          }"
				>
					{{ value.name }}
				</router-link>
			</template>

			<template #created_by="{ value, item }">
				<router-link
					:to="{
            name: 'FilialDocumentsRegistrationFormShow',
            params: {
              id: item.id
            }
          }"
				>
					<ui-avatar-group
						:avatar-list="[value]"
            class="opacity-80"
					/>
				</router-link>
			</template>

      <template #status.name="{ value, item }">
        <router-link
          :to="{
            name: 'FilialDocumentsRegistrationFormShow',
            params: {
              id: item.id
            }
          }"
        >
          <ui-status
            v-if="value"
            :text="value"
          />
        </router-link>
      </template>

			<template #filterBody>
				<filial-document-table-filter />
			</template>

      <template #headerAction>
        <register-button />
      </template>

		</ui-data-table>
	</div>
</template>

<script>
import {mapActions, mapGetters, mapState} from "vuex";
import { FILIAL_DOCUMENT_COLUMN, FILIAL_DOCUMENT_FILTER } from "@/common/constants"
import { getItem } from "@/services/jwt.service"
import FilialDocumentTableFilter from "./components/FilialDocumentTableFilter";
import RegisterButton from "@/modules/DocumentFlow/views/RegistrationNew/components/RegisterButton.vue";

export default {
	name: "index",
	components: {
		RegisterButton,
		FilialDocumentTableFilter
	},
	data() {
		return {
			FILIAL_DOCUMENT_COLUMN,
			FILIAL_DOCUMENT_FILTER,
			filterState: {}
		}
	},
	computed: {
		...mapState({
			indexTableCols: state => state.documentFlowRegistrationFilialDocument.indexTableCols,
			indexTableFilters: state => state.documentFlowRegistrationFilialDocument.indexTableFilters
		}),
		/**/
		...mapGetters({
			currentUser: "auth/getCurrentUser"
		}),
		/**/
		tableHeight() {
			return document.documentElement.clientHeight - 250
		},
	},
	created() {
		this.setSavedTableCols()
		this.setSavedFilters()
	},
	methods: {
		...mapActions({
			setActiveIndexTableCols: "documentFlowRegistrationFilialDocument/setActiveIndexTableCols",
			resetIndexTableCols: "documentFlowRegistrationFilialDocument/resetIndexTableCols",
			resetIndexTableFilters: "documentFlowRegistrationFilialDocument/resetIndexTableFilters",
			setActiveIndexTableFilters: "documentFlowRegistrationFilialDocument/setActiveIndexTableFilters",
		}),
		/**/
		saveConfigColumn(columns) {
			this.setActiveIndexTableCols(columns)
		},
		/**/
		resetConfigColumn() {
			this.resetIndexTableCols()
		},
		/**/
		setSavedTableCols() {
			let savedColsFromStorage = JSON.parse(getItem(this.FILIAL_DOCUMENT_COLUMN)) ?? {}

			if(Object.keys(savedColsFromStorage).length) {
				this.setActiveIndexTableCols(savedColsFromStorage)
			} else {
				this.setActiveIndexTableCols(this.indexTableCols)
			}
		},
		/**/
		async clearFilter() {
			await this.resetIndexTableFilters()
		},
		/**/
		setSavedFilters() {
			if(this.$route.query) {
				let savedFiltersFromStorage = JSON.parse(getItem(this.FILIAL_DOCUMENT_FILTER)) ?? {}
				delete this.$route.query.page
				delete this.$route.query.page_size

				if(Object.keys(savedFiltersFromStorage).length) {
					this.setActiveIndexTableFilters(savedFiltersFromStorage)
				} else {
					this.setActiveIndexTableFilters(this.$route.query)
				}
			}
		}
	}
}
</script>

<style scoped>

</style>
