<template>
	<div class="appeal-detail-view">
		<template v-if="isLoading">
			<app-loader full-width />
		</template>

		<template v-else>
			<layout-with-tabs
				:layout-title="reviewGetOneAppeal.register_number"
				:layout-status-text="reviewGetOneAppeal && reviewGetOneAppeal.status && reviewGetOneAppeal.status.name"
				:tree-list="treeList"
				:object-id="reviewGetOneAppeal.id"
				:files-list="filesList"
				:resolution="resolution"
				:is-verified="assignment && assignment.is_verified"
				:compose-id="reviewGetOneAppeal && reviewGetOneAppeal.compose_detail && reviewGetOneAppeal.compose_detail.compose_id"
				@emit:watch-resolution-child="watchResolutionChild"
				@emit:watch-resolution-parent="watchResolutionParent"
			>
				<template #toolbar>
					<update-button
						:roles="['admin', 'chancellery', 'chancellery_admin', 'filial_chancellery', 'registration_appeal']"
						route-name="AppealDocumentRegistrationFormShow"
					/>

					<div v-if="reviewGetOneAppeal.closed_type && reviewGetOneAppeal.closed_type.name" class="xdfu d-flex rounded px-4 justify-center align-center small-2">
						{{ reviewGetOneAppeal.closed_type.name }}
					</div>

					<close-appeal-modal
						:model="reviewGetOneAppeal"
						:closed="Boolean(reviewGetOneAppeal.closed_type && reviewGetOneAppeal.closed_type.id)"
						@emit:onAppealClosed="fetchAppealDocumentById($route.params.id)"
					/>
				</template>

				<template #content>
					<detail-content
						:columns="detailModel"
						:done-time="reviewGetOneAppeal.modified_date"
					/>

					<v-row>
						<v-col md="4">
							<ui-label-text
								label="document-flow.views.boxes.applicant"
								:text="reviewGetOneAppeal.applicant === 'physics' ? 'document-flow.views.boxes.individual' : 'document-flow.views.boxes.legal-entity'"
							></ui-label-text>
						</v-col>

						<v-col md="4">
							<ui-label-text
								label="document-flow.views.boxes.applicant-full-name"
								:text="reviewGetOneAppeal.full_name_sender"
								disable-text-translate
							></ui-label-text>
						</v-col>

						<v-col md="4">
							<ui-label-text
								label="document-flow.views.registration.region"
								:text="reviewGetOneAppeal.region && reviewGetOneAppeal.region.name"
								disable-text-translate
							></ui-label-text>
						</v-col>

						<v-col md="4">
							<ui-label-text
								label="document-flow.views.boxes.district"
								:text="reviewGetOneAppeal.district && reviewGetOneAppeal.district.name"
								disable-text-translate
							></ui-label-text>
						</v-col>

						<v-col md="4">
							<ui-label-text
								label="document-flow.views.registration.address"
								:text="reviewGetOneAppeal.address"
								disable-text-translate
							></ui-label-text>
						</v-col>

						<v-col md="4">
							<ui-label-text
								label="document-flow.views.boxes.phone-number"
								:text="reviewGetOneAppeal.phone_number"
								disable-text-translate
							></ui-label-text>
						</v-col>

						<v-col md="4">
							<ui-label-text
								label="document-flow.views.registration.submission-form"
								:text="reviewGetOneAppeal.delivery_type && reviewGetOneAppeal.delivery_type.name"
								disable-text-translate
							></ui-label-text>
						</v-col>

						<v-col md="4">
							<ui-label-text
								label="document-flow.views.boxes.type-complaint"
								:text="reviewGetOneAppeal.complaint_type && reviewGetOneAppeal.complaint_type.name"
								disable-text-translate
							></ui-label-text>
						</v-col>

						<v-col md="4">
							<ui-label-text
								label="document-flow.views.registration.state"
								:text="reviewGetOneAppeal.is_duplicate ? 'Дубликат' : 'Повторная заявка'"
								disable-text-translate
							></ui-label-text>
						</v-col>

						<v-col md="4">
							<ui-label-text
								label="gender"
								:text="reviewGetOneAppeal.gender === 'M' ? 'Мужской' : 'Женский'"
								disable-text-translate
							></ui-label-text>
						</v-col>

						<v-col v-if="reviewGetOneAppeal.state" md="4">
							<ui-label-text
								label="appealCondition"
								:text="reviewGetOneAppeal.state && reviewGetOneAppeal.state.name"
								disable-text-translate
							></ui-label-text>
						</v-col>

						<v-col v-if="reviewGetOneAppeal.theme" md="4">
							<ui-label-text
								label="matter"
								:text="reviewGetOneAppeal.theme && reviewGetOneAppeal.theme.name"
								disable-text-translate
							></ui-label-text>
						</v-col>

						<v-col v-if="reviewGetOneAppeal.general_theme" md="4">
							<ui-label-text
								label="generalTheme"
								:text="reviewGetOneAppeal.general_theme && reviewGetOneAppeal.general_theme.name"
								disable-text-translate
							></ui-label-text>
						</v-col>

						<v-col v-if="reviewGetOneAppeal.bxm" md="4">
							<ui-label-text
								label="bxm"
								:text="reviewGetOneAppeal.bxm && reviewGetOneAppeal.bxm.name"
								disable-text-translate
							></ui-label-text>
						</v-col>

						<v-col v-if="reviewGetOneAppeal.organization" md="4">
							<ui-label-text
								label="appealingOrganization"
								:text="reviewGetOneAppeal.organization && reviewGetOneAppeal.organization.name"
								disable-text-translate
							></ui-label-text>
						</v-col>

						<v-col v-if="reviewGetOneAppeal.organization_reg_number" md="4">
							<ui-label-text
								label="appealNumber"
								:text="reviewGetOneAppeal.organization_reg_number"
								disable-text-translate
							></ui-label-text>
						</v-col>

						<v-col v-if="reviewGetOneAppeal.organization_reg_date" md="4">
							<ui-label-text
								label="appealDate"
								:text="reviewGetOneAppeal.organization_reg_date | filterDateMonthYear"
								disable-text-translate
							></ui-label-text>
						</v-col>
					</v-row>

				</template>

				<template #activity>
					<activity-table
						:obj-id="reviewGetOneAppeal.id"
					/>
				</template>

				<template #files>
					<files-table
						:incoming-doc="reviewGetOneAppeal.id"
					/>
				</template>
			</layout-with-tabs>
		</template>
	</div>
</template>

<script>
import DetailContent from "../../../../../common/components/DetailLayout/DetailContent.vue";
import LayoutWithTabs from "../../../../../common/components/DetailLayout/LayoutWithTabs.vue";
import {mapActions, mapGetters, mapMutations, mapState} from "vuex";
import {combineKeysDocumentDetail} from "../../../../../common/helpers";
import ActivityTable from "../../BoxesNew/Review/components/ActivityTable.vue";
import FilesTable from "../../BoxesNew/Review/components/FilesTable.vue";
import {FILE_EXTENSIONS} from "../../../../../common/enums/notificationTypes";
import { Edit3Icon } from "vue-feather-icons";
import UpdateButton from "../components/UpdateButton.vue";
import CloseAppealModal from "./components/CloseAppealModal.vue";

export default {
	name: "Detail",
	components: {
		UpdateButton,
		FilesTable,
		ActivityTable,
		DetailContent,
		LayoutWithTabs,
		CloseAppealModal,
		Edit3Icon
	},
	data() {
		return {
			detailModel: null,
			filesList: [],
		}
	},
	computed: {
		...mapState({
			indexTableCols: state => state.documentFlowRegistrationAppeal.indexTableCols,
			assignment: state => state.documentFlowModule.assignment,
			treeList: state => state.treeView.treeList,
			resolutionPerformersList: state => state.documentFlowBoxesInbox.resolutionPerformersList,
		}),
		...mapGetters({
			currentUser: "auth/getCurrentUser",
			reviewGetOneAppeal: "documentFlowModule/getReviewGetOneAppeal",
			isLoading: "getDetailLoading",
			attachDocumentsList: "documentFlowModule/getAttachDocumentsList",
		}),
		/**/
		resolution() {
			if(!this.assignment) {
				return {
					register_number: this.reviewGetOneAppeal.register_number,
					deadline: this.reviewGetOneAppeal.assignees?.deadline,
					register_date: this.reviewGetOneAppeal.register_date,
					receipt_date: this.reviewGetOneAppeal.assignees && this.reviewGetOneAppeal.assignees.receipt_date,
					signer: this.reviewGetOneAppeal.user,
					banner: true
				}
			}

			return {
				...this.assignment,
				register_number: this.reviewGetOneAppeal.register_number,
				deadline: this.reviewGetOneAppeal.assignees?.deadline,
				register_date: this.reviewGetOneAppeal.register_date,
				signer: this.reviewGetOneAppeal.signer,
				banner: true,
				check_id: this.reviewGetOneAppeal.check_id,
				journal: this.reviewGetOneAppeal.journal.name,
				assignment: this.reviewGetOneAppeal.assignment,
				content: this.reviewGetOneAppeal.content
			}
		},
	},
	async mounted() {
		if (this.$route.params.id) {
			await this.fetchAppealDocumentById(this.$route.params.id);
			await this.getAttachFilesList();
			setTimeout(() => {
				this.combineDetailKeys();
			}, 100)
		}
	},
	methods: {
		...mapMutations({
			SET_ASSIGNMENT_APPEAL: "documentFlowModule/SET_ASSIGNMENT_APPEAL"
		}),
		...mapActions({
			fetchAppealDocumentById: "documentFlowModule/fetchAppealDocumentById",
			fetchAttachFiles: "documentFlowModule/fetchAttachFiles",
			fetchAttachFilesList: "documentFlowModule/fetchAttachFilesList",
			fetchAssignmentList: "documentFlowModule/fetchAssignmentList",
			fetchGetResolutionPerformers: "documentFlowBoxesInbox/fetchGetResolutionPerformers",
		}),
		/**/
		async getAttachFilesList() {
			await this.fetchAttachFilesList({
				incomingDocId: this.$route.params.id
			});

			this.filesList = this.attachDocumentsList.filter(doc => doc.document).map(file => {
				return {
					name: file.document && file.document.name,
					url: file.document && file.document.url,
					extension: FILE_EXTENSIONS.FILE
				}
			})

			this.filesList.unshift({
				name: this.$t("components.chip-asakabank"),
				extension: FILE_EXTENSIONS.RESOLUTION
			})
		},
		/**/
		async watchResolutionParent(tree) {
			if(tree.assignees && tree.assignees.length) {
				let first = tree.assignees[0]
				await this.fetchAssignmentList({id: tree.id})
				this.SET_ASSIGNMENT_APPEAL({
					...this.reviewGetOneAppeal,
					signer: tree.user,
					check_id: this.assignment?.check_id,
					assignment: this.assignment.assignment,
					content: first.content
				})
			}
		},
		/**/
		async watchResolutionChild(children) {
			if(children && children.length) {
				await this.fetchAssignmentList({id: children[0].assignment.review.id});
				let first = children[0]
				await this.fetchGetResolutionPerformers({id: first.assignment.id});
				this.SET_ASSIGNMENT_APPEAL({
					...this.reviewGetOneAppeal,
					assignment: this.resolutionPerformersList.performers,
					check_id: this.assignment?.check_id,
					signer: null,
					content: first.assignment.content
				})
			}
		},
		/**/
		combineDetailKeys() {
			this.detailModel = combineKeysDocumentDetail(this.indexTableCols, this.reviewGetOneAppeal);
		}
	}
}
</script>

<style scoped>

</style>
