<template>
	<div class="comment-modal">
		<v-dialog
			content-class="shadow-5"
			v-model="dialog"
			max-width="1075"
			@keydown.esc="closeCommentModal"
			persistent
		>
			<div class="bg-4 pa-9">
				<div class="d-flex align-center justify-space-between">
					<h6 class="heading-8 font-500">{{ actionName }}: {{ documentTitle }}</h6>
					<app-button
						@click="closeCommentModal"
						icon
						color="error"
						rounded
						width="45"
						min-width="45"
						height="45"
					>
						<x-icon />
					</app-button>
				</div>

				<div class="app-input mt-4">
					<span class="d-block font-600 small-2 mb-2">Комментарий</span>

					<v-textarea
						v-model="content"
						outlined
						hide-details
						no-resize
						auto-grow
						background-color="var(--input-bg)"
					></v-textarea>
				</div>

				<v-divider class="my-8" />

				<div class="d-flex justify-end">
					<app-button
						class="mr-2"
						:loading="submitButtonLoading"
						:color="submitButtonColor"
						@click="$emit('emit:submit', actionType)"
					>
						<template #prepend>
							<v-icon size="18">{{ submitButtonIcon }}</v-icon>
						</template>
						{{ submitButtonName }}
					</app-button>

					<app-button
						min-width="50px"
						@click="closeCommentModal"
					>
						Отменить
					</app-button>
				</div>

			</div>
		</v-dialog>
	</div>
</template>

<script>
import { XIcon } from "vue-feather-icons";

export default {
	name: "CommentModal",
	components: {
		XIcon
	},
	data() {
		return {
			dialog: false,
			actionName: "",
			actionType: null,
			submitButtonIcon: "",
			submitButtonLoading: false,
			submitButtonName: "",
			submitButtonColor: "primary",
			documentTitle: "",
		}
	},
	computed: {
		content: {
			get(){
				return this.value;
			},
			set(value){
				this.$emit('input', value)
			}
		}
	},
	methods: {
		closeCommentModal(){
			this.$emit("emit:close");
			this.dialog = false;
		}
	}
}
</script>

<style scoped>

</style>
