<template>
	<v-dialog
		content-class="shadow-5"
		v-model="dialog"
		max-width="1075"
		@keydown.esc="closeFilterModal"
		persistent
	>
		<div class="bg-4 pa-9">
			<div class="d-flex align-center justify-space-between">
				<h6 class="heading-8 font-500">Отправка документа на подписание</h6>
				<app-button
					@click="closeFilterModal"
					icon
					color="error"
					rounded
					width="45"
					min-width="45"
					height="45"
				>
					<x-icon />
				</app-button>
			</div>

			<div class="mt-4">
				<span class="small-2 font-500">Сотрудник</span>
			</div>

			<div class="mt-2">
				<v-autocomplete
					v-model="userSelected"
					@change="setUser"
					:items="userList"
					outlined
					item-text="account.lastName"
					hide-details
					background-color="var(--input-bg)"
					dense
					return-object
					clearable
					open-on-clear
					placeholder="Поиск и выбор сотрудников"
				>
					<template #append>
						<v-icon>mdi-chevron-down</v-icon>
					</template>

					<template v-slot:item="{ item }">
						<div class="d-flex">
							<span class="small-3 font-400">{{ item.account.lastName }} {{ item.account.firstName }} {{ item.account.middleName }}</span>
						</div>
					</template>

					<template v-slot:selection="{ item }">
						<div class="d-flex">
							<span class="small-3 font-400">{{ item.account.lastName }} {{ item.account.firstName }} {{ item.account.middleName }}</span>
						</div>
					</template>
				</v-autocomplete>
			</div>

			<div class="mt-2">
				<v-textarea
					outlined
					clearable
					hide-details
					background-color="var(--input-bg)"
				></v-textarea>
			</div>

			<div class="d-flex mt-8 justify-end">
				<app-button
					class="mr-2"
				>
					Отправить на подписание
				</app-button>

				<app-button
					min-width="50px"
					@click="closeFilterModal"
				>
					Отменить
				</app-button>
			</div>

		</div>
	</v-dialog>
</template>

<script>
import { XIcon } from "vue-feather-icons";
export default {
	name: "SendToSignerModal",
	components: {
		XIcon
	},
	data() {
		return {
			dialog: false,
			userList: [],
			userSelected: {}
		}
	},
	mounted() {
		this.getUserList();
	},
	methods: {
		closeFilterModal() {
			this.dialog = false;
		},
		/**/
		getUserList() {
			this.$axios.get(`/facture/employee/list/`)
				.then((res) => {
					this.userList = res.data;
				})
		},
		/**/
		setUser() {

		}
	}
}
</script>

<style scoped>

</style>
