<template>
	<v-dialog
		content-class="shadow-5"
		v-model="dialog"
		max-width="1075"
		@keydown.esc="closeFilterModal"
		persistent
	>
		<div class="bg-4 pa-9">
			<div class="d-flex align-center justify-space-between">
				<h6 class="heading-8 font-500">Отправка документа на согласование</h6>
				<app-button
					@click="closeFilterModal"
					icon
					color="error"
					rounded
					width="45"
					min-width="45"
					height="45"
				>
					<x-icon />
				</app-button>
			</div>

			<div class="mt-2">
				<v-autocomplete
					v-model="$v.userSelected.$model"
					:error="$v.userSelected.$error"
					@change="setUser"
					:items="userList"
					outlined
					item-text="account.lastName"
					hide-details
					background-color="var(--input-bg)"
					dense
					return-object
					clearable
					open-on-clear
					multiple
					placeholder="Поиск и выбор сотрудников"
				>
					<template #append>
						<v-icon>mdi-chevron-down</v-icon>
					</template>

					<template v-slot:item="{ item }">
						<div class="d-flex">
							<span class="small-3 font-400">{{ item.account.lastName }} {{ item.account.firstName }} {{ item.account.middleName }}</span>
						</div>
					</template>
				</v-autocomplete>
			</div>

			<template v-if="userSelected.length">
				<div class="mt-8">
					<span class="small-2 font-500">Список выбранных сотрудников</span>
				</div>

				<div class="overflow-y-auto mt-2" style="max-height: 400px">
					<div
						v-for="item in userSelected"
						:key="item.id"
						class="mt-2 d-flex border-all px-4 py-2 flex-column">
						<span class="small-2">{{ item.account.firstName }} {{ item.account.lastName }}</span>
						<span class="small-3 d-block ml-4 mt-1">{{ item.position }}</span>
					</div>
				</div>
			</template>

			<div class="d-flex mt-8 justify-end">
				<app-button
					class="mr-2"
					:loading="buttonLoading"
					@click="sendToApproval"
				>
					Отправить на согласования
				</app-button>

				<app-button
					min-width="50px"
					@click="closeFilterModal"
				>
					Отменить
				</app-button>
			</div>
		</div>
	</v-dialog>
</template>

<script>
import { XIcon } from "vue-feather-icons";
import { required } from "vuelidate/lib/validators";

export default {
	name: "SendToApproveModal",
	components: {
		XIcon
	},
	data() {
		return {
			dialog: false,
			userList: [],
			userSelected: [],
			buttonLoading: false
		}
	},
	validations: {
		userSelected: { required }
	},
	mounted() {
		this.getUserList();
	},
	methods: {
		closeFilterModal() {
			this.dialog = false;
		},
		/**/
		getUserList() {
			this.$axios.get(`/facture/employee/list/`)
				.then((res) => {
					this.userList = res.data;
				})
		},
		/**/
		setUser() {
			console.log(this.userSelected)
		},
		/**/
		sendToApproval() {
			this.buttonLoading = true;
			let users = []

			this.$v.$touch();
			if (this.$v.$invalid) {
				this.$toast.warning(this.$t('auth.enter-phone.required-field'))
				return;
			}
			this.userSelected.forEach(item => {
				users.push(item.id);
			})

			this.$axios.post(`/facture/agreement/send/${this.$route.params.id}/`, {
				users
			})
				.then(({ data }) => {
					if (data.success){
						this.$toast.success("Xujjat kelishish uchun yuborildi!");
						this.dialog = false;
						this.$emit("emit:onSuccess")
						this.buttonLoading = false;
					}else {
						this.$toast.error("Nimadir xato! Qaytadan urinib ko'ring!");
						this.buttonLoading = false;
					}
				})
		}
	}
}
</script>

<style scoped>

</style>
