<template>
	<div class="sign-modal-view">
		<v-dialog
			content-class="shadow-5"
			v-model="dialog"
			max-width="1075"
			@keydown.esc="closeFilterModal"
			persistent
		>
			<div class="bg-4 pa-9">
				<div class="d-flex align-center justify-space-between">
					<h6 class="heading-8 font-500">Подписание: {{ documentTitle }}</h6>
					<app-button
						@click="closeFilterModal"
						icon
						color="error"
						rounded
						width="45"
						min-width="45"
						height="45"
					>
						<x-icon />
					</app-button>
				</div>

				<div class="mt-4">
					<span class="small-2 font-500">Сертификат пользователя <span class="color-red">*</span></span>

					<v-select
						@change="cbChanged"
						v-model="keyValue"
						:items="keyUsersList"
						outlined
						background-color="var(--input-bg)"
						hide-details
						dense
						height="45"
						item-text="name"
						item-value="value"
						class="mt-2"
					>
						<template #append>
							<chevron-down-icon size="22" class="mt-1" />
						</template>
					</v-select>
				</div>

				<div class="mt-4">
					<span class="small-2 font-500">Комментарий</span>

					<v-textarea
						v-model="comment"
						outlined
						clearable
						no-resize
						counter
						persistent-hint
						background-color="var(--input-bg)"
						class="mt-2"
					>
						<template #counter="{ props }">
							<span class="small-3">{{ props.value }}/500</span>
						</template>
					</v-textarea>
				</div>

				<v-divider class="my-8" />

				<div class="d-flex justify-end">
					<app-button
						class="mr-2"
						:loading="buttonLoading"
						@click="sign"
					>
						<template #prepend>
							<v-icon size="18">mdi-check-circle</v-icon>
						</template>
						Подписать
					</app-button>

					<app-button
						min-width="50px"
						@click="closeFilterModal"
					>
						Отменить
					</app-button>
				</div>
			</div>
		</v-dialog>

		<!-- E-IMZO form -->
		<form class="d-none" name=testform>
			<label id="message"></label>
			<p>{{$t('document-flow.views.boxes.select-key-type')}}:</p>
			<input type="radio" id="pfx" name="keyType" value="pfx" onchange="keyType_changed()" checked="checked"><label
			for="pfx">PFX</label> - <select name="key" @change="cbChanged(this)"></select><br/>
			<input type="radio" id="idcard" name="keyType" value="idcard" onchange="keyType_changed()"><label for="idcard">ID-card</label>
			- <label id="plugged">{{$t('document-flow.views.boxes.no-connected')}}</label><br>
			<br/>
			{{$t('document-flow.views.boxes.signature-text')}} <br/>
			<textarea name="data"></textarea><br/>
			<p>{{$t('document-flow.views.boxes.select-document-type')}}:</p>
			<input type="radio" id="attached" name="pkcs7Type" value="attached" onchange="pkcs7Type_changed()"
			       checked="checked"><label for="attached">{{$t('document-flow.views.boxes.attached')}}</label><br/>
			<input type="radio" id="detached" name="pkcs7Type" value="detached" onchange="pkcs7Type_changed()"><label
			for="detached">{{$t('document-flow.views.boxes.detached')}}</label><br>
			<br/>
			<button @click="sign" type="button" id="signButton">{{$t('document-flow.views.boxes.sign-with-pfx-key')}}</button>
			<br/>
			<label id="progress"></label>
			<br/>
			{{$t('document-flow.views.boxes.id-key')}}: <label id="keyId"></label><br/>
			<br/>
			<label id="pkcs7Type_label">{{$t('document-flow.views.boxes.signed-document')}}</label><br/>
			<textarea name="pkcs7"></textarea><br/>
		</form>
		<!-- /E-IMZO form -->

	</div>
</template>

<script>
import { XIcon, ChevronDownIcon } from "vue-feather-icons";
import { create_pkcs7_64 } from "../../../common/helpers";

const EIMZO_MAJOR = 3;
const EIMZO_MINOR = 37;

export default {
	name: "SignModal",
	components: {
		ChevronDownIcon,
		XIcon
	},
	data() {
		return {
			dialog: false,
			comment: "",
			documentTitle: null,
			buttonLoading: false,

			keyId: "",
			keyUsersList: [],
			keyValue: null,
			pkcs7: null,

			hashBase64: null,
			roamingJsonContent64: null
		}
	},
	mounted() {
		this.appLoad();
	},
	methods: {
		closeFilterModal() {
			this.dialog = false;
			this.keyId = null;
			this.comment = null;
			this.keyValue = null;
		},
		/**/
		cbChanged(itm) {
			this.keyId = null
			let id = document.getElementById(itm);
			let vo = JSON.parse(id.getAttribute('vo'));

			EIMZOClient.loadKey(vo, (id) => {
				this.keyId = id;
			})
		},
		/** **/
		sign(){
			if (this.keyId){
				create_pkcs7_64(this.$route.params.id, this.keyId, this.roamingJsonContent64, this.comment)
					.then(res => {
						if (res.data.success === true && res.data.code === 0){
							this.$toast.success("Документ подписан!")
							this.closeFilterModal();
						}else {
							this.$toast.error("ЭЦП ключ не соответствует подписывающему лицу!");
							this.closeFilterModal();
						}
					})
					.catch(err => {
						this.buttonLoading = false;
						this.$toast.error(err);
					})
			}else {
				this.$toast.warning("Пожалуйста, выберите сертификат пользователя!!!")
			}
		},
		/**/
		appLoad() {
			EIMZOClient.API_KEYS = [
				'localhost', '96D0C1491615C82B9A54D9989779DF825B690748224C2B04F500F370D51827CE2644D8D4A82C18184D73AB8530BB8ED537269603F61DB0D03D2104ABF789970B',
				'127.0.0.1', 'A7BCFA5D490B351BE0754130DF03A068F855DB4333D43921125B9CF2670EF6A40370C646B90401955E1F7BC9CDBF59CE0B2C5467D820BE189C845D0B79CFC96F',
				'null', 'E0A205EC4E7B78BBB56AFF83A733A1BB9FD39D562E67978CC5E7D73B0951DB1954595A20672A63332535E13CC6EC1E1FC8857BB09E0855D7E76E411B6FA16E9D',
				'go.asakabank.uz', '22F652CA374900B57C8B7E7375BA4DBA5E7CF9E055CA2B449450E2DFACF8900B878414EC7762D86DDC62592CAB8C3DA1C21DC2190F5FA27AA0B809CE4624F0B6'
			];

			EIMZOClient.checkVersion((major, minor) => {
				const newVersion = EIMZO_MAJOR * 100 + EIMZO_MINOR;
				const installedVersion = parseInt(major) * 100 + parseInt(minor);
				if (installedVersion < newVersion) {
					this.$toast.error(this.$t('document-flow.views.boxes.error-3'))
				} else {
					EIMZOClient.installApiKeys(() => {
						this.uiLoadKeys();
					}, (e, r) => {
						if (r) {
							this.$toast.error(r)
						} else {
							this.$toast.error(e)
						}
					});
				}
			}, (e, r) => {
				if (r) {
					this.$toast.error(r)
				} else {
					console.log(e)
					alert(this.$t('document-flow.views.boxes.key-not-found'))
				}
			});
		},
		/**/
		uiLoadKeys() {
			this.uiClearCombo();
			EIMZOClient.listAllUserKeys((o, i) => {
				const itemId = "itm-" + o.serialNumber + "-" + i;
				return itemId;
			}, (itemId, v) => {
				return this.uiCreateItem(itemId, v);
			}, (items, firstId) => {
				this.uiFillCombo(items);
				this.uiComboSelect(firstId);
			}, (e, r) => {
				if (e) {
					this.$toast.error(this.$t('document-flow.views.boxes.error-1') + e)
				} else {
					console.log(r);
				}
			});
			EIMZOClient.idCardIsPLuggedIn((yes) => {
				document.getElementById('plugged').innerHTML = yes ? this.$t('document-flow.views.boxes.connected') : this.$t('document-flow.views.boxes.no-connected');
			}, (e, r) => {
				if (e) {
					this.$toast.error(this.$t('document-flow.views.boxes.error-1') + e)
				} else {
					console.log(r);
				}
			})
		},
		/**/
		uiClearCombo() {
			let combo = document.testform.key;
			combo.length = 0;
		},
		/**/
		uiCreateItem(itmkey, vo) {
			const now = new Date();
			vo.expired = dates.compare(now, vo.validTo) > 0;
			const itm = document.createElement("option");
			itm.value = itmkey;
			itm.text = vo.CN;
			if (!vo.expired) {

			} else {
				itm.style.color = 'gray';
				itm.text = itm.text + this.$t('document-flow.views.boxes.expired');
			}
			itm.setAttribute('vo', JSON.stringify(vo));
			itm.setAttribute('id', itmkey);
			return itm;
		},
		/**/
		uiFillCombo(items) {
			const combo = document.testform.key;
			for (let itm in items) {
				combo.append(items[itm]);
			}
			if (items.length){
				for (let item in items) {
					this.keyUsersList.push({
						name: items[item].text,
						value: items[item].value
					})
				}
				// this.keyValue = items[0].value
			}else {
				alert(this.$t('document-flow.views.boxes.key-not-found'))
			}
		},
		/**/
		uiComboSelect(itm) {
			if (itm) {
				const id = document.getElementById(itm);
				id.setAttribute('selected', 'true');
			}
		},
		/**/
		wsError(e) {
			if (e) {
				this.$toast.error(this.$t('auth.login-with-eri.error-1') + " : " + e);
			} else {
				this.$toast.error(this.$t('auth.login-with-eri.error-2'));
			}
		},
	}
}
</script>

<style scoped>

</style>
