<template>
  <div class="control-view">
    <ui-data-table
      ref="dataTable"
      :api-url="apiUrl"
      :height="tableHeight"
      :headers-list="indexTableCols"
      :filter-state="indexTableFilters"
      :filter-storage-name="CONTROL_FILTER"
      :config-column-storage-name="CONTROL_COLUMN"
      @saveConfigColumn="saveConfigColumn"
      @resetConfigColumn="resetConfigColumn"
      @clearFilter="clearFilter"
      @deleteSavedFilter="clearFilter"
      @handleSort="handleSort"
    >
      <template #index="{ value, item }">
        <span :class="{ 'font-700' : !item.is_read }">{{ item.index }}</span>
      </template>

      <template #document.priority="{ value, item }">
        <router-link
          :to="{
            name: 'ControlDetail',
            params: {
              id: item.id,
            },
            query: {
              route: 'control'
            }
          }"
        >
          <ui-priority
            v-if="value"
            :text="value"
            :class="!item.is_read ? 'font-700' : 'font-500'"
          />
        </router-link>
      </template>

      <template #document.journal.name="{ value, item }">
        <router-link
          :to="{
            name: 'ControlDetail',
            params: {
              id: item.id,
            },
            query: {
              route: 'control'
            }
          }"
        >
          <span :class="{ 'font-700' : !item.is_read, 'opacity-80' : item.is_read }">
            {{ value }}
          </span>
        </router-link>
      </template>

      <template #document.doc_type.name="{ value, item }">
        <router-link
          :to="{
            name: 'ControlDetail',
            params: {
              id: item.id,
            }
          }"
        >
          <span :class="{ 'font-700' : !item.is_read, 'opacity-80' : item.is_read }">
            {{ value }}
          </span>
        </router-link>
      </template>

      <template #document.register_number="{ value, item }">
        <router-link
          :to="{
            name: 'ControlDetail',
            params: {
              id: item.id,
            },
            query: {
              route: 'control'
            }
          }"
        >
          <span :class="{ 'font-700' : !item.is_read }">
            {{ value }}
          </span>
        </router-link>
      </template>

      <template #document.outgoing_number="{ value, item }">
        <router-link
          :to="{
            name: 'ControlDetail',
            params: {
              id: item.id,
            },
            query: {
              route: 'control'
            }
          }"
        >
          <span :class="{ 'font-700' : !item.is_read, 'opacity-80' : item.is_read }">
            {{ value }}
          </span>
        </router-link>
      </template>

      <template #document.register_date="{ value, item }">
        <router-link
          :to="{
            name: 'ControlDetail',
            params: {
              id: item.id,
            },
            query: {
              route: 'control'
            }
          }"
        >
          <span :class="{ 'font-700' : !item.is_read, 'opacity-80' : item.is_read }">
            {{ value | filterCalendarToTime }}
          </span>
        </router-link>
      </template>

      <template #document.outgoing_date="{ value, item }">
        <router-link
          :to="{
            name: 'ControlDetail',
            params: {
              id: item.id,
            },
            query: {
              route: 'control'
            }
          }"
        >
          <span :class="{ 'font-700' : !item.is_read, 'opacity-80' : item.is_read }">
            {{ value | filterCalendarToTime }}
          </span>
        </router-link>
      </template>

      <template #assignment.deadline="{ value, item }">
        <router-link
          :to="{
            name: 'ControlDetail',
            params: {
              id: item.id,
            },
            query: {
              route: 'control'
            }
          }"
        >
          <span :class="{ 'font-700' : !item.is_read, 'opacity-80' : item.is_read }">
            {{ value | filterCalendarToTime }}
          </span>
        </router-link>
      </template>

<!--      <template #type="{ value, item }">-->
<!--        <router-link-->
<!--          :to="{-->
<!--            name: 'ControlDetail',-->
<!--            params: {-->
<!--              id: item.id,-->
<!--            },-->
<!--            query: {-->
<!--              route: 'control'-->
<!--            }-->
<!--          }"-->
<!--        >-->
<!--          <v-chip-->
<!--            color="primary"-->
<!--            text-color="white"-->
<!--            style="font-size: 12px"-->
<!--          >-->
<!--            <span class="white&#45;&#45;text font-400">-->
<!--              {{ value === "assignment"-->
<!--              ? $t('document-flow.views.boxes.order')-->
<!--              : value === "control_point"-->
<!--                ? $t('document-flow.views.boxes.check-point')-->
<!--                : $t('document-flow.views.boxes.type-not-selected')-->
<!--              }}-->
<!--            </span>-->
<!--          </v-chip>-->
<!--        </router-link>-->
<!--      </template>-->

      <template #document.correspondent.organization_name="{ value, item }">
        <router-link
          :to="{
            name: 'ControlDetail',
            params: {
              id: item.id,
            },
            query: {
              route: 'control'
            }
          }"
        >
          <span :class="{ 'font-700' : !item.is_read, 'opacity-80' : item.is_read }">
            {{ value }}
          </span>
        </router-link>
      </template>

      <template #document.review_users="{ value, item }">
        <router-link
          :to="{
            name: 'ControlDetail',
            params: {
              id: item.id,
            },
            query: {
              route: 'control'
            }
          }"
        >
          <ui-avatar-group
            :avatar-list="value"
            class="opacity-80"
          />
        </router-link>
      </template>

      <template #document.description="{ value, item }">
        <app-tooltip top max-width="400" content-classes="d-inline-block w-100">
          <template #text>
            <span v-html="value"></span>
          </template>

          <template #content>
            <router-link
              :to="{
                name: 'ControlDetail',
                params: {
                  id: item.id
                }
              }"
              class="text-decoration-none"
            >
              <span class="line-truncate-2 text--dark" :class="{ 'font-700' : !item.is_read, 'opacity-80' : item.is_read }" v-html="value"></span>
            </router-link>
          </template>
        </app-tooltip>
      </template>

      <template #document.condition="{ value, item }">
        <router-link
          :to="{
            name: 'ControlDetail',
            params: {
              id: item.id,
            },
            query: {
              route: 'control'
            }
          }"
          class="justify-center"
        >
          <template v-if="value">
            <app-tooltip top>
              <template #content>
                <alert-circle-icon size="20" :color="value === 'three_days_left' ? '#fbac00': value === 'performed' ? '#00860c' : '#8e0000'" class="d-block" />
              </template>
              <template #text>
                {{ value === 'three_days_left' ? $t('document-flow.views.boxes.three-days-left'): value === 'performed' ? $t('document-flow.views.boxes.done') : $t('document-flow.views.boxes.overdue-completed') }}
              </template>
            </app-tooltip>
          </template>
        </router-link>
      </template>

      <template #status.name="{ value, item }">
        <router-link
          :to="{
            name: 'ControlDetail',
            params: {
              id: item.id
            }
          }"
        >
          <ui-status
            v-if="value"
            :text="value"
            :class="!item.is_read ? 'font-700' : 'font-500'"
          />
        </router-link>
      </template>

      <template #filterBody>
        <control-table-filter />
      </template>
    </ui-data-table>
  </div>
</template>

<script>
import { mapActions, mapGetters, mapState } from "vuex"
import { AlertCircleIcon } from "vue-feather-icons"
import { CONTROL_COLUMN, CONTROL_FILTER } from "@/common/constants"
import { getItem } from "@/services/jwt.service"

import ControlTableFilter from "./components/ControlTableFilter"

export default {
  name: "index",
  components: {
    ControlTableFilter,
    AlertCircleIcon
  },
  data() {
    return {
      CONTROL_COLUMN,
      CONTROL_FILTER,
      filterState: {}
    }
  },
  computed: {
    ...mapState({
      indexTableCols: state => state.documentFlowBoxesControl.indexTableCols,
      indexTableFilters: state => state.documentFlowBoxesControl.indexTableFilters
    }),
    /*
    *
    * */
    ...mapGetters({
      currentUser: "auth/getCurrentUser",
    }),
    /*
    *
    * */
    tableHeight() {
      return document.documentElement.clientHeight - 250
    },
    /*
    *
    * */
    apiUrl() {
      return `v2/docflow/${this.currentUser.filial}/my-control`
    }
  },
  created() {
    this.setSavedTableCols()
    this.setSavedFilters()
  },
  async beforeDestroy() {
	  if(!this.$route.fullPath.includes('show')) {
		  await this.resetIndexTableFilters()
	  }
  },
  methods: {
    ...mapActions({
      setActiveIndexTableCols: "documentFlowBoxesControl/setActiveIndexTableCols",
      resetIndexTableCols: "documentFlowBoxesControl/resetIndexTableCols",
      resetIndexTableFilters: "documentFlowBoxesControl/resetIndexTableFilters",
      setActiveIndexTableFilters: "documentFlowBoxesControl/setActiveIndexTableFilters",
    }),
    /*
    *
    * */
    saveConfigColumn(columns) {
      this.setActiveIndexTableCols(columns)
    },
    /*
    *
    * */
    resetConfigColumn() {
      this.resetIndexTableCols()
    },
    /*
    * Заполняем нужные поля колонки таблицы если пользователь перезагрузил браузер
    * */
    setSavedTableCols() {
      let savedColsFromStorage = JSON.parse(getItem(this.CONTROL_COLUMN)) ?? {}

      if(Object.keys(savedColsFromStorage).length) {
        this.setActiveIndexTableCols(savedColsFromStorage)
      } else {
        this.setActiveIndexTableCols(this.indexTableCols)
      }
    },
    /*
    *
    * */
    async clearFilter() {
      await this.resetIndexTableFilters()
    },
    /*
    * Заполняем нужные поля фильтра если пользователь перезагрузил браузер
    * */
    setSavedFilters() {
      if(this.$route.query) {
        let savedFiltersFromStorage = JSON.parse(getItem(this.CONTROL_FILTER)) ?? {}
        delete this.$route.query.page
        delete this.$route.query.page_size

        if(Object.keys(savedFiltersFromStorage).length) {
          this.setActiveIndexTableFilters(savedFiltersFromStorage)
        } else {
          this.setActiveIndexTableFilters(this.$route.query)
        }
      }
    },
    /*
    *
    * */
    handleSort({ key, value }) {
      const { dataTable } = this.$refs

      console.log(key, value);
      // this.indexTableFilters[key] = value
      //
      // let active = {}
      //
      // Object.entries(this.indexTableFilters).forEach(filter => {
      //   const [key, value] = filter
      //
      //   if(key.startsWith("__")) {
      //     return;
      //   }
      //
      //   if(value || value === true || value === false) {
      //     active[key] = value
      //   }
      // })
      //
      // dataTable.getDataFromApi(active)
    }
  }
}
</script>
