<template>
	<div class="control-detail-view">
    <template v-if="controlDetailModelLoader">
      <app-loader full-width />
    </template>

		<template v-else>
			<layout-with-tabs
        :layout-title="journalTitle"
        :layout-status-text="controlDetailModel.status && controlDetailModel.status.name"
        :tree-list="treeList"
        :files-list="filesList"
        :resolution="resolution"
        :is-verified="controlDetailModel.assignment.is_verified"
        :object-id="controlDetailModel.document.id"
        :compose-id="controlDetailModel && controlDetailModel.document && controlDetailModel.document.compose_id"
        @emit:watch-resolution-child="watchResolutionChild"
        @emit:watch-resolution-parent="watchResolutionParent"
			>
				<template #toolbar>
          <answer-menu-button />

          <!-- Когда ознакомлен -->
          <template v-if="controlDetailModel.read_time">
<!--            <change-status-menu-button-->
<!--              :current-status="controlDetailModel.status.id"-->
<!--              :change-status-fn="fetchUpdateControlStatus"-->
<!--            />-->
          </template>
				</template>

				<template #content>
          <detail-content :columns="detailModel" />

					<div class="d-flex gap-8 mt-7">
            <read-document-button
              :read-time="controlDetailModel.read_time"
              :document-id="Number($route.params.id)"
              :acquaint-document-fn="fetchControlAcquaintWithDocument"
            />

						<remove-from-control
							:is-control-removed="controlDetailModel.is_performed"
							:disabled="!controlDetailModel.read_time"
              @emit:up="(value) => removeFromControlDrawer = value"
						/>
					</div>
        </template>

        <template #activity>
          <activity-table />
        </template>

        <template #files>
          <files-table />
        </template>
			</layout-with-tabs>

      <!-- Снять с контроля (drawer) -->
			<remove-from-control-drawer
	      v-model="removeFromControlDrawer"
	      :title="controlDetailModel.is_performed ? 'document-flow.views.registration.edit' : 'document-flow.views.boxes.remove-from-control'"
	      :success-text="controlDetailModel.is_performed ? 'document-flow.views.registration.edit' : 'document-flow.views.boxes.remove-from-control'"
	      :success-button-loading="removeFromControlDrawerSuccessLoading"
	      @emit:close="(value) => removeFromControlDrawer = value"
	      @emit:cancel-button="(value) => removeFromControlDrawer = value"
	      @emit:success-button="removeFromControl"
      />
      <!-- /Снять с контроля (drawer) -->
		</template>
	</div>
</template>

<script>
import { mapActions, mapGetters, mapState } from "vuex"
import { AnswerMenuButton, ChangeStatusMenuButton, ReadDocumentButton } from "@/common/components/Buttons"
import LayoutWithTabs from "@/common/components/DetailLayout/LayoutWithTabs"
import DetailContent from "@/common/components/DetailLayout/DetailContent"
import RemoveFromControl from "./components/RemoveFromControl"
import RemoveFromControlDrawer from "./components/RemoveFromControlDrawer"
import FilesTable from "./components/FilesTable"
import ActivityTable from "./components/ActivityTable"
import { FILE_EXTENSIONS, JOURNAL_TYPES } from "@/common/enums/notificationTypes"
import { combineKeysDocumentDetail } from "@/common/helpers"
export default {
	name: "show",
	components: {
		ReadDocumentButton,
		AnswerMenuButton,
		ChangeStatusMenuButton,
		LayoutWithTabs,
		DetailContent,
		RemoveFromControl,
		RemoveFromControlDrawer,
		ActivityTable,
		FilesTable
	},
	data() {
		return {
			detailModel: null,
			filesList: [],
			resolutionMeta: {
				receipt_date: null,
				signer: null,
				banner: true,
				is_verified: false,
				check_id: null
			},
			removeFromControlDrawer: false,
			removeFromControlDrawerSuccessLoading: false
		}
	},
	computed: {
		...mapState({
			controlDetailModelLoader: state => state.documentFlowBoxesControl.controlDetailModelLoader,
			controlDetailModel: state => state.documentFlowBoxesControl.controlDetailModel,
			indexTableCols: state => state.documentFlowBoxesControl.indexTableCols,
			resolutionPerformersList: state => state.documentFlowBoxesInbox.resolutionPerformersList,
			treeList: state => state.treeView.treeList,
		}),
		/*
		*
		* */
		...mapGetters({
			currentUser: "auth/getCurrentUser",
			attachDocumentsList: "documentFlowModule/getAttachDocumentsList",
		}),
		/*
		*
		* */
		resolution() {
			return {
				content: this.controlDetailModel.assignment.content,
				deadline: this.controlDetailModel.assignment.deadline,
				assignment: this.resolutionPerformersList.performers,
				register_number: this.controlDetailModel.document.register_number,
				register_date: this.controlDetailModel.document.register_date,
				receipt_date: this.controlDetailModel.assignment.receipt_date,
				signer: this.controlDetailModel.assignment.review.user,
				banner: true,
				check_id: this.controlDetailModel.assignment.check_id,
				journal: this.controlDetailModel.document.journal.name
			}
		},
		/*
    *
    * */
		journalTitle() {
			let title = null

			switch(this.controlDetailModel.document.journal.id) {
				case JOURNAL_TYPES.INCOMING:
					title = this.controlDetailModel.document.correspondent
						? this.controlDetailModel.document.correspondent.organization_name
						: this.controlDetailModel.document.journal.name
					break;
				case JOURNAL_TYPES.INNER:
					title = this.controlDetailModel.document.department.name
					break;
				case JOURNAL_TYPES.OUTGOING:
					title = this.controlDetailModel.document.correspondent && this.controlDetailModel.document.correspondent.organization_name
					break;
				case JOURNAL_TYPES.APPEALS:
					title = this.controlDetailModel.document.correspondent && this.controlDetailModel.document.correspondent.organization_name
					break;
				case JOURNAL_TYPES.ORDER_AND_PROTOCOL:
					title = this.controlDetailModel.document.title ?? this.controlDetailModel.document.department.name
					break;
				default:
					// Application
					title = this.controlDetailModel.document.department.name
			}

			return title
		}
	},
	async mounted() {
		await this.fetchControlById({ id: this.$route.params.id, loader: true })
		await this.getAttachFilesList()
		await this.fetchTreeUsersList({ treeId: this.controlDetailModel.document.id })
		this.combineDetailKeys()
	},
	methods: {
		...mapActions({
			fetchControlById: "documentFlowBoxesControl/fetchControlById",
			fetchControlAcquaintWithDocument: "documentFlowBoxesControl/fetchControlAcquaintWithDocument",
			fetchUpdateControlStatus: "documentFlowBoxesControl/fetchUpdateControlStatus",
			fetchRemoveFromControl: "documentFlowBoxesControl/fetchRemoveFromControl",
			fetchGetResolutionPerformers: "documentFlowBoxesInbox/fetchGetResolutionPerformers",
			fetchAttachFilesList: "documentFlowModule/fetchAttachFilesList",
			fetchTreeUsersList: "treeView/fetchTreeUsersList",
		}),
		/*
		*
		* */
		async getAttachFilesList() {
			await this.fetchAttachFilesList({
				incomingDocId: this.controlDetailModel.document.id
			})
			await this.fetchGetResolutionPerformers({
				id: this.controlDetailModel.assignment.id
			})

			this.filesList = this.attachDocumentsList.filter(doc => doc.document).map(file => {
				return {
					name: file.document.name,
					url: file.document.url,
					extension: FILE_EXTENSIONS.FILE
				}
			})

			this.filesList.unshift({
				name: this.$t("components.chip-asakabank"),
				extension: FILE_EXTENSIONS.RESOLUTION
			})
		},
		/*
		*
		* */
		async removeFromControl() {
			try {
				this.removeFromControlDrawerSuccessLoading = true
				await this.fetchRemoveFromControl({
					id: this.$route.params.id
				})
				this.$toast.success(this.$t("document-removed-from-control"))
				this.removeFromControlDrawer = false
			}
			finally {
				this.removeFromControlDrawerSuccessLoading = false
			}
		},
		/*
		*
		* */
		async watchResolutionParent(tree) {
			if(tree.assignees && tree.assignees.length) {
				let first = tree.assignees[0]
				this.controlDetailModel.assignment.content = first.content
				this.controlDetailModel.assignment.deadline = first.deadline
				// this.resolutionMeta.signer = tree.user
				// this.resolutionMeta.is_verified = first.is_verified
				// this.resolutionMeta.check_id = first.check_id
				// this.resolutionMeta.receipt_date = first.receipt_date
				// this.resolutionMeta.banner = true

				await this.fetchGetResolutionPerformers({ id: first.id })
			}
		},
		/*
		*
		* */
		async watchResolutionChild(children) {
			if(children && children.length) {
				let first = children[0]
				this.controlDetailModel.assignment.content = first.assignment.content
				this.controlDetailModel.assignment.deadline = first.assignment.deadline
				// this.resolutionMeta.signer = null
				// this.resolutionMeta.banner = false

				await this.fetchGetResolutionPerformers({ id: first.assignment.id })
			}
		},
		/*
		*
		* */
		combineDetailKeys() {
			this.detailModel = combineKeysDocumentDetail(this.indexTableCols, this.controlDetailModel)
		}
	}
}
</script>

<style scoped>

</style>
