<template>
	<div class="d-flex align-center justify-center h-100">
		<app-loader v-if="getLoading" content-width :size="58"/>
		<template v-else>
			<div class="d-flex mt-5 overflow-hidden w-100 h-100">
				<div class="d-flex flex-column p-relative w-100">
					<div class="d-flex flex-column h-100 bg-4 rounded-20 pa-1 overflow-hidden h-100">
						<perfect-scrollbar class="d-flex flex-column flex-1 h-100">
							<app-table
								bordered
								:table-width="1800"
								:table-head-items="tableListSelect"
							>
								<template #tableBody>
									<template v-if="innerDocumentsList.length">
										<template v-for="document in innerDocumentsList">
											<tr>
												<td>
													<router-link :to="{name: 'InnerDocumentRegistrationFormShow', params: { id: document.id }}"
													             class="text-decoration-none text-dark font-500">
														{{ document.doc_type.name }}
													</router-link>
												</td>
												<td>
													<router-link :to="{name: 'InnerDocumentRegistrationFormShow', params: { id: document.id }}"
													             class="text-decoration-none text-dark font-500">
														{{ document.register_number }}
													</router-link>
												</td>
												<td>
													<router-link :to="{name: 'InnerDocumentRegistrationFormShow', params: { id: document.id }}"
													             class="text-decoration-none text-dark font-500">
														{{ document.register_date | filterCalendarToTime }}
													</router-link>
												</td>
												<td>
													<router-link :to="{name: 'InnerDocumentRegistrationFormShow', params: { id: document.id }}"
													             class="text-decoration-none text-dark font-500 line-truncate">
														{{ document.description }}
													</router-link>
												</td>
												<td>
													<router-link
														:to="{name: 'InnerDocumentRegistrationFormShow', params: { id: document.id }}"
														class="text-decoration-none text-dark font-500">
														<app-tooltip
															top
														>
															<template #content>
																<v-avatar
																	size="34"
																	:color="document.signer.color"
																>
																	<template v-if="document.signer.avatar">
																		<img
																			:src="document.signer.avatar.url"
																			alt="Avatar image"
																			class="object-cover w-100 h-100"
																		>
																	</template>

																	<template v-else>
																	<span class="white--text small-3">
																		{{ document.signer.first_name | getFirstCharacterWithoutDot }}
																	</span>
																	</template>
																</v-avatar>
															</template>
															<template #text>
																{{ document.signer.first_name }} {{ document.signer.last_name }}
															</template>
														</app-tooltip>
													</router-link>
												</td>
												<td>
													<router-link :to="{name: 'InnerDocumentRegistrationFormShow', params: { id: document.id }}"
													             class="text-decoration-none text-dark font-500">
														<app-tooltip
															top
														>
															<template #content>
																<v-avatar
																	size="34"
																	:color="document.author.color"
																>
																	<template v-if="document.author.avatar">
																		<img
																			:src="document.author.avatar.url"
																			alt="Avatar image"
																			class="object-cover w-100 h-100"
																		>
																	</template>

																	<template v-else>
																	<span class="white--text small-3">
																		{{ document.author.first_name | getFirstCharacterWithoutDot }}
																	</span>
																	</template>
																</v-avatar>
															</template>
															<template #text>
																{{ document.author.first_name }} {{ document.author.last_name }}
															</template>
														</app-tooltip>
													</router-link>
												</td>
												<td>
													<router-link :to="{name: 'InnerDocumentRegistrationFormShow', params: { id: document.id }}"
													             class="text-decoration-none text-dark font-500">
														{{ document.department && document.department.name }}
													</router-link>
												</td>
												<td v-if="currentUser.role === 'admin'" class="text-center">
													<app-button
														@click="deleteRow(document.id)"
														icon
														min-width="40"
														width="40"
														height="40"
														color="var(--primary-4)"
													>
														<trash2-icon size="18"/>
													</app-button>
												</td>
											</tr>
										</template>
									</template>

									<template v-else>
										<tr class="table-not-found">
											<td colspan="12">
												<div class="pa-4 text-center">
													<h2 class="font-600">{{$t('document-flow.views.registration.nothing-yet')}}</h2>
												</div>
											</td>
										</tr>
									</template>
								</template>
							</app-table>
						</perfect-scrollbar>

						<div class="d-flex align-center justify-space-between py-2 px-4 border-top">
              <span class="small-2 font-500 text-dark">
<!--                1-10 из 195 позиций-->
              </span>

							<app-pagination @emit:up="paginate" />
						</div>
					</div>
				</div>
			</div>
		</template>
	</div>
</template>

<script>
import SearchUsersBelow from "@/common/components/SearchUsersBelow";
import { TABLE_HEAD_TEXT_LIST } from "@/common/constants";
import { selectFromList } from "@/common/helpers";
import { MoreVerticalIcon, Trash2Icon } from "vue-feather-icons";
import { mapActions, mapGetters, mapState } from "vuex";

export default {
	name: "index",
	components: {
		MoreVerticalIcon,
		Trash2Icon,
		SearchUsersBelow
	},
	data() {
		return {
			documentTypeSearch: null,
			signerTypeSearch: null,
			authorTypeSearch: null,
			departmentTypeSearch: null,
		}
	},
	computed: {
    ...mapState({
      filteredState: state => state.headerFilter.filteredState,
      filterPagination: state => state.headerFilter.pagination,
    }),
    /*
    *
    * */
		...mapGetters({
			getLoading: "documentFlowModule/getIsListLoading",
			getIncomingDocumentList: "documentFlowModule/getIncomingDocumentList",
			authorsList: "documentFlowModule/getUsersBelowList",
			departmentList: "documentFlowModule/getDepartmentList",
			innerDocumentsList: "documentFlowModule/getInnerDocumentsList",
			docTypeCorrespondList: "documentFlowModule/getDocTypeCorrespondList",
			currentUser: "auth/getCurrentUser",
			getHeaderFilters: "documentFlowModule/getHeaderFilters",
		}),
		docTypeList() {
			return this.docTypeCorrespondList.filter(item => item.type === 'doc_type')
		},
		/*
		*
		* */
		tableListSelect() {
			return selectFromList([30, 2, 3, 7, 31, 32, 33, 19], TABLE_HEAD_TEXT_LIST)
		},
		/**/
		firstDayOfMonth(){
			let month = new Date().getMonth() + 1
			if (month < 10){
				month = "0" + month
			}
			return new Date().getFullYear() + "-" + month + "-01"
		}
	},
	watch: {
		documentTypeSearch(value) {
			this.fetchDocTypeCorrespondList({
				search: value
			})
		},
		/**/
		authorTypeSearch(value) {
			this.fetchAuthorsList({
				search: value
			})
		},
		/**/
		signerTypeSearch(value) {
			this.fetchAuthorsList({
				search: value
			})
		}
	},
	created() {
		this.fetchAuthorsList({})
		this.fetchDepartmentList()
		// this.fetchInnerDocumentList({
		// 	register_start_date: this.firstDayOfMonth
		// })
		this.fetchDocTypeCorrespondList()
	},
	// beforeDestroy() {
	// 	this.fetchClearHeaderFilter()
	// },
	methods: {
		...mapActions({
			fetchAuthorsList: "documentFlowModule/fetchUsersBelow",
			fetchDepartmentList: "documentFlowModule/fetchDepartmentList",
			fetchInnerDocumentList: "documentFlowModule/fetchInnerDocumentList",
			fetchDocTypeCorrespondList: "documentFlowModule/fetchDocTypeCorrespondList",
			fetchDeleteRow: "documentFlowModule/deleteRow",
			fetchClearHeaderFilter: "documentFlowModule/fetchClearHeaderFilter",
		}),
		/*
		*
		* */
		deleteRow(id) {
			if (!confirm(this.$t('document-flow.views.registration.delete-description'))) {
				return
			}
			let payload = {
				apiUrl: `/docflow/${this.$store.getters['auth/getCurrentUser'].filial}/inner_doc/${id}/`
			}

			this.fetchDeleteRow(payload).then(() => {
				this.$toast.success(this.$t('document-flow.views.registration.deleted'));
				this.fetchInnerDocumentList(this.filteredState)
			})
				// .catch((error) => {
				// 	this.$toast.error(error.data.detail)
				// });
		},
		/**/
		clearFilter() {
			const {form} = this.$refs

			form.reset()
		},
		/**/
		paginate(value) {
      let query = {
        ...this.filteredState,
        page: value,
        // register_start_date: this.getHeaderFilters.register_start_date
      }

      this.filterPagination.page = value

      this.$router.replace({
        query: query
      }).catch(() => {})

      this.fetchInnerDocumentList({
        ...query
			})
		}
	},
}
</script>

<style scoped>

</style>
