<template>
  <div class="credit-monitoring-head d-flex flex-column h-100">
    <app-wrapper>
      <template #body>
        <div class="d-flex align-center">
          <h3 class="line-base mr-4">{{ $t("head-office") }}</h3>
        </div>
      </template>
    </app-wrapper>

    <div class="d-flex mt-5 overflow-hidden w-100 h-100">
      <div class="d-flex flex-column p-relative w-100">
        <app-loader v-if="branchesListLoading" full-width :size="58" />

        <template v-else>
          <div class="d-flex flex-column rounded-20 pa-1 overflow-hidden h-100">
            <perfect-scrollbar class="d-flex flex-column flex-1 h-100">
              <v-row>
                <template v-for="branch in branchesList">
                  <v-col md="2" :key="branch.id">
                    <v-hover v-slot="{ hover }">
                      <app-wrapper class="p-relative overflow-hidden" style="height: 225px">
                        <template #body>
                          <div class="d-flex align-center justify-center h-100">
                            <span class="font-500">{{ branch.name }}</span>
                          </div>

                          <v-expand-transition>
                            <div
                              v-if="hover"
                              class="p-absolute w-100 h-100 d-flex align-center justify-center white--text"
                              style="bottom: 0; left: 0; background: var(--text-7)"
                            >
                              <app-tooltip top>
                                <template #content>
                                  <v-btn
                                    :to="{ name: 'ShowBranchFolder', params: { id: branch.id, parentId: branch.filial.id } }"
                                    color="#fff"
                                    depressed
                                    rounded
                                    fab
                                  >
                                    <eye-icon />
                                  </v-btn>
                                </template>

                                <template #text>
                                  Просмотр филиала
                                </template>
                              </app-tooltip>
                            </div>
                          </v-expand-transition>
                        </template>
                      </app-wrapper>
                    </v-hover>
                  </v-col>
                </template>
              </v-row>
            </perfect-scrollbar>
          </div>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex"
import { EyeIcon } from "vue-feather-icons"

export default {
	name: "index",
  components: {
	  EyeIcon
  },
  data() {
		return {

    }
  },
  computed: {
	  ...mapState({
		  branchesList: state => state.creditMonitoring.branchesList,
		  branchesListLoading: state => state.creditMonitoring.branchesListLoading,
    })
  },
}
</script>
