<template>
  <div class="credit-monitoring-head d-flex flex-column h-100">
    <app-wrapper>
      <template #body>
        <div class="d-flex align-center justify-space-between ma-n3 py-1 px-2">
          <h3 class="line-base mr-4">{{ branchById.name }}</h3>

          <div class="d-flex align-center">
            <app-button color="success" class="mr-3">
              <label for="upload" class="d-block w-100 pointer">
                <div class="d-flex align-center justify-center">
                  <file-plus-icon size="20" />

                  <span class="font-500 ml-2">Загрузить файл</span>
                </div>
              </label>

              <v-file-input
                @change="uploadFiles"
                id="upload"
                multiple
                label="File input"
                class="d-none"
              ></v-file-input>
            </app-button>

            <app-date-picker
              v-model="date"
              with-input
              range
              background-color="var(--input-bg)"
              clearable
              dense
              placeholder="Дата..."
              @emit:up="dateSelect"
              @clickClear="clearDateSelect"
            />
          </div>
        </div>
      </template>
    </app-wrapper>

    <div class="d-flex mt-5 overflow-hidden w-100 h-100">
      <div class="d-flex flex-column p-relative w-100">
        <!-- Лоадер загрузка файлов -->
        <app-loader v-if="filesListLoading" content-width />
        <!-- /Лоадер загрузка файлов -->

        <template v-else>
          <div class="d-flex flex-column rounded-20 pa-1 overflow-hidden h-100">
            <perfect-scrollbar class="d-flex flex-column flex-1 h-100">
              <div>
                <v-row>
                  <!-- Загрузка файлов  -->
<!--                  <v-col md="2">-->
<!--                    <app-wrapper-->
<!--                      class="p-relative overflow-hidden"-->
<!--                      style="height: 225px"-->
<!--                    >-->
<!--                      <template #body>-->
<!--                        <div class="d-flex align-center justify-center flex-column h-100">-->
<!--                          <v-btn-->
<!--                            color="#fff"-->
<!--                            depressed-->
<!--                            rounded-->
<!--                            fab-->
<!--                            class="pa-0"-->
<!--                          >-->
<!--                            <label for="upload" class="d-block w-100 pointer" style="height: 56px">-->
<!--                              <div class="d-flex align-center justify-center w-100 h-100 border-all rounded-50">-->
<!--                                <file-plus-icon />-->
<!--                              </div>-->
<!--                            </label>-->
<!--                          </v-btn>-->

<!--                          <span class="font-500 mt-2">Загрузить файл</span>-->

<!--                          <span class="d-block text-center size-13 font-600 mt-2 text-dark-grey">Имя файла должен быть на латинском и с большими буквами</span>-->

<!--                          <v-file-input-->
<!--                            @change="uploadFiles"-->
<!--                            id="upload"-->
<!--                            multiple-->
<!--                            label="File input"-->
<!--                            class="d-none"-->
<!--                          ></v-file-input>-->
<!--                        </div>-->
<!--                      </template>-->
<!--                    </app-wrapper>-->
<!--                  </v-col>-->
                  <!-- /Загрузка файлов  -->

                  <!-- Загруженные файлы -->
                  <template v-for="list in filesList">
                    <template v-for="file in list.files">
                      <v-col md="2" :key="file.id">
                        <v-hover v-slot="{ hover }">
                          <app-wrapper class="p-relative overflow-hidden" style="height: 225px">
                            <template #body>
                              <div class="d-flex align-center justify-center h-100">
                                <div class="text-center">
                                  <file-text-icon />
                                  <span class="font-500 d-block mt-2">{{ file.name }}</span>
                                  <span class="font-500 d-block mt-2 small-2">Дата создание: {{ file.created_date | filterCalendarToTime }}</span>
                                </div>
                              </div>

                              <v-expand-transition>
                                <div
                                  v-if="hover"
                                  class="p-absolute w-100 h-100 d-flex align-center justify-center white--text"
                                  style="bottom: 0; left: 0; background: var(--text-7)"
                                >
                                  <app-tooltip top>
                                    <template #content>
                                      <v-btn
                                        tag="a"
                                        :href="file.url"
                                        target="_blank"
                                        color="#fff"
                                        depressed
                                        rounded
                                        fab
                                      >
                                        <eye-icon />
                                      </v-btn>
                                    </template>

                                    <template #text>
                                      Просмотр файла
                                    </template>
                                  </app-tooltip>

                                  <app-tooltip top>
                                    <template #content>
                                      <v-btn
                                        color="error"
                                        depressed
                                        rounded
                                        fab
                                        class="ml-3"
                                        @click="deleteFile(file.id, list.folder, list.files, list.id)"
                                      >
                                        <trash2-icon />
                                      </v-btn>
                                    </template>

                                    <template #text>
                                      Удалить папку
                                    </template>
                                  </app-tooltip>
                                </div>
                              </v-expand-transition>
                            </template>
                          </app-wrapper>
                        </v-hover>
                      </v-col>
                    </template>
                  </template>
                  <!-- /Загруженные файлы -->
                </v-row>
              </div>
            </perfect-scrollbar>
          </div>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState, mapGetters, mapMutations } from "vuex"
import { FileTextIcon, FilePlusIcon, EyeIcon, Trash2Icon } from "vue-feather-icons"

export default {
	name: "showBranchFolderNestedFiles",
	components: {
		FileTextIcon,
		FilePlusIcon,
		EyeIcon,
		Trash2Icon
	},
	data() {
		return {
			date: null
		}
	},
	computed: {
		...mapState({
			branchById: state => state.creditMonitoring.branchById,
			filesListLoading: state => state.creditMonitoring.filesListLoading,
			filesList: state => state.creditMonitoring.filesList,
		}),
		/*
    *
    * */
		...mapGetters({
			currentUser: "auth/getCurrentUser"
		})
	},
	mounted() {
		this.CLEAR_LOADING({
			module: "filesListLoading",
			value: true
		})

		this.getBranchById({
			id: this.$route.params.folderId
		})
		setTimeout(() => {
			this.getUploadFilesList({
				params: {
					folder: this.$route.params.folderId
				}
			})
		}, 1000)
	},
	beforeDestroy() {
		this.CLEAR_LIST("filesList")
		this.CLEAR_LOADING({
			module: "filesListLoading",
			value: true
		})
	},
	methods: {
		...mapMutations({
			CLEAR_LIST: "creditMonitoring/CLEAR_LIST",
			CLEAR_LOADING: "creditMonitoring/CLEAR_LOADING",
		}),
		/*
    *
    * */
		...mapActions({
			getBranchById: "creditMonitoring/getBranchById",
			getUploadFilesList: "creditMonitoring/getUploadFilesList",
			fetchUploadFiles: "creditMonitoring/fetchUploadFiles",
			deleteUploadFile: "creditMonitoring/deleteUploadFile",
		}),
		/*
    *
    * */
		uploadFiles(files) {
			if(!files.length) {
				return;
			}

			for (let i = 0; i < files.length; i++) {
				let fileName = files[i].name.split(".").slice(0, 1).join(" ")

				if(fileName !== fileName.toUpperCase()) {
					this.$toast.error(`Имя файла должен быть на латинском и с большими буквами`)

					return;
				}
			}

			this.fetchUploadFiles({
				folderId: Number(this.$route.params.folderId),
				files: files
			})
		},
		/*
    *
    * */
		dateSelect(value) {
			let [start, end] = value

			this.getUploadFilesList({
				params: {
					folder: this.$route.params.folderId,
					start_date: start,
					end_date: end
				}
			})
		},
		/*
    *
    * */
		clearDateSelect() {
			this.date = null

			this.getUploadFilesList({
				params: {
					folder: this.$route.params.folderId
				}
			})
		},
		/*
    *
    * */
		deleteFile(fileId, folderId, fileList, id) {
			if(!confirm(`Действительно хотите удалить ?`)) {
				return
			}

			let model = fileList.filter(item => item.id !== fileId)

			this.deleteUploadFile({
				id,
				folderId,
				model
			})
			.then(() => {
				this.$toast.success("Файл удален")
			})
		}
	}
}
</script>
