<template>
	<div
		class="d-flex shadow-6 bg-white align-center justify-space-between px-3 py-2 mb-5"
		style="border-radius: 16px"
	>
		<div class="d-flex align-center">
			<v-list-item-avatar :color="performer.color">
				<template v-if="performer.avatar">
					<img
						:src="performer.avatar.url"
						alt="Avatar image"
						class="object-cover"
					/>
				</template>
				<template v-else>
					<span class="text-white">{{
						performer.last_name && performer.last_name[0]
					}}</span>
				</template>
			</v-list-item-avatar>
			<v-list-item-content>
				<div class="font-500 mb-2" style="font-size: 16px; line-height: 160%">
					<span>{{ fullName }} </span>
					<span class="mr-2" style="color: #5964d1">({{ cisco }})</span>
				</div>
				<div
					class="font-500"
					style="color: rgba(23, 23, 23, 0.5); font-size: 14px"
				>
					<span>{{ branch }} - </span>
					<span>{{ position }}</span>
				</div>
				<div>
					<v-checkbox
						:label="$t('control-tasks.create-task.main-performer')"
						@change="onChange"
						class="ml-2"
						color="rgb(89, 100, 209)"
						hide-details
						v-if="performer.type === 0"
						v-model="performer.is_main"
						></v-checkbox>
				</div>
			</v-list-item-content>
		</div>
		<div class="d-flex align-center">
			<v-btn @click="() => removePerformer(performer.id)" icon>
				<trash-2-icon color="#FC1A1A" />
			</v-btn>
		</div>
	</div>
</template>
<script>
import { Trash2Icon } from "vue-feather-icons";
export default {
	name: "index",
	components: {
		Trash2Icon,
	},
	props: {
		branches: Array,
		performer: Object,
		performers: Array,
		removePerformer: Function,
		setPerformers: Function,
	},
	computed: {
		branch() {
			const branches = this.branches;
			const branch =
				this.performer?.filial_name ||
				(Array.isArray(branches) ? branches : []).find(
					branch => branch?.mfo === this.performer?.filial
				)?.name;
			return branch;
		},
		position() {
			return this.performer?.position || "";
		},
		cisco() {
			return this.performer?.cisco || "";
		},
		fullName() {
			return `${this.performer?.last_name} ${this.performer?.first_name} ${this.performer?.father_name}`;
		},
	},
	methods: {
		onChange(is_main) {
			const performers = this.performers.map(performer => {
				if(performer?.id === this.performer?.id) {
					return {...performer, is_main}
				} else {
					return performer;
				}
			});
			this.setPerformers(performers);
		}
	}
};
</script>
