<template>
	<div class="d-flex flex-1 bg-4 rounded-20 pa-3">
		<div class="d-flex flex-column align-start flex-1 pa-4">
			<div class="d-flex align-center w-100 mb-12">
				<span class="heading-9 font-600 text-dark mr-3 d-block">{{ formTitle }} -> {{$t('xdfu')}}</span>
				<v-divider/>
			</div>
			<div class="w-100 mb-auto">
				<v-row>
					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.registration-number')}} <span class="color-red">*</span></span>
							<v-text-field
								v-model="$v.formModel.register_number.$model"
								:error="$v.formModel.register_number.$error"
								hide-details
								outlined
								background-color="var(--input-bg)"
								@keypress="$store.dispatch('documentFlowModule/checkKeyDownAlphaNumeric', $event)"
								@paste="$store.dispatch('documentFlowModule/checkCopiedText', $event)"
							></v-text-field>

							<!--							<register-number
															v-else
															v-model="$v.formModel.register_number.$model"
															:value="formModel.register_number"
															:error="$v.formModel.register_number.$error"
															@getRegisterNumber="getRegisterNumber"
															ref="registerNumber"
															:api-url="`/docflow/${currentUser.filial}/get-register-number-for-registration/`"
															button-disabled
														/>-->
						</div>
					</v-col>

					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.outgoing-number')}} <span class="color-red">*</span></span>

							<v-text-field
								v-model="$v.formModel.outgoing_number.$model"
								:error="$v.formModel.outgoing_number.$error"
								hide-details
								outlined
								background-color="var(--input-bg)"
							></v-text-field>
						</div>
					</v-col>

					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.registration-date')}} <span class="color-red">*</span></span>

							<app-date-picker
								v-model="$v.formModel.register_date.$model"
								:error="$v.formModel.register_date.$error"
								with-input
								background-color="var(--input-bg)"
								:allow-dates="(currentUser.role === 'admin' || currentUser.role === 'chancellery') ? null : getAllowedDates"
							/>
						</div>
					</v-col>

					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.outgoing-date')}} <span class="color-red">*</span></span>

							<app-date-picker
								v-model="$v.formModel.outgoing_date.$model"
								:error="$v.formModel.outgoing_date.$error"
								with-input
								background-color="var(--input-bg)"
							/>
						</div>
					</v-col>

					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.correspondent')}} <span class="color-red">*</span></span>

							<correspondent-auto-complete
								v-model="$v.formModel.correspondent.$model"
								:error="$v.formModel.correspondent.$error"
							/>
						</div>
					</v-col>

					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.document-type')}} <span class="color-red">*</span></span>

							<app-autocomplete
								v-model="$v.formModel.doc_type.$model"
								:error="$v.formModel.doc_type.$error"
								:api-list-url="documentReferenceUrl"
								:api-params="{
                  type: 'doc_type'
                }"
								list-type="list"
								item-text="name"
								item-value="id"
								cache-items
							/>
						</div>
					</v-col>

					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.document-priority')}} <span class="color-red">*</span></span>

							<v-select
								v-model="$v.formModel.priority.$model"
								:error="$v.formModel.priority.$error"
								:items="$store.state.priorityList"
								item-text="title"
								item-value="value"
								outlined
								hide-details
								clearable
								background-color="var(--input-bg)"
							>
								<template #append>
									<v-icon>mdi-chevron-down</v-icon>
								</template>
							</v-select>
						</div>
					</v-col>

					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.attach-file')}}</span>

							<app-file-upload
								@uploadFiles="uploadFiles"
								class="w-100"
								scanner
							/>
						</div>
					</v-col>

					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.for-consideration')}} <span class="color-red">*</span> </span>

							<app-autocomplete
								v-model="$v.formModel.__userSelected.$model"
								:error="$v.formModel.__userSelected.$error"
								api-list-url="/user/search/"
								item-text="full_name"
								return-object
								multiple
								cache-items
								:item-disabled="getDisableItems"
								group-staff-visible
							/>
						</div>
					</v-col>

					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('components.on-control')}} </span>

							<app-autocomplete
								v-model="formModel.__forControl"
								api-list-url="/user/search/"
								item-text="full_name"
								return-object
								multiple
								cache-items
								:item-disabled="getDisableItems"
							/>
						</div>
					</v-col>

					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.document-name')}} <span class="color-red">*</span></span>

							<v-text-field
								v-model="$v.formModel.title.$model"
								:error="$v.formModel.title.$error"
								hide-details
								outlined
								background-color="var(--input-bg)"
							></v-text-field>
						</div>
					</v-col>

					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.feed-type')}} </span>

							<app-autocomplete
								v-model="formModel.delivery_type"
								:api-list-url="documentReferenceUrl"
								:api-params="{
                  type: 'delivery_type'
                }"
								list-type="list"
								item-text="name"
								item-value="id"
								cache-items
							/>
						</div>
					</v-col>

					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{ $t('components.execution-duration') }}</span>

							<app-date-picker
								v-model="formModel.deadline"
								with-input
								background-color="var(--input-bg)"
							/>
						</div>
					</v-col>

					<v-col md="12">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.content')}} <span class="color-red">*</span></span>

							<v-textarea
								v-model="$v.formModel.description.$model"
								:error="$v.formModel.description.$error"
								outlined
								hide-details
								no-resize
								auto-grow
								background-color="var(--input-bg)"
							></v-textarea>

							<resolution-content-modal
								title="components.add-template"
								title-dialog="components.add-content-resolution"
								class="mt-2"
								@emit:up="(text) => formModel.description = text.name.replace(/<\/?[^>]+(>|$)/g, '')"
							/>
						</div>
					</v-col>
				</v-row>
			</div>
			<div class="d-flex">
				<app-button @click="$router.go(-1)"
				            depressed
				            class="mt-10 mr-4"
				            color="error"
				>
					<template #default>
						{{$t('document-flow.views.registration.back')}}
					</template>
					<template #prepend>
						<v-icon size="20">mdi-arrow-left</v-icon>
					</template>
				</app-button>

				<app-button @click="sendDocument"
				            depressed
				            :loading="loading"
				            class="mt-10"
				>
					<template #default>
						{{$t('document-flow.views.registration.create-document')}}
					</template>
					<template #append>
						<v-icon size="17">mdi-send</v-icon>
					</template>
				</app-button>
			</div>
		</div>
	</div>
</template>

<script>
import SearchUsersBelow from "@/common/components/SearchUsersBelow";
import { DownloadIcon, EyeIcon, Trash2Icon } from "vue-feather-icons";
import { required } from "vuelidate/lib/validators";
import { mapActions, mapGetters } from "vuex";
import { format } from "date-fns"
import CorrespondentAutoComplete from "../../Components/CorrespondentAutoComplete";
import RegisterNumber from "../../../../SendDocument/components/RegisterNumber";
import ResolutionContentModal from "../../../../../../../common/components/ResolutionContentModal";
export default {
	name: "index",
	props: {
		formType: {
			type: String,
			default: ""
		},
		formTitle: {
			type: String,
			default: "Регистрация документа"
		}
	},
	components: {
		SearchUsersBelow,
		CorrespondentAutoComplete,
		RegisterNumber,
		ResolutionContentModal,
		Trash2Icon,
		DownloadIcon,
		EyeIcon
	},
	data() {
		return {
			formModel: {
				register_date: (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10),
				register_number: null,
				outgoing_date: "",
				outgoing_number: "",
				correspondent: null,
				doc_type: null,
				description: "",
				documents: [],
				priority: "",
				review_users: [],
				__forControl: [],
				is_created: true,
				__userSelected: [],
				title: null,
				delivery_type: null,
				deadline: format(Date.now() + 15 * 24 * 60 * 60 * 1000, "yyyy-MM-dd")
			},
			correspondentSearch: null,
			documentTypeSearch: null,
			loading: false
		}
	},
	validations: {
		formModel: {
			register_date: {required},
			register_number: {required},
			outgoing_date: {required},
			outgoing_number: {required},
			correspondent: {required},
			doc_type: {required},
			description: {required},
			priority: {required},
			title: {required},
			__userSelected: {required},
		},
	},
	computed: {
		...mapGetters({
			journalList: "documentFlowModule/getJournalList",
			attachDocumentsList: "documentFlowModule/getAttachDocumentsList",
			attachDocumentListID: "documentFlowModule/getAttachDocumentListID",
			departmentList: "documentFlowModule/getDepartmentList",
			docTypeCorrespondList: "documentFlowModule/getDocTypeCorrespondList",
			currentUser: "auth/getCurrentUser",
			getDisableItems: "getDisableItems",
			getAllowedDates: "getAllowedDates",
		}),
		/**/
		docTypeList(){
			return  this.docTypeCorrespondList.filter(item => item.type === "doc_type")
		},
		/**/
		correspondentList() {
			return this.docTypeCorrespondList.filter(item => item.type === "correspondent")
		},
		/*
		*
		* */
		documentReferenceUrl() {
			return `/docflow/${this.$store.getters['auth/getCurrentUser'].filial}/reference/`
		}
	},
	watch: {
		registrationDocumentSearch(value) {
			this.fetchJournalList({
				search: value
			})
		},
	},
	beforeDestroy() {
		this.$store.commit("documentFlowModule/CLEAR_ATTACHED_DOCUMENTS_ID")
	},
	// mounted() {
	// 	const { registerNumber } = this.$refs
	// 	registerNumber.compose_type = null
	// 	registerNumber.emp_index = null
	// 	registerNumber.journal_id = 8
	// },
	methods: {
		...mapActions({
			fetchDocTypeList: "documentFlowModule/fetchDocTypeList",
			fetchAttachFiles: "documentFlowModule/fetchAttachFiles",
			scanDocument: "documentFlowModule/scanDocument",
			fetchClearFileIDs: "documentFlowModule/fetchClearFileIDs",
		}),
		/** **/
		uploadFiles(files) {
			this.fetchAttachFiles({
				files,
			});
		},
		/** **/
		sendDocument(){
			this.$v.$touch();
			if (this.$v.$invalid) {
				return;
			}
			// if (this.currentUser.filial !== '09013' && !this.formModel.register_number){
			// 	return;
			// }
			this.send();
		},
		/** **/
		async send() {
			this.loading = true;
			let data = {
				...this.formModel,
				journal: this.$route.params.id,
				documents: this.attachDocumentListID,
				register_date: `${this.formModel.register_date} ${new Date().getHours()}:${new Date().getMinutes()}`,
				outgoing_date: `${this.formModel.outgoing_date} ${new Date().getHours()}:${new Date().getMinutes()}`,
				deadline: `${this.formModel.deadline}T18:00:00+05:00`,
				review_users: this.formModel.__userSelected.map(item => Object.assign({}, {user: item.id, is_secret: true}))
			}

			await this.formModel.__forControl.forEach(item => {
				data.review_users.push({ user: item.id, is_controller: true, is_secret: true });
			})

			this.$store.dispatch("documentFlowModule/fetchRegisterSecretDocuments", data)
				.then((response) => {
					this.loading = false

					this.$router.push({
						name: "SecretDocumentsIndex"
					})
				})
				.catch(err => {
					this.loading = false;
				})
		},
		/** **/
		getRegisterNumber(val){
			this.formModel.register_number = val
		},
	}
}
</script>

<style scoped>

</style>
