<template>
	<div class="secret-documents-view">
		<ui-data-table
			:height="tableHeight"
			:headers-list="indexTableCols"
			:filter-state="indexTableFilters"
			:filter-storage-name="SECRET_DOCUMENTS_FILTER"
			:config-column-storage-name="SECRET_DOCUMENTS_COLUMN"
			:api-url="`docflow/${currentUser.filial}/secret-documents`"
			:api-params="{ journal: 8 }"
			@saveConfigColumn="saveConfigColumn"
			@resetConfigColumn="resetConfigColumn"
			@clearFilter="clearFilter"
			@deleteSavedFilter="clearFilter"
		>
			<template #index="{ value, item }">
				<span class="ma-auto">{{ item.index }}</span>
			</template>

			<!-- new route name => SecretDocumentsRegistrationDetail -->
			<template #priority="{ value, item }">
				<router-link
					:to="{
            name: 'SecretDocumentsRegistrationDetail',
            params: {
              id: item.id
            }
          }"
				>
					<ui-priority
						v-if="value"
						:text="value"
					/>
				</router-link>
			</template>

			<template #title="{ value, item }">
				<router-link
					:to="{
            name: 'SecretDocumentsRegistrationDetail',
            params: {
              id: item.id
            }
          }"
				>
					{{ value }}
				</router-link>
			</template>

			<template #doc_type="{ value, item }">
				<router-link
					:to="{
            name: 'SecretDocumentsRegistrationDetail',
            params: {
              id: item.id
            }
          }"
				>
					{{ value.name }}
				</router-link>
			</template>

			<template #register_number="{ value, item }">
				<router-link
					:to="{
            name: 'SecretDocumentsRegistrationDetail',
            params: {
              id: item.id
            }
          }"
				>
					{{ value }}
					<span v-if="item.delivery_type" class="ml-2">
						{{ item.delivery_type.name }}
					</span>
				</router-link>
			</template>

			<template #outgoing_number="{ value, item }">
				<router-link
					:to="{
            name: 'SecretDocumentsRegistrationDetail',
            params: {
              id: item.id
            }
          }"
				>
					{{ value }}
				</router-link>
			</template>

			<template #register_date="{ value, item }">
				<router-link
					:to="{
            name: 'SecretDocumentsRegistrationDetail',
            params: {
              id: item.id
            }
          }"
				>
					{{ value | filterCalendarToTime }}
				</router-link>
			</template>

			<template #outgoing_date="{ value, item }">
				<router-link
					:to="{
            name: 'SecretDocumentsRegistrationDetail',
            params: {
              id: item.id
            }
          }"
				>
					{{ value | filterCalendarToTime }}
				</router-link>
			</template>

			<template #correspondent="{ value, item }">
				<router-link
					:to="{
            name: 'SecretDocumentsRegistrationDetail',
            params: {
              id: item.id
            }
          }"
				>
					{{ value.organization_name }}
				</router-link>
			</template>

			<template #review_users="{ value, item }">
				<router-link
					:to="{
            name: 'SecretDocumentsRegistrationDetail',
            params: {
              id: item.id
            }
          }"
				>
					<ui-avatar-group
						:avatar-list="value"
					/>
				</router-link>
			</template>

			<template #deadline="{ value, item }">
				<router-link
					:to="{
            name: 'SecretDocumentsRegistrationDetail',
            params: {
              id: item.id
            }
          }"
				>
          <span>
            {{ value | filterCalendarToTime }}
          </span>
				</router-link>
			</template>

			<template #status.name="{ value, item }">
				<router-link
					:to="{
            name: 'SecretDocumentsRegistrationDetail',
            params: {
              id: item.id
            }
          }"
				>
					<ui-status
						v-if="value"
						:text="value"
					/>
				</router-link>
			</template>

			<template #__delivery_type.name="{ value, item }">
				<router-link
					:to="{
            name: 'SecretDocumentsRegistrationDetail',
            params: {
              id: item.id
            }
          }"
				>
          <span>
            {{ item.delivery_type && item.delivery_type.name }}
          </span>
				</router-link>
			</template>

			<template #filterBody>
				<secret-documents-table-filter />
			</template>

			<template #headerAction>
				<register-button />
			</template>
		</ui-data-table>
	</div>
</template>

<script>
import {mapActions, mapGetters, mapState} from "vuex";
import { SECRET_DOCUMENTS_COLUMN, SECRET_DOCUMENTS_FILTER } from "@/common/constants";
import { getItem } from "@/services/jwt.service"
import RegisterButton from "../components/RegisterButton"
import SecretDocumentsTableFilter from "./components/SecretDocumentsTableFilter.vue";

export default {
	name: "index",
	components: {
		SecretDocumentsTableFilter,
		RegisterButton
	},
	data() {
		return {
			SECRET_DOCUMENTS_FILTER,
			SECRET_DOCUMENTS_COLUMN,
			filterState: {}
		}
	},
	computed: {
		...mapState({
			indexTableCols: state => state.documentFlowRegistrationSecretDocuments.indexTableCols,
			indexTableFilters: state => state.documentFlowRegistrationSecretDocuments.indexTableFilters
		}),
		/**/
		...mapGetters({
			currentUser: "auth/getCurrentUser"
		}),
		/**/
		tableHeight() {
			return document.documentElement.clientHeight - 250
		},
	},
	created() {
		this.setSavedTableCols()
		this.setSavedFilters()
	},
	methods: {
		...mapActions({
			setActiveIndexTableCols: "documentFlowRegistrationSecretDocuments/setActiveIndexTableCols",
			resetIndexTableCols: "documentFlowRegistrationSecretDocuments/resetIndexTableCols",
			resetIndexTableFilters: "documentFlowRegistrationSecretDocuments/resetIndexTableFilters",
			setActiveIndexTableFilters: "documentFlowRegistrationSecretDocuments/setActiveIndexTableFilters",
		}),
		/**/
		saveConfigColumn(columns) {
			this.setActiveIndexTableCols(columns)
		},
		/**/
		resetConfigColumn() {
			this.resetIndexTableCols()
		},
		/**/
		setSavedTableCols() {
			let savedColsFromStorage = JSON.parse(getItem(this.SECRET_DOCUMENTS_COLUMN)) ?? {}

			if(Object.keys(savedColsFromStorage).length) {
				this.setActiveIndexTableCols(savedColsFromStorage)
			} else {
				this.setActiveIndexTableCols(this.indexTableCols)
			}
		},
		/**/
		async clearFilter() {
			await this.resetIndexTableFilters()
		},
		/**/
		setSavedFilters() {
			if(this.$route.query) {
				let savedFiltersFromStorage = JSON.parse(getItem(this.SECRET_DOCUMENTS_FILTER)) ?? {}
				delete this.$route.query.page
				delete this.$route.query.page_size

				if(Object.keys(savedFiltersFromStorage).length) {
					this.setActiveIndexTableFilters(savedFiltersFromStorage)
				} else {
					this.setActiveIndexTableFilters(this.$route.query)
				}
			}
		}
	}
}
</script>

<style scoped>

</style>
