<template>
	<div class="sending-document-statistics">
		<div class="py-1 px-3">
			<v-row class="mb-2 justify-end">
				<v-col cols="6" sm="6" md="4" lg="2">
					<v-select
						v-model="composeTypeSelected"
						:items="composeTypeList"
						item-text="title"
						return-object
						outlined
						dense
						hide-details
						append-icon="mdi-chevron-down"
						background-color="#fff"
						class="shadow-6"
						@change="onTypeChange"
					>
					</v-select>
				</v-col>

				<v-col cols="6" sm="6" md="4" lg="2" v-if="composeTypeSelected.value !== 4">
					<app-autocomplete
						@change="onFilialChange"
						v-model="filialSelected"
						api-list-url="/filials/"
						:api-params="{
							page_size: 50,
							condition: 'A'
						}"
						item-text="name"
						item-value="id"
						list-type="list"
						cache-items
						dense
						background-color="#fff"
						class="shadow-6"
					/>
				</v-col>

				<v-col cols="6" sm="6" md="4" lg="2">
					<app-date-picker
						v-model="date"
						with-input
						background-color="#fff"
						dense
						clearable
						range
						:placeholder="$t('document-flow.views.statistics.date')"
						class="shadow-6"
						@emit:up="handleDatePick"
						@clickClear="clearDates"
					/>
				</v-col>
			</v-row>
		</div>
		<template v-if="isLoading">
			<app-loader content-width/>
		</template>
		<template v-else>
			<div class="d-flex flex-column scroll-cover bg-4 rounded-20 pa-1 overflow-hidden">
				<div class="d-flex flex-column flex-1 overflow-hidden">
					<perfect-scrollbar class="d-flex flex-column flex-1 h-100">
						<app-table
							bordered
							:table-width="1800"
						>
							<template #tableHeader>
								<th class="text-center">{{$t('document-flow.views.statistics.sender')}}</th>
								<th width="200" class="text-center">{{$t('at-signature')}}</th>
								<th width="200" class="text-center">{{$t('document-flow.views.statistics.signed')}}</th>
								<th width="200" class="text-center">{{$t('document-flow.views.statistics.waiting')}}</th>
								<th width="200" class="text-center">{{$t('document-flow.views.statistics.rejected')}}</th>
								<th width="200" class="text-center">{{$t('document-flow.views.statistics.to-register')}}</th>
								<th width="200" class="text-center">{{$t('document-flow.views.statistics.total')}}</th>
							</template>

							<template #tableBody>
								<tr v-for="item in sendingDocumentStatisticsList" :key="item.sender" v-if="item.sender" class="td-background-light">
									<td>
										<span class="font-500 small-2">{{ item.sender }} </span>
									</td>
									<td
										class="text-center"
										@click="onCountClick(item.for_signature, 'for_signature', item)"
									>
										{{ item.for_signature }}
									</td>
									<td
										class="text-center"
										@click="onCountClick(item.approved, 'approved', item)"
									>
										{{ item.approved }}
									</td>
									<td
										class="text-center"
										@click="onCountClick(item.pending, 'pending', item)"
									>
										{{ item.pending }}
									</td>
									<td
										class="text-center"
										@click="onCountClick(item.declined, 'declined', item)"
									>
										{{ item.declined }}
									</td>
									<td
										class="text-center"
										@click="onCountClick(item.for_registration, 'for_registration', item)"
									>
										{{ item.for_registration }}
									</td>
									<td class="text-center">{{ item.total }}</td>
								</tr>
							</template>
						</app-table>
					</perfect-scrollbar>
				</div>
			</div>
		</template>
	</div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import { returnCurrentDate, returnCurrentMonthStartDate } from "../../../../../common/helpers";

export default {
	name: "index",
	data() {
		return {
			composeTypeSelected: {},
			filialSelected: 1,
			date: [],
			start_date: null,
			end_date: null,
		}
	},
	computed: {
		...mapGetters({
			composeTypeList: "documentStatistic/getComposeTypeList",
			sendingDocumentStatisticsList: "documentStatistic/getSendingDocumentStatistics",
			isLoading: "documentStatistic/getIsLoading",
		})
	},
	mounted() {
		this.init()
	},
	methods: {
		...mapActions({
			fetchSendingDocumentStatistics: "documentStatistic/fetchSendingDocumentStatistics"
		}),
		/** **/
		onTypeChange(value) {
			let model = {
				journal: value.type === 'decree' ? 6 : value.value,
				filial: value.value !== 4 ? this.filialSelected : null,
				type: value.type,
				start_date: this.start_date,
				end_date: this.end_date
			}
			this.handleRoute(model)

			this.fetchSendingDocumentStatistics(model)
		},
		/** **/
		init() {
			this.composeTypeSelected = this.$route.query.type ? this.composeTypeList.find(item => item.type === this.$route.query.type) : this.composeTypeList[0]
			this.filialSelected = this.$route.query.filial ? Number(this.$route.query.filial) : 1
			this.start_date = this.$route.query.start_date ? this.$route.query.start_date :  returnCurrentMonthStartDate()
			this.end_date = this.$route.query.end_date ? this.$route.query.end_date :  returnCurrentDate()
			this.date = [this.start_date, this.end_date]

			let model = {
				journal: this.composeTypeSelected.type === 'decree' ? 6 : this.composeTypeSelected.value,
				filial: this.filialSelected,
				type: this.composeTypeSelected.type,
				start_date: this.start_date,
				end_date: this.end_date
			}

			if (!this.$route.query){
				this.handleRoute(model)
			}
			this.fetchSendingDocumentStatistics(model)
		},
		/** **/
		handleRoute(model) {
			this.$router.replace({
				query: model
			})
		},
		/** **/
		handleDatePick(val){
			let [start, end] = val
			let _start = start

			if (start > end){
				start = end
				end = _start
			}
			this.start_date = start
			this.end_date = end

			let model = {
				journal: this.composeTypeSelected.type === 'decree' ? 6 : this.composeTypeSelected.value,
				filial: this.composeTypeSelected.value !== 4 ? this.filialSelected : null,
				type: this.composeTypeSelected.type,
				start_date: this.start_date,
				end_date: this.end_date,
			}
			this.handleRoute(model)
			this.fetchSendingDocumentStatistics(model)
		},
		clearDates(){
			this.start_date = '2022-01-01';
			this.end_date = returnCurrentDate()

			let model = {
				journal: this.composeTypeSelected.type === 'decree' ? 6 : this.composeTypeSelected.value,
				filial: this.composeTypeSelected.value !== 4 ? this.filialSelected : null,
				type: this.composeTypeSelected.type,
				start_date: this.start_date,
				end_date: this.end_date,
			}
			this.handleRoute(model)
			this.fetchSendingDocumentStatistics(model)
		},
		/** **/
		onFilialChange(val){
			let model = {
				journal: this.composeTypeSelected.type === 'decree' ? 6 : this.composeTypeSelected.value,
				filial: val,
				type: this.composeTypeSelected.type,
				start_date: this.start_date,
				end_date: this.end_date
			}
			this.handleRoute(model)
			this.fetchSendingDocumentStatistics(model)
		},
		/** **/
		onCountClick(val, status, item) {
			if (val > 0) {
				this.$router.push({
					name: 'SendDocumentNew',
					query: {
						page: 1,
						page_size: 15,
						journal_id: this.composeTypeSelected.type === 'decree' ? 6 : this.composeTypeSelected.value,
						type: this.composeTypeSelected.type,
						compose_status: status,
						register_start_date: this.start_date,
						register_end_date: this.end_date,
						department: item?.department_id
					}
				})
			}
		}
	}
}
</script>

<style scoped>
.scroll-cover {
	height: calc(100vh - 200px);
}
.td-background-light {
	background: rgba(126, 142, 252, 0.1);
}
.app-table th {
	border: 1px solid white;
}

.app-table tbody tr td {
	height: 40px!important;
	border: 1px solid white;
	background: rgba(187, 187, 187, 0.1);
}

.execution-statics-view .v-data-table > .v-data-table__wrapper > table > thead > tr:last-child > th{
	background: #F7F9FE!important;
}
</style>
