<template>
	<div class="type-additional-form-view">
    <div class="d-flex align-center justify-end">
      <span class="small-2 font-500">Выбор типа Документ ID</span>

      <div class="ml-4 w-300px">
        <v-select
          v-model="documentTypeSelected"
          :items="documentTypeList"
          item-text="name"
          item-value="value"
          outlined
          hide-details
          background-color="var(--input-bg)"
          dense
        >
          <template #append>
            <v-icon>mdi-chevron-down</v-icon>
          </template>
        </v-select>
      </div>
    </div>

    <div class="d-flex align-center justify-end mt-2">
      <span class="small-2 font-500">К счёту-фактуре №</span>

      <div class="ml-4 w-300px">
        <v-text-field
          v-model="universalVatIncomeFactureModel.document.korrektirovoch_document_number"
          outlined
          hide-details
          background-color="var(--input-bg)"
          dense
        >
        </v-text-field>
      </div>
    </div>

    <div class="d-flex align-center justify-end mt-2">
      <span class="small-2 font-500">Дата</span>

	    <div class="ml-4 w-300px">
        <app-date-picker
          v-model="universalVatIncomeFactureModel.document.korrektirovoch_document_date"
          with-input
          dense
          background-color="var(--input-bg)"
        />
	    </div>
    </div>

		<template v-if="documentTypeSelected === '0'">
      <div class="d-flex align-center justify-end mt-2">
        <span class="small-2 font-500">К счёту-фактуре (Документ ID)</span>

        <div class="ml-4 w-300px">
          <v-select
            item-text="name"
            item-value="value"
            outlined
            hide-details
            background-color="var(--input-bg)"
            dense
          >
            <template #append>
              <v-icon>mdi-chevron-down</v-icon>
            </template>
          </v-select>
        </div>
      </div>
		</template>

		<template v-if="documentTypeSelected === '1' || documentTypeSelected === '2'">
      <div class="d-flex align-center justify-end mt-2">
        <span class="small-2 font-500">К счёту-фактуре (Документ ID)</span>

        <div class="ml-4 w-300px">
          <v-text-field
            v-model="universalVatIncomeFactureModel.document.korrektirovoch_document_uid"
            outlined
            hide-details
            background-color="var(--input-bg)"
            dense
          >
          </v-text-field>
        </div>
      </div>
		</template>
	</div>
</template>

<script>
import { mapState } from "vuex"

export default {
	name: "TypeAdditionalForm",
	data() {
		return {
			documentTypeList: [
				{
					name: "Автоматический поиск из системы Faktura.uz",
					value: "0"
				},
				{
					name: "Ввод Faktura.uz UID",
					value: "1"
				},
				{
					name: "Ввод Soliqservis.uz UID",
					value: "2"
				},
			],
			documentTypeSelected: "0"
		}
	},
	computed: {
		...mapState({
			universalVatIncomeFactureModel: state => state.facture.universalVatIncomeFactureModel,
		}),
	}
}
</script>
