<template>
	<div class="universal-vat-income-4-part">
		<app-wrapper class="mt-4">
			<template #body>
				<div>
					<v-row>
						<v-col md="4">
							<div class="d-flex align-center justify-end">
								<span class="font-500 small-2">Руководитель</span>
								<div class="w-300px">
									<v-autocomplete
										v-model="chairmanSelected"
										@change="setChairman"
										:items="employeeList"
										outlined
										item-text="account.lastName"
										hide-details
										background-color="var(--input-bg)"
										dense
										return-object
										clearable
										open-on-clear
										class="ml-2"
									>
										<template #append>
											<v-icon>mdi-chevron-down</v-icon>
										</template>

										<template v-slot:item="{ item }">
											<div class="d-flex">
												<span class="small-3 font-400">{{ item.account.lastName }} {{ item.account.firstName }} {{ item.account.middleName }}</span>
											</div>
										</template>
										<template v-slot:selection="{ item }">
											<span class="small-3 font-400 line-truncate">{{ item.account.lastName }} {{ item.account.firstName }} {{ item.account.middleName }}</span>
										</template>
									</v-autocomplete>
								</div>
							</div>

							<div class="d-flex align-center justify-end mt-2">
								<span class="font-500 small-2">Главный бухгалтер</span>
								<div class="w-300px">
									<v-autocomplete
										v-model="accountantSelected"
										@change="setAccountant"
										:items="employeeList"
										outlined
										item-text="account.lastName"
										hide-details
										background-color="var(--input-bg)"
										dense
										return-object
										clearable
										open-on-clear
										class="ml-2"
									>
										<template #append>
											<v-icon>mdi-chevron-down</v-icon>
										</template>

										<template v-slot:item="{ item }">
											<div class="d-flex">
												<span class="small-3 font-400">{{ item.account.lastName }} {{ item.account.firstName }} {{ item.account.middleName }}</span>
											</div>
										</template>
										<template v-slot:selection="{ item }">
											<span class="small-3 font-400 line-truncate">{{ item.account.lastName }} {{ item.account.firstName }} {{ item.account.middleName }}</span>
										</template>
									</v-autocomplete>
								</div>
							</div>

							<div class="d-flex align-center justify-end mt-2">
								<span class="font-500 small-2">Товар передал</span>
								<div class="w-300px">
									<v-text-field
										outlined
										hide-details
										background-color="var(--input-bg)"
										dense
										class="ml-2"
									>
									</v-text-field>
								</div>
							</div>
						</v-col>

						<v-col md="3"></v-col>

						<v-col md="5">
							<div class="d-flex">
								<v-checkbox
									v-model="checkbox"
									label="По доверенности"
									class="mt-0"
								></v-checkbox>

								<div v-if="checkbox" class="d-flex flex-column ml-2 w-300px">
									<div class="d-flex">
										<v-text-field
											v-model="universalVatIncomeFactureModel.document.doverennost_number"
											outlined
											hide-details
											background-color="var(--input-bg)"
											dense
											class="ml-2"
											placeholder="Номер"
										/>

										<app-date-picker
											v-model="universalVatIncomeFactureModel.document.doverennost_date"
											class="ml-4"
											with-input
											dense
											background-color="var(--input-bg)"
											clearable
										/>
									</div>

									<v-text-field
										v-model="universalVatIncomeFactureModel.document.doverennost_agent_pinfl"
										outlined
										hide-details
										background-color="var(--input-bg)"
										dense
										class="ml-2 mt-2"
										placeholder="ПИНФЛ"
									/>

									<v-text-field
										v-model="universalVatIncomeFactureModel.document.doverennost_agent_name"
										outlined
										hide-details
										background-color="var(--input-bg)"
										dense
										class="ml-2 mt-2"
										placeholder="Ф.И.О"
									/>
								</div>
							</div>
						</v-col>
					</v-row>

					<div class="d-flex mt-4 justify-end">
<!--						<app-button-->
<!--							@click="preview"-->
<!--							min-width="100"-->
<!--						>-->
<!--							<template>-->
<!--								Просмотр-->
<!--							</template>-->
<!--						</app-button>-->

						<app-button
							min-width="100"
							class="ml-2"
							:loading="loading"
              @click="createDocument"
						>
							<template>
								Создать документ
							</template>
						</app-button>
					</div>
				</div>
			</template>
		</app-wrapper>

<!--    <pre>{{universalVatIncomeFactureModel}}</pre>-->
	</div>
</template>

<script>
import {mapState} from "vuex";
import {da} from "date-fns/locale";

export default {
	name: "UniversalVatIncome4Part",
	data() {
		return {
			checkbox: false,
			employeeList: [],
			loading: false,

			chairmanSelected: {
				id: 2093,
				account: {
					username: "buh@asakabank.uz",
					firstName: "Kudratilla ",
					lastName: "Tulyaganov",
					middleName: "Asatullayevich"
				},
				position: "Руководитель ГО",
			},
			accountantSelected: {
				id: 54541,
				account: {
					username: "998900360035",
					firstName: "Алишер",
					lastName: "Давлатов ",
					middleName: "Сапарович"
				},
				position: "Главный бухгалтер ГО",
			}
		}
	},
	computed: {
		...mapState({
			universalVatIncomeFactureModel: state => state.facture.universalVatIncomeFactureModel,
			universalVatIncomeFactureModelTemp: state => state.facture.universalVatIncomeFactureModelTemp,
		})
	},
	mounted() {
		this.getEmployeeList();
	},
	methods: {
		createDocument() {
			this.loading = true;
			this.$http.post(`/facture/univelsal_vat_invoice/create/`, this.universalVatIncomeFactureModel)
			.then(res => {
				if (res.data.SuccessCount > 0){
					this.$toast.success('Успешно!');
					this.universalVatIncomeFactureModel = this.universalVatIncomeFactureModelTemp;
					this.$router.push({
						name: "FactureDraftDocumentsList",
						query: {
							type: "draft"
						}
					});
					this.loading = false;
				}else {
					this.$toast.error('Something went wrong. Please try again!');
					this.loading = false;
				}
			})
			.catch(err => {
				console.log("ERR", err)
				this.loading = true;
			})
		},
		/**/
		setApproverSigners(){
			this.universalVatIncomeFactureModel.approver_and_signers.signer_director.last_name = this.chairmanSelected.account.lastName;
			this.universalVatIncomeFactureModel.approver_and_signers.signer_director.first_name = this.chairmanSelected.account.firstName;
			this.universalVatIncomeFactureModel.approver_and_signers.signer_director.middle_name = this.chairmanSelected.account.middleName;
			this.universalVatIncomeFactureModel.approver_and_signers.signer_director.position = this.chairmanSelected.position;

			this.universalVatIncomeFactureModel.approver_and_signers.signer_accountant.last_name = this.accountantSelected.account.lastName;
			this.universalVatIncomeFactureModel.approver_and_signers.signer_accountant.first_name = this.accountantSelected.account.firstName;
			this.universalVatIncomeFactureModel.approver_and_signers.signer_accountant.middle_name = this.accountantSelected.account.middleName;
			this.universalVatIncomeFactureModel.approver_and_signers.signer_accountant.position = this.accountantSelected.position;
		},
		/*
		*
		* */
		getEmployeeList(){
			this.$axios.get(`/facture/employee/list/`)
				.then((res) => {
					this.employeeList = res.data;
					this.setApproverSigners();
				})
		},
		/****************/
		setChairman(item){
			if (item){
				this.universalVatIncomeFactureModel.approver_and_signers.signer_director.last_name = item.account.lastName;
				this.universalVatIncomeFactureModel.approver_and_signers.signer_director.first_name = item.account.firstName;
				this.universalVatIncomeFactureModel.approver_and_signers.signer_director.middle_name = item.account.middleName;
				this.universalVatIncomeFactureModel.approver_and_signers.signer_director.position = item.position;
			}
		},
		/**/
		setAccountant(item){
			if (item){
				this.universalVatIncomeFactureModel.approver_and_signers.signer_accountant.last_name = item.account.lastName;
				this.universalVatIncomeFactureModel.approver_and_signers.signer_accountant.first_name = item.account.firstName;
				this.universalVatIncomeFactureModel.approver_and_signers.signer_accountant.middle_name = item.account.middleName;
				this.universalVatIncomeFactureModel.approver_and_signers.signer_accountant.position = item.position;
			}
		},
		/****************/
		preview(){

		}
	}
}
</script>

<style scoped>

</style>
