<template>
	<div class="universal-vat-income-2-part-view">
		<app-wrapper class="mt-4">
			<template #body>
<!--				<pre>{{invoiceReceiverDetails}}</pre>-->
				<div>
					<v-row>
						<!-- SENDER DETAILS -->
						<v-col md="6">
							<div class="d-flex flex-column justify-center">
								<v-row>
									<v-col md="4" class="justify-end d-flex align-center">
										<span class="small-2 font-500">Статус</span>
									</v-col>
									<v-col md="8" class="d-flex align-center">
										<span class="small-2 font-400">Плательщик НДС+ (сертификат активный)</span>
									</v-col>
								</v-row>

								<v-row>
									<v-col md="4" class="justify-end d-flex align-center">
										<span class="small-2 font-500">Поставщик</span>
									</v-col>
									<v-col md="8" class="d-flex align-center">
										<span class="small-2 font-400">"DAVLAT AKSIYADORLIK TIJORAT BANKI ASAKA" AJ</span>
									</v-col>
								</v-row>

								<v-row>
									<v-col md="4" class="justify-end d-flex align-center">
										<span class="small-2 font-500">Филиал</span>
									</v-col>
									<v-col md="8" class="d-flex align-center">
										<autocomplete
											v-model="universalVatIncomeFactureModel.sender_info.id"
											api-list-url="/filials/"
											:api-params="{ condition: 'A' }"
											item-text="name"
											item-value="id"
											list-type="list"
											cache-items
											clearable
											dense
										/>
									</v-col>
								</v-row>

								<v-row>
									<v-col md="4" class="justify-end d-flex align-center">
										<span class="small-2 font-500">Название</span>
									</v-col>
									<v-col md="8" class="d-flex align-center">
										<v-text-field
											outlined
											hide-details
											background-color="var(--input-bg)"
											dense
											placeholder="'DAVLAT AKSIYADORLIK TIJORAT BANKI ASAKA' AJ"
											disabled
										/>
									</v-col>
								</v-row>

								<v-row>
									<v-col md="4" class="justify-end d-flex align-center">
										<span class="small-2 font-500">Адрес</span>
									</v-col>
									<v-col md="8" class="d-flex align-center">
										<v-text-field
											outlined
											hide-details
											background-color="var(--input-bg)"
											dense
											placeholder="ГОРОД ТАШКЕНТ, МИРАБАДСКИЙ РАЙОН, MIROBOD TUMANI, NUKUS KO`CHASI, 67-UY"
										/>
									</v-col>
								</v-row>
								<v-row>
									<v-col md="4" class="justify-end d-flex align-center">
										<span class="small-2 font-500">ИНН / ПИНФЛ</span>
									</v-col>
									<v-col md="3" class="d-flex align-center">
										<v-text-field
											outlined
											hide-details
											background-color="var(--input-bg)"
											dense
											placeholder="201589828"
											disabled
										/>
									</v-col>
									<v-col md="2" class="justify-end d-flex align-center">
										<span class="small-2 font-500">Код НДС</span>
									</v-col>
									<v-col md="3" class="d-flex align-center">
										<v-text-field
											outlined
											hide-details
											background-color="var(--input-bg)"
											dense
											placeholder="326010005504"
										/>
									</v-col>

								</v-row>

								<v-row>
									<v-col md="4" class="justify-end d-flex align-center">
										<span class="small-2 font-500">Банковский счёт</span>
									</v-col>
									<v-col md="4" class="d-flex align-center">
										<app-combobox
											v-model="comboTest"
											:items="asakabankAccountList"
											item-text="name"
											item-value="value"
											dense
											clearable
										/>
									</v-col>
									<v-col md="1" class="justify-end d-flex align-center">
										<span class="small-2 font-500">МФО</span>
									</v-col>
									<v-col md="3" class="d-flex align-center">
										<v-text-field
											outlined
											hide-details
											background-color="var(--input-bg)"
											dense
											placeholder="326010005504"
										/>
									</v-col>
								</v-row>

								<v-row>
									<v-col md="4" class="justify-end d-flex align-center">
										<span class="small-2 font-500">Коэффициент разрыва НДС</span>
									</v-col>
									<v-col md="1" class="d-flex align-center">
										<v-text-field
											outlined
											hide-details
											background-color="rgba(143,212,70,.7)"
											dense
											placeholder="0"
											width="10"
											disabled
										/>
									</v-col>
								</v-row>

								<v-row>
									<v-col md="4" class="justify-end d-flex align-center">

									</v-col>
									<v-col md="4" class="d-flex align-center">
										<v-checkbox
											v-model="checkbox"
											hide-details
											class="mt-0"
											label="Комиссионер"
										></v-checkbox>
									</v-col>
								</v-row>

							</div>
						</v-col>
						<!-- /SENDER DETAILS -->


						<!-- RECEIVER DETAILS -->
						<v-col md="6">
							<div class="d-flex flex-column justify-center">
								<v-row>
									<v-col md="4" class="justify-end d-flex align-center">

									</v-col>
									<v-col md="4" class="d-flex align-center">
										<v-checkbox
											v-model="checkbox2"
											hide-details
											class="mt-0"
											label="Односторонняя счёт-фактура"
										></v-checkbox>
									</v-col>
								</v-row>

								<v-row v-if="invoiceReceiverDetails.TaxPayerTypeName">
									<v-col md="4" class="justify-end d-flex align-center">
										<span class="small-2 font-500">Статус</span>
									</v-col>
									<v-col md="8" class="d-flex align-center">
										<span class="small-2 font-400">{{ invoiceReceiverDetails.TaxPayerTypeName }}</span>
									</v-col>
								</v-row>

								<v-row>
									<v-col md="4" class="justify-end d-flex align-center">
										<span class="small-2 font-500">ИНН / ПИНФЛ покупателя</span>
									</v-col>
									<v-col md="7" class="d-flex align-center">
										<v-text-field
											v-model="inn"
											outlined
											hide-details
											background-color="var(--input-bg)"
											dense
											clearable
										/>
									</v-col>
									<v-col md="1">
										<app-button
											@click="getInvoiceReceiverDetails"
											min-width="38px"
											height="38px"
											:loading="isLoading"
										>
											<v-icon>
												mdi-magnify
											</v-icon>
										</app-button>
									</v-col>
								</v-row>

								<v-row v-if="invoiceReceiverDetails.Branches.length">
									<v-col md="4" class="justify-end d-flex align-center">
										<span class="small-2 font-500">Филиал</span>
									</v-col>
									<v-col md="8" class="d-flex align-center">
										<v-autocomplete
											:items="invoiceReceiverDetails.Branches"
											item-text="Name"
											outlined
											hide-details
											return-object
											dense
											background-color="var(--input-bg)"
										>
											<template #append>
												<v-icon>mdi-chevron-down</v-icon>
											</template>

											<template v-slot:item="{ item }">
												<div style="overflow: hidden; white-space: nowrap; width: 550px;">
													<span class="small-3 font-500">{{ item.Name }}</span>
												</div>
											</template>
										</v-autocomplete>
									</v-col>
								</v-row>

								<v-row>
									<v-col md="4" class="justify-end d-flex align-center">
										<span class="small-2 font-500">Название</span>
									</v-col>
									<v-col md="8" class="d-flex align-center">
										<v-text-field
											v-model="invoiceReceiverDetails.CompanyName"
											outlined
											hide-details
											background-color="var(--input-bg)"
											dense
										/>
									</v-col>
								</v-row>

								<v-row>
									<v-col md="4" class="justify-end d-flex align-center">
										<span class="small-2 font-500">Адрес</span>
									</v-col>
									<v-col md="8" class="d-flex align-center">
										<v-text-field
											v-model="invoiceReceiverDetails.CompanyAddress"
											outlined
											hide-details
											background-color="var(--input-bg)"
											dense
										/>
									</v-col>
								</v-row>

								<v-row>
									<v-col md="4" class="justify-end d-flex align-center">
										<span class="small-2 font-500">ИНН / ПИНФЛ</span>
									</v-col>
									<v-col md="3" class="d-flex align-center">
<!--                    v-model="invoiceReceiverDetails.CompanyInn"-->
										<v-text-field
                      v-model="universalVatIncomeFactureModel.receiver.receiver_info.inn"
											outlined
											hide-details
											background-color="var(--input-bg)"
											dense
										/>
									</v-col>
									<v-col md="2" class="justify-end d-flex align-center">
										<span class="small-2 font-500">Код НДС</span>
									</v-col>
									<v-col md="3" class="d-flex align-center">
										<v-text-field
											outlined
											hide-details
											background-color="var(--input-bg)"
											dense
										/>
									</v-col>

								</v-row>

								<v-row>
									<v-col md="4" class="justify-end d-flex align-center">
										<span class="small-2 font-500">Банковский счёт</span>
									</v-col>
									<v-col md="4" class="d-flex align-center">
										<app-combobox
											:items="invoiceReceiverDetails.Accounts"
											dense
											item-text="AccountCode"
										/>
									</v-col>
									<v-col md="1" class="justify-end d-flex align-center">
										<span class="small-2 font-500">МФО</span>
									</v-col>
									<v-col md="3" class="d-flex align-center">
										<v-text-field
											:value="receiverBankMfo"
											outlined
											hide-details
											background-color="var(--input-bg)"
											dense
										/>
									</v-col>
								</v-row>

								<v-row>
									<v-col md="4" class="justify-end d-flex align-center">
										<span class="small-2 font-500">Директор</span>
									</v-col>
									<v-col md="8" class="d-flex align-center">
										<v-text-field
											v-model="invoiceReceiverDetails.DirectorName"
											outlined
											hide-details
											background-color="var(--input-bg)"
											dense
										/>
									</v-col>
								</v-row>

								<v-row>
									<v-col md="4" class="justify-end d-flex align-center">
										<span class="small-2 font-500">Главный Бухгалтер</span>
									</v-col>
									<v-col md="8" class="d-flex align-center">
										<v-text-field
											v-model="invoiceReceiverDetails.Accountant"
											outlined
											hide-details
											background-color="var(--input-bg)"
											dense
										/>
									</v-col>
								</v-row>

								<v-row>
									<v-col md="4" class="justify-end d-flex align-center">
										<span class="small-2 font-500">Коэффициент разрыва НДС</span>
									</v-col>
									<v-col md="1" class="d-flex align-center">
										<v-text-field
											outlined
											hide-details
											background-color="rgba(143,212,70,.7)"
											dense
											placeholder="0"
											width="10"
											disabled
										/>
									</v-col>
								</v-row>


							</div>
						</v-col>
						<!-- /RECEIVER DETAILS -->
					</v-row>
				</div>
			</template>
		</app-wrapper>
	</div>
</template>

<script>
import {mapActions, mapGetters, mapState} from "vuex";

export default {
	name: "UniversalVatIncome2Part",
	data() {
		return {
			checkbox: false,
			checkbox2: false,
			inn: "",
			comboTest: "",
			isLoading: false
		}
	},
	computed: {
		...mapState({
			invoiceReceiverDetails: state => state.facture.invoiceReceiverDetails,
			universalVatIncomeFactureModel: state => state.facture.universalVatIncomeFactureModel,
		}),
		/**/
		...mapGetters({
			asakabankAccountList: "facture/getAsakabankAccountList"
		}),
		/**/
		receiverBankMfo() {
			return this.invoiceReceiverDetails?.Accounts[0]?.BankMfo
		}
	},
	methods: {
		...mapActions({
			fetchGetInvoiceReceiverDetails: "facture/fetchGetInvoiceReceiverDetails"
		}),
		/**/
		getInvoiceReceiverDetails(){
			this.isLoading = true;
			this.fetchGetInvoiceReceiverDetails(this.inn)
				.then(data => {
					this.isLoading = false;

					this.universalVatIncomeFactureModel.receiver.receiver_info.inn = this.invoiceReceiverDetails.CompanyInn;
				})
				.catch(err => {
					this.isLoading = false;
					this.$toast.error("По данному ИНН ничего не найдено!")
				})
		}
	}
}
</script>

<style scoped>

</style>
