<template>
	<div class="universal-vat-invoice-view">
		<app-wrapper>
			<template #body>
				<h2 class="font-400 text-dark-grey">Cчет-фактура (ПКМ №489)</h2>
			</template>
		</app-wrapper>
		<app-wrapper class="mt-4">
			<template #body>
				<div class="top-header-part">
					<v-row>
						<v-col md="5">
							<div class="d-flex align-center justify-end">
								<span class="small-2 font-500">Тип счета-фактуры</span>

								<div class="ml-4 w-300px">
<!--									{{ universalVatIncomeFactureModel.document.factura_type }}-->
									<v-select
										v-model="universalVatIncomeFactureModel.document.factura_type"
										:items="invoiceTypeList"
										item-text="name"
										item-value="value"
										outlined
										hide-details
										background-color="var(--input-bg)"
										dense
									>
										<template #append>
											<v-icon>mdi-chevron-down</v-icon>
										</template>
									</v-select>
								</div>
							</div>

							<div class="d-flex align-center justify-end mt-2">
								<span class="small-2 font-500">Счет-фактура №</span>
								<div class="ml-4 w-300px">
									<v-text-field
										v-model="universalVatIncomeFactureModel.document.document_number"
										outlined
										hide-details
										background-color="var(--input-bg)"
										dense
									>
									</v-text-field>
								</div>
							</div>

							<div v-if="!model.by_terminal" class="d-flex align-center justify-end mt-2">
								<span class="small-2 font-500">К договору №</span>
								<div class="ml-4 w-300px">
									<v-text-field
										v-model="universalVatIncomeFactureModel.document.contract_number"
										outlined
										hide-details
										background-color="var(--input-bg)"
										dense
									>
									</v-text-field>
								</div>
							</div>

							<div v-else class="d-flex align-center justify-end mt-2">
								<div class="ml-4 w-300px">
									<v-textarea
										v-model="model.sell_by_terminal"
										outlined
										hide-details
										background-color="var(--input-bg)"
										dense
										auto-grow
									>
									</v-textarea>
								</div>
							</div>

							<!-- Тип счета-фактуры (Стандарт) -->
							<template v-if="['1', '4', '5', '6'].includes(universalVatIncomeFactureModel.document.factura_type)">
								<div class="d-flex align-center justify-end mt-4">
									<type-additional-form />
								</div>
							</template>
							<!-- /Тип счета-фактуры (Стандарт) -->

							<div class="d-flex align-center justify-end mt-4">
								<span class="small-2 font-500">Поиск по</span>
								<div class="ml-4 w-300px">
									<v-radio-group
										v-model="model.search_by"
										row
										hide-details
										dense
									>
										<v-radio
											label="TTH"
											value="tth"
										></v-radio>
										<v-radio
											label="Договор"
											value="contract"
										></v-radio>
									</v-radio-group>
								</div>
							</div>

							<template v-if="model.search_by === 'tth'">
								<div class="d-flex align-center justify-end mt-2">
									<div class="ml-4 w-300px">
										<v-select
											item-text="name"
											return-object
											outlined
											hide-details
											background-color="var(--input-bg)"
											dense
										>
											<template #append>
												<v-icon>mdi-chevron-down</v-icon>
											</template>
										</v-select>
									</div>
								</div>
								<div class="d-flex align-center justify-end mt-2">
									<div class="ml-4 w-300px d-flex">
										<v-text-field
											outlined
											hide-details
											background-color="var(--input-bg)"
											dense
											placeholder="TTH ID (Faktura.uz/Soliq)"
											class="custom-placeholer-color"
										>
										</v-text-field>

										<app-button
											min-width="38px"
											height="38px"
											class="ml-2"
										>
											<v-icon>
												mdi-magnify
											</v-icon>
										</app-button>
									</div>
								</div>
							</template>

							<template v-else>
								<div class="d-flex align-center justify-end mt-2">
									<div class="ml-4 w-300px d-flex">
										<v-text-field
											outlined
											hide-details
											background-color="var(--input-bg)"
											dense
											placeholder="Договор ID (my.soliq.uz)"
											class="custom-placeholer-color"
										>
										</v-text-field>

										<app-button
											min-width="38px"
											height="38px"
											class="ml-2"
										>
											<v-icon>
												mdi-magnify
											</v-icon>
										</app-button>
									</div>
								</div>
							</template>
						</v-col>

						<v-col md="1"></v-col>

						<v-col md="6">
							<div class="d-flex align-center mt-11">
								<span class="small-2 font-500">Дата</span>
								<app-date-picker
									class="ml-4"
									v-model="universalVatIncomeFactureModel.document.document_date"
									with-input
									dense
									background-color="var(--input-bg)"
								/>
							</div>

							<div class="d-flex align-center contract-date">
								<span class="small-2 font-500">Дата</span>
								<app-date-picker
									class="ml-4"
									v-model="universalVatIncomeFactureModel.document.contract_date"
									with-input
									dense
									background-color="var(--input-bg)"
								/>

								<v-checkbox
									class="ml-10"
									v-model="model.by_terminal"
									label="По терминалу"
								></v-checkbox>
							</div>
						</v-col>
					</v-row>
				</div>
			</template>
		</app-wrapper>

		<universal-vat-income2-part />

		<universal-vat-income3-part />

		<universal-vat-income4-part />

	</div>
</template>

<script>
import {mapGetters, mapState} from "vuex";
import UniversalVatIncome2Part from "./UniversalVatIncome2Part";
import UniversalVatIncome3Part from "./UniversalVatIncome3Part";
import UniversalVatIncome4Part from "./UniversalVatIncome4Part";
import TypeAdditionalForm from "./TypeAdditionalForm"

export default {
	name: "UniversalVatInvoice",
	components: {
		UniversalVatIncome2Part,
		UniversalVatIncome3Part,
		UniversalVatIncome4Part,
		TypeAdditionalForm
	},
	data() {
		return {
			model: {
				search_by: "tth",
				invoice_date: null,
				contract_date: null,
				by_terminal: false,
				sell_by_terminal: "Продажа по терминалу",
			},
			invoiceTypeSelected: "standard"
		}
	},
	computed: {
		...mapState({
			universalVatIncomeFactureModel: state => state.facture.universalVatIncomeFactureModel,
		}),
		...mapGetters({
			invoiceTypeList: "facture/getInvoiceTypeList"
		})
	}
}
</script>

<style>
.w-300px .v-input--selection-controls {
	margin-top: 0!important;
}
.custom-placeholer-color input::placeholder {
	color: #999898 !important;
	opacity: 1;
	font-weight: 400;
}
.contract-date .v-label{
	color: black!important;
	font-weight: 400;
}
</style>
