<template>
	<v-app-bar
		app
		elevation="0"
		class="app-toolbar"
	>
<!--		<v-app-bar-nav-icon @click.stop="$emit('emit:up')">-->
<!--			<template v-slot:default>-->
<!--&lt;!&ndash;				<menu-icon />&ndash;&gt;-->
<!--				<v-icon>mdi-menu</v-icon>-->
<!--			</template>-->
<!--		</v-app-bar-nav-icon>-->

<!--		<v-toolbar-title class="ml-0 pl-2 mr-5">-->
<!--			<div v-if="$vuetify.breakpoint.smAndUp">-->
<!--				<span class="font-600 small-2 text-2 d-block">-->
<!--					Привет Muhammad-->
<!--					<span class="d-block small-3">С возвращением</span>-->
<!--				</span>-->
<!--			</div>-->
<!--		</v-toolbar-title>-->

		<!-- Shows on event calendar view -->
		<template v-if="$route.name === 'MainEventCalendar' || $route.name === 'MainEventCalendarDate'">
			<calendar-actions class="mr-3" />
		</template>

    <template v-else>
      <v-btn
        color="#EEEEEE"
        height="44"
        dark
        depressed
        @click="clearCaches"
        class="d-flex py-0 mb-0"
      >
        <v-icon color="var(--secondary)" size="20" class="mr-2 mt-1">mdi-refresh</v-icon>

        <span class="small-2 text--dark">{{$t('layout.reload')}}</span>
      </v-btn>
    </template>
		<!-- End Shows on event calendar view -->

		<v-spacer></v-spacer>

		<v-btn
			text
			depressed
			color="primary"
			class="ml-4"
			@click="dialog = true"
		>
			<span class="mr-2">
				<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill="#5964D1" viewBox="0 0 64 64"><g id="Outline">
					<path d="M10,14a4,4,0,0,0-4,4V40.459A8.971,8.971,0,0,0,6.644,43.8l5.141,12.854A2.976,2.976,0,0,1,12,57.77V61a1,1,0,0,0,2,0V57.77a4.99,4.99,0,0,0-.357-1.857L8.5,43.06a6.964,6.964,0,0,1-.5-2.6V18a2,2,0,0,1,4,0V28.039c-.1.046-.209.076-.309.131a4.088,4.088,0,0,0-1.615,5.391l3.85,8.035a1,1,0,0,0,1.8-.865L11.879,32.7a2.118,2.118,0,0,1,.769-2.771,2,2,0,0,1,2.765.889l3.2,6.68a4.862,4.862,0,0,0,2.429,2.381,8.286,8.286,0,0,1,3.99,4.071c1.277,2.664,1.21,5.64-.168,7.4a9.452,9.452,0,0,0-1.874,5.915L23,61a1,1,0,0,0,1,1h0a1,1,0,0,0,1-1l-.009-3.737a7.57,7.57,0,0,1,1.45-4.679c1.863-2.386,2.018-6.114.4-9.5a10.311,10.311,0,0,0-5-5.043,2.862,2.862,0,0,1-1.419-1.41l-3.2-6.679a4.013,4.013,0,0,0-2.378-2.078A4.094,4.094,0,0,0,14,27.7V18A4,4,0,0,0,10,14Z"/>
					<path d="M55.5,43.059,50.357,55.914A4.981,4.981,0,0,0,50,57.77V61a1,1,0,0,0,2,0V57.77a2.976,2.976,0,0,1,.215-1.114L57.356,43.8A8.971,8.971,0,0,0,58,40.459V18a4,4,0,0,0-8,0v9.7a3.99,3.99,0,0,0-3.217,2.251l-3.2,6.678a2.854,2.854,0,0,1-1.418,1.411,10.3,10.3,0,0,0-5,5.043c-1.623,3.385-1.467,7.113.4,9.5a7.57,7.57,0,0,1,1.45,4.679L39,61a1,1,0,0,0,1,1h0a1,1,0,0,0,1-1l.009-3.736a9.452,9.452,0,0,0-1.874-5.915c-1.378-1.764-1.446-4.74-.168-7.4a8.286,8.286,0,0,1,3.99-4.071,4.86,4.86,0,0,0,2.429-2.382l3.2-6.679a2,2,0,0,1,2.765-.889,2.118,2.118,0,0,1,.769,2.771L48.27,40.731a1,1,0,0,0,1.8.865l3.85-8.035A4.089,4.089,0,0,0,52.31,28.17c-.1-.055-.207-.085-.31-.131V18a2,2,0,0,1,4,0V40.459A6.975,6.975,0,0,1,55.5,43.059Z"/>
					<path d="M17.01,19.045a.933.933,0,0,0,.006.118,1.013,1.013,0,0,0,.044.149.819.819,0,0,0,.04.118l0,.017a1.024,1.024,0,0,0,.088.127.77.77,0,0,0,.055.085l14,16,.011.008c.021.023.047.04.07.062a1,1,0,0,0,.138.1c.025.016.043.039.07.053s.026.009.038.015.034.012.052.019a.694.694,0,0,0,.08.03A.984.984,0,0,0,32,36h0a.985.985,0,0,0,.293-.05.694.694,0,0,0,.08-.03c.018-.007.035-.011.052-.019s.026-.008.038-.015c.027-.014.045-.037.07-.053a.988.988,0,0,0,.137-.1c.023-.022.05-.039.071-.062l.011-.008,8-9.143-1.5-1.318-5.273,6.026L36.781,20H43.8l-2.907,3.322,1.5,1.318,4.358-4.981c.023-.026.036-.058.056-.085a1.01,1.01,0,0,0,.086-.127l.006-.017a.978.978,0,0,0,.04-.119.866.866,0,0,0,.044-.148,2.728,2.728,0,0,0,.006-.277.951.951,0,0,0-.026-.115,1.021,1.021,0,0,0-.045-.155c0-.01,0-.02-.008-.029-.015-.031-.038-.056-.055-.085a1.109,1.109,0,0,0-.056-.1l-6-8a.647.647,0,0,0-.058-.059.967.967,0,0,0-.089-.092.85.85,0,0,0-.1-.072.868.868,0,0,0-.113-.068.749.749,0,0,0-.1-.041.918.918,0,0,0-.138-.042c-.035-.007-.071-.01-.107-.014S40.032,10,40,10H24c-.033,0-.064.009-.1.012s-.071.007-.105.014a.967.967,0,0,0-.139.042.9.9,0,0,0-.1.041,1.069,1.069,0,0,0-.112.067,1,1,0,0,0-.1.073.967.967,0,0,0-.089.092.647.647,0,0,0-.058.059l-2.252,3,1.6,1.2L23.829,12.9,26.382,18H20l1.05-1.4-1.6-1.2-2.25,3a.913.913,0,0,0-.056.1c-.017.029-.04.054-.055.085,0,.009,0,.019-.008.029a1.043,1.043,0,0,0-.045.154c-.009.039-.022.077-.027.116A1.055,1.055,0,0,0,17.01,19.045ZM32,13.236,34.382,18H29.618ZM29.281,20h5.438L32,30.877Zm8.337-2L40.171,12.9,44,18Zm.764-6L36,16.764,33.618,12Zm-8,0L28,16.764,25.618,12Zm-3.163,8,2.806,11.224L20.2,20Z"/><rect x="31" y="2" width="2" height="4"/><rect x="36.239" y="4.359" width="4" height="2" transform="translate(17.462 37.905) rotate(-65.424)"/><rect x="25.012" y="3.247" width="2" height="4" transform="translate(0.069 10.824) rotate(-23.537)"/></g></svg>
			</span>
			<span>
        {{ $t("bankValues") }}
      </span>
		</v-btn>

    <v-btn
      :to="{ name: 'HistoryChanges' }"
      text
      depressed
      color="primary"
			class="ml-4"
    >
      <span class="mr-2">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M14.81 17.0999C14.8 17.0999 14.79 17.0999 14.78 17.0999H8.10999C6.12999 16.9599 5.25 15.45 5.25 14.0999C5.25 12.9699 5.87001 11.73 7.20001 11.27C6.90001 9.76999 7.27001 8.36999 8.26001 7.32999C9.45001 6.07999 11.36 5.59 13 6.09C14.46 6.54 15.51 7.71 15.92 9.34C17.17 9.69 18.16 10.67 18.57 12C19.03 13.52 18.61 15.08 17.47 16.07C16.75 16.73 15.8 17.0999 14.81 17.0999ZM8.14001 12.5999C7.12001 12.6899 6.75 13.4599 6.75 14.0999C6.75 14.7499 7.12 15.53 8.16 15.5999H14.78C15.43 15.5999 16 15.38 16.46 14.95C17.3 14.22 17.35 13.17 17.13 12.43C16.91 11.69 16.28 10.8499 15.19 10.7199C14.86 10.6799 14.6 10.4299 14.54 10.0999C14.32 8.76995 13.61 7.86 12.55 7.53C11.46 7.19 10.13 7.53997 9.34 8.36997C8.56 9.17997 8.39 10.3299 8.84 11.5999C8.98 11.9899 8.78001 12.42 8.39001 12.56C8.31001 12.59 8.18001 12.61 8.14001 12.5999Z" fill="#5964D1"/>
          <path d="M9 22.75C4.73 22.75 1.25 19.27 1.25 15C1.25 14.59 1.59 14.25 2 14.25C2.41 14.25 2.75 14.59 2.75 15C2.75 17.96 4.80999 20.44 7.57999 21.09L7.31 20.64C7.1 20.28 7.21001 19.82 7.57001 19.61C7.92001 19.4 8.39001 19.51 8.60001 19.87L9.64999 21.62C9.78999 21.85 9.79 22.14 9.66 22.37C9.52 22.6 9.27 22.75 9 22.75Z" fill="#5964D1"/>
          <path d="M21.9999 9.75C21.5899 9.75 21.2499 9.41 21.2499 9C21.2499 6.04 19.1899 3.55997 16.4199 2.90997L16.6899 3.35999C16.8999 3.71999 16.7899 4.18001 16.4299 4.39001C16.0799 4.60001 15.6099 4.49001 15.3999 4.13L14.3499 2.38C14.2099 2.15 14.2099 1.86 14.3399 1.63C14.4699 1.39 14.7199 1.25 14.9899 1.25C19.2599 1.25 22.7399 4.73 22.7399 9C22.7499 9.41 22.4099 9.75 21.9999 9.75Z" fill="#5964D1"/>
        </svg>
      </span>

      <span>
        {{ $t("system-changes") }}
      </span>
    </v-btn>

		<div class="ml-4">
			<language/>
		</div>

		<div class="mx-4">
			<v-btn
				icon
				@click="$emit('emit:up', true)"
			>
				<v-badge
					color="primary"
					:content="notificationCount > 99 ? '99+' : notificationCount"
					overlap
					bordered
					:value="notificationCount!==0"
				>
					<v-icon
						color="primary"
						size="30"
					>
						mdi-bell-outline
					</v-icon>
				</v-badge>
			</v-btn>
		</div>

		<header-user-dropdown />

		<v-dialog
			content-class="shadow-5"
			v-model="dialog"
			max-width="1200"
			@keydown.esc="dialog = false"
			@click:outside="dialog = false"
		>
			<img v-if="$i18n.locale === 'uz'" src="@/assets/img/maket_uz.png"  alt="maket-1"/>
			<img v-else src="@/assets/img/maket_ru.png"  alt="maket-1"/>
		</v-dialog>
	</v-app-bar>
</template>

<script>
import CalendarActions from "@/modules/EventCalendar/components/CalendarActions";
import { mapGetters } from "vuex";
import HeaderUserDropdown from "./components/HeaderUserDropdown";
import Language from "./components/Language";
import { XIcon } from "vue-feather-icons";

export default {
	name: "index",
	components: {
		CalendarActions,
		HeaderUserDropdown,
		Language,
		XIcon
	},
	data() {
		return {
			dialog: false
		}
	},
	computed: {
		...mapGetters({
			notificationCount: "getNotificationListCount"
		})
	},
  methods: {
		/*
		*
		* */
		changeMode(val) {
			const body = document.body

			val ? body.setAttribute("v-theme", "dark") : body.removeAttribute("v-theme")
		},
    /*
    *
    * */
    clearCaches() {
      window.location.reload()
      // console.log('Caches before', caches)
      //
      // caches.keys().then((keyList) => Promise.all(keyList.map((key) => caches.delete(key))))
      // .then((data) => {
      //   console.log('Caches after', data);
      //   this.$toast.success(`Кэш очищен`)
      // })
    }
	}
}
</script>

<style>
.app-toolbar {
	border-bottom: 1px solid var(--border-color) !important;
}

.v-toolbar__content, .v-toolbar__extension {
  padding: 4px 0 4px 20px !important;
}
</style>
