<template>
	<div class="d-flex flex-1 bg-4 rounded-20 pa-3">
		<div class="d-flex flex-column align-start flex-1 pa-4">
			<div class="d-flex align-center w-100 mb-12">
				<span class="heading-9 font-600 text-dark mr-3 d-block">{{ formTitle }}</span>
				<v-divider/>
			</div>

			<div class="w-100 mb-auto">
				<v-row>
					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.type-registration-document')}}</span>

							<v-autocomplete
								v-model="journal"
								:items="journalList"
								:search-input.sync="registrationDocumentSearch"
								item-text="name"
								item-value="id"
								outlined
								hide-details
								return-object
							>
								<template #append>
									<v-icon>mdi-chevron-down</v-icon>
								</template>
							</v-autocomplete>
						</div>
					</v-col>

					<!--			For incoming documents-->
					<template v-if="journal.id === 1">
						<v-col md="3">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.registration-number')}}</span>

								<v-text-field
									v-model="formModel.register_number"
									hide-details
									outlined
									@keypress="$store.dispatch('documentFlowModule/checkKeyDownAlphaNumeric', $event)"
									@paste="$store.dispatch('documentFlowModule/checkCopiedText', $event)"
								></v-text-field>
							</div>
						</v-col>

						<v-col md="3">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.outgoing-number')}}</span>

								<v-text-field
									v-model="$v.formModel.outgoing_number.$model"
									:error="$v.formModel.outgoing_number.$error"
									hide-details
									outlined
								></v-text-field>
							</div>
						</v-col>

						<v-col md="3">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.registration-date')}}</span>

								<app-date-picker
									v-model="$v.formModel.register_date.$model"
									:error="$v.formModel.register_date.$error"
									with-input
								/>
							</div>
						</v-col>

						<v-col md="3">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.outgoing-date')}}</span>

								<app-date-picker
									v-model="$v.formModel.outgoing_date.$model"
									:error="$v.formModel.outgoing_date.$error"
									with-input
								/>
							</div>
						</v-col>

						<v-col md="3">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.correspondent')}}</span>

								<v-autocomplete
									v-model="$v.formModel.correspondent.$model"
									:error="$v.formModel.correspondent.$error"
									:items="correspondentList"
									:search-input.sync="correspondentSearch"
									item-text="name"
									item-value="id"
									outlined
									hide-details
									return-object
									clearable
								>
									<template #append>
										<v-icon>mdi-chevron-down</v-icon>
									</template>
								</v-autocomplete>
							</div>
						</v-col>

						<v-col md="3">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.document-type')}}</span>

								<v-autocomplete
									v-model="$v.formModel.doc_type.$model"
									:error="$v.formModel.doc_type.$error"
									:items="docTypeList"
									:search-input.sync="documentTypeSearch"
									item-text="name"
									item-value="id"
									outlined
									hide-details
									return-object
									clearable
								>
									<template #append>
										<v-icon>mdi-chevron-down</v-icon>
									</template>
								</v-autocomplete>
							</div>
						</v-col>

						<v-col md="3">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.document-priority')}}</span>

								<v-select
									v-model="$v.formModel.priority.$model"
									:error="$v.formModel.priority.$error"
									:items="$store.state.priorityList"
									item-text="title"
									item-value="value"
									outlined
									hide-details
									clearable
								>
									<template #append>
										<v-icon>mdi-chevron-down</v-icon>
									</template>
								</v-select>
							</div>
						</v-col>

						<v-col md="3">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.attach-file')}}</span>

								<v-file-input
									@change="uploadFiles"
									multiple
									prepend-inner-icon="mdi-paperclip"
									prepend-icon=""
									outlined
									hide-details
								></v-file-input>
							</div>
						</v-col>

						<v-col md="3">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.for-consideration')}}</span>

								<v-autocomplete
									v-model="$v.formModel.__userSelected.$model"
									:error="$v.formModel.__userSelected.$error"
									:items="usersList"
									:search-input.sync="userSearch"
									item-text="full_name"
									outlined
									hide-details
									return-object
									multiple
								>
									<template #append>
										<v-icon>mdi-chevron-down</v-icon>
									</template>

									<template v-slot:item="data">
										<v-list-item-avatar :color="data.item.color">
											<template v-if="data.item.avatar">
												<img :src="data.item.avatar" alt="Avatar image"/>
											</template>

											<template v-else>
												<span class="text-white">{{ data.item.full_name | getFirstCharacterWithoutDot }}</span>
											</template>
										</v-list-item-avatar>

										<v-list-item-content>
											<v-list-item-title v-html="data.item.full_name"></v-list-item-title>
											<v-list-item-subtitle v-html="data.item.position"></v-list-item-subtitle>
										</v-list-item-content>
									</template>
								</v-autocomplete>
							</div>
						</v-col>

						<v-col md="12">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.content')}}</span>

								<v-textarea
									v-model="$v.formModel.description.$model"
									:error="$v.formModel.description.$error"
									outlined
									hide-details
									no-resize
									auto-grow
								></v-textarea>
							</div>
						</v-col>
					</template>

					<template v-if="journal.id === 3">
						<v-col md="3">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.registration-number')}}</span>

								<v-text-field
									v-model="$v.innerFormModel.register_number.$model"
									:error="$v.innerFormModel.register_number.$error"
									hide-details
									outlined
									@keypress="$store.dispatch('documentFlowModule/checkKeyDownAlphaNumeric', $event)"
									@paste="$store.dispatch('documentFlowModule/checkCopiedText', $event)"
								></v-text-field>
							</div>
						</v-col>

						<v-col md="3">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.registration-date')}}</span>

								<app-date-picker
									v-model="$v.innerFormModel.register_date.$model"
									:error="$v.innerFormModel.register_date.$error"
									with-input
								/>
							</div>
						</v-col>

						<v-col md="3">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.document-type')}}</span>

								<v-autocomplete
									v-model="$v.innerFormModel.doc_type.$model"
									:error="$v.innerFormModel.doc_type.$error"
									:items="docTypeList"
									:search-input.sync="documentTypeSearch"
									item-text="name"
									item-value="id"
									outlined
									hide-details
									return-object
									clearable
								>
									<template #append>
										<v-icon>mdi-chevron-down</v-icon>
									</template>
								</v-autocomplete>
							</div>
						</v-col>

						<v-col md="3">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.deadline')}}</span>

								<app-date-picker
									v-model="innerFormModel.deadline"
									with-input
								/>
							</div>
						</v-col>

						<v-col md="3">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.department')}}</span>

								<v-autocomplete
									v-model="$v.innerFormModel.department.$model"
									:error="$v.innerFormModel.department.$error"
									:items="departmentList"
									item-text="name"
									item-value="id"
									outlined
									hide-details
									clearable
								>
									<template #append>
										<v-icon>mdi-chevron-down</v-icon>
									</template>
								</v-autocomplete>
							</div>
						</v-col>

						<v-col md="3">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.author')}}</span>

								<v-autocomplete
									v-model="$v.innerFormModel.author.$model"
									:error="$v.innerFormModel.author.$error"
									:items="authorsList"
									item-text="full_name"
									item-value="id"
									outlined
									hide-details
									clearable
								>
									<template #append>
										<v-icon>mdi-chevron-down</v-icon>
									</template>
								</v-autocomplete>
							</div>
						</v-col>

						<v-col md="3">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.signatory')}}</span>

								<v-autocomplete
									v-model="$v.innerFormModel.signer.$model"
									:error="$v.innerFormModel.signer.$error"
									:items="authorsList"
									item-text="full_name"
									item-value="id"
									outlined
									hide-details
									clearable
								>
									<template #append>
										<v-icon>mdi-chevron-down</v-icon>
									</template>
								</v-autocomplete>
							</div>
							{{ formModel.signer }}
						</v-col>

						<v-col md="6">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.content')}}</span>

								<v-textarea
									v-model="$v.innerFormModel.description.$model"
									:error="$v.innerFormModel.description.$error"
									outlined
									hide-details
									no-resize
									auto-grow
								></v-textarea>
							</div>
						</v-col>

						<v-col md="6">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.text')}}</span>

								<v-textarea
									v-model="$v.innerFormModel.text.$model"
									:error="$v.innerFormModel.text.$error"
									outlined
									hide-details
									no-resize
									auto-grow
								></v-textarea>
							</div>
						</v-col>

						<v-col md="3">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.attach-file')}}</span>

								<v-file-input
									@change="uploadFiles"
									multiple
									prepend-inner-icon="mdi-paperclip"
									prepend-icon=""
									outlined
									hide-details
								></v-file-input>
							</div>
						</v-col>

					</template>


				</v-row>
			</div>

			<template v-if="journal.id === 1">
				<app-button @click="send" depressed class="mt-10">
					<template #prepend>
						<v-icon size="20">mdi-send</v-icon>
					</template>
					<template #default>
						{{$t('document-flow.views.registration.create-document')}}
					</template>
				</app-button>
			</template>
			<template v-if="journal.id === 3">
				<app-button @click="sendInner" depressed class="mt-10">
					<template #prepend>
						<v-icon size="20">mdi-send</v-icon>
					</template>
					<template #default>
						{{$t('document-flow.views.registration.create-document')}}
					</template>
				</app-button>
			</template>
		</div>
	</div>
</template>

<script>
import SearchUsersBelow from "@/common/components/SearchUsersBelow";
import { DownloadIcon, EyeIcon, Trash2Icon } from "vue-feather-icons";
import { required } from "vuelidate/lib/validators";
import { mapActions, mapGetters } from "vuex";

export default {
	name: "Create",
	props: {
		formType: {
			type: String,
			default: ""
		},
		formTitle: {
			type: String,
			default: "Регистрация документа"
		}
	},
	components: {
		SearchUsersBelow,
		Trash2Icon,
		DownloadIcon,
		EyeIcon
	},
	data() {
		return {
			formModel: {
				register_date: (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10),
				register_number: null,
				outgoing_date: "",
				outgoing_number: "",
				correspondent: null,
				doc_type: null,
				description: "",
				documents: [],
				priority: "",
				review_users: [],
				is_created: true,
				__userSelected: [],
			},
			innerFormModel: {
				register_number: null,
				register_date: (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10),
				doc_type: null,
				deadline: "",
				description: "",
				department: null,
				author: null,
				journal: null,
				documents: [],
				signer: null,
				text: ""
			},
			registrationDocumentSearch: null,
			correspondentSearch: null,
			documentTypeSearch: null,
			userSearch: null,
			journal: {}
		}
	},
	validations: {
		formModel: {
			register_date: {required},
			outgoing_date: {required},
			outgoing_number: {required},
			correspondent: {required},
			doc_type: {required},
			description: {required},
			journal: {required},
			priority: {required},
			department: {required},
			author: {required},
			signer: {required},
			text: {required},
			__userSelected: {required},
		},
		innerFormModel: {
			register_number: {required},
			register_date: {required},
			department: {required},
			author: {required},
			signer: {required},
			text: {required},
			doc_type: {required},
			description: {required},
		}
	},
	computed: {
		...mapGetters({
			usersList: "getUsersList",
			correspondentList: "documentFlowModule/getCorrespondent",
			reviewGetOne: "documentFlowModule/getReviewGetOne",
			docTypeList: "documentFlowModule/getDocTypeList",
			journalList: "documentFlowModule/getJournalList",
			reviewUsersList: "documentFlowModule/getReviewUsersList",
			attachDocumentsList: "documentFlowModule/getAttachDocumentsList",
			attachDocumentListID: "documentFlowModule/getAttachDocumentListID",
			departmentList: "documentFlowModule/getDepartmentList",
			authorsList: "documentFlowModule/getUsersBelowList",
		})
	},
	watch: {
		registrationDocumentSearch(value) {
			this.fetchJournalList({
				search: value
			})
		},
		/*
		*
		* */
		correspondentSearch(value) {
			this.fetchCorrespondentList({
				search: value
			})
		},
		/*
		*
		* */
		documentTypeSearch(value) {
			this.fetchDocTypeList({
				search: value
			})
		},
		/*
		*
		* */
		userSearch(value) {
			this.fetchUsersList({
				search: value
			})
		},
	},
	created() {
		this.init()
		this.fetchUsersList({})
		this.fetchDepartmentList()
		this.fetchAuthorsList({})
	},
	mounted() {
		setTimeout(() => {
			this.journal = this.journalList[0];
		}, 1000)
	},
	methods: {
		...mapActions({
			fetchUsersList: "fetchUsersList",
			init: "documentFlowModule/init",
			fetchCorrespondentList: "documentFlowModule/fetchCorrespondentList",
			fetchDocTypeList: "documentFlowModule/fetchDocTypeList",
			fetchJournalList: "documentFlowModule/fetchJournalList",
			fetchAttachFiles: "documentFlowModule/fetchAttachFiles",
			fetchDepartmentList: "documentFlowModule/fetchDepartmentList",
			fetchAuthorsList: "documentFlowModule/fetchUsersBelow"
		}),
		/*
		*
		* */
		uploadFiles(files) {
			this.fetchAttachFiles({
				files,
				incomingDocId: this.$route.params.id
			})
		},
		/*
		*
		* */
		send() {
			this.$v.$touch();

			if (this.$v.$invalid) {
				return;
			}

			let data = {
				...this.formModel,
				documents: this.attachDocumentListID,
				journal: this.journal.id,
				doc_type: this.formModel.doc_type.id,
				correspondent: this.formModel.correspondent.id,
				register_date: `${this.formModel.register_date} ${new Date().getHours()}:${new Date().getMinutes()}`,
				outgoing_date: `${this.formModel.outgoing_date} ${new Date().getHours()}:${new Date().getMinutes()}`,
				review_users: this.formModel.__userSelected.map(item => Object.assign({}, {user: item.id}))
			}

			this.$store.dispatch("documentFlowModule/fetchRegisterIncomingDocument", data)
				.then((response) => {
					console.log('created')

					this.$router.push({
						name: "DocumentFlowRegistration"
					})
				})
		},
		sendInner() {

			let data = {
				...this.innerFormModel,
				documents: this.attachDocumentListID,
				journal: this.journal.id,
				doc_type: this.innerFormModel.doc_type.id,
			}

			this.$store.dispatch("documentFlowModule/fetchRegisterInnerDocument", data)
				.then((response) => {
					console.log('created')

					this.$router.push({
						name: "DocumentFlowRegistration"
					})
				})
		}
	}
}
</script>
