<template>
	<div class="grid-list-type-view">
		<v-row>
			<template >
				<v-col v-for="(item, index) in getIncomingDocumentList" md="3" :key="item.id">
					<router-link :to="{name: 'IncomingDocumentRegistrationFormShow', params: { id: item.id }}" class="text-decoration-none">
						<grid-card :item="{...item, index}" />
					</router-link>
				</v-col>
			</template>
		</v-row>
	</div>
</template>

<script>
import GridCard from "@/common/components/GridCard";

import { mapGetters } from "vuex";

export default {
	name: "GridListType",
	components: {
		GridCard
	},
	computed: {
		...mapGetters({
			getIncomingDocumentList: "documentFlowModule/getIncomingDocumentList"
		})
	}
}
</script>
