<template>
	<div class="document-registration-view d-flex flex-column h-100">
		<app-wrapper>
			<template #body>
				<div class="d-flex align-center ma-n5 py-1 px-4">
					<h3 class="line-base mr-4">{{$t('document-flow.views.registration.document-registration')}}</h3>

					<v-col md="2" class="pa-0 ml-3">
						<!-- journalList.filter(menu => menu.role.includes(currentUser.role)) -->
						<v-select
              :items="journalList.filter(menu => menu.role.includes(currentUser.role))"
							v-model="journal"
							item-text="name"
							item-value="id"
							outlined
							dense
							:placeholder="$t('document-flow.views.registration.document-type')"
							hide-details
							append-icon="mdi-chevron-down"
							background-color="var(--input-bg)"
              @change="changeFilter"
						>
							<template #item="{ item }">
								<router-link
									:to="{name: item.router_link_list}"
									class="p-absolute w-100 h-100 d-flex align-center justify-space-between text-decoration-none small-2 text-dark px-3"
									style="top: 0; left: 0"
								>
									<span>{{ item.name }}</span>

                  <template v-if="item.count">
                    <v-chip
                      color="red"
                      text-color="white"
                      style="transform: scale(0.7)"
                    >
                      {{ item.count }}
                    </v-chip>
                  </template>
								</router-link>
							</template>
						</v-select>
					</v-col>

<!--					<v-spacer/>-->

					<v-list flat dense class="d-flex align-center justify-end flex-1">
            <filter-modal
              :active-route="path"
              @emit:filter="filter"
              @emit:filter:update="filterUpdate"
            />
					</v-list>

					<template v-if="currentUser.role !== 'assistant'">
            <v-menu
              offset-y
            >
              <template v-slot:activator="{ attrs, on }">
                <app-button
                  height="39"
                  color="primary"
                  class="ml-4"
                  v-bind="attrs"
                  v-on="on"
                >
                  <template #prepend>
                    <v-icon size="20">{{ "$vuetify.icons.PlusCircleIcon" }}</v-icon>
                  </template>

                  <template #default>
                    {{$t('document-flow.views.registration.registration')}}
                  </template>
                </app-button>
              </template>

              <v-list>
                <v-list-item
                  v-for="item in registrationList.filter(menu => menu.role.includes(currentUser.role))"
                  :key="item.id"
                  link
                  :to='{ name: item.router_link, params: { id: item.id }}'
                >
                  <v-list-item-title>{{ item.name }}</v-list-item-title>
                </v-list-item>
              </v-list>
            </v-menu>
          </template>
				</div>
			</template>
		</app-wrapper>

		<div class="d-flex mt-5 overflow-hidden w-100 h-100">
			<router-view/>
		</div>
	</div>
</template>

<script>
import FilterModal from "@/common/components/FilterModal"
import { mapActions, mapGetters, mapState } from "vuex"

export default {
	name: "index",
	components: {
		FilterModal
	},
	data() {
		return {
			filterModal: false,
			pathName: "",
			journal: null
		}
	},
	computed: {
    ...mapState({
      filterState: state => state.headerFilter.filter
    }),
    /*
    *
    * */
		...mapGetters({
      currentUser: "auth/getCurrentUser",
			journalList: "documentFlowModule/getNewJournalList",
			baseDocumentFilter: "documentFlowModule/getBaseDocumentFilter",
			getHeaderFilters: "documentFlowModule/getHeaderFilters",
      getPaginationOptions: "getPaginationOptions"
		}),
		/*
		*
		* */
		registrationList() {
			return this.journalList.filter(item => item.id !== 88 && item.id !== 7)
		},
		path(){
			return this.pathName = this.$route.path.split("/")[3];
		}
	},
	beforeMount() {
		this.pathName = this.$route.path.split("/")[3];
	},
  beforeDestroy() {
    this.filterState.register_start_date = null
    this.filterState.register_start_end = null
  },
  mounted() {
	  // this.filterState.register_start_date = new Date().getFullYear() + '-' + (Number(new Date().getMonth()) + 1) + '-01'

    if (this.path === "incoming-documents-list") {
			this.journal = 1
		}
		if (this.path === "inner-documents-list") {
			this.journal = 3
		}
		if (this.path === "outgoing-documents-list") {
			this.journal = 4
		}
		if (this.path === "appeals-list") {
			this.journal = 5
		}
		if (this.path === "orders-and-protocols-list") {
			this.journal = 6
		}
		if (this.path === "applications-list") {
			this.journal = 7
		}
		if (this.path === "filial-documents-list") {
			this.journal = 88
		}

		this.filterActions()
	},
	watch: {
		'getHeaderFilters.search'(val){
			if (this.journal === 1) {
				this.fetchIncomingDocumentList(this.getHeaderFilters)
			}
			if (this.journal === 3) {
				this.fetchInnerDocumentList(this.getHeaderFilters)
			}
			if (this.journal === 4) {
				this.fetchOutgoingDocumentList(this.getHeaderFilters)
			}
			if (this.journal === 5) {
				this.fetchAppealList(this.getHeaderFilters)
			}
			if (this.journal === 6) {
				this.fetchOrderProtocolList(this.getHeaderFilters)
			}
			if (this.journal === 7) {
				this.fetchApplicationsList(this.getHeaderFilters)
			}
			if (this.journal === 88) {
				this.fetchFilialDocumentsList(this.getHeaderFilters)
			}
		},
    /*
    *
    * */
    "$route"(to, from) {
      if(to.name !== from.name) {
        this.setClearFilters({
          query: this.filterState
        })
        .then(() => {
          this.filterActions()
        })
      }
    }
	},
	methods: {
		...mapActions({
			fetchIncomingDocumentList: "documentFlowModule/fetchIncomingDocumentList",
			fetchInnerDocumentList: "documentFlowModule/fetchInnerDocumentList",
			fetchOutgoingDocumentList: "documentFlowModule/fetchOutgoingDocumentList",
			fetchAppealList: "documentFlowModule/fetchAppealList",
			fetchOrderProtocolList: "documentFlowModule/fetchOrderProtocolList",
			fetchFilialDocumentsList: "documentFlowModule/fetchFilialDocumentsList",
			fetchApplicationsList: "documentFlowModule/fetchApplicationsList",
      setClearFilters: "headerFilter/setClearFilters",
		}),
    /*
    *
    * */
    filter() {
      this.filterActions()
    },
    /*
    *
    * */
    filterActions() {
	    delete this.filterState["is_for_signature"]
      delete this.filterState["is_verified"]

      switch (this.path) {
        // Входящий
        case "incoming-documents-list":
          this.fetchIncomingDocumentList(this.filterState)
          break;
        // Внутренний
        case "inner-documents-list":
          this.fetchInnerDocumentList(this.filterState)
          break;
        // Исходящий
        case "outgoing-documents-list":
          this.fetchOutgoingDocumentList(this.filterState)
          break;
        // Обращение
        case "appeals-list":
          this.fetchAppealList(this.filterState)
          break;
        // Приказы и распоряжение
        case "orders-and-protocols-list":
          this.fetchOrderProtocolList(this.filterState)
          break;
	      case "applications-list":
		      this.fetchApplicationsList(this.filterState)
		      break;
	      // Пришедшие
        default:
          this.fetchFilialDocumentsList(this.filterState)
      }
    },
    /*
    *
    * */
    filterUpdate() {
      this.filter()
    },
		/*
		*
		* */
		async changeFilter() {
			// const { filterModal } = this.$refs;
      //
      // await this.$nextTick()
      //
			// filterModal.changeDateFilter();
		},
		/*
		*
		* */
		closeModal(val) {
			this.filterModal = val
		}
	}
}
</script>
