<template>
	<div class="d-flex align-center justify-center h-100">
		<app-loader v-if="getLoading" content-width :size="58" />
		<template v-else>
			<div class="d-flex mt-5 overflow-hidden w-100 h-100" >
				<div class="d-flex flex-column p-relative w-100">
					<div class="d-flex flex-column h-100 bg-4 rounded-20 pa-1 overflow-hidden h-100">
						<perfect-scrollbar class="d-flex flex-column flex-1 h-100">
							<app-table
								bordered
								:table-width="1800"
							>
								<template #tableHeader>
									<th></th>
									<th>{{$t('document-flow.views.registration.status')}}</th>
									<th>{{$t('document-flow.views.registration.registration-number')}}</th>
									<th>{{$t('document-flow.views.registration.registration-date')}}</th>
									<th width="300">{{$t('document-flow.views.registration.correspondent')}}</th>
									<th>{{$t('document-flow.views.registration.outgoing-number')}}</th>
									<th>{{$t('document-flow.views.registration.outgoing-date')}}</th>
									<th>{{$t('document-flow.views.registration.for-consideration')}}</th>
									<th>{{$t('document-flow.views.registration.performers')}}</th>
									<th>{{$t('document-flow.views.registration.document-name')}}</th>
									<th v-if="currentUser.role === 'admin'">{{$t('document-flow.views.registration.action')}}</th>
								</template>
								<template #tableBody>
									<template v-if="getIncomingDocumentList.length">
										<template>
											<tr
												:key="document.id"
												v-for="document in getIncomingDocumentList"
												@click.prevent="canRouteNext('IncomingDocumentRegistrationFormShow', document)"
											>
												<td width="1">
													<app-tooltip top>
														<template #content>
															<div
																class="text-decoration-none"
															>
																<div class="level-block p-relative w-100 h-100">
																	<div
																		class="level-block__before p-absolute rounded-20"
																		:class="[
																					{'error-bg': document.priority === 'high'},
																					{'error-bg': document.priority === 'critical'},
																					{'warning-bg': document.priority === 'medium'},
																					{'success-bg': document.priority === 'low'},
																				]"
																	></div>
																</div>
															</div>
														</template>
														<template #text>
															{{ document.__priorityText }}
														</template>
													</app-tooltip>
													<!--															<span
																													class="font-500"
																													:class="[
																									{'error-text': document.priority === 'high'},
																									{'error-text': document.priority === 'critical'},
																									{'warning-text': document.priority === 'medium'},
																									{'success-text': document.priority === 'low'},
																								]"
																													style="font-size: 13px"
																												>
																							{{ document.__priorityText }}
																						</span>-->
												</td>
												<td>
													<div
														class="text-decoration-none text-dark font-500"
													>
														<div class="status-block d-flex align-center">
															<div
																class="status-badge mr-2 rounded-circle"
																:class="[
																	{'error-bg': document.__status.title === 'TO DO'},
																	{'warning-bg': document.__status.title === 'IN PROGRESS'},
																	{'success-bg': document.__status.title === 'DONE'},
																]"
															></div>
															<span class="font-500" style="font-size: 13px;">{{ document.__status.title }}</span>
														</div>
													</div>
												</td>
												<td>
													<div
														class="text-decoration-none text-dark font-500"
													>
														<div class="d-flex">
															<span class="d-inline-block mr-1">{{ document.register_number }}</span>

															<app-tooltip top>
																<template #content>
																	<span>{{ document.delivery_type && document.delivery_type.name.substring(0, 2) }}</span>
																</template>
																<template #text>
																	<span>{{ document.delivery_type && document.delivery_type.name }}</span>
																</template>
															</app-tooltip>
														</div>
													</div>
												</td>
												<td>
													<div
														class="text-decoration-none text-dark font-500"
													>
														{{ document.register_date | filterCalendarToTime }}
													</div>
												</td>
												<td>
													<v-tooltip top>
														<template v-slot:activator="{ on, attrs }">
															<span
																v-bind="attrs"
																v-on="on"
															>
																<span
																	class="text-decoration-none text-dark font-500 line-truncate"
																>
																	{{ document.correspondent && document.correspondent.organization_name }}
																</span>
															</span>
														</template>

														<span>{{ document.correspondent && document.correspondent.organization_name }}</span>
													</v-tooltip>
												</td>
												<td>
													<div
														class="text-decoration-none text-dark font-500"
													>
														{{ document.outgoing_number }}
													</div>
												</td>
												<td>
													<div
														class="text-decoration-none text-dark font-500"
													>
														{{ document.outgoing_date | filterCalendarToTime }}
													</div>
												</td>
												<td>
													<div
														class="text-decoration-none text-dark font-500"
													>
														<app-avatar-group v-if="document.review_users.length" list-type="review_users" :avatar-list="document.review_users" />
													</div>
												</td>
												<td>
													<div
														class="text-decoration-none text-dark font-500"
													>
														<app-avatar-group list-type="signers" v-if="document.assignees" :avatar-list="document.assignees" />
													</div>
												</td>

												<td>
													<div
														class="text-decoration-none text-dark font-500"
													>
														{{ document.title && document.title }}
													</div>
												</td>

												<td v-if="currentUser.role === 'admin'" class="text-center">
													<app-button
														@click.prevent="deleteRow($event, document.id)"
														icon
														min-width="40"
														width="40"
														height="40"
														color="var(--primary-4)"
													>
														<trash2-icon size="18" />
													</app-button>
												</td>
											</tr>
										</template>
									</template>

									<template v-else>
										<tr class="table-not-found">
											<td colspan="12">
												<div class="pa-4 text-center">
													<h2 class="font-600">{{$t('document-flow.views.registration.nothing-yet')}}</h2>
												</div>
											</td>
										</tr>
									</template>
								</template>
							</app-table>
						</perfect-scrollbar>

						<div class="d-flex align-center justify-space-between py-2 px-4 border-top">
              <span class="small-2 font-500 text-dark">
<!--                1-10 из 195 позиций-->
              </span>

							<app-pagination @emit:up="paginate" />
						</div>
					</div>
				</div>
			</div>
		</template>

<!--    <pre>{{ filteredState }}</pre>-->
	</div>
</template>

<script>
import { TABLE_HEAD_TEXT_LIST } from "@/common/constants";
import { selectFromList } from "@/common/helpers";

import { MoreVerticalIcon, Trash2Icon } from "vue-feather-icons";
import { mapActions, mapGetters, mapState } from "vuex";

export default {
	name: "TableListType",
	components: {
		MoreVerticalIcon,
		Trash2Icon
	},
	data() {
		return {
			correspondentSearch: null,
			filterModal: false,
		}
	},
	computed: {
    ...mapState({
      filteredState: state => state.headerFilter.filteredState,
      filterPagination: state => state.headerFilter.pagination,
    }),
    /*
    *
    * */
		...mapGetters({
			getLoading: "documentFlowModule/getIsListLoading",
			currentUser: "auth/getCurrentUser",
			getIncomingDocumentList: "documentFlowModule/getIncomingDocumentList",
			docTypeCorrespondList: "documentFlowModule/getDocTypeCorrespondList",
			getHeaderFilters: "documentFlowModule/getHeaderFilters",
		}),
		/**/
		correspondentList() {
			return this.docTypeCorrespondList.filter(item => item.type === 'correspondent')
		},
		/*
		*
		* */
		tableListSelect() {
			return selectFromList([20, 21, 2, 3, 4, 5, 6, 9, 11, 12, 19], TABLE_HEAD_TEXT_LIST)
		},
		/**/
		firstDayOfMonth(){
			let month = new Date().getMonth() + 1
			if (month < 10){
				month = "0" + month
			}
			return new Date().getFullYear() + "-" + month + "-01"
		}
	},
	watch: {
		correspondentSearch(value) {
			this.fetchDocTypeCorrespondList({
				search: value
			})
		}
	},
	created() {
		if (this.currentUser.role === 'department_employee' || this.currentUser.role === 'hr_manager'){
			this.$router.push({
				name: "InnerIndex",
				replace: true
			}).catch(() => {})
		}
		// this.fetchIncomingDocumentList({
		// 	register_start_date: this.firstDayOfMonth
		// });
		this.fetchDocTypeCorrespondList();

	},
	// beforeDestroy() {
	// 	this.fetchClearHeaderFilter()
	// },
	methods: {
		...mapActions({
			fetchDocTypeCorrespondList: "documentFlowModule/fetchDocTypeCorrespondList",
			fetchIncomingDocumentList: "documentFlowModule/fetchIncomingDocumentList",
			fetchDeleteRow: "documentFlowModule/deleteRow",
			fetchClearHeaderFilter: "documentFlowModule/fetchClearHeaderFilter",
		}),
		/*
		*
		* */
		deleteRow(event ,id) {
			event.stopImmediatePropagation();
			if(!confirm(this.$t('document-flow.views.registration.delete-description'))) {
				return
			}

			let payload = {
				apiUrl: `/docflow/${this.$store.getters['auth/getCurrentUser'].filial}/incoming/${id}/`
			}

			this.fetchDeleteRow(payload)
				.then(() => {
				this.$toast.success(this.$t('document-flow.views.registration.deleted'));
				this.fetchIncomingDocumentList(this.filteredState)
			})
			// .catch((error) => {
			// 	this.$toast.error(error.data.detail)
			// })
		},
		/*
		*
		* */
		clearFilter() {
			const { form } = this.$refs

			form.reset()
		},
		/*
		*
		* */
		paginate(value) {
      let query = {
        ...this.filteredState,
        page: value,
        // register_start_date: this.getHeaderFilters.register_start_date
      }

      this.filterPagination.page = value

      this.$router.replace({
        query: query
      }).catch(() => {})

      this.fetchIncomingDocumentList({
        ...query
      })
		},
    /*
    *
    * */
    canRouteNext(route, params) {
      // if(this.currentUser.role === 'call_center') {
      //   return false
      // }

      this.$router.push({
        name: route,
        params: { id: params.id }
      })
    }
	}
}
</script>
