<template>
  <div class="documents-widget">
    <div class="document-widget-item mb-5">
      <div class="d-flex flex-column shadow-6 rounded-10 bg-white pa-5 p-relative overflow-hidden">
        <template v-if="documentWidgetLoading">
          <app-loader content-width />
        </template>

        <template v-else>
          <h4 class="small-1 font-600 mb-5">{{$t('document-flow.views.statistics.assignment')}}</h4>

          <v-row align="center">
            <v-col md="3">
              <span class="text-7 small-2 d-block font-500">{{$t('document-flow.views.statistics.to-do')}}</span>
            </v-col>

            <v-col md="7">
              <v-progress-linear
                :value="parseValuesToPercent('TO DO')"
                height="8"
                rounded
              ></v-progress-linear>
            </v-col>

            <v-col md="2">
              <span class="text-7 small-2 d-block font-500 text-dark text-right">{{ documentWidget["TO DO"] }}</span>
            </v-col>
            <!-- ============================ -->

            <v-col md="3">
              <span class="text-7 small-2 d-block font-500">{{$t('document-flow.views.statistics.in-progress')}}</span>
            </v-col>

            <v-col md="7">
              <v-progress-linear
                :value="parseValuesToPercent('IN PROGRESS')"
                height="8"
                rounded
              ></v-progress-linear>
            </v-col>

            <v-col md="2">
              <span class="text-7 small-2 d-block font-500 text-dark text-right">{{ documentWidget["IN PROGRESS"] }}</span>
            </v-col>
            <!-- ============================ -->

            <v-col md="3">
              <span class="text-7 small-2 d-block font-500">{{$t('document-flow.views.statistics.waiting')}}</span>
            </v-col>

            <v-col md="7">
              <v-progress-linear
                :value="parseValuesToPercent('ON HOLD')"
                height="8"
                rounded
              ></v-progress-linear>
            </v-col>

            <v-col md="2">
              <span class="text-7 small-2 d-block font-500 text-dark text-right">{{ documentWidget["ON HOLD"] }}</span>
            </v-col>
            <!-- ============================ -->

            <v-col md="3">
              <span class="text-7 small-2 d-block font-500">{{$t('document-flow.views.statistics.for-signature')}}</span>
            </v-col>

            <v-col md="7">
              <v-progress-linear
                :value="parseValuesToPercent('FOR SIGNATURE')"
                height="8"
                rounded
              ></v-progress-linear>
            </v-col>

            <v-col md="2">
              <span class="text-7 small-2 d-block font-500 text-dark text-right">{{ documentWidget["FOR SIGNATURE"] }}</span>
            </v-col>
            <!-- ============================ -->

            <v-col md="3">
              <span class="text-7 small-2 d-block font-500">{{$t('document-flow.views.statistics.done')}}</span>
            </v-col>

            <v-col md="7">
              <v-progress-linear
                :value="parseValuesToPercent('DONE')"
                height="8"
                rounded
              ></v-progress-linear>
            </v-col>

            <v-col md="2">
              <span class="text-7 small-2 d-block font-500 text-dark text-right">{{ documentWidget["DONE"] }}</span>
            </v-col>
          </v-row>
        </template>
      </div>
    </div>

    <div class="document-widget-item mb-5">
      <div class="d-flex flex-column shadow-6 rounded-10 bg-white pa-5 p-relative overflow-hidden">
        <template v-if="documentWidgetReviewLoading">
          <app-loader content-width />
        </template>

        <template v-else>
          <h4 class="small-1 font-600 mb-5">{{$t('document-flow.views.statistics.for-consideration')}}</h4>

          <v-row align="center">
            <v-col md="3">
              <span class="text-7 small-2 d-block font-500">{{$t('document-flow.views.statistics.to-do')}}</span>
            </v-col>

            <v-col md="7">
              <v-progress-linear
                :value="parseValuesToPercentReview('TO DO')"
                height="8"
                rounded
              ></v-progress-linear>
            </v-col>

            <v-col md="2">
              <span class="text-7 small-2 d-block font-500 text-dark text-right">{{ documentWidgetReview["TO DO"] }}</span>
            </v-col>
            <!-- ============================ -->

            <v-col md="3">
              <span class="text-7 small-2 d-block font-500">{{$t('document-flow.views.statistics.in-progress')}}</span>
            </v-col>

            <v-col md="7">
              <v-progress-linear
                :value="parseValuesToPercentReview('IN PROGRESS')"
                height="8"
                rounded
              ></v-progress-linear>
            </v-col>

            <v-col md="2">
              <span class="text-7 small-2 d-block font-500 text-dark text-right">{{ documentWidgetReview["IN PROGRESS"] }}</span>
            </v-col>
            <!-- ============================ -->

            <v-col md="3">
              <span class="text-7 small-2 d-block font-500">{{$t('document-flow.views.statistics.waiting')}}</span>
            </v-col>

            <v-col md="7">
              <v-progress-linear
                :value="parseValuesToPercentReview('ON HOLD')"
                height="8"
                rounded
              ></v-progress-linear>
            </v-col>

            <v-col md="2">
              <span class="text-7 small-2 d-block font-500 text-dark text-right">{{ documentWidgetReview["ON HOLD"] }}</span>
            </v-col>
            <!-- ============================ -->

            <v-col md="3">
              <span class="text-7 small-2 d-block font-500">{{$t('document-flow.views.statistics.for-signature')}}</span>
            </v-col>

            <v-col md="7">
              <v-progress-linear
                :value="parseValuesToPercentReview('FOR SIGNATURE')"
                height="8"
                rounded
              ></v-progress-linear>
            </v-col>

            <v-col md="2">
              <span class="text-7 small-2 d-block font-500 text-dark text-right">{{ documentWidgetReview["FOR SIGNATURE"] }}</span>
            </v-col>
            <!-- ============================ -->

            <v-col md="3">
              <span class="text-7 small-2 d-block font-500">{{$t('document-flow.views.statistics.done')}}</span>
            </v-col>

            <v-col md="7">
              <v-progress-linear
                :value="parseValuesToPercentReview('DONE')"
                height="8"
                rounded
              ></v-progress-linear>
            </v-col>

            <v-col md="2">
              <span class="text-7 small-2 d-block font-500 text-dark text-right">{{ documentWidgetReview["DONE"] }}</span>
            </v-col>
          </v-row>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex"

export default {
  computed: {
    ...mapState({
      documentWidgetLoading: state => state.documentStatistic.documentWidgetLoading,
      documentWidget: state => state.documentStatistic.documentWidget,
      documentWidgetReviewLoading: state => state.documentStatistic.documentWidgetReviewLoading,
      documentWidgetReview: state => state.documentStatistic.documentWidgetReview,
    })
  },
  mounted() {
    this.fetchDocumentWidgetList()
    this.fetchDocumentWidgetReviewList()
  },
  methods: {
    ...mapActions({
      fetchDocumentWidgetList: "documentStatistic/fetchDocumentWidgetList",
      fetchDocumentWidgetReviewList: "documentStatistic/fetchDocumentWidgetReviewList",
    }),
    /*
    *
    * */
    parseValuesToPercent(key) {
      return parseFloat((this.documentWidget[key] / (this.documentWidget.total_count >= 1 ? this.documentWidget.total_count : 1)).toPrecision(2) * 100)
    },
    /*
    *
    * */
    parseValuesToPercentReview(key) {
      return parseFloat((this.documentWidgetReview[key] / (this.documentWidgetReview.total_count >= 1 ? this.documentWidgetReview.total_count : 1)).toPrecision(2) * 100)
    }
  }
}
</script>

<style>

</style>
