<template>
  <div class="statistic-chart-view">
    <div class="d-flex flex-column shadow-6 rounded-10 bg-white pa-5 p-relative overflow-hidden">
			<template v-if="statisticChartLoading">
				<app-loader content-width />
			</template>

			<template v-else>
				<div class="d-flex align-center">
          <h4 class="small-1 font-600">{{$t('document-flow.views.statistics.annual-turnover-documents')}}</h4>

          <v-spacer />

					<div class="d-flex">
						<div class="mr-6">
							<v-sheet
								height="4"
								width="50%"
								color="var(--primary-3)"
								rounded
							>
							</v-sheet>
							<span class="small-3 font-500">{{$t('document-flow.views.statistics.incoming')}}</span>
						</div>

						<div class="mr-6">
							<v-sheet
								height="4"
								width="50%"
								color="var(--primary-2)"
								rounded
							>
							</v-sheet>
							<span class="small-3 font-500">{{$t('document-flow.views.statistics.internal')}}</span>
						</div>

						<div class="mr-6">
							<v-sheet
								height="4"
								width="50%"
								color="var(--primary-4)"
								rounded
							>
							</v-sheet>
							<span class="small-3 font-500">{{$t('document-flow.views.statistics.outgoing')}}</span>
						</div>

						<div class="mr-6">
							<v-sheet
								height="4"
								width="50%"
								color="var(--primary-1)"
								rounded
							>
							</v-sheet>
							<span class="small-3 font-500">{{$t('document-flow.views.statistics.orders-and-directives')}}</span>
						</div>

            <div>
              <v-sheet
                height="4"
                width="50%"
                color="#FF62A5"
                rounded
              >
              </v-sheet>
              <span class="small-3 font-500">{{$t('document-flow.views.statistics.appeal')}}</span>
            </div>
					</div>
        </div>

				<apexchart
          ref="chart"
          type="line"
          height="350"
          :options="chartOptions"
          :series="chartSeriesList"
        ></apexchart>
			</template>
		</div>
  </div>
</template>

<script>
import { currentDate } from "@/common/helpers"
import { mapActions, mapState } from "vuex"

export default {
	data() {
		return {
			loading: false,
      chartOptions: {
        colors: ["#FFAB00", "#38CB89", "#FF5630", "#5964D1", "#FF62A5"],
        chart: {
          height: 350,
          type: 'area',
          redrawOnParentResize: true,
          zoom: {
            enabled: false
          },
          toolbar: {
            show: false
          }
        },
        dataLabels: {
          enabled: false
        },
        legend: {
          show: false
        },
        stroke: {
          width: [3, 3, 3, 3, 3],
            curve: 'smooth',
        },
        markers: {
          size: 0,
            hover: {
            sizeOffset: 6
          }
        },
        xaxis: {
          categories: [this.$t('document-flow.views.statistics.january'), this.$t('document-flow.views.statistics.february'), this.$t('document-flow.views.statistics.march'), this.$t('document-flow.views.statistics.april'), this.$t('document-flow.views.statistics.may'), this.$t('document-flow.views.statistics.june'), this.$t('document-flow.views.statistics.july'), this.$t('document-flow.views.statistics.august'), this.$t('document-flow.views.statistics.september'),
            this.$t('document-flow.views.statistics.october'), this.$t('document-flow.views.statistics.november'), this.$t('document-flow.views.statistics.december')
          ],
        },
        yaxis: {
          axisBorder: {
            show: true,
              color: 'rgb(224, 224, 224)',
              offsetX: 0,
              offsetY: 0
          },
        },
        tooltip: {
          x: {
            show: true,
              formatter: function (val, options) {
              return `${options.w.globals.categoryLabels[options.dataPointIndex]} - Общая количество
                  ${options.w.config.series.reduce((acc, { data }) => acc + data[options.dataPointIndex], 0)}
                `
            },
          },
          y: [
            {
              title: {
                formatter: function (val) {
                  return val
                }
              }
            },
            {
              title: {
                formatter: function (val) {
                  return val
                }
              }
            },
            {
              title: {
                formatter: function (val) {
                  return val;
                }
              }
            }
          ]
        },
        grid: {
          borderColor: '#f1f1f1',
        }
      }
		}
	},
  computed: {
    ...mapState({
      statisticChartLoading: state => state.documentStatistic.statisticChartLoading,
      statisticChart: state => state.documentStatistic.statisticChart,
      chartSeriesList: state => state.documentStatistic.chartSeriesList,
      chartRef: state => state.documentStatistic.chartRef,
    })
  },
  mounted() {
	  this.fetchStatisticChart({
      date: currentDate
    })
    .then(() => {
      const { chart } = this.$refs

      this.setChartRef(chart)
    })
  },
  beforeDestroy() {
	  this.resetChartSeriesList()
  },
  watch: {
    '$i18n.locale': {
      handler() {
        this.chartOptions = {
          colors: ["#FFAB00", "#38CB89", "#FF5630", "#5964D1", "#FF62A5"],
          chart: {
            height: 350,
            type: 'area',
            redrawOnParentResize: true,
            zoom: {
              enabled: false
            },
            toolbar: {
              show: false
            }
          },
          dataLabels: {
            enabled: false
          },
          legend: {
            show: false
          },
          stroke: {
            width: [3, 3, 3, 3, 3],
              curve: 'smooth',
          },
          markers: {
            size: 0,
              hover: {
              sizeOffset: 6
            }
          },
          xaxis: {
            categories: [this.$t('document-flow.views.statistics.january'), this.$t('document-flow.views.statistics.february'), this.$t('document-flow.views.statistics.march'), this.$t('document-flow.views.statistics.april'), this.$t('document-flow.views.statistics.may'), this.$t('document-flow.views.statistics.june'), this.$t('document-flow.views.statistics.july'), this.$t('document-flow.views.statistics.august'), this.$t('document-flow.views.statistics.september'),
              this.$t('document-flow.views.statistics.october'), this.$t('document-flow.views.statistics.november'), this.$t('document-flow.views.statistics.december')
            ],
          },
          yaxis: {
            axisBorder: {
              show: true,
                color: 'rgb(224, 224, 224)',
                offsetX: 0,
                offsetY: 0
            },
          },
          tooltip: {
            x: {
              show: true,
                formatter: function (val, options) {
                return `${options.w.globals.categoryLabels[options.dataPointIndex]} - Общая количество
                    ${options.w.config.series.reduce((acc, { data }) => acc + data[options.dataPointIndex], 0)}
                  `
              },
            },
            y: [
              {
                title: {
                  formatter: function (val) {
                    return val
                  }
                }
              },
              {
                title: {
                  formatter: function (val) {
                    return val
                  }
                }
              },
              {
                title: {
                  formatter: function (val) {
                    return val;
                  }
                }
              }
            ]
          },
          grid: {
            borderColor: '#f1f1f1',
          }
        }
      }
    }
  },
  methods: {
    ...mapActions({
      fetchStatisticChart: "documentStatistic/fetchStatisticChart",
      setChartRef: "documentStatistic/setChartRef",
      resetChartSeriesList: "documentStatistic/resetChartSeriesList",
    }),
  }
}
</script>

<style>

</style>
