<template>
  <div class="statistic-card-view">
    <div class="statistic-card-wrap d-flex grid-gap-md">
      <!-- Входящий (incoming) -->
      <div class="statistic-card--item">
        <div
          class="d-flex flex-column shadow-6 rounded-10 bg-white pa-5 p-relative overflow-hidden"
          style="background: var(--secondary-3)"
        >
          <template v-if="statisticCardsLoading">
            <app-loader content-width />
          </template>

          <template v-else>
            <div>
              <h4 class="small-2 font-600 mb-4">{{$t('document-flow.views.statistics.incoming')}}</h4>

              <h2 class="heading-7 font-600">{{ statisticCards.incoming.count | formatNumber }}</h2>

              <div class="mt-4 mb-5">
                <img
                  v-if="statisticCards.incoming.direction === 'increase'"
                  src="/img/icons/statistic-up.svg"
                  alt="Svg icon"
                  class="d-block"
                />

                <img
                  v-else
                  src="/img/icons/statistic-down.svg"
                  alt="Svg icon"
                  class="d-block"
                />
              </div>

              <span class="d-block text-dark-grey small-2 font-500">
                <template v-if="$i18n.locale === 'uz'">
                  O’tgan oyga nisbatan {{ statisticCards.incoming.percentage }} {{ statisticCards.incoming.direction === 'increase' ? 'o’sish' : 'kamayish' }}
                </template>
                <template>
                  {{ statisticCards.incoming.percentage }} {{ statisticCards.incoming.direction === 'increase' ? 'увеличение' : 'снижение' }} по сравнению с прошлым месяцем
                </template>
              </span>

              <div class="card-arrow warning-bg p-absolute d-flex align-center justify-center">
                <arrow-right-icon class="d-block text-white" size="20" />
              </div>
            </div>
          </template>
        </div>
      </div>

      <!-- Внутренний (inner) -->
      <div class="statistic-card--item">
        <div
          class="d-flex flex-column shadow-6 rounded-10 bg-white pa-5 p-relative overflow-hidden"
          style="background: var(--secondary-2)"
        >
          <template v-if="statisticCardsLoading">
            <app-loader content-width />
          </template>

          <template v-else>
            <div>
              <h4 class="small-2 font-600 mb-4">{{$t('document-flow.views.statistics.internal')}}</h4>

              <h2 class="heading-7 font-600">{{ statisticCards.inner.count | formatNumber }}</h2>

              <div class="mt-4 mb-5">
                <img
                  v-if="statisticCards.inner.direction === 'increase'"
                  src="/img/icons/statistic-up.svg"
                  alt="Svg icon"
                  class="d-block"
                />

                <img
                  v-else
                  src="/img/icons/statistic-down.svg"
                  alt="Svg icon"
                  class="d-block"
                />
              </div>

              <span class="d-block text-dark-grey small-2 font-500">
                <template v-if="$i18n.locale === 'uz'">
                  O’tgan oyga nisbatan {{ statisticCards.inner.percentage }} {{ statisticCards.inner.direction === 'increase' ? 'o’sish' : 'kamayish' }}
                </template>
                <template>
                  {{ statisticCards.inner.percentage }} {{ statisticCards.inner.direction === 'increase' ? 'увеличение' : 'снижение' }} по сравнению с прошлым месяцем
                </template>
              </span>

              <div class="card-arrow success-bg p-absolute d-flex align-center justify-center">
                <arrow-right-icon class="d-block text-white" size="20" />
              </div>
            </div>
          </template>
        </div>
      </div>

      <!-- Исходящий (outgoing) -->
      <div class="statistic-card--item">
        <div
          class="d-flex flex-column shadow-6 rounded-10 bg-white pa-5 p-relative overflow-hidden"
          style="background: var(--secondary-4)"
        >
          <template v-if="statisticCardsLoading">
            <app-loader content-width />
          </template>

          <template v-else>
            <div>
              <h4 class="small-2 font-600 mb-4">{{$t('document-flow.views.statistics.outgoing')}}</h4>

              <h2 class="heading-7 font-600">{{ statisticCards.outgoing.count | formatNumber }}</h2>

              <div class="mt-4 mb-5">
                <img
                  v-if="statisticCards.outgoing.direction === 'increase'"
                  src="/img/icons/statistic-up.svg"
                  alt="Svg icon"
                  class="d-block"
                />

                <img
                  v-else
                  src="/img/icons/statistic-down.svg"
                  alt="Svg icon"
                  class="d-block"
                />
              </div>

              <span class="d-block text-dark-grey small-2 font-500">
                <template v-if="$i18n.locale === 'uz'">
                  O’tgan oyga nisbatan {{ statisticCards.outgoing.percentage }} {{ statisticCards.outgoing.direction === 'increase' ? 'o’sish' : 'kamayish' }}
                </template>
                <template>
                  {{ statisticCards.outgoing.percentage }} {{ statisticCards.outgoing.direction === 'increase' ? 'увеличение' : 'снижение' }} по сравнению с прошлым месяцем
                </template>
              </span>

              <div class="card-arrow error-bg p-absolute d-flex align-center justify-center">
                <arrow-right-icon class="d-block text-white" size="20" />
              </div>
            </div>
          </template>
        </div>
      </div>

      <!-- Приказы и распоряжения (order_protocol) -->
      <div class="statistic-card--item">
        <div
          class="d-flex flex-column shadow-6 rounded-10 bg-white pa-5 p-relative overflow-hidden"
          style="background: var(--secondary-1)"
        >
          <template v-if="statisticCardsLoading">
            <app-loader content-width />
          </template>

          <template v-else>
            <div>
              <h4 class="small-2 font-600 mb-4">{{$t('document-flow.views.statistics.orders-and-directives')}}</h4>

              <h2 class="heading-7 font-600">{{ statisticCards.order_protocol.count | formatNumber }}</h2>

              <div class="mt-4 mb-5">
                <img
                  v-if="statisticCards.order_protocol.direction === 'increase'"
                  src="/img/icons/statistic-up.svg"
                  alt="Svg icon"
                  class="d-block"
                />

                <img
                  v-else
                  src="/img/icons/statistic-down.svg"
                  alt="Svg icon"
                  class="d-block"
                />
              </div>

              <span class="d-block text-dark-grey small-2 font-500">
                <template v-if="$i18n.locale === 'uz'">
                  O’tgan oyga nisbatan {{ statisticCards.order_protocol.percentage }} {{ statisticCards.order_protocol.direction === 'increase' ? 'o’sish' : 'kamayish' }}
                </template>
                <template>
                  {{ statisticCards.order_protocol.percentage }} {{ statisticCards.order_protocol.direction === 'increase' ? 'увеличение' : 'снижение' }} по сравнению с прошлым месяцем
                </template>
              </span>

              <div class="card-arrow primary-bg p-absolute d-flex align-center justify-center">
                <arrow-right-icon class="d-block text-white" size="20" />
              </div>
            </div>
          </template>
        </div>
      </div>

      <!-- Обращение (appeals) -->
      <div class="statistic-card--item">
        <div
          class="d-flex flex-column shadow-6 rounded-10 bg-white pa-5 p-relative overflow-hidden"
          style="background: rgba(255, 98, 165, 0.1)"
        >
          <template v-if="statisticCardsLoading">
            <app-loader content-width />
          </template>

          <template v-else>
            <div>
              <h4 class="small-2 font-600 mb-4">{{$t('document-flow.views.statistics.appeal')}}</h4>

              <h2 class="heading-7 font-600">{{ statisticCards.appeal.count | formatNumber }}</h2>

              <div class="mt-4 mb-5">
                <img
                  v-if="statisticCards.appeal.direction === 'increase'"
                  src="/img/icons/statistic-up.svg"
                  alt="Svg icon"
                  class="d-block"
                />

                <img
                  v-else
                  src="/img/icons/statistic-down.svg"
                  alt="Svg icon"
                  class="d-block"
                />
              </div>

              <span class="d-block text-dark-grey small-2 font-500">
                <template v-if="$i18n.locale === 'uz'">
                  O’tgan oyga nisbatan {{ statisticCards.appeal.percentage }} {{ statisticCards.appeal.direction === 'increase' ? 'o’sish' : 'kamayish' }}
                </template>
                <template>
                  {{ statisticCards.appeal.percentage }} {{ statisticCards.appeal.direction === 'increase' ? 'увеличение' : 'снижение' }} по сравнению с прошлым месяцем
                </template>
              </span>

              <div class="card-arrow p-absolute d-flex align-center justify-center" style="background-color: #FF62A5">
                <arrow-right-icon class="d-block text-white" size="20" />
              </div>
            </div>
          </template>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { ArrowRightIcon } from 'vue-feather-icons'
import { mapActions, mapState } from "vuex"

export default {
  components: {
    ArrowRightIcon
  },
  data() {
    return {
      loading: false
    }
  },
  computed: {
    ...mapState({
      statisticCardsLoading: state => state.documentStatistic.statisticCardsLoading,
      statisticCards: state => state.documentStatistic.statisticCards,
    })
  },
  mounted() {
    this.fetchStatisticCardsList()
  },
  methods: {
    ...mapActions({
      fetchStatisticCardsList: "documentStatistic/fetchStatisticCardsList"
    })
  }
}
</script>

<style>
.card-arrow {
  top: 0;
  right: 0;
  width: 60px;
  height: 40px;
  border-bottom-left-radius: 20px;
}

.statistic-card--item {
  flex: 1;
}

@media (max-width: 1500px) {
  .statistic-card-wrap {
    flex-wrap: wrap;
  }

  .statistic-card--item {
    width: calc(33.3333% - 15px);
    flex: initial;
  }
}

@media (max-width: 992px) {
  .statistic-card--item {
    width: 100%;
    flex: initial;
  }
}
</style>
