<template>
  <v-dialog
    v-model="dialog"
    max-width="440"
    content-class="reset-dialog-style"
    @click:outside="step = 'created-passcode-change-form'"
  >
    <div class="bg-white rounded-20 pa-10 p-relative">
      <app-button
        color="error"
        icon
        min-width="35"
        height="35"
        width="35"
        class="p-absolute"
        style="top: 10px; right: 10px"
        @click="dialog = false; step = 'created-passcode-change-form'"
      >
        <x-icon />
      </app-button>

      <template v-if="step === 'created-passcode-change-form'">
        <created-passcode-change-form
          @emit:next="nextStep"
        />
      </template>

      <template v-if="step === 'set-new-passcode-form'">
        <set-new-passcode-form
          @emit:next="nextStep"
          @emit:hideModal="hideModal"
        />
      </template>
    </div>
  </v-dialog>
</template>

<script>
import { XIcon } from "vue-feather-icons"

import CreatedPasscodeChangeForm from "./CreatedPasscodeChangeForm"
import SetNewPasscodeForm from "./SetNewPasscodeForm"

export default {
  name: "CreatedPasscodeModal",
  components: {
    XIcon,
    CreatedPasscodeChangeForm,
    SetNewPasscodeForm
  },
  data() {
    return {
      dialog: false,
      step: "created-passcode-change-form"
    }
  },
  methods: {
    nextStep(value) {
      this.step = value
    },
    /*
    *
    * */
    hideModal(value) {
      this.dialog = value
    }
  }
}
</script>
