<template>
  <div>
    <p class="font-500 heading-10">{{$t('user-profile.components.change-password')}}</p>

    <div class="text-center mt-8">
      <v-form @submit.prevent="send">
        <div class="app-input mb-6">
          <span class="d-block font-600 small-2 mb-2 text-7 text-left">{{$t('user-profile.components.enter-current-password')}}</span>

          <v-text-field
            v-model="$v.passcode.$model"
            :error="$v.passcode.$error"
            :append-icon="passcodeShow ? 'mdi-eye' : 'mdi-eye-off'"
            :type="passcodeShow ? 'text' : 'password'"
            outlined
            background-color="var(--input-bg)"
            autofocus
            hide-details
            @click:append="passcodeShow = !passcodeShow"
          />
        </div>

        <span class="font-500 small-2 d-block mb-8">{{$t('user-profile.components.password-note')}}</span>

        <app-button type="submit">
          {{$t('user-profile.components.change')}}
        </app-button>
      </v-form>
    </div>
  </div>
</template>

<script>
import AES256 from "aes-everywhere"
import { required } from "vuelidate/lib/validators"
import { mapActions } from "vuex"

export default {
  name: "CreatedPasscodeChangeForm",
  data() {
    return {
      passcode: "",
      passcodeShow: ""
    }
  },
  validations: {
    passcode: { required }
  },
  methods: {
    ...mapActions({
    }),
    /*
    *
    * */
    send() {
      this.$v.$touch();

      if (this.$v.$invalid) {
        return;
      }

      let model = AES256.encrypt(this.passcode, 'd3ad5b824759ab7dc80c5a9f9527989c');

      this.$http.post(`/user/check/passcode/`, {
        passcode: model
      })
      .then(() => {
        this.$emit('emit:next', 'set-new-passcode-form')
      })
      .catch(() => {
        this.$toast.error(this.$t('user-profile.components.password-incorrect'))
      })
    }
  }
}
</script>
