<template>
  <v-dialog
    v-model="dialog"
    max-width="440"
    content-class="reset-dialog-style"
  >
    <div class="bg-white rounded-20 pa-10 p-relative">
      <app-button
        color="error"
        icon
        min-width="35"
        height="35"
        width="35"
        class="p-absolute"
        style="top: 10px; right: 10px"
        @click="dialog = false"
      >
        <x-icon />
      </app-button>

      <create-passcode-form />
    </div>
  </v-dialog>
</template>

<script>
import { XIcon } from "vue-feather-icons"

import CreatePasscodeForm from "./CreatePasscodeForm"

export default {
  name: "CreateNewPasscodeModal",
  components: {
    XIcon,
    CreatePasscodeForm
  },
  data() {
    return {
      dialog: false
    }
  }
}
</script>
