<template>
  <div>
    <p class="font-500 heading-10">{{$t('user-profile.components.code-password')}}</p>

    <div class="text-center mt-8">
      <v-form @submit.prevent="send">
        <div class="app-input mb-6">
          <span class="d-block font-600 small-2 mb-2 text-7 text-left">{{$t('user-profile.components.enter-password')}}</span>

          <v-text-field
            v-model="$v.passcode.$model"
            :error="$v.passcode.$error"
            :append-icon="passcodeShow ? 'mdi-eye' : 'mdi-eye-off'"
            :type="passcodeShow ? 'text' : 'password'"
            outlined
            background-color="var(--input-bg)"
            autofocus
            hide-details
            @click:append="passcodeShow = !passcodeShow"
          />
        </div>

        <div class="app-input">
          <span class="d-block font-600 small-2 mb-2 text-7 text-left">{{$t('user-profile.components.repeat-password')}}</span>

          <v-text-field
            v-model="$v.repeatPassword.$model"
            :error="$v.repeatPassword.$error"
            :append-icon="repeatPasswordShow ? 'mdi-eye' : 'mdi-eye-off'"
            :type="repeatPasswordShow ? 'text' : 'password'"
            outlined
            background-color="var(--input-bg)"
            :error-messages="$v.repeatPassword.$error ? $t('user-profile.components.password-not-match') : ''"
            @click:append="repeatPasswordShow = !repeatPasswordShow"
          />
        </div>

        <h3 class="font-500 heading-10 mb-3 pt-2">{{$t('user-profile.components.create-new-password')}}</h3>

        <span class="font-500 small-2 d-block mb-8">{{$t('user-profile.components.password-note')}}</span>

        <app-button type="submit">
          {{$t('user-profile.components.create-password')}}
        </app-button>
      </v-form>
    </div>
  </div>
</template>

<script>
import AES256 from 'aes-everywhere'
import { required, sameAs } from "vuelidate/lib/validators"
import { mapActions } from "vuex"

export default {
  name: "CreatePasscodeForm",
  data() {
    return {
      passcode: "",
      passcodeShow: "",
      repeatPassword: "",
      repeatPasswordShow: ""
    }
  },
  validations: {
    passcode: { required },
    repeatPassword: {
      required,
      sameAsPassword: sameAs(function () {
        return this.passcode
      })
    }
  },
  methods: {
    ...mapActions({
      fetchCurrentUser: "auth/fetchCurrentUser"
    }),
    /*
    *
    * */
    send() {
      this.$v.$touch();

      if (this.$v.$invalid) {
        return;
      }

      let model = AES256.encrypt(this.passcode, 'd3ad5b824759ab7dc80c5a9f9527989c');

      this.$http.patch(`/user/set/passcode/`, {
        passcode: model
      })
        .then(() => {
          this.$toast.success(this.$t('user-profile.components.update-password-success'))
          this.fetchCurrentUser()

          this.$emit("emit:hideModal", false)
          this.$emit('emit:forgetPasscodeStep', 'passcode-form')
        })
        .catch(() => {
          this.$toast.error(this.$t('user-profile.components.update-password-error'))
        })
        .finally(() => {
          this.passcode = ""
          this.$v.$reset()
        })
    }
  }
}
</script>
