<template>
  <div>
    <p class="font-500 heading-10">{{$t('user-profile.components.reset-password')}}</p>

    <div class="text-center mt-8">
      <v-form @submit.prevent="send">
        <div class="app-input mb-6">
          <span class="d-block font-600 small-2 mb-2 text-7 text-left">{{$t('user-profile.components.enter-phone')}}</span>

          <v-text-field
            v-model="$v.phone_number.$model"
            :error="$v.phone_number.$error"
            v-mask="'### (##) ### ## ##'"
            outlined
            background-color="var(--input-bg)"
            autofocus
            hide-details
            readonly
          />
        </div>

        <h3 class="font-500 heading-10 mb-3 pt-2">{{$t('user-profile.components.enter-phone')}}</h3>

        <span class="font-500 small-2 d-block mb-8">{{$t('user-profile.components.enter-your-account-number')}}</span>

        <app-button
          type="submit"
          min-width="90"
          class="mr-2"
        >
          <span>{{$t('user-profile.components.send')}}</span>
        </app-button>

        <app-button
          text
          color="error"
          min-width="90"
          @click="$emit('emit:forgetPasscodeStep', 'passcode-form')"
        >
          <span class="ml-2">{{$t('user-profile.components.back')}}</span>
        </app-button>
      </v-form>
    </div>
  </div>
</template>

<script>
import { required } from "vuelidate/lib/validators"
import { mapActions, mapGetters } from "vuex"

export default {
  name: "ForgetPasscodeForm",
  data() {
    return {
      phone_number: ""
    }
  },
  validations: {
    phone_number: { required }
  },
  computed: {
    ...mapGetters({
      currentUser: "auth/getCurrentUser",
    })
  },
  mounted() {
    this.phone_number = this.currentUser.username

    this.$nextTick(() => {
      this.phone_number = this.$options.filters.VMask('+### (##) ### ## ##')
    })
  },
  methods: {
    ...mapActions({
      fetchSendCode: "fetchSendCode"
    }),
    /*
    *
    * */
    send() {
      this.$v.$touch();

      if (this.$v.$invalid) {
        return;
      }

      let phone_number = this.phone_number.replace(/([^a-z0-9]+)/gi, '');

      this.fetchSendCode({ phone_number })
      .then(() => {
        this.$emit('emit:forgetPasscodeStep', 'forget-passcode-verify')
      })
      .catch(() => {
        this.$toast.error(this.$t('user-profile.components.send-error'))
      })
    }
  }
}
</script>
