<template>
  <div>
    <p class="font-500 heading-10">{{$t('user-profile.components.reset-password')}}</p>

    <div class="text-center mt-8">
      <v-form @submit.prevent="send">
        <div class="app-input mb-6">
          <div class="app-otp-input px-6">
            <v-otp-input
              v-model="$v.code.$model"
              :error="$v.code.$error"
              length="5"
              type="text"
            ></v-otp-input>
          </div>
        </div>

        <h3 class="font-500 heading-10 mb-3 pt-2">{{$t('user-profile.components.enter-code')}}</h3>

        <span v-if="locale === 'ru'" class="font-500 small-2 d-block mb-8">
          Мы отправили смс на {{ getUserSendPhoneNumber | VMask('+### (##) ### ## ##') }}
          подтвердите код в течение <span class="primary-text">{{ countDown.minute }}:{{ countDown.second }}</span>
        </span>
        <span v-else class="font-500 small-2 d-block mb-8">
          {{ getUserSendPhoneNumber | VMask('+### (##) ### ## ##') }} raqamiga sms yubordik,
          kodni <span class="primary-text">{{ countDown.minute }}:{{ countDown.second }} ichida tasdiqlang</span>
        </span>

        <template v-if="!isCountDownEnd">
          <app-button
            type="submit"
            min-width="90"
            class="mr-2"
          >
          <span>
            {{$t('user-profile.components.send')}}
          </span>
          </app-button>
        </template>

        <template v-else>
          <app-button
            min-width="90"
            class="mr-2"
            @click="resend"
          >
          <span>
            {{$t('user-profile.components.send-again')}}
          </span>
          </app-button>
        </template>

        <app-button
          text
          color="error"
          min-width="90"
          @click="$emit('emit:forgetPasscodeStep', 'forget-passcode-form')"
        >
          <span class="ml-2">{{$t('user-profile.components.back')}}</span>
        </app-button>
      </v-form>
    </div>
  </div>
</template>

<script>
import { required } from "vuelidate/lib/validators";
import { mapActions, mapGetters } from "vuex";

export default {
  name: "ForgetPasscodeVerify",
  data() {
    return {
      code: "",
      countDown: {
        minute: 2,
        second: '00'
      },
      countInterval: 0,
      isCountDownEnd: false,
      locale: localStorage.getItem('lang') || 'uz'
    }
  },
  validations: {
    code: { required }
  },
  computed: {
    ...mapGetters({
      getUserSendPhoneNumber: "getUserSendPhoneNumber"
    })
  },
  watch: {
    '$i18n.locale': {
			handler(locale) {
				this.locale = locale;
			}
		}
  },
  mounted() {
    this.countDownMinute(2);
  },
  methods: {
    ...mapActions({

    }),
    /*
    *
    * */
    send() {
      this.$v.$touch();

      if (this.$v.$invalid) {
        return;
      }

      if(this.code.length < 5) {
        this.$toast.warning(this.$t('user-profile.components.enter-full-code'))
        return;
      }

      this.$http.post(`/user/verify/phone/${this.getUserSendPhoneNumber}/${this.code}/`)
      .then(() => {
        this.$toast.success(this.$t('user-profile.components.code-verified'))

        this.$emit('emit:forgetPasscodeStep', 'create-new-passcode-form')
      })
      .catch((err) => {
        console.log(err);
      })
    },
    /*
    *
    * */
    resend() {
      this.countDownMinute(2);

      let model = {
        phone_number: this.phone_number
      }

      this.$http.post(`/user/send_code/`, model)

      this.isCountDownEnd = false;
    },
    /*
    *
    * */
    countDownMinute(count) {
      let countFormat = count * 60;
      let countSecond = 60;
      let countMinute = null;

      this.countInterval = setInterval(() => {
        if (countSecond <= 0) {
          countSecond = 60
        }

        if (countFormat <= 0) {
          clearInterval(this.countInterval)
          this.isCountDownEnd = true;

          return false;
        }

        countFormat--
        countSecond--

        countMinute = Math.floor(countFormat / 60)
        this.countDown.minute = countMinute
        this.countDown.second = countSecond
      }, 1000)
    },
    /*
    *
    * */
    clearCountDown() {
      this.countDown.minute = this.countDown.second = 0
      this.isCountDownEnd = false
      clearInterval(this.countInterval)
    },
  }
}
</script>
