<template>
  <div>
    <p class="font-500 heading-10">{{$t('user-profile.components.new-code-password')}}</p>

    <div class="text-center mt-8">
      <v-form @submit.prevent="send">
        <div class="app-input mb-6">
          <span class="d-block font-600 small-2 mb-2 text-7 text-left">{{$t('user-profile.components.enter-new-password')}}</span>

          <v-text-field
            v-model="$v.passcode.$model"
            :error="$v.passcode.$error"
            :append-icon="passcodeShow ? 'mdi-eye' : 'mdi-eye-off'"
            :type="passcodeShow ? 'text' : 'password'"
            outlined
            background-color="var(--input-bg)"
            autofocus
            hide-details
            @click:append="passcodeShow = !passcodeShow"
          />
        </div>

        <h3 class="font-500 heading-10 mb-3 pt-2">{{$t('user-profile.components.create-new-password')}}</h3>

        <span class="font-500 small-2 d-block mb-8">{{$t('user-profile.components.password-note')}}</span>

        <app-button type="submit">
          {{$t('user-profile.components.create-password')}}
        </app-button>
      </v-form>
    </div>
  </div>
</template>

<script>
import AES256 from "aes-everywhere";
import { required } from "vuelidate/lib/validators";

export default {
  name: "SetNewPasscodeForm",
  data() {
    return {
      passcode: "",
      passcodeShow: ""
    }
  },
  validations: {
    passcode: { required }
  },
  methods: {
    send() {
      this.$v.$touch();

      if (this.$v.$invalid) {
        return;
      }

      let model = AES256.encrypt(this.passcode, 'd3ad5b824759ab7dc80c5a9f9527989c');

      this.$http.patch(`/user/set/passcode/`, {
        passcode: model
      })
        .then(() => {
          this.$toast.success(this.$t('user-profile.components.password-installed'))
          this.$emit("emit:hideModal", false)
          this.$emit('emit:next', 'created-passcode-change-form')
        })
        .catch(() => {
          this.$toast.error(this.$t('user-profile.components.password-not-installed'))
        })
        .finally(() => {
          this.passcode = ""
          this.$v.$reset()
        })
    }
  }
}
</script>
