<template>
  <div>
    <p class="font-500 heading-10">{{$t('user-profile.components.code-password')}}</p>

    <div class="text-center mt-8">
      <v-form @submit.prevent="send">
        <div class="app-input mb-6">
          <span class="d-block font-600 small-2 mb-2 text-7 text-left">{{$t('user-profile.components.enter-password')}}</span>

          <v-text-field
            v-model="$v.passcode.$model"
            :error="$v.passcode.$error"
            :append-icon="passcodeShow ? 'mdi-eye' : 'mdi-eye-off'"
            :type="passcodeShow ? 'text' : 'password'"
            outlined
            background-color="var(--input-bg)"
            autofocus
            hide-details
            @click:append="passcodeShow = !passcodeShow"
          />
        </div>

        <h3 class="font-500 heading-10 mb-3 pt-2">{{$t('user-profile.components.enter-password')}} 🔐</h3>

        <span class="font-500 small-2 d-block mb-8">{{$t('user-profile.components.password-note')}}</span>

        <app-button
          type="submit"
          min-width="90"
          class="mr-2"
        >
          <span class="ml-2">{{$t('user-profile.components.sign-in')}}</span>
        </app-button>

        <app-button
          text
          @click="$emit('emit:forgetPasscodeStep', 'forget-passcode-form')"
        >
          {{$t('user-profile.components.reset-password')}}
        </app-button>
      </v-form>
    </div>
  </div>
</template>

<script>
import AES256 from "aes-everywhere"
import { required } from "vuelidate/lib/validators"
import { mapActions } from "vuex"

export default {
  name: "SetPasscodeForm",
  data() {
    return {
      passcode: "",
      passcodeShow: "",
    }
  },
  validations: {
    passcode: { required }
  },
  methods: {
    ...mapActions({
      fetchGetUserSalaryList: "fetchGetUserSalaryList",
      fetchGetUserSalaryStatisticList: "fetchGetUserSalaryStatisticList",
    }),
    /*
    *
    * */
    send() {
      this.$v.$touch();

      if (this.$v.$invalid) {
        return;
      }

      let model = AES256.encrypt(this.passcode, "d3ad5b824759ab7dc80c5a9f9527989c")
      const today = new Date()
      const oneMonthAgo = new Date(today.getFullYear(), today.getMonth() - 1, 1)

      Promise.all([
        this.fetchGetUserSalaryList({ passcode: model, date: this.$options.filters.filterDateMonthYear(oneMonthAgo) }),
        this.fetchGetUserSalaryStatisticList({ passcode: model, year: today.getFullYear() })
      ])
        .then(() => {
          this.$router.push({
            name: "UserSalary"
          })

          this.$emit("emit:hideModal", false)
        })
        // .catch(() => {
        //   this.$toast.error(this.$t('user-profile.components.password-incorrect'))
        // })
      .finally(() => {
        this.passcode = ""
        this.$v.$reset()
      })
    }
  }
}
</script>
