<template>
  <v-dialog
    v-model="dialog"
    max-width="440"
    content-class="reset-dialog-style"
  >
    <div class="bg-white rounded-20 pa-10 p-relative">
      <app-button
        color="error"
        icon
        min-width="35"
        height="35"
        width="35"
        class="p-absolute"
        style="top: 10px; right: 10px"
        @click="dialog = false; step = 'passcode-form'"
      >
        <x-icon />
      </app-button>

      <template v-if="step === 'passcode-form'">
        <set-passcode-form
          @emit:forgetPasscodeStep="emitForgetPasscode"
          @emit:hideModal="hideModal"
        />
      </template>

      <template v-if="step === 'forget-passcode-form'">
        <forget-passcode-form
          @emit:forgetPasscodeStep="emitForgetPasscode"
        />
      </template>

      <template v-if="step === 'forget-passcode-verify'">
        <forget-passcode-verify
          @emit:forgetPasscodeStep="emitForgetPasscode"
        />
      </template>

      <template v-if="step === 'create-new-passcode-form'">
        <create-passcode-form
          @emit:forgetPasscodeStep="emitForgetPasscode"
          @emit:hideModal="hideModal"
        />
      </template>
    </div>
  </v-dialog>
</template>

<script>
import { XIcon } from "vue-feather-icons"

import SetPasscodeForm from "./SetPasscodeForm"
import ForgetPasscodeForm from "./ForgetPasscodeForm"
import ForgetPasscodeVerify from "./ForgetPasscodeVerify"
import CreatePasscodeForm from "./CreatePasscodeForm"

export default {
  name: "SetPasscodeModal",
  components: {
    XIcon,
    SetPasscodeForm,
    ForgetPasscodeForm,
    ForgetPasscodeVerify,
    CreatePasscodeForm
  },
  data() {
    return {
      dialog: false,
      step: "passcode-form"
    }
  },
  methods: {
    emitForgetPasscode(value) {
      this.step = value
    },
    /*
    *
    * */
    hideModal(value) {
      this.dialog = value
    }
  }
}
</script>
