<template>
	<v-app v-if="isLoaded">
		<router-view/>
	</v-app>
</template>

<script>
import { debounce } from "lodash/function"
import { setVH } from "@/common/helpers"
import { mapActions } from "vuex"
export default {
	name: 'App',
  data() {
	  return {
	    isLoaded: false
    }
  },
	created() {
		this.getCurrentUser()
	},
	mounted() {
		setVH();

		window.addEventListener(`resize`, setVH);
	},
	methods: {
		...mapActions({
			setBreakpointName: "setBreakpointName"
		}),
		/*
		*
		* */
		async getCurrentUser() {
			this.$jwt.getToken() && await this.$store.dispatch('auth/fetchCurrentUser')
			this.detectBreakpointName()

      this.isLoaded = true
		},
		/*
		*
		* */
		detectBreakpointName() {
			this.setBreakpointName({
				breakpoint: this.$vuetify.breakpoint.name
			})

			window.addEventListener("resize", debounce(() => {
				this.setBreakpointName({
					breakpoint: this.$vuetify.breakpoint.name
				})
			}, 500))
		},
	}
};
</script>
