<template>
	<div class="registration-view d-flex flex-column">
		<div class="d-flex justify-lg-space-between mb-1">
			<h1 class="small-1">{{ $t("layout.registration") }}</h1>

<!--			<register-button />-->
		</div>

		<div class="d-flex flex-column p-relative">
			<div class="navigation-track-wrap p-relative d-flex mb-5 mt-4">
				<template v-for="(item, index) in navigationList.filter(menu => menu.role.some(role => currentUser.roles.includes(role)))">
					<router-link
						:to="{ name: item.url }"
            class="navigation-track p-relative d-flex align-center text-decoration-none size-13 py-2"
            :class="{ 'mr-8' : index + 1 !== navigationList.length }"
					>
<!--						<v-icon size="16" class="mr-2">{{ item.icon }}</v-icon>-->

						<span>{{ item.title }}</span>

            <v-sheet
              v-if="item.count"
              width="33"
              height="20"
              color="primary"
              class="d-flex align-center justify-center rounded ml-2"
              style="line-height: 20px"
            >
              <span class="small-3 text-white font-700">{{ item.count }}</span>
            </v-sheet>
					</router-link>
				</template>
			</div>

			<router-view />
		</div>
	</div>
</template>

<script>
import RegisterButton from "./components/RegisterButton";
import {mapGetters} from "vuex";

export default {
	name: "index",
	components: {
		RegisterButton
	},
	data() {
		return {
			navigationList: [
				{
					id: 1,
					title: "Входящие",
					url: "IncomingIndex",
					icon: '$vuetify.icons.DirectInboxIcon',
					role: ["admin", "chancellery", "assistant", "chancellery_admin", "filial_chancellery", "call_center"],
					count: null
				},
				{
					id: 3,
					title: "Внутренние",
					url: "InnerIndex",
					icon: '$vuetify.icons.DirectNotifyIcon',
					role: ["admin", "department_employee", "chancellery", "hr_manager", "filial_hr_manager", "assistant", "chancellery_admin", "filial_chancellery"],
					count: null
				},
				{
					id: 4,
					title: "Исходящие",
					url: "OutgoingIndex",
					icon: '$vuetify.icons.DirectSendIcon',
					role: ["admin", "chancellery", "assistant", "chancellery_admin", "filial_chancellery"],
					count: null
				},
				{
					id: 5,
					title: "Обращения",
					url: "AppealIndex",
					icon: '$vuetify.icons.DirectIcon',
					role: ["admin", "chancellery", "assistant", "chancellery_admin", "filial_chancellery", "call_center"],
					count: null
				},
				{
					id: 6,
					title: "Приказы и распоряжения",
					url: "OrderProtocolIndex",
					icon: '$vuetify.icons.SmsStarIcon',
					role: ["admin", "chancellery", "hr_manager", "filial_hr_manager", "assistant", "chancellery_admin", "filial_chancellery", "deputy_chair", "credit_committee"],
					count: null
				},
				{
					id: 88,
					title: "Входящие от филиалов",
					url: "FilialDocumentsIndex",
					icon: '$vuetify.icons.SmsNotificationIcon',
					role: ["admin", "filial_chancellery", "chancellery", "assistant", "chancellery_admin"],
					count: null
				},
				{
					id: 7,
					title: "Заявления",
					url: "ApplicationIndex",
					icon: '$vuetify.icons.ClipboardTextIcon',
					role: ["admin", "hr_manager", "filial_hr_manager"],
					count: null
				},
				{
					id: 8,
					title: "XDFU",
					url: "SecretDocumentsIndex",
					icon: '$vuetify.icons.DirectInboxIcon',
					role: ["admin", "xdfu_manager"],
					count: null
				},
				{
					id: 2,
					title: "Call-центр обращения",
					url: "CallCenterAppealIndex",
					icon: '$vuetify.icons.DirectIcon',
					role: ["admin", "call_center"],
					count: null
				},
			]
		}
	},
	computed: {
		...mapGetters({
			currentUser: "auth/getCurrentUser",
		})
	},
	mounted() {
		this.getUnreadCount();
	},
	methods: {
		getUnreadCount() {
			this.$axios.get(`/docflow/${this.currentUser.filial}/unread_count/`)
			.then(({ data }) => {
				this.navigationList[5].count = data.unregistered_count
			})
		}
	}
}
</script>

<style>
/*.registration-view .router-link-active {*/
/*	background-color: var(--primary-1);*/
/*	border-radius: 6px;*/
/*}*/

/*.registration-view .router-link-active span {*/
/*	color: #fff;*/
/*}*/

/*.reg-navigation-track-text {*/
/*	color: #A8A9BA;*/
/*}*/
</style>
