<template>
	<div class="viewer-view d-flex flex-column h-100">
		<div class="flex-1 bg-white overflow-hidden">
			<div v-if="file" class="h-100 overflow-y-auto">
				<template v-if="fileExtension === FILE_EXTENSIONS.RESOLUTION">
					<resolution
						:resolution="resolution"
						:is-verified="isVerified"
					/>
				</template>

        <template v-else-if="fileExtension === 'pdf' || fileExtension === 'PDF'">
	        <template v-if="toolbar">
		        <object
			        :data="file.url"
			        type="application/pdf"
			        width="100%"
			        height="100%"
			        ref="pdfObject"
		        >
		        </object>
	        </template>

	        <template v-else>
		        <div class="p-relative w-100 h-100">
			        <div style="position: absolute; top: 0; left: 0; width: 98%; height: 100%; background: transparent;"></div>
			        <object
				        :data="file.url+'#toolbar=0'"
				        type="application/pdf"
				        width="100%"
				        height="100%"
				        ref="pdfObject"
			        >
			        </object>
		        </div>
	        </template>
        </template>

				<template v-else-if="fileExtension === 'jpg' || fileExtension === 'jpeg' || fileExtension === 'png'">
          <img :src="file.url" alt="Document image" class="mx-auto d-block" />
				</template>

				<template v-else>
          <div class="d-flex align-center justify-center flex-column h-100">
            <h3 class="font-600">{{ $t('components.unsupported-file-type') }}</h3>

            <a
	            :href="file.url"
	            :download="file.url"
	            target="_blank"
	            class="mt-4"
            >
              <app-button>
                {{ $t('components.upload-file') }}
                <template #append>
                  <download-icon size="18" class="ml-1" />
                </template>
              </app-button>
            </a>
          </div>
        </template>
      </div>
		</div>
	</div>
</template>

<script>
import { FileIcon, DownloadIcon, Maximize2Icon } from 'vue-feather-icons'
import { FILE_EXTENSIONS } from "@/common/enums/notificationTypes"
import Resolution from "./templates/Resolution.vue"
export default {
	name: "Viewer",
	props: {
		file: {
			type: Object,
			default: () => {}
		},
		/*
		*
		* */
		isVerified: {
			type: Boolean,
			default: false
		},
		/*
		*
		* */
		resolution: {
			type: Object,
			default: () => {}
		},
		/** **/
		toolbar: {
			type: Boolean,
			default: true
		}
	},
	components: {
		FileIcon,
		DownloadIcon,
		Maximize2Icon,
		// DocumentEditor,
		Resolution
	},
	data() {
		return {
			FILE_EXTENSIONS,
		}
	},
	computed: {
		fileExtension() {
			if(this.file.extension === FILE_EXTENSIONS.FILE) {
				return this.file?.url.split(".").pop()
			}

			if(this.file.extension === FILE_EXTENSIONS.RESOLUTION) {
				return FILE_EXTENSIONS.RESOLUTION
			}

			return FILE_EXTENSIONS.VIEWER
		}
	}
}
</script>

<style scoped>

</style>
