<template>
	<div class="calendar-list-type-view d-flex">
		<grid-calendar :event-list="eventsList">
			<template #eventDescription="{ selected }">
				<router-link
					:to="{name: 'ReviewFormShow', params: { id: selected.id }}"
					class="list-group-item text-decoration-none d-block"
				>
					<grid-card :header-color="selected.priority" :title="selected.correspondent && selected.correspondent.name">
						<review-grid-card-body
							:item="selected"
							:hide-update-task-field="false"
						/>
					</grid-card>
				</router-link>
			</template>
		</grid-calendar>

		<template v-if="getLoading">
			<app-loader content-width :size="54"/>
		</template>
	</div>
</template>

<script>
import GridCalendar from "@/common/components/GridCalendar"
import GridCard from "@/common/components/GridCard"
import ReviewGridCardBody from "@/modules/DocumentFlow/components/ReviewGridCardBody"

import { mapGetters } from "vuex";

export default {
	name: "ReviewCalendarType",
	components: {
		GridCalendar,
		GridCard,
		ReviewGridCardBody
	},
	data() {
		return {
			eventsList: []
		}
	},
	computed: {
		...mapGetters({
			getEventsList: "documentFlowModule/getEventsList",
			getLoading: "getLoading"
		})
	},
	watch: {
		"$store.state.documentFlowModule.incomingDocumentList": {
			immediate: true,
			handler(value) {
				this.eventsList = value.map(item => {
					return {
						...item,
						name: `${item.correspondent.name}`,
						start: new Date(item.register_date).toISOString().replace(/T.*$/, ''),
						color: item.priority === "high" ? "var(--secondary-4)" : item.priority === "critical" ? "var(--secondary-4)" : item.priority === "medium" ? "var(--secondary-3)" : "var(--secondary-2)",
						textColor: item.priority === "high" ? "var(--primary-4)" : item.priority === "critical" ? "var(--primary-4)" : item.priority === "medium" ? "var(--primary-3)" : "var(--primary-2)",
					}
				})
			}
		}
	}
}
</script>
