<template>
  <div class="d-flex flex-column align-start flex-1 pa-4">
    <div class="d-flex align-center w-100">
      <span class="heading-9 font-600 text-dark mr-3 d-block">{{$t('document-flow.views.boxes.create-resolution')}}</span>
      <v-divider />
    </div>

    <resolution
      :parent-id="null"
      :parent="null"
      :review="reviewGetOne.review_id"
      :tree-id="reviewGetOne.id"
      :redirect-url="'ReviewFormShow'"
      class="w-100"
    />
  </div>
</template>

<script>
import Resolution from "@/modules/DocumentFlow/views/Boxes/Inbox/Resolution"
import { mapGetters } from "vuex"

export default {
  name: "CreateResolution",
  components: {
    Resolution
  },
  computed: {
    ...mapGetters({
      reviewGetOne: "documentFlowModule/getReviewGetOne",
    })
  }
}
</script>
