<template>
	<grid-kanban>
		<!-- TO DO -->
		<template #todo>
      <template>
        <router-link
        v-for="(item, index) in getReviewListToDo"
          :key="item.id"
          :to="{
            name: 'ReviewFormShow',
            params: {
              id: item.incoming_doc.id,
              type: item.incoming_doc.journal.id
            }
          }"
          :class="getReviewListToDo.length - 1 !== index ? 'mb-3' : ''"
          class="list-group-item text-decoration-none d-block"
        >
          <grid-card
            :title="item.incoming_doc.correspondent && item.incoming_doc.correspondent.organization_name"
            :index="index + 1"
            :header-color="item.incoming_doc.priority"
          >
            <review-grid-card-body
              :item="{
                ...item.incoming_doc,
                review_users: item.review_users,
                __status: item.__status,
                __priorityText: item.__priorityText,
                __documentId: item.id
              }"
              :column-state="getReviewListToDo"
              status-change-api-url="review"
            >
            </review-grid-card-body>
          </grid-card>
        </router-link>
      </template>

      <div
        v-if="getReviewListToDo.length >= 15"
        class="infinite-scroll-area pa-4"
        v-intersect="{
          handler: toDoIntersect,
          options: {
            threshold: [0, 1.0, 1.0]
          }
        }"
      >
      </div>
		</template>
		<!-- END TO DO -->

		<!-- IN PROGRESS -->
		<template #inprogress>
			<template >
				<router-link
        v-for="(item, index) in getReviewListInProgress"
					:key="item.id"
					:to="{
					  name: 'ReviewFormShow',
					  params: {
					    id: item.incoming_doc.id,
					    type: item.incoming_doc.journal.id
					  }
					}"
					:class="getReviewListInProgress.length - 1 !== index ? 'mb-3' : ''"
					class="list-group-item text-decoration-none d-block"
				>
          <grid-card
            :title="item.incoming_doc.correspondent && item.incoming_doc.correspondent.organization_name"
            :index="index + 1"
            :header-color="item.incoming_doc && item.incoming_doc.priority"
          >
            <review-grid-card-body
              :item="{
                ...item.incoming_doc,
                review_users: item.review_users,
                __status: item.__status,
                __priorityText: item.__priorityText,
                __documentId: item.id
              }"
              :column-state="getReviewListInProgress"
              status-change-api-url="review"
            >
            </review-grid-card-body>
          </grid-card>
				</router-link>
			</template>

      <div
        v-if="getReviewListInProgress.length >= 15"
        class="infinite-scroll-area pa-4"
        v-intersect="{
          handler: inProgressIntersect,
          options: {
            threshold: [0, 1.0, 1.0]
          }
        }"
      >
      </div>
		</template>
		<!-- END IN PROGRESS -->

		<!-- HOLD -->
		<template #hold>
			<template >
				<router-link
        v-for="(item, index) in getReviewListOnHold"
					:key="item.id"
					:to="{
					  name: 'ReviewFormShow',
					  params: {
              id: item.incoming_doc.id,
              type: item.incoming_doc.journal.id
					  }
					}"
					:class="getReviewListOnHold.length - 1 !== index ? 'mb-3' : ''"
					class="list-group-item text-decoration-none d-block"
				>
          <grid-card
            :title="item.incoming_doc.correspondent && item.incoming_doc.correspondent.organization_name"
            :index="index + 1"
            :header-color="item.incoming_doc && item.incoming_doc.priority"
          >
            <review-grid-card-body
              :item="{
                ...item.incoming_doc,
                review_users: item.review_users,
                __status: item.__status,
                __priorityText: item.__priorityText,
                __documentId: item.id
              }"
              :column-state="getReviewListOnHold"
              status-change-api-url="review"
            >
            </review-grid-card-body>
          </grid-card>
				</router-link>
			</template>

      <div
        v-if="getReviewListOnHold.length >= 15"
        class="infinite-scroll-area pa-4"
        v-intersect="{
          handler: onHoldIntersect,
          options: {
            threshold: [0, 1.0, 1.0]
          }
        }"
      >
      </div>
		</template>
		<!-- END HOLD -->

		<!-- DONE -->
		<template #done>
			<template >
				<router-link
        v-for="(item, index) in getReviewListDone"
					:key="item.id"
					:to="{
					  name: 'ReviewFormShow',
					  params: {
					    id: item.incoming_doc.id,
					    type: item.incoming_doc.journal.id
					  }
					}"
					:class="getReviewListDone.length - 1 !== index ? 'mb-3' : ''"
					class="list-group-item text-decoration-none d-block"
				>
          <grid-card
            :title="item.incoming_doc.correspondent && item.incoming_doc.correspondent.organization_name"
            :index="index + 1"
            :header-color="item.incoming_doc && item.incoming_doc.priority"
          >
            <review-grid-card-body
              :item="{
                ...item.incoming_doc,
                review_users: item.review_users,
                __status: item.__status,
                __priorityText: item.__priorityText,
                __documentId: item.id
              }"
              :column-state="getReviewListDone"
              status-change-api-url="review"
            >
            </review-grid-card-body>
          </grid-card>
				</router-link>
			</template>

      <div
        v-if="getReviewListDone.length >= 15"
        class="infinite-scroll-area pa-4"
        v-intersect="{
          handler: doneIntersect,
          options: {
            threshold: [0, 1.0, 1.0]
          }
        }"
      >
      </div>
		</template>
		<!-- END DONE -->
	</grid-kanban>
</template>

<script>
import GridKanban from "@/common/components/GridKanban"
import GridCard from "@/common/components/GridCard"
import ReviewGridCardBody from "@/modules/DocumentFlow/components/ReviewGridCardBody"

import { mapGetters, mapMutations, mapActions } from "vuex"

export default {
	name: "ReviewGridType",
	components: {
		GridKanban,
		GridCard,
		ReviewGridCardBody
	},
	computed: {
		...mapGetters({
      getReviewListToDo: "documentFlowModule/getReviewListToDo",
      getReviewListInProgress: "documentFlowModule/getReviewListInProgress",
      getReviewListOnHold: "documentFlowModule/getReviewListOnHold",
      getReviewListDone: "documentFlowModule/getReviewListDone"
		}),
	},
  data() {
	  return {
	    todoColumnPage: 1,
	    inProgressColumnPage: 1,
	    onHoldColumnPage: 1,
	    doneColumnPage: 1,
    }
  },
  created() {
    this.fetchReviewListStatusToDo()
    this.fetchReviewListStatusInProgress()
    this.fetchReviewListStatusOnHold()
    this.fetchReviewListStatusDone()
  },
  beforeDestroy() {
	  this.CLEAR_DOCUMENT_LIST()
  },
  methods: {
	  ...mapMutations({
      CLEAR_DOCUMENT_LIST: "documentFlowModule/CLEAR_DOCUMENT_LIST"
    }),
    /*
    *
    * */
	  ...mapActions({
      fetchReviewListStatusToDo: "documentFlowModule/fetchReviewListStatusToDo",
      fetchReviewListStatusInProgress: "documentFlowModule/fetchReviewListStatusInProgress",
      fetchReviewListStatusOnHold: "documentFlowModule/fetchReviewListStatusOnHold",
      fetchReviewListStatusDone: "documentFlowModule/fetchReviewListStatusDone",
    }),
    /*
    *
    * */
    toDoIntersect(entries) {
      if(entries[0].intersectionRatio >= 0.5) {
        this.fetchReviewListStatusToDo({
          page: ++this.todoColumnPage
        })
      }
    },
    /*
    *
    * */
    inProgressIntersect(entries) {
      if(entries[0].intersectionRatio >= 0.5) {
        this.fetchReviewListStatusInProgress({
          page: ++this.inProgressColumnPage
        })
      }
    },
    /*
    *
    * */
    onHoldIntersect(entries) {
      if(entries[0].intersectionRatio >= 0.5) {
        this.fetchReviewListStatusOnHold({
          page: ++this.onHoldColumnPage
        })
      }
    },
    /*
    *
    * */
    doneIntersect(entries) {
      if(entries[0].intersectionRatio >= 0.5) {
        this.fetchReviewListStatusDone({
          page: ++this.doneColumnPage
        })
      }
    }
  }
}
</script>
