<template>
	<div class="project-resolution-view">
		<project-resolution-block
			:form-type="$store.state.formType.create"
			:block-list="blockList"
			@emit:addBlock="addBlock"
      :parent-id="null"
      :review-id="reviewGetOne.review_id"
		/>
	</div>
</template>

<script>
import ProjectResolutionBlock from "@/modules/DocumentFlow/components/ProjectResolutionBlock"
import { mapGetters } from "vuex";

export default {
	name: "ProjectResolutionCreate",
	components: {
		ProjectResolutionBlock
	},
	data() {
		return {
			countId: 1,
			blockList: [
				{
					counter: 1,
					review: null,
					content: "",
					type: "assignment",
					controller: null,
					parent: null,
					assignment: [],
          deadline: null,
          is_project_resolution: true,
					__deadline: null,
					__userSearch: null,
					__controller: null
				}
			]
		}
	},
  computed: {
	  ...mapGetters({
      reviewGetOne: "documentFlowModule/getReviewGetOne"
    })
  },
	methods: {
		addBlock() {
			this.blockList.push({
				counter: ++this.countId,
				review: this.reviewGetOne.review_id,
				content: "",
				type: "",
				controller: null,
				parent: null,
				assignment: [],
        is_project_resolution: true,
				__deadline: null,
				__userSearch: null,
				__controller: null
			})
		}
	}
}
</script>
