<template>
	<project-resolution-block
    ref="resolutionBlock"
		:form-type="$store.state.formType.update"
		:block-list="normalizeList"
		@emit:addBlock="addBlock"
    :review-id="reviewGetOne.review_id"
    @emit:deleteUser="deleteUser"
	/>
</template>

<script>
import ProjectResolutionBlock from "@/modules/DocumentFlow/components/ProjectResolutionBlock"

import { mapGetters, mapActions } from "vuex"

export default {
	name: "ProjectResolutionEdit",
	components: {
		ProjectResolutionBlock
	},
	computed: {
		...mapGetters({
      currentUser: "auth/getCurrentUser",
			reviewGetOne: "documentFlowModule/getReviewGetOne",
      getInboxList: "documentFlowModule/getInboxList"
		}),
		/*
		*
		* */
		normalizeList() {
      return this.getInboxList.map(assigment => {
				return {
					id: assigment.id,
					counter: assigment.counter,
					review: assigment.review,
					content: assigment.content,
					type: assigment.type,
					controller: assigment.controller && assigment.controller.id,
					parent: assigment.parent,
					assignment: assigment.assignment.map(item => {
						return {
							id: item.id,
							deadline: item.deadline,
							user: item.user.id,
							full_name: item.user.full_name,
              is_responsible: item.is_responsible,
              __isControlPoint: false
						}
					}),
          deadline: assigment.assignment.length ? assigment.assignment[0].deadline : null,
          is_project_resolution: true,
					__deadline: null,
					__userSearch: null,
					__controller: assigment.controller,
          __responsibleSelected: null
				}
			})
		}
	},
  mounted() {
    const { resolutionBlock } = this.$refs

    setTimeout(() => {
      resolutionBlock.responsibleSelected = this.normalizeList[0] && this.normalizeList[0].assignment.findIndex(item => item.is_responsible)
    }, 1000)
 },
  methods: {
		...mapActions({
      fetchInboxListAll: "documentFlowModule/fetchInboxListAll",
      fetchAssignmentUserDelete: "documentFlowModule/fetchAssignmentUserDelete",
		}),
		/*
		*
		* */
		addBlock() {
			this.$store.commit("documentFlowModule/ADD_BLOCK", {
				counter: this.getInboxList.length + 1,
        review: this.reviewGetOne.review_id,
        content: "",
        type: "",
        controller: null,
        parent: this.reviewGetOne.id,
				assignment: [],
        is_project_resolution: true,
				__deadline: null,
				__userSearch: null,
				__controller: null
			})
		},
    /*
    *
    * */
    deleteUser(assignment) {
      if(assignment) {
        this.fetchAssignmentUserDelete({
          id: assignment.id,
          treeId: this.reviewGetOne.id
        })
        .then(() => {
          this.fetchInboxListAll({
            review: this.reviewGetOne.review_id,
            is_project_resolution: "True",
            ordering: 'id'
          })

          this.$toast.success(this.$t('document-flow.views.boxes.user-deleted'))
        })
      }
    }
	}
}
</script>
