<template>
  <div class="remove-user-assignment-view">
    <div class="d-flex align-center justify-space-between bg-4 pb-3 border-bottom mb-3">
      <h3 class="font-600">Удалить фишку</h3>

      <div>
        <app-button color="error" @click="$router.go(-1)" class="mr-2">
          <template #prepend>
            <arrow-left-icon size="18" />
          </template>

          <template>
            {{$t('document-flow.components.back')}}
          </template>
        </app-button>

        <app-button @click="deleteAssignments">
          <template #prepend>
            <trash2-icon size="18" />
          </template>

          <template>
            Удалить фишку
          </template>
        </app-button>
      </div>
    </div>

    <div class="mt-7">
      <div class="app-input">
        <app-table
          :table-width="500"
          :table-head-items="employeeTableHeaders"
        >
          <template #tableBody>
            <tr v-for="(user, index) in 10" :key="user.id">
              <td>{{ index + 1 }}</td>
              <td>Muhammad</td>
              <td>Data</td>
            </tr>
          </template>
        </app-table>
      </div>
    </div>
  </div>
</template>

<script>
import { ArrowLeftIcon, Trash2Icon } from "vue-feather-icons"
import { selectFromList } from "@/common/helpers"
import { TABLE_HEAD_TEXT_LIST } from "@/common/constants"

export default {
	name: "RemoveUsersAssignment",
  components: {
	  ArrowLeftIcon,
	  Trash2Icon
  },
  computed: {
	  /*
    *
    * */
	  employeeTableHeaders() {
		  return selectFromList([1, 24, 23], TABLE_HEAD_TEXT_LIST)
	  },
  },
  methods: {
	  deleteAssignments() {
			if(!confirm(`Действительно хотите удалить ?`)) {
				return
      }

			console.log('next')
    }
  }
}
</script>
