<template>
	<div class="d-flex flex-column align-start flex-1 pa-4">
		<template v-if="isLoading">
			<app-loader
				component-based
			/>
		</template>

		<template v-else>
			<div class="d-flex align-center w-100 mb-6">
				<span class="heading-9 font-600 text-dark mr-3 d-block">{{ formTitle }}</span>
				<v-divider />
			</div>

			<!--    <div class="d-flex">-->
			<!--      <pre class="mr-10">{{ reviewGetOne.journal }}</pre>-->
			<!--      <pre>{{ $route.params }}</pre>-->
			<!--    </div>-->

<!--      <pre>{{ hasResolutionCreated }}</pre>-->

<!--      <pre style="height: 300px; overflow-y: auto">{{ getIsDocumentAssigned }}</pre>-->

			<div class="w-100 mb-auto">
				<div class="d-flex flex-wrap align-center mb-8" style="grid-gap: 0.45rem">
					<app-button
            color="error"
            :to="{ name: 'ReviewIndex', query: activeFiltered }"
          >
						<template #prepend>
							<arrow-left-icon size="18" />
						</template>
						<template>
							{{ $t('document-flow.views.boxes.back') }}
						</template>
					</app-button>

          <!-- Ответить -->
          <v-menu
            offset-y
            min-width="250"
            :close-on-content-click="false"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                color="primary"
                depressed
                v-bind="attrs"
                v-on="on"
              >
                <template #default>
                  <div class="d-flex align-center">
                    <span class="mr-2">{{$t('document-flow.views.boxes.reply-document')}}</span>
                    <chevron-down-icon />
                  </div>
                </template>
              </v-btn>
            </template>

            <v-list dense>
              <v-list-item
                v-if="reviewGetOne.doc_type && reviewGetOne.doc_type.type === 'doc_type' && reviewGetOne.send_date"
                :disabled="(currentUserReview && !currentUserReview.read_time) || getIsDocumentAssigned.is_verified"
                link
                :to="{ name: 'SendingDocumentsCreate', query: { type: 'inner', register_date: reviewGetOne.send_date, register_number: reviewGetOne.register_number, reply_document_id: reviewGetOne.id  } }"
              >
                <v-list-item-title>
                  <div class="d-flex align-center">
                    <span class="font-500">{{$t('document-flow.views.boxes.interior')}}</span>
                  </div>
                </v-list-item-title>
              </v-list-item>

              <v-list-item
                v-if="reviewGetOne.doc_type && reviewGetOne.doc_type.type === 'doc_type' && reviewGetOne.send_date"
                :disabled="(currentUserReview && !currentUserReview.read_time) || getIsDocumentAssigned.is_verified"
                link
                :to="{ name: 'SendingDocumentsCreate', query: { type: 'outgoing', register_date: reviewGetOne.send_date, register_number: reviewGetOne.register_number, reply_document_id: reviewGetOne.id } }"
              >
                <v-list-item-title>
                  <div class="d-flex align-center">
                    <span class="font-500">{{$t('document-flow.views.boxes.outgoing')}}</span>
                  </div>
                </v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>


<!--          <template v-if="getCurrentAssistant">-->
<!--            <template v-if="!hasResolutionCreated">-->
<!--              <app-button-->
<!--                :to="{name: 'ReviewFormProjectResolution'}"-->
<!--                :disabled="!currentUserReview.read_time"-->
<!--              >-->
<!--                <template #default>-->
<!--                  {{$t('document-flow.views.boxes.draft-resolution')}}-->
<!--                </template>-->
<!--              </app-button>-->
<!--            </template>-->

<!--            <template v-else>-->
<!--              <app-button-->
<!--                :to="{name: 'ReviewFormProjectResolutionEdit'}"-->
<!--                :disabled="getIsDocumentAssigned.is_for_signature || getIsDocumentAssigned.is_verified"-->
<!--                class="mr-2"-->
<!--              >-->
<!--                <template #default>-->
<!--                  {{$t('document-flow.views.boxes.edit-resolution')}}-->
<!--                </template>-->
<!--              </app-button>-->

<!--              <app-button-->
<!--                @click="toAssign"-->
<!--                :disabled="getIsDocumentAssigned.is_for_signature || getIsDocumentAssigned.is_verified"-->
<!--                min-width="100"-->
<!--              >-->
<!--                <template v-if="!getIsDocumentAssigned.is_for_signature && !getIsDocumentAssigned.is_verified">-->
<!--                  {{$t('document-flow.views.boxes.send-for-signature')}}-->
<!--                </template>-->

<!--                <template v-if="getIsDocumentAssigned.is_for_signature && !getIsDocumentAssigned.is_verified">-->
<!--                  {{$t('document-flow.views.boxes.sent-for-signature')}}-->
<!--                </template>-->

<!--                <template v-if="getIsDocumentAssigned.is_for_signature &&  getIsDocumentAssigned.is_verified">-->
<!--                  {{$t('document-flow.views.boxes.document-signed')}}-->
<!--                </template>-->
<!--              </app-button>-->
<!--            </template>-->
<!--          </template>-->

<!--          <template v-if="isUserCanSign">-->
            <template v-if="getDocumentResolution.currentUserId === currentUser.id">
              <template v-if="!hasResolutionCreated">
  <!--              <app-button-->
  <!--                :to="{name: 'ReviewFormProjectResolution'}"-->
  <!--                :disabled="currentUserReview.read_time && !currentUserReview.read_time"-->
  <!--              >-->
  <!--                <template #default>-->
  <!--                  {{$t('document-flow.views.boxes.draft-resolution')}}-->
  <!--                </template>-->
  <!--              </app-button>-->
              </template>

              <template v-else>
  <!--              <app-button-->
  <!--                :to="{name: 'ReviewFormProjectResolutionEdit'}"-->
  <!--                :disabled="getIsDocumentAssigned.is_verified"-->
  <!--                class="mr-2"-->
  <!--              >-->
  <!--                <template #default>-->
  <!--                  {{$t('document-flow.views.boxes.edit-resolution')}}-->
  <!--                </template>-->
  <!--              </app-button>-->

                <div class="app-input" style="max-width: 170px">
                  <v-select
                    @change="cbChanged"
                    v-model="keyValue"
                    :items="keyUsersList"
                    outlined
                    :placeholder="$t('document-flow.views.boxes.sign')"
                    background-color="var(--primary-1)"
                    hide-details
                    dense
                    dark
                    height="45"
                    item-text="name"
                    item-value="value"
                  >
                    <template #append>
                      <chevron-down-icon size="22" class="mt-1" />
                    </template>
                  </v-select>
                </div>

                <app-button
                  @click="send"
                  :disabled="getIsDocumentAssigned.is_verified"
                  min-width="100"
                >
                  <template>
                    {{$t('document-flow.views.boxes.sign-document')}}
                  </template>
                </app-button>

  <!--              <template v-if="getIsDocumentAssigned.is_verified">-->
  <!--                <app-button @click="cancelSign" color="error">-->
  <!--                  <template #default>-->
  <!--                    {{$t('document-flow.views.boxes.cancel-sign')}}-->
  <!--                  </template>-->
  <!--                </app-button>-->
  <!--              </template>-->
              </template>
            </template>
<!--          </template>-->

          <!-- More button -->
          <v-menu
            offset-y
            min-width="250"
            :close-on-content-click="false"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                color="rgba(187, 187, 187, 1)"
                dark
                v-bind="attrs"
                v-on="on"
                outlined
                class="ml-auto"
              >
                <div class="d-flex align-center">
                  <more-vertical-icon size="20" class="mr-2"  />

                  <span class="text-dark pr-1">{{$t('document-flow.views.boxes.more')}}</span>
                </div>
              </v-btn>
            </template>
            <v-list dense>
              <template v-if="isUserCanSign">
                <!-- Проект резолюция -->
                <v-list-item
                  :to="{ name: 'ReviewFormProjectResolution' }"
                  v-if="currentUserReview"
                  :disabled="!currentUserReview.read_time || currentUserReview.has_resolution || currentUserReview.is_verified"
                  link
                  class="border-bottom"
                >
                  <v-list-item-title>
                    <div class="d-flex align-center">
                      <users-icon size="18" class="primary-text mr-3" />

                      <span class="font-500">{{$t('document-flow.views.boxes.draft-resolution')}}</span>
                    </div>
                  </v-list-item-title>
                </v-list-item>
                <!-- /Проект резолюция -->

                <!-- Изменить резолюцию (Для зампреда) -->
                <v-list-item
                  v-if="currentUser.role !== 'assistant'"
                  :to="{ name: 'ReviewFormProjectResolutionEdit' }"
                  :disabled="currentUserReview && (!currentUserReview.has_resolution || currentUserReview.is_verified)"
                  link
                  class="border-bottom"
                >
                  <v-list-item-title>
                    <div class="d-flex align-center">
                      <users-icon size="18" class="primary-text mr-3" />

                      <span class="font-500">{{$t('document-flow.views.boxes.edit-resolution')}}</span>
                    </div>
                  </v-list-item-title>
                </v-list-item>
                <!-- /Изменить резолюцию (Для зампреда) -->

                <!-- Изменить резолюцию (Для ассистента) -->
                <v-list-item
                  v-else
                  :to="{ name: 'ReviewFormProjectResolutionEdit' }"
                  :disabled="currentUserReview && (!currentUserReview.has_resolution || currentUserReview.is_verified)"
                  link
                  class="border-bottom"
                >
                  <v-list-item-title>
                    <div class="d-flex align-center">
                      <users-icon size="18" class="primary-text mr-3" />

                      <span class="font-500">{{$t('document-flow.views.boxes.edit-resolution')}}</span>
                    </div>
                  </v-list-item-title>
                </v-list-item>
                <!-- /Изменить резолюцию (Для ассистента) -->

                <!-- Удалить пользователей из поручений :to="{ name: 'RemoveUsersAssignment' }" -->
                <v-list-item
                  :disabled="currentUserReview && (!currentUserReview.has_resolution || currentUserReview.is_verified)"
                  class="border-bottom"
                  @click="removeResolution"
                >
                  <v-list-item-title>
                    <div class="d-flex align-center">
                      <user-x-icon size="18" class="error-text mr-3" />

                      <span class="font-500">Удалить фишку</span>
                    </div>
                  </v-list-item-title>
                </v-list-item>
                <!-- Удалить пользователей из поручений -->

                <!-- Отправить на подпись -->
                <v-list-item
                  v-if="currentUser.role === 'assistant'"
                  :disabled="getIsDocumentAssigned.is_verified"
                  link
                  class="border-bottom"
                  @click="toAssign"
                >
                  <v-list-item-title>
                    <div class="d-flex align-center">
                      <edit3-icon size="18" class="primary-text mr-3" />

                      <span class="font-500">{{$t('document-flow.views.boxes.send-for-signature')}}</span>
                    </div>
                  </v-list-item-title>
                </v-list-item>
                <!-- /Отправить на подпись -->

                <!-- Отменить подпись -->
                <v-list-item
                  v-if="currentUser.role !== 'assistant'"
                  :disabled="!getIsDocumentAssigned.is_verified"
                  link
                  @click="cancelSign"
                  class="border-bottom"
                >
                  <v-list-item-title>
                    <div class="d-flex align-center">
                      <x-icon size="20" class="error-text mr-3" />

                      <span class="font-500">{{$t('document-flow.views.boxes.cancel-sign')}}</span>
                    </div>
                  </v-list-item-title>
                </v-list-item>
                <!-- /Отменить подпись -->
              </template>

              <template v-else>
                <!-- Создать резолюцию CreateResolution-->
                <v-list-item
                  :to="{name: 'ReviewFormProjectResolution'}"
                  v-if="currentUserReview && !currentUserReview.has_resolution"
                  :disabled="!currentUserReview.read_time"
                  link
                  class="border-bottom"
                >
                  <v-list-item-title>
                    <div class="d-flex align-center">
                      <users-icon size="18" class="primary-text mr-3" />

                      <span class="font-500">{{$t('document-flow.views.boxes.create-resolution')}}</span>
                    </div>
                  </v-list-item-title>
                </v-list-item>

                <v-list-item
                  v-else
                  :to="{name: 'ReviewFormProjectResolutionEdit'}"
                  link
                  class="border-bottom"
                >
                  <v-list-item-title>
                    <div class="d-flex align-center">
                      <users-icon size="18" class="primary-text mr-3" />

                      <span class="font-500">{{$t('document-flow.views.boxes.edit-resolution')}}</span>
                    </div>
                  </v-list-item-title>
                </v-list-item>
                <!-- /Проект резолюция -->
              </template>

              <!-- Перенаправить документ -->
              <v-list-item
                link
                :disabled="hasResolutionCreated"
                @click="forwardDialog = true"
                class="border-bottom"
              >
                <v-list-item-title>
                  <div class="d-flex align-center">
                    <repeat-icon size="18" class="warning-text mr-3" />

                    <span class="font-500">{{$t('document-flow.views.boxes.redirect-document')}}</span>
                  </div>
                </v-list-item-title>
              </v-list-item>

              <!--SHOW RESPOND DOCUMENT-->
              <v-list-item
                v-if="reviewGetOne && reviewGetOne.compose_detail"
                link
                @click="$router.push({
                  name: reviewGetOne.compose_detail.journal_id === 3 ? 'InnerDocumentRegistrationFormShow' : reviewGetOne.compose_detail.journal_id === 4 ? 'OutgoingDocumentRegistrationFormShow' : 'OrdersProtocolsDocumentRegistrationFormShow',
                  params: { id: reviewGetOne.compose_detail.reply_document_id },
                  query: { type: 'for_watching_process' }
                })"
                class="border-bottom"
              >
                <v-list-item-title>
                  <div class="d-flex align-center">
                    <v-icon size="18" color="primary" class="mr-3">mdi-file-document</v-icon>

                    <span class="font-500">{{$t('document-flow.views.boxes.response-letter')}}</span>
                  </div>
                </v-list-item-title>
              </v-list-item>
              <!--/SHOW RESPOND DOCUMENT-->

              <!-- Answer to message -->
              <!--	            <v-list-item
                                  v-if="reviewGetOne.doc_type && reviewGetOne.doc_type.type === 'doc_type' && reviewGetOne.send_date"
                                  link
                                  :to="{ name: 'SendingDocumentsCreate', query: { type: 'inner', register_date: reviewGetOne.send_date, register_number: reviewGetOne.register_number } }"
                              >
                                  <v-list-item-title>
                                      <div class="d-flex align-center">
                                          <v-icon class="mr-2">mdi-reply-outline</v-icon>

                                          <span class="font-500">{{$t('document-flow.views.boxes.answer')}}</span>
                                      </div>
                                  </v-list-item-title>
                              </v-list-item>-->
              <!--	            <v-list-->
              <!--	              dense-->
              <!--	            >-->
              <!--              <v-list-group-->
              <!--                v-if="reviewGetOne.doc_type && reviewGetOne.doc_type.type === 'doc_type' && reviewGetOne.send_date"-->
              <!--                prepend-icon="mdi-reply-outline"-->
              <!--                no-action-->
              <!--                class="more-button-action"-->
              <!--              >-->
              <!--                <template v-slot:activator>-->
              <!--                  <v-list-item-title>-->
              <!--                    <div class="d-flex align-center">-->
              <!--                      <span class="font-500">{{$t('document-flow.views.boxes.answer')}}</span>-->
              <!--                    </div>-->
              <!--                  </v-list-item-title>-->
              <!--                </template>-->

              <!--                <v-list-item-->
              <!--                  class="py-0 px-12"-->
              <!--                  v-if="reviewGetOne.doc_type && reviewGetOne.doc_type.type === 'doc_type' && reviewGetOne.send_date"-->
              <!--                  :disabled="(currentUserReview && !currentUserReview.read_time) || getIsDocumentAssigned.is_verified"-->
              <!--                  link-->
              <!--                  :to="{ name: 'SendingDocumentsCreate', query: { type: 'inner', register_date: reviewGetOne.send_date, register_number: reviewGetOne.register_number, reply_document_id: reviewGetOne.id  } }"-->
              <!--                >-->
              <!--                  <v-list-item-title>-->
              <!--                    <div class="d-flex align-center">-->
              <!--                      <span class="font-500">{{$t('document-flow.views.boxes.interior')}}</span>-->
              <!--                    </div>-->
              <!--                  </v-list-item-title>-->
              <!--                </v-list-item>-->

              <!--                <v-list-item-->
              <!--                  class="py-0 px-12"-->
              <!--                  v-if="reviewGetOne.doc_type && reviewGetOne.doc_type.type === 'doc_type' && reviewGetOne.send_date"-->
              <!--                  :disabled="(currentUserReview && !currentUserReview.read_time) || getIsDocumentAssigned.is_verified"-->
              <!--                  link-->
              <!--                  :to="{ name: 'SendingDocumentsCreate', query: { type: 'outgoing', register_date: reviewGetOne.send_date, register_number: reviewGetOne.register_number, reply_document_id: reviewGetOne.id } }"-->
              <!--                >-->
              <!--                  <v-list-item-title>-->
              <!--                    <div class="d-flex align-center">-->
              <!--                      <span class="font-500">{{$t('document-flow.views.boxes.outgoing')}}</span>-->
              <!--                    </div>-->
              <!--                  </v-list-item-title>-->
              <!--                </v-list-item>-->
              <!--              </v-list-group>-->

              <v-list-group
                prepend-icon="mdi-list-status"
              >
                <template v-slot:activator>
                  <v-list-item-title>
                    <div class="d-flex align-center">
                      <span class="font-500">{{$t('document-flow.views.boxes.change-status')}}</span>
                    </div>
                  </v-list-item-title>
                </template>

                <template v-for="item in statusList">
                  <v-list-item
                    @click="changeStatusModalView(item.id)"
                    :disabled="!(currentUserReview && currentUserReview.read_time) || (getCurrentStatus && getCurrentStatus.status === item.id)"
                    link
                    class="py-0 px-12"
                  >
                    <v-list-item-title>
                      <div class="d-flex align-center">
                  <span
                    class="font-500"
                  >{{ item.name }}</span>
                      </div>
                    </v-list-item-title>
                  </v-list-item>
                </template>
              </v-list-group>
            </v-list>
          </v-menu>
				</div>

				<v-row>
          <v-col md="6">
            <div class="app-input">
              <span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.boxes.type-registration-document')}}</span>

              <v-text-field
                :value="reviewGetOne.journal && reviewGetOne.journal.name"
                hide-details
                outlined
                readonly
                background-color="var(--input-bg)"
              ></v-text-field>
            </div>
          </v-col>

          <v-col md="6">
            <div class="app-input">
              <span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.boxes.registration-number')}}</span>

              <v-text-field
                v-model="reviewGetOne.register_number"
                hide-details
                outlined
                readonly
                background-color="var(--input-bg)"
                @keypress="$store.dispatch('documentFlowModule/checkKeyDownAlphaNumeric', $event)"
              ></v-text-field>
            </div>
          </v-col>

          <v-col md="6">
            <div class="app-input">
              <span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.boxes.registration-date')}}</span>

              <app-date-picker
                v-model="reviewGetOne.register_date"
                with-input
                disabledMenu
                background-color="var(--input-bg)"
              />
            </div>
          </v-col>

          <v-col md="6">
            <div class="app-input">
              <span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.boxes.document-type')}}</span>

              <v-text-field
                :value="reviewGetOne.doc_type && reviewGetOne.doc_type.name"
                hide-details
                outlined
                readonly
                background-color="var(--input-bg)"
              ></v-text-field>
            </div>
          </v-col>

          <!-- Внутренние -->
          <template v-if="reviewGetOne.journal && reviewGetOne.journal.id === 3">
            <v-col md="6">
              <div class="app-input">
                <span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.boxes.author')}}</span>

                <v-text-field
                  :value="reviewGetOne.author && (`${reviewGetOne.author.first_name && getFirstCharacter(reviewGetOne.author.first_name)} ${reviewGetOne.author.father_name && getFirstCharacter(reviewGetOne.author.father_name)} ${reviewGetOne.author.last_name}`)"
                  hide-details
                  outlined
                  readonly
                  background-color="var(--input-bg)"
                ></v-text-field>
              </div>
            </v-col>
          </template>

          <template v-if="reviewGetOne.journal && reviewGetOne.journal.id === 3 || reviewGetOne.journal && reviewGetOne.journal.id === 4">
            <v-col md="6">
              <div class="app-input">
                <span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.boxes.department')}}</span>

                <v-text-field
                  :value="reviewGetOne.department && reviewGetOne.department.name"
                  hide-details
                  outlined
                  readonly
                  background-color="var(--input-bg)"
                ></v-text-field>
              </div>
            </v-col>
          </template>

          <template
            v-if="reviewGetOne.journal && reviewGetOne.journal.id === 3 || reviewGetOne.journal && reviewGetOne.journal.id === 4"
          >
            <v-col md="6">
              <div class="app-input">
                <span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.boxes.signatory')}}</span>

                <v-text-field
                  :value="reviewGetOne.signer && reviewGetOne.signer.full_name"
                  hide-details
                  outlined
                  readonly
                  background-color="var(--input-bg)"
                ></v-text-field>
              </div>
            </v-col>
          </template>

          <template
            v-if="reviewGetOne.journal && reviewGetOne.journal.id === 3 || reviewGetOne.journal && reviewGetOne.journal.id === 4"
          >
            <v-col md="6">
              <div class="app-input">
                <span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.boxes.author')}}</span>

                <v-text-field
                  :value="reviewGetOne.author && reviewGetOne.author.full_name"
                  hide-details
                  outlined
                  readonly
                  background-color="var(--input-bg)"
                ></v-text-field>
              </div>
            </v-col>
          </template>

          <template v-if="reviewGetOne.journal && reviewGetOne.journal.id === 3">
            <v-col md="6">
              <div class="app-input">
                <span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.boxes.branch')}}</span>

                <v-text-field
                  :value="reviewGetOne.filial && reviewGetOne.filial.name"
                  hide-details
                  outlined
                  readonly
                  background-color="var(--input-bg)"
                ></v-text-field>
              </div>
            </v-col>
          </template>
          <!-- /Внутренние -->

          <template v-if="reviewGetOne.journal && reviewGetOne.journal.id === 6">
            <v-col md="6">
              <div class="app-input">
                <span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.boxes.document-name')}}</span>

                <v-text-field
                  v-model="reviewGetOne.title"
                  hide-details
                  outlined
                  readonly
                  background-color="var(--input-bg)"
                ></v-text-field>
              </div>
            </v-col>
          </template>

          <template
            v-if="
              reviewGetOne.journal && reviewGetOne.journal.id !== 6
              && reviewGetOne.journal && reviewGetOne.journal.id !== 3
              && reviewGetOne.journal && reviewGetOne.journal.id !== 4
              && reviewGetOne.journal && reviewGetOne.journal.id !== 7
            "
          >
            <v-col md="6">
              <div class="app-input">
                <span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.boxes.outgoing-number')}}</span>

                <v-text-field
                  v-model="reviewGetOne.outgoing_number"
                  hide-details
                  outlined
                  readonly
                  background-color="var(--input-bg)"
                ></v-text-field>
              </div>
            </v-col>
          </template>

          <template
            v-if="
              reviewGetOne.journal && reviewGetOne.journal.id !== 6
              && reviewGetOne.journal && reviewGetOne.journal.id !== 3
              && reviewGetOne.journal && reviewGetOne.journal.id !== 4
              && reviewGetOne.journal && reviewGetOne.journal.id !== 7
            "
          >
            <v-col md="6">
              <div class="app-input">
                <span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.boxes.outgoing-date')}}</span>

                <app-date-picker
                  v-model="reviewGetOne.outgoing_date"
                  with-input
                  disabledMenu
                  background-color="var(--input-bg)"
                />
              </div>
            </v-col>
          </template>

          <template
            v-if="
              reviewGetOne.journal && reviewGetOne.journal.id !== 6
              && reviewGetOne.journal && reviewGetOne.journal.id !== 3
              && reviewGetOne.journal && reviewGetOne.journal.id !== 4
            "
          >
            <v-col md="6">
              <div class="app-input">
                <span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.boxes.correspondent')}}</span>

                <v-text-field
                  v-model="reviewGetOne.correspondent && reviewGetOne.correspondent.organization_name"
                  hide-details
                  outlined
                  readonly
                  background-color="var(--input-bg)"
                ></v-text-field>
              </div>
            </v-col>
          </template>

          <template v-if="reviewGetOne.journal && reviewGetOne.journal.id === 7">

          <v-col md="6">
            <div class="app-input">
              <span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.boxes.author')}}</span>

              <v-text-field
                v-model="reviewGetOne.author && reviewGetOne.author.full_name"
                hide-details
                outlined
                readonly
                background-color="var(--input-bg)"
              ></v-text-field>
            </div>
          </v-col>
        </template>

          <template v-if="reviewGetOne.journal && reviewGetOne.journal.id === 6">
            <v-col md="6">
              <div class="app-input">
                <span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.boxes.journal')}}</span>

                <v-text-field
                  :value="reviewGetOne.sub_journal && reviewGetOne.sub_journal.name"
                  hide-details
                  outlined
                  readonly
                  background-color="var(--input-bg)"
                ></v-text-field>
              </div>
            </v-col>
          </template>

          <template v-if="reviewGetOne.journal && reviewGetOne.journal.id === 6">
            <v-col md="6">
              <div class="app-input">
                <span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.boxes.branch')}}</span>

                <v-text-field
                  :value="reviewGetOne.filial && reviewGetOne.filial.name"
                  hide-details
                  outlined
                  readonly
                  background-color="var(--input-bg)"
                ></v-text-field>
              </div>
            </v-col>

            <v-col md="6">
              <div class="app-input">
                <span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.boxes.department')}}</span>

                <v-text-field
                  :value="reviewGetOne.department && reviewGetOne.department.name"
                  hide-details
                  outlined
                  readonly
                  background-color="var(--input-bg)"
                ></v-text-field>
              </div>
            </v-col>
          </template>

					<template v-if="reviewGetOne.journal && reviewGetOne.journal.id === 1">
						<v-col md="6">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.boxes.document-priority')}}</span>

								<v-select
									v-model="reviewGetOne.priority"
									:items="$store.state.priorityList"
									item-text="title"
									item-value="value"
									outlined
									hide-details
									readonly
									background-color="var(--input-bg)"
								>
									<template #append>
										<v-icon>mdi-chevron-down</v-icon>
									</template>
								</v-select>
							</div>
						</v-col>
					</template>

					<template v-if="reviewGetOne.journal && reviewGetOne.journal.id === 5">
						<v-col md="6">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.boxes.applicant')}}</span>

								<v-text-field
									hide-details
									outlined
									readonly
									:value="reviewGetOne.applicant === 'physics' ? $t('document-flow.views.boxes.individual') : $t('document-flow.views.boxes.legal-entity')"
									background-color="var(--input-bg)"
								></v-text-field>
							</div>
						</v-col>

						<v-col md="6">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.boxes.region')}}</span>

								<v-text-field
									hide-details
									outlined
									readonly
									:value="reviewGetOne.region && reviewGetOne.region.name"
									background-color="var(--input-bg)"
								></v-text-field>
							</div>
						</v-col>

						<v-col md="6">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.boxes.district')}}</span>

								<v-text-field
									hide-details
									outlined
									readonly
									:value="reviewGetOne.district && reviewGetOne.district.name"
									background-color="var(--input-bg)"
								></v-text-field>
							</div>
						</v-col>

						<v-col md="6">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.boxes.applicant-fill-name')}}</span>

								<v-text-field
									hide-details
									outlined
									readonly
									:value="reviewGetOne.full_name_sender"
									background-color="var(--input-bg)"
								></v-text-field>
							</div>
						</v-col>

						<v-col md="6">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.boxes.address')}}</span>

								<v-text-field
									hide-details
									outlined
									readonly
									:value="reviewGetOne.address"
									background-color="var(--input-bg)"
								></v-text-field>
							</div>
						</v-col>

						<v-col md="6">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.boxes.phone-number')}}</span>

								<v-text-field
									v-mask="'+998 (##) ### ## ##'"
									hide-details
									outlined
									readonly
									:value="reviewGetOne.phone_number"
									background-color="var(--input-bg)"
								></v-text-field>
							</div>
						</v-col>

						<v-col md="6">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.boxes.submission-form')}}</span>

								<v-text-field
									hide-details
									outlined
									readonly
									:value="reviewGetOne.delivery_type && reviewGetOne.delivery_type.name"
									background-color="var(--input-bg)"
								></v-text-field>
							</div>
						</v-col>

						<v-col md="6">
							<div class="app-input">
								<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.boxes.type-complaint')}}</span>

								<v-text-field
									hide-details
									outlined
									readonly
									:value="reviewGetOne.complaint_type && reviewGetOne.complaint_type.name"
									background-color="var(--input-bg)"
								></v-text-field>
							</div>
						</v-col>
					</template>

					<v-col md="12">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.boxes.for-consideration')}}</span>

							<app-table
								:table-width="500"
								:table-head-items="employeeTableHeaders"
							>
								<template #tableBody>
									<tr v-for="(user, index) in reviewUsersList" :key="user.id">
										<td>{{ index + 1 }}</td>
										<td>{{ user.user.full_name }}</td>
										<td>{{ user.created_date | filterCalendarToTime }}</td>
									</tr>
								</template>
							</app-table>
						</div>
					</v-col>

					<v-col md="12">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.boxes.files')}}</span>

							<app-table
								:table-width="500"
								:table-head-items="filesTableHeaders"
							>
								<template #tableBody>
									<tr v-for="(document, index) in attachDocumentsList" :key="document.id">
										<td>{{ index + 1 }}</td>
										<td>{{ document.document.name }}</td>
										<td>{{ document.document.created_date | filterCalendarToTime }}</td>
										<td>
											<div class="d-flex align-center" style="width: 90px">
												<app-button
													min-width="43"
													width="43px"
													color="var(--primary-3)"
													icon
													@click="fetchDownloadDocument(document.document)"
												>
													<template #prepend>
														<download-icon size="18" />
													</template>
												</app-button>

												<app-button
													min-width="43"
													width="43px"
													color="var(--primary-3)"
													icon
													@click="viewDocument(document.document.url)"
												>
													<v-icon size="20">
														mdi-eye-outline
													</v-icon>
												</app-button>
											</div>
										</td>
									</tr>
								</template>
							</app-table>
						</div>
					</v-col>

					<template v-if="reviewGetOne.journal && reviewGetOne.journal.id !== 3">
            <v-col md="12">
              <div class="app-input">
                <span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.boxes.content')}}</span>

                <quill-editor
                  v-model="reviewGetOne.description || reviewGetOne.text"
                  disabled
                  background-color="var(--input-bg)"
                />
              </div>
            </v-col>
          </template>

          <template v-if="reviewGetOne.journal && reviewGetOne.journal.id === 3">
            <v-col md="12">
              <div class="app-input">
                <span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.boxes.content')}}</span>

                <v-textarea
                  v-model="reviewGetOne.text && reviewGetOne.text.replace(/(<([^>]+)>)/gi, '')"
                  outlined
                  hide-details
                  no-resize
                  auto-grow
                  readonly
                  background-color="var(--input-bg)"
                ></v-textarea>
              </div>
            </v-col>
          </template>

<!--          v-if="currentUser.role !== 'assistant'"-->
          <v-col md="12">
            <template v-if="currentUserReview">
              <app-button
                class="flex-1 mr-4"
                color="#ff2200"
                :disabled="Boolean(currentUserReview.read_time)"
                @click="getAcquainted"
              >
                <template #default>
                  <span v-if="!currentUserReview.read_time">{{$t('document-flow.views.boxes.introduce-with-document')}}</span>
                  <span v-else>{{$t('document-flow.views.boxes.document-was-read')}}</span>
                </template>
              </app-button>

              <app-button
                class="flex-1"
                color="success"
                :disabled="!Boolean(currentUserReview.read_time) || (isDocumentExecuted.status === 4)"
                @click="changeStatusModalView(4)"
              >
                <template #default>
                  <span v-if="isDocumentExecuted.status === 4">{{$t('document-flow.views.boxes.document-executed')}}</span>
                  <span v-else>{{$t('document-flow.views.boxes.follow-document')}}</span>
                </template>
              </app-button>
            </template>
          </v-col>

					<v-col md="12">
						<activity v-if="reviewGetOne.document_unique_id" :document-model="reviewGetOne" />
					</v-col>
				</v-row>
			</div>
		</template>

    <!-- ForwardTo modal -->
    <v-dialog
      v-model="forwardDialog"
      max-width="960"
      content-class="reset-dialog-style"
    >
      <div class="bg-white rounded-20 pa-4">
        <v-row class="d-flex align-center pl-4 pt-2">
          <v-col md="4">
            <h4 class="font-500">{{$t('document-flow.views.boxes.redirect-document')}}</h4>
          </v-col>

          <v-col md="6">
            <v-text-field
              v-model="search"
              dense
              outlined
              hide-details
              :placeholder="$t('document-flow.views.boxes.search-users')"
              background-color="var(--input-bg)"
              @input="searchDebounce"
            >
              <template #prepend-inner>
                <search-icon size="20" color="var(--text-3)" class="mr-2 d-block" style="margin-top: 2px" />
              </template>
            </v-text-field>
          </v-col>

          <v-col md="2" align="end">
            <app-button
              color="error"
              icon
              min-width="35"
              width="35"
              height="35"
              @click="forwardDialog = false"
            >
              <x-icon />
            </app-button>
          </v-col>
        </v-row>

        <div class="mt-5 border-top mx-n4">
          <perfect-scrollbar style="max-height: 335px">
            <v-list>
              <v-list-item-group
                v-model="userSearch"
                active-class="primary--text"
              >
                <template v-if="usersList.length">
                  <v-list-item
                    v-for="item in usersList"
                    :key="item.id"
                    :disabled="getDisableItems(item)"
                    class="mb-2 mx-3 rounded-10 overflow-hidden pa-0"
                  >
                    <template v-slot:default="{ active }">
                      <div
                        class="d-flex w-100 pa-3 rounded-10"
                        style="border: 1px solid transparent"
                        :style="{borderColor: active ? '#5964D1' : 'transparent'}"
                        @click="forwardUserSelected(active ? null : item.id)"
                      >
                        <v-avatar
                          :color="item.color"
                          size="48"
                          class="mr-3"
                          style="z-index: 1;"
                        >
                          <template v-if="item.avatar">
                            <img
                              :src="item.avatar.url"
                              alt="Avatar image"
                              class="img-cover w-100 h-100"
                            >
                          </template>

                          <template v-else>
                            <span class="white--text body-1">
                              {{ item.full_name | getFirstCharacterWithoutDot }}
                            </span>
                          </template>
                        </v-avatar>

                        <div class="flex-1">
                          <div class="d-flex align-center mb-1">
                            <h4 class="font-500 small-2 mr-2">{{ item.full_name }}</h4>
                            <span
                              class="font-500 small-2"
                              :class="{
                                'success-text' : item.condition_name === 'Рабочие' || item.condition_name === 'Командировка',
                                'red--text' : item.condition_name !== 'Рабочие' && item.condition_name !== 'Командировка',
                              }"
                            >
                              ({{ item.condition_name }})
                            </span>

                            <v-spacer />

                            <span class="font-500 small-2">{{ item.cisco }}</span>
                          </div>

                          <div class="d-flex align-center flex-wrap small-2">
                            <span class="mr-2">{{ item.position }}</span>
                            <v-divider
                              vertical
                              style="border-color: #F1F1F1; border-width: 1px"
                              class="mr-2"
                            />

                            <span class="mr-2">{{ item.dep_name }}</span>
                            <v-divider
                              vertical
                              style="border-color: #F1F1F1; border-width: 1px"
                              class="mr-2"
                            />
                          </div>
                        </div>
                      </div>
                    </template>
                  </v-list-item>
                </template>

                <template v-else>
                  <p class="font-500 text-center body-1">{{$t('document-flow.views.boxes.nothing-yet')}}</p>
                </template>
              </v-list-item-group>
            </v-list>
          </perfect-scrollbar>
        </div>

        <div class="border-top ml-n4 pa-5">
          <div class="app-input">
            <span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.boxes.write-content')}} <span class="red--text">({{$t('document-flow.views.boxes.minimum-15-characters')}})</span></span>

            <v-textarea
              v-model="$v.forwardText.$model"
              :error="$v.forwardText.$error"
              outlined
              hide-details
              no-resize
              auto-grow
              background-color="var(--input-bg)"
            ></v-textarea>
          </div>
        </div>

        <div class="border-top mx-n4 pa-3 pb-0 text-center">
          <app-button @click="forwardTo">
            <template #prepend>
              <send-icon size="20" />
            </template>

            <template #default>
              {{$t('document-flow.views.boxes.send-document')}}
            </template>
          </app-button>
        </div>
      </div>
    </v-dialog>
    <!-- ForwardTo modal -->

    <!-- ChangeStatus modal -->
    <v-dialog
      v-model="changeStatusModal"
      max-width="760"
      content-class="reset-dialog-style"
    >
      <div class="bg-white">
        <div class="d-flex align-center py-3 px-4">
          <h4 class="font-500">{{$t('document-flow.views.boxes.change-status')}}</h4>

          <v-spacer />

          <v-btn
            icon
            color="error"
            small
            @click="changeStatusModal = false"
          >
            <x-icon></x-icon>
          </v-btn>
        </div>

        <div class="border-top border-bottom py-3 px-4">
          <div class="app-input">
            <span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.boxes.content')}}</span>

            <quill-editor
              v-model="$v.changeStatusText.$model"
              :error="$v.changeStatusText.$error"
            />
          </div>
        </div>

        <div class="d-flex py-3 px-4 justify-space-between">
	        <resolution-content-modal
		        @emit:up="(text) => changeStatusText = text.name"
	        />
          <app-button
	          @click="updateDocumentStatus"
          >
            {{$t('document-flow.views.boxes.change-status')}}
          </app-button>
        </div>
      </div>
    </v-dialog>
    <!-- /ChangeStatus modal -->

		<form class="d-none" name=testform>
			<label id="message"></label>
			<p>{{$t('document-flow.views.boxes.select-key-type')}}:</p>
			<input type="radio" id="pfx" name="keyType" value="pfx" onchange="keyType_changed()" checked="checked"><label
			for="pfx">PFX</label> - <select name="key" @change="cbChanged(this)"></select><br/>
			<input type="radio" id="idcard" name="keyType" value="idcard" onchange="keyType_changed()"><label for="idcard">ID-card</label>
			- <label id="plugged">{{$t('document-flow.views.boxes.no-connected')}}</label><br>
			<br/>
			{{$t('document-flow.views.boxes.signature-text')}} <br/>
			<textarea name="data"></textarea><br/>
			<p>{{$t('document-flow.views.boxes.select-document-type')}}:</p>
			<input type="radio" id="attached" name="pkcs7Type" value="attached" onchange="pkcs7Type_changed()"
			       checked="checked"><label for="attached">{{$t('document-flow.views.boxes.attached')}}</label><br/>
			<input type="radio" id="detached" name="pkcs7Type" value="detached" onchange="pkcs7Type_changed()"><label
			for="detached">{{$t('document-flow.views.boxes.detached')}}</label><br>
			<br/>
			<button @click="signDocument" type="button" id="signButton">{{$t('document-flow.views.boxes.sign-with-pfx-key')}}</button>
			<br/>
			<label id="progress"></label>
			<br/>
			{{$t('document-flow.views.boxes.id-key')}}: <label id="keyId"></label><br/>
			<br/>
			<label id="pkcs7Type_label">{{$t('document-flow.views.boxes.signed-document')}}</label><br/>
			<textarea name="pkcs7"></textarea><br/>
		</form>

		<pdf-viewer-modal ref="pdfModal" />
	</div>
</template>

<script>
import { REFERENCE_CORRESPONDENT, REFERENCE_DOC_TYPE, TABLE_HEAD_TEXT_LIST } from "@/common/constants";
import { selectFromList } from "@/common/helpers";
import PdfViewerModal from "../../../../../common/components/PdfViewerModal";
import ResolutionContentModal from "../../../../../common/components/ResolutionContentModal";
import Activity from "../../Registration/components/Components/Activity";

import { debounce } from "lodash";
import { ArrowLeftIcon, ChevronDownIcon, DownloadIcon, Edit3Icon, MoreVerticalIcon, RepeatIcon, SearchIcon, SendIcon, UsersIcon, XIcon, UserXIcon } from "vue-feather-icons";
import { minLength, required } from "vuelidate/lib/validators";
import { mapActions, mapGetters, mapState } from "vuex";

const EIMZO_MAJOR = 3;
const EIMZO_MINOR = 37;

export default {
	name: "ReviewFormShowView",
	props: {
		formTitle: {
			type: String,
			default: "Регистрация документа"
		}
	},
	components: {
		Activity,
		PdfViewerModal,
		ResolutionContentModal,
		DownloadIcon,
    ArrowLeftIcon,
		ChevronDownIcon,
    MoreVerticalIcon,
    RepeatIcon,
    XIcon,
    UsersIcon,
    Edit3Icon,
    SearchIcon,
    SendIcon,
		UserXIcon
	},
	data() {
		return {
			REFERENCE_DOC_TYPE,
			REFERENCE_CORRESPONDENT,
			pkcs7: "",
			keyId: "",
			keyValue: "",
			keyUsersList: [],
      forwardDialog: false,
      userSearch: null,
      search: null,
      forwardUserId: null,
      forwardText: null,
      changeStatusModal: false,
      changeStatusText: null,
      changeStatusNumber: null
		}
	},
  validations: {
    forwardText: {
      required,
      minLength: minLength(15)
    },
    changeStatusText: {
      required
    }
  },
	computed: {
    ...mapState({
      filteredState: state => state.headerFilter.filteredState,
      filterPagination: state => state.headerFilter.pagination,
      indexTableFilters: state => state.documentFlowBoxesReview.indexTableFilters
    }),
    /*
    *
    * */
		...mapGetters({
      isLoading: "getDetailLoading",
      usersList: "getUsersList",
      getDisableItems: "getDisableItems",
      currentUser: "auth/getCurrentUser",
      reviewGetOne: "documentFlowModule/getReviewGetOne",
      reviewUsersList: "documentFlowModule/getReviewUsersList",
      attachDocumentsList: "documentFlowModule/getAttachDocumentsList",
      getIsDocumentAssigned: "documentFlowModule/getIsDocumentAssigned",
      getCreatedResolutionList: "documentFlowModule/getCreatedResolutionList",
      getDocumentResolution: "documentFlowModule/getDocumentResolution",
      getAssignedUsersTreeList: "documentFlowModule/getAssignedUsersTreeList",
		}),
    /*
    *
    * */
    getCurrentStatus() {
      return this.getAssignedUsersTreeList && this.getAssignedUsersTreeList.find(item => item.creator.id === this.currentUser.id)
    },
    /*
    *
    * */
    statusList() {
      return this.$store.state.statusList.filter(item => item.id !== 5)
    },
    /*
    *
    * */
    isDocumentExecuted() {
      return this.getAssignedUsersTreeList.find(user => user.creator.id === this.currentUser.id) || {}
    },
    /*
     *
     * */
    currentUserReview() {
      if(Object.keys(this.reviewGetOne).length) {
        return this.reviewGetOne.review_users.length ?
          this.reviewGetOne.review_users.find(
            user => user.user.id === this.currentUser.id ||
              user.user.assistants && user.user.assistants.includes(this.currentUser.id
            )
          )
          : {}
      }
    },
    /*
    *
    * */
    getCurrentAssistant() {
		  if(Object.keys(this.reviewGetOne).length) {
		    if(Object.keys(this.getDocumentResolution).length) {
		      if(this.reviewGetOne.hasOwnProperty("review_users")) {
            let currentDeputyChair = this.reviewGetOne && this.reviewGetOne.review_users.find(item => item.user.id === this.getDocumentResolution.currentUserId)

            return currentDeputyChair.user.assistants[0] === this.currentUser.id
          }
        }
      }
    },
    /*
    *
    * */
    documentReferenceUrl() {
      return `/docflow/${this.currentUser.filial}/reference/`
    },
    /*
    *
    * */
    journalUrl() {
      return `/docflow/${this.currentUser.filial}/journal/`
    },
		/*
		*
		* */
		filesTableHeaders() {
			return selectFromList([1, 22, 23, 19], TABLE_HEAD_TEXT_LIST)
		},
		/*
		*
		* */
		employeeTableHeaders() {
			return selectFromList([1, 24, 23], TABLE_HEAD_TEXT_LIST)
		},
		/*
		*
		* */
		hasResolutionCreated() {
			if(Object.keys(this.reviewGetOne).length) {
        return this.reviewGetOne && this.reviewGetOne.review_users.find(
          review => review.user.id === this.currentUser.id ||
            review.user.assistants && review.user.assistants.find(assistant => assistant === this.currentUser.id)
        )?.has_resolution
			}
		},
    /*
    *
    * */
    isUserCanSign() {
      let role = this.currentUser.role

      return role === "chairman"||
        role === "deputy_chair" ||
        role === "assistant" ||
        role === "filial_deputy_manager" ||
        role === "filial_manager" ||
        role === "department_director" ||
        role === "department_employee" ||
        role === "department_deputy_director" ||
        role === "admin" ||
	      role === "chancellery" ||
	      role === "chancellery_admin" ||
	      role === "head_of_group"
    },
    /*
    *
    * */
    activeFiltered() {
      let active = {}

      Object.entries(this.indexTableFilters).forEach(filter => {
        const [key, value] = filter

        if(key.startsWith("__")) {
          return;
        }

        if(value || value === true || value === false) {
          active[key] = value
        }
      })

      return active
    }
	},
	created() {
		if(this.$route.params.id) {
			this.fetchReviewUsersList(this.$route.params.id)
		}
	},
	mounted() {
    // if(this.isUserCanSign) {
    this.appLoad();
    // }

    this.fetchUsersList({
      search: null
    })
	},
	methods: {
		...mapActions({
      fetchUsersList: "fetchUsersList",
			fetchReviewUsersList: "documentFlowModule/fetchReviewUsersList",
      fetchInboxListAll: "documentFlowModule/fetchInboxListAll",
      fetchAssignmentToAssign: "documentFlowModule/fetchAssignmentToAssign",
      fetchAssignDocument: "documentFlowModule/fetchAssignDocument",
      fetchCancelAssignDocument: "documentFlowModule/fetchCancelAssignDocument",
      fetchReviewGetAcquainted: "documentFlowModule/fetchReviewGetAcquainted",
      fetchChangeReviewUser: "documentFlowModule/fetchChangeReviewUser",
			fetchDownloadDocument: "documentFlowModule/fetchDownloadDocument",
			fetchIncomingDocumentById: "documentFlowModule/fetchIncomingDocumentById",
			fetchAssignedUsersTree: "documentFlowModule/fetchAssignedUsersTree",
      fetchNewComments: "action/fetchNewComments",
		}),
    /*
    *
    * */
		removeResolution() {
			if(!confirm(`Действительно хотите удалить фишку ?`)) {
				return
      }

			let currentUserTree = this.getAssignedUsersTreeList.find(item => item.creator.id === this.currentUser.id || (item.creator.assistants && item.creator.assistants[0] === this.currentUser.id))

      let assignmentId = currentUserTree && currentUserTree.children && currentUserTree.children[0] && currentUserTree.children[0][0] && currentUserTree.children[0][0].assignment

      if(assignmentId) {
				this.$axios.delete(`/docflow/${this.currentUser.filial}/assigment/${assignmentId}/`)
        .then(() => {
					this.$toast.success(`Фишка удален`)

          // window.location.reload()
	        this.fetchIncomingDocumentById(this.$route.params.id)

	        this.fetchAssignedUsersTree({
		        treeId: this.reviewGetOne.id
	        })
        })
      }
    },
    /*
    *
    * */
    changeStatusModalView(number) {
      this.changeStatusModal = !this.changeStatusModal
      this.changeStatusNumber = number
    },
    /*
    *
    * */
    updateDocumentStatus() {
      this.$v.changeStatusText.$touch();

      if(!this.changeStatusText?.replace(/(<([^>]+)>)/gi, "").trim()) {
        this.$toast.error(this.$t('document-flow.views.boxes.document-please-add-text'))

        return;
      }

      if (this.$v.changeStatusText.$invalid) {
        this.$toast.error(this.$t('document-flow.views.boxes.document-please-add-text'))
        return;
      }

      this.fetchNewComments({
        obj: this.reviewGetOne.id,
        description: this.changeStatusText,
        type: "doc_flow_comment"
      })
      .then(() => {
        this.$axios.put(`/docflow/${this.currentUser.filial}/for_review/${this.reviewGetOne.review_id}/`, {
          status: this.changeStatusNumber,
          text: this.changeStatusText
        })
        .then(() => {
          this.$toast.success(this.$t('document-flow.views.boxes.changed-status'))
	        this.fetchIncomingDocumentById(this.$route.params.id)

	        this.fetchAssignedUsersTree({
		        treeId: this.reviewGetOne.id
	        })

	        this.changeStatusModal = false
	        this.changeStatusText = null

	        this.$v.changeStatusText.$reset()
          // setTimeout(() => {
          //   window.location.reload()
          // }, 300)
        })
        .catch(err => {
          this.$toast.error(this.$t('document-flow.views.boxes.error'))
        })
      })
    },
    /*
    *
    * */
    changeStatus() {
      this.$http.put(`/docflow/${this.currentUser.filial}/user_reviews/${this.reviewGetOne.review_id}/`, {
        status: 4
      })
      .then(({ data }) => {
	      this.fetchIncomingDocumentById(this.$route.params.id)

	      this.fetchAssignedUsersTree({
		      treeId: this.reviewGetOne.id
	      })

	      this.changeStatusModal = false
	      this.changeStatusText = null

	      this.$v.changeStatusText.$reset()
        // window.location.reload()
        // this.getAssignedUsersTreeList[0].status = 4
        this.$toast.success(this.$t('document-flow.views.boxes.document-completed'))
      })
    },
    /*
    *
    * */
    getAcquainted() {
      this.fetchReviewGetAcquainted({
        reviewId: this.currentUserReview.id
      })
        .then(() => {
          this.$toast.success(this.$t('document-flow.views.boxes.document-was-read'))
	        this.fetchIncomingDocumentById(this.$route.params.id)

	        // this.fetchAssignedUsersTree({
		      //   treeId: this.reviewGetOne.id
	        // })
          // window.location.reload()
        })
    },
    /*
    *
    * */
		cbChanged(c) {
			this.keyId = "";
		},
		/*
		*
		* */
		signDocument() {
			let model = {
				pkcs7: this.pkcs7,
			  review_id: this.reviewGetOne.review_id,
			  assignment_ids: this.getCreatedResolutionList.map((item) => item.id),
			  is_verified: true
			}

			this.assignDocumentList(model)
		},
    /*
    *
    * */
    forwardUserSelected(id) {
      this.forwardUserId = id
    },
    /*
    *
    * */
    forwardTo() {
      this.$v.forwardText.$touch();

      if (this.$v.forwardText.$invalid) {
        this.$toast.error(this.$t('document-flow.views.boxes.document-please-add-text'))
        return;
      }

      if(!this.forwardUserId) {
        this.$toast.error(this.$t('document-flow.views.boxes.select-user'))

        return;
      }

      this.fetchChangeReviewUser({
        userId: this.forwardUserId,
        id: this.reviewGetOne.review_id
      })
      .then(() => {
        this.$toast.success(this.$t('document-flow.views.boxes.document-redirected'))

        this.fetchNewComments({
          obj: this.reviewGetOne.document_unique_id,
          description: this.forwardText,
          type: "doc_flow_comment"
        })

        this.$router.push({
          name: "BoxesTableType"
        })
      })
    },
    /*
    *
    * */
    searchDebounce: debounce(function() {
      this.fetchUsersList({
        search: this.search,
        pageSize: 50
      })
    }, 500),
		/*
		*
		* */
		send() {
			let keyType = document.testform.keyType.value;
			let pkcs7Type = document.testform.pkcs7Type.value;
			let itm = this.keyValue;
			if (itm) {
				let id = document.getElementById(itm);
				let vo = JSON.parse(id.getAttribute('vo'));
				let data = "Asakabank AJ Fishka";
				let keyId = this.keyId;
				if (keyId === "idcard") {
					keyId = null;
				}
				if (keyId) {
					EIMZOClient.createPkcs7(keyId, data, null, (pkcs7) => {
						this.pkcs7 = pkcs7;
						this.signDocument();
					}, function (e, r) {
						if (r) {
							if (r.indexOf("BadPaddingException") != -1) {
								this.$toast.error(this.$t('document-flow.views.boxes.error-4'));
							} else {
								this.$toast.warning(r);
							}
						} else {
							document.getElementById('keyId').innerHTML = '';
							this.$toast.error(this.$t('document-flow.views.boxes.error-2'));
						}
						if (e) this.wsError(e);
					}, pkcs7Type === "detached");
				} else {
					EIMZOClient.loadKey(vo, (id) => {
						this.keyId = id;
						EIMZOClient.createPkcs7(id, data, null, (pkcs7) => {
							this.pkcs7 = pkcs7;
							this.signDocument();
						}, (e, r) => {
							if (r) {
								if (r.indexOf("BadPaddingException") != -1) {
									this.$toast.error(this.$t('document-flow.views.boxes.error-4'));
								} else {
									this.$toast.warning(r);
								}
							} else {
								document.getElementById('keyId').innerHTML = '';
								this.$toast.error(this.$t('document-flow.views.boxes.error-2'));
							}
							if (e) this.wsError(e);
						}, pkcs7Type === "detached");
					}, (e, r) => {
						if (r) {
							if (r.indexOf("BadPaddingException") != -1) {
								this.$toast.error(this.$t('document-flow.views.boxes.error-4'));
							} else {
								this.$toast.error(r);
							}
						} else {
							this.$toast.error(this.$t('document-flow.views.boxes.error-2'));
						}
						if (e) this.wsError(e);
					});
				}
			} else {
				this.$toast.error("hide")
			}
		},
		/*
		*
		* */
		uiComboSelect(itm) {
			if (itm) {
				const id = document.getElementById(itm);
				id.setAttribute('selected', 'true');
			}
		},
		/*
		*
		* */
		uiFillCombo(items) {
			const combo = document.testform.key;
			for (let itm in items) {
				combo.append(items[itm]);
			}
			if (items.length){
				for (let item in items) {
					this.keyUsersList.push({
						name: items[item].text,
						value: items[item].value
					})
				}
				this.keyValue = items[0].value
			}else {
				alert(this.$t('document-flow.views.boxes.key-not-found'))
			}
		},
		/*
		*
		* */
		uiCreateItem(itmkey, vo) {
			const now = new Date();
			vo.expired = dates.compare(now, vo.validTo) > 0;
			const itm = document.createElement("option");
			itm.value = itmkey;
			itm.text = vo.CN;
			if (!vo.expired) {

			} else {
				itm.style.color = 'gray';
				itm.text = itm.text + this.$t('document-flow.views.boxes.expired');
			}
			itm.setAttribute('vo', JSON.stringify(vo));
			itm.setAttribute('id', itmkey);
			return itm;
		},
		/*
		*
		* */
		uiClearCombo() {
			let combo = document.testform.key;
			combo.length = 0;
		},
    /*
    *
    * */
		appLoad() {
			EIMZOClient.API_KEYS = [
				'localhost', '96D0C1491615C82B9A54D9989779DF825B690748224C2B04F500F370D51827CE2644D8D4A82C18184D73AB8530BB8ED537269603F61DB0D03D2104ABF789970B',
				'127.0.0.1', 'A7BCFA5D490B351BE0754130DF03A068F855DB4333D43921125B9CF2670EF6A40370C646B90401955E1F7BC9CDBF59CE0B2C5467D820BE189C845D0B79CFC96F',
				'null', 'E0A205EC4E7B78BBB56AFF83A733A1BB9FD39D562E67978CC5E7D73B0951DB1954595A20672A63332535E13CC6EC1E1FC8857BB09E0855D7E76E411B6FA16E9D',
				'go.asakabank.uz', '22F652CA374900B57C8B7E7375BA4DBA5E7CF9E055CA2B449450E2DFACF8900B878414EC7762D86DDC62592CAB8C3DA1C21DC2190F5FA27AA0B809CE4624F0B6'
			];

			EIMZOClient.checkVersion((major, minor) => {
				const newVersion = EIMZO_MAJOR * 100 + EIMZO_MINOR;
				const installedVersion = parseInt(major) * 100 + parseInt(minor);
				if (installedVersion < newVersion) {
					this.$toast.error(this.$t('document-flow.views.boxes.error-3'))
				} else {
					EIMZOClient.installApiKeys(() => {
						this.uiLoadKeys();
					}, (e, r) => {
						if (r) {
							this.$toast.error(r)
						} else {
							this.$toast.error(e)
						}
					});
				}
			}, (e, r) => {
				if (r) {
					this.$toast.error(r)
				} else {
					console.log(e)
					alert(this.$t('document-flow.views.boxes.key-not-found'))
				}
			});
		},
    /*
    *
    * */
		uiLoadKeys() {
			this.uiClearCombo();
			EIMZOClient.listAllUserKeys((o, i) => {
				const itemId = "itm-" + o.serialNumber + "-" + i;
				return itemId;
			}, (itemId, v) => {
				return this.uiCreateItem(itemId, v);
			}, (items, firstId) => {
				this.uiFillCombo(items);
				this.uiComboSelect(firstId);
			}, (e, r) => {
				if (e) {
					this.$toast.error(this.$t('document-flow.views.boxes.error-1') + e)
				} else {
					console.log(r);
				}
			});
			EIMZOClient.idCardIsPLuggedIn((yes) => {
				document.getElementById('plugged').innerHTML = yes ? this.$t('document-flow.views.boxes.connected') : this.$t('document-flow.views.boxes.no-connected');
			}, (e, r) => {
				if (e) {
					this.$toast.error(this.$t('document-flow.views.boxes.error-1') + e)
				} else {
					console.log(r);
				}
			})
		},
    /*
    *
    * */
    toAssign() {
      if(!confirm(this.$t('document-flow.views.boxes.want-send-document-for-signatory'))) {
        return;
      }

      let model = {
        review_id: this.reviewGetOne.review_id,
        assignment_ids: this.getCreatedResolutionList.map((item) => item.id)
      }

      this.fetchAssignmentToAssign({
        model
      })
        .then(() => {
          this.$toast.success(this.$t('document-flow.views.boxes.chip-was-send-for-signatory'))

          this.fetchInboxListAll({
            review: this.reviewGetOne.review_id,
            is_project_resolution: "True",
            ordering: 'id'
          })
        })
    },
    /*
    *
    * */
    cancelSign() {
      if(!confirm(this.$t('document-flow.views.boxes.want-cancel-signatory-document'))) {
        return;
      }

      let model = {
        review_id: this.reviewGetOne.review_id,
        assignment_ids: this.getCreatedResolutionList.map((item) => item.id),
        is_verified: false
      }

      this.fetchCancelAssignDocument(model)
        .then(() => {
          this.$toast.success(this.$t('document-flow.views.boxes.signature-canceled'))

          this.fetchInboxListAll({
            review: this.reviewGetOne.review_id,
            is_project_resolution: "True",
            ordering: 'id'
          })

	        this.fetchIncomingDocumentById(this.$route.params.id)
        })
    },
    /*
    *
    * */
    assignDocumentList(model) {
      this.fetchAssignDocument({
        model
      })
        .then(() => {
          this.$toast.success(this.$t('document-flow.views.boxes.document-signed'))

          this.fetchInboxListAll({
            review: this.reviewGetOne.review_id,
            is_project_resolution: "True",
            ordering: 'id'
          })

          this.fetchIncomingDocumentById(this.$route.params.id)
        })
    },
		/**/
		viewDocument(url){
			const {pdfModal} = this.$refs
			pdfModal.url = url;
			pdfModal.dialog = true
		}
	}
}
</script>
