<template>
    <div class="d-flex  grid-gap-md h-100">
      <registration-form-wrapper
        :form-title="$t('document-flow.views.boxes.for-consideration')"
        :tree-id="$route.params.id"
        :viewer-list="attachDocumentsList"
        view-type="review"
      />

      <pdf-viewer
        :viewer-list="attachDocumentsList"
        :register-number="reviewGetOne.register_number"
        :register-date="reviewGetOne.register_date"
      ></pdf-viewer>
    </div>
</template>

<script>
import PdfViewer from "@/common/components/PdfViewer"
import RegistrationFormWrapper from "@/modules/DocumentFlow/components/RegistrationFormWrapper"

import { DownloadIcon } from "vue-feather-icons"
import { mapActions, mapGetters, mapMutations } from "vuex"

export default {
	name: "ReviewFormShow",
	components: {
    PdfViewer,
    DownloadIcon,
		RegistrationFormWrapper
	},
	computed: {
		...mapGetters({
			attachDocumentsList: "documentFlowModule/getAttachDocumentsList",
      reviewGetOne: "documentFlowModule/getReviewGetOne",
		}),
	},
	mounted() {
		if(this.$route.params.id) {
      switch (+this.$route.params.type) {
        case 1:
          this.fetchIncomingDocumentById(this.$route.params.id)
          break;
        case 3:
          this.fetchInnerDocumentById(this.$route.params.id)
          break;
        case 4:
          this.fetchBoxesOutgoingDocumentById(this.$route.params.id)
          break;
        case 5:
          this.fetchBoxDocumentDetails(this.$route.params.id)
          break;
        case 6:
          this.fetchBoxDocumentDetails(this.$route.params.id)
          break;
        case 7:
          this.fetchInnerDocumentById(this.$route.params.id)
          break;
        default:
          console.log('def')
      }
			this.fetchAttachFilesList({
				incomingDocId: this.$route.params.id
			})
		}
	},
  beforeDestroy() {
	  this.CLEAR_DOCUMENT_ASSIGN()
  },
  methods: {
		...mapActions({
			fetchIncomingDocumentById: "documentFlowModule/fetchIncomingDocumentById",
      fetchBoxDocumentDetails: "documentFlowModule/fetchBoxDocumentDetails",
      fetchInnerDocumentById: "documentFlowModule/fetchInnerDocumentById",
      fetchBoxesOutgoingDocumentById: "documentFlowModule/fetchBoxesOutgoingDocumentById",
      fetchAttachFilesList: "documentFlowModule/fetchAttachFilesList",
		}),
    /*
    *
    * */
    ...mapMutations({
      CLEAR_DOCUMENT_ASSIGN: "documentFlowModule/CLEAR_DOCUMENT_ASSIGN"
    })
	}
}
</script>
