<template>
  <div class="d-flex flex-column p-relative">
    <app-loader v-if="getLoading" full-width :size="58" />

    <template v-else>
      <div class="d-flex flex-column h-100 bg-4 rounded-20 pa-1 overflow-hidden h-100">
        <perfect-scrollbar class="d-flex flex-column flex-1 h-100">
          <app-table
            :table-width="1700"
            :table-head-items="tableListSelect"
          >
            <template #tableHeader>
              <th></th>
              <th>{{$t('document-flow.views.boxes.status')}}</th>
              <th>{{$t('document-flow.views.boxes.journal')}}</th>
              <th>{{$t('document-flow.views.boxes.type-document')}}</th>
              <th>{{$t('document-flow.views.boxes.registration-date')}}</th>
              <th>{{$t('document-flow.views.boxes.registration-number')}}</th>
<!--              <th>{{$t('document-flow.views.boxes.outgoing-date')}}</th>
              <th>{{$t('document-flow.views.boxes.outgoing-number')}}</th>-->
              <th width="400">{{$t('document-flow.views.boxes.correspondent')}}</th>
              <th width="400">{{$t('document-flow.views.boxes.content')}}</th>
              <th>{{$t('document-flow.views.boxes.for-consideration')}}</th>
            </template>

            <template #tableBody>
              <template v-if="getReviewList.length">
                <tr
                  v-for="document in getReviewList"
                  :key="document.id"
                  class="text-dark"
                  :class="[{ 'font-weight-bold': !document.read_time }]"
                >
	                <td>
		                <app-tooltip top>
			                <template #content>
				                <div class="level-block p-relative">
					                <div
						                class="level-block__before p-absolute rounded-20"
						                :class="[
                            {'error-bg': document.incoming_doc.priority === 'high'},
                            {'error-bg': document.incoming_doc.priority === 'critical'},
                            {'warning-bg': document.incoming_doc.priority === 'medium'},
                            {'success-bg': document.incoming_doc.priority === 'low'},
                          ]"
					                ></div>
				                </div>
			                </template>
			                <template #text>
				                {{ document.__priorityText }}
			                </template>
		                </app-tooltip>
	                </td>
                  <td>
                    <router-link
                      :to="{
                        name: 'ReviewFormShow',
                        params: {
                          id: document.incoming_doc.id,
                          type: document.incoming_doc.journal.id
                        }
                      }"
                      class="d-flex align-center h-100 text-decoration-none text-dark"
                    >
                      <app-tooltip top>
                        <template #content>
                          <div class="status-block d-flex align-center">
                            <div
                              class="status-badge mr-2 rounded-circle"
                              :class="[
                              {'error-bg': document.__status.title === 'TO DO'},
                              {'warning-bg': document.__status.title === 'IN PROGRESS'},
                              {'success-bg': document.__status.title === 'DONE' || document.__status.title === 'ON REVIEW'},
                            ]"
                            ></div>
                            <span class="small-3">{{ document.__status.title }}</span>
                          </div>
                        </template>

                        <template #text>
                          {{ document.__status && document.__status.description }}
                        </template>
                      </app-tooltip>
                    </router-link>
                  </td>
                  <td>
                    <router-link
                      :to="{
                        name: 'ReviewFormShow',
                        params: {
                          id: document.incoming_doc.id,
                          type: document.incoming_doc.journal.id
                        }
                      }"
                      class="d-flex align-center h-100 text-decoration-none text-dark"
                    >
                      {{ document.incoming_doc.journal.name }}
                    </router-link>
                  </td>
                  <td>
                    <router-link
                      :to="{
                        name: 'ReviewFormShow',
                        params: {
                          id: document.incoming_doc.id,
                          type: document.incoming_doc.journal.id
                        }
                      }"
                      class="d-flex align-center h-100 text-decoration-none text-dark"
                    >
                      {{ document.incoming_doc.doc_type.name }}
                    </router-link>
                  </td>
                  <td>
                    <router-link
                      :to="{
                        name: 'ReviewFormShow',
                        params: {
                          id: document.incoming_doc.id,
                          type: document.incoming_doc.journal.id
                        }
                      }"
                      class="d-flex align-center h-100 text-decoration-none text-dark"
                    >
                      {{ document.incoming_doc.register_date | filterCalendarToTime }}
                    </router-link>
                  </td>
                  <td>
                    <router-link
                      :to="{
                        name: 'ReviewFormShow',
                        params: {
                          id: document.incoming_doc.id,
                          type: document.incoming_doc.journal.id
                        }
                      }"
                      class="d-flex align-center h-100 text-decoration-none text-dark"
                    >
                      {{ document.incoming_doc.register_number }}
                    </router-link>
                  </td>
                  <td>
                    <router-link
                      :to="{
                        name: 'ReviewFormShow',
                        params: {
                          id: document.incoming_doc.id,
                          type: document.incoming_doc.journal.id
                        }
                      }"
                      class="d-flex align-center h-100 text-decoration-none text-dark"
                    >
                      <app-tooltip top>
                        <template #content>
                          <span class="line-truncate">{{ document.incoming_doc.correspondent && document.incoming_doc.correspondent.organization_name }}</span>
                        </template>
                        <template #text>
                          <span>{{ document.incoming_doc.correspondent && document.incoming_doc.correspondent.organization_name }}</span>
                        </template>
                      </app-tooltip>
                    </router-link>
                  </td>
	                <td>
                    <router-link
                      :to="{
                        name: 'ReviewFormShow',
                        params: {
                          id: document.incoming_doc.id,
                          type: document.incoming_doc.journal.id
                        }
                      }"
                      class="d-flex align-center h-100 text-decoration-none text-dark"
                    >
                      <app-tooltip top>
                        <template #content>
                          <span class="line-truncate">{{ document.incoming_doc.description && document.incoming_doc.description }}</span>
                        </template>
                        <template #text>
                          <span>{{ document.incoming_doc.description && document.incoming_doc.description }}</span>
                        </template>
                      </app-tooltip>
                    </router-link>
	                </td>
                  <td>
                    <router-link
                      :to="{
                        name: 'ReviewFormShow',
                        params: {
                          id: document.incoming_doc.id,
                          type: document.incoming_doc.journal.id
                        }
                      }"
                      class="d-flex align-center h-100 text-decoration-none text-dark"
                    >
                      <app-avatar-group list-type="review_users" :avatar-list="document.review_users" />
                    </router-link>
                  </td>
                </tr>
              </template>

              <template v-else>
                <tr>
                  <td :colspan="tableListSelect.length">
                    <p class="heading-9 font-500 mb-0 text-center py-4">
                      {{$t('document-flow.views.boxes.nothing-yet')}}
                    </p>
                  </td>
                </tr>
              </template>
            </template>
          </app-table>
        </perfect-scrollbar>
      </div>
    </template>

    <app-pagination @emit:up="paginate" class="mt-3" />
  </div>
</template>

<script>
import { TABLE_HEAD_TEXT_LIST } from "@/common/constants";
import { selectFromList } from "@/common/helpers";
import { MoreVerticalIcon, Trash2Icon } from "vue-feather-icons";
import { mapActions, mapGetters, mapState } from "vuex";

export default {
	name: "ReviewTableType",
	components: {
		MoreVerticalIcon,
		Trash2Icon
	},
	computed: {
    ...mapState({
      filteredState: state => state.headerFilter.filteredState,
      filterPagination: state => state.headerFilter.pagination,
    }),
    /*
    *
    * */
		...mapGetters({
      getLoading: "getLoading",
      currentUser: "auth/getCurrentUser",
      getReviewList: "documentFlowModule/getReviewList",
      getHeaderFilters: "documentFlowModule/getHeaderFilters",
		}),
		/*
		*
		* */
		tableListSelect() {
			return selectFromList([20, 21, 2, 3, 4, 5, 6, 9, 11, 12], TABLE_HEAD_TEXT_LIST)
		}
	},
  methods: {
	  ...mapActions({
      fetchReviewAllList: "documentFlowModule/fetchReviewAllList",
    }),
    /*
    *
    * */
    paginate(value) {
      let query = { ...this.filteredState, page: value }
      this.filterPagination.page = value

      this.$router.replace({
        query: query
      }).catch(() => {})

      this.fetchReviewAllList({
        ...query
      })
    }
  }
}
</script>
