<template>
	<div class="universal-act-invoice-index">
		<app-wrapper>
			<template #body>
				<h2 class="font-400 text-dark-grey">Акт и счет-фактура <span v-if="$route.query.sub_type === 'tax'">акциз</span> (ПКМ №489)</h2>
			</template>
		</app-wrapper>

		<part1 />

		<part2-table />

		<part3 />

		<part4 />

		<part5-facture-table />

		<part6 />
	</div>
</template>

<script>
import Part1 from "./Part1.vue";
import Part2Table from "./Part2Table.vue";
import Part3 from "./Part3.vue";
import Part4 from "./Part4.vue";
import Part5FactureTable from "./Part5FactureTable.vue";
import Part6 from "./Part6.vue";
export default {
	name: "ActBase",
	components: {
		Part1,
		Part2Table,
		Part3,
		Part4,
		Part5FactureTable,
		Part6
	}
}

</script>

<style scoped>

</style>
