<template>
	<div class="part4-view">
		<app-wrapper class="mt-4">
			<template #body>
				<div>
					<v-row>
						<!-- SENDER DETAILS -->
						<v-col md="6">
							<div class="d-flex flex-column justify-center">
								<v-row>
									<v-col md="4" class="justify-end d-flex align-center">
										<span class="small-2 font-500">Статус</span>
									</v-col>
									<v-col md="8" class="d-flex align-center">
										<span class="small-2 font-400">Плательщик НДС+ (сертификат активный)</span>
									</v-col>
								</v-row>

								<v-row>
									<v-col md="4" class="justify-end d-flex align-center">
										<span class="small-2 font-500">Поставщик</span>
									</v-col>
									<v-col md="8" class="d-flex align-center">
										<span class="small-2 font-400">"DAVLAT AKSIYADORLIK TIJORAT BANKI ASAKA" AJ</span>
									</v-col>
								</v-row>

								<v-row>
									<v-col md="4" class="justify-end d-flex align-center">
										<span class="small-2 font-500">Название</span>
									</v-col>
									<v-col md="8" class="d-flex align-center">
										<v-text-field
											outlined
											hide-details
											background-color="var(--input-bg)"
											dense
											placeholder="'DAVLAT AKSIYADORLIK TIJORAT BANKI ASAKA' AJ"
											disabled
										/>
									</v-col>
								</v-row>

								<v-row>
									<v-col md="4" class="justify-end d-flex align-center">
										<span class="small-2 font-500">Адрес</span>
									</v-col>
									<v-col md="8" class="d-flex align-center">
										<v-text-field
											outlined
											hide-details
											background-color="var(--input-bg)"
											dense
											placeholder="ГОРОД ТАШКЕНТ, МИРАБАДСКИЙ РАЙОН, MIROBOD TUMANI, NUKUS KO`CHASI, 67-UY"
										/>
									</v-col>
								</v-row>
								<v-row>
									<v-col md="4" class="justify-end d-flex align-center">
										<span class="small-2 font-500">ИНН / ПИНФЛ</span>
									</v-col>
									<v-col md="3" class="d-flex align-center">
										<v-text-field
											outlined
											hide-details
											background-color="var(--input-bg)"
											dense
											placeholder="201589828"
											disabled
										/>
									</v-col>
									<v-col md="2" class="justify-end d-flex align-center">
										<span class="small-2 font-500">Код НДС</span>
									</v-col>
									<v-col md="3" class="d-flex align-center">
										<v-text-field
											outlined
											hide-details
											background-color="var(--input-bg)"
											dense
											placeholder="326010005504"
										/>
									</v-col>

								</v-row>

								<v-row>
									<v-col md="4" class="justify-end d-flex align-center">
										<span class="small-2 font-500">Банковский счёт</span>
									</v-col>
									<v-col md="4" class="d-flex align-center">
										<app-combobox
											v-model="comboTest"
											:items="asakabankAccountList"
											item-text="name"
											item-value="value"
											dense
											clearable
										/>
									</v-col>
									<v-col md="1" class="justify-end d-flex align-center">
										<span class="small-2 font-500">МФО</span>
									</v-col>
									<v-col md="3" class="d-flex align-center">
										<v-text-field
											outlined
											hide-details
											background-color="var(--input-bg)"
											dense
											placeholder="326010005504"
										/>
									</v-col>
								</v-row>
							</div>
						</v-col>
						<!-- /SENDER DETAILS -->

						<!-- RECEIVER DETAILS -->
						<v-col md="6">
							<div class="d-flex flex-column justify-center">
								<v-row v-if="invoiceReceiverDetails.TaxPayerTypeName">
									<v-col md="4" class="justify-end d-flex align-center">
										<span class="small-2 font-500">Статус</span>
									</v-col>
									<v-col md="8" class="d-flex align-center">
										<span class="small-2 font-400">{{ invoiceReceiverDetails.TaxPayerTypeName }}</span>
									</v-col>
								</v-row>

								<v-row>
									<v-col md="4" class="justify-end d-flex align-center">
										<span class="small-2 font-500">Название</span>
									</v-col>
									<v-col md="8" class="d-flex align-center">
										<v-text-field
											v-model="invoiceReceiverDetails.CompanyName"
											outlined
											hide-details
											background-color="var(--input-bg)"
											dense
											disabled
										/>
									</v-col>
								</v-row>

								<v-row>
									<v-col md="4" class="justify-end d-flex align-center">
										<span class="small-2 font-500">Адрес</span>
									</v-col>
									<v-col md="8" class="d-flex align-center">
										<v-text-field
											v-model="invoiceReceiverDetails.CompanyAddress"
											outlined
											hide-details
											background-color="var(--input-bg)"
											dense
										/>
									</v-col>
								</v-row>

								<v-row>
									<v-col md="4" class="justify-end d-flex align-center">
										<span class="small-2 font-500">ИНН / ПИНФЛ</span>
									</v-col>
									<v-col md="3" class="d-flex align-center">
										<!--                    v-model="invoiceReceiverDetails.CompanyInn"-->
										<v-text-field
											v-model="universalActInvoiceModel.receiver.receiver_info.inn"
											outlined
											hide-details
											background-color="var(--input-bg)"
											dense
											disabled
										/>
									</v-col>
									<v-col md="2" class="justify-end d-flex align-center">
										<span class="small-2 font-500">Код НДС</span>
									</v-col>
									<v-col md="3" class="d-flex align-center">
										<v-text-field
											outlined
											hide-details
											background-color="var(--input-bg)"
											dense
										/>
									</v-col>

								</v-row>

								<v-row>
									<v-col md="4" class="justify-end d-flex align-center">
										<span class="small-2 font-500">Банковский счёт</span>
									</v-col>
									<v-col md="4" class="d-flex align-center">
										<app-combobox
											:items="invoiceReceiverDetails.Accounts"
											dense
											item-text="AccountCode"
										/>
									</v-col>
									<v-col md="1" class="justify-end d-flex align-center">
										<span class="small-2 font-500">МФО</span>
									</v-col>
									<v-col md="3" class="d-flex align-center">
										<v-text-field
											:value="receiverBankMfo"
											outlined
											hide-details
											background-color="var(--input-bg)"
											dense
										/>
									</v-col>
								</v-row>

								<v-row>
									<v-col md="4" class="justify-end d-flex align-center">
										<span class="small-2 font-500">Директор</span>
									</v-col>
									<v-col md="8" class="d-flex align-center">
										<v-text-field
											v-model="invoiceReceiverDetails.DirectorName"
											outlined
											hide-details
											background-color="var(--input-bg)"
											dense
										/>
									</v-col>
								</v-row>

								<v-row>
									<v-col md="4" class="justify-end d-flex align-center">
										<span class="small-2 font-500">Главный Бухгалтер</span>
									</v-col>
									<v-col md="8" class="d-flex align-center">
										<v-text-field
											v-model="invoiceReceiverDetails.Accountant"
											outlined
											hide-details
											background-color="var(--input-bg)"
											dense
										/>
									</v-col>
								</v-row>
							</div>
						</v-col>
						<!-- /RECEIVER DETAILS -->

					</v-row>
				</div>
			</template>
		</app-wrapper>
	</div>
</template>

<script>
import {mapGetters, mapState} from "vuex";

export default {
	name: "Part4",
	data() {
		return {
			checkbox: false,
			checkbox2: false,
			inn: "",
			comboTest: "",
			isLoading: false
		}
	},
	computed: {
		...mapState({
			invoiceReceiverDetails: state => state.facture.invoiceReceiverDetails,
			universalActInvoiceModel: state => state.facture.universalActInvoiceModel,
		}),
		/**/
		...mapGetters({
			asakabankAccountList: "facture/getAsakabankAccountList"
		}),
		/**/
		receiverBankMfo() {
			return this.invoiceReceiverDetails?.Accounts[0]?.BankMfo
		}
	},
}

</script>

<style scoped>

</style>
