<template>
	<div class="par2-table">
		<app-wrapper class="mt-4">
			<template #body>
				<div>
					<v-row>
						<v-col md="3">
							<v-checkbox
								v-model="isCalculatedByHand"
								label="Ручное вычисление"
							></v-checkbox>
						</v-col>
						<v-col md="3">
							<v-checkbox
								v-model="isRoundUpTo4Digits"
								label="Cчитать до 4 знаков (после запятой)"
							></v-checkbox>
						</v-col>
						<v-col md="3">
							<v-checkbox
								v-model="isReverseCalculation"
								label="Обратный расчет"
							></v-checkbox>
						</v-col>
						<v-col md="3">
							<v-checkbox
								v-model="checkbox3"
								label="Товар маркирован"
							></v-checkbox>
						</v-col>
					</v-row>

					<table class="facture-table">
						<tr class="">
							<th width="10" rowspan="2" class="small-3 font-500">№</th>
							<th width="250" rowspan="2" class="small-3 font-500">ИКПУ и наименование товаров (работ, услуг) Добавить ИКПУ</th>
							<th width="250" rowspan="2" class="small-3 font-500">Описание товаров (работ, услуг)</th>
							<th width="150" rowspan="2" class="small-3 font-500">Штрих-код товара (услуги)</th>
							<th width="150" rowspan="2" class="small-3 font-500">Ед. изм.</th>
							<th width="100" rowspan="2" class="small-3 font-500">Кол - во</th>
							<th width="100" rowspan="2" class="small-3 font-500">Цена</th>
							<th width="100" rowspan="2" class="small-3 font-500">Стоимость поставки</th>
							<template v-if="$route.query.sub_type === 'tax'">
								<th width="200" colspan="2" class="small-3 font-500">Акцизный Налог</th>
								<th width="200" rowspan="2" class="small-3 font-500">Стоимость оказанных услуг (Сум)</th>
							</template>
							<th width="200" colspan="2" class="small-3 font-500">НДС</th>
							<th width="200" rowspan="2" class="small-3 font-500">Стоимость поставок с учётом НДС</th>
							<th width="200" rowspan="2" class="small-3 font-500">Льгота НДС Справочник</th>
							<th rowspan="2" class="small-3 font-500"></th>
						</tr>
						<tr>
							<template v-if="$route.query.sub_type === 'tax'">
								<th class="small-3 font-500">ставка</th>
								<th class="small-3 font-500">сумма</th>
							</template>
							<th class="small-3 font-500">ставка</th>
							<th class="small-3 font-500">сумма</th>
						</tr>

						<tr v-for="(item, index) in universalActInvoiceModel.document.items" :key="index">
							<td class="small-2 font-400 text-center">{{ index + 1 }}</td>
							<td>
								<v-autocomplete
									v-model="item.productSelected"
									@change="setProductSelected(item)"
									:items="productList"
									outlined
									item-text="classCode"
									hide-details
									background-color="#fff"
									dense
									return-object
									class="product-autocomplete"
									clearable
									open-on-clear
								>
									<template #append>
										<v-icon>mdi-chevron-down</v-icon>
									</template>

									<template v-slot:item="{ item }">
										<div class="d-flex">
											<span class="small-3 font-400">{{ item.classCode }} - {{ item.name }}</span>
										</div>
									</template>
									<template v-slot:selection="{ item }">
										<span class="small-3 font-400 line-truncate">{{ item.classCode }}</span>
									</template>
								</v-autocomplete>
							</td>
							<td>
								<v-text-field
									v-model="item.description"
									outlined
									hide-details
									background-color="#fff"
									dense
								/>
							</td>
							<td>
								<v-text-field
									v-model="item.barcode"
									outlined
									hide-details
									background-color="#fff"
									dense
								/>
							</td>
							<td class="small-2 font-400">
								<app-combobox
									@change="setMeasurement(index)"
									v-model="item.measurementSelected"
									:items="item.productSelected ? item.productSelected.packageNames : []"
									item-text="nameRu"
									background-color="#fff"
									return-object
									dense
								/>
							</td>
							<td class="small-2 font-400">
								<v-text-field
									@input="calculateSubTotal(index)"
									v-model="item.volume"
									outlined
									hide-details
									background-color="#fff"
									dense
									type="number"
									hide-spin-buttons
									reverse
								/>
							</td>
							<td class="small-2 font-400">
								<v-text-field
									@input="calculateSubTotal(index)"
									v-model="item.unit_price"
									outlined
									hide-details
									background-color="#fff"
									dense
									type="number"
									hide-spin-buttons
									reverse
									:disabled="isReverseCalculation"
								/>
							</td>
							<td class="small-2 font-400">
								<v-text-field
									v-model="item.subtotal"
									outlined
									hide-details
									background-color="#fff"
									dense
									type="number"
									hide-spin-buttons
									reverse
									:readonly="!isCalculatedByHand"
									placeholder="0.00"
									:disabled="isReverseCalculation"
								/>
							</td>
							<template v-if="$route.query.sub_type === 'tax'">
								<td width="120" class="small-2 font-400">
									<v-select
										@change="calculateVatPrice(index)"
										v-model="item.vat_temp"
										:items="vatPercentageList"
										item-text="vat_rate_temp"
										return-object
										outlined
										hide-details
										background-color="#fff"
										dense
									/>
								</td>
								<td class="small-2 font-400">
									<v-text-field
										@input="calculateColumnSummaryValues"
										:value="item.vat.vat_value"
										outlined
										hide-details
										background-color="#fff"
										dense
										hide-spin-buttons
										reverse
										placeholder="0.00"
										:readonly="!isCalculatedByHand"
										:disabled="isReverseCalculation"
									/>
								</td>
								<td class="small-2 font-400">
									<v-text-field
										@input="calculateReverse(index)"
										v-model="item.subtotal_with_taxes"
										outlined
										hide-details
										background-color="#fff"
										dense
										type="number"
										hide-spin-buttons
										reverse
										placeholder="0.00"
										:disabled="!isReverseCalculation && !isCalculatedByHand"
									/>
								</td>
							</template>
							<td width="120" class="small-2 font-400">
								<v-select
									@change="calculateVatPrice(index)"
									v-model="item.vat_temp"
									:items="vatPercentageList"
									item-text="vat_rate_temp"
									return-object
									outlined
									hide-details
									background-color="#fff"
									dense
								/>
							</td>
							<td class="small-2 font-400">
								<v-text-field
									@input="calculateColumnSummaryValues"
									:value="item.vat.vat_value"
									outlined
									hide-details
									background-color="#fff"
									dense
									hide-spin-buttons
									reverse
									placeholder="0.00"
									:readonly="!isCalculatedByHand"
									:disabled="isReverseCalculation"
								/>
							</td>
							<td class="small-2 font-400">
								<v-text-field
									@input="calculateReverse(index)"
									v-model="item.subtotal_with_taxes"
									outlined
									hide-details
									background-color="#fff"
									dense
									type="number"
									hide-spin-buttons
									reverse
									placeholder="0.00"
									:disabled="!isReverseCalculation && !isCalculatedByHand"
								/>
							</td>
							<td class="small-2 font-400">
								<v-select
									item-text="name"
									item-value="value"
									outlined
									hide-details
									background-color="#fff"
									dense
									disabled
								/>
							</td>
							<td width="30" class="text-center">
								<v-icon
									@click="deleteRowFromTable(index)"
									size="17"
									color="red"
									class="pointer">
									mdi-close
								</v-icon>
							</td>
						</tr>

						<tr>
							<td colspan="7" class="text-end pr-2">
								<span class="font-500 small-3">Итого</span>
							</td>
							<td class="small-2 font-400">
								<v-text-field
									outlined
									hide-details
									background-color="#fff"
									dense
									type="number"
									hide-spin-buttons
									reverse
									placeholder="0.00"
									:readonly="!isCalculatedByHand"
									:value="universalActInvoiceModel.document.column_summary_values.column_subtotal"
								/>
							</td>
							<td width="120" class="small-2 font-400">

							</td>
							<td class="small-2 font-400">
								<v-text-field
									outlined
									hide-details
									background-color="#fff"
									dense
									type="number"
									hide-spin-buttons
									reverse
									placeholder="0.00"
									:readonly="!isCalculatedByHand"
									:value="universalActInvoiceModel.document.column_summary_values.column_vat_value"
								/>
							</td>
							<td class="small-2 font-400">
								<v-text-field
									outlined
									hide-details
									background-color="#fff"
									dense
									type="number"
									hide-spin-buttons
									reverse
									placeholder="0.00"
									:readonly="!isCalculatedByHand"
									:value="universalActInvoiceModel.document.column_summary_values.column_subtotal_with_taxes"
								/>
							</td>
							<td class="small-2 font-400">

							</td>
							<td width="30" class="text-center">
								<v-icon
									@click="addRowToTable"
									size="17"
									color="green"
									class="pointer">
									mdi-plus
								</v-icon>
							</td>
						</tr>
					</table>

					<div
						class="mt-2"
					>
						<span @click="addRowToTable" class="font-500 small-2 pointer">Добавить ещё </span>
					</div>

				</div>
			</template>
		</app-wrapper>
	</div>
</template>

<script>
import {mapGetters, mapState} from "vuex";

export default {
	name: "Part2Table",
	data() {
		return {
			isCalculatedByHand: false,
			isRoundUpTo4Digits: false,
			isReverseCalculation: false,
			checkbox3: false,

			productList: [],
			productSelected: {},
		}
	},
	watch: {
		'universalActInvoiceModel.document.items.length': {
			handler(val){
				for (let i = 0; i < val; i++){
					this.universalActInvoiceModel.document.items[i].item_number = String(i + 1 )
				}
			},
			immediate: true
		},
		/**/
		isRoundUpTo4Digits: {
			handler(val) {
				let summary_values = this.universalActInvoiceModel.document.column_summary_values
				for (let key in this.universalActInvoiceModel.document.column_summary_values){
					val ? this.universalActInvoiceModel.document.column_summary_values[key] = this.$options.filters.roundUp(summary_values[key], 4)
						: this.universalActInvoiceModel.document.column_summary_values[key] = this.$options.filters.roundUp(summary_values[key], 2)
				}
			},
			immediate: true
		}
	},
	computed: {
		...mapState({
			universalActInvoiceModel: state => state.facture.universalActInvoiceModel,
		}),
		...mapGetters({
			vatPercentageList: "facture/getVatPercentageList"
		}),
		/**/
	},
	created() {
		this.getProductList();
	},
	methods: {
		addRowToTable() {
			const tableRow = {
				// temp
				vat_temp: {
					vat_rate_temp: "12%",
					vat_value_temp: 0.12,
				},
				productSelected: {},
				measurementSelected: {},
				// end temp
				item_number: "",
				description: "",
				volume: "",
				unit_price: "",
				subtotal: "0.00",
				vat: {
					vat_rate: "",
					vat_value: ""
				},
				subtotal_with_taxes: "",
				measurement_unit: "",
				excise: {
					excise_rate: null,
					excise_value: null
				},
				catalog: {
					code: "",
					name: ""
				},
				lgota_id: null,
				barcode: ""
			}

			this.universalActInvoiceModel.document.items.push(tableRow)

		},
		/**/
		deleteRowFromTable(index){
			this.universalActInvoiceModel.document.items.splice(index, 1)

			this.calculateColumnSummaryValues()
		},
		/**/
		calculateSubTotal(index){
			if (!this.isCalculatedByHand){
				let item = this.universalActInvoiceModel.document.items[index]
				item.subtotal = Number(item.volume) * Number(item.unit_price)
			}

			this.calculateVatPrice(index)
		},
		/**/
		calculateVatPrice(index){
			if (!this.isCalculatedByHand){
				let item = this.universalActInvoiceModel.document.items[index]
				if (item.vat_temp.vat_value_temp === 0) {
					item.vat.vat_value = "0.00"
					item.vat.vat_rate = "0.00"
					item.subtotal_with_taxes = item.subtotal
				}else if (item.vat_temp.vat_value_temp === 0.12){
					item.vat.vat_value = String(Number(item.subtotal) * 0.12)
					item.vat.vat_rate = "0.12"
					item.subtotal_with_taxes = String(Number(item.vat.vat_value) + Number(item.subtotal))
				} else {
					item.vat.vat_rate = "0.00"
					item.vat.vat_value = "Без НДС"
					item.subtotal_with_taxes = item.subtotal
				}
			}
			this.calculateColumnSummaryValues()
		},
		/**/
		calculateReverse(index){
			if (!this.isCalculatedByHand){
				let item = this.universalActInvoiceModel.document.items[index]
				if (item.vat_temp.vat_value_temp === 0) {
					item.subtotal = item.subtotal_with_taxes
					item.volume ? item.unit_price = String(Number(item.subtotal) / Number(item.volume)) : item.unit_price = "0.00"
					item.vat.vat_value = "0.00"
					item.vat.vat_rate = "0.00"
				}else if (item.vat_temp.vat_value_temp === 0.12){
					item.subtotal = this.$options.filters.roundUp(item.subtotal_with_taxes / 1.12, 2)
					item.unit_price = item.subtotal / item.volume
					item.vat.vat_value = this.$options.filters.roundUp(item.subtotal * 0.12, 2)
					// item.vat.vat_value = Number(item.subtotal_with_taxes) / 0.12
				}
			}
			this.calculateColumnSummaryValues();
		},
		/**/
		calculateColumnSummaryValues(){
			// Итого
			this.universalActInvoiceModel.document.column_summary_values.column_subtotal = 0
			this.universalActInvoiceModel.document.column_summary_values.column_vat_value = 0
			this.universalActInvoiceModel.document.column_summary_values.column_subtotal_with_taxes = 0
			this.universalActInvoiceModel.document.items.forEach(item => {
				this.universalActInvoiceModel.document.column_summary_values.column_subtotal = String(Number(this.universalActInvoiceModel.document.column_summary_values.column_subtotal) + Number(item.subtotal))
				if (item.vat_temp.vat_value_temp !== null){
					this.universalActInvoiceModel.document.column_summary_values.column_vat_value = String(Number(this.universalActInvoiceModel.document.column_summary_values.column_vat_value) + Number(item.vat.vat_value))
				}
				this.universalActInvoiceModel.document.column_summary_values.column_subtotal_with_taxes = String(Number(this.universalActInvoiceModel.document.column_summary_values.column_subtotal_with_taxes) + Number(item.subtotal_with_taxes))
			})
			this.universalActInvoiceModel.document.column_summary_values.column_subtotal_uzs = this.universalActInvoiceModel.document.column_summary_values.column_subtotal
			this.universalActInvoiceModel.document.column_summary_values.column_vat_value_uzs = this.universalActInvoiceModel.document.column_summary_values.column_vat_value
			this.universalActInvoiceModel.document.column_summary_values.column_subtotal_with_taxes_uzs = this.universalActInvoiceModel.document.column_summary_values.column_subtotal_with_taxes
			this.universalActInvoiceModel.document.column_summary_values.column_subtotal_with_taxes_total = this.universalActInvoiceModel.document.column_summary_values.column_subtotal_with_taxes
		},
		/**/
		getProductList(){
			this.$axios.get(`/facture/product_catalog/list/`)
				.then(({data}) => {
					this.productList = data
				})
		},
		/**/
		setProductSelected(item){
			if (item && item.productSelected){
				item.description = item.productSelected.name
				item.catalog.code = item.productSelected.classCode
				item.catalog.name = item.productSelected.className
				item.measurementSelected = item.productSelected.packageNames[0]
				item.measurement_unit = item.measurementSelected.nameRu
			}
		},
		/**/
		setMeasurement(index){
			let item = this.universalActInvoiceModel.document.items[index]
			item.measurement_unit = item.measurementSelected && item.measurementSelected.nameRu
		}
	}
}
</script>

<style scoped>

</style>
