<template>
	<div class="part3-view">
		<app-wrapper class="mt-4">
			<template #body>
				<div class="top-header-part">
					<span>Счёт-фактура</span>
					<v-row class="mt-4">
						<v-col md="5" class="py-1">
							<div class="d-flex align-center justify-end">
								<span class="small-2 font-500">Счёт-фактура №</span>
								<div class="ml-4 w-300px">
									<v-text-field
										v-model="universalActInvoiceModel.document.document_number"
										outlined
										hide-details
										background-color="var(--input-bg)"
										dense
										disabled
									>
									</v-text-field>
								</div>
							</div>
						</v-col>

						<v-col md="1" class="py-1"></v-col>

						<v-col md="6" class="py-1">
							<div class="d-flex align-center">
								<span class="small-2 font-500">Дата</span>
								<app-date-picker
									v-model="universalActInvoiceModel.document.document_date"
									class="ml-4"
									with-input
									dense
									background-color="var(--input-bg)"
									disabled
								/>
							</div>
						</v-col>
					</v-row>

					<v-row>
						<v-col md="5" class="py-1">
							<div class="d-flex align-center justify-end">
								<span class="small-2 font-500">К товарно-отгрузочным документам №	</span>
								<div class="ml-4 w-300px">
									<v-text-field
										v-model="universalActInvoiceModel.document.contract_number"
										outlined
										hide-details
										background-color="var(--input-bg)"
										dense
										disabled
									>
									</v-text-field>
								</div>
							</div>
						</v-col>

						<v-col md="1" class="py-1"></v-col>

						<v-col md="6" class="py-1">
							<div class="d-flex align-center">
								<span class="small-2 font-500">Дата</span>
								<app-date-picker
									v-model="universalActInvoiceModel.document.contract_date"
									class="ml-4"
									with-input
									dense
									background-color="var(--input-bg)"
									disabled
								/>
							</div>
						</v-col>
					</v-row>
				</div>
			</template>
		</app-wrapper>
	</div>
</template>

<script>
import {mapGetters, mapState} from "vuex";

export default {
	name: "Part3",
	computed: {
		...mapState({
			invoiceReceiverDetails: state => state.facture.invoiceReceiverDetails,
			universalActInvoiceModel: state => state.facture.universalActInvoiceModel,
		}),
		...mapGetters({
			invoiceTypeList: "facture/getInvoiceTypeList"
		})
	},
}
</script>

<style scoped>

</style>
