<template>
	<div class="universal-act-invoice-part1">
		<app-wrapper class="mt-4">
			<template #body>
				<div class="top-header-part">
					<v-row>
						<v-col md="5"  class="py-1">
							<div class="d-flex align-center justify-end">
								<span class="small-2 font-500">Тип счета-фактуры</span>
								<div class="ml-4 w-300px">
									<v-select
										v-model="universalActInvoiceModel.document.factura_type"
										:items="invoiceTypeList"
										item-text="name"
										item-value="value"
										outlined
										hide-details
										background-color="var(--input-bg)"
										dense
									>
										<template #append>
											<v-icon>mdi-chevron-down</v-icon>
										</template>
									</v-select>
								</div>
							</div>
						</v-col>
					</v-row>

					<v-row>
						<v-col md="5" class="py-1">
							<div class="d-flex align-center justify-end">
								<span class="small-2 font-500">Акт №</span>
								<div class="ml-4 w-300px">
									<v-text-field
										v-model="universalActInvoiceModel.document.document_number"
										outlined
										hide-details
										background-color="var(--input-bg)"
										dense
									>
									</v-text-field>
								</div>
							</div>
						</v-col>

						<v-col md="1" class="py-1"></v-col>

						<v-col md="6" class="py-1">
							<div class="d-flex align-center">
								<span class="small-2 font-500">Дата</span>
								<app-date-picker
									v-model="universalActInvoiceModel.document.document_date"
									class="ml-4"
									with-input
									dense
									background-color="var(--input-bg)"
								/>
							</div>
						</v-col>
					</v-row>

					<v-row>
						<v-col md="5" class="py-1">
							<div class="d-flex align-center justify-end">
								<span class="small-2 font-500">Договор №</span>
								<div class="ml-4 w-300px">
									<v-text-field
										v-model="universalActInvoiceModel.document.contract_number"
										outlined
										hide-details
										background-color="var(--input-bg)"
										dense
									>
									</v-text-field>
								</div>
							</div>
						</v-col>

						<v-col md="1" class="py-1"></v-col>

						<v-col md="6" class="py-1">
							<div class="d-flex align-center contract-date">
								<span class="small-2 font-500">Дата</span>
								<app-date-picker
									class="ml-4"
									v-model="universalActInvoiceModel.document.contract_date"
									with-input
									dense
									background-color="var(--input-bg)"
								/>
							</div>
							<div class="d-flex">
								<v-checkbox
									label="Односторонний ЭСФ"
									hide-details
								></v-checkbox>

								<v-checkbox
									class="ml-2"
									label="Инвест ID"
									hide-details
								></v-checkbox>
							</div>
						</v-col>
					</v-row>

					<v-row class="align-center">
						<v-col md="5" class="py-1">
							<div class="d-flex align-center justify-end mt-3">
								<span class="small-2 font-500">Поставщик</span>
								<div class="ml-4 w-300px">
									<span class="small-2 font-400">"DAVLAT AKSIYADORLIK TIJORAT BANKI ASAKA" AJ</span>
								</div>
							</div>
						</v-col>
						<v-col md="1" class="py-1"></v-col>
						<v-col md="6" class="py-1">
							<div class="d-flex align-center contract-date">
								<span class="small-2 font-500">Заказчик</span>
								<div class="w-300px d-flex">
									<v-text-field
										v-model="inn"
										outlined
										hide-details
										background-color="var(--input-bg)"
										dense
										clearable
										class="ml-4"
										placeholder="ИНН"
									/>
									<app-button
										@click="getInvoiceReceiverDetails"
										min-width="38px"
										height="38px"
										:loading="isLoading"
									>
										<v-icon>
											mdi-magnify
										</v-icon>
									</app-button>
								</div>
							</div>
							<div v-if="invoiceReceiverDetails.CompanyInn" class="d-flex mt-2">
								<span class="small-3 font-500">Организация:</span>
								<span class="small-3 font-400 d-block ml-2">{{ invoiceReceiverDetails.CompanyName }}</span>
							</div>
						</v-col>
					</v-row>

					<v-row>
						<v-col md="5" class="py-1">
							<div class="d-flex align-center justify-end mt-2">
								<span class="small-2 font-500">Филиал</span>
								<div class="ml-4 w-300px">
									<autocomplete
										v-model="universalActInvoiceModel.sender_info.id"
										api-list-url="/filials/"
										:api-params="{ condition: 'A' }"
										item-text="name"
										item-value="id"
										list-type="list"
										cache-items
										clearable
										dense
									/>
								</div>
							</div>
						</v-col>
					</v-row>

					<v-row>
						<v-col md="5" class="py-1">
							<div class="d-flex align-center justify-end">
								<span class="small-2 font-500">Описание</span>
								<div class="ml-4 w-300px">
									<v-textarea
										outlined
										hide-details
										background-color="var(--input-bg)"
										dense
										auto-grow
									>
									</v-textarea>
								</div>
							</div>
						</v-col>
						<v-col md="1"></v-col>
					</v-row>
				</div>
			</template>
		</app-wrapper>
	</div>
</template>

<script>
import {mapActions, mapGetters, mapState} from "vuex";

export default {
	name: "Part1",
	data() {
		return {
			isLoading: false,
			inn: null
		}
	},
	computed: {
		...mapState({
			invoiceReceiverDetails: state => state.facture.invoiceReceiverDetails,
			universalActInvoiceModel: state => state.facture.universalActInvoiceModel,
		}),
		...mapGetters({
			invoiceTypeList: "facture/getInvoiceTypeList"
		})
	},
	methods: {
		...mapActions({
			fetchGetInvoiceReceiverDetails: "facture/fetchGetInvoiceReceiverDetails"
		}),
		/**/
		getInvoiceReceiverDetails() {
			this.isLoading = true;
			this.fetchGetInvoiceReceiverDetails(this.inn)
				.then(data => {
					this.isLoading = false;

					this.universalActInvoiceModel.receiver.receiver_info.inn = this.invoiceReceiverDetails.CompanyInn;
				})
				.catch(err => {
					this.isLoading = false;
					this.$toast.error("По данному ИНН ничего не найдено!")
				})
		}
	}
}
</script>

<style scoped>

</style>
