<template>
	<div class="part5-facture-table">
		<app-wrapper class="mt-4">
			<template #body>
				<div>
					<table class="facture-table">
						<tr class="">
							<th width="10" rowspan="2" class="small-3 font-500">№</th>
							<th width="250" rowspan="2" class="small-3 font-500">ИКПУ и наименование товаров (работ, услуг) Добавить ИКПУ</th>
							<th width="250" rowspan="2" class="small-3 font-500">Описание товаров (работ, услуг)</th>
							<th width="150" rowspan="2" class="small-3 font-500">Штрих-код товара (услуги)</th>
							<th width="150" rowspan="2" class="small-3 font-500">Ед. изм.</th>
							<th width="100" rowspan="2" class="small-3 font-500">Кол - во</th>
							<th width="100" rowspan="2" class="small-3 font-500">Цена</th>
							<th width="100" rowspan="2" class="small-3 font-500">Стоимость поставки</th>
							<th width="200" colspan="2" class="small-3 font-500">НДС</th>
							<th width="200" rowspan="2" class="small-3 font-500">Стоимость поставок с учётом НДС</th>
							<th width="200" rowspan="2" class="small-3 font-500">Льгота НДС Справочник</th>
						</tr>
						<tr>
							<th class="small-3 font-500">ставка</th>
							<th class="small-3 font-500">сумма</th>
						</tr>

						<tr v-for="(item, index) in universalActInvoiceModel.document.items" :key="index">
							<td class="small-2 font-400 text-center">{{ index + 1 }}</td>
							<td>
								<v-text-field
									v-model="item.productSelected.name"
									outlined
									hide-details
									background-color="#fff"
									dense
									disabled
								/>
							</td>
							<td>
								<v-text-field
									v-model="item.description"
									outlined
									hide-details
									background-color="#fff"
									dense
									disabled
								/>
							</td>
							<td>
								<v-text-field
									v-model="item.barcode"
									outlined
									hide-details
									background-color="#fff"
									dense
									disabled
								/>
							</td>
							<td class="small-2 font-400">
								<v-text-field
									v-model="item.measurementSelected.nameRu"
									outlined
									hide-details
									background-color="#fff"
									dense
									disabled
								/>
							</td>
							<td class="small-2 font-400">
								<v-text-field
									v-model="item.volume"
									outlined
									hide-details
									background-color="#fff"
									dense
									type="number"
									hide-spin-buttons
									reverse
									disabled
								/>
							</td>
							<td class="small-2 font-400">
								<v-text-field
									v-model="item.unit_price"
									outlined
									hide-details
									background-color="#fff"
									dense
									type="number"
									hide-spin-buttons
									reverse
									disabled
								/>
							</td>
							<td class="small-2 font-400">
								<v-text-field
									v-model="item.subtotal"
									outlined
									hide-details
									background-color="#fff"
									dense
									type="number"
									hide-spin-buttons
									reverse
									placeholder="0.00"
									disabled
								/>
							</td>
							<td width="120" class="small-2 font-400">
								<v-select
									v-model="item.vat_temp"
									:items="vatPercentageList"
									item-text="vat_rate_temp"
									return-object
									outlined
									hide-details
									background-color="#fff"
									dense
									disabled
								/>
							</td>
							<td class="small-2 font-400">
								<v-text-field
									:value="item.vat.vat_value"
									outlined
									hide-details
									background-color="#fff"
									dense
									hide-spin-buttons
									reverse
									placeholder="0.00"
									disabled
								/>
							</td>
							<td class="small-2 font-400">
								<v-text-field
									v-model="item.subtotal_with_taxes"
									outlined
									hide-details
									background-color="#fff"
									dense
									type="number"
									hide-spin-buttons
									reverse
									placeholder="0.00"
									disabled
								/>
							</td>
							<td class="small-2 font-400">
								<v-select
									item-text="name"
									item-value="value"
									outlined
									hide-details
									background-color="#fff"
									dense
									disabled
								/>
							</td>
						</tr>

						<tr>
							<td colspan="7" class="text-end pr-2">
								<span class="font-500 small-3">Итого</span>
							</td>
							<td class="small-2 font-400">
								<v-text-field
									outlined
									hide-details
									background-color="#fff"
									dense
									type="number"
									hide-spin-buttons
									reverse
									placeholder="0.00"
									:value="universalActInvoiceModel.document.column_summary_values.column_subtotal"
									disabled
								/>
							</td>
							<td width="120" class="small-2 font-400">

							</td>
							<td class="small-2 font-400">
								<v-text-field
									outlined
									hide-details
									background-color="#fff"
									dense
									type="number"
									hide-spin-buttons
									reverse
									placeholder="0.00"
									:value="universalActInvoiceModel.document.column_summary_values.column_vat_value"
									disabled
								/>
							</td>
							<td class="small-2 font-400">
								<v-text-field
									outlined
									hide-details
									background-color="#fff"
									dense
									type="number"
									hide-spin-buttons
									reverse
									placeholder="0.00"
									:value="universalActInvoiceModel.document.column_summary_values.column_subtotal_with_taxes"
									disabled
								/>
							</td>
						</tr>
					</table>
				</div>
			</template>
		</app-wrapper>
	</div>
</template>

<script>
import {mapGetters, mapState} from "vuex";

export default {
	name: "Part5FactureTable",
	computed: {
		...mapState({
			universalActInvoiceModel: state => state.facture.universalActInvoiceModel,
		}),
		/**/
		...mapGetters({
			vatPercentageList: "facture/getVatPercentageList"
		}),
	},
}
</script>

<style scoped>

</style>
