<template>
	<div class="d-flex align-center justify-center h-100">
		<app-loader v-if="getLoading" content-width :size="58"/>
		<template v-else>
			<div class="d-flex mt-5 overflow-hidden w-100 h-100">
				<div class="d-flex flex-column p-relative w-100">
					<div class="d-flex flex-column h-100 bg-4 rounded-20 pa-1 overflow-hidden h-100">
						<perfect-scrollbar class="d-flex flex-column flex-1 h-100">
							<app-table
								bordered
								:table-width="1800"
							>
								<template #tableHeader>
									<th>{{$t('document-flow.views.registration.status')}}</th>
									<th>{{$t('document-flow.views.registration.document-type')}}</th>
									<th>{{$t('document-flow.views.registration.registration-number')}}</th>
									<th>{{$t('document-flow.views.registration.registration-date')}}</th>
									<th>{{$t('document-flow.views.registration.branch')}}</th>
<!--									<th>{{$t('document-flow.views.registration.department')}}</th>-->
									<th>{{$t('document-flow.views.registration.author')}}</th>
									<th v-if="currentUser.role === 'admin'">{{$t('document-flow.views.registration.action')}}</th>
								</template>

								<template #tableBody>
									<template v-if="filialDocumentsList.length">
										<tr
											v-for="(item, index) in filialDocumentsList"
											class="text-dark font-500"
											@click="$router.push({
		                        name: 'FilialDocumentsRegistrationFormShow',
		                        params: {
		                          id: item.id
		                        }
		                      })"
										>
											<td>
												<div
													class="text-decoration-none text-dark font-500"
												>
													<div class="status-block d-flex align-center">
														<div
															class="status-badge mr-2 rounded-circle"
															:class="[
                                  {'error-bg': item.status && item.status.name === 'TO DO'},
                                  {'warning-bg': item.status && item.status.name === 'IN PROGRESS'},
                                  {'success-bg': item.status && item.status.name === 'DONE'},
                                  {'red-bg': item.status && item.status.name === 'CANCEL'},
                                ]"
														></div>
														<span class="font-500" style="font-size: 13px;">{{ item.status && item.status.name }}</span>
													</div>
												</div>
											</td>
											<td>{{ item.doc_type.name }}</td>
											<td>{{ item.register_number }}</td>
											<td>{{ item.register_date }}</td>
											<td>{{ item.sender && item.sender.name }}</td>
<!--											<td>{{ item.department && item.department.name }}</td>-->
											<td><app-avatar-group list-type="agreed" :avatar-list="[{ user: item.created_by }]" /></td>
											<td v-if="currentUser.role === 'admin'">
												<app-button
													@click="deleteRow($event, item.id)"
													icon
													min-width="40"
													width="40"
													height="40"
													color="var(--primary-4)"
												>
													<trash2-icon size="18" />
												</app-button>
											</td>
										</tr>
									</template>

									<template v-else>
										<tr>
											<td colspan="9">
												<p class="heading-9 font-500 mb-0 text-center py-4">
													{{$t('document-flow.views.registration.nothing-yet')}}
												</p>
											</td>
										</tr>
									</template>
								</template>

							</app-table>
						</perfect-scrollbar>
						<div class="d-flex align-center justify-space-between py-2 px-4 border-top">
              <span class="small-2 font-500 text-dark">
<!--                1-10 из 195 позиций-->
              </span>

							<app-pagination @emit:up="paginate" />
						</div>
					</div>
				</div>
			</div>
		</template>
	</div>
</template>

<script>
import { Trash2Icon } from "vue-feather-icons";
import { mapActions, mapGetters, mapState } from "vuex";

export default {
	name: "index",
	components: {
		Trash2Icon
	},
	computed: {
    ...mapState({
      filteredState: state => state.headerFilter.filteredState,
      filterPagination: state => state.headerFilter.pagination,
    }),
    /*
    *
    * */
		...mapGetters({
			getLoading: "documentFlowModule/getIsListLoading",
			currentUser: "auth/getCurrentUser",
			filialDocumentsList: "documentFlowModule/getFilialDocumentsList",
      getHeaderFilters: "documentFlowModule/getHeaderFilters",
		})
	},
	// created() {
	// 	this.fetchFilialDocumentsList("Hello")
	// },
	// beforeDestroy() {
	// 	this.fetchClearHeaderFilter()
	// },
	methods: {
		...mapActions({
			fetchFilialDocumentsList: "documentFlowModule/fetchFilialDocumentsList",
			fetchClearHeaderFilter: "documentFlowModule/fetchClearHeaderFilter",
			fetchDeleteRow: "documentFlowModule/deleteRow",
		}),
		/**/
		deleteRow(event, id){
			event.stopImmediatePropagation();

			if(!confirm(this.$t('document-flow.views.registration.delete-description'))) {
				return
			}

			let payload = {
				apiUrl: `/docflow/${this.$store.getters['auth/getCurrentUser'].filial}/for_registration/${id}/`
			}

			this.fetchDeleteRow(payload)
				.then(() => {
					this.$toast.success(this.$t('document-flow.views.registration.deleted'));
					this.fetchFilialDocumentsList(this.filteredState)
				})
		},
		/**/
		paginate(value){
      let query = {
        ...this.filteredState,
        page: value,
        // register_start_date: this.getHeaderFilters.register_start_date
      }

      this.filterPagination.page = value

      this.$router.replace({
        query: query
      }).catch(() => {})

      this.fetchFilialDocumentsList({
        ...query
      })
		}
	}
}
</script>

<style>

</style>
