<template>
	<div class="app-main-layout">
		<the-sidebar ref="appSidebar" @emit:up="openFeedbackModal"/>

		<the-header @emit:up="toggleNotificationBar" />

		<notification-bar ref="notificationBar" />

		<feedback-modal ref="feedbackModal" />

		<notifications group="notification" position="top right">
			<template slot="body" slot-scope="props">
				<div class="socket-notification pa-4 d-flex justify-space-between align-start ma-4">
					<div>
						<h4 class="text-white">{{ props.item.title }}</h4>
						<span class="text-white">{{ props.item.text }}</span>
					</div>
					<div>
						<a class="close" @click="props.close">
							<v-icon color="white">mdi-close</v-icon>
						</a>
					</div>
				</div>
			</template>
		</notifications>

		<v-main :class="versionClass">
			<router-view class="app-router-view d-flex flex-column pa-5"/>
		</v-main>

		<new-content-available-modal />
	</div>
</template>

<script>
import TheSidebar from '@/layouts/Sidebar'
import TheHeader from '@/layouts/Header'
import NotificationBar from '@/layouts/NotificationBar'
import FeedbackModal from "./components/FeedbackModal";
import { NewContentAvailableModal } from "@/common/components/Modal"
import { mapGetters, mapActions } from "vuex"
import { debounce } from "lodash/function"

export default {
	name: "MainLayout",
	components: {
		TheSidebar,
		TheHeader,
		NotificationBar,
		FeedbackModal,
		NewContentAvailableModal
	},
	computed: {
		...mapGetters({
			userHandShakeSocket: "socket/getUserHandShakeSocket",
			isNewContentAvailable: "socket/isNewContentAvailable",
		}),
		versionClass() {
			return ['audit', 'survey', 'hr'].includes(this.$route.fullPath.split('/')[1]) ||
			(['SendingDocumentsCreate'].includes(this.$route.name) && ['reference'].includes(this.$route.query.type)) || ['SendingDocumentsReferenceUpdate'].includes(this.$route.name)
				? 'app-main-v3' : 'app-main'
		}
	},
	mounted() {
		this.initBaseRequest()
		this.initUserSocket();
    this.fetchUnreadCountList()
	},
	methods: {
		...mapActions({
			initBaseRequest: "initBaseRequest",
			fetchUnreadCountList: "fetchUnreadCountList",
			initUserHandShakeSocket: "socket/initUserHandShakeSocket"
		}),
		/*
		*
		* */
		toggleNotificationBar(val){
			const { notificationBar } = this.$refs;
			notificationBar.drawer = val;
		},
		/**/
		openFeedbackModal(val) {
			const { feedbackModal } = this.$refs;
			feedbackModal.feedbackModal = val;
		},
		/*
		*
		* */
		toggleDrawer() {
			const {appSidebar} = this.$refs

			switch (this.$vuetify.breakpoint.name) {
				case 'xs':
					return appSidebar.drawerSettings.drawer = !appSidebar.drawerSettings.drawer;
				case 'sm':
					return appSidebar.drawerSettings.drawer = !appSidebar.drawerSettings.drawer;
				case 'md':
					return appSidebar.drawerSettings.drawer = !appSidebar.drawerSettings.drawer;
				case 'lg':
					return appSidebar.drawerSettings.mini = !appSidebar.drawerSettings.mini;
				case 'xl':
					return appSidebar.drawerSettings.mini = !appSidebar.drawerSettings.mini;
			}
		},
		/*
		*
		* */
		initUserSocket() {
			if(this.$jwt.getToken()) {
				this.initUserHandShakeSocket(this.$socket.init(process.env.VUE_APP_SOCKET_URL, this.$jwt.getToken()))

				this.userHandShakeSocket.onOpen({
					command: "user_handshake"
				})

				this.userHandShakeSocket.onMessageReceive()

				// setTimeout(() => {
				// 	this.$axios.get("/chats/private/socket_message/")
				// 		.then(({ data }) => {
				// 			console.log(data);
				// 		})
				// }, 2000)
			}
		},
	}
}
</script>

<style>
.app-main-layout {
	/*background: #fafbfc;*/
	min-height: 100vh;
}

.app-main {
	height: 100%;
	background: rgba(var(--bg-5-light), 0.35);
}

.app-main-v3 {
	height: 100%;
	background: #ffffff;
}

.app-main .v-main__wrap {
	display: flex;
	flex-direction: column;
	height: calc(var(--vh, 1vh) * 100 - 64px);
	overflow-y: auto;
	overflow-x: hidden;
}
.socket-notification{
	background: #68cd86;
}
</style>
