<template>
	<div class="filial-document-filter-view">
		<v-row>
			<!-- По состоянию -->
			<v-col md="4">
				<div class="app-input">
					<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.as-condition') }}</span>

					<v-select
						v-model="indexTableFilters.condition"
						:items="documentStateList"
						item-text="title"
						item-value="value"
						outlined
						hide-details
						clearable
						background-color="var(--input-bg)"
					>
						<template #append>
							<v-icon>mdi-chevron-down</v-icon>
						</template>
					</v-select>
				</div>
			</v-col>
			<!-- /По состоянию -->

			<!-- Рег. номер -->
			<v-col md="4">
				<div class="app-input">
					<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.registration-number') }}</span>

					<v-text-field
						v-model="indexTableFilters.register_number"
						outlined
						background-color="var(--input-bg)"
						hide-details
						clearable
					/>
				</div>
			</v-col>
			<!-- /Рег. номер -->

			<!-- Рег. дата -->
			<v-col md="4">
				<div class="app-input">
					<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.registration-date') }}</span>

					<app-date-picker
						v-model="indexTableFilters.__register_date"
						with-input
						range
						background-color="var(--input-bg)"
						clearable
						@emit:up="(value) => setDateSelect({ value, state: indexTableFilters, start: 'register_start_date', end: 'register_end_date' })"
						@clickClear="clearDateSelect({ state: indexTableFilters, start: 'register_start_date', end: 'register_end_date' })"
					/>
				</div>
			</v-col>
			<!-- /Рег. дата -->

			<!-- По филиалам -->
			<v-col md="4" class="py-2">
				<div class="app-input">
					<span class="d-block font-600 small-2 mb-2 text-7">{{$t('components.by-branches')}}</span>

					<autocomplete
						v-model="indexTableFilters.filial"
						api-list-url="/filials/"
						:api-params="{ condition: 'A', page_size: 30 }"
						item-text="name"
						item-value="id"
						list-type="list"
						cache-items
						clearable
					/>
				</div>
			</v-col>
			<!-- По филиалам -->
		</v-row>
	</div>
</template>

<script>
import {mapActions, mapGetters, mapState} from "vuex"
import {Trash2Icon} from "vue-feather-icons"

export default {
	name: "FilialDocumentTableFilter",
	components: {
		Trash2Icon
	},
	computed: {
		...mapState({
			statusList: state => state.statusList,
			documentStateList: state => state.documentStateList,
			journalList: state => state.journalList,
			indexTableFilters: state => state.documentFlowRegistrationFilialDocument.indexTableFilters
		}),
		/**/
		...mapGetters({
			currentUser: "auth/getCurrentUser",
			departmentList: "documentFlowModule/getDepartmentList",
		}),
		/**/
		documentReferenceUrl() {
			return `/docflow/${this.currentUser.filial}/reference/`
		},
		/**/
		usersReferenceUrl() {
			return `/${this.currentUser.filial}/user/lists/by_category/`
		},
	},
	mounted() {
		this.fetchDepartmentList();
	},
	methods: {
		...mapActions({
			setDateSelect: "setDateSelect",
			clearDateSelect: "clearDateSelect",
			fetchDepartmentList: "documentFlowModule/fetchDepartmentList",
		}),
		/**/
		handleStatusList() {
			this.indexTableFilters.status = this.indexTableFilters.statusList.join(",")
		},
		/**/
		clearStatusList() {
			this.indexTableFilters.status = null
			this.indexTableFilters.statusList = null
		},
		/**/
		handeCorrespondent() {
			this.indexTableFilters.correspondent_name = this.indexTableFilters.__correspondent.organization_name
			this.indexTableFilters.correspondent = this.indexTableFilters.__correspondent.id
		},
		/**/
		clearCorrespondent() {
			this.indexTableFilters.__correspondent = null
			this.indexTableFilters.correspondent = null
			this.indexTableFilters.correspondent_name = null
		},
		/**/
		handleDocType() {
			this.indexTableFilters.doc_type = this.indexTableFilters.__doc_type.id
			this.indexTableFilters.doc_type_name = this.indexTableFilters.__doc_type.name
		},
		/**/
		clearDocType() {
			this.indexTableFilters.__doc_type = null
			this.indexTableFilters.doc_type = null
			this.indexTableFilters.doc_type_name = null
		},
		/**/
		clearReviewUsers() {
			this.indexTableFilters.__review_user = null
			this.indexTableFilters.review_user = null
			this.indexTableFilters.full_name = null
		},
		/**/
		handleReviewUsers() {
			this.indexTableFilters.full_name = this.indexTableFilters.__review_user.full_name
			this.indexTableFilters.review_user = this.indexTableFilters.__review_user.id
		},
		/**/
		handleAuthor(){
			this.indexTableFilters.author_full_name = this.indexTableFilters.__author.full_name
			this.indexTableFilters.author = this.indexTableFilters.__author.id
		},
		/**/
		handleSigner(){
			this.indexTableFilters.signer_full_name = this.indexTableFilters.__signer.full_name
			this.indexTableFilters.signer = this.indexTableFilters.__signer.id
		},
		/**/
		clearAuthor() {
			this.indexTableFilters.__author = null
			this.indexTableFilters.author = null
			this.indexTableFilters.author_full_name = null
		},
		clearSigner() {
			this.indexTableFilters.__signer = null
			this.indexTableFilters.signer = null
			this.indexTableFilters.signer_full_name = null
		}
	}
}
</script>

<style scoped>

</style>
