<template>
  <v-dialog
    @click:outside="toggleDialog"
    @keydown.esc="toggleDialog"
    content-class="add-user-modal"
    max-width="640"
    v-model="addPerformerDialog"
  >
    <div class="pa-7 bg-white rounded-20 p-relative">
      <div class="d-flex pb-5 justify-space-between align-center">
        <h3 class="my-0 font-500 heading-10">
          {{ $t("control-tasks.tasks.search-employees") }}
        </h3>
        <div class="app-tab">
          <v-tabs
            centered
            color="#fff"
            height="40"
            hide-slider
            left
            slider-color="#5964D1"
            v-model="tab"
          >
            <v-tab :ripple="false" href="#name">
              <div class="d-flex align-center px-3">
                <span class="text-transform-none small-2 line-base font-400">{{
                  $t("control-tasks.tasks.by-name")
                }}</span>
              </div>
            </v-tab>
            <v-tab :ripple="false" href="#position">
              <div class="d-flex align-center px-3">
                <span class="text-transform-none small-2 line-base font-400">{{
                  $t("control-tasks.tasks.by-position")
                }}</span>
              </div>
            </v-tab>
          </v-tabs>
        </div>
      </div>
      <v-radio-group
        v-if="currentPerformer.type === 2"
        v-model="performerType"
        row
        hide-details
        class="mt-0 mb-3"
      >
        <v-radio
          :label="$t('control-tasks.tasks.affirmative')"
          :value="2"
        ></v-radio>
        <v-radio
          :label="$t('control-tasks.tasks.affirmative-response')"
          :value="1"
        ></v-radio>
      </v-radio-group>
      <div>
        <v-tabs-items v-model="tab">
          <v-tab-item value="name">
            <div>
              <div class="app-input">
                <v-autocomplete
                  :filter="value => value"
                  :items="searchResults"
                  :search-input.sync="search"
                  auto-select-first
                  background-color="var(--input-bg)"
                  dense
                  hide-details
                  item-text="full_name"
                  item-value="id"
                  outlined
                  v-model="performer"
                  style="border-radius: 10px !important"
                >
                  <template #prepend-inner>
                    <search-icon
                      class="mr-1 d-block"
                      color="var(--text-4)"
                      size="20"
                    />
                  </template>
                  <template #append>
                    <div class="h-100 w-100 d-flex justify-center align-center">
                      <app-loader v-if="searchLoading" :size="26" />
                    </div>
                  </template>
                  <template v-slot:item="{ item }">
                    <v-list-item-avatar :color="item.color">
                      <template v-if="item.avatar">
                        <img
                          :src="item.avatar.url"
                          alt="Avatar image"
                          class="object-cover"
                        />
                      </template>
                      <template v-else>
                        <span class="text-white">{{
                          item.full_name && item.full_name[0]
                        }}</span>
                      </template>
                    </v-list-item-avatar>
                    <v-list-item-content>
                      <v-list-item-title
                      >{{ item.full_name }}</v-list-item-title>
                      <v-list-item-subtitle>
                        <span>{{ item.position }} - </span>
                        <span
                          class="font-600 small-3"
                          :class="{
                            'success-text':
                              item.condition_name === 'Рабочие' ||
                              item.condition_name === 'Командировка',
                            'red--text':
                              item.condition_name !== 'Рабочие' &&
                              item.condition_name !== 'Командировка',
                          }"
                          >{{ item.condition_name }}</span
                        >
                      </v-list-item-subtitle>
                    </v-list-item-content>
                  </template>
                  <template v-slot:append-item>
                    <template v-if="page">
                      <div
                        v-intersect="{
                          handler: onIntersect,
                          options: {
                            threshold: [0, 1.0, 1.0],
                          },
                        }"
                        class="pa-4"
                      ></div>
                    </template>
                  </template>
                </v-autocomplete>
              </div>
              <div class="d-flex align-center pt-5" style="justify-content: flex-end;">
                <v-btn
                  @click="toggleDialog"
                  color="error"
                  depressed
                  small
                  style="margin: 0 15px 0 0; border-radius: 10px !important;"
                  >{{ $t("control-tasks.tasks.cancel") }}</v-btn
                >
                <v-btn @click="addPerformer" style="border-radius: 10px;" color="primary" depressed small>{{
                  $t("control-tasks.tasks.add")
                }}</v-btn>
              </div>
            </div>
          </v-tab-item>
          <v-tab-item class="pt-2" value="position">
            <div>
              <v-select
                :items="branches"
                :label="$t('control-tasks.tasks.branch')"
                @change="changeBranch"
                append-icon="mdi-chevron-down"
                background-color="var(--input-bg)"
                dense
                hide-details
                item-text="name"
                outlined
                return-object
                style="border-radius: 10px !important"
                v-model="branch"
              >
              </v-select>
            </div>
            <div class="mt-5">
              <v-select
                :items="departments"
                :label="$t('control-tasks.tasks.department')"
                @change="changeDepartment"
                append-icon="mdi-chevron-down"
                background-color="var(--input-bg)"
                dense
                hide-details
                item-text="name"
                outlined
                return-object
                style="border-radius: 10px !important"
                v-model="department"
              >
              </v-select>
            </div>
            <div class="mt-5">
              <v-select
                :items="departmentPerformers"
                :label="$t('control-tasks.tasks.employee')"
                append-icon="mdi-chevron-down"
                background-color="var(--input-bg)"
                dense
                hide-details
                item-text="name"
                outlined
                return-object
                style="border-radius: 10px !important"
                v-model="departmentPerformer"
              >
                <template v-slot:item="{ item }">
                  <v-list-item-avatar :color="item.color">
                    <template v-if="item.avatar">
                      <img
                        :src="item.avatar.url"
                        alt="Avatar image"
                        class="object-cover"
                      />
                    </template>
                    <template v-else>
                      <span class="text-white">{{
                        item.last_name && item.last_name[0]
                      }}</span>
                    </template>
                  </v-list-item-avatar>
                  <v-list-item-content>
                    <v-list-item-title
                    >{{ item.last_name +
                        ' ' +
                        item.first_name +
                        ' ' +
                        item.father_name }}</v-list-item-title>
                    <v-list-item-subtitle>
                      <span>{{ item.position }} - </span>
                      <span
                        class="font-600 small-3"
                        :class="{
                          'success-text':
                            item.condition_name === 'Рабочие' ||
                            item.condition_name === 'Командировка',
                          'red--text':
                            item.condition_name !== 'Рабочие' &&
                            item.condition_name !== 'Командировка',
                        }"
                        >{{ item.condition_name }}</span
                      >
                    </v-list-item-subtitle>
                  </v-list-item-content>
                </template>
                <template v-slot:append-item>
                  <template v-if="departmentsPage">
                    <div
                      v-intersect="{
                        handler: onIntersection,
                        options: {
                          threshold: [0, 1.0, 1.0],
                        },
                      }"
                      class="pa-4"
                    ></div>
                  </template>
                </template>
              </v-select>
            </div>
            <div class="d-flex align-center pt-5" style="justify-content: flex-end;">
              <v-btn
                @click="toggleDialog"
                color="error"
                depressed
                small
                style="margin: 0 15px 0 0; border-radius: 10px !important;"
                >{{ $t("control-tasks.tasks.cancel") }}</v-btn
              >
              <v-btn
                @click="addDepartmentPerformer"
                color="primary"
                depressed
                small
                style="border-radius: 10px !important"
                >{{ $t("control-tasks.tasks.add") }}</v-btn
              >
            </div>
          </v-tab-item>
        </v-tabs-items>
      </div>
    </div>
  </v-dialog>
</template>
<script>
import AppLoader from "@/common/components/base/AppLoader";
import isObject from "lodash/isObject";
import { SearchIcon } from "vue-feather-icons";
import { mapGetters } from "vuex";
export default {
  name: "AddPerformer",
  data() {
    return {
      branch: {},
      department: {},
      departmentPerformer: {},
      departmentPerformers: [],
      departments: [],
      performer: null,
      performerType: 1,
      search: "",
      searchLoading: false,
      searchResults: [],
      page: null,
      tab: "name",
      departmentsPage: null,
      departmentsLoading: false,
    };
  },
  components: {
    SearchIcon,
    AppLoader,
  },
  watch: {
    search: {
      handler(search) {
        this.searchLoading = true;
        this.$axios
          .get(`/phonebook/?page=1${search ? "&search=" + search : ""}`)
          .then(response => {
            const results = response?.data?.results;
            const next = response?.data?.next;
            if (next) {
              this.page = 2;
            } else {
              this.page = null;
            }
            const searchResults = (Array.isArray(results) ? results : []).map(
              user => {
                const disabled =
                  user?.condition_name !== "Рабочие" &&
                  user?.condition_name !== "Командировка";
                return { ...user, disabled };
              }
            );
            this.searchResults = searchResults;
          })
          .catch(() => {
            this.searchResults = [];
            this.page = null;
          })
          .finally(() => {
            this.searchLoading = false;
          });
      },
    },
  },
  computed: {
    ...mapGetters({
      currentUser: "auth/getCurrentUser",
    }),
  },
  props: {
    addPerformerDialog: Boolean,
    branches: Array,
    closeDialog: Function,
    currentPerformer: Object,
    currentTask: Object,
    filter: Object,
    getPerformers: Function,
    getTasksStatusCount: Function,
    performers: Array,
  },
  methods: {
    getDepartments(branchMfo) {
      this.$axios
        .get(`/departments/?filial=${branchMfo}&page_size=100`)
        .then(response => {
          const results = response?.data?.results;
          const departments = Array.isArray(results) ? results : [];
          this.departments = departments;
        })
        .catch(() => {
          this.departments = [];
        });
    },
    getDepartmentPerformers(departmentCode) {
      this.departmentsLoading = true;
      this.$axios
        .get(
          `/dashboard/${this.branch?.mfo}/departament-users/${departmentCode}/?page=1`
        )
        .then(response => {
          const results = response?.data?.results;
          const next = response?.data?.next;
          if (next) {
            this.departmentsPage = 2;
          } else {
            this.departmentsPage = null;
          }
          const departmentPerformers = (
            Array.isArray(results) ? results : []
          ).map(user => {
            const disabled =
              user?.condition_name !== "Рабочие" &&
              user?.condition_name !== "Командировка";
            return {
              ...user,
              disabled,
              name: `${user?.last_name} ${user?.first_name} ${user?.father_name}`,
            };
          });
          this.departmentPerformers = departmentPerformers;
        })
        .catch(() => {
          this.departmentPerformers = [];
          this.departmentsPage = null;
        })
        .finally(() => {
          this.departmentsLoading = false;
        });
    },
    changeBranch(branch) {
      this.branch = branch;
      this.getDepartments(branch?.mfo);
      this.department = {};
    },
    changeDepartment(department) {
      this.department = department;
      this.departmentsPage = null;
      this.getDepartmentPerformers(department?.code);
      this.departmentPerformer = {};
    },
    addPerformer() {
      if (this.performer) {
        const performers = this.performers;
        const condition =
          this.currentPerformer?.type === 0 &&
          this.currentPerformer?.parent_performer === null
            ? performer => performer?.performer?.id !== this.currentUser?.id
            : performer => performer;
        const isAdded = (Array.isArray(performers) ? performers : [])
          .filter(performer => performer?.performer?.id === this.performer)
          .some(condition);
        if (isAdded) {
          this.$toast.error(
            this.$t("control-tasks.tasks.user-exist-this-task")
          );
        } else {
          const performer = {
            is_main: false,
            location_type: 1,
            performer: this.performer,
            type: this.currentPerformer?.type === 2 ? this.performerType : 0,
          };
          this.$axios
            .post(
              `/control_tasks/tasks/${this.currentTask?.id}/performers/`,
              performer
            )
            .then(response => {
              const status = response?.status;
              const data = response?.data;
              if (status === 201 && isObject(data)) {
                this.getPerformers(this.currentTask?.id);
                this.getTasksStatusCount(this.filter);
                this.toggleDialog();
                this.$toast.success(
                  this.$t("control-tasks.tasks.employee-added")
                );
              } else {
                this.$toast.error(
                  this.$t("control-tasks.tasks.an-error-occurred")
                );
              }
            })
            .catch(() => {
              this.$toast.error(
                this.$t("control-tasks.tasks.an-error-occurred")
              );
            });
        }
      } else {
        this.$toast.error(this.$t("control-tasks.tasks.add-employee"));
      }
    },
    addDepartmentPerformer() {
      if (this.departmentPerformer?.id) {
        const performers = this.performers;
        const condition =
          this.currentPerformer?.type === 0 &&
          this.currentPerformer?.parent_performer === null
            ? performer => performer?.performer?.id !== this.currentUser?.id
            : performer => performer;
        const isAdded = (Array.isArray(performers) ? performers : [])
          .filter(performer => performer?.performer?.id === this.performer)
          .some(condition);
        if (isAdded) {
          this.$toast.error(
            this.$t("control-tasks.tasks.user-exist-this-task")
          );
        } else {
          const performer = {
            is_main: false,
            location_type: 1,
            performer: this.departmentPerformer?.id,
            type: this.currentPerformer?.type === 2 ? this.performerType : 0,
          };
          this.$axios
            .post(
              `/control_tasks/tasks/${this.currentTask?.id}/performers/`,
              performer
            )
            .then(response => {
              const status = response?.status;
              const data = response?.data;
              if (status === 201 && isObject(data)) {
                this.getPerformers(this.currentTask?.id);
                this.getTasksStatusCount(this.filter);
                this.$toast.success(
                  this.$t("control-tasks.tasks.employee-added")
                );
                this.toggleDialog();
              } else {
                this.$toast.error(
                  this.$t("control-tasks.tasks.an-error-occurred")
                );
              }
            })
            .catch(() => {
              this.$toast.error(
                this.$t("control-tasks.tasks.an-error-occurred")
              );
            });
        }
      } else {
        this.$toast.error(this.$t("control-tasks.tasks.add-employee"));
      }
    },
    onIntersect(entries) {
      if (entries[0].intersectionRatio >= 0.5) {
        this.searchLoading = true;
        this.$axios
          .get(
            `/phonebook/?page=${this.page}${
              this.search ? "&search=" + this.search : ""
            }`
          )
          .then(response => {
            const results = response?.data?.results;
            const next = response?.data?.next;
            if (next) {
              this.page = this.page + 1;
            } else {
              this.page = null;
            }
            const searchResults = (Array.isArray(results) ? results : []).map(
              user => {
                const newUser = {
                  ...user,
                  disabled:
                    user?.condition_name !== "Рабочие" &&
                    user?.condition_name !== "Командировка",
                };
                return newUser;
              }
            );
            this.searchResults = [...this.searchResults, ...searchResults];
          })
          .catch(() => {
            this.searchResults = [];
            this.page = null;
          })
          .finally(() => {
            this.searchLoading = false;
          });
      }
    },
    onIntersection(entries) {
      if (entries[0].intersectionRatio >= 0.5) {
        this.departmentsLoading = true;
        this.$axios
          .get(
            `/dashboard/${this.branch.mfo}/departament-users/${this.department?.code}/?page=${this.departmentsPage}`
          )
          .then(response => {
            const results = response?.data?.results;
            const next = response?.data?.next;
            if (next) {
              this.departmentsPage = this.departmentsPage + 1;
            } else {
              this.departmentsPage = null;
            }
            const departmentPerformers = (
              Array.isArray(results) ? results : []
            ).map(user => {
              const newUser = {
                ...user,
                disabled:
                  user?.condition_name !== "Рабочие" &&
                  user?.condition_name !== "Командировка",
                name: `${user?.last_name} ${user?.first_name} ${user?.father_name}`,
              };
              return newUser;
            });
            this.departmentPerformers = [
              ...this.departmentPerformers,
              ...departmentPerformers,
            ];
          })
          .catch(() => {
            this.departmentsPage = null;
          })
          .finally(() => {
            this.departmentsLoading = false;
          });
      }
    },
    toggleDialog() {
      this.branch = {};
      this.closeDialog();
      this.department = {};
      this.departmentPerformer = {};
      this.departmentPerformers = [];
      this.departmentsLoading = false;
      this.departmentsPage = null;
      this.departments = [];
      this.page = null;
      this.performer = null;
      this.performerType = 1;
      this.search = "";
      this.searchLoading = false;
      this.searchResults = [];
    },
  },
};
</script>
