<template>
  <div class="pt-2 pb-2 mb-2 mt-1 bg-white" style="position: sticky; top: 56px; z-index: 2">
    <v-app-bar color="primary control-tasks-app-bar" style="border-radius: 12px; height: 56px" elevate-on-scroll>
      <div class="d-flex align-center justify-space-between w-100">
        <h4 class="font-500 text-white">
          {{ $t("control-tasks.tasks.responses") }}
        </h4>
        <div class="d-flex">
          <v-btn 
            @click="toggleForwardTaskDialog"
            color="white"
            depressed
            small
            style="border-radius: 8px;"
            text
            v-if="currentPerformer.can_transfer && ![5, 7].includes(currentPerformer.status)"
            >
            {{ $t("control-tasks.tasks.transfer") }}
          </v-btn>
          <v-btn
            @click.stop="toggleAddPerformerDialog"
            color="white"
            depressed
            small
            style="border-radius: 8px;"
            text
            v-if="(isDepartmentHead || isAffirmative) && ![5, 7].includes(currentPerformer.status) && isEmpty"
          >
            {{ $t("control-tasks.tasks.adding-employee") }}
          </v-btn>
          <v-btn
            @click.stop="toggleMyPerformersDialog"
            color="white"
            depressed
            small
            style="border-radius: 8px;"
            text
            v-if="(isDepartmentHead || isAffirmative) && hasMyPerformers"
          >
            {{ $t("control-tasks.tasks.my-performers") }}
          </v-btn>
          <v-btn
            @click.stop="togglePerformersDialog"
            color="white"
            depressed
            small
            style="border-radius: 8px;"
            text
          >
            {{ $t("control-tasks.tasks.all-performers") }}
          </v-btn>
        </div>
      </div>
    </v-app-bar>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
export default {
  name: "AppBar",
  props: {
    currentPerformer: Object,
    hasMyPerformers: Boolean,
    isAffirmative: Boolean,
    isDepartmentHead: Boolean,
    performers: Array,
    toggleAddPerformerDialog: Function,
    toggleForwardTaskDialog: Function,
    toggleMyPerformersDialog: Function,
    togglePerformersDialog: Function,
  },
  computed: {
    ...mapGetters({
      currentUser: "auth/getCurrentUser",
    }),
    isEmpty() {
      const performers = this.performers;
      const ownPerformer = (Array.isArray(performers) ? performers : []).filter(performer => performer?.parent_performer?.performer?.id === this.currentUser?.id)?.length === 0;
      const isEmpty = this.currentPerformer?.type === 0 && this.currentPerformer?.parent_performer === null ? ownPerformer : true;
      return isEmpty;
    }
  },
};
</script>
<style>
.control-tasks-app-bar .v-toolbar__content {
  height: 56px !important;
}
</style>