<template>
  <div style="border-top: 1px solid rgba(187, 187, 187, 0.5);">
    <div
      class="d-flex"
      style="flex-wrap: wrap; justify-content: space-between"
    >
      <div class="font-500 mr-5">
        <div class="item-property my-3">
          {{ $t("control-tasks.tasks.document-number") }}
        </div>
        <div class="ml-1">
          {{ currentTask.doc_number }}
        </div>
      </div>
      <div class="font-500 mr-5">
        <div class="item-property my-3">
          {{ $t("control-tasks.tasks.clause-number") }}
        </div>
        <div class="ml-1">
          {{ currentTask.clause_number }}
        </div>
      </div>
      <div class="font-500 mr-5">
        <div class="item-property my-3">
          {{ $t("control-tasks.tasks.document-date") }}
        </div>
        <div class="ml-1">
          {{ parseDate(currentTask.doc_date) }}
        </div>
      </div>
      <div class="font-500 mr-5">
        <div class="item-property my-3">
          {{ $t("control-tasks.tasks.deadline") }}
        </div>
        <div class="ml-1">
          {{ parseDate(currentTask.deadline) }}
        </div>
      </div>
      <div class="font-500 mr-5">
        <div class="item-property my-3">
          {{ $t("control-tasks.tasks.task-status") }}
        </div>
        <div class="ml-1">
          {{ currentTask.status_name }}
        </div>
      </div>
    </div>
    <div v-if="currentTask.is_overdue || currentPerformer.not_done" class="mt-5">
      <v-chip v-if="currentTask.is_overdue" color="#F49300" class="mr-2" text-color="white">
        <span style="font-size: 14px">
          {{$t("control-tasks.tasks.overdue")}}
        </span>
      </v-chip>
      <v-chip v-if="currentPerformer.not_done" color="red" text-color="white">
        <span style="font-size: 14px">
          {{$t("control-tasks.tasks.not-done")}}
        </span>
      </v-chip>
    </div>
    <div class="font-500">
      <div class="my-2 font-600" style="font-size: 16px;">
        {{ $t("control-tasks.tasks.task-content") }}
      </div>
      <div
        class="current-task-description"
        v-html="currentTask.description"
      ></div>
    </div>
    <div v-if="files.length" class="font-500">
      <div class="my-2 font-600" style="font-size: 16px;">
        {{ $t("control-tasks.tasks.attached-files") }}
      </div>
      <div class="d-flex" style="flex-wrap: wrap">
        <app-tooltip
          :key="index"
          class="d-flex align-center"
          top
          v-for="(file, index) in files"
        >
          <template #content>
            <a
              :href="file.url"
              class="d-flex mr-2 text-decoration-none align-center"
              style="margin: 4px"
              target="_blank"
            >
              <file-text-icon size="24" color="#5964D1" />
              <span style="color: #5964d1" class="ml-2 text-black">
                {{fileName(file.name)}}
              </span>
            </a>
          </template>
          <template #text>
            <span class="font-500 small-2">{{ file.name }}</span>
          </template>
        </app-tooltip>
      </div>
    </div>
  </div>
</template>
<script>
import AppLoader from "@/common/components/base/AppLoader";
import { FileTextIcon } from "vue-feather-icons";
export default {
  name: "CurrentTask",
  components: { FileTextIcon, AppLoader },
  props: {
    currentPerformer: Object,
    currentTask: Object,
  },
  data() {
    return {};
  },
  computed: {
    files() {
      const files = this.currentTask?.files;
      return Array.isArray(files) ? files : [];
    },
  },
  methods: {
    parseDate(incomingDate = new Date()) {
      const parsingDate = new Date(incomingDate);
      const year = parsingDate.getFullYear().toString();
      const month = (parsingDate.getMonth() + 1).toString().padStart(2, "0");
      const date = parsingDate.getDate().toString().padStart(2, "0");
      const d = `${date}.${month}.${year}`;
      return d;
    },
    fileName(name) {
      if (name?.length > 20) {
        return name?.trim()?.slice(0, 20) + " ...";
      } else {
        return name?.trim();
      }
    },
  },
};
</script>
<style></style>