<template>
  <v-dialog persistent max-width="740" v-model="editDialog">
    <div class="pa-7 bg-white rounded-20 p-relative">
      <div class="d-flex pb-5 justify-space-between align-center">
        <h3 class="my-0 font-500 heading-10">
          {{ $t("control-tasks.tasks.edit-response") }}
        </h3>
      </div>
      <div class="input-bg" style="border-radius: 16px">
        <div class="pa-4 pb-1">
          <div class="app-tab">
            <v-tabs v-model="inputTab" hide-slider height="36" color="#fff">
              <v-tab href="#text">
                <div class="d-flex align-center px-3">
                  <type-icon size="16" class="mr-2" />
                  <span class="text-transform-none small-2 line-base font-400">{{ $t("control-tasks.tasks.text") }}</span>
                </div>
              </v-tab>
              <v-tab href="#file">
                <div class="d-flex align-center px-3">
                  <paperclip-icon size="16" class="mr-2" />
                  <span class="text-transform-none small-2 line-base font-400">{{ $t("control-tasks.tasks.file") }}</span>
                </div>
              </v-tab>
            </v-tabs>
          </div>
        </div>
        <v-tabs-items class="app-tab-items" v-model="inputTab">
          <v-tab-item value="text">
            <quill-editor v-model="editResponse.description" />
          </v-tab-item>
          <v-tab-item value="file">
            <div class="file-upload-for-sending-document">
              <div class="pa-4">
                <div class="d-flex align-center flex-wrap">
                  <div class="d-flex flex-wrap">
                    <template>
                      <v-sheet
                        :key="index"
                        class="d-flex align-center border-all rounded-15 overflow-hidden mr-5 mb-2"
                        height="40"
                        style="border-color: var(--primary-1)"
                        v-for="(file, index) in editResponse.files"
                      >
                        <a :href="file.url" target="_blank" class="d-flex align-center pl-4 h-100" style="cursor: pointer; color: #000000; text-decoration: none;">
                          <img alt="Icon" src="/img/icons/doc-icon.svg" />
                          <span
                            class="small-2 ml-2 mr-3 font-500 text-truncate"
                            style="max-width: 100px"
                            >{{ file.name }}</span
                          >
                        </a>
                        <v-btn
                          @click="deleteFile(file.id)"
                          color="error"
                          height="36"
                          min-width="36"
                          text
                          width="36"
                        >
                          <x-icon size="18" />
                        </v-btn>
                      </v-sheet>
                    </template>
                  </div>
                  <div class="d-flex mb-2">
                    <v-file-input
                      @change="uploadFiles"
                      class="flex-grow-0 d-none"
                      clear-icon=""
                      hide-details
                      id="edit-response-file-input"
                      multiple
                      outlined
                      prepend-icon=""
                      ref="editResponseFileUploadRef"
                    />
                    <label
                      for="edit-response-file-input"
                      class="d-flex align-center"
                    >
                      <span
                        class="primary-bg text-white small-2 px-4 rounded d-flex align-center pointer"
                        style="height: 40px"
                      >
                        <plus-icon size="20" />
                        <span class="line-base ml-2">{{
                          $t("control-tasks.tasks.add-file")
                        }}</span>
                      </span>
                    </label>
                  </div>
                </div>
                <template v-if="isProgressVisible">
                  <v-progress-circular
                    :color="isSuccess ? 'primary' : 'error'"
                    :rotate="-90"
                    :size="80"
                    :value="progressValue"
                    :width="12"
                    class="my-2"
                  >
                    {{ progressValue + "%" }}
                  </v-progress-circular>
                </template>
              </div>
            </div>
          </v-tab-item>
        </v-tabs-items>
      </div>
      <div class="d-flex mt-4" style="justify-content: flex-end">
        <div v-if="editLoading" class="d-inline-block">
          <app-loader :size="36" />
        </div>
        <template v-else>
          <v-btn
            @click="() => toggleEditResponseDialog()"
            color="error"
            depressed
            small
            style="border-radius: 10px !important"
            >{{ $t("control-tasks.tasks.cancel") }}</v-btn
          >
          <v-btn
            @click="saveResponse"
            class="ml-2"
            color="primary"
            depressed
            small
            style="border-radius: 10px !important"
            >{{ $t("control-tasks.tasks.save") }}</v-btn
          >
        </template>
      </div>
    </div>
  </v-dialog>
</template>
<script>
import AppLoader from "@/common/components/base/AppLoader.vue";
import { PaperclipIcon, PlusIcon, TypeIcon, XIcon } from "vue-feather-icons";
export default {
  name: "EditResponse",
  components: {
    AppLoader,
    PaperclipIcon,
    PlusIcon,
    TypeIcon,
    XIcon,
  },
  props: {
    deleteFile: Function,
    editDialog: Boolean,
    editLoading: Boolean,
    editResponse: Object,
    isProgressVisible: Boolean,
    isSuccess: Boolean,
    progressValue: Number,
    saveResponse: Function,
    toggleEditResponseDialog: Function,
    uploadFiles: Function,
  },
  data() {
    return {
      inputTab: "text",
    };
  },
};
</script>
