<template>
   <v-dialog
      persistent
      max-width="720"
      style="border-radius: 10px"
      v-model="visible"
      >
      <v-card>
         <h3 class="font-500 px-4 py-4">
            {{$t("control-tasks.tasks.edit-comment")}}
         </h3>
         <div class="input-bg mx-4" style="border-radius: 16px">
            <div class="pa-4 pb-1">
               <div class="app-tab">
                  <v-tabs v-model="inputTab" hide-slider height="36" color="#fff">
                  <v-tab href="#text">
                     <div class="d-flex align-center px-3">
                        <type-icon size="16" class="mr-2" />
                        <span class="text-transform-none small-2 line-base font-400">{{$t("control-tasks.tasks.text")}}</span>
                     </div>
                  </v-tab>
                  <v-tab href="#file">
                     <div class="d-flex align-center px-3">
                        <paperclip-icon size="16" class="mr-2" />
                        <span class="text-transform-none small-2 line-base font-400">{{$t("control-tasks.tasks.file")}}</span>
                     </div>
                  </v-tab>
                  </v-tabs>
               </div>
            </div>
            <v-tabs-items class="app-tab-items" v-model="inputTab">
               <v-tab-item value="text">
                  <quill-editor v-model="editLog.comment" />
               </v-tab-item>
               <v-tab-item value="file">
                  <div class="file-upload-for-sending-document">
                     <div class="pa-4">
                        <div class="d-flex align-center flex-wrap">
                           <div class="d-flex flex-wrap">
                           <template>
                              <v-sheet
                                 :key="index"
                                 class="d-flex align-center border-all rounded-15 overflow-hidden mr-5 mb-2"
                                 height="40"
                                 style="border-color: var(--primary-1)"
                                 v-for="(file, index) in editLog.files"
                              >
                                 <a :href="file.url" target="_blank" class="d-flex align-center pl-4 h-100" style="cursor: pointer; color: #000000; text-decoration: none;">
                                    <img alt="Icon" src="/img/icons/doc-icon.svg" />
                                    <span class="small-2 ml-2 mr-3 font-500 text-truncate" style="max-width: 100px">{{ file.name }}</span>
                                 </a>
                                 <v-btn
                                    @click="deleteFile(file.id)"
                                    color="error"
                                    height="36"
                                    min-width="36"
                                    text
                                    width="36"
                                    >
                                    <x-icon size="18" />
                                 </v-btn>
                              </v-sheet>
                           </template>
                           </div>
                           <div class="d-flex mb-2">
                           <v-file-input
                              @change="uploadFiles"
                              class="flex-grow-0 d-none"
                              clear-icon=""
                              hide-details
                              id="log-file-input"
                              multiple
                              outlined
                              prepend-icon=""
                              ref="fileUploadRef"
                           />
                           <label for="log-file-input" class="d-flex align-center">
                              <span class="primary-bg text-white small-2 px-4 rounded d-flex align-center pointer" style="height: 40px">
                                 <plus-icon size="20" />
                                 <span class="line-base ml-2">{{$t("control-tasks.tasks.add-file")}}</span>
                              </span>
                           </label>
                           </div>
                        </div>
                        <template v-if="isProgressVisible">
                           <v-progress-circular
                           :color="isSuccess ? 'primary' : 'error'"
                           :rotate="-90"
                           :size="80"
                           :value="progressValue"
                           :width="12"
                           class="my-2"
                           >
                           {{ progressValue + "%" }}
                           </v-progress-circular>
                        </template>
                     </div>
                  </div>
               </v-tab-item>
            </v-tabs-items>
         </div>
         <v-card-actions class="justify-end pb-4">
            <div v-if="loading" class="d-inline-block ml-2">
               <app-loader :size="36" />
            </div>
            <template v-else>
               <v-btn 
                  @click="() => toggleDialog({})" 
                  color="error" 
                  depressed
                  style="border-radius: 10px !important">{{$t("control-tasks.tasks.cancel")}}</v-btn>
               <v-btn
                  @click="edit"
                  class="ml-2"
                  color="primary"
                  depressed
                  style="border-radius: 10px !important">{{ $t("control-tasks.tasks.send") }}</v-btn>
            </template>
         </v-card-actions>
      </v-card>
   </v-dialog>
</template>
<script>
import AppLoader from "@/common/components/base/AppLoader.vue";
import isObject from "lodash/isObject";
import { PaperclipIcon, PlusIcon, TypeIcon, XIcon } from "vue-feather-icons";
export default {
   name: 'EditLog',
   componets: {
      AppLoader,
      PaperclipIcon,
      PlusIcon,
      TypeIcon,
      XIcon,
   },
   props: {
      edit: Function,
      editLog: Object,
      loading: Boolean,
      setEditLog: Function,
      toggleDialog: Function,
      visible: Boolean,
   },
   data() {
      return {
         inputTab: "text",
         isProgressVisible: false,
         isSuccess: true,
         progressValue: 0,
         responseLoading: false,
      };
   },
   methods: {
      uploadFiles(files) {
         if (files) {
            this.isProgressVisible = true;
            this.progressValue = 0;
         }
         this.isSuccess = true;
         for (let i = 0; i < files.length; i++) {
            let formData = new FormData();
            formData.append("file", files[i]);
            let progressValue = 0;
            this.$axios
               .post("/upload/", formData, {
                  onUploadProgress: progressEvent => {
                     progressValue = parseInt(
                        Math.round((progressEvent.loaded / progressEvent.total) * 100)
                     );
                     if (progressValue <= 100) {
                        this.progressValue = progressValue - 1;
                     }
                  },
               })
               .then(response => {
                  this.progressValue = progressValue;
                  const status = response?.status;
                  const data = response?.data;
                  if (status === 200 && isObject(data)) {
                     const editLogFiles = this.editLog?.files;
                     const files = Array.isArray(editLogFiles) ? editLogFiles : [];
                     this.setEditLog({
                        ...this.editLog,
                        files: [...files, data],
                     });
                     this.isSuccess = true;
                  } else {
                     this.isSuccess = false;
                  }
               })
               .catch(() => {
                  this.isSuccess = false;
               })
               .finally(() => {
                  setTimeout(() => {
                     this.isProgressVisible = false;
                     document.getElementById("log-file-input").value = "";
                  }, 2000);
               });
         }
      },
      deleteFile(fileId) {
         const editLogFiles = this.editLog?.files;
         const files = (Array.isArray(editLogFiles) ? editLogFiles : []).filter(file => file?.id !== fileId);
         this.setEditLog({
            ...this.editLog,
            files,
         });
         document.getElementById("log-file-input").value = "";
      },
   }
}
</script>