<template>
	<div>
		<div v-if="responsesLoading" class="w-100 py-4 d-flex justify-center">
			<app-loader :size="32" />
		</div>
		<template v-else>
			<div v-if="page" class="w-100 py-4 d-flex justify-center">
				<v-btn @click="() => getResponses()" style="border-radius: 10px !important" color="primary" depressed small>{{$t("control-tasks.tasks.load-more")}}</v-btn>
			</div>
		</template>
	</div>
</template>
<script>
import AppLoader from "@/common/components/base/AppLoader";
export default {
	name: "LoadMore",
	components: {
		AppLoader,
	},
	props: {
		getResponses: Function,
		page: Number,
		responsesLoading: Boolean,
	},
};
</script>
