<template>
  <div>
    <div v-for="(changeLog, index) in response.change_logs" :key="index">
      <div class="control-task-response py-3" v-if="viewLog(changeLog.to_status)">
        <div
          style="line-height: 170%; flex-wrap: wrap"
          class="d-flex align-center justify-space-between small-1"
        >
          <div class="d-flex align-center">
            <span class="font-500" style="font-size: 16px">
              {{ changeLog.created_by.full_name }}
            </span>
            <span style="font-size: 15px;" class="font-500 ml-4 px-2 response-created-date">{{
              parsingDateHour(changeLog)
            }}</span>
          </div>
          <div class="d-flex align-center">
            <div
              v-if="isAffirmative && [3].includes(response.status) && [3].includes(changeLog.to_status)"
              class="d-flex align-center"
            >
              <app-tooltip top>
                <template #content>
                  <v-btn
                    @click.stop="
                      () => {
                        setChangeStatus({
                          ...changeStatus,
                          comment: '',
                          open: true,
                          responseId: response.id,
                          status: 5,
                        });
                      }
                    "
                    class="done-button mr-2"
                    icon
                    small
                  >
                    <svg fill="none" height="20" viewBox="0 0 16 16" width="20">
                      <path
                        clip-rule="evenodd"
                        d="M3.8027 6.64801C3.54105 6.38897 3.11894 6.39109 2.8599 6.65274C2.60086 6.91439 2.60297 7.33649 2.86462 7.59553L6.74819 11.4404C7.02236 11.7118 7.46901 11.6946 7.72142 11.4028L13.1712 5.10283C13.4121 4.82437 13.3816 4.40336 13.1031 4.16248C12.8247 3.9216 12.4037 3.95206 12.1628 4.23052L7.17953 9.99118L3.8027 6.64801Z"
                        fill-rule="evenodd"
                        fill="#0EA20B"
                      />
                    </svg>
                  </v-btn>
                </template>
                <template #text>
                  <span class="font-500 small-2">{{
                    $t("control-tasks.tasks.remove-from-control")
                  }}</span>
                </template>
              </app-tooltip>
              <app-tooltip top>
                <template #content>
                  <v-btn
                    @click.stop="
                      () => {
                        setChangeStatus({
                          ...changeStatus,
                          comment: '',
                          open: true,
                          responseId: response.id,
                          status: 4,
                        });
                      }
                    "
                    class="back-process-button mr-2"
                    icon
                    small
                  >
                    <svg fill="none" height="20" viewBox="0 0 16 16" width="20">
                      <path
                        clip-rule="evenodd"
                        d="M3.89932 12.3333L5.41617 13.5471C5.70365 13.7771 5.75022 14.1967 5.52018 14.4841C5.29015 14.7716 4.87061 14.8182 4.58313 14.5882L1.58313 12.1876C1.41988 12.057 1.33653 11.8688 1.33309 11.6793C1.33305 11.6751 1.33301 11.6709 1.33301 11.6667C1.33301 11.5887 1.34639 11.5139 1.37099 11.4443L1.37101 11.4443C1.37282 11.4391 1.3747 11.434 1.37664 11.4289C1.39947 11.3672 1.43542 11.3035 1.48249 11.246C1.51693 11.2037 1.55645 11.1657 1.60012 11.1329L4.58314 8.74612C4.87063 8.51609 5.29016 8.56267 5.52019 8.85016C5.75023 9.13765 5.70365 9.55718 5.41616 9.78721L3.90043 11H9.49967C11.6168 11 13.333 9.28376 13.333 7.16667C13.333 5.04958 11.6168 3.33333 9.49967 3.33333H4.99967C4.63148 3.33333 4.33301 3.03486 4.33301 2.66667C4.33301 2.29848 4.63148 2 4.99967 2H9.49967C12.3531 2 14.6663 4.3132 14.6663 7.16667C14.6663 10.0201 12.3531 12.3333 9.49967 12.3333H3.89932Z"
                        fill-rule="evenodd"
                        fill="#EB3232"
                      />
                    </svg>
                  </v-btn>
                </template>
                <template #text>
                  <span class="font-500 small-2">{{
                    $t("control-tasks.tasks.getting-out-control")
                  }}</span>
                </template>
              </app-tooltip>
            </div>
            <log-status :status="changeLog.to_status" />
            <template v-if="permission(changeLog)">
              <v-btn
                @click="() => {
                  toggleDialog({ ...changeLog, response: response.id });
                }"
                class="ml-2"
                color="primary"
                depressed
                small
                style="color: white; border-radius: 10px"
              >
                <edit-3-icon size="20" />
                <span class="ml-2">{{ $t("control-tasks.tasks.edit") }}</span>
              </v-btn>
            </template>
          </div>
        </div>
        <div
          class="font-400 mt-3 response-description"
          style="font-size: 15px;"
          v-html="changeLog.comment"
        ></div>
        <div v-if="changeLog.files.length" class="font-500">
          <div class="item-property my-3">
            {{ $t("control-tasks.tasks.attached-files") }}
          </div>
          <div class="d-flex" style="flex-wrap: wrap">
            <app-tooltip
              :key="index"
              class="d-flex align-center"
              top
              v-for="(file, index) in changeLog.files"
            >
              <template #content>
                <a
                  :href="file.url"
                  class="d-flex mr-2 text-decoration-none align-center"
                  style="margin: 4px"
                  target="_blank"
                >
                  <file-text-icon size="24" color="#5964D1" />
                  <span style="color: #5964d1" class="ml-2 text-black">{{
                    fileName(file.name)
                  }}</span>
                </a>
              </template>
              <template #text>
                <span class="font-500 small-2">{{ file.name }}</span>
              </template>
            </app-tooltip>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import LogStatus from "./LogStatus";
import { Edit3Icon, FileTextIcon } from "vue-feather-icons";
import { mapGetters } from "vuex";
export default {
  name: "Log",
  components: {
    Edit3Icon,
    FileTextIcon,
    LogStatus,
  },
  computed: {
    ...mapGetters({
      currentUser: "auth/getCurrentUser",
    }),
  },
  props: {
    changeStatus: Object,
    isAffirmative: Boolean,
    isAffirmativeResponse: Boolean,
    isDepartmentEmployee: Boolean,
    isDepartmentHead: Boolean,
    response: Object,
    setChangeStatus: Function,
    toggleDialog: Function,
  },
  methods: {
    viewLog(status) {
      if (status === 1 || status === 2) {
        if (
          this.isDepartmentEmployee ||
          this.isDepartmentHead ||
          this.currentUser?.roles.includes('admin')
        ) {
          return true;
        } else {
          return false;
        }
      } else {
        return true;
      }
    },
    permission(log) {
      const permission = [3].includes(this.response?.status) && [3].includes(log?.to_status) && this.currentUser?.id === log?.created_by?.id;
      return permission;
    },
    parsingDateHour(log) {
      const parsingDate = new Date(log?.created_date);
      const date = parsingDate.getDate().toString().padStart(2, "0");
      const hour = parsingDate.getHours().toString().padStart(2, "0");
      const month = (parsingDate.getMonth() + 1).toString().padStart(2, "0");
      const minute = parsingDate.getMinutes().toString().padStart(2, "0");
      const year = parsingDate.getFullYear().toString();
      const d = `${date}.${month}.${year} ${hour}:${minute}`;
      return d;
    },
    fileName(name) {
      if (name?.length > 20) {
        return name?.trim()?.slice(0, 20) + " ...";
      } else {
        return name?.trim();
      }
    },
  },
};
</script>
<style>
.edit-log-textarea {
  background-color: #f7f9fe;
  border-radius: 10px;
  border: 1px solid #5964d1 !important;
  height: 120px;
  resize: none;
  width: calc(100% - 32px);
}
.control-task-response {
  border-top: 1px solid rgba(187, 187, 187, 0.5);
}
.control-task-response .response-created-date {
  background-color: rgba(89, 99, 209, 0.1);
  border-radius: 8px;
  color: rgba(23, 23, 23, 0.5);
}
.control-task-response .response-description {
  color: rgba(23, 23, 23, 0.5);
}
.control-task-response .response-description * {
  margin: 0 4px 0 0;
  word-break: break-word;
}
.control-task-response .response-description pre {
  white-space: pre-wrap;
}
.control-task-response .response-answered {
  background-color: #eeeffa;
  border-radius: 8px;
  padding: 4px 16px;
}
.control-task-response .back-process-button {
  background-color: #ffe8e8;
  border-radius: 8px;
  height: 36px;
  width: 36px;
  transition: 400ms;
}
.control-task-response .back-process-button:hover {
  background-color: #eb3232;
}
.control-task-response .back-process-button:hover svg path {
  fill: white;
  transition: 400ms;
}
.control-task-response .preview-button {
  background-color: #fffae8;
  border-radius: 8px;
  height: 36px;
  transition: 400ms;
  width: 36px;
}
.control-task-response .preview-button:hover {
  background-color: #f49300;
}
.control-task-response .preview-button:hover svg path {
  fill: white;
  transition: 400ms;
}
.control-task-response .done-button {
  background-color: #e7f6e6;
  border-radius: 8px;
  height: 36px;
  transition: 400ms;
  width: 36px;
}
.control-task-response .done-button:hover {
  background-color: #0ea20b;
}
.control-task-response .done-button:hover svg path {
  fill: white;
  transition: 400ms;
}</style>