<template>
  <div class="d-fex align-center">
    <span
      v-if="status === 1"
      class="d-flex align-center"
      style="background: #ffe8e8; border-radius: 10px; padding: 6px 16px;"
    >
      <svg width="20" height="20" viewBox="0 0 16 16" fill="none">
        <path
          clip-rule="evenodd"
          d="M3.89932 12.3333L5.41617 13.5471C5.70365 13.7771 5.75022 14.1967 5.52018 14.4841C5.29015 14.7716 4.87061 14.8182 4.58313 14.5882L1.58313 12.1876C1.41988 12.057 1.33653 11.8688 1.33309 11.6793C1.33305 11.6751 1.33301 11.6709 1.33301 11.6667C1.33301 11.5887 1.34639 11.5139 1.37099 11.4443L1.37101 11.4443C1.37282 11.4391 1.3747 11.434 1.37664 11.4289C1.39947 11.3672 1.43542 11.3035 1.48249 11.246C1.51693 11.2037 1.55645 11.1657 1.60012 11.1329L4.58314 8.74612C4.87063 8.51609 5.29016 8.56267 5.52019 8.85016C5.75023 9.13765 5.70365 9.55718 5.41616 9.78721L3.90043 11H9.49967C11.6168 11 13.333 9.28376 13.333 7.16667C13.333 5.04958 11.6168 3.33333 9.49967 3.33333H4.99967C4.63148 3.33333 4.33301 3.03486 4.33301 2.66667C4.33301 2.29848 4.63148 2 4.99967 2H9.49967C12.3531 2 14.6663 4.3132 14.6663 7.16667C14.6663 10.0201 12.3531 12.3333 9.49967 12.3333H3.89932Z"
          fill-rule="evenodd"
          fill="#EB3232"
        />
      </svg>
      <span class="font-500 ml-2" style="font-size: 15px; color: #eb3232">{{$t("control-tasks.tasks.not-confirmed")}}</span>
    </span>
    <span
      class="d-flex align-center"
      style="background: #eeeffa; border-radius: 10px; padding: 6px 16px"
      v-if="status === 2"
    >
      <svg width="20" height="20" viewBox="0 0 16 16" fill="none">
        <path
          clip-rule="evenodd"
          d="M12.6379 5.27116C12.6379 4.90389 12.9357 4.60616 13.3029 4.60616C13.6702 4.60616 13.9679 4.90389 13.9679 5.27116V11.8817C13.9679 13.4196 12.7212 14.6663 11.1833 14.6663H4.11768C2.57975 14.6663 1.33301 13.4196 1.33301 11.8817V4.81609C1.33301 3.27816 2.57975 2.03142 4.11768 2.03142H10.5183C10.8855 2.03142 11.1833 2.32915 11.1833 2.69642C11.1833 3.06369 10.8855 3.36141 10.5183 3.36141H4.11768C3.31428 3.36141 2.663 4.0127 2.663 4.81609V11.8817C2.663 12.6851 3.31428 13.3364 4.11768 13.3364H11.1833C11.9867 13.3364 12.6379 12.6851 12.6379 11.8817V5.27116ZM13.2247 1.53942C13.478 1.27345 13.8989 1.26316 14.1649 1.51643C14.4309 1.7697 14.4412 2.19062 14.1879 2.45659L7.8209 9.14281C7.56763 9.40878 7.1467 9.41907 6.88073 9.1658C6.61476 8.91253 6.60447 8.4916 6.85774 8.22564L13.2247 1.53942Z"
          fill-rule="evenodd"
          fill="#5964D1"
        />
      </svg>
      <span class="font-500 ml-2" style="font-size: 15px; color: #5964d1">{{$t("control-tasks.tasks.confirmed")}}</span>
    </span>
    <span
      class="d-flex align-center"
      style="background: #fffae8; border-radius: 10px; padding: 6px 16px"
      v-if="status === 3"
    >
      <svg width="20" height="20" viewBox="0 0 16 16" fill="none">
        <path
          d="M8.00033 3.33366C8.36852 3.33366 8.66699 3.63214 8.66699 4.00033V7.67427L11.4096 9.80742C11.7003 10.0335 11.7526 10.4523 11.5266 10.743C11.3005 11.0336 10.8817 11.0859 10.591 10.8599L7.59103 8.52656C7.42864 8.40026 7.33366 8.20605 7.33366 8.00033V4.00033C7.33366 3.63214 7.63213 3.33366 8.00033 3.33366Z"
          fill="#F49300"
        />
        <path
          clip-rule="evenodd"
          d="M8.00033 0.666992C12.0504 0.666992 15.3337 3.95024 15.3337 8.00033C15.3337 12.0504 12.0504 15.3337 8.00033 15.3337C3.95024 15.3337 0.666992 12.0504 0.666992 8.00033C0.666992 3.95024 3.95024 0.666992 8.00033 0.666992ZM8.00033 2.00033C4.68662 2.00033 2.00033 4.68662 2.00033 8.00033C2.00033 11.314 4.68662 14.0003 8.00033 14.0003C11.314 14.0003 14.0003 11.314 14.0003 8.00033C14.0003 4.68662 11.314 2.00033 8.00033 2.00033Z"
          fill-rule="evenodd"
          fill="#F49300"
        />
      </svg>
      <span class="font-500 ml-2" style="font-size: 15px; color: #f49300">{{$t("control-tasks.tasks.agreed")}}</span>
    </span>
    <span
      class="d-flex align-center"
      style="background: #e7f6e6; border-radius: 10px; padding: 6px 16px"
      v-if="status === 5"
    >
      <svg width="20" height="20" viewBox="0 0 16 16" fill="none">
        <path
          clip-rule="evenodd"
          d="M3.8027 6.64801C3.54105 6.38897 3.11894 6.39109 2.8599 6.65274C2.60086 6.91439 2.60297 7.33649 2.86462 7.59553L6.74819 11.4404C7.02236 11.7118 7.46901 11.6946 7.72142 11.4028L13.1712 5.10283C13.4121 4.82437 13.3816 4.40336 13.1031 4.16248C12.8247 3.9216 12.4037 3.95206 12.1628 4.23052L7.17953 9.99118L3.8027 6.64801Z"
          fill-rule="evenodd"
          fill="#0EA20B"
        />
      </svg>
      <span class="font-500 ml-2" style="font-size: 15px; color: #0ea20b">{{$t("control-tasks.tasks.removed-from-control")}}</span>
    </span>
    <span
      class="d-flex align-center"
      style="background: #ffe8e8; border-radius: 10px; padding: 6px 16px"
      v-if="status === 4"
    >
      <svg width="20" height="20" viewBox="0 0 16 16" fill="none">
        <path
          clip-rule="evenodd"
          d="M3.89932 12.3333L5.41617 13.5471C5.70365 13.7771 5.75022 14.1967 5.52018 14.4841C5.29015 14.7716 4.87061 14.8182 4.58313 14.5882L1.58313 12.1876C1.41988 12.057 1.33653 11.8688 1.33309 11.6793C1.33305 11.6751 1.33301 11.6709 1.33301 11.6667C1.33301 11.5887 1.34639 11.5139 1.37099 11.4443L1.37101 11.4443C1.37282 11.4391 1.3747 11.434 1.37664 11.4289C1.39947 11.3672 1.43542 11.3035 1.48249 11.246C1.51693 11.2037 1.55645 11.1657 1.60012 11.1329L4.58314 8.74612C4.87063 8.51609 5.29016 8.56267 5.52019 8.85016C5.75023 9.13765 5.70365 9.55718 5.41616 9.78721L3.90043 11H9.49967C11.6168 11 13.333 9.28376 13.333 7.16667C13.333 5.04958 11.6168 3.33333 9.49967 3.33333H4.99967C4.63148 3.33333 4.33301 3.03486 4.33301 2.66667C4.33301 2.29848 4.63148 2 4.99967 2H9.49967C12.3531 2 14.6663 4.3132 14.6663 7.16667C14.6663 10.0201 12.3531 12.3333 9.49967 12.3333H3.89932Z"
          fill-rule="evenodd"
          fill="#EB3232"
        />
      </svg>
      <span class="font-500 ml-2" style="font-size: 15px; color: #eb3232">{{$t("control-tasks.tasks.not-agreed")}}</span>
    </span>
  </div>
</template>
<script>
export default {
  name: "LogStatus",
  props: { status: Number },
};
</script>
