<template>
  <v-dialog
    @click:outside="closeDialog"
    @keydown.esc="closeDialog"
    max-width="720"
    style="border-radius: 12px"
    v-model="myPerformersDialog"
  >
    <v-card class="pa-3">
      <h4 class="py-5 mx-4 font-500 px-0" style="font-size: 20px">
        {{ $t("control-tasks.tasks.my-performers") }}
      </h4>
      <ul class="px-4" style="list-style-type: none" v-if="filteredPerformers.length">
        <li
          :key="index"
          class="d-flex justify-space-between align-center mt-4"
          v-for="(performer, index) in filteredPerformers"
        >
          <div class="d-flex align-center">
            <v-avatar :color="performer.performer.color" size="40">
              <span class="font-500 text-white small">{{
                performer.performer.full_name.slice(0, 1)
              }}</span>
            </v-avatar>
            <div class="ml-3">
              <div class="font-500">
                <span>{{ performer.performer.full_name }}</span>
                <span style="color: #5964d1" class="ml-3">({{ performer.performer.cisco }})</span>
              </div>
              <div style="font-size: 14px">
                <span>{{ userBranch(performer.performer.filial) }} </span>
                <span> - </span>
                <span>{{ performer.performer.position }}</span>
              </div>
            </div>
          </div>
          <div class="d-flex align-center">
            <div
              class="d-flex align-center justify-center"
              style="height: 43px; width: 43px"
              v-if="performer.id === user && loading"
            >
              <app-loader :size="30" />
            </div>
            <template v-else>
              <template v-if="disabled">
                <app-tooltip top>
                  <template #content>
                    <v-btn disabled style="border: none" @click="() => deletePerformer(performer.id)" icon>
                      <trash-2-icon color="#FC1A1A" />
                    </v-btn>
                  </template>
                  <template #text>
                    <span class="font-500 small-2">{{ $t("control-tasks.tasks.done") }}</span>
                  </template>
                </app-tooltip>
              </template>
              <template v-else>
                <v-btn @click="() => deletePerformer(performer.id)" icon>
                  <trash-2-icon color="#FC1A1A" />
                </v-btn>
              </template>
            </template>
          </div>
        </li>
      </ul>
      <p v-else class="mb-5 mt-0 mx-4 font-500" style="color: #17171780">
        {{ $t("control-tasks.tasks.you-not-added-performer") }}
      </p>
      <v-card-actions class="justify-end pb-4">
        <v-btn color="primary" depressed @click="closeDialog" small style="border-radius: 10px !important">{{
          $t("control-tasks.tasks.close")
        }}</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
import AppLoader from "@/common/components/base/AppLoader";
import { Trash2Icon } from "vue-feather-icons";
import { mapGetters } from "vuex";
export default {
  name: "MyPerformers",
  components: {
    AppLoader,
    Trash2Icon,
  },
  props: {
    myPerformers: Array,
    branches: Array,
    closeDialog: Function,
    currentPerformer: Object,
    currentTask: Object,
    getPerformers: Function,
    myPerformersDialog: Boolean,
  },
  data() {
    return {
      user: null,
      loading: false,
    };
  },
  computed: {
    ...mapGetters({
      currentUser: "auth/getCurrentUser",
    }),
    filteredPerformers() {
      const performers = this.myPerformers.filter(performer => performer?.is_deleted === false);
      return performers;
    },
    disabled() {
      const disabled = ![0, 2].includes(this.currentTask?.status);
      return disabled;
    }
  },
  methods: {
    userBranch(branchMfo) {
      const branches = this.branches;
      const branchName = (Array.isArray(branches) ? branches : []).find(branch => branchMfo === branch?.mfo)?.name;
      return branchName;
    },
    deletePerformer(performer) {
      this.loading = true;
      this.user = performer;
      this.$axios
        .delete(`/control_tasks/tasks/${this.currentTask?.id}/performers/${performer}/`)
        .then(response => {
          if (response?.status === 204) {
            this.$toast.success(
              this.$t("control-tasks.tasks.performer-removed")
            );
            this.getPerformers(this.currentTask?.id);
          } else {
            this.$toast.error(this.$t("control-tasks.tasks.an-error-occurred"));
          }
        })
        .catch(() => {
          this.$toast.error(this.$t("control-tasks.tasks.an-error-occurred"));
        })
        .finally(() => {
          this.loading = false;
          this.user = null;
        });
    },
  },
};
</script>
