<template>
	<p
		class="mt-3 mb-0 font-500"
		style="color: #17171780"
		v-if="!responsesLoading"
	>
		{{ $t("control-tasks.tasks.no-responses") }}
	</p>
</template>
<script>
export default {
	name: "NoResponses",
	props: {
		responsesLoading: Boolean,
	},
};
</script>
