<template>
  <h4 class="mx-0 font-500" style="font-size: 15px;">
    <span>{{ (page - 1) * 10 + 1 }}-{{ count % 10 && Math.ceil(count / 10) === page ? (page - 1) * 10 + (count % 10) : page * 10 }}</span>
    <span class="ml-1">/</span>
    <span class="mx-1">{{ count }}</span>
    <span>{{ $t("control-tasks.tasks.piece") }}</span>
  </h4>
</template>
<script>
export default {
  name: "PaginationInfo",
  props: {
    count: Number,
    page: Number,
  },
};
</script>
