<template>
  <div class="control-tasks-performers">
    <div
      @click="slideToggle"
      class="d-flex align-center justify-space-between mt-4 control-tasks-parent-performer"
    >
      <div class="d-flex align-center">
        <v-avatar :color="performer.performer.color" size="40">
          <span class="font-500 text-white small">{{
            performer.performer.full_name.slice(0, 1)
          }}</span>
        </v-avatar>
        <div class="ml-3">
          <div class="font-500 d-flex align-center">
            <span>{{ performer.performer.full_name }}</span>
            <span style="color: #5964d1; white-space: nowrap;" class="ml-2">({{ performer.performer.cisco }})</span>
            <svg v-if="performer.is_pending" class="ml-3" height="22" viewBox="0 0 24 24" width="22">
              <path fill="none" d="M0 0h24v24H0V0z" />
              <path
                fill="#5964d1"
                d="M13.26 3C8.17 2.86 4 6.95 4 12H2.21c-.45 0-.67.54-.35.85l2.79 2.8c.2.2.51.2.71 0l2.79-2.8c.31-.31.09-.85-.36-.85H6c0-3.9 3.18-7.05 7.1-7 3.72.05 6.85 3.18 6.9 6.9.05 3.91-3.1 7.1-7 7.1-1.61 0-3.1-.55-4.28-1.48-.4-.31-.96-.28-1.32.08-.42.42-.39 1.13.08 1.49C9 20.29 10.91 21 13 21c5.05 0 9.14-4.17 9-9.26-.13-4.69-4.05-8.61-8.74-8.74zm-.51 5c-.41 0-.75.34-.75.75v3.68c0 .35.19.68.49.86l3.12 1.85c.36.21.82.09 1.03-.26.21-.36.09-.82-.26-1.03l-2.88-1.71v-3.4c0-.4-.34-.74-.75-.74z"
              />
            </svg>
            <svg v-if="performer.is_main" class="ml-3" width="24" height="24" viewBox="0 0 32 32">
              <path fill="#5964d1" d="M16,2A14,14,0,1,0,30,16,14,14,0,0,0,16,2Zm7.71,9.71-10,10a1,1,0,0,1-1.42,0l-5-5a1,1,0,1,1,1.42-1.42L13,19.59l9.29-9.3a1,1,0,0,1,1.42,1.42Z" />
            </svg>
          </div>
          <div style="font-size: 14px">
            <span>{{ userBranch(performer.performer.filial) }} </span>
            <span> - </span>
            <span>{{ performer.performer.dep_name }} </span>
            <span> - </span>
            <span>{{ performer.performer.position }}</span>
          </div>
        </div>
      </div>
      <div class="d-flex align-center">
        <span class="d-flex flex-column ml-2" style="align-items: flex-end;">
          <span class="performer-created-date">{{ parsingDateHour(performer.created_date) }}</span>
          <span
            :class="{
              'performer-status-error': [-1, -2, 1, 4, 6].includes(performer.status),
              'performer-status-success': [0, 2, 3, 5].includes(performer.status),
              'performer-status-warning': [7].includes(performer.status)
            }"
            class="performer-status"
            >{{ performer.status_name }}</span
          >
        </span>
        <span
          :data-open="open"
          class="ml-2 d-flex align-center justify-center performers-open-close"
        >
          <svg height="26" width="26" viewBox="0 0 24 24">
            <path
              d="M17,9.17a1,1,0,0,0-1.41,0L12,12.71,8.46,9.17a1,1,0,0,0-1.41,0,1,1,0,0,0,0,1.42l4.24,4.24a1,1,0,0,0,1.42,0L17,10.59A1,1,0,0,0,17,9.17Z"
            />
          </svg>
        </span>
      </div>
    </div>
    <div ref="summary" style="display: none">
      <ul class="pl-5">
        <li
          :key="index"
          v-for="(performer, index) in performer.myPerformers"
          :class="{'one-executor': isOneExecutor}"
          class="d-flex align-center justify-space-between pt-4 pl-5 performer-child-performer"
        >
          <div class="d-flex align-center">
            <v-avatar :color="performer.performer.color" size="40">
              <span class="font-500 text-white small">{{
                performer.performer.full_name.slice(0, 1)
              }}</span>
            </v-avatar>
            <div class="ml-3">
              <div class="font-500">
                <span>{{ performer.performer.full_name }}</span>
                <span style="color: #5964d1" class="ml-3"
                  >({{ performer.performer.cisco }})</span
                >
              </div>
              <div style="font-size: 14px">
                <span>{{ userBranch(performer.performer.filial) }} </span>
                <span> - </span>
                <span>{{ performer.performer.position }}</span>
              </div>
            </div>
          </div>
          <div class="d-flex flex-column ml-2" style="align-items: flex-end;">
            <span class="performer-created-date">{{ parsingDateHour(performer.created_date) }}</span>
            <span
              :class="{
                'performer-status-error': [-1, -2, 1, 4, 6].includes(
                  performer.status
                ),
                'performer-status-success': [0, 2, 3, 5].includes(
                  performer.status
                ),
                'performer-status-warning': performer.status === 7
              }"
              class="performer-status">{{ performer.status_name }}</span
            >
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
export default {
  name: "PerformersTree",
  props: {
    userBranch: Function,
    performer: Object,
  },
  data() {
    return {
      open: false,
    };
  },
  computed: {
    isOneExecutor() {
      return this.performer?.myPerformers?.length === 1;
    }
  },
  methods: {
    slideToggle() {
      this.open = !this.open;
      window.$(this.$refs.summary).slideToggle(400);
    },
    parsingDateHour(created_date) {
      const parsingDate = new Date(created_date);
      const date = parsingDate.getDate().toString().padStart(2, "0");
      const hour = parsingDate.getHours().toString().padStart(2, "0");
      const month = (parsingDate.getMonth() + 1).toString().padStart(2, "0");
      const minute = parsingDate.getMinutes().toString().padStart(2, "0");
      const year = parsingDate.getFullYear().toString();
      const d = `${date}.${month}.${year} ${hour}:${minute}`;
      return d;
    },
  },
};
</script>
<style>
.control-tasks-performers .control-tasks-parent-performer {
  cursor: pointer;
  position: relative;
}
.control-tasks-performers .control-tasks-parent-performer::before {
  background-color: transparent;
  border-radius: 14px;
  content: '';
  height: calc(100% + 20px);
  left: -10px;
  position: absolute;
  top: -10px;
  width: calc(100% + 20px);
  z-index: 2;
}
.control-tasks-performers .control-tasks-parent-performer:hover::before {
  background-color: rgba(89, 100, 209, 0.08);
}
.control-tasks-performers .control-tasks-parent-performer .performers-open-close {
  transition: 400ms;
}
.control-tasks-performers .control-tasks-parent-performer .performers-open-close[data-open="false"] {
  transform: rotate(0deg);
}
.control-tasks-performers .control-tasks-parent-performer .performers-open-close[data-open="true"] {
  transform: rotate(180deg);
}
</style>
