<template>
  <v-dialog
    @click:outside="closeDialog"
    @keydown.esc="closeDialog"
    max-width="800"
    style="border-radius: 12px"
    v-model="performersDialog"
  >
    <v-card class="pa-3">
      <h4 class="py-5 mx-4 font-500 px-0" style="font-size: 20px">
        {{ $t("control-tasks.tasks.all-performers") }}
      </h4>
      <h5
        class="py-0 mt-0 mb-4 font-500 px-4"
        style="font-size: 14px; color: rgba(23, 23, 23, 0.6)"
      >
        {{ $t("control-tasks.tasks.affirmatives") }}
      </h5>
      <ul style="list-style-type: none" class="px-4">
        <li
          v-for="(performer, index) in affirmatives"
          :key="index"
          class="d-flex align-center mt-4"
        >
          <v-avatar :color="performer.performer.color" size="40">
            <span class="font-500 text-white small">{{
              performer.performer.full_name.slice(0, 1)
            }}</span>
          </v-avatar>
          <div class="ml-3">
            <div class="font-500">
              <span>{{ performer.performer.full_name }}</span>
              <span style="color: #5964d1" class="ml-3"
                >({{ performer.performer.cisco }})</span
              >
            </div>
            <div style="font-size: 14px">
              <span>{{ userBranch(performer.performer.filial) }} </span>
              <span> - </span>
              <span>{{ performer.performer.position }}</span>
            </div>
          </div>
        </li>
      </ul>
      <h5
        class="py-0 mt-5 mb-4 font-500 px-4"
        style="font-size: 14px; color: rgba(23, 23, 23, 0.6)"
      >
        {{ $t("control-tasks.tasks.affirmative-responses") }}
      </h5>
      <ul style="list-style-type: none" class="px-4">
        <li
          :key="index"
          class="d-flex align-center mt-4"
          v-for="(performer, index) in affirmativeResponses"
        >
          <v-avatar :color="performer.performer.color" size="40">
            <span class="font-500 text-white small">{{
              performer.performer.full_name.slice(0, 1)
            }}</span>
          </v-avatar>
          <div class="ml-3">
            <div class="font-500">
              <span>{{ performer.performer.full_name }}</span>
              <span style="color: #5964d1" class="ml-3"
                >({{ performer.performer.cisco }})</span
              >
            </div>
            <div style="font-size: 14px">
              <span>{{ userBranch(performer.performer.filial) }} </span>
              <span> - </span>
              <span>{{ performer.performer.position }}</span>
            </div>
          </div>
        </li>
      </ul>
      <h5
        class="py-0 mt-5 mb-4 font-500 px-4"
        style="font-size: 14px; color: rgba(23, 23, 23, 0.6)"
      >
        {{ $t("control-tasks.tasks.executors") }}
      </h5>
      <ul style="list-style-type: none" class="px-4">
        <li :key="index" v-for="(performer, index) in rootExecutors">
          <template v-if="hasPerformers(performer)">
            <performers-tree :performer="performer" :userBranch="userBranch" />
          </template>
          <template v-else>
            <div class="d-flex align-center justify-space-between mt-4">
              <div class="d-flex align-center">
                <v-avatar :color="performer.performer.color" size="40">
                  <span class="font-500 text-white small">{{
                    performer.performer.full_name.slice(0, 1)
                  }}</span>
                </v-avatar>
                <div class="ml-3">
                  <div class="font-500 d-flex align-center">
                    <span>{{ performer.performer.full_name }}</span>
                    <span style="color: #5964d1; white-space: nowrap;" class="ml-3">({{ performer.performer.cisco }})</span>
                    <svg v-if="performer.is_pending" class="ml-3" height="22" viewBox="0 0 24 24" width="22">
                      <path fill="none" d="M0 0h24v24H0V0z" />
                      <path
                        fill="#5964d1"
                        d="M13.26 3C8.17 2.86 4 6.95 4 12H2.21c-.45 0-.67.54-.35.85l2.79 2.8c.2.2.51.2.71 0l2.79-2.8c.31-.31.09-.85-.36-.85H6c0-3.9 3.18-7.05 7.1-7 3.72.05 6.85 3.18 6.9 6.9.05 3.91-3.1 7.1-7 7.1-1.61 0-3.1-.55-4.28-1.48-.4-.31-.96-.28-1.32.08-.42.42-.39 1.13.08 1.49C9 20.29 10.91 21 13 21c5.05 0 9.14-4.17 9-9.26-.13-4.69-4.05-8.61-8.74-8.74zm-.51 5c-.41 0-.75.34-.75.75v3.68c0 .35.19.68.49.86l3.12 1.85c.36.21.82.09 1.03-.26.21-.36.09-.82-.26-1.03l-2.88-1.71v-3.4c0-.4-.34-.74-.75-.74z"
                      />
                    </svg>
                    <svg v-if="performer.is_main" class="ml-3" width="24" height="24" viewBox="0 0 32 32">
                      <path fill="#5964d1" d="M16,2A14,14,0,1,0,30,16,14,14,0,0,0,16,2Zm7.71,9.71-10,10a1,1,0,0,1-1.42,0l-5-5a1,1,0,1,1,1.42-1.42L13,19.59l9.29-9.3a1,1,0,0,1,1.42,1.42Z" />
                    </svg>
                  </div>
                  <div style="font-size: 14px">
                    <span>{{ userBranch(performer.performer.filial) }} </span>
                    <span> - </span>
                    <span>{{ performer.performer.dep_name }} </span>
                    <span> - </span>
                    <span>{{ performer.performer.position }}</span>
                  </div>
                </div>
              </div>
              <div class="d-flex flex-column ml-2" style="align-items: flex-end;">
                <span class="performer-created-date">{{ parsingDateHour(performer.created_date) }}</span>
                <span
                  class="performer-status"
                  :class="{
                    'performer-status-error': [-1, -2, 1, 4, 6].includes(performer.status),
                    'performer-status-success': [0, 2, 3, 5].includes(performer.status),
                    'performer-status-warning': [7].includes(performer.status)
                  }">{{ performer.status_name }}</span
                >
              </div>
            </div>
          </template>
        </li>
      </ul>
      <v-card-actions class="justify-end pb-4 mt-4">
        <v-btn color="primary" style="border-radius: 8px;" small depressed @click="closeDialog">{{
          $t("control-tasks.tasks.close")
        }}</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
import { mapGetters } from "vuex";
import PerformersTree from "./PerformersTree";
export default {
  name: "Performers",
  props: {
    affirmativeResponses: Array,
    affirmatives: Array,
    branches: Array,
    closeDialog: Function,
    executors: Array,
    performers: Array,
    performersDialog: Boolean,
  },
  components: {
    PerformersTree,
  },
  computed: {
    ...mapGetters({
      currentUser: "auth/getCurrentUser",
    }),
    rootExecutors() {
      const executors = this.executors
        .filter(executor => executor?.parent_performer === null)
        .map(executor => {
          const myPerformers = this.performers.filter(
            performer =>
              executor?.performer?.id ===
                performer?.parent_performer?.performer?.id
          );
          return { ...executor, myPerformers };
        });
      const mainExecutors = executors.filter(performer => performer?.is_main);
      const helpers = executors.filter(performer => !performer?.is_main);
      const rootExecutors = [...mainExecutors, ...helpers]
      return rootExecutors;
    },
  },
  methods: {
    userBranch(branchMfo) {
      const branches = this.branches;
      const branchName = (Array.isArray(branches) ? branches : []).find(
        branch => branchMfo === branch?.mfo
      )?.name;
      return branchName;
    },
    hasPerformers(performer) {
      return performer?.myPerformers?.length > 0;
    },
    parsingDateHour(created_date) {
      const parsingDate = new Date(created_date);
      const date = parsingDate.getDate().toString().padStart(2, "0");
      const hour = parsingDate.getHours().toString().padStart(2, "0");
      const month = (parsingDate.getMonth() + 1).toString().padStart(2, "0");
      const minute = parsingDate.getMinutes().toString().padStart(2, "0");
      const year = parsingDate.getFullYear().toString();
      const d = `${date}.${month}.${year} ${hour}:${minute}`;
      return d;
    },
  },
};
</script>
<style>
.performer-status {
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  padding: 2px 8px;
  white-space: nowrap;
}
.performer-created-date {
  background-color: rgba(89, 99, 209, 0.1);
  border-radius: 8px;
  color: rgba(23, 23, 23, 0.5);
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 5px;
  padding: 2px 8px;
  white-space: nowrap;
}
.performer-status-error {
  background-color: rgba(224, 54, 54, 0.1);
  color: #e03636;
}
.performer-status-success {
  background-color: rgba(14, 162, 11, 0.1);
  color: #0ea20b;
}
.performer-status-warning {
  background-color: #FFFAE8;
  color: #F49300;
}
.performer-child-performer {
  position: relative;
}
.performer-child-performer::before {
  background-color: rgba(23, 23, 23, 0.3);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 2px;
}
.performer-child-performer:last-child::before {
  background-color: rgba(23, 23, 23, 0.3);
  content: "";
  height: calc(50% + 10px);
  left: 0;
  position: absolute;
  top: 0;
  width: 2px;
}
.performer-child-performer:first-child::before {
  background-color: rgba(23, 23, 23, 0.3);
  content: "";
  height: calc(100% - 10px);
  left: 0;
  position: absolute;
  top: 10px;
  width: 2px;
}
.performer-child-performer.one-executor::before {
  background-color: rgba(23, 23, 23, 0.3);
  content: "";
  height: 50%;
  left: 0;
  position: absolute;
  top: 10px;
  width: 2px;
}
.performer-child-performer::after {
  background-color: rgba(23, 23, 23, 0.3);
  content: "";
  height: 2px;
  left: 2px;
  position: absolute;
  top: calc(50% + 8px);
  width: 16px;
}
</style>
