<template>
	<div class="h-100 w-100 d-flex align-center justify-center">
		<span class="d-block text-dark-grey font-600 my-4">{{$t("control-tasks.tasks.select-task")}}</span>
	</div>
</template>
<script></script>
