<template>
  <div
    class="d-flex align-center justify-space-between px-3 py-2 bg-white"
    style="position: sticky; top: 0"
  >
    <v-text-field
      :placeholder="$t('control-tasks.tasks.search')"
      @input="searchTasks"
      background-color="var(--input-bg)"
      class="mr-3 control-tasks-search-input"
      clearable
      dense
      hide-details
      outlined
      style="border-radius: 10px"
      v-model="search"
    >
      <template #prepend-inner>
        <span style="margin-top: 2px; margin-right: 2px">
          <search-icon size="20" />
        </span>
      </template>
    </v-text-field>
    <v-btn
      @click="toggleFilterDialog"
      color="primary"
      depressed
      small
      style="padding: 0 16px 0 10px !important; border-radius: 10px !important;"
    >
      <svg width="36" height="36" viewBox="0 0 32 32" fill="none">
        <path d="M14.7446 19.991H9.92188" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M22.0822 19.991C22.0822 21.0514 21.2226 21.911 20.1622 21.911C19.1018 21.911 18.2422 21.0514 18.2422 19.991C18.2422 18.9299 19.1018 18.071 20.1622 18.071C21.2226 18.071 22.0822 18.9299 22.0822 19.991Z" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M17.2578 12.1747H22.0813" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.92188 12.1748C9.92188 13.2359 10.7815 14.0948 11.8419 14.0948C12.9023 14.0948 13.7619 13.2359 13.7619 12.1748C13.7619 11.1144 12.9023 10.2548 11.8419 10.2548C10.7815 10.2548 9.92188 11.1144 9.92188 12.1748Z" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      <span>{{ $t("control-tasks.tasks.filter") }}</span>
    </v-btn>
  </div>
</template>
<script>
import { FilterIcon, SearchIcon } from "vue-feather-icons";
export default {
  name: "TaskActions",
  components: {
    FilterIcon,
    SearchIcon,
  },
  props: {
    searchTasks: Function,
    toggleFilterDialog: Function,
  },
  data() {
    return {
      search: "",
    };
  },
};
</script>
<style>
.control-tasks-search-input input {
  font-size: 14px !important;
}
</style>