<template>
  <div>
    <div class="pb-2 d-flex align-center justify-space-between">
      <div class="app-tab control-tasks-type-tab bg-white">
        <v-tabs
          centered
          color="#fff"
          height="34"
          hide-slider
          left
          slider-color="#5964D1"
          v-model="filter.type"
        >
          <v-tab :ripple="false" @click="() => { changeTaskType('chairman') }" href="#chairman">
            <div class="d-flex align-center px-3">
              <span class="text-transform-none small-2 line-base font-400">{{$t("control-tasks.tasks.chairman-tasks")}}</span>
            </div>
          </v-tab>
          <v-tab :ripple="false" @click="() => { changeTaskType('deputy-chair') }" href="#deputy-chair">
            <div class="d-flex align-center px-3">
              <span class="text-transform-none small-2 line-base font-400">{{$t("control-tasks.tasks.deputy-chair-tasks")}}</span>
            </div>
          </v-tab>
          <v-tab :ripple="false" @click="() => { changeTaskType('audit') }" href="#audit">
            <div class="d-flex align-center px-3">
              <span class="text-transform-none small-2 line-base font-400">{{$t("control-tasks.tasks.audit-tasks")}}</span>
            </div>
          </v-tab>
        </v-tabs>
      </div>
      <div class="d-flex align-center" v-if="permission">
        <v-btn @click="createTask" small style="border-radius: 10px; font-size: 13px;" depressed color="primary">
          <plus-icon size="18"/>
          <span class="ml-2">{{$t("control-tasks.tasks.create-task")}}</span>
        </v-btn>
      </div>
    </div>
    <div class="pt-0 pb-2 control-tasks-status-tab">
      <v-tabs
        height="36"
        left
        slider-color="#5964D1"
        style="background: transparent"
        v-model="filter.status"
      >
        <v-tab @click="() => { changeTab('all') }" href="#all">
          <v-badge inline color="#5964D1" :content="all">
            <span class="font-400 font-14 text-transform-none tab-text">
              {{ $t("control-tasks.tasks.all") }}</span>
          </v-badge>
        </v-tab>
        <v-tab @click="() => { changeTab('-2') }" href="#-2">
          <v-badge inline color="#5964D1" :content="uncontrolled">
            <span class="font-400 font-14 text-transform-none tab-text">
              {{ $t("control-tasks.tasks.un-controlled") }}</span>
          </v-badge>
        </v-tab>
        <v-tab @click="() => { changeTab('-1') }" href="#-1">
          <v-badge inline color="#5964D1" :content="not_requested">
            <span class="font-400 font-14 text-transform-none tab-text">
              {{ $t("control-tasks.tasks.no-answered") }}</span>
          </v-badge>
        </v-tab>
        <v-tab @click="() => { changeTab('0') }" href="#0">
          <v-badge inline color="#5964D1" :content="for_confirm">
            <span class="font-400 font-14 text-transform-none tab-text">
              {{ $t("control-tasks.tasks.for-confirm") }}</span>
          </v-badge>
        </v-tab>
        <v-tab @click="() => { changeTab('1') }" v-if="permission" href="#1">
          <v-badge inline color="#5964D1" :content="not_confirmed">
            <span class="font-400 font-14 text-transform-none tab-text">
              {{ $t("control-tasks.tasks.unverified") }}</span>
          </v-badge>
        </v-tab>
        <v-tab @click="() => { changeTab('2') }" href="#2">
          <v-badge inline color="#5964D1" :content="requested">
            <span class="font-400 font-14 text-transform-none tab-text">
              {{ $t("control-tasks.tasks.answered") }}</span>
          </v-badge>
        </v-tab>
        <v-tab @click="() => { changeTab('3') }" href="#3">
          <v-badge :content="agreed_to_release_from_control" color="#5964D1" inline>
            <span class="font-400 font-14 text-transform-none tab-text">
              {{ $t("control-tasks.tasks.agreed") }}</span>
          </v-badge>
        </v-tab>
        <v-tab @click="() => { changeTab('4') }" href="#4">
          <v-badge inline color="#5964D1" :content="review_control">
            <span class="font-400 font-14 text-transform-none tab-text">
              {{ $t("control-tasks.tasks.not-agreed") }}</span>
          </v-badge>
        </v-tab>
        <v-tab @click="() => { changeTab('5') }" href="#5">
          <v-badge inline color="#5964D1" :content="done">
            <span class="font-400 font-14 text-transform-none tab-text">
              {{ $t("control-tasks.tasks.done") }}</span>
          </v-badge>
        </v-tab>
        <v-tab @click="() => { changeTab('is_pending') }" href="#is_pending">
          <v-badge inline color="#5964D1" :content="pending">
            <span class="font-400 font-14 text-transform-none tab-text">
              {{ $t("control-tasks.reports.waiting-process") }}</span>
          </v-badge>
        </v-tab>
        <v-tab @click="() => { changeTab('6') }" href="#6">
          <v-badge inline color="#5964D1" :content="not_done">
            <span class="font-400 font-14 text-transform-none tab-text">
              {{ $t("control-tasks.tasks.not-done") }}</span>
          </v-badge>
        </v-tab>
        <v-tab @click="() => { changeTab('7') }" href="#7">
          <v-badge inline color="#5964D1" :content="overdue">
            <span class="font-400 font-14 text-transform-none tab-text">
              {{ $t("control-tasks.tasks.overdue") }}</span>
          </v-badge>
        </v-tab>
      </v-tabs>
    </div>
  </div>
</template>
<script>
import { PlusIcon } from "vue-feather-icons";
import { mapGetters } from "vuex";
export default {
  name: "TasksHeader",
  components: { PlusIcon },
  props: {
    changeTab: Function,
    changeTaskType: Function,
    filter: Object,
    tasksStatusCount: Object,
  },
  computed: {
    ...mapGetters({
      currentUser: "auth/getCurrentUser",
    }),
    agreed_to_release_from_control() {
      return this.tasksStatusCount?.agreed_to_release_from_control?.toString();
    },
    all() {
      return this.tasksStatusCount?.all?.toString() || "0";
    },
    done() {
      return this.tasksStatusCount?.done?.toString() || "0";
    },
    for_confirm() {
      return this.tasksStatusCount?.for_confirm?.toString() || "0";
    },
    not_confirmed() {
      return this.tasksStatusCount?.not_confirmed?.toString() || "0";
    },
    not_done() {
      return this.tasksStatusCount?.not_done?.toString() || "0";
    },
    not_requested() {
      return this.tasksStatusCount?.not_requested?.toString() || "0";
    },
    overdue() {
      return this.tasksStatusCount?.overdue?.toString() || "0";
    },
    requested() {
      return this.tasksStatusCount?.requested?.toString() || "0";
    },
    review_control() {
      return this.tasksStatusCount?.review_control?.toString() || "0";
    },
    uncontrolled() {
      return this.tasksStatusCount?.uncontrolled?.toString() || "0";
    },
    pending() {
      return this.tasksStatusCount?.pending?.toString() || "0";
    },
    permission() {
      const permission = [
        "admin",
        "chairman_tasks",
        "deputy_chair_tasks",
        "audit_tasks",
        "chairman_tasks_no_delete",
        "chairman_tasks_create_read",
        "deputy_chair_tasks_no_delete",
        "deputy_chair_tasks_create_read",
        "audit_tasks_no_delete",
        "audit_tasks_create_read",
      ].some(role => this.currentUser?.roles.includes(role));
      return permission;
    }
  },
  methods: {
    createTask() {
      this.$router.push({ path: '/control-tasks/create' });
    }
  }
};
</script>
<style>
.control-tasks-type-tab {
  box-shadow: 0px 1px 8px rgb(0 0 0 / 4%) !important;
}
.control-tasks-type-tab .v-tab::before {
  border-radius: 12px;
}
.control-tasks-status-tab .v-tab {
  cursor: pointer;
  min-width: 48px;
  padding: 0 8px 0 12px;
}
.control-tasks-status-tab .v-tab:hover::before {
  opacity: 0.4 !important;
}
.control-tasks-status-tab .v-tab::before {
  border-radius: 10px;
}
.control-tasks-status-tab .v-tab * {
  border-radius: 10px;
  caret-color: #000000 !important;
  color: #000000 !important;
}
.control-tasks-status-tab .v-tab .v-badge__badge {
  color: #ffffff !important;
}
.control-tasks-status-tab .v-tab.v-tab--active {
  border-radius: 10px;
}
.control-tasks-status-tab .v-tab .v-tab--active .v-icon {
  caret-color: #171717 !important;
  color: #171717 !important;
}
.control-tasks-status-tab .v-slide-group__next {
  margin: 0 0 0 6px;
}
.control-tasks-status-tab .v-slide-group__prev {
  margin: 0 6px 0 0;
}
.control-tasks-status-tab .v-slide-group__next,
.control-tasks-status-tab .v-slide-group__prev {
  background-color: #5964d1;
  border-radius: 10px;
  flex: initial !important;
  min-width: 36px;
}
.control-tasks-status-tab .v-slide-group__next .v-icon,
.control-tasks-status-tab .v-slide-group__prev .v-icon {
  color: white !important;
}
.control-tasks-status-tab .v-slide-group__next--disabled,
.control-tasks-status-tab .v-slide-group__prev--disabled {
  display: none;
}
</style>
