<template>
  <v-dialog
    max-width="720"
    persistent
    style="border-radius: 12px"
    v-model="openFilter"
  >
    <v-card class="pa-8">
      <v-btn
        @click="toggleDialog"
        color="error"
        depressed
        icon
        v-if="!exportLoading"
        style="position: absolute; right: 10px; top: 10px; height: 36px; width: 36px"
      >
        <x-icon size="22" color="var(--primary-4)"/>
      </v-btn>
      <h3 class="font-500 mb-5">{{ $t("control-tasks.tasks.filter") }}</h3>
      <h4 class="font-500 mb-2">Excel</h4>
      <div class="mb-6">
        <v-checkbox
          :label="$t('control-tasks.tasks.export-to-excel')"
          class="ma-0"
          hide-details
          v-model="filter.excel"
        ></v-checkbox>
      </div>
      <h4 class="font-500 mb-2">
        {{ $t('control-tasks.tasks.tasks') }}
      </h4>
      <div class="mb-5">
        <v-radio-group :column="false" hide-details style="display: flex" v-model="filter.own_tasks">
          <v-radio
            :label="$t('control-tasks.tasks.all')"
            :value="false"
          ></v-radio>
          <v-radio
            class="ml-6"
            :label="$t('control-tasks.tasks.own-tasks')"
            :value="true"
          ></v-radio>
        </v-radio-group>
      </div>
      <h4 class="font-500 mb-5">
        {{ $t("control-tasks.tasks.by-employees-or-tasks") }}
      </h4>
      <div class="d-flex justify-space-between mb-5">
        <div style="width: calc(50% - 10px)">
          <v-select
              :items="export_types"
              :label="$t('control-tasks.tasks.by-employees-or-tasks')"
              append-icon="mdi-chevron-down"
              background-color="var(--input-bg)"
              clearable
              dense
              hide-details
              item-text="name"
              item-value="type"
              outlined
              v-model="filter.export_type"
              style="border-radius: 10px !important"
            >
            </v-select>
        </div>
        <div style="width: calc(50% - 10px)">
          <template v-if="filter.export_type === '0'">
            <v-select
              :items="responseStatuses"
              :label="$t('control-tasks.tasks.task-status')"
              append-icon="mdi-chevron-down"
              background-color="var(--input-bg)"
              clearable
              dense
              hide-details
              item-text="name"
              item-value="value"
              outlined
              v-model="filter.filter_status"
              style="border-radius: 10px !important"
            />
          </template>
          <template v-else-if="filter.export_type === '1'">
            <v-select
              :items="taskStatuses"
              :label="$t('control-tasks.tasks.task-status')"
              append-icon="mdi-chevron-down"
              background-color="var(--input-bg)"
              clearable
              dense
              hide-details
              item-text="name"
              item-value="value"
              outlined
              v-model="filter.filter_status"
            />
          </template>
        </div>
      </div>
      <template v-if="filter.export_type === '1'">
        <h4 class="font-500 mb-2">{{ $t('control-tasks.tasks.extended-tasks') }}</h4>
        <div class="mb-6">
          <v-checkbox
            :label="$t('control-tasks.tasks.extended-tasks')"
            class="ma-0"
            hide-details
            v-model="filter.changed_deadlines_count"
          ></v-checkbox>
        </div>
      </template>
      <h4 class="font-500 mb-5">
        {{ $t("control-tasks.tasks.department-or-branch") }}
      </h4>
      <div class="d-flex justify-space-between mb-5">
        <div style="width: calc(50% - 10px)">
          <v-select
            :items="searchTypes"
            :label="$t('control-tasks.tasks.department-or-branch')"
            append-icon="mdi-chevron-down"
            background-color="var(--input-bg)"
            clearable
            dense
            hide-details
            item-text="name"
            item-value="type"
            outlined
            v-model="filter.department_or_branch"
            style="border-radius: 10px !important"
          >
          </v-select>
        </div>
        <div style="width: calc(50% - 10px)">
          <template v-if="filter.department_or_branch === 'department'">
            <v-select
              :items="departments"
              :label="$t('control-tasks.tasks.department')"
              append-icon="mdi-chevron-down"
              background-color="var(--input-bg)"
              clearable
              dense
              hide-details
              item-text="name"
              item-value="sap_obj_id"
              outlined
              v-model="filter.sap_obj_id"
              style="border-radius: 10px !important"
            >
              <template v-slot:append-item>
                <template v-if="page">
                  <div
                    class="w-100 d-flex justify-center align-center"
                    style="height: 40px"
                    v-if="loading"
                  >
                    <app-loader :size="26" />
                  </div>
                  <div
                    v-else
                    v-intersect="{
                      handler: onIntersection,
                      options: {
                        threshold: [0, 1.0, 1.0],
                      },
                    }"
                    class="pa-4"
                  ></div>
                </template>
              </template>
            </v-select>
          </template>
          <template v-else-if="filter.department_or_branch === 'branch'">
            <v-select
              :items="branches"
              :label="$t('control-tasks.tasks.branch')"
              append-icon="mdi-chevron-down"
              background-color="var(--input-bg)"
              clearable
              dense
              hide-details
              item-text="name"
              item-value="mfo"
              outlined
              v-model="filter.mfo"
            >
              <template v-slot:append-item>
                <template v-if="branchesPage">
                  <div
                    class="w-100 d-flex justify-center align-center"
                    style="height: 40px"
                    v-if="branchesLoading"
                  >
                    <app-loader :size="26" />
                  </div>
                  <div
                    v-else
                    v-intersect="{
                      handler: onIntersectionBranches,
                      options: {
                        threshold: [0, 1.0, 1.0],
                      },
                    }"
                    class="pa-4"
                  ></div>
                </template>
              </template>
            </v-select>
          </template>
        </div>
      </div>
      <h4 class="font-500 mb-5">{{ $t("control-tasks.tasks.by-document") }}</h4>
      <div class="app-input mb-5">
        <v-select
          :items="documentTypes"
          :placeholder="$t('control-tasks.tasks.document-type')"
          append-icon="mdi-chevron-down"
          background-color="var(--input-bg)"
          clearable
          dense
          hide-details
          item-text="title"
          item-value="id"
          outlined
          v-model="filter.doc_type"
          style="border-radius: 10px !important"
        >
        </v-select>
      </div>
      <div class="d-flex justify-space-between mb-5">
        <div style="width: calc(50% - 10px)">
          <v-text-field
            :placeholder="$t('control-tasks.tasks.document-number')"
            background-color="var(--input-bg)"
            clearable
            dense
            hide-details
            outlined
            v-model="filter.doc_number"
            style="border-radius: 10px !important"
          ></v-text-field>
        </div>
        <div style="width: calc(50% - 10px)">
          <v-text-field
            :placeholder="$t('control-tasks.tasks.clause-number')"
            background-color="var(--input-bg)"
            clearable
            dense
            hide-details
            outlined
            v-model="filter.clause_number"
            style="border-radius: 10px !important"
          ></v-text-field>
        </div>
      </div>
      <h4 class="font-500 mt-0 mb-3">
        {{ $t("control-tasks.tasks.document-date") }}
      </h4>
      <div class="d-flex justify-space-between mb-5">
        <div style="width: calc(50% - 10px)">
          <div class="app-input">
            <v-menu
              :close-on-content-click="true"
              min-width="auto"
              offset-y
              ref="startDateMenu"
              transition="scale-transition"
              v-model="startDateMenu"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  :placeholder="$t('control-tasks.tasks.from')"
                  append-icon="mdi-calendar"
                  background-color="var(--input-bg)"
                  clearable
                  dense
                  hide-details
                  outlined
                  readonly
                  style="border-radius: 10px !important"
                  v-bind="attrs"
                  v-model="filter.doc_start_date"
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker
                no-title
                scrollable
                v-model="filter.doc_start_date"
              >
              </v-date-picker>
            </v-menu>
          </div>
        </div>
        <div style="width: calc(50% - 10px)">
          <div class="app-input">
            <v-menu
              :close-on-content-click="true"
              min-width="auto"
              offset-y
              ref="endDateMenu"
              transition="scale-transition"
              v-model="endDateMenu"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  :placeholder="$t('control-tasks.tasks.to')"
                  append-icon="mdi-calendar"
                  background-color="var(--input-bg)"
                  clearable
                  dense
                  hide-details
                  outlined
                  readonly
                  style="border-radius: 10px !important"
                  v-bind="attrs"
                  v-model="filter.doc_end_date"
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker no-title scrollable v-model="filter.doc_end_date">
              </v-date-picker>
            </v-menu>
          </div>
        </div>
      </div>
      <h4 class="font-500 mt-0 mb-5">
        {{ $t("control-tasks.tasks.deadline") }}
      </h4>
      <div class="d-flex justify-space-between mb-5">
        <div style="width: calc(50% - 6px)">
          <div class="app-input">
            <v-menu
              :close-on-content-click="true"
              min-width="auto"
              offset-y
              ref="deadlineStartDateMenu"
              transition="scale-transition"
              v-model="deadlineStartDateMenu"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  :placeholder="$t('control-tasks.tasks.from')"
                  append-icon="mdi-calendar"
                  background-color="var(--input-bg)"
                  clearable
                  dense
                  hide-details
                  outlined
                  readonly
                  style="border-radius: 10px !important"
                  v-bind="attrs"
                  v-model="filter.deadline_start_date"
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker
                no-title
                scrollable
                v-model="filter.deadline_start_date"
              >
              </v-date-picker>
            </v-menu>
          </div>
        </div>
        <div style="width: calc(50% - 6px)">
          <div class="app-input">
            <v-menu
              :close-on-content-click="true"
              min-width="auto"
              offset-y
              ref="deadlineEndDateMenu"
              transition="scale-transition"
              v-model="deadlineEndDateMenu"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  :placeholder="$t('control-tasks.tasks.to')"
                  append-icon="mdi-calendar"
                  background-color="var(--input-bg)"
                  clearable
                  dense
                  hide-details
                  outlined
                  readonly
                  style="border-radius: 10px !important"
                  v-bind="attrs"
                  v-model="filter.deadline_end_date"
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker
                no-title
                scrollable
                v-model="filter.deadline_end_date"
              >
              </v-date-picker>
            </v-menu>
          </div>
        </div>
      </div>
      <div class="d-flex align-center" style="justify-content: flex-end">
        <v-btn
          :disabled="exportLoading"
          @click="resetFilter"
          color="primary"
          dense
          depressed
          outlined
          small
          style="border-radius: 10px !important"
          >{{ $t("control-tasks.tasks.clear") }}</v-btn
        >
        <div v-if="exportLoading" class="d-flex align-center justify-center ml-3">
          <app-loader :size="32" />
        </div>
        <v-btn
          @click="viewResults"
          class="ml-3"
          color="primary"
          dense
          depressed
          small
          style="border-radius: 10px !important"
          v-else
          >{{ $t("control-tasks.tasks.filter") }}</v-btn
        >
      </div>
    </v-card>
  </v-dialog>
</template>
<script>
import AppLoader from "@/common/components/base/AppLoader";
import { mapGetters } from "vuex";
import { XIcon } from "vue-feather-icons"
export default {
  name: "TasksFilter",
  components: { AppLoader, XIcon },
  props: {
    documentTypes: Array,
    exportLoading: Boolean,
    filter: Object,
    openFilter: Boolean,
    resetFilter: Function,
    toggleDialog: Function,
    viewResults: Function,
  },
  data() {
    return {
      branches: [],
      branchesLoading: false,
      branchesPage: 1,
      deadlineEndDateMenu: false,
      deadlineStartDateMenu: false,
      departments: [],
      endDateMenu: false,
      export_types: [],
      loading: true,
      page: 1,
      responseStatuses: [],
      searchTypes: [],
      startDateMenu: false,
      taskStatuses: [],
    };
  },
  mounted() {
    this.changeLanguage();
    this.getBranches();
    this.getDepartments();
  },
  computed: {
    ...mapGetters({
      currentUser: "auth/getCurrentUser",
    }),
  },
  watch: {
    "$i18n.locale": {
      handler() {
        this.changeLanguage();
      }
    }
  },
  methods: {
    getBranches() {
      this.branchesLoading = true;
      this.$axios
        .get(`/filials/?page=${this.branchesPage}`)
        .then(response => {
          const results = response?.data?.results;
          const next = response?.data?.next;
          const branches = Array.isArray(results) ? results : [];
          this.branches = [...this.branches, ...branches];
          if (next) {
            this.branchesPage = this.branchesPage + 1;
          } else {
            this.branchesPage = null;
          }
        })
        .catch(() => {
          this.branches = [];
          this.branchesPage = null;
        })
        .finally(() => {
          this.branchesLoading = false;
        });
    },
    getDepartments() {
      this.loading = true;
      this.$axios
        .get(`/departments/?filial=${this.currentUser?.filial}&page=${this.page}`)
        .then(response => {
          const next = response?.data?.next;
          const results = response?.data?.results;
          const departments = Array.isArray(results) ? results : [];
          this.departments = [...this.departments, ...departments];
          if (next) {
            this.page = this.page + 1;
          } else {
            this.page = null;
          }
        })
        .catch(() => {
          this.page = null;
        })
        .finally(() => {
          this.loading = false;
        });
    },
    onIntersection(entries) {
      if (entries[0].intersectionRatio >= 0.5) {
        this.getDepartments();
      }
    },
    onIntersectionBranches(entries) {
      if (entries[0].intersectionRatio >= 0.5) {
        this.getBranches();
      }
    },
    changeLanguage() {
      this.searchTypes = [
        {
          type: "department",
          name: this.$t("control-tasks.tasks.by-departments"),
        },
        {
          type: "branch",
          name: this.$t("control-tasks.tasks.by-branches")
        }
      ];
      this.export_types = [
        {
          type: '0',
          name: this.$t('control-tasks.tasks.by-employees')
        },
        {
          type: '1',
          name: this.$t('control-tasks.tasks.by-tasks')
        }
      ];
      this.taskStatuses = [
        {
          value: '0',
          name: this.$t('control-tasks.tasks.in-progress')
        },
        {
          value: '1',
          name: this.$t('control-tasks.tasks.done')
        },
        {
          value: '2',
          name: this.$t('control-tasks.tasks.not-done')
        },
        {
          value: '3',
          name: this.$t('control-tasks.tasks.overdue')
        },
      ];
      this.responseStatuses = [
        {
          value: '-2',
          name: this.$t('control-tasks.tasks.un-controlled')
        },
        {
          value: '-1',
          name: this.$t('control-tasks.tasks.no-answered')
        },
        {
          value: '0',
          name: this.$t('control-tasks.tasks.for-confirm')
        },
        {
          value: '1',
          name: this.$t('control-tasks.tasks.not-confirmed')
        },
        {
          value: '2',
          name: this.$t('control-tasks.tasks.answered')
        },
        {
          value: '3',
          name: this.$t('control-tasks.tasks.agreed')
        },
        {
          value: '4',
          name: this.$t('control-tasks.tasks.not-agreed')
        },
        {
          value: '5',
          name: this.$t('control-tasks.tasks.done')
        },
        {
          value: '8',
          name: this.$t("control-tasks.reports.waiting-process"),
        },
        {
          value: '6',
          name: this.$t('control-tasks.tasks.not-done')
        },
        {
          value: '7',
          name: this.$t('control-tasks.tasks.overdue')
        },
      ]
    }
  },
};
</script>
