<template>
  <div
    :class="{ active: isActive, one }"
    :style="{ padding: isThreeDaysLeft || [1, 2].includes(task.status) ? '0 12px 0 24px' : '0 12px 0 12px' }"
    @click="setTask"
    class="task d-block font-500 py-2 text-decoration-none"
  >
    <div class="d-flex justify-space-between align-start">
      <div class="d-flex">
        <span class="doc-type">{{ task && task.doc_type && task.doc_type.title}}</span>
        <app-tooltip v-if="task.changed_deadlines_count" right>
          <template #content>
            <v-badge inline color="#5964D1" :content="task.changed_deadlines_count"/>
          </template>
          <template #text>
            <span class="font-500 small-2" style="font-size: 12px;">{{$t('control-tasks.tasks.changed-deadlines-count')}}</span>
          </template>
        </app-tooltip>
      </div>
      <span class="ml-3 doc-number d-flex align-center">
        <span>{{ task && task.doc_number }}</span>
        <span class="mx-2 divider"></span>
        <span>{{ task && task.clause_number }}</span>
      </span>
    </div>
    <div
      class="deadline mt-1 d-flex justify-space-between"
      style="flex-wrap: wrap"
    >
      <div class="d-flex">
        <span class="item-property"
          >{{ $t("control-tasks.tasks.document-date") }}:</span
        >
        <span class="ml-1">{{ parsingDate(task && task.doc_date) }}</span>
      </div>
      <div class="d-flex">
        <span class="item-property"
          >{{ $t("control-tasks.tasks.deadline") }}:</span
        >
        <span class="ml-1">{{ parsingDate(task && task.deadline) }}</span>
      </div>
    </div>
    <div class="description mt-1">{{ content }}</div>
    <div v-if="isThreeDaysLeft" class="task-three-days-left"></div>
    <div v-if="task && task.status === 1" class="task-done"></div>
    <div v-if="task && task.status === 2" class="task-not-done"></div>
  </div>
</template>
<script>
export default {
  name: "Task",
  components: {},
  props: {
    currentTask: Object,
    isActive: Boolean,
    one: Boolean,
    setCurrentTask: Function,
    task: Object,
  },
  computed: {
    isThreeDaysLeft() {
      const threeDays = 1000 * 60 * 60 * 24 * 3;
      const today = new Date().getTime();
      const deadline = new Date(this.task?.deadline).getTime();
      const difference = deadline - today;
      const isThreeDaysLeft = difference > 0 && difference < threeDays;
      return isThreeDaysLeft;
    },
    content() {
      const div = document.createElement("div");
      div.innerHTML = this.task?.description;
      const content = div.textContent || div.innerText || "";
      return content;
    },
  },
  methods: {
    parsingDate(incomingDate = new Date()) {
      const parsingDate = new Date(incomingDate);
      const year = parsingDate.getFullYear().toString();
      const month = (parsingDate.getMonth() + 1).toString().padStart(2, "0");
      const date = parsingDate.getDate().toString().padStart(2, "0");
      const d = `${date}.${month}.${year}`;
      return d;
    },
    setTask() {
      this.setCurrentTask(this.task?.id, true);
    },
  },
};
</script>
<style>
.task {
  border-bottom: 1px solid rgba(187, 187, 187, 0.5);
  border-top: 1px solid rgba(187, 187, 187, 0.5);
  cursor: pointer;
  font-size: 15px;
  margin: -1px 0 0 0;
  position: relative;
}
.task:hover,
.task.active {
  background-color: #f7f9fe;
  border-bottom: 1px solid #5964d1;
  border-top: 1px solid #5964d1;
  outline: 1px solid #5964d1;
}
.task:first-child {
  margin: 1px 0 0 0;
}
.task:last-child {
  margin: -1px 0px 1px 0px;
}
.task.one {
  margin: 1px 0;
}
.task .item-property {
  color: rgba(23, 23, 23, 0.5);
}
.task .doc-type {
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  color: #5964d1;
  display: -webkit-box;
  font-size: 16px;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.task .doc-number {
  color: #171717;
  font-size: 16px;
}
.task .doc-number .divider {
  background-color: #5964d1;
  display: inline-block;
  height: 20px;
  width: 2px;
}
.task .description {
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  align-items: baseline;
  display: -webkit-box;
  font-weight: 500;
  height: 45px;
  line-clamp: 2;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.task .description * {
  display: inline;
  margin: 0 4px 0 0;
  word-break: break-word;
}
.task .task-not-done {
  background-color: #eb3232;
  border-radius: 3px;
  height: calc(100% - 20px);
  left: 12px;
  position: absolute;
  top: 10px;
  width: 5px;
}
.task .task-done {
  background-color: #0ea20b;
  border-radius: 3px;
  height: calc(100% - 20px);
  left: 12px;
  position: absolute;
  top: 10px;
  width: 5px;
}
.task .task-three-days-left {
  background-color: #f49300;
  border-radius: 3px;
  height: calc(100% - 20px);
  left: 12px;
  position: absolute;
  top: 10px;
  width: 5px;
}
</style>
