<template>
  <div style="height: calc(100% - 110px)" class="control-task-column">
    <template v-if="loading">
      <div class="w-100 h-100 d-flex justify-center align-center">
        <app-loader :size="40" />
      </div>
    </template>
    <template v-else>
      <template v-if="tasks.length">
        <task
          :currentTask="currentTask"
          :isActive="task.id === currentTask.id"
          :key="index"
          :one="tasks.length === 1"
          :setCurrentTask="setCurrentTask"
          :task="task"
          v-for="(task, index) in tasks"
        />
      </template>
      <template v-else>
        <div class="d-flex align-center justify-center h-100">
          <h4 class="font-500 text-dark-grey">
            {{ $t("control-tasks.tasks.no-tasks") }}
          </h4>
        </div>
      </template>
    </template>
  </div>
</template>
<script>
import AppLoader from "@/common/components/base/AppLoader";
import Task from "./Task";
export default {
  name: "TasksList",
  components: {
    AppLoader,
    Task,
  },
  props: {
    currentTask: Object,
    loading: Boolean,
    setCurrentTask: Function,
    tasks: Array,
  },
};
</script>
