<template>
   <div class="bg-white" style="position: sticky; top: 0; z-index: 2; margin-top: -14px;">
      <div class="d-flex justify-space-between align-center" style="padding-bottom: 10px; padding-top: 14px">
         <div style="color: #5964d1; font-size: 17px" class="font-600 task-info-name d-flex align-center">
            <span>
               {{ currentTaskDocumentType }}. ID: 
               <v-chip color="primary" class="mr-2" text-color="white">
                  <span style="font-size: 14px">{{ currentTask && currentTask.id }}</span>
               </v-chip>
            </span>
            <app-tooltip top>
               <template #content>
                  <v-btn
                     @click="copyID"
                     color="primary"
                     depressed
                     icon
                     small
                     style="background-color: rgba(89, 99, 209, 0.08); border-radius: 10px;"
                     >
                     <copy-icon size="20" />
                  </v-btn>
               </template>
               <template #text>
                  <span class="font-500 small-2" style="font-size: 12px;">Nusxa olish</span>
               </template>
            </app-tooltip>
            <span v-if="currentTask && currentTask.recurring" class="ml-2">
               <span style="color: #ffab00; font-weight: 500" v-if="currentTask.do_recurring">Takrorlanmoqda</span>
               <span style="color: red; font-weight: 500" v-else>Takrorlanish to'xtatilgan</span>
            </span>
         </div>
         <div class="d-flex align-center flex-wrap">
            <v-btn
               @click="() => setCurrentTask(currentTask.recurring_parent, true)"
               color="primary"
               depressed
               small
               style="background-color: rgba(89, 99, 209, 0.08); border-radius: 10px"
               v-if="currentTask.recurring_parent"
               >
               Asosiy topshiriq
            </v-btn>
            <app-tooltip top>
               <template #content>
                  <v-btn
                     @click="toggleHistoryDialog"
                     color="primary"
                     depressed
                     icon
                     small
                     class="ml-2 control-tasks-action-button"
                     style="background-color: rgba(89, 99, 209, 0.08);"
                  >
                     <svg height="22" viewBox="0 0 24 24" width="22">
                        <path fill="none" d="M0 0h24v24H0V0z" />
                        <path
                           fill="currentColor"
                           d="M13.26 3C8.17 2.86 4 6.95 4 12H2.21c-.45 0-.67.54-.35.85l2.79 2.8c.2.2.51.2.71 0l2.79-2.8c.31-.31.09-.85-.36-.85H6c0-3.9 3.18-7.05 7.1-7 3.72.05 6.85 3.18 6.9 6.9.05 3.91-3.1 7.1-7 7.1-1.61 0-3.1-.55-4.28-1.48-.4-.31-.96-.28-1.32.08-.42.42-.39 1.13.08 1.49C9 20.29 10.91 21 13 21c5.05 0 9.14-4.17 9-9.26-.13-4.69-4.05-8.61-8.74-8.74zm-.51 5c-.41 0-.75.34-.75.75v3.68c0 .35.19.68.49.86l3.12 1.85c.36.21.82.09 1.03-.26.21-.36.09-.82-.26-1.03l-2.88-1.71v-3.4c0-.4-.34-.74-.75-.74z"
                        />
                     </svg>
                  </v-btn>
               </template>
               <template #text>
                  <span class="font-500 small-2" style="font-size: 12px;">{{ $t("control-tasks.tasks.history-changes") }}</span>
               </template>
            </app-tooltip>
            <template v-if="permission">
               <app-tooltip top>
                  <template #content>
                     <v-btn
                        @click="editTask"
                        class="ml-2 control-tasks-action-button"
                        color="primary"
                        depressed
                        icon
                        small
                        style="background-color: rgba(89, 99, 209, 0.08);"
                        >
                        <edit-3-icon size="20" />
                     </v-btn>
                  </template>
                  <template #text>
                     <span class="font-500 small-2" style="font-size: 12px;">{{ $t("control-tasks.edit-task.edit-task") }}</span>
                  </template>
               </app-tooltip>
               <template v-if="currentTask.recurring && currentTask.do_recurring">
                  <app-tooltip top>
                     <template #content>
                        <v-btn
                           @click="visible = !visible"
                           class="ml-2 control-tasks-action-button"
                           color="#E03636"
                           depressed
                           icon
                           small
                           style="background-color: rgba(224, 54, 54, 0.08);"
                        >
                        <svg width="24" height="24" viewBox="0 0 24 24">
                           <path fill="#E03636" d="M15,8H9A1,1,0,0,0,8,9v6a1,1,0,0,0,1,1h6a1,1,0,0,0,1-1V9A1,1,0,0,0,15,8Zm-1,6H10V10h4ZM12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm0,18a8,8,0,1,1,8-8A8,8,0,0,1,12,20Z"></path>
                        </svg>
                        </v-btn>
                     </template>
                     <template #text>
                        <span class="font-500 small-2" style="font-size: 12px;">To'xtatish</span>
                     </template>
                  </app-tooltip>
               </template>
               <app-tooltip top>
                  <template #content>
                     <v-btn
                        @click.stop="dialog = !dialog"
                        class="ml-2 control-tasks-action-button"
                        color="#E03636"
                        depressed
                        icon
                        small
                        style="background-color: rgba(224, 54, 54, 0.08);"
                        >
                        <trash2-icon size="20" />
                     </v-btn>
                  </template>
                  <template #text>
                     <span class="font-500 small-2" style="font-size: 12px;">{{$t("control-tasks.tasks.delete-task")}}</span>
                  </template>
               </app-tooltip>
            </template>
         </div>
      </div>
      <v-dialog max-width="500px" persistent v-model="dialog">
         <v-card class="py-7">
            <v-card-title class="py-0" style="font-size: 20px;">{{$t("control-tasks.tasks.delete-task")}}</v-card-title>
            <v-card-text class="pt-4 pb-10" style="font-size: 16px">{{$t("control-tasks.tasks.delete-task-description")}}</v-card-text>
            <v-card-actions
               class="d-flex py-0 px-6"
               style="justify-content: flex-end"
            >
               <div v-if="loading" class="d-inline-block">
                  <app-loader :size="36" />
               </div>
               <template v-else>
                  <v-btn
                     @click="dialog = !dialog"
                     color="primary"
                     depressed
                     small
                     style="border-radius: 10px !important"
                     >
                     {{ $t("control-tasks.tasks.cancel") }}
                  </v-btn>
                  <v-btn @click="deleteTask" color="error" class="ml-2" style="border-radius: 10px !important" depressed small>
                     {{$t("control-tasks.tasks.delete")}}
                  </v-btn>
               </template>
            </v-card-actions>
         </v-card>
      </v-dialog>
      <v-dialog max-width="500px" persistent v-model="visible">
         <v-card class="py-7">
            <v-card-title class="py-0" style="font-size: 20px;">Topshiriq takrolanishini to'xtatish</v-card-title>
            <v-card-text class="pt-4 pb-10" style="font-size: 16px">Haqiqatdan ham ushbu topshiriq takrorlanishini to'xtatmoqchimisiz?</v-card-text>
            <v-card-actions class="d-flex py-0 px-6" style="justify-content: flex-end">
               <div v-if="stopLoading" class="d-inline-block">
                  <app-loader :size="36" />
               </div>
               <template v-else>
                  <v-btn
                     @click="visible = !visible"
                     color="primary"
                     depressed
                     small
                     style="border-radius: 10px !important"
                     >
                     Bekor qilish
                  </v-btn>
                  <v-btn @click="stopTask" color="error" class="ml-2" style="border-radius: 10px !important" depressed small>
                     Ha
                  </v-btn>
               </template>
            </v-card-actions>
         </v-card>
      </v-dialog>
      <v-dialog
         @click:outside="toggleHistoryDialog"
         @keydown.esc="toggleHistoryDialog"
         max-width="800px"
         v-model="historyDialog"
         >
         <v-card class="pa-3">
            <h4 class="py-5 mx-4 font-500 px-0" style="font-size: 20px">
               {{ $t("control-tasks.tasks.history-changes") }}
            </h4>
            <div class="px-4 mb-4">
               <template v-if="currentTaskHistory.length">
                  <div
                     :key="index"
                     class="py-4 border-bottom border-top"
                     style="margin-top: -1px"
                     v-for="(history, index) in currentTaskHistory"
                  >
                     <div class="d-flex align-center mb-4">
                        <v-avatar :color="history.created_by.color" class="mr-2" size="42">
                           <span class="font-500 text-white small">{{history.created_by.full_name.slice(0, 1)}}</span>
                        </v-avatar>
                        <div class="d-flex small font-500">
                           <span class="mr-2">{{ history.created_by.full_name }}</span>
                           <span class="mr-2 text-2">{{ history.description }}</span>
                           <span class="mr-2 text-2">{{parseDateHour(history.created_date)}}</span>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-6 col">
                           <p class="font-600 small-2 mb-0">{{ $t("control-tasks.tasks.original-value") }}</p>
                           <span class="font-600 text-2 small-2">{{history.original_value}}</span>
                        </div>
                        <div class="col-md-6 col">
                           <p class="font-600 small-2 mb-0">{{$t("control-tasks.tasks.new-value")}}</p>
                           <span class="font-600 text-2 small-2">{{history.new_value}}</span>
                        </div>
                     </div>
                  </div>
                  <div v-if="currentTaskHistoryLoading" class="d-flex align-center justify-center mt-5" style="height: 35px">
                     <app-loader :size="35" />
                  </div>
                  <div v-else-if="currentTaskHistoryNext" class="d-flex align-center justify-center w-100 mt-5">
                     <v-btn
                        @click="() => getHistory(currentTask.id, true)"
                        color="primary"
                        depressed
                        small
                        style="color: white; border-radius: 10px;"
                     >
                     {{ $t("control-tasks.tasks.load-more") }}
                     </v-btn>
                  </div>
               </template>
               <div v-else>
                  <p class="mt-3 mb-0 font-500" style="color: #17171780">
                     {{ $t("control-tasks.tasks.no-changes") }}
                  </p>
               </div>
            </div>
            <v-card-actions class="justify-end pb-4">
               <v-btn color="primary" depressed @click="toggleHistoryDialog" small style="border-radius: 10px !important">{{$t("control-tasks.tasks.close")}}</v-btn>
            </v-card-actions>
         </v-card>
      </v-dialog>
   </div>
</template>
<script>
import { Edit3Icon, Trash2Icon, FileTextIcon, CopyIcon } from 'vue-feather-icons';
import { mapGetters } from "vuex";
export default {
   name: "TaskInfo",
   components: { Edit3Icon, FileTextIcon, Trash2Icon, CopyIcon },
   props: {
      currentTask: Object,
      currentTaskHistory: Array,
      currentTaskHistoryLoading: Boolean,
      currentTaskHistoryNext: Boolean,
      getHistory: Function,
      removeCurrentTask: Function,
      setCurrentTask: Function,
   },
   data() {
      return {
         dialog: false,
         historyDialog: false,
         loading: false,
         stopLoading: false,
         visible: false,
      };
   },
   computed: {
      ...mapGetters({
         currentUser: "auth/getCurrentUser",
      }),
      currentTaskDocumentType() {
         return this.currentTask?.doc_type?.title;
      },
      permission() {
         const permission = [
            "admin",
            "chairman_tasks",
            "deputy_chair_tasks",
            "audit_tasks",
            "chairman_tasks_no_delete",
            "chairman_tasks_create_read",
            "deputy_chair_tasks_no_delete",
            "deputy_chair_tasks_create_read",
            "audit_tasks_no_delete",
            "audit_tasks_create_read",
         ].some(role => this.currentUser?.roles.includes(role));
         return permission;
      }
   },
   methods: {
      parseDateHour(incomingDate = new Date()) {
         const parsingDate = new Date(incomingDate);
         const date = parsingDate.getDate().toString().padStart(2, "0");
         const hour = parsingDate.getHours().toString().padStart(2, "0");
         const month = (parsingDate.getMonth() + 1).toString().padStart(2, "0");
         const minute = parsingDate.getMinutes().toString().padStart(2, "0");
         const year = parsingDate.getFullYear().toString();
         const d = `${date}.${month}.${year} ${hour}:${minute}`;
         return d;
      },
      deleteTask() {
         this.loading = true;
         this.$axios
            .delete(`/control_tasks/tasks/${this.currentTask?.id}/`)
            .then(response => {
               if (response?.status) {
                  this.$toast.success(this.$t("control-tasks.tasks.task-deleted"));
                  this.dialog = !this.dialog;
                  this.removeCurrentTask();
               } else {
                  this.$toast.error(this.$t("control-tasks.tasks.task-not-deleted"));
               }
            })
            .catch(() => {
               this.$toast.error(this.$t("control-tasks.tasks.task-not-deleted"));
            })
            .finally(() => {
               this.loading = false;
            });
      },
      editTask() {
         this.$router.push({ path: `/control-tasks/tasks/${this.currentTask?.id}${window.location.search}` });
      },
      toggleHistoryDialog() {
         this.historyDialog = !this.historyDialog;
      },
      copyID() {
         navigator.clipboard.writeText(this.currentTask.id);
      },
      stopTask() {
         this.stopLoading = true;
         const data = { do_recurring: false };
         this.$axios
            .put(`/control_tasks/tasks/${this.currentTask?.id}/stop-recurring/`, data)
            .then(response => {
               if (response?.status) {
                  this.visible = !this.visible;
                  const newTask = { ...this.currentTask, ...data };
                  this.currentTask = newTask;
               } else {
                  this.$toast.error(this.$t("control-tasks.tasks.an-error-occurred"));
               }
            })
            .catch((e) => {
               console.log('e', e.toJSON())
               this.$toast.error(this.$t("control-tasks.tasks.an-error-occurred"));
            })
            .finally(() => {
               this.stopLoading = false;
            });
      }
   },
};
</script>
<style>
.control-tasks-action-button {
   border-radius: 10px;
   color: white;
}
.control-tasks-action-button::before {
   display: none !important;
}
.task-info-name {
   -moz-box-orient: vertical;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 1;
   display: -webkit-box;
   line-clamp: 1;
   overflow: hidden;
   width: calc(100% - 300px);
}
</style>