<template>
  <v-dialog
    @click:outside="toggleDialog"
    @keydown.esc="toggleDialog"
    content-class="add-user-modal"
    max-width="640"
    v-model="forwardTaskDialog"
  >
    <div class="pa-7 bg-white rounded-20 p-relative">
      <h3 class="my-0 font-500 heading-10 pb-5">{{ $t("control-tasks.tasks.transfer-task") }}</h3>
      <div>
        <div class="app-input">
          <v-autocomplete
            :filter="value => value"
            :items="searchResults"
            :search-input.sync="search"
            auto-select-first
            background-color="var(--input-bg)"
            dense
            hide-details
            item-text="full_name"
            item-value="id"
            outlined
            v-model="performer"
            style="border-radius: 10px !important"
          >
            <template #prepend-inner>
              <search-icon class="mr-1 d-block" color="var(--text-4)" size="20"/>
            </template>
            <template #append>
              <div class="h-100 w-100 d-flex justify-center align-center">
                <app-loader v-if="searchLoading" :size="26" />
              </div>
            </template>
            <template v-slot:item="{ item }">
              <v-list-item-avatar :color="item.color">
                <template v-if="item.avatar">
                  <img :src="item.avatar.url" alt="Avatar image" class="object-cover" />
                </template>
                <template v-else>
                  <span class="text-white">{{item.full_name && item.full_name[0]}}</span>
                </template>
              </v-list-item-avatar>
              <v-list-item-content>
                <v-list-item-title
                >{{ item.full_name }}</v-list-item-title>
                <v-list-item-subtitle>
                  <span>{{ item.position }} - </span>
                  <span
                    class="font-600 small-3"
                    :class="{
                      'success-text': item.condition_name === 'Рабочие' || item.condition_name === 'Командировка',
                      'red--text': item.condition_name !== 'Рабочие' && item.condition_name !== 'Командировка',
                    }"
                    >{{ item.condition_name }}</span
                  >
                </v-list-item-subtitle>
              </v-list-item-content>
            </template>
            <template v-slot:append-item>
              <template v-if="page">
                <div v-intersect="{ handler: onIntersection, options: { threshold: [0, 1.0, 1.0] } }" class="pa-4"></div>
              </template>
            </template>
          </v-autocomplete>
        </div>
        <div class="d-flex align-center pt-5" style="justify-content: flex-end;">
          <div v-if="loading" class="d-inline-block">
            <app-loader :size="38" />
          </div>
          <template v-else>
            <v-btn @click="toggleDialog" color="error" depressed small style="margin: 0 15px 0 0; border-radius: 10px !important;">{{ $t("control-tasks.tasks.cancel") }}</v-btn>
            <v-btn @click="forwardTask" style="border-radius: 10px;" color="primary" depressed small>{{ $t("control-tasks.tasks.transfer") }}</v-btn>
          </template>
        </div>
      </div>
    </div>
  </v-dialog>
</template>
<script>
import AppLoader from "@/common/components/base/AppLoader";
import { SearchIcon } from "vue-feather-icons";
import { mapGetters } from "vuex";
export default {
  components: { SearchIcon, AppLoader },
  computed: { ...mapGetters({ currentUser: "auth/getCurrentUser" }) },
  name: "TransferTask",
  props: {
    currentPerformer: Object,
    currentTask: Object,
    filter: Object,
    forwardTaskDialog: Boolean,
    getPerformers: Function,
    getTasksStatusCount: Function,
    toggleForwardTaskDialog: Function,
  },
  data() {
    return {
      loading: false,
      page: null,
      performer: null,
      search: "",
      searchLoading: false,
      searchResults: [],
    };
  },
  watch: {
    search: {
      handler(search) {
        this.searchLoading = true;
        this.$axios
          .get(`/phonebook/?page=1${search ? "&search=" + search : ""}`)
          .then(response => {
            const results = response?.data?.results;
            const next = response?.data?.next;
            const page = next ? this.page + 1 : null;
            this.page = page;
            const searchResults = (Array.isArray(results) ? results : []).map(this.disabledUsers);
            this.searchResults = searchResults;
          })
          .catch(() => {
            this.searchResults = [];
            this.page = null;
          })
          .finally(() => {
            this.searchLoading = false;
          });
      },
    },
  },
  methods: {
    forwardTask() {
      if (this.performer) {
        this.loading = true;
        const data = { performer: this.performer };
        const url = `/control_tasks/tasks/${this.currentTask?.id}/transfer/${this.currentPerformer?.id}/`;
        this.$axios
          .put(url, data)
          .then(response => {
            if (response?.status === 200) {
              this.$toast.success('Переведено');
              this.getPerformers(this.currentTask?.id);
              this.getTasksStatusCount(this.filter);
              this.toggleDialog();
            } else {
              this.$toast.error(this.$t("control-tasks.tasks.an-error-occurred"));
            }
          })
          .catch(e => {
            const message = typeof e.toJSON === 'function' ? e.toJSON()?.message : this.$t('control-tasks.tasks.an-error-occurred');
            this.$toast.error(message);
          })
          .finally(() => {
            this.loading = false;
          });
      } else {
        this.$toast.error(this.$t("control-tasks.tasks.add-employee"));
      }
    },
    disabledUsers(user) {
      const disabled = user?.condition_name !== 'Рабочие' && user?.condition_name !== 'Командировка';
      return { ...user, disabled };
    },
    onIntersection(entries) {
      if (entries[0].intersectionRatio >= 0.5) {
        this.searchLoading = true;
        const search = this.search ? '&search=' + this.search : ''
        this.$axios
          .get(`/phonebook/?page=${this.page}${search}`)
          .then(response => {
            const results = response?.data?.results;
            const next = response?.data?.next;
            const page = next ? this.page + 1 : null;
            const searchResults = (Array.isArray(results) ? results : []).map(this.disabledUsers);
            this.page = page;
            this.searchResults = [...this.searchResults, ...searchResults];
          })
          .catch(() => {
            this.searchResults = [];
            this.page = null;
          })
          .finally(() => {
            this.searchLoading = false;
          });
      }
    },
    toggleDialog() {
      this.toggleForwardTaskDialog();
      this.page = null;
      this.performer = null;
      this.search = "";
      this.searchLoading = false;
      this.searchResults = [];
    },
  },
};
</script>
