<template>
  <div class="calendar-list-type-view d-flex">
    <grid-calendar>
      <template #eventDescription="{ selected }">
        <router-link
          :to="{
            name: 'InboxFormShow',
            params: {
              id: selected.id,
              type: selected.document && selected.document.journal.id
            }
          }"
          class="list-group-item text-decoration-none d-block"
        >
          <grid-card :header-color="selected.document && selected.document.priority" :title="selected.document && selected.document.correspondent && selected.document.correspondent.organization_name">
            <review-grid-card-body
              :item="{
                selected,
                journal: selected.document && selected.document.journal,
                doc_type: selected.document && selected.document.doc_type,
                type: selected.type,
                priority: selected.document && selected.document.priority,
                deadline: selected.assignment && selected.assignment.find(assignment => assignment.user.id === currentUser.id),
                created_by: [{ user: selected.created_by }],
                review_users: selected.document && selected.document.review_users,
                __status: selected.__status,
                __priorityText: selected.__priorityText
              }"
              :hide-update-task-field="false"
            />
          </grid-card>
        </router-link>
      </template>
    </grid-calendar>

    <template v-if="getLoading">
      <app-loader content-width :size="54"/>
    </template>
  </div>
</template>

<script>
import GridCalendar from "@/common/components/GridCalendar"
import GridCard from "@/common/components/GridCard"
import ReviewGridCardBody from "@/modules/DocumentFlow/components/ReviewGridCardBody"

import { mapActions, mapGetters } from "vuex";

export default {
	name: "CalendarType",
  components: {
    GridCalendar,
    GridCard,
    ReviewGridCardBody
  },
  data() {
    return {
      eventsList: []
    }
  },
  computed: {
    ...mapGetters({
      getLoading: "getLoading",
      currentUser: "auth/getCurrentUser"
    })
  },
  created() {
    this.fetchInboxListAll({ status: null, page_size: 30 })
  },
  beforeDestroy() {
    this.clearEvents()
  },
  methods: {
    ...mapActions({
      fetchInboxListAll: "documentFlowModule/fetchInboxListAll",
      clearEvents: "documentFlowModule/clearEvents",
    }),
  }
}
</script>
