<template>
	<div class="assignment-completion-note">
		<div class="app-input">
			<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.boxes.content')}}</span>

      <quill-editor
        ref="editor"
        v-model="$v.noteModel.performance_note.$model"
        :error="$v.noteModel.performance_note.$error"
      />
		</div>

    <div class="d-flex grid-gap-sm my-4">
      <resolution-content-modal
        title="components.add-template"
        title-dialog="components.add-content-resolution"
        @emit:up="(text) => noteModel.performance_note = text.name"
      />

      <resolution-content-modal
        title="content-from-users"
        title-dialog="content-from-users"
        :api-url="`assigment/${$route.params.id}/list_of_performers`"
        multiple
        :search-bar-visible="false"
        has-action
        @emit:up="resolutionFromUsers"
      />
    </div>

		<div class="app-input mb-8">
			<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.boxes.attach-file')}}</span>

			<app-file-upload
				@uploadFiles="uploadFiles"
				class="w-100"
				:multiple="false"
			/>

<!--			<v-file-input-->
<!--				@change="uploadFiles"-->
<!--				prepend-inner-icon="mdi-paperclip"-->
<!--				prepend-icon=""-->
<!--				outlined-->
<!--				hide-details-->
<!--        background-color="var(&#45;&#45;input-bg)"-->
<!--			></v-file-input>-->
		</div>

		<div>
      <app-button class="mr-3" color="error" :to="{name: 'InboxFormShowView'}">
        <template #prepend>
          <arrow-left-icon size="20" />
        </template>
        {{$t('document-flow.views.boxes.back')}}
      </app-button>

      <app-button @click="send">
        <template #prepend>
          <plus-circle-icon size="20" />
        </template>
        {{$t('document-flow.views.boxes.completion-mark')}}
      </app-button>
    </div>
	</div>
</template>

<script>
import ResolutionContentModal from "@/common/components/ResolutionContentModal"
import { ArrowLeftIcon, PlusCircleIcon, XIcon } from "vue-feather-icons"
import { required } from "vuelidate/lib/validators"
import { mapActions, mapGetters } from "vuex"

export default {
	name: "CompletionNote",
	components: {
    ResolutionContentModal,
		PlusCircleIcon,
    ArrowLeftIcon,
    XIcon
	},
	data() {
		return {
			noteModel: {
				performance_note: "",
				doc_id: null,
				file: null,
        document_unique_id: null,
				__fileId: null
			}
		}
	},
  validations: {
    noteModel: {
      performance_note: { required }
    },
  },
	computed: {
		...mapGetters({
      currentUser: "auth/getCurrentUser",
			getAssignmentGetOne: "documentFlowModule/getAssignmentGetOne",
      getResolutionContentList: "equipmentModule/getResolutionContentList",
		}),
    /*
    *
    * */
    currentUserAssignment() {
      return this.getAssignmentGetOne.assignment.find(assignment => assignment.user.id === this.currentUser.id)
    },
	},
  methods: {
		...mapActions({
			fetchCompletionNote: "documentFlowModule/fetchCompletionNote",
      fetchAssignedUsersTree: "documentFlowModule/fetchAssignedUsersTree",
      fetchAssigmentById: "documentFlowModule/fetchAssigmentById",
			fetchAttachFiles: "documentFlowModule/fetchAttachFiles",
		}),
    /*
    *
    * */
	  resolutionFromUsers(list) {
		  this.noteModel.performance_note = list.map(item => `${item.performance_note}\n`).join("")
	  },
		/*
		*
		* */
		uploadFiles(file) {
			if (file){
				let files = [];
				files.push(file);
				this.fetchAttachFiles({files}).then(data => {
					this.$toast.success(this.$t('document-flow.views.boxes.file-downloaded'))

					this.noteModel.__fileId = data.id
				})
			}
		},
		/*
		*
		* */
		send() {
      this.$v.$touch();

      if (this.$v.$invalid) {
        return;
      }

			if(!this.noteModel.performance_note.replace(/<\/?[^>]+(>|$)/g, "").trim()) {
				this.$toast.warning(this.$t('document-flow.views.boxes.please-fill-content'))
				return;
			}

			this.noteModel.file = this.noteModel.__fileId
			this.noteModel.doc_id = this.getAssignmentGetOne.document.id
			this.noteModel.document_unique_id = this.getAssignmentGetOne.document.document_unique_id

      this.fetchCompletionNote({
				note: this.noteModel,
				assignmentId: this.currentUserAssignment.id
			})
      .then(() => {
        this.$toast.success(this.$t('document-flow.views.boxes.completion-mark-done'))

        this.$router.push({
          name: "InboxFormShowView"
        })
          .then(() => {
            this.fetchAssignedUsersTree({
              treeId: this.getAssignmentGetOne.document.id
            })

            this.fetchAssigmentById({
              id: this.$route.params.id
            })
          })
      })
		}
	}
}
</script>
