<template>
	<div class="completion-note-finished">
		<template v-if="!noteModel.is_read">
			<v-alert outlined type="error" text>
				<span class="small-2">{{
					$t("document-flow.views.boxes.document-not-known")
				}}</span>
			</v-alert>
		</template>

		<template v-if="noteModel.is_read && !noteModel.is_performed">
			<v-alert outlined type="warning" text>
				<span class="small-2"
					>{{ $t("document-flow.views.boxes.document-was-read") }}
					{{ noteModel.read_time | filterCalendarToTime }}</span
				>
			</v-alert>
		</template>

		<template v-if="noteModel.is_read && noteModel.is_performed">
			<v-alert outlined type="success" text>
				<span class="small-2 d-block"
					>{{ $t("document-flow.views.boxes.document-completed") }}:
					{{ noteModel.performance_date | filterCalendarToTime }}</span
				>
				<span v-if="noteModel.modified_date" class="small-2 d-block mt-1"
					>{{ $t("document-flow.views.boxes.document-changed") }}
					{{ noteModel.modified_date | filterCalendarToTime }}</span
				>
			</v-alert>
		</template>

		<div class="app-input mb-8">
			<span class="d-block font-600 small-2 mb-2">{{
				$t("document-flow.views.boxes.content")
			}}</span>

			<quill-editor
				ref="editor"
				v-model="noteModel.performance_note"
				:error="noteModel.performance_note"
				readonly
				disabled
			/>
		</div>

		<div class="mb-5">
			<span class="d-block font-600 small-2 mb-2">{{
				$t("document-flow.views.boxes.files")
			}}</span>

			<app-table :table-width="500" :table-head-items="filesTableHeaders">
				<template #tableBody>
					<tr v-if="noteModel.file">
						<td>1</td>
						<td>{{ noteModel.file.name }}</td>
						<td>
							{{ noteModel.file.created_date | filterCalendarToTime }}
						</td>
						<td>
							<app-button
								min-width="43"
								width="43px"
								color="var(--primary-3)"
								icon
								target="_blank"
								link
								:href="noteModel.file.url"
							>
								<template #prepend>
									<download-icon size="18" />
								</template>
							</app-button>
						</td>
					</tr>

					<tr v-else>
						<td colspan="4">
							<h3 class="font-600 text-center">
								{{ $t("document-flow.views.boxes.nothing-found") }}
							</h3>
						</td>
					</tr>
				</template>
			</app-table>
		</div>

		<template v-if="noteModel.controller">
			<div class="mb-5">
				<span class="d-block font-600 small-2 mb-2">{{
					$t("document-flow.views.boxes.controlling")
				}}</span>

				<app-table :table-width="500">
					<template #tableHeader>
						<th>#</th>
						<th>{{ $t("document-flow.views.boxes.added-from") }}</th>
					</template>
					<template #tableBody>
						<tr>
							<td>1</td>
							<td>
								{{
									noteModel.controller &&
									noteModel.controller.full_name
								}}
							</td>
						</tr>
					</template>
				</app-table>
			</div>
		</template>

		<div class="mb-5">
			<span class="d-block font-600 small-2 mb-2">{{
				$t("document-flow.views.boxes.creator")
			}}</span>

			<app-table :table-width="500">
				<template #tableHeader>
					<th>#</th>
					<th>{{ $t("document-flow.views.boxes.added-from") }}</th>
					<th>{{ $t("document-flow.views.boxes.text") }}</th>
					<th>{{ $t("document-flow.views.boxes.deadline") }}</th>
				</template>
				<template #tableBody>
					<tr>
						<td>1</td>
						<td>
							{{
								noteModel.created_by && noteModel.created_by.full_name
							}}
						</td>
						<td width="350">
							<span
								v-html="noteModel.content"
								class="reset-space"
							></span>
						</td>
						<td width="120">
							<span v-if="noteModel.deadline">{{
								noteModel.deadline | filterDateMonthYear
							}}</span>
							<span v-else>{{
								$t("document-flow.views.boxes.deadline-not-set")
							}}</span>
						</td>
					</tr>
				</template>
			</app-table>
		</div>

		<!--		<app-button :to="{name: queryType.urlName}">-->
		<app-button color="error" @click="$router.go(-1)">
			<template #prepend>
				<log-out-icon size="20" style="transform: scaleX(-1)" />
			</template>

			<span class="ml-2">{{ $t("document-flow.views.boxes.back") }}</span>
		</app-button>
	</div>
</template>

<script>
import { TABLE_HEAD_TEXT_LIST } from "@/common/constants";
import { selectFromList } from "@/common/helpers";
import {
DownloadIcon,
EyeIcon,
LogOutIcon,
Trash2Icon
} from "vue-feather-icons";
import { mapGetters } from "vuex";

export default {
	name: "CompletionNoteFinished",
	components: {
		Trash2Icon,
		DownloadIcon,
		EyeIcon,
		LogOutIcon,
	},
	data() {
		return {
			noteModel: {},
			createdBy: {},
		};
	},
	computed: {
		...mapGetters({
			getCurrentUser: "auth/getCurrentUser",
		}),
		/*
		 *
		 * */
		filesTableHeaders() {
			return selectFromList([1, 22, 23, 19], TABLE_HEAD_TEXT_LIST);
		},
		/*
		 *
		 * */
		employeeTableHeaders() {
			return selectFromList([1, 24, 23, 19], TABLE_HEAD_TEXT_LIST);
		},
		/*
		 *
		 * */
		queryType() {
			switch (this.$route.query.type) {
				case "review":
					return {
						type: "review",
						urlName: "ReviewFormView",
					};
				default:
					return {
						type: "inbox",
						urlName: "InboxFormShowView",
					};
			}
		},
	},
	mounted() {
		this.getOne();
	},
	methods: {
		getOne() {
			this.$http
				.get(
					`/docflow/${this.getCurrentUser.filial}/assigment_users/${this.$route.params.assignmentId}/`
				)
				.then(({ data }) => {
					this.noteModel = data;
				});
		},
		/*
		 *
		 * */
		openAttachFile() {},
		/*
		 *
		 * */
		deleteFile() {},
	},
};
</script>
