<template>
  <div class="assignment-completion-note">
    <div class="app-input">
      <span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.boxes.content')}}</span>

      <quill-editor
        ref="editor"
        v-model="$v.noteModel.performance_note.$model"
        :error="$v.noteModel.performance_note.$error"
      />
    </div>

    <div class="d-flex grid-gap-sm my-4">
      <resolution-content-modal
        @emit:up="(text) => noteModel.performance_note = text.name"
      />

      <resolution-content-modal
        title="content-from-users"
        title-dialog="content-from-users"
        :api-url="`assigment/${$route.params.id}/list_of_performers`"
        multiple
        :search-bar-visible="false"
        has-action
        @emit:up="resolutionFromUsers"
      />
    </div>

<!--    <resolution-content-modal-->
<!--      @emit:up="(text) => noteModel.performance_note = text.name"-->
<!--      class="mb-6"-->
<!--    />-->

    <div class="app-input mb-8">
      <span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.boxes.attach-file')}}</span>

      <div class="d-flex align-center">

	      <app-file-upload
		      @uploadFiles="uploadFiles"
		      class="w-100"
		      :multiple="false"
		      @clickClear="noteModel.__file = {}"
		      :show-files="false"
	      />

<!--        <v-file-input
          @change="uploadFiles"
          prepend-inner-icon="mdi-paperclip"
          prepend-icon=""
          outlined
          hide-details
          background-color="var(&#45;&#45;input-bg)"
          @click:clear="noteModel.__file = {}"
        />-->

        <v-hover v-if="noteModel.__file && Object.keys(noteModel.__file).length">
          <template v-slot:default="{ hover }">
            <v-sheet width="100" height="56" class="ml-4 p-relative overflow-hidden rounded-lg d-flex align-center justify-center">
              <template
                v-if="
                  fileExtension === 'jpg' ||
                  fileExtension === 'JPG' ||
                  fileExtension === 'jpeg' ||
                  fileExtension === 'JPEG' ||
                  fileExtension === 'png' ||
                  fileExtension === 'PNG'
                "
              >
                <img
                  :src="noteModel.__file.url"
                  class="d-block w-100 h-100 object-cover"
                  alt="Image"
                />
              </template>

              <file-text-icon
                v-else
                size="32"
                color="var(--text-2)"
              />

              <v-fade-transition>
                <v-overlay
                  v-if="hover"
                  absolute
                  color="#000"
                >
                  <v-btn
                    icon
                    color="error"
                    @click="noteModel.__file = {}"
                  >
                    <trash2-icon size="18" />
                  </v-btn>

                  <v-btn
                    icon
                    color="warning"
                    link
                    target="_blank"
                    :href="noteModel.__file.url"
                  >
                    <eye-icon size="18" />
                  </v-btn>
                </v-overlay>
              </v-fade-transition>
            </v-sheet>
          </template>
        </v-hover>
      </div>
    </div>

    <div>
      <app-button class="mr-3" color="error" :to="{name: 'InboxFormShowView'}">
        <template #prepend>
          <arrow-left-icon size="20" />
        </template>
        {{$t('document-flow.views.boxes.back')}}
      </app-button>

      <app-button @click="send">
        <template #prepend>
          <edit3-icon size="20" />
        </template>
        {{$t('document-flow.views.boxes.change-performance')}}
      </app-button>
    </div>
  </div>
</template>

<script>
import ResolutionContentModal from "@/common/components/ResolutionContentModal"
import { ArrowLeftIcon, Edit3Icon, EyeIcon, FileTextIcon, PlusCircleIcon, Trash2Icon, XIcon } from "vue-feather-icons"
import { required } from "vuelidate/lib/validators"
import { mapActions, mapGetters } from "vuex"

export default {
  name: "CompletionNoteEdit",
  components: {
    ResolutionContentModal,
    XIcon,
    PlusCircleIcon,
    ArrowLeftIcon,
    Edit3Icon,
    Trash2Icon,
    EyeIcon,
    FileTextIcon
  },
  data() {
    return {
      noteModel: {
        performance_note: "",
        doc_id: null,
        file: null,
        document_unique_id: null,
        __file: null
      }
    }
  },
  validations: {
    noteModel: {
      performance_note: { required }
    },
  },
  computed: {
    ...mapGetters({
      currentUser: "auth/getCurrentUser",
      getAssignmentGetOne: "documentFlowModule/getAssignmentGetOne",
    }),
    /*
    *
    * */
    currentUserAssignment() {
      return this.getAssignmentGetOne.assignment.find(assignment => assignment.user.id === this.currentUser.id)
    },
    /*
    *
    * */
    fileExtension() {
      let splitting = this.noteModel.__file.url.split(".")

      return splitting[splitting.length - 1]
    }
  },
  watch: {
    currentUserAssignment: {
      handler(val) {
        this.noteModel.performance_note = val.performance_note
        this.noteModel.doc_id = val.id
        this.noteModel.__file = val.file
        // this.noteModel.document_unique_id = val.document_unique_id
        this.getOne(val)
      },
      deep: true,
      immediate: true
    },
  },
  methods: {
    ...mapActions({
      fetchCompletionNote: "documentFlowModule/fetchCompletionNote",
      fetchAssignedUsersTree: "documentFlowModule/fetchAssignedUsersTree",
      fetchAssigmentById: "documentFlowModule/fetchAssigmentById",
      fetchGetAssignmentUserById: "documentFlowModule/fetchGetAssignmentUserById",
	    fetchAttachFiles: "documentFlowModule/fetchAttachFiles",
    }),
	  /*
    *
    * */
	  resolutionFromUsers(list) {
		  this.noteModel.performance_note = list.map(item => `${item.performance_note}\n`).join("")
	  },
    /*
    *
    * */
    getOne(data) {
      console.log(data);
    },
    /*
    *
    * */
    uploadFiles(file) {
      if(!file) {
        return;
      }
	    let files = [];
	    files.push(file);
	    this.fetchAttachFiles({files}).then(data => {
		    this.$toast.success(this.$t('document-flow.views.boxes.file-downloaded'))

		    this.noteModel.__file = data
	    })
	    .catch(err => {
		    console.log(err)
	    })

      // let formData = new FormData()
      // formData.append("file", file)
			//
      // this.$axios
      //   .post('/upload/', formData)
      //   .then(({ data }) => {
      //     this.$toast.success(this.$t('document-flow.views.boxes.file-downloaded'))
			//
      //     this.noteModel.__file = data
      //   })
    },
    /*
    *
    * */
    send() {
      this.$v.$touch();

      if (this.$v.$invalid) {
        return;
      }

	    if(!this.noteModel.performance_note.replace(/<\/?[^>]+(>|$)/g, "").trim()) {
	    	this.$toast.warning(this.$t('document-flow.views.boxes.please-fill-content'))
		    return;
	    }

      this.noteModel.file = this.noteModel.__file ? this.noteModel.__file.id : null
      this.noteModel.doc_id = this.getAssignmentGetOne.document.id
      this.noteModel.document_unique_id = this.getAssignmentGetOne.document.document_unique_id

      this.fetchCompletionNote({
        note: this.noteModel,
        assignmentId: this.currentUserAssignment.id
      })
        .then(() => {
          this.$toast.success(this.$t('document-flow.views.boxes.completion-mark-done'))

          this.$router.push({
            name: "InboxFormShowView"
          })
          .then(() => {
            this.fetchAssignedUsersTree({
              treeId: this.getAssignmentGetOne.document.id
            })

            this.fetchAssigmentById({
              id: this.$route.params.id
            })
          })
        })
    }
  }
}
</script>
