<template>
  <perfect-scrollbar class="d-flex flex-column flex-1">
    <app-wrapper class="flex-1">
      <template #body>
        <order-form :form-type="$store.state.formType.update" />
      </template>
    </app-wrapper>
  </perfect-scrollbar>
</template>

<script>
import OrderForm from "./components/OrderForm"

export default {
  name: "CreateOrderUpdate",
  components: {
    OrderForm
  }
}
</script>
