<template>
  <div class="create-order-view pa-4">
    <order-form :form-type="this.$store.state.formType.create" />
  </div>
</template>

<script>
import OrderForm from "./components/OrderForm"

export default {
  name: "CreateOrder",
  components: {
    OrderForm
  }
}
</script>
