<template>
  <div class="d-flex flex-column p-relative">
    <app-loader v-if="getLoading" full-width :size="58" />

    <template v-else>
      <div class="d-flex flex-column h-100 bg-4 rounded-20 pa-1 overflow-hidden h-100">
        <perfect-scrollbar class="d-flex flex-column flex-1 h-100">
          <app-table
            :table-width="1700"
          >
            <template #tableHeader>
              <th>{{$t('document-flow.views.boxes.level')}}</th>
              <th>{{$t('document-flow.views.boxes.journal')}}</th>
              <th>{{$t('document-flow.views.boxes.document')}}</th>
              <th>{{$t('document-flow.views.boxes.registration-number')}}</th>
              <th>{{$t('document-flow.views.boxes.type')}}</th>
              <th width="400">{{$t('document-flow.views.boxes.correspondent')}}</th>
              <th>{{$t('document-flow.views.boxes.document-created-date')}}</th>
              <th>{{$t('document-flow.views.boxes.performers')}}</th>
            </template>

            <template #tableBody>
              <template v-if="getAssignmentGetOne.length">
                <tr
                  v-for="document in getAssignmentGetOne"
                  :key="document.id"
                  :class="document.document.condition === 'performed'
                    ? 'secondary-2'
                    : document.document.condition === 'overdue_performed'
                    ? 'secondary-4'
                    : document.document.condition === 'three_days_left'
                    ? 'secondary-3'
                    : document.document.condition === 'overdue'
                    ? 'secondary-5'
                    : ''
                  "
                >
                  <td>
                    <router-link
                      :to="{
                        name: document.type === 'assignment'
                        ? 'InboxResolutionUpdate'
                        : document.type === 'control_point'
                        ? 'InboxControlPointUpdate'
                        : 'InboxForInformationUpdate',
                        params: {
                          id: document.id,
                          type: document.document.journal.id
                        }
                      }"
                      class="text-decoration-none"
                    >
                      <div class="level-block p-relative">
                        <div
                          class="level-block__before p-absolute rounded-20"
                          :class="[
                            {'error-bg': document.document.priority === 'high'},
                            {'error-bg': document.document.priority === 'critical'},
                            {'warning-bg': document.document.priority === 'medium'},
                            {'success-bg': document.document.priority === 'low'},
                          ]"
                        ></div>
                        <span
                          class="font-500"
                          :class="[
                            {'error-text': document.document.priority === 'high'},
                            {'error-text': document.document.priority === 'critical'},
                            {'warning-text': document.document.priority === 'medium'},
                            {'success-text': document.document.priority === 'low'},
                          ]"
                          style="font-size: 13px"
                        >
                          {{ document.__priorityText }}
                        </span>
                      </div>
                    </router-link>
                  </td>
                  <td>
                    <router-link
                      :to="{
                        name: document.type === 'assignment'
                        ? 'InboxResolutionUpdate'
                        : document.type === 'control_point'
                        ? 'InboxControlPointUpdate'
                        : 'InboxForInformationUpdate',
                        params: {
                          id: document.id,
                          type: document.document.journal.id
                        }
                      }"
                      class="text-decoration-none text-dark font-500"
                    >
                      <span class="text-dark font-500">{{ document.document.journal.name }}</span>

<!--                      <v-chip-->
<!--                        color="var(&#45;&#45;secondary-3)"-->
<!--                        text-color="white"-->
<!--                        style="font-size: 12px"-->
<!--                      >-->
<!--                        <span class="warning-text font-500">{{ document.document.journal.name }}</span>-->
<!--                      </v-chip>-->
                    </router-link>
                  </td>
                  <td>
                    <router-link
                      :to="{
                        name: document.type === 'assignment'
                        ? 'InboxResolutionUpdate'
                        : document.type === 'control_point'
                        ? 'InboxControlPointUpdate'
                        : 'InboxForInformationUpdate',
                        params: {
                          id: document.id,
                          type: document.document.journal.id
                        }
                      }"
                      class="text-decoration-none text-dark font-500"
                    >
                      <span class="text-dark font-500">{{ document.document.doc_type.name }}</span>

<!--                      <v-chip-->
<!--                        color="var(&#45;&#45;secondary-2)"-->
<!--                        text-color="white"-->
<!--                        style="font-size: 12px"-->
<!--                      >-->
<!--                        <span class="success-text font-500">{{ document.document.doc_type.name }}</span>-->
<!--                      </v-chip>-->
                    </router-link>
                  </td>
                  <td>
                    <router-link
                      :to="{
                        name: document.type === 'assignment'
                        ? 'InboxResolutionUpdate'
                        : document.type === 'control_point'
                        ? 'InboxControlPointUpdate'
                        : 'InboxForInformationUpdate',
                        params: {
                          id: document.id,
                          type: document.document.journal.id
                        }
                      }"
                      class="text-decoration-none text-dark font-500"
                    >
                      <span class="text-dark font-500">{{ document.document.register_number }}</span>
                    </router-link>
                  </td>
                  <td>
                    <router-link
                      :to="{
                        name: document.type === 'assignment'
                        ? 'InboxResolutionUpdate'
                        : document.type === 'control_point'
                        ? 'InboxControlPointUpdate'
                        : 'InboxForInformationUpdate',
                        params: {
                          id: document.id,
                          type: document.document.journal.id
                        }
                      }"
                      class="text-decoration-none text-dark font-500"
                    >
                      <span class="text-dark font-500">{{ document.type === "assignment" ? $t('document-flow.views.boxes.assignment') : document.type === "control_point" ? $t('document-flow.views.boxes.check-point') : $t('document-flow.views.boxes.type-not-selected') }}</span>
<!--                      <v-chip-->
<!--                        color="var(&#45;&#45;secondary-4)"-->
<!--                        text-color="white"-->
<!--                        style="font-size: 12px"-->
<!--                      >-->
<!--                        <span class="error-text font-500">-->
<!--                          {{ document.type === "assignment"-->
<!--                          ? $t('document-flow.views.boxes.assignment')-->
<!--                          : document.type === "control_point"-->
<!--                            ? $t('document-flow.views.boxes.check-point')-->
<!--                            : $t('document-flow.views.boxes.type-not-selected')-->
<!--                          }}-->
<!--                        </span>-->
<!--                      </v-chip>-->
                    </router-link>
                  </td>
                  <td>
                    <router-link
                      :to="{
                        name: document.type === 'assignment'
                        ? 'InboxResolutionUpdate'
                        : document.type === 'control_point'
                        ? 'InboxControlPointUpdate'
                        : 'InboxForInformationUpdate',
                        params: {
                          id: document.id,
                          type: document.document.journal.id
                        }
                      }"
                      class="text-decoration-none text-dark font-500"
                    >
                      {{ document.document.correspondent && document.document.correspondent.organization_name }}
                    </router-link>
                  </td>
                  <td>
                    <router-link
                      :to="{
                        name: document.type === 'assignment'
                        ? 'InboxResolutionUpdate'
                        : document.type === 'control_point'
                        ? 'InboxControlPointUpdate'
                        : 'InboxForInformationUpdate',
                        params: {
                          id: document.id,
                          type: document.document.journal.id
                        }
                      }"
                      class="text-decoration-none text-dark font-500"
                    >
                      <app-avatar-group list-type="agreed" :avatar-list="[{user: document.created_by}]" />
                    </router-link>
                  </td>
                  <td>
                    <router-link
                      :to="{
                        name: document.type === 'assignment'
                        ? 'InboxResolutionUpdate'
                        : document.type === 'control_point'
                        ? 'InboxControlPointUpdate'
                        : 'InboxForInformationUpdate',
                        params: {
                          id: document.id,
                          type: document.document.journal.id
                        }
                      }"
                      class="text-decoration-none text-dark font-500"
                    >
                      <app-avatar-group list-type="agreed" :avatar-list="document.assignment" />
                    </router-link>
                  </td>
                </tr>
              </template>

              <template v-else>
                <tr>
                  <td colspan="10">
                    <p class="heading-9 font-500 mb-0 text-center py-4">
                      {{$t('document-flow.views.boxes.nothing-yet')}}
                    </p>
                  </td>
                </tr>
              </template>
            </template>
          </app-table>
        </perfect-scrollbar>
      </div>
    </template>

    <app-pagination @emit:up="paginate" class="mt-3" />
  </div>
</template>

<script>
import { mapActions, mapGetters, mapState } from "vuex";

export default {
  name: "CreatedResolutionsList",
  computed: {
    ...mapState({
      filteredState: state => state.headerFilter.filteredState,
      filterPagination: state => state.headerFilter.pagination,
    }),
    /*
    *
    * */
    ...mapGetters({
      getLoading: "getLoading",
      getAssignmentGetOne: "documentFlowModule/getInboxListCreateBy"
    })
  },
  created() {
    this.fetchInboxListCreateBy()
  },
  methods: {
    ...mapActions({
      fetchInboxListCreateBy: "documentFlowModule/fetchInboxListCreateBy",
    }),
    /*
    *
    * */
    paginate(value) {
      let query = { ...this.filteredState, page: value }
      this.filterPagination.page = value

      this.$router.replace({
        query: query
      }).catch(() => {})

      this.fetchInboxListCreateBy({
        page: value
      })
    }
  }
}
</script>
