<template>
  <div class="resolution-assignment-view">
    <div class="app-input my-8">
      <span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.boxes.content')}}</span>

      <!--      <pre>{{ assignmentGetOne }}</pre>-->

      <quill-editor
        v-model="$v.resolutionFormModel.content.$model"
        :error="$v.resolutionFormModel.content.$error"
      />
    </div>

    <v-tabs
      v-model="tab"
      hide-slider
      centered
      background-color="primary"
      class="rounded-lg mb-6"
    >
      <v-tab>
        {{$t('document-flow.views.boxes.order-for-employees')}}
      </v-tab>
      <v-tab>
        {{$t('document-flow.views.boxes.order-for-branches')}}
      </v-tab>
    </v-tabs>

    <v-tabs-items v-model="tab">
      <v-tab-item>
        <v-row>
<!--          <v-col md="4">-->
<!--            <div class="app-input">-->
<!--              <span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.boxes.period-for-execution')}}</span>-->

<!--              <app-date-picker-->
<!--                v-model="addUserModel.deadline"-->
<!--                with-input-->
<!--                dense-->
<!--              />-->
<!--            </div>-->
<!--          </v-col>-->

          <v-col md="9">
            <div class="app-input">
              <span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.boxes.search-employees')}}</span>

              <app-autocomplete
                v-model="$v.addUserModel.userSearchModel.$model"
                :error="$v.addUserModel.userSearchModel.$error"
                :item-disabled="getDisableItems"
                :api-list-url="categoryUserList"
                item-text="full_name"
                return-object
                cache-items
                dense
                multiple
                background-color="var(--input-bg)"
                group-staff-visible
              />
            </div>
          </v-col>

          <v-col md="3" align-self="end">
            <app-button @click="addUser(addUserModel)" block>
              <template #prepend>
                <plus-circle-icon size="20" />
              </template>

              {{$t('document-flow.views.boxes.add')}}
            </app-button>
          </v-col>
        </v-row>

        <app-table
          :table-width="500"
          class="mt-8"
        >
          <template #tableHeader>
            <th>{{$t('document-flow.views.boxes.appointed')}}</th>
            <th width="125">{{$t('document-flow.views.boxes.action')}}</th>
          </template>
          <template #tableBody>
            <tr v-for="(assignment, index) in resolutionFormModel.assignment" :key="assignment.id">
              <!--							<td>-->
              <!--								<v-checkbox-->
              <!--									@click="setUserResponsible(assignment)"-->
              <!--									hide-details-->
              <!--									class="ma-0"-->
              <!--								></v-checkbox>-->
              <!--							</td>-->
              <td>{{ assignment.__user.full_name }}</td>
              <td>
                <div class="d-flex align-center" style="width: 90px">
                  <app-button
                    @click="deleteUser(index)"
                    min-width="43"
                    width="43px"
                    color="var(--primary-4)"
                    icon
                  >
                    <template #prepend>
                      <trash2-icon size="18" />
                    </template>
                  </app-button>
                </div>
              </td>
            </tr>
          </template>
        </app-table>
      </v-tab-item>

      <v-tab-item>
        <h4 class="font-500 text-center">{{$t('document-flow.views.boxes.section-is-unavailable')}}</h4>
      </v-tab-item>
    </v-tabs-items>

    <app-button @click="send" :loading="loading" class="mt-8">
      <template #prepend>
        <plus-circle-icon size="20" />
      </template>

      {{$t('document-flow.views.boxes.create-pivot')}}
    </app-button>
  </div>
</template>

<script>
import AppAutocomplete from "@/common/components/base/AppAutocomplete";

import { TABLE_HEAD_TEXT_LIST } from "@/common/constants";
import { selectFromList } from "@/common/helpers";

import { PlusCircleIcon, Trash2Icon } from "vue-feather-icons";
import { required } from "vuelidate/lib/validators";
import { mapActions, mapGetters } from "vuex";

export default {
  name: "ForInformation",
  components: {
    AppAutocomplete,
    PlusCircleIcon,
    Trash2Icon
  },
  data() {
    return {
      tab: null,
      addUserModel: {
        userSearchModel: null,
        deadline: null,
      },
      resolutionFormModel: {
        id: null,
        review: null,
        content: null,
        type: "for_information",
        controller: null,
        parent: null,
        assignment: []
      },
      loading: false
    }
  },
  validations: {
    resolutionFormModel: {
      content: { required }
    },
    addUserModel: {
      userSearchModel: { required }
    }
  },
  computed: {
    ...mapGetters({
      getDisableItems: "getDisableItems",
      currentUser: "auth/getCurrentUser",
      assignmentGetOne: "documentFlowModule/getAssignmentGetOne"
    }),
    /*
    *
    * */
    filesTableHeaders() {
      return selectFromList([26, 19], TABLE_HEAD_TEXT_LIST)
    },
    /*
    *
    * */
    categoryUserList() {
      return `/${this.$store.getters['auth/getCurrentUser'].filial}/user/lists/by_category/`
    },
    /*
    *
    * */
    currentUserAssignment() {
      return this.assignmentGetOne.assignment.find(assignment => assignment.user.id === this.currentUser.id)
    },
  },
  methods: {
    ...mapActions({
      fetchAssignUsersToResolution: "documentFlowModule/fetchAssignUsersToResolution",
    }),
    /*
    *
    * */
    addUser({ userSearchModel, deadline }) {
      this.$v.addUserModel.$touch();

      if (this.$v.addUserModel.$invalid) {
        return;
      }

      userSearchModel.forEach(user => {
        this.resolutionFormModel.assignment.push({
          user: user.id,
          is_responsible: false,
          parent: this.assignmentGetOne.assignment.find(assignment => assignment.user.id === this.currentUser.id).id,
          __user: user
        })
      })

      // this.resolutionFormModel.assignment.push({
      //   user: userSearchModel.id,
      //   is_responsible: false,
      //   __user: userSearchModel
      // })

      if(this.resolutionFormModel.assignment.length === 1) {
        this.resolutionFormModel.assignment[0].is_responsible = true
      }

      // Сбрасываем поля
      this.addUserModel.userSearchModel = null
      this.$v.$reset();
    },
    /*
    *
    * */
    setUserResponsible(assignment) {
      assignment.is_responsible = !assignment.is_responsible
    },
    /*
    *
    * */
    deleteUser(index) {
      if(!confirm(this.$t('document-flow.views.boxes.delete-user-confirmation'))) {
        return;
      }

      this.resolutionFormModel.assignment.splice(index, 1)
    },
    /*
    *
    * */
    send() {
      this.$v.resolutionFormModel.$touch();

      if (this.$v.resolutionFormModel.$invalid) {
        return;
      }

      if(!this.resolutionFormModel.assignment.length) {
        this.$toast.error(this.$t('document-flow.views.boxes.one-employee-must'))
        this.$v.addUserModel.$touch();

        return;
      }

      this.loading = !this.loading

      let model = {
        ...this.resolutionFormModel,
        review: this.assignmentGetOne.review,
        parent: this.currentUserAssignment.assignment
      }

      console.log('RESOLUTION', model);

      this.fetchAssignUsersToResolution({
        model,
        treeId: this.assignmentGetOne.document.id
      })
        .then(() => {
          this.$toast.success(this.$t('document-flow.views.boxes.assignment-created'))

          this.loading = false

          this.$router.push({
            name: "InboxFormShow"
          })
        })
    }
  }
}
</script>
