<template>
  <div class="resolution-update-view">
    <div class="d-flex align-center w-100 mb-6">
      <span class="heading-9 font-600 text-dark mr-3 d-block">{{$t('document-flow.views.boxes.edit-pivot')}}</span>
      <v-divider />
    </div>

    <div class="app-input my-8">
      <span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.boxes.content')}}</span>

      <!--      <pre>{{ assignmentGetOne }}</pre>-->

      <v-textarea
        v-model="$v.resolutionFormModel.content.$model"
        :error="$v.resolutionFormModel.content.$error"
        outlined
        hide-details
        no-resize
        auto-grow
        background-color="var(--input-bg)"
      ></v-textarea>
    </div>

    <v-row>
      <v-col md="9">
        <div class="app-input">
          <span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.boxes.search-employees')}}</span>

          <app-autocomplete
            v-model="$v.addUserModel.userSearchModel.$model"
            :error="$v.addUserModel.userSearchModel.$error"
            :api-list-url="categoryUserList"
            :item-disabled="getDisableItems"
            item-text="full_name"
            return-object
            cache-items
            dense
            background-color="var(--input-bg)"
            group-staff-visible
          />
        </div>
      </v-col>

      <v-col md="3" align-self="end">
        <app-button @click="addUser(addUserModel)" block>
          <template #prepend>
            <plus-circle-icon size="20" />
          </template>

          {{$t('document-flow.views.boxes.add')}}
        </app-button>
      </v-col>
    </v-row>

    <app-table
      :table-width="500"
      class="mt-8"
    >
      <template #tableHeader>
        <th>{{$t('document-flow.views.boxes.appointed')}}</th>
        <th width="125">{{$t('document-flow.views.boxes.action')}}</th>
      </template>
      <template #tableBody>
        <tr v-for="(assignment, index) in getAssignmentUsersList" :key="assignment.id">
          <td>{{assignment.user.full_name }}</td>
          <td>
            <div class="d-flex align-center" style="width: 90px">
              <app-button
                @click="deleteUser(index, assignment.id)"
                min-width="43"
                width="43px"
                color="var(--primary-4)"
                icon
              >
                <template #prepend>
                  <trash2-icon size="18" />
                </template>
              </app-button>
            </div>
          </td>
        </tr>
      </template>
    </app-table>

    <app-button @click="send" :loading="loading" class="mt-8">
      <template #prepend>
        <plus-circle-icon size="20" />
      </template>
      {{$t('document-flow.views.boxes.change-assignment')}}
    </app-button>
  </div>
</template>

<script>
import AppAutocomplete from "@/common/components/base/AppAutocomplete";

import { TABLE_HEAD_TEXT_LIST } from "@/common/constants";
import { selectFromList } from "@/common/helpers";

import { PlusCircleIcon, Trash2Icon } from "vue-feather-icons";
import { required } from "vuelidate/lib/validators";
import { mapActions, mapGetters } from "vuex";

export default {
  name: "ForInformationUpdate",
  components: {
    AppAutocomplete,
    PlusCircleIcon,
    Trash2Icon
  },
  data() {
    return {
      addUserModel: {
        userSearchModel: null
      },
      resolutionFormModel: {
        id: null,
        review: null,
        content: null,
        type: "for_information",
        controller: null,
        parent: null,
        assignment: []
      },
      loading: false
    }
  },
  validations: {
    resolutionFormModel: {
      content: { required }
    },
    addUserModel: {
      userSearchModel: { required }
    }
  },
  computed: {
    ...mapGetters({
      getDisableItems: "getDisableItems",
      currentUser: "auth/getCurrentUser",
      assignmentGetOne: "documentFlowModule/getAssignmentGetOne",
      getAssignmentUsersList: "documentFlowModule/getAssignmentUsersList"
    }),
    /*
    *
    * */
    filesTableHeaders() {
      return selectFromList([26, 25, 19], TABLE_HEAD_TEXT_LIST)
    },
    /*
    *
    * */
    categoryUserList() {
      return `/${this.$store.getters['auth/getCurrentUser'].filial}/user/lists/by_category/`
    },
    /*
    *
    * */
    currentUserAssignment() {
      return this.assignmentGetOne.assignment.find(assignment => assignment.user.id === this.currentUser.id)
    },
  },
  mounted() {
    setTimeout(() => {
      this.resolutionFormModel.content = this.assignmentGetOne.content

      this.fetchAssignmentUsersList({
        params: {
          assignment: this.assignmentGetOne.id
        }
      })
    }, 1000)
  },
  methods: {
    ...mapActions({
      fetchAssignmentUsersList: "documentFlowModule/fetchAssignmentUsersList",
      fetchAssignmentUsersPost: "documentFlowModule/fetchAssignmentUsersPost",
      fetchAssignmentUserDelete: "documentFlowModule/fetchAssignmentUserDelete",
      fetchAssignmentUpdateById: "documentFlowModule/fetchAssignmentUpdateById",
    }),
    /*
    *
    * */
    addUser({ userSearchModel }) {
      this.$v.addUserModel.$touch();

      if (this.$v.addUserModel.$invalid) {
        return;
      }

      let model = {
        user: userSearchModel.id,
        is_responsible: false,
        assignment: this.assignmentGetOne.id,
      }

      // if(this.getAssignmentUsersList.length === 1) {
      //   this.getAssignmentUsersList[0].is_responsible = true
      // }

      this.fetchAssignmentUsersPost({
        model: model,
        treeId: this.assignmentGetOne.document.id
      })
        .then((data) => {
          this.getAssignmentUsersList.push(data)
          this.$toast.success(this.$t('document-flow.views.boxes.new-user-added'))
        })

      // Сбрасываем поля
      this.addUserModel.userSearchModel = this.addUserModel.deadline = null
      this.$v.$reset();
    },
    /*
    *
    * */
    deleteUser(index, id) {
      if(!confirm(this.$t('document-flow.views.boxes.delete-user-confirmation'))) {
        return;
      }

      this.getAssignmentUsersList.splice(index, 1)

      this.fetchAssignmentUserDelete({
        id: id,
        treeId: this.assignmentGetOne.document.id
      })
        .then(() => {
          this.$toast.success(this.$t('document-flow.views.boxes.user-deleted'))
        })
    },
    /*
    *
    * */
    send() {
      this.$v.resolutionFormModel.$touch();

      if (this.$v.resolutionFormModel.$invalid) {
        return;
      }

      if(!confirm(this.$t('document-flow.views.boxes.change-pivot-confirmation'))) {
        return;
      }

      this.loading = !this.loading

      let model = {
        review: this.assignmentGetOne.review,
        content: this.resolutionFormModel.content,
        type: this.assignmentGetOne.type,
      }

      this.fetchAssignmentUpdateById({
        id: this.assignmentGetOne.id,
        model
      })
        .then(() => {
          this.$toast.success(this.$t('document-flow.views.boxes.assignment-changed'))

          this.loading = false

          this.$router.push({
            name: "InboxCreatedResolutionsList"
          })
        })
    }
  }
}
</script>
