<template>
  <grid-kanban>
    <!-- TO DO -->
    <template #todo>
      <template>
        <router-link
          :key="item.id"
          v-for="(item, index) in getInboxListToDo"
          :to="{
            name: 'InboxFormShow',
            params: {
              id: item.id,
              type: item.document.journal.id
            }
          }"
          :class="getInboxListToDo.length - 1 !== index ? 'mb-3' : ''"
          class="list-group-item text-decoration-none d-block"
        >
          <grid-card
            :title="item.document.correspondent && item.document.correspondent.organization_name"
            :index="index + 1"
            :header-color="item.document.priority"
          >
            <review-grid-card-body
              :item="{
                item,
                journal: item.document.journal,
                doc_type: item.document.doc_type,
                type: item.type,
                priority: item.document.priority,
                deadline: item.assignment.find(assignment => assignment.user.id === currentUser.id),
                created_by: [{ user: item.created_by }],
                review_users: item.document.review_users,
                __status: item.__status,
                __priorityText: item.__priorityText,
                __documentId: item.id
              }"
              :column-state="getInboxListToDo"
              status-change-api-url="inbox"
            >
            </review-grid-card-body>
          </grid-card>
        </router-link>
      </template>

      <div
        v-if="getInboxListToDo.length >= 15"
        class="infinite-scroll-area pa-4"
        v-intersect="{
          handler: toDoIntersect,
          options: {
            threshold: [0, 1.0, 1.0]
          }
        }"
      >
      </div>
    </template>
    <!-- END TO DO -->

    <!-- IN PROGRESS -->
    <template #inprogress>
      <template >
        <router-link
          v-for="(item, index) in getInboxListInProgress"
          :key="item.id"
          :to="{
            name: 'InboxFormShow',
            params: {
              id: item.id,
              type: item.document.journal.id
            }
          }"
          :class="getInboxListInProgress.length - 1 !== index ? 'mb-3' : ''"
          class="list-group-item text-decoration-none d-block"
        >
          <grid-card
            :title="item.document.correspondent && item.document && item.document.correspondent.organization_name"
            :index="index + 1"
            :header-color="item.document && item.document.priority"
          >
            <review-grid-card-body
              :item="{
                item,
                journal: item.document.journal,
                doc_type: item.document.doc_type,
                type: item.type,
                priority: item.document.priority,
                deadline: item.assignment.find(assignment => assignment.user.id === currentUser.id),
                created_by: [{ user: item.created_by }],
                review_users: item.document.review_users,
                __status: item.__status,
                __priorityText: item.__priorityText,
                __documentId: item.id
              }"
              :column-state="getInboxListInProgress"
              status-change-api-url="inbox"
            >
            </review-grid-card-body>
          </grid-card>
        </router-link>
      </template>

      <div
        v-if="getInboxListInProgress.length >= 15"
        class="infinite-scroll-area pa-4"
        v-intersect="{
          handler: inProgressIntersect,
          options: {
            threshold: [0, 1.0, 1.0]
          }
        }"
      >
      </div>
    </template>
    <!-- END IN PROGRESS -->

    <!-- ON HOLD -->
    <template #hold>
      <template >
        <router-link
          v-for="(item, index) in getInboxListOnHold"
          :key="item.id"
          :to="{
            name: 'InboxFormShow',
            params: {
              id: item.id,
              type: item.document.journal.id
            }
          }"
          :class="getInboxListOnHold.length - 1 !== index ? 'mb-3' : ''"
          class="list-group-item text-decoration-none d-block"
        >
          <grid-card
            :title="item.document.correspondent && item.document.correspondent.organization_name"
            :index="index + 1"
            :header-color="item.document.priority"
          >
            <review-grid-card-body
              :item="{
                item,
                journal: item.document.journal,
                doc_type: item.document.doc_type,
                type: item.type,
                priority: item.document.priority,
                deadline: item.assignment.find(assignment => assignment.user.id === currentUser.id),
                created_by: [{ user: item.created_by }],
                review_users: item.document.review_users,
                __status: item.__status,
                __priorityText: item.__priorityText,
                __documentId: item.id
              }"
              :column-state="getInboxListOnHold"
              status-change-api-url="inbox"
            >
            </review-grid-card-body>
          </grid-card>
        </router-link>
      </template>

      <div
        v-if="getInboxListOnHold.length >= 15"
        class="infinite-scroll-area pa-4"
        v-intersect="{
          handler: onHoldIntersect,
          options: {
            threshold: [0, 1.0, 1.0]
          }
        }"
      >
      </div>
    </template>
    <!-- END ON HOLD -->

    <!-- DONE -->
    <template #done>
      <template >
        <router-link
          :key="item.id"
          v-for="(item, index) in getInboxListDone"
          :to="{
            name: 'InboxFormShow',
            params: {
              id: item.id,
              type: item.document.journal.id
            }
          }"
          :class="getInboxListDone.length - 1 !== index ? 'mb-3' : ''"
          class="list-group-item text-decoration-none d-block"
        >
          <grid-card
            :title="item.document.correspondent && item.document.correspondent.organization_name"
            :index="index + 1"
            :header-color="item.document.priority"
          >
            <review-grid-card-body
              :item="{
                item,
                journal: item.document.journal,
                doc_type: item.document.doc_type,
                type: item.type,
                priority: item.document.priority,
                deadline: item.assignment.find(assignment => assignment.user.id === currentUser.id),
                created_by: [{ user: item.created_by }],
                review_users: item.document.review_users,
                __status: item.__status,
                __priorityText: item.__priorityText,
                __documentId: item.id
              }"
              :column-state="getInboxListDone"
              status-change-api-url="inbox"
            >
            </review-grid-card-body>
          </grid-card>
        </router-link>
      </template>

      <div
        v-if="getInboxListDone.length >= 15"
        class="infinite-scroll-area pa-4"
        v-intersect="{
          handler: doneIntersect,
          options: {
            threshold: [0, 1.0, 1.0]
          }
        }"
      >
      </div>
    </template>
    <!-- END DONE -->
  </grid-kanban>
</template>

<script>
import GridCard from "@/common/components/GridCard"
import GridKanban from "@/common/components/GridKanban"
import ReviewGridCardBody from "@/modules/DocumentFlow/components/ReviewGridCardBody"

import { mapActions, mapGetters, mapMutations } from "vuex"

export default {
	name: "GridType",
  components: {
    GridKanban,
    GridCard,
    ReviewGridCardBody
  },
  computed: {
    ...mapGetters({
      currentUser: "auth/getCurrentUser",
      getInboxListToDo: "documentFlowModule/getInboxListToDo",
      getInboxListInProgress: "documentFlowModule/getInboxListInProgress",
      getInboxListOnHold: "documentFlowModule/getInboxListOnHold",
      getInboxListDone: "documentFlowModule/getInboxListDone"
    }),
  },
  data() {
    return {
      todoColumnPage: 1,
      inProgressColumnPage: 1,
      onHoldColumnPage: 1,
      doneColumnPage: 1,
    }
  },
  created() {
    this.fetchInboxListToDo()
    this.fetchInboxListInProgress()
    this.fetchInboxListOnHold()
    this.fetchInboxListDone()
  },
  beforeDestroy() {
    this.CLEAR_DOCUMENT_LIST()
  },
  methods: {
    ...mapMutations({
      CLEAR_DOCUMENT_LIST: "documentFlowModule/CLEAR_DOCUMENT_LIST"
    }),
    /*
    *
    * */
    ...mapActions({
      fetchInboxListToDo: "documentFlowModule/fetchInboxListToDo",
      fetchInboxListInProgress: "documentFlowModule/fetchInboxListInProgress",
      fetchInboxListOnHold: "documentFlowModule/fetchInboxListOnHold",
      fetchInboxListDone: "documentFlowModule/fetchInboxListDone",
    }),
    /*
    *
    * */
    toDoIntersect(entries) {
      if(entries[0].intersectionRatio >= 0.5) {
        this.fetchInboxListToDo({
          page: ++this.todoColumnPage
        })
      }
    },
    /*
    *
    * */
    inProgressIntersect(entries) {
      if(entries[0].intersectionRatio >= 0.5) {
        this.fetchInboxListInProgress({
          page: ++this.inProgressColumnPage
        })
      }
    },
    /*
    *
    * */
    onHoldIntersect(entries) {
      if(entries[0].intersectionRatio >= 0.5) {
        this.fetchInboxListOnHold({
          page: ++this.onHoldColumnPage
        })
      }
    },
    /*
    *
    * */
    doneIntersect(entries) {
      if(entries[0].intersectionRatio >= 0.5) {
        this.fetchInboxListDone({
          page: ++this.doneColumnPage
        })
      }
    }
  }
}
</script>
