<template>
	<div class="d-flex flex-column align-start flex-1 pa-4">
		<div class="d-flex align-center w-100 mb-6">
			<span class="heading-9 font-600 text-dark mr-3 d-block">{{
				formTitle
			}}</span>
			<v-divider />
		</div>

		<!--    <div class="d-flex">-->
		<!--      <pre class="mr-10">{{ assignmentGetOne.document.journal }}</pre>-->
		<!--      <pre>{{ $route.params }}</pre>-->
		<!--    </div>-->

		<div class="w-100 mb-auto">
			<div class="d-flex flex-wrap mb-8 grid-gap-sm">
				<template v-if="$route.query.route === 'control'">
					<app-button
						color="error"
						:to="{
							name: 'ControlIndex',
							query: activeFilteredControl
						}"
					>
						<template #prepend>
							<arrow-left-icon size="18" />
						</template>
						<template>
							{{ $t("document-flow.views.boxes.back") }}
						</template>
					</app-button>
				</template>

				<template v-else>
					<app-button
						color="error"
						:to="{
							name: 'InboxIndex',
							query: activeFiltered
						}"
					>
						<template #prepend>
							<arrow-left-icon size="18" />
						</template>
						<template>
							{{ $t("document-flow.views.boxes.back") }}
						</template>
					</app-button>
				</template>

				<!-- Если зашел контролирующий -->
				<template
					v-if="
						(assignmentGetOne.controller &&
							assignmentGetOne.controller.id) !== currentUser.id
					"
				>
					<app-button
						:to="{ name: 'InboxResolutionView' }"
						:disabled="!currentUserAssignment.is_read"
					>
						<template #default>
							{{ $t("document-flow.views.boxes.create-resolution") }}
						</template>
					</app-button>

					<app-button
						v-if="!currentUserAssignment.is_performed"
						:disabled="!currentUserAssignment.is_read"
						:to="{ name: 'CompletionNote' }"
					>
						<template #default>
							{{ $t("document-flow.views.boxes.completion-mark") }}
						</template>
					</app-button>

					<app-button
						v-else
						color="warning"
						:to="{ name: 'CompletionNoteEdit' }"
					>
						<template #default>
							{{ $t("document-flow.views.boxes.change-performance") }}
						</template>
					</app-button>
				</template>

				<template v-else>
					<!-- Снять с контроля -->
					<template v-if="assignmentGetOne.type === 'control_point'">
						<app-button
							v-if="!assignmentGetOne.take_control_note"
							:to="{ name: 'RemoveFromControl' }"
						>
							<template #prepend>
								<unlock-icon size="18" />
							</template>
							<template #default>
								{{
									$t("document-flow.views.boxes.remove-from-control")
								}}
							</template>
						</app-button>
					</template>
					<!-- /Снять с контроля -->
				</template>
				<!-- /Если зашел контролирующий -->

				<v-menu offset-y min-width="250" :close-on-content-click="false">
					<template v-slot:activator="{ on, attrs }">
						<v-btn
							color="rgba(187, 187, 187, 1)"
							dark
							v-bind="attrs"
							v-on="on"
							outlined
							class="ml-auto"
						>
							<div class="d-flex align-center">
								<more-vertical-icon size="20" class="mr-2" />

								<span class="text-dark pr-1">{{
									$t("document-flow.views.boxes.more")
								}}</span>
							</div>
						</v-btn>
					</template>

					<v-list dense>
						<!-- Создать приказ -->
						<v-list-item
							v-if="
								assignmentGetOne.document &&
								assignmentGetOne.document.journal &&
								(assignmentGetOne.document.journal.id === 7) || (assignmentGetOne.document.journal.id === 3)
							"
							:to="{ name: 'InboxCreateOrder' }"
							link
							class="border-bottom"
						>
							<v-list-item-title>
								<div class="d-flex align-center">
									<plus-circle-icon
										size="20"
										color="var(--text-6)"
										class="mr-5"
									/>

									<span class="font-500">{{
										$t("document-flow.views.boxes.create-order")
									}}</span>
								</div>
							</v-list-item-title>
						</v-list-item>
						<!-- Создать приказ -->

						<!--            <v-list-group-->
						<!--              prepend-icon="mdi-reply-outline"-->
						<!--              no-action-->
						<!--              class="more-button-action"-->
						<!--            >-->
						<!--              <template v-slot:activator>-->
						<!--                <v-list-item-title>-->
						<!--                  <div class="d-flex align-center">-->
						<!--                    <span class="font-500 small-2">{{$t("document-flow.views.boxes.answer")}}</span>-->
						<!--                  </div>-->
						<!--                </v-list-item-title>-->
						<!--              </template>-->

						<!--              <v-list-item-->
						<!--                class="py-0 px-12"-->
						<!--                v-if="assignmentGetOne.document&& assignmentGetOne.document.doc_type && assignmentGetOne.document.doc_type.type === 'doc_type' && assignmentGetOne.receipt_date"-->
						<!--                :disabled="!currentUserAssignment.is_read"-->
						<!--                link-->
						<!--                :to="{ name: 'SendingDocumentsCreate', query: { type: 'inner', register_date: assignmentGetOne.receipt_date, register_number: assignmentGetOne.register_number, reply_document_id: assignmentGetOne.document.id  } }"-->
						<!--              >-->
						<!--                <v-list-item-title>-->
						<!--                  <div class="d-flex align-center">-->
						<!--                    <span class="font-500">{{$t("document-flow.views.boxes.interior")}}</span>-->
						<!--                  </div>-->
						<!--                </v-list-item-title>-->
						<!--              </v-list-item>-->

						<!--              <v-list-item-->
						<!--                class="py-0 px-12"-->
						<!--                v-if="assignmentGetOne.document && assignmentGetOne.document.doc_type && assignmentGetOne.document.doc_type.type === 'doc_type' && assignmentGetOne.receipt_date"-->
						<!--                :disabled="!currentUserAssignment.is_read"-->
						<!--                link-->
						<!--                :to="{ name: 'SendingDocumentsCreate', query: { type: 'outgoing', register_date: assignmentGetOne.receipt_date, register_number: assignmentGetOne.register_number, reply_document_id: assignmentGetOne.document.id } }"-->
						<!--              >-->
						<!--                <v-list-item-title>-->
						<!--                  <div class="d-flex align-center">-->
						<!--                    <span class="font-500">{{$t("document-flow.views.boxes.outgoing")}}</span>-->
						<!--                  </div>-->
						<!--                </v-list-item-title>-->
						<!--              </v-list-item>-->
						<!--            </v-list-group>-->

						<!--CHANGE STATUS-->
						<status-change-modal
							api="assigment_users"
							:object-id="
								currentUserAssignment && currentUserAssignment.id
							"
							:current-status="
								assignmentGetOne &&
								assignmentGetOne.base_status &&
								assignmentGetOne.base_status.id
							"
							:document-id="assignmentGetOne && assignmentGetOne.__id"
							:is-document-read="currentUserAssignment.is_read"
              @emit:update:status="changeStatus"
						/>
						<!--/CHANGE STATUS-->
					</v-list>

					<!-- Answer to message -->
					<!--			      <v-list-item-->
					<!--				      v-if="assignmentGetOne.document.doc_type && assignmentGetOne.document.doc_type.type === 'doc_type' && assignmentGetOne.send_date"-->
					<!--				      link-->
					<!--				      :to="{ name: 'SendingDocumentsCreate', query: { type: 'inner', register_date: assignmentGetOne.send_date, register_number: assignmentGetOne.register_number } }"-->
					<!--			      >-->
					<!--				      <v-list-item-title>-->
					<!--					      <div class="d-flex align-center">-->
					<!--						      <v-icon class="mr-2">mdi-reply-outline</v-icon>-->

					<!--						      <span class="font-500">{{$t("document-flow.views.boxes.answer")}} 222</span>-->
					<!--					      </div>-->
					<!--				      </v-list-item-title>-->
					<!--			      </v-list-item>-->
				</v-menu>

				<!-- Ответить -->
				<v-menu offset-y min-width="250" :close-on-content-click="false">
					<template v-slot:activator="{ on, attrs }">
						<v-btn color="primary" depressed v-bind="attrs" v-on="on">
							<template #default>
								<div class="d-flex align-center">
									<span class="mr-2">{{$t("document-flow.views.boxes.reply-document")}}</span>
									<chevron-down-icon />
								</div>
							</template>
						</v-btn>
					</template>

					<v-list dense>
						<v-list-item
							v-if="
								assignmentGetOne.document &&
								assignmentGetOne.document.doc_type &&
								assignmentGetOne.document.doc_type.type ===
									'doc_type' &&
								assignmentGetOne.receipt_date
							"
							:disabled="!currentUserAssignment.is_read"
							link
							:to="{
								name: 'SendingDocumentsCreate',
								query: {
									type: 'inner',
									register_date: assignmentGetOne.receipt_date,
									register_number: assignmentGetOne.register_number,
									reply_document_id: assignmentGetOne.document.id,
								},
							}"
						>
							<v-list-item-title>
								<div class="d-flex align-center">
									<span class="font-500">{{$t("document-flow.views.boxes.interior")}}</span>
								</div>
							</v-list-item-title>
						</v-list-item>

						<v-list-item
							v-if="
								assignmentGetOne.document &&
								assignmentGetOne.document.doc_type &&
								assignmentGetOne.document.doc_type.type ===
									'doc_type' &&
								assignmentGetOne.receipt_date
							"
							:disabled="!currentUserAssignment.is_read"
							link
							:to="{
								name: 'SendingDocumentsCreate',
								query: {
									type: 'outgoing',
									register_date: assignmentGetOne.receipt_date,
									register_number: assignmentGetOne.register_number,
									reply_document_id: assignmentGetOne.document.id,
								},
							}"
						>
							<v-list-item-title>
								<div class="d-flex align-center">
									<span class="font-500">{{$t("document-flow.views.boxes.outgoing")}}</span>
								</div>
							</v-list-item-title>
						</v-list-item>
					</v-list>
				</v-menu>
			</div>
			<v-row>
				<template v-if="assignmentGetOne.take_control_note">
					<v-col md="12" class="py-0">
						<v-alert type="success" text>
							<div
								class="d-flex align-center justify-space-between small-2"
							>
								<span>{{
									$t(
										"document-flow.views.boxes.document-removed-control"
									)
								}}</span>

								<span>{{
									assignmentGetOne.take_control_date
										| filterCalendarToTime
								}}</span>
							</div>

							<span
								class="reset-space mt-2 d-block small-2"
								v-html="assignmentGetOne.take_control_note"
							></span>

							<a
								:href="assignmentGetOne.file_url"
								class="d-flex align-center mt-2"
								style="color: inherit"
								target="_blank"
							>
								<file-text-icon class="mr-3 mt-1" />

								<span class="flex-1 text-decoration-none small-2">
									{{ assignmentGetOne.file_url }}
								</span>
							</a>
						</v-alert>
					</v-col>
				</template>

				<v-col md="6">
					<div class="app-input">
						<span class="d-block font-600 small-2 mb-2">{{
							$t("document-flow.views.boxes.type-registration-document")
						}}</span>

						<v-text-field
							:value="
								assignmentGetOne.document &&
								assignmentGetOne.document.journal &&
								assignmentGetOne.journal.name
							"
							hide-details
							outlined
							readonly
							background-color="var(--input-bg)"
						></v-text-field>
					</div>
				</v-col>

				<template
					v-if="
						assignmentGetOne.document &&
						assignmentGetOne.document.journal &&
						assignmentGetOne.document.journal.id === 6
					"
				>
					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{
								$t("document-flow.views.boxes.document-name")
							}}</span>

							<v-text-field
								v-model="
									assignmentGetOne.document &&
									assignmentGetOne.document.title
								"
								hide-details
								outlined
								readonly
								background-color="var(--input-bg)"
							></v-text-field>
						</div>
					</v-col>
				</template>

				<v-col md="6">
					<div class="app-input">
						<span class="d-block font-600 small-2 mb-2">{{
							$t("document-flow.views.boxes.registration-number")
						}}</span>

						<v-text-field
							:value="assignmentGetOne.register_number"
							hide-details
							outlined
							readonly
							background-color="var(--input-bg)"
						></v-text-field>
					</div>
				</v-col>

				<template
					v-if="
						assignmentGetOne.document &&
						assignmentGetOne.document.journal &&
						assignmentGetOne.document.journal.id !== 6 &&
						assignmentGetOne.document.journal.id !== 7
					"
				>
					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{
								$t("document-flow.views.boxes.outgoing-number")
							}}</span>

							<v-text-field
								:value="assignmentGetOne.outgoing_number"
								hide-details
								outlined
								readonly
								background-color="var(--input-bg)"
							></v-text-field>
						</div>
					</v-col>
				</template>

				<v-col md="6">
					<div class="app-input">
						<span class="d-block font-600 small-2 mb-2">{{
							$t("document-flow.views.boxes.registration-date")
						}}</span>

						<app-date-picker
							v-model="assignmentGetOne.register_date"
							with-input
							disabledMenu
							background-color="var(--input-bg)"
						/>
					</div>
				</v-col>

				<template
					v-if="
						assignmentGetOne.document &&
						assignmentGetOne.document.journal &&
						assignmentGetOne.document.journal.id !== 6 &&
						assignmentGetOne.document.journal.id !== 7
					"
				>
					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{
								$t("document-flow.views.boxes.outgoing-date")
							}}</span>

							<app-date-picker
								:value="assignmentGetOne.outgoing_date"
								with-input
								disabledMenu
								background-color="var(--input-bg)"
							/>
						</div>
					</v-col>
				</template>

				<template
					v-if="
						assignmentGetOne.document &&
						assignmentGetOne.document.journal &&
						assignmentGetOne.document.journal.id !== 6
					"
				>
					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{
								$t("document-flow.views.boxes.correspondent")
							}}</span>

							<v-text-field
								:value="
									assignmentGetOne.correspondent &&
									assignmentGetOne.correspondent.organization_name
								"
								hide-details
								outlined
								readonly
								background-color="var(--input-bg)"
							></v-text-field>
						</div>
					</v-col>
				</template>

				<template
					v-if="
						assignmentGetOne.document &&
						assignmentGetOne.document.journal &&
						assignmentGetOne.document.journal.id === 7
					"
				>
					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{
								$t("document-flow.views.boxes.author")
							}}</span>

							<v-text-field
								v-model="
									assignmentGetOne.document &&
									assignmentGetOne.document.author &&
									assignmentGetOne.document.author.full_name
								"
								hide-details
								outlined
								readonly
								background-color="var(--input-bg)"
							></v-text-field>
						</div>
					</v-col>
				</template>

				<v-col md="6">
					<div class="app-input">
						<span class="d-block font-600 small-2 mb-2">{{
							$t("document-flow.views.boxes.document-type")
						}}</span>

						<v-text-field
							:value="
								assignmentGetOne.document &&
								assignmentGetOne.document.doc_type &&
								assignmentGetOne.document.doc_type.name
							"
							hide-details
							outlined
							readonly
							background-color="var(--input-bg)"
						></v-text-field>
					</div>
				</v-col>

				<template
					v-if="
						assignmentGetOne.document &&
						assignmentGetOne.document.journal &&
						assignmentGetOne.document.journal.id === 6
					"
				>
					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{
								$t("document-flow.views.boxes.journal")
							}}</span>

							<v-text-field
								:value="
									assignmentGetOne.document &&
									assignmentGetOne.document.sub_journal &&
									assignmentGetOne.document.sub_journal.name
								"
								hide-details
								outlined
								readonly
								background-color="var(--input-bg)"
							></v-text-field>
						</div>
					</v-col>
				</template>

				<template
					v-if="
						assignmentGetOne.document &&
						assignmentGetOne.document.journal &&
						assignmentGetOne.document.journal.id === 6
					"
				>
					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{
								$t("document-flow.views.boxes.department")
							}}</span>

							<v-text-field
								:value="
									assignmentGetOne.document &&
									assignmentGetOne.document.department &&
									assignmentGetOne.document.department.name
								"
								hide-details
								outlined
								readonly
								background-color="var(--input-bg)"
							></v-text-field>
						</div>
					</v-col>
				</template>

				<template
					v-if="
						assignmentGetOne.journal && assignmentGetOne.journal.id === 1
					"
				>
					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{
								$t("document-flow.views.boxes.document-priority")
							}}</span>

							<v-select
								v-model="assignmentGetOne.priority"
								:items="$store.state.priorityList"
								item-text="title"
								item-value="value"
								outlined
								hide-details
								readonly
								background-color="var(--input-bg)"
							>
								<template #append>
									<v-icon>mdi-chevron-down</v-icon>
								</template>
							</v-select>
						</div>
					</v-col>
				</template>

				<template
					v-if="
						assignmentGetOne.document &&
						assignmentGetOne.journal &&
						assignmentGetOne.journal.id === 5
					"
				>
					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{
								$t("document-flow.views.boxes.application")
							}}</span>

							<v-text-field
								hide-details
								outlined
								readonly
								:value="
									assignmentGetOne.document.applicant === 'physics'
										? $t('document-flow.views.boxes.individual')
										: $t('document-flow.views.boxes.legal-entity')
								"
								background-color="var(--input-bg)"
							></v-text-field>
						</div>
					</v-col>

					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{
								$t("document-flow.views.boxes.region")
							}}</span>

							<v-text-field
								hide-details
								outlined
								readonly
								:value="
									assignmentGetOne.document.region &&
									assignmentGetOne.document.region.name
								"
								background-color="var(--input-bg)"
							></v-text-field>
						</div>
					</v-col>

					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{
								$t("document-flow.views.boxes.district")
							}}</span>

							<v-text-field
								hide-details
								outlined
								readonly
								:value="
									assignmentGetOne.document.district &&
									assignmentGetOne.document.district.name
								"
								background-color="var(--input-bg)"
							></v-text-field>
						</div>
					</v-col>

					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{
								$t("document-flow.views.boxes.applicant-full-name")
							}}</span>

							<v-text-field
								hide-details
								outlined
								readonly
								:value="assignmentGetOne.document.full_name_sender"
								background-color="var(--input-bg)"
							></v-text-field>
						</div>
					</v-col>

					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{
								$t("document-flow.views.boxes.address")
							}}</span>

							<v-text-field
								hide-details
								outlined
								readonly
								:value="assignmentGetOne.document.address"
								background-color="var(--input-bg)"
							></v-text-field>
						</div>
					</v-col>

					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{
								$t("document-flow.views.boxes.phone-number")
							}}</span>

							<v-text-field
								v-mask="'+998 (##) ### ## ##'"
								hide-details
								outlined
								readonly
								:value="assignmentGetOne.document.phone_number"
								background-color="var(--input-bg)"
							></v-text-field>
						</div>
					</v-col>

					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{
								$t("document-flow.views.boxes.submission-form")
							}}</span>

							<v-text-field
								hide-details
								outlined
								readonly
								:value="
									assignmentGetOne.document.delivery_type &&
									assignmentGetOne.document.delivery_type.name
								"
								background-color="var(--input-bg)"
							></v-text-field>
						</div>
					</v-col>

					<v-col md="6">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{
								$t("document-flow.views.boxes.type-complaint")
							}}</span>

							<v-text-field
								hide-details
								outlined
								readonly
								:value="
									assignmentGetOne.document.complaint_type &&
									assignmentGetOne.document.complaint_type.name
								"
								background-color="var(--input-bg)"
							></v-text-field>
						</div>
					</v-col>
				</template>

				<v-col md="12">
					<div class="app-input">
						<span class="d-block font-600 small-2 mb-2">{{
							$t("document-flow.views.boxes.for-consideration")
						}}</span>

						<app-table
							:table-width="500"
							:table-head-items="employeeTableHeaders"
						>
							<template #tableBody>
								<tr
									v-for="(user, index) in reviewUsersList"
									:key="user.id"
								>
									<td>{{ index + 1 }}</td>
									<td>{{ user.user.full_name }}</td>
									<td>
										{{ user.created_date | filterCalendarToTime }}
									</td>
								</tr>
							</template>
						</app-table>
					</div>
				</v-col>

				<v-col md="12">
					<div class="app-input">
						<span class="d-block font-600 small-2 mb-2">{{
							$t("document-flow.views.boxes.files")
						}}</span>

						<app-table
							:table-width="500"
							:table-head-items="filesTableHeaders"
						>
							<template #tableBody>
								<tr
									v-for="(document, index) in attachDocumentsList"
									:key="document.id"
								>
									<td>{{ index + 1 }}</td>
									<td>{{ document.document.name }}</td>
									<td>
										{{
											document.document.created_date
												| filterCalendarToTime
										}}
									</td>
									<td>
										<div
											class="d-flex align-center"
											style="width: 90px"
										>
											<app-button
												min-width="43"
												width="43px"
												color="var(--primary-3)"
												icon
												@click="
													fetchDownloadDocument(document.document)
												"
											>
												<template #prepend>
													<download-icon size="18" />
												</template>
											</app-button>

											<app-button
												min-width="43"
												width="43px"
												color="var(--primary-3)"
												icon
												@click="viewDocument(document.document.url)"
											>
												<v-icon size="20"> mdi-eye-outline </v-icon>
											</app-button>
										</div>
									</td>
								</tr>
							</template>
						</app-table>
					</div>
				</v-col>

				<v-col md="12">
					<div class="app-input">
						<span class="d-block font-600 small-2 mb-2">{{
							$t("document-flow.views.boxes.content")
						}}</span>

						<quill-editor v-model="assignmentGetOne.content" disabled />
					</div>
				</v-col>

				<v-col md="12">
					<template
						v-if="
							(assignmentGetOne.controller &&
								assignmentGetOne.controller.id) !== currentUser.id
						"
					>
						<template v-if="currentUserAssignment">
							<app-button
								class="flex-1"
								color="#ff2200"
								:disabled="currentUserAssignment.is_read"
								@click="getAcquainted"
							>
								<template #default>
									<span v-if="!currentUserAssignment.is_read">{{
										$t(
											"document-flow.views.boxes.introduce-with-document"
										)
									}}</span>
									<span v-else>{{
										$t("document-flow.views.boxes.document-was-read")
									}}</span>
								</template>
							</app-button>
						</template>
					</template>
				</v-col>

				<v-col md="12">
					<activity
						v-if="assignmentGetOne.document_unique_id"
						:document-model="assignmentGetOne"
					/>
				</v-col>
			</v-row>
		</div>
		<pdf-viewer-modal ref="pdfModal" />
	</div>
</template>

<script>
import { TABLE_HEAD_TEXT_LIST } from "@/common/constants";
import { selectFromList } from "@/common/helpers";
import StatusChangeModal from "../../../components/StatusChangeModal";
import Activity from "../../Registration/components/Components/Activity";

import {
ArrowLeftIcon,
ChevronDownIcon,
DownloadIcon,
FileTextIcon,
MoreVerticalIcon,
PlusCircleIcon,
UnlockIcon
} from "vue-feather-icons";
import { mapActions, mapGetters, mapState } from "vuex";
import PdfViewerModal from "../../../../../common/components/PdfViewerModal";

export default {
	name: "InboxFormShowView",
	props: {
		formTitle: {
			type: String,
			default: "Регистрация документа"
		},
	},
	components: {
		DownloadIcon,
		ArrowLeftIcon,
		MoreVerticalIcon,
		UnlockIcon,
		PdfViewerModal,
		Activity,
		StatusChangeModal,
		FileTextIcon,
		PlusCircleIcon,
		ChevronDownIcon,
	},
	computed: {
		...mapState({
			filteredState: state => state.headerFilter.filteredState,
			filterPagination: state => state.headerFilter.pagination,
			indexTableFilters: state => state.documentFlowBoxesInbox.inboxIndexTableFilters,
			indexTableFiltersControl: state => state.documentFlowBoxesControl.indexTableFilters
		}),
		/*
		 *
		 * */
		...mapGetters({
			currentUser: "auth/getCurrentUser",
			assignmentGetOne: "documentFlowModule/getAssignmentGetOne",
			reviewUsersList: "documentFlowModule/getReviewUsersList",
			attachDocumentsList: "documentFlowModule/getAttachDocumentsList",
		}),
		/*
    *
    * */
		activeFiltered() {
			let active = {}

			Object.entries(this.indexTableFilters).forEach(filter => {
				const [key, value] = filter

				if(key.startsWith("__")) {
					return;
				}

				if(value || value === true || value === false) {
					active[key] = value
				}
			})

			return active
		},
		/*
    *
    * */
		activeFilteredControl() {
			let active = {}

			Object.entries(this.indexTableFiltersControl).forEach(filter => {
				const [key, value] = filter

				if(key.startsWith("__")) {
					return;
				}

				if(value || value === true || value === false) {
					active[key] = value
				}
			})

			return active
		},
		/*
		 *
		 * */
		documentReferenceUrl() {
			return `/docflow/${this.currentUser.filial}/reference/`;
		},
		/*
		 *
		 * */
		journalUrl() {
			return `/docflow/${this.currentUser.filial}/journal/`;
		},
		/*
		 *
		 * */
		filesTableHeaders() {
			return selectFromList([1, 22, 23, 19], TABLE_HEAD_TEXT_LIST);
		},
		/*
		 *
		 * */
		employeeTableHeaders() {
			return selectFromList([1, 24, 23], TABLE_HEAD_TEXT_LIST);
		},
		/*
		 *
		 * */
		currentUserAssignment() {
			return (
				this.assignmentGetOne.assignment.find(
					assignment => assignment.user.id === this.currentUser.id
				) || {}
			);
		},
	},
	created() {
		if (this.$route.params.id) {
			setTimeout(() => {
				this.fetchReviewUsersList(this.assignmentGetOne.document.id);
				this.fetchAttachFilesList({
					incomingDocId: this.assignmentGetOne.document.id,
				});

				// this.fetchInboxListAll({
				//   review: this.assignmentGetOne.review,
				//   is_project_resolution: "True",
				//   ordering: 'id'
				// })
			}, 1500);
		}
	},
	methods: {
		...mapActions({
			fetchReviewUsersList: "documentFlowModule/fetchReviewUsersList",
			fetchAttachFilesList: "documentFlowModule/fetchAttachFilesList",
			fetchGetAcquainted: "documentFlowModule/fetchGetAcquainted",
			fetchInboxListAll: "documentFlowModule/fetchInboxListAll",
			fetchDownloadDocument: "documentFlowModule/fetchDownloadDocument",
			fetchAssigmentById: "documentFlowModule/fetchAssigmentById",
			fetchAssignedUsersTree: "documentFlowModule/fetchAssignedUsersTree",
		}),
    /*
    *
    * */
		changeStatus() {
			this.fetchAssigmentById({
				id: this.$route.params.id
			})

			this.fetchAssignedUsersTree({
				treeId: this.assignmentGetOne.document.id
			})
    },
		/*
		 *
		 * */
		getAcquainted() {
			// if(!confirm(this.$t('document-flow.views.boxes.do-you-want-read-document'))) {
			//   return
			// }

			this.fetchGetAcquainted({
				assignmentId: this.currentUserAssignment.id,
			}).then(() => {
				this.$toast.success(
					this.$t("document-flow.views.boxes.document-was-read")
				);
				this.fetchAssigmentById({
					id: this.$route.params.id
				})

				this.fetchAssignedUsersTree({
					treeId: this.assignmentGetOne.document.id
				})
				// setTimeout(() => {
				// 	window.location.reload();
				// }, 1000);
			});
		},
		/**/
		viewDocument(url) {
			const { pdfModal } = this.$refs;
			pdfModal.url = url;
			pdfModal.dialog = true;
		},
	},
};
</script>
