<template>
  <div class="d-flex  grid-gap-md h-100">
    <registration-form-wrapper
      v-if="assignmentGetOne"
      :form-title="$t('document-flow.views.boxes.inbox')"
      :tree-id="assignmentGetOne.document && assignmentGetOne.document.id"
      :viewer-list="attachDocumentsList"
    />

    <pdf-viewer
      :viewer-list="attachDocumentsList"
      :register-number="getAssignmentGetOne.document && getAssignmentGetOne.document.register_number"
      :register-date="getAssignmentGetOne.document && getAssignmentGetOne.document.register_date.replace(/T.*$/, '')"
    ></pdf-viewer>
  </div>
</template>

<script>
import PdfViewer from "@/common/components/PdfViewer";
import RegistrationFormWrapper from "@/modules/DocumentFlow/components/RegistrationFormWrapper";
import { mapActions, mapGetters, mapMutations } from "vuex";

export default {
  name: "InboxFormShow",
  components: {
    PdfViewer,
    RegistrationFormWrapper
  },
  computed: {
    ...mapGetters({
      attachDocumentsList: "documentFlowModule/getAttachDocumentsList",
      getAssignmentGetOne: "documentFlowModule/getAssignmentGetOne"
    }),
    /*
    *
    * */
    assignmentGetOne() {
      if(Object.keys(this.getAssignmentGetOne).length) {
        return this.getAssignmentGetOne
      }
    }
  },
  beforeDestroy() {
    this.CLEAR_DOCUMENT_ASSIGN()
  },
  created() {
    if(this.$route.params.id) {
      this.fetchAssigmentById({
        id: this.$route.params.id
      })
    }
  },
  mounted() {
    if(this.$route.params.id) {
      setTimeout(() => {
        this.fetchAttachFilesList({
          incomingDocId: this.assignmentGetOne.document.id
        })
      }, 1000)
    }
  },
  methods: {
    ...mapActions({
      fetchAssigmentById: "documentFlowModule/fetchAssigmentById",
      fetchAttachFilesList: "documentFlowModule/fetchAttachFilesList",
    }),
    /*
    *
    * */
    ...mapMutations({
      CLEAR_DOCUMENT_ASSIGN: "documentFlowModule/CLEAR_DOCUMENT_ASSIGN"
    }),
  }
}
</script>
