<template>
  <div class="remove-from-control">
    <div class="app-input">
      <span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.boxes.content')}}</span>

      <quill-editor
        ref="editor"
        v-model="$v.noteModel.take_control_note.$model"
        :error="$v.noteModel.take_control_note.$error"
      />
    </div>

    <resolution-content-modal class="mt-2 mb-8" @emit:up="(text) => noteModel.take_control_note = text.name" />

    <div class="app-input mb-8">
      <span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.boxes.attach-file')}}</span>

      <v-file-input
        @change="uploadFiles"
        prepend-inner-icon="mdi-paperclip"
        prepend-icon=""
        outlined
        hide-details
        background-color="var(--input-bg)"
      ></v-file-input>
    </div>

    <div>
      <app-button class="mr-3" color="error" :to="{name: 'InboxFormShowView'}">
        <template #prepend>
          <arrow-left-icon size="20" />
        </template>
        {{$t('document-flow.views.boxes.back')}}
      </app-button>

      <app-button @click="send">
        <template #prepend>
          <plus-circle-icon size="20" />
        </template>
        {{$t('document-flow.views.boxes.remove-from-control')}}
      </app-button>
    </div>
  </div>
</template>

<script>
import ResolutionContentModal from "@/common/components/ResolutionContentModal"
import { ArrowLeftIcon, PlusCircleIcon, XIcon } from "vue-feather-icons"
import { required } from "vuelidate/lib/validators"
import { mapActions, mapGetters } from "vuex"

export default {
  name: "RemoveFromControl",
  components: {
    ResolutionContentModal,
    PlusCircleIcon,
    ArrowLeftIcon,
    XIcon
  },
  data() {
    return {
      noteModel: {
        take_control_note: "",
        file: null,
        __fileId: null
      }
    }
  },
  validations: {
    noteModel: {
      take_control_note: { required }
    },
  },
  computed: {
    ...mapGetters({
      currentUser: "auth/getCurrentUser",
      getAssignmentGetOne: "documentFlowModule/getAssignmentGetOne",
    }),
    /*
    *
    * */
    currentUserAssignment() {
      return this.getAssignmentGetOne.assignment.find(assignment => assignment.user.id === this.currentUser.id)
    },
  },
  methods: {
    ...mapActions({
      fetchCompletionNote: "documentFlowModule/fetchCompletionNote",
      fetchAssignedUsersTree: "documentFlowModule/fetchAssignedUsersTree",
      fetchAssigmentById: "documentFlowModule/fetchAssigmentById",
      fetchTakeOutOfControl: "documentFlowModule/fetchTakeOutOfControl",
    }),
    /*
    *
    * */
    uploadFiles(file) {
      let formData = new FormData()
      formData.append("file", file)

      this.$axios
        .post('/upload/', formData)
        .then(({ data }) => {
          this.$toast.success(this.$t('document-flow.views.boxes.file-downloaded'))

          this.noteModel.__fileId = data.id
        })
    },
    /*
    *
    * */
    send() {
      this.$v.$touch();

      if (this.$v.$invalid) {
        return;
      }

      this.noteModel.file = this.noteModel.__fileId

      this.fetchTakeOutOfControl({
        id: this.$route.params.id,
        model: this.noteModel
      })
      .then(() => {
        this.$toast.success(this.$t('document-flow.views.boxes.document-removed-control'))

        this.$router.push({
          name: "InboxFormShowView"
        })
          .then(() => {
            this.fetchAssigmentById({
              id: this.$route.params.id
            })
          })
      })
    }
  }
}
</script>
