<template>
  <div class="resolution-view">
    <v-tabs
      v-model="tab"
      hide-slider
      centered
      background-color="primary"
      class="rounded-lg"
    >
      <v-tab>
        {{$t('document-flow.views.boxes.order')}}
      </v-tab>
      <v-tab>
        {{$t('document-flow.views.boxes.control-point')}}
      </v-tab>
      <v-tab>
        {{$t('document-flow.views.boxes.for-information')}}
      </v-tab>
    </v-tabs>

<!--    <pre>{{ currentUserAssignment }}</pre>-->

    <v-tabs-items v-model="tab">
      <v-tab-item>
        <resolution
          :parent-id="currentUserAssignment.id"
          :parent="currentUserAssignment.assignment"
          :review="assignmentGetOne.review"
          :tree-id="assignmentGetOne.document && assignmentGetOne.document.id"
        />
      </v-tab-item>

      <v-tab-item>
        <control-point />
      </v-tab-item>

      <v-tab-item>
        <for-information />
      </v-tab-item>
    </v-tabs-items>
  </div>
</template>

<script>
import Resolution from "./Resolution"
import ControlPoint from "./ControlPoint"
import ForInformation from "./ForInformation"

import { mapGetters } from "vuex"

export default {
  name: "ResolutionView",
  data () {
    return {
      tab: null
    }
  },
  components: {
    Resolution,
    ControlPoint,
    ForInformation
  },
  computed: {
    ...mapGetters({
      currentUser: "auth/getCurrentUser",
      assignmentGetOne: "documentFlowModule/getAssignmentGetOne",
    }),
    /*
    *
    * */
    currentUserAssignment() {
      return this.assignmentGetOne.assignment.find(assignment => assignment.user.id === this.currentUser.id)
    },
  }
}
</script>
