<template>
  <div class="resolution-assignment-view">
    <div class="app-input mt-8">
      <span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.boxes.content')}}</span>

      <quill-editor
        v-model="$v.resolutionFormModel.content.$model"
        :error="$v.resolutionFormModel.content.$error"
      />
    </div>

    <resolution-content-modal
      @emit:up="(text) => resolutionFormModel.content = text.name"
      class="my-5"
    />

    <v-tabs
      v-model="tab"
      hide-slider
      centered
      background-color="primary"
      class="rounded-lg mb-6"
    >
      <v-tab>
        {{$t('document-flow.views.boxes.order-for-employees')}}
      </v-tab>
      <v-tab>
        {{$t('document-flow.views.boxes.order-for-branches')}}
      </v-tab>
    </v-tabs>

    <v-tabs-items v-model="tab">
      <v-tab-item>
        <v-row>
          <v-col md="3">
            <div class="app-input">
              <span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.boxes.period-for-execution')}}</span>

              <app-date-picker
                v-model="addUserModel.deadline"
                with-input
                dense
                background-color="var(--input-bg)"
              />
            </div>
          </v-col>

          <v-col md="6">
            <div class="app-input">
              <span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.boxes.search-employees')}}</span>

              <app-autocomplete
                v-model="$v.addUserModel.userSearchModel.$model"
                :error="$v.addUserModel.userSearchModel.$error"
                :item-disabled="getDisableItems"
                :api-list-url="categoryUserList"
                item-text="full_name"
                return-object
                cache-items
                dense
                multiple
                background-color="var(--input-bg)"
                group-staff-visible
              />
            </div>
          </v-col>

          <v-col md="3" align-self="end">
            <app-button @click="addUser(addUserModel)" block>
              <template #prepend>
                <plus-circle-icon size="20" />
              </template>

              {{$t('document-flow.views.boxes.add')}}
            </app-button>
          </v-col>
        </v-row>

        <v-radio-group
          v-model="responsibleSelected"
          mandatory
        >
          <app-table
            :table-width="500"
            :table-head-items="filesTableHeaders"
            class="mt-8"
          >
            <template #tableHeader class="mt-4">
              <th width="100">{{$t('document-flow.views.boxes.answer-employee')}}</th>
              <th width="150">{{$t('document-flow.views.boxes.period-for-execution')}}</th>
              <th width="250">{{$t('document-flow.views.boxes.appointed')}}</th>
              <th width="100">{{$t('document-flow.views.boxes.action')}}</th>
            </template>

            <template #tableBody>
              <tr v-for="(assignment, index) in resolutionFormModel.assignment" :key="assignment.id">
                <td>
                  <v-radio :value="index"></v-radio>
                </td>
                <td>{{ assignment.deadline }}</td>
                <td>
                  {{ assignment.__user.full_name }}
                </td>
                <td>
                  <div class="d-flex align-center" style="width: 90px">
                    <app-button
                      @click="deleteUser(index)"
                      min-width="43"
                      width="43px"
                      color="var(--primary-4)"
                      icon
                    >
                      <template #prepend>
                        <trash2-icon size="18" />
                      </template>
                    </app-button>

                    <app-button
                      @click="currentEditUserSelected = assignment; userEditDialog = true"
                      min-width="43"
                      width="43px"
                      color="var(--primary-3)"
                      icon
                    >
                      <template #prepend>
                        <edit3-icon size="18" />
                      </template>
                    </app-button>
                  </div>
                </td>
              </tr>
            </template>
          </app-table>
        </v-radio-group>
      </v-tab-item>

      <v-tab-item>
        <h4 class="font-500 text-center">{{$t('document-flow.views.boxes.section-is-unavailable')}}</h4>
      </v-tab-item>
    </v-tabs-items>

    <div class="d-flex align-center mt-8">
      <app-button
        color="error"
        @click="$router.push({ name: redirectUrl })"
        class="mr-2"
      >
        <template #prepend>
          <arrow-left-icon size="18" />
        </template>
        <template>
          {{$t('document-flow.views.boxes.back')}}
        </template>
      </app-button>

      <app-button @click="send" :loading="loading">
        <template #prepend>
          <plus-circle-icon size="20" />
        </template>

        {{$t('document-flow.views.boxes.create-assignment')}}
      </app-button>
    </div>

    <!-- Edit user dialog -->
    <v-dialog
      v-model="userEditDialog"
      width="350"
      content-class="reset-dialog-style"
    >
      <v-card>
        <div class="d-flex align-center py-2 px-3">
          <span class="d-block font-500">{{$t('document-flow.views.boxes.change-date')}}</span>

          <v-spacer />

          <v-btn
            icon
            color="error"
            small
            @click="currentEditUserSelected = {}; userEditDialog = false"
          >
            <x-icon size="18" />
          </v-btn>
        </div>

        <div class="pa-3 border-top border-bottom">
          <app-date-picker
            v-model="currentEditUserSelected.deadline"
            with-input
            dense
            background-color="var(--input-bg)"
          />
        </div>

        <div class="px-3 py-2 text-center">
          <app-button
            small
            @click="userEditDialog = false"
          >
            <template #append>
              <save-icon size="18" />
            </template>
            {{$t('document-flow.views.boxes.save')}}
          </app-button>
        </div>
      </v-card>
    </v-dialog>
    <!-- /Edit user dialog -->
  </div>
</template>

<script>
import AppAutocomplete from "@/common/components/base/AppAutocomplete";
import ResolutionContentModal from "@/common/components/ResolutionContentModal"

import { selectFromList } from "@/common/helpers";
import { TABLE_HEAD_TEXT_LIST } from "@/common/constants";

import { mapGetters, mapActions } from "vuex"
import { PlusCircleIcon, Trash2Icon, Edit3Icon, XIcon, SaveIcon, ArrowLeftIcon } from "vue-feather-icons"
import { required } from "vuelidate/lib/validators";

export default {
  name: "Resolution",
  props: {
    parent: {
      type: [Number, String]
    },
    parentId: {
      type: [Number, String]
    },
    review: {
      type: [Number, String]
    },
    treeId: {
      type: [Number, String]
    },
    formType: {
      type: String,
      default: "assignment"
    },
    redirectUrl: {
      type: String,
      default: "InboxFormShow"
    }
  },
  components: {
    AppAutocomplete,
    ResolutionContentModal,
    PlusCircleIcon,
    Trash2Icon,
    Edit3Icon,
    XIcon,
    SaveIcon,
    ArrowLeftIcon
  },
  data() {
    return {
      responsibleSelected: null,
      currentEditUserSelected: {},
      userEditDialog: false,
      dialog: false,
      tab: null,
      addUserModel: {
        userSearchModel: null,
        deadline: null,
      },
      resolutionFormModel: {
        id: null,
        review: null,
        content: null,
        controller: null,
        parent: null,
        assignment: []
      },
      loading: false
    }
  },
  validations: {
    resolutionFormModel: {
      content: { required }
    },
    addUserModel: {
      userSearchModel: { required }
    }
  },
  computed: {
    ...mapGetters({
      getDisableItems: "getDisableItems",
      currentUser: "auth/getCurrentUser",
      assignmentGetOne: "documentFlowModule/getAssignmentGetOne"
    }),
    /*
    *
    * */
    filesTableHeaders() {
      return selectFromList([26, 25, 19], TABLE_HEAD_TEXT_LIST)
    },
    /*
    *
    * */
    categoryUserList() {
      return `/${this.$store.getters['auth/getCurrentUser'].filial}/user/lists/by_category/`
    },
    /*
    *
    * */
    currentUserAssignment() {
      return this.assignmentGetOne.assignment.find(assignment => assignment.user.id === this.currentUser.id)
    },
  },
  methods: {
    ...mapActions({
      fetchAssignUsersToResolution: "documentFlowModule/fetchAssignUsersToResolution"
    }),
    /*
    *
    * */
    addUser({ userSearchModel, deadline }) {
      this.$v.addUserModel.$touch();

      if (this.$v.addUserModel.$invalid) {
        return;
      }

      userSearchModel.forEach(user => {
        this.resolutionFormModel.assignment.push({
          user: user.id,
          deadline: deadline,
          is_responsible: false,
          parent: this.parentId,
          // assignment: this.assignmentGetOne.id,
          __user: user
        })
      })

      // if(this.resolutionFormModel.assignment.length === 1) {
      //   this.resolutionFormModel.assignment[0].is_responsible = true
      // }

      // Сбрасываем поля
      this.addUserModel.userSearchModel = this.addUserModel.deadline = null
      this.$v.$reset();
    },
    /*
    *
    * */
    setUserResponsible(assignment) {
      assignment.is_responsible = !assignment.is_responsible
    },
    /*
    *
    * */
    deleteUser(index) {
      if(!confirm(this.$t('document-flow.views.boxes.delete-user-confirmation'))) {
        return;
      }

      this.resolutionFormModel.assignment.splice(index, 1)
    },
    /*
    *
    * */
    send() {
      this.$v.resolutionFormModel.$touch();

      if (this.$v.resolutionFormModel.$invalid) {
        return;
      }

      if(!this.resolutionFormModel.assignment.length) {
        this.$toast.error(this.$t('document-flow.views.boxes.one-employee-must'))
        this.$v.addUserModel.$touch();

        return;
      }

      this.loading = !this.loading

      let model = {
        ...this.resolutionFormModel,
        type: this.formType,
        review: this.review,
        parent: this.parent
      }

      model.assignment.forEach(item => {
        item.is_responsible = false
      })

      model.assignment[this.responsibleSelected].is_responsible = true

      this.fetchAssignUsersToResolution({
        model,
        treeId: this.treeId
      })
      .then(() => {
        this.$toast.success(this.$t('document-flow.views.boxes.assignment-created'))

        this.loading = false

        this.$router.push({
          name: this.redirectUrl
        })
      })
    }
  }
}
</script>
