<template>
  <div class="resolution-update-view">
    <div class="d-flex align-center w-100 mb-6">
      <span class="heading-9 font-600 text-dark mr-3 d-block">{{$t('document-flow.views.boxes.change-assignment')}}</span>
      <v-divider />
    </div>

    <div class="app-input mt-8">
      <span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.boxes.content')}}</span>

<!--      <pre>{{ assignmentGetOne }}</pre>-->

      <quill-editor
        v-model="$v.resolutionFormModel.content.$model"
        :error="$v.resolutionFormModel.content.$error"
      />
    </div>

    <resolution-content-modal @emit:up="(text) => resolutionFormModel.content = text.name" class="my-4" />

    <v-row>
      <v-col md="4">
        <div class="app-input">
          <span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.boxes.period-for-execution')}}</span>

          <app-date-picker
            v-model="addUserModel.deadline"
            with-input
            dense
            clearable
            background-color="var(--input-bg)"
          />
        </div>
      </v-col>

      <v-col md="5">
        <div class="app-input">
          <span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.boxes.search-employees')}}</span>

          <app-autocomplete
            v-model="$v.addUserModel.userSearchModel.$model"
            :error="$v.addUserModel.userSearchModel.$error"
            :item-disabled="getDisableItems"
            :api-list-url="categoryUserList"
            item-text="full_name"
            return-object
            cache-items
            dense
            multiple
            background-color="var(--input-bg)"
            group-staff-visible
          />
        </div>
      </v-col>

      <v-col md="3" align-self="end">
        <app-button @click="addUser(addUserModel)" block>
          <template #prepend>
            <plus-circle-icon size="20" />
          </template>

          {{$t('document-flow.views.boxes.add')}}
        </app-button>
      </v-col>
    </v-row>

    <v-radio-group
      v-model="responsibleSelected"
      mandatory
    >
      <app-table
        :table-width="500"
        :table-head-items="filesTableHeaders"
        class="mt-8"
      >
        <template #tableHeader>
          <th width="100">{{$t('document-flow.views.boxes.answer-employee')}}</th>
          <th width="150">{{$t('document-flow.views.boxes.period-for-execution')}}</th>
          <th width="250">{{$t('document-flow.views.boxes.appointed')}}</th>
          <th width="100">{{$t('document-flow.views.boxes.action')}}</th>
        </template>

        <template #tableBody>
          <tr v-for="(assignment, index) in getAssignmentUsersList" :key="assignment.id">
            <td>
              <v-radio
                :value="index"
                @click="handleResponsibleChange(getAssignmentUsersList)"
              ></v-radio>
            </td>
            <td>{{ assignment.deadline }}</td>
            <td>{{assignment.user.full_name }}</td>
            <td>
              <div class="d-flex align-center" style="width: 90px">
                <app-button
                  @click="deleteUser(index, assignment.id)"
                  min-width="43"
                  width="43px"
                  color="var(--primary-4)"
                  icon
                >
                  <template #prepend>
                    <trash2-icon size="18" />
                  </template>
                </app-button>

                <app-button
                  @click="currentEditUserSelected = assignment; userEditDialog = true"
                  min-width="43"
                  width="43px"
                  color="var(--primary-3)"
                  icon
                >
                  <template #prepend>
                    <edit3-icon size="18" />
                  </template>
                </app-button>
              </div>
            </td>
          </tr>
        </template>
      </app-table>
    </v-radio-group>

    <app-button @click="send" :loading="loading" class="mt-8">
      <template #prepend>
        <plus-circle-icon size="20" />
      </template>
      {{$t('document-flow.views.boxes.change-assignment')}}
    </app-button>

    <!-- Edit user dialog -->
    <v-dialog
      v-model="userEditDialog"
      width="350"
      content-class="reset-dialog-style"
    >
      <v-card>
        <div class="d-flex align-center py-2 px-3">
          <span class="d-block font-500">{{$t('document-flow.views.boxes.change-date')}}</span>

          <v-spacer />

          <v-btn
            icon
            color="error"
            small
            @click="currentEditUserSelected = {}; userEditDialog = false"
          >
            <x-icon size="18" />
          </v-btn>
        </div>

        <div class="pa-3 border-top border-bottom">
          <app-date-picker
            v-model="currentEditUserSelected.deadline"
            with-input
            dense
            clearable
            background-color="var(--input-bg)"
          />
        </div>

        <div class="px-3 py-2 text-center">
          <app-button
            small
            @click="assignmentUserUpdate"
          >
            <template #append>
              <save-icon size="18" />
            </template>
            {{$t('document-flow.views.boxes.save')}}
          </app-button>
        </div>
      </v-card>
    </v-dialog>
    <!-- /Edit user dialog -->
  </div>
</template>

<script>
import AppAutocomplete from "@/common/components/base/AppAutocomplete";
import ResolutionContentModal from "@/common/components/ResolutionContentModal"

import { selectFromList } from "@/common/helpers";
import { TABLE_HEAD_TEXT_LIST } from "@/common/constants";

import { mapGetters, mapActions } from "vuex"
import { PlusCircleIcon, Trash2Icon, Edit3Icon, XIcon, SaveIcon } from "vue-feather-icons"
import { required } from "vuelidate/lib/validators";

export default {
  name: "ResolutionUpdate",
  components: {
    AppAutocomplete,
    ResolutionContentModal,
    PlusCircleIcon,
    Trash2Icon,
    Edit3Icon,
    XIcon,
    SaveIcon
  },
  data() {
    return {
      responsibleSelected: null,
      currentEditUserSelected: {},
      userEditDialog: false,
      userControlPointSelected: null,
      addUserModel: {
        userSearchModel: null,
        deadline: null,
      },
      resolutionFormModel: {
        id: null,
        review: null,
        content: null,
        type: "assignment",
        controller: null,
        parent: null,
        assignment: []
      },
      loading: false
    }
  },
  validations: {
    resolutionFormModel: {
      content: { required }
    },
    addUserModel: {
      userSearchModel: { required }
    }
  },
  computed: {
    ...mapGetters({
      getDisableItems: "getDisableItems",
      currentUser: "auth/getCurrentUser",
      assignmentGetOne: "documentFlowModule/getAssignmentGetOne",
      getAssignmentUsersList: "documentFlowModule/getAssignmentUsersList",
    }),
    /*
    *
    * */
    filesTableHeaders() {
      return selectFromList([26, 25, 19], TABLE_HEAD_TEXT_LIST)
    },
    /*
    *
    * */
    categoryUserList() {
      return `/${this.$store.getters['auth/getCurrentUser'].filial}/user/lists/by_category/`
    },
    /*
    *
    * */
    currentUserAssignment() {
      return this.assignmentGetOne.assignment.find(assignment => assignment.user.id === this.currentUser.id)
    },
  },
  mounted() {
    setTimeout(() => {
      this.resolutionFormModel.content = this.assignmentGetOne.content

      this.fetchAssignmentUsersList({
        params: {
          assignment: this.assignmentGetOne.id
        }
      })
        .then(() => {
          this.responsibleSelected = this.getAssignmentUsersList.findIndex(item => item.is_responsible)
        })
    }, 1000)
  },
  methods: {
    ...mapActions({
      fetchAssignmentUsersList: "documentFlowModule/fetchAssignmentUsersList",
      fetchAssignmentUsersPost: "documentFlowModule/fetchAssignmentUsersPost",
      fetchAssignmentUserDelete: "documentFlowModule/fetchAssignmentUserDelete",
      fetchAssignmentUpdateById: "documentFlowModule/fetchAssignmentUpdateById",
      fetchChangeResponsibleUser: "documentFlowModule/fetchChangeResponsibleUser",
    }),
    /*
    *
    * */
    handleResponsibleChange(users) {
      let currentResponsible = users[this.responsibleSelected]

      users.forEach(user => {
        user.is_responsible = false
      })

      currentResponsible.is_responsible = true

      this.fetchChangeResponsibleUser({
        id: currentResponsible.id,
        model: {
          is_responsible: true
        }
      })
    },
    /*
    *
    * */
    assignmentUserUpdate() {
      this.fetchChangeResponsibleUser({
        id: this.currentEditUserSelected.id,
        model: {
          deadline: this.currentEditUserSelected.deadline,
          type: "deadline"
        }
      })
      .then(() => {
        this.userEditDialog = false
      })
    },
    /*
    *
    * */
    addUser({ userSearchModel, deadline }) {
      this.$v.addUserModel.$touch();

      if (this.$v.addUserModel.$invalid) {
        return;
      }

      userSearchModel.forEach(user => {
        let model = {
          user: user.id,
          deadline: deadline,
          is_responsible: false,
          assignment: this.assignmentGetOne.id,
          parent: this.assignmentGetOne.assignment.length ? this.assignmentGetOne.assignment.find(assignment => assignment.created_by.id === this.currentUser.id).id : null
        }

        this.fetchAssignmentUsersPost({
          model: model,
          treeId: this.assignmentGetOne.document.id
        })
        .then((data) => {
          this.getAssignmentUsersList.push(data)

          this.$toast.success(this.$t('document-flow.views.boxes.new-user-added'))
        })
      })

      // Сбрасываем поля
      this.addUserModel.userSearchModel = this.addUserModel.deadline = null
      this.$v.$reset();
    },
    /*
    *
    * */
    deleteUser(index, id) {
      if(!confirm(this.$t('document-flow.views.boxes.delete-user-confirmation'))) {
        return;
      }

      this.getAssignmentUsersList.splice(index, 1)

      this.fetchAssignmentUserDelete({
        id: id,
        treeId: this.assignmentGetOne.document.id
      })
      .then(() => {
        this.$toast.success(this.$t('document-flow.views.boxes.user-deleted'))
      })
    },
    /*
    *
    * */
    send() {
      this.$v.resolutionFormModel.$touch();

      if (this.$v.resolutionFormModel.$invalid) {
        return;
      }

      if(!confirm(this.$t('document-flow.views.boxes.change-assignment-description'))) {
        return;
      }

      this.loading = !this.loading

      let model = {
        review: this.assignmentGetOne.review,
        content: this.resolutionFormModel.content,
        type: this.assignmentGetOne.type,
      }

      console.log(model);

      this.fetchAssignmentUpdateById({
        id: this.assignmentGetOne.id,
        model
      })
        .then(() => {
          this.$toast.success(this.$t('document-flow.views.boxes.assignment-changed'))

          this.loading = false

          this.$router.push({
            name: "InboxCreatedResolutionsList"
          })
        })
    }
  }
}
</script>
