<template>
  <div class="d-flex flex-column p-relative">
    <app-loader v-if="getLoading" full-width :size="58" />

    <template v-else>
      <div class="d-flex flex-column h-100 bg-4 rounded-20 pa-1 overflow-hidden h-100">
        <perfect-scrollbar class="d-flex flex-column flex-1 h-100">
          <app-table
            :table-width="2100"
          >
            <template #tableHeader>
              <th></th>
              <th>{{$t('document-flow.views.boxes.status')}}</th>
              <th>{{$t('document-flow.views.boxes.journal')}}</th>
              <th>{{$t('document-flow.views.boxes.type-document')}}</th>
              <th>{{$t('document-flow.views.boxes.receipt-date')}}</th>
              <th>{{$t('document-flow.views.boxes.registration-date')}}</th>
              <th>{{$t('document-flow.views.boxes.registration-number')}}</th>
	            <th>{{$t('document-flow.views.boxes.outgoing-number')}}</th>
	            <th>{{$t('document-flow.views.boxes.type')}}</th>
	            <th v-if="['admin', 'hr_manager'].includes(currentUser.role)">{{$t('document-flow.views.send-document.author')}}</th>
              <th>{{$t('document-flow.views.boxes.deadline')}}</th>
              <th width="400">{{$t('document-flow.views.boxes.correspondent')}}</th>
              <th>{{$t('document-flow.views.boxes.for-consideration')}}</th>
              <th></th>
            </template>

            <template #tableBody>
              <template v-if="getInboxList.length">
                <tr
                  v-for="document in getInboxList"
                  :key="document.id"
                  :class="[{ 'font-weight-bold': document.is_read === false  }]"
                >
                  <td>
	                  <app-tooltip top>
		                  <template #content>
			                  <router-link
				                  :to="{
		                        name: 'InboxFormShow',
		                        params: {
		                          id: document.id,
		                          type: document.document.journal.id
		                        }
		                      }"
				                  class="d-flex align-center h-100 text-decoration-none text-dark"
			                  >
				                  <div class="level-block p-relative">
					                  <div
						                  class="level-block__before p-absolute rounded-20"
						                  :class="[
                                {'error-bg': document.document.priority === 'high'},
                                {'error-bg': document.document.priority === 'critical'},
                                {'warning-bg': document.document.priority === 'medium'},
                                {'success-bg': document.document.priority === 'low'},
                              ]"
					                  ></div>
				                  </div>
			                  </router-link>
		                  </template>
		                  <template #text>
			                  {{ document.__priorityText }}
		                  </template>
	                  </app-tooltip>
                  </td>
                  <td>
                    <router-link
                      :to="{
                        name: 'InboxFormShow',
                        params: {
                          id: document.id,
                          type: document.document.journal.id
                        }
                      }"
                      class="d-flex align-center h-100 text-decoration-none text-dark"
                    >
                      <app-tooltip top>
                        <template #content>
                          <div class="status-block d-flex align-center">
                            <div
                              class="status-badge mr-2 rounded-circle"
                              :class="[
                                {'error-bg': (document.__status && document.__status.title === 'TO DO') || document.__status && document.__status.title === 'CANCEL'},
                                {'warning-bg': document.__status && document.__status.title === 'IN PROGRESS'},
                                {'success-bg': (document.__status && document.__status.title === 'DONE') || (document.__status && document.__status.title === 'ON REVIEW')},
                              ]"
                            ></div>
                            <span class="small-3">{{ document.__status && document.__status.title }}</span>
                          </div>
                        </template>

                        <template #text>
                          {{ document.__status && document.__status.description }}
                        </template>
                      </app-tooltip>
                    </router-link>
                  </td>
                  <td>
                    <router-link
                      :to="{
                        name: 'InboxFormShow',
                        params: {
                          id: document.id,
                          type: document.document.journal.id
                        }
                      }"
                      class="d-flex align-center h-100 text-decoration-none text-dark"
                    >
                      {{ document.document.journal.name }}
                    </router-link>
                  </td>
                  <td>
                    <router-link
                      :to="{
                        name: 'InboxFormShow',
                        params: {
                          id: document.id,
                          type: document.document.journal.id
                        }
                      }"
                      class="d-flex align-center h-100 text-decoration-none text-dark"
                    >
                      {{ document.document.doc_type.name }}
                    </router-link>
                  </td>
                  <td>
                    <router-link
                      :to="{
                        name: 'InboxFormShow',
                        params: {
                          id: document.id,
                          type: document.document.journal.id
                        }
                      }"
                      class="d-flex align-center h-100 text-decoration-none text-dark"
                    >
                      {{ document.receipt_date && document.receipt_date | filterCalendarToTime }}
                    </router-link>
                  </td>
                  <td>
                    <router-link
                      :to="{
                        name: 'InboxFormShow',
                        params: {
                          id: document.id,
                          type: document.document.journal.id
                        }
                      }"
                      class="d-flex align-center h-100 text-decoration-none text-dark"
                    >
                      {{ document.document && document.document.register_date | filterCalendarToTime }}
                    </router-link>
                  </td>
                  <td>
                    <router-link
                      :to="{
                        name: 'InboxFormShow',
                        params: {
                          id: document.id,
                          type: document.document.journal.id
                        }
                      }"
                      class="d-flex align-center h-100 text-decoration-none text-dark"
                    >
                      {{ document.document && document.document.register_number }}
                    </router-link>
                  </td>
	                <td>
		                <router-link
			                :to="{
                        name: 'InboxFormShow',
                        params: {
                          id: document.id,
                          type: document.document.journal.id
                        }
                      }"
			                class="d-flex align-center h-100 text-decoration-none text-dark"
		                >
			                {{ document.document && document.document.outgoing_number }}
		                </router-link>
	                </td>
	                <td>
		                <router-link
			                :to="{
                        name: 'InboxFormShow',
                        params: {
                          id: document.id,
                          type: document.document.journal.id
                        }
                      }"
			                class="d-flex align-center h-100 text-decoration-none text-dark"
		                >
                      <v-chip
                        color="primary"
                        text-color="white"
                        style="font-size: 12px"
                      >
                        <span class="white--text font-500">
                          {{ document.type === "assignment"
                          ? $t('document-flow.views.boxes.order')
                          : document.type === "control_point"
                            ? $t('document-flow.views.boxes.control-point')
                            : $t('document-flow.views.boxes.type-not-selected')
                          }}
                        </span>
                      </v-chip>
		                </router-link>
	                </td>
	                <td v-if="['admin', 'hr_manager'].includes(currentUser.role)">
		                <router-link
			                :to="{
                        name: 'InboxFormShow',
                        params: {
                          id: document.id,
                          type: document.document.journal.id
                        }
                      }"
			                class="d-flex align-center h-100 text-decoration-none text-dark"
		                >
			                <app-avatar-group v-if="document.document.created_by" list-type="author" :avatar-list="returnAuthor(document)" />
		                </router-link>
	                </td>
                  <td>
                    <router-link
                      :to="{
                        name: 'InboxFormShow',
                        params: {
                          id: document.id,
                          type: document.document.journal.id
                        }
                      }"
                      class="d-flex align-center h-100 text-decoration-none text-dark"
                    >
                      {{ document.assignment && document.assignment[0].deadline }}
                    </router-link>
                  </td>
                  <td>
                    <router-link
                      :to="{
                        name: 'InboxFormShow',
                        params: {
                          id: document.id,
                          type: document.document.journal.id
                        }
                      }"
                      class="d-flex align-center h-100 text-decoration-none text-dark"
                    >
	                    <app-tooltip top>
		                    <template #content>
			                    <span class="line-truncate">{{ document.document.correspondent && document.document.correspondent.organization_name }}</span>
		                    </template>
		                    <template #text>
			                    <span>{{ document.document.correspondent && document.document.correspondent.organization_name }}</span>
		                    </template>
	                    </app-tooltip>
                    </router-link>
                  </td>
                  <td>
                    <router-link
                      :to="{
                        name: 'InboxFormShow',
                        params: {
                          id: document.id,
                          type: document.document.journal.id
                        }
                      }"
                      class="d-flex align-center h-100 text-decoration-none text-dark"
                    >
                      <app-avatar-group list-type="review_users" :avatar-list="document.document.review_users" />
                    </router-link>
                  </td>
	                <td>
		                <template v-if="document.condition && document.condition !== 'performed'">
			                <app-tooltip top>
				                <template #content>
					                <alert-circle-icon :color="document.condition === 'three_days_left' ? '#fbac00': document.condition === 'performed' ? '#00860c' : '#8e0000'" />
				                </template>
				                <template #text>
					                {{ document.condition === 'three_days_left' ? $t('document-flow.views.boxes.three-days-left'): document.condition === 'performed' ? $t('document-flow.views.boxes.done') : document.condition === 'overdue_performed' ? $t('document-flow.views.boxes.done-out-of-time') : $t('document-flow.views.boxes.overdue') }}
				                </template>
			                </app-tooltip>
		                </template>
	                </td>
                </tr>
              </template>

              <template v-else>
                <tr>
                  <td colspan="12">
                    <p class="heading-9 font-500 mb-0 text-center py-4">
                      {{$t('document-flow.views.boxes.nothing-yet')}}
                    </p>
                  </td>
                </tr>
              </template>
            </template>
          </app-table>
        </perfect-scrollbar>
      </div>
    </template>

    <app-pagination @emit:up="paginate" class="mt-3" />
  </div>
</template>

<script>
import { mapActions, mapGetters, mapState } from "vuex";
import { AlertCircleIcon } from "vue-feather-icons"

export default {
	name: "TableType",
	components: {
		AlertCircleIcon
	},
  computed: {
    ...mapState({
      filteredState: state => state.headerFilter.filteredState,
      filterPagination: state => state.headerFilter.pagination,
    }),
    /*
    *
    * */
    ...mapGetters({
      getLoading: "getLoading",
      getInboxList: "documentFlowModule/getInboxList",
	    currentUser: "auth/getCurrentUser",
    })
  },
  // created() {
  //   this.fetchInboxListAll({ status: this.$route.query.status ? this.$route.query.status : null })
  // },
  methods: {
    ...mapActions({
      fetchInboxListAll: "documentFlowModule/fetchInboxListAll",
    }),
    /*
    *
    * */
    paginate(value) {
      let query = { ...this.filteredState, page: value }
      this.filterPagination.page = value

      this.$router.replace({
        query: query
      }).catch(() => {})

      this.fetchInboxListAll({
        ...query
      })
    },
	  /**/
	  returnAuthor(document){
	  	return [
			  {
			  	user: {
			  		full_name: document.document.created_by.last_name + ' ' + document.document.created_by.first_name,
					  color: document.document.created_by.color,
					  avatar: null,
					  id: document.document.created_by.id
				  }
			  }
		  ]
	  }
  }
}
</script>
