<template>
  <div class="reject-with-letter">
    <app-button
        color="error"
        class="ml-2"
        @click="openDialog"
    >
      <template #prepend>
        <alert-circle-icon size="18" />
      </template>
      {{ $t("rejectWithLetter") }}
    </app-button>

    <v-dialog
        content-class="shadow-5"
        v-model="dialog"
        max-width="1200"
    >
      <div class="bg-white pa-4">
        <div class="d-flex align-center justify-end">
          <app-button
              @click="closeDialog"
              icon
              color="error"
              rounded
              width="15"
              min-width="15"
              height="15"
          >
            <x-icon/>
          </app-button>
        </div>

        <v-row>
          <v-col md="6">
            <div class="overflow-y-auto overflow-hidden px-2" style="max-height: 700px; min-height: 500px">
              <span class="small-2 font-600">____-yil _________ _______ - sonli</span>
              <div class="d-flex justify-end font-600 small-2 text-center">
                <div class="" style="width: 40%">
                  <div>“Asakabank” AJ</div>
                  <div>{{ subType }} bo‘yicha</div>
                  <div>Kredit qo‘mitasiga</div>
                  <div class="mt-2">{{ currentUser.dep_parent_name }}</div>
                  <div>{{ currentUser.position }}</div>
                  <div>(qo‘mita a’zosi)</div>
                  <div>{{currentUser.first_name | getFirstCharacter }} {{currentUser.father_name && currentUser.father_name | getFirstCharacter }} {{ currentUser.last_name }}dan</div>
                </div>
              </div>

              <div class="d-flex small-2 font-600 justify-center mt-4">
                Xizmat xati
              </div>

              <div class="small-2 mt-4 text-indent-30 text-justify">
                <span v-html="content"></span>
              </div>

              <v-row class="mt-8 align-center">
                <v-col md="6">
                  <span class="font-600 d-block small-2">{{ currentUser.dep_parent_name }} - {{ currentUser.position }} (qo‘mita a’zosi)</span>
                </v-col>

                <v-col md="3">

                </v-col>

                <v-col md="3">
                  <span class="font-600 small-2">{{currentUser.first_name | getFirstCharacter }} {{currentUser.father_name && currentUser.father_name | getFirstCharacter }} {{ currentUser.last_name }}</span>
                </v-col>
              </v-row>
            </div>
          </v-col>
          <v-col md="6">
            <app-editor
                v-model="$v.content.$model"
                :error="$v.content.$error"
                :paste-plain-text="true"
            />
<!--            <pre>{{ currentUser }}</pre>-->
          </v-col>
        </v-row>
      </div>

      <div class="d-flex justify-center mt-2">
        <app-button
            :loading="loading"
            @click="onReject"
        >
          <template #prepend>
            <v-icon size="18">{{ "$vuetify.icons.SendIcon" }}</v-icon>
          </template>
          {{$t('document-flow.views.send-document.send')}}
        </app-button>
      </div>
    </v-dialog>
  </div>
</template>

<script>
import { AlertCircleIcon, XIcon } from "vue-feather-icons";
import { required } from "vuelidate/lib/validators";
import {mapGetters} from "vuex";

export default {
  name: "RejectWithLetter",
  components: {
    AlertCircleIcon,
    XIcon
  },
  props: {
    model: {
      type: Object,
      default: () => {},
      required: true
    }
  },
  data() {
    return {
      dialog: false,
      content: null,
      loading: false
    }
  },
  validations: {
    content: { required }
  },
  computed: {
    ...mapGetters({
      currentUser: "auth/getCurrentUser"
    }),
    /**/
    subType() {
      const subTypeValues = {
        "finance": "Moliyalashtirish",
        "monitoring": "Monitoring",
        "joint_protocol": "Moliyalashtirish hamda Monitoring"
      }
      return subTypeValues[this.model.compose.sub_type] || "Moliyalashtirish"
    }
  },
  methods: {
	  onReject() {
	    this.$v.$touch();

	    if (this.$v.$invalid) {
		    this.$toast.warning(this.$t('layout.required-field'));
		    return;
	    }
	    this.$emit("onReject", this.content);
    },
	  /** **/
		send(serialNumber){
			let model = {
				certificate: serialNumber,
				check_id: this.model.compose.check_id,
				theme: this.subType,
				department: this.currentUser.top_level_dept_name,
				position: this.currentUser.position,
				content: this.content,
				signer: `${this.currentUser.first_name[0]}. ${this.currentUser.father_name && this.currentUser.father_name[0] + '. '} ${this.currentUser.last_name}`,
				environment: null,
				compose_id: this.model.compose.id,
				signer_model_id: this.model.id,
			}

			this.$axios.post(`/v2/docflow/{branch}/create-committee-reject-letter/`, model)
				.then(({ data }) => {
					this.$toast.success(this.$t('document-flow.views.send-document.document-sent'));
					setTimeout(() => {
						window.location.reload();
					}, 1000);
				})
	  },
    /** **/
    openDialog() {
      this.dialog = true;
    },
    /** **/
    closeDialog() {
      this.dialog = false;
    }
  }
}
</script>

<style scoped>

</style>
