<template>
	<div class="review-table-filter-view">
    <!-- Состояние -->
    <div class="mb-5">
      <span class="small-2 d-block font-600 text-7">{{$t('components.state')}}</span>

      <div class="d-flex">
        <v-radio-group
          v-model="indexTableFilters.is_signed"
          row
          mandatory
          hide-details
          class="mt-3"
        >
          <v-radio
            class="mr-12"
            :value="null"
          >
            <template #label>
              <span class="ml-2 text-dark small-1 font-500">{{ $t('components.all') }}</span>
            </template>
          </v-radio>

          <v-radio
            class="mr-12"
            :value="true"
          >
            <template #label>
              <span class="ml-2 text-dark small-1 font-500">{{$t('document-flow.views.registration.signed')}}</span>
            </template>
          </v-radio>

          <v-radio
            class="mr-12"
            value="unsigned"
          >
            <template #label>
              <span class="ml-2 text-dark small-1 font-500">{{$t('document-flow.views.registration.unsigned')}}</span>
            </template>
          </v-radio>

          <v-radio
            class="mr-12"
            :value="false"
          >
            <template #label>
              <span class="ml-2 text-dark small-1 font-500">{{$t('document-flow.views.registration.denied')}}</span>
            </template>
          </v-radio>
        </v-radio-group>
      </div>
    </div>
    <!-- /Состояние -->

		<div class="mt-7">
			<v-row>
        <!-- Тип -->
        <v-col md="4">
          <div class="app-input">
            <span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.type') }}</span>

            <v-select
              v-model="indexTableFilters.__type"
              :items="letterTypeList"
              return-object
              outlined
              item-text="title"
              item-value="type"
              background-color="var(--input-bg)"
              hide-details
              clearable
              @input="handleType"
            >
              <template #append>
                <v-icon>mdi-chevron-down</v-icon>
              </template>
            </v-select>
          </div>
        </v-col>
        <!-- Тип -->

        <!-- Рег. номер -->
        <v-col md="4">
          <div class="app-input">
            <span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.registration-number') }}</span>

            <v-text-field
              v-model="indexTableFilters.register_number"
              outlined
              background-color="var(--input-bg)"
              hide-details
              clearable
            />
          </div>
        </v-col>
        <!-- /Рег. номер -->

        <!-- Рег. дата -->
        <v-col md="4">
          <div class="app-input">
            <span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.registration-date') }}</span>

            <app-date-picker
              v-model="indexTableFilters.__register_date"
              with-input
              range
              background-color="var(--input-bg)"
              clearable
              @emit:up="(value) => setDateSelect({ value, state: indexTableFilters, start: 'register_start_date', end: 'register_end_date' })"
              @clickClear="clearDateSelect({ state: indexTableFilters, start: 'register_start_date', end: 'register_end_date' })"
            />
          </div>
        </v-col>
        <!-- /Рег. дата -->

				<!-- Куратор -->
				<v-col md="4">
					<div class="app-input">
						<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('document-flow.views.send-document.to-whom') }}</span>

						<app-autocomplete
							v-model="indexTableFilters.__curator"
							api-list-url="/user/search/"
							item-value="id"
							item-text="full_name"
							cache-items
							outlined
							hide-details
							clearable
							return-object
							@click:clear="clearCuratorUser"
							@input="handeCuratorUser"
						/>

						<template v-if="indexTableFilters.__curator">
							<div class="d-flex align-center mt-1">
								<v-chip
									color="primary"
									small
									class="mr-2"
								>
									<span>{{ indexTableFilters.__curator.full_name }}</span>
								</v-chip>

								<v-btn
									color="error"
									icon
									small
									@click="clearCuratorUser"
								>
									<trash2-icon size="18" />
								</v-btn>
							</div>
						</template>
					</div>
				</v-col>
				<!-- /Куратор -->

				<!-- Автор -->
				<v-col md="4">
					<div class="app-input">
						<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('components.author') }}</span>

						<app-autocomplete
							v-model="indexTableFilters.__author"
							api-list-url="/user/search/"
							item-value="id"
							item-text="full_name"
							cache-items
							outlined
							hide-details
							clearable
							return-object
							@click:clear="clearAuthorUser"
							@input="handeAuthorUser"
						/>

						<template v-if="indexTableFilters.__author">
							<div class="d-flex align-center mt-1">
								<v-chip
									color="primary"
									small
									class="mr-2"
								>
									<span>{{ indexTableFilters.__author.full_name }}</span>
								</v-chip>

								<v-btn
									color="error"
									icon
									small
									@click="clearAuthorUser"
								>
									<trash2-icon size="18" />
								</v-btn>
							</div>
						</template>
					</div>
				</v-col>
				<!-- /Автор -->

				<!-- Филиал -->
				<v-col md="4">
					<div class="app-input">
						<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('receiver_branch') }}</span>

						<autocomplete
							v-model="indexTableFilters.__branches"
							api-list-url="/filials/"
							:api-params="{ condition: 'A' }"
							item-text="name"
							item-value="id"
							list-type="list"
							cache-items
							clearable
							return-object
							@click:clear="clearBranches"
							@input="handeBranches"
						/>

						<template v-if="indexTableFilters.__branches">
							<div class="d-flex align-center mt-1">
								<v-chip
									color="primary"
									small
									class="mr-2"
								>
									<span>{{ indexTableFilters.__branches.name }}</span>
								</v-chip>

								<v-btn
									color="error"
									icon
									small
									@click="clearBranches"
								>
									<trash2-icon size="18" />
								</v-btn>
							</div>
						</template>
					</div>
				</v-col>
				<!-- /Филиал -->

				<!-- Департамент -->
				<v-col md="4">
					<div class="app-input">
						<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('receiver_department') }}</span>

						<autocomplete
							v-model="indexTableFilters.__departments"
							api-list-url="/departments/department_without_children/"
							:api-params="{
		            filial: currentUser.filial,
		            page_size: 50
		          }"
							item-text="name"
							item-value="id"
							list-type="list"
							cache-items
							clearable
							return-object
							@click:clear="clearDepartments"
							@input="handeDepartments"
						/>

						<template v-if="indexTableFilters.__departments">
							<div class="d-flex align-center mt-1">
								<v-chip
									color="primary"
									small
									class="mr-2"
								>
									<span>{{ indexTableFilters.__departments.name }}</span>
								</v-chip>

								<v-btn
									color="error"
									icon
									small
									@click="clearDepartments"
								>
									<trash2-icon size="18" />
								</v-btn>
							</div>
						</template>
					</div>
				</v-col>
				<!-- /Департамент -->

				<!-- Корреспондент -->
				<v-col md="4">
					<div class="app-input">
						<span class="d-block font-600 small-2 mb-2 text-7">{{ $t('receiver_organization') }}</span>

						<autocomplete
							v-model="indexTableFilters.__organizations"
							api-list-url="/action/correspondent/"
							:api-params="{
		            is_for_compose: true,
		            page_size: 50
		          }"
							item-text="organization_name"
							item-value="id"
							list-type="list"
							cache-items
							clearable
							return-object
							@click:clear="clearOrganizations"
							@input="handeOrganizations"
						/>

						<template v-if="indexTableFilters.__organizations">
							<div class="d-flex align-center mt-1">
								<v-chip
									color="primary"
									small
									class="mr-2"
								>
									<span>{{ indexTableFilters.__organizations.organization_name }}</span>
								</v-chip>

								<v-btn
									color="error"
									icon
									small
									@click="clearOrganizations"
								>
									<trash2-icon size="18" />
								</v-btn>
							</div>
						</template>
					</div>
				</v-col>
				<!-- /Корреспондент -->
      </v-row>
		</div>
	</div>
</template>

<script>
import { mapActions, mapGetters, mapState } from "vuex"
import { Trash2Icon } from "vue-feather-icons"

export default {
	name: "SignTableFilter",
  components: {
    Trash2Icon
  },
  data() {
    return {
      letterTypeList: [
        { title: 'Рапорт', value: 3, type: "notice" },
        { title: 'Внутренний', value: 3, type: "service_letter" },
        { title: 'Исходящий', value: 4, type: "service_letter " },
        { title: 'Протокол правления', value: 6, type: "protocol" },
        { title: 'Протокол комитета', value: 6, type: "credit_committee" },
        { title: 'Заявление', value: 7, type: "hr_application" },
        { title: 'Распоряжения', value: 6, type: "decree" },
        { title: 'Акт', value: 15, type: "act" },
        { title: "Созданные приказы", value: 6, type: "hr_order" },
        { title: "В другие организации", value: 4, type: "organization_letter" },
        { title: "Акт выполненных услуг", value: 3, type: "retail_act" }
      ]
    }
  },
	computed: {
		...mapState({
      statusList: state => state.statusList,
      documentStateList: state => state.documentStateList,
      journalList: state => state.journalList,
			indexTableFilters: state => state.documentFlowBoxesSign.indexTableFilters
		}),
    /*
    *
    * */
    ...mapGetters({
      currentUser: "auth/getCurrentUser",
    }),
    /*
    *
    * */
    documentReferenceUrl() {
      return `/docflow/${this.currentUser.filial}/reference/`
    },
	},
  methods: {
    ...mapActions({
      setDateSelect: "setDateSelect",
      clearDateSelect: "clearDateSelect",
    }),
    /*
    *
    * */
	  handeCuratorUser() {
		  this.indexTableFilters.curator_name = this.indexTableFilters.__curator.full_name
		  this.indexTableFilters.curator = this.indexTableFilters.__curator.id
	  },
	  /**/
	  handeAuthorUser() {
		  this.indexTableFilters.author_name = this.indexTableFilters.__author.full_name
		  this.indexTableFilters.author = this.indexTableFilters.__author.id
	  },
	  /**/
	  handeBranches() {
		  this.indexTableFilters.branches_name = this.indexTableFilters.__branches.name
		  this.indexTableFilters.branches = this.indexTableFilters.__branches.id
	  },
	  /**/
	  handeDepartments() {
		  this.indexTableFilters.departments_name = this.indexTableFilters.__departments.name
		  this.indexTableFilters.departments = this.indexTableFilters.__departments.id
	  },
	  /**/
	  handeOrganizations() {
		  this.indexTableFilters.organizations_name = this.indexTableFilters.__organizations.organization_name
		  this.indexTableFilters.organizations = this.indexTableFilters.__organizations.id
	  },
	  /*
		*
		* */
	  clearCuratorUser() {
		  this.indexTableFilters.__curator = null
		  this.indexTableFilters.curator = null
		  this.indexTableFilters.curator_name = null
	  },
	  /**/
	  clearAuthorUser() {
		  this.indexTableFilters.__author = null
		  this.indexTableFilters.author = null
		  this.indexTableFilters.author_name = null
	  },
	  /**/
	  clearBranches() {
		  this.indexTableFilters.__branches = null
		  this.indexTableFilters.branches = null
		  this.indexTableFilters.branches_name = null
	  },
	  /**/
	  clearDepartments() {
		  this.indexTableFilters.__departments = null
		  this.indexTableFilters.departments = null
		  this.indexTableFilters.departments_name = null
	  },
	  /**/
	  clearOrganizations() {
		  this.indexTableFilters.__organizations = null
		  this.indexTableFilters.organizations = null
		  this.indexTableFilters.organizations_name = null
	  },
    /*
    *
    * */
    handleType() {
      this.indexTableFilters.type = this.indexTableFilters.__type.type
      this.indexTableFilters.journal_id = this.indexTableFilters.__type.value
    }
  }
}
</script>
