<template>
	<div class="phone-number-view d-flex w-100 h-100 justify-center">
		<div class="auth-form w-100">
			<h2 class="font-700 color-text-1 mb-7">{{$t('auth.enter-code.enter-code')}}</h2>
			<div class="otp-cover">
				<v-otp-input
					v-model="$v.otp.$model"
					:error="$v.otp.$error"
					type="number"
					length="5"
					class="mb-4"
					background-color="var(--bg-3)"
				></v-otp-input>
			</div>

			<h6 class="small-3 font-400 mb-16">
				<template v-if="locale === 'ru'">
					Вы получите смс код в течение <span class="color-primary">{{ countDown.minute }}:{{ countDown.second }} минут</span> на <span class="font-weight-bold">+{{
						this.phone_number
					}}</span>
				</template>
				<template v-else>
					<span class="color-primary">{{ countDown.minute }}:{{ countDown.second }} minut ichida</span>
					<span class="font-weight-bold">+{{this.phone_number}}</span>
					<span>raqamiga sms kod keladi</span>
				</template>
			</h6>

			<div
				class="d-flex align-center"
				:class="isCountDownEnd ? 'justify-space-between' : 'justify-end'"
			>
				<div
					@click.prevent="resend"
					class="align-center pointer"
					:class="isCountDownEnd ? 'd-flex' : 'd-none'"
				>
					<v-icon size="18" color="primary">mdi-reload</v-icon>
					<span class="ml-2 color-primary">{{$t('auth.enter-code.resend')}}</span>
				</div>
				<app-button
					@click.prevent="send"
					min-width="100"
					min-height="40"
					depressed
				>
					<template #default>
						{{$t('auth.enter-code.send')}}
					</template>
				</app-button>
			</div>
		</div>
	</div>
</template>

<script>
import { getLocale } from "@/plugins/i18n";
import { required } from "vuelidate/lib/validators";
export default {
	name: "EnterVerificationCode",
	data() {
		return {
			otp: "",
			phone_number: "",
			countDown: {
				minute: 2,
				second: '00'
			},
			countInterval: 0,
			isCountDownEnd: false,
			locale: 'uz',
		}
	},
	validations: {
		otp: {required}
	},
	mounted() {
		this.phone_number = this.$route.params.phone;
		this.countDownMinute(2);
		this.locale = getLocale();
	},
	methods: {
		send() {
			this.$v.$touch();

			if (this.$v.$invalid) {
				this.$toast.warning(this.$t('auth.enter-code.required-field'))
				return;
			}
			this.$http.post(`/user/verify/phone/${this.phone_number}/${this.otp}/`)
				.then(({data}) => {
					this.$router.push({name: 'AuthRegisterResetPassword', params: {phone: this.phone_number}})
				})
				// .catch((error) => {
				// 	this.$toast.error(error.data.detail.ru)
				// })
		},
		resend(){
			this.countDownMinute(2);

			let model = {
				phone_number: this.phone_number
			}
			this.$http.post(`/user/send_code/`, model)

			this.isCountDownEnd = false;
		},
		/**/
		countDownMinute(count) {
			let countFormat = count * 60;
			let countSecond = 60;
			let countMinute = null;

			this.countInterval = setInterval(() => {
				if (countSecond <= 0) {
					countSecond = 60
				}

				if (countFormat <= 0) {
					clearInterval(this.countInterval)
					this.isCountDownEnd = true;

					return false;
				}

				countFormat--
				countSecond--

				countMinute = Math.floor(countFormat / 60)
				this.countDown.minute = countMinute
				this.countDown.second = countSecond
			}, 1000)
		},
		/**/
		clearCountDown() {
			this.countDown.minute = this.countDown.second = 0
			this.isCountDownEnd = false
			clearInterval(this.countInterval)
		},
	}
}
</script>

<style scoped>
.otp-cover{
	max-width: 350px;
}

</style>
