<template>
	<div class="phone-number-view d-flex w-100 h-100 justify-center">
		<div class="auth-form w-100">
			<h2 class="font-700 color-text-1 mb-7">{{$t('auth.enter-phone.enter-phone')}}</h2>

			<div class="app-input mb-10">
				<v-text-field
					v-model="$v.phoneModel.phone_number.$model"
					:error="$v.phoneModel.phone_number.$error"
					:placeholder="$t('auth.enter-phone.phone')"
					outlined
					hide-details
					background-color="var(--bg-3)"
					v-mask="'+998 (##) ### ## ##'"
				></v-text-field>
			</div>

			<div class="d-flex justify-space-between align-center">
				<router-link
					:to="{ name: 'AuthLogin' }"
					class="text-decoration-none"
				>
					<v-icon size="20" color="primary">mdi-chevron-left</v-icon>
					{{$t('auth.enter-phone.back')}}
				</router-link>
				<app-button
					@click="send"
					min-width="100"
					min-height="40"
					depressed
				>
					<template #default>
						{{$t('auth.enter-phone.next')}}
					</template>
				</app-button>
			</div>

		</div>
	</div>
</template>

<script>
import { required } from "vuelidate/lib/validators";
export default {
	name: "EnterPhoneNumber",
	data() {
		return {
			phoneModel: {
				phone_number: "",
			}
		}
	},
	validations: {
		phoneModel: {
			phone_number: { required }
		}
	},
	methods: {
		send() {
			this.$v.$touch();

			if (this.$v.$invalid) {
				this.$toast.warning(this.$t('auth.enter-phone.required-field'))
				return;
			}

			let model = {
				phone_number: this.phoneModel.phone_number.replace(/\D/g, ""),
			}
			if (model.phone_number.length <= 8){
				this.$toast.warning(this.$t('auth.enter-phone.phone-invalid'))
			}

			this.$http.post(`/user/send_code/`, model)
			.then(({ data }) => {
				this.$router.push({ name: 'AuthRegisterVerificationCode', params: { phone: data.phone_number } })
			})
			.catch(() => {
				alert(this.$t('auth.enter-phone.login-error'))
			})
		}
	}
}
</script>

<style>
.privacy-policy .v-input--selection-controls {
	margin: 0!important;
	padding: 0!important;
}
</style>
