<template>
	<div class="auth-view__form d-flex flex-column align-center w-100 h-100 px-16">
		<div class="ma-16 d-flex justify-space-between w-100 align-center">
			<span class="font-weight-bold heading-8 color-primary">Intranet</span>
			<a href="https://check.asakabank.uz/check-document" target="_blank"><span class="font-500 small-1 color-primary">{{$t('auth.login-with-add.check-document')}}</span></a>
			<app-button
				:to="{ name: 'AuthRegister' }"
				min-width="120"
				min-height="40"
				depressed
				outlined
			>
				<template #default>
					{{$t('auth.login-with-add.verify-phone')}}
				</template>
			</app-button>
		</div>
		<div class="d-flex flex-column align-center">
			<span class="color-primary">{{$t('auth.login-with-add.portal-is-test-mode')}}</span>
			<router-link :to="{ name: 'BasePhoneBookHome' }">
				<strong>{{$t('auth.login-with-add.go-help-center')}}</strong>
			</router-link>
		</div>
		<div class="login-or-eri auth-form w-100 mt-16 d-flex align-center pa-1">
			<v-col md="4">
				<router-link
					:to="{ name: 'AuthLoginWithPhone' }"
					class="text-decoration-none text-dark"
				>
					<div class="d-flex justify-center align-center pointer">
						<span>{{$t('auth.login-with-add.login')}}</span>
					</div>
				</router-link>
			</v-col>

			<v-col md="4" class="pa-0 h-100">
				<div class="login d-flex justify-center align-center w-100 h-100">
					<span class="text-white">{{$t('auth.login-with-add.add')}}</span>
				</div>
			</v-col>

			<v-col md="4">
				<router-link
					:to="{ name: 'AuthLoginWithERI' }"
					class="text-decoration-none text-dark"
				>
					<div class="d-flex justify-center align-center pointer">
						<span>{{$t('auth.login-with-add.eds')}}</span>
					</div>
				</router-link>
			</v-col>
		</div>
		<v-form @submit.prevent="send" class="auth-form w-100 text-center mt-10 mb-16">
			<h2 class="font-700 color-text-1 mb-10">{{$t('auth.login-with-add.login-system')}}</h2>

			<v-alert
				outlined
				type="warning"
				prominent
				border="left"
				color="primary"
			>
				<span class="text-black small-2">{{$t('auth.login-with-add.only-head-office')}}</span>
			</v-alert>

			<div class="app-input mb-7">
				<v-text-field
					v-model="$v.userModel.username.$model"
					:error="$v.userModel.username.$error"
					placeholder="Active Directory Login"
					outlined
					hide-details
					background-color="var(--bg-3)"
				></v-text-field>
			</div>

			<div class="app-input mb-7">
				<v-text-field
					@click:append="show = !show"
					v-model="$v.userModel.password.$model"
					:error="$v.userModel.password.$error"
					:placeholder="$t('auth.login-with-add.password')"
					:append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
					outlined
					hide-details
					background-color="var(--bg-3)"
					:type="show ? 'text' : 'password'"
				></v-text-field>
			</div>

			<div class="d-flex align-center justify-space-between">
				<router-link
					class="text-decoration-none"
					:to="{ name: 'AuthRegister' }"
				>
					<span class="color-primary">{{$t('auth.login-with-add.reset-password')}}</span>
				</router-link>
				<app-button
					min-width="120"
					min-height="40"
					depressed
					type="submit"
				>
					<template #default>
						{{$t('auth.login-with-add.login-system')}}
					</template>
				</app-button>
			</div>
		</v-form>
	</div>
</template>

<script>
import { required } from "vuelidate/lib/validators";

export default {
	name: "LoginWIthAD",
	data() {
		return {
			userModel: {
				username: "",
				password: ""
			},
			show: false
		}
	},
	validations: {
		userModel: {
			username: {required},
			password: {required}
		}
	},
	methods: {
		send() {
			this.$v.$touch();

			if (this.$v.$invalid) {
				this.$toast.warning(this.$t('auth.login-with-add.required-field'))
				return;
			}

			let model = {
				username: this.userModel.username.toLowerCase(),
				password: this.userModel.password
			}

      this.$store.dispatch('auth/loginWithAD', model)
      .then((data) => {
        this.$router.push({name: 'MainDashboard'})
        this.$toast.success(this.$t('auth.login-with-add.hello') + ' ' + data.first_name + ' ' + data.last_name)
      })
      .catch((error) => {
        // this.$toast.error(error.data[0])
      })
		},
	}
}
</script>

<style scoped>

</style>
