<template>
	<div class="auth-view">
		<div class="w-100">
			<v-row class="h-100">
				<v-col md="6">
<!--					<img src="@/assets/img/registration.png" alt="Login image" class="w-100 h-100 img-cover">-->
          <div class="news-wrapper text-white">
            <hooper
              class="app-hooper vh-100"
            >
              <slide
                v-for="item in getAddNewsList"
                :key="item.id"
                class="primary-bg pa-10"
              >
                <div class="h-100 d-flex flex-column justify-center pa-10 p-relative">
                  <h1 class="font-500 heading-10 text-center">{{ item.title }}</h1>

                  <p
                    class="slide-text small-2 mt-10 font-weight-thin"
                    :class="item.position === 'left' ? 'ml-auto text-right' : 'mr-auto text-left'"
                  >
                    {{ item.content }}
                  </p>

                  <div
                    class="slide-icon d-flex align-center justify-center mt-15"
                    :class="item.position === 'left' ? 'ml-auto' : 'mr-auto'"
                  >
                    <img :src="item.icon && item.icon.url" alt="Icon">
                  </div>

                  <div
                    class="slide-image d-flex align-center justify-center p-absolute"
                    :class="item.position === 'left' ? 'slide-image--left' : 'slide-image--right'"
                  >
                    <img :src="item.image && item.image.url" alt="Boy icon">
                  </div>
                </div>
              </slide>

              <hooper-pagination slot="hooper-addons"></hooper-pagination>
            </hooper>
          </div>
				</v-col>
				<v-col md="6">
					<router-view />
				</v-col>
			</v-row>
		</div>
	</div>
</template>

<script>
import { Hooper, Slide, Pagination as HooperPagination } from "hooper"
import { mapActions, mapGetters } from "vuex";

export default {
	name: "Registration",
  components: {
    Hooper,
    Slide,
    HooperPagination
  },
  computed: {
    ...mapGetters({
      getAddNewsList: "equipmentModule/getAddNewsList",
    })
  },
  mounted() {
    this.fetchAddNewsList()
  },
  methods: {
    ...mapActions({
      fetchAddNewsList: "equipmentModule/fetchAddNewsList"
    }),
  }
}
</script>
