<template>
	<div class="phone-number-view d-flex w-100 h-100 justify-center">
		<div class="auth-form w-100">
			<h2 class="font-700 color-text-1 mb-7">{{$t('auth.reset-password.reset-password')}}</h2>

			<div class="app-input">
				<v-text-field
					:value="'+'+resetPasswordModel.phone_number"
					:placeholder="$t('auth.reset-password.phone')"
					outlined
					background-color="var(--bg-3)"
					disabled
				></v-text-field>
			</div>
			<div class="app-input">
				<v-text-field
					@click:append="show = !show"
					v-model="$v.resetPasswordModel.new_password.$model"
					:error="$v.resetPasswordModel.new_password.$error"
					:rules="[rules.min]"
					:placeholder="$t('auth.reset-password.new-password')"
					outlined
					background-color="var(--bg-3)"
					:type="show ? 'text' : 'password'"
					:append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
					hide-details
				></v-text-field>

				<div class="small-2 my-2">
					<div class="d-flex gap-x-1 align-center">
						<base-iconify
							v-if="hasMinLength"
							icon="CheckCircleBold"
							class="text-success-500 size-15"
						/>
						<base-iconify
							v-else
							icon="CloseCircleBold"
							class="text-critic-500 size-15"
						/>
						<div class="" :class="hasMinLength ? 'text-success-500' : 'text-critic-500'">{{ $t('auth.reset-password.password-incorrect') }}</div>
					</div>

					<div class="d-flex gap-x-1 align-center">
						<base-iconify
							v-if="hasUppercase"
							icon="CheckCircleBold"
							class="text-success-500 size-15"
						/>
						<base-iconify
							v-else
							icon="CloseCircleBold"
							class="text-critic-500 size-15"
						/>
						<div :class="hasUppercase ? 'text-success-500' : 'text-critic-500'">{{ $t('one-uppercase-letter') }}</div>
					</div>

					<div class="d-flex gap-x-1 align-center">
						<base-iconify
							v-if="hasLowercase"
							icon="CheckCircleBold"
							class="text-success-500 size-15"
						/>
						<base-iconify
							v-else
							icon="CloseCircleBold"
							class="text-critic-500 size-15"
						/>
						<div :class="hasLowercase ? 'text-success-500' : 'text-critic-500'">{{ $t('one-lowercase-letter') }}</div>
					</div>

					<div class="d-flex gap-x-1 align-center">
						<base-iconify
							v-if="hasSymbol"
							icon="CheckCircleBold"
							class="text-success-500 size-15"
						/>
						<base-iconify
							v-else
							icon="CloseCircleBold"
							class="text-critic-500 size-15"
						/>
						<div :class="hasSymbol ? 'text-success-500' : 'text-critic-500'">{{ $t('one-symbol') }}</div>
					</div>
				</div>
			</div>
			<div class="app-input mb-7">
				<v-text-field
					@click:append="show = !show"
					v-model="$v.resetPasswordModel.confirm_password.$model"
					:error="$v.resetPasswordModel.confirm_password.$error"
					:placeholder="$t('auth.reset-password.confirm-password')"
					outlined
					background-color="var(--bg-3)"
					:error-messages="isConfirmTouch ? notSamePasswordText : ''"
					:type="show ? 'text' : 'password'"
					:append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
				></v-text-field>
			</div>
			<div class="d-flex justify-end align-center">
				<app-button
					@click="send"
					min-width="50"
					min-height="40"
					depressed
					:loading="loading"
				>
					<template #default>
						{{$t('auth.reset-password.login')}}
					</template>
				</app-button>
			</div>
		</div>
	</div>
</template>

<script>
import { minLength, required, sameAs } from "vuelidate/lib/validators";

export default {
	name: "ResetPassword",
	data(){
		return {
			isConfirmTouch: false,
			loading: false,
			resetPasswordModel: {
				phone_number: "",
				new_password: "",
				confirm_password: ""
			},
			show: false,
			rules: {
				min: (v) => v.length >= 8 || this.$t('auth.reset-password.password-incorrect')
			}
		}
	},
	validations: {
		resetPasswordModel: {
			phone_number: { required },
			new_password: {
				required,
				minLength: minLength(8)
			},
			confirm_password: {
				required,
				sameAsPassword: sameAs(function () {
					return this.resetPasswordModel.new_password
				})
			}
		}
	},
	watch: {
		'resetPasswordModel.confirm_password'(val){
			this.isConfirmTouch = val !== '';
		}
	},
	computed: {
		notSamePasswordText(){
			if (this.resetPasswordModel.new_password !== this.resetPasswordModel.confirm_password){
				return this.$t('auth.reset-password.passwords-not-match')
			}
			return ''
		},
		// Indicator states for each requirement
		hasMinLength() {
			return this.resetPasswordModel.new_password.length >= 8;
		},
		hasUppercase() {
			return /[A-Z]/.test(this.resetPasswordModel.new_password);
		},
		hasLowercase() {
			return /[a-z]/.test(this.resetPasswordModel.new_password);
		},
		hasSymbol() {
			return /[\W_]/.test(this.resetPasswordModel.new_password);
		},
		isPasswordValid() {
			return this.hasUppercase && this.hasLowercase && this.hasSymbol;
		}
	},
	mounted() {
		this.resetPasswordModel.phone_number = this.$route.params.phone
	},
	methods: {
		send(){
			this.$v.$touch();

			if (this.$v.$invalid || !this.isPasswordValid) {
				return;
			}
			this.loading = true

			let model = {
				phone_number: this.resetPasswordModel.phone_number,
				new_password: this.resetPasswordModel.new_password
			}
			this.$http.put(`/user/set/password/`, model)
			.then(({ data }) => {
				this.$router.push({ name: 'AuthLogin' })
			})
			.catch(err => {
				console.log(err)
			})
			.finally(() => {
				this.loading = false
			})
		}
	}
}
</script>

<style scoped>

</style>
