<template>
	<div class="d-flex align-center justify-center h-100">
		<app-loader v-if="getLoading" content-width :size="58" />
		<template v-else>
			<div class="d-flex mt-5 overflow-hidden w-100 h-100">
				<div class="d-flex flex-column p-relative w-100">
					<div class="d-flex flex-column h-100 bg-4 rounded-20 pa-1 overflow-hidden h-100">
						<perfect-scrollbar class="d-flex flex-column flex-1 h-100">
							<app-table
								bordered
								:table-width="1800"
							>
								<template #tableHeader>
									<th>{{$t('document-flow.views.registration.document-type')}}</th>
									<th>{{$t('document-flow.views.registration.registration-number')}}</th>
									<th>{{$t('document-flow.views.registration.registration-date')}}</th>
									<th>{{$t('document-flow.views.registration.content')}}</th>
									<th>{{$t('document-flow.views.registration.subdivision')}}</th>
									<th v-if="currentUser.role === 'admin'">{{$t('document-flow.views.registration.action')}}</th>
								</template>
								<template #tableBody>
									<template v-if="outgoingDocumentsList.length">
										<template v-for="document in outgoingDocumentsList">
											<tr>
												<td>
													<router-link :to="{name: 'OutgoingDocumentRegistrationFormShow', params: { id: document.id }}" class="text-decoration-none text-dark font-500">
														{{ document.doc_type && document.doc_type.name }}
													</router-link>
												</td>
												<td>
													<router-link :to="{name: 'OutgoingDocumentRegistrationFormShow', params: { id: document.id }}" class="text-decoration-none text-dark font-500">
														{{ document.register_number }}
													</router-link>
												</td>
												<td>
													<router-link :to="{name: 'OutgoingDocumentRegistrationFormShow', params: { id: document.id }}" class="text-decoration-none text-dark font-500">
														{{ document.register_date | filterCalendarToTime }}
													</router-link>
												</td>
												<td width="300">
													<router-link :to="{name: 'OutgoingDocumentRegistrationFormShow', params: { id: document.id }}" class="text-decoration-none text-dark font-500">
														<span v-html="document.text"></span>
													</router-link>
												</td>
												<td>
													<router-link :to="{name: 'OutgoingDocumentRegistrationFormShow', params: { id: document.id }}" class="text-decoration-none text-dark font-500">
														{{ document.filial && document.filial.name }}
													</router-link>
												</td>
												<td v-if="currentUser.role === 'admin'" class="text-center">
													<app-button
														@click="deleteRow(document.id)"
														icon
														min-width="40"
														width="40"
														height="40"
														color="var(--primary-4)"
													>
														<trash2-icon size="18" />
													</app-button>
												</td>
											</tr>
										</template>
									</template>

									<template v-else>
										<tr class="table-not-found">
											<td colspan="12">
												<div class="pa-4 text-center">
													<h2 class="font-600">{{$t('document-flow.views.registration.nothing-yet')}}</h2>
												</div>
											</td>
										</tr>
									</template>
								</template>
							</app-table>
						</perfect-scrollbar>

						<div class="d-flex align-center justify-space-between py-2 px-4 border-top">
              <span class="small-2 font-500 text-dark">
<!--                1-10 из 195 позиций-->
              </span>

							<app-pagination @emit:up="paginate" />
						</div>
					</div>
				</div>
			</div>
		</template>
	</div>
</template>

<script>
import SearchUsersBelow from "@/common/components/SearchUsersBelow";
import { TABLE_HEAD_TEXT_LIST } from "@/common/constants";
import { selectFromList } from "@/common/helpers";
import { MoreVerticalIcon, Trash2Icon } from "vue-feather-icons";
import { mapActions, mapGetters, mapState } from "vuex";
export default {
	name: "index",
	components: {
		MoreVerticalIcon,
		Trash2Icon,
		SearchUsersBelow
	},
	data() {
		return {
			documentTypeSearch: null,
			departmentTypeSearch: null,
		}
	},
	computed: {
    ...mapState({
      filteredState: state => state.headerFilter.filteredState,
      filterPagination: state => state.headerFilter.pagination,
    }),
    /*
    *
    * */
		...mapGetters({
			getLoading: "documentFlowModule/getIsListLoading",
			outgoingDocumentsList: "documentFlowModule/getOutgoingDocumentsList",
			departmentList: "documentFlowModule/getDepartmentList",
			docTypeCorrespondList: "documentFlowModule/getDocTypeCorrespondList",
			currentUser: "auth/getCurrentUser",
			getHeaderFilters: "documentFlowModule/getHeaderFilters",
		}),
		docTypeList() {
			return this.docTypeCorrespondList.filter(item => item.type === 'doc_type')
		},
		/*
		*
		* */
		tableListSelect() {
			return selectFromList([30, 2, 3, 7, 33, 19], TABLE_HEAD_TEXT_LIST)
		},
		/**/
		firstDayOfMonth(){
			let month = new Date().getMonth() + 1
			if (month < 10){
				month = "0" + month
			}
			return new Date().getFullYear() + "-" + month  + "-01"
		}
	},
	watch: {
		documentTypeSearch(value) {
			this.fetchDocTypeCorrespondList({
				search: value
			})
		},
	},
	created() {
		this.fetchDepartmentList()
		// this.fetchOutgoingDocumentList({
		// 	register_start_date: this.firstDayOfMonth
		// })
		this.fetchDocTypeCorrespondList()
	},
	// beforeDestroy() {
	// 	this.fetchClearHeaderFilter()
	// },
	methods: {
		...mapActions({
			fetchDepartmentList: "documentFlowModule/fetchDepartmentList",
			fetchOutgoingDocumentList: "documentFlowModule/fetchOutgoingDocumentList",
			fetchDocTypeCorrespondList: "documentFlowModule/fetchDocTypeCorrespondList",
			fetchDeleteRow: "documentFlowModule/deleteRow",
			fetchClearHeaderFilter: "documentFlowModule/fetchClearHeaderFilter",
		}),
		/*
		*
		* */
		deleteRow(id) {
			if(!confirm(this.$t('document-flow.views.registration.delete-description'))) {
				return
			}

			let payload = {
				apiUrl: `/docflow/${this.$store.getters['auth/getCurrentUser'].filial}/outgoing/${id}/`
			}

			this.fetchDeleteRow(payload).then(() => {
				this.$toast.success(this.$t('document-flow.views.registration.deleted'));
				this.fetchOutgoingDocumentList(this.filteredState)
			})
				// .catch((error) => {
				// 	this.$toast.error(error.data.detail)
				// });
		},
		/*
		*
		* */
		clearFilter() {
			const { form } = this.$refs

			form.reset()
		},
		/**/
		paginate(value) {
      let query = {
        ...this.filteredState,
        page: value,
        // register_start_date: this.getHeaderFilters.register_start_date
      }

      this.filterPagination.page = value

      this.$router.replace({
        query: query
      }).catch(() => {})

			this.fetchOutgoingDocumentList({
        ...query
			})
		}
	}
}
</script>

<style scoped>

</style>
