<template>
  <div class="credit-monitoring-head d-flex flex-column h-100">
    <app-wrapper>
      <template #body>
        <div class="d-flex align-center">
          <h3 class="line-base mr-4">{{ branchById.name }}</h3>
        </div>
      </template>
    </app-wrapper>

    <div class="d-flex mt-5 overflow-hidden w-100 h-100">
      <div class="d-flex flex-column p-relative w-100">
        <app-loader v-if="subFoldersLoading" full-width :size="58" />

        <template v-else>
          <div class="d-flex flex-column rounded-20 pa-1 overflow-hidden h-100">
            <perfect-scrollbar class="d-flex flex-column flex-1 h-100">
              <div>
                <v-row>
                  <!-- Загрузка файлов  -->
                  <v-col md="2">
                    <app-wrapper
                      class="p-relative overflow-hidden"
                      style="height: 225px"
                    >
                      <template #body>
                        <div class="d-flex align-center justify-center flex-column h-100">
                          <v-btn
                            color="#fff"
                            depressed
                            rounded
                            fab
                            class="pa-0"
                          >
                            <label for="upload" class="d-block w-100 pointer" style="height: 56px">
                              <div class="d-flex align-center justify-center w-100 h-100 border-all rounded-50">
                                <file-plus-icon />
                              </div>
                            </label>
                          </v-btn>

                          <span class="font-500 mt-2">Загрузить файл</span>

                          <span class="d-block text-center size-13 font-600 mt-2 text-dark-grey">Имя файла должен быть на латинском и с большими буквами</span>

                          <v-file-input
                            @change="uploadFiles"
                            id="upload"
                            multiple
                            label="File input"
                            class="d-none"
                          ></v-file-input>
                        </div>
                      </template>
                    </app-wrapper>
                  </v-col>
                  <!-- /Загрузка файлов  -->

                  <!-- Создание папки -->
                  <v-col md="2">
                    <app-wrapper
                      class="p-relative overflow-hidden"
                      style="height: 225px"
                    >
                      <template #body>
                        <div class="d-flex align-center justify-center flex-column h-100">
                          <v-btn
                            @click="createFolderDialog = true"
                            color="#fff"
                            depressed
                            rounded
                            fab
                          >
                            <folder-plus-icon />
                          </v-btn>

                          <span class="font-500">Создать папку</span>
                        </div>
                      </template>
                    </app-wrapper>
                  </v-col>
                  <!-- /Создание папки -->

                  <!-- Созданные папки -->
                  <template v-for="folder in subFoldersList">
                    <v-col md="2" :key="folder.id">
                      <v-hover v-slot="{ hover }">
                        <app-wrapper class="p-relative overflow-hidden" style="height: 225px">
                          <template #body>
                            <div class="d-flex align-center justify-center h-100">
                              <div class="text-center">
                                <folder-icon />
                                <span class="font-500 d-block mt-2">{{ folder.name }}</span>
                              </div>
                            </div>

                            <v-expand-transition>
                              <div
                                v-if="hover"
                                class="p-absolute w-100 h-100 d-flex align-center justify-center white--text"
                                style="bottom: 0; left: 0; background: var(--text-7)"
                              >
                                <app-tooltip top>
                                  <template #content>
                                    <v-btn
                                      :to="{ name: 'ShowFolderNestedFiles', params: {  folderId: folder.id, parentId: folder.parent } }"
                                      color="#fff"
                                      depressed
                                      rounded
                                      fab
                                    >
                                      <eye-icon />
                                    </v-btn>
                                  </template>

                                  <template #text>
                                    Просмотр папку
                                  </template>
                                </app-tooltip>

                                <app-tooltip top>
                                  <template #content>
                                    <v-btn
                                      @click="changeFolderName(folder)"
                                      color="warning"
                                      depressed
                                      rounded
                                      fab
                                      class="ml-3"
                                    >
                                      <edit3-icon />
                                    </v-btn>
                                  </template>

                                  <template #text>
                                    Изменить папку
                                  </template>
                                </app-tooltip>
                              </div>
                            </v-expand-transition>
                          </template>
                        </app-wrapper>
                      </v-hover>
                    </v-col>
                  </template>
                  <!-- /Созданные папки -->

                  <!-- Загруженные файлы -->
                  <template v-for="{ files } in filesList">
                    <template v-for="file in files">
                      <v-col md="2" :key="file.id">
                        <v-hover v-slot="{ hover }">
                          <app-wrapper class="p-relative overflow-hidden" style="height: 225px">
                            <template #body>
                              <div class="d-flex align-center justify-center h-100">
                                <div class="text-center">
                                  <file-text-icon />
                                  <span class="font-500 d-block mt-2">{{ file.name }}</span>
                                  <span class="font-500 d-block mt-2 small-2">Дата создание: {{ file.created_date | filterCalendarToTime }}</span>
                                </div>
                              </div>

                              <v-expand-transition>
                                <div
                                  v-if="hover"
                                  class="p-absolute w-100 h-100 d-flex align-center justify-center white--text"
                                  style="bottom: 0; left: 0; background: var(--text-7)"
                                >
                                  <app-tooltip top>
                                    <template #content>
                                      <v-btn
                                        tag="a"
                                        :href="file.url"
                                        target="_blank"
                                        color="#fff"
                                        depressed
                                        rounded
                                        fab
                                      >
                                        <eye-icon />
                                      </v-btn>
                                    </template>

                                    <template #text>
                                      Просмотр файла
                                    </template>
                                  </app-tooltip>
                                </div>
                              </v-expand-transition>
                            </template>
                          </app-wrapper>
                        </v-hover>
                      </v-col>
                    </template>
                  </template>
                  <!-- /Загруженные файлы -->
                </v-row>
              </div>
            </perfect-scrollbar>
          </div>
        </template>
      </div>
    </div>

    <!-- Модалка для создание папки -->
    <v-dialog
      v-model="createFolderDialog"
      width="595"
      content-class="generate-wrap reset-dialog-style"
    >
      <div class="d-flex flex-column bg-white pa-5 p-relative overflow-y-auto">
        <div class="bg-white d-flex w-100 align-center justify-space-between">
          <h3>Создать папку</h3>
          <app-button
            icon
            color="error"
            min-width="40"
            width="40"
            height="40"
            tile
            @click="createFolderDialog = false"
          >
            <x-icon/>
          </app-button>
        </div>

        <div class="mt-3 mb-5">
          <div class="app-input">
            <v-text-field
              v-model="$v.createFolderModel.name.$model"
              :error="$v.createFolderModel.name.$error"
              outlined
              hide-details
              placeholder="Название папки"
              background-color="var(--input-bg)"
            />
          </div>
        </div>

        <div class="text-center">
          <app-button @click="createFolder">
            <template #prepend>
              <folder-plus-icon />
            </template>

            <template #default>
              Создать папку
            </template>
          </app-button>
        </div>
      </div>
    </v-dialog>
    <!-- /Модалка для создание папки -->

    <!-- Модалка для изменение название папки -->
    <v-dialog
      v-model="editFolderDialog"
      width="595"
      content-class="generate-wrap reset-dialog-style"
    >
      <div class="d-flex flex-column bg-white pa-5 p-relative overflow-y-auto">
        <div class="bg-white d-flex w-100 align-center justify-space-between">
          <h3>Изменить название папки</h3>
          <app-button
            icon
            color="error"
            min-width="40"
            width="40"
            height="40"
            tile
            @click="editFolderDialog = false"
          >
            <x-icon/>
          </app-button>
        </div>

        <div class="mt-3 mb-5">
          <div class="app-input">
            <v-text-field
              v-model="$v.editSelectedFolder.name.$model"
              :error="$v.editSelectedFolder.name.$error"
              outlined
              hide-details
              placeholder="Название папки"
              background-color="var(--input-bg)"
            />
          </div>
        </div>

        <div class="text-center">
          <app-button @click="updateFolderName">
            <template #prepend>
              <edit3-icon size="18" />
            </template>

            <template #default>
              Изменить папку
            </template>
          </app-button>
        </div>
      </div>
    </v-dialog>
    <!-- /Модалка для изменение название папки -->

    <!-- Лоадер загрузка файлов -->
    <app-loader v-if="uploadingFilesLoading" content-width />
    <!-- /Лоадер загрузка файлов -->
  </div>
</template>

<script>
import { mapActions, mapState, mapGetters, mapMutations } from "vuex"
import { EyeIcon, FolderPlusIcon, FolderIcon, XIcon, FilePlusIcon, FileTextIcon, Edit3Icon } from "vue-feather-icons"
import { required } from "vuelidate/lib/validators"

export default {
	name: "showFolderFiles",
	components: {
		EyeIcon,
		FolderPlusIcon,
		FolderIcon,
		XIcon,
		FilePlusIcon,
		FileTextIcon,
		Edit3Icon
	},
	data() {
		return {
			createFolderDialog: false,
      editFolderDialog: false,
      editSelectedFolder: {
				name: ""
      },
			createFolderModel: {
				name: null
			}
		}
	},
	validations: {
		createFolderModel: {
			name: { required }
		},
    /*
    *
    * */
		editSelectedFolder: {
			name: { required }
		}
	},
	computed: {
		...mapState({
			branchById: state => state.creditMonitoring.branchById,
			branchesList: state => state.creditMonitoring.branchesList,
			branchesListLoading: state => state.creditMonitoring.branchesListLoading,
			subFoldersList: state => state.creditMonitoring.subFoldersList,
			subFoldersLoading: state => state.creditMonitoring.subFoldersLoading,
			uploadingFilesLoading: state => state.creditMonitoring.uploadingFilesLoading,
			filesList: state => state.creditMonitoring.filesList,
		}),
		/*
    *
    * */
		...mapGetters({
			currentUser: "auth/getCurrentUser"
		})
	},
	mounted() {
		this.CLEAR_LOADING({
			module: "filesListLoading",
			value: true
		})
    this.getBranchById({
      id: this.$route.params.id
    })
		setTimeout(() => {
			this.getSubFoldersList({ parentId: this.branchById.id })
      this.getUploadFilesList({
	      params: {
		      folder: this.$route.params.id
        }
      })
		}, 1000)
	},
	beforeDestroy() {
		this.CLEAR_LIST("subFoldersList")
		this.CLEAR_LIST("filesList")
		this.CLEAR_LOADING({
			module: "filesListLoading",
			value: true
		})
	},
	methods: {
		...mapMutations({
			CLEAR_LIST: "creditMonitoring/CLEAR_LIST",
			CLEAR_LOADING: "creditMonitoring/CLEAR_LOADING",
    }),
    /*
    *
    * */
		...mapActions({
			getBranchById: "creditMonitoring/getBranchById",
			fetchCreateFolder: "creditMonitoring/fetchCreateFolder",
			getSubFoldersList: "creditMonitoring/getSubFoldersList",
			fetchUploadFiles: "creditMonitoring/fetchUploadFiles",
			getUploadFilesList: "creditMonitoring/getUploadFilesList",
			fetchUpdateFolderName: "creditMonitoring/fetchUpdateFolderName",
		}),
		/*
    *
    * */
		createFolder() {
			this.$v.createFolderModel.$touch();

			if (this.$v.createFolderModel.$invalid) {
				this.$toast.warning("Заполните обязательные поля!")

				return;
			}

			this.fetchCreateFolder({
				name: this.createFolderModel.name,
				filial: this.branchById.filial.id,
				parent: this.branchById.id
			})
			.then(() => {
				this.$toast.success("Папка успешно создано")
				this.createFolderDialog = false
        this.createFolderModel.name = null
			})
		},
    /*
    *
    * */
		changeFolderName(folder) {
			this.editSelectedFolder.name = folder.name
			this.editSelectedFolder.id = folder.id
      this.editFolderDialog = true
		},
    /*
    *
    * */
    updateFolderName() {
	    this.$v.editSelectedFolder.$touch();

	    if (this.$v.editSelectedFolder.$invalid) {
		    this.$toast.warning("Заполните обязательные поля!")

		    return;
	    }

	    this.fetchUpdateFolderName({
        id: this.editSelectedFolder.id,
		    data: {
			    name: this.editSelectedFolder.name,
			    filial: this.branchById.filial.id,
			    parent: this.branchById.id
        }
	    })
	    .then(() => {
		    this.$toast.success("Папка изменен")
		    this.editFolderDialog = false
        this.editSelectedFolder.name = null
	    })

    },
    /*
    *
    * */
		uploadFiles(files) {
			if(!files.length) {
				return;
			}

			for (let i = 0; i < files.length; i++) {
				let fileName = files[i].name.split(".").slice(0, 1).join(" ")

				if(fileName !== fileName.toUpperCase()) {
					this.$toast.error(`Имя файла должен быть на латинском и с большими буквами`)

					return;
				}
			}

			this.fetchUploadFiles({
        folderId: Number(this.$route.params.id),
        files: files
      })
		}
	}
}
</script>
