<template>
	<div class="facture-document-list h-100">
		<div class="d-flex align-center justify-center h-100 mt-5">
			<div class="d-flex w-100 h-100">
				<div class="d-flex flex-column p-relative w-100">
					<div class="d-flex flex-column h-100 bg-4 rounded-20 overflow-hidden h-100">
						<template v-if="isLoading">
							<app-loader content-width/>
						</template>
						<template v-else>
							<perfect-scrollbar class="h-100">
								<app-table
									bordered
									:table-width="1800"
								>
									<template #tableHeader>
										<th width="30"></th>
										<th>{{ $t('facture.document-name') }}</th>
										<th>{{ $t('facture.treaty') }}</th>
										<th>{{ $t('facture.total-amount') }}</th>
										<th>{{ $t('facture.counter-party') }}</th>
										<th>{{ $t('facture.status') }}</th>
									</template>

									<template #tableBody>
										<template>
											<tr
												v-for="(document, index) in documentList" :key="index"
												@click="showDetail(document)"
											>
												<td>
													<v-icon color="grey">mdi-file-document-outline</v-icon>
												</td>
												<td>
													<div class="d-flex flex-column">
														<div
															class="text-decoration-none small-2"
														>
															<span class="primary-text">{{ document.title && document.title }}</span>
														</div>
														<div class="d-flex tiny align-center mt-1">
															<v-icon size="11" color="black" class="mr-1">mdi-clock-outline</v-icon>
															<span>Создан: {{
																	document.createdDateTime && document.createdDateTime | filterDateMonthYear
																}}</span>
															<v-icon size="11" color="black" class="mr-1 ml-3">mdi-clock-outline</v-icon>
															<span>Обновлен: {{
																	document.updatedDateTime && document.updatedDateTime | filterDateMonthYear
																}}</span>
														</div>
													</div>
												</td>
												<td>
													<span class="font-400 size-13">{{ document.contract && document.contract }}</span>
												</td>
												<td>
													<span class="font-400 size-13">{{
															document.totalPrice && document.totalPrice | formatNumber
														}}</span>
												</td>
												<td width="500">
													<div class="d-flex flex-column">

														<v-tooltip top>
															<template v-slot:activator="{ on, attrs }">
                              <span
	                              v-bind="attrs"
	                              v-on="on"
                              >
                                <span
	                                class="text-decoration-none text-dark font-500 line-truncate"
                                >
                                  {{ document.contractor && document.contractor.name }}
                                </span>
                              </span>
															</template>

															<span>{{ document.contractor && document.contractor.name }}</span>
														</v-tooltip>
														<div class="d-flex align-center mt-1">
															<v-icon size="12" class="mr-1">mdi-information</v-icon>
															<span class="font-400 tiny">ИНН: {{
																	document.contractor && document.contractor.inn
																}}</span>
														</div>
													</div>
												</td>
												<td>
													<v-chip color="primary">
														<span class="small-3">{{ document && document.status && document.status.description }}</span>
													</v-chip>
												</td>
											</tr>
										</template>
									</template>
								</app-table>
							</perfect-scrollbar>
						</template>
						<div class="d-flex align-center justify-space-between py-2 px-4 border-top">
              <span class="small-2 font-500 text-dark">
<!--                1-10 из 195 позиций-->
              </span>

							<app-pagination @emit:up="paginate"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import {mapActions, mapGetters, mapState} from "vuex";

export default {
	name: "TableList",
	props: {
		tableProps: {
			type: Object,
			default: () => {
			},
			required: true
		}
	},
	computed: {
		...mapState({
			filterState: state => state.headerFilter.filter,
			filterPagination: state => state.headerFilter.pagination,
		}),
		...mapGetters({
			isLoading: "facture/getIsListLoading",
			currentUser: "auth/getCurrentUser",
			documentList: "facture/getDocumentList"
		}),
		currentPath(){
			return this.$route.meta.pathName
		}
	},
	created() {
		this.fetchGetDocumentList({...this.tableProps, page: 1})
	},
	methods: {
		...mapActions({
			fetchGetDocumentList: "facture/fetchGetDocumentList"
		}),
		paginate(val) {
			this.filterPagination.page = val
			let query = {...this.tableProps, page: val}
			this.fetchGetDocumentList(query);
		},
		/**/
		showDetail(document) {
			this.$router.push({
				name: 'FactureDocumentDetailShow',
				params: {
					id: document.uniqueId
				},
				query: {
					type: this.currentPath
				}
			})
		}
	}
}
</script>

<style scoped>
.facture-document-list .ps{
	height: calc(100vh - 270px);
}
</style>
