<template>
	<div class="d-flex flex-1 bg-4 rounded-20 pa-3">
		<div class="d-flex flex-column align-start flex-1 pa-4">
			<div class="d-flex align-center w-100 mb-12">
				<span class="heading-9 font-600 text-dark mr-3 d-block">{{ formTitle }} -> {{$t('document-flow.views.registration.call-center-appeal')}}</span>
				<v-divider/>
			</div>

			<div class="w-100 mb-auto">
				<v-row>
<!--					<v-col md="3">-->
<!--						<div class="app-input">-->
<!--							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.registration-number')}} <span class="color-red">*</span></span>-->
<!--							<v-text-field-->
<!--								v-model="$v.formModel.register_number.$model"-->
<!--								:error="$v.formModel.register_number.$error"-->
<!--								hide-details-->
<!--								outlined-->
<!--								background-color="var(&#45;&#45;input-bg)"-->
<!--							></v-text-field>-->
<!--						</div>-->
<!--					</v-col>-->

					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.registration-date')}} <span class="color-red">*</span></span>

							<app-date-picker
								v-model="$v.formModel.register_date.$model"
								background-color="var(--input-bg)"
								with-input
                :allow-dates="(currentUser.role === 'admin' || currentUser.role === 'chancellery') ? null : getAllowedDates"
							/>
						</div>
					</v-col>

					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.region')}} <span class="color-red">*</span></span>

							<app-autocomplete
								v-model="$v.formModel.region.$model"
								:error="$v.formModel.region.$error"
								api-list-url="/action/regions/"
								list-type="list"
								item-text="name"
								item-value="id"
								@emit:change="regionSelected"
								cache-items
							/>
						</div>
					</v-col>

					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.district')}} <span class="color-red">*</span></span>

							<v-autocomplete
								v-model="$v.formModel.district.$model"
								:error="$v.formModel.district.$error"
								:items="districtList"
								item-text="name"
								outlined
								hide-details
								item-value="id"
								background-color="var(--input-bg)"
							>
								<template #append>
									<v-icon>mdi-chevron-down</v-icon>
								</template>
							</v-autocomplete>
						</div>
					</v-col>

					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.applicant-full-name')}} <span class="color-red">*</span></span>

							<v-text-field
								v-model="$v.formModel.full_name_sender.$model"
								:error="$v.formModel.full_name_sender.$error"
								hide-details
								outlined
								background-color="var(--input-bg)"
							></v-text-field>
						</div>
					</v-col>

					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.address')}} <span class="color-red">*</span></span>

							<v-text-field
								v-model="$v.formModel.address.$model"
								:error="$v.formModel.address.$error"
								hide-details
								outlined
								background-color="var(--input-bg)"
							></v-text-field>
						</div>
					</v-col>

					<!-- Birth date -->
					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('user-profile.views.birthday')}} <span class="color-red">*</span></span>

							<app-date-picker
								v-model="$v.formModel.outgoing_date.$model"
								:error="$v.formModel.outgoing_date.$error"
								with-input
								background-color="var(--input-bg)"
							/>
						</div>
					</v-col>
					<!-- /Birth date -->

					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.applicant')}} <span class="color-red">*</span></span>
							<v-select
								v-model="$v.formModel.applicant.$model"
								:error="$v.formModel.applicant.$error"
								:items="applicantList"
								item-text="name"
								item-value="value"
								outlined
								hide-details
								clearable
								background-color="var(--input-bg)"
							>
								<template #append>
									<v-icon>mdi-chevron-down</v-icon>
								</template>
							</v-select>
						</div>
					</v-col>

					<v-col md="3" v-if="formModel.applicant === 'physics'">
						<div class="app-input checkbox-registration">
							<span class="d-block font-600 small-2 mb-2">{{$t('gender')}}</span>
							<v-radio-group
								v-model="formModel.gender"
								row
								hide-details
							>
								<v-radio
									label="Мужской"
									value="M"
								></v-radio>
								<v-radio
									label="Женский"
									value="F"
								></v-radio>
							</v-radio-group>
						</div>
					</v-col>

					<!-- BXM and atm serial number -->
					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('bxm')}} <span class="color-red">*</span></span>

							<v-text-field
								v-model="$v.formModel.title.$model"
								:error="$v.formModel.title.$error"
								hide-details
								outlined
								background-color="var(--input-bg)"
							></v-text-field>
						</div>
					</v-col>
					<!-- /BXM and atm serial number -->

					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.phone-number')}} <span class="color-red">*</span></span>

							<v-text-field
								v-model="$v.formModel.phone_number.$model"
								:error="$v.formModel.phone_number.$error"
								hide-details
								v-mask="'+998 (##) ### ## ##'"
								outlined
								background-color="var(--input-bg)"
							></v-text-field>
						</div>
					</v-col>

					<!-- Phone number 2 -->
					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.phone-number')}} 2 <span class="color-red">*</span></span>

							<v-text-field
								v-model="$v.formModel.outgoing_number.$model"
								:error="$v.formModel.outgoing_number.$error"
								hide-details
								v-mask="'+998 (##) ### ## ##'"
								outlined
								background-color="var(--input-bg)"
							></v-text-field>
						</div>
					</v-col>
					<!-- /Phone number 2 -->

					<!-- Applicant's debit card -->
					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('applicant-card-number')}} <span class="color-red">*</span></span>

							<v-text-field
								v-model="$v.formModel.organization_reg_number.$model"
								:error="$v.formModel.organization_reg_number.$error"
								hide-details
								v-mask="'#### #### #### ####'"
								outlined
								background-color="var(--input-bg)"
							></v-text-field>
						</div>
					</v-col>
					<!-- /Applicant's debit card -->

<!--					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.document-priority')}} <span class="color-red">*</span></span>

							<v-select
								v-model="$v.formModel.priority.$model"
								:error="$v.formModel.priority.$error"
								:items="$store.state.priorityList"
								item-text="title"
								item-value="value"
								outlined
								hide-details
								clearable
								background-color="var(&#45;&#45;input-bg)"
							>
								<template #append>
									<v-icon>mdi-chevron-down</v-icon>
								</template>
							</v-select>
						</div>
					</v-col>

					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('bxm')}}</span>

							<app-autocomplete
								v-model="formModel.bxm"
								:api-list-url="documentReferenceUrl"
								:api-params="{
                  type: 'bxm'
                }"
								list-type="list"
								item-text="name"
								item-value="id"
								cache-items
							/>
						</div>
					</v-col>

					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.document-type')}} <span class="color-red">*</span></span>

							<app-autocomplete
								v-model="$v.formModel.doc_type.$model"
								:error="$v.formModel.doc_type.$error"
								:api-list-url="documentReferenceUrl"
								:api-params="{
                  type: 'doc_type'
                }"
								list-type="list"
								item-text="name"
								item-value="id"
								cache-items
							/>
						</div>
					</v-col>

					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.correspondent')}} <span class="color-red">*</span></span>

							<correspondent-auto-complete
								v-model="$v.formModel.correspondent.$model"
								:error="$v.formModel.correspondent.$error"
								:is-for-compose="null"
							/>

						</div>
					</v-col>



					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.submission-form')}} <span class="color-red">*</span></span>

							<app-autocomplete
								v-model="$v.formModel.delivery_type.$model"
								:error="$v.formModel.delivery_type.$error"
								:api-list-url="documentReferenceUrl"
								:api-params="{
                  type: 'delivery_type'
                }"
								list-type="list"
								item-text="name"
								item-value="id"
								cache-items
							/>
						</div>
					</v-col>

					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.type-complaint')}} <span class="color-red">*</span></span>

							<app-autocomplete
								v-model="$v.formModel.complaint_type.$model"
								:error="$v.formModel.complaint_type.$error"
								:api-list-url="documentReferenceUrl"
								:api-params="{
                  type: 'complaint_type'
                }"
								list-type="list"
								item-text="name"
								item-value="id"
								cache-items
							/>
						</div>
					</v-col>

					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('appealCondition')}} <span class="color-red">*</span></span>

							<app-autocomplete
								v-model="$v.formModel.state.$model"
								:error="$v.formModel.state.$error"
								:api-list-url="documentReferenceUrl"
								:api-params="{
                  type: 'state'
                }"
								list-type="list"
								item-text="name"
								item-value="id"
								cache-items
							/>
						</div>
					</v-col>

					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('matter')}} <span class="color-red">*</span></span>

							<app-autocomplete
								v-model="$v.formModel.theme.$model"
								:error="$v.formModel.theme.$error"
								:api-list-url="documentReferenceUrl"
								:api-params="{
                  type: 'theme'
                }"
								list-type="list"
								item-text="name"
								item-value="id"
								cache-items
								@change="onThemeChange"
							/>
						</div>
					</v-col>-->

					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.for-consideration')}}</span>

							<app-autocomplete
								v-model="formModel.__userSelected"
								api-list-url="/user/search/"
								item-text="full_name"
								return-object
								multiple
								cache-items
								:item-disabled="getDisableItems"
                group-staff-visible
							/>
						</div>
					</v-col>

					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.registration.attach-file')}}</span>

							<app-file-upload
								@uploadFiles="uploadFiles"
								class="w-100"
								scanner
							/>
						</div>
					</v-col>
<!--
					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{ $t('components.execution-duration') }}</span>

							<app-date-picker
								v-model="formModel.deadline"
								with-input
								background-color="var(&#45;&#45;input-bg)"
							/>
						</div>
					</v-col>

					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('generalTheme')}}</span>

							<v-autocomplete
								v-model="formModel.general_theme"
								:items="generalThemeList"
								item-text="name"
								item-value="id"
								outlined
								hide-details
								clearable
								background-color="var(&#45;&#45;input-bg)"
							>
								<template #append>
									<v-icon>mdi-chevron-down</v-icon>
								</template>

								<template #item="{ item }">
									<div class="d-flex align-center">
										<span class="small-2" v-html="item.name"></span>
									</div>
								</template>

								<template #selection="{ item }">
									<div class="d-flex align-center">
										<span class="small-2" v-html="item.name"></span>
									</div>
								</template>
							</v-autocomplete>
						</div>
					</v-col>

					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('appealingOrganization')}}</span>

							<app-autocomplete
								v-model="formModel.organization"
								:api-list-url="documentReferenceUrl"
								:api-params="{
                  type: 'organization'
                }"
								list-type="list"
								item-text="name"
								item-value="id"
								cache-items
							/>
						</div>
					</v-col>

					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{ $t('appealDate') }}</span>

							<app-date-picker
								v-model="formModel.organization_reg_date"
								with-input
								background-color="var(&#45;&#45;input-bg)"
							/>
						</div>
					</v-col>

					<v-col md="3">
						<div class="app-input checkbox-registration">
							<span class="d-block font-600 small-2">Состояние</span>
							<div class="d-flex align-center">
								<v-checkbox
									v-model="formModel.is_duplicate"
									label="Дубликат"
								></v-checkbox>

								<v-checkbox
									v-model="formModel.re_application"
									label="Повторная заявка"
									class="ml-8"
								></v-checkbox>
							</div>
						</div>
					</v-col>-->

					<v-col md="12">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('others')}} <span class="color-red">*</span></span>

							<app-editor
								v-model="$v.formModel.description.$model"
								:error="$v.formModel.description.$error"
								:paste-plain-text="true"
							/>
						</div>
					</v-col>
				</v-row>
			</div>
			<div class="d-flex">
				<app-button
					@click="$router.go(-1)"
          depressed
          class="mt-10 mr-4"
          color="error"
				>
					<template #default>
						{{$t('document-flow.views.registration.back')}}
					</template>
					<template #prepend>
						<v-icon size="20">mdi-arrow-left</v-icon>
					</template>
				</app-button>

				<app-button
					@click="sendDocument"
          depressed
          :loading="loading"
          class="mt-10"
				>
					<template #default>
						{{$t('document-flow.views.registration.create-document')}}
					</template>
					<template #append>
						<v-icon size="17">mdi-send</v-icon>
					</template>
				</app-button>
			</div>
		</div>
<!--		<pre>{{ formModel }}</pre>-->
	</div>
</template>

<script>
import SearchUsersBelow from "@/common/components/SearchUsersBelow";
import { DownloadIcon, EyeIcon, Trash2Icon } from "vue-feather-icons";
import { required } from "vuelidate/lib/validators";
import { mapActions, mapGetters } from "vuex";
import CorrespondentAutoComplete from "../../Components/CorrespondentAutoComplete";
import { format } from "date-fns";

export default {
	name: "index",
	props: {
		formType: {
			type: String,
			default: ""
		},
		formTitle: {
			type: String,
			default: "Регистрация документа"
		}
	},
	components: {
		SearchUsersBelow,
		CorrespondentAutoComplete,
		Trash2Icon,
		DownloadIcon,
		EyeIcon
	},
	data() {
		return {
			formModel: {
				register_number: null,
				register_date: (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10),
				outgoing_number: "",
				outgoing_date: "",
				// doc_type: null,
				// correspondent: null,
				applicant: "",
				region: null,
				district: null,
				full_name_sender: "",
				// priority: null,
				address: "",
				phone_number: "",
				// delivery_type: null,
				description: "<p>Tranzaksiya vaqti (iloji boricha aniq daqiqalar bilan): </p><p>Tranzaksiya summasi: </p><p>Tranzaksiya turi: </p><p>Naqd pul bermaganligi sababi: </p> <p>Boshqa ma'lumotlar: </p>",
				// complaint_type: null,
				documents: [],
				review_users: [],
				__userSelected: [],
				is_duplicate: false,
				re_application: false,
				gender: "M",
				deadline: format(Date.now() + 15 * 24 * 60 * 60 * 1000, "yyyy-MM-dd"),
				// state: null,
				// theme: null,
				general_theme: null,
				organization: null,
				// bxm: null,
				organization_reg_number: null,
				organization_reg_date: null,
				title: null,
			},
			districtList: [],
      loading: false,
			generalThemeList: []
		}
	},
	validations: {
		formModel: {
			// register_number: {required},
			register_date: {required},
			outgoing_date: {required},
			outgoing_number: {required},
			// correspondent: {required},
			// doc_type: {required},
			applicant: {required},
			region: {required},
			district: {required},
			full_name_sender: {required},
			address: {required},
			phone_number: {required},
			// delivery_type: {required},
			description: {required},
			// complaint_type: {required},
			// priority: {required},
			// state: {required},
			// theme: {required},
			title: {required},
			organization_reg_number: {required},
		},
	},
	computed: {
		...mapGetters({
      currentUser: "auth/getCurrentUser",
			applicantList: "documentFlowModule/getApplicantList",
			attachDocumentListID: "documentFlowModule/getAttachDocumentListID",
			getDisableItems: "getDisableItems",
      getAllowedDates: "getAllowedDates",
		}),
		documentReferenceUrl() {
			return `/docflow/${this.$store.getters['auth/getCurrentUser'].filial}/reference/`
		}
	},
	beforeDestroy() {
		this.$store.commit("documentFlowModule/CLEAR_ATTACHED_DOCUMENTS_ID")
	},
	methods: {
		...mapActions({
			fetchAttachFiles: "documentFlowModule/fetchAttachFiles",
			attachDocumentsList: "documentFlowModule/getAttachDocumentsList",
		}),
		regionSelected(value) {

			this.formModel.district = null

			this.$axios.get(`/action/districts/`, {
				params: {
					region: value,
					page_size: 50
				}
			}).then(({data}) => {
				this.districtList = data.results;
			})

			/*const {district} = this.$refs

			district.fetchGetList({
				region: value
			})*/
		},
		/**/
		sendDocument(){

			this.$v.$touch();

			if (this.$v.$invalid) {
				return;
			}
			this.loading = true;

			this.$axios.get(`/docflow/${this.currentUser.filial}/outgoing_number_check/`, {
				params: {
					journal_id: this.$route.params.id,
					outgoing_number: this.formModel.outgoing_number
				}
			})
				.then(({ data }) => {
					if (data.status === 'fail'){
						if(!confirm(this.$t('document-flow.views.registration.outgoing-number-already-exist'))) {
							this.loading = false
							return
						}
						this.send();
					}else {
						this.send();
					}
				})
		},
		/**/
		send() {
			this.loading = true;
			let data = {
				...this.formModel,
				journal: this.$route.params.id,
				phone_number: this.formModel.phone_number,
				documents: this.attachDocumentListID,
				register_date: `${this.formModel.register_date} ${new Date().getHours()}:${new Date().getMinutes()}`,
				outgoing_date: `${this.formModel.outgoing_date} ${new Date().getHours()}:${new Date().getMinutes()}`,
				review_users: this.formModel.__userSelected.map(item => Object.assign({}, {user: item.id})),
				deadline: `${this.formModel.deadline}T18:00:00+05:00`,
				organization_reg_date: this.formModel.organization_reg_date ? `${this.formModel.organization_reg_date}T18:00:00+05:00` : null,
				gender: this.formModel.applicant === 'physics' ? this.formModel.gender : null
			}

			this.$store.dispatch("documentFlowModule/fetchRegisterAppeals", data)
				.then((response) => {
          this.loading = false

					this.$router.push({
						name: "CallCenterAppealIndex"
					})
				}).catch(err => {
				this.loading = false
			})
		},
		/**/
		uploadFiles(files) {
			this.fetchAttachFiles({
				files
			})
		},
		/** **/
		onThemeChange(value) {
			this.$axios.get(`/docflow/${this.$store.getters['auth/getCurrentUser'].filial}/reference/`, {
				params: {
					parent: value,
					page_size: 500
				}
			}).then(({ data }) => {
				this.generalThemeList = data.results;
			})

		}
	}
}
</script>

<style>
.checkbox-registration .v-label{
	color: black!important;
	font-weight: 600;
}
</style>
