<template>
	<div class="search-inputs-view">
		<app-wrapper>
			<template #body>
				<v-row>
					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.search.registration-number')}}</span>
							<v-text-field
								v-model="searchInputs.register_number"
								hide-details
								outlined
								background-color="var(--input-bg)"
							></v-text-field>
						</div>
					</v-col>

					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.search.registration-date')}} </span>

							<app-date-picker
								@emit:up="(value) => dateSelected(value)"
								v-model="model.register_date"
								with-input
								range
								background-color="var(--input-bg)"
								clearable
								@clickClear="clearSearchDateInputs"
							/>
						</div>
					</v-col>

					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.search.outgoing-number')}}</span>
							<v-text-field
								v-model="searchInputs.outgoing_number"
								hide-details
								outlined
								background-color="var(--input-bg)"
							></v-text-field>
						</div>
					</v-col>

					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.search.content')}}</span>
							<v-text-field
								v-model="searchInputs.text"
								hide-details
								outlined
								background-color="var(--input-bg)"
							></v-text-field>
						</div>
					</v-col>
				</v-row>

				<v-row class="align-end justify-space-between">
					<v-col md="3">
						<div class="app-input">
							<span class="d-block font-600 small-2 mb-2">{{$t('document-flow.views.search.correspondent')}}</span>

							<app-autocomplete
								v-model="searchInputs.correspondent"
								api-list-url="/action/correspondent/"
								list-type="list"
								item-text="organization_name"
								item-value="id"
								cache-items
								clearable
							/>

							<v-chip
								v-if="model.correspondent && model.correspondent.id"
								dark
								color="primary"
								close
								class="mt-2"
								@click:close="clearCorrespondent"
							>
								{{ model.correspondent.organization_name }}
							</v-chip>
						</div>
					</v-col>

					<v-col md="3">
						<div class="d-flex justify-end">
							<app-button
								outlined
								class="mr-3"
								@click="clearInputs"
							>
								<template #default>
									{{$t('document-flow.views.search.clear-filter')}}
								</template>
							</app-button>

							<app-button @click="search">
								<template #prepend>
									<search-icon size="18"/>
								</template>
								{{$t('document-flow.views.search.search')}}
							</app-button>
						</div>
					</v-col>
				</v-row>

<!--				<pre>{{ model }}</pre>-->
			</template>
		</app-wrapper>
	</div>
</template>

<script>
import { SearchIcon } from "vue-feather-icons";
import { mapActions, mapGetters, mapState } from "vuex";

export default {
	name: "SearchInputs",
	components: {
		SearchIcon
	},
	data() {
		return {
			model: {
				register_number: null,
				outgoing_number: null,
				description: null,
				register_date: null,
				correspondent: {}
			}
		}
	},
	computed: {
		...mapState({
			searchInputs: state => state.headerFilter.searchInputs,
			filterPagination: state => state.headerFilter.pagination
		}),
		...mapGetters({
			searchInputValues: "headerFilter/getSearchInputs"
		})
	},
	beforeDestroy() {
		this.clearInputs();
	},
	mounted() {
		if (this.$route.query.correspondent){
			this.getCorrespondent(this.$route.query.correspondent)
		}
		if (this.searchInputValues.register_start_date){
			this.model.register_date = [this.searchInputValues.register_start_date, this.searchInputValues.register_end_date]
		}
		if (this.$route.query.page || this.$route.query.register_number || this.$route.query.outgoing_number || this.$route.query.register_start_date || this.$route.query.register_end_date || this.$route.query.correspondent || this.$route.query.text){
			this.searchInputs.register_number = this.$route.query.register_number;
			this.searchInputs.outgoing_number = this.$route.query.outgoing_number;
			this.searchInputs.register_start_date = this.$route.query.register_start_date;
			this.searchInputs.register_end_date = this.$route.query.register_end_date;
			this.searchInputs.text = this.$route.query.text;
			this.model.register_date = this.$route.query.register_start_date || this.$route.query.register_end_date ? [this.$route.query.register_start_date, this.$route.query.register_end_date] : []
		}
	},
	methods: {
		...mapActions({
			fetchSearchedDocumentList: "documentFlowModule/fetchSearchedDocumentList",
			fetchSearchDocumentClearList: "documentFlowModule/fetchSearchDocumentClearList",
			fetchClearSearchedDocumentList: "documentFlowModule/fetchClearSearchedDocumentList",
		}),
		/**/
		search(){
			this.filterPagination.page = 1
			this.$router.replace({
				query: this.searchInputValues
			}).catch(() => {})
			if (this.$route.query.page || this.$route.query.register_number || this.$route.query.outgoing_number || this.$route.query.register_start_date || this.$route.query.register_end_date || this.$route.query.correspondent || this.$route.query.text){
				this.fetchSearchedDocumentList(this.searchInputValues)
			}else {
				this.$toast.warning("Kamida bitta maydon to'ldirilishi kerak!")
				this.fetchSearchDocumentClearList()
			}
		},
		/**/
		dateSelected(value) {
			this.searchInputs.register_start_date = value[0]
			this.searchInputs.register_end_date = value[1]
		},
		/**/
		clearSearchDateInputs(){
			this.searchInputs.register_start_date = null
			this.searchInputs.register_end_date = null
		},
		/**/
		clearInputs(){
			this.searchInputs.register_start_date = null;
			this.searchInputs.register_end_date = null;
			this.searchInputs.outgoing_number = null;
			this.searchInputs.text = null;
			this.searchInputs.register_number = null;
			this.searchInputs.correspondent = null;
			this.model.register_date = null;

			this.fetchClearSearchedDocumentList();
		},
		/**/
		getCorrespondent(id){
			this.$axios.get(`/action/correspondent/${id}/`)
				.then(({data}) => {
				this.model.correspondent = data;
			})
		},
		clearCorrespondent(){
			this.model.correspondent = {};
			this.searchInputs.correspondent = null
		}
	}
}
</script>

<style scoped>

</style>
