<template>
	<div class="search-table-list h-100">
		<template v-if="getLoading">
			<app-loader content-width :size="58" />
		</template>
		<template v-else>
			<div class="d-flex overflow-hidden w-100 h-100">
				<div class="d-flex flex-column p-relative w-100 h-100">
					<div class="d-flex flex-column h-100 bg-4 rounded-20 pa-1 overflow-hidden h-100">
						<perfect-scrollbar class="d-flex flex-column flex-1">
							<app-table
								bordered
								:table-width="1200"
							>
								<template #tableHeader>
									<th>{{$t('document-flow.views.search.registration-number')}}</th>
									<th>{{$t('document-flow.views.search.registration-date')}}</th>
									<th>{{$t('document-flow.views.search.outgoing-number')}}</th>
									<th>{{$t('document-flow.views.search.content')}}</th>
								</template>
								<template #tableBody>
									<template v-if="searchedDocumentList.length">
										<template>
											<tr
												v-for="(document, index) in searchedDocumentList"
												:key="document.id"
												@click.prevent="canRouteNext(document)"
											>
												<td>
													{{ document.register_number }}
												</td>
												<td>
													{{ document.register_date | filterDateMonthYear }}
												</td>
												<td>
													{{ document.outgoing_number }}
												</td>
												<td width="600">
													{{ document.description }}
												</td>
											</tr>
										</template>
									</template>
									<template v-else>
										<tr class="table-not-found">
											<td colspan="12">
												<div class="pa-4 text-center">
													<h2 class="font-600">{{$t('document-flow.views.search.nothing-yet')}}</h2>
												</div>
											</td>
										</tr>
									</template>
								</template>
							</app-table>
						</perfect-scrollbar>

						<div class="d-flex align-center justify-space-between py-2 px-4 border-top">
              <span class="small-2 font-500 text-dark">
<!--                1-10 из 195 позиций-->
              </span>

							<app-pagination v-if="searchedDocumentList && searchedDocumentList.length" @emit:up="paginate"/>
						</div>
					</div>
				</div>
			</div>
		</template>
	</div>
</template>

<script>
import { mapActions, mapGetters, mapState } from "vuex";

export default {
	name: "SearchTableList",
	data() {
		return {
			routeName: "",
		}
	},
	computed: {
		...mapState({
			filterPagination: state => state.headerFilter.pagination
		}),
		...mapGetters({
			searchedDocumentList: "documentFlowModule/getSearchedDocumentList",
			getLoading: "documentFlowModule/getIsListLoading",
			searchInputValues: "headerFilter/getSearchInputs"
		})
	},
	mounted() {
		if (this.$route.query.page || this.$route.query.register_number || this.$route.query.outgoing_number || this.$route.query.register_start_date || this.$route.query.register_end_date || this.$route.query.correspondent){

			this.fetchSearchedDocumentList(this.$route.query);
			this.filterPagination.page = Number(this.$route.query.page)
		}
	},
	methods: {
		...mapActions({
			fetchSearchedDocumentList: "documentFlowModule/fetchSearchedDocumentList",
		}),
		canRouteNext (document) {
			switch (document.journal_id){
				case 1:
					this.routeName = "IncomingDocumentRegistrationFormShow";
					break;
				case 3:
					this.routeName = "InnerDocumentRegistrationFormShow";
					break;
				case 4:
					this.routeName = "OutgoingDocumentRegistrationFormShow";
					break;
				case 5:
					this.routeName = "AppealDocumentRegistrationFormShow";
					break;
				case 6:
					this.routeName = "OrdersProtocolsDocumentRegistrationFormShow";
					break;
				case 7:
					this.routeName = "FilialDocumentsRegistrationFormShow";
					break;
				default:
					this.routeName = "";
			}

			this.$router.push({
				name: this.routeName,
				params: { id: document.id },
				query: { type: "for_watching_process" }
			})
		},
		/**/
		paginate(value) {
			let query = { ...this.searchInputValues, page: value }
			this.$router.replace({
				query: query
			}).catch(() => {})
			this.filterPagination.page = value
			this.fetchSearchedDocumentList({
				...this.searchInputValues,
				page: value
			})
		}
	}
}
</script>

<style>
.search-table-list {
	height: calc(100vh - 300px)
}
</style>
