<template>
  <div class="resolution-view px-8 py-6">
    <div class="d-flex align-center pt-2 pb-5 border-bottom">
      <img
        src="/img/logo.png"
        style="width: 75px"
        alt="Asaka Logo"
      />

      <h4 class="flex-1 font-700 text-uppercase text-center">{{ $t('components.asakabank-aj') }}</h4>
    </div>

    <div class="my-5">
      <v-alert
        v-if="resolution && resolution.banner"
        outlined
        :type="isVerified ? 'success' : 'error'"
        text
        class="pa-2"
      >
        <template #prepend>
          <v-icon v-if="isVerified" color="success">mdi-check-circle</v-icon>
          <v-icon v-else color="error">mdi-alert</v-icon>
        </template>

        <div class="d-flex align-center">
        <span class="small-2 mx-3">
          {{ isVerified ? $t('components.document-signed') : $t('components.document-not-signed') }}
        </span>

          <v-menu offset-y>
            <template v-slot:activator="{ on, attrs }">
              <app-button
                v-bind="attrs"
                v-on="on"
                :loading="loading"
                class="ml-auto"
              >
                <template #prepend>
                  <download-icon size="18" />
                </template>
                {{$t('components.download-chip')}}
              </app-button>
            </template>

            <v-list dense>
              <v-list-item class="pointer" @click="downloadAsPDF('A4')">
                <v-list-item-title class="font-600">{{$t('components.format-a4')}}</v-list-item-title>
              </v-list-item>

              <v-list-item class="pointer" @click="downloadAsPDF('A5')">
                <v-list-item-title class="font-600">{{$t('components.format-a5')}}</v-list-item-title>
              </v-list-item>

              <v-list-item class="pointer" @click="downloadAsPDF('A6')">
                <v-list-item-title class="font-600">{{$t('components.format-a6')}}</v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
        </div>
      </v-alert>
    </div>

    <div class="border-bottom pb-4">
      <ul
        v-if="resolution && resolution.assignment && resolution.assignment.length"
        class="mb-4 pl-0"
        style="list-style: none"
      >
        <li class="small-2 font-600 mb-2">
          {{ $t("document-flow.components.performers") }}:
        </li>

        <template v-for="item in resolution.assignment">
          <li class="small-2 font-500 mb-1">
            {{ item.user.last_name }}
            {{ item.user.first_name | getFirstCharacter }}
            {{ item.user.father_name | getFirstCharacter }}

            <template v-if="item.is_controller">
              <span class="font-500">- {{ $t("document-flow.views.boxes.controlling") }}</span>
            </template>

            <template v-if="item.is_responsible">
              <span class="font-500">- {{ $t("document-flow.components.responsible-executor") }}</span>
            </template>
          </li>
        </template>
      </ul>

      <template v-if="resolution && resolution.deadline">
        <strong class="small-2 font-600">{{ $t('components.execution-duration') }}: </strong>
        <span class="small-2">{{ resolution.deadline | filterCalendarToTime }}</span>
      </template>

      <span class="d-block small-2 text-center font-600 reset-space mt-6" v-html="resolution && resolution.content"></span>
    </div>

    <template>
      <div class="pt-5">
        <div class="d-flex justify-space-between align-end">
          <div>
            <p class="small-2 mb-1">
              <strong class="font-600">{{ $t('components.registration-number') }}: </strong>
              <span>{{ resolution.register_number }}</span>
            </p>

            <p class="small-2 mb-1">
              <strong class="font-600">{{ $t('components.registration-date') }}: </strong>
              <span>{{ resolution.register_date | filterCalendarToTime }}</span>
            </p>

<!--	          <pre>{{ resolution }}</pre>-->

            <p v-if="resolution.receipt_date" class="small-2 mb-1">
              <strong class="font-600">{{ $t("sign-date") }}: </strong>
              <span>{{ resolution.receipt_date | filterCalendarToTime }}</span>
            </p>
          </div>

          <div v-if="resolution.signer">
            <strong class="d-block font-600">
              {{ resolution.signer.last_name }}
              {{ resolution.signer.first_name | getFirstCharacter }}
              {{ resolution.signer.father_name | getFirstCharacter }}
            </strong>

            <qrcode-vue
              v-if="resolution.check_id && isVerified"
              ref="qrCode"
              :value="`https://check.asakabank.uz/document/${resolution.check_id}`"
              size="70"
              level="L"
              render-as="svg"
              class="text-right mt-3"
            />
          </div>
        </div>
      </div>
    </template>
<!--	  <pre>{{ resolution }}</pre>-->
  </div>
</template>

<script>
import QrcodeVue from "qrcode.vue"
import { DownloadIcon } from "vue-feather-icons"
import { base64toBlob } from "@/common/helpers";
export default {
	name: "Resolution",
  props: {
    resolution: {
      type: Object,
      default: () => {}
    },
    /*
		*
		* */
    isVerified: {
      type: Boolean,
      default: false
    },
  },
	components: {
		QrcodeVue,
		DownloadIcon
	},
	data() {
		return {
			loading: false
		}
	},
	methods: {
		downloadAsPDF(format) {
      this.loading = true

      let model = {
        documentDate: this.$options.filters.filterDateMonthYear(this.resolution.register_date),
        documentNumber: `${this.resolution.journal} ${this.resolution.register_number}`,
        signers: this.resolution.assignment.map((item) => {
          return {
            name: `${item.user.last_name} ${item.user.first_name && this.getFirstCharacter(item.user.first_name)} ${item.user.father_name && this.getFirstCharacter(item.user.father_name)}`
          }
        }),
        executor: `${this.resolution.signer.last_name } ${ this.getFirstCharacter(this.resolution.signer.first_name) } ${ this.resolution.signer.father_name && this.getFirstCharacter(this.resolution.signer.father_name) }`,
        checkId: this.resolution.check_id,
        isSigned: this.isVerified,
        shortDescription: this.resolution.content.replace(/(<([^>]+)>)/gi, ""),
        pageSize: format,
      }

      this.$http.post(`/download_resolution_two/`, model)
      .then(({ data }) => {
        saveAs(base64toBlob(data.data, 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'), "template.docx")
      })
      .finally(() => {
        this.loading = false
      })
		}
	}
}
</script>

<style scoped>

</style>
