<template>
	<folder-list-view />
</template>

<script>
import FolderListView from "../../components/FolderListView";
export default {
	name: "index",
	components: {
		FolderListView
	}
}
</script>

<style scoped>

</style>
