<template>
	<div class="employment-content-view">
		<v-row>
			<v-col md="6">
				<base-text-field
					v-model="contentModel.document_info.additional_details.contract_number"
					label="contract-year-and-number"
					placeholder="2024-yil 29-avgustdagi №20-05/558"
					count="0."
				/>
			</v-col>

			<v-col md="6">
				<base-text-field
					v-model="contentModel.document_info.register_number"
					label="employment-contract-number"
					:placeholder="$t('enter-employment-contract-number')"
					count="1."
				/>
			</v-col>

			<v-col md="6">
				<base-text-field
					v-model="contentModel.document_info.region"
					label="region"
					:placeholder="$t('enter-region')"
					count="2."
				/>
			</v-col>

			<v-col md="6">
				<base-date-picker
					v-model="contentModel.document_info.register_date"
					date-format-type="dd.MM.yyyy"
					has-format
					label="survey-client.start.registration-date"
					:placeholder="$t('survey-client.start.registration-date')"
					count="3."
				/>
			</v-col>

			<v-col md="6">
				<base-auto-complete
					v-model="contentModel.document_info.__signer"
					api-list-url="/user/search/"
					:api-params="userApiParams"
					list-type="list"
					item-text="full_name"
					item-value="id"
					label="components.for-signature"
					:placeholder="$t('document-flow.views.send-document.select-signatory')"
					cache-items
					return-object
					:item-disabled="getDisableItems"
					count="4."
					@emit:change="handleSigner"
				/>
			</v-col>

			<v-col md="6">
				<base-auto-complete
					v-model="contentModel.document_info.__branches"
					api-list-url="/filials/"
					list-type="list"
					item-text="name"
					item-value="id"
					label="control-tasks.tasks.branch"
					:placeholder="$t('enter-branch')"
					return-object
					count="5."
					@emit:change="handleBranch"
				/>
			</v-col>

			<v-col md="6">
				<base-auto-complete
					v-model="contentModel.document_info.__departments"
					api-list-url="/departments/"
					:api-params="departmentApiParams"
					:fetch-on-create="false"
					list-type="list"
					item-text="name"
					label="components.department"
					:placeholder="$t('enter-department')"
					return-object
					count="6."
					@emit:change="handleDepartment"
				/>
			</v-col>

			<v-col md="6">
				<base-auto-complete
					v-model="contentModel.document_info.__sub_departments"
					:api-list-url="`/departments/${managementItemPk}/sub_departments/`"
					:fetch-on-create="false"
					list-type="list"
					item-text="name"
					label="user-profile.views.management"
					:placeholder="$t('enter-management')"
					return-object
					count="7."
					@emit:change="handleSubDepartment"
				/>
			</v-col>

			<v-col md="6">
				<base-select
					v-model="contentModel.document_info.__division"
					:items="subDepartmentItems"
					item-text="name"
					item-value="name"
					return-object
					label="phonebook.views.section"
					count="8."
					:placeholder="$t('enter-sub-department')"
					@change="handleDivision"
				/>
			</v-col>

			<v-col md="6">
				<base-text-field
					v-model="contentModel.document_info.position"
					label="user-profile.views.position"
					:placeholder="$t('enter-position')"
					count="9."
				/>
			</v-col>

			<v-col md="6">
				<base-date-picker
					v-model="contentModel.document_info.start_date"
					date-format-type="dd.MM.yyyy"
					has-format
					label="start-work-date"
					:placeholder="$t('enter-start-work-date')"
					count="10."
				/>
			</v-col>

			<v-col md="6">
				<base-text-field
					v-model="contentModel.document_info.period"
					label="period"
					:placeholder="$t('enter-period')"
					count="11."
				/>
			</v-col>

			<v-col md="6">
				<base-text-field
					v-model="contentModel.document_info.trial_period"
					label="trial-period"
					:placeholder="$t('enter-trial-period')"
					count="12."
				/>
			</v-col>

			<v-col md="6">
				<base-text-field
					v-model="contentModel.document_info.employee"
					label="main-worker"
					:placeholder="$t('enter-main-worker')"
					count="13."
				/>
			</v-col>

			<v-col md="6">
				<base-text-field
					v-model="contentModel.document_info.work_time"
					label="work-time"
					:placeholder="$t('enter-work-time')"
					count="14."
				/>
			</v-col>

			<v-col md="6">
				<base-text-field
					v-model="contentModel.document_info.passport_info"
					label="passport-info"
					:placeholder="$t('enter-passport-info')"
					count="15."
				/>
			</v-col>

			<v-col md="6">
				<base-text-field
					v-model="contentModel.document_info.address"
					label="address"
					:placeholder="$t('enter-address')"
					count="16."
				/>
			</v-col>
		</v-row>
	</div>
</template>

<script>
import { mapState, mapGetters } from 'vuex'

export default {
	name: "EmploymentContract",
	data() {
		return {
			userApiParams: {
				role: 'top_management'
			},
			departmentApiParams: {
				filial: null,
				condition: 'A',
				page_size: 50
			},
			subDepartmentItems: [],
			managementItemPk: null
		}
	},
	computed: {
		...mapState({
			contentModel: state => state.hrHiring.contentModel,
			formModel: state => state.hrHiring.formModel,
		}),
		/*
		*
		* */
		...mapGetters({
			getDisableItems: "getDisableItems"
		})
	},
	methods: {
		handleSigner(val) {
			this.contentModel.document_info.signer = {
				id: val.id,
				full_name: val.full_name,
				first_name: val.first_name,
				last_name: val.last_name,
				father_name: val.father_name,
				position: val.position,
			}
			this.contentModel.signers.push({
				signer_id: val.id,
				first_name: val.first_name,
				last_name: val.last_name,
				father_name: val.father_name,
				type: 'employer'
			})
			this.contentModel.signers.push({
				signer_id: this.formModel.id,
				first_name: this.formModel.first_name,
				last_name: this.formModel.last_name,
				father_name: this.formModel.father_name,
				type: 'candidate'
			})
		},
		/*
		*
		* */
		handleBranch(val) {
			this.contentModel.document_info.branch = {
				id: val.id,
				name: val.name,
				mfo: val.mfo
			}
			this.departmentApiParams.filial = val.mfo
		},
		/*
		*
		* */
		handleDepartment(val) {
			this.contentModel.document_info.department = {
				id: val.id,
				name: val.name
			}
			this.managementItemPk = val.id
		},
		/*
		*
		* */
		handleSubDepartment(val) {
			this.contentModel.document_info.sub_department = {
				id: val.id,
				name: val.name,
				sub_departments: val.sub_departments
			}
			this.subDepartmentItems = val.sub_departments
		},
		/*
		*
		* */
		handleDivision(val) {
			this.contentModel.document_info.division = {
				id: val.id,
				name: val.name,
				shb: null
			}
		}
	}
}
</script>

<style scoped>

</style>