<template>
	<div class="order-view">
		<v-row>
			<v-col md="6">
				<base-text-field
					v-model="orderModel.document_info.register_number"
					label="order-number"
					:placeholder="$t('enter-order-number')"
					count="1."
				/>
			</v-col>

			<v-col md="6">
				<base-date-picker
					v-model="orderModel.document_info.register_date"
					date-format-type="dd.MM.yyyy"
					has-format
					label="date-compilation"
					:placeholder="$t('date-compilation')"
					count="2."
				/>
			</v-col>

			<v-col md="6">
				<base-date-picker
					v-model="orderModel.document_info.start_date"
					date-format-type="dd.MM.yyyy"
					has-format
					label="dashboard.components.date"
					:placeholder="$t('dashboard.components.date')"
					count="3."
				/>
			</v-col>

			<v-col md="6">
				<base-text-field
					v-model="orderModel.document_info.additional_details.table_number"
					label="user-profile.views.tabel-number"
					:placeholder="$t('user-profile.views.tabel-number')"
					count="4."
				/>
			</v-col>

			<v-col md="6">
				<base-text-field
					v-model="orderModel.document_info.additional_details.shb"
					label="shb"
					:placeholder="$t('enter-shb')"
					count="5."
				/>
			</v-col>

			<v-col md="6">
				<base-auto-complete
					v-model="orderModel.document_info.__approver"
					api-list-url="/user/search/"
					:api-params="{
            role: 'top_management'
          }"
					list-type="list"
					item-text="full_name"
					item-value="id"
					label="approvers"
					:placeholder="$t('choose-approvers')"
					multiple
					cache-items
					return-object
					:item-disabled="getDisableItems"
					count="6."
				/>
			</v-col>

			<v-col md="12">
				<base-text-area
					v-model="orderModel.document_info.additional_details.text"
					label="basis"
					:placeholder="$t('enter-basis')"
					count="7."
				/>
			</v-col>
		</v-row>
	</div>
</template>

<script>
import { mapState, mapGetters } from 'vuex'

export default {
	name: "Order",
	computed: {
		...mapState({
			orderModel: state => state.hrHiring.orderModel,
			formModel: state => state.hrHiring.formModel,
		}),
		/*
		*
		* */
		...mapGetters({
			getDisableItems: "getDisableItems"
		})
	},
}
</script>

<style scoped>

</style>