<template>
	<div>
		<v-row>
			<v-col md="6">
				<base-text-field
					v-model="financialResponsibilityModel.document_info.register_number"
					label="contract-number"
					:placeholder="$t('enter-contract-number')"
					count="1."
				/>
			</v-col>

			<v-col md="6">
				<base-date-picker
					v-model="financialResponsibilityModel.document_info.register_date"
					date-format-type="dd.MM.yyyy"
					has-format
					label="survey-client.start.registration-date"
					:placeholder="$t('survey-client.start.registration-date')"
					count="2."
				/>
			</v-col>
		</v-row>
	</div>
</template>

<script>
import { mapState } from 'vuex'

export default {
	name: "FinancialResponsibility",
	computed: {
		...mapState({
			financialResponsibilityModel: state => state.hrHiring.financialResponsibilityModel,
			contentModel: state => state.hrHiring.contentModel,
			formModel: state => state.hrHiring.formModel,
		})
	},
}
</script>

<style scoped>

</style>