<template>
	<div class="job-application-view">
		<v-row>
			<v-col md="6">
				<base-text-field
					v-model="jobApplication.document_info.additional_details.heading_1"
					label="text-header"
					:placeholder="$t('enter-text-header')"
					count="1."
				/>
			</v-col>

			<v-col md="6">
				<base-text-field
					v-model="jobApplication.document_info.additional_details.heading_2"
					label="text-header"
					:placeholder="$t('enter-text-header')"
					count="2."
				/>
			</v-col>

			<v-col md="6">
				<base-text-field
					v-model="jobApplication.document_info.additional_details.heading_3"
					label="text-header"
					:placeholder="$t('enter-text-header')"
					count="3."
				/>
			</v-col>

			<v-col md="6">
				<base-text-field
					v-model="jobApplication.document_info.additional_details.heading_4"
					label="text-header"
					:placeholder="$t('enter-text-header')"
					count="4."
				/>
			</v-col>

			<v-col md="6">
				<base-text-field
					v-model="jobApplication.document_info.additional_details.heading_5"
					label="text-header"
					:placeholder="$t('enter-text-header')"
					count="5."
				/>
			</v-col>

			<v-col md="6">
				<base-date-picker
					v-model="jobApplication.document_info.start_date"
					date-format-type="dd.MM.yyyy"
					has-format
					label="date-employment"
					:placeholder="$t('date-employment')"
					count="6."
				/>
			</v-col>

			<v-col md="6">
				<base-date-picker
					v-model="jobApplication.document_info.register_date"
					date-format-type="dd.MM.yyyy"
					has-format
					label="dashboard.components.date"
					:placeholder="$t('dashboard.components.date')"
					count="7."
				/>
			</v-col>

			<v-col md="6">
				<base-auto-complete
					v-model="jobApplication.document_info.__signer"
					api-list-url="/user/search/"
					:api-params="userApiParams"
					list-type="list"
					item-text="full_name"
					item-value="id"
					label="components.for-signature"
					:placeholder="$t('document-flow.views.send-document.select-signatory')"
					cache-items
					return-object
					:item-disabled="getDisableItems"
					count="8."
					@emit:change="handleSigner"
				/>
			</v-col>
		</v-row>
	</div>
</template>

<script>
import { mapState, mapGetters } from 'vuex'

export default {
	name: "Order",
	data() {
		return {
			userApiParams: {
				role: 'top_management'
			},
		}
	},
	computed: {
		...mapState({
			jobApplication: state => state.hrHiring.jobApplication,
			formModel: state => state.hrHiring.formModel
		}),
		/*
		*
		* */
		...mapGetters({
			getDisableItems: "getDisableItems"
		})
	},
	methods: {
		handleSigner(val) {
			this.jobApplication.document_info.signer = {
				id: val.id,
				full_name: val.full_name,
				first_name: val.first_name,
				last_name: val.last_name,
				father_name: val.father_name,
				position: val.position,
			}
			this.jobApplication.signers.push({
				signer_id: val.id,
				first_name: val.first_name,
				last_name: val.last_name,
				father_name: val.father_name,
				type: 'employer'
			})
			this.jobApplication.signers.push({
				signer_id: this.formModel.id,
				first_name: this.formModel.first_name,
				last_name: this.formModel.last_name,
				father_name: this.formModel.father_name,
				type: 'candidate'
			})
		},
	}
}
</script>

<style scoped>

</style>