<template>
	<div>
		<v-row>
			<v-col md="6">
				<base-date-picker
					v-model="obligationModel.document_info.register_date"
					date-format-type="dd.MM.yyyy"
					has-format
					label="survey-client.start.registration-date"
					:placeholder="$t('survey-client.start.registration-date')"
				/>
			</v-col>
		</v-row>
	</div>
</template>

<script>
import { mapState } from 'vuex'

export default {
	name: "Indemnity",
	computed: {
		...mapState({
			obligationModel: state => state.hrHiring.obligationModel
		}),
	}
}
</script>

<style scoped>

</style>