<template>
	<div class="personal-data-view">
		<v-row>
			<v-col md="6">
				<base-text-field
					v-model="personalDataModel.document_info.additional_details.passport"
					label="passport-info"
					:placeholder="$t('enter-passport-info')"
					count="1."
				/>
			</v-col>

			<v-col md="6">
				<base-text-field
					v-model="personalDataModel.document_info.additional_details.stir"
					label="survey-client.start.stir-number"
					:placeholder="$t('survey-client.start.enter-stir-number')"
					count="2."
				/>
			</v-col>

			<v-col md="6">
				<base-date-picker
					v-model="personalDataModel.document_info.register_date"
					date-format-type="dd.MM.yyyy"
					has-format
					label="survey-client.start.registration-date"
					:placeholder="$t('survey-client.start.registration-date')"
					count="3."
				/>
			</v-col>
		</v-row>
	</div>
</template>

<script>
import { mapState } from 'vuex'

export default {
	name: "PersonalInformation",
	computed: {
		...mapState({
			personalDataModel: state => state.hrHiring.personalDataModel
		})
	}
}
</script>

<style scoped>

</style>