<template>
  <div class="create-order-form">
    <div class="d-flex align-center w-100 mb-6">
      <span class="heading-9 font-600 text-dark mr-3 d-block">
        {{ formType === 'create' ? $t('create-arbitrary-order') : formType === 'update' ? $t('update-arbitrary-order') : $t('show-arbitrary-order') }}
      </span>
      <v-divider />

      <div class="ml-3" style="width: 300px">
<!--        <v-combobox-->
<!--          v-model="selectedType"-->
<!--          :items="orderTypeList"-->
<!--          item-text="title"-->
<!--          item-value="title"-->
<!--          return-object-->
<!--          outlined-->
<!--          background-color="var(&#45;&#45;input-bg)"-->
<!--          :placeholder="$t('document-flow.views.boxes.letter-type')"-->
<!--          hide-details-->
<!--          dense-->
<!--        >-->
<!--          <template #append>-->
<!--            <chevron-down-icon size="20" color="#B0BDC2" />-->
<!--          </template>-->
<!--        </v-combobox>-->
      </div>
    </div>

    <div class="order-template pa-7">
      <div class="d-flex flex-wrap border-all mb-10 ml-auto small-2" >
        <div class="border-right border-bottom pa-2 font-500" style="width: 33.333%">{{$t('document-flow.views.boxes.document-number')}}</div>
        <div class="border-right border-bottom pa-2 font-500" style="width: 33.333%">{{$t('document-flow.views.boxes.date-preparation')}}</div>
        <div class="border-bottom pa-2 font-500" style="width: 33.333%">{{$t('document-flow.views.boxes.district-or-city')}}</div>
        <div class="border-right" style="width: 33.333%">
          <v-text-field
            v-model="$v.model.register_number.$model"
            :error="$v.model.register_number.$error"
            outlined
            dense
            hide-details
            :placeholder="$t('document-flow.views.boxes.number')"
          />
        </div>
        <div class="border-right" style="width: 33.333%">
          <app-date-picker
            v-model="$v.model.register_date.$model"
            :error="$v.model.register_date.$error"
            with-input
            dense
            :placeholder="$t('document-flow.views.boxes.date-format')"
          />
        </div>
        <div style="width: 33.333%">
          <app-autocomplete
            v-model="$v.regionSelected.$model"
            :error="$v.regionSelected.$error"
            api-list-url="/action/regions/"
            :api-params="{
              page_size: 20
            }"
            list-type="list"
            item-text="name"
            return-object
            cache-items
            dense
            background-color="#fff"
          />
        </div>
      </div>

      <div>
        <!-- Проверка для головного офиса -->
<!--        <template v-if="currentUser.filial === '09013'">-->
          <input
            v-model="selectedTypeDescription"
            class="d-block text-center w-100 outline-transparent pa-3 input-bg rounded-5 overflow-hidden font-600 mb-8"
            :placeholder="$t('document-flow.views.boxes.order-name')"
            style="border: 2px dashed #dedede"
          />
<!--        </template>-->

        <!-- Для филиала -->
<!--        <template v-else>-->
<!--          <h4 class="text-center font-600 mb-8">{{ selectedType.description }}</h4>-->
<!--        </template>-->

        <order-text-field v-model="model.short_description" />

<!--        <template v-if="loadedTemplate">-->
<!--          &lt;!&ndash;          <keep-alive>&ndash;&gt;-->
<!--          <component :is="loadedTemplate">-->
<!--            <template #text>-->
<!--              <order-text-field v-model="model.text" />-->
<!--            </template>-->

<!--            <template #aside>-->
<!--              <template v-if="formType === 'create'">-->
<!--                <template v-if="selectedType.value === 'hiring'">-->
<!--                  <v-text-field-->
<!--                    v-model="employeeName"-->
<!--                    outlined-->
<!--                    background-color="var(&#45;&#45;input-bg)"-->
<!--                    hide-details-->
<!--                    placeholder="F.I.SH"-->
<!--                  />-->
<!--                </template>-->
<!--                <template v-else>-->
<!--                  <template v-if="assignmentGetOne.document && assignmentGetOne.document.author">-->
<!--                    <h5 class="font-700">{{ assignmentGetOne.document.author.last_name }}</h5>-->
<!--                    <h5 class="font-700">{{ assignmentGetOne.document.author.first_name }}</h5>-->
<!--                    <h5 class="font-700">{{ assignmentGetOne.document.author.father_name }}</h5>-->
<!--                  </template>-->
<!--                </template>-->
<!--              </template>-->

<!--              <template v-else>-->
<!--                <template v-if="selectedType.value === 'hiring'">-->
<!--                  <v-text-field-->
<!--                    v-model="employeeName"-->
<!--                    outlined-->
<!--                    background-color="var(&#45;&#45;input-bg)"-->
<!--                    hide-details-->
<!--                    placeholder="F.I.SH"-->
<!--                  />-->
<!--                </template>-->
<!--                <template v-else>-->
<!--                  <h5 class="font-700">{{ model.user && model.user.last_name }}</h5>-->
<!--                  <h5 class="font-700">{{ model.user && model.user.first_name }}</h5>-->
<!--                  <h5 class="font-700">{{ model.user && model.user.father_name }}</h5>-->
<!--                </template>-->
<!--              </template>-->
<!--            </template>-->

<!--            <template #section>-->
<!--              <app-editor-->
<!--                v-model="model.text"-->
<!--                background-color="var(&#45;&#45;input-bg)"-->
<!--              />-->

<!--              &lt;!&ndash;                <quill-editor&ndash;&gt;-->
<!--              &lt;!&ndash;                  v-model="model.text"&ndash;&gt;-->
<!--              &lt;!&ndash;                  ref="editor"&ndash;&gt;-->
<!--              &lt;!&ndash;                  background-color="var(&#45;&#45;input-bg)"&ndash;&gt;-->
<!--              &lt;!&ndash;                />&ndash;&gt;-->
<!--            </template>-->

<!--            <template #text>-->
<!--              <order-text-field v-model="model.short_description" />-->
<!--            </template>-->
<!--          </component>-->
<!--          &lt;!&ndash;          </keep-alive>&ndash;&gt;-->
<!--        </template>-->

        <v-row class="mt-5">
          <v-col md="5">
            <span class="font-600 d-block">{{ model.__leadership && model.__leadership.position }}</span>
          </v-col>

          <v-col md="7">
            <div class="app-input">
              <autocomplete
                v-model="$v.model.__leadership.$model"
                :error="$v.model.__leadership.$error"
                api-list-url="/user/search/"
                :item-disabled="getDisableItems"
                item-value="id"
                item-text="full_name"
                :api-params="{
                  role: true
                }"
                cache-items
                outlined
                return-object
                hide-details
                dense
                :placeholder="$t('document-flow.views.boxes.select-signatory')"
                @change="selectedLeadership"
              />
            </div>

            <v-chip
              v-if="formType !== 'create'"
              color="primary"
              small
              class="mt-3"
            >
              {{ model.__leadership && model.__leadership.full_name }}
            </v-chip>
          </v-col>
        </v-row>

        <v-row class="mt-5">
          <!-- Agreed -->
          <v-col md="5">
            <span class="font-600 d-block">{{ $t('document-flow.views.boxes.select-agreed') }}</span>
          </v-col>

          <v-col md="7">
            <div class="app-input">
              <autocomplete
                v-model="agreedList"
                api-list-url="/user/search/"
                :item-disabled="getDisableItems"
                item-value="id"
                item-text="full_name"
                cache-items
                outlined
                return-object
                hide-details
                clearable
                dense
                multiple
                :placeholder="$t('document-flow.views.boxes.select-agreed')"
              />
            </div>
          </v-col>

          <v-col md="12">
            <app-table
              v-if="agreedList.length"
              bordered
            >
              <template #tableHeader>
                <th width="75">№</th>
                <th>{{$t('components.agreed')}}</th>
                <th width="75">{{$t('document-flow.views.boxes.developments')}}</th>
              </template>

              <template #tableBody>
                <tr
                  v-for="(item, index) in agreedList"
                  class="text-dark font-500"
                  :key="index"
                >
                  <td>{{ index + 1 }}</td>
                  <td>
                    {{ item.user ? item.user.full_name : item.full_name }}
                  </td>
                  <td>
                    <app-button
                      v-if="formType !== 'show'"
                      @click="agreedList.splice(index, 1)"
                      icon
                      color="error"
                      min-width="40"
                      height="40"
                      width="40"
                    >
                      <trash2-icon size="18" />
                    </app-button>
                  </td>
                </tr>
              </template>
            </app-table>
          </v-col>
          <!-- /Agreed -->

          <!-- Sign -->
          <v-col md="5">
            <span class="font-600 d-block">{{ $t('select-signers') }}</span>
          </v-col>

          <v-col md="7">
            <div class="app-input">
              <autocomplete
                v-model="signersList"
                api-list-url="/user/search/"
                :item-disabled="getDisableItems"
                item-value="id"
                item-text="full_name"
                cache-items
                outlined
                return-object
                hide-details
                clearable
                dense
                multiple
                :placeholder="$t('select-signers')"
              />
            </div>
          </v-col>

          <v-col md="12">
            <app-table
              v-if="signersList.length"
              bordered
            >
              <template #tableHeader>
                <th width="75">№</th>
                <th>{{$t('document-flow.views.boxes.signatory')}}</th>
                <th width="75">{{$t('document-flow.views.boxes.developments')}}</th>
              </template>

              <template #tableBody>
                <tr
                  v-for="(item, index) in signersList"
                  class="text-dark font-500"
                  :key="index"
                >
                  <td>{{ index + 1 }}</td>
                  <td>
                    {{ item.user ? item.user.full_name : item.full_name }}
                  </td>
                  <td>
                    <app-button
                      v-if="formType !== 'show'"
                      @click="signersList.splice(index, 1)"
                      icon
                      color="error"
                      min-width="40"
                      height="40"
                      width="40"
                    >
                      <trash2-icon size="18" />
                    </app-button>
                  </td>
                </tr>
              </template>
            </app-table>
          </v-col>
	        <!-- /Sign -->

					<!-- User -->
	        <v-col md="5">
		        <span class="font-600 d-block">{{ $t('document-flow.views.boxes.select-user') }}</span>
	        </v-col>

	        <v-col md="7">
		        <div class="app-input">
			        <autocomplete
				        v-model="usersList"
				        api-list-url="/user/search/"
				        :item-disabled="getDisableItems"
				        item-value="id"
				        item-text="full_name"
				        cache-items
				        outlined
				        return-object
				        hide-details
				        clearable
				        dense
				        :placeholder="$t('document-flow.views.boxes.select-user')"
			        />
		        </div>
	        </v-col>

	        <v-col md="12">
		        <app-table
			        v-if="Object.keys(usersList).length"
			        bordered
		        >
			        <template #tableHeader>
				        <th width="75">№</th>
				        <th>{{$t('document-flow.views.boxes.signatory')}}</th>
				        <th width="75">{{$t('user')}}</th>
			        </template>

			        <template #tableBody>
				        <tr
					        class="text-dark font-500"
				        >
					        <td>1</td>
					        <td>
						        {{ usersList.user ? usersList.user.full_name : usersList.full_name }}
					        </td>
					        <td>
						        <app-button
							        v-if="formType !== 'show'"
							        @click="usersList = {}"
							        icon
							        color="error"
							        min-width="40"
							        height="40"
							        width="40"
						        >
							        <trash2-icon size="18" />
						        </app-button>
					        </td>
				        </tr>
			        </template>
		        </app-table>
	        </v-col>
	        <!-- /User -->

	        <!-- For acquaintance -->
	        <v-col md="5">
		        <span class="font-600 d-block">{{ $t('forAcquaintance') }}</span>
	        </v-col>

	        <v-col md="7">
		        <div class="app-input">
			        <autocomplete
				        v-model="acquaintanceList"
				        api-list-url="/user/search/"
				        item-value="id"
				        item-text="full_name"
				        cache-items
				        outlined
				        return-object
				        hide-details
				        clearable
				        dense
				        multiple
				        :placeholder="$t('forAcquaintance')"
			        />
		        </div>
	        </v-col>

	        <v-col md="12">
		        <app-table
			        v-if="acquaintanceList.length"
			        bordered
		        >
			        <template #tableHeader>
				        <th width="75">№</th>
				        <th>{{$t('forAcquaintance')}}</th>
				        <th width="75">{{$t('document-flow.views.boxes.developments')}}</th>
			        </template>

			        <template #tableBody>
				        <tr
					        v-for="(item, index) in acquaintanceList"
					        class="text-dark font-500"
					        :key="index"
				        >
					        <td>{{ index + 1 }}</td>
					        <td>
						        {{ item.user ? item.user.full_name : item.full_name }}
					        </td>
					        <td>
						        <app-button
							        v-if="formType !== 'show'"
							        @click="acquaintanceList.splice(index, 1)"
							        icon
							        color="error"
							        min-width="40"
							        height="40"
							        width="40"
						        >
							        <trash2-icon size="18" />
						        </app-button>
					        </td>
				        </tr>
			        </template>
		        </app-table>
	        </v-col>
	        <!-- /For acquaintance -->


          <v-col md="12">
            <file-upload-for-sending-document :files="files" @uploadFiles="uploadFiles" @deleteFile="deleteFile" />
          </v-col>
        </v-row>

        <div class="text-center mt-10">
          <app-button @click="preview">
            {{$t('document-flow.views.boxes.template-preview')}}
          </app-button>
        </div>
      </div>
    </div>

    <!-- Order Template Modal -->
    <v-dialog
      v-model="templateDialog"
      width="620"
      content-class="generate-wrap reset-dialog-style"
    >
      <div v-if="templateDialog">
        <div class="generate-pdf-area overflow-y-auto bg-4 mb-5 pa-10 p-relative d-flex flex-column">
          <app-button
            icon
            color="error"
            min-width="40"
            width="40"
            height="40"
            tile
            @click="templateDialog = false"
            class="p-absolute"
            style="top: 0; right: 0;"
          >
            <x-icon />
          </app-button>

          <div>
            <v-row>
              <v-col md="8">
                <img src="/img/logo_asaka_3.svg" alt="Logo Asakabank" class="mt-2 mb-5">

                <div
                  class="brand-actions d-flex align-center py-2 pr-5 p-relative text-dark small-3 font-600 p-relative pl-10"
                  style="left: -40px"
                >
                  <span>{{ currentUser.filial_name }}</span>
                </div>
              </v-col>
            </v-row>
          </div>

          <div>
            <v-row class="mt-3">
              <v-col md="12">
                <span class="d-block font-600 text-center">{{$t('document-flow.views.boxes.command')}}</span>
              </v-col>

              <v-col md="4">
                <span class="d-block font-600 small-2">{{ model.register_date }}</span>
              </v-col>

              <v-col md="4">
                <span class="d-block font-600 small-2 text-center">{{ model.register_number }}</span>
              </v-col>

              <v-col md="4">
                <span class="d-block font-600 small-2 text-right">{{ regionSelected && regionSelected.name }}</span>
              </v-col>
            </v-row>
          </div>

          <div class="text-center small-1 text-dark font-600 mt-6">
            <!-- Проверка для головного офиса -->
<!--            <template v-if="currentUser.filial === '09013'">-->
              <h4 class="text-center font-600 mb-8">{{ selectedTypeDescription }}</h4>
<!--            </template>-->

            <!-- Для филиала -->
<!--            <template v-else>-->
<!--              <h4 class="text-center font-600 mb-8">{{ selectedType.description }}</h4>-->
<!--            </template>-->
          </div>

          <span v-html="model.short_description" class="reset-space small-2 font-500 mb-5 d-block"></span>

<!--          <keep-alive>-->
<!--            <component :is="loadedTemplate" class="flex-1">-->
<!--              <template #text>-->
<!--                <span v-html="model.text" class="reset-space small-2 font-500 mb-5 d-block"></span>-->
<!--              </template>-->

<!--              <template #aside>-->
<!--                <template v-if="formType === 'create'">-->
<!--                  <template v-if="selectedType.value === 'hiring'">-->
<!--                    <h5 class="font-700">{{ employeeName }}</h5>-->
<!--                  </template>-->
<!--                  <template v-else>-->
<!--                    <template v-if="assignmentGetOne.document && assignmentGetOne.document.author">-->
<!--                      <h5 class="font-700">{{ assignmentGetOne.document.author.last_name }}</h5>-->
<!--                      <h5 class="font-700">{{ assignmentGetOne.document.author.first_name }}</h5>-->
<!--                      <h5 class="font-700">{{ assignmentGetOne.document.author.father_name }}</h5>-->
<!--                    </template>-->
<!--                  </template>-->
<!--                </template>-->

<!--                <template v-else>-->
<!--                  <template v-if="selectedType.value === 'hiring'">-->
<!--                    <h5 class="font-700">{{ employeeName }}</h5>-->
<!--                  </template>-->
<!--                  <template v-else>-->
<!--                    <h5 class="font-700">{{ model.user && model.user.last_name }}</h5>-->
<!--                    <h5 class="font-700">{{ model.user && model.user.first_name }}</h5>-->
<!--                    <h5 class="font-700">{{ model.user && model.user.father_name }}</h5>-->
<!--                  </template>-->
<!--                </template>-->
<!--              </template>-->

<!--              <template #section>-->
<!--                <span v-html="model.text" class="reset-space small-2 font-500 mb-5 d-block"></span>-->
<!--              </template>-->

<!--              <template #text>-->
<!--                <span v-html="model.short_description" class="reset-space small-2 font-500 mb-5 d-block"></span>-->
<!--              </template>-->
<!--            </component>-->
<!--          </keep-alive>-->

          <div v-if="Object.keys(model.__leadership).length" class="mb-6">
            <v-row>
              <v-col md="6">
                <span class="font-600 small-2">{{ model.__leadership.position }}</span>
              </v-col>
              <v-col md="6">
                <span class="font-600 text-right d-block small-2">{{ model.__leadership.first_name && model.__leadership.first_name | getFirstCharacter }} {{ model.__leadership.last_name }}</span>
              </v-col>
            </v-row>
          </div>

          <div v-if="signersList.length">
            <span class="font-600 d-block mb-3 small-2">Kelishildi</span>

            <div
              v-for="(item, index) in signersList"
              :key="index"
              class="text-dark font-500 small-2"
            >
              <span v-if="item.hasOwnProperty('user')">
                {{ item.user.first_name | getFirstCharacter }} {{ item.user.father_name && item.user.father_name | getFirstCharacter }}  {{ item.user.last_name }}
              </span>
              <span v-else>
                {{ item.first_name | getFirstCharacter }} {{ item.father_name && item.father_name | getFirstCharacter }}  {{ item.last_name }}
              </span>
            </div>
          </div>

	        <div v-if="acquaintanceList.length" class="mt-4">
		        <v-row v-for="(item, index) in acquaintanceList" :key="index" class="text-dark font-500 small-2 mt-0">
			        <v-col md="6">
				        <span>Buyruq bilan tanishdim</span>
			        </v-col>
			        <v-col md="6">
				        <span v-if="item.hasOwnProperty('user')">
                {{ item.user.first_name | getFirstCharacter }} {{ item.user.father_name && item.user.father_name | getFirstCharacter }}  {{ item.user.last_name }}
              </span>
				        <span v-else>
                {{ item.first_name | getFirstCharacter }} {{ item.father_name && item.father_name | getFirstCharacter }}  {{ item.last_name }}
              </span>
			        </v-col>
		        </v-row>
	        </div>
        </div>

        <div class="text-center">
          <app-button
            outlined
            color="#fff"
            @click="templateDialog = false"
          >
            <template #prepend>
              <edit2-icon size="18" />
            </template>
            {{$t('document-flow.views.boxes.change')}}
          </app-button>

          <template v-if="formType === 'create'">
            <app-button
              :loading="loading"
              class="ml-5"
              @click="send"
            >
              <template #prepend>
                <v-icon size="18">{{ "$vuetify.icons.SendIcon" }}</v-icon>
              </template>
              {{$t('document-flow.views.boxes.send')}}
            </app-button>
          </template>

          <template v-if="formType === 'update'">
            <app-button
              :loading="loading"
              class="ml-5"
              @click="update"
            >
              <template #prepend>
                <v-icon size="18">{{ "$vuetify.icons.SendIcon" }}</v-icon>
              </template>
              {{$t('document-flow.views.boxes.change')}}
            </app-button>
          </template>
        </div>
      </div>
    </v-dialog>
    <!-- /Order Template Modal -->
  </div>
</template>

<script>
import AppLoader from "@/common/components/base/AppLoader"
import { lazyLoadComponent } from "@/common/helpers"
import { ChevronDownIcon, Edit2Icon, Trash2Icon, XIcon } from "vue-feather-icons"
import { required } from "vuelidate/lib/validators"
import { mapGetters } from "vuex"
import OrderTextField from "../../../components/Orders/OrderTextField"
import OrderUserField from "../../../components/Orders/OrderUserField"
import FileUploadForSendingDocument from "./FileUploadForSendingDocument"

export default {
	name: "ArbitraryOrderForm",
	props: {
		formType: {
			type: String,
			default: "create"
		}
	},
	components: {
		AppLoader,
		OrderTextField,
		OrderUserField,
		FileUploadForSendingDocument,
		ChevronDownIcon,
		Trash2Icon,
		XIcon,
		Edit2Icon
	},
	data() {
		return {
			signersList: [],
			agreedList: [],
			acquaintanceList: [],
			usersList: {},
			templateDialog: false,
			loading: false,
			selectedType: {
        id: 3,
        title: "Vazifa yuklatish 30%",
        description: "Vaqtinchalik vazifa yuklatish to'g'risida",
        component: "Column",
        value: "task_loading"
      },
			selectedTypeDescription: null,
			regionSelected: null,
			model: {
				type: "hr_order",
				sub_type: "arbitrary_order",
				register_number: null,
				register_date: null,
				short_description: "",
				text: "",
				journal_id: 6,
				signed_by: [],
				agreed_by: [],
				__leadership: {},
				files: []
			},
			orderTypeList: [
				// {
				//   id: 1,
				//   title: "Bank Kredit qo'mitasi a'zolarini tasdiqlash",
				//   description: "Bank Kredit qo'mitasi a'zolarini tasdiqlash to'g'risida",
				//   component: "Column",
				//   value: ""
				// },
				{
					id: 2,
					title: "Ish haqi saqlanmagan holda ta'til berish",
					description: "Ish haqi saqlanmagan holda ta'til berish to'g'risida",
					component: "AsideSectionWithColumn",
					value: "unpaid_leave"
				},
				{
					id: 3,
					title: "Vazifa yuklatish 30%",
					description: "Vaqtinchalik vazifa yuklatish to'g'risida",
					component: "Column",
					value: "task_loading"
				},
				{
					id: 4,
					title: "Vazifa yuklatish oylikdagi farqi",
					description: "Vaqtinchalik vazifa yuklatish to'g'risida",
					component: "Column",
					value: "task_loading"
				},
				{
					id: 5,
					title: "Vazifa yuklatish imzo huquqi bilan",
					description: "Vaqtinchalik vazifa yuklatish to'g'risida",
					component: "Column",
					value: "task_loading"
				},
				{
					id: 6,
					title: "Vazifa yuklatish (oddiy)",
					description: "Vaqtinchalik vazifa yuklatish to'g'risida",
					component: "Column",
					value: "task_loading"
				},
				{
					id: 7,
					title: "Bola parvarishlash ta’tilidan ishga qaytish",
					description: "Bola parvarishlash ta’tilidan ishga qaytish",
					component: "AsideSectionWithColumn",
					value: "childcare_leave"
				},
				{
					id: 8,
					title: "Lavozimdan-lavozimga o'tqazish (guruh bilan)",
					description: "Lavozimdan-lavozimga o‘tkazish va oylik maosh belgilash to‘g‘risida",
					component: "Column", // ???,
					value: "rotation"
				},
				{
					id: 9,
					title: "Dam olish kunlarini ko'chirish",
					description: "Dam olish kunlarini ko'chirish to'g'risida",
					component: "Column",
					value: "transfer_vacation_date"
				},
				// {
				//   id: 10,
				//   title: "Departamentni qayta tashkil etish",
				//   description: "Departamentning tarkibiy tuzilmalarini tashkil etish to'g'risida",
				//   component: "Column",
				//   value: ""
				// },
				{
					id: 11,
					title: "Bola parvarish ta'til 2 yoshgacha",
					description: "Bola parvarishlash ta'tili berish to'g'risida",
					component: "AsideSectionWithColumn",
					value: "childcare_leave"
				},
				{
					id: 12,
					title: "Bola parvarish ta'til 3 yoshgacha",
					description: "Bola parvarishlash ta'tili berish to'g'risida",
					component: "AsideSectionWithColumn",
					value: "childcare_leave"
				},
				{
					id: 13,
					title: "Intizomiy jazo oddiy foiz va hayfsan",
					description: "Intizomiy jazo chorasi qo‘llash to'g'risida",
					component: "Column",
					value: "disciplinary_action"
				},
				{
					id: 14,
					title: "Intizomiy jazo (guruh bilan)",
					description: "Intizomiy jazo chorasi qo‘llash to'g'risida",
					component: "Column", // ???,
					value: "disciplinary_action"
				},
				// {
				//   id: 15,
				//   title: "Ishchi guruh tuzish",
				//   description: "Xizmat tekshiruv o‘tkazish to'g'risida",
				//   component: "Column",
				//   value: ""
				// },
				{
					id: 16,
					title: "Xizmat safari",
					description: "Xizmat safari to'g'risida",
					component: "Column",
					value: "trip"
				},
				{
					id: 17,
					title: "Xizmat safari (uzaytirish)",
					description: "Xizmat safarini uzaytirish to'g'risida",
					component: "Column",
					value: "trip"
				},
				// {
				//   id: 18,
				//   title: "Komissiya tuzish",
				//   description: "Markaziy ekspert komissiyasi to'g'risida",
				//   component: "Column",
				//   value: ""
				// },
				{
					id: 19,
					title: "Moddiy rag'batlantirish (yubiley)",
					description: "Moddiy rag'batlantirish to'g'risida",
					component: "Column",
					value: "one_time_bonus"
				},
				{
					id: 20,
					title: "Moddiy rag'batlantirish (nikoh to'y)",
					description: "Moddiy rag'batlantirish to'g'risida",
					component: "Column",
					value: "marriage_financial_sup"
				},
				{
					id: 21,
					title: "Moddiy rag'batlantirish (farzand tug'ilganligi)",
					description: "Moddiy rag'batlantirish to'g'risida",
					component: "Column",
					value: "child_financial_sup"
				},
				{
					id: 22,
					title: "Mehnat ta'tili (3+9)",
					description: "Mehnat ta'tili berish to'g'risida",
					component: "AsideSection",
					value: "vacation"
				},
				{
					id: 23,
					title: "Mehnat ta'tili (12 kun)",
					description: "Mehnat ta'tili berish to'g'risida",
					component: "AsideSection",
					value: "vacation"
				},
				{
					id: 24,
					title: "Mehnat ta'tili (15+9 kun)",
					description: "Mehnat ta'tili berish to'g'risida",
					component: "AsideSection",
					value: "vacation"
				},
				{
					id: 25,
					title: "Mehnat ta'tili (24 kun + 3 kun bolasiga)",
					description: "Mehnat ta'tili berish to'g'risida",
					component: "AsideSection",
					value: "vacation"
				},
				{
					id: 26,
					title: "Mehnat ta'tili va vazifa yuklatish 24 kun",
					description: "Mehnat ta'tili berish to'g'risida",
					component: "AsideSectionWithColumn",
					value: "vacation"
				},
				{
					id: 27,
					title: "Mehnat ta'tilidan chaqirib olish",
					description: "Mehnat ta'tilidan chaqirib olish to'g'risida",
					component: "Column",
					value: "call_for_work"
				},
				{
					id: 28,
					title: "Mehnat ta'tilidan chaqirib olish va pullik kompensatsiyasiz",
					description: "Mehnat ta'tilidan chaqirib olish va pullik kompensatsiyasiz almashtirish to'g'risida",
					component: "Column",
					value: "call_for_work"
				},
				{
					id: 29,
					title: "Mehnat ta'tilidan chaqirib olish va mehnat ta'tili uzaytirish",
					description: "Mehnat ta'tilidan chaqirib olish to'g'risida",
					component: "Column",
					value: "call_for_work"
				},
				{
					id: 30,
					title: "Mehnat ta'tili berish va hududiy qo'shimcha",
					description: "Mehnat ta'tili berish to'g'risida",
					component: "AsideSection",
					value: "vacation"
				},
				{
					id: 31,
					title: "Mehnat ta'tili berish va donorlik qo'shimcha",
					description: "Mehnat ta'tili berish to'g'risida",
					component: "AsideSection",
					value: "vacation"
				},
				{
					id: 32,
					title: "Mehnat ta'tili berish va nogironlikni 30 kalendar kunlik",
					description: "Mehnat ta'tili berish to'g'risida",
					component: "AsideSection",
					value: "vacation"
				},
				{
					id: 33,
					title: "Mehnat ta'tili berish boshqaruvchilarga",
					description: "Mehnat ta'tili berish to'g'risida",
					component: "AsideSectionWithColumn",
					value: "vacation"
				},
				{
					id: 34,
					title: "Mehnat ta'tili berish boshqaruvchilarga (15+9)",
					description: "Mehnat ta'tili berish to'g'risida",
					component: "AsideSectionWithColumn",
					value: "vacation"
				},
				{
					id: 35,
					title: "Lavozimdan-lavozimga o'tqazish hamda shtat birlikni kiritish",
					description: "Lavozimdan-lavozimga o‘tkazish to‘g‘risida",
					component: "AsideSectionWithColumn",
					value: "rotation"
				},
				{
					id: 36,
					title: "Moddiy yordam ko'rsatish vafoti munosabati bilan",
					description: "Moddiy yordam to‘g‘risida",
					component: "Column",
					value: "funeral"
				},
				{
					id: 37,
					title: "Bank xodimini rag'batlantirish tog'risida",
					description: "Bank xodimlarini rag’batlantirish to‘g‘risida",
					component: "Column",
					value: "one_time_bonus"
				},
				{
					id: 38,
					title: "Ishga qabul qilish",
					description: "Ishga qabul qilish to‘g‘risida",
					component: "AsideSectionWithColumn",
					value: "hiring"
				},
				{
					id: 39,
					title: "Ishga qabul qilish va shtat birligini kiritish",
					description: "Mehnat ta'tili berish to'g'risida",
					component: "AsideSectionWithColumn",
					value: "hiring"
				},
				{
					id: 40,
					title: "Harbiy xizmatga yuborish",
					description: "Harbiy xizmatga yuborish to'g'risida",
					component: "Column",
					value: "military_vacation"
				},
				// {
				//   id: 41,
				//   title: "Umumxalq xayriya hashari o‘tkazish",
				//   description: "Umumxalq xayriya hashari o‘tkazish to‘g‘risida",
				//   component: "Column",
				//   value: ""
				// },
				{
					id: 42,
					title: "Bank xodimlarini mukofotlash",
					description: "Bank xodimlarini mukofotlash to‘g‘risida",
					component: "Column",
					value: "one_time_bonus"
				},
				// {
				//   id: 43,
				//   title: "Smenali ish rejimini joriy etish va o‘rnatilishi",
				//   description: "Smenali ish rejimini joriy etish va o‘rnatilishi to'g'risida",
				//   component: "Column", // ???,
				//   value: ""
				// },
				{
					id: 44,
					title: "Mehnat shartnomasini bekor qilish (97-modda)",
					description: "Mehnat shartnomasini bekor qilish to'g'risida",
					component: "AsideSectionWithColumn",
					value: "resignation"
				},
				{
					id: 45,
					title: "Mehnat shartnomasini bekor qilish (99-modda)",
					description: "Mehnat shartnomasini bekor qilish to'g'risida",
					component: "AsideSectionWithColumn",
					value: "resignation"
				},
				{
					id: 46,
					title: "Mehnat shartnomasini bekor qilish (105-modda)",
					description: "Mehnat shartnomasini bekor qilish to'g'risida",
					component: "AsideSectionWithColumn",
					value: "resignation"
				},
				// {
				//   id: 47,
				//   title: "Ustama haqi o'rnatish",
				//   description: "Ustama haqi o'rnatish to'g'risida",
				//   component: "Column",
				//   value: ""
				// },
				// {
				//   id: 48,
				//   title: "Familiyani o'zgartirish",
				//   description: "Familiyani o'zgartirish to'g'risida",
				//   component: "Column",
				//   value: ""
				// },
				{
					id: 49,
					title: "Mehnat shartnomasini bekor qilish boshqaruvini hamda komissiya tuzish",
					description: "Mehnat shartnomasini bekor qilish to'g'risida",
					component: "AsideSectionWithColumn",
					value: "resignation"
				},
				{
					id: 50,
					title: "Vazifa yuklatish boshqaruvchi",
					description: "Vazifa yuklatilishi to'g'risida",
					component: "Column",
					value: "task_loading"
				},
				{
					id: 51,
					title: "Mehnat ta'tilidan chaqirib olish boshqaruvchilar",
					description: "Mehnat ta'tilidan chaqirib olish va pullik kompensatsiyaga almashtirish to'g'risida",
					component: "Column",
					value: "call_for_work"
				},
				{
					id: 52,
					title: "Ish xaqi saqlanmagan holda ta'til boshqaruvchiga",
					description: "Ish xaqi saqlanmagan holda ta'til berish to'g'risida",
					component: "Column",
					value: "unpaid_leave"
				},
				{
					id: 53,
					title: "Xizmat tekshiruvi + xizmat safari",
					description: "Xizmat tekshiruvi o'tkazish to'g'risida",
					component: "Column",
					value: "trip"
				},
				// {
				//   id: 54,
				//   title: "Shanba-yakshanba ishga jalb qilish",
				//   description: "Xodimlarni dam olish kunlari ishga jalb qilish to'g'risida",
				//   component: "Column",
				//   value: ""
				// },
				{
					id: 55,
					title: "Shtat ochish",
					description: "Shtat jadvaliga o‘zgartirish kiritilishi to'g'risida",
					component: "Column",
					value: "open_state"
				},
			],
			loadedTemplate: null,
			employeeName: null,
			files: []
		}
	},
	validations: {
		model: {
			register_number: { required },
			register_date: { required },
			__leadership: { required },
		},
		regionSelected: { required },
	},
	computed: {
		...mapGetters({
			getDisableItems: "getDisableItems",
			currentUser: "auth/getCurrentUser",
			assignmentGetOne: "documentFlowModule/getAssignmentGetOne",
		}),
	},
	mounted() {
		if(this.formType === "update") {
			this.getOne()
		}
	},
	methods: {
		send() {
			this.$v.$touch();

			if (this.$v.$invalid) {
				return;
			}

			this.loading = !this.loading

			let model = {
				...this.model,
				text: this.model.text ? this.model.text.replace(/<br\s*[\/]?>/gi, '<br/>') : ".",
				short_description: this.model.short_description ? this.model.short_description.replace(/<br\s*[\/]?>/gi, '<br/>') : ".",
				user: this.usersList.id,
        component: {
					// description: this.currentUser.filial === '09013' ? this.selectedTypeDescription : this.selectedType.description,
					// title: this.currentUser.filial === '09013' ? this.selectedTypeDescription : this.selectedType.description,
	        description: this.selectedTypeDescription,
	        title: this.selectedTypeDescription,
					regionName: this.regionSelected.name,
					filialName: this.currentUser.filial_name,
          value: "arbitrary_order",
          component: "Column"
				},
				signer_obj: [{
					id: this.model.__leadership.id,
					first_name: this.model.__leadership.first_name,
					last_name: this.model.__leadership.last_name,
					father_name: this.model.__leadership.father_name,
					full_name: this.model.__leadership.full_name,
					assistants: this.model.__leadership.assistants[0],
					position: this.model.__leadership.position,
					color: this.model.__leadership.color
				}],
				curator: this.model.__leadership && this.model.__leadership.id,
				dept_code: this.currentUser.top_level_dept
			}

      console.log("MODEL", model);

      this.$http.post(`/docflow/${this.currentUser.filial}/compose/`, model)
			.then(({ data }) => {
				this.$toast.success(this.$t('document-flow.views.boxes.command-was-created'))

				this.templateDialog = false
				this.loading = false

        this.$router.push({
          name: "SendDocumentNew",
          query: {
            type: "hr_order",
            journal_id: 6
          }
        })
			})
			.catch(() => {
				this.loading = false
			})
		},
		/*
		*
		* */
		update() {
			this.$v.$touch();

			if (this.$v.$invalid) {
				return;
			}

			this.loading = !this.loading

			let model = {
				...this.model,
				text: this.model.text ? this.model.text.replace(/<br\s*[\/]?>/gi, '<br/>') : ".",
				short_description: this.model.short_description ? this.model.short_description.replace(/<br\s*[\/]?>/gi, '<br/>') : ".",
				user: this.usersList.id,
				component: {
					...this.selectedType,
					// description: this.currentUser.filial === '09013' ? this.selectedTypeDescription : this.selectedType.description,
					// title: this.currentUser.filial === '09013' ? this.selectedTypeDescription : this.selectedType.description,
					description: this.selectedTypeDescription,
					title: this.selectedTypeDescription,
					regionName: this.regionSelected.name,
					filialName: this.currentUser.filial_name,
				},
				signer_obj: [{
					id: this.model.__leadership.id,
					first_name: this.model.__leadership.first_name,
					last_name: this.model.__leadership.last_name,
					father_name: this.model.__leadership.father_name,
					full_name: this.model.__leadership.full_name,
					assistants: Array.isArray(this.model.__leadership.assistants) ? this.model.__leadership.assistants[0] : this.model.__leadership.assistants,
					position: this.model.__leadership.position,
					color: this.model.__leadership.color
				}],
				curator: this.model.__leadership && this.model.__leadership.id,
				files: this.model.files.map(item => ({ id: item.id }))
			}

			delete model.evaluation

			this.$http.put(`/docflow/${this.currentUser.filial}/compose/${this.$route.params.id}/`, model)
			.then(({ data }) => {
				this.$toast.success(this.$t('document-flow.views.boxes.command-was-changed'))

				this.templateDialog = false
				this.loading = false

				this.$router.push({
					name: "SendingDocumentsShow",
					params: {
						id: data.id
					},
					query: {
						type: "hr_order"
					}
				})
			})
			.catch(() => {
				this.$toast.error(`Hujjatni yuborishda xatolik`)
				this.loading = false
			})
		},
		/*
		*
		* */
		preview() {
			this.templateDialog = !this.templateDialog
			this.model.signed_by = []
			this.model.agreed_by = []

			if(this.formType === 'create') {
				if (this.signersList) {
					this.signersList.forEach(item => this.model.signed_by.push({
						user: item.id
					}))
				}

				if (this.agreedList) {
					this.agreedList.forEach(item => this.model.agreed_by.push({
						user: item.id
					}))
				}

				if (this.acquaintanceList) {
					this.acquaintanceList.forEach(item => this.model.signed_by.push({
						user: item.id,
						position: 'acquaintance'
					}))
				}
			}

			if(this.formType === 'update') {
				if (this.signersList) {
					this.signersList.forEach(item => {
						if(item.hasOwnProperty("user")) {
							this.model.signed_by.push({
								id: item.id,
								user: item.user.id
							})
						}
						else {
							this.model.signed_by.push({
								user: item.id
							})
						}
					})
				}

				if (this.acquaintanceList) {
					this.acquaintanceList.forEach(item => {
						if(item.hasOwnProperty("user")) {
							this.model.signed_by.push({
								id: item.id,
								user: item.user.id,
								position: "acquaintance"
							})
						}
						else {
							this.model.signed_by.push({
								user: item.id,
								position: "acquaintance"
							})
						}
					})
				}

				if(this.agreedList && this.agreedList.length) {
					this.agreedList.forEach(item => {
						if(item.hasOwnProperty("user")) {
							this.model.agreed_by.push({
								id: item.id,
								user: item.user.id
							})
						}
						else {
							this.model.agreed_by.push({
								user: item.id
							})
						}
					})
				}
			}
		},
		/*
		*
		* */
		getOne() {
			this.$http.get(`/docflow/${this.currentUser.filial}/compose/${this.$route.params.id}/`)
			.then(({ data }) => {
				let copy = { ...data }

				this.selectedType = data.component
				this.regionSelected = {
					name: data.component.regionName
				}
				this.model = data
				this.model.__leadership = data.signer_obj[0]
				this.signersList = data.signed_by.filter(item => !item.position)
				this.agreedList = data.agreed_by
				this.acquaintanceList = data.signed_by.filter(item => item.position && item.position === 'acquaintance')
				this.employeeName = data.component.employeeName
				this.selectedTypeDescription = data.component.description
				this.files = [...data.files]
				this.model.files = data.files
        this.model.user = data.user.id
				this.usersList = copy.user
			})
		},
		/*
		*
		* */
		selectedLeadership(value) {
			if(value) {
				// Если нет ассистента
				if(!Array.isArray(value.assistants)) {
					this.$toast.error(this.$t('document-flow.views.boxes.this-user-no-assistant'), { timeout: 5000 })

					this.model.__leadership = {}
				}
			}
		},
		/**/
		uploadFiles(data) {
			this.files.push(data);
			this.model.files.push({
				id: data.id
			})
		},
		/**/
		deleteFile({ item, index}) {
			this.files.splice(index, 1)
			this.model.files.splice(index, 1)
		},
	}
}
</script>

<style>
.order-template {
  min-height: 650px;
  border: 2px dashed #dedede;
  border-radius: 10px;
}
</style>
