<template>
	<v-dialog
		v-model="dialog"
		width="595"
		content-class="generate-wrap reset-dialog-style"
	>
		<div class="bg-white quill-editor">
			<div class="bg-white d-flex w-100 justify-end">
				<app-button
					icon
					color="error"
					min-width="40"
					width="40"
					height="40"
					tile
					@click="dialog = false"
					class="p-absolute"
					style="top: 0; right: 0;"
				>
					<x-icon/>
				</app-button>
			</div>
			<perfect-scrollbar>
				<div class="generate-pdf-area overflow-y-auto bg-4 mb-5 pa-10 p-relative d-flex flex-column">
					<div>
						<v-row class="d-flex align-end">
							<v-col md="2">
								<img src="/img/logo_asaka_4.png" alt="Logo Asakabank" class="mt-2 mb-5">
							</v-col>
							<v-col md="10">
								<div class="d-flex justify-center">
									<span class="font-600 small-2 text-center mb-4">
										<span v-html="subTypeText"></span>
									</span>
								</div>
							</v-col>
						</v-row>
						<div class="d-flex my-2 justify-space-between">
							<span class="font-500 size-13">{{ registeredDate }}</span>
							<span class="font-500 size-13">Toshkent shahri</span>
						</div>

						<span class="font-700 text-decoration-underline size-13">
							<span v-html="protocolChairText"></span>
						</span>
						<v-row class="pa-0 ma-0">
							<v-col md="5" class="pa-0 ma-0">
								<span v-if="chairman.user" class="font-500 size-13">{{ chairman.user.first_name && chairman.user.first_name | getFirstCharacter }} {{ chairman.user.father_name && chairman.user.father_name | getFirstCharacter }} {{ chairman.user.last_name }}</span>
								<span v-else class="font-500 size-13">{{ chairman.first_name && chairman.first_name | getFirstCharacter }} {{ chairman.father_name && chairman.father_name | getFirstCharacter }} {{ chairman.last_name }}</span>
							</v-col>
							<v-col md="7" class="pa-0 ma-0">
								<span v-if="chairman.user" class="font-500 size-13">{{ chairman.user.position }} </span>
								<span v-else class="font-500 size-13">{{ chairman && chairman.position }} </span>
							</v-col>
						</v-row>

						<span class="font-700 text-decoration-underline size-13">
							<span v-html="protocolMembersText"></span>
						</span>
						<v-row v-for="item in signersList" class="pa-0 ma-0">
							<v-col md="5" class="pa-0 ma-0">
								<span v-if="item.user" class="font-500 size-13">{{ item.user.first_name && item.user.first_name | getFirstCharacter }} {{ item.user.father_name && item.user.father_name | getFirstCharacter }} {{ item.user.last_name }}</span>
								<span v-else class="font-500 size-13">{{ item.first_name && item.first_name | getFirstCharacter }} {{ item.father_name && item.father_name | getFirstCharacter }} {{ item.last_name }}</span>
							</v-col>
							<v-col md="7" class="pa-0 ma-0">
								<span class="font-500 size-13">{{ item.user ? item.user.position : item.position }}</span>
							</v-col>
						</v-row>

						<template v-if="['project_office', 'purchase_commission', 'hr_teaching', 'anti_corruption', 'expense_commission', 'sick_paid_protocol', 'trade_union', 'small_business'].includes(committeeProtocolTypeSelected)">
							<span class="font-700 text-decoration-underline size-13">
							<span v-html="protocolSecretaryText"></span>
						</span>

							<v-row class="pa-0 ma-0">
								<v-col md="5" class="pa-0 ma-0">
									<span v-if="secretary.user" class="font-500 size-13">{{ secretary.user.first_name && secretary.user.first_name | getFirstCharacter }} {{ secretary.user.father_name && secretary.user.father_name | getFirstCharacter }} {{ secretary.user.last_name }}</span>
									<span v-else class="font-500 size-13">{{ secretary.first_name && secretary.first_name | getFirstCharacter }} {{ secretary.father_name && secretary.father_name | getFirstCharacter }} {{ secretary.last_name }}</span>
								</v-col>
								<v-col md="7" class="pa-0 ma-0">
									<span v-if="secretary.user" class="font-500 size-13">{{ secretary.user.position }} </span>
									<span v-else class="font-500 size-13">{{ secretary && secretary.position }} </span>
								</v-col>
							</v-row>
						</template>

						<span class="small-3 d-block text-dark font-500 text-indent-30 mt-4 text-justify">
							<span v-html="protocolShortText"></span>
							</span>

						<template v-if="inviteesList && inviteesList.length && !['sick_paid_protocol'].includes(committeeProtocolTypeSelected)">
							<span class="small-3 font-italic font-700 ml-10">{{ protocolInviteesText }}</span>
							<v-row v-for="invitee in inviteesList" :key="invitee.id" class="pa-0 ma-0">
								<v-col md="5" class="pa-0 ma-0">
									<span class="font-500 size-13">
										{{ invitee.user ? getFirstCharacter(invitee.user.first_name) : getFirstCharacter(invitee.first_name) }}
										{{ invitee.user ? getFirstCharacter(invitee.user.father_name) : getFirstCharacter(invitee.father_name) }}
										{{ invitee.user ? invitee.user.last_name : invitee.last_name}}
									</span>
								</v-col>
								<v-col md="7" class="pa-0 ma-0">
									<span class="font-500 size-13">{{ invitee.user ? invitee.user.position : invitee.position }}</span>
								</v-col>
							</v-row>
						</template>

						<div v-if="committeeProtocolTypeSelected !== 'hr_teaching'" class="d-flex justify-center mt-3">
							<span class="font-700 size-13">KUN TARTIBI:</span>
						</div>

						<span
							v-html="text"
							class="small-3 d-block text-dark font-500 text-justify"
							:class="committeeProtocolTypeSelected === 'hr_teaching' ? 'mt-8' : ''"
							style="line-height: 20px; text-indent: 30px"
						></span>

						<div class="pl-16 mt-4">
							<v-row class="pa-0 ma-0 mb-2">
								<v-col md="6" class="pa-0 ma-0">
									<span class="font-700 size-13">{{ protocolBottomChairText }}</span>
								</v-col>
								<v-col md="6" class="pa-0 ma-0">
									<span v-if="chairman.user" class="font-500 size-13">{{ chairman.user.first_name && chairman.user.first_name | getFirstCharacter }} {{ chairman.user.father_name && chairman.user.father_name | getFirstCharacter }} {{ chairman.user.last_name }}</span>
									<span v-else class="font-500 size-13">{{ chairman.first_name && chairman.first_name | getFirstCharacter }} {{ chairman.father_name && chairman.father_name | getFirstCharacter }} {{ chairman.last_name }}</span>
								</v-col>
							</v-row>

							<span class="font-700 size-13">{{ protocolBottomBoardMembersText }}</span>

							<v-row class="pa-0 ma-0">
								<v-col md="6" class="pa-0 ma-0" v-for="item in signersList">
									<span v-if="item.user" class="font-500 size-13">{{ item.user.first_name && item.user.first_name | getFirstCharacter}} {{ item.user.father_name && item.user.father_name | getFirstCharacter }} {{ item.user.last_name }}</span>
									<span v-else class="font-500 size-13">{{ item.first_name && item.first_name | getFirstCharacter }} {{ item.father_name && item.father_name | getFirstCharacter }} {{ item.last_name }}</span>
								</v-col>
							</v-row>

							<template v-if="['charity_commission', 'anti_corruption', 'expense_commission', 'department_protocol', 'sick_paid_protocol', 'trade_union', 'workgroup', 'small_business'].includes(committeeProtocolTypeSelected)">
								<v-row class="pa-0 ma-0 mb-4">
									<v-col md="6" class="pa-0 ma-0">
										<span class="font-500 size-13">{{ protocolSecretaryText }}</span>
									</v-col>
									<v-col md="6" class="pa-0 ma-0">
										<span v-if="secretary.user" class="font-500 size-13">{{ secretary.user.first_name && secretary.user.first_name | getFirstCharacter }} {{ secretary.user.father_name && secretary.user.father_name | getFirstCharacter }} {{ secretary.user.last_name }}</span>
										<span v-else class="font-500 size-13">{{ secretary.first_name && secretary.first_name | getFirstCharacter }} {{ secretary.father_name && secretary.father_name | getFirstCharacter }} {{ secretary.last_name }}</span>
									</v-col>
								</v-row>
							</template>

							<template v-if="inviteesList && inviteesList.length">
								<span class="small-3 font-italic font-700">{{ protocolInviteesText }}</span>

								<v-row class="pa-0 ma-0 mb-16">
									<v-col md="6" class="pa-0 ma-0" v-for="invitee in inviteesList">
										<span class="font-500 size-13">
											{{ invitee.user ? getFirstCharacter(invitee.user.first_name) : getFirstCharacter(invitee.first_name) }}
											{{ invitee.user ? getFirstCharacter(invitee.user.father_name) : getFirstCharacter(invitee.father_name) }}
											{{ invitee.user ? invitee.user.last_name : invitee.last_name}}
										</span>
									</v-col>
								</v-row>
							</template>
						</div>

					</div>
				</div>
			</perfect-scrollbar>
		</div>
		<div class="d-flex grid-gap-md justify-center mt-5">
      <slot name="draftCreate" />

      <slot name="draftUpdate" />

			<app-button
				outlined
				color="#fff"
				@click="dialog = false"
			>
				<template #prepend>
					<edit2-icon size="18" />
				</template>
				{{$t('document-flow.views.send-document.edit')}}
			</app-button>

			<template v-if="!Boolean($route.query.readonly)">
				<app-button @click="send" :loading="loading">
					<template #prepend>
						<v-icon size="18">{{ "$vuetify.icons.SendIcon" }}</v-icon>
					</template>
					{{$t('document-flow.views.send-document.send')}}
				</app-button>
			</template>
		</div>
	</v-dialog>
</template>

<script>
import { Edit2Icon, FileTextIcon, XIcon } from "vue-feather-icons";
import {toMonthNameUzb, returnPosition, returnShortFullName} from "../../../../../common/helpers";
import {mapGetters} from "vuex";

export default {
	name: "CommitteeProtocolPreview",
	components: {
		XIcon,
		Edit2Icon,
    FileTextIcon
	},
	data() {
		return {
			dialog: false,
			register_number: null,
			chairman: {},
			secretary: {},
			signersList: [],
			inviteesList: [],
			text: "",
			loading: false,
			committeeProtocolTypeSelected: null,

			protocolChairText: "",
			protocolMembersText: "",
			protocolShortText: "",
			protocolSecretaryText: "Qo'mita kotibi:",
			protocolBottomChairText: "Qo'mita Raisi",
			protocolBottomBoardMembersText: "Qo'mita a'zolari:",
			protocolInviteesText: "Taklif etilganlar:"
		}
	},
	computed: {
		registeredDate() {
			if (this.$route.params.id) {
				if (this.register_date){
					return new Date(this.register_date).getFullYear() + '-yil “' + new Date(this.register_date).getDate() + '” ' + toMonthNameUzb(new Date(this.register_date).getMonth())
				}else {
					return new Date().getFullYear() + '-yil “__” ____________'
				}
			} else {
				return new Date().getFullYear() + '-yil “__” ____________'
			}
		},
		/** **/
		...mapGetters({
			currentUser: "auth/getCurrentUser"
		}),
		/** **/
		subTypeText(){
			switch (this.committeeProtocolTypeSelected){
				case "finance":
					this.protocolChairText = `Moliyalashtirish bo‘yicha Kredit qo‘mitasi Raisi:`
					this.protocolMembersText = `Moliyalashtirish bo‘yicha Kredit qo‘mitasi a'zolari:`
					this.protocolShortText = `Yig‘ilishni o‘tkazish uchun kvorum talablariga to‘liq amal qilindi (Kredit qo‘mitalari majlisida
																		qatnashgan a’zolarning soni bo‘yicha kvorum mavjud) va Moliyalashtirish
																		bo‘yicha Kredit qo‘mitasi yig‘ilishi kun tartibidagi masalalar bo‘yicha qarorlar qabul qilish vakolatiga ega.`
					return `"ASAKABANK" AJ MOLIYALASHTIRISH BO'YICHA </br> KREDIT QO'MITASI YIG'ILISHINING </br> ${this.register_number ? this.register_number : ""} - SONLI BAYONNOMASI`
				case "monitoring":
					this.protocolChairText = `Monitoring bo‘yicha Kredit qo‘mitasi Raisi:`
					this.protocolMembersText = `Monitoring bo‘yicha Kredit qo‘mitasi a'zolari:`
					this.protocolShortText = `Yig‘ilishni o‘tkazish uchun kvorum talablariga to‘liq amal qilindi (Kredit qo‘mitalari majlisida
																		qatnashgan a’zolarning soni bo‘yicha kvorum mavjud) va Monitoring
																		bo‘yicha Kredit qo‘mitasi yig‘ilishi kun tartibidagi masalalar bo‘yicha qarorlar qabul qilish vakolatiga ega.`
					return `"ASAKABANK" AJ MONITORING BO'YICHA </br> KREDIT QO'MITASI YIG'ILISHINING </br> ${this.register_number ? this.register_number : ""} - SONLI BAYONNOMASI`
				case "kuap":
					this.protocolChairText = `Aktiv va passivlarni boshqarish qo'mitasining Raisi:`
					this.protocolMembersText = `Aktiv va passivlarni boshqarish qo'mitasining a’zolari:`
					this.protocolShortText = ""
					return `"ASAKABANK" AJ AKTIV VA PASSIVLARNI </br> BOSHQARISH QO’MITASI YIG’ILISHINING </br> ${this.register_number ? this.register_number : ""} - SONLI BAYONNOMASI`
				case "invest":
					this.protocolChairText = `Investitsion qo'mitasining Raisi:`
					this.protocolMembersText = `Investitsion qo'mitasining a’zolari:`
					this.protocolShortText = ""
					return `"ASAKABANK" AKSIYADORLIK JAMIYATI </br> INVESTITSION QO'MITASI MAJLISINING </br> ${this.register_number ? this.register_number : ""} - SONLI BAYONNOMASI`
				case "project_office":
					this.protocolChairText = `Loyihalar va mahsulotlar bo'yicha boshqarish qo'mitasining Raisi:`
					this.protocolMembersText = `Loyihalar va mahsulotlar bo'yicha boshqarish qo'mitasining a'zolari:`
					this.protocolShortText = ""
					return `"ASAKABANK" AJ LOYIHALAR VA MAHSULOTLAR BO'YICHA </br> BOSHQARISH QO'MITASI YI'G'ILISHINING </br> ${this.register_number ? this.register_number : ""} - SONLI BAYONNOMASI`
				case "purchase_commission":
					this.protocolChairText = `Raislik qiluvchi:`
					this.protocolMembersText = `Komissiya a'zolari:`
					this.protocolShortText = ""
					this.protocolSecretaryText = "Komissiya kotibi:"
					this.protocolBottomChairText = "Xarid komissiyasi Raisi"
					this.protocolBottomBoardMembersText = "Komissiya a'zolari:"
					return `"ASAKABANK" AJ XARID KOMISSIYASI YI'G'ILISHINING </br> ${this.register_number ? this.register_number : ""} - SONLI BAYONNOMASI`
				case "charity_commission":
					this.protocolChairText = `Raislik qiluvchi:`
					this.protocolMembersText = `Komissiya a'zolari:`
					this.protocolShortText = ""
					this.protocolSecretaryText = "Komissiya kotibi"
					this.protocolBottomChairText = "Komissiya Raisi"
					this.protocolBottomBoardMembersText = "Komissiya a'zolari:"
					return `"ASAKABANK" AJ XAYRIYA YORDAMINI KO'RSATISH </br> BO'YICHA KOMISSIYANING </br> ${this.register_number ? this.register_number : ""} - SONLI BAYONNOMASI`
				case "capital_invest":
					this.protocolChairText = `Raislik qiluvchi:`
					this.protocolMembersText = `Boshqaruv a'zolari:`
					this.protocolShortText = ""
					this.protocolSecretaryText = "Boshqaruv kotibi"
					this.protocolBottomChairText = "Boshqaruv Raisi"
					this.protocolBottomBoardMembersText = "Boshqaruv a'zolari:"
					return `"ASAKA CAPITAL INVEST" MCHJ TA'SISCHISI VA </br> "ASAKABANK" AJ BOSHQARUVI QO'SHMA </br> YIG'ILISHINING </br> ${this.register_number ? this.register_number : ""} - SONLI BAYONNOMASI`
				case "hr_teaching":
					this.protocolChairText = `Komissiya Raisi:`
					this.protocolMembersText = `Komissiya aʼzolari:`
					this.protocolShortText = ""
					this.protocolSecretaryText = "Komissiya kotibi"
					this.protocolBottomChairText = "Komissiya Raisi"
					this.protocolBottomBoardMembersText = "Komissiya aʼzolari:"
					return `“Asakabank” AJ xodimlarini o‘qitish va malakasini oshirish </br> masalalari bo‘yicha komissiya yig‘ilishining </br> ${this.register_number ? this.register_number : ""} - sonli bayonnomasi`
				case "expense_commission":
					this.protocolChairText = `Komissiya Raisi:`
					this.protocolMembersText = `Komissiya aʼzolari:`
					this.protocolShortText = ""
					this.protocolSecretaryText = "Komissiya kotibi"
					this.protocolBottomChairText = "Komissiya Raisi"
					this.protocolBottomBoardMembersText = "Komissiya aʼzolari:"
					return `“ASAKABANK” AJ BANK XARAJATLARINI O'RGANISH </br> KOMISSIYASI YIG’ILISHINING </br> ${this.register_number ? this.register_number : ""} - SONLI BAYONNOMASI`
				case "department_protocol":
					this.protocolChairText = `Raislik qiluvchi:`
					this.protocolMembersText = `Yig'ilish a'zolari:`
					this.protocolShortText = `Majlis o‘tkazish uchun kvorum talablariga to‘liq amal qilindi va ${this.currentUser.top_level_dept_name} kun tartibidagi masalalar bo‘yicha qarorlar qabul qilish vakolatiga ega. Majlis kotibi etib ${returnPosition(this.secretary)} ${returnShortFullName(this.secretary)} tayinlandi.`
					this.protocolSecretaryText = "Boshqaruv kotibi"
					this.protocolBottomChairText = "Departament direktori"
					this.protocolBottomBoardMembersText = "Yig'ilish a'zolari:"
					return `“ASAKABANK” AJ </br> <span style="text-transform: uppercase">${this.currentUser.top_level_dept_name}</span> MAJLISINING </br> ${this.register_number ? this.register_number : ""} - SONLI BAYONNOMASI`
				case "mek":
					this.protocolChairText = `Markaziy ekspert komissiyasi Raisi:`
					this.protocolMembersText = `Markaziy ekspert komissiya a’zolari:`
					this.protocolShortText = ``
					this.protocolSecretaryText = "Boshqaruv kotibi"
					this.protocolBottomChairText = "MEK Raisi"
					this.protocolBottomBoardMembersText = "MEK a’zolari:"
					return `“ASAKABANK” AJ </br> MARKAZIY EKSPERT KOMISSIYASINING </br> ${this.register_number ? this.register_number : ""} - SONLI BAYONNOMASI`
				case "sick_paid_protocol":
					this.protocolChairText = `Komissiya Raisi:`
					this.protocolMembersText = `Komissiya a’zolari:`
					this.protocolShortText = ``
					this.protocolSecretaryText = "Komissiya kotibi"
					this.protocolBottomChairText = "Komissiya Raisi"
					this.protocolBottomBoardMembersText = "Komissiya a’zolari:"
					this.protocolInviteesText = 'Kelishilgan:'
					return `“Asakabank” AJ Bosh ofis xodimlariga vaqtincha mehnatga layotqatsizlik nafaqasi to‘lanishi va xodimlar sog‘ligini tiklash uchun moddiy yordam ko‘rsatish bo‘yicha ijtimoiy sug‘urta komissiyasi” majlisining </br> ${this.register_number ? this.register_number : ""} - sonli bayonnomasi`
				case "trade_union":
					this.protocolChairText = `Qatnashdilar:`
					this.protocolMembersText = `Birlashgan kasaba uyushmasi qo‘mitasi a’zolari:`
					this.protocolShortText = ``
					this.protocolSecretaryText = "Yig'ilish kotibi"
					this.protocolBottomChairText = "Birlashgan kasaba uyushmasi qo‘mitasi Raisi"
					this.protocolBottomBoardMembersText = "Birlashgan kasaba uyushmasi qo‘mitasi a’zolari:"
					return `“ASAKABANK” AJ BIRLASHGAN KASABA </br> UYUSHMASI QO‘MITASI YIG‘ILISHINING </br> ${this.register_number ? this.register_number : ""} - SONLI BAYONNOMASI`
				case "anti_corruption":
					this.protocolChairText = `Raislik qiluvchi:`
					this.protocolMembersText = `Ishtirok etganlar:`
					this.protocolShortText = ""
					this.protocolSecretaryText = "Yig'ilish kotibi"
					this.protocolBottomChairText = "Komissiya Raisi"
					this.protocolBottomBoardMembersText = "Komissiya aʼzolari:"
					return `Korrupsiyani oldini olish </br> bo‘yicha komissiya yig‘ilishining </br> ${this.register_number ? this.register_number : ""} - sonli bayonnomasi`
				case "small_business":
					this.protocolChairText = `Moliyalashtirish bo‘yicha Bank kichik kredit qo‘mitasi Raisi:`
					this.protocolMembersText = `Moliyalashtirish bo‘yicha Bank kichik kredit qo‘mitasi a'zolari:`
					this.protocolShortText = `Yig‘ilishni o‘tkazish uchun kvorum talablariga to‘liq amal qilindi (Kredit qo‘mitalari majlisida
																		qatnashgan a’zolarning soni bo‘yicha kvorum mavjud) va Moliyalashtirish
																		bo‘yicha Bank kichik kredit qo‘mitasi yig‘ilishi kun tartibidagi masalalar bo‘yicha qarorlar qabul qilish vakolatiga ega.`
					this.protocolSecretaryText = "Qo'mita kotibi:"
					this.protocolBottomChairText = "Qo'mita Raisi"
					this.protocolBottomBoardMembersText = "Qo'mita aʼzolari:"
					return `"ASAKABANK" AJ MOLIYALASHTIRISH BO'YICHA </br> BANK KICHIK KREDIT QO'MITASI YIG'ILISHINING </br> ${this.register_number ? this.register_number : ""} - SONLI BAYONNOMASI`
				case "workgroup":
					this.protocolChairText = `Raislik qiluvchi:`
					this.protocolMembersText = `Komissiya a'zolari:`
					this.protocolShortText = `Majlis o‘tkazish uchun kvorum talablariga to‘liq amal qilindi va aniqlangan kamchiliklar bo'yicha mehnat qonunchiligiga muvofiq intizomiy jazo choralarini to'g'ri qo'llash bo'yicha ishchi guruhi majlis kun tartibidagi masalar bo'yicha qaror qabul qilish vakolatiga ega. </br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Majlis kotibi etib ${returnPosition(this.secretary)} ${returnShortFullName(this.secretary)} tayinlandi.`
					this.protocolSecretaryText = "Majlis kotibi"
					this.protocolBottomChairText = "Raislik qiluvchi"
					this.protocolBottomBoardMembersText = "Komissiya aʼzolari:"
					return `"Asakabank" AJ tizimida tarkibiy tuzilmalar/BXMlar xodimlarining mehnat intizomini buzganligi uchun intizomiy jazo choralarini to'g'ri qo'llash bo'yicha </br> Ishchi guruhining </br> ${this.register_number ? this.register_number : ""} - sonli Bayonnomasi`
			}
		},
		/** **/
	},
	methods: {
		send() {
			this.$emit("onSend")
		},
    /*
    *
    * */
		saveAsDraft() {
			this.$emit("emit:save:draft")
    }
	}
}
</script>

<style>
.generate-wrap .ps {
	height: 100%;
}
</style>
