<template>
  <perfect-scrollbar class="d-flex flex-column flex-1">
    <app-wrapper class="flex-1">
      <template #body>
        <div>
          <v-row>
            <v-col md="3">
              <app-autocomplete
                v-model="$v.model.__leadership.$model"
                :error="$v.model.__leadership.$error"
                api-list-url="/user/search/"
                :api-params="{
                  role: 'top_management'
                }"
                item-text="full_name"
                return-object
                cache-items
                clearable
                :placeholder="$t('document-flow.views.send-document.to-whom')"
                :disabled="Boolean($route.query.readonly)"
                :item-disabled="getDisableItems"
                @change="handleLeadership"
              />

              <template v-if="Boolean($route.query.readonly)">
                <div v-if="model.__leadership" class="d-flex flex-wrap grid-gap-sm mt-4">
                  <v-chip
                    dark
                    :color="model.__leadership.color"
                  >
                    {{ model.__leadership.full_name }}
                  </v-chip>
                </div>
              </template>

              <template v-if="formType === 'update'">
                <div v-if="model.__leadership" class="d-flex align-center grid-gap-sm mt-4">
                  <v-chip
                    dark
                    :color="model.__leadership.color"
                    class="w-100"
                  >
                    {{ model.__leadership.full_name }}
                  </v-chip>

                  <v-spacer />

                  <v-btn
                    color="error"
                    icon
                    depressed
                    small
                    @click="removeLeadership"
                  >
                    <trash2-icon size="20" />
                  </v-btn>
                </div>
              </template>
            </v-col>

            <v-col md="3">
              <v-select
                v-model="$v.model.sub_type.$model"
                :error="$v.model.sub_type.$error"
                :items="letterTypeList"
                item-text="title"
                item-value="value"
                outlined
                background-color="var(--input-bg)"
                :placeholder="$t('document-flow.views.send-document.type-letter')"
                hide-details
                :disabled="Boolean($route.query.readonly)"
                clearable
                @change="handleSubType"
              >
                <template #append>
                  <chevron-down-icon size="20" color="#B0BDC2" />
                </template>
              </v-select>
            </v-col>

            <v-col md="3">
              <v-text-field
                :value="currentUser.top_level_dept_name"
                :placeholder="$t('document-flow.views.send-document.department-name')"
                hide-details
                outlined
                readonly
                background-color="var(--input-bg)"
              ></v-text-field>
            </v-col>
          </v-row>

          <v-row>
            <v-col md="12">
              <div class="input-bg rounded-20">
                <div class="pa-4 pb-1">
                  <div class="app-tab">
                    <v-tabs
                      v-model="tab"
                      hide-slider
                      height="36"
                      color="#fff"
                    >
                      <v-tab>
                        <div class="d-flex align-center px-3">
                          <type-icon size="16" class="mr-2" />
                          <span class="text-transform-none small-2 line-base font-400">{{$t('document-flow.views.send-document.text')}}</span>
                        </div>
                      </v-tab>

                      <v-tab>
                        <div class="d-flex align-center px-3">
                          <paperclip-icon size="16" class="mr-2" />
                          <span class="text-transform-none small-2 line-base font-400">{{$t('document-flow.views.send-document.file')}}</span>
                        </div>
                      </v-tab>
                    </v-tabs>
                  </div>
                </div>

                <v-tabs-items class="app-tab-items" v-model="tab">
                  <v-tab-item>
                    <quill-editor
                      v-model="$v.model.text.$model"
                      :error="$v.model.text.$error"
                      :disabled="Boolean($route.query.readonly)"
                    />

	                  <div class="bg-white pt-5">
		                  <resolution-content-modal
			                  :has-filial="false"
			                  api-url="action/short-descriptions/"
			                  :api-params="{ type: 'template' }"
			                  title-dialog="components.add-template"
			                  @emit:up="(text) => model.text = text.description"
		                  />
	                  </div>
                  </v-tab-item>

                  <v-tab-item>
	                  <file-upload-for-sending-document :files="files" @uploadFiles="uploadFiles" @deleteFile="deleteFile" />
<!--                    <div class="pa-4">
                      <div class="d-flex align-center flex-wrap">
                        <div class="d-flex flex-wrap">
                          <template v-for="(item, index) in files">
                            <v-sheet
                              :key="item.id"
                              height="40"
                              style="border-color: var(&#45;&#45;primary-1);"
                              class="d-flex align-center border-all rounded-15 overflow-hidden pl-4 mr-5 mb-2"
                            >
                              <img src="/img/icons/doc-icon.svg" alt="Icon">
                              <span class="small-2 ml-2 mr-3 font-500 text-truncate" style="max-width: 100px">{{ item.name }}</span>
                              <v-btn
                                text
                                color="error"
                                width="36"
                                min-width="36"
                                height="36"
                                @click="deleteFile(index)"
                              >
                                <x-icon size="18" />
                              </v-btn>
                            </v-sheet>
                          </template>
                        </div>

                        <template v-if="!Boolean($route.query.readonly)">
                          <div class="d-flex mb-2">
                            <v-file-input
                              @change="uploadFiles"
                              id="fileUpload"
                              multiple
                              prepend-icon=""
                              outlined
                              hide-details
                              clear-icon=""
                              class="flex-grow-0 d-none"
                            />

                            <label for="fileUpload" class="d-flex align-center">
                        <span class="primary-bg text-white small-2 px-4 rounded d-flex align-center pointer" style="height: 40px">
                          <plus-icon size="20" />
                          <span class="line-base ml-2">Добавить файл</span>
                        </span>
                            </label>
                          </div>
                        </template>
                      </div>
                    </div>-->
                  </v-tab-item>
                </v-tabs-items>
              </div>
            </v-col>
          </v-row>

          <v-row>
            <v-col md="6">
              <app-autocomplete
                v-model="$v.agreedList.$model"
                :error="$v.agreedList.$error"
                api-list-url="/user/search/"
                :api-params="{
                  type: 'signers'
                }"
                item-text="full_name"
                return-object
                cache-items
                clearable
                :placeholder="$t('document-flow.views.send-document.agreement')"
                :item-disabled="getDisableItems"
                multiple
                :disabled="Boolean($route.query.readonly)"
                class="mb-5"
              />

              <template v-if="Boolean($route.query.readonly)">
                <div class="d-flex flex-wrap grid-gap-sm mt-4">
                  <template v-for="item in agreedList">
                    <v-chip
                      v-if="item.user"
                      dark
                      :color="item.user.color"
                    >
                      {{ item.user ? item.user.full_name : item.full_name }}
                    </v-chip>
                  </template>
                </div>
              </template>

              <template v-if="formType === 'update'">
                <app-table
                  bordered
                  class="mt-4"
                >
                  <template #tableHeader>
                    <th width="75">№</th>
                    <th>{{$t('document-flow.views.send-document.signatory')}}</th>
                    <th width="75">{{$t('document-flow.views.send-document.events')}}</th>
                  </template>

                  <template #tableBody>
                    <tr
                      v-for="(item, index) in agreedList"
                      class="text-dark font-500"
                    >
                      <td>{{ index + 1 }}</td>
                      <td>
                        {{ item.user ? item.user.full_name : item.full_name }}
                      </td>
                      <td>
                        <app-button
                          v-if="!Boolean($route.query.readonly)"
                          icon
                          color="error"
                          min-width="40"
                          height="40"
                          width="40"
                          @click="deleteAgreed(index)"
                        >
                          <trash2-icon size="18" />
                        </app-button>
                      </td>
                    </tr>
                  </template>
                </app-table>
              </template>
            </v-col>

            <v-col md="6">
              <app-autocomplete
                v-model="signersList"
                :item-disabled="getDisableItems"
                api-list-url="/user/search/"
                item-text="full_name"
                item-value="id"
                :api-params="{
                  type: 'signers'
                }"
                return-object
                cache-items
                multiple
                background-color="var(--input-bg)"
                :placeholder="$t('document-flow.views.send-document.select-signatory')"
                :disabled="Boolean($route.query.readonly)"
                readonly
              />

              <v-chip color="primary" class="mt-4">{{ currentUser.last_name }} {{ currentUser.first_name }} {{ currentUser.father_name }}</v-chip>
            </v-col>
          </v-row>

          <v-row>
            <v-col md="12">
              <app-button color="error" @click="$router.push({ name: 'SendingDocuments' })">
                <template #prepend>
                  <arrow-left-icon size="20" />
                </template>
                {{$t('document-flow.views.send-document.back')}}
              </app-button>

              <app-button class="mx-3" @click="preview">
                <template #prepend>
                  <eye-icon size="20" />
                </template>
                {{$t('document-flow.views.send-document.view-document')}}
              </app-button>

              <template v-if="!Boolean($route.query.readonly)">
                <app-button outlined @click="resetForm">
                  {{$t('document-flow.views.send-document.clear-form')}}
                </app-button>
              </template>
            </v-col>
          </v-row>

          <!-- Preview -->
          <v-dialog
            v-model="dialog"
            width="595"
            content-class="generate-wrap reset-dialog-style"
          >
            <div>
              <div class="bg-white d-flex w-100 justify-end">
                <app-button
                  icon
                  color="error"
                  min-width="40"
                  width="40"
                  height="40"
                  tile
                  @click="dialog = false"
                  class="p-absolute"
                  style="top: 0; right: 0;"
                >
                    <x-icon/>
                </app-button>
              </div>
              <div class="generate-pdf-area overflow-y-auto bg-4 mb-5 pa-10 p-relative d-flex flex-column">
                <div v-if="model.__leadership">
                  <p class="font-600 small-3 mb-1 text-right ml-auto" style="max-width: 300px">
                    "Asakabank" AJ
                    <br v-if="model.__leadership.filial !== '09013'">
	                    <span v-if="model.__leadership.filial !== '09013'">{{ leaderFilialName }}</span>
	                  <br>
                    {{ model.__leadership.position }}
                    <br>
                    {{ model.__leadership.first_name | getFirstCharacter }}
                    {{ model.__leadership.father_name | getFirstCharacter }}
                    {{ model.__leadership.last_name }}ga
                    <br>
                    {{ currentUser.filial === '09013' ? currentUser.top_level_dept_name : currentUser.dep_name}}
                    <br>
                    {{ currentUser.position }}
                    <br>
                    {{ currentUser.first_name | getFirstCharacter }}
                    {{ currentUser.father_name && currentUser.father_name | getFirstCharacter }}
                    {{ currentUser.last_name }}dan
                  </p>
                </div>

                <div class="text-center small-2 text-dark font-600 my-7">
                  ARIZA
                </div>

                <span
                  v-html="model.text"
                  class="small-3 d-block text-dark font-500 text-justify"
                  style="line-height: 20px; text-indent: 30px"
                ></span>

                <div class="mt-10 pt-10">
                  <template v-for="item in mergeSignersWithOwner">
                    <div class="d-flex align-center justify-space-between text-dark small-3 mb-1 font-600">
                      <template v-if="!item.hasOwnProperty('user')">
                        <span>{{ item.position }}</span>
                        <span>{{ item.first_name && item.first_name | getFirstCharacter }} {{ item.last_name }}</span>
                      </template>

                      <template v-else>
                        <span class="font-600">{{ item.user && item.user.position }}</span>
                        <span>
                          {{ item.user && item.user.first_name | getFirstCharacter }}
                          {{ item.user.last_name }}
                        </span>
                      </template>
                    </div>
                  </template>
                </div>
              </div>

              <div class="d-flex grid-gap-md justify-center text-center">
                <template v-if="model.__status === 'draft'">
                  <template v-if="!model.__isDraftCreated">
                    <app-button
                      depressed
                      color="success"
                      @click="saveAsDraft"
                    >
                      <template #prepend>
                        <file-text-icon size="18" />
                      </template>
                      {{$t('document-flow.views.send-document.save-draft')}}
                    </app-button>
                  </template>

                  <template v-else>
                    <app-button
                      depressed
                      color="success"
                      @click="updateDraft"
                    >
                      <template #prepend>
                        <file-text-icon size="18" />
                      </template>
                      {{$t('document-flow.views.send-document.edit-draft')}}
                    </app-button>
                  </template>
                </template>

                <template v-if="formType === 'create' && !Boolean($route.query.readonly)">
                  <app-button
                    outlined
                    color="#fff"
                    @click="dialog = false"
                  >
                    <template #prepend>
                      <edit2-icon size="18" />
                    </template>
                    {{$t('document-flow.views.send-document.edit')}}
                  </app-button>

                  <app-button @click="send" :loading="loading">
                    <template #prepend>
                      <v-icon size="18">{{ "$vuetify.icons.SendIcon" }}</v-icon>
                    </template>
                    {{$t('document-flow.views.send-document.send')}}
                  </app-button>
                </template>

                <template v-else-if="!Boolean($route.query.readonly)">
                  <app-button
                    outlined
                    color="#fff"
                    @click="dialog = false"
                  >
                    <template #prepend>
                      <edit2-icon size="18" />
                    </template>
                    {{$t('document-flow.views.send-document.edit')}}
                  </app-button>

                  <app-button @click="update" :loading="loading">
                    <template #prepend>
                      <v-icon size="18">{{ "$vuetify.icons.SendIcon" }}</v-icon>
                    </template>
                    {{$t('document-flow.views.send-document.send')}}
                  </app-button>
                </template>
              </div>
            </div>
          </v-dialog>
          <!-- /Preview -->
        </div>
      </template>
    </app-wrapper>
  </perfect-scrollbar>
</template>

<script>
import {
ArrowLeftIcon,
ChevronDownIcon,
Edit2Icon,
EyeIcon, FileTextIcon, InfoIcon,
PaperclipIcon,
PlusIcon, Trash2Icon,
TypeIcon,
XIcon
} from "vue-feather-icons";
import { required } from "vuelidate/lib/validators";
import { mapGetters } from "vuex";
import FileUploadForSendingDocument from "./FileUploadForSendingDocument";
import ResolutionContentModal from "@/common/components/ResolutionContentModal.vue";

export default {
  name: "CreateApplicationForm",
  props: {
    formType: {
      type: String,
      default: "create"
    }
  },
  components: {
	  ResolutionContentModal,
    ChevronDownIcon,
    TypeIcon,
    PaperclipIcon,
    XIcon,
    ArrowLeftIcon,
    EyeIcon,
    PlusIcon,
    Edit2Icon,
    Trash2Icon,
    InfoIcon,
    FileTextIcon,
	  FileUploadForSendingDocument
  },
  data() {
    return {
      model: {
        type: "hr_application",
        text: "",
        sub_type: "",
        files: [],
        journal_id: 7,
        signed_by: [],
        sender: "",
        __status: "draft",
	      __isDraftCreated: false,
        // dep_parent_name: "",
        __leadership: null
      },
      letterTypeList: [
        {
          title: this.$t('document-flow.views.send-document.labor-leave'),
          value: "vacation"
        },
        {
          title: this.$t('document-flow.views.send-document.leave-with-pay'),
          value: "paid_leave"
        },
        {
          title: this.$t('document-flow.views.send-document.child-care-leave'),
          value: "childcare_leave"
        },
        {
          title: this.$t('document-flow.views.send-document.study-leave'),
          value: "study_leave"
        },
        {
          title: this.$t('document-flow.views.send-document.move-labor-leave'),
          value: "transfer_vacation_date"
        },
        {
          title: this.$t('document-flow.views.send-document.other-holidays'),
          value: "other_leave"
        },
        {
          title: this.$t('document-flow.views.send-document.funeral'),
          value: "funeral"
        },
        {
          title: this.$t('document-flow.views.send-document.one-time-bonus'),
          value: "one_time_bonus"
        },
        {
          title: this.$t('document-flow.views.send-document.material-assistant-wedding'),
          value: "marriage_financial_sup"
        },
        {
          title: this.$t('document-flow.views.send-document.material-assistant-birth-child'),
          value: "child_financial_sup"
        },
        {
          title: this.$t('document-flow.views.send-document.military-service'),
          value: "military_vacation"
        },
        {
          title: this.$t('document-flow.views.send-document.unpaid-vacation'),
          value: "unpaid_leave"
        },
        {
          title: this.$t('document-flow.views.send-document.business-trip'),
          value: "trip"
        },
        {
          title: this.$t('document-flow.views.send-document.terminate-employee-contract'),
          value: "resignation"
        },
        {
          title: this.$t("for-uniform"),
          value: "for_uniform"
        },
	      {
		      title: this.$t("teaching"),
		      value: "hr_teaching"
	      },
      ],
      tab: null,
      files: [],
      dialog: false,
      agreedList: [],
      signersList: null,
      loading: false,

	    leaderFilialName: null
    }
  },
  validations: {
    model: {
      sub_type: { required },
      text: { required },
      __leadership: { required },
    },
    agreedList: { required }
  },
  computed: {
    ...mapGetters({
      getDisableItems: "getDisableItems",
      currentUser: "auth/getCurrentUser"
    }),
    /*
    *
    * */
    mergeSignersWithOwner() {
      if(this.formType === "create") {
        return this.signersList = [this.currentUser]
        // let uniqueList = new Set()
        // let list = this.signersList ? [this.currentUser, ...this.signersList] : []
        //
        // return list.filter(el => {
        //   const duplicate = uniqueList.has(el.id);
        //   uniqueList.add(el.id);
        //
        //   return !duplicate;
        // })
      }
      else if(this.formType === "update") {
        return this.signersList
      }
    }
  },
  mounted() {
    if(this.$route.params.id) {
      this.fetchGetOne(this.$route.params.id)
    }

    if(this.$route.query.hasOwnProperty("name")) {
      this.model.sub_type = this.$route.query.name
    }
  },
  watch: {
    '$i18n.locale': {
      handler() {
        this.letterTypeList = [
          {
            title: this.$t('document-flow.views.send-document.labor-leave'),
            value: "vacation"
          },
          {
            title: this.$t('document-flow.views.send-document.leave-with-pay'),
            value: "paid_leave"
          },
          {
            title: this.$t('document-flow.views.send-document.child-care-leave'),
            value: "childcare_leave"
          },
          {
            title: this.$t('document-flow.views.send-document.study-leave'),
            value: "study_leave"
          },
          {
            title: this.$t('document-flow.views.send-document.move-labor-leave'),
            value: "transfer_vacation_date"
          },
          {
            title: this.$t('document-flow.views.send-document.other-holidays'),
            value: "other_leave"
          },
          {
            title: this.$t('document-flow.views.send-document.funeral'),
            value: "funeral"
          },
          {
            title: this.$t('document-flow.views.send-document.one-time-bonus'),
            value: "one_time_bonus"
          },
          {
            title: this.$t('document-flow.views.send-document.material-assistant-wedding'),
            value: "marriage_financial_sup"
          },
          {
            title: this.$t('document-flow.views.send-document.material-assistant-birth-child'),
            value: "child_financial_sup"
          },
          {
            title: this.$t('document-flow.views.send-document.military-service'),
            value: "military_vacation"
          },
          {
            title: this.$t('document-flow.views.send-document.unpaid-vacation'),
            value: "unpaid_leave"
          },
          {
            title: this.$t('document-flow.views.send-document.business-trip'),
            value: "trip"
          },
          {
            title: this.$t('document-flow.views.send-document.terminate-employee-contract'),
            value: "resignation"
          },
          {
            title: this.$t("for-uniform"),
            value: "for_uniform"
          },
	        {
		        title: this.$t("teaching"),
		        value: "hr_teaching"
	        },
        ]
      }
    }
  },
  methods: {
    saveAsDraft() {
      let model = {
        ...this.model,
        text: this.model.text.replace(/<br\s*[\/]?>/gi, '<br/>'),
        sub_type: this.model.sub_type,
        sender: this.currentUser.top_level_dept_name,
        status: "draft",
          // dep_parent_name: this.currentUser.dep_parent_name,
        signer_obj: [{
          id: this.model.__leadership && this.model.__leadership.id,
          first_name: this.model.__leadership && this.model.__leadership.first_name,
          last_name: this.model.__leadership && this.model.__leadership.last_name,
          father_name: this.model.__leadership && this.model.__leadership.father_name,
          full_name: this.model.__leadership && this.model.__leadership.full_name,
          assistants: this.model.__leadership && this.model.__leadership.assistants[0],
          position: this.model.__leadership && this.model.__leadership.position,
          color: this.model.__leadership && this.model.__leadership.color,
	        leaderFilialName: this.model.__leadership && this.model.__leadership.filial === '09013' ? null : this.leaderFilialName
        }],
	      dept_code: this.currentUser.top_level_dept,
	      curator: this.model.__leadership && this.model.__leadership.id
      }

      this.$http.post(`/docflow/${this.currentUser.filial}/compose/`, model)
      .then(({ data }) => {
        this.$toast.success(this.$t('document-flow.views.send-document.draft-created'))

        this.dialog = false
        this.loading = false

        this.$router.push({
            name: "SendDocumentNew"
        })
      })
      .catch(() => {
        // this.$toast.error(this.$t('document-flow.views.send-document.error-sending-document'))
        this.loading = false
      })
    },
    /*
    *
    * */
    updateDraft() {
      let model = {
        ...this.model,
        text: this.model.text.replace(/<br\s*[\/]?>/gi, '<br/>'),
        sub_type: this.model.sub_type,
        sender: this.currentUser.top_level_dept_name,
        status: "draft",
        // dep_parent_name: this.currentUser.dep_parent_name,
        signer_obj: [{
          id: this.model.__leadership && this.model.__leadership.id,
          first_name: this.model.__leadership && this.model.__leadership.first_name,
          last_name: this.model.__leadership && this.model.__leadership.last_name,
          father_name: this.model.__leadership && this.model.__leadership.father_name,
          full_name: this.model.__leadership && this.model.__leadership.full_name,
          assistants: this.model.__leadership && this.model.__leadership.assistants[0],
          position: this.model.__leadership && this.model.__leadership.position,
          color: this.model.__leadership && this.model.__leadership.color,
	        leaderFilialName: this.model.__leadership && this.model.__leadership.filial === '09013' ? null : this.leaderFilialName
        }],
	      curator: this.model.__leadership && this.model.__leadership.id
      }

      this.$http.put(`/docflow/${this.currentUser.filial}/compose/${this.$route.params.id}/`, model)
      .then(({ data }) => {
        this.$toast.success(this.$t('document-flow.views.send-document.draft-edited'))

        this.dialog = false
        this.loading = false

        this.$router.push({
            name: "SendDocumentNew"
        })
      })
      .catch(() => {
        // this.$toast.error(this.$t('document-flow.views.send-document.error-sending-document'))
      })
    },
    /*
    *
    * */
    deleteFile({ item, index}) {
      this.files.splice(index, 1)
      this.model.files.splice(index, 1)
    },
    /*
    *
    * */
    uploadFiles(data) {
      this.files.push(data)

      this.model.files.push({
          id: data.id
      })
    },
    /*
    *
    * */
    resetForm() {
      if(!confirm(this.$t('document-flow.views.send-document.do-you-want-clear-form'))) {
        return false
      }

      this.model.type = ""
      this.model.text = ""
      this.model.files = []
      // this.model.agreed_by = []
      this.model.signed_by = []
      this.model.__leadership = null
      this.agreedList = []
      this.signersList = []

      this.files = []
    },
    /*
    *
    * */
    preview() {
      this.dialog = !this.dialog
      this.model.agreed_by = []
      this.model.signed_by = []

      if(this.formType === 'create') {
        if (this.agreedList) {
          this.agreedList.forEach(item => this.model.agreed_by.push({
            user: item.id
          }))
        }

        if (this.signersList) {
          this.mergeSignersWithOwner.forEach(item => this.model.signed_by.push({
            user: item.id
          }))
        }
      }

      if(this.formType === 'update') {
        if (this.agreedList) {
          this.agreedList.forEach(item => {
            if(item.hasOwnProperty("user")) {
              this.model.agreed_by.push({
                id: item.id,
                user: item.user.id
              })
            }
            else {
              this.model.agreed_by.push({
                user: item.id
              })
            }
          })
        }

        if (this.signersList) {
          this.mergeSignersWithOwner.forEach(item => {
            if(item.hasOwnProperty("user")) {
              this.model.signed_by.push({
                id: item.id,
                user: item.user.id
              })
            }
            else {
              this.model.signed_by.push({
                user: item.id
              })
            }
          })
        }
      }
    },
    /*
    *
    * */
    send() {
      this.$v.$touch();

      if (this.$v.$invalid) {
        if(!this.agreedList.length) this.$toast.error(this.$t('document-flow.views.send-document.one-employee-confirm'))
        return;
      }

      this.loading = !this.loading

      let model = {
        ...this.model,
        text: this.model.text.replace(/<br\s*[\/]?>/gi, '<br/>'),
        sub_type: this.model.sub_type,
        sender: this.currentUser.top_level_dept_name,
        status: "pending",
        // dep_parent_name: this.currentUser.dep_parent_name,
        signer_obj: [{
          id: this.model.__leadership.id,
          first_name: this.model.__leadership.first_name,
          last_name: this.model.__leadership.last_name,
          father_name: this.model.__leadership.father_name,
          full_name: this.model.__leadership.full_name,
          assistants: this.model.__leadership.assistants[0],
          position: this.model.__leadership.position,
          color: this.model.__leadership.color,
	        leaderFilialName: this.model.__leadership && this.model.__leadership.filial === '09013' ? null : this.leaderFilialName
        }],
	      dept_code: this.currentUser.top_level_dept,
	      curator: this.model.__leadership && this.model.__leadership.id
      }

      console.log(model);

      this.$http.post(`/docflow/${this.currentUser.filial}/compose/`, model)
      .then(({ data }) => {
        this.$toast.success(this.$t('document-flow.views.send-document.document-sent'))

        this.dialog = false
        this.loading = false

	      let signed_id = data.signed_by[0].id

	      this.$router.push({
		      name: "SignFormShow",
		      params: {
						id: signed_id
		      },
		      query: {
			      compose_id: data.id,
			      type: "vacation"
		      }
	      })

	      this.$toast.success(this.$t("please-sign-document"), { timeout: 5000 })

        // this.$router.push({
        //   name: "SendingDocuments",
	      //   query: {
		    //     type: "hr_application",
		    //     journal_id: 7
	      //   }
        // })
      })
      .catch(() => {
        // this.$toast.error(this.$t('document-flow.views.send-document.error-sending-document'))
        this.loading = false
      })
    },
    /*
    *
    * */
    update() {
      this.$v.$touch();

      if (this.$v.$invalid) {
        return;
      }

      this.loading = !this.loading

      let model = {
        ...this.model,
        text: this.model.text.replace(/<br\s*[\/]?>/gi, '<br/>'),
        sub_type: this.model.sub_type,
        sender: this.currentUser.top_level_dept_name,
        status: "pending",
        // dep_parent_name: this.currentUser.dep_parent_name,
        signer_obj: [{
          id: this.model.__leadership.id,
          first_name: this.model.__leadership.first_name,
          last_name: this.model.__leadership.last_name,
          father_name: this.model.__leadership.father_name,
          full_name: this.model.__leadership.full_name,
          assistants: Array.isArray(this.model.__leadership.assistants) ? this.model.__leadership.assistants[0] : this.model.__leadership.assistants,
          position: this.model.__leadership.position,
          color: this.model.__leadership.color,
	        leaderFilialName: this.model.__leadership && this.model.__leadership.filial === '09013' ? null : this.leaderFilialName
        }],
	      curator: this.model.__leadership && this.model.__leadership.id
      }

      console.log(model);
      //
      this.$http.put(`/docflow/${this.currentUser.filial}/compose/${this.$route.params.id}/`, model)
      .then(({ data }) => {
        this.$toast.success(this.$t('document-flow.views.send-document.document-sent'))

        this.dialog = false
        this.loading = false

	      let signed_id = data.signed_by[0].id

	      this.$router.push({
		      name: "SignFormShow",
		      params: {
			      id: signed_id
		      },
		      query: {
			      compose_id: data.id,
			      type: "vacation"
		      }
	      })
      })
      .catch(() => {
        // this.$toast.error(this.$t('document-flow.views.send-document.error-sending-document'))
      })
    },
    /*
    *
    * */
    fetchGetOne(id) {
      this.$http.get(`/docflow/${this.currentUser.filial}/compose/${id}/`)
      .then(({ data }) => {
        this.model.type = data.type
        this.model.__status = data.status
	      this.model.__isDraftCreated = data.status === "draft"
	      this.model.sub_type = data.sub_type
        this.model.text = data.text
        this.model.files = data.files
        this.model.sender = data.sender

        this.model.__leadership = data.signer_obj && data.signer_obj[0]
        this.files = [...data.files]

        this.agreedList = data.agreed_by
        this.signersList = data.signed_by
      })
    },
    /*
    *
    * */
    deleteAgreed(index) {
      this.agreedList.splice(index, 1)
    },
    /*
    *
    * */
    deleteSigner(index) {
      this.signersList.splice(index, 1)
    },
    /*
    *
    * */
    handleSubType(value) {
      if(!value) {
        this.$router.replace({
          query: null
        }).catch(() => {})

        return false
      }

      this.$router.push({
        query: {
          name: value
        }
      })
    },
    /*
    *
    * */
    handleLeadership(value) {
	    if (value){
		    this.getFilialName(value.filial);
	    }else {
				this.leaderFilialName = null;
	    }
      this.signersList = this.signersList.filter(item => item.hasOwnProperty("user") ? item.user.id === this.currentUser.id : item.id === this.currentUser.id)
    },
    /*
    *
    * */
    removeLeadership() {
      this.model.__leadership = null

      this.handleLeadership()
    },
	  /**/
	  getFilialName(mfo) {
			this.$axios.get(`/filials/`, {
				params: {
					mfo: mfo
				}
			}).then(({ data }) => {
				this.leaderFilialName = data.results[0].name
			})
	  }
  }
}
</script>
