<template>
	<div class="decree-form-view">
		<v-row>
			<v-col md="3">
				<v-select
					@change="onDecreeTypeChange"
					v-model="decreeTypeSelected"
					:items="decreeTypeListComputed"
					item-text="name"
					return-object
					outlined
					hide-details
					background-color="var(--input-bg)"
				>
					<template #append>
						<v-icon>mdi-chevron-down</v-icon>
					</template>
				</v-select>
			</v-col>

			<v-col md="3" v-if="!isTreasuryDecree">
				<app-autocomplete
					v-model="$v.model.__leadership.$model"
					:error="$v.model.__leadership.$error"
					api-list-url="/user/search/"
					:api-params="{
            role: 'top_management',
            page_size: 50
          }"
					item-text="full_name"
					return-object
					cache-items
					clearable
					:placeholder="$t('document-flow.views.send-document.to-whom')"
					:disabled="Boolean($route.query.readonly)"
					:item-disabled="getDisableItems"
				/>
			</v-col>

			<template v-if="currentUser.filial === '09013'">
				<v-col md="3" v-if="decreeTypeSelected.value === 'service_decree'">
					<v-select
						v-model="toSelected"
						@change="toSelectChange"
						:items="toSelectItems"
						item-text="name"
						return-object
						outlined
						hide-details
						background-color="var(--input-bg)"
					>
						<template #append>
							<v-icon>mdi-chevron-down</v-icon>
						</template>
					</v-select>
				</v-col>
			</template>

			<template v-else>
				<v-col md="3" v-if="decreeTypeSelected.value === 'service_decree'">
					<v-select
						v-model="toSelectedForFilial"
						@change="toSelectChange"
						:items="toSelectItemsForFilial"
						item-text="name"
						return-object
						outlined
						hide-details
						background-color="var(--input-bg)"
					>
						<template #append>
							<v-icon>mdi-chevron-down</v-icon>
						</template>
					</v-select>
				</v-col>
			</template>

			<v-col md="3" :class="toSelected && toSelected.value === 'head_office' ? 'd-none' : ''"
			>
				<app-autocomplete
					v-model="model.__branchesList"
					api-list-url="/filials/"
					:api-params="{
						page_size: 30
					}"
					item-text="name"
					item-value="id"
					return-object
					list-type="list"
					cache-items
					clearable
					multiple
					:placeholder="$t('document-flow.views.send-document.branches')"
					:readonly="Boolean($route.query.readonly)"
					@change="onBranchChange"
				/>

				<template v-if="Boolean($route.query.readonly)">
					<div class="d-flex flex-wrap grid-gap-sm mt-4">
						<template v-for="item in model.__branchesList">
							<v-chip
								color="primary"
							>
								{{ item.name }}
							</v-chip>
						</template>
					</div>
				</template>
			</v-col>

			<v-col md="3" v-if="toSelected && toSelected.value === 'head_office' && decreeTypeSelected.value === 'service_decree'">
				<app-autocomplete
					v-if="currentUser.filial"
          v-model="model.__departmentList"
					api-list-url="/departments/department_without_children/"
					:api-params="{
            filial: currentUser.filial,
            page_size: 30
          }"
					item-text="name"
					item-value="id"
					return-object
					list-type="list"
					multiple
					cache-items
					clearable
					:disabled="Boolean($route.query.readonly)"
					:placeholder="$t('document-flow.views.send-document.department')"
					@change="onDepartmentChange"
					ref="refDepartments"
				/>

				<template v-if="Boolean($route.query.readonly)">
					<div class="d-flex flex-wrap grid-gap-sm mt-4">
						<template v-for="item in model.__departmentList">
							<v-chip
								color="primary"
							>
								{{ item.name }}
							</v-chip>
						</template>
					</div>
				</template>
			</v-col>

			<v-col md="3">
				<v-text-field
					v-model="$v.model.register_number.$model"
					:error="$v.model.register_number.$error"
					:placeholder="$t('document-flow.views.send-document.number-document')"
					hide-details
					outlined
					:disabled="Boolean($route.query.readonly)"
					background-color="var(--input-bg)"
					:readonly="!isTreasuryDecree"
				></v-text-field>
			</v-col>

      <v-col md="3">
        <v-text-field
          v-model="$v.model.short_description.$model"
          :error="$v.model.short_description.$error"
          :placeholder="$t('document-flow.views.send-document.short-description')"
          hide-details
          outlined
          :disabled="Boolean($route.query.readonly)"
          background-color="var(--input-bg)"
        ></v-text-field>
      </v-col>

			<v-col md="3">
				<v-select
					v-model="$v.model.priority.$model"
					:error="$v.model.priority.$error"
					:items="$store.state.priorityListForCompose"
					item-text="title"
					item-value="value"
					outlined
					hide-details
					clearable
					background-color="var(--input-bg)"
					:placeholder="$t('document-flow.views.registration.document-priority')"
				>
					<template #append>
						<v-icon>mdi-chevron-down</v-icon>
					</template>
				</v-select>
			</v-col>

			<v-col md="3">
				<app-date-picker
					v-model="model.register_date"
					with-input
					background-color="var(--input-bg)"
					:placeholder="$t('document-flow.views.send-document.registration-date')"
					disabled
				/>
			</v-col>
		</v-row>

		<div class="input-bg mt-5 rounded-20">
			<div class="pa-4 pb-1">
				<div class="app-tab">
					<v-tabs
						v-model="tab"
						hide-slider
						height="36"
						color="#fff"
					>
						<v-tab>
							<div class="d-flex align-center px-3">
								<type-icon size="16" class="mr-2"/>
								<span class="text-transform-none small-2 line-base font-400">{{$t('document-flow.views.send-document.text')}}</span>
							</div>
						</v-tab>

						<v-tab>
							<div class="d-flex align-center px-3">
								<paperclip-icon size="16" class="mr-2"/>
								<span class="text-transform-none small-2 line-base font-400">{{$t('document-flow.views.send-document.file')}}</span>
							</div>
						</v-tab>
					</v-tabs>
				</div>
			</div>

			<v-tabs-items class="app-tab-items" v-model="tab">
				<v-tab-item>
<!--					<quill-editor-->
<!--						v-model="$v.model.text.$model"-->
<!--						:error="$v.model.text.$error"-->
<!--						:disabled="Boolean($route.query.readonly)"-->
<!--					/>-->
					<app-editor
						v-model="$v.model.text.$model"
						:error="$v.model.text.$error"
						:disabled="Boolean($route.query.readonly)"
					/>

					<div class="bg-white pt-5">
						<resolution-content-modal
							:has-filial="false"
							api-url="action/short-descriptions/"
							:api-params="{ type: 'template' }"
							title-dialog="components.add-template"
							@emit:up="(text) => model.text = text.description"
						/>
					</div>
				</v-tab-item>

				<v-tab-item>
					<file-upload-for-sending-document :files="files" @uploadFiles="uploadFiles" @deleteFile="deleteFile"/>
				</v-tab-item>
			</v-tabs-items>
		</div>

		<v-row>
			<v-col md="6">
				<app-autocomplete
					v-model="agreedList"
					api-list-url="/user/search/"
          :api-params="{
            type: 'signers'
          }"
					item-text="full_name"
					return-object
					cache-items
					clearable
					:placeholder="$t('document-flow.views.send-document.agreement')"
					:item-disabled="getDisableItems"
					multiple
					:disabled="Boolean($route.query.readonly)"
					class="mt-5"
				/>

				<template v-if="Boolean($route.query.readonly) || formType === 'update'">
					<app-table
						v-if="agreedList && agreedList.length"
						bordered
						class="mt-5"
					>
						<template #tableHeader>
							<th width="75">№</th>
							<th>{{$t('document-flow.views.send-document.signatory')}}</th>
							<th width="75">{{$t('document-flow.views.send-document.events')}}</th>
						</template>

						<template #tableBody>
							<tr
								v-for="(item, index) in agreedList"
								class="text-dark font-500"
							>
								<td>{{ index + 1 }}</td>
								<td>
									{{ item.user ? item.user.full_name : item.full_name }}
								</td>
								<td>
									<app-button
										v-if="!Boolean($route.query.readonly)"
										icon
										color="error"
										min-width="40"
										height="40"
										width="40"
										@click="agreedList.splice(index, 1)"
									>
										<trash2-icon size="18" />
									</app-button>
								</td>
							</tr>
						</template>
					</app-table>
				</template>

			</v-col>

			<v-col md="6">
				<app-autocomplete
					v-model="$v.signersList.$model"
					:error="$v.signersList.$error"
					api-list-url="/user/search/"
          :api-params="{
            type: 'signers'
          }"
					item-text="full_name"
					return-object
					cache-items
					clearable
					:placeholder="$t('document-flow.views.send-document.select-signatory')"
					:item-disabled="getDisableItems"
					multiple
					:disabled="Boolean($route.query.readonly)"
					class="mt-5"
				/>

				<template v-if="formType === 'update'">
					<app-table
						bordered
						class="mt-4"
					>
						<template #tableHeader>
							<th width="75">№</th>
							<th>{{$t('document-flow.views.send-document.signatory')}}</th>
							<th width="75">{{$t('document-flow.views.send-document.events')}}</th>
						</template>

						<template #tableBody>
							<tr
								v-for="(item, index) in signersList"
								class="text-dark font-500"
							>
								<td>{{ index + 1 }}</td>
								<td>
									{{ item.user ? item.user.full_name : item.full_name }}
								</td>
								<td>
									<app-button
										v-if="!Boolean($route.query.readonly)"
										icon
										color="error"
										min-width="40"
										height="40"
										width="40"
										@click="deleteSigner(item)"
									>
										<trash2-icon size="18" />
									</app-button>
								</td>
							</tr>
						</template>
					</app-table>
				</template>
			</v-col>
		</v-row>

		<div class="mt-10">
			<app-button color="error" @click="$router.go(-1)">
				<template #prepend>
					<arrow-left-icon size="20"/>
				</template>
				{{$t('document-flow.views.send-document.back')}}
			</app-button>

			<app-button class="mx-3" @click="preview">
				<template #prepend>
					<eye-icon size="20"/>
				</template>
				{{$t('document-flow.views.send-document.view-document')}}
			</app-button>

			<template v-if="!Boolean($route.query.readonly)">
				<app-button outlined @click="resetForm">
					{{$t('document-flow.views.send-document.clear-form')}}
				</app-button>
			</template>
		</div>

		<v-dialog
			v-model="dialog"
			width="595"
			content-class="generate-wrap reset-dialog-style"
		>
			<div class="bg-white quill-editor">
				<div class="d-flex w-100 justify-end">
					<app-button
						icon
						color="error"
						min-width="40"
						width="40"
						height="40"
						tile
						@click="dialog = false"
						class="p-absolute"
						style="top: 0; right: 0;"
					>
						<x-icon/>
					</app-button>
				</div>
				<perfect-scrollbar>
					<div class="generate-pdf-area bg-4 mb-5 pa-10 p-relative d-flex flex-column">
						<div>
							<v-row>
								<template v-if="decreeTypeSelected.value !== 'chairman_decree'">
									<v-col md="12">
										<img src="/img/logo_asaka_3.svg" alt="Logo Asakabank" class="mt-2 mb-5">

										<div
											class="brand-actions d-flex align-center py-2 pr-5 p-relative text-dark small-3 font-600 p-relative pl-10"
											style="left: -40px"
										>
											<span>{{ model.sender }}</span>
										</div>

										<template v-if="decreeTypeSelected.value === 'payment_decree'">
											<div class="d-flex size-13 mt-4 text-dark font-600">
												<span v-if="model.register_date">{{ returnDate(model.register_date) }}</span>
												<span v-else>"__" ___________ {{ new Date().getFullYear() }} y</span>
											</div>
											<div class="d-flex justify-center my-5 w-100">
												<span class="font-700 size-13">
													<template v-if="model.register_date">
														{{ model.register_number }}
													</template>
													<template v-else>
														________
													</template>
													- sonli FARMOYISH
												</span>
											</div>
										</template>
										<template v-else>
											<div class="d-flex small-3 mt-4 text-dark font-600">
												<span v-if="model.register_date">{{ returnDate(model.register_date) }}</span>
												<span v-else>"__" ___________ {{ new Date().getFullYear() }} y</span>
											</div>
										</template>
									</v-col>
								</template>
								<template v-else>
									<v-col md="12" class="mb-5">
										<div class="d-flex w-100 justify-center mb-5">
											<img src="/img/logo_asaka_4.png" alt="Logo Asakabank">
										</div>
										<div
											class="brand-actions d-flex align-center py-2 pr-5 p-relative text-dark small-3 font-600 p-relative pl-10"
											style="left: -40px"
										>
										</div>
										<div class="d-flex w-100 justify-center my-4">
											<span class="font-700 small-1">FARMOYISH</span>
										</div>
										<v-row>
											<v-col md="4">
												<span class="font-700 size-13">Toshkent sh.</span>
											</v-col>
											<v-col md="4" class="d-flex justify-center">
												<span v-if="model.register_date" class="font-700 size-13">№ {{ model.register_number }} - sonli</span>
												<span v-else class="font-700 size-13">№______ - sonli</span>
											</v-col>
											<v-col md="4" class="d-flex justify-end">
												<span v-if="model.register_number" class="font-700 size-13">{{ returnDate(model.register_date) }}</span>
												<span v-else class="font-700 size-13">__.__.{{ new Date().getFullYear() }} y</span>
											</v-col>
										</v-row>
									</v-col>
								</template>
							</v-row>
						</div>

						<template v-if="['service_decree', 'treasury_decree'].includes(decreeTypeSelected.value) || isChancellery">
							<div class="mt-10 pt-5 d-flex justify-end mb-7">
								<div style="width: 50%">
									<template v-if="model.__departmentList && model.__departmentList.length">
										<template v-for="item in model.__departmentList">
											<p class="font-600 small-3 mb-1 text-right">{{ item.name }}</p>
										</template>
									</template>
									<template v-else>
										<template v-for="item in model.__branchesList">
											<p class="font-600 small-3 mb-1 text-right">{{ item.name }}</p>
										</template>
										<p class="font-600 small-3 mb-1 text-right">
											{{ model.__correspondent && model.__correspondent.normalized_name }}
										</p>
									</template>
								</div>
							</div>
							<div class="d-flex justify-center mb-2">
								<span v-if="model.register_number" class="font-700 size-13">Farmoyish № {{ model.register_number }}</span>
								<span v-else class="font-700 size-13">Farmoyish №__/______</span>
							</div>
						</template>


						<span
							v-html="model.text"
							class="small-3 d-block text-dark font-500 text-justify"
							style="line-height: 20px; text-indent: 30px"
						></span>

						<div class="mt-10 pt-10">
							<div v-if="!isTreasuryDecree" class="d-flex align-center justify-space-between text-dark small-3 mb-1 font-600">
								<span>{{ model.__leadership && model.__leadership.position }}</span>
								<span>{{ model.__leadership && model.__leadership.first_name && model.__leadership.first_name | getFirstCharacter }} {{ model.__leadership && model.__leadership.last_name }}</span>
							</div>
							<template v-for="item in signersList">
								<div class="d-flex align-center justify-space-between text-dark small-3 mb-1 font-600">
									<span>{{ item.user ? item.user.position : item.position }}</span>
									<span>{{
											item.user ? getFirstCharacter(item.user.first_name) : item.first_name && getFirstCharacter(item.first_name)
										}}  {{ item.user ? item.user.last_name : item.last_name }}</span>
								</div>
							</template>
						</div>

<!--						<div v-if="agreedList && agreedList.length" class="small-3 mt-2">
							<span class="font-italic">Келишилди:</span>

							<template v-for="item in agreedList">
								<v-row no-gutters class="mb-3">
									<v-col md="6">
										<span class="d-block font-600">{{ item.user ? item.user.position : item.position }}</span>
									</v-col>

									<v-col md="2"></v-col>

									<v-col md="4">
                      <span v-if="!item.hasOwnProperty('user')" class="d-block font-600 text-right">
                        {{ item.last_name }}
                        {{ item.first_name && item.first_name[0] }}.
                        {{ item.father_name && item.father_name | getFirstCharacter }}  }}
                      </span>

										<span v-else class="d-block font-600 text-right">
                        {{ item.user.last_name }}
                        {{ item.user.first_name && item.user.first_name[0] }}.
                        {{ item.user.father_name && item.user.father_name | getFirstCharacter }}  }}
                      </span>
									</v-col>
								</v-row>
							</template>
						</div>-->

						<div v-if="currentUser" class="mt-auto small-3 font-600 py-10">
							Ijrochi: {{ currentUser.first_name && currentUser.first_name | getFirstCharacter }} {{ currentUser.last_name }} <br>
							<div class="d-flex align-center">
								Tel: {{ currentUser.cisco }}
							</div>
						</div>
					</div>
				</perfect-scrollbar>
			</div>

			<div class="d-flex grid-gap-md justify-center mt-5">
        <template v-if="model.__status === 'draft'">
          <template v-if="!model.__isDraftCreated">
            <app-button
              depressed
              color="success"
              @click="saveAsDraft"
            >
              <template #prepend>
                <file-text-icon size="18" />
              </template>
              {{$t('document-flow.views.send-document.save-draft')}}
            </app-button>
          </template>

          <template v-else>
            <app-button
              depressed
              color="success"
              @click="updateDraft"
            >
              <template #prepend>
                <file-text-icon size="18" />
              </template>
              {{$t('document-flow.views.send-document.edit-draft')}}
            </app-button>
          </template>
        </template>

				<app-button
					outlined
					color="#fff"
					@click="dialog = false"
				>
					<template #prepend>
						<edit2-icon size="18"/>
					</template>
					{{$t('document-flow.views.send-document.edit')}}
				</app-button>

				<template v-if="!Boolean($route.query.readonly)">
					<app-button
						v-if="formType === 'create'"
						@click="send"
						:loading="loading"
					>
						<template #prepend>
							<v-icon size="18">{{ "$vuetify.icons.SendIcon" }}</v-icon>
						</template>
						{{$t('document-flow.views.send-document.send')}}
					</app-button>
					<app-button
						v-else
						@click="update"
						:loading="loading"
					>
						<template #prepend>
							<v-icon size="18">{{ "$vuetify.icons.SendIcon" }}</v-icon>
						</template>
						{{$t('document-flow.views.send-document.send')}}
					</app-button>
				</template>
			</div>
		</v-dialog>
	</div>
</template>

<script>
import {
ArrowLeftIcon,
ChevronDownIcon,
Edit2Icon,
EyeIcon,
FileIcon, FileTextIcon, GlobeIcon,
MailIcon,
PaperclipIcon,
PhoneCallIcon,
PlusIcon, Trash2Icon, TypeIcon,
XIcon
} from "vue-feather-icons";
import { required } from "vuelidate/lib/validators";
import { mapGetters } from "vuex";
import FileUploadForSendingDocument from "./FileUploadForSendingDocument";
import ResolutionContentModal from "@/common/components/ResolutionContentModal.vue";

export default {
	name: "DecreeForm",
	components: {
		ResolutionContentModal,
		FileUploadForSendingDocument,
		TypeIcon,
		PaperclipIcon,
		PlusIcon,
		FileIcon,
		XIcon,
		ArrowLeftIcon,
		PhoneCallIcon,
		GlobeIcon,
		MailIcon,
		Edit2Icon,
		ChevronDownIcon,
		EyeIcon,
		Trash2Icon,
    FileTextIcon
	},
	props: {
		formType: {
			type: String,
			default: "create"
		}
	},
	data() {
		return {
			tab: null,
			files: [],
			dialog: false,
			loading: false,
			author: null,
			model: {
				sender: "",
				type: "decree",
				register_number: null,
				register_date: null,
				short_description: "",
				text: "",
				files: [],
				receiver_type: "",
				journal_id: 6,
				branches: [],
				agreed_by: [],
				signed_by: [],
				is_for_payment: false,
				organizations: null,
				__correspondent: null,
				__branchesList: [],
				reply_document_id: this.$route.query.reply_document_id ? this.$route.query.reply_document_id : null,
				receiver: {},
				departments: [],
				__departmentList: [],
				__leadership: {},
				to_user: null,
				__status: "draft",
				__isDraftCreated: false,
				priority: null,
				sub_type: null
			},
			signersList: [],
			agreedList: [],
			toSelected: {
				name: "Bosh ofis",
				value: "head_office"
			},
			toSelectItems: [
				{
					name: "Bosh ofis",
					value: "head_office"
				},
				{
					name: "Filial",
					value: "filial"
				}
			],


			toSelectedForFilial: {
				name: "Filial",
				value: "head_office"
			},
			toSelectItemsForFilial: [
				{
					name: "Filial",
					value: "head_office"
				},
				{
					name: "Boshqa filialga",
					value: "filial"
				}
			],


			decreeTypeSelected: {},
			decreeTypeList: [
				{
					name: "Bank rahbariyati farmoyishi",
					value: "chairman_decree"
				},
				{
					name: "To'lov farmoyishi",
					value: "payment_decree"
				},
				{
					name: "Xizmat farmoyishi",
					value: "service_decree"
				},
				{
					name: "G'aznachilik farmoyishi",
					value: "treasury_decree"
				}
			]
		}
	},
	validations: {
		model: {
			text: {required},
			short_description: {required},
			priority: {required},
			register_number: {required},
			__leadership: {required}
		},
		signersList: {required}
	},
	computed: {
		...mapGetters({
			getDisableItems: "getDisableItems",
			currentUser: "auth/getCurrentUser"
		}),
		isChancellery(){
			let isChancellery = false;
			if (this.currentUser.role === 'admin' || this.currentUser.role === 'chancellery' || this.currentUser.role === 'chancellery_admin' || this.currentUser.role === 'filial_chancellery'){
				isChancellery = true
			}
			return isChancellery
		},
		/** **/
		isTreasuryDecree() {
			return this.decreeTypeSelected.value === 'treasury_decree'
		},
		/** **/
		decreeTypeListComputed() {
			if (this.currentUser.role === 'admin'){
				return this.decreeTypeList;
			}
			else {
				if (this.currentUser.top_level_mfo_or_sap_obj_id === 50000035) {
					return this.decreeTypeList = this.decreeTypeList.filter(item => item.value !== 'chairman_decree');
				}else if (this.currentUser.role === 'chancellery_admin' || this.currentUser.role === 'chancellery' || this.currentUser.role === 'filial_chancellery'){
					return this.decreeTypeList.filter(item => item.value !== 'treasury_decree');
				}else {
					return  this.decreeTypeList = this.decreeTypeList.filter(item => !['chairman_decree', 'treasury_decree'].includes(item.value));
				}
			}
		}
	},
	mounted(){
		if(this.$route.params.id) {
			this.fetchGetOne(this.$route.params.id)
		}
		if (this.formType === 'create') {
			this.decreeTypeSelected = this.decreeTypeListComputed[0];
		}
	},
	methods: {
		saveAsDraft() {
			let model = {
				...this.model,
        status: "draft",
				text: this.model.text.replace(/<br\s*[\/]?>/gi, '<br/>'),
				is_for_payment: this.decreeTypeSelected.value === 'payment_decree',
				receiver_type: this.decreeTypeSelected.value === 'treasury_decree' ? 'department' : this.decreeTypeSelected.value === 'service_decree' && this.toSelected.value === 'head_office' ? 'department'
					: this.decreeTypeSelected.value === 'service_decree' && this.toSelected.value === 'filial' ? 'filial'
						: '',
				signer_obj: this.isTreasuryDecree ? null : [{
					id: this.model.__leadership.id,
					first_name: this.model.__leadership.first_name,
					last_name: this.model.__leadership.last_name,
					father_name: this.model.__leadership.father_name,
					full_name: this.model.__leadership.full_name,
					assistants: this.model.__leadership.assistants[0],
					position: this.model.__leadership.position,
					color: this.model.__leadership.color
				}],
				dept_code: this.currentUser.top_level_dept,
				curator: this.model.__leadership && this.model.__leadership.id
			}

			this.$http.post(`/docflow/${this.currentUser.filial}/compose/`, model)
			.then(({data}) => {
				this.$toast.success(this.$t('document-flow.views.send-document.draft-created'))

				this.dialog = false
				this.loading = false

				this.$router.push({
					name: "SendDocumentNew"
				})
			})
			.catch(() => {
				// this.$toast.error(this.$t('document-flow.views.send-document.error-sending-document'))

				this.loading = false
			})
    },
    /*
    *
    * */
		updateDraft() {
			let model = {
				...this.model,
				status: "draft",
				text: this.model.text.replace(/<br\s*[\/]?>/gi, '<br/>'),
				is_for_payment: this.decreeTypeSelected.value === 'payment_decree',
				receiver_type: this.decreeTypeSelected.value === 'treasury_decree' ? 'department' : this.decreeTypeSelected.value === 'service_decree' && this.toSelected.value === 'head_office' ? 'department'
					: this.decreeTypeSelected.value === 'service_decree' && this.toSelected.value === 'filial' ? 'filial'
						: '',
				signer_obj: this.isTreasuryDecree ? null : [{
					id: this.model.__leadership.id,
					first_name: this.model.__leadership.first_name,
					last_name: this.model.__leadership.last_name,
					father_name: this.model.__leadership.father_name,
					full_name: this.model.__leadership.full_name,
					assistants: this.model.__leadership.assistants[0],
					position: this.model.__leadership.position,
					color: this.model.__leadership.color
				}],
				curator: this.model.__leadership && this.model.__leadership.id
			}

			this.$http.put(`/docflow/${this.currentUser.filial}/compose/${this.$route.params.id}/`, model)
			.then(({data}) => {
				this.$toast.success(this.$t('document-flow.views.send-document.draft-edited'))

				this.dialog = false
				this.loading = false

				this.$router.push({
					name: "SendDocumentNew"
				})
			})
			.catch(() => {
				// this.$toast.error(this.$t('document-flow.views.send-document.error-sending-document'))

				this.loading = false
			})
    },
    /*
    *
    * */
		preview() {
			if (this.isTreasuryDecree) {
				this.$v.model.short_description.$touch();
				this.$v.model.text.$touch();
				this.$v.model.priority.$touch();
				this.$v.model.register_number.$touch();
				this.$v.signersList.$touch();

				if (this.$v.model.short_description.$invalid || this.$v.model.text.$invalid || this.$v.model.priority.$invalid || this.$v.model.register_number.$invalid || this.$v.signersList.$invalid) {
					this.$toast.warning(this.$t('document-flow.views.send-document.field-is-required'))
					return;
				}
			} else {
				this.$v.model.short_description.$touch();
				this.$v.model.text.$touch();
				this.$v.model.priority.$touch();
				this.$v.model.__leadership.$touch();
				this.$v.signersList.$touch();

				if (this.$v.model.short_description.$invalid || this.$v.model.text.$invalid || this.$v.model.priority.$invalid || this.$v.model.__leadership.$invalid || this.$v.signersList.$invalid) {
					this.$toast.warning(this.$t('document-flow.views.send-document.field-is-required'))
					return;
				}
			}

			this.dialog = !this.dialog;
			this.model.branches = [];
			this.model.signed_by = [];
			this.model.agreed_by = [];
			this.model.departments = [];
			this.model.register_number = this.isTreasuryDecree ? this.model.register_number : null

			this.model.sub_type = this.decreeTypeSelected.value;

			if (this.decreeTypeSelected.value === 'treasury_decree'){
				this.model.receiver_type = "department"
			}


			if (this.decreeTypeSelected.value === 'service_letter' && this.toSelectItems.value === 'head_office'){
				this.model.receiver_type = "department"
			}

			if (this.decreeTypeSelected.value === 'service_letter' && this.toSelectItems.value === 'filial'){
				this.model.receiver_type = "filial"
			}

			if (this.formType === 'create'){
				if (this.signersList) {
					this.signersList.forEach(item => this.model.signed_by.push({
						user: item.id
					}))
				}
				if (this.agreedList) {
					this.agreedList.forEach(item => this.model.agreed_by.push({
						user: item.id
					}))
				}
			}

			if (this.formType === 'update'){
				if (this.signersList){
					this.signersList.forEach(item => {
						if(item.oldUser && item.oldUser === true) {
							this.model.signed_by.push({
								id: item.objId,
								user: item.id
							})
						}
						else {
							this.model.signed_by.push({
								user: item.id
							})
						}
					});

					this.agreedList.forEach(item => {
						if(item.hasOwnProperty("user")) {
							this.model.agreed_by.push({
								id: item.id,
								user: item.user.id
							})
						}
						else {
							this.model.agreed_by.push({
								user: item.id
							})
						}
					})

					/*this.agreedList.forEach(item => {
						this.model.agreed_by.push({
							id: item.id,
							user: item.user.id
						})
					})*/
				}
			}

			if (this.model.__branchesList) {
				this.model.__branchesList.forEach(item => this.model.branches.push(item.id))
			}

			if (this.model.__departmentList && this.model.__departmentList.length) {
				this.model.__departmentList.forEach(item => {
					this.model.departments.push(item.id)
				})
			}

			if (this.formType === 'create') {
				if (['service_decree', 'payment_decree', 'treasury_decree'].includes(this.decreeTypeSelected.value) && this.toSelected.value === 'head_office') {
					this.model.sender = this.currentUser.top_level_dept_name ? this.currentUser.top_level_dept_name : this.currentUser.filial_name
				}else {
					this.model.sender = this.currentUser.filial_name
				}
			}
		},
		send() {
			this.loading = !this.loading

			let model = {
				...this.model,
        status: "pending",
				text: this.model.text.replace(/<br\s*[\/]?>/gi, '<br/>'),
				is_for_payment: this.decreeTypeSelected.value === 'payment_decree',
				receiver_type: this.decreeTypeSelected.value === 'treasury_decree' ? 'department' : this.decreeTypeSelected.value === 'service_decree' && this.toSelected.value === 'head_office' ? 'department'
					: this.decreeTypeSelected.value === 'service_decree' && this.toSelected.value === 'filial' ? 'filial'
						: '',
				signer_obj: this.isTreasuryDecree ? null : [{
					id: this.model.__leadership.id,
					first_name: this.model.__leadership.first_name,
					last_name: this.model.__leadership.last_name,
					father_name: this.model.__leadership.father_name,
					full_name: this.model.__leadership.full_name,
					assistants: this.model.__leadership.assistants[0],
					position: this.model.__leadership.position,
					color: this.model.__leadership.color
				}],
				curator: this.model.__leadership && this.model.__leadership.id,
				dept_code: this.currentUser.top_level_dept
			}

			this.$http.post(`/docflow/${this.currentUser.filial}/compose/`, model)
				.then(({data}) => {
					this.$toast.success(this.$t('document-flow.views.send-document.document-sent'))

					this.dialog = false
					this.loading = false

					this.$router.push({
						name: "SendDocumentNew",
						query: {
							type: "decree",
							journal_id: 6
						}
					})
				})
				.catch(() => {
					// this.$toast.error(this.$t('document-flow.views.send-document.error-sending-document'))

					this.loading = false
				})

		},
		/**/
		update(){
			this.loading = !this.loading

			let model = {
				...this.model,
				status: "pending",
				text: this.model.text.replace(/<br\s*[\/]?>/gi, '<br/>'),
				is_for_payment: this.decreeTypeSelected.value === 'payment_decree',
				receiver_type: this.decreeTypeSelected.value === 'treasury_decree' ? 'department' : this.decreeTypeSelected.value === 'service_decree' && this.toSelected.value === 'head_office' ? 'department'
					: this.decreeTypeSelected.value === 'service_decree' && this.toSelected.value === 'filial' ? 'filial'
						: '',
				dept_code: this.currentUser.top_level_dept,
				signer_obj: this.isTreasuryDecree ? null : [{
					id: this.model.__leadership.id,
					first_name: this.model.__leadership.first_name,
					last_name: this.model.__leadership.last_name,
					father_name: this.model.__leadership.father_name,
					full_name: this.model.__leadership.full_name,
					assistants: Array.isArray(this.model.__leadership.assistants) ? this.model.__leadership.assistants[0] : this.model.__leadership.assistants,
					position: this.model.__leadership.position,
					color: this.model.__leadership.color
				}],
				curator: this.model.__leadership && this.model.__leadership.id
			}

			this.$http.put(`/docflow/${this.currentUser.filial}/compose/${this.$route.params.id}/`, model)
			.then(({data}) => {
				this.$toast.success(this.$t('document-flow.views.send-document.updated-document'))

				this.dialog = false
				this.loading = false

				this.$router.push({
					name: "SendDocumentNew",
					query: {
						type: "decree",
						journal_id: 6
					}
				})
			})
				.catch(() => {
					// this.$toast.error(this.$t('document-flow.views.send-document.error-sending-document'))

					this.loading = false
				})
		},
		/**/
		resetForm() {

		},
		/**/
		toSelectChange() {
			this.model.__departmentList = [];
			this.model.__branchesList = [];

			if (this.currentUser.filial !== '09013'){
				this.toSelected = this.toSelectedForFilial;
			}

			if (this.isTreasuryDecree) {
				this.model.__departmentList = [{
					code: "000755",
					condition: "A",
					dep_id: 1957,
					dept_index: "13",
					filial: 1,
					id: 47993,
					mfo: "09013",
					name: "Bank amaliyotlari markazi",
					parent: null,
					parent_code: "000000"
				}]
			}
		},
		/**/
		onBranchChange() {

		},
		/**/
		onDepartmentChange() {

		},
		/**/
		onDecreeTypeChange(){
			this.model.__leadership = {};
			this.toSelectChange();
		},
		fetchGetOne(id){
			this.$http.get(`/docflow/${this.currentUser.filial}/compose/${id}/`)
				.then(({ data }) => {
					this.signersList = []

					if (data.sub_type) {
						this.decreeTypeSelected = this.decreeTypeList.find(item => item.value === data.sub_type);
					} else {
						if (this.currentUser.role === 'admin' || this.currentUser.role === 'chancellery' || this.currentUser.role === 'chancellery_admin' || this.currentUser.role === 'filial_chancellery'){
							data.is_for_payment ? this.decreeTypeSelected = this.decreeTypeList[1] : data.receiver ? this.decreeTypeSelected = this.decreeTypeList[2] : this.decreeTypeSelected = this.decreeTypeList[0]
						}else {
							data.is_for_payment ? this.decreeTypeSelected = this.decreeTypeList[0] : this.decreeTypeSelected = this.decreeTypeList[1]
						}
					}

					data.signed_by.forEach(item => {
						this.signersList.push({...item.user, oldUser: true, objId: item.id})
					})
					this.model.text = data.text
					this.model.__status = data.status
					this.model.__isDraftCreated = data.status === "draft"
					this.model.short_description = data.short_description
					this.model.register_number = data.register_number
					this.model.__branchesList = data.receiver && data.receiver.branches
					this.model.__departmentList = data.receiver && data.receiver.departments
					this.model.files = data.files
					this.model.sender = data.sender
					this.model.is_for_payment = data.is_for_payment
					this.files = [...data.files]
					this.model.register_date = data.register_date
					this.author = data.author
					this.model.priority = data.priority
					this.model.__leadership = data.signer_obj ? data.signer_obj[0] : {}
					this.agreedList = data.agreed_by

					if (data.receiver && data.receiver.type === 'filial'){
						this.toSelected = this.toSelectItems[1];
						this.toSelectedForFilial = this.toSelectItemsForFilial[1];
					}
				})
		},
		/**/
		uploadFiles(data) {
			this.files.push(data)

			this.model.files.push({
				id: data.id
			})
		},
		/**/
		deleteFile({ item, index}) {
			this.files.splice(index, 1)
			this.model.files.splice(index, 1)
		},
		deleteSigner(item) {
			this.signersList = this.signersList.filter(user => user.id !== item.id)
		},
		/**/
		returnDate(date){
			return new Date(date).getDate() + '.' + (new Date(date).getMonth() + 1) + '.' + new Date(date).getFullYear() + ' y'
		}
	}
}
</script>

<style scoped>

</style>
