<template>
	<div class="file-upload-for-hybrid">
		<div class="pa-4">
			<div class="d-flex align-center flex-wrap">
				<div class="d-flex flex-wrap">
					<template>
						<v-sheet
							v-for="(item, index) in filesForHybrid"
							:key="item.id"
							height="40"
							style="border-color: var(--primary-1);"
							class="d-flex align-center border-all rounded-15 overflow-hidden pl-4 mr-5 mb-2"
						>
							<img src="/img/icons/doc-icon.svg" alt="Icon">
							<span class="small-2 ml-2 mr-3 font-500 text-truncate" style="max-width: 100px">{{ item.name }}</span>
							<v-btn
								text
								color="error"
								width="36"
								min-width="36"
								height="36"
								@click="deleteFile(item, index)"
							>
								<x-icon size="18" />
							</v-btn>
						</v-sheet>
					</template>
				</div>

				<template v-if="!Boolean($route.query.readonly)">
					<div class="d-flex mb-2">
						<!--						application/pdf-->
						<v-file-input
							accept="application/pdf"
							@change="uploadFiles"
							id="fileUploadForHybrid"
							multiple
							prepend-icon=""
							outlined
							hide-details
							clear-icon=""
							class="flex-grow-0 d-none"
							ref="fileUploadRef"
							:disabled="buttonDisabled"
						/>

						<label for="fileUploadForHybrid" class="d-flex align-center">
                  <span class="primary-bg text-white small-2 px-4 rounded d-flex align-center pointer" style="height: 40px">
                    <plus-icon size="20" />
                    <span class="line-base ml-2">{{$t('forHybrid')}}</span>
                  </span>
						</label>
					</div>
				</template>
			</div>

			<template v-if="isProgressVisible">
				<v-progress-circular
					:rotate="-90"
					:size="80"
					:width="12"
					:value="progressValue"
					:color="isSuccess ? 'primary' : 'error'"
					class="my-2"
				>
					{{ progressValue + '%' }}
				</v-progress-circular>
			</template>
		</div>
	</div>
</template>

<script>
import { PlusIcon, XIcon } from "vue-feather-icons";
export default {
	name: "FileUploadForHybrid",
	components: {
		PlusIcon,
		XIcon
	},
	props: {
		accept: {
			type: String
		},
		filesForHybrid: {
			type: Array,
			default: []
		},
		buttonDisabled: {
			type: Boolean,
			default: false
		}
	},
	data() {
		return {
			progressValue: 0,
			isSuccess: true,
			isProgressVisible: false
		}
	},
	methods: {
		uploadFiles(files){
			if (files){
				for (let i = 0; i < files.length; i++) {
					if (files[i].type !== 'application/pdf'){
						this.$toast.error(this.$t('forHybrid'));
						return;
					}
				}
				this.isProgressVisible = true;
				this.progressValue = 0
			}
			this.isSuccess = true
			for (let i = 0; i < files.length; i++) {
				let formData = new FormData()
				formData.append("file", files[i]);
				formData.append("need_to_send", 'True');

				let progressValue = 0

				this.$axios
					.post('/upload/', formData, {
						onUploadProgress: (progressEvent) => {
							progressValue = parseInt( Math.round((progressEvent.loaded / progressEvent.total) * 100))
							if (progressValue <= 100){
								this.progressValue = progressValue - 1
							}
						}
					})
					.then(({ data }) => {
						this.progressValue = progressValue
						this.$emit("uploadFilesForHybrid", data)
					})
					.catch(err => {
						this.isSuccess = false
					})
			}
		},
		/**/
		deleteFile(item, index){
			this.isProgressVisible = false
			this.$emit("deleteFileForHybrid", { item, index})
		}
	}
}
</script>

<style scoped>

</style>
