<template>
  <div>
    <v-row>
      <v-col md="3">
        <app-autocomplete
          v-model="$v.model.__leadership.$model"
          :error="$v.model.__leadership.$error"
          api-list-url="/user/search/"
          :api-params="{
            role: 'top_management'
          }"
          item-text="full_name"
          return-object
          cache-items
          clearable
          :placeholder="$t('document-flow.views.send-document.to-whom')"
          :disabled="Boolean($route.query.readonly)"
          :item-disabled="getDisableItems"
        />

        <template v-if="Boolean($route.query.readonly)">
          <div v-if="model.__leadership" class="d-flex flex-wrap grid-gap-sm mt-4">
            <v-chip
              dark
              :color="model.__leadership.color"
            >
              {{ model.__leadership.full_name }}
            </v-chip>
          </div>
        </template>

        <template v-if="formType === 'update'">
          <div v-if="model.__leadership" class="d-flex align-center grid-gap-sm mt-4">
            <v-chip
              dark
              :color="model.__leadership.color"
              class="w-100"
            >
              {{ model.__leadership.full_name }}
            </v-chip>

            <v-spacer />

            <v-btn
              color="error"
              icon
              depressed
              small
              @click="model.__leadership = null"
            >
              <trash2-icon size="20" />
            </v-btn>
          </div>
        </template>
      </v-col>

      <v-col md="3">
        <v-select
          v-model="$v.model.type.$model"
          :error="$v.model.type.$error"
          :items="letterTypeList"
          item-text="title"
          item-value="value"
          outlined
          background-color="var(--input-bg)"
          :placeholder="$t('document-flow.views.send-document.type-letter')"
          hide-details
          :disabled="Boolean($route.query.readonly)"
          @input="handleLetterType"
        >
          <template #append>
            <chevron-down-icon size="20" color="#B0BDC2" />
          </template>
        </v-select>
      </v-col>

      <v-col md="3">
        <v-text-field
          v-model="$v.model.register_number.$model"
          :error="$v.model.register_number.$error"
          :placeholder="$t('document-flow.views.send-document.number-document')"
          hide-details
          outlined
          background-color="var(--input-bg)"
        ></v-text-field>
      </v-col>

      <v-col md="3">
        <v-text-field
          v-model="model.short_description"
          :placeholder="$t('document-flow.views.send-document.short-description')"
          hide-details
          outlined
          :readonly="shortDescriptionDisabled"
          background-color="var(--input-bg)"
          :disabled="Boolean($route.query.readonly)"
        ></v-text-field>
      </v-col>

      <v-col md="3">
        <v-text-field
          :value="currentUser.top_level_dept_name"
          :placeholder="$t('document-flow.views.send-document.department-name')"
          hide-details
          outlined
          readonly
          background-color="var(--input-bg)"
        ></v-text-field>
      </v-col>

      <v-col md="3">
        <v-select
          v-model="$v.forwardDocumentSelect.$model"
          :error="$v.forwardDocumentSelect.$error"
          :items="forwardDocumentList"
          item-text="title"
          item-value="value"
          outlined
          hide-details
          background-color="var(--input-bg)"
          :placeholder="$t('document-flow.views.send-document.document-direction')"
        >
          <template #prepend-inner>
            <app-tooltip top>
              <template #content>
                <div class="p-relative mr-1" style="z-index: 1;">
                  <help-circle-icon size="20" color="var(--text-dark)" class="d-block" />
                </div>
              </template>
              <template #text>
                {{$t('document-flow.views.send-document.where-send-document')}} <br> {{$t('document-flow.views.send-document.to-head-office-or-branch')}}
              </template>
            </app-tooltip>
          </template>
        </v-select>
      </v-col>
    </v-row>

    <v-row>
      <v-col md="12">
        <div class="app-collapse">
          <v-expansion-panels v-model="panel">
            <v-expansion-panel>
              <v-expansion-panel-header class="border-all" color="primary">
                <span class="d-block font-600 text-white">{{$t('document-flow.views.send-document.create-score-sheet')}}</span>
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <div class="mt-5 rounded-10 pa-4" style="border: 2px dashed #dedede;">
                  <v-row>
                    <v-col md="12">
<!--                      <div class="app-input mb-8">-->
<!--                        <span class="d-block font-600 small-2 mb-2">Описание кандитата</span>-->

<!--                        <app-table bordered stripe>-->
<!--                          <template #tableBody>-->
<!--                            <tr>-->
<!--                              <td width="250">-->
<!--                                <span class="font-700">Дата</span>-->
<!--                              </td>-->
<!--                              <td class="border-left">-->
<!--                                <input-->
<!--                                  type="text"-->
<!--                                  placeholder="Дата"-->
<!--                                  class="d-block h-100 w-100 outline-transparent"-->
<!--                                />-->
<!--                              </td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                              <td width="250">-->
<!--                                <span class="font-700">ФИО</span>-->
<!--                              </td>-->
<!--                              <td class="border-left">-->
<!--                                <input-->
<!--                                  type="text"-->
<!--                                  placeholder="ФИО"-->
<!--                                  class="d-block h-100 w-100 outline-transparent"-->
<!--                                />-->
<!--                              </td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                              <td width="250">-->
<!--                                <span class="font-700">Структурное подразделение</span>-->
<!--                              </td>-->
<!--                              <td class="border-left">-->
<!--                                <input-->
<!--                                  type="text"-->
<!--                                  placeholder="Структурное подразделение"-->
<!--                                  class="d-block h-100 w-100 outline-transparent"-->
<!--                                />-->
<!--                              </td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                              <td width="250">-->
<!--                                <span class="font-700">Тип отбора</span>-->
<!--                              </td>-->
<!--                              <td class="border-left">-->
<!--                                <input-->
<!--                                  type="text"-->
<!--                                  placeholder="Тип отбора"-->
<!--                                  class="d-block h-100 w-100 outline-transparent"-->
<!--                                />-->
<!--                              </td>-->
<!--                            </tr>-->
<!--                          </template>-->
<!--                        </app-table>-->
<!--                      </div>-->

                      <div class="app-input">
<!--                        <span class="d-block font-600 small-2 mb-2">Рекомендация для кандитата</span>-->

                        <quill-editor
                          v-model="$v.scoreSheetModel.text.$model"
                          :error="$v.scoreSheetModel.text.$error"
                          :disabled="Boolean($route.query.readonly)"
                        />

	                      <div class="bg-white pt-5">
		                      <resolution-content-modal
			                      :has-filial="false"
			                      api-url="action/short-descriptions/"
			                      :api-params="{ type: 'template' }"
			                      title-dialog="components.add-template"
			                      @emit:up="(text) => scoreSheetModel.text = text.description"
		                      />
	                      </div>
                      </div>
                    </v-col>

                    <v-col md="6">
                      <v-alert type="error" text class="mb-0">
                        <template #prepend>
                          <info-icon size="22" class="mr-3" />
                        </template>
                        {{$t('document-flow.views.send-document.before-create-sheet')}}
                      </v-alert>
                    </v-col>

                    <v-col md="3">
                      <app-autocomplete
                        v-model="$v.scoreSheetSigners.recruiter.$model"
                        :error="$v.scoreSheetSigners.recruiter.$error"
                        :item-disabled="getDisableItems"
                        api-list-url="/user/search/"
                        item-text="full_name"
                        item-value="id"
                        :api-params="{
                          type: 'signers'
                        }"
                        return-object
                        cache-items
                        background-color="var(--input-bg)"
                        :placeholder="$t('document-flow.views.send-document.signer-recruiter')"
                        :disabled="Boolean($route.query.readonly)"
                      />

                      <template v-if="Object.keys(scoreSheetSigners.recruiter).length">
                        <v-chip
                          dark
                          :color="scoreSheetSigners.recruiter.color"
                          class="mt-2"
                        >
                          <span class="mr-2">{{ scoreSheetSigners.recruiter.full_name }}</span>

                          <v-btn
                            v-if="!Boolean($route.query.readonly)"
                            color="white"
                            icon
                            small
                            @click="scoreSheetSigners.recruiter = {}"
                          >
                            <trash2-icon size="18" />
                          </v-btn>
                        </v-chip>
                      </template>
                    </v-col>

                    <v-col md="3">
                      <app-autocomplete
                        v-model="$v.scoreSheetSigners.director.$model"
                        :error="$v.scoreSheetSigners.director.$error"
                        :item-disabled="getDisableItems"
                        api-list-url="/user/search/"
                        item-text="full_name"
                        item-value="id"
                        :api-params="{
                          type: 'signers'
                        }"
                        return-object
                        cache-items
                        background-color="var(--input-bg)"
                        :placeholder="$t('document-flow.views.send-document.signatory-recruiter')"
                        :disabled="Boolean($route.query.readonly)"
                      />

                      <template v-if="Object.keys(scoreSheetSigners.director).length">
                        <v-chip
                          dark
                          :color="scoreSheetSigners.director.color"
                          class="mt-2"
                        >
                          <span class="mr-2">{{ scoreSheetSigners.director.full_name }}</span>

                          <v-btn
                            v-if="!Boolean($route.query.readonly)"
                            color="white"
                            icon
                            small
                            @click="scoreSheetSigners.director = {}"
                          >
                            <trash2-icon size="18" />
                          </v-btn>
                        </v-chip>
                      </template>
                    </v-col>

                    <v-col md="12">
                      <app-button @click="previewScoreSheet">
                        <template #prepend>
                          <eye-icon size="20" />
                        </template>
                        {{ $t('document-flow.views.send-document.view-recruiter') }}
                      </app-button>
                    </v-col>
                  </v-row>
                </div>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </div>
      </v-col>
    </v-row>

    <v-row>
      <v-col md="12">
        <div class="input-bg rounded-20">
          <div class="pa-4 pb-1">
            <div class="app-tab">
              <v-tabs
                v-model="tab"
                hide-slider
                height="36"
                color="#fff"
              >
                <v-tab>
                  <div class="d-flex align-center px-3">
                    <type-icon size="16" class="mr-2" />
                    <span class="text-transform-none small-2 line-base font-400">{{$t('document-flow.views.send-document.text')}}</span>
                  </div>
                </v-tab>

                <v-tab>
                  <div class="d-flex align-center px-3">
                    <paperclip-icon size="16" class="mr-2" />
                    <span class="text-transform-none small-2 line-base font-400">{{$t('document-flow.views.send-document.file')}}</span>
                  </div>
                </v-tab>
              </v-tabs>
            </div>
          </div>

          <v-tabs-items class="app-tab-items" v-model="tab">
            <v-tab-item>
              <quill-editor
                v-model="$v.model.text.$model"
                :error="$v.model.text.$error"
                :disabled="Boolean($route.query.readonly) || !isScoreSheetCreated"
              />
            </v-tab-item>

            <v-tab-item>
              <file-upload-for-sending-document :files="files" @uploadFiles="uploadFiles" @deleteFile="deleteFile" />
            </v-tab-item>
          </v-tabs-items>
        </div>
      </v-col>
    </v-row>

    <v-row>
      <v-col md="6">
        <v-alert type="info" text>
          <template #prepend>
            <info-icon size="22" class="mr-3" />
          </template>
          {{$t('document-flow.views.send-document.job-application-report-alert')}}
        </v-alert>
      </v-col>

      <v-col md="6">
        <app-autocomplete
          v-model="$v.signersList.$model"
          :error="$v.signersList.$error"
          :item-disabled="getDisableItems"
          api-list-url="/user/search/"
          item-text="full_name"
          item-value="id"
          :api-params="{
            type: 'signers'
          }"
          return-object
          cache-items
          multiple
          background-color="var(--input-bg)"
          :placeholder="$t('document-flow.views.send-document.select-signatory')"
          :disabled="Boolean($route.query.readonly) || !isScoreSheetCreated"
        />

        <template v-if="model.is_for_payment">
          <v-alert type="info" text class="mt-3">
            <template #prepend>
              <info-icon size="22" class="mr-3" />
            </template>
            {{$t('document-flow.views.send-document.first-entered-then-selected-employee')}}
          </v-alert>

          <div v-if="userEnteredUser && userEnteredUser.length" class="mb-6">
            <span class="d-block font-600 small-2 mb-3">{{$t('document-flow.views.send-document.entered')}}</span>

            <app-table
              bordered
            >
              <template #tableHeader>
                <th width="75">№</th>
                <th>{{$t('document-flow.views.send-document.signatory')}}</th>
                <th width="75">{{$t('document-flow.views.send-document.events')}}</th>
              </template>

              <template #tableBody>
                <tr
                  v-for="(item, index) in userEnteredUser"
                  class="text-dark font-500"
                >
                  <td>{{ index + 1 }}</td>
                  <td>
                    {{ item.user ? item.user.full_name : item.full_name }}
                  </td>
                  <td>
                    <app-button
                      v-if="!Boolean($route.query.readonly)"
                      icon
                      color="error"
                      min-width="40"
                      height="40"
                      width="40"
                      @click="deleteSigner(item)"
                    >
                      <trash2-icon size="18" />
                    </app-button>
                  </td>
                </tr>
              </template>
            </app-table>
          </div>

          <div v-if="userAgreedList && userAgreedList.length">
            <span class="d-block font-600 small-2 mb-3">{{$t('document-flow.views.send-document.agreed')}}</span>

            <app-table
              bordered
            >
              <template #tableHeader>
                <th width="75">№</th>
                <th>{{$t('document-flow.views.send-document.signatory')}}</th>
                <th width="75">{{$t('document-flow.views.send-document.events')}}</th>
              </template>

              <template #tableBody>
                <tr
                  v-for="(item, index) in userAgreedList"
                  class="text-dark font-500"
                >
                  <td>{{ index + 1 }}</td>
                  <td>
                    {{ item.user ? item.user.full_name : item.full_name }}
                  </td>
                  <td>
                    <app-button
                      v-if="!Boolean($route.query.readonly)"
                      icon
                      color="error"
                      min-width="40"
                      height="40"
                      width="40"
                      @click="deleteSigner(item)"
                    >
                      <trash2-icon size="18" />
                    </app-button>
                  </td>
                </tr>
              </template>
            </app-table>
          </div>
        </template>

        <template v-else>
          <template v-if="Boolean($route.query.readonly)">
            <div class="d-flex flex-wrap grid-gap-sm mt-4">
              <template v-for="item in signersList">
                <v-chip
                  v-if="item.user"
                  dark
                  :color="item.user.color"
                >
                  {{ item.user ? item.user.full_name : item.full_name }}
                </v-chip>
              </template>
            </div>
          </template>

          <template v-if="formType === 'update'">
            <app-table
              bordered
              class="mt-4"
            >
              <template #tableHeader>
                <th width="75">№</th>
                <th>{{$t('document-flow.views.send-document.signatory')}}</th>
                <th width="75">{{$t('document-flow.views.send-document.events')}}</th>
              </template>

              <template #tableBody>
                <tr
                  v-for="(item, index) in signersList"
                  class="text-dark font-500"
                >
                  <td>{{ index + 1 }}</td>
                  <td>
                    {{ item.user ? item.user.full_name : item.full_name }}
                  </td>
                  <td>
                    <app-button
                      v-if="!Boolean($route.query.readonly)"
                      icon
                      color="error"
                      min-width="40"
                      height="40"
                      width="40"
                      @click="deleteSigner(item)"
                    >
                      <trash2-icon size="18" />
                    </app-button>
                  </td>
                </tr>
              </template>
            </app-table>
          </template>
        </template>
      </v-col>
    </v-row>

    <template v-if="isScoreSheetCreated">
      <v-row>
        <v-col md="12">
          <app-button color="error" @click="$router.go(-1)">
            <template #prepend>
              <arrow-left-icon size="20" />
            </template>
            {{$t('document-flow.views.send-document.save')}}
          </app-button>

          <app-button class="mx-3" @click="preview">
            <template #prepend>
              <eye-icon size="20" />
            </template>
            {{$t('document-flow.views.send-document.view-document')}}
          </app-button>

          <template v-if="!Boolean($route.query.readonly)">
            <app-button outlined @click="resetForm">
              {{$t('document-flow.views.send-document.clear-form')}}
            </app-button>
          </template>
        </v-col>
      </v-row>
    </template>

    <!-- Preview -->
    <v-dialog
      v-model="dialog"
      width="595"
      content-class="generate-wrap reset-dialog-style"
    >
      <div>
	      <div class="bg-white d-flex w-100 justify-end">
		      <app-button
			      icon
			      color="error"
			      min-width="40"
			      width="40"
			      height="40"
			      tile
			      @click="dialog = false"
			      class="p-absolute"
			      style="top: 0; right: 0;"
		      >
			      <x-icon/>
		      </app-button>
	      </div>
        <div class="generate-pdf-area overflow-y-auto bg-4 mb-5 pa-10 p-relative d-flex flex-column">
          <div>
            <v-row>
              <v-col md="8">
                <img src="/img/logo_asaka_3.svg" alt="Logo Asakabank" class="mt-2 mb-5">

                <div
                  class="brand-actions d-flex align-center py-2 pr-5 p-relative text-dark small-3 font-600 p-relative pl-10"
                  style="left: -40px"
                >
                  <span>
                    {{ currentUser.filial === "09013"
                    ? (forwardDocumentSelect === "head_office" ? currentUser.top_level_dept_name : currentUser.filial_name)
                    : (forwardDocumentSelect === "head_office" ? currentUser.filial_name : currentUser.top_level_dept_name) }}
                  </span>
                </div>

                <div class="d-flex tiny mt-4 text-dark font-600">
                  <span>№ {{ model.register_number }}</span>
                </div>
              </v-col>
            </v-row>
          </div>

          <!--          <pre>{{ model.__leadership.user.position }}</pre>-->

          <div v-if="model.__leadership" class="mt-10 pt-5">
            <template v-if="!model.__leadership.hasOwnProperty('user')">
              <p class="font-600 small-3 mb-1 text-right">
                {{ model.__leadership && model.__leadership.position }}
              </p>

              <p class="font-600 small-3 mb-1 text-right">
                {{ model.__leadership && model.__leadership.first_name && model.__leadership.first_name | getFirstCharacter }}
                {{ model.__leadership && model.__leadership.last_name }}ga
              </p>
            </template>

            <template v-else>
              <p class="font-600 small-3 mb-1 text-right">
                {{ model.__leadership && model.__leadership.user && model.__leadership.user.position }}
              </p>

              <p class="font-600 small-3 mb-1 text-right">
                {{ model.__leadership && model.__leadership.user && model.__leadership.user.first_name && model.__leadership.user.first_name | get }}.
                {{ model.__leadership && model.__leadership.user && model.__leadership.user.last_name }}ga
              </p>
            </template>
          </div>

          <div class="text-center small-2 text-dark font-600 my-7">
            {{ model.type === 'notice' ? 'BILDIRISHNOMA' : model.type === 'decree' ? 'FARMOYISH' : 'XIZMAT XATI' }}
          </div>

          <template v-if="model.short_description">
            <i class="small-3 d-block text-dark font-500 mb-1" style="text-indent: 30px">
              Qisqacha mazmuni: <span class="text-decoration-underline">{{ model.short_description }}</span>
            </i>
          </template>

          <span
            v-html="model.text"
            class="small-3 d-block text-dark font-500 text-justify"
            style="line-height: 20px; text-indent: 30px"
          ></span>

          <div class="my-10 pt-10">
            <template v-if="model.is_for_payment">
              <div v-if="userEnteredUser && userEnteredUser.length" class="px-7 small-2 mb-5">
                <i class="d-block font-600 mb-1">Kiritildi:</i>

                <template>
                  <v-row v-for="item in userEnteredUser" no-gutters :key="item.id">
                    <v-col md="6">
                      <span class="d-block font-600">{{ item.user ? item.user.position : item.position }}</span>
                    </v-col>

                    <v-col md="2"></v-col>

                    <v-col md="4">
                      <span v-if="!item.hasOwnProperty('user')" class="d-block font-600 text-right">
                        {{ item.last_name }}
                        {{ item.first_name && item.first_name | getFirstCharacter }}
                        {{ item.father_name && item.father_name | getFirstCharacter }}
                      </span>

                      <span v-else class="d-block font-600 text-right">
                        {{ item.user.last_name }}
                        {{ item.user.first_name && item.user.first_name | getFirstCharacter }}
                        {{ item.user.father_name && item.user.father_name | getFirstCharacter }}
                      </span>
                    </v-col>
                  </v-row>
                </template>
              </div>

              <div v-if="userAgreedList && userAgreedList.length" class="px-7 small-2">
                <i class="d-block font-600 mb-1">Kelishildi:</i>

                <template v-for="item in userAgreedList">
                  <v-row no-gutters class="mb-3">
                    <v-col md="6">
                      <span class="d-block font-600">{{ item.user ? item.user.position : item.position }}</span>
                    </v-col>

                    <v-col md="2"></v-col>

                    <v-col md="4">
                      <span v-if="!item.hasOwnProperty('user')" class="d-block font-600 text-right">
                        {{ item.last_name }}
                        {{ item.first_name && item.first_name | getFirstCharacter }}
                        {{ item.father_name && item.father_name | getFirstCharacter }}
                      </span>

                      <span v-else class="d-block font-600 text-right">
                        {{ item.user.last_name }}
                        {{ item.user.first_name && item.user.first_name | getFirstCharacter }}
                        {{ item.user.father_name && item.user.father_name | getFirstCharacter }}
                      </span>
                    </v-col>
                  </v-row>
                </template>
              </div>
            </template>

            <template v-else>
              <template v-for="item in signersList">
                <div class="d-flex align-center justify-space-between text-dark small-3 mb-1 font-600">
                  <template v-if="!item.hasOwnProperty('user')">
                    <span>{{ item.position }}</span>
                    <span>{{ item.first_name && item.first_name | getFirstCharacter }} {{ item.last_name }}</span>
                  </template>

                  <template v-else>
                    <span class="font-600">{{ item.user && item.user.position }}</span>
                    <span>
                      {{ item.user && item.user.first_name | getFirstCharacter }}
                      {{ item.user.last_name }}
                    </span>
                  </template>
                </div>
              </template>
            </template>
          </div>

          <div v-if="currentUser" class="mt-auto small-3 font-600">
            Ijrochi: {{ currentUser.first_name && currentUser.first_name | getFirstCharacter }} {{ currentUser.last_name }} <br>
            Tel: {{ currentUser.cisco }}
          </div>
        </div>

        <div class="text-center">
          <template v-if="formType === 'create' && !Boolean($route.query.readonly)">
            <app-button
              outlined
              color="#fff"
              @click="dialog = false"
            >
              <template #prepend>
                <edit2-icon size="18" />
              </template>
              {{$t('document-flow.views.send-document.edit')}}
            </app-button>

            <app-button @click="send" :loading="loading" class="ml-5">
              <template #prepend>
                <v-icon size="18">{{ "$vuetify.icons.SendIcon" }}</v-icon>
              </template>
              {{$t('document-flow.views.send-document.send')}}
            </app-button>
          </template>

          <template v-else-if="!Boolean($route.query.readonly)">
            <app-button
              outlined
              color="#fff"
              @click="dialog = false"
            >
              <template #prepend>
                <edit2-icon size="18" />
              </template>
              {{$t('document-flow.views.send-document.edit')}}
            </app-button>

            <app-button @click="update" :loading="loading" class="ml-5">
              <template #prepend>
                <v-icon size="18">{{ "$vuetify.icons.SendIcon" }}</v-icon>
              </template>
              {{$t('document-flow.views.send-document.send')}}
            </app-button>
          </template>
        </div>
      </div>
    </v-dialog>
    <!-- /Preview -->

    <!-- Preview to score sheet -->
    <v-dialog
      v-model="scoreSheetDialog"
      width="595"
      content-class="generate-wrap reset-dialog-style"
    >
      <div>
        <div class="generate-pdf-area overflow-y-auto bg-4 mb-5 pa-10 p-relative d-flex flex-column">
          <app-button
            icon
            color="error"
            min-width="40"
            width="40"
            height="40"
            tile
            @click="scoreSheetDialog = false"
            class="p-absolute"
            style="top: 0; right: 0;"
          >
            <x-icon />
          </app-button>

          <div>
            <v-row>
              <v-col md="8">
                <img src="/img/logo_asaka_3.svg" alt="Logo Asakabank" class="mt-2 mb-5">
              </v-col>
            </v-row>
          </div>

          <div>
            <span v-html="scoreSheetModel.text" class="small-2 reset-space"></span>
          </div>

          <div class="my-10 pt-10">
            <div v-if="scoreSheetSigners.recruiter" class="d-flex align-center justify-space-between text-dark small-3 mb-1 font-600">
              <template v-if="!scoreSheetSigners.recruiter.hasOwnProperty('user')">
                <span>{{ scoreSheetSigners.recruiter.position }}</span>
                <span>{{ scoreSheetSigners.recruiter.first_name && scoreSheetSigners.recruiter.first_name | getFirstCharacter }} {{ scoreSheetSigners.recruiter.last_name }}</span>
              </template>

              <template v-else>
                <span class="font-600">{{ scoreSheetSigners.recruiter.user && scoreSheetSigners.recruiter.user.position }}</span>
                <span>
                  {{ scoreSheetSigners.recruiter.user && scoreSheetSigners.recruiter.user.first_name | getFirstCharacter }}
                  {{ scoreSheetSigners.recruiter.user.last_name }}
                </span>
              </template>
            </div>

            <div v-if="scoreSheetSigners.director" class="d-flex align-center justify-space-between text-dark small-3 mb-1 font-600">
              <template v-if="!scoreSheetSigners.director.hasOwnProperty('user')">
                <span>{{ scoreSheetSigners.director.position }}</span>
                <span>{{ scoreSheetSigners.director.first_name && scoreSheetSigners.director.first_name | getFirstCharacter }} {{ scoreSheetSigners.director.last_name }}</span>
              </template>

              <template v-else>
                <span class="font-600">{{ scoreSheetSigners.director.user && scoreSheetSigners.director.user.position }}</span>
                <span>
                  {{ scoreSheetSigners.director.user && scoreSheetSigners.director.user.first_name | getFirstCharacter }}
                  {{ scoreSheetSigners.director.user.last_name }}
                </span>
              </template>
            </div>
          </div>
        </div>

        <div v-if="!Boolean($route.query.readonly)" class="text-center">
          <template v-if="$route.query.scoreId">
            <app-button
              :loading="scoreSheetLoading"
              @click="updateScoreSheet"
            >
              {{$t('document-flow.views.send-document.edit-template')}}
            </app-button>
          </template>
          <template v-else>
            <app-button
              :loading="scoreSheetLoading"
              @click="createScoreSheet"
            >
              {{$t('document-flow.views.send-document.create-template')}}
            </app-button>
          </template>
        </div>
      </div>
    </v-dialog>
    <!-- /Preview to score sheet -->
  </div>
</template>

<script>
import {
ArrowLeftIcon, ChevronDownIcon, Edit2Icon, EyeIcon, HelpCircleIcon, InfoIcon, PaperclipIcon, PlusIcon, Trash2Icon, TypeIcon, XIcon
} from "vue-feather-icons";
import { required } from "vuelidate/lib/validators";
import { mapGetters } from "vuex";
import FileUploadForSendingDocument from "./FileUploadForSendingDocument";
import ResolutionContentModal from "@/common/components/ResolutionContentModal.vue";

export default {
  name: "JobApplicationReportForm",
  props: {
    formType: {
      type: String,
      default: "create"
    }
  },
  components: {
	  ResolutionContentModal,
    ChevronDownIcon,
    TypeIcon,
    PaperclipIcon,
    XIcon,
    ArrowLeftIcon,
    EyeIcon,
    PlusIcon,
    Edit2Icon,
    Trash2Icon,
    InfoIcon,
    HelpCircleIcon,
    FileUploadForSendingDocument
  },
  data() {
    return {
      model: {
        type: "hr_notice",
        register_number: null,
        short_description: "",
        text: "",
        files: [],
        journal_id: 3,
        signed_by: [],
        sender: "",
        is_for_payment: false,
        evaluation: null,
        __leadership: null
      },
      letterTypeList: [
        {
          title: "Bildirishnoma",
          value: "hr_notice"
        },
        // {
        //   title: "Фармойиш",
        //   value: "decree"
        // },
        // {
        //   title: "Хизмат хати",
        //   value: "service_letter"
        // },
      ],
      panel: 0,
      shortDescriptionDisabled: false,
      tab: null,
      files: [],
      dialog: false,
      agreedList: null,
      signersList: null,
      loading: false,
      reportPayment: false,
      reportEnteredList: [],
      reportAgreedList: [],

      scoreSheetModel: {
        text: "",
        recruiter: null,
        director: null
      },
      isScoreSheetCreated: false,
      scoreSheetDialog: false,
      scoreSheetSigners: {
        recruiter: {},
        director: {}
      },
      scoreSheetLoading: false,
      forwardDocumentList: [
        {
          title: "Головной офис",
          value: "head_office"
        },
        {
          title: "Филиал",
          value: "filial"
        },
      ],
      forwardDocumentSelect: null
    }
  },
  validations: {
    model: {
      type: { required },
      register_number: { required },
      text: { required },
      __leadership: { required },
    },
    /*
    *
    * */
    signersList: { required },
    /*
    *
    * */
    scoreSheetModel: {
      text: { required }
    },
    /*
    *
    * */
    scoreSheetSigners: {
      recruiter: { required },
      director: { required }
    },
    /*
    *
    * */
    forwardDocumentSelect: { required },
  },
  computed: {
    ...mapGetters({
      getDisableItems: "getDisableItems",
      currentUser: "auth/getCurrentUser"
    }),
    /*
    *
    * */
    userEnteredUser() {
      return this.signersList && this.signersList.length ? [this.signersList[0]] : []
    },
    /*
    *
    * */
    userAgreedList() {
      return this.signersList && this.signersList.slice(1)
    }
  },
  mounted() {
    if(this.$route.params.id) {
      this.fetchGetOne(this.$route.params.id)
    }

    if(this.formType === "update") {
      this.handleLetterType("notice")
    }

    if(this.$route.query.hasOwnProperty("scoreId")) {
      this.scoreSheetGetOne()
    }
  },
  beforeDestroy() {
    this.isScoreSheetCreated = false
  },
  methods: {
    handleLetterType(val) {
      switch (val) {
        case "notice" :
          this.shortDescriptionDisabled = false
          // this.registerNumberDisabled = false
          break;
        case "decree" :
          // this.registerNumberDisabled = true
          this.shortDescriptionDisabled = true
          break;
        default:
          this.shortDescriptionDisabled = true
        // this.registerNumberDisabled = false
      }
    },
    /*
    *
    * */
    deleteFile({ item, index}) {
      this.files.splice(index, 1)
      this.model.files.splice(index, 1)
    },
    /*
    *
    * */
    uploadFiles(data) {
      this.files.push(data)

      this.model.files.push({
        id: data.id
      })
    },
    /*
    *
    * */
    resetForm() {
      if(!confirm(this.$t('document-flow.views.send-document.do-you-want-clear-form'))) {
        return false
      }

      this.model.type = ""
      this.model.register_number = null
      this.model.short_description = ""
      this.model.text = ""
      this.model.files = []
      // this.model.agreed_by = []
      this.model.signed_by = []
      this.model.__leadership = null
      this.agreedList = []
      this.signersList = []

      this.files = []
    },
    /*
    *
    * */
    preview() {
      this.dialog = !this.dialog
      // this.model.agreed_by = []
      this.model.signed_by = []

      if(this.formType === 'create') {
        // if (this.agreedList) {
        //   this.agreedList.forEach(item => this.model.agreed_by.push({
        //     user: item.id
        //   }))
        // }

        if (this.signersList){
          this.signersList.forEach(item => this.model.signed_by.push({
            user: item.id
          }))
        }

        // if(this.model.__leadership) {
        //   this.model.signed_by.push({
        //     user: this.model.__leadership.id,
        //     is_for_notice: true
        //   })
        // }
      }

      if(this.formType === 'update') {
        // if (this.agreedList){
        //   this.agreedList.forEach(item => {
        //     if(item.hasOwnProperty("user")) {
        //       this.model.agreed_by.push({
        //         id: item.id,
        //         user: item.user.id
        //       })
        //     }
        //     else {
        //       this.model.agreed_by.push({
        //         user: item.id
        //       })
        //     }
        //   })
        // }

        if (this.signersList){
          this.signersList.forEach(item => {
            if(item.hasOwnProperty("user")) {
              this.model.signed_by.push({
                id: item.id,
                user: item.user.id
              })
            }
            else {
              this.model.signed_by.push({
                user: item.id
              })
            }
          })
        }

        if(this.model.__leadership) {
          if(this.model.__leadership.hasOwnProperty("user")) {
            // this.model.signed_by.push({
            //   id: this.model.__leadership.id,
            //   user: this.model.__leadership.user.id,
            //   is_for_notice: true
            // })
          }
          else {
            // this.model.signed_by.push({
            //   user: this.model.__leadership.id,
            //   is_for_notice: true
            // })
          }
        }
      }
    },
    /*
    *
    * */
    send() {
      this.$v.$touch();

      if (this.$v.$invalid) {
        return;
      }

      this.loading = !this.loading

      let model = {
        ...this.model,
        text: this.model.text.replace(/<br\s*[\/]?>/gi, '<br/>'),
        type: this.model.type.value ? this.model.type.value : this.model.type,
        sender: this.currentUser.filial === "09013"
          ? (this.forwardDocumentSelect === "head_office" ? this.currentUser.top_level_dept_name : this.currentUser.filial_name)
          : (this.forwardDocumentSelect === "head_office" ? this.currentUser.filial_name : this.currentUser.top_level_dept_name),
        evaluation: +this.$route.query.scoreId,
        signer_obj: [{
          id: this.model.__leadership.id,
          first_name: this.model.__leadership.first_name,
          last_name: this.model.__leadership.last_name,
          father_name: this.model.__leadership.father_name,
          full_name: this.model.__leadership.full_name,
          assistants: this.model.__leadership.assistants[0],
          position: this.model.__leadership.position,
          color: this.model.__leadership.color
        }],
	      curator: this.model.__leadership && this.model.__leadership.id,
	      dept_code: this.currentUser.top_level_dept
      }

      console.log(model);


      this.$http.post(`/docflow/${this.currentUser.filial}/compose/`, model)
      .then(({ data }) => {
        this.$toast.success(this.$t('document-flow.views.send-document.document-sent'))

        this.dialog = false
        this.loading = false

        this.$router.push({
          name: "SendDocumentNew"
        })
      })
      .catch(() => {
        // this.$toast.error(this.$t('document-flow.views.send-document.error-sending-document'))
        this.loading = false
      })
    },
    /*
    *
    * */
    update() {
      this.$v.$touch();

      if (this.$v.$invalid) {
        return;
      }

      this.loading = !this.loading

      let model = {
        ...this.model,
        text: this.model.text.replace(/<br\s*[\/]?>/gi, '<br/>'),
        type: this.model.type.value ? this.model.type.value : this.model.type,
        sender: this.currentUser.filial === "09013"
          ? (this.forwardDocumentSelect === "head_office" ? this.currentUser.top_level_dept_name : this.currentUser.filial_name)
          : (this.forwardDocumentSelect === "head_office" ? this.currentUser.filial_name : this.currentUser.top_level_dept_name),
        evaluation: +this.$route.query.scoreId,
        signer_obj: [{
          id: this.model.__leadership.id,
          first_name: this.model.__leadership.first_name,
          last_name: this.model.__leadership.last_name,
          father_name: this.model.__leadership.father_name,
          full_name: this.model.__leadership.full_name,
          assistants: Array.isArray(this.model.__leadership.assistants) ? this.model.__leadership.assistants[0] : this.model.__leadership.assistants,
          position: this.model.__leadership.position,
          color: this.model.__leadership.color
        }],
	      curator: this.model.__leadership && this.model.__leadership.id
      }

      console.log(model);
      //
      this.$http.put(`/docflow/${this.currentUser.filial}/compose/${this.$route.params.id}/`, model)
      .then(({ data }) => {
        this.$toast.success(this.$t('document-flow.views.send-document.document-sent'))

        this.dialog = false
        this.loading = false

        this.$router.push({
          name: "SendDocumentNew"
        })
      })
      .catch(() => {
        // this.$toast.error(this.$t('document-flow.views.send-document.error-sending-document'))
      })
    },
    /*
    *
    * */
    fetchGetOne(id) {
      this.$http.get(`/docflow/${this.currentUser.filial}/compose/${id}/`)
      .then(({ data }) => {
        this.model.type = data.type
        this.model.short_description = data.short_description
        this.model.register_number = data.register_number
        this.model.text = data.text
        this.model.files = data.files
        this.model.sender = data.sender
        this.model.is_for_payment = data.is_for_payment


        this.model.__leadership = data.signer_obj[0]
        this.files = [...data.files]

        this.model.agreed_by = data.agreed_by && data.agreed_by.map(item => {
          return {
            id: item.id,
            user: item.user.id
          }
        })
        // this.signersList = data.signed_by.filter(item => item.is_for_notice === null)
        this.signersList = data.signed_by
      })
    },
    /*
    *
    * */
    deleteAgreed(index) {
      this.agreedList.splice(index, 1)
    },
    /*
    *
    * */
    deleteSigner(item) {
      this.signersList = this.signersList.filter(user => user.id !== item.id)
    },
    /*
    *
    * */
    previewScoreSheet() {
      this.scoreSheetDialog = !this.scoreSheetDialog

      if(this.formType === 'create') {
        this.scoreSheetModel.recruiter = this.scoreSheetSigners.recruiter?.id
        this.scoreSheetModel.director = this.scoreSheetSigners.director?.id
      }
      else {

      }
    },
    /*
    *
    * */
    createScoreSheet() {
      this.$v.scoreSheetSigners.$touch();

      if (this.$v.scoreSheetSigners.$invalid) {
        this.$toast.error(this.$t('document-flow.views.send-document.add-signatory-and-director'))
        return;
      }

      this.scoreSheetLoading = true

      this.$http.post(`/docflow/${this.currentUser.filial}/hr_candidate_evaluation/`, this.scoreSheetModel)
      .then(({ data }) => {
        this.$toast.success(this.$t('document-flow.views.send-document.score-sheet-created'))

        this.$router.push({
          query: {
            ...this.$route.query,
            scoreId: data.id
          }
        })

        this.scoreSheetDialog = !this.scoreSheetDialog
        this.isScoreSheetCreated = true
      })
      .finally(() => {
        this.scoreSheetLoading = false
      })
    },
    /*
    *
    * */
    updateScoreSheet() {
      this.$v.scoreSheetSigners.$touch();

      if (this.$v.scoreSheetSigners.$invalid) {
        this.$toast.error(this.$t('document-flow.views.send-document.add-signatory-and-director'))
        return;
      }

      this.scoreSheetLoading = true

      this.$http.put(`/docflow/${this.currentUser.filial}/hr_candidate_evaluation/${this.$route.query.scoreId}/`, this.scoreSheetModel)
      .then(({ data }) => {
        this.$toast.success(this.$t('document-flow.views.send-document.score-sheet-edited'))

        this.scoreSheetDialog = !this.scoreSheetDialog
        this.isScoreSheetCreated = true
      })
      .finally(() => {
        this.scoreSheetLoading = false
      })
    },
    /*
    *
    * */
    scoreSheetGetOne() {
      this.$http.get(`/docflow/${this.currentUser.filial}/hr_candidate_evaluation/${this.$route.query.scoreId}/`)
      .then(({ data }) => {
        this.scoreSheetModel.text = data.text
        this.scoreSheetSigners.recruiter = data.recruiter
        this.scoreSheetSigners.director = data.director
        this.isScoreSheetCreated = true
      })
    }
  }
}
</script>
