<template>
   <div class="leadership-simple-view">
      <v-row>
         <v-col md="12">
            <div class="input-bg rounded-20">
               <div class="pa-4 pb-1">
                  <div class="app-tab">
                     <v-tabs
                     v-model="tab"
                     hide-slider
                     height="36"
                     color="#fff"
                     >
                     <v-tab>
                        <div class="d-flex align-center px-3">
                           <type-icon size="16" class="mr-2" />
                           <span class="text-transform-none small-2 line-base font-400">{{$t('document-flow.views.send-document.text')}}</span>
                        </div>
                     </v-tab>
                     <v-tab>
                        <div class="d-flex align-center px-3">
                           <paperclip-icon size="16" class="mr-2" />
                           <span class="text-transform-none small-2 line-base font-400">{{$t('document-flow.views.send-document.file')}}</span>
                        </div>
                     </v-tab>
                     </v-tabs>
                  </div>
               </div>
               <v-tabs-items class="app-tab-items" v-model="tab">
                  <v-tab-item>
                     <app-editor
                        v-model="leadershipRequestModel.goal"
                        :disabled="formType === 'read'"
                        :paste-plain-text="false"
                     />
                     <div class="bg-white pt-5">
                        <resolution-content-modal
                           :has-filial="false"
                           api-url="action/short-descriptions/"
                           :api-params="{ type: 'template' }"
                           title-dialog="components.add-template"
                           @emit:up="(text) => leadershipRequestModel.text = text.description"
                        />
                     </div>
                  </v-tab-item>
                  <v-tab-item>
                     <file-upload-for-sending-document
                     :files="leadershipRequestModel.__files"
                     @uploadFiles="uploadFiles"
                     @deleteFile="deleteFile"
                     />
                  </v-tab-item>
               </v-tabs-items>
            </div>
         </v-col>
      </v-row>
      <v-row>
         <v-col md="6">
            <app-autocomplete
               :api-params="{ type: 'signers' }"
               :disabled="formType === 'read'"
               :item-disabled="getDisableItems"
               :placeholder="$t('document-flow.views.send-document.agreement')"
               api-list-url="/user/search/"
               cache-items
               clearable
               item-text="full_name"
               multiple
               return-object
               v-model="leadershipRequestModel.__agreedList"
               />
            <template v-if="formType === 'update' || formType === 'read'">
               <app-table
                  v-if="leadershipRequestModel.__agreedList && leadershipRequestModel.__agreedList.length"
                  bordered
                  class="mt-5"
               >
                  <template #tableHeader>
                     <th width="75">№</th>
                     <th>{{$t('document-flow.views.send-document.signatory')}}</th>
                     <th width="75">{{$t('document-flow.views.send-document.events')}}</th>
                  </template>
                  <template #tableBody>
                     <tr
                        v-for="(item, index) in leadershipRequestModel.__agreedList"
                        class="text-dark font-500"
                        :key="index">
                        <td>{{ index + 1 }}</td>
                        <td>
                           {{ item.user ? item.user.full_name : item.full_name }}
                        </td>
                        <td>
                           <app-button
                              @click="leadershipRequestModel.__agreedList.splice(index, 1)"
                              color="error"
                              height="40"
                              icon
                              min-width="40"
                              v-if="!Boolean($route.query.readonly)"
                              width="40"
                           >
                              <trash2-icon size="18" />
                           </app-button>
                        </td>
                     </tr>
                  </template>
               </app-table>
            </template>
         </v-col>
         <v-col md="6">
            <app-autocomplete
               :api-params="{ type: 'signers' }"
               :disabled="formType === 'read'"
               :item-disabled="getDisableItems"
               :placeholder="$t('document-flow.views.send-document.select-signatory')"
               api-list-url="/user/search/"
               background-color="var(--input-bg)"
               cache-items
               clearable
               item-text="full_name"
               item-value="id"
               multiple
               return-object
               v-model="leadershipRequestModel.__signersList"
               />
            <template v-if="formType === 'update' || formType === 'read'">
               <app-table bordered class="mt-5">
                  <template #tableHeader>
                     <th width="75">№</th>
                     <th>{{$t('document-flow.views.send-document.signatory')}}</th>
                     <th width="75">{{$t('document-flow.views.send-document.events')}}</th>
                  </template>
                  <template #tableBody>
                     <tr
                        v-for="(item, index) in leadershipRequestModel.__signersList"
                        class="text-dark font-500"
                        :key="index"
                        >
                        <td>{{ index + 1 }}</td>
                        <td>
                           {{ item.user ? item.user.full_name : item.full_name }}
                        </td>
                        <td>
                           <app-button
                              @click="deleteSigner(item)"
                              color="error"
                              height="40"
                              icon
                              min-width="40"
                              v-if="formType === 'update'"
                              width="40"
                           >
                              <trash2-icon size="18" />
                           </app-button>
                        </td>
                     </tr>
                  </template>
               </app-table>
            </template>
         </v-col>
      </v-row>
      <v-row>
         <v-col md="12">
            <app-button color="error" @click="$router.go(-1)">
               <template #prepend>
                  <arrow-left-icon size="20" />
               </template>
               {{$t('document-flow.views.send-document.back')}}
            </app-button>
            <app-button class="mx-3" @click="preview">
               <template #prepend>
                  <eye-icon size="20" />
               </template>
               {{$t('document-flow.views.send-document.view-document')}}
            </app-button>
            <template v-if="formType !== 'read'">
               <app-button outlined @click="resetForm">
                  {{$t('document-flow.views.send-document.clear-form')}}
               </app-button>
            </template>
         </v-col>
      </v-row>
      <v-dialog
         content-class="generate-wrap reset-dialog-style"
         v-model="dialog"
         width="595"
      >
         <div class="d-flex flex-column bg-white pa-5 p-relative overflow-y-auto">
            <div class="bg-white d-flex w-100 justify-end">
               <app-button
                  @click="dialog = false"
                  class="p-absolute z-index"
                  color="error"
                  height="40"
                  icon
                  min-width="40"
                  tile
                  width="40"
               >
                  <x-icon/>
               </app-button>
            </div>
            <template v-if="leadershipRequestModel.type === 'currency_summary'">
               <pdf-letter-template-for-currency-summary
                  :letter-props="{
                     text: leadershipRequestModel.text,
                     signedByList: leadershipRequestModel.__signersList,
                     signerObject: leadershipRequestModel.__leadership,
                     model: leadershipRequestModel,
                  }"
               />
            </template>
            <template v-else>
               <pdf-letter-template
                  letter-type="notice"
                  :letter-props="{
                     departments: [],
                     executor: currentUser,
                     letterShortDescription: leadershipRequestModel.short_description,
                     letterType: leadershipRequestModel.type === 'trip' ? 'XIZMAT SAFARI' : leadershipRequestModel.type === 'notice' || leadershipRequestModel.type === 'hr_notice' || leadershipRequestModel.type === 'position_rotation' ? 'BILDIRISHNOMA' : leadershipRequestModel.type === 'decree' ? 'FARMOYISH' : leadershipRequestModel.type === 'summary' ? 'XULOSA' : 'XIZMAT XATI',
                     recruiter: [],
                     registerNumber: leadershipRequestModel.register_number,
                     sender: sender,
                     signedByList: leadershipRequestModel.__signersList,
                     signerObject: leadershipRequestModel.__leadership,
                     text: leadershipRequestModel.goal + createTable(leadershipRequestModel.employees),
                  }"
               ></pdf-letter-template>
            </template>
         </div>
         <div class="d-flex grid-gap-md justify-center mt-5">
            <template v-if="leadershipRequestModel.__status === 'draft'">
               <template v-if="!leadershipRequestModel.__isDraftCreated">
                  <app-button depressed color="success" @click="saveAsDraft">
                     <template #prepend>
                        <file-text-icon size="18" />
                     </template>
                     {{$t('document-flow.views.send-document.save-draft')}}
                  </app-button>
               </template>
               <template v-else>
                  <app-button depressed color="success" @click="updateDraft">
                     <template #prepend>
                        <file-text-icon size="18" />
                     </template>
                     {{$t('document-flow.views.send-document.edit-draft')}}
                  </app-button>
               </template>
            </template>
            <template v-if="formType === 'create' || formType === 'update'">
               <app-button
                  outlined
                  color="#fff"
                  @click="dialog = false"
               >
                  <template #prepend>
                     <edit2-icon size="18" />
                  </template>
                  {{$t('document-flow.views.send-document.edit')}}
               </app-button>
            </template>
            <template v-if="formType === 'create'">
               <app-button @click="send" :loading="loading">
                  <template #prepend>
                     <v-icon size="18">{{ "$vuetify.icons.SendIcon" }}</v-icon>
                  </template>
                  {{$t('document-flow.views.send-document.send')}}
               </app-button>
            </template>
            <template v-else-if="formType === 'update'">
               <app-button @click="update" :loading="loading">
                  <template #prepend>
                     <v-icon size="18">{{ "$vuetify.icons.SendIcon" }}</v-icon>
                  </template>
                  {{$t('document-flow.views.send-document.edit')}}
               </app-button>
            </template>
         </div>
      </v-dialog>
   </div>
</template>
<script>
import FileUploadForSendingDocument from "@/modules/DocumentFlow/views/SendDocument/components/FileUploadForSendingDocument"
import PdfLetterTemplate from "@/common/components/PdfLetterTemplate"
import PdfLetterTemplateForCurrencySummary from "../../../../../common/components/PdfLetterTemplateForCurrencySummary"
import ResolutionContentModal from "@/common/components/ResolutionContentModal.vue"
import { ArrowLeftIcon, Edit2Icon, EyeIcon, FileTextIcon, InfoIcon, PaperclipIcon, Trash2Icon, TypeIcon, XIcon } from "vue-feather-icons"
import { mapGetters, mapMutations, mapState } from "vuex"
export default {
   name: "LeadershipBusinessTrip",
   props: {
      formType: { type: String, default: "create" }
   },
   components: {
      ArrowLeftIcon,
      Edit2Icon,
      EyeIcon,
      FileTextIcon,
      FileUploadForSendingDocument,
      InfoIcon,
      PaperclipIcon,
      PdfLetterTemplate,
      PdfLetterTemplateForCurrencySummary,
      ResolutionContentModal,
      Trash2Icon,
      TypeIcon,
      XIcon,
   },
   data() {
      return {
         tab: null,
         files: [],
         dialog: false,
         loading: false
      }
   },
   computed: {
      ...mapState({
         leadershipRequestModel: state => state.documentFlowModule.leadershipRequestModel
      }),
      ...mapGetters({
         getDisableItems: "getDisableItems",
         currentUser: "auth/getCurrentUser"
      }),
      sender() {
         return this.currentUser.filial === "09013"
         ? (this.leadershipRequestModel.__forwardDocumentSelect === "head_office" ? this.currentUser.top_level_dept_name : this.currentUser.filial_name)
         : (this.leadershipRequestModel.__forwardDocumentSelect === "head_office" ? this.currentUser.filial_name : this.currentUser.top_level_dept_name)
      }
   },
   methods: {
      ...mapMutations({
         SET_ENTITIES: "documentFlowModule/SET_ENTITIES"
      }),
      saveAsDraft() {
         this.$emit("emit:save:draft")
      },
      updateDraft() {
         this.$emit("emit:update:draft")
      },
      uploadFiles(data) {
         this.leadershipRequestModel.__files.push(data)
      },
      deleteFile(index) {
         this.leadershipRequestModel.files.splice(index, 1)
         this.leadershipRequestModel.__files.splice(index, 1)
      },
      deleteSigner(item) {
         this.leadershipRequestModel.__signersList = this.leadershipRequestModel.__signersList.filter(user => user.id !== item.id)
      },
      preview() {
         this.dialog = !this.dialog
         delete this.leadershipRequestModel.evaluation
         if(this.leadershipRequestModel.__signersList) {
            if(this.formType === 'create') {
               let agreed = this.leadershipRequestModel.__agreedList.map(item => {
                  return {
                     user: item.id,
                     is_invited: false
                  }
               })
               let signers = this.leadershipRequestModel.__signersList.map(item => {
                  return {
                     user: item.id,
                     is_invited: false
                  }
               })
               this.SET_ENTITIES([{ signed_by: signers }])
               this.SET_ENTITIES([{ agreed_by: agreed }])
            }
            if(this.formType === 'update') {
               this.SET_ENTITIES([{ signed_by: [] }])
               this.SET_ENTITIES([{ agreed_by: [] }])
               this.leadershipRequestModel.__agreedList.forEach(item => {
                  if(item.hasOwnProperty("user")) {
                     this.leadershipRequestModel.agreed_by.push({
                        id: item.id,
                        user: item.user.id,
                        is_invited: false
                     })
                  }
                  else {
                     this.leadershipRequestModel.agreed_by.push({
                        user: item.id,
                        is_invited: false
                     })
                  }
               })
               this.leadershipRequestModel.__signersList.forEach(item => {
                  if(item.hasOwnProperty("user")) {
                     this.leadershipRequestModel.signed_by.push({
                        id: item.id,
                        user: item.user.id,
                        is_invited: false
                     })
                  }
                  else {
                     this.leadershipRequestModel.signed_by.push({
                        user: item.id,
                        is_invited: false
                     })
                  }
               })
            }
            this.SET_ENTITIES([{ sender: this.sender }])
         }
         if(this.leadershipRequestModel.__leadership) {
            this.SET_ENTITIES([{
               signer_obj: [{
                  id: this.leadershipRequestModel.__leadership.id,
                  first_name: this.leadershipRequestModel.__leadership.first_name,
                  last_name: this.leadershipRequestModel.__leadership.last_name,
                  father_name: this.leadershipRequestModel.__leadership.father_name,
                  full_name: this.leadershipRequestModel.__leadership.full_name,
                  assistants: Array.isArray(this.leadershipRequestModel.__leadership.assistants) ? this.leadershipRequestModel.__leadership.assistants[0] : this.leadershipRequestModel.__leadership.assistants,
                  position: this.leadershipRequestModel.__leadership.position,
                  color: this.leadershipRequestModel.__leadership.color,
                  emp_index: this.leadershipRequestModel.__leadership?.emp_index ? this.leadershipRequestModel.__leadership.emp_index : null
               }]
            }])
         }
         if(this.leadershipRequestModel.__files) {
            this.leadershipRequestModel.files = this.leadershipRequestModel.__files.map(item => {
               return {
                  id: item.id
               }
            })
         }
      },
      resetForm() {
         if (!confirm(this.$t('document-flow.views.send-document.do-you-want-clear-form'))) {
            return false
         }
      },
      send() {
         this.$emit("emit:send")
      },
      update() {
         this.$emit("emit:update")
      },
      parseDate(incomingDate) {
			const parsingDate = new Date(incomingDate || '');
			const date = parsingDate.getDate().toString().padStart(2, "0");
			const month = (parsingDate.getMonth() + 1).toString().padStart(2, "0");
			const year = parsingDate.getFullYear().toString();
			const d = `${date}.${month}.${year}`;
			return d;
		},
      createTable(employees = []) {
         const table = employees.length ? `<table style="border-collapse: collapse; font-weight: 600; font-size: 13px;">
            <tr>
               <th style="border: 1px solid #dddddd; text-align: left; padding: 5px;">Xodim</th>
               <th style="border: 1px solid #dddddd; text-align: left; padding: 5px;">Lavozimi</th>
               <th style="border: 1px solid #dddddd; text-align: left; padding: 5px;">Xizmat safari muddati</th>
               <th style="border: 1px solid #dddddd; text-align: left; padding: 5px;">Filiallar</th>
            </tr>
            ${employees.map(employee => `
						  <tr>
						    <td style="border: 1px solid #dddddd; text-align: left; padding: 5px;">${employee.full_name}</td>
						    <td style="border: 1px solid #dddddd; text-align: left; padding: 5px;">${employee.position}</td>
						    <td style="border: 1px solid #dddddd; text-align: left; padding: 5px; white-space: nowrap;">
						      ${this.parseDate(employee.start_date)} - <br /> ${this.parseDate(employee.end_date)}
						    </td>
						    <td style="border: 1px solid #dddddd; text-align: left; padding: 5px;">
						      ${employee.destinations.map(destination => `<span style="white-space: nowrap;">${destination.name}</span>`).join(',<br/>')}
						    </td>
						  </tr>
						`).join('')}
         </table>` : '';
         return table;
      },
   }
}
</script>
