<template>
  <div class="leadership-simple-view">
    <v-row>
      <v-col md="12">
        <div class="input-bg rounded-20">
          <div class="pa-4 pb-1">
            <div class="app-tab">
              <v-tabs
                v-model="tab"
                hide-slider
                height="36"
                color="#fff"
              >
                <v-tab>
                  <div class="d-flex align-center px-3">
                    <type-icon size="16" class="mr-2" />
                    <span class="text-transform-none small-2 line-base font-400">{{$t('document-flow.views.send-document.text')}}</span>
                  </div>
                </v-tab>

                <v-tab>
                  <div class="d-flex align-center px-3">
                    <paperclip-icon size="16" class="mr-2" />
                    <span class="text-transform-none small-2 line-base font-400">{{$t('document-flow.views.send-document.file')}}</span>
                  </div>
                </v-tab>
              </v-tabs>
            </div>
          </div>


          <v-tabs-items class="app-tab-items" v-model="tab">
            <v-tab-item>
	            <app-editor
		            v-model="leadershipRequestModel.text"
		            :disabled="formType === 'read'"
		            :paste-plain-text="false"
	            />

	            <div class="bg-white pt-5">
		            <resolution-content-modal
			            :has-filial="false"
			            api-url="action/short-descriptions/"
			            :api-params="{ type: 'template' }"
			            title-dialog="components.add-template"
			            @emit:up="(text) => leadershipRequestModel.text = text.description"
		            />
	            </div>
            </v-tab-item>

            <v-tab-item>
              <file-upload-for-sending-document
                :files="leadershipRequestModel.__files"
                @uploadFiles="uploadFiles"
                @deleteFile="deleteFile"
              />
            </v-tab-item>
          </v-tabs-items>
        </div>
      </v-col>
    </v-row>

    <v-row>
      <v-col md="6">
        <app-autocomplete
          v-model="leadershipRequestModel.__agreedList"
          api-list-url="/user/search/"
          :api-params="{
            type: 'signers'
          }"
          item-text="full_name"
          return-object
          cache-items
          clearable
          :placeholder="$t('document-flow.views.send-document.agreement')"
          :item-disabled="getDisableItems"
          multiple
          :disabled="formType === 'read'"
        />

        <template v-if="formType === 'update' || formType === 'read'">
          <app-table
            v-if="leadershipRequestModel.__agreedList && leadershipRequestModel.__agreedList.length"
            bordered
            class="mt-5"
          >
            <template #tableHeader>
              <th width="75">№</th>
              <th>{{$t('document-flow.views.send-document.signatory')}}</th>
              <th width="75">{{$t('document-flow.views.send-document.events')}}</th>
            </template>

            <template #tableBody>
              <tr
                v-for="(item, index) in leadershipRequestModel.__agreedList"
                class="text-dark font-500"
              >
                <td>{{ index + 1 }}</td>
                <td>
                  {{ item.user ? item.user.full_name : item.full_name }}
                </td>
                <td>
                  <app-button
                    v-if="!Boolean($route.query.readonly)"
                    icon
                    color="error"
                    min-width="40"
                    height="40"
                    width="40"
                    @click="leadershipRequestModel.__agreedList.splice(index, 1)"
                  >
                    <trash2-icon size="18" />
                  </app-button>
                </td>
              </tr>
            </template>
          </app-table>
        </template>
<!--        <v-alert type="info" text>-->
<!--          <template #prepend>-->
<!--            <info-icon size="22" class="mr-3" />-->
<!--          </template>-->
<!--          Документ сначала будет идти к помощнику после подписи подписанта-->
<!--        </v-alert>-->
      </v-col>

      <v-col md="6">
        <app-autocomplete
          v-model="leadershipRequestModel.__signersList"
          :item-disabled="getDisableItems"
          api-list-url="/user/search/"
          item-text="full_name"
          item-value="id"
          :api-params="{
            type: 'signers'
          }"
          return-object
          cache-items
          clearable
          :multiple="leadershipRequestModel.type !== 'hr_contract'"
          background-color="var(--input-bg)"
          :placeholder="$t('document-flow.views.send-document.select-signatory')"
          :disabled="formType === 'read'"
        />

        <template v-if="formType === 'update' || formType === 'read'">
          <app-table
            bordered
            class="mt-5"
          >
            <template #tableHeader>
              <th width="75">№</th>
              <th>{{$t('document-flow.views.send-document.signatory')}}</th>
              <th width="75">{{$t('document-flow.views.send-document.events')}}</th>
            </template>

            <template #tableBody>
              <tr
                v-for="(item, index) in signersListComputed"
                class="text-dark font-500"
              >
                <td>{{ index + 1 }}</td>
                <td>
                  {{ item.user ? item.user.full_name : item.full_name }}
                </td>
                <td>
                  <app-button
                    v-if="formType === 'update'"
                    icon
                    color="error"
                    min-width="40"
                    height="40"
                    width="40"
                    @click="deleteSigner(item)"
                  >
                    <trash2-icon size="18" />
                  </app-button>
                </td>
              </tr>
            </template>
          </app-table>
        </template>
      </v-col>
    </v-row>

    <v-row>
      <v-col md="12">
        <app-button color="error" @click="$router.go(-1)">
          <template #prepend>
            <arrow-left-icon size="20" />
          </template>
          {{$t('document-flow.views.send-document.back')}}
        </app-button>

        <app-button class="mx-3" @click="preview">
          <template #prepend>
            <eye-icon size="20" />
          </template>
          {{$t('document-flow.views.send-document.view-document')}}
        </app-button>

        <template v-if="formType !== 'read'">
          <app-button outlined @click="resetForm">
            {{$t('document-flow.views.send-document.clear-form')}}
          </app-button>
        </template>
      </v-col>
    </v-row>

    <!-- Preview dialog -->
    <v-dialog
      v-model="dialog"
      width="595"
      content-class="generate-wrap reset-dialog-style"
    >
      <div class="d-flex flex-column bg-white pa-5 p-relative overflow-y-auto">
        <div class="bg-white d-flex w-100 justify-end">
          <app-button
            icon
            color="error"
            min-width="40"
            width="40"
            height="40"
            tile
            class="p-absolute z-index"
            @click="dialog = false"
          >
            <x-icon/>
          </app-button>
        </div>

	      <template v-if="leadershipRequestModel.type === 'currency_summary'">
		      <pdf-letter-template-for-currency-summary
		        :letter-props="{
		      	  text: leadershipRequestModel.text,
		      	  signedByList: leadershipRequestModel.__signersList,
		      	  signerObject: leadershipRequestModel.__leadership,
		      	  model: leadershipRequestModel,
		        }"
		      />
	      </template>

	      <template v-else-if="leadershipRequestModel.type === 'hr_contract'">
		      <pdf-letter-template-for-hr-contract
			      :letter-props="{
		      	  text: leadershipRequestModel.text,
		      	  signedByList: leadershipRequestModel.__signersList,
		      	  signerObject: leadershipRequestModel.__leadership,
		      	  model: leadershipRequestModel,
		      	  ...leadershipRequestModel
		        }"
		      />
	      </template>

	      <template v-else-if="leadershipRequestModel.type === 'retail_act'">
		      <pdf-letter-template-for-retail-act
			      :letter-props="{
		      	  text: leadershipRequestModel.text,
		      	  signedByList: [leadershipRequestModel.__leadership, ...leadershipRequestModel.__signersList],
		      	  signerObject: leadershipRequestModel.__leadership,
		      	  model: leadershipRequestModel
		        }"
			      :preview="true"
		      />
	      </template>

	      <template v-else-if="leadershipRequestModel.type === 'irr'">
		      <pdf-letter-template-for-individual-development-plan
		        :compose="leadershipRequestModel"
		        :preview="true"
		      />
	      </template>

	      <template v-else-if="leadershipRequestModel.type === 'attorney'">
		      <pdf-letter-template-for-attorney
			      :compose="leadershipRequestModel"
			      :preview="true"
		      />
	      </template>

        <template v-else>
	        <pdf-letter-template
		        letter-type="notice"
		        :letter-props="{
            sender: sender,
            registerNumber: leadershipRequestModel.register_number,
            letterType: leadershipRequestModel.type === 'notice' || leadershipRequestModel.type === 'hr_notice' || leadershipRequestModel.type === 'position_rotation' ? 'BILDIRISHNOMA' : leadershipRequestModel.type === 'decree' ? 'FARMOYISH' : leadershipRequestModel.type === 'summary' ? 'XULOSA' : 'XIZMAT XATI',
            departments: [],
            letterShortDescription: leadershipRequestModel.short_description,
            text: leadershipRequestModel.text,
            signedByList: leadershipRequestModel.__signersList,
            executor: currentUser,
            signerObject: [leadershipRequestModel.__leadership],
            recruiter: [],
            priority: leadershipRequestModel.priority,
            type: leadershipRequestModel.type
          }"
	        ></pdf-letter-template>
        </template>
      </div>

      <div class="d-flex grid-gap-md justify-center mt-5">
        <template v-if="leadershipRequestModel.__status === 'draft'">
          <template v-if="!leadershipRequestModel.__isDraftCreated">
            <app-button
              depressed
              color="success"
              @click="saveAsDraft"
            >
              <template #prepend>
                <file-text-icon size="18" />
              </template>
              {{$t('document-flow.views.send-document.save-draft')}}
            </app-button>
          </template>

          <template v-else>
            <app-button
              depressed
              color="success"
              @click="updateDraft"
            >
              <template #prepend>
                <file-text-icon size="18" />
              </template>
              {{$t('document-flow.views.send-document.edit-draft')}}
            </app-button>
          </template>
        </template>

        <template v-if="formType === 'create' || formType === 'update'">
          <app-button
            outlined
            color="#fff"
            @click="dialog = false"
          >
            <template #prepend>
              <edit2-icon size="18" />
            </template>
            {{$t('document-flow.views.send-document.edit')}}
          </app-button>
        </template>

        <template v-if="formType === 'create'">
          <app-button @click="send" :loading="loading">
            <template #prepend>
              <v-icon size="18">{{ "$vuetify.icons.SendIcon" }}</v-icon>
            </template>
            {{$t('document-flow.views.send-document.send')}}
          </app-button>
        </template>

        <template v-else-if="formType === 'update'">
          <app-button @click="update" :loading="loading">
            <template #prepend>
              <v-icon size="18">{{ "$vuetify.icons.SendIcon" }}</v-icon>
            </template>
            {{$t('document-flow.views.send-document.edit')}}
          </app-button>
        </template>
      </div>
    </v-dialog>
    <!-- /Preview dialog -->

<!--    <pre>{{ leadershipRequestModel }}</pre>-->
  </div>
</template>

<script>
import FileUploadForSendingDocument from "@/modules/DocumentFlow/views/SendDocument/components/FileUploadForSendingDocument"
import PdfLetterTemplate from "@/common/components/PdfLetterTemplate";
import PdfLetterTemplateForIndividualDevelopmentPlan
	from "../../../../../common/components/PdfLetterTemplateForIndividualDevelopmentPlan.vue";
import PdfLetterTemplateForCurrencySummary from "../../../../../common/components/PdfLetterTemplateForCurrencySummary"
import PdfLetterTemplateForHrContract from "../../../../../common/components/PdfLetterTemplateForHrContract.vue";
import PdfLetterTemplateForRetailAct from "../../../../../common/components/PdfLetterTemplateForRetailAct.vue";
import PdfLetterTemplateForAttorney from "../../../../../common/components/PdfLetterTemplateForAttorney.vue";
import ResolutionContentModal from "@/common/components/ResolutionContentModal.vue"

import { ArrowLeftIcon, Edit2Icon, EyeIcon, FileTextIcon, InfoIcon, PaperclipIcon, Trash2Icon, TypeIcon, XIcon } from "vue-feather-icons"
import { mapGetters, mapMutations, mapState } from "vuex"

export default {
  name: "LeadershipSimple",
  props: {
    formType: {
      type: String,
      default: "create"
    }
  },
  components: {
    FileUploadForSendingDocument,
	  PdfLetterTemplateForIndividualDevelopmentPlan,
    PdfLetterTemplate,
	  PdfLetterTemplateForCurrencySummary,
	  PdfLetterTemplateForHrContract,
	  PdfLetterTemplateForRetailAct,
	  PdfLetterTemplateForAttorney,
	  ResolutionContentModal,
    PaperclipIcon,
    TypeIcon,
    InfoIcon,
    XIcon,
    ArrowLeftIcon,
    EyeIcon,
    Edit2Icon,
    Trash2Icon,
	  FileTextIcon
  },
  data() {
    return {
      tab: null,
      files: [],
      dialog: false,
      loading: false
    }
  },
  // validations: {
  //   leadershipRequestModel: {
  //     text: { required },
  //     __signersList: { required }
  //   },
  // },
  computed: {
    ...mapState({
      leadershipRequestModel: state => state.documentFlowModule.leadershipRequestModel
    }),
    /*
    *
    * */
    ...mapGetters({
      getDisableItems: "getDisableItems",
      currentUser: "auth/getCurrentUser"
    }),
    /*
    *
    * */
    sender() {
      return this.currentUser.filial === "09013"
        ? (this.leadershipRequestModel.__forwardDocumentSelect === "head_office" ? this.currentUser.top_level_dept_name : this.currentUser.filial_name)
        : (this.leadershipRequestModel.__forwardDocumentSelect === "head_office" ? this.currentUser.filial_name : this.currentUser.top_level_dept_name)
    },
	  /** **/
		signersListComputed(){
			if (this.leadershipRequestModel.type === 'hr_contract' && !Array.isArray(this.leadershipRequestModel.__signersList)){
				return [this.leadershipRequestModel.__signersList]
			}else {
				return this.leadershipRequestModel.__signersList
			}
	  }
  },
  methods: {
    ...mapMutations({
      SET_ENTITIES: "documentFlowModule/SET_ENTITIES"
    }),
    /*
    *
    * */
	  saveAsDraft() {
		  this.$emit("emit:save:draft")
    },
	  /*
    *
    * */
	  updateDraft() {
		  this.$emit("emit:update:draft")
	  },
    /*
    *
    * */
    uploadFiles(data) {
      this.leadershipRequestModel.__files.push(data)
    },
    /*
    *
    * */
    deleteFile({ item, index}) {
      this.leadershipRequestModel.files.splice(index, 1)
      this.leadershipRequestModel.__files.splice(index, 1)
    },
    /*
   *
   * */
    deleteSigner(item) {
      this.leadershipRequestModel.__signersList = this.leadershipRequestModel.__signersList.filter(user => user.id !== item.id)
    },
    /*
    *
    * */
    preview() {
	    if (this.leadershipRequestModel.type === 'irr' && (this.leadershipRequestModel.__staffHead === null || this.leadershipRequestModel.register_date === null)) {
		    this.$toast.warning(this.$t('auth.enter-phone.required-field'));
		    return;
	    }

	    this.dialog = !this.dialog
      delete this.leadershipRequestModel.evaluation

	    if (this.leadershipRequestModel.__staffHead) {

	    }

      if(this.leadershipRequestModel.__signersList) {
        if(this.formType === 'create') {
	        let agreed = this.leadershipRequestModel.__agreedList.map(item => {
		        return {
			        user: item.id,
			        is_invited: false
		        }
	        })

	        let signers;
          if (this.leadershipRequestModel.type === 'hr_contract'){
						signers = [
							{
								user: this.leadershipRequestModel.__signersList.id,
								is_invited: false
							}
						]
          }else {
	          signers = this.leadershipRequestModel.__signersList.map(item => {
		          return {
			          user: item.id,
			          is_invited: false
		          }
	          })
          }

          this.SET_ENTITIES([{ signed_by: signers }])
          this.SET_ENTITIES([{ agreed_by: agreed }])
        }

        if(this.formType === 'update') {
          this.SET_ENTITIES([{ signed_by: [] }])
          this.SET_ENTITIES([{ agreed_by: [] }])

	        this.leadershipRequestModel.__agreedList.forEach(item => {
		        if(item.hasOwnProperty("user")) {
			        this.leadershipRequestModel.agreed_by.push({
				        id: item.id,
				        user: item.user.id,
				        is_invited: false
			        })
		        }
		        else {
			        this.leadershipRequestModel.agreed_by.push({
				        user: item.id,
				        is_invited: false
			        })
		        }
	        })

          if (this.leadershipRequestModel.type === 'hr_contract' && !Array.isArray(this.leadershipRequestModel.__signersList)){
	          if (this.leadershipRequestModel.__signersList.hasOwnProperty("user")){
		          this.leadershipRequestModel.signed_by.push({
			          id: this.leadershipRequestModel.__signersList.id,
			          user: this.leadershipRequestModel.__signersList.user.id,
			          is_invited: false
		          })
	          }else {
		          this.leadershipRequestModel.signed_by.push({
			          user: this.leadershipRequestModel.__signersList.id,
			          is_invited: false
		          })
	          }
          }else {
	          this.leadershipRequestModel.__signersList.forEach(item => {
		          if(item.hasOwnProperty("user")) {
			          this.leadershipRequestModel.signed_by.push({
				          id: item.id,
				          user: item.user.id,
				          is_invited: false
			          })
		          }
		          else {
			          this.leadershipRequestModel.signed_by.push({
				          user: item.id,
				          is_invited: false
			          })
		          }
	          })
          }
        }

        this.SET_ENTITIES([{ sender: this.sender }])
      }

			if (this.leadershipRequestModel.__staffHead) {
				if (this.leadershipRequestModel.__staffHead.user_id){
					this.leadershipRequestModel.signed_by.push({
						id: this.leadershipRequestModel.__staffHead.id,
						user: this.leadershipRequestModel.__staffHead.user_id,
						position: 'staff_head'
					})
				} else {
					this.leadershipRequestModel.signed_by.push({
						user: this.leadershipRequestModel.__staffHead.id,
						position: 'staff_head'
					})
				}
			}

      if(this.leadershipRequestModel.__leadership) {
        this.SET_ENTITIES([{
          signer_obj: [{
            id: this.leadershipRequestModel.__leadership.id,
            first_name: this.leadershipRequestModel.__leadership.first_name,
            last_name: this.leadershipRequestModel.__leadership.last_name,
            father_name: this.leadershipRequestModel.__leadership.father_name,
            full_name: this.leadershipRequestModel.__leadership.full_name,
            assistants: Array.isArray(this.leadershipRequestModel.__leadership.assistants) ? this.leadershipRequestModel.__leadership.assistants[0] : this.leadershipRequestModel.__leadership.assistants,
            position: this.leadershipRequestModel.__leadership.position,
            color: this.leadershipRequestModel.__leadership.color,
	          emp_index: this.leadershipRequestModel.__leadership?.emp_index ? this.leadershipRequestModel.__leadership.emp_index : null
          }]
        }])
      }

      if(this.leadershipRequestModel.__files) {
        this.leadershipRequestModel.files = this.leadershipRequestModel.__files.map(item => {
          return {
            id: item.id
          }
        })
      }
    },
    /*
    *
    * */
    resetForm() {
      if (!confirm(this.$t('document-flow.views.send-document.do-you-want-clear-form'))) {
        return false
      }
    },
    /*
    *
    * */
    send() {
      // this.$v.$touch();
      //
      // if (this.$v.$invalid) {
      //   return;
      // }

      this.$emit("emit:send")
    },
    /*
    *
    * */
    update() {
      // this.$v.$touch();
      //
      // if (this.$v.$invalid) {
      //   return;
      // }

      this.$emit("emit:update")
    }
  }
}
</script>
