<template>
  <div>
<!--    <pre>{{ leadershipRequestModel }}</pre>-->

    <v-row>
      <v-col md="3">
        <app-autocomplete
          v-model="$v.leadershipRequestModel.__leadership.$model"
          :error="$v.leadershipRequestModel.__leadership.$error"
          api-list-url="/user/search/"
          :api-params="{
            role: 'top_management'
          }"
          item-text="full_name"
          return-object
          cache-items
          clearable
          :placeholder="$t('document-flow.views.send-document.to-whom')"
          :disabled="formType === 'read'"
          :item-disabled="getDisableItems"
          @change="getLeadershipDetail"
        />

        <template v-if="formType === 'read'">
          <div v-if="leadershipRequestModel.__leadership" class="d-flex flex-wrap grid-gap-sm mt-4">
            <v-chip
              dark
              :color="leadershipRequestModel.__leadership.color"
            >
              {{ leadershipRequestModel.__leadership.full_name }}
            </v-chip>
          </div>
        </template>

        <template v-if="formType === 'update'">
          <div v-if="leadershipRequestModel.__leadership" class="d-flex align-center grid-gap-sm mt-4">
            <v-chip
              dark
              :color="leadershipRequestModel.__leadership.color"
              class="w-100"
            >
              {{ leadershipRequestModel.__leadership.full_name }}
            </v-chip>

            <v-spacer />

            <v-btn
              color="error"
              icon
              depressed
              small
              @click="leadershipRequestModel.__leadership = null"
            >
              <trash2-icon size="20" />
            </v-btn>
          </div>
        </template>
      </v-col>

      <v-col md="3">
        <v-select
          v-model="$v.letterTypeSelect.$model"
          :error="$v.letterTypeSelect.$error"
          :items="rollsLetterTypeList"
          item-text="title"
          return-object
          outlined
          background-color="var(--input-bg)"
          :placeholder="$t('document-flow.views.send-document.type-letter')"
          hide-details
          :disabled="formType === 'read'"
          @change="templateTypeSelect"
        >
          <template #append>
            <chevron-down-icon size="20" color="#B0BDC2" />
          </template>
        </v-select>
      </v-col>

	    <v-col md="3" v-if="['irr'].includes(letterTypeSelect.value)">
		    <app-autocomplete
			    v-model="leadershipRequestModel.__staffHead"
			    api-list-url="/user/search/"
			    :api-params="{
            role: true
          }"
			    item-text="full_name"
			    return-object
			    cache-items
			    clearable
			    :placeholder="$t('directSubordination')"
			    :disabled="formType === 'read'"
			    :item-disabled="getDisableItems"
			    @change="getLeadershipDetail"
		    />

		    <template v-if="formType === 'read'">
			    <div v-if="leadershipRequestModel.__staffHead" class="d-flex flex-wrap grid-gap-sm mt-4">
				    <v-chip
					    dark
					    :color="leadershipRequestModel.__staffHead.color"
				    >
					    {{ leadershipRequestModel.__staffHead.full_name }}
				    </v-chip>
			    </div>
		    </template>

		    <template v-if="formType === 'update'">
			    <div v-if="leadershipRequestModel.__staffHead" class="d-flex align-center grid-gap-sm mt-4">
				    <v-chip
					    dark
					    :color="leadershipRequestModel.__staffHead.color"
					    class="w-100"
				    >
					    {{ leadershipRequestModel.__staffHead.full_name }}
				    </v-chip>

				    <v-spacer />

				    <v-btn
					    color="error"
					    icon
					    depressed
					    small
					    @click="leadershipRequestModel.__staffHead = null"
				    >
					    <trash2-icon size="20" />
				    </v-btn>
			    </div>
		    </template>
	    </v-col>

      <!-- Для ротационного листа -->
      <template v-if="letterTypeSelect.value === 'hr_rotation'">
        <v-col md="3">
          <v-select
            v-model="rotationRequestModel.rotation_signers.type"
            :items="rotationTypeList"
            item-text="title"
            return-object
            outlined
            background-color="var(--input-bg)"
            :placeholder="$t('document-flow.views.send-document.type-rotation')"
            hide-details
            :disabled="formType === 'read'"
          >
            <template #append>
              <chevron-down-icon size="20" color="#B0BDC2" />
            </template>
          </v-select>
        </v-col>
      </template>
      <!-- /Для ротационного листа -->

      <v-col md="3">
	      <v-text-field
		      v-if="leadershipRequestModel.type === 'retail_act'"
		      v-model="leadershipRequestModel.register_number"
		      :placeholder="$t('document-flow.views.send-document.number-document')"
		      hide-details
		      outlined
		      background-color="var(--input-bg)"
		      :disabled="formType === 'read'"
	      ></v-text-field>

	      <register-number
		      v-else
		      v-model="leadershipRequestModel.register_number"
		      :value="leadershipRequestModel.register_number"
		      @getRegisterNumber="getRegisterNumber"
		      ref="registerNumber"
		      :api-url="`/docflow/${currentUser.filial}/get-register-number/`"
	      />
      </v-col>

	    <template v-if="['currency_summary', 'retail_act', 'irr'].includes(letterTypeSelect.value)">
		    <v-col md="3">
			    <app-date-picker
				    v-model="leadershipRequestModel.register_date"
				    with-input
				    has-format
				    background-color="var(--input-bg)"
				    placeholder="Рег. дата"
			    />
		    </v-col>
	    </template>

	    <template v-if="['retail_act'].includes(letterTypeSelect.value)">
		    <v-col md="3">
			    <v-text-field
				    v-model="leadershipRequestModel.goal"
				    :placeholder="$t('applicationNumber')"
				    hide-details
				    outlined
				    background-color="var(--input-bg)"
				    :disabled="formType === 'read'"
			    ></v-text-field>
		    </v-col>
	    </template>

      <v-col md="3">
        <v-text-field
          v-model="$v.leadershipRequestModel.short_description.$model"
          :error="$v.leadershipRequestModel.short_description.$error"
          :placeholder="$t('document-flow.views.send-document.short-description')"
          hide-details
          outlined
          background-color="var(--input-bg)"
          :disabled="formType === 'read'"
        ></v-text-field>
      </v-col>

	    <v-col md="3">
		    <v-select
			    v-model="$v.leadershipRequestModel.priority.$model"
			    :error="$v.leadershipRequestModel.priority.$error"
			    :items="$store.state.priorityListForCompose"
			    item-text="title"
			    item-value="value"
			    outlined
			    hide-details
			    clearable
			    background-color="var(--input-bg)"
			    :placeholder="$t('document-flow.views.registration.document-priority')"
		    >
			    <template #append>
				    <v-icon>mdi-chevron-down</v-icon>
			    </template>
		    </v-select>
	    </v-col>

      <v-col md="3">
        <v-text-field
          :value="currentUser.top_level_dept_name"
          :placeholder="$t('document-flow.views.send-document.department-name')"
          hide-details
          outlined
          readonly
          background-color="var(--input-bg)"
        ></v-text-field>
      </v-col>

      <v-col md="3">
        <v-select
          v-model="leadershipRequestModel.__forwardDocumentSelect"
          :items="forwardDocumentList"
          item-text="title"
          item-value="value"
          outlined
          hide-details
          background-color="var(--input-bg)"
          :placeholder="$t('document-flow.views.send-document.document-direction')"
          :disabled="formType === 'read'"
          @change="(value) => SET_ENTITIES([{ __forwardDocumentSelect: value }])"
        >
          <template #prepend-inner>
            <app-tooltip top>
              <template #content>
                <div class="p-relative mr-1" style="z-index: 1;">
                  <help-circle-icon size="20" color="var(--text-dark)" class="d-block" />
                </div>
              </template>
              <template #text>
                {{$t('document-flow.views.send-document.where-send-document')}} <br> {{$t('document-flow.views.send-document.to-head-office-or-branch')}}
              </template>
            </app-tooltip>
          </template>
        </v-select>
      </v-col>
      <template v-if="letterTypeSelect.value === 'trip'">
        <v-col md="3">
          <v-autocomplete
            :disabled="formType === 'read'"
            :filter="value => value"
            :items="users"
            :search-input.sync="search"
            auto-select-first
            background-color="var(--input-bg)"
            clearable
            hide-details
            item-text="full_name"
            item-value="id"
            :label="$t('document-flow.views.boxes.employees')"
            multiple
            outlined
            return-object
            v-model="leadershipRequestModel.employees"
            @change="onChangeEmployees"
          >
            <template #prepend-inner>
              <search-icon
                class="mr-1 d-block"
                color="var(--text-4)"
                size="20"
              />
            </template>
            <template #append>
              <div
                class="h-100 w-100 d-flex justify-center align-center"
              >
                <app-loader v-if="loading" :size="26" />
              </div>
            </template>
            <template v-slot:item="{ item }">
              <v-list-item-avatar :color="item.color">
                <template v-if="item.avatar">
                  <img
                    :src="item.avatar.url"
                    alt="Avatar image"
                    class="object-cover"
                  />
                </template>
                <template v-else>
                  <span class="text-white">{{
                    item.full_name && item.full_name[0]
                  }}</span>
                </template>
              </v-list-item-avatar>
              <v-list-item-content>
                <v-list-item-title
                >{{ item.full_name }}</v-list-item-title>
                <v-list-item-subtitle>
                  <span>{{ item.position }} - </span>
                  <span
                    class="font-600 small-3"
                    :class="{
                      'success-text':
                        item.condition_name === 'Рабочие' ||
                        item.condition_name === 'Командировка',
                      'red--text':
                        item.condition_name !== 'Рабочие' &&
                        item.condition_name !== 'Командировка',
                    }"
                    >{{ item.condition_name }}</span
                  >
                </v-list-item-subtitle>
              </v-list-item-content>
            </template>
            <template v-slot:selection="{ attr, on, item, selected }">
              <v-chip
                v-bind="attr"
                :input-value="selected"
                color="blue-grey"
                class="white--text"
                v-on="on"
                :small="$attrs.dense"
              >
                <span v-text="item.full_name"></span>
              </v-chip>
            </template>
            <template v-slot:append-item>
              <template v-if="page">
                <div
                  v-intersect="{
                    handler: onIntersect,
                    options: {
                      threshold: [0, 1.0, 1.0],
                    },
                  }"
                  class="pa-4"
                ></div>
              </template>
            </template>
          </v-autocomplete>
          <template v-if="formType === 'read'">
            <div v-for="(employee, index) in leadershipRequestModel.employees" :key="index" class="d-flex flex-wrap grid-gap-sm mt-4">
              <v-chip dark :color="employee.color">
                {{ employee.full_name }}
              </v-chip>
            </div>
          </template>
          <template v-if="formType === 'update' || formType === 'create'">
            <div v-for="(employee, index) in leadershipRequestModel.employees" :key="index" class="d-flex align-center grid-gap-sm mt-4">
              <v-chip dark :color="employee.color" class="w-100">
                {{ employee.full_name }}
              </v-chip>
              <v-spacer />
              <v-btn
                color="error"
                icon
                depressed
                small
                @click="() => {
                  const employees = leadershipRequestModel.employees.filter(item => item.id !== employee.id);
                  leadershipRequestModel.employees = employees
                }"
              >
                <trash2-icon size="20" />
              </v-btn>
            </div>
          </template>
        </v-col>
        <template v-if="leadershipRequestModel.employees && leadershipRequestModel.employees.length">
          <v-col md="3">
            <v-autocomplete
              :disabled="formType === 'read'"
              :filter="value => value"
              :items="branches"
              @change="onChangeBranches"
              auto-select-first
              background-color="var(--input-bg)"
              clearable
              hide-details
              item-text="name"
              item-value="id"
              :label="$t('document-flow.views.send-document.branches')"
              multiple
              outlined
              return-object
              v-model="destinations"
            >
              <template #prepend-inner>
                <search-icon
                  class="mr-1 d-block"
                  color="var(--text-4)"
                  size="20"
                />
              </template>
              <template v-slot:selection="{ attr, on, item, selected }">
                <v-chip
                  v-bind="attr"
                  :input-value="selected"
                  color="blue-grey"
                  class="white--text"
                  v-on="on"
                  :small="$attrs.dense"
                >
                  <span v-text="item.name"></span>
                </v-chip>
              </template>
            </v-autocomplete>
          </v-col>
          <v-col md="3">
            <v-menu
              :close-on-content-click="true"
              min-width="auto"
              transition="scale-transition"
              v-model="startDateMenu"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  append-icon="mdi-calendar"
                  background-color="var(--input-bg)"
                  hide-details
                  outlined
                  readonly
                  v-bind="attrs"
                  :label="$t('control-tasks.reports.from')"
                  v-model="start_date"
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker no-title scrollable :disabled="formType === 'read'" @change="onChangeStartDate" v-model="start_date">
              </v-date-picker>
            </v-menu>
          </v-col>
          <v-col md="3">
            <v-menu
              :close-on-content-click="true"
              min-width="auto"
              transition="scale-transition"
              v-model="endDateMenu"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  append-icon="mdi-calendar"
                  background-color="var(--input-bg)"
                  hide-details
                  :label="$t('control-tasks.reports.to')"
                  outlined
                  readonly
                  v-bind="attrs"
                  v-model="end_date"
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker no-title scrollable :disabled="formType === 'read'" @change="onChangeEndDate" v-model="end_date">
              </v-date-picker>
            </v-menu>
          </v-col>
        </template>
      </template>
    </v-row>

    <!--  dynamically load components  -->
    <template v-if="letterTypeSelectTemplate">
      <component
        ref="template"
        :is="letterTypeSelectTemplate"
        :form-type="formType"
        @emit:save:draft="saveAsDraft"
        @emit:update:draft="updateDraft"
        @emit:send="sendDocument"
        @emit:update="updateDocument"
      />
    </template>
    <!--  /dynamically load components  -->
  </div>
</template>

<script>
import AppLoader from "@/common/components/base/AppLoader"
import { lazyLoadComponent } from "@/common/helpers"
import {
  SearchIcon,
ArrowLeftIcon, ChevronDownIcon, Edit2Icon, EyeIcon, HelpCircleIcon, InfoIcon, PaperclipIcon, PlusIcon, Trash2Icon, TypeIcon, XIcon
} from "vue-feather-icons"
import { required, requiredIf } from "vuelidate/lib/validators"
import { mapGetters, mapMutations, mapState } from "vuex"
import FileUploadForSendingDocument from "./FileUploadForSendingDocument"
import RegisterNumber from "./RegisterNumber";

export default {
  name: "LeadershipForm",
  props: {
    formType: {
      type: String,
      default: "create"
    }
  },
  components: {
    ChevronDownIcon,
    TypeIcon,
    PaperclipIcon,
    XIcon,
    ArrowLeftIcon,
    EyeIcon,
    PlusIcon,
    Edit2Icon,
    Trash2Icon,
    InfoIcon,
    HelpCircleIcon,
	  FileUploadForSendingDocument,
	  RegisterNumber,
    SearchIcon,
    AppLoader,
  },
  data() {
    return {
      letterTypeSelect: {
        title: this.$t('document-flow.views.send-document.notification'),
        value: "notice",
        component: "LeadershipSimple"
      },
      letterTypeSelectTemplate: null,
      letterTypeList: [
        {
          title: this.$t('document-flow.views.send-document.notification'),
          value: "notice",
          component: "LeadershipSimple",
          role: []
        },
        {
          title: this.$t('document-flow.views.send-document.payment-notice'),
          value: "payment",
          component: "LeadershipForPayment",
          role: []
        },
        {
          title: this.$t('document-flow.views.send-document.recruitment-notice'),
          value: "hr_notice",
          component: "LeadershipJobApplicationReport",
          role: ["admin", "hr_manager", "filial_hr_manager"]
        },
	      {
		      title: this.$t('document-flow.views.send-document.notification-for-rotation'),
		      value: "hr_rotation",
		      component: "LeadershipRotation",
		      role: ["admin", "hr_manager", "filial_hr_manager"]
	      },
	      {
		      title: this.$t('document-flow.views.send-document.summary'),
		      value: "summary",
		      component: "LeadershipSimple",
		      role: []
	      },
	      {
		      title: this.$t('document-flow.views.send-document.currency_summary'),
		      value: "currency_summary",
		      component: "LeadershipSimple",
		      role: []
	      },
	      {
		      title: this.$t('hr_contract'),
		      value: "hr_contract",
		      component: "LeadershipSimple",
		      role: []
	      },
	      {
		      title: this.$t('actCompletedServices'),
		      value: "retail_act",
		      component: "LeadershipSimple",
		      role: []
	      },
	      {
		      title: this.$t('irr'),
		      value: "irr",
		      component: "LeadershipSimple",
		      role: []
	      },
	      {
		      title: this.$t('expenseNotice'),
		      value: "expense_notice",
		      component: "LeadershipSimple",
		      role: []
	      },
	      {
		      title: this.$t('techniqueTeaching'),
		      value: "technic_teaching",
		      component: "LeadershipSimple",
		      role: []
	      },
	      {
		      title: this.$t('document-flow.views.send-document.trip'),
		      value: 'trip',
		      component: "LeadershipBusinessTrip",
		      role: [],
	      },
	      {
		      title: this.$t('attorney'),
		      value: "attorney",
		      component: "LeadershipSimple",
		      role: []
	      },
      ],
      forwardDocumentList: [
        {
          title: this.$t('document-flow.views.send-document.head-office'),
          value: "head_office"
        },
        {
          title: this.$t('document-flow.views.send-document.branch'),
          value: "filial"
        },
      ],
      forwardDocumentSelect: null,
      rotationTypeList: [
	      {
		      title: this.$t('document-flow.views.send-document.vertical'),
		      value: "vertical"
	      },
	      {
		      title: this.$t('document-flow.views.send-document.horizontal'),
		      value: "horizontal"
	      },
      ],
      endDateMenu: false,
      end_date: null,
      loading: false,
      page: 1,
      search: "",
      startDateMenu: false,
      start_date: null,
      users: [],
      branches: [],
      destinations: [],
	    defaultTableForCurrencySummary: "<table style=\"border-collapse: collapse; width: 100%; height: 89.5312px;\" border=\"1\" cellspacing=\"0px\" cellpadding=\"5px\"> <tbody> <tr style=\"height: 22.375px;\"> <td style=\"text-align: center; width: 3.59794%; height: 44.75px;\" rowspan=\"2\"><span style=\"font-size: 8pt;\"><strong>№</strong></span></td> <td style=\"text-align: center; width: 19.8172%; height: 44.75px; line-height: 1;\" rowspan=\"2\"><span style=\"font-size: 8pt;\"><strong>Buyurtmachining yuridik nomi</strong></span></td> <td style=\"text-align: center; width: 13.5922%; height: 44.75px; line-height: 1;\" rowspan=\"2\"><span style=\"font-size: 8pt;\"><strong>Mijoz STIR</strong></span></td> <td style=\"width: 16.4486%; text-align: center; height: 22.375px; line-height: 1;\"><span style=\"font-size: 8pt;\"><strong>Shartnoma (kontrakt) bo'yicha ma'lumot</strong></span></td> <td style=\"text-align: center; height: 44.75px; line-height: 1; width: 17.9317%;\" colspan=\"2\" rowspan=\"2\"><span style=\"font-size: 8pt;\"><strong>Joriy buyurtma summasi va valyuta kodi</strong></span><br /><span style=\"font-size: 8pt;\"><strong><br /></strong></span></td> <td style=\"text-align: center; height: 44.75px; width: 13.478%; line-height: 1;\" rowspan=\"2\"><span style=\"font-size: 8pt;\"><strong>Buyurtma maqsadi</strong></span></td> <td style=\"text-align: center; height: 44.75px; width: 15.1342%; line-height: 1;\" rowspan=\"2\"><span style=\"font-size: 8pt;\"><strong>Izoh</strong></span></td> </tr> <tr style=\"height: 22.375px;\"> <td style=\"width: 16.4486%; text-align: center; height: 22.375px; line-height: 1;\"><span style=\"font-size: 8pt;\"><strong>Shartnoma raqam</strong></span></td> </tr> <tr style=\"height: 22.3906px;\"> <td style=\"text-align: center; width: 3.59794%; height: 22.3906px;\"><span style=\"font-size: 8pt;\"><strong>1</strong></span></td> <td style=\"text-align: center; width: 19.8172%; height: 22.3906px;\"><span style=\"font-size: 8pt;\"><strong>2</strong></span></td> <td style=\"text-align: center; width: 13.5922%; height: 22.3906px;\"><span style=\"font-size: 8pt;\"><strong>3</strong></span></td> <td style=\"width: 16.4486%; text-align: center; height: 22.3906px;\"><span style=\"font-size: 8pt;\"><strong>4</strong></span></td> <td style=\"text-align: center; height: 22.3906px; width: 17.9317%;\" colspan=\"2\"><span style=\"font-size: 8pt;\"><strong>5</strong></span><span style=\"font-size: 8pt;\"><strong><br /></strong></span></td> <td style=\"text-align: center; width: 13.478%; height: 22.3906px;\"><span style=\"font-size: 8pt;\"><strong>6</strong></span></td> <td style=\"text-align: center; width: 15.1342%; height: 22.3906px;\"><span style=\"font-size: 8pt;\"><strong>7</strong></span></td> </tr> <tr style=\"height: 22.3906px;\"> <td style=\"text-align: center; width: 3.59794%; height: 22.3906px;\"><span style=\"font-size: 8pt;\"><strong>1</strong></span></td> <td style=\"text-align: center; width: 19.8172%; height: 22.3906px;\"><span style=\"font-size: 8pt;\"><strong>&nbsp;</strong></span></td> <td style=\"text-align: center; width: 13.5922%; height: 22.3906px;\"><span style=\"font-size: 8pt;\"><strong>&nbsp;</strong></span></td> <td style=\"width: 16.4486%; text-align: center; height: 22.3906px;\"><span style=\"font-size: 8pt;\"><strong>&nbsp;</strong></span></td> <td style=\"text-align: center; width: 8.90831%; height: 22.3906px;\"><span style=\"font-size: 8pt;\"><strong>&nbsp;</strong></span></td> <td style=\"text-align: center; width: 9.02342%;\"><span style=\"font-size: 8pt;\"><strong>&nbsp;</strong></span></td> <td style=\"text-align: center; width: 13.478%; height: 22.3906px;\"><span style=\"font-size: 8pt;\"><strong>&nbsp;</strong></span></td> <td style=\"text-align: center; width: 15.1342%; height: 22.3906px;\"><span style=\"font-size: 8pt;\"><strong>&nbsp;</strong></span></td> </tr> </tbody> </table>"
    }
  },
  validations: {
    leadershipRequestModel: {
      // register_number: { required },
      text: { required: requiredIf(value => value.type !== 'trip') },
      goal: { required: requiredIf(value => value.type === 'trip') },
	    short_description: { required },
	    priority: { required },
      __leadership: { required },
	    __signersList: { required }
    },
    letterTypeSelect: { required },
    // agreedList: {
    //   required: requiredIf(function(value) {
    //     return this.model.is_for_payment
    //   }),
    // },
  },
  computed: {
    ...mapState({
      leadershipRequestModel: state => state.documentFlowModule.leadershipRequestModel,
	    rotationRequestModel: state => state.documentFlowModule.rotationRequestModel
    }),
    /*
    *
    * */
    ...mapGetters({
      getDisableItems: "getDisableItems",
      currentUser: "auth/getCurrentUser"
    }),
    /*
    *
    * */
    rollsLetterTypeList() {
      if(!["admin", "hr_manager", "filial_hr_manager"].includes(this.currentUser.role)) {
        return this.letterTypeList.filter(item => item.role.length === 0)
      }

      return this.letterTypeList
    }
  },
  watch: {
    search: {
      handler(search) {
        this.loading = true;
        this.$axios
          .get(`/user/search/?page=1${search ? "&search=" + search : ""}`)
          .then(response => {
            const results = response?.data?.results;
            const next = response?.data?.next;
            if (next) {
              this.page = 2;
            } else {
              this.page = null;
            }
            const users = (Array.isArray(results) ? results : []).map(user => {
              const disabled =
                user?.condition_name !== "Рабочие" &&
                user?.condition_name !== "Командировка";
              return { ...user, disabled };
            });
            this.users = users;
          })
          .catch(() => {
            this.users = [];
            this.page = null;
          })
          .finally(() => {
            this.loading = false;
          });
      },
    },
    letterTypeSelect: {
      handler(val) {
	      if(val) {
					this.letterTypeSelectTemplate = lazyLoadComponent({
						componentFactory: () => import(`./${val.component}`),
						loading: AppLoader
					})

					this.SET_ENTITIES([
						{ type: val.value },
						{ is_for_payment: false },
						// { text: "" },
					])

          if(val.value === 'trip') {
            this.SET_ENTITIES([
              { sub_type: 'trip' }
            ])
          }
		      if (this.formType === 'create') {
			      this.SET_ENTITIES([
				      { text: "" },
			      ])
		      }

					if(val.value === "payment") {
						this.SET_ENTITIES([
							{ type: "notice" },
							{ is_for_payment: true },
						])
					}

	        if (this.formType === 'create' && val.value === 'currency_summary'){
	        	this.SET_ENTITIES([
			        { text: this.defaultTableForCurrencySummary }
		        ])
	        }

					if(this.$route.query.hasOwnProperty("scoreId") && this.$route.query.scoreId !== null) {
						this.letterTypeSelect = this.letterTypeList[2]
					}

					if(this.$route.query.hasOwnProperty("rotationId") && this.$route.query.scoreId !== null) {
						this.letterTypeSelect = this.letterTypeList[3]
					}
        }
      },
      immediate: true
    },
    '$i18n.locale': {
      handler() {
        this.changeLanguage();
      }
    }
  },
  mounted() {
    this.changeLanguage();
    this.getBranches();
	  const { registerNumber } = this.$refs
	  if (this.formType === 'create'){
		  registerNumber.compose_type = 'notice'
		  registerNumber.isLeadershipSelected = false
	  }
    if(this.$route.params.id) {
      this.getOne(this.$route.params.id);
    }

  },
  beforeDestroy() {
    this.CLEAR_LEADERSHIP_STATE()
  },
  methods: {
    ...mapMutations({
      SET_ENTITIES: "documentFlowModule/SET_ENTITIES",
      CLEAR_LEADERSHIP_STATE: "documentFlowModule/CLEAR_LEADERSHIP_STATE",
    }),
    /*
    *
    * */
    changeLanguage() {
      this.letterTypeList = [
          {
            title: this.$t('document-flow.views.send-document.notification'),
            value: "notice",
            component: "LeadershipSimple",
            role: []
          },
          {
            title: this.$t('document-flow.views.send-document.payment-notice'),
            value: "payment",
            component: "LeadershipForPayment",
            role: []
          },
          {
            title: this.$t('document-flow.views.send-document.recruitment-notice'),
            value: "hr_notice",
            component: "LeadershipJobApplicationReport",
            role: ["admin", "hr_manager", "filial_hr_manager"]
          },
          {
            title: this.$t('document-flow.views.send-document.notification-for-rotation'),
            value: "hr_rotation",
            component: "LeadershipRotation",
            role: ["admin", "hr_manager", "filial_hr_manager"]
          },
          {
            title: this.$t('document-flow.views.send-document.summary'),
            value: "summary",
            component: "LeadershipSimple",
            role: []
          },
	        {
		        title: this.$t('document-flow.views.send-document.currency_summary'),
		        value: "currency_summary",
		        component: "LeadershipSimple",
		        role: []
	        },
          {
		        title: this.$t('hr_contract'),
		        value: "hr_contract",
		        component: "LeadershipSimple",
		        role: []
	        },
	        {
		        title: this.$t('actCompletedServices'),
		        value: "retail_act",
		        component: "LeadershipSimple",
		        role: []
	        },
	        {
		        title: this.$t('irr'),
		        value: "irr",
		        component: "LeadershipSimple",
		        role: []
	        },
	        {
		        title: this.$t('expenseNotice'),
		        value: "expense_notice",
		        component: "LeadershipSimple",
		        role: []
	        },
	        {
		        title: this.$t('techniqueTeaching'),
		        value: "technic_teaching",
		        component: "LeadershipSimple",
		        role: []
	        },
		      {
			      title: this.$t('document-flow.views.send-document.trip'),
			      value: 'trip',
			      component: "LeadershipBusinessTrip",
			      role: [],
		      },
		      {
			      title: this.$t('attorney'),
			      value: "attorney",
			      component: "LeadershipSimple",
			      role: []
		      },
        ];
        this.forwardDocumentList = [
          {
            title: this.$t('document-flow.views.send-document.head-office'),
            value: "head_office"
          },
          {
            title: this.$t('document-flow.views.send-document.branch'),
            value: "filial"
          },
        ];
        this.rotationTypeList = [
          {
            title: this.$t('document-flow.views.send-document.vertical'),
            value: "vertical"
          },
          {
            title: this.$t('document-flow.views.send-document.horizontal'),
            value: "horizontal"
          },
        ]
    },
    getBranches() {
      this.$axios
        .get("/filials/?page_size=100&has_not_sap_id=true")
        .then(response => {
          const results = response?.data?.results;
          const branches = Array.isArray(results) ? results : [];
          this.branches = branches;
        });
    },
    onIntersect(entries) {
      if (entries[0].intersectionRatio >= 0.5) {
        this.loading = true;
        this.$axios
          .get(`/user/search/?page=${this.page}${this.search ? "&search=" + this.search : ""}`)
          .then(response => {
            const results = response?.data?.results;
            const next = response?.data?.next;
            if (next) {
              this.page = this.page + 1;
            } else {
              this.page = null;
            }
            const users = (Array.isArray(results) ? results : []).map(user => {
              const disabled =
                user?.condition_name !== "Рабочие" &&
                user?.condition_name !== "Командировка";
              return { ...user, disabled };
            });
            this.users = [...this.users, ...users];
          })
          .catch(() => {
            this.page = null;
          })
          .finally(() => {
            this.loading = false;
          });
      }
    },
    parseDate(incomingDate) {
			const parsingDate = new Date(incomingDate || '');
			const date = parsingDate.getDate().toString().padStart(2, "0");
			const month = (parsingDate.getMonth() + 1).toString().padStart(2, "0");
			const year = parsingDate.getFullYear().toString();
			const d = `${date}.${month}.${year}`;
			return d;
		},
    createTable(employees = []) {
      const table = employees.length ? `<table style="border-collapse: collapse; font-weight: 600; font-size: 13px;">
        <tr>
          <th style="border: 1px solid #dddddd; text-align: left; padding: 5px;">Xodim</th>
          <th style="border: 1px solid #dddddd; text-align: left; padding: 5px;">Lavozimi</th>
          <th style="border: 1px solid #dddddd; text-align: left; padding: 5px;">Xizmat safari muddati</th>
          <th style="border: 1px solid #dddddd; text-align: left; padding: 5px;">Filiallar</th>
        </tr>
        ${employees.map(employee => `
				  <tr>
				    <td style="border: 1px solid #dddddd; text-align: left; padding: 5px;">${employee.full_name}</td>
				    <td style="border: 1px solid #dddddd; text-align: left; padding: 5px;">${employee.position}</td>
				    <td style="border: 1px solid #dddddd; text-align: left; padding: 5px; white-space: nowrap;">
				      ${this.parseDate(employee.start_date)} - </br> ${this.parseDate(employee.end_date)}
				    </td>
				    <td style="border: 1px solid #dddddd; text-align: left; padding: 5px;">
				      ${employee.destinations.map(destination => `<span style="white-space: nowrap;">${destination.name}</span>`).join(',<br/>')}
				    </td>
				  </tr>
				`).join('')}
      </table>` : '';
      return table;
    },
	  saveAsDraft() {
      const type = this.leadershipRequestModel.type;
      const trip_information = this.leadershipRequestModel.employees.map(item => {
        const destinations = item.destinations.map(item => item.id);
        return {
          destinations,
          end_date: item.end_date,
          start_date: item.start_date,
          user: item.id,
        };
      });
      const table = this.createTable(this.leadershipRequestModel.employees);
      const text = type === 'trip' ? this.leadershipRequestModel.goal + table : this.leadershipRequestModel.text;
      const tripInformation = type === 'trip' ? { trip_information } : {};
      const newType = type === 'trip' ? 'notice' : type;
			let model = {
				...this.leadershipRequestModel,
        ...tripInformation,
        text: text,
        type: newType,
        status: "draft",
				dept_code: this.currentUser.top_level_dept
      }

		  const { template } = this.$refs

		  this.$http.post(`/docflow/${this.currentUser.filial}/compose/`, model)
		  .then(({ data }) => {
			  this.$toast.success(this.$t('document-flow.views.send-document.draft-created'))

			  template.dialog = false

			  this.$router.push({
				  name: "SendDocumentNew",
				  query: {
						journal_id: 3,
					  type: this.letterTypeSelect.value
				  }
			  })
		  })
		  .catch(() => {
			  // this.$toast.error(this.$t('document-flow.views.send-document.error-sending-document'))
		  })
    },
    /*
    *
    * */
	  updateDraft() {
      const type = this.leadershipRequestModel.type;
      const trip_information = this.leadershipRequestModel.employees.map(item => {
        const destinations = item.destinations.map(item => item.id);
        return {
          destinations,
          end_date: item.end_date,
          start_date: item.start_date,
          user: item.id,
        };
      });
      const table = this.createTable(this.leadershipRequestModel.employees);
      const text = type === 'trip' ? this.leadershipRequestModel.goal + table : this.leadershipRequestModel.text;
      const tripInformation = type === 'trip' ? { trip_information } : {};
      const newType = type === 'trip' ? 'notice' : type;
		  let model = {
			  ...this.leadershipRequestModel,
        ...tripInformation,
        text: text,
        type: newType,
			  status: "draft"
		  }

		  const { template } = this.$refs

		  this.$http.put(`/docflow/${this.currentUser.filial}/compose/${this.$route.params.id}/`, model)
		  .then(({ data }) => {
			  this.$toast.success(this.$t('document-flow.views.send-document.draft-edited'))

			  template.dialog = false

			  this.$router.push({
				  name: "SendDocumentNew",
				  query: {
					  journal_id: 3,
					  type: this.letterTypeSelect.value
				  }
			  })
		  })
		  .catch(() => {
			  // this.$toast.error(this.$t('document-flow.views.send-document.error-sending-document'))
		  })
    },
    /*
    *
    * */
    sendDocument() {
      this.$v.$touch();

      if (this.$v.$invalid) {
        return;
      }

      const type = this.leadershipRequestModel.type;
      const trip_information = this.leadershipRequestModel.employees.map(item => {
        const destinations = item.destinations.map(item => item.id);
        return {
          destinations,
          end_date: item.end_date,
          start_date: item.start_date,
          user: item.id,
        };
      });
      const table = this.createTable(this.leadershipRequestModel.employees);
      const text = type === 'trip' ? this.leadershipRequestModel.goal + table : this.leadershipRequestModel.text;
      const tripInformation = type === 'trip' ? { trip_information } : {};
      const newType = type === 'trip' ? 'notice' : type;
	    let model = {
		    ...this.leadershipRequestModel,
        ...tripInformation,
        text: text,
        type: newType,
		    status: "pending",
		    dept_code: this.currentUser.top_level_dept
	    }

      const { template } = this.$refs
      template.loading = true

      this.$http.post(`/docflow/${this.currentUser.filial}/compose/`, model)
      .then(({ data }) => {
        this.$toast.success(this.$t('document-flow.views.send-document.document-sent'))

        template.dialog = false
        template.loading = false

        this.$router.push({
          name: "SendDocumentNew",
	        query: {
		        journal_id: 3,
		        type: this.letterTypeSelect.value
	        }
        })
      })
      .catch(() => {
        // this.$toast.error(this.$t('document-flow.views.send-document.error-sending-document'))
        template.loading = false
      })
    },
    /*
    *
    * */
    updateDocument() {
      this.$v.$touch();

      if (this.$v.$invalid) {
        return;
      }

      const type = this.leadershipRequestModel.type;
      const trip_information = this.leadershipRequestModel.employees.map(item => {
        const destinations = item.destinations.map(item => item.id);
        return {
          destinations,
          end_date: item.end_date,
          start_date: item.start_date,
          user: item.id,
        };
      });
      const table = this.createTable(this.leadershipRequestModel.employees);
      const text = type === 'trip' ? this.leadershipRequestModel.goal + table : this.leadershipRequestModel.text;
      const tripInformation = type === 'trip' ? { trip_information } : {};
      const newType = type === 'trip' ? 'notice' : type;
	    let model = {
		    ...this.leadershipRequestModel,
        ...tripInformation,
        text: text,
        type: newType,
		    status: "pending"
	    }

      const { template } = this.$refs
      template.loading = true

      this.$http.put(`/docflow/${this.currentUser.filial}/compose/${this.$route.params.id}/`, model)
      .then(({ data }) => {
        this.$toast.success(this.$t('document-flow.views.send-document.document-sent'))

        template.dialog = false
        template.loading = false

        this.$router.push({
          name: "SendDocumentNew",
	        query: {
		        journal_id: 3,
		        type: this.letterTypeSelect.value
	        }
        })
      })
      .catch(() => {
        // this.$toast.error(this.$t('document-flow.views.send-document.error-sending-document'))
        template.loading = false
      })
    },
    /*
    *
    * */
    getOne(id) {
      this.$http.get(`/docflow/${this.currentUser.filial}/compose/${id}/`)
      .then(({ data }) => {
	      console.log(data.type)
        if(data.type === "notice" && data.sub_type === 'trip') {
          this.letterTypeSelect = this.letterTypeList[11]

        } else if(data.type === "notice" && !data.is_for_payment) {
          this.letterTypeSelect = this.letterTypeList[0]

        } else if(data.type === "notice" && data.is_for_payment) {
          this.letterTypeSelect = this.letterTypeList[1]

        } else if(data.type === "hr_rotation") {
	        this.letterTypeSelect = this.letterTypeList[3]

        } else if(data.type === "summary") {
	        this.letterTypeSelect = this.letterTypeList[4]

        } else if(data.type === "currency_summary") {
	        this.letterTypeSelect = this.letterTypeList[5]

        } else if(data.type === "hr_contract") {
	        this.letterTypeSelect = this.letterTypeList[6]
        } else if(data.type === "retail_act") {
	        this.letterTypeSelect = this.letterTypeList[7]
        } else if(data.type === "irr") {
	        this.letterTypeSelect = this.letterTypeList[8]
        } else if(data.type === "expense_notice") {
	        this.letterTypeSelect = this.letterTypeList[9]
        } else if(data.type === "technic_teaching") {
	        this.letterTypeSelect = this.letterTypeList[10]
        } else if(data.type === "attorney") {
	        this.letterTypeSelect = this.letterTypeList[12]
        }else {
          this.letterTypeSelect = this.letterTypeList[2]
        }

        const trip_information = data?.trip_information;
        const user = (Array.isArray(trip_information) ? trip_information : [])[0];
        const employees = (Array.isArray(trip_information) ? trip_information : []).map(item => {
          return {
            ...item.user,
            destinations: item.branches,
            end_date: item.end_date,
            start_date: item.start_date,
          };
        });
        const { start_date, end_date, branches } = user ? user : {};
        this.start_date = start_date;
        this.end_date = end_date;
        this.destinations = branches ? branches : [];
        const type = data.type === 'notice' && data.sub_type === 'trip' ? 'trip' : data.type;
        this.SET_ENTITIES([
          { goal: data.goal },
          { priority: data.priority },
          { type: type },
          { sub_type: data.sub_type },
          { employees: employees },
          { register_number: data.register_number },
          { short_description: data.short_description },
          { text: data.text },
          { sender: data.sender },
          { register_date: data.register_date },
          { is_for_payment: data.is_for_payment },
          { goal: data.goal },
          { __files: data.files },
          { __leadership: data.signer_obj && data.signer_obj[0] },
          { __signersList: this.leadershipRequestModel.type === 'hr_contract' ? data.signed_by[0] : data.type === 'irr' ? data.signed_by.filter(item => item.position !== 'staff_head') : data.signed_by },
          { __agreedList: data.agreed_by },
          { __status: data.status },
          { __isDraftCreated: data.status === "draft" },
	        { __staffHead: data.type === 'irr' ? data.signed_by.find(item => item.position === 'staff_head').user : null }
          // { __assistant: data.agreed_by },
        ])
        // console.log(data);
	      const { registerNumber } = this.$refs
        registerNumber.emp_index = data.signer_obj && data.signer_obj[0].emp_index ? data.signer_obj && data.signer_obj[0].emp_index : null
	      registerNumber.compose_type = data.type
	      registerNumber.register_number = data.register_number
      })
    },
    /*
    *
    * */
    templateTypeSelect(val) {
      this.SET_ENTITIES([
        { __agreedList: [] },
        { __signersList: [] },
	      { __staffHead: null }
      ])

      if(this.$route.query.hasOwnProperty("scoreId") || this.$route.query.hasOwnProperty("rotationId")) {
        this.$router.replace({
          query: {
            type: "leadership"
          },
        })
      }
	    this.leadershipRequestModel.register_number = null

	    const { registerNumber } = this.$refs
	    registerNumber.readonly = !['currency_summary', 'retail_act'].includes(val.value);
	    registerNumber.register_number = null
	    if (this.letterTypeSelect.value === 'payment'){
		    registerNumber.compose_type = 'notice'
	    }else {
		    registerNumber.compose_type = this.letterTypeSelect.value
	    }
    },
	  /**/
	  getLeadershipDetail(val){
		  const { registerNumber } = this.$refs
		  if (this.leadershipRequestModel.type !== 'retail_act') {
			  this.leadershipRequestModel.register_number = null
		  }
		  if (registerNumber) {
			  if (this.leadershipRequestModel.type !== 'retail_act') {
				  registerNumber.register_number = null
			  }
			  if (val){
				  registerNumber.emp_index = val.emp_index
				  registerNumber.isLeadershipSelected = true
				  registerNumber.readonly = true
			  }else {
				  registerNumber.emp_index = null
				  registerNumber.isLeadershipSelected = false
			  }
		  }
	  },
	  /**/
	  getRegisterNumber(val){
		  this.leadershipRequestModel.register_number = val
 	  },
    onChangeEmployees(values) {
      const employees = values.map(item => ({ ...item, start_date: this.start_date, end_date: this.end_date, destinations: this.destinations }));
      this.SET_ENTITIES([{ employees }]);
    },
    onChangeBranches(destinations) {
      const employees = this.leadershipRequestModel.employees.map(item => ({ ...item, destinations }));
      this.SET_ENTITIES([{ employees }]);
    },
    onChangeStartDate(start_date) {
      const employees = this.leadershipRequestModel.employees.map(item => ({ ...item, start_date }));
      this.SET_ENTITIES([{ employees }]);
    },
    onChangeEndDate(end_date) {
      const employees = this.leadershipRequestModel.employees.map(item => ({ ...item, end_date }));
      this.SET_ENTITIES([{ employees }]);
    }
  }
}
</script>
