<template>
  <div class="leadership-job-application-view">
    <v-row>
      <v-col md="12">
        <div class="app-collapse">
          <v-expansion-panels v-model="panel">
            <v-expansion-panel>
              <v-expansion-panel-header class="border-all" color="primary">
                <span class="d-block font-600 text-white">{{$t('document-flow.views.send-document.create-score-sheet')}}</span>
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <div class="mt-5 rounded-10 pa-4" style="border: 2px dashed #dedede;">
                  <v-row>
                    <v-col md="12">
                      <div class="app-input">
<!--                        <quill-editor-->
<!--                          v-model="$v.scoreSheetModel.text.$model"-->
<!--                          :error="$v.scoreSheetModel.text.$error"-->
<!--                        />-->
	                      <app-editor
		                      v-model="$v.scoreSheetModel.text.$model"
		                      :error="$v.scoreSheetModel.text.$error"
	                      />

	                      <div class="bg-white pt-5">
		                      <resolution-content-modal
			                      :has-filial="false"
			                      api-url="action/short-descriptions/"
			                      :api-params="{ type: 'template' }"
			                      title-dialog="components.add-template"
			                      @emit:up="(text) => scoreSheetModel.text = text.description"
		                      />
	                      </div>
                      </div>
                    </v-col>

                    <v-col md="6">
                      <v-alert type="error" text class="mb-0">
                        <template #prepend>
                          <info-icon size="22" class="mr-3" />
                        </template>
                        {{$t('document-flow.views.send-document.before-create-sheet')}}
                      </v-alert>
                    </v-col>

                    <v-col md="3">
                      <app-autocomplete
                        v-model="$v.scoreSheetSigners.recruiter.$model"
                        :error="$v.scoreSheetSigners.recruiter.$error"
                        :item-disabled="getDisableItems"
                        api-list-url="/user/search/"
                        item-text="full_name"
                        item-value="id"
                        :api-params="{
                          type: 'signers'
                        }"
                        return-object
                        cache-items
                        background-color="var(--input-bg)"
                        :placeholder="$t('document-flow.views.send-document.signer-recruiter')"
                        :disabled="Boolean($route.query.readonly)"
                      />

                      <template v-if="Object.keys(scoreSheetSigners.recruiter).length">
                        <v-chip
                          dark
                          :color="scoreSheetSigners.recruiter.color"
                          class="mt-2"
                        >
                          <span class="mr-2">{{ scoreSheetSigners.recruiter.full_name }}</span>

                          <v-btn
                            v-if="!Boolean($route.query.readonly)"
                            color="white"
                            icon
                            small
                            @click="scoreSheetSigners.recruiter = {}"
                          >
                            <trash2-icon size="18" />
                          </v-btn>
                        </v-chip>
                      </template>
                    </v-col>

                    <v-col md="3">
                      <app-autocomplete
                        v-model="$v.scoreSheetSigners.director.$model"
                        :error="$v.scoreSheetSigners.director.$error"
                        :item-disabled="getDisableItems"
                        api-list-url="/user/search/"
                        item-text="full_name"
                        item-value="id"
                        :api-params="{
                          type: 'signers'
                        }"
                        return-object
                        cache-items
                        background-color="var(--input-bg)"
                        :placeholder="$t('document-flow.views.send-document.signatory-director')"
                        :disabled="Boolean($route.query.readonly)"
                      />

                      <template v-if="Object.keys(scoreSheetSigners.director).length">
                        <v-chip
                          dark
                          :color="scoreSheetSigners.director.color"
                          class="mt-2"
                        >
                          <span class="mr-2">{{ scoreSheetSigners.director.full_name }}</span>

                          <v-btn
                            v-if="!Boolean($route.query.readonly)"
                            color="white"
                            icon
                            small
                            @click="scoreSheetSigners.director = {}"
                          >
                            <trash2-icon size="18" />
                          </v-btn>
                        </v-chip>
                      </template>
                    </v-col>

                    <v-col md="12">
                      <app-button @click="previewScoreSheet">
                        <template #prepend>
                          <eye-icon size="20" />
                        </template>
                        {{$t('document-flow.views.send-document.view-template')}}
                      </app-button>
                    </v-col>
                  </v-row>
                </div>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </div>
      </v-col>
    </v-row>

    <v-row v-if="isScoreSheetCreated">
      <v-col md="12">
        <div class="input-bg rounded-20">
          <div class="pa-4 pb-1">
            <div class="app-tab">
              <v-tabs
                v-model="tab"
                hide-slider
                height="36"
                color="#fff"
              >
                <v-tab>
                  <div class="d-flex align-center px-3">
                    <type-icon size="16" class="mr-2" />
                    <span class="text-transform-none small-2 line-base font-400">{{$t('document-flow.views.send-document.text')}}</span>
                  </div>
                </v-tab>

                <v-tab>
                  <div class="d-flex align-center px-3">
                    <paperclip-icon size="16" class="mr-2" />
                    <span class="text-transform-none small-2 line-base font-400">{{$t('document-flow.views.send-document.file')}}</span>
                  </div>
                </v-tab>
              </v-tabs>
            </div>
          </div>

          <v-tabs-items class="app-tab-items" v-model="tab">
            <v-tab-item>
	            <app-editor
		            v-model="leadershipRequestModel.text"
		            :disabled="formType === 'read' || !isScoreSheetCreated"
	            />

	            <div class="bg-white pt-5">
		            <resolution-content-modal
			            :has-filial="false"
			            api-url="action/short-descriptions/"
			            :api-params="{ type: 'template' }"
			            title-dialog="components.add-template"
			            @emit:up="(text) => leadershipRequestModel.text = text.description"
		            />
	            </div>
            </v-tab-item>

            <v-tab-item>
              <file-upload-for-sending-document
                :files="leadershipRequestModel.__files"
                @uploadFiles="uploadFiles"
                @deleteFile="deleteFile"
              />
            </v-tab-item>
          </v-tabs-items>
        </div>
      </v-col>
    </v-row>

    <v-row>
      <v-col md="6">
        <app-autocomplete
          v-model="leadershipRequestModel.__agreedList"
          api-list-url="/user/search/"
          :api-params="{
            type: 'signers'
          }"
          item-text="full_name"
          return-object
          cache-items
          clearable
          :placeholder="$t('document-flow.views.send-document.agreement')"
          :item-disabled="getDisableItems"
          multiple
          :disabled="formType === 'read'"
        />

        <template v-if="formType === 'update' || formType === 'read'">
          <app-table
            v-if="leadershipRequestModel.__agreedList && leadershipRequestModel.__agreedList.length"
            bordered
            class="mt-5"
          >
            <template #tableHeader>
              <th width="75">№</th>
              <th>{{$t('document-flow.views.send-document.signatory')}}</th>
              <th width="75">{{$t('document-flow.views.send-document.events')}}</th>
            </template>

            <template #tableBody>
              <tr
                v-for="(item, index) in leadershipRequestModel.__agreedList"
                class="text-dark font-500"
              >
                <td>{{ index + 1 }}</td>
                <td>
                  {{ item.user ? item.user.full_name : item.full_name }}
                </td>
                <td>
                  <app-button
                    v-if="!Boolean($route.query.readonly)"
                    icon
                    color="error"
                    min-width="40"
                    height="40"
                    width="40"
                    @click="leadershipRequestModel.__agreedList.splice(index, 1)"
                  >
                    <trash2-icon size="18" />
                  </app-button>
                </td>
              </tr>
            </template>
          </app-table>
        </template>
      </v-col>

      <v-col md="6">
        <app-autocomplete
          v-model="leadershipRequestModel.__signersList"
          :item-disabled="getDisableItems"
          api-list-url="/user/search/"
          item-text="full_name"
          item-value="id"
          :api-params="{
            type: 'signers'
          }"
          return-object
          cache-items
          multiple
          background-color="var(--input-bg)"
          :placeholder="$t('document-flow.views.send-document.select-signatory')"
          :disabled="Boolean($route.query.readonly) || !isScoreSheetCreated"
        />

        <template v-if="formType === 'update' || formType === 'read'">
          <app-table
            bordered
            class="mt-4"
          >
            <template #tableHeader>
              <th width="75">№</th>
              <th>{{$t('document-flow.views.send-document.signatory')}}</th>
              <th width="75">{{$t('document-flow.views.send-document.events')}}</th>
            </template>

            <template #tableBody>
              <tr
                v-for="(item, index) in leadershipRequestModel.__signersList"
                class="text-dark font-500"
              >
                <td>{{ index + 1 }}</td>
                <td>
                  {{ item.user ? item.user.full_name : item.full_name }}
                </td>
                <td>
                  <app-button
                    v-if="formType === 'update'"
                    icon
                    color="error"
                    min-width="40"
                    height="40"
                    width="40"
                    @click="leadershipRequestModel.__signersList.splice(index, 1)"
                  >
                    <trash2-icon size="18" />
                  </app-button>
                </td>
              </tr>
            </template>
          </app-table>
        </template>
      </v-col>
    </v-row>

    <template v-if="isScoreSheetCreated">
      <v-row>
        <v-col md="12">
          <app-button color="error" @click="$router.go(-1)">
            <template #prepend>
              <arrow-left-icon size="20" />
            </template>
            {{$t('document-flow.views.send-document.back')}}
          </app-button>

          <app-button class="mx-3" @click="preview">
            <template #prepend>
              <eye-icon size="20" />
            </template>
            {{$t('document-flow.views.send-document.view-document')}}
          </app-button>

          <template v-if="!Boolean($route.query.readonly)">
            <app-button outlined @click="resetForm">
              {{$t('document-flow.views.send-document.clear-form')}}
            </app-button>
          </template>
        </v-col>
      </v-row>
    </template>


    <!-- Score sheet dialog -->
    <v-dialog
      v-model="scoreSheetDialog"
      width="595"
      content-class="generate-wrap reset-dialog-style"
    >
      <div class="d-flex flex-column bg-white pa-5 p-relative overflow-y-auto">
        <div class="bg-white d-flex w-100 justify-end">
          <app-button
            icon
            color="error"
            min-width="40"
            width="40"
            height="40"
            tile
            class="p-absolute z-index"
            @click="scoreSheetDialog = false"
          >
            <x-icon/>
          </app-button>
        </div>

        <score-sheet-letter-template
          :letter-props="{
            text: scoreSheetModel.text,
            recruiter: scoreSheetSigners.recruiter,
            // recruiterSigned: model.compose.evaluation.recruiter_is_signed,
            director: scoreSheetSigners.director,
            // directorSigned: model.compose.evaluation.director_is_signed,
            // checkId: model.compose.check_id,
          }"
        />
      </div>

      <div v-if="formType === 'create' || formType === 'update'" class="text-center mt-5">
        <template v-if="$route.query.scoreId">
          <app-button
            :loading="scoreSheetLoading"
            @click="updateScoreSheet"
          >
            {{$t('document-flow.views.send-document.edit-template')}}
          </app-button>
        </template>

        <template v-else>
          <app-button
            :loading="scoreSheetLoading"
            @click="createScoreSheet"
          >
            {{$t('document-flow.views.send-document.create-template')}}
          </app-button>
        </template>
      </div>
    </v-dialog>
    <!-- /Score sheet dialog -->

    <!-- Preview dialog -->
    <v-dialog
      v-model="dialog"
      width="595"
      content-class="generate-wrap reset-dialog-style"
    >
      <div class="d-flex flex-column bg-white pa-5 p-relative overflow-y-auto">
        <div class="bg-white d-flex w-100 justify-end">
          <app-button
            icon
            color="error"
            min-width="40"
            width="40"
            height="40"
            tile
            class="p-absolute z-index"
            @click="dialog = false"
          >
            <x-icon/>
          </app-button>
        </div>

        <pdf-letter-template
          letter-type="notice"
          :letter-props="{
            sender: sender,
            registerNumber: leadershipRequestModel.register_number,
            letterType: leadershipRequestModel.type === 'notice' || leadershipRequestModel.type === 'hr_notice' || leadershipRequestModel.type === 'position_rotation' ? 'BILDIRISHNOMA' : leadershipRequestModel === 'decree' ? 'FARMOYISH' : 'XIZMAT XATI',
            departments: [],
            letterShortDescription: leadershipRequestModel.short_description,
            text: leadershipRequestModel.text,
            signedByList: leadershipRequestModel.__signersList,
            executor: currentUser,
            signerObject: leadershipRequestModel.__leadership,
            recruiter: [],
            priority: leadershipRequestModel.priority,
            type: leadershipRequestModel.type
          }"
        ></pdf-letter-template>
      </div>

      <div class="d-flex grid-gap-md justify-center mt-5">
        <template v-if="leadershipRequestModel.__status === 'draft'">
          <template v-if="!leadershipRequestModel.__isDraftCreated">
            <app-button
              depressed
              color="success"
              @click="saveAsDraft"
            >
              <template #prepend>
                <file-text-icon size="18" />
              </template>
              {{$t('document-flow.views.send-document.save-draft')}}
            </app-button>
          </template>

          <template v-else>
            <app-button
              depressed
              color="success"
              @click="updateDraft"
            >
              <template #prepend>
                <file-text-icon size="18" />
              </template>
              {{$t('document-flow.views.send-document.edit-draft')}}
            </app-button>
          </template>
        </template>

        <template v-if="formType === 'create' || formType === 'update'">
          <app-button
            outlined
            color="#fff"
            @click="dialog = false"
          >
            <template #prepend>
              <edit2-icon size="18" />
            </template>
            {{$t('document-flow.views.send-document.edit')}}
          </app-button>
        </template>

        <template v-if="formType === 'create'">
          <app-button @click="send" :loading="loading">
            <template #prepend>
              <v-icon size="18">{{ "$vuetify.icons.SendIcon" }}</v-icon>
            </template>
            {{$t('document-flow.views.send-document.send')}}
          </app-button>
        </template>

        <template v-else-if="formType === 'update'">
          <app-button @click="update" :loading="loading">
            <template #prepend>
              <v-icon size="18">{{ "$vuetify.icons.SendIcon" }}</v-icon>
            </template>
            {{$t('document-flow.views.send-document.edit')}}
          </app-button>
        </template>
      </div>
    </v-dialog>
    <!-- /Preview dialog -->
  </div>
</template>

<script>
import PdfLetterTemplate from "@/common/components/PdfLetterTemplate"
import ScoreSheetLetterTemplate from "@/common/components/ScoreSheetLetterTemplate"
import FileUploadForSendingDocument from "@/modules/DocumentFlow/views/SendDocument/components/FileUploadForSendingDocument"

import {
ArrowLeftIcon,
Edit2Icon, EyeIcon, FileTextIcon, InfoIcon, PaperclipIcon, Trash2Icon, TypeIcon, XIcon
} from "vue-feather-icons"
import { required } from "vuelidate/lib/validators"
import { mapGetters, mapMutations, mapState } from "vuex"
import ResolutionContentModal from "@/common/components/ResolutionContentModal.vue";

export default {
  name: "LeadershipJobApplicationReport",
  props: {
    formType: {
      type: String,
      default: "create"
    }
  },
  components: {
	  ResolutionContentModal,
    ScoreSheetLetterTemplate,
    FileUploadForSendingDocument,
    PdfLetterTemplate,
    InfoIcon,
    EyeIcon,
    Trash2Icon,
    XIcon,
    TypeIcon,
    PaperclipIcon,
    ArrowLeftIcon,
    Edit2Icon,
	  FileTextIcon
  },
  data() {
    return {
      panel: 0,
      tab: null,
      files: [],
      scoreSheetModel: {
        text: "",
        recruiter: null,
        director: null
      },
      isScoreSheetCreated: false,
      scoreSheetSigners: {
        recruiter: {},
        director: {}
      },
      scoreSheetDialog: false,
      scoreSheetLoading: false,
      dialog: false,
      loading: false
    }
  },
  validations: {
    // leadershipRequestModel: {
    //   text: { required },
    //   __signersList: { required }
    // },
    /*
    *
    * */
    scoreSheetModel: {
      text: { required }
    },
    /*
    *
    * */
    scoreSheetSigners: {
      recruiter: { required },
      director: { required }
    },
  },
  computed: {
    ...mapState({
      leadershipRequestModel: state => state.documentFlowModule.leadershipRequestModel
    }),
    /*
    *
    * */
    ...mapGetters({
      getDisableItems: "getDisableItems",
      currentUser: "auth/getCurrentUser"
    }),
    /*
    *
    * */
    sender() {
      return this.currentUser.filial === "09013"
        ? (this.leadershipRequestModel.__forwardDocumentSelect === "head_office" ? this.currentUser.top_level_dept_name : this.currentUser.filial_name)
        : (this.leadershipRequestModel.__forwardDocumentSelect === "head_office" ? this.currentUser.filial_name : this.currentUser.top_level_dept_name)
    }
  },
  mounted() {
    if(this.$route.query.hasOwnProperty("scoreId")) {
      this.scoreSheetGetOne()
    }
  },
  methods: {
    ...mapMutations({
      SET_ENTITIES: "documentFlowModule/SET_ENTITIES"
    }),
	  /*
    *
    * */
	  saveAsDraft() {
		  this.$emit("emit:save:draft")
	  },
	  /*
    *
    * */
	  updateDraft() {
		  this.$emit("emit:update:draft")
	  },
    /*
    *
    * */
    previewScoreSheet() {
      this.scoreSheetDialog = !this.scoreSheetDialog

      if(this.formType === 'create') {
        this.scoreSheetModel.recruiter = this.scoreSheetSigners.recruiter?.id
        this.scoreSheetModel.director = this.scoreSheetSigners.director?.id
      }
      else {
        this.scoreSheetModel.recruiter = this.scoreSheetSigners.recruiter?.id
        this.scoreSheetModel.director = this.scoreSheetSigners.director?.id
      }
    },
    /*
    *
    * */
    createScoreSheet() {
      this.$v.scoreSheetSigners.$touch();

      if (this.$v.scoreSheetSigners.$invalid) {
        this.$toast.error(this.$t('document-flow.views.send-document.add-signatory-and-directory'))
        return;
      }

      this.scoreSheetLoading = true

      this.$http.post(`/docflow/${this.currentUser.filial}/hr_candidate_evaluation/`, this.scoreSheetModel)
      .then(({ data }) => {
        this.$toast.success(this.$t('document-flow.views.send-document.score-sheet-created'))

        this.$router.push({
          query: {
            ...this.$route.query,
            scoreId: data.id
          }
        })

        this.scoreSheetDialog = !this.scoreSheetDialog
        this.isScoreSheetCreated = true
      })
      .finally(() => {
        this.scoreSheetLoading = false
      })
    },
    /*
    *
    * */
    updateScoreSheet() {
      this.$v.scoreSheetSigners.$touch();

      if (this.$v.scoreSheetSigners.$invalid) {
        this.$toast.error(this.$t('document-flow.views.send-document.add-signatory-and-directory'))
        return;
      }

      this.scoreSheetLoading = true

      this.$http.put(`/docflow/${this.currentUser.filial}/hr_candidate_evaluation/${this.$route.query.scoreId}/`, this.scoreSheetModel)
      .then(({ data }) => {
        this.$toast.success(this.$t('document-flow.views.send-document.score-sheet-edited'))

        this.scoreSheetDialog = !this.scoreSheetDialog
        this.isScoreSheetCreated = true
      })
      .finally(() => {
        this.scoreSheetLoading = false
      })
    },
    /*
    *
    * */
    scoreSheetGetOne() {
      this.$http.get(`/docflow/${this.currentUser.filial}/hr_candidate_evaluation/${this.$route.query.scoreId}/`)
      .then(({ data }) => {
        this.scoreSheetModel.text = data.text
        this.scoreSheetSigners.recruiter = data.recruiter
        this.scoreSheetSigners.director = data.director
        this.isScoreSheetCreated = true
      })
    },
    /*
    *
    * */
    preview() {
      this.dialog = !this.dialog

      if(this.leadershipRequestModel.__signersList) {
        if(this.formType === 'create') {
          let agreed = this.leadershipRequestModel.__agreedList.map(item => {
            return {
              user: item.id,
              is_invited: false
            }
          })
	        // delete this.leadershipRequestModel.agreed_by

          let signers = this.leadershipRequestModel.__signersList.map(item => {
            return {
              user: item.id,
              is_invited: false
            }
          })

          this.SET_ENTITIES([{ agreed_by: agreed }])
          this.SET_ENTITIES([{ signed_by: signers }])
        }

        if(this.formType === 'update') {
          this.SET_ENTITIES([{ signed_by: [] }])
          this.SET_ENTITIES([{ agreed_by: [] }])

          this.leadershipRequestModel.__agreedList.forEach(item => {
            if(item.hasOwnProperty("user")) {
              this.leadershipRequestModel.agreed_by.push({
                id: item.id,
                user: item.user.id,
                is_invited: false
              })
            }
            else {
              this.leadershipRequestModel.agreed_by.push({
                user: item.id,
                is_invited: false
              })
            }
          })

          this.leadershipRequestModel.__signersList.forEach(item => {
            if(item.hasOwnProperty("user")) {
              this.leadershipRequestModel.signed_by.push({
                id: item.id,
                user: item.user.id,
                is_invited: false
              })
            }
            else {
              this.leadershipRequestModel.signed_by.push({
                user: item.id,
                is_invited: false
              })
            }
          })
        }

        this.SET_ENTITIES([{ sender: this.sender }])
      }

      if(this.leadershipRequestModel.__leadership) {
        this.SET_ENTITIES([{
          signer_obj: [{
            id: this.leadershipRequestModel.__leadership.id,
            first_name: this.leadershipRequestModel.__leadership.first_name,
            last_name: this.leadershipRequestModel.__leadership.last_name,
            father_name: this.leadershipRequestModel.__leadership.father_name,
            full_name: this.leadershipRequestModel.__leadership.full_name,
            assistants: Array.isArray(this.leadershipRequestModel.__leadership.assistants) ? this.leadershipRequestModel.__leadership.assistants[0] : this.leadershipRequestModel.__leadership.assistants,
            position: this.leadershipRequestModel.__leadership.position,
            color: this.leadershipRequestModel.__leadership.color
          }]
        }])
      }

      if(this.leadershipRequestModel.__files) {
        this.leadershipRequestModel.files = this.leadershipRequestModel.__files.map(item => {
          return {
            id: item.id
          }
        })
      }

      this.SET_ENTITIES([
        { evaluation: +this.$route.query.scoreId }
      ])
    },
    /*
    *
    * */
    send() {
      // this.$v.$touch();
      //
      // if (this.$v.$invalid) {
      //   return;
      // }

      this.$emit("emit:send")
    },
    /*
    *
    * */
    update() {
      // this.$v.$touch();
      //
      // if (this.$v.$invalid) {
      //   return;
      // }

      this.$emit("emit:update")
    },
    /*
    *
    * */
    uploadFiles(data) {
      this.leadershipRequestModel.__files.push(data)
    },
    /*
    *
    * */
    deleteFile({ item, index}) {
      this.leadershipRequestModel.files.splice(index, 1)
      this.leadershipRequestModel.__files.splice(index, 1)
    },
    /*
    *
    * */
    resetForm() {
      if (!confirm(this.$t('document-flow.views.send-document.do-you-want-clear-form'))) {
        return false
      }
    },
  }
}
</script>
