<template>
	<div class="protocol-signers-list">
		<app-table
			bordered
		>
			<template #tableHeader>
				<th width="30">№</th>
				<th>{{$t('document-flow.views.send-document.signatory')}}</th>
				<th>{{$t('document-flow.views.send-document.status')}}</th>
				<th>{{$t('document-flow.views.send-document.action')}}</th>
			</template>

			<template #tableBody>
				<tr
					v-for="(item, index) in list"
					class="text-dark font-500"
				>
					<td>{{ index + 1 }}</td>
					<td>
						{{ item.user ? item.user.full_name : item.full_name }}
					</td>
					<td>{{ item.condition ?  returnCondition(item.condition) : item.condition_name }}</td>
					<td class="d-flex justify-center align-center">
						<trash2-icon
							size="18"
							color="red"
							right
							@click.prevent="deleteItem(item)"
							class="mt-2"
						>
							mdi-trash-can-outline
						</trash2-icon>
					</td>
				</tr>
			</template>
		</app-table>
	</div>
</template>

<script>
import { Trash2Icon } from "vue-feather-icons";
import {returnCondition} from "../../../../../common/helpers";

export default {
	name: "ProtocolSignersList",
	components: {
		Trash2Icon
	},
	props: {
		list: {
			type: Array,
			required: true,
			default: () => []
		}
	},
	methods: {
		returnCondition,
		deleteItem(item){
			this.$emit('deleteItem', item)
		}
	}
}
</script>

<style scoped>

</style>
