<template>
	<div class="registration-modal-view">
		<v-dialog
			v-model="dialog"
			max-width="500"
			content-class="reset-dialog-style"
			persistent
		>
			<div class="bg-white rounded">
				<div class="d-flex align-center justify-space-between pa-4">
					<h4 class="font-600 mr-4">{{$t('document-flow.views.send-document.registration')}}</h4>

					<app-button
						color="error"
						icon
						min-width="30"
						width="30"
						height="30"
						@click="dialog = false"
					>
						<x-icon size="16" class="d-block" />
					</app-button>
				</div>

				<div class="border-top border-bottom d-flex flex-column px-4">
					<v-text-field
						v-model="$v.model.register_number.$model"
						:error="$v.model.register_number.$error"
						:placeholder="$t('document-flow.views.send-document.number-document')"
						hide-details
						outlined
						background-color="var(--input-bg)"
						class="mb-2"
					></v-text-field>

					<app-date-picker
						v-model="$v.model.register_date.$model"
						:error="$v.model.register_date.$error"
						with-input
						background-color="var(--input-bg)"
						:placeholder="$t('document-flow.views.send-document.registration-date')"
					/>

					<div class="d-flex justify-end">
						<app-button
							@click="save"
							depressed
							class="my-4"
						>
							<template #default>
								{{$t('document-flow.views.send-document.save')}}
							</template>
							<template #append>
								<v-icon size="17">mdi-content-save</v-icon>
							</template>
						</app-button>
					</div>
				</div>
			</div>
		</v-dialog>
	</div>
</template>

<script>
import { XIcon } from "vue-feather-icons";
import { required } from "vuelidate/lib/validators";
import { mapGetters } from "vuex";

export default {
	name: "RegistrationModal",
	components: {
		XIcon
	},
	data() {
		return {
			dialog: false,
			model: {
				register_number: null,
				register_date: null
			}
		}
	},
	validations: {
		model: {
			register_number: { required },
			register_date: { required }
		}
	},
	computed: {
		...mapGetters({
			currentUser: "auth/getCurrentUser"
		})
	},
	methods: {
		save() {
			if (this.currentUser.id !== 6081 || ['trip_manager']) {
				this.$v.$touch();
				if (this.$v.$invalid){
					return
				}
			}
			this.$axios.put(`/docflow/${this.currentUser.filial}/compose/${this.$route.params.id}/custom_update/`, {
				dept_code: this.currentUser.top_level_dept,
				register_number: this.model.register_number,
				register_date: this.model.register_date
			}).then(({data}) => {
				this.dialog = false;
				this.$toast.success(this.$t('document-flow.views.send-document.registered'))
				this.$emit("onRegister");
			}).catch(err => {
				this.$toast.error(err)
			})
		}
	}
}
</script>

<style scoped>

</style>
