<template>
	<v-text-field
		v-if="readonly"
		v-model="register_number"
		:placeholder="$t('document-flow.views.send-document.number-document')"
		hide-details
		v-bind="$attrs"
		v-on="$listeners"
		outlined
		:disabled="Boolean($route.query.readonly)"
		background-color="var(--input-bg)"
		:readonly="readonly"
		class="register-number"
	>
		<template v-if="isLeadershipSelected" #append>
			<app-tooltip
				top
			>
				<template #content>
					<app-button
						@click="getRegisterNumber"
						class="h-100"
						:loading="loading"
						:disabled="true"
					>
						Получите номер
					</app-button>
				</template>
<!--				:disabled="!['DocumentFlowIncomingRegistrationFormCreate', 'FilialDocumentsShowView'].includes($route.name)"-->
				<template #text>
					<span v-if="!buttonDisabled">{{ $t('register-warning') }}</span>
				</template>
			</app-tooltip>
		</template>
	</v-text-field>

	<v-text-field
		v-else
		v-model="content"
		:placeholder="$t('document-flow.views.send-document.number-document')"
		hide-details
		v-bind="$attrs"
		v-on="$listeners"
		outlined
		:disabled="Boolean($route.query.readonly)"
		background-color="var(--input-bg)"
		class="register-number"
	/>
</template>

<script>
import {mapGetters} from "vuex";

export default {
	name: "RegisterNumber",
	props: {
		apiUrl: {
			type: String,
			default: "",
			required: true
		},
		buttonDisabled: {
			type: Boolean,
			default: false
		}
	},
	data() {
		return {
			hasRegisterNumber: false,
			loading: false,
			register_number: null,
			compose_type: "service_letter",
			journal_id: 3,
			emp_index: null,
			readonly: true,
			isLeadershipSelected: true
		}
	},
	computed: {
		...mapGetters({
			currentUser: "auth/getCurrentUser"
		}),
		/**/
		content: {
			get() {
				return this.value;
			},
			set(value) {
				this.$emit("input", value);
			}
		}
	},
	mounted() {
		if (this.$route.query.type === 'outgoing'){
			this.journal_id = 4
		}
	},
	methods: {
		getRegisterNumber(){
			this.loading = true;
			this.$axios.get(this.apiUrl, {
				params: {
					dept_code: this.currentUser.top_level_dept,
					type: this.compose_type,
					curator_index: this.emp_index,
					journal_id: this.journal_id,
					filial_mfo: this.currentUser.filial
				}
			})
			.then(({ data }) => {
				this.loading = false;
				this.hasRegisterNumber = true
				this.$emit('getRegisterNumber', data.register_number)
				this.register_number = data.register_number
			})
			.catch(err => {
				this.loading = false
				this.readonly = false
				confirm("Registratsiya raqamini qo'lda kiriting!")
			})
		}
	}
}
</script>

<style scoped>

</style>
