<script>
import { ChevronDownIcon } from "vue-feather-icons"
import { mapGetters } from "vuex"
import { required } from "vuelidate/lib/validators"

export default {
	name: "SendCorrespondent",
	components: {
		ChevronDownIcon
	},
	props: {
		compose: {
			type: Object,
			default: () => {}
		}
	},
	data:() => ({
		loading: false,
		dialog: false,
		model: {
			comment: null,
			is_sent: false
		}
	}),
	validations: {
		model: {
			comment: { required }
		}
	},
	computed: {
		...mapGetters({
			currentUser: "auth/getCurrentUser"
		})
	},
	methods: {
		sendToCorrespondent() {
			if(!confirm('Отправить?')) {
				return
			}
			this.loading = true
			this.$axios.put(`/docflow/${this.currentUser.filial}/compose/${this.$route.params.id}/custom_update/`, {
				is_sent: true
			}).then(({data}) => {
				this.loading = false
				this.$emit('emit:onSuccess')
			}).catch(err => {
				this.loading = false
				this.$toast.error(err)
			})
		},
		/** **/
		reject() {
			this.dialog = true
		},
		/** **/
		onSend() {
			this.$v.$touch()
			if (this.$v.$invalid) return

			this.$axios.put(`/docflow/${this.currentUser.filial}/compose/${this.$route.params.id}/custom_update/`, this.model)
				.then(({data}) => {
					this.dialog = false
					this.loading = false
					window.location.reload()
				}).catch(err => {
				this.loading = false
				this.$toast.error(err)
			})
		},
		/** **/
		onCancel() {
			this.$v.$reset()
			this.model.comment = null
		}
	}
}
</script>

<template>
	<div class="send-correspondent-component ml-2">
		<v-menu offset-y min-width="140">
			<template v-slot:activator="{ on, attrs }">
				<v-btn
					v-bind="attrs"
					v-on="on"
					depressed
					:color="compose.is_sent === false ? 'danger' : 'primary'"
					:ripple="false"
					height="44"
					:loading="loading"
					:disabled="compose.is_sent || ['hybrid_mail', 'email'].includes(compose.send_by)"
				>
					<span :class="compose.is_sent === false ? 'text-white' : ''">
						{{ compose.is_sent ? $t('sent') : ['hybrid_mail', 'email'].includes(compose.send_by) ? $t('viaHybridPost') : compose.is_sent === false ? $t('sending-rejected') : $t('manage-sending')}}
					</span>
					<chevron-down-icon size="20" class="ml-1" :class="compose.is_sent === false ? 'text-white' : ''"/>
				</v-btn>
			</template>

			<v-list>
				<v-list-item class="user-dropdown-item">
					<v-list-item-title>
						<button type="button" @click="sendToCorrespondent" class="py-3 w-100 font-500 text-left">
							{{ $t('sent_to_correspondent') }}
						</button>
					</v-list-item-title>
				</v-list-item>

				<v-list-item
					v-if="compose.is_sent !== false"
					class="user-dropdown-item">
					<v-list-item-title>
						<button type="button" @click="reject" class="py-3 w-100 font-500 text-left">
							{{ $t('reject') }}
						</button>
					</v-list-item-title>
				</v-list-item>
			</v-list>
		</v-menu>

		<!-- Reject dialog -->
		<base-modal
			v-model="dialog"
			persistent
			width="555"
			label="reject"
			success-button-label="reject"
			:button-loading="loading"
			@emit:onSend="onSend"
			@emit:onCancel="onCancel"
		>
			<div class="d-flex flex-column w-100 gap-y-6">
				<base-text-area
					v-model="$v.model.comment.$model"
					:error="$v.model.comment.$error"
					label="reason"
				/>
			</div>
		</base-modal>
		<!-- /Reject dialog -->
	</div>
</template>

<style scoped>

</style>