<template>
	<div>
		<v-row>
			<v-col md="3" v-if="['admin', 'compliance'].includes(currentUser.role) && formType === 'update'">
				<v-text-field
					v-model="$v.temp.__protocol_register_number.$model"
					:error="$v.temp.__protocol_register_number.$error"
					placeholder="Bayonnoma raqami"
					hide-details
					outlined
					:disabled="Boolean($route.query.readonly)"
					background-color="var(--input-bg)"
				></v-text-field>
			</v-col>

			<v-col md="3" v-if="['admin', 'compliance'].includes(currentUser.role) && formType === 'update'">
				<app-date-picker
					v-model="$v.temp.__protocol_register_date.$model"
					:error="$v.temp.__protocol_register_date.$error"
					background-color="var(--input-bg)"
					placeholder="Bayonnoma sanasi"
					with-input
				/>
			</v-col>

			<v-col md="3">
				<v-text-field
					v-model="$v.model.short_description.$model"
					:error="$v.model.short_description.$error"
					placeholder="IMH nomi"
					hide-details
					outlined
					:disabled="Boolean($route.query.readonly)"
					background-color="var(--input-bg)"
				></v-text-field>
			</v-col>

			<v-col md="3">
				<v-select
					v-model="$v.model.sub_type.$model"
					:error="$v.model.sub_type.$error"
					:items="subTypeList"
					item-text="title"
					item-value="value"
					outlined
					background-color="var(--input-bg)"
					:placeholder="$t('document-flow.views.send-document.type-letter')"
					hide-details
				>
					<template #append>
						<chevron-down-icon size="20" color="#B0BDC2" />
					</template>
				</v-select>
			</v-col>

			<v-col md="3">
				<v-text-field
					:value="currentUser.top_level_dept_name"
					:placeholder="$t('document-flow.views.send-document.number-document')"
					hide-details
					outlined
					readonly
					background-color="var(--input-bg)"
				></v-text-field>
			</v-col>
		</v-row>

		<div class="input-bg mt-5 rounded-20">
			<div class="pa-4 pb-1">
				<div class="app-tab">
					<v-tabs
						v-model="tab"
						hide-slider
						height="36"
						color="#fff"
					>
						<v-tab>
							<div class="d-flex align-center px-3">
								<type-icon size="16" class="mr-2"/>
								<span
									class="text-transform-none small-2 line-base font-400">IMH matni</span>
							</div>
						</v-tab>

						<v-tab>
							<div class="d-flex align-center px-3">
								<paperclip-icon size="16" class="mr-2"/>
								<span
									class="text-transform-none small-2 line-base font-400">{{ $t('document-flow.views.send-document.file') }}</span>
							</div>
						</v-tab>
					</v-tabs>
				</div>
			</div>

			<v-tabs-items class="app-tab-items" v-model="tab">
				<v-tab-item>
					<!--          <quill-editor-->
					<!--            v-model="$v.model.text.$model"-->
					<!--            :error="$v.model.text.$error"-->
					<!--            :disabled="Boolean($route.query.readonly)"-->
					<!--          />-->
					<app-editor
						v-model="$v.model.text.$model"
						:error="$v.model.text.$error"
						:disabled="Boolean($route.query.readonly)"
					/>

					<div class="bg-white pt-5">
						<resolution-content-modal
							:has-filial="false"
							api-url="action/short-descriptions/"
							:api-params="{ type: 'template' }"
							title="imh_example"
							title-dialog="imh_example"
							@emit:up="(text) => model.text = text.description"
						/>
					</div>
				</v-tab-item>

				<v-tab-item>
					<file-upload-for-sending-document :files="files" @uploadFiles="uploadFiles" @deleteFile="deleteFile"/>
				</v-tab-item>
			</v-tabs-items>
		</div>

		<div>
			<v-row>
				<v-col md="6">
					<app-autocomplete
						v-model="$v.agreedList.$model"
						:error="$v.agreedList.$error"
						api-list-url="/user/search/"
						:api-params="{
              role: true
            }"
						item-text="full_name"
						return-object
						cache-items
						clearable
						:placeholder="$t('document-flow.views.send-document.agreement')"
						:item-disabled="getDisableItems"
						multiple
						:disabled="Boolean($route.query.readonly)"
						class="my-5"
					/>

					<app-table
						v-if="Boolean($route.query.readonly) || formType === 'update'"
						bordered
					>
						<template #tableHeader>
							<th width="75">№</th>
							<th>Согласованный</th>
							<th width="75">События</th>
						</template>

						<template #tableBody>
							<tr
								v-for="(item, index) in agreedList"
								class="text-dark font-500"
							>
								<td>{{ index + 1 }}</td>
								<td>
									<span v-if="item.hasOwnProperty('user')">{{ item.user.full_name }}</span>
									<span v-else>{{ item.last_name }} {{ item.first_name }} {{ item && item.father_name && item.father_name }}</span>
								</td>
								<td>
									<app-button
										v-if="!Boolean($route.query.readonly)"
										icon
										color="error"
										min-width="40"
										height="40"
										width="40"
										@click="deleteAgreed(index)"
									>
										<trash2-icon size="18"/>
									</app-button>
								</td>
							</tr>
						</template>
					</app-table>
				</v-col>

				<v-col md="6">
					<app-autocomplete
						v-model="$v.signersList.$model"
						:error="$v.signersList.$error"
						api-list-url="/user/search/"
						:api-params="{
              role: true
            }"
						item-text="full_name"
						return-object
						cache-items
						clearable
						:placeholder="$t('document-flow.views.send-document.select-signatory')"
						:item-disabled="getDisableItems"
						multiple
						:disabled="Boolean($route.query.readonly)"
						class="my-5"
					/>

					<app-table
						v-if="Boolean($route.query.readonly) || formType === 'update'"
						bordered
					>
						<template #tableHeader>
							<th width="75">№</th>
							<th>Подписант</th>
							<th width="75">События</th>
						</template>

						<template #tableBody>
							<tr
								v-for="(item, index) in signersList"
								class="text-dark font-500"
							>
								<td>{{ index + 1 }}</td>
								<td>
									<span v-if="item.hasOwnProperty('user')">{{ item.user.full_name }}</span>
									<span v-else>{{ item.last_name }} {{ item.first_name }} {{ item && item.father_name && item.father_name }}</span>
								</td>
								<td>
									<app-button
										v-if="!Boolean($route.query.readonly)"
										icon
										color="error"
										min-width="40"
										height="40"
										width="40"
										@click="deleteSigner(index)"
									>
										<trash2-icon size="18"/>
									</app-button>
								</td>
							</tr>
						</template>
					</app-table>
				</v-col>
			</v-row>
		</div>

		<div class="mt-10">
			<app-button color="error" @click="$router.go(-1)">
				<template #prepend>
					<arrow-left-icon size="20"/>
				</template>
				{{ $t('document-flow.views.send-document.back') }}
			</app-button>

			<app-button class="mx-3" @click="preview">
				<template #prepend>
					<eye-icon size="20"/>
				</template>
				{{ $t('document-flow.views.send-document.view-document') }}
			</app-button>

			<template v-if="!Boolean($route.query.readonly)">
				<app-button outlined @click="resetForm">
					{{ $t('document-flow.views.send-document.clear-form') }}
				</app-button>
			</template>

			<v-dialog
				v-model="dialog"
				width="595"
				content-class="generate-wrap reset-dialog-style"
			>
				<div>
					<div class="bg-white d-flex w-100 justify-end">
						<app-button
							icon
							color="error"
							min-width="40"
							width="40"
							height="40"
							tile
							@click="dialog = false"
							class="p-absolute"
							style="top: 0; right: 0;"
						>
							<x-icon/>
						</app-button>
					</div>

					<div class="generate-pdf-area overflow-y-auto bg-4 mb-5 pa-10 p-relative d-flex flex-column">
						<div class="d-flex w-100 justify-space-between mb-8">
							<div class="d-flex flex-column">
								<template>
									<span class="small-3 text-dark font-600">____ - son bilan</span>
									<span class="small-3 text-dark font-600">ro'yxatga olingan</span>
								</template>
							</div>
							<div class="d-flex flex-column align-end">
								<template>
									<span class="small-3 text-dark font-600">"Asakabank" AJ {{ subTypeComputed }}ning</span>
									<span class="small-3 text-dark font-600">{{ computedProtocolRegisterDate }}</span>
									<span class="small-3 text-dark font-600">{{
											computedProtocolRegisterNumber
										}}-sonli bayonnomasi bilan</span>
									<span class="small-3 text-dark font-600">"TASDIQLANGAN"</span>
								</template>
							</div>
						</div>

						<span
							v-html="model.text"
							class="small-3 d-block text-dark font-500 text-justify"
							style="line-height: 20px; text-indent: 30px"
						></span>

						<div class="mt-10 pt-10">
							<span class="small-3 text-dark font-600 font-italic d-block mb-2">Kiritildi: </span>
							<template v-for="item in signersList">
								<div class="d-flex align-center justify-space-between text-dark small-3 mb-1 font-600">
									<template v-if="!item.hasOwnProperty('user')">
										<div class="w-half">
											<span>{{ item.dep_name }} - {{ item.position }}</span>
										</div>
										<span>{{ item.first_name && item.first_name | getFirstCharacter }} {{ item.last_name }}</span>
									</template>

									<template v-else>
										<div class="w-half">
											<span class="font-600">{{ item.user && item.user.dep_name }} - {{ item.user && item.user.position }}</span>
										</div>
										<span>
                      {{ item.user && item.user.first_name | getFirstCharacter }}
                      {{ item.user.last_name }}
                    </span>
									</template>
								</div>
							</template>
						</div>

						<div class="pt-5">
							<span class="small-3 text-dark font-600 font-italic d-block mb-2">Kelishildi: </span>
							<template v-for="item in agreedList">
								<div class="d-flex align-center justify-space-between text-dark small-3 mb-1 font-600">
									<template v-if="!item.hasOwnProperty('user')">
										<div class="w-half">
											<span>{{ item.dep_name }} - {{ item.position }}</span>
										</div>
										<span>{{ item.first_name && item.first_name | getFirstCharacter }} {{ item.last_name }}</span>
									</template>

									<template v-else>
										<div class="w-half">
											<span class="font-600">{{ item.user && item.user.dep_name }} - {{ item.user && item.user.position }}</span>
										</div>
										<span>
                      {{ item.user && item.user.first_name | getFirstCharacter }}
                      {{ item.user.last_name }}
                    </span>
									</template>
								</div>
							</template>
						</div>
					</div>


					<div class="d-flex grid-gap-md justify-center text-center">
						<template v-if="model.__status === 'draft'">
							<template v-if="!model.__isDraftCreated">
								<app-button
									depressed
									color="success"
									@click="saveAsDraft"
								>
									<template #prepend>
										<file-text-icon size="18" />
									</template>
									{{$t('document-flow.views.send-document.save-draft')}}
								</app-button>
							</template>

							<template v-else>
								<app-button
									depressed
									color="success"
									@click="updateDraft"
								>
									<template #prepend>
										<file-text-icon size="18" />
									</template>
									{{$t('document-flow.views.send-document.edit-draft')}}
								</app-button>
							</template>
						</template>

						<template v-if="formType === 'create'">
							<app-button
								outlined
								color="#fff"
								@click="dialog = false"
							>
								<template #prepend>
									<edit2-icon size="18" />
								</template>
								{{$t('document-flow.views.send-document.edit')}}
							</app-button>

							<app-button @click="send" :loading="loading">
								<template #prepend>
									<v-icon size="18">{{ "$vuetify.icons.SendIcon" }}</v-icon>
								</template>
								{{$t('document-flow.views.send-document.send')}}
							</app-button>
						</template>

						<template v-if="formType === 'update'">
							<app-button
								outlined
								color="#fff"
								@click="dialog = false"
							>
								<template #prepend>
									<edit2-icon size="18" />
								</template>
								{{$t('document-flow.views.send-document.edit')}}
							</app-button>

							<app-button @click="update" :loading="loading">
								<template #prepend>
									<v-icon size="18">{{ "$vuetify.icons.SendIcon" }}</v-icon>
								</template>
								{{$t('document-flow.views.send-document.send')}}
							</app-button>
						</template>
					</div>
				</div>
			</v-dialog>
		</div>
	</div>
</template>

<script>
import {
	ArrowLeftIcon, ChevronDownIcon, Edit2Icon, EyeIcon, FileIcon, FileTextIcon, GlobeIcon,
	MailIcon, PaperclipIcon, PhoneCallIcon, PlusIcon, Trash2Icon, TypeIcon, XIcon
} from "vue-feather-icons";
import {required} from "vuelidate/lib/validators";
import {mapGetters} from "vuex";
import FileUploadForSendingDocument from "./FileUploadForSendingDocument";
import {toMonthNameUzb} from "../../../../../common/helpers";
import ResolutionContentModal from "@/common/components/ResolutionContentModal.vue";

export default {
	name: "TrainingSpecialistsForm",
	components: {
		ResolutionContentModal,
		TypeIcon,
		PaperclipIcon,
		PlusIcon,
		FileIcon,
		XIcon,
		ArrowLeftIcon,
		PhoneCallIcon,
		GlobeIcon,
		MailIcon,
		Edit2Icon,
		ChevronDownIcon,
		EyeIcon,
		Trash2Icon,
		FileTextIcon,
		FileUploadForSendingDocument
	},
	props: {
		formType: {
			type: String,
			default: 'create'
		}
	},
	data() {
		return {
			loading: false,
			dialog: false,
			files: [],
			tab: null,
			model: {
				type: "compliance_regulation",
				signer_obj: [],
				text: null,
				short_description: "",
				files: [],
				signed_by: [],
				agreed_by: [],
				journal_id: 6,
				sub_type: "bank_management",
				__status: "draft",
				__isDraftCreated: false,
			},
			agreedList: null,
			signersList: null,
			agreed_by: [],
			signed_by: [],
			temp: {
				__protocol_register_number: null,
				__protocol_register_date: null
			},
			subTypeList: [
				{
					title: "Bank boshqaruvi",
					value: "bank_management"
				},
				{
					title: "Bank kengashi",
					value: "bank_board"
				},
				{
					title: "Aksiyadorlar umumiy yig'ilishi",
					value: "general_meeting"
				}
			]
		}
	},
	validations: {
		temp: {
			__protocol_register_number: {required},
			__protocol_register_date: {required}
		},
		model: {
			short_description: {required},
			text: {required},
			sub_type: {required},
		},
		agreedList: {required},
		signersList: {required},
	},
	computed: {
		...mapGetters({
			currentUser: "auth/getCurrentUser",
			getDisableItems: "getDisableItems",
		}),

		computedProtocolRegisterDate() {
			if (this.model?.signer_obj?.protocol_register_date) {
				return new Date(this.model.signer_obj.protocol_register_date).getFullYear() + "-yil " + new Date(this.model.signer_obj.protocol_register_date).getDate() + "-" + toMonthNameUzb(new Date(this.model.signer_obj.protocol_register_date).getMonth() + 1) + "dagi"
			} else {
				return '20__-yil "__" ___________dagi'
			}
		},

		computedProtocolRegisterNumber() {
			if (this.model?.signer_obj?.protocol_register_number) {
				return this.model.signer_obj.protocol_register_number
			} else {
				return '____'
			}
		},
		/** **/
		subTypeComputed() {
			if (this.model.sub_type === 'bank_board'){
				return "Kengashi"
			}else if (this.model.sub_type === 'general_meeting') {
				return "Aksiyadorlar umumiy yig'ilishi"
			}else {
				return "Boshqaruvi"
			}
		}
	},
	mounted() {
		if (this.$route.params.id){
			this.fetchGetOne(this.$route.params.id);
		}
	},
	methods: {
		preview() {
			this.dialog = !this.dialog;
			this.model.signed_by = [];

			if (this.model.hasOwnProperty('evaluation')){
				delete this.model['evaluation']
			}

			if (this.formType === 'create') {
				if (this.signersList) {
					this.signersList.forEach(item => this.model.signed_by.push({
						user: item.id,
						is_invited: false
					}))
				}
				if (this.agreedList) {
					this.agreedList.forEach(item => this.model.signed_by.push({
						user: item.id,
						is_invited: true
					}))
				}
			}

			if (this.formType === 'update') {
				if (this.model.agreed_by.length){
					let tempArr = [];
					this.model.agreed_by.forEach(item => {
						tempArr.push({
							id: item.id,
							user: item.user.id
						})
					})
					this.model.agreed_by = tempArr;
				}
				if (this.signersList) {
					this.signersList.forEach(item => {
						if (item.hasOwnProperty("user")) {
							this.model.signed_by.push({
								id: item.id,
								user: item.user.id,
								is_invited: false
							})
						} else {
							this.model.signed_by.push({
								user: item.id,
								is_invited: false
							})
						}
					});

					this.agreedList.forEach(item => {
						if (item.hasOwnProperty("user")) {
							this.model.signed_by.push({
								id: item.id,
								user: item.user.id,
								is_invited: true
							})
						} else {
							this.model.signed_by.push({
								user: item.id,
								is_invited: true
							})
						}
					})
				}
			}

			this.model.signer_obj = {
				protocol_register_number: this.temp.__protocol_register_number,
				protocol_register_date: this.temp.__protocol_register_date
			}
		},
		/**/
		send() {
			this.loading = !this.loading;

			let model = {
				...this.model,
				status: "pending",
				sender: this.currentUser.top_level_dept_name,
				text: this.model.text.replace(/<br\s*[\/]?>/gi, '<br/>'),
				dept_code: this.currentUser.top_level_dept
			}

			this.$http.post(`/docflow/${this.currentUser.filial}/compose/`, model)
				.then(({data}) => {
					this.$toast.success(this.$t('document-flow.views.send-document.document-sent'))

					this.dialog = false
					this.loading = false

					this.$router.push({
						name: "SendDocumentNew",
						query: {
							type: "compliance_regulation",
							journal_id: 6
						}
					})
				})
				.catch(() => {
					// this.$toast.error(this.$t('document-flow.views.send-document.error-sending-document'))
					this.loading = false
				})
		},
		/**/
		update(){
			this.loading = !this.loading;

			let model = {
				...this.model,
				status: "pending",
				sender: this.currentUser.top_level_dept_name,
				text: this.model.text.replace(/<br\s*[\/]?>/gi, '<br/>'),
				dept_code: this.currentUser.top_level_dept
			}

			this.$http.put(`/docflow/${this.currentUser.filial}/compose/${this.$route.params.id}/`, model)
				.then(({ data }) => {
					this.$toast.success(this.$t('document-flow.views.send-document.document-sent'))

					this.dialog = false;
					this.loading = false;

					this.$router.push({
						name: "SendDocumentNew",
						query: {
							type: "compliance_regulation",
							journal_id: 6
						}
					})
				})
				.catch(() => {
					// this.$toast.error(this.$t('document-flow.views.send-document.error-sending-document'))
				})
		},
		/**/
		saveAsDraft() {
			this.loading = !this.loading;

			let model = {
				...this.model,
				status: "draft",
				sender: this.currentUser.top_level_dept_name,
				text: this.model.text.replace(/<br\s*[\/]?>/gi, '<br/>'),
				dept_code: this.currentUser.top_level_dept
			}

			this.$http.post(`/docflow/${this.currentUser.filial}/compose/`, model)
				.then(({data}) => {
					this.$toast.success(this.$t('document-flow.views.send-document.document-sent'))

					this.dialog = false
					this.loading = false

					this.$router.push({
						name: "SendDocumentNew",
						query: {
							type: "compliance_regulation",
							journal_id: 6
						}
					})
				})
				.catch(() => {
					// this.$toast.error(this.$t('document-flow.views.send-document.error-sending-document'))
					this.loading = false
				})
		},
		/**/
		updateDraft(){
			this.loading = !this.loading;

			let model = {
				...this.model,
				status: "draft",
				sender: this.currentUser.top_level_dept_name,
				text: this.model.text.replace(/<br\s*[\/]?>/gi, '<br/>'),
				dept_code: this.currentUser.top_level_dept
			}

			this.$http.put(`/docflow/${this.currentUser.filial}/compose/${this.$route.params.id}/`, model)
				.then(({ data }) => {
					this.$toast.success(this.$t('document-flow.views.send-document.document-sent'))

					this.dialog = false;
					this.loading = false;

					this.$router.push({
						name: "SendDocumentNew",
						query: {
							type: "compliance_regulation",
							journal_id: 6
						}
					})
				})
				.catch(() => {
					// this.$toast.error(this.$t('document-flow.views.send-document.error-sending-document'))
				})
		},
		/**/
		fetchGetOne(id) {
			this.$http.get(`/docflow/${this.currentUser.filial}/compose/${id}/`)
				.then(({data}) => {
					console.log(data)
					this.signersList = [];
					this.agreedList = [];
					this.model = data;
					this.model.files = data.files
					this.temp.__protocol_register_number = data.signer_obj.protocol_register_number;
					this.temp.__protocol_register_date = data.signer_obj.protocol_register_date;
					this.signersList = data.signed_by.filter(item => item.is_invited === false);
					this.agreedList = data.signed_by.filter(item => item.is_invited === true);
					this.model.__status = data.status
					this.model.__isDraftCreated = data.status === "draft";
					this.files = [...data.files]
				})
		},
		/**/
		resetForm() {
			this.model.register_number = null
			this.model.short_description = ""
			this.model.text = ""
			this.model.files = []
			this.model.departments = []
			this.model.agreed_by = []
			this.model.signed_by = []
			this.agreedList = []
			this.signersList = []
			this.files = []
		},
		/**/
		uploadFiles(data) {
			this.files.push(data);
			this.model.files.push({
				id: data.id
			})
		},
		/**/
		deleteFile({ item, index}) {
			this.files.splice(index, 1)
			this.model.files.splice(index, 1)
		},
		/**/
		deleteSigner(index){
			this.signersList.splice(index, 1);
		},
		/**/
		deleteAgreed(index) {
			this.agreedList.splice(index, 1);
		}
	}
}
</script>

<style scoped>

</style>
