<template>
  <div class="corespondent-form-create h-100">
    <app-wrapper class="h-100">
      <template #body>
        <div class="d-flex flex-column flex-1 pa-3">
          <div>
            <div class="d-flex align-center w-100 mb-12">
              <span class="heading-9 font-600 text-dark mr-3 d-block">
                {{ formType === 'create' ? $t('equipments.views.add-news.add-news') : $t('equipments.views.add-news.edit-news') }}
              </span>
              <v-divider/>
            </div>

            <v-row>
              <v-col md="4">
                <div class="app-input">
                  <span class="d-block font-600 small-2 mb-2">{{$t('equipments.views.add-news.title')}}</span>

                  <v-text-field
                    v-model="$v.model.title.$model"
                    :error="$v.model.title.$error"
                    outlined
                    background-color="var(--input-bg)"
                  ></v-text-field>
                </div>
              </v-col>

              <v-col md="4">
                <div class="app-input">
                  <span class="d-block font-600 small-2 mb-2">{{$t('equipments.views.add-news.description')}}</span>

                  <v-text-field
                    v-model="$v.model.content.$model"
                    :error="$v.model.content.$error"
                    hide-details
                    outlined
                    background-color="var(--input-bg)"
                  ></v-text-field>
                </div>
              </v-col>

              <v-col md="4">
                <div class="app-input">
                  <span class="d-block font-600 small-2 mb-2">{{$t('equipments.views.add-news.upload-image')}}</span>

                  <v-file-input
                    @change="uploadImage"
                    prepend-inner-icon="mdi-paperclip"
                    prepend-icon=""
                    outlined
                    hide-details
                    background-color="var(--input-bg)"
                  ></v-file-input>
                </div>
              </v-col>

              <v-col md="4">
                <div class="app-input">
                  <span class="d-block font-600 small-2 mb-2">{{$t('equipments.views.add-news.upload-icon')}}</span>

                  <v-file-input
                    @change="uploadIcon"
                    prepend-inner-icon="mdi-paperclip"
                    prepend-icon=""
                    outlined
                    hide-details
                    background-color="var(--input-bg)"
                  ></v-file-input>
                </div>
              </v-col>

              <v-col md="4">
                <div class="app-input">
                  <span class="d-block font-600 small-2 mb-2">{{$t('equipments.views.add-news.position')}}</span>

                  <v-select
                    v-model="model.position"
                    :items="directions"
                    item-text="title"
                    item-value="value"
                    hide-details
                    outlined
                    background-color="var(--input-bg)"
                  ></v-select>
                </div>
              </v-col>

<!--              <v-col md="4">-->
<!--                <div class="app-input">-->
<!--                  <span class="d-block font-600 small-2 mb-2">{{$t('equipments.views.add-news.background-color')}}</span>-->

<!--                  <v-color-picker-->
<!--                    v-model="model.__color"-->
<!--                    :swatches="swatches"-->
<!--                    show-swatches-->
<!--                    hide-details-->
<!--                    outlined-->
<!--                    background-color="var(&#45;&#45;input-bg)"-->
<!--                  ></v-color-picker>-->
<!--                </div>-->
<!--              </v-col>-->
            </v-row>
          </div>

          <div class="mt-auto">
            <app-button
              color="error"
              @click="$router.push({ name: 'AddNews' })"
              class="mr-2"
            >
              <template #prepend>
                <arrow-left-icon size="20" />
              </template>
              {{$t('equipments.views.add-news.back')}}
            </app-button>

            <app-button v-if="formType === 'create'" @click="send">
              <template #prepend>
                <plus-circle-icon size="20" />
              </template>
              {{$t('equipments.views.add-news.create')}}
            </app-button>

            <app-button v-if="formType === 'update'" @click="update">
              <template #prepend>
                <edit3-icon size="20" />
              </template>
              {{$t('equipments.views.add-news.edit')}}
            </app-button>
          </div>
        </div>
      </template>
    </app-wrapper>
  </div>
</template>

<script>
import { ArrowLeftIcon, Edit3Icon, PlusCircleIcon } from "vue-feather-icons";
import { required } from "vuelidate/lib/validators";

export default {
  name: "createForm",
  props: {
    formType: {
      type: String,
      default: "create"
    }
  },
  components: {
    PlusCircleIcon,
    ArrowLeftIcon,
    Edit3Icon
  },
  data() {
    return {
      model: {
        title: null,
        content: null,
        image: null,
        icon: null,
        position: null,
        color: null,
        __image: null,
        __icon: null,
        __color: null
      },
      directions: [
        {
          title: this.$t('equipments.views.add-news.left'),
          value: "left"
        },
        {
          title: this.$t('equipments.views.add-news.right'),
          value: "right"
        },
      ],
      swatches: [
        ['#FF0000', '#AA0000', '#550000'],
        ['#FFFF00', '#AAAA00', '#555500'],
        ['#00FF00', '#00AA00', '#005500'],
        ['#00FFFF', '#00AAAA', '#005555'],
        ['#0000FF', '#0000AA', '#000055'],
      ]
    }
  },
  watch: {
    '$i18n.locale': {
      handler() {
        this.directions = [
          {
            title: this.$t('equipments.views.add-news.left'),
            value: "left"
          },
          {
            title: this.$t('equipments.views.add-news.right'),
            value: "right"
          },
        ]
      }
    }
  },
  validations: {
    model: {
      title: { required },
      content: { required },
    },
  },
  created() {
    if(Number(this.$route.params.id)) {
      this.getOne()
    }
  },
  methods: {
    send() {
      this.$v.$touch();

      if (this.$v.$invalid) {
        return;
      }

      this.model.image = this.model.__image
      this.model.icon = this.model.__icon
      // this.model.color = this.model.__color.hex

      this.$http.post(`/action/news/`, this.model)
      .then(({ data }) => {
        this.$toast.success(this.$t('equipments.views.add-news.added'))

        this.$router.push({
          name: "AddNews"
        })
      })
    },
    /*
    *
    * */
    update() {
      this.$v.$touch();

      if (this.$v.$invalid) {
        return;
      }

      this.model.image = this.model.__image
      this.model.icon = this.model.__icon
      // this.model.color = this.model.__color.hex

      this.$http.put(`/action/news/${this.$route.params.id}/`, this.model)
      .then(() => {
        this.$toast.success(this.$t('equipments.views.add-news.edited'))

        this.$router.push({
          name: "AddNews"
        })
      })
      .catch(() => {
        this.$toast.error(this.$t('equipments.views.add-news.edit-error'))
      })
    },
    /*
    *
    * */
    getOne() {
      this.$http.get(`/action/news/${this.$route.params.id}/`)
      .then(({ data }) => {
        this.model = data
        this.model.__color = this.model.color
      })
    },
    /*
    *
    * */
    uploadImage(file) {
      this.uploadFile(file, "__image")
    },
    /*
    *
    * */
    uploadIcon(file) {
      this.uploadFile(file, "__icon")
    },
    /*
    *
    * */
    uploadFile(file, modelKey) {
      let formData = new FormData()
      formData.append("file", file)

      this.$axios
        .post('/upload/', formData)
        .then(({ data }) => {
          this.$toast.success(this.$t('equipments.views.add-news.file-upload'))
          this.model[modelKey] = data.id
        })
    }
  }
}
</script>
