<template>
  <div
    class="add-corespondent-view d-flex flex-column h-100"
  >
    <app-wrapper class="mb-4">
      <template #body>
        <v-row align="center" class="pa-1">
          <v-col md="2" class="py-0 pl-0">
            <h3 class="line-base">{{$t('equipments.views.add-news.add-news')}}</h3>
          </v-col>

          <v-col md="3" class="py-0">
            <div class="app-input">
              <v-text-field
                v-model="filterSearch"
                hide-details
                outlined
                dense
                clearable
                :placeholder="$t('equipments.views.add-news.search')"
                background-color="var(--input-bg)"
                @input="search"
              >
                <template #prepend-inner>
                  <search-icon class="mr-1 d-block" size="20" color="var(--text-4)"/>
                </template>
              </v-text-field>
            </div>
          </v-col>

          <v-spacer />

          <app-button :to="{ name: 'AddNewsCreate' }">
            <template #prepend>
              <plus-circle-icon size="20" />
            </template>
            {{$t('equipments.views.add-news.add')}}
          </app-button>
        </v-row>
      </template>
    </app-wrapper>

    <template>
      <div class="d-flex flex-column h-100 bg-4 rounded-20 pa-1 overflow-hidden">
        <div class="d-flex flex-column flex-1 h-100 overflow-hidden">
          <perfect-scrollbar class="d-flex flex-column flex-1 h-100">
            <app-table>
              <template #tableHeader>
                <th width="150">
                  <span>{{$t('equipments.views.add-news.image')}}</span>
                </th>
                <th width="150">
                  <span>{{$t('equipments.views.add-news.icon')}}</span>
                </th>
                <th width="600">
                  <span>{{$t('equipments.views.add-news.title')}}</span>
                </th>
                <th width="150">
                  <span>{{$t('equipments.views.add-news.position')}}</span>
                </th>
                <th width="150">
                  <span>{{$t('equipments.views.add-news.created-date')}}</span>
                </th>
                <th class="text-center" width="150">
                  <span>{{$t('equipments.views.add-news.action')}}</span>
                </th>
              </template>

              <template #tableBody>
                <template v-if="getAddNewsList.length">
                  <template>
                    <tr v-for="(item, index) in getAddNewsList" :key="index">
                      <td>
                        <v-sheet width="55" height="55" color="transparent">
                          <img :src="item.image && item.image.url" alt="Image" class="object-contain">
                        </v-sheet>
                      </td>
                      <td>
                        <v-sheet width="55" height="55" color="transparent">
                          <img :src="item.icon && item.icon.url" alt="Image" class="object-contain">
                        </v-sheet>
                      </td>
                      <td>
                        <span class="font-600">{{ item.title }}</span>
                      </td>
                      <td>
                        <span class="font-600">{{ item.position.toUpperCase() }}</span>
                      </td>
                      <td>
                        <span class="font-600">{{ item.created_date | filterCalendarToTime }}</span>
                      </td>
                      <td
                        class="text-center"
                      >
                        <app-button
                          :to="{ name: 'AddNewsUpdate', params: { id: item.id } }"
                          icon
                          min-width="40"
                          width="40"
                          height="40"
                        >
                          <edit3-icon size="18"/>
                        </app-button>

<!--                        <app-button-->
<!--                          @click="deleteItem(item.id)"-->
<!--                          color="error"-->
<!--                          icon-->
<!--                          min-width="40"-->
<!--                          width="40"-->
<!--                          height="40"-->
<!--                          class="ml-2"-->
<!--                        >-->
<!--                          <trash2-icon size="18"/>-->
<!--                        </app-button>-->
                      </td>
                    </tr>
                  </template>
                </template>

                <template v-else>
                  <tr>
                    <td colspan="6">
                      <h2 class="font-600 text-center">{{$t('equipments.views.add-news.not-found')}}</h2>
                    </td>
                  </tr>
                </template>
              </template>
            </app-table>
          </perfect-scrollbar>
        </div>
      </div>
    </template>

    <app-pagination @emit:up="paginate" class="mt-3" />
  </div>
</template>

<script>
import { debounce } from "lodash/function";
import { Edit3Icon, PlusCircleIcon, SearchIcon, Trash2Icon, XIcon } from "vue-feather-icons";
import { mapActions, mapGetters } from "vuex";

export default {
  name: "Home",
  components: {
    SearchIcon,
    Edit3Icon,
    XIcon,
    PlusCircleIcon,
    Trash2Icon
  },
  data() {
    return {
      filterSearch: ""
    }
  },
  computed: {
    ...mapGetters({
      currentUser: "auth/getCurrentUser",
      getAddNewsList: "equipmentModule/getAddNewsList",
    })
  },
  watch: {

  },
  created() {
    this.fetchAddNewsList()
  },
  methods: {
    ...mapActions({
      fetchAddNewsList: "equipmentModule/fetchAddNewsList"
    }),
    /*
    *
    * */
    deleteItem(id) {
      if(!confirm(this.$t('equipments.views.add-news.delete-description'))) {
        return
      }

      this.$http.delete(`/action/correspondent/${id}/`)
      .then(() => {
        this.fetchAddNewsList()

        this.$toast.success($t('equipments.views.add-news.deleted'))
      })
    },
    /*
    *
    * */
    /*
    *
    * */
    search: debounce(function(api) {
      this.fetchAddNewsList({
        search: this.filterSearch
      })
    }, 500),
    /*
    *
    * */
    paginate(value) {
      this.fetchAddNewsList({
        page: value
      })
    }
  }
}
</script>
